[2016-06-05 13:30] taxpon commented on #3041
@wing328
One question.

Just after I run `mvn clean && bin/python-petstore.sh`, `samples/client/petstore/python/swagger_client/models/inline_response_200.py` seems not to be updated. Is that file generated by current swagger codegen? or past remaining (currently not used)? If it's a past remaining, can I delete it?

I do not understand codegen's core deeply, so your advice would be great help for

[2016-06-05 13:35] wing328 commented on #3041
We've removed some of the tests in the Pestore swagger spec. Please feel free to delete it.

[2016-06-05 14:34] wing328 opened #3051 "[Java] Update Java Feign API client's dependencies to the latest version"
Update the dependencies for Java Feign API clients to the latest versions (that work with both java1.7, 1.8) for maven, sbt and gradle.

Ref: http://mvnrepository.com/artifact/com.netflix.feign/feign-core

If anyone has cycle to contribute on this, please reply to let us know.

[2016-06-05 16:35] thebignet opened #3052 "[Java] Generate Lombok @Value instead of POJO"
##### Description

This enhancement would allow generation of models using [Lombok's @Value](https://projectlombok.org/features/Value.html) annotation instead of a POJO with getters and setters.

##### Swagger-codegen version
2.1.6

Please vote for this issue if interested or comment if you are planning a PR on this.

[2016-06-05 17:10] cbornet commented on #3052
I know a lot of people that don't like Lombok very much this should be at most an option. And since we generate the getters and setters, the interest of Lombok is limited here.

[2016-06-05 17:41] thebignet opened #3053 "[Java] Separate Spring and Swagger annotations for controllers"
##### Description

Swagger @Api annotations could be extracted into an interface for each Spring Controller.  It should then be possible to generate only these interfaces and let the API developer implement those interfaces.

This is true for Spring controllers but should also be possible for other servers.

##### Swagger-codegen version

2.1.6

[2016-06-05 21:15] cbornet commented on #3053
Would #3039 do what you need ?

[2016-06-06 00:15] smileyogurt commented on #3042
It is a maven project and I am using swagger-codegen-maven-plugin to generate APIs.

@wing328 Could  you elaborate more on how to use "skip overwrite" setting in pom.xml?

[2016-06-06 00:46] jimschubert commented on #2914
I've tested this with the same project pulled from editor.swagger.io. It seems the only piece that's missing for this to run as expected in Visual Studio 2015 is to run

[code]

From the downloaded content's root after building in Visual Studio.

I didn't have issues with building the project as-is downloaded from the site (right-clicked project, did build). I also didn't have to change project pr

[2016-06-06 01:48] jimschubert commented on #3032
@Serjster You can view the specification at http://swagger.io/specification/.

I think you're probably generating your clients in an unmaintainable way (or unintended, maybe?). The parameters used to customize the generated client are only available via the codegen jar or the generator web application. You can access the generator online at https://generator.swagger.io/ to check it out.

You can a

[2016-06-06 05:16] thebignet commented on #3053
Yes, that seems to do exactly that. Indeed the purpose of this is to keep existing implementation while generating interfaces and models from Swagger definition.

[2016-06-06 05:16] #3053 closed

[2016-06-06 05:22] darylteo opened #3054 "[Javascript] Single argument instead of multiple arguments for api parameters"
##### Description

Right now, when generating in Javascript, it gives me:

[code]

This becomes quite unwieldy when large numbers of possible parameters are available (e.g. for filtering purposes). Swagger currently does not support object based query parameters, so I cannot reduce these parameters to one.

Alternatively, the idiomatic JS way to support large variable parameters is to use a object

[2016-06-06 09:44] taxpon opened #3055 "[Python] Bug: test files do not use packageName"
##### Description
- Python test files generated by codegen do not use `packageName` option.
    - Package name is fixed to `swagger_client`

##### Swagger-codegen version
2.2.0-SNAPSHOT

##### Suggest a Fix
- Fix following files to user `packageName`
    - [api_test.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_test.musta

[2016-06-06 10:18] wing328 commented on #3041
PR merged.

[2016-06-06 10:18] #3041 closed

[2016-06-06 11:44] wing328 commented on #3055
Yes we definitely need to fix that and update the `bin/python-petstore.sh` to cover it moving forward.

Please let us know if you've cycle to work on that.

[2016-06-06 12:21] clasnake opened #3057 "Support play for java and scala server."
##### Description

Seems no support for play now.
Shall we support play for java and scala server, so that server-side code based on the play framework can be auto-generated according to the rest spec.

[2016-06-06 13:52] LightySnake commented on #3026
I have the same error on windows 7 (maven 3.3.9 JDK 1.8.0_91), with mac os x no error.

[2016-06-06 14:23] wing328 commented on #3026
@LightySnake thanks for providing more info. I'll look into that tomorrow.

[2016-06-06 14:30] LightySnake commented on #3047
Maybe is related to the same issues https://github.com/swagger-api/swagger-codegen/issues/3026

[2016-06-06 14:32] LightySnake commented on #3026
Additional info:
[code]

[2016-06-06 14:36] wing328 commented on #3026
@LightySnake thanks for the additional info. Does the workaround `mvn clean package -DskipTests` work for you in Windows?

[2016-06-06 14:38] LightySnake commented on #3026
Yes, the workaround work fine

[2016-06-06 14:40] wing328 commented on #3057
@clasnake we would definitely welcome contribution for a [play framework](https://www.playframework.com/) server stub generator.

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework

[2016-06-06 14:41] wing328 commented on #3026
@LightySnake thanks for the confirmation. We'll treat this with relatively low priority at the moment since there's a workaround available.

[2016-06-06 14:42] wing328 commented on #3047
Closing this one as it's duplicated with #3026

[2016-06-06 14:44] wing328 commented on #3047
@jimschubert I wonder if you can take a look when you've time. The issue seems to be platform (Windows) specified.

[2016-06-06 14:49] jimschubert commented on #3047
I can take a look later today. I don't have access to Windows 10, but I have a Windows 8.1 VM. It's weird that only that test is failing and only on Windows.

[2016-06-06 14:53] LightySnake commented on #3026
@wing328 Thank you for the support

[2016-06-06 15:08] taxpon commented on #3055
Do you mean we need to update `bin/python-petstore.sh` so that we can confirm that `pacageName` defined in config appears in test files correctly?

[2016-06-06 15:12] clasnake commented on #3057
@wing328 I'll take a look at this one. And shall we add label Server: Scala as well?

[2016-06-06 15:15] jimschubert commented on #3032
For reference:

There is a new wiki page for documenting vendor extensions: https://github.com/swagger-api/swagger-codegen/wiki/Vendor-Extensions

If we go the route of using a vendor extension, that wiki page should be updated.

[2016-06-06 15:16] luciasarni opened #3059 "Making new codegen module - Unexpected parameter"
##### Description

I´m following the instructions from [here](https://github.com/swagger-api/swagger-codegen#making-your-own-codegen-modules) and I get this error:

[code]

##### Swagger-codegen version: 2.1.6

##### Command line used for generation

`java -jar swagger-codegen-cli.jar meta \ -o output/myLibrary -n myClientCodegen -p com.my.company.codegen`

[2016-06-06 15:24] pambeard opened #3060 "DELETE with no body creates a bad URL"
##### Description

rest.py delivered with 6/2 python client package breaks DELETE with no body.  It works with 5/23 download.

##### Swagger-codegen version

Code gen from both dates report - SDK Package Version: 1.0.0

##### Swagger declaration file content or url

/reservations/{userId}/{taskId}:
    delete:
      tags:
          - reservation
      description: Delete a `Reservation`
      oper

[2016-06-06 15:28] clasnake commented on #3057
@wing328 Well I see the play integration at https://github.com/swagger-api/swagger-play as a separate repo and https://github.com/zalando/play-swagger to generate play code from the spec. So I guess no need to add it into swagger-codegen?

[2016-06-06 15:45] taxpon commented on #3060
Is this related to #3020 ? But DELETE codes generated with 6/2 version are working well for my development..

[2016-06-06 15:49] wing328 commented on #3057
cc @ePaul

[2016-06-06 15:50] wing328 commented on #3055
@taxpon yes but no worry I'll take care of it when I add better CI coverage for Python API client.

[2016-06-06 15:54] taxpon commented on #3055
@wing328 Oh, I created PR #3061 with `bin/python-petstore.sh` update. Please review it.

[2016-06-06 16:05] pambeard commented on #3020
Prior to 6/2 is could use the pyhon client code to generate commands similar to curl -k -X DELETE --user dds+PlanetLabs:zbQt2tnDVCr8lcfpMd3NnrBwcGfreoaqHOayAqoJ --header 'Content-Type: application/json' --header 'Accept: application/json' 'https://xxx.xxx.xxx.xxx/reservations/myuser/fred' with no body.  Now, when I try this I get HTTP error: SyntaxError: Unexpected token n<br>  &nbsp .  I see chan

[2016-06-06 16:14] pambeard commented on #3060
If I go back to the 5/23 version, I able use delete generated from the python client similar to this curl command "curl -k -X DELETE --user myUserId:password --header 'Content-Type: application/json' --header 'Accept: application/json' 'https://xxx.xxx.xxx.xxx/reservations/myuser/fred'"   When doing this in the 6/2 version I get HTTP  "SyntaxError: Unexpected token n<br> &nbsp;"

[2016-06-06 16:18] pambeard commented on #3060
Sorry, "SyntaxError: Unexpected token 'single line break' "  it is an  open pointy bracket  br close pointy bracket

[2016-06-06 16:55] ePaul commented on #3060
Just to make clear ... what is the "6/2" or "5/23" version? What the online generator delivered at those dates? (I guess we should somehow make the online generator show which version of swagger-codegen it is using.)

Also, please wrap your YAML into

[code]

so it gets highlighted as YAML (and the indentation is not broken).

[2016-06-06 16:57] pambeard commented on #3060
Yes, what the online generator delivered at those dates

From: Paŭlo Ebermann [mailto:notifications@github.com]
Sent: Monday, June 06, 2016 12:56 PM
To: swagger-api/swagger-codegen
Cc: Beard, Pam; Author
Subject: Re: [swagger-api/swagger-codegen] DELETE with no body creates a bad URL (#3060)

Just to make clear ... what is the "6/2" or "5/23" version? What the online generator delivered at those d

[2016-06-06 17:35] #3059 closed

[2016-06-06 17:46] romk1n opened #3062 "[swift] how to catch 401 status with current implementation ?"
##### Description

ErroType returned has code of -6003 and description.

[code]
##### Swagger-codegen version

2.1.6
##### Swagger declaration file content or url

any request resulting in 401
##### Command line used for generation

n/a
##### Steps to reproduce

Make a request to service without user token. get an error with no response object. how to detect that it is 401 error ?
##### Related is

[2016-06-06 17:49] ePaul commented on #3057
@wing328 Thanks for pinging me.

Although that project (zalando/play-swagger) is from my company, I didn't use it until now (my team is using neither Play nor Scala).

Looking at the README, it seems to have a bit different approach than Swagger-Codegen. It is integrated in the Scala Build tool, generating both managed code (i.e. code which is generated in the target folder, which you shouldn't ed

[2016-06-06 18:17] ePaul commented on #3047
This is the test line which breaks (from the output):

                new CodegenIgnoreProcessorTest("Build.sh", "build.sh", "A file when non-matching should allow.").allowed(),

I.e. the file `Build.sh` is created (upper-case `B`), and the ignore-file says to ignore `build.sh` (in lower case).

Windows by default has a case-insensitive file system (or at least this was the case several years ago

[2016-06-06 18:55] jimschubert commented on #3047
I think ignore on Windows would be best. If have to look into the pattern API to see if it supports case sensitivity.

[2016-06-06 20:30] guangyang opened #3064 "Case mismatch issue in python/configuration.mustache results in wrong auth_settings codegen with oauth"
##### Description

In of lines 222 and 230 file https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/configuration.mustache where it checks oauth or not, there is a case miss match. It should be ``isOAuth`` but right now it's ``isOauth``, which results in wrong ``auth_settings()`` function codegen when the Swagger spec has Oauth security defi

[2016-06-06 20:53] xtoddx commented on #2963
tl;dr: You should license the template files Apache 2, but not assume it applies it to the resulting generated code.

The reasoning in the linked discussions is not sound. Swift is licensed Apache 2, but not every application built using the swift compiler is infected with the same license. Only the most viral licenses work this way, and Apache is not one of them. In the same way, since the templa

[2016-06-06 22:03] jimschubert commented on #3042
@smileyogurt Can you share the relevant parts of the command line you're using to generate?

If you're doing `java -jar swagger-codegen.jar generate -i swagger.json -l java -o api_v3\generated_sources\`, then `.swagger-codegen-ignore` would need to be under generated_sources as you have.

You've included a pom.xml. Are you using the maven plugin and not targeting the master branch?

[2016-06-06 22:25] smileyogurt commented on #3042
@jimschubert

I am using a pom.xml, and maven plugin. I didn't target master branch.

            `<plugin>`
                `<groupId>io.swagger</groupId>`
                `<artifactId>swagger-codegen-maven-plugin</artifactId>`
                `<version>${swagger-codegen-version}</version>`
                `<executions>`
                    `<execution>`
                        `<id>generate_serv

[2016-06-06 22:29] smileyogurt commented on #3042
I also think all features of swagger codegen should be enhanced in plugin for a big project, instead of using CLI as a tool.

[2016-06-06 22:52] akhilkedia94 commented on #1073
+1
I'll be glad to have this fixed too.
We are using Swagger Codegen to develope client SDKs, and then further automatically generating documentation for the SDKs using comment tags.
Having a description will make it significantly more clear what each API class is about.

I'm open to contributing to Swagger-codegen myself to implement this, if I can have some pointers as to how to get started to c

[2016-06-06 22:55] jimschubert commented on #3042
@smileyogurt I'd previously refactored the maven plugin to better support codegen options. That should exist in version 2.1.6.

The .swagger-codegen-ignore feature is new (about two weeks old) and only available in master/ branch/SNAPSHOT releases. You won't need to add any configuration options, as the codegen module used by the maven plugin will load the file from the output directory and skip w

[2016-06-06 22:56] jimschubert commented on #3042
The .swagger-codegen-ignore support should be in the 2.2.0 release.

[2016-06-06 23:33] taxpon commented on #3064
@wing328 @guangyang I created PR #3066. Please review it.

[2016-06-06 23:44] smileyogurt commented on #3042
@jimschubert

When can 2.2.0 release be available at mvnrepository?

http://mvnrepository.com/artifact/io.swagger/swagger-codegen-maven-plugin

And before that any solution for now by using 2.1.6, or is there a snapshot plugin?

[2016-06-07 01:29] jimschubert commented on #3047
I opted to skip the test on Windows. If someone has access to a Windows 10 machine, would you mind testing the change?

[2016-06-07 01:54] jimschubert commented on #3042
@smileyogurt I don't know about the timelines or whatever. Maybe @wing328 knows?

I looked on maven central and jcentral and there doesn't seem to be a SNAPSHOT plugin publilshed anymore. I seem to recall seeing one for some 2.1.x in the past, but I could be wrong.

However, you can clone the repository and on the master branch run `mvn clean package install` to get 2.2.0-SNAPSHOT installed locall

[2016-06-07 02:27] wing328 commented on #3042
Usually it takes 3 to 4 months for a stable minor release.

Given that the next release is a major release (2.2.0), it may take a bit longer.

[2016-06-07 03:06] wing328 commented on #3055
@taxpon the way you named the package looks good to me 👍

[2016-06-07 03:53] wing328 commented on #3020
@pambeard can you elaborate more on how you use the python client code to generate commands similar to curl? When you use the python API client directly (not the generate curl command), did you get similar error?

[2016-06-07 04:33] smileyogurt commented on #3042
@jimschubert @wing328

Thanks for comments I will build local 2.2.0-SNAPSHOT for current usage then.

[2016-06-07 04:36] darylteo opened #3068 "[Javascript] Return rejected Promise if required parameters are not set"
##### Description

When using the --promise version of javascript, when required parameters are not provided, it throws an exception. To maintain the consistency of the function, it could return a rejected Promise, so that we can simply write a failure handler at the end of the fluent chain.
##### Swagger-codegen version

2.1.6
##### Swagger declaration file content or url
##### Command line used

[2016-06-07 05:38] wing328 commented on #3060
@pambeard editor.swagger.io submits HTTP requests to generator.swagger.io to generate the SDKs.

As confirmed with @fehguy generator.swagger.io is using stable version v2.1.6.

We're working out a plan to push the latest master on a daily/weekly basic or based on PR merged to Swagger Codegen.

[2016-06-07 06:00] Danielku15 opened #3069 "[JavaScript] Invalid date parsing for all browsers."
##### Description

We are using the JavaScript code generator in combination with browserify. It brings us some benefits to have some "static code"-generation for JavaScript. The problem is that the date parsing function is not working for all browsers. Not all browsers have proper ISO-8601 parsing capabilities. Only Chrome parses the dates correctly.

https://github.com/swagger-api/swagger-codege

[2016-06-07 06:09] bluemmc commented on #2723
I will close this as it is fixed by #2858

[2016-06-07 06:09] #2723 closed

[2016-06-07 06:14] bluemmc commented on #2724
@jimschubert
What are the plans for merging this with main branch?

[2016-06-07 06:20] wing328 commented on #2724
@bluemmc let me review the PR today or tomorrow. (have been really busy recently ...)

[2016-06-07 06:39] wing328 commented on #3047
@artem-dudarev I've merged the PR by @jimschubert into master. Please pull the latest to give it a try.

[2016-06-07 07:02] LightySnake commented on #3047
On my home PC:
`Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T17:41:47+01:00)
Maven home: C:\Program Files\Maven\bin\..
Java version: 1.8.0_92, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk1.8.0_92\jre
Default locale: it_IT, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "dos"`

With commit 127bac4 i get this er

[2016-06-07 07:05] wing328 commented on #3047
@LightySnake thanks for performing the test.

I tested with Java1.7 on Windows and didn't encounter any issue with `mvn clean package`

Do you mind cloning `https://github.com/swagger-api/swagger-codegen.git` into a new directory to see if you still encounter the issue?

[2016-06-07 07:08] TranAn commented on #2998
@wing328 I use android volley client lib and have the same error, with okhttp-gson it work fine. But swagger-editor seem doesn't have okhtt-gson generate option.

[2016-06-07 07:25] LightySnake commented on #3047
@wing328 Yes, fresh clone and then mvn clean package.

On my office PC:
`Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T17:41:47+01:00)
Maven home: C:\Program Files\Maven\bin\..
Java version: 1.8.0_91, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk1.8.0_91\jre
Default locale: it_IT, platform encoding: Cp1252
OS name: "windows 7", version: "6.1", arch: "am

[2016-06-07 07:29] wing328 commented on #3047
so the issue only happens on Windows 10 but not 7?

[2016-06-07 07:32] LightySnake commented on #3047
In my case yes, if you need other tests on my home PC i will do it when i exit from work.

[2016-06-07 08:23] artem-dudarev commented on #3047
I've pulled the latest version and it builds successfully on Windows 10 Enterprise x64.

[2016-06-07 08:41] LightySnake commented on #2998
I still have problem with volley but i also have problem with okhttp-gson.

@TranAn wich version of maven, java and OS do you use?

[2016-06-07 10:56] wing328 commented on #3062
cc @Edubits @jaz-ah

[2016-06-07 10:57] wing328 commented on #2978
cc @Edubits @jaz-ah

[2016-06-07 10:59] wing328 commented on #2379
@romk1n I wonder if you can pull the latest master and give it another try as there are 20+ PRs (improvements, bug fixes) to Swift API client since Mar 15.

[2016-06-07 11:03] wing328 commented on #3064
@guangyang thanks for reporting the issue. @taxpon submitted a fix, which has been merged into master.

Please pull the latest master and give it another try.

[2016-06-07 11:03] #3064 closed

[2016-06-07 11:36] cbornet commented on #2138
Just saw an issue with using ```Instant```: we will probably not be able to deserialize rfc3339 dates with time offset (at least that's the case with Jackson).

And the issue with rfc3339 date offset not being supported is also on android implementation of [SimpleDateFormat](https://developer.android.com/reference/java/text/SimpleDateFormat.html) (which is more problematic than java6 in the end).

[2016-06-07 12:01] karussell opened #3071 "Java client erroneous if using okhttp with Response class"
##### Description

Creating a java client fails as
`import com.graphhopper.routeopt.client.model.Response;`

is wrong and clashes with okhttp its Response statement in the generated SolutionApi:
`import com.squareup.okhttp.Response;`

##### Swagger-codegen version

2.1.5 and 2.1.6

##### Swagger declaration file content or url

https://graphhopper.com/api/1/vrp/swagger.json

##### Command line use

[2016-06-07 12:26] TranAn commented on #2998
@LightySnake I use maven 3.3.3, java 1.8 and win8

[2016-06-07 13:16] pambeard commented on #3020
The Curl command is from the swagger editor.  The python API adds the open pointy bracket br close pointy bracket (a single line break) which eventually calls the function request in rest.py.  Here the DELETE handling has been changed between the version that worked and the version that did not work.

[2016-06-07 13:23] wing328 commented on #3020
@pambeard  Given that you're using swagger editor for your test, can you please pull the latest master to generate the Python API client to confirm if the issue still occurs?

[2016-06-07 13:28] wing328 commented on #2998
@LightySnake for the problem with okhttp-gson, please open a new issue with more details, e.g. error message, build error, os/platform etc

[2016-06-07 13:30] jimschubert commented on #3047
The error @LightySnake is getting is unrelated to my commit. `DefaultGeneratorTest` is a totally different test, and the failure is on gradle-wrapper.jar (not a file generated by tests I wrote). I think the temp folder in those tests are created by a junit helper, while mine aren't.

The problem could be with a virus scanner. When I did development on Windows, I've had Avast and Kaspersky lock tem

[2016-06-07 14:30] ysqi commented on #2970
@peterbougon ,Beego (a golang web framework) will be useful to you, You can write the API by Beego and use Beego command tool to generate document automatically for Swagger , more doc [here](http://beego.me/docs/advantage/docs.md#generate-document-automatically)
code such as like this:
[code]

[2016-06-07 14:36] peterbourgon commented on #2970
We will not use beego in Go kit.

[2016-06-07 15:05] casualjim commented on #2970
@peterbourgon https://github.com/go-swagger/go-swagger would do what you want, I have a slack team and you can reach me in the GoBridge slack team too, I'd love to discuss what is required because I think that go-kit would be a nice base actually.

@fehguy I can help, but swagger-codegen will need the ability to shell-out to call my go binary.
Should it be required to distribute this as jar, we ca

[2016-06-07 15:26] wing328 commented on #2800
PR merged. Closing the issue.

[2016-06-07 15:26] #2800 closed

[2016-06-07 16:00] fehguy commented on #3048
ok skipping in the middle of the path isn't really possible but a trailing wildcard could work as a generic import.

[2016-06-07 20:09] karussell opened #3074 "Javadoc creation failed making central maven release hard"
When I try to release the autogenerated files of the java client (library 'okhttp-gson') to maven central it triggers `mvn javadoc:javadoc` and this fails with lots of errors

[code]

as in Java 8 this is a lot stricter than before. See this [SO question](http://stackoverflow.com/questions/15886209/maven-is-not-working-in-java-8-when-javadoc-tags-are-incomplete) for more details and a workaround b

[2016-06-08 04:04] akhilkedia94 opened #3076 "[Tizen] Updating the Tizen Client Generation Code"
Note - Please consider the following communication unofficial until I get the requisite approvals.

##### Updating the Tizen Client Generation Code

Hello,

I am an employee working in Tizen Platform Lab., Samsung R&D Centre, Samsung Electronics.

The current client template files for Tizen are extremely outdated and depend on deprecated system APIs, so much so that I could not even find the binar

[2016-06-08 04:14] wing328 commented on #3076
@akhilkedia94 Glad to hear that you've a better version for Tizen.

Given that the existing Tizen template is referencing/using depreciated system APIs. I suggest we simply sunset it. If developers need to use the deprecated system APIs, they can always use the Swagger Codegen v2.1.6 (latest stable version released about 2 months ago).

My take is to update the Tizen generator/template directly wi

[2016-06-08 04:21] jaz-ah commented on #3062
@romk1n I manually modified AlamofireImplementations.swift to the processRequest function to do this:

....
        request.responseJSON(options: .AllowFragments) { response in
            managerStore.removeValueForKey(managerId)

            // AlamoFire doesn't automatically check status responses for error codes
            // so we do it manually here - also we could call validate() on the Al

[2016-06-08 04:23] wing328 commented on #3074
@karussell agree that it's an issue that we need to address in order for the Java SDK to be released to Maven Central.

[2016-06-08 04:26] jaz-ah commented on #2978
@romk1n not sure - that suggestion may work but looks like the alamofire behavior is as designed - looks like the swagger implementation has a bug - do you have cycles to try the suggestion and test?

[2016-06-08 04:34] fehguy commented on #3076
@wing328 agreed.  CC @maneeshsahu

[2016-06-08 05:21] LightySnake commented on #3047
@jimschubert @wing328 I've retried with my pc at home (windows 10 x64) with the same commit and everithing does fine. Maybe there was some dirty file.

[2016-06-08 10:07] dknaack opened #3078 "Cant generate working Android Client"
I have a Test Api and would like to create a REST Client for a Android device using swagger codegen.

My Java Version:

Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

Here is what i am doing:

1.`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i {PathToJson}  -l java --library=retrofit  -o {Output

[2016-06-08 10:31] cbornet commented on #3078
Exactly what you did.
Can you paste or gist your json spec ? (or another failing one if you want to keep it secret)
Note : you should use ```retrofit2``` if you can.

[2016-06-08 10:31] cbornet commented on #3078
Also paste your error log.

[2016-06-08 11:21] dknaack commented on #3078
Thanks! Here is my console

[main] INFO io.swagger.parser.Swagger20Parser - reading from http://192.168.178.73:91/api/swagger/docs/v1Sandbox
[main] INFO io.swagger.codegen.AbstractGenerator - writing file /var/tmp/myProject/src/main/java/io/swagger/client/model/GetResponse.java
[main] INFO io.swagger.codegen.AbstractGenerator - writing file /var/tmp/myProject/src/main/java/io/swagger/client/model/

[2016-06-08 12:11] wing328 commented on #3078
As a workaround, please try the Java (library: okhttp-gson) API client from the latest master as it work should with Java, Scala and Android environment.

[2016-06-08 12:18] dknaack commented on #3078
If i use okhttp-gson i get a error as well

[main] INFO io.swagger.parser.Swagger20Parser - reading from http://192.168.178.73:91/api/swagger/docs/v1Sandbox
[main] INFO io.swagger.codegen.AbstractGenerator - writing file /var/tmp/myProject3/src/main/java/io/swagger/client/model/GetResponse.java
[main] INFO io.swagger.codegen.AbstractGenerator - writing file /var/tmp/myProject3/docs//GetResponse.md

[2016-06-08 12:37] cbornet commented on #3078
Can you try to generate from http://petstore.swagger.io/v2/swagger.json ?
And also paste the content of http://192.168.178.73:91/api/swagger/docs/v1Sandbox

[2016-06-08 12:45] dknaack commented on #3078
Here is the output for the petstore api

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building swagger-java-client 1.0.0
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- build-helper-maven-plugin:1.10:add-source (add_sources) @ swagger-java-client ---
[INFO] Source dire

[2016-06-08 13:17] wing328 commented on #3069
@Danielku15 thanks for reporting the issue with details and suggesting a few solutions to tackle the problem

From what I read (http://stackoverflow.com/questions/5802461/javascript-which-browsers-support-parsing-of-iso-8601-date-string-with-date-par), seems like the implementation is not consistent across browsers and therefore I prefer moment.js.

May I know if you've cycle to contribute the enh

[2016-06-08 13:56] luciasarni opened #3079 "Build error - My own codegen"
##### Description

I´m getting an error when I try to build my own codegen. I tried building the project created using
` java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar meta  -o output/myLibrary -n myClientCodegen -p com.my.company.codegen` (to check if I might have written something wrong) and I get the same error.
It looks for io.swagger:swagger-codegen:jar:2.2.0-SNAPSHOT at

[2016-06-08 14:55] Danielku15 commented on #3069
ISO8601 date parsing became part of browsers in ECMAScript version 5. Considering [this source](http://kangax.github.io/compat-table/es5/) and take the Date.prototype.toISOString as indicactor on ISO date parsing support, all browser should support it with normal `new Date("str")` instead of the `T` removal which breaks the parsing on most of the browsers.

http://www.ecma-international.org/ecma-2

[2016-06-08 15:01] wing328 commented on #3069
@Danielku15 if you feel more comfortable with the `new Date("str")` solution, please go with that.

[2016-06-08 15:17] jimschubert commented on #3047
@wing328 do you know if the folder.create() from `org.junit.rules.TemporaryFolder` accepted a folder prefix? I'm wondering if it's trying to create a random folder name that already exists for some other app, then trying to use it.

[2016-06-08 15:45] wing328 commented on #3047
Not familiar with that function. Need to look into it to find out more.

Given that @LightySnake has confirmed it's more a machine-specified issue. I would treat this with low priority.

[2016-06-08 15:48] Serjster commented on #3032
Thanks for the info.

[2016-06-08 15:48] #3032 closed

[2016-06-08 16:06] sebastianhaas opened #3081 "Missing header in typescript-angular2"
##### Description
`typescript-angular2` doesn't set `Content-Type` and `Accept` in the Header which might cause problems on some servers. In my case, I wasn't able to POST data to a LoopBack (Express) backend.

##### Swagger-codegen version

Latest master, baed578010332a020d3d722dce6cb5f62b862d98

##### Generated code
The generated API class currently sends an empty header:
[code]

##### Command l

[2016-06-08 16:10] wing328 commented on #3081
Have you set a proper `consumes` and `produces` in the spec for the endpoints?

e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L37

[2016-06-08 16:21] sebastianhaas commented on #3081
My spec does specify proper `consumes` and `produces`:

[code]

I can't see any efforts made in the respective `.java` and `.mustache.` source to take these into account anyway.
I also do not think that any other content type than json would work for current solution. It is using `JSON.stringify()` to pass the body to Angular2's `Http` class.

https://angular.io/docs/ts/latest/api/http/Http-class.

[2016-06-08 16:47] #3074 closed

[2016-06-08 16:48] wing328 commented on #3074
@karussell I've merged #3077 into master. Please pull the latest and give it a try.

[2016-06-08 17:03] wing328 commented on #3081
@sebastianhaas thanks for sharing more. For other API clients (e.g. C#), we've a function to select the property content-type and accepts:

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Client/ApiClient.cs#L351
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagg

[2016-06-08 17:11] wing328 opened #3084 "[Suggestion] Remove timestamp from auto-generated code/documentation"
In the coming major release 2.2.0, we want to remove {{generatedDate}} from the mustache template as this will introduce a lot of noise when it comes to reviewing the auto-generated code/documentation. Here is an example:
[code]

If anyone has a good reason to keep it in the auto-generated timestamp, please reply to let us know.

[2016-06-08 17:13] wing328 commented on #3081
cc @Vrolijkx

[2016-06-08 17:16] Edubits commented on #3084
I would love to have them static, constant diffs are annoying. Related might be the auto documented docs, I noticed a few times that fields changed order, which gives unnecessary diffs as well.

[2016-06-08 17:19] wing328 commented on #3084
Right. The **authentication settings** are not in any order so we need to sort them alphabetically to avoid the noise due to random order.

[2016-06-08 17:35] wing328 commented on #3071
@karussell thanks for reporting the issue.

I would go for fully-qualified name `com.squareup.okhttp.Response`. May I know if you've cycle to contribute a fix on this?

[2016-06-08 17:38] #3025 closed

[2016-06-08 17:39] jimschubert opened #3085 "[aspnet5] Rename/deprecate aspnet5 for newer terminology"
##### Description

Per [Scott Hanselman's blog post](http://www.hanselman.com/blog/ASPNET5IsDeadIntroducingASPNETCore10AndNETCore10.aspx), the server technology's name is no longer called ASP.NET 5 and is now called ASP.NET Core 1.0.

Rather than rename to aspnetcore or some variant, it would probably be best to create an `aspnet` server generator with library options for different versions (4.x,

[2016-06-08 17:40] cbornet commented on #3084
There is an existing ```hideGenerationTimestamp``` property that can be used for this.
We just need to put it in the templates and use -DhideGenerationTimestamp=true to generate the samples

[2016-06-08 17:45] karussell commented on #3071
Yes, will try :)

[2016-06-08 17:53] sebastianhaas commented on #3081
@wing328 I see, that's certainly the way to go for the angular2 client as well. Would you be interested in a PR? I might find some time to get it done.

[2016-06-08 17:55] wing328 commented on #3081
Thanks @sebastianhaas. A PR would be good.

[2016-06-08 18:01] wing328 commented on #3084
Right. The option is for Java only at the moment: https://github.com/swagger-api/swagger-codegen/blob/691aa53d5af958a6613139ca77bbc6038eeea6ca/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L49

We can make it a general option to make it available in other langauges.

My suggestion is to remove the timestamp from the template without `hideGenerationTimest

[2016-06-08 18:29] tadhgpearson opened #3087 "Swagger spec date format not supported by Java client"
##### Description

The generated Java client does not correctly parse the Swagger date format from API responses.

According to the[ swagger spec](http://swagger.io/specification/) a response field of type string, format date must return a full-date defined by [RFC 3339](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14) which specifies the format as

This is not supported by the defau

[2016-06-08 18:54] cbornet commented on #3087
The best way is to use joda date lib (or JSR310 on java8).
It has been implemented on feign and retrofit clients.
When all java clients are done, we will be able to switch the default date lib to joda.

[2016-06-08 19:03] ePaul commented on #3084
Previous related discussion: #2318.
I'm not sure why that was closed – it looks like the original issue author just modified its own templates?

[2016-06-08 19:06] ePaul commented on #3084
I think the default should be to have no timestamp. I'm not sure if there should be an option to include it.

By the way, I think what could be useful would be to include the Swagger-Codegen version in the generated files. While for the samples to be committed in our repository this should also be disabled (for the same reason as disabling the timestamps), having it on by default in the online gen

[2016-06-08 19:19] cbornet commented on #3084
We could set hideGenerationTimestamp to true by default ?

[2016-06-08 19:34] dylan-colaco opened #3088 "[SWIFT] No README.md file generated for Swift Client"
##### Description

I used swagger-codegen from a web-api but I don't get a readme file for SWIFT. I am not sure exactly which objects have to be used/configured and in what order. Is there any guide for this? If I generate for Objective-C or some other languages, there is a readme file generated that explains this...

##### Swagger-codegen version

swagger code generated from website

##### Swagge

[2016-06-08 19:36] cbornet commented on #3087
Actually the default(jersey) and jersey2 libs also have joda support

[2016-06-08 20:00] dylan-colaco commented on #2362
Is there any update on this? I'm getting the same error because the generated swift code uses the same name "_type" for a property as well an enum name.

[2016-06-08 20:00] tadhgpearson commented on #3087
Sure. I prefer Joda too, or even Java 8, and I'd be happy if you'd make it the default.
But this is the default option right now and it's broken. If you agree it's an issue, and you have a preferred approach to fixing it, I'd be happy to do a fix and provide a pull request.

[2016-06-08 20:19] mhailstone opened #3089 "Interactive HTML Documentation"
##### Description

We would like to use only the “preview” frame of the swagger-editor as our static html documentation instead of the current static html in the swagger-codegen. I would like to propose a new generator that exports just the preview frame html with the needed supporting CSS or javascript to expand/collapse the paths, operations, and model definitions.

[2016-06-08 20:23] cbornet commented on #3087
In the end it will be the default.
For now you can use -DdateLibrary=joda

[2016-06-08 20:28] tadhgpearson commented on #3087
Sure... but I also need it to work with the default option

[2016-06-08 21:06] karussell commented on #3074
I cannot test the master branch as I get the following error (although it build the client jar successfully)

Also I did not find an issue indicating that this is my fault somehow :) ?

[2016-06-08 23:26] #3055 closed

[2016-06-09 01:21] jimschubert commented on #3089
@mhailstone This might be a dumb question, but are you aware of the swagger-ui project?
You can see an example of developer documentation provided by Swagger UI here: http://petstore.swagger.io/#!/pet/updatePet

![image](https://cloud.githubusercontent.com/assets/109659/15916183/eded8be8-2dbd-11e6-8e66-531007d70b54.png)

Download links and all are available here: http://swagger.io/swagger-ui/

Or

[2016-06-09 01:57] wing328 commented on #3074
Did you run `mvn clean package` or something else?

[2016-06-09 02:47] wing328 commented on #3087
@tadhgpearson yes, editor.swagger.io only uses the default option. Please pull the latest master to generate the SDK instead: https://github.com/swagger-api/swagger-codegen#getting-started (there are more than 120+ enhancements,bug fixes since v2.1.6 release)

[2016-06-09 04:51] jimschubert commented on #3042
@smileyogurt I didn't look at the plugin's implementation because you had said the option wasn't included. I just verified and the `skipOverwrite` option exists. I apologize for not looking sooner.

Try moving the skip overwrite option outside of the `configOptions` node. I hadn't recognized it before, but that `configOptions` is a confusing name. It currently only supports instantiation-types, im

[2016-06-09 07:43] TranAn opened #3092 "mvn install fail with okhttp-gson"
##### Description

After generating Android client lib with okhttp-gson. I build it with **mvn package** and it work fine, but when i try install it **mvn install** i get this error:

[code]

so i have to remove exec-maven-plugin from pom file and then it work.

##### Swagger-codegen version

in commit ae3a31fb7930cbfaef9b100e1da0693b1317bdc8

[2016-06-09 08:27] wing328 commented on #3092
Do you have gradle installed?

[2016-06-09 08:32] wing328 commented on #3084
@ePaul instead of stamping every generated files with the swagger-codegen version. What about generating a file (e.g. `.swagger-codegen-version`) instead?

I agree including the swagger codegen version in the API clients or servers stubs will help us more easily troubleshoot issue.

[2016-06-09 08:36] wing328 commented on #3088
Agreed that a README will be helpful. For ObjC API client, we provide README and documentation (markdown) for API endpoints and models. Here is an example: https://github.com/wing328/petstore-objc
We can reference ObjC API client to do something similar for Swift API client.

cc @jaz-ah @Edubits

[2016-06-09 09:08] #3071 closed

[2016-06-09 09:22] wing328 commented on #3068
@darylteo thanks for the suggestion and the code snippets to illustrate the difference.

cc @delenius who added Promise support to the Javascript API client.

[2016-06-09 09:30] wing328 commented on #3054
@darylteo I'd a look at Twilio and Strip NodeJS libs:
https://github.com/twilio/twilio-node/blob/master/lib/TaskRouterClient.js#L23
https://github.com/stripe/stripe-node/blob/master/lib/MultipartDataGenerator.js#L8

Both list out parameters in the method signature.

For your suggestion using just `options`, may I know if it's based on some best practices/style guides?

(this is not to say your sug

[2016-06-09 09:46] darylteo commented on #3054
@wing328  thanks for taking the time to review!

First up I'm not a NodeJS developer. Most of my Javascript work is on the frontend.

I guess the frustration for me at present comes from dealing with this particular api call that supports many different filtering and pagination options (up to 10!). This api is written in Java - JAXRS, and we are using a bytecode analyzer to generate a swagger spec

[2016-06-09 09:47] TranAn commented on #3092
@wing328 Sorry i haven't install gradle, but i don't see gradle is requirement in anywhere.

[2016-06-09 09:50] wing328 commented on #3092
I'll review the pom.xml as well

Given that android studio treats gradle as first class citizen and many Android SDK that I used also rely on gradle for installation, I would strongly recommend you to install it.

[2016-06-09 09:57] wing328 commented on #3092
Which folder did you run the `mvn install` command?

[2016-06-09 10:07] TranAn commented on #3092
This is destination folder where swagger-codegen generate the library:

`-o samples/client/springboot/okhttp-gson`

of course i run in it :dancer:

[2016-06-09 10:15] wing328 commented on #3054
Are the filtering and pagination parameters defined as optional? If yes, you should see all optional parameters are represented by "opts" in the method signature, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/api/PetApi.js#L327

[2016-06-09 10:16] wing328 commented on #3092
I found the problem and will file a PR to fix it shortly.

[2016-06-09 10:24] wing328 commented on #3092
@TranAn I've filed #3095 to fix the issue. Thanks again for reporting the issue.

[2016-06-09 10:29] karussell commented on #3074
I get this error when I try a deployment via `mvn -DperformRelease=true -DskipTests=true -Dpgp.secretkey=keyring:id=54EA4B68 clean compile package deploy`

... but probably I just need to tweak the pom for my purposes? As currently I see `For testing build.gradle, build.sbt, mvn javadoc:javadoc`

Also why now our `Break` model class is named `ModelBreak`? (this breaks backward compatibility)

[2016-06-09 10:35] wing328 commented on #3074
For pom issue, I've filed #3095 to fix it.

For break, it's a keyword in Java so we escape it with `ModelBreak`

[2016-06-09 10:40] karussell commented on #3074
But it is upper case and worked before or what was the issue?

[2016-06-09 10:47] moanrose commented on #2776
I would suggest that the desiralization of date are not handled by swagger codegen, or that it is optional, because the proper place for this would be in the $httpProvider.defaults.transformResponse collection as described here http://aboutcode.net/2013/07/27/json-date-parsing-angularjs.html

[2016-06-09 10:53] moanrose opened #3096 "Angular 1: Required parameter check causes unexpected behaviour"
The required parameter check in the api.mustache causes unexpected behaviour if the actual parameter value evaluates to false e.g "false", 0, -1, false

swagger-codegen/modules/swagger-codegen/src/main/resources/typescript-angular/api.mustache

The code

if (!{{paramName}}) {
	throw new Error('Missing required parameter {{paramName}} when calling {{nickname}}');
}

Needs to be changed to:

if ({{p

[2016-06-09 11:08] dylan-colaco opened #3097 "[Swift] Getting 'CANCELLED' for incorrect credentials instead of 401"
##### Description

I am building an app that has a sign in using http basic authentication. If the credentials are correct, it works fine. However for invalid credentials, I cannot access the status code (to test for 401) and the errors localizedDescription shows: cancelled

##### Swagger-codegen version

generated online

##### Swagger declaration file content or url

##### Command line used for

[2016-06-09 12:22] darylteo commented on #3054
*sigh* you're right =) I am tackling a separate issue where all parameters are mandatory with no way to turn them off.

https://github.com/sdaschner/jaxrs-analyzer/issues/55

That's exactly what I was asking, but obviously I jumped the gun a little without testing. I apologise. Closing!

[2016-06-09 12:22] #3054 closed

[2016-06-09 12:33] wing328 commented on #3092
@TranAn PR merged into master. Please pull the latest to give it a try.

[2016-06-09 13:31] wing328 commented on #3097
@dylan-colaco am I correct in saying that you need access to the status code of the HTTP response to determine the next action in your app (e.g. ask users to try again)?

cc @jaz-ah @Edubits

[2016-06-09 13:33] dylan-colaco commented on #3097
Yes, that is correct. As far as I can see, the status code of the HTTP response is accessible only for a successful response at the moment, not for unsuccessful responses(like 401).

[2016-06-09 14:26] TranAn commented on #3092
@wing328 ok, thank you for your quick reply.

[2016-06-09 14:48] #3092 closed

[2016-06-09 14:56] cbornet opened #3100 "[All] Use .swagger-codegen-ignore instead of writeOptional"
I think ```.swagger-codegen-ignore``` is better since it can be configured by the end user whereas writeOptional files are hard-coded in the codegen.
For instance, when generating the petstore samples, you want to overwrite the pom.xml but it doesn't occur unless you rm the file first.
It would be better to pre-configure in the templates the .swagger-codegen-ignore to ignore pom.xml, build.gradle,

[2016-06-09 15:24] ePaul commented on #3084
@wing328 either this, or putting it into the generated README (if there is some) might be better than putting it in every file, yes.

[2016-06-09 18:23] jaz-ah commented on #3088
yup no problem - in the meantime @dylan-colaco you can look at the example code to help you get started...

[2016-06-09 18:26] jaz-ah commented on #3097
in my codebase I'm adding this at the bottom - that helps this issue and I'm gonna make a PR to bring into this tree shortly.

    private func processRequest(request: Request, _ managerId: String, _ completion: (response: Response<T>?, error: ErrorType?) -> Void) {

        if let credential = self.credential {
            request.authenticate(usingCredential: credential)
        }

        reque

[2016-06-09 18:26] dylan-colaco commented on #3088
Sure. I've managed to figure some stuff out by reading through the generated code, though with documentation things would have gone much faster!

[2016-06-09 20:12] tadhgpearson commented on #3087
Thanks for the clarification @wing328
Yes, I am using the latest master, and the issue still exists in it. I didn't realize that this wasn't the same as v2.1.6, sorry about that.

[2016-06-09 22:00] webron opened #3104 "JSON response element are missing '_'"
_From @ksriharish on May 12, 2016 9:54_

The swagger codegen is removing the '_' in the json elements. I am generating the code using swagger-codegen 2.1.6 jar. Is this fixed or planned for future? If it is fixed which version is this working?

_Copied from original issue: swagger-api/swagger-ui#2153_

[2016-06-09 23:28] muhmud-v commented on #3048
If the path in the middle can't skipped, would it still be able to contain a parameter reference, i.e. /api/customer/{customerID}/order? That would be fine as well. Would definitely want the wildcard on the end.

[2016-06-09 23:35] mhailstone commented on #3089
@jimschubert We did look at the swagger-ui project, but we really liked just the preview frame layout in the swagger-editor project. We intend to render the page in static html for documentation purposes on a Developer Portal site, but we don't need the "Try this operation" feature-like interaction. That is why we liked the layout and view of the "preview" frame in the editor (above the "Try this

[2016-06-09 23:58] fehguy commented on #3048
I mean, middle of the "package" not the "http path".

[2016-06-10 00:04] muhmud-v commented on #3048
So, I would always need to fully specify package names? That's what I was expecting, if I understand you correctly. So, would my example above work?

[2016-06-10 00:33] fehguy commented on #2970
I don't think we'll be shelling out in swagger-codegen, but if you share the docs for the CLI, I'm sure we can help others with it.

[2016-06-10 01:05] casualjim commented on #2970
@fehguy is this what you mean? http://goswagger.io/generate/server/

[2016-06-10 01:09] tadhgpearson commented on #2437
Seeing the same issue - thanks for posting the workaround :)

[2016-06-10 02:34] taxpon opened #3105 "[typescript-angular2] Handle date type correctly"
##### Description
- As mentioned in #2776, typescript clients do not handle date type correctly.
- I think api clients should convert ISO8601 string into Date object when receiving request, convert Date object into ISO8601 string when sending request.
##### Swagger-codegen version

2.2.0-SNAPSHOT
##### Related issues
#2776, #2030
##### Suggest a Fix

I am thinking updating of `api.mustache` of typ

[2016-06-10 02:40] wing328 commented on #3087
When generating the Java client, did you use `-DdateLibrary=joda` as suggested by @cbornet ?

Which Java HTTP library did you use? default, jersey2, okhttp-gson, etc?

[2016-06-10 02:41] wing328 commented on #3104
@ksriharish please share more, e.g. which language, swaggers spec, steps to reproduce,

[2016-06-10 02:51] wing328 commented on #3105
@taxpon yes, the typescript-angular2 client still needs some work and proper date/datetime handling is one of them. It would be great if you can contribute the enhancement with a PR.

[2016-06-10 05:51] wing328 commented on #2437
@jfiala please file a PR when you've time. Thanks!

[2016-06-10 09:56] bluemmc opened #3106 "C#: New property ExceptionFactory should be declared in interface IApiAccessor"
##### Description

I just tried the newest version from main branch (date 10-06-2016) and the new property ExceptionFactory on generated Api classes is missing from the new IApiAccessor interface. The absence makes it difficult to configure different Api classes using a common method.

##### Swagger-codegen version

Newest unreleased version as of date 10-06-2016.

##### Steps to reproduce

Genera

[2016-06-10 09:57] bluemmc commented on #2723
@jimschubert
Ups. A kind of regression. See #3106

[2016-06-10 10:01] wing328 commented on #3106
@bluemmc can you help file a PR with the suggested fix?

[2016-06-10 10:01] bluemmc commented on #3106
@jimschubert The nice IApiAccessor interface you added should contain all such methods.

[2016-06-10 10:04] bluemmc commented on #3106
@wing328 I can tell you exactly where to add the line "ExceptionFactory ExceptionFactory {get; set;}" to the interface but bureaucracy here at work currently hinders me doing it myself. Sorry.

[2016-06-10 12:18] jimschubert commented on #3106
@bluemmc Sorry about the politics. I know that can be frustrating.

The fix was simple, so I've done it before going to work. I was playing around with the ExceptionFactory implementation a few different ways, and I think I only added it to the interface on the first attempt. Sorry about that.

On a side note, thanks @bluemmc for being so thorough with the description and linking of related issues

[2016-06-10 12:20] jimschubert commented on #2723
Opened PR #3110 to add the ExceptionFactory property definition to the interface.

[2016-06-10 13:33] wing328 commented on #3106
PR merged. Thank you both!

[2016-06-10 14:13] wing328 commented on #3096
@moanrose thanks for the suggestion.

Yes, agree that we should reuse the same check in `typescript-node` to validate required parameter: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L200-L205

May I know if you've cycle to contribute a fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIB

[2016-06-10 14:16] wing328 commented on #3085
@jimschubert thanks for the details.

Do you think there's by any chance they will switch to a different (maybe better) name later? I suggest we wait and see as IMO renaming the generator is not something with the highest priority.

[2016-06-10 14:41] jimschubert commented on #3085
@wing328 It's possible they'll change it. I feel like the Microsoft community sometimes does things to appear edgy or cool. For all we know, they could rage-quit open source .NET ;D

But seriously, they're pushing for a June 27 1.0 release. ([source](https://github.com/aspnet/Home/wiki/Roadmap)). I doubt they'll change it this close to version 1.0 release.

[2016-06-10 14:52] wing328 commented on #3096
`typescript-angular2` needs similar fix: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L44-L51

[2016-06-10 15:17] #3087 closed

[2016-06-11 02:31] jimschubert commented on #3040
@wing328 This is more a question about ASP.NET 5 (ASP.NET Core 1.0) than a bug with the generator. The server generator doesn't have any references to ADO.NET, EF, or any other SQL provider.

@kdc415 it sounds like you may be trying to use an incompatible version of Microsoft.Data.Entity. For a complete working example of accessing a database in ASP.NET 5 (which was renamed this year to ASP.NET Co

[2016-06-11 02:49] kdc415 commented on #3040
**@jimschubert** - I agree it's not a bug. I posted in the group and was directed here. I used the only SQL example I could find in the Core docs and it's not compatible with the injection swagger uses.

Thanks for the example - I'll be checking it out. What's the best place to post future questions? Doesn't seem like c# is popular in the google group.

Thanks - Ken

[2016-06-11 02:56] taxpon commented on #3029
Merged #3034. Issue closed.

[2016-06-11 02:56] #3029 closed

[2016-06-11 03:04] jimschubert commented on #3040
It's no problem.

Best place for questions might be one of the chat rooms.  https://gitter.im/orgs/aspnet/rooms

[2016-06-11 04:20] jimschubert commented on #2914
It actually looks like "the next release candidate" is 1.0 RTM. I will update everything for that after it is released later this month.

[2016-06-11 13:30] jimschubert commented on #3089
Yeah, that makes more sense.

Have you attempted to run [swagger-editor](https://github.com/swagger-api/swagger-editor) and disable some options? It's not static, but it would give you a configurable instance with the added benefit that you can pull upstream bug fixes.

Another option might be to use the template-dir option for swagger codegen:

[code]

This allows you to set a directory containin

[2016-06-13 05:44] bluemmc commented on #3106
Great. Just tested the newest version and now I see the property on the interface. Thanks for the impressive quick fix.

[2016-06-13 05:44] #3106 closed

[2016-06-13 08:55] KingShashi opened #3118 "[Swift] auto ganerated enum var name issue."
##### Description :
The Swagger Codegen does not create enums properly. The case names contains the characters like [ , ]  i.e. braces.

Also "**repeat**" is keyword in Swift, if I add repeat to reservedWords in SwfitCodegen.java then it does't affect the code. Is it correct way to add keywords?

##### Swagger-codegen version

##### Swagger declaration file content or url
Look at the following aut

[2016-06-13 09:09] wing328 opened #3120 "Better CI/CD with travis-ci.org"
The generator will automatically generate .travis.yml for API clients and server stubs so that the output will be ready for CI/CD with travis-ci.org

[2016-06-13 09:13] wing328 commented on #3118
@KingShashi thanks for reporting the issue.

What should be the correct name looks like for `[ascending` and `Descending]`? Are you aware of any naming convention for Swift enum?

cc @Edubits @jaz-ah

[2016-06-13 09:22] KingShashi commented on #3118
In this case, It should not contain the [ & ].

[2016-06-13 09:47] Edubits commented on #3118
@KingShashi Could you attach the relevant part of the swagger.json?

That's sounds like the way to do it.

[2016-06-13 09:56] wing328 commented on #2704
Hi all,

I've checked with Daniel, who has created the C++ generator in https://github.com/Danielku15/swagger-codegen-cpprestsdk and here is the latest update:

If anyone has cycle to plot it back to Swagger Codegen, please reply to let us know.

[2016-06-13 09:57] wing328 commented on #283
Here is another update related to C++ generator:

https://github.com/swagger-api/swagger-codegen/issues/2704#issuecomment-225537925

[2016-06-13 10:06] KingShashi commented on #3118
"tags": ["Languages"],
				"summary": "Get the list of supported languages.",
				"description": "",
				"operationId": "getLanguages",
				"produces": ["application/json"],
				"parameters": [{
					"name": "sortOrder",
					"in": "query",
					"description": "Ascending or descending sort order",
					"required": false,
					"type": "string",
					"default": "ASC",
					"enum": ["ascending", "des

[2016-06-13 10:27] Edubits commented on #3118
@KingShashi Thanks, I tried your snippet and generated the Swift code, for me it results in:
`public enum SortOrder_getLanguages: String {
        case Ascending = "ascending"
        case Descending = "descending"
    }`

With which version of swagger-codegen did you test? Could you try it with the latest master?

[2016-06-13 12:46] #3079 closed

[2016-06-13 12:55] MathiasWasAlreadyTaken commented on #2704
Thats nice! My work on the cpprest generated has stopped completely due to change of track to Apache Thrift at the company I work for. Nice that someone completed a cpprest generator.

[2016-06-13 14:53] lunat opened #3121 "[All] Hard Coding Api Key value in header when using a Swagger Generated Client"
##### Description

In Swagger Client Generator's page I have found this model that permit to set up the clients options but I cannot find how (and if) the API key can be hard coded (or any other kind of authorization) in the client code.

[code]

##### Swagger-codegen version

2.1.6 (current stable)

##### Suggest a Fix

I suppose I must set AuthorizationValue object but there is no documentation

[2016-06-13 16:09] wing328 commented on #2549
@jfiala may I know if you need help adding the JSR-303 Bean validation to the Java API client?

[2016-06-13 16:32] jfiala commented on #2549
@wing328 thank you, maybe we can sketch some of the main features:
* I think it should be configurable so users can turn it on/off if they don't want bean validation annotations in the client code
* Bean Validation would make sense for every Java generator, but with the current layout (everything in mustache templates) it means I'd have to add it to all templates, do you have any better ideas?
* M

[2016-06-13 16:36] jfiala commented on #2549
Currently we could add support for the following annotations:
http://docs.oracle.com/javaee/6/tutorial/doc/gircz.html

* @NotNull (required=true)
* @Null (required=false)
* @Size (minLength/maxLength)
* @Min (min)
* @Max (min)
* @Pattern (pattern)
* @DecimalMin (min for BigDecimal)
* @DecimalMax (max for BigDecimal)

Pls let me know if other annotations make sense in the scope of Swagger?

[2016-06-13 17:10] wing328 commented on #2549
@jfiala I think your list covers what we've already covered for other generators (e.g. PHP, Ruby).

Please add it to Java okhttp-gson API client to begin with and we'll do the same for other Java client/server generator one by one.

[2016-06-13 17:45] Danielku15 commented on #2704
We are already actively using the SDK generated by my code generator in our software and the client will be part of our next software release. If you only need to state calls including some generic error handling the generator works perfectly fine. If the API call fails (status code >= 300) you receive an ApiException where you can parse the body manually. For success calls the main response parsi

[2016-06-13 19:48] mhailstone commented on #3089
@jimschubert Thanks for the suggestions. We will look into the template option.

[2016-06-13 20:09] cbornet commented on #2549
Duplicate #2412 ?
See also #2663.

Also Java client pojo.mustache only differ by a few annotations between gson and jackson (@Serialized vs @JsonProperty) so it should be very easy to mutualize them under a parent mustache with a "gson" tag.

[2016-06-13 20:42] carlin-q-scott commented on #473
The link showing how this could be fixed locally no longer works and I'm not understanding the workaround anyways.

Here's my model:
[code]

Here's the C# generated model from that:
[code]

I have multiple warnings in the codegen output but it seems to all be related to a different issue involving empty models for Options requests.

[2016-06-14 03:07] wing328 commented on #2704
@Danielku15 FYI. jmustache has a new feature to trim empty lines: https://github.com/samskivert/jmustache#newline-trimming

[2016-06-14 03:34] wing328 commented on #473
It should be `"type": "array"` (lower case). (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L893)

[2016-06-14 04:02] wing328 commented on #3121
Usually the API client comes with a method `addDefaultHeader` to add HTTP header in the request. Would that meet your requirement?

[2016-06-14 08:03] lunat commented on #3121
I was using that method in my generated client to add ApyKey in Header.

Than later, after putting this property in my main swagger.json:

`"securityDefinitions":{"myWakesAuth":{"type":"apiKey","description":"MyWakes Application Id","name":"X-MyWakes-Application-Id","in":"header"}}`

I can initialize the `Configuration `object by setting directly the ApiKey.

But, what I want is different.
I am ma

[2016-06-14 08:03] wing328 commented on #2704
To all, I've started plotting the c++ generator created by Daniel to Swagger Codegen.

[2016-06-14 08:23] wing328 commented on #2704
@Danielku15 some mustache template files seem to be missing:
[code]
I couldn't find these mustache templates in https://github.com/Danielku15/swagger-codegen-cpprestsdk/tree/master/src/main/resources/cpprestsdk. Do you mind taking a look and adding them back if needed?

[2016-06-14 08:52] wing328 commented on #3121
The spec does not support hard-coded API key but you can use vendor extension and customize the template accordingly: https://github.com/swagger-api/swagger-codegen/wiki/Vendor-Extensions (doing a search of those listed vendor extension will show you the usage in the template)

I wouldn't recommend you hard-coding the API key in the auto-generated SDK as I don't think that conforms to security bes

[2016-06-14 08:52] #3089 closed

[2016-06-14 09:33] lunat commented on #3121
Many thanks !

I will sure take a look at that page.

By the way, the page https://generator.swagger.io/ that contains the
`POST /gen/clients/{language} ` endpoint
contains that BODY definition:
[code]
do you know if there is any documentation about these fields ?

[2016-06-14 09:52] alecha commented on #2924
same issue here, did you solve?

[2016-06-14 11:49] cbornet commented on #3121
The best place to put the documentation about these fields would be the https://generator.swagger.io/api/swagger.json itself :smile:

[2016-06-14 12:02] taxpon opened #3129 "[typescript-angular2] Handle 204 response without json conversion"
##### Description
- Currently angular2 clients parse received response as json in any time
- According to [HTTP Status Code Definition](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html), 204 response **MUST NOT** include a message-body, so when I use generated clients for 204 response, I get an error `SyntaxError: Unexpected end of JSON input`

##### Swagger-codegen version
2.2.0-SNAPSHOT

[2016-06-14 12:58] wing328 commented on #2924
As a workaround, you can convert the inline object to reference model and put the reference model first.

[2016-06-14 13:06] wing328 commented on #3118
@KingShashi please pull the latest master and give it a try.

Closing the issue for now.

[2016-06-14 13:06] #3118 closed

[2016-06-14 14:13] wing328 opened #3132 "[Scala] Generator for Finch"
##### Description

If anyone wants to work on a Scala server generator for [Finch](https://github.com/finagle/finch), please reply to let us know.

[2016-06-14 16:53] jimschubert commented on #2503
The organization has been changed in the build file for swagger-async-httpclient, but maven doesn't yet have io.swagger artifacts. http://search.maven.org/#search%7Cga%7C1%7Cswagger-async-httpclient

[2016-06-14 16:55] jimschubert commented on #3006
I think this duplicates #241.

I can take a look at creating the build file.

[2016-06-14 17:06] wing328 commented on #3006
#241 is for scala while for this one, I want to cover Java API client as well ( so that it can be more easily used in scala with build.sbt)

I think @clasnake may have done it already.

[2016-06-14 17:07] wing328 commented on #3006
Just did a check. Scala Petstore client still misses the bulid.sbt file. If you've cycle, please help create the build file for Scala API client.

[2016-06-14 17:31] Danielku15 commented on #2704
The files [modelbase-header.mustache](https://github.com/Danielku15/swagger-codegen-cpprestsdk/blob/master/src/main/resources/cpprestsdk/modelbase-header.mustache
) and [modelbase-source.mustache](https://github.com/Danielku15/swagger-codegen-cpprestsdk/blob/master/src/main/resources/cpprestsdk/modelbase-source.mustache) are in the repository. For the apibase files you are right they are missing,

[2016-06-14 17:45] jimschubert commented on #3132
@wing328 also, Finch's maintainer created https://github.com/finagle/finch-petstore, should be a matter of converting that to a generator.

[2016-06-14 17:52] guohuang commented on #3120
@wing328 the go client is already doing that, https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/GoClientCodegen.java#L149 except it is not .mustache extension

[2016-06-14 17:59] tadhgpearson commented on #3087
I'm using the default HTTP library.
Seeing the resolution, does this mean that support for [java.util.Date](http://classicprogrammerpaintings.com/post/142649999919/javautildate-salvador-dali-oil-on-canvas-1931) has been removed?

[2016-06-14 18:02] cbornet commented on #3087
You can still use it with -DdateLibrary=legacy but I encourage you to use joda if you can.

[2016-06-14 18:04] tadhgpearson commented on #3087
LOL - no encouragement needed!

[2016-06-14 19:58] debben opened #3137 "aspnet5 generator ignores sourceFolder option"
##### Description

When using the aspnet5 generator, the sourceFolder option is ignored an the source folder is always set to src/IO.Swagger.

##### Swagger-codegen version

Latest master (b782dc017803b8dbc82e9059447d1888bce89c40)

##### Steps to reproduce

Run the aspnet5 generator with the option "-DsourceFolder=..." or in the configuration json given to the command. The path given to the source

[2016-06-14 20:47] stunney opened #3138 "c# aspnet 5 server codegen - would like classes to have virtual method for inheritance"
##### Description

Would like to have public methods be marked as virtual so that they can be sub-classed.

##### Swagger-codegen version

Latest as of 2016-06-14 @ 16:40 EST

##### Command line used for generation

C# aspnet server codegen

##### Suggest a Fix

Update the aspnet moustache file for the class to add " virtual" after "public" for the method signature.

Will be creating a PR shortly

[2016-06-14 23:46] qtstc opened #3140 "[Jaxrs] Missing Import in Generated Model for Map<String, List<T>>"
##### Description

I was trying to add this property
[code]
In the generated model class, the `import java.math.BigDecimal;` is missing.
##### Swagger-codegen version
Happens on 2.16 and current master build.
##### Command line used for generation
`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i test.json -l jaxrs`

[2016-06-15 01:59] romk1n commented on #2978
@jaz-ah alamofire confirmed that we must use URLEncodedInURL. locally i changed that and it is working for us.

[2016-06-15 01:59] romk1n commented on #2978
it's looks like there was an issue about it already https://github.com/swagger-api/swagger-codegen/issues/1564

[2016-06-15 02:28] wing328 commented on #3120
@guohuang yes, I notice that.

[2016-06-15 02:46] wing328 commented on #2978
@romk1n thanks for the update. May I know if you've cycle to submit a PR for the fix?

[2016-06-15 03:04] wing328 commented on #3132
@jimschubert that would be a very good starting point to starting the reverse engineering

[2016-06-15 04:23] clasnake commented on #3006
@wing328 @jimschubert I've added sbt for feign, retrofit2, retrofit2rx and jersey2 for the java client. The scala client and default client for java haven't been done yet. Please help create that sbt if you've cycle.

[2016-06-15 04:26] romk1n commented on #2978
@wing328 are there anywhere instruction on what tests i should run and how to do it? i can try, although when i modified the file on my local copy it got overridden although i have modified in `/src/main/...`

[2016-06-15 06:28] shashi34 commented on #3118
Yes the issue has been resolved.

[2016-06-15 07:12] wing328 commented on #3076
@akhilkedia94 may I know if you need any assistance filing a PR (pull request)?

[2016-06-15 07:21] akhilkedia94 commented on #3076
@wing328 Hi!
I'm still waiting for the requisite approvals to release the code as open-source.
By my estimates it should take a couple of more weeks unfortunately.

[2016-06-15 07:39] wing328 commented on #3076
@akhilkedia94 please take your time. I was wondering if you need help on the PR. Looking forward to your PR.

Btw, we just added another C++ generator to the master, which generates C++ API client with [C++ REST SDK](https://github.com/Microsoft/cpprestsdk)

[2016-06-15 10:57] tamirtf opened #3141 "java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/Consts"
##### Description

I generated SDK of Android language which is packaged as AAR.
The Android application is compiled with the AAR.

However, in run time, it gets the following exception:
java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/Consts;
at io.swagger.client.ApiInvoker.<clinit>(ApiInvoker.java:55)

It could be solved by adding the following line to application's build.g

[2016-06-15 11:36] Edubits commented on #3118
@shashi34 good to hear, thanks for confirming!

[2016-06-15 13:27] wing328 commented on #3141
@tamirtf there should be no need to manually add another line in build.gradle in order to make the Android SDK works. I'm looking into it.

You can also want to try the Java (okhttp-gson) API client, which works with Java, Android, Scala, etc: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android

[2016-06-15 14:45] wing328 commented on #3074
Your point is definitely valid.

The logic for Java API client is here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L63-L79.

To fix it for Java, we probably need another method `setReservedWords` to set the reserved key words as it's and override `isReservedWord` to make a case sensitive compa

[2016-06-15 17:02] wing328 commented on #3141
@tamirtf Here are some update.

I'm able to repeat similar issue (error message: `Multiple dex files define Lorg/apache/http/Consts;`) with `compile 'io.swagger:swagger-android-client:1.0.0` but not the following:
[code]
(which means the compile group option fixes the issue for me)

I got other errors such as duplicated files copied and I could resolve those using packagingOptions -> exclude

To b

[2016-06-15 17:03] wing328 commented on #3141
And btw, https://github.com/mcxiaoke/android-volley was deprecated a few months ago.

[2016-06-15 18:06] diegode opened #3143 "[JavaScript] exception when setting type string on an enum"
##### Description

On the valid yaml file below, the code generation for javascript is failing (but not for java, for instance).
This was the minimal example I could make where the bug appears.

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

[code]

##### Command line used for generation

swagger-codegen generate -i {yaml file} -l javascript -o {output dir}

#

[2016-06-15 19:06] cbornet commented on #3141
I think only the mirror is deprecated and now we should use com.android.volley:volley:1.0.0

[2016-06-15 19:17] cbornet opened #3144 "[Android][volley] Use com.android.volley:volley:1.0.0"
The mirror we currently use is deprecated.
And the AOSP released com.android.volley:volley:1.0.0 on bintray so we can use the official now.

[2016-06-15 19:58] arthurdm commented on #2153
To be consistent with (https://github.com/swagger-api/swagger-codegen/pull/3080), this new client generation code should use "-l java-spec".

[2016-06-15 20:20] maneeshsahu commented on #3076
The old Tizen Codegen was written by @fehguy for @artikcloud, and it is not being used because of the Tizen platform upgrades. I recommend replacing it with the new codegen that @akhilkedia94 created, so there is no confusion.

[2016-06-15 20:28] zalak1612 opened #3145 "[ASPNET5] code generation using multiple swagger specs"
Is it possible to generate one server side code using multiple swagger specification file?

Also, is it a good design practice to have multiple swagger specification file for a single project?

[2016-06-15 20:32] fehguy commented on #3145
Yes, you can use JSON Pointers to reference objects in different locations.  Please see the [OAI](https://github.com/OAI/OpenAPI-Specification) repository for more information

[2016-06-15 20:32] #3145 closed

[2016-06-15 20:42] zalak1612 commented on #3145
I could not find any documentation indicating code generation using multiple swagger specification file.
For example, If I have three spec file for petStore (PetStore1.json, PetStore2.json, PetStore3.json)
Can I generate a single code base using 3 specification file?
If yes: Could you please point me to appropriate documentation?

Ex:
[code]

[2016-06-15 20:44] fehguy commented on #3145
See the specification here:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md

Any place that references `JSON Pointer` allows for a reference to an external swagger definition.  Note, they are only allowed in specific locations.  You would not pass multiple definition files directly to the codegen, rather pass a single one, which references potentially many files using the

[2016-06-15 20:46] zalak1612 commented on #3145
Thank you.

[2016-06-15 21:02] arthurdm commented on #2153
I just realized that client-gen uses config options for different libraries instead of new languages.  in this case then, it should be a new library under -l java.   Would be nice if the client-gen and server-gen were consistent, but ah well, something for the future.

[2016-06-15 22:52] fabriziofortino opened #3147 "[JAVA] Error generating models using array of enums in parent definition"
##### Description

When a parent definition contains an array of enums the generated models don't compile.

##### Swagger-codegen version

Latest version from master.

##### Swagger declaration file content or url

[code]

##### Command line used for generation

    java -Dmodels -Dapis -DsupportingFiles=pom.xml,README.md,build.gradle,settings.gradle,gradle.properties,AndroidManifest.xml -jar /hom

[2016-06-16 02:26] jimschubert commented on #3006
@wing328 @clasnake I've added sbt to the scala client. I looked at some of the other implementations and they all use `build.sbt` which I've had issues with in the past. I didn't know if sbt vs scala build files should be an option, but I always use the .scala files. Also, others drop sbt/gradle/pom to the output directory and my PR does not do this. I didn't know if this was a standard or what.

[2016-06-16 03:47] wing328 commented on #3006
@jimschubert for the issue you encountered in the past, is there a SO link (or other URls) with more details that I can look into?

[2016-06-16 04:10] jimschubert commented on #3006
I've just looked through my bookmarks and don't see anything relevant. It may be that I've used sbt for multiproject builds with lots of customizations and plugins in the past (3 yrs ago). I've only recently picked sbt back up in the past few months.

Do you think build.sbt would be better and only offer the other format of requested by users?

[2016-06-16 07:03] wing328 commented on #3141
@cbornet you're right. The official one is still (kinda) active: https://android.googlesource.com/platform/frameworks/volley. Last update was 3 months ago.

I saw you already created a task to track the update to use the official one instead 👍

[2016-06-16 07:05] wing328 commented on #3144
If anyone wants to work on this, please reply to let us know.

[2016-06-16 07:21] wing328 commented on #3006
I think we can go with build.sbt first for day 1 requirement and if users complain, we can then look into the issue.

Given that the issue you encountered was a few years ago, I think the issue may have been addressed already.

Given that your PR has generated ProjectBuild.scala already, we can go with both (build.sbt and ProjectBuild.scala and include the instruction in the auto-generated README)

[2016-06-16 07:44] wing328 commented on #2153
@arthurdm thanks for the feedback. We definitely want to keep things consistent and kudos to @cbornet who has already started doing that.

If you want to lend a helping hand, here is a list of tasks you can help out:

https://github.com/swagger-api/swagger-codegen/issues?q=is%3Aopen+is%3Aissue+label%3A%22Client%3A+Java%22+label%3A%22Need+community+contribution%22

[2016-06-16 07:50] wing328 commented on #3137
@debben thanks for reporting the issue. May I know if you've cycle to contribute a fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-06-16 07:51] wing328 commented on #3143
@diegode can you please also show the stack trace for the exception you got?

[2016-06-16 08:44] wing328 commented on #2978
https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md is a good starting point for making contribution.

For swift/objc API client, it's not covered by the travis-ci at the moment. You can follow the steps below to run the test locally:
[code]

If you need further assistance, please let me know.

[2016-06-16 08:56] jfiala commented on #2017
@wing328 I currently deal with CXF2/3 and would like to improve the CXF server part (to assemble a full usable server) and CXF client part, best both with bean-validation support and same model (#2549). You can assign me #2017 + #2549 if you like, I plan to do this in the next week(s)...

[2016-06-16 08:58] jfiala commented on #2359
There is already a nice Swagger2Markup converter (Java-based) called Swagger2Markup (https://github.com/Swagger2Markup/swagger2markup), which supports conversion to asciidoctor files and then to HTML and PDF, everything available as maven-tasks, if this helps...

[2016-06-16 09:18] wing328 commented on #2359
@jfiala yes, I'm aware of Swagger2Markup and it looks good.

From what I know, Swagger2Markup does not contain installation instruction nor code sample/getting start section to more easily onboard the developers.

[2016-06-16 09:20] wing328 commented on #2017
@jfiala thanks for offering contributions for the improvement. Please let us know if you need any help (e.g. testing)

[2016-06-16 09:24] taxpon commented on #3129
Merged #3130

[2016-06-16 09:24] #3129 closed

[2016-06-16 09:48] #2138 closed

[2016-06-16 10:04] cbornet commented on #2017
@jifiala IMO, CXF should be done as a library of the jax-rs generator.
Today it differs from JavaJerseyServerCodegen in that it uses JAXB instead of Jackson (I think it can and should use Jackson), it groups the operations by tag and not by path (I don't know cxf but this looks suspicious : what happens if two methods have the same path ? How will CXF resolve the path mapping ?) and it doesn't use

[2016-06-16 12:39] jimschubert commented on #3006
@wing328 If we provide both (build.sbt and ProjectBuild.scala), it would require an option because two of the same project definitions can't live side by side. You can, however, have ProjectBuild.scala and any other .sbt file and sbt will compile and merge the contents of all of these under the `/project` directory.

[2016-06-16 13:35] wing328 commented on #3006
@jimschubert then I would prefer to go with build.sbt and if users report issues building the sdk using sbt, then we'll consider ProjectBuild.scala.

[2016-06-16 15:10] diegode commented on #3143
@wing328 sure, this is:
`[main] INFO io.swagger.parser.Swagger20Parser - reading from test.yaml
Exception in thread "main" java.lang.RuntimeException: Could not process model 'bar'
	at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:244)
	at io.swagger.codegen.cmd.Generate.run(Generate.java:223)
	at io.swagger.codegen.SwaggerCodegen.main(SwaggerCodegen.java:36)
Caused by: java.l

[2016-06-16 17:07] jfiala commented on #2359
@wing328: it provides a maven integration template which shows all steps necessary (Swagger -> Asciidoctor -> HTML/PDF):
https://github.com/Swagger2Markup/swagger2markup-maven-project-template/

So it should be no problem to pick it up and use it....

[2016-06-16 17:11] jfiala commented on #2017
@cbornet: I'd start from the existing Server CXF generator:
https://github.com/swagger-api/swagger-codegen#java-jax-rs-apache-cxf-2--3

I'm using CXF + Jackson right now (as jettison didn't work properly). I'll add this with the lastest CXF/Jackson versions...
Since CXF3 it offers the Swagger2Feature which allows you to generate the Swagger-spec in addition to WADL, looks really nice and also supp

[2016-06-16 19:50] ferristseng opened #3155 "[JAVASCRIPT] Uncaught ReferenceError in constructFromObject"
##### Description

I'm running into an error in `constructFromObject`:

[code]

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

I can try to supply a simplified declaration if needed. I think the issue is just a typo, so I don't really want to spend the time testing this further.

##### Command line used for generation

[code]

The conf that is pointed to has a

[2016-06-17 00:14] webron opened #3157 "Jersey2 Jaxrs Import org.glassfish.jersey.media.multipart"
_From @stfanbrg on June 2, 2016 14:14_

Hi,

I set the parameter   library to "Jersey core 2" for code generator but each  time I have to  replace (in my XyzApiService and XyzApi)

import com.sun.jersey.multipart.FormDataParam;
import com.sun.jersey.core.header.FormDataContentDisposition;

with

import org.glassfish.jersey.media.multipart.FormDataContentDisposition;
import org.glassfish.jersey.med

[2016-06-17 00:52] jimschubert commented on #3006
@wing328 Thanks. Sorry to hijack this issue with discussion more related to #241.

To provide some context for this issue, you'll want to add the following two things to java's build.sbt:

[code]

crossPaths removes scala suffixes (e.g. `_2.11`), and autoScalaLibrary tells sbt to not include the scala-lang or whatever as a dependency.

[2016-06-17 01:36] wing328 commented on #2359
For installation instruction and code sample/getting start section, I was referring to the auto-generated SDKs, not Swagger2Markup itself.

In other words, this task aims to provide documentation for the auto-generated SDK in a particular language.

Here is a an example:  https://github.com/wing328/test-python

[2016-06-17 08:02] jfiala commented on #2359
ok, sorry - I wasn't sure if an additional documentation for the client is needed if there's already the API documentation...

[2016-06-17 10:33] moanrose commented on #3105
I would suggest that the desiralization of date are not handled by swagger codegen, I am sure that Angular 2 has a extensibility point for deserializing similar to Angular 1 see #2776

[2016-06-17 10:53] wing328 commented on #3105
@moanrose thanks for the suggestion. For other langauges (e.g. C#, Java, Ruby, Python, etc), the auto-generated SDK handles the deserialization of string back into datetime object in the language automatically so doing the same in Angular 1or 2 API client will make the developer experience more consistent.

If it's more common for Angular 1 or 2 developers to handle the deserialization in their ow

[2016-06-17 10:54] wing328 commented on #2776
@moanrose thanks for the suggestion. For other langauges (e.g. C#, Java, Ruby, Python, etc), the auto-generated SDK handles the deserialization of string back into datetime object in the language automatically so doing the same in Angular 1or 2 API client will make the developer experience more consistent.

If it's more common for Angular 1 or 2 developers to handle the deserialization in their ow

[2016-06-17 11:34] t8rafa opened #3159 "[Swift] Need an import in ApiHelper.swift"
#### Description
This class uses NSNumber in convertBoolToString() method.
I believe that is missing an import Foundation

##### Command line used for generation

I am using editor.swagger.io

##### Suggest a Fix

import Foundation

[2016-06-17 11:37] wing328 commented on #3159
@t8rafa please pull the latest master to generate the Swift API client as the issue may have been addressed already.

"Getting Started" section in the readme is a good starting point.

[2016-06-17 20:49] danadam opened #3161 "[JAVA, JS] Exception during generation when parameter's schema has allOf"
##### Description

The code generator fails with exception when processing valid swagger definition file:

[code]
##### Swagger-codegen version

`cc5e79cd0d19 (2016-06-17 19:36:24 +0800) wing328 - move server stub doc to wiki`
##### Swagger declaration file content or url

[code]
##### Command line used for generation

`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate

[2016-06-17 20:59] danadam opened #3162 "[JAVA, JS] A class with no members for model of type string"
##### Description

I have a model of type string (with maxLength but it doesn't affect anything). Java class generated for it has no members at all:
[code]

##### Swagger-codegen version

``cc5e79cd0d19 (2016-06-17 19:36:24 +0800) wing328 - move server stub doc to wiki``

##### Swagger declaration file content or url

[code]

##### Command line used for generation

``java -jar modules/swagger-code

[2016-06-17 23:14] delenius opened #3164 "[JavaScript] Missing model annotations in generated JSDoc?"
When creating a JS client with the `emitJSDoc=true` option, the parameters of the model classes are lacking type annotations. For example, I have a generated `model/Document.js` class with this constructor:

[code]

The generated HTML page for this model class has a table, which is also missing this type information, as seen here:
![screenshot 2016-06-17 16 05 08](https://cloud.githubusercontent.c

[2016-06-18 01:14] gregsherrid commented on #3014
I was seeing the same error when I exported a javascript client from the editor GUI and added it to my node project.

When I switched to the command line codegen, I got a series of errors like this instead:

[code]

Interestingly, I saw that some of the filenames within 'index.js' were off:
[code]

Manually changing the file path to `InlineResponse200.js` (along with others) to match the filename

[2016-06-18 01:52] jimschubert commented on #3137
@wing328 @debben ignoring the `sourceFolder` option was the intention. Please see my comment in the referenced PR (#3160)

[2016-06-18 03:18] wing328 commented on #3162
`foo` is missing the `properties`, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L613

[2016-06-18 03:27] gtrevg commented on #3143
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  gtrevg@gmail.com
    Domain plentyproductions.com has exceeded the max emails per hour (210/200 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2016-06-18 03:27] gtrevg commented on #3155
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  gtrevg@gmail.com
    Domain plentyproductions.com has exceeded the max emails per hour (209/200 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2016-06-18 06:52] wing328 commented on #3143
I couldn't repeat the issue with the latest master:
[code]

Please pull the latest master to give it a try.

[2016-06-18 06:53] #3155 closed

[2016-06-18 11:39] RowanJKWalker opened #3168 "[csharp] Allow additional-properties to set Assembly Info"
##### Description

These lines of code, https://github.com/swagger-api/swagger-codegen/blob/v2.1.6/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CSharpClientCodegen.java#L142-L146 , sets the values of:
- packageTitle
- packageProductName
- packageDescription
- packageCompany
- packageCopyright

This means they have the same values for every CSharp client generated.

We want to

[2016-06-18 14:29] jimschubert commented on #3168
@RowanJKWalker Thanks for providing this feedback.

One clarification:

`CodegenConstants.PACKAGE_NAME` is the namespace while `packageTitle` is the assembly's title which would display in DLL properties, these aren't the same thing.  From [AssemblyTitleAttribute Class](https://msdn.microsoft.com/en-us/library/system.reflection.assemblytitleattribute(v=vs.110).aspx):

While there's no steadfast ru

[2016-06-18 14:47] jimschubert commented on #3168
@RowanJKWalker actually, since this is a pretty simple fix, would you like to provide a PR?

My recommendation is to add the constants to `CodegenConstants`, then add the properties and their defaults to `AbstractCSharpCodegen` and pull/set values in `processOpts` like others:

[code]

[2016-06-18 14:53] jimschubert commented on #3040
@kdc415 just wanted to follow up, was the example I provided helpful?

[2016-06-18 14:57] jimschubert commented on #3026
@wing328 this is the same issue as #3047, and the test is conditionally skipped by #3067 (already merged).

The problem is that `build.sh` and `Build.sh` are the same file on Windows, while they aren't on OS X or Linux. The test didn't previously account for being run on Windows.

[2016-06-18 15:07] jimschubert commented on #3007
@ePaul

I agree with your feature suggestion.

If you ever have a problem like this with an older version and you're trying to debug an issue, you can extract the manifest from he jar and look at the `implementation-version`:

[code]

[2016-06-18 15:24] wing328 commented on #3007
If anyone from the community wants to work on this, please reply to let us know (to avoid duplicated effort)

[2016-06-18 15:26] wing328 commented on #3026
@jimschubert thanks for looking into this. Closing this as the fix (#3067) has been merged into master.

[2016-06-18 15:26] #3026 closed

[2016-06-18 15:43] jimschubert commented on #2846
@mythofcode The documentation states:

The generator in current master follows this logic:

[code]

I've checked and [`generateModels`](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L217), [`generateApis`](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/sw

[2016-06-18 16:10] diegode commented on #3143
@wing328 great! git-bisecting I found that this commit fixed it: https://github.com/swagger-api/swagger-codegen/commit/7dfddd449ddc2ae8e7e35b6d5ab7fc10e52bc93d
Thanks!

[2016-06-18 16:28] wing328 commented on #3143
@diegode thanks for the confirmation. Issue closed.

[2016-06-18 16:28] #3143 closed

[2016-06-18 22:25] danadam commented on #3162
True, because it is of type ``string`` and ``properties`` is a valid keyword for type ``object`` (according to [JSON Schema Validation](http://json-schema.org/latest/json-schema-validation.html) document).

This is a valid spec file, at least according to [swagger editor](http://editor.swagger.io), so I would expect that:

* either ``MyParam`` class has a ``foo`` member of type ``String`` (and the

[2016-06-18 23:51] RowanJKWalker commented on #3168
Cool, will do. Thanks!

[2016-06-19 06:05] RowanJKWalker commented on #3168
Here is my Pull Request for this issue https://github.com/swagger-api/swagger-codegen/pull/3169

[2016-06-19 11:03] yuvalishay opened #3170 "Swagger got javax.ws.rs.client.ResponseProcessingException: No message body reader has been found for class>"
##### Description

Swagger got javax.ws.rs.client.ResponseProcessingException: No message body reader has been found for class>

I'm using swagger to generate my client code with JERSEY 2 Client lib. ( on server side - java-cxf )

I'm running my getUser() REST call successfully to my server and get back response code 200 with my returned USER Object Json representation.

But when try to convert th

[2016-06-19 11:21] clasnake opened #3171 "Scalatra petstore sample compile error"
##### Description

The current scalatra petstore sample generated by the latest template in master doesn't compile.

![image](https://cloud.githubusercontent.com/assets/1590497/16177001/8dda7048-3652-11e6-86bb-cf5d5e06f1de.png)

##### Swagger-codegen version

Current master branch.

##### Steps to reproduce

mvn clean package
./bin/scalatra-petstore-server.sh
cd samples/server/petstore/scalatra/
s

[2016-06-19 11:44] wing328 commented on #3171
I will take a look when back home. My guess is due to old mustache tags not
yet migrated as part of the generator migration from scala to Java a year
ago.
On Jun 19, 2016 7:21 PM, "clasnake" <notifications@github.com> wrote:

[2016-06-19 11:47] wing328 commented on #3170
There was an issue with the jersey2 lib for taxes and we've fixed it in the
latest master. Please pull the latest to give it a try.

Note: we also make jersey2 the default htto lib for jaxrs in the latest
master
On Jun 19, 2016 7:03 PM, "yuvalishay" <notifications@github.com> wrote:

[2016-06-19 18:56] dwasyluk opened #3173 "nodejs-server generates invalid root securityRequirement tag"
Having an issue where generated code contains something that is reported as an invalid tag. When I use swagger-codegen to generate nodejs server code and then run 'node .' I get the following error related to the generated file in /api/swagger.yaml:

If I change the generated root tag of 'securityRequirement:' to 'security:' the server runs but I do not see anything in swagger UI that suggests all

[2016-06-19 23:41] dwasyluk commented on #3173
The version of swagger-codegen being used on editor.swagger.io does not produce the erroneous securityRequirement tag, i don't see any references to the generated security information anywhere in the output outside /api/swagger.yaml.

[2016-06-20 06:08] wing328 commented on #3078
@dknaack I ran the following:
[code]
and `mvn package` does not report any issue:
[code]
Are you using the latest master to generate Java Retrofit2 client?

[2016-06-20 06:09] wing328 commented on #3060
@pambeard did you have a chance to pull the latest master and build locally to give it another try?

[2016-06-20 06:10] wing328 commented on #3044
PR merged. Issue closed.

[2016-06-20 06:10] #3044 closed

[2016-06-20 06:14] wing328 commented on #3033
@runeksvendsen thanks for reporting the issue. You are correct in saying that typescript allows an option to specify the naming convention of the model property name but I would suggest using a library for mapping between property name and JSON key name.

For Java, C#, that's done by the JSON library.

For ruby and php, there's no library available to do that and we've manually handled the object

[2016-06-20 06:15] wing328 commented on #3033
cc @algas

[2016-06-20 06:17] ralfstuckert commented on #2874
Same issue if you use the feign library using java8. Problem is here the ApiClient, which still uses JodaModule:
[code]
Tried this with 2.2.0-SNAPSHOT from 06/17/2016

[2016-06-20 06:20] wing328 commented on #2874
@wienczny @ralfstuckert thanks for reporting the issue.

Just yesterday, we merged https://github.com/swagger-api/swagger-codegen/pull/3174/files, which is related to java8, dateLibrary and jersey2.

I wonder if you can pull the latest to give it a try.

[2016-06-20 06:25] wing328 commented on #2907
PR merged. Closing the issue.

[2016-06-20 06:25] #2907 closed

[2016-06-20 06:26] wing328 commented on #2849
@jerrylawson  PR merged. Please pull the latest to give it a try.

[2016-06-20 06:26] #2849 closed

[2016-06-20 06:27] wing328 commented on #2848
@jerrylawson do you need any help with the change? Let us know.

[2016-06-20 06:29] wing328 commented on #2837
Thanks for sharing the spec (deleted). I did a test with the latest master and didn't get any issue.

Issue closed.

[2016-06-20 06:29] #2837 closed

[2016-06-20 06:31] wing328 commented on #2838
@winster please provide the spec so that we can reproduce the issue.

Issue closed for now.

[2016-06-20 06:31] #2838 closed

[2016-06-20 06:31] wing328 commented on #2819
@hacki11 did you have a chance to review the feedback from @jimschubert and give it a try?

[2016-06-20 06:33] wing328 commented on #2817
@aoboturov do you submitting a PR so that we can review your proposed fix/change?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-06-20 06:34] wing328 commented on #2823
@haroldcarr please try the feign or retrofit2 generator.

Issue closed for now.

[2016-06-20 06:34] #2823 closed

[2016-06-20 06:55] wing328 commented on #2851
@billharrelson I assume this has been addressed. If not, please reply to let us know.

Closing the issue for now.

[2016-06-20 06:55] #2851 closed

[2016-06-20 06:57] wing328 commented on #2856
Agreed that it's beyond the scope of code gen.

Currently we don't support empty model as most langauges will throw an compilation error.

[2016-06-20 06:57] #2856 closed

[2016-06-20 06:57] wing328 commented on #2868
PR merged. Issue closed.

[2016-06-20 06:57] #2868 closed

[2016-06-20 06:58] wing328 commented on #2874
cc @cbornet

[2016-06-20 06:58] ralfstuckert commented on #2874
Hmm, still getting this problem. But since I'm working with a snapshot, I wonder if some caching tricks me here. So I can't tell 100%, sorry.

[2016-06-20 06:59] wing328 commented on #2892
@cwbuecheler sorry I've no idea either.

I've marked this as "Need community contribution" for the time being to see if anyone from the community has a clue.

[2016-06-20 07:01] wing328 commented on #2874
@ralfstuckert np. thanks for giving it a try. To fix it we need to do the following for `java8` dateLibrary oiption:
- remove `import com.fasterxml.jackson.datatype.joda.JodaModule;`
- remove `    objectMapper.registerModule(new JodaModule());`

If that's correct, I can submit a PR for Java Feign API client.

[2016-06-20 07:08] wing328 commented on #2767
Added via https://github.com/swagger-api/swagger-codegen/pull/3172

[2016-06-20 07:08] #2767 closed

[2016-06-20 07:09] wing328 commented on #2741
@rahulc-nrift let us know if you still experience the issue with the latest master.

Closing the issue for now.

[2016-06-20 07:09] #2741 closed

[2016-06-20 07:09] #2709 closed

[2016-06-20 07:10] #2673 closed

[2016-06-20 07:17] wing328 commented on #2461
Done via https://github.com/swagger-api/swagger-codegen/pull/3046

Thanks @zhenjun115 for the contribution!

[2016-06-20 07:17] #2461 closed

[2016-06-20 07:21] aoboturov commented on #2817
Wow, one month + 10 days for a reply...
On Jun 20, 2016 8:33 AM, "wing328" <notifications@github.com> wrote:

[2016-06-20 07:29] wing328 commented on #3171
The issue is due to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/scalatra/api.mustache#L38

It uses several mustache partial for declaring method parameters.

I suggest we reuse the method declaration in Scala API client template to avoid using several partials if possible.

[2016-06-20 07:30] #2841 closed

[2016-06-20 07:30] wing328 commented on #2841
Fixed via #3177. Please pull the latest master and give it a try.

[2016-06-20 07:40] cbornet commented on #2874
I think this is fixed on master by #3065

[2016-06-20 07:46] cbornet commented on #2874
This has been done for jersey1/jersey2 and can be done for all java clients.
This is simple jackson config for Feign. For gson based libs, TypeAdapter classes might be needed. I can work on that if needed.

[2016-06-20 07:49] wing328 commented on #2874
@cbornet thanks. Please file a PR when you've time.

[2016-06-20 07:55] wing328 commented on #2423
@Lotti do you need help filing a fix/PR?

[2016-06-20 08:02] wing328 commented on #3164
@delenius  I found the following syntax:
[code]
Ref: http://speakingjs.com/es5/ch29.html

so looks like the parameter type should be in curly brackets right after @param

[2016-06-20 08:13] wing328 commented on #2412
Discussion moved to #2549

[2016-06-20 08:13] #2412 closed

[2016-06-20 08:15] #2386 closed

[2016-06-20 08:16] wing328 commented on #2386
The latest master supports the `dateLibrary: java8` option.

[2016-06-20 08:17] wing328 commented on #2379
@romk1n closing this as there's no update from you.

[2016-06-20 08:17] #2379 closed

[2016-06-20 08:18] wing328 commented on #2381
@urzds please let us know if you've cycle to contribute the enhancements.

[2016-06-20 08:18] wing328 commented on #2364
@vinimk25 closing this as there's no update.

[2016-06-20 08:18] #2364 closed

[2016-06-20 09:52] dan-lind commented on #1176
Any progress on this issue?

[2016-06-20 10:58] baholladay commented on #3014
I ended up just switching over to https://github.com/swagger-api/swagger-js and have had good results so far.

[2016-06-20 11:20] dylan-colaco commented on #3088
I know that stackoverflow is the actual place for such problems, but I thought you guys would be able to help better. I understood how to get an object of a model using API classes that internally make get requests. However, one of my Models goes not have an API Class (that's the way this swagger API was designed), but instead sends the configuration of the model as payload in a push notification.

[2016-06-20 12:47] wing328 commented on #3014
@gregsherrid I'll take a look at the file name issue later today.

[2016-06-20 13:28] clasnake commented on #3171
Ok, I'll take a look.

[2016-06-20 16:04] wing328 commented on #3014
@gregsherrid the issue should be addressed in the master.
[code]
Please pull the latest to give it another try.

[2016-06-20 16:04] wing328 commented on #3014
@baholladay sorry to hear that you've switched to swagger-js to resolve the issue.

Do you mind pulling the latest master to generate the JS API client again and see if you experience the same issue?

[2016-06-20 18:10] ebelanger opened #3183 "[JAVA] propagate fluent setters from jersey codegen to other java codegens"
##### Description

A builder pattern when creating a complex request content would facilite usability.

##### Swagger-codegen version

2.1.6

##### Suggest a Fix

I would propose something like:

[code]

I will at one point probably create the mustache templates and would be able to provide them if this issue is accepted.

[2016-06-20 19:10] dkelkhoff opened #3184 "In csharp client, model member names which match class name cause compile errors"
##### Description
We have a model class which has a member, whose name is the same as the class's name.  This causes the following compile error in the csharp client:
```src/Infoplus/Model/Carrier.cs(54,21): error CS0542: `Infoplus.Model.Carrier.Carrier': member names cannot be the same as their enclosing type```

##### Swagger-codegen version
Version 2.2.0-SNAPSHOT / HEAD.

##### Swagger declarat

[2016-06-21 00:58] jimschubert commented on #3184
@dkelkhoff Thanks for reporting this. #2943 previously reported the issue, and #2962 is an open PR to resolve the issue. Can you review the issue and PR to verify this is the same issue you're seeing?

[2016-06-21 02:32] wing328 commented on #3183
@ebelanger your suggestion sounds good to me as it's non breaking and developers who prefer the builder pattern would also benefit from this.

cc @cbornet

[2016-06-21 05:17] kdc415 commented on #3040
Very much so Jim - thank you. I wanted to do some quick prototyping and
that was helpful.

Looking forward to the Core RTM so we can all move forward.

--
Ken Corley
Master Technology Solutions, LLC
334-262-8668

On Sat, Jun 18, 2016 at 9:53 AM, Jim Schubert <notifications@github.com>
wrote:

[2016-06-21 05:53] tanaka-takayoshi commented on #2938
I'm afraid the same issue is existing in typescript-node. Should I create a new issue for typescript-node or don't need to do so?

[2016-06-21 07:00] cbornet commented on #3183
IMO a builder is mostly needed when you have an immutable POJO (without setters). Since we generate the setters for all the properties, I don't think there is a big gain here...

[2016-06-21 07:10] cbornet commented on #3157
@stfanbrg Can you test with latest master ? Also please paste the command line you use for generation.

[2016-06-21 08:20] wing328 commented on #3184
@dkelkhoff I've filed https://github.com/swagger-api/swagger-codegen/pull/3187 to fix it. There are 2 issues.

1) model & property having the same name is fixed by a case-insensitive comparison between model & property name
2) model with only read-only property fixed by introducing an additional mustache tag "hasOnlyReadOnly"

[2016-06-21 10:02] talolierwork opened #3188 "[Java] Bug in client code generation with Retrofit2 fails to add new Auth Interceptor to OkHttpClient used"
##### Description

When trying to use Java swagger codgen auto-generated client with basic Auth it fails.

##### Swagger-codegen version
2.1.6
As far as I know this is not a regression.
2.1.6 is the first version I am using.
This does not look like something added lately.

##### Command line used for generation

generate
                    -l java
                    --artifact-version 1.0.0

[2016-06-21 10:22] cbornet commented on #3188
Indeed, with the upgrade to okhttp3, the interceptor list is now immutable !
We can use ```okClient.newBuilder()``` to recontruct a builder from the built client or only store the okClientBuilder and build the client at the last moment in createService().

[2016-06-21 10:52] ebelanger commented on #3183
I would disagree with you on that point.  A builder pattern helps when creating a complex data structure that has multiple levels since it removes the need for variable declaration for nested objects.

[code]

It is equivalent to a cascade operator that is present in some languages like Dart for example.  It's also really nice when it is the last parameter of a method since again it removes variab

[2016-06-21 11:57] dkmilan commented on #3079
encounter the same issue? any idea to fix it?

[2016-06-21 12:10] wing328 commented on #3079
You will need to run `mvn install` to install the jar to your local maven repo.

[2016-06-21 12:13] cbornet commented on #3183
You can also do that by returning ```this``` in the setter.
Also, my personnal taste for builder method naming is more
[code]
My main concern with the builder pattern is that it adds a lot of quasi-duplicate code so if it can be avoided the better.

[2016-06-21 12:15] dkmilan commented on #3079
@wing328 i did... but will try again, thanks

[2016-06-21 12:32] cbornet commented on #3183
Actually the fluent setters are already generated together with the standard ones so you can already use the code snippet above.

[2016-06-21 12:41] wing328 commented on #3079
Please provide more details such as the exact command you executed and the error message.

[2016-06-21 12:42] cbornet commented on #3183
Not that fluent setters is even more compact than builder since you don't have to call build() (that is missing from your code snippet btw :wink: )

[2016-06-21 13:01] ebelanger commented on #3183
I guess I meant fluent setters then since I was instantiating a new Person() and not a new Person.builder() :)

What configuration did you use to generate the fluent setters though?  They don't appear when I generate with retrofit2.

[2016-06-21 13:06] wing328 commented on #3079
This may help as well: http://stackoverflow.com/a/36829960/677735

[2016-06-21 13:06] cbornet commented on #3183
Yes, it seems to be only in jersey model. I guess we need to propagate to the other java codegens.

[2016-06-21 13:14] cbornet commented on #3183
@ebelanger can you change the title of your issue ?

[2016-06-21 13:15] dkmilan commented on #3079
@wing328 fixed.. i made a stupid error... i was running mvn install in swagger-codegen/modules/swagger-codegen

[2016-06-21 13:16] ebelanger commented on #3183
Will do.  I edited my previous post and would like your opinion on the introspection aspect if possible :)  It's pretty important for us since we use libraries for mapping generation that depends on the JavaBean specs.

[2016-06-21 13:16] wing328 commented on #3079
@dkmilan np.

@daisymoon let us know if you still need help from us (the community)

[2016-06-21 13:40] cbornet commented on #3183
Both the JavaBean setter (returning void) and the fluent setter are generated so introspection should work just fine (it works at least with Jackson since the jersey codegen works well)

[2016-06-21 13:53] dkelkhoff commented on #3184
@wing328

I merged ```model_propert_same_name``` locally, and after a rebuild of all the things, I think it does resolve my issue.  I can't 100% tell, because the only environment I have for compiling this thing is the mono docker image I referenced in the issue, and I get a few different errors when I run the ```compile-mono.sh``` script in that:

[code]

But - I'm guessing those are unrelated to

[2016-06-21 13:59] #3184 closed

[2016-06-21 14:01] wing328 commented on #3184
@dkelkhoff thanks for testing the fix, which has been merged into the master.

Please pull the latest to get the fix.

For the `compile-mono.sh` issue, I'll take a look as well

[2016-06-21 14:02] dkelkhoff commented on #3184
@wing328

I would say, don't worry about the ```compile-mono.sh``` issue.  When I actually read the error message, all it's saying is that my container doesn't have the 2 dependencies installed which are clearly listed as required for the client.  So, this is 100% my problem, not yours.

Thanks again.

[2016-06-21 14:06] wing328 commented on #3184
@dkelkhoff ok. No problem and thanks again for reporting the issue with the details.

[2016-06-21 15:35] daisymoon commented on #3079
@wing328 thanks, I found a way to work around it

[2016-06-21 19:25] delenius commented on #3164
@wing328 right, so that needs to be added to the JS generator.

[2016-06-21 21:33] stfanbrg commented on #3157
@cbornet I am not in my office for the week. I use the button in the web menu of swaggerhub  to generate my code .

[2016-06-22 02:21] wing328 commented on #3164
@delenius may I know if you've cycle to contribute the enhancement?

[2016-06-22 09:39] wing328 commented on #2980
@ImpThomasHein closing this as we've not heard anything from you.

[2016-06-22 09:39] #2980 closed

[2016-06-22 09:45] wing328 commented on #3173
@dwasyluk I tested with latest master and couldn't repeat the error:
[code]

[2016-06-22 09:50] wing328 commented on #3161
We don't support `allOf` in method's parameters at the moment.

As a workaround, please define the models without `allOf` for the time being.

[2016-06-22 10:53] RowanJKWalker commented on #3168
Closing this issue as [Pull Request](https://github.com/swagger-api/swagger-codegen/pull/3169) has now been merged into master.

[2016-06-22 10:53] #3168 closed

[2016-06-22 11:48] philicious opened #3192 "[Qt5/C++] Wrong default value for integers"
##### Description

datatypes `qint32` and `qint64` are rendered with default value `= NULL;` but should be `0`

##### Swagger-codegen version

latest from editor.swagger.io

##### Suggest a Fix

I think it somehow has to do with https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L254 but for some reason

[2016-06-22 12:45] wing328 commented on #3192
@philicious editor.swagger.io is not using the latest version of swagger codegen.

Mind sharing the spec so that we can more easily reproduce the issue?

[2016-06-22 13:05] philicious commented on #3192
@wing328 ye I know. But I've seen it being `=NULL` also with code generated from swagger-codegen/master ~2 weeks ago.

I didnt share any spec as its trivial and doesnt require any special case. Simply have integer properties like
[code]
which results in
[code]
and
[code]

[2016-06-22 13:11] dan-lind opened #3193 "[Spring] Add support for the contextPath in Spring-boot gen"
##### Description

I recently went from 2.1.6 to 2.2.0-SNAPSHOT.
With 2.1.6, the SpringMVC server stub served the generated api at /basePath.
With 2.2.0-SNAPSHOT this is no longer the case, the api is simply served at /
(bottom of http://localhost:8080/swagger-ui.html also says [ base url: / , api version: 1.0.0 ] )

##### Swagger-codegen version

2.2.0-SNAPSHOT, commit eda6d35b9f2b02099e4305bd3e6

[2016-06-22 13:38] faresd opened #3194 "Model imports don't support nested Arrays and Maps."
Model imports don't support nested Arrays and Maps.
##### Description

The problem can be reproduced using Swagger property the contains a nested Arrays such as:

[code]

In the model generated (in my case JS) don't include the object "ApiNameValue" in the imports.
##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

https://swagger-ui-1243.appspot.com/apis/search/v

[2016-06-22 14:09] stunney commented on #3138
Changes merged.  Closing issue.

[2016-06-22 14:09] #3138 closed

[2016-06-22 15:04] wuchenwang opened #3196 "[Java/Jersey-1.18] Support additional property to declare a list of used dependencies in generation configuration file."
##### Description

We are using the swagger-codegen jersey-1.18 to generate a server stub that different service team could use to hook their own implementation to, in doing that, they will need to declare dependencies in their build assembly file. Currently swagger-codegen does not support any customizable dependency declaration in `pom.xml`, we would like to have this feature where we could use

[2016-06-22 15:11] joskfg opened #3197 "[PHP] Client documentation"
##### Description

The documentation generated has invalid namespaces.

##### Swagger-codegen version

2.1.6

##### Swagger call

I call https://generator.swagger.io/api/gen/clients/php using this parameters

[code]

##### Steps to reproduce

Just use a different modelPackage and apiPackage than:
invokerPackage + /Api/

For example:
[code]

##### Suggest a Fix

Instead of use in the documentation

[2016-06-22 19:52] arnested commented on #3197
This is already fixed in the current master branch and should appear in the upcoming 2.2.0 release.

Thank you for reporting this anyway.

[2016-06-22 20:14] arnested commented on #2759
I believe this is fixed in the current master branch and should appear in the upcoming 2.2.0 release.

[2016-06-23 00:48] jimschubert commented on #2896
I was going through C# issues to see if there was any new information. Saw the link I provided earlier was to the wrong file. Actual file is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/ApiException.mustache#L21.

Relevant code:
[code]

Where `supportsAsync` is set depending on the target framework.

@kbrooks please verify, or provide

[2016-06-23 02:02] wing328 commented on #3197
@joskfg can you please pull the latest master to help confirm?

[2016-06-23 04:19] wing328 commented on #2714
@JoshuaWhatley @JoshuaWhatley UPDATE: I've filed https://github.com/swagger-api/swagger-codegen/pull/3199 to support array/map (any dimensions) of enum in C#.

[2016-06-23 05:48] JoshuaWhatley commented on #2714
That's exciting! I'll take a look. Thanks for looking into this, it is very appreciated!

[2016-06-23 06:23] wing328 commented on #3193
@dan-lind please note that in the latest master `spring`generates spring boot instead of spring mvc server stub.

To generate server stub for spring mvc, please set library to `spring-mvc`.

Ref: https://github.com/swagger-api/swagger-codegen/pull/3133

cc @cbornet

[2016-06-23 06:41] dan-lind commented on #3193
Yes, I saw that, sorry for being unclear.
So this issue is relates to spring boot.

[2016-06-23 06:50] wing328 commented on #2759
@sbelan can you please pull the latest master and give it a try?

[2016-06-23 07:33] cbornet commented on #3193
@dan-lind I don't reproduce your issue. To me, the API was already served on / on 2.1.6.

[2016-06-23 07:36] cbornet commented on #3193
Ah, you mean jetty's context path ! I'll have a look.

[2016-06-23 07:40] cbornet commented on #3193
Jetty's context path seems to still uses the basePath on master. See https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/spring-mvc/pom.xml
[code]
for petstore.yaml
[code]

[2016-06-23 07:53] cbornet commented on #3193
I also generated petstore_full.yaml with
[code]
then in the project dir
[code]
then
[code]
so the /v2 basePath is used !

[2016-06-23 07:55] dan-lind commented on #3193
I see that you tested here with spring-mvc. I know I was a bit unclear in the initial issue, but if you look at my maven execution config in the first post, I used spring boot. Is it possible that this is an issue for spring boot but not spring-mvc ?

[2016-06-23 08:25] cbornet commented on #3193
Indeed, the springboot gen doesn't use the basePath.
It's easy to add with ```server.contextPath={{#contextPath}}``` in application.properties

[2016-06-23 09:56] wing328 commented on #3196
@wuchenwang one way is to use vendor extension: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#vendorExtensions and then use customized template with `-t` option.

Would that meet your requirement?

[2016-06-23 10:38] dan-lind commented on #2663
I might be interested in adding validation for Spring. I have added validation for @Pattern and @NotNull at this point. Would need some pointers though. For example, since min/max comes in as Double, these can't be put in @Min/@Max, as they expect longs. I guess they can be converted somewhere, but I'm unsure of where.

[2016-06-23 11:51] wing328 commented on #2663
@dan-lind thanks for offering contribution. For conversation of the max/min value, I'll need make some minor changes in order to support per-language max/min value.

How urgent do you want to add the validation?

[2016-06-23 12:01] dan-lind commented on #2663
Not that urgent, I'd probably look into it sometime during july/august.

[2016-06-23 12:06] cbornet commented on #2663
@dan-lind for float types, you can use @DecimalMin/@DecimalMax

[2016-06-23 12:15] gsantner opened #3200 "php slim generator - models"
##### Description

Generated Model code for PHP - Slim contains only `private` members, and no constructor.
Usually you use the models and set the properties, please add boilerplate code, so this doesn't need to be done every time after generating.
I first thought of default public, because I mostly use it just as data container (..wrong way to resolve the issue). A simple constructor would be eno

[2016-06-23 13:51] bensteUEM opened #3202 "escapeString method of ApiInvoker is empty [Android]"
##### Description

while adding parameters in io.swagger.client.request.APIinvoker the escapeString method is used to wrap input and convert e.g. from space to %20 for the correct url encoding, however the escapeString method used does not do the required action and returns the unchanged result

##### Swagger-codegen version

 i think 2.0.0 (3 days ago export)

##### Swagger declaration file conte

[2016-06-23 13:55] bensteUEM commented on #3202
suspecting https://github.com/swagger-api/swagger-codegen/blob/6697c865c28bd7b6844124a3ca9b1d6aee6f3bec/samples/client/petstore/android/httpclient/src/main/java/io/swagger/client/ApiInvoker.java#L209

[2016-06-23 14:16] wing328 opened #3203 "[C++] Style Guide for C++ API client"
##### Description

We want the auto-generated C++ API client (Qt5, Tizen, REST SDK) to follow the Google C++ style guide: https://google.github.io/styleguide/cppguide.html

Here are some examples: http://stackoverflow.com/questions/3062277/sample-code-with-examples-for-the-c-google-style-guide

##### Swagger-codegen version

2.2.0 or later

##### Suggest a Fix

If anyone from the community has cyc

[2016-06-23 14:16] bensteUEM commented on #3202
https://github.com/swagger-api/swagger-codegen/blob/4d19da41dd8a3462f88c2be57174aace45101064/modules/swagger-codegen/src/main/resources/android/apiInvoker.mustache#L209

https://github.com/swagger-api/swagger-codegen/blob/c39bf41d1068e9d9ec1d0d8986e5305a1c5e377b/modules/swagger-codegen/src/main/resources/android/libraries/volley/apiInvoker.mustache#L231

[2016-06-23 15:06] aws-na-ss-usplu commented on #2714
@jimschubert,
Understood…  The question in not how each language will interpret enumerated types.  The question is how JSON Schema represents an enumerated type so Swagger can allow code generators to be more effective and allow interoperability between distributed systems.

The question is not how to get disparities between software implementers to agree on how they should implement enumerated ty

[2016-06-23 15:28] daisymoon commented on #3162
Yes, I have the same behaviour using this [spec](https://watson-api-explorer.mybluemix.net/listings/visual-recognition-v3.json).
Since `type` doesn´t show in the json generated for the models (`java -DdebugModels -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i https://watson-api-explorer.mybluemix.net/listings/visual-recognition-v3.json -l csharp`) what I did was this (

[2016-06-23 15:52] wing328 commented on #2714
@JoshuaWhatley @jimschubert PR merged into master.

[2016-06-23 15:56] stunney commented on #2886
I know a lot of you are talking about this work being put on hold.  For those that care I'm currently doing some work on this in stunney/swagger-codegen.  I'll be making a PR soon :)

[2016-06-23 16:14] wing328 commented on #1915
@tannhaeuser closing this as there's no update from you.

[2016-06-23 16:14] #1915 closed

[2016-06-23 16:14] wing328 commented on #2897
@romk1n please kindly pull the latest master and let us know if the issue still persists.

[2016-06-23 16:15] tamirtf commented on #3141
Hello,
I'm able to solve the issue only if I add to build.gradle the following:

apply plugin: 'maven-publish'

publishing {
    publications {
        bar(MavenPublication) {
            pom.withXml {
                def dependenciesNode = asNode().appendNode('dependencies')
                configurations.compile.allDependencies.each {
                    def dependencyNode = dependenciesNode.app

[2016-06-23 16:19] wing328 commented on #2259
@romk1n if this is still an issue, I can take a look next week.

The issue based on my understanding is that enum class (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L968) is not generated properly (while enum properties inside object are generated properly)

[2016-06-23 16:22] wing328 commented on #3141
@tamirtf what IDE are you using? Android studio 2.0?

Did you try the Java (okhttp-gson or retrofit2) API client to see if you get similar issue?

(i'm assuming you're using the latest master of swagger codegen)

[2016-06-23 16:26] wing328 commented on #3162
@danadam I believe you want to reference the property to something you defined so that you can reuse it or change it more easily later for multiple attributes. That's not supported at the moment.

As a workaround, please define the property without using $ref.

[2016-06-23 16:35] wing328 commented on #3200
@gsantner to fix the issue, I would suggest reusing the model.mustache in PHP API client for PHP Slim, Lumen, Silex to make the PHP models consistent across PHP generators.

Does the model generated in the PHP API client meet your requirement? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Model/Pet.php

[2016-06-23 16:48] gsantner commented on #3200
@wing328 Getter/Setter? Yeah, great!

While we're on it:
when a request is specified to be POST or PUT, the parameters are fetched differently than with GET.

Actual:
[code]

Should be `getParsedBody`:
[code]

[2016-06-23 17:22] Ziaccro opened #3206 "get specific result node on json"
##### Description

Hello,
i want to know if there is a option to set a specif node to get the result of the json ?

All endpoint of our api return same schema response ApiResult[T],
for exemple when i get user with findById, on the node result i get the User ApiResult[User]

`{
  "error": {
  },
  "result": {
      "email": "",
       ...
  },
  "debug": {
  },
  "meta": {
  }
}`

the user is on n

[2016-06-23 17:31] stunney commented on #2886
I can honcho that effort for sure :)
I've created a new "language" for this effort so that folks that still *need* RC1 for existing projects can still get at it without me interfering with them.  Some backwards compatibility is always a good thing.  Also, aspnet5 won't be a valid name anymore as they are calling it aspnet core 1.0, correct?  I was going to call it aspnetcore1.

I haven't checked i

[2016-06-23 18:10] jimschubert commented on #2886
@stunney You bring up good points ;)

I've already accounted for the name change in #3085. My suggestion for the name change was to have a top level generator called `aspnet` and have library options like `core-1.0rc1`, `core-1.0rc2`, etc. This way we could also have MVC 4/5 templates and it wouldn't be confusing about how to find the generators and it wouldn't clutter the list of available server

[2016-06-23 18:12] delenius commented on #3164
@wing328 ok, PR is in.

Note that some of the JS integration-tests fail, but it looks like they haven't been updated for a while, and the failure looks unrelated to my changes.

The bin/javascript-petstore.sh script even generates new files that are not tracked.

It would be good if these generated test files weren't actually tracked by the VCS, but rather generated on the fly by the CI system to

[2016-06-23 19:40] danadam commented on #3162
My use case is a primitive with limits used in many places, e.g., country code (2 character string). I was just hoping that it would be possible to create a simpler API. With the following schema:
[code]
The client would be able to send simply:
[code]
Now I will use this schema instead:
[code]
So the client will have to send:
[code]

[2016-06-23 19:56] gsantner opened #3208 "Android Client - Post request doesn't work"
##### Description
Post requests with the generated android client do not work. It always makes some kind of GET request, or fail because of an Null Pointer (HttpEntitiy = null).
There is absolutely **NO documentation**, no examples and nothing that would describe if I did something wrong or right.

Just as a note: GET-Requests work as intended, I receive the right data.

##### Swagger-codegen vers

[2016-06-23 20:27] #3208 closed

[2016-06-24 02:56] wing328 commented on #3162
Well you can simply define a model with 2 properties: `countryOfResidence` and `nationality` for the following JSON payload:
[code]
e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L612

[2016-06-24 03:01] wing328 commented on #3202
@bensteUEM thanks for reporting the issue. For Volley, I believe there's no need to escape the query parameter as the encoding is handled by the Volley library. Did you actually encounter issue sending query parameters using the Android API client with Volley library?

[2016-06-24 03:03] wing328 commented on #3208
@gsantner Please pull the latest master to generate Android API client, which uses Volley library by default.

The one using HttpClient is no longer actively maintained.

You can also use Java (Retrofit2) API client: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-06-24 03:09] wing328 commented on #3164
@delenius the issue is due to new test case in `modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml` to cover nested array/map of enum.

I'll take a look later today.

Yes, I agree with you that ideally the test should generate the updated Petstore API client but the problem is that there's no easy way to tell which language has been updated in the P

[2016-06-24 03:24] wing328 commented on #3206
As a workaround, you can describe `result` as `type: object`, which means arbitrary JSON object and the developers will need to deserialize the object themselves.

[2016-06-24 07:44] Nightapes opened #3209 "[JAVA] swagger-codegen-ignore ignores files while building java client"
##### Description

Files like .gitignore, git_push.sh, gradle-wrapper.properties are ignored by swagger-codegen-ignore.

##### Swagger-codegen version

2.1.6

##### Steps to reproduce

1. Add .gitignore to .swagger-codegen-ignore
1. change .gitignore
1. run generator
1. .gitignore is overwritten

##### Suggest a Fix

Move generation of files from supportingFiles to writeOptional

https://github.co

[2016-06-24 08:30] heikom71 commented on #2949
Same problem like Martin in my project - a patch version 2.1.7 would be fanatastic...

[2016-06-24 09:06] wing328 commented on #3209
@Nightapes that should be fixed in the latest master. Please pul the latest and give it a try.

[2016-06-24 09:28] wing328 opened #3210 "Read-only Attributes in API client's models"
### DESCRIPTION

As discussed with @fehguy, we'll not do anything special for read-only attributes in API clients' models.

### IMPACT

- some model constructors (method signature) will be changed as the read-only attributes will have a setter (which means the attribute value can be changed in the API client while the server should ignore the change when receiving the request)
- read-only attribut

[2016-06-24 11:37] Ziaccro commented on #3206
you mean all the json return as object or just the node result ?

with this solution I lose clarity on documentation and its unfortunate to force the user to reparse json

I will try to modify the swagger-codegen and add "general scheme" on it

can you give me some file name from what started reading the code please ?

[2016-06-24 11:42] wing328 commented on #3206
Just the node result.

Can you share the full spec?

[2016-06-24 12:42] Ziaccro commented on #3206
yes sure its here https://test-api.particeep.com/docs/swagger.json

[2016-06-24 14:42] wuchenwang commented on #3196
@wing328 If I understand correctly, this vendorExtension seems to add attributes to schema of a swagger api spec. I think using api to generate a service stub is sort of an implementation detail (because you can choose not to generate and implement the api-spec in your own way), so I would rather changes such as declaring dependencies the implementation is going to use be scoped to the api spec im

[2016-06-24 14:53] cbornet commented on #3196
@wuchenwang This seems really specific to your use case and I don't think this is useful for everybody. In the hand there will be too much options used by too few people with a huge maintenance cost. Why don't you just use your own pom.xml that you use in place of the generated one ?

[2016-06-24 14:59] wuchenwang commented on #3196
@cbornet  Yes I could definitely use my own pom.xml, what I would like to do is making it customizable, in order to do so some configuration change with codegen is needed.

[2016-06-24 15:13] cbornet commented on #3196
Can you describe more in details what you are trying to do ? It's not clear to me why you would add dependencies to the pom that are not used in the generated code. If it's because you then add business logic that requires new dependencies, then just add them by editing the generated pom !

[2016-06-24 15:30] wuchenwang commented on #3196
Sorry for the confusion, I didn't make my use case clear in the description. We want new service developers to easily prototype their service by defining a contract (api-spec) first and could easily spin up a service by some kind of generation, in doing so we also want them to get out of the business of wiring up their own dependencies, pom definition etc. to focus on writing business logic, somet

[2016-06-24 15:43] fehguy commented on #3196
@wuchenwang it sounds like what you really need is to have custom templates for exactly what your use case is looking for, so you can do what you're describing.  The codegen is a great starting place and has mechanisms for what you want to do, but what you describe doesn't sound like a normal use case that we're trying to solve with this project.

[2016-06-24 15:43] cbornet commented on #3196
It looks like you would need another tool to assemble the dependencies needed by swagger and the ones for your service. The pom is in xml so it's really not hard to do it by a script.

[2016-06-24 19:34] stunney commented on #2886
Looking to moustache-ize the .xproj file
Does anyone know how to generate a new UUID from moustache?  My googling has come up blank.  Would I have to write a custom javascript block at the top of this moustache file?  I can't be the first person to hit this :(

[2016-06-24 21:05] jimschubert commented on #2886
There's already support for project guid on the csharp generator.

[2016-06-24 23:53] JustSilverman opened #3215 "[Ruby] Unable to set optional boolean form params to false"
##### Description

When setting optional query parameters, the Ruby client uses a truthy check (rather than checking for nil) to check for the presence of the query parameter in the options hash.  This check will return false if the query parameter is present in the options hash with a value of false and will result in the query parameter incorrectly not being passed to the request body. The field

[2016-06-25 16:12] Nightapes commented on #3209
@wing328 yes, in the latest master it is working.

[2016-06-25 16:12] #3209 closed

[2016-06-26 09:00] thebignet commented on #1575
As of 2.1.6 this issue was fixed

[2016-06-26 09:00] #1575 closed

[2016-06-26 09:55] tamirtf commented on #3141
I use Android Studio 2.0 and the latest master of swagger codegen.
I use the latest master of swagger codegen.
I tried with okhttp-gson and I did not have the issue.

[2016-06-26 12:34] wing328 commented on #3215
@JustSilverman thanks for reporting the issue. I've filed #3218 to fix it.

[2016-06-27 01:34] #3215 closed

[2016-06-27 01:34] wing328 commented on #3215
@JustSilverman PR merged into master. Please pull the latest master to give it a try.

[2016-06-27 03:10] wing328 commented on #3200
@gsantner The model (latest master) in PHP API client supports enum as well. May I know if you've cycle to contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-06-27 03:11] wing328 commented on #3140
PR merged. Issue closed.

Thanks again for the PR from @qtstc

[2016-06-27 03:11] #3140 closed

[2016-06-27 03:28] wing328 commented on #3141
@tamirtf I've filed https://github.com/swagger-api/swagger-codegen/pull/3219 to add dependency `httpclient-android`

[2016-06-27 03:43] wing328 commented on #3159
@t8rafa closing this as there's no update.

Let us know if you still see issue with the latest master.

[2016-06-27 03:47] wing328 commented on #3096
@moanrose thanks for the PR, which improves both typescript-angular1 and typescript-angular2

[2016-06-27 03:47] #3096 closed

[2016-06-27 03:53] wing328 commented on #3081
@sebastianhaas do you need any help with the PR for better support of `produces` and `consumes` in typescript client?

[2016-06-27 03:54] wing328 commented on #3121
@lunat please see https://github.com/swagger-api/swagger-codegen#online-generators

[2016-06-27 03:54] #3121 closed

[2016-06-27 03:56] wing328 commented on #3078
@dknaack closing this as there's no update.

Please pull the latest and let me know if you still see the issue.

[2016-06-27 04:00] wing328 commented on #3141
@tamirtf  #3219 merged into master. Please pull the latest and give it a try.

[2016-06-27 04:01] wing328 commented on #2926
@pambeard closing this as there's no update.

If you still encounter issue with the latest master, let us know.

[2016-06-27 04:01] #2926 closed

[2016-06-27 04:03] wing328 commented on #2881
@phiz71 thanks! Let us know if you need help submitting a PR for Vert.X

[2016-06-27 04:04] #2816 closed

[2016-06-27 04:05] wing328 commented on #2821
@vipera closing this as there's no update.

Let us know if you still experience the issue with the latest master.

[2016-06-27 04:05] #2821 closed

[2016-06-27 04:09] wing328 commented on #2766
Please refer to https://github.com/swagger-api/swagger-codegen#online-generators on how to customize the SDK generated by generator.swagger.io, which is used by editor.swagger.io to generate SDKs.

I agree with you that ideally there should be a mapping between JSON key and object attributes but I'm not aware of any JS/TS lib to do that.

For PHP, Ruby, Python API clients, we end up implementing o

[2016-06-27 04:14] wing328 commented on #2714
@JoshuaWhatley closing this issue for the time being. Let us know if you've any questions.

@aws-na-ss-usplu I would suggest you to open a ticket for `OpenAPI spec` to start the discussion if you haven't done so: https://github.com/OAI/OpenAPI-Specification/issues/new

[2016-06-27 04:14] #2714 closed

[2016-06-27 04:16] wing328 commented on #2675
@tylerlong closing this as there's no update from you.

[2016-06-27 04:16] #2675 closed

[2016-06-27 04:19] wing328 commented on #2704
PR merged into master. Issue closed.

Thanks @Danielku15 again for his contribution.

[2016-06-27 04:19] #2704 closed

[2016-06-27 05:13] saikatguha commented on #2766
The `replacer` parameter in [`JSON.stringify`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) and `reviver` parameter in [`JSON.parse`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse) might come in handy. Some sort of a property map and a generic replacer/reviver might work. I don't have the cycles at the m

[2016-06-27 05:42] wing328 commented on #2766
@saikatguha thanks for the tips about `replacer` and `reviver`. Let's see if anyone from the community has cycle to contribute the enhancement.

[2016-06-27 06:25] sbelan commented on #2759
ok.. will check and let you know.

[2016-06-27 06:39] Vrolijkx commented on #3081
In my opinion we should only support ```application/json``` otherwise we give the impression we also support other content types. But in the end we only support json.

[2016-06-27 06:58] rajegit opened #3221 "How to use swagger-codegen for Typescript-angular2"
Reference https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular2/npm

These are ts file , how to compile and create a client ?

Please help

[2016-06-27 07:50] wing328 commented on #3221
Would this help? https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-angular/README.md (which is for angular1)

[2016-06-27 09:52] rajegit commented on #3221
No @wing328 the link is for angular1 as you said , now to make it compile and work for angular2 . We need a package.json (atleast). I used the reference from (https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular2/npm) and tried making the required file but its seems I need some help here

[2016-06-27 10:04] lunat commented on #3121
@wing328 thank you but the missing documentation is at
https://generator.swagger.io
clients
POST

[2016-06-27 10:07] wing328 commented on #3221
cc @Vrolijkx

[2016-06-27 10:09] wing328 commented on #3081
For 'produces', we should support binary (e.g. jpeg file) as well.

For 'consumes', we also support `application/x-www-form-urlencoded` (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L190)

[2016-06-27 10:47] RowanJKWalker opened #3222 "[csharp] Property validation for Model's Constructor and Setter Parameters"
##### Description

Generated C# models do not have property validation for pattern, minLength, maxLength etc.
##### Swagger-codegen version

[v2.1.6](https://github.com/swagger-api/swagger-codegen/tree/v2.1.6)
##### Related issues

[#2663](https://github.com/swagger-api/swagger-codegen/issues/2663)
##### Suggest a Fix

Update:
- [Generated Models](https://github.com/swagger-api/swagger-codegen/blo

[2016-06-27 10:53] illukarl23 commented on #948
Same here :(

[2016-06-27 11:03] wing328 commented on #3222
Yes, we've started adding validation to languages one by one and so far we only cover PHP, Python and Ruby.

May I know if you've cycle to contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/issues/2663 (with links to other PRs implementing validation in Ruby, PHP, Python, which are good starting points)

cc @jimschubert

[2016-06-27 12:00] jimschubert commented on #3222
For C#, I wonder if it would be better to use DataAnnotations?

One problem with Constructor and setter validations is they're done once and provide only one validation error.

DataAnnotations are incorporated into tools like Entity Framework and allow for aggregations of all validation errors. I've found it to be a much better experience.

Plus, it's possible using reflection to bypass setter val

[2016-06-27 12:27] pambeard commented on #2926
I still encounter this problem, in order to use the python code the I have to edit
api_client.py - line 120 as follows:

                replacement = quote(str(self.to_path_value(v)),safe='/,+')

Swagger Codegen Version    | Release Date | OpenAPI Spec compatibility | Notes
-------------------------- | ------------ | -------------------------- | -----
2.2.0-SNAPSHOT             |              | 1

[2016-06-27 12:27] pambeard commented on #3020
I should be able to test this today

From: wing328 [mailto:notifications@github.com]
Sent: Tuesday, June 07, 2016 9:24 AM
To: swagger-api/swagger-codegen
Cc: Beard, Pam; Mention
Subject: Re: [swagger-api/swagger-codegen] [Python] Provide option to eliminate body for DELETE request (#3020)

@pambeard<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_pambeard&d=CwMCaQ&c=jcv3orpCsv7C4ly

[2016-06-27 13:04] wing328 commented on #3222
I also prefer DataAnnotations.

[2016-06-27 13:47] patrickse commented on #479
Is there a workaround for this problem?

[2016-06-27 14:08] stunney commented on #2886
Blarg @jimschubert
I feel silly.  Thanks for that smack, I deserve it.

[2016-06-27 14:17] stunney commented on #2886
{{packageGuid}}

Its so simple :)

[2016-06-27 14:57] wing328 commented on #2926
@pambeard can you please share the spec here or via https://gist.github.com?

[2016-06-27 15:25] JustSilverman commented on #3215
@wing328 LGTM. Thanks for moving so quickly on this.

[2016-06-27 15:33] pambeard commented on #2926
I want to make sure I post what you are looking for.  Do you want me to post the modified api_client.py or the my swagger definition file.  If the swagger definition file, I don’t see anywhere in the documentation to specify that the url path will be using ‘+’ .  Please let me know if I am missing something.

From: wing328 [mailto:notifications@github.com]
Sent: Monday, June 27, 2016 10:58 AM
To:

[2016-06-27 15:43] wing328 commented on #2926
@pambeard we need the swagger spec to reproduce the issue.

[2016-06-27 15:58] daisymoon opened #3223 "Model with name Map/List is ignored"
##### Description

I have [this json](https://watson-api-explorer.mybluemix.net/listings/tradeoff-analytics-v1.json) that defines a model called "Map".
I noticed that both in java and csharp this gets ignored when generating the code, I'm building a generator for a personalized language and it also gets ignored.
What I did was changing the name to "Mapa", and the problem is solved.
But if I name i

[2016-06-27 16:01] pambeard commented on #2926
Here it is
https://gist.github.com/pambeard/090a9bfa76d29b72a9ecf335980e718e

From: wing328 [mailto:notifications@github.com]
Sent: Monday, June 27, 2016 11:43 AM
To: swagger-api/swagger-codegen
Cc: Beard, Pam; Mention
Subject: Re: [swagger-api/swagger-codegen] [Python] Allow special characters in a url (#2926)

@pambeard<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_pambeard&d=C

[2016-06-27 17:22] pambeard commented on #3020
This is working in the latest pull.
Thanks,
Pam

From: Beard, Pam
Sent: Monday, June 27, 2016 8:28 AM
To: 'swagger-api/swagger-codegen'
Subject: RE: [swagger-api/swagger-codegen] [Python] Provide option to eliminate body for DELETE request (#3020)

I should be able to test this today

From: wing328 [mailto:notifications@github.com]
Sent: Tuesday, June 07, 2016 9:24 AM
To: swagger-api/swagger-codeg

[2016-06-27 17:40] rob2001 opened #3225 "[PYTHON] Bug: allOf tag not supported in inline schema"
##### Description
While working on a project, I discovered that I was unable to put 'allOf':[] schema defs in an inline definition. (by that I mean that I defined the schema inside the operation object).

For this particular project it is not desirable to put these definitions under the global definitions object, because it would lead to a very large definitions object that would be difficult to m

[2016-06-27 20:24] arthurdm commented on #2153
thx @wing328

@cbornet - I noticed that the Online Swagger Editor only pulls in languages, and provides no way for specifying client nor server generation options, since it's calling http://generator.swagger.io/#!/clients/clientOptions and http://generator.swagger.io/#!/servers/serverOptions, which only give the top-level client/server languages.

Therefore it seems a good strategy for consolidati

[2016-06-27 20:57] cbornet commented on #2153
Well, this is more an issue with the swagger-editor. See https://github.com/swagger-api/swagger-editor/issues/713

[2016-06-27 21:46] fehguy commented on #479
Right now, no, there isn't a markdown to HTML converter in the codegen.  We will get it added so just watch this ticket for updates.

[2016-06-28 01:17] arthurdm commented on #2153
I agree that we need to look into the swagger editor at some point on how to configure extra options.   I do still feel though, that we should make the Java client and server generation more consistent than it is now.  I see that for typescript we have 4 types of clients, all using different -l instead of options, and 2 -l's for javascript, so why are we treating Java clients as options?

I think

[2016-06-28 02:10] wing328 commented on #3020
@pambeard thanks for the confirmation.

[2016-06-28 02:21] wing328 commented on #2153
@arthurdm it depends on the situation/use cases when it comes to using `--library/-l` or a new generator for another language/framework.

For typescript, ideally we want to use `--library` but the contributors who created the new generators didn't have time for that. As you can see, when we fix certain issues in typescript, we've to do it for all 4 typescript generators (and I need to make sure th

[2016-06-28 03:04] wing328 commented on #3225
@rob2001 is the issue similar to https://github.com/swagger-api/swagger-codegen/issues/2924 ?

[2016-06-28 04:31] wing328 opened #3227 "[PHP] refactor PHP-related client into a common abstract base class"
##### Description

Similar to Java, C# and Typescript, we want to refactor all PHP-related generators (API client, Lumne, Silex, Slim) into a common base class so that the same enhancements or bug fixes can be applied to all PHP generators without duplicated efforts.

If anyone from the community can help work on this, please reply to let us know. Much appreciated.

[2016-06-28 04:59] rob2001 commented on #3225
@wing328 I think this is a slightly different, but related issue. Regardless of what order I put the allOf schemas in, it will always fail unless I use a reference to point to the allOf schema itself. I just tested this by switching the model order in my swaggerFail gist. Both of these issues might be caused by the same problem though.

[2016-06-28 05:45] wing328 commented on #3225
@rob2001 thanks for performing more tests to confirm the issue. Please define the model instead of using inline schema as a workaround for the time being.

[2016-06-28 07:15] wing328 commented on #3210
Given that the models can be generated separately for use cases other than a RESTful API, the model should have both getter and setter, just like any other objects that developers interact with.

[2016-06-28 08:17] sebastianhaas commented on #3221
@rajegit could you describe your problem a little bit more in detail? I didn't go the npm way but put the generated api client directly into my ng project. Works perfectly fine for me.

[2016-06-28 09:00] sebastianhaas commented on #3081
I was just about to write the fix you suggested, but now I think I have to step back from this. I tend to agree with @Vrolijkx that supporting `application/json` is probably enough in this case. Both accepting `application/xml` or sending as `application/x-www-form-urlencoded` doesn't feel right (in the context of angular) to me.

It would take a lot of extra effort to handle anything different bu

[2016-06-28 09:19] rajegit commented on #3221
@sebastianhaas . I did following
1. Generated code for 'typescript-angular2' ( tried both using cli and editor)
2. I wanted to use the #1 code inside my angular2 project, which is executed using gulp or npm start etc. A standard angular2 project has a index.html , pakage.json etc , its missing in this generated code.
So the question is
"How did you directly put it into your ng project"

[2016-06-28 09:26] sebastianhaas commented on #3221
This codegen doesn't output a Angular 2 project, just the required files for a ng2-compatible api client. To use it, you have to include it like any other typescript library using something like:

[code]

If you want, you can check out how I did it for a recent project of mine:
https://github.com/sebastianhaas/medical-appointment-scheduling/tree/master/src

It's a 1:1 fork of the angular2 class st

[2016-06-28 10:50] dylan-colaco opened #3232 "Swift codegen is encoding a date-time field as a date field in JSON"
##### Description

The swift swagger codegen is generating code that uses a date formatter "yyyy-MM-dd" when encoding to JSON, for a field which is of type date-time in the server yaml file.

##### Swagger-codegen version

latest, done from a website: https://locus.sh/docs/index.html

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

g

[2016-06-28 11:38] cbornet commented on #3193
@dan-lind Could you change the title of your issue to request support for the contextPath in Spring-boot gen ?

[2016-06-28 14:26] jshin49 opened #3234 "[OBJC] Petstore Sample code Typo in README.md and linking error in XCode 7 iOS 9"
##### Description
1. Typo in swagger-codegen/samples/client/petstore/objc/default/README.md

The example code in README contains typos (lines 73~83).

2. The example code causes linking error in XCode 7 and iOS 9 as the following:

[code]

##### Swagger-codegen version

I'm just trying out the Petstore example

##### Steps to reproduce

For 2.

I just followed the Swagger documentation (README) wi

[2016-06-28 16:22] cbornet commented on #2152
I've pulled #3235 which is the first step towards what you need.
The second step will be to add a client option to select the json lib between "none", "jackson" and "gson"

[2016-06-28 16:59] #3183 closed

[2016-06-28 17:00] wing328 commented on #3183
@ebelanger PR merged into master. Please pull the latest to give it a try.

Thanks for the PR from @cbornet

[2016-06-28 19:17] jaz-ah commented on #3232
I can take a look...

[2016-06-28 19:42] hacki11 commented on #2819
it doesn't make a difference setting `AlwaysMultipartFormData = true` because the caller of the `WriteMultipartFormData` function checks the `HasFiles` flag which is true in my case:
[code]
For completeness i set the AlwaysMultipartFormData = true, but the process consumed 1GB memory like the file to be uploaded.
![image](https://cloud.githubusercontent.com/assets/15319906/16429151/9f5245f6-3d75-1

[2016-06-28 22:20] jimschubert commented on #2819
@hacki11 thanks for your investigation work.

Looks like you'd get the exception on that line because ParameterToFile is flushing the stream.

Do you have a test project repo you used for investigation, or were you testing against your codebase?

[2016-06-29 00:22] chadrosen opened #3239 "[RUBY] Petstore generated sample code is out of date"
I ran the sample code generator for ruby using bin/ruby-petstore.rb and realized that there were updates. I assume that there were changes either to the mustache or schema that just have not been updated in the sample code yet.

##### Description

It seems reasonable to keep the code up to date. I also want to submit patches to the mustache files and these differences will show up later.

##### Sw

[2016-06-29 01:12] t8rafa commented on #3159
<img width="1042" alt="apihelper mustache" src="https://cloud.githubusercontent.com/assets/11530072/16437417/1cc4fb12-3d7d-11e6-97d4-2bff951f1fcc.png">

[2016-06-29 03:27] wing328 commented on #3159
cc @Edubits @jaz-ah

[2016-06-29 03:53] wing328 commented on #3239
@chadrosen there's a reason why the Petstore sample may be out of date. As the project matures, we add more and more test cases to the Petstore spec but we won't update Petstore sample for all languages. We (or the contributors) normally update the language that they're working on because not a single person can command all the languages or frameworks that we support.

I'll update https://github.c

[2016-06-29 06:39] wing328 commented on #3239
UPDATE: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md has been updated with more info related to updating Petstore samples (and vendor extensions)

[2016-06-29 07:00] wing328 commented on #3159
Btw, I ran the test cases for Swift Petstore client (default) and the no issue found:
[code]

@t8rafa are you using the latest master to generate the Swift API client?

[2016-06-29 07:40] cbornet commented on #2431
@maneeshsahu Yes okhttp is a very good lib for Android. You can also use the retrofit lib which uses okhttp internally and has less generated code.
As for the dateLibrary, I strongly recommend using joda on Android which is now the default on current master.

[2016-06-29 07:47] wing328 commented on #2431
@maneeshsahu please pull the latest master and give it a try as suggested by @cbornet

Issue closed.

[2016-06-29 07:47] #2431 closed

[2016-06-29 08:21] Edubits commented on #3159
I had a look and for me it does compile fine and tests run successful, I would be neater however to have the import. What is it you're running into?

What I'm not certain about is if we should actually use NSNumber here, it seems the following snippet works as well and this doesn't use any Objective-C bridging:
[code]
Maybe @JMDHo (original contributor of the convertBoolToString method in #2705) c

[2016-06-29 08:25] rejithkumarb opened #3240 "Dynamic html parameter optional info not present"
##### Description

**Dynamic HTML generated from swagger doesn't contain parameter's 'optional or required' informatio**n. This is present in static html.

##### Swagger-codegen version

Swagger 2.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

Generate dynamic html from any template. required flag for parameters not coming.

####

[2016-06-29 08:39] wing328 opened #3241 "[Java] Does not support Map of Map of String or other type"
##### Description

Currently, Java does not support Map of Map of String or other type
[code]
As shown above, the inner `Map` is not mapped to `HashMap`

##### Swagger-codegen version

Latest master (Jun 28, 2016)

##### Suggest a Fix

The issue likely has to do with `getTypeDeclaration` in `modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java`

[2016-06-29 09:06] wing328 commented on #3241
If anyone wants to contribute the fix, please reply to let us know. Thank you.

[2016-06-29 09:11] talolierwork opened #3242 "Generating Java client with customised templates works on current master (swagger-codegen-cli-2.2.0-SNAPSHOT.jar) but not on codegen 2.1.6"
Generating Java client with customised templates works on current master (swagger-codegen-cli-2.2.0-SNAPSHOT.jar) but not on codegen 2.1.6
##### Description

I am using codegen 2.1.6 in order to generate Java client code via the following command:
java -jar swagger-codegen-cli-2.2.0-SNAPSHOT.jar generate -l java --artifact-version 1.0.0 --group-id com.olier.csp.sdk --artifact-id csp-sdk -i csp-hos

[2016-06-29 09:46] rejithkumarb opened #3243 "Static html file doesn't contain tag information"
##### Description

Static html file doesn't contain tag information
##### Swagger-codegen version

swagger 2.0
##### Swagger declaration file content or url
##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-06-29 09:57] RowanJKWalker commented on #3222
Cool, I'll look into it on the weekend.

[2016-06-29 11:26] t8rafa commented on #3159
@wing328 yep. I'm using the latest master.

[2016-06-29 12:37] wing328 commented on #3159
What error message did you get? What version of xcode are you using?
On Jun 29, 2016 7:26 PM, "t8rafa" <notifications@github.com> wrote:

[2016-06-29 13:04] t8rafa commented on #3159
APIHelper.swift:25:24: Use of unresolved identifier 'NSNumber'
Xcode: Version 7.3.1 (7D1014)

<img width="1672" alt="problem" src="https://cloud.githubusercontent.com/assets/11530072/16452728/4fc95f7c-3de0-11e6-9d9d-69b45a4d21d6.png">

[2016-06-29 13:24] wing328 commented on #3159
I'm using the same version.

Can you run the integration test by executing the following commands to see if there's any error?
[code]

[2016-06-29 14:35] milo-minderbinder opened #3247 "[WINDOWS] Backslash in filename in ec2abe78e3b4aff59578d068612261846f5a487c breaks checkout"
##### Description

Commit ec2abe78e3b4aff59578d068612261846f5a487c added the file [samples/server/petstore-security-test/slim/SwaggerServer\lib\Models/Return.php](https://github.com/swagger-api/swagger-codegen/blob/ec2abe78e3b4aff59578d068612261846f5a487c/samples/server/petstore-security-test/slim/SwaggerServer%5Clib%5CModels/Return.php) which breaks checkouts on Windows due to the directory "Swag

[2016-06-29 14:40] wing328 commented on #3247
@milo-minderbinder thanks for reporting the issue. I'll file a PR to remove that shortly.

[2016-06-29 15:49] alexralko opened #3250 "getHasExamples() is missing in CodegenOperation class"
##### Description
getHasExamples() is not implemented for CodegenOperation class
So it is not possible to use {{hasExamples}} tag in template (e.g. in modules\swagger-codegen\src\main\resources\htmlDocs\index.mustache)

##### Swagger-codegen version
2.2.0-SNAPSHOT

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i http://petsto

[2016-06-29 16:55] #3247 closed

[2016-06-29 16:55] wing328 commented on #3247
@milo-minderbinder the bug should be fixed by #3251. Please pull the latest master to give it a try.

[2016-06-29 19:04] dan-lind commented on #3193
Done!

[2016-06-29 19:35] ebelanger commented on #3183
It is working great :)  A big thank you to @cbornet :)

[2016-06-29 20:19] chadrosen commented on #3239
I threw the out my original PR and replaced it with this.

https://github.com/swagger-api/swagger-codegen/pull/3253

[2016-06-29 20:57] delenius commented on #3164
@wing328 , I filed an updated PR. Everything looks good now.

[2016-06-30 03:22] wing328 commented on #3247
@milo-minderbinder it's also worth mentioning that the latest master has PHP Lumen generator that you may find useful. If you encounter any issue and have feedback for us, please reply to let us know.

[2016-06-30 03:33] #3164 closed

[2016-06-30 07:19] wing328 commented on #3239
PR merged. Thanks for the contribution.

[2016-06-30 07:19] #3239 closed

[2016-06-30 07:20] wing328 commented on #3240
@rejithkumarb thanks for reporting the issue. May I know if you've time to contribute a fix?

[2016-06-30 07:30] gokl opened #3257 "CodegenModel should have format field"
##### Description

For the static html generator I would like to see the format of a parameter. The format however is missing from the CodegenModel, so it should be added and filled with the format from Model.
After that I could add the format to the template.

##### 2.1.6

##### Suggest a Fix

If you want, I could provide a PR for it.

[2016-06-30 07:33] wing328 commented on #3257
For format, I believe you're referring to `int32`, `float`, etc. Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

Your suggestion is definitely reasonable.

Please contribute a PR if you've time. Thanks!

[2016-06-30 07:51] #2643 closed

[2016-06-30 08:25] wing328 opened #3259 "[PHP] Order of data type"
##### Description

Currently, the data type in ObjectSerilaizer is not sorted in any order and it results in additional noise during code review
[code]
Ref: https://github.com/swagger-api/swagger-codegen/pull/3256/files#diff-d23a2c329903216ff7fe7a40f5c6b8d8R267

##### Swagger-codegen version

Last master (Jun 30, 2016)

##### Suggest a Fix

We want to keep the order fixed to avoid the additional n

[2016-06-30 08:45] #3188 closed

[2016-06-30 09:34] yeskov commented on #2663
Hello.
It will be nice to auto generate JAVA models annotated with JSR303 from swagger spec.
To use such models in custom  servers and clients.
My +1.

[2016-06-30 14:21] milo-minderbinder commented on #3247
@wing328 thanks! appreciate the prompt fix!

[2016-06-30 14:50] wing328 commented on #3234
Please run the integration test for Petstore ObjC API client to see if you get any error:

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-do-i-run-integration-test-with-petstore-objc-api-client

cc @mateuszmackowiak

[2016-06-30 15:39] Trii opened #3261 "Example swagger-codegen-maven-plugin/examples/java-client.xml is out of date"
Example dependencies from [swagger-codegen-maven-plugin/examples/java-client.xml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-maven-plugin/examples/java-client.xml) do not work correctly.

I had to use the generation webservice to extract a pom with the proper dependencies for jersey2

They should be changed to something like this if they are indeed the best

[2016-06-30 18:13] daviddodsworth opened #3262 "[ASPNET5] Server Bug - doesn't properly serialize JSON properties in camelCase"
It appears as though the ASPNET5 server code gen doesn't preserve the Swagger specified case for models.  Specifically, the code gen will always PascalCase all model properties, instead of keeping the "on the wire" original definition.

Version swagger-codegen-2.2.0
##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i http://petst

[2016-06-30 18:30] gokl commented on #3257
Hi, i created a PR. Tell me if it's OK or you want some changes / additions.
Thanks!

[2016-06-30 20:32] jgavris commented on #3232
I've resolved this issue.

[2016-06-30 20:39] jgavris opened #3265 "[Swift] ./bin/swift-petstore.sh fails on master"
##### Description

Swift Petstore example code generation fails on `master` (

##### Swagger-codegen version

`45f13b2`

##### Swagger declaration file content or url

`./modules/swagger-codegen/src/test/resources/2_0/petstore.json`

##### Command line used for generation

`git checkout 45f13b2 && mvn clean package && ./bin/swift-petstore.sh`

[code]

##### Steps to reproduce

`git checkout 45f13b

[2016-06-30 23:59] rob2001 commented on #3241
@wing328 I'm interested in helping, how can I reproduce this?

[2016-07-01 06:06] wing328 commented on #3257
@gokl Thanks for the PR. The change looks good to me and I've merged it into master.

Next time, please also run `./bin/html-petstore.sh` to keep the Petstore sample (HTML doc) up-to-date.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-07-01 06:09] wing328 commented on #3265
@jgavris thanks for reporting the issue. I'm looking into it.

[2016-07-01 06:43] wing328 commented on #3265
@jgavris it's due to enum enhancement I did earlier which breaks how swift handles enum. I'm working on a fix right now.

[2016-07-01 07:05] gokl commented on #3257
@wing328: Will do run it next time :-)

[2016-07-01 07:05] #3257 closed

[2016-07-01 08:25] zcfrank1st commented on #3132
👍

[2016-07-01 08:59] wing328 commented on #3265
@jgavris I've filed #3267 to fix the NPE and will merge into master after CI tests pass.

[2016-07-01 09:06] wing328 commented on #3261
@Trii thanks for reporting the issue. May I know if you've cycle to contribute a fix?

[2016-07-01 09:33] wing328 commented on #3132
Here is a good starting point: https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework

[2016-07-01 09:37] #3265 closed

[2016-07-01 09:38] wing328 commented on #3265
@jgavris PR merged into master. Please pull the latest to give it a try.

[2016-07-01 10:02] wing328 commented on #3188
@talolierwork the PR has been merged into master. Please pull the latest master to give it a try.

Thanks for the PR from @cbornet

[2016-07-01 12:05] Trii commented on #3261
I can attempt it but I can't guarantee that the version choices are optimal since I'm new to this library.

[2016-07-01 12:08] jgavris commented on #3265
@wing328 Thanks! Possible to get the swift / objc tests uncommented out of the CI test modules?

[code]

[2016-07-01 12:29] wing328 commented on #3265
@jgavris I wanted to but Travis CI does not support multiple `langauges` at the moment: https://docs.travis-ci.com/user/languages/objective-c. A possible workaround is to manually install `xctool` but I didn't have time to look into that yet.

[2016-07-01 12:31] jgavris commented on #3265
How about using CircleCI as a second CI service, for the Xcode toolchain?

On Fri, Jul 1, 2016 at 8:29 AM wing328 <notifications@github.com> wrote:

[2016-07-01 12:41] wing328 commented on #3265
Good idea. I've only played with shippable as a secondary CI service to cover ObjC and Swift API client but didn't have much progress so far.

Did you have experience with CircleCI? Do you have cycle to contribute a `circle.yml` to vero both ObjC and Swift Petstore API client?

[2016-07-01 12:42] wing328 commented on #3261
That's ok. The community and the core team can help review the change :)

Let us know if you need help submitting a PR.

[2016-07-01 12:56] donFotter opened #3269 "[Ruby] Ssl avoidance problem"
Hi,
I've generated various clients of my Api. I'm in the development phase, so I've to turn off ssl verification. Every client works fine, except the ruby's one. In particular, even if I set the "verify_ssl" to false in the "configuration.rb" file, it continues to work with ssl, with no success. I've activated the debug mode and it shows that it still try to use ssl, finishing with unsuccess. I've

[2016-07-01 13:27] wing328 commented on #3269
@donFotter please pull the latest master to generate the Ruby API client, which has all the dependencies updated to the latest version (the issue you reported may be due to a bug in the HTTP library, which can already be addressed in the latest stable version of that library)

[2016-07-01 13:45] jgavris commented on #3265
@wing328 Not specifically CircleCI, but I can figure it out. Would you mind doing the repository / organization setup for this repo on CircleCI?

https://github.com/integrations/circle-ci

I will push a PR with a `circle.yml` when that's ready to test.

[2016-07-01 13:47] donFotter commented on #3269
Hi, thank you for fast response. I've try just now with the master, but the problem still persist.
Any suggestion?

[2016-07-01 13:47] wing328 commented on #3265
I need to check as I may not have the right.

I think you can test with the folk repo of swagger-codegen (https://github.com/jgavris/swagger-codegen.git) to begin with.

[2016-07-01 13:53] wing328 commented on #3269
@donFotter Btw, you do not need to manually change configuration.rb. You should probably do it in the code level when creating a configuration object, which can be pass to Api class (e.g. PetApi) via constructor.

No other suggestion off the top of my head.

[2016-07-01 13:58] donFotter commented on #3269
Yes I know, I did it for the basic auth inf., I just changed the value in the configuration.rb hoping that this solved, but nope :(.

[2016-07-01 14:02] wing328 commented on #3269
What about hardcoding "false" in the following line in the api_client.rb?

https://github.com/swagger-api/swagger-codegen/blob/07a852fe78ae71261f617200459e2cdf6529068f/samples/client/petstore-security-test/ruby/lib/petstore/api_client.rb#L108

[2016-07-01 14:06] donFotter commented on #3269
I've tried this too, didn't work

[2016-07-01 14:07] wing328 commented on #3269
Can you check which version of Typhoeus you're using?

[2016-07-01 14:10] donFotter commented on #3269
Typhoeus 1.0.2

[2016-07-01 14:12] wing328 commented on #3269
No idea. Please open an issue [here](https://github.com/typhoeus/typhoeus/issues) with the debug log to see if the typhoeus team or community has encountered similar issue before.

[2016-07-01 14:18] wing328 opened #3270 "[Ruby] Add support for Farady (HTTP lib)"
##### Description

Currently, Ruby API client has a dependency on Typhoeus (HTTP lib).

We want to add support for [Faraday](https://github.com/lostisland/faraday) to provide more flexibility in choosing what HTTP lib to use in the Ruby API client.

##### Swagger-Codegen version

Current master (Jul 1, 2016)

##### Suggest a solution

Similar to Java, we can use the `-l/--library` option to specif

[2016-07-01 14:48] wing328 commented on #3250
PR merged.

[2016-07-01 14:48] #3250 closed

[2016-07-01 14:49] wing328 commented on #3243
@rejithkumarb May I know if you've cycle to contribute the enhancement?

[2016-07-01 17:10] wing328 commented on #3241
@rob2001 thanks for offering help. Here is the code (Java model) related to `map_map_of_string`:

https://github.com/swagger-api/swagger-codegen/blob/be4f4eb022f2b9aa540b2390cc87745813efbc4b/samples/client/petstore/java/retrofit2/src/main/java/io/swagger/client/model/MapTest.java#L43

After you update `getTypeDeclaration` (or something else) in `codegen/src/main/java/io/swagger/codegen/languages/A

[2016-07-02 10:02] jfiala opened #3279 "[Java] How to add gzip filter to com.sun.jersey.api.client.Client"
##### Description

I want to add the GZIPContentEncodingFilter to Jersey-Client in the generated ApiClient class.
However, there currently seems no way to access the com.sun.jersey.api.client.Client:
The method to access the Jersey-Client is private:
private Client getClient()

Pls advise on how to add gzip encoding to the generated ApiClient?
##### Related issues

https://github.com/swagger-api/s

[2016-07-02 10:24] jfiala commented on #3279
One additional thought:
Jersey1 com.sun.jersey.api.client.filter.GZIPContentEncodingFilter
and Jersey2 org.glassfish.jersey.message.GZipEncoder
don't implement any configurable threshold (like e.g. org.apache.cxf.transport.common.gzip.GZIPOutInterceptor does), so it will always use gzip regardless of the size of the request.
https://jersey.java.net/apidocs/2.6/jersey/org/glassfish/jersey/message/G

[2016-07-02 10:45] wing328 commented on #2153
https://github.com/swagger-api/swagger-codegen/pull/3080 has been merged into master.

Please pull the latest to give it a try.

Thanks for the PR from @arturdzm

[2016-07-02 14:19] jfiala commented on #2549
@wing328: I added the first annotations to the Java language, see https://github.com/jfiala/swagger-codegen/commit/08b3b53f0ccaddaa177c242ba7fde0e0a64f3f36

Supported beanvalidation annotations (http://docs.oracle.com/javaee/6/tutorial/doc/gircz.html):
* Null, NotNull
* Pattern, Size for string
* Min/Max for integer

Questions:
* Should we add a flag to the CodegenParameter to switch Bean validati

[2016-07-02 16:07] cbornet commented on #2549
Note : "required=false" is not equivalent to @Null

[2016-07-02 17:16] jfiala commented on #2549
The following Bean-Validation-Annotations have not been implemented because there seems no Swagger-spec equivalent (pls let me know if there is...):
* @AssertTrue/@AssertFalse = he value of the field or property must be true/false.
* @Digits = The value of the field or property must be a number within a specified range. The integer element specifies the maximum integral digits for the number, and

[2016-07-02 17:26] jfiala commented on #2017
@cbornet: added the cxf client with PR  https://github.com/swagger-api/swagger-codegen/pull/3281

* Jackson is used as provider (is already included as dependency of swagger-jaxrs)
* only cxf-rt-rs-client necessary to allow full client support
* added bean-validation-api support (currently not supported by CXF wadl2java...)
* added test templates to generate test classes  (currently not supported

[2016-07-02 17:27] wing328 commented on #2549
For Min/Max of Integer/Long/Decimal, I'm working on a PR so that we only need 2 fields to present any min/max value. I'll share more update shortly.

[2016-07-02 18:00] jfiala commented on #2663
For Java done (mostly) in #2549, also added to CXF in #3281

[2016-07-02 19:42] jfiala commented on #2549
@wing328: I put the annotations on the getter for now - just wondering if it is better for readability to put it at the field.
When setting up a model I'm usually putting the annotations on the fields and I'd like to re-generate my model from the swagger-spec... However, regarding this http://stackoverflow.com/questions/6283726/jsf-jsr-303-bean-validation-why-on-getter-and-not-setter it might be b

[2016-07-03 00:37] jimschubert commented on #3040
@kdc415 no problem. I think this issue could be closed.

[2016-07-03 00:38] jimschubert commented on #2914
Per https://blogs.msdn.microsoft.com/webdev/2016/06/27/announcing-asp-net-core-1-0/, the RTM release didn't contain the .csproj/.sln changes:

I'll work on any interim changes.

[2016-07-03 08:35] #3040 closed

[2016-07-03 14:09] wing328 commented on #3197
Closing this as there's no update.

[2016-07-03 14:09] #3197 closed

[2016-07-03 19:14] jfiala commented on #2017
added the complete server WAR (including CXF3 Swagger2Feature + WADL).

[2016-07-04 04:13] abcsun commented on #3227
I will try it.

[2016-07-04 08:27] sebastianhaas commented on #3081
Obviously. I was just wondering if that is likely to be a common use-case. :)

[2016-07-04 09:32] wing328 commented on #3081
@sebastianhaas I do not have any figure to tell if using form parameters is a common case or not.

I've definitely seen endpoints for authentication using form parameters to pass the username and password.

[2016-07-04 12:52] sberyozkin commented on #2017
@peteryhwong, re your earlier comment about https://issues.apache.org/jira/browse/CXF-6774, the thread-safe client code was supported for a long time, it is JAX-RS 2.0 Client API which does not provide for a way to have a single thread-safe Client/WebTarget be created and reused, so this is what we did with CXF-6774, added a property to pass to the underlying CXF WebClient via a JAX-RS 2,0 config.

[2016-07-04 12:59] donFotter commented on #3269
The friends of Typhoeus have found the fix: there is another value to be set for ignore ssl, that is ssl_verifyhost (https://github.com/typhoeus/typhoeus#ssl). This isn't present in the generated code. Adding this option, the problem was solved. I'm attaching a screenshot to clarify the solution
![ssl](https://cloud.githubusercontent.com/assets/20241211/16561136/e3328980-41f7-11e6-9479-22e665bfca1

[2016-07-04 13:16] wing328 commented on #3269
@donFotter Thanks for the info. We'll add another option `verify_ssl_host` to make "ssl_verifyhost" configurable.

[2016-07-04 14:31] wing328 commented on #3269
@donFotter I've merged #3283 to add the `verify_ssl_host` option (which is set to true by default).

Please pull the latest master to give it a try.

[2016-07-04 14:37] wing328 commented on #3279
@jfiala I checked jersey1 and jersey2 client. Both have the following in ApiClient.java:
[code]
Are you using the latest master?

[2016-07-04 16:50] jfiala commented on #2539
For jersey1 + jersey2 getHttpClient() is public since February.

[2016-07-04 16:50] wing328 commented on #3265
@jgavris  I've added "appveyor" to cover testing in the Windows environment via https://github.com/swagger-api/swagger-codegen/pull/3275.

Confirmed that I do not have the right to add any services to this project.

Once the CI tests for Objc/Swift is ready with CircleCI or other CI providers, we can ask Tony Tam to help set it up in the Github repo setting page.

[2016-07-04 16:53] wing328 commented on #3247
@milo-minderbinder FYI. We've added CI tests in the Windows environment to ensure the JAR can be built successfully in Windows environments moving forward.

A huge thanks to [AppVeyor](https://appveyor.com) for providing free CI tests in the Windows environment.

[2016-07-04 16:53] jfiala commented on #3279
@wing328: You're absolutely correct, this has already been added for both jersey1 + jersey2, I also commented in #2539!

Regarding the Gzip: maybe it would be nice to add a switch for this in the Java-Jersey-Clients test templates?
BTW: Wouldn't it make sense to rename java to java_jersey to make it more obvious it is using the jersey-implementation?

[2016-07-04 17:47] d0x opened #3284 "[MAVEN MOJO] Make model name pre- and suffixes property available in maven"
##### Description

The Pre- and Suffix option is implemented in the codegen-core and available in the cli.
It should be also aviable through maven.

##### Swagger-codegen version

2.2.0-SNAPSHOT

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/1255

##### Suggest a Fix

[code]

I'll open a PR for that.

[2016-07-04 18:16] d0x opened #3285 "[JAVA] Java-Types (BigDecimal, LocalDate, ...) are also effected by modelNamePrefixes and Suffixes"
##### Description

When swagger is using Java-Types (BigDecimal, LocalDate, ...) as fields, those are also renamed.

In case `modelNameSuffix` is set to `Dto`, this will into Types like `BigDecimalDto` which is wrong.

This snipped is taken from the `DefaultCodegen`:

[code]

and this from `AbstractJavaCodegen`:

[code]
##### Swagger-codegen version

2.2.0-SNAPSHOT
##### Suggest a Fix

Use the `ty

[2016-07-04 18:48] jfiala commented on #2549
@wing328 I'd like to add some docs about the beanvalidation (supported annotations etc.), where shall I put this?
Additionally, I think it would be nice to have some docs for each language explaining the features supported etc.?

[2016-07-04 18:50] cbornet commented on #2549
You can use the README for that.

[2016-07-04 19:56] jfiala commented on #2017
updated the wiki
https://github.com/swagger-api/swagger-codegen/wiki/Server-stub-generator-HOWTO
added "(scheduled for 2.1.5)" to indicate that it's not yet released...

[2016-07-04 19:56] jfiala commented on #2549
updated the readme: https://github.com/jfiala/swagger-codegen/tree/beanvalidation_2549

[2016-07-04 20:25] ePaul commented on #3285
Good catch, thanks.

[2016-07-04 20:32] ePaul commented on #3285
Do you have a test case where this happens (i.e. an OpenAPI definition + parameters to Codegen)?

[2016-07-04 21:09] sberyozkin commented on #2017
Hi, FYI, http://issues.apache.org/jira/browse/CXF-6760 is about moving CXF Swagger code into its own module, cxf-rt-rs-service-description-swagger. At the moment it has only been done on 3.2.0-SNAPSHOT master but will be merged shortly to CXF 3.1.x (3.1.7 is the next release), the discussio9n thread is here: http://cxf.547215.n5.nabble.com/Moving-CXF-SwaggerFeature-into-its-own-module-td5770014.ht

[2016-07-04 21:16] Project0 opened #3290 "[Java] Propertie __name and name overlaps"
Assume it exists two properties with similar names (and yes this happens really...):
[code]
The code generator will generate the propertie "name" with setter and getter twice
[code]

[2016-07-04 21:53] jimschubert commented on #2914
@doughjoe77

I'm working on updating the aspnet5 generator to ASP.NET Core 1.0.0-preview2. This will change a bit because `IApplicationEnvironment` will no longer exist.

This is what `ConfigureServices` will look like:

[code]

I didn't test this change in the previous version, but I thought I'd share here while I'm working on this.

[2016-07-04 23:15] wing328 commented on #3290
@Project0 that's because we camelize the property name to make it conform to the Java style guide.

In your case is it possible to rename `__name` to something else?

[2016-07-04 23:52] #3269 closed

[2016-07-05 05:54] d0x commented on #3285
You can reproduce it like this:

[code]

Where `dtos.yaml` should look like this:

[code]

It will look like this:
![image](https://cloud.githubusercontent.com/assets/2202723/16574770/bb964430-4282-11e6-88aa-fb9dc19db38e.png)

By investigating further I saw that my PR #3288 fixes the problem on the wrong place. It should be done in the `AbstractJavaCodegen.getSwaggerType` instead  of `AbstractJava

[2016-07-05 09:12] jfiala commented on #2017
@sberyozkin I've found some issues regarding the CXF3 Swagger2Feature, the most prominent ones are lacking support of nested query parameters (QueryParam("")) and wrong rendering of DataHandler (will be rendered as structure as opposed to type="file") in CXF 3.1.6. Are you interested having them posted in the CXF-Jira?

[2016-07-05 10:52] lunat opened #3295 "[csharp] add header problem due to static method for adding header"
##### Description

Adding an header value may cause a duplicate Header issue because the list is static.
Furthermore it could be useful adding a method that sets up the Api Key

##### Swagger-codegen version

2.2.0

##### Suggest a Fix

In file "Configuration.mustache"
change line 159

[code]

to

[code]

And Add
[code]

[2016-07-05 11:05] wing328 commented on #3295
@lunat thanks for the suggestion. Would you mind submitting a PR for your suggested change?

[2016-07-05 12:14] lunat commented on #3295
@wing328 sure I will do

[2016-07-05 12:39] wing328 commented on #3295
@lunat thanks. Here is the contributing guideline: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-07-05 12:50] lunat opened #3296 "[csharp] Documentation suggestion for links"
##### Description

Link Within a Page (anchors) in documentation resulting from MD files do not work.

##### Swagger-codegen version

2.2.0

##### Suggest a Fix
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api_doc.mustache

------------------------------------------------------------------
change line 13
        # **{{{operationId}}}*

[2016-07-05 13:15] wing328 commented on #3296
@lunat  Please file a PR with the C# Petstore sample updated (by running `./bin/csharp-petstore.sh) and we'll review the change. Thanks!

[2016-07-05 13:33] donFotter commented on #3269
Sorry for the delay, now it's fine

[2016-07-05 13:35] wing328 commented on #3269
@donFotter np. Please let us know if you've further feedback on the client.

[2016-07-05 13:56] donFotter opened #3297 "[Javascript] Problems on deserialize text type and on file response"
Hi,
I'm testing my api on the generated nodejs(javascript) client. I've found two problems, that break the client when called.
First:
when I've a call that return text/plain, SuperAgent initialize the body to {}, so data it's never null and doesn't verify the if condition, and in the end it gives an error.
![deserialize](https://cloud.githubusercontent.com/assets/20241211/16586612/2caf46e6-42c7-11

[2016-07-05 15:36] jencodingatwork opened #3300 "[JAX-RS] Codegen Creates form-data variables with duplicate names"
##### Description

The JAX-RS Code generator creates variables with duplicate names when more than one file is included in the API call which results in a compilation error.

##### Swagger-codegen version
2.1.6

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i C:/PluginAPI

[2016-07-05 15:44] wing328 commented on #3300
@jencodingatwork thanks for reporting the issue and suggesting a fix to address the issue.

Your suggested solution looks good to me. May I know if you've a cycle to submit a PR for your suggested fix?

[2016-07-05 15:49] wing328 commented on #3297
@donFotter I think you're correct in saying that the Javascript API client does not support plain text response or binary data response at the moment.

May I know if you've cycle to contribute a fix to address the issue?

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/ApiClient.mustache#L297

[2016-07-05 15:56] dylan-colaco opened #3301 "Swift client cannot use authentication credentials in lockscreen background fetch"
##### Description

The Swift swagger client uses NSURLCredential for authenticating with a Swagger API(using Alamofire). This works fine when the app is active or in the background when the phone is unlocked. However it doesn't work when a background fetch happens while the phone is locked. This is because NSURLCredential cannot access the keychain from the lockscreen, and there seems to be no way

[2016-07-05 16:03] jencodingatwork commented on #3300
Sure, I should be able to submit one by the end of this week.

[2016-07-05 16:13] GriffinSchneider opened #3302 "[Java/Android] Parcelable models?"
As recommended by the faq [here](https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android), I'm using `swagger-codegen` to generate and Android library with `-l java --library=okhttp-gson`.

It's very helpful to have `swagger-codegen`'s generated models implement Android's `Parcelable` interface, so that they can be added to `Intent`s, passed between `Activity`s, saved to disk, etc.

The ch

[2016-07-05 16:15] wing328 commented on #3300
@jencodingatwork thanks. Let us know if you need help submitting the PR.

[2016-07-05 17:02] Project0 commented on #3290
@wing328 i can remove `__name` from the swagger spec (in my special case this a duplicate entry), but i guess there should be a proper solution for this.

[2016-07-05 18:41] jencodingatwork commented on #3300
@wing328 I have created a PR with the fix (#3304)

[2016-07-05 19:12] jfiala commented on #2017
@wing328 should I copy the client part and provide a separate jaxrs_cxf_client or leave it as is (everything in the server stub - server + test client).

[2016-07-05 19:42] jfiala commented on #2017
@wing328 @cbornet so far it seems there are no tests for the jaxrs_cxf server stub. Should I add some?
https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/test/java/io/swagger/codegen

[2016-07-05 20:38] d0x commented on #3052
It's not just the `@Value`, also a `@Builder` would make sense for constructing those DTOs.

[2016-07-05 22:41] cbornet commented on #3052
We generate fluent setters which provide about the same thing.

[2016-07-05 22:43] cbornet commented on #2017
I think none of the jax-rs server stub has tests for the moment. So there must be a start for everything !

[2016-07-06 01:05] PumpMagic opened #3305 "Referencing .yml files fails"
##### Description

Attempting to reference .yml files fails, at least when using references as path item objects.

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

(Assuming `./paths/endpointanalysis-url.yml` contains a path item object, though its contents may not matter):

[code]

##### Command line used for generation

`swagger-codegen generate -i test.yml -l

[2016-07-06 03:41] wing328 commented on #3290
You can customize here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L309

to provide a 1-1 mapping for all different names for your model's properties.

[2016-07-06 07:49] jfiala opened #3308 "Feature matrix for client/server configuration properties"
##### Description

Currently there are some features which might make sense to document as a feature matrix in the documentation:
* Test-cases
* Logging
* Gzip-support (see https://github.com/swagger-api/swagger-codegen/issues/3279)
* Bean-Validation annotation support (Java)
* Automatic client-side bean-validation support (Java)

For server stubs we could add
* Logging
* Complete web application

[2016-07-06 07:52] jfiala commented on #2017
Switches to add for the server stub:
* gzipping / forced
* jboss (jboss-web.xml)
* validation (@Valid)
* version (CXF 2 or 3)
* wadl
* swagger-api

Features to add for the client stub:
* client-side bean validation example

[2016-07-06 07:53] jfiala commented on #2549
Open issues:
* add a switch for bean-validation
* maybe externalize the bean-validation snippet as a separate mustache file for all java clients
* add test cases for bean-validation

[2016-07-06 08:02] donFotter commented on #3297
I'm sorry, but I'm really in trouble with the development of the new api which I'm working on.
As posted before, I've made an own solution(changing the if clause). If this could help, consider this my contribution

[2016-07-06 08:51] wing328 commented on #3302
@GriffinSchneider thanks for the suggestion. I think your idea will benefit all Android developers as well.

I would suggest adding a CLI option (e.g. `parcelableModel`) to make it configurable and default to false.

Let me know if you need any starting point to add the CLI option.

About `android` code generator, it supports 2 different HTTP libraries: Apache HTTP client, Volley (default) but the

[2016-07-06 09:25] dylan-colaco opened #3311 "SWIFT: Swagger client method with completion closure passing an array has completion closure called multiple times"
##### Description

I am using the swift swagger client that has a completion closure which passes data which contains an array of objects. Ideally, this closure should be called only once, since all objects are contained within the array. However it seems to be called once for every object in the array, but passing the same array over and over again. You can see this in the attached screenshot.(Th

[2016-07-06 09:37] cbornet commented on #3302
Would it be interesting to set it by default for a ```-Dandroid=true``` option ?
Today we mix android and pure java but maybe it would be more clean to separate the 2 with an android option flag.

[2016-07-06 09:52] wing328 commented on #3302
We can do `-Dandroid=true` as well. The reason why I suggested  `parcelableModel` is that there may be more Android-specified option down the road and Android developers would prefer individual option instead of one giant switch to turn on all android-related features.

I'll let you guys to decide which one to use.

[2016-07-06 09:57] #1873 closed

[2016-07-06 10:41] pradeepkumarreddyk commented on #3305
I too have the same problem.  my swagger files are as follows :
1)  swagger.yml
swagger: '2.0'
info:
  title: Krayon API
  description: Krayon Server API
  version: 1.0.0
host: '192.168.1.5:8080'
schemes:
  - http
basePath: /krayon/api/v1/framework
produces:
  - application/json
paths:
  /module:
    get:
      summary: module types
      description: krayon server module
      parameters:

[2016-07-06 11:11] pradeepkumarreddyk commented on #3305
i too have the same issue. I have three swagger spec files : swagger.yml, module.yml, moduleItem.yml

contents of swagger.yml are as follows:-
--------------------------------------------------------
`swagger: '2.0'
info:
  title: Krayon API
  description: Krayon Server API
  version: 1.0.0
host: '192.168.1.5:8080'
schemes:
  - http
basePath: /krayon/api/v1/framework
produces:
  - application/json

[2016-07-06 19:04] arthurdm commented on #2153
@wing328  thanks for pulling in #3080.   However, that was for the server-side generation, and this issue is for client-side generation.   Shall we reopen this one?

[2016-07-06 21:38] Nepoxx commented on #2219
I have the same issue on 2.1.6, however this extends to nested objects as well. Consider the following:

[code]

If I debug the models when generating, in the Model's JSON, vendorExtensions is empty. For the record I'm using the CSharpDotNet2 generator

[2016-07-06 22:16] sberyozkin commented on #2017
@jfiala, sure, https://issues.apache.org/jira/browse/CXF-6965. Many thanks

[2016-07-06 22:56] saharj opened #3315 "Swagger stack on fetching resource list: http://localhost:8080/api-docs; Please wait."
_From @reuvenk on July 5, 2016 12:57_

**Note on code generation issues**
Please open an issue in [Swagger Codegen](https://github.com/swagger-api/swagger-codegen) repository for any issue with generating code or issues with generated codes.

**My Swagger**
Version 2.9.9
[code]
* Swagger Editor version(from Help > About menu):
* My browser:
chrom
**Issue**
No error in Swagger Editor.
When running

[2016-07-07 02:59] #2914 closed

[2016-07-07 07:24] wing328 commented on #2219
@Nepoxx please help pull the latest master to see if the issue has already been addressed.

[2016-07-07 07:39] wing328 commented on #3311
@dylan-colaco thanks for reporting. I don' think that's using the latest master to generate the Swift API client.

Please pull the latest master to generate the Swift API client to see if the issue still occurs.

cc @jaz-ah @Edubits

[2016-07-07 07:41] wing328 commented on #3305
@PumpMagic I don't think that's supported by Swagger Parser at the moment.

Please define the `paths` in the spec itself instead of using `$ref`

[2016-07-07 07:43] wing328 commented on #3193
PR merged. Please pull the latest to give it a try.

Thanks for the contribution from @vovan-

[2016-07-07 07:43] #3193 closed

[2016-07-07 07:46] wing328 commented on #3234
@jshin49 I've fixed the typo. Please pull the latest to give it a try.

For the linking issue, we cannot reproduce it. Please run the integration-test as suggested above.

[2016-07-07 07:46] #3234 closed

[2016-07-07 07:50] wing328 commented on #3300
PR merged. Thanks for the contribution.

[2016-07-07 07:50] #3300 closed

[2016-07-07 07:56] wing328 commented on #3308
@jfiala thanks for the suggestion. The core team has created a google spreadsheet for the feature matrix.

We'll convert that into HTML so that the community can keep it up-to-date with PRs.

[2016-07-07 07:58] wing328 commented on #3223
@daisymoon thanks for reporting the issue. I think it's due to the following:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L499

May I know if you've cycle to look into the issue and ideally submit a PR with the fix?

[2016-07-07 07:59] wing328 commented on #3173
@dwasyluk closing this as there's no update. Please open a new issue if you need help from us (community)