[2016-04-29 08:34] rahulc-nrift opened #2741 "Unable to generate signed apk while using swagger generated retrofit - HTTP client"
I am not able to generate signed APK when I am using swagger generated retrofit 1 HTTP client

Following warnings messages are thrown

Warning:io.swagger.client.auth.OAuthOkHttpClient: can't find superclass or interface org.apache.oltu.oauth2.client.HttpClient
Warning:com.dummy.trading.oms.model.AccountBalanceInfo: can't find referenced class io.swagger.annotations.ApiModelProperty
Warning:com.dum

[2016-04-29 09:22] diyfr opened #2742 "Swager Generator on SpringMVC generates as many times as the method as there are tags"
If you use multiple tags on  one rest method, swagger generator with springmvc target generate  as many times as the method as there are tags

Sample
[code]

Generate

[code]
in PetsApi.java

[2016-04-29 09:44] wing328 commented on #2742
I remember there was a similar discussion before and there were no conclusion on how multiple tags should be handled.

In this particular case, what's your expected output for `pet` and `littlePet`?

[2016-04-29 12:21] wing328 commented on #2725
PR merged into master

[2016-04-29 12:21] #2725 closed

[2016-04-29 13:31] mikolajprzybysz opened #2743 "[PHP] Unit tests are generated in wrong directory"
I have used most recent version from master branch and I noticed that the tests are generated in the default directory even though I have set up custom InvokerPackage.

Additionally I would like to propose decoupling code from tests by moving the test outside lib directory to have it on the same level as lib.

[2016-04-29 13:38] wing328 commented on #2743
Are you using codegen on the windows platform?
2016年4月29日 下午9:31於 "Mikołaj Przybysz" <notifications@github.com>寫道：

[2016-04-29 15:03] xamox opened #2744 "Python-Flask Server generated code on editor.swagger.io produces wrong output."
The default_controller.py file is generated as the following:
[code]

To fix it I just needed to remove the -> but I'm guessing something is not getting parsed correctly to format like below which works:

[code]

[2016-04-29 15:31] wing328 commented on #2744
The default is for Python3. To generate the server stub in python2, please supply the following to the command line argument
[code]

[2016-04-29 19:41] diyfr commented on #2742
Here ?
https://github.com/swagger-api/swagger-codegen/issues/356
Not same result for java JaxRs

[2016-04-29 22:38] dantran commented on #2619
can we have this fix? should be similar changes applied to  #2237

[2016-04-30 08:47] wing328 commented on #2512
Closed via https://github.com/swagger-api/swagger-codegen/pull/2513

[2016-04-30 08:47] #2512 closed

[2016-04-30 17:44] neilotoole opened #2748 "[Go] Generated code should conform to Go fmt"
The Go code should conform to the Go conventions. Currently there are spaces instead of tabs, etc. Essentially, running `go fmt` on the generated code should be a no-op.

[2016-04-30 20:05] evgenynacu commented on #990
Hi.
I have a proposal. Take a look at https://gist.github.com/evgenynacu/72c0d3300a4cadc3dca414910064a524

Changed api.mustache and ApiClient.mustache to support response headers (these are files for Jersey2 Java version). I believe this can be implemented for any client.

I generate one more class encapsulating result object + response headers (when there are response headers).

Although, deseria

[2016-05-01 02:13] wing328 commented on #990
@evgenynacu the issue has been addressed in the latest master by introducing an additional method "WithHttpInfo" to return the status code and response headers.

[2016-05-01 04:12] #2665 closed

[2016-05-01 04:13] wing328 commented on #2646
Done via https://github.com/swagger-api/swagger-codegen/pull/2693

[2016-05-01 04:16] #2646 closed

[2016-05-01 04:21] wing328 commented on #2588
@vdillon may I know if you've cycle to contribute the fix? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/jersey1_18/api.mustache#L48

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-01 04:26] wing328 commented on #2619
@dantran would you have cycle to contribute the fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-01 04:27] wing328 commented on #2748
Totally agree and I believe you're working on it :)

Ref: http://stackoverflow.com/a/19094788/677735

[2016-05-01 04:28] wing328 commented on #2741
@rahulc-nrift please share the spec so that we can use it to repeat the issue.

[2016-05-01 04:32] wing328 commented on #2304
@jfiala We start adding validation to model properties and method arguments in the API client: https://github.com/swagger-api/swagger-codegen/issues/2663

This should not impact your contribution. It's more of an FYI.

[2016-05-01 04:35] #2241 closed

[2016-05-01 04:38] wing328 commented on #2203
@HipZena as discussed with the core team, the user should be notified of the issue with the spec (via the exception) so I would suggest to notify the owner of the spec to fix it there as other 3rd-party tools for Swagger may run into the same issue.

[2016-05-01 04:38] #2203 closed

[2016-05-01 04:39] #2700 closed

[2016-05-01 04:41] wing328 commented on #2704
@Danielku15 thanks again for the suggestion. We mark this as a feature request pending community contribution for now.

[2016-05-01 04:41] neilotoole commented on #2748
Well yes, as it turns out, I am working on it :-)

Incoming shortly.

[2016-05-01 05:07] evgenynacu commented on #990
some examples of generated code for better understanding:
https://gist.github.com/evgenynacu/43c167fcd455df5a1df99c546f97e1a3

in description.json you can see "X-Total-Count" header. And you can see it in callsUsingGETResponse generated class (private final Long xTotalCount)

[2016-05-01 14:06] Vrolijkx opened #2751 "Generated typescript when using additional properties is incorrect."
The code generated by the Typescript client when having additional properties in the spec file will never compile. The next example is from the typescript-angular2 client. The other Typescript clients have te same problem.
[code]
with spec file:
https://gist.github.com/Vrolijkx/b220edc20c6f9379bfc8291ea6e28aec

In other languages they extend from a map to support the additional properties behaviou

[2016-05-01 16:50] vdillon commented on #2588
I cannot commit to contributing at this time.

Van

--------- Original Message --------- Subject: Re: [swagger-api/swagger-codegen] JAX-RS ApiResponse 'response' and 'responseContainer' annotations get duplicated (#2588)
From: "wing328" <notifications@github.com>
Date: 5/1/16 12:21 am
To: "swagger-api/swagger-codegen" <swagger-codegen@noreply.github.com>
Cc: "vdillon" <vdillon@edge2web.com>, "Ment

[2016-05-02 01:05] jimschubert commented on #2498
@langdonx What was the fix for this? Did you generate against master?

[2016-05-02 01:20] jimschubert commented on #2584
@jforsell What is the target framework (4.0, 4.5?), OS and .NET runtime version you are experiencing this under?

I think there are two separate issues here:

1. The defaulted parameters actually generate a parameterless constructor that can be used by the deserializer. I had initial concerns about this, but in testing there didn't seem to be issues. I'd have to look again to see if something has

[2016-05-02 01:42] jimschubert commented on #2589
@wing328. Fully qualified names don't break guidelines. Usually they're
used for short examples and not used when a parent namespace is already
imported.  I don't see it as an issue since the IDE and tools now allow you
to clean up the source code quickly. It *could* break builds with strict
static code analysis, but there's no real way to solve for all possible use
cases here.

On Sun, Apr 17, 20

[2016-05-02 02:18] langdonx commented on #2498
@jimschubert yes, master.  should be fixed in 2.2.0.

[2016-05-02 03:35] rahulc-nrift commented on #2741
Hi wing,

I am working on android app where I used swagger codegen to generate
retrofit 1.9 client library . In android debugging mode it is working fine
. But when I try to generate signed apk It was showing mentioned warning .
I have prepared proguard rules and also included retrofit and related rules
. Please find below mentioned proguard rules

Please let me know if done any thing wrong or do

[2016-05-02 09:54] mikolajprzybysz commented on #2743
My OS is Ubuntu 14.04, you can find changes in PR "Issue 2743"

[2016-05-02 12:33] wing328 commented on #2743
@mikolajprzybysz thanks for the PR. I believe it addresses the issue as well as adding the proposed enhancement to the library (decoupling code from tests).

We'll review and let you know if we've any question.

[2016-05-02 12:33] wing328 commented on #2743
PR: #2753

[2016-05-02 12:34] wing328 commented on #2743
PR: https://github.com/swagger-api/swagger-codegen/pull/2753

[2016-05-02 15:38] vipera commented on #2657
Down the line I found out that overriding `sanitizeTag` achieves the effect I wanted.

Having the call just before outputting api filenames might be a more logical design (then you could have access to the actual tag in the api filename set of methods, instead of having "tag" contain a pre-sanitized tag), but I'm not sure what the use case is - and since it's possible to customize the mapping by o

[2016-05-02 15:45] langdonx commented on #2498
@jimschubert Oops, you know what, I actually pulled down wing's fork and branch from the pull request.

[2016-05-02 16:36] jimschubert commented on #2498
@langdonx sorry, when I commented yesterday @wing328's messages weren't visible. I guess github has a limit on how actively you can contribute and rate limited him ;)

[2016-05-02 20:57] kbrooks opened #2756 "c# - generated api method throws NullReferenceException when using optional FromBody parameter"
I have a api endpoint with an optional body parameter, but the generated code for that endpoint produces a NullReferenceException.

[code]

The generated code allows for the parameter to be null, but it throws a NullReferenceException:
[code]
I am using version 2.1.6.

Thanks for your help.

[2016-05-02 21:49] kbrooks commented on #2756
It looks like all we need to do to fix this is add a null check to [this line](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api.mustache#L230).

I've never used mustache before but I think it should be something like this:
[code]

[2016-05-03 01:28] wing328 commented on #2657
@vipera my guess it that previously we found non-alphanumeric characters (e.g. #, $) in the tag. I agree with you that number should not be removed.

I'll leave this open for the time being so that we will update sanitizeTag with better logic and a test case (a tag with numbers) to cover it moving forward.

[2016-05-03 05:04] archana27m opened #2757 "PHP model mustache modification issue"
I am trying to include reference of another generated model from swagger codegen but I am unable to make it using following reference code for mustache in PHP -

{{#imports}} include_once {{imports}};
{{/imports}}

Please help me, I need to include another model in model file.

[2016-05-03 09:12] sbelan opened #2759 "explicit setting of Api and model package names not working in php -issue with method toPackagePath(String packageName, String basePath)"
Hi,
I am setting package and model name from my code as below.
[code]
But swagger is not creating code as per the mentioned packages. Please let me know, significance of method toPackagePath(String packageName, String basePath) from PhpClientCodegen. As per the observation this method is creating the issue.
`packageName = packageName.replace(invokerPackage, " ");`

[2016-05-03 09:48] boxjar commented on #2584
@jimschubert I'm on Windows 7 targeting 4.5, but tried targeting 4 (generating for 3.5) just now and got the same problem. I am generating the example with:

`
java -jar swagger-codegen-cli.jar generate -i yaml.txt -l csharp -c config.txt
`

config.txt only contains the targetFramework setting.

Interesting that you mention the constructor with the default parameters. I can actually get the genera

[2016-05-03 13:25] wing328 commented on #2714
@JoshuaWhatley I've merged https://github.com/swagger-api/swagger-codegen/pull/2508 into master.

We'll work on enum support for array and dictionary later this week or early next week.

[2016-05-03 13:27] wing328 commented on #2498
@langdonx I've merged https://github.com/swagger-api/swagger-codegen/pull/2508 into master. I wonder if you can pull the latest master and give it a try.

[2016-05-03 13:27] #2498 closed

[2016-05-03 13:28] wing328 commented on #2429
https://github.com/swagger-api/swagger-codegen/pull/2508 merged into master. Closing this one.

Please reply back if the latest master is not working for you.

[2016-05-03 13:28] #2429 closed

[2016-05-03 13:29] wing328 commented on #2450
@danjor we've merged https://github.com/swagger-api/swagger-codegen/pull/2508 into master. Please pull the latest master and give it a try.

Closing this for now.

[2016-05-03 13:29] #2450 closed

[2016-05-03 13:30] wing328 commented on #2690
@kenjitayama  https://github.com/swagger-api/swagger-codegen/pull/2508 has been merged into master so it should cover at least Java. Please pull the latest master and give it a try.

[2016-05-03 13:32] wing328 commented on #2748
@neilotoole  PR merged into master. Thank you for your contribution.

[2016-05-03 13:32] #2748 closed

[2016-05-03 13:33] wing328 commented on #2757
What about including the model in the PHP model mustache template: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/model.mustache#L38 ?

[2016-05-03 13:33] wing328 commented on #2744
@xamox do you need any help passing the CLI option `-DsupportPython2=true` when generating the Python Flask server stub?

[2016-05-03 13:35] wing328 commented on #2723
@bluemmc I think that's a very good suggestion.

If anyone from the community wants to work on this, please reply to let us know.

[2016-05-03 13:36] diyfr commented on #2742
https://github.com/swagger-api/swagger-codegen/pull/2760

[2016-05-03 13:37] wing328 commented on #2730
@taufiksu can you please share the spec so that we can use it to reproduce the issue?

[2016-05-03 13:38] #2710 closed

[2016-05-03 13:38] wing328 commented on #2682
@woohooyayaya closing this as there's no update from you.

[2016-05-03 13:38] #2682 closed

[2016-05-03 13:40] wing328 commented on #2672
@K76154 may I know if you've cycle to make the contribution?

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/jersey1_18/apiService.mustache

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-03 13:45] xamox commented on #2744
@wing328 Thanks for following up.  I didn't realize that -> operator was valid in python3.  I can use python3, I've just been stuck in python 2.7 land for too long.  I found my default python is 2.7 on my host OS, so I'm all good with keeping how it is.  In fact if I read the README that is generated it also states I should be using python3.

[2016-05-03 13:49] wing328 commented on #2744
@xamox no problem. Let us know if you need further assistance. Closing this issue for now.

[2016-05-03 13:49] #2744 closed

[2016-05-03 13:54] wing328 commented on #2643
@abcsun sorry I didn't have a chance to work on this yet.

I've marked the task as "Need Community Contribution" for the time being so that anyone from the community can also work on this enhancement.

[2016-05-03 15:24] K76154 commented on #2672
My company has strict policy on contributing to open source projects, so I probably can't.

[2016-05-03 17:56] guohuang commented on #2748
that is strange, i used to love tabs when programming in .net, but then it creates a lot of issues, so i ended up switching to spaces, and love it, i don't know why Go chooses tabs as standard. (and it is width of 8, which is a lot)

[2016-05-03 22:11] webron opened #2766 "Underscore prefix dropped from property names in generated Node Typescript classes"
_From @saikatguha on April 29, 2016 22:9_

[code]

becomes

[code]

_Copied from original issue: swagger-api/swagger-editor#905_

[2016-05-03 22:31] webron commented on #2700
@wing328 iirc, the spec is not explicit about requiring a type for properties. Not sure if we should do that now, but in general, an `enum` imposes a type because it imposes a set of values from which the type can be inferred. The 'easy' solution for now would be to just infer type string regardless of the actual type of the enum, *if* a type is not defined explicitly.

[2016-05-04 01:41] wing328 commented on #2700
@webron yes, you're correct. My comment above is more on the current behaviour of swagger-codegen (or swagger-parser to be more precise). To default the type to string if enum presents, we will need to update swagger-parser to revise the logic, which currently defaults to object under any circumstances if type is not defined.

I'll create a task in swagger parser for tracking.

[2016-05-04 01:42] wing328 commented on #2748
@guohuang same experience here but given that Go explicitly sets the rule (tab with a width of 8), we don't have a choice.

[2016-05-04 01:45] wing328 opened #2767 "[Typescript] Add .gitignore to Typescript SDK"
.gitignore to be added/auto-generated: https://github.com/Microsoft/TypeScript/blob/master/.gitignore

[2016-05-04 01:55] #2251 closed

[2016-05-04 01:55] #2457 closed

[2016-05-04 01:58] frostshoxx opened #2768 "PHP Client: Fatal error: Class 'Number' not found in ...lib/ObjectSerializer.php on line XXX"
Hi

We have some issue where the our PHP client code generated by Swagger somehow treat the "Double" type attribute in C# to "Number" type in JSON

When the API method attempts to deserialize the JSON string, it received the error: PHP Client: Fatal error: Class 'Number' not found in ...lib/ObjectSerializer.php on line XXX. I looked around the project, all values that were double on our yaml code

[2016-05-04 02:03] wing328 commented on #2768
@frostshoxx which version of Swagger Codegen are you using? v2.1.6 or the latest master?

[2016-05-04 02:05] wing328 commented on #2766
@saikatguha to resolve it, you need to set `modelPropertyNaming` to `original`:
[code]

[2016-05-04 02:24] jimschubert commented on #2584
@boxjar

I'd have to play around with a better approach for handling required properties. The reason I brought up the defaulted parameters in the constructor is because most serializers require a parameterless constructor to construct the object, then work some magic to set the properties. The original intention for the constructor with the defaulted parameters was to require those parameters to c

[2016-05-04 03:59] tjboudreaux opened #2769 "Generating Client Libraries for Multiple Environments"
This seems like it would be a common use case but I am having trouble finding any reference to it in the docs or an example of it in any of the samples.

We have development and production environments for our API's, which is a common scenario.

I am looking for a way to configure the base path based on environment.  I've checked the docs, wiki, and looked through some of the generated samples, bu

[2016-05-04 04:02] wing328 commented on #2704
@Danielku15 do you need any help adding the `cpprestsdk` support? I would suggest you to file a PR so that the community can help review the change make improvements to it.

[2016-05-04 04:04] wing328 commented on #2769
@tjboudreaux the basePath can usually be set when constructing the Api class or ApiClient object. Which language are you referring to in particular?

[2016-05-04 04:05] wing328 commented on #2768
@frostshoxx I can confirm that we've it covered in our test cases: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Model/FormatTest.php#L170

Please pull the latest master and give it another try.

[2016-05-04 04:19] archana27m commented on #2757
Like java, I need to import some models and the syntax mentioned above is not working for php.

[2016-05-04 06:10] arnested commented on #2768
I think what you experience is what we fixed in 194e80ddab0e7adb33d69a787206a76a20f92888. If you try master this should be fixed.

[2016-05-04 06:19] kenjitayama commented on #2690
@wing328
Thanks for the notice!
Looking forward for Swift support too :)

I wasn't sure of the supported yaml syntax and I tried the following.
Only weather3 generated an enum.

[code]

weather3 produced Java code :

[code]
Is there any syntax for having custom names for each enum items?

weather3 caused exception for Swift (I guess not supported yet) :
[code]

[2016-05-04 06:56] wing328 commented on #2768
@arnested thanks for the confirmation.

@frostshoxx let me know if you still see the issue and we're happy to reopen this. Closing this for now.

[2016-05-04 06:56] #2768 closed

[2016-05-04 07:11] wing328 commented on #2690
For weather1 and weather4, I don't think it's valid as the enum is string but the type is integer.

For enum naming convention, is there any reference? The most common one I saw is adding the "Enum" suffix (e.g. StatusEnum).

[2016-05-04 08:13] kenjitayama commented on #2690
I agree. Tried them in case I could find out something.

Looks like I couldn't express my question correctly.
Is there a way to get
[code]

Instead of
[code]
?

[2016-05-04 08:17] taxpon opened #2770 "[typescript-angular2] Update angular2 client for rc"
Angular2 released [rc.0](https://github.com/angular/angular/releases/tag/2.0.0-rc.0) and [rc.1](https://github.com/angular/angular/releases/tag/2.0.0-rc.1).

They started to use npm scoped package, so template should be updated. (see [CAHNGELOG](https://github.com/angular/angular/blob/master/CHANGELOG.md))

[2016-05-04 08:29] wing328 commented on #2690
Don't think we support that at the moment.

Should be mapping be done in the server side, which means the client will send the string "Sunny" and the server will map it to 1 (in database, etc)?

[2016-05-04 08:52] kenjitayama commented on #2690
This was what I was looking for…, but thanks for sharing.

In my case, the client needs to send and retrieve `1` knowing that it means "Sunny".
Maybe this kind of server API design is considered not good, but I need to stick with it.
I guess the best that I can do is to describe them with `description:`, and write enums manually.

[2016-05-04 08:56] wing328 commented on #2690
@kenjitayama technically we can support it via vendor extension with code changes in how to handle the enum mapping.

[2016-05-04 09:19] kenjitayama commented on #2690
I see that the Swagger specs itself doesn't support this use case.
I think the vendor extension could be something like this:

[code]

I saw swagger-codegen supporting a vendor extension before (x-swagger-router-controller) , so I recognize that it's position is not closed for supporting vendor extensions.
It will be great if I can see this happen in the future.
Maybe this is something that can go

[2016-05-04 09:20] wing328 commented on #2690
Feel free to suggest here: https://github.com/OAI/OpenAPI-Specification/issues

[2016-05-04 11:00] Danielku15 commented on #2704
I am still working on the generation. I tried also some other code generators to check which works best for our code generation. I lately found out that you are using really only the very basic "mustache" engine. When working with mustache templates I usually prefer "Handlebars" which is a bit more advanced since you can register custom helpers which do more advanced stuff.

Take a look at this li

[2016-05-04 11:04] tomradcliffe opened #2772 "Selective Generation doesn't work properly when option is appended"
Using version 2.1.6

Commands

1.
[code]

[2016-05-04 11:29] ethlo commented on #1348
I was going to open a separate issue (and I still can if you find that more appropriate), but I just wanted mention other issues with model generation. It seems that model generation where inheritance/composition is involved is severely broken.

Basically:
It should support the same inheritance hierarchy as specified in the Swagger model.

Also, this generates no extra properties at all (it is the

[2016-05-04 14:46] frostshoxx commented on #2768
I just checked with my colleague, turned out we used the web based swagger https://generator.swagger.io/ to generate the client package.

Do you guys maintain that system as well?

Thank you,

[2016-05-04 14:49] aws-na-ss-usplu commented on #2714
Novice: Our very small two cents **_;-)_**

We currently develop solutions in two worlds… LoopBack/Node.js & WebApi/Asp.net

 We would love to have a solution that complements each others interpretation of the concepts around

- Generic Extensions for Enum
- Implement of Enum
- Solution path to transition from Swagger Extension to first class member of Swagger 2.x schema

We currently use swagger

[2016-05-04 14:52] wing328 commented on #2768
@frostshoxx I don't. https://github.com/swagger-api/swagger-codegen#getting-started is a good starting point to build swagger codegen locally. Let us know if you need any help.

[2016-05-04 14:54] aws-na-ss-usplu commented on #2739
Novice: Our very small two cents **_;-)_**

We currently develop solutions in two worlds… LoopBack/Node.js & WebApi/Asp.net

 We would love to have a solution that complements each others interpretation of the concepts around

- Generic Extensions for Enum
- Implement of Enum
- Solution path to transition from Swagger Extension to first class member of Swagger 2.x schema

We currently use swagger

[2016-05-04 17:12] tjboudreaux commented on #2769
@wing328 after filing this and generating a couple more CALs I noticed the objective-c library supported initializing the client with the base path.

The first client library I generated though, which was a java retrofit library doesn't seem to support it.

Here's the APIClient template that generated the code I was referring to.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/

[2016-05-04 17:32] ePaul commented on #2672
@K76154 You could have a look at the templates in swagger-codegen-template-jaxrs-interfaces from [swagger-codegen-tooling](https://github.com/zalando-stups/swagger-codegen-tooling).

(These templates have also other differences: They are not generating a full project with pom.xml, but generate stuff into target/generated-sources, and are intended to be run with every build.) They can be used with

[2016-05-04 17:53] frostshoxx commented on #2768
Thank you, I'll give that a shot!

Best regards,

[2016-05-04 19:31] pixelshaded opened #2776 "Typescript: Dates Are Not Deserialized"
If you have a property in a definition that is a string with date-time format, the typescript generated makes that property a Date type. However, the response in the client is given verbatim. It never looks for date strings and actually transforms them in to Date objects. So the project will build, but fails at runtime if you try to access Date specific methods since it's actually a string.

I ima

[2016-05-05 02:49] wing328 commented on #2769
@tjboudreaux sorry that we missed the feature in Retrofit. We'll add it to Retrofit 1.x and 2.x.

[2016-05-05 08:30] catinred2 opened #2779 "Unicode Local Text Support issue"
checkout here:[escapeText](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L326)

escapeJava would encode the Chinese into unicode like \u8BA1 , so Chinese would not show properly in the generated static html or java code.

[2016-05-05 08:39] wing328 commented on #2779
@catinred2 thanks for reporting the issue. I think this will impact other double byte characters as well.

May I know if you've cycle to contribute a fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-05 13:36] catinred2 commented on #2779
I'll give it a try tomorrow.

[2016-05-05 14:45] wing328 commented on #2779
@catinred2 thanks. ping me if you need any help.

[2016-05-05 15:27] wing328 commented on #2772
@tomradcliffe I agree it's an issue for the use case that you've mentioned. Would you have cycle to contribute a PR with better handling of the  command line options?

[2016-05-05 15:28] catinred2 opened #2781 "Incomplete HtmlDoc Generation"
I've placed ApiResponse annotation in controller like this:
`@ApiResponse(code=200, message = "return value",response = GetInfoResult.class)`

and there is no information about GetInfoResult in the generated htmldoc.

200
return value
401
Unauthorized
403
Forbidden
404
Not Found

[2016-05-05 16:21] sbarinov commented on #2507
Could you please explain me how to generate classes with XML annotations (like @XmlRootElement and so on)?
I use swagger-codegen-maven-plugin maven plugin and "Generate server" on http://editor.swagger.io/#/ using the jaxrs language and I don't see any xml-related annotations in the result model classes.

here is my plugin settings:

      <plugin>
        <groupId>io.swagger</groupId>
        <ar

[2016-05-06 03:01] jimschubert commented on #2584
Leaving this link here since it may help with a resolution: https://manski.net/2014/10/net-serializers-comparison-chart/

The linked post explains general capabilities of different serialization frameworks, and requirements for common serialization attributes.

[2016-05-06 07:10] saikatguha commented on #2766
I am using [editor.swagger.io](editor.swagger.io) and don't have the option to change the codegen settings used there. If they are using the default options, `original` naming should probably be the default.

Also changing property names without also using a custom serializer/deserializer to map the changed names back to the original schema names in API operations breaks the client.

[2016-05-06 11:08] moanrose opened #2788 "Angular 1 gen - Add basePath to inject and allow empty basepath"
Add basePath to the inject array. In order to be able to use angular DI with a different basepath.

If base path is not present in inject array angular DI cannot resolve basePath when uglified.

Check for if(basePath !== undefined) instead of if(basepath) to allow an empty basePath

An empty basepath is handy when the API resides on the same host as the application

`        static $inject: string

[2016-05-06 14:25] pixelshaded commented on #2776
Noticing this for format: byte as well. Sets data type to ByteArray but is not deserializing that from the string.

[2016-05-06 14:39] wing328 commented on #2776
@pixelshaded thanks for reporting the issue. Would you have cycle to port the solution from JS to TS: https://github.com/swagger-api/swagger-codegen/pull/2030 ?

[2016-05-06 14:58] sean11 opened #2789 "C#: Add support for collectionFormats for query string parameters"
Currently, all collections, arrays and lists that are sent as a query string parameter get formatted as a comma separated list of strings and do not support any other collectionFormats. See [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api.mustache#L221).

I've made some preliminary modifications [here](https://github.com/sean11

[2016-05-06 14:59] pixelshaded commented on #2776
Potentially.

Honestly I've got a workflow where the source swagger spec goes through a processor before going in to codegen. In this processor, I essentially make up for any short comings in codegen - remove format date-time and byte so I get strings as the data type, along with removing enums from definitions because they dont get generated correctly atm.

I may be able to take some time this we

[2016-05-06 15:42] wing328 commented on #2789
@sean11 Thanks for the contribution. May I know if you've time to submit a PR so that we can review accordingly?

cc @jimschubert

[2016-05-06 16:04] sean11 commented on #2789
Opened PR #2790

[2016-05-06 20:34] who opened #2792 "Java: Add optional support for org.apache.maven.plugins:maven-source-plugin"
It would be nice to add an option to have a sources jar generated for the caller of swagger-codegen.

[2016-05-06 22:57] ggood commented on #2314
Here's another example. I've specialized a string property (MACAddress) with a pattern validator, but the generated java class is just created as a bare class:

[code]

and no constructor that allows me to pass in a string. I can work around that, as you mention, by "inlining" the pattern, but we have quite a few types with MAC addresses in them.

[code]

[2016-05-06 23:08] ggood opened #2795 "C#: Constructor is malformed if last property is readOnly: true"
Swagger-codegen 2.1.6. With the OpenAPI spec in this Gist:

https://gist.github.com/ggood/099933cdf7aba3cab4867abd500d1b25

the generated c# constructor won't compile, due to a missing argument:

[code]

This happens when the last property in a definition is readOnly.

[2016-05-07 00:49] wing328 commented on #2795
@ggood I believe I've addressed this in the latest master. I wonder if you can pull the latest master and give it a try.

[2016-05-07 01:12] wing328 commented on #2781
PR merged. Issues closed.

[2016-05-07 01:12] #2781 closed

[2016-05-07 02:29] jimschubert commented on #2584
@jforsell @boxjar I was wondering if you could try a fix I just committed on my branch: https://github.com/jimschubert/swagger-codegen/tree/cs/req_properties_2584

I've added a protected parameterless constructor when a class contains any required properties, but I probably won't have time to test it myself for a few days.

[2016-05-07 04:11] jimschubert commented on #2789
I'll try to also check out the PR some time this weekend.

[2016-05-07 04:16] jimschubert commented on #2723
Should this be done only for C#, or other languages as well?

[2016-05-07 04:27] jimschubert commented on #2183
I'd also like to see a dump of the options that were used.

[2016-05-07 04:33] jimschubert commented on #2795
We should probably include a unit test if this is fixed.

I noticed code for required properties last night which I thought might result in this malformed constructor, but I didn't have time to verify my assumption. If this isn't yet fixed, I can grab it early next week.

[2016-05-07 05:54] wing328 commented on #2795
@jimschubert totally agree about adding a test case to cover issues moving forward. I added this before: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L807

Let me know that looks good from your perspective (I welcome better and more tests to cover the same issue)

[2016-05-07 14:27] jforsell commented on #2584
@jimschubert I've only done a quick test using your branch but didn't get a protected parameterless constructor when generating the code using the above example, not sure why. I tried adding the constructor manually after generating, but looks like Json.Net doesn't recognise it when it's protected; I had to change it to public to make it work.

[2016-05-07 14:31] jimschubert commented on #2584
@jforsell Thanks. I'll explore other options. I think I'll investigate JSON.Net serialization options next. I'm trying to avoid the public constructor, but I think that would be an acceptable final result considering the model types are partial and consumers could just as easily create their own constructors.

[2016-05-07 16:07] wing328 commented on #2769
@cbornet can please take a look when you've time?

[2016-05-07 16:31] wing328 commented on #2314
@ggood we've started adding validation to API client and you can track the progress here: https://github.com/swagger-api/swagger-codegen/issues/2663

[2016-05-07 22:10] rgarcia commented on #2456
I am running into this with a swagger definition file that had a type named `Error`. The generated typescript code contains an `Error` class, but also internally has calls to the builtin `Error` type, e.g. `throw new Error("...")`. This causes the typescript compiler to complain.

[2016-05-07 23:08] cbornet commented on #2769
@tjboudreaux you can do ```apiclient.getAdapterBuilder().setEndpoint(newBasePath)```. It must be done before creating the service classes.
@wing328 I can PR the helper method if you think it's useful.

[2016-05-08 01:14] gpekofsky opened #2800 "when language is jaxrs the defined template is ignored"
If I set
 -l jaxrs -t /path/to/template
The template is always ignored.

This seems to be because in JavaJerseyServerCodegen.java
embeddedTemplateDir = templateDir = JAXRS_TEMPLATE_DIRECTORY_NAME + File.separator + "jersey1_18";

The specified template path is ignored altogether.

[2016-05-08 02:03] wing328 commented on #2456
@rgarcia thanks for reporting the issue. We can properly escape `Error` by adding it to the reserved word list.

[2016-05-08 02:38] wing328 commented on #2769
@cbornet one way is to generate the helper method. Another way is to generate documentation (md) showing how to set the base path with code sample (ref: https://github.com/swagger-api/swagger-codegen/issues/2359).

I would prefer the latter as a starting point if you've cycle to work on the auto-generated doc (currently auto-generated doc does not show advanced usage such as setting the base path.

[2016-05-08 13:18] jimschubert commented on #2584
@jforsell Thanks for testing that. I'm not sure why you didn't get the protected constructor from my branch. There was a [small additional change](https://github.com/jimschubert/swagger-codegen/blob/cs/req_properties_2584/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L23) I had to make for this to work properly for deserialization. I force pushed new changes and opened a pul

[2016-05-08 13:33] jimschubert commented on #2795
@wing328 I think it'd be a great idea to add a sample type to `petstore-with-fake-endpoints-models-for-testing.yaml` to verify compilation across all languages. I was thinking of a simple unit test case that compiles the yaml definition from this issue and verifies the string output for the class definition to prevent regression. This would be an additional safety against unintentional changes to

[2016-05-08 15:38] wing328 commented on #2788
@moanrose may I know if you've cycle to submit a PR with the suggested change?

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/0bce28cff226b50bbbea02d627f076b39ea0386d/modules/swagger-codegen/src/main/resources/typescript-angular/api.mustache#L20

[2016-05-08 16:02] wing328 commented on #2800
@gpekofsky thanks for reporting the issue. Did you have a chance to try other server stub generator (e.g. springmvc) to see if the same issue persists? That would help us to easily plot the fix from other generator if the issue is jaxrs-specified. Thanks.

[2016-05-08 16:59] jforsell commented on #2584
@jimschubert Working for me too now! Suspect I must have had some build issue earlier, I've tried again including the small additional change you mentioned above and both my example and my real-world app are working properly.

[2016-05-09 03:35] #2779 closed

[2016-05-09 04:49] narayanan commented on #2800
Generating server for jersey2 also does not work. Looks like these two are related. Code generator always generates jersey1_18 even if the value for `--library` option is `jersey2`. Here is the command I used to generate jersey2 server.

`java -jar swagger-codegen-cli.jar generate -i ./my-api-swagger.yaml -l jaxrs -o my-api --library jersey2`

[2016-05-09 05:21] narayanan commented on #2800
Update: I don't see the "jersey2 server" not getting generated issue when I built the CLI jar from master and tried the same command. Looks like the issue is fixed recently.

Looking forward for 2.2.0 release to leverage the fix

[2016-05-09 08:18] wing328 commented on #2742
PR merged. Thanks for the contribution from @diyfr

[2016-05-09 08:18] #2742 closed

[2016-05-09 08:36] NadaBen commented on #2673
I'm searching for a documentation to use swagger-codegen with symfony2

[2016-05-09 08:49] wing328 commented on #2673
@NadaBen are you looking for this instead? https://github.com/activelamp/swagger-ui-bundle

[2016-05-09 08:50] wing328 commented on #2792
@who thanks for the suggestion. May I know if you've cycle to make the contribution?

[2016-05-09 08:52] wing328 commented on #2751
@Vrolijkx please go with your suggestion. Let me know if you need updating the TS template.

[2016-05-09 08:55] wing328 commented on #2741
@rahulc-nrift I would suggest you pull the latest master, build the JAR and generate the Retrofit 1.x SDK in a new directory as the warning is related to missing dependency.

[2016-05-09 08:55] wing328 commented on #2722
PR merged. Closing this.

[2016-05-09 08:55] #2722 closed

[2016-05-09 08:57] NadaBen commented on #2673
this bundle can help in documentation case, i want to generate code for other languages

[2016-05-09 09:00] wing328 commented on #2723
@jimschubert when you've time, please add "partial" to C# API endpoint classes to begin with. I think we'd a similar discussion before and this should be the right time to do it.

(understood that adding partial is not the same as implementing a common interface but adding partial should provide the flexibility to allow developers to further customize it so as to address some of the pain points me

[2016-05-09 09:01] wing328 commented on #2800
@gpekofsky would you please pull the latest master and give it another try?

[2016-05-09 09:02] wing328 commented on #2795
@ggood may I know if you've a chance to try the latest master to see if the issue still persists?

[2016-05-09 09:03] wing328 commented on #2673
if you use that bundle, you should be able to obtain or generate the openapi/swagger spec.

Once you've the spec, you can refer to https://github.com/swagger-api/swagger-codegen#getting-started as a starting point on using swagger codegen to generate different API clients given the openapi/swagger spec.

[2016-05-09 09:06] wing328 commented on #2709
@chirag272003 the minimal requirement is Java1.7: https://github.com/swagger-api/swagger-codegen#prerequisites

Would you consider upgrading the server to use Java1.7 instead?

[2016-05-09 09:20] wing328 commented on #2668
@monestri I've filed #2804 to fix it.

[2016-05-09 09:27] wing328 commented on #2730
@taufiksu closing this as there's no update fro you. Please provide the spec so that we can troubleshoot.

Closing this for now.

[2016-05-09 09:27] #2730 closed

[2016-05-09 09:29] wing328 commented on #2100
I believe this issue has been addressed. Please reply if that's not the case.

[2016-05-09 09:29] #2100 closed

[2016-05-09 12:36] buremba opened #2805 "java-client compilation error because of missing import"
I generated the java-client of [this swagger definition](https://gist.github.com/buremba/a9c87052f7a76284cf8f6fb1fede30de) using version 2.1.6 and tried to install it with maven using `mvn clean install` but it throws compilation error.

[code]

It seems that swagger-codegen fails to import some generated classes so maven complains about missing class error.

[2016-05-09 12:58] Vrolijkx commented on #2602
+1 I have the same problem. It would be nice if ApiException has a field entity which is the deserialized version of this model. Or maybe even subclass ApiException for each exception model to make exceptionHandeling easier.

[2016-05-09 13:46] fehguy commented on #2805
Please share your definition so we can help

[2016-05-09 13:47] #2668 closed

[2016-05-09 13:47] wing328 commented on #2805
@buremba the issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/2804

Please pull the latest master and give it another try.

[2016-05-09 13:47] buremba commented on #2805
@fehguy I already shared that in previous post. You can also find it here: https://gist.github.com/buremba/a9c87052f7a76284cf8f6fb1fede30de

[2016-05-09 13:48] wing328 commented on #2668
@monestri PR merged into master. Please pull the latest and give it another try.

[2016-05-09 13:51] buremba commented on #2805
@wing328 One of the errors was related with @JsonValue but there is also one other missing import in UsermailboxApi. It fails to import Message model which is not related with @JsonValue.

[2016-05-09 13:54] fehguy commented on #2805
@buremba please list the files generated by your specification?

[2016-05-09 13:59] buremba commented on #2805
@fehguy Here is the output: https://gist.github.com/buremba/7fdf83802549e7e9185d1e2b3e931a92

And the configuration that I used for creating java client:
https://github.com/buremba/rakam-client/blob/master/scripts/generated/java.json

[2016-05-09 14:21] jimschubert commented on #2723
@wing328 I reread the question to see if a partial class would resolve the issue, and it looks more like the question is how to use the ApiClient.Configuration singleton. I can add the partial keyword, too, but I think the fix here is to update documentation with how to modify the client configuration.

[2016-05-09 14:23] wing328 commented on #2805
@buremba I found the issue which is due to array of array of model. Working on a fix now...

[2016-05-09 14:24] buremba commented on #2805
@wing328 Thanks!

[2016-05-09 14:26] wing328 commented on #2723
@jimschubert based on the following:

I think partial class would help (not a perfect solution).

Also agree on improving the documentation on show advanced usage of the C# SDK (e.g. how to use configuration, how to debug, etc)

[2016-05-09 15:18] wing328 commented on #2805
@buremba I've filed #2806 to fix it. My manual tests using your spec and config file work.

[2016-05-09 15:35] #2805 closed

[2016-05-09 15:36] wing328 commented on #2805
@buremba the fix has been merged into master. Please pull the latest and give it another try.

[2016-05-09 16:22] Hendrik-H opened #2807 "~~~ block does not work in HTML codegen"
My description contains a ~~~ block that renders fine in the swagger editor. When I use the code gen command with HTML as the target language no code block is being created but the ~~~ are displayed in the text. Furthermore all the line breaks are shown as \n.
I'm using http://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.1.6/swagger-codegen-cli-2.1.6.jar

[2016-05-09 17:33] jimschubert commented on #2723
@wing328 I agree the partial class could help some users, but I don't think it fully addresses this issue. I'll try to clarify and maybe @bluemmc can set me straight. ;)

I've always thought the `ApiClient` would be a little wonky for a lot of devs to follow.

Here's some relevant code to my comments below, with inline NOTES related to my comments:
[code]

Meanwhile, this is one of the constructor

[2016-05-09 18:10] ggood commented on #2795
I just did a git pull, mvn clean install, and re-ran the generator on my sample. The generated constructor still looks wrong:

[code]

Full constructed class here:

https://gist.github.com/ggood/93a39701368e98e5d59faed56f499857

[2016-05-09 19:16] aboretum commented on #2800
It depends on where it works as intended, if the intended use for `-t` is for us to supply the entire template (`mustache`) files for server stub, then it is working on my machine for jersey-1.18. If it is used to overwrite only an individual file, the `-t` option seem to be ignored completely.

[2016-05-09 19:54] arnested commented on #2625
@quickshiftin, this should be fixed in the master branch now and will appear in the next stable release.

[2016-05-09 20:25] jaz-ah opened #2809 "generate models for definitions that haven't been referenced within paths?"
@wing328 I had a quick question - I have a file called bar.json that basically looks like:

{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "xxx",
        "description": "yyy",
        "termsOfService": "xxx",
        "contact": {
            "name": "xxx"
        },
        "license": {
            "name": "MIT"
        }
    },
    "host": "xxx",
    "basePath"

[2016-05-09 20:48] quickshiftin commented on #2625
Thank you sir!

[2016-05-09 20:48] #2625 closed

[2016-05-09 21:41] jaz-ah commented on #2809
(btw this happens for Swift + Android but my guess it's an overall thing that is probably by design - but if there is a way to override this behavior that would help - thx)

[2016-05-09 22:55] jaz-ah commented on #2809
(one hack could be to just add a new property to fooResponse like this:
                "xxxCodeGenxxx": {
                    "type": "object",
                    "$ref": "./Foo.json#OtherStuff"
                }

but this feels gross

[2016-05-10 02:27] wing328 commented on #2795
@ggood Thanks for checking. I'll take another look today.

[2016-05-10 05:29] saharj opened #2813 "how to create decimal in yaml for C# generate code"
_From @deepakbhise on May 9, 2016 15:24_

_Copied from original issue: swagger-api/swagger-editor#921_

[2016-05-10 05:30] saharj opened #2814 "how to set non nullable object in c# generated code from yaml. YAML change"
_From @deepakbhise on May 9, 2016 15:25_

_Copied from original issue: swagger-api/swagger-editor#922_

[2016-05-10 07:22] wing328 opened #2816 "[Ruby] convert should to expect in Petstore rspec files"
`should` needs to be replaced with `expect` (introduced a few years ago)

Ref: https://www.relishapp.com/rspec/rspec-expectations/docs/built-in-matchers

Files that need to be updated:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/spec/pet_spec.rb
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/spec/store_spec.rb

If

[2016-05-10 08:30] aoboturov opened #2817 "modules/swagger-codegen/pom.xml module has conflicting source/target lang versions."
The `swagger-codegen/modules/swagger-codegen/pom.xml` contains `maven-compiler` twice with conflicting versions `1.6` and `1.7`.

As a side question: why couldn't the 1.8 be used?

[2016-05-10 09:48] wing328 commented on #2795
@ggood it's my fault that my major [PR](https://github.com/swagger-api/swagger-codegen/pull/2508) to add better enum support for csharp, php, etc removed part of fix by https://github.com/swagger-api/swagger-codegen/pull/2670.

I've added back the fix via #2818.

I'll be more careful rebasing PRs moving forward. Sorry for the inconvenience caused by this.

@jimschubert I misread "snake_case" as th

[2016-05-10 10:10] ePaul commented on #2817
For the side question: If swagger-codegen is using 1.8, then it can't be used easily in 1.6/1.7 VMs (especially important for the maven plugin). The other way around it works better.

We have a project which still doesn't build on Java 8, but we still are using Swagger-Codegen in the build process.

[2016-05-10 10:12] aoboturov commented on #2817
@ePaul Codegen could be run on Java8, but produce code for Java6. There's no problem.

Could you fix the original problem from this ticket?

[2016-05-10 10:19] bluemmc commented on #2723
@jimschubert Many thanks for the details. I was not aware of the dangerous Configuration.Default.

And a more general thanks to you both for this discussion. It is a great pleasure to be a small part of the consistently responsive and helpful open source community that swagger-codegen has !

I agree with your IApiAccessor proposal, I agree with the idea of making the generated clients partial and

[2016-05-10 11:08] #2795 closed

[2016-05-10 11:58] NadaBen commented on #2673
I tried what u proposed to me, when i run the command
`java -jar modules\swagger-codegen-cli\target\swagger-codegen-cli.jar generate -i http://localhost/test/web/app_dev.php/v1/photos/bymachinetags.json -l php -o c:\temp\php_api_client`

it shows me this error:
`[main] INFO io.swagger.parser.Swagger20Parser - reading from http://localhost/test/web/app_dev.php/v1/photos/bymachinetags.json
[main] IN

[2016-05-10 12:00] wing328 commented on #2673
From the error, seems like it cannot find `http://localhost/test/web/app_dev.php/v1/photos/bymachinetags.json`

[2016-05-10 12:02] NadaBen commented on #2673
that can be linked to the swagger-ui-bundle configuration ?

[2016-05-10 12:06] wing328 commented on #2756
@kbrooks the fix by @guohuang has been merged into master. Please pull the latest master and give it a try.

(closing the issue for the time being)

[2016-05-10 12:06] #2756 closed

[2016-05-10 12:13] hacki11 opened #2819 "[C#] Stream file uploads instead of copy all bytes into memory"
ApiClient::ParameterToFile will copy complete file into ram before upload to rest service.

what about streaming a file to avoid OutOfMemory Exceptions on large files like:

[code]

current implementation:
[ApiClient.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L214)
[code]

[2016-05-10 14:25] wing328 commented on #2819
@hacki11 thanks for the suggestion. Do you have cycle to submit a PR with the suggested change?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-10 14:29] wing328 commented on #2813
@deepakbhise the current type mapping can be found in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L112

For your use case, is it correct to say that you must use decimal?

[2016-05-10 14:55] wing328 commented on #2743
PR merged. Issue closed.

[2016-05-10 14:55] #2743 closed

[2016-05-10 15:03] zlx commented on #2253
我来试试看，生成一个基于  Rails 5 的 Server

[2016-05-10 15:12] vipera opened #2821 "Root security object not in output Swagger.yaml"
Hi, I'm having an issue with applying a root-level security scheme to my API. I have this in my Swagger 2.0 file:

[code]

And yet when I run it through the (Sinatra) server codegen, the outputted yaml looks like this (I'm using the default `{{{swagger-yaml}}}` template):
[code]

I can't seem to find any documentation for `securityRequirement`, whatever it is. Is this a bug, unsupported or am I do

[2016-05-10 16:18] haroldcarr opened #2823 "external security / securityDefinitions"
Is there a way to externally declare `security` and `securityDefinitions`.

Often I get swaggers from other places that either have NO security declarations or have one that I want to override for testing.

It would be very useful to be able to do something like

    --security-declaration <declaration-file>

where <declaration-file> would be a swagger excerpt like:

     {
        "security"

[2016-05-10 16:54] cjolif opened #2824 "[Swift] enum with colons are generating non compilable swift code"
If you have:

[code]

This is valid swagger but generates

[code]

which is not legal swift.

[2016-05-10 18:41] 414n commented on #2507
@sbarinov: sorry, can't help you with that. The XML annotations you might have seen in my snippet before where erroneously generated.

[2016-05-11 04:40] jimschubert commented on #2767
That ignore file is really specific to the Typescript compiler/project itself.

Maybe we could generate from https://www.gitignore.io (VS Code, node, Visual Studio I think would suffice) or pull from github's repo of ignore files https://github.com/github/gitignore/?

[2016-05-11 04:51] jimschubert commented on #2666
Do you receive an error when using a local file path? inputSpec supports URL and local files. I refactored the plugin to work almost identically to the CLI, and that is in the latest release (2.1.6).

[2016-05-11 06:11] wing328 commented on #2767
@jimschubert  I couldn't fine one from https://github.com/github/gitignore/ for TS. That's why I suggested the one above.

I'll take a look at https://www.gitignore.io

[2016-05-11 07:04] hacki11 commented on #2819
Unfortunately, RestSharp 105.1.0 loads the complete body into memory before send.
The current RestSharp version has an issue not setting the Content-Length attribute where the rest server gets an eof exception....

[2016-05-11 07:52] wing328 commented on #2819
@hacki11 are you referring to this issue? https://github.com/restsharp/RestSharp/issues/814

Roughly how large is your file?

[2016-05-11 08:49] hacki11 commented on #2819
@wing328 i did not know there is already an issue - nice investigation!

it can easily grow to several hundred MB to 1 GB.
Due to migrating my project to C# (java before) the problem arises. Java can stream perfectly with jaxrs.

[2016-05-11 08:54] wing328 commented on #2819
@hacki11 you may want to try compiling the latest version (unofficial release) as another user has confirmed that it did address some of the issue with file upload: https://github.com/swagger-api/swagger-codegen/issues/2175

[2016-05-11 11:19] jimschubert commented on #2767
@wing328 There's nothing that's Typescript specific, because it's not a framework. We could pick some things out of Microsoft's file, but things in that file like `*.config` won't make sense for many users.

For example, compare to Angular 2's gitingore, which only has 5 or so repository specific excludes: https://github.com/angular/angular/blob/master/.gitignore

[2016-05-11 11:43] jaz-ah commented on #2809
(I did end up just referencing everything through definitions in the main file but seems like swagger should look at definitions in other files as well somehow...)

[2016-05-11 13:32] Edubits commented on #2824
Hi @cjolif,
That's indeed not valid Swift. I see that for example in the Java codegen the following code is generated:
[code]
Is that expected? What would be your expected output in Swift?

[2016-05-11 14:33] fehguy commented on #2809
Hi @jaz-ah, that is by design.  We only bring in externally-referenced models if they're referenced.  In fact, we don't parse the entire remote file--just what you ask for (and any references it may have).

[2016-05-11 15:17] cjolif commented on #2824
@Edubits looks like. I will test and double check.

[2016-05-11 15:57] jasonboggess opened #2834 "Option to turn off @javax.annotation.Generated date in Java Classes"
Currently, every time we generate new classes, the following headers is added to the class:

[code]

Git picks up the change in date, which adds a lot of noise every time the code is regenerated. Would be nice to have an option to turn this off.

[2016-05-11 16:04] cjolif commented on #2824
@Edubits the problem is still here after @wing328 commit. Indeed the fix is in `escapeText` which is not called by `toEnumVarName`

[2016-05-11 16:19] jaz-ah commented on #2809
@fehguy fair enough - thx!

[2016-05-11 16:19] #2809 closed

[2016-05-11 16:33] cjolif opened #2835 "[Swift] regression in enum names"
See https://github.com/swagger-api/swagger-codegen/commit/982a035cc1228d477e8583d9cf070698818082a1#commitcomment-17436465

[2016-05-11 20:36] hacki11 commented on #2819
i compiled the RestSharp master and the EOF Error on server side due to missing Content-Length is fixed now.
But the execute function of RestSharp seems to still load the whole stream into memory before streaming the content to the server.
There was already a stackoverflow discussion [SO](http://stackoverflow.com/questions/8988542/restsharp-is-loading-the-whole-file-into-memory-when-uploading-how-

[2016-05-11 23:24] nicholasareed opened #2836 "Question: Why use SplFileObject for PHP file downloads instead of returning bytes? Why call error_log each time?"
In PHP, when having a returnType mapped to `file` the SplFileObject type is used, which causes an error message from the following line: https://github.com/swagger-api/swagger-codegen/blob/50bbd9818cfb2133758ddb5697bd4b36cef62d05/modules/swagger-codegen/src/main/resources/php/ObjectSerializer.mustache#L271

Why is this necessary? I don't see a similar approach being taken in other languages, so wh

[2016-05-11 23:49] Serjster opened #2837 "Custom namespace"
Hello, thank you for creating this wonderful tool.  am using it to create C# classes. For my questions:

1) Most importantly, how I tell the swagger-codegen which namespace, or perhaps base namespace to use? 2) All of my generated models start with I... as in ICustomer... is there any way to strip that first **I**? 3) If 2 can be done, is there a way to have it append a : IWhatever... so if it's t

[2016-05-11 23:52] ggood commented on #2314
@wing328 I think there's a misunderstanding about what issue I'm reporting. Lack of support for support for pattern validation isn't the problem, it's just part of the use case.

The problem is that I was expecting the properties definition above:

[code]

...to behave as if I'd said:

[code]

But it looks as if the MACAddress definition was treated as if I'd declared it as:

[code]

instead of as

[2016-05-11 23:55] fehguy commented on #2837
Hi, there are a number of options for the C# generator.  Have you looked at the configuration options?  Try this:

[code]

Or look at the options from the online generator:

https://generator.swagger.io/#!/clients/getClientOptions

which says:

[code]

Finally, note there are two C# generators, `csharp` and `CsharpDotNet2`.

[2016-05-11 23:57] fehguy commented on #2314
Hi @ggood, this was a limitation in the underlying parsing logic from the swagger-parser library.  What you described _should_ be supported because JSON references are technically allowed to point to non-objects.  I'll check on the status on that issue and report back.

[2016-05-12 01:18] jimschubert commented on #2837
To answer a few more of your questions...

There's no way to modify the model names. You can append or prepend to your model names, however. Just pass `--model-name-prefix` or `--model-name-suffix`. These values are concatenated to the model names provided from your swagger definition by an underscore. For example, `--model-name-prefix=Api` will result in `Api_ICustomer`.

Related to your question

[2016-05-12 03:58] wing328 commented on #2836
To return bye array, please use `binary` (format) instead.
Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

About displaying the "error", we want to show it as log (info) to remind users about moving the temp file to a permanent location. If you've any suggestion to make the message less confusing, please let us know.

[2016-05-12 05:01] winster opened #2838 "Parameters is nil after converting body in API class"
Inside request builder method of API class, parameters becomes nil

let parameters = myBody.encodeToJSON() as? [String : AnyObject]

If I change that to [[String : AnyObject]]  I get value for parameters, but requestBuilder.init requires parametes of [String : AnyObject]

[2016-05-12 06:40] fehguy commented on #2314
OK, I've just checked and it's not supported.  It is in the [develop](https://github.com/swagger-api/swagger-parser/tree/develop) branch which will take a bit to add to codegen.  Until it's in, will leave this ticket open.

[2016-05-12 08:48] NadaBen opened #2839 "Exception in thread "main" java.lang.RuntimeException: missing swagger input or config!"
m trying to execute this command in the command prompt, to generate code for python,

`java -jar modules\swagger-codegen-cli\target\swagger-codegen-cli.jar generate -i http://localhost/test/swagger-docs/api-docs.json -l python -o c:\temp\python_testapi_client`

and it shows me this error:

`   Exception in thread "main" java.lang.RuntimeException: missing swagger input or config!
    at io.swagger

[2016-05-12 10:07] tamilmani opened #2841 "[java] java code generation compilation error"
Below is my swagger 2.0 code

[code]

Generated enum class
     `public enum _classEnum { }`

Generated getter and setter methods
[code]
getClass() method throws compilation error, because java consider to override the getClass() method.

Eclipse java compilation Error:
   The return type is incompatible with Object.getClass()

[2016-05-12 15:13] mythofcode opened #2846 "Cannot generate more than one specified file"
**Issue**:

* If either -Dmodels or -DsupportingFiles is used, only the last specification is generated.
* In addition, if -Dmodels is the last, then only the first specified model class is generated.

**Expected**:

Any combination of -Dmodels, -Dapi and -DsupportingFiles should be supported in one execution. All specified model classes should be generated.

[2016-05-12 15:51] jerrylawson opened #2847 "java/jersey2 pom template enhancements"
- pom template should not be hardcoded to execute gradle; there should be a way of disabling this via swagger-codegen options

- pom template should allow for configuration of a parent pom entry.

[2016-05-12 15:58] jerrylawson opened #2848 "java/jersey2"
When running swagger-codegen with -l java and library jersey2, the generated ApiClient.java does not allow for "PATCH" in invokeAPI(). PATCH support should be added to the ApiClient.mustache: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/ApiClient.mustache

[2016-05-12 15:58] Serjster commented on #2837
Thank you for your answers. BTW, I attached a Swagger.json deal that breaks the online gen.
[cl.zip](https://github.com/swagger-api/swagger-codegen/files/261737/cl.zip)

[2016-05-12 16:03] jerrylawson opened #2849 "java/jersey2 should expose builder or setter for ApiClient.httpClient"
The httpClient value in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/ApiClient.mustache#L58 is private without a setter method. This does not allow for an application to provide its own Client instance to be used.

It would be good to have ApiClient either provide a protected or public setHttpClient(Client) method, or

[2016-05-12 16:10] Amadiro opened #2850 "[python] Extra slash inserted between endpoint and basePath"
When specifying the basePath as "/", and some given path as e.g. "/my_api_call", the generated python code will make a request to "//my_api_call".

When specifying the path as "my_api_call" the request generated goes to "/my_api_call" as intended, but the Swagger document does not validate.

I did not verify whether this is an issue with other generators.

[2016-05-12 16:13] nicholasareed commented on #2836
Thanks @wing328. Using `binary` is an option, but it doesn't answer why PHP is the only language where swagger-codegen decides to use a temporary file instead of streaming the file bytes back for `file` formats. In our SDK implementations (and most others I would assume), it would be odd to switch a response type in our spec.json from `file` to `binary` for only the PHP SDK build.

For the error,

[2016-05-12 16:15] fehguy commented on #2847
Just think of the pom as a starting point.  It's expected that you're going to make changes, like adding dependencies, etc.  I don't think it makes sense to make every aspect of it configurable, that should be part of your workflow.

[2016-05-12 16:15] #2847 closed

[2016-05-12 16:34] wing328 commented on #2836
@nicholasareed I believe other languages like Ruby, Python also write to a local file if the response is defined as `file`

For the "error" message `[INFO] Written $byte_written byte to $filename...`, if we show it only if the debug flag is on, would that cause less confusion to you?

I agree the default may not suit everyone's need so please share with us what makes senses or does not make sense

[2016-05-12 16:39] nicholasareed commented on #2836
Ah, I actually didn't see it in those languages. It definitely seemed out-of-place for a single language but I assumed it couldn't be alone!

Only showing if the debug flag is on would be a great solution. I think that strikes the right balance between informative and bothersome for first-time vs. repeat users.

[2016-05-12 18:13] billharrelson opened #2851 "Can't find io.swagger.client.model.QueryResult"
I used Swagger-codegen to generate a java interface to a providers API, but the PrefetchMapper.java class references io.swagger.client.model.QueryResult which I can't find.  I managed to find all of the other jars that it referenced (jackson, etc.) on the Maven repository, but that class isn't in the Model classes (there's a Query, but no QueryResult), and I can't find references to it anywhere.

[2016-05-12 18:18] fehguy commented on #2851
Please share your definition

[2016-05-12 18:22] billharrelson commented on #2851
https://balihoo.looker.com:19999/api/3.0/swagger.json

[2016-05-12 19:08] Amadiro opened #2853 "[python] swagger generator seems to be unable to resolve references from local files"
I have a spec that uses pathes from an external file like so:

`
"paths": {
       "$ref": "./paths/videos__query_exact.json"
   }
`

the file in paths/videos__query_exact.json looks like so:

`
{
  "/videos__query_exact": { ... }
}
`

However, when doing this, no VideoApi object is generated. When first running

`json-refs resolve`

on the file and using the output of that command, the VideoApi o

[2016-05-12 19:11] fehguy commented on #2851
Hi, I see a number of issues in your definition. If you can send me a note directly, I'll work on this offline with you.

[2016-05-12 19:24] sergiocg90 commented on #2493
@wing328 @cjolif could you please post the workaround? I am not able to see it :(

[2016-05-12 22:21] biancalana commented on #120
https://github.com/jhthorsen/swagger2

[2016-05-13 01:42] darylteo opened #2856 "[Javascript][2.1.6] Missing Model class when definition is {}"
EDIT: Title was previously "NestedType2?"

Hi guys. Thanks for your hard work on this tool.

I have a swagger json generated using jaxrs analyzer. I then use swagger codegen on it, before importing it into a webpack project. However, I get the following error:

[code]

[code]

It seems that the generated DefaultApi.js tries to require NestedType2, but NestedType2 is never generated by swagger-code

[2016-05-13 01:44] jimschubert commented on #2724
Please correct me if I'm wrong, but I'll be speaking to this code in *Api.cs classes:
[code]

Are you saying you want a factory method on each *Api type (implemented as a partial method), a specific factory method for each operation (could be implemented as a partial method, one per operation), or a global factory method (on the `Configuration` object)?

I agree with the suggestion that we could u

[2016-05-13 02:02] darylteo commented on #2856
Okay I have narrowed it down to the URI class. If you use it as a type, swagger generates NestedType with an empty property table, and swagger does not generate this.

Looking for a workaround.

[2016-05-13 02:21] jimschubert commented on #2723
@bluemmc I've submitted pull request #2857. Please let me know if this meets your needs.

[2016-05-13 02:49] jimschubert opened #2858 "[csharp] (Discussion) Refactor and document ApiClient/Configuration"
This is in response to conversation in #2723.

I'd like to discuss the following:
1. Differentiate between "global configuration" and "instance/per-request configuration".
2. Better documentation related to constructing the *Api classes with `Configuration` instances.
3. Clean up the constructors for ApiClient to call through to the other constructors.
4. Maybe deprecate `Configuration.Default` or

[2016-05-13 03:33] fehguy commented on #2858
We might want to separate the schemes in the templates, per the spec rather than jam them into a single `scheme`+`host`+`basePath`

[2016-05-13 08:41] #2824 closed

[2016-05-13 08:41] #2835 closed

[2016-05-13 09:30] wing328 commented on #2849
@jerrylawson thanks for the suggestion. May I know if you've cycle to contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-13 09:43] wing328 commented on #2848
@jerrylawson thanks for reporting the issue. Would you have cycle to contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

For the time being, please generate Java API client with `okthtp-gson` library instead, which should support PATCH operation.

[2016-05-13 10:28] bluemmc commented on #2723
The pull request looks great!

[2016-05-13 11:00] bluemmc commented on #2724
I suggest the following (untested but I think it will work):

1) Declare this type globally:
`
public delegate Exception ExceptionFactory(int localVarStatusCode, IRestResponse response);
`
2) Create an instance level property on the configuration (here called ExceptionFactory)
As a default the property should be set to this value which is backward compatible with your current approach:
`
 Exceptio

[2016-05-13 12:35] bluemmc commented on #2724
BTW: We could also consider removing the last if-statement in the generated code as the suggested factory checks for error.

[2016-05-13 13:41] jerrylawson commented on #2849
Yes, I can contribute this change

[2016-05-13 13:41] jerrylawson commented on #2848
Yes, I can contribute this change

[2016-05-13 14:19] wing328 commented on #1551
@nicksloan may I know if you've a chance to take another look?

[2016-05-13 14:33] wing328 commented on #2856
@darylteo for the following model definition:
[code]
is it referring to arbitrary JSON?

[2016-05-14 01:16] jimschubert commented on #2506
@langdonx any way you could test this against master? I restructured the csharp client, and I believe I fixed this issue with that change. I'm looking at allowing a parameter to be passed via CLI to disable generation of model/api tests and documentation. But I'll have some thorough testing to do since this would have an effect on all generators.

[2016-05-14 09:13] wing328 commented on #2850
@scottrw93 would you please take a look when you've time?

[2016-05-14 09:15] wing328 commented on #2838
@jaz-ah @Edubits would you please take a look when you've time? Thank you.

[2016-05-14 09:18] wing328 commented on #2819
If you perform a debug, did you hit the following line mentioned in the SO comment?

https://github.com/restsharp/RestSharp/blob/62335a677c92ad45d9dc3214ff6765b597d8642f/RestSharp/Http.Sync.cs#L226

[2016-05-14 09:24] wing328 commented on #2821
@vipera can you share the full spec?

The swagger.yaml in Sinatra Petstore server stub seems to be correct: https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/sinatra/swagger.yaml#L569

[2016-05-14 09:26] wing328 commented on #2735
If the data is arbitrary json, then it should be described as "type: object"

[2016-05-14 09:26] #2735 closed

[2016-05-14 09:56] wing328 commented on #2836
#2867 (debug switch to show the info) has been merged into master.

[2016-05-14 09:56] #2836 closed

[2016-05-14 10:34] dmytrobr opened #2868 "Use "Title" as model name if provided in swagger definition"
For inline object definitions, the generator uses "inline_response12323" as a model name which later ends up in a lot of Java classes with meaningless names like InlineResponse12323.

I propose to use "Title" attribute whenever provided. This attribute is part of  Swagger definition (not specific to Swagger by comes from JSON schema) and could be added to any schema object.

Below is JSON example.

[2016-05-14 10:44] dmytrobr commented on #2093
@tomekc Regarding "title". I have opened issue to use "title", same way as Swagger UI using it.

[Use "Title" as model name if provided in swagger definition](https://github.com/swagger-api/swagger-codegen/issues/2868). Please support

Implementation code is ready too, I'll send pull request for approval

[2016-05-14 16:02] wing328 commented on #2841
@tamilmani thanks for reporting the issue. To address it, we can map `class` to propertyClass so that the getter would become `getPropertyClass`.

[2016-05-14 16:06] wing328 commented on #2839
@NadaBen looks like swagger parser fails to parse the swagger spec at http://localhost/test/swagger-docs/api-docs.json.

Can you try downloading the spec to a local folder, e.g. c:\temp\spec and run your command with `-i c:\temp\spec\api-docs.json` instead?

[2016-05-14 16:07] wing328 commented on #2834
@jasonboggess thanks for the feedback. In the coming release, we plan to make all the date-related output optional to reduce noise to git or other diff tools.

[2016-05-14 16:10] wing328 commented on #2823
@haroldcarr thanks for the suggestion. Even the security definition is overridden, the RESTful backend still has the security setup in place so the API client still needs to provide the required authentication parameter (token, http basic auth, etc). Can you elaborate a bit more on your use case? (currently, the API client does not validate any authentication parameter in the client side)

[2016-05-14 16:12] wing328 commented on #2814
@deepakbhise can you tell us a bit more on the issue you encountered?

[2016-05-14 16:16] NadaBen commented on #2839
I tried that, but same error, i think it's a specification problem, i dont know how to solve it

[2016-05-14 18:12] Heedster commented on #990
@wing328 I am unable to find WithHttpInfo method in either ApiClient.mustache or api.mustache, could you point me to this?

Also, if using a new ApiClient for each request/thread is the way to go, why is an api class initialised to a singleton ApiClient instance? I am referring to Configuration.getDefaultApiClient()

[2016-05-14 20:42] scottrw93 commented on #2850
The petstore example [spec](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/swagger_client/configuration.py#L59) file does not seem to produce this problem. Could you provide an example of one that does? Also could you confirm what version of Swagger Codegen you are using as there has been some changes made around this code that might have resolved it.

[2016-05-14 21:05] mythofcode commented on #2846
This feature is currently documented, so in principle, it is a bug.

[2016-05-14 21:32] Amadiro commented on #2850
@scottrw93 the petstore example does not have a basePath of "/", which seems to be the thing triggering the issue.

As for the version, I'm using swagger-codegen-cli-2.1.6.jar from http://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.1.6/swagger-codegen-cli-2.1.6.jar.

[2016-05-14 21:49] scottrw93 commented on #2850
Sorry, I misunderstood. In this case you should just not specify the base path as it is not a required field and you can exclude it from your spec to get the intended results. I don't feel it is a bug, it is the equivalent of ending the base path if there is one with a slash which will also produce a double slash in the url.

[2016-05-14 22:03] Amadiro commented on #2850
Ah, thanks for the clarification. I tried previously to leave the basePath empty, but that was not permitted. I was not aware I could just omit it. Closing.

[2016-05-14 22:03] #2850 closed

[2016-05-15 00:03] darylteo commented on #2856
@wing328 I believe it was generated by jaxrs-analyzer when I use java.net.URI as a property type. I will probably need to create a issue item there too. I'm quite confused too:

This code:
[code]

generates:

[code]

But this code:

[code]

generates:

[code]

In any case, I think that's beyond the scope of the code gen. I'll send a bug report to the analyzer guys regarding the spec output. But I

[2016-05-15 00:32] jimschubert commented on #983
This feature should be complete. Pass `-DtargetFramework=v3.5` to generate .NET 3.5 client.

[2016-05-15 00:33] jimschubert commented on #2584
Awesome. Thanks for verifying.

[2016-05-15 00:37] jimschubert commented on #2631
I have a pull open for this feature using options apiDocs and modelDocs in #2866.

[2016-05-15 03:11] wing328 commented on #990
@Heedster please use the `okhttp-gson` library for Java.

Depending on your use case, you can use the default ApiClient (singleton) if your program has nothing to do with multi-threading.

[2016-05-15 04:41] wienczny opened #2874 "Remove dependency to joda-time when using java8 dateLibrary and library jersey2"
I'm currently using this pom snippet to generate client code:

[code]

As you can see I'm using jersey2 and java8 as dateLibrary.
looking at [pom.mustache](https://github.com/swagger-api/swagger-codegen/blob/1ca246c/modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/pom.mustache), [JSON.mustache](https://github.com/swagger-api/swagger-codegen/blob/1ca246c/modules/swagger-codegen/src

[2016-05-15 06:34] ggood commented on #2314
@fehguy, thanks for confirming that this should work, according to the spec. I have a workaround, so this is not all that urgent.

[2016-05-15 12:56] cbornet commented on #2096
@lukashaertel it works if you import only one model but not if you import several models

[2016-05-15 14:31] cbornet commented on #2395
@wing328 Retrofit2 version upgrade has been done in #2479

Now remains the question of sunsetting retrofit 1.
I'm in favor of removing old library versions because of the work it takes to maintain them.

[2016-05-15 14:38] wing328 commented on #2395
@cbornet thanks for the update I'll check with the Retrofit team for my question above (whether Retrofit 1.x is no longer supported)

[2016-05-15 15:15] hacki11 commented on #2819
yes, I hit that line and it uses the Action<Stream> of the FileParameter Writer Property.
After RestSharp ran the line above `file.BaseStream.CopyTo(s);` the process memory fills up with the amount of the file that is sent (tested with 250mb file).
i did assume that with this stream, the file will not be loaded completely into the ram.
i am not sure where the issue lies exactly.

[2016-05-16 06:36] wing328 commented on #2253
Thanks @zlx for contributing the Rails5 server generator.

[2016-05-16 14:52] yogiGueta opened #2881 "vertx code swagger auto generation"
Hi,
Does swagger  soppurt vertx (auto generation of code)?

[2016-05-16 14:58] wing328 commented on #2881
@yogiGueta I believe you're referring to http://vertx.io/, which is not supported in Java, JavaScript, Groovy, Ruby at the moment.

We would welcome contribution to support it as an option.

[2016-05-16 15:11] wing328 commented on #2631
PR merged. Thanks for the contribution from @jimschubert

[2016-05-16 15:11] #2631 closed

[2016-05-16 15:12] wing328 commented on #2506
@langdonx the PR from @jimschubert has been merged into master. Please pull the latest master and give it a try.

[2016-05-16 15:12] #2506 closed

[2016-05-16 16:00] Vrolijkx commented on #2770
@wing328 Think this on can be closed.

[2016-05-16 16:07] wing328 commented on #2770
@Vrolijkx you're right. Closing it.

[2016-05-16 16:07] #2770 closed

[2016-05-16 16:22] wing328 commented on #2850
Here is the official definition of `basePath` from the spec:
[code]
Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields

[2016-05-16 17:01] jimschubert commented on #2105
I've begun development on this. https://github.com/jimschubert/swagger-codegen/tree/feature/codegen-ignore

[2016-05-16 17:59] pambeard commented on #490
Is this fix in the cli version of the codegen tool?  It is not working for me.
Reservation:
      type: object
      properties:
        taskId:
          $ref: "#/definitions/TaskId"
        startTime:
          type: string
          format: date-time
 TaskId:
         type: string

When the object is returned, startTime is parsed correctly, TaskId is an empty object.  Both TaskId and startTime

[2016-05-16 21:31] haroldcarr commented on #2823
I am given Swagger descriptions that do not contain security definitions.
Out-of-band I am given two types of security:
- test instance that uses basic auth
- production instance that uses OAuth

Currently, using swagger-codegen, I have to edit the swagger by hand for both
types of security and then generate twice, once for each security.

To illustrate why two generations are required I show piec

[2016-05-16 22:30] ivucica opened #2884 "Use of allOf to document a field makes the field disappear"
Cheers,

Let's assume existence of `User` definition, and `Submission` definition. The `Submission` definition can contain `User` fields `author` and `submitter`. I'd like to document `author` and `submitter`.

I've went to editor.swagger.io. Having taken the `petstore_full.yaml` example, I've tried to apply the suggestion from OAI/OpenAPI-Specification#556 (comment 192007034). Taking the `Pet` de

[2016-05-16 23:15] Serjster opened #2885 "C# Why does it make properties nullable?"
I noticed that the autogen automatically changes many properties to nullable type! I assume that this is to allow the constructor to default to null to nonsupplied params...unfortunately this breaks my deal. Is there anyway to prevent the constructor generation as well as prevent the making of those non-nullable properties on source to be nullable?

[2016-05-16 23:50] kbrooks commented on #2885
Swagger has a "required" property for parameters. If this is not set to true, the codegen will make the corresponding parameters nullable.

[2016-05-16 23:59] kbrooks opened #2886 "C# generated code should use ASP.NET core project structure"
We should add an option to the csharp generator to use the new ASP.NET core project structure.

@wing328

[2016-05-17 00:00] Serjster commented on #2885
So you're saying I have to decorate my properties on my server with
required, even for things like public long ID? That doesn't make sense! Why
is it changing the type at all? Leave it as is in the source! Is there no
other way?

On Mon, May 16, 2016, 5:50 PM Kyle Brooks <notifications@github.com> wrote:

[2016-05-17 00:11] wing328 commented on #490
@pambeard it should be fixed and we've a test case to cover it: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/tests/test_pet_api.py#L72

Please make sure you're using the latest stable version (or master) and also verify that your swagger model definition correctly describes the model (JSON).

[2016-05-17 00:17] wing328 commented on #2886
@kbrooks thanks for the suggestion. Is there any official guide from MS on the ASP.NET core project structure?

I did a search and found this: http://zablo.net/blog/post/modular-asp-net-core-project-structure (which is not official)

Also to be clear, you're referring to C# API client but not ASP.NET5 server stub, right?

Recently, there's a change to the folder structure via https://github.com/sw

[2016-05-17 00:19] wing328 commented on #2885
@Serjster can you elaborate a bit more on the issue cased by nullable type?

[2016-05-17 00:22] kbrooks commented on #2886
The official docs appear to be down right now, but in case they come back up: https://docs.asp.net/en/latest/conceptual-overview/understanding-aspnet5-apps.html.

The main difference is the use of project.json files instead of the old xml configuration files.
The new project structure will be useful to anyone developing on mono or .NET core.

The ASP.NET5 server stub actually already uses the ASP.

[2016-05-17 00:24] kbrooks commented on #2885
What does your swagger.json look like?

[2016-05-17 00:35] wing328 commented on #2886
Yup, I got a 404. Will check it out later.

[2016-05-17 01:09] Serjster commented on #2885
Sure. I've written a script that adds an IType (or whatever Type happens to
be)to each of the genned classes. The problem is that because those
properties are nullable, the compiler throws an error because "interface is
not implemented". So, instead of being able to use the genned class as the
concrete implementation for my IType interface, I have to go back and
remove all of these nullables first

[2016-05-17 01:10] wing328 commented on #2823
@haroldcarr thanks for sharing the details

I think it's reasonable to be able to set the security setting dynamically in the code.

I've marked this as "Need Community Contribution" for the time being to see if anyone from the community has cycle to implement this feature.

[2016-05-17 01:41] jimschubert commented on #2886
@kbrooks @wing328  I'd put this on the back burner for now. There's talk of dropping the `project.json` and moving back to MSBuild based .csproj after RC2.

See: https://twitter.com/davidfowl/status/730219570783363073 and https://youtu.be/P9HqMZviaMg?t=1712. There was also a pretty [lengthy discussion on Reddit](https://www.reddit.com/r/programming/comments/4iveez/projectjson_is_dead_aspnet_core_g

[2016-05-17 02:05] wing328 commented on #2819
@hacki11 I would suggest 2 things:

1) test with just RestSharp with a simple script to upload large files to see if you're experiencing the same so as so isolate the problem with RestSharp

2) upload a larger file (e.g. 2GB) to make sure you get the out of memory exception (so as to confirm the RestSharp is not smart enough to stream large files by not loading the whole file into memory)

[2016-05-17 05:11] Serjster commented on #2885
Here's the JSON:

{"swagger":"2.0","info":{"version":"v1","title":"iUS Claim Service
API","description":"iUS Claim Service API for retrieving all things... wait
for it... Claim
related.","termsOfService":""},"basePath":"/Benefits/Services/ClaimManagementService","paths":{"/v1/Claim/{ClaimID}":{"get":{"tags":["Claim"],"operationId":"V1ClaimByClaimIDGet","produces":["application/json","text/json","a

[2016-05-17 06:45] cbornet commented on #2823
@haroldcarr I guess you are using the jersey/default generator. If you use the feign or retrofit generators, they both support dynamic security setting.

[2016-05-17 09:27] NadaBen opened #2891 "com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'swagger': was expecting ('true', 'false' or 'null')"
Hello,
when i try to run this command
`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i E:\TCTSUmons\swagger.yml -l swagger`

it shows me this error:
`[main] INFO io.swagger.parser.Swagger20Parser - reading from E:/TCTSUmons/swagger.yml
[main] INFO io.swagger.parser.Swagger20Parser - reading from E:/TCTSUmons/swagger.yml
com.fasterxml.jackson.core.JsonParseException

[2016-05-17 09:29] wing328 commented on #2891
@NadaBen have you used tools like https://editor.swagger.io to validate your swagger spec?

[2016-05-17 09:33] NadaBen commented on #2891
I tried to install it, but when i run npm start it shows me:
`C:\Windows\System32\swagger-editor>npm start

Development server started at http://127.0.0.1:8080
Opening the browser

WARNING in ./~/json-schema-view-js/dist/bundle.js
Critical dependencies:
1:487-494 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get b

[2016-05-17 09:38] NadaBen commented on #2891
and when i validate it with an other validator, it shows me
`E:\TCTSUmons\Tools\wget-1.17.1-win64\swagger-codegen>java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i E:\TCTSUmons\swagger.yaml -l swagger
[main] INFO io.swagger.parser.Swagger20Parser - reading from E:/TCTSUmons/swagger.yaml
[main] WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path:

[2016-05-17 09:46] cwbuecheler opened #2892 "JavaScript Module - LoginRequest doesn't seem to work"
Greets,

I used swagger-codegen to generate a node module that I could then reference in my React project. This worked fine and I have it up and running, however the `LoginRequest` method doesn't appear to be working right. I just want to make sure I have the syntax correct. The following code always sends an empty body to the server, resulting in a 500 error. Is there something wrong with it?

(n

[2016-05-17 10:09] NadaBen commented on #2891
solved , i had a problem of my yaml file, format of parameters was uncleard..

[2016-05-17 10:09] #2891 closed

[2016-05-17 12:28] zlx commented on #2816
Done with a62fa1c80c4cecde0cd349236a0c1ad43253d840

[2016-05-17 13:06] wing328 commented on #2816
@zlx thanks for the contribution

Linked to #2893

[2016-05-17 13:21] wing328 commented on #2892
@cwbuecheler please share the spec so that we can help look into the issue

[2016-05-17 15:56] AlexFaster opened #2894 "Overriding of sourceFolder in JavaCXFServerCodegen doesn't work"
When I try to override sourceFolder property in config file, then it doesn't work. It just leaves value assigned in line 65 in JavaCXFServerCodegen.java
My config file
`
{
    "modelPackage": "com.luxoft.ob10.papi.services.user.domain",
    "apiPackage": "com.luxoft.ob10.papi.services.user",
    "sourceFolder": "src/main/java"
}
`
I tried invokerPackage option, but it didn't work too.

[2016-05-17 16:48] pambeard commented on #490
It seems to work when the included model has more than one property, but fails when the included model only has one property.  If you are using the same pet store definition that you can download from the site, I don’t see where that test case was covered.

Thanks,
Pam

From: wing328 [mailto:notifications@github.com]
Sent: Monday, May 16, 2016 8:12 PM
To: swagger-api/swagger-codegen
Cc: Beard, Pam

[2016-05-17 16:54] wing328 commented on #490
@pambeard the example you provided has 3 properties:
[code]
and `taskId`, `TaskId` are essential the same when defining as Python property. I would suggest you to revise the definition of your model as most deserialisation issue I've seen has to do with incorrect definition.

[2016-05-17 16:59] wing328 commented on #2884
@ivucica thanks for reporting the issue. Here are 2 suggestions:

1) use the latest master to generate the Go API client, which has 35 PRs (enhancement, bug fix) since the last stable release v2.1.6. (editor.swagger.io is using the latest stable version v2.1.6)

2) Go does not have any support of inheritance/model composition at the moment so I would suggest you to avoid using `allOf` to define yo

[2016-05-17 17:19] RemyArmstro commented on #2885
Quick question.  What is the reasoning for these being converted to nullable types?  Is it the assumption @Serjster  made?

[2016-05-17 17:36] kbrooks opened #2896 "C#: Option to disable dynamic type in ApiException.ErrorContent"
The ApiException class encapsulates the ErrorContent of a REST API request as a dynamic type

        /// <summary>
        /// Gets or sets the error content (body json object)
        /// </summary>
        /// <value>The error content (Http response body).</value>
        public dynamic ErrorContent { get; private set; }

Unfortunately, one of the products I have to integrate with does not supp

[2016-05-17 19:11] romk1n opened #2897 "[swift] enum properties results in empty file"
in 2.1.5 and 2.1.6 if our yaml file declares enum as

[code]

the resulting file generates for state.swift is
[code]

[2016-05-17 19:57] romk1n commented on #2897
i guess it is duplicate of #2259 and #1915

[2016-05-17 19:57] #2897 closed

[2016-05-18 03:07] jimschubert commented on #2896
If you pass `-DtargetFramework=v3.5` to generate .NET 3.5 client, you shouldn't get the dynamic type. Setting the option disables the `supportsAsync` variable passed to the templates. see https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L391

[2016-05-18 03:12] wing328 commented on #2896
@kbrooks https://github.com/swagger-api/swagger-codegen#getting-started is a good starting point to explore different options (general or language-specified)

[2016-05-18 03:23] wing328 commented on #2885
The mapping between swagger type and C# type is here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L105

For method parameters that are `required` in swagger spec, C# API client will include a validation to ensure the parameter is not set to null.

For properties that are `required`, the mod

[2016-05-18 05:45] #983 closed

[2016-05-18 07:41] cwbuecheler commented on #2892
@wing328 Thanks for the quick response. Happy to share whatever you need. Here's the raw swagger.json spec. If you need anything else, let me know. Thanks!

[swagger.json.txt](https://github.com/swagger-api/swagger-codegen/files/269848/swagger.json.txt)

[2016-05-18 11:45] arikon opened #2900 "JavaScript: Breaks multi byte encoding"
Here is an example of md file from json containing cyrillic symbols in utf-8:

-----

# SandboxJsonApi.Group

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**url** | **String** | URL \u043F\u043E\u043B\u0443\u0447\u0435\u043D\u0438\u044F \u0434\u0435\u0442\u0430\u043B\u044C\u043D\u043E\u0439 \u0438\u043D\u0444\u043E\u0440\u043C\u0430\u

[2016-05-18 11:47] arikon commented on #2900
@xhh Have a look, please

[2016-05-18 12:37] wing328 commented on #2900
@arikon can you please share the spec?

[2016-05-18 13:35] jaz-ah commented on #2838
@winster could you give a ptr to your swagger doc so we can reproduce?

[2016-05-18 13:39] arikon commented on #2900
@wing328 https://gist.github.com/arikon/2f078fcf15aae07984c7e1d35def90bf

[2016-05-18 14:08] ChrisTitos opened #2901 "Swift: Error when succesfull response has empty body"
The REST API we use sometimes returns 200/201 status codes (on PUT/POST requests), but with an empty body. This produces an error:

    ErrorType? domain: unable to read data - code: 4294961290

Is this caused by swagger codegen, or is this an Alamofire issue?
(it works fine with our Android Retrofit export)

[2016-05-18 14:44] wing328 commented on #2900
@arikon thanks for providing the spec. I did a test to confirm the issue has been addressed in the latest master:

https://github.com/wing328/js-multibyte-test/blob/master/docs/TaskApi.md#taskCustomFooter
https://github.com/wing328/js-multibyte-test/blob/master/docs/TaskAuditItem.md

Can you please pull the latest master and give it a try?

[2016-05-18 15:04] wing328 commented on #2892
@cwbuecheler the model definition looks good to me:
[code]
and I believe the backend is expecting something like the following:
[code]
How did you generate the JS API client?

[2016-05-18 15:06] Edubits commented on #2901
Hi @ChrisTitos, thanks for your feedback. Currently this is indeed throwing an error as it's an unexpected response. Recently the guys at Alamofire have been discussing a related issue https://github.com/Alamofire/Alamofire/issues/868 and implemented better handling for 204 No Content responses: https://github.com/Alamofire/Alamofire/pull/889. This is however only handling an empty response when t

[2016-05-18 15:18] cwbuecheler commented on #2892
Yep, that's exactly what the back-end is expecting.

I generated it with swagger-codegen on OSX, installed via homebrew, with the Java 8 SDK and Maven installed, using the following command:

[code]

where api.url is the ... url to our api :)

I then moved the entirety of swagger output to our project, changed the default URI from localhost to our API URI, and `npm link`ed the module so I can use

[2016-05-18 15:35] wing328 commented on #2892
We do have a test case for JS API client to cover post model (JSON): https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/test/api/PetApiTest.js#L58

[2016-05-18 15:41] wing328 commented on #2892
I also suspect you're not using the latest version/master. I would suggest you to pull the latest and build the jar locally. Here is a good starting point: https://github.com/swagger-api/swagger-codegen#getting-started

[2016-05-18 15:46] cwbuecheler commented on #2892
OK, thanks, I'll skip homebrew and build manually (I've not worked with Java before so I figured I'd take the easy road first). Will also run some tests and see if they come up with any issues.

[2016-05-18 18:32] Nepoxx commented on #2471
Is this still an issue?

[2016-05-19 00:46] jimschubert commented on #2900
@arikon if you test against master and still have the same output, please share the command and parameters you're using to generate.

[2016-05-19 01:22] jimschubert commented on #2885
Suppose your API has a request input type:

[code]

If `age` is not a required property (`required` default is false), that means the following input is acceptable:

[code]

If your type is defined as:

[code]

The serializer's default functionality is to throw an exception. The serializer _could_ be configured to set Age equal to 0. But what if your requirements for undefined Age values is `-1` o

[2016-05-19 01:57] jimschubert commented on #2789
@sean11 sorry. That weekend ended up being pretty hectic and I completely forgot about reviewing the pull request. I made a comment, which is more a comment on developers using the existing public method than on your implementation.

[2016-05-19 02:01] Serjster commented on #2885
This seems unnecessary. If Age was not a required property then making it nullable should be enough for the serializer to do its thing. You are asking me to mix concerns here. My server side objects should be agnostic of my swagger needs. You're asking me to manually create POCO's specifically for swagger on the server side manually to make this work. Perhaps I am still missing something, but I do

[2016-05-19 02:11] jimschubert commented on #2675
I just ran this against code I have locally for my open pull request and it compiled fine.

[code]

Also built fine:

[code]

The source output seems right:

[code]

This was generated against my feature/codegen branch with an active pull request.

The yaml does display this on editor.swagger.io, but this doesn't seem to have caused any failures:

![image](https://cloud.githubusercontent.com/asset

[2016-05-19 02:28] wing328 commented on #2471
@Nepoxx this issue is for JS.

Please open a new issue for tracking and provide the spec to repeat the issue.

[2016-05-19 02:29] wing328 commented on #2471
Closed via #2445

[2016-05-19 02:29] #2471 closed

[2016-05-19 04:23] jimschubert commented on #2885
My response was to @RemyArmstro. Sorry for not clarifying.

To your point, it seems like your classes are generating this way because your properties aren't marked required. The swagger definition defaulting properties to default=false makes sense for many languages. It seems like it's just unexpected in your case. You should only need to change the swagger definition to generate code as expected.

[2016-05-19 06:37] #2751 closed

[2016-05-19 07:19] wing328 commented on #2853
@Amadiro can you please share the full spec so that we can repeat the issue?

[2016-05-19 07:46] #2531 closed

[2016-05-19 07:59] inska opened #2906 "[typescript-angular2] Error occurs while build generated typescript-angular2 from master branch"
##### Description
Can't run 'npm run build' command on generated typescript-angular2 directory.

[code]

##### Swagger-codegen version
swagger-api version is 2.1.6, and master branch with codegen

##### Swagger declaration file content or url
http://einstein-stage.cupix.com/api.json

##### Command line used for generation

java -jar ~/swagger/swagger-codegen/modules/swagger-codegen-cli/target/swag

[2016-05-19 08:16] wing328 commented on #2906
@inska I'm able to repeat the error with petstore.
[code]

[2016-05-19 08:17] wing328 commented on #2906
cc @taxpon to see if he's any clue.

[2016-05-19 08:22] inska commented on #2906
Thank you @wing328.

[2016-05-19 08:26] wing328 commented on #2906
I confirmed the issue has nothing to do with @taxpon PR (https://github.com/swagger-api/swagger-codegen/pull/2771) as the commit before has the same issue.

We will need to add better CI tests to catch the issue moving forward.

[2016-05-19 09:07] iomark opened #2907 "[Objc] Invalid Objc code generation for collection parameter"
##### Description

Objc code generator produces invalid source code that can not be compiled. Problem generated code:
`if (teamIds != nil) {
queryParams[@"team_ids"] = [[SWGQueryParamCollection alloc] initWithValuesAndFormat: team_ids format: @"csv"]; }`

##### Suggest a Fix

Second **team_ids** (after initWithValuesAndFormat) should be **teamIds**

Fix will be provided by pull request

##### Swag

[2016-05-19 09:37] demonfiddler commented on #2440
Closed, as PR#[2445](https://github.com/swagger-api/swagger-codegen/pull/2445) now merged.

[2016-05-19 09:37] #2440 closed

[2016-05-19 09:38] demonfiddler commented on #2146
Closed, as PR#[2445](https://github.com/swagger-api/swagger-codegen/pull/2445) now merged.

[2016-05-19 09:38] #2146 closed

[2016-05-19 10:19] wing328 opened #2909 "[TypeScript] Issue with Enum naming"
[code]
we need to remove the enum name with underscore so that only value is used.

Ref: https://basarat.gitbooks.io/typescript/content/docs/enums.html

[2016-05-19 10:53] ivucica commented on #2884
Thanks for the response!

1. Sure. I'm doing this already when building locally, I just didn't verify with the local build.
2. The only reason for me to use `allOf` (or be aware of it!) is the above use case in OAI/OpenAPI-Specification#556 comment 192007034 -- i.e. documenting how a field referencing a `definition` is to be used. I'm not really interested, at the moment, in any other use of `allO

[2016-05-19 11:14] dmilov opened #2911 "C#: Constructor is malformed if first property is readOnly: true"
##### Description

C# class constructor is not generated properly when first property is readonly.

Here is the produced code:

public Foo(, string Baz = null)
        {
            this.Baz = Baz;
        }

##### Swagger-codegen version

Swagger-codegen built with latest code from master.

##### Swagger declaration file content or url

https://gist.github.com/dmilov/770cd90452d310fe870156e5ee3ba

[2016-05-19 11:30] wing328 commented on #2906
UPDATE: I've filed https://github.com/swagger-api/swagger-codegen/pull/2910 to add better integration tests for Typescript API clients.

[2016-05-19 12:58] cbornet commented on #2096
A lot of issues are related to this one (#1120, #1348, #1050, ...). So I will try to sum up and give my opinion:
1. We can not use class extension to implement allOf composition. This is because it doesn't work if you import more than one model with allOf (in Java, we shouldn't use ```extends```, we shouldn't set ```supportsInheritance = true```)
2. All attributes for the imported models will be c

[2016-05-19 13:17] cbornet commented on #2096
Actually we should set ```supportsInheritance = true``` in java but that should only be used for the model which holds the discriminator field.

[2016-05-19 15:22] taxpon commented on #2906
This is because execution of `tsc` command failed.

For example @inska 's case, there are some errors as follows.
[code]
If you want to avoid npm's error simply, you can update your npm script as follows (but it's no meaning):
[code]
At any rate, typescript-angular2 code-gen code should be fixed so that it handles `any` and `Array` type correctly.

[2016-05-19 16:12] arikon commented on #2900
@wing328 @jimschubert I could not build from master with failing test:

[code]

[2016-05-19 16:15] wing328 commented on #2906
@taxpon thanks for the details on the issue. I agree with you that we should not simply avoid/ignore the errors.

[2016-05-19 16:22] wing328 commented on #2906
cc @Vrolijkx

[2016-05-19 16:48] wing328 commented on #2900
@arikon please pull again. I just fixed it. Sorry for the inconvenience.

[2016-05-19 16:58] doughjoe77 opened #2914 "Cannot run project after it is built, error with finding the file An exception of type 'System.IO.DirectoryNotFoundException' occurred in System.Xml.dll but was not handled in user code Additional information: Could not find file "IO.Swagger.xml""
##### Description

I've created a .NET MVC Project using Swagger Editor using "PetStore on Heroku" example.  The zip file downloads fine and after I extract that I'm able to build the project.  When I try to run it I get the following error:

An exception of type 'System.IO.DirectoryNotFoundException' occurred in System.Xml.dll but was not handled in user code

Additional information: Could not fi

[2016-05-19 17:01] wing328 commented on #2096
@cbornet thanks for the summary. I'll review and share my view this weekend... (sorry very busy these days)

[2016-05-19 17:10] arikon commented on #2900
@wing328 It worked, thanks!

[2016-05-19 17:10] #2900 closed

[2016-05-19 18:01] Vrolijkx commented on #2906
io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java:128 normaly makes sure their isn't need of the models prefix with typescript primitives. But I need to investigated this problem a bit further.

[2016-05-19 20:19] degroves opened #2916 "It should be easier to use a different URL with ApiClient"
##### Description

My company wants to build a service which could run on any system. We want to use swagger to generate client bindings for the service.  We noticed that, at least for Java, the code generator generates code in ApiClient which has a hardcoded URL.  There is one method which can take a whole new URL.  This existing API is inconvenient because we need to parse a URL and replace part

[2016-05-19 20:30] degroves commented on #2916
Sorry, I should have mentioned that the patch I posted is based off of the latest (at the time I created the issue) master, and not 2.1.6.

[2016-05-19 21:26] cbornet commented on #2916
You can do that very easily outside the generator so I'm not sure this is very useful to add it
[code]

[2016-05-19 22:09] saharj opened #2918 "error generating model for valid swagger document"
_From @stoicflame on May 19, 2016 18:47_

When I paste [this JSON](https://github.com/swagger-api/swagger-editor/files/273231/swagger.json.txt) into the Swagger editor, I get no validation errors. But when I attempt to download a client library, I get:

Having looked at `xml_ns0_category`, I don't see anything wrong with it and the error message isn't particularly helpful.

_Copied from original i

[2016-05-19 22:10] cbornet commented on #2916
And if you want to just change the host of the generated basePath
[code]

[2016-05-19 22:12] gitfool commented on #2885
:+1: I'm also very interested in this discussion.

I'm using [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle) in the C# server to generate the Swagger doc, then feeding that into [AutoRest](https://github.com/Azure/autorest) to generate the C# proxy. IMHO primitives (and arrays of primitives) are not being generated as expected, at least not without jumping through a lot of hoops; far

[2016-05-20 07:12] wing328 commented on #2911
@dmilov as a workaround, please move the readonly property to the end of the property list for the time being.

I should be able to come up with better solution this coming weekend.

[2016-05-20 08:10] arikon opened #2919 "JavaScript: Errornous generation of content type values containing "=""
##### Description

swagger-codegen produces such a code in API call methods:

[code]

The expected code is:

[code]

The part of spec source is:

[code]

##### Swagger-codegen version

Latest master. Not sure if it is a regression.

##### Swagger declaration file content or url

https://gist.github.com/arikon/2f078fcf15aae07984c7e1d35def90bf

##### Command line used for generation

[code]

##### S

[2016-05-20 09:33] wing328 commented on #2919
@arikon thanks for reporting the issue, which will be addressed by #2920

[2016-05-20 10:13] wing328 commented on #2919
@arikon fix merged into master. Please pull the latest and give it a try.

[2016-05-20 12:45] sreich opened #2923 "[swagger-codegen-maven-plugin] custom module/generator/language not possible?"
trying to create a custom generator, the examples only show how to do it from the cli (generate the library, pass it to the swagger-cli). which is great, except i'm using the maven plugin.

i tried creating a jar and adding it as a dependency to that plugin, but it doesn't seem to recognize the language as valid. if what i am doing is actually possible, please also provide a simple example (like p

[2016-05-20 12:55] fehguy opened #2924 "allOf needs `$ref` first"
##### Description

When generating a library with an `allOf` construct in a model definition, the codegen seems to have problems if the first array item is an inline object vs. a model reference

##### Swagger-codegen version

2.1.6

##### Command line used for generation

Occurs on java with this trace:

[code]

[2016-05-20 13:51] arikon commented on #2919
@wing328 It doesn't help =(

[2016-05-20 13:54] arikon commented on #2919
@wing328 It should be fixed here also https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/api.mustache#L77-L78

[2016-05-20 13:56] wing328 commented on #2919
@arikon you're right. I missed that due to the fact that it's not using the typical {{mediaType}} mustache tag. Another PR on the way to address it.

[2016-05-20 13:59] arikon commented on #2919
@wing328 Is it on purpose (different syntax)?

[2016-05-20 14:01] wing328 commented on #2919
If the language itself uses a lot of {{ or }}, then mustache allows you to map {{ and }} to something else to avoid confusion.

I did a check and found only Javascript and Clojure map <, > with {{, }} respectively.

[2016-05-20 14:20] degroves commented on #2916
@cbornet : That is a cleaner way than what I did in my patch.  Whomever actually implements this change should have the generator do it your way.

This is code that should be in the generator.  Folks using the generated code should not have to write code to change the host.  The generated code should be making their lives easier.  It's not a high priority, but it should be done.

[2016-05-20 14:31] sreich commented on #2923
it seems this is possible by specifying <language>com.my.custom.MyGenerator</language>. really wish that would be in the readme, didn't know it was possible.

[2016-05-20 14:34] arikon opened #2925 "JavaScript: Errornous generation of param types in JSDoc for enum and array typed parameters"
##### Description

This is generated

[code]

But should be something like this:

[code]

Source spec for this part is:

[code]

##### Swagger-codegen version

Latest master.

##### Swagger declaration file content or url

https://gist.github.com/arikon/2f078fcf15aae07984c7e1d35def90bf

##### Command line used for generation

[code]

##### Steps to reproduce

##### Related issues

##### Suggest a

[2016-05-20 14:39] arikon commented on #2919
@wing328 As I know, JS does not use a lot of `{{` and `}}`. It uses `{` and `}`, but Java also does and does not switch to alternative syntax.

I tried to look into `Javascript/api.mustache` to fix some bugs. But found it very confusing because of non-standard syntax. And editors (e.g. IntelliJ IDEA and WebStorm) do not support it.

[2016-05-20 14:41] arikon commented on #2925
It is also wrong in jsdoc.md files

[code]

It should be something like this:

[code]

[2016-05-20 14:49] wing328 commented on #2919
@arikon if switching the delimiter (<) back to `{{` makes your life easier in terms of contributing bug fixes, we can definitely do that.

cc other JS contributors: @xhh @demonfiddler @delenius

[2016-05-20 14:49] wing328 commented on #2919
Btw, I opened ask a question on how to use `{{{.}}}` (unescape value) after switching the delimiter: https://github.com/samskivert/jmustache/issues/78

[2016-05-20 14:52] wing328 commented on #2923
@sreich do you minding updating the README on that? I agree that the documentation can be further improved and your help will definitely make it better.

[2016-05-20 18:32] pambeard opened #2926 "[Python] Allow special characters in a url"
##### Description

I need to use + in the resource path for example /thing/group+user, in api_client.py (line 120) there seems to be no way to specify quote(str(self.to_path_value(v)),safe='/,+') with the safe chars as it is here.  + is allowable in the url per RFC 3986

##### Swagger-codegen version

Codegen version 2.1.2
Python Version: 3.5.1
SDK Package Version: 1.0.0

##### Suggest a Fix

supp

[2016-05-20 19:59] shawkinsl opened #2927 "[python-flask] [connexion-flask] Parameter names can be mangled in server generation"
##### Description

When using swagger-codegen to generate a flask server, connexion and swagger-codegen do not agree on how to represent parameter names, which leads to connexion making requests to endpoints with variable names that do not match the output of swagger-codegen.

##### Swagger-codegen version

Using swagger-codegen built from source off of master at time of issue being opened (2e402d

[2016-05-21 08:22] wing328 commented on #2919
@arikon I filed #2930 to fix the mediaType. I did some tests and confirmed the fix.

[2016-05-21 09:42] #2906 closed

[2016-05-21 14:45] wing328 commented on #2911
@dmilov I've filed #2932 to fix the issue and have used the spec you provided to confirm the issue has been addressed.

[2016-05-21 15:01] #2911 closed

[2016-05-21 15:10] wing328 commented on #2911
@dmilov PR merged into master. Please pull the latest to give it a try.

[2016-05-21 15:44] wing328 commented on #2926
@pambeard please try the latest master to see if the issue still persists.

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/#getting-started

[2016-05-21 15:47] wing328 commented on #2654
@WillaLuo closing this as there's no further update from you.

[2016-05-21 15:47] #2654 closed

[2016-05-21 15:50] wing328 commented on #2673
For swagger-ui-bundle, you may want to use `dev-master` which supports Swagger 2.0: https://github.com/activelamp/swagger-ui-bundle#for-swagger-v1x-support-use-the-v021-of-this-repository-dev-master-is-now-using-swagger-v2

That may resolve the issue you encountered above.

[2016-05-21 16:00] wing328 commented on #2493
@sergiocg90 I believe you need to use the `addHeaders` method to add a header with authentication info (e.g. token):
[code]

[2016-05-21 16:01] wing328 commented on #2446
PR merged. Issue closed.

[2016-05-21 16:01] #2446 closed

[2016-05-21 16:03] wing328 commented on #2382
@urzds As mentioned by @xhh, you can use `with-api-context` to override the default base path. Please given it a try.

[2016-05-21 16:03] #2382 closed

[2016-05-21 16:06] wing328 commented on #2331
@HipZena I tried with the latest master of swagger codegen and no longer encounter the issue. Please give it a try with the latest master.

Closing this issue for now.

[2016-05-21 16:06] #2331 closed

[2016-05-21 16:14] #2253 closed

[2016-05-21 16:16] wing328 commented on #2105
Thanks for the contribution from @jimschubert to add the support of `.swagger-codegen-ignore` file to skip file overwrite

[2016-05-21 16:16] #2105 closed

[2016-05-21 19:31] HipZena commented on #2331
thanks for the update. will let you know if i still encounter the issue.

________________________________
From: wing328 <notifications@github.com>
Sent: Saturday, May 21, 2016 9:07:02 AM
To: swagger-api/swagger-codegen
Cc: HipZena; Mention
Subject: Re: [swagger-api/swagger-codegen] NPE when generating API client (#2331)

Closed #2331<https://github.com/swagger-api/swagger-codegen/issues/2331>.

-

[2016-05-22 09:00] phiz71 commented on #2881
Hello,
I've created a swagger-codegen library for Vert.X : https://github.com/phiz71/swagger-vertx-codegen
The generated project needs https://github.com/phiz71/vertx-web-swagger to compile.

Hope it will help you.

[2016-05-22 13:04] mbarclay opened #2933 "Any plans to support Moya in Swift codegen?"
##### Description

Are there any current plans to support code generation templates for Swift using the Moya network abstraction framework? https://github.com/Moya/Moya

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-05-22 19:26] mbarclay opened #2935 "Swift: Add formatter "yyyy-MM-dd'T'HH:mm:ss.SSS""
##### Description

When consuming responses from api.tfl.gov.uk, decoding fails for the date-time format "yyyy-MM-dd'T'HH:mm:ss.SSS"

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

https://github.com/mbarclay/tfl-unified-api-swagger/blob/master/tfl-unified-api.swagger.yaml

Specifically, TfL often use date-time formats to fractional seconds without the timezon

[2016-05-23 01:25] sohrab- opened #2936 "Using fullJavaUtil flag generates invalid classes"
##### Description

When using the following settings:

- language: jaxrs-cxf
- fullJavaUtil: true
- modelPackage: com.example.models

The generated classes include invalid imports such as

[code]

Try this with the official `petstore_full.yaml` and you will see `Pet.java` showing this symptoms.

##### Swagger-codegen version

[code]

##### Swagger declaration file content or url

Any YAML, you can

[2016-05-23 01:49] sohrab- opened #2937 "JAXRS-CXF doesn't generate java.util.List import the API class"
##### Description

Generating `jaxrs-cxf` language on the official `petstore_full.yaml` is missing `java.util.List` import on the API class.

##### Swagger-codegen version

[code]

##### Swagger declaration file content or url

`petstore_full.yaml`  on http://editor.swagger.io/

##### Command line used for generation

Used Maven plugin:

[code]

##### Steps to reproduce

Run the above Maven plugin

[2016-05-23 04:38] inska opened #2938 "[typescript-angular2] APIKey setting unavailable"
##### Description

Thank you @Vrolijkx, and generated code have no error, and build successfully. However, there are some missing Swagger spec on the client. We need to setup API Key for communicating with API Server. In other client such as Swift or Python, I am updating api_key in singleton configuration class to set API Key.. but that seems missing in typescript-angular2 client.

Please conside

[2016-05-23 09:53] arikon commented on #2919
@wing328 It worked for me too. Thank you!

[2016-05-23 09:53] #2919 closed

[2016-05-23 12:42] philicious commented on #2706
@wing328 editor.swagger.io still generates faulty client SDK

[2016-05-23 13:05] wing328 commented on #2706
@philicious thanks for letting me know. I think editor.swagger.io is using the latest "stable" version (not the latest master) of swagger codegen

[2016-05-23 13:16] mikolajprzybysz opened #2941 "[PHP] Providing apikey via constructor instead of via method call"
##### Description

Apikey is required as a parameter of method you are calling which causes the caller to know the api key. However usually apiClient will be passed as dependency to the object using it. Currently I am solving this issue by creating my own apiClient which uses the default one, which adds unnecessary overhead. To be more specific my class `MyObjectStorage` is not responsible for kno

[2016-05-23 13:19] wing328 commented on #2941
In your Swagger spec, did you define proper security definition for the endpoint that requires the API key authentication? Can you share the spec via gist.github.com?

[2016-05-23 13:25] mikolajprzybysz commented on #2941
Hmm I guess I did not, I didn't even know I can this is my Swagger spec:
https://gist.github.com/mikolajprzybysz/a38d1be0a26a8df7d9f1c8d836bff412

[2016-05-23 13:34] mikolajprzybysz commented on #2941
@wing328 Sorry that was config this is spec:
https://gist.github.com/mikolajprzybysz/0686aec4ded7e66100befd1913e097e7

[2016-05-23 13:37] wing328 commented on #2941
@mikolajprzybysz please follow https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L182 as an example and define the security setting. Then you can refer to the auto-generated doc (markdown) on how to set the API key when calling that method.

[2016-05-23 13:38] mikolajprzybysz commented on #2941
I will investigate this and get back to you

[2016-05-23 14:38] sohrab- commented on #2937
I think this commit already resolves the issue: https://github.com/swagger-api/swagger-codegen/commit/d45d36d8a2e3c5dd0218d3a00b8d0ea9a3de33eb

Just have to wait for the next version (2.1.7?)

[2016-05-23 14:38] #2937 closed

[2016-05-23 17:55] langdonx commented on #2506
@wing328 @jimschubert looks good, much cleaner.

[2016-05-23 18:02] langdonx opened #2943 "[csharp] If you have a definition named "Client", generated code wont' compile"
##### Description
If you have a class definition named `Client`, the generated code won't compile because of a conflict with the namespace.  `Client` seems like it might be a very common model name (`Api` not so much, maybe `Model`, but probably not as common as `Client`).

##### Swagger-codegen version
master, cloned at the time of posting

##### Swagger declaration file content or url
N/A

#####

[2016-05-23 18:28] jimschubert commented on #2506
@langdonx I also added support for an ignore file in #2899. If you find other files that need to be excluded to prevent overwrite, that should allow for everything.

[2016-05-24 02:45] jaz-ah commented on #2933
I haven't heard of this one yet but you can always contribute a new abstraction like this - we currently have swift and swift-promisekit... you could always add in this one as well.

[2016-05-24 04:04] wing328 commented on #2933
@mbarclay would you have cycle to contribute the Swift (Moya) API client? Let us know and we can show you a few good starting points.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-24 08:43] wing328 commented on #2885
To meet different requirements, I would suggest we add an vendor extension named "x-isNullable" (either true of false) for model properties and method parameters.

If it's not specified, it's set to true for C# API client to make it backward compatible with the existing C# API client.

(API clients in other langauges do not support `x-isNullable` from day 1 and we may revisit if there's a valid us

[2016-05-24 10:31] natami commented on #2805
Any chance of a bugfix release soon?

[2016-05-24 10:59] wing328 commented on #2805
I think you're referring to stable release of 2.2.0. No timeline yet. Usually it takes 3 to 4 months for a stable release.

For the time being, can you pull the latest master which contains the bug fix?

[2016-05-24 10:59] gitfool commented on #2885
@wing328 I recently submitted [Swashbuckle PR #776](https://github.com/domaindrivendev/Swashbuckle/pull/776) which proposes using `x-type` and `x-nullable` vendor extensions. I'd appreciate your feedback.

[2016-05-24 11:09] natami commented on #2805
The gereration worked with @JsonValue on release 2.1.5.

Is it available on some snapshot repo?

[2016-05-24 11:47] philicious commented on #2706
@wing328 I just noticed, there is a similar bug in here https://github.com/wing328/swagger-codegen/blob/2b71165584cda00294cd57d6bd58d93b406ecde7/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L115 it should read `datetime` not `DateTime`

Now it generates `QString` for a `format: datetime` instead of `QDateTime`

[2016-05-24 12:50] wing328 commented on #2706
@philicious thanks for pinpointing the issue. Do you have cycle to contribute a PR so that the credit goes back to you?

[2016-05-24 13:22] philicious commented on #2706
@wing328 yes. Will do in a few hours

Am Dienstag, 24. Mai 2016 um 14:51 schrieb wing328:

[2016-05-24 13:33] wing328 commented on #2706
Thanks. Let me know if you need any help.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-24 13:46] wing328 commented on #2805
You will need to clone this repo and build locally (`mvn install`)

[2016-05-24 13:54] natami commented on #2805
There is no chance of a 2.1.6.1 fix release - as the support of Enums in the generated models is a pretty important functionality?

[2016-05-24 14:41] martinmuellerrohde opened #2949 "[Java] inconsistent version 2.1.6 in mavencentral with current code in github"
Note: we noticed CodegenModel.java with Map<String, Object> allowableValues is missing in a Swagger-codegen jar downloaded from Maven-central.

There seems to be an inconcistency:

If Maven retrieves version 2.1.6 from maven-central it gets the version with CodegenModel.java where `allowableValues `is represented as a `List<String>`.

If downloading the latest code from github it also creates a ve

[2016-05-24 17:03] wing328 commented on #2935
@mbarclay thanks for reporting the issue. Do you mind submit a PR with the fix (and ideally a test case in https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/swift-promisekit/SwaggerClientTests)?

[2016-05-24 17:04] wing328 commented on #2935
@mbarclay also you may want to try the latest master which has all the dependencies of the Swift API client updated to the latest version (which might fortunately fix the issue you experienced)

[2016-05-24 17:20] fabdslv opened #2955 "[Swift] Forced unwrap should be removed from required properties in models"
See @cjolif comment [here](https://github.com/swagger-api/swagger-codegen/commit/dc4c8e5864077cd6f8faed421d27a59705a08d18#commitcomment-17535556).

[2016-05-24 19:10] #2923 closed

[2016-05-24 20:28] fehguy commented on #2881
Nice @phiz71 thanks for sharing.  Perhaps you'd like to submit a PR to add the templates to the main project?

[2016-05-24 21:35] phiz71 commented on #2881
It would be nice, but the maven project that my swagger codegen library generates has a dependancy on a custom library I made. I think I should first publish this custom library on a maven repo before submit a PR.

[2016-05-24 21:37] pablograna opened #2958 "swagger-codegen-maven-plugin parses the yaml file twice"
##### Description

CodeGenMojo calls (and does not use the local variable swagger):

        Swagger swagger = SwaggerParser().read(inputSpec);

and later in the code, CodegenConfigurator calls:

        Swagger swagger = new SwaggerParser().read(inputSpec, authorizationValues, true);

This shows any error twice in the plugin output.

##### Swagger-codegen version

I ran this from master, v 2.1.6,

[2016-05-24 21:48] arnested commented on #2757
Do you have an example of specification(s) for this? Or an example of another language in Swagger Codegen that does this correct?

I'm not sure I understand when you expect another model to be exposed in `{{import}}`.

[2016-05-24 21:52] chrismanderson opened #2959 "[RUBY] README.md and docs not exporting with Ruby generation"
##### Description

When I export a Ruby client with `swagger-codegen`, there are some files missing that are present when I use editor.swagger.io, namely the `README.MD`, `docs` folder, `spec` folder, and `git_push.sh`.

I'm assuming there is a flag I'm missing, but couldn't find anything revelatory in the swagger-codegen readme.

If I export the client library from editor.swagger.io, those missin

[2016-05-25 02:16] wing328 commented on #2959
editor.swagger.io is using swagger-codegen v2.1.6 (latest stable version)

please pull the latest master (which uses apache 2.0 for Ruby API client) or use homebrew to update swagger codegen to 2.1.6

[2016-05-25 02:18] chrismanderson commented on #2959
Homebrew doesn't have 2.1.6, only seems to have up to 2.1.5. No worries, I pulled down and built manually.

Thanks!

[2016-05-25 02:18] #2959 closed

[2016-05-25 02:24] fehguy commented on #2959
homebrew has 2.1.6, be sure to run `brew update` to pick it up.

[2016-05-25 03:02] jimschubert commented on #2885
@gitfool I like the `x-type` extension support. This would help to resolve #2813 .

When I read this earlier, I had a question about possible conflicts between the last five properties below:
[code]
... but I can't for the life of me remember what the question was right now.

[2016-05-25 03:11] wing328 commented on #2885
@gitfool one suggestion regarding `x-type`. I would name it as `x-charp-type` as the type you provided is C# specified and later the same spec can be extended to use `x-java-type`, `x-objc-type`, etc for other langauges.

[2016-05-25 03:14] jimschubert commented on #2943
Changing the namespace would be a breaking change for anyone consuming the client outside of the generated code. Do you think a namespace alias would suffice?

[code]

This is also related in part to #2630

[2016-05-25 03:20] jimschubert commented on #2885
@wing328 thanks, that's exactly what I was considering earlier.

Also, what would be the expectation in a language that idiomatically doesn't support null, like Scala? For example, in Scala if an integer is not required it's type is `Option[Int]`... if there's an `x-nullable: true`, would this just be ignored and handled as it currently is or would it change the semantics of other languages?

[2016-05-25 03:21] wing328 commented on #2943
Or we can escape `Client` to `ModelClient` (similar to what we've done for `Object`, which is mapped to `ModelObject` in C#.

[2016-05-25 03:24] wing328 commented on #2885
Yes, it should be ignored if the vendor extension (nullable in this case) does not apply in certain language.

The way I view vendor extension is that it provides additional information about the parameter, property, etc as well as language-specified setting that is *only* applicable in certain language.

[2016-05-25 03:38] gitfool commented on #2885
@jimschubert Your example highlights one of the things I was considering and really don't like about the way things work now - types are replaced with lowest common denominator types that lose information! Presumably due to a web bias using JS types or something, but painful to deal with when you've got two back-end services talking to each other in the same language, C# in my case, where there is

[2016-05-25 04:06] jimschubert commented on #2943
Would we do the same for Model? Or should we allow users to change the model/Api/client package names?

[2016-05-25 05:40] wing328 commented on #2943
I think I will go with fully-qualified names as we've discussed in another thread.

[2016-05-25 07:09] arilynN opened #2961 "Array doesnt accept multiple entries in JAX-RS"
I recently opened a bug in swagger-ui, but now I think its a problem with swagger codegen. This is the related post: https://github.com/swagger-api/swagger-ui/issues/2175

When I build Code out of a spec which has an Array the Code seems to be right, but when I run I can have max. 1 entry. It doesnt recognize a "," with the collectionFormat csv. It also doesnt work with a "|" when i choose pipe as

[2016-05-25 08:10] wing328 commented on #2943
@langdonx I filed #2962 to add test model "Client". If you've time, please pull that branch to test.

[2016-05-25 08:38] wing328 opened #2963 "Add Apache v2 license to auto-generated files"
We will update the auto-generated files for all languages (both API clients and server stubs).
#2960 for C# API client is a good reference.

API clients
- [ ] Android
- [x] C++
- [x] C# (#2960)
- [ ] Clojure
- [ ] Dart
- [ ] Flash
- [x] Go
- [x] Javascript
- [ ] Java
- [x] ObjC
- [x] Perl
- [X] PHP (#2971)
- [X] Python (#2972)
- [x] Ruby (#2946 #2951 #2953)
- [ ] Swift
- [ ] Scala
- [x] TypeScript

[2016-05-25 08:47] DeepzSandra opened #2964 "Drop down menu for selecting country then states then district"
I am not able to design the function "print_district" to get the values from s_b. Kindly help me to defined this multidimensional array.

I suppose to get c11,c12,c13,... on selection from C1 from country country 1 and c21,c22,c23,... on selecting C2 from country 1 But I am getting d11,d12,d13,... and d12,d22,23 so on which is from country 2
 this is my code:
<!doctype html>
<html>
<head>
<meta ch

[2016-05-25 09:38] wing328 commented on #2680
@tylerlong  I tested with both twitter and instagram and both work for me without errors.

[2016-05-25 09:38] #2680 closed

[2016-05-25 09:45] urzds commented on #2382
The Kubernetes API is available in Swagger format at: https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.2/api/swagger-spec/v1.json
Thus I stepped away from generating it myself from our own, private instance of Kubernetes and the `with-api-context` method you describe is now sufficient.

[2016-05-25 10:28] cbornet commented on #2885
@wing328  :+1: for ```x-nullable``` support

[2016-05-25 11:38] cjolif commented on #2955
thanks @fabdslv your PR indeed answers my concern.

[2016-05-25 11:40] JonasPrap commented on #2660
What about when using Java client and target Android?

[2016-05-25 11:59] cbornet commented on #2885
@gitfool as for the ```x-type```, the spec already allows you to define your own "format" (you could define for instance uint64)

[2016-05-25 13:11] wing328 commented on #2949
@martinmuellerrohde I've merged https://github.com/swagger-api/swagger-codegen/pull/2950 into master to update the version to 2.2.0-SNAPSHOT (which is the next stable version)

[2016-05-25 13:18] philicious commented on #2706
@wing328 I noticed I had put `format: datetime` instead of `format: date-time` .. with the latter its producing `QDateTime` as it should. No fix needed. :+1:

However I'm confused now, maybe you can shed some light into it to clear my confusion:
(or point me to code where the typeMappings are used)

For `format: date` to produce QDate it needs lowercase `date` in `typeMapping.put("date", "QDate");

[2016-05-25 13:25] cbornet commented on #2885
And I think you can easily add the custom formats in the Codegen. See for instance how the [DefaultCodegen](https://github.com/swagger-api/swagger-codegen/blob/v2.1.6/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L774) maps {"type":"string", "format":"number"} to "BigDecimal" dataType.
Also note that decimal data type is already supported by the codegen as "number" d

[2016-05-25 13:32] wing328 commented on #2885
@cbornet very good example. We should also map `number` to `Decimal` in C#. I'll create a separate issue to track that.

[2016-05-25 13:33] wing328 opened #2967 "[C#] Map `number` to `Decimal`"
Similar to Java which maps `number` to `BigDecimal`,  we should do the same for C# to make it consistent across different langauges by mapping `number` to `Decimal` in C#.

If anyone has any concern or suggestion, please kindly voice out.

[2016-05-25 13:35] wing328 commented on #2706
I think it's due to this line: https://github.com/wing328/swagger-codegen/blob/2b71165584cda00294cd57d6bd58d93b406ecde7/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L244

[2016-05-25 13:44] cbornet commented on #1454
Closed by #1787 ?

[2016-05-25 14:15] martinmuellerrohde commented on #2949
Thank you @wing328  !
Currently your readme.MD still says "2.1.7-SNAPSHOT" even though it is 2.2.0-SNAPSHOT  now.

[2016-05-25 14:18] wing328 commented on #2949
@martinmuellerrohde updated :)

[2016-05-25 14:19] wing328 commented on #2949
For `allowableValues` it's a breaking change due to the need to have better enum support. Please refer to https://github.com/swagger-api/swagger-codegen/pull/2508#issuecomment-221574421 for more information.

[2016-05-25 14:21] wing328 commented on #1454
@cbornet has the annotation been added? I've checked to confirm.

[2016-05-25 14:21] martinmuellerrohde commented on #2949
Super !
Now I guess I still need it to be published at maven central, right?

[2016-05-25 14:25] wing328 commented on #2949
@martinmuellerrohde I do not have right to do that. I think @fehguy and @webron are busy at the CloudFoundry Summit.

Can you do a `mvn install` to install the 2.2.0-SNAPSHOT version locally for the time being?

[2016-05-25 14:44] cog commented on #2002
Hi, guys!

I work at Codacy; spotted this conversation and figured I could try to help out.

@wing328: for Java, Codacy uses PMDJava and Checkstyle; we also run our own algorithms to check for code duplication.

You can enable/disable all the patterns in the settings of the project on Codacy; also, when an issue arises, expanding it will give you access (top right corner of the issue; must be logg

[2016-05-25 14:57] fehguy commented on #2949
Hi, we are definitely not ready to release 2.2.0, but we can do a patch release of 2.1.7 whenever @wing328 is ready.

[2016-05-25 15:07] wing328 commented on #2949
@martinmuellerrohde it usually takes 3 to 4 months to release a stable version. I think your request is to upload 2.2.0-SNAPSHOT (not 2.2.0) to maven repo for the time being, right?

[2016-05-25 15:11] fehguy commented on #2949
I would suggest that we don't do that though, because 2.2.0 will have some major changes in packaging and it'll break @martinmuellerrohde 's deployment when that happens...

[2016-05-25 15:15] martinmuellerrohde commented on #2949
Right!
Am 25.05.2016 17:10 schrieb "wing328" <notifications@github.com>:

[2016-05-25 15:16] martinmuellerrohde commented on #2949
Oh, yes.
You are right.
A 2.1.7 would be a lot nicer.
Am 25.05.2016 17:14 schrieb "Tony Tam" <notifications@github.com>:

[2016-05-25 16:26] mbarclay commented on #2935
Sure thing. Will check latest build and submit PR as soon as I can get to it.

[2016-05-25 19:15] ePaul commented on #2963
Is this needed for some legal reason? Also, is this legally sound?

One could say that the generated code is derived from both the template files (which certainly have the same license as the rest of this project) and the API definition – the latter one is provided by the user, and could have conflicting licensing requirements (e.g. a copyleft license as GPL). In that case I guess the generated co

[2016-05-25 19:39] gitfool commented on #2885
@wing328 I just realised that `x-type-dotnet` is the better name in my case, rather than `x-type-csharp`, since the .NET type names are language agnostic and in the System namespace.

@cbornet I didn't know you could use custom `format` values, but that doesn't really help - I want to generate a Swagger document that is usable for all languages, but where .NET / C# code generators will be enlighte

[2016-05-25 19:43] cbornet commented on #2885
your document would still be usable for all languages: the languages that don't support your custom format would just ignore it and use the type's default one.

[2016-05-25 19:54] gitfool commented on #2885
But `format` is already used to differentiate integer, number, and string types into int32, int64, float, double, date-time and uuid etc, and tooling is surely relying on that, so these formats must not be replaced but augmented with something else.

[2016-05-25 20:38] peterbourgon opened #2970 "Request: Go server codegen"
First, forgive me if this is the wrong way to make this request. Thank you for the Go client generator. I would love to bring Swagger into my project (https://gokit.io) but to do that I'd need a Go server generator. I want to file the issue to register the interest and offer my help to review any PR someone could make — I don't have any Java chops, so I unfortunately won't be much help in making t

[2016-05-25 20:38] cbornet commented on #2885
If the custom format is because you want specific validation/pattern then the type+format will not be better than the simple type. For instance, if your custom format is "signed-int32", it's not really better to map to int32 than int64 for languages that don't support it.
If the validation/pattern is the same but you want to force the language type used then indeed you can use a vendor extension b

[2016-05-26 03:43] wing328 commented on #2970
@peterbourgon I think there are many Go server-side framework out there. Why one do you prefer?

I reviewed before and would suggest https://github.com/gin-gonic/gin

[2016-05-26 03:47] wing328 commented on #2963
@ePaul thanks for your questions and please refer to the following discussion for more information.

https://groups.google.com/forum/#!searchin/swagger-swaggersocket/license/swagger-swaggersocket/6JcsR4mWpYk/pd3__T0mHwAJ

https://twitter.com/TimHaines/status/729717172889489408

Disclaimer: I'm no expert in software licensing

[2016-05-26 03:47] peterbourgon commented on #2970
Most Go web "frameworks" are nonidiomatic and should probably be avoided for codegen purposes, including Gin. I would recommend plain `net/http` handlers + selected pieces from https://github.com/gorilla as necessary; probably just https://github.com/gorilla/mux for routing is enough.

[2016-05-26 04:14] wing328 commented on #2970
If anyone from the community wants to implement the Go server generator based on @peterbourgon suggestion or using some Go sever-side framework, please reply to let us know.

[2016-05-26 04:24] guohuang commented on #2970
i could give it a shot tomorrow

[2016-05-26 04:52] fehguy commented on #2970
I would like to see go-swagger in the server generator.  @casualjim can you help?

[2016-05-26 05:35] wing328 commented on #2958
@pablograna thanks for reporting the issue. Would you please file a PR so that we can review the fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-26 06:26] andriydruk commented on #2660
Hi JonasPrap,

@wing328 asked for help only for Android version. In Java version this problem still exists, and I don't know how to fix it without influence on all Java projects.

Frankly speaking, I think that it's a bad idea to use flag for Java version. Maybe would be better to create android specific versions for such libraries like 'retrofit', 'retrofit2', etc.

[2016-05-26 06:26] whq731 opened #2974 "online swagger codegen server support latest version option"
##### Description
I faced an bug in 2.1.6 which is stable version and fixed in 2.2 current master version.

https://github.com/swagger-api/swagger-codegen/pull/2785

But now the online api is only using the stable version 2.1.6.

https://generator.swagger.io/#/
[ base url: /api , api version: 2.1.6 ]

Could the api team add an option for using the latest version of swagger codegen?

[2016-05-26 08:20] mbarclay commented on #2933
Thanks for the link ref @wing328 will check it out. I'll see if I can get my first PR in, and time permitting dive in further :-)

[2016-05-26 08:22] wing328 commented on #2933
@mbarclay thanks for offering contribution. Let us (the community) know if you need any help.

[2016-05-26 09:19] DeepzSandra opened #2975 "Drop down menu for selecting country then states then district"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-05-26 09:24] wing328 commented on #2964
Sorry I don't understand your question. To help you model your "data', can you provide the data in JSON format?

[2016-05-26 10:38] #2955 closed

[2016-05-26 10:44] DeepzSandra commented on #2964
This is my script:
var country_arr = new Array("country 1", "country 2");
var s_a = new Array();
s_a[0]="";
s_a[1]="C1|C2";
s_a[2]="D1|D2";

var s_b = new Array();
s_b[1,1]="c11|c12|c13|c14|c15|c16|c17|c18|c19|c10";
s_b[1,2]="c21|c22|c23|c24|c25|c26|c27|c28|c29|c210";
s_b[2,1]="d11|d12|d13|d14|d15|d16|d17|d18|d19|d10";
s_b[2,2]="d21|d22|d23|d24|d25|d26|d27|d28|d29|d210";
function print_country(cou

[2016-05-26 10:45] DeepzSandra commented on #2964
choose country1 display s-a[c1,c2] and choose c1 not proper districk  display s_b[2,1]="d11|d12|d13|d14|d15|d16|d17|d18|d19|d10";

[2016-05-26 12:02] ePaul commented on #2963
@wing328 Thanks. Just for the future, it would be nice if (in cases there has been some discussion) this discussion is linked right when the issue is opened, so people know why stuff is done.

[2016-05-26 14:00] pablograna commented on #2958
This is the pull request: https://github.com/swagger-api/swagger-codegen/pull/2977

Unfortunately, I also pushed a different commit that went into this pull request. The second one fixes a 'compilation error' in eclipse. Let me know if it is better to send a new pull request with the first commit alone.

[2016-05-26 14:13] Amadiro commented on #2853
Hello,
I've tried creating a minimal test-case, but it seems to not reproduce, and since I've messed around with our spec so much by now, I can't get it to reproduce locally anymore either. Maybe it was just a mistake on my part -- I'll make sure to re-open if I manage to reproduce after all. Closing for now.

[2016-05-26 14:13] #2853 closed

[2016-05-26 14:21] ePaul commented on #2964
Sorry, could you elaborate what this has to do with Swagger-Codegen?

(Also please note that you can format code as such by either indenting it with four spaces, or by wrapping it in three backticks:

[code]

But this project's issue tracker is for issues with the Swagger-Codegen project, not a general coding help forum.)

[2016-05-26 15:04] wing328 commented on #2963
Yup, definitely valid point. I've been trying my best to keep the community informed but sometimes I did miss it. Feel free to ask whenever you've questions for us.

[2016-05-26 15:17] wing328 commented on #2853
Np. Just ping us if you need help.

[2016-05-26 15:19] wing328 commented on #2974
If you want to use the latest version, the recommended approach is to do it locally: https://github.com/swagger-api/swagger-codegen#getting-started

(you can also run your own generator with latest master locally)

[2016-05-26 18:18] clintfoster commented on #292
I notice this seems to be working now, at least for strings, e.g.:
[code]
Generates:
[code]

However, integers are initialized with null:
[code]
Generates:
[code]
I'm using version 2.1.6 of the swagger-codegen-maven-plugin. I noticed the same behavior when generating client code directly from http://editor.swagger.io/

[2016-05-26 19:36] langdonx commented on #2943
Thanks guys, I really appreciate it.  The less template overrides I have to make the better!.  Won't be able to test until Tuesday, but definitely get to it.

[2016-05-26 20:30] romk1n opened #2978 "[swift] query params on put get ignored if URL is a type"
##### Description

If the endpoint takes a query param in PUT request the alamofire ignores the parameters

##### Swagger-codegen version

2.1.6

##### Swagger declaration file content or url

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/swift/default/PetstoreClient/Classes/Swaggers/AlamofireImplementations.swift#L31

##### Command line used for generation

##

[2016-05-27 01:32] jimschubert commented on #2967
Would this be the same as #2813 , or would that issue then require an option to generate as `Double` instead? I think we had discussed this previously.

[2016-05-27 01:58] wing328 commented on #2813
@deepakbhise closing the issue as there's no update from you.

[2016-05-27 01:58] #2813 closed

[2016-05-27 02:04] wing328 commented on #2967
My understanding is that we need the following mapping:

float	(type:number, format: float) => float
double (type: number, format: double) => double
number (type: number, no format) => decimal

(currently number is mapped to double as well)

[2016-05-27 02:04] wing328 commented on #2967
#2813 has been closed due to no response from the user.

[2016-05-27 02:10] wing328 commented on #292
@clintfoster thanks for reporting the issue. I believe that's for Java and we'll look into that.

editor.swagger.io is using the latest stable version v.2.1.6

[2016-05-27 07:47] whq731 commented on #2974
Yeah,i can run the latest locally.

It means i have to perform the generator.swagger.io's api services locally...
Thank you by the .I will look into it.

[2016-05-27 07:52] wing328 commented on #2974
A workaround is to modify the host table (windows/mac/linux) to point generator.swagger.io to your localhost assuming your'e running the generator locally at port 80 (and of course remember to remove it later when you want to use the production generator.swagger.io)

[2016-05-27 07:52] #2974 closed

[2016-05-27 07:54] whq731 commented on #2974
👌！THX！

[2016-05-27 08:00] ImpThomasHein opened #2980 "Bug: No CodeGeneration when Objects have the same keys and values"
##### Description

It seems that no code generation is done, when Objects looks the same. The name object is proberly no concerned by adding in the hashmap. See example below for fastAssignmetn and ISB are not created.

##### Swagger-codegen version

2.2.0

##### Swagger declaration file content or url

swagger: '2.0'
info: {version: 0.5.0, title: Product Manager (C. H. Beck), description: This is

[2016-05-27 08:09] ePaul commented on #2980
Could you please format your code as yaml by wrapping it with backticks?

[code]

This makes it more readable. (Currently I have no idea what your problem could be.)

[2016-05-27 08:22] ImpThomasHein commented on #2980
swagger: '2.0'
info: {version: 0.5.0, title: Product Manager (C. H. Beck), description: This is the
    Web API Specification for the product manager.}
host: locahost:8888
schemes: [https]
consumes: [application/json]
produces: [application/json]
securityDefinitions:
  oauth2:
    type: oauth2
    flow: password
    tokenUrl: /usermanagement/v1/oauth/authorize
    scopes: {productmanager: to read/

[2016-05-27 08:23] ImpThomasHein commented on #2980
[code]

[2016-05-27 08:27] ImpThomasHein commented on #2980
[code]

If the Models have the same keys and values they are not generated.

[2016-05-27 10:45] cwbuecheler commented on #2892
@wing328 - I've snagged the lastest master from github, built the jar locally and installed it as a node module, but am running into issues with webpack that I don't fully understand. Basically it won't load any of the factories listed at the top of `src/index.js`. For each of the attempted requires in `src/index.js`, I get the following type of error:
[code]
I've looked into adjusting my webpack

[2016-05-27 12:58] mythofcode opened #2981 "Codegen from libraries not supported for templates in JAR file"
##### Description

Specifying a library, e.g. "jersey2" does not work.

Instead, code-generation defaults to using the base template, e.g. jersey1_18 for jaxrs.

##### Swagger-codegen version

2.2.0, however I have seen this in several previous versions.

##### Swagger declaration file content or url

swagger-config.json should contain (and may have other properties for packages etc)
{
  "library"

[2016-05-27 14:09] wing328 commented on #2981
@mythofcode thanks for reporting the issue and offering help for a fix.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-05-27 15:12] dziedrius opened #2982 "Inheritance and repeating properties in child"
I'm looking at generated examples and not sure if I understand why it works like this.
If you would take a look at https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Model/Cat.cs - you would see, that it inherits from Animal, which is ok.

Now the interesting thing is, that it repeats all the properties available in Animal - like

[2016-05-27 15:37] cbornet commented on #2982
See #2096

[2016-05-27 15:40] jeff9finger commented on #2096
Thanks @cbornet for your description. It seems like that approach may work.

Any more thoughts from the community on how to implement this?

This is a major issue for my project.

[2016-05-27 15:44] wing328 commented on #2982
@dziedrius we plan to have better model inheritance/composition support in v2.2.0. We may need your help to test later if you don't mind.

[2016-05-27 17:56] daknin opened #2983 "Java Feign client generator: HTTP header name should be named Accept not Accepts"
##### Description

The Feign generator is producing Api classes with an incorrect header name.
e.g.
  @RequestLine("DELETE /pet/{petId}")
  @Headers({
    "Content-type: application/json",
    "Accepts: application/json",
    "apiKey: {apiKey}"
  })
  void deletePet(@Param("petId") Long petId, @Param("apiKey") String apiKey);

The header should be named Accept not Accepts.

##### Swagger-codegen v

[2016-05-27 18:01] daknin commented on #2983
Pull request: https://github.com/swagger-api/swagger-codegen/pull/2984

[2016-05-27 18:45] alex-estela commented on #2449
Hi guys,
Also currently facing this issue. Any news about the release of this fix ?
Thanks in advance

[2016-05-27 21:10] jkt628 opened #2985 "[slim] generator creates invalid paths for Models"
##### Description

the slim generator creates two directories: 'SwaggerServer' and 'SwaggerServer\lib\Models'.  on un*x the latter should be SwaggerServer/lib/Models, e.g., using File.separator like other pathnames.

##### Swagger-codegen version

http://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.1.6/swagger-codegen-cli-2.1.6.jar

##### Swagger declaration file content or url

samples

[2016-05-28 01:47] wing328 commented on #2985
@jkt628 thanks for reporting the issue. Would you have cycle to contribute a fix?

Also it's worth sharing with you that we've added "PHP Lumen" generator in the latest master that you may be interested in giving it a try.

[2016-05-28 02:23] jimschubert commented on #2724
@bluemmc I implemented the ExceptionFactory by merging both of our ideas. I couldn't find a clean way to prevent a multicast delegate, so I just check the invocation list of the delegate and throw an exception. I also removed the status code parameter because it's already a part of the response.

Please check out the branch and tell me what you think!

[2016-05-28 03:45] mythofcode commented on #2981
Here's a diff patch.

[code]

[2016-05-28 10:09] mbarclay commented on #2935
Hi @wing328 I have a PR ready to go for fixing the date issue. Still navigating the code base – I have questions around creating tests. Namely once I have say altered a Moustache template in my branch, is there a recommended workflow for regenerating the petstore sample SwaggerClient and should those changes (assumabliy along with the tests) be merged back in?

Is Travis also running the Xcode tes

[2016-05-28 11:15] wing328 commented on #2935
@mbarclay please run `mvn && ./bin/swift-petstore-promisekit.sh` to update the sample and then run the following to trigger the integration test
[code]

(Travis does not run the integration tests for Swift/Objc Petstore client)

[2016-05-28 11:29] mbarclay commented on #2935
Cheers. Will do.

[2016-05-28 12:32] mbarclay commented on #2935
I have also run `mvn && /bin/swift-petstore.sh` I notice that this scripts file permission is **not** set to executable, could just be my system – but wondered if there's a reason for this.

[2016-05-28 13:09] wing328 commented on #2935
If you don't mind, please set it to executable and commit the change.

[2016-05-28 14:07] mbarclay commented on #2935
np

[2016-05-28 14:38] jimschubert commented on #2714
I haven't looked at the issue at hand with Enums, Lists, or Dictionaries. @wing328 did you make any progress on this issue?

@aws-na-ss-usplu Since you've put a lot of research into your comment, I wanted to address it somewhat in depth.

The Loopback issue you pointed to is more about implementing enum support correctly in the datasource abstraction and emitting the swagger definition correctly a

[2016-05-28 14:49] wing328 commented on #2714
UPDATE: For dictionary property/member (enum or not), there's a fundamental issue that I'm working on.

[2016-05-28 18:34] jimschubert commented on #2819
It looks like RestSharp supports file streaming [via WriteMultipartFormData](https://github.com/restsharp/RestSharp/blob/105.1.0/RestSharp/Http.cs#L367). You'd have to set `AlwaysMultipartFormData = true` to hit this case:

[code]

[2016-05-28 19:20] jimschubert commented on #2714
Awesome. Thanks for the update.

[2016-05-28 20:28] pavel-sbor opened #2991 "[JAVA] Incorrect display of date-time in UI"
##### Description

I have date-time field in my spec.
[code]
Although "expitationTime" has a date format in generated java code,  it displays as a number on UI page:

[code]

##### Swagger-codegen version

I use docker image for generation
https://github.com/mydock/swagger-codegen-prebuilt

##### Swagger declaration file content or url

[code]

##### Command line used for generation

docker run --

[2016-05-29 09:04] wing328 opened #2994 "[Major Change] Move mustache templates into a separate Github project"
As discussed with Tony Tam (@fehguy), we want to move the mustache templates into a separate Github project to allow users easily customize the template.

This will be done as part of the 2.3.0 major release.

If anyone has feedback or question, please reply to let us know.

[2016-05-29 19:37] pubudu91 opened #2997 "Jersey 2 generator not working"
##### Description

I tried to generate a Jersey 2 server stub using Codegen, by passing a JSON config file. In that config file, I set the library to be Jersey 2. However, when checking the generated code, I found that it has used Jersey version 1.18.1. The config file seems to be processed correctly,  since other properties I had set in it were configured correctly in the pom file (such as groupI

[2016-05-30 02:49] wing328 commented on #2997
@pubudu91 thanks for reporting the issue.

Is it the same as https://github.com/swagger-api/swagger-codegen/issues/2981 ?

[2016-05-30 02:50] wing328 commented on #2980
Can you share the spec via http://gist.github.com?

I would also assume you've validate your spec using https://editor.swagger.io or other tools.

[2016-05-30 06:20] wing328 commented on #2981
@mythofcode please submit a PR and we'll review.

(change in AbstractGenerator.java would take more time to review and from what I understand the issue is jaxrs-specified while `java` API client does not have similar, maybe the fix should be in the JaxRS generator java class)

[2016-05-30 06:40] bluemmc commented on #2724
Great. Minor points for the branch:
1) As I understand it the InterceptResponse bits are fully independent from the ExceptionFactory  bits. Are they for two different use-cases?
2) Maybe move the assignment to localVarStatusCode below the call to ExceptionFactory in api.mustache (in case the ExceptionFactory modifies the response to cope with the error - not sure this practice of modifying the res

[2016-05-30 06:44] bluemmc commented on #2724
BTW: Let me know when the feature has been merged with the main branch. Then I will try it out (for now I have only inspected the source code of the change).

[2016-05-30 06:53] bluemmc commented on #2994
**Alternative idea:**
What about a command line option to the executable jar that copies the template source files to a local directory \mustache directory for easy modification (so that users do not have to pick it out of the jar file). You can also alter the defaults so that if a \mustache directoy is detected then it is used. With changes like this it becomes trivial for end-users to customize.

[2016-05-30 07:35] daknin commented on #2983
PR has been merged so closing issue

[2016-05-30 07:35] #2983 closed

[2016-05-30 08:47] wing328 commented on #2983
@daknin thanks again for the contribution.

[2016-05-30 09:04] LightySnake opened #2998 "Android Volley Generator"
##### Description

HI, i've generated an Android client with volley library using the swagger generator (from windows). Everything went fine but when i try to call the API i get this error:
"java.lang.NoClassDefFoundError: org.apache.http.Consts at io.swagger.client.ApiInvoker.<clinit> .."

I've tried to use the PetStore Sample and i get the same error.
I've tried to use okhttp-gson and i have the

[2016-05-30 10:10] cbornet commented on #2096
If you agree with this, you can support https://github.com/swagger-api/swagger-parser/pull/246

[2016-05-30 11:20] pubudu91 commented on #2997
Ah yes. Sorry. Didn't see that one. Yes, this is the same issue.

[2016-05-30 11:45] wing328 commented on #2998
@LightySnake I think we've fixed it in the latest master. Please pull the latest master and give it a try.

https://github.com/swagger-api/swagger-codegen#getting-started

[2016-05-30 11:46] wing328 commented on #2997
No worry. Closing this one.

[2016-05-30 11:46] #2997 closed

[2016-05-30 11:48] wing328 commented on #2724
@bluemmc To try the branch locally, please run the following:
[code]

[2016-05-30 12:30] mythofcode commented on #2981
@wing328 I appreciate you are swamped and want to take a conservative view of the fix, but when you take the time to review the code that calls this, you will see that it attempts to read resource files from two stores: the CLASSPATH, and the filesystem. The original code generates several path patterns, but each path is only tested against one store. The change simply makes it test against both s

[2016-05-30 13:12] mikolajprzybysz commented on #2941
@wing328 you were right, I just put it as a regular param instead of as securityDefinition I should have added to the root:
[code]
and it works like a charm, not I have all endpoints secure and I can configure everything via Configuration class.

[2016-05-30 13:12] #2941 closed

[2016-05-30 13:16] jimschubert commented on #2724
@bluemmc

Yes, `InterceptRequest`, `InterceptResponse` and `ExceptionFactory` are all different use cases. The `InterceptRequest/InterceptResponse` methods are partial methods. This means you'd need to implement a function which gets compiled as part of the `ApiClient` type definition.  Taking the example in the pull request and modifying it a bit to use Trace instead of Debug:

[code]

This would

[2016-05-30 14:16] wing328 commented on #2943
@langdonx I found an issue and will need a bit more time to fix. Will keep you posted.

[2016-05-30 14:56] LightySnake commented on #2998
With the last commit 14aefe7 i have this error: "java.lang.VerifyError: io/swagger/client/ApiInvoker
                                                                            at io.swagger.client.api.PetApi.<init>(PetApi.java:29)"
With petstore sample and with my json using volley

[2016-05-30 15:19] wing328 commented on #2998
Please use the Java (okhttp-gson) API client as a workaround while we're looking into the issue more:

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android

[2016-05-30 15:36] wing328 commented on #2998
@LightySnake  If you run the following command under `samples/client/petstore/android/volley` in the project, did you get any error?
[code]

[2016-05-30 15:46] LightySnake commented on #2998
@wing328 No error, just 3 WARNING about the conflict org.apache.httpcomponents:httpclient:4.5.2 with the internal version provided by Androdi.

About okhttp-gson i can't create the jar for the sample project, it fail the tests  i'm trying to know why.

[2016-05-30 15:49] wing328 commented on #2998
@LightySnake can you share the spec with us or me (via my email address in github profile page)?

[2016-05-30 15:54] LightySnake commented on #2998
@wing328 I write you when i go home, first i want to try with my machine at home from windows and linux

[2016-05-30 16:11] ePaul commented on #2994
Just one thing to think about.

Often the templates are quite linked to the DefaultCodegen subclass (i.e. they depend on additional properties of the models which are set there).

Moving them into a separate repository can have the effect of an inter-project dependency, where changes have to be made to both of them for the result to still work. This is difficult to review (you don't have one pull

[2016-05-30 17:19] ebelanger commented on #2138
#3002

I am leaving a link to this pull request and the alternative solution so that other may benefit like I did.

[2016-05-30 19:02] ePaul commented on #2991
**I did reproduce this**, using the following steps in addition to what was mentioned in the report:

* add the `format: date-time` line in the swagger.yaml (it was missing there)
* Add a main class:

[code]
* Add a dependency to spring-boot-starter-web (and use spring-boot-starter-parent:1.3.5.RELEASE as the pom's parent)
* remove the dependency for slf4j-log4j12 (because that caused the applicat

[2016-05-30 19:05] ePaul commented on #2991
**Possible fix**

Adding e.g.
[code]
to the get method makes the output look like this (which matches what I would expect after reading the spec):
[code]

I guess this needs to be somehow added in the templates (or the Java Codegen classes).

[2016-05-30 19:21] cbornet commented on #2991
It's better to configure Jackson with ```spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS: false``` in spring-boot or to configure the Jackson2ObjectMapperBuilder in spring-mvc.
See [here](https://spring.io/blog/2014/12/02/latest-jackson-integration-improvements-in-spring#customizing-the-jackson-objectmapper)

[2016-05-30 22:04] pablograna commented on #2958
I created a new, cleaner, PR, sorry for the overhead: https://github.com/swagger-api/swagger-codegen/pull/3005

[2016-05-31 04:25] whq731 commented on #2994
I think maybe the separate project could as a template gallery where anyone can contribute or a plugin project.The major project is the  stable built-in template which fully tested.

[2016-05-31 06:25] bluemmc commented on #2724
@jimschubert
Thanks for the detailed explanation.Sounds good. The only potential drawback I can think of is that the use of partical classes to override InterceptRequest is c# specific and thus difficult to align with other languages if they want to implement support for intercepters too. Apart from that I think your contribution with intercepters and the exception factory is great and I look forw

[2016-05-31 07:28] wing328 opened #3006 "[Scala][Java] Add "sbt" build config to Java/Scala SDK"
Currently, Java supports maven and gradle to build the library. We want to add "sbt" as well: http://www.scala-sbt.org/

This will make it easier for Scala developers to build the Scala/Java SDK to use it in their Scala program.

If anyone wants to work on this, please reply to let us know.

[2016-05-31 08:19] wing328 commented on #2927
@shawkinsl thanks for reporting the issue. Please open a PR and we'll review the change.

[2016-05-31 08:20] #2967 closed

[2016-05-31 08:22] wing328 commented on #2936
@sohrab- thanks for reporting the issue. `fullJavaUtil` is only supported in the Java API client at the moment:

https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=fullJavaUtil

Would you have cycle to help us implement it in the JAX-RS generator?

[2016-05-31 08:25] wing328 commented on #2961
@arilynN thanks for reporting the issue. May I know if you've cycle to contribute a fix?

[2016-05-31 08:31] wing328 commented on #2918
@stoicflame you're using inline models within `allOf` which is not supported by Swagger Codegen at the moment.
[code]
To workaround the issue, please define the model instead of using inline model.

[2016-05-31 08:49] wing328 commented on #2998
If anyone from the community wants to look into this issue, please reply to let us know.

[2016-05-31 09:44] arilynN commented on #2961
I havent planned it.

[2016-05-31 10:15] ePaul opened #3007 "CLI should be able to output its own version"
##### Description

When getting a codegen CLI binary of unknown origin, it is currently not possible to know which version of codegen it is.

As an example, I yesterday downloaded the docker image `mydock/swagger-codegen-prebuilt` (from https://github.com/mydock/swagger-codegen-prebuilt, I guess) mentioned in #2991, and was unable to determine which version of swagger-codegen it is.
##### Swagger-

[2016-05-31 11:18] wing328 commented on #3007
@ePaul agree that it would be useful to show the version.

[2016-05-31 13:36] pablograna opened #3008 "Suggestion: use final in method parameters"
##### Description

I always make all operation parameters final, I consider it a 'best practice'. It is also recommended in the default checkstyle configuration.

As a justification for it, I came across code like this a couple of years ago:

class X {
...
  private B b;
...
  someOperation(B b) {
     // some code
     B x = some transformation that depends on b.
     // some code.
     b = x;

[2016-05-31 14:51] Lotti commented on #820
This problem persists while generating a nodejs server with version 2.1.6 :\
[code]

[2016-05-31 14:56] Lotti commented on #2423
It creates multiple controllers where multiple tags are present...
I thought controllers were made by using the x-swagger-router-controller specific parameter!!

[code]

[2016-05-31 15:20] fehguy commented on #2423
We should follow the Java pattern where the first tag is used for routing. The controller extension should win, though, and avoid that logic altogether

[2016-05-31 16:01] fehguy commented on #2994
The challenge right now is that the `DefaultGenerator` _must_ stabilize.  The templates can move as fast as needed but the base code needs to slow down.

I would like to see that the "engine" has a dependency on template(s) rather than as a monolith.  It makes it very scary to update a template library when it has hundreds of commits.

It seems like there could be a single "bundle" for all templat

[2016-05-31 19:00] pablograna opened #3011 "HaskellServantCodegen depends on NotImplementedException from sun package"
##### Description

In Eclipse the HaskellServantCodegen has the following error:
 The type NotImplementedException is not accessible due to restriction on required library /usr/lib/jvm/java-7-openjdk-amd64/jre/lib/rt.jar

For some reason, eclipse does not allow references for certain packages in your sources, even if the code compiles from the command line. I cannot find the reason now, but I reca

[2016-05-31 19:43] DavidBiesack opened #3012 "HTML generation mangles case of schema"
##### HTML generation mangles case of schema

Our swagger uses specific capitalization rules which swagger-codegen muddles by capitalizing the schema names. Thus, for reference documentation (we have reusable schema), the names are wrong.

##### Swagger-codegen version

2.2.0-SNAPSHOT

##### Swagger declaration file content or url

[code]
##### Command line used for generation

[code]
##### Steps

[2016-05-31 20:24] Lotti commented on #2423
If not tag is specified and x-swagger-router-controller is available, the generator keeps acting in a very strange way... every api is bundled in just one controller named "default"...

[2016-05-31 20:39] baholladay opened #3014 "Cannot resolve modules in Javascript export"
After updating my API from the editor.swagger.io -> generate client -> javascript export, I can no longer import my API. I get the following errors:

Module not found: Error: Cannot resolve module 'ApiClient' in ...

This is for all imports listed in src/index.js. I noticed that the relative paths were updated for the AMD import logic and I believe it is tied to those changes. For instance, in ind

[2016-05-31 21:42] cbornet commented on #2138
I used Instant because:
* ZonedDateTime has time-zone info (eg. Europe/Paris) which is not supported by rfc3339
* Older implementations of date-time (eg. in java 6) may only use rfc822 time zones (-0800 instead of -08:00) so I generally prefer to force UTC at the API level. Feel free to comment if you think OffsetDateTime would be better.

[2016-05-31 23:27] jkt628 commented on #2985
Java is foreign to me.  if it were C, C++ or Go, sure, i'd do it.

[2016-06-01 03:13] wing328 commented on #2423
@Lotti Here is the logic related to `x-swagger-router-controller` in NodeJS generator.

https://github.com/swagger-api/swagger-codegen/blob/b847838a0c595177fd74f665e755a2a12fddda22/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java#L265-L288

Would you have cycle to contribute a fix?

[2016-06-01 05:01] Lotti commented on #2423
I have to setup all the environment for develop with java... probably later in the week. There is a *favourite ide*?

[2016-06-01 06:08] wing328 commented on #2423
Eclipse works for me

[2016-06-01 06:17] wing328 commented on #2702
@purpleKarrot for ObjC, it should be done. Please pull the latest master and give it a try.

[2016-06-01 08:01] wizardbyron commented on #2002
That's cool. Maybe you can add it to README.md. Let @wing328 make the decision.

[2016-06-01 10:58] wing328 commented on #2981
@mythofcode I'm able to fix it locally and should be able to file a PR by today.

(A PR would make our life easier as the change will go through the CI tests run by Travis to make sure it's not breaking anything covered by the tests and there's an easy way in the PR page that I can pull the change to test locally in my machine)

[2016-06-01 10:59] wing328 commented on #2981
@pubudu91 FYI. Update above.

[2016-06-01 14:19] wing328 commented on #3014
@baholladay I would suggest you to generate JS API client using the latest master, which comes with documentation (markdown) on how to use the module.

[2016-06-01 14:43] cbornet commented on #2442
@fehguy withCredentials is used to authorize the browser to add the authentication cookie when doing a cross-site request. So this is not really related to the spec but more to javascript client configuration.

[2016-06-01 14:46] delenius commented on #2442
@cbornet , that's an argument in favor of allowing this option, right? I don't see any other way to do this...

[2016-06-01 16:48] vineetshah opened #3019 "[Swift] NSDate parameters are percent-encoded rather than passed through an NSDateFormatter"
##### Description

NSDate parameters seem to be percent-encoded using their description string, which contains whitespace. This causes an NSDate such as `2016-05-31 16:31:44 +0000` to be encoded as `2016-05-31%2016%3A31%3A44%20%2B0000` in the HTTP request.
##### Swagger-codegen version

2.1.6
##### Suggest a Fix

NSDate parameters should be passed through an NSDateFormatter before adding it to the

[2016-06-01 22:05] kdc415 commented on #2886
Looks like MS says they're going back to MSBuild

[https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/](url)

I've just downloaded my first swagger generated api server stub. I downloaded core RC1 to try to run it and it hosed my VS 2015 installation.

Then I found this article, so I decided to make a new MVC5 project and incorporate the models/controllers and I'm having so

[2016-06-01 22:17] taxpon opened #3020 "[Python] Provide option to eliminate body for DELETE request"
##### Description
- Provide option to eliminate body for DELETE request
- Some server application (ex. Google App Engine, [ref](https://code.google.com/p/googleappengine/issues/detail?id=601)) do not take DELETE request with body
    - Current code will create body even if I set `body = None` because `json.dumps(None)` creates `nil` in `rest.py`

##### Swagger-codegen version
2.2.0-SNAPSHOT

#####

[2016-06-01 22:24] pubudu91 commented on #2981
@wing328 Thanks a lot! It's working! One minor issue is that the Jetty version in the pom file is missing a dot. It should be "9.3.10.M0"

[2016-06-01 22:41] jimschubert commented on #2886
@kdc415 You should be able to run .NET Core RC1 and RC2/RTM side by side. I'm not sure why it would hose your environment.

When I created the aspnet5 server generator, I created two examples here https://github.com/jimschubert/webapi-swagger-samples. The `netstandard-1.4` directory is what became the generator while the `net45/src` stuff is Web API 5.2.3 code. I didn't create a generator for the

[2016-06-01 22:45] jimschubert commented on #2914
I'll have to check this out. I've downloaded the server generator code from editor.swagger.io in the same way mentioned above and run it successfully, but it's been a couple months. I don't know what's changed in that time.  What version of .NET Core are you running? Is Visual Studio not using RC1-final which is required by the project?

[2016-06-02 00:03] kdc415 commented on #2886
Thanks for the response and the advice - I'll give it a shot. This is a new project and I suppose I may as well bite the bullet and use the latest. I expect we'll see final release very soon.

[2016-06-02 03:15] wing328 commented on #3020
Your suggestion looks good to me. The only question I've is whether the following conforms to PEP8:
[code]
I would suggest using the typical if else in multiple lines instead.

cc @scottrw93

[2016-06-02 03:39] taxpon commented on #3020
I guess conditional expression do not violate any [PEP8](https://www.python.org/dev/peps/pep-0008/#references) rules.

[2016-06-02 03:49] #3012 closed

[2016-06-02 03:56] wing328 commented on #3020
@taxpon thanks for sharing (I've not used `pep8` to check the 1-liner if else statement myself)

And thank you for the PR. I know you may also use the Typescript API client to talk to your GAE backend. May I know if you've encountered similar issue with the DELETE operation? If yes, we'll open another issue to track that.

[2016-06-02 04:00] taxpon commented on #3020
@wing328 Ok. There is no problem so far. If I find any problem, I will create issues.

[2016-06-02 04:14] wing328 commented on #2985
@jkt628 no problem we'll leverage the community to fix it instead.

[2016-06-02 04:15] wing328 commented on #3011
@pablograna I read more about `NotImplementedException` and agree with your suggestion to use `UnsupportedOperationException` instead.

cc @algas to see if he's any comment on the proposed change.

[2016-06-02 04:17] wing328 commented on #3011
I did a search to confirm only haskell server stub generator uses `NotImplementedException`:

https://github.com/swagger-api/swagger-codegen/search?l=java&q=NotImplementedException&utf8=%E2%9C%93

[2016-06-02 06:33] #2981 closed

[2016-06-02 06:34] wing328 commented on #2981
@pubudu91 @mythofcode The fix has been merged into master. Please pull the latest and give it a try.

[2016-06-02 06:56] Xiaochongji opened #3022 "Spring Boot + Jersey2 + Swagger2"
Spring Boot + Jersery2 + Swagger2 It  can't work at the same time
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-06-02 08:12] cbornet commented on #3022
Can you describe what is your issue and fill the appropriate fields of the bug template ?

[2016-06-02 08:43] wing328 opened #3024 "Fix warnings in pom.xml."
When running `mvn`, you may find the following warnings:

[code]

To fix the warning, please refer to https://github.com/swagger-api/swagger-codegen/pull/3023

If anyone wants to work on this for other Java API client or server stub generator, please reply to let us know.

[2016-06-02 08:47] wing328 commented on #2800
@gpekofsky @narayanan please pull the latest and give it another try. (I've merged a PR that should have fixed the issue)

[2016-06-02 08:59] #3022 closed

[2016-06-02 09:14] cbornet opened #3025 "[Spring] Spring generators"
I have started working on a [spring-cloud-feign](http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-feign) client generator and I see that the most flexible way to do it would be to generate the models and interfaces for the APIs as described [here](http://projects.spring.io/spring-cloud/spring-cloud.html#spring-cloud-feign-inheritance) and let the caller configure its @FeignCli

[2016-06-02 09:28] cbornet commented on #3025
On a side note, it would also be cleaner to extract an AbstractJavaCodegen for all java based generators (java, spring, jaxrs, android?, inflector, groovy) instead of deriving from JavaClientCodegen.

[2016-06-02 09:38] wing328 commented on #3020
PR merged. Issue closed.

[2016-06-02 09:38] #3020 closed

[2016-06-02 10:12] savioursoul opened #3026 "Mvn Package - failed test on initial build"
##### Description

I cloned the master branch from Git, and ran Mvn Package . There is a failing test that is causing the build to fail

##### Swagger-codegen version

Latest from Master branch

...
evaluate(io.swagger.codegen.ignore.CodegenIgnoreProcessorTest)  Time elapsed: 0.01 sec  <<< FAILURE!
java.lang.AssertionError: A file when non-matching should allow. expected [true] but found [false]

[2016-06-02 10:13] savioursoul commented on #3026
I am using Maven 3.3.9 and JDK 1.8.0_65

[2016-06-02 10:24] wing328 commented on #3026
It works for me. I'll test it with JDK1.8 in another machine.

For the time being, please try `mvn clean package -DskipTests` as a workaround.

[2016-06-02 10:34] cbornet commented on #1353
Closing this as now the android codegen now uses "volley" and it doesn't make sense to mix it with java codegens.
We can have a discussion on extracting the common attributes for java-based generators in an abstract codegen in another issue.

[2016-06-02 10:34] #1353 closed

[2016-06-02 10:41] karussell commented on #1353
Can you roughly outline for me why not just using gson+okhttp for Android? I do not like the idea much of having two clients and currently using gson+okhttp to solve this.

[2016-06-02 11:22] pablograna commented on #3011
I'll submit a PR, then. I will also add some changes related to inconsistent package names.
Thanks.

[2016-06-02 11:29] wing328 commented on #1353
@karussell the short answer is that some users prefer `volley` instead of `okhttp` (they didn't mention why they prefer `volley` though)

[2016-06-02 12:11] cbornet commented on #1353
volley is very popular for android users and the android team is now maintaining it directly (https://android.googlesource.com/platform/frameworks/volley).
okhttp-gson is also a good choice but you should really have a look at [retrofit](http://square.github.io/retrofit/) which uses okhttp internally and gives a cleaner way to write the api methods with annotations.

[2016-06-02 12:12] cbornet commented on #1353
And the retrofit client has oauth2 support with automatic management of the token if that is of interest for you.

[2016-06-02 12:14] karussell commented on #1353
Thanks for the clarification and will have a look at your links! But if I do not use oauth2 and the classes are created for me like for swagger then I could prefer the smaller lib :) ?

[2016-06-02 12:21] cbornet commented on #1353
Your choice but that won't make a very big difference.
I recall you wanted to have the same client in server back-end and android. Then I suggest also having a look at Feign which is IMO the best library for servers (obviously, it's developped by Netflix :smile: ). For your android client, you can very easily plug on it okhttp for the network calls. The only possible drawback is that even though i

[2016-06-02 12:27] hauthorn commented on #465
Is it possible to (easily) create a new generator for Retrofit 2.0? It would greatly decrease the number of lines in the interface file, as their new structure doesn't require 2 methods for a single call.

I would love to take a stab at it if someone could point me toward a starting point :smile:

[2016-06-02 13:09] cbornet commented on #2013
@Vrolijkx it seems still present in typescript-angular sample. Would you have a look ?

[2016-06-02 15:32] mythofcode commented on #2981
@wing328 Merge is good, my fix is working correctly. I also tested the legacy support for jersey1, also looking good.

I've also updated the docs to reflect the new jersey2 default, see below for diffs, ready to git apply.

[code]

-### Java JAX-RS (Jersey v1.18)
+### Java JAX-RS (Jersey 2)
+
+Currently Jersey 2.22.2
+
+```
+java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar gene

[2016-06-02 15:39] duane-chillingo opened #3028 "[ObjC] Client local cache ignored when Accept header is set"
##### Description

When specifying
`      produces:
        - application/json `

in the YAML for a GET request, the Objective-C code generated adds the 'Accept' header with a value of 'application/json'.

This will cause the client caching to be effectively disabled, even after explicitly enabling the local caching using:
`
      [SWGApiClient setCacheEnabled:YES];
`

The NSUrlRequest defaults to

[2016-06-02 15:55] wing328 commented on #3026
Works for me with JDK1.8
[code]
Would you happen to have another machine that you can try?

[2016-06-02 16:23] taxpon opened #3029 "[Python] Model's constructor should provide argument to initialize properties"
##### Description
- Currently, model's constructor do not provide arguments to initialize properties
- If there are arguments to initialize propeties, developer can initialize instance with less typings in some cases.

##### Swagger-codegen version
2.2.0-SNAPSHOT

##### Suggest a Fix
 Generated code example (`animal.py`)
###### before
[code]

###### after
[code]

[2016-06-02 17:47] doughjoe77 commented on #2914
By default it looks like its using "1.0.l-rc1-final".  I figured out what is happening and was able to correct it to a degree, by default line 69 in the Startup.cs has the xmlComments variable set to "C:\Users\<user>\Desktop\Project\aspnet5-server\src\artifacts\Debug\dnx451\IO.Swagger.xml", which doesn't exist.  I found the xml I thought it would need in the artifact directory "C:\Users\<user>\Des

[2016-06-02 19:11] Serjster opened #3032 "[C#] namespace issues"
I'm using http://editor.swagger.io/ though I think that is of little consequence. I have 2 swagger clients being consumed in my web app and since they both share the same namespace when I try to new up a new client it becomes ambiguous... it would be awesome if there was an attribute that I can set in my server/swagger apps that specified the namespace to create in the client... is there one that

[2016-06-02 19:34] cbornet commented on #3025
Actually, if we separate the controller between an interface and an implementation in the existing spring server generator then all is needed is a subset from the files generated (removing all files related to server config). So it could be done very easily by a generator option (eg. --interfaceOnly=true) or library (eg. -l interface-only).
What do you think ?

[2016-06-02 22:15] runeksvendsen opened #3033 "[HASKELL] Generated types do not produce/consume JSON according to spec"
##### Description

In a Swagger spec file, when specifying eg. "payment_data" as a field name in an object, the resulting Haskell type produces (and consumes) JSON with a field name of "PaymentData". So eg. "channel_value_left" becomes "ChannelValueLeft". This breaks compatibility with the client library.

##### Swagger-codegen version

master @ a3610f1c12e5d7912cf2e9f16dff2152ef40291b

##### Swag

[2016-06-02 23:15] runeksvendsen commented on #3033
Changing the hard-coded `camelize` default (in `modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/HaskellServantCodegen.java`) to `snakeCase` makes it work for snake case only. But I'm not sure how add an option, or how to just preserve the naming convention used in the swagger spec.

[code]

[2016-06-03 03:43] qtstc commented on #2800
I am seeing the issue with version 2.16 and the current master build. Tried both cli tool and maven plugin, the template directory is not used. I don't think it is specific to jaxrs though, tried ruby, also seems to have the same problem. The template was used in 2.14 and 2.15.

[2016-06-03 04:18] wing328 commented on #2800
@qtstc thanks for doing a check with the latest master to confirm the issue. I'll look more into it and hopefully file a PR for the fix by this weekend.

[2016-06-03 07:49] wing328 commented on #3011
@pablograna  PR merged. Issue closed.

Thanks for the contribution.

[2016-06-03 08:11] savioursoul commented on #3026
Thanks, skipping the tests worked for me - must be something else in my config

[2016-06-03 08:29] wing328 commented on #2800
I did some tests and the `-t` (template) option works for me for both `ruby` and `jaxrs`.

Please share the full commands you used for repeating the issue.

[2016-06-03 08:35] wing328 commented on #2757
@archana27m you can use the `-t` (template) option to specify your own customized mustache files.

Closing this issue for now and please reply if you need further assistance.

[2016-06-03 08:35] #2757 closed

[2016-06-03 09:41] Landschaft opened #3036 "Swift GET request without any parameters has a body"
##### Description

In my API there is a GET call with a single @PathParam (no other parameters). When a generated Swift client calls this, there will be a request-body that consist of an empty JSON object: "{}". It seems odd that a GET request has a body at all; but this empty JSON object makes absolutely no sense. Even worse, it will be rejected by the WAF.

##### Swagger-codegen version

This bu

[2016-06-03 09:55] Landschaft opened #3037 "Swift GET parameters are not URL encoded"
##### Description

Generated Swift clients do not URL-encode GET parameters. This must be done if a GET parameter contains characters like slash ('/') or pipe ('|')

##### Swagger-codegen version

Swagger 2.2.0

##### Suggest a Fix

URL-encode all parameters by calling object.stringByAddingPercentEncodingWithAllowedCharacters(.URLHostAllowedCharacterSet())

[2016-06-03 10:55] dmilov commented on #2911
Just verified. It is fixed.

[2016-06-03 11:00] wing328 commented on #2911
@dmilov thanks for the confirmation

[2016-06-03 11:00] wing328 commented on #3036
@Landschaft thanks for reporting the issue.

cc @jaz-ah @Edubits

[2016-06-03 11:03] wing328 commented on #2985
@jkt628 what about using https://editor.swagger.io to generate PHP slim server stub as a workaround?

[2016-06-03 14:37] doughjoe77 commented on #2914
I also had to make a change to the project properties, you need to do the following:
1) right click on the project in VS 2015, choose properties
2) choose the build side tab "Build" and check off "Produce outputs on build"
3) do a "Save All", should create a new *.xproj file and a *.sln file which it will ask you to save.  Once you do that the code above will work.
![fix swagger io project](https:

[2016-06-03 15:11] aboretum commented on #2800
I used the command below, and it is not working for me.
[code]
It should take the templates in the directory specified by `-t`, right?

[2016-06-03 15:14] wing328 commented on #2800
You need to specify the exact location of the mustache files. e.g.
[code]
in which `/var/tmp/jaxrs_template/JavaJaxRS/libraries/jersey2` contains your customized mustache files.

[2016-06-03 15:17] kdc415 opened #3040 "ASPNET5 Server Stub - problem connecting to SQL"
##### Description

ASPNET5 Server Stub - problem connecting to SQL

##### Swagger-codegen version

From the swagger.io website - latest

I'm using the codegen server stub, which uses ASP NET 5 RC1.

The assembly used for DependencyInjection is: using Microsoft.Extensions.DependencyInjection;

The problem I have is trying to add a sql connection like this:

services.AddEntityFramework().AddSqlServe

[2016-06-03 15:18] taxpon opened #3041 "[Python] Follow PEP8 rules"
##### Description
- According to [CONTRIBUTING.md](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md), generated python codes are desired to follow [PEP8] (https://www.python.org/dev/peps/pep-0008/) rules.
- Currently,  generated codes are violating some PEP8 rules.
- I think templates should be fixed so that generated codes can follow PEP8 as far as possible.

###### PEP8

[2016-06-03 17:06] smileyogurt opened #3042 "How to specify "--skip-overwrite" parameter for swagger-codegen-maven-plugin"
I tried to pass the property in configOptions, but it seems does not work:

`<configOptions>
     <skipOverwrite>false</skipOverwrite>
</configOptions>
`

How to pass "--skip-overwrite" property for plugin?

I checked plugin code, it does not have this property specified, only in swagger-codegen-cli not plugin though. However this property is very important and we need to this to customize the new

[2016-06-03 17:49] qtstc commented on #2800
Tried cli tool again with latest master. Command I used:
` java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i http://petstore.swagger.io/v2/swagger.json -t modules/swagger-codegen/src/main/resources/JavaJaxRS/libraries/jersey1/ -l jaxrs`
I changed modules/swagger-codegen/src/main/resources/JavaJaxRS/libraries/jersey1/api.mustache, but I am not seeing the change in the

[2016-06-03 18:42] wing328 commented on #2800
@qtstc can you please also try full path (e.g. /var/tmp/jaxrs_template/JavaJaxRS/libraries/jersey2) instead of relative path?

[2016-06-03 19:20] jkt628 commented on #2985
first thing i see:

Server code generator is unreachable! Client code generator is unreachable!

[2016-06-03 21:50] qtstc commented on #2800
Tried with full path, still doesn't work. Full path worked with 2.15 though.

[2016-06-03 22:49] qtstc commented on #2800
I see the problem now. In getFullTemplateFile of AbstractGenerator:
`
    if (library != null && !"".equals(library)) {
      String libTemplateFile = config.templateDir() + File.separator +
          "libraries" + File.separator + library + File.separator +
          templateFile;
`
So it worked when I passed in
`codegen/src/main/resources/JavaJaxRS/`
instead of
`codegen/src/main/resources/JavaJa

[2016-06-04 02:17] clasnake opened #3044 "Add gradle support for the scala client"
##### Description

Auto-generate build.gradle, settings.gradle, gradlew and gradlew.bat for the scala client, so that scala users can build using gradle.

[2016-06-04 09:01] wing328 commented on #2800
@qtstc thanks for the fix. I think it's a bug (although I seldom use the -t option myself)

Using the example you provide, the correct path should be `codegen/src/main/resources/JavaJaxRS/libraries/jersey1/`

I'll review your PR later.

[2016-06-04 09:03] wing328 commented on #3042
@smileyogurt instead of using `skipOverwrite`, please pull the latest master, which will generate .swagger-codegen-ignore file (similar to .gitignore), and in .swagger-codegen-ignore you can put down files that you want to skip the overwrite.

[2016-06-04 16:46] wing328 commented on #2985
I suspect it's due to network issue with your machine.

[2016-06-04 16:48] wing328 commented on #3041
@taxpon your suggestion sounds good to me and agree that E501 should be ignored as the method/variable name can be really long as there's no limitation in spec to restrict that.

[2016-06-04 17:15] artem-dudarev opened #3047 "Build fails after commit d172de2"
I cannot build the codegen package with current source code (34fed26).
The **mvn clean package** command fails while running the TestSuite:
[code]
Using the **git bisect** I discovered the first failing commit: d172de2. Before this commit the **mvn clean package** command completes successfully.

[code]

[2016-06-05 00:09] muhmud-v opened #3048 "Don't generate model at all (but instead refer back to the original classes)"
##### Description

I've searched around, generally & in the issues, but can't find a way to do this. I'd like no model at all to be generated, but instead have the generated code refer back to the original model classes. The --import-mapping option is just too cumbersome. I have a separate jar for my models and I'd just like to use that, even if I have to fix my pom file manually.

##### Swagger-c

[2016-06-05 00:18] fehguy commented on #3048
How will the operations know what to import?  Regardless you can generate just operations and supporting files. But the import mapping option is really the smartest way to do this, since it does imports in all operations.

If it's cumbersome, please provide "what" is cumbersome about it.

[2016-06-05 00:32] muhmud-v commented on #3048
Yeah, just figured out that I can do just apis and supporting files, which with the modelPackage parameter provides output a lot closer to what I want. I still need to do some manual edits, as my models are in grouped into separate sub-packages.

Thinking about it, I see what you mean; the codegen is using swagger.json, not reflection, so doesn't know anything about the original classes, hence wou

[2016-06-05 02:24] fehguy commented on #3048
Sure, a wildcard mapping is possible--think of what the syntax would be and it can be added

[2016-06-05 02:54] muhmud-v commented on #3048
This might be slightly biased to my use case, but would be great to be able to say all models used in a particular api path prefix, with * to skip parts of the path, should have it's models imported from a particular package, e.g.

`--imports /api/customer=com.company.models.customer,/api/customer/*/order=com.company.models.order`

Also, as an aside, when everything was said & done, I had to add `

[2016-06-05 04:03] wing328 commented on #3047
@artem-dudarev please use `mvn clean package -DskipTests` while we look into this issue in the Windows platform.