[2017-08-22 15:06] StefanRein commented on #4962
+1 please fix this

[2017-08-22 16:35] fgabolde commented on #2916
I can't find `setBasePath` in the generated `ApiClient`, has this been moved somewhere else?

I'm using the retrofit2 library, if this changes anything.

[2017-08-23 00:53] brian-byungsookim opened #6358 "[Javascript] Bug generating enum with dash '-'"
##### Description

I have an enum which contains values such as "live-queued" and "no-answer". I'm able to generate a valid enum in Java, but I'm unable to do the same in Javascript (ES6) as the codegen builds `live-queued = "live-queued"` (where `live-queued` isn't a valid JS enum name).

I tried playing around with `io.swagger.codegen.languages.JavascriptClientCodegen.toVarName()` and `io.swagge

[2017-08-23 05:55] taxpon commented on #6349
@sun7927 I guess your spec is wrong. `$ref` can not be placed directly under [Response Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responseObject). I tried following spec conversion:

[code]

and I got this result which has headers parameter in Response Object properly:

[code]

[2017-08-23 07:45] marconealberto commented on #2127
this happened to me when I was trying to convert nested objects where one of the object didn't extend JSONModel

[2017-08-23 10:02] bademux opened #6360 "[Bug] Inherited class not generated with referencing"
TestDto isn't generated for setup below:

index.yaml
[code]
definitions.yaml
[code]

hackfix used to generate TestDto:
[code]
swagger 2.2.3

[2017-08-23 13:12] Humberd opened #6361 "TypeScript object definition with any typed key"
How to create a swagger definition of an object with any keys, which all are of a defined type?

**What I have**

[code]

**What I want**

[code]

**What I currently receive**

[code]

[2017-08-23 13:18] PE-test commented on #5050
@leventatbjss, thanks for your comment.
You're right the issue was with library version.

[2017-08-23 13:18] #5050 closed

[2017-08-23 14:16] minchao commented on #5315
There are same problem with the generated client code, but I think this is the editor's problem.

[2017-08-23 14:19] michaelpaesold commented on #4847
@jfiala This should also be updated in language `jaxrs` (Jersey2) as well - which also supports bean validation constraints and already adds `@NotNull` annotations, but lacks the `@Valid` annotations - both on the generated API methods as well as nested objects.

[2017-08-23 14:26] michaelpaesold commented on #4738
This also applies to `jaxrs` (Jersey2). I could provide a patch.

[2017-08-23 15:12] sharadborhade commented on #4883
I am also facing this issue. In my case swagger schema is generated using IBM z/OS Connect EE Editor.
If I modify the schema manually then its works and I can generate correct clients but If I modify anything in API then swagger schema is not properly generated.

There is too much manual workaround for every change in API.

Is there any chance that this will get into a release soon?

[2017-08-23 15:56] marcoreni opened #6362 "[Maven plugin] Cannot build project generated by maven plugin (dateLibrary ignored)"
##### Description
Using the maven plugin to generate sources yields a series of errors during compile related to Jodatime dependency missing:
[code]

My plugin execution is configured as follow:
[code]

so Jodatime shouldn't be used at all.

##### Swagger-codegen version
1.2.15

##### swagger-codegen-maven-plugin version
2.2.3

##### Command line used for generation
`mvn clean package`

[2017-08-23 16:15] brian-byungsookim commented on #6358
I found `io.swagger.codegen.languages.JavascriptClientCodegen.toEnumVarName()` and after fiddling around with that, I got it to work as I wanted to

[2017-08-23 16:15] #6358 closed

[2017-08-23 19:41] JFCote opened #6363 "Is this a bug?"
##### Description

When trying to fix some bugs in the Java PlayFramework generator, I've come across something I think is a bug.

Let's say you have a model called `Software` which have a property `Platform`.

[code]

Platform is simply a string (enum) that the spec re-use at multiple places. We could call this a wrapper. It could be done with an integer and a float too.

[code]

If I debug my ge

[2017-08-23 22:04] RobotMermaid commented on #6223
having the same problem and found this:

Places Where $ref Can Be Used

A common misconception is that $ref is allowed anywhere in an OpenAPI specification file. Actually $ref is only allowed in places where the OpenAPI 3.0 Specification explicitly states that the value may be a reference.

For example, $ref cannot be used in the info section and directly under paths:

openapi: 3.0.0

# Incorrect!

[2017-08-23 22:27] red-hood opened #6364 "[Kotlin] packageName parameter only used for infrastructure"
##### Description
When generating clients for Kotlin, the packageName parameter is only used for the infrastructure classes, types and api still use io.swagger.client as a package name prefix. I would expect the packageName parameter to be used for all generated classes.

NB Passing the --api-package and --model-package options to the CLI can be used as a workaround to set the package name for the

[2017-08-23 23:16] brian-byungsookim commented on #6324
FWIW, `X-API-Key` gives me a compile error as well in my `configuration.ts` when using version 2.2.3.

[2017-08-24 02:39] #6345 closed

[2017-08-24 02:44] #6364 closed

[2017-08-24 02:47] wing328 commented on #5315
@minchao you may want to use the SNAPSHOT version to enjoy the enhancements, bug fixes from the latest master: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-08-24 03:11] andre-artus opened #6368 "Generating client with Kotlin and Retrofit2 fails"
##### Description

I tried to generate a Retrofit2 client in Kotlin, which results in:
Exception in thread "main" java.lang.RuntimeException: unknown library: retrofit2
        at io.swagger.codegen.DefaultCodegen.setLibrary(DefaultCodegen.java:3329)
        at io.swagger.codegen.config.CodegenConfigurator.toClientOptInput(CodegenConfigurator.java:421)
        at io.swagger.codegen.cmd.Generate.ru

[2017-08-24 08:26] jeusdi opened #6369 "[angular2Typescript] package.json not generated"
##### Description

`package.json`, `typings.ts` and `tsconfig.json` files are not generated.

According to this code, those files have to be generated, hasn't it?

    //Files for building our lib
    supportingFiles.add(new SupportingFile("README.mustache", getIndexDirectory(), "README.md"));
    supportingFiles.add(new SupportingFile("package.mustache", getIndexDirectory(), "package.json"));

[2017-08-24 10:11] jeusdi opened #6370 "[TypescriptAngular] Several Bugs"
##### Description

1. When `interfaces` option is activated:
  * It generates `"endpoint".serviceInterface`-like files.
  * However `"endpoint.service.ts` class: `import { AccountServiceInterface } from './AccountServiceInterface';` So, `AccountServiceInterface` file doesn't exist. So compiler breaks.

2. When `inerfaces` option is activated:
  * It generates `"endpoint".serviceInterface`-like fil

[2017-08-24 10:12] jeusdi commented on #6369
Solved, you have to specify `npmName` option on config file.

[2017-08-24 10:12] #6369 closed

[2017-08-24 12:28] jdevera opened #6371 "[python] Request: Generate an "unsafe" constructor to models that allows missing required elements"
I'm testing with the master branch and the generated models are very nicely checking for all required parameters.

However, I am using the client to write tests against an API and I need to be able to create invalid requests.

If would be great if there was a way to construct the model objects without the `required` and without the range validation.

Such option could even be configurable in the g

[2017-08-24 12:49] jdevera commented on #6371
How about having a `_validate=True` keyword argument to every constructor? We can store the flag in the model and then check it in all property setters to perhaps bypass the validation.

[2017-08-24 14:39] jimschubert commented on #6363
In many languages, enums are compiled as integers. In Java, these are immutable objects. The primitive field you're looking at really only refers to built-in tires for many languages (int, float, string, etc).

Because you've defined a type of `Platform` as an enum, you're generating an enum object. Was the expectation that you would generate a string parameter with validation of the acceptable va

[2017-08-24 14:44] jimschubert commented on #6368
There is no retrofit library support for Kotlin. I believe retrofit is only supported by Java.

I think a fix here would be:

* give a better error for missing templates, possibly including all libraries available to the target generator
* open a feature request to implement retrofit library support for the Kotlin generator

[2017-08-24 14:56] #4020 closed

[2017-08-24 16:11] wenjdu commented on #3805
Can we re-open it, I have this.
my yaml.
[code]

Then I generate code in swift 3.
[code]
This is exactly what I want but here is the tricky part.
When I call the class.encodeToJSON(), I get this :
`["range": 100.0, "deviceId": "1234567890", "topic": "alps-test", "duration": 0.0, "properties": [AnyHashable("role"): "developer"]]`

Is there anyway to get rid of this AnyHashable??

[2017-08-24 16:19] mgrandl opened #6372 "nodejs-server not respecting javascript reserved words."
One of the generated controller functions has the javascript reserved name "delete", which makes npm start fail.

`module.exports.delete = function delete (req, res, next) {
  ManageNetworks.delete(req.swagger.params, res, next);
};`

[2017-08-24 17:43] JFCote commented on #6363
Hi @jimschubert, thanks for the clarification.

I'm not sure to understand completely your last question (my main language is french, that might explain).

To clarify: What I'm expecting is a way to know that an "object" is only a wrapper over a primitive type (int, string, float). When I did the debugModels=true, I was kind of expecting that in the structure itself, the system was knowing this in

[2017-08-24 20:21] tuxbotix commented on #6361
Which specification version is this?

For swagger v2.0
` foo:
        type: object
        schema:
          $ref: "#/definitions/Foo"`

Should work. Items keyword is used for arrays as I recall, for an object you have to use the schema keyword.

I'm not sure about the other part, additionalProperties. I haven't used that before.

[2017-08-25 09:10] dougbacelar commented on #5745
Hi there, just wondering if we have an update on this :)

Thanks!

[2017-08-25 10:12] mladendinev opened #6375 "Adding custom logging intercetpor throws java.io.IOException: Stream closed"
I generated a java client code from my own swagger definition using the swagger-codegen-cli and _resttemplate_  as codegen library, which worked flawlessly in the beginning. However, I wanted to add my own Logging interceptor which I've done at the initialization stage (Bean initialization) in my application:

[code]

When I make a request through the client, I receive a very deeply nested **java.

[2017-08-25 10:40] stmeyer commented on #6319
#6315 is merged

[2017-08-25 10:40] #6319 closed

[2017-08-25 13:10] BenjaminGill-Metaswitch commented on #5905
As trailed in https://github.com/swagger-api/swagger-codegen/pull/6105#issuecomment-320300513, we've now released an alternative implementation of Rust codegen - https://github.com/Metaswitch/swagger-codegen (the `rust` branch).

It's sufficiently feature-complete that we will be immanently using it in production, though there are still some rough edges.

How should we proceed? In https://github.c

[2017-08-25 15:54] #6292 closed

[2017-08-25 17:01] ecolgia opened #6378 "Swagger Api Client vs Azure Server"
I've to implement a Java client for a service and the one who developed the server just tell me it is an Azure Server and gave me:
    1) The swagger
    2) a pfx file
    3) and a key to pass in the header.

    I tried to use SOAP UI and everything is working fine. I can get back the answer predicted.
    Then I started to implement my Java Client.
    I used your swagger-codegen cli client to c

[2017-08-25 19:33] christarczon opened #6379 "[JAVA] Definitions that are only a type generate references to them instead of the type"
##### Description

Definitions that are simply a type aren't generated correctly in Maven and CLI generators. Works **as expected** when generated at editor.swagger.io. I'm trying to generate a Spring Boot client (not available in online editor) but it happens for Java too.

##### Swagger-codegen version

2.2.3, 2.3.0-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Command l

[2017-08-26 00:11] tzimisce012 opened #6380 "[Java-Playframework] Private methods on the controllers"
##### Description

The generated controllers have private methods for the different endpoints. This does not allow to create for your controllers. An example of how these tests should be can be found here:

https://www.playframework.com/documentation/2.5.x/JavaTest#unit-testing-controllers

Even though the controllers are autogenerated, it is interesting to have the possibility of testing your app

[2017-08-26 00:12] tzimisce012 commented on #6380
@JFCote, take a look here! I do not know if there is a further reason to put those methods as private. Maybe you know something there.

[2017-08-26 11:06] tzimisce012 opened #6381 "[Java-Playframework] UUID parameter is not well parsed"
##### Description

If a query parameter or header has the format UUID, this is not well parsed and the code generated don't compile

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Swagger declaration file content or url

For a swagger snipet like:

[code]

the code generate is this:

[code]

and this will not compile.

##### Command line used for generation

language JavaPlayFramework

#####

[2017-08-26 18:33] wing328 commented on #5905
@BenjaminGill-Metaswitch thanks! Please file a PR against master.

About the naming, `rust2` is ok but I would prefer something like "rust-{http_lib_name}". For example, we've "typescript-jquery" for Typescript generators in which `jquery` is the "http_lib_name".

[2017-08-26 22:54] thlaegler commented on #6303
In my understanding this maven plugin (as the word "codegen" implies) is focused on generating code from an OpenAPI specification (e.g. from a swagger.yaml).

To do the other way around (code to spec) try another maven plugin like https://github.com/kongchen/swagger-maven-plugin or in terms of using Spring try http://springfox.github.io/springfox

[2017-08-28 07:08] #6352 closed

[2017-08-28 09:36] omatrot opened #6387 "c# client : invalid variables/functions generated names"
Using swagger codegen with the [Fitbit Api ](https://dev.fitbit.com/docs/explore/) results in invalid function names.
For instance, the API with URL:

Is generated with the following name:

Which won't compile. I suspect that the '1' in the url is a version number... So I prefixed all affected APIs with 'v', so it becomes:

That is then valid.

I'm running swagger-codegen on Mac OS X, installed wi

[2017-08-28 09:48] omatrot opened #6388 "c# client : POST method may return a body"
The POST methods generated from the Fitbit API do not retrieve the response body.

For instance:

is generated as:

`public ApiResponse<Object> v1UserActivitiesDateDateJsonGetWithHttpInfo (string date)
        {
...
           return new ApiResponse<Object>(localVarStatusCode,
                localVarResponse.Headers.ToDictionary(x => x.Key, x => x.Value.ToString()),

[2017-08-28 09:52] omatrot opened #6389 "c# client : response headers invalid parsing"
The header collection is wrongly populated.

For instance:

is generated as:

`public ApiResponse<Object> v1UserActivitiesDateDateJsonGetWithHttpInfo (string date)
        {
...
           return new ApiResponse<Object>(localVarStatusCode,
                localVarResponse.Headers.ToDictionary(x => x.Key, x => x.Value.ToString()),
                                           null);
        }
`

I sim

[2017-08-28 11:30] jeusdi commented on #4428
Thanks @kernwig

Is there any example about how to configure OAuth2 settings in configuration?

[2017-08-28 12:06] JFCote commented on #6380
Hi @tzimisce012 ,

I don't know why you have private endpoint in your controller. As you can see in this generated sample, all the endpoint are public:

https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/java-play-framework/app/controllers/PetApiController.java#L38

The only thing that is private is the constructor and that is normal since it is injected by Guice.

[2017-08-28 13:45] tzimisce012 commented on #6380
Hi thanks!

I just saw couple examples in play where the constructor from the controllers were public. On the other side, [KeepConstructorsHidden
](https://github.com/google/guice/wiki/KeepConstructorsHidden
) suggest the opposite.

I guess guice suggestion overrides playframework examples :)

[2017-08-28 13:45] #6380 closed

[2017-08-28 15:14] florent37 opened #6391 "[Android] Retrofit CodeGen : @Path must be before @Query"
##### Description

With SwaggerCodeGen 2.2.2 (.jar) we have an issue with retrofit,
a query has @Path and @Query params, and when it's generated, some @Query are before the @Path one. But Retrofit crash in this case

sample :
--------
[code]
will works

but

[code]
will crash

##### Swagger-codegen version

SwaggerCodeGen 2.2.2 (.jar)

##### Command line used for generation

generate -i MY_FILE -o

[2017-08-28 15:24] JFCote commented on #6381
This will have to be checked by @wing328 and other people who know the project better than me.

The problem I see is this (from the documentation)

Even if the spec is considered "valid" when using formats such as "email" and "uuid", I understand the doc is considering them as "custom" and I'm not sure tools like swagger-codegen should implements all custom field formats in the world. But maybe it

[2017-08-28 16:12] tuxbotix opened #6392 "[python] Thread pool not closed or handled on client."
##### Description
This is a potential issue I found on python client after testing a very badly implemented app which create an API client once in a few seconds!! :stuck_out_tongue:

The client (api_client.py) creates a ThreadPool on initialization, but it is not closed or cleared. From what I found on little-available documentation on threadPool, it has to be closed.

Suggestions:
Add close() and

[2017-08-28 16:31] wing328 commented on #6392
@tuxbotix please submit a PR so that we can review the fix more easily.

(Note: the latest master (2.3.0) has the Python API client refactored)

[2017-08-28 17:34] jimschubert commented on #6387
This will likely affect all languages, not just C#. The problem is that fitbit's swagger spec defines operationId as "intraday" for many different operations, so the generator is using the normalized path as the operation id. Many generators will probably have to check that the method names start with a character, otherwise prefix with a user-defined prefix.

Thoughts?

[2017-08-28 17:41] jimschubert commented on #6389
I looked at `Parameter` in RestSharp's repo. I'm not sure `Value` is always convertible to an array here. Also, we use RestSharp.Portable as well.  We'll need to look at this further, but we could probably do an instance check `x.Value is ICollection` and use the proposed solution with a fallback to the original.

[2017-08-28 18:02] jimschubert opened #6393 "[scala] client escapes terms which may be common in models, with no serialization fixes"
##### Description

The Scala client codegen escapes terms which may be fairly common in response models (path, lazy, match, type). These are prefixed with an underscore with no serialization fix to account for the escaped value.

This is probably an issue in other generators as well.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Command line us

[2017-08-28 18:34] robert-mygind opened #6394 "OutOfMemoryError"
##### Description
When running codegen I get an OutOfMemoryError

Exception in thread "main" java.lang.OutOfMemoryError: Requested array size exceeds VM limit
	at io.swagger.codegen.examples.ExampleGenerator.resolvePropertyToExample(ExampleGenerator.java:160)
	at io.swagger.codegen.examples.ExampleGenerator.resolveModelToExample(ExampleGenerator.java:251)
	at io.swagger.codegen.examples.ExampleGen

[2017-08-29 00:17] bandrews-spirent commented on #4804
I believe I am facing this same problem with the `cpprest` target. I have a `type: object` defined in the schema with no properties. This is a valid schema and the no properties is by design. The `#include "Object.h"` and `std::shared_ptr<Object> m_Metadata` is generated in the enclosing type's header file. However, there is no `Object.h` file generated. I would expect the generator to generate a

[2017-08-29 02:38] dgroomes opened #6397 "[JAVA] Bug wrong group id for Feign/OpenFeign artifact in build.gradle.mustache"
##### Description

The group id of the Feign/OpenFeign artifacts is outdated at https://github.com/swagger-api/swagger-codegen/blob/b77337102a883a074ee646a57bb4673ac0933846/modules/swagger-codegen/src/main/resources/Java/libraries/feign/build.gradle.mustache#L116. The group id should be 'io.github.openfeign'.

##### Swagger-codegen version

I am using Swagger-codegen version 2.2.3. This issue is a

[2017-08-29 05:34] wing328 commented on #6397
@dgroomes thanks for reporting the issue. Do you mind submitting a PR to fix the issue?

[2017-08-29 05:59] wing328 commented on #6391
@florent37 thanks for reporting the issue. Can you try the latest mater or 2.2.3 (latest stable release) to see if it's still an issue?

Snapshot version of the latest master can be found in https://github.com/swagger-api/swagger-codegen#compatibility

[2017-08-29 07:31] florent37 commented on #6391
same issue,

[code]

with the descriptor :

[code]

[2017-08-29 07:55] wing328 commented on #6391
Can you please share the spec? What about reordering the parameters in the spec to have path parameters first if that's not the current order?

[2017-08-29 08:00] florent37 commented on #6391
:/ sorry my client does not allow me to share the entiere spec

[2017-08-29 08:01] wing328 commented on #6391
@florent37 then please download the spec to your local drive and rearrange the parameters by putting path parameters first to see if that works around the issue.

[2017-08-29 08:02] florent37 commented on #6391
we don't want to change the order manually because it's a 3rd party provider that generates it with the website, and put it in a server

[2017-08-29 08:04] florent37 commented on #6391
the spec change very week, and it's a jenkins job that download it, then regenerates the client,
so change it locally may be difficult and could create error

[2017-08-29 08:05] florent37 commented on #6391
when you process the "parameters" map, can you order the fields if the client is retrofit ?

[2017-08-29 08:26] wing328 commented on #6391
Yes, we can do it in the `postProcessOperations` (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L302 shows how we did it for Java `feign` API client)

Would you have time to contribute the enhancement?

[2017-08-29 08:56] florent37 commented on #6391
I do not have time for now, sorry

[2017-08-29 09:13] omatrot commented on #6387
Are you saying that fitbit's swagger spec does not follow the rule of having a unique operation id ?
I've asked a [question on that matter](https://community.fitbit.com/t5/SDK-Development/fitbit-s-swagger-specs-defines-intraday-as-operationid-for-many-activity/m-p/2164836#M34) on their developer forum.

[2017-08-29 09:31] wing328 commented on #6391
@florent37 that's ok. I've marked it as "need community contribution" to see if anyone from the community has cycle to contribute the enhancement.

For the time being, please use other Java API clients (e.g. feign, okhttp-gson, etc), which should not have similar issue.

[2017-08-29 11:12] naelrashdeen commented on #5985
@wing328 Hi, i am having some syntax issues when I generate the Petstore example. Mainly, the syntax errors occur in the interface classes in the API directory. See some of the examples below:

**StoreApiInterface.php**
`namespace Swagger\Server\Api;
use Symfony\Component\HttpKernel\Exception\NotFoundHttpException;
use Swagger\Server\Model\Order;
**use maparray&lt;string,int&gt;;**
use Symfony\Com

[2017-08-29 11:52] jimschubert commented on #6387
Yeah. Here's the description for `operationId`:

From [OpenAPI 2.0 Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operation-object)

[2017-08-29 12:57] jimschubert commented on #6387
I should clarify, the C# generator and others should still handle the case where our generated operation names are valid for the language. For example, the spec doesn't require `operationId` to start with a character, so this could put us in the same boat.

[2017-08-29 14:05] ravinikam commented on #6325
You can use "operationId" in yaml/json specification file to name api of your choice.

[2017-08-29 14:09] florintene commented on #2924
Hi,
    Experiencing the same issue with Java, however in this case it just ignores the inline definition of the "allOf" and creates the model with "Object":

**Model:**
[code]

**Code:**
[code]

However, if instead of the inline definition of the "allOf" a $ref is used, it generates the code correctly.

**Model:**
[code]

**Code:**
[code]

  And the Test1 java file is being generated.

  **Comman

[2017-08-29 16:10] jaz-ah commented on #5849
this is now fixed in latest master - @wing328 could you close this one out plz?  thx.

[2017-08-29 16:13] #5849 closed

[2017-08-29 16:32] #2588 closed

[2017-08-29 17:36] hce opened #6400 "[SWIFT3] URL parameters are not escaped"
##### Description

swagger-codegen does not properly escape parametrized parts of a URL.

For example:

        var path = "/recipient/{recipient}"
        path = path.replacingOccurrences(of: "{recipient}", with: "\(recipient)", options: .literal, range: nil)

The "recipient" variable should be URLEscaped, but it isn't. Thus, if recipient contains spaces or illegal characters, the request fails.

[2017-08-29 21:55] guoshimin opened #6401 "[HASKELL] ByteArray not mapped for haskell codegen"
##### Description

The Haskell codegen doesn't seem to support he ByteArray type. The type ByteArray is copied verbatim into the generated code, which is not a valid type in Haskell.
##### Swagger-codegen version

2.2.3 and master
##### Swagger declaration file content or url
https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

##### Command line used for g

[2017-08-30 01:33] Place1 opened #6403 "[Typescript-fetch] url.URLSearchParams is not a constructor"
##### Description

The typescript-fetch client using swagger 2.3.0 uses `import * as url from 'url'` which is a native node_module.

I'm using webpack to to bundle my application and it's using `node-libs-browser` to substitute native node modules for browser compatible ones, including the `url` module.

The `url` module is being pulled in through webpack:
`webpack --> escope --> node-libs-browser

[2017-08-30 02:20] swatisacheti commented on #5542
Has this issue been fixed? We're also using the interfaceOnly option but it still generates the pom.xml, README.md and .swagger-codegen-ignore. We don't want these files to be generated for our project. Is there a way we can tell swagger codegen not to generate these files?

[2017-08-30 02:57] dgroomes commented on #6397
@wing328 yeah I'll plan to do it

[2017-08-30 04:44] omatrot commented on #6387
I just had a response from Fitbit's team:

[2017-08-30 09:56] tobwiens opened #6404 "[JAVA} Generate Model Type org.joda.time.* For Variables"
##### Description
I am getting following code generated inside the model:
Here the property example:
[code]

Another example:
[code]
##### Swagger-codegen version
I used current master and v2.2.3 tag to test the code generation.

##### Swagger declaration file content or url
Please find the gist here: https://gist.github.com/anonymous/95b166a38734af9accd944d8b81b0c2f

##### Command line used for g

[2017-08-30 12:05] craffael opened #6406 "Retrofit2: Support "File" Response type"
##### Description

If we use the Retrofit2 generator with a swagger endpoint that returns a file, the corresponding retrofit method will return a `java.io.file` which is not supported by Retrofit: It throws a `com.google.gson.stream.MalformedJsonException`.

##### Swagger-codegen version

I've used the latest master branch, 2.3.0-SNAPSHOT.

##### Swagger declaration file content or url

[code]

##

[2017-08-30 14:19] cbornet commented on #5542
You can use `<generateSupportingFiles>false</generateSupportingFiles>` to prevent those files from being generated.

[2017-08-30 14:24] frol commented on #6371
Just for the reference, a solution was proposed here: https://github.com/swagger-api/swagger-codegen/pull/6390#issuecomment-325954400, so there is no need for changes in Swagger-Codegen.

[2017-08-30 17:34] jasonl99 opened #6408 "csharp client build.bat errors "IReadableConfiguration could not be found""
I cannot get the csharp client to build, using either the `build.bat` file or through Visual Studio 2017 and swagger-codegen-cli 2.2.3.

Trying to isolate this as much as I can, I've put the codgen jar file, the petshop spec file,  and copied the default csharp from `modules/swagger-codegen/src/main/resources/csharp` to `./csharp` in a directory.

I then run this command

[code]

I then `cd` into

[2017-08-30 18:36] jasonl99 commented on #6408
Additional note: `IReadableConfiguration.mustache` in the template directory does not appear to end up anywhere in the generated client code.

If I look at the mustache file, there's a comment on line 8:
[code]
That comment does not end up in any client code at all.  Conversely, comments in `Configuration.mustache`, `IApiAccessor.mustache` and `api.mustache` all end up in `IO.Swagger/Client/Config

[2017-08-31 00:59] swatisacheti commented on #5542
Where do you specify <generateSupportingFiles>false</generateSupportingFiles>? We're using gradle to generate our code:

task generateApi {
    inputs.file("$projectDir/$swaggerSourceFile")
    outputs.dir("$projectDir/$generatedSources")
    doLast {
        def config = new CodegenConfigurator()
        config.setInputSpec("file:///$projectDir/$swaggerSourceFile")
        config.setOutputDir("$p

[2017-08-31 02:18] wing328 commented on #6408
@jasonl99 can you please try the latest master, which has the C# client refactored?

The snapshot version can be found in https://github.com/swagger-api/swagger-codegen#compatibility

[2017-08-31 02:19] #6401 closed

[2017-08-31 05:07] cbornet commented on #5542
For gradle, I would recommend using the gradle plugin. See an example conf : https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/gradle/_swagger.gradle

[2017-08-31 07:35] nextremos opened #6410 "Swagger Codegen does not generate validation information for typescript-angular2"
##### Description

I use swagger-codegen to generate an API for typescript-angular2.

The Swagger JSON file contains as well additional information. e.g. minLength, maxLength of a string:

      "required": [
        "Title"
      ],
      "type": "object",
      "properties": {
        "Id": {
          "format": "int32",
          "type": "integer"
        },
        "Ansprechpartner": {

[2017-08-31 12:20] YathendraPrasad opened #6413 "SSL Handshake failure with old version of OkHttp on Latest IBM Liberty Build Pack"
##### Description

With Existing OkHttp Version (2.7.5) , SSL is failing in the IBM Latest Liberty Build Pack .

##### Swagger-codegen version

2.2.3

##### Related issues/PRs

https://github.com/watson-developer-cloud/java-sdk/issues/610

##### Suggest a fix/enhancement

Upgrading to latest version of OkHttp it OkHttp3 (3.7.1) will fix the issue

[2017-08-31 12:58] craffael commented on #2690
I've implemented the x-enumNames approach suggested by @kenjitayama that passes the value of the x-enumNames list to the template: [x-enumNames](https://github.com/craffael/swagger-codegen/commit/2b7851ad631de6985e234165eeb8cdfb3c5e306f)

Considering that even Version 3 of the Swagger OpenAPI Spec does not support something similar in the near future, I think it may be an option to add this "vendo

[2017-08-31 13:05] stmeyer commented on #6314
@wing328 @stkrwork @fehguy I do not want to spam but it looks like you have skills in the QT5 client :-)

Does anyone have any ideas? I tried to check for `nullprt` but this is not possible (see example below). I get the error `No conversion from "nullptr" in "qint32"`. Maybe we should use pointers as argument as described in #1475 to make optional parameters possible? This will break backward com

[2017-08-31 13:57] tanis2000 opened #6414 "Question: is there a way to let swagger-codegen add "implements BaseModel" to a set of models?"
Hi, I've been trying to find a way to let swagger-codegen know that some of my models should implement an interface (in this specific case the language I'm using is Java). Is there such an option?
Alternatively, is there any way to pass some options all the way down to the Java generator so that I can retrieve them from within the mustache template and add the `implements BaseModel` where specifie

[2017-08-31 14:51] jasonl99 commented on #6408
@wing328, that worked!  Thanks a ton.

[2017-08-31 15:05] #6408 closed

[2017-08-31 15:06] xmeng1 opened #6415 "Jersey2 set ApiKey for all the apis"
##### Description

I try to generate the Jersey2 api and use the ApiKey to authorization the access for api. I try to set the api key in configuration like that

[code]
but after deep in the source code, I found that every api has local string array
`String[] localVarAuthNames = new String[] {  };` and when `invokeAPI`, this local variable should be pass to the method. And in the `invokeAPI`, I fo

[2017-08-31 20:36] #6349 closed

[2017-08-31 21:29] aledalgrande opened #6416 "Homebrew formula for 3.0.0"
##### Description

From what I understand the spec for 3.0.0 [has been released](https://swagger.io/announcing-openapi-3-0/). The work for codegen for 3.0.0 is still on a branch and there is no way to install via Homebrew, but the formula supports `head`. Why not adding 3.0.0 as `devel`? Or maybe invert the two.

##### Swagger-codegen version

2.2.3

##### Steps to reproduce

[code]

No info about

[2017-08-31 22:35] #6416 closed

[2017-09-01 07:11] YathendraPrasad commented on #6413
How do i update okhttp version from 2.7.5 to OkHttp3 (3.7.1) .

[2017-09-01 07:12] YathendraPrasad commented on #6413
Let me know the quick fix or the workaround

[2017-09-01 08:25] wing328 commented on #4700
@Stwissel do you need help with the PR? We look forward to the first generator for database schema.

[2017-09-01 11:55] bademux opened #6419 "[BUG] Java Spring java8=true, async=true not compatible with delegatePattern=true"
Spring's generated Controller has ```java.util.concurrent.CompletableFuture``` as return type,
while hardcoded ```java.util.concurrent.Callable``` is used in [delegate](https://github.com/swagger-api/swagger-codegen/blob/3.0.0/modules/swagger-codegen/src/main/resources/JavaSpring/apiController.mustache#L58).

Due to [inability do use parameter annotation in inherited objects](https://jira.spring.i

[2017-09-01 12:53] bademux commented on #6419
hackfix for gradle build

[code]

[2017-09-01 14:13] piotrjozwiak opened #6420 "[PHP] Bug generating nulls after deserialization"
##### Description

Helo guys!
I am using your api to generate libraries for my clients (posting on http://generator.swagger.io/api/gen/clients/php) and I have generated this libraries in PHP.
This libs works fine - request is made, my server answers correctly, but after all I get an array with valid keys and nulled values.

For example:

`$result = $api_instance->apiGwApiKeyTransactionGetPost($api

[2017-09-01 15:33] stkrwork commented on #6314
nullptr can't be assigned to something that is not a pointer. if you would really want to do this you would have to do:
`if (&example1 != nullptr) {
       if (fullPath.indexOf("?") > 0)
         fullPath.append("&");
       else
         fullPath.append("?");
       fullPath.append(QUrl::toPercentEncoding("example1"))
           .append("=")
           .append(QUrl::toPercentEncoding(stringValue(

[2017-09-01 16:45] fehguy commented on #6314
I don't think there's an option other than:

* wrap primitives like `qint32` in an object, which may be null
* assign a magic number that would be treated as "not existing"

My vote would be point 2, where you could `#define` a magic number which is specific to your system and won't collide with a real value.

Creating a wrapper class like point 1 is probably a better long-term solution, but will

[2017-09-01 19:32] sandro97git opened #6424 "[nodejs] support server response headers"
##### Description
I would like that a generated nodejs server does respond wiht the headers which were defined in the swagger file.  Is this possible?

##### Swagger declaration file content or url

[code]

[2017-09-01 19:38] niebloomj commented on #5543
Can confirm I am having the same issue. This conversion breaks my app.

[2017-09-01 23:27] aledalgrande commented on #6416
Closed as the branch doesn't seem to work.

[2017-09-02 04:56] voidfiles commented on #6332
If I'm not mistaken 3.0.0 parsing [shipped in 2.0.0-rc0](https://github.com/swagger-api/swagger-parser/releases)

But if you look here its still pointing at an older version of that package

https://github.com/swagger-api/swagger-codegen/blob/3.0.0/pom.xml#L917

I tried manually bumping that and got this

[code]

I'm not a Java dev so that's sort of where I get stuck

[2017-09-02 14:55] phiz71 commented on #6251
Hi there is already a java-vertx server generator.
You can have a look at /src/main/resources/JavaVertXServer.

[2017-09-02 15:03] phiz71 opened #6427 "[Java-Vertx] Server : EnumModel generation is broken"
Hello,

it seems that there is a little problem in enumModel generation in swagger-codegen 2.2.3

**Steps to reproduce:**

1. Add enum model definition to API, e.g.:
[code]
2. Generate Server -> java-vertx.
3. Observe generated file for ErrorCode enum:
[code]

This issue has been created here https://github.com/phiz71/vertx-swagger/issues/74 by @codersam

**To resolve it**
The `enumOuterClass.must

[2017-09-03 07:59] stcarrez commented on #5161
Same for me.  Furthermore, I would expect the "validate" command to check about
undefined references and at least report a warning. Today, the validate command reports
no error, no warning when a missing reference is used.

[2017-09-03 15:40] #6427 closed

[2017-09-03 16:08] #6406 closed

[2017-09-03 17:14] wing328 commented on #2231
Hi all, first release of R client generator (beta) has been merged into master via https://github.com/swagger-api/swagger-codegen/pull/6351

Please pull the latest master to give it a try and let us know if you've any feedback.

Thanks for the contribution by @ramnov

[2017-09-03 17:14] #2231 closed

[2017-09-04 02:01] wing328 commented on #2231
Tweet: https://twitter.com/wing328/status/904520974954926080

[2017-09-04 03:28] wing328 commented on #6308
@manuelkiessling looks like the issue has already been fixed.

e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/README.md#documentation-for-api-endpoints

[2017-09-04 09:13] ecolleu opened #6432 "[ANDROID][Volley] UnsupportedEncodingException not catch by ApiInvoker"
##### Description
When generating an Android client (volley library) with swagger-codegen, the compilation failed with:
[code]
The problem comes from the StringEntity constructor which can throw UnsupportedEncodingException which is not catched nor thrown by the createRequest method.

##### Swagger-codegen version
2.2.3
##### Suggest a fix/enhancement
[code]

[2017-09-04 09:42] Belhadjhala opened #6433 "Hallo, i create a API and i am Beginner with Swagger , I need to know waht that means this Error"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-09-04 09:43] Belhadjhala commented on #6433
![image](https://user-images.githubusercontent.com/30494480/30021047-49e75bc4-9166-11e7-8d9f-840d5a5e6f7f.png)

[2017-09-04 11:46] Sridhar-1987 opened #6434 "[Jaxrs-cxf] Jaxrs-cxf inheritance is not working through discriminator"
##### Description

@Jsontypeinfo and @Jsonsubtypes annotations should be normally generated while using discriminator. But they are not getting generated while using Jaxrs-cxf.

Does this mean Jaxrs-cxf doesn't support discriminator way of inheritance for the POJO classes?

##### Swagger-codegen version
v2.2.3

Not a regression - Missing functionality

##### Steps to reproduce
Use jaxrs/cxf with d

[2017-09-04 11:58] baynezy commented on #5164
@yaccz - I am seeing this error too. Did you mean in your debugging that you saw this because `type: int` should be `type: integer`. Did you see any other causes?

[2017-09-04 12:12] emtiazahmed commented on #6393
Any fixes or workarounds for this. I am facing the same issues. All the fields in my json which match keyword are not deserialized because of missing annotations in the generated case classes

[2017-09-04 13:44] wing328 commented on #6432
@ecolleu thanks for reporting the issue. Please file a PR so that we can review the fix more easily.

[2017-09-04 13:52] dentych commented on #2314
I just tried the latest v2.3.0-SNAPSHOT from master...

Swagger file:

[code]

This generates a single class "SimpleRef" which contains:

[code]

[2017-09-04 13:53] TeaTiMe08 opened #6435 "[JAX-RS 2.0] @JsonProberties are not assigned, always null"
On the generator a always recieved null for a List. I fixed it by renaming the proberty "xPathsToBeRedacted" to "pathsToBeRedacted".

I used this part of the swagger-file: (now works)
`
paths:
  /redact:
    post:
      tags:
        - redact
      consumes:
        - application/json
      produces:
        - application/xml
      parameters:
        - name: redactOperation
          in: body

[2017-09-04 14:33] yaccz commented on #5164
Not sure but I expect a `bool` instead of `boolean`, etc would trigger the same behaviour.

[2017-09-04 14:42] wing328 commented on #6424
@sandro97git I think technically it's possible but would require some work.

Would you have time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-09-04 14:45] wing328 commented on #6420
@piotrjozwiak which version of Swagger Codegen are you using?

The latest master has the PHP API client refactored so please check it out if you've not done so.

[2017-09-04 14:48] wing328 commented on #6415
@xmeng1 even though you set the API key in the default API client, the authentication setting (api key in your case) will only be applied if the endpoint has proper authentication setting applied.

In your spec, are the endpoints correctly defined with proper authentication setting?

[2017-09-04 14:49] wing328 commented on #6414
@tanis2000 one way is to customize the template and pass the customized template with the `-t` option. The following might help:

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-09-04 14:51] wing328 commented on #6413
The pom.mustache for Java okhttp-gson can be found in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/pom.mustache

(I think the code also needs to be updated as well after upgrading to OkHttp3)

You can then use the customize template with the `-t` option.

Of course, we would appreciate if you can contribute back th

[2017-09-04 14:53] sandro97git commented on #6424
@wing328 I would love to contribute this enhancement. But I have to tell you that I'm not familiar with the code. So I would really appreciate to get some starting help.

Is this only an issue for nodejs or does none of the languages support this yet?

[2017-09-04 14:56] wing328 commented on #6410
@nextremos looks like it's not support at the moment.

The model templates for TS Angular2 can be found in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular/modelGeneric.mustache

For Ruby and other generators, we've added the support of various validation rules already:

https://github.com/swagger-api/swagger-codegen/blob/7bbe

[2017-09-04 15:05] wing328 commented on #6381
Closed via #6382

[2017-09-04 15:05] #6381 closed

[2017-09-04 15:06] tanis2000 commented on #6414
@wing328 thanks, I've already adopted the template to add more properties to all the models. What I' unable to do is to make only some of the generated models derive from a common interface (only some of them though)

[2017-09-04 15:28] wing328 commented on #6394
I was able to repeat the issue with similar errors:
[code]

I'll take a deeper look tomorrow by investigating the spec.

[2017-09-04 15:28] #6392 closed

[2017-09-04 15:34] wing328 commented on #6393
@emtiazahmed Would you have time to contribute the fix?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/scala/model.mustache#L15 is a good starting point.

[2017-09-04 15:38] wing328 commented on #6404
@tobwiens what about using a different Java datetime lib instead?
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`

[2017-09-04 15:45] wing328 commented on #6388
@omatrot I'd a look at the spec and seems like that endpoint does not define a proper response so I would argue swagger codegen is doing the right thing in this case. Do you agree?

[2017-09-04 15:46] omatrot commented on #6388
I'll have to double check.
Thanks for that.

[2017-09-04 15:49] wing328 commented on #6403
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-09-04 15:51] wing328 commented on #6379
@christarczon can you please give it another try with the latest master? I seem to recall a fix merged into master recently.

[2017-09-04 15:53] wing328 commented on #6378
@ecolgia did you have a chance to check the auto-generated README.md, which contains sample code on how to access an endpoint with API key?

[2017-09-04 15:54] wing328 commented on #6375
cc @nbruno (resttemplate creator) to see if he's any clue.

[2017-09-04 15:55] wing328 commented on #6372
@mgrandl thanks for reporting the issue. May I know if you've time to contribute the fix?

If yes, I can show you some good starting points.

[2017-09-04 15:57] omatrot commented on #6388
I have the same problem with the PHP generated client.
The endpoint is defined as the following:
"/oauth2/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get OAuth 2 access token",
                "description": "Retrieves an OAuth 2 access token.",
                **"produces": [
                    "application/j

[2017-09-04 16:00] wing328 commented on #5100
Hi all, when you've time, please try the Haskell http-client generator by @jonschoning : https://github.com/swagger-api/swagger-codegen/pull/6429

[2017-09-04 16:02] wing328 commented on #6388
They need to define something like https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L175-L178 (in other words, `produces` is not enough)

[2017-09-04 16:02] #6371 closed

[2017-09-04 16:04] nvbruno commented on #6375
What's the full stacktrace? Also, your posted code has a typo (restTempalte) and is probably not compilable (DefaultApi is not assignable to ApiClient). Is this the actual code that produces the error?

[2017-09-04 16:06] omatrot commented on #6388
You mean that part:

??

This seems to define a custom type.
What if I want to return arbitrary JSON ?

Furthermore, the GET Apis are generated correctly with the same definition ? Am I wrong ?

[2017-09-04 16:12] wing328 commented on #6388
https://stackoverflow.com/a/37982152/677735

[2017-09-04 16:12] wing328 commented on #6370
cc @TiFu @taxpon @sebastianhaas  @kenisteward @Vrolijkx

[2017-09-04 16:14] omatrot commented on #6388
I'll ask the API developer. Stay tuned.

[2017-09-04 16:23] wing328 commented on #6353
@alex347 thanks for reporting the issue. May I know if you've time to contribute the enhancement?

[2017-09-04 16:28] wing328 commented on #6339
Please try 2.3.0 which has the Go client refactored.

[2017-09-04 17:25] kenisteward commented on #6403
Please check the compatibility table here https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/URLSearchParams#Browser_compatibility

Make sure the browser you are using supports it. urlsearch params is a browser spec.

[2017-09-04 17:31] kenisteward commented on #6370
This is an edge case that wasn't consider it looks like.   Most people have models so that wasn't covered. We could either generate an empty models file or conditionally generate that line based on if we have it or not.

As for the interface issue I never really understood the purpose of the interfaces but I'll try to check it out sometime this week

[2017-09-04 18:50] thegecko commented on #4839
This still seems to be an issue in the 2.2.3 release.

[2017-09-04 21:16] jimschubert commented on #6393
@emtiazahmed

As a work around, you can clone this repo, `git checkout v2.2.3` (or the branch for your version of swagger-codegen), and edit the file linked by @wing328
(`modules/swagger-codegen/src/main/resources/scala/model.mustache` to the following:

[code]

Then, target the modified template's directory as the custom template directory:

[code]

This should give you the explicit `@JsonPropert

[2017-09-05 00:00] Place1 commented on #6403
Browser compatibility isn't really the issue here (I'm using latest chrome while developing). The issue is that webpack, by default, injects a different version of the 'url' module which is missing the urlsearchparam object constructor.

So I guess my point is that we should refactor the generator to avoid using the 'URL' module.

[2017-09-05 01:23] kenisteward commented on #6403
The typescript fetch lib should be a browser only client which is why I'm confused you are getting the error.

Are you getting this error at compile time or runtime?

[2017-09-05 01:44] Place1 commented on #6403
It's a run time error. I could tell webpack to ignore the url module, but that's not really ideal for a few reasons, it may adversely effect other dependencies in my application that (intentionally or unintentionally) bring in node's url module, but also for new developers trying to use the typescript fetch generator with their webpack based apps (most people) will run into this same issue which h

[2017-09-05 02:17] kenisteward commented on #6403
I'd like to see what you have planned.

The problem doesn't seem to be the generated code but how the code is being
used.

Like you said, the problem is that a module that doesn't contain those
classes is being substituted for the browser API that should be using it.
Imho that library should pass through to the browser API if it doesn't have
them or define those classes itself if it is supposed to

[2017-09-05 04:54] Place1 commented on #6403
Yeah pretty much.

My guess is that because most people are using the stable version (2.2.3) of swagger they haven't yet encountered this as it was introduced somewhere after 2.2.3 (i think in 2.3.0)

as a quick way to remove the dependency on `URLSearchParams` we could use `querystring.stringify()` instead. The good thing about `querystring` is that it's just a light wrapper around `encodeURIComp

[2017-09-05 06:11] YathendraPrasad commented on #6413
Thanks for the update wing. Currently we have added the below snippet code as workaround

[code]

There exists some differences  with respect to api`s in OkHttp and OkHttp3 , therefore code changes will be bit tricky for us atleast which might need thorough understanding.

It would be helpful if you could announce tentative release date for 2.3.0

[2017-09-05 06:38] ecolleu commented on #6432
@wing328 Ok, PR done in #6436

[2017-09-05 09:39] aloysiustany opened #6437 "Swagger not recognizing System.Uri type (C#)"
##### Description

I have an API which returns an object which has a Uri property. When swagger auto generates, it generates it as a string type parameter. Is there a workaround for this ?

[2017-09-05 11:09] kenisteward commented on #6403
This sounds like a good plan .

On Tue, Sep 5, 2017, 12:55 AM PLACE <notifications@github.com> wrote:

[2017-09-05 11:17] omatrot commented on #6387
You're right it will affect other languages as well.
https://stackoverflow.com/questions/342152/why-cant-variable-names-start-with-numbers
I'm no expert here but I suggest that the result of the generated names should be verified and prefixed automatically, with the ability for the user to override the prefix.

[2017-09-05 11:52] bademux opened #6438 "[BUG] Broken Form @RequestPart should not be used for key-value property"
Looks like passing form with "application/x-www-form-urlencoded" never work.

As per documentation https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/bind/annotation/RequestPart.html ```@RequestParam``` should be used instead of @RequestPart if not file.
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaS

[2017-09-05 12:27] sebastianhaas commented on #6370
Me too.

[2017-09-05 13:04] ekta-slit opened #6439 "[PHP] fatal error for GET call"
##### Description

When response is an object for simple GET call, it gives:
[code]

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

https://api.sendinblue.com/v3/swagger_definition.yml

##### Command line used for generation

- `swagger-codegen generate -i https://api.sendinblue.com/v3/swagger_definition.yml -l php -o /path/to/destinationFolder -c /path/to/con

[2017-09-05 14:03] wing328 commented on #6413
Sorry I can't commit a date as we've pending works for Scala and JS clients before we can release 2.3.0

[2017-09-05 14:11] wing328 commented on #6414
@tanis2000 What about using vendor extensions?

e.g. `x-implements-base-model` in the spec will result in `{{#vendorExtensions.x-implements-base-model}} ... {{/vendorExtensions.x-implements-base-model}}`

[2017-09-05 14:13] christarczon commented on #6379
@wing328 Just pulled and rebuilt, same thing.

[2017-09-05 14:41] tanis2000 commented on #6414
@wing328 that's brilliant! Problem partially solved. Now I'm left with a little issue.

I added the following code to my `pojo.mustache`

[code]

That's because I need some properties that are common to all the models but they only make sense in my client's code and they shouldn't be in the services definition.
It works fine except for those models that correspond to arrays because they do not imp

[2017-09-05 15:30] wing328 commented on #6414
You mean https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L367 ?

[2017-09-05 15:33] wing328 commented on #6400
@hce I would suggest you to try the latest master if it's still an issue.

SNAPSHOT version: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-09-05 15:39] wing328 commented on #6322
[code]

Instead of defining it as a reference, please define it inline as Swagger Codegen does not support reference to primitive type at the moment.

[2017-09-05 15:42] wing328 commented on #6321
You may want to start with just customizing the templates: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

Templates can be found in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources

[2017-09-05 15:45] wing328 commented on #6320
cc @bbdouglas @JFCote  @sreeshas  @jfiala  @lukoyanov @cbornet @ePaul

[2017-09-05 15:47] wing328 commented on #6318
@dentych thanks for reporting the issue. Can you please share the spec to more easily reproduce the issue?

[2017-09-05 15:47] wing328 commented on #6316
cc  @ravinikam  @stkrwork

[2017-09-05 15:48] #6288 closed

[2017-09-05 15:50] wing328 commented on #6311
@knuthie thanks for reporting the issue and suggesting a fix.

Please file a PR so that we can review the fix more easily.

[2017-09-05 15:51] wing328 commented on #6313
@lbordowitz thanks for reporting the issue. Please file a PR with the suggested fix so that we can review the fix more easily.

[2017-09-05 15:52] wing328 commented on #6267
Thanks for the suggestion but don't think that's possible at the moment.

[2017-09-05 15:54] wing328 commented on #6243
Please try the latest master (2.3.0), which has a lot of enhancements (breaking changes) to Swift3 generator.

[2017-09-05 15:57] wing328 commented on #6240
If I remember correctly, the line break was intentionally removed.

[2017-09-05 15:58] wing328 commented on #6234
Please try the latest master to generate scala client, which combines both `scala` and `async-scala` clients into one.

[2017-09-05 15:58] #6234 closed

[2017-09-05 16:01] tanis2000 commented on #6414
So that's where it's defined, but where is it used in the mustache templates? Obviously I've been searching for the full `com.google.gson.annotations.SerializedName` so I couldn't find it :-P

[2017-09-05 20:17] lukoyanov commented on #6320
@SingleShot `useOptional` is only supported in query, path and header params. It seems that you are trying to use it with models.

[2017-09-05 20:20] alex347 commented on #6353
@wing328 I can take a look at it next week.

[2017-09-05 21:04] konopski commented on #2182
How about using an abstraction layer over json library?
Like https://github.com/VictorAlbertos/Jolyglot or https://github.com/rhkiswani/JavaFF ?

[2017-09-05 22:02] nbruno commented on #6375
What's the full stacktrace? Also, your posted code has a typo (restTempalte) and is probably not compilable (DefaultApi is not assignable to ApiClient). Is this the actual code that produces the error?

[2017-09-06 00:14] cbornet commented on #6438
Would you do a PR for this ?

[2017-09-06 07:35] wing328 commented on #2182
@konopski yup, that's one way to do it.

For PHP, we use https://github.com/php-http/httplug to allow developers choose their favorite HTTP libraries.

[2017-09-06 07:36] tobwiens commented on #6404
@wing328 I tried to use it with -DdateLibrary=java8, but the same error occurs.

I am surprised that it works with the online generator. I guess there is a specific configuration which works, but I didn't experiment enough to find the correct one.

[2017-09-06 07:41] wing328 commented on #6404
cc @cbornet  @ePaul @bbdouglas @JFCote @sreeshas @jfiala @lukoyanov

[2017-09-06 07:43] cbornet commented on #2182
I wouldn't use not well known libraries. I think that we can have templates that support multiple libraries : it's only about flagging some annotations.

[2017-09-06 08:11] dentych commented on #6318
@wing328 Hey. I have modified my original text, so it now includes full specs, ready to be copy pasted into an editor/codegen/whatever 😃

[2017-09-06 08:38] chaoshen1024 opened #6442 "missing swagger input or config"
##### Description
 io.swagger.parser.Swagger20Parser can not parse "openapi"

##### Swagger-codegen version
3.0.0-SNAPSHOT

[2017-09-06 09:06] ekta-slit commented on #6439
By updating our specification file, we were able to resolve the issue, it was due to the bad data type of definition schema.

[2017-09-06 09:06] #6439 closed

[2017-09-06 09:22] sandro97git opened #6443 "[nodejs] generated service.js files are placed in the wrong folder"
##### Description

When generating nodejs server code with swagger-codegen-cli, the generated service.js files are placed in the controllers folder but they should be in a folder called service. This folder is not created.

##### Swagger-codegen version

swagger-codegen from master branch. commit b8183fb

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[2017-09-06 11:11] sandro97git commented on #6443
I never faced the issue with the online code generator, which I think is because it uses an older release which does not have this bug.

Also I never faced the issue with the docker image of the codegen-cli from docker hub. I don't know why the issue isn't present there. (I think the docker image has always latest source code from master, right?). Maybe this is the case because the docker image ru

[2017-09-06 13:27] marcoreni commented on #6332
@voidfiles https://github.com/swagger-api/swagger-codegen/pull/6386#issuecomment-325206706

[2017-09-06 13:40] M3lkior commented on #4837
Sorry @wing328 , seems to be solved in 2.2.2.

[2017-09-06 14:06] wing328 commented on #4837
@M3lkior np. Thanks for performing a check to confirm.

Let us know if you've further feedback on Swagger Codegen.

[2017-09-06 15:04] M3lkior opened #6445 "[Spring][maven-plugin] Change default generated status to NOT_IMPLEMENTED in controller"
##### Description
Code implementation after swagger generation is not immediat in certain team workflow. In my case, i generate controllers sources based on my swagger specs and my developers implements the business code later in the week / or month.

I think it could be fine generating the default implementation with HttpStatus.NOT_IMPLEMENTED:

[code]

##### Swagger-codegen version

2.2.2

#####

[2017-09-06 18:19] #6338 closed

[2017-09-06 20:49] evenflow58 opened #6447 "[C#] Getting extra models during client export"
Enter the following JSON into https://editor.swagger.io/ and generate a csharp client. In the models folder are Model.cs and Model1.cs. These look to be duplicates of MfdMemberViewModel but I'm not sure what is causing them to be created. Tests are also being created for these models.

Swagger-codegen version: 2.0
JSON gist: https://gist.github.com/evenflow58/801c6570ef36c1bdeafb958e48f9d5de

[2017-09-07 03:13] kraihn commented on #6447
I ran your spec against swagger-codegen version 2.2.2 and didn't get the Model.cs or Model1.cs files.

[2017-09-07 04:10] ackintosh commented on #6420
👀

[2017-09-07 05:33] bbdouglas commented on #6404
It looks like the problem is that you have a model named `LocalDateTime`, which conflicts with the same-named time class in Joda (Java 7) and the built-in Java 8 time library. One quick workaround is to rename it to something else, like `LocalDateAndTime`. Also keep in mind that there is a built-in `dateTime` data type intrinsic to Swagger, which will be turned into Joda or Java 8 time classes in

[2017-09-07 05:43] bbdouglas commented on #6379
I believe this is the same issue as #5382, which was (at least partially) addressed. I was able to reproduce this issue with the latest master, so the previous fix obviously didn't catch all the cases. I will take a look and see what more needs to be done to cover this case as well.

[2017-09-07 08:29] nazieb opened #6449 "[Go] Add response body when reporting error"
##### Description

When the HTTP response status code is > 300, the API client treated it as an error. But the only thing that's reported in the returned error is the HTTP Response Status, eg. `500 Internal Server Error`. Example: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/go/go-petstore/pet_api.go#L572

I think it's better to also return the response body w

[2017-09-07 10:23] evenflow58 commented on #6447
Yeah, I didn't have a problem with that either. Maybe the editor just hasn't been updated yet then. I'll just use the generator going forward. Thanks for the response.

[2017-09-07 14:19] bbdouglas commented on #6379
@christarczon As a short-term workaround, you can reverse the order of the definitions of ListItem and MyList. The issue is that MyList refers to a definition that wasn't defined lexically above it. The spec you wrote is correct, we just don't support that ordering yet for these kinds of "type only" definitions. A more comprehensive fix should be available soon.

[2017-09-07 16:59] sasavilic opened #6451 "Wrong class path for DeferredResult"
##### Description

Generated code for Spring is using wrong class path for DeferredResult. Currently, it is used `org.springframework.web.context.request.DeferredResult`, when actual class path is `org.springframework.web.context.request.async.DeferredResult`. See [here](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/context/request/async/DeferredResult.ht

[2017-09-07 21:40] stkrwork commented on #6316
I'll look into this

[2017-09-08 04:21] Sridhar-1987 commented on #6434
It would be great if someone can confirm the issue and provide a target branch.
I will create a PR for this, as the issue seems to have already fixed in Java, but still present in JaxRS

[2017-09-08 05:59] diyfr commented on #1343
You can add a proxy in the Maven settings file
[code]
If you already have a proxy defined in https you can replace http to https in [pom.xml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-generator/pom.xml#L114)

[2017-09-08 07:16] cliffano opened #6455 "[All] Build commands for all supported langs"
##### Description

Where can I find the commands to perform the following tasks for each of the generated langs?
- resolve dependencies
- run unit tests
- build the package
- install the package locally
- generate code documentation
- publish the package to an artifact repository

Is there a documentation or build script that lists the commands? If not, should I be asking the maintainers of each t

[2017-09-08 07:42] wing328 commented on #6445
Yup, I think so. We've already done something similar for Spring Cloud client: https://github.com/swagger-api/swagger-codegen/blob/adfe4b6e6c297231cbad20512809ee78a82715c8/modules/swagger-codegen/src/main/resources/JavaSpring/api.mustache#L69

cc @cbornet @ePaul

[2017-09-08 07:51] nimisha84 opened #6456 "CSharp client generation fails but PHP and Java works for the the json schema"
##### Description

I am using the attached json file for run the swagger codegen for getting the SDK in CSharp.
However I get this error everytime-
C:\Users\DevAdmin\Documents>java -jar swagger-codegen-cli-2.2.1.jar generate -i
V4schema.json -l csharp
[main] INFO io.swagger.parser.Swagger20Parser - reading from V4schema.json
[main] INFO io.swagger.codegen.languages.CSharpClientCodegen - Generating

[2017-09-08 08:07] cbornet commented on #6445
I think we now have example responses generated. Should we generate with NOT IMPLEMENTED statuts code and the example body ?

[2017-09-08 08:25] nextremos commented on #6410
@wing328 I have no experience with mustache files nor with the codegen - will need some time to experiment. I wonder what the outcome should be - maybe you could give me an advice? The minLenght/maxLenght should be part of the model, or should it be separated somehow?

[2017-09-08 08:49] wing328 commented on #6456
The latest version if 2.2.3. Please give it a try: https://github.com/swagger-api/swagger-codegen#compatibility

or you can use the latest master (snapshot version), which has a few API clients refactored (e.g. C#, PHP, etc)

[2017-09-08 11:52] miremond commented on #6419
I had the same pb. fix is:
[code]

[2017-09-08 12:34] SargoDarya opened #6457 "[Typescript-Angular2] Setting multipart/form-data will always send [object FormData] as body"
##### Description

At the moment it is not possible to actually send multipart/form-data requests using generated code with the typescript-angular2 generator as it will always call formParams.toString() for the body contents which will always result in [object FormData] in the actual request.

##### Swagger-codegen version

v2.3.0

##### Swagger declaration file content or url

Problematic file: [

[2017-09-08 12:49] jaz-ah commented on #4098
@wing328 I'd like to obsolete any < Swift3 issues at this point so we can focus on Swift3/4

[2017-09-08 14:20] wing328 commented on #5306
Closed via #5771 by @ackintosh

[2017-09-08 14:20] #5306 closed

[2017-09-08 15:54] no-logic commented on #4669
Is there a loose date estimate for supporting the 3.0 spec? The [core/parser/editor](https://swagger.io/oas-3-0-support-in-swagger-core-java-libraries/) are all using OAS 3.0 now, but the [codegen 3.0.0 snapshot ](https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/3.0.0-SNAPSHOT/) from Sept 4th still doesn't parse a yaml, let alone generate the Java server-side.

[2017-09-08 15:55] wing328 commented on #4098
@jaz-ah totally agree it has been almost a year when Swift3 was released: https://swift.org/blog/swift-3-0-released/ and we should definitely concentrate our efforts on Swift 3.x, 4.x

I'll update the help text for `swift` generator and add a FAQ on that over the weekend.

cc @jgavris @RobBlairInq @ehyche

[2017-09-08 16:09] holomekc commented on #6127
This works for me:
[code]
But I do not like it. I even do not understand why this is working. It feels very unstable and I am not sure if we will fix it with this "workaround".

[2017-09-08 16:32] jgavris commented on #4098
Sounds good

[2017-09-08 19:24] DmyMi commented on #6443
The issue is present only on windows machines with 2.3.0 snapshot codegen. Linux machines are working as intended.
2.2.x are resolving **-Dservice** flag as intended

[2017-09-08 19:43] kbedel opened #6459 "[C#] Required enum values are not serialized"
##### Description

Using the default options, the client does not serialize enum properties if they are the default enum value. If the property is marked as required, this means that the resulting JSON does not actually satisfy the specification.

This only occurs for enums which are defined as their own object. If the enum is defined inline, the property is generated as `MyEnumType?`, but for the

[2017-09-08 19:45] kbedel commented on #6459
Changing the definitions section in the YAML to

[code]

will show the case where the output uses a Nullable type

[2017-09-09 00:02] nimisha84 commented on #6456
Unfortunately I got the same error-

C:\Users\DevAdmin\Documents>java -jar swagger-codegen-cli-2.3.0-20170906.155839-
135.jar generate -i V4schema.json -l csharp
[main] INFO io.swagger.parser.Swagger20Parser - reading from V4schema.json
[main] INFO io.swagger.codegen.languages.CSharpClientCodegen - Generating code f
or .NET Framework v4.5
Exception in thread "main" java.lang.RuntimeException: Coul

[2017-09-09 02:52] bruno-bert commented on #6282
Hello erick im havinh same issue. Did you resolved it?

[2017-09-09 08:32] TheSMSWorks commented on #3662
+1 this is a great pity.

[2017-09-09 09:30] wing328 commented on #4098
UPDATE:
- Added a new FAQ to https://github.com/swagger-api/swagger-codegen/wiki/FAQ
- Update help text for `swift`: https://github.com/swagger-api/swagger-codegen/commit/35cf42996a363befa0b06ea8c1f2eb0906d195c3

[2017-09-09 10:19] #3829 closed

[2017-09-09 16:23] wing328 commented on #6413
@YathendraPrasad what about using Java "retrofit2" API client instead?

retrofit2 has a dependency on com.squareup.okhttp3: https://mvnrepository.com/artifact/com.squareup.retrofit2/retrofit/2.1.0

[2017-09-09 18:16] #6456 closed

[2017-09-09 18:16] wing328 commented on #6456
@nimisha84 I've fixed the NPE issue via #6462. Please pull the latest master to give it a try.

[2017-09-10 21:12] nimisha84 commented on #6456
Thanks it worked!

[2017-09-11 08:40] appkr opened #6464 "[PHP] Imcomplete CamelCase class name"
##### Description

Models are OK, but Api classes are not. I tried generate java they are OK, but not PHP.

[code]

##### Swagger-codegen version

`2.3.0-SNAPSHOP`

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

[2017-09-11 09:27] jitinsharma commented on #2340
Can same pull request be used to fix this in AndroidClientCodegen?
[https://github.com/swagger-api/swagger-codegen/pull/1051](url)

[2017-09-11 09:44] wing328 commented on #6464
@appkr thanks for reporting the issue. Let me check.

[2017-09-11 10:05] wing328 commented on #6456
FYI. I also reviewed other generators and found only ObjC client generator had similar issue, which has been fixed by https://github.com/swagger-api/swagger-codegen/pull/6465

[2017-09-11 10:14] piotrjozwiak commented on #6420
I am using 2.2.3 version published here [generator.swagger.io](http://generator.swagger.io) - I do not host my own instance of codegen.
I have downloaded libs and tested again, there is still the same problem.
Will this be fixed on 2.3.0 release?

[2017-09-11 13:52] wing328 commented on #6464
@appkr I've filed #6466 to fix the issue. I added a new test case to cover this issue moving forward and ran some tests locally.

[2017-09-11 14:07] appkr commented on #6464
@wing328 Really thank for swift swift response & super quick reaction.
I am not familiar with how the business is going in this project, can I expect the PR will also be available 2.3.0?

[2017-09-11 15:22] wing328 commented on #6464
@appkr yup, that will be merged into master (2.3.0) once the CI tests pass no later than tomorrow (Tuesday)

[2017-09-11 19:06] ssalamatov opened #6470 "NullPointerException is occurred during generation"
##### Description
Hi, I have following swagger definition
[code]

When I run generate command:
[code]

It fails with the following exception:
[code]

ver. swagger-codegen 2.2.3
##### Swagger declaration file content or url

[2017-09-11 19:15] david-noel opened #6471 "[Spring] Server stub generation with Java 8, delegatePattern and interfaceOnly"
##### Description

I have a new feature I would like to see added to the server stub generation.  When the following configOptions are set

- java8
- delegatePattern
- interfaceOnly

I would like the generated code to create an interface that has a default method that delegates to a non-default method on the same interface.  Sample default and non-default methods from the PetApi would look as foll

[2017-09-11 19:37] JFCote opened #6472 "[All Java Generators] Diamond operators for java 8 back to < Java 1.7"
##### Description

I found that a change I had made some time ago has disappeared. It was a simple change to remove warnings since in Java 8 we don't need to provide the type in the diamond.

For example:

In java 1.7
`List<SomeObject> myVar = new ArrayList<SomeObject>();`

In java 1.8
`List<SomeObject> myVar = new ArrayList<>();`

The changes has been erased in commit `506c58e` by user @daveish

[2017-09-11 20:38] daveish commented on #6472
See this build: https://circleci.com/gh/swagger-api/swagger-codegen/1402

If you change it back now, it would not succeed, I guess?

Regards
David

[2017-09-11 23:33] SunMar opened #6474 "[PHP] Bug with 'format: date' when using --model-name-prefix"
##### Description

When an object property in the Swagger definition is defined as a **date** and swagger-codegen is called with ```--model-name-prefix``` it **incorrectly maps** the object to ```<Prefix>Date``` instead of a ```\DateTime``` object.

##### Swagger-codegen version

I am using swagger-codegen-cli-2.2.3.

##### Swagger declaration file content

[code]

##### Command line used for gene

[2017-09-12 01:06] calbach opened #6475 "[Python] models implement __eq__ without __hash__"
##### Description

The base model does not implement a hash function, but it does implement __eq__. This is illegal according to: https://docs.python.org/3/reference/datamodel.html#object.__hash__

The concrete side effect of this is that I cannot use swagger generated Python models in Set comparisons; models that are equal do not necessarily have the same hash.

##### Swagger-codegen version

2.2

[2017-09-12 01:07] calbach commented on #6475
Fix: implement a hash function on base model.

[2017-09-12 01:22] appkr commented on #6464
@wing328 FYI, I did a quick check by merging `fix_6464` into my local branch, but turned it out to be not fixed.

<img width="1188" alt="2017-09-12 10 16 33" src="https://user-images.githubusercontent.com/6471947/30303575-053bf5b8-97a4-11e7-9fc6-9dd237fe3c6f.png">

[2017-09-12 01:40] wing328 commented on #6464
@appkr Thanks for testing the fix. My new test looks good: https://github.com/swagger-api/swagger-codegen/pull/6466/files#diff-ae5b88dd9eb17ed4ce794ea69bece8b7R49

Did you do a `mvn clean package` to rebuild the JAR after merging the branch?

[2017-09-12 01:57] minchao commented on #5315
@wing328 This issue has been fixed by https://github.com/swagger-api/swagger-editor/issues/1472

[2017-09-12 02:00] tsloughter commented on #3816
I'm looking to handle this. Can someone link me to any client specific documentation for writing a generator? There is so much to dig through I'm having trouble finding any besides https://github.com/swagger-api/swagger-codegen#making-your-own-codegen-modules

[2017-09-12 02:13] wing328 commented on #3816
@tsloughter thanks for offering help on this. A good starting point is https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework

Another good way is to review other PRs to add new generators: https://github.com/swagger-api/swagger-codegen/pulls?q=is%3Apr+is%3Aclosed+label%3A%22Enhancement%3A+New+generator%22

Let me know if you need further assista

[2017-09-12 03:03] appkr commented on #6464
@wing328 Sorry that was my bad, you're right. Your fix is perfect. Thanks a lot.

<img width="977" alt="2017-09-12 12 01 09" src="https://user-images.githubusercontent.com/6471947/30306288-4e644bf6-97b2-11e7-9d1f-5751396e51f8.png">

[2017-09-12 03:22] wing328 commented on #5315
@minchao thanks for the update 👍

[2017-09-12 03:41] #6464 closed

[2017-09-12 03:42] wing328 commented on #6464
@appkr the fix has been merged into master. Thanks again for reporting the issue and performing tests on the fix.

[2017-09-12 05:21] cbornet commented on #6475
Would you do a PR ? Does the python client also have the issue ?

[2017-09-12 05:45] jitinsharma commented on #5009
I tried debugging around this. Tried to generate java and android sdk with a .yaml file. The override method  `public String toEnumVarName(String value, String datatype)` should give enum variables so that escaping can be done. Tried printing all the values which came in this method. When doing this in JavaClientCodegen all enum variables are printed but when doing the same in AndroidClientCodegen

[2017-09-12 12:23] stkrwork commented on #6316
The adjustments you suggested, are now in PR #6479

[2017-09-12 12:24] JFCote commented on #6472
Hi @daveish ,

My improvement was merged on August 11 and everything build ok except for the travis-ci which have problem sometimes: https://github.com/swagger-api/swagger-codegen/pull/6275

My guest is that your generated code (sample) rely on a old java version (< 1.8) so you should specify `java8=false` in you `.sh` file. By default, I think that most generators are using java 8 so it's set to

[2017-09-12 12:36] manuc66 commented on #5164
It could also be produced if the "type" property is missing on a field.

[2017-09-12 12:48] JFCote commented on #6472
Here is my PR: https://github.com/swagger-api/swagger-codegen/pull/6480
Please check if your generator works fine with the change. If it doesn't, we will work from there.
Thanks!

[2017-09-12 14:30] kenisteward commented on #5608
@wing328 can i still make this against 2.3.0 or is it too late?

[2017-09-12 20:43] gintautassulskus opened #6482 "Tag names are not checked to be valid Java class names"
##### Description

I am trying to generate a Java client from the specification that has a tag, made up of digits and underscores. The codegen plugin generates an invalid Java class name _10Api.java_.

Is this the intended behaviour? If yes, which part of the swagger codegen would you advise extending in order to prefix the tag with characters so that the resulting Java class name would be valid,

[2017-09-12 21:48] baronfel commented on #4839
Same thing happens on the typescript-node templates on the latest release.

[2017-09-13 02:55] wing328 commented on #6475
We can probably reuse the model-related mustache templates from Python API client.

[2017-09-13 03:46] vntguca opened #6483 "[Swift 4] Property with type 'Any' does not conforms with codable protocol"
##### Description

Current code generator for Swift 4 generates invalid code for JSON dictionaries or properties with object value type.

Property generated code:
[code]

Dictionary generated code:
[code]

##### Swagger-codegen version
2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation
swagger-codegen generate -i ./swagger.json -l swift4  -o ./api

[2017-09-13 04:01] calbach commented on #6475
I tried generating `-l python` as well (I assume that's the python client) and the models have the same issue. I don't have time right now to make a PR, possibly next week.

[2017-09-13 04:43] lightningrob commented on #3593
I am seeing a similar issue with the swagger codegen releases 2.2.x.  Here is my gradle task.  It works correctly with 2.1.6 but not later.  I'm not sure what Inflector but hopefully the issue is related.

[code]

[2017-09-13 04:58] lightningrob opened #6484 "[JAVA] Bug generating bad enum classes with extra double quotes"
##### Description

I am seeing what appears to be a regression with the swagger codegen releases 2.2.x, compared to 2.1.6 which behaves correctly. If I define enums in the yml file, the generated java classes contain enums that don't compile due to duplicated double-quotes around the constant strings.

Example:
[code]
produces uncompilable java code:
[code]

##### Swagger-codegen version

Works wi

[2017-09-13 09:11] PoisonousJohn opened #6485 "Generated .net v3.5 client can't be compiled"
##### Description

I tried to generate csharp .net v3.5 client for the default .net core webapi template and it fails to compile.

I get multiple errors like following when trying to compile a client.
[code]

##### Swagger-codegen version

cloned with this commit https://github.com/swagger-api/swagger-codegen/commit/8067612e06172942c5d661f0988bb866492d1cab

##### Swagger declaration file content o

[2017-09-13 10:47] alexrashed opened #6486 "[typescript-angular2] Allow lazy oauth token refresh (async access_token function)"
##### Description
In case of an _OAuth2 implicit flow_ the current implementation of the `Configuration` class allows the `accessToken` to either be a _string_ or a _function returning a string_ (directly). In order to allow a lazy update of the (already expired) `access_token` using the (still valid) `refresh_token` the function should get the name of the authorization scheme as well as the neces

[2017-09-13 11:42] ginere commented on #3305
+1

[2017-09-13 12:05] dougbacelar opened #6488 "Pojo to ignore null value fields"
#### Description
I have an issue where I need the pojo to **ignore null value fields**.

The same issue is described by this guy [here](https://stackoverflow.com/questions/45031264/swagger-codegen-ignore-null-fields-for-pojo-classes)

I was wondering if it is possible to make this work(some kind of setting or parameter), without having to edit the swagger-codegen code, like the guy above did.

If

[2017-09-13 12:46] ifreecarve opened #6490 "[codegen] .yaml input files contain a tab character? Treat as JSON without warning."
### Description

Codegen fails to provide an error message when YAML parsing fails -- e.g. if they have a tab value in a string value (not indentation).

This gives the mistaken impression that `swagger-codegen` simply doesn't understand YAML (because it tries to parse that YAML as JSON and fails predictably in doing so).

This is especially confusing behavior, because not all YAML parsers choke o

[2017-09-13 12:55] ifreecarve commented on #3305
My error turned out to be related to an errant tab in a string (not indentation) within my YAML file.  `yaml2json` does not choke in this way, and swagger-codegen should not be failing YAML parsing silently.

Reported as https://github.com/swagger-api/swagger-codegen/issues/6490

[2017-09-13 14:13] sq2wkh opened #6491 "[codegen]{ze-ph} Lack of implementation for http HEAD method in ZendExpressivePathHandlerServerCodegen"
##### Description
During generation of ze-ph code , codegen throws exception:

`Exception in thread "main" java.lang.RuntimeException: Could not generate api file for '/servers'
	at io.swagger.codegen.DefaultGenerator.generateApis(DefaultGenerator.java:463)
	at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:666)
	at io.swagger.codegen.cmd.Generate.run(Generate.java:234)
	at io.

[2017-09-13 15:22] baronfel opened #6494 "[Typescript-node] Dumping models with subtypes causes stackoverflow"
##### Description

Given a yaml definition that uses discriminators and `allOf`, I am unable to debug the models to work on templates.

##### Swagger-codegen version

2.2.3, from homebrew.

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -DdebugModels=true -jar /usr/local/Cellar/swagger-codegen/2.2.3/libexec/swagger-codegen-cli.jar generate -i te

[2017-09-13 16:06] Yolepo opened #6495 "[Angular2-typescript] generating var : "models.Collection..." instead of var : "any""
Hello,

The new version of codegen define collection in my object like
- someVar : models.CollectionSomeObject
The old one
- someVar : any

The "CollectionSomeObject" are empty interface in both codegen versions.

The issue is :
-When i use an iterator on new version of "someVar" the compilator say that this is not an array or collection, which is actually true cause CollectionSomeObject is an emp

[2017-09-13 16:28] wing328 commented on #6482
@gintautassulskus thanks for reporting the issue what about prefixing with "Class" (e.g. Class10) ?

[2017-09-13 16:43] kenisteward commented on #6486
Hey you can do this without making changes!  I'm sorry I missed this but if you do this in angular2

[code]

this will allow you anywher ein the code to inject the configuration object and change it at any point in time!

[2017-09-13 16:52] alexrashed commented on #6486
This way I can easily exchange the configuration, but it doesn't really help me with updating my accessToken in case of a request (and an expired token), or am I wrong?

[2017-09-13 16:57] kenisteward commented on #6486
https://github.com/swagger-api/swagger-codegen/blob/8067612e06172942c5d661f0988bb866492d1cab/samples/client/petstore/typescript-angular-v2/npm/configuration.ts#L10-L26

I am assuming you are storing the accessToken as a part of the configuration object.  If this is so you can easily invalidate it with a AuthService you make in your Angular app by injecting Configuration and overwriting it with und

[2017-09-13 16:58] kenisteward commented on #6486
The key is that it is all the same object as long as you setup your services in AppModule as they should be.

[2017-09-13 17:21] alexrashed commented on #6486
I get what you mean, but my problem is not that I can't statically manage the accessToken, my problem of the lazy update of the accessToken still remains.
I actually want to respect the timeout of the accessToken and the refreshToken. So if the accessToken has expired, but the refreshToken is still valid (**at the time of a new request**) I want to refresh it on demand. But if the accessToken and

[2017-09-13 17:49] kenisteward commented on #6486
As of Late in Angular 4, you can assign interceptors to every request.  Event if not using angular 4 there are multiple libraries that do this.

https://angular.io/api/common/http/HttpInterceptor

You could easily have an interceptor that checks if a token is valid for a request and try to auto refresh it before you return the request to be made.  I've actually done this is my code for our in hous

[2017-09-13 17:58] alexrashed commented on #6486
Yeah, I already evaluated that approach too. And I know that there are several possible ways to implement my requirement.
But in my opinion the cleanest solution is just to allow the accessToken function to be asynchronous. This accessToken refresh is just an obvious and nice use case (and what's the function for if not for something like that? everything else could be just as nicely done in a CDI

[2017-09-13 19:22] jcasey23 opened #6497 "[JAVA] ApiClient.setDebugging(boolean debug) fails to add LogginInterceptors to HTTP client when its debugging field is already true"
##### Description
Here is the code for the ApiClient.setDebugging method:

public ApiClient setDebugging(boolean debugging) {
        if (debugging != this.debugging) {
            if (debugging) {
                loggingInterceptor = new HttpLoggingInterceptor();
                loggingInterceptor.setLevel(Level.BODY);
                httpClient.interceptors().add(loggingInterceptor);

[2017-09-13 21:25] bandrews-spirent opened #6498 "[CPPREST] --reserved-words-mappings does not work"
Version=2.2.3.
Generated code for cpprest target in which the schema has C++ reserved words will fail to compile.
There is a --reserved-words-mappings argument in the CLI, but it does not work for cpprest.
I have a PR for this.

[2017-09-13 21:39] stkrwork commented on #6498
Can you create the pr so i can review your proposed changes?

[2017-09-13 21:50] tsloughter commented on #3816
Thanks @wing328

I'm going to open a WIP pull request in hopes to get others interested and giving me feedback if that is ok :)

[2017-09-13 22:03] lbordowitz commented on #6313
@wing328 Okay, added change in pull request #6500 .

[2017-09-14 08:16] nmDejamobile commented on #2110
You answer helped me a lot, I just had to change a few things for my swift3 generated api, mainly because I don't have the `.Error` enum case but `HttpError(statusCode: Int, data: Data?, error: Error) `:

[code]

[2017-09-14 11:14] gintautassulskus commented on #6482
@wing328 Yes, "Class" would be the most generic.

[2017-09-14 13:36] PAX523 commented on #2666
This issue is still topical. The plugin doesn't find the ``swagger.json`` if it's not on file system but on classpath in any dependency. The error is the following:

[2017-09-14 14:47] jimschubert commented on #2666
@PAX523 can you provide an example of how your config looks?

[2017-09-15 05:21] dnome2 opened #6503 "[python] how can we utilize the retry mechanism for requests made via sdk."
##### Description
using python sdk how can we pass the retry parameter/argument in the poolmanager object? Say if the request takes a longer time than normal for whatever reason and so we would like to pass a retry number, can we utilize the retry class supported by urllib3? Appreciate your help.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[2017-09-15 06:17] PAX523 commented on #2666
Hi @jimschubert! Thanks for your quick response!

My ``swagger.json`` is contained by a JAR dependency and not directly on file system but accessible via classpath on: ``/BOOT-INF/classes/swagger.json``

Basically, my config looks like:

This works if I unpack this dependency to file system, first. But if I don't, it's not present there. Instead, I tried following variants for ``inputSpec``:

- ``

[2017-09-15 16:25] jsilland opened #6504 "[JAVA] Retrofit2 client doesn't support path parameters that are collections"
##### Description

When declaring a `path` parameter that is an array with a `collectionFormat` of `csv`, the Retrofit2 code generator declares the parameter as a `List` rather than a `CSVParams`. When Retrofit generates the URL for the API call, the parameter is incorrectly serialized as `[foo,%20bar]`, which is the result of calling `toString` on the list.

This is admittedly a very much of an e

[2017-09-15 17:17] JFCote opened #6505 "[Typescript][JQuery] Fix to handle multiple files"
Hi,

This question might apply to other Typescript generator but since I'm maintaining the Typescript-JQuery generator, the question will be linked to that one.

**The scenario:**

You have a yaml like this:

[code]

The problem is that it will generate a method that looks like this:

`public uploadFoos(file1: any, file2: any, file3: any, file4: any, foo-info1: string, foo-info2: string, foo-info3

[2017-09-15 18:18] eric-jahn opened #6506 "HTML output exception: preprocessSwagger(StaticHtmlGenerator.java:186)"
##### Description
When trying to generate html from either valid swagger 2 yaml or json, I get the following exception pasted below.  I looked up the code line 186 (it's the "for" loop):

public void preprocessSwagger(Swagger swagger) {
        Info info = swagger.getInfo();
        info.setDescription(toHtml(info.getDescription()));
        info.setTitle(toHtml(info.getTitle()));
        Map<Stri

[2017-09-16 05:59] cbornet commented on #6504
@jsilland would you do a PR for this ?

[2017-09-16 12:32] dariota commented on #6470
Your specification is not valid. Refer to the [spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject), or use [a validator](http://bigstickcarpet.com/swagger-parser/www/index.html).

In particular, when a parameter is in the body, the type key is invalid - you *must* use schema instead.

[2017-09-16 12:35] dariota commented on #6442
Please provide more information about what exactly you're trying to do, such as the exact command you're running.

[2017-09-16 14:47] dejan2609 commented on #5925
@wing328 it seems that now maven test are failing also; scenario:

* execute mvn test against current HEAD and receive error:

* test are failing due to characters incompatibility with **_HEAD_** encoding (see *class io.swagger.client.api.FakeApi*):
[code]
* _**(optional/suggested)**_: delete your **\<userHome>.m2/repository** folder content
*  checkout  my pull request branch (simple chage: maven

[2017-09-16 15:47] dariota commented on #6394
@wing328 The issue is in `#/definitions/CardGatewayAgreement/properties/card_types/`. It defines maxItems as MAX_INT, which causes that issue [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/examples/ExampleGenerator.java#L160) for obvious reasons.

I suspect a fix may be to simply cap the number of items in an example array

[2017-09-17 02:30] ackintosh commented on #6474
I can repeat the issue also in master branch. Let me check it out. 👀

[2017-09-17 11:03] SunMar commented on #6474
Thank you! :)

[2017-09-17 16:55] jfiala commented on #4924
The pom.xml for language jaxrs-cxf is now updated to 1.5.15 and compliles OK.

[2017-09-17 16:55] #4924 closed

[2017-09-18 05:07] aiham commented on #6224
Similar to #6394

[2017-09-18 05:08] aiham commented on #6394
I've hit this with the javascript language. Had to revert to v2.2.2 because v2.2.3 is broken because of #5845

[2017-09-18 08:28] maha79 opened #6511 "[JAVA] Nullpointer Exception generating Jaxrs"
##### Description

When generating JaxRS code, I run in a Nullpointer exception.
This is caused by a string array within the body parameter in the json description.
The problem is in AbstractJavaCodegen Method

    protected boolean needToImport(String type) {
        return super.needToImport(type) && type.indexOf(".") < 0;
    }

There is a null value in the list of imports to check. This in tur

[2017-09-18 09:42] chaoshen1024 commented on #6442
# command
java -jar swagger-codegen-cli-3.0.0-20170904.171256-3.jar generate -l spring -c config.json -i swagger.yaml -o E:\Swagger\demo
# config.json
{
  "sortParamsByRequiredFlag": true,
  "ensureUniqueParams": true,
  "allowUnicodeIdentifiers": false,
  "modelPackage": "com.xxx.xxx.api.open.dto",
  "apiPackage": "com.xxx.xxx.api.open.api",
  "invokerPackage": "com.xxx.xxx.api.open.invoker",
  "

[2017-09-18 14:45] frol opened #6512 "[CPPREST] Arbitrary object type results in a compilation error (missing Object.h)"
##### Description

Using Codegen on the swagger specification file containing properties of the arbitrary object type results in the following compilation error:

[code]

##### Swagger-codegen version

I am using the master branch, but I believe that the issue is there from the initial introduction of CPPREST generator.

##### Swagger declaration file content or url

[code]

##### Steps to reprodu

[2017-09-18 17:14] #6498 closed

[2017-09-18 18:20] jsilland commented on #6504
@cbornet — on it

[2017-09-18 20:44] dariota commented on #6442
Sorry, that yaml's a bit broken. Could you send it again in `code formatting`?

[2017-09-18 22:42] stkrwork commented on #6512
I'll look into this.

[2017-09-19 01:32] wing328 commented on #6316
@stmeyer the fix has been merged into master. Please pull the latest master to give it a try.

@stkrwork thanks for the PR to address the issue.

[2017-09-19 01:33] #6316 closed

[2017-09-19 02:11] #6313 closed

[2017-09-19 02:12] chaoshen1024 commented on #6442
# command
java -jar swagger-codegen-cli-3.0.0-20170904.171256-3.jar generate -l spring -c config.json -i swagger.yaml -o E:\Swagger\demo
# config.json
    {
      "sortParamsByRequiredFlag": true,
      "ensureUniqueParams": true,
      "allowUnicodeIdentifiers": false,
      "modelPackage": "com.xxx.xxx.api.open.dto",
      "apiPackage": "com.xxx.xxx.api.open.api",
      "invokerPackage": "com.xx

[2017-09-19 07:29] poppinlp opened #6517 "Can't generate v3 spec by 3.0.0 cli"
##### Description

I got an email which says 3.0.0 spec is officially released. So i came to here and downloaded [this](https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/3.0.0-SNAPSHOT/swagger-codegen-cli-3.0.0-20170904.171256-3.jar) 3.0.0 cli jar and use it to generate code. It works for v2 spec YAML. But generate v3 spec YAML with this error log:

[code]

See

[2017-09-19 08:58] wing328 commented on #4839
cc @TiFu  @taxpon  @sebastianhaas  @kenisteward

[2017-09-19 10:07] #6474 closed

[2017-09-19 10:08] wing328 commented on #6474
@SunMar the fix by @ackintosh has been merged into master. Please pull the latest master to give it a try.

[2017-09-19 10:09] wing328 commented on #6511
@maha79 thanks for reporting the issue. Do you mind submitting a PR with the suggested fix?

[2017-09-19 10:10] wing328 commented on #6506
@eric-jahn thanks for reporting the issue. May I know if you've time to contribute a PR with better null check?

[2017-09-19 11:24] tagliala opened #6519 "[All generators] Cannot generate when `allOf` property is in /paths"
##### Description

Cannot generate documentation when the `allOf` property is contained in a `schema` inside `/paths`

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Run the above command line with the provided configuration file

[code]

##### Related issues/PRs

swagger-api/swa

[2017-09-19 11:24] wing514895968 commented on #3567
i have met the same problem, i want document the thrift interface,who can help me?
the file posted as below:
namespace java thrift.service

service Hello {
	string helloString(1:string para)
	i32 helloInt(1:i32 para)
	bool helloBoolean(1:bool para)
	void helloVoid()
    string helloNull()
}

[2017-09-19 12:38] eric-jahn commented on #6506
Yes, what would you like me to run and send exactly?

On Tue, Sep 19, 2017, 6:10 AM wing328 <notifications@github.com> wrote:

[2017-09-19 12:40] eric-jahn commented on #6506
Yes, but it may take a little time.  I've added it to my to-do list.

[2017-09-19 14:13] Johanneke commented on #6517
Same issue, very annoying. Either don't push the 3.0 spec on people by only providing the documentation for that version, or make sure your other tools work as well :-(

[2017-09-19 14:16] frol commented on #6517
Well, they released the 3.0 spec to indicate that they are not going to change it and the devs of the tools can expect that the spec is solid and stable now.

[2017-09-19 15:44] Johanneke commented on #6517
That's fair, but releasing a spec is not the same as actively hiding the older version of the spec. If tooling is not ready for 3.0, I'd like to be able to easily get to the 2.0 docs. I do realise though, that that is not an issue for the swagger-codegen github.

[2017-09-19 17:03] cannin opened #6520 "[R] Issues with R Codegen Clients"
I tried to make a new API package using the following with code pulled on September 18. :

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar -i http://petstore.swagger.io/v2/swagger.json -l r -o /tmp/test

Below are a number of suggestions and bugs:

# Minor Issue 1: Include Installation Instructions

This would be useful in the README.md.

## Set up to use CRAN package reposito

[2017-09-19 18:25] Bogdans-Sahajevs commented on #5848
Hello all. Any development on this topic?
If no one took it up, I'd like to try myself at extending swashbuckle/swagger but don't know where to start.

I imagine AspNetCore would involve `app.UseSwaggerUI() { c.InjectOnCompleteJavaScript(" my JS that manages and refreshes OAuth tokens ") } `

[2017-09-19 22:51] stkrwork commented on #6512
I am not sure if the creator of this generator expected the person generating it to write the Object.h themselves, because there is also no mustache file available for it.

[2017-09-20 03:22] seven1986 opened #6521 "typescript-fetch-client-generated require problems"
# typescript-fetch-client-generated

can not use it, how to using ?

index.html
[code]

api.js
[code]

[2017-09-20 06:04] WendellDuncan opened #6522 "cpprest runtime bug with form parameters"
##### Description

After using the cpprest c++ language target, I was having runtime crashes.
I tracked it down to the ApiClient.cpp code.  If there were no form parameters, it was setting the
html body to a badly initialized state.

I am a C++ programmer and am not well versed in html, but a check for the existence of
any form parameters and not setting the body if there are none did fix my crash

[2017-09-20 07:19] frol commented on #6512
Given that the Object should represent arbitrary data, there is no point in different implementations for it. It just needs to implement a hashmap... My C++ skills are limited, but I can help with testing...

[2017-09-20 13:39] sebdi commented on #5460
@wing328 I can't confirm that v2.2.3 fixes the issue. At least for nodejs-server code.

[2017-09-20 14:38] sjmtlewy commented on #592
Has this actually been fixed, it looks like both issues were closed citing the other?

[2017-09-20 14:45] macjohnny opened #6524 "[typescript-angular2]: use encodeURIComponent for path parameters"
##### Description
Currently, in the generated client code for `typescript-angular2` as well as for `typescript-angular`,
the api service builds the API path from the base path and the endpoint path. However, path-parameters are inserted as is, which means they are not url-encoded and therefore a parameter value containing e.g. `+`, `&`, `%`, `/` etc. leads to problems.
Here is a fragment from a ge

[2017-09-20 15:14] kenjones-cisco opened #6526 "[bash] Bug in handling security for generating clients"
##### Description
Code reference section:
https://github.com/swagger-api/swagger-codegen/blob/7f6bccb4ed1dd23a1aa0a694c24cff262b8f00ee/modules/swagger-codegen/src/main/resources/bash/client.mustache#L435

If there is no security defined, generated code as following:

[code]

If security is defined but only does not include `apiKey`, generated code as following:

[code]

If security is defined with

[2017-09-20 15:24] ravinikam commented on #6512
@frol do we really need Object.h? I think we don't . We are not using it. Let me try with your specification and see why its getting added to import in your case.

[2017-09-20 15:41] dougbacelar opened #6527 "Enum on path parameter causing syntax error"
##### Description

Came across an issue where if I have an Enum as a path parameter for a request, the generated api causes Java syntax errors.

It works fine if the parameter is a query parameter.

##### Swagger-codegen version

2.3.0
##### Swagger declaration file content or url

[code]

##### Steps to reproduce
Just generating the api with the above yaml causes a syntax error on the interface m

[2017-09-20 15:51] dougbacelar commented on #6527
For the time being I am using the following variation to fix the issue

[code]

[2017-09-20 16:25] wing328 commented on #6520
@cannin for the improvement in README.md, do you mind submitting a PR? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/r/README.mustache

cc @ramnov

[2017-09-20 17:01] ravinikam commented on #6512
The reason it expecting Object.h is definition of extra_info in specs is incomplete and hence codegen not created separate .h and .cpp files for that object. When we define any object (leaf one) we usually have primitive properties at the end and thats what I think is expected by creator here (and I am agree with it too). Same reason we don't have any includes with object.h in our project since al

[2017-09-20 17:49] frol commented on #6512
@ravinikam My spec is valid: https://stackoverflow.com/a/35791870/1178806, and it works as expected with Python and JS generators.

[2017-09-20 18:27] calbach opened #6529 "[Python][Flask] Generate enum constants"
##### Description

No constants generated for swagger enums.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

yields just a stub model file

##### Command line used for generation

`java -jar swagger-codegen-cli.jar generate  -l python-flask`

##### Suggest a fix/enhancement

Produce enum constants as is done in the python client models.

[2017-09-20 19:31] ravinikam commented on #6512
@frol I agree, same specification will work for Java as well since java have class called Object to hold values if you don't know which datatype to use. Python, JS, Java have built in support for Object, but same is not there in Cpp. So as far as I know Cpp don't know how to hold values for type "Object", unless we define what data structure needs to be used.

@wing328 @stkrwork

[2017-09-20 20:13] frol commented on #6512
@ravinikam there is `cpprest::json::value` type, which can hold arbitrary data...

[2017-09-20 21:13] mbalgeman commented on #5957
I ran into this same issue.  Generating for "java" would work correctly.  Generating for "spring" would not with the same yaml.  Half a day later, I tracked down the solution...

SpringCodegen has a class variable named useTags that is set to false by default.  In order to set this variable to true, you need to set additional parameters.  Once I added  "--additional-properties=useTags=true" to the

[2017-09-20 21:43] calbach commented on #6529
Also, the generated model in both cases is a bit confusing. It is actually just a string; it's not clear whether these models are meant to be instantiated directly.

[2017-09-20 22:12] brandonfuller opened #6530 "[JavaScript] CodeGen for Docs Camelizes Variables Without My Consent"
##### Description

We just found that our JavaScript docs being created by Swagger are incorrect.  Our API takes variables like "grant_type" in the POST body.  However, the SDK docs tell the user to use "grantType".  We see that the Javascript CodeGen camelizes all the variables for the documentation, which confuses the dev reading the documentation.

Here is a sample documentation page:
https://g

[2017-09-21 06:38] SunMar commented on #6474
I can confirm that for my test case this works now with the latest snapshot. Thank you! :)

[2017-09-21 07:20] SunMar commented on #6474
Hmm, a different thing I just noticed now is that the way this currently works you can't use a response value directly as a parameter in your next request. This is because a `\DateTime` will always get formatted to `\DateTime::ATOM` in `ObjectSerializer->toString()` which is used by other functions like `toPathValue()` and `toQueryValue()`. If the parameter is a `format: date-time` that is fine, b

[2017-09-21 10:27] xmeng1 commented on #6438
I add `headers.set('Content-Type', 'application/x-www-form-urlencoded');` manully

[2017-09-21 10:33] SunMar opened #6533 "[PHP] Response value can't be used without modification for 'format: date'"
##### Description

If you have a response value set to `format: date` the PHP library will turn that into a `\DateTime` object. However a parameter that is passed as a `\DateTime` object is always formatted as `\DateTime::ATOM` in `ObjectSerializer->toString()`.

This means that when you get a response value of `format: date` and want to pass that as a parameter in a next request, you can't pass i

[2017-09-21 12:49] SunMar opened #6534 "[PHP] DateTime should be DateTimeImmutable"
##### Description

Response strings with `format: date` and `format: date-time` are cast to a `\DateTime` object, but I think they should be a `\DateTimeImmutable`. The problem with a regular `\DateTime` is that it can be modified, then if the same response object instance is used in multiple places in the code you can not trust any of the returned `\DateTime` objects, if they are modified it may

[2017-09-21 14:02] xmeng1 commented on #6438
According to my research, the when changing the name of typescript-angular from `api.mustache` to `api.service.mustache`. there is one statement missing:
[code]
It means when there is formParams in the request, we need to add this parameter in the header. But the new version change to:

[code]
I can understand, and according to my test, the statement of `headers.set('Content-Type', 'application/x-

[2017-09-21 14:37] jschelbert commented on #6520
I've created a PR for some of the errors. There seemed to be some smaller bugs in the mustache files. Hopefully, these are now fixed. However, the issue about NAMESPACE and DESCRIPTION remain.

[2017-09-21 14:40] xmeng1 opened #6536 "[Ts-angular (4)]The request with consume x-www-form-urlencoded and formParam not work"
##### Description

According to my research, the when changing the name of typescript-angular from `api.mustache` to `api.service.mustache`. there is one statement missing:
[code]
It means when there is formParams in the request, we need to add this parameter in the header. But the new version change to:

[code]
I can understand, and according to my test, the statement of `headers.set('Content-Typ

[2017-09-21 15:11] joerghaubrichs opened #6537 "readOnly on nested objects"
##### Description

Apparently the readOnly property is ignored for definitions of type object. In my example, SomeDefinition has a property someSubObject, which is an object and should be readOnly. So I would expect someSubObject to be in the list of readOnlyVars for SomeDefinition, but instead I find it in the readWriteVars list.

The other readOnly property, someString, is correctly listed in re

[2017-09-21 16:47] wing328 commented on #6536
@xmeng1 that's one way to do it. I think a better solution is what we discussed in https://github.com/swagger-api/swagger-codegen/issues/6006#issuecomment-314462155

[2017-09-21 17:49] #6536 closed

[2017-09-22 07:25] JRozborska opened #6544 "swagger-codegen-cli should accept a standard way of invoking usage starting with "-" and "--" like "-h", "--help""
- swagger-codegen version 2.2.3

It is not possible to use in Swagger Codegen a standard way of invoking usage starting with "-" and "--".
For instance it is a good way to see help:
`java -jar swagger-codegen-cli.jar help`
and it is not possible to use:
`java -jar swagger-codegen-cli.jar --help` or `java -jar swagger-codegen-cli.jar -h`

It could be developed or changed to works in a standard way.

[2017-09-22 07:48] wing328 commented on #592
@sjmtlewy please open a new issue with the details (e.g. HTTP library such as retrofit2, jersey2, etc) instead.

[2017-09-22 10:15] sdoeringNew opened #6545 "[Java] Models with arrays of inner number types are wrongly, uncompiable generated"
##### Description

Models with arrays of inner number types are wrongly generated. Generally a number type with enum is generated as `NUMBER_0(0)`.
If this number type with enum is part of an array it is generated as: `_0("0")` The `NUMBER` is missing and the value would be generated as String.
This doesn't even compile.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content

[2017-09-22 11:09] monsdar commented on #6104
In general it would be good to have some kind of indicator about the version that the docker-image is based on.

[2017-09-22 12:46] pierredadt opened #6546 "[typescript-angular2] Question : Is it planned to generate classes on top of interfaces for easy client-side object manipulation ?"
##### Description

Generating a model from a swagger file only creates interfaces and no classes.
Creating manually classes for a complex model can be a hassle.

##### Swagger-codegen version

Master branch : `2.3.0`

##### Command line used for generation

[code]

##### Steps to reproduce

Generate a client in typescript-angular2 from any swagger file.

##### Question

Is it planned to generate c

[2017-09-22 14:05] swavans opened #6547 "Unusable SystemObject Class in C#"
Hi,

My Api uses a Dictionary<string,object> as parameter, but the swagger codegenerated client wants me to insert an SystemObject. This object has no way to be set and doesn't contain anything.

How do I fix this?

[2017-09-22 14:54] swavans opened #6548 "Change the localVarPath during generation"
Hi,

Is it possible to change the localVarPath value during generation?
I work with an Api that already returns part of this path.

[2017-09-22 16:07] wing328 commented on #5460
@sebdi you mean you "can" confirm, right?

[2017-09-22 16:40] ambikath commented on #3611
@wing328 , I still see the issue with version 2.2.3 maven plugin, the @jsonValue does not get generated .. Any ideas?

[2017-09-22 19:22] chingor13 opened #6549 "[Elixir] Improving the Elixir codegen client"
##### Description

Bugs:
* operation names could be invalid for elixir (have slashes)
* variable names could be invalid for elixir (a param could have '$' in the name)
* naming of mix library name could be invalid for elixir (have slashes)

Features:
* add `@typespec` hinting for Elixir dialyzer
* added documentation of all input types so the Elixir documentation generator works
* enable multipart

[2017-09-23 09:23] #6524 closed

[2017-09-23 16:21] dariota commented on #6442
I've tracked the issue to [this line](https://github.com/swagger-api/swagger-parser/blob/master/modules/swagger-parser/src/main/java/io/swagger/parser/Swagger20Parser.java#L132) in swagger-parser. Correcting this to openapi let the generator complete successfully with the provided example yaml, so if you want a quick fix you could try that.

The feature/3.0.0-rc2 branch there has thoroughly change

[2017-09-23 16:43] zkdzegede opened #6553 "[JAVA] Retrofit2 Observable<Void> should be Observable<Response<Void>>"
##### Description

API calls that have no response content causes a null pointer in retrofit.

[code]

This is currently what is produced:
[code]

This causes the: Observable onNext to never be called

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

swagger-codegen generate -i doc/api/definitions/test.yaml

[2017-09-23 16:45] zkdzegede commented on #6553
I tested by manually overwriting with Observable<Response<Void>> and everything works as expected.

[2017-09-24 01:45] wing328 commented on #6449
@nazieb thanks for the suggestion. Can you please file a PR with the suggested enhancement so that we can review more easily?

[2017-09-24 03:16] wing328 commented on #6475
@calbach I've submitted #6555 to add `__hash__`. Please review when you've time.

[2017-09-24 03:46] wing328 commented on #5925
I've filed #6555 to fix the maven build error.

I wonder if you can file a PR to fix the same for build.gradle and build.sbt files for Java RESTEasy client.

[2017-09-24 06:47] #6353 closed

[2017-09-24 14:50] wing328 commented on #6534
@SunMar thanks for the suggestion.

cc @jebentier @dkarlovi @mandrean @jfastnacht @ackintosh

[2017-09-24 14:52] wing328 commented on #6537
@joerghaubrichs instead of defining `someSubObject` inline, have you tried defining it as a reference instead? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L666

[2017-09-24 14:53] wing328 commented on #6522
I believe this is closed with #6523

[2017-09-24 14:53] #6522 closed

[2017-09-24 14:56] wing328 commented on #6521
Your question is how to use the TS fetch client, right? Would the Petstore test help?

https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-fetch/tests/default

[2017-09-24 14:58] wing328 commented on #6533
cc @jebentier @dkarlovi @mandrean @jfastnacht @ackintosh @arnested

[2017-09-24 15:02] wing328 commented on #6544
The "standard way" is used for the general options in customizing the output:
[code]
Ref: https://github.com/swagger-api/swagger-codegen#to-generate-a-sample-client-library

To me, I'm ok with the current approach but I understand your point that people get used to "--help" and "-h".

[2017-09-24 15:03] wing328 commented on #6546
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-09-24 15:03] wing328 commented on #6505
Closed via #6541

[2017-09-24 15:03] #6505 closed

[2017-09-24 15:07] #6526 closed

[2017-09-24 15:10] wing328 commented on #6495
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-09-24 15:11] wing328 commented on #6494
I don't think TS node supports discriminator at the moment. Would you have time to contribute the enhancement? We can work with you on that.

cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-09-24 15:14] wing328 commented on #6503
cc @taxpon @frol @mbohlool

[2017-09-24 15:17] wing328 commented on #6530
@brandonfuller Similar to Typescript, we can add an option to use the "original" name of the variable:
[code]
Would you have time to add this feature to the JavaScript generator? If yes, I can show you some good starting points.

cc @CodeNinjai @frol @cliffano

[2017-09-24 15:18] kenisteward commented on #6546
@pierredadt What do you mean by complex classes?  None of the things generated have functions tied to them as they are just a representation of what data will be received and sent.

This is a feature that really isn't needed.  If you think about it generating the classes give you nothing in return for extra work.

E.g.  I'm assuming you want to do

[code]

That is no different from doing

[code]

[2017-09-24 15:19] dkarlovi commented on #6534
@SunMar very much agree, nice catch. Can you attach a PR for this?

[2017-09-24 15:22] wing328 commented on #6545
@sdoeringNew thanks for reporting the issue. You're right. I don't think we've the right code to handle array of enum yet.

Would you have time to contribute the enhancement? If yes, I will try to find some good starting points to fix this problem.

[2017-09-24 15:24] wing328 commented on #6491
Can you try the latest master to see if the issue still occurs? Snapshot version available at https://github.com/swagger-api/swagger-codegen#compatibility

[2017-09-24 15:26] wing328 commented on #6484
We do have test cases to cover this. Can you please try the latest master to see if the issue still occurs? Snapshot version available at https://github.com/swagger-api/swagger-codegen#compatibility

[2017-09-24 15:29] wing328 commented on #6455
I think one way is to go through petstore samples folder and look for "pom.xml". Then you will find the commands executed during CI.

e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/pom.xml

(you may find it useful to go to Swagger Codegen repo in your browser, type "T" and then enter "pom.xml" to list all pom.xml in the repo)

[2017-09-24 15:29] wing328 commented on #6457
@SargoDarya thanks for reporting the issue. Would you please submit a PR with the suggested fix so that we can review the fix more easily?

[2017-09-24 15:30] kenisteward commented on #6494
@wing328 what's a discriminator?

[2017-09-24 15:31] wing328 commented on #6471
@david-noel thanks for the suggestion. Please file a PR so that we can review the change more easily.

[2017-09-24 15:31] SunMar commented on #6534
@dkarlovi I can try to make a PR some time this week, but my Java knowledge is limited to a couple basic courses I had 15 years ago. This could be easy enough though to not really require knowledge of Java. Since I'm also not familiar with the Codegen code base it'd come down to doing a search for `DateTime` in the code base and changing the references where applicable. I assume I can also use PR

[2017-09-24 15:33] wing328 commented on #6536
@xmeng1 the fix has been merged into master. Please pull the latest to give it a try.

[2017-09-24 15:33] baronfel commented on #6494
@wing328 no, it does with just a couple tweaks to the template that my company plans on contributing back. Mainly around the serialization/deserializing functions, having them check for desired type based on the presence or absence of the discriminator property. This is working well for us right now for describing variant types, but specifically the debug view of the models blows up when discrimin

[2017-09-24 15:35] wing328 commented on #6494
@kenisteward https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13

[2017-09-24 18:12] dkarlovi commented on #6534
You need almost no Java knowledge (I'd expect you won't need literally any here), you'd do this by editing template files which generate code here.

[2017-09-24 18:17] SunMar commented on #6534
I think your "here" is missing a link or something :). Where are the template files?

[2017-09-24 19:34] mbohlool commented on #6475
I don't think anywhere in the doc it said they are illegal. Can you point to the exact phrase? As far as I can tell, this implies that the model is not hashable.

The generated model here is mutable so it cannot be hashable according to the same document:

If you want to use these models as a key in a set or map, the easiest way is to convert them to string (serialize them) and use the string vers

[2017-09-24 19:47] mbohlool commented on #6475
Also about your example:

Which model did you try this on? I've tried one simple generated model and I get TypeError for the second command (as I expected to get because Model is not hashable)

[2017-09-24 21:28] sdoeringNew commented on #6545
Hi Wing.

Yeah, sure. I can contribute a fix. In fact I already started ...until I
noticed there is currently no way to test this bug does not happen again.
How am I supposed to test that generated model files for Java will never
have that particular bug again?

Yes. There are the samples catching a lot. For example if they not compile
or a test fails there is probably something wrong with the mus

[2017-09-24 21:32] arcward commented on #6503
@dnome2 You can access PoolManager through `ApiClient.rest_client.pool_manager`. If you want changes to apply to every client, you'd need to create `ApiClient` directly, making sure to pass it whenever you create a new client object.

Using pet store as an example:
- When creating new client like `PetApi`, it creates its own instance of `ApiClient` unless you pass your own via the `api_client` kw

[2017-09-24 22:31] cliffano commented on #6455
@wing328 Thanks for the pointer, I'll start with the pom.xml files and that will give us an idea how many commands are available. I'll be back with the result.

[2017-09-25 04:41] Coke25 opened #6560 "[Typescript-Angular]CodegenOperation not getting correct isRestfulXXX properties"
##### Description
    I'm trying to generate files by creating custom templates and updating TypeScriptAngularClientCodegen.java
    On my custom template mustache file, I have code like:
    {{#operations}}{{#operation}}
    {{#isRestfulCreate}}Create{{/isRestfulCreate}}
    {{#isRestfulUpdate}}Update{{/isRestfulUpdate}}
    {{#isRestfulDestroy}}Delete{{/isRestfulDestroy}}
    {{#isRestfulShow}}S

[2017-09-25 06:37] sebastianhaas commented on #6546
Yeah, I totally agree with what @kenisteward said. We've had this discussion a couple of times in different places. Last time I've checked, classes in TS are compiled into some JS stub, while interfaces just disappear- which is what we really want here, we just want some additional type safety with no extra cost during runtime.

That being said and since this question is tagged with Angular, I als

[2017-09-25 07:00] mbohlool commented on #6475
I would suggest we explicitly set `__hash__` to None in models as, at least in python 2.7, the model is considered hashable while it is not (I guess, based on documentation, that is not an issue in python 3 but won't hurt explicitly set that).

[2017-09-25 07:23] #6482 closed

[2017-09-25 07:23] wing328 commented on #6482
@gintautassulskus fixed via #6561. Please pull the latest master to give it a try.

[2017-09-25 07:39] wing328 commented on #6534
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java#L120-L122 is a good starting point for type mapping.

After making changes, please run "mvn clean package" to rebuild the JAR.

[2017-09-25 08:51] joerghaubrichs commented on #6537
@wing328  Yes, unfortunately. Actually my original problem was using a reference, so I tried to use an object instead to narrow it down and simplify it, but same issue there.

[2017-09-25 08:54] gintautassulskus commented on #6482
@wing328, it works now. Many thanks.

[2017-09-25 12:57] sdoeringNew commented on #6545
After creating an test module with an extensive enum test API the following issues appeared:

- inner double / float / long / integer enums defined in an array are wrongly generated - they does not compile
- outer double enums wrongly generated - they does not compile
- outer double / float enums are differently generated as inner double / float enums - missing "_DOT_0"

I think some sort of tests

[2017-09-25 13:12] wing328 commented on #6545
@sdoeringNew please add them to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L1382. Currently, we only have array of enum string but not array of enum of other types (integer, double, etc)

[2017-09-25 13:20] sdoeringNew commented on #6545
Okay.

But where do I put the tests to check that the generated Java models are as expected? Currently I only see Tests that the CodegenProperty are properly filled.

[2017-09-25 13:22] wing328 commented on #6545
What about adding some tests in https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/java/okhttp-gson/src/test/java/io/swagger/client? You will need to run "./bin/java-petstore-okhttp-gson.sh" or ".\bin\windows\java-petstore-okhttp-gson.bat" to update the Petstore samples.

[2017-09-25 13:32] rkachowski commented on #6517
damn, I've just spent a day massaging my swagger spec to fit v3 schema and now it's pointless :/ I wish the default docs were in sync with the currently released version. It's quite confusing to advertise openapi v3 on the homepage, and also link to swagger codegen which only supports v2.

[2017-09-25 13:37] sdoeringNew commented on #6545
Okay.

But what about the 69 other samples using this petstore-with-fake-endpoints-models-for-testing.yaml file? I don't believe that all of the non-Java projects will still work / compile / test. Do I need to fix those code generations, too? 🤕

[2017-09-25 13:42] wing328 commented on #6545
Yes, we'll need to apply similar fix to other generators. Don't worry about those for the time being.

[2017-09-25 13:54] sdoeringNew commented on #6545
Consider it done.

Btw.: It was a good thing you proposed a GSON sample.
There were more bugs, too. 🤣
- JsonReader#nextFloat() for float values is unknown
- JsonReader#nextInteger() for int32 values is unknown, it should be: JsonReader#nextInt()

[2017-09-25 13:56] wing328 commented on #6545
If you've time, you may want to add the test to the Java (jersey 2) Petstore sample as well to see if you can uncover similar issues found with GSON.

[2017-09-25 14:07] sdoeringNew commented on #6545
Ok.

No new problems on the Jersey 2 sample. 😉

[2017-09-25 14:34] dkarlovi commented on #6534
@wing328 this might be a feature request on the type mapping feature itself, as (from this issue):

1. you'd want to type hint on `DateTypeInterface` (so, an interface)
2. you'd want to USE `DateTimeImmutable` (a class implementing `DateTimeInterface`)

Type mapping which you've linked might provide a way to differentiate between the two which might be used in `ObjectSerializer` without it being h

[2017-09-25 16:02] calbach commented on #6475
@mbohlool I was referring to the fact that `__eq__` may return `true` for two objects, while `__hash__` returns different values. Though you're right that the docs claim you can have an `__eq__` without a `__hash__` (and supposedly `__hash__` will magically be set to `None`), sounds like a python3 thing but I'm not sure.

Good point about immutable - I missed that in the docs. Sorry to mislead on

[2017-09-25 16:15] wing328 commented on #6537
😞

I'll see if I can hunt down the bug this weekend...

[2017-09-25 17:28] Fer-Picu commented on #4769
y agree to this feature

[2017-09-25 18:23] kenjones-cisco opened #6562 "[Bash]: lint errors found"
##### Description

After generating a bash client, and running the code through [shellcheck](http://www.shellcheck.net/) [shellcheck-src](https://github.com/koalaman/shellcheck) there are many linting errors found.

[code]

##### Swagger-codegen version

latest from master

##### Command line used for generation

`java -jar swagger-codegen-cli.jar generate -i api.yaml -o out/ --lang bash -c swagge

[2017-09-25 20:39] dganoff opened #6564 "[JavaScript] How do I set auth headers for all/some requests?"
##### Description

I generated a JavaScript SDK, but am not clear on how to set authentication headers. I'd love to be able to set the auth headers used for all future requests via some sort of default headers setting. I've tried setting the `ApiClient.defaultHeaders` like below, but with no success:

**Update:** I updated the below code showing a way I got the headers to be added to the requests

[2017-09-25 22:55] doctau commented on #3033
Using camelTo2 is the fix if the swagger definition uses snake case, but it breaks if it uses camel case or anything else. A better solution is probably not use the generic JSON conversion with the name mapping function, but write out "manual" instance implementations which use the correct names from the definition.

I'll try to get a PR for that done soon.

[2017-09-25 23:55] lightningrob commented on #6484
Will try that and report results.

[2017-09-26 03:44] enriquesalas506 opened #6565 "Swagger android, multipart is crashing"
##### Description
When uploading a multipart file using swagger produces a crash that says.
java.lang.NoSuchFieldError: org.apache.http.message.BasicHeaderValueFormatter.INSTANCE

This is probably caused by httpmime that is uncotpatible with android. And Android Studio ignores it when compiled

##### Swagger-codegen version

2.3.0 or the one that is used in editor.swagger.io

##### Swagger declara

[2017-09-26 08:28] kimamula opened #6566 "[typescript-angular] Invalid regular expression error"
##### Description

The code generated from the following template results in a runtime error, `Invalid regular expression: /(?i)^(application/json|[^;/ 	]+/[^;/ 	]+[+]json)[ 	]*(;.*)?$/: Invalid group`

https://github.com/swagger-api/swagger-codegen/blob/d2b91073e1fc499fea67141ff4c17740d25f8e83/modules/swagger-codegen/src/main/resources/typescript-angular/api.service.mustache#L82

##### Swagger-co

[2017-09-26 08:54] kimamula commented on #3105
I want to note that #4264 only fixed the behavior of typescript-node.
For typescript-angular, the issue still remains to be solved.

[2017-09-26 08:58] taxpon commented on #6566
@wing328 I think we need to add some basic tests for angular and run them on CI in order to avoid this kind of bugs. What do you say?

[2017-09-26 09:02] wing328 commented on #6566
@wing328 definitely. It's better to rely on CI to catch similar issue moving forward.

[2017-09-26 09:05] wing328 commented on #6566
Btw, `npm run build` didn't catch this issue so we need to write some integration tests similar to what we've done for TS Fetch: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-fetch

[2017-09-26 09:07] jonsa opened #6567 "[C#] Generate async methods with CancellationToken support"
More of a feature request than an issue. Would it be possible to generate async methods with CancellationToken support?

[2017-09-26 13:03] krizic opened #6568 "[typescript-angular2] use new HttpClient from '@angular/common/http' instead of old Http"
##### Description

The template generates services which use old Http class. Please use latest (available since angular@4.3.0) HttpClient from `'@angular/common/http'` which is necessary for new interceptors suppot

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url
modules/swagger-codegen/src/main/resources/typescript-angular2/api.service.mustache

##### Command l

[2017-09-26 13:09] wing328 commented on #6566
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-09-26 13:17] chaoshen1024 commented on #6442
thanks

[2017-09-26 13:33] taxpon commented on #6568
The feature will be merged soon. See #6295

[2017-09-26 13:53] #6562 closed

[2017-09-26 15:00] aee11 opened #6569 "[Rust] Bug: Body parameter name ignored"
##### Description

Body parameters name is not used when serializing the body. Generated body parameter name is always assumed to be `body`. See [here.](https://github.com/swagger-api/swagger-codegen/blob/5e9d977a03756b0445f026dec0a4f1b6095ff8b1/modules/swagger-codegen/src/main/resources/rust/api.mustache#L71)

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

[c

[2017-09-26 15:39] giuliopulina commented on #5371
is there any workaround to prevent this behavior? I'm experiencing also in swagger-codegen 2.2.3 with java language

[2017-09-26 15:41] andreeahash commented on #6226
Any updates on this issue?
We have problems with the code generated for APIs that return http code 201 with no content.

[2017-09-26 16:06] wing328 commented on #6520
@albsantosdel thanks for testing the fix. I've merged it into master given that it fixes most of the issues.

[2017-09-26 16:12] wing328 commented on #6520
@albertpastrana for the missing path issue with https://github.com/jschelbert/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/r/api.mustache#L17, I think we need to revise it with {{path}} as follows:
[code]
Would you have time to submit a PR with the fix (together with the fix for https://github.com/jschelbert/swagger-codegen/blob/master/modules/swagger-codegen/src/main/res

[2017-09-26 18:21] mattrc commented on #6566
+1

[2017-09-26 19:21] dnome2 commented on #6503
Thanks a ton @arcward ! Will try this out and let you know if i see any issues.

[2017-09-27 02:55] wing328 commented on #6569
@aee11 thanks for reporting the issue. Please file the PR with the suggested fix (which looks good to me to use {{paramName}}).

[2017-09-27 05:53] peteryangthinkgeo commented on #6190
What's the stauts of the issue? I use **swagger-codegen-cli-2.2.3.jar** and encounter this issue too.

[2017-09-27 09:21] riceman2 opened #6576 "[Swift4] generate client error (CodableHelper.swift)"
##### Description
When outputting a model that was created in Swagger Editor ,
CodableHelper.swift build error
"Type 'JSONDecoder.DataDecodingStrategy' has no member 'base64Decode'"
I think there is a difference from the information of github
https://github.com/swagger-api/swagger-codegen/blob/8067612e06172942c5d661f0988bb866492d1cab/samples/client/petstore/swift4/default/PetstoreClient/Classes/Sw

[2017-09-27 10:19] macjohnny commented on #6457
@SargoDarya could you have a look at https://github.com/swagger-api/swagger-codegen/pull/6574 ?

[2017-09-27 10:24] JacC510 opened #6577 "swagger-codegen-maven-plugin:2.2.2:generate failed: unknown library: resttemplate"
##### Description

It seems that I can't generate java resttemplate out of the Maven Plugin.  I always get
[code]
But with for example the swagger codegen Plugin for IntelliJ it works.
Could you please help me?

##### Swagger-codegen version

swagger-codegen-maven-plugin 2.2.2

##### Plugin Configurations
[code]

##### Steps to reproduce

Run mvn clean compile

[2017-09-27 11:59] rahulearl commented on #3059
Hey, can you please share how did this get resolved ? I am also stuck with same exception unfortunately.

[2017-09-27 13:08] gimre commented on #6566
+1 - also worth mentioning that ```typescript-angular``` is still using the old and about-to-be-deprecated ```HttpModule``` instead of ```HttpClientModule```

[2017-09-27 13:11] kenisteward commented on #6566
There is a PR to use the new one by default and optionally use the old one

On Wed, Sep 27, 2017, 9:09 AM Gabriel Imre <notifications@github.com> wrote:

[2017-09-27 15:02] SargoDarya commented on #6457
I will give this a try.

[2017-09-27 16:06] wing328 commented on #5371
The only workaround I can think of is to update the spec to allow only single tag per endpoint.

What about adding an option to use only the first tag to generate files?

[2017-09-27 17:02] kgilmer commented on #3749
+1

Yes it's obvious that client-per-API by default is the best approach, but in support of @chamindias, there are also use-cases in which you would want to provide one client for a set of APIs.  In addition to @fonix232 's comment about versioning, if you happen to have very granular APIs, it quickly becomes tedious to manage all these client JARs.  Additionally, in Android, there is additional b

[2017-09-27 17:02] tomrom95 opened #6582 "Byte length not calculated correctly in python"
##### Description

In our swagger declaration, we defined a property of type `string` and format `bytes`. We also specified that it should be between 15 and 16 bytes in length, like "AAAAAAAAAAAAAAAAAAAAAA==". When using our service as a REST API and sending it through our swagger page, strings like the example before work correctly. However, when trying to use the python client, and send in the s

[2017-09-27 17:36] giuliopulina commented on #5371
the problem is that I'm using tags for different purposes, so it is unlikely I will be able to put only one per endpoint.
I think that adding an option to use only the first tag could be a good idea, even if, in my opinion, the OpenAPI spec should support a dedicated field to categorize the endpoint.

[2017-09-27 20:16] vlados opened #6583 "Swagger & MsgPack"
Can I generate API client with swagger-codegen that can decompress data from the backend using [MessagePack](http://msgpack.org/)

[2017-09-28 01:32] #6549 closed

[2017-09-28 01:44] foresightyj opened #6585 "RuntimeException during generation of API which passes validation"
I validated my api.json before the generation. The validation passes but the generation encountered RuntimeException:

![image](https://user-images.githubusercontent.com/1296736/30945491-402db1ea-a431-11e7-9a7c-dbd859441b21.png)

[code]

This is the content of `fht_api.json`:

[code]

And this is `swagger_objc.config`:

[code]

[2017-09-28 01:49] #6566 closed

[2017-09-28 01:53] foresightyj commented on #6585
UPDATE:

Just found out that it works with `swagger-codegen-cli-2.2.2.jar` but not `swagger-codegen-cli-2.2.3.jar`

[2017-09-28 02:17] mpoiriert opened #6586 "[Javascript] Using the --template-dir option doesn't seem to do anything"
##### Description

I am trying to use the Javascript language with the option --template-dir and it's not working.
If I am setting a invalid template directory it does throw a error so I know the path is good. I am changing
a file in the directory (I copy pasted the content of the Javascript language from the master branch) and it's not doing anything.

##### Swagger-codegen version

2.2.3

#####

[2017-09-28 02:30] lsarni commented on #3059
@rahulearl Just remove `\` after `meta`:

`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar meta -o output/myLibrary -n myClientCodegen -p com.my.company.codegen`

[2017-09-28 05:15] wing328 commented on #6586
@mpoiriert if I remember correctly, we've fixed the issue in the latest master. Please give it a try and let us know if you still encounter the issue.

Latest master defaults to ES6, which still needs some work (https://github.com/swagger-api/swagger-codegen/pull/6431). Please set the switch `useES6` to false for the time being.

[2017-09-28 06:09] deveshpujari opened #6587 "Enums: @JsonValue annotation is missing from toString() in the generated model for language jaxrs"
Looked at issue #3611 #3615

It does not work for language jaxrs .
I tried using 2.2.3 and 2.3.0 lastest snapshot also.

java -jar swagger-codegen-cli-2.3.0.jar generate -i genapi.yaml -l jaxrs -o generated_server

public enum HealthType {

OVERALL("overall"),

CONNECTED("connected"),

ONBOARDED("onboarded");

private String value;

HealthType(String value) {
this.value = value;
}

@override
publi

[2017-09-28 06:11] ambikath commented on #6587
See the same issue..Any responses?

[2017-09-28 06:49] sebdi commented on #5460
@wing328 No, I mean the issue is still present in v2.2.3

[2017-09-28 06:52] wing328 commented on #6566
@kimamula the issue has been fixed by #6584. Please pull the latest master to give it a try.

[2017-09-28 10:30] sdoeringNew commented on #6587
Do not put a ```@JsonValue``` at the toString() method. Add a new method:
[code]

This will work for non-String enums, too.
Imaging enums of datatype Integer or Double.

[2017-09-28 10:32] ambikath commented on #6587
This is a generated file.
Cannot add code here.
It should be fixed from the swagger codegen

@sdoeringNew please check this

https://github.com/swagger-api/swagger-codegen/issues/3611

[2017-09-28 11:20] sdoeringNew commented on #6587
Yeah, sure. I already fixed a similar issue for the Java code generation.

I just mean: It would be wrong to fix this issue by adding a ```@JsonValue``` at the ```toString()``` method.

[2017-09-28 12:10] cbornet commented on #6587
I think it's better to use Jackson's WRITE_ENUMS_USING_TO_STRING property

[2017-09-28 12:12] ambikath commented on #6587
@cbornet : You mean while deserializing? Could you give me an example?

[2017-09-28 12:44] JacC510 commented on #6577
It works for version 2.2.3  ....

[2017-09-28 12:44] #6577 closed

[2017-09-28 13:23] cbornet commented on #6587
Eg : https://github.com/swagger-api/swagger-codegen/blob/be3cfda3cec6558249afbb975e8051e4b4e0ed78/modules/swagger-codegen/src/main/resources/Java/libraries/resteasy/JSON.mustache#L26

[2017-09-28 14:16] mpoiriert commented on #6586
I used the latest build and it does work like expected.

Just to let you know, you mention setting useES6 to false, I didn't do any of this and it seems to still be false as the default value.

Closing the issue.

[2017-09-28 14:16] #6586 closed

[2017-09-28 14:18] wing328 commented on #6586
@mpoiriert ok. I'll take another look at the default value for "useES6"

[2017-09-28 16:16] #5500 closed

[2017-09-28 16:27] macjohnny opened #6588 "[typescript-angular2] Bug: Request Content-Type other than json not allowed"
##### Description

The changes in https://github.com/swagger-api/swagger-codegen/pull/6454 introduced setting the request content-type from the `consumes` property.
[code]
However, the content type is limited to `json`-like mime types. Therefore the content-type is set to an empty string if we e.g. upload a file and have
[code]
and since `multipart/form-data` is not a json mime-type, this results

[2017-09-28 22:38] Loktor commented on #6586
Since i just ran in the same issue and investigated it a bit.
I think the issues stems from this part

        if (additionalProperties.containsKey(USE_ES6)) {
            setUseES6(convertPropertyToBooleanAndWriteBack(USE_ES6));
        } else {
            setUseES6(false);
        }

inside processOpts, which calls

         public void setUseES6(boolean useES6) {
                this.useES6 =

[2017-09-29 00:49] ackintosh commented on #6420
@piotrjozwiak  Please refer to the below and try generate your client code with the lastest master. 💡

https://github.com/swagger-api/swagger-codegen#getting-started

[2017-09-29 02:42] riceman2 opened #6589 "[Swift4] JSONDecoder mapping Error"
##### Description

I am gaining Json data with hyphens attached.
e.g. "key-color" / "file-type"

After mapping to Swift 4, mapping of such data is not working properly.
I cope temporarily by adding the following code.

enum CodingKeys:String,CodingKey{
        case baseColor = "base-color"
        case keyColor  = "key-color"
    }

I am happy to attach such code automatically when generating code

[2017-09-29 04:02] aditya-chaturvedi opened #6590 "[MAVEN] swagger-codegen-maven-plugin:2.2.3 generate goal execution fails"
##### Description

I upgraded plugin from v2.2.2 to v2.2.3 to specifically test the allOf and anyOf handling functionality, but generate goal just doesn't work anymore.

##### Swagger-codegen version

swagger-codegen-maven-plugin version -
v2.2.3

##### Swagger declaration file content or url

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-maven-plugin/examples/

[2017-09-29 05:24] macjohnny commented on #6588
@stoetti @keradus @sebastianhaas  could you have a look at this issue?
what do you think about letting angular determine the content-type and simply remove the following code:
[code]

[2017-09-29 06:51] wing328 commented on #6589
@riceman2 which version of Swagger Codegen are you using? The latest master has a couple of enhancements, bug fixes to Swift4 generator. Please give that a try and let us know if you still experience the same issue.

[2017-09-29 07:18] riceman2 commented on #6589
@wing328 thank you for reply.
I use Swagger editor.
https://editor.swagger.io/

1.upload yaml
2.click "Generate Client"
3.Select "Swift4"

Now, I retry this situation.Still the same situation.

Would it be better to use this report as a Swagger Editor?

I did not know which to report to.
https://github.com/swagger-api/swagger-codegen/issues/2430

[2017-09-29 07:45] wing328 commented on #6589
@riceman2 Swagger Editor is using the latest stable version if I'm not mistaken.

I would suggest you to use the SNAPSHOT version of the latest master to give it a try: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-09-29 07:56] macjohnny commented on #6588
cc @wing328

[2017-09-29 08:44] wing328 commented on #6582
@tomrom95 thanks for reporting the issue. Please file a PR with the suggested fix so that we can review it more easily.

[2017-09-29 08:56] riceman2 commented on #6589
I download SNAPSHOT version at
swagger-codegen-cli-2.3.0-20170926.043109-160.jar

I try cli command to
"java -jar swagger-codegen-cli-2.3.0-20170926.043109-160.jar generate -i swagger.yaml -l swift4 -o temp/"
It is success! Thank you very much!

[2017-09-29 08:59] riceman2 commented on #6576
I download SNAPSHOT version.
It is bug fixed.

[2017-09-29 08:59] #6576 closed

[2017-09-29 09:01] piotrjozwiak commented on #6420
I do not want to host my own instance of generator. I am waiting for update of http://generator.swagger.io/ to 2.3.0 version.

[2017-09-29 09:03] wing328 commented on #6420
@piotrjozwiak What about using the SNAPSHOT version of the latest master? https://github.com/swagger-api/swagger-codegen#compatibility

[2017-09-29 09:06] wing328 commented on #6588
@macjohnny I think that's a bug that needs to be fix. It should not used only JSON-related MIME types.

The correct logic should be checking If JSON-related MIME is found in `consumes` (or `produces`), it should use that. Otherwise, just use the first one in the list if there's more than 1 defined.

[2017-09-29 09:08] macjohnny commented on #6588
@wing328 i will file a PR as soon as https://github.com/swagger-api/swagger-codegen/pull/6574 is merged

[2017-09-29 09:21] #6589 closed

[2017-09-29 09:22] wing328 commented on #6589
No problem :)

[2017-09-29 10:21] wing328 commented on #6226
@andreeahash Can you try the suggested fix mentioned above (https://github.com/swagger-api/swagger-codegen/issues/6226#issuecomment-319910992) and submit a PR accordingly?

[2017-09-29 10:23] wing328 commented on #6583
@vlados technically it's possible to customize the API client with templates updated to work with MessagePack (using the -t command line switch)

[2017-09-29 10:25] wing328 commented on #6567
@jonsa do you mean a method to submit a HTTP request to cancel/void a token somehow?

[2017-09-29 10:36] wing328 commented on #6565
@enriquesalas506 As a workaround, what about using Java Retrofit2 API client instead?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-09-29 14:35] wing328 commented on #6520
@albsantosdel Looks like https://github.com/swagger-api/swagger-codegen/pull/6571 will fix the issues you encountered. Do you mind testing the PR when you've time?
[code]

cc @brnleehng

[2017-09-29 14:40] dnn01 opened #6591 "[CSharp Client] does not support Content-Types "application/soap+xml" and "application/xml""
##### Description
I generated a CSharp client from the attached Json file and the content type is correctly identified as application/soap+xml.  However, the client does not appear to support this content type.

The call to serialize the body is:
[code]

The serialize method in the API client is:
[code]
In the prepare request method:
[code]

##### Swagger-codegen version
Version 2.2.3 (swagger-cod

[2017-09-29 15:06] craffael opened #6592 "[NancyFx] Allow for override of PackageContext"
##### Description

The current NancyFX generator constructs the C# namespace as follows: `<packageName>.<packageContext>`. Currently `<packageContext>` is set to a (sanitized) version of the swagger basepath.

In cases where the base path is non-simple, this can lead to strange namespaces. For example for `packageName=company.security` and `basePath=/security.svc/v1` the resulting namespace would

[2017-09-29 15:39] estebanDugueperoux opened #6594 "[JAVA] Not compilable java class on Windows because of case sensitive"
##### Description

I have a swagger.json with a 2 availables operations on differents ressources path.
These 2 operations share the same tag "InformationsMIF".

##### Swagger-codegen version

I use version 2.2.3 : swagger-codegen-cli-2.2.3.jar

##### Swagger declaration file content or url

{
  "swagger" : "2.0",
  "info" : {
    "version" : "v1",
    "title" : "Vision360",
    "contact" : { }
  }

[2017-09-29 16:19] craffael commented on #4486
I just noticed that the option `interfacePrefix=I` leads to a compilation error: The swagger file

    swagger: "2.0"
    info:
      description: "API Documentation of Security Service that is used to create machine and user access tokens"
      version: "1.0.0"
      title: "Security Service"

    paths:
      /foo:
        get:
          responses:
            200:
              description: "s

[2017-09-29 18:05] macjohnny commented on #6588
this issue would be resolved by merging #6295

[2017-09-29 19:10] Faerylnahr opened #6596 "Is it possible to use swagger codegen to generate a client for .Net4.0?"
Hi everybody,

I already asked this question on stackoverflow (https://stackoverflow.com/questions/46454292/is-it-possible-to-use-swagger-codegen-to-generate-a-client-for-net4-0) but was asked by @wing328  to open a ticket if I'm looking for a particular .net version that is not yet supported at the moment.
For my project I need a .NET 4.0 client :-) is it possible to add support for this?

Regard

[2017-09-29 19:16] Bogdans-Sahajevs commented on #5848
Alright, so wrote something.
See attached file [OAuthRenew.JS.txt](https://github.com/swagger-api/swagger-codegen/files/1345429/OAuthRenew.JS.txt)

In your app.UseSwaggerUI(c =>...);
Load a script like this
`c.InjectOnCompleteJavaScript("/Content/Swagger/OAuthRenew.js");`

Make sure you actually place "OAuthRenew.js" into "/Content/Swagger/" and your app can load static files (may need to call `ap

[2017-09-29 19:17] svetozar02 commented on #6490
+1

[2017-09-29 19:46] jimschubert commented on #5848
@Bogdans-Sahajevs I'm not sure I understand the need to auto renew an Oauth token from Swagger UI.

I'd be reluctant to include this behavior in the Asp.net Core generator because a refresh token is almost like a password, and requires some additional security considerations. For instance, if someone was testing an API in Chrome over http (cuz we all do that locally), and accessing a third party A

[2017-09-29 21:23] Bogdans-Sahajevs commented on #5848
@jimschubert
You're right that storing `refresh_token` isn't very good.
In fact I myself wouldn't recommend including it, and wasn't intended as such. It's just something that works for me for now. I've never contributed to an open-source project, don't even know where to start

There are bigger problems in the current "Swashbuckle.AspNetCore-master" which I downloaded from "https://github.com/dom

[2017-09-29 23:37] jimschubert commented on #5848
@Bogdans-Sahajevs

There's no issue with a developer using a developer tool like Swagger UI and issuing these from the client. OAuth should only be initiated over SSL. If the OAuth provider is accessible over HTTP only, you have a lot more than just your client that can view the request packets. Similarly, there's no real concern of a developer viewing secure requests they're making.

Swagger UI i

[2017-09-30 09:19] #6080 closed

[2017-09-30 13:07] dejan2609 commented on #5925
@wing328 I'll try to change build.gradle and buil.sbt.

[2017-09-30 14:09] wing328 commented on #6596
@Faerylnahr We can work together to add support for .NET 4.0.

What error did you get when using the .NET3.5 or 4.5 client in your environment (assuming you've tested both .NET3.5 and 4.5 client)?

[2017-09-30 14:22] slarti-b opened #6598 "Does any codegen work for open api spec 3 yet?"
I know it's not released, but I got the impression much of the functionality was there for the version 3 spec.  Particularly interested in the server stub generation.

I tried both the 3.0.0 branch (checkout and `mvn clean package`) and the snapshot from 24 Sept from  https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/3.0.0-SNAPSHOT/

I tried with a sample.yml w

[2017-09-30 17:11] Faerylnahr commented on #6596
Sounds good 👍 Even though I'm new to C# and Swagger I'll try my best.
My project needs to be based on .NET-4.0. When adding the generated client for .NET-4.5 I'll get the error message that both frameworks do not match as RestSharp and Newtonsoft are intented to be used under 4.5. In combination with .NET-3.5 the build fails with `[...]\Pet.cs(89,29): error CS0241: Default parameter specifiers are

[2017-10-01 05:06] wing328 commented on #6596
Just want to ask the obvious question. It's not an option in your side to upgrade the .NET framework to a newer version, e.g. .NET 4.5, right?

[2017-10-01 08:56] stcarrez opened #6601 "[Ada] Add Ada support for client code generator"
##### Description

Swagger does not support Ada language.  There is some interest in the Ada community
to use and implement REST clients.

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhancement

I've started to add Ada support for Swagger codegen.  I've forked the project and I'm adding
Ada client code generator. The code generator is now able to generate the Ada client side

[2017-10-01 21:40] djanku commented on #6318
Is anybody working on it?

[2017-10-02 02:39] wing328 commented on #6598
Not yet. Swagger Codegen relies on Swagger Parser to parse the spec and Swagger Parser 2.0.0 RC1 (which supports OAI 3.0 spec) was just released 2 days ago.

cc @HugoMario, who is working adding OAI 3.0 support to Swagger Codegen.

[2017-10-02 02:40] wing328 commented on #6594
I could repeat the issue and working on a fix..

[2017-10-02 02:43] wing328 commented on #6591
Java client supports XML via the following option:
[code]

We can work with you to add the XML support o C# API client.

[2017-10-02 02:45] wing328 commented on #6590
@aditya-chaturvedi thanks for reporting the issue. Can you try the latest master to see if it's still an issue? SNAPSHOT version available at https://github.com/swagger-api/swagger-codegen#compatibility

[2017-10-02 02:48] wing328 opened #6603 "[Eiffel] Add server stub generator"
##### Description

We want to provide a Eiffel server stub generator to Swagger Codegen.

Opening this ticket for tracking.

##### Swagger-codegen version

latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/6036

cc @jvelilla

[2017-10-02 05:27] ackintosh commented on #5338
👀

[2017-10-02 06:03] macjohnny commented on #6006
See also https://github.com/swagger-api/swagger-codegen/pull/6295#issuecomment-333179969

[2017-10-02 06:25] macjohnny commented on #6568
#6295 was merged, so this issue could be closed

[2017-10-02 06:25] macjohnny commented on #6588
this issue was resolved with #6295

[2017-10-02 06:25] #6588 closed

[2017-10-02 06:26] macjohnny commented on #6006
See also https://github.com/swagger-api/swagger-codegen/issues/6588
setting the content-type header inappropriately can lead to other bugs / issues.

[2017-10-02 06:36] jonsa commented on #6567
No I don't, I think? :)

Async methods are usually implemented in two flavors
[code]

And so does RestSharp [RestClient](https://github.com/restsharp/RestSharp/blob/master/RestSharp/RestClient.Async.cs#L242-L304).

What I'd like is for the generated client to use the async methods with CancellationToken support.

I haven't found the time to fully understand what it would take to implement but I've

[2017-10-02 09:46] mchacon-ml opened #6604 "[JavaScript] Bug starting stub server"
##### Description

I generated a JavaScript stub server and I tried to started but I got an error.

##### Swagger-codegen version

latest master

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i swagger.yaml -l nodejs-server -o samples/server/activities/nodejs

##### Steps to reproduce

Created the stub server.
Run npm start b

[2017-10-02 12:23] dnn01 commented on #6591
Thank you, that sounds great.  What are our next steps?

[2017-10-02 13:50] wing328 commented on #6591
Here are a few good starting points:

https://github.com/swagger-api/swagger-codegen/blob/3cb36738b1789ccf99082fa6ee3f4df2e491bdee/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L374-L378 needs to be updated as we now assume the payload must be a JSON string.

Same for [ApiClient.mustache#L392-L395](https://github.com/swagger-api/swagger-codegen/blob/3cb36738b1789ccf99082fa6e

[2017-10-02 13:52] wing328 commented on #6591
Doing a search for "withXML" in https://github.com/swagger-api/swagger-codegen/blob/6e7ad13e1b327b45ce9cdafdfb6c1b46fe8b8b32/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L49 with show you the code on how to add the "withXML" CLI option to a generator.

[2017-10-02 13:52] wing328 commented on #6592
Closed via #6593

[2017-10-02 13:52] #6592 closed

[2017-10-02 14:21] Faerylnahr commented on #6596
No, unfortunately not :-( As I already stated, I have different systems to support starting with XP (thus the NET-4.0 requirement) and ending with Windows7. Maybe I can switch to .NET-4.5 in future but currently that's not an option.

[2017-10-02 14:28] wing328 commented on #6596
Understood. I would suggest you to do the following:
1) start with the C# API client for .NET 3.5
2) Manually fix the output code to confirm it works with .NET 4.0
3) apply the fix to the mustache templates with new mustache tag for .NET 4.0 such as `{{^net40}} ... {{/net40}}` or `{{#net40}} ... {{/net40}}` in the C# templates: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swa

[2017-10-02 14:38] wing328 commented on #5905
@BenjaminGill-Metaswitch do you need help filing the PR? Anything else the community can help out with?

[2017-10-02 15:19] maverickmicky commented on #6286
I reached this thread while looking for how to define constants in swagger. I have a request which uses map of key:value. Keys will be constants and I want to share it among server and client. Is it possible to do it somehow?

[2017-10-02 16:17] wing328 commented on #6594
UPDATE: it's not as easy as I thought so I'll give it another try tomorrow and keep you posted.

[2017-10-02 16:48] Faerylnahr commented on #6596
Hi, after almost 2 hours I finally got it working under .NET-4.0 I think. I had to remove the default parameters (e.g. ` = null`) for some methods (see here: [https://docs.microsoft.com/de-de/dotnet/csharp/misc/cs0241](https://docs.microsoft.com/de-de/dotnet/csharp/misc/cs0241)), added Newtonsoft 4.5.11 (RestSharp stays with 105.2.3) and changed the targetFramework to net40 (in packages.config).
S

[2017-10-02 18:37] brnleehng commented on #6520
The url path needs string replacement instead of appending at the end.

For example,  /{{path parameter}}/path will not work for the url path. I've updated my PR for this use case #6571

[2017-10-02 19:04] albsantosdel commented on #6520
I have tested the PR #6571 (without the fixes done few minutes ago) and I found several issues:

**1. Generated DESCRIPTION file is not correct**:
_Response:_
* installing *source* package ‘Swagger Petstore’ ...
Error : Invalid DESCRIPTION file

Malformed package name

See section 'The DESCRIPTION file' in the 'Writing R Extensions'
manual.

ERROR: installing package DESCRIPTION failed for package

[2017-10-02 23:13] brnleehng commented on #6520
1) Yeah, I'll change the description to use {{{packageName}}} instead of {{{appName}}}
I didn't know you can add additional properties on the command line.

For reference:
 java -jar "modules\swagger-codegen-cli\target\swagger-codegen-cli.jar" generate -i "http://petstore.swagger.io/v2/swagger.json" -l "r" -o "c:\temp\petstore_client" --additional-properties "packageName=PetStoreSwagger"

2) Added

[2017-10-02 23:17] wilg commented on #6585
Having the same problem with 2.2.3 – not sure where to start looking.

[2017-10-03 01:34] webron commented on #6519
@wing328 any thoughts on this?

[2017-10-03 03:03] riceman2 opened #6607 "[Swift4] Model type mismatch ( decodeIfPresent)"
Thank you as always.

##### Description
I generate Sagger Code(Use 2.3.0 and 3.0.0)
Enum is included in the model fails to build.

Like this.

    public enum ModelType: String, Codable {
        case list = "list"
        case map = "map"
        case camera = "camera"
        case setting = "setting"
        case other = "other"
    }

    public required init(from decoder: Decoder) throws {

[2017-10-03 09:36] dili91 opened #6608 "Custom code generator, custom classes/interfaces names and new folders/files"
Hi, I developed a custom code generator following the guidelines shared on the wiki. I managed to
define one that extends AbstractJavaJAXRSServerCodegen abstract class. I didn't figure out how to:
- define new folders and files inside them, in a programatic way (since I'm developing on an OSGi runtime, I was wondering if I could generate dynamically a ${component}.xml for each yaml file and ). I m

[2017-10-03 10:54] wing328 commented on #6585
I couldn't repeat the issue with the latest master (2.3.0). Please use the SNAPSHOT version to give it a try: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-10-03 10:59] marcoregueira commented on #2602
Just a note to indicate that c# generated client has the same issue. A solution for Java would be a solution for c# as well. As Vrolijkx indicated a custom exception including the deserialized model could be one solution.  Another could be an alternative and more complete xxxWithHttpInfo method (that doesn't throw an exception) returning all possible messages in different properties Result200, Res

[2017-10-03 12:38] sparta15 opened #6609 "[Java-Playframework] UUID parameter is not found"
##### Description

If you have one a parameter as `UUID` inside you `url`, It's not found as parameter of the controller method and don't compile.

##### Swagger-codegen version

2.3.0 - SNAPSHOT

##### Swagger declaration file content or url

You can consult the example [here](https://gist.github.com/sparta15/cc45018f7657201b893288ea77643c51)

And this is the routes file generated:

[code]

Whit

[2017-10-03 13:00] sparta15 commented on #6609
I'm seeing the last PRs in the `swagger-codegen` project and @tzimisce012 add support for isUuid [here](https://github.com/swagger-api/swagger-codegen/pull/6382) , but in order to maintain consistence UUID object has both property `isUuid` and `isString` true. I don't know why but the property `isUuid` is ignored but not `isString`

[2017-10-03 13:19] dili91 opened #6610 "Maven plugin: smart inputSpec config instead of multiple execution blocks"
I was wondering how to generate multiple apis at the same time. The application I'm developing is huge and currently requires almost 200 rest apis. They're split in macro categories across 10 specific swagger files and 1 definition file.

my structure is something like this:

[code]

I read that the suggested approach is to leverage on multiple <execution> blocks on one unique pom file, but person

[2017-10-03 13:21] wing328 commented on #6588
@macjohnny are you going to file another PR to fix the following as originally reported in this issue?
[code]
I don't think isJsonMime is used at the moment:
[code]

[2017-10-03 13:23] wing328 commented on #6604
Does the NodeJS server petstore sample work for you?
[code]

[2017-10-03 13:30] wing328 commented on #6564
@dganoff if your openapi/swagger spec contains the proper security definition for endpoints, then the auto-generated documentation should contain the code samples on how to make the proper call.

Did you have a chance to review the auto-generated doc in the JS API client?

[2017-10-03 13:32] wing328 commented on #6560
@Coke25  Have you tried using `debugOperations` and `debugModels` to troubleshoot?

https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2017-10-03 13:45] macjohnny commented on #6588
@wing328 the issue was resolved with the changes introduced in #6295. This is why in #6295 I removed the `isJsonMime()` method. See also the comment by @bedag-moo https://github.com/swagger-api/swagger-codegen/pull/6295#issuecomment-333179969

[2017-10-03 13:46] macjohnny commented on #6588
@wing328 btw are there already a release schedule for 2.3.0?

[2017-10-03 14:04] sparta15 commented on #6609
I know what is the problem and why the property `isUuid` had been ignored, I'm working in order to have a PR with the fix soon. I hope you guys accept it :)

[2017-10-03 15:08] macjohnny commented on #6306
@taxpon @wing328 this issue should be reopened, as the changes went missing in #6295.
PR #6574 should re-apply them.

[2017-10-03 16:21] wing328 commented on #6519
@tagliala @webron I could repeat the issue with the latest master and agree it shouldn't throw NPE. I'll look into this issue tomorrow to see if I can come up with a PR to better handle the NPE.

[2017-10-03 16:34] BenjaminGill-Metaswitch commented on #5905
There are still some outstanding issues (not least a merge conflict), but I've just opened https://github.com/swagger-api/swagger-codegen/pull/6613 so we can start the conversation.

[2017-10-03 16:59] naelrashdeen opened #6614 "[PHP][Symfony] Improve the implementation"
##### Description

The current PHP Symfony server codegen is heavily based on the vanilla PHP codegen and does not really utilize the stuff Symfony brings to the table. This is especially true for input validation, serialization etc. It also lacks support for basic features such as:

* Proper deserialization of arrays in query, header, formData and path parameters
* Complete input validation that

[2017-10-03 20:10] brnleehng opened #6616 "[R] Enums are not supported"
Models that are enum classes are not being generated correctly, they are missing allowable values from the swagger specs.

How should enums be implemented since R doesn't support it?

enumClass <- R6::R6Class(
  'ElevationLevel',
type1 = "TYPE_1",
type2 = "TYPE_2",
type3 = "TYPE_3",
value = NULL
  public = list(
    initialize = function(value){
self$`value` <- value
    }
  )
)

[2017-10-04 01:30] trajano commented on #3883
One good use case for this is if you are accessing the swagger endpoint with different host names and want the host name to be based on the request URI's host.

[2017-10-04 01:39] trajano commented on #3883
[code]

[2017-10-04 09:12] tzimisce012 commented on #6609
Thanks @sparta15 , I did not realize about this problem until now.

[2017-10-04 10:19] richwinstanley commented on #4813
I am also seeing this issue. Is there currently any plan to fix it?

[2017-10-04 10:37] grokify opened #6618 "[Go] Update to use oauth2"
##### Description

I would like to use `oauth2` with the codegen SDK. This is supported in `resty` v1.

* https://github.com/go-resty/resty/issues/89
* https://github.com/go-resty/resty/pull/91
* https://godoc.org/github.com/go-resty/resty#Client.SetTransport

Issues with codegen SDK reported here:

* https://github.com/grokify/ringcentral-sdk-go-scg/issues/1
* https://github.com/grokify/ringcentr

[2017-10-04 14:20] afrolovsky opened #6621 "allowUnicodeIdentifiers option not supported for Java enum var names"
##### Description

Having enum strings that contain only not-latin characters results in a broken java code where all enum names are made of a single underscore character. There is an ```allowUnicodeIdentifiers``` option, but it is not working in this case.

Part of swagger.json:
[code]

Generated Java code:
[code]

##### Swagger-codegen version

2.2.1
master

##### Swagger declaration file conten

[2017-10-04 15:53] dganoff commented on #6564
@wing328 Yes, I looked over the documentation for each `<Name>Api.md` and they all have a section for "Authorization" that reads "No authorization required". I'm assuming this is where it would document how to set the auth headers.

I'm wondering if the operations from the `path`s in our swagger spec need to have a `security` key in them?

[2017-10-04 16:17] wing328 commented on #6564
Yup, you will need to add `security` to the endpoint definition, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L183

[2017-10-04 17:13] wing328 commented on #6520
https://github.com/swagger-api/swagger-codegen/pull/6571 has been merged into master.

Please pull the latest master to give it a try.

[2017-10-05 08:05] #6568 closed

[2017-10-05 10:44] wing328 commented on #6616
@brnleehng given that R does not support enum natively, I would suggest using the enum value for validation.

(even though the enum value is not used for validation, the server should still validate the request to ensure the value is correct according to the enum defined in the spec)

[2017-10-05 15:51] wing328 commented on #6618
@grokify can you check the latest master (2.3.0), which has Go client refactored and OAuth2 support?

[2017-10-05 16:38] wing328 commented on #6594
@estebanDugueperoux I've filed #6624 to fix the issue and will merge it after all the CI tests pass.

[2017-10-05 20:51] dnn01 commented on #6591
I searched all files within the folder swagger-codegen\modules\swagger-codegen\src\main for the string "withXml" and (in addition to AbstractJavaCodegen.java) found it in several files, but can't figure out how swagger-codegen\modules\swagger-codegen\src\main\resources\Java\ApiClient.mustache, reads the withXml flag from AbstractJavaCodegen.java.  I am inexperienced in Mustache and have limited Ja

[2017-10-05 22:51] jkankiewicz opened #6626 "[Python] Map java.io.InputStream type to str"
##### Description

The Python code generator is outputting a useless `models.input_stream.InputStream` model class for `java.io.InputStream` argument and return values when it should instead be mapping them to Python's built-in `str` type like it already does for `byte[]` values.
The generated model class is useless because it's incapable of conveying a sequence of bytes and an instance of it can

[2017-10-06 01:14] wing328 commented on #6626
The Python client in 2.3.0 (latest master) has been refactored and I would suggest you to give it a try.

If it's still an issue with the latest master, please file a PR so that we can review your change more easily.

[2017-10-06 03:03] #6594 closed

[2017-10-06 03:31] wing328 commented on #6607
cc @jgavris @ehyche @jaz-ah @Edubits

[2017-10-06 11:46] rompic commented on #5372
we have the same problem. is there an update on the milestone?

[2017-10-06 11:47] alanbchristie opened #6627 "Generated python-flask code fails when `tags` contain spaces"
##### Description

When I compile for `-l python-flask` and use spaces in my Swagger tags, e.g.:

[code]

The generated Python server code, when executed as advised in the generated README fails. i.e. if you run this:

[code]

You get the following error:

[code]

The module `swagger_server.controllers.general components_controller` does not exist because it is compiled as `swagger_server.controll

[2017-10-06 13:35] BogdanH95 commented on #4892
Did you came to a conclusion. I'm having the same problem and I don't know what to do

[2017-10-06 15:44] KKC1969 commented on #2666
Did you find a resolution to this?  I's struggling with the same problem.

[2017-10-06 15:44] RedEagle commented on #2961
Any news on this issue?

[2017-10-06 15:46] wing328 commented on #6627
@alanbchristie thanks for reporting the issue. I just work on something similar and will try to fix it over the weekend.

[2017-10-06 16:11] jkankiewicz commented on #6626
It won't make any difference because the `java.io.InputStream` type still hasn't been accounted for in the current master branch.

The changes that I've proposed are in terms of the master branch already. I'm afraid that I can't file a PR because I'm unable to clone your repository due to my version of OpenSSL which I'm not at liberty to update.
The addition of the type mapping should fix the prob

[2017-10-06 16:16] wing328 commented on #6626
cc @taxpon @frol @mbohlool @cbornet

[2017-10-06 16:18] jimschubert commented on #2666
Thanks for bumping this, I don't recall seeing the next to last response.

Only file configs are currently supported. Did you read somewhere that swagger definitions could be pulled from the classpath?

[2017-10-06 16:48] mbohlool commented on #6626
We had the same problem with some types in kubernetes and in the preprocessing step of our client generator we replaced empty definitions (here I assume InputStream is one of them) with a proper type like object or string (empty definitions means no properties). Though io.java.InputStream seems to be a standard class, this is a side effect of your spec generator and I am not sure if it is a good i

[2017-10-06 17:53] alex-fisher opened #6629 "C# Custom JSON Content-Types not working"
##### Description

When generating an SDK for API endpoints with custom json content-types, the current logic in the ApiClient class overrides the content-type to 'application/json' if the type of the request body is string.

##### Swagger-codegen version

Latest stable version 2.2.3

##### Command line used for generation

-jar sdk-generate.jar generate -l csharp -i <owin server> -o output  -Dmod

[2017-10-06 17:59] KKC1969 commented on #2666
I thought that I had read somewhere that classpath:... was an option.  But maybe it was just other wishful thinkers like myself.  It should be fairly easy to add that support - I'll look into it and maybe contribute a recommended enhancement.

[2017-10-06 18:13] taimuri commented on #4892
It didn't work, I had to use okhttp for that

[2017-10-06 18:14] jimschubert commented on #2666
Since the cli and Maven plugin both use CodegenConfigurator, that may be the best place to start.

[2017-10-06 18:22] jkankiewicz commented on #6626
@mbohlool, Can you provide link(s) to the documentation for specifying type mappings via configuration?

[2017-10-06 20:52] johnnyxh commented on #5745
Hey, also wondering what the status is on the 2.3.0 release

[2017-10-06 21:00] sheltonc opened #6631 "CsharpDotNet2 generates UUID instead of Guid"
**swagger-codegen-cli-2.2.1.jar** (incorrectly) generates the type **UUID** instead of **System.Guid** when targetting CsharpDotNet2.

However, when using the online swagger editor, the generated code creates the correct type from the same swagger.json.

I've attached a repro using docker.
Steps:
1. Execute run.ps1
2. The output file ./CsharpDotNet2/src/main/CsharpDotNet2/IO/Swagger/Api/RegisterAp

[2017-10-07 02:12] wing328 commented on #2961
@RedEagle would you have time to contribute the fix? I can show you some good starting points.

[2017-10-07 04:05] #6339 closed

[2017-10-07 13:42] #6206 closed

[2017-10-07 15:42] will-beta opened #6632 "When is 'modelPropertyNaming' config option necessary?"
I have some APIs coded with c#, conforming to PascalCase naming conversion for the property of classes (also in the swagger document).
After I generated a Typescript-Node client library with [swagger-online-editor](https://swagger.io/swagger-editor/) , to my surprise I found that the generated properties of classes are camelCase.
So after some researching, I found the 'modelPropertyNaming' config

[2017-10-08 07:33] wing328 commented on #6631
@sheltonc please try with the latest master as 2.2.1 was released a while ago.

SNAPSHOT version can be found in https://github.com/swagger-api/swagger-codegen#compatibility

[2017-10-08 07:34] #6601 closed

[2017-10-08 07:42] wing328 commented on #6596
@Faerylnahr good to see that you can customize the output to make it work with .NET 4.0

I think this is something we can help. We can work together as follows:

1) you use https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml to generate
2) publish it in your github repo
3) we compare that C# petstore client generator by the defaul

[2017-10-08 08:23] wing328 commented on #6582
@tomrom95 do you need help filing a PR with the suggested fix?

cc @taxpon @frol @mbohlool @cbornet

[2017-10-08 10:38] #6519 closed

[2017-10-08 10:39] wing328 commented on #6519
@tagliala I've fixed the issue via #6635

Please pull the latest master to give it a try or use the SNAPSHOT version as mentioned in the README.

[2017-10-08 10:46] Faerylnahr commented on #6596
Sounds good to me! I'll to my best to provide you the stuff you need :-)
Just to get you right: Do I publish the generated (and already modified) C# client? Because you are speaking of a generator and I'm a little bit confused what exactly you are expecting to get.

[2017-10-08 10:56] wing328 commented on #6596
Please push the C# petstore code with the fix for .NET 4.0

2017年10月8日 下午6:47，"Faerylnahr" <notifications@github.com>寫道：

[2017-10-08 19:49] Faerylnahr commented on #6596
I just recognized that I generated the c# client the wrong way. I didn't change the build.bat correctly. I did change the lib versions but not the framwork version. Thus I got `CS0241: Default parameter specifiers are not permitted` errors.
All that has to change are the following three files:
**\build.bat** (change the versions for Newtonsoft & Restsharp)

[code]

**\src\IO.Swagger\packages.confi

[2017-10-09 01:28] #6627 closed

[2017-10-09 01:29] wing328 commented on #6627
@alanbchristie I've fixed the issue via #6637. Please pull the latest master to give it a try or use the SNAPSHOT version mentioned in the README.

[2017-10-09 01:57] masaeedu opened #6639 "[TypeScript-Node] Can't generate Docker API client with swagger-codegen"
##### Description

Attempting to generate client for Docker API results in several warnings, and when invoked via API results in an error (curl invocation below):

[code]

The response (which has status 400) is as follows (notice the `Exception: null` at the end):

[code]

When invoked via the CLI, something ends up getting generated, although the following warnings appear:

[code]

Additionally,

[2017-10-09 02:05] ehyche opened #6641 "Swift4: Need additional initializer which uses properties"
##### Description

I am filing this issue to track the discussion which took place in this PR for swift3: https://github.com/swagger-api/swagger-codegen/pull/6492

The request was to add an additional initializer for swift4-generated models. This initializer would take all of the properties, and thus would allow you to initialize a model object without having to decode it from JSON.

##### Swagger

[2017-10-09 02:25] wing328 commented on #6632
@will-beta Some generators (e.g. JavaScript) do not have a proper way to map between JSON key names and object property names (JSON serialization/deserialization) and therefore we introduced the 'modelPropertyNaming" option to let the users specify the naming convention instead of following the style guide of the respective language.

If I remember correctly, the community has added proper JSON se

[2017-10-09 08:50] ornithocoder opened #6643 "[Swift3] Crash when building an array of strings (from enum)"
##### Description

My project is using the DayOfWeek definition from Google (see below) but swagger-codegen is having problems to JSON-encode it as an array of strings.

Google's protobuf is defined as:

[code]

Swagger-codegen creates the following code:

[code]

When encoding to an array of strings, instead of using the raw values from the enums, it's referencing the type. in other words, `[.mon

[2017-10-09 10:44] IngvarJackal commented on #2874
though no import, ```objectMapper.registerModule(new JavaTimeModule());``` still exists

[2017-10-09 14:08] mischac opened #6644 "Question 2-0/authentication : Multiple Authentication Types"
##### Description
From https://swagger.io/docs/specification/2-0/authentication/#multiple I understand that one can distinguish re **AND** vs **OR** in case there are more than one securities for an operation.

However in  gen model `CodegenOperation` we have
`public List<CodegenSecurity> authMethods;`.

So it is unclear how a generator can deal with different combinations for multiple securities

[2017-10-09 14:26] trein commented on #6576
Thanks for fixing the bug. For historical reasons, can you provide more information on the version this fix will be release?

[2017-10-09 15:06] larssb opened #6645 "[PowerShell] Incorrect declaration of parameter type, when the parameter is of type Dictionary/Hashtable."
##### Description
When using codegen to output PowerShell code based on [X] OpenAPI specification parameters of datatype <Dictionary> are not declared in the proper PowerShell syntax. See the attached picture for an example (the file named >swaggerDictionaryIssue_171009.PNG).

##### Swagger-codegen
* v2.2.3 downloaded from https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-c

[2017-10-09 15:07] niebloomj commented on #5733
Any update on this? Using swagger in our react app is a nightmare without types.

[2017-10-09 15:16] wing328 commented on #5733
cc @CodeNinjai @frol @cliffano

[2017-10-09 15:19] trein opened #6646 "Why is port in `swagger-codegen generate` not added to basePath in generated clients?"
##### Description

It may not be a bug. I would just appreciate some clarification on how `basePath` is defined when generating clients.

I'm currently generating my Android and Swift client through:

[code]

Even though `SPEC` url contains port 8080, the generated code does not add it to `basePath` ariable:

[code]

##### Swagger-codegen version

HomeBrew Swagger CodeGen v2.2.3

##### Swagger dec

[2017-10-09 15:23] bmordue opened #6647 "[JAVA] Bug: Feign client applies Content-Type header when no request body is present"
##### Description

Requests with no body parameters (ie, no request body) should not include a Content-Type header. It's not necessary, and it could cause problems with parsing the request at the server side.

##### Swagger-codegen version

2.3.0 (90010da61)

##### Swagger declaration file content or url

[code]

##### Command line used for generation
[code]
##### Steps to reproduce

Generate a Ja

[2017-10-09 15:49] wing328 commented on #6591
@dnn01 I've added the "withXml" option to the branch "csharp_with_xml" (https://github.com/swagger-api/swagger-codegen/tree/csharp_with_xml)

Please check it out when you've time.

[2017-10-09 15:51] jaz-ah commented on #6643
@ornithocoder can you try out 2.3.0 since many changes were added to fix issues there...

[2017-10-09 17:42] ornithocoder commented on #6643
Sure @jaz-ah. I'll give it a try tomorrow morning. Thanks :-)

[2017-10-09 17:51] pgrm opened #6649 "Angular 4+ TypeScript coge generator with HttpClient is broken if post / put / patch don't have body"
##### Description

Looking at the lines https://github.com/swagger-api/swagger-codegen/blob/f3e19e0fdc1ae6416c37bb637521323d88939a9f/modules/swagger-codegen/src/main/resources/typescript-angular/api.service.mustache#L241-L252

If no body and form params are defined in put or post (which is possible), the generated code looks like this:

[code]

which causes

[code]

to be treated and sent as the b

[2017-10-09 18:49] GrahamJohnson opened #6650 "serializableModel config option does not work for JAX-RS spec"
##### Description

JAX-RS spec `serializableModel` config option does not generate imports for `java.io.Serializable`, causing compile errors on `implements Serializable`.

##### Swagger-codegen version

`2.2.3`, `master`

##### Steps to reproduce

1. Add `-DserializableModel=true` to `jaxrs-spec-petstore-server.sh`
2. Run `bin/jaxrs-spec-petstore-server.sh`
3. Observer that generated model classe

[2017-10-09 19:33] GrahamJohnson commented on #6650
PR: https://github.com/swagger-api/swagger-codegen/pull/6651

[2017-10-10 10:04] xmeng1 commented on #3930
I think maybe we should decouple the interface and implement firstly, which is easier to mock implement for testing on clients. (I am using Jersey2, if I want to test the client code with invoking api, I need to run the server or mock the server. If the interface is decoupled, I can unit test with mock implementation.) Am I right to this point?

[2017-10-10 10:25] jihlee commented on #6397
@wing328 @dgroomes Added PR to #6652 to fix the issue

[2017-10-10 10:45] macjohnny commented on #6649
@pgrm can you check whether this is still an issue with https://github.com/swagger-api/swagger-codegen/pull/6574?

[2017-10-10 11:33] larssb commented on #5352
I have a very similar issue as this one. Therefore, I allow myself to post it in this issue instead of creating an extra issue for something so similar.

**Issue**
This spec.: https://gist.github.com/larssb/d00e4cf200d85423152df75703d84076 <-- is not interpreted correctly regarding enums. I executed `java -jar swagger-codegen-cli-2.2.3.jar generate -i ./octopusDeploy.json -l csharp -o FolderName -

[2017-10-10 14:41] #6397 closed

[2017-10-10 14:45] #6650 closed

[2017-10-10 14:55] #6457 closed

[2017-10-10 15:20] JLLeitschuh commented on #3930
That's the general idea, yes.

[2017-10-10 15:24] macjohnny commented on #6306
This issue was resolved with https://github.com/swagger-api/swagger-codegen/pull/6574 and can be closed

[2017-10-10 15:37] #6306 closed

[2017-10-10 15:40] xmeng1 commented on #3930
If we just make interface template with XXApi class, with only method signature. I think it should be easy and no affection for current usage. But is there anything else should be considered?

[2017-10-10 16:06] JLLeitschuh commented on #3930
You can see how I did this for spring as a part of #4439
I did this in a project that I was working on so that it would support DI this way:
https://github.com/WPIRoboticsProjects/GRIP/pull/676/files#diff-5c3416eb141bfe6552f621599c2a7474
(the link takes a second to load because it's a huge diff).

[2017-10-10 16:11] francisbrito commented on #6506
To anyone looking for a quick workaround: create a `definitions` section. Should work after that.

[2017-10-10 16:17] pgrm commented on #6649
@macjohnny I've just now used the latest master to generate my new client, and the issue is still there

[2017-10-10 16:23] xmeng1 commented on #3930
I am not very familiar with Spring MVC, I am familiar with Guice. If the interface level code is generated for the current XXXApi class, I think most of DI framework can use it easily.
Actually, the urgent requirement for me is the unit test for functions that use the XXXApi. Currently, I use the constructor to inject the instance and mock the XXXApi totally in the unit test.

[2017-10-10 16:41] wing328 commented on #3930
@xmeng1 we would love to see a [Guice](https://github.com/google/guice) generator as well 😃

[2017-10-10 17:00] macjohnny commented on #6649
@pgrm I will try to create a fix and open a new PR

[2017-10-10 17:06] JLLeitschuh commented on #3930
The example that I had above was using Guice. I don't remember what generator I used to make that work though. JavaRX maybe?

[2017-10-10 17:21] wing328 commented on #6645
@larssb thanks for the feedback.

cc @beatcracker

[2017-10-10 18:28] p-buse opened #6654 "[Python Server] Enums don't work in Python Server"
##### Description
Enums don't get translated properly when using language `python-flask`.

##### Swagger-codegen version
I'm using version `2.3.0-SNAPSHOT`, in Docker.

##### Swagger declaration file content or url
https://gist.github.com/p-buse/bf29f7b13ce1b7f412266165e1423ca3

##### Command line used for generation
`./run-in-docker.sh generate -l python-flask -o python-server -i openapi.yaml`

#

[2017-10-10 18:31] pgrm commented on #6649
@macjohnny FYI, this is how I solved it for now - https://github.com/apaleo/swagger-codegen/commit/57cf9b6388c78bd821263ff9c02d989be4781caf

[2017-10-10 19:50] hce commented on #6400
Sorry for the late reply; tested and it works fine! Thanks!

[2017-10-10 21:04] brnleehng commented on #6616
For deserialize an enum, do we need to validate the server response and change the enum response to all lowercase?

[2017-10-10 21:07] dnn01 commented on #6591
@wing328,

Here's what I did:
1. Built the csharp_with_xml branch using `mvn clean package`
2. Grabbed a copy of modules\swagger-codegen-cli\target\swagger-codegen-cli.jar
3. Ran the command` java -jar swagger-codegen-cli.jar generate -i swagger.json -l csharp --additional-properties withXml=true`

Please let me know if I missed anything.

I do not see any XML support in the APIClient and I believ

[2017-10-11 01:50] wing328 commented on #6591
Yup, you will need to use {{#withXml}}  ... {{/withXml}} or {{^withXml}} ... {{/withXml}} in the mustache template to add new code on handling XML payload.

[2017-10-11 04:24] jimschubert commented on #5848
Haven't heard back, I'm not sure if what I said was clear or not.

You may also want to check out this possible related issue: swagger-api/swagger-ui#2837

[2017-10-11 10:14] katilius opened #6655 "[JAVA] Bug: Code with compile errors is generated for 'path' query param"
##### Description

If you have path as your query parameter, code gen generates non compilable Java client.

##### Swagger-codegen version

2.2.3

##### Swagger declaration

[code]

##### Variable name clashes with this

[code]

[2017-10-11 11:15] jschoedt commented on #6553
I think it would be more clean to use [Completable](http://reactivex.io/RxJava/2.x/javadoc/io/reactivex/Completable.html) as the return type although Response also works.

[2017-10-11 11:27] fonix232 commented on #3795
This issue should be looked into. I'm experiencing the same on a proprietary spec where we have a base return type and multiple inheriting objects using discriminator in the parent to decide type, and various enum fields on the inheriting types.

No matter where the enum is, `swagger-codegen` crashes with pretty much every generator where the model is processed. This definitely happens after the s

[2017-10-11 12:16] Faerylnahr opened #6657 "[C#] Declaring ApiClient:InterceptRequest as virtual instead of partial"
##### Description

I use a C# client generated with swagger-codegen. In order to log some diagnostic Information I would like to make use of InterceptRequest and InterceptResponse. Unfortunately both methods are declared as partial instead of virtual. Thus I cannot override these methods and I would like to avoid to manually manipulate the generated code afterwards. Maybe someone can give me a hin

[2017-10-11 12:18] Faerylnahr commented on #6657
Closing the issue was by mistake... :-/

[2017-10-11 12:20] Faerylnahr commented on #6657
Leave a comment

[2017-10-11 12:47] wing328 opened #6658 "Travis CI tests broken due to change in MacOSX image"
##### Description

Travis CI tests broken due to change in MacOSX image. The error message is as follows:

❌  “Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

▸ Building P

[2017-10-11 13:07] wing328 commented on #6658
Commented out Swift-related tests for the time being via b5a01b5

[2017-10-11 13:15] no-logic commented on #6598
Open issue here as well, with no timeline for support mentioned yet. https://github.com/swagger-api/swagger-codegen/issues/4669

[2017-10-11 13:49] wing328 commented on #6655
@katilius Have you tried the `localVariablePrefix` option?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/resttemplate/api.mustache#L74

[2017-10-11 13:56] katilius commented on #6655
Oh, I've missed this one. With localVariablePrefix it does compile.
Although, probably it needs better documentation for that kind of cases.

[2017-10-11 13:58] wing328 commented on #6655
Please feel free to submit a PR to improve the documentation :)

[2017-10-11 13:58] #6655 closed

[2017-10-11 15:15] wing328 commented on #6657
I would suggest you to try the latest master to generate the C# client, which has been refactored. The SNAPSHOT version of the latest master can be found in the project's README.

You may also want to review and try the following PR, which adds capabilities to have better logging:

https://github.com/swagger-api/swagger-codegen/pull/5689

[2017-10-11 15:27] wing328 commented on #6616
For ruby, we introduce a function "valid?" to see if the object contains valid values: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/lib/petstore/models/pet.rb#L132-L138

It uses EnumAttributeValidator to help with the validation

We can probably do something similar in the R client.

[2017-10-11 17:17] macjohnny commented on #6649
@pgrm glad to see you found a fix. could you please open a new PR with your changes and generate the samples? I guess you should also be aware of https://github.com/swagger-api/swagger-codegen/pull/6496, which will hopefully be merged soon.

[2017-10-11 18:34] hce commented on #6400
My mistake, the issue *still* does exist.

Just tested again with the 30a176126aa3600b6252f80b84040a1ab351c125 commit (latest)

[2017-10-11 20:55] jkankiewicz commented on #6626
It appears that the alternative to specifying the mapping of the `java.io.InputStream` type to `str` in the Python generator itself is to enable the `configuration.configOptions.import-mappings` tag in the POM file (corresponding to the `--import-mappings` command line option) for the Python generator so that it can be specified on an as-needed basis instead.

@mbohlool, Do you agree with that ass

[2017-10-11 21:02] mbohlool commented on #6626
That sounds good to me.

[2017-10-12 04:12] brendanclement commented on #5081
@ePaul if different namespaces were desired for multiple packages then it would make more sense in the definition file. A generator configuration would be a better use case if the namespace/package was static for all models.

@fehguy - I'm interested in discussing this proposal further. This would allow customization across languages -- but another option could be parsing the definition key as you

[2017-10-12 05:33] maheshmahadevan commented on #4198
Question - if you want to override only a single tempate i.e such as pojo.mustache , do we still need to replace the whole template directory, or does swagger can use other templates from default directory or only override the one provided in CLI option

[2017-10-12 07:12] SimonCheung1989 opened #6662 "how to specify springboot version"
Hi, how can i specify springboot version when i use command line to generate spring code?

[2017-10-12 07:22] rvaidya commented on #5758
+1 this would be very helpful

[2017-10-12 08:11] cbornet commented on #6662
You can customize the pom.xml (or .gradle/sbt depending on your build tool) by providing your own template with the `--template-dir` option

[2017-10-12 09:35] wing328 commented on #5758
@rvaidya may I know if you've time to contribute the generator? https://github.com/swagger-api/swagger-codegen/pull/6014/files is a good starting point on what files need to be added.

[2017-10-12 10:01] wing328 commented on #6400
@hce when you've time, can you also test the `swift4` generator to see if it has similar issues?

cc @ehyche @jaz-ah @jgavris @Edubits

[2017-10-12 10:04] wing328 commented on #6654
Yes please. We wanted to sync the Python model template to Python Flask but no one can find the time. I wonder if you can help on this.

Let me know if you need some good starting points (e.g. template folder)

[2017-10-12 13:12] giflw commented on #5758
I've starred on this fork https://github.com/giflw/swagger-codegen, branch `sparkjava-generator`. Help is appreciated :grinning:

[2017-10-12 17:50] emtiazahmed commented on #3812
How do I use tell maven-plugin to generate async scala client?
I am using the following configuration:
`<plugin>
                <groupId>io.swagger</groupId>
                <artifactId>swagger-codegen-maven-plugin</artifactId>
                <version>2.3.0-SNAPSHOT</version>
                <executions>
                    <execution>
                        <goals>

[2017-10-12 18:48] kerednai opened #6667 "[Java] Generating response object"
##### Description
This is probably an error on my part, but I cannot seem to find any documentation on this.
If I generate a swagger.yaml file from a method that returns a javax.ws.rs.core.Response object it doesn't generate the response object in my swagger, but if I use a concrete class such as VersionInfo it does with a schema ref (see examples below). Most of the examples on the web, like pet