[2017-04-29 15:56] wing328 commented on #4899
@iamsamwood please pull the latest 2.3.0 and build the JAR locally to give the fix a try.

[2017-04-29 15:56] #4899 closed

[2017-04-29 16:11] wing328 commented on #2330
The circular reference issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/5478 (by @wy-z) if I'm not mistaken.

[2017-04-29 21:38] bardware opened #5514 "Validator badge misses host in path to json spec"
##### Description

I compiled the ` validator-badge` project to a war file and started it in a jetty instance on port 9091. I modified file `\modules\swagger-generator\src\main\webpp\index.htm`, I added the line `validatorUrl: "http://localhost:9091",` in the call to `const ui = SwaggerUIBundle`. I compiled `swagger-codegen` and started the war in a jetty container on port 9090. Now, I call the `s

[2017-04-30 05:11] bbdouglas opened #5515 "hasMore field in supporting files authMethods incorrect"
##### Description

The hasMore field of the global authMethods dictionary in the supporting files is incorrect for the petstore.yaml sample.

[code]

I noticed this when trying to generate the clojure samples, which produced a strange-looking line in `core.clj`:

    (def auth-definitions
      {"api_key" {:type :api-key :in :header :param-name "api_key"}"petstore_auth" {:type :oauth2}
       })
#

[2017-04-30 16:54] fisherliu commented on #5498
I don't have the push access.
File uploads require push access to this repository.

remote: Permission to swagger-api/swagger-codegen.git denied to fisherliu.

[2017-04-30 16:57] wing328 commented on #5498
You need to fork this repo to begin with. Please take a look at https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements to see if that helps.

[2017-04-30 17:00] fisherliu commented on #5498
The changes are like below. I tested simply . Could you or someone else help add?
swagger-codegen\modules\swagger-codegen\src\main\resources\Java\beanValidation.mustache
[code]
swagger-codegen\modules\swagger-codegen\src\main\resources\Java\model.mustache
[code]

[2017-05-01 06:17] ChandrakantRathod commented on #5508
Hi

Can anyone please help me on my issue?

[2017-05-01 07:46] wing328 commented on #5515
Closed via #5516

[2017-05-01 07:46] #5515 closed

[2017-05-01 08:04] wing328 commented on #3565
@ivucica when you've time I wonder if you can check out 2.3.0 branch to generate Go API client, which has been rewritten by @antihax with a lot of enhancements, and let us know if you've any feedback. Thanks!

[2017-05-01 08:05] wing328 commented on #5508
For feedback/question related to Swagger UI, please report to https://github.com/swagger-api/swagger-ui

[2017-05-01 08:05] #5508 closed

[2017-05-01 08:23] wing328 commented on #5513
@sumo300 thanks for reporting the issue. Seems like we need to provide a converter function as described in http://stackoverflow.com/questions/18635599/specifying-a-custom-datetime-format-when-serializing-with-json-net

May I know if you've time to contribute the enhancement? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resour

[2017-05-01 08:25] wing328 commented on #5507
@TeMob you're correct in saying that byte array and binary are both mapped to `Data`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Swift3Codegen.java#L149-L150

For `binary`, what would you suggest to present it in Swift?

[2017-05-01 08:32] wing328 commented on #5506
@zzsoszz looks like it's removed somehow 😞

@cbornet @diyfr would you please take a look when you've time?

[2017-05-01 08:35] wing328 commented on #5500
@TeMob can you give an example of the HTTP body? we want to know the request body looks like.

[2017-05-01 08:38] wing328 commented on #5469
@TarekDeeb thanks for reporting the issue. Can you please try the Java (okhttp-gson) or Retrofit2 API client to see if the same issue occurs?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-05-01 08:40] wing328 commented on #5480
@davidpasztor thanks for reporting the issue. When you've time, I wonder if you can try the 2.3.0 branch to generate Swift3 API client, which contains some enhancements (breaking changes), to see if the same issue still occurs.

cc @jaz-ah @Edubits @jgavris @hexelon

[2017-05-01 08:44] wing328 commented on #5479
@inthegarage thanks for reporting the issue. Can you give the latest master a try to see if the issue still occurs?

[2017-05-01 08:44] wing328 commented on #5486
Closed via #5487

[2017-05-01 08:44] #5486 closed

[2017-05-01 12:40] kirpit commented on #5453
Hi @wing328, please have a look at the PR #5519.

[2017-05-01 15:39] jimschubert commented on #5513
@wing328 this should be considered a breaking change. I can pick it up within the next week or so if @sumo300 doesn't call dibs.

[2017-05-01 15:40] jimschubert commented on #5513
Also, proper formats for `date` and `date-time` are documented [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types). This may affect more generators than just the C# ones.

[2017-05-01 16:35] tbe opened #5521 "[C++][Qt5] Rebuild of Qt5 Code Generator"
The Code generated by the qt5cpp generator is incomplete and does not really match the other client library structures ( like cpprest, perl, ... ).

I would create a complete new set of templates and adapt the generator code, to make sure, the Qt5CPP generator behaves like cpprest and is more feature complete.

Is there any active maintainer for Qt5 or such a project already in progress?

As there

[2017-05-01 19:19] DavidBiesack opened #5522 "Allow language generators to supply a custom ExampleGenerator via CodegenModelFactory"
##### Description

DefaultCodegen hard codes instantiation of ExampleGenerator which currently generates examples which differ from Swagger UI (i.e. uses "aeiou" for strings instead of "string", etc.)

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

java -jar swagger-codegen-cli

[2017-05-01 20:09] inthegarage commented on #5479
@wing328 Sorry, I get the same line with 2.2.3-SNAPSHOT:

`    ResponseEntity<EventInfoList> getEventInfo(@ApiParam(value = "One of [USERNAME, EVENTTYPE, ACTION, AREA, MODEL, PUBID, VERSION, CONTENTPID]",required=true, allowableValues="{values=[USERNAME, EVENTTYPE, ACTION, MODEL, PUBID, VERSION, CONTENTPID], enumVars=[{name=USERNAME, value="USERNAME"}, {name=EVENTTYPE, value="EVENTTYPE"}, {name=AC

[2017-05-01 21:37] webron opened #5524 ""Generate Client" -> "C# .NET 2.0" adds redundant subclass get/set methods from superclass, that hide superclass implementation"
_From @patrickoshaughnessey on May 1, 2017 21:17_

If you create a subclass of an object using the 'allOf' mechanism, then generate the C# 2.0 code, you end up with getters/setters generated in both the superclass and subclass for the superclass's properties. An older version of the editor used to properly generate only the superclass methods.

_Copied from original issue: swagger-api/swagger-edit

[2017-05-02 00:56] antihax commented on #5442
Still present.

[2017-05-02 01:16] jimschubert commented on #5071
@wing328 I'd like to take this up within the next month or so if nobody else wants to do it. I have an existing Kotlin client project which should be fairly easy to convert over.

@cbornet while the Java -> Kotlin conversion often "works", it is neither idiomatic or ideal. In many cases, the generated code will have horrible performance.

[2017-05-02 01:20] jimschubert commented on #5524
@patrickoshaughnessey How long ago did the editor generate the code as expected? The C# 2.0 client generator has only had [6 or so commits](https://github.com/swagger-api/swagger-codegen/commits/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CsharpDotNet2ClientCodegen.java) in the past year, so a timeframe may help track down the cause.

[2017-05-02 01:40] taxpon commented on #5466
@wing328 I am interested in working on this issue. Please wait for while before sending PR.

[2017-05-02 01:46] jimschubert commented on #5470
@wing328 I think to be true to node.js culture, the API client base implementation and default implementation should be published to npm separately.

For example:

1. swagger-apiclient-base
2. swagger-apiclient-http

Then, separate projects (outside of swagger-codegen) could maintain and publish other versions like a `swagger-apiclient-fetch` or `swagger-apiclient-tcp`.

[2017-05-02 02:02] jimschubert commented on #5138
@wing328 I would disagree that merging the C# 2.0 generator into the others will lead to easier maintenance.

The other generators currently use syntax which is unavailable in C# 2.0 (object initialization, default/named parameters, implicit types). As well, there are additional keywords in later versions which are not keywords in C# 2.0. It's been nearly ten years since I last used C# 2.0, but I

[2017-05-02 02:17] jimschubert commented on #3085
last item on this PR is to fully remove the aspnet5 generator. I'd recommend doing this after the 2.3.0 release, but I wouldn't be sad if it happened beforehand. @wing328 thoughts?

[2017-05-02 02:41] jimschubert opened #5527 "[csharp] Rework version selection"
##### Description

PR #4955 added support for .NET Standard 1.3 as `targetFramework=v5.0`. This version refers to the PCL Version. This is unintuitive for a number of reasons. First, dnx core 5.0 was a version of .NET Core which coincided with .NET Framework 4.5.1. Second, the targetFramework is meant to refer to .NET Standard 1.3, which supports more than just the latest and greatest. Lastly (for

[2017-05-02 04:12] patrickoshaughnessey commented on #5524
Honestly, it was probably over 6 months ago.

[2017-05-02 04:15] patrickoshaughnessey commented on #5524
It was at least one version back from whichever version is installed at http://editor2.swagger.io

[2017-05-02 07:26] wing328 commented on #5466
@taxpon thanks for the PR 👍

@kenjones-cisco please pull the latest master to give it a try.

[2017-05-02 07:26] #5466 closed

[2017-05-02 07:49] wing328 commented on #5521
@tbe thanks for offering help to improve the Qt5 C++ generator.

I would suggest you to base your enhancement on 2.3.0 (for breaking changes)

I've copied the contributors of Qt5 C++ generator below:

@Ragnis @fehguy @sabras75 @philicious @fortiumant @marache

Ref: https://github.com/swagger-api/swagger-codegen/pulls?utf8=%E2%9C%93&q=is%3Apr%20label%3A%22Client%3A%20C%2B%2B%22%20is%3Aclosed%20QT5

[2017-05-02 08:11] marache commented on #5521
Hi @tbe, we have a current WIP version of a closer to Qt5 way of doing things, I'll try to propose this has a Pull Request linked to this issue. It might be a great way of starting a discussion ?

[2017-05-02 08:23] tbe commented on #5521
Hi @marache , that would be great.

@wing328, @marache  i think, using [QNetworkAuth](https://doc-snapshots.qt.io/qt5-5.8/qtnetworkauth-module.html) for handling OAuth/OAuth2 as an optional feature would be a good idea. Any thoughts about this?

We could just ignore the authentication key handling for OAuth/OAuth2 based services and allow the user either to handle the complete authentication flow

[2017-05-02 08:28] marache commented on #5521
It's not a PR yet as we did a new plugin, I pushed the latest version here : https://github.com/cstb/qt5-swagger-codegen

[2017-05-02 09:37] davidpasztor commented on #5480
@wing328 I have tried the 2.3.0 branch and sadly the issue still exists. The implementation of the function mentioned in my issue has not been changed and hence the issue has not been resolved in the 2.3.0 branch.

[2017-05-02 09:56] wing328 commented on #5521
Never use it myself. After reading the doc, I think we should give it a try 👍

[2017-05-02 10:10] cthiebault opened #5529 "[Maven] How to split swagger spec file?"
Using `swagger-codegen-maven-plugin:2.2.2`, I can't find a way to split my swagger spec file (swagger.yaml & pet.yaml).

pom.xml
[code]

swagger.yaml

[code]

pet.yaml

[code]

Log

[code]
Here is the Gist to reproduce this:
https://gist.github.com/cthiebault/c3007781b9ba17600411c86ea25c2d4a

Is this feature supported by Java/Maven plugin?

[2017-05-02 11:11] wing328 commented on #4171
PR (https://github.com/swagger-api/swagger-codegen/pull/5379) merged into master. Thanks for your contribution.

[2017-05-02 11:11] #4171 closed

[2017-05-02 11:26] wing328 opened #5530 "Option to disable validation in the API clients"
##### Description

Currently, there's no way to disable validation in the API clients and therefore we cannot use the API clients to perform integration tests with the RESTful backend (e.g. the API client cannot send requests with incorrect values as the client validation rule will fail the operation)

We'll introduce an option (e.g. `client_side_validation` in the configuration object)

##### Swa

[2017-05-02 11:39] wing328 opened #5531 "Review serialization and deserialization of `date` property"
##### Description

Review serialization and deserialization of `date` property as it might not be (de)serialized correctly to `full-date` in RFC3339

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/5513

##### Suggest a Fix

We'll need to write test cases in Petstore sample client to cover this.

[2017-05-02 11:39] wing328 commented on #5513
Yup, I've created https://github.com/swagger-api/swagger-codegen/issues/5531 for tracking.

[2017-05-02 11:40] wing328 commented on #5513
To me, it's more like a bug fix so I'm ok to see the fix going to master instead of 2.3.0.

[2017-05-02 11:45] jimschubert commented on #5513
I totally agree. I doubt anyone is using master in CI pipelines.

[2017-05-02 12:28] vagy13 opened #5532 "Access vendor extensions from Mustache template"
##### Description
Say we define a vendor extension 'x-myExt' as part of a Swagger Definition like:

[code]

How do we then access this extension in a Mustache template?
I've tried the following:
[code]
but none works as expected.

If in the Mustache template I write:
[code]
in the generated file I get:
[code]
Shouldn't this be:
[code]
?
##### Swagger-codegen version

2.2.2

##### Swagger declarati

[2017-05-02 13:09] hawkish opened #5533 "msf4j codegen doesn't include the basepath declaration"
##### Description

The command "swagger-codegen generate -l msf4j -i swagger.yaml" should use the basepath declaration if the basepath is included in the yaml file. This doesn't happen. Instead the generated API class ignores the basepath and excludes it from all generated @Path annotations.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]

##### Command

[2017-05-02 13:25] sumo300 commented on #5513
@wing328 @jimschubert Have at it!  By the time I learn what actually needs to be done here, you will likely have it completed!  Thanks for recognizing the issue so quickly and jumping on it.

[2017-05-02 13:50] kenjones-cisco commented on #5466
@wing328 The validate option works as expected.
There are some other issues in master currently. But they are unrelated to this change.

Great job! @taxpon Thanks!

[2017-05-02 14:02] wing328 commented on #5466
Can you please elaborate on that?

[2017-05-02 14:04] kenjones-cisco commented on #5466
I am making note as I go through all the latest changes.

[2017-05-02 14:36] kenjones-cisco opened #5534 "[Java Spring] escaping of example for bean properties"
##### Description

As part of change #5247 the approach for escaping the values associated with `example` from the API spec for a given attribute changed. The result is `error: illegal escape character`

##### Swagger-codegen version
master
regression from previous output

##### Swagger declaration file content or url

[code]

##### Command line used for generation

swagger-gen-cli generate -i ${A

[2017-05-02 15:07] wuf810 opened #5535 "[Swift3]Classes with no properties but with additionalProperties are not correctly created"
##### Description

If a class has no properties defined but does have additionalProperties defined, it is incorrectly created as an empty "typealias" and not a concrete class

##### Swagger-codegen version

Latest Master 4512619acfca303c6ebce02ae8177ccd61cb2275

2.2.2

##### Swagger declaration file content or url

YAML which generates the issue :
[code]
##### Command line used for generation

gen

[2017-05-02 17:00] kenjones-cisco commented on #5534
After looking at the issue closer, it seems another change resulted in the escape character `\` being applied. The change that was done to within #5247 when applied to JavaSpring pojo.mustache actually resolves the problem.

[2017-05-02 18:02] synackSA opened #5538 "Escaped D in the dataType DateTime with generated PHP libs"
##### Description

When generating some php libs, the `format` of `date-time` is supposed to be converted to `DateTime`, but is instead being prefixed with a `\`, resulting in `\DateTime`.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]
##### Command line used for generation

`java -jar /usr/local/bin/swagger-codegen.jar generate -l php -i v5.yaml -o te

[2017-05-02 18:11] synackSA commented on #5538
I just realized it's because it is the \DateTime class in PHP. I'm dumb, excuse me.

[2017-05-02 18:11] #5538 closed

[2017-05-02 22:25] dnome2 opened #5539 "title in index.html page for codegen of -l dynamic-html"
##### Description
i'm trying to generate code with -l dynamic-html and wondering if there is a way to assign a value to the title of the index.html webpage that is generated..by default its title is "Swagger API Docs".
Is there a parameter to set this value?

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

##### Command line used for generation
swagger-codegen g

[2017-05-03 04:17] bherila commented on #5104
Love that proposal! 👍

[2017-05-03 07:31] #5534 closed

[2017-05-03 09:21] nicusX opened #5542 "[Spring] Improve CI, maven integration: regenerate all files depending on swagger specs at every build"
##### Description

As a best practice for code generation with a CI pipeline driven by maven, it should be able to regenerate every file that depends on Swagger spec file.

Speaking about Spring Boot, these files are:
- API Interfaces
- Model classes
- `SwaggerDocumentationConfig.java` (defines API info based on the Swagger specs)

Using Maven, these files should be regenerated at every build, int

[2017-05-03 10:30] wing328 commented on #5138
@jimschubert fair enough. My goal is to keep the C# 2.0 generator up-to-date with the enhancements, bug fixes we applied to the C# (3.5, 4.5, UWP) generator as I believe C# 2.0 generator is still popular to Unity developers.

[2017-05-03 11:37] jimschubert commented on #5138
@wing328 I agree with your points. I was just trying to say I think it'd be more maintainable as a separate generator that extends the other C# generator. However, if you want them all to be executed via `-l csharp`, I don't think my suggestion is possible (easily) with the current code.

Do you think it would make more sense to push most of the bug fixes into the abstract class? I think this woul

[2017-05-03 12:13] Daxten opened #5543 "[Swift3] Boolean are converted to Strings in Json"
I'm not sure which commit changed this, but the newest client pickles booleans as like this:

"boolprop": "false"

and it should be like this:

"boolprop": false

[2017-05-03 13:24] wing328 commented on #5524
@patrickoshaughnessey I believe Swagger Editor (2) is using https://generator.swagger.io (part of Swagger Codegen project) for code generation.

Can you please try the stable release 2.2.2 or 2.2.1 to see which version works for you?

https://github.com/swagger-api/swagger-codegen/releases

Let us know if you need help using the JAR (2.2.2 or 2.2.1) to generate C# (2.0) API client. The project's R

[2017-05-03 13:32] wing328 commented on #5122
Fixed via https://github.com/swagger-api/swagger-codegen/pull/5544

[2017-05-03 13:59] darangho-duplicate opened #5546 "Maven-plugin 2.2.2 from Maven repo missing selective generate"
##### Description
I recently downloaded the latest available swagger-codegen-maven-plugin from Maven repo and noticed that this is missing parameters like:
- generateModels
- generateModelTests
- generateModelDocumentation
- generateApis
- generateApiTests
- generateApiDocumentation
- generateSupportingFiles

However, in documentation these parameters do exist, which lead to confusion.

##### Sugg

[2017-05-03 14:11] joelharkes opened #5547 "Doesn't generate all model properties in csharp (allOf + properties)"
##### Description

Trying to generate the yaml file belw results in a Licenses class with only the property `nextcursor`, but i'd expect it to also have the property `Age`.

When i remove allOf, the property Age gets generated.

This is a major problem because how else would i specify my property polymorphism?

##### Swagger-codegen version

Version 2.2.1

##### Swagger declaration file content or

[2017-05-03 14:19] apolci opened #5548 "Bean validation pattern html escaped in generated java code"
##### Description
When generating a java model or api including a "pattern" validation, the pattern is html escaped in the generated java code.
As an example the pattern "[^&]*] translate to the following annotation:
`@Pattern("[^&amp;]")`

##### Swagger-codegen version
I'm using 2.2.2 but also the current master present the same problem.

##### Swagger declaration file content or url
[code]

####

[2017-05-03 14:37] wing328 commented on #5548
@apolci thanks for reporting the issue and sending a PR to fix it.

I'll also grep the mustache templates to see if there's other occurrence of {{pattern}} and fix accordingly.

[2017-05-03 15:02] jimschubert commented on #3950
I agree with option 5. Also, handlebars is much more pleasant to work with in my opinion.

[2017-05-03 16:58] nhenel commented on #4882
Sure, it will be very useful !

[2017-05-03 19:17] tbe commented on #5521
I'll take the code from @marache as base, integrate the authentication handling, better namespace support ( like cpprest ) and apply the google code style where needed and possible.

[2017-05-04 00:46] kirpit commented on #5453
I believe the PR is good to go with the unit tests have been fixed.

[2017-05-04 01:31] jimschubert commented on #2183
Would anyone be opposed to creating output `.swagger/VERSION` and `.swagger/OPTIONS` text files for all generators?

[2017-05-04 01:33] jimschubert commented on #2503
@wing328 I had similar issues a few months ago with missing io.swagger artifacts that I'd expect to find in maven. Does @fehguy handle these artifacts?

[2017-05-04 01:48] jimschubert commented on #3085
@wing328 I went ahead and opened the PR against 2.3.0. Feel free to cherry-pick into master if needed. That PR should allow this issue to close.

[2017-05-04 03:01] jimschubert commented on #5138
@wing328 I opened a PR to remove a bit of the duplicated code in the C# 2.0 generator in favor of the abstract base class.  I explained in the PR why it doesn't consolidate templates, which basically reiterates what I stated above.

Let me know if you have any suggestions about how to merge templates cleanly and in a way that doesn't break current integrations and I'll investigate it further.

[2017-05-04 03:22] jimschubert commented on #5547
I think your format is causing problems.

[code]

I tested this against master. This generated `PagedResult`:

[code]

and `Licenses`:

[code]

[2017-05-04 05:03] cbornet commented on #2503
The swagger-async-httpclient doesn't seem to be maintained anymore...

[2017-05-04 07:47] joelharkes commented on #5547
Awesome 👍  is there any reason why you can only have one or the other and not both? (properties and allOf)?

[2017-05-04 08:01] wuf810 commented on #5535
Hey @wing328 I've still some changes to make on the fix. I'll look at this over the weekend.

In the meantime do you need to mark this as bug or anything or can I just go ahead and raise the PR when ready?

cc @dwoodel

[2017-05-04 08:11] adhocore opened #5553 "Object deserialization in PHP SDK gives array"
##### Description

The code section [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/ObjectSerializer.mustache#L235-L237) to deserialize `object` bypasses the primitive types deserialization [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/ObjectSerializer.mustache#L250-L

[2017-05-04 09:10] wing328 commented on #2183
There's an ongoing work to add a mustache tag containing the Swagger Codegen version (e.g. 2.3.0) but there are minor issues that we need to roll back the enhancement: https://github.com/swagger-api/swagger-codegen/pull/5489

Related discussion: https://github.com/swagger-api/swagger-codegen/issues/5376

[2017-05-04 09:12] #5548 closed

[2017-05-04 09:55] triptec opened #5555 "[Javascript] No documentation on <operation>WithHttpInfo methods created by usePromises"
It's really great that we now have the WithHttpInfo methods then using usePromises, but this is not documented anywhere. Is there any plans on doing this?

[2017-05-04 09:56] triptec commented on #5555
I'm mainly thinking of the documentation generated with the javascript client.

[2017-05-04 11:11] wing328 commented on #3722
@asnelling may I know if you need help submitting a PR? or you want us to submit a PR based on https://github.com/asnelling/swagger-codegen/tree/apex-codegen on your behalf?

[2017-05-04 11:55] jimschubert commented on #5547
iirc, this is a rule defined in [JSON Schema](http://json-schema.org), which swagger specs extend a bit.

[2017-05-04 12:38] yonaskolb commented on #5480
@davidpasztor I had this issue as well. To solve this and whole bunch of others I ended up writing a whole new generator in and for Swift here https://github.com/yonaskolb/SwagGen

[2017-05-04 12:47] jimschubert commented on #2183
@wing328 cool. It looks like that PR and issue are interested in outputting the version to templates. I opened a PR that outputs the version to `.swagger/VERSION`.  See #5556 and let me know what you think.

[2017-05-04 12:53] silentFred opened #5557 "skip generating tests not working (generateApiTests, generateModelTests)"
##### Description

When running the maven plugin and specifying the options to skip generating api and model tests, the plugin still ends up generating the tests. I have tried moving these properties around but the test still get generated no matter what I try. Am i missing something silly here?

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

NA

##### Command

[2017-05-04 13:44] cbornet commented on #2183
Shouldn't it be `.swagger-codegen/VERSION` ?

[2017-05-04 13:59] YathendraPrasad commented on #3300
Hey thanks @jencodingatwork for the update and sorry for late reply . After making the changes that you have pointed to i have encountered the below issues

# Build Issue

[128,32] method v3DetectFacesPost in class com.ibm.mfp.adapters.sample.api.VisualRecognitionApi cannot be applied to given types;
  required: java.lang.String,java.io.File,java.lang.String,java.lang.String
  found: java.lang.Str

[2017-05-04 14:00] YathendraPrasad commented on #3300
Purpose is to upload an image / zip file

[2017-05-04 14:03] jimschubert commented on #2183
@cbornet generally, hidden folders are org-specific and not product-specific... at least in my experience. Do you think `.swagger/CODEGEN_VERSION` would be better? I don't mind either way.

I could change it to `.swagger-codegen/VERSION` if you think that's more appropriate.

[2017-05-04 15:19] wing328 commented on #5555
@triptec currently we don't have auto-generated documentation for WithHttpInfo methods in JS or other API clients.

My suggestion is to generate another file e.g. advanced.md, which contains instruction on how to use WithHttpInfo, make async call, debugging, etc.

What do you think?

[2017-05-04 15:42] svarogg opened #5558 "[HTML2] Curl example copies HTTP verb(GET/POST) in lower case in Firefox"
##### Description

The curl example shows i.e. `curl -X GET "http://localhost:8000/greetings/hello/{subject}"`.
However, if you copy it in firefox (In chromium it does not reproduce) you get `curl -X get "http://localhost:8000/greetings/hello/{subject}"` which fails if run from the command line.

It seems like the verb is capitalized through `text-transform: uppercase;` which does not get represen

[2017-05-04 16:14] wing328 commented on #5553
@adhocore if you describe the property as "type: object", that implies it's an arbitrary JSON, which will be deserialized into an associative array in PHP.

[2017-05-04 17:47] jencodingatwork commented on #3300
@YathendraPrasad This sounds like an issue with your api code. As you can see from the error message:

[code]

you are not passing in the correct number arguments. I don't think there is a quick solution for this. I would recommend walking your code in a debugger to try and determine what the problem is.

[2017-05-04 18:55] triptec commented on #5555
I'm not sure WithHttpInfo methods belongs in an advanced.md, I would think that the need for at least the status code would be very common? For me though I need the respons headers as well. But I also can see that it might be a lot of methods in the readme, perhaps an option OnlyWithHttpInfo, and if that's true only create the WithHttpInfo callbacks but maybe not have that in the method names?

[2017-05-04 22:05] bdauer commented on #1850
@Sujimoshi did you find a way to resolve? I'm seeing the same thing.

[2017-05-05 01:20] kirpit commented on #5316
Unfortunately, it is still so easy to re-produce this error with the current master. The error is present only for `swagger-codegen-maven-plugin` module:

[code]

[2017-05-05 06:33] lpicquet opened #5562 "swagger generates non-compiling code (java)"
##### Description
When using Swagger-codegen with the published bitbucket.org swagger api, the following exception occurs when compiling:
C:\workspace\f_bitbucket\build\codegen\java\src\main\java\io\swagger\client\model\PipelineSelector.java:91: error: getType() in PipelineSelector cannot override getType() in Object
  public TypeEnum getType() {
                  ^
  return type TypeEnum is not c

[2017-05-05 07:04] wing328 commented on #5562
@lpicquet one way is to map "type" to something like "property_type" so that the getter becomes `getPropertyType`:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L453

Would that meet your requirement?

[2017-05-05 07:25] wing328 commented on #5543
The mapping seems to be correct: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Swift3Codegen.java#L136

so seems like the deserialization logic is not correct.

Would using ObjectMapper fix the issue?

Ref: https://github.com/swagger-api/swagger-codegen/issues/2194

cc @RobBlairInq @jaz-ah @jgavris @hexelon

[2017-05-05 07:38] wing328 commented on #5533
@hawkish thanks for the suggestion.

@sanjeewa-malalgoda any comment on the suggestion?

[2017-05-05 07:42] wing328 commented on #5546
@darangho-duplicate the parameters you mentioned are added after the 2.2.2 stable release.

Please build the maven plugin from the latest master for the time being.

[2017-05-05 07:50] wing328 commented on #5558
@svarogg I agree that we should do it in mustache instead of with Javascript.

May I know if you've time to contribute the fix (which should be pretty straightforward)? I can show you some good starting points.

[2017-05-05 08:09] TeMob commented on #5507
Well I'd expect it to be of type 'Data' so I can submit for example a file directly in binary without it being encoded.

[2017-05-05 08:10] TeMob commented on #5500
I can't get it to produce a request, so I can't show you  the HTTP-request it sends.

[2017-05-05 09:05] svarogg commented on #5558
I've began looking into a solution...
It seems like the problem is in swagger-codegen/src/main/resources/htmlDocs2/index.mustache line 227., specifically: `<span style="text-transform: uppercase;">{{httpMethod}}</span>`

It would be nice if we could tell mustache to capitalize the thing, but apparently it's not possible by-design (See http://stackoverflow.com/questions/8460720/mustache-jquery-java

[2017-05-05 09:13] wing328 commented on #5558
@svarogg we can apply solution similar to https://github.com/swagger-api/swagger-codegen/blob/7fc8b2400149d21d36663b310651665f42b11de5/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java#L175-L212 by overriding postProcessOperations and then updating `httpMethod` to upper case.

[2017-05-05 09:25] wing328 commented on #5555
What about including the status code, headers in the docstring of the WithHttpMethod?

[2017-05-05 09:35] brassel commented on #5543
Well, there is this function:

    static func convertBoolToString(_ source: [String: Any]?) -> [String:Any]

This turns Booleans into strings

    destination[key] = "\(value as! Bool)" as Any?

It has been there before, but in the most recent versions it seems to be called for every called Post request.

    open class func ...PostWithRequestBuilder(...) -> RequestBuilder<Void> {
        var pat

[2017-05-05 10:54] YathendraPrasad commented on #3300
@jencodingatwork , I understand but both the server api code and the client side code are the genreted one .

If we see server side code (generated from *.mustache file) , it takes two parameters for file upload

`@FormDataParam("imageFile") InputStream imageFileInputStream,
        @FormDataParam("imageFile") FormDataContentDisposition imageFileDetail `

and then call is made to generated method

[2017-05-05 11:05] iblocks-Xander commented on #3513
@damienpontifex `InjectionToken<?>` doesn't change how the injector works, but it does add type information, so when you use the provider you get some type checking.

With regards to having two `BASE_URL`s, Angular uses [Hierarchial Injectors](https://angular.io/docs/ts/latest/guide/hierarchical-dependency-injection.html), which essentially means it tries to use the nearest parent for injecting a

[2017-05-05 11:13] iblocks-Xander opened #5565 "[Angular 4+] [Typescript Client] OpaqueToken deprecated in Angular 4"
##### Description

OpaqueToken is deprecated in Angular 4 and will be removed in 2 versions according to the Angular deprecation policy. InjectionToken

##### Swagger-codegen version

2.2.2

##### Steps to reproduce

Use PetStore example to generate Angular2TypescriptClient

##### Related issues

https://github.com/angular/angular/issues/14763

##### Suggest a Fix

Simply changing the type from `O

[2017-05-05 11:58] vagy13 commented on #5532
Anyone please?

[2017-05-05 12:00] pranotiB opened #5566 "swagger authentication for spring mvc"
Im using swagger 2.4.0 version in my spring mvc project. All working fine. But now I want to add authentication to my REST web services. I want to show authorize button on swagger ui. Can anybody help me? I saw the posts related to swagger authentication but it was confusing and they are from almost 1-2 years ago. So can anybody help me? Is that issue has been solved in 2.4.0? Do I have to add tha

[2017-05-05 12:36] svdev opened #5567 "packageName config option ignored in erlang-server generation"
##### Description

`packageName` config option ignored in erlang-server generation.

Despite the definition of `packageName` config property, the generated code still uses the default packageName `swagger` instead of `my_package`

##### Swagger-codegen version

Swagger 2.2.2

##### Command line used for generation

`swagger-codegen generate -i http://petstore.swagger.io/v2/swagger.json -l erlang-s

[2017-05-05 12:43] bdauer opened #5568 "unknown library: retrofit2 in both 2.2.2 and 2.2.3"
##### Description

When trying to generate retrofit2 I receive the following error:

[code]

I don't think the declaration is important in this case but if it is I can create a gist containing the Json object.

##### Command line used for generation

With 2.2.3 I used
[code]
##### Steps to reproduce

Run the command using a swagger api declaration.

##### Related issues

https://github.com/swagger

[2017-05-05 12:47] YathendraPrasad commented on #3300
Also , can you guide me where can i get the sample JSON code to upload an **image file**

[2017-05-05 12:51] cbornet commented on #5566
Authentication is currently not supported by the spring templates.
To add authentication, you can have a look at [spring security](http://docs.spring.io/spring-security/site/docs/current/guides/html5/). I don't think Springfox currently supports spring-security so you will have to configure it manually your Springfox SecurityContext (see [example](http://springfox.github.io/springfox/docs/current/

[2017-05-05 13:02] antihax commented on #4323
Resolved in 2.3.0

[2017-05-05 13:02] #4323 closed

[2017-05-05 13:04] antihax commented on #4265
Resolved in 2.3.0

[2017-05-05 13:04] #4265 closed

[2017-05-05 13:15] #5567 closed

[2017-05-05 13:37] pranotiB commented on #5566
Yes I did add spring security but that was not supported to springfox. I'll check for springfox security context.. Thanks @cbornet ...

[2017-05-05 13:40] wing328 commented on #5568
@bdauer using the latest master, you get any error running `./bin/java-petstore-retrofit2.sh` in the project?

[2017-05-05 13:45] bdauer commented on #5568
@wing328 I didn't test with java-petstore, but I just got it working for my swagger api declaration. I saw that retrofit2 wasn't available for android, but was available for java. I ran it through with java and it's working properly now. Going to go ahead and close this. Thanks for following up quickly!

[2017-05-05 13:45] #5568 closed

[2017-05-05 13:45] silentFred commented on #5557
Thank you for the feedback Jim!

Unfortunately this still generates tests. (This is the first thing I tried
because the docs where not too clear on where the options should be).

I also noted in your file list that you also have some tests:

    └── IO.Swagger.Test
        ├── IO.Swagger.Petstore.Models
        │   ├── ApiResponseTests.cs
        │   ├── CategoryTests.cs
        │   ├── OrderTests

[2017-05-05 13:47] wing328 commented on #5568
@bdauer no problem :)

[2017-05-05 13:48] wing328 commented on #1850
@Sujimoshi you may be specifying "android" instead of "java' as the language.

[2017-05-05 13:51] wing328 commented on #4323
@antihax FYI. Add you as the template creator in https://github.com/swagger-api/swagger-codegen/blob/master/README.md#template-creator

[2017-05-05 13:52] dverdin commented on #3221
Yay, thanks @sebastianhaas ! Your change to 2.3.0 really made my day! Great work!

[2017-05-05 14:11] taxpon commented on #5565
@iblocks-Xander CC @wing328
How about providing option like `useOpaqueToken`? If this option is provided as true, generator will use `OpaqueToken` as it does now. If this option is not provided, it will use `InjectionToken<string>`.

[2017-05-05 14:15] jimschubert commented on #5557
@silentFred I left model tests in there to show selective generation was working. I tested this against master.

I checked against 2.2.2, and I do also get tests.

As a workaround, you can define an .ignore file which allows for gitignore-like selective file exclusions and inclusions. The syntax for our ignore file is identical, since I coded the support against the spec for gitignore. :dancer:

F

[2017-05-05 14:36] silentFred commented on #5557
Good thing the ignore file works like a charm! Unfortunately I can't test
2.2.3-SNAPSHOT now as our nexus repo does not allow any snapshot releases.
I will have to wait and see when 2.2.3 is released. Thank you for the quick
response! Please let me know if I can help with this in any other way?

On Fri, 5 May 2017 at 16:15 Jim Schubert <notifications@github.com> wrote:

[2017-05-05 14:49] taxpon opened #5570 "Discussion - the naming of angular and angular2 should be corrected"
##### Description
- Angular2 is no longer Angular2, just [Angular](https://angular.io/) officially
    - Actually, the latest stable version is v4 and it is announced that the major version of Angular will be updated every 6 months
- Angular (in this repo) is officially called [AngularJS](https://angularjs.org/)

##### Suggest a Fix
- The naming of each library in this repository should be correct

[2017-05-05 14:59] jencodingatwork commented on #3300
@YathendraPrasad I always use a YAML file to generate the code not JSON so I'm afraid I can't be of any more help.

[2017-05-05 15:45] dskow opened #5572 "sharing swagger model between server and client"
##### Description

I am trying to use the same model between two swagger java spring boot services. One service has a java client to the other service.  I noticed that the java client generated code uses different annotator than the spring boot server generated code.  Should I put both annotators on the model if I want to share it or should I just pick one annotator?  Or should I not share the mod

[2017-05-05 16:18] wing328 commented on #5535
@wuf810 added the labels.

[2017-05-05 16:30] YathendraPrasad commented on #3300
Ok Thanks for that . Just final thing is the client code correct for the file upload ??? or else you wanted to try with YAML file and see

[2017-05-05 16:35] jencodingatwork commented on #3300
@YathendraPrasad I think you are going to wait for someone with more understanding of the code base to look into this; I just found a bug while using it and fixed it. I would suggest opening a new issue. If you do, please make sure to format your code. Some of your previous posts are difficult to read with some sections formatted as code and some not. Good Luck!

[2017-05-05 17:00] YathendraPrasad commented on #3300
@jencodingatwork : My Sincere apologies for that . I did not see the preview of it and did it in hurry.

Thanks

[2017-05-05 17:57] YathendraPrasad opened #5573 "Improper function parameters in client code generated for file upload (Image)"
##### Description

A generated post method (JAX-RS code) which takes 2 query parameters of string type and  2 @FormDataParam one for InputStream and one for FormDataContentDisposition for file object. There is client code generated which takes 3 parameters , one File parameter object and  two string datatype values. The flow goes like this , A call is made to the POST Rest call which inturn makes

[2017-05-05 17:58] YathendraPrasad commented on #5573
Using Swagger codegen maven plugin 2.2.2 version

[2017-05-05 18:16] cbornet commented on #5572
I don't recommend sharing code between the server and the client. It's calling for problems for a minimal gain. The codegen is enough to ensure that they use the same contract.
Also for a spring boot app, you should consider using the spring-cloud client lib.

[2017-05-05 19:27] davidsantiago commented on #5535
I've run up against a similar issue with classes that have no properties, but only inherited properties. We made a fix for that on our own branch, but it would conflict with your changes here. Basically in model.mustache, where you change vars.isEmpty to hasVarsOrProperties, we needed to change vars.isEmpty to allVars.isEmpty so that it takes into account the variables from the parent classes.

I'

[2017-05-05 19:49] cesdperez opened #5574 "Java Jersey2 SDK trying to use CXF classes"
We have a Spring Boot REST API for which we generated a *Java-Jersey2* SDK using *swagger-codegen-maven-plugin* (**v 2.2.2**).

Now we have this other project where we want to use this SDK, but we also consume some other services through CXF clients.

When we call any service from our Jersey2 SDK, we are getting this:

[code]

My guess is that, being CXF and Jersey in the classpath, it's picking C

[2017-05-05 19:51] jimschubert commented on #5557
Yeah man, no problem. I'm glad I could get you a workaround.

[2017-05-05 19:54] cesdperez commented on #5574
It may be related to this https://github.com/swagger-api/swagger-codegen/issues/3170, but I'm actually using v 2.2.2

[2017-05-05 21:14] rasuldev opened #5575 "[Android][Volley] Post requests with json body raise exception Invalid header"
##### Description

Generated by swagger code for android for volley library incorrect handles post requests with json body. When I use api method with json body, I receive an error response with status = 400 and message "Invalid header". The problem is in this code fragment in ApiInvoker class:
[code]
By default in my case code
[code]
creates an entity with text/plain content type. That is wrong b

[2017-05-06 12:13] wing328 commented on #5570
What about consolidating typescript-angular and typescript-angular2 into one and use the "library" option to indicate which version (1x, 2x, 4x) of Angular to use in 2.3.0 branch?

[2017-05-06 12:37] wuf810 commented on #5535
Hi @davidsantiago thanks for the message. I'm investigating the inheritance issue further as my branch definitely doesn't cater for this (in fact it completely breaks any petstore classes that inherit from Animal).

Seems that the Swift templates have been broken for a while i.e the implementation for additionalProperties was essentially a copy of the java approach and would never have worked.

Le

[2017-05-06 18:18] mminns opened #5576 "CSharp language generator fails for Bitbuckets swagger JSON"
##### Description
1. Using codegen built from the latest master the CSharp language generator fails when trying to parse https://api.bitbucket.org/swagger.json.

##### Swagger-codegen version

Built from master @ commit ea16da813

##### Swagger declaration file content or url

https://api.bitbucket.org/swagger.json

##### Command line used for generation

java -jar C:\Users\mminn\Source\github.com

[2017-05-06 18:33] mminns opened #5577 "CSharp language generator results in code with ambigious references"
##### Description

The CSharp api..mustache template creates API classes that reference Model objects. However if the Model contains classes with the same name as core C# classes the code will not compile without the references being explicitly specified.

##### Swagger-codegen version

Built from master @ commit ea16da8

##### Swagger declaration file content or url

https://api.bitbucket.org/swa

[2017-05-07 02:06] marcusljx opened #5578 "[GOLANG] Resty client uses HEAD of resty repository instead of release version"
##### Description
Generated client code imports `"github.com/go-resty/resty"`, which uses the latest master version of resty in the users GOPATH, whether or not it is stable.

Resty provides stable release candidates through Gopkg: `"gopkg.in/go-resty/resty.v0"`

##### Swagger-codegen version
2.2.3-SNAPSHOT

##### Swagger declaration file content or url
Any swagger file

##### Command line used fo

[2017-05-07 04:19] wing328 commented on #5578
@marcusljx yup, I think it's definitely reasonable to use the latest stable version of the dependency.

Would you have time to file a PR so that we can review the enhancement?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api_client.mustache#L12 is a good starting point.

[2017-05-07 09:11] philipptrenz opened #5580 "Polymorphic JSON Object mapping with Gson (Android Client)"
##### Description

I've tried to get the Android Client to run with polymorphic JSON deserialization and stumbled across some issues.

##### Swagger-codegen version

From editor.swagger.io (new version, two days ago)

##### Swagger declaration file content or url

Here the swagger definition to the Objects:
[code]

Then the models have all the type 'function_id'

##### Steps to reproduce

My resea

[2017-05-08 01:55] #5578 closed

[2017-05-08 02:51] adhocore commented on #5553
isn't it that arbitrary types don't have type definition at all ? if it is object in json schema then should not it be corresponding `\stdClass` object in php too? :)

[2017-05-08 06:56] einStefan commented on #3513
@iblocks-Xander, @wdunn001
After some googeling i have learned what I'm using there :).
It is possible to use an alias for the Import.
It seems to be a JavaScript Feature which is described here:
[https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import
](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)
Here is another example:
[http:/

[2017-05-08 07:36] YathendraPrasad commented on #5573
@jencodingatwork , FYI

[2017-05-08 07:37] YathendraPrasad commented on #5573
@jencodingatwork : You can probably change the header description if not relevant

[2017-05-08 09:37] iblocks-Xander commented on #3513
@einStefan
Your example works due to having two APIs (And two `BASE_PATH` objects) I think. If you tried to alias the same `BASE_PATH`, it is still referring to the same OpaqueToken Object.
The injection points in the generated APIs aren't referring to the aliases, so they will just inject the OpaqueToken value.

When I tried to reproduce with a minimal example, the `BASE_PATH` injected depended o

[2017-05-08 09:53] wing328 commented on #2183
@jimschubert I would prefer `.swagger-codegen/VERSION` so as to do a little bit of growth hacking for Swagger Codegen - developers who consume the API clients or use the server stubs may do a Google search on swagger-codegen after discovering the hidden folder.

[2017-05-08 10:43] frol commented on #5421
[Marshmallow](https://github.com/marshmallow-code/marshmallow/) is a mature and well-maintained project for serializing/deserializing, encoding, and validation. Marshmallow has quite rich ecosystem providing a number of extensions: Marshmallow-SQLAlchemy, Webargs, Apispec, Flask-Marshmallow, Flask-Apispec, ...

I have no experience with Kim, so I cannot compare it to Marshmallow, but Marshmallow h

[2017-05-08 10:49] frol commented on #5421
There is a benchmark of various Python serializers: https://voidfiles.github.io/python-serialization-benchmark/

Given the results of the benchmark, [`lima`](https://lima.readthedocs.io/en/latest/) looks like a clear winner, and there are at least 3 more alternatives: [serpy](http://serpy.readthedocs.io/en/latest/), [Strainer](https://strainer.readthedocs.io/en/latest/), [Lollipop](http://lollipop

[2017-05-08 13:47] wing328 commented on #5574
@cesdperez what about using the default Java API client (okhttp-gson) instead of `jersey2`?

[2017-05-08 13:47] wing328 commented on #5565
@iblocks-Xander please pull the latest master to give it a try.

Thanks for the PR from @taxpon

[2017-05-08 13:47] #5565 closed

[2017-05-08 14:02] jnie opened #5583 "generated code is java.time.OffsetDateTime from a json format "date-time""
##### Description

2017-05-08 15:32:44.089  WARN [user=] [clientIp=] [request=] [session=] [qtp514447876-22] o.eclipse.jetty.servlet.ServletHandler   :
org.springframework.web.util.NestedServletException: Request processing failed; nested exception is feign.FeignException: Can not construct instance of java.time.OffsetDateTime: no String-argument constructor/factory method to deserialize from Stri

[2017-05-08 14:23] kenisteward commented on #5570
@wing328 the real (and I think only) delineation that needs to be made is if it is AngularJS (With Scopes) or Angular (With RXJS which is as of 2)

What you proposed I think may require more maintenance than requires. (update new library for every version change) when all we really need to know is basically old scoping or new scoping.

I think taking your same idea and instead of version using som

[2017-05-08 14:47] davidpasztor commented on #5480
@yonaskolb I finally managed to have a look at the code generated by SwagGen and it indeed looks like it solved this issue, however I had another issue with Swagger Codegen, which doesn't seem to be tackled by SwagGen either. For details please check [#5452](https://github.com/swagger-api/swagger-codegen/issues/5452)

[2017-05-08 17:55] wing328 opened #5584 "[ObjC] Using HTTP/REST libraries other than AFNetworking"
##### Description

Currently, the ObjC API client is using AFNetworking. We want to explore if there are better alternatives to make REST API calls

cc @timburks

##### Swagger-codegen version

Latest master

##### Suggest a Fix

If anyone has any suggestions, please reply to let us know.

[2017-05-08 19:46] kenisteward commented on #5420
@wing328 Let me know if I have this correct.  You just want to go back through for all of the tests and update petstore.yaml to petstore-with-fake-endpoints-models-for-testing.yaml  for all of the .sh and .bat files correct?

Or do you only want it updated for the ones that can generate servers?  e.g. node but not typescript-angular becauese that can only be a browser client lib not a server clien

[2017-05-08 19:51] kenisteward commented on #5335
Should this be closed as it is not a swagger-codegen but swagger-parser issue?

[2017-05-08 19:52] kenisteward commented on #5332
+1 this should be closed

[2017-05-08 19:54] fehguy commented on #5332
I love closing tickets!

[2017-05-08 19:54] #5332 closed

[2017-05-08 20:13] kenisteward commented on #4962
@wing328 The change is running and is non breaking.  Check the PR @5585

[2017-05-09 01:45] adhocore opened #5586 "PHP SDK codegen exception for 'default' response"
##### Description
[PHP] Bug generating `*Api::*WithHttpInfo()`

For `default` response in the [schema](https://pastebin.com/fcwebCHe), `TestApi::testWithHttpInfo()` is generated as:
[code]
Should it not be like this one:
[code]

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

https://pastebin.com/fcwebCHe

##### Command line used for generation

java -jar swagg

[2017-05-09 04:57] yonaskolb commented on #5452
Not sure I understand. In that spec snippet there are only enums with type string. Could you post part of a spec and then what you would expect to be generated?

[2017-05-09 06:19] vijaybarnad opened #5587 "How to add option like --type-mappings in swagger codegen [Ex: Integer = Long]"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-05-09 06:30] erdarun opened #5588 "[Java] Add support for Apache Http Client in Java client codegen"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-05-09 06:40] vijaybarnad commented on #5587
Found solution

[2017-05-09 06:40] #5587 closed

[2017-05-09 06:53] svarogg commented on #5558
I see that currently  it's converted to lower-case specifically:
https://github.com/swagger-api/swagger-codegen/blame/7fc8b2400149d21d36663b310651665f42b11de5/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/StaticHtml2Generator.java#L99
Is there any reason for this?

If not I guess I can flip it to .toUpperCase and see what it does.

[2017-05-09 06:56] cbornet commented on #5588
I think you should really consider a better lib such as okhttp.

[2017-05-09 07:19] wing328 commented on #5558
[code]

I did a grep and found that `httpMethod` is used in more than 1 place.

I suggest we leverage vendor extension (e.g. x-codegen-httpMethodUpperCase) similar to https://github.com/swagger-api/swagger-codegen/blame/7fc8b2400149d21d36663b310651665f42b11de5/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/StaticHtml2Generator.java#L130 to keep the original httpMethod in lower

[2017-05-09 07:23] wing328 commented on #5586
@adhocore I believe non-2xx response will result in ApiException.

[2017-05-09 08:02] wing328 commented on #5575
@rasuldev in your spec, have you set a proper `consumes` for the POST JSON body operation?

For Android, you can also use the Java API client: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-05-09 08:24] wing328 commented on #5558
@svarogg let me know if you need help with the fix/PR.

[2017-05-09 08:28] voydz opened #5589 "[Csharp] Code using Netstandard "RestSharp.Portable" serializes JSON twice"
##### Description

Using the netstandard version of csharp to generate code uses restsharp.portable in the background. As the implementation differs from RestSharp.Net, the body in "application/json" requests is serialized twice.

##### Swagger-codegen version

current master branch @ fa2e575762dc71939cfcf8ae8bc1d058bce5cdab

##### Swagger declaration file content or url

Not exactly caused by a s

[2017-05-09 08:34] #5510 closed

[2017-05-09 09:09] wing328 commented on #2183
Thanks @jimschubert for the PR, which has been merged into master.

I've renamed .swagger to .swagger-codegen via fd3cae6

[2017-05-09 09:09] #2183 closed

[2017-05-09 09:28] adhocore commented on #5586
i mean it is not about `2xx` please see the generated code section:
[code]
there is very slim chance that non 2xx code is but `case 0`. 0 is not even http status code. since we are defaulting anything except 200 to be caught as error, should it not be
[code]

[2017-05-09 10:01] jnie commented on #5583
Fix the issue with:
<dateLibrary>java8-localdatetime</dateLibrary>

[2017-05-09 10:01] #5583 closed

[2017-05-09 10:02] jnie commented on #5583
dateLibrary element use java8-localdatetime

[2017-05-09 10:25] alessiofachechi opened #5591 "[JAVA] Add possibility to use `java.math` number types"
##### Description

Using `float` and `double` primitive types (or their respective wrapper classes) sometime leads to precision problems. Could it be useful to be able to easily map `integer` and `number` Swagger types to `BigInteger` and `BigDecimal` Java types?

[2017-05-09 12:57] jimschubert commented on #2183
Thanks. I hadn't seen your comment from yesterday about moving forward with `.swagger-codegen`.

[2017-05-09 13:22] MalcolmScoffable opened #5592 "[Swift3] Array Model Error in Generated Code"
##### Description

There seems to be an error in generated Swift 3 code being created in version 2.3.0 due to the placement of a return statement at the beginning of the "isArrayModel" section in the default Swift 3 [Models.mustache](https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/swift3/Models.mustache) file.

The effect of this is that generat

[2017-05-09 14:23] wing328 commented on #5376
https://github.com/swagger-api/swagger-codegen/issues/5556 has been merged into master.

Please pull the latest master to give it a try.

[2017-05-09 14:30] MalcolmScoffable commented on #5592
Looks like this is maybe a merge error that was introduced in https://github.com/swagger-api/swagger-codegen/commit/f7cbb2c0e62fa169de8d0c7a75465eff57cdbe4c

[2017-05-09 14:55] wing328 commented on #5420
@kenisteward this "issue" is for server generators only.

[2017-05-09 15:18] YathendraPrasad commented on #5573
Hi , can i have update on this please

[2017-05-09 15:49] rasuldev commented on #5575
@wing328 yes, I set application/json for `consumes`.
![default](https://cloud.githubusercontent.com/assets/4163864/25859383/0c590b12-34e7-11e7-9b85-43b84cd9a57e.png)
Full json spec can be found [here](https://pastebin.com/et9mr2Ss). Mentioned in first post error raises in method `api/account/register`.

[2017-05-09 16:20] wing328 commented on #5575
@rasuldev thanks for providing more details. Can you try the Java (okhttp-gson or retrofit2) API client to see if it has similar issue?

[2017-05-09 17:52] ahmettahasakar opened #5594 "Api calls with Alamofire Background Mode in Swift 3"
Hello,

Is it possible to make the api calls with alamofire's background mode option, so that tasks can contirnue in the background in Swift 3?

[https://github.com/Alamofire/Alamofire#creating-a-session-manager-with-background-configuration](url)

Thank you.

[2017-05-09 18:30] larskoeie commented on #3089
@jhitchcock Wow! htmlDocs2 is so much prettier than htmlDocs. Thanks.

[2017-05-09 18:53] cesdperez commented on #5574
It worked flawlessly with okhttp-gson. The only downside is that it doesn't generate factory methods for Enums (`#fromValue(String value)`) that we were using, but that is just a minor detail.

Thanks for your help.

[2017-05-09 19:06] kenisteward commented on #5420
Alright I'll handle this.  Should the list be updated to these?
C# (ASP.NET Core, NancyFx), Erlang, Go, Haskell, Java (MSF4J, Spring, Undertow, JAX-RS: CDI, CXF, Inflector, RestEasy), PHP (Lumen, Slim, Silex, Zend Expressive), Python (Flask), NodeJS, Ruby (Sinatra, Rails5), Scala (Finch, Scalatra)

Got them from the initial readme.  Since you can't have an Typescript Angular server,  however it mi

[2017-05-10 04:23] bbdouglas opened #5596 "[Java] Don't throw exception with unknown polymorphic type"
##### Description

If a client receives an unknown discriminator label in a polymorphic type, it currently throws an exception deep in the feign stack. This makes it difficult to manage upgrades in a system of microservices, as it is difficult to co-ordinate every service upgrading simultaneously. To allow clients to gracefully degrade in the case unknown subtypes, it would be helpful for the stac

[2017-05-10 05:06] #5436 closed

[2017-05-10 07:25] wing328 commented on #5589
Closed via #5590. Thanks for the fix from @voydz

[2017-05-10 07:40] wing328 opened #5598 "[HTML] Theme for API Documentation"
##### Description

I think it would be a good idea if developers can customize the look and feel of the auto-generated documentation easily by applying different themes. One way is to leverage [Google Material Design](https://material.io/guidelines/material-design/introduction.html) or [Twitter Bootstrap](http://getbootstrap.com/) themes as both have a very mature ecosystem (e.g. free, paid themes

[2017-05-10 07:42] wing328 commented on #3089
@larskoeie if you've further feedback or suggestion, please open a new "issue" (ticket) for tracking.

You may want to join the discussion in https://github.com/swagger-api/swagger-codegen/issues/5598 as well.

[2017-05-10 07:47] wing328 commented on #4962
Thanks for the fix by @kenisteward

@aacanakin please pull the latest master to give it a try.

[2017-05-10 08:49] ahmettaha opened #5600 "Make Decoders Public"
Hello,

Is it possible to make decoders public so they can be used elsewhere?

Thank you

[2017-05-10 08:57] wing328 commented on #5600
What "decoders" are you referring to?

[2017-05-10 09:02] ahmettaha commented on #5600
Sorry. I meant in Swift 3 template. There is a Decoders class in Models.swift

[2017-05-10 09:12] wing328 commented on #5600
Is it correct to say that the decoder is for deserialization of Swift model (from JSON to Swift object)?

What about using something like [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper) instead?

Ref: https://github.com/swagger-api/swagger-codegen/issues/2194

[2017-05-10 09:15] ahmettaha commented on #5600
There is already a mechanism provided by Swagger for this, so I thought using it would be DRY.

I'm downloading json information beyond the scope of Swagger methods for background task purposes. I prefered to deserialize them with the same classes.

[2017-05-10 10:55] micha-shepher opened #5601 "[PYTHON] Python/flask codegen naming mismatch(es)"
##### Description

Codegen generates the some files in the swagger/models directory. They names of the files are not what the generated code import expects.
generated                      import expected
------------                     ------------------
body_1.py                      from swagger.models.body1 import Body1
body_2.py                      from swagger.models.body2 import Body2
body

[2017-05-10 11:14] yonaskolb commented on #5535
This is now supported in https://github.com/yonaskolb/SwagGen 👍

[2017-05-10 12:15] yonaskolb commented on #5600
This is supported in https://github.com/yonaskolb/SwagGen

[2017-05-10 13:37] TimoSchwan opened #5603 "[Java, Maven] swagger-codegen-maven-plugin guide request, hints"
##### Description

We're using the swagger-codegen-maven-plugin to generate new models specified in the .yaml file as .java output. But it seems that, maven doesn't even run/trigger the codegen-plugin.
Using codegen-cli it's working fine (except the 'only generates models' options), but there's no 'smart' way to trigger cli through maven, am i wrong ?
We already thought about trigger a .bat / .sh

[2017-05-10 17:03] wing328 commented on #5600
@yonaskolb I did a search for ObjectMapper but it didn't return anything (https://github.com/yonaskolb/SwagGen/search?utf8=%E2%9C%93&q=ObjectMapper&type=) as I assume your auto-generated Swift code does not use it.

Any limitations you found with ObjectMapper (assuming you've evaluated it)?

[2017-05-10 17:08] gipeshka opened #5607 "[PHP] date format is "Y-m-d\TH:i:sP""
##### Description

`format: date` field is sent with `Y-m-d\TH:i:sP` format, but according to [specification](http://swagger.io/specification/#data-types-12) it should be just `Y-m-d`

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]

results in:

[code]

##### Command line used for generation

`swagger-codegen generate -i swagger.yml -l php --config php-

[2017-05-10 17:13] yonaskolb commented on #5600
I don't integrate ObjectMapper but I meant that you could call encode or decode on the Model items.

ObjectMapper is fine, but I personally prefer and use JSONUtilities (non optional properties, lets, errors, simple, no custom operators)

[2017-05-10 17:29] kenisteward commented on #5419
Have these been updated since yesterday?

[2017-05-10 17:31] kenisteward commented on #5420
@wing328 I've Done the first of the Servers as a part of #5595.  Let me know if anything else needs changed

[2017-05-10 17:31] luizcarlospedrosogomes commented on #5601
help!!!!!!!!!!!!!!

[2017-05-10 17:32] wing328 commented on #5586
The `code` usually refers to HTTP status code but it can contain 0 if my memory serves me well for the situation in which the error happens in the client side (e.g. network issue that the client cannot reach the server)

[2017-05-10 18:24] kenisteward opened #5608 "Updating Typescript-Angular2 to forRoot instead of forConfig"
##### Description

Currently the best practices for including a module and all of it's provided services for Angular is to use a static forRoot function explained here.
https://angular.io/docs/ts/latest/guide/ngmodule.html#!#core-for-root

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

The sample shows that the template does not use that function name and also

[2017-05-10 19:22] keegho commented on #5594
This is link is invalid. @ahmettaha

[2017-05-10 19:33] ahmettaha commented on #5594
How about this?

https://github.com/Alamofire/Alamofire#session-manager

[2017-05-10 22:54] frojasg opened #5611 "[Client: PHP] api_doc.mustache documentation is generating broken links for object parameters"
##### Description

api_doc.mustache is generating broken links for "model" body parameters. Here you can see an example in master

Step to reproduce:

1.- [go to Pet example API documentation](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/docs/Api/PetApi.md#addpet)
2.- Click [\Swagger\Client\Model\Pet](https://github.com/swagger-api/swagge

[2017-05-11 02:24] macgyver2k commented on #4962
please re-open; this does not work for me, and probaply for no one. when the .json() method is called on an empty body, an exception is thrown. checking for existing Content first should solve the issue, and works with my Code.

`return Response
    .arrayBuffer().byteLength > 0
        ? response.json()
        : {};`

[2017-05-11 02:55] wing328 commented on #4962
@macgyver2k do you mind filing a PR with the suggested fix?

[2017-05-11 07:22] davidgri opened #5612 "[Java] Codegen produces unnecessary classes"
##### Description
I wrote an api with the swagger editor and during generation of a spring-boot server several unnecessary java classes were generated:
CapabilityBody.java
CapabilityBody1.java
CustomerOrderBody.java
CustomerOrderBody1.java
InlineResponse200.java
InlineResponse200JobDrawings.java
InlineResponse2001.java
InlineResponse2002.java
InlineResponse2003.java
InlineResponse2004.java
InlineR

[2017-05-11 07:50] davidgri opened #5613 "[Java][Spring] Consumes in get method forces a Content-Type"
##### Description

Annotating a GET method in spring with @RequestMapping(**consumes**= {....}) forces the user to set a Content-Type to the get-request although a HTTP-GET has no body. If no Content-Type is set an error accrues saying:

Therefore accessing a GET Rest-Endpoint with a browser like Chrome is not possible, as no Content-Type is set.

##### Suggest a Fix

to increase the accessibility

[2017-05-11 08:02] ebautistabar commented on #3371
Hi, first of all congrats on this amazing project! Now on to the issue, just a couple of comments:
- are there plans to merge #4801 for the next release?
- when setting a 200 response and a default response in the yaml file, the generator creates just 2 `@ApiResponse` objects, both containing code 200; I think this point was not raised in the issue so far but it would be nice if it were fixed too

[2017-05-11 08:13] ebautistabar opened #5614 "[Spring] The java8 parameter is ignored, always behaves as true"
##### Description

The java8 parameter in the spring generator is ignored, always behaves as true. It doesn't matter that it's specified explicitly or not. The generated code always contains Java 8 `default` interfaces.

##### Swagger-codegen version

Latest from master.

##### Command line used for generation

`java -jar swagger-codegen-cli.jar generate -i swagger.json -l spring -o build -D hideG

[2017-05-11 10:02] pfeuffer opened #5615 "[Java] Property name "null" is not recognized as keyword"
##### Description

Given a type definition with a property named "null", illegal java code will be created, because "null" is not recognized as a keyword (like "new", "for", etc.). Therefor it will not be 'escaped' like other keywords.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]

This creates the java class MyType like this:
[code]

##### Command li

[2017-05-11 10:36] macgyver2k commented on #4962
@wing328 yes i will do it.

[2017-05-11 12:00] joelharkes opened #5618 "csharp generated client sdk file upload doesn't work"
I'm not sure if the problem is RestSharp or Swaggers but when you generate a file upload it doesnt work. It doesn't even send an http request (checked on receiving server and with fidller4)

A workaround fix i used to make it work was this: (But its a terrible hack):

[code]

the yaml file i used:

[code]

version: swagger gen 2.2.2

[2017-05-11 12:07] sdoeringNew opened #5619 "[Java] Can't access enum value directly (feature request)"
##### Description

Enum models are generated and marshalled correctly. But there is no way to access its value directly. For String you might use the `toString()` method. But how to access the value of a number (Integer, Float, etc.)?

There is an indirect way to do this.

1. You call `toString()` – which generates a String out of the value: `String.valueOf(value)`
2. You parse the String into the

[2017-05-11 13:10] adhocore commented on #5586
that is network disconnected issue but is this the only case for defaulting? ofcourse no. all errors be it 0 or 4xx or 5xx are caught by default: section and it resonates to the schema too. but 0? :)

[2017-05-11 13:15] YathendraPrasad commented on #2423
Hi @wing328 ,

i have

`"tags":[
               "Add Documents"
            ],`

in my JSON file and the customized JavaJaxRS code for this is in api.mustache file is

`com.ibm.mfp.adapters.sample.api.{{#vendorExtensions.x-tags}}{{tag}}{{#hasMore}}{{/hasMore}}{{/vendorExtensions.x-tags}}Api apiInstance = new com.ibm.mfp.adapters.sample.api.{{#vendorExtensions.x-tags}}{{tag}}{{#hasMore}}{{/hasMore}

[2017-05-11 13:36] jgavris commented on #5592
@MalcolmScoffable see my PR

[2017-05-11 13:38] jgavris commented on #5592
Likewise, it seems like 2.3.0 has been in beta for some time, there are many features that are essentially necessary to effectively using the Swift client.

[2017-05-11 13:42] wing328 commented on #5586
@adhocore I think I know what you mean now. 'default` response was incorrectly shown as 0. Like what you said, it should be mapped to the `default` switch case.

Would you have time to contribute the fix? If yes, I can show you some good starting points.

[2017-05-11 13:44] MalcolmScoffable commented on #5592
@jgavris - Yeah, this PR looks like what I ended up doing. However I did find that after the Swift library compiled, my App was unable to deserialise arrays of JSON objects. So I'm kind of thinking that just removing the array of object deserialiser isn't really the answer after all. I think we still need this, but in a way that compiles in Swift 3. I've tried to get this to work, based on the way

[2017-05-11 13:59] jgavris commented on #5592
I believe we have many arrays in our schema...but you have me second guessing. Everything works on my side. There are generic array decoders that use the instance decoders right?

https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/swift3/Models.mustache#L168

[2017-05-11 14:15] MalcolmScoffable commented on #5592
Cool, yeah just checking on that. I think these changes should do the job - but I will check out the branch and try it out.

[2017-05-11 14:49] paulfelix opened #5624 "[typescript-jquery] Bug generating ajax request when there is no returnType"
##### Description

When there is no returnType, the mustache template does not provide a type for the 'data' param in the ajax done callback signature.

##### Swagger-codegen version

2.2.2

##### Suggest a Fix

Something like this, I think:

$.ajax(requestOptions).then(
            (data: {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}any{{/returnType}}, textStatus: string, jqXHR: J

[2017-05-11 14:55] MalcolmScoffable commented on #5592
Just tried your branch in my app, and I get a decode error when trying to decode an array of JSON objects. I can get this to work using the master branch of swagger-codegen, so I'm thinking that there is maybe an issue in decoding arrays if there isn't a specific decoder for array types. This could be an issue with my API - however, it does work with the current master of swagger-codegen.

I'll tr

[2017-05-11 15:17] wing328 commented on #5624
@paulfelix thanks for reporting the issue. May I know if you've time to file a PR with the suggested fix so that we can review?

cc @bherila

[2017-05-11 15:19] lal-s opened #5625 "Build a customized static HTML"
##### Description

Is there any way to create our own customized static HTML using swagger codegen?

##### Language

Ruby

##### Swagger-codegen version

Swagger 2.0

[2017-05-11 15:20] kcacciatore opened #5626 "[PYTHON] Path format for parameter does not work / Connexion Upgrade"
##### Description

swagger-codegen (2.2.3) uses connexion library version 1.0.129. This version of connexion does not process the format: path attribute of the parameters portion of an API declaration. So if defining a path such as:

[code]
POSTing to something like /services/example/test will yield serviceid='example' and ext='test', but POSTing something like /services/example/test/more will yie

[2017-05-11 15:37] boosh opened #5627 "[Python] Allow 'safe' chars to be specified in config when quoting path params"
##### Description
The current python API client [quotes all path params](https://github.com/swagger-api/swagger-codegen/blob/c366f139e28b4b67f11a51807580f897afccc305/modules/swagger-codegen/src/main/resources/python/api_client.mustache#L110) without any 'safe' characters:

    for k, v in path_params:
        resource_path = resource_path.replace(
            '{%s}' % k, quote(str(v), safe=''))  #

[2017-05-11 16:18] nahumclements commented on #4669
Do we have any idea of which release support for the 3.0 spec might come in?

[2017-05-11 16:32] fehguy commented on #4669
There will be a 3.0.0 branch, followed up by a 3.0 release of the codegen.

[2017-05-11 18:52] kenisteward commented on #4962
@wing328 @macgyver2k So I have done more research into this.  The way it works for angular 2 is based on this code:
https://github.com/angular/angular/blob/4.0.0/packages/http/src/body.ts#L13-L36

what this does is if there is data in the body and that data is a string or an array buffer it attempts to parse it as json.  so that means doing if _body is null / undefined or even {} no errors will be

[2017-05-11 20:20] Vrolijkx commented on #4962
Can't we just check on response.text().lenght and only call .json() if greater as 0?

[2017-05-11 20:27] kenisteward commented on #4962
@Vrolijkx No.  That's what @macgyver2k which is why i made the other post

What happens when .text() returns something that is not json? like xml/csv/somethingelse?  it's going to try to parse that text as json and then get the exception.  Looking at their code all they do is check to see if it is a string.  It does not check to see if there is valid json.

On Angular's part it would probably be b

[2017-05-12 06:45] taxpon commented on #5598
@wing328 Do you mean providing an option to specify document template type (Material design, bootstrap, current one and so on)?

[2017-05-12 07:04] marcusljx commented on #4459
I wouldn't mind helping out with this. It seems trivial to generate enums in golang (basically a type alias). But as I'm new to swagger-codegen, could someone please let me know where I can read the logic of the swagger-spec parser?

[2017-05-12 07:33] YathendraPrasad commented on #2423
Hi ,

Any update on this will be helpful

Thanks

[2017-05-12 08:08] wing328 commented on #5625
@lal-s have you tried the `html2` generator? Here are the samples: https://github.com/swagger-api/swagger-codegen/tree/master/samples/html2

API clients (e.g. ruby, php, etc) also usually comes with auto-generated documentation (markdown)

[2017-05-12 08:10] wing328 commented on #5618
@joelharkes which version of RESTSharp library are you using? The latest one has issue with file upload if I remember correctly.

Did you have a chance to take a look at https://github.com/swagger-api/swagger-codegen/issues/2175 ?

You can also pull the latest to generate C# API client with RestSharp.portable instead of RestSharp

[2017-05-12 08:15] wing328 commented on #5614
@ebautistabar thanks for reporting the issue. Seems like `java8` is only used in the pom template:
[code]

May I know if you've time to contribute the fix to hide the Java8 default interface using `{{^java8}} ... {{/java8}}`?

cc @cbornet @jfiala

[2017-05-12 08:18] wing328 commented on #5598
@taxpon yes, ideally developers can choose whether to use material design or bootstrap and then they (or web designers) can customize the look and feel by applying different themes or tweaking the CSS.

To make it easier, we can just start with either material design or bootstrap so as to build up the momentum.

[2017-05-12 08:53] macgyver2k commented on #4962
i gues we must not call the .json() method if we do not expect json Response. in other words, only call .json() if we expect json content.

for me it seems wrong to let .json() pass non-json contents without throwing. if you call it, you have to expect it. dont expect csv when calling .json(). this would have to be some logic on top of Body Content as string/text.

 can this be distinguished by us

[2017-05-12 09:07] taxpon commented on #5598
@wing328 I checked the mustache template in the latest master. Currently, it's already [using twitter bootstrap v2.3.2](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/htmlDocs2/index.mustache#L11), isn't it?l Regarding twitter bootstrap, do you want to have a new bootstrap template with latest bootstrap (maybe latest stable is v3.3.7)?

Anyway

[2017-05-12 09:22] bsahlstedt opened #5632 "[JAXRS] Enable POST Server-side method to pass through @Context UriInfo uriInfo"
##### Description

Currently @Context securityContext is passed through to all method implementations which is fine. However, if I want to be a good citizen for POST operations and return a HTTP 201 created response, currently I cannot see a mechanism for retrieving the requesting URI information to be used in the Location Header field of the response.

Attempted workarounds:
**Updating Mustache f

[2017-05-12 09:44] iblocks-Xander commented on #5565
@wing328 Works for me. Although I wonder whether the default should be OpaqueToken rather than InjectionToken, just so updating does break existing workflows.

Thanks for the PR @taxpon

[2017-05-12 10:09] nahumclements commented on #4669
Great, thanks. Is there any update on roughly when that might be coming?

[2017-05-12 11:18] kenisteward commented on #4962
@macgyver2k I've opened an issue with them about this . Basically if you call in() with anything other than an array buffer or string you get none Jon back which seems counter intuitive .  I've given them my suggestion

[2017-05-12 11:21] kenisteward commented on #4962
@macgyver2k try catch around the call if we get a failure just simply return .text() otherwise it will pass back non string stuff.

[2017-05-12 11:52] jhitchcock commented on #5598
Hey both.

That would be cool. I actually wrote an internal version of these docs at the time that did almost exactly that but it was too tightly coupled to the business at the time to contribute it, And it was a bit thrown together. Originally it was all put in 1 file, as my colleagues at the time wanted to be able to email the html file around to people to open, but that never worked out too wel

[2017-05-12 12:38] YathendraPrasad commented on #2423
Hi @webron ,

can you please comment on this , really helpful

Thanks

[2017-05-12 12:39] YathendraPrasad commented on #2423
Adding @fehguy

[2017-05-12 12:53] macgyver2k commented on #4962
@kenisteward

for me it looks clearly from a perspective of a ".toObject()" method, then what to expect as a result is either:
-Object,
-null
-undefined

since .json() returns a js object, those states are valid here.
the method acts like:
_"If content is a text, assume it's well formed json, so convert the text to an object via Parser and return the parsed object. Otherwise return the pure object

[2017-05-12 13:00] wing328 commented on #5565
@iblocks-Xander what about setting the default to "OpaqueToken" in current master and "InJectionToken" in 2.3.0 (a branch with breaking changes)?

[2017-05-12 13:11] macgyver2k commented on #4962
im not that familiar with the mustache templating, but i will try to implement a version, where the expected content types are explicitly handled in a switch, calling .json() only when Content type is  `'text/plain'` or `'application/json'`.

[2017-05-12 13:25] keegho commented on #5594
What kind of tasks do you need to run? I think downloading something will work with session manager and then the session will be closed but updating a certain status or sending requests to API routes every now and then will not work.

Background fetching on iOS runs only for 3 mins then stops. Even the timer that you add to run a function every now and then will stop.

Your only option is to send

[2017-05-12 13:28] kenisteward commented on #4962
@macgyver2k I can agree to that.

[2017-05-12 14:25] wing328 commented on #5598
@taxpon likely I'm checking the wrong directory (html?) when writing down this feedback.

It's definitely a good idea to upgrade to v3.3.7 as I know many templates are based on bootstrap v3

Config option is one way. Another way I can think of is to pass customized templates via the `-t` option. Not sure which one the developers prefer and let's see if we hear more feedback from developers on this

[2017-05-12 14:26] wing328 commented on #5598
@jhitchcock 👍 👍 👍

[2017-05-12 15:02] wing328 commented on #5627
@boosh can you take a look at the [PR](https://github.com/swagger-api/swagger-codegen/issues/5628) filed by @taxpon when you've time?

The enhancement by @taxpon looks good to me.

[2017-05-12 15:04] wing328 commented on #5626
@kcacciatore I agree with you to upgrade connexion to the latest stable version 1.1.9: https://pypi.python.org/pypi/connexion

I wonder if you can file a PR so that we can review the fix.

[2017-05-12 16:04] wing328 commented on #5619
Closed via #5620

Thanks for the PR by @sdoeringNew

[2017-05-12 16:04] #5619 closed

[2017-05-12 17:08] aditya-chaturvedi opened #5633 "[SPRING] bug in skipping code generation"
##### Description

I am using **swagger-codegen-maven-plugin:2.2.2** to generate model classes for a service consumer. I just want the model class and skip generation of other codes, specially the spring boot class since it conflicts with my application's main class. I have tried following 2 configurations -

[code]

And,

[code]

Plugin runs fine for both setups, but **does NOT skip generation of

[2017-05-12 19:08] kernwig commented on #5349
@wing328 Can you look at my pull request? I'm going to be handing my project over to a client and I'd really like for the 2.3.0 release to be usable by them, rather than continuing to custom build.

[2017-05-12 19:35] aditya-chaturvedi commented on #5633
The workaround I am using to side-step the conflicted bootstrap class is to add following configuration to my spring-boot-maven-plugin.

[code]

[2017-05-12 19:45] simingweng opened #5634 "[Spring Boot]The web Swagger editor can generate successfully but Swagger Codegen CLI couldn't when "allOf" appears under "items" in inline definition"
##### Description
We transformed a IETF Yang model file into Swagger yaml using an open source tool, the resulting YAML can generate a Spring Boot server stub successfully from the online Swagger Editor, but if I run it through swagger-codegen command line, it failed.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

https://drive.google.com/file/d/0B-x3Vahm51o_V

[2017-05-12 19:54] simingweng commented on #5633
The 2.2.2 release version hasn't supported the features you wanted to use as shown in your POM. I guess you're misled by the README of the master branch of the swagger-codegen-maven-plugin module.

You need to switch to https://github.com/swagger-api/swagger-codegen/tree/v2.2.2/modules/swagger-codegen-maven-plugin

If you want to taste the latest features, you get to clone and build locally.

[2017-05-12 20:04] aditya-chaturvedi commented on #5633
@simingweng - thanks. Yeah, clearly README is way ahead of its time 😛 . Are there any snapshot releases on 2.3 with these features that I can jump to and test it?

[2017-05-12 20:06] simingweng commented on #5633
I'm afraid it's not deployed as snapshot to maven central, you have to clone the code and do "mvn install", then the bleeding-edge version will be available locally on your machine as 2.2.3-SNAPSHOT

[2017-05-12 21:15] aditya-chaturvedi commented on #5633
Another workaround - just don't use
```<language>spring</language>```
just use `java` with a supporting `<library>` like `feign`.

[2017-05-12 21:15] #5633 closed

[2017-05-12 22:21] simingweng commented on #5633
`java` is for generating a client library, `spring` will generate a Spring Boot based server stub. They're totally different. Do you need a client or a server?

[2017-05-12 22:27] aditya-chaturvedi commented on #5633
I just needed jackson2-annotated model classes without additional dependencies like feign or jersey.
`spring` generates the server stub, but doesn't introduce additional packaging baggage for me.

[2017-05-12 22:34] simingweng commented on #5633
you can do the following as child of `configuration` in your POM with 2.2.2 version of the plugin:

[code]

This will restrict the plugin to generate model class only.

[2017-05-12 22:40] aditya-chaturvedi commented on #5633
That does it. Thanks @simingweng

[2017-05-13 14:27] ebautistabar commented on #5614
Sure, I'll try to fix it @wing328

[2017-05-13 15:25] joelharkes commented on #5618
Ah I see thanks :) ya seems the same issue:)

[2017-05-13 15:25] #5618 closed

[2017-05-13 21:29] ebautistabar commented on #5614
@wing328 The `java8` property is being used for 2 different but related things:
- to signal that Java 8 is being used, e.g. when the Java 8 libraries are selected; this type of use is present in all the Java generators through the `AbstractJavaCodegen` class
- to signal that default interfaces must be used; this type of use is specific of the Spring generator through `SpringCodegen`

Whenever a us

[2017-05-13 22:43] ebautistabar opened #5636 "[Spring] Spring generator overwrites dates mappings when using java8"
##### Description

When using `java8=true` in the Spring generator, `SpringCodegen` writes the same type mappings and import mappings which are written in `AbstractCodegen` for `dateLibrary=java8`.

If the setup of the date libraries is already done in `AbstractJavaCodegen` maybe the Spring generator shouldn't be concerned with it.

##### Swagger-codegen version

Latest from master

##### Command

[2017-05-13 22:57] ebautistabar opened #5637 "[Spring] Using property=false behaves as property=true"
##### Description

Tested in Spring generator, but if the other generators follow the same structure I guess it could happen to them too.

If we set an additional property to false, it behaves like true. For examplle, `useBeanValidation=false` behaves like `useBeanValidation=true`, generating validation code. In order not to get validation code, the property must not be included in the command.

I

[2017-05-14 03:53] wing328 commented on #5349
Closed via #5560

[2017-05-14 03:54] #5349 closed

[2017-05-14 03:55] wing328 commented on #5627
@boosh PR merged into master. Please pull the latest master to give it a try.

Thanks for the PR from @taxpon

[2017-05-14 03:55] #5627 closed

[2017-05-14 07:35] boosh commented on #5627
Wow, that was fast. Thanks a lot @taxpon. LGTM 👍

[2017-05-14 08:28] imgx64 opened #5638 "typescript-angular2: Missing optional headers are sent as string 'undefined'"
##### Description
When a header parameter is optional, and is not supplied when calling the API, the header is sent with the string `undefined` as its value.

##### Swagger-codegen version
swagger-codegen-cli 2.2.3-SNAPSHOT (downloaded from https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.2.3-SNAPSHOT/ )

##### Swagger declaration file content or url
[code]

[2017-05-14 10:06] wing328 commented on #5614
It should be done against 2.3.0 since it's a breaking change.

To me, this is more preferable as developers who have been using the `java8` mustache tag in their customized templates can continue to do so.

cc @cbornet @jfiala

[2017-05-14 14:23] wing328 commented on #5603
@TimoSchwan please give the latest stable version (v2.2.2) a try

[2017-05-14 14:55] wing328 commented on #5591
@alessiofachechi thanks for the feedback. Have you tried the `--type-mappings` option?

[2017-05-14 15:46] wing328 commented on #2248
Closed via #5373. Thanks for the PR from @mtakaki

@hiveship please pull the latest master to give it a try.

[2017-05-14 16:05] cbornet commented on #5591
BigDecimal is already the mapped type for number.

[2017-05-14 16:25] cbornet commented on #5614
See #4854 . It may have already been done in 2.3.0.
@ebautistabar Can you check ?

[2017-05-14 22:31] iain17 commented on #1334
I'm using this generation in one of my projects and my app won't compile due to a few simple typescript errors generated by the code generator. I'm looking into it right now.

I see that @mhardorf and @tandrup please explain why the generated models are interfaces? Would it not make more sense to make those classes? I'm up for changing to classes because in my experience an interface doesn't conta

[2017-05-15 06:16] #5547 closed

[2017-05-15 06:54] bharathreddy-97 opened #5639 "[Swift 3]How to send non dictionary body"
I am facing a issue while POST and PUT requests. By default Swagger expects a body as dictionary type. I have requests where i have to send json array, String etc. For example this is one sample method which got created while generating

open class func FunctionName(lbid: Int64, lasid: Int64, luid: Int64, lcasid: Int64? = nil, lupid: Int64? = nil, ptype: String? = nil, cform: Bool? = nil, csform:

[2017-05-15 08:16] wing328 opened #5640 "[Java][RestTemplate] API client (resttemplate) failed to compile in 2.3.0"
##### Description

Java API client (resttemplate) failed to compile in 2.3.0 while it's compiled without issues in master (2.2.3)

Currently, the Travis CI test for Java (resttemplate) API client is commented out.

##### Swagger-codegen version

2.3.0

##### Steps to reproduce

To repeat the issue:
[code]

##### Suggest a Fix

If anyone wants to work on the fix, please reply to let us know.

[2017-05-15 08:45] alessiofachechi commented on #5591
@wing328 does `--type-mappings` work with formats (not types) too?

[2017-05-15 08:48] wing328 opened #5641 "[Go] Enhancement to enum support in Go API client and servers"
##### Description

Currently, the Go API client and server only supports enum class, e.g.

https://github.com/swagger-api/swagger-codegen/blob/2.3.0/samples/client/petstore/go/go-petstore/enum_test.go

But not enum for property/parameter type (EnumString, EnumNumber, EnumInteger) in [enum_test.go](https://github.com/swagger-api/swagger-codegen/blob/2.3.0/samples/client/petstore/go/go-petstore/enum

[2017-05-15 09:31] ebautistabar commented on #5614
@cbornet I've looked at that PR and I'm not sure it solves the issue completely. It doesn't set the `java8` property when using a Java 8 date library, which solves the bug with the default interface being included. That part is good. However, the mustache templates use the `java8` property to determine if Java 8 should be used, e.g. in the POM file. The result is that we select a Java 8 date libra

[2017-05-15 09:40] wing328 opened #5642 "[Swift] Add configuration class"
##### Description

Similar to ObjC API client, which uses [DefaultConfiguration class](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/objc/default/SwaggerClient/Core/SWGDefaultConfiguration.m) to store settings such as username, password, host, option to verify SSL, etc, we want to consider doing the same in the Swift 2.x/3.x API client.

Currently, ObjC is usin

[2017-05-15 09:41] wing328 commented on #5642
cc @jgavris @Edubits @jaz-ah @hexelon @tkqubo

[2017-05-15 10:02] cbornet commented on #5591
I don't understand: if you specify format=float or format=double, why would you map to something other than float or resp. double ?

[2017-05-15 10:04] cbornet commented on #5591
And BigDecimal is not a "fallback", it's the just the best type to map a JSON "number" if you don't specify the format.

[2017-05-15 10:37] TimoSchwan commented on #5603
@wing328 even using the swagger-codegen-maven-plugin 2.2.2 it seems maven never triggers the plugin, using:
`mvn clean compile
//same for install, package`

Right now, i dissociate to using swagger codegen cli and simple running a cmd.

still, my pipeline should look like this (maven, codegen-plugin):

clean -> removing exisiting files
generate-sources -> generate new models through the .yaml file

[2017-05-15 11:04] alessiofachechi commented on #5591
@cbornet, in the case of Swagger which I use mainly as an API description language, I specify a format when I want to describe that a data has that format, not to express a code generation constraint: so, removing the format info would be a description leak imho.
Furthermore, in my case I need to avoid potential rounding precision issues, so I'd like to avoid float/double data types.

[2017-05-15 11:16] TomSoflow321 opened #5643 "[Java][Spring] Add support for custom validation messages in Beanvalidation annotations"
The PR #4600 added support for beanvalidation annotations, which work fine, but generated annotations also support a `message` property to specify a custom error message if the validation for that annotation fails.
This can look like this:

    @ApiModelProperty(example = "VGVzdA==", value = "")
    @Pattern(regexp="^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$",

[2017-05-15 12:26] DavidJona opened #5644 "php client"
hello everyone,
noob question,

i've just generated the php client from my swagger spec but i have no idea how to use it, the readme is very vague and i'm not making any progress with it.

can someone point me to a documentation on how to use it or help me with some info?
thank you very much

[2017-05-15 14:12] cbornet commented on #5591
If you don't want float/double fields, just don't use format float/double ! Putting float format is precisely here to describe that your number field is indeed a float (with corresponding constraints on precision and scale).
Just describe your fields as number without format.

[2017-05-15 15:18] FerrariAlberto opened #5646 "Which client language support XML payload (response)?"
As the title say Which client language support XML payload (response)?  i'm trying with the java client but i'm getting
[code]

[2017-05-15 15:19] FerrariAlberto commented on #5646
how can i work around it?

[2017-05-15 16:08] kenisteward commented on #5608
@Vrolijkx Any comment on this?  Technically if you want to lazy load the module you'll end up having 2 copies instead of 1 when the providers in the ngmodule declaration instead of in forRoot()

[2017-05-15 17:02] jgavris commented on #5642
cc @vineetshah as well. Sounds good. Would probably also like to get away from class functions in the API's and move to a model that looks more like `ClientFactory` that produces a configured `Client` with the methods of the `APIBase`.

[2017-05-15 17:12] ahmettaha commented on #5594
3 minutes is enough actually.

[2017-05-15 18:08] yonaskolb commented on #4398
For what it's worth I just added this to https://github.com/yonaskolb/SwagGen 0.5

The approach I used was a nested enum with associated values for the response types. Maybe something similar would work here, though some languages don't have nested types like in Swift so they would be seperate enums/classes then in the global scope. Also other languages don't have associated types for enums, so th

[2017-05-15 18:11] fehguy commented on #4398
Multiple return types will be supported along with the 3.0 spec support

[2017-05-15 21:09] TimoSchwan commented on #5603
**! Important Update !**
@wing328
Using maven's `<pluginManagement></pluginManagement>` the `swagger-codegen-maven-plugin` will never be triggered. I'd consider _adding_ this important Information to the official **READ.me**. Otherwise maven skip the activation of the plugin. I'm still a very beginner using maven, but i guess the pluginManagement doesn't include the plugin config specifications, w

[2017-05-16 01:42] keegho commented on #5594
Great. Then check this link. It will help you to start background fetch sessions.
https://www.raywenderlich.com/143128/background-modes-tutorial-getting-started

[2017-05-16 01:45] ahmettaha commented on #5594
Hello,

Thank you. I know how to do start upload and download tasks in the baskground with Alamofire. However, I was wondering if such support exists with swagger generated code for swift 3

[2017-05-16 07:13] dartzki commented on #5146
typescript 2.4 will support string enums: https://github.com/Microsoft/TypeScript/pull/15486

[2017-05-16 08:09] wing328 commented on #4320
@beatcracker https://github.com/swagger-api/swagger-codegen/issues/5509 has been merged into mster.

[2017-05-16 08:38] wing328 commented on #5644
@DavidJona For readme, are you referring to the auto-generated README file, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/README.md#installation--usage ?

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/test.php is an example using the PHP Petstore client. Would it help?

[2017-05-16 09:46] arnaudmiribel commented on #5601
Same here !

I used *Brew* to download `swagger-codegen`. Version 2.2.2

[2017-05-16 11:11] wing328 commented on #5601
Hi all, I believe the issue has been addressed in the latest master. Would you please pull the latest and build the JAR locally (or use docker image instead)?

[2017-05-16 14:26] tomblench commented on #5532
FWIW, I've got the same issue. We'd like to store a complex structure under a vendor extension and I assumed this would just work. Our structure is slightly different (an array of key/value pairs):
[code]
The idea behind this structure is to automatically generate test code with multiple scenarios per endpoint. Each scenario has values used to generate the request path, query parameters, body, or

[2017-05-16 15:38] HaraldWalker opened #5649 "[Java] Handling file response fails with file exists exception"
##### Description

When the generated java client receives a file form an endpoint it fails with java.nio.file.FileAlreadyExistsException.

##### Swagger-codegen version

2.2.2

##### Generated client code

Generated API client uses in class **ApiClient** downloadFileFromResponse method:
[code]
The method prepareDownloadFile already creates the temp file.
File.copy doc:

##### Command line used fo

[2017-05-17 04:53] Vrolijkx commented on #5608
@kenisteward Looks like a good change but maybe keep it backward compatible. By making forConfig delegate to forRoot.

[2017-05-17 09:17] wing328 commented on #5603
@TimoSchwan thanks for sharing the findings about the pluginManagement tag. Please feel free to add a Q&A to https://github.com/swagger-api/swagger-codegen/wiki/FAQ

[2017-05-17 09:25] wing328 commented on #5638
@imgx64 Thanks for reporting the issue. What about using the following to check?
[code]
Ref: http://stackoverflow.com/a/28984306/677735

[2017-05-17 09:37] wing328 commented on #5646
@FerrariAlberto For Java, would the following discussion help?

https://github.com/swagger-api/swagger-codegen/issues/3870

[2017-05-17 09:50] wing328 commented on #5649
@HaraldWalker I think that's the expected behaviour as we want to avoid your previous downloaded files being overwritten. You should move the files to another folder as the default folder is a temp folder.

[2017-05-17 09:54] wing328 commented on #5612
@davidgri from what the auto-generated model file name, I think you're defining the model inline. You can control the naming of the model by defining the model properly, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L653 and reference the model in the spec, e.g. https://github.com/swagger-api/swagger-codegen/blob/master

[2017-05-17 10:00] HaraldWalker commented on #5649
The step prepareDownloadFile creates a new unique temp file. That is the existing file that then throws the exception.

[2017-05-17 10:14] philipptrenz commented on #4606
Short question: How's the state? Does it work now?

[2017-05-17 10:14] wing328 commented on #5649
@HaraldWalker I just took another look and seems like we already have what you suggested:

https://github.com/swagger-api/swagger-codegen/blob/22eb72791c4184d3697170dfa654389c322a3f95/modules/swagger-codegen/src/test/resources/2_0/templates/Java/libraries/jersey2/ApiClient.mustache#L585

Can you pull the latest master to give it a try?

[2017-05-17 10:19] wing328 commented on #5611
@frojasg thanks for reporting the issue. May I know if you've time to contribute a fix? If yes, I can show you some good starting points.

[2017-05-17 10:43] HaraldWalker commented on #5649
@wing328 yes, looks like pull request #5268 addresses it. It was only a pull request without an issue, so I didn't find it.
I'll check.

[2017-05-17 10:57] wing328 commented on #5607
@gipeshka thanks for reporting the issue. Currently both date and datetime are mapped to `\DateTime`.

For the time being, what about working around the issue by mapping date as `string` instead?

[2017-05-17 11:00] gipeshka commented on #5607
Yeah, that trick might work, but apparently it is a hack and misuse of swagger definitions.

What we did currently is fixed it on application side by reducing some validation, but would be very nice if we could directly use proper swagger definitions.

[2017-05-17 11:04] imgx64 commented on #5638
Since tslint can be configured to complain about `==`, I prefer this:
[code]

Turns out using `typeof x === 'undefined'` is unnecessary in TypeScript because you can't redefine `undefined` (unlike JavaScript).

[2017-05-17 11:36] sidebaet opened #5652 "[Typecscript-angular2] import Injection Token for BASE_PATH not correct [2.2.3-SNAPSHOT]"
Hi,

I use swagger-codegen 2.2.3-SNAPSHOT and I have an issue with typescript-angular2 generated client. In the file variable.ts I have the following :

`import { InjectionToken<string> } from '@angular/core';

export const BASE_PATH = new InjectionToken<string>('basePath');
export const COLLECTION_FORMATS = {
    'csv': ',',
    'tsv': '   ',
    'ssv': ' ',
    'pipes': '|'
}`

The first line is

[2017-05-17 12:52] wing328 commented on #5638
May I know if you have time to file a PR so that we can review the more
easily?

On May 17, 2017 7:04 PM, "imgx64" <notifications@github.com> wrote:

[2017-05-17 13:48] frojasg commented on #5611
@wing328 yes, I would like to help with a fix. If you can give me some starting points it would be awesome. Thanks

[2017-05-17 15:19] wing328 commented on #5335
@kenisteward yes as https://github.com/swagger-api/swagger-parser/issues/441 has been created for swagger-parser

[2017-05-17 15:19] #5335 closed

[2017-05-17 15:25] wing328 commented on #5500
@TeMob I'm not referring to the HTTP request produced by the Swift3 API client.

I want to take a look at the correct HTTP request body to understand what payload is expected by the RESTful backend.

[2017-05-17 15:27] wing328 commented on #5480
cc @RobBlairInq @jgavris @jaz-ah to review the issue.

[2017-05-17 15:35] wing328 commented on #5649
@HaraldWalker pls give it a try. If it's still an issue, I'll reopen this issue.

[2017-05-17 15:35] #5649 closed

[2017-05-17 15:37] wing328 commented on #5420
@kenisteward I've removed Typescript in the list. Thanks for pointing it out.

[2017-05-17 16:06] wing328 commented on #5611
@frojasg Thanks for offering help.

I used `-DdebugOperations` and found the following:
[code]

Can you try using `returnBaseType` instead in api_doc.mustache?

[2017-05-17 16:49] wing328 commented on #5596
Closed via #5597

[2017-05-17 16:49] #5596 closed

[2017-05-17 17:39] DavidBiesack opened #5653 "Link and label for body parameter uses TitleCase, not source case in models"
##### Description

The link to the model for a body parameter uses TitleCase, but the anchor in models uses the exact case of the model.
[code]
In the Models section the schema named `createThing` is has an HTML anchor `createThing` not `CreateThing`:

[code]

The anchor name and href differ so the link does not work.

##### Swagger-codegen version

2.2.3-SNAPSHOT (latest)

##### Swagger declarati

[2017-05-17 17:57] DavidBiesack commented on #5653
Note that this does not show up in the petstore example (`petstore.yaml`) because the models
there are already TitleCase such as `Pet`.

[2017-05-17 19:59] kenisteward commented on #5608
@Vrolijkx this was only added to 2.3.0 right?  No one is using that unless they are okay with breaking changes I thought.

[2017-05-18 02:52] cyberhck opened #5656 "TypeScript Fetch"
##### Description

Using the current TypeScript Fetch generator, there's no way of using authentication data, once the user is logged in, ie we have auth tokens, we're not able to use those.

In addition to that, it uses isomorphic fetch which doesn't have middlewares, so I can't modify the behavior that much.

##### Swagger-codegen version
Swagger 2.0 docker command line

##### Swagger declaratio

[2017-05-18 06:01] wing328 commented on #3371
@ebautistabar

Yes, we want to merge it. Did you have a chance to test the first? Does it work for you?

I would recommend opening a new issue for tracking so as to more easily draw attention from the community.

[2017-05-18 07:04] akhilkedia commented on #5419
I'll update the `tizen` client gen in a week or two.

[2017-05-18 07:13] wing328 commented on #5649
PR merged into master. Thanks for the fix by @HaraldWalker

[2017-05-18 07:16] #5653 closed

[2017-05-18 07:39] davidgri commented on #5612
@wing328

I am using defined models:

[code]

and use $ref to reference them:

[code]

The yaml i'm using is attached and i tried to generate a spring server through the online editor.

[2017-05-18 07:50] wing328 commented on #5588
@erdarun if you want to add the support for Apache Http client, please base your work on 2.3.0 branch instead of current master as 2.3.0 contains enhancements on datetime for Java API client.

[2017-05-18 07:57] TsengSR opened #5657 "Generate Autorest compatible methods from operationId"
##### Description

When generating an swagger client from a swagger.json which uses Autorest compatible operation ids, the prefix isn't removed.

In order to make Autorest split API per controller, the `operationId` must have an underscore, i.e. `Configs_GetConfigById`, this will result in a `Configs` class and a method `getConfigById` method.

Swagger-gen however creates a `ConfigsApi` method and

[2017-05-18 08:17] wing328 commented on #5657
That's the expected behaviour for all generators (including typescript-angular2 client)

Swagger Codegen uses `tags` to name the class instead of using a prefix in the operationId.

Technically it's possible but I do have some concerns about the approach (see more below)

What about **not** using the custom filter? Would it still generate the operationId with prefix?

I would recommend not naming

[2017-05-18 08:22] sidebaet opened #5658 "[Typescript-angular2] Inheritance in generated model not working"
##### Description

I use swagger to generate my angular4 client and I have an issue when I have inheritance in my model. The generated typescrpit is not correct. The generated  code is :

parent.ts:

export interface Parent{}

child.ts:

import {Parent} from './Parent';

export interface Child extends **models**.Parent{}

##### Swagger-codegen version

2.3.0-SNAPSHOT
##### Swagger declaration file

[2017-05-18 08:37] TeMob opened #5659 "Response-data ignored for statuscodes > 299"
##### Description
When a request fails with e.g. a HTTP 400 and the backend delivers some error-information in the response, the generated Swagger-code will ignore the response-data and just always return the error it gets by Alamofire, showing "Invalid statuscode received".

It would be nice to have Swagger deliver the response-data into the Error-response if there is any.

##### Swagger-codegen

[2017-05-18 10:47] TsengSR commented on #5657
Then Autorest users won't be able to generate a client with an Api class per controller and everything will land in one single huge class. With with 70 to 150 actions this ends quite in a mess, also making autocomplete of TypeScript and other languages quite useless (having 100 methods when you type `.get` is less then optimal).

Also using only method name may not be unique enough, at least in th

[2017-05-18 10:57] wing328 commented on #5657
Not sure if you agree, Autorest should have used `tags` instead of prefix in operation ID to classify the API endpoints/operations.

If we add an option "removeOperationIdPrefix", would that make your life easier in using Swagger Codegen with your current spec?

[2017-05-18 11:21] TsengSR commented on #5657
Yes, that would do it. Then both generators would be able to generate an rest client with the correct (and friendly) method names and splitting/grouping across classes

[2017-05-18 11:26] wing328 commented on #5657
OK. I should have some cycle this weekend to work on it. Will keep you posted.

[2017-05-18 11:46] Vrolijkx commented on #5608
@kenisteward good point.

[2017-05-18 14:35] frojasg commented on #5611
Did you use that flag when you ran `java -jar target/swagger-codegen-cli.jar generate -DdebugOperations ...`? It didn't work for me.

That's the return type of the operation. The problem is only present in the parameters of the operation. I tried inspecting the CodegenParameter object, and I saw that the dataType and baseType are the same

[2017-05-18 15:13] wing328 commented on #5611
Sorry please try "-DdebugOperations=true"

[2017-05-18 15:14] wing328 commented on #5611
I will take another look later today

[2017-05-18 15:57] vagy13 commented on #5532
Yeap, unfortunately it is broken. Since I could invest some time to fix the issue, can someone with knowledge of this part of the system outline what has to be done or where to look for the problem?
Cheers

[2017-05-18 16:06] wing328 commented on #5532
@vagy13 thanks for offering help to fix it. I'll try my best to provide more information shortly

[2017-05-18 17:50] zmanchun opened #5663 "Referring to definitions in a different file doesn't work for python"
##### Description
Referring to a definition in another file is not working for generating python client.

##### Swagger-codegen version: 2.2.2

##### Swagger declaration file content or url
main.yaml:
[code]
Pet.yaml:
[code]

##### Command line used for generation
I'm using the verbose mode:
swagger-codegen generate -i main.yaml -o client -l python -v

And in the log I can see something like this:

[2017-05-18 18:02] wing328 commented on #5532
@vagy13 for model vendor extensions, I think the following is a good starting points

https://github.com/swagger-api/swagger-codegen/blob/09a0edc4d94a24e271452dabea470733de6b2cd8/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1286

and model's vendor extension is [Map<String, Object>](https://github.com/swagger-api/swagger-codegen/blob/6746632834dad01834829a28b2a6e2a

[2017-05-18 21:42] Alex-At-Home opened #5664 "In client code generation for typed objects, handling one response model for success and one for errors"
##### Description

(There are similar issues but nothing exactly the same as this I believe? eg #3371 and #4398 - apologies if I missed an open item that this duplicates)

I am generating clients in java and scala from a Swagger JSON (itself generated from [swagger-spray](https://github.com/swagger-spray/swagger-spray)). Pretty much all my endpoints have a single model for 2xx responses, and a sin

[2017-05-18 23:37] avendasora opened #5665 "Automatic build-on-change in Eclipse for swagger-codegen-maven-plugin"
##### Description

Have swagger-codegen-maven-plugin  automatically generate whenever the `inputSpec` or any file in the `templateDirectory` templates is modified.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/4758

##### Suggested Fix

https://github.com/avendasora/swagger-codegen/commit/09b7a5a6b76c5886689a64a10fa7318d

[2017-05-19 02:00] elizabetht opened #5666 "[JAVA] [Spring] Example Generator does not process relative reference if used in multiple places"
##### Description

Example Generator fails to resolve the processedModels if used more than once. Any time a processed model needs to be re-used, the example generator returns an empty string. Hence, the first occurrence of a model returns the example values but thereafter, the repeated occurrence of the model gets an empty string.

##### Swagger-codegen version

2.3.0 (possibly in 2.2.3 as well)

[2017-05-19 07:15] wing328 commented on #4606
@philipptrenz the fix (https://github.com/swagger-api/swagger-codegen/issues/4607) by @eamon316 has been merged into master. Please pull the latest master to give it a try.

Thanks for the PR from @eamon316

[2017-05-19 07:15] #4606 closed

[2017-05-19 07:28] kirpit commented on #4577
You guys sure it is resolved? Apparently `array` and `enum` do not play nice with each other for typescript. Here is a very basic spec:

[code]

Very straightforward, I want `myField` to accept one or more value within the defined enum. Here is what I got for typescript/angular2:

`model/MyData.ts`:
[code]

Almost the exact same output for typescript/fetch in `api.ts`:
[code]

My version was the l

[2017-05-19 07:55] taxpon commented on #5663
@zmanchun According to swagger-api/swagger-parser#421, `$ref` file reference without `.` is not supported yet. I changed your spec as follows, and it works fine. Please try it.

[code]

[2017-05-19 08:00] taxpon commented on #5663
#5106 is related one.

[2017-05-19 09:16] taxpon commented on #5624
@wing328 This can be closed.

[2017-05-19 10:23] #5638 closed

[2017-05-19 10:24] wing328 commented on #5638
@imgx64 please pull the latest master to try the fix.

Thanks for the PR from @taxpon

[2017-05-19 10:24] #5624 closed

[2017-05-19 11:40] qsorix commented on #4132
Hi guys,

We started using swagger & gatling, so naturally we wanted to generate some of the code. I'm sharing what we came up with. It's working for us, YMMV.

https://github.com/qsorix/swagger-codegen/commit/78ed5a5d87e5afba0b1e15d4290aed4711dac2e1

Feel free to take it and contribute more. I'm not creating a PR, as I don't really have time right now to polish the code or even go through contrib

[2017-05-19 13:12] cbornet commented on #4132
This is great job @qsorix ! We really need to integrate that in the code base ! Gatling is really awesome for performance testing so I think this would benefit to all swagger users.

[2017-05-19 14:42] wing328 commented on #4132
@qsorix thanks! Let me create a PR based on https://github.com/qsorix/swagger-codegen/commit/78ed5a5d87e5afba0b1e15d4290aed4711dac2e1

Related discussion: https://github.com/swagger-api/swagger-codegen/issues/5071

[2017-05-19 14:49] wing328 commented on #4132
Actually Scala API client in 2.3.0 is being rewritten by @clasnake

We'll see how we can incorporate those enhancements into the new Scala API client in 2.3.0 instead.

[2017-05-19 15:17] avendasora commented on #5665
My bad - The suggested fix **causes an endless-build loop**.

i.e. on build, `swagger-codegen-maven-plugin` executes the `generate` goal which modifies project files (kinda the point), which causes another build, which causes `generate` goal to execute, which causes a build, which causes the `generate` goal to execute, which causes a build, and so on, ad infinitum.

I thought that the fix avoided

[2017-05-19 15:23] FerrariAlberto commented on #5646
@wing328 thanks for the reply,
I had already seen that discussion, i've tried a similar fix but couldn't make it work

[2017-05-19 15:28] wing328 opened #5670 "[Apex] Enhancements to Apex API client"
##### Description

Here is a list of enhancements for Apex API client

- [ ] Add shell scripts and batch files to generate Petstore API client
- [ ] Add integration tests
- [ ] Update CI to run the integration tests

##### Swagger-codegen version

Current master

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/3722

If anyone wants to work on the enhancements or have su

[2017-05-19 15:37] Robert430404 opened #5671 "[PHP] Cant Use Guzzle PHP Generation"
##### Description

I'm wanting to use the template specified in PR #5190 and I can't find any documentation on how I go about using it. If you guys could point me in the right direction, I would really appreciate it!

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

n/a

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger

[2017-05-19 15:46] wing328 commented on #5671
@Robert430404 the auto-generated PHP client comes with a README.md. Would that help?

[2017-05-19 16:24] zmanchun commented on #5663
@taxpon , thanks, adding `./` is working for me. Btw, is there a similar way to refer to paths or operation definitions outside a file?

For example
[code]

[2017-05-19 18:03] wing328 commented on #5656
@cyberhck you may also want to generate TS Fetch API client from 2.3.0 branch (which contains breaking changes) to see if the same issue persists.

[2017-05-19 18:07] Robert430404 commented on #5671
I looked through all of that and it didn't answer my this particular question. If you look at the PR referenced, the template already exists and it's merged into the 2.3.0 branch of codegen, I just need to know the flag to use so it generates a guzzle client vs a curl client. I've tried using

* --library=guzzle
* --library=psr7
* --library=guzzlehttp
* etc...

And I looked through codegen to see

[2017-05-19 19:09] bsacharski opened #5673 "[Java] Wrong value literal for enum of type float"
##### Description
It would seem that the generator for java generates invalid code when dealing with enums of type float. I have a response that contains object with property that is an enum of type float and two possible values are 3.14 and 42. The source code is generated without any problems, however on closer inspection it can be seen that source code uses double-type literals when generating

[2017-05-20 03:52] wing328 commented on #3722
@khalidx @muenzpraeger I've added Apex API client generator based on https://github.com/asnelling/swagger-codegen/tree/apex-codegen by @asnelling

Please pull the latest master to give it a try.

For discussion on enhancing the Apex client generator, please go to https://github.com/swagger-api/swagger-codegen/issues/5670

[2017-05-20 03:52] #3722 closed

[2017-05-20 03:56] wing328 commented on #5671
@Robert430404 you're right. The help page (`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l php`) is missing information on that.

[2017-05-20 14:35] Tillerino commented on #4509
Hi @mamghari

IMO, a much cleaner way of handling response codes in JAX-RS is using `WebApplicationException` and its child classes. For example to return a 404, throw a `NotFoundException` from your endpoint. There are a bunch of exceptions shipped with the JAX-RS specification, you can extend `WebApplicationException` with your own exceptions and error codes, or even throw arbitrary ad-hoc excep

[2017-05-20 15:44] ebautistabar commented on #3371
@wing328 I have tested the PR and it seems to solve the issue described by @frasch1712.

I will open a new issue to describe the other problem.

[2017-05-20 16:15] ebautistabar opened #5675 "[Java][Spring] Generator assigns 200 status code to default responses"
##### Description

The Spring generator doesn't deal correctly with default responses. When setting a 200 response and a default response in the yaml file, the generator creates just 2 `@ApiResponse` objects, both containing code 200.

##### Swagger-codegen version

master and 2.3.0

##### Swagger declaration file content or url

Extract:
[code]

##### Command line used for generation

```java -ja

[2017-05-20 17:28] wing328 commented on #5657
@TsengSR #5674 merged into master. Please pull the latest master to give it a try.

[2017-05-20 18:12] msample commented on #5338
This issue recently affected a project I'm involved with. Patching the generated code to skip json decode works but is a bit grim for the robustness of the build process.

~Unrelated - other patch solutions we've resorted to were to enable explicit nulls in json (we were defining Swagger for an existing service). Per-operation codegen features enabled by operation tagging or something would be han

[2017-05-20 18:35] sbeh opened #5676 "[csharp] ApiResponseDelete.cs is not being generated but referred to by generated code"
##### Description

The csharp client is missing one class file (in this case ApiResponseDelete.cs). Other classes use instances of the missing ApiResponseDelete class.

##### Swagger-codegen version

2.2.2
(2.1.6 did not had this bug)

##### Swagger declaration file content or url

https://docs.newsletter2go.com/doc/swagger.json

##### Command line used for generation

[code]

##### Steps to repro

[2017-05-20 18:42] TsengSR commented on #5657
Yep, works great

[2017-05-21 03:28] #5657 closed

[2017-05-21 07:04] wing328 commented on #5258
Closing this as there's no reply from @rmharris157

[2017-05-21 07:04] #5258 closed

[2017-05-21 07:06] wing328 commented on #5529
@cthiebault Can you try  `$ref: "./pet.yaml#/Pet"` instead?

[2017-05-21 07:13] wing328 commented on #5452
@davidpasztor closing this as there's no reply to the question by @yonaskolb

[2017-05-21 07:13] #5452 closed

[2017-05-21 07:17] wing328 commented on #5573
@YathendraPrasad I would suggest you to try the latest master to see if the issue has already been addressed.

[2017-05-21 07:19] wing328 commented on #5659
@TeMob Which language generator are you referring to? `swift`, `swift3`?

You may want to checkout the 2.3.0 branch, which has breaking changes (enhancements, bug fixes), to generate a client to see if the issue is still reproducible.

[2017-05-21 07:29] kirpit commented on #4577
Well after a quick dig in, I found out the original problem was already resolved. However my example above, with the _array of enum choices_ is still broken.

I will create another issue with my use case and refer here but I believe this issue should be already closed.

[2017-05-21 07:30] wing328 commented on #4577
@kirpit thanks for the update. Issue closed.

[2017-05-21 07:31] #4577 closed

[2017-05-21 07:45] muenzpraeger opened #5677 "[Apex] Default API version should be 39"
##### Description

The current Apex client defaults to API version 36, while 39 is per of today the most current version (Spring '17 release). To reduce the need for setting it via the available options all the time it should default to the most current release.

##### Swagger-codegen version

master

[2017-05-21 17:55] #5677 closed

[2017-05-21 17:58] muenzpraeger opened #5679 "[Apex] Use NamedCredentials/Callouts instead of remoteSite"
##### Description

The initial implementation for Apex supports only remote site settings. That leads to the issue that the developer has to hardcode authentication credentials into the Apex classes.

The best approach is to use Named Credentials in combination with callouts. With that an administration can define URL/Credentials etc. via UI in Salesforce and nothing needs to be hardcoded in the A

[2017-05-21 22:43] NabiKAZ opened #5680 "How can I change text header and text links of left side of html2 version"
Hi,

How can I change text header and text links in position 1 and 2 specified in this picture:

![image](https://cloud.githubusercontent.com/assets/246721/26275748/645d5568-3d7d-11e7-980e-dbd9c4575584.png)

Thanks

[2017-05-22 01:29] NabiKAZ commented on #1158
As said. The `securityDefinitions` block, does not appears in HTML generated!
This is important.

[2017-05-22 02:05] taxpon commented on #5663
@zhenwenc You can write your spec as follows:

`index.yaml`
[code]

`ops.yaml`
[code]

`Pet.yaml`
[code]

[2017-05-22 02:13] taxpon commented on #5680
@NabiKAZ You can change API group name (`CONVERSATION` in 1) by using `tags` in operation section and also can change operations' names in 2 by using `operationId` in each operation.

[2017-05-22 02:15] kirpit commented on #4819
I have tried to reproduce this bug with the exact given specs (current latest master) but looks like problem is already gone, despite to the suggested change (for `} else if (typeof type === 'function') {`) is **not** there.

Here are the pieces of correctly generated model definitions:

EnumArrays:
[code]

StringEnumObject:
[code]

@knzm, any chance to confirm and close the issue?

[2017-05-22 02:22] taxpon commented on #5529
@cthiebault Refer #5663

[2017-05-22 02:32] taxpon commented on #5167
FYI, Swagger UI also [does not include basePath](http://petstore.swagger.io/) in each definition. So the behavior of html2 generator is consistent with Swagger UI. IMHO, one possible way is to provide an option to make all definitions include basePath. What do you think?

[2017-05-22 04:45] kirpit opened #5681 "[TypeScript-*] Generating array of enum values fails to create TS enums"
##### Description

Basically trying to combine `type: array` and `enum: [ ... ]` within a single field, so we can limit the possible parameters to be passed, as seen in the official docs [here](http://swagger.io/docs/specification/describing-parameters/).

There are two ways to do this; one is specifying directly in-place, another is to give reference to a definition, and the both cases fail simil

[2017-05-22 04:50] NabiKAZ commented on #5680
@taxpon Thanks.
1) I use tags, but I see `API METHOD -` prefix for all sections!
2) I set `Get Comments` for `operationId` but appears `get Comments` !

[2017-05-22 07:01] rathianand opened #5683 "Swagger code gen not generating getter setter in case discriminator: type and property name is also type."
##### Description

Swagger code gen not generating getter setter in case discriminator: type and property name is also type.
    I am trying to create a object as below. If I use discriminator: type then in properties if the type field is present the generated java filed will not have getter and setter for type.
   In below example discriminator have value type and also properties name is type.

[2017-05-22 09:54] bsahlstedt commented on #5632
For now, I have updated the mustache files locally and we are using the auto generated UriInfo object in our GET and POST methods, so it is seemingly worthwhile - for us at least.

[2017-05-22 11:13] tomblench commented on #5532
Update: this now works for me on latest master. I built the swagger-codegen project with the intention of debugging it and found out that it works! This [commit](https://github.com/swagger-api/swagger-parser/commit/f16c4e6c5d2947d923dc73661da45dbe82a8351e) from swagger-parser looks like the culprit.

So it looked like it missed the cut for 2.2.2 but will be rolled into the next release version.

[2017-05-22 12:51] cthiebault commented on #5529
@wing328 It works thanks :-)

But it works only when files are using `yaml` extension, not `yml`...

[2017-05-22 15:32] Robert430404 commented on #5671
Thank you for the assistance!

[2017-05-22 15:32] #5671 closed

[2017-05-22 16:00] stevecookform3 opened #5685 "[Java][Spring] default value of Arrays and Maps is empty collection"
##### Description

Currently codegen generates empty collections for arrays and maps e.g.

[code]

The problem is that by the time the model is deserialised from json, there is no way for the API to distinguish between a missing value and an empty array. This is particularly a problem when building REST PATCH handlers, where we'd like to distinguish between `field = null` (meaning dont change it -

[2017-05-22 16:29] stevecookform3 opened #5686 "[Java][Spring] Allow controller methods to throw Exceptions"
##### Description

Currently all API interfaces are defined to not throw exceptions. This means that implementations that follow the throw / global exception handler pattern don't work without manually editing the API interface.

Would like to change this to add `throws Exception` to all @RequestMapping methods in the API interface.

e.g.

[code]

becomes

[code]
##### Swagger-codegen version

lat

[2017-05-22 17:28] jbaldassari commented on #5685
The same applies for ```-l java```.  It would be great to have this either be configurable or just default to ```null```, as @stevecookform3 suggested.

[2017-05-23 07:17] stevecookform3 opened #5688 "[Java][Spring] missing @Valid / @Validated for model & param validation"
##### Description

In order to use the Spring validation code, the`@Valid` annotation needs to be added to various places (such as private variables on the model, and controller method parameters). In addition, model and controller classes need to be annotated with `@Validated`.

1. To validate nested models, Spring requires you to annotate each private variable that contains a validated class wit

[2017-05-23 07:21] stevecookform3 commented on #5688
#5517
#5360
#5393

[2017-05-23 08:30] #5683 closed

[2017-05-23 09:09] iamkarlson commented on #5121
So, I found that these functions are included in the current version of client generation (I saw that in the master). Maybe it would be better to have some docs.

[2017-05-23 09:43] wing328 commented on #5529
@cthiebault it should be fixed by https://github.com/swagger-api/swagger-parser/pull/322

Please build the JAR using the latest master to give it another try.

[2017-05-23 09:43] wing328 commented on #5121
The C# API client comes with auto-generated documentation (README.md). Would that help?

[2017-05-23 13:16] mischac opened #5690 "undefined but required properties do not fail the validation"
##### Description
The validation does not check whether a required property is actually part of the definition:
A message like `Schema properties specified as 'required' must be defined` is not created for the validation

##### Swagger-codegen version
`2.2.2`

##### Swagger declaration file content or url
In below the version is required but not a property:

[code]
##### Command line used for gene

[2017-05-23 13:40] #5453 closed

[2017-05-23 13:46] #5383 closed

[2017-05-23 14:52] wing328 commented on #5685
@stevecookform3 thanks for reporting the issue. We've done something similar for Java via https://github.com/swagger-api/swagger-codegen/pull/5363/files

Shall we still set the list/map to null only if it's not a required property?

[2017-05-23 14:53] wing328 commented on #5685
Also changing `AbstractJavaCodegen.java` would impact Java API client generators as well so we will need to update Java API client (Petstore) as part of the enhancement.

[2017-05-23 14:57] wing328 commented on #5686
@stevecookform3 looks to me it's breaking change so the change should be filed against 2.3.0 branch.

cc @cbornet @jfiala

[2017-05-23 15:03] wing328 commented on #5498
Closed via #5517

[2017-05-23 15:03] #5498 closed

[2017-05-23 15:03] #5360 closed

[2017-05-23 15:05] wing328 commented on #5688
Both #5517 and #5393 have been merged into master. Please file a PR so that we can review the fix.

[2017-05-23 15:15] stevecookform3 commented on #5685
@wing328 probably fine to just take the same approach as #5363.

[2017-05-23 15:35] wing328 commented on #5685
@stevecookform3 may I know if you've time to contribute the enhancement?

[2017-05-23 15:55] stevecookform3 commented on #5685
@wing328 yes - most likely i'll go through the three tickets I raised some time over the next week or so.

[2017-05-23 16:06] wing328 commented on #5685
@stevecookform3 thanks 👍

[2017-05-23 18:07] elizabetht commented on #5376
@wing328 Submitted #5691 for this issue. Please take a look and let me know your comments

[2017-05-23 18:51] rompic opened #5692 "python from __future__ import print_statement vs print_function at http://editor.swagger.io/"
##### Description

When I generate a python client the readme tells me to import print_statement:
`from __future__ import print_statement`

shouldn't this rather be
`from __future__ import print_function`

##### Swagger-codegen version
used http://editor.swagger.io/

[2017-05-23 18:52] rompic commented on #5692
see https://github.com/swagger-api/swagger-codegen/blob/8ccf9828e425da79b90b3a985fc37bc672050be4/modules/swagger-codegen/src/main/resources/python/api_doc.mustache#L22

[2017-05-23 19:19] baynezy commented on #4805
Is anyone working on this? As I am happy to fix it.

[2017-05-23 19:28] bluewolf8 opened #5693 "swagger-codegen not generating classes for schemas defined in referenced json files"
##### Description

I am unable to get swagger-codegen to generate classes for json schemas defined in files separate from the main API definition file

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

This is what api.json looks like:

https://gist.github.com/bluewolf8/94bcb589f44c49ea2e610e428a73c523

The person.json file referenced here lives alongside api.jso

[2017-05-23 19:39] ebelanger commented on #4296
I also encountered this problem.  What we will do for now is remove inline models from our API.  I may at one point take a go at it.

[2017-05-23 19:57] packleader opened #5694 "Use Swagger-Annotated Code As Input To swagger-codegen"
##### Description
**Feature Request: Enable swagger-codegen to generate a client API by inspecting a service's JAR/WAR for Swagger annotations.**
As a RESTful service developer, I want to be able to generate and publish client JARs for my service as part of that service's build process.  This will enable other developers to more easily integrate with my service.  To accomplish this, I need to run

[2017-05-24 01:06] edasaur opened #5696 "Preserving Entity Bean static variables"
I have been trying to use Swagger Codegen to generate Java client libraries, and I've noticed that none of the DTO's that were generated preserved the static constants that were originally in the entity beans that swagger scanned. I looked through the output from `debugModels` and didn't seem to see anything there...

Is it possible to generate DTO's while preserving the static constants from the

[2017-05-24 02:09] wafer-li opened #5697 "Rxjava2 code generation won't work"
##### Description

When using the following config:

[code]

The generated code doesn't use the rxjava2 call adapter, instead it use the default retrofit `Call` implementation.

With `"useRxJava" = true` will use the rxjava1.x implementation, which I don't want.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url
http://petstore.swagger.io/v2/swagger.json

##### Com

[2017-05-24 04:08] wing328 commented on #5697
If I don't think 2.2.2. supports RxJava2, please build the JAR from the latest master and give it another try.

[2017-05-24 05:18] wafer-li commented on #5697
Ok, I will try to build it

2017年5月24日 12:08，"wing328" <notifications@github.com>写道：

[2017-05-24 07:19] wing328 commented on #5692
@rompic you're right. It should be print_function instead just like we've documented in the README.md: https://github.com/swagger-api/swagger-codegen/blob/f63cae8aae4f780613deafd5a5bbe7633436e2ce/modules/swagger-codegen/src/main/resources/python/README.mustache#L56

May I know if you've time to file a PR to replace print_statement with print_function?

[2017-05-24 07:20] wing328 commented on #5690
@mischac thanks for reporting the issue. I think this should be filed in the Swagger Parser project instead (https://github.com/swagger-api/swagger-parser).

[2017-05-24 07:22] wing328 commented on #5679
cc @khalidx @pcon @asnelling

[2017-05-24 07:41] wing328 commented on #1158
@NabiKAZ The PR #2929 should have added more info about security setting. Are you using the latest master to generate the documentation?

Also there's another doc generator: `html2`, which is definitely worthwhile to try.

[2017-05-24 07:43] wing328 commented on #1158
Also worth sharing with you is that most API clients come with auto-generated documentation on how to use the API client, and the README contains info on the security settings: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/README.mustache#L111-L127

[2017-05-24 08:15] mischac commented on #5690
Yes will close here and insert in `swagger-parser`

[2017-05-24 08:15] #5690 closed

[2017-05-24 08:33] karussell commented on #3819
This gets a big :+1: from me. Probably also for other languages it is better to have a separate request object (instead of one method with maany parameters), which gets required parameters in the constructor and optional via setters. Otherwise you can end up with [lots of null parameters](https://github.com/graphhopper/directions-api-java-client/blob/master/client-examples/src/main/java/com/graphh

[2017-05-24 09:36] wing328 commented on #4044
https://github.com/swagger-api/swagger-codegen/pull/5593 by @dinukadesilva has been merged into mastesr. Please pull the latest master to give it a try.

[2017-05-24 09:36] #4044 closed

[2017-05-24 12:10] wing328 commented on #5693
@bluewolf8 please try the latest master to generate the code and use `./person.json#/definitions/person` instead.

[2017-05-24 12:35] tadhgpearson commented on #3819
@karussell - Maybe a good approach to this would be to set a limit at which the object-based approach kicks in. For example, use an object only if the call has more than 3 parameters.

[2017-05-24 12:39] kenisteward commented on #1334
What are your compilation errors you are getting due to interfaces? You have to remember typescript compiles to js which has no clue about interfaces which means interfaces are a compile time thing.  In that case interfaces allow you to create objects with type safety without needing a new operator.  See above for example.

Please provide the issue of why you get errors due to interfaces

[2017-05-24 12:43] karussell commented on #3819
I would favor to always use a request object. The one argument is that the POST API is already doing this and the second stronger argument is that if you add optional parameters you do not have to break the API with a request object. Furthermore in Java it is more descriptive and not that complicated. See this example where I set an optional "point" parameter:

[code]

[2017-05-24 12:48] tadhgpearson commented on #3819
Right, and don't get me wrong, I think it's a fine approach most of the time, except for those very common argument APIs, like

[code]

in which case it just becomes a verbose string wrapper.

[2017-05-24 13:44] muenzpraeger opened #5699 "[Apex] Support Salesforce DX"
##### Description

The coming, preferred deployment mechanism in Salesforce is Salesforce DX. For that it needs to be configurable

##### Swagger-codegen version

master

[2017-05-24 14:43] bluewolf8 commented on #5693
Hi - this works as expected even with version 2.2.2. Adding the ./ to the $ref did it.

[2017-05-24 14:43] #5693 closed

[2017-05-24 15:26] #5692 closed

[2017-05-24 15:36] wing328 commented on #5697
Let us know if it's still an issue.

You may also want to generate the client based on 2.3.0 branch instead, which contains breaking changes (enhancements, bug fixes)

[2017-05-24 16:06] wafer-li commented on #5697
2.3.0 have no problem

[2017-05-24 16:08] wing328 commented on #5697
Good. Closing this issue.

[2017-05-24 16:08] #5697 closed

[2017-05-24 17:15] edasaur commented on #5696
Just to go into a little more detail, say I have a bean:

`
public class EntityBean {
    public static final String CONSTANT = "constant"

    private final String variable;
    public EntityBean() {}

    public void setVariable(String var) {
        this.variable = var;
    }

    public String getVariable() {
        return this.variable
    }
}`

the DTO generated would contain the `variable`

[2017-05-25 00:23] iain17 commented on #1334
Replied in the PR. Thanks though for replying :)

[2017-05-25 00:23] dnome2 opened #5703 "need a way to print http response for an api call."
##### Description

Currently for every api, the template sets "kwargs['_return_http_data_only'] = True" and hence response data like headers, status code don't get printed...if i set it to false i do get to see the headers, status code etc but modifying every api is probably not an efficient way of doing it.

So is there a way to print all of http response data+headers etc. ?

##### Swagger-codege

[2017-05-25 00:43] cliffano opened #5704 "[Ruby] Lowering memory consumption when writing large file"
##### Description

Currently the generated Ruby client buffers the response body before writing the file in one go.
I tested this by using the Ruby client to download a file where response body's size is ~2Gb, and I monitored the ruby process spiked to ~2Gb memory consumption. This obviously won't scale well with larger files, and is a problem when the machine doesn't have large memory capacity, p

[2017-05-25 03:06] wing328 commented on #4819
@kirpit thanks for performing more tests to confirm the issue no longer exists.

@knzm please try the latest master and let us know if you still encounter the issue.

[2017-05-25 03:54] wing328 commented on #5703
@dnome2 Have you tried the `_with_http_info` method for an endpoint? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/apis/pet_api.py#L69

[2017-05-25 07:55] wing328 commented on #4805
@baynezy I don't think anyone is working on it.

Can you elaborate on the solution you want to apply to fix the isuse?

[2017-05-25 10:09] michalharakal commented on #5071
I'm really curious about your implementation @jimschubert, looking forward to see it. What is a branch/repo you are working on?

[2017-05-25 10:39] jimschubert commented on #5071
I haven't had a chance to start work on this yet. The past few weeks have been pretty hectic. The existing code I mentioned is private, so it can't be shared.

I'll try to find time for this over the next couple of weeks.

[2017-05-25 10:43] michalharakal commented on #5071
@jimschubert I'm just starting to learn Kotlin. As a starting point I have found this blog very useful [Retrofiting on Android with Kotlin](https://segunfamisa.com/posts/using-retrofit-on-android-with-kotlin)
Lets see if I can contribute to project too ...

[2017-05-25 11:52] wing328 commented on #5644
@DavidJona closing this as there's no update.

[2017-05-25 11:52] #5644 closed

[2017-05-25 11:53] wing328 commented on #5646
@FerrariAlberto what error did you get? and which Java API client (e.g. jersey2, retrofit) did you use? The default is `okhttp-gson`

[2017-05-25 11:54] wing328 commented on #5658
@sidebaet can you share the spec via https://gist.github.com so that the community can use it to reproduce the issue?

[2017-05-25 12:01] wing328 commented on #5664
@Alex-At-Home I'm not expert in Scala but you may want to check out the 2.30 branch as we try to consolidate 3 Scala generators (scala, akka-scala, async-scala) into one.

Is it correct to say that you want the endpoint to return the error model/object defined in 4xx/5xx response instead of throwing ApiException?

[2017-05-25 13:23] wing328 commented on #4882
That's technically possible and should not be difficult. If anyone wants to contribute to this enhancement, please reply to let us know and I'll show you some good starting points.

[2017-05-25 13:30] alejandro-heredia-coderoad-com commented on #4962
Such a pain with this error. I'm using ng2-http-interceptor and when responses return empty, although successful, they go to the catch operator method. I had to evaluate very strict now.

[2017-05-25 13:30] wing328 commented on #5636
@ebautistabar thanks for the findings.

cc @cbornet

[2017-05-25 13:47] wing328 commented on #5694
IMO the plug-in should be standalone as the auto-generated swagger spec can be consumed not only by Swagger Codegen but other tools as well such as ReadyAPI, Amazon API gateway, etc

[2017-05-25 14:28] wing328 commented on #5704
@cliffano I agree with you the current approach used by the Ruby API client is not ideal so please file a PR with the suggested fix.

[2017-05-25 14:49] rompic opened #5706 "[PYTHON] mismatch between html2 python method names examples (CamelCase) and generated python method names (underscore)"
##### Description

The generated html2 doc method name examples (camelCase) do not match the actual method names (with underscore) when a python client is generated.

E.g. see addPet
![add_pet](https://cloud.githubusercontent.com/assets/6322123/26454720/2f68ea54-4168-11e7-8cb4-08d8f6e6c309.png)

![add_pet_code](https://cloud.githubusercontent.com/assets/6322123/26454802/6bf85888-4168-11e7-966f-cbd

[2017-05-25 14:49] nvmd commented on #5100
I'm working on a gradual improvements to haskell-servant right now. Generated code itself first, and codegen refactoring after that.

[2017-05-25 15:27] packleader commented on #5694
I agree that a plugin who's only job is to generate the swagger spec from code would be best served as a separate project.  However, I was thinking of a more integrated solution - a single plugin to do all the work of parsing the source JAR file and generating the client API.

[2017-05-25 16:01] wing328 commented on #5100
@nvmd thanks. If the enhancement is not backward compatible with the existing code, then please file it against 2.3.0 branch. Any questions just let us know.

[2017-05-25 16:11] jimschubert commented on #5071
@michaelkourlas If you'd like to work on the Kotlin generator, I can leave it to you. If you'd like help, we could work together on it.

Here's a script to get all the pieces in place for a new generator. I was going to include this in my PR for the kotlin client:

https://gist.github.com/jimschubert/d9548527b8fce41b3922d2a12abb01e7

[2017-05-25 17:59] #5122 closed

[2017-05-25 20:55] michaelkourlas commented on #5071
@jimschubert Were you trying to mention @michalharakal?

[2017-05-25 21:00] jimschubert commented on #5071
yeah, sorry. I have no idea how that wrong mention happened.

[2017-05-26 00:12] austin94 commented on #5658
@wing328 I am able to reproduce with: https://gist.github.com/austin94/11642f6482dc2eed7a227979f0b44dfe

The fix for me was to just remove the `models.` string in `modelGeneric.mustache`. It appears that this was being used when the models namespace was still around?

[2017-05-26 03:22] zzsoszz opened #5708 "got error as parsing json"
package io.swagger.client;

import java.io.File;

import java.io.IOException;
import java.nio.charset.Charset;
import java.util.List;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

import org.apache.commons.io.FileUtils;

import com.google.gson.reflect.TypeToken;

import android.app.Activity;
import io.swagger.client.api.UserApi;
import io.swagger.cl

[2017-05-26 03:58] hallids opened #5709 "[typescript-angular2] Invalid import statement in variables.ts"
##### Description

The generated file `variables.ts` has this code as the first line:
[code]
As far as I can tell, this is not valid typescript, and will not compile. It produces this error:

Removing `<string>` fixes the problem and the code compiles:
[code]

##### Swagger-codegen version

2.3.0-SNAPSHOT (41527ead54c881f88324641809dcabfef9bf9e00)

##### Command line used for generation

`java -ja

[2017-05-26 04:59] taxpon commented on #5709
Sorry that is a bug I made. I'll fix it soon

[2017-05-26 07:38] sdoeringNew opened #5712 "[Java] Numbers with enum are wrongly serialized as String"
##### Description

Number enum models are generated and marshalled correctly. But unmarshalling fails because the value will be written as String into the resulting JSON. This is wrong because it should be a number.

##### Swagger-codegen version

Tested with Version: 2.2.2

##### Swagger declaration file content or url

_samples/client/petstore/java/jersey1/src/main/java/io/swagger/client/model/E

[2017-05-26 07:52] cbornet commented on #5696
It's not clear : is that our own code ? The codegen doesn't know anything about it ...

[2017-05-26 09:24] wing328 commented on #5706
Thanks for the fix by @taxpon

@rompic please pull the latest master to give it a try.

[2017-05-26 09:25] wing328 commented on #5558
Closed via #5705

[2017-05-26 09:25] #5558 closed

[2017-05-26 09:41] rompic commented on #5706
pulled master, ran ./bin/html2-petstore.sh
LGTM!

thx for the quick fix (this one really drove me crazy).

[2017-05-26 09:42] wing328 commented on #5706
@rompic thanks for the confirmation.

[2017-05-26 09:42] #5706 closed

[2017-05-26 10:45] ungular commented on #3916
I want to generate java code from my yaml file, but got same error: "unknown library: xxx"
- I created the java-proj.json :
[code]
- and proj-test.sh :
[code]
For what is '-c' option? and java-proj.json file? what is 'proj' from "library": "proj"?

[2017-05-26 10:48] vagy13 commented on #5532
Pretty cool, it is already fixed :-)

[2017-05-26 12:10] wing328 commented on #5611
UPDATE: I should have a fix by today (Friday)

[2017-05-26 13:28] wing328 commented on #3916
`proj` is not a valid "library". For a list of supported `library`, please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`

[2017-05-26 13:47] #5611 closed

[2017-05-26 13:48] wing328 commented on #5611
@frojasg the issue should be fixed by #5715. Please pull the latest master to give it a try.

[2017-05-26 14:17] ungular commented on #3916
@wing328  I tried this in json:
[code]

[2017-05-26 18:41] johnnyxh commented on #5634
Anyone taken a look at this issue? I have also noticed some differences between files generated from Swagger-Codegen 2.2.2 and the online generator (http://generator.swagger.io/). Both seem to be on version 2.2.2 (assuming the api version reflects the Swagger-Codegen version)

[2017-05-26 18:41] frojasg commented on #5611
@wing328 Thank you! You're awesome. I'll test it now.

[2017-05-26 20:27] edasaur commented on #5696
Ah, so the `EntityBean` class is just an example of some model code I might have

[2017-05-26 20:28] edasaur commented on #5696
However, it seems that I found a workaround for this issue, so I no longer need this open!

[2017-05-26 20:28] #5696 closed

[2017-05-26 21:49] AlexP-Elastic commented on #5664
Apologies the return code for valid responses does work fine, it's just the exceptions that aren't as typed as they could be, as you point out here:

Ideally it would create one exception per class like `ApiException_BasicFailedReply { error: BasicFailedReply }`

however that's secondary effect - you can close this, it was 99% operator error. Thanks for the reply and apologies again!

[2017-05-26 22:06] bunnyc1986 commented on #5611
@wing328 Thank you! This is awesome!

[2017-05-26 22:28] tgraupmann commented on #983
Is there a command-line option that can unset a property {{^netStandard}}? I'm trying to backport some things to .net 2.0 before net standard...

[2017-05-26 22:31] jimschubert commented on #983
@tgraupmann If you pass -DtargetFramework=v3.5, you get the 3.5 code and not the .NET Standard changes.

There's a .NET 2.0 generator. Any reason you're not using that? Or are you working on merging it to the main csharp generator?

[2017-05-26 22:33] jimschubert commented on #983
Also, `{{^netStandard}}` means "netStandard is not set". Code on this block will be 3.5 by default, or 4.x or uwp depending on the options you've passed.

[2017-05-26 23:09] tgraupmann commented on #983
Csharp .Net 2.0 generate lacks enum type support. It's coming in as a string versus the later exporter has a nice type. I'm manually merging as I remove some netstandard features. This is to work with Unity.

[2017-05-27 01:12] NabiKAZ commented on #1158
@wing328
I use `swagger-codegen-cli-2.2.2`.
And I have `security` and `securityDefinitions` tags.
My command:
`java -jar swagger-codegen-cli-2.2.2.jar generate -l html2 -i api.yaml -o docs`
But does not appears any security block in html output.
But I try [another library ](https://github.com/Rebilly/ReDoc)and does not any problem.

[2017-05-27 11:20] cliffano commented on #5704
@wing328 Raise PR https://github.com/swagger-api/swagger-codegen/pull/5718 .

[2017-05-28 13:35] Boscop commented on #181
How can I pass cookies retrieved from the login request to all later requests with a swagger-codegen generated java client?
Do I have to modify the code manually every time I generate the code? Or does it support this already?

[2017-05-28 13:38] Boscop opened #5719 "Handling HTTP errors"
How can I handle request failures in the swagger-codegen generated java client, so that I can react to different HTTP status codes (and process the different kinds of response objects)?

[2017-05-28 14:38] Boscop commented on #3483
It seems to be still not fixed in the java codegen on http://editor2.swagger.io/

[2017-05-28 14:38] Boscop commented on #2314
It seems to be still not fixed in the java codegen on http://editor2.swagger.io/

[2017-05-28 15:01] PhilippMundhenk opened #5720 "[Android] references"
##### Description
In the curent code generator used on editor.swagger.io, the referenced classes are generated as "InlineResponseX" instead of their classname. The appropriate class is still being generated but does not seem to be used by the services referencing it.

This worked before editor.swagger.io was updated.

##### Swagger-codegen version
current version from editor.swagger.io

##### Swag

[2017-05-28 22:45] felixvolz opened #5721 "[Java] snake_case swagger contents are converted to camelCase java code"
##### Description

I am using swagger-codegen 2.2.2 to generate java code from a swagger file. the contents of the swagger contract are snake_case but the java generated is camelCase. Is there a setting that corrects this bug.

##### Swagger-codegen version

swagger-codegen 2.2.2

##### Swagger declaration file content or url

##### Command line used for generation

Building from Maven via the fol

[2017-05-29 02:47] wing328 commented on #1158
@arnested you will need to build the JAR based on the latest master in order to use the enhancements in https://github.com/swagger-api/swagger-codegen/pull/2929

[2017-05-29 02:48] wing328 commented on #2314
Swagger Editor (old or new) is not using the latest master.

Please try to build the JAR based on the latest master and see if the issue still persists.

[2017-05-29 02:49] wing328 commented on #3483
Please build the JAR based on the latest master of Swagger Codegen and see if the issue still persists.

[2017-05-29 02:52] wing328 commented on #5720
Usually InlineResponseX means you've object/schema defined inline. A better way is to defined the model in the definition section like what you've shown in your question.

You may also want to build the JAR based on the latest master as Swagger Editor is using the latest stable version (not latest master).

There're other ways to generate Android API client. Please refer to https://github.com/swag

[2017-05-29 02:54] wing328 commented on #5721
Java uses "camelCase" for naming variables and the Java API client comes with a mapping between java variable name and original name defined in the spec.

What issues are you seeing when using the Java API client?

[2017-05-29 02:55] wing328 commented on #5708
It looks to me the error is due to your spec not correctly describing the response model.

[2017-05-29 02:59] wing328 commented on #5658
@austin94 thanks for sharing more. I wonder if you can file a PR with the suggested fix when you've time.

[2017-05-29 03:04] austin94 commented on #5658
@wing328 Sure, I can submit a PR in the next few days.

[2017-05-29 03:40] wing328 commented on #5721
I don't think that's true. The serialization process in the API client should take care of that with the mapping between Java variable name and original name defined in the spec.

Have you performed a test and inspect the JSON payment sent out by the Java API client generated by Swagger Codegen?

[2017-05-29 05:36] wing328 commented on #4461
Closing this as there's no further update.

[2017-05-29 05:36] #4461 closed

[2017-05-29 05:38] wing328 commented on #4776
Closed via https://github.com/swagger-api/swagger-codegen/issues/4778

[2017-05-29 05:38] #4776 closed

[2017-05-29 05:38] wing328 commented on #4781
Closing this as there's no update.

[2017-05-29 05:38] #4781 closed

[2017-05-29 05:49] wing328 commented on #3667
@zjarkov 2.3.0 branch has better support for enum in Python API client. Please give that a try and see if you still encounter the same issue.

[2017-05-29 06:00] wing328 commented on #5580
@philipptrenz thanks for reporting the issue. Can you please try the Java API client (okhttp-gson) or retrofit2 instead as mentioned in https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk?

[2017-05-29 06:03] wing328 commented on #983
We add the quotes for string but not numeric value. This is to make sure both string and numeric enum are supported.

If C# .net 2.0 generators support enum, would that meet your requirement?

[2017-05-29 06:05] wing328 commented on #5575
@rasuldev do you need help generating Java API client (okhttp-gson, retrofit2)?

[2017-05-29 06:07] wing328 commented on #5543
@brassel I think convertBoolToString should not be called for your case.

[code]
We can add a {{^isBoolean}} .. {{/isBoolean}} check in the template to include the code above only if the type is non-boolean. Would that help?

[2017-05-29 06:09] wing328 commented on #5553
It's not the case at the moment. Arbitrary JSON is mapped into associative array at the moment. Would that work for you?

[2017-05-29 06:10] wing328 commented on #5555
@triptec would my suggestion above be a good enough starting to meet your need?

[2017-05-29 06:14] wing328 commented on #5494
I think the following PR is related to your suggestion:

https://github.com/swagger-api/swagger-codegen/pull/3403

[2017-05-29 06:15] wing328 commented on #5488
Closed via #5561

[2017-05-29 06:15] #5488 closed

[2017-05-29 06:17] wing328 commented on #5469
@TarekDeeb do you need help generating Java API client (okhttp-gson, retrofit2)?

[2017-05-29 07:17] wing328 commented on #5673
@bsacharski can you try building the JAR from the latest master and give it a try?

If the issue still exists, we'll be happy to look into it.

[2017-05-29 07:48] TarekDeeb commented on #5469
I'm sorry for not replying. I generated the Java API with okhttp-gson library, however, the codebase was built using volley which had a different structure (listeners). It was too much to edit and we simply didn't have the time. We'll make the switch very soon though, so I'll report back when we do. Thanks!

[2017-05-29 07:48] brassel commented on #5543
Maybe, but it sounds a bit ad hoc, don't you think? I can not quite understand in which cases converting Bools to String is necessary at all. All I know is that just a few commits ago, the method was not called in our generated client and that it does cause an error now. So if you could make that change we could check if it works well again in our case.
If you would like, you could also describe t

[2017-05-29 08:06] bsacharski commented on #5673
@wing328
Built the jar using the ea30a4a7f84b020bddde06ef7e81468a0fb96316. The issue with double being converted to Float still occurs.

[2017-05-29 08:38] wing328 commented on #5543
The function convertBoolToString was added by https://github.com/swagger-api/swagger-codegen/pull/2705.

cc @JMDHo to see if he's any feedback on this issue.

[2017-05-29 10:29] wing328 commented on #5673
@bsacharski thanks for using the latest master to reproduce the issue.

I've filed #5724. My local test using the spec you provided is good.

I'll merge it into master once all CI tests pass.

[2017-05-29 10:39] wing328 commented on #5704
Closed via #5718

[2017-05-29 10:39] #5704 closed

[2017-05-29 11:34] #5673 closed

[2017-05-29 11:34] wing328 commented on #5673
PR merged into master. Please pull the latest master to give it a try.

[2017-05-29 11:39] bsacharski commented on #5673
@wing328 Build successful, looks like it works 👍

[2017-05-29 15:43] brassel commented on #5543
Our app did still work when the function was added. But recently it is called for our client where it was not before.

[2017-05-29 15:46] keithchong commented on #4509
I'm using the current online swagger editor to generate the jaxrs-spec server code from the example petstore definition.   I'm seeing the unresolved (no import added) Attachment issue but also, I'm seeing an issue with the InputStream reference - it does not have an import as well:

    public Response uploadFile(@PathParam("petId") @ApiParam("ID of pet to update") Long petId,@FormParam(value = "a

[2017-05-29 15:53] triptec commented on #5555
Only including info in the source code is not enough imo but maybe leave it as is for now

Sent from my iPhone

[2017-05-29 16:48] wing328 commented on #5071
Hi all, thanks @jimschubert for adding the Kotlin client generator. Please pull the latest master to give it a try.

For any feedback or suggestion, please open a new issue for tracking.

Tweet: https://twitter.com/wing328/status/869233191441227777

[2017-05-29 16:48] #5071 closed

[2017-05-29 16:48] wing328 commented on #5071
FYI. I'll update CI later to cover the Kotlin Petstore client.

[2017-05-29 16:51] Boscop commented on #3483
I mean the one that this site uses: http://editor2.swagger.io/
The admin of that site has to update it.
Who is the admin?

[2017-05-29 17:02] mulles3008 commented on #5494
Oh... thx! Will definitely have a look at it!

[2017-05-29 18:56] austin94 commented on #5709
@taxpon just a heads up, hard coding `<string>` in the template
[code]
will cause it to fail for the OpaqueToken usage. I made the necessary changes locally thinking it was another issue and can submit a PR if you haven't gotten started yet.

[2017-05-29 18:58] austin94 commented on #5658
@wing328 turns out I was wrong.  I must have been on an old version of `2.3.0`.  Currently on master and 2.3.0 branches the `models` usage is working correctly in `modelGeneric.mustache`.

While exploring I found the solution for #5709 so I may submit a PR for that issue if no one has started yet.

[2017-05-29 20:15] jimschubert commented on #5071
Cool. I fixed that issue I was seeing with serialization due to the 'name' parameter of Pet objects. I also included the test I mentioned in the first PR and opened a second.

I'll open another issue to track any additional work that may be picked up by the community.

[2017-05-29 20:33] jimschubert opened #5730 "[Kotlin] Improve client generator functionality"
##### Description

This is a tracking issue for adding functionality to the Kotlin client generator.

- [ ] Support "default" responses. Currently 200 OK isn't handled, for example, in `PetApi#addPet`.
- [ ] Support enum type generation
- [ ] Support inline/embedded enums
- [ ] Support `collectionFormat` (multi)
- [ ] Test/Implement arrays of maps, arrays, objects
- [ ] Test/Implement maps of arra

[2017-05-29 20:39] arnested commented on #5586
I just had a look at this and it seems @wing328 fixed this earlier today in commit ef35b80bd873281266389941382a6ecea65eb17a.

[2017-05-29 22:12] felixvolz commented on #5721
Okay I guess I missed including an important bit. I am exposing my service via cxf:rsServer (Camel) for 3rd parties to consume.

`<cxf:rsServer address="/rest" id="rest" serviceClass="io.swagger.api.DefaultApi">
        <cxf:providers>
            <ref bean="jsonProvider"/>
        </cxf:providers>
    </cxf:rsServer>`

Are you saying its the responsibliity of rsServer to map from the received jso

[2017-05-30 03:28] jimschubert commented on #5577
@mminns This is probably a silly question, but why not use `{{modelPackage}}` as a prefix in code when you're working with a type that is neither primitive nor container type?

Something like this for operation return types:

[code]
It's ugly, but I think this would be simpler than a lot of shuffling code around within the generator. I think you'd only need to have this wacky long string on method

[2017-05-30 04:03] jimschubert opened #5732 "[csharp][java] Generating api docs without model docs leads to broken doc links"
##### Description

`DefaultGenerator` allows for generating api docs without model docs, and model docs without api docs.  Templates for csharp, java, and possibly others make the assumption these are always generated together. I discovered this while creating a new generator and looking at how doc templates are done in existing generators.

##### Swagger-codegen version

All versions supporting a

[2017-05-30 05:05] jimschubert commented on #5676
This looks to be a problem with swagger-parser. I debugged against the referenced specification and `swagger.getDefinitions()` doesn't include `ApiResponseDelete`.

![image](https://cloud.githubusercontent.com/assets/109659/26568587/a2252d4c-44d2-11e7-97b2-49cb65067170.png)

I thought it may be a problem with missing `type` on the schema, but the OpenAPI 2.0 specification and JSON Schema don't app

[2017-05-30 08:42] brassel commented on #5543
I have had a look at

https://github.com/swagger-api/swagger-codegen/issues/2446

which describes *that* the function to convert Booleans to Strings was added as well as

https://github.com/swagger-api/swagger-codegen/issues/2446

which describes that converting Booleans to Strings is not so easy because of an issue with identifying Booleans. This problem and the solution is described here:

http:

[2017-05-30 10:29] 7mllm7 opened #5733 "Generate React (with flow) client"
## Background
Using [Swagger Editor](http://swagger.io/swagger-editor/), I created a spec for my API.
I see that Swagger Editor also provides a "Generate a client" option (probably using [Swagger Codegen](http://swagger.io/swagger-codegen/)).

## Objective
I want to generate a client and use it in my React app (created with [create-react-app](https://github.com/facebookincubator/create-react-app))

[2017-05-30 11:29] ePaul commented on #5721
The generated classes for each Java-based "language" or "library" usually contain annotations to make sure that the on-the-wire version of names are as they are in the Swagger/OpenAPI definition.

It might be that `jaxrs-cxf` does something wrong here, or it doesn't actually work with the `<cxf:rsServer>`.

[2017-05-30 12:12] jimschubert commented on #5352
@wing328 It looks to me like the issue is more about how swagger definitions define enums.

For example, defining a gender enum like this in definition:
[code]

Results in this enum:

[code]

Technically, this is correct and is the only way I know of to provide semantics to the enum's numbers. However, the enum is annotated with `StringEnumConverter` which means it is presented as `none`, `male`,

[2017-05-30 13:51] cbornet commented on #5733
Note that you could also use the dynamic https://github.com/swagger-api/swagger-js lib

[2017-05-30 13:54] cbornet commented on #5733
And you can have a look at [swagger-ui](https://github.com/swagger-api/swagger-ui) which is a react app based on that lib.

[2017-05-30 13:57] jimschubert commented on #5513
@sumo300 Sorry it took me quite a while to get around to this. I opened a PR with a fix that adds a custom date serializer. Would you be able to test out the PR referencing this issue (#5734)?

[2017-05-30 14:14] 7mllm7 commented on #5733
@cbornet, thanks for your replies.

* https://github.com/swagger-api/swagger-js indeed is dynamic, and while it's ok, I want to make a use of strongly typed capabilities (like flow). In other words, I want to be stopped **on build time** if I didn't call an endpoint with the right parameters.
* Do you really think I can deduce such client generator from [swagger-ui](https://github.com/swagger-api/

[2017-05-30 14:24] manuc66 opened #5735 "Bad class name for JsonSubTypes"
##### Description

``@JsonSubTypes.Type(value =`` does not use the generated class name.

##### Swagger-codegen version

``2.2.2``

##### Swagger declaration file content or url

https://gist.github.com/manuc66/6949ccf855a54e65db40f32eb4b37af2

produce this:
[code]

``invalid-foo-error.class`` should instead be ``InvalidFooError.class``

##### Suggest a Fix

I'm preparing a fix that would fix some

[2017-05-30 15:03] aaronschwartz opened #5737 "[JAVA] Problem generating template using the `required` array of object properties"
First of all thank you very much for the library.
##### Description

My end goal: To validate objects returned by my API. If they are marked as required in the `required` array property of an object, I want to fail validation if it does not exist in the response returned by the API call. Since the serializer is very lenient on json parsing, I'm trying to find another way to tell if an object in th

[2017-05-30 15:28] baynezy commented on #3821
@damnhandy - can you post an example because I am struggling to make `discriminator` do anything.

[2017-05-30 15:35] jmiserez commented on #1435
@wing328 The PR referenced only fixes things for the C# client. The Java client still isn't threadsafe, and manually managing ApiClients per thread is not practical. I think this issue should be reopened.

[2017-05-30 16:11] stevecookform3 commented on #5685
@wing328  Looks like the existing implementation in #5363 already covers this case. I think we can close.

[2017-05-30 16:11] #5685 closed

[2017-05-30 16:17] wing328 commented on #1435
@jmiserez given that this issue is closed a while ago, I would suggest you to open a new one with examples showing why it's not practical and what you would suggest.

You can reference this issue in the issue you newly created.

[2017-05-30 16:32] wing328 commented on #5685
@stevecookform3 thanks for the confirmation.

[2017-05-30 16:45] stevecookform3 commented on #5686
@wing328 @cbornet @jfiala I've attached the PR.

[2017-05-30 17:30] claudefalbriard opened #5739 "com.sun.org.apache.bcel.internal.classfile not found at swagger-codegen core libary"
##### Description
Trying to build the latest swagger-codgen package using the "mvn clean package" command. The build stops at the compile step for swagger-codegen (core library), unable to find the package named: "com.sun.org.apache.bcel.internal.classfile". I'm using IBM Java 7 SDK.

I also tried to add the package using a new Maven dependency that contains the package, as described below, but st

[2017-05-30 20:36] jimschubert commented on #4961
@MMirabito I rebased the previously mentioned branch against 2.3.0 and opened a new PR. Would you mind checking out #5740?

The refactoring I did should remove all questions about the Configuration object and what/when/where it is being used. I introduced a new partial `GlobalConfiguration`, so you can define shared configuration at compile time. This is only exposed via `Configuration.Default`.

[2017-05-31 02:25] jimschubert commented on #2858
#5740 should address the refactor part of this issue. It could still use some additional documentation about how to pass the configurations.

[2017-05-31 04:26] wing328 commented on #5739
@claudefalbriard can you try using Open JDK instead of IBM Java 7 SDK.?

[2017-05-31 07:14] naelrashdeen commented on #3486
I would like to work on this. Please let me know the requirements and i might be able to contribute.

[2017-05-31 07:42] wing328 commented on #3486
@naelrashdeen thanks for offering help on this.

A good starting point is to look at the following PHP server generator and clone/copy one of them to be the base or starting point of the PHP Symfony generator.

[Silex generator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/SilexServerCodegen.java) & [resource files (t

[2017-05-31 09:37] stkrwork opened #5741 "[C++] Restbed Server Stub Code Generator"
##### Description

I created a new code generator template for the Restbed framework. The framework can be found here: https://github.com/Corvusoft/restbed

##### Swagger-codegen version

Latest on master

I haven't created the pull request yet, but the changes are ready on a fork.

[2017-05-31 09:43] wing328 commented on #5741
@stkrwork wow... that's the first C++ server stub generator for Swagger Codegen 👏 👏 👏

Please submit a PR so that we can review the new generator.

[2017-05-31 09:48] wing328 commented on #3821
@baynezy would the following help?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#models-with-polymorphism-support

[2017-05-31 09:52] stkrwork commented on #5741
#5742 is the pull request

[2017-05-31 11:08] ePaul commented on #5694
I don't think this should be part of swagger-codegen (the core library just takes a swagger-core Swagger object, other parts (e.g. the maven plugin and CLI) add parsing of the JSON/YAML to it). Though I can imagine that there is a tool which does both steps (extract OpenAPI definition from Swagger annotations, and generate stuff from that) in one build.

[2017-05-31 13:40] ab48917 opened #5743 "Unable to call a restful service and saying unauthorized"
Hi Team,

Consuming a restful service using swagger codegen 2.0 But its failing the authentication.

"swagger": "2.0",
  "info": {
    "version": "2.1.0",
    "title": "GeoES"

Schema does not have securityDefinitions:
  basic:
    type: basic
    description: HTTP Basic Authentication.

So, I tried changing Apiclient authantications map and added manually credentials. But no luck.
          HttpB

[2017-05-31 13:53] theindra opened #5744 "Set RetryPolicy in Android Volley library"
I have a problem that my swagger generated code is executing the requests twice sometimes. I think this is due to the RetryPolicy of the volley library.

Description: https://stackoverflow.com/questions/26264942/android-volley-makes-2-requests-to-the-server-when-retry-policy-is-set-to-0

Now I want to set the RetryPolicy of my swagger generated code with out changing the ApiInvoker-Class everytime

[2017-05-31 15:27] nirvik66 opened #5745 "[QUESTION] 2.3.0 Release Date"
Hi!

According to the README file the release for 2.3.0 was expected for Apr/May 2017. Could you please give me an estimate when the build 2.3.0 will become the stable one?

Thanks!

[2017-05-31 15:43] rdalverny opened #5746 "[Swift3] Decoder might be a little bit more liberal"
##### Description

It happens that some server implementations send booleans or integers as strings, yet the client library expects a boolean or an integer (this is somewhat messy, agreed - in my case).

At this point, on such case, a generated Swift3 client will `fatalError("Source \(source) is not convertible to type \(clazz): Maybe swagger file is insufficient")` (in [swift3/Models.mustache#L92

[2017-05-31 16:04] JFCote opened #5747 "Any tips for the cleanup of generated files?"
##### Description

I'm the main contributor to the JavaPlayFramework template and since the generator is pretty stable right now, I was wondering if there is some ways to clean the generated files.

Here are the problem I see in my generated codes:

1. Route files are in serious needs of some alignment. It looks like this:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/p

[2017-05-31 17:00] ePaul commented on #5747
I think some other languages are having just the minimum imports (which are used in the hardcoded parts of the template) hardcoded, and add other stuff dynamically during e.g. the operation or model postprocessing to some `import` map/list. That one is later used to expand to the list of imports. (I didn't have a look at the Play stuff yet and don't have the code in front of me, so I can't give mo

[2017-05-31 17:30] ePaul commented on #5743
Sorry, your issue fails to give any details which could be used to help you.

For which language are you generating stuff? (Please post the full command line, or maven plugin configuration, and the Swagger-Codegen version number.)
Also, please include or link the API definition file (swagger/OpenAPI), either the full one or a reduced which still allows reproducing your problem.
Then, please includ

[2017-05-31 17:35] rdalverny commented on #5746
I agree it's far from beautiful but:
 * swagger is not always used as an all-or-nothing solution; server & client implementations may not be necessarily be coupled with each other; it happens in legacy environments; it surely can be fixed in other ways upstream, but that may not be the fastest way;
 * that kind of behavior as I see it is more about being liberal in accepting/casting received data,

[2017-05-31 17:43] fehguy opened #5748 "update parser to v1.0.29"
There is a new parser version available which addresses a number of issues with remote references.  Should to be updated in 2.2.x and 2.3.0

[2017-05-31 18:27] nikitozz commented on #3970
Is there a reason this fix hasn't been merged to master?
Here is the code from 2.3.0 release: https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/TypeScript-Fetch/api.mustache#L130
And here is what we have in master: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Fetch/api.mustache#L1

[2017-05-31 18:41] jstockall opened #5752 "[JAVA] date-time is not handled correctly if the type is defined after it's referenced"
Two types are defined. UserOfTime and Time. UserOfTime has a single property that references Time. Time is defined as `"type": "string", "format": "date-time"`.

If Time is defined after UserOfTime the Time class is never generated. If Time is defined before UserOfTime the property is converted to a string.

In 2.2.2 this worked as expected using a generated Time class no matter which order the tw

[2017-05-31 19:16] JFCote opened #5753 "Unable to generate anything with multiple files yaml spec"
##### Description

I'm trying to generate the JavaPlayFramework with a very simple multiple files yaml spec but it doesn't work. I also tried with other server and I receive the same error. I was advised to try to validate the spec using the brand new "validate" function but I still receive the same error.

What is strange is that I am able to look at this spec using swagger-editor in local. There

[2017-05-31 19:45] #5748 closed

[2017-05-31 21:52] arnested commented on #5607
Hi @gipeshka,

I posted a pull request for fixing this: #5754.

[2017-06-01 02:33] jimschubert commented on #5753
I'd never seen external refs defined outside of a `definitions` key. I checked swagger-parser, and it should be supported.

I ran the following against the `csharp` generator with a parent `definitions` key in your `definitions.yaml`, and it generated for me.

swagger.yaml:
[code]

definitions.yaml:
[code]

When I run without the parent `definitions` key, I also receive an error:

[code]

It seems

[2017-06-01 02:41] jimschubert commented on #5753
I should mention, current master was updated today (9 hours ago, issue reported 7 hours ago) to use swagger-parser 1.0.29. I tested this both with 1.0.28 and 1.0.29 and received the same error when there's no parent `definitions` key in the externally referenced file.

[2017-06-01 03:06] ab48917 commented on #5743
Sorry for inconvenience caused,  I generated the stubs for java using below
command-

java -jar swagger-codegen-cli-2.2.1.jar generate -i geo.json -l java -o
myclient -a "Authorization:Basic ****************=="

But my swagger schema does not have securityconfig information. Producer
did not write this in json schema file. And still, Producer has used basic
authentication.  So the problem here , M

[2017-06-01 03:37] fehguy commented on #5753
Could be the case that we need to add a test to the parser for this.  It should be handled...

[2017-06-01 12:02] JFCote commented on #5753
@jimschubert and @fehguy : I'm pretty sure it should be supported by swagger-codegen because it seems to be supported by the swagger-editor and swagger-ui (and probably by the OpenApi spec itself).

I followed this article on how to split a single yaml file into multiple files and as you can see, there is no more "definitions" key once it is split and it make sense.

https://apihandyman.io/writing

[2017-06-01 13:13] jimschubert commented on #5753
@JFcote I don't think it's a swagger-codegen issue. The third line from the bottom of my stack trace is in CodegenConfigurator, which calls

[code]

The exception that's thrown is in swagger-core, and looks like it has to do with getting the name of a reference. As @fehguy said, it should be covered.

I'm heading out on vacation today, but I'll try to look later.

[2017-06-01 14:48] ePaul commented on #5746
The problem with [Postel's principle](https://en.wikipedia.org/wiki/Robustness_principle) (the part "be liberal in what you accept") is that people start to rely on the behavior. If data consumers start to accept strings instead of other values, then data producers will start to send strings where numbers are meant (without anyone noting that they are doing wrong things). And then other consumers

[2017-06-01 18:34] giflw opened #5758 "Add SparkJava server code generation"
##### Description

Add support for Spark Java (http://sparkjava.com/) server generation. Spark Java is a micro framework in Java, similar to Scalatra.

[2017-06-02 02:56] jimschubert commented on #5753
@fehguy I tracked down the problem. This is an issue with swagger-parser. I'm on vacation for a week, so I was wondering if you could look into a fix?

The issue is that the code is getting into `GenericRef#computeSimpleRef` with a `RefFormat.INTERNAL` and `RefType.DEFINITION` for which the prefix is defined as `#/definitions/` by the `RefType` enum. If an internal type definition is a shorter len

[2017-06-02 06:37] wing328 commented on #5758
@giflw thanks for the suggestion. May I know if you've time to contribute the generator for Spark Java?

If yes, I can show you some good starting points.

[2017-06-02 07:14] #5741 closed

[2017-06-02 07:31] wing328 commented on #5745
@nirvik66 thanks for the question but I'm sorry to inform you that the release has been postponed.

I'll go through all the remaining issues in the next couple of days and come up with a list of outstanding items pending for 2.3.0.

[2017-06-02 07:51] sadimusi commented on #3950
Small status update: there's a first draft of this feature available [here](https://github.com/sadimusi/swagger-codegen/commit/fedc8ff0f7fd9dba253b4b298b962bb5131985a8). It still needs a little cleaning, some documentation and of course a lot of testing.

I've started out with the goal to make as little changes as possible, but quickly realized that this approach would just add to the mess in the

[2017-06-02 08:37] stkrwork opened #5760 "Apache Authentication and Authorization Conf Gen"
##### Description

With the information in the Swagger AuthMethods component, a Apache configuration could be generated.

It might also be useful to extend the AuthMethods Class to include a groups Array, to create the group handling in Apache for HTTP Basic/Digest Authentication/LDAP.

Through this one can generate the server  stub and reroute the calls to the server stub via apache. Apache then

[2017-06-02 09:39] wing328 opened #5761 "Feedback on Swift API client generator"
##### Description

After chatting with @banjun (the creator of https://github.com/banjun/SwiftBeaker), here are some feedbacks from him for the Swift API client generator:
[code]

##### Swagger-codegen version

Latest master

[2017-06-02 14:01] karthikrmw opened #5763 "Swagger-codegen generated code having issues Routing requests with parameters in path"
##### Description

I created my api definition using swagger and have generated the server code using Swagger-tools in NodeJs. The SwaggerRouter handles all routes properly excepts the routes with ID. For example , routes like

/v1/factoris/self /v1/factoris/create

are directed to the right controller but calls with IDs

/v1/factoris/{factoris_id}

are returned as invalid routes.

Any idea what I

[2017-06-02 15:06] nirvik66 commented on #5745
Thanks for letting me know!

[2017-06-02 15:35] rdalverny commented on #5746
Fully agree.
Here's a possibility: https://github.com/rdalverny/swagger-codegen/commit/209c7c50ab506d19cd12f567d8d1dc335dc41a5d. Shall I push it as a PR or do you have any feedback before at this point (I'm not sure I did it all right regarding the option addition)?

[2017-06-02 16:29] giflw commented on #5758
@wing328 I can try to do that. I just need some guidance.

[2017-06-02 17:12] wing328 commented on #5758
Thanks for offering help to create the generator.

I think the Play generator or the MSF4J generator would be a good starting point:

Play: [generator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaPlayFrameworkCodegen.java), [templates](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-cod

[2017-06-02 19:37] frol commented on #4044
Can anyone clarify why ES6 code generation is needed? I have been successfully using the module generated for "old" JS in my ES6 webpack-enabled project for over a half a year now (indeed, I had to configure webpack [#3466], but that is not hard at all). There must be a reason, but I don't see one.

P.S. The reason I ask is due to the fact that another JS implementation increased the maintenance c

[2017-06-02 19:54] karthikrmw commented on #5763
After some trial and error, I figured out that  path parameter does not work if its has a "-" (factori-id)
so changing factori-id to factori_id fixed it.  But its still a bug since the path parameter cannot handle "-"

[2017-06-03 21:21] ePaul commented on #5746
Looks fine from the distance (I don't know Swift enough to be able to judge about that, and didn't load the Java part in the IDE).

[2017-06-04 07:41] wing328 commented on #5744
@theindra would customizing the Android volley template meet your requirement?

Android Volley templates: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/android/libraries/volley

Ref: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-06-04 07:42] #3466 closed

[2017-06-04 16:39] wing328 commented on #5613
Closed via #5616

[2017-06-04 16:47] #5607 closed

[2017-06-04 17:11] wing328 commented on #5703
Closing this as there's no update.

[2017-06-04 17:11] #5703 closed

[2017-06-04 17:11] wing328 commented on #5712
Closing via #5713

[2017-06-04 17:11] #5712 closed

[2017-06-04 20:56] sebastienFrance opened #5772 "Cannot use Javascript generated code"
##### Description

I have a small REST API defined using Swagger. I have generated the Java code (JAX-RS) and implemented the service, it works.
Now I have generated the Javascript client code and I would like to integrate it in my React App. I'm not able to integrate due to issue when importing the Swagger generated code.

##### Swagger-codegen version

Latest online version

##### Swagger declar

[2017-06-05 07:29] wing328 commented on #5772
@sebastienFrance thanks for reporting the issue. It may be related to https://github.com/swagger-api/swagger-codegen/pull/5768

[2017-06-05 07:39] wing328 commented on #5760
Yes, I think that will be useful. There are discussions about generating a DB schema from OpenAPI/Swagger 2.0 spec so there are unlimited possibilities with Swagger Codegen to generate "things" other than API client, server stub, documentation.

[2017-06-05 07:45] wing328 commented on #5680
You can also customize the templates using the `-t` option: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-06-05 07:45] #5680 closed

[2017-06-05 08:06] wing328 commented on #5737
@aaronschwartz I would suggest you to try the latest master as the issue may have been addressed.

You may also want to reference the object instead of defining the object inline.

[2017-06-05 08:16] wing328 commented on #5719
@Boscop Java API client should throws an exception (ApiException) when receiving a 4xx or 5xx response.

In the ApiException object, you can find the status code, headers and the HTTP response body.

[2017-06-05 08:25] wing328 commented on #5639
@bharathreddy-97 How do you define the endpoint? Are you using BodyParameter (array of models)?

If you can share the spec, the community can use it to more easily reproduce the issue.

[2017-06-05 11:12] theindra commented on #5744
Probably... I've never tried adopting a template.

It should be fixed by setting the RetryPolicy of the request at the end of the method **createRequest**.

[2017-06-05 11:24] wing328 commented on #5744
@theindra you can also use the Java Retrofit2 API client instead: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-06-05 12:02] sebastienFrance commented on #5772
I found a solution thanks to [#3336](https://github.com/swagger-api/swagger-codegen/issues/3336)
I have updated my webpack.config.js as indicated and it works.

[2017-06-05 12:02] #5772 closed

[2017-06-05 12:15] mminns commented on #5577
Sorry missed your comment.

I will test that as an alternative see if that works.
In effect its not that much different to the solution in https://github.com/swagger-api/swagger-codegen/pull/5682/files which just adds an explicit returnType package value to the data passed tot he template.

[2017-06-05 12:16] mminns commented on #5576
see https://github.com/swagger-api/swagger-codegen/pull/5682

[2017-06-05 12:34] JFCote commented on #5460
@wing328 and @reece : I've noticed this problem too when generating json format in the JavaPlayFramework codegen. I don't know where this "json" is generated so I could not fix it myself.

I use this code in the generator:

[code]

And use it like this in the .mustache file:

`{{{swagger-json}}}`

yaml like this
[code]

return json like this
[code]

[2017-06-05 15:34] #5262 closed

[2017-06-05 16:56] Moscagus opened #5777 "[JAVA] java/jersey2 ApiClient.invokeAPI doesn´t close the Response object"
##### Description

The code does not guarantee the correct closing of the Response object, since it does not always reach a response.readEntity or call a response.readEntity(InputStream.class) that does not close the connection either.
See:
https://jersey.github.io/documentation/latest/client.html#d0e5222

##### Swagger-codegen version

swagger-codegen-cli-2.2.2.jar

##### Swagger declaration file

[2017-06-05 17:17] JFCote commented on #5460
Can be reproduced using all the above examples using this simple line:

`java -jar swagger-codegen-cli.jar generate -i swagger.json -l swagger -o generated`

I dug a little bit in the code and I'm pretty sure this is coming from `swagger-core`. When swagger-codegen process the models, the value is already there `"InTransit"` instead of just `InTransit` without the quote.

[2017-06-05 17:22] wing328 commented on #5777
@Moscagus thanks for reporting the issue. Please file a PR so that we can more easily review the fix.

[2017-06-05 17:28] wing328 commented on #4966
Added coverage for Swift, Swift3 via https://github.com/swagger-api/swagger-codegen/pull/5687, ObjC via d6743b4597730ccd75ae3514aad0e41ef2ca50f1

[2017-06-05 17:42] wing328 commented on #5694
My suggestion is to start with "parsing the source JAR file" first and put down "generating the client API" as a day-2 requirement.

[2017-06-05 17:45] wing328 commented on #5615
Closed via #5617

[2017-06-05 17:45] #5615 closed

[2017-06-05 17:46] wing328 commented on #5586
@adhocore let us know if you still see issues in the latest master.

[2017-06-05 17:46] #5586 closed

[2017-06-05 17:49] wing328 commented on #5626
Closed via #5645

[2017-06-05 17:49] wing328 commented on #5625
Closing this as there's no update.

[2017-06-05 17:49] #5625 closed

[2017-06-05 17:50] #5566 closed

[2017-06-05 17:51] #5557 closed

[2017-06-05 17:52] #5553 closed

[2017-06-05 17:56] #5473 closed

[2017-06-05 17:56] #5444 closed

[2017-06-05 17:59] JFCote commented on #5460
I've submitted a fix but I don't know if it's the legitimate way to fix it. But it work :) Let's see if it will be accepted and merged to the master!

[2017-06-05 17:59] wing328 commented on #5440
@bharathreddy-97 one way is to update the templates: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/objc

Would you have time to contribute a PR for the suggested fix using @class, @protocol ?

[2017-06-05 18:01] wing328 commented on #5410
@cmb28 I wanted to but had no clue why it's not working given that the swagger-codegen-cli works without issue.

[2017-06-05 18:04] wing328 commented on #5315
@albert-visser you may want to run your own local generator.swagger.io as it's a sub-module in the swagger codegen project: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-generator so that you've complete control of which version of Swagger generator to use.

[2017-06-05 18:05] wing328 commented on #5315
Closing this for the time being. If you want this issue to be reopened, please let me know.

[2017-06-05 18:05] #5315 closed

[2017-06-05 18:06] wing328 commented on #5338
@msample instead of patching the auto-generated code, what about customizing the templates?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-06-05 18:08] wing328 commented on #5343
Fixed in the latest master and 2.3.0

Thanks for your help 👍

[2017-06-05 18:08] #5343 closed

[2017-06-05 18:09] wing328 commented on #5382
Closed via #5408

[2017-06-05 18:09] #5382 closed

[2017-06-05 18:12] #5309 closed

[2017-06-05 18:16] leonluocheng opened #5779 "[HTML2]html2 api documentation consolable sections start with open curly brace '{' but do not end with close curly brace '}'"
##### Swagger-codegen version

swagger-codegen master branch 2.3.0

##### Issue description

As you can see from the screenshot, the EventColor do not have close curly brace "}"
![image](https://cloud.githubusercontent.com/assets/8879694/26796889/b1606ad8-49f0-11e7-8ba4-1f7e2c05b5f9.png)

It is easy for us to fixed it by manually modify the html2 file. but I am looking for a better way to fix this

[2017-06-05 18:16] wing328 commented on #5304
Moved tests to CircleCI and seems no longer seeing the issue.

Will reopen this if the issue reoccurs.

[2017-06-05 18:16] #5304 closed

[2017-06-05 18:20] wing328 commented on #5248
@Joosakur sorry for late reply on this.

ApiClient.java is different depending on which Java library you used:

Currently, the generator (latest master) supports the following libraries:
[code]

[2017-06-05 18:21] wing328 commented on #5156
Closed via https://github.com/swagger-api/swagger-codegen/pull/5390

[2017-06-05 18:21] #5156 closed

[2017-06-05 18:22] wing328 commented on #5129
Closing this as there's no update.

[2017-06-05 18:22] #5129 closed

[2017-06-05 18:24] wing328 commented on #5086
@iamkarlson we need a fix similar to https://github.com/swagger-api/swagger-codegen/pull/5373

Would you have time to contribute the fix?

[2017-06-05 18:25] wing328 commented on #5059
Closing this as there's no update.

[2017-06-05 18:25] #5059 closed

[2017-06-05 18:27] wing328 commented on #4981
@jspears if you do not want Java dependency installed, you can also use https://generator.swagger.io or Docker to generate code. More info can be found in README.md

[2017-06-05 18:27] #4981 closed

[2017-06-05 18:33] wing328 commented on #5034
@ppKrauss sorry I missed your reply.

I would suggest you start with the documentation generators, which generate only 1 or several files similar to configuration files that you want to generate.

Please do the following
[code]

[2017-06-05 18:34] iamkarlson commented on #5086
give me some time, maybe the upcoming week I will have time. i'm not sure

[2017-06-05 18:37] leonluocheng opened #5780 "[HTML2]Html2 api documentation generated by codegen does not render correctly in IE"
##### Description

Html2 client generated by codegen does not render correctly in IE 11. as shows in screenshot, exactly same html2 client but when opened by IE 11, part of the parameter schema are missing. This issue does not happen in chrome, edge and Firefox.   Also this issue does not happen when I using swagger online editor to generate the html2 documentation.

![image](https://cloud.githubu