[2015-09-09 18:30] samxye commented on #982
@wing328 still not working unfortunately.

[2015-09-09 20:22] GuptaAmit311 opened #1207 "Add swagger Codegen in swagger editor"
I am trying to add swagger codegen in my swagger editor Jboss project ( for generate server and generate client dependencies).  Is there any document or readme file to do that.

Thanks for your support.

[2015-09-10 00:16] joe-kahuna commented on #1203
I'm not going to get to a markdown converter within codegen anytime soon.
It's low priority on my plate, simply because I'm not highly dependent on
swagger at the moment. swagger2markup would work for me, and I'll explore
it.

Joe

On Tue, Sep 8, 2015 at 8:55 PM, wing328 <notifications@github.com> wrote:

--
Joe Malin
Senior Technical Writer
Kahuna, Inc.

[2015-09-10 02:17] wing328 commented on #1203
Understood and glad to hear that swagger2markup works for you.

[2015-09-10 02:21] wing328 commented on #982
@samxye for the following
[code]
Is that the definition of a model? It seems to be missing the `properties`

[2015-09-10 04:24] mohsen1 opened #1208 "Code generation is currently broken for node.js"
_From @grucode on September 10, 2015 3:51_

Currently we are unable to generate server code for node.js
The server is responding with a 500 Internal Server error message on all requests for code generation.

_Copied from original issue: swagger-api/swagger-editor#637_

[2015-09-10 04:24] mohsen1 commented on #1208
@webron @fehguy It seems codegen server has an issue.

[2015-09-10 06:43] wing328 commented on #1208
Confirmed as I'm able to repeat the issue:
[code]

[2015-09-10 09:18] glederrey opened #1209 "Spring MVC Stub server: Get the name of the parameters"
Hi,

I'm just having some problems getting the name of the parameters when we create a stub server..

When this line is used in api.mustache:
```{{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{#hasMore}},{{/hasMore}}{{/allParams}}```

We get something like this:
```@ApiParam(value = "ID of the document", required = true) @RequestParam(value = "docId",

[2015-09-10 10:34] glederrey commented on #1209
Found it..

I need to use this line:
```{{#allParams}}{{baseName}}{{#hasMore}},{{/hasMore}}{{/allParams}}```

[2015-09-10 10:34] #1209 closed

[2015-09-10 13:44] fehguy commented on #1208
We had a server error.  All better now.

[2015-09-10 13:44] #1208 closed

[2015-09-10 13:52] #1197 closed

[2015-09-10 14:04] wing328 commented on #1207
To generate SDKs using codegen, you can submit a HTTP request to generator.swagger.io, e.g.
[code]
Is that what you're looking for?

[2015-09-10 16:08] glederrey opened #1211 "Spring MVC doesn't see body params"
Hi,

I'm sending a JSON dictionary in the body parameters and the problem is that the stub server with Spring MVC and it doesn't see this parameter.. It always return `null`.. I tried to change the body parameter to a String.. But it still doesn't see it..

Does anyone have an idea why??

[2015-09-10 16:33] rince1013 opened #1212 "HTML Output does not include Form Data"
Using 2.1.3
Running swagger-codegen to generate api documentation, the static html output does not include form data parameters - like files

Steps to reproduce:
Run swagger codegen to generate a static html document
[code]
The html document will not show the form data paramaters
![image](https://cloud.githubusercontent.com/assets/3579529/9794246/99e68be2-57af-11e5-8d56-1a41c85f5200.png)

The rele

[2015-09-10 16:47] GuptaAmit311 commented on #1207
Hi,
I am trying to host swagger codegen on my server locally, so no internet or http connection required to work the codegen.
Thanks.

[2015-09-11 07:31] amitbansal012 opened #1216 "Issue with Swagger Codegen for C# for Map<String, String>"
Hi Team,
I am facing the following issue:
Code:

    @ApiOperation(value = "This is test service")
    @RequestMapping(value = "/getMap", method = GET)
    @ResponseBody
    public Map\<String, String\> getMap(Map\<String, String\> m);

Generated Spec

If you see, the generated spec is in accordance with https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#model-with-mapdictiona

[2015-09-11 07:54] wing328 commented on #1216
@amitbansal012 thanks for reporting the inconsistency. We'll update `Dictionary<String, string>` to `Dictionary<string, string>`

(`string` is just an alias to `System.String`)

[2015-09-11 08:34] amitbansal012 opened #1217 "Swagger Codegen for C# [URL Formation Issue]"
Hi Team,
I am having some problems while using codegen for APIs with List parameteres.
Code:

    @ApiOperation(value = "This is test service")
    @RequestMapping(value = "/getList", method = GET)
    @ResponseBody
    public List<Integer> getList(@RequestParam List<Integer> li) {
        System.out.println(li);
        return Arrays.asList(10, 20);
    }

Generated Spec:

Code Generated:

[2015-09-11 10:06] wing328 commented on #1217
@amitbansal012 it's a bug and we'll address that.

[2015-09-11 10:45] amitbansal012 commented on #1216
Hi,
Can you please comment on the issue of input parameter conversion as well (From Map to Object) ?

Thanks,
Amit Bansal

[2015-09-11 14:50] wing328 commented on #1217
@amitbansal012 fixed in #1218

Do you mind performing a test to confirm?

[2015-09-11 15:09] wing328 commented on #1216
@amitbansal012 before answer your question above, would you please given an example of what the HTTP request body looks like?

[2015-09-11 15:21] ePaul opened #1219 "springmvc: parameter names don't survive generation"
**Summary**
When parameter names are sanitized, the HTTP side parameters can not be matched again with the Java side parameters.

**Details**
When generating springmvc or jaxrs Java server classes, each swagger parameter becomes an annotated parameter of the method, with both Swagger and Spring/JaxRS annotations.

Some of these annotations' arguments are meant to transport the parameter name as us

[2015-09-11 15:29] #1211 closed

[2015-09-11 15:32] glederrey opened #1220 "Spring-MVC: CORS headers with POST method"
Hi,

I have a problem using Spring-MVC stub server.. It's generated automatically using a JSON spec file. I also use Swagger-ui to make the calls of the stub server..

The problem is that if we use a POST method, it transforms it into an OPTIONS method.. If I check the console, I get an error like this: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at

[2015-09-11 20:05] sverhagen opened #1221 "CodegenOperation nonempty wrong"
All `getHasXxxParam` methods in `CodegenOperation` use the following:

    return nonempty(bodyParams);

They all use `bodyParams`, regardless the collection they are supposed to check, such as: `queryParams`, `headerParams`, `pathParams`.

As a result, any of these (`queryParams`, `headerParams`, `pathParams`) only show up if there are `bodyParams`.

[2015-09-12 03:27] wing328 commented on #1221
@sverhagen thanks for reporting the issue. Agreed that these are bugs and we'll update that.

I couldn't find anywhere in code in which the `getHasXxxParam` methods are used. If you've a spec that has issue using codegen due to this bug, please share with me so that I can try to repeat the issue. (even though these methods are not used, we should still fix it and again thanks for reporting the bug

[2015-09-12 03:40] sverhagen commented on #1221
The `CodegenOperation` is available in the Mustache templating. Hence things like `{{#hasQueryParams}}` are broken, even in the `htmlDocs/index.mustache` that's part of the standard distribution.

[2015-09-12 03:49] wing328 commented on #1221
@sverhagen you're right. It's done by this commit: https://github.com/swagger-api/swagger-codegen/commit/b14edffc795083ea13ff35e733069989ac042744

I'll file a PR to fix that.

[2015-09-12 04:04] MichaelMcClure opened #1224 "JavaJAXRS web.mustache template not updating swagger.api.basepath"
In a given swagger.yaml, you may provide
host: <hostname>:<port>
basePath: /<path>
to identify the host, port, and path to be used by the "Try It Now" buttons.

This information does not, however, translate into the generated web.xml swagger.api.basepath as it should. Instead, the current web.mustache file is hardcoded to http://localhost:8080

When I pulled swagger-codegen and updated the web.mus

[2015-09-12 05:02] sverhagen commented on #1221
I'm wondering if there's a workaround. I tried putting an alternative `io.swagger.codegen.CodegenOperation` on the classpath of the `swagger-codegen-maven-plugin`, but that seems not to work. I'd rather not have a temporary fork of the `swagger-codegen` in my environment.

[2015-09-12 08:02] wing328 commented on #1221
@sankargorthi submitted #1225 to address the issue.

[2015-09-12 08:05] wing328 commented on #1224
@MichaelMcClure thanks for reporting the issue. Agree that it should be fixed according to the way you described above. Would you like to submit a PR to fix the issue or you would like me to fix it instead? (if my memory serves me well, I've fixed a similar issue before for nodejs but not jaxrs)

[2015-09-12 13:04] wing328 commented on #1212
@rince1013 I'm able to repeat the issue. Do you mind submitting a PR to fix it?

[2015-09-12 13:19] wing328 commented on #1207
Please try the following:
[code]
and you should then find the generator service running at localhost:8001

[2015-09-12 14:34] wing328 commented on #1216
@amitbansal012 you're using inline schema, which is not supported by codegen at the moment:
[code]

To workaround the issue, please define the following in the model section:
[code]
and reference it as follows:
[code]

[2015-09-12 17:34] sankargorthi commented on #1221
@wing328 have I though?

[2015-09-12 17:55] wing328 commented on #1221
@sankargorthi sorry for incorrectly tagging you in this thread.

[2015-09-12 18:04] MichaelMcClure commented on #1224
I'll make a PR. I'm a noob on the swagger repos & don't know the releases. Should I fork off Master or develop_2.0 ?

[2015-09-12 19:33] sankargorthi commented on #1221
😎 it's cool.

[2015-09-12 20:26] MichaelMcClure commented on #1224
So my fix above (using basePath) has an unintended side effect - it sets the default basePath to "localhost" instead of "localhost:8080". I think this will mess people up.

I think this is two issues:
1. the hostname and port (swagger file "host" attribute) being ignored
2. the path (context path & swagger file "basePath" attribute) being ignored.

Regarding number 2:
Changing the web.mustache fil

[2015-09-13 14:15] wing328 commented on #1217
PR merged

[2015-09-13 14:15] #1217 closed

[2015-09-13 14:15] #1221 closed

[2015-09-13 23:10] casualjim commented on #325
The client generation has been merged to master now.

[2015-09-14 02:30] wing328 commented on #1220
@glederrey using the petstore swaggers spec (which contains POST endpoints), I used the springmvc generator but couldn't find any reference to OPTIONS
[code]

Are you using the latest version of swagger-codegen?

[2015-09-14 03:49] wing328 commented on #969
Closing this issue as there's no further update.

[2015-09-14 03:49] #969 closed

[2015-09-14 03:53] wing328 commented on #1066
@nikhiljindal do you need further help from us?  I believe you've an issue opened in kubernetes as well for tracking so we'll close this one if no concern from you.

[2015-09-14 05:30] amitbansal012 commented on #1217
Hi,
I can perform a test, but can you please tell me how can i download the latest jar which has the fix?

-Amit

[2015-09-14 05:50] wing328 commented on #1217
You can pull the latest master and do a `mvn clean package`

[2015-09-14 06:28] wing328 commented on #1224
@MichaelMcClure I totally agree with you that ideally the fix should be backward compatible.

For 1, what about checking if `host` is set in the mustache template, e.g.
[code]
This will use localhost:8080 as default if `host` is not provided.

For 2, we can use similar fix to the above to check if `basePath` is set

Correction: I was wrong about fixing similar issue for the nodejs generator. The c

[2015-09-14 06:34] wing328 commented on #325
:+1: Thanks @casualjim

[2015-09-14 07:21] amitbansal012 commented on #1216
Hey William,
Here is a screenshot of the requestBody:

![codegenmapissue](https://cloud.githubusercontent.com/assets/10416236/9844251/464cf466-5adf-11e5-96e0-8693453097c7.png)

Let me know if you need anything else.
Thanks,
Amit

[2015-09-14 07:32] glederrey commented on #1220
@wing328 I'm using the last version of swagger-codegen..

You may have misunderstood my problem.. The thing is when I call a POST request, then I receive a 200 OPTIONS response.. (In the log, it says that I'm missing the 'Access-Control-Allow-Origin') From what I've understood, when you do a POST (or PUT, or DELETE), the request always send a first OPTIONS request to be sure that everything is wor

[2015-09-14 08:21] wing328 commented on #1216
@amitbansal012 I replied with a workaround 2 days ago. Did you have a chance to test that?

[2015-09-14 09:45] glederrey opened #1227 "JavaSpringMVC/formParams.mustache: change the name of one parameter"
Hi,
I just want to ask if it's possible to change the definitions of formParams.mustache.. For the moment, it's like this:

```@ApiParam(value = "{{{description}}}"{{#required}}, required=true{{/required}} {{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) @RequestPart(value="{{paramName}}"{{#requi

[2015-09-14 09:59] amitbansal012 commented on #1216
Hi,
I have tested "Dictionary<String, string> to Dictionary<string, string>" fix. It works fine. Thanks for fixing this.
-Amit

[2015-09-14 10:02] amitbansal012 commented on #1217
Hi,
I have tested the url fix. It works fine. New url generated: "host:port/service/testService/getPrimitiveDouble2?d2=5%2C10". Thanks for fixing this.
-Amit

[2015-09-14 13:14] ePaul opened #1229 "Java: enum element names need to be sanitized"
**Summary**
When generating Java classes from swagger, for String properties marked with `enum` a (local) enum class will be generated, with the enum constant names taken from the swagger enum values.
The result does not compile when using names which are not valid Java identifiers.

**Reproducible**

[code]

This generates this Example.java (beside others):
[code]
The enum constants here have not

[2015-09-14 14:03] wing328 commented on #1219
@ePaul thanks for the detailed analysis. I agree with you that `baseName` (the original parameter name or the name of the JSON key) should be used instead of `paramName`, which is sanitised to make sure it won't caused compilation error.

cc @dilipkrish, who is the expert in SpringMVC

[2015-09-14 14:06] wing328 commented on #1227
@glederrey would you please take a look at #1219 to see if it's the same issue?

[2015-09-14 14:07] wing328 commented on #1216
I mean https://github.com/swagger-api/swagger-codegen/issues/1216#issuecomment-139775297 to avoid using inline schema.

[2015-09-14 14:24] glederrey commented on #1227
@wing328 It's not exactly the same.. But it's related to this issue.. The problem I had here is that the name of the `MultiPartFile` parameter is always `fileDetail`.. And it should be the name of the parameter.. That's why I'm suggesting to change this `fileDetail` to `{{paramName}}` or `{{baseName}}`.. Do you see what I mean??

[2015-09-14 14:28] wing328 commented on #1227
Now I see what you mean and would suggest you to use {{baseName}} in the@AprParam annotation.

Let me know if you need any help submitting a PR to address it (or you would like the community to file a PR instead)

[2015-09-14 14:31] glederrey commented on #1227
Yes, it would be perfect.

I'm still new to Github.. So, I don't really know how to submit a PR.. Sorry

[2015-09-14 15:26] dilipkrish commented on #1219
@ePaul :+1: Not super familiar with codegen, just enough to be dangerous :-o It seems like a reasonable change to me. Did you verify that the api docs that are round-triped work as you expected? /c @wing328

[2015-09-14 16:16] ePaul commented on #1219
@dilipkrish No, I didn't yet get this to work due to other problems.

[2015-09-14 17:30] MichaelMcClure commented on #1224
Agree - good idea. I will test & submit PR.

[2015-09-14 19:43] nikhiljindal commented on #1066
Yes. Closing this one
Thanks for the help!

[2015-09-14 19:43] #1066 closed

[2015-09-14 19:52] GuptaAmit311 commented on #1207
Thanks. But I am trying to add Swagger codegen in my project of swagger editor which is running on my company server behind the proxy. I can not use http://generator.swagger.io/api/gen/servers/ to access the generator (codegen) server.

[2015-09-14 20:07] iwsmith opened #1230 "Python codegen unable to convert "number" types"
Hello,

If you have a swagger definition that include a number:
[code]

A python model is generated with a type of "Number":
[code]

When this is deserialized this results in an error:
[code]

With line 267 listed below
[code]
I am not sure what the intent here was, but perhaps Number should result in a float being used instead of, well, whatever models.Number was supposed to do/be?

Thanks!

[2015-09-14 23:07] sverhagen opened #1231 "getTypeDeclaration is getting RefProperty's"
Let's say this is a question (and I hope it's okay I post that here), I've little confidence that it's actually a bug. I may just be doing something stupid.

This is my Swagger JSON:

    "models": {
        "SomeItem": {
            "id": "SomeItem",
            "properties": {
            ...
                "fields": {
                    "$ref": "Map[string,Object]",
                },

This i

[2015-09-15 01:50] wing328 commented on #1231
@sverhagen To generate a map of object, please use `additionalProperties` instead

Ref: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#model-with-mapdictionary-properties

[2015-09-15 02:02] geekerzp commented on #1230
Fixed in #1232

[2015-09-15 02:41] wing328 commented on #1207
As suggested above, you can host your own generator server.

In the server running the swagger editor, you can update host table to add an entry for `generator.swagger.io` to point to the IP address of your internal generator server, or you can update the local copy of swagger editor by replacing http://generator.swagger.io/ with the URL to your local generator server.

[2015-09-15 02:42] wing328 commented on #1066
@nikhiljindal No problem. Feel free to ping us again if you've any question or feedback on Swagger-Codegen.

[2015-09-15 03:36] sverhagen commented on #1231
Thank you for the quick response. I'll take it that asking questions this way may be kinda okay then :wink: Closing the issue now.

[2015-09-15 03:36] #1231 closed

[2015-09-15 07:29] wing328 commented on #1230
@iwsmith pleas test the latest master and let us know if you still encounter the issue

[2015-09-15 07:58] wing328 commented on #1171
Confirmed the change is in master so closing this.

[2015-09-15 07:58] #1171 closed

[2015-09-15 09:58] glederrey opened #1235 "Spring-MVC: date and date-time format"
Hi,

I'm working with a Spring MVC stub server.. I have some `date` and `date-time` formats too.. I just found that there is a problem when you're giving a `date` or a `date-time` format as a parameter in an endpoint..

I may be wrong, but it seems that you need to specify the format of the Date if you want to use it as a parameter.. Therefore, I propose you to add this:

For the `date-time` forma

[2015-09-15 10:27] glederrey commented on #1220
It looks like the issue is related to Preflighted CORS requests when the POST body is not text/plain. The SpringMVC implementation is not responding correctly to the OPTIONS preflight response. It seems the version of SpringMVC (4.0.9) does not supports CORS out of the box. We would suggest upgrading to 4.2 that does support CORS (https://docs.spring.io/spring/docs/current/spring-framework-referen

[2015-09-15 18:19] kmrgithub opened #1237 "No generated code from swagger-codegen"
Hi. I just updated my swagger-codegen repo and after the update no Java code is generated.
I first built v2.1.3 and also unsuccessfully tried with v2.1.2.

Here is my command-line:
java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar gene
rate -l java -i swagger.json -o C:\Temp

Here is the output:
reading config from swagger-codegen.cfg
reading from C:\Users\...\swagger.json

Any

[2015-09-15 20:42] iwsmith commented on #1230
Can confirm this is fixed! Thanks!

[2015-09-15 20:42] #1230 closed

[2015-09-15 22:02] GuptaAmit311 commented on #1207
Yes exactly I want to do that,  Is there any way to generate the local generator client. And it needs to be done on JBoss server. My web application works on Jboss. As to add Swagger editor, I used the dist static files to create on local server. But in swagger codegen, I could not see any static files to generate generator client.

[2015-09-16 02:53] wing328 commented on #1207
@GuptaAmit311 can't help as I'm not familiar with JBoss

[2015-09-16 10:17] #1227 closed

[2015-09-16 12:59] glederrey commented on #1235
Hi again,

I'm trying to find where the parameters are added in the `api.mustache` file in order to deal with this problem on my side for the moment.. Does anyone know where this is handled??

Thanks

[2015-09-16 15:08] DariusMR opened #1240 "Unable to generate auth_settings properties with swagger 1.2"
Hello
I've swagger 1.2, and the latest swagger-codegen and i'm unable to generate properly my api_key settings.
For example in python only this is generated for this specific method in configuration.py file :
[code]
but with petstore example which uses swagger 2.0 this is generated :
[code]
Same thing with methods generated in apis folder. Only this is generated for all methods :
[code]
but with p

[2015-09-16 17:57] bedag-moo opened #1241 "codgen does not emit parameter type for body parameters of type string"
For the operation spec:

    "operations" : [ {
      "method" : "POST",
      "nickname" : "createIssue",
      "type" : "void",
      "parameters" : [ {
        "type" : "string",
        "paramType" : "body",
        "name" : "subject",
        "required" : true
      } ],
      "authorizations" : {
        "OpenID Connect" : [ ]
      }
    } ]

codegen for Java generates the following method

[2015-09-16 18:08] bedag-moo commented on #1241
Debugging revealed that the type is not written

* because {{dataType}} is null
* because CodegenParameter.dataType is not assigned in DefaultCodeGen.fromParameter()
* because param.model is null
* because SwaggerCompatConverter.modelFromExtendedTypedObject returns null

That method does the following:

    public Model modelFromExtendedTypedObject(ExtendedTypedObject obj) {
        String type =

[2015-09-17 03:47] #962 closed

[2015-09-17 06:52] glederrey opened #1244 "Spring-MVC: Solution for POST methods"
Hi,

I found the solution of issue #1220.. If you can do a PR, it would be great.. =)

First, we need to update the `pom.mustache` file in the folder `modules/swagger-codegen/src/main/resources/JavaSpringMVC`. On line 161, change `<spring-version>4.0.9.RELEASE</spring-version>` by `<spring-version>4.2.1.RELEASE</spring-version>` to have the 4.2.1 version of Spring-MVC.. (This is the current one: h

[2015-09-17 06:53] glederrey commented on #1220
Solution found on #1244.. Closing it..

[2015-09-17 06:53] #1220 closed

[2015-09-17 13:18] cbornet commented on #1229
The best would probably to generate string enums
[code]
The issue is that we lose the significance of the enum names.
Other solution if possible with the generator : capitalize and filter/replace unwanted characters
[code]

[2015-09-17 13:21] cbornet commented on #1229
Also exists on retrofit clients (and probably android-java)

[2015-09-17 13:22] fehguy commented on #1207
Remember also that swagger-cli is built as part of the codegen package, and you can easily invoke it from your app as an in-process or out-of-process function.

[2015-09-17 14:18] cbornet commented on #1229
Edit : this is already fixed on the master branch for java.
This is what is generated
[code]
So the fix should be ported to other clients (retrofit, android, jaxrs, ...)

[2015-09-17 14:27] cbornet commented on #1229
Fixed here for java https://github.com/swagger-api/swagger-codegen/pull/1126

[2015-09-17 14:29] cbornet opened #1247 "[Retrofit] Support special characters in enum values"
Need to port https://github.com/swagger-api/swagger-codegen/pull/1126 to retrofit client generator

[2015-09-17 14:30] cbornet commented on #1229
Opened #1247 for retrofit

[2015-09-17 14:35] cbornet opened #1248 "[Retrofit] Support list of enum"
The type in the attribute is ```List<String>```, it should be ```List<FooEnum>```
The enum class is not generated for list of enums
[code]

[2015-09-17 15:01] cbornet commented on #1248
It should also be List<FooEnum> instead of List<FoosEnum> in the getters/setters

[2015-09-17 15:13] cbornet commented on #1248
See https://github.com/swagger-api/swagger-codegen/pull/1041

[2015-09-17 15:29] c-knowles opened #1249 "Move generated Java code to target/generated-sources instead of src"
Although not heavily documented as a standard, most projects generating source for Java projects using Maven place it under target/generated-sources/plugin-name. My suggestion is to do the same for Java Swagger codegen in order to allow additional source to be committed to the same project while allowing the project to be easily to use and maintain.

If all the source is under src but we also want

[2015-09-17 15:52] ePaul commented on #1229
Yes, it seems I did run a not up-to-date version of codegen. The example file now actually generates this Example.java:

[code]

Those enum names could still become a bit nicer (the `:` and `/` seem to be replaced by nothing?).

[2015-09-17 16:08] cbornet commented on #1229
And maybe put a carriage return after each enum value

[2015-09-17 16:11] alexhawdon opened #1251 "HTML output inconsistent with Swagger Editor preview"
As per title. For my [swagger.yml](https://gist.github.com/alexhawdon/5acb0ea555bb608aa303) definition here is the Swagger UI preview for a given method:
![upload_17_9_2015_at_16_54_35](https://cloud.githubusercontent.com/assets/1389105/9938801/003ac296-5d5f-11e5-821b-c2c787e5e11f.png)
and here is the same method in the HTML output:
![upload_17_9_2015_at_16_56_59](https://cloud.githubusercontent.c

[2015-09-17 19:06] c-knowles opened #1253 "Java support for discriminator attribute when reading objects"
Currently there doesn't seem to be any support for the swagger v2 discriminator attribute when reading an entity. I think the expectation would be that we first read in the discriminator field, then read the rest of the object based on this field. Not sure where best to put this but have been playing around with some custom JsonDeserializers.

Representing the Test Steps from https://www.runscope.

[2015-09-17 19:29] c-knowles commented on #1253
Also wonder if this can be simplified to something like this annotation on Step itself:
[code]

This particular example above doesn't quite work, I haven't worked out how to use this annotation yet.

[2015-09-17 19:30] kmrgithub commented on #1237
Hi. I think I may have found the issue.

Line 335 in JavaClientCodegen.java in package io.swagger.codegen.languages throws an exception due to hasEnums is null.
if (allDefinitions != null && codegenModel != null && codegenModel.parent != null && codegenModel.hasEnums) {

The class CodegenModel in file CodegenModel.java in package io.swagger.codegen does not initialize any of its members.

[2015-09-17 19:52] c-knowles commented on #1253
Got it. The other option is these annotations on Step:

[code]

And then this custom type resolver, can't see a way to do it with the built in resolvers:
[code]

[2015-09-17 19:53] c-knowles commented on #1253
Both of the above options seem roughly equivalent in terms of complexity and code size.

[2015-09-18 07:32] glederrey commented on #1244
I just want to make an update on this solution..

I just found that it needs:
- maven 3.3.3
- JAVA 1.8.*

I know that can be a problem.. So, I let you decide if you want to make a PR or not..

Best

[2015-09-18 08:20] cbornet commented on #1247
On second thought, I think it is better to make a retrofit library for the java generator and remove the retrofit generator.

[2015-09-18 08:57] ePaul opened #1255 "Allow modifying the generated model names by prefix or suffix"
This is a feature request for a new (optional) generator parameter.

**Summary**

It should be possible to specify a prefix and/or suffix which will be added to all model type names when generating the types.

**Background**
The model names generated from the swagger definition have usually quite natural names ... in Java, I got (in my case) for example Supplier, Organization, BusinessUnit.
I also

[2015-09-18 08:57] wing328 commented on #1229
Agree with @cbornet on adding a carriage return for each enum value.

[2015-09-18 09:59] wing328 commented on #1235
@glederrey for the datetime format, I think it's worthwhile to consider the datetime format use by the Java API client: [ApiClient.mustache#L60](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache#L60)
[code]

For your 2nd question (where the parameters are added in the `api.mustache` template), if you look at this [line](ht

[2015-09-18 10:06] glederrey commented on #1235
@wing328 Thanks a lot for your answer..

So, the thing is that it doesn't work.. I tried with this new format.. And I still get the 400 errors..

For the 2nd question, I understood that.. The thing I'd like to know is where in the JAVA code are these mustache files used.. (My idea would be to change these files and add some if conditions) Do you see what I mean?

[2015-09-18 10:13] wing328 commented on #1235
@glederrey For the 400 error, did you get an exception in the server side? Have you used tcpdump or other tool to inspect the request to ensure it's what your API client has sent out?

If I understand correctly, you would like to add `@DateTimeFormat(pattern="yyyy-MM-dd'T'hh:mm:ss'Z'")` or something similar only if the type is date or dateTime, right ?

[2015-09-18 10:18] glederrey commented on #1235
@wing328 I didn't get any exception.. Here is the full 400 error:

    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error 400 Bad Request</title>
    </head>
    <body><h2>HTTP ERROR 400</h2>
    <p>Problem accessing /api/emotionadvisor/cloud/v1/webapp/session/end. Reason:
    <pre>    Bad Request</pre></p><hr><i><small>Powered by Jetty://</

[2015-09-18 16:05] cbornet opened #1257 "[Objective-C][Swift] Lists of enum make the objc and swift generator crash"
The following spec makes the objc and swift generators crash silently
[code]

[2015-09-18 20:51] webron commented on #1257
While it shouldn't crash, that's basically saying that` foo` is of type `string`, not an array of strings.

[2015-09-18 21:38] GuptaAmit311 commented on #1207
@fehguy  thanks. So using only codegen-cli module I can generate the client code of different languages.

Do you have any idea about what arguements required by the main class of codegen-cli?

[2015-09-18 21:42] fehguy commented on #1207
Yes if you pass help it'll give cli options

[2015-09-19 07:20] cbornet commented on #1257
Oops, wrong copy/pasting ! The crash is with array, of course. Thanks for pointing that out.
The problematic definition is:
[code]

[2015-09-19 17:32] tckb opened #1258 "[spring-mvc]swagger codegen for spring-mvc imports "io.swagger.model.Object" for some definitions"
Hi, this is a weird bug from swagger-codegen. Apparently for some definitions, the spring-mvc codegen imports [modelpackage].Object in the corresponding class file. this of course raises a compile time error.
Not sure why this occurs only for some definitions, here are some of the definitions:

[code]

[2015-09-19 19:29] tckb opened #1259 "[springfox][swagger-ui] change the default ui path for swagger ui for spring-mvc"
Hi, for spring-mvc the default swagger-ui path is /swagger-ui.html. Any to change it to different path?
the generated code comes with a config file SwaggerUiConfiguration. Anyway to change it here?

rg,
Chandra

[2015-09-19 19:34] #1259 closed

[2015-09-20 13:32] wing328 commented on #1258
@tckb the property `response_object` is defined as `object`
[code]
Currently, there's a bug that the code treats "object" as a model and that's why you found the `imports [modelpackage].Object` in the code.

To workaround the issue for the time being, you can set `response_object` to a well-defined model using $ref.

[2015-09-20 13:57] #1141 closed

[2015-09-20 14:07] tckb commented on #1258
I see that, the idea was to use this model as a sort of generic response. the response object would depend on the request (I have no idea how one could achieve that. I ended up creating individual responses :-/) . Hence, I can't use any specific reference to the definition.

[2015-09-20 14:50] tckb commented on #1073
+1 the support.

[2015-09-20 15:54] SparrowJang opened #1262 "[python] The steam handler add many times when project includes many swagger clients"
Show twice messages if include two swagger clients.

Because handler will be added logger by swagger client.

[code]

output:
[code]

[2015-09-20 21:34] lzbob opened #1263 "Swift 2 support"
Does Swagger support Swift 2?

[2015-09-21 02:25] wing328 commented on #1263
#1187 was submitted to support Swift 2

Would you please take a look to see if it meets your requirement ?

[2015-09-21 07:00] wing328 commented on #1216
@amitbansal012 closing this one as we've not heard any update from you.

[2015-09-21 07:00] #1216 closed

[2015-09-21 08:14] xhh commented on #1145
Hey @jamiehannaford, I can reproduce it with this model (in `definitions`):

[code]

which would generate the model file: *lib/Model/Cat-new.php*
Is your case like this? That is, it should have nothing to do with `parameters`.

If so, changing the key (model name) to `CatNew` will work:

[code]

[2015-09-21 08:54] jamiehannaford commented on #1145
@xhh Yep, that's it.

I didn't see any documentation which indicated that camel case was the only acceptable format. IMO, the code generator needs to always convert class names so they end up being idiomatic in the outputted language, regardless of input.

[2015-09-21 09:43] xhh commented on #1229
I'm working on a PR to improvement enum names according to the above suggestions. What's more, it would be better to truncate enum names to remove common prefix, e.g.

[code]

[2015-09-21 11:28] SamuelMarks commented on #1044
Thanks! - Maybe add it to https://github.com/borisyankov/DefinitelyTyped also?

[2015-09-21 11:43] webron commented on #1257
From what you write I take it if you remove the `enum` it works fine?

Side note: You should always set `"type": "object"` when using a model definition (that is, when using `properties`).

[2015-09-21 13:39] wing328 opened #1265 "Unit testing failed"
Running unit testing (mvn clean test) will result in failure. Here is part of the result:
[code]
The issue was fixed in swagger-model (https://github.com/swagger-api/swagger-core/pull/1446, which has been merged into master) but the swagger-models-1.5.4-SNAPSHOT.jar in [oss.sonatype.org](https://oss.sonatype.org/#nexus-search;gav~io.swagger~swagger-models~~~~kw,versionexpand) has not been updated.

[2015-09-21 13:40] webron commented on #1265
Of course. Will update shortly.

[2015-09-21 13:42] wing328 commented on #1265
Thanks!

[2015-09-21 13:49] webron commented on #1265
Done, give it a try.

[2015-09-21 13:55] wing328 commented on #1265
Looks good now
[code]
Thanks for the prompt action.

[2015-09-21 13:55] #1265 closed

[2015-09-21 14:05] wing328 commented on #1133
Closing this as I could no longer repeat the issue.
[code]
and currency is a string in the generated code.
[code]

[2015-09-21 14:05] #1133 closed

[2015-09-21 16:10] kc284 commented on #193
Unfortunately this is causing me (and probably others) a lot of grief. I upgraded from 2.1.2-M1 to 2.1.3 and my method signatures got messed up breaking existing integrations. It makes much more sense to me to output the parameters in the order state in the json file. What exactly was the reasoning behind this change?

[2015-09-21 16:48] mohsen1 commented on #1044
I made a pull request a while ago

[2015-09-21 16:56] bedag-moo opened #1266 "Improve exception handling, particularly in the maven codegen plugin"
Currently, `DefaultCodegen.generate()` catches all exceptions, and communicates success or failure to its caller through the public field `DefaultCodegen.status`. This field is ignored by the maven codegen plugin, i.e. a build continues even if code generation failed.

Ideally, `DefaultCodegen.generate()` would let exceptions propagate to its caller. The CodeGenMojo could then wrap the exception i

[2015-09-21 17:12] bedag-moo opened #1267 "Missing model types cause a NullPointerException"
If a parameter type refers to a missing model:

    "operations" : [ {
      "method" : "POST",
      "nickname" : "updateIssue",
      "type" : "Issue",
      "parameters" : [ {
        "type" : "UUID",
        "paramType" : "path",
        "name" : "id",
        "required" : true
      }, {
        "type" : "IssueEditCommand",
        "paramType" : "body",
        "name" : "issue",
        "requ

[2015-09-21 17:25] bedag-moo commented on #1266
... and whatever you do, please do not discard exceptions without logging them (as the catch block in `DefaultCodegen.generate()` currently does). It sucks to have to debug the maven codegen plugin to find out where the swagger documentation was incomplete, as in #1267.

[2015-09-21 17:26] devorbitus opened #1268 "Language Specific data types"
I have scoured the documentation as well as the code and am unable to find how I can get the generator to generate models that have some java.lang.Short and some java.sql.Timestamp properties. I feel like there has to be some combination of configuration settings and swagger schema that will allow this.

[2015-09-21 17:52] devorbitus commented on #1268
This doesn't belong here. I am going to close this and send it to the Google groups as it is just a question.

[2015-09-21 17:52] #1268 closed

[2015-09-22 02:30] wing328 commented on #193
@kc284 sorry to hear that it's breaking your application due to the change in method signature. We'll provide an option to make the change backward compatible (which means the parameter order is kept).

[2015-09-22 07:19] cbornet commented on #1257
@webron Yes if I remove ```enum``` it is generated with a list of string.

[2015-09-22 08:00] wing328 commented on #193
@kc284 I've filed #1272 so that you can pass `sortParamsByRequiredFlag` in a config file (json) to disable sorting the method argument. Please take a look to see if that would meet your requirement.

[2015-09-22 08:15] glederrey commented on #1235
@wing328
Hi,
Did you found where I can add this `DateTimeFormat` in the code to generate the good files??
Thanks

[2015-09-22 08:24] glederrey opened #1273 "Spring-MVC: Problem Upload a File"
Hi,

I have a problem when I try to upload a file.. Here is the json spec:

    "/video/attachment/add": {
      "post": {
        "tags": [
          "Video"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "addAttachmentVideo",
        "description": "Add an attachment to the video wit

[2015-09-22 08:48] glederrey commented on #1235
@wing328
Hi again,

I found a very ugly solution to do this.. I added this `DateTimeFormat` in the queryParams.mustache.. It works because it's "activated" only if the type of parameter is `Date`.. But I don't like this at all. =)

[2015-09-22 09:19] glederrey opened #1275 "Spring-MVC: Date and Date-Time format when returning a JSON"
Hi,

I'm having an issue close to this one #1235..

The problem is that when you return a Date format, the format is unix-time.. I found a way to override the format.. You can use this:

    @JsonFormat(pattern = "yyyy-MM-dd'T'HH:mm:ss'Z'")
    private Date sessionStart = null;

The thing is that I don't want to add this after my files are generated.. So, can you tell me where the files in the mod

[2015-09-22 09:23] kc284 commented on #193
@wing328 yes, this solves my issue, thanks.

[2015-09-22 15:07] wing328 commented on #1266
@bedag-moo I agree with you that the exception handling can be further improved. I'm working on the improvement and hopefully will have a PR by the end of this week.

[2015-09-22 15:21] bedag-moo commented on #1266
I have also started work on this, and have fixed the exception handling in the areas that concern me. Let me test it some more, and I'll send a pull request.

[2015-09-22 15:26] wing328 commented on #1266
Ok. Thanks @bedag-moo

[2015-09-22 19:04] KrzysztofMadejski opened #1277 "Error on missing type"
Validator passes schema defs that have no type, like:

[code]

I thought it's ok: no type means it's an object.

Codegen though throws an error `missing swagger input or config!`, because `PropertyBuilder.Processor.fromType` (https://github.com/swagger-api/swagger-core/blob/master/modules/swagger-models/src/main/java/io/swagger/models/properties/PropertyBuilder.java#L606) doesn't handle null type.

[2015-09-22 19:06] webron commented on #1277
No type does not mean it's an object. No type means it's *any* value. For that definition, even a string value would pass, ignoring the defined properties.

[2015-09-22 20:22] patrickjrs opened #1278 "The type or namespace name 'ByteArray' could not be found"
When trying to generate binary file upload code in C# based on swagger spec the file parameter type is set to ByteArray instead of byte[]. This breaks compilation.

[2015-09-22 20:42] AmandaCameron opened #1279 "Python generator generates invalid Python3"
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_client.mustache#L191 is the offending line, sys is never imported into the namespace.

This was probably introduced in [This commit](https://github.com/swagger-api/swagger-codegen/commit/65f86dbb0f3549821c357171f44c86325bdbeb5b)
I can fork and make a simple PR for this, if you'd like.

[2015-09-22 23:23] wing328 commented on #1279
@AmandaCameron thanks for reporting the issue. I run the unit testing again and the result is good:
[code]

Can you share with us the error message you got and code snippet to reproduce the error?

[2015-09-23 00:24] wing328 commented on #1278
@patrickjrs For C#, file is mapped to "Stream": https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CSharpClientCodegen.java#L75

Ae you using the latest version (master)?

Can you also share the spec with us?

[2015-09-23 00:34] wing328 commented on #1251
@alexhawdon thanks for reporting the issue. Similar issue has been opened before: #1212

May I know if you've cycle to submit a PR to improve the HTML documentation?

[2015-09-23 00:44] wing328 commented on #1240
@DariusMR can you share the spec with us so that we can use it to repeat the issue ?

[2015-09-23 01:12] #1247 closed

[2015-09-23 01:12] #1248 closed

[2015-09-23 01:44] #1145 closed

[2015-09-23 01:47] wing328 commented on #193
@kc284 PR merged into master.

[2015-09-23 01:50] patrickjrs commented on #1278
@wing328 Thanks for getting back to me. I grabbed the latest master version today. Our api is currently behind a VPN so cannot share it yet. For multipart/form-data requests the file parameter seems to be mapped to Stream. We also have straight binary uploads of files when no metadata is needed in the request, in this case we would write the file bytes to the body of the request. According to this

[2015-09-23 01:57] wing328 commented on #1278
@patrickjrs format `binary` is introduced recently and it's not supported in C# codegen at the moment (from what I recall, it's only supported in Java API client).

To workaround the issue for the time being, what about using type `file` instead ?

[2015-09-23 07:35] jamiehannaford commented on #1145
Thanks @xhh! :smile:

[2015-09-23 08:54] #1273 closed

[2015-09-23 08:57] glederrey opened #1282 "Spring-MVC: Solution to upload a file."
Hi,

I finally found the solution of issue #1273..

You need to had this dependency in the pom.xml file:

    <dependency>
       <groupId>commons-fileupload</groupId>
       <artifactId>commons-fileupload</artifactId>
       <version>1.3.1</version>
    </dependency>

And in SwaggerConfig.java, you need to had this Bean:

    @Bean
    public CommonsMultipartResolver multipartResolver(){

[2015-09-23 10:42] wing328 commented on #1279
@AmandaCameron it turns out that my test is not accurate as the Python sample code has not been updated. After generating the latest Python Petstore sample, unit testing reports error.

@geekerzp has submitted #1281 to address the issue.

[2015-09-23 16:39] bedag-moo opened #1283 "JavaClient: Array of Enums generated as List<String>"
If a model contains an array of enums, the java client code generator emits a property of type `List<String>` rather than `List<TheEnum>`

**Testcase**

The model

    "Issue" : {
      "id" : "Issue",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int64"
        },
        "subject" : {

[2015-09-23 21:17] msh321 opened #1285 "additionalProperties seems to cause Java client codegen to fail"
I have written the following Swagger Specification in the Swagger Editor (http://editor.swagger.io/):

[code]

Now, if I try to generate Java client files for this specification (from the online editor), I only get a single java file `A1.java`. The file `B1.java` as well as a few other Java files (I assume) are missing.

It seems as if the `additionalProperties` tag causes the code generator to st

[2015-09-23 22:47] msh321 opened #1286 "ComposedModel class-cast exception"
I have tried to run the codegen on the following Swagger Spec:

[code]

The codegen gives the following error:

[code]

If I do ___not___ use the `allOf` element (under `Comp`), then everything seems fine.

Can this be a bug in codegen?  Or should the error message just be better?

(I need to be able to express inheritance in the generated Java code, so using `allOf` is the correct way, I guess...

[2015-09-23 23:09] msh321 commented on #1286
Sorry, I can see that this issue is fixed.  I accidentally used an old codegen version.  With 2.1.4-SNAPSHOT the aforementioned exception does not occur.

Can I close my own issue?

[2015-09-23 23:22] msh321 commented on #1285
I have now also tried this with the codegen (2.1.4-SNAPSHOT built from a fresh Git clone).  I get this:

[code]

Notice that only `A1.java` is written.

If I generate for "android", this happens:
[code]

As you can see, a lot more gets generated when the target is "android".

Hmmm...

[2015-09-24 02:06] wing328 commented on #1285
I got the following result using the latest master of swagger-codegen:
[code]
Btw, B1 is not really a `model`. It's a map instead that you can define directly in the model A as follows:
[code]

[2015-09-24 02:17] #1286 closed

[2015-09-24 03:01] wing328 commented on #1277
@KrzysztofMadejski I couldn't repeat the issue using the partial spec you shared above. Do you mind sharing the full spec?

[2015-09-24 07:00] cbornet commented on #1283
Duplicate of #1222 ? Can you try with the master branch ?

[2015-09-24 07:13] msh321 commented on #1285
Hello wing328.

Thanks a lot for the response. I have just pulled the latest updates from `master` and rebuilt the code-generator. Now I can also generate all Java files with success. Apparently, there have been significant changes within the last 8 hours.  :smirk_cat:

Also, thanks for the tip about defining the `additionalProperties` directly in `A1`.

Actually, the way I have defined `B1` is on

[2015-09-24 07:13] #1285 closed

[2015-09-24 07:16] wing328 commented on #1285
@msh321 no problem. Ping us if you need further help from us.

Btw, in the Java template, you will find that it supports different HTTP library. You can use `config-help` to find out more:
[code]
The okhttp-gson client works for both Java and Android as well (and also Scala)

[2015-09-24 07:48] wing328 commented on #1263
@lzbob the PR has been merged into master and therefore we're closing this.

[2015-09-24 07:48] #1263 closed

[2015-09-24 08:10] msh321 commented on #1285
@wing328 Excellent, thanks a lot for the help and the tips!

[2015-09-24 08:11] wing328 commented on #1244
@glederrey thanks for the update and finding a potential solution to address the issue. I'm no expert in springmvc so it would be hard for me to review he change. I'll see if I can invite some springmvc expert to help on that.

[2015-09-24 08:18] glederrey commented on #1244
@wing328 You're welcome.. Everything works fine for me like this.. But I let you invite an expert.. Maybe there's a better solution..

[2015-09-24 08:34] wing328 commented on #1279
@AmandaCameron  #1289 merged into master. Please reopen this if you still encounter issue. Thanks again for reporting the issue.

[2015-09-24 08:34] #1279 closed

[2015-09-24 08:59] wing328 commented on #1262
@SparrowJang the fix has been merged into master. Closing this and please reply to let us know if you still experience the issue.

[2015-09-24 08:59] #1262 closed

[2015-09-24 09:00] wing328 commented on #1229
@ePaul PR merged into master.

[2015-09-24 09:00] #1229 closed

[2015-09-24 10:05] msh321 opened #1291 "Inconsistent parameter names"
I have the following Swagger Specification:
[code]
Here is the documentation from the Swagger Editor:

![img1](https://cloud.githubusercontent.com/assets/1345452/10070580/adfa37a0-62b3-11e5-8b88-a98c4770cc58.png)

And this is what I get when using `codegen` (language:`dynamic-html`):

![img2](https://cloud.githubusercontent.com/assets/1345452/10070587/b40a10c0-62b3-11e5-9dfd-eec2d97ab1fb.png)

Not

[2015-09-24 12:10] jeusdi opened #1292 "Recursive Type Exception"
I've created a DTO that contains a list of objects of the same class:

    class Dto {
        private String id;
        private List<Dto> subDtos;
        //...
    }

When I remove this property, codegen works fine. It seems the problem is around that.

'DigitalResourceDTO'
        at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:17
4)
        at io.swagger.codegen.cmd.Gene

[2015-09-24 13:26] bedag-moo commented on #1283
My issue occurred with yesterday's master branch, so it has not been resolved by the fix to 1222.

[2015-09-24 13:33] wing328 commented on #1291
For the parameter naming issue (e.g. callback), please try with the `localVariablePrefix` in the config option:
[code]

[2015-09-24 13:38] wing328 commented on #1291
For the parameter naming issue in `dynamic-html`, it should not be a difficult fix so I should be able to submit a PR by next Monday.

[2015-09-24 16:06] wing328 commented on #1292
@jeusdi  The issue should have been addressed before #728

Are you using the latest version of swagger-codegen (master)? Do you mind sharing the swagger spec for repeating the issue?

I did a test trying to repeat the issue but couldn't.

[2015-09-24 20:09] jpangburn opened #1294 "Document client SDK"
I'm trying to generate a Javascript SDK for my API and find that there's no good way to generate documentation for how a user would use that SDK to connect to my API.  The swagger doc shows HTTP methods and URLs but those don't matter to the client SDK user- what matters to them is what methods they call in the SDK, and what parameters those methods take.
It seems like swagger-codegen has all the

[2015-09-24 23:23] patrickjrs commented on #1278
@wing328 If you plan to support it on C# client at some point I'd rather wait for that than change the current contract of our api, or could we use "file" without it generating a multipart/form-data request?

[2015-09-25 03:53] wing328 commented on #1294
@jpangburn for JS SDK, do you actually mean http://github.com/swagger-api/swagger-js?

Currently, swagger-codegen does not offer a JS (client-side) code generator.

[2015-09-25 05:06] wing328 commented on #1278
@patrickjrs if file is the only argument in the body (no other form parameters), then the content-type should not be multipart/form-data.

[2015-09-25 06:16] jpangburn commented on #1294
Hi,
I think swagger-js can’t work because they generate a dynamic client.  Swagger-codegen has the right architecture to be generating a client SDK in different languages, and from the same data structure that you generate that code you can also generate the documentation for it.  At least that’s how it appears to me.  If you disagree, of course reject this.

thanks,
Jesse

[2015-09-25 06:24] wing328 commented on #1294
We'll mark this as a feature request (there's a similar request before) and we're looking for contribution from the community to implement the JS SDK in swagger codegen.

[2015-09-25 07:32] xhh commented on #1283
Hey, I just tried it in master and it worked for me, generating the following Java class:

[code]

Could you try it again by first running `mvn clean package` at the root directory of swagger-codegen to get the latest build?

[2015-09-25 08:15] msh321 commented on #1291
Thanks a lot for the help and for the responsiveness.

I have tried out the `localVariablePrefix` as you suggested, and it seems to do the trick in my specific case for the naming collisions.

However, in the more _general_ case, shouldn't it be the API variables that should get the prefix?  I mean, if I -- for instance -- need a HTTP header param named "Import", then in the auto-generated Java co

[2015-09-25 08:28] wing328 commented on #1291
For reserved keywords, it should be appended with an _ at the beginning (e.g. _import). Please give it a try and let me know if that's no the case.

[2015-09-25 09:31] wing328 commented on #1278
@patrickjrs sorry I was wrong. The API client would still use `multipart/form-data` even though only `file` is provided. e.g.

`Content-Type: multipart/form-data; boundary=Boundary+6E729600B52DA40B`

In your case, is it correct to say the server is expecting `application/octct-stream`?

[2015-09-25 12:31] madhuri-rai07 opened #1299 "[Python] TLS support"
I want to use TLS connection in python generated client code. But not sure how to pass client certificate and key file.
I see urllib3 is used which supports TLS.

[2015-09-25 14:15] wing328 commented on #1299
@madhuri-rai07 you can find the setting in the configuration class: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/swagger_client/configuration.py#L94

[2015-09-25 17:34] madhuri-rai07 commented on #1299
@wing328 @geekerzp This is just to pass own CA certificate file but what about client certificate file and client keyfile?

[2015-09-25 18:18] bedag-moo commented on #1283
I just did, same result as before. Very weird.

Perhaps this is related to swagger 1.2 compatibility? Here is the exact swagger spec I am feeding the generator:

service.json:

    {
      "swaggerVersion" : "1.2",
      "apiVersion" : "1",
      "basePath" : "/apidocs",
      "apis" : [{
        "path" : "/issue.{format}"
      } ]
    }

issue.json:

    {
      "apiVersion" : "1",
      "swagge

[2015-09-25 20:17] patrickjrs commented on #1278
@wing328 Yes, that's correct, for this particular action the server expects application/octet-stream

[2015-09-26 08:31] msh321 commented on #1291
Your absolutely correct. I tried to add a HTTP header param named `Import` and in the generated Java code, the corresponding variable was converted to `_import`.  So please forget my concern.  :+1:

As for the generation of "dynamic HTML" I believe that I have found another issue related to the request body.  If I have an API method with a request body that refers to a definition, then there is no

[2015-09-26 09:34] geekerzp commented on #1299
@madhuri-rai07 Add support in pr https://github.com/swagger-api/swagger-codegen/pull/1300

[2015-09-26 12:23] xhh commented on #1283
I tried it with swagger 1.2 and could reproduce the issue.
It should be related to SwaggerCompatConverter that converts swagger spec of 1.2 to 2.0

[2015-09-26 12:43] cbornet commented on #1283
I have a solution : don't use swagger 1.2 ;-)

[2015-09-26 15:10] madhuri-rai07 commented on #1299
Thank you @wing328 @geekerzp

[2015-09-26 15:10] #1299 closed

[2015-09-27 10:09] msh321 opened #1301 "NullPointerException if allOf only has one element"
The `codegen` fails with a `NullPointerException` when fed with this Swagger Specification:

[code]

Here is the error that I get:
[code]

If I add a dummy parameter to `AAA` (see comments in sample YAML), then the `NullPointerException` does not happen.

[2015-09-27 21:30] jorourke commented on #888
The link in wing328's comment is broken.

[2015-09-28 00:32] wing328 commented on #888
Develop_2.0 branch (for development) has been deleted as all enhancements and bug fixes go to `master` directly. Here is the updated URL to configuration.py for Petstore sample: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/swagger_client/configuration.py

[2015-09-28 10:00] Micka33 opened #1303 "Can only deserialize JSON with ruby-client"
I expect the returned value to be an XML object. however I can't achieve this because the accepted returned values are only JSON.
I am not clear so here the concerned code :

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/ruby/api_client.mustache#L91
[code]

This means that, (AFAIK) with the ruby client, I can only request an API that returns

[2015-09-28 11:29] c-knowles commented on #1253
I started on some of the code for this, turns out the discriminator isn't supported at all right now in the codegen project.

[2015-09-28 13:05] bedag-moo commented on #1283
@cbornet: That is not easy: the spec is generated by https://github.com/teamcarma/swagger-jaxrs-doclet, which does not yet support Swagger 2.0 ...

[2015-09-28 14:23] fehguy commented on #1283
Can you please open an issue in the [swagger-parser](https://github.com/swagger-api/swagger-parser) project?  This should be supported, and the codegen uses this project to convert 1.2 specs.

[2015-09-28 14:23] #1283 closed

[2015-09-28 15:53] iushankin opened #1304 "Migrate tests from the Scala to the plain Java"
Rework all test to the Java with the TestNG framework

Tests from the swagger-codegen module:
- [ ] main https://github.com/swagger-api/swagger-codegen/pull/1305, https://github.com/swagger-api/swagger-codegen/pull/1329
- [x] java https://github.com/swagger-api/swagger-codegen/pull/1305, https://github.com/swagger-api/swagger-codegen/pull/1312
- [x] Objc https://github.com/swagger-api/swagger-code

[2015-09-28 17:38] wing328 commented on #1303
@Micka33 currently the Ruby API client (and also API client in other languages) only supports deserializing JSON response into models.

For your case, do you mind sharing what the XML response looks like? and do you expect the XML response automatically desserialize into proper models or you're simply looking for the raw XML response so that you can process it further?

[2015-09-29 06:52] wing328 commented on #1299
@madhuri-rai07 PR merged into master. Please test and let us know if it still does not fully meet your requirement.

[2015-09-29 15:04] KrzysztofMadejski commented on #1277
Sorry for delay, here it goes: https://gist.github.com/KrzysztofMadejski/5aad639b0af2be6dadbc

It's deep-embedded in `definitions`.

[2015-09-29 20:23] nbruno opened #1308 "Subclasses of JavaClientCodegen should use their inherited same-name properties instead of redefining them"
`JavaClientCodegen` defines the following member variables:

    protected String invokerPackage = "io.swagger.client";
    protected String groupId = "io.swagger";
    protected String artifactId = "swagger-java-client";
    protected String artifactVersion = "1.0.0";
    protected String sourceFolder = "src/main/java";

`SpringMVCServerCodegen` (for example), **redefines** some of these exact sa

[2015-09-29 20:56] gboysko commented on #1258
I'm experiencing the same problem. Just started to use Swagger and got tripped up by this...

[2015-09-30 08:31] wing328 commented on #1258
@tckb I've submitted #1309 to address the issue. Would you please perform a test to confirm?

@gboysko I assume the issue you encountered is also with SpringMVC but not other languages/frameworks and would be nice if you can also test the fix to confirm.

[2015-09-30 09:17] wing328 commented on #1237
@kmrgithub would you please pull the latest master and see if you still experience the same issue ?

[2015-09-30 09:26] wing328 commented on #1291
@msh321 I've fixed the parameter name in #1310. Please do a test and let me know if you still experience the issue.

[2015-09-30 09:30] wing328 commented on #1292
@jeusdi we're closing this issue for now as we've not heard from you.

[2015-09-30 09:30] #1292 closed

[2015-09-30 09:35] wing328 commented on #1240
@DariusMR if you're still encountering the issue, would you please share the spec with us? also I would suggest using another generator (e.g. Ruby, PHP) to see if the same issue occurs.

[2015-09-30 09:39] wing328 commented on #1278
@patrickjrs I would like to get this support in the C# client but may not have time recently.

If you've some cycle to submit a PR to add the support of byte array in C# API client, I can work with you and give you some directions to begin with.

[2015-09-30 12:25] tckb commented on #1258
@wing328 is this already pushed to the master code base? I'll test it on my end.

[2015-09-30 12:28] wing328 commented on #1258
@tckb not yet merged into master. To test, please do the following:
[code]

I did perform a test to confirm but of course it would be better if you can confirm as well before we merge the fix into master.

[2015-09-30 16:45] tckb commented on #1258
@wing328  performing tests now, will get back to you.

[2015-09-30 17:13] tckb commented on #1258
@wing328  Issue resolved. Generated code compiles and runs perfectly. Issue appears to be closed.

Nevertheless, the "JavaSpringMVC" template needs some fixes and additions which I'd like to push.

[2015-09-30 17:20] kmrgithub commented on #1237
Will do before Friday.

[2015-09-30 20:30] cbornet opened #1313 "Option to use sub-template in online generator"
It would be great to be able to generate clients for jersey2, okhttp or retrofit from the online gen. Currently there is an "options" field in GeneratorInput but it doesn't seem to be used.

[2015-09-30 20:35] cbornet opened #1314 "Show the version of the online generator"
It would be useful to know which version of the codegen is used by the online gen. Either in the "description" or in the "version" field of the swagger.json ?

[2015-09-30 21:01] msh321 commented on #1291
Hmmmm -- I just updated be rebuilt.  But my HTTP header parameter names are still wrong.

So, `Callback` is still renamed to `callback` and `X-Token` is renamed to `xToken`.

[2015-09-30 21:09] cbornet opened #1315 "Missing languages in online generator swagger.json"
In SwaggerResource::generateClient(), allowableValues is only "android,java,php,objc,docs"
[code]

[2015-10-01 02:01] wing328 commented on #1291
@msh321 The fix has not been merged into master. You need to clone https://github.com/wing328/swagger-codegen and checkout fix_dynamic_html_parameter_name in order to test the fix.

[2015-10-01 02:02] #1258 closed

[2015-10-01 02:03] wing328 commented on #1258
@tckb Thanks for the confirmation. PR merged into master.

We look forward to your PR to address other issues with JavaSpringMVC. If you need any help with the PR, just let me know (personal email address available at github profile page)

[2015-10-01 04:13] wing328 commented on #872
@Hadou1 closing this as we've not heard any update from you.

[2015-10-01 04:13] wing328 commented on #873
@Hadou1 closing this as we've not heard any update from you.

[2015-10-01 04:13] #873 closed

[2015-10-01 04:13] #872 closed

[2015-10-01 04:16] wing328 commented on #402
Closing this as the unit tests have been added.

[2015-10-01 04:16] #402 closed

[2015-10-01 04:19] wing328 commented on #650
@michael-shaw we're closing this as we don't see further update from you.

[2015-10-01 04:19] #650 closed

[2015-10-01 04:20] wing328 commented on #471
Closing this as the Swift template has been added.

[2015-10-01 04:20] #471 closed

[2015-10-01 04:22] wing328 commented on #484
Closing this as #893 has been merged into master.

[2015-10-01 04:22] #484 closed

[2015-10-01 04:25] wing328 commented on #686
Closing this as this is supported by the "okhttp-gson" template.

[2015-10-01 04:25] #686 closed

[2015-10-01 05:53] ches commented on #1266
Seems like this can be closed with #1276 merged.

[2015-10-01 05:54] ches commented on #1266
Does it also satisfactorily fix #1267?

[2015-10-01 07:38] cbornet commented on #1313
After looking at the code, it seems the best would be to factorize some methods that exist in codegen-cli's Generate.java to parse string parameters into CodegenConfigurator then use the CodegenConfigurator from swagger-generator's Generator.java.
If OK, I can pull a PR.

[2015-10-01 07:48] cbornet commented on #1313
The above comment is for complex options such as instantiation-type, type-mappings, etc..

[2015-10-01 09:13] msh321 commented on #1291
@wing328 I have now tried out the `fix_dynamic_html_parameter_name` branch, and the fix work. My HTTP header params are now correct in the generated docs.  Thanks a lot!  :smiley:

I have discovered a few other issue (I will create a issue for them):
1. If a REST method has a "body", then the body is not clickable.
1. If I click on a response object, and the response object contains other object,

[2015-10-01 11:57] ches opened #1318 "additionalProperties with Boolean value causes NPEs"
I'll come back and provide a more minimal reproduction case, just wanted to file this while it's fresh (it seems fairly trivial to reproduce, and a quick grep shows a lot of code that seems to assume `additionalProperties` will be a map).

`additionalProperties` in JSON Schema [can be an object or a Boolean][1]. When I use a Boolean value, codegen blows up with an NPE (using rev 253c46a0d5a96dd4da

[2015-10-01 12:09] wing328 commented on #1291
@msh321 PR merged into master. For other issues, please open new issues for tracking (assuming no one else has reported similar issue before)

[2015-10-01 12:09] #1291 closed

[2015-10-01 13:33] xhh commented on #696
@panshul007 async request has not been supported in the default Java client codegen, but is supported in the `okhttp-gson` template of Java client codegen (via the `library` option).
Please take a look at the `executeAsync` method in [ApiClient.java](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main/java/io/swagger/client/ApiClient.java#L6

[2015-10-01 13:36] ches opened #1320 "Reference for template variables?"
Forgive me if this isn't a good place to ask this, but I was looking at the [Building your own Templates wiki page][1] and saw that @wing328 just edited it minutes before, so I thought it might be a good time to ask and update that page further…

Where can I find info or source code for where the template context/variables come from? It would be useful to compile a reference of what's already avai

[2015-10-01 14:39] amitkshirsagar13 opened #1321 "POST resources with EMPTY json response schema {} fails to generate the API classes"
Please find the attached jsons samples, I have included documentation with empty {} json as response and other as some response in json. Also, I have given same resource with using PUT with no schema to return.

Getting error as below,

writing file C:\ATG\developer.back\workspaces\ws_swagger_codegen\java\mission/src/main/java/io\swagger\client\model\CompanyTargetsParameters.java
java.lang.NullPoi

[2015-10-01 14:41] wing328 commented on #1320
@ches I totally agree with you that a list of template variables would be helpful to swagger-codegen contributors. If it's not too urgent, I'll compile a list later after I submit PRs to enhance the exception handling for SwaggerCodegen.

Do you mind sharing more with us your requirement? Are you working on adding a template for another language or framework?

[2015-10-01 14:57] bedag-moo commented on #1266
I did not systematically check the code for other instances where exceptions are discarded, but the ones I stumbled across have been fixed, so closing it ok with me.

[2015-10-01 14:57] #1266 closed

[2015-10-01 15:07] cbornet opened #1322 "NPE when operation has oauth security but empty scope list"
If an operation has an empty scope list for an oauth security then the generator crashes
[code]
will provoke
[code]

[2015-10-01 15:08] bedag-moo commented on #1267
Fixing #1266 has somewhat improved matters, but the stack trace is not very readable, and does not identify the missing model:

	[ERROR] Error while trying to get Config from Operation for tag(issue)
			Resource: post /issue/{id}/status
			Operation:io.swagger.models.Operation@41b7cbf6
			Definitions: {Ref=io.swagger.models.ModelImpl@1ce79d8c, IssueTransitionCommand=io.swagger.models.ModelImpl@9cc

[2015-10-01 15:10] bedag-moo commented on #1267
I don't understand swagger-model well enough to fix this efficiently.

[2015-10-01 15:12] wing328 commented on #1165
@ePaul I've submitted https://github.com/swagger-api/swagger-codegen/pull/1309 (merged into master) to fix the issue.

If I understand correctly, that should fix the issue for SpringMVC you reported above. Would you please pull the latest master and see if you still encounter the same issue with SpringMVC?

If the fix works, I'll apply similar fix to Java and Jax-RS.

[2015-10-01 15:13] kmrgithub commented on #1237
I receive an empty class named EnumTest from this entry in Swagger Editor.
  EnumTest:
    type: string
    enum: ["hello", "goodbye"]

[2015-10-01 15:24] wing328 commented on #1166
@gitburr @arnested would you please pull the latest master and see if you still encounter the issue? I tried with `password` format but could no longer repeat the issue.

[2015-10-01 15:41] amitkshirsagar13 commented on #1321
I think, the root cause of the issue is for below,

Not working:
"produces": ["application/json",
				"text/json",
				"application/xml",
				"text/xml"],

Working:
"produces": ["application/json",
				"text/json"],

So, looks like when response schema contains {} Empty JSON, its not able to produce the client api with xml and which is causing it to fail.

if we some how make it correct the code f

[2015-10-01 15:44] wing328 commented on #1267
@bedag-moo thanks for the detailed error messages. I tried repeating the issue by removing schema from https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L44 (so that the body parameter refers to a missing model) but in vain.

Am I repeating the issue in the right way?

[2015-10-01 15:52] bedag-moo commented on #1267
@wing328: No :-)

Here is the full spec for my testcase:

    {
      "apiVersion" : "1",
      "swaggerVersion" : "1.2",
      "basePath" : "/api",
      "resourcePath" : "/issue",
      "apis" : [ {
        "path" : "/issue",
        "operations" : [ {
          "method" : "POST",
          "nickname" : "createIssue",
          "type" : "Issue",
          "parameters" : [ {
            "type" :

[2015-10-01 16:08] wing328 commented on #1267
@bedag-moo ok. I'll give it a try tomorrow and fix the NPE in a branch that I'm working on.

[2015-10-01 17:07] ches commented on #1320
Thank you, no it's not terribly urgent :smile:

So far, I'm just considering some tweaks to the ObjC templates, for one to add doc comments from `description` fields when available in some places where this isn't already done, and then perhaps functional changes to suit organization preferences. Some upstream-able and some not, I think :wink:

It's certainly possible I'd work on other langs/framew

[2015-10-01 17:31] ahaid commented on #1170
Any update on this?

[2015-10-01 17:55] amitkshirsagar13 opened #1324 "Need provision to add import packages on API Classes"
I think, there should be provision in config file to import specific classes/packages on Generated API classes.

Currently, I am having issue while importing APIs which complain about asking for forcefully use import java.lang.Object in API classes.

It will be great if there is provision to add certain package/class for import in API class while generated.

Something like --api-import "{imports:[

[2015-10-01 18:11] mohsen1 opened #1325 "Can't generate clients from the Instagram example."
_From @chrislatimer on October 1, 2015 16:50_

None of the clients seem to generate when the instagram example is used. A 500 error is returned without any details. Happens both when running locally and from editor.swagger.io.

_Copied from original issue: swagger-api/swagger-editor#675_

[2015-10-01 18:19] webron commented on #1325
@chrislatimer - I can't seem to reproduce it. Is it the instragram example as-is or did you modify it? Can you please try reloading the example and giving it another try?

[2015-10-01 18:45] ducin opened #1326 "documentation/readme relying on docker"
Hello,

I've been trying to play around with swagger, trying to generate an HTML docs file file based on a swagger definition file. I don't have docker installed and I'm strongly convinced, that I should not need docker to run swagger. The problem is that [readme](https://github.com/swagger-api/swagger-codegen#build-and-run-using-docker) (or [this readme link](https://github.com/swagger-api/swagge

[2015-10-01 19:02] webron commented on #1326
Hi @ducin - thanks for the feedback. You're indeed correct and docker is definitely not required to run the codegen. The order of the readme is misleading and we'll fix that.

In the meantime, assuming you clone the repository, please follow the instructions from the following step - https://github.com/swagger-api/swagger-codegen#os-x-users (if you're not on os x, skip to the next one).

If you wa

[2015-10-01 19:07] ducin opened #1327 "generating static HTML docs - assets are broken/missing"
I'm trying to generate a static documentation for a given swagger definition file (something that would look just like the [petstore example](http://petstore.swagger.io/)). For that purpose I'm just using the [petstore definition file](http://petstore.swagger.io/v2/swagger.json).

Having java and maven installed, I'm running (Windows under powershell, nevermind the (back)slashes):

[code]

The res

[2015-10-01 19:15] webron commented on #1327
I'll leave it to @wing328 to comment about the missing assets, but I wanted to make sure you understand that the ui you see in the online pet store is not the same as the html generated by this project, and that they serve different purposes. I'm not sure what your end goal is in this case, but if you provide us with more details, we may be able to suggest some other routes.

[2015-10-01 19:19] ducin commented on #1326
Hi @webron, thanks for a fast reply!

I've managed to make `swagger-codegen` work under `mvn`. I just find current documentation unclear due to docker presence *and* incomplete commands, such as [this one](https://github.com/swagger-api/swagger-codegen#generating-static-html-api-documentation). As a result, it takes more time to go through it than it could ;)

----

If you're open to more feedback

[2015-10-01 19:29] ducin commented on #1327
My purpose is quite simple - suppose I've got a swagger definition file and I want to generate an HTML/css/js-based documentation for it. I want to do it automatically every day (under a CI), since the definition file is under a VCS.

After reading about ~codegen, ~UI and ~editor, to be honest, I didn't figure out that html codegen and ui serve different purposes. At least I couldn't find which on

[2015-10-01 19:49] webron commented on #1326
Sure, feedback is always welcome. The problem is normally lack of time not lack of willingness :)

When you say incomplete command, do you mean you'd want to see the full command rather than just the flag to be used?

[2015-10-01 19:57] webron commented on #1327
So let's try and make things clearer.

swagger-editor is used for editing new definitions. Its preview is not standalone and cannot be used independently with your projects.

swagger-ui is a set of static flies that load a swagger definition dynamically. You can include it as part of your application or host it separately, and simply point it to your swagger definition. The online pet store is a j

[2015-10-01 20:29] ducin commented on #1326
I might PR a table of contents, if you like this idea. I'm happy to contribute as long as my commits don't lie in github PRs for months ;)

regarding incomplete commands - IMHO the best solution is to leave the flag to be used as it is, but to add a complete example. If the flag is obvious, then you may skip the example. But if it's not, the example is useful.

[2015-10-01 20:33] webron commented on #1326
We do our best to merge PRs in a timely manner, especially in this project which highly depends on user contributions. Feel free to submit a ToC PR.

[2015-10-01 20:43] ducin commented on #1327
@webron thank you for this explanation! My quick summary:
1. swagger-codegen->html is just static docs
2. swagger-ui is docs + play around (execute)
3. I was missing an overview just as you did above. It might be anything (a blog post or a small section on swagger.io website) as long as it's easily accessible (i.e. linked from the website). Maybe something like "common usecases" or "beginners guid

[2015-10-01 20:46] webron commented on #1327
I'm writing a series of blog posts about [getting started with Swagger](http://swagger.io/getting-started-with-swagger-i-what-is-swagger/) - there's a pending post and another one waiting to be written. I'll take your comments into account in a future post in the series in hopes of clarifying it.

[2015-10-01 20:55] chrislatimer commented on #1325
Hi @webron when I do File -> Open Example -> Instagram with no changes I can't generate any clients.

![image](https://cloud.githubusercontent.com/assets/831081/10233561/28d2f198-685d-11e5-990d-85f45c571c7b.png)

[2015-10-01 20:56] webron commented on #1325
@mohsen1?

[2015-10-01 21:47] mohsen1 commented on #1325
I'm getting the same 500 error with this body:

[code]
Editor is not showing the error modal which is a bug I opened here https://github.com/swagger-api/swagger-editor/issues/678

[2015-10-01 21:55] webron commented on #1325
Sorry, I had some network issues. Will retest in a bit.

[2015-10-02 15:27] wing328 commented on #1267
@bedag-moo I noticed that some "path" parameters have the type "TechId". Replacing it with "string" can workaround the issue before we put in place better handling of the NPE.

For path parameters, I don't think we should use model, which can have more than 1 property and currently there's no way for codegen (or other tool) to figure out which property to substitute the path parameter (e.g. {id}).

[2015-10-02 15:37] #1315 closed

[2015-10-02 15:39] #1322 closed

[2015-10-02 17:20] matt-deboer opened #1330 "Latest ./run-in-docker fails build tests with "Unable to open socket file...""
Following the instructions (exactly) in the readme results in the following error(s):

    testVerbose(io.swagger.codegen.config.CodegenConfiguratorTest)  Time elapsed: 5.216 sec  <<< FAILURE!
    java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
        at org.apache.maven.surefire.testng.TestNGExecutor.run(TestNGExecutor.java:115)
        at org.apache.maven.surefire.testng

[2015-10-03 02:53] wing328 commented on #1324
@amitkshirsagar13 is your issue similar to this one (springmvc): https://github.com/swagger-api/swagger-codegen/issues/1258 ?

[2015-10-04 12:38] jhitchcock opened #1332 "Path Parameter added in C-Sharp Generator"
Within the C sharp generate the line
pathParams.Add("format", "json");

exists in api.moustache

Not sure why its there, But I also noticed, Accept header is not set in the requests

[2015-10-04 14:32] wing328 commented on #1332
@jhitchcock For `pathParams.Add("format", "json");` the logic is already there before I started making contribution to the C# code generator (and other components of the project). My understand is that it automatically replaces `/pet/{petId}.{format}` with `/pet/{petId}.json` for example (since the code generator can only deserialize JSON response into models at the moment).

Is this logic causing

[2015-10-04 15:06] amitkshirsagar13 commented on #1324
No, Actually, Its bit more than that, I know it might seem unnecessary, but it will be good if, we can have provision to import specific Classes/Packages in API to make sure, in future, no other class names created in Models will conflict.

There is one workaround currently, where we can patch or add those imports manually, but I think, it wont be difficult to provide a configuration and add those

[2015-10-04 15:36] jhitchcock commented on #1332
Hi, Thanks for the fast reply. Thanks for the explanation on the first one, I wasn't thinking straight and didn't read it as PATH param!

Re the application/json Accept header. My API will take application/json or application/xml as the accept header, but I only want to use the JSON representations. in Swagger UI the application/json accept header is sent in the request, but it doesn't seem to be

[2015-10-04 15:57] #1314 closed

[2015-10-04 16:07] wing328 commented on #1332
@jhitchcock `produces` should be used similar to what we've done for other languages. Hopefully I should be able to file a PR to address that in the coming week.

[2015-10-05 05:23] wing328 commented on #1332
@jhitchcock I've submitted #1333 to address the issue. I wonder if you can perform a test to confirm the fix works for you.

[2015-10-05 07:32] aersam opened #1334 "Improve TypeScript Template"
The templates in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/TypeScript-Angular should be updated to use TS 1.6 best practices:
- No more use var keyword. Use let and cost instead (TsLint Config Value: no-var-keyword)
- Use namespace keyword instead of module keyword (TsLint Config Value:  no-internal-module)
- Why are classes used for mode

[2015-10-05 10:29] #1304 closed

[2015-10-05 11:06] wing328 commented on #1334
@aersamkull thanks for offering contribution to the TypeScript generator. Would you please elaborate on your third point about using interfaces instead of models?

For best practices, I assume you're referring to http://definitelytyped.org/guides/best-practices.html.

Later we want to support inheritance in all generators: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#com

[2015-10-05 13:00] aersamkull commented on #1334
I just looked at Rules from Tslint: https://github.com/palantir/tslint
The Best practices of DefinitelyTyped do just include things for declaring interfaces, not more.
let and const are supported in TypeScript and are transpiled to var. There is no need for var anymore in TypeScript. var is function-scoped (evil), let is block-scoped (good)

The namespace keyword is a replacement for the module ke

[2015-10-05 13:03] ches commented on #1320
Okay, this is becoming a little more urgent for me :smile:

@wing328 could you just give me a pointer to where code lives that sets up the template context/vars? I think I can mostly grok what I need to know from that point, and hopefully come back to share some suggested wiki doc additions myself once I've dug into it.

Thanks!

[2015-10-05 13:54] wing328 commented on #1320
@ches one way to obtain the template variables is to use the "debugOperations" or "debugModels" switch, e.g.
[code]
which will print out the template variables for models. For operations (resources), please use "debugOperations" instead.

Would these help?

[2015-10-05 14:04] wing328 commented on #1334
Copying  @mhardorf (creator of the TypeScript generator) and @tandrup (core contributor to TypeScript generator) to see if they've any comments on the proposed change.

[2015-10-05 14:35] wing328 commented on #1327
@ducin according to #666, site.css is no longer needed but I can still find site.css in index.html.

Submitted #1335 to remove site.css from index.html.

[2015-10-05 14:36] wing328 commented on #666
site.css still found in index.html. Submit #1335 to remove it.

[2015-10-05 14:37] ches commented on #1320
Woohoo! Yes, that's a huge help, thanks!

[2015-10-05 14:39] ducin commented on #1327
thanks

[2015-10-05 14:47] wing328 commented on #1320
Good. I'll document these in the wiki page for future reference.

[2015-10-05 15:26] artem-dudarev opened #1336 "C#: Invalid code with multiline XML comments"
Multiline XML comments lead to invalid C# code which does not compile.
Swagger spec:
[code]

Generated code:
[code]

Expected:
[code]

[2015-10-05 15:42] artem-dudarev opened #1337 "C#: XML comments use the same tag for summary and description"
The default C# template puts the description text after the summary text to the **summary** tag instead of using a separate **remarks** tag.

Swagger spec:
[code]

Generated code:
[code]

Expected:
[code]

[2015-10-05 15:51] artem-dudarev opened #1338 "C#: Need a configuration setting to change the type for arrays"
Currently arrays are generated as `List<T>`. I'd like to configure the generator to get real arrays `T[]`.

[2015-10-05 16:06] glederrey commented on #1275
Hi,

I just post another message, because we need to change this as soon as possible.. For the moment, I have an ugly solution that consist of adding `@JsonFormat(pattern = "yyyy-MM-dd'T'HH:mm:ss'Z'")` before each parameters..

The thing is I want to add this only when the type of the parameter is Date.. How can I do this?? I think I'll have to add some new tags for the mustache files (especially

[2015-10-05 16:07] raja6955 opened #1339 "Spring MVC client codegen support missing?"
Hi,

I see support for SpringMVC server side stub codegen but not for spring MVC client side (RestTemplate based). The java client generates JaxRS/Jersey client and my requirement is to use spring RestTemplate. Would that be added anytime soon?

[2015-10-06 03:37] wing328 commented on #1337
@artem-dudarev thanks for the feedback using <remarks> tag. I've updated #1333 with your suggestion.

[2015-10-06 03:40] wing328 commented on #1338
@artem-dudarev do you mind sharing more about the requirement to use `T[]` instead of `List<T>`? Is that a must or more of a personal preference?

Before I started working on the C# generator, it was already using List instead of [] so I just keep it that way (both are fine with me).

[2015-10-06 04:00] #1313 closed

[2015-10-06 04:03] wing328 commented on #1339
@raja6955 currently, the Java client supports the following libraries:
[code]
RestTemplate is not yet supported. Is it a must to use RestTemplate?

Java clients using other HTTP libraries should work with the Spring backend without issue.

[2015-10-06 04:27] wing328 commented on #1320
Documented at https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2015-10-06 04:27] #1320 closed

[2015-10-06 09:59] dolmen commented on #1318
Here is a small test case:
[code]
[code]

[2015-10-06 10:06] dolmen commented on #1318
Related: swagger-api/swagger-core#1437

[2015-10-06 10:14] dolmen commented on #1318
@ches The definition `additionalProperties` that matters is not the one in `JSON Schema` that you linked to but [the one in the Swagger spec](/swagger-api/swagger-spec/blob/master/schemas/v2.0/schema.json#L988).

[2015-10-06 10:26] #1332 closed

[2015-10-06 10:26] wing328 commented on #1332
@jhitchcock PR merged into master. Let me know if you still see issue with "Accept" header.

[2015-10-06 10:27] wing328 commented on #1337
#1333 merged into master.

[2015-10-06 10:27] #1337 closed

[2015-10-06 10:40] wing328 commented on #1020
@jplegoff  Updated to remove reference to scalatra

[2015-10-06 10:40] #1020 closed

[2015-10-06 10:41] #1008 closed

[2015-10-06 10:51] wing328 commented on #1275
@glederrey that's doable but currently there's no mustache tag (template variable) to indicate whether a model property is date or not. I just added a Wiki page to show what template variables are available in model.mustache: https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

You will need to add something like {{isDate}} similar to {{isPrimitiveType}}. If you need mo

[2015-10-06 10:55] corruptmem opened #1341 "TypeScript generated bindings not mapping to JSON property names"
I'm using Swagger codegen to generate Angular Typescript bindings for a JSON web service. An example of one of my models from the Swagger definition is as follows:

    NamePos:
      type: object
      properties:
        Name:
          type: string
        Position:
          type: string

And this is sent over the wire as the following JSON object:

    {"Name": "x", "Position": "y"}

However,

[2015-10-06 13:27] ches commented on #1318
@dolmen I'm aware that Swagger adds a slight semantic override, but in regard to `additionalProperties` [the spec as written says][1]:

My added emphasis is to stress that I'm pretty sure there is a conscious decision not to break backward compatibility implied there.

[1]: http://swagger.io/specification/#schemaObject

[2015-10-06 13:32] tabetan opened #1342 "[JAVA] [allOf] fails when generating code"
Hi,

I have a problem when generating code for my swagger.yaml.

My swagger.yaml is valid, validated against validator-badge tool. Plus the editor doesn't raise any problem.

customerUpdate object extends customerCreate object using allOf. But the allOf feature seems to create a problem when generating code for Java. Is it possible to use allOf when generating Java code?

### Yaml extraction:
[cod

[2015-10-06 14:02] dolmen commented on #1318
@ches There is no "backward compatibility" involved here. This is just about maintaining the similar meaning, for consistency (not compatibility) with JSON Schema.

[2015-10-06 14:11] ches commented on #1318
@dolmen Is that an "official" stance on JSON Schema compatibility?

Either way, I hope we can agree that the written spec and the implementation are currently inconsistent.

[2015-10-06 14:22] ryber opened #1343 "Can't built codegen from behind a proxy"
mvn can't build the codegen project from behind a proxy. There are issues with the google download plugin steps. I'm not sure if this step is absolutely needed for generating code or not. I actually would love the option to just download the jars but the Maven central repository only has the POMs and not the jars?
http://mvnrepository.com/artifact/io.swagger/swagger-generator/2.1.2
https://repo.ma

[2015-10-06 15:04] wing328 commented on #1343
@ryber you can also use the online generator. Here is an example:
[code]

[2015-10-06 18:04] bedag-moo commented on #1267
I agree about path parameters, and have since changed their type to string.

Still, a more descriptive exception would be nice.

[2015-10-06 19:39] fehguy commented on #1343
You can also grab the codegen executable jar from here:

https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen-cli/

[2015-10-06 19:45] #1343 closed

[2015-10-06 20:26] mohsen1 opened #1344 "Swagger-editor: Using items without type: array still validated ok"
_From @hpoints on October 6, 2015 19:42_

My yaml validated ok, but then I could not generate any client/server artifacts. Had to manually find the error. My error was using items in some places where schema should have been used.

_Copied from original issue: swagger-api/swagger-editor#681_

[2015-10-06 20:26] mohsen1 commented on #1344
A JSON Schema like this: `{"type": "array"}` is describing an array with *any* element. It is valid JSON Schema. This is a problem in swagger-codegen where it doesn't like arrays without `items` schema.

[2015-10-06 20:54] artem-dudarev commented on #1338
This is not a must. I just think the class or method definition is shorter and more readable with arrays then with lists.
Thats why I ask for configuration option.

[2015-10-06 21:05] artem-dudarev commented on #1336
The quick workaround is to replace \r with \\\r by adding the following line to the escapeText method in DefaultCodegen.java:
[code]
It will not produce the correct XML comment, but at least the code will compile.

[2015-10-07 02:39] wing328 commented on #1336
@artem-dudarev To me, your solution is good enough as the code will at least compile. Do you mind submitting a PR for the fix?

[2015-10-07 02:59] wing328 commented on #1344
@mohsen1 according to the [spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-7), if type is `array`, then `items` must be provided.
[code]

[2015-10-07 03:04] wing328 commented on #1338
@artem-dudarev thanks for the suggestion. We'll leverage the help from the community to implement this in the future.

[2015-10-07 03:27] mohsen1 commented on #1344
Then the swagger json schema should catch it. @webron

[2015-10-07 04:52] fehguy commented on #1342
Hi, the allOf syntax isn't quite right.  It should be more like this:

[code]

[2015-10-07 04:56] fehguy commented on #1318
@ches there is an official stance on json-schema.  Swagger supports a subset of JSON schema draft-4 which should be clearly documented in the [swagger-spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md).

The spec is the source of truth and projects may not implement all aspects of the spec 100%.  If we have unimplemented features, we like to get community confirmation a

[2015-10-07 05:42] webron commented on #1344
Well, there's https://github.com/swagger-api/swagger-spec/issues/404 and https://github.com/swagger-api/swagger-spec/pull/413.

[2015-10-07 07:47] inska commented on #1179
Hi @webron,

This issue reproduces in my case... and I had generated swift sdk from swagger-editor in browser. swagger-editor is latest.

[2015-10-07 08:26] #666 closed

[2015-10-07 08:27] wing328 commented on #1327
PR merged into master

[2015-10-07 08:27] #1327 closed

[2015-10-07 08:30] wing328 commented on #1341
@corruptmem thanks for reporting the issue. I totally agree with you that an attribute map should be used for TypeScript to handle reserved keyword or other edge cases for property name. May I know if you've cycle to implement the attribute map for TypeScript?

[2015-10-07 08:59] wing328 commented on #1179
@inska I ran the latest swagger-generator locally and confirmed the issue has been addressed:
[code]

I believe http://generator.swagger.io has not picked up the latest change and therefore you still encounter the issue.

Before http://generator.swagger.io gets upgrade to the latest version, please use `swagger-codegen-cli` as a workaround:
[code]

[2015-10-07 09:21] inska commented on #1179
@wing328 Hi, thank you very much and it works well with swagger-codegen-cli! I was just tried with only swagger-editor.

[2015-10-07 09:48] ches commented on #1318
Thanks @fehguy. I take

and my other above quotation to mean that *for the subset* that the Schema Object encompasses, the types should (eventually) be completely conformant to JSON Schema.

But I misread @dolmen's link above when I said that there is an inconsistency—the Swagger schema does include `boolean` in the `anyOf` for `additionalProperties`. So it's just the implementation in swagger-cod

[2015-10-07 11:33] inska opened #1345 "auto generated swift client problem - headers missing"
Hi,

I created an auto generated swift client with swagger-codegen, and successfully imported into my xcode project. However, it seems that there's no logic for sending custom headers unlike other sdks.

Seems Ok with Python and Ruby SDK to call server with valid custom headers, but only swift SDK seems missing to sending headers.

Does passing custom headers with auto generated swift client is po

[2015-10-07 11:53] inska opened #1346 "python client problem - ApiClient"
Hi,

Anyone can you guess below problem? This is my situation:
 - Python client generated
 - some function works well (GET) (Sever returns its valid response)
 - some function returns below error (GET or POST) (Never requested to server)

Python client generated from codegen cli.

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/runpy.py",

[2015-10-07 12:21] tabetan commented on #1342
Thank you very much. It is working now.

[2015-10-07 12:21] #1342 closed

[2015-10-07 12:44] wing328 commented on #1346
@inska it would be hard to guess without the spec. Can you share the swagger spec with us to reproduce the issue?

[2015-10-07 12:51] wing328 commented on #1345
@inska can you tell us a bit more about the custom header? Is that required for all HTTP requests? Is that for authentication?

[2015-10-07 13:07] cbornet opened #1347 "[Java] Support enums in query params"
Enums are generated when they are part of a definition object but not when they are a direct method property.
For instance:
[code]
Generates "status" as a String not as an enum.

[2015-10-07 14:09] cbornet opened #1348 "[Java] Useless generation of fields when using allOf"
When using composition with ```allOf```, the child class contains un-needed attributes which are already in the parent class.

[2015-10-07 14:54] cbornet commented on #1348
It even leads to an exception : ```class io.swagger.client.model.Bar declares multiple JSON fields named foo``` when using Gson (in okhttp-gson and retrofit libraries)

[2015-10-07 14:58] oYo-fr opened #1349 "Error in node.js index.mustache template"
In nodejs file index.js when generating a node.js server, the variable serverPort is never used.
In file /modules/swagger-codegen/src/main/resources/nodejs/index.mustache, which seems to be the template for this file, I think we should have this (lines 34 to 37):

  http.createServer(app).listen(serverPort, function () {
    console.log('Your server is listening on port %d (http://localhost:%d)',

[2015-10-07 15:04] wing328 commented on #1348
@cbornet my understanding of `allOf` (without `discriminator`) is that child should "copy" all the parent properties to itself (child) since child does not inherit (extend) parent.

Ref: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#composition-and-inheritance-polymorphism

Do you have a sample spec so that I can repeat the issue you mentioned above?

[2015-10-07 16:00] cbornet commented on #1348
@wing328 Well, it seems to me that implementing swagger composition with class extension would be fine if there was only one object possible in the composition since the classes are just mere containers for the Json mapping. But since there can be several objects to compose, it looks preferable to just copy the attributes for clarity and remove the class inheritance in the generated code.

[2015-10-07 16:10] cbornet commented on #1348
A spec to reproduce here: https://raw.githubusercontent.com/swagger-api/swagger-spec/07cce43535e90815737e7258bb4d51c0c76999d6/examples/v2.0/json/petstore-expanded.json

[code]
[code]

[2015-10-07 19:26] webron commented on #1318
Sorry for taking a while to reply.

So we definitely need to make this clearer in the spec (and please feel free to open a ticket on it once we clarify it). The spec itself is a bit incomplete with regard to how `additionalProperties` is intended to work.

Unlike what's stated, `additionalProperties` can only take an object value. An empty object value is equivalent to setting the value to `true`.

[2015-10-07 21:17] goncaloborrega opened #1350 "generator.swagger.io - Error invoking /gen/clients/* - Disk space?"
All requests to http://generator.swagger.io/api/gen/clients/{language} are yielding an error:
*Unable to build target: Could not process operation*

Example using curl and petstore
[code]

result

[code]

Feedback on irc channel pointed to full disk

[2015-10-07 21:35] siliconcow opened #1351 "java.lang.RuntimeException: missing swagger input or config! (parse error?)"
Seem to be getting an exception generating a client from https://loanpro.simnang.com/api/rest.json

[code]

[2015-10-08 00:15] fehguy commented on #1350
looks like it was a commit that caused this.  https://github.com/swagger-api/swagger-codegen/commit/733e19c113b3cf77be28489ae9bc07b425cdd053 should address it, and I've pushed the fix to the online version.  Thanks for reporting and reopen if you see any other issues.

[2015-10-08 00:15] #1350 closed

[2015-10-08 00:55] inska commented on #1345
Right. I mean about api_key. I'll use custom header for API Key. Other clients supports api_key_prefix to store api_keys, and clients sending that headers with.

Thanks!

[2015-10-08 00:58] inska commented on #1346
@wing328 Can I share a swagger spec to your e-mail in github profile?

[2015-10-08 01:58] wing328 commented on #1346
@inska sure (I won't share with others)

[2015-10-08 02:08] wing328 commented on #1349
@oYo-fr  I agree that the variable `serverPort` should be used instead of `{{serverPort}}`. Do you have cycle to submit a PR for the change?

[2015-10-08 02:10] wing328 commented on #1345
@inska Likely that has not been implemented in the Swift client and we would appreciate the contribution from you and the community to add that.

[2015-10-08 02:55] inska commented on #1240
I've met this issue, too. Ruby client seems working well with auth_settings but swift and python client not working.

[2015-10-08 06:54] zonorion opened #1352 "How to display default value 0 on swagger-ui"
Hi all,
My result on swagger is:
{
  "name": "string",
  "wareHouseID": "Integer",
  "company": "string",
  "fullname": "string",
  "address": "string",
  "parentID": "Integer"
}

but I need "wareHouseID": 0, "parentID": 0.
My question: How to set default values 0.
My code:
private int wareHouseID;
	private int parentID;
	private String name;
	private String fullname;
	private String company;
	pri

[2015-10-08 07:58] cbornet opened #1353 "[Java][Android] Make android a sub template of the Java generator"
This way android would benefit from the enhancements of the Java generator.
Also I wonder if the android specific files could not be added to all the Java templates so that you can choose which libraries you want to use for your android app ?

[2015-10-08 07:59] arnested opened #1354 "Usage of $httpHeader in exception handler"
In the PHP client `$httpHeader` is used in the exeception handler: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/api.mustache#L176

But the variable is only set as a return value from the very same callApi that throws the exception: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/a

[2015-10-08 08:06] arnested commented on #1354
I could make a pull request fixing this - but I'm not quite sure I understand the use case this is supposed to support and how to achieve this in a better way.

[2015-10-08 08:14] wing328 commented on #1354
@arnested so far the only use case for $httpHeader is when the response is `file` and the filename can be obtained from $httpHeader.

[2015-10-08 08:18] wing328 commented on #1353
@cbornet currently the `okhttp-gson` is compatible with Java, Android and Scala. What  other HTTP libraries you would like to add for Android client in the Java template?

Personally I welcome the support of more libraries in the Java template.

[2015-10-08 08:28] wing328 commented on #1352
May I know which generator are you using? Java? springmvc?

If I understand correctly, you want to set default value (e.g. 0) to model property?

[2015-10-08 08:32] oYo-fr commented on #1349
Hi wing328,

I would love to make a pull request but I simply don't know how to do it :(

I suck at git :-/

[2015-10-08 08:39] arnested commented on #1354
Thank you for the quick reply.

So after looking in to the `ApiException`callss I guess the line (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/api.mustache#L176) should be changed from
[code]
to
[code]

Unless you say I got this wrong I'll create a pull request.

[2015-10-08 08:51] wing328 commented on #1354
I think there's something wrong with file download at the moment. I'll do a test and reply back.

($httpHeader should be passed to the `deserialize` method at https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/api.mustache#L188 instead)

[2015-10-08 08:56] arnested commented on #1354
But that won't change the fact that `$httpHeader` is an undefined variable in the `catch`blocks.

(There might be something wrong with the file download also but I haven't used that (yet)).

[2015-10-08 09:03] wing328 commented on #1354
You're absolutely right: it ($httpHeader) should not be used in the catch block

I just did a test. File download still works but the file name is randomly generated:
[code]
To fix that, we need to pass $httpHeader in the `deserialize` method at line 188 and move the `{{returnType}}` tag inside the try block.

[2015-10-08 09:22] cbornet commented on #1353
@wing328 yes, my point is that all java libraries could be made compatible with android and that they could have a android-build.gradle to generate an android apk.
And the android generator could be made as a java sub-template renamed "apache-httpclient-gson" for instance (or even completely removed because who still uses apache-httpclient ? ;-))

[2015-10-08 09:29] arnested commented on #1354
I create pull request #1355 for not using `$httpHeader` in `catch` blocks.

Regarding the file download issue I really have no experience but I tried to implement the solution you sketched (not tested - and I'm definitely on thin ice regarding my understanding of the code base): https://github.com/arnested/swagger-codegen/commit/3bd4502bbf1cf3a4feb9e378ae0d4b4f421e4a28.

[2015-10-08 09:45] wing328 commented on #1354
Thanks for incorporating the fix into your PR. It looks good to me.

[2015-10-08 09:46] zonorion commented on #1352
Hi @wing328  i using java and jaxrs

[2015-10-08 09:47] arnested commented on #1354
Well, they are actually two PR's now. I can combined them to one if you prefer.

[2015-10-08 09:52] wing328 commented on #1354
It's fine. Will review and approve accordingly.

Thanks for your help in fixing the issue.

[2015-10-08 09:57] arnested commented on #1354
Thank you for the quick follow up. It is real pleasure not having to wait for ages before getting feedback!

[2015-10-08 09:57] wing328 commented on #1352
Do you mean you generate the swagger.json from annotation in your code (Java, JAX-RS)?

If you already have a swagger.json to describe your REST API, do the properties have the `default` attribute? (ref: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-7)

[2015-10-08 10:36] zonorion commented on #1352
Can you give me an example :)

[2015-10-08 11:20] wing328 commented on #1352
Here you go:
[code]

[2015-10-08 12:09] zonorion commented on #1352
Oh, your mean is i have to define swagger.json in my project?

[2015-10-08 12:43] lwc commented on #1330
Any word on this?

[2015-10-08 13:00] wing328 commented on #1330
Another user seems to be able to use docker with codegen successfully (the error message is related to the Swagger spec)

Ref: https://github.com/swagger-api/swagger-codegen/issues/1351

[2015-10-08 13:01] wing328 commented on #1352
How's your swagger.json generated? using annotation in the code?

[2015-10-08 13:09] tabetan opened #1357 "[Java][ENUM] it doesn't expose ENUM VALUES inside the class"
Hi,
When I build java source code for the following snippet:

[code]

The Java classes do not expose the values. Is this a bug?

THANK YOU

Below the generated Java class.
[code]

[2015-10-08 13:46] goncaloborrega commented on #1330
I had the same problem when building in docker.
Had to change the pom.xml file (line 77) to add the -XX:+StartAttachListener parameter to the maven plugin

[code]

Seems to be related to a bug in the JDK (OSX only I think). More info here http://stackoverflow.com/questions/15245319/intermittent-junit-error-java-virtual-machine-connection-refused

[2015-10-08 14:02] zonorion commented on #1352
My code:
@POST
	@Path(Constants.NEW)
	@ApiOperation(value = "Create a new warehouse", notes = "Creates a new warehouse", response = Warehouse.class)
	@ApiResponses(value = {
			@ApiResponse(code = 400, message = "Invalid Id supplied", response = Warehouse.class),
			@ApiResponse(code = 404, message = "Warehouse not found", response = Warehouse.class) })
	@ApiImplicitParams({ @ApiImplicitParam(name

[2015-10-08 14:15] zonorion commented on #1352
i don't see swagger.json here:
https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/jaxrs

[2015-10-08 15:41] wing328 commented on #1257
@cbornet the issue should be fixed in the latest master (by @fehguy). Please given it a try and let us know if you still encounter the issue.

[2015-10-08 15:45] wing328 commented on #1140
@ePaul I just performed a test but could no longer repeat the issue with the spec (no path) you provided above. Let me know if you still experience the same NPE

[2015-10-08 16:15] fehguy commented on #1357
Please share more of your spec, it doesn't look like that's valid.  I expect to see something like this:

[code]

[2015-10-08 20:37] jhitchcock opened #1363 "Example Usage / Sample Code"
Hello, I'm In the process of writing a 'Slate Docs' generator.

Does anyone have a bit of sample code for using the Obj-C Generated Library?

Or is there a resource somewhere with code samples for all libs?

Whilst I'm happy to make my own for some languages, I can't do that for all the ones I want to cover

.

[2015-10-08 20:47] jhitchcock commented on #1332
Thanks so much. Just re-build with the latest version, and it's working perfectly without my 'hack'

:)

[2015-10-08 23:46] mcory commented on #944
I second these changes. I'm looking into pretty much the same issues - we're using the maven plugin to generate a library we're going to work with in other projects. I've modified the mustache templates to accommodate things correctly, but there's still the *ApiServiceImpl and *ServiceFactory classes floating around (we're going to use Guice for injection, and inject our service impl's into the Ap

[2015-10-09 03:32] #1349 closed

[2015-10-09 07:34] #1330 closed

[2015-10-09 07:35] wing328 commented on #1330
PR merged into master. Please pull the latest to test and reopen if the issue persists.

[2015-10-09 07:35] wing328 commented on #1330
and thanks @goncaloborrega for contributing the fix.

[2015-10-09 07:42] wing328 commented on #1354
PRs merged into master. Issue closed.

[2015-10-09 07:42] #1354 closed

[2015-10-09 08:43] tabetan commented on #1357
Thanks for answering, take for example the enum definition of qasStatus.
I am not defining properties because it is not an object. Is it right?

THANK YOU

[code]

[2015-10-09 08:49] cbornet opened #1364 "[Java-retrofit] Support collectionFormat in retrofit"
[code]
Generates
[code]
Which in retrofit has the behavior of ```multi```.

[2015-10-09 09:11] cbornet commented on #1364
Quick solution : if collectionFormat is not multi, set the param as a simple String and the user will have to format the String himself (maybe with some included helper methods)
More work solution: create classes CSVParam, SSVParam, TSVParam, PipeParam that wrap a list and have the appropriate toString() method.
Any other idea ?

[2015-10-09 09:28] #1352 closed

[2015-10-09 11:12] mjgp2 opened #1365 "Global `security` is not applied to operations"
To reproduce, include in your swagger:

[code]

Generate code (python & java tested), and see that in the api methods:

[code]

instead of

[code]

Workaround is to add the security to _every_ method :-1:

[2015-10-09 11:44] dolmen commented on #1318
@webran Thanks for the clarification. The JSON schema for Swagger must be updated to match your definition to disallow `"additionalProperties": true`. I'll make a PR that add an enum.

About the codegen issue, not that codegen does not accept either an empty object.

Here is a test case that fails html generation:
[code]

[2015-10-09 12:08] dolmen commented on #1318
I wrote:

I just submitted swagger-api/swagger-spec#477

[2015-10-09 12:55] rkaltreider opened #1366 "Android not creating Enums properly"
I am unable to build the generated android code because of missing symbols.  The missing symbols are references to enums like List<InteractionTypesEnum>.  I am using codegen version 2.1.3.  I compared the java output which builds properly to the android one.  the java class has all enums defined properly and the android class is simply missing them.

[2015-10-09 13:48] rkaltreider opened #1367 "objc not generating models"
When i try to generate objc code i only get two files called FPSeedItem.h and .m.. any ideas?

[2015-10-09 15:21] wing328 commented on #1367
@rkaltreider can you share the spec so that we can reproduce the issue?

[2015-10-09 15:36] rkaltreider commented on #1366
i was able to fix this.  in the android model.mustache i added

[code]

and in the AndroidClientCodegen i added

[code]

i also added the correct imports for the above code

[code]

[2015-10-09 15:37] #1366 closed

[2015-10-09 21:27] webron commented on #1357
The definition looks good to me.

[2015-10-09 22:07] fehguy opened #1369 "document configuration for `localVariablePrefix` in java cli"

[2015-10-10 06:51] tabetan commented on #1357
Then the Java code generation doesn't work for ENUM file. Do you have an working example I can run?

th

[2015-10-10 16:33] wing328 commented on #827
@Xanadros I've implemented the support for top level `consumes` and `produces` in my repo (wing328: branch `global_consume`). If you've time, please help perform a test.

[2015-10-10 16:34] wing328 commented on #1177
@DanielChristoph I've implemented the support for top level consumes and produces in my repo (wing328: branch global_consume). If you've time, please help perform a test.

[2015-10-10 16:42] wing328 opened #1371 "Authentication setting for operations are all empty (missing)"
There seems to be an issue with the latest swagger-parser (1.0.11-SNAPSHOT) that authentication settings (`security`) for all operations are all empty (missing).

This can be confirmed by the debugOperations switch.

To workaround the issue, update pom.xml to use swagger-parser 1.0.10 for the time being

[2015-10-10 17:31] fehguy commented on #1371
I have deployed the fix to 1.0.11-SNAPSHOT, please close if you see it's fixed.

[2015-10-10 22:32] cbornet commented on #1371
Hello @fehguy I just tested a code generation and securityDefinitions are not parsed with 1.0.11-SNAPSHOT. It is OK with 1.0.10.

[2015-10-10 23:20] fehguy commented on #1371
Are you sure you got the latest snapshot?

[2015-10-10 23:31] cbornet commented on #1348
The issue is also debated in #1120 . We need to have class extension or copy but not both as it fails with gson.

[2015-10-11 02:49] wing328 commented on #1371
@fehguy I just tested with `mvn clean install -U` to force maven download the latest snapshot of swagger-parser but still found the same issue (`security` in all operation missing).

[2015-10-11 02:56] wing328 commented on #1365
@mjgp2 thanks for reporting the issue. I just submitted a PR to add support for top-level `consumes` and `produces` in the spec. I'll submit similar fix for top-level `security` later.

[2015-10-12 04:37] wing328 commented on #1371
Pulled the latest version and confirmed the issue has been resolved.

[2015-10-12 04:37] #1371 closed

[2015-10-12 07:31] cbornet opened #1374 "[Java] Support collectionFormat for formData parameters"
Currently in the Java & Android templates, collectionFormat is supported for queryParams but not for formParams.

[2015-10-12 08:58] #1301 closed

[2015-10-12 09:34] wing328 commented on #1369
@fehguy I've updated readme with the latest config option (including `localVariablePrefix`): https://github.com/swagger-api/swagger-codegen/blob/master/README.md#customizing-the-generator

[2015-10-12 09:44] wing328 commented on #1363
@jhitchcock would the test code for Petstore ObjC client help? https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/objc/SwaggerClientTests/Tests/PetApiTest.m

[2015-10-12 13:27] wing328 commented on #1170
@ahaid do you mind sharing your swagger spec with us to reproduce the issue?

[2015-10-12 14:00] ret0 commented on #944
Same issues here +1

[2015-10-12 14:36] fehguy commented on #944
The challenge is, there are many different ways to implement a jaxrs server.  The templates are created such that the code will be annotated so that it continues to be self-describing via swagger run-time introspection, and that code changes will be reflected in the description.  This includes more dependencies and a more structured source code layout.

What you're describing is a different goal f

[2015-10-13 02:51] lavadiablo commented on #1251
I have same issue and I am working on a PR.

[2015-10-13 03:04] xhh commented on #1351
I've tried it on my local and confirmed that the problem is in the "Error-OData" model in the spec:

[code]

The `properties` should contain property entries with either `type` or `$ref`, but the **error** property's structure is not as expected. Correcting it could fix the issue.

[2015-10-13 08:52] buremba opened #1381 "NullPointerException while processing body parameter"
This is the specification:
[code]

Since body parameter doesn't have type and format, it fails with the following exception:
[code]

[2015-10-13 09:56] cbornet opened #1382 "CI is broken"
Error is
[code]

[2015-10-13 10:16] wing328 commented on #1381
@buremba inline schema is not supported at the moment. Ref: https://github.com/swagger-api/swagger-codegen/issues/354

To workaround the issue, please properly define the model for the time being. Here is an example: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L45

[2015-10-13 10:20] wing328 commented on #1382
@cbornet I got the same error. Looking into the issue now.

[2015-10-13 10:20] buremba commented on #1381
@wing328 I searched for this issue but couldn't found it. Sorry for the duplication.

[2015-10-13 10:20] #1381 closed

[2015-10-13 10:35] wing328 commented on #1381
@buremba that's perfectly fine :)

Do you mind sharing with me how your swagger spec is generated?

There are plug-ins (e.g. [SpringFox](https://github.com/springfox), [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle)) that can easily generate Swagger spec right from the code. Let me know if you need more info.

[2015-10-13 10:38] wing328 commented on #1382
As a workaround, please update pom.xml to use swagger parser 1.0.10 instead to workaround the test failure for the time being.
[code]

Looks like some recent changes in swagger-parser might have broken the test. Checking further.

[2015-10-13 11:11] buremba commented on #1381
@wing328 I'm using swagger-core with custom Swagger library that is forked from swagger-jaxrs. I developed it for my RESTful library that allows creating RESTful services easily. (https://github.com/buremba/netty-rest) I appreciate the hard work you put on Swagger, swagger-editor combined with swagger-codegen are really killer features. :)

[2015-10-13 11:14] wing328 commented on #1381
@buremba thanks for sharing. Ping us if you need further assistance or have any feedback for us.

[2015-10-13 11:17] buremba commented on #1381
:+1:

[2015-10-13 12:44] wing328 commented on #1382
Filed https://github.com/swagger-api/swagger-parser/pull/110 to fix the issue

[2015-10-13 13:36] #1382 closed

[2015-10-13 14:36] wing328 commented on #1177
@DanielChristoph PR merged. Please pull the latest master and let us know if you still see issue with top-level consumes or produces.

[2015-10-13 14:37] wing328 commented on #827
@Xanadros PR merged. Please pull the latest master and let us know if you still see issue with top-level consumes or produces.

[2015-10-13 14:46] wing328 commented on #1321
@amitkshirsagar13 `produces` is mapped to `Accept` in the API client. For your server, does it have a preference to return data in XML format if "application/xml" is present (the last item) in the HTTP accept header?

[2015-10-13 14:49] wing328 commented on #1382
Confirmed the issue has gone.

[2015-10-13 16:25] amitkshirsagar13 commented on #1321
I think, the issue was they had specified {} JSON as response with application/json.

This combination is failing, so, either we need to fix the code-gen to handle the scenario and allow {} to be as return response in application/JSON.

empty response in case of application/XML some how is working.

Thanks,
Amit

[2015-10-13 16:27] wing328 commented on #1321
@amitkshirsagar13 Using [petstore.json](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L218), I created an Object without any properties (using {}) and updated getPetById to return the Object (response). Running `./bin/java-petstore.sh` and `./bin/php-petstore.sh' did not result in any exception.

[2015-10-13 16:35] amitkshirsagar13 commented on #1321
Can you use something like below,

"parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Pet object that needs to be added to the store",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        ]

Schema as below.

	  "Object" : {
		"type" : "object",
		"properties"

[2015-10-13 16:35] amitkshirsagar13 commented on #1321
If you try to use something like above it will fail while generating the Api classes.

[2015-10-13 16:36] amitkshirsagar13 commented on #1321
If you can send me email on amit.kshirsagar.13@gmail.com, I can send you sample json, which you can try to work with.

[2015-10-13 16:40] wing328 commented on #1321
I did try with the above but maybe I made a mistake in my tests. I'll do another test tomorrow.

In the meantime, do you mind pulling the latest master (git pull && mvn clean package) and give it a try again?

[2015-10-13 17:01] amitkshirsagar13 commented on #1321
Sure, I will.

[2015-10-13 22:20] buremba opened #1387 "Generating documentation for client libraries"
Even though their functions are same, each client api has different usages since each programming language has its own syntax and conventions.

Statically-typed languages such as Java has automatic api generators (javadoc) but in dynamically-typed languages users will have to look at the source code in order to use client libraries since there won't be any example of how the client library can be

[2015-10-13 23:08] Xanadros commented on #827
Sorry about not being able to test the PR. Our project has moved to higher priorities, but I'll be sure to try it out now that it was merged. Thanks!

[2015-10-14 05:44] wing328 commented on #1321
I used https://gist.githubusercontent.com/wing328/2270a0bf6b089ebb0f89/raw/340c950e60eb6cb2dac6d137b641468f2e26c762/swagger_empty_object.json but couldn't repeat the issue.

[2015-10-14 05:45] wing328 commented on #1387
@buremba thanks for the feedback. Here is a similar suggestion opened before: https://github.com/swagger-api/swagger-codegen/issues/1363

[2015-10-14 05:51] wing328 commented on #1365
@mjgp2 https://github.com/swagger-api/swagger-codegen/pull/1380 submitted by @xhh to add support for top-level security. Please do a test if you've time.

[2015-10-14 09:24] wing328 commented on #827
@Xanadros the change has been reverted as we're pending an enhancement PR for swagger-parser: https://github.com/swagger-api/swagger-parser/pull/115. I'll let you know once the PR has been merged into master again.

[2015-10-14 09:25] wing328 commented on #1177
The change has been reverted as we're pending an enhancement PR for swagger-parser: https://github.com/swagger-api/swagger-parser/pull/115. I'll let you know once the PR has been merged into master again

[2015-10-14 09:25] #990 closed

[2015-10-14 09:29] wing328 commented on #1061
@RMarinaro sorry for missing your question. To run the test locally, please run `mvn verify -Psamples`

[2015-10-14 09:29] #1061 closed

[2015-10-14 09:30] wing328 commented on #1033
Closing this as it's the same as #989 (closed)

[2015-10-14 09:30] #1033 closed

[2015-10-14 10:57] mathaiaju opened #1388 "Execption received while running the swagger-code-gen"
Steps to reproduce

1.  Run the swagger-code-gen

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i https://www.expedia.co.jp/static/mobile/swaggerui/swagger.json -l java -o samples/client/expedia

2. The json file is also attached , the expedia mobile api  is available in the above URL also

3. I receive a exception as below

[main] ERROR io.swagger.codegen.language

[2015-10-14 12:25] wing328 commented on #1388
@mathaiaju thanks for reporting the issue. I was able to repeat the issue for Java. I also tested with PHP, Ruby and C# and only C# has similar issue (NPE).

I'm checking further on what's causing the issue for Java and C# but not other languages.

[2015-10-14 13:13] wing328 commented on #1388
@mathaiaju the issue is caused by incorrect type for array, e.g.
[code]
It should be
[code]
or even better
[code]

[2015-10-14 13:14] wing328 commented on #1388
I'll also submit a PR later to produce better error message than NPE. Thanks again for reporting the issue.

[2015-10-14 13:33] fehguy commented on #1388
You can log a big for this case to the parser project and we'll provide a better error message from there

[2015-10-14 14:11] wing328 commented on #1388
@fehguy swagger-parser did throw a warning for the invalid type, e.g.
[code]
Should swagger-parser set the type to `string` as default if type is invalid? or should the exception be handled by Codegen? (Personally I prefer handling this type of issue in Codegen)

[2015-10-14 14:26] akkie opened #1390 "[PHP][CURL] The usage of the @filename API for file uploading is deprecated"
Please see:
https://wiki.php.net/rfc/curl-file-upload
http://stackoverflow.com/questions/20972513/php-curl-the-usage-of-the-filename-api-for-file-uploading-is-deprecated
http://stackoverflow.com/questions/17032990/can-anyone-give-me-an-example-for-phps-curlfile-class

[2015-10-14 14:35] amitkshirsagar13 commented on #1321
Yes, it looks like its working.

Some how it was not working before.

Not sure, where I was missing.

Sorry for false alarm and wasting time.

:'(

Thanks,
Amit

[2015-10-14 14:38] amitkshirsagar13 commented on #1321
Can you also try to see if we can work on other issue I raised,

https://github.com/swagger-api/swagger-codegen/issues/1324

[2015-10-14 14:39] wing328 commented on #1321
OK. Closing this one.

[2015-10-14 14:39] #1321 closed

[2015-10-14 14:39] wing328 commented on #1324
@amitkshirsagar13 is your goal to reserve model name for future use?

[2015-10-14 14:43] wing328 commented on #1390
@akkie thanks for the link about the use of @filename for file upload being deprecated. I'm aware of that and my intention is to support PHP v5.3. Given that PHP v5.3 (and v5.4) are no longer supported, we plan to migrate to [Guzzle](http://docs.guzzlephp.org/en/latest/overview.html), which requires v5.5 or above, as suggested by other PHP users before.

Is that something you have cycle to contrib

[2015-10-14 14:44] amitkshirsagar13 commented on #1321
Thanks.

[2015-10-14 14:44] wing328 commented on #1390
Ref: PHP Support Version - http://php.net/supported-versions.php

[2015-10-14 14:48] amitkshirsagar13 commented on #1324
No, Actually, I just want to import some special Classes in the API, like java.lang.Object, because if we have Object class created in Model, and if we are trying to refer it in our API class, by default it will be referred but In API class, Object is expected from java.lang.Object. So, it gets confused and asks to import specific Class java.lang.Object.

For this, I have written a patch which wil

[2015-10-14 16:24] wing328 commented on #1388
@fehguy I found that similar exception (invalid inner type for array/map) has been handled for Parameter: https://github.com/swagger-api/swagger-codegen/blob/638bbfaf43771c1621e72b22467e11c567841c8c/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1170

I'll add similar logic for Model's property if no concern from you.

[2015-10-14 16:59] fehguy commented on #1388
You will see a more friendly message than the output to system.out from the parser when we call `readWithInfo` rather than `read`.  I don't think, though, that the parser should make any assumptions for 2.0 specifications.  It should return the spec--even if invalid--and let the logic in the codegen do such corrections.

I think the best possible workflow would have two modes:

* strict mode (defa

[2015-10-14 18:17] akkie commented on #1390
Sorry that I cannot help here. I'm really busy with my own OS projects and I avoid it whenever possible to code in PHP.

[2015-10-14 21:20] rbhunt opened #1391 "API Factory and Impl classes are generated in incorrect folders on Windows"
When generating a JAX-RS service on Windows the factory and impl classes are written to \factories\io\swagger\api and \impl\io\swagger\api instead of \io\swagger\api\factories and io\swagger\api\impl respectively.

Here's the output from running codegen.  Looks like the use of \ as a separator in the package names could be confusing the code inserting factories and impl into the paths?

*writing f

[2015-10-15 01:00] wing328 commented on #1388
@fehguy definitely :)

[2015-10-15 01:25] wing328 commented on #1390
@akkie that's ok :)

Back to the original subject, is file upload broken for you or you just want to let us know we're using deprecated method for file upload?

[2015-10-15 02:04] wing328 commented on #1391
@rbhunt can you please pull the latest version and see if you still encounter the same issue?

[2015-10-15 02:07] wing328 commented on #1267
PR merged.

[2015-10-15 02:07] #1267 closed

[2015-10-15 02:08] #1326 closed

[2015-10-15 03:27] rbhunt commented on #1391
Yes, just cloned and built the project and encountered the same issue.

[2015-10-15 03:35] wing328 commented on #1391
@rbhunt Can you share the spec for reproducing the issue?

[2015-10-15 03:58] rbhunt commented on #1391
Sure thing, have provided a cut down sample spec that reproduces the issue here:

https://drive.google.com/file/d/0B5B0A4cdndFMNjdQbTJleGZ5Rkk/view?usp=sharing

Would have just attached it here but don't seem to have permission - I'm new to GitHub so sorry if I've missed something obvious.  Here's the command I'm using to generate:

java -jar C:/swagger-codegen/modules/swagger-codegen-cli/target/s

[2015-10-15 06:22] akkie commented on #1390
I could fix it temporary by editing the `api.mustache` file manually and use `CurlFile` instead of the deprecated @filename method. So it's not really a problem for me.

[2015-10-15 08:03] #1207 closed

[2015-10-15 12:53] cbornet commented on #1353
@wing328 Now that all java libs support android, what should be the next step : remove android codegen and document that java codegen supports android or move it to java apache-httpclient-gson ?

[2015-10-15 16:02] wing328 commented on #1391
@rbhunt I've tried to fix the issue and would need your help to test the fix (under Windows environment) as follows:
[code]
then run the command you provided to generate the code for JaxRS to see if the same issue persists.

If the fix works, I'l submit a PR.

[2015-10-15 17:36] kkrauth opened #1398 "Support library under config options for maven plugin"
Codegen process for java can be further parametrized with a library sub-template (i.e okhttp-gson). Maven plugin doesn't support this option so when "java" is specified as the target language, only the default template can be used (jersey).

[2015-10-15 19:41] rbhunt commented on #1391
Now seeing an exception:

Exception in thread "main" java.util.ServiceConfigurationError: io.swagger.codegen.CodegenConfig: Provider io.swagger.codegen.languages.JaxRSServerCodegen could not be instantiated
        at java.util.ServiceLoader.fail(Unknown Source)
        at java.util.ServiceLoader.access$100(Unknown Source)
        at java.util.ServiceLoader$LazyIterator.nextService(Unknown Source)

[2015-10-15 19:43] rbhunt commented on #1391
This looks like it might be similar to #268

[2015-10-15 23:43] jonocodes opened #1399 "Ruby client url generation has adjacent slashes"
[code]

Logs
[code]

And this is true, http://localhost:8080//service/config will 404 but
http://localhost:8080//service/config will not.

Anyway to get rid of this extra slash? I tried various values in the base_path.

[2015-10-16 03:02] wing328 commented on #1399
@jonocodes are you using the latest version of swagger-codegen (master)?

I don't see double slashes in the Petstore example. Here is part of the tcpdump result:
[code]

[2015-10-16 03:15] wing328 commented on #1399
@jonocodes I'm able to repeat the issue with different values of `base_path`. will submit a PR to address it. (Thanks for reporting the issue)

[2015-10-16 04:02] #1308 closed

[2015-10-16 04:18] wing328 commented on #1398
#1400 submitted by @testn should fix the issue and has been merged into master. Please pull the latest and see if it works for you.

[2015-10-16 04:50] #1365 closed

[2015-10-16 05:11] testn commented on #1398
when do you plan to release the version?

[2015-10-16 06:35] wing328 commented on #1398
We have not finalized a date to release v2.1.4 so please kindly pull the latest master of swagger-codegen for the time being.

[2015-10-16 07:10] ret0 commented on #944
@fehguy Thanks for considering this!

[2015-10-16 10:50] #1364 closed

[2015-10-16 11:31] wing328 commented on #1353
@cbornet thanks for the effort on that. Much appreciated.

Last time when I sunset the Python3 generator, I updated the README to inform the users that this generator won't be updated/patched any more and moving forward they should use the Python generator, which works with both Python 2.x and 3.x. Not sure how many users actually read the updated README but I suggest we also do the same this time

[2015-10-16 11:32] #1399 closed

[2015-10-16 11:32] wing328 commented on #1399
@jonocodes fix merged into master. Please pull the latest and reopen this if you're still seeing issues.

[2015-10-16 11:57] #1398 closed

[2015-10-16 11:57] wing328 commented on #1367
Closing this as we've not received any update from you.

[2015-10-16 11:57] #1367 closed

[2015-10-16 12:03] cbornet commented on #1257
Looks OK to me. Thanks.

[2015-10-16 12:03] #1257 closed

[2015-10-16 12:25] rkaltreider commented on #1367
I am sorry for not getting back sooner. I am not able to share the entire spec at this time.  Is there a particular portion that would suffice? or a known incompatibility?  I am able to successfully produce Java, .NET, PHP, Python, and Ruby.  It just seems like the objc and swift do not work because they only produce 2 files.

[2015-10-16 12:25] wing328 commented on #1367
@rkaltreider are you using the latest master of swagger-codegen?

[2015-10-16 12:27] rkaltreider commented on #1367
i am using the 2.1.3 release.

[2015-10-16 12:29] wing328 commented on #1367
Please pull the latest as 2.1.3 was released almost 2 months ago.

[2015-10-16 12:31] rkaltreider commented on #1367
Here is the batch script i use to generate objc

[code]

[2015-10-16 12:32] wing328 commented on #1367
Please pull the latest and do a `mvn clean install` for swagger-codegen

[2015-10-16 12:33] rkaltreider commented on #1367
i can certainly do that.  is it possible to schedule a release for what is currently in master, or is a release pretty far off yet?  I am cool with cutting edge, but bleeding edge might be too much for my company to handle :)

[2015-10-16 12:35] wing328 commented on #1367
Understood your concern, currently we don't have a release date for v2.1.4 but I'll get back to you on that later.

[2015-10-16 12:38] rkaltreider commented on #1367
Thanks @wing328 and again, apologies for not getting back sooner. I look forward to the next release!

[2015-10-16 14:30] kkrauth commented on #1398
Thank you!

[2015-10-16 16:37] jonocodes opened #1407 "Ruby client: Cant get HTTP basic auth to work"
In the python client I am able to do something like the following
[code]

In the Ruby client, I have not been able to figure out how to do this. I have tried several things, but perhaps this feature is not implemented. I dont see a way to pass in headers or get the ApiClient to regard the Basic auth params I have provided.

It looks like each api can accept opts buy they dont get used.

I have tri

[2015-10-16 16:37] cbornet commented on #1353
OK. I just discovered that there are some things missing in the java libs to be fully compatible with android (like a Manifest file). I will fix this ASAP

[2015-10-16 16:56] wing328 commented on #1407
@jonocodes in your swagger spec, the endpoints (which required basic HTTP auth) need to have proper authentication setting (`security`) defined. Do you mind sharing your swagger spec?

You do not need to call Configuration.update_params_for_auth manually. The method for the endpoint should do it automatically. Similar to python API client, you only need to use the Configuration object to set the p

[2015-10-16 16:57] cbornet commented on #1353
There is also an issue with javax annotations Generated which is not part of Android by default

[2015-10-16 17:26] jonocodes commented on #1407
Hello.

Yes, I am using the latest master.

My Ruby code looks something like this
[code]

I have been using HTTP basic auth and have it working in swagger-ui.

My swagger spec output does not show anything about security. I am using Jersey (swagger-jersey2-jaxrs_2.10) and didnt know I needed to tell swagger about the security for this. I'm not sure how to expose that to swagger, but I will look s

[2015-10-16 19:14] xiwenc commented on #1054
Perhaps related to: https://github.com/swagger-api/swagger-parser/pull/117

[2015-10-16 20:47] mcory commented on #944
For the record - and as a workaround for anyone else with the same desires - we're working with a multi-module project (that's by choice outside of swagger usage). We have the swagger resources in one module as a resource module using the assembly plugin, and two additional modules that use it as a dependency, unzip the resource, generate the code, and generate their jars by excluding the stuff th

[2015-10-17 01:23] fehguy commented on #1165
Will be resolved when https://github.com/swagger-api/swagger-codegen/commit/9508579eed1346f728b395e047b06e9a323bea81 is merged to master

[2015-10-17 01:23] fehguy commented on #354
Will be resolved when https://github.com/swagger-api/swagger-codegen/commit/9508579eed1346f728b395e047b06e9a323bea81 is merged to master

[2015-10-17 01:24] fehguy commented on #819
Will be resolved when https://github.com/swagger-api/swagger-codegen/commit/9508579eed1346f728b395e047b06e9a323bea81 is merged to master

[2015-10-17 03:33] wing328 commented on #1407
Your swagger spec should contain something similar to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L245

and these should correspond to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L811

In the generated code, you can see the security setting at http

[2015-10-17 03:47] wing328 commented on #1407
There was a recently resolved issue related to HTTP basic auth setting: https://github.com/swagger-api/swagger-parser/pull/117

Please pull the latest (mvn clean install -U) and give it a try again.

[2015-10-17 09:41] #827 closed

[2015-10-17 09:45] wing328 commented on #1177
PR merged

[2015-10-17 09:45] #1177 closed

[2015-10-17 09:46] wing328 commented on #827
@Xanadros the swagger-parser PR has been merged and we've made the change to support top-level consumes and produces in swagger-codegen.

[2015-10-17 13:34] Xanadros commented on #827
@wing328 awesome, glad to hear it!

[2015-10-18 00:24] jonocodes commented on #1407
Thanks. I have almost got the 'security' key to work. I have it showing for my '@ApiOperation' annotation, but have not figured out how to get it to work for '@Api'. Also, I have not found any samples that explain how I can specify http basic auth.

But I do have a side question. If I want to include something in every request header from the Ruby client, how do I do it? I dont seem to see a way o

[2015-10-18 07:49] wing328 commented on #1407
What about setting `default_headers` in api_client.rb: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/lib/petstore/api_client.rb#L16 ? would that meet your requirement?

[2015-10-18 08:45] wing328 commented on #1324
I think one way to meet your requirement is to clone this repo and add the class you want to import manually in the mustache template here: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/Java

[2015-10-18 16:20] jonocodes commented on #1407
Thanks, that worked. For those who are looking, here is how I did it:
[code]

I will work on getting the annotations to appear.

[2015-10-18 18:39] jhitchcock commented on #1387
I'm working on generating Slate documentation. Will PR once I am done. Not sure how long it will be though!

[2015-10-18 19:36] jhitchcock commented on #1363
Thanks for that @wing328 It's a good starter! Never even thought of looking at the tests ;)

[2015-10-18 19:36] #1363 closed

[2015-10-18 19:58] buremba commented on #1387
@jhitchcock I started a separate project that generates Slate markdown from Swagger specification. It's still far from being mature but may be helpful for you. https://github.com/buremba/swagger-slate

Currently, it uses custom template files and have `swagger-codegen` dependency in order to generate example usage section of Slate for different languages.

[2015-10-18 23:20] mach-kernel commented on #1170
I found another way to make it die.

A path definition such as this one will cause it to `500`:
[code]

Removing the `data` property from the object, or the `format: file` descriptor will fix the issue.

[2015-10-18 23:25] fehguy commented on #1170
[code]

Doesn't make any sense.  Take a look at the spec for supported types.

[2015-10-19 03:35] #1407 closed

[2015-10-19 06:40] wing328 commented on #1407
@jonocodes FYI. You should not need to manually add the "Authorization" header if the authentication setting (HTTP basic) for endpoints are probably defined.

[2015-10-19 09:00] Panthro commented on #465
Any news on that guys?

I use swagger for all my apis, but like retrofit better for the client side.

It would be awesome to be able to generate the client automagically!

[2015-10-19 09:14] wing328 commented on #465
The latest Java API client supports different HTTP client including Retrofit. To use Retrofit, please create a config.json file as follows:
[code]
and pass config.json via -c in the command line

You can run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java` for more information on customizing the Java API client.

Would that meet your requirement?

[2015-10-19 09:56] wing328 commented on #963
@galagar closing this issue as we've not heard any update from. There has been a lot of improvements to Swagger-Parser and Swagger-Codegen so please pull the latest swagger-codegen to see if you still encounter the same issue.

[2015-10-19 09:56] #963 closed

[2015-10-19 10:05] wing328 commented on #1204
@amitbansal012 I ran compile.bat in the Petstore example and didn't encounter the issue you mentioned above. Looking at the error message, it complained about invalid characters in the code. Did you find the invalid characters in those lines?

[2015-10-19 11:18] wing328 commented on #1391
Updated the branch `jaxrs_fix_path_separator`. Can you please give it another try?

[2015-10-19 15:52] jonocodes commented on #1407
Yes. I am doing this as a workaround until I can get jersey swagger to generate the right security annotations for my service.

[2015-10-19 21:24] rbhunt commented on #1391
I've retested but we're back to the original issue - incorrect paths are being generated.  Now that I know the class in question is JaxRSServerCodegen I'll try to find some time in the next few days to poke around and take a look - probably easier than you trying to guess how it will behave on Windows.

[2015-10-20 02:20] fehguy opened #1413 "java client should ignore null fields by default"
From https://groups.google.com/forum/#!topic/swagger-swaggersocket/EnEURydhPZA, we may want to disable serializing null values in the JSON.java.

[2015-10-20 06:58] wing328 commented on #1240
@DariusMR @inska please give it another try as the latest version of Swagger-Codegen (master) should have fixed it.

[2015-10-20 07:21] wing328 commented on #1277
@KrzysztofMadejski the latest swagger-codegen (master) no longer shows the error and generate codes with warnings. Please give it another try.

[2015-10-20 07:22] wing328 commented on #1237
@kmrgithub do you mind sharing the full spec so that we can reproduce the issue?

Also I would recommend pulling the latest master as we've addressed quite a few issues recently.

[2015-10-20 15:43] kmrgithub commented on #1237
@wing328 -
Here is my input json:
{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "BuyerFirstRS",
        "description": "BuyerFirst REST API"
    },
    "host": "a",
    "definitions": {
        "EnumTest": {
            "type": "string",
            "enum": [
                "hello",
                "goodbye"
            ]
        }
    }

Here is my swagger-co

[2015-10-20 23:42] fehguy commented on #1413
@wing328 i'm inclined to do this, any concerns?

[2015-10-21 02:02] wing328 commented on #1413
@fehguy no concern from me. Ruby, PHP, Python, etc are already behaving this way (skip null value). We missed the implementation for Java templates and will submit a PR to change the behaviour to skip null value. Sorry.

[2015-10-21 02:07] fehguy commented on #1413
No problem at all!  Thanks for the pr

[2015-10-21 03:25] LeBlaaanc opened #1415 "Host generator.swagger.io on https?"
Can we slap CloudFlare in front of this maybe and get this on HTTPS? My https editor can't generate clients. :(

[2015-10-21 04:29] fehguy commented on #1415
done

[2015-10-21 04:29] #1415 closed

[2015-10-21 04:33] #354 closed

[2015-10-21 04:33] #193 closed

[2015-10-21 10:49] #1318 closed

[2015-10-21 10:52] wing328 commented on #1346
@inska As discussed, the latest version of Swagger-Codegen works for you without the issue you reported above.

[2015-10-21 10:52] #1346 closed

[2015-10-21 10:53] wing328 commented on #1339
@raja6955 we're closing this issue since we've not received any update from you.

[2015-10-21 10:53] #1339 closed

[2015-10-21 11:00] #1413 closed

[2015-10-21 14:09] tomekc commented on #1345
You can work this around actually:
When calling `DefaultApi.yourMethod`, the return value is RequestBuilder.
In RequestBuilder you can call

`rb.addHeader(name: "Authorization", value: "Bearer \(config.accessToken)")`

I am doing this way and it works for me, however, solution for globally defined custom header would be great. Currently you can only add Basic HTTP Auth header, which - IMHO is IMHO

[2015-10-21 14:11] tomekc opened #1420 "Improve naming of generated enums in Swift"
I think it would be great, if enum values in generated Swift models would follow convention, i.e.

CapitalizedWordsInSentence

instead of whatever strings are defined in the API.
I would happily try to implement this, if only anyone point me to relevant class :)

[2015-10-21 15:04] F191919 opened #1421 "Client: Java"
If response is UserBean.class which contains for example an AddressBean.class ? How to show in Model Schema?

[2015-10-21 15:49] fehguy opened #1422 "make parameters unique in generated code"
There are scenarios where we may have duplicate parameter names in the generated code.  This should be easy to address while keeping the spec and operations as-is.

[2015-10-21 16:12] crissdev commented on #1084
Some documentation around workflow would be great. It takes a lot of time to figure out if I need to overwrite a method or append to some field. Honestly I know very few about Java, so having some sort of diagram of function calls would be great. I hope someone who sees the whole picture and has time will share that.

[2015-10-22 07:29] wing328 opened #1424 "[Swift] Unit testing for Petstore sample (community contribution)"
Similar to [ObjC Unit Testing for Petstore](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/objc/SwaggerClientTests), we also need unit testing for Swift to test the Petstore so as to ensure code changes do not break the existing functionality of the Swift API client.

Currently, we're looking for community contribution. If you need help to get started, please le

[2015-10-22 08:32] wing328 commented on #1179
@tomekc @inska I tried again but could no longer repeat the issue. I knew Tony has pushed the latest to generator.swagger.io last week or 2 weeks ago.

Please try again and let me know if you still encounter the issue.

[2015-10-22 08:48] #1251 closed

[2015-10-22 08:50] xhh commented on #1420
Hi @tomekc, here in [model.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/model.mustache#L16) you can see that `{{enum}}` is used to generate enum variable names:

[code]

And in [SwiftCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Swif

[2015-10-22 10:05] wing328 commented on #1421
@F191919 it seem to me your question is more on how to describe your Restful service in Swagger (2.0). I would suggest you to post your question [here](https://groups.google.com/forum/#!forum/swagger-swaggersocket)

If your question is related to Swagger Codegen (code generator for API client/server), please elaborate more.

[2015-10-22 13:17] arthurMll opened #1425 "basepath option not recognized when a server-stub is generated with Jax-rs"
Hello,

I have been trying to generate a server-stub from a swagger-model that I have create following the spec 2.0 and I found a little issue. All the server stub seems to generate the code according on what I was expecting except of that in the APIs each URL does not include the basepath I specified in my model.

I don't know if this is something which it has not been implemented yet or if I und

[2015-10-22 18:05] tibbon opened #1426 "Multiple APIs in spec not recursed"
I'm attempting to use the codegen to create a Ruby gem for OpenDining.

The documentation site is at: http://docs.opendining.net/api/
The file I'm attempting to use for generation is at: http://docs.opendining.net/api/swagger/api.js

I'm running the command `./run-in-docker.sh generate  -i http://docs.opendining.net/api/swagger/api.js  -l ruby   -o samples/client/opendining/ruby ` but it doesn't a

[2015-10-22 18:12] fehguy commented on #1426
Hi @tibbon do you work with OpenDining.net?  The issue is that the swagger definition has a few issues with it.

[2015-10-22 18:15] tibbon commented on #1426
I don't, I'm just trying to consume the API in a quick and easy way.

I'm in touch with them however, and if I can give specific requests to them... they might do it. (Should i have them regen it using Swagger 2.0? etc). What is the main problem that it has, and what likely caused it?

[2015-10-23 01:44] inska commented on #1179
seems working for me. Thanks.

[2015-10-23 02:09] wing328 commented on #1179
Thanks for the confirmation. Closing the issue.

[2015-10-23 02:09] #1179 closed

[2015-10-23 02:27] nbruno opened #1429 "Java child enum reconciliation causes hasMore corruption"
See [this spec](https://gist.github.com/nbruno/82c3a50381b4ebcc53de) where I declare two models, a Parent and a Child.

During Java code generation, enum definitions are removed from the Child vars, but when a removal occurs, the `hasMore` attribute is not properly updated, which in the above case causes it to be incorrect.

Currently, with the `debugModels` switch, this is the output for Child:
[

[2015-10-23 15:08] #1429 closed

[2015-10-23 22:46] fabiankessler commented on #1253
To my the generated code work, all I had to do is add these annotations on the base type:

@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "type")
@JsonSubTypes({@JsonSubTypes.Type(value = MySubClassOne.class, name = "MySubClassOne")})

My discriminator field is called "type".

And of course the instance must then have the "type" field set to "MySubClassOne

[2015-10-24 19:40] fabiankessler opened #1435 "Generated Java client API not thread safe"
The codegen generates a DefaultApi class and an ApiClient class.
Both classes have zero Javadoc.

Intuitively, I would assume that an API is a thread safe service API. That's not the case here.
DefaultApi looks fine, but it uses the ApiClient which a) is mutable and b) stores state in class fields, for example the responseHeaders.

Either document how it's supposed to be used, and that it's not th

[2015-10-24 22:11] tomekc commented on #1420
I just submitted PR #1436.

By the way, SwiftCodegen has two-space indents unlike everything else. Maybe reformat it some time?

[2015-10-25 02:49] wing328 commented on #1435
@fabiankessler thanks for the feedback.

To ensure thread-safety, please create an instance of ApiClient per thread and let us know if you still experience any thread-safety issue.

Agreed with you that the documentation can be improved and we'll work on that.

[2015-10-25 03:31] wing328 commented on #1420
@tomekc thanks for the PR and I agree with you that we should reformat it later.

[2015-10-25 04:05] wing328 commented on #1425
@arthurMll thanks for reporting the issue. I cannot find the use of `basePath` in jaxrs templates so your finding is likely correct.

Using [Petstore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L17) as an example, the sample code for Jax-RS can be found at `samples/server/petstore/jaxrs` and `mvn jetty:run` will start the

[2015-10-25 09:52] #960 closed

[2015-10-25 10:33] wing328 commented on #1212
PR merged

[2015-10-25 10:33] #1212 closed

[2015-10-25 10:39] #939 closed

[2015-10-25 10:40] #682 closed

[2015-10-25 23:32] fehguy commented on #1277
closing as no activity, please reopen if you have a problem

[2015-10-25 23:32] #1277 closed

[2015-10-25 23:32] fehguy commented on #1240
Please reopen if you're still seeing this issue.

[2015-10-25 23:32] #1240 closed

[2015-10-25 23:36] fehguy commented on #1237
Hi, two things.  First, you're missing paths, which is technically not a valid swagger.  Next, your model definition is missing the `properties` path.  If you update it like such:

[code]

It generates the model as you would expect.

[2015-10-25 23:36] #1237 closed

[2015-10-25 23:38] fehguy commented on #443
So to be clear, this issue is really about the generated code not _enforcing_ the required parameter, not declaring it incorrectly in the swagger.json.  It's of course possible to do, but I suggest that's taken into your own templates, as the server generation isn't necessarily doing all validations for you.  Please reopen if you disagree or need more advice on this.

[2015-10-25 23:38] #443 closed

[2015-10-25 23:39] fehguy commented on #465
Please reopen if you need help on this.  It's now supported as an option when generating java clients.

[2015-10-25 23:39] #465 closed

[2015-10-25 23:40] fehguy commented on #476
Closing as covered in master.

[2015-10-25 23:40] #476 closed

[2015-10-25 23:44] fehguy commented on #537
So it looks like we're going to be moving the templates and samples into a different repo in 2.2.0.  Tagging this issue appropriately.

[2015-10-25 23:46] fehguy commented on #647
Is this still an issue?  Please reopen if so.

[2015-10-25 23:46] #647 closed

[2015-10-25 23:47] fehguy commented on #643
OK for now, you can't supply arbitrary files to the generation command.  They have to be mapped via code.  We'll add support for another mechanism to do so but for now, it's simply not possible and not a defect.  Please open a new ticket if you have suggestions on the syntax or behavior and it can be considered for the next release.

[2015-10-25 23:47] #643 closed

[2015-10-25 23:49] fehguy commented on #667
This was a transient issue with swagger-node.  Please reopen if you're still having issues.

[2015-10-25 23:49] #667 closed

[2015-10-25 23:50] fehguy commented on #725
The generated swagger file should represent what you used directly.  Please reopen if you still see an issue with this.

[2015-10-25 23:50] #725 closed

[2015-10-25 23:50] fehguy commented on #729
Please reopen if you're still having an issue with this.

[2015-10-25 23:50] #729 closed

[2015-10-25 23:51] fehguy commented on #742
Supported in swagger-parser, which means it's supported in codegen.

[2015-10-25 23:51] #742 closed

[2015-10-25 23:51] #781 closed

[2015-10-25 23:52] fehguy commented on #786
@wing328  can we close this?  I believe we've covered this need.

[2015-10-25 23:53] fehguy commented on #789
OK this is something that *could* be enforced at the client side.  Most any server implementation would reject changes in read-only properties.  I'd be happy to merge a PR, so please reopen if you have any questions.

[2015-10-25 23:53] #789 closed

[2015-10-25 23:54] fehguy commented on #819
Nested items are supported now.  Please reopen if you have any questions.

[2015-10-25 23:54] #819 closed

[2015-10-25 23:55] fehguy commented on #457
Closing as not active.

[2015-10-25 23:55] #457 closed

[2015-10-25 23:55] fehguy commented on #824
The maven plugin has been added to the project, please see https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen-maven-plugin

[2015-10-25 23:55] #824 closed

[2015-10-25 23:57] fehguy commented on #876
no idea what it does, but i enabled it!

[2015-10-25 23:57] #876 closed

[2015-10-25 23:58] fehguy commented on #904
This has been addressed in 2.1.2

[2015-10-25 23:58] #904 closed

[2015-10-25 23:59] fehguy commented on #905
@wing328 is this something that's not supported in the config file reader?  I belive it should be.

[2015-10-26 00:00] fehguy commented on #906
The swagger-parser now has fallbacks for malformed types.  Please give master a try.

[2015-10-26 00:00] #906 closed

[2015-10-26 00:00] fehguy commented on #909
Parser now has fallbacks for unexpected formats, which will address this.  Please retry with master of codegen.

[2015-10-26 00:00] #909 closed

[2015-10-26 00:02] #925 closed

[2015-10-26 00:03] fehguy commented on #948
please reopen if you're still having troubles.

[2015-10-26 00:04] fehguy commented on #972
Please reopen if you're still having an issue @danny-cassidy

[2015-10-26 00:04] #972 closed

[2015-10-26 00:04] fehguy commented on #951
Merged into master

[2015-10-26 00:04] #951 closed

[2015-10-26 00:05] fehguy commented on #993
This should be handled now, please reopen if not.

[2015-10-26 00:05] #993 closed

[2015-10-26 00:05] fehguy commented on #1034
I'm not seeing this now--please reopen if still an issue.

[2015-10-26 00:05] #1034 closed

[2015-10-26 00:07] fehguy commented on #1134
Please open a PR for the templates, or suggest how the GSON decoder should handle the dates in a more lenient fashion.

[2015-10-26 00:07] #1134 closed

[2015-10-26 00:09] fehguy commented on #1140
Please reopen if you're still having an issue.

[2015-10-26 00:09] #1140 closed

[2015-10-26 00:09] fehguy commented on #1165
Inline schemas are now supported, please reopen if you're still having issues.

[2015-10-26 00:09] #1165 closed

[2015-10-26 00:09] fehguy commented on #1166
Fallbacks are now supported, please reopen if you're still having issues.

[2015-10-26 00:09] #1166 closed

[2015-10-26 00:11] fehguy commented on #1170
The inline objects are now supported.  Please retry, and reopen this if you have an issue.

[2015-10-26 00:11] #1170 closed

[2015-10-26 00:11] fehguy commented on #1173
now supported in codegen.

[2015-10-26 00:11] #1173 closed

[2015-10-26 00:12] fehguy commented on #1186
closing as not active.

[2015-10-26 00:12] #1186 closed

[2015-10-26 00:13] fehguy commented on #1193
Hi, you must be experiencing some network issue.  The UnknownHostErrors are valid, but not (I think) caused by codegen.  Please reopen if you need more help.

[2015-10-26 00:13] #1193 closed

[2015-10-26 00:14] fehguy commented on #1224
Assuming the PR was submitted and merged.  Please reopen if not.

[2015-10-26 00:14] #1224 closed

[2015-10-26 00:17] fehguy commented on #1241
Please try updating to swagger spec 2.0, which has much better support for this.  You would use the syntax like such:

[code]

as swagger-spec 1.2 is over a year old, we are focusing on the 2.0 support.  Please reopen with any questions.

[2015-10-26 00:17] #1241 closed

[2015-10-26 00:17] fehguy commented on #1249
The maven plugin does this by default, and you can override it as you see fit.

[2015-10-26 00:17] #1249 closed

[2015-10-26 00:18] fehguy commented on #1324
I do believe there is a default section for each language, which lets you configure which classes are automatically added by the language/framework.  Please take a look there and reopen with any questions.

[2015-10-26 00:18] #1324 closed

[2015-10-26 00:19] fehguy commented on #1344
I believe we fall back to string in the codegen if the inner type is not specified.

[2015-10-26 00:19] #1344 closed

[2015-10-26 00:20] fehguy commented on #1347
This can be tricky.  When parameters are passed and mapped directly to enums, any name mismatching will cause big issues on the server side, typically things that you would need to handle on your own unless you're using some Jackson features for deserializing into enum properties

It is valid to expect, and probably worth keeping open and implementing, but it can have some negative side effects.

[2015-10-26 00:21] fehguy commented on #1351
If you have other questions, please reopen.

[2015-10-26 00:21] #1351 closed

[2015-10-26 01:56] fehguy commented on #1426
Great-- @tibbon to move forward quickly on this, I suggest pulling down the files into a directory and make local changes to the files.  It's pretty fast to do so.

[2015-10-26 01:59] fehguy commented on #1325
Builds fine against current master, which will be deployed to the online generator tonight.

[2015-10-26 01:59] #1325 closed

[2015-10-26 02:00] fehguy commented on #1421
Please reopen with any questions

[2015-10-26 02:00] #1421 closed

[2015-10-26 02:01] #1369 closed

[2015-10-26 07:56] arthurMll commented on #1425
Hi @fehguy , thanks for replying. I am not so expert on the code-generator engine you have developed here, but what I did, in order to hot-fixing this issue in my already generated code, has been to directly add the basepath in the father path annotation of every API class, so in the pet store example would be to add:

@Path("/v2/pet")

[2015-10-26 08:00] #1425 closed

[2015-10-26 09:34] Panthro commented on #465
I just generated a cli based using the following command:

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar  generate -i http://localhost:8080/v2/api-docs -l java -o myapi/client/java --library retrofit

It all went well and seemed to work, I explored the code and liked what I saw, with Oauth authentication flow and everything  in place, but when I tried a `mvn package` this ha

[2015-10-26 10:02] wing328 commented on #1425
@arthurMll thanks for sharing the fix. I've filed #1439 to fix it in master. Test result looks good.

[2015-10-26 10:09] c-knowles commented on #1249
Ah, has that changed then in a recent release? The latest version at the date of the report, which was 2.1.3, generated the pom.xml for the client code project and put the generated source under src not target.

[2015-10-26 10:35] arnested commented on #1166
I missed your request for feedback from some time ago.

I can confirm now that it works as expected for me.

Thank you.

[2015-10-26 11:19] wing328 commented on #1166
@arnested np. thanks for the confirmation.

[2015-10-26 13:12] arnested commented on #972
I made an attempt at implementing inheritance in the PHP client model code: #1440. It also includes a pointer to some initial work on introducing polymorphism in the PHP client api part.

[2015-10-26 14:28] bedag-moo commented on #1241
We can not easily switch to Swagger 2.0, because our spec is generated by [swagger-jaxrs-doclet](https://github.com/teamcarma/swagger-jaxrs-doclet), which [does not yet support Swagger 2.0](https://github.com/teamcarma/swagger-jaxrs-doclet/issues/29).

[2015-10-26 15:14] wing328 commented on #465
@Panthro I could repeat the issue. Let me look into it and get back to you.

[2015-10-26 22:09] arnested commented on #1030
I submitted a pull request for inclusion of swagger-codegen in Homebrew: https://github.com/Homebrew/homebrew/pull/45360.

[2015-10-26 23:07] fabiankessler commented on #1435
The generated ApiClient uses a com.sun.jersey.api.client.Client and that says in the Javadoc:

You're right, with the current code of the generated ApiClient it's best to create (and keep) one per Thread. One for all is not safe. One per use is terribly slow (because the Client underneath gets thrown away).

For my use case, where I stick the ApiClient into a singleton service, I have refactored t

[2015-10-26 23:46] fehguy commented on #1249
Hmm I think it was the case in 2.1.3.  But as of yesterday, we now have 2.1.4, which may have introduced that as the default location.  See [here](https://github.com/swagger-api/swagger-codegen/releases/tag/v2.1.4) for more details on the release.

[2015-10-27 01:01] F191919 opened #1443 "java client"
I'm trying to use Swagger to describe web-api I'm building. The problem is that I can't understand how to describe complex json object?

For example, how to describe this objects:

{
  name: "Jhon",
  address: [
    {
      type: "home",
      line1: "1st street"
    },
    {
       type: "office",
       line1: "2nd street"
    }
  ]
}

[2015-10-27 01:38] wing328 commented on #1443
Are you using https://github.com/domaindrivendev/Swashbuckle ?

[2015-10-27 01:46] wing328 commented on #1030
Thank you @arnested :beer:

[2015-10-27 01:53] wing328 commented on #786
Yes, most clients are using the standardised naming, exception, etc

[2015-10-27 01:53] #786 closed

[2015-10-27 02:04] wing328 commented on #905
It's fixed by #1017. Confirmed below:
[code]

[2015-10-27 02:04] #905 closed

[2015-10-27 03:41] wing328 commented on #1443
You can refer to the Pet object in Petstore as an example: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L876

[2015-10-27 03:41] #1443 closed

[2015-10-27 06:27] wing328 commented on #465
@Panthro the issue has been addressed by @xhh via #1444

Please pull the latest master and give it another try.

[2015-10-27 06:41] wing328 commented on #1435
@fabiankessler besides jersey 1.x, you can also use other Java HTTP library (e.g. Jersey 2.x, okhttp) in the Java API client. Please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java` for more information.

[2015-10-27 09:35] Sweterings opened #1445 "Typescript-angular model parameter names are incorrectly created"
I have a swagger.json file that is generated from my API, which returns JSON objects with the parameter names in snake_case. In the swagger.json file, these names are correctly displayed as parameter_name, but when I run the generator, the parameters in the models are suddenly in camelCase, being parameterName. This causes my project to stop working, as the objects that are returned from the API c

[2015-10-27 09:38] wing328 commented on #1445
@Sweterings it's known issue: https://github.com/swagger-api/swagger-codegen/issues/1341

It would be great if you can help contribute a fix using attribute mapping.

[2015-10-27 09:47] wing328 commented on #1445
@Sweterings if you're familiar with other languages (e.g. python, ruby, php) we can point to the source code on how these languages address the issue using attribute mapping.

[2015-10-27 09:57] Sweterings commented on #1445
Well, I have a quick and dirty fix right now. I created a new class, made it extend the AbstractTypeScriptClientCodegen class, and overrode the toVarName method.

    public class TypescriptSnakeCaseConfig extends AbstractTypeScriptClientCodegen {

	@Override
	public String getName() {
		return "typescript-angular";
	}

	public String getHelp() {
		return "Generates a TypeScript AngurlarJS client

[2015-10-27 10:05] wing328 commented on #1445
@Sweterings yes, that's one way to fix it :)
If later you're working on the fix and you need any help from the community, please let us know.

We'll close this issue and use another for tracking.

[2015-10-27 10:05] #1445 closed

[2015-10-27 14:43] Panthro commented on #465
So, I tried.

[![asciicast](https://asciinema.org/a/7fg7pmo3lvjnyp7fn32y7jk8j.png)](https://asciinema.org/a/7fg7pmo3lvjnyp7fn32y7jk8j)

[2015-10-27 14:50] SalehAly opened #1448 "JAX-RS default definition value"
I am trying  to set the default value for  the definitions properties, but its not working when generating JAX-RS, works for integer when i specify the format but tried it for strings and boolean it does not work.. any ideas?
Example JSON:
`

  "definitions": {

     "Permission": {
         "properties": {
             "read": {
                 "type": "boolean",
                 "default": fals

[2015-10-27 14:59] wing328 commented on #465
@Panthro do you mind sharing the spec with us (privately via my personal email address or publicly) so that we can use it to reproduce the issue?

[2015-10-27 15:12] Panthro commented on #465
shared with you by email.

[2015-10-27 15:20] wing328 commented on #1448
@SalehAly thanks for reporting the issue. Can you help confirm you're using the latest version (2.1.4), which was released 2 days ago?

[2015-10-27 15:31] SalehAly commented on #1448
@wing328 yes first tried with 2.1.3 didnt work then it i tried 2.1.4 didnt work neither.

[2015-10-27 15:37] iambnz opened #1449 "create JaxRS java files using config options"
Right, now, JaxRS codegen ignores the config options, ie:
* apiPackage
* modelPackage

Reason is stated here:
https://groups.google.com/forum/#!searchin/swagger-swaggersocket/codegen$20config/swagger-swaggersocket/QevO5BPyflY/syyDzFRHDQAJ

Relevant piece of code, copied from Google group:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/co

[2015-10-27 15:40] wing328 commented on #1448
@SalehAly Ok. I'll take a look.

[2015-10-27 18:43] fabiankessler commented on #1435
The generated code for Jersey2 creates a new Client on every call to invokeAPI(). See https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/jersey2/src/main/java/io/swagger/client/ApiClient.java

Also, the Client is never closed.

The implementation is org.glassfish.jersey.client.JerseyClient. The interface is javax.ws.rs.client.Client (2.0) and says:

Why is this

[2015-10-27 18:45] fabiankessler commented on #1435
Thanks for the hint on Jersey 2. I was not aware of that. It would be really cool if the editor at http://editor.swagger.io/ could do that. If it would bring up a window with options.
The existing is cool already, but unfortunately it hides all the additional coolness.

[2015-10-27 21:45] paralin commented on #1422
I'm running into this issue with the kubernetes API: https://github.com/kubernetes/kubernetes/issues/16387

Causes this:

[code]

Is there any fix?

[2015-10-27 23:03] brhou opened #1453 "Security, Consumes, and Produces do not respect global declarations"
Generated endpoints ignore the globally declared definitions of Security, Consumes, and Produces even when none are declared on the Operation Object.

The swagger spec appears to say that individual endpoint Operation Objects can override the global definition by declaring empty objects. My spec doesn't include the key for Security, Consumes, or Produces and codegen doesn't look to the global obje

[2015-10-28 00:13] fehguy opened #1454 "map string-formatted numbers to `number`"
For client generation, it's often preferable to use strings to avoid precision loss with numbers across programming languages.  To support this, the following string format is introduced:

[code]

The different languages can choose to treat this appropriately, but for Java, we should expect this to be represented as `BigDecimal`.

[2015-10-28 03:01] wing328 commented on #1453
@brhou are you using the latest version 2.1.4 ?

[2015-10-28 03:19] wing328 commented on #1422
@paralin in the example you provided. do you expect codegen to intelligently rename the second `path` variable to `path2` or something else?

One obvious fix is of course the API owner renames `path` to something else to make the parameter name unique in that operation.

[2015-10-28 03:52] paralin commented on #1422
@wing328 Unless it's not allowed in Swagger, I'd expect it to work, yes.

I've asked the Kubernetes devs to rename that variable.

[2015-10-28 05:44] brhou commented on #1453
Yup, it doesn't work on both master and v2.1.4.

[2015-10-28 06:28] wing328 commented on #1435
@fabiankessler thanks for the feedback. We'll update the Jersey2 API client with your suggestion above - creating just one and re-using it.

[2015-10-28 08:37] wing328 commented on #1453
@brhou I couldn't repeat the issue. I tested with `modules/swagger-codegen/src/test/resources/2_0/petstore.json` by adding `application/pdf` and `application/msword` to top level consumes and produces respectively. Then I removed `produces` in getPetById (since all operations have produces defined) and generated the PHP SDK. I could find `application/pdf` and `application/msword` in the PHP SDK so

[2015-10-28 08:44] wing328 commented on #1084
@kfedorov91 @crissdev I submitted https://github.com/swagger-api/swagger-codegen/pull/1438 (merged into master) to improve the documentation a bit. Will try to document more when time permits.

[2015-10-28 10:14] wing328 commented on #1449
@iambnz thanks for reporting the issue. We would welcome PR to address the issue.

[2015-10-28 10:17] wing328 commented on #1422
[DefaultCodegen.java#L1223 ](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1223) is a good starting point to make parameter unique.

If anyone in the community has cycle to implement the feature/fix, please reply to avoid duplicated efforts.

[2015-10-28 10:18] wing328 commented on #1420
PR merged

[2015-10-28 10:18] #1420 closed

[2015-10-28 12:17] tomekc commented on #1345
I updated Swift template so you can add custom headers to dictionary defined in  {{name}}API class.
I works for me (my app's backend need custom authentication header) so I think I will submit a PR.

[2015-10-28 13:44] crissdev commented on #1084
@wing328 Thanks.

[2015-10-28 14:36] aersamkull opened #1460 "TypeScript and Authentication"
Hi
We use the TypeScript Angular Code Gen and oAuth2 for Authentication. We should therefore be able to set the Authorization header globally. I think this is not currently possible and should be very straightforward to implement.

Any thoughts?

[2015-10-28 14:57] aersamkull commented on #1460
Similar to https://github.com/swagger-api/swagger-codegen/issues/1345

[2015-10-28 15:13] brhou commented on #1453
Ah forgot to mention that this was tested with the Ruby code generation path! Could you see if you could reproduce the behavior I'm seeing with Ruby?

[2015-10-28 19:04] Cooker-Monster commented on #725
The generated code is now correct !
Thx a lot for this well done job.

[2015-10-28 21:19] baverbud opened #1461 "qt5cpp codegen assigns values to double/float points in init"
When using the qt5cpp codegen target doubles and floats are specified in the generated class definitions as pointers.

In the ::init method though, floating point literals are assigned to the pointers. This can't be compiled.

Either doubles/floats shouldn't be pointers, or ::init should handle allocation/set to NULL.

Example:

SWGMyModel.h:
[code]
SWGMyModel.cpp:
[code]

swagger yaml:
[code]

[2015-10-28 23:48] jonocodes opened #1462 "Capture spec version in client"
It would be beneficial if there was a way to make sure a generated client is restricted to a server version.

Even if there is no restriction, I would like a way to capture the version of the spec that the client was generated against.

[2015-10-29 00:41] wing328 commented on #1461
@baverbud thanks for reporting the issue. I'm able to repeat it.

Do you have cycle to submit a PR to fix the issue?

I would try fixing the issue by updating `languageSpecificPrimitives` to include float and double in the Qt5Cpp generator: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L96

[2015-10-29 00:43] wing328 commented on #1462
For capturing the version of the spec, are you looking for something like [this](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Configuration.php#L489) (Configuration object in the PHP API client)?

[2015-10-29 00:45] wing328 commented on #1460
@aersamkull do you have cycle to add that feature (add default header) to TypeScript client? Let me know if you need pointer on where to start.

[2015-10-29 02:11] #1448 closed

[2015-10-29 02:20] yewton opened #1464 "Json generated by `generate -l swagger` has duplicate path parameters"
Here are examples:

### Input
[code]

### output
[code]

As a result, every operation of `/pets` have two `path_parameter`s :frowning:

[2015-10-29 02:22] wing328 commented on #1448
PR (submitted by @xhh) merged, please try again.

[2015-10-29 02:23] wing328 commented on #1464
@yewton thanks for reporting the issue. Your goal is to convert swagger spec in JSON format to YAML, right?

[2015-10-29 02:49] yewton commented on #1464
@wing328 I want to write swagger spec in YAML by hand, and then convert it into JSON to use it with swagger-friendly tools, thank you :smiley:

[2015-10-29 02:51] wing328 commented on #1464
@yewton have you tried https://editor.swagger.io ?

[2015-10-29 03:14] yewton commented on #1464
@wing328 Yes! But I want to write it with my favorite editor,
and manage only YAML spec and generate JSON automatically(with Jenkins, for example).

I'm going to do:
Write YAML and commit it to vcs -> auto generate JSON -> generate API doc by bootprint with the generated JSON

Ah, this is not reasonable approach?

[2015-10-29 03:21] fehguy commented on #1464
it's fine to do this, but you can simply use yaml2json to do the conversion.  But indeed this is a bug, if the codegen is mixing in the `path_parameter` shared parameter, it should not be keeping it in the response.

[2015-10-29 03:42] yewton commented on #1464
I imported the generated json on swagger-editor, then the preview showed the parameter twice.
So I think this is a bug :bug:

But, my goal will be done by:

Thank you :smile:

[2015-10-29 03:45] wing328 commented on #1464
@yewton agreed that it's a bug. We'll keep this open and leverage the community to fix it as it should not be a difficult fix.

Glad to hear that yaml2json would meet your requirement.

[2015-10-29 04:08] fehguy commented on #1464
See https://github.com/swagger-api/swagger-parser/issues/126

[2015-10-29 04:21] jonocodes commented on #1462
Yes, at least that.
But perhaps in the bigger picture a way to determine if a client is compatible with a server. I'm not sure if this is possible if the server is not the one producing the spec. But if it is, perhaps there is a call that the client can make to check if it is using a version that it compatable.
Yes, this is tricky. Could come down to specifying max and min versions or perhaps the

[2015-10-29 06:41] aersamkull commented on #1460
I think I should be able to do so, maybe it will take a week, but should be doable.

[2015-10-29 06:48] wing328 commented on #1460
@aersamkull thanks in advance. Please let us know if you need any assistance. Here are the typescript (angular) generator and template:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resource

[2015-10-29 06:51] wing328 commented on #1453
Works for me. Here is the (partial) result after adding `application/pdf` in the top level `consumes`:
[code]

[2015-10-29 09:13] SalehAly commented on #1448
works now :+1:

[2015-10-29 09:41] arthurMll commented on #1425
@wing328 @fehguy  Great response guys! Thanks you very much.

[2015-10-29 13:35] SalehAly opened #1467 "JAX-RS Definition Acces Modifiers and Keywords"
Is there any way to change definitions access modifiers and add Keywords such as static and final. If there is no, is there any way to edit the swagger-codegen to achieve this result

Thanks

[2015-10-29 15:04] wing328 commented on #1467
Can you show the current output and the desired output so that we have a better idea what you would like to change?

[2015-10-29 15:11] SalehAly commented on #1467
"Test": {
"properties"{
 "property": {
          "accessModifier": "public",
           "isStatic": true,
            "isFinal": true,
             "type": "string"
            }
       }
}
public static final  String property

[2015-10-29 15:15] wing328 commented on #1467
You can customize the generator and template here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JaxRSServerCodegen.java

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/JavaJaxRS

[2015-10-29 15:44] SalehAly commented on #1467
But then I have to customize also swagger-models from swagger-core to add the properties correct?

[2015-10-29 19:03] baverbud commented on #1461
@wing328 created the pull request. There is a test failing, but it is also failing in master.

I did confirm the change fixes the pointer issue.

[2015-10-29 21:40] webron commented on #1461
Fixed in master after PR merge.

[2015-10-29 21:40] #1461 closed

[2015-10-29 23:58] bagusflyer opened #1469 "Generate server side asp.net (c#) code?"
I'm wondering if it's possible to generate server side asp.net code based on the swagger json or yaml file? Thanks.

[2015-10-30 00:06] brhou commented on #1453
I must have been using an old build. Verified that it works for me in master and v2.1.4. Closing this out.

[2015-10-30 00:06] #1453 closed

[2015-10-30 02:41] wing328 commented on #1469
@bagusflyer currently we do have server generator for C# (WebApi). Do you have cycle to help implement it based on other server generator (e.g. JAX-RS, Sinatra, PHP Silex, etc) ?

[2015-10-30 02:43] wing328 commented on #1461
@baverbud thank you for your contribution :beer:

Let us know if you've any other feedback on the C++ API client.

[2015-10-30 02:46] wing328 commented on #1467
We recently added the support of vendor extension swagger-codegen: https://github.com/swagger-api/swagger-codegen/issues/1173

For more information on vendor extension, please refer to https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#vendorExtensions for more information

[2015-10-30 03:00] baverbud commented on #1461
Well, there's a couple things. I'll open new issues for them in addition to
listing here.

1. Example usage code. Qt has a bit of a learning curve if you haven't seen
it before.
2. Error handling. If the server responds with an error, the code using the
api never finds out. It simply isn't passed up, and instead an empty
response is returned. There's a msg variable in the callback functions that
l

[2015-10-30 03:32] fehguy commented on #1461
Hi @baverbud thanks for the feedback.  I'm a little confused though since this client is targeted to use Qt.  So why would you not want Qt as a library dependency?

Maybe the right answer is to use the Qt templates as a baseline for a non-Qt project.

[2015-10-30 03:49] baverbud commented on #1461
That's what I'm saying - the only cpp  client options appear to be Qt or
tizen.

A non-qt and non-tizen client would be great. I think there's an issue
already open asking for one.

On Thu, Oct 29, 2015, 8:32 PM Tony Tam <notifications@github.com> wrote:

[2015-10-30 03:53] wing328 opened #1470 "Inline models with array/map"
Inline models with array/map are not generated correctly. Here is the spec to repeat the issue:

https://gist.githubusercontent.com/wing328/359166515dae7f489ce5/raw/4c9f39efe09c0cf7220864e6476d9253bc2e6e80/petstore_inline_model.json.

For array of inline models:
[code]
The correct return type is `List<InlineResponse200>` where InlineResponse200 is the inline model created for the response.

For ma

[2015-10-30 15:38] jason-kane commented on #921
for future searchers -- I saw exactly the same error message with both the docker build and "mvn package", it was a permissions problem.  I didn't track it down, just ran it as root (sudo mvn package) and it all worked.

ubuntu wily (15.10), maven 3.3.3-3 installed from ubuntu, oracle java 7 installed via webupd8team/java ppa

[2015-10-30 18:02] baverbud opened #1475 "qt5cpp model arguments in DefaultAPI methods should be pointers or passed by reference."
The qt5cpp generator creates a method signature like this in SWGDefaultAPI:

    void profileRoutePost(SWGProfile_route_body body, QString* token);

In C/CPP, this will cause 'body' to be copied. There is no proper copy constructor created for the models however, so pointers are re-used instead of new members being allocated.

When profileRoutePost returns, it will destroy the new copy of body and

[2015-10-30 18:24] baverbud opened #1476 "qtcpp SWGHelper.cpp missing float/double in setValue function"
This is a follow up to issue #1461. In order to parse from JSON properly, float and double need to be handled in the setValue function in SWGHelper.cpp.

I'll create a pull request later today for this.

[2015-10-30 20:11] maneeshsahu opened #1478 "Android Codegen - Apache HTTP Client Removal"
The Android codegen uses Apache HTTP Client. Android 6 has removed support for Apache HTTP Client and recommends using HttpURLConnection instead. See: http://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client

[2015-10-31 03:05] ajainy opened #1480 "dynamic html, auto generated URLs are not case sensitive."
Example: http://snapcx.io/api/docs/index.html#!/ZipCodeLookupApi#zipInfo
Here if you click on hyper link for inline response, it tries to load http://snapcx.io/api/docs/models/inline_response_200_1.html
BUT
right URL is http://snapcx.io/api/docs/models/Inline_response_200_1.html  (I is capital of inline)

Please advise.

[2015-10-31 08:00] arnested commented on #1030
Swagger Codegen has now been added to Homebrew: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/swagger-codegen.rb

[2015-10-31 11:55] ovidiom commented on #1173
@fehguy: Do you have an example of how to use the vendor extensions in a Mustache template? I'm adding some vendor extensions to models and model properties and I saw that they are exposed in the codegen but only within the "modelJson" and "jsonSchema" attributes which are both a string representation of a JSON which I can probably not use directly in a Mustache template.

[2015-10-31 14:06] fehguy commented on #1173
You should be able to access them from 'vendorExtensions.x-your-extension' inside the template logic. Make sure you're on the latest (2.1.4) of codegen to do so

[2015-10-31 14:51] wing328 commented on #1478
@maneeshsahu the Java client can also be compatible with Android and Scala depending on what HTTP library is chosen when generating the client. Please run the following for more information on how to customize the Java API client.
[code]

If you've cycle, we would appreciate your contribution to add the support of "HttpURLConnection" in the Java API client.

[2015-10-31 15:25] arnested commented on #1390
This was fixes in #1451.

[2015-10-31 15:28] wing328 commented on #1390
Thanks @arnested :beer:

I'll open another task for updating the HTTP library to use [Guzzle](http://docs.guzzlephp.org/en/latest/)

[2015-10-31 15:29] #1390 closed

[2015-10-31 15:31] wing328 opened #1482 "[PHP] update HTTP library to use Guzzle"
We want to upgrade the HTTP library to use Guzzle, which is a very mature HTTP library with lots of features: https://github.com/guzzle/guzzle#guzzle-php-http-client

If you want to work on this and need help on where to start, please ping @wing328. Thanks!

[2015-10-31 18:39] ovidiom commented on #1173
Thanks for the rapid feedback.

I was already on the latest version but after looking at your commit, it seems like you implemented support for the vendor extensions for parameters but not for models and properties (CodegenModel and CodegenProperty). Would it be possible to extend the support to models and properties?

[2015-11-01 03:41] wing328 commented on #315
Should be resolved. Please reopen if needed.

[2015-11-01 03:41] #315 closed

[2015-11-02 02:54] wing328 commented on #1435
@fabiankessler the PR to improve Jersey2's ApiClient has been merged into master. Please pull the latest and let us know if you've further feedback.

[2015-11-02 03:05] wing328 commented on #1204
Closing this as there's no further update.

[2015-11-02 03:05] #1204 closed

[2015-11-02 08:17] wing328 commented on #1367
@rkaltreider v2.1.4 has been released. Please refer to https://github.com/swagger-api/swagger-codegen/releases/tag/v2.1.4 for more information.

[2015-11-02 09:13] aersamkull opened #1487 "TypeScript and Packages"
If I use a config file for TypeScript-Angular and I set modelPackage and apiPackage to different values, I get an error. The generated api File does no longer find the models. Maybe we should use absolut Types? Eg, `services.Bla` instead of just `Bla`?

[2015-11-02 09:15] aersamkull opened #1488 "TypeScript Angular Parameter order"
In the TypeScript Angular Mustache file, there is the following code:
[code]

Shouldn't we switch the last 2 Parameters? In my case, basePath gets set to the httpParamSerializer because of Angular.

[2015-11-02 10:18] cbornet commented on #1478
Duplicate of #1353 ?

[2015-11-02 13:36] #1460 closed

[2015-11-02 15:51] tomekc commented on #1345
Created PR #1492 - a generic solution to add any header to all requests.

[2015-11-02 20:57] crissdev commented on #1488
@aersamkull :+1: [This example](http://www.typescriptlang.org/Playground#src=class%20TypescriptAngularApi%20%7B%0D%0A%0D%0A%20%20%20%20private%20basePath%20%3D%20'%7B%7BbasePath%7D%7D'%3B%0D%0A%0D%0A%20%20%20%20%2F%2F%20Constructor%0D%0A%20%20%20%20constructor(private%20%24http%3A%20ng.IHttpService%2C%20basePath%3F%3A%20string%2C%20private%20%24httpParamSerializer%3F%3A%20(d%3A%20any)%20%3D%3E%20a

[2015-11-02 23:04] ajainy opened #1495 "Generating JAVA client. Looks like groupId and packageId is being ignored"
My config-spec looks like this
[code]

For model and api Package, it worked fine. But other client files were generated into io.swagger.client.. instead of io.snapcx.avs.client

Please advise.

[2015-11-02 23:54] fehguy commented on #1495
Please add `invokerPackage` for common files which are used by the api classes.

[2015-11-03 03:19] #1030 closed

[2015-11-03 04:18] ajainy commented on #1495
Thanks. Somehow I missed this property from docs.

[2015-11-03 04:18] #1495 closed

[2015-11-03 13:19] SalehAly opened #1500 "JAX-RS Extending an Exntended class with allof does not copy fields"
Using master.. this works on http://editor.swagger.io/#/ but not when I generate the code using
JAX-RS
* sub class is generated correctly but the child of the sub class is not. If copying is an intended feature so I think this is a bug, otherwise how can I disable copying fields ?
[code]
Output
[code]

Expected Output

[code]

[2015-11-03 14:09] baogechen commented on #1134
The correct format for iso 8601 is "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'", with which the 'Z' will be parsed 。

[2015-11-03 15:03] xhh commented on #1422
FYI, I'm going to work on this.

[2015-11-03 15:28] fehguy commented on #1422
That's great, thank you.  I do believe some uniqueness code exists in the swagger-parser for naming models, and yes, the point that @wing328 mentions is probably the right place to do it.

[2015-11-03 17:05] fehguy commented on #1500
I don't think we support multiple, nested `allOf` model schemas.

[2015-11-03 20:42] bthibault opened #1503 "PHP client Class '\Swagger\Client\Model\Object' not found"
i'm getting PHP Fatal error:  Class '\Swagger\Client\Model\Object' not found in vendors/SwaggerClient-php/lib/ObjectSerializer.php on line 211

There are nested object types in the return object and I think somehow its looking for a generic Object.

[2015-11-03 20:48] bthibault commented on #1503
on commit  7ac91ce

[2015-11-03 21:53] bthibault commented on #1503
It looks like bare json ints are getting parsed and set to type Model/Object in the php

"phone": {
    "name": "H258C",
    "features": "",
    "pk": 2127,
    "devicemcd": "3001",
    "carrierfk": 4570,
    "phonetypefk": 1
  }

devicemcd gets set to type "string"
carrierfk gets set to type "Model/Object" which doesn't exist

[2015-11-04 07:04] wing328 commented on #1503
@bthibault do you have the swagger spec that you can share with us to reproduce the issue? please also make sure you're using the latest version (master)

FYI. We already have some test cases to cover deserialization: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/tests/PetApiTest.php#L98

[2015-11-04 08:02] #1488 closed

[2015-11-04 08:03] aersamkull opened #1504 "TypeScript and Comments"
I think one could add comments to TypeScript generators. I will do a pull request if desired

[2015-11-04 13:25] mherb63 opened #1505 "Spring MVC Generated, no Content-Type in Request Header on GETs"
Downloaded Swagger Pet Store (Simple) from swagger.io editor and did a mvn jetty:run

When opening up DevTools on Chrome, I don't see the header Content-Type field being set.

This is on the GET /pets{id}

![image](https://cloud.githubusercontent.com/assets/1205814/10939155/7b2b8dbc-82cd-11e5-94fd-be6728bdb615.png)

adding --header "Content-Type: application/json" to the curl command returns no er

[2015-11-04 14:25] bthibault commented on #1503
swagger spec :

{"apiVersion":"2.0","swaggerVersion":"1.2","basePath":"/","resourcePath":"/phone","apis":[{"path":"/phone/{phoneId}","operations":[{"method":"GET","summary":"Returns a phone based on ID","notes":"","type":"PhoneMerged","nickname":"PhoneGetRoute","parameters":[{"name":"phoneId","description":"ID of phone that needs to be fetched","required":true,"type":"integer","format":"int32","pa

[2015-11-04 14:53] wing328 commented on #1503
Yes, $ref refers to "Object" which is not defined.

May I know how you obtain the Swagger spec? Using some third-party plug-ins?

[2015-11-04 14:58] bthibault commented on #1503
spray swagger plugin

 "com.gettyimages" %% "spray-swagger" % "0.5.1"

So this is through Scala / Slick / Spray the items getting defined as $ref: Object are defined by scala case classes as Option[Long]   so the Scala option is probably throwing it off.

[2015-11-04 15:01] wing328 commented on #1503
I would suggest you to report the issue to https://github.com/gettyimages/spray-swagger/issues.

Another approach is you manually update the Swagger spec with properly-defined models.

[2015-11-04 15:04] bthibault commented on #1503
Yeah I'm manually updating for now...apparently there is already an open ticket : https://github.com/gettyimages/spray-swagger/issues/31

THanks for helping me track this down.

[2015-11-04 15:04] #1503 closed

[2015-11-04 21:27] arnested commented on #1157
I just reran my minimal example and the problem appears to be gone now.

[2015-11-04 21:27] #1157 closed

[2015-11-05 03:40] #1422 closed

[2015-11-05 03:41] wing328 commented on #1422
@paralin the fix has been merged into master. Please pull the latest master and give it another try.

[2015-11-05 05:37] paralin commented on #1422
Looks great, thanks

[2015-11-05 07:05] wing328 commented on #1505
For Get request, you do not need the "Content-Type" header. The URL should start with /v2 instead of /api.

I did a curl test and the result looks ok:
[code]

[2015-11-05 11:58] mherb63 commented on #1505
Why do you say the URL should start with /v2?  This is generated code from the swagger.io editor page.  Your test doesn't prove anything.

[2015-11-05 12:56] wing328 commented on #1505
Can you try the Petstore (full) instead of Petstore (simple)? Petstore (full) works for me.

[2015-11-05 13:09] mherb63 commented on #1505
yes, petstore full does indeed work.  But, I have the same issue in my application as Petstore simple.  When I do a GET in my app, springboot throws the following:

<pre>
2015-11-05 08:07:49.508 ERROR 35129 --- [nio-8080-exec-6] c.c.sca.exception.ApiExceptionHandler    : Content type 'null' not supported
org.springframework.web.HttpMediaTypeNotSupportedException: Content type 'null' not supported

[2015-11-05 13:32] smwurster opened #1510 "C# generation missing 'using' statement for Stream"
If my swagger spec contains a property with type `file`, the code generator for C# will declare this as type `Stream`.  Unfortunately, no `using` statement gets added for `System.IO`, which leads to an error when compiling the resulting C# code.

[2015-11-05 13:33] wing328 commented on #1505
I noticed that petstore simple has defined `application/json` in top-level `consumes`, which probably explains why the server is expecting content-type `application/json` in the request.

Do you have something similar defined in top-level `consumes` in your swagger spec?

[2015-11-05 13:35] mherb63 commented on #1505
Oh, good catch.  Yes I do have that.  I will try removing it.

[2015-11-05 13:47] wing328 commented on #1505
No problem. Glad to see that your issue is now resolved.

[2015-11-05 13:47] #1505 closed