[2016-11-11 13:30] wing328 commented on #4171
@gayathrigs No one has contributed the `resteasy` lib to Java API client so far.

May I know if you've cycle to make the contribution? If yes, I can show you some good starting point.

[2016-11-11 13:32] wing328 commented on #4174
@yucer the issue should have been addressed via https://github.com/swagger-api/swagger-codegen/pull/3591

Please pull the latest master, build the JAR locally and generate Python API client to give it a try.

[2016-11-11 14:11] Isanderthul commented on #4069
So I had a similar problem, but it was at the start of my project, what I ended up doing was removing some of the dependencies, which I figured out were competing with other libraries I was using
in my file app/build.gradle
[code]

[2016-11-11 14:14] Isanderthul commented on #4069
just as an aside I think it is better to use pickfirst instead of exclude
[code]

[2016-11-11 14:20] Isanderthul commented on #4069
To check dependencies `./gradlew app:dependencies`

[2016-11-11 14:35] abhijith-prabhakar commented on #3483
Is any checkin done to fix this?  Looking to see if I can use master SNAPSHOT for this

[2016-11-11 15:05] gayathrigs commented on #4171
I will some time after next week. So yes, it will great to have some guidance to get me going.

[2016-11-11 15:48] #4169 closed

[2016-11-11 16:45] OneGeek commented on #4114
Has anyone been able to take a look at this?

[2016-11-11 17:51] jfiala commented on #4160
@DarrenC I fixed this with PR #4164 as I was already working at cxf, the enumOuterClass.mustache + reference to it in model.mustache was missing. I re-generated using the modified petstore with the external enum as you described.

You can re-generate with all CLI-flags on and get a running Spring-Boot app with swagger-ui shipped in it ready for usage.

@wing328: shall I commit the modified petstor

[2016-11-11 17:54] jfiala commented on #3859
This is fixed as of PR #4164
Identical newer issue: #4160

[2016-11-11 17:56] jfiala commented on #2615
@wing328: This has been fixed as PR #4003, I think you can close this as there is no response from @FlorentBarreau  so far?

[2016-11-11 17:57] jfiala commented on #3859
@waltwood  I fixed this with PR #4164 as I was already working at cxf, the enumOuterClass.mustache + reference to it in model.mustache was missing. I re-generated using the modified petstore with the external enum as you described.

You can re-generate with all CLI-flags on and get a running Spring-Boot app with swagger-ui shipped in it ready for usage.

[2016-11-11 17:59] jfiala commented on #3170
@yuvalishay  @sthuber90  This should be fixed as of PR #4003, the CXF server stub generator now generates the proper @Consumes/@Produces annotations, by default Json is provided.

[2016-11-11 18:01] jfiala commented on #2586
@kalkkhi Can you try this with the lastest master? If the error still occurs, please share the spec for easy reproduction.

[2016-11-11 18:04] jfiala commented on #2502
@wing328: with jaxrs-cxf we currently generate the models completely. How can we allow users to add their own adapters? I think @titiu7 currently has to create custom language templates for this?

[2016-11-11 18:10] jfiala commented on #2549
@wing328 We now have the necessary BeanValidation-annotations at the client code.

To perform validation automatically, we need to invoke the BeanValidation at the generated Api Java file and can remove the currently implemented  required-checks then.

I suggest adding a CLI option for this:
I used the CLI-option useBeanValidationFeature for CXF server, but this is somewhat CXF-specific.
I think t

[2016-11-11 18:50] damnhandy commented on #3841
I am seeing the same thing but also with Java and Spring generators. Specifically with model classes. The code generated from generator.swagger.io generates polymorphic classes when using `allOf` where code generated from the CLI do not extend any base class.  I have a schema definition like so:

[code]

The CLI will generate the following

    public class Base { ...

    public class Event { ...

[2016-11-11 19:02] damnhandy commented on #3821
@wienczny same here! I'm seeing the same differences between the CLI and generator.swagger.io. Not sure what is actually different.

[2016-11-11 19:19] damnhandy commented on #3821
Adding discriminator works with the CLI. Thanks for the tip @brentryan !

[2016-11-11 22:11] #4097 closed

[2016-11-12 13:31] jfiala commented on #714
@wing328 a purely contract first approach in the maven build currently faces the following challenges:
By default, generated classes go to target/generated-sources - there the .swagger-codegen-ignore file cannot be used.

It should be possible to only generate the interfaces/models, this would probably make sense being the default for the swagger-codegen-maven-plugin (people expect this behavior w

[2016-11-12 15:21] jfiala commented on #4088
@wing328 currently in the tests the api invocations are commented out and thus cannot be compiled.
Wouldn't it be good to activate them and run the CI maven build with -DskipTests?

[2016-11-12 22:27] jfiala commented on #2549
@wing328 added PR #4177 with implementation of client-side beanvalidation.

[2016-11-13 18:04] cbornet commented on #3948
Yes I share the pain when it comes to static classes used in our templates (try to add a custom field to a CodegenProperty and you'll see what @fehguy means) and we can't workaround that in the template itself since they are logic-less.
Then @fehguy, what do you suggest ? Going javascript (node/npm I imagine) ?
At least JS is known by everyone and I think there is already a good parser existing. W

[2016-11-14 08:59] Sunracer opened #4180 "[Java] Property name 'no' renamed to 'false' during code generation"
##### Description

I have a YAML file with a definition with property named '**no**'. When generating Java code from the YAML file, the property '**no**' is renamed to '**false**' which leads to various problems during Java compilation.

##### Swagger-codegen version

swagger-codegen-cli-2.2.1.jar

##### Swagger declaration file content or url

[code]
Generated code:
[code]
##### Command line used

[2016-11-14 09:01] Sunracer commented on #4180
Swagger-codegen generates code like this from the definition above:
[code]

[2016-11-14 09:11] beingcoder opened #4181 "Can I ask if we can add support for JSON object in HTTP header?"
I understand its kind of silly,   but sometimes it is very useful to pass complex object  for GET operation,   e.g.  JSON Web Token(JWTs)

[2016-11-14 09:18] cbornet commented on #4181
You can't really know the mime-type of an object in header so I don't think it's really doable.
You can always pass it as a string and deserialize it yourself.

[2016-11-14 09:47] beingcoder commented on #4181
We can borrow the Consumer definition of Operation,  in swagger spec file,   if we let header parameter to refer to object type,   SwaggerUI can easily show what kind of request is acceptable.   Codegen can generate code accordingly.     Currently  header param only supports String,  but we can add type definition.    When come to HTTP Content-Type(MIME),  we don't really care about it much.   Swa

[2016-11-14 09:52] cbornet commented on #4181
From [swagger-spec](http://swagger.io/specification/#headersObject):

type 	string 	Required. The type of the object. The value MUST be one of "string", "number", "integer", "boolean", or "array".

So your spec wouldn't be valid.

[2016-11-14 10:06] beingcoder commented on #4181
true,   I just hope to change that.

[2016-11-14 10:12] danyx23 commented on #4106
Hi @wing328, thanks for your reply! Sorry it took me a while to get around installing the JDK on my machine and compiling the latest version. I just checked and the behavior is still as I described - operationId contains the full controller path even if x-swagger-router-controller is set to an identical prefix.

I noticed that the new default seems to be to put every endpoint into it's own file in

[2016-11-14 10:24] greuze commented on #3841
Having same issue here, my `allOf`composition doesn't work with swagger-cogeden 2.2.1 for `typescript-node`.

@fish2016 @damnhandy Did you find any workaround?

[2016-11-14 10:34] gghez commented on #4156
hi @wing328, crappy because:
1. did you see the last screenshot? Because I added multiple tags I'm now gratified with duplicate code...
2. tags has a classification meaning it is not obvious it becomes a controller name
3. generated specs on api/ sibling folder contains my specs with `x-swagger-router-controller` defined, so why not use the one I specified myself in original swagger specs and why

[2016-11-14 10:40] ePaul commented on #3948
@cbornet I wouldn't say "JS is known by everyone". (Generally, most all-quantified assertions are wrong.)

(Maybe "Many developers which would be interested in Swagger-Codegen know enough JavaScript to understand basic stuff." could be true.)

[2016-11-14 11:26] wing328 commented on #4156
1. I saw it and I've not encountered a valid use in case in which multiple tags are needed for a single operation. I would suggest you to stick with a single tag for each operation.

2. I agree it's not obvious and we can improve the documentation here: https://github.com/swagger-api/swagger-codegen/wiki/Server-stub-generator-HOWTO#python-flask-connexion

3. If we decide to go with `tags`,  `x-swa

[2016-11-14 11:30] wing328 commented on #2502
Usually customizing the language template (mustache) is a good starting point.

If @titiu7 can contribute back the template, we can merge it back into the official template and add another CLIOption to support XML (e.g. supportXML).

[2016-11-14 11:50] greuze commented on #3841
Tried with latest code in master (2.2.2-SNAPSHOT) and works.

[2016-11-14 12:12] reinerRubin opened #4182 "[typescript-angular2] Bug generating namespace with specific types"
Bug generating namespace with specific types.

##### Description

I have swagger "ObjectPreview" type. According [this line](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java#L149) it starts with "LanguageSpecificPrimitiv" (Object). And there is not "model." prefix in generated code.

#

[2016-11-14 12:45] jfiala commented on #2502
@wing328 for jaxrs-cxf I alredy created a CLI-flag useJaxbAnnotations to support the XML-annotations (for Jaxb).

However @titiu7 is asking how to add his own custom XmlJavaTypeAdapters into the generated code. I fear he has to use his own templates for this.

[2016-11-14 12:55] cbornet commented on #3948
Lol. Yes your one is better :smile: . I could also have said: "Unfortunately, any dev has been forced to use this flawed language once in its life :smile: !"

[2016-11-14 13:13] wing328 commented on #714
@jfiala I just did a test with `./bin/jaxrs-cxf-petstore-server.sh` and the files didn't go to the folder `target/generated-sources`.

Here is part of the output:
[code]

[2016-11-14 13:17] wing328 commented on #2502
@titiu7 can you share what solution you're using at the moment to meet your specified requirement?

[2016-11-14 13:20] wing328 commented on #4160
@jfiala I would suggest updating https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml with the additional test cases instead of creating another YAML file to cover more test cases.

[2016-11-14 13:25] jfiala commented on #714
@wing328 I was talking about the swagger-codegen-maven-plugin, there the default is target/generated-sources/swagger/ if no output folder is specified.
Currently there is no way in the target-folder to reduce the generated output to interfaces/models only (as it always will get rewritten).

[2016-11-14 13:49] wing328 commented on #2615
@jfiala ok. Closing this.

[2016-11-14 13:49] #2615 closed

[2016-11-14 14:33] wing328 commented on #4182
@reinerRubin yes, please submit a PR and we'll review the fix accordingly.

cc @Vrolijkx

[2016-11-14 14:42] wing328 commented on #4181
@beingcoder you may want to provide your feedback via https://github.com/OAI/OpenAPI-Specification/issues as OpenAPI/Swagger spec 3.0 is being finalized.

[2016-11-14 14:42] #4181 closed

[2016-11-14 14:43] wing328 commented on #3821
generator.swagger.io is using the latest stable verison (2.2.1) and for CLI, I'm assuming you're building the local JAR on the latest master.

[2016-11-14 14:43] #3821 closed

[2016-11-14 14:46] wing328 commented on #4114
@OneGeek I'll try to spend some time to look into it this week. Will keep you posted.

[2016-11-14 16:37] damnhandy commented on #3841
With Java, the CLI works when I added a discriminator, which is probably the correct behavior. But for some reason, generator.swagger.io does not need a discriminator value to generate polymorphic classes. That's probably incorrect behavior.

[2016-11-14 17:03] greuze commented on #3841
I noticed that too, but in my case I don't have/need discriminator in the swagger file (that is maintained by a different team), I don't know if it is required.

With latest code in master, the behavior is the expected one, with or without discriminator, it works (just like editor.swagger.io), maybe any swagger member can clarify us.

[2016-11-14 18:11] reinerRubin commented on #4182
@wing328, I am going to submit pr at next weekend. Is it ok?

[2016-11-14 20:29] karussell opened #4184 "Minor fix to python client example code"
##### Description

A minor change of the example code seems to be necessary accoding to [this PR](https://github.com/graphhopper/directions-api-clients-route-optimization/pull/9)

##### Swagger-codegen version

The master from ~[17. October](https://github.com/swagger-api/swagger-codegen/issues/3846#issuecomment-254484220)

##### Suggest a Fix

See again the proposed change in the PR

[2016-11-14 20:38] jeff9finger commented on #3926
Why was this closed? I had to add the code above to get codegen to create models with inheritance correctly.

My models are defined correctly.

Is this addressed in another issue?

[2016-11-15 02:42] wing328 commented on #4184
I believe that's already been fixed: https://github.com/swagger-api/swagger-codegen/blob/f63cae8aae4f780613deafd5a5bbe7633436e2ce/modules/swagger-codegen/src/main/resources/python/README.mustache#L73

Can you pull the latest master to give it a try?

[2016-11-15 02:43] wing328 commented on #4182
@reinerRubin yup. Ping us if you need help with the PR. Thanks for your contribution in advance.

[2016-11-15 02:51] damnhandy commented on #3841
I had the same results with `2.2.1`,`2.2.2-SNAPSHOT` and `2.3.0-SNAPSHOT`, the last two being built from source. All three get the same results and only generated subclasses when a discriminator was present. I haven't looked at the servlet code that drives `generator.swagger.io` yet, but there's either a very different version being used, or the servlet is doing something different than the CLI.

[2016-11-15 03:19] wing328 commented on #3926
@jeff9finger I believe @yannickadam fixed it by defining the `discriminator` correctly (not as a property)

[2016-11-15 03:21] wing328 commented on #3841
@damnhandy when you built the JAR locally, did you run `mvn clean package`?

[2016-11-15 03:38] gsantner commented on #4069
It would be a lot better if the generated swagger client could be just included just by specifing it as a gradle subproject. Deploying to a local maven repository and so on makes it quite unmaintanable and the way around is really not needed.

[2016-11-15 07:15] karussell commented on #4184
Ah, ok. Didn't found it in the issues. Will update the master and try - thanks!

[2016-11-15 07:49] #4184 closed

[2016-11-15 08:02] wing328 commented on #4069
@gsantner may I know if you've time to contribute the enhancement?

[2016-11-15 11:18] wing328 commented on #4180
@Sunracer I can repeat the issue and will submit a fix after revising the logic on renaming property name.

[2016-11-15 11:24] ePaul commented on #4180
That looks like a YAML "feature". `n`, `FALSE`, `No`, `off` are interpreted as boolean false, `Y`, `true`, `Yes`, `ON` as boolean true.

These don't make much sense in property names (which should be strings anyways), but the YAML parser doesn't know that.
@Sunracer try to use quotation marks in your YAML:

[code]

[2016-11-15 11:35] wing328 commented on #4180
@ePaul is right. Using 'no' fixes the issue and I got the following in my test:
[code]

[2016-11-15 11:35] #4180 closed

[2016-11-15 14:11] cbornet commented on #4106
I have the same issue. Also if you regen the pet sample from the generated swagger.yaml (the one used by flask-connexion) then you get a different swagger.yaml which painful.
I think the operationId shouldn't be modified during generation and x-swagger-router-controller must be generated instead.
PR incoming !

[2016-11-15 15:03] wing328 commented on #4167
Closed via #4168

[2016-11-15 15:03] #4167 closed

[2016-11-15 15:04] wing328 commented on #4162
@loewenstein may I know if you have time to contribute the enhancement?

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/haskell-servant/stack.mustache

[2016-11-15 15:07] wing328 commented on #4165
@jeffml I think you're right. I'll remove that line from the README

[2016-11-15 15:12] wing328 commented on #4163
@vproman thanks for suggesting the fix. I think we need (1) (return empty/null string) and then similar to 'Accept' we will need to delete header_params['Content-Type'] if it's empty: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api.mustache#L195-L196

May I know if you've time to contribute the enhancement?

[2016-11-15 15:13] wing328 commented on #4150
@acsr2016 thanks for reporting the issue. Did you follow the README.md to install the library or you're using some other approaches to install it?

[2016-11-15 19:00] jannhendrik opened #4190 "[Swift] Get Status code from error"
##### Description

I wasn't able to get the status code after making a request. My approach was:

[code]
Since error is of type Error? I get a "Tuple pattern cannot match values of the non-tuple type: Error"

##### Swagger-codegen version

I am using the current master branch of swagger 2.0. (Code is generated from a spring server.)

##### Swagger declaration file content or url

[code]

##### Com

[2016-11-15 19:49] DavidBiesack commented on #3874
Until 2.2.2 makes it into Maven Central, is there a workaround - a command line option, or a system property, that we can use to suppress these warnings?

[2016-11-15 19:51] davidsantiago commented on #3874
I never found one. I use a custom build from head. I am surprised that after months of development, a 0.0.1 version bump release has still not been cut.

[2016-11-15 20:52] abhijith-prabhakar commented on #3483
A note here if and when fix is provided.  If you inline primitive type and build the contract, jackson serializes it differently than having an Object property.
Swagger Codegen currently generates a Java model class for primitive json(although no property is present).

[2016-11-15 22:48] mintu19 commented on #4095
I am facing the similar issue. When debug is on,
java.net.ProtocolException: unexpected end of stream
error is produced at:
com.android.okhttp.internal.http.HttpConnection$FixedLengthSink.close()

[2016-11-16 00:37] damnhandy commented on #3841
I did.

[2016-11-16 00:47] fehguy commented on #3841
@damnhandy we don't deploy the snapshots on every build to the online generator.  I can see about updating it

[2016-11-16 00:54] fehguy commented on #3841
@damnhandy I did confirm that the online generator uses the v2.2.1 release version.  So the changes in the 2.2.2-SNAPSHOT would not be reflected there.

There have been a number of fixes in master, so I've deployed it to the online service.

[2016-11-16 02:14] wing328 commented on #4095
@mintu19 have you tried other HTTP libraries (retrofit2, jersey2, etc) as mentioned above?

[2016-11-16 02:39] wing328 commented on #4190
@jannhendrik can you please confirm you're using the latest master to generate the Swift API client?

cc @jaz-ah @Edubits

[2016-11-16 07:05] Sunracer commented on #4180
Excellent workaround from @ePaul, thanks!

[2016-11-16 08:11] wing328 opened #4194 "AbstractSerializableParameter - Illegal enum value null for parameter type number"
##### Description

[code]
Seems like it's due to the upgrade to the latest parser.

##### Swagger-codegen version

Latest master

##### Command line used for generation

##### Steps to reproduce

mvn clean && ./bin/ruby-petstore.sh

##### Related issues

None

##### Suggest a Fix

We will need to add better exception handling in `fromParameter` (DefaultCodegen)

[2016-11-16 08:36] wing328 opened #4195 "[ObjC] Podspec dependencies version out of sync"
##### Description

ObjC Podspec in latest master and 2.3.0 are not using the same version for dependencies.

master: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/objc/podspec.mustache
2.3.0: https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/objc/podspec.mustache

##### Swagger-codegen versio

[2016-11-16 08:57] jannhendrik commented on #4190
@wing328 Yes I was using the current master branch. Sorry for late answer.

[2016-11-16 14:30] bgonline opened #4198 "Generate Java model with custom annotation and import"
We are using swagger-codegen-cli to generate the Java client part of a swagger.json file, using "jersey2" as library.

We would like to add a specific annotation in the model objects generated and, therefore, the associated import.

Swagger-codegen version: 2.2.1.

Current solution: modify the "pojo.mustache" file of the swagger-codegen-cli path "Java".

Is it possible to do it in another way?

Th

[2016-11-16 17:46] jaz-ah commented on #4190
@jannhendrik looks like you want switch(err) not switch(error)

[2016-11-16 18:35] jannhendrik commented on #4190
That would not make a difference... ErrorResponse still inherits Error, which is not a tuple and thus can not be switched in that form.

[2016-11-16 21:50] jeff9finger commented on #2449
+1

[2016-11-16 22:20] jeff9finger commented on #3926
I still have this issue. My spec is correct, but still not getting inheritance defined correctly. When I try to use the 2.2.2-SNAPSHOT, it still does not work. Applying the suggested code above does the trick.

[2016-11-16 23:09] mintu19 commented on #4095
@wing328 No I have not. As i was in hurry to provide workable code, so was working with okhttp only. Will check other libraries when i get time.

[2016-11-16 23:22] jeff9finger commented on #3926
I tried this again with that latest 2.2.2-SNAPSHOT and it seems to work. Thanks

[2016-11-16 23:47] jeff9finger commented on #2449
How is the discriminator value determined for the name property of the`@JsonSubTypes.@Type` annotation. It looks like the best that can be done without more information is to use the class name.

But if a discriminator property value for a sub class is not the name of the class, but another string, how can that be determined? This may need to be addressed in a new issue, but simply wanted to raise

[2016-11-17 12:50] alexbaumgertner commented on #3616
Confirm: model typed as array become interface with `model` prefix:

[code]

produces
[code]
Am I right that `models.Array<models.SomeDefinition>` should be `
Array<models.SomeDefinition>`?

[2016-11-17 14:20] lunat opened #4206 "[csharp] Client generator ignore generatePropertyChanged parameter"
##### Description

When generating Swagger Client with generatePropertyChanged = false, the generated client references PropertyChanged anyway.

Even so, the client is not working because file FodyWeavers.xml is missing so I must manually install Newtonsoft, RestSharp and Fody from Nuget.

But it is not enough: I manually need to edit FodyWeavers.xml by adding this row:

`<PropertyChanged />`

###

[2016-11-17 16:50] philippelatulippe opened #4208 "[swift][swift3] Potential naming conflict with ErrorResponse"
##### Description

The PR #3624 introduced an enum called "ErrorResponse" to support returning HTTP error information. This is a great feature. But "ErrorResponse" is a fairly common definition in swagger specs, as you can see by searching github for yaml files containing it. There's even some snippets posted on this issue tracker that have an definition called "ErrorResponse". Code generated with

[2016-11-17 17:13] szakrewsky commented on #2449
@jeff9finger I have seen a similar issue. The spec (http://swagger.io/specification/) for the discriminator field says

And since the class name is the schema name its all good.

[2016-11-17 17:22] quentin-coursodon commented on #4127
Hi @wing328 !

Adding full support for WSSE Authentication would mean making changes to swagger-core, swagger-parser, and swagger-codegen. Furthermore, I guess we should add it to openAPI specification.
I'm not sure I'll have enough time to do all of this...

However, I could provide a way to edit headers before each request so that any header based authentication mechanism could be implemented ex

[2016-11-17 21:14] careysizer opened #4211 "[PHP] Non-leading numbers removed from generated classnames"
##### Description

Trying to generate classes for the Magento 2 schema JSON (which has other issues that need addressing within the schema itself), the versioning that Magento has applied to their API gets removed. I wonder if this should be supported in `swagger-codegen`?

For example: `catalogAttributeSetRepositoryV1` gets converted to an API class of : `CatalogAttributeSetRepositoryVApi`. The c

[2016-11-17 23:03] jhitchcock commented on #4082
This should resolve it;
https://github.com/swagger-api/swagger-codegen/pull/4212

The opening PHP tag seems to be screwing up the HTML, and tbh its not really needed anyway in this context so I removed it. I may look into it in more detail in the future as it could cause issues with new languages

[2016-11-17 23:05] jhitchcock commented on #3826
I'll pick this up early next week

[2016-11-18 06:16] wing328 commented on #4082
PR merged into master. Please pull the latest master to give it a try.

[2016-11-18 06:16] #4082 closed

[2016-11-18 06:23] #4106 closed

[2016-11-18 06:24] wing328 commented on #4106
@danyx23 PR by @cbornet has been merged into master. Please pull the latest master to give it a try.

[2016-11-18 08:21] punksta opened #4213 "[java] ApiClient library limits. New features."
##### Description

I faced with few critical(for me) limits of `ApiClient` generated by codegen.
I have 3 different retroft services in project, also I have another network modules as Fresco and custom http requests.

I want these features in generated code:
1. Ability of use one instance of HTTP client inside project.
ApiClient creates new Okhttp client for every retrofit service creating. And I

[2016-11-18 09:38] wing328 commented on #4127
@quentin-coursodon agreed that it would require some work to make swagger codegen support WSSE authentication.

I would suggest you to start a discussion in Swagger Spec github repo to see if there's any plan to support WSSE in the spec level: https://github.com/OAI/OpenAPI-Specification/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20wsse

[2016-11-18 09:52] jfiala commented on #4198
@bgonline you use the -t (templates) CLI option to use your own templates (and simply overrule the templates supplied by the target language/library.

[2016-11-18 12:11] bgonline commented on #4198
Great idea, indeed, thank you for the advice!
Could you give me a URL where I could find more information about this option?
Thank you in advance ;-)

[2016-11-18 14:19] jfiala commented on #4198
In fact, it is the start page:
https://github.com/swagger-api/swagger-codegen

search for "[(-t <template directory> | --template-dir <template directory>)]" :).

[2016-11-18 15:21] nickcmaynard commented on #3972
#4214 takes care of the vast majority of the warnings once the formatter has been run once.  The remainder are not "formatting" issues - they're things like import ordering, enforcement of block-style `if` statements, etc.

I propose that once we merge #4214, a maintainer immediately runs `mvn formatter:format` on the codebase and commits the results of this.  Once that's done, we can hook the for

[2016-11-18 20:28] jeff9finger commented on #2449
Using the classname is a good default (in fact, it looks to be the only thing that makes sense). But in some cases, the discriminator value needs to be something other than the class name.

I have used a vendor extension "x-discriminator-value" on each subclass. This value contains the value from the enumeration defined for that subclass. Changed the template to handle that value if it exists (oth

[2016-11-18 20:33] atdiff commented on #3485
Any update on this or timeline when it might happen?

[2016-11-18 20:37] jfiala commented on #4198
@bgonline pls close the issue if you are satisfied with the docs ...

[2016-11-18 21:05] #4198 closed

[2016-11-18 21:05] bgonline commented on #4198
Thank you for your help ;-)

[2016-11-18 22:23] jfiala commented on #4160
@wing328 I added the test case and the generated code looks good regarding the outerEnum.

EnumTest.java:
[code]
OuterEnum.java:
[code]

However there are problems with other characters, but I'd rather fix them in a separate issue.

[2016-11-18 22:30] jfiala commented on #4160
@DarrenC can you pls take a look at my forked repo https://github.com/jfiala/swagger-codegen/tree/cxf_refine, branch cxf_refine if you have time and confirm if it is working for you (of course you can pick the relevant changes to enumOuterClass + model.mustache)?

[2016-11-18 22:31] jfiala commented on #3859
@waltwood can you pls take a look at my forked repo https://github.com/jfiala/swagger-codegen/tree/cxf_refine, branch cxf_refine if you have time and confirm if it is working for you (of course you can pick the relevant changes to enumOuterClass + model.mustache)?

If you want the JaxbAnnotations, you have to use the CLI flag for language jaxrs-cxf.

[2016-11-19 02:01] abhijith-prabhakar opened #4218 "[java] Swagger codegen does not work when two json files has same name"
Hi,

I have two versions of a schema file, both placed under respective folders.  ex: `v1/currency_code.json` and `v2/currency_code.json`.  v2 one has an incompatible change.  If I refer to both versions in my swagger.json, codegen generates only one CurrencyCode.java.

Does codegen only work with unique filenames?  If yes, then I think this is a serious limitation.

[2016-11-19 02:53] jimschubert commented on #2630
@langdonx you could try the `--model-name-prefix`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-cli/src/main/java/io/swagger/codegen/cmd/Generate.java#L69

I don't recall exactly, but I think this doesn't do sanitization on the provided prefix.

[2016-11-19 03:50] fehguy commented on #4218
@abhijith-prabhakar can you please share more details on this? Are there duplicate operationId values? Duplicate models?

[2016-11-19 07:25] wing328 commented on #4211
@careysizer agreed with you that non-leading numbers should not be removed.

I'll try to fix it over the weekend. Will keep you posted.

[2016-11-19 08:17] wing328 commented on #4208
@philippelatulippe we will escape `ErrorResponse` by appending `Model` at the beginning, i,e. `ModelErrorResponse`. Other language generator has applied similar solution.

[2016-11-19 09:56] jfiala commented on #4087
Automatically generating the output for all the petstore-variations and also allow for different language configurations would make the results more reliable. The current process is unreliable because if someone forgets to update the generated files they will not be validated. IMHO the expected outcome should be fixed, but the actual outcome should always get generated dynamically.

@wing328 can y

[2016-11-19 14:32] wing328 commented on #3859
PR has been merged into master. Please pull the latest master to give it a try.

[2016-11-20 17:00] wing328 commented on #4208
Closed via #4221. Please pull the latest master to give it a try.

[2016-11-20 17:00] #4208 closed

[2016-11-20 17:01] #3961 closed

[2016-11-20 17:28] wing328 commented on #4211
@careysizer I did a test with the latest master but couldn't repeat the issue. Here is partial result:
[code]
Did you try building the local JAR based on the latest master?

[2016-11-20 17:40] #4195 closed

[2016-11-20 21:04] punksta opened #4222 "[Java] setters for readonly fields are missed"
##### Description

Json parsers like gson need setters for all non transient fields by default. But setters for `readonly` fields are missed in codegen. So json parser can to use only slow [reflection](https://docs.oracle.com/javase/7/docs/api/java/lang/reflect/AccessibleObject.html#setAccessible%28java.lang.reflect.AccessibleObject[],%20boolean%29) to set value into private `read only` methods.

[2016-11-20 21:37] Vrolijkx commented on #4144
I opened #4223 with ngModules in it.

[2016-11-20 21:47] Vrolijkx commented on #3616
#4223 changes the imports and probably fixes this problem indirectly.

[2016-11-20 21:53] sreeshas opened #4225 "[Java] :DefaultGenerator.java is too long and difficult to read."
DefaultGenerator is too long and difficult to read. It needs refactoring.

##### Description

DefaultGenerator is too long and difficult to read. It needs refactoring.

##### Swagger-codegen version
master branch. top of the tree.

##### Swagger declaration file content or url
Not required.

##### Suggest a Fix

I have created a pull request #4224

[2016-11-20 22:40] jeff9finger opened #4226 "[java] discriminator not defined when inside an allOf: inline object"
##### Description
When a discriminator is defined in a spec in an allOf inline object, it is ignored. This prevents the inheritance in the generated code from being generated correctly.

I have been studying the open api spec and swagger-codegen projects for the constraints on allOf:

It appears that swagger-codegen (language is java) only recognizes the last inline element of an allOf: array. I h

[2016-11-21 04:49] careysizer commented on #4211
Thanks @wing328 - I tested with latest master (I was at `cafcf51`) and looks like that's working for me too.

[2016-11-21 04:59] wing328 commented on #4211
Glad to hear that it's working for you.

[2016-11-21 04:59] #4211 closed

[2016-11-21 07:10] bryanbernabe opened #4227 "[Java] Controller not recognized when using LoggingAspect(AspectJ)"
##### Description

The controller cannot be seen in swagger ui when using aspectj for logging.

The problem is within the proxying mechanism of JDK proxy, the @Controller annotation is placed in the implementation class and thus, not being seen in the JDK generated proxy.

##### Swagger-codegen version
2.2.1

##### Steps to reproduce

Use AspectJ to log method ins and outs for tracing the controll

[2016-11-21 09:13] Babacooll commented on #1482
Hi ! Do we have any update on the update to a newer version of Guzzle ? @wing328

[2016-11-21 09:18] wing328 commented on #1482
@Babacooll I don't think anyone is working on that. Would you have time to contribute the update?

What features do you plan to use in the latest version of Guzzle (6.2.2)?

[2016-11-21 10:50] kamil-mrzyglod commented on #1564
Is there any work on this currently?

[2016-11-21 11:57] yohanakh opened #4228 "[CodeGen] boolean values from JSON are treated as strings"
##### Description

Boolean values from JSON are treated as string. I believe this happens in every language as it is in the generator code.

This applies to dynamicProperties and additionalProperties.

##### Swagger-codegen version

I am using the latest code in master branch with commit 1968bead432aac0adbf3cc576758947bf0803e11 (21/11/2016).

##### Swagger declaration file content or url

[code]

[2016-11-21 12:00] Babacooll commented on #1482
@wing328 I currently don't have time but I'll think about it.

It's mostly for security purposes as the version 3 has not received any security fixes for ages.

[2016-11-21 15:45] willgorman opened #4230 "[JavaJaxRS] ServiceImpl and ServiceFactory classes should not be overwritten"
##### Description

Prior to #4074, all generated *ServiceImpl and *ServiceFactory classes would never be overwritten due to `io.swagger.codegen.languages.AbstractJavaJAXRSServerCodegen#shouldOverwrite` which was removed in the previously mentioned issue.  I believe that the previous behavior was correct because those classes are intended to contain user-written code and are also written to a diffe

[2016-11-21 17:38] jeff9finger opened #4231 "How should swagger-codegen deal with multiple inline objects within allOf: ?"
##### Description
Currently, swagger-codegen only recognizes that last inline object defined in an allOf: array. The OpenAPI Specification is silent on this issue and leaves it to the tools to decide.

https://github.com/OAI/OpenAPI-Specification/issues/848

I am writing this issue so that this issue can be defined in swagger-codegen.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger d

[2016-11-21 17:42] webron commented on #4231
Again, what is the value of having multiple discriminators? Just trying to understand the use case.

[2016-11-21 17:49] jeff9finger commented on #4231
I don't see value in it. But currently, swagger-codegen simply ignores all of them except the last one. I just want to clarify this,  because if the specification allows it and someone does try this for some reason that we can't anticipate,  the generated code is incorrect and not what is expected.

This came up for me in trying to set a discriminator on the online object.  The discriminator field

[2016-11-21 17:59] webron commented on #4231
I tend to disagree. The spec is not fault-proof, and it doesn't mean that the tools can and should deal with all cases. We should support features as they are requested by users if not tackled, but it cannot be without reason. Yes, inline models for `allOf` should be supported because that's a simple use case. Multiple `discriminator` fields is borderline abuse of the spec.

I also don't expect th

[2016-11-21 18:04] waltwood commented on #3859
Hi @jfiala, I pulled your latest from cxf_refine and I was able to confirm the fix. I also tested with the maven plugin and after a bit of an adjustment was able to build and release an existing project using swager, cxf, and maven. Thanks!

[2016-11-21 18:18] jeff9finger commented on #4231
I think we are agreeing... :-)

When you say "multiple discriminators" are you referring to something like:
[code]

I don't expect the above spec to produce usable code either and agree that it  "is borderline abuse of the spec".

I do think the following is a good use case:
[code]

And this is the issue that I am trying to resolve. As part of that effort, I found that there was nothing that state

[2016-11-21 18:53] abhijith-prabhakar commented on #4218
It generates a single model class.  Which schema file generated model references depends on where it is defined in the api.  It is picking up first one it could find while parsing.
I have updated the demo project here with a branch showing the issue.  Please check out the branch and run `mvn clean install`
https://github.com/abhijith-prabhakar/swagger-ref-error-demo/tree/diff_versions_issue4218

[2016-11-21 19:07] jfiala commented on #3859
@waltwood @wing328 hast already pulled it into the swagger-codegen/master - so you can verify there, pls closed if it verified successfully.

[2016-11-21 19:58] titiu7 commented on #2502
@wing328, I'm using the ContextResolver<ObjectMapper> and JsonSerializer<DateTime> classes to register custom json serializers for datetime fields. With this approach, XmlJavaTypeAdapter annotation is no longer needed in the models.

[2016-11-22 00:05] waltwood commented on #3859
@jfiala done, and done. Thanks again!

[2016-11-22 00:05] #3859 closed

[2016-11-22 02:42] wing328 commented on #4165
Closed via #4232

Please pull the latest master to give it a try.

[2016-11-22 02:42] #4165 closed

[2016-11-22 02:47] wing328 commented on #4087
@jfiala is your suggestion similar to https://github.com/civisanalytics/swagger-diff, which shows the differences between 2 Swagger specs?

[2016-11-22 05:18] bhuvnesharya opened #4233 "underscore("_") in property name of swagger.yaml is getting converted to camelCase in generated code of spring through swagger codegen maven plugin"
##### Description

I am using swagger codegen maven plugin for spring language. I have given few property names with underscore("_") in swagger.yaml file that is a input to my swagger codegen maven plugin and my underscore("_") in property name of swagger.yaml is getting converted to camelCase in generated code of spring through swagger codegen maven plugin. I want to have a snake_case only in my

[2016-11-22 06:48] deveshpujari commented on #2304
Is there any work in progress about adding JSR303 annotation on while generating server code for JAXRS language ? is there any pointer for any other language ( server side)  for which JSR303 annotation is already added. Any pointer how to start work on this ? thx

[2016-11-22 08:22] junewoo-suk opened #4234 "Java DateTimeTypeAdapter class is not using the right formatter."
##### Description

DateTimeTypeAdapter class has a variable `private final DateTimeFormatter formatter = ISODateTimeFormat.dateTime();` but it should be `private final DateTimeFormatter formatter = ISODateTimeFormat.dateTimeParser();`. For example, dates like `yyyy-MM-ddTHH:mm:ssZ` will not be parsable in the current version, but it will be possible with dateTimeParser function. The previous date

[2016-11-22 08:52] masterandrey opened #4235 "[Python] No way to handle exceptions in asyncronous code (with callback)"
##### Description

Produced by codegen Python code does not support handling of exceptions in anync mode (with callback).
If swagger client code raises exeption, callback will never be called.

##### Swagger-codegen version

5

##### Command line used for generation

-l python

##### Suggest a Fix

Catch all exceptions in generated swagger client and return special type of result in case of except

[2016-11-22 09:12] jfiala commented on #2304
@deveshpujari You have the full-featured implementation for jaxrs-cxf server + jaxrs-cxf-client and for the java client. For the other languages I want to add it language-by-language. If you have any priorities let me know.

[2016-11-22 10:02] cbornet commented on #4091
Small remark: if bean validation is an option, it should be activated by default (since you expect the generated code to follow the contract established by the swagger spec)

[2016-11-22 12:27] menchauser opened #4236 "[Java] Bug generating Java model with '_class' property"
##### Description

This issue is similar to #2841. swagger-codegen may produce invalid code for model like
[code]

Result code contains inelligible overload for method Object.getClass():
[code]

##### Swagger-codegen version

Latest (2.2.2-SNAPSHOT)

[2016-11-22 12:31] menchauser commented on #4236
I've implemented simple fix: #4237. That could be not the best solution and, I'm afraid, I haven't checked all language/framework combinations (except Java clients).

[2016-11-22 15:53] yucer commented on #4174
I think that the solution that I have proposed is better, because the python object can still have the readOnly check after the serialization, as specified by the spec.

But, anyway... Now there is not error. So the error will be for those dare to assign values to that field. ;-)

Thank you very much, and sorry for the late feedback.

[2016-11-22 16:18] #4236 closed

[2016-11-22 16:27] OneGeek commented on #4114
@wing328 sorry to keep bugging you on this, but I have a project I'm trying to deliver to customers that is currently trying to make use of this. Is this likely to be fixed in the next week or should I go ahead and manually include the inherited fields in the composite models as a workaround? Is the issue something someone unfamiliar with the codebase might be able to figure out? If so, I'd be wil

[2016-11-22 16:32] wing328 commented on #4114
@OneGeek sorry I've not looked into it yet. Will do it tomorrow and give you an update.

If you don't see an update by Thur, please kindly send me an email via my personal email address in my Github profile page.

[2016-11-22 17:23] deveshpujari commented on #4091
@jfiala

We would like to get support for server side code generation for jaxrs ( jersey2) with JSR303 annotations. We are doing topdown approach of writing apis in swagger editor and generating the code. I would really appreciate if you prioritize the JSR303 addition to server code for jaxrs ( jersey2). Thanks.

[2016-11-22 17:24] deveshpujari commented on #2304
Thanks @jfiala
I added my priority for jaxrs in #4901

[2016-11-22 17:25] jdevera opened #4240 "[Python] (question) How to connect to two different hosts"
The Configuration object is a singleton in the generated swagger_client. I am trying to write code that connect to two servers serving the same API, but if I change the configuration:

[code]

It changes for everything.

How do I get to talk to two different servers?

[2016-11-22 17:38] wing328 commented on #4171
@gayathrigs a good starting point is to look at how Retrofit2 was added: https://github.com/swagger-api/swagger-codegen/pull/1545

If you need any help, just let us (community) know.

[2016-11-22 17:39] wing328 commented on #4206
@lunat does the following (petstore sample with PropertyChanged) works for you?

https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/csharp/SwaggerClientWithPropertyChanged

[2016-11-22 20:03] junewoo-suk commented on #4234
right now work around is using `setDateFormat`

[2016-11-22 20:37] deveshpujari commented on #4114
@wing328

Thanks , I am also waiting for this fix.

[2016-11-22 21:20] cbornet commented on #4234
Yes, but:
* It would rather be dateOptionalTimeParser()
* dateTime() should probably still be used for serializing (as the time is not optional in rfc3339)

[2016-11-22 21:33] cbornet commented on #4226
I don't understand: what is the point of putting a discriminator in an in-line object ? Since it won't have any child...

[2016-11-22 21:40] cbornet commented on #4226
Also note that your example spec defines 2 discriminators for Object which is forbidden.

[2016-11-22 21:54] jeff9finger commented on #4226
The spec that I wrote above is not realistic. It was created to get clarity on whether more than one inline object is allowed. @webron indicated  (IIUC) that the OpenAPI spec is silent on the issue and the decision is left to the tools. So, my issue is not that I am trying to create 2 inline objects each with a `discriminator`.  I want to know what swagger-codegen's behavior should be when there a

[2016-11-22 21:58] jeff9finger commented on #4226
It is good to know that "2 discriminators for Object which is forbidden." Where is that documented?

But also, please clarify what you mean by "2 discriminators for Object". Are you saying that having a `discriminator` in BaseObj and one in SubObj is forbidden?

That does not seem to be the case in practice. Here is an example that illustrates the problem I am trying to resolve. (taken from https:

[2016-11-22 22:17] atdiff opened #4242 "-Dapis option generates models for all api's"
When setting the -Dapis parameter (along with -Dmodels and others), models get created for **all** API's.  I would expect it to just create the models solely associated to the API's being generated rather than the models for all APIs.
Using swagger-codegen version 2.2.1

[2016-11-22 22:33] cbornet commented on #4226
I agree that the fact that the discriminator is unique is not explicit but how would you choose which Model to apply if the JSON you get has two discriminator fields ?

As for your BaseObj/SubObj spec, it looks valid. Just keep in mind that if SubObj didn't have a discriminator, people would still expect DailySubObj to extend SubObj and be discriminated by object_type (see #3474). So the rule woul

[2016-11-22 22:43] jeff9finger commented on #4226
The rule you stated is what my understanding is and is how I plan on implementing this. I do have one question though...

When you say "if an object holds a discriminator (unique)", does that mean that the discriminator property name is unique?  That is the way i understood it at first, but after some thought, it seems like swagger-codegen does not care whether the discriminator name is unique fro

[2016-11-22 22:53] cbornet commented on #4226
That's a good question.I think that it shouldn't be possible to have properties with the same name in a parent and a child (imagine one is string type and the other number). But the discriminator is kinda special...

[2016-11-23 04:36] jeff9finger opened #4244 "Add a vendor extension to specify the discriminator value for a model definition"
##### Description
Follow-on to
https://github.com/swagger-api/swagger-codegen/pull/4085
https://github.com/swagger-api/swagger-codegen/issues/4226

pr 4085 creates Jackson annotations that use the name of the model. In some cases, it is not desired to use the model name in the annotation because the name specified there is used in the json payload.

##### Swagger-codegen version
2.2.2-SNAPSHOT

##

[2016-11-23 06:20] wing328 commented on #4235
@masterandrey can you elaborate a bit on "return special type of result"? In your case, what exception did you get?

[2016-11-23 06:21] wing328 commented on #4162
cc @algas

[2016-11-23 06:22] wing328 commented on #4174
Np. Let us know if you need further assistance.

[2016-11-23 06:22] #4174 closed

[2016-11-23 06:23] wing328 commented on #4163
cc @scottrw93

[2016-11-23 06:23] wing328 commented on #4154
If it's still an issue, please reply to let us know.

Closing for the time being.

[2016-11-23 06:23] #4154 closed

[2016-11-23 06:25] wing328 commented on #4137
Closed via the following PRs:

https://github.com/swagger-api/swagger-codegen/pull/4200
https://github.com/swagger-api/swagger-codegen/pull/4199
https://github.com/swagger-api/swagger-codegen/pull/4197

[2016-11-23 06:25] #4137 closed

[2016-11-23 06:26] wing328 commented on #4139
Closed via the following PRs:

https://github.com/swagger-api/swagger-codegen/pull/4200
https://github.com/swagger-api/swagger-codegen/pull/4199
https://github.com/swagger-api/swagger-codegen/pull/4197

[2016-11-23 06:26] #4139 closed

[2016-11-23 06:28] wing328 commented on #4078
@sanket0007 closing this as there's no update from you.

[2016-11-23 06:28] #4078 closed

[2016-11-23 06:29] wing328 commented on #4098
@davebaird let us know if you need help with the PR.

[2016-11-23 06:38] wing328 commented on #4058
PR merged. Thanks for the contribution from @plankswert

[2016-11-23 06:38] #4058 closed

[2016-11-23 07:09] wing328 commented on #4233
snake_case does not conform to Java style guide. The serialization/deserialization should automatically convert the property name to snake_case

[2016-11-23 07:12] wing328 commented on #4240
A workaround is to generate 2 Python SDKs with different `packageName`.

Ideally we should move away from singleton in Python to configuration per instance of API client similar to what we've done to Ruby, PHP, C#, etc. Please let me know if you've time to contribute the refactoring.

[2016-11-23 07:55] masterandrey commented on #4235
with callback I have this unhandled exception:

``
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/home/sorokin/anaconda3/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/home/sorokin/anaconda3/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "/home/sorokin/cottrep/api/stand/swagger/agentt

[2016-11-23 11:01] mbarclay commented on #2933
hi @bchrobot no I haven't started anything, step away!💃

[2016-11-23 11:28] wing328 commented on #4242
That's not the current behaviour. `-Dapis` will generate the API classes/files while `-Dmodels` will generate the model files. These 2 options work independently.

Can you tell us more about your use cases? Do you want to skip certain files (models, apis) during code generation?

[2016-11-23 12:38] plankswert commented on #4058
Thanks! Hopefully, more to come.

[2016-11-23 12:56] cbornet commented on #2933
Some advice before starting:
* if it has a lot of codegen methods that are the same as the Swift codegen, consider abstracting them in an AbstractSSwiftCodegen
* if it has a lot of template files which are the same as the Swift codegen, consider doing it as a Swift codegen library

[2016-11-23 13:33] wing328 commented on #2933
It's also worth sharing that Swift 3.x `swift3` generator (contributed by @hexelon) has been added to the latest master so please pull the latest master before working on this enhancement.

[2016-11-23 15:34] wing328 commented on #4225
Closed via #4224

[2016-11-23 15:34] #4225 closed

[2016-11-23 15:35] sdetweil commented on #4069
is there a reasonable fix for a non gradle wizard??   I have the javascript client (and server) working fine.. now I want to make a mobile app.   but I can't get past this redundant library packaging problem

the gradlew app:dependencies doesn't show the httpclient problem, but the dex converter hits it..

[2016-11-23 16:24] abhijith-prabhakar opened #4247 "[JAX-RS] Codegen implicitly assumes first part of URI to be API name"
Swagger codegen derives API name itself from path object.  It implicitly assumes first part of path to be the API name.
for ex: if I have path `/parent_resource/{id}/child_resource` then Api name is assumed to be `ParentResourceApi`.

While this is fine for some cases, in microservices world you might have different services for each resource.  In our case we have a separate service/API for each c

[2016-11-23 17:03] yucer opened #4248 "Type change for maximum property value in swagger.yml generated with python-flask-server"
##### Description

There is an attribute [maximum](http://json-schema.org/latest/json-schema-validation.html#rfc.section.5.2) in the [OpenAPI v2.0 specification ](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) that restricts the higher value that a property field can have.

The type defined for this maximum value is "number".

When specifying an int32 property the maximu

[2016-11-23 17:56] cbornet commented on #4248
What is the value of maximum in the generated swagger/swagger.yaml file ? Is it still 999999999 ?

[2016-11-23 19:22] yucer commented on #4248
No, now it has changed to:

[code]

It seems a regression, but I couldn't find where. Somehow the `number` type of `maximum` in the [OpenAPI spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) is being used for the yml generation.

[2016-11-23 20:28] cbornet commented on #4248
Well, technically 9.99999999E8 is a valid number value but it seems it's not accepted by the python jsonschema validator.

[2016-11-23 20:48] atdiff commented on #4242
Right, but if I limit the API's to specific ones to generate, I would think the models generated would only relate to the API's created.
So for example, if I have 2 api's - A and B.  A has a User model and B has a Car model.  If I generate the A api, I would expect only the User model to be created and not the Car model.  And vice versa if I generate the other api.  Only if I generate A and B woul

[2016-11-23 21:24] papageo commented on #3920
thanks a lot! :)

[2016-11-23 21:24] #3920 closed

[2016-11-23 21:29] yucer commented on #4248
Some observations:

1. In previous versions there was a clean generation, the value was kept as it was provided in the original spec. So why does it occurs now ?

2. The [json-schema](http://json-schema.org/latest/json-schema-validation.html#rfc.section.5.2) spec doesn't say that this value should be of the same domain that of the property value. The integer value could also be converted to float

[2016-11-23 21:47] jeff9finger commented on #4226
Implementing this issue by only allowing one inline object and issuing a warning. And if the parent has a discriminator != null, the child is not added to the grandparent's children.

[2016-11-23 23:04] lukoyanov opened #4250 "[JAVA] Support for Retrofit2 client generation with Play! Async WS http-client"
##### Description

Seems no support for retrofit2 client that use Play's WS as a http-client. I could contribute a generator for play 2.4.

[2016-11-24 01:00] JeffML commented on #3515
I, for one, would just like to see the mocks separated from the controllers, and have the controllers call the mocks based on an environment variable.  Something like (pseudocode):

[code]

I've poked around a bit at the the [languages](https://github.com/swagger-api/swagger-codegen/tree/b02d505ad9322812af5194fcb1fd49a5a51c69a1/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages) so

[2016-11-24 03:02] wing328 commented on #4248
@yucer I'm working on a fix for this. Will keep you posted.

[2016-11-24 03:23] wing328 commented on #4114
@OneGeek I tried to repeat the issue based on the gist you shared but couldn't. Here is the composed model:
[code]
I could find the `inheritedProperty`

Can you please pull the latest master to give it another try?

[2016-11-24 03:24] wing328 commented on #4242
If those models are not referenced/used by the endpoints, why not remove those from the spec?

[2016-11-24 03:37] fehguy commented on #3515
Hi folks,
I've worked on a number of projects using this template and have some follow-up thoughts.

First, the original idea was from a (ex) java guy.  So the delegation between the controller and service is, shall we say, a little lame.  I have recently been building a lot of services and have modified the templates to have the same structure--a controller and a service class--but to user Promis

[2016-11-24 03:58] wing328 commented on #4250
@lukoyanov thanks! Let us know if you need help or any starting point to begin the contribution.

[2016-11-24 04:02] wing328 commented on #4250
FYI. Currently, Java API client already supports Retrofit2 (in additional to jersey1.x, jersey2.x, feign, etc). You may want to add the support by adding another option (e.g. usePlayWS) similar to [`parcelableModel`](https://github.com/swagger-api/swagger-codegen/pull/3928).

For a full list of Java API options, please run java -jar `modules/swagger-codegen-cli/target/swagger-codegen-cli.jar confi

[2016-11-24 04:03] wing328 commented on #4148
Which version of Swagger Codegen are you using? can you pull the latest master to build the local JAR to see if the issue is still there?

[2016-11-24 04:12] wing328 commented on #4067
Closed via https://github.com/swagger-api/swagger-codegen/pull/4074

[2016-11-24 04:12] #4067 closed

[2016-11-24 04:14] #4028 closed

[2016-11-24 04:16] wing328 commented on #3907
@HrOice It's definitely a nice-to-have feature. Are you trying to implement a mock server using the server stub generator?

[2016-11-24 06:17] WillaLuo opened #4253 "[Python]Do python client support the header in response?"
##### Description
The header "set-cookie" in response defined "string", when it is send with the response about more than one thousand letter, can it be supported? When I use this definition to generate python client, the header "set-cookie" can't be found.

##### Swagger-codegen version
Swagger-codegen 2.2.1

##### Swagger declaration file content or url

[code]

##### Command line used for gener

[2016-11-24 06:47] WillaLuo commented on #4253
I found a workaround with using "_with_http_info" to get the response header, can found "set-cookie" in it.
But I still have a question, does swagger-codegen support the definition here?:
'''
"responses": {
                   "204": {
                       "headers": {
                           "set-cookie": {
                               "type": "string",
                               "descr

[2016-11-24 07:25] Danielku15 opened #4254 "[JavaScript] Support for cache bursting"
##### Description

The Internet Explorer has the bad habbit to cache Ajax GET requests. There are many blog posts in the internet reporting about this problem.
http://thisinterestsme.com/ajax-request-internet-explorer-cache/
http://www.sitecrafting.com/blog/ajax-ie-caching-issues/
http://stackoverflow.com/questions/4303829/how-to-prevent-a-jquery-ajax-request-from-caching-in-internet-explorer

jQu

[2016-11-24 11:47] NybergJohan opened #4256 "Enum set with specific int is ignored"
##### Description

My csharp enum which starts with Regular = 1 ibecomes Regular = 0 after code is generated.

##### Swagger-codegen version 2.2.1

csharp class:
public enum UserType
{
	Regular = 1,
	Admin,
	Ad
}

swagger.json:
"enum":["Regular","Admin","Ad"],"type":"string"

Generated code by swagger-codegen-cli:
[JsonConverter(typeof(StringEnumConverter))]
public enum TypeEnum
{
	[EnumMember(Val

[2016-11-24 12:14] PisaJan opened #4257 "[PHP][Silex] Generated parameters don't use same naming conventions as path variables"
##### Description

PHP SILEX server generator doesn't use same naming conventions for path variables and function parameters.

 Eg. like this:

`$app->GET('/pet/{petId}', function(Application $app, Request $request, $pet_id)`

When trying to GET that URI, you get:

[code]

##### Swagger-codegen version

swagger: '2.0'
info:
  version: 1.0.0
  title: PetStore on Heroku

##### Swagger declaration fi

[2016-11-24 14:04] yucer commented on #1575
I am having this issue today with master HEAD in:

[code]
the problem seems to be encoding, because the failing yml spec file comes from a partner that its likely to have used windows to create the file. I do open it with the atom editor and save it again and the problem goes away. I just see differences in the empty spaces.

[2016-11-24 14:34] omarzina commented on #4123
Hi, I'm having same problem i think. Tried generating resteasy server from yaml with:
[code]
with resulting generated enum:
[code]
If i use jaxrs server generator instead of resteasy it works fine.

[2016-11-24 16:29] yucer commented on #1575
I have found it. The problem seems to be when the file have one of this german characters in the descriptions.

Just put one of these characters in info/description and the problem appears: ö ä ü

version: `v2.2.1`

[2016-11-25 07:55] wing328 commented on #4254
Closed via #4255

[2016-11-25 07:55] #4254 closed

[2016-11-25 09:26] yannickadam opened #4258 "Duplicate entries when using inheritance or composition"
##### Description

A PR(#3935) has been opened by @j4velin regarding this problem, but I cannot find any related issue.

Using the simple definition below, we get duplicate vars for seaplane:

![image](https://cloud.githubusercontent.com/assets/2227039/20619987/94c41f36-b2f7-11e6-82e3-b296deb1e436.png)

Also, I am unsure if the PR fully fixes the issue. Since the second call to ``addVars(...)`` wi

[2016-11-25 11:23] yucer commented on #4248
Further information, in case it helps:

The same error raises when the field is of type: `decimal`. Which is rare, because decimal can have a floating point. For example, it does happen with a property defined like this:

[code]

we get again:

`swagger_spec_validator.common.SwaggerValidationError: '9.9999999999E8' is not of type 'number'`

Also I did find this [statement](http://json-schema.org/l

[2016-11-25 13:13] wing328 commented on #1575
@yucer Is your YAML file encoded in UTF-8?

[2016-11-25 14:17] wing328 commented on #4256
Given the below code generated by codegen:
[code]
What should the correct code look like?

We need to leverage vendor extension to specify the starting number (1 in your case)

[2016-11-25 14:46] yucer commented on #1575
Yes, I think so:

[code]

[2016-11-25 15:47] wing328 commented on #1575
@yucer thanks for the additional info. I'll try to repeat the issue later.

[2016-11-26 03:59] DwayneJengSage opened #4261 "(Java) Option to disable truncating prefixes for enums"
I'm using Swagger to generate Java from a JSON file. I have an enum in my JSON that looks like:
    "UploadSchemaType": {
      "type": "string",
      "enum": [
        "ios_data",
        "ios_survey"
      ]
    }

This generates an enum with values DATA and SURVEY. This is a problem because we plan on adding non-iOS types to our enum in the near future. Swagger will then generate the enum as I

[2016-11-26 04:01] DwayneJengSage commented on #1229
@rosaAdl @wing328 I dunno if they look at closed issues, so I filed a new one with this issue: https://github.com/swagger-api/swagger-codegen/issues/4261

[2016-11-26 09:50] aleksei-saharov opened #4262 "[C#] Optional/Required properties"
Hi, all

I have issue with client **C#** code generator on [http://editor.swagger.io](http://editor.swagger.io)

YAML:
[code]
[http://editor.swagger.io](http://editor.swagger.io) generate following code:
C# (unnecessary parts removed):

[code]
Problems:

1. _MyEnum_ set as nonoptional. Everithing is good with property declaration but in constructor default value is null (not compiled).
In **C#** t

[2016-11-26 18:12] SteffenE commented on #300
Use -Dio.swagger.parser.util.RemoteUrl.trustAll=true to disable certificate verification.

[2016-11-26 19:42] gregjacobs commented on #2776
@moanrose I agree with @wing328 that the deserialization should happen as part of the generated code.

The article you linked to simply provides one option for a place to deserialize date objects in Angular code, but it doesn't necessarily mean that it's the "proper" place to deserialize date objects. In fact, from a software engineering perspective, I would argue that `$httpProvider.defaults.tran

[2016-11-26 23:16] TiFu commented on #2766
Wups. TIL github actually resolves issues in forked repositories. Sorry for the mess.

[2016-11-27 01:32] janslow commented on #2776
There are also the other TypeScript clients (e.g., TypeScript Fetch) which don't have a feature like `$httpProvider.defaults.transformResponse`, so deserializing needs to happen in the generated code.

[2016-11-27 15:40] antihax opened #4265 "[Golang] array of interger as parameter to API in spec produces code which will not compile"
##### Description

Array parameters of integer type produce Go code which will not compile as it attempts to pass []int64 as a string to `localVarQueryParams.Add(string,string)`

Further, ParameterToString only handles slices of string type objects correctly and not slices of other types; resulting in invalid URI calls.

      I.e. an array of integers result in `?ids=[1 2 3 4]` instead of `?ids=1

[2016-11-27 15:51] antihax commented on #4265
See PR #4266

[2016-11-27 20:16] lukoyanov commented on #4250
I've opened a PR core implementation + api key auth. https://github.com/swagger-api/swagger-codegen/pull/4263

[2016-11-27 22:43] gregjacobs commented on #3105
(Copy/pasted from #2776)

@moanrose I agree with @wing328 that the deserialization should happen as part of the generated code.

The article you linked to simply provides one option for a place to deserialize date objects in Angular code, but it doesn't necessarily mean that it's the "proper" place to deserialize date objects. In fact, from a software engineering perspective, I would argue that `$

[2016-11-28 02:33] antihax opened #4269 "[Golang] Optional parameters are not optional."
##### Description
Currently optional parameters generate code with no option to exclude them, making the parameters required.

##### Swagger-codegen version

master HEAD

##### Suggestions

1. Use interface{} for optional parameters, except string, with run-time type checking.
2. Use pointers (dangerous due to race conditions: i.e. go func in for loop).
3. Use a map to pass parameters (similar to

[2016-11-28 08:20] lukoyanov commented on #4250
Created new PR, with proper history https://github.com/swagger-api/swagger-codegen/pull/4270

[2016-11-28 10:08] joeblew99 opened #4271 "Help Request - Dart examples"
I am using goalng on server and dart on the client

I see that Swagger now has Dart client code gen support:
https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/dart

Does anyone happen to know any examples of this used in projects or more code samples where this is used ?

thanks in advance.
If there is a better place to ask this please let me kno

[2016-11-28 11:26] wing328 commented on #4250
@lukoyanov thanks. I've left you some comments. Please let me know if you need help adding the Petstore samples with the enhancement you provided.

[2016-11-28 11:30] wing328 commented on #4271
@ircecho may I know if you've any sample codes/projects on using the Dart API client generated by Swagger Codegen?

It would be nice if the community can contribute the following:
1) add some integration tests for Dart API client,
2) add auto-generated documentation to Dart API client.

[2016-11-28 11:35] wing328 commented on #4269
@antihax thanks for the feedback. We did have a discussion on that before. From what I recall, it's a bit tricky to implement optional parameters in Go as it does not support optional parameter natively.

Here is the approach taken by Github GO API client (provided by Google):
https://github.com/google/go-github/blob/master/github/activity_star.go#L49-L61
which defines the optional parameters in a

[2016-11-28 12:33] aleksei-saharov opened #4273 "[C#] "allOf" and class inheritence"
Hi, all

I have problem with using "**allOf**" and generating class hierarchy.

**YAML**:
[code]
As you can see **IntegerValue** should inherit all Value's properties and add **IntegerValue** property.
In generated C# code I can see:
**C#**
![image](https://cloud.githubusercontent.com/assets/9149712/20668295/2795f094-b57f-11e6-8998-7f03b6fef88f.png)

As you can see **IntegerValue** copy all **Valu

[2016-11-28 12:51] lukoyanov commented on #4250
@wing328 PR updated.

[2016-11-28 12:59] joeblew99 opened #4274 "Feature Request / Question: JSONRPC2"
this is not a bug, but a question.

Is there currently a way to code gen a JSONRPC2 client from swagger ?
i am interested in the Dart client.

thanks in advance, or if i should ask this somewhere else please let me know.

[2016-11-28 13:50] wing328 commented on #4257
@PisaJan thanks for reporting the issue. Are you saying that the variable `$per_id` should have named as `$petId` instead?

[2016-11-28 13:56] PisaJan commented on #4257
@wing328 Happy to help. Yes, exactly. Otherwise Silex is not able to pair path variables to parameters.

[2016-11-28 14:00] arnested commented on #4257
I can confirm that as well (although I never got around to debugging it or reporting it).

[2016-11-28 14:04] wing328 commented on #4257
@PisaJan @arnested so a workaround is not to rename variable to snake case and just keep the original naming?

We can introduce the following options (currently used by Typescript):
[code]

[2016-11-28 14:14] PisaJan commented on #4257
@wing328 I guess so, it's working fine for:
`$app->GET('/pets/{petId}', function(Application $app, Request $request, $petId)`
So you just need to use same naming convention for path and for function.

[2016-11-28 14:20] wing328 commented on #4257
@PisaJan may I know if you've time to add `modelPropertyNaming` to PHP Slim generator?

For reference, here is the PR to add `modelPropertyNaming` for Scala:https://github.com/swagger-api/swagger-codegen/pull/3685

[2016-11-28 14:29] PisaJan commented on #4257
@wing328 I am sorry, but I am currently working for the company and my personal time schedule is also a little busy.

[2016-11-28 14:57] ogreenz opened #4275 "[C#] Generate with a given namespace"
I would like an option in swagger-codegen-cli that would generate a given namespace and not the default Swagger.IO since I sometimes integrate the generated code into an existing solution.

[2016-11-28 15:35] wing328 commented on #4275
Have you reviewed the current options available for the C# client?
[code]

[2016-11-28 15:56] ogreenz commented on #4275
Sorry, wasn't aware of this config existence.

[2016-11-28 15:56] #4275 closed

[2016-11-28 16:54] lbilger commented on #4261
This also leads to errors and weird error messages when deserializing a generated class from JSON:
`javax.ws.rs.ProcessingException: com.fasterxml.jackson.databind.exc.InvalidFormatException: Can not construct instance of Foo$BarEnum from String value 'COMES_FIRST': value not one of declared Enum instance names: [COMES_FIRST, COMES_LAST]`

[2016-11-28 18:51] jbrugge commented on #4109
I tried this same situation with the old and new code, and the Swagger Parser update does seem to fix this problem.

Any sense for when a new release might get cut?

[2016-11-28 19:26] atdiff commented on #4242
This particular spec contains the API endpoints for the entire application.  Had thought of splitting them out into separate files, but this particular app isn't too large, so splitting them out seemed like overkill.  And since the codegen project allows filtering using the -D parameters, it seemed worthwhile to use those.

[2016-11-28 19:59] deveshpujari commented on #4114
When is v2.2.2 going to be released ?

[2016-11-28 20:34] antihax commented on #4269
@wing328 That is a very interesting API. It is using another library (https://github.com/google/go-querystring) to handle the url encoding which states that the "optional parameters" are determined by the following:

Would these cases be true for Swagger 2.0 optionals or would applying the same logic break from spec?

[2016-11-28 20:34] cwacekINV commented on #4095
I can confirm that this happens with retrofit2 as well. retrofit doesn't use the same debugging API, so that isn't enabled.

[2016-11-28 23:58] tgraupmann opened #4278 "[Android/Java] Generating Enum Values"
##### Description

When exporting to Android enums are generated as:

[code]

Versus a potential workaround:

[code]

##### Swagger-codegen version

Using: http://editor.swagger.io/#/

Loading from URL:
https://arena.razerzone.com/developers/documentation/client

Exporting to Android.

Importing to Android Studio.

Gradle reports the enum syntax error.

##### Steps to reproduce

1. Go to http://ed

[2016-11-29 00:25] tgraupmann opened #4279 "[Android/Java] Ambiguous Object"
Object has a namespace collision in JsonUtil.java

[code]

##### Description

Need to generate the namespace with Object to avoid collision.

##### Swagger-codegen version

Using: http://editor.swagger.io/#/

##### Swagger declaration file content or url

Loading from URL:
https://polling.arena.razerzone.com/swagger/docs/v1

Exporting to Android.

Importing to Android Studio.

Gradle reports the a

[2016-11-29 00:30] OneGeek commented on #4114
Been busy over the holiday, I will look into this this week. Thanks for taking a look.

[2016-11-29 01:46] jimschubert commented on #4242
@atdiff are you just passing `-Dapis -Dmodels`? These parameters without values mean "generate all apis" and "generate all models". If you want the apis and models limited to certain types, you have to pass the type names such as `-Dapis=A -Dmodels=AModel,ASubModel`. There's not currently any model association per API.

Here's the relevant code: https://github.com/swagger-api/swagger-codegen/blob/

[2016-11-29 03:19] jimschubert commented on #4206
I compiled the linked project in Rider, then decompiled the DLL using dotPeek, and the `PropertyChanged` is generated as expected (master 93b6099):

[code]

I ran the same test case in Visual Studio 2015 in Windows 10 and got the same result.

I'll try regenerating the client to see if maybe the sample was manually edited.

[2016-11-29 03:58] jimschubert commented on #4206
Did a little more digging into this issue. Version [2.2.0](https://github.com/swagger-api/swagger-codegen/blob/v2.2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CSharpClientCodegen.java) in the report doesn't support `generatePropertyChanged`. Neither do [2.2.1](https://github.com/swagger-api/swagger-codegen/blob/v2.2.1/modules/swagger-codegen/src/main/java/io/swagger/codeg

[2016-11-29 05:27] aleksei-saharov commented on #4262
Looks good:)
I understood your point.

1. OK. I hope I will work good
   a) Please, see again. You missed it.

2. a) OK, I will try default, but we have default _'default value'_ for `double`. It is **0**. May be it will be good to follow: property is required => parameter is non-optional and looks as `double Start = default(double)`?
   b) OK. I will see.

3. a) I need `List<double>` for use case

[2016-11-29 06:20] kpradeepkumarreddy commented on #3654
I'm trying to get headers for android client. how can i get the headers ?
my yaml file is as follows:-
------------------------------
paths:
  /login:
     post:
      summary: send mobileNum and otp to login
      description: send mobileNum and otp to login
      parameters:
        - name: args
          in: query
          description: send mobileNum and otp in args
          required: true

[2016-11-29 06:28] fehguy commented on #3654
I believe the codegen returns a POJO for the model and not the headers

[2016-11-29 07:05] kpradeepkumarreddy opened #4281 "Not getting headers in response for android client"
##### Description
I have generated code for android client that uses volley library.  I want to get headers from response. How can i get the headers from the response ???

##### Swagger-codegen version
swagger-codegen-cli-2.2.1.jar

##### Swagger declaration file content or url
[code]

  ##### Command line used for generation
java -jar swagger-codegen-cli.jar generate -i login1.yml -l android --li

[2016-11-29 07:34] wing328 commented on #4281
@kpradeepkumarreddy there should be a `WithHttpInfo` method (for every endpoint) to get the response headers as well as status code.

[2016-11-29 07:37] wing328 commented on #4242
@atdiff given that you don't want to remove unused models from the spec, another way is to leverage .swagger-codegen-ignore to skip certain files during code generation: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-to-skip-certain-files-during-code-generation

[2016-11-29 07:40] wing328 commented on #3654
@kpradeepkumarreddy please call the `WithHttpInfo` method (for every endpoint) to get the response headers as well as status code.

[2016-11-29 07:42] wing328 commented on #4281
If you need further help, let us know. Closing the issue for the time being.

[2016-11-29 07:42] wing328 commented on #4281
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-11-29 07:46] wing328 commented on #4274
Not that I'm aware of but you can always customize the [templates for Dart](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/dart) and pass it via the `-t` option.

[2016-11-29 08:14] wing328 commented on #4206
My understanding is that `additional-properties` can be intentionally set to false to turn off certain features. I believe @jfiala  has written a function to handle boolean value obtained via `additional-properties` or  CLI options. We need to review our code to use that to prevent the same issue from happening again.

[2016-11-29 08:34] wing328 commented on #4253
@WillaLuo yes, _with_http_info can return the response headers as well.

The spec you provided looks correct: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#headerObject but I don't think swagger codegen (python or other API clients) support `set-cookie` in particular at the moment.

[2016-11-29 08:34] #4253 closed

[2016-11-29 08:51] wing328 commented on #4269
You're right in saying that the Swagger spec does *not* use the same logic.

Here is another discussion related to Go optional parameters: http://stackoverflow.com/a/13603885/677735

[2016-11-29 08:56] cbornet commented on #4274
Swagger can certainly describe the outer structure of JSON-RPC (id, method, params fields, etc...) but I think it will be hard to describe the methods themselves since they are described in body objects ("SOAP" style) where swagger is oriented towards path objects ("REST" style). For instance it will be hard to link a method request (which would be a model) to its corresponding method result (anot

[2016-11-29 09:03] wing328 commented on #4095
Here is a discussion related to the issue "unexpected end of stream"

https://github.com/square/okhttp/issues/2147#issuecomment-171768924

It mentions about 2 workarounds but I've not tried any of those. Please give it a try to see how it goes.

[2016-11-29 09:21] kpradeepkumarreddy commented on #4281
Can you please explain your answer little more elaborately with an example.

[2016-11-29 09:26] kpradeepkumarreddy commented on #4281
Yes my company is using Swagger Codegen. I have added my company name to the list.

[2016-11-29 09:28] ircecho commented on #4271
Unfortunately, we do not have any publicly available code samples. And it would not be very interesting for this context either. Our API calls are pretty straightforward. For example:

[code]
And so on. As you can see, we are doing nothing out of the ordinary.

[2016-11-29 09:31] wing328 commented on #4281
@kpradeepkumarreddy my bad. We've not yet added that (WithHttpInfo method) to the Android (Volley) API client. Please use the Java API client which comes with the `WithHttpInfo`: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

For example:
[addPet](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main

[2016-11-29 09:48] wing328 commented on #4114
@deveshpujari we've not set a date yet. Please build the JAR based on the latest master for the time being.

[2016-11-29 09:50] wing328 commented on #4109
We've not set a date yet: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-long-does-it-take-to-release-a-stable-version-eg-215--216

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-11-29 09:50] #4109 closed

[2016-11-29 09:50] wing328 commented on #4114
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-11-29 09:58] ChrisJamesC opened #4284 "[Typescript/fetch] Can't use colon in query parameter name"
##### Description

If a query parameter contains a colon, the generated code is broken since they are interpreted as type information by the typescript compiler.

##### Swagger-codegen version

2.2.1 - This is not a regression

##### Swagger declaration file content or url
[code]

##### Command line used for generation

swagger-codegen generate -i hello.json -l typescript-fetch -o generated

#####

[2016-11-29 10:01] joeblew99 commented on #4271
thanks for response.

I think it would be really useful for others for examples that consume the output of the code gen to be in the repo.

So, shall i leave this open ?

[2016-11-29 10:10] kpradeepkumarreddy commented on #3654
what should i do to get the headers in response. I'm using android client and volley library.

[2016-11-29 10:13] wing328 commented on #4271
@ircecho @joeblew99 if you guys have cycle, I can work with you to automatically generate the documentation for endpoints and models in the Dart API client, similar to what we've done for other languages: e.g. https://github.com/wing328/test-php/blob/master/docs/Api/PetApi.md#addpet

[2016-11-29 10:20] ircecho commented on #4271
@wing328 What would you need?

[2016-11-29 10:21] kpradeepkumarreddy commented on #4281
can you please add the WithHttpInfo() method to the android(volley). Because, till now i was using android(volley) and i know how to use the code generated for android(volley).  Now when i generated the code for java (retrofit2 or okhttp-gson), the generated code is different from what is generated for android(volley).  Now with this newly generated code, i don't know how to make a request and get

[2016-11-29 10:25] wing328 commented on #4271
@ircecho as a starting point, I need to know which language (C#, Java, PHP, Ruby, etc) is similar to Dart so that we can borrow the documentation templates from other language to start with.

[2016-11-29 10:33] mpazdnikova opened #4285 "[C#] Not all referenced models are generated"
Hi.

I'm using swaggerhub and have difficulties with correct client code generation for C#. When I reference some model from my domain, it is generated fine, but if this model have references to definitions from that domain, that are not referenced in spec, they are not generated in client code.

For example in my spec I have:

[code]
And in domain:

[code]

Then in C# code there is mention of `So

[2016-11-29 10:53] joeblew99 commented on #4274
@cbornet i see what you mean. Basically, if i get this, denormalisation of the structure between REST and RPC is just too different and so reconstruction is just too much work. In other words it is not the right approach.

I actually want to have a REST / JSON API and a JSONRPC2 API running at the gateway level
Both of which map to the GRPC service behind the gateway.

I was looking at the GRPC co

[2016-11-29 12:50] wing328 commented on #3654
Please use the Java (okhttp-gson) API client instead.

[2016-11-29 13:01] wing328 commented on #4281
For Java (okhttp-gson) API client, it comes with documentation and the README.md is a good starting point.

[2016-11-29 13:02] wing328 commented on #4281
May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2016-11-29 14:14] antihax commented on #4269
This unfortunately is the same as the google method. Go is like C, an int cannot be nil or null; so in their example:

[code]
Results in a structure of: `{ a: 1, b: 0, c: 9 }`

Thus I am still leaning towards the best option being the use of interface{} which would allow any type and then perform type checking at runtime. The pro is that the API would remain the same, the cons are that developers

[2016-11-29 15:19] atdiff commented on #4242
@jimschubert I'm passing `-Dapis=AnAPI -Dmodels -DsupportingFiles`.  So I'm specifying that I want specific endpoints and want everything created.  But I would think that from that the generator can figure out which models are actually necessary for those endpoints and only generate those or at least only output those relevant models..  It doesn't logistically make sense if I'm "filtering" on APIs

[2016-11-29 15:22] atdiff commented on #4242
@wing328 thanks for the info but I don't think that would apply in this case since what we would skip could change each time.  Sometimes it might models for one endpoint, the next time it could be a different one and so on.  So the ignore file would have to change every time which seems like more of a hassle and not very adaptable and dynamic.

[2016-11-29 15:45] jeff9finger commented on #4226
#4251

[2016-11-30 03:40] tgraupmann commented on #4278
I made a Windows.Forms app to automate syntax fixes as a workaround. The ideal fix would be to fix the template. https://github.com/tgraupmann/SwaggerAndroidClientFixer

[2016-11-30 03:40] tgraupmann commented on #4279
I made a Windows.Forms app to automate syntax fixes as a workaround. The ideal fix would be to fix the template. https://github.com/tgraupmann/SwaggerAndroidClientFixer

[2016-11-30 04:21] poing opened #4288 "General Question: Get a list of languages"
I am looking for a list of the supported output languages BEFORE installing.  I don't want to install, then find it's not useful for my needs.

After browsing swagger.io where is only says I can run a command to generate a list, I found myself on GitHub.  Again presented with, there's a command to get a list.  But no list can be found WITHOUT installing.

[2016-11-30 05:00] fehguy commented on #4288
Sure, well you can look at the project:

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages

Or use the web service to output the list:

[code]
and
[code]

This is OSS so you can add your $.02 by submitting a pull request and/or specific documentation suggestion, the community would appreciate it.

[2016-11-30 05:00] #4288 closed

[2016-11-30 05:14] howshit opened #4289 "It seems that the groovy client doesn't work well"
##### Description
I generate groovy client, and find out that the post method doesn't attach any post body with the request.
As a result the request post with no body data.
Let me intercept some piece of code generated:

` def createUsersWithArrayInput ( List<User> body, Closure onSuccess, Closure onFailure)  {
        // create path and map variables
        String resourcePath = "/user/createWit

[2016-11-30 05:21] fehguy commented on #4289
Share the definition that you're using to generate the client with please

[2016-11-30 05:22] howshit commented on #4289
the definition is from
https://github.com/vorburger/swagger-codegen-gradle-plugin-example/blob/master/petstore-swagger.json

[2016-11-30 06:21] kpradeepkumarreddy commented on #4281
yes i have time to contribute the enhancement.

[2016-11-30 07:21] wing328 commented on #4289
@howshit I think it's something not yet implemented. If you look at the mustache template, it does not have anything to do with body parameters: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Groovy/api.mustache

As a workaround, can you generate the Java API client instead (which can be used in Groovy if I'm not mistaken)?

And may I know if

[2016-11-30 07:22] #4284 closed

[2016-11-30 07:24] wing328 opened #4290 "[Typescript] Handle query parameters containing colons"
##### Description

Similar to #4284, we need to fix the same issue for node, angular and angular2

##### Swagger-codegen version

Latest master

##### Related issues

#4284

##### Suggest a Fix

For Typescript-fetch, the issue has been addressed via https://github.com/swagger-api/swagger-codegen/pull/4287

[2016-11-30 07:32] wing328 commented on #4285
@mpazdnikova as a workaround, you can define the enum directly in the property itself.

I would also suggest you to try the latest master, which should support enum as a standalone class.

[2016-11-30 07:32] wing328 commented on #4285
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-11-30 08:23] howshit commented on #4289
@wing328 vielen Dank. and I wanna ask when it will be accomplished and released?

Also I will try to modify the template and work it out.

[2016-11-30 08:42] wing328 commented on #4271
@ircecho here is the doc I've come up with: https://github.com/wing328/swagger-codegen/blob/dart_add_doc/samples/client/petstore/dart/swagger/README.md

Please review to see if it looks good from your perspective

Disclaimer: I'm no expert in Dart

[2016-11-30 08:43] wing328 commented on #4271
PR: https://github.com/swagger-api/swagger-codegen/pull/4291

[2016-11-30 08:58] ircecho commented on #4271
The import statements need to be changed. Only the following is necessary:

[code]

The name `pet_store` depends on how the library is named, which is up to the user. You will know what is the correct value in this case.

Furthermore, it should be noted that it is necessary to include the library in the pubspec.yaml file. We are using a github reference and there are other ways, for instance inclu

[2016-11-30 09:06] wing328 commented on #4271
How's `pet_store` determined? Is it the `pubName`? I only found the following option for Dart client at the moment:
[code]

I'll update the installation with that

Can you also show how to include it from a local folder as well?

[2016-11-30 09:14] ircecho commented on #4271
Yes. The three values have to be the same: `pubName`, the name used in `pubspec.yaml` and the name used in the import.

The pubspec would look like this:

[code]

A full treatise on dependencies can be found here: https://www.dartlang.org/tools/pub/dependencies Dart users will already have some superficial knowledge about that.

[2016-11-30 09:20] wing328 commented on #4271
Updated: https://github.com/wing328/swagger-codegen/blob/dart_add_doc/samples/client/petstore/dart/swagger/README.md

Please take another look.

Can you also help review the sample code for authentication (HTTP basic, API key, OAuth)? https://github.com/wing328/swagger-codegen/blob/dart_add_doc/modules/swagger-codegen/src/main/resources/dart/api_doc.mustache#L31-L45

[2016-11-30 09:26] ircecho commented on #4271
Yes, this looks good now. Maybe you can add a hint, that `swagger` is dependent on the `pubName`.

As for the authentication, I cannot help you there. We do not use the built-in swagger authentication (even though we probably should :smile:).

[2016-11-30 09:32] wing328 commented on #4271
That's ok. We'll leave those as "TODO" for now.

[2016-11-30 09:48] wing328 commented on #4271
PR merged.

@joeblew99 please pull the latest master to give it a try.

[2016-11-30 09:49] joeblew99 commented on #4271
I will thanks

[2016-11-30 09:50] wing328 commented on #4271
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-11-30 09:57] ircecho commented on #4271
@wing328 Sorry that I noticed this so late. :pensive: The imports in README.md have changed and are correct now, but the imports in the other pages are still as they were before and need also be changed.

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/dart/swagger/docs/PetApi.md#addpet

[2016-11-30 10:00] pat91 commented on #1575
We are getting the same error. I removed any german characters but still it crashes with the exception:

`com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'swagger': was expecting ('true', 'false' or 'null') at [Source: src\main\resources\petstore.yaml; line: 1, column: 9] at com.fasterxml.jackson.core.JsonParser._constructError(JsonParser.java:1419)`

It only happens on windows.

[2016-11-30 10:15] wing328 commented on #4271
@ircecho No worry :) and it will be fixed via https://github.com/swagger-api/swagger-codegen/pull/4292

Thanks for performing another check.

[2016-11-30 10:30] wing328 commented on #4271
#4292 merged into master.

[2016-11-30 13:48] grEvenX commented on #3885
@gsujathap You need to specify `-l swift3`, not `-l swift` to generate Swift 3 compatible code.

[2016-11-30 13:54] wing328 commented on #4271
FYI. Dart API client already supports authentication (HTTP basic, API key, etc): https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/dart/api_client.mustache#L24-L29

so we only need to update the documentation with the correct sample code so that developers can more easily consume the Dart API client.

cc @yissachar

[2016-11-30 14:07] hantuzun commented on #4194
I've experienced the same issue as well.

[2016-11-30 14:07] gsujathap commented on #3885
currently I am not using ur library. Its not useful for my application.

[2016-11-30 14:09] JasonNorth commented on #3925
This fixes maxItems and minItems for me although it needs a release of swagger-core first:

https://github.com/swagger-api/swagger-codegen/pull/4293/commits/4d55d25f9f5180f6cbb685d4d5c4b85405f7a719

[2016-11-30 14:09] wing328 commented on #4235
@masterandrey do you know how other API clients (e.g. Python Facebook SDK, Python Twitter SDK, etc) handle exceptions in async call?

Ref:
- https://github.com/bear/python-twitter
- https://github.com/mobolic/facebook-sdk

[2016-11-30 14:18] ircecho commented on #4271
I assumed that the authentication was supported.

What I wanted to express was, that we are not using it in our clients yet even though it is supported and so I do not know how it works and cannot provide any examples.

[2016-11-30 14:38] wing328 commented on #4271
@ircecho yes, I know what you mean. I just want others reading this thread aware that authentication is supported in Dart API client and they know where to look for the code by the link I provided.

[2016-11-30 14:43] wing328 commented on #4281
@kpradeepkumarreddy thanks for offering help to contribute the enhancements. Here are the starting points.

1) you will need to generate "ApiResponse" model class: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/ApiResponse.mustache

2) you will need to add an "additional" method `{{nickname}}WithHttpInfo`: https://gi

[2016-11-30 14:47] Armenm commented on #300
Thanks @SteffenE this was very helpful :)

[2016-11-30 15:12] wing328 commented on #4194
@hantuzun as a workaround, please use the latest stable version 2.2.1 for the time being: https://github.com/swagger-api/swagger-codegen/releases

[2016-11-30 16:05] wing328 opened #4295 "Run mvn formatter:format for better code style/format"
##### Description

Run `mvn formatter:format` for better code style/format

##### Swagger-codegen version

Latest master

##### Related PR

https://github.com/swagger-api/swagger-codegen/pull/4214

[2016-11-30 16:14] nickcmaynard commented on #4295
Part of #3972.

Once you've done this, I'll do the easy bits and clear up modules `swagger-codegen-cli`, `swagger-codegen-maven-plugin` and `swagger-generator`.  `swagger-codegen` is going to be more of a community effort.

[2016-11-30 17:23] NikolaySl opened #4296 "[codegen] InlineModelResolver doesn't copy `required` parameter to new reference property"
##### Description

https://github.com/swagger-api/swagger-codegen/blob/v2.2.1/modules/swagger-codegen/src/main/java/io/swagger/codegen/InlineModelResolver.java#L249
Here new reference property is created instead on inline object property. But flag `required` is not copied to newly created property definition.
It leads that generated model is not relevant to swagger description.

Also in ModelImpl

[2016-11-30 17:40] wing328 opened #4297 "basePath set to null when generating API files"
##### Description

Due to refactoring, some variables (e.g. `basePath`) are set to null when generating API files.

https://github.com/swagger-api/swagger-codegen/pull/4224/files#r90283869

##### Swagger-codegen version

Latest master

##### Related issues

#4224

##### Suggest a Fix

We need to refactor those common variables into another function and run it before processing API, model-related o

[2016-11-30 18:41] tadhgpearson opened #4298 "[Java] Cannot build code generated by Maven plugin"
##### Description

I'm using the Maven plugin to generate Java code. Following the generation, I get errors compiling the generated code such as:
[code]
I'm surprised because I expect _Jersey client 1.18. JSON processing: Jackson 2.4.2_ to be used, as documented in the readme - why do I need GSON or OKIO. If I do, I can't find which dependencies I would need to add to resolve this issue - I am usi

[2016-11-30 19:33] tadhgpearson commented on #4298
Aha - the clue is in `JavaClientCodegen:56` which was updated in #3919

`        CliOption libraryOption = new CliOption(CodegenConstants.LIBRARY, "library template (sub-template) to use");
        libraryOption.setEnum(supportedLibraries);
        // set okhttp-gson as the default
        libraryOption.setDefault("okhttp-gson");
        cliOptions.add(libraryOption);
        setLibrary("okhttp-gs

[2016-11-30 19:48] tgraupmann commented on #4279
Trying to add Client: Android label...

[2016-11-30 20:13] tgraupmann opened #4300 "[Client:Android] HttpClient Timeout or Dependency Issues"
##### Description

I'm using the Swagger Android export to autogenerate the structures and client code for a REST API. I made a tool to apply some JAVA syntax fixes to get the Android Studio project to compile. I have some Gradle compile issues (upgrade, and dependency) that I apply so that the APK can be created. And then when using the EndPoint, I'm getting timeouts and the client doesn't appear

[2016-11-30 20:59] ggood commented on #3544
Sorry for not responding sooner - this addresses the issue for me. Thanks for the fix.

[2016-11-30 22:12] letspeak commented on #3345
I'm using swagger-codegen-2.1.6 and successfully generated serialized model classes through swagger-codegen-maven-plugin using serializableModel configOptions. However, I don't see the serialVersionUID added to the classes, neither I can find any documentation to include it. Any help would be appreciated. Thanks in advance.

[2016-11-30 23:31] tadhgpearson commented on #4298
OK - I managed to resolve this looking through the code and provided the above pull request to update the documentation. Hope that helps!

[2016-12-01 05:17] kpradeepkumarreddy commented on #2834
@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2016-12-01T05:40:15.666+05:30")

@javax.annotation.Generated is causing error in android. I had generated the code for java client (okhttp-gson library).   I have also added the following gradle dependency for resolving @javax.annotation.Generated
compile group: 'javax.annotation', name: 'javax.anno

[2016-12-01 06:57] wing328 commented on #2834
You can use the following option:
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`

[2016-12-01 07:17] wing328 commented on #4289
Thanks! Let us know if you need any help. I think the Java API client can act as a good reference for the fix.

[2016-12-01 07:22] sreeshas commented on #4154
Works as expected.

[2016-12-01 07:57] wing328 commented on #4297
PR merged.

[2016-12-01 07:57] #4297 closed

[2016-12-01 09:10] masterandrey commented on #4235
I am not sure they use multi-threading.
But I do not know for sure.

BTW For me async-await works pretty good.

Current implementation of swagger python client uses multi-threading if callback parameter is provided.
IMHO that's strange - better just await urllib call to have async version of the swagger client.

[2016-12-01 09:39] wing328 commented on #4279
@tgraupmann using namespace is one way to resolve the issue. I've instead added "Object" as a keyword for the time being so the model will be renamed to "ModelObject" instead: #4305

[2016-12-01 09:45] wing328 commented on #4300
@tgraupmann can you try using the Java API client instead to see if it works better for you?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-12-01 09:52] wing328 commented on #4278
@tgraupmann the Java API client should work better with numeric enum value. Please try the Java API client instead (which should work in Android environment as well):

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-12-01 10:03] wing328 commented on #4261
@DwayneJengSage your request sounds reasonable to me. May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

@lbilger which version of Swagger Codegen are you using? latest master?

[2016-12-01 11:21] wing328 commented on #3345
@letspeak are you looking for the following line in the auto-generated models?
[code]

Btw, 2.1.6 is pretty old. Please use the latest stable version 2.2.1 instead: https://github.com/swagger-api/swagger-codegen/releases

[2016-12-01 11:30] wing328 commented on #4279
Closed via #4305

Please pull the latest master to give it a try.

[2016-12-01 11:30] #4279 closed

[2016-12-01 11:46] mariomatar commented on #1176
+1

[2016-12-01 14:48] letspeak commented on #3345
Thanks @wing328 , even I have tried with 2.2.1 , however that did not added the below line:

private static final long serialVersionUID = 1L;

This is what I have in my pom, what else I'm missing

`
<configuration>
<inputSpec>${project.basedir}/src/main/resources/abc.yml</inputSpec>
<language>java</language>
<configOptions>
	<sourceFolder>gen</sourceFolder>
	<groupId>com.abc.xyz</groupId>
	<artifa

[2016-12-01 21:03] gayathrigs commented on #4171
Thank you. I think I have a fair idea of what needs to be done. I will keep you posted with the updates.

[2016-12-01 22:10] DwayneJengSage commented on #4261
@wing328 I can probably spare a day or so. Point me in the right direction, and I'll see what I can do. Thanks!

[2016-12-01 22:15] tgraupmann commented on #4300
I can confirm that the JAVA exported code when imported into Android Studio and run on Windows works as expected.

I will attempt on Android to do further testing...

[2016-12-02 00:10] taxpon commented on #4163
@wing328 @vproman Hi I am interested in working on this issue, but I am wondering how swagger-codegen works in other languages (Java, Ruby..) regarding this issue. In my opinion, swagger-codegen should provide some generation logic among multiple languages. @wing328 what do you say?

[2016-12-02 00:43] tgraupmann commented on #4300
These are the changes that I made to make the Swagger JAVA client work on Android.
https://github.com/tgraupmann/SwaggerJavaExportFixes/commit/908d7dbf4ebd30087ecb7dc5387b0893de70843b

[2016-12-02 01:49] nmaoTV commented on #3885
@grEvenX  tried swift3 and got this:
Exception in thread "main" java.lang.RuntimeException: Can't load config class with name swift3

not supported anymore?

[2016-12-02 01:57] wing328 commented on #3885
@nmaoTV are you using the latest master and build the JAR locally?

[2016-12-02 02:02] antihax commented on #4269
See PR #4306

[2016-12-02 03:02] nmaoTV commented on #3885
@wing328 java -jar swagger-codegen-cli-2.2.1.jar generate -i xxx.json -l swift3 -o testSwift3/
something like this

[2016-12-02 03:06] wing328 commented on #3885
@nmaoTV that's not the latest master. You will need to pull the latest master and run `mvn clean package` to build the JAR locally.

(2.2.1 is the latest stable version)

[2016-12-02 03:10] nmaoTV commented on #3885
@wing328  oh yeah! works on master! thank you~

[2016-12-02 03:11] alechenninger opened #4307 "Support maxProperties (and/or consider for oneOf semantics)"
##### Description

maxProperties does not appear to be used in swagger codegen.

##### Swagger-codegen version

commit: fdb6d30 (2.2.2-SNAPSHOT)

##### Suggest a Fix

maxProperties could be used to indicate only N fields should be non-null. Where n=1, this is "oneOf" semantics.

For example:

[code]

For objects with maxProperties, setters could validate at runtime whether the maxProperties count

[2016-12-02 03:15] #3885 closed

[2016-12-02 03:15] wing328 commented on #3885
No problem :)

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-02 08:49] wing328 commented on #4163
@taxpon thanks for offering help to fix this issue.

I totally agree with you that we should take a consistent approach and I've filed https://github.com/swagger-api/swagger-codegen/pull/4310 to fix the same issue for the Ruby API client using `hasConsumes`, `hasProduces`.

Please review and let me know if you've any question.

[2016-12-02 09:05] wing328 commented on #3345
@letspeak I've filed https://github.com/swagger-api/swagger-codegen/pull/4311 to add the following line in the Java model when the `serializableModel` option is switched on:
[code]

[2016-12-02 10:00] wing328 commented on #3345
@letspeak PR merged into master. Please pull the latest to give it a try.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-02 10:08] DeathTickle opened #4312 "[JAVA] Bug generating ApiModelProperty example parameter for objects and enums"
##### Description

When generating a Java client, the example parameter in the ApiModelProperty annotation of a POJO is set to null for Java objects and enums regardless of the example value in the swagger file.

##### Swagger-codegen version

I have tested this on the 2.2.2-SNAPSHOT I built from git and the 2.2.1 release I downloaded from maven.

##### Swagger declaration file content or url

[co

[2016-12-02 12:53] lbilger commented on #4261
@wing328 I am using the latest release of the swagger-codegen-maven-plugin (2.2.1).
The language is set to "jaxrs".

[2016-12-02 13:44] NfNitLoop commented on #4269
What about accepting pointers for optional values?  That way, you can pass a nil, or a pointer to a value, to specify whether that value should be specified in the request.   Ex:

[code]

[2016-12-02 13:59] antihax commented on #4269
You lose the ability to pass anonymous variables in the function parameters, which is very inconvenient.

[code]

results in `cannot use "some other string" (type string) as type *string in argument to takesAString`

[2016-12-02 14:07] NfNitLoop commented on #4269
That's a fair criticism. But it's also easy to work around.

[code]

A little less convenient, but worth it for the compile-time type checking, IMO.  (I don't do a lot of development in Go, though, so maybe doing runtime reflect-y stuff is more idiomatic than I imagine?)

[2016-12-02 14:26] antihax commented on #4269
I agree it is also easy to work around.

My reasoning is that with interface{}
1. The function can be called as is, with no changes to arguments or variables.
2. Races are not introduced as arguments are passed by value.
3. An incorrect type should be caught fast during development or through testing; just inconveniently.
4. The only downside I see, is the loss of compile time type checking and vi

[2016-12-02 15:19] letspeak commented on #3345
@wing328  that did work, thanks.

[2016-12-02 16:11] #3345 closed

[2016-12-02 16:25] wing328 commented on #4261
@DwayneJengSage Thanks for offering help. I may be able to work on this feature over the weekend. If not, I'll send you more details. Stay tuned.

[2016-12-02 23:54] jeff9finger commented on #4226
@wing328 Please take a look at this pr for this issue.

[2016-12-03 00:41] tgraupmann commented on #4300
I ran into some JSON date parsing issues related to: http://stackoverflow.com/questions/21839143/jodatime-string-yyyy-mm-ddthhmmss-z-to-datetime

I altered JSON.java to use the suggested DateTime parser.

[code]

[2016-12-04 01:04] alechenninger opened #4315 "[jaxrs-(resteasy|spec)] Bug generating arrays of enums"
##### Description

Objects with a property that is an array of enums generates code that does not compile with server JAXRS code generation.

Client code generation (at least the default -l java configuration) does not have the same issue.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]

[code]

##### Command line used for generation

swagger-c

[2016-12-04 03:59] gayathrigs commented on #4171
@wing328 I have the draft version working . I forked from master. Can I push my changes there? I am not familiar with the procedure. Please let me know.

[2016-12-04 07:52] readnotify opened #4317 "Unhelpful and suspect error "instance failed to match at least one required schema among 2""
The UI is simply displaying that error - google suggests that the payload carrying that error has significantly more detail, except the UI is not rendering any of it: there needs to be a way to see the entire error, not just this small description.

And, on the subject of the error itself: it suddenly started today, I don't think it's correct - all my backed-up YML produces the same error now, but

[2016-12-04 08:31] wing328 commented on #4171
@gayathrigs you will need to submit a PR (pull request) by going to https://github.com/gayathrigs/swagger-codegen and click on the "New pull request" button.

[2016-12-04 11:43] zxy198717 opened #4318 "[Swift3] Bug when handling java date"
##### Description

`Java date` cannot covert to `swift3 date` on iPhone 5C

##### Swagger-codegen version

Master branch

##### Swagger declaration file content or url

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/Models.mustache
Line 144
[code]
##### Suggest a Fix

[code]

And suggest to add simple date format `yyyy-MM-dd HH:mm:ss`:

[2016-12-04 20:01] alechenninger commented on #4315
Looks like this is unique to jaxrs resteasy and jaxrs spec. There is a lot of duplication between the various java codegens. Maybe these should be refactored to share some common code so they don't get so out of sync.

[2016-12-04 21:51] sreeshas commented on #3474
I'm little confused here. Can someone clarify my doubts?
example can be used in polymorphic way, because it declares a discriminator.
subexample "extends" from example ( because example can be used in a polymorphic way)

Shouldnt' subsubexample extend example because example was the one who defined the discriminator?
if subsubexample extends subexample, doesn't it mean subexample can be used in a

[2016-12-04 22:02] sreeshas commented on #4226
It is not explicit as mentioned by @cbornet but aren't discriminators by definition unique? If you have two discriminators for an Object, the server/client would have to look at two fields to decide the behavior.

I couldn't find the documentation. I believe the discussion here https://gist.github.com/leedm777/5730877 should be moved to wiki.

if it is not forbidden does it mean DailySubObj must b

[2016-12-05 02:07] jimschubert commented on #4317
@readnotify are you referring to the UI of https://github.com/swagger-api/swagger-editor? If so you'd probably want to open a bug on that project.

If it's in the UI of the generator (https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-generator in this repository), can you provide repro steps and a limited sample YAML file?

[2016-12-05 02:14] jimschubert commented on #4285
@wing328 @mpazdnikova when you say `[link to domain]` are you talking about external refs? If so, there are open issues #4103 and #4135 for tracking the problem with the parser in JSON and YAML respectively.

[2016-12-05 02:50] beingcoder opened #4319 "Can I ask if Swagger Codegen support Bean Validation 1.0 JSR-303 for Model definition in Java implementation?"
##### Description

I tried , looks like it does not support Bean Validation,  can you please conform?  thanks

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-12-05 03:35] jimschubert commented on #4262
@aleksei-saharov

Sorry for the late follow up. I've been sick.

1.a: I think the entirety of your first question is addressed in that #4145 PR. Can you build that branch and verify? If enums are broken for required true/false, that's a bug that would need to be fixed.

2.a: There's a slight disconnect between my original answer here and your follow up question.

I know you touched on this, but I

[2016-12-05 09:30] wing328 opened #4320 "PowerShell module"
##### Description

To add a code generator to generate PowerShell module for accessing REST API.

##### Swagger-codegen version

Future

##### Details

If anyone is interested in or has already started working on a code generator for PowerShell module, please reply to let us know.

[2016-12-05 11:28] Richard210363 opened #4321 "https://generator.swagger.io/#/ generates bad zip files"
##### Description

I was looking to add swagger-codegen to my C# project so I looked at the example page at https://generator.swagger.io/#/

I notice that when I generate code (I tried Java, CsharpDotNet2 and csharp) that the created zip files are invalid and won't open.  ( I tried 7-zip and Windows 7)  .  7-zip reports CRC errors and Windows 7 says the archives are corrupt.

##### Steps to reprod

[2016-12-05 13:01] wing328 commented on #4321
@Richard210363 I did a test with Petstore (full) example and could unzip the C# SDK without issue.

(editor.swagger.io leverages https://generator.swagger.io to generate codes and generator.swagger.io is powered by this project - swagger codegen)

[2016-12-05 13:32] Richard210363 commented on #4321
OK.  I've now tried on 3 PC and 2 different networks and I still get a corruption error with both Windows 7 and 7Zip.
I'm downloading the zip- at the end of the Response Body link.

[2016-12-05 13:33] jeusdi opened #4322 "header parameters are not included on http request (typescript/angular2)"
##### Description

I've generated my client using typescript2/angular2 language.

I'm not able to figure out what's been generated and how to use the artifacts.

As far I've been able to figure out, headers are not included on request in `create` method (`user` and `passwd` parameters). Otherwise, I don't understand how requests are made. I've set a breakpoint inside `map` method callback and it's

[2016-12-05 13:39] wing328 commented on #4321
What browser are you using? I did the test with Chrome.

As a workaround, you can use Swagger Codegen CLI (Java JAR) locally in your machine: https://github.com/swagger-api/swagger-codegen#prerequisites

[2016-12-05 13:40] wing328 commented on #4322
@jeusdi I believe the latest master has better support for header parameters in TS Angular2 API client. Please pull the latest master to give it a try.

[2016-12-05 14:41] jeusdi commented on #4322
Is there some repository showing how to use these artifacts?

[2016-12-05 14:44] wing328 commented on #4322
https://github.com/swagger-api/swagger-codegen#getting-started is a good starting point to build the JAR locally.

[2016-12-05 14:44] Richard210363 commented on #4321
I tried Chrome as well.
Re the link you gave, thanks but I don't really want to waste time installing it when the example on the web fails.

[2016-12-05 14:46] wing328 commented on #4321
I don't need to manually extract the link from the response body. Chrome does it for me. Is that your experience as well?

[2016-12-05 14:48] jeusdi commented on #4322
I meant a repository sample using typescript/angular2 code generated...

[2016-12-05 15:00] Richard210363 commented on #4321
I use the link as displayed in the SwaggerUI response.
Chrome then downloads the file.

On 5 December 2016 at 14:46, wing328 <notifications@github.com> wrote:

[2016-12-05 15:17] ogreenz commented on #2886
I don't know if I should reply here / start an issue. So basically `project.json` is a dead horse and in VS 2017 RC ASP.NET Core projects are created with a `.csproj` any chance there will be porting for that convention?

[2016-12-05 15:19] antihax opened #4323 "a new go-resty client is created per request."
##### Description
Go Client is creating a new go-resty client (and thus http.Client) per request which is inefficient and preventing KeepAlive from functioning.

##### Swagger-codegen version
2.3.0 HEAD

##### Suggest a Fix
Move client and services to APIClient.

[2016-12-05 15:30] wing328 commented on #4321
Can you try https://editor.swagger.io instead to generate the SDK?

[2016-12-05 15:33] wing328 commented on #4321
Here is the test I did with `curl`, which works as expected:
[code]

[2016-12-05 15:45] wing328 commented on #2886
@ogreenz I would suggest you to open a new issue for tracking and link to this one.

[2016-12-05 15:48] jimschubert commented on #2886
We'll want this behind a flag (even if it's the new default behavior), because not all devs track on the latest Visual Studio. I was waiting until general availability before doing an update, because the .NET Core stuff is known to change on a dime.

[2016-12-05 15:55] Richard210363 commented on #4321
I don't have CURL (windows) and my users wouldn't want to get the code that way anyway.

I'm not sure what I am to do in the editor to resolve this problem?

[2016-12-05 15:59] wing328 commented on #4321
editor.swagger.io is another GUI for generator.swagger.io. Instead of using the swagger-ui that comes with generator.swagger.io, you can use editor.swagger.io instead to generate Java, C# SDK.

[2016-12-05 16:11] ogreenz commented on #2886
@jimschubert Well to be honest swagger kind of "forced" me to used the latest .NET Core stuff when it deprecated the `.csproj` in favor of the `project.json`. And because I have in my solution "old" `.csproj` projects, they don't like to play together and make my life harder. So now I'm transitioning into the "new" `.csproj` in the hopes that it will resolve my issues. But I completely understand

[2016-12-05 20:50] sfncook commented on #3336
I found that if I modified the index.js file such that the code (borrowed from @sherdeadlock's initial post above) with the define method can be modified to include "./" before each file name like this:
`define(['./ApiClient', './api/DefaultApi'], factory);`
this seemed to "fix" the compilation of that file.

[2016-12-06 02:29] www2k commented on #4322
@wing328 @sebastianhaas

Let me explain why this happens.

[typescript-angular2/api.mustache (2.2.1, latest release)](https://github.com/swagger-api/swagger-codegen/blob/v2.2.1/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache)
[typescript-angular2/api.mustache (master, 87cb779fd465a0ba50cfd55684ed56fe7bbcddd8)](https://github.com/swagger-api/swagger-codegen/blob/87cb779f

[2016-12-06 10:01] RaphC opened #4327 "JavaJaxRS spec : formParam uses Attachment which is CXF specific"
##### Description

When using JavaJaxRS to generate API with an endpoint consuming a form to upload a file, the plugin  translate file param data type in Attachment (org.apache.cxf.jaxrs.ext.multipart.Attachment) which is a CXF class. If we use another JaxRS implementation the compilation of generated API failed. The choice should be depends on JAX-RS  implementation

##### Swagger-codegen version

[2016-12-06 10:56] jeusdi commented on #4322
Thanks @wing328 . Currently, I'm using a stable releases on angular2 (2.2.4). I don't quite understand what would I do from now on.  Could you you suggest me any steps in order to clean it up?

[2016-12-06 11:01] sebastianhaas commented on #4322
Thanks for the clarification @www2k. Sorry seems like I messed up there. I provided fixes for both the current `master` and the `2.3.0` branch in #4328 and #4329.

@jeusdi you could try to checkout #4328 run `mvn package` and see if your issue is resolved.

[2016-12-06 11:36] aleksei-saharov commented on #4262
Ok. I will try to see branch but our company use paid _SwaggerHub_ subscription and it is very important for us to have stable swagger web-client.
For _SwaggerHub_:
1. `default `instead `null `still not work
2. We prefer to use `allowEmptyValue` if it will be supported for list items. `Cast<T>` is good but code generator will use our clients who do not know about not null list items. In class cons

[2016-12-06 11:44] jeusdi commented on #4322
Currently I'm in `master` branch. Do you suggest me I checkout `2.3.0` branch and rebuid the package? What do you mean with `checkout #4328`?

[2016-12-06 11:50] andriuskl commented on #2463
I also need a cancelable request. My suggestion is to create a protocol `Cancelable` and hide a cancelation logic inside it:

`public protocol Cancelable {
    func cancel()
}`
Then add a `cancelable` property to `RequestBuilder`:
`var cancelable: Cancelable?`
Finally, assign a `cancelable = AlamofireCancelable(request: request)` when request is ready  in `processRequest`. Where `AlamofireCancelab

[2016-12-06 11:57] andriuskl commented on #2463
Another approach is to pass a cancelable when it is ready the same way as `onProgressReady`.

[2016-12-06 12:37] sebastianhaas commented on #4322
Use git to checkout https://github.com/sebastianhaas/swagger-codegen/tree/fix4322. You can rebuild the package then and see if my fix works for you.

[2016-12-06 13:18] jeusdi commented on #4322
It seems it's working file by now (headers are added on request). Nevertheless, I'm detecting the request method it's sending has an `OPTIONS` method instead of `PUT`... Any ideas?

[2016-12-06 13:58] sebastianhaas commented on #4322
So you can confirm my fix is working for you?

Do you have `OPTIONS` as HTTP method generated in your Typescript API or in your browser network tab? In the latter case, it's most likely a CORS preflight request. https://www.w3.org/TR/cors/

[2016-12-06 14:04] MatanRubin opened #4330 "[JAXRS-CXF] Wrong return type when returning arrays"
##### Description
I have a swagger definition file where the response for `listBooks` contains an array of `Book`s.
When generating static HTML documentation everything looks fine - the return type of the method is `array[Book]`:
![swagger-html](https://cloud.githubusercontent.com/assets/4488227/20928143/1838401c-bbcd-11e6-83d6-c2052243cadb.PNG)

Similarly, when generating JAVA code the return typ

[2016-12-06 16:01] wing328 commented on #4322
FYI. Fixes by @sebastianhaas  merged into master and 2.3.0 branch. Please pull the latest to give it a try.

Thanks @sebastianhaas for the quick fix.

[2016-12-06 16:07] jeff9finger commented on #4226
"If you have two discriminators for an Object, the server/client would have to look at two fields to decide the behavior."

Just to be clear, there are not 2 discriminators defined in the same object definition is the swagger specification. But an object that is at least 2 levels "deep" could have a discriminator on its immediate base class, and that class could have a discriminator on its base cl

[2016-12-06 17:05] wing328 commented on #4206
@lunat #4280 merged into master. Please pull the latest and give it another try.

[2016-12-06 17:05] #4206 closed

[2016-12-06 17:28] wing328 commented on #4228
@yohanakh thanks for the PR. Are you referring to those boolean value in the config.json not being parsed correctly?

[2016-12-06 17:29] wing328 commented on #4319
@beingcoder are you using the latest master? I believe some works have already been done related to support Java bean validation in the models.

[2016-12-06 17:30] wing328 commented on #4318
@zxy198717 do you mind submitting a PR so that we can review the change?

[2016-12-06 17:58] yohanakh commented on #4228
@wing328 yes, the boolean values in config.json

[2016-12-06 18:07] wing328 commented on #4194
@hantuzun I was able to fix the issue by fixing the swagger spec.

Can you share the spec so that we can take a deeper look at the issue for your case?

[2016-12-07 03:01] zxy198717 commented on #4318
@wing328 Done.

[2016-12-07 03:16] wing328 commented on #4330
@MatanRubin thanks for reporting the issue. May I know if you've time to contribute the fix? If yes, I can show you some good starting points.

[2016-12-07 03:52] wing328 commented on #4318
@zxy198717 ok. I'll run some tests.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-07 04:01] wing328 commented on #4327
Not that I'm aware of

[2016-12-07 04:42] hantuzun commented on #4194
Hi @wing328. Thanks for reporting the issue. Our spec is available at: https://github.com/suggestgrid/suggestgrid-rest/blob/master/spec/swagger.yaml

[2016-12-07 04:48] romk1n opened #4333 "[swift] keep-alive not working"
##### Description

It looks like the way the Alamofire is implemented we loosing all of the keep-alive sessions because every request has it's own manager. Is there is a way to have keep-alive enabled that would greatly reduce latency on SSL connections. The code in question is this one https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/swift/default/PetstoreClient/

[2016-12-07 06:56] wing328 commented on #4333
@romk1n is it correct to say that the `swift3` client has the same issue?

If `swift3` client does not have similar issue, we might be able to port the fix to `swift` client.

[2016-12-07 06:56] wing328 commented on #4333
cc @jaz-ah @Edubits

[2016-12-07 08:03] skondratov commented on #2099
This problem still actual for CsharpDotNet2 generator.

[2016-12-07 08:09] wing328 commented on #2099
@skondratov what about `csharp` generator?

If C# client does not have similar issue, we can port the fix to `CsharpDotNet2` generator

[2016-12-07 08:30] skondratov commented on #2099
@wing328 `csharp` generator does not introduce properties with type UUID for my swagger config, `CsharpDotNet2`  generator does.

I did not review fix, but result certainly should be same: Guid instead of UUID

https://msdn.microsoft.com/en-us/library/system.guid.aspx

[2016-12-07 08:34] wing328 commented on #3336
@sfncook Here is a similar answer on updating webpack config: https://github.com/swagger-api/swagger-codegen/issues/3466#issuecomment-237292652

Does adding "./" break the existing solution/workaround (updating webpack config)?

If it doesn't, we can add "./" as a permanent solution by updating the JS mustache template.

[2016-12-07 08:45] wing328 commented on #2099
C# generator already has the correct type mapping for `uuid`: https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L136

Are you using the latest master when testing the C# generator?

[2016-12-07 08:46] wing328 commented on #2099
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-07 09:24] wing328 commented on #2099
@skondratov can you also share the spec so that we can review to ensure it's defining the property in `uuid` correctly?

[2016-12-07 10:29] henrikbulldog commented on #4273
Looks like the problem here is no support for using same name for property and definition: IntegerValue

[2016-12-07 10:46] GuangLinLau opened #4336 "[Swift3]swift build fail."
Hello,

 language: Swift3/library:RxSwift

`        return Observable.create { observer -> Disposable in
            HiddenDanger(id: id, action: action) { data, error in
                if let error = error {
                    observer.on(.error(error as Error))
                } else {
                    observer.on(.next(data!))
                }
                observer.on(.completed)

[2016-12-07 11:20] aleksei-saharov opened #4337 "[C#] Naming conflict"
Hi all

I have an issue about class name conflicts.
If I create definition with name `"Parameter"` client code generator create `class Parameter`. When it create Api classes it do not resolve any naming conflicts. And code is uncompilable.

YAML:
[code]
C# result:
![image](https://cloud.githubusercontent.com/assets/9149712/20965682/f2bf57d8-bc87-11e6-9f8f-8b0908f47d78.png)

_Expected result:_ name

[2016-12-07 12:01] wing328 commented on #4248
@yucer FYI. I fixed the max and min mustache tag with https://github.com/swagger-api/swagger-codegen/pull/4335. I don't think the PR will fix this issue as well but worth giving a try anyway if you've time.

[2016-12-07 12:15] aleksei-saharov commented on #4273
@henrikbulldog not an issue
We can create equal class name and instance name and code generator will do it correct.
If it embarrass you I can change property name: `IntegerValue->IntegerValueProperty`
[code]
Result will be equal: Derived class body **equal** to base class body. No new properties and coping base properties.
Derived and base class different **only** with name line and constructor na

[2016-12-07 12:27] xunxky commented on #3749
but how!

[2016-12-07 12:36] aleksei-saharov commented on #4262
@jimschubert go back to your [link](https://github.com/swagger-api/swagger-codegen/blob/90512e6326d5e7aff4dd21a649b8616012da9974/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Model/FormatTest.cs#L332)
Scroll up. You will see comments:
[code]

But if we back to `Validate `method. There is strange behavior:
`Password `is check for `null `[here](https://github.com/swagger-api/swagger-co

[2016-12-07 12:48] aleksei-saharov commented on #4262
4. I check `default=0`. It is not working for properties and arrays:
YAML:
[code]
C# constructor:
[code]

Nothing about `default `value.

PS: Again! It is about **WEB** _SwaggerHub_ interface. We PAID for it and we do not want to use any _brunches_!

[2016-12-07 12:49] aleksei-saharov opened #4338 "[C#] Not full Validation method"
Hi, all

I found some problems with `Validation` method.
For YAML:
[code]
`Validation `method:
[code]
There is **no**:
1. Check properties for null (properties are **required**!)
2. There is no `minItems`, `maxItems `validation !

**PS**: Our company use full **PAID** _SwaggerHub_ subscription and we do not interested in using any brunches or somethins else. Only stable _Web SwaggerHub_ interface!

[2016-12-07 14:52] MatanRubin commented on #4330
Hey @wing328, thanks for confirming this is a bug. I spent some time debugging the issue and I think I have a fix. Will create a PR soon.

[2016-12-07 15:56] CaileenD opened #4341 "Accessing $ref properties within another property in a model.mustache template?"
##### Description

I am a beginner with Swagger Codegen. I am creating a custom generator. Let's say I have two models in my swagger.json file, one of which has a property which references the other model. I would like to access the properties of the accessed model through the property that is referencing it in my model.mustache file.
Is it possible for a property to have properties of its own, an

[2016-12-07 15:58] wing328 opened #4342 "Update CI tests to check for 0xD in the mustache template files"
##### Description

We need to better way to automatically check for 0xD (^M in vim) in the mustache template files.

Ideally the check should be performed by the CI (travis, shippable or appveyor)

##### Swagger-codegen version

Latest master

##### Suggest a Fix

A good starting point is .travis.yml and perform the check using a bash script.

[2016-12-07 16:20] skondratov commented on #2099
I use [swagger-codegen-cli-2.2.1.jar](https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen-cli/2.2.1/swagger-codegen-cli-2.2.1.jar), took it here: http://swagger.io/docs/#swagger-codegen-documentation-9

btw: Just checked 2.3.0 -- same result.

I prepared example for you:
https://gist.github.com/skondratov/c324b3cfde8ee98e27a03d2c5a3f804f/revisions

I took standard exa

[2016-12-07 17:05] jaz-ah commented on #4333
@wing328 swift3 will have the same issue - @romk1n do you have a fix proposal?

[2016-12-07 17:12] romk1n commented on #4333
@wing328 how do you generate swift3 models? we still using swift 2.3 for now.

@jaz-ah i made the following changes at the moment which resolve the issue, we are in process of testing it
https://github.com/romk1n/swagger-codegen/commit/7e3713adfcc72a9b0df5b537c3dd088369f9880f

[2016-12-07 17:25] skondratov commented on #2099
Prepared PR: https://github.com/swagger-api/swagger-codegen/pull/4343

[2016-12-07 17:33] mtsvetanov commented on #4226
This is some possible interpretation, but the OpenAPI spec, doesn't say anything about this case, it doesn't enforce this (or any other) interpretation. It seems that the multiple levels of allOf-based composition or the multiple discriminators possibility was just not taken into account when designing/describing the discriminator semantics.

This seems like a huge gap in the specification to me w

[2016-12-07 17:59] jeff9finger commented on #4226
See "related issues" section for the question asked in the OpenAPi project. [OpenAPI Issue 848](https://github.com/OAI/OpenAPI-Specification/issues/848)

I think the whole issue of inheritance this will be addressed in the next version of the OpenAPI spec.

I am assuming that a discriminator is valid until another one is declared. This allows the behavior in [Issue 2449](https://github.com/swagger

[2016-12-07 20:31] skondratov commented on #2885
Hi @wing328,

do you know any workarounds to force CSharpCodegen create non Nullable fields for primitives? Namely for `required: true` or `x-nullable: false` fields.

Do you have some roadmap or place where i can vote for feature? :)

[2016-12-07 23:45] jackjwilliams opened #4344 "[CSharp] Bug using build.bat with generation"
##### Description

Cloned and built swagger-codegen from master. Needed to use the new notifyPropertyChanged=true template additions.
Ran generator against api (works fine, files get generated).
Ran build.bat - fail

##### Swagger-codegen version

Clone from master

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

ja

[2016-12-08 00:20] jackjwilliams commented on #4344
Figured out the fix for build.bat:

[code]

You must /r:System.ComponentModel.DataAnnotations.dll (I wasn't sure how or where it pulled it from, I'm guessing the GAC). I will create a PR.

[2016-12-08 02:02] wing328 commented on #4333
Please provide `-l swift3` instead of `-l swift` when using the swagger codegen CLI JAR.

[2016-12-08 02:09] sreeshas opened #4346 "[Java] CodegenModel's discriminator property is not set for a model when it is composed using allOf"
##### Description

When a model A is composed from another model B, which has declared a discriminator,
discriminator field of CodegenModel for A should be value of discriminator field of model B.
But, it is set to null.

Consider test case "handle inheritance from composed model" in CodegenTest.java which uses
src/test/resources/2_0/allOfTest.yaml .
child.discriminator should be "disc". But it is

[2016-12-08 03:19] jeff9finger commented on #3474
It is my understanding that when ```allOf:``` references another definition that does not contain a discriminator, that the Java class will "extend" the other definition, but there will not be Jackson annotations on the classes that will allow correct serialization and deserialization.

The ```discriminator``` in a definition enable the generation of the Jackson annotations on the Java  classes.

[2016-12-08 03:36] romk1n commented on #4333
@wing328  Thanks, i guess it's not available in the currently released version, but only in the master branch

[2016-12-08 04:13] skondratov commented on #2099
@wing328 btw: CsharpDotNet2 does not extend AbstractCSharpCodegen

[2016-12-08 04:52] wing328 commented on #2099
Yes, I'm aware of that. I'll try to port the fix later today. Will keep you posted.

[2016-12-08 06:51] wing328 commented on #4322
@jeusdi may I know if you've a chance to test the latest master to confirm it's no longer an issue?

[2016-12-08 07:03] henrikbulldog commented on #4273
OK, I see

[2016-12-08 07:10] wing328 commented on #2099
Filed #4347 to fix it.

The test result using the gist you provided looks good:
[code]

[2016-12-08 08:01] wing328 commented on #2099
@skondratov PR merged into master. Please pull the latest master to give it a try.

Currently, C# 2.0 API client does not come with auto-generated documentation and code sample. If we add those, would you have time to review?

[2016-12-08 08:13] wing328 commented on #2885
The workaround is to customize the generator (e.g. type mapping) and the mustache template (e.g. remove check for required parameter if it's a primitive type)

No timeline on when non-nullable field will be supported in C# API client.

Please vote up on https://github.com/swagger-api/swagger-codegen/issues/2885#issuecomment-221204150 if you want support for x-nullable (or x-isNullable)

[2016-12-08 08:14] wing328 commented on #4344
Closed via https://github.com/swagger-api/swagger-codegen/pull/4345. Thanks @jackjwilliams for the contribution.

[2016-12-08 09:07] skondratov commented on #2099
@wing328, sure.

[2016-12-08 09:10] MatanRubin commented on #4330
PR for this issue can be found here: #4339

[2016-12-08 09:16] #4344 closed

[2016-12-08 11:04] imgx64 opened #4350 "Missing android/enum_outer_doc.mustache"
##### Description
When I try to generate an Android client with Volley, and the swagger declaration contains `enum`, the following exception is thrown:
[code]

##### Swagger-codegen version
2.2.2-SNAPSHOT, built from git.

##### Swagger declaration file content or url
[code]

##### Command line used for generation
[code]

##### Steps to reproduce
Use the above swagger declaration with the above co

[2016-12-08 12:39] RaphC commented on #1176
Hi @kumartheashwani

Did you work on this ?

[2016-12-08 14:27] wing328 commented on #4350
@imgx64 as a workaround, please use the Java API client (which is compatible with Android) instead while we're looking into the issue.

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android

[2016-12-08 14:29] wing328 commented on #4338
`minItems`, `maxItems` will be supported via https://github.com/swagger-api/swagger-codegen/pull/4309

[2016-12-08 14:31] wing328 commented on #4194
@hantuzun as discussed over email, you could no longer repeat the issue, which may have been changed/updated over the week.

If you still experience this exception, we'll reopen this issue for tracking and look into the issue further.

[2016-12-08 14:31] #4194 closed

[2016-12-08 15:09] jackjwilliams commented on #4344
No problem @wing328, glad to help.

[2016-12-08 15:15] yannickadam commented on #4258
@wing328 Any chance to have your feedback on this?

[2016-12-08 15:25] imgx64 commented on #4350
Unfortunately, `-l java` doesn't support Volley, which is why I'm using `-l android`.

[2016-12-08 15:27] wing328 commented on #4350
@imgx64 if using Android volley is a must, then you will have to wait for the fix. Otherwise, you can use the Java API client, which supports Retrofit 1.x, Retrofit 2.x, okhttp-gson and more.

[2016-12-08 16:34] joergi77 opened #4351 "[JAVA] classes extending from Serializable classes have no servialVersionId [low prio]"
##### Description

Some classes, which are generated by swagger code-gen, are extending some serializable classes:
`public class MyClass extends HashMap<String, String> `

and if I look at the extended `HashMap<String, String>`, I can see it should be serializeable.
`public class HashMap<K,V> extends AbstractMap<K,V> implements Map<K,V>, Cloneable, Serializable `

In all generated classes is the s

[2016-12-08 16:39] wing328 commented on #4351
Did you switch on the `	serializableModel` flag when generating the code?
[code]
To show all options, please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`

[2016-12-08 16:41] devaxt commented on #1347
Is it planned ? or canceled ?

[2016-12-08 17:12] joergi77 commented on #4351
okay, I have used it without the option `--additional-properties serializableModel=true`
But if I do it with the option, the `private static final long serialVersionUID = -2410670077461289444L;` is still missing and will be shown in my IDE as a warning.

[2016-12-08 17:22] wing328 commented on #4351
Have you pull the latest master? The change was made recently.

[2016-12-08 17:43] joergi77 commented on #4351
Allright, checked out the newest version (branch Master) - but still no auto generated serialVersionUID in my code.....

[2016-12-08 20:56] JLLeitschuh commented on #2485
This would be awesome on query parameters, at least in spring.

[2016-12-08 22:04] JLLeitschuh opened #4353 "String with custom format to generate different controller param type"
##### Description

Can't use custom format to change controller parameter to be different type.

For example:
[code]
If I try to run the CLI with these type mappings:
[code]
The controller still generates as a `String`

##### Swagger-codegen version

`v2.2.1`

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

##### Rela

[2016-12-09 02:52] jimschubert commented on #4344
💃

[2016-12-09 02:54] sharonjl commented on #1167
@wing328 I'll take a look. Since I am new to the codegen any pointers would be helpful!

[2016-12-09 06:39] wing328 commented on #1347
@devaxt I would suggest you to pull the latest master to give it a try if you've not done so as there's been a lot of enhancements to swagger codegen since March. If it's still an issue, please let us know with the details such as the code generated and what you actually expected.

[2016-12-09 06:40] wing328 commented on #4353
@JLLeitschuh Is `Job` a model/object?

[2016-12-09 07:06] wing328 commented on #4258
@yannickadam I'll take a look over the weekend using the spec you provided and reply back.

[2016-12-09 07:36] jeusdi commented on #4322
[Here](https://gist.github.com/jeusdi/062aa6932596fbbce355689e2e660bb6) you can find the code codegen generates for User endpoint and it's the only code I'm using. I'm not able to see any `OPTIONS` request. Are you suggesting me the problem is related with any server configuration or any browser configuration...?

[2016-12-09 08:03] jeusdi commented on #4322
I've just checkedout `2.3.0` branch either on `swagger-codegen` and on `sebastianhaas\swagger-codegen` repositories. It seems headers are not loaded on request:

[code]

[2016-12-09 09:22] wing328 commented on #2099
@skondratov I've filed https://github.com/swagger-api/swagger-codegen/pull/4354 to add auto-generated documentation for C# 2.0 client. Here is the README for Petstore: https://github.com/swagger-api/swagger-codegen/blob/6f65209b3559d52694c605225bd6b2b387ed789a/samples/client/petstore/csharp-dotnet2/SwaggerClientTest/Lib/SwaggerClient/README.md

Please help review the readme (installation, getting

[2016-12-09 10:25] wing328 commented on #4351
Here is the code: https://github.com/swagger-api/swagger-codegen/blob/7a97c3c37554a4a2cd7919e8ef0ff83d192f0bdf/modules/swagger-codegen/src/main/resources/Java/pojo.mustache#L8

Have you run `mvn clean package` to rebuild the JAR before generating the code again?

[2016-12-09 11:40] martinmcwhorter commented on #2690
I have noticed that Enums are not properly generated in the Angular2 TypeScript Client. I will look at the code of that specific generator to see if it is a bug there.

[2016-12-09 11:48] paulvollmer opened #4355 "[Golang Client] definition of a single type string has not the correct type"
##### Description
the generated struct is not correct
if i create a definition like this:
[code]

the generated struct looks like this:

[code]

but i think it need code like this...
[code]

##### Swagger-codegen version
repo master and the version at the editor.swagger.io generator download

##### Steps to reproduce
copy the example code to the editor and generate the go client code.

[code]
####

[2016-12-09 16:04] wing328 commented on #4355
@paulvollmer I don't think $ref to primitive type is supported by the Swagger parser at the moment. Can you try defining `type: string` directly in the response schema instead?

($ref to model should still work as expected)

[2016-12-09 16:13] paulvollmer commented on #4355
ok, this is a workaround... but the generated go code does not show the correct definition...

[2016-12-09 16:15] JLLeitschuh commented on #4353
No, internally, a `Job` is an interface.
Currently, in our non swagger controllers we just add a `Job` as a parameter to the controller and our existing `HandlerMethodArgumentResolver` maps the `job` query param (represented as a UUID across the wire) to the `Job` instance.

Basically, our users would be passing in the `UUID` for a job but in our controllers we want to use the `HandlerMethodArgume

[2016-12-09 16:16] fehguy commented on #4355
@wing328 it should be working against parsing master

[2016-12-09 16:39] bshamblen opened #4358 "[html2] Add python and perl examples"
Would there be any objections to me adding python and perl to the list of examples that are displayed for each endpoint?

[2016-12-09 17:25] sfncook commented on #3336
@wing328 I'll try to check your request when I have a moment.

In the meantime, I implemented @sherdeadlock's suggestion above to disable the 'define' amd method.  However, I had to use a slightly different syntax in my webpack config because we're using us a query parameter with our babel loader:

`
  module: {
    loaders: [
      {
        test: /tripod-sdk/,
        loader: 'imports?define=>fa

[2016-12-09 18:19] JLLeitschuh commented on #4353
This works absolutely fine for `UUID`
[code]
I can say `<type-mappings>UUID=ComapnyUuid</type-mappings>` and the controller is generated correctly with the parameter `uuid` having the type `CompanyUuid`

[2016-12-09 21:58] crazyfrozenpenguin opened #4359 "[NODE-SERVER] Date stub value set with ISO8601 date-time format"
##### Description

Swagger stub generator for node stubs date fields with date-time format.

date           ISO8601 full-date	2016-04-01
date-time  ISO8601 date-time	2016-04-16T16:06:05Z

##### Swagger-codegen version

2.2.1

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i swagger.json -l nodejs-server -o stub

##### Steps to reproduce

Create a swagger endpoi

[2016-12-09 22:08] crazyfrozenpenguin opened #4360 "[NODE-SERVER] Integer stub value not generated if format not defined"
##### Description

Integer swagger field definitions not generating value if format not defined. Should set value to an integer value (1 or 0).

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

The following definition does not generate an integer value:

[code]

Adding "format":"int64" to swagger definition makes codegen set the value.

##### Command line used

[2016-12-10 09:24] sreeshas opened #4362 "CodegenProperty and CodegenParameter does not have discriminator fields."
##### Description
CodegenModel's discriminator  can be used to find out if there is a discriminator in a Model.
CodegenOperation's discriminator can be used to find out if returntype contains a discriminator.

CodegenProperty and CodegenParameter does not have discriminator fields to identify if type associated with them contains a discriminator.
This change adds hasDiscriminator fields to Codegen

[2016-12-10 09:26] sreeshas commented on #4362
Here is the PR for the issue https://github.com/swagger-api/swagger-codegen/pull/4325

[2016-12-12 09:26] wing328 commented on #1167
@sharonjl thanks for offering help on this. I should have something ready for your review by coming Wed. Will keep you posted.

[2016-12-12 11:55] wing328 commented on #4269
@antihax @NfNitLoop A PR (https://github.com/swagger-api/swagger-codegen/issues/4308) has been submitted by @wy-z to support optional parameters. Please kindly review.

[2016-12-12 12:01] wing328 commented on #4358
@bshamblen thanks for leading the enhancements in the HTML documentation (`html2`). I'm sure the community will welcome python and perl example code to make developer's life easier in using the auto-generated SDKs.

[2016-12-12 13:43] antihax commented on #4269
Looking at the PR. It would be using `params map[string]interface{}`.

I could go either way, but #4269 would still offer compile time checking on required parameters where #4308 would not.
Perhaps the two methods could be merged?
Typed params for required and map[string]interface{} for optional to keep the call parameters cleaner?

Unfortunately I forked off the go template and we made some major

[2016-12-12 13:46] hasangilak commented on #3466
i wrote a template for webpack build. may help
https://github.com/hasangilak/webpack-swagger-template

[2016-12-12 13:47] hasangilak commented on #3537
i wrote a template for webpack build. may help
https://github.com/hasangilak/webpack-swagger-template

[2016-12-12 14:05] NfNitLoop commented on #4269
I like @antihax's suggestion.

1) You can keep compile-time type checking for required parameters.
2) By moving optional parameters into a map, there could be potentially lots of optional parameters defined for a method, but it won't make the method call signature explode, and if you only specify a subset of them, it reduces the burden for calling it.

[2016-12-12 14:14] chomatdam commented on #4336
[code]

[2016-12-12 14:31] sdrichter opened #4370 "Cpprest does not set Content-Type header on POST requests."
##### Description
Cpprest does not set the Content-Type header on POST requests and so the server rejects all POST requests from this language.

##### Swagger-codegen version
Latest master build.

##### Swagger declaration file content or url
Any POST command with Content-Type as application/json.

##### Command line used for generation
java -jar swagger-codegen-cli.jar generate -l cpprest -i <yam

[2016-12-12 14:34] jeusdi opened #4371 "handling exceptions (typescript/angular2)"
##### Description

I don't know whether it's been written down previously.

I've created this endpoint:

[code]

As you can see this method throws two custom made exceptions `UsernameAlreadyExistsCommtyException` and `RepositorySystemException`.

I'm not able to figure out how codegen deals with that. I've tried to generate artifacts setting `typescript-angular2` as language. Nevertheless, it does

[2016-12-12 15:26] wy-z commented on #4269
`typed params for required and map[string]interface{} for optional`
I have tried this solution, but it is unsatisfactory...`golang function` does not accept  key-value params and the order of api params is logic-less, so that it is poignant to call a function with many structureless params
@antihax

[2016-12-12 15:31] nanohex opened #4372 "csharp int and list<???> are not reconized"
##### Description
When using the csharp langauge we are receiving the following errors, when looking at the code list are not missing there parameters as well. So for example List<model> we only get List in the code generation. We are getting int is a reserved word.

We are sing swagger from servicestack the latest version, hope this helps.

[main] INFO io.swagger.parser.Swagger20Parser - reading

[2016-12-12 15:54] wy-z commented on #4269
A:
[code]
B:
[code]

In my opinion, `B` is more comfort and humanization.

[2016-12-12 16:24] JLLeitschuh commented on #4353
I would be willing to look into making a PR that would make this work for everyone.
Otherwise I'd have to make a 1 off for our company's particular use case.

[2016-12-12 16:35] joergi77 commented on #4351
@wing328 , yes, i have done it before...
other question:  i have generated my code with  it with `-additional-properties serializableModel=true` but it only added my `implements Serializable`.
How do you generate it with this behaviour?

[2016-12-12 16:37] wing328 commented on #4351
@joergi77 here is the command I used:
[code]

[2016-12-12 16:43] joergi77 commented on #4351
ah... okay, i used it wrong...
but if i use now the `-DserializableModel=true` the `-DhideGenerationTimestamp=true` is not working anymore..

[code]

do you see where the problem is?

[2016-12-12 16:46] wing328 commented on #4351
What about just `-DserializableModel=true,hideGenerationTimestamp=true`?

[2016-12-12 16:47] wing328 commented on #4351
(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-12 16:48] antihax commented on #4269
There may be a way to merge the two, I would have to take a deeper look later.

This is what i was thinking.  https://play.golang.org/p/cx5eTTKCcr

It would need good documentation in the comments above the function so developers know what the optionals are.

[2016-12-12 16:51] joergi77 commented on #4351
thanks a lot, the adding with `,` worked

[2016-12-12 16:51] #4351 closed

[2016-12-12 16:52] wing328 commented on #4269
This looks good to me

I also agree about the need for good documentation and we'll need to update the code samples in the auto-generated documentation to show how the function can be called with optional parameters.

[2016-12-12 16:53] wing328 commented on #4351
No problem

[2016-12-12 17:35] wy-z commented on #4269
It is ok, but there may be a small problem...
[code]
You may get
[code]
@antihax

[2016-12-12 18:18] jeusdi opened #4373 "[typescript/angular2] error handling no checks out error codes..."
##### Description

I've realized `typescript/angular2` codegen, generates some strange code related with error handling:

[code]

Why is codegen checking only whether `response.status === 204`? What about other error codes?

My swagger definition is like:

[code]

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Command line used for gener

[2016-12-12 18:27] jeusdi opened #4375 "[typescript/angular2] compilation error in generated artifcats"
##### Description

Code generated:

[code]

Error message:

[code]

My package.json is:

[code]

And tsconfig.json:

[code]

##### Swagger-codegen version

2.2.3-SNAPSHOT

[2016-12-12 18:47] jeusdi commented on #4322
It seems to be well integrated.
Thanks.

[2016-12-12 18:47] #4322 closed

[2016-12-12 20:29] mmaryo opened #4376 "Proposal: make ApiException a RuntimeException"
##### Description

Hello,

I would like to propose ApiException be changed to a RuntimeException for the following reasons:

Checked Exceptions have mostly been abandoned as a failure by pretty much every post-java language in existence. https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=checked%20exceptions%20are%20evil

##### Swagger-codegen version

2.2.1

##### Comman

[2016-12-13 00:00] bshamblen commented on #4081
I tested this on my local copy and the output appears to be correct now. editor.swagger.io must be out of date.
![screen shot 2016-12-12 at 3 59 42 pm](https://cloud.githubusercontent.com/assets/4249514/21121927/081c8d44-c084-11e6-806d-57fdf7e9e980.png)

[2016-12-13 00:48] sreeshas opened #4377 "swagger-codegen is using snapshot version of swagger-parser"
##### Description
I would like to understand the reason why swagger-codegen is using snapshot version of swagger-parser instead of released version.
<swagger-parser-version>1.0.24-SNAPSHOT</swagger-parser-version>

While using snapshot version can get latest fixes from swagger-parser, it looses build reproducibility for swagger-codegen.
Any bugs introduced by swagger-parser can manifest into a dif

[2016-12-13 04:19] wing328 commented on #4081
@bshamblen thanks for performing a test to confirm. editor.swagger.io relies on generator.swagger.io to generate codes and generator.swagger.io is not using the latest master (there's no daily job to update it with the latest master)

@David-Vander-Elst please pull the latest master to give it a try.

(If your company is using Swagger Codegen, please consider adding your company name to [this list

[2016-12-13 04:19] #4081 closed

[2016-12-13 06:48] todrules commented on #4375
I'm getting the exact same error.

Typescript: 2.1.4
Swagger CodeGen: 2.3.0 (built it a week ago)
@angular: 2.3.0

I'm also using awesome-typescrpit-loader 3.0.0-beta.13. I've had a few problems with that loader lately so thought I'd mention it.

[2016-12-13 06:49] wing328 commented on #4373
@jeusdi HTTP status code 204 means "no content" (ref: https://httpstatuses.com/204), which explains why `undefined` is returned.

[2016-12-13 06:53] wing328 commented on #4375
@todrules is it correct to say that it was working fine before? or it never work for you?

[2016-12-13 06:57] wing328 commented on #4376
@mariomatar thanks for the suggestion. Would extending `ApiException` to `RuntimeException` via  a CLI option meet your requirement?

[2016-12-13 07:19] todrules commented on #4375
It was working on another project I was working on. And while troubleshooting just now, I rolled back Typescript from 2.1.4 to 2.1.1, and it's working. So, something is getting introduced in the newest version of TS that is causing this issue, but at least there's a workaround for now.

[2016-12-13 07:28] wing328 commented on #4375
@todrules thanks for helping us to pinpoint the issue to Typescript version update. We'll need a fix to be compatible with the latest version as well as old version (e.g. 2.1.1) of TS.

cc @Vrolijkx

[2016-12-13 07:37] Isanderthul commented on #4069
@sdetweil I agree the process is extremely difficult, and a barrier to using swagger-codegen. Do you mind sharing your dependencies? I think this needs to be further worked on to make a tutorial or blog on how to solve these. I have found the reward of using swagger-codegen far outweighs these problems. When I started I struggled greatly with documentation and how to get it working.

[2016-12-13 08:25] wing328 commented on #4377
@sreeshas I agree with you that there are certain drawbacks in current approach (using SNAPSHOT version of Swagger Parser).

To me, Swagger Codegen is probably one of the major consumers of swagger parser and using the SNAPSHOT version can help ensure the latest fix or enhancement won't break Swagger Codegen.

From what I recall, stable releases of Swagger Codegen do not use SNAPSHOT version of Sw

[2016-12-13 09:28] jeusdi commented on #4373
@wing328 My question was around: Why does codegen only takes care of one type on error response instead of taking `@ApiResponses` annotation content:

@ApiResponses(value = {
	  @ApiResponse(code = 400, message = "Specified 'username' already exists on Living Commty."),
	  @ApiResponse(code = 401, message = "Specified 'username' has no a valid mail form."),
	  @ApiResponse(code = 402, message = "S

[2016-12-13 09:44] mariomatar commented on #4376
Yes @wing328, give the choice is very userful !

[2016-12-13 09:54] #4350 closed

[2016-12-13 09:54] wing328 commented on #4350
@imgx64 fixed via #4381. Please pull the latest master to give it a try.

[2016-12-13 09:58] wing328 commented on #4376
@mariomatar for the time being, I would suggest you to customize the template (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/apiException.mustache#L9) and use `-t` to provide the path to the folder containing the customized templates and let us know if the Java API client using RuntimeException works better for you.

[2016-12-13 10:15] wing328 commented on #4360
@crazyfrozenpenguin do you mind pulling the latest and build the JAR locally to give it another try as the latest master uses a newer version of Swagger Parser?

[2016-12-13 10:20] wing328 commented on #4359
@crazyfrozenpenguin thanks for reporting the issue. May I know if you've time to contribute the fix?

Can you also show what the actual (problematic) code looks like?

A good starting point maybe is to define `typeMapping` in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java similar to [this](https

[2016-12-13 10:20] wing328 commented on #4370
Closed via #4370

[2016-12-13 10:29] mmaryo commented on #4376
It works and it's better !

I think RuntimeException should be default

Maybe we can do that :

public class ApiException extends {{#runtimeException}}RuntimeException{{/runtimeException}}{{^runtimeException}}Exception{{/runtimeException}} {

But I can't find where to pass 'runtimeException' variable to template :/

[2016-12-13 10:30] wing328 commented on #4376
Have you tried `--additional-properties=runtimeException=true`?

[2016-12-13 10:40] imgx64 commented on #4350
@wing328 Seems to work now. The Enums are empty, but I guess that's a separate bug.

[2016-12-13 10:56] wing328 commented on #4350
@imgx64 right. As I said, the Java (okhttp-gson) client has better support for doc and enum and would suggest you to use that one instead.

The Android (volley) API client still needs more work to make it comparable with the Java (okhttp-gson) API client.

[2016-12-13 11:00] wing328 commented on #4372
In your swagger spec (v1.2), you name the model as "int", which is a reserved word in C#. I believe you actually mean the property/parameter is an integer (`type: integer`) instead. Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

I would suggest you to contact ServiceStack on how to define that in the ServiceStack.

You may also want to explore the option

[2016-12-13 11:33] mmaryo commented on #4376
You just let me know this option !

I would like to add 'runtimeException' in java configuration for all Swagger users
That why I looking for it in java code ...

[2016-12-13 11:47] philippelatulippe opened #4382 "[swift] Generated code crashes if data does not match spec"
##### Description

Any error in the data being decoded (like incorrect type, missing key, parsing error in the date, etc.) will cause the application to crash. The decoders (in *Models.swift*) make heavy use of fatalError() and force-unwrapping. Is there a reason for this? Is there a decoder, or decoder option, that supports graceful deserialization error handling?

Is there interest in a patch th

[2016-12-13 14:02] wing328 commented on #4323
@antihax I agree with you that it's inefficient and ideally it should be refactored to share the same go-resty client across requests.

[2016-12-13 14:17] crazyfrozenpenguin commented on #4360
@wing328, no, this is still an issue if the definition does not include a format.

[2016-12-13 14:28] wing328 commented on #4360
@crazyfrozenpenguin thanks for performing more tests to confirm.

Please add the `format` as a workaround for the time being while we (the community) look into fixing the issue.

[2016-12-13 16:16] lightbow commented on #4333
Is there a canonical/updated page somewhere for getting up and running with the latest (at-least-semi-stable-but-hopefully-functional) swagger-codegen on Swift 3? I was using the very helpful guide [here](http://normand1.github.io/blog/swift/swagger/codegen/2016/11/25/Swagger-Codegen-for-Swift3-and-NodeJS.html) (dated Nov 25, 2016) which was advising "git checkout swift-3" and "-l swift" but it so

[2016-12-13 16:38] wing328 commented on #4333
@lightbow https://github.com/swagger-api/swagger-codegen#getting-started is a good starting point and you will need to replace `-l php` with `-l swift3` in the command. Let me know if you need any help.

You can also use https://editor.swagger.io if you prefer a GUI.

[2016-12-13 16:39] wing328 commented on #4333
@romk1n let me know if you need help submitting a PR for the fix. Thanks!

[2016-12-13 17:06] wing328 commented on #4069
@mortenhn1981 @Isanderthul @gsantner @sdetweil thanks for sharing more with this particular issue. I think we can work together to make the Android (volley) API client better.

I started with https://github.com/swagger-api/swagger-codegen/pull/4384 (merged) to improve the code quality of Android (volley) API client a bit. Let me know if you've any feedback.

Next, I wonder if you guys can adding t

[2016-12-13 17:13] bmsantos commented on #4359
@wing328, I've submitted a fix for this. It was simpler than initially thought.

[2016-12-13 17:46] MatanRubin opened #4386 "[JAXRS-CXF] Enhancement: generate builder-style methods in models"
Currently, JAXRS-CXF codegen generates getters and setters for model members.
The Java code generator has the nice feature of generating builder-style methods as well.
The suggestion is to generate builder style methods in JAXRS-CXF as well.

Making this change would allow us to get rid of cummbersome code like this:

[code]

For this:

[code]

Swagger-codegen version: 2.2.1

I can contribute this

[2016-12-13 18:52] eamon316 opened #4387 "Add a useTags flag to allow tags to be used to generate interface / controller classnames"
##### Description

Currently `SpringCodegen` uses the basePath to generate classname for interface / controller.

I would like to be able to use tags to control the generated classnames (this appears to be the pattern for most other generators).

Just wondering if there is any particular issue why the `SpringCodegen` uses basePath and if there are any known issues with using tags?

##### Swagger-c

[2016-12-13 19:18] johnnyxhm opened #4389 "Proposal: Selective Generation Exclusions"
##### Description

It would be nice to be able to specify excluded models/apis/supporting files in use cases where there are, for example, many model objects. The existing selective generation feature could make it tedious to  specify all the model objects in the system properties.

##### Swagger-codegen version

2.2.2-SNAPSHOT (Latest from master as of a291d3113aa729efb20226262c6bc2fe3a864d5a)

#

[2016-12-13 23:51] jhartlaub opened #4391 "[Python] ApiClient should encode '/' char for parameters (path parameters)"
##### Description

When using PathParams containing a '/' character, the Python client does not encode the '/'.  As a result, the / is interpreted as a path separator rather than a parameter value.  PathSegments must encode the / character for proper transfer of information.  e.g. 'my/string' should be encoded to 'my%2Fstring' for correct transmission of a PathParam argument.  Path separators must

[2016-12-14 01:28] bmsantos opened #4393 "[NODE-SERVER] Should generate multiple examples of same type"
##### Description

NodeJS Server stub does not generate multiple entries for the same type when the reference type is placed at the same level. In such cases, codegen will only generate the stub for the first case.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

The following swagger definition extract should produce a TransportVehicle json for airplanes, boat

[2016-12-14 03:24] wing328 commented on #4386
@MatanRubin yes, I think that will be a nice enhancement. Let us know if you need any help with the PR.

[2016-12-14 03:38] wing328 commented on #4389
Are you aware of using .swagger-codegen-ignore to skip file generation?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-to-skip-certain-files-during-code-generation

[2016-12-14 03:49] wing328 commented on #2099
@skondratov I'll merged the enhancement into master as beta release so that we can collect feedback from other C# 2.0 users as well.

[2016-12-14 03:52] wing328 commented on #4359
Thanks for the fix from @bmsantos

PR merged into master. Please pull the latest master to give it a try.

[2016-12-14 03:52] #4359 closed

[2016-12-14 08:26] rohitsakala opened #4394 "Swagger codegen on swagger spec 1.2"
##### Description

Syntax on how to run swagger codegen on swagger spec 1.2 ?

##### Swagger declaration file content or url

Here are the specs on which I want to run without putting them on a server.
https://github.com/strongloop/loopback-swagger/tree/master/example/specs/1.2

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i swagger.json -l html2

This comman

[2016-12-14 08:27] #4034 closed

[2016-12-14 08:46] MatanRubin commented on #4386
Thanks for the quick reply @wing328.
Come to think about it, is there a reason why JAXRS (and all other JAVA related generators) couldn't share models with the JAVA generator?

[2016-12-14 09:38] wing328 commented on #4386
@MatanRubin yes, ideally that's what we want - reuse models and other share classes by all Java-related generators but that would require quite an amount of work to do the refactoring.

[2016-12-14 11:20] cbornet commented on #4387
Warning : if an operation has 2 tags then you get 2 mappings for the same path which will fail.
I think some generators (JAX-RS?) use only the first tag of the operation.

[2016-12-14 13:32] jeusdi opened #4397 "[typescript\angular2] Deal with 201 response status"
##### Description

Currently, `typescript\angular2` `api.service.mustache` template handles `204` responses status in order return an `undefined` value directly instead of call a `response.json`:
[code]

I've implemented an JAXRS RESt endpoint like this:

[code]

As you can see, this method returns an `create-201` response status code. So, there's no content inresponse's body. Instead, there's a `

[2016-12-14 14:21] wing328 commented on #1176
@RaphC I don't think anyone has working on it so feel free to contribute if you've time.

If you need help from us (the community), please reply to let us know.

[2016-12-14 14:43] eamon316 commented on #4387
If there are 2 tags they are combined by the Java generator.
e.g.
[code]
you get `ABApi.java` and `ABApiController.java`

[2016-12-14 15:34] johnnyxhm commented on #4389
I was under the impression that was doing something else, but just giving it a try right now and it seems to do exactly what we need. We did also stumble upon https://github.com/swagger-api/swagger-codegen#bringing-your-own-models which also covers excluding models. Either way, seems like this is already possible and I was looking at the wrong sections in the readme

[2016-12-14 15:34] #4389 closed

[2016-12-14 16:01] wing328 commented on #4389
@johnnyxhm np. Let us know if you've further feedback/suggestion on Swagger Codegen.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2016-12-14 16:05] wing328 commented on #4391
@jhartlaub thanks for reporting the issue. May I know if you've a chance to file a PR so that we can review the fix?

[2016-12-14 16:05] wing328 commented on #4391
cc @scottrw93

[2016-12-14 16:32] GlenDC commented on #3203
I might be interested in this, as I might want to use swagger-codegen to generate a couple of different clients, among others, c++.

I'm new to this codebase, so I can use all the starting points you have to suggest.

[2016-12-14 16:43] #4182 closed

[2016-12-14 16:48] wing328 commented on #3203
@GlenDC thanks for offering help on improving the code style for C++ generators.

You're correct in saying that there are more than 1 C++ generator as follows:
- `cpprest`(using https://github.com/Microsoft/cpprestsdk)
- `qt5cpp` (for Qt5: http://doc.qt.io/qt-5/qt5-intro.html)
- `tizen` (for Tizen: https://www.tizen.org/)

I recently submitted https://github.com/swagger-api/swagger-codegen/pull/43

[2016-12-14 16:50] wing328 commented on #4289
@howshit may I know if you need help implementing support for body parameters in Groovy API client?

[2016-12-14 18:31] frol opened #4398 "API calls are only allowed to return a single type of a response even when you have several HTTP/2xx response types defined"
##### Description

I believe, It is a general design issue since `returnType` is passed to all the client templates (at least, I could find the use of `returnType` in Python, C++, Java, JavaScript clients).

My endpoints are designed to return HTTP/202 Accepted if a requested resource is not found in a cache (meanwhile, scheduling the update behind the scenes), and HTTP/200 OK if the item is found

[2016-12-14 18:43] yohanakh opened #4399 "[Spring] Authorities for basic auth - Annotations and swagger-ui"
##### Description

Assuming we have basic authentication. Each API requires specific authorities to access it.
We would like to have the option to declare these authorities in the spec.
In addition, it would be easier if the code-gen could use the above and generate the relevant annotations (Spring security - @Secured/@PreAuthorized - using a template)

Is it possible to achieve this with the late

[2016-12-14 22:24] theoriginalgri commented on #3203
Just to inform you if you change the qt5cpp generator style: I am in the middle of rewriting the `qt5cpp` generator and submitting a breaking PR for it - will try to keep the Google C++ style in mind.

[2016-12-14 22:56] RaphC commented on #1176
Right,

I developed a client generator for spring cloud feign template. not spring rest template. It's not exactly the same thing. Should I create a new issue ?

[2016-12-14 22:57] cbornet commented on #1176
There is already a spring cloud feign generator. But you can help to improve it !

[2016-12-14 22:59] RaphC commented on #1176
@cbornet I've just updated my comment to mention what you said in the prevois post :). Can you give me the name of the existing module?

Thanks

[2016-12-14 23:00] cbornet commented on #1176
It's spring with library spring-cloud

[2016-12-14 23:03] kbedel opened #4401 "[CSharp] Provide option for configurable access modifiers"
##### Description

I would like be to able to configure the access modifiers on all generated classes. In my case I am using the c# client, but this is may be applicable to many of the generators.

The reason is that I want to include the generated code into an existing project which exposes a public API. The generated code is completely hidden and should not be part of the exposed API. I believe

[2016-12-14 23:04] RaphC commented on #1176
ok. I'll try it ASAP. About the current issue, adding "rest-template" library in spring module is possible?

[2016-12-14 23:05] sreeshas commented on #4377
Thats true.  @wing328  Do you have any information on when next stable version of swagger-codegen is releasing? Current swagger-codegen is about 700+ commits ahead from past release.

[2016-12-15 02:05] fultonm commented on #4360
I am fixing this

[2016-12-15 02:52] fultonm commented on #4360
I am attempting to reproduce this error with the PetStore YAML example. I have added an integer parameter to a path without specifying the format. PetsService.js never sets such an integer to anything.
`  /**
   * parameters expected in the args:
  * petId (String)
  * coolness (Integer)
  **/`

[2016-12-15 02:56] crazyfrozenpenguin commented on #4360
@fultonm, that is the problem, that it never sets the value to anything. Its an integer and as such it should be enough to set it to at least "1".

[2016-12-15 03:03] fultonm commented on #4360
In the PetsService.js the value coming in is a parameter with its value presumably being set in the query or path on the client side. Especially if the field is required, it is sure the be the correct type checked by swagger-tools.

You mentioned if you specify the format of the integer to be int32 or int64 that it will initialize the variable? In which file do you see the initialization happening

[2016-12-15 03:06] crazyfrozenpenguin commented on #4360
I run it on my own swagger file. Let me have a look if it is reproducible in the PetService.js. Give me a few moments.

[2016-12-15 03:18] wing328 commented on #4401
@kbedel Thanks for the feedback. Have you considered modifying the [C# templates](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api.mustache) and apply the customized tempalates via the `-t` CLI option?

[2016-12-15 03:25] crazyfrozenpenguin commented on #4360
So, edit:
[code]

And remove format field from field definition:

[code]

Open ```StoreService.js``` and verify that fields do not have an integer set:

[code]

[2016-12-15 03:26] wing328 commented on #4394
@rohitsakala can you try the following?
[code]

https://github.com/strongloop/loopback-swagger/tree/master/example/specs/1.2 seems to be broken as it's missing store.json.

[2016-12-15 03:30] crazyfrozenpenguin commented on #4360
Is this clear now?

[2016-12-15 04:04] #4370 closed

[2016-12-15 04:14] fultonm commented on #4360
Yes, thank you!

[2016-12-15 04:32] rohitsakala commented on #4394
@wing328 Hi

Thanks for the reply. But Can't I run it without hosting the files somewhere, like in a directory ? Sorry if it is too general question.

[2016-12-15 07:30] wing328 commented on #4394
Yes, you can using the same `-i` command line switch. Here is another example:
[code]

[2016-12-15 07:58] manojpandey89 opened #4402 "Swagger Codegen War: web services not running in LJS server."
Swagger Codegen War web services are not running in LJS server.

It runs fine when we deploy Swagger codegen war on tomcat server but gives problem when deployed on LJS server.

It throws below error on trying to access link http://localhost:8080/swagger-generator/api/gen/servers. As per my investigation it looks like some problem with glassfish.jersey jar which is used for web services.
Please su

[2016-12-15 10:41] rohitsakala commented on #4394
@wing328

Thanks for the reply. But when run
java -jar ../swagger-codegen-cli.jar generate -i pet-store.json -l html2

It is creating documentation only for only one file not for the other file

There are two files that are connected according to swagger spec 1.2
1) pet-store.json
2) pet.json

[2016-12-15 11:20] wing328 commented on #2963
Licence text has been removed. Closing this.

[2016-12-15 11:20] #2963 closed

[2016-12-15 12:15] kyeljmd commented on #1176
Anyone working on this? if None I can talk work/look on this one. Please let me know.

[2016-12-15 13:38] wing328 commented on #4394
Did you put user.json in the same directory? (store.json seems to be missing and I've filed an issue here: https://github.com/strongloop/loopback-swagger/issues/75)

[2016-12-15 14:09] kbedel commented on #4401
Yes, that is what I plan to do in the meantime, but I thought I would submit because it would be nice not to have to maintain my own set of templates, and thought it would likely be of use to others as well. Would there be interest in a PR adding a C# config option for this?

[2016-12-15 15:19] jimschubert commented on #4401
@kbedel The only other access modifier that could work across all classes on the generated client is `internal`. `private` and `protected` wouldn't make sense as options because then even most classes within the generated output wouldn't be able to  access each other.

Would a `internalClassesOnly` option work for you?

When you say you're exposing a "public API" and the generated classes shouldn'

[2016-12-15 15:44] kbedel commented on #4401
@jimschubert Yeah, internal is the only other one that makes sense here. That option sounds good.

By public API, I mean as part of an SDK 3rd party developers can use to customize the application. Some of the implementation of this public API calls out to the swagger web services, but other parts are just concerned with the application itself. All the generated types should be encapsulated and hi

[2016-12-15 15:59] wing328 commented on #4394
What about updating `"path": "/pet"` to `"path": "/pet.json"`?

Btw, did you get any error message?

[2016-12-15 16:33] GlenDC commented on #3203
Cool, than I don't think there is something for me to gain here, as I was only truly interested in the `cpprest` one, and optionally `qt5cpp`.

[2016-12-15 16:46] wing328 commented on #3203
@GlenDC you may want to consider adding automated documentation for C++ (cpprest) API client.

I've recently done something similar for C# 2.0 generator: https://github.com/swagger-api/swagger-codegen/pull/4354 and I'm sure C++ developers (especially beginner) will find the installation and code samples helpful in using the C++ SDK.

[2016-12-15 16:48] wing328 commented on #4394
You may also want to try https://github.com/lucybot/api-spec-converter to convert the spec from 1.2 to 2.0 as `api-spec-converter` may be smarter to understand the swagger spec in your case.

[2016-12-15 17:21] rohitsakala commented on #4394
When I changed the path to pet.json, I get this error message.

[main] INFO io.swagger.parser.Swagger20Parser - reading from pet-store.json
[main] INFO io.swagger.parser.Swagger20Parser - reading from pet-store.json
java.io.FileNotFoundException: null/pet.json (No such file or directory)
	at java.io.FileInputStream.open0(Native Method)
	at java.io.FileInputStream.open(FileInputStream.java:195)
	at

[2016-12-15 18:22] lightbow commented on #2269
Being new to swagger/mustache files, etc, I'm not sure if this is related to the same issue, but thought I'd mention it in this thread in case it was relevant. I have a lot of models with properties named "on" that are boolean. While this worked fine with the Swift2.x codegen (for example:`public var on: Bool?` and `nillableDictionary["on"] = self.on`) I'm seeing the Swift 3 generator map "on" to

[2016-12-15 18:31] fehguy commented on #2269
Yea, that's YAML unfortunately.  `on`, `yes`, `true` if _unquoted_ in a YAML file will resolve to `true` (the boolean.

This needs to be handled in your definition.

[2016-12-15 18:34] fultonm opened #4404 "Set up Eclipse environment with swagger-codegen?"
EDIT: The main question I have is How do I open the swagger project in an IDE? I'm only assuming we use Eclipse around here.

##### Description

When I open swagger-codegen project in Eclipse I am having problems using the features of the IDE such as Find Method Reference and other things having to do with code searching.

##### Swagger-codegen version

master branch

##### Swagger declaration fil

[2016-12-16 02:47] wing328 commented on #4269
Sorry I probably missed it. What's the issue?

Also @antihax suggestion requires less change by the developers (If the spec does not contain any optional parameters, the developers using the upgraded SDK do not need to make any change at all)

[2016-12-16 02:56] wy-z commented on #4269
[code]
This is fine~

[2016-12-16 02:59] wy-z commented on #4269
Under ideal conditions...It should be `XXFoo(foo1ID int64, foo2ID int64, foo3ID int64)`

[2016-12-16 03:08] wing328 commented on #4269
@wy-z I see but the order of the parameter can be controlled/set by the spec owner, right?

Also is sorting the parameters alphabetically based on name a best practice in Golang?

I also want to point out that other languages such as Ruby, Python also uses the approach suggested by @antihax with required parameter first and then hash/map/interface for optional parameters so Go developers who have

[2016-12-16 03:13] wing328 commented on #4404
@fultonm I'm using [NetBeans](https://netbeans.org/downloads/). Please give it a try.

For Eclipse, which version are you using? I'll give it a try later when I've time.

[2016-12-16 03:17] evanbross commented on #3874
I just hit this problem with 2.2.1, any ETA for 2.2.2?

[2016-12-16 03:42] wy-z commented on #4269
@wing328
Thanks for your reminder~

[2016-12-16 03:51] wy-z commented on #4269
You are right, look forward to your implementation~ @antihax

[2016-12-16 04:00] wing328 commented on #4228
PR merged into master. Please pull the latest.

Thanks for your contribution.

[2016-12-16 04:44] fultonm commented on #4404
Neon.1. Thank you for the NetBeans suggestion I will try that.

[2016-12-16 06:12] damienpontifex opened #4407 "[Typescript] Utilise Typescript object spread vs custom extendObj method"
##### Description

Typescript 2.1 allows object spread (see https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#object-spread-and-rest). The Typescript templates currently define an `extendObj` method to achieve this same feature e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L44

[2016-12-16 07:35] maxusoltsev commented on #1575
Looks like yaml has to have very strict indentation to avoid this error. Adding one extra space sometimes couses this error.

[2016-12-16 08:01] fultonm commented on #4404
NetBeans works well.

[2016-12-16 10:11] wing328 commented on #4377
Usually it takes 3 to 4 months but this minor release takes a bit longer than that. Here is the progress: https://github.com/swagger-api/swagger-codegen/milestones (it does not mean we'll address those 300+ issue before releasing 2.2.2)

I want to merge those PRs related to inheritance and release 2.2.2 in Jan/Feb

[2016-12-16 10:31] wing328 commented on #4407
@damienpontifex I definitely welcome enhancements to leverage new features in a programming language.

Your suggestion is related to https://github.com/swagger-api/swagger-codegen/issues/4375

Is my understanding correct that there's no way to make this particular change so that the output is compatible with both 2.1.4 and 2.1.1?

[2016-12-16 10:36] damienpontifex commented on #4407
Yes, my solution would resolve that issue in my preliminary testing.

I thought the feature was available in typescript 2.1.x, but looking at [this issue](https://github.com/Microsoft/TypeScript/issues/2103) on the Typescript repo, it has a milestone of 2.1.4 so maybe it was only finally included with the minor 2.1 release

[2016-12-16 10:36] wing328 commented on #4397
@jeusdi would returning response.json() for status code 204 meet your requirement?

Given that the function call is for obtaining HTTP info (status code, headers, body), it should not return `undefined` even if the status code is 204

[2016-12-16 10:37] wing328 commented on #4407
@damienpontifex OK. Please kindly submit a PR so that we can review the enhancement.

[2016-12-16 10:52] wing328 commented on #3874
@evanbross I think it's reasonable to target Jan/Feb 2017 for 2.2.2 release.

For the time being, please pull the JAR locally and run `mvn clean install` to install the package to the local Maven store.

[2016-12-16 10:54] wing328 commented on #4382
@philippelatulippe can you share a spec to reproduce the issue? I'm assuming you're using the latest master with this issue.

[2016-12-16 10:57] wing328 commented on #4371
I don't think the spec has a way to describe the exceptions (`UsernameAlreadyExistsCommtyException, RepositorySystemException`) that you put in the ocde (without using vendor extensions)

[2016-12-16 11:33] wing328 commented on #3746
@delenius closing this as we've removed license from the auto-generated code.

Please pull the latest master to give it a try.

[2016-12-16 11:36] #3746 closed

[2016-12-16 12:17] philippelatulippe commented on #4382
I'm using the petstore spec and the latest master, but any spec will do. Just feed the decoder any JSON data that is not expected by the spec and it will call `fatalError()` and terminate the application.

Here's a quick way to test it with the PetStoreClient. The spec says that "name" must be a string, but here the value in the json is an integer.

        let jsonData = "{\"name\": 5}".data(usin

[2016-12-16 12:25] mjvaanan commented on #4113
I run into the same issue but got "java.lang.ClassNotFoundException: java.time.LocalDateTime" with solution by @cbornet. Appears that this was because I was using java 7 so changing DateTimeFormatterRegistrar to JodaTimeFormatterRegistrar fixed it for me.

[2016-12-16 16:29] #4337 closed

[2016-12-16 20:18] jaz-ah commented on #4382
seems very reasonable.

[2016-12-16 21:42] #4377 closed

[2016-12-16 21:52] Shulamite opened #4414 "code gen (javascript) fails if schema uses items with array value"
##### Description
Code gen doesn't seem to understand the lines array even though the swagger editor takes the above swagger as valid.

The error messages is:
Unable to build target: Could not process model 'order'.Please make sure that your schema is correct!
Details:
Object
code: 1
type: "error"
message: "Unable to build target: Could not process model 'order'.Please make sure that your schema i

[2016-12-16 22:42] RaphC commented on #1176
@kyeljmd I think you can.

[2016-12-16 23:21] antihax commented on #4269
See #4415

[2016-12-16 23:43] alexandern opened #4416 "Proposal: Assist escapeReservedWord with custom mappings"
##### Description

The escapeReservedWord  method does its job fairly well, but in some cases  "reserved words" make some properties look a bit odd in some languages.

##### Swagger-codegen version
Master

##### Swagger declaration file content or url

[code]

[code]

##### Command line used for generation
`java -jar swagger-codegen-cli.jar generate -i pet.yaml -l objc -o output`
`java -jar swagge

[2016-12-17 04:30] fultonm opened #4418 "Strange characters at the beginning of aspnetcore and aspnet5 project files & Solutions will not load"
##### Description

When generating the petstore example for aspnetcore and aspnet5 languages the project file (IO.Swagger.xproj) have strange characters at the beginning of the file making them invalid. These are the characters that appear every time: ï»¿. However, even after removing these characters the project still can't load in Microsoft Visual Studio 2017 RC. The following error message appe

[2016-12-18 08:32] wing328 commented on #4418
@fultonm thanks for reporting the issue. Would you please use the latest master instead of 2.2.1 to see if the latest master has the issue addressed already?

[2016-12-18 09:04] wing328 opened #4420 "isFile, isPrimitiveType should not be both set to true"
##### Description
`isFile`, `isPrimitiveType` should not be both set to true

[code]
##### Swagger-codegen version

Latest master

##### Command line used for generation
[code]
##### Suggest a Fix

The behaviour has changed recently (likely due to a PR) and we'll need to restore the old behaviour to set `isPrimitiveType` to false if `isFile` is true.

[2016-12-18 09:21] wing328 commented on #4163
Fixed via https://github.com/swagger-api/swagger-codegen/pull/4419

[2016-12-18 09:21] #4163 closed

[2016-12-18 09:48] yohanakh commented on #4228
Thank you!
When are you planning to release v2.2.2 ?

[2016-12-18 10:20] wing328 commented on #4228
We're targeting Jan/Feb 2017

[2016-12-18 10:44] yohanakh commented on #4228
That's great! Thanks.
Should I close this issue ?

[2016-12-18 12:09] wing328 commented on #4228
Yes please ( I thought I did )

On Dec 18, 2016 6:44 PM, "Yohana Khoury" <notifications@github.com> wrote:

[2016-12-18 12:26] webron commented on #4414
As mentioned in the linked topic, that's not a valid schema as the spec doesn't support multi types.

[2016-12-18 12:26] #4414 closed

[2016-12-18 13:17] #4228 closed

[2016-12-18 15:35] MatanRubin opened #4422 "[JAXRS-CXF] When setting dateLibrary to "legacy" java.util.Date is overridden by javax.xml.datatype.XMLGregorianCalendar"
Running config-help for the jaxrs-cxf generator shows the following options for dateLibrary:

[code]

When using `joda`, `java8` and `java8-localdatetime` everything looks great.
However, when using `legacy`, instead of getting `java.util.Date` type for dates, I get `javax.xml.datatype.XMLGregorianCalendar`.

Looking at the code, it looks like `DateTime` is purposefuly overridden (see `modules\swa

[2016-12-18 21:41] PhilippMundhenk opened #4423 "[PHP][Slim] Multiple tags lead to multiple generations"
##### Description

When setting multiple tags for a single path, the Slim code is generated multiple times, once for each tag.

##### Swagger-codegen version

using http://editor.swagger.io/

##### Swagger declaration file content or url

This is based on the example on editor.swagger.io. The stubs for /products are generated twice.
[code]

##### Steps to reproduce

Export above YAML to Slim on ed

[2016-12-19 00:19] HarprasadShukla opened #4424 "Swagger CodeGen C# 2.0 client Header Authentication/Authrization issue"
Hi Team,

We are consuming web API in .net application so generated swagger C# 2.0 client code but missing to pass  Header details Authentication in c# generated code. Without Authentication API responding correctly but when applying UID/PWD in c# generated code it is returning authorization denied. Could you please provide some sample to authenticate/Authorize web API generated code by Swagger C#

[2016-12-19 00:22] HarprasadShukla commented on #4424
It help me lot if redirect ticket to right team in case again routed differently. I am looking quick reply as we stuck in middle of the way.

[2016-12-19 00:25] HarprasadShukla opened #4425 "Swagger C# client codeGen Authencation/Authrization issue while doing unit testing"
Hi Team,

We are consuming web API in .net application so generated swagger C# 2.0 client code but missing to pass  Header details Authentication in c# generated code. Without Authentication API responding correctly but when applying UID/PWD in c# generated code it is returning authorization denied. Could you please provide some sample to authenticate/Authorize web API generated code by Swagger C#

[2016-12-19 00:34] HarprasadShukla commented on #4424
Just want to add point- I am successfully able to generate code with JSON/YAML file. Issue is  when within C# code applying UID/PWD in unit test case. API responding Authrisation denied.

We are not passing any header/Authentication info in YAML/JSON while generating code. Do we need to pass it before generating code? or later just only add in the C# code based on environment configuration.

[2016-12-19 00:35] HarprasadShukla commented on #4424
Just want to add point- I am successfully able to generate code with JSON/YAML file. Issue is when within C# code applying UID/PWD in unit test case. API responding Authrisation denied.

We are not passing any header/Authentication info in YAML/JSON while generating code. Do we need to pass it before generating code? or later just only add in the C# code based on environment configuration.

Sorry

[2016-12-19 06:14] jtnystrom commented on #3806
I've just submitted a PR for this.

[2016-12-19 08:39] jeusdi opened #4428 "[typescript/angular2] new classes"
##### Description

I've came up with some new classes added on 2.2.3 (`ApiModule` and `Configuration` classes).

Is there some example over there showing how to use these new classes with old `Api-likeService` classes?

Concretly, I don't quite understand how to provide `base_path` information. Currently, my `UserService` is like:

[code]

As you can see, there two injectable parameters I'm able t

[2016-12-19 11:43] joergi77 opened #4430 "[java] Date or DateTime with --model-name-prefix=Xyz will make a new Entity XyzDate and XyzDateTime"
##### Description
when I use the format Date and the format DateTime in my swagger file and I generate a Java Client with
[code]

 I will have the following in my generated model:

Date will become
[code]
and DateTime will become
[code]

##### Swagger-codegen version
latest master

##### Swagger declaration file content or url
Date:
[code]
DateTime
[code]

##### Command line used for generation
[c

[2016-12-19 13:14] HarprasadShukla opened #4431 "Swagger Editor C#2.0 client codegen -Authrization denied issue."
Hi Team,

We are consuming web API in .net application so generated swagger C# 2.0 client code but missing to pass  Header details Authentication in c# generated code. Without Authentication API responding correctly but when applying UID/PWD in c# generated code it is returning authorization denied. Could you please provide some sample to authenticate/Authorize web API generated code by Swagger C#

[2016-12-19 14:46] danmikita opened #4432 "Support required modifier in the Jaxb XMLElement annotation"
##### Description

##### Swagger-codegen version

Discovered in:
2.2.1

Also missing in:
2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Command line used for generation

```swagger-codegen generate -l jaxrs-cxf -Dmodels -i openapi.yaml```

I am also using the maven plugin:

[code]

##### Steps to reproduce

1. Add a required field to a model declaration
2. Generate th

[2016-12-19 16:48] natami commented on #3891
There is still a problem with baseurl.

When dealing with OAuth in the api client.

See the generated code:
        for(String authName : authNames) {
            Interceptor auth;
            if (authName == "appFlowSecurityDef") {
                auth = new OAuth(OAuthFlow.application, "http://localhost:9090/oauth/token", "http://localhost:9090/oauth/token", "users:write");
            } else if