[2016-09-29 10:09] gsujathap commented on #3885
i HAVE INSTALLED maven and vagarant everything is fine except this command( **./run-in-docker.sh mvn package**)

[2016-09-29 10:16] cacti77 commented on #3888
@Wing328 You're absolutely right. If I change my spec to this:

[code]
Then the generated code in `DefaultApi.java` came out like this, minus Javadoc:
[code]
and I was able to retrieve the XML successfully in the GET call. Thanks very much! I'm closing this as user error.

[2016-09-29 10:16] #3888 closed

[2016-09-29 10:21] cacti77 commented on #3889
I'm closing this as user error. Seems I had my spec wrong. See closing comment for #3888 for details. With the correct spec `ModelsApi.java` is generated correctly:
[code]

[2016-09-29 10:21] #3889 closed

[2016-09-29 10:54] loretoparisi commented on #3871
@wing328 great news! Is this fix online already in the swagger editor?

[2016-09-29 10:59] wing328 commented on #3871
@loretoparisi you will need to build the JAR based on the latest master as swagger editor is using the latest stable version (not latest master)

[2016-09-29 13:07] gsujathap commented on #3885
i HAVE INSTALLED maven and vagarant everything is fine except this command( **./run-in-docker.sh mvn package**)

[2016-09-29 13:09] gsujathap commented on #3885
after successful generation of APIs and Models still I am facing same errors. I have used this command for generting files. please respond to my comment ASAP.
**# swagger-codegen generate -i http://viveky.com:3000/explorer/swagger.json -l swift -o /tmp/test/**

[2016-09-29 13:14] wing328 commented on #3885
@gsujathap the "Getting Started" section is a good starting point: https://github.com/swagger-api/swagger-codegen#getting-started.

[2016-09-29 13:32] gsujathap commented on #3885
I have tried everything but still I am getting same errors

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate \
   -i http://viveky.com:3000/explorer/swagger.json \
   -l swift \
   -o /var/tmp/swift_api_client

[2016-09-29 13:36] loretoparisi opened #3902 "Continuous Integration of client SDKs"
As soon as my swagger [definition](https://playground.musixmatch.com/swagger.json) is up & running, I would like to have a continuos integration with my backend in order to update the swagger definition in the backend, and generate the [sdk](https://github.com/musixmatch/musixmatch-sdk) clients automatically like

|  Backend (Node) |  ---(diff/write)---> | Swagger def | --(autogen) --> | client sd

[2016-09-29 15:43] cacti77 opened #3904 "Is polymorphism supported in code generation?"
I've defined a POST method using polymorphism along the lines of the spec example at https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#models-with-polymorphism-support . My real example is more complex but here's a simple alternative based on the spec example:

[code]
I can generate the Spring server-side stubs for this yaml using the Swagger Editor. But when I POST json req

[2016-09-29 17:39] wing328 commented on #3132
Dear all,

I've submitted https://github.com/swagger-api/swagger-codegen/pull/3905, which is still work in progress.

Please review and help fix the remaining issue/error.

Thanks.

[2016-09-29 19:48] abramz opened #3906 "NodeServerFromSpec.scala does not exist"
##### Description

I am unable to follow the README for the NodeJS server generator as the scala file, `NodeServerFromSpec.scala` does not exist. It is not in the source repository and `mvn package` does not generate it.

##### Swagger-codegen version

Source from master 9/29/2016

##### Steps to reproduce

[Follow the README.md exactly](https://github.com/swagger-api/swagger-codegen/blob/4d19da41

[2016-09-30 05:48] HrOice opened #3907 "[Question] Can I define the response-example"
##### Description

Can I define the response-example in swagger.json, and use codeGen to mock the request and the response.As example: I define the result of the api [GET]/pet/{petId}, and the pet's name is "xiaoming" of the invoke result.I hope to get the result as this: {name:"xiaoming"}.
  Also ,I hope to get the result as {name: "xiaohong"} when I define the pet's name as "xiaohong".
 Is there

[2016-09-30 07:52] gsujathap commented on #3885
which alamofire version using? I got lot of errors while using alamofire 4.0. please respond ASAP

[2016-09-30 09:25] cacti77 commented on #3904
More details: I put the swagger.yaml above in Swagger Editor 2.10.3 and did Generate Server > Spring. Then I changed the generated `io.swagger.api.PetsApiController.java` class to this:

[code]
Then fire POST requests using either of these as the message body:
[code]
or
[code]
Output for Cat request:
[code]
and for Dog request:
[code]
So, am I doing something wrong or is this just not supported? I

[2016-09-30 15:29] RaphC opened #3908 "[JAVA] CodegenParameter instance copy is not safe"
Hi,
##### Description

I'm using swagger codegen maven plugin to generate from swagger file our Java class with my own generator. I extended JavaJAXRSSpecServerCodegen to add some feature like ignoring some of parameters in the methods which are described in the swagger file. To do that, I set a vendor extensions and then when the plugin invokes fromOperation It ignores the parameters with these e

[2016-10-02 08:19] #3789 closed

[2016-10-02 08:19] wing328 commented on #3789
PR merged

[2016-10-02 08:24] wing328 commented on #3788
WIP: https://github.com/swagger-api/swagger-codegen/pull/3823

[2016-10-02 08:26] wing328 commented on #3786
@etsardou thanks for reporting the issue. I don't think `file` response type is supported in the Python Flask generator at the moment.

May I know if you've time to help contribute a fix? If yes, I can show you some good starting points.

[2016-10-02 08:30] wing328 commented on #3884
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/3788

[2016-10-02 08:30] #3884 closed

[2016-10-02 08:33] wing328 commented on #3880
@cgardens thanks for the details in reporting the issue and highlighting edge cases that's not covered by your PR.

I agree with you that the edge cases is very unlikely to happen.

Your PR has been merged. Thanks for your contribution.

[2016-10-02 08:33] #3880 closed

[2016-10-02 08:35] #3773 closed

[2016-10-02 08:49] etsardou commented on #3786
My available time is quite limited at the moment, but I guess pointing out some directions would be useful for the community, since anyone can get into it.

[2016-10-02 08:50] wing328 commented on #3695
@ataraxus usually it takes 3 to 4 months for a minor release.

[2016-10-02 08:50] #3695 closed

[2016-10-02 08:56] #3690 closed

[2016-10-02 08:57] #3706 closed

[2016-10-02 08:58] wing328 commented on #3687
PR merged.

[2016-10-02 08:58] #3687 closed

[2016-10-02 09:00] wing328 commented on #3715
@beaupral sorry I don't think I understand. Please elaborate by providing an example.

[2016-10-02 09:02] wing328 commented on #3723
@bkryza thanks for the fix, which has been merged into master.

[2016-10-02 09:02] #3723 closed

[2016-10-02 09:32] wing328 commented on #3673
@equinox2k I think it's due to the following:
[code]
but '#/definitions/Object' is not defined. That's why an empty SWGObject is created.

[2016-10-02 09:33] #3665 closed

[2016-10-02 09:34] wing328 commented on #3631
@iCEAGE closing this as there's no update.

[2016-10-02 09:34] #3631 closed

[2016-10-02 09:36] #3567 closed

[2016-10-02 09:44] wing328 commented on #3464
@guohuang @neilotoole I would suggest you open a ticket with your feedback regarding `SetDebug` in https://github.com/go-resty/resty

[2016-10-02 09:48] #3418 closed

[2016-10-02 09:53] wing328 opened #3910 "[ASPNET5] basePath not be used in the auto-generated code"
##### Description

For `aspnet5`, there's no reference to v2 in the auto-generated Petstore sample at the moment:
[code]
which means `basePath` (e.g v2) in the spec is not being utilized.

##### Swagger-codegen version

Latest master

If anyone wants to work on this, please reply to let us know.

Ref: https://github.com/swagger-api/swagger-codegen/issues/3418

[2016-10-02 10:03] wing328 commented on #3410
@philicious If you can provide what the exact code looks like, I can create a PR based on that.

[2016-10-02 10:15] wing328 commented on #3412
@diegode @msrao10 I believe the issue should have been addressed with the latest version of swagger-parser. Please let me know if that's not the case.

[2016-10-02 10:15] #3412 closed

[2016-10-02 12:18] wing328 commented on #3337
Closing this as there's no update.

[2016-10-02 12:18] #3337 closed

[2016-10-02 12:21] wing328 commented on #3786
@etsardou no worry. I'll take a look tomorrow and hopefully file a PR for the fix.

[2016-10-02 12:23] jimschubert commented on #3910
@wing328 I'll try to take a look at this today. If I don't open a PR by end of day, I won't have had the chance.

Sorry I didn't respond to the mention in the linked issue, I don't recall getting a notification for that.

[2016-10-02 12:27] wing328 commented on #3910
@jimschubert that's ok bro. No one has reported similar issue so far.

[2016-10-02 12:55] jimschubert commented on #3910
@wing328 that was actually a pretty quick fix.

We've probably not had this reported before because I doubt most C# devs are doing spec-driven development from swagger definitions. Everyone I've ever met who uses C#/ASP.NET do code-first development and use generated Swagger definitions as post-facto developer documentation.  The definition is heavily dependent on how tools like Swashbuckle genera

[2016-10-02 13:27] philicious commented on #3410
@wing328 unfortunately I cant tell you the exact code, or I would have PR'ed myself. afair it will require editing https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/qt5cpp/model-body.mustache#L71-L92  which is where I was lacking understanding of all these `{{^isContainer}}{{#complexType}}` etc and how they relate/derive to/from the yaml

[2016-10-02 13:56] wing328 commented on #3910
@jimschubert thanks for the quick fix. PR merged.

[2016-10-02 13:56] #3910 closed

[2016-10-02 13:59] wing328 commented on #3410
{{#isContainer}} .. {{/isContainer}} means the parameter or property is either an array or a map.

{{#complexType}} .. {{/complexType}} means it's a model (non-primitive type).

`^` is for inverted section.

[2016-10-02 16:41] wing328 commented on #3612
@ralgor14 @denis-yuen so is this still an issue?

[2016-10-02 16:42] wing328 commented on #3526
@IsmaTeddy without the spec, it's hard for us to reproduce the issue.

[2016-10-02 16:42] #3526 closed

[2016-10-02 16:44] wing328 commented on #3554
Please use the latest version instead. 2.1.3-M1 is pretty old.

[2016-10-02 16:44] #3554 closed

[2016-10-02 16:47] wing328 commented on #3369
If it's still an issue, we'll reopen this issue.

[2016-10-02 16:47] #3369 closed

[2016-10-02 16:48] #3290 closed

[2016-10-02 16:52] #3076 closed

[2016-10-02 16:52] wing328 commented on #3081
PR merged.

[2016-10-02 16:52] #3081 closed

[2016-10-02 16:53] wing328 commented on #3047
If it's still an issue, please reply to let us know.

[2016-10-02 16:53] #3047 closed

[2016-10-02 16:57] wing328 commented on #2769
@tjboudreaux since there's no update from you, I assume you've found a way to customize the base path. Please let ue know if that's not the case.

[2016-10-02 16:57] #2769 closed

[2016-10-03 01:26] wing328 commented on #3786
@etsardou according to the error:
[code]

`type: file` is not valid according to JSON schema validator.

As a workaround, please change it to `type: string` instead.

I discover another issue when `tags` is not provided and am working on it. Please workaround it by adding a tag to the endpoint for the time being: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/sr

[2016-10-03 01:57] wing328 commented on #3786
The endpoint without tag issue has been addressed by #3913.

Please pull the latest to give it a try.

[2016-10-03 02:42] wing328 commented on #3908
@RaphC thanks for the suggestion. May I know if you've time to contribute the enhancement?

[2016-10-03 02:49] wing328 commented on #3906
That README is outdated as we migrated the project from Scala to Java a while ago.

For NodeJS server, please refer to https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/nodejs

[2016-10-03 03:56] abramz commented on #3906
Thanks

[2016-10-03 03:56] #3906 closed

[2016-10-03 04:58] etsardou commented on #3786
Thanks, I will give it a try with the string type.

Just to clarify things, the ```type: file``` is not a valid swagger specification (since the error is raised by SwaggerValidationError)? If yes this is strange since the ```type: file``` exists in the Swagger 2.0 specifications and the Swagger online editor accepts it as valid.

Do you know where I can ask or open an issue about this?

Thanks in

[2016-10-03 05:12] wing328 commented on #3786
`type: file` is valid from Swagger/OpenAPI standpoint but since Python Flask leverages JSON schema validator to validate the input spec, the error is related to JSON schema but not Swagger.

In the future we may want to update the validator to throw warnings instead of errors.

[2016-10-03 06:56] etsardou commented on #3786
Ok great, thnx!

[2016-10-03 07:44] andriuskl opened #3914 "[Swift] Support header parameter type"
##### Description

Swift code generator does not generate parameters described as `"in": "header"`.
##### Swagger-codegen version

swagger-codegen version 2.2.0
##### Swagger declaration file content

I took
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-simple.json

and added `X-CUSTOM-HEADER` parameter in

[code]

[code]

modified petstore-simple.json:
https

[2016-10-03 08:27] cacti77 commented on #3904
I'm surprised no-one's responded to this yet:(. BTW I'm using a Java Spring server and a Python client in case support for polymorphism varies across the various client/server and language/framework combinations.

[2016-10-03 08:46] cbornet commented on #3904
See #1253 #1686 #2449 discriminator polymorphism is currently not supported in java based clients/servers.

[2016-10-03 08:46] wing328 commented on #3914
@andriuskl thanks for reporting the issue.

cc @jaz-ah @Edubits

[2016-10-03 08:57] cacti77 commented on #3904
@cbornet That's a bombshell for me! Do Python clients support polymorphism though?

[2016-10-03 09:27] cbornet commented on #2485
On further thought, I think we should generate instead
[code]
This way, the javaBean contract is still respected.
It would be tempting to set getBar() as private but this is not allowed by the javaBean spec "```All of the bean’s persistent state must be accessible via getFoo/setFoo properties```"

[2016-10-03 09:38] gsujathap commented on #3885
I am getting this error **

**  in **alamofireimplementations** class in **execute** fuction
Alamofire.Method(rawValue: method)
please respond ASAP

[2016-10-03 09:59] serezha93 opened #3915 "Different namespaces for different models"
How I can separate various model into various folders and namespaces? Should I use some options during generation client? I'm interesting about php-client.

[2016-10-03 10:05] cbornet commented on #3915
See `modelPackage` in config options.

[2016-10-03 10:33] serezha93 commented on #3915
@cbornet , where I can get example of this option?

[2016-10-03 10:40] cbornet commented on #3915
See the README. You can either use it by command line
[code]
Or by including a json config file (option `-c`)

[2016-10-03 10:40] wing328 commented on #3915
@serezha93 FYI. here are the full list of options for PHP:
[code]

https://github.com/swagger-api/swagger-codegen#customizing-the-generator is a good starting point on how to use these options via a config file (json)

[2016-10-03 11:11] serezha93 commented on #3915
As I understood property modelPackage set default value for root namespace, but I can't change namespaces depend by its property, isn't it? For example, I want create folders for method's submethods.

[2016-10-03 11:20] wing328 commented on #3915
Based on what you want, it's still technically possible by customizing the [PHP client generator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java) and the [templates](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/php)

[2016-10-03 11:26] pradeepkumarreddyk opened #3916 "Exception in thread "main" java.lang.RuntimeException: unknown library: volley"
##### Description
I have used the following dependency in android studio to download the swagger-codegen-cli jar file:-
compile "io.swagger:swagger-codegen-cli:2.1.4"

Then, I'm using the following command
##### Command line used for generation
java -jar swagger-codegen-cli-2.1.4.jar generate -i generate_upload.yml -l android --library=volley -o generated_code_for_upload_resource/ -c generate_conf

[2016-10-03 11:31] cacti77 commented on #3904
@cbornet By looking at the other issues you referenced (thanks!) I was able to hack the generated code by importing various `com.fasterxml.jackson.annotation` annotations.  Specifically I added the following annotations to the autogenerated base class `Pet`:

[code]

Weirdly, in my `PetsApiController ` class `pet.getPetType()` was returning `null`. I don't understand why. Is this expected behaviou

[2016-10-03 12:51] alexandern commented on #3829
@cbornet
Submitted a pull request
https://github.com/swagger-api/swagger-codegen/pull/3903

[2016-10-03 14:28] denis-yuen commented on #3612
No changes here. I think we just have to wait for a 2.2.2 release and then, ideally, for that to propagate to  http://editor.swagger.io/#/

[2016-10-03 14:31] tadhgpearson commented on #2485
I would tend to disagree - while this allows backwards compatibility, usage is now unclear for the user. It won't be immediately obvious whether I should use getOptionalBar or getBar, but anyway, since I want to get bar, I probably won't even notice getOptionalBar, much less understand the advantages of using it.

I think it would be better to put each field only once, pick a default way-of-doing

[2016-10-03 14:35] kungfoo commented on #2485
I'd also argue that this is confusing and not really practical. The idea is
to make as much type information as possible explicitly available in the
API, so only the methods that provide more information about the types can
be alternatives to the current way of doing it. This would have the
opposite effect, masking whether a field, method can return `absent()` (or
`null`) even more.

The Java bean

[2016-10-03 15:05] wing328 commented on #3612
@denis-yuen Is building the JAR based on the latest master an option for you?

[2016-10-03 15:06] wing328 commented on #3916
The Android `volley` support was added in 2.1.5: https://github.com/swagger-api/swagger-codegen/pull/1775

I would suggest you to upgrade to the latest stable version: 2.2.1.

[2016-10-03 15:06] #3916 closed

[2016-10-03 15:18] #3629 closed

[2016-10-03 15:23] wing328 commented on #3629
@realjax PR merged into master. Please pull the latest master to give it a try.

[2016-10-03 15:23] wing328 commented on #3544
@ggood  PR merged into master. Please pull the latest master to give it a try.

[2016-10-03 15:24] #3544 closed

[2016-10-03 15:24] wing328 commented on #3474
PR (#3637) merged into master. Please pull the latest master to give it a try.

[2016-10-03 15:24] #3474 closed

[2016-10-03 15:25] wing328 commented on #3636
PR merged into master

[2016-10-03 15:25] #3636 closed

[2016-10-03 15:27] #3612 closed

[2016-10-03 15:27] cbornet commented on #2485
Well, some people might want to have serializable javabeans and benefit from fluent Optional getters...
Now transforming a getter into an optional is just calling `Optional.ofNullable(foo.getBar())` so that's not much work to do.

[2016-10-03 15:44] denis-yuen commented on #3612
@wing328  Yup, we also have a workaround by inserting a Jackson property naming strategy.

[2016-10-03 15:47] beaupral commented on #3715
@wing328 Basically, our problem is the following:
In our yaml, we have many "models" defined in the "definitions" section.
We would like to regroup generated java objects in subpackage to ease maintenance.

For example, we would like objets relating to "orders" to be automatically generated inside package
com.model.orders

And objets relating to "clients" to be generated inside package
com.model.c

[2016-10-03 16:29] wing328 commented on #3715
@beaupral we do not support this particular use case at the moment.

Assuming you're referring to the Java API client generator, you can customize the following to meet your requirement:

- generator: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java
- templates: https://github.com/swagger-api/swagge

[2016-10-03 16:39] #3715 closed

[2016-10-03 22:00] apanzerj opened #3917 "[RAILS5] Server code issues"
##### Description

The autogenerated rails5 server code has some bugs.
1. Controllers have the wrong names. (need to be plural)
2. Tables are singular (need to be plural)
3. validate_presence_of => validates_presence_of
##### Swagger-codegen version

master
##### Command line used for generation

./bin/rails5-petstore-server.sh
##### Steps to reproduce
1. `./bin/rails5-petstore-server.sh`
2. `cd s

[2016-10-03 22:02] apanzerj commented on #3917
cc @zlx since it looks like you worked on this last...

[2016-10-04 02:47] wing328 commented on #3891
@haroldcarr would the following help?

https://github.com/swagger-api/swagger-codegen/issues/2769#issuecomment-217674257

[2016-10-04 03:53] Rajmohan opened #3918 "[Java-Retrofit2] Vendor Mime-types in consumes definition."
##### Description

When vendor mime-types are specified in **_consumes_** section,  these (vendor mime-types) are not being propagated in the request.
##### Swagger-codegen version

master
##### Swagger declaration file content or url

https://gist.github.com/Rajmohan/45bd552ff87a06cf07cb40c3b0e09ed5

Especially, note the consumes field for POST request having a vendor mime-type,

[code]

Generate

[2016-10-04 05:24] haroldcarr commented on #3891
@wing328 It seems like that should work.  I will try it tomorrow morning and report back here.  Thanks.

[2016-10-04 06:38] ralgor14 commented on #3612
Yes. If nothing was changed it’s still an issue.

[RAD.jpg]

Ruth Algor
RADview Software Engineer
M: +972-54-524-5488 | ruth_a@rad.com<mailto:ruth_a@rad.com>
T:  +972-3-645-9406   | F: +972-3-6440898

www.rad.com<http://www.rad.com>  |  Follow RAD on LinkedIn<http://www.linkedin.com/company/7369/>  |  Facebook<http://www.facebook.com/pages/RAD-Data-Communications/72479223117>  |  Twitter<http://tw

[2016-10-04 09:03] papageo opened #3920 "[Swift] Question"
##### Description

POST/PUT image with swift generated code.
##### Swagger-codegen version

Version 2.1.3

I want to post an image using the generated swift-client. After a lot of researching I think the best way to specify this is:

[code]

The generated swift client function signature is:
`public class func usersProfilepicturePut(profilePhoto profilePhoto: NSURL? = nil, completion: ((error: Erro

[2016-10-04 12:53] mherb63 commented on #3509
are you sure this bug is fixed for Spring Server code generation?  I just did the below and I'm still not seeing any fromValue methods in the generated model code.

brew install swagger-codegen
swagger-codegen generate -i Y1731PMActivation-1.1.12-swagger.yaml -l spring-mvc

Mike

[2016-10-04 12:54] wing328 commented on #3918
@Rajmohan your suggestion looks good to me. May I know if you've cycle to contribute the enhancement?

[2016-10-04 13:09] wing328 commented on #3509
brew is not installing the latest master either. It's using the latest stable version 2.2.1 instead.

[2016-10-04 15:48] haroldcarr commented on #3891
@wing328 that worked - except the method is different:

    apiClient.getAdapterBuilder().baseUrl(URL);

[2016-10-04 16:04] Rajmohan commented on #3918
@wing328 sure, I will take a shot at the fix. Thanks!

[2016-10-04 16:08] wing328 commented on #3918
@Rajmohan thanks. Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/retrofit2/api.mustache#L32

To obtain the `consumes`, please refer to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/api.mustache#L87 as an example.

[2016-10-04 16:09] wing328 commented on #3891
@haroldcarr thanks for the feedback. I think what we'll do is to add this to the auto-generated documentation (MD) so that users will have a better idea on how to set the base URL.

[2016-10-04 16:10] wing328 commented on #3917
@apanzerj thanks for the PR. We'll review and let you know if we've any question.

[2016-10-04 16:16] apanzerj commented on #3917
Hey thanks!

I'm going to keep digging on this and see if there are any other changes that need to be made, this was just the first pass but I wanted to keep the PR small.

[2016-10-04 17:00] janslow opened #3921 "TypeScript Fetch client doesn't support multipart/form-data body"
##### Description

If a POST operation accepts `multipart/form-data`, the `typescript-fetch` client posts an `application/x-www-form-urlencoded` body instead of form data.

##### Swagger-codegen version

Version currently deployed on [editor.swagger.io]

##### Swagger declaration file content or url
[code]

##### Command line used for generation

"Generate Client" -> "TypeScript Fetch" on [editor.

[2016-10-04 17:07] wing328 commented on #3917
I also prefer small PR as it's easier to review and merge.

[2016-10-04 17:19] wing328 commented on #3907
@HrOice  Would the following help?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#example-object

[2016-10-04 18:16] vishalsanfran opened #3922 "Ignores 'required' tag in model.mustache in python"
##### Description

Swagger ignores 'required' tag in model.mustache in python.
The setter function for these properties does not allow null values, unlike ruby and other languages

##### Swagger-codegen version

2.2.1 (latest)

##### Steps to reproduce

1) Required is false

"license":
{"type":"string","description":"license key", required: false}

Expected output:
@license.setter
    def license(

[2016-10-04 18:44] haroldcarr commented on #3891
I assume you will close the issue once the doc is updated?

[2016-10-04 19:22] RaphC commented on #3908
Hi,

No problem, I can provide an enhancement.

Regards,

[2016-10-04 21:01] tadhgpearson commented on #2485
Well... I guess then we're back to

`private Optional<T> bar

public Optional<T> getBar(){
return bar;
}
...
`
which comes back to the Optional on class attributes argument :/

It sounds like a tradeoff - you have the options of

1. Usability of one method per field
2. Meeting the Javabeans contract
3. Using optional as designed

and you can only pick 2 :smile:

Personally, I prefer usability over

[2016-10-04 21:59] cbornet commented on #2485
In that case, at least keep serializability
[code]

[2016-10-04 22:07] abhijith-prabhakar commented on #2549
Is this accounting for minItems and maxItems on an array property of a schema?  As far as I can see Codegen is not reading these values(CodegenProperty.java).  Its read only in CodegenParameter.java

[2016-10-04 22:23] abhijith-prabhakar opened #3925 "Codegen does not read all attributes of schema property"
Swagger specification for schema object specifies a list of attributes which are valid for a given schema object.  But codegen(CodegenProperty.java) does not read in all of this attributes.  If declared on the schema, these attributes are ignored.

Codegen should read these properties and use it for model generation with bean validation enabled.  Is linked to https://github.com/swagger-api/swagger

[2016-10-05 08:36] yannickadam opened #3926 "Support for mix of composition & inheritance"
##### Description

I guess this is language independent => I am inspecting the output with -DdebugModels, with supportInheritance = true.
When trying to mix field composition and inheritance, I lose inheritance. In the sample below, I expect to have "Cat" extends "Pet", with "Pet" inside the parentModel property of "Cat". However, I only have interfaceModels inside "Cat".

If I add a discriminator

[2016-10-05 08:44] cbornet commented on #3926
Indeed `cat`should have `pet` as parent. I'll have a look.

[2016-10-05 08:59] wing328 commented on #3914
@andriuskl I had a look at api.mustache for Swift and confirmed there's no logic to process header parameter at the moment: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/api.mustache

I can work with you to add that. Let me know if you've time to work on the fix together.

[2016-10-05 10:14] philicious commented on #3410
@wing328 ok I see. However I've meanwhile moved on to the next project and probably wont have the chance developing a fix. However I could test changes if you (or anyone) will pick this up

[2016-10-05 10:18] wing328 commented on #3410
@philicious that's ok. We'll see if anyone from the community is interested in contributing the fix. Thanks again for reporting the issue.

[2016-10-05 15:28] wing328 commented on #3302
Ref: https://github.com/swagger-api/swagger-codegen/pull/3928

[2016-10-05 15:43] triptec opened #3929 "[JAVASCRIPT] Problem with superagent and multipart/form-data"
##### Description

Generating a javascript client with fileupload doesn't work if consumes is set to multipart/form-data. This seems to be a problem with superagent (https://github.com/visionmedia/superagent/issues/746)

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Suggest a Fix

Changing the code in callApi to something like this solves the pr

[2016-10-05 15:46] yannickadam commented on #3926
In DefaultCodegen.java, lines 1219-1221

[code]

In our case, `pet` is instanceof `ComposedModel` and there is missing code to fetch the discriminator.

[2016-10-05 16:08] cbornet commented on #3926
Well, `ComposedModel` doesn't have a discriminator property...
So this would need a modification in the core.
cc @wing328 @fehguy

[2016-10-05 17:03] JLLeitschuh opened #3930 "[JAVA] Support Javax injection for creation of API delegate instead of static factory pattern"
##### Description

**Replace/Complement static factory with DI injection**

Currently, the generator for jersey and rest-easy use the static factory pattern to create the delegate that gets called by the REST API.

##### Swagger-codegen version

Whatever version this [gradle plugin](https://github.com/thebignet/swagger-codegen-gradle-plugin) in using, (I think it's the current release).

##### Swa

[2016-10-05 17:37] t6jin opened #3931 "Dashes in generated function name"
##### Description

If the swagger doc contains the following snippet

[code]

Then by using the swagger-codegen for java, in the generated UserAgreementV0Attributes class, the function name for adding items into userInfo is invalid since there's a dash in it
For example:

[code]

The cmd line that I use to generate classes is as followed:

[code]

[2016-10-06 07:14] wing328 commented on #3931
Which version of Swagger Codegen are you using?

[2016-10-06 08:58] razalur opened #3934 "[Swift] Incorrect generation emun type for swift language"
##### Description

Hello! I generate client for swift language. There is incorrect swift language syntax generated for enum type.

For example for this json code:
[code]

I've got this swift code for enum type "Level":
[code]

As you can see there are numbers after "case" keywords. But this is not correct syntax for swift (compiler error: "Expected identifier in enum 'case' declaration"). Unfortun

[2016-10-06 11:13] skydiablo commented on #2041
hmmm... any fixes ?

[2016-10-06 12:19] ircecho opened #3936 "[DART] type number without format generates wrong data type"
##### Description

When having a model property with type "number" and no format property like the following:

[code]

The generated dart property would look as follows:

[code]

The problem is, that the data type "Number" does not exist. The correct type would probably be "num".

##### Swagger-codegen version

Tested on master@cd6b5fec20eb112dc099c91688c90855911672c9

[2016-10-06 12:26] aliemrahpekesen opened #3937 "Question: Creating immutable model objects by yaml files."
##### Question

Is it possible to generate immutable objects by yaml modification?

##### Usage example

[code]

[2016-10-06 13:10] wing328 commented on #3934
@razalur thanks for reporting the issue. I'll take a look later today.

[2016-10-06 14:21] triptec commented on #3878
@wing328 I've had the same problem and made this PR #3932 but this here is basically the same solution, not setting the content-type if it is multipart. I can confirm that it works in node (5.10.1)

[2016-10-06 14:39] wing328 commented on #3878
@triptec thanks for filing a fix and performing tests in Node environment to confirm. I'll review your PR shortly.

[2016-10-06 15:24] fehguy commented on #3937
Yes, per https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object

[code]

[2016-10-06 15:24] #3937 closed

[2016-10-06 15:45] yannickadam commented on #3926
After spending some time to check how swagger parses ComposedModels, I realized my `pet` definition isn't right. It should be like this:
[code]
At least, the parser will properly load the discriminator that way. Afterward, I did a quick modifications to lines 1219+ :
[code]
I haven't done any extensive tests, but it works for this simple use case. I can work on a pull request if this looks fine (e

[2016-10-06 15:48] t6jin commented on #3931
The version is 2.2.0

[2016-10-06 15:51] loretoparisi commented on #3816
@wing328 officially [asked](https://www.linkedin.com/groups/60972) the Erlang Developers Group a contribution to this.

[2016-10-06 16:29] wing328 commented on #3934
@razalur I've filed https://github.com/swagger-api/swagger-codegen/pull/3941 so that enum with numeric value looks like this:
[code]

[2016-10-06 16:38] JLLeitschuh commented on #3930
Is this something that would be pull request worthy?
Would this be too much of a breaking change because it would create a direct dependency upon `javax.inject` annotations?

This could also be done without the injection as you can use DI frameworks to bind to constructors.

[2016-10-06 17:01] wing328 commented on #3936
@ircecho thanks for reporting the issue and tested with the latest master.

I've filed #3942 to address the issue.

[2016-10-06 18:06] cbornet opened #3943 "[Java] TypeMappings/ImportMappings don't work for Date/DateTime"
This is because joda which is now the default overrides those values. It also happens if you choose java8 (for example, you choose java8 and want to change OffsetDateTime to Instant or ZonedDateTime).

Note : the workaround is to set dateLibrary to "custom" or "legacy" or "whatever"

[2016-10-06 19:02] jfiala commented on #2549
@abhijith-prabhakar The Beanvalidation mustache file is using the minLength/maxLength of to assemble @Size, minItems/maxItems is currently not used. After minItems/maxItems is available, I can add it to the mustache templates.

[2016-10-06 19:14] dankling commented on #3828
I can contribute the pull request. I have already run the petstore template for Java, but it looks like this code change affects all languages, do I have to run all petstore templates?

[2016-10-06 19:30] jfiala commented on #2549
@wing328 Currently there are language tests verifying if the CodegenModel is assembled correctly. However, I found no tests verifying the actual generator results from the mustache files (e.g. generated Java sources). Do you think it makes sense adding such tests?

[2016-10-06 19:32] jfiala commented on #2549
@wing328 Can you pull in the current implementation of the beanvalidation or are you missing something?

[2016-10-06 19:43] tahitiangabriel commented on #3627
@mitchellbusby I'm facing the same issue. How did you resolved it? What do you mean by :

My entities are the same on both the server and in android.

The onResponse method in the RequestFurture is trigger after the timeout with the correct data in the response.

[2016-10-06 19:51] mitchellbusby commented on #3627
@tahitiangabriel your problem may not even be the same as mine. My issue came about because I was being lazy and just wrote a test entity  that *sort of* matched what my server was sending, but didn't go all the way down. For example, an array on the server that I would represent as a string on the client because I didn't want to have to learn how to define an array.

[2016-10-06 21:54] tahitiangabriel commented on #3627
OK my bad, I've found that the call to the web service must be made in a AsyncTask.

[2016-10-07 03:26] #3936 closed

[2016-10-07 03:27] wing328 commented on #3936
@ircecho PR merged into master. Please pull the latest master to give it a try.

[2016-10-07 03:28] wing328 commented on #3934
@razalur PR merged into master. Please pull the latest master to give it a try.

[2016-10-07 03:28] #3934 closed

[2016-10-07 03:40] wing328 commented on #2549
@jfiala I'll take another look later today.

[2016-10-07 05:20] razalur commented on #3934
It seems that nothing changes...  Please, check it again....

[2016-10-07 05:22] wing328 commented on #3934
@razalur did you use editor.swagger.io to generate the Swift API client?

editor.swagger.io is using the latest stable version (not the latest master) so plesae build the JAR locally based on the latest master.

[2016-10-07 05:25] razalur commented on #3934
I use:
[code]

and in git log I can see you commit. But nothing changed in the result.

[2016-10-07 05:27] wing328 commented on #3934
Did you do a `mvn clean package`?

[2016-10-07 05:30] razalur commented on #3934
No. Thank you! Now it's ok!

[2016-10-07 07:05] wing328 commented on #3828
@dankling please just update the Java Petstore sample for the time being and we'll review the change (PR).

[2016-10-07 11:51] punksta opened #3946 "[JAVA] Bug generating with retrofit2: package conflict with user classes"
##### Description

We have Entity named "Body". Swagger generates class for it `o.swagger.client.model.Body` and import it to retrofit api interface file:
[code]
Name Body conflicts with retrofit body: `retrofit2.http.Body.` which is used without package specification.

[code]
##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

##### Command line used for generatio

[2016-10-07 12:38] jimschubert commented on #3748
@wing328 @lunat I wonder if we should add anchor tags for all headings in the README?

Here are ones that are still missing anchors after @lunat's changes:

[code]

There are a few others _with_ anchors, so I feel like it should be consistent? Thoughts?

[2016-10-07 13:11] wing328 commented on #3748
@jimschubert sounds good to me.

[2016-10-07 15:22] ifreecarve opened #3947 "[All] Codegen does not support api-level security specification"
##### Description

From the [swagger specification](http://swagger.io/specification/):

Codegen breaks the spec; it doesn't follow api-level security.
##### Swagger-codegen version

Using Swagger Editor Version 2.10.3.  (Their bug reporting tool referred me here for codegen issues.)
##### Swagger declaration file content or url

[code]
##### Steps to reproduce
1. Open the [online swagger editor](h

[2016-10-07 16:27] willgorman commented on #2834
It looks like there's an undocumented [`hideGenerationTimestamp`](https://github.com/swagger-api/swagger-codegen/blob/3d231e4e4bf5b705a4f633d09ee0fe0932f1b863/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L124) option that worked for me, at least with the Jersey 2 server generation.  It removes the `@Generated` annotation completely though.

[2016-10-07 16:33] wing328 commented on #2834
@willgorman it's documented in `config-help`, e.g.
[code]

[2016-10-07 16:34] cbornet commented on #2834
` @Generated` is problematic on android so I think it should be totally removable for java clients.
For servers, we could probably remove only the date

[2016-10-07 16:41] wing328 opened #3948 "[Discussion] Migrate the project from Java to other programming language"
As part of the OpenAPI/Swagger 2.0 release 2 years ago, the Swagger Codegen was migrated from Scala to Java. The goal was to make it easier for developers to contribute bug fixes and enhancements.

Given that OpenAPI 3.0 will be released soon, we want to ask the community to see if anyone has an opinion to migrate the project from Java to other programming langauges (other than Scala as it's unlik

[2016-10-07 16:49] wing328 opened #3950 "[Discussion] Migrate the template system from Mustache to other alternatives"
Currently, Swagger Codegen mainly uses [mustache](mustache.github.io) as the template system for code generation.

Mustache, a logic-less template system, may not be the best template system for this project and we would like to gather feedback from the community to see if anyone has a better suggestion.

This is not to say we hit some showstoppers with mustache and it must be replaced. If there a

[2016-10-07 18:41] dkucsc opened #3951 "[cli] utility doesn't respect supportPython2 option"
##### Description

I supply a filename to the `swagger-cogegen-cli.jar generate --config` option, and its contents is just `{"supportPython2":"True"}`.  The filename ends with .json

I also specify the same command without specifying the `--config` option.

The problem is that the output stub servers from both commands produce seemingly the same output; the `app.py` file in both servers say Python

[2016-10-07 19:20] cbornet commented on #3948
We depend on external libs such as swagger-core and swagger-parser. Does this mean that these would be recoded or is the choice limited to languages on the JVM ?
Java being the language known by most people, I don't think it would be wise to change. And we have a huge code base most of which will be reusable.
Maybe the libs we use could be done with fancy JVM languages such as Groovy or Kotlin sin

[2016-10-07 19:32] dkucsc commented on #3951
I specify just `true` (no single or double quotes) and it runs without complaining, but still produces a server with Python 3 at the top of `app.py`.

I specify `True` and it complains.

I specify `'True'` and it complains.

I specify `"True"` and it doesn't complain, but still doesn't work correctly.

[2016-10-08 04:36] #3929 closed

[2016-10-08 07:26] triptec commented on #2041
How would we like to solve this?

[2016-10-08 07:43] wing328 commented on #3948
Very good question. The way I look at the current dependencies is that these are not a must when it comes to switching to another programming languages.

Let's say we switch from Java to Ruby instead. As the project matures, we might do the same thing by separating the logic in parsing the OpenAPI/Swagger spec into a standalone Ruby gem.

I agree leveraging the current dependencies (e.g. swagger-p

[2016-10-08 07:56] triptec commented on #3878
This should be solved #3932

[2016-10-08 14:13] jimschubert commented on #3948
I think a different way to phrase the question would be: what is gained (and lost) by moving to another language?

What's lost...?

I use Scala at work. The Scala 2.10/2.11 work in Swagger Core was very usable, while the Java implementation makes things a little more difficult (because types aren't immutable, not all types support method chaining, etc.). Staying in the JVM at least makes the code

[2016-10-08 14:20] jimschubert commented on #3950
I would suggest we consider using Liquid. (see [Liqp](https://github.com/bkiers/Liqp)). We may be able to reuse quite a bit of the current templates.

Another thing I'd like to consider is how we define the templating structure. I think it would be interesting to maintain the target directory structure within the language's resources directory. This would work for C# and ASP.NET generators, but I

[2016-10-08 15:45] fehguy commented on #3950
Thanks for starting this conversation, @wing328.  If you look in the way-back machine, we chose STL for the first version, but it's lack of traction and unfamiliar syntax was a big barrier to using this project and contributing.  I'm going to guess that the web world has some really good templates now that we should consider.  Mustache was a great choice when we selected it, because it was easy to

[2016-10-08 15:56] #3878 closed

[2016-10-08 16:47] wing328 commented on #3951
@dkucsc thanks for reporting the issue. I think it's bug and I'll file a PR to fix it.

[2016-10-08 16:59] wing328 commented on #3951
@dkucsc thanks for reporting the issue and I've filed #3952 to fix it.

There are 2 other references to `python3`, which are also addressed in #3952

[2016-10-08 17:04] wing328 commented on #3946
@punksta thanks for reporting the issue. May I know if you've time to contribute a fix?

[2016-10-09 03:26] jimschubert commented on #3901
@gsujathap I haven't tried the Vagrant support. Do you need to run in Vagrant, or can you run in Docker only? I believe Vagrant is really on necessary for running under Windows.

If you don't need Vagrant, you can just execute `./run-in-docker.sh`. This will pull `maven:3-jdk-7` and start it with your local maven repository directory and a `./gen` directory mapped into the new container.

As far a

[2016-10-09 03:34] jimschubert commented on #3877
@chrismanderson Generators must also be registered (one line fully type name) in io.swagger.codegen.CodegenConfig (exact path is [modules/swagger-codegen/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig)). Generators are load

[2016-10-09 04:08] jimschubert commented on #3833
I don't think using the generator docker image with HTTPS is going to be as easy as this.

swagger-generator is a Scalatra application which is started via Jetty over port 8080 [see Dockerfile](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-generator/Dockerfile#L10). The Scalatra [docs](http://www.scalatra.org/2.3/guides/deployment/configuration.html) say you can publis

[2016-10-09 04:44] gsujathap commented on #3901
Actually this swagger codegen only supports form parameters as input . But
I want json object as an input for the network parameters.

On 09-Oct-2016 8:56 AM, "Jim Schubert" <notifications@github.com> wrote:

[2016-10-09 05:55] wing328 commented on #3901
Swagger Codegen supports body parameters (JSON) as well. e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L30-L56

[2016-10-09 06:06] #3951 closed

[2016-10-09 06:07] wing328 commented on #3951
PR merged into master. Please pull the latest master to give it a try.

[2016-10-09 09:58] HrOice commented on #3907
Thank you @wing328 . I'm studying what you provided!

[2016-10-09 12:44] jimschubert commented on #3680
@ThePhantasm sorry it took so long to get back to you on this issue. My wife and I had our second child on September 2, and I'm just now getting back into personal projects and open source contributions.

Your investigation really helped. `{{projectGuid}}` isn't defined, so this was a typo on my part. There are details in the PR's commit about how this bug came into being (pretty much, I implement

[2016-10-09 14:49] TiJac opened #3955 "Android Codegenerator generates import statement for APIs without models"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-10-09 14:49] #3955 closed

[2016-10-09 14:56] TiJac opened #3956 "Android Codegenerator generates import statement for APIs without models"
##### Description

Android Codegenerator generates import statement for APIs without models. This results in the compiler not to be able to resolve the term "Model" in
    import io.swagger.client.model.*;

##### Swagger-codegen version
Swagger version: 2.2.1, tagged zip downloaded and installed by maven on windows

##### Swagger declaration file content or url

Any file that doesnt produce any mo

[2016-10-09 16:17] wing328 commented on #3956
@TiJac thanks for reporting the issue. As a workaround, please define a dummy model for the time being while we're working on a fix.

[2016-10-09 17:02] wing328 commented on #3947
@ifreecarve thanks for reporting the issue. We've addressed something similar before: https://github.com/swagger-api/swagger-codegen/issues/1365

I did a test with the latest master, which seems to work. Here are the code snippets:
[code]

[code]

Can you please do a test with the latest master to see if that works for you?
(swagger editor is using the latest stable version , not the latest master

[2016-10-10 00:40] zlx commented on #3917
@apanzerj It's helpful

[2016-10-10 02:51] HrOice commented on #3907
@wing328 I had learnt the example-object.
![image](https://cloud.githubusercontent.com/assets/12363835/19225899/9b94355c-8ed6-11e6-8842-d51113abde59.png)
Is there some ways get this example-response when I start the server which generated from swagger-codegen. It return empty body when I try it. I want to know the swagger-codegen support this or not . Thank you ^_^.

[2016-10-10 06:42] punksta commented on #3946
I am going to fix it today

[2016-10-10 07:59] JoseCarlosAl commented on #300
I have the same issue, could I disable certificate verification now?

[2016-10-10 10:36] triptec commented on #2041
In the code we got this TODO: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/partial_model_generic.mustache#L40
I'd like to know in broad strokes how it should be implemented. Could it be done in the constructFromObject function and that people would be alright with that?

[2016-10-10 10:49] triptec commented on #2041
@xhh do you have any thoughts?

[2016-10-10 11:38] ogreenz commented on #3680
I just tried it and VS 2015 still refuses to open the sln file.

[2016-10-10 11:59] jimschubert commented on #3680
@ogreenz can you verify whether Swagger Codegen compiled successfully? The first couple of times I compiled against the 2.3.0 branch, the generator project failed and I had to run `mvn install` before building again.

Also, can you diff the generated sln against the one in master?  The sln previously had two UTF-8 BOM characters, which caused the problem. It should have one or none.

[2016-10-10 12:11] ogreenz commented on #3680
@jimschubert I used the build instructions on the README. it just said clone and run `mvn clean package
` I did that and followed the instructions to generate a solution from my .json file. Also I don't know how it updates but the site [swagger](swagger.io) produces the same faulty .sln file.

[2016-10-10 12:28] jimschubert commented on #3680
@ogreenz I don't know if editor.swagger.io is automatically deployed from master, and this change was merged less than 12 hours ago.

To rule out environment issues, you could run there generator using my swagger codegen cli docker image: https://hub.docker.com/r/jimschubert/swagger-codegen-cli/

I will also check later to see if the xproj and sln are generating the BOM inconsistently on master.

[2016-10-10 13:01] ogreenz commented on #3680
I'm having problems using your docker (i'm just new to docker and it gives me a hard time with paths for some strange reason). but I'm using windows 10 VS 2015U3. my generated sln file is:
[code]
as you can see it still generates the BOM. deleting it doesn't help it open though.

[2016-10-10 13:18] cbornet commented on #3950
If we want to stay on a JVM runtime, Thymeleaf is pretty popular in the Spring MVC community for server rendering and it has a [non-html mode](http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#textual-template-modes)

[2016-10-10 13:22] ogreenz commented on #3680
Ok so the problem was the .sln and the .xproj files are still generated with BOMs. Now it works for me.

[2016-10-10 13:36] #3680 closed

[2016-10-10 13:42] #3926 closed

[2016-10-10 13:45] yannickadam commented on #3926
Discriminator should be placed like this:
[code]

[2016-10-10 14:04] jimschubert commented on #3680
@ogreenz awesome. If you're generating locally, also try the following before generating your code:

[code]

I've just built fully under Windows 10 and generated the aspnet 5 sample in Windows. I get the solution failing to open without setting the `file.encoding` property explicitly, but no issue when it is set.

@wing328 We may want to consider updating the docs to include `-Dfile.encoding=UTF-8

[2016-10-10 14:19] wing328 commented on #3680
@jimschubert totally agree that Windows 10 users should be informed. I've updated https://github.com/swagger-api/swagger-codegen/wiki/Server-stub-generator-HOWTO#aspnet-5-web-api for the time being.

Another suggestion is to log a message via LOGGER.info so that users may catch the message.

Ideally we may want to detect the environment to set the file encoding to UTF-8 programmatically if it's a

[2016-10-10 14:23] jimschubert commented on #3680
Got it. Do you know if there's a way to just specify this when the files are being written? It would be nice to define the encoding per supporting file.

[2016-10-10 14:31] wing328 commented on #3680
@jimschubert not off the top of my head. Will need to dig deeper into the code base to find out.

[2016-10-10 16:42] #3753 closed

[2016-10-10 16:56] ifreecarve commented on #3947
I will try to run a test on the latest master.  Really though, I think the correct thing to do is add an automated test for this, starting with an API-level security specification in the `petstore.json` example.  I can try to put together a PR with that; where are the existing automated tests of the generator?

[2016-10-10 17:12] wing328 commented on #3947
@ifreecarve totally agreed with covering the issue with automated tests. We created the tests in swagger-parser instead when the issue was first reported: https://github.com/swagger-api/swagger-codegen/pull/1380

If you want to add additional tests in Swagger Codegen, I'll reply later with more info (busy at the moment...)

Thanks for offering help to add more tests.

[2016-10-10 17:18] yemyat89 commented on #921
Same applies to RedHat and it appears to be a permission problem. Running as root solves the problem.

[2016-10-11 03:45] #2208 closed

[2016-10-11 08:55] grEvenX opened #3960 "Swagger Swift codegen generates an empty implementation for a map #3805"
##### Description

If you include a reference to a definition that is not an object (primitive type) the Swift generated client creates an empty class instead of the correct type.

I have included an example definition in this issue.
The swagger-codegen for Swift generates an "empty" Gender class instead of an enum that can be used for the Person class. This leads to swagger code that can't be use

[2016-10-11 13:34] lunat opened #3961 "[csharp] Perhaps Modules documentation error in README.mustache"
##### Description

Looking at README.mustache in csharp client (swagger-codegen/modules/swagger-codegen/src/main/resources/csharp/README.mustache) I have noticed a little singularity: while Api and Client inclusion are correct, Model path does not include the namespace.

This happens at rows 47-51 and 59-63.
##### Swagger-codegen version

2.2.0
##### Suggest a Fix

Instead of

[code]

I suppose is

[2016-10-11 13:37] janslow commented on #2963
Is there any follow up on being able to remove the Apache license in generated code? I'm using a custom template, so I don't want to be forced to use the Apache license with the generated library.

[2016-10-11 14:15] wing328 commented on #3960
@grEvenX `Gender` is not an model (type: object) and I believe Swagger Parser only supports `$ref` pointing to model (type: object) at the moment.

As a workaround, please define gender as an enum string directly without using $ref and give it another try.

[2016-10-11 15:13] wing328 commented on #3951
@dkucsc did you have a chance to pull the latest master to confirm if the fix works for you?

[2016-10-11 15:58] dkucsc commented on #3951
Yes indeed, it worked.  I pulled the latest changes to my master and redid everything, and the output server `app.py` had just `python` at the top, without the `3`.  Thank you.

[2016-10-11 16:05] wing328 commented on #3951
@dkucsc thanks for the confirmation

[2016-10-11 16:07] Pomyk opened #3962 "[PHP] add CURLOPT_TCP_NODELAY option"
Lastest curl version has enabled CURLOPT_TCP_NODELAY as default.

I would suggest adding it to the generated php client as default as it speeds up requests.

[2016-10-11 17:07] checat opened #3964 "[swagger, all] Integer enum parameters are not put into swagger model"
##### Description

Proper descriptions for integer enum parameters are not present with neither `-l swagger` nor `-DdebugOperations`.
##### Swagger-codegen version

2.2.1 and current master
##### Swagger declaration file content or url

Source JSON: https://gist.github.com/checat/1d9b014e39e9767cf30ba401d2cf18c4#file-source-json

Result JSON: https://gist.github.com/checat/1d9b014e39e9767cf30ba401

[2016-10-11 17:08] checat commented on #3964
I assume other non-string types are affected the same way.

[2016-10-11 18:20] checat commented on #3950
IMHO, in web world the most popular syntax style is Django/Jinja/Twig, but Mustache/Handlebars is popular enough, so unless you have a pressing matter, the style change does not worth it.

[2016-10-11 20:58] fatih-akgul opened #3966 "Pass parameters as an object for get operations with too many params"
##### Description
We have GET operations with 15-20 or more parameters. The API client code generated for these has methods with a large number of parameters.

Collapsing these parameters into a POJO and pass that in to the API method would make the code easier to maintain.

##### Swagger-codegen version
Pulled in the latest code from master on 2016.10.11.

##### Swagger declaration file content o

[2016-10-12 06:44] akalitenya opened #3967 "Creating different Models from Objects with same structure if Objects have different Titles"
Is it possible?

It seems that now if codegen finds two objects with same schema (no matter of titles), it will create one model for them. Can we force it to alter this behavior?

For example, if objects have different titles - create separate models for them.

[2016-10-12 07:49] #3946 closed

[2016-10-12 08:06] wing328 commented on #3961
@lunat  Yes, please file a PR with the suggested fix and I'll merge it into master.

[2016-10-12 08:15] wing328 commented on #3967
@akalitenya if you want complete control of the model name, the best way is to define the model properly instead if using inline schema (with title attribute) to define the models.

[2016-10-12 09:14] cbornet commented on #3950
To continue the discussion (that can lead us very far...), I think most modern web sites do client-side rendering with logic-less templating and an intermediate presentation layer (MVVM way). I'm not sure this fits well with our (current) architecture where we have language libraries that share java code and have distinct templates.
But maybe we could use a subclass or interface impl for each libr

[2016-10-12 10:13] sebastianhaas opened #3969 "[typescript-angular2] Model import bug"
##### Description

Since the change introducing the `.model` prefix, the Typescript Angular 2 codegen is not working correctly anymore, as models get marked for import twice. One time as `Model` and another time as `model.Model`.

The issue is currently masked since the generator doesn't use single imports but barrel imports (e.g. `import * from ./`). I would love to contribute a PR that updates t

[2016-10-12 14:50] tht13 opened #3970 "Typescript-fetch does not implement Security definitions"
##### Description
Typescript-fetch does not implement in any way the ap+key or Oauth2 security definitions, either globally or indivually applied rules.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

[2016-10-12 17:19] willgorman commented on #3930
I'd definitely like to have something like this too.  Modifying the generated API class to add DI after the fact means giving up the ability to easily regenerate when the API spec is updated.

[2016-10-12 17:28] nickcmaynard opened #3972 "DISCUSSION :: Should we use maven-checkstyle to enforce Java coding style?"
##### Description
Our code is mostly formatted according to Google Java Style, but we can enforce this pretty easily using maven-checkstyle: https://maven.apache.org/plugins-archives/maven-checkstyle-plugin-2.16/

##### Swagger-codegen version

All.

[2016-10-12 17:28] nickcmaynard commented on #3972
Am happy to make this happen, if people think it's a good plan.

[2016-10-12 17:33] JLLeitschuh commented on #3930
If you are looking for my version of the template with dependency injection it can be found here.

[2016-10-12 18:55] egodolja opened #3973 "Generation of attributes for fields"
##### Description

Question:

Does swagger support the generation of an attribute for specific fields or class? For example:
Person:
   properties:
      id:
         type: string
         attribute: true
      firstName:
         type: string
      lastName:
         type: string
This model would generate the following code (C#)

class Person {
    public string firstName {get; set;}
    [id("123

[2016-10-12 22:46] bshamblen opened #3974 "[html2] curl examples not showing correct security headers"
I'm using the following security definition:

[code]

When using editor.swagger.io to generate the `html2` version of the client, the curl example that's displayed for all of the endpoints looks like this:

[code]

### Issues when generating with a local build
- The `apiKey` header is currently broken. It's not displayed, even if you include it in your `securityDefinitions`.
- The curl example is

[2016-10-13 01:08] omidmt opened #3975 "[Python] DefaultApi parentheses missed in client README sample code"
##### Description

When generating python client by the online generator, the sample code in README doesn't include postfix parentheses in DefaultApi call, that make error when using that code.

 # create an instance of the API class
api_instance = rira_api.DefaultApi
##### Swagger-codegen version

2.2
##### Swagger declaration file content or url

https://raw.githubusercontent.com/omidmt/rira/0.7

[2016-10-13 03:48] simplesteph opened #3976 "[JAVA] Error for Apache NiFi swagger.json"
##### Description

I generated the swagger.json from the Apache NiFi project https://github.com/apache/nifi (just build it), and fed it to swagger-codegen. It mostly work but some parsing error happened.
##### Swagger-codegen version

latest / master
##### Swagger declaration file content or url

https://gist.github.com/simplesteph/d0bc5d65f7383e69f03c730b32b2206a
##### Command line used for gener

[2016-10-13 05:48] wing328 commented on #3972
Sounds good to me.

[2016-10-13 05:50] wing328 commented on #3975
@omidmt you mean the code should be fixed as follows instead?
[code]

[2016-10-13 05:56] omidmt commented on #3975
Yes, because the code without () doesn't work:
TypeError: unbound method sample_operation() must be called with DefaultApi instance as first argument

[2016-10-13 06:06] wing328 commented on #3975
Right, I'll file a PR to fix it accordingly. Thanks for reporting the issue.

[2016-10-13 07:51] wing328 commented on #3974
@bshamblen thanks for reporting the issue. Do you mind filing a PR for the fix so that the credit goes back to you?

[2016-10-13 07:56] wing328 commented on #3973
Here is an example of what a model documented in Swagger/OpenAPI spec looks like: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L654

(there's no `attribute` field that I'm aware of)

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md

[2016-10-13 07:59] wing328 commented on #3922
PR merged into master. Thanks for the contribution.

[2016-10-13 07:59] #3922 closed

[2016-10-13 08:04] wing328 commented on #3930
@JLLeitschuh please kindly submit a PR so that we can review the enhancement.

[2016-10-13 08:05] wing328 commented on #3970
@tht13 may I know if you've cycle to contribute the enhancements?

cc @leonyu, @Vrolijkx

[2016-10-13 08:26] tht13 commented on #3970
I may be, if you could provide an example where this has been implemented.

I also noticed that typescript-fetch doesn't implement any parameters which are set in the header.

[2016-10-13 08:28] wing328 commented on #3975
Fixed via #3977

Please pull the latest to give it a try.

[2016-10-13 08:28] #3975 closed

[2016-10-13 08:34] wing328 commented on #3970
I think we can work together on this. I should have a PR to populate the header parameters shortly.

[2016-10-13 08:48] wing328 commented on #3970
Looking at the typescript-angular2, we need something similar to Configuration: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/configuration.mustache

[2016-10-13 08:50] tht13 commented on #3970
The implementation of configuration can be found here:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache

[2016-10-13 08:52] wing328 commented on #3970
Yes, I'm copying the code over :)

[2016-10-13 08:53] wing328 commented on #3970
Btw, I saw the handling of header parameters here in TS Fetch API template: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Fetch/api.mustache#L105-L114

Did you see similar code generated for your case?

[2016-10-13 09:15] wing328 commented on #3970
@tht13 first attempt: https://github.com/swagger-api/swagger-codegen/pull/3983

please review :)

Disclaimer: no expert in Typescript

[2016-10-13 09:23] wing328 commented on #3970
CI reported the following issues:
[code]
I'm checking further.

[2016-10-13 09:30] tht13 commented on #3970
I can double check later but I don't believe the haHeaderParam section generated, only the ^hasHeaderParam section. However the parameters were added to the method arguments and in the requirement checking section.

I will check your code in the next few hours, thanks for the help ☺️

[2016-10-13 09:40] wing328 commented on #3970
I just pushed fixes to address the issues reported by the CI and the header parameter issue (should be `hasHeaderParams` instead of `hasHeaderParam`).

Please pull my branch to give it a try later.

[2016-10-13 10:23] wing328 commented on #3970
Latest issues reported by the CI (partial result below):
[code]
ref: https://s3.amazonaws.com/archive.travis-ci.org/jobs/167303456/log.txt

[2016-10-13 15:11] wing328 commented on #2963
Yes, I reached out to Software Freedom Conservancy via email (like 2 months ago) but no reply (maybe they're very busy)

I believe Tony has engaged Open Source Institute to review but I foresee it would take some time to see some progress.

[2016-10-13 15:49] wing328 commented on #3962
@Pomyk thanks for the suggestion. Do you mind submitting a PR so that we can review the change?

[2016-10-13 15:53] fehguy commented on #2963
Yes, as @wing328 the Linux Foundation legal team is reviewing this.  I will report back.

[2016-10-13 15:54] wing328 commented on #3976
It seems like the Swagger/OpenAPI [spec](https://gist.githubusercontent.com/simplesteph/d0bc5d65f7383e69f03c730b32b2206a/raw/a14b5f7805091463c5e95ffe1675cb4c1412448f/swagger.json) for Apache NiFi has issues. Please open it with https://editor.swagger.io to review errors

[2016-10-13 17:53] khorolets opened #3988 "[Python] Camel case seems to be not applied to classes' names"
##### Description

I am using swagger-codegen to generate python lib. Everything is working.

But for urls similar to `/data_sources/` class that generated is named `DatasourcesApi`. I suspect that function that makes it camel cased didn't work.

Can you help me? Thank you!

##### Swagger-codegen version

2.2.1 (current stable)

[2016-10-13 21:32] jeff9finger commented on #3966
+1
Add for other languages that have the same issue

[2016-10-13 21:35] jeff9finger commented on #3926
+1

[2016-10-13 21:47] fehguy commented on #3966
This was actually how v1 of codegen worked. How would you suggest indicating when a model should be used for input?

[2016-10-13 23:22] simplesteph commented on #3976
"type" : "ref" creates a lot of issues. It is related to https://github.com/kongchen/swagger-maven-plugin/issues/141 so I updated the plugin version and that fixed these issues.

Updated gist: https://gist.github.com/simplesteph/97ba4bc15761b578781fffd0b45180ee
Now, not sure if important, the swagger-codegen plugin works fine without errors, but the editor still shows errors such as:

[code]

[2016-10-13 23:38] FabricioRocha opened #3990 "Can´t find why Editor´s codegen blows with two specific pieces of code"
##### Description
Hello everyone,

I have been writing a somewhat big Swagger spec for a new parliamentary API. Lots of very similar services/paths, lots of shared definitions.

After a lot of writing for its second version, I found that I could not get server-code generated (for __any__ platform) from it. I thought it was a file size issue.

Then I tried building a smaller file, copying piece by

[2016-10-14 00:02] simplesteph opened #3991 "[JAVA] Swagger codegen doesn't overwrite by default?"
##### Description

It seems that without specifying the skip overwrite flag, some files are not overwritten. I think the expected behaviour is that it would overwrite every file
##### Swagger-codegen version

latest master
##### Swagger declaration file content or url

https://gist.github.com/simplesteph/97ba4bc15761b578781fffd0b45180ee
##### Command line used for generation

_run twice_
java -jar

[2016-10-14 01:22] #3974 closed

[2016-10-14 01:22] wing328 commented on #3974
PR merged into master. Thanks for the contribution.

[2016-10-14 01:38] wing328 commented on #3988
Class name is determined by `tags`. What's the `tags` for the endpoints in question?

[2016-10-14 01:41] wing328 commented on #3835
@loretoparisi no idea off the top of my head.

cc @Shyri to see if he's any clue.

[2016-10-14 01:41] #3830 closed

[2016-10-14 01:42] fatih-akgul commented on #3966
Using the same swagger spec file, the methods generated don't change. If a vendor extension variable names "x-paramCollapseThreshold" is added at the root level of the swagger spec file, any GET operations with a number of params equal to or greater than this number gets a model for input. The same variable can also be used at the operation level to override the global value set at the root level.

[2016-10-14 01:44] #3670 closed

[2016-10-14 01:45] #3644 closed

[2016-10-14 01:47] #3609 closed

[2016-10-14 02:25] wing328 commented on #3628
I mean do you have time to contribute the fix.

[2016-10-14 03:12] #3406 closed

[2016-10-14 03:13] wing328 commented on #3406
PR merged into master. Please pull the latest to give it a try.

[2016-10-14 03:14] wing328 commented on #3202
PR merged into master. Please pull the latest to give it a try.

[2016-10-14 03:14] #3202 closed

[2016-10-14 03:20] wing328 commented on #3647
Closed via https://github.com/swagger-api/swagger-codegen/pull/3668

[2016-10-14 03:20] #3647 closed

[2016-10-14 06:58] khorolets commented on #3988
@wing328 Thank you for your attention.

Here is the tags

[code]

[2016-10-14 07:09] pradeepkumarreddyk commented on #3628
yes, i have time to contribute the fix.

On Fri, Oct 14, 2016 at 7:55 AM, wing328 <notifications@github.com> wrote:

[2016-10-14 08:41] wing328 commented on #3988
@khorolets it turns out the `tags` name has already been cleaned up before reaching the Python generator (e..g fake_class_name_tags becomes Fakeclassnametags). We'll probably need to modify the default generator to remove that logic.

It should be done over the weekend. Will keep you posted.

Thanks again for reporting the issue.

[2016-10-14 08:42] khorolets commented on #3988
@wing328 Thank you!

[2016-10-14 08:52] jeusdi opened #3993 "[C#] Pass properties using a `.properties` file instead paramaters"
##### Description

I've took a look on [here](http://docs.virtocommerce.com/display/vc2devguide/How+to+generate+module+API+C%23+client) in order to feed myself acoording how to specifiy options on my `"codegen -l csharp"` generator.

I'd like to use a `.properties` file instead of `-Doption`. Is it possible?

##### Swagger-codegen version

2.3.0

##### Command line used for generation

    java -j

[2016-10-14 09:06] wing328 commented on #3988
@khorolets it's actually a quick fix: https://github.com/swagger-api/swagger-codegen/pull/3995

Note that I've filed it against 2.3.0 since it's breaking change.

[2016-10-14 09:10] wing328 commented on #3993
Instead of using -Doption, you can use -c to specify a JSON file which contains the option. Do a search for "-c" in the README should show you an example.

[2016-10-14 09:11] wing328 commented on #3991
Yes, certain files are not overwritten and moving forward, we'll leverage .swagger-codegen-ignore to  control what files will not be overwritten by Swagger Codegen when generating files to the same directory.

[2016-10-14 09:14] simplesteph commented on #3991
Sounds good. Right now this seems quite arbitrary as my test classes are ignored but my api classes aren't. Same for README.md. Basically, if I make an update to my swagger.json file, I'd like the relevant files to be automatically updated

[2016-10-14 09:14] wing328 commented on #3628
Yes, you're correct. The following file is a good starting point:

https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/android/libraries/volley/api.mustache#L112-L134

[2016-10-14 09:25] jeusdi commented on #3993
Thanks @wing328 , I've tested it and it works fine.

Nevertheless, let me ask you for how to get the specific options of each language. I've tested with `ava -jar swagger-codegen-cli.jar config-help -l csharp` and it dumps me nothing. Am I doing something wrong?

[2016-10-14 09:38] triptec opened #3996 "[JAVASCRIPT] Only generate api without the models"
I'm using a generated swagger client in a reactjs project where we use Immutable, I would like to get the data as a json map instead of models. Is it only me that have a need for something like this?

An alternative would be to implement a toJSON() that would return the object representation.

[2016-10-14 09:40] jeusdi commented on #3993
Thanks @wing328 . I've just tested a bit with it. In order to be able to get a list of specific options of `csharp` language, I've performed: `java -jar swagger-codegen-cli.jar config-help -l csharp`. It dumps me:

[code]

I would like to set:

 1.  SolutionName.
 2. ProjectName.
 3. Avoid Test project generation.

I've tested with this options:

[code]

According to last page reference I've writt

[2016-10-14 09:50] wing328 commented on #3988
PR merged into 2.3.0. Please pull the latest to give it a try.

[2016-10-14 09:50] #3988 closed

[2016-10-14 09:51] prakashmrec opened #3997 "What repository should I use to get the latest SNAPSHOT version (2.2.2-SNAPSHOT) ?"
According to pom file, https://oss.sonatype.org/content/repositories/snapshots/ should have the snapshot version but that contains very old SNAPSHOT (https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen/2.2.2-SNAPSHOT/).

Is the SNAPSHOT version deployed somewhere when a new commit is pushed to 'master' branch ?

[2016-10-14 09:59] albertonavarro opened #3998 "[akka-scala] Bug generating enums"
When I try to generate akka-scala code for an enum, it generates incorrectly declared classes.

This is reproducible from either the maven plugin (2.2.1) or the editor.swagger.io

I don't know if this is a regression.

In this example, pay attention to "something" object
[code]
To reproduce the bug, I used editor.swagger.io -> Generate client -> akka-scala

Buggy result:

[code]

As you can see, t

[2016-10-14 10:11] khorolets commented on #3988
@wing328 Thank you very much, works as expected! You're awesome!

[2016-10-14 10:51] damienpontifex opened #3999 "[typescript-angular2] response headers not accessible"
##### Description

When using the generated api classes with the typescript-angular2 generator, there isn't a way to access the response headers. Here [angular2/api.mustache#L44-L53](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L44-L53) is where the response serialises and returns the json body, and it would

[2016-10-14 10:52] wing328 commented on #3997
SNAPSHOT version is not published. You can build and install locally: `mvn clean install`

[2016-10-14 10:54] wing328 commented on #3996
The `toJSON` method was removed. Please refer to the discussion in https://github.com/swagger-api/swagger-codegen/pull/2288

[2016-10-14 11:02] prakashmrec commented on #3997
Ok, thanks. I will build it locally.

[2016-10-14 11:02] #3997 closed

[2016-10-14 11:14] khorolets opened #4000 "[Python] OAuth2 support & refresh-tokens"
##### Description

Hi! I have a few questions:

1. Is it planned to integrate some sort of support for OAuth2 in that way that it would be auto-generated? If not, would you approve a PR to integrate it?

2. It would be nice to use refresh-tokens to get transparent authorization. So if user makes a request and his token is outdated it would be great to try to renew token with refresh-token to avoid

[2016-10-14 11:15] wing328 commented on #3999
@damienpontifex for other API clients (e.g. ruby, python, php, etc), there's an additional method "_with_http_info" to return data (deserialized), http status code and http headers: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/lib/petstore/api/pet_api.rb#L39-L88

For Typescript API client, we can do something similar.

[2016-10-14 11:16] wing328 commented on #4000
@khorolets yes to both.

There were some discussion about these before but we've not seen any PRs from the community so far.

[2016-10-14 12:23] triptec commented on #3996
Yes, I saw this. That would mean me doing:
[code]
I would mush prefer
[code]
JSON.stringify also calls toJSON() and not toJson() so it would allow for internal properties on the model that would not be serialized if we don't want them to.

[2016-10-14 13:16] wing328 commented on #3996
And here is what I said before: https://github.com/swagger-api/swagger-codegen/pull/2075#issuecomment-186995224

[2016-10-14 15:33] khorolets commented on #4000
@wing328
I have found the lib https://github.com/requests/requests-oauthlib which can be used to reach the goal.

Would you merge a PR if it uses `requests` and `requests-oauthlib`?

The usage of this libs will add extra dependencies. So we want to bring `requests` to add oauth2 support but we have no time to refactor the whole python code to use `requests` instead of `urllib3`.

/cc @geekerzp

[2016-10-14 16:01] wing328 commented on #4000
We do have feedback before about avoiding unnecessary dependency if possible, which means owners of a REST API using API key for authentication probably don't want the extra dependencies for oauth2 support.

Let me check a bit more on this and get back to you.

[2016-10-14 16:26] FabricioRocha commented on #3990
Dammit. Found the typos. Sorry.

[2016-10-14 16:26] #3990 closed

[2016-10-14 16:33] cbornet commented on #3568
We should probably have a "javaVersion" option that would provide some defaults:
* jdk6 : no java.util.Object, threetenbp as default date lib
* jdk7 : threetenbp as default date lib
* jdk8 : java.time as default date lib

[2016-10-14 17:03] ashughes commented on #3568
I agree with @cbornet. However, on Android the default date lib should be [ThreeTenABP](https://github.com/JakeWharton/ThreeTenABP). Maybe there could be an "androidVersion" or "androidMinSdk" option with defaults:

- 1 : no java.util.Objects, ThreeTenABP as default date lib
- 19 : ThreeTenABP as default date lib

[2016-10-14 17:43] triptec commented on #3996
@wing328 sorry but I'm not suggesting an implementation like:
[code]
but something along the lines of:
[code]

[2016-10-14 17:47] triptec commented on #2041
I played around with this and made this PR #3989, I'd like some comment about how this should be implemented and I will try my best.

[2016-10-14 18:52] cbornet commented on #3568
Or "sdk" which can be java6, java7,java8 and android.

[2016-10-14 18:55] ashughes commented on #3568
Right, but it would also be good to have different Android versions, since on API 19+ it's okay to use java.util.Objects.

[2016-10-15 09:13] wing328 commented on #3568
I've added an option `supportJava6` (default to false) to the latest master via https://github.com/swagger-api/swagger-codegen/pull/3919.

Please pull the latest to give it a try.

[2016-10-15 10:20] wing328 commented on #3788
#4002 has been merged into master.

Please pull the latest master to give it a try.

[2016-10-15 10:20] #3788 closed

[2016-10-15 15:51] jfiala commented on #2549
@abhijith-prabhakar added support for minItems/maxItems (maps to @Size).

[2016-10-15 15:52] abhijith-prabhakar commented on #2549
Thank you.  Will try it out once accepted

[2016-10-15 18:58] jfiala commented on #2017
@rynger: I changed the @Path to @Path("/") as the contextPath is otherwise not correctly assembled in the Swagger specification.

[2016-10-16 07:33] #3408 closed

[2016-10-16 16:14] jfiala commented on #2017
added cxf client in PR 4003

[2016-10-16 16:29] jfiala commented on #3279
added gzip support to the jaxrs-cxf client in PR #4003  + documented the supported gzip feature using interface GzipFeatures

[2016-10-16 16:31] jfiala commented on #3365
added gzip support to the jaxrs-cxf client in PR #4003 + documented the supported gzip feature using interface GzipFeatures.

[2016-10-16 16:35] jfiala commented on #3308
added interfaces in io.swagger.codegen.languages.features to allow easy detection of supported features across languages.

Currently added interfaces:
* BeanValidationFeatures (= language supports bean validation annotations)
* BeanValidationExtendedFeatures (=automatic bean validation)
* LoggingFeatures
* GzipFeatures
* SpringFeatures
* SwaggerFeatures
* CXFServerFeatures for CXF-specific feature

[2016-10-16 16:37] jfiala commented on #2615
BeanValidation annotation support + automatic BeanValidation has been added to jaxrs-cxf-server in PR #4003 , pls check if you are missing something.

[2016-10-16 16:45] jfiala commented on #714
@wing328 currently the implementation classes are always generated at the servers supporting it (currently 4 - JavaResteasyServerCodegen, JavaJerseyServerCodegen, JavaJAXRSCXFCDIServerCodegen, JavaCXFServerCodegen).
I think the easiest solution would be to add a CLI switch to indicate if the impl. classes should be generated and implement it for the 4 languages?

[2016-10-16 16:50] wing328 commented on #714
@jfiala thanks for the suggestion. What about leveraging `.swagger-codegen-ignore` file to indicate those implementation classes should not be generated?

[2016-10-16 17:10] jfiala commented on #714
@wing328 Thx for the input, this works perfectly.

However, I think maybe a separate option would be better because using the ignore-file users have to post-process the generated output, which is undesirable e.g. for output generated during a maven build which is usually intented to run only against generated folders.
So I think the decision to omit implementation classes should be done before gen

[2016-10-16 21:25] jimschubert commented on #3993
I looked at this. Looks like CSharpClientCodegen now only explicitly sets the following in `processOpts`:

[code]

This should be set in the constructor because they're pulled from the `additionalProperties` in the abstract base class.

Model and api tests files were added at some point outside the `excludeTests` check, so all you were getting for `excludeTests` was exclusion of the nuget package

[2016-10-16 22:09] jimschubert commented on #3993
@jeusdi @wing328 I've submitted PR #4010 to address this issue.

[2016-10-16 22:16] jimschubert commented on #3961
@wing328 @lunat I'll add this to my PR #4010 in which I fix modelPackage elsewhere. The suggested fix in this PR would actually cause a bug after 4010 is accepted.

[2016-10-16 22:23] jimschubert commented on #3961
I've pushed the change to the open PR which is compatible with that PR's change (allows the C# generator to support custom API and Model namespaces via `apiPackage` and `modelPackage`).

[2016-10-16 23:55] bull-xu-stride commented on #3806
This is also issue for generating Swift code. AlamofireRequestBuilder passes in Alamofire.ParameterEncoding.URL encoding type, and Alamofire ParameterEncoding is using `queryComponents("\(key)[]", value)` which not a single value of `comma separated values foo,bar.` described in http://swagger.io/specification/

[2016-10-17 02:15] wing328 commented on #3806
@bull-xu-stride for the issue with the `swift` API client, please kindly open a separate issue for tracking.

[2016-10-17 07:03] enagy27 opened #4012 "Swift 3 Code Generation is outputting an old version"
I had been following along with the Swift3 code generation before it was released and had everything working ok (before the swift3 flag was introduced). However, now it seems that when I run code generation using the Swift3 flag it outputs none of the expected changes. Verbose output shows that it is attempting to use the Swift3 code generation (with promise kit), but the output is still full of t

[2016-10-17 08:26] wing328 commented on #3993
PR merged into master. Please pull the latest master to give it a try.

[2016-10-17 08:26] #3993 closed

[2016-10-17 08:39] wing328 commented on #4012
We just fixed it via https://github.com/swagger-api/swagger-codegen/pull/4013.

Can you please pull the latest master to give it a try?

[2016-10-17 09:26] cbornet commented on #3426
After checking how these libs works, I don't think this should be part of what we generate: the way to register the libs is to call it from the application context in the create() method. This is out of scope of the API client lib.
Maybe we could generate indications in the README, docs, code on how to use these libraries on android.

[2016-10-17 13:10] jeusdi opened #4016 "Avoid to generate unnecessary artifacts"
##### Description

When I perform `swagger codegen`, it generates me several files I'd like to avoid to. For example, it generates an `git_push.sh`, an `build.bat`, an `build.sh`, and `travis.yml` and so on.

How could I set it generates me only what I need?

I'm generating a CSharp client.

##### Swagger-codegen version

2.2.2

[2016-10-17 13:12] jeusdi opened #4017 "Add swagger codegen to chocolatey"
##### Suggestion

What about adding it on chocolatey?

[2016-10-17 13:12] wing328 commented on #4016
You can leverage `.swagger-codegen-ignore` file to skip files that you don't want to generate.

[2016-10-17 13:16] jeusdi commented on #4016
Is there some documentation or some stuff code about how to get it?

[2016-10-17 13:24] wing328 commented on #4016
.swagger-codegen-ignore is also generated if it's not already present in the output directory and it contains some comments explaining its usage. It works like [.gitignore](https://git-scm.com/docs/gitignore))

To skip git_push.sh, just put git_push.sh in that file.

[2016-10-17 13:40] wing328 commented on #4016
FAQ: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-to-skip-certain-files-during-code-generation

[2016-10-17 13:41] wing328 commented on #4017
Sounds good to me. May I know if you've time for the contribution?

[2016-10-17 14:20] wing328 commented on #3998
@albertonavarro thanks for reporting the issue. I don't think `scala`-related generators support top-level enum definition at the moment.

If you've time to contribute the enhancement, I will show you some good starting points. Let me know.

[2016-10-17 14:36] albertonavarro commented on #3998
Although I'd like to contribute, I don't have the time, sorry, I guess
we're all in the same situation.

On Mon, Oct 17, 2016 at 3:20 PM, wing328 <notifications@github.com> wrote:

[2016-10-17 14:49] wing328 commented on #3651
Closed via #4014

[2016-10-17 14:49] #3651 closed

[2016-10-17 15:12] #4016 closed

[2016-10-17 15:27] jeusdi commented on #4017
Why not! Is there some guide in order to be able to get some help for contribution?

[2016-10-17 16:01] wing328 commented on #4017
I do not have any experience with `chocolatey`.

We do publish a [`brew`](https://github.com/Homebrew/brew) forumla, which can be served a as a reference and here is the detail:
[code]

[2016-10-17 16:01] FodT opened #4018 "[PYTHON] refs to arrays in editor/codegen potential differences"
##### Description

Modeling a response using [this](https://www.irccloud.com/pastebin/OWxbqAoc/) yaml to model a response which looks like [this](http://pastebin.com/xSchfqD4) results in `data` coming back as an empty object/dict, rather than the expected array of entities.
Changing `multiResponse` to define `data` as type array of `organizations` as below results in the response being correctly m

[2016-10-17 18:46] enagy27 commented on #4012
Yes, that did the trick, thank you!

[2016-10-17 18:47] #4012 closed

[2016-10-17 19:52] jimschubert commented on #2584
@wing328 @jforsell anything more required by this issue?

[2016-10-17 20:10] jimschubert commented on #3748
@lunat @wing328 I added the extra tags I mentioned above.

[2016-10-17 20:28] wilkystorm commented on #1806
I am still experiencing this issue with swagger-codegen version 2.2.1 when I have "type" : "string", "format" : "uuid" I am still getting the type as String in the generated Java client

[2016-10-17 21:29] wilkystorm commented on #1806
when I go here https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java I do see this at lines 1090-1091:  } else if ( p instanceof UUIDProperty) {
            datatype = "UUID";
I wonder why when I did npm install swagger-codegen on mac I am not getting a java.util.UUID when I run swagger-codegen on my json file which

[2016-10-18 01:17] sm4 commented on #3660
I would like this as well. How should this look like?

There are three places where it could go:

* In the code examples (i.e. replace the apiKey_example constant with the apiKey example)
* In the pretty printed json if there are examples defined on the DTOs
* In the table that lists the parameters (not applicable for body params)

Or combination of 2 or all 3.

[2016-10-18 02:13] wing328 commented on #2584
I don't think so. Closing it.

[2016-10-18 02:13] #2584 closed

[2016-10-18 02:15] wing328 commented on #3748
PR merged.

[2016-10-18 02:15] #3748 closed

[2016-10-18 03:09] wing328 commented on #4000
Seems like https://github.com/requests/requests-oauthlib is the most mature and active module for OAuth support in Python.

Another thing we need to consider is that the module needs to work with both python 2.x and 3.x, which should not be a problem for request-oauthlib as its [CI tests](https://github.com/requests/requests-oauthlib/blob/master/.travis.yml) already cover both python 2.x and 3.x

[2016-10-18 03:12] wing328 commented on #3660
@sm4 I suggest we start with combination of 2 (1 would be most useful to me from a developer standpoint)

[2016-10-18 03:13] wing328 commented on #1806
@wilkystorm the issue was fixed in the latest master. Please pull the latest to build the JAR locally and give it another try.

[2016-10-18 07:46] k1w1m8 commented on #3568
We have a similar issue with wishing to run generated client code on Java6 (in our case jersey2 but it doesn't seem to make a difference). So, this would be perfect for us. I tried the latest and found that  equals and hashcode methods have been removed from the model classes. Excellent.

However, there are a few remaining issues:
- java.util.Objects import is still present
- ApiClient.downloadFil

[2016-10-18 08:01] wing328 commented on #3568
Thanks for doing a test. I'm working on 1 and 3

How should that be changed to conform to Java6?

[2016-10-18 08:07] k1w1m8 commented on #3568
It's relying on a copy method. I guess options would be to provide an
inline copy implementation or use an alternative library to do the copy
such as commons.io.

On Tue, 18 Oct 2016 7:02 pm wing328 <notifications@github.com> wrote:

[2016-10-18 08:10] jeusdi opened #4020 "packageName and invokerPackage properties roles in csharp language"
##### Description

Which is the output according these property values (or any others) using csharp language?
I don't quite get it.

[code]

Currently, it's generating me a `Client.csproj` file. I thought `invokerPackage` was the `"namespace"` used in each file. Nevertheless, each `api-like.cs` and the other generated classes has a `namespace Client.Client` or `Client.Api`.

As far I've been able

[2016-10-18 08:18] wing328 commented on #3568
I've fixed 1 & 3 via #4021.

Do you have cycle to contribute the suggested fix?

[2016-10-18 08:29] wing328 commented on #3931
I did a test with the latest master but couldn't repeat the issue. I renamed `tags` to `tags-example` in [petstore.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L677) and got the following (correct) result:
[code]

Can you do a test with the latest master to see if you can still repeat the issue?

[2016-10-18 08:47] wing328 commented on #3568
#4021 merged into master.

[2016-10-18 09:24] wing328 commented on #3973
Closing this as there's no update. If you need further assistance, please open a new issue.

[2016-10-18 09:24] #3973 closed

[2016-10-18 09:25] wing328 commented on #3947
@ifreecarve the following file is a good starting point to add more tests:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/java/io/swagger/codegen/CodegenTest.java

[2016-10-18 09:31] RaphC opened #4022 "Vendor Extensions are not available CodegenResponse"
##### Description

Hi,

OpenAPis specifies it is possible to define vendorExtension on Response object (CodegenResponse) but the class CodegenResponse doesn't support it. Is there any enhancement planned for this feature?

Here is the link on OpenAPI documentation

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responseObject
##### Swagger-codegen version

2.2.1
##### Swa

[2016-10-18 09:46] wing328 commented on #4022
@RaphC thanks for reporting the issue. May I know if you've time to contribute the enhancement?

[2016-10-18 10:01] k1w1m8 commented on #3568
I think given we already have commons.io as a dependency hopefully we should be able to trivially substitute Files.copy with FileUtils.copyFile for Java6. I'll take a look tomorrow.

[2016-10-18 10:02] wing328 commented on #3568
@k1w1m8 thanks for offering help to contribute the enhancement.

[2016-10-18 10:22] wing328 commented on #3846
Fixed via #4023. Please pull the latest master to give it a try.

[2016-10-18 10:22] #3846 closed

[2016-10-18 10:36] karussell commented on #3846
Thanks a lot!

For dart it works but for sinatra I get an exception although it says 'renamed to ModelBreak':

[code]

[2016-10-18 10:54] wing328 commented on #3846
@karussell sorry I forgot to commit the remaining change. #4024 should fix it (will merge it after passing the CI tests)

[2016-10-18 11:47] wing328 commented on #3846
#4024 merged into master. Please kindly give it another try.

Sorry for the inconvenience caused.

[2016-10-18 11:49] andriuskl commented on #3914
@wing328 , can point me to were that fix should go, I could try to fix.

[2016-10-18 12:13] alechill opened #4025 "[TYPESCRIPT] typescript-fetch cannot pass fetch specific request options"
##### Description

Through the current fetch api template the fetch options is created internally by declaring simply the request method, and appended to in special cases such as headers/body/file etc. These cases not however exhaustive, and a bunch of request options in the spec (https://fetch.spec.whatwg.org/#concept-request) that may need be supplied are not accounted for.

For example, cookies

[2016-10-18 14:03] dcbroad3 commented on #3948
Based on the discussion so far, it looks like you're pretty set on Java and I'm not sure I blame you, but since you're asking for feedback:
I'm personally working on mapping a Web API assembly through a swagger spec to typescript/angular2, and no one in our company uses Java. We're a Microsoft focused company and we primarily use C++/C#. I'm having to consider alternatives to swagger-codegen becau

[2016-10-18 14:06] karussell commented on #3846
I highly appreciate your work&time! (btw: no need to sorry :)!)
This works now and have added two new languages for our API clients - nice!

[2016-10-18 14:08] dcbroad3 opened #4028 "Allow specifying API suffix in config"
Working on generating a typescript/angular2 library using swagger-codegen. I note that it is hard-coded that Api files have "Api" appended to the name. In angular/angular2, these are definitely called Services, so "ThingApi" should be "ThingService." I note that for models it's possible to specify a prefix and suffix, but for api's the suffix is hard-coded. Could you expose an apiNameSuffix option

[2016-10-18 14:34] jimschubert commented on #3948
@dcbroad3

You don't need Java installed to use swagger codegen.

With Docker installed (which most devs have anyway), you can use my container: https://hub.docker.com/r/jimschubert/swagger-codegen-cli/

There's also a web service which you can deploy internally in commodity hardware (swagger-generator, which should run on as little as a Raspberry Pi). The generator is different from editor.swagge

[2016-10-18 14:37] cbornet commented on #3948
You could also wrap the jar+JRE in an exe with [Launch4j](http://launch4j.sourceforge.net/) (which makes me think that we could distribute the cli releases as windows exe)

[2016-10-18 14:45] cbornet commented on #3948
And installing .NET or Mono is not better than Java :smile:

[2016-10-18 15:00] pradeepkumarreddyk commented on #3628
i have cloned the swagger-codegen code, then i have executed the following
command on top level directory to find out the list of files which need
modification.

 *grep -r volleyError.networkResponse **

Output of the above command is as follows :-
----------------------------------------------------------------
modules/swagger-codegen/src/main/resources/android/libraries/volley/api.mustache:

[2016-10-18 15:47] wing328 commented on #4028
Agreed with you that some people may want to name the Api files differently (e.g. with Service suffix).

As a workaround, you can modify [TypeScriptAngular2ClientCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java) to overrride the following methods so as to customize the Ap

[2016-10-18 16:11] wing328 commented on #3914
@andriuskl if I understand correctly, we need to insert the code for handling header parameters here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/api.mustache#L123

The header parameters should be stored in a [dictionary](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/CollectionTy

[2016-10-18 18:24] dcbroad3 commented on #4028
https://github.com/dcbroad3/swagger-codegen/ is ready for a PR.

[2016-10-18 18:54] brokenjpl opened #4030 "CodegenOperation isMemberPath()"
##### Description

CodegenOperation methods isRestfulUpdate and isRestulDestroy has the condition of isMemberPath() which contains this login:

`        if (pathParams.size() != 1) return false;

I believe it is valid for a REST call to contain multiple path param: eg. **DELETE /org/{myOrg}/user/{myUser}**  and **PATCH /org/{myOrg}/user/{myUser}**  (valid in my current model)

This is preventing m

[2016-10-18 19:20] digital-abyss opened #4031 "[JAVA] Client code does not compile for Iterable<ConcreteClass> API return type"
##### Description

I have a resource class with an Iterable as a return type:
[code]

Saying.java:

[code]

This generates the following specification:

https://github.com/digital-abyss/swagger-codegen-issue/blob/master/swagger.json

When trying to compile this using swagger-codegen, I encounter errors:

[code]

This is the return value of the endpoint:
[code]

If I replace `Iterable` interface wi

[2016-10-18 19:44] dcbroad3 commented on #3948
I'm sure we'll find a way to get it to work, but just figured that since you're asking, I'd point out that it's a fair amount of extra work for us to use this project in Java. For me it's not a matter of whether .NET or Java is better, but a matter of consistency and convenience in our company since we don't use Java for anything, but we use .NET wherever possible.

[2016-10-18 19:55] digital-abyss commented on #4031
I was able to also get this to compile using this annotation:
[code]

Maybe this is expected behaviour for `Iterable` as a return type?

[2016-10-18 23:19] theindexer opened #4032 "[PHP] Can't deserialize enums"
##### Description

--Enum here refers to an enum declared in swagger, which turns into a php class.--

My generated php client api can't get an object that includes an enum property.
I haven't checked serialization.
Didn't find any related issued when I looked.

##### Swagger-codegen version

2.2.1

##### Swagger

Minimal json of the enclosing object (which is of course enclosed in a response)

[c

[2016-10-19 02:17] www2k opened #4034 "[ALL] lack of recieving file response support"
##### Description

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responseObject

`Response Object`'s schema can be a single file type.
But swagger-codegen does not support it.

https://github.com/swagger-api/swagger-codegen/blob/v2.2.1/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenOperation.java
https://github.com/swagger-api/swagger-codegen/blob/v2.2.1

[2016-10-19 03:02] wing328 commented on #3948
@dcbroad3 do you know that this project also comes with a web service to generate code (API clients, server stubs, documentation) ??

editor.swagger.io sends HTTP requests to generator.swagger.io to generate code and generator.swagger.io is exactly powered by this project.

The easiest way is to run it via docker: https://hub.docker.com/r/swaggerapi/swagger-generator/

and here is how to generate

[2016-10-19 03:02] wing328 commented on #4028
@dcbroad3 thanks! Please submit a PR and we'll review the change.

[2016-10-19 07:24] mspmax commented on #3421
@wing328 I'm getting similar kind of an issue for android. I'm using swagger-codegen version 2.2.0

**Error segment**

`public enum List&lt;ScopesEnum&gt; {
     Catalog,  Commerce,  Settings,
  };`

**Related Definition from the server**
`AccountTokenRequest: {
type: "object",
required: [],
additionalProperties: false,
properties: {
email: {
description: "The email associated with the account.",

[2016-10-19 07:41] wing328 commented on #3421
@mspmax can you build the JAR based on the latest master and do a test to see if the issue still occurs?

[2016-10-19 07:48] mspmax commented on #3421
@wing328 Thanks for the quick reply. I did use latest master and did a 'mvn clean package' but the issue is still there. I tested it against okhhtp-gson codegen and it worked perfectly. I can give you the full URL of the spec if it's necessary.

[2016-10-19 15:11] meltedspark commented on #3474
Works fine when all the models are defined in a single file.
Still doesn't work with models split to several files. Consider the following scenario: there are multiple web services that share common resources. So there is a common models spec file, and a spec file for each service.
When the common specs file defined like this

[code]
and in service file there is an inheritance from `Observation` (

[2016-10-19 15:32] MaciejGit opened #4037 "Codegen for typescript-angular2 - "responseType" is always "ResponseContentType.Json""
##### Description

While generating typescript-angular2 API, requestOption.responseType is always set to ResponseContentType.Json. This is causing issues when API returns 204 and there is no content to be parsed to json. Angular 2 is trying to parse response according to responseType and failing in this case.

Moreover, extraHttpRequestParams is not applied (parameter is not used).

Another suspic

[2016-10-19 22:45] scannerscan commented on #3568
Just added new PR https://github.com/swagger-api/swagger-codegen/pull/4039 with idk6 compatible hashCode and equals implementation.

[2016-10-20 03:40] wing328 commented on #3568
PR merged. Thanks @scannerscan for the contribution.

[2016-10-20 03:40] #3568 closed

[2016-10-20 09:42] andreaformica opened #4042 "Python client generation fails in 2.2.1"
##### Description

I have a problem in generating a python client from a JAX-RS application due to the usage of special regular expressions in the @Path definition.
My method contains the following annotations:
`
@ApiOperation(value = "List tags.", notes = "List tags.",
    response=SchemaNodeTagType.class,
    responseContainer="List")
@Path("/{schema}/{db}/{node: (.+)?}/tags")
public List<Schema

[2016-10-20 09:54] wing328 commented on #4042
@andreaformica please give the latest master a try as I believe we've fixed it already.

[2016-10-20 10:13] andreaformica commented on #4042
I did a try with the branch 2.3.0, and it works !!!
Sorry for the noise then.
Let me also comment that swagger is really wonderful !

[2016-10-20 10:26] wing328 commented on #4042
Glad to hear that you find it useful 😄

[2016-10-20 10:26] #4042 closed

[2016-10-20 10:38] wing328 commented on #4018
[code]
You need to revise the `responses` to return an array of `multiResponse` instead of just `multiResponse` (as shown above). Please refer to the following as an example:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L111-L117

[2016-10-20 13:58] tht13 commented on #3970
Fixed in #4008 and #4005

[2016-10-20 13:58] #3970 closed

[2016-10-20 14:01] wing328 commented on #3970
@tht13 thanks for your help in fixing this.

May I know if you've time to fix the same for `typescript-angular`, `typescript-angular2` and `typescript-node`?

[2016-10-20 14:16] bziorkiewicz opened #4044 "[JavaScript] ES6 modules without Typescript"
Is there a way to use generated client with es6 modules but without installing typescript and core-js? My project is based on Webpack and Babel and I don't wan't to install typescript only for this one file. On the other hand pure JS client is based on old modules specification, and babel/webpack can't build this. Does somebody succeeded to run this with pure es6? Can you share your setup?

[2016-10-20 14:30] tht13 commented on #3970
I'll put together a PR 👌(or 3)

On Thu, 20 Oct 2016, 15:01 wing328, <notifications@github.com> wrote:

--
Regards,
Thomas Townsend
+47448960

[2016-10-20 14:40] wing328 commented on #4037
@MaciejGit thanks for reporting the issue.

We also want to support it. Please refer to the discussion [here](https://github.com/swagger-api/swagger-codegen/issues/3081).

May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2016-10-20 14:57] wing328 commented on #4034
@www2k thanks for the suggestion. I think it's reasonable to add those additional mustache tags for `file`.

May I know if you've time to contribute the enhancements?

[2016-10-20 14:59] wing328 commented on #4032
@theindexer thanks for reporting the issue. You're right that the issue was caused by top-level enum class missing `swaggerType`.

May I know if you have time to contribute the fix?

[2016-10-20 15:02] wing328 commented on #4030
@brokenjpl thanks for reporting the issue. Can you please share a spec so that we can more easily reproduce the issue?

[2016-10-20 15:05] wing328 commented on #4020
[code]
You're correct in saying that `invokerPackage` is not used in C# mustache template.

[2016-10-20 15:06] wing328 commented on #4022
@RaphC I can show you some good starting points if you want to work on this.

[2016-10-20 15:39] markus-wa opened #4045 "[JAXRS-CXF] Lowercase enums sent as uppercase"
##### Description

When sending enums with lowercase 'value' attributes the uppercase enum name seems to be sent instead.
##### Swagger-codegen version

2.2.2-SNAPSHOT
##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json
##### Command line used for generation

java -jar swagger2java/swagger-codegen-cli-2.2.2-SNAPSHOT.jar generate -i swagger.json -c config.json

[2016-10-20 16:02] theindexer commented on #4032
Not at the moment, unfortunately :/

[2016-10-20 19:52] rajeshkamal commented on #2189
Spring Server Side Code Generation - BROKEN.

Looks like this change - https://github.com/swagger-api/swagger-codegen/pull/2206 seems to have broken backward compatibility and the setter methods in Java POJO's are not getting generated for spring server code generation.

I did already log a bug on this one - https://github.com/swagger-api/swagger-codegen/issues/3793 din't hear from anyone though.

[2016-10-20 20:24] cbornet commented on #2189
IMHO, readOnly has nothing to do with immutable model properties. According to the spec, it just means that the property must not be serialized in requests. See https://github.com/OAI/OpenAPI-Specification/issues/228#issuecomment-69207084

[2016-10-20 20:28] MaciejGit commented on #4037
Hi @wing328 - I think I will have time tomorrow, can you send me instructions please?

[2016-10-20 20:58] rajeshkamal commented on #2189
I am fine with both the client and server code generations do nothing w.r.t to readOnly and generate both getter/setter methods.

Currently it looks like we tried to differentiate it for the client models and the server models seems to be broken now.

[2016-10-20 22:49] triptec commented on #4044
in our webpack config we have
[code]
and use it like
[code]

[2016-10-20 22:52] www2k commented on #4034
I will do it soon :)

[2016-10-20 22:53] triptec commented on #4044
But I'd love a es6 client, if you would like to create one I'd would love to help.

[2016-10-20 22:56] triptec commented on #4045
I think this is a problem in jaxrs-jersey aswell

[2016-10-20 23:37] triptec commented on #2449
@wing328 Do you know anything about progress on this?

[2016-10-21 02:55] wing328 commented on #2449
I believe @yaelah has fixed the issue in his branch but didn't have time to submit a PR yet.

Can you test his fix via https://github.com/yaelah/swagger-codegen to see if it resolves the issue for you?

If the fix works, I can cherry-pick the commits to submit a PR for the fix.

[2016-10-21 07:15] marache commented on #3410
Hi,
I can confirm the issue, it's not in the mustache file that the issue is located. An array of simple types don't get "labelled" as ComplexType thus failing to generate the correct code path. I can have a look and see if I can find out why...

[2016-10-21 07:46] wing328 commented on #3410
@marache for array, we can use the following mustache tags to check:

isContainer - true if it's an array or map
isListcontainer - true if it's an array
isMapContainer - true if it's a map

Would these help?

[2016-10-21 09:02] markus-wa commented on #4045
While I haven't tested it, neither jersey1 nor jersey2 would be affected if it is indeed just the missing toString() method.

See:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs/jersey1/src/gen/java/io/swagger/model/Pet.java#L52

And
https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs/jersey2/src/gen/java/io/swagger/mod

[2016-10-21 09:03] wing328 commented on #4037
@MaciejGit thanks. My comment in https://github.com/swagger-api/swagger-codegen/issues/3081#issuecomment-224658717 is a good starting point.

Then you will need to insert the logic here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L65

To test the change, please do the following to update the Petstore sample

[2016-10-21 09:06] wing328 commented on #4045
`spring` (mvc) also has the toString() method: https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/spring-mvc/src/main/java/io/swagger/model/Pet.java#L52

so adding back the `toString()` method should fix the issue for `jaxrs-cx` ?

[2016-10-21 09:07] triptec commented on #4045
Ah sorry, my problem is that if I define enum as lowercase in the spec, the model generated gets uppercased enums like "image" in spec gives IMAGE("image") and if I send enum as lowercase in my call that wont be accepted so I have to change it to image("image") in the model. sorry for the confusion

[2016-10-21 09:10] wing328 commented on #4045
@triptec based on what I know, defining the enum in any convention (lowercase, uppercase, snake_case) should not matter as the model serialization/deserialization should keep the original enum value. Are you suggesting that's not the current behaviour?

[2016-10-21 09:12] triptec commented on #4045
I think it's the deserialization that has a problem.

How do I show it?

[2016-10-21 09:15] wing328 commented on #4045
I believe you mention you're using `jaxrs-jersey`. To confirm the issue, can you try `spring` as well  to see if the same issue occurs?

[2016-10-21 09:17] triptec commented on #4045
Yes, but what we are talking about now is another issue yes?

[2016-10-21 09:22] wing328 commented on #4045
I think it's the same deserialization issue.

[2016-10-21 09:33] markus-wa commented on #4045
@triptec That sounds like a client issue to me. Are you generating the client as well? Or are you using the same model as server-side?

It looks like the CXF model would not be able to read lower case enums as well:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/io/swagger/model/Pet.java#L59
This will attempt to find a enum whith the n

[2016-10-21 09:40] wing328 commented on #4045
I think the `fromValue` needs to be updated to something like https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/spring-mvc/src/main/java/io/swagger/model/Pet.java#L56-L65

[2016-10-21 09:45] markus-wa commented on #4045
Yes, that's already the case in Jersey (1 & 2), see at the bottom link. Which is why this seems odd.

But for CXF it's missing.

[2016-10-21 10:02] wing328 commented on #4045
@markus-wa may I know if you've time to contribute the fix to `jaxrs-cxf`?

[2016-10-21 10:48] triptec commented on #4045
Hmm, I just removed my gen dir, regenerated and it works.. so disregard my earlier comments

[2016-10-21 12:53] marache commented on #3410
@wing328, thanks but no, I need a way to give mustache the type of the innerType  of a container even if is isn't a complexType (i.e. not a language specific type)

[2016-10-21 13:02] marache commented on #3410
found out that `items.baseType` contains the wanted operation

[2016-10-21 14:21] marache commented on #3410
I submitted a PR #4046

[2016-10-21 15:43] brokenjpl commented on #4030
Attached are a config.json, api.mustach, and a yaml file. Inside the zip is the command to run the test. let me know if this is fine.

If you look at the output, the WorkingApi.java outputs the "update" string, while the NotWorkingApi.java does not. I would like the NotWorkingApi.java to be the same output as the WorkingApi.java

[swagger-test.zip](https://github.com/swagger-api/swagger-codegen/fi

[2016-10-21 15:51] ashokds commented on #2127
Hi @gsnavin,

Were you able to resolve this issue. I am getting the same error when trying to create a dictionary out of a JSONModel object. API template has other JSONModel compliant objects as properties along with some NSStrings.

NSDictionary *dictTemplate = [apiTemplate toDictionary];

[code]

Thanks.

[2016-10-21 19:20] markus-wa commented on #4045
@wing328 I can attempt a fix on monday

[2016-10-22 10:54] schnabel opened #4051 "[JAVA] The java code generated for properties starting with two uppercase letters leads creates wrong json."
##### Description
If the swagger declaration contains properties with names starting with two uppercase letters, the generated java code is not java bean conform. As a result jackson maps the properties twice.
See: http://futuretask.blogspot.de/2005/01/java-tip-6-dont-capitalize-first-two.html

##### Swagger-codegen version
Tested with 2.2.1 and 2.2.2-SNAPSHOT

##### Swagger declaration file conte

[2016-10-22 14:59] #2657 closed

[2016-10-22 15:11] RobertBiehl commented on #2550
@harryblam Hey, try this #4052

[2016-10-23 15:12] mauricedb opened #4054 "[JavaScript] throwing string instead of Error in api.mustache"
##### Description
In the JavaScript version of api.mustache a check for the required parameters is added. If this is not passed an error is thrown. However this error is a string and not an instance of an Error object. While technically valid this is considered a bad practice in JavaScript.

See [here](http://eslint.org/docs/rules/no-throw-literal) the related ESLint rule.

##### Swagger-codegen v

[2016-10-23 16:58] nickcmaynard commented on #3972
So I have an outline plan for this, and it looks something like this:
1. Put in place the POM changes that execute checkstyle, but only WARN on changes - this is PR #4047.
2. We say "PRs don't increase the number of warnings" - ie. any changes don't fail checkstyle.
3. I'll submit a once-off PR that:
  1. Fixes all point-in-time checkstyle failures.
  2. Changes the POM checkstyle behaviour to ERR

[2016-10-24 12:47] plankswert opened #4058 "Adding support for string response (text/plain) to CPPREST generator"
##### Description

The generated code for CPPREST when the response is "string" has no support for handling 'text/plain' returns from an API.
##### Swagger-codegen version

Found in 2.2.2-SNAPSHOT
##### Swagger declaration file content or url

[code]
##### Command line used for generation

java -jar swagger-codegen\modules\swagger-codegen-cli\target\swagger-codegen-cli.jar generate --lang cpprest

[2016-10-24 14:06] schnabel commented on #4051
It is probably better to apply the patch in AbstractJavaCodegen to avoid side effects in other generators.

[2016-10-24 14:11] wing328 commented on #4051
@schnabel I wonder if you've time to contribute a PR so that we can review the fix.

[2016-10-24 14:37] schnabel commented on #4051
@wing328 Yes, I can contribute a PR. There is another Problem with "all upper case properties" like URL or ATT_NAME. Do you need another issue for that?

[2016-10-24 14:42] wing328 commented on #4051
Ideally we prefer a separate issue for tracking purpose (if it's not too much work to open one)

[2016-10-24 14:48] schnabel commented on #4051
No that's ok. I can do that tomorrow. Do you want PRs on a fork?

[2016-10-24 14:49] wing328 commented on #4051
Yes, please fork this repo and create a branch for the change.

[2016-10-24 17:11] MaciejGit commented on #4037
Done, see: https://github.com/swagger-api/swagger-codegen/pull/4060

Please let me know how does it look like.

[2016-10-24 18:14] KaelenProctor commented on #3614
I am also encountering this error and it seems to occur when a file in a sub-folder references files in any other subfolder. I've created several test cases for various ways of splitting a simple swagger file up, and the cases that fail most (ie an exception) are when a subfile refers to file above it in another subfolder or when the subfile refers to a file further down in the directory structure

[2016-10-24 18:16] fehguy commented on #3614
Please open this issue on swagger-parser.  That's where the logic lives, and we can address it there.

[2016-10-25 07:10] wwn commented on #3708
stumbled in :(

[2016-10-25 08:25] wing328 commented on #3708
Agreed that the NPE should be handled with a better error message.

Btw, "name" in the parameter object is a required field so please update your spec accordingly and you can leverage tools like https://editor.swagger.io to verify the spec.

[2016-10-25 08:27] schnabel opened #4066 "Uppercase property names lead to java code that produces wrong json."
##### Description
If the swagger declaration contains properties with names containing only uppercase letters and underscores, the generated java code is not java bean conform. As a result jackson maps the properties twice. This actually is part of [#4051](https://github.com/swagger-api/swagger-codegen/issues/4051) but the code currently handles this case earlier.

##### Swagger-codegen version
Te

[2016-10-25 08:37] imgx64 opened #4067 "[Java] Support Java 1.6 in generated server stubs"
##### Description

This is similar to issue #3568, but about server stubs. As a result of #3568, `supportJava6` option was added to Java **clients**. This option made the models not use `java.util.Objects`. It's a pretty simple change, and I'm sure it can be applied to server stubs as well.
##### Swagger-codegen version

2.2.2-SNAPSHOT built from git.
##### Swagger declaration file content or url

[2016-10-25 08:53] #4054 closed

[2016-10-25 09:17] schnabel commented on #4066
The fix depends on the fix suggested in [#4051](https://github.com/swagger-api/swagger-codegen/issues/4051) so it is actually:
[code]

[2016-10-25 10:37] mortenhn1981 opened #4069 "Cannot get generated Android client to work, DexException because of apache http client"
Hi.

Been testing the mobil generated clients (swift, objc, android/java) objective c and swift works great, but i have not been able to get android to work. First i used the client with the apache.http client dependency, but android kept refusing to install the test app i created to a device because of the internal apache http client. I then tried the Volly version, but to my suprise it still dep

[2016-10-25 13:15] maik-kulbe opened #4071 "[PHP] Add CURLOPT_PROXY options"
##### Description;

Using the generated code behind a corporate firewall without direct access to the API Endpoint server breaks the generated client code because
##### Swagger-codegen version

2.2.0
##### Command line used for generation

Tested with generated PHP code
##### Steps to reproduce

Run generated code on a machine without route to the API Endpoint host, but with an HTTP proxy enabled(

[2016-10-25 14:36] wing328 commented on #4071
@maik-kulbe your suggestion sounds reasonable to me. May I know if you've time to contribute the enhancement?

[2016-10-25 14:36] wing328 commented on #4071
cc @arnested

[2016-10-25 14:37] wing328 commented on #4069
@mortenhn1981 thanks for reporting the issue. Which version of Swagger Codegen are you using? Have you tried the latest master to generate Android API client (volley)?

[2016-10-25 15:06] imgx64 commented on #4067
I tried my hand at fixing this. It seems to be a rather invasive change, modifying many templates in JavaJaxRS, JavaSpring, etc. Would such a PR be accepted? I'll understand if this feature is not wanted. I admit that Java 6 on the server is rather niche these days.

[2016-10-25 15:49] ePaul commented on #3972
Hmm, is there some way to automatically fix the violations? I would like to not just annoy people, but give them an easy way to also fix the problems then.

[2016-10-25 15:54] wing328 commented on #4067
@imgx64 Please take a look at https://github.com/swagger-api/swagger-codegen/pull/4064 as someone has already started the work. Please review the PR and share any feedback you've.

[2016-10-25 17:04] rajeshkamal commented on #3793
Hi @wing328 any inputs on this. Looks like because of this one - https://github.com/swagger-api/swagger-codegen/pull/2206

Thanks for your time.

[2016-10-25 19:04] jfiala commented on #2017
@wing328: I think this one is complete with the merge of #4003?

[2016-10-25 21:54] ClayAtWork commented on #1167
Has this been worked on by anyone?

[2016-10-26 02:25] wing328 commented on #3478
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/1167

[2016-10-26 02:25] #3478 closed

[2016-10-26 02:26] wing328 commented on #1167
@ClayAtWork I don't think so.

If you've time to work on this, I can show you some good starting points.

[2016-10-26 03:38] wing328 commented on #3793
@rajeshkamal I'll take a look later this week (if you don't see any reply/PR from me by next Monday, please ping me again)

[2016-10-26 03:39] wing328 commented on #3793
(and my apologies for missing this issue)

[2016-10-26 05:29] mortenhn1981 commented on #4069
@wing328  thank you for your reply.

`java -jar swagger-codegen-cli.jar version`

Gives me this result: 2.2.2-SNAPSHOT

[2016-10-26 07:04] rajeshkamal commented on #3793
No issues @wing328 I will ping if I don't see any movement here.

[2016-10-26 07:18] fischerman commented on #3339
Same here with 2.2.2-SNAPSHOT.

Any solutions yet?

[2016-10-26 07:55] David-Vander-Elst commented on #492
Hi

is there a solution to this issue? Same problem here... unable to generate html2 static client with examples... the response schema still empty everywhere. Not that in the html1 client the schema is filled! But I really need to use the html2 one...

Each solution is welcome.

Thank you

[2016-10-26 07:59] nickcmaynard commented on #3972
I do have an uncrustify config that could go a long way to achieving that.  Will test it, use it, and submit it as part of stage 3.

[2016-10-26 08:27] fischerman commented on #3339
I found the problem: If you are on Windows use a semi-colon instead of a colon in your classpath like so:
[code]
Can you verify whether that works for you?

[2016-10-26 08:29] wing328 commented on #4069
@mortenhn1981 the auto-generated API client comes with an auto-generated README.md, which contains installation instruction. Did you follow that or installing the SDK/API client via other approaches?

[2016-10-26 08:30] wing328 commented on #4069
I definitely use the Android SDK (volley) myself before and didn't encounter the issue you mentioned above.

[2016-10-26 08:50] cbornet commented on #3972
If we use google style, we can use [google-java-format](https://github.com/google/google-java-format) with `aosp`  option for 4-spaces indent

[2016-10-26 08:50] maik-kulbe commented on #4071
@wing328 I'll try to, but I don't have a very deep understanding of this repos structure, so if I PR a change later it might need some work.

[2016-10-26 08:52] wing328 commented on #492
@David-Vander-Elst given that `html` client shows the response schema (model), I think it should not be difficult.

Ideally where do you want to display the response schema in the `html2` documentation?

[2016-10-26 08:54] wing328 commented on #4071
@maik-kulbe thanks. A good starting point is to review the merged PRs for PHP API client: https://github.com/swagger-api/swagger-codegen/pulls?q=is%3Apr+label%3A%22Client%3A+PHP%22+is%3Aclosed

[2016-10-26 08:59] wing328 commented on #2437
The issue should be fixed. Please pull the latest master to give it a try.

[2016-10-26 08:59] #2437 closed

[2016-10-26 09:00] wing328 commented on #2549
https://github.com/swagger-api/swagger-codegen/pull/4068 merged into master. Please pull the latest master to give it a try.

[2016-10-26 09:08] hensb opened #4077 "Code generation for spring-mvc failed: Index out of bounds"
##### Description

Code generation failed for spring:

code: 1
type:  "error"
message:  "Unable to build target: String index out of range: 1"
##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]
##### Command line used for generation

[code]

[2016-10-26 09:35] sanket0007 opened #4078 "[Android] Generated libraries need to URL Encode String parameters"
##### Description

If we generate any endpoint for an android client accepting a string parameter, that parameter is never url encoded before sending.

This causes broken urls with spaces if the string contained spaces.
##### Command line used for generation

generated from swagger-editor
##### Steps to reproduce

make any simple endpoint with a simple string parameter. Generate the android client

[2016-10-26 11:21] wing328 commented on #4078
@sanket0007 the issue should have been fixed in the latest master. Please pull the latest master to give it a try.

(editor.swagger.io is using the latest stable version, not the latest master)

[2016-10-26 11:56] mortenhn1981 commented on #4069
@wing328

I must admit that i totally missed the REDME.md. I just whent through the steps with the Android/volly library and im still getting the same error.

[code]

BUT i also went through the steps with the okhttp-gson java library and that is working great, just made my request and no problem at all.

As far as i can see the android/volly still have the apache.http client as a dependency and t

[2016-10-26 13:13] wing328 commented on #4069
@mortenhn1981 glad to hear that okhttp-gson client is working for you. Is there by any chance you're using other libraries, which have a dependency on `apache.http client`?

For `volley`, I think we better off removing `apache.http client` as a dependency.

[2016-10-26 13:38] DavidBiesack commented on #492
@David-Vander-Elst The more recent swagger-codegen does show the status codes and the corresponding response schema for both the html and the html2 targets. I've not tried a OpenAPI doc with examples, though.  If it does not show examples, that is probably a different issue so I suggest you file another issue. @wing328 - I think this particular issue can be closed since html and html2 both lists t

[2016-10-26 14:14] wing328 commented on #492
@DavidBiesack thanks for verifying.

Closing this.

[2016-10-26 14:14] #492 closed

[2016-10-26 16:41] rosaAdl commented on #1229
This commit breaks simple scenarios... I have the following enum:
[code]
and the incorrectly generated enum is the following:
[code]

Not a fan of this commit :(

[2016-10-26 17:07] lsarni commented on #3339
@fischerman  It didn't worked for me, I keep getting the same error with the semi-colon

[2016-10-26 20:58] mlamina opened #4079 "Path parameter named "path" breaks generated Go client code"
##### Description

If you have a path parameter called "path", the generated Go client will not compile, because the API client methods try to declare a variable called "path", which clashes with the method argument, which is also named "path".
##### Swagger-codegen version

2.2.1
##### Swagger declaration file content or url

[code]

Generated Go code:

[code]
##### Command line used for generati

[2016-10-26 21:50] David-Vander-Elst commented on #492
Hello,

I found the origin of my issue.

Actually, when I use the enum property, the schema will be empty in html2.

I tried it on the swagger editor official website and it still bugs.

So this will works correctly:
[code]

This, will not:

[code]

Hope it'll helps.

[2016-10-27 07:02] David-Vander-Elst opened #4081 "html2 generated static client has no response schema if using enum property"
##### Description

After a long investigation about why the schema still empty when generating my static html2 documentation, I found that it was only when we have an enum property for some fields...
##### Swagger-codegen version

Current one.
##### Swagger declaration file content or url

**Here is an example of working JSON:**

[code]

**Here is an example of JSON generating the bug (empty respo

[2016-10-27 08:19] David-Vander-Elst opened #4082 "Truncated PHP example code in the html2 generated client"
##### Description

When I generate the HTML2 client, we have a lot of code example for several languages. All langages examples looks great except for PHP. A part of the PHP code is truncated above
##### Swagger-codegen version

Current one.
##### Steps to reproduce

Simply generate an html2 client and check the PHP code example.

Thanks.

[2016-10-27 09:54] heinrichj opened #4083 "[JAVA] Query Param cannot be of type date"
##### Description

When I declare query parameter as date I always receive a HTTP-404 when adding the parameter to my URL.

e.g.:
localhost:8080/path?now
localhost:8080/path?now=
localhost:8080/path?now=2016-10-28

Calling localhost:8080/path is working fine.
I tried this with the jetty.

##### Swagger-codegen version

2.2.0

##### Swagger declaration file content or url

[code]

##### Command lin

[2016-10-27 14:55] greuze commented on #2766
I am having problems when accessing to camel case properties, when they are snake case in the definition (using typescript-node). When I print the object, I get the JSON with properties in snake case, but the classes are in camel case, and when I access the properties, they are undefined (but when they have only one word, that snake case and camen case are equals).

I tried modelPropertyNaming=ori

[2016-10-27 15:19] hmguardado opened #4084 "[PYTHON] Code not valid for Python 2.6"
##### Description

When I generate the code for the client from the server description, there are some functions that not exist in Python 2.6 such us:

[code]

Is there any valid way to auto-generate code for Python 2.6 with your library?

Thanks in advance,

Héctor Martínez
##### Swagger-codegen version

2.2.1
##### Swagger declaration file content or url

Sorry, I cannot post it.
##### Command l

[2016-10-27 15:37] szakrewsky commented on #2449
I modified @yaelah post to work on the latest master branch.  I have been using this for a while now, hope it helps.  One issue I did notice is that it won't apply to sub-sub classes.

[2016-10-27 16:25] nickcmaynard commented on #3972
That could well be better...

[2016-10-27 16:27] brian15co opened #4086 "POST API endpoints require subscribing to return value from generated typescript to work"
##### Description

I generated a typescript Angular2 client from the online generator (editor.swagger.io). I noticed that POST endpoints were not making it to the server. No errors thrown or otherwise indicate that something broke.
##### Swagger-codegen version

Using Swagger online code editor V 2.10.3. YAML format
##### Swagger declaration file content or url

Here is the relavant yaml code for

[2016-10-27 19:02] jfiala opened #4087 "Contract based tests"
##### Description

Currently there are no unittests ensuring that the contracts (i.e. the outcome of the language-generators) change only when they are supposed to change. What about adding at least one unittest for each language to secure this and to track all the generated output files (better their hashes)? For different configuration options of the language maybe additional tests make sense. I

[2016-10-27 19:04] jfiala opened #4088 "[JaxRsCXFServer] Minor improvements BeanValidation/Unittests/Jboss/JAXB"
##### Description
###### Language CXF server
- [x] add CLI-flag for @Consumes/@Produces annotations for JSON (default: true)
- [x] add CLI-flag for switching between Spring XML or annotation-config
- [x] add CLI-flag for switching JAXB annotations in the model classes on/off
- [x] add  CLI-flag and JbossFeature to only generate jboss-specific files if requested
  (jboss-web.xml)
- [x] add CLI-flag

[2016-10-27 19:05] jfiala commented on #4088
@wing328 can you pls have a quick look at the topics above?

[2016-10-27 19:13] jfiala opened #4089 "[Java*] Flag for void methods in mustache files"
##### Description
###### jaxrs-cxf-server:

Currently there is a variable returnType, but it contains "void" for Java methods with no result.
We need a flag to check in the mustache templates if a method is "void" (true/false) to generate the apiServiceImpl and the unit tests accordingly.

apiServiceImpl.mustache:

[code]

This line should only be generated for non-void methods, but currently its

[2016-10-27 19:13] fehguy opened #4090 "Update to latest swagger-parser"
##### Description

There are a number of users having issues with codegen regarding relative references.  There have been many upgrades in [swagger-parser](https://github.com/swagger-api/swagger-parser) to address this--we need to update the parser version in codegen.

##### Swagger-codegen version

master

##### Swagger declaration file content or url

n/a

##### Command line used for generation

[2016-10-27 19:21] jfiala opened #4091 "[Java*] BeanValidation for all Java languages"
##### Description

BeanValidation support has been added in #4003 for Java and jaxrs-cxf/jaxrs-cxf-client.
This needs to be added to all other Java languages

- [x] jaxrs-spec
- [x] jaxrs (Jersey2 + library jersey1)
- [x] jaxrs-resteasy
- [x] jaxrs-cxf-cdi
- [x] spring (default library spring-boot + library spring-mvc, spring-cloud)

##### Related issues

PR Beanvalidation annotation for Java and

[2016-10-27 19:42] jfiala commented on #3472
I came across this when verifying code completion in Eclipse. If the functions are named they will also become available for code completion automatically.
Otherwise you need to install the tern plugin and add RequireJs to get code completion.
So this also makes sense from the code completion perspective ...

[2016-10-27 19:51] jfiala opened #4092 "[Java] Automatic client-side BeanValidation"
##### Description

Add a CLI flag to perform an automatic client-side BeanValidation check.
This would also make the current check for required parameters in the generated Api-client classes obsolete (if the CLI beanvalidation flag is turned on):

[code]

##### Related issues

PR #4003 (BeanValidation added to Java)

[2016-10-27 20:02] RaphC commented on #3908
Hi @wing328
I've just created the following PR : https://github.com/swagger-api/swagger-codegen/pull/4093

[2016-10-27 20:05] RaphC commented on #4022
@wing328 : let me know how I have to do.

Thanks.

[2016-10-27 20:06] fehguy commented on #3833
@jimschubert it's actually a [java app](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-generator), not scalatra

But regardless I don't have a suggestion how to do this.  @jmls it is simply exposing a port, so you should be able to install a SSL termination proxy (as Jim mentioned) and forward the requests to the generator.  Be sure to set the environment variable with

[2016-10-27 20:06] #3833 closed

[2016-10-27 20:11] fehguy commented on #3347
@crankydillo This was just addressed in the swagger-parser project.  The `./a.json` !== `a.json` is actually a URI design, and needs to be specially-cased for "reasonable, expected" behavior.  [See here.](https://github.com/swagger-api/swagger-parser/blob/9a848c416cf17a4ccd9718f44d2288000d3da1f9/modules/swagger-parser/src/main/java/io/swagger/parser/processors/ExternalRefProcessor.java#L117-L145)

[2016-10-27 20:13] fehguy commented on #4018
I think this can be closed, per @wing328 's advice

[2016-10-27 20:13] #4018 closed

[2016-10-27 20:56] #4090 closed

[2016-10-27 21:06] fehguy commented on #3948
My thoughts for switching languages are:

* Java is typesafe.  Codegen templates are not, and using a dynamic language could make things immensely easier.  For example, look at example objects.  They're almost impossible to support in the way users really want to.  `example: "{\"foo\":\"bar\"}"` is not very usable in templates.

Look at places in the code where we have to work around setting maps

[2016-10-27 21:09] juanniosi opened #4095 "[JAVA] Unexpected end of stream exception generated while debugging with async POST with body"
##### Description

When doing any POST with any async method when APIClient.setDebugging(true)  we are getting an "java.net.ProtocolException: unexpected end of stream".
Setting APIClient.setDebugging(false) solves the issue, but we can't debug async POST calls.

Overriding onUploadProgress() I noticed that we get the double of bytesWritten than the contentLength.

With debugging in false

[code]

[2016-10-27 21:15] fehguy commented on #3614
This should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4094/commits/92af2cf8211a61291547eee137fdddaf862495e1

[2016-10-27 21:15] #3614 closed

[2016-10-27 21:15] fehguy commented on #3347
This should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4094/commits/92af2cf8211a61291547eee137fdddaf862495e1

[2016-10-27 21:15] #3347 closed

[2016-10-27 21:15] fehguy commented on #3305
This should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4094/commits/92af2cf8211a61291547eee137fdddaf862495e1

[2016-10-27 21:15] #3305 closed

[2016-10-27 21:16] fehguy commented on #1551
This should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4094/commits/92af2cf8211a61291547eee137fdddaf862495e1

[2016-10-27 21:16] #1551 closed

[2016-10-28 07:26] mortenhn1981 commented on #4069
@wing328 i have been testing in completly empty and newly created projects to be sure that i was not poluting any result i may get. One empty project for the Swagger Android library and a different empty project for the java one, so only thing contained is what the Swagger.IO project brings to the party :)

Ive searched alot on this issue and did not find alot of info, so i dont know if im the onl

[2016-10-28 09:50] heinrichj commented on #4083
It seems the default is used using the swagger editor. Default would be java.util date. For joda and java8 (java.time.*) The ParamConverter and ParamConverterProvider do exist. I will change to java8 (java.time.*)

[2016-10-28 09:50] #4083 closed

[2016-10-28 10:43] damienpontifex commented on #3999
@wing328 I was just looking at doing this, but it seems with latest master I think this is now done with #3760 is that correct?

[2016-10-28 13:27] dcbroad3 commented on #3948
I ended up writing a ~1000 line C# app that generates exactly what we want.

[2016-10-28 13:45] ePaul commented on #3285
@d0x did some fix for this get into master or even some release?

[2016-10-28 14:14] github4swagger opened #4096 "New to Swagger"
##### Description

The Swagger definition does not contain my services/paths

##### Swagger-codegen version

2.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

I am trying to generate swagger code using the above JSON with below command

java -jar "modules\swagger-codegen-cli\target\swagger-codegen-cli.jar" generate -i http://localhost:8080/rest/swa

[2016-10-28 14:22] David-Vander-Elst opened #4097 "formData parameters are not included in the HTML2 generated client"
##### Description

Again a bug in html2 client generator. All parameters type formData are not taken in account, and not shown in the HTML2 generated client.
##### Swagger-codegen version

Current.
##### Steps to reproduce
- Go to editor.swagger.io and past this:

[code]
- Generate the HTML2 client and check. Parameter is missing.

[2016-10-28 15:12] jbonevich commented on #1836
This continues to be an issue in v2.2.1

[2016-10-28 15:47] fehguy commented on #4096
Hi, your api has no paths, so you have an issue with how you've integrated swagger-core with your app.  Please open a ticket there and share some more information

[2016-10-28 15:47] #4096 closed

[2016-10-28 16:14] jbonevich commented on #1836
Nevermind.  A closer reading of the spec revealed my issue.  You specifically have to provide an empty value to the security setting if it is NOT oauth.  So, for example:

security:
  - api_key: []

[2016-10-28 18:29] theindexer commented on #4032
I also ran into this issue with Ruby.

A quick hack fix when all your enums are strings (which I imagine is the usual case) is as follows, basically just have a way to differentiate them from classes when deserializing.

https://gist.github.com/theindexer/5b96fadfb3dfae1bfe1b521752592a64

Kinda silly though.

[2016-10-28 20:37] markaevans7 commented on #3420
I have the same problem.  If the yaml definition has the "allOf:" statement, then the generated Java class will extend the $ref class BUT NOT include the other properties listed in the class.  (If the yaml does not have the "allOf:", then the Java class does include the properties.

If this is my YAML:
 MyObjDef:
    allOf:
      - $ref: "#/definitions/MyBody"
    properties:
      requestType:

[2016-10-28 20:44] fehguy commented on #3420
@markaevans7 that definition isn't valid.  Try this instead:

[code]

items in `allOf` MUST be in an array

[2016-10-28 20:55] markaevans7 commented on #3420
Thank you fehguy!  That did it.

Note that the "properties" MUST be aligned 2 spaces to the right of the "-type object".  Without that indentation (which the SwaggerEditor does NOT complain about), the properties are NOT defined.

With "properties:" indented (as above in fehguy's post), the Java code DOES extend MyBody and DOES include the properties (requestType in this example).

[2016-10-28 21:07] fehguy commented on #3420
great, but do note that the leading `-` is required.  I'll close this, thanks for reporting back!

[2016-10-28 21:07] #3420 closed

[2016-10-28 21:31] davidsantiago opened #4098 "Swift code generator produces code with compile warnings"
##### Description

The code generated by Swagger-codegen for Swift will produce a file, AlamofireImplementations.swift, which will have a number of compile warnings, all of them the same:
[code]

There are a few different places that cause this, but here's an example:

[code]

where the warning is on "as!". Seems like an optional cast (as?) would fix these.

##### Swagger-codegen version

Using ve

[2016-10-28 22:03] davidsantiago commented on #4098
Using the current swift2 implementation; we can't quite upgrade to swift3 yet.

[2016-10-28 22:07] jaz-ah commented on #4098
if you'd like to submit a PR to that, it sounds like a reasonable answer...

[2016-10-29 11:50] bazhenov opened #4100 "Newline trimming in description"
##### Description

It would be nice if static HTML documentation produced by swagger codegen could contain Markdown markup. While developing proof-of-concept using showndown js-converter, I've realized that all newlines in text are removed in `DefaultCodegen.escapeText()`. It doesn't make sense in case of HTML.
##### Swagger-codegen version

Latest from `master`
##### Swagger declaration file cont

[2016-10-29 14:40] ePaul commented on #3948
@fehguy:

I agree that the maps of maps we are putting together for the templates are a ugly, even more where we are trying to extract stuff from the nested maps again in Java. I'm not sure that using an untyped language is the way to go, though – one could possibly just use a set of classes made for this goal instead of generic collections.

(I don't understand the relation to examples. If the AP

[2016-10-31 15:26] cbornet opened #4102 "[python] Suggestion: use requests lib in python clients"
I think a lot of boilerplate code could be removed from the python codegen if we used the [requests lib](http://docs.python-requests.org/en/master/).
Moreover, bringing oauth2 support would be easy with [requests-oauthlib](https://requests-oauthlib.readthedocs.io/en/latest/)

[2016-10-31 20:30] jaz-ah opened #4103 "[All] Still having a problem generating code w/ latest parser + external ref's"
##### Description

When I use a json schema with external file references, ever since the swagger parser was moved up from 1.0.19, I get empty models throughout my generated code.

##### Swagger-codegen version

Trying latest code from @fehguy 's update to parser.

##### Swagger declaration file content or url

I tried simplifying this down to an easy reproducible problem -

FooAPI.json:
[code]

B

[2016-10-31 20:32] jaz-ah commented on #4103
@fehguy I was hoping your parser update to 1.0.23-SNAPSHOT would help but it still produces the issue above - 1.0.19 was the last version of the parser that worked for me.  Is everything valid with my json definitions above?

[2016-10-31 21:06] normand1 commented on #2110
Hi @jaz-ah, are there any in-progress branches that are working on addressing this issue that I could look at for inspiration for a temporary solution? Thanks!

[2016-10-31 21:08] jaz-ah commented on #2110
@normand1 ah sorry to just get back here - could you try the swift3 language - that has some better work for this....

[2016-10-31 21:21] fehguy commented on #4103
@jaz-ah it looks valid--are you sure you're testing from master on swagger-codegen to pick up the correct parser?

[2016-10-31 21:24] jaz-ah commented on #4103
@fehguy yup definitely - here is the bottom of pom.xml from latest master that i'm using:
    <properties>
        <swagger-parser-version>1.0.23-SNAPSHOT</swagger-parser-version>
        <scala-version>2.11.1</scala-version>
        <felix-version>2.3.4</felix-version>
        <swagger-core-version>1.5.10</swagger-core-version>
        <commons-io-version>2.4</commons-io-version>
        <commons

[2016-10-31 21:30] jaz-ah commented on #4103
same happens w/ swift and android languages...

[2016-10-31 22:44] normand1 commented on #2110
@jaz-ah thanks, I'll give it a shot

[2016-11-01 06:50] jodoglevy opened #4104 "Inconsistent license terms"
I want to use Swagger to generate libraries in Ruby, Python, and Java, but I am unsure on the guidance around the license terms present in some of the language-specific mustache files in this repo.

First question - if a mustache template has a copyright notice / license terms present, like [this Python template](https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a8

[2016-11-01 07:56] wing328 commented on #4104
For questions/discussion related to licensing in the auto-generated code, please refer to https://github.com/swagger-api/swagger-codegen/issues/2963.

[2016-11-01 07:58] wing328 commented on #4102
There's a similar discussion in https://github.com/swagger-api/swagger-codegen/issues/4000

[2016-11-01 08:02] wing328 commented on #4084
[code]

Thanks for reporting the issue. How could the above be revised to support Python 2.6?

cc @scottrw93

[2016-11-01 08:04] wing328 commented on #4079
@mlamina thanks for reporting the issue. It can be fixed by renaming the local variable `path` to something else (e.g. localVarPath).

[2016-11-01 08:06] wing328 commented on #4086
@brian15co thanks for reporting the issue. I wonder if you can try the latest master to generate the typescript-angular2 client as there's been many enhancements to typescript client since the last stable release.

[2016-11-01 08:07] wing328 commented on #4082
@David-Vander-Elst thanks for reporting the issue. May I know if you've time to contribute the enhancements?

[2016-11-01 08:10] wing328 commented on #4097
@David-Vander-Elst A good starting point to add the `formData` parameters is https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/htmlDocs2.

Let me know if you've time to contribute the fix.

[2016-11-01 08:51] conet commented on #2362
This might not be relevant anymore with swift3.

[2016-11-01 08:53] bobrosoft commented on #2362
Btw, I used latest generator for Swift (not 3) and that issue looks resolved.

[2016-11-01 08:54] conet commented on #2362
Yeah, that is what I was trying to say :).

[2016-11-01 09:01] #2362 closed

[2016-11-01 09:01] wing328 commented on #2362
@bobrosoft @conet thanks for confirming the issue has been resolved.

[2016-11-01 09:17] RobertBiehl commented on #2550
@wing328 this issue can probably be closed

[2016-11-01 09:23] wing328 commented on #492
@David-Vander-Elst so you are saying the enum values won't be displayed in the documentation, right (while the response object is still displayed in the doc)?

[2016-11-01 09:24] #2550 closed

[2016-11-01 09:32] wing328 commented on #3999
@damienpontifex yes, that's correct. Please pull the latest master to give it a try.

[2016-11-01 09:32] #3999 closed

[2016-11-01 09:42] wing328 commented on #1229
@rosaAdl I think we need an option so that developers can choose how the enum values are named when common prefix is found.

[2016-11-01 10:03] harryblam commented on #2550
hey, thanks @RobertBiehl . Nice work!

[2016-11-01 10:10] nickcmaynard commented on #3972
@wing328 Now that #4047 is merged, we can update the PR template to say "check your code for checkstyle failures".  We can do that now or when (3) gets done (working on that), but I'd suggest we do it sooner rather than later.

[2016-11-01 11:39] danyx23 opened #4106 "[python][flask] operationId should be relative if x-swagger-router-controller is present"
##### Description

[The docs](https://github.com/zalando/connexion#endpoint-routing-to-your-python-views) say that adding x-swagger-router-controller should make the operationId field relative - however, the operationId field in the swagger subdirectory of the generated python flask scaffold always contains the full default controller prefix.

##### Swagger-codegen version

Current stable (2.2.1)

[2016-11-01 12:03] nickcmaynard commented on #3972
Actually, I'm suspicious that we won't get to (3) against these strict Google styles - not without many man-hours.  A number of these checkstyle failures aren't automatically fixable - they include things like variable naming, etc.

I'll take a look at this, but we might be better served by moderating Google's style - some reasonable compromises.

[2016-11-01 13:09] wing328 commented on #3972
Yup, agreed with you that it would take a lot of man-hours to complete (3). We'll leverage the community to work on it bit by bit.

[2016-11-01 13:14] wing328 commented on #4022
@RaphC I might have some time to work on this tomorrow. Will keep you posted.

[2016-11-01 13:17] wing328 commented on #4079
@mlamina we've already fixed that in the latest master. Please pull the latest master to give it a try.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api.mustache#L44-L45

[2016-11-01 13:17] #4079 closed

[2016-11-01 13:44] philicious commented on #3410
closing this as #4046 got merged. thx @marache and @wing328 !

[2016-11-01 13:47] wing328 commented on #4095
@juanniosi thanks for reporting the issue. The default Java API client uses `okhttp-gson`. Can you try `retrofit2` or `jersey2` HTTP library instead to see if the issue persists?

You may find this useful: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-11-01 13:48] #3410 closed

[2016-11-01 13:56] HSchultjan commented on #2483
Im willing to work on this issue.
I already have a mustache template that will properly encode query parameters for POST requests, but since Alamofire doesn't really support this its a quite hacky solution which i would like to avoid.
Im trying to find a clean solution. So if you have any ideas where to start, please comment.

[2016-11-01 13:58] wing328 commented on #4017
@jeusdi may I know if you've working on this?

[2016-11-01 13:59] fehguy commented on #2483
Typically we've been building the URL manually in other languages.  I believe this was the same approach in the Objective-C library here, which also uses AFNetworking.  So I don't see a way around doing that.

[2016-11-01 14:35] HSchultjan commented on #2483
Okay. Do you have any coding conventions/guidelines?

[2016-11-01 14:37] wing328 commented on #2483
@HSchultjan please have a look at https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-11-01 14:49] langdonx commented on #2630
I recently started using fully qualified definitions in my spec file because of some DTOs that shared class names (in different namespaces).  So the `definitions` section of my spec file has property named 'ClientPortal.Api.Model.PunchReport.Contract.SchedulePunchesRow' (was simply `SchedulePunchesRow` before).

This has resulted in a class once called `SchedulePunchesRow` to be named `ClientPorta

[2016-11-01 15:10] fehguy commented on #4103
OK I have reproduced this.  Looks like the issue is having relative definitions in a remote path reference, which isn't something that was tested in 1.0.23 of the parser.  I'll open a new issue and hopefully it's another easy fix.

PS you have `definitions` spelled incorrectly in your `Bar.json` file.

[2016-11-01 16:24] jaz-ah commented on #4103
no problem thx @fehguy

[2016-11-01 17:21] andreaformica opened #4108 "Swagger java feign client generation"
##### Description
I have a problem with a java client generated using swagger-codegen.
The problem occurs when using a function to upload a file into the server.
Server side I have been using Jersey. For file upload the service is declared like this:

[code]

The python client works, and also the java client for files with extensions: .xml, .png, .txt
but not for other extensions.

##### Swagger-c

[2016-11-01 21:23] websoftix commented on #3835
@loretoparisi  I've encountered the problem too (null INSTANCE) while trying to use apiKey auth and I fixed it by changing the ApiInvoker .getInstance() method adding a check for null and initializing it if null. It now looks like:
`
 public static ApiInvoker getInstance() {
    if (INSTANCE == null) {
      initializeInstance();
    }
    return INSTANCE;
  }
`

Of course, every time I modify the

[2016-11-02 00:09] sutdisi commented on #2848
I have a fix for this. I am assuming no one else is working on it.

[2016-11-02 00:51] rickdbenetech opened #4109 "$ref of ./definitions/link.json is being referenced in generated class as DefinitionsLinkJson - Java"
##### Description

I'm working on a project that has the following two json definitions (below) and when I do a 'mvn clean install' it ends up generating the Category.Java file with references to 'DefinitionsLinkJson' type instead of 'Link' type, as it should, with errors like this:

[ERROR] symbol:   class DefinitionslinkJson
[ERROR] location: package io.swagger.client.model
[ERROR] /target/gener

[2016-11-02 01:06] sutdisi commented on #2848
#4110 should fix this.

[2016-11-02 02:00] wing328 commented on #4100
@bazhenov PR merged. Thanks for the contribution.

[2016-11-02 02:00] #4100 closed

[2016-11-02 02:02] wing328 commented on #4106
@danyx23 there are some changes/enhancements to Python Flask generator. Please pull the latest to give it a try: https://github.com/swagger-api/swagger-codegen/pulls?q=is%3Apr+label%3A%22Server%3A+Python%22+is%3Aclosed

[2016-11-02 02:04] wing328 commented on #4108
@andreaformica may I know if you've time to submit a PR for the suggested fix so that we can review the change?

[2016-11-02 02:30] wing328 commented on #4109
@rickdbenetech please pull the latest master to give it another try as we've just updated the project to use the latest stable version of Swagger Parser (released a few days ago), which has better support for JSON reference.

[2016-11-02 02:39] wing328 commented on #3835
@websoftix are you using the latest master, which has the mentioned fix already?

https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/android/libraries/volley/apiInvoker.mustache#L225-L228

[2016-11-02 04:07] wing328 commented on #3472
@darylteo @jfiala may I know if you've time to contribute a PR so that we can review the change?

[2016-11-02 04:49] apissdks commented on #3793
Any updates @wing328

[2016-11-02 06:06] cbornet commented on #4108
There is now an official [form encoder](https://github.com/OpenFeign/feign-form). I think we should use it.

[2016-11-02 06:53] websoftix commented on #3835
@wing328 thats great. No, I have used the code generated by online editor.

[2016-11-02 07:46] wing328 commented on #3835
@websoftix @loretoparisi closing this for now. If you still find issues with the latest master, we'll look into the issue again.

[2016-11-02 07:46] #3835 closed

[2016-11-02 07:53] jfiala commented on #3472
@wing328 yes I can do that, the most simple solution would be like this:

[code]

So in fact the exports variable wouldn't be necessary at all.
Having the function defined as a variable allows Eclipse code completion to pick it up (however without namespaces).
@wing328 @darylteo pls advise if you have any other preferences.

[2016-11-02 07:56] darylteo commented on #3472
Happy with that. Thanks.

Daryl
On Wed, Nov 2, 2016 at 6:53 PM jfiala <notifications@github.com> wrote:

[2016-11-02 07:58] jfiala commented on #4091
@wing328 If you like I can cycle through the language templates and add (optional) beanvalidation support there. Or do you prefer the language maintainers to do the job?

[2016-11-02 08:19] wing328 commented on #3793
@apissdks fixed via #4112. Please pull the latest master to give it another try.

[2016-11-02 08:19] #3793 closed

[2016-11-02 08:26] wing328 commented on #4091
@jfiala if you've time, please add the bean validation support. I'm sure the community and the template owner would appreciate your effort.

[2016-11-02 09:03] DarrenC opened #4113 "[JAVA] [SpringBoot server] Issue with date parameter in generated controller"
##### Description

I'm having some issues with a date parameter in a SpringBoot controller I've generated from my Swagger spec.
It seems like no matter what input is sent, there is an issue with the formatting.
When I launch a request like -

[code]

I receive an error like this:
[code]

I thought perhaps my issue was with the formatting of the date and that a date-time might be required so I trie

[2016-11-02 10:08] cbornet commented on #4113
Spring/Spring-boot currently handles date types only in the JSON body.
Your way of using DateTimeFormat is fine but I think it would be better to register custom converters.
See https://www.petrikainulainen.net/programming/spring-framework/spring-from-the-trenches-using-type-converters-with-spring-mvc/

[2016-11-02 12:16] #4037 closed

[2016-11-02 13:04] David-Vander-Elst commented on #4097
it looks like this is simply an opened tag at line 3 witch is commented and not the closed one.
I'm not able to test it  right now as I'm a PHP developer only, but I can try later.

[2016-11-02 13:08] David-Vander-Elst commented on #492
@wing328 No, if we use enum attributes, the whole response example is empty. I opened an other ticket for this issue: https://github.com/swagger-api/swagger-codegen/issues/4081

[2016-11-02 13:11] David-Vander-Elst commented on #4082
it looks like this is simply an opened tag at line 3 witch is commented and not the closed one.
I'm not able to test it right now as I'm a PHP developer only, but I can try later to set an environment, but not my priority right now.

[2016-11-02 15:06] OneGeek opened #4114 "[JavaJaxRS (repros in Java too)] Inherited properties missing from generated model."
##### Description

When a swagger definition uses `allOf` to both include normal properties and inherit the properties of another model using `$ref` the generated model is missing the properties of the inherited model.

My use case is for the `JavaJaxRS` language target, but the below repro case is for the `Java` language target.

[Repro case gist](https://gist.github.com/OneGeek/8c8d2886ac3fee1ce

[2016-11-02 17:50] wwn commented on #4077
temp. solution: change line 5:
title: ""
to title:
or
to title: "foo"

[2016-11-02 18:46] ClayAtWork commented on #186
@wing328 @fehguy Is there a way to do this (custom template functions available in mustache) without having to modify the java code?

[2016-11-02 18:52] fehguy commented on #186
No, it's not possible right now.  You can have your own templates with your own mustache conditionals.

[2016-11-02 18:58] ClayAtWork commented on #186
Ok. And its' still valid that we would just modify the `processModelMap` to insert our own function? Do you think it's a common use case for people to override the java code to suite the generation to their codebase? It'd be nice if this were completely handled by templates, but I understand this is a limitation of mustache.

[2016-11-02 18:59] fehguy commented on #186
Yes, you can do that.  We are collecting feedback on the next version of codegen, please chime in with your thoughts on this ticket:

https://github.com/swagger-api/swagger-codegen/issues/3950

[2016-11-02 19:23] ClayAtWork commented on #3950
The only requirement I would like to add is creating custom functions to be used in the template files, without having to modify the java source. I think Mustache refers to these as Lambdas, and Handlebars or other templating systems might call them filters. For instance, we have a swagger spec that generates codebases for multiple platforms, and we might want to do a simple string transform for a

[2016-11-02 19:34] jodoglevy commented on #2963
Hi - any updates on the Linux Foundation review?

My specific questions are in #4104, but I wanted to check if I could use the above statement from @fehguy as official guidance:

`Well, to be clear, the intent is that you can do anything you want with the generated files, period`

Does this mean that we are free to modify the provided template files as we see fit, for our own use cases? And that w

[2016-11-02 19:43] fehguy commented on #2963
I will ping them again, it has been slow going...

It is my intent that you can indeed remove the copyright from the templates and therefore the generated files.  I want to make sure the license interpretation lines up with that--let me see if I can get an answer.

[2016-11-02 20:59] fehguy commented on #4103
Hi @jaz-ah I think this is fixed.  Please pull master, which grabs swagger-parser-1.0.24-SNAPSHOT.  Your test files generate and compile fine now.

[2016-11-02 20:59] jaz-ah commented on #4103
ok i'll give it a try in a minute - thx!

[2016-11-02 21:00] fehguy commented on #4103
great, thanks

[2016-11-02 21:23] ircecho opened #4117 "DART: wrong filename used when importing api file"
The dart generator creates api files with underscored names, but uses non-underscored names to import them which leads to problems if the file names multi-word.

JSON example: https://gist.github.com/ircecho/32f4836c38f9a316dd39630d1b9b2833

Here the file name generated is ([from here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codeg

[2016-11-02 22:53] jaz-ah commented on #4103
hmm.. @fehguy for some reason i checked out master, verified pom.xml is using 1.0.24-SNAPSHOT, rebuilt and I still see the same problem... i cleaned/etc... then tried switching pom.xml to 1.0.19 and verified the problem went away... is snapshot definitely updated to the latest fix?

[2016-11-02 23:11] fehguy commented on #4103
I've redeployed the snapshot.  Can you run `mvn clean package -U` on the top-level codegen project?

[2016-11-03 00:00] jaz-ah commented on #4103
@fehguy ok did that, tried again and same issue...
//
// BarData.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation

public typealias BarData =

are you getting the same for BarData.swift if you generate swift3?

[2016-11-03 00:26] fehguy commented on #4103
Here's my output:

[code]

I built it like this (serving your test files on localhost:8000):

[code]

[2016-11-03 02:00] jaz-ah commented on #4103
@fehguy the difference is I'm not serving test files on my localhost, I'm referencing them directly:

java -jar ./modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i ../activehours_apis-jaz/spec-server/public/specs/FooAPI.json -o test -l swift3

would this make a difference?

[2016-11-03 02:56] chenditc commented on #3365
It would be very helpful for the client using mobiles. Saving mobile data and increase speed can improve UX a lot.

[2016-11-03 05:46] scannerscan opened #4119 "Swagger generated code now silently ignores invalid values for enumerated types"
##### Description

Swagger generated code now silently ignores invalid values for enumerated types.

We used to have 400 exception which was perfect:
HTTP/1.1 400 Bad Request
X-Powered-By: Servlet/3.0
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: GET, POST, DELETE, PUT
Access-Control-Allow-Headers: Content-Type
Content-Length: 533
Content-Type: text/plain
Content-Language: en-AU
Con

[2016-11-03 07:37] wing328 commented on #4077
The fix contributed by @wwn has been merged into master. Please pull the latest master to give it a try.

[2016-11-03 07:38] #4077 closed

[2016-11-03 15:36] fehguy commented on #4103
@jaz-ah do you work at Active Hours?  If so, our office is 1/2 block from you and we can probably sort this out in person :)

It works fine from file-system for me:

[code]

[code]

[2016-11-03 16:16] ogreenz opened #4121 "aspnet5 still apears as an available config even though it's deprecated"
when I try to generate with a nonexisting language I get the following message:
[code]
aspnet5 should be removed from that list since it's deprecated and doesn't work.

[2016-11-03 16:50] jaz-ah commented on #4103
@fehguy yup I do - where are you @?

[2016-11-03 16:51] fehguy commented on #4103
437 kipling 2nd floor.  If you want to come by, we can work this out in person

[2016-11-03 18:13] cbornet commented on #4108
The form-encoder is working so I'll PR it soon.

[2016-11-03 20:06] abhijith-prabhakar opened #4123 "JAX-RS Swagger codegen does not handle enum defined in external json file"
If an enum is added into external json file Swagger Codegen does not generate model correctly.
Example project:  https://github.com/abhijith-prabhakar/swagger-ref-error-demo/blob/master/src/main/resources/v1/schema/title/title.json#L43

[code]
Generated Code
[code]

[2016-11-04 11:16] dagio opened #4126 "Using struct for models in Swift template"
##### Description

Has anyone been working of using structs instead of classes in the Swift3 default template ?

##### Swagger-codegen version

from master

##### Swagger declaration file content or url

nil

##### Command line used for generation

nil

##### Steps to reproduce

nil

##### Related issues

nil

##### Suggest a Fix

nil

[2016-11-04 11:18] quentin-coursodon opened #4127 "[OBJC] Request specific headers"
##### Description

I need to add an authorization header to each request. This header is generated for every request.

I would normally do so by subclassing AFHTTPRequestSerializer, this is not an option since the request serializer is being recreated before request : [see](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/objc/default/SwaggerClient/Core/SWGApiClie

[2016-11-04 13:02] Dreddik opened #4128 "[ObjC] Generated code with polymorphism duplicates properties in subclass"
##### Description

Generated objective-c code for polymorph classes duplicates obj-c properties in base class and in subclass. This cause a ton of warnings:
[code]

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url
[code]

##### Command line used for generation

swagger-codegen generate -i ./swagger.yaml -l objc -o ./SwaggerClient

##### Steps to reproduce

1) Gen

[2016-11-04 13:05] Dreddik opened #4129 "[ObjC] Generated code is not actual with JSONModel library"
##### Description

Generated objective-c code uses old JSONModel library method for init, which is deprecated.
[code]

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url
[code]

##### Command line used for generation

`swagger-codegen generate -i ./swagger.yaml -l objc -o ./SwaggerClient`

##### Steps to reproduce

1) Generate code
2) Create a test project, create

[2016-11-04 13:07] wing328 commented on #4126
@dagio not that I'm aware of. Please note we've recently added `swift3` generator for Swift 3.0.

cc @jaz-ah @Edubits

[2016-11-04 13:10] wing328 commented on #4129
@Dreddik thanks for reporting. May I know if you've time to contribute a fix? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/objc/model-body.mustache

cc @mateuszmackowiak

[2016-11-04 13:11] wing328 commented on #4127
@quentin-coursodon in your spec, have you defined a proper security setting for the endpoints?

[2016-11-04 13:13] #4108 closed

[2016-11-04 13:14] wing328 commented on #4108
@andreaformica fixed via #4124. Please pull the latest to give it a try.

Thanks for the PR from @cbornet

[2016-11-04 13:30] wing328 commented on #4119
@scannerscan instead of returning null, what about throwing an exception instead?

[2016-11-04 14:01] quentin-coursodon commented on #4127
@wing328 We are using a custom Auth method, not "basic", "apiKey" or "oauth2".

[2016-11-04 14:22] YordanBorisov opened #4132 "Gatling and Scala generation"
##### Swagger-codegen

I want to use the generated scala classes in a Gatling test scenario. But no gatling report is generated because no execution chain is invoked in the generated InvokeApi. I am using eclipse.

Caused by: java.lang.UnsupportedOperationException: There were no requests sent during the simulation, reports won't be generated
	at io.gatling.charts.report.ReportsGenerator.generateF

[2016-11-04 14:23] Dreddik commented on #4128
Fixed in 2.2.2

[2016-11-04 14:23] #4128 closed

[2016-11-04 15:10] quentin-coursodon commented on #4127
Actually, I use the WSSE Authentication protocol.
What do you think about adding WSSE support ?

I could implement it in java and objc .

[2016-11-04 21:35] rakus opened #4135 "$ref in additionalProperties in external yaml ignored"
##### Description

The $ref below additionalProperties is not handled when the definition is kept in a seperate yaml file.
So the class needed for the reference is not created.

If the example YAML below is in a seperate file, the classes Result and LinkObject are created, but RelData is not.

If it is copied into the main swagger file, all classes are created.

The attached maven project shows th

[2016-11-04 21:50] rakus opened #4136 "Why is File LICENSE always generated?"
This is not a bug, but a question.

The code-generator unconditionally generates a file called LICENSE which contains the text of the Apache License V2.0. There is no way to disable this.

What does this mean?

Is the generated code automatically licensed under Apache License?

Depending on the setup of the generator, this file is generated in the root of a project. Does this mean that also custom

[2016-11-04 22:06] fehguy commented on #2963
Folks, I had another interaction with the Linux Foundation leaders.  Their suggestion: ask your lawyer.

I understand the confusion and some changes that were made in the generation can also aggravate it.  This project has been as a service to users of the Swagger / Open API Specification and has no intent in controlling what you do with the generated files, period.

I will update the README to ma

[2016-11-04 22:07] fehguy opened #4137 "Remove License file from generated code"
Per https://github.com/swagger-api/swagger-codegen/issues/2963#issuecomment-258559506, we should remove the LICENSE file from code generation.  It gives the impression that the parent projects' license is attached to the generated code, which is not the intent of this project.

[2016-11-04 22:08] fehguy opened #4138 "Update README to make licensing clear for generated code"
Per here: https://github.com/swagger-api/swagger-codegen/issues/2963#issuecomment-258559506

The README must make it clear that the generated code belongs to the initiator of the tool, and is not subject to the licensing of this project itself

[2016-11-04 22:09] fehguy opened #4139 "Remove license headers from generated code"
Per this discussion:

https://github.com/swagger-api/swagger-codegen/issues/2963#issuecomment-258559506

We should remove the license header from all generated files.  The license of the generated files is entirely up to the creator of them, and is not subject to the parent project's licensing choice.

[2016-11-04 22:52] rakus commented on #4136
Already taken care of.

This [comment on #2963](https://github.com/swagger-api/swagger-codegen/issues/2963#issuecomment-258559506) makes clear  _"that the derived files are subject to the licensing of your choice"._
Issue #4139 requests removal of the LICENSE file from generated code.
Issue #4139 requests removal of license comment from generated files.

Closing this.

[2016-11-04 22:52] #4136 closed

[2016-11-04 23:59] #4138 closed

[2016-11-05 06:10] wing328 commented on #4139
@fehguy I'll work on it this weekend.

[2016-11-05 10:09] dagio commented on #4126
I can make a PR introducing a new variable to allow to use structs instead of classes (while classes remain the default choice).

[2016-11-05 14:59] jimschubert commented on #4121
@ogreenz Thanks for reporting this.

The intention was to deprecate aspnet5 with a message that it's been deprecated. Unfortunately, I didn't set the template directory for the `aspnet5` generator to be the renamed `aspnetcore` directory.

Ideally, we'd want to maintain the deprecation for at least one minor release to give users time to update any automated build processes. You're seeing it becau

[2016-11-05 15:11] jimschubert commented on #4104
@jodoglevy I think this issue is negated by #4139 (Remove license headers from generated code). The way forward is with templates and swagger-codegen code being licensed, but generated code license is up to you.

[2016-11-05 15:14] jimschubert commented on #4135
@rakus are there differences in this issue from #4103?  Is the only difference yaml versus the JSON in #4103?

[2016-11-05 15:30] jimschubert commented on #4020
It's interesting. I looked at the differences between `invokerPackage` and `packageName`. It looks like there was some confusion about what `invokerPackage` was when the C# generator was originally written.  Maybe there was a conscious effort to _not_ use `invokerPackage`? I don't know.

Would a simple fix be to prefer `packageName` in `AbstractCSharpCodegen`, and set packageName to the value prov

[2016-11-05 15:36] rakus commented on #4135
@jimschubert Yes I think so. This talks about $ref within the external file.

The $ref from the main swagger to the external file works ok.
The $ref from a normal property in the external file to a object in the same file works ok.

But: The $ref from `additionalProperties` in the external file to a object in the same file fails.

The swagger example in initial description is the external file (ju

[2016-11-05 16:11] fehguy commented on #4139
Thanks, I can help as well

[2016-11-05 17:52] fehguy commented on #4135
I think this is not supported in the parser. Do you mind opening an issue there?

[2016-11-05 19:34] jodoglevy commented on #4104
@jimschubert yes based on the latest comments in #2963 that seems right. Thanks @fehguy for the clarification and quick action on this. Closing.

[2016-11-05 19:34] #4104 closed

[2016-11-05 20:20] rakus commented on #4135
Opened against swagger-parser as [#342](https://github.com/swagger-api/swagger-parser/issues/342).

Should this be closed or should we wait for the fix of swagger-parser and the verify it?

[2016-11-05 23:47] hkashlan opened #4144 "[typescript-angular2] feature request NgModule"
##### Description

I think we need to generate NgModule for the generated service

##### Suggest a Fix

for exmaple

API.modules.ts

import { NgModule }     from '@angular/core';
import { CommonModule } from '@angular/common';
import { HttpModule }   from '@angular/http';

{{#apiInfo}}
{{#apis}}
{{#operations}}
import { {{ classname }} } from './api/{{ classname }}';
{{/operations}}
{{/apis}}
{{/a

[2016-11-06 02:01] jimschubert commented on #3608
@loupatrick @wing328 I checked this out, and I don't see a reason to use `= null` rather than `= default(dataType)`. This would handle all cases, including nullable and non-nullable enums.

I'll open a PR for this approach to be evaluated.

[2016-11-06 02:25] jimschubert commented on #3356
@tdjastrzebski I'd be interested to know if you've tried this and if it is working for you.

[2016-11-06 15:11] einat-bar opened #4146 "Generating models that are defined with “allOf” is implemented only for “definitions” but not for “responses”"
##### Description

I am trying to generate a JAVA SDK from swagger codegen and realised that when I use the “responses” property in the swagger file to define responses models,
the models that are defined using “allOf” are not generated in the SDK under "Models" folder.
(When defining models using “allOf” in “definitions” property the models are generated in the SDK under "Models" folder)

Could i

[2016-11-06 22:08] jfiala commented on #3308
added interface JbossFeature for generating jboss-web.xml for jaxrs-reasteasy + jaxrs-cxf.

[2016-11-06 22:43] umbreak commented on #869
Is the download capability ready? I've understood that the decision to use [Hypermedia](http://json-schema.org/latest/json-schema-hypermedia.html#anchor3) has been taken. However, is there something new?

[2016-11-07 05:45] scannerscan commented on #4119
@wing328, what do you think about just reverting that template back to the previous implementation without that code snapshot? our user stories relied on the 400 status code coming from the original implementation if the value was not in the enum set.

[2016-11-07 06:54] shailendrajain24 opened #4148 "Array of string values as query parameter is not generated in jersey2 server side code"
Please suggest how to pass List into GET type method.

[code]

[code]

But we want List<String> instead of String like this:
[code]

[2016-11-07 08:09] wing328 commented on #4132
@YordanBorisov would you have time to contribute the enhancement "Gatling" as an option to the Scala API client?

[2016-11-07 09:03] wing328 commented on #4088
Yes, I think it's worthwhile to do so.

That's better but I would suggest doing it if you've free cycle or there's a demand from the community. In other words, I don't think this enhancement has the highest priority at the moment. I'll leave it up to you and the community on when this feature will be added.

I should be able to work on it this week. Will keep you posted.

[2016-11-07 09:37] Vrolijkx commented on #3969
Sorry for the late response. I am currently also having trouble with this. I think the problem is that we have taken a shortcut when importing models/api's instead of doing imports correctly.
Instead of doing something like this:
[code]

we should do do it in the following way:
[code]

This makes the generated code much cleaner and will probably solve your problem.

[2016-11-07 10:21] YordanBorisov commented on #4132
@wing328 Currently I do not have time - the fastest solution is to re-write the ApiInvoker to use Gatling instead of jersey

[2016-11-07 11:15] DarrenC commented on #4113
Hi,

Thanks very much for the reply and explanation. I'll go ahead and close out this issue.

## Summary for anyone reading this later
**Issue:**
Spring/SpringBoot date parameter in QUERY STRING was not generated in ServerStub correctly and was causing invalid format exceptions.

**Resolution:**
Spring/Spring Boot only supports the date/date-time format in BODY parameters.

My very manual workarou

[2016-11-07 12:05] sebastianhaas commented on #3969
@Vrolijkx I already did that, in preparation for the Angular 2 module system. (https://github.com/sebastianhaas/swagger-codegen/commit/262a110902154c6559b9a8762c676b9125801d96)

Everything is set up and works as expected, however, the issue regarding the model prefix arises somewhere in the `DefaultCodegen`/`Generator` so I feel like there is nothing I can do about in the Typescript area of swagge

[2016-11-07 12:08] sebastianhaas commented on #3969
In addition to your example above: The generated code would then become
[code]
I'm running
[code]
now after every generation to fix this.

[2016-11-07 12:36] andreaformica commented on #4108
Thanks guys, and sorry for the late answer, I was offline for a few days.
I will test again with the latest version.

[2016-11-07 13:06] wing328 commented on #3356
Closing this as there's no update.

[2016-11-07 13:06] #3356 closed

[2016-11-07 13:15] wing328 commented on #3308
Sounds good to me. Thanks.

[2016-11-07 13:16] YordanBorisov commented on #4132
@wing328  When do you think the Milestone 2.2.2 will be published?

[2016-11-07 13:16] wing328 commented on #4135
@rakus let's leave this open for the time being.

[2016-11-07 13:17] wing328 commented on #4132
https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-long-does-it-take-to-release-a-stable-version-eg-215--216

[2016-11-07 13:18] cbornet commented on #4113
Please reopen so that we can fix this properly.
The correct way to set the default date format for MVC is to add this class
[code]

[2016-11-07 13:25] YordanBorisov commented on #4132
So the next year will be ready?

[2016-11-07 14:04] wing328 commented on #2963
Thanks Tony. I've filed https://github.com/swagger-api/swagger-codegen/pull/4149 to demostrate how to remove the license for a generator (Ruby API client as an example).

What I would suggest is to provide instruction for users to customize the license instead (while keeping Apache 2.0 as the default):
===================
1) update the LICENSE file that comes with all languages: modules/swagger-co

[2016-11-07 15:12] markus-wa commented on #4045
Has someone had time to take a look at my fix yet?

[2016-11-07 15:28] DarrenC commented on #4113
reopened as requested - apologies I didn't realise this was a candidate for a full fix.

[2016-11-07 15:29] acsr2016 opened #4150 ""No service of type Factory available in ProjectScopeServices" Error on importing auto generated Android-Client code."
##### Description
Getting "No service of type Factory available in ProjectScopeServices" error on importing auto generated  'android-client' project as an android module. Client code was generated from swagger editor for 'minimal.yaml' sample file.
![image](https://cloud.githubusercontent.com/assets/23315627/20062779/fbb777a4-a52a-11e6-9389-3e3f8d4458fb.png)

##### Swagger Editor Version 2.10.3
(o

[2016-11-07 15:42] #4045 closed

[2016-11-07 15:43] wing328 commented on #4045
@markus-wa I've merged into master. Thanks for the contribution.

[2016-11-07 16:13] wing328 commented on #4129
@Dreddik PR merged. Thanks for the contribution.

[2016-11-07 16:13] #4129 closed

[2016-11-07 16:15] wing328 commented on #4126
@dagio thanks. Please submit a PR and we'll review the change. I would suggest you add the option to the `swift3` generator as `swift` (2.x) will eventually be decommissioned.

[2016-11-07 16:19] wing328 commented on #4119
The change is needed to fix https://github.com/swagger-api/swagger-codegen/issues/3509

As a workaround, you can update the template to remove the code snippet and use the `-t` option with the customized templates.

[2016-11-07 16:21] #3976 closed

[2016-11-07 16:24] wing328 commented on #3920
1. yes, that's correct. Here is another exmaple: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L269-L273

2. Here is the mapping: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/SwiftCodegen.java#L133. You can change it to map `file` to something e

[2016-11-07 16:24] wing328 commented on #3931
Issue closed as there's no update.

[2016-11-07 16:24] #3931 closed

[2016-11-07 16:26] #3882 closed

[2016-11-07 18:46] umbreak opened #4151 "produces "*/*" is converted into Accept: *_/_*"
##### Swagger-codegen version: 2.2.1 (swagger-codegen-maven-plugin)

My yml file contains something like:

[code]

Generating the client code from it works. However, I noticed that the server was crashing when returning the response to the client. After digging for quite some time I realized (with wireshark) that the client was sending the following **HTTP Header: "Accept: *_/_*"**

What is that?

[2016-11-07 22:22] sreeshas opened #4154 "[Maven] Error building swagger-codegen: swagger-parser 1.0.24 is not available at maven central."
I'm trying to build swagger-codegen by cloning it on my local machine.
I tried run mvn package and build fails.
swagger-parser 1.0.24-SNAPSHOT and  swagger-compat-spec-parser 1.0.24 SNAPSHOT  dependencies are not available from maven central.

Version: 2.2.2 SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

mvn package

##### Steps to reproduce

git c

[2016-11-07 22:26] fehguy commented on #4154
Please add this:

[code]

to your POM.xml.  I'll get that pushed to master shortly.

[2016-11-07 22:42] sreeshas commented on #4154
@fehguy  ^ Its already present in pom.xml
https://github.com/swagger-api/swagger-codegen/blob/master/pom.xml#L801

[2016-11-08 06:15] apissdks commented on #3611
@wing328 I tried with the snapshot builds from here https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-maven-plugin/2.2.2-SNAPSHOT/ Wed Nov 02 21:01:06

I am still not able to see the @JsonValue being there for the toString() method?

[code]

Am I missing anything here?

[2016-11-08 07:05] wing328 commented on #3611
That's a snapshot for the maven plug-in (not swagger codegen cli).

Have you tried building the JAR locally based on the latest master?

[2016-11-08 07:48] #4117 closed

[2016-11-08 07:57] apissdks commented on #3611
It has dependency with the 2.2.2-SNAPSHOT swagger-codegen which should contain this fix right?

[2016-11-08 08:02] wing328 commented on #4151
It's due to a security measure we put in to avoid code injection. I'll see what I can do to handle `*/*` as an exception.

[2016-11-08 08:43] #4151 closed

[2016-11-08 08:43] wing328 commented on #4151
@umbreak closed via https://github.com/swagger-api/swagger-codegen/pull/4155. Please pull the latest to give it a try.

[2016-11-08 08:54] Vrolijkx commented on #3969
I will take a look today.

[2016-11-08 09:49] wing328 commented on #4121
PR merged. Issue closed.

[2016-11-08 09:49] #4121 closed

[2016-11-08 10:38] gghez opened #4156 "Swagger generator doesn't recognize controller"
##### Description

Swagger generator doesn't recognize controller
http://stackoverflow.com/questions/38295951/swagger-generator-doesnt-recognize-controller

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`java -jar "E:\tools\\swagger-codegen-cli-2.2.1.jar" generate -l nodejs-server -o src/api/swagger -i src/api/s

[2016-11-08 12:06] Vrolijkx commented on #3969
@sebastianhaas I checked out your branch and can't seem to reproduce the import problem you described above. I am however having some other problems.
- In the ```Pet``` model the ```Category``` import is missing but the ```Tag``` import is correctly present.
- I get an unwanted import of ```import { Map } from '../model/map';``` in store.service.ts

[2016-11-08 13:13] ircecho commented on #3936
I tested the code and it is working properly now.

[2016-11-08 13:16] wing328 commented on #3936
@ircecho thanks for doing a test to confirm

[2016-11-08 13:34] wing328 commented on #4089
Fixed via https://github.com/swagger-api/swagger-codegen/pull/4158

[2016-11-08 13:43] wing328 commented on #4089
PR merged into master. Please pull the latest to give it a try.

[2016-11-08 13:43] #4089 closed

[2016-11-08 13:45] wing328 commented on #4144
@hkashlan can you tell me more on why we need `NgModule`? What benefit does it bring to the API client?

Disclaimer: I'm not an expert in TS

[2016-11-08 15:01] Vrolijkx commented on #3969
@sebastianhaas fixed the issues i experienced [in this branch](https://github.com/Vrolijkx/swagger-codegen/tree/feature/fix-invalid-import-ng-module) If you still see problems with the ```Models``` prefix can you maybe create an test/intgerationtest confirming them so i can take another look.

[2016-11-08 17:52] DarrenC opened #4160 "[JAXRS-CXF] Invalid generation for reusable Enum definition"
##### Description

When using enums defined outside of objects (so they can be reusable in multiple objects), the jaxrs-cxf codegen is not generating valid class files.
The same enum definition works correctly when defined within another object or when generating with other server stub types such as jaxrs or spring boot for example.

##### Swagger-codegen version

Latest - 2.2.2-SNAPSHOT
##### Swa

[2016-11-09 02:37] wing328 commented on #4156
We use `tags` to classify controller/service class in other server stub generators. Can you elaborate a bit more on why using `tags` is crappy?

[2016-11-09 03:01] wing328 commented on #4146
@einat-bar it could be. Please define the model in the definition section as a workaround for the time being (instead of defining the model inline)

[2016-11-09 07:54] wing328 commented on #4127
@quentin-coursodon I think that's a good idea. I'm sure REST API owners whose APIs leverage WSSE Authentication protocol will welcome the change.

[2016-11-09 10:02] JanEggers opened #4161 "[typescript-angular2] feature request expose generated path"
##### Description

i would like to be able to wrap the resulting Observable of get methods. these wrapped objects should be unique/cached by the url that is used.

currently all methods are like this:
[code]

the url used for the request is not public accessable which forces me to do the url generation for the caching key manually.

##### Swagger-codegen version

swagger-codegen-cli-2.2.1.jar

###

[2016-11-09 12:15] loewenstein opened #4162 "[HASKELL] Update to newer servant version"
##### Description

Looking at taken from https://www.stackage.org/package/servant

[code]

shows we are one behind stack LTS and even two behind Hackage.

##### Swagger-codegen version

master

[2016-11-09 16:27] andy1547 commented on #1889
@carlosduclos Any progress with this?

[2016-11-09 17:01] alexandern commented on #4128
See issue
[3829](https://github.com/swagger-api/swagger-codegen/issues/3829)

[2016-11-09 19:37] vproman opened #4163 "[PYTHON] Request header Content-Type defaults to application/json"
##### Description

I have a GET swagger endpoint that depends entirely on URI query parameters, it sends nothing in the body.  If I do not set the "consumes" value for the endpoint, it defaults to application/json, which isn't correct since I'm sending nothing in the request body.

##### Swagger-codegen version

git cloned from master

##### Swagger declaration file content or url
[code]

##### Co

[2016-11-09 20:47] jfiala commented on #4088
@wing328 Rebased + added all features above to branch cxf_refine
Added the check for void methods to the api_test.mustache. Now we can uncomment the service call + check for the response using assertNotNull.
Pls advise if you like it that way, if yes pls merge into master.

[2016-11-09 23:59] webron opened #4165 "NodeJS server's README.md wrong?"
_From @JeffML on November 9, 2016 23:22_

The README reads:

But the only dependency I see is on connectjs, which isn't even part of expressjs anymore.  Perhaps I'm confused.

_Copied from original issue: swagger-api/swagger-editor#1105_

[2016-11-10 05:58] chakrit opened #4167 "[Ruby] Client does not correctly call `super` method making error messages empty."
##### Description

The ruby client template for `api_error` class do not call `super` method on all code paths leading to empty message inside exceptions most of the time making things hard to debug.

##### Swagger-codegen version

master at commit 5899554

##### Swagger declaration file content or url

Irrelevant

##### Command line used for generation

Irrelevant

##### Steps to reproduce

1. Ge

[2016-11-10 07:40] carlosduclos commented on #1889
@andy1547 Sorry, I had to abandon this because of change of priorities at work. I won't have time to work on this so please close this.

[2016-11-10 08:22] mbohlool opened #4169 "[Python] Support connection/read timeout"
##### Description

There is no way to pass a timeout for a request (both connection and read).

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Suggest a Fix

urllib3 that is used in python client supports Timeout for connection and read. The timeout object need to be passed through ApiClient to RestClient to urllib3.

Another option is to add it to configuration though I prefer per request t

[2016-11-10 08:23] mbohlool commented on #4169
The fix would be similar to #4166. I will send a PR. you can assign this to me.

[2016-11-10 12:56] fischerman commented on #2652
Is there any way to generate one file per api endpoint at the moment? I'd like to put each endpoint in a separate endpoint controller class and since I'm using PSR-4 they must be in separate files.

[2016-11-10 15:00] gayathrigs opened #4171 "[Java]Library support for resteasy when creating java client"
##### Description
For generating a java client I understand that the supported libraries does not include resteasy. Is there a reason for that? In my project I used jersey2 to generate the client and all was well until I had to call the client api from a restful service deployed on wildfly 10. The client builder uses the resteasy libraries which I assume comes with wildfly.

##### Swagger-codegen

[2016-11-10 16:32] wing328 commented on #2963
As discussed with Tony, we'll completely remove all the license-related text in the auto-generated code and I'll write up a tutorial on how to customize swagger codegen to generate code with software license based on user's choice.

ETA: next Wed (Nov 16)

[2016-11-10 16:37] hsgreen commented on #3947
This same problem is happening with both the documentation generated by the online editor and the Node.js server generated code.

[2016-11-10 23:43] RowanJKWalker commented on #3795
Hi @jimschubert and @wing328,

I am also getting this error but when the enum is in the schema inheriting from the schema with a discriminator. I haven't had time to look into the swagger-codegen code to see what the potential issue would be. Is this a known issues and know what the fix would be?

Thanks.

[2016-11-11 09:56] wing328 commented on #2449
@szakrewsky I added a comment to the PR #4085. Please take a look when you've time.

[2016-11-11 11:20] stevecookform3 commented on #2314
Looks like this was fixed in the parser some time ago, however the spring codegen is still generating invalid code in this case. e.g. I have a model that I'd like to use all over the place

[code]

Currently the generated spring just generates effectively an empty class (note this doesnt inherit from string or implement any private string member):

[code]

[2016-11-11 11:24] stevecookform3 commented on #2314
Looks like this is a duplicate:

#3483

[2016-11-11 12:48] yucer opened #4174 "[Python] deserialization of readOnly properties fail on swagger_client"
##### Description

When a property is marked as readonly, the property deserialization fails in Python generated code.

##### Swagger-codegen version

The generator used by the online Swagger Editor. http://editor.swagger.io/

I don't know the version, but I will explain below why it doesn't matter given that the failing section of the generated code is the same that stays in the last version of p