[2017-03-06 07:59] wing328 commented on #3537
Closed via https://github.com/swagger-api/swagger-codegen/issues/3466#issuecomment-284187483

[2017-03-06 07:59] #3537 closed

[2017-03-06 08:00] wing328 commented on #3466
@akeemphilbert thanks for confirming the fix by @frol

[2017-03-06 08:12] wing328 commented on #4931
It was a behaviour added to the API client a while ago (even before I start contributing to this project) and I'm not sure about the reasons behind either

Given that it might become problematic if the user defines "format" as a parameter in the operation, I'll remove the logic from C#, java and other clients.

[2017-03-06 08:18] wing328 commented on #2103
No problem (If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2017-03-06 08:22] wing328 commented on #4386
@fehguy had bad experience with lambdas before. If you think `lambdas` will be beneficial to the project, then we can restart the conversation again.

I prefer a new issue with checklist instead of reusing this one.

[2017-03-06 08:22] wing328 commented on #3170
Yup. closed due to no update.

[2017-03-06 08:22] #3170 closed

[2017-03-06 08:24] markus-wa commented on #4581
#4713 seems to fit the topic better, as this one here is just about one symptom. Closing.

[2017-03-06 08:24] #4581 closed

[2017-03-06 08:33] wing328 commented on #4087
@jfiala I agreed the outdated sample is something ignoring.

The reason (why we didn't run run-all-petstore.sh to update all samples) is that from time to time, we add more test cases in the [test spec](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml) to cover more edge cases, we found th

[2017-03-06 08:37] gokhansari opened #4936 "[Spring][maven-plugin] templateDirectory attribute does not work."
##### Description

<templateDirectory> attribute does not work. Instead of my templates, plugin uses default templates. This attribute was working on on 2.2.1.

##### Swagger-codegen version

2.2.2

##### Steps to reproduce

Just change version of the plugin from 2.2.1 to 2.2.2, leave the rest same.

[2017-03-06 08:50] otrosien commented on #4758
@wing328 can you point me to the repo? And I still don't see how that is solving the problem that the gradle plugin wouldn't build with maven. Your proposal only works if all modules can be built with all build tools, or not?

[2017-03-06 08:58] wing328 commented on #4758
I believe you're referring to the Java API client. An example can be found in https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/

I think we can start with just adding gradle to begin with. If there's a demand for `sbt` or other build tool, we can consider those later.

My understanding is that the current modules in this project can be built with

[2017-03-06 09:00] jfiala commented on #4087
@wing328 I agree up to some point, I think it should be a decision to opt out for a specific language for some time. But at least it should be a decision not something which happens because pom.xml is not overwritten or something like that. Additionally, the shellscripts are not suitable for the windows-based contributors, so this will be helpful anyway.

My suggestion for a roadmap:
1.) Port all

[2017-03-06 09:07] jfiala opened #4937 "[Java*] Ensure cross-language template consistency"
##### Description

The cross-language consisteny of templates is currently not ensured, leading to low quality over time as features are implemented and not maintained over all languages immediately.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Related issues
Discussion started in issue #4386

##### Suggest a Fix

I suggest two ways to go:
a) Use centralized template snippets (mustache la

[2017-03-06 09:09] jfiala opened #4938 "Enhancement: generate builder-style methods in models"
##### Description

- [ ] jaxrs-spec
- [ ] jaxrs (Jersey2 + library jersey1)
- [ ] jaxrs-resteasy
- [ ] jaxrs-resteasy-eap
- [x] jaxrs-cxf - #4386
- [ ] jaxrs-cxf-cdi
- [ ] spring (default library spring-boot + library spring-mvc, spring-cloud)
- [ ] java + libraries

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Related issues

#4386 for cxf

##### Suggest a Fix

Implement the same way as i

[2017-03-06 09:10] jfiala commented on #4386
@wing328  @MatanRubin I think we can close this now as it has been implemented for cxf, further language porting see #4938, lambdas see #4937.

[2017-03-06 09:14] #4386 closed

[2017-03-06 09:26] ePaul commented on #4898
@wing328 It seems like my commit comments closed this issue (and I can't reopen it myself). Could you please reopen it?

[2017-03-06 10:19] frol commented on #3466
I think this issue shouldn't be closed just yet. To close it, more detailed installation instructions should be added to the JS client README.

[2017-03-06 10:22] wing328 commented on #4728
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/4684

Please pull the latest master or stable version (2.2.2) and give it a try.

[2017-03-06 10:22] #4728 closed

[2017-03-06 10:22] wing328 commented on #4809
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/4684

Please pull the latest master or stable version (2.2.2) and give it a try.

[2017-03-06 10:23] #4809 closed

[2017-03-06 10:24] wing328 commented on #3466
Sure. I just reopen it.

Would you have time to help update the README? modules/swagger-codegen/src/main/resources/Javascript/README.mustache

[2017-03-06 10:26] frol commented on #3466
I am not a JS dev, but since I have managed to get it running, I will try my best at writing something useful.

[2017-03-06 10:30] wing328 commented on #3466
@frol thank you 🙇

[2017-03-06 10:34] otrosien commented on #4758
@wing328 well I'm not referring to the modules we build inside swagger-codegen. I'm talking about the main build of swagger-codegen (the project) itself.

[2017-03-06 10:39] wing328 commented on #4758
The idea is the same. Ideally we want the developers to use whatever build tool they prefer.

Currently, a developer who prefers `gradle` over `maven` cannot build this project (swagger codegen) with gradle.

If you can provide the build.gradle files for this project, that would be greatly appreciated.

[2017-03-06 11:51] wing328 commented on #4872
C# client uses RestSharp. Please refer to http://stackoverflow.com/a/17234955/677735 to see if the solution helps.

[2017-03-06 11:52] #4872 closed

[2017-03-06 12:03] wing328 commented on #4900
Currently, C# API client does not support XML payload (response) and we will welcome contribution to support that.

@MMirabito your solution is a good starting point.

What about checking the response body to see if it starts with "<" to determine if the payload is XML.

Another way is to check the content type in the response header but that would require modifying the method signature to add a 3

[2017-03-06 12:06] wing328 commented on #4903
@G3N7 thanks for reporting the issue. My guess is that it's due to changes in Swagger Parser.

cc @fehguy

[2017-03-06 12:59] wing328 commented on #4926
Yes, that's possible via vendor extensions.

(FYI. We also have naming convention for vendor extensions: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md#style-guide)

[2017-03-06 13:01] wing328 commented on #4906
@egormasalitin thanks for reporting the issue. Can you try the latest version 2.2.2 (released last week) to see if the issue still occurs?

[2017-03-06 13:15] egormasalitin commented on #4906
@wing328 I just checked 2.2.2, same behavior.

[2017-03-06 13:24] wing328 commented on #4906
In your spec, is there by any chance the `host` (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L12) attribute contains an ending slash?

I'll try to reproduce the issue in my end as well.

[2017-03-06 13:34] egormasalitin commented on #4906
@wing328 I know I get the problem. If base path is empty, it ends on slash, and it creates a problem. How do you suggest to fix it?
![image](https://cloud.githubusercontent.com/assets/6221420/23611995/33d6db66-0282-11e7-91fe-f6d16541e252.png)

[2017-03-06 13:44] wing328 commented on #4906
What about removing basePath (which is not required)?

I did a test and it seems to work for me.

[2017-03-06 13:48] egormasalitin commented on #4906
@wing328 it was set by default, how to set it as null?

[2017-03-06 13:49] jfiala commented on #4926
@wing328  Great, what should be the name for the attribute?
Is it OK do scope for Java x-java-since or should we have x-since?

[2017-03-06 13:50] wing328 commented on #4906
I simply remove this line: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L13

[2017-03-06 13:52] egormasalitin commented on #4906
@wing328 I can't, It is generated by swagger using sources, it should be dynamic, that's the problem

[2017-03-06 13:53] ybbus opened #4939 "Missing annotation for Jax-Rs (jersey) multipart file upload server stub"
##### Description

When generating a Jax-Rs server stub (jersey2) for Multipart file upload. There is an annotation missing to retrieve the Content-Type of the payload.

The request payload looks something like this:
[code]

But with the following annotations in the src\gen\java\io\swagger\api\FileApi.java
[code]

I only get the file stream and the FormDataContentDisposition, but not the Content-T

[2017-03-06 13:54] wing328 commented on #4906
IMO, the source should be updated to remove the basePath.

As a workaround, download the spec to your local drive and update it, then use the same -i argument for the local file (e.g. /var/tmp/swagger.yaml) to generate the Java API client.

[2017-03-06 13:57] wing328 commented on #4926
I would suggest `x-since` since potentially other langauges may want to include the same information in the auto-generated code (as comment)

[2017-03-06 13:58] egormasalitin commented on #4906
@wing328 Thanks, I'll update swagger version and check it, than I'll update you.
About your suggestion:
1. Yes, I know that we can do it, but I think it is bad to work with generator using such workaroud
2. I think that it should be fixed on generator side, because system should work even if `basePath='/'`
What do you think?

[2017-03-06 14:08] jfiala commented on #4926
Ok, thanks that is fine.

[2017-03-06 14:10] CoolZeroNL opened #4940 "[HTML2] Codegen : wont generate settings if [] is used in parameter name,"
##### Description
When using [ or ] in the name of a parameter, this will be used as name of the parameters. In the Online Swagger Editor this will show up, including the rest of the configuration of the parameter, like Description, required, format or default.

But when i'm generating a client version in HTML2, the name will show up as the  name of the parameter, but the other settings like: Desc

[2017-03-06 14:12] wing328 commented on #4906
Yup, I agree the generator should be smart enough to remove ending "//" with "/" in the base URL.

Would you have time to contribute the enhancement? If yes, I can show you a good starting point.

[2017-03-06 14:18] egormasalitin commented on #4906
@wing328 I have time for it. Please tell me where I should change java behavior.

[2017-03-06 14:25] wing328 commented on #4906
I think we can change the following line:

https://github.com/swagger-api/swagger-codegen/blob/7df1f8e2006a824a30ad2f665cc076b3c1c653d0/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L83

to make sure basePath does not equal to "/" before appending the base path.

[2017-03-06 14:42] ePaul commented on #4898
I guess I need to use a different text in my commits if they don't actually fix the whole issue. Argh.

[2017-03-06 14:49] liqidator commented on #3678
When I use format: uuid (https://github.com/swagger-api/swagger-codegen/pull/4739) and modelNameSuffix=Gen, the outcome type is UuidGen, which is not compilable.
Probably best to re-open.

[2017-03-06 14:53] wing328 commented on #3678
@liqidator which version are you using? 2.2.2 (released a few days ago)?

[2017-03-06 14:58] egormasalitin commented on #4906
@wing328 It is 30m already since I cannot find publish to local maven task :) I did changes locally, but which task performs deploy to local maven (in order to test it locally)?

[2017-03-06 15:00] wing328 commented on #4906
`mvn clean install` will install the package (version 2.2.3-SNAPSHOT) to the local maven store

[2017-03-06 15:07] wing328 commented on #4898
@ePaul I think you can do it the other way around. Update this issue to link to the PR so that this issue won't be closed if the PR is merged.

[2017-03-06 15:10] wing328 commented on #4905
@pauldzy is this a swagger-ui issue? If yes, please open the issue via https://github.com/swagger-api/swagger-ui/issues/new instead.

[2017-03-06 15:10] liqidator commented on #3678
Yes, I used 2.2.2

[2017-03-06 15:13] wing328 commented on #4907
@dwoodel thanks for reporting the issue. Do you mind providing a screen shot of the generated code that has compilation errors?

cc @jaz-ah @Edubits @jgavris @hexelon

[2017-03-06 15:14] wing328 commented on #3678
Reopened the issue. If you remove 'format: uuid" (which means it's just a string), would that work?

[2017-03-06 15:15] egormasalitin commented on #4906
@wing328 I cannot push to feature branch, how can I create a pull request?

[2017-03-06 15:16] ePaul commented on #4898
@wing328 The problem was the "fix #4898 for ..." in the commit comments, not that anything is linked between PR and issue. (There were already links in both directions.)

I changed the remaining PRs to have a "fix (partially) #4898 for ..." instead, so it should not happen again.

[2017-03-06 15:19] liqidator commented on #3678
Thanks. When I removed format uuid, it worked fine. But I had to use just type string for uuid

[2017-03-06 15:20] wing328 commented on #3678
Ok, so I think that's an edge case my fix/work didn't handle properly.

Would you have time to contribute the fix? I can show you some good starting points.

[2017-03-06 15:21] ePaul commented on #3678
I start to regret having contributed this feature (modelNamePrefix/Suffix) :-(
... or at least this way of implementing it.

[2017-03-06 15:22] wing328 commented on #4906
You will need to first folk this repo and then make the change in your folked repo in which you've permission to push the branch.

[2017-03-06 15:23] egormasalitin commented on #4906
@wing328, ok, one sec

[2017-03-06 15:24] liqidator commented on #3678
No, it's really useful feature. I guess the implementation is tricky as you have to either cover all edge cases or come up with generic implementation.
I am sorry I am stuck with business stuff, I wish I had time to contribute.

[2017-03-06 15:25] wing328 commented on #3678
@ePaul I'm sure many Swagger Codegen users appreciate your work on this feature.

This issue will be a minor fix: Java generator thought that a property/parameter with `uuid` type is a model, we'll need to add `uuid` to the list of language-specified primitive type to fix the issue.

[2017-03-06 15:39] wuf810 commented on #4907
Hi I work with @dwoodel .

Enclosed is a screenshot of the Swift code being generated.

<img width="1213" alt="screen shot 2017-03-06 at 15 30 53" src="https://cloud.githubusercontent.com/assets/60738/23616529/f4d259d6-0281-11e7-8e0e-0866079405df.png">

As you'll see the generated code tries to make the class a subclass of a collection (a dictionary of type String, String). Unlike the equivalent c

[2017-03-06 15:48] wing328 commented on #4906
Closed via #4906

[2017-03-06 15:48] #4906 closed

[2017-03-06 15:49] egormasalitin commented on #4906
@wing328 Thanks a lot for your help 👍

[2017-03-06 15:49] JFCote commented on #3057
@clasnake : You'll be happy to know I've created a pull request for Java Play Framework: https://github.com/swagger-api/swagger-codegen/pull/4943
If it's merged, you will have all you need to generate a complete Java server with Play Framework.

[2017-03-06 15:51] ePaul commented on #3678
I think I added this at a wrong place ... or possibly the current architecture only allows this hacky way.

There should be one place where names of model types are mangled (adapted to language style), and a different place where names of predefined types are retrieved (like String, UUID, Integer/Double, BigDecimal, all the date types, Maps/Lists, etc.). The prefixing/suffixing should only happen

[2017-03-06 15:53] JLLeitschuh commented on #4758
I don't really think it makes sense for this project to support two build tools to create it. This would result in duplicated build logic which could easily be broken in one but not the other. The project's maintainers pick the build tool to build the library. You shouldn't add grunt as a build tool and have a java version of this project just to make the javascript developer happy.

If you want t

[2017-03-06 16:07] josiahpeters opened #4944 "README.md swagger-codegen-cli incorrect direct download link"
##### Description

The download link for swagger-codegen-cli jar directly from Maven does not point to the latest version

##### Swagger-codegen version

2.2.2

##### Suggest a Fix

I will be opening a PR to update the README.md to point to the correct download link: http://central.maven.org/maven2/io/swagger/swagger-codegen-cli/2.2.2/swagger-codegen-cli-2.2.2.jar

[2017-03-06 16:12] wing328 commented on #4944
Thanks for the PR. Issue closed.

[2017-03-06 16:12] #4944 closed

[2017-03-06 16:13] wing328 commented on #4906
@egormasalitin no problem. If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen)

[2017-03-06 16:15] egormasalitin commented on #4906
@wing328 I'll ask our managers

[2017-03-06 16:22] pauldzy commented on #4905
Apologies, am moving now.

Thanks.

[2017-03-06 16:22] #4905 closed

[2017-03-06 17:08] otrosien commented on #4758
I second @JLLeitschuh - let's not create maintenance nightmares. I would appreciate if we got our own little repo to concentrate working on the feature.

[2017-03-06 17:13] wing328 commented on #4758
I agree but I don't think it's fair comparison between grunt (for JS) and gradle (for Java-related languages) in this particular case.

I also agree potentially there may be issues and we should use CIs to make sure the build tools work as expected.

My guess is that having a build.gradle will attract more Android developers to work on this project , which is a good thing for this project as a who

[2017-03-06 17:17] dwoodel commented on #4907
Hi @wing328, yes confirmed @wuf810 is correct here.

[2017-03-06 17:25] wing328 commented on #4907
Question on the model definition if you don't mind.

`UserResponse` is a dictionary/hash/map or it's a model with 9 properties and you want a dictionary/hash/map of this model (using "string" as key)?

[2017-03-06 17:26] wing328 commented on #4907
It would help if you can show an example of the JSON for `UserResponse`.

[2017-03-06 17:42] stevecookform3 commented on #4883
@wing328 any idea where the issue might lie?

[2017-03-06 17:48] wing328 commented on #4883
@stevecookform3 I think that's because you're defining the model inline and swagger codegen will try to generate only 1 model if both inline models appear to be the same.

You can try to add the `title` attribute to have a better control on the naming of the inline object or try to define the model separately instead of inline.

[2017-03-06 17:51] krmaxwell commented on #4639
@wing328 Yes, sorry, I have something cobbled together that I will submit today. I'll need feedback, though, to make sure I'm doing it properly. :smiley_cat:

[2017-03-06 18:11] stevecookform3 commented on #4883
@wing328 where would the title attribute go? In the spec I can only see the title attribute used as the title of the app, not at individual model levels (title: "Swagger Sample App")..

[2017-03-06 18:13] danbeaulieu opened #4947 "Missing codegen-cli docker image in registry"
##### Description

The README calls out an image swagger-api/swagger-codegen but that image does not exist. The image swaggerapi/swagger-codegen-cli does "exist" on docker hub, but there aren't any actual images pushed to it: https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/

##### Swagger-codegen version

latest Docker image.

##### Swagger declaration file content or url

NA

##### Comman

[2017-03-06 18:16] wing328 commented on #4883
Something like this:
[code]
I would recommend defining the model separately instead of inline.

[2017-03-06 18:31] arnested commented on #4947
See #4912. I will add the changes to the readme over there.

Thank you for noticing and reporting this!

[2017-03-06 19:12] JakePayton opened #4948 "[Swift] Alamofire.Manager instances created without a ServerTrustPolicyManager"
##### Description

Generated swaggers don't seem to allow for ServerTrustPolicyManager to be defined for Alamofire.Manager instances.  This is a requirement to being able to implement SSL certificate pinning

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

AlamofireImplementations.swift

[code]

##### Command line used for generation

swagger-codegen generate -

[2017-03-06 19:13] dwoodel commented on #4907
Hey @wing328 sure no problem...

Yes the user response contains a map of dynamic key [String] :value [String] fields (always strings values despite other JSON types).  The keys and the values are totally dynamic and we do not know the keys before hand.  Hence they connot be encoded into a model.  This works in java because we can just define an additional properties array of type string.

Here is

[2017-03-06 20:40] taimuri opened #4949 "Adding new supportingFile in swagger Java client?"
##### Description

Is there a way we could add new supportingFile?

Let me elaborate that I am using codegen to generate Java client but I want to add a new Java class or Java classes to keep code clean. I see JavaClientCodegen adds supportingFiles.

How can I add my CustomClass.java by providing a mustache template or something?

[2017-03-06 20:56] ePaul commented on #4498
Is this related to the currently occasionally (but not consistently) failing Travis CI builds, e.g. https://travis-ci.org/swagger-api/swagger-codegen/builds/208320810 ?

[2017-03-06 21:36] ryanackley opened #4950 "[Java*] Joda can't seem to handle all iso8601 dates"
##### Description
Getting an exception on certain dates. Switching to legacy fixes the client.

java.lang.IllegalArgumentException: Invalid format: "2017-03-01T07:00:00Z" is malformed at "Z"
	at org.joda.time.format.DateTimeFormatter.parseDateTime(DateTimeFormatter.java:945)

##### Swagger-codegen version
2.2.1

##### Swagger declaration file content or url

N/A since it's data specific

##### Com

[2017-03-06 21:48] ryanackley opened #4951 "Publish supported features matrix for all clients"
This is an improvement request.

My first adventure into Swagger and I'm finding massive inconsistencies between the different language implementations. What makes this extremely frustrating is that the code generator will generate stuff that isn't actually functional. For example, the Java client generator doesn't support inheritance. It happily generates a useless class instead. Objective-C supp

[2017-03-06 22:52] bherila opened #4952 "CSharp client build fails if the swagger definition contains a class named ValidationResult"
##### Description

##### Swagger-codegen version

fork in my repo but repros in latest.

##### Swagger declaration file content or url

unavailable (company confidential)

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate     -i http://localhost:8080/swagger/docs/v1     -l csharp -o /Users/ben/Projects/UC.App/UC.Api

##### Steps t

[2017-03-07 00:19] taimuri commented on #3870
We should also support custom content types like:

application/json,application/vnd.my.app+json,application/vnd.my.app.v1+json

[2017-03-07 06:32] mastacode opened #4957 "[ELIXIR] Bad generate method client with parameter type file"
##### Description

I generated client API for ELIXIR use swagger-codegen-cli-2.2.2.jar after that I saw code method and I think is some bug when we have in swagger.json parameter (in) type file. Inside the code that parameter dosen't have any transformation, it's treated like normal string. I set header content-type:multipart/form-data in request but this nothing change.

##### Swagger-codegen ver

[2017-03-07 06:46] #4862 closed

[2017-03-07 07:35] wing328 commented on #4810
@wehnsdaefflae the issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4958. Please pull the latest master to give it a try.

[2017-03-07 07:35] #4810 closed

[2017-03-07 07:35] wing328 commented on #4809
The issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4958. Please pull the latest master to give it a try.

[2017-03-07 07:36] wing328 commented on #4789
The issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4958. Please pull the latest master to give it a try.

[2017-03-07 07:36] #4789 closed

[2017-03-07 07:37] wing328 commented on #4728
The issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4958

Please pull the latest master to give it a try.

[2017-03-07 07:37] wing328 commented on #4684
The issue should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4958

Please pull the latest master to give it a try.

[2017-03-07 08:31] stevecookform3 commented on #4883
@wing328 thanks for the info. FYI adding the title attribute doesnt make any difference - the model is still not generated.

Using a ref does work as a workaround for the issue though, so the following will generate the correct code:

[code]

However i'm not sure this is great for a couple of reasons:
* The whole model is not the same, only a sub-part of it. Its therefore confusing to have some of

[2017-03-07 08:43] stevecookform3 commented on #4460
Sorry for the delay. I've filed a PR: https://github.com/swagger-api/swagger-codegen/pull/4959

I've seen a similar issue with the html2 codegen, so might be worth a look through all the mustache files for similar errors.

[2017-03-07 08:44] wing328 commented on #4883
Understood that different developers have different preferences on how to define models.

What about disabling the behaviour if the "title" attribute is present?

[2017-03-07 08:54] stevecookform3 commented on #4883
IMHO I would personally not go for the shared models at all. If the developer wants to generate shared models, its simple for them to go through the swagger definition and separate out the models in whatever way they want. They will have a much better understanding of what can and cannot logically be shared that you can get from automated parsing. I'd just suggest a simple rule that anything thats

[2017-03-07 09:33] wing328 commented on #4460
@stevecookform3 np. We (the community) truly appreciate your contribution to this project.

@epaul has opened a meta issue to track this via https://github.com/swagger-api/swagger-codegen/issues/4898

[2017-03-07 09:39] wing328 commented on #4957
@mastacode thanks for reporting the issue.

Here is the mustache template:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/elixir/api.mustache

You're correct in saying that there's no support for `file` type at the moment as I don't see any {{#isFile}} tag ([example](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-co

[2017-03-07 09:55] mastacode commented on #4957
I'm start learning Elixir and I think my skill is to lower for do that.
But thanks for add this Bug to next version.

[2017-03-07 11:05] khorolets opened #4960 "[Javascript] Config option "usePromises" fails the generation if boolean is passed"
##### Description

Hello!

I have config like so:

[code]

And when I try to generate JavaScript client I get this

[code]

And if I change that boolean to string `"false"` everything works fine. I think boolean is more essential there.

Is this a bug?

##### Swagger-codegen version

From **master**, pulled yesterday. (Less than 24 hours ago)

##### Swagger declaration file content or url

[code]

[2017-03-07 12:10] michaeljota commented on #4657
I think this should be safely closed.

[2017-03-07 12:16] MMirabito opened #4961 "C# Client - Unable to dynamically modify User-Agent at runtime"
I am noticing that when I try to modify the UserAgent in a C# client it’s not sticking, it's always reverting back to the original generated value "Swagger-Codegen/1.0.0/csharp"

As I am tracing through the code I belie the problem might be inside the **ApiClient** class in the **CallApi** method. I am thinking that the  **RestClinet.UserAgent** is referencing the Class **Configuration.UserAgent**

[2017-03-07 13:12] aacanakin opened #4962 "Empty response body handling in typescript-angular2"
##### Description

Empty response 200 OK codes are not handled by auto generated api code.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

##### Command line used for generation

language: typescript-angular2

##### Steps to reproduce

Build an api response just give 200 as http code but no response body

##### Suggest a Fix
Here's the current `api.mustache` at

[2017-03-07 13:38] keir-rex opened #4963 "Java client generates models with `String` fields instead of `URL`"
##### Description

I've generated a Java client ( `OkHttp` ) from my team's Swagger spec. Everything looks good with the exception that models which have fields defined as `url` in the spec are generated as `String`s.

Ideally we'd like these to be generated as `URL`s so we get the benefit of type-safety and fail before making a call to our service.

Please point out if this is a non-issue and/or

[2017-03-07 13:53] wing328 commented on #4948
@JakePayton please use v2.2.2 (released a few days ago) to give it a try.

[2017-03-07 13:54] wing328 commented on #4950
@ryanackley please try the latest version 2.2.2, which was released a few days ago.

[2017-03-07 14:09] wing328 commented on #4963
@keir-rex I don't think the Java generator (or any other generators) supports `format: url` at the moment. May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-03-07 14:14] #4657 closed

[2017-03-07 14:15] wing328 commented on #4962
@aacanakin thanks for reporting the issue. Please submit a PR so that we can review the fix.

[2017-03-07 14:18] keir-rex commented on #4963
@wing328 I suspected that might be the case. I'd certainly enjoy getting involved. Would you like to setup a skype/connect session or communicate on here?

[2017-03-07 14:21] wing328 commented on #4963
@keir-rex let's do here so that others from the community can join the discussion as well. (ideally someone from the community may have started working on this feature)

[2017-03-07 14:36] wing328 commented on #4898
For `silex` (PHP), the path parameter issue has been fixed by https://github.com/swagger-api/swagger-codegen/pull/4817. We will need to port the fix to PHP Slim and Lumen.

[2017-03-07 14:42] #4460 closed

[2017-03-07 15:05] wing328 commented on #4961
@MMirabito thanks for reporting the issue. As a workaround, what about using the following option to hard code the user agent in the auto-generated C# code?
[code]

[2017-03-07 15:08] wing328 commented on #4960
@khorolets thanks for reporting the issue. I think I know which file to apply the fix. May I know if you've time to work on the fix? If yes, I can show you some good starting points.

[2017-03-07 15:12] khorolets commented on #4960
@wing328 I'd like to help, but I don't code on Java, sorry :)

[2017-03-07 15:13] wing328 commented on #4951
@ryanackley Thanks for the feedback. We'd a similar discussion in another [thread](https://github.com/swagger-api/swagger-codegen/issues/4622).

I'll try to come up with the 1st version of the feature matrix by next week. Stay tuned.

[2017-03-07 15:16] mhaefele opened #4964 "[jaxrs-cxf-client] incorrect List of Lists return type in Api"
##### Description

I have a swagger.json file with a response schema of string[].
I'm expecting this to produce a method return type of List of String.
Instead I'm seeing List of List of String

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

Produces
[code]
expected:
[code]

##### Command line used for generation
Maven.

[code]

##### Steps to reproduce

Run ma

[2017-03-07 15:31] wing328 opened #4965 "Dependency review"
##### Description

We've released 2.2.2. As usual we'll review the dependencies used by API client, server after a stable release. This thread aims to keep track of the dependency review for different generators.

##### Swagger-codegen version

Latest master

[2017-03-07 15:34] wing328 opened #4966 "Review CI coverage"
##### Description

Currently, not all generates are tested and this thread aims to review what can be tested but not yet added to CIs (travis, appveyor, shippable)

##### Swagger-codegen version

Latest master

[2017-03-07 15:55] ePaul commented on #4950
@ryanackley An example swagger.yaml (possibly the official petstore one, if it has a date-time field in a response), the settings you use to generate your client, and an example JSON result would still be helpful for others to reproduce this.

[2017-03-07 16:22] mhaefele commented on #4964
So setting breakpoints, it looks like operation.returnType is already List<String>
but JavaJaxRS/cxf/api.mustache is delegating to returnTypes.mustache which also applies List< to the return type based on isListContainer.

So there's a mismatch in expectations there.

changing
```public {{>returnTypes}} {{nickname}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>fo

[2017-03-07 16:26] ePaul commented on #4964
Could you create a pull request, regenerating the samples (run bin/jaxrs-cxf-petstore-server.sh or similar)?
This way our CI (and other contributors) server can have a look whether this breaks anything visible.

[2017-03-07 16:27] ePaul commented on #4964
Also, maybe compare with the templates in the other Java versions.

[2017-03-07 16:44] mhaefele commented on #4964
Hmm...AFAIK looks like JavaSpring uses the returnTypes template, but the rest access returnType directly.
I'll take a look at creating a pull request.  Is there a quick guide on that (creating a pull request in general for OSS?)

[2017-03-07 16:49] pablo-ml opened #4968 "Make Controller constructor public in spring mvc generator"
##### Description

I am using swagger codegen with the delegatePattern option. I want to manually create the swagger generated controller in the spring configuration file and inject its delegate, instead of letting spring scan for controllers and autowire the delegate. The problem is that the generated constructor is package access.

##### Swagger-codegen version

This happened in 2.2.2.

##### Su

[2017-03-07 16:55] otrosien commented on #4758
I can give it a try, maybe to a point that at least `gradle build` works.

[2017-03-07 16:57] mhaefele commented on #4964
Ah... Yeah..  The change above definitely breaks the output from jaxrs-cxf-petstore-server.sh.
I copied that file to a new one and changed it to use jaxrs-cxf-client as the language and I can see the my issue in the sample output.
I can also see it missing "void" for return types.

[2017-03-07 17:12] JLLeitschuh commented on #4758
There is an easy conversion process that gradle ships with for converting the basic maven to gradle project.
https://guides.gradle.org/migrating-from-maven/

From experience writing and re-writing build systems from maven to gradle you may want to give [gradle script kotlin](https://github.com/gradle/gradle-script-kotlin) a shot.

It allows you to write your entire build in an inferred type langua

[2017-03-07 17:26] ePaul commented on #4964
For this repository (and many others), it is in [CONTRIBUTING.md](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md).

In general, you need to fork the repository, create a new branch in your fork (you could use master, but it is better to have a clear name), commit to this branch and then open a pull-request (PR) from this branch to the upstream repo's master branch (or w

[2017-03-07 17:36] ePaul commented on #4758
While I think having a gradle plugin is a good idea, I don't think it implies building this whole project in two different ways. Or is this needed in order to publish the plugin (and its dependencies)?

Then we would have in the end one "swagger-codegen-build-by-maven" and one "swagger-codegen-build-by-gradle" in circulation, with potentially differing features.

(I'm not opposed to a total conver

[2017-03-07 17:45] mhaefele commented on #4964
Cool.  Thanks so much for your help.
I abandoned using jaxrs-cxf-client in favor of jaxrs-cxf for the time being, but I'll try to come back to do this and do a pull request.
Looks like at the least adding jaxrs-cxf-client to the samples directories would show the issue I'm seeing.

[2017-03-07 17:47] fehguy commented on #4758
Here's my $0.02.  We need the build process to use the most familiar, common tooling, period.  If you look back in time, this project used to be a scala project and that created a ton of issues.  So once Gradle becomes the defacto build process for Java, we should switch to it.  Otherwise, having two paths to build means yet another way for inconsistent results, and frankly the build system should

[2017-03-07 18:37] JLLeitschuh commented on #4758
I think a question that should be asked is if the project's build is currently a pain point for developers/contributors?

 - Is the current build slow enough to warrant trying a different tool?
 - Is there some feature/task that you wish you could automate that you would need a complicated maven plugin to pull off?
 - Are you having problems with inconsistent/confusing dependency resolution?
 - Ar

[2017-03-07 19:49] fehguy commented on #4758
That's not my point.  There is no such thing as a perfect build system, and there would be pain with Gradle as well.  It may be much better than maven, but until it's not the defacto build system for java, my suggestion is to not move that direction.

Nothing against Gradle, but community projects work best when they're as familiar as possible.  I personally don't like Maven (I like it better than

[2017-03-07 20:02] webron commented on #4758
:ant:

[2017-03-07 21:43] vpolouchkine commented on #4459
Just ran into this.  FWIW Go "enums" are typically done like this:
[code]

[2017-03-07 21:47] frol commented on #4228
I cannot follow the logic behind the fix because I am not a Java dev, but it seems that it broke the native boolean types in JSON config:

Having this config for Javascript client:

[code]

and running Swagger Codegen like this:

[code]

I receive a bunch of odd errors. It starts with this one:

[code]

OK, I created the `./dist` folder (though it wasn't required before, and as turned out, it is s

[2017-03-07 22:21] kernwig opened #4969 "[typescript-angular2] client handling of date-time format results in TS2339 compiler errors"
##### Description

Any API parameter defined as `"type":"string","format":"date-time"` results in typescript code full of TS2339 errors.
[code]
The if condition is an error, as `startDate` (in this example) is already a function parameter of type `Date`, so the check is redundant and, annoyingly, reported as an error.

Secondly, `<any>startDate.d.toISOString()` does not compile. There is no 'd' fi

[2017-03-07 22:25] otrosien commented on #4758
so.. back to the subject: As stated earlier, when we want to provide a plugin for gradle, we need to develop it with gradle. Maven is not supported in that case. In my eyes we have two options:

* Develop the gradle plugin as its own project using gradle
* Convert swagger-codegen completely from maven to gradle

I would prefer the first alternative.

[2017-03-07 22:38] ddelay opened #4970 "[Java] Runtime problem parsing response object defined with additionalProperties"
##### Description

I'm seeing unexpected behavior when Swagger generated client code parses a response.  The response object is defined to have a set of fixed properties.  It also has a set of dynamic properties (not known until run time).  I'm using `additionalProperties` to indicate the object has dynamic properties.

For example, consider the following response object:

[code]

The first two pr

[2017-03-07 23:42] michaeljota opened #4971 "[typescript-angular2] Suggestions for improvements (baseUrl, url service, npm module)"
### Description
-----
I want to suggest a couple of change in the architecture distribution of the code generated by the `typescript-angular2` version of the CLI. I know most of the changes I'm about to suggest are aesthetics, and you may find them useless in a code generator tool, but still.

##### Modulize generated code

In Angular way, and in npm way. This means the code generated should be ab

[2017-03-08 01:26] pablograna commented on #4968
Created PR #4972

[2017-03-08 01:39] advance512 opened #4973 "[JavaScript (with promises)] Bug following $ref in object properties"
##### Description

Generated type file `ID` contains the following:

[code]

`data` is an integer input. `obj` is null. Hence, the result is `exports()` instead of simply `data`.

##### Swagger-codegen version

Build package: io.swagger.codegen.languages.JavascriptClientCodegen
v2.2.2

##### Swagger declaration file content or url

[code]
##### Command line used for generation

java -jar swagger-c

[2017-03-08 03:32] wing328 commented on #3722
@asnelling do you mind submitting a PR so that we can review it?

[2017-03-08 04:03] #4639 closed

[2017-03-08 07:26] #2442 closed

[2017-03-08 07:46] wing328 commented on #4228
I'll look into this today. Let's use https://github.com/swagger-api/swagger-codegen/issues/4960 for tracking.

[2017-03-08 08:10] otrosien commented on #4758
FYI: Here's what `gradle init --type pom` produces. I didn't optimize anything yet, like extracting common version numbers. I just had to fix the maven central repository reference, and a TestNG test that failed on my computer; maybe unrelated... But then there's the "little differences". For example, swagger-generator depends on test-classes from swagger-codegen, which are invisible in gradle whe

[2017-03-08 08:57] #4960 closed

[2017-03-08 08:57] wing328 commented on #4960
@khorolets @frol I've fixed the issue via #4974. Please pull the latest master to give it a try.

[2017-03-08 09:02] wing328 commented on #4459
@vpolouchkine thanks for sharing.

Has anyone started working on this yet? If yes, please kindly share the progress. Thanks.

[2017-03-08 09:16] yohanakh commented on #4960
+1
@wing328 I think this issue will happen with all the code generators.
Need to change every Boolean.parseBoolean((String)additionalProperties.get(???)) to convertPropertyToBooleanAndWriteBack(???)

[2017-03-08 09:19] wing328 commented on #4973
@advance512 instead of defining `id` using $ref, what about defining `id` as integer inline instead?

[2017-03-08 09:20] wing328 commented on #4960
@yohanakh Yup, I've already reviewed and filed https://github.com/swagger-api/swagger-codegen/pull/4975 already.

[2017-03-08 09:21] khorolets commented on #4960
@wing328 Thank you. I confirm the fix helps. You're awesome :)

[2017-03-08 09:22] wing328 commented on #4960
@khorolets no problem. Let us know if you've any other feedback/question.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2017-03-08 09:25] wing328 commented on #4228
FYI. #4960 has been fixed.

[2017-03-08 09:45] jtnystrom opened #4976 "[scala] collectionFormat not supported for tsv, pipes, ssv, multi"
##### Description

Generated code for collection parameters can only parse the csv format at the moment. Other formats, such as pipes, are not supported.

##### Swagger-codegen version

Latest github snapshot as of 2017-03-08

##### Swagger declaration file content or url

[code]

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/4426

##### Suggest a Fix

I will try to sub

[2017-03-08 09:58] wing328 commented on #4960
@yohanakh https://github.com/swagger-api/swagger-codegen/pull/4975 merged into master. If you still find any generator using `Boolean.parseBoolean((String) ...`, please let me know.

[2017-03-08 10:50] mamghari commented on #4662
Hi Everyone,
The package "com.sun.jersey" is only for JERSEY 1!

We should manage that for Jersey 2. They are not compatible.
Cheers.

[2017-03-08 10:54] wing328 commented on #4662
@veinSmart @mamghari would you have time to contribute the fix? If yes, I can show you some good starting points.

[2017-03-08 11:02] muralidharalladi opened #4977 "C# code gen api path encoding problem"
##### Description

we are getting "C# code gen api path encoding problem". We have composite key in model.
API Path in swagger json: /Resources(City='{City}',State='{State}')
API Path in c# gen Api file: /Resources(City&#x3D ;&#39 ;{City}&#39 ;,State&#x3D ;&#39 ;{State}&#39 ;)
= --> "&#x3D ;"
'  --> "&#39 ;"

we are getting error in below code gen file
https://github.com/swagger-api/swagger-codege

[2017-03-08 11:30] jdupouy opened #4978 "[JAVA] Content-Type is overwritten"
The Content-Type is always overwritten even if it has been supplied.

If a header parameter is described as follow

[code]

The client should be able to specify the content type of the request but this gets overwritten by the Java API. See https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/api.mustache#L95

Maybe we shou

[2017-03-08 11:33] wing328 commented on #4978
@jdupouy you should define the `content-type` in `consumes` instead, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L37

[2017-03-08 11:37] jdupouy commented on #4978
Thank you for your prompt reply but I want my service to be able to consume any type of content-type and I do not want to provide a finite list of content-type.

[2017-03-08 11:54] wing328 commented on #4978
To clarify a bit, if the developer sets "context-type" to `application/xml`, the API client will automatically represent the model in the form of XML?

[2017-03-08 12:47] jdupouy commented on #4978
I must have precised that I use the following definition for the body
[code]

[2017-03-08 12:53] ePaul commented on #4978
I think in OpenAPI 2.0 you are supposed to use `type: file` here, otherwise you'll get a JSON string (i.e. `"..."`).

(This is independent of the content type, though.)

[2017-03-08 13:00] jdupouy commented on #4978
But this will force me to use the content-type "multipart/form-data" or " application/x-www-form-urlencoded", So I will lose the content-type information. Besides "file" must be declared in "formData".

[2017-03-08 13:10] ePaul commented on #4957
If you adapt the template to support files, consider also replacing `{{paramName}}` with `{{baseName}}` at the appropriate places (where the on-the-wire name is meant, see #4898). Unfortunately I don't know anything about Elixir.

[2017-03-08 14:45] wing328 commented on #4931
@MMirabito the issue has been fixed via https://github.com/swagger-api/swagger-codegen/pull/4980

Please pull the latest master to give it a try.

For other API clients, I'll open an issue for tracking.

[2017-03-08 14:45] #4931 closed

[2017-03-08 14:59] veinSmart commented on #4662
@wing328 Yeah, I should be able to find time on friday if that is ok for you?

[2017-03-08 16:04] JLLeitschuh commented on #4758
Looks pretty good!

[2017-03-08 16:19] advance512 commented on #4973
I wanted to be able to modify the ID type as either a UUID or an Integer in one place.
Also, I liked having it as a different "type" with alternative naming. A bit like a C typedef.

I side stepped the issue for now, but it is definitely not working as expected.

[2017-03-08 18:06] wing328 commented on #4973
Yup, I think it's a bug with the Swagger Parser. Please report the issue to github.com/swagger-api/swagger-parser.

For the time being, please define `id` as integer as a workaround.

[2017-03-08 18:37] jdevera commented on #4240
Is there another open issue to track that refactoring? Otherwise it will get forever forgotten. I do not have time right now but if it is open and labelled in need of community contrib maybe somebody can tackle it in the future.

[2017-03-08 18:52] njwandroid commented on #3882
@cbornet @ashughes  Is there some sort of a quick start guide for retrofit2+swagger+android?  The docs make it seem like I should put something in pom.xml, which doesn't seem to apply, I don't know if I'm better off with using the .jar and importing it or the library, etc, etc.  Or perhaps we could have a .sh file for androidRetrofit, since retrofit is probably *more* popular than Volley?

[2017-03-08 19:35] jspears opened #4981 "Swagger Node Port -"
I recently ported Swagger Codegen v2.2.1 to javascript, and I would like to make sure I credit swagger appropriately.  Please let me know what other than a copyright and keeping Apache-2 license is necessary.

[gen-swagger](https://github.com/jspears/gen-swagger)

I know this may not be the right forum, but given it a shot

Thanks for the project and all the work gone into it.

[2017-03-08 20:43] ePaul commented on #4981
Just out of curiosity, what was the reason to do so?

[2017-03-08 20:51] fehguy commented on #4981
@jspears might want to chime in here with your thoughts...

https://github.com/swagger-api/swagger-codegen/issues/3948

[2017-03-08 21:29] DavidBiesack opened #4982 "html emits 0 response code for "default" responses"
##### Description

See [petstore output](https://github.com/swagger-api/swagger-codegen/blob/master/samples/html/index.html)
[code]
##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url

petstore.yaml

bin/html-petstore.sh

##### Suggest a Fix

I'll submit a patch. isDefault in CodegenResponse is insufficient because it is true for 200 responses.
Needs a new

[2017-03-08 21:52] bardware opened #4983 "Missing JS-Files in swagger-generator-2.2.2.war"
I download version 2.2.2 of swagger-generator from [mvnrepository](https://mvnrepository.com/artifact/io.swagger/swagger-generator/2.2.2)

I call on my command line: `"C:\Program Files\Java\bin\java" --jar jetty-runner-9.4.2.v20170220.jar --port 9090 --log jetty-swagger-generator.log swagger-generator-2.2.2.war`

In my browser I call `http://localhost:9090/`

This results in JavaScript errors as a

[2017-03-08 21:58] jspears commented on #4981
@ePaul well my project does not have a jdk or java dependency, so i didn't want to add one.  Add i need to add a non-http transport, so I figured might as well do it in JS.

[2017-03-09 01:13] wing328 commented on #3882
@njwandroid I believe the doc you're referring to is similar to this one: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/retrofit2/README.md

We need to update it with better installation instruction such as using `gradle`, which is more popular among Android developers.

Java (okhttp-gson) API client has better doc for installation with `gradle`: https://g

[2017-03-09 01:18] JLLeitschuh commented on #4758
I'd be happy to contribute the source code for the swagger codegen gradle plugin I've been using internal to our build as the basis for this plugin. Theres some changes I would make if it were a full blown project but I think the core works pretty well.

[2017-03-09 01:23] JLLeitschuh commented on #4758
This is the contents of the plugin as it stands right now:
I have a few comments in places I want to fix things up.

[code]

[code]
[code]

[2017-03-09 01:33] wing328 opened #4986 "Python API client refactoring"
##### Description

Currently, Python API client is singleton and we want to move away from singleton in Python to configuration per instance of API client similar to what we've done to Ruby, PHP, C#, etc.

##### Swagger-codegen version

Latest matser

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/4240

##### Suggest a Fix

If anyone from the community wants to work on

[2017-03-09 01:44] wing328 commented on #4240
@jdevera good idea. Opened #4986 for tracking.

[2017-03-09 02:21] wing328 commented on #4982
@DavidBiesack there's a similar fix (merged) for `html2`: https://github.com/swagger-api/swagger-codegen/pull/4914

[2017-03-09 02:40] wing328 commented on #4931
FYI. Filed https://github.com/swagger-api/swagger-codegen/pull/4987 to clean up default format (JSON) in the remaining generators.

[2017-03-09 05:53] anish274 commented on #4404
@wing328  hello sir, I do not get any option in netbeans. How can I use swagger in netbeans?

[2017-03-09 06:22] njwandroid commented on #3882
On Wed, Mar 8, 2017 at 7:13 PM, wing328 <notifications@github.com> wrote:

Thank you so much for your prompt response.
That is a lot closer and has some awesome stuff in it - *except* it still
doens't look like it will "just work"

Ideally it should be tested to work step by step by someone that's never
used maven by commandline or used swagger before.

e.g. compile "io.swagger:swagger-petstore-ok

[2017-03-09 06:50] kpradeepkumarreddy opened #4988 "Can i make by model classes extends from a base class"
##### Description

I want the Swagger generated classes to extend from a base class.  Is there way i can say to swagger-codegen to implement this ??

##### Swagger-codegen version

swagger-codegen version : 2.2.1

##### Swagger declaration file content or url

[code]
    (for YAML code) or
   -->

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i pet.yml   -l ja

[2017-03-09 07:01] otrosien commented on #4758
@JLLeitschuh good work, we should synchronize efforts. I like the safety-check to not accidently delete project dir. I'm currently working on preparing my company's current plugin to be handed-over to swagger.

Features / Differences:
* written in java7
* support for user-defined swagger-codegen version
* cross-compile testing with different gradle versions and swagger-codegen versions
* 100% supp

[2017-03-09 07:45] jdevera commented on #4240
Thanks @wing328 !

[2017-03-09 07:46] otrosien commented on #4758
BTW: Happy to try out kotlin, if the others are fine with it :)

[2017-03-09 09:04] otrosien commented on #4788
@JLLeitschuh are you working on that subject?

[2017-03-09 09:39] ePaul commented on #4988
(Just a formatting hint: Please don't indent the

[code]

I don't know what the current state of the language's implementation of this is, though.

[2017-03-09 09:41] ePaul commented on #4788
This is a general problem of using Java system properties – a kind of global variables – for this thing.
We should try to avoid this in general, and pass the parameters over other channels.

[2017-03-09 09:52] otrosien commented on #4788
@ePaul agree, do you have an idea? Beware that current users are relying on this feature.

[2017-03-09 10:07] ePaul commented on #4788
On which part of the feature do they rely? Do they actually need system properties being set (like `file.separator`), or just need a way to pass custom parameters to parts of the code?

I guess we need to clean up all locations in the code which are using `System.getProperty()` to use other ways of passing parameters instead (like the additionalProperties map, or maybe even have a "systemPropertie

[2017-03-09 11:06] otrosien commented on #4758
.. implemented some of your ideas:

* Add swagger output directory as source dir, but only if java plugin has been applied on the same project -- we could also check for known 'lang' values and map them to respective gradle language plugins (scala for example)
* Added sanity check for task output directory
* Added clean-up of system properties, and synchronized block around the execution

[2017-03-09 12:56] larserikgk commented on #4745
I was having the exact problem that @soycabanillas described before #4812 was merged. I built a 2.2.3 snapshot from cffaaa027adb2ddb32ed7e29dda3f1f777dff3b3 today and I no longer have this issues @wing328.

[2017-03-09 12:57] wing328 commented on #4745
@larserikgk thanks for doing a test to confirm the fix.

[2017-03-09 13:51] qsorix commented on #4240
Hi. I want to connect to many servers as well. The refactoring will help, but it will also require to change user's code, so that whenever API client is created, appropriate config is provided. A lot of hassle.

I have two use cases to cover. I can tackle them with customized templates, but if I succeed, I'd like to contribute it back, so let me know what you think the proper approach should look

[2017-03-09 14:04] DavidBiesack commented on #4982
Thanks, @wing328  - I'll abandon this PR and adopt the approach used on #4914 - it is simpler and has fewer changes

[2017-03-09 14:16] JLLeitschuh commented on #4788
I'm not. I just use the ugly synchronization hack you've seen in my codegen plugin.

[2017-03-09 15:11] #4968 closed

[2017-03-09 15:18] #4983 closed

[2017-03-09 16:28] JLLeitschuh commented on #4758
The only problem I see with your current solution to using the `CodegenConfigurator` is that you don't support future versions of the `CodegenConfigurator` in the build. If additional API's get added to the `CodegenConfigrator` the task has only been written to the specific version of the `CodegenConfigurator`.

One way around this is simply exposing the `CodegenConfigurator` as a configuration ob

[2017-03-09 17:10] #4865 closed

[2017-03-09 17:10] wing328 commented on #4866
@patulacci may I know if you've time to contribute a fix for this issue?

[2017-03-09 20:45] Neal910 commented on #2881
Hi @thomsonimjd , Have you got any luck on your project of swagger with vert.x RestAPI?

[2017-03-09 21:56] otrosien commented on #4758
I do like the minimalism of your solution, and indeed it makes things easier. But as you stated above, this means you don't have full control of input/output declarations, so you end up with sub-optimal up-to-date handling.
In the end, releasing a new version of the gradle plugin once there is a new version of swagger-codegen with extended API is not a big deal. And there's a test for that case, s

[2017-03-09 21:57] otrosien commented on #4788
@ePaul do you want to go ahead and tackle this issue?

[2017-03-09 22:35] JLLeitschuh commented on #4758
The only problem with marking the `CodegenConfigurator` as an input was that the way that I got it from gradle was through the extention plugin.
You can cache the `CodegenConfigurator` because it implements `Serializable`. But the one that gradle gives you back with:
[code]
Is actually a decorated proxy version of the object which itself is not cacheable.
If we were able to not use the proxied ver

[2017-03-09 22:58] ePaul commented on #4788
@otrosien I would like to, but I can't promise I'll have time for this anytime soon. (I still have #4898 on my plate, which I would like to finish first, and my time for Swagger-codegen is limited.)

[2017-03-10 00:59] taimuri opened #4996 "Do we support RFC 5988 - "link" field in response header to traverse pagination?"
https://tools.ietf.org/html/rfc5988#page-6

Our API supports RFC5988 and I am looking for a solution in swagger-codegen that could help me navigating across different pages?

[2017-03-10 05:00] thomsonimjd commented on #2881
@Neal910 ; I have not yet, if you know please revert me .

[2017-03-10 06:49] tonyxiao commented on #4044
Ideally we can support flowtype as well in addition to typescript. This makes it really awesome for all the react projects.

[2017-03-10 07:03] fehguy commented on #4973
Eh, I'm committing a test in swagger-parser, but I think it's behaving correctly.  Copying the definition right out of here and putting it in this test:

https://github.com/swagger-api/swagger-parser/blob/361d5e834e9dd45d657835ee89d4ef972eaf852b/modules/swagger-parser/src/test/java/io/swagger/parser/RelativeReferenceTest.java#L68

The response is exactly what I'd expect:

[code]

What am I missing

[2017-03-10 07:39] fehguy commented on #4996
Not right now.  Look for support with the 3.0 spec though.

[2017-03-10 07:39] #4996 closed

[2017-03-10 07:41] fehguy opened #4998 "update parser"
some issues in the parser will benefit codegen users.  See https://github.com/swagger-api/swagger-parser/pull/412

[2017-03-10 07:42] fehguy opened #5000 "5k!"

[2017-03-10 07:42] #5000 closed

[2017-03-10 07:49] ponelat commented on #5000
![over-4999](https://cloud.githubusercontent.com/assets/8438485/23786625/cb621e2c-0576-11e7-8ba0-1c745bb055be.jpg)

[2017-03-10 08:05] otrosien commented on #4758
@JLLeitschuh this CodegenConfigurator Serializable impl. is new, I just saw that you added it in #4887! Good job. I'll try to use it in a task extension so that CodegenConfigurator can be annotated as task input.

[2017-03-10 08:42] baartosz commented on #4986
I can give it a shot but I will need someone to review it carefully as I am not doing much python besides simple cli scripts.

[2017-03-10 12:09] dewanst opened #5001 "keyParamName has no sanitized form"
Hi

I'm adapting our spring(boot) mustache files to comply to our security needs. However we've noticed that the CodegenSecurity class is not as well defined as CodegenParameter.

For our use case we have an api-key defined as header in our specification. If we try to get this in our code, we can only get the **keyParamName**. We need a sanitized form to use this as java variable name.

If we defi

[2017-03-10 12:13] advance512 commented on #4973
Thanks a lot for the super quick response, @fehguy.

The output is indeed a valid Swagger schema (formatted as JSON). It includes the $ref external definition that was defined in the source YAML, properly.

Since I'm not familiar with how `swagger-codegen` constructs its output clients nor how it uses `swagger-parser`, I'm not sure at what point the external definition dereferencing happens, and w

[2017-03-10 13:10] ePaul commented on #5000
We could have got a meaningful issue or PR with this nice number, but no :-(

[2017-03-10 13:34] wing328 commented on #5000
:tada: :confetti_ball: :tada: :confetti_ball: :tada: :confetti_ball:

[2017-03-10 14:53] wing328 opened #5003 "[Java][Play] Enhancements to the Play generators"
##### Description

Here is a list of enhancements:

- Change `bin/java-play-framework-petstore-server.sh` to "executable" (`chmod a+x bin/java-play-framework-petstore-server.sh`)
- Run `bin/java-play-framework-petstore-server.sh` to generate Petstore sample and add the files to this project.
- Test Petstore play server code in Travis CI
- Remove dependency on Swagger-Play
- Update README with more

[2017-03-10 14:59] JFCote commented on #5003
I will work on the following improvements in the next days/weeks

- [ ]  Make the ControllerImplementor implements an interface as a CLI options. This is helping code generation when in a IDE each time the code is generated. By default, it will be to true.
- [ ] Completely remove swagger-play as a dependency and use the provided json instead of "generating" the json from the annotations.

[2017-03-10 16:06] webron commented on #5000
@ePaul - celebrations are meaningful too ;)

[2017-03-10 16:24] Kajzer133 opened #5006 "[QT5 C++] JSON Token authorization problem / setting header"
* Version of Swagger: 2.2.2

**Issue**

Problem with json token authorization. I use CakePHP REST Api in project.  The are a lot of tables in our MSSQL database. I want to set header for each by return token from **SWGAuthenticateApi** and pass it in main class, before calling, by variable for example: to object, which method inserts new data to table. Currently I use **request.setRawHeader("Autho

[2017-03-10 16:27] jdupouy opened #5007 "[Java] Large download stream progress"
##### Description

We would like to show the progress when downloading a file from a server. To do se we would need to access the input stream of the request body.

##### Swagger-codegen version

We are using the last version from the repository 2.2.3-SNAPSHOT (building from source).

##### Suggest a Fix

Make method [`private com.squareup.okhttp.Call {{operationId}}Call`](https://github.com/swagg

[2017-03-10 16:38] Neal910 commented on #2881
@thomsonimjd , http://jooby.org/ seems to be an option. But I haven't looked into it.

[2017-03-10 17:07] Hermanya opened #5009 "[ANDROID] Bug reserved words in enums not escaped"
##### Description

I have an enum which has a value of "transient". That is a reserved word on android. Generated project does not compile, because a reserved word used in enum value.

##### Swagger-codegen version

I'm using 2.3.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar swagger-codegen/modules/swagger-codegen-cli/target/swagger-cod

[2017-03-10 17:46] #4998 closed

[2017-03-10 19:05] fehguy opened #5015 "don't write string "null"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-03-10 19:06] fehguy opened #5016 "don't write string "null" for examples"
in 2.2.2, we are returning an example value for model properties.  If not defined in the definition, this logic is returning the string "null".  The following check:

[code]

Will then always write the example `null`.  I don't think this was the intention.

[2017-03-10 21:06] #5016 closed

[2017-03-10 21:07] baartosz commented on #3836
Cli option does not looks like good solution after considering how complex structure of repositories config can be: https://getcomposer.org/doc/04-schema.md#repositories.

[2017-03-10 21:58] foxx1337 opened #5023 "[JAVA, jaxrs-spec] @DefaultValue missing in API for query parameters"
##### Description

##### Swagger-codegen version

<= 2.2.3-SNAPSHOT (latest available here on master)

##### Swagger declaration file content or url

[code]
##### Command line used for generation

`generate -l jaxrs-spec -i myapi.yaml -o jaxrs-spec-stub`

##### Steps to reproduce

It always happens because the template `swagger-codegen/modules/swagger-codegen/src/main/resources/JavaJaxRS/spec/quer

[2017-03-11 09:02] #4671 closed

[2017-03-11 09:10] wing328 commented on #5006
@Kajzer133 would the following test case (which executes HTTP GET request) help?

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/qt5cpp/PetStore/PetApiTests.cpp#L66

[2017-03-11 11:34] otrosien commented on #3678
@ePaul would you mind adding a follow-up ticket to rework that part of the code?

[2017-03-11 12:30] ePaul opened #5027 "[General] refactor the type-mapping logic to clearly separate build-in types from API-defined types"
Swagger Codegen has some logic which selects type names for generated models and for properties.
This handles both mapping to build-in types of the programming language (e.g. for Java int/double/String/BigDecimal/UUID/...) and name conversion (e.g. case change, escaping for reserved words, model name prefix/suffix) for types defined in the API definition file (mainly object and enum types).

Curre

[2017-03-11 12:30] ePaul commented on #3678
@otrosien Done, #5027. Thanks for the hint.

[2017-03-11 12:32] #3678 closed

[2017-03-11 12:33] wing328 commented on #3678
@liqidator the issue should be fixed via #5026. My test result is good. Please pull the latest master to give it a try.

[2017-03-11 14:33] wing328 commented on #4671
#4997 has been merged into master. Please pull the latest master to give it a try.

[2017-03-11 20:20] otrosien commented on #3678
@wing328 AFAICS #5026 is only for fixing the UUID issue. #5027 is supposed to tackle the logic where type-mapping is applied in general, in order to simplify / fix such problems in the future.

[2017-03-11 21:40] MMirabito commented on #4961
@wing328 sorry for my delayed response I was "sequestered " to work on another project and today I finally was able to pull away. I pulled V2.2.3 and did an mvn build but the same issue appears to be persisting the user-agent is not being updated if I set it within the configuration object at runtime – am I doing something wrong?

I tried **--http-user-agent** and its working. However, what we wou

[2017-03-12 01:35] MMirabito commented on #4961
As follow as I looked at the code generated in c#  the constructor of **MyServiceApi** that accepts the configuration object I noticed the following:
1. The **else** statement distinctly set the configuration: **this.Configuration = configuration** but the **CallApi()** as indicated in my initial post does not appear to be using that instance

2.  When I add   **this.Configuration.ApiClient.Config

[2017-03-12 03:56] wing328 commented on #4822
@ncksol can you please give #4955 a try?
[code]

[2017-03-12 05:01] krmaxwell commented on #4000
My sense is that `requests` in particular is so ubiquitous and well-tested as to be worthwhile in terms of making the code easier to read and maintain. If there were interest in accepting a change to use it more extensively throughout the Python client, I'd be interested in doing the work (assuming nobody else has already got it going, of course!).

[2017-03-12 07:55] otrosien commented on #4758
I got something, but I'm not satisfied... See here (look at spock test):
https://github.com/otrosien/swagger-codegen-gradle-plugin/commit/652c66539f44446e3c0b1a5f9377c332e6658160

The quality of the DSL is IMO degregated. You need to write
[code]

instead of
[code]

[2017-03-12 08:49] wing328 commented on #5009
@Hermanya thanks for reporting the issue. Can you also try the Java API client to see if it has similar issues?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android

[2017-03-12 08:55] cbornet commented on #4000
👍 `requests`is clearly the best http library in python. Using it would remove a lot of generated boilerplate code.

[2017-03-12 09:03] frol commented on #4000
There are some pros and cons.

Pros:

* `requests` is well-tested and supported
* Adding features like OAuth2/HTTP Auth/Proxy will be easier
* The generated code will be cleaner (I think the `rest.py` might be removed and `api_client.py` might become slimmer)

Cons:

* `requests` adds 3MB in size (mostly due to the vendoring `urllib3`, `chardet`, and `idna`) and I don't think the generated boilerp

[2017-03-12 10:12] wing328 commented on #5015
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/5016

[2017-03-12 10:12] #5015 closed

[2017-03-12 13:03] arnested commented on #4947
The README has been corrected now and an image has been pushed to Docker Hub now (`latest` -- future releases will be pushed with their release tag as well).

[2017-03-12 13:19] cbornet commented on #4000
As sais in the comments of the SOF thread : if performance matters, just don't use python 😄

[2017-03-12 14:02] wing328 commented on #4907
Here is the `UserResponse` model you provided:
[code]

I wonder if you can define the `map`  in a different way instead:
1) remove `additionalProperties` from "UserResponse"
2) define the map as follows:
[code]

[2017-03-12 14:42] wing328 commented on #4788
@ePaul if you want, please feel free to work on this issue instead and leverage the community to work on #4898

[2017-03-12 17:04] wing328 commented on #5007
Closed via #5010

[2017-03-12 17:04] #5007 closed

[2017-03-12 17:23] ePaul commented on #4898
An update with what remains open:

Language (template directory name) | Pull request | path | query | form | header | Other comments
------------------------------------------------ | ----------------- | ----- | -------- | ------ | --------- | --------
Groovy | #5030 | | :x: |  | :x: | It looks like path, form and body parameters are not supported at all.
cpprest | # | | | | | Not totally sure ...

[2017-03-12 17:41] wing328 commented on #4898
@ePaul thanks for the update. I'll take a look at the remaining 4 generators this week or next.

[2017-03-12 17:51] otrosien commented on #4788
@ePaul I'm not too deep into the system property thing, but I assume that they were used to pass custom properties from the command line.

[2017-03-12 17:54] #4947 closed

[2017-03-12 18:19] ePaul commented on #4788
Yeah, looks like it.

I did a short search for `System.getProperty()` over the codebase.

Property | used in | meaning
-------- | -------- | -------
swagger.codegen.inflector.apipackage | JavaInflectorServerCodegen | package name for API
swagger.codegen.inflector.modelpackage | JavaInflectorServerCodegen | package name for models
noservice | NodeJSServerCodegen | if not given, generate service.js

[2017-03-12 19:32] ePaul commented on #4788
So, the standard way of passing the model (and API) package names is via the additionalProperties' `modelPackage` (or `apiPackage`) entries. Those are taken in DefaultCodegen.processOpts into `setModelPackage`(`setApiPackage`).  (And CodegenConfigurator sets them into additionalProperties.)

This should work for JavaInflector and Undertow too. The system properties given just set default values wh

[2017-03-12 20:50] ppKrauss commented on #4274
Hi @cbornet , perhaps "JSONRPC2 envelope" is a good suggestion to add into [OpenAPI v3](https://github.com/OAI/OpenAPI-Specification/blob/3.0.0-rc0/versions/3.0.md)... How to suggest it there?

----

PS: for general. I think there are **no conflict** between REST and "JSON RPC envelope", [JsonRPC-REST exist](http://stackoverflow.com/a/41686155/287948), and is like to old  [SOAP-REST](http://stacko

[2017-03-12 21:30] ncksol commented on #4822
@wing328 ok i've done a preliminary test and it seems like this PR does add all the functionality needed for UWP. I am going to do a more sophisticated test tomorrow trying to access my actual api through an UWP app. But this does look promising.

[2017-03-12 21:40] jfiala commented on #4719
beanValidation/beanValidationParams.mustache have been merged completely.

[2017-03-12 21:40] #4719 closed

[2017-03-12 21:45] jfiala commented on #4636
already implemented in #4719.

[2017-03-12 21:45] #4636 closed

[2017-03-12 21:46] ppKrauss opened #5034 "Simple API-Gateway codegen, suggestion"
Apache and Nginx have a lean language to express API Gateways,

![](https://github.com/ppKrauss/my-sandbox/raw/master/OpenAPI-Gateway-codegen/assets/Reverse_proxy2.svg.png)

##### Description

The "API Gateway" (at server-side) acts as a dedicated orchestration layer for all your backend APIs, to separate orchestration from implementation concerns. In this example the gateway is a Nginx script gen

[2017-03-13 05:13] wing328 commented on #4274
@joeblew99 please join the discussion in the Swagger Spec repo: https://github.com/OAI/OpenAPI-Specification/issues/664

[2017-03-13 06:51] otrosien commented on #4758
.. and externalizing the swaggerCodegen configuration to a file (`swaggerCodegen.fromFile codegenConfig.yml`) does not work anymore...

[2017-03-13 07:20] wing328 commented on #5034
@ppKrauss thanks for the suggestion. I think it's a good idea 👍  and I'm sure developers are using Apache or Ngnix as API gateway would welcome the new generator to automate the config generation.

Let us know if you need help adding the new generators.

[2017-03-13 07:23] wing328 commented on #4752
@jaccoh I wonder if you can pull the latest master to give it a try as I've previously fixed some issues related to model import in Python Flask generator. Thanks.

[2017-03-13 07:24] wing328 commented on #4835
@paulmasri if you've time to contribute a fix, please reply to let us know and we'll show you some good starting points.

[2017-03-13 07:51] wing328 commented on #4971
@michaeljota thanks for the suggestions.

Sounds good to me. Other generators also generate code that can be published to different repository.

There's a use case in which developers need to change the base Path during runtime for different environments (e.g. QA, development) so I would suggest we keep it configurable.

We just released 2.2.2: github.com/swagger-api/swagger-codegen/releases/tag/v

[2017-03-13 09:08] jaccoh commented on #4752
Just testing after cloning the master branch. No dice.

Am I correct in assuming mustache should put that import in there because of this?:

[code]

Other imports are simply hardcoded in 'modules/swagger-codegen/target/classes/flaskConnexion/model.mustache'.

[2017-03-13 09:10] smerschjohann opened #5039 "BUG in OAuth2 OkHttpClient Interceptor: 401 is forwarded to client application"
##### Description

If one uses OAuth2 to authenticate and the accessToken gets expired, the OAuth2-Interceptor correctly tries to request a new request token. But the responsible method in the generators (retrofit and others) have a bug which leads to returning the 401 response.

##### Swagger-codegen version

My current version is: 2.2.1. But it is still in master branch and 2.3.0

##### Steps to

[2017-03-13 09:58] biesmard commented on #5039
"data" :   {
     "id" :   "71d944d0-04d8-49ac-8db3-93275307aaab" ,
     "name" :   "User One" ,
     "username" :   "user1" ,
     "profile_location" :   null ,
     "profile_bio" :   null ,
     "profile_url" :   "https://coinbase.com/user1" ,
     "avatar_url" :   "https://images.coinbase.com/avatar?h=vR%2FY8igBoPwuwGren5JMwvDNGpURAY%2F0nRIOgH%2FY2Qh%2BQ6nomR3qusA%2Bh6o2%0Af9rH&s=128" ,
     "r

[2017-03-13 10:39] wing328 commented on #4752
Yes, that's correct.

[2017-03-13 10:51] wing328 commented on #4752
@jaccoh I might have missed it. Can you show the error message you got the starting the Flask server?

[2017-03-13 10:57] wing328 opened #5041 "[TypeScript] Error building TS Angular2 Petstore"
##### Description

Here is the error running `npm install` with TS Angular2 Petstore
[code]

I did the same test with 2.3.0 and the installation is fine so the issue only occurs with the latest master.

##### Swagger-codegen version

Latest master

##### Steps to reproduce

`cd samples/client/petstore/typescript-angular2/npm && npm install`

##### Suggest a Fix

If anyone wants to help fix the iss

[2017-03-13 13:24] mamghari commented on #4662
@veinSmart @wing328 I fixed the issue in the pull request (a part of ) :
https://github.com/swagger-api/swagger-codegen/pull/5002

[2017-03-13 13:39] mamghari commented on #3930
@JLLeitschuh @wing328 we should be careful when using DI because it mainly depends on the DI framework you would like to use : Spring ? Guice ? HK2 ? etc...
So the swagger code generator should generate generic code and should be linked to any kind of Implementation framework. Using javax.inject is nice because it is the specification, then it leads to developers to choose the right implementation

[2017-03-13 13:43] mamghari commented on #1555
Hi @jeff9finger,

Could you please tell me more what is "inflector language" ?

Thank you.

[2017-03-13 13:48] mamghari commented on #4509
Hi @jfiala,

About the point:
-  "javax.ws.rs.core.Response is used instead of the real response data type"

I think it is generally a bad practice for RESTful web services because whitout the Response object how do you manage the HTTP code returned ? How do you add HTTP Headers in your response?

It could be another option for the plugin but it is a bad practice... this is my point of view.

[2017-03-13 13:51] JFCote commented on #5003
@wing328 Can you assign me to this issue. I will soon submit PR about this.

[2017-03-13 13:56] wing328 opened #5046 "[Groovy] Gradle build error"
##### Description

When running `gradle test` with Groovy Pestore client, we get the following errors:
[code]

##### Swagger-codegen version

Latest master

##### Steps to reproduce

`cd samples/client/petstore/groovy && gradle test`

##### Suggest a Fix

The issue probably has to do with type mapping for File, Map, Date and ArrayList so we will need to revise the primitive type as well as type ma

[2017-03-13 13:57] wing328 commented on #5003
I cannot assign it to you since Github only allows issue to be assigned to "members" of the project only.

[2017-03-13 13:59] JFCote commented on #5003
@wing328 : Ok no problem :)

[2017-03-13 13:59] wing328 opened #5047 "[Groovy] Path parameters not working in Groovy API client"
##### Description

Currently, path parameters do not work in Groovy API client as {{pathParameters}} is not used at all.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5030

##### Suggest a Fix

We can use similar code that is already in the Java's API mustache template.

[2017-03-13 14:34] wing328 commented on #4969
Can you please try the `2.3.0` branch to see if the issue still occurs?

`2.3.0` branch contains enhancements, bug fixes that are not backward compatible.

[2017-03-13 14:36] wing328 commented on #4970
[code]

What about removing `additionalProperties` and defining as follows instead?
[code]

[2017-03-13 14:37] wing328 commented on #4976
@jtnystrom thanks! Let us (the community) if you need help (e.g. testing).

[2017-03-13 14:37] wing328 commented on #4977
@muralidharalladi please share the spec so that we can more easily reproduce the issue.

[2017-03-13 14:39] veinSmart commented on #4662
@mamghari As far as I understand only thing you have fixed is that Java8 Date time classes are generated only if the library version is jersey1. But then what I need is to make it work with jersey2. I am working on the fix to make it work with jersey2. Please let me know if I misunderstood and if you have already fixed it to make it work with jersey2. I will stop working on the fix if so.

[2017-03-13 14:40] wing328 commented on #5001
@dewanst thanks for the feedback. As a workaround, what about storing the key info in a dictionary/hash/map instead?

Here are some examples: https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=keyParamName

[2017-03-13 15:09] JLLeitschuh commented on #3930
I agree with using `javax.inject` I use `javax.inject` myself. The thing is, the code generator is generating code for specific frameworks. The spring generator is generating for spring. There are other generators generating for other frameworks. I don't know if you can decouple that well.

[2017-03-13 15:13] JLLeitschuh commented on #4758
I would argue that whatever object `swaggerCodegen` is should implement `NamedDomainObjectContainer` so that you can do something like this.
[code]

[2017-03-13 15:29] ddelay commented on #4970
Perhaps I don't understand your suggestion.  I just tried this:

[code]

When I generate a Java client, the ViewEntry class extends nothing:

[code]

And the ViewEntryEx class looks like this:

[code]

That's definitely not what I'm trying to implement.  I want a single class that has the fixed properties of ViewEntry and also extends HashMap so a client can read dynamic properties.  The dynamic p

[2017-03-13 16:08] PE-test opened #5050 "createCustomResponse in OAuth.java is generated with error [JAVA]"
##### Description
Hi,

I'm using swagger-codegen-maven-plugin to generate the sources.
As the sources are generated mine IDE highlights an error in OAuth.java.
The issue is with the following rows:
`            return OAuthClientResponseFactory.createCustomResponse(
                    body,
                    contentType,
                    feignResponse.status(),
                    responseCl

[2017-03-13 16:52] veinSmart commented on #4662
@wing328 @mamghari I have managed to make it work for java8 Date time classes for jersey2. I'll create a pr tomorrow.

[2017-03-13 17:19] bluengreen opened #5053 "Rails5 Server: How to generate CRUD operations?"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-03-13 17:31] kernwig commented on #4969
I switched to the 2.3.0 source branch. It's better, but still unusable.

date-time API parameters still translate to Javascript Date objects, which then is passed to the API simply by calling Date.toString(), which is not of a format any server would accept. Example of a resulting query string:

`?startDate=Wed%20Mar%2001%202017%2000:00:00%20GMT-0800%20(PST)&endDate=Fri%20Mar%2031%202017%2000:00:0

[2017-03-13 17:52] otrosien commented on #4758
@JLLeitschuh the missing piece is still that you want gradle to monitor your input files for changes, in order to know if it needs to rebuild. `CodegenConfigurator` solely works on Strings pointing to files. So, in the end you need to know/develop against the internals of `CodegenConfigurator`...

[2017-03-13 19:47] Lynk5 commented on #1889
d

[2017-03-13 20:44] MMirabito commented on #4961
just another note for anyone else that might be curious you can also set the user-agent in a config.json file then pass the name of the file on the command line. My config.json is a flows:

`
{
  "sortParamsByRequiredFlag": true,

  "packageName": "Io.Rs.MyService",

  "httpUserAgent": "MyServiceConsumerName"
}
`

[2017-03-13 20:59] Hermanya commented on #5009
@wing328 Java client does not have this issue

[2017-03-13 21:00] bluengreen commented on #5053
Ok. After 101 tries to figure out what the heck. It seems to be that the tags, and the paths have to match in order to have the isRestful work while generating. Which is a problem since this change

https://github.com/apanzerj/swagger-codegen/blob/2aadbee8edc4f27d72756f99ced5d326d18c148f/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Rails5ServerCodegen.java#L284-L285

The clas

[2017-03-13 23:02] michaeljota commented on #4971
Yeah. What I mean it's cover by #3403.

I think this should be the way the generated code should work. For this to be a package by itself, still need a lot a files and configurations. The main idea in this suggestion is to allow the code generated with this tool to be an independent package, both for Angular and for npm. The other suggestions are just adjustment that I think are needed for this to

[2017-03-14 08:23] IamFive commented on #2437
It seems still not fixed? Version 2.2.2, eclipse still not auto add generate source folder as source folder

[code]

[2017-03-14 09:56] muralidharalladi commented on #4977
{
  "swagger": "2.0",
  "info": {
    "description": "sample",
    "version": "1.0.0",
    "title": "Swagger sample",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "test@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "test.swagger.io",
  "basePath": "/v2",
  "tag

[2017-03-14 12:33] archana27m opened #5059 "PHP get only class name for import model"
##### Description

I would like to get only class name or file name with {{#imports}}use {{import}};
{{/imports}} rather than getting fully qualified namespaced classname.
Is there any param/variable which can be used in this case?

##### Swagger-codegen version

V 2.1.5

##### Steps to reproduce

namespace {{modelPackage}};

{{#imports}}use {{import}};
{{/imports}}

using above code I am getting

[2017-03-14 13:33] c100k commented on #3934
Hello. Actually, the PR does not solve completely the problem. For example, for this type of definition :

[code]

Executing with the latest version :

`swagger-codegen generate -i http://example.com/swagger.json -l swift3 -o /tmp/swift/`

Outputs :

[code]

which is not valid Swift3 code.

[2017-03-14 15:15] prsnca commented on #4848
i have encountered the same issue - my current solution is in the swagger.json - replace the $ref which refers to the enum object by the definition of the $ref itself - regenerate your ruby gem and it should work!

[2017-03-14 15:35] dwoodel commented on #4907
Hey @wing328,

Firstly thanks your reply we really appreciate your help, A lot! We regard swagger very highly!

The swift generation contains actual errors.  Also we are happy with using the additional properties definition as it works in Java, and we would just like it to work the same way in swift.

Have you guys had a chance to evaluate the swift generator?  In cant see it working how it is at

[2017-03-14 15:53] wing328 commented on #4907
@dwoodel

I agree it's an error (which I've not clearly pointed out in my reply, sorry). My suggestion is more a workaround.

I can see the code that fails to compile in https://github.com/swagger-api/swagger-codegen/issues/4907#issuecomment-284432638.

What would be the fix looks like? using NSDictionary?

cc @jaz-ah @Edubits @jgavris @hexelon

[2017-03-14 16:00] wing328 commented on #5059
That's a very old version. Please try the latest version 2.2.2.

The latest PHP model does not use {{imports}}

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/model.mustache

[2017-03-14 16:01] wing328 commented on #5039
@smerschjohann thanks for reporting the issue. Please file a PR so that we can review the fix.

[2017-03-14 16:22] nandaccio commented on #4814
Does the fix work with http://docs.oracle.com/cloud/latest/servicecs_gs/CXSVC/swagger.json ?

[2017-03-14 16:22] prsnca commented on #4848
Here is the workaround -

swagger.json before:

[code]

swagger.json after:
[code]

[2017-03-14 16:24] wing328 commented on #4848
@ydgiannp @prsnca if you guys have time to contribute the fix, let me know and I can show you some good starting points.

[2017-03-14 16:24] wing328 commented on #4848
@prsnca thanks for sharing the workaround.

[2017-03-14 16:57] prsnca commented on #4848
i've researched it today a bit on all levels (from the protobuf to the ruby gem :) ) and it i think that at some point the $ref should be looked into and tagged as an enum... what do you think @wing328?
i did not dig in the code to where the enum tagging is made.

[2017-03-14 18:31] wuf810 commented on #4907
Using an NSDictionary could work but it really isn't a "swifty" way to do things.

One approach might be for the codegen to add the additionalProperties to the class as collection property i.e. public var additionalProperties : [String : String]

This way they are at least accessible via this property (and iterable, subscriptable) etc.

However I feel there must be a better and more Swift like way

[2017-03-14 18:50] jgavris commented on #4907
I would recommend making these 'additional properties' real fields or another object entirely. Using a dictionary means you're going to step off into a stringly-typed API world and give up all the great things about Swagger.

[2017-03-14 18:57] wuf810 commented on #4907
I was under the impression that additionalProperties is part of the OpenAPI spec and therefore part of Swagger…and supposed to be used when there are custom fields to include.

Custom fields are a requirement of our model.

NB the use of additionalProperties works well for our java generated code (essentially extending the class to a hashmap that means it is possible to iterate over both "fixed" a

[2017-03-14 19:08] jgavris commented on #4907
Ah, okay. No, I just was trying to suggest if you absolutely didn't need them you'll be happier without them. The generator is indeed not handling this case.

[2017-03-14 19:38] mhuisman commented on #2276
in java/retrofit2 there is sufficient functionality in `ApiClient.mustache` to merit adding a default template that offers unit tests for that functionality.  I'm shoehorning it into into `api_test.mustache` but it feels imprecise/ugly.  Would you be interested in a PR addressing adding `ApiClient_test.mustache`?

[2017-03-14 19:41] wuf810 commented on #4907
Thanks Jason. I'm trying to identify what might be the best solution in terms of Swift code (but I'm relatively new to Swift) and then maybe someone more knowledgeable could tackle the how to implement in the codegen template.

[2017-03-14 20:16] kernwig opened #5062 "[TS][Angular2] support for collection formats"
##### Description

The feature/bug fix in #4539 and #4531 was made to v2.2.2, but is not present in v2.3.0.

##### Swagger-codegen version

Regression in v2.3.0.

##### Related issues

Regression of #4539

[2017-03-14 20:19] ePaul opened #5063 "[tooling] bin/spring-delegate.sh and bin/spring-delegate-j8.sh delete sample files in springboot directory"
##### Description

Running the shell scripts `bin/spring-delegate.sh` or `bin/spring-delegate-j8.sh` deletes sample files in `samples/server/petstore/springboot`, which were not created by the same script, but by `bin/springboot-petstore-server.sh`.

Depending on the order of execution, you can end up with pom.xml and .swagger-codegen-ignore missing.

##### Swagger-codegen version

Happens with cu

[2017-03-15 02:11] jimschubert commented on #4961
It looks like this is related to the `Configuration.Default` issue that I've been working to remove via #2858. The open PR (#3530) against that issue needs to be updated against current master.

[2017-03-15 08:12] wing328 commented on #2276
Definitely. Please kindly file a PR so that we can review the enhancement. Thanks.

[2017-03-15 08:50] jaccoh commented on #4752
It will actually start:
[code]

But when I call the function from the API:
[code]

Thats because of:
[code]

You could argue those are re.search are kind of useless in that area.

[2017-03-15 09:13] wing328 opened #5071 "[Kotlin] Add Kotlin API client generator"
##### Description

[Kotlin](https://kotlinlang.org/) is a statically-typed programming language that runs on the Java Virtual Machine and also can be compiled to JavaScript source code. Its primary development is from a team of JetBrains programmers based in Saint Petersburg, Russia (the name comes from the Kotlin Island, near St. Petersburg).[3] Kotlin was named Language of the Month in the Janua

[2017-03-15 09:43] wing328 commented on #4162
Closed via #5061

Thanks for the PR from @mandrean

[2017-03-15 09:43] #4162 closed

[2017-03-15 10:07] cbornet commented on #5071
Note : Jetbrain's IDEA can transform Java code to Kotlin. The produced code is generally almost direclty usable. You just have to tweak some issues with optionals and visibility.
So it shouldn't be too much work to transform the templates from Java to Kotlin.

[2017-03-15 14:11] DavidBiesack opened #5074 "Tag names, descriptions are not available in Mustache templates"
##### Description

The actual name and description of the tags in an OpenAPI document is not preserved in the variables available to templates. Only the *identifier* form is carried over. If a tag contains blanks, they are lost. So it is impossible to use swagger-codegen to create labels for operation tags for -l html such that the tags are rendered as in swagger-ui

Further, swagger-codegen organ

[2017-03-15 14:15] foxx1337 opened #5075 "[JAVA][jaxrs-spec] enumerated String values for QueryParams should render as enums instead of Strings"
##### Description

In Jersey it's possible to have an API like:
[code]
and the runtime makes sure to convert the url `?order=asc` or `?order=desc` string to type `SortingDirection` provided some criteria are met - https://jsr311.java.net/nonav/javadoc/javax/ws/rs/QueryParam.html.
##### Swagger-codegen version

<=2.3.0-SNAPSHOT (current master)

##### Swagger declaration file content or url

[code]

[2017-03-15 14:32] baartosz commented on #1482
I am working on it. Httplug looks like reasonable choice. I'll also use https://packagist.org/packages/guzzlehttp/psr7 for implementations of psr interfaces (Request, Response, etc).
Its big one so it will take some time.

[2017-03-15 14:51] JLLeitschuh commented on #4758
If you look at my example above I handle that this way:
[code]

The only other problem that is the case where your swagger.yaml file references other files.

In my build in the one project that I do do this I use this bit of code:
[code]

Also, do we want to support the task creating an artifact?
If you want to do that I used this bit of code:
[code]

This is only really useful if you want to have

[2017-03-15 15:35] wing328 commented on #1482
Thanks @baartosz

If you need any help (e.g. testing) from the community, please let us know.

[2017-03-15 16:18] dwoodel commented on #4907
Would you like to create a PR for this.  I think we can have some time on friday.  I can make multiple versions (maybe 2 PR's) with the different templates.  Let me know.

Dan

[2017-03-15 17:08] yaccz opened #5080 "Poor error message on incorrectly written inheritance: com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'swagger': was expecting ('true', 'false' or 'null')"
##### Description

Poor error message on incorrectly written inheritance: com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'swagger': was expecting ('true', 'false' or 'null')

##### Swagger-codegen version

current master; HEAD = 878b390ab6962cc7cf5a9f8f5dec836d109cd2c9

##### Swagger declaration file content or url

[code]

Note the missing hyphens in front of `$ref` and `type`

[2017-03-15 17:13] wing328 commented on #5062
@kernwig we're trying to sync master to 2.3.0 via #5072, #5079

We might need your help to review later due to merge conflicts in the TS generators or templates.

[2017-03-15 17:21] fehguy commented on #5080
Can you please open this issue on the swagger-parser project?  This shouldn't happen...

[2017-03-15 17:28] fehguy opened #5081 "Allow package/folder overrides per language"
Right now codegen allows configuration of a model package for java, which is usually left blank for other implementations.  This works well but we would like to give the ability to better organize models.  For example, in java we may want to introduce some package structure.  In C++ we may want a folder structure.

These options are language-specific, and therefore should be configurable (or left

[2017-03-15 17:32] kernwig commented on #5062
Post-merge, it _looks_ like the regression of #4539 is fixed, but the Date bugs reported under #4969 are back. I will once again modify my working copy, and then will be able to confirm this regression is fixed.

[2017-03-15 17:32] ePaul commented on #5081
Hmm, is this really something which should be defined in the API definition file? I would suppose this is more of a generator configuration. Different people generating code from the same API might want quite different package and class names.

[2017-03-15 17:38] kernwig commented on #5062
Post-merge, api.ts has added an `export const APIS`, trying to export services that were not imported. I think this is an obsolete line from the v2.2 branch. Simply removing it allows for successful compilation.

[2017-03-15 17:44] ePaul commented on #5063
Merged #5064.

[2017-03-15 17:44] #5063 closed

[2017-03-15 17:50] kernwig commented on #5062
Confirmed that the #4539 regression is resolved.

Leaving this issue open to track api.ts regression.

[2017-03-15 20:05] otrosien commented on #4758
@JLLeitschuh ok, so whatever input / output you want to manage via CodegenConfig, you would need to duplicate into the task (in your case, you're missing templateDir, for example). CodegenConfig exposing also means you lose the ability to provide convenience methods, which are useful when dealing with map/list properties.

Anyway, I'd like to proceed here, in whatever direction - so @ project admi

[2017-03-15 20:06] ThatJoeMoore commented on #5039
I've run into another manifestation of this issue - If your server responds with a 401 or a 403 that isn't caused by an expired token, the OAuth interceptor will recurse infinitely, eventually causing a Stack Overflow or, in my case, eating up all of the open file pointers on the server.  I can send a PR with the suggested fix shortly.

[2017-03-15 20:30] auchri opened #5083 "[JAVA] Binary data is not generated"
##### Description

We have something like that in our swagger json file:

[code]

The generated Java class is the following:

[code]

##### Swagger-codegen version

2.2.2

##### Steps to reproduce

* Create swagger file like the examples above
* Generate java client

##### Related issues

##### Suggest a Fix

[2017-03-15 21:42] dwoodel commented on #4907
Would you like to create a PR for this.  I think I have some time on friday.  I can make multiple versions (maybe 2 PR's) with the different templates.  Let me know.

Dan

[2017-03-15 22:44] bardware opened #5084 "pls. integrate validator into generator.war"
I ran mvn package on this repo and started the war using `java -rar jetty-runner.jar swagger-generator-2.2.3-SNAPSHOT.war`
When I opened the app in my browser, it came as a surprise it called `http://online.swagger.io/validator`.
I understand I can clone your repo `validator-badge`, compile a war file and start it just as I start generator. I can edit the file `swagger-codegen\modules\swagger-gene

[2017-03-16 01:43] fehguy commented on #5084
Separation of concerns says we're not integrating it in this project, but perhaps you have suggestions on how to better configure it?  From my POV editing the index.html makes it pretty darn easy, it could be an argument in the docker container too.

[2017-03-16 03:20] wing328 commented on #4758
@otrosien What about using a branch (e.g. gradle_plugin) for the time being?

cc @fehguy about creating a new repo

[2017-03-16 03:39] fehguy commented on #4758
I suggest using a branch for now

[2017-03-16 06:47] iamkarlson opened #5086 "[charp-client] import-mappings doesn't work with csharp"
##### Description
this is script for calling codegen
java.exe -jar $swaggerJar generate -i $swaggerJsonUrl -l csharp -o $outputFolder -c $config -t $templates --import-mappings AccountStateViewModel=Contracts.Results.AccountTopup

I have my server model in the separated nuget package, and I'm trying to reuse them.
##### Swagger-codegen version

last commit from master

[2017-03-16 07:15] wing328 commented on #4965
https://github.com/swagger-api/swagger-codegen/pull/4993/files for `spring`

[2017-03-16 12:16] yaccz opened #5087 "generated HTML contains invalid anchor links"
##### Description

generated HTML contains invalid anchor links on types of request parameters

##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Swagger declaration file content or url

[code]

Note the links first letter is capital while the anchor is not.

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-cod

[2017-03-16 13:30] yaccz opened #5088 "swagger-codegen should not generate [main] WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path: <path>. Renamed to auto-generated operationId: <opId>"
##### Description

swagger-codegen should not generate [main] WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path: <path>. Renamed to auto-generated operationId: <opId>

I think the openapi 2.0 spec says the operationId is optional, therefore I'd expect such warnings to be emitted only if '--warn-missing-operationId' or similar was supplied.

##### Swagger-codegen version

cu

[2017-03-16 13:35] valeriucraciun commented on #4568
this is still not working on 2.2.2

[2017-03-16 13:50] LEgregius opened #5089 "Swagger org.springframework.core.io.Resource for 'file's"
##### Description

The Spring framework support returning org.springframework.core.io.Resource interface implementations from rest api calls in order to process files in an abstract way, such as reading them from another url, database blob stream, etc, but the code gen only allows the type "file" to generate the class "java.io.File."   It would be nice to allow switch that to use the Resource inte

[2017-03-16 16:01] jiekang opened #5091 "[JAX-RS] Cannot run generated server with validation-api scope provided"
##### Description

When using Codegen through Swagger UI Docker container for a JAX-RS server, the README.md
states that running `mvn clean package jetty:run` will start the server. Running this results in:

[code]

and the content is unavailable.

The generated pom.xml has:

    <dependency>
        <groupId>javax.validation</groupId>
        <artifactId>validation-api</artifactId>
	<version>1.1.

[2017-03-16 16:46] dinvlad opened #5093 "[typescript-angular2] Support multiple apiKeys"
##### Description

Currently (as of 2.2.2), typescript-angular2 only supports a single `apiKey` parameter. This breaks compatibility with APIs that require 2 or more keys (through different headers).

Has it been (or planned to be) addressed in 2.3? I found #3983 and #4005, but they're talking about Fetch (I'm interested in 'regular' XHR, is that any different?).

Thanks

##### Swagger-codegen ver

[2017-03-16 17:55] dinvlad commented on #3221
Not to be nitpicky here, but would it be possible to rename API classes as Services, e.g. PetService, StoreService etc. In addition, could we name the corresponding files in lower-dot case, e.g. pet.service.ts, store.service.ts etc.?

[2017-03-16 20:45] sebastianhaas commented on #3221
Take a look at the `2.3.0` branch, it contains a PR where I introduced the changes you requested. Btw if you need a module that is suitable for AOT compiling, I did that already, just need to find time to submit a PR.

[2017-03-16 20:48] mandrean opened #5096 "[Haskell] Generated Petstore sample is broken, doesn't compile"
##### Description

The petstore sample client/server generated using `./bin/haskell-servant-petstore.sh` is broken and doesn't even compile.

It has numerous issues:

* `\` and `"` specialCharReplacements need to be escaped twice, once for Java and once for Haskell, otherwise the [specialchars list](https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/haskell-servant/

[2017-03-16 22:26] dinvlad commented on #3221
@sebastianhaas, thanks - for some reason 2.3.0 build fails for me. I'll probably just stick to 2.2.2 for now, and when 2.3 comes out I'll do a one-time refactoring for my client.

[2017-03-17 06:23] Kajzer133 commented on #5006
@wing328 sorry for my late feedback, but i had more things to do.

I don't see authorization test in Your example. I think this is only test of post and get. I use **SWGAuthenticateApi** to get JSON Web-authorization token and I am able to Insert new data, but only when I modfiy original classess and I use token statically.

How can I pass the JSON-Web-Token Authorization header to every request?

[2017-03-17 08:06] mumutu opened #5099 "[JAVA]need a configuration to disable java fluent setter"
Also want a configuration to diable java fluent setter.
 Here is my problem:
 I have a Schema Object which has a property like settlementNo then the generated class will have two
setter

[code]

then with the default configuration of `spring-fox` and `spring-boot` , in the `spring-fox-swagger-ui`  the `ConditionRequest`  would have two property
[code]
And if both of the property has the value, `tl

[2017-03-17 08:07] sebastianhaas commented on #3221
Noo, `2.3.0` works fine, I just built it. Make sure you're having Java >= 1.7, and maybe try running `mvn clean package -DskipTests=true` to skip tests. What's your build's error output? Running a build with tests takes about 8 minutes on my machine, without tests it's just about 30 seconds.

I guess it would be possible to provide a `2.3.0` binary release somewhere, but the one-time-refactoring t

[2017-03-17 08:16] cbornet commented on #5099
This looks like a springfox issue to me. Springfox should only consider javabean setters.

[2017-03-17 08:24] wing328 opened #5100 "[Haskell] Refactor generator to create separate client, server generator"
##### Description

Currently, Haskell generator (HaskellServantCodegen.java) generates both client and server code. We want to refactor HaskellServantCodegen.java into the following:

HaskellServantCodegen.java - for server
HaskellClientCodegen.java - for client
AbstractHaskellCodegen.java - abstract class for client/server generator

The goal is to make Haskell generator more consistent with othe

[2017-03-17 08:30] wing328 commented on #4698
Closed via #4743

Thanks for the PR from @ber4444

[2017-03-17 08:30] #4698 closed

[2017-03-17 08:35] wing328 commented on #4863
@daniele-bettella thanks for reporting the issue.

akka-scala generator has better support for enum:
[code]
Maybe we can reuse these for other scala-related generators.

cc @clasnake

[2017-03-17 08:42] mumutu commented on #5099
@cbornet first I thougth it was the springfox isuue,
then I use only `spring-boot` with default configuration

here is the controller
[code]

using postman with payload

[code]

then return the `world`   I don't think it is the expected result

[2017-03-17 09:05] wing328 commented on #5096
Closed via #5097

Thanks for the PR.

[2017-03-17 09:05] #5096 closed

[2017-03-17 09:07] wing328 commented on #3033
@runeksvendsen thanks for sharing the fix. May I know if you've time to file a PR for the fix?

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/haskell-servant/Types.mustache

[2017-03-17 09:21] mandrean commented on #5100
Cross-referencing my comment from #5097:

@wing328 Thanks! Yes, I think it's a very good idea to split them up.

Also, it might be a good idea to evaluate other solutions for the client. I don't think servant-client is the best choice here.

I would go with http-client, which is used by many other high-profile Haskell packages (as you can see in the Used by 256 packages: section on Stackage), incl

[2017-03-17 09:26] mandrean opened #5101 "[Haskell] README.md instructions don't work OOTB"
##### Description

The example instructions for creating a client and a server in [README.md](https://github.com/swagger-api/swagger-codegen/blob/3c117d5857799b888b632869d5ebc9673c380aac/samples/server/petstore/haskell-servant/README.md) don't work OOTB. Not for client nor server.

##### Swagger-codegen version

`v2.2.2` or latest `master`, doesn't matter.

##### Swagger declaration file content o

[2017-03-17 09:28] mumutu commented on #5099
I think it would be nice if all the fluent setter  will be given a `JsonIgnore` annotations to avoid potential problem. or there is a configuration to disable the fluent setter code~~

[2017-03-17 09:46] cbornet commented on #5099
So this would be a Jackson weird behavior ! In that case, I guess `JsonIgnore` would be the best solution. Does it solve your issue ?

[2017-03-17 11:57] mumutu commented on #5099
@cbornet yes~ I using my own pojo.mustache to solve it .... so should I keep this issue open ？

[2017-03-17 13:18] cbornet commented on #5099
Yes, keep it open because it seems we need to add JsonIgnore on the fluent setters.
You could just change the title.

[2017-03-17 13:32] wing328 commented on #5100
@mandrean sounds good to me to use http-client. If a user still prefers servant-client, we can simply keep it in the current generator (for backward compatibility)

[2017-03-17 13:41] wing328 opened #5102 "[Go] Travis CI failure with Go API client's concurrency test"
##### Description

Sometimes, we may get the following test failure in 2.3.0 branch with the Go API client for Petstore:
[code]
Ref: https://api.travis-ci.org/jobs/212060955/log.txt?deansi=true

Seems like the Go API client has issues with concurrent requests.

##### Swagger-codegen version

2.3.0

##### Command line used for generation

##### Steps to reproduce

Submit a PR and the CI (travis) mi

[2017-03-17 13:52] antihax commented on #5102
Not addressed by #5037 yet. May have to remove that test, the code is correct but the endpoints do not seem to handle rapid requests well.

I thought it was an issue on my end since it always passed travis for me.

Where is the code for the endpoint server located? Maybe I can figure out what is causing this.

[2017-03-17 13:55] wing328 commented on #4764
Closed via #5056

Thanks for the contribution.

[2017-03-17 13:55] #4764 closed

[2017-03-17 14:04] wing328 commented on #5102
@antihax I'll comment out the test for the time being.

The Pestore server can be found in https://github.com/swagger-api/swagger-samples under `java/java-jersey-jaxrs`. Thanks for looking into the issue.

[2017-03-17 14:07] wing328 opened #5103 "Review isDataTypeFile, isDataTypeBinary in all generators"
##### Description

Similar to https://github.com/swagger-api/swagger-codegen/issues/4764, we'll need to review other generators to make sure `isDataTypeFile` and `isDataTypeBinary` are properly overridden.

##### Swagger-codegen version

Latest master

##### Suggest a Fix

The fix should be similar to https://github.com/swagger-api/swagger-codegen/pull/5065

If anyone wants to help on this, please

[2017-03-17 14:50] wing328 commented on #5101
When I run `stack install` with the latest master, I didn't get the error. Here is what I got:
[code]

[2017-03-17 15:22] mandrean commented on #5101
@wing328 Sorry, forgot the last step to reproduce. Updated initial post now.

This issue isn't about `stack install` failure, that was fixed recently in #5097 and merged to `master`.

This issue is about actually _using_ the generated client/server library in your code, and the `Readme.md` example for doing that is broken.

[2017-03-17 15:24] wing328 opened #5104 "[TypeScript] Generators (node, fetch, angular, angular2, jquery) refactoring"
##### Description

We want to refactor/consolidate all Typescript generators (node, fetch, angular, angular2, jquery) into one single `typescript` generator and support node, fetch, angular, angular2, jquery via the `library` option.

The goal is to reuse templates (e.g. model) if possible and for easier maintenance/support.

##### Swagger-codegen version

2.3.0 (since it's breaking change)

#####

[2017-03-17 15:26] wing328 commented on #5101
@mandrean thanks for clarifying.

After the fix, we should leverage Travis CI to test the Haskell client/server for Petstore.

[2017-03-17 15:34] ncksol commented on #4822
@wing328 I can confirm now that this PR does indeed work. I am able to generated a good library and consume my api in a UWP app. thnx @Gronsak!

[2017-03-17 16:01] antihax commented on #5102
Check https://github.com/swagger-api/swagger-samples/pull/74. Looks like data races in the sample, but i am not familiar with the latest Java.

[2017-03-17 16:09] ePaul commented on #5103
Do we have a test case for this in our petstore yaml?

[2017-03-17 16:14] dinvlad commented on #3221
I've tried a stock compilation on Trusty (hosted on Cloud9), using 'mvn clean package' on origin/2.3.0. The error I'm getting running `mvn clean package` with or without your `-DskipTests=true` flag is:
[code]

I'm worried that since 2.3.0 does not yet appear stable, other things might break when I use it in production. Also, even if I get compilation working in my dev environment, it would have t

[2017-03-17 16:17] ePaul commented on #5089
I would dare to say that using java.io.File (which is an object representing a file name in the local file system) is completely wrong here ... was this ever implemented, and how?
Would this create a local file with the returned data and return its name, or for a parameter, expect the user to create this file and pass it, then have the library read from the file?

I would have expected an InputStr

[2017-03-17 16:26] dinvlad commented on #3221
Ok, the error was due to Maven 2 installed on that system, I've just upgraded to 3 and also updated openjdk-7, now it seems to be working. It's still a bit of a hassle though (I'll check if CodeBuild can easily be set up with that). Including the binary in Git is a must though, to reduce build times and prevent things from breaking due to upstream updates.

[2017-03-17 16:36] dinvlad commented on #3221
So my build ended up being version 2.2.3 still, so it generates the same client as before. How do I switch to 2.3.0? I'm on the origin/2.3.0 branch already.

[2017-03-17 18:00] mandrean commented on #5100
Another option could be https://github.com/bos/wreq which is based on `http-client` but supposedly easier to use.

And it has built-in support for Basic Auth and Oauth2!

[2017-03-17 18:15] dthorpe opened #5105 "[Python] rest.py throws exception for non-error HTTP status responses"
##### Description

rest.py throws an exception if the response HTTP status code is not 200 or 206.  There are a lot of other valid HTTP status codes that are not errors.  HTTP 102 Processing, HTTP 201 Created, HTTP 202 Accepted, HTTP 204 No Content....

##### Swagger declaration file content or url

https://github.com/swagger-api/swagger-codegen/blob/7de1eeb987b9ae04460f78fe86f32a1bd4f01be7/module

[2017-03-17 19:40] LEgregius commented on #5089
I suppose if one were going to return a local file, as in return server file data, could make sense in some cases, but definitely not in any sort of large scale case.  The Resource is a SpringFramework thing.  It handles both opening the connection and returning the stream.

[2017-03-17 20:43] rwfischer opened #5106 "[Any] Code generation fails when using parameter in another file"
##### Description

When referencing a parameter defined in another file, the swagger-editor successfully validates the YAML and creates the API documentation, but code generation fails with a NullPointer exception and no further details. If the same parameter is defined in the parameters section of the single file, then everything is ok.

Any code generation fails. I specifically tried server-JAX-

[2017-03-17 20:56] ppKrauss commented on #5034
Thanks @wing328  (!)...  Well, I need to do some homework and review [contrib guide](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md)... But, ... hum, yes I need help to adding the new generators.

* There are some client or server code [here](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages) th

[2017-03-17 21:07] rwfischer commented on #5106
Update: When prefixing the referenced file with "./" codgen works when using the CLI. But it still fails from the editor (same way).
It should not be necessary to use the "./" prefix, and it works without the prefix for definitions.

[2017-03-17 22:08] oteichmann opened #5107 "Update feign version of java client generator (feign library)"
##### Description

Update Feign to latest version of https://github.com/OpenFeign/feign

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url

[swagger-codegen/modules/swagger-codegen/src/main/resources/Java/libraries/feign/pom.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/feign

[2017-03-18 01:25] clasnake commented on #4863
@wing328 Yep. Had a quick look and akka-scala uses the Enumeration class to implement this. I can try reusing this in the finch generator and other scala related generator.

[2017-03-18 07:51] wing328 commented on #5103
@ePaul yes, Petstore covers what we need for day 1 but now the project has grown a lot and basic tests cases in Petstore won't cover all the edge cases we've discovered so far.

Ideally, we should be able to leverage one of the server generators (e.g. Rails, Spring, etc) to generate server code based on a test spec covering all the edge cases, and use this to complement what Petstore lacks.

[2017-03-18 07:57] wing328 commented on #5100
Both `http-client` and `wreq` look good to me. For Java API client, it now supports the following HTTP libraries via the `library` option/switch:
[code]
Supporting multiple HTTP libraries is possible via a `swappable` ApiClient class.

My suggestion is to go with the HTTP library that you feel comfortable. Later there may be enhancement to support HTTP libraries when more and more Haskell develope

[2017-03-18 14:43] wing328 opened #5113 "Review `path` and `basePath` to ensure it's using unescaped value"
##### Description

Similar to https://github.com/swagger-api/swagger-codegen/issues/4977 (for C# client), we'll need to review **all** templates to ensure we're using the unescaped value `{{{ ... }}}`

##### Swagger-codegen version

Latest master

##### Suggest a Fix

#5112

[2017-03-18 15:02] #4977 closed

[2017-03-18 15:03] wing328 commented on #4977
@muralidharalladi the issue should be fixed via #5112. Please pull the latest master to give it a try.

[2017-03-18 19:35] dwoodel commented on #4907
HI @wing328 ,

@wuf810 And I had some time today to work on this today.  We have fixed the code generation issue, and the templates issues. The code now generates and compile with no errors.  We are not using inheritance we have just created a map member variable.   This will work will all standard types.  The only issue we have outstanding is fact that the population of these additionalProperties

[2017-03-19 07:15] wing328 commented on #5107
Closed via #5114. Thanks for the PR

[2017-03-19 07:15] #5107 closed

[2017-03-19 08:01] wing328 commented on #4965
https://github.com/swagger-api/swagger-codegen/pull/5114 for Java Feign API client.

[2017-03-19 10:11] wing328 opened #5116 "Issues with rubygem and npm repo affecting CI (travis)"
##### Description

There seems to be issues affecting rubygem and npm repo at the moment as CI jobs fail with download the ruby gem or npm module.

##### Suggest a Fix

We'll retry several hours later.

[2017-03-19 10:31] wing328 commented on #5116
Seems like issues with maven as well:
[code]

[2017-03-19 17:03] ePaul commented on #4788
For the DefaultGenerator use cases, I'm going to add a `systemProperties` map into the OptClientInput class, which gets set by CodegenConfigurator. (PR coming up soon.)

[2017-03-19 19:22] ePaul commented on #5027
A proper fix for this would also make sure that in generated documentation (in markdown) there are links only to generated classes, not to ones included in the environment (and not documented).

Noted in https://github.com/swagger-api/swagger-codegen/pull/5118#discussion_r106815687.

[2017-03-20 06:33] wing328 commented on #5105
@dthorpe thanks for reporting the issue. I wonder if you can submit a PR with the suggested fix so that we can review the change more easily?

For other API clients, it should have logic to handle 2xx code (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/ApiClient.php#L267) but nothing for 1xx yet.

[2017-03-20 06:35] wing328 commented on #4568
@valeriucraciun please share the spec via https://gist.github.com so that we can more easily reproduce the issue.

[2017-03-20 06:46] wing328 commented on #4824
@jritmeijer-muhimbi thanks for reporting the issue. I think it has to do with the serializer in the Java API client.

We'll mark this as "Need community contribution"

For the time being, please use `string` as a workaround.

[2017-03-20 06:49] wing328 commented on #5087
@yaccz thanks for reporting the issue. May I know if you've time to contribute a fix? If yes, I can show you some good starting points.

`html2` is another documentation generator worth trying.

[2017-03-20 06:51] wing328 commented on #5083
@auchri instead of using `$ref`, what about defining the `BinaryData` inline to see if it makes any difference?

[2017-03-20 07:04] wing328 commented on #5075
Closed via #5085

[2017-03-20 07:04] #5075 closed

[2017-03-20 07:13] iamkarlson opened #5121 "[csharp-client] authentication does not implemented"
##### Description

I have security description in my swagger, but I haven't found any security implementations in the client.

##### Swagger-codegen version

last commit from github

##### Swagger declaration file content or url

<!-- if it is a bug, a json or yaml that produces it.
If you post the code inline, please wrap it with
[code]
##### Command line used for generation

[code]
where $global

[2017-03-20 07:28] ku6ryo commented on #3381
This happens in my environment. Could you re-open and take a look?

GoogleChrome: 56.0.2924.87 (Official Build) (64-bit)
SwaggerCodegen: 2.2.1
Lang: Angular2
TypeScript: 2.0.3

240     public uploadThumbnail (id: string, file: any, extraHttpRequestParams?: any ) : Observable<models.Thumbnail> {
241         const path = this.basePath + '/project/project/{id}/thumbnail'
242             .replace('{'

[2017-03-20 07:29] ku6ryo commented on #3381
at line 265, toString() returns nothing

[2017-03-20 07:51] dewanst commented on #5001
@wing328 Thx for the suggestion. we will look into this workaround.

[2017-03-20 08:57] baartosz commented on #1482
@wing328 how are authentication methods usually tested? I can't really find anything in any of clients test suites.

[2017-03-20 09:20] auchri commented on #5083
If I replace the `$ref` with inline BinaryData, the class is generated correctly.

[2017-03-20 09:28] wing328 commented on #5083
@auchri please report the issue to Swagger Parser: https://github.com/swagger-api/swagger-parser.

For the time being, please use the workaround.

[2017-03-20 09:49] wing328 opened #5122 "[C#] C# API client (.net v3.5) failed to compile"
##### Description

C# API client (v3.5) failed to compile while v4.0 and v5.0 work fine.

The error message is as follows:
![screen shot 2017-03-20 at 5 14 30 pm](https://cloud.githubusercontent.com/assets/934260/24094535/159b006a-0d94-11e7-9e47-f37bf7012856.png)

##### Swagger-codegen version

Latest master

[2017-03-20 10:03] wing328 opened #5123 "[C#] Decommission `uwp` option in C# API client generator"
##### Description

Decommission `uwp` option in c# API client generator as UWP is supported via https://github.com/swagger-api/swagger-codegen/pull/4955

C# API client with `uwp` option enabled does not work for all the C# developers so far and having one single option (v5.0) for UWP is easier to support and maintain moving forward.

##### Swagger-codegen version

Latest master

[2017-03-20 10:03] prawana-perera opened #5124 "Swagger Pet Shop example - TypeScript NodeJS client - issue when populating query string parameters from Array"
##### Description

Hi,

I used the Swagger Pet Sop example to generate a TypeScript NodeJS client:
`swagger-codegen generate -i http://petstore.swagger.io/v2/swagger.json -l typescript-node -o ~/swagger-codegen-demo/petstore-typescript-node`.

I am testing against the Swagger PetShop API end points i.e.
`http://petstore.swagger.io/v2/pet/`

The PetShop Swagger doc defines a GET /pet/findByStatus w

[2017-03-20 10:44] muenzpraeger commented on #3722
@asnelling Let me know if you're going to proceed with your generator. I started my own and may (want) stop if yours gets added. ;-)

[2017-03-20 11:26] artworx commented on #4804
I am facing the same problem. In my case, I have no control over the swagger file and the code is full of missing imports due to empty classes.

[2017-03-20 15:13] antihax commented on #4899
#5037 resolves this.

[2017-03-20 15:16] antihax commented on #4323
#5037 also resolves this issue.

[2017-03-20 15:31] wing328 commented on #1482
We do have some security definitions defined covering HTTP basic, API key, OAuth in the fake petstore spec: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L784

[2017-03-20 16:03] wing328 commented on #5093
@dinvlad For TS Fetch API client, I worked with @tht13 (who did most of the work) to implement multiple API key support.

For typescript-angular2, may I know if you've time so that we can work together to implement the support for multiple API keys?

[2017-03-20 16:12] wing328 commented on #5116
Seems like the issues have been fixed by the providers hosting the gem/module

[2017-03-20 16:12] #5116 closed

[2017-03-20 16:37] fabito commented on #4752
Importing the `re` module isn't the only problem.
We should also pass the regexp to the `re.search` method call, otherwise this is totally useless.

[2017-03-20 16:53] paranoid945 commented on #4693
any updates?

[2017-03-20 17:05] mandrean commented on #5100
Great suggestion.

[2017-03-20 17:41] mandrean opened #5126 "[C#][aspnetcore] Docker build option broken"
##### Description

When creating an ASP.NET Core server stub, the Docker build option from `README.md` doesn't work.

##### Swagger-codegen version

`v2.2.2` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-petstore-server.sh` or your own `Swagger.json`, doesn't matter.

##### Steps to reproduce

0. `git clone https://github.com/swagger-api/s

[2017-03-20 17:45] kernwig commented on #4428
If anyone is still stuck on this, here's how I was able to use the new structure to override basePath.

[code]

[2017-03-20 17:50] dinvlad commented on #5093
Could devote some time, though I haven't started using dual keys in production just yet. What's scope of modifications that we'd need to make? Thanks

[2017-03-20 18:39] seanbollin commented on #2715
I could work on adding this for the C++ client.  Seems like a simple way to get started on contributing to the project

[2017-03-20 18:56] ePaul commented on #4693
@jfiala Just for understanding, you want to change the return type to be just `Response` instead of `Response<List<Pet>>` in this case? I'm not sure I approve raw type usage, though I suppose Java doesn't allow anything type-safe here. (Apart from throwing all the non-first responses as exceptions.)

[2017-03-20 19:29] otrosien commented on #4758
Could you elaborate on how we should solve the problem that we can't use maven for building the gradle plugin?

[2017-03-20 20:58] dthorpe commented on #5105
Sure thing.

[2017-03-20 22:51] tainacaetano opened #5129 "[Java] Generate ApiClient with SSL configuration"
##### Description

I have a service where both the server-side and client-side were generated based on my swagger spec file. In my setup, services should have mutual authentication amongst themselves. As such, the client needs to know configuration related to certificates.

Although I've seen an example that contains a `setSslCaCert` method, I failed to make it work, and couldn't find good example

[2017-03-21 06:22] #2159 closed

[2017-03-21 06:25] wing328 commented on #4752
@jaccoh the issue should be fixed by #5127. Please pull the latest master to give it a try.

Thanks for the PR by @fabito

[2017-03-21 06:25] #4752 closed

[2017-03-21 06:39] #5126 closed

[2017-03-21 09:33] muralidharalladi opened #5132 "[C#] API body parameter with Map/Dictionary Properties converting to object instead of Dictionary."
##### Description

API body parameter with Map/Dictionary Properties converting to object instead of Dictionary.
Response  with Map/Dictionary Properties converting to Dictionary. we are expecting same behavior in parameters  also. below spec generates "ResourceApi.cs" file

Methods:
Dictionary<string, Resource> GetResource (Object resourceParameters);
ApiResponse<Dictionary<string, Resource>> Get

[2017-03-21 13:17] agoncal commented on #4397
Using a `Response.created` is a nice pattern in POST : it  does not return the entity (saves bandwith), the status code is 201 (more expressive), the location is set in the header, therefore, the body is empty. Perfect.

So with the code at the moment, `return response.json()` actually breaks. It would be better to handle the 201. Something like :

[code]

WDYT ? In case of 201 it returns the resp

[2017-03-21 14:35] pzsembik opened #5134 "Maven Dependency file 1.0.27-SNAPSHOTcannot be found"
##### Description

Nexus repository: https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-project/2.2.3-SNAPSHOT/swagger-codegen-project-2.2.3-20170310.174636-1.pom

Property is pointing to swagger-parser-version 1.0.27-SNAPSHOT

GitHub Master is pointing to swagger-parser-version1.0.28

##### Swagger-codegen version

 <version>2.2.3-SNAPSHOT</version>

##### Swagger

[2017-03-21 14:41] egormasalitin opened #5135 "[Java] Methods names uniq in scope of full documentation, not in scope of controller"
##### Description

For example we have UserController and CompanyController

`UserController` with method create(`/user`, POST)
`CompanyController` with method create(`/company`, POST)

in this case swagger will generate 2 api classes (`UserControllerApi`, `CompanyControllerApi`), but methods inside will be different, methods will be `createUsingPOST` and `createUsingPOST1` I think that it is wron

[2017-03-21 14:49] wing328 commented on #5003
Added CI test via https://github.com/swagger-api/swagger-codegen/pull/5130

[2017-03-21 15:13] wing328 commented on #4758
I believe you mean building the project as a whole using `gradle install` instead of `mvn install`. How do you build the project at the moment? Have you already created the build.gradle or convert the existing pom.xml to gradle build files?

For gradle plugin, I've created a new branch: https://github.com/swagger-api/swagger-codegen/tree/gradle_plugin

[2017-03-21 15:15] wing328 commented on #4397
@agoncal may I know if you've time to contribute the enhancement?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L47

[2017-03-21 15:23] otrosien commented on #4758
Yes, because the original idea of offering both maven and gradle would not work. At the moment both me and @JLLeitschuh have an existing stand-alone project building a gradle plugin for swagger. And if we start converting the existing build to gradle the complexity of this task would increase a lot for no reason...

[2017-03-21 15:26] JLLeitschuh commented on #4758
I think the only alternative to avoiding that complexity is to create another repository or create another gradle project within this project that is decoupled from the maven project.

[2017-03-21 15:27] wing328 opened #5136 "[TypeScript] fix class filename in import/export"
##### Description

Currently, TS generators use {{classname}} instead of {{classFilename}} for import/export.

We've filed https://github.com/swagger-api/swagger-codegen/pull/5131 to fix the issue for TS Angular2 and we need similar fix for TS Node, Fetch, Angular, jQuery (if these templates have the same issue)

##### Swagger-codegen version

Latest master

##### Related issues

https://github.co

[2017-03-21 15:30] triet96 opened #5137 "[JAVA SPRING] Error while generating server with PATCH method"
##### Description

I have the following API in Yaml. When I tried to generate the server in Java Spring, I get this error
[code]
I suspect that it is because of the `patch_document` parameter in my api description. The patch_document parameter is in the body of the request, but then the schema could be arbitrary so I decided not to explicitly describe it. The online UI editors works completely fin

[2017-03-21 15:31] acramatte commented on #4397
@agoncal that would only cover the case where 201 returns no body right ?
I may be missing something but to me the specs don't specify whether 201 should return a body or not.

The solution I have used so far was to use a dummy try - catch

    .map((response: Response) => {
        try {
            return response.json();
        } catch(error) {
            return undefined
        }
    });

[2017-03-21 15:32] wing328 commented on #5135
In your spec, do the operations have a proper `operationId` set? The function/controller name is based on `operationId` defined in the spec.

[2017-03-21 15:37] wing328 opened #5138 "[C#] Consolidate C# 2.0 generator into C# generator"
##### Description

Currently, C# (`csharp`) generator supports the following .net framework/standard:
[code]
and there's a separate generator for C# 2.0.

We want to consolidate/merge C# 2.0 generator into `csharp` generator for easier maintenance and support.

##### Swagger-codegen version

Latest master

If anyone wants to work on the enhancement, please reply to let us know. Thanks!

[2017-03-21 15:41] Ghost93 opened #5139 "[JAVA] When using msf4j generation with dateLibrary=java8 joda-time is still referenced and used"
##### Description
As @wing328 suggested, I'm opening a separate issue ticket for this problem regarding msf4j java8 time generation.

Basically, it's the same as discussed in #2874 and #4705.
I try to generate msf4j server with ```-DdateLibrary=java8``` and it's still references and uses _joda-time_.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Command line used for generation

[code]

[2017-03-21 15:43] egormasalitin commented on #5135
@wing328 Where I can change operationId in api?

[2017-03-21 16:23] kernwig commented on #4969
Fixed by #4812.

[2017-03-21 16:23] #4969 closed

[2017-03-21 16:33] cbornet commented on #5135
The swagger spec requires that the operationId is unique for the whole declaration.

[2017-03-21 16:36] kernwig opened #5141 "[TypeScript] Configurable Date type mapping"
##### Description

Feature request to be able to configure the Date type mapping to use string instead of Javascript Date.

As of v2.3.0, codegen is doing the correct default behavior of translating a swagger date-time to a Javascript Date object. However, we all know that JS Date is deeply flawed, only really working for UTC. To do real date and time work, a 3rd party library such as js-joda must

[2017-03-21 17:30] bbdouglas opened #5142 "[JAVA] Add @QueryMap support for Feign API"
##### Description

Feign allows gathering up of all query parameters into a single Map parameter with the [@QueryMap annotation](https://github.com/OpenFeign/feign#dynamic-query-parameters). This simplifies the API when there are a large number of parameters, especially optional ones. In cases where an API has query parameters, I suggest generating a second variant of the interface that uses the s

[2017-03-21 17:54] agoncal commented on #4397
@wing328 Yes, I think I could contribute. But @acramatte brings an interesting question. As we know, in REST, there are thousands of way to do the same thing ;o)  With JAX-RS, when you create a new resource you are supposed to use the `created` method and you must pass a URI because the signature is :

[code]

But you can also add the entity if you want to :

[code]

So, we can have a 201 with no

[2017-03-21 18:17] wuf810 commented on #4907
As @dwoodel said we spent some time updating the Swift3Codegen to create compilable Swift Code for use with AdditionalProperties and now need to fix the fact that the additionalProperties property is not being populated. I don't think this was ever implemented…although I may have missed this.

Can anyone provide some pointers as where in the code base this happens…it would help with the implementa

[2017-03-21 19:01] Gronsak commented on #5122
oh, looks like it doesn't support the IValidatableObject stuff, had to pull that same stuff out for the .NET Standard generation so the fix could be as easy as just changing the netStandard property used on [Line 8](https://github.com/swagger-api/swagger-codegen/blob/1c329483e47f1aad0fdb4e55cb457fb4467c02d0/modules/swagger-codegen/src/main/resources/csharp/modelGeneric.mustache#L8) & [Line 175-227

[2017-03-21 21:51] ePaul commented on #2698
I just found this issue which I opened one year ago ... I guess it can count as a duplicate of #4788.

[2017-03-21 21:51] #2698 closed

[2017-03-21 21:53] ePaul commented on #2232
With #4877 we are trying to solve this, too.

[2017-03-21 22:15] kourge opened #5146 "[TypeScript] String enums allow incorrect widening"
##### Description

`swagger-codegen` [emits TypeScript enums](https://github.com/swagger-api/swagger-codegen/blob/55443da/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L41) in the form of:

[code]

This is a hack to support string-based enums, since TypeScript's built-in support for enums only support numbers. However, this workaround is extremely dangerous, since it allo

[2017-03-21 22:29] ePaul opened #5147 "[CLI] Make -D option's syntax more similar to Java's system properties"
### Current situation

There are currently two ways of passing system properties (which are used for language specific parameters, as well as for some options to the DefaultGenerator class) to Swagger Codegen, when using the CLI:

* Use Java's standard way, `-D` options in the command line before the class name (or `-jar`).
* Use Swagger-Codegen-CLI's `-D` option in the command line after the `gen

[2017-03-22 00:37] yaccz commented on #5087
I'm switching to html2. Maybe the documentation [1]_ should be updated. Thanks.

.. [1] https://github.com/swagger-api/swagger-codegen#generating-static-html-api-documentation

[2017-03-22 01:14] msymons opened #5148 "Update maven-bundle-plugin to address CVE-2012-2098"
##### Description

swagger-codegen 2.2.2 has org.apache.felix:maven-bundle-plugin 2.3.4 as compile dependency.

This in turn uses org.apache.maven:maven-archiver 2.2

maven-archiver 2.2 uses org.codehaus.plexus:plexus-archiver 1.0-alpha-7... which has level 5 threat [CVE-2012-2098](https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2012-2098).

The CVE mentions "sorting algorithms in bzip2 compr

[2017-03-22 01:16] ber4444 commented on #4758
I'd say converting the main project to gradle would be a legitimate modernization. It out-specs maven in quite a few ways: https://gradle.org/maven-vs-gradle

[2017-03-22 01:47] mt-sito opened #5149 "[Javascript] collectionFormat which is set to multi don't work when content type is multipart/form-data"
##### Description

I want to have multi same parameter name when "multipart/form-data" is set to parameter type as "array" and collectionFormat is set to "multi".

##### Swagger-codegen version

latest

##### Swagger declaration file content or url

[code]

##### Command line used for generation

I use docker.

docker run --rm --name swagger_codegen_main_1 -w /gen -e GEN_DIR=/gen -v ~/docker/swagg

[2017-03-22 03:35] wing328 commented on #5087
@yaccz yup, please feel free to send a PR to update the README about `html2`

[2017-03-22 07:31] wing328 commented on #4907
@dwoodel you can simply submit a PR with your work (assuming you've forked the repo and make the changes in https://github.com/dwoodel/swagger-codegen for example). Let me know if you need help filing a PR.

[2017-03-22 07:31] aseychell opened #5150 "Unable to send parameters of type 'body' for 'GET' operations"
##### Description

HTTP `GET` operations do not normally have a request body but it can be encoded as part of the query string as a JSON object.  This is handled correctly in [Swagger Editor](http://editor.swagger.io).  The request is URL encoded and set as a query string.  However, in most code generation tools (we tried Java and Javascript generators) this is not handled and the parameter is com

[2017-03-22 07:32] wing328 commented on #4907
@wuf810 are you referring to a way to tell if a property is a map/dictionary/hash in the mustache template?

The mustache tag {{#isMapContainer}} .. {{/isMapContainer}} can be used. Here are some examples:

https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=ismapcontainer&type=

[2017-03-22 08:18] wing328 commented on #5093
@dinvlad TS angular2 already has a configuration object: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/configuration.mustache

I think all we need to do is to change `apiKey` from `string` to `dictionary` similar to https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/TypeScr

[2017-03-22 08:20] christoph-lucas commented on #2909
We tried to understand why underscores are not allowed in enum values in typescript. We couldn't find any reference for that. Also, in the provided link to the gitbook we couldn't find any mentioning of that. Could you please give some reference? Thanks in advance!

[2017-03-22 08:20] wing328 commented on #5148
@msymons thanks for reporting the issue. We'll review your PR once it's ready.

[2017-03-22 08:26] wing328 commented on #2909
@christoph-lucas this is not to say enum "name" (not value) with underscore is not allowed. We simply want to conform to certain naming convention. If it's causing an issue to your use case, please open a new issue with an example and link to this issue for reference.

[2017-03-22 08:51] sadimusi opened #5151 "System properties are not properly reset by maven plugin"
##### Description

Some selective generation options, such as `generateModels`, remain set for multiple successive plugin executions, even when explicitly set to `false`.

##### Swagger-codegen version

latest 2.2.3-SNAPSHOT

##### Steps to reproduce

[code]

##### Suggest a Fix

Properly reset system properties when options are set to `false`. (Pull requests follows)

[2017-03-22 08:57] jaccoh commented on #4752
The 'import re' is now there. But the regexp aren't:

[code]

[2017-03-22 09:10] mynameisstephen opened #5153 "BasePath not generated with JAX-RS interfaces"
##### Description

Looks like this has regressed, this [commit](https://github.com/swagger-api/swagger-codegen/commit/be0232fa3580a00c8a7d409d28948835c6e99730#diff-36372cdc6abfd3fac73fa38e0c6b5152R25) seems to be the culprit.

##### Swagger-codegen version

2.2.2

[2017-03-22 09:30] wing328 commented on #4752
@jaccoh right. I'll take a look.

[2017-03-22 09:56] egormasalitin commented on #5135
But how can I declare `operationId` via annotation? Or the only way is to change method name in java controller?

[2017-03-22 10:04] cbornet commented on #5135
You can use [@ApiOperation](https://github.com/swagger-api/swagger-core/wiki/Annotations#apioperation) for that

[2017-03-22 10:12] egormasalitin commented on #5135
But don't you think it could be a problem? For example we have 2 controllers:

A (with `create` `POST` method)
C (with `create` `POST` method)

In this case `operationId` will be `createUsingPOST` for `A` and `createUsingPOST_1` for `C`

Then, for example we will generate java sdk for it, and in this case we will get 2 api classes:
`AApi`, `CApi` for example, with methods `aApi.createUsingPost()`

[2017-03-22 10:13] egormasalitin commented on #5135
@cbornet Which parameter from `@ApiOperation`?  Because now it seems like it take method name + httpMethod name. Thank you.

[2017-03-22 10:17] cbornet commented on #5135
I think it's `nickname`.
The codegen does it's best to resolve conflicts but of course it can't be perfect.
What could be done is to detect the `operationId` of your input swagger spec and configure the annotation accordingly.

[2017-03-22 10:18] cbornet commented on #5135
Actually it "must" be done since the swagger spec generated by springfox should be identical to the initial spec.

[2017-03-22 10:24] egormasalitin commented on #5135
@cbornet I don't think that it should be done via codegen, I just think that it is problem in swagger, and specs shouldn't have _1, _2, _N prefixes, because it could be a problem for SDK, thank you for your answer.

How do you recommend to solve it? Set uniq nickname for each method? Which pattern do you recommend? Should it be like `createFooUsingPost` `getFooUsingGet`? or how?

[2017-03-22 10:36] cbornet commented on #5135
I really think the codegen should support `operationId` if it's not already the case. This would allow you to set whatever operationId you want for your operations if you're not happy with the default ones.

[2017-03-22 10:49] ePaul commented on #5151
As discussed in #4788, I think the proper way of solving this would be to not use system properties to pass those parameters. But I guess this here is a stop-gap measure to work until this is done.

[2017-03-22 11:37] vincent-coetzee opened #5156 "[Swift] Generated Code does not compile when UIKit or AppKit is not included"
### Extensions.swift, AlamofireImplementations.swift, DefaultAPI.swift and Models.swift do not compile in Swift Package Manager projects

The Extensions.swift,AlmofireImplementations.swift, and DefaultAPI.swift do not compile in Swift Package Manager projects because they assume that Foundation is imported automatically, this is not true in certain SPM projects or projects that are being built on

[2017-03-22 12:08] lbcat commented on #3620
👍

[2017-03-22 12:41] wing328 commented on #4752
@jaccoh I've fixed the issue via #5155

Please pull the latest master to give it another try.

[2017-03-22 13:09] jaccoh commented on #4752
done and done

Looks good:
[code]

[2017-03-22 13:11] wing328 commented on #4752
@jaccoh thanks for verifying the change, and thanks @fabito again for the PR (#5127)

[2017-03-22 14:27] wing328 commented on #4986
Closed via #5012. Thanks for the contribution by @baartosz

[2017-03-22 14:56] JLLeitschuh commented on #4758
You mean doing the conversion first as a prerequisite PR, then doing the gradle plugin as a follow on PR?

[2017-03-22 15:08] ePaul commented on #4758
If I remember right, Gradle can use maven dependencies?
So you could start to have the Plugin in some subdirectory of this repository, just not linked in any build system.

A conversion of the whole swagger-codegen project to Gradle could be a separate step. (Can Gradle build a maven-plugin?)

[2017-03-22 15:12] JLLeitschuh commented on #4758
Yes, but in this case the maven build would need to update your maven local repo or some external artifactory server for the artifacts to be visible from the gradle build.
There's no good way of one artifact from maven being recognized from gradle without some sort of intermediary or using information about the directories that ends up duplicated in both files.

That is an excellent question.

[2017-03-22 16:11] fehguy commented on #5006
It looks like we didn't expose a method to set headers in the API classes.  I'll see that it's added--the current generated code for setting headers is when they're declared in the operation, not the security definition.

[2017-03-22 16:32] yaccz opened #5160 "swagger-codegen generate should error out on invalid spec - invalid field name"
swagger-codegen generate should error out on invalid spec - invalid field name

##### Description

Notice the invalid `descripion`. This affects definitions as well.

##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Swagger declaration file content or url

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-codeg

[2017-03-22 16:39] yaccz opened #5161 "swagger-codegen generate should error out on undefined type reference"
##### Description

swagger-codegen generate should error out on undefined type reference. Instead everything looks peachy until one looks into the generated html to find "undefined".

Note the "fo" vs "foo".

##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[2017-03-22 16:42] fehguy commented on #5161
This has been considered.  We instead chose to emit warnings to the end user because a "mostly working" client was preferable, where the developer an manually make changes as needed.

[2017-03-22 16:43] yaccz commented on #5161
No warnings are emitted either.

[2017-03-22 16:50] #5151 closed

[2017-03-22 16:52] yaccz opened #5162 "swagger-codegen generate should not generate WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path: post /foo"
##### Description

swagger-codegen generate should not generate WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path: post /foo

since the spec does not define operationId as required and swagger-codegen can autogenerate value for it.

Or at least a command line option to silence the warning should be provided because now it only makes more difficult to spot issues.

The warni

[2017-03-22 16:57] wing328 commented on #5148
Closed via #5158 . Thanks for the PR.

[2017-03-22 16:57] #5148 closed

[2017-03-22 16:58] yaccz opened #5163 "swagger-codegen generate should provide an option to promote warnings into errors"
##### Description

After having some experience with writing the spec and observing warnings I get I come to conclusion that most of the warnings so far was a real problem in my spec definition.

Therefore I'd prefer to get straight up errors or at least have a way to promote warnings into errors so I can notice problems easier.

See
https://github.com/swagger-api/swagger-codegen/issues/5160
https

[2017-03-22 17:06] yaccz opened #5164 "swagger-codegen generate Poor error message about something being null ( I guess ): WARN io.swagger.util.PropertyDeserializer - no property from int, null, {ENUM=null, TITLE=null,"
##### Description

Poor error message about something being null ( I guess ).

Should provide line number and possibly column number and maybe something more depending on what the issue is.

I had several of these issues in my real spec but they eventually went way as I kept rewriting to match spec to the requirements. Still have no idea what causes it, sorry.

##### Swagger-codegen version

curre

[2017-03-22 17:14] yaccz opened #5165 "swagger-codegen generate should detect a cycle an error out with informative message"
##### Description

swagger-codegen generate should detect a cycle an error out with informative message

##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Swagger declaration file content or url

[code]

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar"
java -jar "${JA

[2017-03-22 17:35] yaccz opened #5166 "swagger-codegen -l html2 would be much nicer looking if it treated inheritance as in programming language doc generators"
##### Description

swagger-codegen -l html2 would be much nicer looking if it treated inheritance as in programming language doc generators

##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar"
java -jar "${JAR}"  generate -i ~/

[2017-03-22 17:40] yaccz opened #5167 "swagger-codegen -l html2 should include the basePath in the method headline/definition?"
##### Description

swagger-codegen -l html2 should include the basePath in the method headline/definition?
##### Swagger-codegen version

current master; HEAD = 1c160df33897898da1c39f230c737eb6a313e6ba

##### Swagger declaration file content or url

[code]

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar"
java -jar "${

[2017-03-22 18:09] yaccz opened #5169 "swagger-codegen generate -l html2 query parameter style (snake_case vs camelCase) is incosistent"
##### Description

swagger-codegen generate -l html2 query parameter style (snake_case vs camelCase) is incosistent between actual parameters and what is shown in curl.

This issue exists in other language examples as well but I suppose that's due to the language conventions. On the other hand I don't know if the libraries will still make the right call. I suppose the staticaly typed ones as well

[2017-03-22 18:15] yaccz commented on #5087
Is there a way to display all possible target formats? I couldn't find it using
[code]

or how can I get that information?

[2017-03-22 19:03] yaccz opened #5170 "Am I using discriminator right?"
##### Description

The OpenAPI v2.0 spec defines discriminator and shows how to define objects with it but not how it can be actually used.

I have code like this

##### Swagger declaration file content or url

[code]

and what I am trying to do is essentialy define an [algebraic sum type](https://en.wikipedia.org/wiki/Tagged_union) `Animal = Cat | Bear` meaning a parameter defined as of type `Ani

[2017-03-22 19:10] yaccz commented on #5165
Um, okay. This one might not be even theoretically possible.

[2017-03-22 19:15] rmharris157 opened #5171 "Spring Models not being generated with matching schemas with different titles."
##### Description

Not sure why, but when I create two path that have identical structures other than the name of the title, only the first titled object is generated.

##### Swagger-codegen version

Codegen 2.2.2:

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Using above the following is rendered...

I would also

[2017-03-22 21:28] davidharrigan opened #5172 "[JAVA] isJsonMime should support vendor specific JSON MIME type"
##### Description

We support APIs that return JSON encoded responses with vendor specific mime types.  These MIME types look something like:
[code]
Which is a valid MIME-type. A response with the above mime-type as its content-type indicates that the response is JSON encoded.  When the swagger-client attempts to deserialize such response, it throws an exception due to a method responsible for det

[2017-03-22 23:31] nzjoel1234 commented on #3950
As outlined in this talk https://www.youtube.com/watch?v=Vur2dAFZ4GE#t=4m25s a big problem with templates is that a whole heap of concepts need to be re-invented (i.e. loops, conditionals etc.)

Would it make sense to instead just use something like javascript to build the code?

[2017-03-22 23:38] jonschoning commented on #5100
my vote would be for `http-client` over `wreq` as it avoids a dependency on `lens` (and has less deps in general) and is more actively maintained.

[2017-03-22 23:42] fehguy commented on #3950
@nzjoel1234 I believe if you're just using javascript, you don't need codegen to generate the code.  Templates are a must from my POV, we're trying to avoid writing more code...

[2017-03-23 05:53] wing328 commented on #5087
Please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l xyz ` it will show an error and display a list of possible targets.

[2017-03-23 06:50] wing328 commented on #4397
@agoncal that approach looks good to me too as we use similar approach in other API client(s) if I remember correctly.

[2017-03-23 06:51] #5169 closed

[2017-03-23 06:51] wing328 commented on #5169
@yaccz thanks for reporting the issue, which should be fixed via #5173. Please pull the latest master to give it a try.

[2017-03-23 07:26] paranoid945 commented on #2690
@kenjitayama @wing328

    @Override
    @JsonValue
    public String toString() {
      return String.valueOf(value);
    }

Did you guys noticed that the json value generated is type string instead of type integer, which is wrong by swagger spec?

[2017-03-23 07:41] wing328 commented on #1555
cc @fehguy as the question is related to Java inflector.

[2017-03-23 08:45] wing328 opened #5175 "[Java] Replace tab with 4-space for code indentation in Retrofit2"
##### Description

Retrofit2 templates are using tab instead of 4-space for indentation
[code]
We'll need to update these files to use 4-space for indentation and then review the code to make sure the code is aligned properly

##### Swagger-codegen version

Master

##### Suggest a Fix

If anyone has cycle to contribute the enhancement, please reply to let us know.

[2017-03-23 09:04] ePaul commented on #2690
@paranoid945 could you please open a new issue about this? I fear it gets lost in this discussion, which is about supporting names for enum values.

[2017-03-23 09:06] yaccz commented on #5169
The curl is fixed, thanks.

[2017-03-23 09:19] JohnJonnyJohn opened #5176 "[PHP]Probably wrong generated setter."
##### Description

Hello together, I think I just found a problem with the generated code of swagger.
I have a DTO with an List<Enum> property. I think swagger realizes that it is a
List of enums. The generated setter wants to check the given array, so that just
valid enums can be setted, but the setter uses the given array as needle in ```in_array```.

##### Swagger-codegen version

swagger: '2.0

[2017-03-23 09:57] christoph-lucas commented on #2909
@wing328 Thank you very much for your quick response. We do not have an issue with the enum names but with the enum values. We (probably not entirely correctly) use the enum value and the string representation interchangeably and we rely on having the same enum values as on the server. Therefore, any change in the enum value breaks our code. Yet, this might be a very specific problem. We modified

[2017-03-23 10:02] paranoid945 opened #5177 "[JAVA SPRING] Error type generated for enum integer type."
##### Description

integer type should generate integer output instead of string.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
[code]

##### Command line used for generation
-l spring --library spring-mvc

##### Generated Java Model

[code]

which output string json value instead of integer:

[code]

[2017-03-23 10:04] paranoid945 commented on #2690
@ePaul
I opened #5177 for this.

[2017-03-23 10:56] wing328 commented on #5176
I noticed that you're using 2.2.1. Please try to reproduce the issue with the latest stable version 2.2.3

[2017-03-23 11:51] wing328 commented on #2909
@christoph-lucas which version of Swagger Codegen are you using?

[2017-03-23 11:54] christoph-lucas commented on #2909
@wing328 We forked v2.2.2, and we noticed the change upgrading from 2.2.0-SNAPSHOT.

[2017-03-23 12:05] arnested commented on #5176
Swagger Codegen c2.2.2 (v2.2.3 is not the stable releaes yet, @wing328 😄) will generate the setter below. So I believe this bug is fixed.
[code]

[2017-03-23 12:08] XtreZz commented on #4568
It works on master (2.2.3-SNAPSHOT).Will this be released soon ? this is an important feature i guess.

[2017-03-23 12:18] egormasalitin commented on #5135
@cbornet @wing328 Thank you a lot

[2017-03-23 12:18] #5135 closed

[2017-03-23 12:37] wing328 commented on #5176
@arnested thanks for the correct :sweat_smile: 2.2.2 is the latest stable release.

@JohnJonnyJohn if you still experience issue with 2.2.2, let us know and we'll reopen the issue.

[2017-03-23 12:37] #5176 closed

[2017-03-23 12:43] wing328 commented on #4568
2.2.3 will be released 3 or 4 months later.

Upcoming release is 2.3.0, which is scheduled to be released in Apr 2017. Please test `2.3.0` as well.

[2017-03-23 12:44] #4568 closed

[2017-03-23 12:44] wing328 commented on #4428
@jeusdi @kernwig if you guys have time to contribute auto-generated documentation TS Angular2 API client, please let me know and I can show you guys some good starting point.

[2017-03-23 12:45] #4428 closed

[2017-03-23 12:57] wing328 commented on #2909
@christoph-lucas please open a new issue with the details (e.g. spec to reproduce) if you've not done so.

[2017-03-23 13:01] qin opened #5178 "[Spring] --invoker-package flag not working for --lang spring"
##### Description

--invoker-package flag is not working for --lang spring, so that the generated main class like Swagger2SpringBoot.java is always under io.swagger package.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

N/A

##### Command line used for generation

swagger-codegen \
  generate \
  --input-spec swagger.yaml \
  --invoker-package com.example \

[2017-03-23 13:11] JohnJonnyJohn commented on #5176
Thank you all, now it works perfectly!

[2017-03-23 13:44] DavidBiesack commented on #3436
Note that a pull request (#5144) was merged which will fix this issue in `swagger-codegen generate -l html` output - it may take some time before that is deployed on editor.swagger.io. Also, I was able to resolve the Mustache HTML escaping without having to employ [the proposed changes listed above](https://github.com/swagger-api/swagger-codegen/issues/3436#issuecomment-277312649). We can probably

[2017-03-23 13:56] wing328 commented on #5122
@Gronsak thanks for the feedback. I plan to introduce an additional tag "dotnet45" to output those lines if the target framework is v4.5 as later we want to merge c# 2.0 generator into the C# generator as well.

[2017-03-23 14:00] #3436 closed

[2017-03-23 14:01] wing328 commented on #3436
@DavidBiesack thanks for the fix 👍

[2017-03-23 15:17] fehguy commented on #1555
@mamghari The inflector is designed to be used with the library doing the routing.  You can't just take that away.  If you don't want that, the most non-invasive java integration is to use one of the jersey projects.

[2017-03-23 15:17] #1555 closed

[2017-03-23 15:27] #5039 closed

[2017-03-23 15:47] wing328 commented on #5132
@muralidharalladi thanks for reporting the issue and I could reproduce it. I believe we've test cases to cover array of model but not map of model.

Have you tried API clients in other langauges (e.g. Java)? It would be helpful to confirm if the issue is specified to C# only.

cc @jimschubert

[2017-03-23 17:24] fehguy commented on #283
We have C++ for QT + CPPRest so time to close this.

[2017-03-23 17:24] #283 closed

[2017-03-23 17:38] fehguy opened #5182 "[inflector] Generated operation IDs are not correct"
When generating an inflector server, the generated handlers (controllers) do not have the proper name when `operationId` is absent.

The generated classes look like this:

[code]

The inflector expects `petsGET` as a name (all caps)

[2017-03-23 20:32] gibson042 commented on #5172
`isJsonMime` should accept anything matching `application/json` or [ending with](https://tools.ietf.org/html/rfc6838#section-4.2) `+json` (cf. [RFC 6839](https://tools.ietf.org/html/rfc6839#section-3.1)), in both cases case-insensitive and after stripping off everything at or after the first semicolon and any (remaining) leading/trailing whitespace (cf. [RFC 7231](https://tools.ietf.org/html/rfc72

[2017-03-23 21:19] bardware commented on #5084
As you put validator on mvnrepository can you not simply pull it as dependency?

[2017-03-23 22:26] paulmasri commented on #4835
@wing328 I'd love to but I just don't have time at the moment. Sorry. In the end I've written my own implementation loosely based on the codegen code. Partly because of this issue and partly because I need HTTP status codes in the response. If I get some slack time (later this year) I'll come back and see if I can be of help.

[2017-03-23 22:34] bbdouglas commented on #5142
#5185

[2017-03-24 08:22] jdevera opened #5186 "[python] does not honour different response types for different return codes"
##### Description

When an API spec defines different response types for several status codes, the code generator does not seem to take this into account and tries to parse the response into a particular object of the model (I suspect that defined for status 200 or maybe the first one found) without checking the code first.

I have an API that returns some json on code 200 and a file in 201, so wh

[2017-03-24 08:31] pumpadump opened #5187 "[JAVA][SPRING] Swagger codegen generates wrong java object for json objects with additional properties"
##### Description
Swagger Codegen generates a java model object that extends HashMap for json objects that have the ` additionalProperties:` property set. This leads to jackson only serealizing the properties added to the hashmap and ignoring all additional properties that are set explicitly in the java file.
##### Swagger-codegen version
2.2.2
##### Swagger declaration file content or url
[code]

[2017-03-24 11:52] fonix232 commented on #3749
This could come handy in certain scenarios.

For example, for modularity, one of our projects uses separate Swagger docs for each "module" (endpoint) of the API. This is so versioning can be independent on each endpoint, and also to be able to group the endpoints by function (e.g. a client may be using endpoints A, B, E and F, and a management web UI might only use A, C, D and F - they do not need

[2017-03-24 12:05] robertnac commented on #1176
Hi, is there any progress? We would also like to use RestTemplate.

[2017-03-24 13:36] SonnyRajagopalan opened #5188 "Security section is not present in Swagger UI generated by Swagger codegen, but present in swagger editor"
##### Description

My security definitions are available on swagger-editor, but not on swagger UI generated via swagger-codegen. The Security section is seen in the swagger-editor for the pertinent swagger.yaml, but when nodejs code is generated for this and viewed as a UI, the security section isn't present for the

##### Swagger-codegen version

I think I am using 2.2.3-SNAPSHOT (from `pom.xml`)

[2017-03-24 16:43] michelecappelletti commented on #1347
Which PR?? I'm interested in, can u link us the PR pls?

[2017-03-24 22:38] SonnyRajagopalan commented on #5188
I can confirm that `basicAuth` security example does not show up the auth credentials either in the generated swagger UI.

[2017-03-24 23:18] btaitelb commented on #4190
This works in v2.2.2 in swift3:

[code]

[2017-03-25 06:26] wing328 commented on #1482
HI everyone, @baartosz has filed https://github.com/swagger-api/swagger-codegen/pull/5190 to use httplug for PHP API client. Please give it a try and let us know if you've any feedback.
[code]

[2017-03-25 10:03] cbornet commented on #5187
Yes, seems better. Would you do the PR ? Maybe against 2.3.0 branch since that it's a breaking change.
Also `additionalProperties` would be better than `otherProperties` for the field name

[2017-03-25 10:04] cbornet commented on #5187
And ideally that would be done for all Java based codegens.

[2017-03-25 10:09] Sujimoshi commented on #1850
I have 2.2.2 but still has: "unknown library: retrofit(retrofit2)" Mac OS installed via homebrew

[2017-03-25 10:19] cbornet commented on #1347
see #3198

[2017-03-25 11:01] ePaul commented on #5147
Actually,

     java -jar ... generate -l java -i ... -Dmodels=,supportingFiles=

doesn't even work (currently), this still ignores both properties.

On the other hand, it looks like fixing this for system properties in a straightforward way (changing `OptionUtils.parseCommaSeparatedTuples`) would also automatically effect other command line arguments which take comma-separated key-value-pairs. I

[2017-03-25 14:02] jimschubert commented on #5132
It looks like this affects all generators. The model as parsed is an `ObjectModel` but we're not mapping `additionalProperties.$ref` into a corresponding `RefModel`.

This may be partially related to 4135 and the issues linked from it. However, I thought those were specific to external references and not local model definitions.

I have a unit test started on my branch https://github.com/jimschube

[2017-03-25 14:10] mouchtaris commented on #4895
+1 for this one.

[2017-03-25 15:08] StefanoRaggi opened #5195 "[C#] Missing XML comment for IValidatableObject.Validate generated method"
##### Description

The C# generator is not generating XML comments for the `IValidatableObject.Validate` methods in the model classes, causing many build warnings:

[code]

[code]

##### Swagger-codegen version

v. 2.2.2

##### Swagger declaration file content or url

https://raw.githubusercontent.com/oanda/v20-openapi/master/json/v20.json

##### Command line used for generation

[code]

[2017-03-25 19:34] #5134 closed

[2017-03-25 21:17] SonnyRajagopalan commented on #5006
@fehguy Is this the issue I am seeing in https://github.com/swagger-api/swagger-codegen/issues/5188? Any pointers appreciated. I am gating on this, and would like a way forward. Thanks!

[2017-03-26 04:31] jimschubert commented on #5132
To clarify the issue I'm seeing a little more, just to make sure it's the same problem:

Generate with:

[code]

Generated code refers to `resourceParameters` as `Object` rather than the defined model:

[code]

I'm not well versed with this part of the spec:

---
For a string to model mapping:

[code]

[code]
---

I don't fully understand the assertion that the expected method signature above shou

[2017-03-26 12:40] ePaul opened #5196 "The samples with GUID should not change with every update"
##### Description

When updating the samples for C#, ASP.NET or NancyFx, you always get changes, because those contain a random GUID as the project identifier. This makes it harder to note when actually something changes.

##### Swagger-codegen version

Current master, likely added a long time ago with #1941.

##### Command line used for generation

[code]

##### Related issues

#3084 is trying to

[2017-03-26 15:22] agoncal commented on #1334
Hi @aersamkull @wing328, I would like to come back to this issue.

At the moment the Angular Codegen template generate interfaces for the model. To be able to use interfaces instead of classes, you need to use the Elvis operator in the Angular HTML files.

Let's say we have a `Book` interface :

[code]

We have to make sure `book` is not null using the Elvis operator so we can display the values :

[2017-03-26 15:35] wing328 commented on #4895
It's fine to start with 2.3.0. Please submit a PR so that we can review the fix.

We definitely welcome more tests to cover more scenarios/issues.

[2017-03-26 15:41] wing328 commented on #1334
@agoncal may I know if you've time to contribute a PR to use class instead of interface? If yes, I can show you some good starting point.

Please base the fix on 2.3.0 branch, which contains breaking changes.

[2017-03-26 16:18] ePaul commented on #3084
The typescript-angular/npm examples have a date/time in the package tag for NPM. Not sure how to handle that:
[code]

[2017-03-26 17:52] jaz-ah commented on #4190
@btaitelb what's the error you get then at this point in master with that same code?

[2017-03-26 18:13] btaitelb commented on #4190
@jaz-ah sorry, I wasn't clear in my comment. I meant that this compiles and runs correctly without error on master. I found this thread by googling how to deal with the ErrorResponse, so figured it could use a working example.

[2017-03-26 20:53] jimschubert commented on #5122
iirc, IValidatableObject wasn't an interface in .NET 3.5.

[2017-03-26 21:08] jimschubert commented on #5122
@wing328 there's already `targetFramework` and `targetFrameworkNuget` options, where `targetFramework` would hold an identifier like `v4.5` and `targetFrameworkNuget` would hold the nuget string such as `net45`. I think it would be overly confusing to have `dotnet45` which refers to  .NET 4.5 or higher, especially since .NET 4.5 and 4.6 aren't .NET Core and there will be many differences between .

[2017-03-26 21:15] jimschubert commented on #5123
@wing328 the linked PR claims .NET Standard 1.3 supports UWP 10.0+, but UWP 10.0+ should technically only be supported beginning in .NET Standard 1.4.

I'll comment on the linked PR.

[2017-03-27 03:43] #5195 closed

[2017-03-27 03:43] wing328 commented on #5195
@StefanoRaggi the issue should be fixed via #5206

Please pull the latest master to give it a try.

[2017-03-27 03:53] wing328 opened #5219 "Add CI coverage for msf4j server (JDK8 only)"
##### Description

Similar to play framework server (JDK8) only, we'll need to leverage a shell script to run test only

##### Swagger-codegen version

Latest master

##### Suggest a Fix

https://github.com/swagger-api/swagger-codegen/pull/5130

[2017-03-27 05:38] wing328 commented on #5196
PR merged. Thanks for the enhancement.

cc @jimschubert

[2017-03-27 05:38] #5196 closed

[2017-03-27 06:39] wing328 commented on #5219
Closed via #5220

[2017-03-27 06:42] #5219 closed

[2017-03-27 07:28] Gronsak commented on #5122
Just want to add that I discovered that `IValidatableObject` is a thing in .NET Standard just with an added dependency (thought it might be the case but couldn't find it before).

So I would personally go with a more generic exclusion tag like `Validatable` or something similar so you can switch it on where supported.

[2017-03-27 07:50] agoncal commented on #1334
@wing328 I'm ok to contribute.... but I'm totally new in contributing to Swagger Codegen. So I wouldn't mind a bit of help with some starting points.

[2017-03-27 08:09] StefanoRaggi commented on #5195
@wing328 Thanks for the fix, but there is a typo in the template:
validationContex instead of validationContext

[code]

[2017-03-27 08:57] jimschubert commented on #5196
Thanks!

[2017-03-27 10:07] wing328 commented on #5195
@StefanoRaggi sorry. https://github.com/swagger-api/swagger-codegen/pull/5223 should fix it.

Please pull the latest master to give it another try.

[2017-03-27 11:18] usmanatron opened #5224 "[Typescript-Angular2] Multiple API Keys in definition point to same property in config"
Firstly, I hope this is the right place to raise this - let me know if not and Ill move!

##### Description
I have an API with multiple API key definitions.  When I use this to generate a "Typescript - Angular 2" client (via the online Swagger Editor, http://editor.swagger.io/#!/ ) I get the following in my *Api.ts files:

`

        // authentication (api_key) required
        if (this.configurat

[2017-03-27 12:29] tomekc opened #5226 "[Swift] how to declare 64-bit integer?"
I found a discussion about it, and I tend to tell that something is wrong when generating integers in Swift.

`integer` is always mapped to `Int` regardless of format (`int32` or `int64`). I have a spec file, where I explicitly need 64-bit integer value, and it gets mapped to Int, which may be 32-bit value on 32-bit platforms, which are not obsolete yet.

I tried to replace integer/int64 with long

[2017-03-27 12:58] tomekc commented on #5226
Interesting, it seems to be correct now (`Int64` as expected). Please disregard :-)

[2017-03-27 12:58] #5226 closed

[2017-03-27 13:32] usmanatron commented on #5224
Update: After further research it's not as complicated as I suspected :-).  Ive created a pull request for what I believe to be a reasonable solution.  Do let me know what you think!

[2017-03-27 14:24] InLook opened #5229 "Unicode text show in '\uxxxx' format"
In mac，
i do
brew install swagger-codegen
swagger-codegen generate -i {url} -l retrofit -o {dir}

Log is
main] WARN io.swagger.codegen.DefaultCodegen - Error obtaining the datatype from RefProperty:io.swagger.models.properties.RefProperty@dec188bd. Datatype default to Object
[main] ERROR io.swagger.codegen.DefaultCodegen - null
java.lang.NullPointerException
	at io.swagger.models.properties.RefPro

[2017-03-27 15:20] pumpadump commented on #5187
Ok i will try to figure out where to add such changes and create a PR. Can you point me to a good starting point?

[2017-03-27 17:11] wing328 commented on #1334
@agoncal I think a good starting point is https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/typescript-angular/model.mustache#L11 (ts-angular model template in 2.3.0 branch)

After you modify it, you can run the following commands to regenerate the Petstore sample.
[code]

[2017-03-27 18:29] dskow opened #5230 "[JAVA] Feature generic Error code stubs in spring boot"
##### Description

Please add error code stubs for spring boot code generation for the various error responses specified in the swagger json.  Currently, it just adds the import statements for the models used in the error responses.

##### Swagger-codegen version

version 2.2.2

##### Swagger declaration file content or url

The code generator should add something like the following from the Uber

[2017-03-27 20:49] ePaul commented on #4788
Just summing up my current idea of how this could/should work in the future:

* It is possible to use actual (real) system properties as input to Swagger-Codegen, i.e. when set from outside of the Java process.
* However, nothing in Swagger-Codegen itself will set system properties.
* CodegenConfigurator would take the (external) system properties and put them into its internal `systemProperties`

[2017-03-27 22:35] jimvmathews commented on #3483
Tried this with the latest master and swagger-parser 1.028 that fixes https://github.com/swagger-api/swagger-parser/issues/243 but this issue is not resolved.

[2017-03-28 03:15] wing328 commented on #1557
#4955 has been merged into master. @johnamcruz @chitankensuru @who please pull the latest master to give it a try.

Thanks for the contribution by @Gronsak

[2017-03-28 04:08] wing328 commented on #4084
@pryankster we've released 2.2.2: https://github.com/swagger-api/swagger-codegen/releases/tag/v2.2.2

Please give it a try and let us know if you still experience issues using Python 2.6

[2017-03-28 04:08] #4084 closed

[2017-03-28 08:00] fatsu opened #5233 "Generate file(s) per api-operation"
##### Description

We are currently using swagger-codegen to generate custom typescript for an Angular application which uses ngrx/store & ngrx/effects.

Besides the regular api related stuff, the custom generated typescript includes per operation (among other things) an effect-class and actionCreator-class.

These are currently included in the api-template/file, but it would be nice to have them

[2017-03-28 08:29] wing328 commented on #1334
@agoncal here is another PR for TS Angular2 (not Angular): https://github.com/swagger-api/swagger-codegen/pull/5227, which serves as a good reference.

[2017-03-28 10:02] ePaul commented on #5229
Could you please include your API definition file (possibly minimized down to produce this error)?

Also, is your problem the quoted exception, or the title "\uxxxx" format?

[2017-03-28 10:51] wing328 commented on #4250
@lukoyanov when you've time, I wonder i you can look at the issue when upgraing retrofit2 to the latest version 2.2.0 as found in https://github.com/swagger-api/swagger-codegen/pull/5235

[2017-03-28 12:11] markebbers opened #5239 "[csharp] compile.mustach does not respect packageName"
##### Description

The generated build.bat file, by the compile.mustach template, always uses the packageName IO.Swagger.

##### Swagger-codegen version

Tested with 2.2.0 and latest Master branch

##### Command line used for generation

Just set the option packageName.

##### Steps to reproduce

Just generate Csharp code with a custom packageName.

##### Suggest a Fix

Tried to push a fix but not

[2017-03-28 12:28] alechill commented on #4498
@ePaul Nope this was simply due to a bad merge

[2017-03-28 14:15] ePaul commented on #5239
Thanks for the issue (and your suggested fix).

The way to propose changes to Open-Source projects is via pull requests.
Create a fork of the repository, push your changes there (preferentially to a new branch named in a way we can see what is it about), then open a pull-request here.

For details, see [CONTRIBUTING.md](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md).

[2017-03-28 14:27] egormasalitin opened #5240 "[Java] How can we set List and Map to null by default in models?"
##### Description

For example we have model in `crud-service`:
[code]

in swagger spec it will appear as:

[code]

and then `swagger-codegen` will generate such dto:
[code]

How can we prevent this?

It is important for us because there is a difference between `null` list and empty list.

Thank you.

##### Swagger-codegen version

`io.swagger:swagger-codegen-cli:2.2.2`

##### Command line used fo

[2017-03-28 14:44] lukoyanov commented on #4250
@wing328 I'll take a look in a few days.

[2017-03-28 16:14] ePaul commented on #3084
Changes like these I get each time I update typescript-angular2/npm or typescript-jquery/npm.
This needs to be solved. Unfortunately I don't know much about NPM to tell how package should be.

[code]

[2017-03-28 16:45] ePaul commented on #5240
The OpenAPI Specification 2.0 (= Swagger Specification 2.0) doesn't allow defining anything as JSON `null`.
What it allows is to not make it mandatory to include a property in the containing object. This would be done by not listing it in the `required` list of the containing object.

When mapping this to Java, I would expect a receiver (client for response, server for request) to have the propert

[2017-03-28 16:52] jdevera commented on #5186
If you can point me to where this is generated, I can give it a go

[2017-03-28 17:24] Frank-Stephan opened #5244 "basePath specified in swagger file is ignored by spring code generator"
##### Description

A basePath specified in a swagger file is ignored by the spring code generator. Annotation @RequestMapping doesn't contain it.

##### Swagger-codegen version

2.2.2 (swagger-codegen-maven-plugin)

##### Swagger declaration file content or url
[code]
generates:
[code]
##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-03-29 02:36] johnamcruz commented on #1557
how do i use this version @wing328? what is the command to generate .NET standard c# SDK?

[2017-03-29 07:22] baartosz commented on #5186
API classes in python client are generated from `modules/swagger-codegen/src/main/resources/python/api.mustache`, and api client template is in `api_client.mustache`. Its a bit problematic in this case - return type is passed to api client before sending the request and api client does the call and deserialises response based on response type given earlier.

[2017-03-29 07:23] baartosz commented on #5186
It works same way in PHP client. Is it intended?

[2017-03-29 08:33] baartosz commented on #4235
Only fix without BC breaks I can think of is possibility to pass another callback which will be called if ApiException is thrown.

[2017-03-29 08:47] wing328 commented on #4235
@baartosz I think it's ok to introduce breaking changes to fix this issue if needed (the non-backward compatible fix should target 2.3.0 branch)

[2017-03-29 08:50] egormasalitin commented on #5240
@ePaul Yes, it is main point, we don't need nulls in json, but this list(in my example) is not required, and json for deserialization just do not contain this field (with list) at all, but after deserialization it is (because of default empty array value) and for us it would be perfect to have nullable list (and Map) property.

[2017-03-29 09:02] #4879 closed

[2017-03-29 09:25] Joosakur opened #5248 "Feature request: Generated ApiClient should implement a non-generated interface"
##### Description

I like creating simplified facades on top of the generated java clients. I also ended up creating an abstract super class for common functionality of the multiple client facades. However, there is an issue, that I can not call any methods which are present in each ApiClient such as setConnectTimeout from the super class without using Java reflection, because the generated ApiCli

[2017-03-29 09:33] Joosakur commented on #5248
Actually is there even any content in the ApiClient that would be sometimes generated differently? If not, could it be replaced with a class from some swagger dependency instead of being generated at all?

[2017-03-29 10:45] wing328 commented on #1557
@johnamcruz would the following help?

https://github.com/swagger-api/swagger-codegen/blob/master/bin/csharp-petstore-v5.sh#L29

The config file: https://github.com/swagger-api/swagger-codegen/blob/master/bin/csharp-petstore-v5.json

[2017-03-29 12:13] sixers commented on #4848
How do you think it should be fixed?

1. Add `build_from_hash` method to enum class. It should contain validation logic, return enum or raise Exception if value doesn't exist.
2. Modify convert_to_type to check if class is enum end move validation logic there.
3. A mix

I think the first option is better, because enum validation should be defined together with enum. On the other hand, `build_from_

[2017-03-29 12:46] ataraxus commented on #5091
Jep, also experiencing this issue

[2017-03-29 13:42] wing328 commented on #4879
@M1ch13l sorry we didn't have a chance to look into it.

Is it still an issue?

[2017-03-29 13:58] wing328 commented on #5074
I think this is related to https://github.com/swagger-api/swagger-codegen/issues/1073

[2017-03-29 14:16] wing328 commented on #5239
@markebbers thanks for the suggested fix. You will need to first "fork" the repo by clicking on the "Fork" button. Then in your local machine, run the following

1) git clone https://github.com/markebbers/swagger-codegen.git
2) cd swagger-codegen
3) git checkout -b fix_issue9999
4) make changes
5) git commit -a (you may need to use `git add filename` to add new files)
6) git push origin fix_issue9

[2017-03-29 15:25] ahmettaha opened #5251 "makeRequest is not using the headers in swift3 client"
The code below ignores the headers in AlamofireImplementations.

[code]

I believe the code should be like below. Am I missing something?

[code]

[2017-03-29 16:40] otrosien commented on #4758
That's `mvn install`  - is that a problem for you?

[2017-03-29 16:47] mandrean opened #5252 "[C#][aspnetcore] [SwaggerResponse()]:s missing for non HTTP 200 OK responses"
##### Description

* The `[SwaggerResponse()]` is set to `200 OK` by default (even if response-code is e.g. `204 No Content`)
* `[SwaggerResponse()]` for `400 Bad Request`, `404 Not Found` etc. aren't even added by the generator

##### Swagger-codegen version

`v2.3.0` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-petstore-server.sh` or yo

[2017-03-29 16:50] mandrean opened #5253 "[C#][aspnetcore] Required fields in generated models are missing [Required] attribute"
##### Description

Required fields in generated API models are missing the `[Required]` attribute used in model state validation.

##### Swagger-codegen version

`v2.3.0` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-petstore-server.sh` or your own `Swagger.json`, doesn't matter.

##### Steps to reproduce

0. `git clone https://github.com/

[2017-03-29 16:56] mandrean opened #5254 "[C#][aspnetcore] Input model fields aren't properly validated"
##### Description

The input model fields (model state) should be properly validated and return a `400 Bad Request` when a field is incorrect or missing.

Currently, if a required field is missing you might actually get a `500 Internal Server Error`...

##### Swagger-codegen version

`v2.3.0` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-p

[2017-03-29 17:03] otrosien commented on #4758
Regarding building maven-plugins from gradle, there currently is only a work-around, not full support. See http://stackoverflow.com/questions/11209382/build-maven-plugins-using-gradle

[2017-03-29 17:03] mandrean opened #5255 "[C#][aspnetcore] Swashbuckle.AspNetCore should be used instead of Swashbuckle for .NET 4.6"
##### Description

The ASP.NET Core server generator should use the new Swashbuckle for ASP.NET Core instead of the old Swashbuckle for .NET 4.6

From the developers of Swashbuckle:
[code]

##### Swagger-codegen version

`v2.3.0` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-petstore-server.sh` or your own `Swagger.json`, doesn't matter.

[2017-03-29 17:10] mandrean opened #5256 "[C#][aspnetcore] Generated code causes compiler warnings because of missing comments"
##### Description

The generated code causes many `1591` warnings on compile because of missing XML comments on e.g. controller methods.

##### Swagger-codegen version

`v2.3.0` or latest `master`, doesn't matter.

##### Swagger declaration file content or url

`sh ./bin/aspnetcore-petstore-server.sh` or your own `Swagger.json`, doesn't matter.

##### Steps to reproduce

0. `git clone https://gith

[2017-03-29 18:01] ePaul commented on #5169
Related: #4898.

[2017-03-29 21:10] kernwig commented on #5141
Tried `--type-mappings Date=string`. That does what my code change above does... but the output of these parameters in angular2 is still `<any>endDate.toISOString()`.

Why the <any> cast when your clearly calling a Date function, on a string in this case?

[2017-03-30 02:34] wing328 commented on #3084
@ePaul thanks for the details. I'll take a look later

[2017-03-30 03:16] rmharris157 opened #5258 "[Spring] Codegen 2.2.2 will not render responses containing allOf:"
##### Description

When I try to define an inline response using allOf: (for inheritance and polymorphism) codegen complains that the defined object has no properties and does not render the object.

##### Swagger-codegen version

swagger-codegen-cli-2.2.2.jar

##### Swagger declaration file content or url

[code]

##### Command line used for generation

```java -jar ~/work/tools/swagger-codegen-c

[2017-03-30 03:28] advance512 commented on #4819
I can confirm this. It is a major bug that basically prevents using arrays of enums.

[code]

Instead of returning an array of strings, I return an array of characters - e.g.
['L', 'A', 'N', 'G', 'U', 'A', 'G', 'E', '_', 'a', 'r']

This is because in the generated ApiClient.js, in convertToType() you see:
[code]

Now, the $ref should return a type of string, but instead it returns an object.. and

[2017-03-30 03:33] advance512 commented on #4819
I managed to go around this issue by explicitly including the type:

[code]

Very sub-optimal, but it works for now.

[2017-03-30 03:35] wing328 commented on #4819
@knzm can you please submit a PR so that we can review the fix?

[2017-03-30 03:35] wing328 commented on #4819
@advance512 can you try the fix suggested by @knzm to see if that works for you?

[2017-03-30 04:11] advance512 commented on #4819
Unfortunately, his fix doesn't help me since I am dependent on auto-generated code and don't want to add any manual steps in. I can try his fix one time, just to see if it helps. Will try to do it this week and update

[2017-03-30 04:21] wing328 commented on #4819
Please try to test it locally. If it works, we'll incorpoate the fix into
the mustache template.

On Thu, Mar 30, 2017 at 12:11 PM, Alon Diamant <notifications@github.com>
wrote:

[2017-03-30 06:58] mandrean commented on #5254
Fixed in #5257. Now you actually get a `400 Bad Request` in the response:

![image](https://cloud.githubusercontent.com/assets/4631744/24491322/00eadda8-1527-11e7-92c3-73dede40ad1c.png)

[2017-03-30 06:59] mandrean commented on #5253
Fixed in #5257. Now you actually get a `400 Bad Request` in the response if you e.g. forget to send in `photoUrls: []` for the PetStore sample:

![image](https://cloud.githubusercontent.com/assets/4631744/24491322/00eadda8-1527-11e7-92c3-73dede40ad1c.png)

[2017-03-30 07:00] mandrean commented on #5256
Fixed in #5257. Now you get no compiler warnings:

![image](https://cloud.githubusercontent.com/assets/4631744/24491379/4073554a-1527-11e7-9a73-616bca8251fe.png)

[2017-03-30 07:46] mandrean commented on #5253
Also fixed in #5257; the swashbuckle-generated `swagger.json` and `swagger-ui` correctly shows the non-option/required fields now.

*Before*:
![skarmavbild 2017-03-30 kl 09 09 01](https://cloud.githubusercontent.com/assets/4631744/24493035/a46e4b1c-152d-11e7-888d-e1a8ee787c1d.png)

*After*:
![skarmavbild 2017-03-30 kl 09 09 41](https://cloud.githubusercontent.com/assets/4631744/24493048/ae3326cc-1

[2017-03-30 07:47] mandrean commented on #5252
Fixed in #5257. All responses are now shown in the swashbuckle-generated `swagger.json` and `swagger-ui`.

*Before*:
![skarmavbild 2017-03-30 kl 09 09 06](https://cloud.githubusercontent.com/assets/4631744/24493091/d877a020-152d-11e7-9e6b-371e7203de7e.png)

*After*:
![skarmavbild 2017-03-30 kl 09 09 52](https://cloud.githubusercontent.com/assets/4631744/24493115/f032a548-152d-11e7-9b34-9dc514295fb

[2017-03-30 07:48] mandrean commented on #5255
Fixed in #5257.

[2017-03-30 08:12] zoltanszekely commented on #4774
@wing328 I might be wrong but #4264 is a change to the `typescript-node` clients only.

[2017-03-30 08:33] zoltanszekely commented on #4774
Just to clarify, neither requests or responses perform any mapping between the JSON keys and interface attribute names which makes it impossible to use snake_cased keys in the API.

[2017-03-30 09:24] zoltanszekely commented on #4785
@wing328 #4264 is for `typescript-node`, not angular2

[2017-03-30 09:56] egormasalitin commented on #5240
Any suggestions? @wing328 maybe you can help me?

[2017-03-30 12:08] rmharris157 opened #5259 "[Spring] Codegen 2.2.2 does not render objects comprised by allOf and containing additionalProperties:"
##### Description

When running Codegen 2.2.2 to render Spring objects, when the object has a definition using the allOf schema attribute and also the additionalProperties attribute, the rendered Java object contains no members at all.

##### Swagger-codegen version

swagger-codegen-cli-2.2.2.jar

##### Swagger declaration file content or url

[code]

##### Command line used for generation
[code]

[2017-03-30 12:26] ePaul commented on #5259
Is this different if you have just the properties + additionalProperties?

[code]

[2017-03-30 12:35] eerne commented on #3069
We we just ran into the same issue, as the 'T' removal returns an Invalid Date and breaks Safari 10.0.3 (Mac OSX 10.12.3)

[code]

https://github.com/swagger-api/swagger-codegen/blob/8f258b9a485076333c2dcf358675ed113ecdb906/modules/swagger-codegen/src/main/resources/Javascript/ApiClient.mustache#L414

[2017-03-30 12:47] ePaul commented on #5259
Possibly related issues: #5187, #5132, #4970, #4839, #4907, #4688, ... looks like we have a general problem with `additionalProperties`.

[2017-03-30 14:31] ePaul commented on #5258
I think allOf is only properly implemented for resources with a proper name (i.e. defined under `definitions`).
Does it work correctly if you use a separate definition?

[code]

(I still think it is a bug/missing feature, please don't understand me wrong here.)

[2017-03-30 14:37] ePaul commented on #5175
Is this done with #5221, or is still a part open?

[2017-03-30 14:48] ePaul commented on #5230
Where do you think the name `TypeMismatchException` should come from?
I.e. why use this exception type here, and why with BAD_REQUEST (400)?

[2017-03-30 15:02] wing328 commented on #5254
Closed via https://github.com/swagger-api/swagger-codegen/issues/5257

[2017-03-30 15:02] #5254 closed

[2017-03-30 15:02] wing328 commented on #5253
Closed via #5257

[2017-03-30 15:02] #5253 closed

[2017-03-30 15:03] wing328 commented on #5252
Closed via #5257

[2017-03-30 15:03] #5252 closed

[2017-03-30 15:04] wing328 commented on #5255
Closed via #5257

[2017-03-30 15:04] #5255 closed

[2017-03-30 15:12] wing328 opened #5261 "Update test cases for JSON MIME type"
##### Description

We'll leverage the additional tests cases added via for other langauges (PHP, Ruby, etc) so as to ensure other API clients can also handle these edge cases.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5189

##### Suggest a Fix

Test cases: https://github.com/davidharrigan/swagger-codegen/blob/c31d597747

[2017-03-30 15:37] cmlanche commented on #5091
yes, it is right!

[2017-03-30 17:04] JFCote opened #5262 "[Javascript] Is it possible to use the client without browserify/npm/node.js?"
This is a question/issue that I would have asked @jfiala directly but there is no contact information on his profile so I decided to create an issue so everyone will benefit.

We are trying to use the Javascript generated client in our project and so far, it has been very hard to use it "as is".
In the readme.md, there is an explanation about publishing the client to npm and then use browserify.