[2016-03-22 19:05] wing328 commented on #2428
If my memory serves me well, CsharpDotNet2 should work with Unity3d.

cc @who (the author of CsharpDotNet2)

[2016-03-22 19:11] saharj opened #2429 "c# code generated for "enum" does not work"
_From @edarn on March 22, 2016 9:36_

It appears to me that the client side c# code generated for enums is not correct for enums. I don´t find any enum at all. However, it looks ok for Java.

 SalesItemBrief:
    type: object
    properties:
      ItemId:
        type: string
      ItemType:
        $ref: "#/definitions/ItemTypeEnum"

  ItemTypeEnum:
    type: string
    enum:
      - ART
      -

[2016-03-22 19:12] Nepoxx commented on #2428
I think it does, however as far as I know it does so synchronously. I'd definitely like @who 's input on this!

[2016-03-22 19:12] saharj opened #2430 "[swift]swagger client export issue"
_From @riceman2 on March 18, 2016 2:14_

When outputting a model that was created in Swagger Editor , key chain case is turned to the Lower camel case , you can not get the correct value .

for example

[key-color]
to
instance.keyColor = Decoders.decodeOptional(clazz: String.self, source: sourceDictionary["keyColor"])

_Copied from original issue: swagger-api/swagger-editor#846_

[2016-03-22 19:23] wing328 commented on #2430
@riceman2 the issue has been fixed in the latest master of Swagger Codegen

[2016-03-22 19:24] wing328 commented on #2429
@edarn the latest master of swagger-codegen should have enum support for C#. Please pull the latest and give it a try.

[2016-03-22 21:49] Nepoxx commented on #1566
I'm having the exact same issue, but I don't know how to resolve it. The command works perfectly on linux, but on my coworker's windows box, I have the same error as @mm-gmbd

`java -cp target\myCodeGenFile.jar:swagger-codegen-cli-2.1.5.jar io.swagger.codegen.SwaggerCodegen generate -l sarbakanCodeGen -i http://127.0.0.1:2100/api-docs -o generated` results in `Error: Could not find or load main cl

[2016-03-23 00:01] maneeshsahu opened #2431 "Java Codegen's SimpleDateFormat is incompatible with Android"
The generated ApiClient.java produces this

[code]

Android doesn't support this DateFormat and throws this error:

`System.err: Caused by: java.lang.IllegalArgumentException: Unknown pattern character 'X'`

Does it make sense to switch back to a DateFormat that is compatible with both Oracle Java and Android?

[2016-03-23 03:30] wing328 commented on #2431
@maneeshsahu are you using the latest Java API client with the `default` (jersey1.x) in swagger-codegen `master`?

[2016-03-23 07:03] WillaLuo opened #2432 "About the "content type" in rest.py of python client"
Hi, the rest.py of the python client generated by swagger-codegen like this :

try:
           # For `POST`, `PUT`, `PATCH`, `OPTIONS`
           if method in ['POST', 'PUT', 'PATCH', 'OPTIONS']:
               if query_params:
                   url += '?' + urlencode(query_params)
               if headers['Content-Type'] == 'application/json':
                   r = self.pool_manager.request(me

[2016-03-23 07:20] wing328 commented on #2432
You need to modify your spec to set a proper "consumes": https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L73

[2016-03-23 07:34] WillaLuo commented on #2432
The spec of our project set the consumes to "application/xx-xx-v3+json", because our api server design the api with "application/xx-xx-v3+json" as content-type and accept. This is a special design of our product for different from other company's product.

There are also some other special use, like ant type of body data is supported by our api.
I wonder if there is possible for us to modify the r

[2016-03-23 07:38] wing328 commented on #2432
If your spec sets the consumes to `application/xx-xx-v3+json`, then the auto-generated Python API client should work correctly for that endpoint. Can you share the spec so as to better illustrate the issue?

[2016-03-23 07:53] wing328 commented on #2432
I think i know what you mean. The solution should be updating the following line:
[code]
with regular expression to look for 'application/(.*)json' instead.

This is the line in the mustache template that needs to be updated: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/rest.mustache#L140

Would you have cycle to contribute a PR (pull

[2016-03-23 08:20] WillaLuo commented on #2432
Hi,
 Sure, but this is only used by our company, maybe there is no need to update it in the rest.mustache file. So I want to know how to specify our the rest.mustache to generate python client source. Can you tell me how to do it?  or  give me some information.
appropriate for you help !
Thanks.

[2016-03-23 08:30] wing328 commented on #2432
OK. You can provide customised template by specifying the directory using the `-t` command line argument:
[code]

Please refer to the README for more information.

[2016-03-23 08:30] #2432 closed

[2016-03-23 08:57] WillaLuo commented on #2432
Thanks, I misunderstand "template directory" to "template file". I know what's wrong.

Thanks a lot!

[2016-03-23 10:22] ShrutiRuparel commented on #2373
`require 'petstore' ` does not work for me. I am using `require_relative '../../petstore'` instead in models.

Could you please elaborate on using roxml directly and not as another layer serialization between ruby model and xml?

[2016-03-23 14:23] jfiala opened #2437 "Maven-Plugin adds wrong source folder to eclipse project Java Build path"
version: swagger-codegen-maven-plugin-2.1.5

The option "addCompileSourceRoot" is true by default.

It adds the following path as source folder to the eclipse Java Build path
target/generated-sources/swagger

However, the generated sources are located at:
target/generated-sources/swagger/src/main/java

So after running mvn eclipse:eclipse Eclipse will show build errors, the Source folder has to be

[2016-03-23 14:25] jfiala commented on #2437
The workaround for 2.1.5 is setting addCompileSourceRoot to "false" and using the build-helper-maven-plugin to add the source folder ourselves:

[code]

[code]

[2016-03-23 14:28] jfiala commented on #2437
Pls let me know if I should add a PR for this.

[2016-03-23 14:31] jfiala commented on #1737
Regarding the buildpath errors in the IDE see #1737

[2016-03-23 14:57] jfiala commented on #2153
version: 2.1.5
language: Java

template file: swagger-codegen/src/main/resources/Java/auth/HttpBasicAuth.mustache

Related to #2153

The reference to com.migcomponents.migbase64.Base64 in HttpBasicAuth.mustache could easily be replaced by the already present com.sun.jersey.core.util.Base64:

[code]
Then the dependency to com.brsanthu:migbase64 could be removed.

[2016-03-23 17:09] constint opened #2439 "[question] is there a next release date planned ?"
Hi,
I'm interested to know whether I can expect a new release soon, and couldn't find the information on the main page.
Thx

[2016-03-23 18:08] demonfiddler opened #2440 "[JS Client] Support invokerPackage configuration option"
The Swagger codegen core supports an 'invokerPackage' option that is described as the "root package for generated code". This option is supported by the Java code generator but it's not currently supported by the JavaScript code generator.

There's an important use case that requires this option: if you're generating from multiple YAMLs resulting in scores or even hundreds of module files, you wil

[2016-03-23 21:22] maneeshsahu commented on #2431
@wing328 Yes, I am using the default. Do you recommend I generate one for java/jersey and another for java/android ?

[2016-03-23 22:41] ePaul commented on #1737
I'm usually using the maven-codegen-plugin from [swagger-codegen-tooling](https://github.com/zalando-stups/swagger-codegen-tooling), which is based on this one, and usually puts the files into the correct directories for compiling as a part of the current project (instead as its own project), at least for the languages included there. Though I'm not sure how much of the difference is due to the di

[2016-03-24 00:06] maneeshsahu opened #2441 "[JS Client] Model classes and index.js have empty values for {{classname}}"
I have tried using both 2.1.5 and 2.1.6-SNAPSHOT for generating the JS Client. With both versions, the Model classes and index.js were incorrectly generated. I am using the Petstore Spec and this was generated:

index.js
`
}(function(ApiClient, , , , , , , UserApi, StoreApi, PetApi) {
  'use strict';
`

Pet.js
`    root.ArtikCloud. = factory(root.ArtikCloud.ApiClient, root.ArtikCloud.Category, roo

[2016-03-24 00:07] delenius opened #2442 "[JavaScript] Need option for withCredentials"
In order to be able to send cookies to the server, we need to call `request.withCredentials()` in `ApiClient.js`. See [the superagent documentation](https://visionmedia.github.io/superagent/#cors). This should be an option, as it may not always be desirable.

In my case, I am calling a server on a different URL, which means I have to use CORS, and I am using cookies for session management (set by

[2016-03-24 02:08] wing328 commented on #2431
@maneeshsahu nope, that's not something I would recommend.

Can you use the `okhttp-gson` library for Java instead?

[2016-03-24 02:09] wing328 commented on #2439
v2.1.6 will be released soon. Usually it takes 2 or 3 months for a stable release.

[2016-03-24 02:09] #2439 closed

[2016-03-24 02:12] wing328 commented on #2441
Are you using `nodejs` code generator? If yes, that's for nodejs server.

Please try `javascript` instead.

[2016-03-24 09:25] WillaLuo opened #2444 "Does seesion cookie supported in swagger-codegen"
Hi,
   I wonder does swagger-codegen support cookie in header for java or python client?
Thanks.

[2016-03-24 10:37] demonfiddler commented on #2440
Fix & tests submitted as PR#2445.

[2016-03-24 11:13] orkenstein opened #2446 "[Swift] Bool value conversion"
There is an issue with `Bool` value conversion to `GET` URL parameters.
It's described here, as well as the solution:
http://stackoverflow.com/questions/36185530/how-to-check-dictionary-value-to-be-exactly-a-bool/36186159#36186159

Swagger server implementation accepts Bool as `true/false` only. So this breaks some logic.

[2016-03-24 12:22] orkenstein opened #2448 "[Swift] Array body parameter get lost because of cast into dictionary."
Generated example:
[code]

As you can see `arrayParam` is getting converted into `dictionary` and will produce `nil` all the time.
Other parameters get lost too, 'cause they not even included in request parameters.

[2016-03-24 14:44] yaelah opened #2449 "SubClass annotations are missing from the base class"
In order for jackson ObjectMapper to deserialize correctly a base class to its subclasses, we need to include annotations defining all expected subclasses in the parent class.
The codegen currently does not generate those annotations.
For this example YAML:

definitions:
&nbsp;&nbsp;Base:
&nbsp;&nbsp;&nbsp;&nbsp;type: object
&nbsp;&nbsp;&nbsp;&nbsp;discriminator: disc
&nbsp;&nbsp;&nbsp;&nbsp;prope

[2016-03-24 14:45] danjor opened #2450 "Java and SpringMVC generated server code for "enum" does not work"
Java and SpringMVC generated server code for "enum" does not work with current master.

Using :

[code]

produces the correct class ResponseStatus :

[code]

but the wrong class Example :

[code]
Expected :

[code]

[2016-03-24 15:35] fehguy commented on #2442
cookies aren't supported by the specification, which is why they're not supported in the client.  So I suggest not doing this, it encourages unsupported behavior.

[2016-03-24 15:48] fabdslv opened #2451 "[Android] Generated dependencies for Gradle build file seem to be wrong"
When creating samples for Android (I tried with the Petstore API example), the generated code would not build with Gradle.

The dependency defined in build.gradle file at project root is wrong :
```classpath 'com.github.dcendents:android-maven-plugin:1.2'```
needs to become
```classpath 'com.github.dcendents:android-maven-gradle-plugin:1.3'```
since the repositories have changed (see [Github old r

[2016-03-24 16:34] maneeshsahu commented on #2441
I am using -l javascript

[code]

javascript-properties.json

[code]

Also, its not emitting the JS Docs either.

[2016-03-24 16:44] maneeshsahu opened #2452 "[Java] [Nice-To-Have-Feature] Tags description and externalDocs output in the *Api.java Class comment"
For the tags in the spec

[code]

It will be nice to display the description and externalDocs in the Java source comment, as below:

[code]

[2016-03-24 17:09] delenius commented on #2442
The only alternative, for my use case, is to write a lot of server-side (and some client-side) code to maintain sessions manually. This way, all that stuff is handled automatically by Java annotations.

Until the swagger spec supports this, I need some way of doing it. It's just an option, which is disabled by default.

[2016-03-24 18:06] jimschubert commented on #1954
I have barely started on this. Going through job and housing transition at the moment, may be 2-3 weeks before I can get back to it.

[2016-03-24 20:17] maneeshsahu commented on #2431
Regenerated with okhttp-gson as the library and the DateFormat issue is resolved. Q - Is okhttp a worthwhile library upgrade for both Java and Android?

[2016-03-25 02:09] wing328 commented on #1954
@jimschubert we've created the documentation (including README) for JS API client. Here is an example: https://github.com/xhh/swagger-petstore-js

Please take a look and let us know if you've any feedback.

[2016-03-25 02:09] #1954 closed

[2016-03-25 02:21] jimschubert commented on #1954
That's great news. I checked it out and the documentation looks really good.

[2016-03-25 02:24] wing328 commented on #1954
@jimschubert thanks for the feedback. All the best to your new job!

[2016-03-25 09:38] wing328 commented on #2451
@FabDslv thanks for reporting the issue, which will be addressed by #2453

Also the Java API client (okhttp-gson, retrofit, retrofi2 library templates) also works with Android.

[2016-03-25 17:40] arilynN opened #2454 "maven version number incorrect in readme"
The Maven number is incorrect in the maven readme file. I tried to build the samples with maven 3.0.5 and the readme says 3.0.3 is minimal required and i got a exception. Now im running maven 3.3.9 and its working fine.

[2016-03-26 02:59] wing328 commented on #2454
@arilynN thanks for reporting the issue. Version updated.

https://github.com/swagger-api/swagger-codegen/blob/master/README.md#prerequisites

[2016-03-26 02:59] #2454 closed

[2016-03-26 05:58] rnavagamuwa opened #2455 "Swagger-codegen prints everything on terminal instead of logging!"
I'm using swagger codegen as a maven dependency for one of my projects and I really need to have a proper log. But instead of logging in prints everything on terminal. Why can't that be removed and add a log instead?

[2016-03-26 06:16] wing328 commented on #2455
@rnavagamuwa are you using the latest master?

[2016-03-26 06:24] rnavagamuwa commented on #2455
@wing328 I'm using this one [http://mvnrepository.com/artifact/io.swagger/swagger-codegen/2.1.5](url)

[2016-03-26 06:28] wing328 commented on #2455
please use the latest master or wait for 2.1.6 release, which will be due soon.

[2016-03-26 06:30] rnavagamuwa commented on #2455
Sure thanks :+1:

[2016-03-26 06:31] #2455 closed

[2016-03-26 19:53] bherila opened #2456 "[Typescript] Generated code exports classes with reserved names e.g. Object {}"
The generated .ts file contained this code:

[code]

which leads to a compile error when trying to build the file:

[code]

[2016-03-26 19:54] bherila opened #2457 "[Typescript] Generated code can contain invalid enum values"
When the enum values are also valid numbers, they should be prefixed with a string, e.g.:

[code]

currently the bad code looks like this:
[code]

this generates a typescript compilation error.

[2016-03-27 03:48] wing328 commented on #2456
@bherila can you share your spec? My guess is that it contains an empty definition of the object `Object`.

[2016-03-27 21:31] pixelshaded opened #2458 "Typescript Template Variables: Defining Value for Online Generator"
Looking at the template https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Angular/api.mustache, there should be a way to define classname.

I've been using the online generator and my class name is always being generated as DefaultApi. I've defined classname and className in the options object of the GeneratorInput that is passed to th

[2016-03-28 01:32] bherila commented on #2456
Yup, you are right. So this might be an issue for Swashbuckle. https://github.com/domaindrivendev/Swashbuckle

[code]

However, is there a more appropriate type for APIs that don't have a well-defined return type?

[code]

[2016-03-28 01:33] bherila commented on #2456
I'll bring this issue up with Swashbuckle, but maybe swagger-codegen for Typescript/Javascript should also handle the issue that Object is not a valid name to be used in a generated type? Similar to https://github.com/swagger-api/swagger-codegen/issues/2457

[2016-03-28 01:36] webron commented on #2456
@bherila - That's pretty much how you'd define such a return type.

[2016-03-28 01:44] bherila commented on #2251
+1, also adding that it would be great to keep the syntax close to ES6 promises as possible. That way when compiling under ES6 the reference to bluebird is simply not needed.

[2016-03-28 02:41] wing328 commented on #2456
@bherila can you try replacing
[code]
with the following instead?
[code]

Currently codegen is not smart enough to figure out the reference model has not properties.

[2016-03-28 06:33] bherila commented on #2456
I can try to see if I can make it work as a one-off.

Unfortunately, the schema definition for this API is auto-generated by Swashbuckle from C# code annotations, and then that output is passed on to swagger-codegen, I can try to patch Swashbuckle but unfortunately it will take a couple of days before I'll have the cycles to do that.

[2016-03-28 06:46] wing328 commented on #2456
I'll open a ticket with Swashbuckle to see if they can simply output `type: object` instead of creating a model "Object".

[2016-03-28 06:52] wing328 commented on #2456
Ref: https://github.com/domaindrivendev/Swashbuckle/issues/698

[2016-03-28 06:54] wing328 commented on #2457
@bherila to make my life easier reproducing the issue and come up with a fix, can you please share the spec? If it's private, please send it to my personal email address in my github profile if you don't mind.

[2016-03-28 07:06] wing328 commented on #2458
My guess is that your spec does not use "tags" (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L67)

Can you please share the spec so that we can reproduce the issue?

[2016-03-28 07:54] wing328 commented on #2449
@yaelah thanks for the detailed above. Would you have cycle to contribute a fix?

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/model.mustache

[2016-03-28 07:54] wing328 commented on #2449
Similar ticket: https://github.com/swagger-api/swagger-codegen/issues/1253

[2016-03-28 08:36] wing328 commented on #2451
@FabDslv do you mind performing a test with #2453 to see if the fix works for you as well?

[2016-03-28 12:33] pixelshaded commented on #2458
[code]

[2016-03-28 13:35] wing328 commented on #2458
I would suggest you to "try". A endpoint without any tag default to "DefaultApi" and you can use tag to group endpoints into a Api class file. Hope this helps.

[2016-03-28 13:43] pixelshaded commented on #2458
It does help. I'm going to guess, based on your suggestion, that there is no documentation explaining how tags influence generated code?

[2016-03-28 13:47] wing328 commented on #2458
Unfortunately we don't have that documented at the moment. For Typescript, we can use the following endpoint as an example to illustrate:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L660 (tag: store)

The generate code is in https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-angu

[2016-03-28 14:15] wing328 commented on #2458
FYI. I've started building an FAQ here: https://github.com/swagger-api/swagger-codegen/wiki/FAQ

Hopefully others would find it useful as we accumulate more and more questions and answers

[2016-03-28 15:16] FabDslv commented on #2451
@wing328 I tested it manually and it works fine now. Thanks for the commit.

[2016-03-28 15:53] wing328 commented on #2451
@FabDslv thanks for the confirmation. PR merged into master.

[2016-03-28 16:14] pixelshaded commented on #2458
NIce. Thanks for the follow up.

Things to Consider Adding to FAQ
In the POST body (modeled after GeneratorInput), what is options supposed to represent? From service source code it seems like it is simply the same as additional properties if you were using the command line.

Note that apiPackage and modelPackage in options affects namespace of output.

[2016-03-28 16:18] wing328 commented on #2458
Please feel free to "edit" that FAQ page with the suggested details.

[2016-03-28 16:36] pixelshaded commented on #2458
Updated with a code example for hitting API and unzip files to a folder.

This one however I don't have a direct answer for so nothing to put in the FAQ

[2016-03-28 22:20] willerup commented on #2429
I think this is a duplicate of https://github.com/swagger-api/swagger-codegen/issues/2450.

[2016-03-29 03:41] wing328 opened #2461 "[Python] Add method _with_http_info"
Similar to PHP, Ruby and other languages, for each method (endpoint) in Python, we wan to add a corresponding method "_with_http_info" (e.g. `add_pet_with_http_info` for `add_pet`) to retrieve the response together with http headers and status code.

Similar PRs:
[Ruby] https://github.com/swagger-api/swagger-codegen/pull/1677
[PHP] https://github.com/swagger-api/swagger-codegen/pull/1672

If anyon

[2016-03-29 03:51] wing328 commented on #2446
@orkenstein thanks for sharing the fix. May I know if you've cycle to contribute a fix?

A good starting point is to add `convertBoolToString` to APIHelper: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/APIHelper.mustache

[2016-03-29 04:38] rnavagamuwa opened #2462 "Swagger object as the input spec for swagger-codegen"
Is there a way to use a swagger object as the input spec. That means instead of using a swagger spec file location can we use an already declared swagger object to generate the client side code?

Ex:-
`codegenConfigurator.setInputSpec("path to swagger spec");`
instead of this approach I want to use the declared swagger object as the input spec.

Thanks

[2016-03-29 09:47] cjolif opened #2463 "Ability to cancel request with Swift implementation"
Except if I'm mistaken I don't see a way to cancel an API call on the generated Swift/iOS code.

[2016-03-29 13:59] wing328 commented on #2450
@danjor can you please test #2460 (submitted by @xhh) to see if that fixes the issue for you?

[2016-03-29 14:57] wing328 commented on #2302
@nickform I've filed https://github.com/swagger-api/swagger-codegen/pull/2466 to fix the issue.

Would you please perform a test to see if the PR fixes the issue for you?

Here is grep result:
[code]

[2016-03-29 14:58] wing328 commented on #2409
@DaFrik thanks for the details. I think this issue is similar to https://github.com/swagger-api/swagger-codegen/issues/2302

I've filed https://github.com/swagger-api/swagger-codegen/pull/2466 to fix the operationId issue. I wonder if you can perform a test to see if the PR fixes the issue for you.

[2016-03-29 15:30] nickform commented on #2302
I don't know how to build or use swagger-codegen (I just used the one at editor.swagger.io) and I don't have time to learn I'm afraid. If you can provide me with the equivalent of the output I got from the web app but generated with your change, I will be happy to run it and check whether the error has been cleared. Thanks.

[2016-03-29 15:44] wing328 commented on #2302
@nickform I pushed the update code (based on the spec you provided) to https://github.com/wing328/nodejs_server_test.

Would you please take a look?

[2016-03-29 17:35] yaelah commented on #2449
I have a fix for this. What is the process for submitting patches? I have never submitted anything to this project before.
thanks.

[2016-03-29 18:48] nickform commented on #2302
@wing328 I cloned [](https://github.com/wing328/nodejs_server_test) and ran it and can confirm that it does not have the problem I originally reported. For the record I am running node v0.10.25 on Ubunutu. Thanks for fixing. Will you close this issue once your pull request is merged into main?

[2016-03-30 01:11] infojunkie opened #2468 "Linked description files not supported?"
I am trying to generate a PHP client for an API with 2 linked description files, shown below. Here's the output I get when I run codegen (2.1.5):
[code]
As you can see, no `/api` files are generated. The Swagger UI does not complain about the same description files.

What am I doing wrong?

Here are the spec files:
[code]
and
[code]

[2016-03-30 02:34] frol opened #2469 "Add AMQP transport"
This is just a sort of a crazy idea of using Swagger Spec for REST over AMQP protocol instead of HTTP. I do understand that this will require a huge amount of work, but I would love to at least have a discussion on this now. Who knows, maybe somebody will find it so useful, so they implement it (maybe even myself).

Extra keywords for search: RabbitMQ, ActiveMQ.

[2016-03-30 02:49] wing328 commented on #2449
Please refer to https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md for contributing guidelines.

If you need help, just reply to let us know.

[2016-03-30 03:00] wing328 commented on #2469
@frol we love crazy ideas :)

Just to be clear your backend is still RESTful and transport is over AMQP instead of HTTP, right ?

And which language are you targeting to begin with?

[2016-03-30 03:01] wing328 commented on #2302
@nickform thanks for the confirmation. We'll merge it into master later as v2.1.6 will be released very soon.

Once it's merged into master, this issue will be closed.

[2016-03-30 03:06] frol commented on #2469
Correct.

So, I'm mostly interested in Python as a server and a client language now. However, Swagger-UI support is also very important from my point of view, so JS client might be even more important than Python client.

[2016-03-30 03:34] wing328 commented on #2469
Technically that's possible. For Java, we already support a few HTTP libraries - Jersey1.x, Jersey2.x, Retrofit1.x, Retrofit2.x, Feign, okhttp, etc based on the design that ApiClient is swappable.

For Python, you can try to do the same thing by implementing an ApiClient that talks AMQP and use `-l` to specify which ApiClient/library to use when generating the Python API client.

[2016-03-30 03:59] wing328 commented on #2463
I believe you're referring to https://github.com/Alamofire/Alamofire#request and I don't think we have implemented the support for `cancel` yet.
[code]
Is that something you've cycle to contribute?

[2016-03-30 06:13] frol commented on #2469
While usage of AMQP may sound like not so compex task to implement, AMQP is quite different from HTTP. The biggest obsticle is that AMQP is unidirectional, so you can either send messages, or receive messages. Having this in mind, you cannot expect any "response" from AMQP by design (though, you can implement a workaround, yet it is generaly a bad idea for AMQP flow design). Still, there are use -

[2016-03-30 06:16] wing328 commented on #2469
@frol if you don't mind, can you share a bit more on why your team decided to use REST over AMQP instead of HTTP?

Personally I don't see a lot of tools built around REST over AMQP

[2016-03-30 06:30] wing328 commented on #2409
@DaFrik here are some more update.

@nickform confirmed that the fix works for him.

For the controller naming issue (Hrv-controller), what should the JS code looks like that would work for "Hrv-controller" ?

If you can show me a working version for "Hrv-controller", it should not be hard for me to plot it back to the mustache template.

[2016-03-30 06:39] frol commented on #2469
Sure! First of all, we love Swagger, isn't this enough? :)

Second, while most of the people implement RPC over AMQP, I don't see much difference in REST and RPC over AMQP because both are limited by the fact that "request-response"-style is not what AMQP is made for. From my point of view, the difference between REST and RPC over AMQP turns out to be in the terminology. If we implement either RES

[2016-03-30 10:15] demonfiddler opened #2471 "JavaScript client code generator emits invalid code for map and array types"
From YAML, a definition of `type: object` with `additionalProperties` or a  definition of `type: array` with `items: xxx` results in the emission of invalid code in the `constructFromObject()` method body:

[code]
This happens because `DefaultCodegen.addParentContainer()` (called from `DefaultCodegen.fromModel(String, Model, Map<String, Model>)`) sets the `parent` of the `CodegenModel` (representi

[2016-03-30 12:46] cjolif commented on #2463
@wing328 yes that's what I had in mind.

maybe but I first need to better understand the generated Swift request API and see if there are not other things that are even more problematic on my side and I would better concentrate on.

[2016-03-30 13:24] yaelah commented on #2449
Thanks for noticing my wrong email.

[2016-03-30 14:46] mariomatar opened #2474 "How to generate definition of enum witrh java ?"
Hi

I use Spring boot, swagger-maven-plugin and springfox-swagger2 with last versions

I just want to have enums in my definitions

   public class OrderDto {
            private String id;
            private OrderTypeEnum type;

Currently :

    "OrderDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "type" : {
          "typ

[2016-03-30 14:55] fehguy commented on #2474
Yea, that's not really valid.  Try using http://editor.swagger.io which will give you some interactive feedback on the validity of your spec.  What you listed first is correct.

[2016-03-30 14:55] #2474 closed

[2016-03-30 15:05] mariomatar commented on #2474
I use swagger.json to generate javascript API Client and Models classes

If I have to classes use OrderTypeEnum, it will generate
ClassAOrderTypeEnum
ClassBOrderTypeEnum

It's not good

[2016-03-30 15:10] fehguy commented on #2474
Please read the README.  If you don't like the generation, you can choose how to handle it.  You can even disable enums and use strings, it's in the options.

[2016-03-30 16:13] cjolif opened #2475 "Put nil as default value on optional parameters in swift"
In Swift you can put a default value of `nil` on optional parameters. That way the user of the generated SDK won't have to specify them (he can skip them) when calling the API if he does not use them (today he is 'forced' to pass `nil` even if they are "optional")

[2016-03-30 20:46] nicksloan commented on #1551
I'm not sure but I believe that this will be fixed when swagger-codegen depends on the next release of swagger-parser. More information is here: swagger-api/swagger-parser#213.

[2016-03-30 21:00] mariomatar commented on #2474
ok
thanks for your replay

[2016-03-31 01:46] wing328 commented on #2456
Got a reply from the author of Swashbuckle saying that the fix will be available in 5.4.0 release.

[2016-03-31 05:57] WillaLuo opened #2476 "Java client parse the type "object" in schema description to Object(java.lang.object) not JSONObject ?"
Hi,  I wonder why the schema description here, schedule definition (without any property) is parsed to Object(java.lang.object) not to a JSONobject?  and swaggercodegen create a subclass LaunchPlanpostrequestInstances for ‘oplans’.

[code]
[code]
Thanks!!!

[2016-03-31 07:33] wing328 commented on #2468
Below please find the spec converted to swagger 2.0 format.

[Swagger_pender_20160331072834.txt](https://github.com/swagger-api/swagger-codegen/files/197150/Swagger_pender_20160331072834.txt)

I'm able to generate WebApi.php (together with other php files) using it.

May I know how do you maintain your spec at the moment? Is the spec generated using some 3rd-party plug-ins?

[2016-03-31 09:21] orkenstein commented on #2446
@wing328
Yep, no problem, I will, whet I get some time.
**Swift** templates requires 2 more crucial improvements:
- support array as root object of http body
- support body and query parameters at the same time.

`Alamofire` does not allow to do this by default. I've already found the solution, but I use custom templates and need somebody to review my code.

[2016-03-31 11:12] demonfiddler commented on #2146
Hi @wing328, I think we need to reopen this issue, as it is not addressed by the fix for Issue #2161.

[2016-03-31 11:18] demonfiddler commented on #2161
This issue is largely addressed by swagger-parser Issue [#204](https://github.com/swagger-api/swagger-parser/issues/204) and Issue #2258,  both of which are now fixed. The remaining aspect of polymorphism is covered by Issue #2041.

[2016-03-31 11:18] #2161 closed

[2016-03-31 12:52] wing328 commented on #2446
@orkenstein thanks!. To run the integration test for Swift Petstore after making the change, please do the following:
[code]

[2016-03-31 16:23] cjolif opened #2480 "2.1.6-SNAPSHOT broken on Sonatype repo"
It seems the currently deployed SNAPSHOT (https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen/) itself depends on swagger-parser 1.0.18-SNAPSHOT which is not available anymore (1.0.18 is released and SNAPSHOT is 1.0.19). Maybe the SNAPSHOT should be redeployed? (I'm not sure this SNAPSHOT is officially supported, but it is useful to me at least ;)).

[2016-03-31 16:27] wing328 commented on #2480
@cjolif thanks for reporting.

cc @fehguy

[2016-03-31 17:35] infojunkie commented on #2468
Thanks, the spec you sent worked on my side too. For the moment, we generate the 1.2 specs using the Ruby gem `swagger-docs 1.2.9`, running `rake swagger:docs`. Does `swagger-codegen` support the 1.2 spec or we need to upgrade?

[2016-03-31 18:23] infojunkie commented on #2468
Also, I don't think this is related to the PHP generator because I get the same behaviour when I try the Ruby codegen.

[2016-04-01 02:21] #2476 closed

[2016-04-01 02:22] #2444 closed

[2016-04-01 04:15] wing328 commented on #2476
Are you using the latest master (which has better support for `type: object`)?

We do not map it to JSONobject since the data can potentially be in the form of XML.

[2016-04-01 06:36] wing328 commented on #2468
My guess is that the auto-generated spec (1.2) is invalid. I use swagger-codegen with another swagger spec 1.2 (https://restunited.com/petstore/api-docs) and it works fine for me.

[2016-04-01 06:37] wing328 commented on #2468
Would you consider using https://github.com/fotinakis/swagger-blocks/ to generate swagger spec 2.0 instead?

[2016-04-01 06:39] infojunkie commented on #2468
Yes, we're working on that atm.

[2016-04-01 06:40] WillaLuo commented on #2476
I used swagger-codegen  v2.1.5.  Because the swagger specification don't support schema definition "anyOf" key, and our project support anytype in the api request. so  we define definition oplans like this
[code]
and define "items"{"type":"object"}  means  oplans can be an array of object , or an array of string , or an array of object containing array, and so on.

So I think I should write differ

[2016-04-01 07:02] wing328 commented on #2468
Glad to hear that. We're closing this issue for the time being. Let us know if you need further assistance.

[2016-04-01 07:02] #2468 closed

[2016-04-01 10:47] bluemmc opened #2481 "[csharp] Illegal constructor generated by latest version from head"
I have retrived and build the latest version from main branch. When generating java code it works, but when generating c# code, some constructors of domain classes are wrong as an extra comma "," is added after last parameter to the constructor which results in illegal, uncompileable, code. F.x. I get a constructor signature like this "public Employee(EmployeeId Id = null, )" in c#. It only happen

[2016-04-01 11:22] cjolif commented on #2446
That's a pretty big issue indeed :( is there a specific issue on this repo for that?

[2016-04-01 11:37] wing328 commented on #2481
@bluemmc thanks for reporting the issue. Do you mind sharing the spec with me to easily reproduce the issue?

[2016-04-01 12:04] bluemmc commented on #2481
[swagger.txt](https://github.com/swagger-api/swagger-codegen/files/199552/swagger.txt)

Here is a swagger.json file. Look in the generated Employee domain class for the error.

[2016-04-01 12:21] wing328 commented on #2481
Thanks for the spec. I could repeat the issue.

[code]
Given that all attributes are `readOnly`, the constructor should take no argument. Is that what you expected?

[2016-04-01 12:27] adam-smoulder commented on #2481
I actually came across this same bug but with a DateTime default being set in a constructor to null (which can't compile; I just manually switched out null with default(DateTIme) for the moment). Do you want me to get the part of my spec that would have this also?

[2016-04-01 12:30] wing328 commented on #2481
Yes please

[2016-04-01 12:39] adam-smoulder commented on #2481
[cSharpDateTimeNull-swagger-spec.txt](https://github.com/swagger-api/swagger-codegen/files/199605/cSharpDateTimeNull-swagger-spec.txt)

BirthDate and SetupDate are fields in the Patient object definition in the API. Within the generated Patient.cs (in models) this has the following constructor signature:

public Patient(string PatientId = null, string OrgId = null, DateTime BirthDate = **null**, s

[2016-04-01 12:55] wing328 commented on #2481
@adam-smoulder using the latest master, I didn't get any compile error. Are you using the latest master to generate the API client?

[2016-04-01 12:59] wing328 commented on #2481
@bluemmc a property should not be both 'required' and `readyOnly`:
[code]
Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13

so the property `id` in the spec (for model `Employee`) needs to be updated in the spec.

[2016-04-01 13:30] bluemmc commented on #2481
@wing328 Thanks for the tip. I was not aware of the special meaning of required/readonly for swagger. The spec is generated from immutable c# classes where all data is set in the constructor and properties are readonly. I am off to vacation and can't experiment right now but hopefully I can configure swashbuckle/ahoy to set the properties correctly for my immutable server side classes.

In any cas

[2016-04-01 13:31] orkenstein commented on #2446
@cjolif looks like no.

[2016-04-01 13:32] wing328 commented on #2481
For the extra ",", it's definitely an issue and I'm working on it.

Please enjoy your vacation and let's sync up on this issue when you're back.

[2016-04-01 13:39] adam-smoulder commented on #2481
I just got the latest master and tried again; it seems the issue is resolved (the DateTimes are nullable now). Sorry for the trouble and thanks for your help!

[2016-04-01 13:46] cjolif opened #2483 "[Swift] Operations with both query-based parameters & body-based parameters are not working"
If in your operations you have something as follows:

[code]

The generated swift will contain something of the following form:

[code]

ignoring the query parameter (param1) and passing isBody false to the init.

The root limitation is that Alamofire either send parameters as query parameters or body but can't do both.

[2016-04-01 13:46] wing328 commented on #2481
@adam-smoulder no problem. Stable release v2.1.6 will be released soon.

[2016-04-01 13:46] cjolif commented on #2446
thanks @orkenstein, I created #2483 to track this one...

[2016-04-01 14:34] wing328 commented on #2446
@cjolif thanks for opening an issue to track it and hopefully they will add the support soon.

[2016-04-01 14:42] kungfoo opened #2485 "Java Clients: Support Optional<T> on model classes when a field is not required"
I think (similar to the swift client) that is would be nice, if the generated clients had an option to enable the use of the `Optional<T>` type on model fields that are not required.

This should both include and option to use

- `com.google.common.base.Optional`
- `java.util.Optional<T>`

Supporting guava is probably needed for all those people that are not using java8 for whatever reason (for in

[2016-04-01 14:45] wing328 commented on #2481
@bluemmc FYI. I've submitted #2484 to address the issue.

[2016-04-01 20:07] ivanignatiev opened #2486 "Question, Specification Ambiguity: Using of "allOf: []""
Which of model difinitions respects the specification 2.0 ?

First:
[code]

or second? :

[code]

The question is appeared because Swagger CodeGen ignore the first definition, but Azure Rest API uses it ( https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-03-30/swagger/network.json ). In the specification we can find examples and descriptions related only to the second case

[2016-04-01 21:32] degroves opened #2487 "Enumerations with non-alphanumeric characters"
[JSON spec and generated Java code](https://gist.github.com/degroves/4e1af1a72779c59b60ef42c731c61cbd)

I generated java code using 2.1.5:

java -jar swagger-codegen-cli.jar generate -i enum_example.json -l java -o target

Unless I've misinterpreted the JSON schema specification (json-schema.org/latest/json-schema-validation.html), an enumeration of type string can have any Unicode character in th

[2016-04-02 03:27] wing328 commented on #2487
Welcome to GitHub and thanks for reporting the issue. For your case, what's the expected `MyEnum.java` look like from your perspective?

[2016-04-02 12:35] sbelan commented on #2487
@wing328 .. similarly, if ENUMS are case sensitive... Swagger always creating enum with UPPERCASE
e.g:
In my case server is expecting value as Success and Fail, so I mentioned the same in swagger specification but during client creation swagger always created it in uppercase like SUCCESS and FAIL.
I did quick fix for this but let me know your advice on this.

[2016-04-02 13:47] wing328 commented on #2487
@sbelan please open a separate issue for tracking and provide more information such as spec to reproduce the issue and which language(s) you're referring

[2016-04-03 21:05] ePaul commented on #2485
Not just for clients, also for generated server models this might be useful.

[2016-04-04 07:23] vipera opened #2489 "petstore.json contains typos"
Hiya,

I'm new to this project, but there seem to be a couple of errors/typos in modules/swagger-codegen/src/test/resources/2_0/petstore.json that prevent the example Sinatra server from being generated with `$ ./bin/sinatra-petstore-server.sh`.

One example:
[code]

Instead of:

[code]

The consequent error:
[code]

I can make a pull request with the fix if this really is an error with the file i

[2016-04-04 07:27] wberger commented on #1981
@wing328 Do you have any feedback on this? I think the suggested approach should work quite well, but I need some input from someone who has the bigger picture in mind in order to cover all intended use cases.

[2016-04-04 07:33] wing328 commented on #1981
@wberger sorry I missed your update earlier. I'll take a closer later today or tomorrow and then get back to you.

[2016-04-04 07:49] wing328 commented on #2489
@vipera thanks for reporting the issue. I'm fixing it now.

[2016-04-04 08:04] wing328 commented on #2489
@vipera I've submitted #2490 to fix it.

The typo (which is fixed by this PR) does not cause the exception though.

It's due to model name using reserved words (e.g. return) and Sinatra code generator has not been updated to handle that yet.

[2016-04-04 08:16] #832 closed

[2016-04-04 08:21] wing328 commented on #2489
As part of this PR, `./bin/sinatra-petstore-server.sh` uses the original petstore spec (without the additional models I added for testing) and you should not get any error when running the command again.

[2016-04-04 08:29] #2489 closed

[2016-04-04 08:45] vipera commented on #2489
@wing328 Ah, I see. Thanks for the explanation and fix!

[2016-04-04 08:53] wing328 commented on #2489
@vipera np. Let me know if you need any help with Sinatra or other API client/server code generator.

[2016-04-04 12:38] sbelan opened #2491 "Enumeration not working for case sensitive values"
Hi @wing328 , I am using swagger stable version 2.1.5 for java client code generator. In my case server expecting values as case sensitive whereas swagger not able to generate case sensitive values for enum. Please find below scenario details:

Below is the sample swagger specification for my newPet model which consist of enum as case sensitive:

While generating java client codegen using Swagger

[2016-04-04 13:09] fabdslv opened #2492 "[Android] Generated sample for Android Volley does not compile"
Here is the error :

[code]

It seems that there's a missing dependency to OAuth.

[2016-04-04 13:10] wing328 commented on #2492
@fabdslv I think that's fixed in the latest master. Please pull the latest to give it a try.

[2016-04-04 13:16] fabdslv commented on #2492
@wing328 Yes, it compiles with the latest master version. Sorry for opening this defect, I'll close it.
Thanks.

[2016-04-04 13:16] #2492 closed

[2016-04-04 13:34] degroves commented on #2487
@wing328: Something along these lines:

    public enum MyEnum
    {
        LESS_THAN("<"), NOT_EQUALS("!="),  EQUALS("=");

        private final String description;

        MyEnum(final String description)
        {
            this.description = description;
        }

        public static void MyEnum getByDescription(final String description)
        {
            // Some efficient mapper h

[2016-04-04 13:35] wing328 commented on #2492
@fabdslv it's also worth sharing with you that the Java API client (using e.g retrofit, retrofit2, okhttp-gson, etc) is also compatible with Android.

[2016-04-04 14:33] fabdslv commented on #2492
@wing328 are you saying it may be more suitable to use Retrofit 2 that Volley in this case? I mean, is the generator for Retrofit better maintained than it is for Volley?

[2016-04-04 14:35] cjolif opened #2493 "[Swift] add support for authentications from swagger spec"
Swagger spec does provide the ability to specify the authentication mechanism to be used by a particular API. It seems that Swift generation ignore that part.

[2016-04-04 14:37] wing328 commented on #2492
@fabdslv I'm saying that you've other options and would suggest you to evaluate those (if you've time) to see whether those better fit your requirement (e.g. to use the API client not only in Android but also Java later on)

[2016-04-04 14:41] fabdslv commented on #2492
@wing328 Yes, I'm already comparing those solutions. Thanks for your advice.

[2016-04-04 18:06] tomekc commented on #2093
I came across InlineResponse200 when I decided to take a "shortcut" and define response right in the operation definition. I was thinking about giving more proper name for generated object, for example, based on "title" property (if provided). Do you think it may make sense?

[2016-04-05 04:44] sbelan commented on #2487
@degroves .. we resolved this issue by overriding postProcessModels() from JavaClientCodegen and changed logic for enum during inserting into enum map.

[2016-04-05 05:45] roni-frantchi commented on #1809
I've created a client project, using some of damienpontifex 's templates, altering them a bit to make the generated code compile and actually work, and included them in a java project created using the swagger cli. see here:

[2016-04-05 06:10] fehguy commented on #1554
Fixed in #2488

[2016-04-05 06:10] #1554 closed

[2016-04-05 07:25] wing328 commented on #2480
@cjolif we should be able to release v2.1.6 today (Tue) or tomorrow (Wed)

[2016-04-05 07:28] wing328 commented on #1981
@wberger do you mind submitting a PR based on your work so far? That way the community can more easily pick it up and comment on the code if they've any question about the change. Thanks!

(please also rebase on the latest master)

[2016-04-05 07:52] cjolif commented on #2480
cool thanks!

[2016-04-05 08:02] wing328 commented on #2093
@tomekc I would suggest you to make your suggestion via https://github.com/OAI/OpenAPI-Specification/issues as the OpenAPI core team is working on the next version of OpenAPI/Swagger spec.

For the time being, please define the model properly to set a proper name for the model.

[2016-04-05 11:09] vipera opened #2495 "Maven errors when building client/server codegen from project stubs"
Hello,

I am trying to make a custom client and server codegen and am running into issues with Maven. The base README example:

[code]

generates a project that eventually fails to build with ```mvn package``` with the following errors (running maven from output/myLibrary):

[code]

This is using the the latest master branch commit. The versions seem to be the same, and I'm not experienced enough

[2016-04-05 13:51] degroves commented on #2487
@sbelan, thanks for the pointer, I might do the same.

[2016-04-05 14:08] fehguy opened #2496 "NodeJS routing methods may be invalid"
When tags are used with spaces or hyphens, the generated `x-router-swagger-controller` may be invalid.

[2016-04-05 14:34] langdonx opened #2498 "Enums as ints"
**Update**: Enums as strings seem to work fine.  Enums as ints used to work fine (they would generate as `int?`, I'm using `csharp`), but in master now, they throw the following error:

	Exception in thread "main" java.lang.RuntimeException: Could not process model 'IncidentByLocationReportRequest'
		at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:244)
		at io.swagger.codegen

[2016-04-05 14:40] #2496 closed

[2016-04-05 16:03] wing328 commented on #2498
@langdonx I've something ready to address the issue and will submit the fix after the v2.1.6 stable relese due today/tomorrow.

[2016-04-05 18:09] degroves opened #2499 "NPE in JavaClientCodegen.toModelName"
I cloned the swagger-codegen repository this morning.  Commit 02c713c90d37acc462398ec0ba0836c035fd9c7b is the most recent commit in my local copy of the swagger-codegen repository.  I received an NPE using my locally produced swagger codegen on [this JSON spec](https://gist.github.com/degroves/d0916635d5b33c208185f717b9bbf4a1).

java -jar swagger-codegen-cli-2.1.6-SNAPSHOT.jar generate -i npe.json

[2016-04-05 21:47] fehguy opened #2500 "auth not passed to resolver on generation"
In the `swagger-generator`, the field `securityDefinition` does no good.  It doesn't allow values to be passed in for actual authorization, and downstream parsing cannot read protected references.

[2016-04-05 22:26] ruvicgithub opened #2502 "Swagger Code Generation. Help!"
Hello All,

I created a swagger document using the swagger editor http://editor.swagger.io and specified that each of the service supports both xml and json formats (including the base path section).

[code]

I then generated the jaxrs code using the following command:

`java -jar swagger-codegen-cli-2.1.4.jar generate -i my.json -l jaxrs -o /path/output/ -c /config.json`

All the source files wer

[2016-04-06 02:32] fehguy commented on #2502
Hi, currently no.  The generation is going to "do the right thing" for JSON but not XML.  We can leave this ticket open for adding those annotations.

[2016-04-06 02:42] fehguy commented on #2499
Hi, the issue is your `arrayofstuff` cannot have an array for `items`--it should be an object:

[code]

I agree the NPE isn't nice, but your definition isn't valid.

[2016-04-06 02:45] fehguy commented on #2495
Hi, you should just add sonatype to your project dependencies:

[code]

[2016-04-06 02:46] fehguy commented on #2480
Thanks, I've updated it to the release version, and 2.1.6 should be out soon.

[2016-04-06 02:46] #2480 closed

[2016-04-06 07:34] vipera commented on #2495
Thanks, @fehguy - this solved my dependency issues. Perhaps something should be done about the default output of "meta" so that it builds by default, though.

[2016-04-06 08:09] kungfoo commented on #2485
Of course you are right. My team is currently really suffering from fields becoming required and vice versa (don't ask) and this would be a most useful feature to counter this.
I might give it a shot in the client libs (retrofit with rx) that we use to actually implement this.

[2016-04-06 13:18] hcwilhelm opened #2503 "AsyncScala Client dependency error"
The generated async scala client contains a non existing dependency to
"io.swagger" %% "swagger-async-httpclient" % "0.3.5"
and sbt complains the it can not find it. This should be replaced with
"com.wordnik.swagger" %% "swagger-async-httpclient" % "0.3.5"

I'll do a PR to fix that ;)

[2016-04-06 13:45] wing328 commented on #2503
`io.swagger` should have replaced `com.wordnik.swagger`.

Is that due to missing repository similar to this one: https://github.com/swagger-api/swagger-codegen/issues/2495#issuecomment-206090982 ?

[2016-04-06 13:54] cdennison opened #2505 "Customization Requests"
I recently created an SDK for a REST API (https://thingspace.verizon.com) and needed to do the following. Not sure how these fit with the overall goals of swagger-codegen, but I wanted to share my experience.

1. For some requests with few fields I wanted to map the fields to parameters so the user doesn't have to create a request POJO (see example below).

2. I needed to wrap the entire SDK anywa

[2016-04-06 13:55] hcwilhelm commented on #2503
No this is not due to a missing repository, it's just the group name witch is wrong in the sbt.mustache
template file. I fixed the imports and dependencies in this PR #2504

[2016-04-06 14:06] wing328 commented on #2503
As always, thanks for the PR.

I think we need to update https://github.com/swagger-api/swagger-async-httpclient instead to replace `com.wordnik.swagger` with `io.swagger`

cc @fehguy

[2016-04-06 15:09] webron opened #2506 "Exclude model tests?"
_From @langdonx on April 6, 2016 15:8_

The new test generation stuff in 2.1.6 is nice (using `csharp`).  Is there a way to exclude the generation of model tests though?  I'm only wanting tests generated for the Api classes.

_Copied from original issue: swagger-api/swagger.io#95_

[2016-04-06 15:12] langdonx commented on #2506
Sorry, not sure how I filed it under swagger.io.

[2016-04-06 15:24] 414n opened #2507 "jaxrs-cxf: borked enum definitions"
Hello,
I'm trying to generate JAXRS server code from a Swagger API spec but I'm encountering various issues.

I first tried the jaxrs generator but I had issues with the generated factories and then I tried the jaxrs-cxf generator, as I could see from the online editor that the code generated by the latter is more simple, cleaner and, therefore, more useful to my specific use case.
However, what I

[2016-04-06 16:08] wing328 commented on #2498
@langdonx I've submitted https://github.com/swagger-api/swagger-codegen/pull/2508.

I wonder if you can give it a try to confirm it addresses the issue for your case.

[2016-04-06 16:10] fabdslv opened #2509 "[Java Client - Retrofit 2] Petstore sample does not build when 'target = android'"
Here is the error :

[code]

I think there is a missing dependency (which, by the way, is present in Retrofit 1 sample) :

[code]

[2016-04-06 16:12] wing328 commented on #2509
@fabdslv is that generated using https://editor.swagger.io or the latest master of swagger-codegen?

[2016-04-06 17:42] langdonx commented on #2498
Works again, thanks!

[2016-04-06 17:45] cdaringe commented on #2505
my guess is that you'll have to hack up the templates and do some post-processing.  i know that's not entirely helpful, but based on the functionality that this tool provides, it may be your only route!

[2016-04-06 17:59] pixelshaded commented on #2456
I just came across this issue myself. The original issue is a compiler issue. It seems that keys is missing from the node definitions. I added this to my definitions so that I could compile.

[code]

However, the issue of reserved names being generated is not a swashbuckle specific problem. Any swagger spec could create language specific reserved names in definitions. Array might be the next offen

[2016-04-06 18:30] Jonovono opened #2510 "How to use Volley for android?"
Hi. I can't seem to generate android and have it use volley. From what I can this has been added.

This is my attempt

    swagger-codegen generate -i http://localhost:8080/swagger.json -l android-volley -o ./out/android-volley

But I tried just `volley` as well.

[2016-04-06 19:39] cdennison commented on #2505
That's fine - I was just asked to submit my comments on SO http://stackoverflow.com/questions/35851014/swagger-converting-underscore-to-camelcase/35875446?noredirect=1#comment60497557_35875446.

[2016-04-06 19:48] jaz-ah commented on #2510
just use "-l android" and it will generate android code that can run your api's on volley.

[2016-04-06 19:57] fehguy commented on #2510
If you're using swagger-codegen from brew, you may not be picking it up correctly.  @wing328 can correct me if this is wrong, but you should just use the `java` target with the `volley` library.

You can grab the source for this project and build with `mvn package`.  Then you can run this:

[code]

to see your options.  Alternately you can use the [online generator](http://generator.swagger.io/).

[2016-04-06 20:04] jaz-ah opened #2512 "[Android] Crash w/ volley timeout"
If you get a volley network timeout the generated android code will crash because it is trying to dereference a null pointer here:

throw new ApiException(((VolleyError) ex.getCause()).networkResponse.statusCode, ((VolleyError) ex.getCause()).getMessage());

where networkResponse can be null.

(easy fix - i'll submit in a PR)

[2016-04-06 20:51] Jonovono commented on #2510
Sweet, thanks @jaz-ah  and @fehguy that helped me figure it out!

[2016-04-06 20:51] #2510 closed

[2016-04-06 22:24] fabdslv commented on #2509
@wing328 I used the latest master of swagger-codegen, uncommenting the 'target=android' line in gradle.properties file in order to create an AAR library.

[2016-04-07 02:22] wing328 commented on #2506
@langdonx Is it correct to say that the test for models are working fine (passed without issue)?

[2016-04-07 07:12] twhetzel opened #2517 "Missing files when generating a Python Flask Server for use with Python 2.7"
When generating a server for Python Flask from the Swagger Editor and then running the app using Python 2.7, additional files are needed to run the app, an empty __init__.py file is needed in both the python-flask-server/ base directory as well as inside the controllers/ subdirectory. Otherwise, the following error is returned: ValueError: need more than 1 value to unpack.

[2016-04-07 07:14] wing328 commented on #1948
To begin with, we want to test the following methods as a starting point:
- AddPet
- GetPetById
- UpdatePetWithForm

[2016-04-07 07:30] wing328 commented on #2517
@twhetzel thanks for reporting the issue. Following the readme, I could use python3 to start up the server without issue.

I got the following error using Python2 to start the app:
[code]
Did you get the same error?

[2016-04-07 08:53] 414n commented on #2507
Just adding that the enums generated by the `jaxrs` generator inside the model classes are indeed good.

[2016-04-07 09:08] wing328 commented on #2429
@edarn @willerup can you please give https://github.com/swagger-api/swagger-codegen/pull/2508 a try to see if it addresses the issue for your case?

[2016-04-07 11:06] wing328 commented on #2512
Thanks @jaz-ah. Appreciate your contribution.

[2016-04-07 11:11] wing328 commented on #2509
@fabdslv to help us troubleshoot, did you get similar error when running `gradle build` in `samples/client/petstore/java/retrofit2`?

(It works fine for me in Mac)

[2016-04-07 11:16] fabdslv commented on #2509
Yes, I got the error running `gradle build` (but again, only when uncommenting the line `target = android` in gradle.properties file).

[2016-04-07 11:20] wing328 commented on #2509
I wonder if it's related to platform (Windows) and you mention the same `gradle build` command works for Retrofit (v1) without issue, right?

[2016-04-07 11:22] wing328 commented on #2505
@cdennison thanks for sharing your use case with us.

1. For the endpoint that currently takes a model (JSON), is there a equivalent/similar endpoint that takes POJO fields as HTTP form parameters instead?

2. Can you tell us more about the minor changes from the users?

3. Currently, do you have 6 Swagger/OpenAPI spec to generate 6 different SDKs?

4. Does your Swagger/OpenAPI spec use [security

[2016-04-07 11:34] fabdslv commented on #2509
Right, and yes I'm using Windows. It works on Retrofit v1, but in v1 `gradle.build` file, there is a dependency for `javax.annotation`, while there isn't in Retrofit v2.

[2016-04-07 11:45] wing328 commented on #2509
Understood. May I know if you have cycle to submit a PR with the fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-04-07 12:03] langdonx commented on #2506
They should pass (I've not actually tried them), however since all the models are just auto-implemented properties, the tests are effectively useless.

Perhaps some folks are going into the generated code and changing it, but to me, that defeats the purpose of being able to generate (and re-generate) as the REST service grows and changes over time.  Obviously you'll generate the tests once and sta

[2016-04-07 12:25] wing328 commented on #2509
I'll take care of it later this week if no one has a chance to submit a PR.

@fabdslv once again thanks for reporting the issue. We should have a better way to catch the issue moving forward using the CI.

[2016-04-07 12:38] fabdslv commented on #2509
@wing328 Sure, I can do it today, it should be quick. Just FYI, I found the PR that fixed Retrofit 1 : https://github.com/swagger-api/swagger-codegen/pull/1491.

[2016-04-07 14:26] pixelshaded commented on #2274
@wing328 Setters can't have more than one parameter, but it was a good suggestion otherwise.

[2016-04-07 15:35] cbornet commented on #2096
Any news on this ? I still can't use allOf because of the failures with Gson ...

[2016-04-07 16:01] lukashaertel commented on #2096
@cbornet I just checked out the code generator and set ```supportsInheritance = true```. Running that version made Gson work (basically what pull request #1120 did).

[2016-04-07 16:08] cjolif commented on #2480
believe it or not but this is broken again ;) (because parser released 1.01.9 so SNAPSHOT is now 1.0.20). As 2.1.6 should be out soon I guess this can wait. But this makes me think that your snapshot might better depend on a release version of parser to avoid this issue as they seem to release quite often?

[2016-04-07 17:06] degroves commented on #2499
@fehguy : Thanks for your help.  We didn't realize our schema was incorrect.  We're fixing it now.

The generator should handle a bad schema more gracefully, but I think fixing this bug can be a low priority.

[2016-04-07 21:18] cdaringe opened #2522 "Lack of clarity of template inputs and how to customize interface"
hello:

thanks for the great utility!

i've read up [how to modify the templates](https://github.com/swagger-api/swagger-codegen#modifying-the-client-library-format), however, what is missing from that picture is what inputs are available to me.  further, for example, in the JS output it uses the `{{ importPath }}` which turns my route of `GET /scans/{id}` into `myApi.ScansidAPI.get(...)`.  i'd li

[2016-04-07 21:23] fehguy commented on #2522
I wish there was more documentation on the input structure to the templates.  But the best thing to do is run the utility with the `-DdebugOperations`, `-DdebugModels`, `-DdebugSwagger`, `-DdebugSupportingFiles` flags.

[2016-04-07 22:05] timburks opened #2523 "[Objective C] Generated code fails to build due to missing import"
After using homebrew to install swagger-codegen, I found that the generated code failed to compile with the following errors in SWGApiClient.m:

SWGApiClient.m:401:36: No known instance method for selector 'initWithDictionary:error:'
SWGApiClient.m:754:37: Unknown receiver 'SWGObject'; did you mean 'NSObject'?
SWGApiClient.m:755:24: No known instance method for selector 'toDictionary'

These error

[2016-04-07 22:13] fehguy commented on #2523
I believe Homebrew is providing swagger-codegen 2.1.4, whereas we are now at 2.1.6.

[2016-04-07 22:24] timburks commented on #2523
I just tried the 2.1.6 jar and found the same build error in the generated code. But I did notice that some minor problems in the generated names were fixed.

[2016-04-07 22:31] twhetzel commented on #2517
Yes, that is the first error message I received. I then used `pip install -U connexion` to install the module. After this is when I received the error I mentioned above in the initial post.

[2016-04-08 02:03] DaFrik commented on #2409
Dear @wing328

Thanks for your update. I was trying to find the branch of your commit
"https://github.com/swagger-api/swagger-codegen/pull/2466" to test it
, but I cannot find it from the repo of

swagger-api/swagger-codegen

I am new to the github admin / operation thing, could show me how i
can get your committed code so I can do a test ?

Thanks,

On Wed, Mar 30, 2016 at 2:30 PM, wing328 <notif

[2016-04-08 03:20] webron opened #2525 "Android issue"
_From @VishnuGShephertz on April 7, 2016 11:30_

I am able to build swagger client, but while calling API I am getting Exception  **java.lang.ExceptionInInitializerError** in APIInvoker class.
Let me know the solution how can I resolve this here is stacktrace.

Exception in thread "main" java.lang.ExceptionInInitializerError
	at com.Project31.api.FinalTestApi.<init>(FinalTestApi.java:20)
	at com.P

[2016-04-08 03:51] wing328 commented on #2409
You can find it under my folk of swagger-codegen: https://github.com/wing328/swagger-codegen.git

[2016-04-08 03:57] wing328 commented on #2523
@timburks do you mind sharing the spec for reproducing the issue?

[2016-04-08 04:36] mattfysh opened #2527 "Superagent v2"
The upcoming v2 release of superagent fixes a couple of issues, namely promises implementation: https://github.com/visionmedia/superagent/pull/925
https://github.com/visionmedia/superagent/issues/763

Is anyone actively looking at the upgrade path for the generated JS clients?

[2016-04-08 04:54] wing328 commented on #2517
Ideally the generate Python Flask code should work for both python 2.x and 3.x. I'll try to submit a PR with a fix this weekend.

[2016-04-08 05:45] timburks commented on #2523
@wing328 Here's a swagger file that you can use: [swagger.json.txt](https://github.com/swagger-api/swagger-codegen/files/209669/swagger.json.txt)

[2016-04-08 05:55] VishnuGShephertz commented on #2525
As Android has deprecated apache client, So I think we should use default connection API provided by java itself

[2016-04-08 05:59] wing328 commented on #2523
Thanks. I'll look into the issue and get back to you.

On Fri, Apr 8, 2016 at 1:45 PM, Tim Burks <notifications@github.com> wrote:

[2016-04-08 06:39] guohuang commented on #1948
for these tests, do you want to dynamically generate it or you expect static test?

[2016-04-08 07:35] wing328 commented on #1948
Static test is a good starting point. Later we can add auto-generate test cases similar to PHP, C#, Perl: https://github.com/swagger-api/swagger-codegen/issues/2276

[2016-04-08 11:10] DaFrik commented on #2409
@wing328
checkout your branch and did some testing locally, the problem is still there, you can get my branch

https://github.com/DaFrik/swagger-codegen-buggy

I have write the gen script at ./bin/nodejs-hrv-server.sh

after i the code being generated and I start node

i tested the api from http://localhost:8080/docs/

I typed in some random value in the required param and then I submit.

and the

[2016-04-08 11:16] wing328 commented on #2409
@DaFrik I think the PR only addresses one of the issues you mentioned.

For the controller naming issue (Hrv-controller), what should the JS code looks like that would work for "Hrv-controller" ?

If you can show me a working version for "Hrv-controller", it should not be hard for me to plot it back to the mustache template.

[2016-04-08 15:44] pixelshaded commented on #1365
Also ran in to this issue with this spec generating a client for typescript-node.

[code]
The template is like so:

[code]
But all I am getting is this.authentication.default. I never see apiKey unless I add a security object to the path + verb.

[2016-04-08 15:58] wing328 commented on #1365
@pixelshaded if you generate python or java API client using the spec you provided, did you encounter the same issue?

I want to isolate the issue to see if it's typescript-specified.

[2016-04-08 16:26] pixelshaded commented on #1365
[code]

Not seeing any api key stuff in here. Am I looking in the right place?

[2016-04-08 16:28] pixelshaded commented on #1365
Python in case:

[code]

[2016-04-08 16:52] wing328 commented on #1365
Using the latest master, I did a test with your spec and got the following (correct) partial output for python:
[code]
auth_settings is set correct to `['apiKey']` (obtained from global security setting)

[2016-04-08 17:42] pixelshaded commented on #1365
Looks like http://generator.swagger.io stuff is not up to date? That is what I normally use to generate code. Using the jar instead, I get what you get. Using the jar also worked for typescript. So it looks like this is generator.swagger.io specific.

[2016-04-08 18:13] webron commented on #1365
The online generator gets periodic updates, it wouldn't make sense to constantly update it to master.

[2016-04-08 18:21] pixelshaded commented on #1365
@webron It doesn't make sense if it is a manual process. Syncing master with the online generator could be automated. Either way, this change was merged back in October so I would expect it to be in the online generator.

[2016-04-08 18:46] webron commented on #1365
@pixelshaded master is not always stable, so if the process is automatic, we'll break the online generator often. I agree we can improve the process, I don't think making it automatic to the point of every change (or even a daily deployment) makes sense here.

[2016-04-08 18:50] pixelshaded commented on #1365
Gotchya. Maybe consider the git flow? Where master is your stable production branch and develop has all the kewl new, potentially unstable features. Then automating the sync between the generator and master branch isn't so risky.

[2016-04-08 19:18] webron commented on #1365
Heh, that's be taking us back to where we were about a year ago where we used a similar approach, and that's something we want to avoid (there should be a thread about it in the google group). It was hard to control and people kept making PRs to the wrong branch.

[2016-04-08 19:24] pixelshaded commented on #1365
I guess I wasn't really thinking about it from an open source perspective where barriers to entry can negatively affect contributions.

[2016-04-08 19:26] webron commented on #1365
Yeah, and this project is *heavily* depended on contribution with an impressive community (thanks everyone!) so we're looking to make the process simpler. I agree we should come up with a way to keep the online generator more up to date though. We'll have to think about it.

[2016-04-08 19:33] cjolif opened #2531 "[Swift] enum parameters do not generate enums"
[code]
generates:

[code]

while ideally it should generates:

[code]

[2016-04-08 19:53] twhetzel commented on #2517
Thanks, another issue is that the file default_controller.py includes type hints so I also needed to remove  ` -> str` from the functions. After that the app ran, but no content was displayed.

[2016-04-08 21:32] jaz-ah commented on #2531
what version of Swagger are you using?  This is working for me on master...

[2016-04-09 08:38] #2133 closed

[2016-04-09 08:50] wing328 commented on #2361
@emirozer closing this for now. Let us know if you need further assistance.

[2016-04-09 08:50] #2361 closed

[2016-04-09 08:51] wing328 commented on #2336
@glederrey thanks for the feedback. I'll add a one-liner later in v2.2.0

[2016-04-09 08:52] #2336 closed

[2016-04-09 09:05] wing328 commented on #2442
@fehguy is it something you would consider given that it's an option disabled by default?

Understood that it's not supported by the spec and I think clearer description of the CLI option (disabled by default) can help reinforce the message that cookies aren't supported by the spec.

[2016-04-09 10:31] ePaul commented on #1365
Maybe one solution would be to have one online generator which gets always the latest released version (and we release a bit more often than once every some months – basically whenever an important feature is done and master is stable). And a second online generator, labeled "beta" (with advertisement "can be broken"), which gets automatically updated with latest master from CI.

[2016-04-09 10:42] #2509 closed

[2016-04-09 10:53] #2302 closed

[2016-04-09 10:54] wing328 commented on #2302
@nickform PR merged into master. Please pull the latest and let us know if you still encounter the issue.

[2016-04-09 10:55] wing328 commented on #2409
FYI. #2466 merged into master.

[2016-04-09 11:10] cjolif commented on #2531
@jaz-ah I'm using something as follows: https://gist.githubusercontent.com/cjolif/76d29bec15b7fb735f6a2a76de70b67e/raw/12d26bf3e18180e5e2b8b08dfb9943bcb3a365b9/api.json
on master, is that working for you?

[2016-04-09 13:14] #2481 closed

[2016-04-09 15:52] wing328 commented on #2525
@VishnuGShephertz  please refer to https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-04-09 15:52] #2525 closed

[2016-04-09 16:05] wing328 commented on #2139
Sorry for late reply. Here is an example on how to define enum as an outer class:

https://github.com/swagger-api/swagger-codegen/pull/2508/files#diff-7e06e94c5a62e40662e5f3280a9bbc4bR1380

[2016-04-09 16:05] #2139 closed

[2016-04-09 16:06] wing328 commented on #2061
Closing this as PR by @cobain has been merged into master.

[2016-04-09 16:06] #2061 closed

[2016-04-09 16:12] wing328 commented on #1915
@tannhaeuser would you please pull the latest master to see if it now works for you?

Related issue: https://github.com/swagger-api/swagger-codegen/issues/2531

[2016-04-09 16:14] wing328 commented on #1894
@fehguy I believe you mean replacing PodVersion (for objc, swift), ModuleVersion (for Perl), GemVersion (for Ruby), etc with something like "ReleaseVersion", which is more generic across all languages. Am I correct?

[2016-04-09 16:46] wing328 opened #2534 "[Go] Support Default Headers"
Similar to other langauges, the developers should be able to set default headers for each HTTP request.

To do that, we need:
 - add a map to store the default header in [Configuration.go](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/configuration.mustache)
 - in [api.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/mo

[2016-04-09 16:54] wing328 opened #2535 "[Go] Support authentication"
Similar to other langauges, the Go API clients needs to support authentication (HTTP basic, API key, OAuth token)

To do that, we need to add something similar to the following (from [C#](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api.mustache#L230-L250)):
[code]
to Go's [api.mustache](https://github.com/swagger-api/swagger-codegen/

[2016-04-09 22:21] derekmok9201 commented on #2139
Thankss!

[2016-04-10 05:37] sbelan commented on #2491
@wing328 .. from where I will get change-log for codegen V 2.1.6?

[2016-04-10 06:02] fehguy commented on #2491
@sbelan see here: https://github.com/swagger-api/swagger-codegen/releases/tag/v2.1.6

[2016-04-10 06:49] bherila opened #2538 "swagger-codegen crashes when generating swift"
[code]

this is building from latest source (same branch as my other PR)

input .json : https://gist.github.com/bherila/e664670b38d4d9c979b094bbcf0134ff (caution: it's big)

Unfortunately I am very novice at swift so I probably cannot be helpful in terms of PR fixing this one. But some community help would really be appreciated 😄

[2016-04-10 06:52] wing328 commented on #2538
@bherila thanks for reporting the issue with the spec. We'll look into that ...

[2016-04-10 07:24] sbelan commented on #2491
thanks @fehguy

[2016-04-10 09:36] wing328 commented on #2523
@timburks  I was able to workaround the issue by adding a dummy model to the spec (which does not contain any model).

I'm working on a fix to make the objc client works without models.

[2016-04-10 10:52] mrooz opened #2539 "ApiClient : getClient() is private => cannot be overriden"
getClient should be a protected method so that it may be overridden e.g. when needing to add functionality such as support for configuring an SSL trust manager.

[2016-04-10 11:37] wing328 commented on #2523
@timburks I've filed https://github.com/swagger-api/swagger-codegen/pull/2540 to fix the issue.

[2016-04-10 11:42] wing328 commented on #2539
I believe you're using the [default Android API client](https://github.com/swagger-api/swagger-codegen/blob/4d19da41dd8a3462f88c2be57174aace45101064/samples/client/petstore/android/default/src/main/java/io/swagger/client/ApiInvoker.java#L394)

I would recommend you to use the Android API client with the volley library or using the Java API client instead. Please refer to https://github.com/swagger

[2016-04-10 11:52] wing328 commented on #2538
@bherila it's due to number used in enum values. I filed https://github.com/swagger-api/swagger-codegen/pull/2508 to support number in enum and will merge it on Monday.

Will let you know once it's merged.

[2016-04-10 15:02] mrooz commented on #2539
Hi,
I actually started using the okhttp-gson version of ApiClient but noticed
there's a bit of a problem dealing with binary data.  In your opinion,
what's the best library to use if I need the option to configure my
trruststore / ssl certificates?
(BTW I'm not running on Android)

thanks,
Mike

On Sun, Apr 10, 2016 at 2:42 PM, wing328 <notifications@github.com> wrote:

[2016-04-10 15:17] wing328 commented on #2539
Can you please elaborate on the binary data issue?

[2016-04-10 15:23] #2523 closed

[2016-04-10 15:50] wing328 commented on #2506
I'll try to reproduce the issue you mentioned in Windows.

My view on the test cases is that we should just leave it there to cover the model test so as to allow owners to add more test cases if needed (since the model class is partial, which means it can be extended easily)

[2016-04-10 16:09] wing328 opened #2543 "[Go] Add SelectHeaderContentType, SelectHeaderAccept to Go API client"
Similar to other languages, we need logics in Go API client to pick the correct content-type (consumes) and accept (produces).

The goal of this task is to
 - implement the function `SelectHeaderContentType` (simiar to [SelectHeaderContentType in C#](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClientTest/Lib/SwaggerClient/src/main/csharp/IO/Swag

[2016-04-10 21:23] fabdslv commented on #2451
@wing328 Could you please reopen this defect for the Java libraries that are Android compatible? The changes you made should be applied on OkHttp, Retrofit (all versions), and Feign I guess.

[2016-04-11 02:45] wing328 commented on #2241
https://github.com/swagger-api/swagger-codegen/pull/2427 merged into master.

[2016-04-11 02:56] DaFrik commented on #2409
@wing328

I find a fundamental limitation in javascript to my problem. As Javascript dont allow "-" as variable name, therefore, there shouldn't been any "-" in the "x-swagger-router-controller", as in my current swagger.yaml , i used

 , i need to change that into sth without "-"

Howover, for

 , the "_" is a valid js variable name characters, but it still got striped off, could you fix that pro

[2016-04-11 04:05] wing328 commented on #2274
@pixelshaded thanks for the fix :)

[2016-04-11 04:05] #2274 closed

[2016-04-11 07:19] wing328 commented on #2481
@bluemmc  PR merged into master. Please pull the latest and let us know if you still face the same issue.

[2016-04-11 07:19] wing328 commented on #2523
@timburks PR merged into master. Please pull the latest and give it another try.

[2016-04-11 07:32] wing328 opened #2548 "[Go] Add docstring to Go models"
We want to add docstring to Go model and its properties following https://github.com/golang/go/wiki/CodeReviewComments#comment-sentences

A good reference is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/ruby/model.mustache#L10

If anyone from the community wants to work on this, please reply to let us know.

[2016-04-11 08:13] jfiala commented on #2304
For Java (Spring-REST) I added basic JSR-303 Bean Validation support to Springfox (based on Spring-REST), which allows to use an annotation @Valid on the server side, which will simply validate the complete Request using the Bean Validation API without any additional coding. Do you think it makes sense to add this to the server-code-generator templates for spring-mvc (probably better as an option)

[2016-04-11 08:15] jfiala opened #2549 "Client-generation: Allow data validation on the client side (using minLength/maxLength)"
Currently the generated Java-clients perform required-validation automatically.
Do you think this makes sense for minLength/maxLength as well, to reject the request on the client side before sending to the server?

For Java the JSR-303 Bean Validation API could be used for this automatically.
For other languages maybe a JSON-schema validation could be used.

[2016-04-11 10:56] harryblam opened #2550 "[Swift] Model generation not working with objects using inheritance."
Swagger.yaml defintion as follows:

`BaseAccount:
    type: object
    discriminator: accountType
    required:
    - accountType
    properties:
      accountType:
        type: "string"`
  `Account:
    allOf:
      - $ref: '#/definitions/BaseAccount'
      - type: object
        properties:
          nickname:
            type: "string"
            description: "Description the user has given t

[2016-04-11 12:06] akhilkedia94 opened #2552 "[Petstore] Errors in petstore.json according to http://editor.swagger.io/"
On using the **master branch petstore.json**, swagger editor [http://editor.swagger.io/](url) gives the error -
[code]
![a](https://cloud.githubusercontent.com/assets/13836826/14426309/140894fc-0029-11e6-9190-e4437b102f22.jpg)

**Steps to reproduce**

1. copy the petstore.json from [https://raw.githubusercontent.com/swagger-api/swagger-codegen/master/modules/swagger-codegen/src/test/resources/pets

[2016-04-11 12:20] wing328 commented on #2552
@akhilkedia94 yes, that needs to be fixed. Please use https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml for the time being.

I should be able it fix it within this week.

[2016-04-11 12:31] kenjitayama opened #2553 "Output template variables as single JSON"
Currently, when both `-DdebugModels` and `-DdebugOperations` are used, template variables are output as separate JSONs.

If they are merged as a single JSON, it would be easier for developers to use their favorite template engines, such as EJS.
Actually, I am having a hard time writing mustache templates to match our own client HTTP library, and I am starting to use EJS.

I am using this modificat

[2016-04-11 12:38] wing328 commented on #2553
RE: hard time writing mustache templates.

We've recently merged https://github.com/swagger-api/swagger-codegen/pull/2360 to support new features in Mustache such as https://github.com/samskivert/jmustache#newline-trimming

I found it much better than before.

Is that something you would give a second try?

[2016-04-11 15:09] tomekc opened #2557 "Invalid Swift code for multipart POST with query parameters"
When endpoint is multipart/form-data and contains both form params and query params, like this one

[code]

Resulting code has double "falsefalse" argument in

[code]

I have found mustache template for this:

[code]

 and probably end up with PR to fix :) Any suggestions are welcome, however :)

One thing I'd like to learn is what is "**secondaryParam**"?

[2016-04-11 15:34] kenjitayama commented on #2553
Thanks for introducing the updates in JMustache.
Newline Trimming sounds great, but I wanted more functionality in my templates.

My templates became to have heavily nested "if/else", so I want to shift those to helper methods.
With EJS, I can write helper methods in template files using Javascript, which can help the output part of the template become more readable.
Other template engines that al

[2016-04-11 15:36] fehguy commented on #2553
Sorry, these are logic-less so no if/else logic is possible.  You'll have to do this in your pre-processing logic.

You can do this, but strategically we are not supporting template logic.  You can set variables and do a `{{#YOUR_VAR}}` or `{{^YOUR_VAR}}` which simulates if/else

[2016-04-11 15:50] wing328 commented on #2557
@tomekc thanks for reporting the issue. It's not a case we've tested before and of course we would appreciate your contribution to fix it.

For `secondaryParam`, please refer to the discussion in https://github.com/swagger-api/swagger-codegen/pull/2125. Basically it's for better naming of Swift & ObjC method name.

[2016-04-11 15:51] kenjitayama commented on #2553
I might be missing something. Where can I put pre-processing logic? Do I need to write a custom generator class?

My current method is something like this. It's really a workaround, but this way I can use any template engine.

[code]

[2016-04-11 15:53] fehguy commented on #2553
Yes, you would write a java class to mutate the output

[2016-04-11 15:56] kenjitayama commented on #2553
I understand it's important to separate logic from template.

Thanks, I'll consider that as an option too.

[2016-04-11 15:57] wing328 commented on #2553
@kenjitayama can you please elaborate a bit more on the logic you need in the template? Some examples would be helpful.

[2016-04-11 15:58] wing328 commented on #2553
(you can do it later as it's late in Japan, 1am JST)

[2016-04-11 16:00] wing328 commented on #2549
@jfiala yes, it's definitely something we want to leverage and I'm sure the community would appreciate your contribution on that.

Let me know if you need help.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-04-11 16:32] Heedster opened #2559 "Enum values OFF and ON not getting generated properly."
I observed this weird issue today when generating java client using maven codegen plugin, that enum values like OFF and ON are somehow ignored. Lets say in my YAML definition, there is:
[code]

In the above scenario, no enum type is generated, and the class member laziness have the type String.
But, If the definition was as follows:
[code]

Codegen generates the enum with just one value - MEH, and

[2016-04-11 17:06] wing328 commented on #2517
@twhetzel I've filed #2560 to support Python2.

You need to pass `-DsupportPython2=true` to the command line argument. Here is an example:
[code]
About no content being display, did you get the "do some magic!" string when accessing the endpoint?

[2016-04-11 17:25] neilotoole opened #2561 "In DefaultCodegen.java, CodegenParameter.is<TYPE>Param flags should be set before invoking postProcessParameter"
In [DefaultCodegen#fromOperation](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1554), we call `fromParameter()` to build the `CodegenParameter` object, and then a few lines [later](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCode

[2016-04-11 19:10] neilotoole commented on #2330
I recently ran into this issue with a [PR](https://github.com/google/go-github/pull/325) I created for go-github client. I initially implemented the datatypes without pointers, but there's a valid reason the Google guys are using pointers: sometimes you want to send the zero value (e.g. an empty string) back to the API, and sometimes you want to omit a field entirely. Pointers allow you to do this

[2016-04-11 19:25] neilotoole opened #2564 "[Go] [Bug] QueryParam struct field names must be exported (UpperCamelCase)"
Currently, the Go generator can produce code like this:

[code]

Note that `userId` is not exported (first letter is lowercase). Therefore sling doesn't see the `userId` value, and doesn't send it in the request.

[2016-04-11 20:22] fehguy opened #2565 "update parser version"
The swagger-parser has a new interface for it in the 1.1.0-SNAPSHOT version.  This should be updated in swagger-codegen in all places, and the user should be given feedback as provided by the `SwaggerDeserializationResult`.

See https://github.com/swagger-api/swagger-parser/issues/231

[2016-04-11 20:25] jaz-ah commented on #2531
@cjolif ah sorry - I had a slightly different enum case within an object that was working - your case is definitely broken.

[2016-04-11 20:27] arilynN opened #2566 "missing documentation"
There should be a hint in the documentation which explains how the mustache templates are built. There is nothing about -DdebugOperations -DdebugModels or -DdebugSupportingFiles which explain a mustache template and its attributes.

[2016-04-11 20:42] webron commented on #2559
Well, here's an interesting bit of information about YAML - values such as `yes`, Yes`, `On`, `on` and their respective negative forms are actually considered boolean `true`/`false` values. What? Yes.
So when translating

[code]
to JSON, you'd actually get....

[code]
And those aren't really valid values for a string-typed property are they? So they inadvertently  end up being ignored.

How to wor

[2016-04-11 22:24] tomekc commented on #2557
I see much room for simplification here. Just to make sure, in following snippet:

[code]

isBody is supposed to be **true** only in case of JSON encoded bodies, and false otherwise?

[2016-04-12 00:02] twhetzel commented on #2517
Thanks again for the quick response!
Still sorting out the blank page display. My swagger.yaml file is [here](https://github.com/twhetzel/mygene-swagger/blob/master/swagger.yaml) - do you have suggestions on how to resolve this issue? Also, I can open a new post if preferred.

[2016-04-12 00:46] kenjitayama commented on #2553
I mentioned about heavily nested if/else ( using `{{#SOME_VAR}}` and `{{^SOME_VAR}}` ), but here is a simpler example I experienced.

I have my own HTTP client library written in Swift, and I am writing mustache templates to generate code that can be used with it.
It uses a JSON library called SwiftyJSON, and the syntax for retreiving string value from a json object is `jsonObject["someKey"].strin

[2016-04-12 02:57] wing328 commented on #2566
Would this help? https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2016-04-12 03:30] wing328 commented on #1949
Done via #2528. Thanks @guohuang

[2016-04-12 03:30] #1949 closed

[2016-04-12 03:32] wing328 commented on #1948
Done via #2532 #2544 . Thanks @guohuang

[2016-04-12 03:32] #1948 closed

[2016-04-12 03:33] wing328 commented on #1946
Done via #2546. Thanks @guohuang

[2016-04-12 03:33] #1946 closed

[2016-04-12 03:58] wing328 opened #2569 "[Go] unit testing for Go generator"
Similar to other languages we want to add the following for testing Go code generator:
 - modules/swagger-codegen/src/test/java/io/swagger/codegen/go/GoModelTest.java
 - modules/swagger-codegen/src/test/java/io/swagger/codegen/go/GoClientOptionsTest.java

A copy starting point is to copy test cases in other languages (e.g. PHP) and here are 2 good examples:
 - modules/swagger-codegen/src/test/java

[2016-04-12 04:33] wing328 commented on #2510
@Jonovono FYI. I've documented it in https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-04-12 07:12] wing328 commented on #2517
@twhetzel it works for me:
[code]

[2016-04-12 07:38] wing328 opened #2572 "[Go] Add docstring to Go API methods"
From what I know, there's no official way to document a method in Go. We'll use the [ObjC method comment](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/objc/api-header.mustache#L25) as a starting point to document the API methods in Go.

[2016-04-12 09:05] wing328 commented on #2553
@kenjitayama Can your custom HTTP client library extends `RequestBuilder <T>` similar to what [AlamofireRequestBuilder](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/swift/PetstoreClient/Classes/Swaggers/AlamofireImplementations.swift#L18) has done? (so that you don't need to retrieve the string value of the jsonObject in the template)

Or can you write a wrapp

[2016-04-12 10:31] arilynN commented on #2566
Yes alot. Is there even more documentation about the codegeneration or specific things about it? Maybe it would be good if u make a link in the a README of codegen. I looked for something like that and havn't found it.

[2016-04-12 10:32] arilynN commented on #2566
Maybe a little example of how to use it in a template -> {{basePath}} would be nice

[2016-04-12 14:46] harryblam commented on #2116
has there been any progress on this? I have been looking into it, and have got up to the point of propergating non-optional Swift properties, but am having trouble creating a custom init method with more than one property. For example

`    public init(prop1: String, prop2: String) {
        self.prop1 = prop1
        self.prop2 = prop2
    }`

Would be:
`     public init({{#vars}}{{#isEnum}}{{#re

[2016-04-12 14:54] cjolif opened #2575 "[Swift] generated swift sample/test is not working"
It output errors like:

![image](https://cloud.githubusercontent.com/assets/623171/14464459/2a954b7e-00cf-11e6-8b43-f28073c8346f.png)

It seems it might relate to this commit:

44a4219e3e89a34a297bbb7fa7482dd2c57f0681

that introduces something around ByteArray?

[2016-04-12 15:02] cjolif commented on #2575
Another new error:

![image](https://cloud.githubusercontent.com/assets/623171/14464715/518e2538-00d0-11e6-876e-e13e10e5e61c.png)

[2016-04-12 15:02] cjolif commented on #2575
this was working when I made my PR about int32/64.

[2016-04-12 15:06] wing328 commented on #2575
@cjolif  To confirm, are you using the latest master?

[2016-04-12 15:06] wing328 commented on #2575
When i added a test model with byte format property, I did run the swift integration test with updated petstore and the test passed.

[2016-04-12 15:09] cjolif commented on #2575
yes master.

[2016-04-12 15:12] pixelshaded commented on #2221
My two cents:

It depends on if we want to support null or not. Right now, the spec itself does not:
https://github.com/OAI/OpenAPI-Specification/issues/229
And this would sway me towards throwing on null params.

But looking in to the future, I think there is a good chance the spec will support nulls. Many APIs give meaning to receiving null data (not my preference personally).

The spirit of the

[2016-04-12 15:14] wing328 commented on #2575
I couldn't find the line (ByteArray) in Swift Petstore:
[code]

Have you run `mvn clean package` before regenerating the Swift Petstore sample?

[2016-04-12 15:28] cjolif commented on #2575
I did the package, but I forgot the clean, maybe that explains it? let me try.

[2016-04-12 15:38] cjolif commented on #2575
that was it. I'm really sorry. I'm not into maven much. Now I will know ;)

[2016-04-12 15:40] wing328 commented on #2575
@cjolif no problem. Let us know if you see any issue with the new model that I added, which aims to cover all types and formats.

[2016-04-12 15:40] #2575 closed

[2016-04-12 16:33] cjolif commented on #2575
@wing328 I think I spotted a real (hopefully :)) issue this time. See here:

https://github.com/swagger-api/swagger-codegen/commit/44a4219e3e89a34a297bbb7fa7482dd2c57f0681#commitcomment-17070194

[2016-04-12 16:36] cjolif commented on #2116
that one is tricky. I think the mustache engine that swagger-codegen is using has extensions that allows you to deal with that. See: https://github.com/samskivert/jmustache#-first-and--last

[2016-04-12 18:38] guohuang commented on #2572
@wing328 we already have this on the api method, what are we missing? https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/go/swagger/PetApi.go#L32-38

[2016-04-12 20:20] ePaul commented on #2559
Maybe there should be an error or at least a warning when you get enum values which don't match the type attribute (or other schema restrictions), instead of simply ignoring them?

[2016-04-12 21:02] saharj opened #2576 "Issue with the default swagger editor"
Moving this issue from [here](https://github.com/swagger-api/swagger-editor/issues/684#issuecomment-209049513).

I am having this issue with the default swagger editor at swagger.io.

My yaml was:
[code]
But the code that was generated was:

[code]
Which is wrong, because the fieldlist parameter was optional.

It should have been something like:

[code]

[2016-04-12 23:06] #2500 closed

[2016-04-13 00:28] tommyjcarpenter commented on #2576
Here is a full working example. Just generate a flask server and then inspect `default_controller`:

[code]

[2016-04-13 00:46] kenjitayama commented on #2553
The point is that some developers have their own preference of HTTP client code, and want control over them.
I have no issues blocking development at our project for now.

It might not match the strategy of swagger-codegen, but I thought giving freedom to use template engine of their choice would enable diversity of generated client code.
Maybe better client code will keep evolving.

[2016-04-13 00:57] #2517 closed

[2016-04-13 00:58] wing328 commented on #2572
@guohuang you're right. I was reading some outdated code.

[2016-04-13 00:58] #2572 closed

[2016-04-13 01:01] wing328 commented on #2553
@kenjitayama I definitely want to give freedom to other developers to leverage template engine of their choice but it comes down to resource we've to make it happen.

Have you looked at the Java SDK? It supports 5 different HTTP libraries (e.g. Jersey 1.x, 2.x, Retrofit 1.x, 2.x, etc) thanks to a swappable ApiClient.java. If Swift API client has something similar, would that help meet your require

[2016-04-13 01:09] wing328 commented on #2572
@guohuang I noticed that there's a commented method declaration at https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/go/swagger/PetApi.go#L38

If you've time, I wonder if you can file a PR later to remove it.

[2016-04-13 01:30] wing328 commented on #2566
Added https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables#usage.

Let us know if you've further feedback.

[2016-04-13 01:53] wing328 commented on #2561
PR merged into master

[2016-04-13 01:53] #2561 closed

[2016-04-13 02:20] wing328 commented on #2550
@harryblam I don't think it's supported in Swift at the moment.

[2016-04-13 03:14] wing328 commented on #2535
PR merged. Thanks for the contribution from @guohuang

[2016-04-13 03:14] #2535 closed

[2016-04-13 03:15] wing328 commented on #2534
PR merged. Thanks for the contribution from @guohuang

[2016-04-13 03:15] wing328 commented on #2548
PR merged. Thanks to the contribution from @guohuang

[2016-04-13 03:23] wing328 opened #2579 "[Go] Add configurable user agent to Go API client"
Similar https://github.com/swagger-api/swagger-codegen/pull/2376, we want to make the user agent in Go API client configurable.

A new property UserAgent should be added to the Configuration struct.

If no user-agent is supplied via CLI or config, it should be default to `Swagger-Codegen/{version}/go`

[2016-04-13 03:43] wing328 commented on #2576
@tommyjcarpenter Thanks for reporting the issue. I've filed #2580 to fix it.

[2016-04-13 03:46] #2534 closed

[2016-04-13 03:46] #2548 closed

[2016-04-13 07:40] sbelan commented on #2219
@wing328 ... Please let me know, Is more input require on this?

[2016-04-13 07:51] wing328 commented on #2219
@sbelan given that both swagger parser and codegen have released a stable version, can you pull the latest master of swagger codegen to give it another try ?

[2016-04-13 07:57] wing328 commented on #2566
Added links to Wiki and FAQ in the front page (README.md)

[2016-04-13 07:57] #2566 closed

[2016-04-13 07:58] wing328 commented on #2569
PR merged. Thanks to the contribution from @guohuang

[2016-04-13 07:58] #2569 closed

[2016-04-13 08:04] wing328 commented on #2576
PR merged into master, please pull the latest of swagger codegen and give it another try.

[2016-04-13 08:04] #2576 closed

[2016-04-13 08:06] wing328 commented on #2451
@fabdslv may I know if you've cycle to help submit a PR for okhttp, retrofit1x , 2x and feign?

[2016-04-13 08:25] sbelan commented on #2219
@wing328 ... I have planned migration activity from 2.1.5 to 2.1.6 for my application. I will let you know if issue still persist.

[2016-04-13 08:51] wing328 commented on #2506
@langdonx I did a test on Windows and the test files are generated in a separate folder.

Let's say my output folder is set to e:\Petstore. The test files are created in the folder e:\Petstore.Test\

Are you using the latest version? Please do a `mvn clean package` to recompile the jar.

[2016-04-13 09:07] wing328 commented on #2330
@neilotoole thanks for the feedback on this.

I'd a look at https://github.com/google/go-github/ and found the following:

1) model properties use pointer for primitive types and models (structs) (e.g. https://github.com/google/go-github/blob/master/github/issues.go#L22)

2) method arguments use pointer for models (structs) only whereas primitive types do not use pointer in method arguments

I sug

[2016-04-13 09:14] wing328 opened #2582 "[Go] naming convention for Go files"
Instead of using Pascal case (e.g. PetApi.go), we want to switch to underscore/snake case (e.g. pet_api.go) following https://github.com/google/go-github/tree/master/github

Here is  good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/GoClientCodegen.java#L221
(hint: toModelFileName should return snake c

[2016-04-13 09:18] wing328 commented on #2557
@tomekc that's how I understand it.

[2016-04-13 09:23] wing328 commented on #2373
@Shruti-R sorry for the delay, I should have a bit more time to look into it coming weekend...

[2016-04-13 10:50] tommyjcarpenter commented on #2576
I've been using swagger.io's editor and codegen; would the changes now be reflected there?

[2016-04-13 11:26] fabdslv commented on #2451
@wing328 The PR is ready, I just need to know if I should add these untracked files generated in the samples?

[code]

[2016-04-13 11:26] jforsell opened #2584 "C#: Required properties causing deserialization to fail"
A generated C# client throws an exception when deserializing a model that has one or more required properties. For example, the attached yaml has a Product model with a product_id attribute that is required:

[yaml.txt](https://github.com/swagger-api/swagger-codegen/files/216941/yaml.txt)

When hitting the endpoint /product that returns one Product, the ApiClient will try to deserialize it by doin

[2016-04-13 11:44] langdonx commented on #2506
Sorry, I should have included more information from the start.  I made a batch file and can reproduce it as simple as:

    wget http://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.1.6/swagger-codegen-cli-2.1.6.jar -O swagger-codegen-cli.jar
    java -jar swagger-codegen-cli.jar generate -i http://petstore.swagger.io/v2/swagger.json -l csharp

GIF:

![swagger-codegen](https://cloud.gith

[2016-04-13 11:53] BernhardBln opened #2585 "Problem with dashes in header params"
Hey,

I'm using the header param "X-Auth-Token":

[code]

However, when generating Spring MVC Server, it generates this code:

[code]

Seems like by mistake, the variable name (which correctly was turned into "xAuthToken") is wrongly used as the value in @RequestHeader. In my opinion, the original name "X-Auth-Token" should be used there.

[2016-04-13 12:27] wing328 commented on #2506
@langdonx thanks for the gif, which is very useful in understanding the issue. Can you try using the `-o` to specify the output folder?
e.g. `-o c:\tmp\swagger_client\"

[2016-04-13 12:29] wing328 commented on #2451
@fabdslv up to you. Including these will add more line changes to your PR (which is count toward your contributions in https://github.com/swagger-api/swagger-codegen/graphs/contributors)

[2016-04-13 12:30] wing328 commented on #2576
No. editor.swagger.io does not use the latest master. If I'm not mistaken, it's using swagger codegen stable version 2.1.6 (released last week).

[2016-04-13 12:31] wing328 commented on #2584
@jforsell are you using v2.1.6 or the latest master to generate the C# client?

[2016-04-13 12:34] wing328 commented on #2584
Also given that product_id is a required property and it's missing in the response (response.Content). Do you expect a Product object is created without PrductId set to null (which violates the constraint of the required property)?

[2016-04-13 12:55] langdonx commented on #2506
I used `-o .\XXX` and that gave me `XXX.Test`. :)

[2016-04-13 13:01] wing328 commented on #2506
Please use that as a workaround for the time being. We'll fix that to put the test files in a proper location even though `-o output_folder` is not provided.

[2016-04-13 13:21] langdonx commented on #2506
Realizing this is not a priority, you also get `..Test` if you use `-o .\`.

[2016-04-13 13:40] jforsell commented on #2584
@wing328 Using latest master (pulled two days ago). The /product endpoint would return a {"product_id": "abc123"} response but the deserializer above invokes the constructor with null parameters causing the constraint to be violated in the constructor of the Product class and throwing an exception. I think the json library invokes the constructor first when deserializing and sets properties after

[2016-04-13 15:16] kalkkhi opened #2586 "swagger generated names are different compared to name in class."
Hi Swagger team,

We are working with Apache CXF framework and we used Swagger provided examples to generate swagger API specification. We use Apache CXF to expose soap and restful services together. We are generating our classes from an XSD. Field name tBr is generating successfully by CXF and working fine in restful service, but when spec is created by Swagger it is changing from tBr to tbr in s

[2016-04-13 15:20] waiterZen commented on #2276
Hi, I want to contribute javascript related test code. And I also want to add some feature after driven down the core if I find something can make improvement. If I choose JS, all the pr will commit to this [reps](https://github.com/wcandillon/swagger-js-codegen)?

[2016-04-13 15:24] wing328 commented on #2276
@waiterZen that's a separate project. You can refer to the PRs above to get a better understanding of what the change (adding auto-generated test files) looks like

[2016-04-13 15:31] neilotoole commented on #2330
@wing328 @treeder  There's some really good background reading on the go-github design choice [here](https://github.com/google/go-github/issues/19).

This is a significant decision, and I suggest we consider it very carefully. As you can see from the go-github conversation, they really thought hard about it as well, and were reluctant to go the pointer route, because, frankly, it makes use of the

[2016-04-13 15:38] #2410 closed

[2016-04-13 15:39] fabdslv commented on #2451
I made a PR with the changes on dependencies, and I regenerated the samples.

[2016-04-13 15:45] vdillon opened #2588 "JAX-RS ApiResponse 'response' and 'responseContainer' annotations get duplicated"
I used the Swagger Editor to create:

[code]

Then I generated JAX-RS Server code from the editor.  Here is the APIResponses section in the PersonApi class:

[code]

The 'response' and 'responseContainer' annotations from the 200 response block got used in the 500 ApiResponse.

[2016-04-13 15:54] harryblam commented on #2116
That worked nicely thanks @cjolif . Now just having problems further up the chain...

[2016-04-13 15:55] wing328 commented on #2585
@BernhardBln thanks for reporting the issue. I should be able to take a look at that tomorrow..

[2016-04-13 16:06] jforsell opened #2589 "C#: Use fully qualified names for model objects"
Had an offline convo with @wing328 about this - in the generated Java code Api classes use fully qualified type names, but not in C#. I'm generating code for an API that I don't have control over, and it defines a "Stream" model which causes an ambiguous reference to System.IO.Stream and causes the code to not compile.

I can fix it by commenting out "using System.IO" which is an unused import in

[2016-04-13 20:28] KevinGlinski commented on #2359
I can pick up the c# doc, doesn't look like anyone is working on it.

[2016-04-13 20:57] kalkkhi commented on #2586
@wing328 Hi I can see that you were looking on other issues reported and this issue was skipped. Can you have a look on it?

[2016-04-13 23:11] timburks commented on #2523
Works. 👍

[2016-04-14 04:47] wing328 commented on #2579
Feature contributed by @guohuang

[2016-04-14 04:47] #2579 closed

[2016-04-14 04:53] wing328 commented on #2586
@kalkkhi well I didn't skip it. I'm just no expert in Apache CXF framework and let's see if someone from the community can help on this.

[2016-04-14 05:01] wing328 commented on #2523
@timburks glad to hear that. Let us know if you've any feedback on the ObjC API client. I hope you find it easy to use with the documentation (markdown)

[2016-04-14 05:01] wing328 commented on #2359
@KevinGlinski Thanks Kevin. Saw your PR (https://github.com/swagger-api/swagger-codegen/pull/2595)

[2016-04-14 06:36] wing328 commented on #2582
Done thanks to the contribution from @guohuang

[2016-04-14 06:36] #2582 closed

[2016-04-14 06:38] wing328 commented on #2589
@guohuang has filed #2594 to use fully qualified names in C# API client.

[2016-04-14 06:55] #2430 closed

[2016-04-14 09:07] cjolif opened #2599 "[Swift] duplicate lines in models objects"
In Model objects you sometimes get twice the same line generated:

nillableDictionary["id"] = self.id?.encodeToJSON()
nillableDictionary["id"] = self.id?.encodeToJSON()

See: https://github.com/swagger-api/swagger-codegen/commit/44a4219e3e89a34a297bbb7fa7482dd2c57f0681#commitcomment-17070194

for more details.

[2016-04-14 09:07] morten-holm opened #2600 "Trying to generate Map<String, enum>"
Hi

Swagger-codegen: 2.1.6
Language: Java

I'm trying to generate Map<String, enum> from .json files:

[code]

But the generated code ends up like this:

[code]

Is what I'm trying to do possible at all?

[2016-04-14 10:14] wing328 commented on #2600
@morten-holm technically the spec allows it but I don't think it's support in any langauges at the moment.

To workaround the limitations at the moment, please use just string instead of enum of string.

[2016-04-14 10:26] wing328 commented on #2599
Just want to add that from what I know this bug does not impact the functionality of the Swift API client or cause any issue but still we need to clean it up as there's no point handling the same property twice.

[2016-04-14 11:27] SalehAly commented on #1500
@wing328 did that thank you for the notice :+1:

[2016-04-14 12:33] wing328 commented on #2475
Thanks for the PR, which has been merged into master.

[2016-04-14 12:33] #2475 closed

[2016-04-14 12:56] BernhardBln commented on #2585
Thanks a lot :)

[2016-04-14 13:14] chirag272003 opened #2602 "Model Mapping of 400/500 error code"
I have generated java client for my rest api. I have specified models for error responses 400 and 500 also but always i get error back as APIException and whole json is copied as string in ApiException.

Has anybody faces this issue and happen to resolve it?

[2016-04-14 15:27] sreich opened #2604 "codegen cli doesn't warn or error for non existent template path"
if a template path provided to swagger-codegen-cli doesn't exist, it is simply silently ignored. this costed me a bit of debug time, as i finally realized my typo.

it can be assumed that if that option is passed, it should be an error if the template path does not exist. or else why would you be specifying it? alternatively i'd just settle for a warning..anything is better than nothing.

[2016-04-14 15:30] wing328 commented on #2604
Sorry to hear that it's causing you a bit of time to debug. Are you using the latest master? or 2.1.6 stable version?

If my memory serves me well, I did get warning/error before when the expected template file is not found.

[2016-04-14 15:34] sreich commented on #2604
Yep, did it with latest stable, 2.1.6. Simply add -t "/path/doesnt/exist"  and it won't error or warn.

[2016-04-14 15:37] wing328 commented on #2604
OK. I'll look into this more on coming weekend or next.

[2016-04-14 16:02] wing328 commented on #2374
@scottball1968 this should be addressed by the PR #2603 submitted by @kolyjjj. Please take a look.

[2016-04-14 16:26] cjolif opened #2605 "[Swift] reserved keywords management is a bit agressive"
`Type` is a reserved keyword in Swift. But `type` is not (at least as far as I know). Still if I use `type` it will be escaped to `_type`.

[2016-04-14 16:48] wing328 commented on #2585
@bernhardBin I've filed #2606 to fix it. Please perform a test when you've time.

[2016-04-14 17:10] wing328 commented on #2564
PR merged. Issue closed.

[2016-04-14 18:22] Heedster commented on #2559
@webron

Not really, I tried generating the JSON from editor.swagger.io, which generated the enum values as

                    "description": "Flag to denote whether laziness should be enabled or disabled.",
                    "type": "string",
                    "enum": [
                        "ON",
                        "OFF"
                    ]
                },

[2016-04-14 18:53] webron commented on #2559
That's because there's a bug in the converter (and many converters). Regardless, if you expect it to work *everywhere* you *have to* quote the values. You shouldn't expect it to work everywhere because buggy converters exist.

@ePaul - not sure how much control we have over the parsing if that's controlled by third party libraries, though @wing328 would be better to comment on that :)

[2016-04-14 21:12] webron opened #2607 "Generated Java Client relies on java.util.Objects (since 1.7), pom.xml specifies Java 1.6"
_From @devinjones on April 14, 2016 20:58_

I generated a Java client for a swagger file and imported it as an existing maven project in eclipse.
There were compilation errors related to the `equals()` and `hashCode()` methods, caused by class not found: java.util.Objects

_Copied from original issue: swagger-api/swagger-editor#869_

[2016-04-15 02:35] kenjitayama commented on #2553
Sorry for replying late.
I found the mustache files for those client libraries.
It's great that many client libraries are supported but sometimes people already have HTTP libraries of their own and need to use them.
The default Swift client library uses Alamofire and we do too, but we use RxSwift instead of PromiseKit, have our way of request retrying, and so on.

Yesterday I rewrote all my mustac

[2016-04-15 08:25] jemprince opened #2610 "bug in c# code generation"
this json:
"SupplierPartPrice": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string"
        },
        "PartNumber": {
          "type": "string"
        },
        "Manufacturer": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "Availability": {
          "format": "int32",
          "type":

[2016-04-15 08:31] wing328 commented on #2610
@jemprince yes, we'd this issue before and should be fixed in the latest master.

I wonder if you can give it a try with the latest master of swagger codegen and see if the issue persists.

[2016-04-15 08:34] jemprince commented on #2610
Sorry - can't try that because we are using https://generator.swagger.io/api/gen/clients/csharp
when will this be updated to latest master?

[2016-04-15 08:34] #2610 closed

[2016-04-15 08:37] wing328 commented on #2610
There's ETA on when the latest master will be pushed to generator.swagger.io.

You can also host your own generator.swagger.io in your environment to run the latest master of swagger  codegen.

Another workaround is to update the spec to remove `"readOnly": true` for the time being.

[2016-04-15 08:40] #2585 closed

[2016-04-15 08:40] wing328 commented on #2585
PR merged into master. Please pull the latest to give it a try.

[2016-04-15 08:44] jemprince commented on #2610
its ok we can wait - its only a test failing not an application issue

[2016-04-15 08:52] wing328 commented on #2559
I agree that a warning message would be helpful. My take is that it's more like a feature request/confirmation for the [YAML parsing library](https://fasterxml.github.io/jackson-databind/javadoc/2.0.0/com/fasterxml/jackson/databind/ObjectMapper.html) in io.swagger.util.Yaml (swagger-core).

We'll mark this as a feature request pending the community to look into more (to see if there're better appr

[2016-04-15 09:33] wing328 opened #2611 "[Go] Add pom.xml to automate testing for Go API client (Petstore)"
Add a pom.xml (similar to Ruby Petstore [pom.xml](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/pom.xml)) so that we can later include Go API client as part of the CI.

The pom.xml for Go Petstore client should be in the folder https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/go

[2016-04-15 12:34] #2451 closed

[2016-04-15 13:21] wing328 commented on #2607
@devinjones can you please provide the swagger spec for us to reproduce the issue?

[2016-04-15 14:52] tomekc commented on #2557
I did the fix, but found more serious issue deeper below.
In case of POST request, **query parameters are discarded** (because iBody is "true" in that case).

Apparently, RequestBuilder is not designed to support that case. I will go on and submit PR.

[2016-04-15 15:16] wing328 commented on #2557
@tomekc thanks for the fix.

FYI. The query parameter issue with POST request has been reported before: https://github.com/swagger-api/swagger-codegen/issues/2483

[2016-04-15 16:13] wing328 commented on #2483
@cjolif may I know if you or someone has already opened a ticket with https://github.com/Alamofire/Alamofire/ team? (I did a search in that repo but couldn't find one)

[2016-04-15 16:25] FlorentBarreau opened #2615 "Jaxrs-CXF missing mustache variables for javax.validation framework"
Hello,

I'm using swagger codegen maven plugin to auto-generate endpoints and models for a REST API project. I personalize mustache template to generate javax.validation annotations such as
@Valid, @Min, @Max, @Size, @Pattern, etc... on Query/PathParam and Models

So far I'm facing to those 2 Issues :
- {{minimum}} and {{maximum}} returns Double values because of CodegenProperty minimum and maximu

[2016-04-15 16:36] cjolif commented on #2483
no, but actually in the interim someone told me that using lower-level Alamofire APIs (i.e. not the high level API used in swagger-codegen) it should be feasible. I don't have the details however.

[2016-04-15 17:28] wing328 commented on #2605
Yes, the current approach is to make a case insensitive comparison of the reserved word list.

Is it correct to say that Swift reserved keyword are **all** case sensitive just like "Type"?

[2016-04-15 19:04] degroves opened #2618 "Generated class should have members but doesn't"
I used the JSON spec in [this gist](https://gist.github.com/degroves/4f9cae2dfb799842ed90f8f81d027669) with Swagger Codegen 2.1.6.  The spec includes the definition of a string type with a pattern.  The gist includes the generated code for that string type and the generated DefaultApi.java.  There are no members at all for the generated class.  The DefaultApi.java code uses the generated class.

T

[2016-04-15 19:34] dantran opened #2619 "[java] incorrect generation of java Object"
version: 2.1.6

swagger specs:

    "Attributes" : {
      "type" : "object"
    },

instead of mapping it to java object, it create new class

    package com.macomp;
    import java.util.Objects;
    @javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2016-04-14T08:31:30.310-07:00")
    public class Attributes   {

      @Override
      public bool

[2016-04-15 19:35] dantran commented on #2619
similar/related to https://github.com/swagger-api/swagger-codegen/issues/2237

sorry i should have check thoroughly when that bug if fixed

[2016-04-15 20:03] cjolif commented on #2605
I can't find a good official reference on that, _but_ for example I can use 'Var' as variable name, so it seems so, that yes they should all be sensitive.

[2016-04-16 04:58] wing328 commented on #2543
PR merged. Thanks for the contribution from @guohuang

[2016-04-16 04:58] #2543 closed

[2016-04-16 14:08] lienhua34 opened #2621 "auto-generated Node.js server code has a error if the API path contains underline(_)"
I have a swagger api spec file, which content is
[code]
I edit this file in http://editor.swagger.io, and use “generate server --> Node.js” to generate Node.js server stub code.

After I start the server, I open another terminal and use the following command to call the api,
   $ curl http://localhost:8080/hello/lienhua34

The server responses a error. The error is
[code]
**I open the api/swagger.

[2016-04-16 15:30] sbelan opened #2622 "Swagger codegen test files compilation issue - wrong package name"
@wing328 ... just took latest master and found compilation issue for GO test files GoClientOptionsTest .java and GoModelTest .java . Test classes has package package io.swagger.codegen.Go; it should be package io.swagger.codegen.go;

[](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/java/io/swagger/codegen/go/GoClientOptionsTest.java)

[2016-04-16 15:39] sbelan commented on #2607
@wing328 ... I faced similar issue couple of days back when I changed target source compilation level to 1.6 in pom file. This is because java.util.Objects has different implementation for equals() and hashcode(). So all generated models gives the error mentioned by @webron. I modified logic of equals() and hashcode() compatible to 1.7. But as I have using retrofit and OKhttp, Okhttp not compatibl

[2016-04-16 17:43] sbelan commented on #2502
@ruvicgithub .. To achieve your goal, you will require modification of model.mustache for the specific library and add xml annotations at root and elements level.  @fehguy  and @wing328 I did annotation changes for retrofit library model.mustache and its worked well with retrofit simplexml converter. Please let me know, Can these changed require across all languages and library? so that I will con

[2016-04-16 19:10] wing328 commented on #2622
@sbelan first of all, there's no need to pinpoint me for every "issue"

I just pull the latest in a new folder and couldn't repeat the issue.

[2016-04-16 20:48] quickshiftin opened #2624 "Magento2 Swagger generated php client - list parameterization broken"
I've generated a PHP client library for Magento2, against [their public schema](http://devdocs.magento.com/swagger/schemas/latest-2.0.schema.json), using [swagger-codegen](https://github.com/swagger-api/swagger-codegen). I'm able to connect to Magento and just trying some methods to see how usable the generated client is. It seems like I'm either missing something or maybe the swagger spec publish

[2016-04-16 20:53] quickshiftin opened #2625 "Magento2 Swagger generated php client - Syntax error in ErrorParametersItem"
I've generated a PHP client library for Magento2, against [their public schema](http://devdocs.magento.com/swagger/schemas/latest-2.0.schema.json), using [swagger-codegen](https://github.com/swagger-api/swagger-codegen).

The generated client has a syntax error in the _lib/Model/ErrorParameters.php_ file:

`class ErrorParameters extends array<ErrorParametersItem> implements ArrayAccess`

should be

[2016-04-17 04:30] sbelan commented on #2622
@wing328 ..really sorry for the inconvenience

[2016-04-17 07:33] BernhardBln commented on #2585
Hey,

thanks for the quick reaction!

I pulled the latest master, and with my sample, it seems that it's working now!

Hope it'll find its way into the swagger editor soon ;-)

[2016-04-17 09:53] wing328 commented on #2374
PR merged into master. Thanks for the contribution from @kolyjjj

[2016-04-17 09:53] #2374 closed

[2016-04-17 12:02] wing328 commented on #2611
PR merged. Thanks @guohuang

[2016-04-17 12:02] #2611 closed

[2016-04-17 12:02] wing328 commented on #2622
np.

[2016-04-17 12:02] #2622 closed

[2016-04-17 14:01] jimschubert commented on #2589
/cc @wing328

@jforsell verified in #2594 that this works for `System.IO.Stream`. Would this issue now be more appropriate to allow for the generation of fully qualified names for all models, not just Stream?

[2016-04-17 14:33] wing328 commented on #2589
@jimschubert yes, looking at the bigger picture, we should consider using fully qualified names for all models.

We began with Task (System.Threading.Tasks.Task) a year ago and then Stream (System.IO.Stream) and it's just a matter of time we hit another one.

I'll create a separate task to track it.

[2016-04-17 14:33] #2589 closed

[2016-04-17 14:34] wing328 commented on #2589
Also @jforsell confirmed earlier (via email) that the fix works for him.

[2016-04-17 14:35] wing328 opened #2630 "[C#] Use fully-qualified name for models"
Similar to Task (System.Threading.Tasks.Task) a year ago and then Stream (System.IO.Stream), we want to use fully-qualified name for models.

Related discussion: #2589

If anyone wants to work on this, please reply to let us know.

[2016-04-17 14:37] wing328 commented on #2589
Sorry one more note. Based on my understanding, using fully-qualified name is not against the C# best practices or coding style guide.

Please correct me if I'm wrong.

[2016-04-17 14:48] wing328 opened #2631 "[Documentation] Add CLI switch to opt-out documentation (md) generation"
Add a CLI switch (e.g. generateDoc) for generating documentation.

Default is true.

Related discussion: https://github.com/swagger-api/swagger-codegen/pull/2595, https://github.com/swagger-api/swagger-codegen/issues/2079

If anyone wants to work on this, please reply to let us know.

[2016-04-17 14:50] wing328 commented on #2522
@cdaringe would this help?

https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2016-04-17 15:06] cdaringe commented on #2522
Ya, thanks guys.

[2016-04-17 15:06] #2522 closed

[2016-04-18 03:07] wing328 commented on #2621
I think it's similar to this issue: https://github.com/swagger-api/swagger-codegen/issues/2409

[2016-04-18 04:29] yonaskolb commented on #2605
Yes, this was a recent change to reserved types that I didn't agree with. I've made a pull request here https://github.com/swagger-api/swagger-codegen/pull/2633 that makes reserved types case sensitive again in Swift

[2016-04-18 04:29] dantran commented on #2619
@wing328 I dont think it is closed as part of v2.1.6.   I can produce this issue under v2.1.5 and v2.1.6

[2016-04-18 08:57] wing328 commented on #2604
@sreich I've submitted a PR with better exception handling and an example of the error message is shown below:
[code]

[2016-04-18 11:54] seb-pereira commented on #2599
The duplicated line in comment https://github.com/swagger-api/swagger-codegen/commit/44a4219e3e89a34a297bbb7fa7482dd2c57f0681#commitcomment-17070194 is in file `InlineResponse200.swift`. When I run  `./bin/swift-petstore.sh` it does not generate this file. How is the file `InlineResponse200.swift` generated?

[2016-04-18 11:55] sreich opened #2636 "swagger-codegen-maven plugin templateDirectory fails reading classpath:/ dirs"
it seems i am not able to specify a classpath:/ dir to the template option for the swagger codegen maven plugin.

doing so just results in it trying to find the actual path, aka not resolving it.

Failed to execute goal io.swagger:swagger-codegen-maven-plugin:2.1.6:generate (default) on project testproject: Execution default of goal io.swagger:swagger-codegen-maven-plugin:2.1.6:generate failed: Il

[2016-04-18 13:16] wing328 commented on #2602
I don't think Java supports the deserialization of model specified in the custom error code at the moment.

As a workaround, can you deserialize the JSON string into the error model specified in the custom error code manually at the moment?

[2016-04-18 13:55] pixelshaded commented on #1487
Still an issue. Execute this command in master:

[code]

And then run npm test

[code]

The output references don't look in the subfolders when using namespaces.

[2016-04-18 14:11] wing328 commented on #1487
@pixelshaded so the following will work?
[code]

[2016-04-18 14:25] pixelshaded commented on #1487
No. The models exist in a completely different folder from the api if you define a model package (which is ideal since folder structure should match namespacing).

They are in api/clients/petstore/models when passing modelPackage=api.clients.petstore.models

[2016-04-18 14:26] wing328 commented on #1487
so the following should work, right?
[code]

[2016-04-18 14:36] pixelshaded commented on #1487
this depends. The reference path is the relative path of the file from the api.d.ts. That depends on the apiPackage if one is defined.

The Api classes themselves are always right next to the api.d.ts for the typescript-angular generator, so they won't need anything to be valid.

[2016-04-18 14:40] pixelshaded commented on #1487
Also, the models files include a reference path to the api.d.ts, but they also expect api.d.ts to be in the same folder. Just seems like namespaces that deviate is just not supported atm.

[2016-04-18 14:41] pixelshaded commented on #1487
Whats worse is that the api implementations don't use the fully qualified name of the type either (aka namespace is not included), so even if we resolved the reference issues, we'd still have challenges when trying to compile.

[2016-04-18 15:01] fabdslv commented on #2116
I just made a PR for this issue, the attributes will be required only when using 'unwrapRequired' mode.

[2016-04-18 15:11] pixelshaded commented on #1445
does  --additional-properties modelPropertyNaming=original have any effect on this?

[2016-04-18 15:22] kolyjjj commented on #2621
A temporary solution is to add `operationId: getHelloByUserId`

Below is what I used for generating, and it works fine after I download it.
[code]

[2016-04-18 15:46] philwinder commented on #2304
👍

[2016-04-18 15:53] wing328 commented on #2304
@jfiala yes, I'm sure others would welcome your contribution on that.

[2016-04-18 22:29] yaelah opened #2641 "[Java] Need to reference Java objects that are not in the model"
We have multiple components that use swagger. Some of the model classes are shared among those components.
We need to reference those classes from the swagger models that are not shared. If we simply generate those classes for each component, we will need to write conversion code for those classes. This is bad for performance and it is error prone.
If the swagger models supported reference to exte

[2016-04-19 01:15] treeder commented on #2330
Interesting read @neilotoole , thanks for sharing. It sounds like there is no other option really, you have to use pointers. I suppose the title of this issue should just be "Default to pointers for all types".

Aside 1: If it's required, that's true, doesn't need to be a pointer, but the more I think about it, the more you might as well just go all pointers, in case you change the api at some poi

[2016-04-19 03:10] wing328 commented on #1551
@nickcmaynard @nicksloan do you mind pull the latest master of Swagger Codegen to see if you're still facing the issue? Thanks.

[2016-04-19 07:57] abcsun opened #2643 "Does the generator support to generate API endpoints with match priority?"
I am try to create a lumen generator, but apis generated from the mustache file may not work well because the match priority question.

this is my [route.mustache](https://github.com/abcsun/swagger-codegen/blob/lumen/output/LumenServer/src/main/resources/LumenServerCodegen/app/Http/routes.mustache) file.

and these routes was produced from the [petstore](http://petstore.swagger.io/v2/swagger.json)

[2016-04-19 08:12] wing328 commented on #2643
@abcsun for this case, a workaround is to ask the spec owner to rearrange the endpoints so that `/user/login` appears first.

We can document this workaround for the time being until the community comes up with a better solution.

Thanks for the contribution to create the server generator for PHP Lumen.

[2016-04-19 08:16] WillaLuo opened #2644 "Error happened when the name of properties of Model is "property" of Python client"
Hi, Does anyone know why this happened,

The Model defined like this:
[code]

And this the error message:
[code]

[2016-04-19 08:21] wing328 commented on #2644
I think it's complaining about the property with the name "property". If you manually change it to something else (e.g. _property), the compilation error should go away.

We can fix it permanently by updating the reserved keyword list defined for the Python code generator.

[2016-04-19 08:28] wing328 commented on #2605
Thanks @yonaskolb for the PR, which has been merged into the master.

[2016-04-19 08:28] #2605 closed

[2016-04-19 08:29] wing328 commented on #2604
PR merged into master. Closing this issue.

@sreich please kindly pull the latest and give it another try to see if you're now more happy with the error message.

[2016-04-19 08:29] #2604 closed

[2016-04-19 09:06] wing328 commented on #2448
@orkenstein sorry for late reply on this. Do you mind pull the latest master and see if the issue persists?

We've just released stable version v2.1.6 and want to know if this is still an issue.

[2016-04-19 10:24] Vrolijkx commented on #1809
I created a pull request based on roni-fratchi's work. see #2645.

[2016-04-19 11:37] wing328 opened #2646 "[Groovy] generator for Groovy API client"
Seems like the Groovy code generator was not migrated to Java as part of the scala to java migration: https://github.com/swagger-api/swagger-codegen/pull/73

If anyone wants a Groovy API client or is interested in working on the migration, please reply to let us know.

[2016-04-19 12:02] cjolif commented on #2480
@wing328 @fehguy will you publish a 2.2.0-SNAPSHOT as you were doing for 2.1.6? The reason I'm asking is that my workflow relies on that ;) The more frequent you could to that the better for me. Otherwise I will look into a different workflow if that is not something you would like to pursue.

[2016-04-19 12:35] ePaul commented on #2480
@cjolif I think you should not rely on SNAPSHOTs from projects which are not under your control. Or maybe compile it yourself (or have some job which compiles it for you) and upload to your own Maven repository?

[2016-04-19 12:35] ePaul commented on #2480
On the other hand, for this project:
* We should try not to depend on SNAPSHOT dependencies which are not in the same repository (i.e. which are updated together).
* We should try to actually release more often than once every few months, so people can use the released versions to get their new features/bug fixes instead of having to rely on SNAPSHOT versions.

[2016-04-19 13:16] #1809 closed

[2016-04-19 13:17] wing328 commented on #1809
PR merged into master. Please pull the latest.

[2016-04-19 13:31] monestri commented on #300
Please use https://tv.eurosport.com/ as an example of an expired certificate. Point any swagger java client to it and it should throw an ssl exception. Normally it should throw a 404, since it won't have the swagger endpoints implemented.

Is there any ability for swagger java clients to connect to invalid ssl certificates?

[2016-04-19 13:49] neilotoole commented on #2330
@treeder I suspect there's another option that the now infamous [Issue #19](https://github.com/google/go-github/issues/19) didn't consider. Don't pull the trigger on going all pointers just yet. I'll try to get a generator available this week for you guys to look at, but I believe it'll solve this issue elegantly.

[2016-04-19 16:02] wing328 commented on #1657
If anyone from the community wants to work on this, please reply to let us know.

[2016-04-19 16:04] wing328 commented on #1856
@erikvanzijst  Please try the latest version 2.1.6, which should handle this by renaming the model from Object to ModelObject.

[2016-04-19 16:08] wing328 commented on #2527
@mattfysh  I'm not aware anyone working on it.

I just checked again and the latest release is `2.0.0-alpha.1`

Do you have cycle to contribute a PR?

[2016-04-19 16:54] guohuang commented on #2296
@neilotoole I am working on moving rest call logic to a centralized location (api_client.go) which will address this issue. I will notify you when it is done. stay tuned!

[2016-04-19 17:13] fehguy commented on #2480
I'll try to get travis to start uploading snapshots.

[2016-04-19 19:14] ePaul commented on #2552
Is this fixed by #2623?

[2016-04-19 19:30] ePaul commented on #2641
Did you try [the import-mappings feature](https://github.com/swagger-api/swagger-codegen#bringing-your-own-models)?  (I didn't, but the description sounds like it is what you want.)

[2016-04-19 19:49] arnested commented on #2625
That's definitely an error (it's not even valid PHP being generated)!

I don't think right code is `class ErrorParameters extends ErrorParametersItem implements ArrayAccess` though.

In the specification `ErrorParameters` are defined as an array of `ErrorParametersItem`s. That doesn't sound like `ErrorParameters` should extend `ErrorParametersItem`:
[code]
I have a small fix that will generate bet

[2016-04-19 20:53] arnested commented on #2624
The `GET /V1/products` operation in [the spec you refer to](http://devdocs.magento.com/swagger/schemas/latest-2.0.schema.json) define all the parameters like this:
[code]
(some of the parameters are of type `int` but otherwise defined similarly).

That only allows a single occurrence of each filter parameter. If multiple occurrences should be supported the spec could have defined them as i.e.:
[co

[2016-04-20 01:30] yaelah commented on #2641
Thank you so much for your suggestion. It works!

[2016-04-20 01:30] #2641 closed

[2016-04-20 02:30] wing328 commented on #2552
@ePaul @akhilkedia94 yes. Now petstore.json and petstore.yaml are representing the same set of endpoints and models.

[2016-04-20 02:30] #2552 closed

[2016-04-20 08:16] wing328 commented on #2641
Documented in the FAQ: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-to-import-java-objects-that-are-not-defined-as-model-in-the-openapiswagger-spec

[2016-04-20 08:59] wing328 commented on #2599
@seb-pereira thanks for the finding. I've updated the Swift petstore sample via #2651

We'll reopne this issue when there's another report of the same issue.

[2016-04-20 08:59] #2599 closed

[2016-04-20 08:59] alexec opened #2652 "Load Generator using ServiceLoader to enable alternative generators"
This would be really useful, allowing you to write your own generators:

[code]

[2016-04-20 09:00] wing328 commented on #2599
FYI. Test cases for Swift Petstore passed:
[code]

[2016-04-20 09:28] wing328 commented on #2643
@abcsun another workaround I can think of (without modifying the template) is to sort the endpoints in ascending order so that endpoints with { will end up at the bottom.

[2016-04-20 09:38] WillaLuo opened #2654 "When Parameters's required properties is false, don't generate related argument."
The definition sample is here
[code]
The generated API method
[code]

update_orchestration method doesn't have argument 'body' and 'action'.

[2016-04-20 11:53] vipera opened #2657 "Generator - numbers getting stripped from tag names"
I have a swagger path tagged with "v1-apiname", and would like to generate an api (with api.mustache) that is named v1_apiname.rb (according to my settings).

My first thought was to override `toApiFilename`, but it seems that a function higher in the call chain, `apiFilename` (DefaultCodegen.java line 2404), already gets "Vapiname" as the tag parameter using the above example, meaning that I am u

[2016-04-20 12:11] wing328 commented on #2654
That's because `body` and `action` are optional parameters (not required).

[2016-04-20 13:37] andriydruk opened #2660 "[Android] Generated models 'hashCode' and 'equals' problems"
In version 2.16 in generated models 'equals' and 'hashCode' don't work or lead to crash on old devices.

1. Android (default and voley) generated models don't implement methods 'equals' and 'hashCode'. It makes impossible to use this classes in collections. E.g. class [Animal](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/android/default/src/main/java/io/swagge

[2016-04-20 14:19] wing328 commented on #2644
@WillaLuo I've filed https://github.com/swagger-api/swagger-codegen/pull/2661 to fix it

[2016-04-20 14:27] wing328 commented on #2660
@andriydruk thanks for reporting the issue. Would you have cycle to contribute a PR to implement `equals` and `hashCode` for Android (default and volley)?

Here are some good starting points:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/android/model.mustache

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codege

[2016-04-20 14:27] quickshiftin commented on #2625
Thanks for your quick attention to this. My 'solution' was to just make it `class ErrorParameters extends ErrorParametersItem implements ArrayAccess` in my build of the generated code. Since it's under version control I think I'll have to live with patches on the generated code until upstream changes resolve them. Interesting that may not even be a correct patch though!

Appreciate your quick atte

[2016-04-20 14:31] quickshiftin commented on #2624
Hi, appreciate your quick attention to this as well. I recently blogged to the ["not quite there yet"](https://quickshiftin.com/blog/2016/04/magento2-not-ready-prime-time/) state of Magento2 and feel your evaluation of these issues lends credence to my opinion.

I think Magento2 and Swagger client both look very promising though, and believe in open source, so will try to spend a little time helpi

[2016-04-20 15:21] wing328 commented on #2657
The conversion from tag to file name should be customizable. We'll need to look into this more.

If anyone from the community wants to work on this, please reply to let us know.

[2016-04-20 15:22] wing328 commented on #2652
@alexec do you mind submitting a PR so that we can review and give an example on using alternative generator?

[2016-04-20 15:26] wing328 commented on #2618
@degroves the model properties should be inside "properties".

e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L940

[2016-04-20 15:27] wing328 commented on #2588
@vdillon thanks for reporting the issue. What should be correct APIResponses section looks like?

[2016-04-20 15:33] wing328 commented on #2553
@kenjitayama thanks for sharing additional details with us.

My view is that in this case you're using a customized HTTP library to meet your requirement, which is perfectly fine. To me, it's trade off between cost of customizations (with ongoing maintenance) and the benefit provided by those customized changes/libraries.

If I might, I want to attack this problem from a different angle. For your

[2016-04-20 15:37] degroves commented on #2618
I changed the definitions from the gist I posted to this:

    "definitions": {
      "emptyclass": {
        "properties": {
          "notemptyanymore": {
            "type": "string",
            "pattern": "samplepattern"
          }
        }
      }
    },

I saw the generated class included a string, but did not enforce the pattern.

[2016-04-20 15:39] wing328 commented on #2618
@degroves The pattern is not supported at the moment.

[2016-04-20 15:40] degroves commented on #2618
OK, good to know.  Thanks!

[2016-04-20 15:40] degroves commented on #2618
Is there an issue to add support or should I leave this open to add support?

[2016-04-20 15:42] wing328 commented on #2618
I'll open a separate issue to track it as we need to add the support for all languages we supported so far (which is a lot...)

How critical is the pattern to your use case?

[2016-04-20 15:44] degroves commented on #2618
Having pattern support will make our lives easier, but I think we can work around not having it.

I'll close this issue.  Thanks for your help!

[2016-04-20 15:44] #2618 closed

[2016-04-20 15:45] BernhardBln opened #2662 "password in toString in generated model"
When using format "password", e.g.

[code]

the field "password" is contained in the toString method of the generated model class.

In my opinion, that's a security issue (you don't want client passwords appearing in log files etc.)

Would it make sense to change the corresponding line in toString to:

`        sb.append("  password: ").append("<protected>").append("\n");`

whenever the format "pa

[2016-04-20 15:53] wing328 opened #2663 "Add pattern support to parameter/property"
We want to add pattern (http://json-schema.org/latest/json-schema-validation.html#anchor33) support to parameters and model properties.

If anyone is interested in adding the pattern support to a particular language, please reply to let us know.

[2016-04-20 15:54] wing328 commented on #2618
FYI. Opened https://github.com/swagger-api/swagger-codegen/issues/2663 for tracking.

[2016-04-20 16:56] degroves commented on #2618
Thank you!

[2016-04-20 18:18] vdillon commented on #2588
Given the above Swagger, I would expect the correct APIResponses to be:

@io.swagger.annotations.ApiResponses(value = {
        @io.swagger.annotations.ApiResponse(code = 200, message = "Get all person", response = Person.class, responseContainer = "List"),
        @io.swagger.annotations.ApiResponse(code = 500, message = "Unexpected error(s)", response = ApiError.class) })

[2016-04-20 19:08] skirkpatrick commented on #2607
@wing328 The `default.yaml` example spec available in the swagger editor is sufficient for reproducing this.

A minimalist spec would be any spec that has a `definitions` section:
[code]

Every generated class under `io.swagger.client.model` has a reference to `java.util.Objects`, which was only added in JDK 1.7. The generated `build.gradle` specifies 1.7 as the target/source version, but the `pom

[2016-04-20 19:21] leonyu opened #2665 "argument list vs single argument object"
I am looking to create my own codegen template specifically for TypeScript with XHR. If it is generic enough, I might create a PR to merge it back.

However, looking at the two existing TypeScript implementations, they both use argument list instead of argument object:
[code]
Since a lot of the API params are optional for my project, I would much prefer
[code]
Is there existing facility for doing

[2016-04-20 22:12] chirag272003 opened #2666 "swagger codegen maven plugin support for json file as dependency"
We are using swagger codegen maven plugin but we want to provide json file as maven dependency to the plugin instead of providing as inputSpec and location of it. Is it possible or planned for future to provide support of json as maven dependency inside maven swagger plugin?

[2016-04-20 22:37] monestri opened #2668 "Swagger-codegen 2.1.6 fails to compile with @JsonValue"
@fehguy

Starting with swagger-codegen 2.1.6, java code fails to compile when an @JsonValue annotation is added to enum toString() with no corresponding import statement. Workaround is to use swagger-codegen 2.1.5.

[code]

[code]
Generates...

[code]

[2016-04-21 02:22] K76154 commented on #944
Can we at least change the abstract class to interface first? That looks weird, and we all know abstract class is much less flexible then interface

[2016-04-21 05:19] fehguy commented on #944
@K76154 can you please open a different ticket for your request?

@garydgregory we did have to make a call, if there's an issue in the specification that you provide, to either generate and allow users to fix the code, or just fail.  We went with the former because it does add a lot more value.  So if you're still seeing issues, please raise them.

[2016-04-21 05:19] #944 closed

[2016-04-21 07:28] wing328 commented on #2665
One option is to customize it: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/api.mustache and pass the customized template folder via command line argument `-t`

[2016-04-21 07:30] wing328 commented on #2662
Agree with you that password should be not captured in the log file.

Technically it's possible by introducing a new boolean flag `isPassword` that can be used in the template.

[2016-04-21 07:34] arnested commented on #2625
Just leave it open. There is a bug in Swagger Codegen. I'll work on a patch for this.

Patching either swagger codegen or the generated code can be an ok way to move forward on a project. I've done that myself as well.

[2016-04-21 07:35] wing328 commented on #2615
@FlorentBarreau ideally {{minimum}} and {{maximum}}  should be determined by langauges (e..g 3.7F for float value in C#) and I would foresee some changes in the codegen class to accommodate that.

For {{#required}}, are you looking for {{^required}} (the opposite of "required" being set to true) ?

And most importantly thanks for offering help to contribute to this project.

[2016-04-21 07:36] wing328 commented on #2644
PR merged into master. Please pull the latest and let us know if you still see the same issue.

[2016-04-21 07:37] #2644 closed

[2016-04-21 07:39] fabdslv opened #2669 "[Swift] Generated SDK build fails when using request parameters of type integer in query or body"
It is caused by the fact that `Int32` is not convertible into `AnyObject`. In the API method, the following code fails to build :

[code]

[2016-04-21 07:44] cjolif commented on #2669
This seems to be a follow up of some of my work. So I'll look into this. thanks for reporting.

[2016-04-21 08:03] fabdslv commented on #2669
@cjolif Okay, thanks.

[2016-04-21 08:29] BernhardBln commented on #2662
But why do you need this extra flag? You already have the "password" format, as shown in my example above. IMHO, that should be enough to exclude the password.

Otherwise you end up always setting up both:

[code]

But I don't think that is necessary.

[2016-04-21 08:34] wing328 commented on #2662
that's not what i mean. in the mustache template, there's no access to format and mustache is a logic-less template so there's no way to set condition.

have a look at https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables and you will know what i mean

[2016-04-21 08:43] fabdslv commented on #2669
[Here](https://gist.github.com/fabdslv/12fbb7918d41e0cbc7e057ffeb061e3e) you can find Petstore swagger modified with only `getPetById` request, failing because I removed the `format` property.

[2016-04-21 09:15] BernhardBln commented on #2662
Oh, I see. Alright :)

[2016-04-21 09:17] wing328 commented on #2662
I've flagged the request as "Need community contribution" to see if anyone from the community has cycle to implement that.

[2016-04-21 09:36] andriydruk commented on #2660
@wing328 yes. Should I rebuild samples after my fix? Could you explain how I should do it?
When I execute android-petstore.sh, script rebuilds the only subset of models like 'User', 'Tag', 'Pet' but doesn't 'Animal', 'Dog', 'Cat', etc.

[2016-04-21 09:38] wing328 commented on #2660
@andriydruk have you done a `mvn clean package` before running `./bin/android-petstore.sh`?

[2016-04-21 09:38] wing328 commented on #2660
@andriydruk btw, please pull the latest before working on your fix.

[2016-04-21 09:42] fabdslv commented on #2669
After review, `format` property doesn't change anything, the issue is related to the parameter location : it is working for `path` but not for `query` or `body`. I updated the gist in consequence.

[2016-04-21 09:59] andriydruk commented on #2660
@wing328 yes, I've done this.
I've just looked at `./bin/android-petstore.sh`. It contains `-i modules/swagger-codegen/src/test/resources/2_0/petstore.json`.
In this [petstore.json](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json) I can't find any of `Animal`, `Cat` or `Dog` models, but these classes are already in samples.

[2016-04-21 10:01] wing328 commented on #2660
Sorry, those are left over after updating the spec.

You can choose to purge the model and api models before running ./bin/android-petstore.sh again.

[2016-04-21 10:04] wing328 commented on #2493
@cjolif may I know if that's something you're working on? A good starting point is to look at how ObjC API client supports authentication.

[2016-04-21 10:44] K76154 opened #2672 "Create interfaces instead of abstract classes for JAX-RS"
The generated service api are based on abstract classes, not interface. We all know that abstract class is something to avoid in Java, and interface provides much more flexibility. So please make the generated codes interfaces instead of abstract classes

[2016-04-21 11:05] cjolif commented on #2493
@wing328 not in a short term. I do have workaround for my case for now.

[2016-04-21 11:07] wing328 commented on #2493
@cjolif no problem. We'll see who from the community has cycle to contribute this.

For the workaround, do you mean adding default headers?

[2016-04-21 11:12] cjolif commented on #2493
@wing328, yes my workaround is to add the expected headers as default headers.

[2016-04-21 11:13] NadaBen opened #2673 "how to use swagger codegen with symfony2"
Hello, i'm developping an api with symfony2, i'm using nelmio bundle for documentation task, i want to know how to use swagger-codegen to generate and support other languages

[2016-04-21 11:20] cjolif commented on #2480
@ePaul I agree my production workflow should not include these snapshots. But I'm in experimental mode right now and doing contributions , and getting the snapshot working would be helping.

[2016-04-21 11:36] K76154 commented on #944
Create issue #2672 for this

[2016-04-21 12:31] cjolif commented on #2669
PR: #2674

[2016-04-21 12:33] tylerlong opened #2675 "Cannot generate code for examples from swagger-editor project"
Go to http://editor.swagger.io/

Menu --> File --> Open examples --> twitter.yaml

Menu --> File --> Download YAML, the file was saved as `swagger.yaml`

[code]

Error message:

[code]

The issue is either about swagger-codegen or sample of swagger-editor.

[2016-04-21 12:58] #2660 closed

[2016-04-21 13:48] wing328 commented on #2675
@tylerlong  Can you share the spec so that we can use it to reproduce the issue?

[2016-04-21 13:49] jforsell commented on #2584
Apologies, have been playing around with this some more and just realised the example YAML I attached above was overly simplified and did not properly demonstrate the issue. Please see this new example:

[yaml.txt](https://github.com/swagger-api/swagger-codegen/files/230010/yaml.txt)

The problem is when you have a model, Product, with an allOf reference to BaseProduct. This generates a C# class c

[2016-04-21 13:52] jforsell commented on #2584
Not sure if relevant, but I get the same result (exception thrown in parent BaseProduct class) when adding a discriminator productType:

[yaml.txt](https://github.com/swagger-api/swagger-codegen/files/230024/yaml.txt)

[2016-04-21 14:08] Vrolijkx opened #2677 "Typescript angular2 should have a package.json"
For know the TypeScript angular2  generator only generate typescript files. It would be better if it could create a whole node/npm project. This way we could publish our client to npm and import it into other projects.

I created a pull request with a working example #2676

[2016-04-21 14:19] tylerlong commented on #2675
@wing328

The spec is from http://editor.swagger.io/ examples.

And as far as I can tell, the issue can be reproduced with any languages (not only CSharp).

[code]

[2016-04-21 14:20] #2669 closed

[2016-04-21 14:22] tylerlong commented on #2675
Json version of the spec:

[code]

[2016-04-21 14:25] wing328 commented on #2669
@fabdslv PR (by @cjolif ) merged into master. Please pull the latest master and let us know if you still experience the issue.

[2016-04-21 14:26] wing328 commented on #2675
@tylerlong thanks for the info. I would suggest you to try the other example (e.g. petstore_full) while we look into this issue further.

[2016-04-21 14:33] kalkkhi commented on #2586
Thanks @wing328, I am not sure about forum practices, so is this added as a bug and kept to fix on release version v2.2.0?

[2016-04-21 14:41] wing328 commented on #2586
@kalkkhi I've marked it as 2.2.0 for the time being but there's no guarantee.

I would suggest you to share the swagger spec so that the community can use it to reproduce the issue and help fix the issue if they've cycles.

[2016-04-21 14:42] FlorentBarreau commented on #2615
@wing328 thanks for your reply !

Actually, I finally forked the codegen and added a JavaCXFValidationServerCodegen which extends JavaCXFServerCodegen (generation langage option = "jaxrs-cxf-validation")

- for the {{minimum}} issue, i made the following work-around :
As CodegenProperty min and max variables are not used and as they are String, I copy minimum/maximum intValue on them, and display

[2016-04-21 14:47] wing328 commented on #2615
`{{#required}}@NotNull{{/required}}` should meet your requirement assuming 'required' is a boolean, not a string.

Ref: https://mustache.github.io/mustache.5.html => "False Values or Empty Lists"

[2016-04-21 15:17] fabdslv commented on #2669
@wing328 It seems to be fixed, thanks

[2016-04-21 15:22] wing328 commented on #2669
@fabdslv thanks for the confirmation. Credits go to @cjolif

[2016-04-21 15:26] kalkkhi commented on #2586
@wing328 how to share the swagger spec, json fie alone or the implementation classes and class files?

[2016-04-21 15:30] wing328 commented on #2586
The json file. You can use gist.github.com

[2016-04-21 15:54] wing328 commented on #2621
PR merged into master. Issue closed.

[2016-04-21 15:54] #2621 closed

[2016-04-21 15:55] wing328 commented on #2409
#2655 merged into master. Not sure if that fixes the issue but would recommend you to pull the latest and give it a try.

[2016-04-21 16:03] wing328 commented on #2615
And here is a helpful tip for debugging: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-to-debug-swagger-codegen

[2016-04-21 16:06] fehguy opened #2678 "jersey targets broken"
Something broke swagger-codegen for `jaxrs` targets in master, see https://github.com/swagger-api/swagger.io/issues/101

[2016-04-21 16:12] wing328 commented on #2678
@fehguy taking a look..

[2016-04-21 16:16] wing328 commented on #2678
Due to missing template:
[code]

[2016-04-21 16:22] wing328 commented on #2678
It's due to https://github.com/swagger-api/swagger-codegen/pull/2435 and AbstractJavaJAXRSServerCodegen.java extends JavaClientCodegen.

I've created a PR to rollback the change for the time being: https://github.com/swagger-api/swagger-codegen/pull/2679

[2016-04-21 16:31] wing328 commented on #2678
#2679 merged into master.

Pull the latest and running `mvn clean && ./bin/jaxrs-petstore-server.sh` does not throw any exception.

`mvn test` on samples/server/petstore/jaxrs is also successfully.

Sorry for the inconvenience caused by this.

[2016-04-21 16:31] #2678 closed

[2016-04-22 02:14] saharj opened #2680 "Example code doesn't work with swagger-codegen"
_From @tylerlong on April 21, 2016 12:36_

Go to http://editor.swagger.io/

Menu --> File --> Open examples --> twitter.yaml

Menu --> File --> Download YAML, the file was saved as swagger.yaml

[code]

Error message:

[code]

The issue is either about swagger-codegen or example of swagger-editor.

_Copied from original issue: swagger-api/swagger-editor#879_

[2016-04-22 02:14] saharj commented on #2680
We have realized that there is a problem with twitter.yaml example. Do you have this issue with other example files as well?

[2016-04-22 02:14] saharj commented on #2680
_From @tylerlong on April 22, 2016 1:50_

@saharj yes, I tested several yesterday. instagram.yaml has this issue too. Actually I was unable to get any of the examples working.

[2016-04-22 02:33] tylerlong commented on #2680
@saharj

I created an issue for this repo yesterday:  https://github.com/swagger-api/swagger-codegen/issues/2675

I created two because I didn't know what's the root cause of the issue: swagger-codegen or swagger-editor.  Since you closed the one in swagger-editor project, I guess you are sure that root cause is swagger-codegen.

You can close this issue.

[2016-04-22 02:37] wing328 commented on #2680
@tylerlong I just tested with petstore_full and petstore_simple, and both work fine in terms of generating C# API client. Do these work for you?

To generate API client or server stub, editor.swagger.io sends a HTTP request to https://generator.swagger.io, which generates the code, so please make sure the connection between your PC/MAC and generator.swagger.io is good.

[2016-04-22 03:27] woohooyayaya opened #2682 "ubuntu "\lib\Models" instead of "/lib/Models""
I followed this tutorial([https://azure.microsoft.com/en-us/documentation/articles/machine-learning-consume-web-services/](url)) and tried to generate php client code in regards to the deployed Azure service.

This is the output on the terminal.

[main] INFO io.swagger.codegen.AbstractGenerator - writing file /home/ubuntu/server/fp/slim/SwaggerServer\lib\Models/AzureBlobDataReference.php
[main] IN

[2016-04-22 07:43] tylerlong commented on #2680
@wing328 From the original question you can see that I was generating code on my own machine:

[code]

I didn't test petstore because I don't know what's it about. I tested the most famous two: twitter and instagram and neither worked.

[2016-04-22 07:49] wing328 commented on #2680
@tylerlong ok. we will add better exception handling for those spec.

[2016-04-22 08:04] webron commented on #2480
The projects that the codegen depends on are still under swagger-api. Given the nature of the projects development and the dependencies between them, it is inevitable to have SNAPSHOTs depend on other SNAPSHOTs. We don't have the capacity to do an intense release cycle and if we wait for a stable release for each dependency (swagger-parser, swagger-core) to solve issues in the codegen, we'll get n

[2016-04-22 08:34] cjolif opened #2683 "[Swift?] arbitrary JSON"
Some swagger file do not define exactly the type of some return/input. The just say "type:" "object" and potentially return arbitrary JSON (i.e. not in a well defined format). Swift generator does not provide any means to deal with that. Is that something some of the other generators are doing? Is that something that would make sense to add?

[2016-04-22 08:51] abcsun commented on #2643
@wing328  this may be a good solution.

Referenced from the other generators such as [GoClientCodegen](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/GoClientCodegen.java#L355)

To override the postProcessOperations function so that i could sort the endpoints, but it doesn't work.

Any suggests as i am not familiar with

[2016-04-22 12:27] edubenito opened #2684 "C# Clientgenerator dont work when server send HttpResponseMessage with the object inside"
this web api method
[code]

produce this generated code
[code]

the result object is a "string" with the json instead of return an ApplicationVM, is there a way yo can improve this.

maybe you can add in the Model a constructor with the Json. or add a static method oposite to this one
 public string ToJson() {
      return JsonConvert.SerializeObject(this, Formatting.Indented);
    }

[2016-04-22 14:33] FlorentBarreau commented on #2615
@wing328 : Yes you're right about {{#required}}@NotNull{{/required}}, no need to set it to null: if it's false, it won't be display.
Thanks for debugging tips !

[2016-04-22 14:33] wing328 commented on #2615
@FlorentBarreau no problem. Let me know if you need any further assistance.

[2016-04-22 15:18] wing328 commented on #2684
@edubenito can you share the spec with us to reproduce the issue?

[2016-04-22 16:10] jaz-ah commented on #2683
@cjolif so Swift is returning an "AnyObject" now to deal w/ this, Android returns an "Object" - and then these can be decoded appropriately - would you rather something more explicit somehow?

[2016-04-22 16:54] nicksloan commented on #1551
I'll try to take a look this weekend.

[2016-04-22 20:24] #2607 closed

[2016-04-23 05:50] maciejmakowski opened #2688 "Code generation fails with "java.lang.Double/Integer cannot be cast to java.lang.String""
After upgrading from the 2.1.5 to 2.1.6 our code generation is failing with (we actually have it both failing on a Double and Integer conversion, example here with Double):
[code]

After some digging I figured it comes down to a property like this (this time example with integer):
[code]

If I change the "x-example" line like this, the problem goes away:
[code]

The problem is however that this sc

[2016-04-23 08:52] wing328 commented on #2688
@maciejmakowski thanks for reporting the issue with the suggested fix. I've filed #2689 to fix it.

Have a nice weekend.

[2016-04-23 09:09] wing328 commented on #2683
https://github.com/swagger-api/swagger-codegen/issues/2093 is another discussion thread related to arbitrary JSON.

[2016-04-23 10:12] Vrolijkx commented on #2677
@wing328  This issue is resolved.

[2016-04-23 10:13] wing328 commented on #2677
@Vrolijkx thanks for your contribution.

[2016-04-23 10:13] #2677 closed

[2016-04-23 10:13] #2688 closed

[2016-04-23 11:53] kenjitayama commented on #2553
Topics regarding this issue seems to be spreading… but as for retry feature:

Looks like retry feature is not implemented in Alamofire and the reason might be because it is out of scope of the library.

I have no experience in PromiseKit, but I found an [open issue](https://github.com/mxcl/PromiseKit/issues/350) for that.

We are using a modified version of [this RxSwift example code](https://gith

[2016-04-23 14:05] edubenito commented on #2684
{"swagger":"2.0","info":{"version":"v1","title":"XXXXXX Conductor API V1","description":"XXXXXX Conductor API"},"host":"webwp01v01d.dcs.XXXXXXclub.es","basePath":"/XXXXXXConductorWS","schemes":["http"],"paths":{"/api/v1/sec/Applications":{"get":{"tags":["ApplicationsController"],"summary":"Get All Applicatios that match the filters","operationId":"GetList","consumes":[],"produces":["application/js

[2016-04-23 14:20] kenjitayama opened #2690 "Generate enums with integer values assigned"
I want to generate enum with integer values assigned.

Swift:
[code]

Java:
[code]

But I couldn't figure out how to do this.

In the [Swagger 2.0 specs](http://swagger.io/specification/), it references [JSON Schema specs](http://json-schema.org/latest/json-schema-validation.html#anchor76) for `enum`.
It says any type can be used, but it seems like `type` needs to be `string` for generating enums.

[2016-04-23 14:39] wing328 commented on #2690
@kenjitayama For Java, it will be taken care of by https://github.com/swagger-api/swagger-codegen/pull/2508, which adds better support for enum (number, string, special characters) in PHP, C# and Java.

For Swift, we want to do it as part of https://github.com/swagger-api/swagger-codegen/pull/2508 as well. Currently, we're adding better enum support for JS in that PR.

[2016-04-23 14:41] kenjitayama commented on #2690
Thanks for the quick response! I will be watching the issue 👍

[2016-04-24 10:24] Vrolijkx commented on #2359
I will look into the typescript doc

[2016-04-24 11:16] Vrolijkx opened #2694 "All typescript client should have to possibility to generate packaging information"
For now only the typescript-angluar2 client generates it's own packaging information. All Typescript clients should able to generate their own packaging information.
Next information should be generated:
- package.json
- tsconfig.json
- typings.json (optionaly)

I would suggest to only generate these files when the ```npmName``` option is passed.

[2016-04-25 06:47] wing328 commented on #2682
@woohooyayaya  I did a test but couldn't repeat the issue in Mac or Ubuntu. Here is the partial result:
[code]

May I know which version of swagger codegen did you use?

[2016-04-25 06:53] wing328 commented on #2643
@abcsun using postProcessOperations is a good start 👍

I'll take another look later today or tomorrow to see if I can provide you a better hint.

[2016-04-25 08:14] wing328 commented on #2584
@jforsell thanks for the details and I agree that this should be extended to a more general fix.

Here are some examples for models using composition/inheritance: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#models-with-composition

[2016-04-25 08:24] cjolif commented on #2683
@wing328 #2093 indeed looks very much like my issue, so I guess we can close this one.

[2016-04-25 08:54] edubenito commented on #2684
Sorry it was my Fault, I Miss add the Attribute [ResponseType(typeof(XXXX))]

[ResponseType(typeof(ApplicationVM))]
or
[ResponseType(typeof(IEnumerable<ApplicationVM>))]

Now it worksfine

Apologizes

[2016-04-25 09:25] wing328 commented on #2684
@edubenito no worry. Glad to hear that it's resolved. Btw, we just released stable version 2.1.6 a few weeks ago so please check it out if you've not done so.

[2016-04-25 09:25] #2684 closed

[2016-04-25 10:01] avcherkasov commented on #2619
version: 2.1.6

swagger specs:

[code]

Generates object does not inherit from the type of "integer"
ps problems with the generation of composite type
[code]

Must be

[code]

[2016-04-25 14:47] ePaul commented on #2232
I just did hit this too (two executions of the plugin, where only one was setting the `models` property, but both got the setting).

It looks like the setting of system properties was added in #1428. I think it is basically a bad idea to use System properties for transferring information inside one module – these are like global variables, but worse, as they leak to other modules which might using

[2016-04-25 15:47] jencodingatwork opened #2696 "Can't run custom code generator"
I am trying to make a custom swagger code generator based off of the existing JAX-RS generator. I followed the directions on the Swagger-Codegen GitHub page and generated a module using the command_ java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar meta -o output/myLibrary -n ABCCodegen -p com.abc.codegen_. I created the templates that I will need and updated the AbcCodegenGener

[2016-04-25 16:58] ePaul opened #2698 "Pass environment variables from maven plugin to generators without using system properties"
Currently the maven plugin (and CodegenConfigurator) sets system properties (from `<configuration><environmentVariables>`), which are then read by later code (DefaultGenerator (12×), DefaultCodegen (1×), and also some of the language Codegens (3×)).

As noted in #2232, this causes several problems, as the properties leak out, both to later executions of the same plugin (which might need different

[2016-04-25 16:59] fehguy commented on #2698
The maven plugin needs a refactoring so it uses the same configuration process as the CLI tool.

[2016-04-25 17:02] ePaul commented on #2698
Actually currently both are using `System.setProperty`, the maven plugin even twice for each property (once directly, once in CodegenConfigurator).

[2016-04-25 20:45] icefoxen opened #2700 "Python client codegen can silently ignore enums"
I have a data type definition:
[code]

And yet when my generated python client runs against this API, I get:

[code]

With the TaskResult class having no mention of the `status` property at all.

[2016-04-25 20:49] icefoxen commented on #2700
Fixed by changing the status section of my definition to:
[code]

But it'd be really nice to have Swagger or the generator output a warning in this case...

[2016-04-25 21:03] icefoxen opened #2701 "Python client codegen doesn't even try to handle formats it doesn't recognize"
I have a data type definition:

[code]

The Swagger client doesn't specify the "uuid" string format.  But it still generates references to a "UUID" object which doesn't exist:

[code]

It seems it would be more sensible to simply use a "str" object rather than referring to a UUID object which doesn't exist, or generate a stub UUID object that is just a "str".  Or maybe even generate a UUID object

[2016-04-25 21:53] purpleKarrot opened #2702 "Generation into multiple output directories"
For C, C++, Objective-C, etc we usually split the public interface from the implementation. Example: Public header files should go to `include`, private header files (eg. for helpers) and implementation files should go to `src`.

In the generator, I can add multiple entries to `modelTemplateFiles`. Each entry may have a different extension, but I also need to specify a different prefix.

[2016-04-26 06:00] #2683 closed

[2016-04-26 06:01] wing328 commented on #2682
@woohooyayaya you may also want to try the online generator as well: https://github.com/swagger-api/swagger-codegen#online-generators

[2016-04-26 06:03] wing328 commented on #2696
@jencodingatwork can you share the branch with your change so that we can try to repeat the issue?

[2016-04-26 07:27] Danielku15 opened #2704 "Replace jMustache with more advanced template engine"
I am not sure if this topic was already discussed somewhen, I could not find any related topic via search.

Mustache advertises itself as "Logic-less templates" (http://mustache.github.io/) which makes it somehow hard to implement advanced code generators. You need to prepare a lot in the Java backend for type mappings etc. and even then it's some times challenging to get the behavior you'd like t

[2016-04-26 07:49] wing328 commented on #2704
@Danielku15 thanks for the feedback. Can you share a bit more about the issue encountered when implementing the C++ code generator? (I'm sure you aware that swagger codegen already supports 2 C++ generator: qt5 and tizen)

We've already added a lot of boolean flags to mustache template and you can find out more here: https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables.

[2016-04-26 08:10] Danielku15 commented on #2704
I mainly have troubles with aligning the property types of model classes with matching JSON serialization/deserialization methods. Arrays are mapped to `std::vector` other model classes are kept as `std::shared_pointer<ModelType>`. In the code behind I setup the mappings similar like done here: https://github.com/MathiasWasAlreadyTaken/swagger-codegen/tree/development

The serialization on this re

[2016-04-26 12:21] philicious opened #2706 "Bug with -l qt5cpp and datatype "Date""
I have in my Swagger definition

[code]

and in my generated code
[code]

but there is no `SWGDate.h`file. Also https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L114 suggests that Date should be mapped to Qts own datatype `QDate`

I tried with master HEAD aswell as http://editor.swagger.io

[2016-04-26 14:17] jencodingatwork commented on #2696
Here is a link to my project [https://github.com/jencodingatwork/abcSwaggerCodegen.git](url)

[2016-04-26 15:27] jencodingatwork commented on #2696
@wing328 I got the code to run by putting the path to the jars in quotes:  java -cp "output/myLibrary/target/ABCCodegen-swagger-codegen-1.0.0.jar;modules/swagger-codegen-cli/target/swagger-codegen-cli.jar"     io.swagger.codegen.SwaggerCodegen generate  -l abc -o C:\\Swagger -i C:\\Swagger\\ForCodeGen\\swagger-hello.json.

[2016-04-26 15:27] #2696 closed

[2016-04-26 15:58] wing328 commented on #2696
Glad to hear that you've found a solution to the problem.

[2016-04-26 16:07] wing328 commented on #2706
@philicious thanks for reporting the issue and I've filed #2707 to fix it.

[2016-04-26 16:10] wing328 commented on #2704
Would the boolean flag `isListContainer` help in your situation to determine if it's a list/array?

I would also recommend you to look at how other languages perform serialization/deserializaton of JSON

[2016-04-26 16:12] wing328 commented on #2700
@icefoxen  For your suggestion to the editor, please open a ticket via https://github.com/swagger-api/swagger-editor/issues

[2016-04-26 16:13] wing328 commented on #2700
@icefoxen if you do not provide a type, it's default to "type: object" if I'm not mistaken.

[2016-04-26 16:15] wing328 commented on #2701
@icefoxen For UUID, what do you expect it mapped to in Python? this one: https://docs.python.org/2/library/uuid.html ?

[2016-04-26 16:16] wing328 commented on #2702
@purpleKarrot please elaborate with examples of different extension and different prefix.

[2016-04-26 16:18] wing328 commented on #2673
@NadaBen sorry I don't quite understand what you mean.

Is your API documented in Swagger Spec? If yes, you can use it to generate API clients, server stubs, documentation. Please refer to https://github.com/swagger-api/swagger-codegen#getting-started to get started.

[2016-04-26 16:21] wing328 commented on #2668
@monestri thanks for reporting the issue. I'll look into this more tomorrow.

[2016-04-26 16:28] icefoxen commented on #2701
That would be nice, but given that "uuid" is not a standard type in the Swagger spec, I'm not sure I can really expect it to be supported.  I'd be happy if I specify "type: string" and "format: uuid" and it just gave me a string back, instead of trying to create an object that doesn't exist.

I'd be really happy if an unknown format was mapped to whatever the specified type is, and if it has a for

[2016-04-26 16:38] icefoxen commented on #2700
Yeah, upon looking at the JSON schema spec it appears that values in an enum can be any type, and you don't have to specify a type for the enum as a whole.

[2016-04-26 19:18] chirag272003 opened #2709 "swagger codegen maven plugin issue with java 1.6"
I am using swagger codegen maven plugin 2.1.6 along with java 1.7. But my server side rest api is developed on java 1.6.

Everything works fine but ClientResponse.getStatusInfo() never matches with ClientResponse.Status.BAD_REQUEST due to java version mismatch. I can see that all the values of statusinfo enum(status code, family and reasonphrase) are same in both.

Please let me know if above use

[2016-04-26 20:49] icefoxen opened #2710 "Python client does not set Content-Type correctly for file uploads"
From the following swagger snippet:

[code]
Results in this code:
[code]

`ApiClient.select_header_content_type()` seems a bit mysterious since it takes a list of content types and, if the list is empty, returns `application/json`, and if not, does some normalization, and returns `application/json` or the first content type in the list.  So the above code will just always return `application/json`

[2016-04-26 21:04] guohuang commented on #2710
@icefoxen it is not a bug, i think you are missing `      consumes:
        - multipart/form-data`, see this for reference: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#l253

[2016-04-26 21:53] purpleKarrot commented on #2704
Why? Especially in C++ you should be able to treat different types the same way.

For each complex type you would generate a function like the following:
[code]

For builtin standard types you would provide implementations in a support library:
[code]

Then you just always call `convertToString`, no condition needed.

[2016-04-26 22:10] purpleKarrot commented on #2702
OK, an example: For the model ``Pet``, I want to generate the header file `include/PetStore/Pet.h` and the source file `src/Pet.cpp`.

Clients should be able to include the generated files like this: ```#include <PetStore/Pet.h>```. They should not be able to accidentally include source files, hence the separation. This layout is pretty standard.

[2016-04-26 23:24] neilotoole opened #2711 "The classes should implement equals(), hashCode() and toString()."
As a matter of general Java hygiene, all of the modeling classes (e.g. `CodegenModel`) should implement `equals()` and `hashCode()`, especially given that they are stored/accessed via Collections.. subtle bugs can appear when dealing with collections and these methods are not implemented. A friendly `toString()` also makes debugging a lot easier.

[2016-04-27 01:05] stunney commented on #283
Another +1 for the cpprest sdk generator.  PLEASE!!!!

[2016-04-27 02:33] #2706 closed

[2016-04-27 02:33] wing328 commented on #2706
@philicious PR merged into master. Please pull the latest and let us know if you still experience the same issue.

[2016-04-27 02:44] wing328 commented on #283
@MathiasWasAlreadyTaken if you've something ready for beta (a partially working C++ client), I would suggest you to submit a PR so that the community can start looking into it and file PRs for improvement.

[2016-04-27 03:04] wing328 commented on #2702
Thanks for the example. May I know if you've cycle to help contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-04-27 03:19] alvindaiyan opened #2713 "Can I use a json string or json as input for code-gen?"
Hi,

As when I use the code-gen, my server side uses a cookie for session management. It looks like code-gen not supports cookie. So can I use a json file as input?

Also, if the return type has generic types, the static html page looks bad:

`
SomethingÂ«SomethingImplÂ»
`

[2016-04-27 05:29] JoshuaWhatley opened #2714 "C# - Lists of enums not properly generated"
SwashBuckle will generate a swagger json similar to the following for List<enumType>. The generated client code contains a couple mistakes.

- The name is missing
- Missing [JsonConverter(typeof(StringEnumConverter))]
- The generic type in the list is correct in the constructor, but incorrect in the property

[code]

Swagger Doc:
[code]

I have a fix, but it is leveraging a hack written by a previ

[2016-04-27 05:31] wing328 commented on #2714
@JoshuaWhatley thanks for reporting the issue. We've a fix here: https://github.com/swagger-api/swagger-codegen/pull/2508

Do you mind performing a fix to see if it works for you?

Also we welcome PR on top of #2508 to make it better.

[2016-04-27 05:32] #2116 closed

[2016-04-27 05:56] JoshuaWhatley commented on #2714
One remaining issue after applying the fix in #2508
-The generic type in the list is correct in the constructor, but incorrect in the property

Expected
[code]

Actual
[code]

[2016-04-27 06:08] wing328 commented on #2714
@JoshuaWhatley thanks (I'll do a rebase on the latest master later today)

[2016-04-27 06:19] MathiasWasAlreadyTaken commented on #283
I would love to be able to work more on this, and the future is looking brighter. I might be able to do some work with it soon, so as soon as I have something that is runnable I'll submit a PR.

[2016-04-27 06:26] JoshuaWhatley commented on #2714
I believe this issue is present for Dictionaries as well.

Expected
[code]

Actual
[code]

Swagger doc:
[code]

[2016-04-27 06:28] wing328 commented on #2714
Right, I don't think I've done anything specified to Array or Dictionary yet.

[2016-04-27 06:32] JoshuaWhatley commented on #2714
Understood, I thought I should be mentioned. Great work by the way, this is a super cool project.

[2016-04-27 06:33] wing328 commented on #2714
@JoshuaWhatley thanks for the positive feedback :)

It's worth mentioning to you that you can also generate ASP.NET5 server stub using Swagger Codegen given the OpenAPI/Swagger spec.

[2016-04-27 08:01] Danielku15 commented on #2704
@wing328: Most of the other languages have a runtime type information (reflection) available all serialization is done automatically within the JSON framework. In C++ you do not easily get this information.I had a look at the QT serialization, there it seems that string comparisons during runtime are used to do the serialization. I find this approach with void pointers and string comparisons a bit

[2016-04-27 08:03] wing328 opened #2715 "Add customisation user-agent"
Similar to https://github.com/swagger-api/swagger-codegen/pull/2376, we want to add customisable user-agent to all API clients.

If anyone wants to work on the remaining, please reply to let us know:

- [ ] Android
- [ ] C++
- [x] C# (https://github.com/swagger-api/swagger-codegen/pull/2595)
- [ ] Clojure
- [ ] Dart
- [ ] Flash
- [x] Go (https://github.com/swagger-api/swagger-codegen/pull/2593)
-

[2016-04-27 08:06] wing328 commented on #2704
@Danielku15 please take a look at PHP: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/ObjectSerializer.php

It relies on swagger_type mapping (static): e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Model/Pet.php#L59

[2016-04-27 08:13] neilotoole opened #2717 "[Go] [Bug] api_response file does not use package variable"
See [line 1](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api_response.mustache#L1) ... this should be using the `{{packageName}}` variable instead of fixed as `swagger`. This causes the compilation to fail if the user has specified the `packageName` variable in their config.

On a more general note, this testifies to our need for an auto

[2016-04-27 08:16] wing328 commented on #2713
For input, do you mean parameter (body or form)?

For the static html page issue, do you mind sharing the spec so that we can more easily reproduce the issue?

[2016-04-27 08:21] wing328 commented on #2717
@neilotoole agree with you that we need better way to test the auto-generated Go package.

For other languages, there's a way to automatically generate [test files (skeleton)](https://github.com/swagger-api/swagger-codegen/issues/2276). Is that what you've in mind?

To prevent this particular issue from happening again, we need to update the Petstore Go API client to use a different package name (

[2016-04-27 08:26] wing328 commented on #2717
According to https://blog.golang.org/package-names, the package name should be in lower case so we should use `petstore` instead.

[2016-04-27 08:26] neilotoole commented on #2717
@wing328 Yes, we should be generating test stubs, but the key thing is that we need to execute those stubs as part of the check process before a PR can be merged. As we discussed before, the easiest way to do this is by executing the Go tests in a container...

[2016-04-27 08:28] neilotoole commented on #2717
@wing328 I'm not quite sure what you're referring to re the package-names... the `{{packageName}}` var will get substituted at generation time by whatever variable the user has specified in their config (which should be a lowercase value, yes)...

[2016-04-27 08:29] neilotoole commented on #2717
Ah, I think I see what you're saying now... re not using the default `swagger` name. Must get coffee!

[2016-04-27 08:39] wing328 commented on #2717
☕ ☕ ☕

[2016-04-27 08:44] wing328 commented on #2711
PR merged. Thanks for the contribution.

[2016-04-27 08:44] #2711 closed

[2016-04-27 08:56] wing328 commented on #2704
Thanks for the feedback. I've not tried Razor nor Rhythm so I cannot comment on those. I'm not surprised if there's a template system/library out there better than mustache. One thing we also need to consider is the "switching cost" from mustache to another one as we cannot assume our contributors are familiar with the mustache replacement.

Given that mustache is also improving (recent upgrade al

[2016-04-27 09:13] alvindaiyan commented on #2713
Thanks for response.

For the input, I mean, for example, I run the command line
`
java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate
  -i my/local/path/swagger-api.json
  -l java
  -o samples/client/petstore/java
`
where the "my/local/path/swagger-api.json" is on my file system not from a server. Because I understand the "-i" takes an url as input, I want to use a file

[2016-04-27 09:17] wing328 commented on #2713
"-i" works with both local path and URL. Please give it a try. You can refer to more examples in README.md.

[2016-04-27 09:40] wing328 commented on #2701
@icefoxen I've submitted #2719 to map uuid to string for Python API client.

[2016-04-27 10:35] Danielku15 commented on #2704
Sticking for Mustache is also an option. To allow more advanced templating also new model properties and helpers could do the job. In the end, in my opinon, it should be possible to access exactly the original swagger schema and all of it's properties. By combining the full model with some more advanced helpers, also building conditions, string replacements, loops etc. should easily possible.

But

[2016-04-27 10:47] stunney commented on #283
Do you have any more work done on it at all?  You might get some assistance from others like myself :)

[2016-04-27 13:06] wing328 commented on #2717
PR merged.

For the improvement, we'll open another task for tracking.

[2016-04-27 13:07] wing328 opened #2722 "[Go] Use "petstore" instead of "swagger" for Go petstore package name"
For the related discussion, please refer to #2717

[2016-04-27 13:07] #2717 closed

[2016-04-27 13:14] #2701 closed

[2016-04-27 13:16] wing328 commented on #283
@MathiasWasAlreadyTaken thanks for the update. Please take your time.

(My suggestion is that even though you've partially-finished c++ generator that's not runnable yet, it's still good to submit a PR to let the community helps improve it to make it runnable)

[2016-04-27 13:31] bluemmc opened #2723 "Generated Api Endpoint classes should implement common base interface"
I am using generated c# api classes by swagger-codegen to access an api with a large number of endpoints (i.e. many generated c# xxxApi classes). My use case is generated c# code but I assume the problem applies to other languages as well.

Swagger-codegen works fine when writing specific code against specific endpoints, but there are problems if I try to add general code that work against general

[2016-04-27 13:37] philicious commented on #2706
@wing328 awesome. I quickly tested it and its fixed indeed :+1:

[code]

[2016-04-27 13:40] bluemmc opened #2724 "Add factory for exceptions"
I am using a rest api which returns one type of JSON for status 200 (ok) and another JSON for status>=400 (errors). The JSON returned for HTTP errors give detailed error information.

Currently, the generated API (at least for C#) is hardcoded to throw ApiExpceptions for status>=400 with the json returned as text. It would be nice if I can override this behavior to return a typesafe exception with

[2016-04-27 15:54] icefoxen commented on #2710
Thanks, adding the `consumes: - multipart/form-data` lines fixes the problem.  Though it still seems like having `in: formData` with any other value for `consumes:`, including none, should be an error...

[2016-04-27 16:02] neilotoole opened #2725 "[Go] [Bug] import of 'encoding/json' not always required"
In `api.mustache`, we currently always [import](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api.mustache#L7) `encoding/json`. However, if none of the operations in an API return an object (e.g. if there's only one operation and it's just a DELETE), then this import is unused, and thus we have a Go error.

[2016-04-27 17:28] who commented on #1686
I am hitting this same issue.

Using `@JsonTypeInfo` and `@JsonSubTypes` in a parent+child `@ApiModel`, there's no good way to set the discriminator field in a swagger-codegen'd client.

[2016-04-27 19:36] arschles commented on #283
@schmidt4brains you asked above (a long time ago) if I have any updates or have made any progress. Just FYI that I don't and am not currently planning on working on the C++ generator anymore

[2016-04-27 19:56] schmidt4brains commented on #283
@arschles Thanks for the update. My team has taken an alternative approach to C++ code generation (they are basically hand-coding a wrapper layer for each REST endpoint they consume). It still feels like boilerplate work to me, but they are happy with it.

[2016-04-27 20:02] fehguy commented on #283
I'd be happy to tackle the templates, providing a good example client + build instructions were provided.

[2016-04-27 20:55] alvindaiyan commented on #2713
Yes, you are right. The "-i" option does working with local path. The reason I ignored this because when I run my json, it throws multiple null pointer exception:
`com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointerException) (through reference chain: io.swagger.models.properties.RefProperty["$ref"])`

But the file was there which I didn't check.

Also, for the generic

[2016-04-27 22:03] icefoxen commented on #2231
Might work on this.  No promises, but I need an R client for my Swagger API sooner or later anyway.  Would need to re-learn R and figure out how to make an extension for it though.  :grinning: But R has a HTTP package called RCurl which looks like it does all the HTTP client stuff already, so...

[2016-04-27 22:06] fehguy commented on #2231
If you'd like to build an R implementation of the petstore, I can help templatize it.

[2016-04-28 01:44] guohuang commented on #2722
isn't the additional property going to replace the default package name?
 https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/GoClientCodegen.java#l121

[2016-04-28 01:48] wing328 commented on #2722
You need to specify it via command line or config file. If not provided, it will use the default `swagger`

[2016-04-28 04:05] saharj opened #2729 "Order of allOf's elements affect to success of Generate Server (Sinatra)"
_From @orangeudav on April 26, 2016 21:45_

Hi! I have swagger-editor@2.9.9
This work fine:
[code]
but if i change order like this
[code]
i get
[code]
Is it normal behavior ?

_Copied from original issue: swagger-api/swagger-editor#894_

[2016-04-28 04:05] saharj commented on #2729
_From @orangeudav on April 27, 2016 10:7_

Good yaml
[code]
Result of swagger-generate:
[code]
Result of swagger-editor generate sinatra server: OK, got zip-file

Bad yaml (changed order of allOf's content)
[code]
Result of swagger-generate:
[code]
Result of swagger-editor generate sinatra server:
[code]

[2016-04-28 04:13] saharj opened #2730 "Export Client HTML Error"
_From @taufiksu on April 27, 2016 12:50_

I cannot download export client html and php

_Copied from original issue: swagger-api/swagger-editor#895_

[2016-04-28 04:13] saharj commented on #2730
This is probably a codegene issue. Please provide your swagger document. I'm moving it to swagger-codegen.

[2016-04-28 04:35] bithavoc commented on #1981
@wberger any plans to submit a PR? I can take a look too.

[2016-04-28 04:38] wing328 commented on #1981
@wberger I would suggest you still submit a PR for your partial work so far so that the community can help work on it.

[2016-04-28 05:23] wberger commented on #1981
Currently, I don't have a lot of time available, but I'll try to prepare
the PR.

Good news: in the meantime, I have used the generator with AFNetworking 3
and it seems to work well.

Am 28.04.2016 um 06:38 schrieb wing328 <notifications@github.com>:

@wberger <https://github.com/wberger> I would suggest you still submit a PR
for your partial work so far so that the community can help work on it.

[2016-04-28 08:40] Glagnar opened #2735 "SWIFT Error parsing int to string"
I have a swagger definition where an attribute is defined as a type String.
In reality, sometimes data is returned as a String, other times as an int.

`{"@iot.id":100}`

The C# code casts the int to a String at runtime, but the SWIFT code crashes. I do not know what the correct solution is to the problem - the C# behaviour or the SWIFT behaviour. One could argue that you can always cast an int to

[2016-04-28 09:25] Glagnar commented on #2735
I found that declaring the attribute as type 'object' solves my problem, and allows the generated code to correctly parse the json. But I dont know if this is the correct solution.

[2016-04-28 16:58] ePaul commented on #2713
Where did you get the idea to use `«...»` for generic types?

It looks like either you are looking at the output file with a wrong encoding, or somewhere the way the encoding is handled wrong. (I think `«` and `»` are not valid in Java names, so they should be escaped somehow, I guess. I'm not sure what you are expecting, though)

[2016-04-28 17:00] fehguy commented on #2713
@ePaul I think that's a bug in SpringFox

[2016-04-28 20:40] alvindaiyan commented on #2713
the `«...»` is from swagger. Because the api has a generic type with the return. In this case, it's `Something<SomethingImpl>`. The springfox will generate a json string `Something«SomethingImpl»` and the codegen will generate "SomethingÂ«SomethingImplÂ»". In my opinion, both springfox and codegen should avoid this case.

[2016-04-29 01:56] dusty opened #2739 "invalid enum generation on javascript-closure-angular-client and typescript-angular-client"
Using swagger editor 2.9.9 when I generate a closure angular or typescript angular enums are not properly defined when spaces appear in the string.  They are normalized in the javascript client.

schema:

{
  "swagger" : "2.0",
  "info" : {
    "description" : "Enum",
    "version" : "1.0.0",
    "title" : "Enum"
  },
  "host" : "localhost",
  "basePath" : "/api",
  "schemes" : [ "http" ],
  "cons

[2016-04-29 04:57] dusty commented on #2739
Tried a couple more unusual values (# and * as strings, that I actually need to use).  These failed on all of them.

[code]

javascript client (made both the keys _)

[code]

closure angular

[code]

[code]

[2016-04-29 05:00] wing328 commented on #2739
@dusty thanks for reporting the issue. We plan to introduce better support of enum via https://github.com/swagger-api/swagger-codegen/pull/2508