[2017-03-30 17:45] wing328 commented on #5175
Closed via #5221

[2017-03-30 17:45] #5175 closed

[2017-03-30 17:45] #5113 closed

[2017-03-30 17:51] wing328 commented on #4785
@zoltanszekely yes, you're right. Would you have time to port the enhancement from #4264 to TS Angular2?

[2017-03-30 18:27] ngaya-ll commented on #5244
Is this the same as #3720?

[2017-03-30 18:44] Frank-Stephan commented on #5244
Yes it is the same problem.

[2017-03-30 21:49] bbdouglas opened #5265 "[JAVA] Support different collectionFormats with Feign"
##### Description

I ran into a compatibility issue with the Feign client talking to a swagger-specified server. The server expected a multi-valued field (list) to be encoded with commas, like `foo=bar,baz`, but the Feign client instead repeated the key/value pair, like `foo=bar&foo=baz`.

It turns out that Feign only supports the "multi" collection format. I've brought up this issue with Feign (O

[2017-03-31 02:37] kpradeepkumarreddy opened #5269 "typecasting from ApiResponse<BaseClass> to ApiResponse<SubClass>"
How can i achieve the following
[code]

[2017-03-31 06:33] wing328 commented on #5244
@Frank-Stephan so did the following resolve the issue for you?

https://github.com/swagger-api/swagger-codegen/issues/3720#issuecomment-245564959

[2017-03-31 08:12] Frank-Stephan commented on #5244
In 3720 was suggested to change the base path in the spring configuration file (server.contextPath=/v2). This is not feasible for me, as it moves all rest endpoints including spring boot health endpoints. In addition I see then no way to provide two API versions out of one micro service.

[2017-03-31 12:46] wing328 commented on #4376
@mmaryo may I know if you need help adding the option (e.g. useRuntimeApiException)?

[2017-03-31 13:33] dskow commented on #5230
Since this is for code generation of spring, the exceptions should come from org.springframework.core.NestedRuntimeException or any of its children. I got that exception from searching the internet for swagger exception handling same with BAD_REQUEST.  It would be nice if some code for handling exceptions was generated by swagger-codegen when generating spring code.

[2017-03-31 15:05] ePaul commented on #5187
@pumpadump
I think one starting point would be src/main/resources/Java/pojo.mustache.

There we see

... the extends logic thus comes from the existence of a parent item in the CodegenModel object.

Somewhere in DefaultCodegen or AbstractJavaCodegen this likely is done.

[2017-03-31 15:11] sytolk commented on #4069
@wing328 instead of trying to do Android Volley client "better". Why not focus on better retrofit2 client for Android? I can contribute for this but I don`t know why its need to have OAuth2 and dependency to Apache Oltu (this will not work for Android) its have Basic Auth included I think its wrong Client to support two Auth methods. Its better to switch the Authorization.

[2017-03-31 16:03] fehguy commented on #5006
@SonnyRajagopalan yes that's right.  I'll be working on this now, sorry for the delay.

[2017-03-31 16:08] wing328 commented on #4069
@sytolk I've been recommending Java retrofit2/okhttp-gson client for Android. Previously I suggested simply sunsetting the Android generator as it would make our life easier to maintain one Java API client generator to generate a client that works on both Java and Android. But there are demands to use Android volley in the API client and that's why we keep the Android generator.

I didn't know tha

[2017-03-31 16:18] sytolk commented on #4069
@wing328 I have define in my RestService swagger annotation:
[code]
And I have expect that in client I will have code generated for Basic Authorization only. There is no reason that I have Apache Oltu included like dependency. I have view the template and there is no switch like: if(isBasic).. else if(isOAuth)

[2017-03-31 16:25] wing328 commented on #4069
@sytolk right. Do you mind opening a new issue to track this?

[2017-03-31 16:29] sytolk opened #5273 "Basic Authorization and OAuth is not separated in template"
I have define in my RestService swagger annotation:
[code]
And I have expect that in client I will have code generated for Basic Authorization only. There is no reason that I have Apache Oltu included like dependency. I have view the template and there is no switch like: if(isBasic).. else if(isOAuth)

[2017-03-31 16:30] sytolk commented on #4069
Issue: https://github.com/swagger-api/swagger-codegen/issues/5273

[2017-03-31 16:39] fehguy commented on #591
this will be revisited for 3.0 support.

[2017-03-31 16:48] sytolk opened #5274 "Can we have Gitter channel "swgger-codegen" ?"
I have check in https://gitter.im/ that swagger-codegen channel is missing. We can create chat channel for this github project in order to receive faster answers to questions and have FAQ too. And to skip writing github issues for questions.

[2017-03-31 17:27] JLLeitschuh opened #5275 "[JAVA] Use interfaces in model when not using discriminator for inheritance?"
##### Description

If you choose not to use inheritance in your model and instead simply use composition using the `allOf` properties, does it make sense to generate interfaces for these models so that the server implementation can have code reuse for specific types?

Use case for not relying upon inheritance:
Inheritance makes the API more confusing for consumers in untyped languages. In our use

[2017-03-31 17:37] andylowry commented on #4230
@wing328 The ignore option is not suitable for iterative development, and the prior behavior is really quite crucial. It's important for _some_ but _not all_ of the files to be overwritten if they exist. Previously, for example, all the JAX-RS generators left anything named `*SerivceImpl.java` and `*ServiceFactory.java` untouched, but overwrote everything else by default. One really needs to leave

[2017-03-31 17:41] fehguy commented on #4230
@andylowry why is that not suitable?  Seems like the best solution actually, it gives you full control over what is and is not overwritten.  There are situations where you may actually want to overwrite everything.

[2017-03-31 17:54] andylowry commented on #4230
@fehguy My mistake... I stupidly thought we were talking about `-skip-overwrite` option. Hadn't ever noticed `.swagger-codegen-ignore`, which as you say puts developers in complete control.

I might still suggest generating a default that retains the prior convention in JAX-RS-based projects (and others that override - or formerly overrode - #shouldOverwrite). It's seems to still be a reasonable d

[2017-04-01 06:40] kenrestivo opened #5276 "[JAVA] [Clojure] [Python] generating from"
##### Description

Attempt to generate a library from the Matrix client-server API swagger spec at https://matrix.org/docs/api/client-server/json/api-docs.json

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]
and then tried it with -l clojure and -l python and a few others, same error.

Ran into this:
[code]

It's possible that codegen could be broken, b

[2017-04-01 07:21] #4649 closed

[2017-04-01 07:21] wing328 commented on #3515
#4909 has been merged into master.

@JeffML @osher please pull the latest master to give it a try.

[2017-04-01 07:28] wing328 commented on #5244
@Frank-Stephan so your requirement is to change `contextPath` for some but not all of the endpoints?

[2017-04-01 09:58] wing328 opened #5277 "[PHP] Better code format"
##### Description

When using [PHP CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer), we found potential enhancemnets for auto-generated PHP code.

##### Swagger-codegen version

- [ ] Current master
- [ ] 2.3.0

##### Steps to reproduce

[code]

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5190#issuecomment-290909884

##### Suggest a Fix

If anyone wants to w

[2017-04-01 10:55] ePaul commented on #5276
My opinion would be, however bad a API definition is, it should not result in a NullPointerException, but in a useful error message. So this is definitively a bug in swagger-codegen.

The same happens with latest master, so it is not already fixed.

[2017-04-01 10:57] wing328 commented on #5276
FYI. I also used https://editor.swagger.io to load the spec but no error/warning was reported.

[2017-04-01 11:18] ePaul commented on #5276
I minimized the Matrix API to a smaller example which also shows this problem:

[code]

[2017-04-01 11:18] ePaul commented on #5276
(The original had several properties nested inside the `allOf` object.)

[2017-04-01 11:36] ePaul commented on #5276
swagger: "2.0"
paths:
  /filter:
     post:
       description: does something
       summary: Upload a new filter.
       parameters:
        - description: "The filter to upload."
          in: "body"
          name: "filter"
          required: true
          schema:
            properties: {}
            type: object
       responses:
         "200":
           description: "The filter was cre

[2017-04-01 12:15] ePaul commented on #5276
I created a simple unit test reproducing this problem (1cfad7e).

What happens here is that DefaultCodegen.fromParameter gets the body parameter's schema ([line 2465](https://github.com/swagger-api/swagger-codegen/blob/55b7db34563e4b8f601a8d12637200e286687a72/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L2465)), and then has special-case handling for each of ModelIm

[2017-04-01 12:18] ePaul commented on #5276
I looks like we need a special handling for ComposedModel, too. I'm not sure how this would look like, though, so I'll not work on this.

[2017-04-01 12:56] sytolk opened #5279 "[JAVA okhttp-gson; target=Android] Gradle Lint error"
https://github.com/square/retrofit/issues/1014

To suppress this I have add  custom build.gradle.mustache template with:
[code]

[2017-04-01 13:20] sytolk opened #5280 "[JAVA okhttp-gson; target=Android] Lint error - Calling new methods on older versions"
[code]

[2017-04-01 13:37] sytolk opened #5282 "[JAVA okhttp-gson; target=Android] Remove joda-time dependency for Android"
Android usage for generated client is completely wrong. It`s have Java libraries like joda-time included for Android its have completely different version of libraries like:
https://github.com/dlew/joda-time-android

This is the dependency library generated in client:
[code]

[2017-04-01 14:21] sytolk commented on #5139
The easy fix is to override .mustache in your:

and fix problem with joda-time in this template.
https://mustache.github.io/mustache.5.html

[2017-04-01 15:27] wing328 commented on #5274
@sytolk thanks for the suggestion. We've considered a gitter chat room before but decided not to create one since
1) there's already a [IRC channel](http://swagger.io/irc/) for real time discussion. This is not to say the IRC channel is better than gitter.
2) We already have a FAQ in our wiki: https://github.com/swagger-api/swagger-codegen/wiki/FAQ (again this is not to say the FAQ provided by git

[2017-04-01 17:02] Majkl578 commented on #1482
I too am interested in Guzzle 6.x+ support. To be honest, I've never heard of a library called HttpPlug so it's not really convincing for me to use - looking at the GitHub stars I'm probably not the only one.
I'd really prefer Guzzle rather _yet another mystic library_...

[2017-04-01 17:20] baartosz commented on #1482
Hello @Majkl578. In PR https://github.com/swagger-api/swagger-codegen/issues/5190 this matter was discussed and by default generated library will use Guzzle 6. Change is ready to review and test. Help would be appreciated.

[2017-04-01 18:33] ePaul opened #5296 "[Java][feign] snake_case parameter names break feign client"
##### Description

Updating the samples for java/feign in current master and then running the tests of the generated client leads to test failures:

[code]

##### Swagger-codegen version

Yesterday's master (64c7e23a04d68db9ad), not sure if this applies to any released version.

##### Swagger declaration file content or url

[petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com

[2017-04-01 19:01] ePaul commented on #5296
I did actually have a look at the `@Param({{paramName}})` in the template when doing the analysis for #4898. For query and header parameters, the sanitized name is actually wanted, because the annotations refer to them, mapping the on-the-wire name to the sanitized names. (That is why I said "don't change this".)

For path parameters this does not happen, we just get the whole path (including the

[2017-04-01 21:52] eritikass opened #5297 "[Docker] Please update offical swagger-codegen-cli image"
##### Description

Docker [swaggerapi/swagger-codegen-cli](https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/) image has not updated with latest fixes from [Dockerfile](https://github.com/swagger-api/swagger-codegen/blob/master/Dockerfile).

Result of that is that in some cases, for example in gitlab-ci its unusable :(

##### Steps to reproduce

run in terminal
```docker run --rm swaggerapi/

[2017-04-02 08:13] wing328 commented on #5279
@sytolk thanks for reporting the issue. Please file a PR with the suggested fix so that we can review more easily.

[2017-04-02 08:44] wing328 commented on #4965
https://github.com/swagger-api/swagger-codegen/pull/5300 for maven compiler plugin

[2017-04-02 08:56] wing328 commented on #5296
I prefer the following:

I actually applied similar fix to PHP server generator before so I'll file a PR to address this.

cc @bbdouglas

[2017-04-02 11:03] wing328 commented on #5296
Closed via #5301

[2017-04-02 11:03] #5296 closed

[2017-04-02 11:32] ePaul commented on #5177
Not related to your issue, but I think you need to also define the `baseModelType` as a property.

[2017-04-02 12:37] ianjoneill opened #5302 "[JaxrsResteasy] EAP - packages wrong for several files"
##### Description

The generated class `JacksonConfig.java` always has the package `io.swagger.api`.
The generated class `RestApplication.java` imports the wrong package for the service implementation.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

Any swagger definition triggers this problem.

##### Command line used for generation

` java -jar swagger-codeg

[2017-04-02 14:03] ePaul opened #5304 "[CI][Typescript] nondeterministic failure on Travis CI of typescript builds with NPM"
##### Description

The CI runs on Travis CI fail sometimes (non-deterministically) when doing typescript builds.

Example log extract (from the log of [a build of #5147](https://travis-ci.org/swagger-api/swagger-codegen/jobs/217776446)):
[code]

This time it was in the build of the TS Angular Petstore client, often it also happens with one of the other TypeScript builds. (You'll need to "view raw

[2017-04-02 14:59] wing328 commented on #5304
I noticed something similar - I usually saw network errors when `npm install` trying to download npm modules from npmjs.com.

I'm trying to move the tests (JS, TS) to Shippable and so far I've encountered minor issue related to JS Petstore test (1 test failure).

[2017-04-03 03:00] wing328 commented on #5280
@sytolk what about using Java 1.6 code for `equals` and `hashCode`?

https://github.com/swagger-api/swagger-codegen/blob/7a97c3c37554a4a2cd7919e8ef0ff83d192f0bdf/modules/swagger-codegen/src/main/resources/Java/pojo.mustache#L108-L129

or updating the API level to 19 (Android 4.4), which means roughly 12.5% android devices won't work with the SDK): https://developer.android.com/about/dashboards/ind

[2017-04-03 03:11] wing328 commented on #5282
@sytolk looks like there's no decent single datetime package that works with both Android and Java

What about adding another dateLibrary option `joda-time-android`?

cc @cbornet

[2017-04-03 03:26] wing328 commented on #5297
@eritikass when I checked https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/, it said "Last pushed: 12 hours ago". As part of the CI (travis), we push the updated image to Docker.com: https://github.com/swagger-api/swagger-codegen/blob/master/.travis.yml#L74

Are you not pulling the latest image somehow?

[2017-04-03 03:26] wing328 commented on #5297
cc @arnested

[2017-04-03 03:59] wing328 commented on #5265
Closed via #5266

[2017-04-03 03:59] #5265 closed

[2017-04-03 05:27] wing328 commented on #3069
@eerne a workaround is to modify the template and pass the customized templates via the `-t` option.

Would you have time to contribute the enhancement using moment.js? If yes, I can work with you on that one.

[2017-04-03 05:47] sytolk commented on #5280
I think that with Java 1.6 code is better. This is library that will be using in different kind of applications and to break API support for devices < level 19 is will be wrong.
But  its need to have have some switch in template for Android: if(supportJava6 || isAndroid)...

and this boolean switch can be used in gradle.properties.mustache too:
# Uncomment to build for Android
target = android

[2017-04-03 06:03] wing328 commented on #5280
Ok, so I think we need to add another CLI option `supportAndroid`

Would you have time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-04-03 06:07] sytolk commented on #5280
@wing328 I don`t have so much time.. but you can show me the starting points :)

[2017-04-03 06:15] wing328 commented on #5280
The easiest way is to pass `supportAndroid` via `--additonal-properties` instead of making it a CLI option and then one can use it in the template, e.g. `{{#supportAndroid}} ...... {{/supportAndroid}}`

e.g. https://github.com/swagger-api/swagger-codegen/blob/6e2ee4be06ced614d64a8e8022d001b276380a7c/bin/windows/javascript-promise-petstore.bat#L8

The templates for okhttp can be found in the follow

[2017-04-03 06:16] wing328 commented on #5280
If you need further help, please reply to let us know. Thanks for your contribution in advance.

[2017-04-03 06:24] sytolk commented on #5280
How can I easy skip some mustache templates to be generated? Like for OAuth2 I have override the default template with empty OAuth.java.mustache but I cannot skip generation of this OAuth.java

[2017-04-03 06:30] wing328 commented on #5280
@sytolk the only way is to comment it out in the generator: https://github.com/swagger-api/swagger-codegen/blob/2e8eea9c1832735babc7eb499bceaa3e43b79a51/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L147
(or add a proper CLI option/switch)

[2017-04-03 06:34] sytolk commented on #5280
to add check before to generate empty files like this:
[code]

[2017-04-03 06:36] wing328 commented on #5280
Let me think about it. We need a way to read through the spec and determine if certain file is needed based on security definitions.

[2017-04-03 06:39] sytolk commented on #5280
"We need a way to read through the spec and determine if certain file is needed based on security definitions." - exactly. I have joined here btw http://swagger.io/irc/

[2017-04-03 07:08] wing328 commented on #3812
UPDATE: `scala` API client in 2.3.0 now supports async request.

The next step is to update `scala` to use akka-http to make HTTP calls.

[2017-04-03 07:09] wing328 commented on #3812
A test has been commented out due to issue mentioned in https://github.com/swagger-api/swagger-codegen/pull/5115#issuecomment-290912839

Updating HTTP lib to use `akka-http` will fix it.

[2017-04-03 07:19] dkarlovi commented on #5277
This was actually being worked on in #3898, I never got around to resubmitting the changes. Would need to take into account changes from #5190, though.

[2017-04-03 07:25] wing328 commented on #5277
@dkarlovi right. I remember your PRs.

#5190 is submitted against 2.3.0 so your work on the `master` version of PHP API client is still valid.

After merging #5190 into 2.3.0, I'll publish a report by PHP CodeSniffer so that everyone knows what needs to be enhanced.

[2017-04-03 07:37] dkarlovi commented on #5277
In #3863 I've added support for [PHP CS Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) which seems to becoming PHP CS style tool of choice, not only can it find CS violations, it can fix them.

Would need to update the config file for a new version. Also, I'm using full code inspection from PHPStorm which also catches typos and such (some of which are also fixed in the PR linked).

[2017-04-03 07:45] eritikass commented on #5297
@wing328 tnx for your fast response, i also notice this dockerhub Last pushed time, but never less its not there...

made this gist for testing  https://gist.github.com/eritikass/b23ac66e1d552af50843fd7e0a557e7d during docker build, [docker-entrypoint.sh](https://github.com/swagger-api/swagger-codegen/blob/master/docker-entrypoint.sh) should be copy'ed into docker image `/usr/local/bin/docker-entr

[2017-04-03 07:45] wing328 commented on #5277
For the time being, we can leverage PHP-CS-Fixer to update the code in terms of style and format.

Ideally I want to update the templates for PHP API client without the need to run php-cs-fixer manually.

[2017-04-03 08:22] baartosz opened #5305 "[PHP] Add option to generate psr7-compatible client without Guzzle"
##### Description
Follow up on discussions that took place in https://github.com/swagger-api/swagger-codegen/pull/5190 and https://github.com/swagger-api/swagger-codegen/issues/1482. In some cases dependency on guzzle may be a problem and it should be possible to use any other psr7-compatible client. Its should not be a big deal considering that generated client is already using psr7 compatible re

[2017-04-03 08:28] baartosz opened #5306 "[PHP] Add support for async requests"
##### Description
Generated clients are already using guzzle6 out of the box on 2.3.0 branch and guzzle supports async requests. It is easy task now to allow generated client to send async requests. I would suggest adding separate `$api->xxxAsync()` and `$api->xxxAsyncWithHttpInfo()` methods for this.

##### Swagger-codegen version
2.3.0+
##### Swagger declaration file content or url
##### Command

[2017-04-03 09:00] baartosz commented on #4235
I just looked at `multithreading` lib and its ThreadPools. Looks like it throws exceptions from sub-thread only when asked to get result from thread and its easier to get its response - no need for callbacks. Available in python 2.7 (as opposed to asyncio).

So catching exceptions would roughly look like this:
[code]

additionally it could be wrapped in some abstraction (like returning `lazy_respo

[2017-04-03 09:01] baartosz commented on #4235
@masterandrey @wing328

I just looked at `multithreading` lib and its ThreadPools. Looks like it throws exceptions from sub-thread only when asked to get result from thread and its easier to get its response - no need for callbacks. Available in python 2.7 (as opposed to asyncio).

So catching exceptions would roughly look like this:
[code]

additionally it could be wrapped in some abstraction (li

[2017-04-03 10:02] bajtos commented on #2197
FWIW, we provide a swagger-to-server-models generator in LoopBack, our API framework built on top of express. See https://loopback.io/doc/en/lb2/Swagger-generator.html to get started.

[2017-04-03 13:13] dilation commented on #3483
This also seems to affect the Python client generator.

[2017-04-03 14:02] arnested commented on #5297
The Swagger Codegen CLI at Docker Hub is built from [`modules/swagger-codegen-cli/Dockerfile`](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-cli/Dockerfile) -- not from the Dockerfile in the root of the repository.

The version on Docker Hub is not supposed to be able to run arbitrary commands or used for building Swagger itself but only [act as a standalone ex

[2017-04-03 16:43] #5302 closed

[2017-04-03 16:49] wing328 commented on #4235
@masterandrey can you please test the fix by @baartosz by running the below?
[code]
Then use the JAR (built locally) to generate Python API client

[2017-04-03 17:03] wing328 commented on #5275
I remember that's a similar discussion before but I can't find it now. I'll try to dig it out tomorrow.

[2017-04-03 17:06] wing328 commented on #5239
@markebbers The issue should be fixed by @jaceee via #5264. Please pull the latest master to give it a try.

[2017-04-03 17:06] #5239 closed

[2017-04-03 17:09] wing328 commented on #5233
@fatsu I think technically it's possible but it would require some works. I recall previously there were similar requests but not a must.

If you want to add the support, I can show you some good starting points.

[2017-04-03 17:09] wing328 commented on #5224
@usmanatron thanks for the contribution 👍

[2017-04-03 17:09] #5224 closed

[2017-04-03 18:04] fatsu commented on #5233
Sure. I'll try to find some time in the near future and give it a shot.

[2017-04-03 18:28] archsri333 opened #5309 "[JAVA]To generate @JsonInclude(Include.NON_NULL) in java pojo classes"
Description:
How to make Swagger codegen to generate @JsonInclude(Include.NON_NULL) in java pojo classes

Swagger-codegen version:
2.2.1

[2017-04-03 18:28] elizabetht opened #5310 "[Spring] Not able to provide examples in response-body"
##### Description

I am using the swagger-codegen in my gradle file to generate all the controllers & models using the petstore JSON file as input. Is there a way to include pre-defined responses that can be served up when running the generated server code in tomcat? When running the server code in tomcat locally, I only get an empty response body. I am looking to include predefined example/sample

[2017-04-03 18:48] JLLeitschuh commented on #5275
Thanks, this is something that we are considering implementing for our generator and would contribute to this project if it seemed useful.

[2017-04-03 19:31] bherila opened #5311 "Discussion - tabs vs spaces"
re #5299

@wing328 this has been a big sticking point among JS developers I've worked with who are used to 2-space indents. The tabs were a compromise so they could keep their 2-spaces based on editor setting, while the rest of the world uses 4-space. I respect the official TS style guidelines, so not suggesting undoing #5299. But I am slightly disappointed because now I have to post-process swagg

[2017-04-03 19:43] ytjohn opened #5312 "[Python] spec 1.2 resourcePath breaks class filenames"
##### Description

For a swagger 1.2 spec file, if the element resourcePath exists, swagger-codegen does not properly create api class files.

##### Swagger-codegen version

[x] 2.2.2

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`swagger-codegen generate -i bareminimum.json -l python -o bm1`

##### Steps to reproduce

1. Create a file bareminimum.

[2017-04-03 19:52] ytjohn commented on #5312
Update: issue is that resourcePath is used to generate the filename itself, and "/_api.py" just won't work.

[2017-04-03 21:17] ePaul commented on #5311
My usual approach is to not edit generated code, so it doesn't really matter for me how it is indented.
And if I edit it, then I can easily reformat it the moment I start editing, and it will stay that way.

I guess this approach doesn't help you?

[2017-04-04 01:10] wing328 commented on #5311
@bherila have you tried using the `-t` option with customized templates (tab instead of spaces)? You can checkout the commit before the merge to restore the TS jQuery templates with tabs.

[2017-04-04 01:51] bherila commented on #5311
I have not, will check that out- thanks for pointing it out 👍

Also, I have to edit the generated file anyway to insert my own function in place of the base url... so it's not a huge inconvenience. Just thought it was an interesting point of discussion :)

[2017-04-04 01:53] wing328 commented on #1482
PR by @baartosz merged into 2.3.0.

[2017-04-04 01:53] #1482 closed

[2017-04-04 06:25] wing328 commented on #5312
@ytjohn thanks for the feedback. It definitely sounds reasonable to throw a warning. If you've time to contribute the enhancement, I can show you some good starting points.

[2017-04-04 06:30] wing328 commented on #5251
@ahmettaha thanks for reporting the issue. I wonder if you can file a PR so that we can review the fix.

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/AlamofireImplementations.mustache#L48

[2017-04-04 06:34] wing328 commented on #5156
@vincent-coetzee thanks for the suggestion. I wonder if you can file a PR so that we can review the fix.

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/AlamofireImplementations.mustache

[2017-04-04 06:37] wing328 commented on #5149
@mt-sito thanks for reporting the issue. It seems like `multi` collection format is not supported at the moment.

May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-04-04 07:14] wing328 commented on #5309
@archsri333 one way is to modify the templates and pass the customized templates via the `-t` option.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/pojo.mustache

You can want to start with the latest stable release v2.2.2: github.com/swagger-api/swagger-codegen/releases/tag/v2.2.2

[2017-04-04 07:36] dilation commented on #3483
However, it seems to be fixed in the latest version of the Python client generator.

[2017-04-04 09:06] albert-visser opened #5315 "Generating servercode from http://editor.swagger.io differs from http://generator.swagger.io"
##### Description

I'm getting different generated servercode from http://editor.swagger.io and http://generator.swagger.io
The first will generate classes that inherit when using allOf, http://generator.swagger.io won't.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

https://gist.github.com/albert-visser/498345f062b64026941d0c7c3d81d7ac

##### Steps to repro

[2017-04-04 10:27] Frank-Stephan commented on #5244
No, my expectation was that the code generator for spring takes the basePath specified in the swagger file into account. The contextPath of spring has another purpose. It moves all rest endpoints including those provided by spring itself. We want to use the basePath to put a version number into it that is prepended to all rest endpoints specified in the swagger file. Of course if there were a spri

[2017-04-04 11:51] Krabatz opened #5316 "[Maven] swagger-codegen-maven-plugin version 2.2.3-SNAPSHOT fails"
##### Description

Using swagger-codegen-maven-plugin version 2.2.3-SNAPSHOT fails because the dependency to io.swagger:swagger-parser:jar:1.0.27-SNAPSHOT could not be resolved.

Error message:

**[ERROR] Failed to execute goal io.swagger:swagger-codegen-maven-plugin:2.2.3-SNAPSHOT:generate (swagger-generate-usermanagement) on project a4yCodegen: Execution swagger-generate-usermanagement of goal i

[2017-04-04 12:15] wing328 commented on #5316
Please pull the latest master, which no longer depends on 1.0.27-SNAPSHOT

[2017-04-04 12:51] Krabatz opened #5317 "[Spring] swagger-codegen-maven-plugin 2.2.2 with modelNameSuffix and discriminator generates wrong @JsonSubTypes annotation"
##### Description

Using the swagger-codegen-maven-plugin 2.2.2 with tag \<modelNameSuffix> and the yml property "discriminator" generates the annotation @JsonSubTypes with classnames without modelNameSuffix which leads to compiler errors. Inheritance works fine though.

The plugin generates:
ProductTO.java and ProductChildTO.java

Java Code:
[code]

##### Swagger-codegen version

swagger-codegen-

[2017-04-04 12:54] ahmettaha opened #5318 "customize date format in swift3"
How can I customize the dateformat when serializing the dates. I know i can alter the generated code, but is it possible to change it via a configuration?

I want to serialize with a localdate format, rather than zulu time

[2017-04-04 13:29] wing328 opened #5319 "[Java][Spring] allowableValues is incorrectly set to Enum name"
##### Description

`allowableValues` is incorrectly set to Enum name, e.g.

[code]

Ref: https://github.com/swagger-api/swagger-codegen/pull/5212#discussion_r108070109

##### Swagger-codegen version

Latest master

##### Command line used for generation

##### Steps to reproduce

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5212

##### Suggest a Fix

To fix it, we need

[2017-04-04 13:31] jgavris commented on #5318
What do you mean local date? Could you give a specific example of what you're trying to do? In general you want to keep the zulu time and just format it according to the local time zone. Maybe what you're looking for is tracking a user's time zone as a separate field somewhere?

[2017-04-04 13:41] ahmettaha commented on #5318
Sure.

right now the following default code produces

`
let fmt2 = DateFormatter()
fmt2.dateFormat = "yyyy-MM-dd'T'HH:mm:ss.SSSZZZZZ"
fmt2.locale = Locale(identifier: "en_US_POSIX")

fmt2.string(from: date)
`

2017-04-04T14:37:19.936+01:00

however, our server doesnt care about the timezoneoffset. It just needs the local datetime, so it accepts a datetime like below.

"2017-04-04T14:40:06.374"

so

[2017-04-04 13:43] jgavris commented on #5318
Ah, your server *should* care about the time zone offset. What makes you think you don't need to?

[2017-04-04 14:10] steven0529 opened #5320 "[Java] Retrofit2Rx2 code generation problem"
##### Description

Hi,

I noticed the petstore sample from [petstore sample](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/java/retrofit2rx2) still uses **RxJava 1 (rx.Observable)**.
I also tried generating an sdk using this swagger-codegen-cli-2.2.1.jar with this config.json

`{
  "sourceFolder": "src",
  "modelPackage": "com.gatebuzz.oxford.model",
  "apiPack

[2017-04-04 14:14] wing328 commented on #5320
Can you try the latest stable version 2.2.2 instead?

[2017-04-04 14:14] archsri333 commented on #5309
Thank you for your response.
Can you please let me know how to pass it via -t option. If there is any sample regarding that, can you please share it.
Since we are manually editing all generated  java pojo classes  to include those line.

[2017-04-04 14:15] steven0529 commented on #5320
I also tried the 2.2.2 jar but still experience same problem. :(

[2017-04-04 14:18] wing328 commented on #5320
@steven0529 ok. I'll take a look...

[2017-04-04 14:19] ahmettaha commented on #5318
because we dont need to. We keep datetime fields of the records in localtime. We dont use the offset with the GMT time. Not every business operation need to care about timezone ;)

[2017-04-04 14:21] jgavris commented on #5318
Ok, I'll ask one more time. What operation is this that you don't care about the timezone?

[2017-04-04 14:41] ahmettaha commented on #5318
ok. Let's assume, I have an api operation called userClickedButton(string userid, datetime localtime)

It sends the userid and the datetime user clicked the button on the mobile app. On the api side, server inserts the record to a sql table. Then server generate a report to see which times of the day, the user has clicked the button. if more is clicked in the morning, or the evening. So I dont car

[2017-04-04 14:54] jgavris commented on #5318
The local time is encoded in the time with zone format...you just need to change your query on your server to render that time as a local time. Just add / subtract the offset from the time.

[2017-04-04 14:58] wing328 commented on #5320
Fixed via https://github.com/swagger-api/swagger-codegen/pull/5321 with `useRxJava2`

Please pull the latest master to give it a try.

[2017-04-04 14:58] #5320 closed

[2017-04-04 15:04] #5318 closed

[2017-04-04 16:38] wing328 commented on #5178
@qin thanks for reporting the issue. `invokerPackage` is not used in the spring templates. Can you please try `basePackage` instead?
[code]

We'll file a PR to remove `invokerPackage` for Java Spring generator.

[2017-04-04 16:59] webron opened #5322 "Parameters' name with "_" not properly mapped in Angular2 typescript client"
_From @basygit on April 4, 2017 9:54_

This bug is both online on http://editor.swagger.io/#!/, than into the "http://central.maven.org/maven2/io/swagger/swagger-codegen-cli/2.2.2/swagger-codegen-cli-2.2.2.jar"

![capture](https://cloud.githubusercontent.com/assets/26896343/24651229/5b545ed6-192d-11e7-943e-d4b6eb6003d5.PNG)

_Copied from original issue: swagger-api/swagger-editor#1249_

[2017-04-04 17:53] eritikass commented on #5297
ok, my bad then - closing this issue

i still think that this root level image would be more useful, also if you check in dockerhub, and search [swagger-codegen-cli](https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=swagger-codegen-cli&starCount=0), then you can see that most popular image is near 1:1 copy for this project root level image

[2017-04-04 17:53] #5297 closed

[2017-04-04 18:20] suresh777 opened #5323 "How to deal with same name files with swagger jar"
i am using swagger classes in swift3,our backend side we have multiple microservices apis,they are giving different jars but the api client inside that jar file is with same name,in android we have package structure but in ios if i copy multiple file with same name it won't allow

[2017-04-04 19:35] SonnyRajagopalan opened #5326 "How do I add authorization function for all my protected routes before they hit the routes in the controller?"
##### Description

I had to add Authorization in my header in the format `Authorization: Bearer <token>`. I receive this in my `req.swagger.params.Authorization` but I would like to add a way to authorize all requests with this header without having to deal with this in my `/controllers/*Service.js` and `/controllers/*.js`. I added code in `index.js` but that doesn't seem to be called. I added thi

[2017-04-04 20:14] cenkentimist opened #5327 "[java][jaxrs] codegen fails on nested lists trys to put generic in class name"
##### Description
output code for list of list of double includes invalid java `List<Double>.class`
Note that a list of doubles is generated correctly but a list of list of doubles is not.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

[code]
this outputs invalid java to src/gen/java/io/swagger/api/GoApi.java

##### Command line used for generation

swagger-co

[2017-04-04 20:18] cenkentimist commented on #5322
@basygit I have run into this issue as well. Currently I'm using the work around of not naming path parameters that way. It's a less then impressive work around but it does work.

[2017-04-04 20:38] Blackbaud-TrevorBurch commented on #4086
@wing328 I just ran into this while using the typescript Angular 2 client also. We are using the codegen off of the 2.2.3 branch. Using the network debugger in Chrome I could see that the POST never went through on that console until I added the ".subscribe()" call. I admittedly don't have any experience into the inner workings of the codegen but wanted to let you know that someone else had seen t

[2017-04-04 23:51] JLLeitschuh commented on #5275
The nice thing about this change is that it wouldn't be API breaking.
It would be simply adding to the existing model objects.

Does the super type exist in a variable in the mustache files still if the discriminator isn't used or would it require some back end wiring in Java to get this to work?

[2017-04-05 03:19] qin commented on #5178
Great, thanks~

[2017-04-05 03:28] mt-sito commented on #5149
Sorry, I'm afraid I can't.
I am eagerly awaiting the update.

[2017-04-05 05:32] steven0529 commented on #5320
Worked, thanks!

[2017-04-05 08:21] wing328 commented on #5323
@suresh777 have you tried different options to customize `swift3` client? e.g. `swiftUseApiNamespace`, `projectName`

Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l swift3

[2017-04-05 08:25] wing328 commented on #5327
@cenkentimist thanks for reporting the issue. Can you please also try generating a Java API client to see if it has the same issue? If no, we can plot the fix from Java client to JAX-RS server generator.

[2017-04-05 08:46] wing328 commented on #5322
The issue has been [fixed](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L65) in the latest master via https://github.com/swagger-api/swagger-codegen/commit/dbe99c3af92ebc4862e7984a246b9af5e707013d. Please pull the latest master to give it another try.

[2017-04-05 08:46] #5322 closed

[2017-04-05 08:48] wing328 commented on #5322
FYI. Reviewed other TS generators (jquery, node, angular, fetch) and confirmed the bug has been also addressed.

[2017-04-05 08:54] wing328 commented on #5317
I think it's a bug that the modelNameSuffix is not applied to the classname in the @JsonSubTypes annotation.

If you've time to contribute a fix, I can show you some good starting points.

cc @ePaul

[2017-04-05 08:54] basygit commented on #5322
Ok, tnx! Please update the online editor too.

[2017-04-05 09:05] wing328 commented on #5322
Please refer to https://github.com/swagger-api/swagger-codegen/wiki/FAQ#what-does-httpseditorswaggerio-leverage-swagger-codegen-for-code-generation

[2017-04-05 09:48] wing328 commented on #5186
@jdevera @baartosz I don't think we support different response based on HTTP status code but it should not be difficult to do so by updating the api.mustache template.

PHP: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/api.mustache
Python: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resourc

[2017-04-05 09:53] wing328 commented on #5315
@albert-visser they should be the same as you've pointed out https://editor.swagger.io is using https://generator.swagger.io behind the scene. I've no clue at the moment why the issue is happening.

[2017-04-05 09:54] wing328 commented on #5262
I think another way is to publish the NodeJS SDK to github (or other git repo) and install directly from github:
- https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/README.md#git
- http://stackoverflow.com/questions/17509669/how-to-install-nodejs-package-from-github-directly

About browserify, would the following help?

https://github.com/swagger-api/swa

[2017-04-05 10:02] wing328 commented on #5150
You may want to document the parameters as query string instead of HTTP body.

For Java, you may also want to try the `retrofit2` (which supports HTTP GET with request body)

Also it's worth sharing with you the following discussion:

http://stackoverflow.com/a/983458/677735

[2017-04-05 10:31] JFCote commented on #5262
@wing328 : Will take a look at this documentation. Thanks!

[2017-04-05 10:40] mkarpusiewicz opened #5329 "[C#][CSharp] Generating code for an array of enums produces incorrect output"
##### Description

For models that contain array of items that are enums output enum code produced doesn't compile.

##### Swagger-codegen version

I've tried 2.2.1 and 2.2.2 - on both problem occurs.

##### Swagger declaration file content or url

Minimal example:

[code]

Full example json file:
https://gist.github.com/mkarpusiewicz/1c863c29ed08000bce05fbcf91bf1726

##### Command line used for g

[2017-04-05 11:23] arnested commented on #5297
We could probably improve the documentation in the README and add some documentation on Docker Hub to better explain the differences between the various Docker images.

[2017-04-05 12:15] suresh777 commented on #5323
we are generating swagger classes by running this command
 java -jar swagger-codegen-cli.jar generate -i login.json -l swift3 -o SwaggerClient
where should i add swiftUseApiNamespace

[2017-04-05 12:22] wing328 commented on #5323
@suresh777 please use the -c option
[code]
e.g. https://github.com/swagger-api/swagger-codegen#customizing-the-generator

[2017-04-05 13:00] suresh777 commented on #5323
i used -c config.json but my swaggerclient folder contain one file with class name response, same class exist in alamofire so that it is conflicting in xcode

[2017-04-05 13:03] wing328 commented on #5323
We can mark `response` as a reserved word in Swift3 generator: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Swift3Codegen.java#L102

Currently, we only whitelist `ErrorResponse`.

Would you have time to contribute the enhancement?

[2017-04-05 13:24] suresh777 commented on #5323
We are getting classes which use Alamofire by default.  Problem arises because of same model class name and Alamofire class.Is it possible to get these classes with other library or just by urlsession?

[2017-04-05 13:55] wing328 commented on #5323
I don't think I understand your question. Whitelisting `response` should address the issue for you.

[2017-04-05 14:04] suresh777 commented on #5323
If response is whitelisted then my server team can't use "response" as a class name ? if that is the case all alamofire class names must be whitelisted in order to prevent conflict

[2017-04-05 14:08] wing328 commented on #5323
The server side can still use "response" as the class name.

Right. Do you have a full list?

[2017-04-05 14:13] cenkentimist commented on #5327
@wing328
`swagger-codegen generate --lang jaxrs -i nowork.yaml --output box` contains the issue
`swagger-codegen generate --lang jaxrs-resteasy -i nowork.yaml --output box` contains the issue
`swagger-codegen generate --lang jaxrs-resteasy-eap -i nowork.yaml --output box` contains the issue
`swagger-codegen generate --lang jaxrs-spec -i nowork.yaml --output box` contains the issue
`swagger-codegen

[2017-04-05 14:14] wing328 commented on #5171
I think that's because there are some logics in code gen to name the inline model with the same name if the properties are the same.

In your case, please try to define the models in a separate section instead of doing it inline.

[2017-04-05 14:18] suresh777 commented on #5323
you are asking alamofire class,protocols,enums,structs list,if i provide that list we should add it in whitelist,but if i whitelist response class name what happens after swagger client jar generation what will be the name of response class will it change to some other name?

[2017-04-05 14:22] erreobi commented on #5244
I have the same issue. Do you know when the fix is planned?

[2017-04-05 14:25] fehguy commented on #5244
@Frank-Stephan I think what the generator is doing with `basePath` is per design.  If you want your operation path to be `/v1/persons/{id}`, for example, you would put that in your path:

[code]

[2017-04-05 14:35] suresh777 commented on #5323
Thank you for giving replies,i will generate those class files by adding prefix that way i can prevent conflicts

[2017-04-05 15:08] yaccz opened #5331 "swagger-codegen -l html2 does not include enums if object is using inheritance and the field is missing description"
##### Description

swagger-codegen -l html2 does not include enums if object is using inheritance and the field is missing description

##### Swagger-codegen version

current master; HEAD = 5de04fa6129fd22ddd32b0d03d17b1d82397d66e

##### Swagger declaration file content or url

[code]

##### Command line used for generation

JAR=".../swagger-codegen.git/modules/swagger-codegen-cli/target/swagger-c

[2017-04-05 16:06] wing328 commented on #3483
@jimvmathews  did you do a `mvn clean package` to rebuild the JAR after pulling the latest master?

[2017-04-05 16:19] jojow opened #5332 "[JAVA] swagger-codegen-maven-plugin does not generate server code?"
##### Description

It seems like the swagger-codegen-maven-plugin module does not generate any server code, but only client code. I can only find client-related code that is generated.

##### Swagger-codegen version

swagger-codegen-maven-plugin 2.2.2

##### Swagger declaration file content or url

any Swagger definition

##### Command line used for generation

using maven module:
swagger-codegen-

[2017-04-05 16:55] mrdziuban opened #5333 "[akka-scala] Bug with escaped Scala reserved words"
##### Description

Reserved Scala keywords are [escaped using backticks](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AkkaScalaClientCodegen.java#L160), but since jmustache commit [9eda17f](https://github.com/samskivert/jmustache/commit/9eda17f85bfd8849850bdafa92d2f6ffe12bb71f), backticks are escaped using `&#x60;`, r

[2017-04-05 17:02] wing328 commented on #5333
@mrdziuban thanks for reporting the issue. I think another way to fix it is to use `{{{ ...}}}` (original value) instead of `{{...}}`.

FYI. We're trying to consolidate `scala`, `async-scala` and `akka-scala` generator into one in 2.3.0 branch: https://github.com/swagger-api/swagger-codegen/issues/3812

[2017-04-05 17:21] wing328 commented on #5141
@kernwig one way is to customize the templates and pass via the `-t` option.

Would using [Moment.js](https://momentjs.com/) instead of JS Date solve the problem for you?

[2017-04-05 17:36] kernwig commented on #5141
As I understand it, customizing templates means that I have to maintain my own templates forever... probably keeping up with any changes made to the project. That's not a good solution.

I don't see Moment.js being of any use. I believe that libraries works with strings and JS Date. The dates I/O as strings. We're good there. As soon as they become JS Date, they loose time zone information; there'

[2017-04-05 17:43] wing328 commented on #5141
Yes, I'm aware of the limitations of JS Date. That's why I propose Moment.js, which seems to be able to handle datetime better across different browsers.

I agree with you that post-processing the auto-generated code is not ideal and we want to provide better datetime support for JS, TS generators out of the box.

[2017-04-05 17:53] kernwig commented on #5141
I've only used Moment.js as a conversion utility, not as actual types to carry data around. It doesn't seem to work for that, but maybe I'm just missing it.

js-joda is a library with date, time, duration, period... full on ISO-8601. However, it currently has a huge gaping hole when it comes to localization. (https://github.com/js-joda/js-joda/issues/34)

[2017-04-05 18:00] dnome2 opened #5334 "codegen for multiple .yaml files together."
##### Description

I'm trying to generate python client from a bunch of yamls that are autogenerated for our project. Is there way using the cli, that i can specify all the yaml file together, i.e with -i option. Does it take a list? I've tried to do that haven't succeeded so if there is way to get around it would really help.

##### Swagger-codegen version

recently downloaded swagger codegen. Fa

[2017-04-05 18:24] jdevera commented on #5186
@wing328  I might get some time to look at this, yes.

[2017-04-05 18:40] rmharris157 commented on #5171
I thought that was supposed to be overridden by the title property.

[2017-04-05 19:00] cenkentimist opened #5335 "[typescript] missing type for a property results in it being ignored with little warning"
##### Description
if you leave the type of a property in a defintion it will be silently dropped from the typescript definition with only the message `[main] WARN io.swagger.util.PropertyDeserializer - no property from null, null, {ENUM=null, TITLE=null, DESCRIPTION=I'm invisible!, DEFAULT=null, PATTERN=null, DESCRIMINATOR=null, MIN_ITEMS=null, MAX_ITEMS=null, MIN_PROPERTIES=null, MAX_PROPERTIES=n

[2017-04-05 20:14] wing328 commented on #5171
Agree with you it's a bug. Please use the workaround for the time being.

If you've time to contribute a fix, I can show you some good starting points.

[2017-04-05 20:36] wdunn001 commented on #3513
in this scenario how would you provide a BASE_PATH for multiple API's ? for example if you had a authentication web api and a appdata api

[2017-04-05 22:35] SonnyRajagopalan commented on #5326
Because of a quirk in swagger, I do not get to "catch" the header in `swagger-security.js` (i.e., the swaggerSecurity middleware). My workaround was to manually tamper with the `swagger-security.js` file. The condition

          if (securityReqs && securityReqs.length > 0) {

won't catch the Auth header. Instead, catch it in the `else` clause like so:

    req.swagger.params.Authorization.origina

[2017-04-05 22:35] #5326 closed

[2017-04-05 22:36] dwoodel commented on #4907
Me and @wuf810 have fixed it.  I just fored the repo ill put up a PR tomorrow morning.

[2017-04-05 23:27] damienpontifex commented on #3513
@wdunn001 I've thought I might come up against this same problem and am not sure how to make it work at the moment. I know with angular 4.x `OpaqueToken` was deprecated in favour of `InjectionToken<?>` so maybe that has some added functionality that could be used.
Happy to have anyone else with some thoughts on this problem...

[2017-04-05 23:27] tbe opened #5336 "[Perl] remove singleton for ApiClient"
##### Description
The ApiClient generated for Perl uses a singleton. This makes it impossible to use it in a web application with multiple users and therefore multiple authentication data.

##### Swagger-codegen version

v2.2.2

[2017-04-06 06:42] wing328 commented on #5336
@tbe yes, we've been doing something similar (removal of singleton) in other languages. Most recently, we did that for Python in branch 2.3.0 (with breaking changes) via https://github.com/swagger-api/swagger-codegen/pull/5012

May I know if you've time to contribute the enhancement to make the Configuration per ApiClient? If yes, I can show you some starting points.

[2017-04-06 06:58] tbe commented on #5336
@wing328 sure. I already started last night reading the templates and experimenting.

[2017-04-06 07:09] wing328 commented on #5336
@tbe thanks! Let us know if you need any help.

Please pull the latest 2.3.0 and file the PR against 2.3.0 as it's going to be a breaking change.

[2017-04-06 08:02] pminten opened #5338 "[PHP] Serializing maps"
##### Description

When serializing a map object (type object with additionalProperties) in a generated PHP client additional keys not explicitly declared in the spec are ignored.

##### Swagger-codegen version

2.2.2, the problem also exists in the master branch at abffdca441c3a524ac336d66c24e4fa474cd2493 (current tip of master).

##### Swagger declaration file content or url

This is a definitio

[2017-04-06 08:32] wing328 commented on #5326
@SonnyRajagopalan thanks for sharing the details on how you fixed the issue.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2017-04-06 08:47] wing328 commented on #5334
`-i` does not support list of spec and I don't think config.json should be the same for all the spec you want to generate the Python SDKs with.

[2017-04-06 08:50] wing328 commented on #5275
I think what you suggested is relevant to https://github.com/swagger-api/swagger-codegen/issues/2096#issuecomment-187292042

[2017-04-06 08:53] wing328 commented on #5275
Probably the latter if I remember correctly

[2017-04-06 09:01] #5333 closed

[2017-04-06 10:36] wing328 commented on #5333
Fixed via #5339. Please pull the latest master to give it a try.

[2017-04-06 10:42] wing328 commented on #5329
@mkarpusiewicz thanks for reporting the issue with the spec and I could repeat it.

The issue has to do with **array** of enum as after removing the array the code compiles fine.

I'll take a look this weekend to see if I can find a fix for it.

[2017-04-06 10:45] wing328 commented on #5332
@jojow can you provide more information on what server code you want to generate? Java Spring, C# Nancy, PHP Slim, etc?

Here is a list of targets (client, server, API doc) supported:
[code]

[2017-04-06 11:04] mkarpusiewicz commented on #5329
@wing328 Thanks, give me a shout if I can help with anything.

[2017-04-06 11:47] egormasalitin commented on #5240
@wing328 I created solution for this: https://github.com/swagger-api/swagger-codegen/pull/5341

[2017-04-06 14:00] jojow commented on #5332
@wing328 thanks for the reply! I'm currently interested in generating Java Spring Boot server code.

After I specified `<language>spring</language>` (instead of `<language>java</language>`) in my pom.xml file, server code was generated.
So, `<language>java</language>` does only generate client code. It would be awesome if this could be documented explicitly. I'll make a pull request. :-)

Thanks f

[2017-04-06 16:08] cbornet commented on #5282
Last time I checked, joda was working fine on Android...
Of course we could use the optimized lib for android but that's a different subject. Actually we could have a flag that would configure everything for Android (gradle, jdk6, joda-time, etc...).

[2017-04-06 16:23] wing328 commented on #5323
`response` (model name) will become `ModelResponse`

[2017-04-06 17:29] TiFu commented on #5136
TS Node doesn't have this issue. It uses only 1 file (`api.mustache`) and all exports are declared using `export class {{className}}`

[2017-04-06 19:01] jgavris opened #5343 "[Swift3] Unit tests do not compile"
##### Description

The example Swift 3 project tests do not compile.

##### Swagger-codegen version

2.3.0 @ `6c745596d43baa99792165e8a3e50e9c37bcf47e`

##### Swagger declaration file content or url

Petstore.json example

##### Steps to reproduce

Ran `./bin/swift3-petstore-all.sh` and then tried to run
 the unit tests in `./samples/client/petstore/swift3/default/SwaggerClientTests/SwaggerClient.

[2017-04-06 19:05] JLLeitschuh opened #5344 "[All Generators] List of `required` gets dropped in objects with `allOf`"
##### Description
If you have a field that has been marked as `required` in a definition that extends from another type the `required` field is stripped off the spec.

##### Swagger-codegen version

Reproducible through the editor: http://editor.swagger.io/
Also, in 2.2.2.

##### Swagger declaration file content or url

Input spec:
[code]

After being run through the swagger codegenerator (yaml ->

[2017-04-06 19:28] DavidBiesack commented on #4846
Note: I resolved the problem with building an uber jar. I'm using Gradle (not Maven) for my project, so I was able to build the jar using

[code]

Note: ` DuplicatesStrategy.EXCLUDE` is **required** so you don't end up with multiple copies of the services file.

[2017-04-06 20:40] dnome2 commented on #5334
Thanks for the response. The thing is all these spec's are of same application but it would be helpful if all the api's are in the same folder so a sdk/client that is generated does have redundancy for eg files like api_client.py would be generated in every folders for every config.json. Is there a better way that you can help us suggest for generating multiple specs?

[2017-04-06 21:31] anuthebananu opened #5346 "[Spring] Add serialVersionUID to serializable model POJO's"
##### Description

When trying to use auto-generated Spring models in my Spring Boot project, the Java compiler throws the following warning for each model:

` warning: [serial] serializable class <class name> has no definition of serialVersionUID`

These warnings prevent me from using the auto-generated Spring models in my project, as I cannot submit any code that has compiler warnings.

##### Sw

[2017-04-06 23:23] wing328 commented on #5334
I think you will need a tool to combine the Swagger spec into one.

Another suggestion from mine is to actually generate 3 SDKs separately as some developers may prefer Python modules that are smaller in size with only a few endpoints. (we did have issues opened before about size of SDKs too large to fit into certain environments)

[2017-04-06 23:25] wing328 commented on #5136
@TiFu thanks for reviewing. May I know if you've time to review other TS generators and file a fix using `classFilename` accordingly?

[2017-04-07 00:26] wing328 commented on #5343
@jgavris thanks for spotting the issue. I tried running the test without updating Swift3 Petstore and it's fine but looks like a recent change breaks it.

There are many little issues with CIs these days and I'll open a master issue to track all of them (including this one)

[2017-04-07 00:29] kernwig opened #5349 "[angular2] Compile error with Angular 4 AoT providing Configuration"
##### Description

Error when trying to import `ApiModule.forConfig(myConfiguration)` from a const Configuration object.

Error: Error encountered resolving symbol values statically. Calling function 'Configuration', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function

##### Swagger-codegen version

2.3.0

##### Command line used for

[2017-04-07 00:33] wing328 commented on #5338
@pminten can you show us what the JSON payload looks like? I think you may not have defined `Root` in your example correctly.

[2017-04-07 00:35] wing328 commented on #5349
@kernwig thanks for reporting the issue. Please file a PR so that we can review the fix.

[2017-04-07 00:36] wing328 commented on #5323
I've updated the reserved keyword list to include "response". Please pull the latest master to give it a try.

[2017-04-07 00:51] wing328 commented on #5349
If this change is for Angular 4 only, please add an option "angular4" for the `library` option.

[2017-04-07 00:55] kernwig commented on #5349
I don't actually know. I found AoT unusable in Angular 2. Just trying it again after upgrading to Angular 4, but the linked report is from last December, so it is probably true with Angular 2 also. The fix will work in both for sure. I don't know what `library` is. Heading out on vacation momentarily, so it'll be a while before I can pursue this further.

[2017-04-07 01:00] wing328 commented on #5349
For other API clients (e.g. Java), we provide support for different HTTP libraries via the `library` option:
[code]
For Angular2, we can do something similar to support newer version for Angular (instead of creating another generator)

Enjoy the vacation!

[2017-04-07 01:07] kernwig commented on #5349
Ah. Not needed as of yet. I haven't seen anything in swagger-codegen that matters between Angular 2 vs 4. I just happened to try this in Angular 4. I included it in the title because I cannot confirm that's what I can test with at this point.

I can say that my suggested fix works, and should be fine for Angular 2 as well. Whether or not it's the best fix, I don't know. I see that value provider i

[2017-04-07 06:49] suresh777 commented on #5323
if i try to generate swagger client in swift it is giving classes folder it contains both apis,alamofire classes,if i import into xcode it is working fine but if i generate swagger client for one more microservice it gives both apis,alamofire classes,in ios there is no package structure so that if i try to import this same alamofire classes it shows already exist, one way is  i need to convert eve

[2017-04-07 07:18] pminten commented on #5338
The JSON the api expects is something like (usually with a whole lot more `question_NUM` keys):

[code]

I've tried this with several variations of the Root definition, all drop the question_* entries

[code]

[code]

And the same with additionalProperties false (which after reading the json-schema spec is indeed incorrect). Setting additionalProperties to `{"type": "string"}` (which is actually i

[2017-04-07 08:03] sadimusi opened #5350 "Environment variables are not properly reset by Maven plugin"
##### Description

Environment variables set using the `environmentVariables` parameter remain in effect across multiple executions of the Maven plugin.

##### Swagger-codegen version

latest 2.2.3-SNAPSHOT

##### Swagger declaration file content or url

[code]
##### Command line used for generation

[code]

##### Steps to reproduce

* Create a maven project with the plugin configuration shown abo

[2017-04-07 08:24] darius-iko commented on #3586
Thank you.

[2017-04-07 09:00] wing328 commented on #5338
Instead of defining `"$ref": "#/definitions/Root"` inside "schema", what using the following instead?
[code]

[2017-04-07 09:04] wing328 commented on #5346
Closed via #5347. Thanks for the PR from @anuthebananu

[2017-04-07 09:26] malickcisse commented on #5091
Having the same issue as well, changed the provided scope to compile in order to fix it

[2017-04-07 10:29] pminten commented on #5338
I've tested that with the following spec:

[code]

The spec is intended to work with a trivial php page which I run with `php -S localhost:9001 server.php`:

[code]

The driver is a client program:

[code]

This is the result:

[code]

On the server the first post call gives an incoming post body of `{"question_1":1,"question_2":"a"}`.

So the get call works correctly, the post call with array wor

[2017-04-07 13:14] TiFu commented on #5136
I'll review it next week.

[2017-04-07 15:08] JLLeitschuh commented on #5344
I may have the spec defined wrong:
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/petstore-simple.yaml#L124-L136

[2017-04-07 16:09] chidionuekwusi opened #5352 "Csharp Client not generating valid enums"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-04-07 16:26] egormasalitin commented on #5240
@fehguy Can you please review my pull?

[2017-04-07 16:27] anuthebananu commented on #5346
I'm using Gradle to load swagger-codegen-cli as a dependency in my Spring Boot project. Unfortunately the latest available version on my company's repository is 2.2.2.

I saw you added this PR to the 2.2.3 patch release milestone - when is that scheduled to be released?

[2017-04-07 18:12] archsri333 commented on #5309
Please anyone of you help me in letting me know how to use -t option to customize template.

[2017-04-08 08:42] cbornet commented on #5240
I think it' not a good idea to add yet another option. I would set null by default.
An empty list could be generated when the field is required though.

[2017-04-08 09:56] cbornet commented on #5275
ModelOne and ModelTwo could be objects that you actually want to instanciate (eg. they are the response to an operation). So I don't think this is doable. Also I don't see what you would gain since you would still need to implement the getter/setters in the class.

[2017-04-08 14:17] fisherliu opened #5354 "could the generated code be supported beanValidation"
@ePaul,
hi ePaul,
I am the swagger user. could you help me?
In current generated code, there is no beanValidation info .
@ApiModelProperty(example = "null", required = true, value = "Unique identifier")
  public String getId() {
    return id;
  }
could swagger support to generate beanValidation like below
**@NotNull**
@ApiModelProperty(example = "null", required = true, value = "Unique identifier

[2017-04-08 15:39] fisherliu commented on #5354
The latest version has fixed the issue. so closed!

[2017-04-08 15:39] #5354 closed

[2017-04-08 19:57] jfiala commented on #5262
@JFCote thx for your feedback.
To make things clear, you only need two dependencies to run the generated JS client code in any browser (without using npm or anything else):
- querystring.js (npm\node_modules\request\lib\querystring.js, there are other flavours of it available as well as querystringJs etc.)
- superagent.js

In fact, the first implementation I did in Dec. 2015 only used jquery as de

[2017-04-09 08:22] ePaul commented on #5354
Not sure why you pinged me, but a hint for future issues:

If you wrap the code in

[code]
or
[code]

it becomes much more readable. (Similar for other programming languages.)

[2017-04-09 11:34] Krabatz commented on #5317
Hi @wing328 , did you request a fix from me? OK, why not. Please advice me and I'll try to fix it.

[2017-04-09 11:48] glebmachine commented on #4774
+1 got the same at latest version (2.2.2)

[2017-04-09 13:50] iamkarlson opened #5355 "[csharp-client] logging of requests"
Add logger to the client: to the configuration, api client, etc.

##### Swagger-codegen version

last from the masteer

##### Suggest a Fix

create simple wrapper which always calls partial methods with same signature

[2017-04-10 05:54] wing328 commented on #5355
@iamkarlson sounds good to me. May I know if you've time to contribute the enhancement?

Please note that the latest C# generator in master supports API client with RestSharp or RestSharp.Portable.

[2017-04-10 05:58] wing328 commented on #5352
@chidionuekwusi thanks for reporting the issue. What's the "correct" code look like?

I could find a test case here to cover integer enum in C#: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger.Test/Model/EnumClassTests.cs#L66

[2017-04-10 06:04] wing328 commented on #5335
@cenkentimist thanks for the suggestion. I agree better error message can make the experience better using Swagger Codegen

Please submit your feedback to [Swagger Parser project](https://github.com/swagger-api/swagger-parser), which is used by Swagger Codegen to parse the OpenAPI/Swagger spec.

[2017-04-10 06:05] #5346 closed

[2017-04-10 06:07] wing328 commented on #5346
@anuthebananu we target to release 2.3.0 (with breaking changes) in April/May. It will contain the enhancement you made to Spring models.

Given that we released 2.2.2 in March, I foresee it will take 3 to 4 months for another release (2.2.3)

[2017-04-10 06:22] wing328 commented on #5310
@elizabetht looks like the Spring templates do not include any response example at the moment.
[code]
(only POJO template contains examples defined in the spec)

May I know if you've time to contribute the enhancement? I can show you some good starting points.

[2017-04-10 06:25] wing328 commented on #5309
I've added the following FAQ. Please take a look to see if it helps.

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-04-10 06:26] wing328 commented on #5182
Closed via #5183

[2017-04-10 06:26] #5182 closed

[2017-04-10 06:27] wing328 commented on #5269
@kpradeepkumarreddy please fill out the form for reporting issue by providing the details so that the community can help you out.

[2017-04-10 06:27] #5269 closed

[2017-04-10 06:28] wing328 commented on #5137
@triet96 please share the spec so that we can more easily reproduce the issue.

[2017-04-10 06:30] wing328 commented on #5129
@tainacaetano so you mean you've included Trust Store and Key Store configuration in the spec somehow and you want the auto-generated Java API client to include these configuration as part of the code generation, right?

[2017-04-10 11:34] egormasalitin commented on #5240
@wing328 @fehguy @cbornet @ePaul
Hello, I’ll try to explain why this patch is so important for us.

We have RESTfull API service, which supports partial update. For us it means that user can update only 1 field, if he send us only 1 field in JSON.

For example we have model in API

[code]

And if user send JSON:

[code]

To our API, we will update only name.

But, if we perform this operation via

[2017-04-10 11:44] usmanatron commented on #5093
Hi @dinvlad
I raised the same thing here: #5236 (but managed to miss your original issue!)
Thats now been fixed and should be in the next release I believe

[2017-04-10 11:56] frol opened #5358 "[JavaScript] Regression in 2.3 using `multi` parameters (Cannot read property 'buildCollectionParam' of undefined)"
##### Description

@michaelkourlas @wing328 After I upgraded from 2.2 to 2.3, all calls with `multi` parameters fail. DevTools says that `this.apiClient` is undefined [here](https://github.com/swagger-api/swagger-codegen/blob/c35fdc3bdaf9cef413104f9c7d34d76ec9fd0299/modules/swagger-codegen/src/main/resources/Javascript/ApiClient.mustache#L394):

[code]

Here is the context:

[code]

##### Swagger-

[2017-04-10 12:16] JFCote commented on #5262
@jfiala : Thanks for your answer!

Would you be able to find a revision in the master that contains this version that rely only on JQuery? I would like to try it. If it work, I think that this should be the default generator and the "npm" packaging/module should only be an options. In the meantime, I could use the old version for my project.

What do you think @wing328 ?

[2017-04-10 12:26] JFCote commented on #5262
I've made my homework and I think I have found your latest commit in the javascript generator:
b0e3be8fb371a21a0f2adcc6c5021fe1756b1c05

The only thing is that a LOT of bug fixes and features has been add after that. I will try to use it for my project and we'll wait for the advice of @wing328 for what to do.

Thanks!

[2017-04-10 12:56] ebelanger opened #5359 "[JavaSpring] responseWrapper method body does not match with method signature"
##### Description

When using the responseWrapper configuration, the ResponseEntity is wrapped correctly in the method signature, but the content will still return a Future.

Also the fully qualified name for DeferredResult is an old package and doesn't resolve in Spring latest version.

##### Swagger-codegen version

2.2.0

##### Command line used for generation

responseWrapper
async
jdk8

#####

[2017-04-10 13:02] ebelanger opened #5360 "[JavaSpring] cascaded bean validation not implemented."
##### Description

When activated, Hibernate Bean Validation only applies the first level properties.

##### Swagger-codegen version

2.2.0

##### Suggest a Fix

@Valid needs to be added on properties which contains RefProperty, Map of RefProperty and List of RefProperty.

[2017-04-10 13:03] elizabetht commented on #5310
@wing328: yes please let me know. I can follow your help.

[2017-04-10 13:08] elizabetht commented on #5310
To clarify, what I am looking for is to start up a tomcat with the war created using spring swagger code gen and get a predefined response when someone hits the endpoint from swagger. Now, I am able to startup tomcat with the war compiled using the generated files but getting an empty response when I hit the endpoint from swagger. The idea is for UI developers to go on with their development using

[2017-04-10 13:55] JFCote commented on #5262
@jfiala : I've tried the old version of your generator but could not use it for multiple reasons, probably bugs that have been fixed since that time. But it is exactly like it should be, lightweight and needing nothing more than jquery.

[2017-04-10 14:21] iamkarlson opened #5361 "[csharp-client] Get rid of Configuration in the ApiClien"
##### Description

Client code contains tons of unused code as if

[code]

We can drop it of simply by replace reference to Configuration with reference to ApiClient. And then, in the ApiClient, do all this stuff like default headers, or timeout,etc.

##### Swagger-codegen version

last from master

##### Related issues

##### Suggest a Fix

Refactor client templates and remove api client referenc

[2017-04-10 14:50] wing328 commented on #5361
@iamkarlson thanks for the feedback. Would you please test the following PR?

https://github.com/swagger-api/swagger-codegen/pull/3530

Here are the steps
[code]

[2017-04-10 15:25] #5350 closed

[2017-04-10 15:35] wing328 commented on #5240
@egormasalitin thanks for the patch.

An empty list could be generated when the field is required though.

Would that meet your requirement? I think we can easily update the template to use `null` for optional property and an empty list for required property.

[2017-04-10 15:46] egormasalitin commented on #5240
@wing328 Hello, thank you for your answer, it is better than nothing, but still not exactly what we want, because in case of partial update the problems remains the same.

For example we have same dto, but `autors` is required field:
[code]
It means that when we will decide to change `name` only, we will override `autors`

Can you please tell me why required `List` or `Map` cannot be null?

[2017-04-10 15:53] wing328 commented on #5240
Let's step back and try to review `required` and `optional`. If a field is required, it must be present in the JSON/XML payload (and the RESTful backend is expecting that field in the payload). For your use case, you only want to update `name` (optional) only. Can you mark `autors` as optional instead?

I just want to avoid omitting a required field in the payload, which does not conform to the sp

[2017-04-10 15:57] egormasalitin commented on #5240
@wing328 yes, I get it, thank you, I thought about `required` in another way. Sorry about that. In this case solution:

Fits perfectly

[2017-04-10 17:00] wing328 commented on #5240
I will try to file a PR tomorrow by updating the templates.

We'll also need to do the same for C# and other langauges as well.

[2017-04-10 17:09] michaelkourlas commented on #5358
@frol That else branch is used to parse collection query parameters with a type other than `csv`. Removing it is indeed not a proper fix.

It looks like I made a typo in that line. It should read
`queryParams[key] = this.buildCollectionParam(param.value, param.collectionFormat);`
rather than
`queryParams[key] = this.apiClient.buildCollectionParam(param.value, param.collectionFormat);`

I'll make a

[2017-04-10 17:10] michaelkourlas commented on #5358
I am surprised, though, that the tests didn't catch this. I guess we don't test requests with different collection query parameter types.

[2017-04-10 17:12] dinvlad commented on #5093
Hi @usmanatron, good to know! @wing328, sorry that I didn't get my hands on it

[2017-04-10 20:51] #5336 closed

[2017-04-11 02:41] wing328 commented on #5240
@egormasalitin please test https://github.com/swagger-api/swagger-codegen/pull/5363 to see if it fixes the issue for you.

[2017-04-11 02:51] wing328 commented on #5240
UPDATE: reviewed C# client, server generators and confirm there's no similar issue

[2017-04-11 03:25] wing328 commented on #5310
@elizabetht thanks for offering help to add the example support.

We can use the the following mustache tags to add `examples` in the auto-generated code:
[code]
You can add `-DdebugOperations=true` to inspect the examples defined in the spec. These values will be used by the mustache templates, e.g.
[code]

The Spring-related templates can be found in https://github.com/swagger-api/swagger-codege

[2017-04-11 03:54] wing328 commented on #4961
@MMirabito can you please try #3530 to see if it addresses the issue for you? Let me know if you need steps for testing the PR.

[2017-04-11 09:22] egormasalitin commented on #5240
@wing328 Hello, thank you, I just tested it, works great, but maybe better set it to `null` as in other cases (when it is object)?

Because now it looks like this:
[code]

maybe it should be like this?

[code]

I know that meaning is the same, but it can make them the same in details.

[2017-04-11 09:53] wing328 commented on #5358
Closed via #5362

[2017-04-11 09:53] wing328 commented on #5338
cc @arnested

[2017-04-11 10:04] wing328 commented on #5240
@egormasalitin I was actually thinking about the opposite: to omit `null` for other variable type (String, Integer, etc). Given that both are the same, it's just a matter of developer's preference (I don't recall style guide mentioning anything about this in particular). Meanwhile I'll take your suggestion to add back `= null` for consistency.

[2017-04-11 10:10] egormasalitin commented on #5240
@wing328 Thank you a lot. I saw that in the rest of the generated files it was like that, so suggested such change. I agree that it can be `{TYPE} {NAME};` or `{TYPE} {NAME} = null;` but it should be same for all fields. Thank you again.

[2017-04-11 11:07] hammadkhan119 opened #5366 "Cannot generate Examples Object for Server Code"
I have an examples object in my YAML file but when I generate Server stub for C# using NSWAG or Swagger hub Website then it is not generating code for examples object.

Is it currently supported or not?

Thanks

[2017-04-11 11:08] wing328 commented on #5240
Closed via https://github.com/swagger-api/swagger-codegen/pull/5363

[2017-04-11 11:08] #5240 closed

[2017-04-11 11:25] egormasalitin commented on #5240
@wing328 Thank you

[2017-04-11 11:40] egormasalitin commented on #5240
@wing328 Sorry, I forgot about 2 more questions (not related to this issue)

1. When approximately `2.2.3` will be released?
2. Do you have some `live artifactory`? I mean repository with development project versions (like 2.2.3-master or so)

[2017-04-11 12:11] stmeyer commented on #5006
@fehguy Any news to this bug?

[2017-04-11 13:30] elizabetht commented on #5310
@wing328 I am thinking these changes to go in apiController.mustache file? Or where you thinking elsewhere? Please let me know.

[2017-04-11 13:34] elizabetht commented on #5310
Also, let me know which branch I should use as base to send a PR? 2.3.0?

[2017-04-11 14:07] wing328 commented on #5310
Current master please. 2.3.0 is for breaking changes.

[2017-04-11 14:09] wing328 commented on #5310
apiController.mustache seems a good starting point. (disclaimer: not an expert in Java spring)

[2017-04-11 14:14] agu780ph commented on #4171
I am also interested in a `resteasy` Client. I checked out @gayathrigs branch, but it seems not to be finished yet. Is anyone still working on this branch?

[2017-04-11 14:23] #5319 closed

[2017-04-11 15:51] nikitozz opened #5367 "Async methods are not generated for .NET API when target framework is netstandard"
##### Description

When generating a client for a .NET `netstandard` API, async versions of methods are not generated even when `supportsAsync` option is set to `true`.

##### Swagger-codegen version

Swagger version: 2.2.3-SNAPSHOT
Regression: No. The issue introduced with the support of `netstandard`.

##### Command line used for generation

[code]

##### Steps to reproduce

1. Generate a client

[2017-04-11 16:05] wing328 commented on #5251
Closed via #5314

[2017-04-11 16:05] #5251 closed

[2017-04-11 16:12] wing328 commented on #5318
Just want to share a bit more on customizing datetime format in other client generators such as C#, Java, PHP. The idea is that the server is not expecting RFC3999 datetime but in order to ease the adoption of Swagger/OpenAPI, we allow the datetime format to be customized in the configuration class.

For Swift (2.x, 3.x) clients, we can probably do something similar by adding a configuration objec

[2017-04-12 02:39] #5367 closed

[2017-04-12 06:52] dnome2 opened #5371 "swagger spec with 2 tags generates 2 api files."
##### Description

I've two tags defined in the swagger spec .yaml file for each api, so when i run swagger-codegen generate, there are 2 corresponding *_api.py in apis directory. And the only difference between those two file is the class name. Shouldn't it generate only one api file, may be pick just the first tag from the list of tags??

Or is there an option to control the resultant *_api.py f

[2017-04-12 06:59] john-yick opened #5372 "[JAVA] Code generated has memory leak within Okhttp/Okio"
##### Description

After running the code generator and deploying into Tomcat 7.0.54 and JDK 1.7.55, deploying and un-deploying the WAR packages causes Tomcat to report that there is a memory leak within Okio and the below log appears in Tomcat:

"SEVERE: The web application [/XXXXXX] appears to have started a thread named [Okio Watchdog] but has failed to stop it. This is very likely to create a

[2017-04-12 09:08] xmeng1 opened #5374 "withCredentials:true for Typescript-Angular 2 Generated code"
##### Description

When I used the generated code of Typescript-Angular 2, and try to CORS request, the session information is always losing. After search the issue, I found that I need to add an option of `withCredentials:true ` when sending HTTP request. But the generated code does not include this option.

see: http://stackoverflow.com/questions/13734686/communication-between-angularjs-and-a-je

[2017-04-12 10:45] easz opened #5375 "Top-level enum definition (e.g. OuterEnum) is not processed properly in html doc and python client code generation"
**test input:**
   [test_enum.yaml](https://gist.github.com/easz/56ceba60bd06276c9891544e8b93dc7d)
   parameter is defined with a referenced type which references another string enum type.

**test with swagger-codegen 2.2.2:**
   - $ java -jar swagger-codegen-cli-2.2.2.jar generate -i [test_enum.yaml](https://gist.github.com/easz/56ceba60bd06276c9891544e8b93dc7d) -l python -o python-client
    and

[2017-04-12 10:50] sonicjolt opened #5376 "Include Swagger Codegen version in the generated files"
##### Description

When swagger codegen generates code, it would be very nice that it outpus which version of swagger codegen is used to generate the code. I have experienced several instances where developers have generated code with a specific version, and then forgotten which version they had used.

It seems it would be fairly easy to implement, and would save time for a lot of people.

##### S

[2017-04-12 11:01] wing328 commented on #5240
Usually it takes 3 to 4 months for a patch release. Upcoming release
(minor) is 2.3.0, which is due April/May.

We don't have a nightly build. You can either build the local JAR from the
latest master or use the docker image (which is updated whenever there's a
change to master as part of the Travis CI)

On Tue, Apr 11, 2017 at 7:40 PM, Egor Masalitin <notifications@github.com>
wrote:

[2017-04-12 11:03] egormasalitin commented on #5240
@wing328 thank you for your answer.

[2017-04-12 11:44] erreobi opened #5377 "Path Variable uppercase in RequestMapping but lowercase in PathVariable"
##### Description

The swagger file contain the following definition (I can't share everything):

`'/pets/{PetId}':

    get:
      tags:
        - Pets
      summary: Get a single pet
      description: Get a single pet
      operationId: GetSinglePet
      produces:
        - application/json
      parameters:
        - name: PetId
          in: path
          description: Unique identification

[2017-04-12 12:18] jeusdi opened #5378 "[Typescript/angular2] List<string> header parameter"
##### Description

I've this endpoint:

[code]

As you can see I'm setting `tokens` as a header parameter and it's a `List`.

Codegen generates well the method signature:

    deleteCards(user: string, tokens: Array<string>, extraHttpRequestParams?: any): Observable<Array<string>>;

Nevertheless, it seems the code implementation there's something wrong since I receive values as a single value. So

[2017-04-12 13:05] wing328 commented on #5377
@erreobi may I know which generator is that?

Please try the latest master as we've been fixing path variable naming. Please see https://github.com/swagger-api/swagger-codegen/issues/4898 for more information.

[2017-04-12 13:10] wing328 commented on #5372
@john-yick thanks for reporting the issue. For the time being, you can use the `-t` option with customized templates: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

May I know if you've time to contribute a PR to update the dependency version?

[2017-04-12 13:13] wing328 commented on #5376
@sonicjolt that's definitely a good suggestion. We do have "version" available through the command line.
[code]
It's just a matter of putting that into `additionalProperties` so that the mustache templates can reference it.

May I know if you've time to contribute the enhancement?

[2017-04-12 13:20] wing328 commented on #4774
One way is to use the following option to keep the original naming:
[code]

[2017-04-12 13:22] erreobi commented on #5377
I used the maven plug in swagger-codegen-maven-plugin  version 2.2.2
Here is my configuration:
`<plugin>
  <groupId>io.swagger</groupId>
  <artifactId>swagger-codegen-maven-plugin</artifactId>
  <version>2.2.2</version>
  <executions>
    <execution>
      <goals>
        <goal>generate</goal>
      </goals>
      <configuration>
        <inputSpec>src/main/resources/pets.json</inputSpec>

[2017-04-12 13:23] wing328 commented on #5377
You will need to build the JAR from the latest master to enjoy the fix (or you can use docker instead)

[2017-04-12 13:25] wing328 commented on #4171
I would suggest adding @gayathrigs work to the master as a starting point so that others can submit  PRs to enhance it.

@gayathrigs do you need help filing a PR? or you want us to do it for you?

[2017-04-12 14:22] wing328 commented on #5371
@dnome2 which version of Swagger Codegen are you using? We just release 2.2.2 a month ago: https://github.com/swagger-api/swagger-codegen/releases/tag/v2.2.2

The `tags` is used for grouping endpoints (operations) into classes and so far we've not seen a valid use case in which a single operation can belong to 2 classes.

[2017-04-12 14:22] einStefan commented on #3513
@wdunn001
I used the following way of "renaming" to provide two BASE_PATH:

[code]

[2017-04-12 14:23] erreobi commented on #5377
@wing328  Thanks!!

I can not download it from the public repository, is it my fault? or, when will it be in the public maven repo?

[2017-04-12 14:26] wing328 commented on #5374
@xmeng1 thanks for reporting the issue. Your suggestion sounds reasonable to me as we've done something similar to JS API client: https://github.com/swagger-api/swagger-codegen/search?q=withCredentials&type=Issues&utf8=%E2%9C%93

Do you mind submitting a PR so that we can review the fix?

Please also checkout the `typescript-angular2` client in `2.3.0`, which contains enhancements and breaking cha

[2017-04-12 14:27] wing328 commented on #5377
We don't do nightly build for the latest master. Can you try building it locally: `mvn clean package`? or use docker instead.

[2017-04-12 14:31] wing328 commented on #5366
@hammadkhan119 for C# server generator, we support NancyFx and ASP.NET Core Web API.

I don't think we support the `examples` at the moment. If you want to contribute the enhancement, I can show you some good starting points.

It's as simple as just 3 steps:
1) add {{#examples}} mustache tag
2) deserialize `examples` back into object
3) return the object

There's a similar ongoing work for Spring

[2017-04-12 14:32] wing328 commented on #5360
@ebelanger thanks for the suggestion. May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-04-12 14:34] wing328 commented on #5375
@easz Python API client lacks support for enum at the moment. May I know if you've time to contribute the enhancement? I can show you some good starting points as we've done it in other languages: PHP, C#, Java, JS, etc

[2017-04-12 14:35] wing328 commented on #5378
@jeusdi thanks for reporting the issue. Can you given an example of what the HTTP header for `tokens` looks like?

[2017-04-12 14:37] erreobi commented on #5377
I cloned it and it works fine! Thanks again!

When is it planned to push it in master?

[2017-04-12 14:37] gayathrigs commented on #4171
@wing328  and @agu780ph I have filed a PR with the changes that I have. Please review them. I have added java-petstore-resteasy.sh and java-petstore-resteasy.json to the bin folder. But when I ran it I got some errors. I will look into that later.

[2017-04-12 14:55] xmeng1 commented on #5374
@wing328  OK, let me try the latest firstly.

[2017-04-12 15:00] dnome2 commented on #5371
@wing328 i did a brew install locally on my mac,  how do i find what version do i have?

[2017-04-12 15:08] wing328 commented on #5377
https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-long-does-it-take-to-release-a-stable-version-eg-215--216

[2017-04-12 15:08] #5377 closed

[2017-04-12 15:10] erreobi commented on #5244
I found a workaround that it works for me: I copied the application properties from the generated code to the src/main.resources.

[2017-04-12 15:39] xmeng1 commented on #5374
I have modified the template and submit a PR. thanks
https://github.com/swagger-api/swagger-codegen/pull/5380

[2017-04-12 16:05] kenjones-cisco commented on #5230
Spring comes with [org.springframework.web.servlet.mvc.method.annotation.ResponseEntityExceptionHandler](https://github.com/spring-projects/spring-framework/blob/master/spring-webmvc/src/main/java/org/springframework/web/servlet/mvc/method/annotation/ResponseEntityExceptionHandler.java)

It handles mapping each of the following exceptions:
[code]

The default handler will call individual handler m

[2017-04-12 16:50] wdunn001 commented on #3513
@einStefan how does this work? wouldnt the second instance of provider just rename both BASE_PATH vars?

[2017-04-12 17:25] TiFu commented on #5136
I have looked into this today.

TS-Fetch & JQuery do not have this issue because they use only 1 file for the api & model code (api.mustache).

I have worked on a fix for Angular and noticed that [models.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular/models.mustache) also uses `classname` (as does Angular2, see [mo

[2017-04-12 18:44] bherila commented on #5104
@wing328 I am worried the template for this will become too complex/unwieldy, I already feel like editing the mustache templates is mind bending :-o

Also, I'm having buyers remorse about my own investment in the jquery library. Since I end up consuming the Typescript from multiple places (React Native, Node, and Client side) I am considering writing *yet another one* that uses just regular XmlHtt

[2017-04-12 20:53] kenjones-cisco commented on #5360
If we could just modify #4850 and simply make the following changes:

modules/swagger-codegen/src/main/resources/JavaSpring/beanValidation.mustache
append the following to the end of the file:
[code]

modules/swagger-codegen/src/main/resources/JavaSpring/model.mustache
insert after `{{#useBeanValidation}}`
[code]

I've done this previously (recently rebased) at https://github.com/kenjones-cisco/sw

[2017-04-13 00:06] mmkal commented on #5104
@bherila isn't [fetch api](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) a better candidate as a lowest common denominator? You should be able to use something like [this](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-fetch/builds/default/api.ts) it for React Native, Node and Client side.

As an aside, I agree that the curre

[2017-04-13 00:46] bbdouglas opened #5382 "Definitions Of Non-Aggegate Types Generate Empty Classes"
##### Description

When you have a definition that is a simple type (such as "string", "number", "boolean") the class generated for it is empty. This makes the class unusable for serializing/deserializing since it holds no data.

##### Swagger-codegen version

Current

##### Swagger declaration file content or url

    definitions:
      JustABoolean:
        type: boolean

Becomes

    public cla

[2017-04-13 03:35] mtakaki opened #5383 "[JAVA] Import mappings should be a list, rather than a string, with maven plugin"
##### Description
Currently, with the maven plugin, the `import-mappings` is unmanageable as the number of models grows. It's currently a single string parameter, comma-separated, but it becomes hard to read and spot mistakes when there are several classes.

##### Swagger-codegen version
2.2.1, 2.2.2, 2.2.3-SNAPSHOT

##### Swagger declaration file content or url
Any example with import-mappings ca

[2017-04-13 07:05] easz commented on #5375
Sure,

[2017-04-13 07:06] bbdouglas opened #5385 "Unsafe add/put calls in model classes"
##### Description

PR #5363 (fix for issue #5240) introduced unsafe add/put methods on list/map fields. It used to be possible to call add/put on a list/map field without first setting it to an empty list. Now, if you do that, it throws a NullPointerException.

I find it unintuitive that you must call `set` before you can call `add`/`put`. It also breaks backwards compatibility with clients that b

[2017-04-13 09:28] wing328 opened #5388 "[C++][cpprest] Add Petstore test for C++ (cpprest) API client"
##### Description

Similar to Qt5 C++ we want to add Petstore test for C++ (cpprest) API client so that we run integration tests as part of the CI.

##### Swagger-codegen version

Latest master

##### Suggest a Fix

A good starting point is to look at the tests for Qt5 C++: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/qt5cpp/PetStore

[2017-04-13 09:35] wing328 commented on #5385
@bbdouglas agree a null check can help avoid the NPE. I'll later review C# API client to see if we need similar fix.

[2017-04-13 09:51] wing328 commented on #5385
UPDATE: C# models do not have something similar that requires the same enhancement.

[2017-04-13 10:01] vincent-coetzee commented on #5156
Hi there,

Thanks for your email, sorry about the delay in replying.

I have pulled a copy of the swagger-codegen repo, created a branch and fixed the bugs in that branch. I’d like to push the branch to the repo but I am unable to do so, since I don’t have permissions to push to the repo. I’m unfamiliar with how to create a PR unless I can push the branch first, can you assist me here ?

Many than

[2017-04-13 10:41] wing328 commented on #5156
@vincent-coetzee did you "folk" https://github.com/swagger-api/swagger-codegen and work on the folked repo (e.g. https://github.com/vincent-coetzee/swagger-codegen)?

[2017-04-13 11:14] wing328 commented on #5371
Please try the following
[code]

[2017-04-13 11:19] wing328 commented on #5360
@kenjones-cisco I've merged #4850 into master. Please submit a PR on top of the latest master so that we can review the enhancement.

[2017-04-13 12:04] vincent-coetzee commented on #5156
Ah, thanks, I finally found the document detailing how to go about contributing. I have submitted the PR. I ran the shell/batch scripts, but on my machine they just hang.

[2017-04-13 13:05] wing328 commented on #5156
@vincent-coetzee sorry I forgot to send you this: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2017-04-13 13:08] wing328 commented on #4847
UPDATE: #4850 has been merged into master

[2017-04-13 13:14] wing328 commented on #4171
@gayathrigs thanks for the PR. I'll review shortly.

[2017-04-13 13:24] #5385 closed

[2017-04-13 15:04] ebelanger commented on #5360
@wing328 I just opened a PR with the fix.  Like I mentioned it only contains template modifications.  If you need more testing, I am open to suggestions.

[2017-04-13 16:20] ebelanger commented on #4307
@wing328 Here is another small contribution for minProperties and maxProperties support by reusing minItems and maxItems so no template change is required.

[2017-04-13 17:14] wing328 commented on #5136
@TiFu thanks for working on this issue.

I would think so since that line requires the file name.

[2017-04-13 17:17] wing328 commented on #5104
@bherila

Based on my experience with other generators (e.g. Java, PHP, C#, etc), there's always a need for another HTTP library since it's unlikely there's one HTTP library that can meet all the requirements.

If you don't mind, can you share more on the challenges you faced? Is that due to lack of documentation? no easy way to test the customized templates? or something else?

[2017-04-13 17:23] wing328 commented on #5104
@mmkal thanks for the feedback.

Is your suggestion similar to this one? https://github.com/swagger-api/swagger-codegen/issues/2197

Please feel free to open a new "issue" with a bit more details (any example?) and someone from the community might have already started working on it.

My goal about combining TS generators into one is to make it easier to add new features or apply bug fixes across a

[2017-04-13 19:10] keithchong commented on #2152
Hi @cbornet, I and trying v 2.2.2 and I added --additional-properties jackson=true, and I see that the JsonProperty import is added.   However, I see that:
 import com.google.gson.annotations.SerializedName;
is added also to the model classes.  Is there a way to turn that off?

[2017-04-13 19:12] elizabetht commented on #5310
@wing328 As we discussed, I used objectMapper to read value from the string and convert it to the object without having to change the signature of the generated methods to string. This works fine when I specify just one contentType example, say application/json. When I include both the examples, one for application/json and one for application/xml, the mustache template generates code twice.

Say

[2017-04-13 19:14] elizabetht commented on #5310
Submitted PR https://github.com/swagger-api/swagger-codegen/pull/5394

[2017-04-13 19:15] keithchong commented on #2152
Also do you know if the io.swagger annotations generated in v2.2.2 are compatible with the annotations generated from v.2.1.5?

[2017-04-13 19:20] elizabetht commented on #5310
Also, when I do not specify examples in swagger.json, the default examples are taken - which is fine. But it creates code like the following and produces compilation errors:
[code]

[2017-04-13 19:39] dnome2 commented on #5371
Ok this is what i have.

swagger-codegen version
2.2.2

@wing328 Seems like 'tags' is an array defined in swagger spec, i'm guessing its generating api for all the tags available in the array. Since the only use-case for tag is to group end point, it should avoid generating _api for rest of the tags in the list or provide any option to name the corresponding endpoint? Can you pls help us with prov

[2017-04-14 12:54] bharathreddy-97 opened #5397 "Object type not identified in swift 3"
[Swift 3]Bug

Swagger generated this method

open class func addEmails(lbid: Int64, lasid: Int64, luid: Int64, attachment: URL? = nil, lupid: Int64? = nil, ptype: String? = nil, emailAddRequest: AttObject? = nil, completion: @escaping ((_ data: AttSuccessResponse?,_ error: Error?) -> Void))

I am getting error as "Use of Undeclared type 'AttObject' ". 'Att' is the prefix we gave for models while g

[2017-04-14 15:13] dwoodel commented on #4907
Pull request raised.  Sorry about delay.

[2017-04-14 18:31] JLLeitschuh commented on #4693
The alternative here is to require uses to implement a controller advice class that correctly maps exceptions thrown in the controllers to the correct object.

https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc

The generation of the `@ApiResponse` annotations should be fixed though.
[code]

[2017-04-14 20:25] easz commented on #5375
@wing328  do you know what kind of template variables (e.g. isEnum, allowableValues ..etc) when codegen parses **outerEnum** **property** inside the **model** **Enum_Test**.
Apparently there is **!isEnum and !hasValidation**

It would be easier to fix it on the model property level as in top-level enum itself.

[code]

[2017-04-15 01:44] elizabetht commented on #5332
Shouldn't this issue be closed? I see the code changes being merged.

[2017-04-15 06:52] bherila commented on #5104
I think the biggest challenge with the mustache templates is the lack of editor support, I'm constantly fighting with my editor in terms of indendation and also have trouble keeping track of what context I'm in (especially in loops), and which/when variables are available/not. I think it's a mental block on my part more than anything else.

The environments that are important to me are Node and Br

[2017-04-15 06:53] bherila commented on #5104
Also, I'm developing an app for Android and iOS using React Native, so compatibility with that is important.

[2017-04-15 11:46] easz commented on #5375
The actual model information of a referenced model is not used for template generation.

Namely the **RefModel** is at the moment not processed in **DefaultCodegen**.**fromModel** and will also not be processed properly during **DefaultGenerator.generateModels**

The intuitive solution would be just to assign the actual Model for RefModel where the TODO is...
@wing328 does it fit to swagger design

[2017-04-15 15:03] MMirabito commented on #4961
wing328 unless I am doing something wrong it does not appear to resolve the issue. As I was debugging the C# client generated with the 2.3.0 CLI I noticed

- in my "UserProfileApi" the configuration object is being set correctly to  **"this.Configuration = configuration"**.

-  However, when the debugging moves to the **ApiClient CallApi(......)** the  **RestClient.UserAgent = Configuration.UserAg

[2017-04-15 17:40] mmaryo commented on #4376
@wing328 sorry for late
I push the code here : https://github.com/mmaryo/swagger-codegen/commit/b7b8881099e02c4ae0db1f5b757bc069be858c79
But I can't try it because when I run the generated jar with : java -jar swagger-codegen-2.2.3-SNAPSHOT.jar generate -i project/target/swagger.json -l java -o /tmp/test/
There is an error : no main manifest attribute, in swagger-codegen-2.2.3-SNAPSHOT.jar
Any ide

[2017-04-15 17:47] springified commented on #2502
@sbelan Hi I did exactly same approach. Iedited model.mustache file and provided top level @XmlRootElement. it worked with top level xml tags however I am stuck with collections.
I need a way to generate @XmlElementWrapper; around array list/map.
For example ,

if my xml input contains
`<books>
    <book>book1</book>
    <book>book1</book>
</books>
for below swagger.yaml
 books:
        type: arra

[2017-04-15 20:55] mbohlool commented on #4804
A model may be just a simple data type.

[code]

This is a valid according to spec and I think generator should support it. I face this problem in generated python client.

My solution is to have a model class extending the "type" or "Object" if there is no type.

[2017-04-15 21:03] mbohlool opened #5400 "[Python] Codegen for definition with no properties leads to missing models"
Similar to #4804

Models with no property are valid according to [swagger 2.0](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaObject) spec:

[code]
but code generator does not support them. My suggestion is to create classes that extends primitive types in this case. e.g., for something like this:

[code]

generator should generate something similar to:

[code]

Als

[2017-04-16 07:43] mumutu opened #5401 "the `required` property of type `file` not work in spring server code"
in the petstore.json, the file is marked as required false
[code]

in swagger-ui this file property  is optional,
but in the generated spring server code
[code]

obviously the file is required here..so I wonder if  it is a bug

[2017-04-16 11:54] easz commented on #5375
The easiest solution, similar to some other languages, is just to define the allowable enum values in the model (e.g. OuterEnum). For this I can provide a PR.

For example
[code]
whether it is suitable or friendly for python programming I am not sure. I am python beginner.

Another solution: to have explicit python Enum class
however the build-in Enum type is not supported in Python 2.
Probably le

[2017-04-16 16:29] wing328 commented on #4376
@mmaryo thanks for working on the enhancement. Please submit a PR so that we can review the fix and potentially come up with a fix to the issue you encountered.

[2017-04-16 23:34] jasusy commented on #2413
maybe because i am using newer version, it is generated pom.xml and apiImpl LOL but it is good though, it is still generating interface instead of class.

[2017-04-17 08:32] mmaryo commented on #4376
done
I tried pet store with --additional-properties=useRuntimeException=true and it works !

https://github.com/swagger-api/swagger-codegen/pull/5405

[2017-04-17 09:27] cbornet commented on #4376
Should it really be yet another option ? There are already so many...

[2017-04-17 13:56] dwoodel commented on #4907
Just had to be sure of some optional values.  Everything is cool.  Ready to go.

[2017-04-17 14:15] jgavris commented on #4907
@dwoodel Slow down...the Swagger test suite is a little flaky. Please don't open another PR, you can just rebase / force push / restart the builds on the PR you just opened. I've already started reviewing that one.

[2017-04-17 14:19] dwoodel commented on #4907
Hey @jgavris   Sorry I got an issue to do with auth on github my end.  It means I got some issues with pushing to different repos.   Ill re-open that if I can.  If not ill create one more and I wont close it.  I had to rebase my fork.

[2017-04-17 14:26] dwoodel commented on #4907
@jgavris Couldnt re-open.  Travis might pass now.  Applied to latest master on a new fork.  Sorry about all the PR spam.

[2017-04-17 14:41] wing328 commented on #4376
@cbornet I shared similar concern in some of my replies to PR/discussion that adds another option to codegen.

For this particular case, I think it's ok to add the option since other generators (e.g. C#) may need similar option as it's really developer's preference on which one to use: checked exceptions or unchecked exceptions. From what I understand, there's no conclusion on which one is preferr

[2017-04-17 14:43] #5136 closed

[2017-04-17 17:45] wing328 commented on #5310
@elizabetht I fixed a couple of issues: https://github.com/swagger-api/swagger-codegen/compare/master...wing328:elizabetht-issue-5310?expand=1

There are 2 remaining issues:
1) `if ("application/json".equals("")) { //TODO need to compare HTTP request "Accept"` needs to be fixed by replacing "" with the "Accept" in the HTTP request. Any idea how to obtain that in Spring?

2) we will need to escape

[2017-04-17 20:02] kenisteward commented on #5349
Is there a PR for this?

[2017-04-17 20:09] tgraupmann commented on #2834
@kpradeepkumarreddy Your dex error can be solved by upgrading your build.gradle Android API to 21. You'll want to close the project, clear your build folders, and rebuild after that.

It worked for me.
https://github.com/tgraupmann/swagger-codegen

[2017-04-17 20:48] keithchong commented on #2152
Hi @cbornet, for example, the Swagger codegen v2.2.2 inserted the @ApiParam annotation, and Swagger codegen v2.1.5 did not.

According to the readme.md file, both codegen versions are compatible with the Open API Spec 2.0.  Is this sufficient to claim that the generated annotations are compatible?

[2017-04-17 20:54] cbornet commented on #5310
@wing328 you can get the Accept header by adding a `@RequestHeader("Accept") String accept` param to the method

[2017-04-17 21:02] cbornet commented on #2152
Hi @keithchong the models between gson and jackson based libraries have been mutualized but the libraries themselves still use one or the other. There is currently no way to specify which json lib to use nor to completely remove them. Would you want to do a PR for that ?

[2017-04-17 21:25] elizabetht commented on #5310
@wing328 @cbornet Any thoughts on how to escape the new line characters that are present in the example?

[2017-04-17 21:28] elizabetht commented on #5310
@wing328 I used ```if ("{{{contentType}}}".contains(accept)) {``` because accept comes with "application/json;charset=UTF-8" and equals won't exactly match.

[2017-04-17 22:13] keithchong commented on #2152
Hi @cbornet, I tried setting the library to jersey1 and it seemed to remove a lot (all, from what I've tested) of the gson imports.  This appears to be the fallback we're looking for.

[2017-04-18 01:49] jackxpeng opened #5409 "swagger code generation for spring boot page not found"
generated spring boot code always returns 404. I tried git clone, the cli jar, and the online editor. Same thing. In each case I just used either the petstore json or in the case of the online editor, I did not modify the yaml. I was just trying codegen out for a project.

##### Swagger-codegen version

latest
##### Swagger declaration file content or url

just try it

##### Command line used for

[2017-04-18 04:33] cbornet commented on #5409
What request are you doing ?

[2017-04-18 06:49] cmb28 opened #5410 "swagger-codegen-maven-plugin generated SDK is corrupted"
I am using currently stable (2.2.2) swagger-codegen-maven-plugin to generate client code. But it gave me error, my plugin is,
[code]
error is,
[code]
This happen when i use `mvn clean install -e`.
I can create client code without using the maven plugin using this,

[code]
so i think the error is in the plugin, so can someone help me to fix it, thanks!

[2017-04-18 10:22] wing328 commented on #5310
@cbornet thanks for the tips.

I've pushed some fixes. Please review via https://github.com/swagger-api/swagger-codegen/compare/master...wing328:elizabetht-issue-5310?expand=1

@elizabetht Later we will need to do a case-insensitive `contains` instead as MIME type are case insensitive

[2017-04-18 10:38] cbornet commented on #5310
Also, the ObjectMapper should be injected (at least in Spring Boot) or at least built from the Jackson2ObjectMapperBuilder bean.

[2017-04-18 11:05] wing328 commented on #5349
@kenisteward not that I'm aware of. If you want to work on the enhancement, please reply to let us know.

[2017-04-18 11:16] wing328 commented on #2152
import com.google.gson.annotations.SerializedName;
is added also to the model classes. Is there a way to turn that off?

@keithchong Is that for the default Java API client (using okhttp-gson)?

[2017-04-18 12:05] HDaghash commented on #4969
Hey guys , how to generate lib from this branch 2.3.0 so i can use it before release time

[2017-04-18 13:02] elizabetht commented on #5310
@wing328 Pulled in your changes - with your lambda functions for escaping double quotes & line breaks, I am able to compile and see the example output when running my war. Can we isJsonMime or something along those lines?

[2017-04-18 16:06] wing328 commented on #4969
@HDaghash please try the following:
[code]

[2017-04-18 16:31] #5244 closed

[2017-04-18 16:35] wing328 commented on #5310
@elizabetht @cbornet let's merge what we've so far into master and work on those enhancements later.

[2017-04-18 16:37] wing328 commented on #5310
I thought `isJsonMime` would be useful but seems like the auto-generated code can still function properly without it. Later if there are valid use cases to create `isJsonMime`, we'll reconsider.

[2017-04-18 16:45] wing328 commented on #5400
@mbohlool thanks for reporting the issue. When I clicked on https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/V1Patch.md, I got a 404.

Is there a spec we can more easily reproduce the issue?

cc @scottrw93 @baartosz @frol @taxpon @scop

[2017-04-18 16:47] wing328 commented on #5310
#5411 merged into master. Closing this one.

@cbornet for the enhancement you mentioned, please open a new issue for tracking.

@elizabetht for any additional enhancements, please open a new issue.

[2017-04-18 16:47] #5310 closed

[2017-04-18 17:18] keithchong commented on #2152
Hi @wing328, originally, I am using -l Java, with no --library, _but_ I'm using my own templates.

I added this to the model template:

{{^jackson}}import com.google.gson.annotations.SerializedName;{{/jackson}}

but that didn't get rid of the import.

Question to both, do the Swagger annotations you 'inject' in the generated client or service in codegen v2.2.2 'compatible' with the potentially exi

[2017-04-18 17:22] jackxpeng commented on #5409
I tried requests in chrome like

http://localhost:8080/
http://localhost:8080/estimates/price
http://localhost:8080/estimates/time
http://localhost:8080/webjars
http://localhost:8080/api-docs
http://localhost:8080/swagger-ui.html

I see a list of mappings when starting it up so I tried them to no avail.

2017-04-18 10:21:39.878  INFO 19377 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMap

[2017-04-18 17:22] wing328 commented on #2152
To be clear, did you provide `--additional-properties jackson=true` as part of the code gen?

2.1.5 was a few versions behind. I would strongly recommend you use the latest stable version 2.2.2 instead.

[2017-04-18 17:53] keithchong commented on #2152
Yes, I added that as part of the code gen.

[2017-04-18 17:59] wing328 commented on #5310
@cbornet the enhancements actually change the method signature for Spring Boot client as well and resulting in the following errors:
[code]

For client, shall we omit the `accept` parameter?

[2017-04-18 18:21] mbohlool commented on #5400
@wing328 That is exactly the issue. We have a v1.Patch that is not resulted in generating a model.

https://github.com/kubernetes-incubator/client-python/blob/e69d4fe204b98f7d7ee3ada3996b4f5fbceae5fe/scripts/swagger.json

I've linked to a specific commit because I am implementing a workaround for now and this file will be changed soon. But in the commit I linked about, the file has the model but g

[2017-04-18 18:23] mbohlool commented on #5400
You can also look at `v1.Time` and `resource.Quantity` models that has the same problem in the above spec.

[2017-04-18 18:31] HDaghash commented on #4969
many thanks @wing328
i already did that but where can i found the generated package to use it in angular2 / typescript .

i need the same folder like when i do npm install  swagger-codegen

Thank you !

[2017-04-18 18:48] cbornet commented on #2152
It's added in the model imports : https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L349
So right now you can't remove it by templates.

[2017-04-18 18:58] kernwig commented on #4969
@HDaghash  Here's an example of how I use my locally compiled version, run from a parallel directory:

`java -jar ../swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i swagger.json -l typescript-angular2 -c config/swagger.json -o src/app/api`

[2017-04-18 19:01] cbornet commented on #5409
Your context path is `/v1`
So try http://localhost:8080/v1/swagger-ui.html

[2017-04-18 19:07] HDaghash commented on #4969
Thank you @kernwig for the fast response

what i meant here if i install the npm package for swagger i will use this command :

ex : swagger-codegen generate -i address.yaml -l typescript-angular2 -o .

how can i generate a package to replace it in my node_moduls instead of waiting the next release

your help is highly appreciated .

[2017-04-18 19:49] mgriego commented on #3839
We've run into a similar issue.  We're validating a path string on a model, so the regular expression is `[/a-zA-Z0-9_-]+`.  Since the code above doesn't do `Pattern.quote()` on the provided pattern, the `/` in the pattern ends up with an invalid regex: `/[/a-zA-Z0-9_-]+/`.

[2017-04-18 19:53] jackxpeng commented on #5409
oh that's it. Thanks a lot, Christophe!

[2017-04-18 19:53] #5409 closed

[2017-04-18 20:21] HDaghash commented on #4969
Thank you guys
it's seems the one on npm not official , but it very nice to have one 👍

Thanks for the support .

[2017-04-18 20:51] elizabetht opened #5413 "[Spring] Improvement - Autoinject ObjectMapper instead of creating ObjectMapper in apiController"
##### Description

One of the enhancement comments from @cbornet from Issue#5310 is that we should auto-inject the ObjectMapper in apiControllers instead of creating it. [https://github.com/swagger-api/swagger-codegen/issues/5310]

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Command line used for generation

language = 'spring'
inputFile = file('src/main/resources/swagger.json')
configFil

[2017-04-18 20:52] elizabetht commented on #5310
@wing328 @cbornet I created issue#5413 to track the enhancement that @cbornet suggested and have a fix. Please review it and let me know your comments. Thanks!

[2017-04-18 20:57] elizabetht commented on #5310
@wing328 @cbornet Here is the PR for autoinjecting objectMapper: https://github.com/swagger-api/swagger-codegen/pull/5414

[2017-04-18 21:48] elizabetht opened #5415 "[Spring] Bug - Xml examples do not get deserialized correctly"
##### Description

The changes done in #5310 have caused Xml Examples not be deserialized correctly during runtime. We actually get an exception
[code]

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Command line used for generation

language = 'spring'
inputFile = file('src/main/resources/swagger.json')
configFile = file('src/main/resources/config.json')

##### Steps to reproduce

Autogener

[2017-04-19 03:30] elizabetht commented on #5376
@wing328 I can contribute, if you can point me to the places where the version can be picked up to be added to the additionalProperties.

[2017-04-19 03:35] elizabetht commented on #5261
@wing328 Could you clarify what is expected out of this issue? I am willing to contribute.

[2017-04-19 04:04] wing328 commented on #5376
@elizabetht thanks for offering help on this. Which language generator do you want to work on? SpringMVC?

[2017-04-19 05:10] cbornet commented on #5310
@wing328 yes, the Accept header has no use for the client

[2017-04-19 05:11] elizabetht commented on #5376
Yes, to start with, I would like Spring MVC

[2017-04-19 08:40] wing328 opened #5419 "Upgrade API client integrate tests to use Fake Petstore spec"
##### Description

[petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml) covers a lot more edge cases when comparing with the original one ([petstore.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/

[2017-04-19 08:44] iamkarlson commented on #5361
@wing328 I checked it out. Everything is ok. I have a couple of issues and modifications. I add raw server response to ApiResonse class and additionally check that ApiClient returns an error from the server, and that is not a network error. What do you think if I make a patch and send it to you?

[2017-04-19 08:53] wing328 opened #5420 "Upgrade API server integration tests to use Fake Petstore spec #5419"
##### Description

[petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml) covers a lot more edge cases when comparing with the original one ([petstore.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/

[2017-04-19 09:03] wing328 opened #5421 "[Python] Better JSON Serialization and Marshaling"
##### Description

Currently, the Python API client relies on our own deserialiser to convert JSON string back into Python objects with support of attribute mapping. For other generators (e.g. Java, C#), we're leveraging 3rd-party libraries/modules to handle serialization/deserialization between objects and JSON strings

We would like to evaluate different Python modules to perform similar tasks i

[2017-04-19 09:07] FinleySmile commented on #4564
I met the same question, when defaultValue="1",it works

[2017-04-19 09:10] wing328 opened #5422 "[Android] use additional properties to manage Android version numbers more easily"
##### Description

As discussed in https://github.com/swagger-api/swagger-codegen/pull/5250, we want to leverage additional properties to more easily manage Android version numbers in the gradle files generated as part of the Android API client.

We want to replace android version number with {{androidVersionNumber}} tag in the mustache templates so that users can set it directly via `--additional

[2017-04-19 09:22] wing328 commented on #2276
@mhuisman if you need help with the PR, please reply to let us know.

[2017-04-19 09:25] wing328 commented on #5361
@iamkarlson thanks for reviewing https://github.com/swagger-api/swagger-codegen/pull/3530. Is your patch on top of https://github.com/swagger-api/swagger-codegen/pull/3530 (for 2.3.0)?

[2017-04-19 09:26] wing328 commented on #5421
Kim is just one of the Python module for serialization/deserialization. If anyone has recommendations for other Python modules to perform similar tasks, please let us know.

[2017-04-19 09:29] auchri commented on #5422
There should be three different variables:
* `{{androidGradleVersion}}` for the version of gradle (used in `classpath 'com.android.tools.build:gradle:2.3.+'`)
* `{{androidSdkVersion}}` for the compile and target sdk varion (used in `compileSdkVersion 25` and `targetSdkVersion 25`)
* `{{androidBuildToolsVersion}}` for the version of the build tools (used in `buildToolsVersion '25.0.2'`)

[2017-04-19 09:33] wing328 opened #5423 "Add endpoint examples defined in the spec to API servers"
##### Description

Similar to what we've done for SpringMVC generator, we want to add support of endpoint examples defined in the spec to the auto-generated server stubs.

Ref: https://github.com/swagger-api/swagger-codegen/pull/5411

Endpoint example support in the server generators:

- [ ] C# (NancyFx, ASP.net Core)
- [ ] Elixir
- [ ] Erlang
- [ ] Go
- [ ] Haskell Servant
- [ ] JavaScript/NodeJS

[2017-04-19 09:47] wing328 commented on #5397
`ref` is not a valid type

Given that it's a form parameter, my guess is that it should be a `string` instead.

[2017-04-19 09:53] iamkarlson commented on #5355
@wing328 please review PR

[2017-04-19 09:55] iamkarlson commented on #5361
@wing328 yep, just 3 lines at all :) If you could suggest me a correct branch to fork and to make a PR, I would do so.

[2017-04-19 10:02] wing328 commented on #5361
@iamkarlson please fork https://github.com/jimschubert/swagger-codegen.git, make the changes on top of `csharp/client_refactoring` and submit the PR against https://github.com/jimschubert/swagger-codegen.git

cc @jimschubert

[2017-04-19 10:12] wing328 commented on #5422
@auchri thanks for the elaboration.

[2017-04-19 10:21] guidovezzoni opened #5425 "[Android] Bug generating parcelables constructors for custom classes ( missing getClassLoader() )"
##### Description

When creating a parcelable for a custom class containing an instance of another custom class, the code will try to use the default loader rather than adding `class.getClassLoader()`.

For example in the pet store sample Pet.java constructor reads:
[code]
However the `category` line should be:
`category = (Category)in.readValue(Category.class.getClassLoader());`
as flagged also b

[2017-04-19 10:28] iamkarlson commented on #5361
@wing328 I've tried to make a fork of a fork, but it's not possible... However, I found a workaround for my requirements and guess can close issue in favour of #3530

[2017-04-19 10:29] #5361 closed

[2017-04-19 11:28] cbornet commented on #5422
Do we really need to add so much options just to change a version in a gradle file ?

[2017-04-19 12:17] elizabetht commented on #5376
@wing328: where should the version be placed?

[2017-04-19 12:33] rahulraghuvanshi opened #5426 "json array not generating proper model classes"
##### Description

I am trying to generate swagger api from the following json:
https://watson-api-explorer.mybluemix.net/listings/conversation-v1.json

but it's not generating proper model classes, where ever it has following similar json:
[code]
**Generated Model Class doesn't have reference to BaseEntity Class**

[code]
json looks correct only, as i am using watson json mentioned in above link.

[2017-04-19 13:37] sonicjolt commented on #5376
@wing328 I'd like to have a look at the AbstractCSharp

[2017-04-19 13:44] cbornet commented on #2276
In that case please do it against branch 2.3.0 since there were some changes in the API.

[2017-04-19 14:02] clamp opened #5428 "swagger-codegen-maven-plugin isn't generating template files"
##### Description

Specifying `templateDirectory` does not seem to be picking up on my templates and generating them.

##### Swagger-codegen version

swagger-codegen-maven-plugin 2.2.2

##### Swagger declaration file content or url

[code]

Is there some sort of combination of configurations that doesn't generate those templates?

[2017-04-19 14:31] wing328 commented on #3839
@mgriego @shailendrajain24 What about overriding `addRegularExpressionDelimiter` to not add any "/" in [AbstractJavaCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java) ? Would that resolve the issue for you guys?

cc @jfiala @cbornet

[2017-04-19 14:43] sonicjolt commented on #5376
@wing328 Is the version-number of swagger-codegen available somehow ? I can see it's defined in swagger-codegen/modules/swagger-codegen/pom.xml

And if that is the case, do I simply need to add a line of code to swagger-codegen/modules/swagger-codegen/src/main/resources/csharp/partial_header.mustache ?

If I'm wrong, could you please help me a long a bit, thanks :)

[2017-04-19 14:44] wing328 commented on #5376
@elizabetht @sonicjolt Let me see if I can create a quick example. Stay tuned.

[2017-04-19 15:28] einStefan commented on #3513
@wdunn001
I found this feature in the TypeScript documentation. (look for "Import a single export from a module" section at: [https://www.typescriptlang.org/docs/handbook/modules.html](url))

Don't know how it works, sorry.
I'm using it as described above and it works for my project.

[2017-04-19 15:32] wing328 opened #5429 "[Python] support type hints"
##### Description

We want to support type hints, which was introduced for Python 3.5+. The feature will be added to Python API client as well as server (Flask).

Since this option is for 3.5+ only, we will need to use the option `supportPython2` to selectively disable it if supportPython2 (default to false) is set to true

Python version: 3.5+

Ref: https://www.python.org/dev/peps/pep-0484/

####

[2017-04-19 15:39] wing328 commented on #1334
@agoncal may I know if you need help with the PR/enhancement?

[2017-04-19 15:44] wing328 commented on #5366
@hammadkhan119 we've just add the support of `examples` to Java Spring generator via https://github.com/swagger-api/swagger-codegen/pull/5411

May I know if you've time to make similar change to C# NancyFx or ASP.net core generator?

[2017-04-19 15:44] wing328 commented on #5366
Meta-issue for tracking: https://github.com/swagger-api/swagger-codegen/issues/5423

[2017-04-19 15:56] wing328 opened #5431 "Support interface and implementation classes for API controllers"
##### Description

For auto-generated server code, we want to generated 2 files for each API controller file:
1) an interface, which will be overwritten by code generation
2) an implementation class, which will **not** be overwritten by code generation

Java Spring has already implemented this:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Ja

[2017-04-19 15:59] wing328 opened #5432 "[Java] Spring Cloud Client is broken due to template change"
##### Description

Broken due to https://github.com/swagger-api/swagger-codegen/pull/5411. We will need to add tag to output code that are API client only.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5411

##### Suggest a Fix

Add a mustache tag (e.g. {{#isApiClient}} to remove code not needed for API client.

[2017-04-19 17:12] ravinikam opened #5434 "[CppRest] Overload toJson for bool value in ModelBase"
##### Description
We have CppRest client code used in CPP service and this service occasionally communicate to java service.

So when we generate response from rest call, the generated validationResults JSON representation shows status value as 0/1, which creates issue when consumed by java service.

Wondering if we can add option to produce true/false or stick it as default.
##### Swagger-codegen

[2017-04-19 17:34] wing328 commented on #5376
Seems like it's not that straghtforward. Here are some pointers:

1) Here is how Swagger Codegen CLI obtains the "version": https://github.com/swagger-api/swagger-codegen/blob/e633073082ecb575627c3ba0b7b757b19c86e326/modules/swagger-codegen-cli/src/main/java/io/swagger/codegen/SwaggerCodegen.java#L25

2) After obtaining the version, we will need to store that in `additionalProperties`: https://git

[2017-04-19 23:12] cbornet commented on #2485
The JDK made clearer the use of Optional : http://cr.openjdk.java.net/~smarks/reviews/8167981/webrev.0/src/java.base/share/classes/java/util/Optional.java.cdiff.html

[2017-04-20 00:36] gstarnberger opened #5436 "[JAVA/Jackson] Exception when deserializing unknown polymorphic subtypes"
##### Description

The Java (Feign/Jackson) code generated by codegen throws an exception when trying to deserialize an unknown polymorphic subtype.

##### Swagger-codegen version

Latest master.

##### Swagger declaration file content or url

n/a

##### Command line used for generation

n/a

##### Steps to reproduce

- Create a swagger-spec that defines a polymorphic type.

- In the server respon

[2017-04-20 03:25] jimschubert commented on #5361
@iamkarlson if you encounter this again, you don't actually "fork" the fork, you'd add the fork as another remote.

[code]

Now, when you make changes and push to your fork of swagger-codegen, a PR can be created against another fork.

[2017-04-20 06:08] bharathreddy-97 commented on #5397
In android when we tried it is generating Object Type. Similarly should it not generate Any Type in swift 3?

[2017-04-20 06:48] cbornet commented on #5429
Note : Flask already has type hints.

[2017-04-20 09:56] bharathreddy-97 opened #5440 "[Objc] Class not identified due to Circular imports"
I generated Objective C files using Swagger Codegen using following command:

java -jar swagger-codegen-cli.jar generate -i {url} -l objc -o {folderPath}

I was able to generate correctly but when i added to my project I was getting compile time errors. Some Classes were not identified. The main issue to due to circular imports. A.h imports B.h and B.h imports A.h. B is not identified in A.

I fix

[2017-04-20 10:26] agoncal commented on #1334
I'm sorry @wing328 I won't have time to work on this for a few weeks. Hopefully I'll be available from mid-may. It's in my TODO list ;o)

[2017-04-20 10:42] wing328 commented on #1334
@agoncal no problem. Let us know if you need any help with the PR/enhancement.

[2017-04-20 11:49] suresh777 opened #5441 "[swift3] unable to send string as body in post request"
I generated class files of swift3,i want to hit one webservice which is a post service ,which is expecting string as body parameter,but from swagger i got this code if i send string as body it will becomes null after executing this line

let parameters = body?.encodeToJSON() as? [String:AnyObject]

[2017-04-20 12:18] radai-rosenblatt commented on #5431
it would be nice for java jax-rs if codegen could emit pure jax-rs annotated interfaces for the resources with only the model classes being concrete. that would allow a nice split into a jax-rs interface jar (generated by swagger) while the actual impl would be up to the user.

[2017-04-20 14:27] wing328 commented on #5429
@cbornet so we can simply copy the following over to api.mustache for Python API client?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/flaskConnexion/controller.mustache#L16-L51

[2017-04-20 14:39] wing328 commented on #5434
@ravinikam thanks for reporting the issue. I wonder if you can submit a PR with the fix so that we can review.

[2017-04-20 14:46] stephenrlouie opened #5442 "[GOLANG] Bug. Client codegen Post Body"
##### Description

The issue here revolves around golang client generated code and having an untyped json expected in the body. The codegen will set the `varLocalPostBody = &body`, and `body interface{}`, so internally we will pass around the memory address of body instead of its contents. This causes `client error: Unsupported 'Body' type/value` when I attempt to pass a struct into the POST endpo

[2017-04-20 14:50] cbornet commented on #5429
I may have written too fast. Those are docstrings and you also have them in the python generated code. Type hints are only generated for models in flask.
Now why do you want to use typings ? Aren't docstrings sufficient ?

[2017-04-20 14:53] wing328 commented on #5429
From what I read, there are certain benefits using typing (assuming the IDE supports it), e.g. type checking when writing Python to avoid potential issue during runtime. Something nice to have but definitely not a must.

[2017-04-20 14:55] cbornet commented on #5429
Yes but IDEs generally also support type checking from docstrings (at least pyCharm does).

[2017-04-20 15:00] wing328 commented on #5429
The following SO lists out some benefits:

http://stackoverflow.com/a/32558710/677735

Disclaimer: I've not evaluated Python type hint myself.

[2017-04-20 15:01] ravinikam commented on #5434
@wing328 yes will do that, thanks.

[2017-04-20 15:11] cbornet commented on #5429
Yes, all those benefits are also true with docstrings. And docstrings also document the parameters (not only their types) and are available in python 2.

[2017-04-20 15:27] cbornet commented on #5429
Also note that there is a PEP484 syntax for python2 if docstrings are not enough : https://www.python.org/dev/peps/pep-0484/#suggested-syntax-for-python-2-7-and-straddling-code

[2017-04-20 15:42] cbornet commented on #5429
So maybe the best would be to generate PEP484 annotations for py3, PEP484 type comments for py2 and Sphynx docstring but only for documentation and not types.
But before it should be checked if Sphynx correctly assembles the docstrings params and PEP484 types to generate the doc.

[2017-04-20 15:43] mmkal opened #5443 "Use interfaces for TypeScript fetch request parameters"
##### Description

Request parameters should be in interfaces, same as for general object definitions.
I am using http://swagger.io/specification/#parametersDefinitionsObject and would like to be able to use the typed parameter definitions.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]
Should produce
[code]

instead of what it currently produces:
[cod

[2017-04-20 17:14] fehguy opened #5444 "Update from Oracle JDK to OpenJDK"
For licensing reasons, makes sense to switch to openjdk

[2017-04-20 17:31] fehguy opened #5446 "update from jdk to open jdk (2.2.x)"
Similar to #5444

[2017-04-20 18:18] elizabetht commented on #5376
@wing328 I followed your notes. But when the files get generated the generatorVersion is coming back as "unset". Is there anything I should specifically set?
See the PR: https://github.com/swagger-api/swagger-codegen/pull/5449

[2017-04-20 18:38] sonicjolt commented on #5376
@wing328 @elizabetht I have the same issue with not getting the version info from the pom.xml-file using the suggested method.

[2017-04-20 19:47] TheRatG opened #5450 "[Swift3] Illegal enum value null for parameter type integer"
[Swift3]
##### Description
"Parameter Object" with integer type and enum collection with 0 generates an error:

[main] WARN io.swagger.models.parameters.AbstractSerializableParameter - Illegal enum value null for parameter type integer

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar shared/swagger-codege

[2017-04-20 21:04] sompa opened #5451 "Is there a flag to turn off implementation generation in swagger-codegen-maven-plugin 2.2.2 ?"
##### Description

The swagger-codegen maven plugin generates implementation for spec files, is there a way to tell the plugin to not generate the implementation files for the api spec?
Basically when i use this plugin to generate api and model files for my yaml spec that I provide, I don't want it to generate implementation files for my api. Version 2.2.1 did not have this, but I need to use 2.2.

[2017-04-20 21:38] sompa commented on #4514
Any update on number 1 that was requested ? I am having a similar situation where I only want to generate the api interfaces and models and not the implementation files. Please suggest. I am using the swagger-codegen-maven-plugin and would want it to not generate any implementation files. Would be good to have a flag to do so.

[2017-04-20 21:51] jimschubert commented on #4514
@sompa The option for number 1 was found to work well enough with the -Dmodels switch for selectively generating models only (see #4610). If you name interfaces by convention (I-prefixed or separate namespace), you should be able to use the ignore file.

[2017-04-20 23:40] #5446 closed

[2017-04-21 08:05] ePaul commented on #5444
Could we get some more details?

I guess you mean to switch from Oracle's JDK to OpenJDK, for the docker images?
Which licensing reasons are that?

[2017-04-21 10:44] wing328 commented on #5451
Have you tried using .swagger-codegen-ignore?

Ref: https://github.com/swagger-api/swagger-codegen#ignore-file-format

[2017-04-21 13:30] beatcracker commented on #4320
Just FIY: since you already have a C# generator, you could just make a thin PowerShell wrapper around generated C# code. This could save some time.

[2017-04-21 13:47] wing328 commented on #4320
@beatcracker thanks for the suggestion. May I know if you've time to contribute the PowerShell generator?

[2017-04-21 13:52] beatcracker commented on #4320
@wing328 Depends on what you need. I can help with PowerShell code, but unfortunately I can't do Java (which is actually used to write generators, right?).

[2017-04-21 14:00] wing328 commented on #4320
@beatcracker We can work together on that 😃

I think a good starting point is to create a PowerShell wrapper for [PetStore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml) by focusing on a few endpoints.
- [GET](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.

[2017-04-21 14:14] wing328 commented on #4376
Closed via #5405

[2017-04-21 14:14] #4376 closed

[2017-04-21 14:21] wing328 commented on #5434
Closed via #5448

[2017-04-21 14:21] #5434 closed

[2017-04-21 14:26] keithchong commented on #2152
Ok, so maybe https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L195
explains why here it is added as default, and using jersey1 doesn't add it and it works ok for me.  Also,  I don't need the supporting files from lines 189 to 194 (for okhttp-gson).

@wing328, yes, I need to update to 2.2.2 because I

[2017-04-21 15:14] wing328 commented on #5425
@guidovezzoni thanks for reporting the issue. I wonder if you can submit a PR with the suggested fix so that we can review the fix more easily.

[2017-04-21 15:33] ravinikam commented on #5434
@wing328 Thanks for merge!

[2017-04-21 15:53] davidpasztor opened #5452 "[Swift3] Wrong enum types generated when enum is of custom type"
##### Description

Swift enum types are incorrect using swagger-codegen when the type should be a custom class
codegen generates an enum of Strings instead of an enum of custom types
Code generated by codegen:
[code]

I have manually managed to fix the enum and this is the correct Swift enum with custom types, where Foo, Bar and Bee are all custom classes that inherit from the same class in which

[2017-04-21 16:41] wing328 commented on #5376
@elizabetht thanks for the PR, which is definitely a good start. I'll look into this more over thew weekend.

[2017-04-21 17:05] beatcracker commented on #4320
I had a look at C# generators, and it's dawned on me, what a can of worms I just opened 😰.

I'll try summarize my thoughts here, at least for my own sake, before I try to do some kind of MVP PowerShell module example.

---

## How do we generate a PowerShell code?

### Using PowerShell wrappers for C#

#### Pros:

Since we have C# generators for almost every .NET targets available (2.0, 4.0, etc..

[2017-04-21 19:13] antihax commented on #5442
Could you try 2.3.0? I think this was resolved.

[2017-04-22 01:07] nbruno commented on #5376
You won't be able to use the `Version.readVersionFromResources();` method in the manner that is attempted in the PR. This method works because during the Maven build, the [original resource file](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-cli/src/main/resources/version.properties) gets [filtered](https://github.com/swagger-api/swagger-codegen/blob/master/mod

[2017-04-22 08:07] wing328 commented on #5422
@cbornet we can start with just `--additional-properties` to make the versions more easily customizable.

[2017-04-22 10:23] kirpit opened #5453 "[typescript/angular2] Implement interfaces for api resources"
##### Description

Currently, generated api files consist of bare classes for typescript / angular2. We are happy to have them as is but would like to make implemented alongside with their interfaces so we can create our own behaviours.

To extend a bit, depending on development scenario we sometimes want api resources to use local storage or json fixtures rather than querying our api endpoint. Th

[2017-04-22 15:37] wing328 opened #5454 "Enum support API clients"
##### Description

Enum support for API clients.

If anyone has cycle to add the feature to the following languages, please reply to let us know:
- [x] Android
- [ ] Bash
- [ ] C++
- [x] C# (#2007)
- [ ] Clojure
- [ ] Dart
- [ ] Elixir
- [ ] Flash
- [ ] Go (https://github.com/swagger-api/swagger-codegen/pull/2532, https://github.com/swagger-api/swagger-codegen/pull/2577)
- [ ] Groovy
- [x] Javascr

[2017-04-23 04:20] nbruno commented on #5426
The supplied JSON spec has the following listed for the CreateWorkspace model:

    "CreateWorkspace": {
      "allOf": [
        {
          "$ref": "#/definitions/WorkspaceRequest"
        }
      ],
      "x-java-builder": true
    }

It doesn't have a reference to `BaseEntity`. In my test, this generated the following Java class:

[code]

This is with the `java` language parameter. How are you

[2017-04-23 04:51] rahulraghuvanshi commented on #5426
What i mentioned is just an example (Changed Workspace to BaseEntity to make json small). i tried mentioned json link https://watson-api-explorer.mybluemix.net/listings/conversation-v1.json, with following maven plugin:

[code]
Config.json
[code]
And output is:

[code]

**Which is not a correct model class.**

[2017-04-23 04:55] nbruno commented on #5344
Yes, the original spec is incorrect. `allOf` simply takes an array of object definitions, so it should look like this:

[code]

Can you confirm that this resolves your issue?

[2017-04-23 05:12] nbruno commented on #5426
Your original post says you're using version swagger-codegen v2.2.2 but your Maven plugin is specifying 2.2.1. I just verified that there is a problem with this type of model in 2.2.1, but it appears to be fixed in 2.2.2. Can you update to 2.2.2 and try again?

[2017-04-23 05:15] rahulraghuvanshi commented on #5426
I tested with v2.2.2 as well, it generate same model classes.

[2017-04-23 05:19] rahulraghuvanshi commented on #5426
ahh.. looks like different model classes in with v2.2.2.

[2017-04-23 09:15] wing328 commented on #5440
@bharathreddy-97 can you share a bit more on where you add `@class`, `@protocol`?

[2017-04-23 09:42] wing328 commented on #3069
@ibwhite's suggestion to use `date-fns` instead: https://github.com/swagger-api/swagger-codegen/pull/5417#issuecomment-296295765

[2017-04-23 11:14] wing328 opened #5458 "Update fake petstore spec with more `example`"
##### Description

Add `example` to [fake petstore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml) to cover more edge cases.

Ref: https://gist.github.com/spr3nk3ls/f165f0f19656a9e1ef8bf0f900f5067a

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/s

[2017-04-23 13:27] taxpon commented on #5400
@wing328 Do you know how other language generators are working regarding this issue?

[2017-04-23 14:43] wing328 commented on #5376
@nbruno thanks for sharing more on how to bring similar functionality to swagger-codegen module.

[2017-04-23 14:44] wing328 commented on #5376
Hi all, I've added a hard-coded version via https://github.com/swagger-api/swagger-codegen/pull/5459 for the time being. We'll need to file another PR later to obtain the version from the resource file.

[2017-04-23 16:00] reece opened #5460 "[All?] examples for string definitions are over-quoted"
##### Description

In a `definition` section, examples for string objects are over-quoted. For example, this stanza from an input yaml

[code]

is rewritten by swagger-codegen as

[code]

Explicitly quoting the input `example` text has no effect.

The above example is for python-flask and nodejs-server. I suspect other servers generate the same yaml.

This bug does *not* occur for examples within

[2017-04-24 02:37] #5093 closed

[2017-04-24 05:26] bharathreddy-97 commented on #5440
When i first generated this is one class which got generated

#import "SWGUserProfile.h"

@protocol SWGUserRegistration
@end

@interface SWGUserRegistration : SWGObject

@property(nonatomic) NSNumber* _id;

@property(nonatomic) NSString* login;

@property(nonatomic) NSString* password;

@property(nonatomic) NSString* token;

@property(nonatomic) NSString* registrationStatus;

@property(nonatomic)

[2017-04-24 05:49] cmb28 commented on #5410
@wing328 can you help

[2017-04-24 06:40] #1176 closed

[2017-04-24 10:05] sabras75 opened #5463 "[QT5CPP] missing SWGUUID when generating client based on swager.yaml containing a string with format 'uuid'"
##### Description

When specifying the format of a string property, the generated C++ code includes a "SWGUUID.h" file which is not found anywhere in the generated code.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
a swagger file illustrating the problem can be found there :  https://gist.github.com/sabras75/e0ee03cf3c639ba835738d0358f63382

The interesting

[2017-04-24 10:14] wing328 commented on #5463
@sabras75 thanks for reporting the issue. I think that's because `UUID` is not mapped to anything at the moment (so UUID becomes a model in codegen): https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Qt5CPPGenerator.java#L128

If you add something similar to https://github.com/swagger-api/swagger-codegen/blob/master/module

[2017-04-24 11:38] chenditc commented on #3505
I'm getting same error on CsharpDotNet2 Api when start using https connection, is this a RestSharp issue?

[2017-04-24 12:01] dinukadesilva commented on #4044
@wing328 @bziorkiewicz @triptec @tonyxiao
Having ES6 support without typescript would be ideal especially for react projects. And even I'm looking for that.

Is there anyone who is working on this feature. If not, I would like to contribute.

Regards,
Dinuka.

[2017-04-24 12:39] ChandrakantRathod opened #5464 "How to enable more language in swagger codegen?"
##### Description

I have downloaded swagger codegen from Github. Currently its allow to generate only 8 languages for client code generation by default like below...

Curl, Java, Android, Obj-C, JavaScript, C#, PHP, Perl, Python

We want additional languages support like below...
Raw, cURL, Node.js, Ruby, Go, Visual Basic, Groovy, Swift

We want a rest of languages support for client code.

Do we

[2017-04-24 12:52] sabras75 commented on #5463
that's what I concluded after analysing the code :)
I hope to have some time this week to contribute a fix.

[2017-04-24 13:30] wing328 commented on #4320
I prefer the latter - minimal approach as the MVP (minimum viable product) version will serve as a good starting point for PowerShell community to further enhance it.

[2017-04-24 13:32] wing328 commented on #3505
@chenditc could be. Have you tried the solution mentioned in http://stackoverflow.com/a/17234955/677735 ?

[2017-04-24 13:54] elizabetht commented on #5376
@nbruno I have updated the PR filtering the version.properties that I moved to swagger-codegen module (from swagger-codegen-cli module). Even then, I get "unset" as the verison. Any idea where I am going wrong?

[2017-04-24 14:05] JLLeitschuh commented on #5344
Yes, this does resolve my issue. Thanks!!!

[2017-04-24 14:05] #5344 closed

[2017-04-24 14:21] wing328 commented on #5464
@ChandrakantRathod swagger codegen supports the following generators (client, server documentation).
[code]
which covers what you need except Visual Basic, "cURL", Raw (?)

To add new client generator, https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework is a good starting point.

[2017-04-24 14:23] wing328 commented on #5453
@kirpit thanks for offering help on this. Do you need some good starting points on where to start?

The change should be made against 2.3.0 as it should be a breaking change if I understand correctly.

[2017-04-24 14:28] #4632 closed

[2017-04-24 14:28] ChandrakantRathod commented on #5464
![image](https://cloud.githubusercontent.com/assets/26959397/25341830/cc17dd32-2927-11e7-970c-10f8f1e565b4.png)

I downloaded swagger codegen from github and setup local system and when i generated client for html2 then i have code for only eight languages which i have mentioned in my question and as shown in the above image. I know that swagger support all the languages which you mentioned then m

[2017-04-24 14:36] elizabetht commented on #5376
@nbruno @wing328 I have moved the version.properties to swagger codegen module (from swagger codegen cli module) and added filtering for the version.properties resource file. I am able to see version.properties under /modules/swagger-codegen/target/classes/version.properties with the following content
[code]

@wing328 I also removed your hard-coded version from DefaultGenerator.java

[2017-04-24 15:35] wing328 commented on #5464
Currently, `html2` does not support code samples for **all** languages. If you want to add code samples for other langauges, https://github.com/swagger-api/swagger-codegen/pull/4575 is a good reference.

Most API client also comes with auto-generated documentation (markdown) with code samples: https://github.com/swagger-api/swagger-codegen/issues/2359

[2017-04-24 15:39] wing328 commented on #5428
It should according to readme: https://github.com/swagger-api/swagger-codegen/blob/1734ac4ed0876715361581e3efff71bdbccdced1/modules/swagger-codegen-maven-plugin/README.md

Can you try another language, say Ruby or PHP?

[2017-04-24 15:48] ChandrakantRathod commented on #5464
Thanks a lot for prompt reply...:)

[2017-04-24 16:44] wing328 commented on #5400
@taxpon not that I'm aware of. It looks to me it's an issue with Swagger Parser skipping models with no properties.

@mbohlool I found the following:
[code]
Can you provide an example of what the JSON body looks like?

A workaround is to define a dummy property (e.g. id)

[2017-04-24 17:11] mbohlool commented on #5400
@wing328 That is a free json object. The server interpret it based on the context. e.g. if it is a Patch on `Pod`, then it would look for `Pod`'s fields to patch. This could be better designed but still a valid swagger.

[2017-04-24 17:24] wing328 commented on #5400
I think it should be described with just "type: object" instead if it's an arbitrary JSON (but I don't think the Python API client supports that yet in the body parameter)

Ref: http://stackoverflow.com/questions/35782175/how-to-receive-a-dynamic-response-in-a-swagger-spec/35791870#35791870

[2017-04-24 17:25] wing328 commented on #5464
No problem. Let us know if you've further question or you want to work on the enhancement.

[2017-04-24 17:25] #5464 closed

[2017-04-24 17:34] beatcracker commented on #4320
@wing328 Ok, I'm on it. I already have a working prototype and I expect to share it in a day or two.

[2017-04-24 17:49] mbohlool commented on #5400
Yes, I've fixed that. Python client does support that in body if it is inlined (not a model) but when it is a model, it is not supported. I've inlined that in my new spec for now but it would be nice if we can fix python client to accept primitive models.

[2017-04-24 17:59] kernwig commented on #5374
I don't use cookies for authentication. Adding withCredentials:true broke everything for me. This should not be default behavior.

`XMLHttpRequest cannot load https://--server--/api/User/GetUser. Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Credentials' header in the response is '' which must be 'true' when the request's credentials mode i

[2017-04-25 02:00] ifreecarve commented on #3305
I also have the problem where swagger `2.2.2` (installed via homebrew) tries to use a JSON parser for a yaml file.

[code]

`swagger.yaml` first 2 lines:
[code]

All my `$ref`s are in the form

[code]

[2017-04-25 03:12] wing328 opened #5466 "Add a "Validate" option to Swagger Codegen"
##### Description

Currently Swagger Codegen supports the following options:
[code]

We want to add another option "validate" to validate the Swagger/OpenAPI spec and show human-readable result.

Ref: https://github.com/swagger-api/swagger-parser/issues/46#issuecomment-150605901

##### Swagger-codegen version

Latest master

##### Suggest a Fix
If anyone from the community wants to contribute this

[2017-04-25 03:24] kirpit commented on #5453
@wing328 I was actually able to make this change only by modifying the `api.mustache` file without changing any single line in the java code and I can't really find any good reason that it is a breaking change.  Same classes are still present with the exact same methods and signatures..

One important heads up though that constructor method definition for interfaces in typescript has a bit differe

[2017-04-25 03:34] wing328 commented on #5374
@kernwig what about adding `withCredentials` as a property to the configuration object and default  to false to keep the previous behaviour?

Ref: https://github.com/xmeng1/swagger-codegen/blob/eac2533b55510d8eb8c9b8692850402291839d08/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L27

[2017-04-25 04:09] wing328 commented on #5453
If the change is transparent to the developers consuming the TS Angular2 SDK (before and after the change), then please file it against the current master.

We don't have Petstore integration tests for TS Angular2 at the moment. A good starting point is to reference those created for TS Fetch Petstore client: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typesc

[2017-04-25 04:40] wing328 commented on #5400
@taxpon  I think it's more of an issue with the Swagger Parser itself so all generators should have the same issue. Please try the workaround to see if it works for you.

We'll use https://github.com/swagger-api/swagger-codegen/issues/4804 for tracking the issue.

[2017-04-25 07:13] erdarun opened #5467 "Swagger Codegen for Javascript throws NullPointerException for missing version in swagger json"
#####
version field not included in swagger json/yaml causing issue for javascript codegen but java/ruby works.

Exception in thread "main" java.lang.NullPointerException
	at io.swagger.codegen.languages.JavascriptClientCodegen.escapeQuotationMark(JavascriptClientCodegen.java:1045)
	at io.swagger.codegen.languages.JavascriptClientCodegen.preprocessSwagger(JavascriptClientCodegen.java:247)
	at io.s

[2017-04-25 07:19] darius-iko opened #5468 "Invalid Parameter Naming Case (TypeScript-Angular2) (Swagger-Codegen 2.2.2)"
##### Description

Parameter for API functions generated by Swagger-codegen is invalid.

![image](https://cloud.githubusercontent.com/assets/8023913/25372841/b7c17724-29c9-11e7-834f-1acae3a76e26.png)

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

##### Command line used for generation

-c config.json -l typescript-angular2

Config.json:
{
	"modelPropertyNamin

[2017-04-25 07:32] darius-iko commented on #5468
By the way, that string literal should be generated if I set supportsES6 to true. By default, it is false.

[2017-04-25 07:33] wing328 commented on #5468
@darius-iko yup, that's a bug. We've fixed similar issues in other generators. I'll try to file a PR shortly to address it.

[2017-04-25 07:33] darius-iko commented on #5468
@wing328 Thank you

[2017-04-25 07:37] wing328 commented on #5468
@darius-iko can you elaborate on that by providing an example (actual output vs expected output)?

[2017-04-25 07:41] TarekDeeb opened #5469 "[JAVA] [Android] Android generation sending unused body parameters as null"
##### Description

Android client sending unused (or not set) body parameters as null. So lets say I have a function *setUser* that has *email* *age* and *phone* in the body, but I only want to set email and age. I keeo getting that *phone* is being sent as null.

##### Swagger-codegen version

 2.2.2

##### Command line used for generation

[code]

[2017-04-25 07:49] darius-iko commented on #5468
Expected output:
If the supportsES6 config is false (by default), it should use the old way by replacing the text like below:
![image](https://cloud.githubusercontent.com/assets/8023913/25374050/97404624-29ce-11e7-91c7-4b1815c201a3.png)

Actual output:
As seen at the issue posted on the top-most.

[2017-04-25 08:03] wing328 commented on #4044
@dinukadesilva I don't think anyone is working so please contribute if you've time.

As discussed, we can add an option "enableES5Compatibility" (default to false) so that the generated code is compatible with ES5 (introduced back in 2012). If that option is not specified, the generated code will be compatible with ES6+ only. The change should be based on and submitted against 2.3.0 branch, which

[2017-04-25 08:07] wing328 opened #5470 "[JavaScript] Add support for Fetch"
##### Description

Simliar to Typescript, we want to add support of [Fetch](https://github.com/matthew-andrews/isomorphic-fetch) to JS API client with a `library` option so that developers can choose which one to use: superagent or fetch.

##### Swagger-codegen version

Latest master

##### Suggest a Fix

If anyone wants to work on this enhancement, let us know and we'll show you some good startin

[2017-04-25 08:09] wing328 commented on #5468
@darius-iko can you pull the latest master to give it a try?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L63-L65

Looks like we've fixed it already via https://github.com/swagger-api/swagger-codegen/commit/dbe99c3af92ebc4862e7984a246b9af5e707013d

[2017-04-25 08:12] wing328 commented on #5467
@erdarun can you try the latest master to see if you still encounter the same issue?

[2017-04-25 08:31] erdarun commented on #5467
Yes still the same issue in master branch too

[2017-04-25 08:33] wing328 commented on #5467
For the master branch, can you help show us the stack trace?

[2017-04-25 08:35] wing328 commented on #5467
Btw, version is a required field: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#info-object

[2017-04-25 08:35] erdarun commented on #5467
@wing328
swagger-codegen/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientCodegen.java line no. 259

[2017-04-25 08:37] erdarun commented on #5467
Yes after adding version info it works. But null check should be added for escapeUnsafeCharacters, escapeQuotationMark methods.

As I tested Java/Ruby client codegen doesn't report any error if there is no info.version

[2017-04-25 08:41] darius-iko commented on #5468
@wing328 Yes, the latest master has fixed it.

[2017-04-25 08:45] wing328 commented on #5467
@erdarun good point. Do you mind submitting a PR to avoid NPE in those methods?

[2017-04-25 08:46] wing328 commented on #5468
Thanks for the confirmation. Closing the issue.

[2017-04-25 08:46] #5468 closed

[2017-04-25 08:57] erdarun commented on #5467
@wing328 Raised PR https://github.com/swagger-api/swagger-codegen/pull/5471

[2017-04-25 09:22] ChandrakantRathod opened #5473 "How to customize swagger client code for different languages?"
We want to customize swagger client code for different languages. The reason behind this is, instead of generating client and server code, we just wanted to create a raw client code which directly call the actual API without any dependancy of the server code (Which we generate from swagger-editor).

Do we need to manually write customize client code for each and every language? I believe there is

[2017-04-25 09:31] ChandrakantRathod opened #5476 "Can we combine Swagger documentation, "Try this" testing and SwaggerCodeGen together in one UI?"
We wanted to combine Swagger documentation, "Try this" testing and SwaggerCodeGen having different client code together in one UI?

![image](https://cloud.githubusercontent.com/assets/26959397/25378217/64b3c584-29c7-11e7-9caf-684988710aee.png)

![image](https://cloud.githubusercontent.com/assets/26959397/25378155/21a2ce20-29c7-11e7-8f26-7b94c747213d.png)

As shown above, we have one UI which we ge

[2017-04-25 10:46] xmeng1 commented on #5374
@kernwig  sorry for the effect. @wing328 I agree with you, add configuration and default value is `false`. If the user wants to get the api for authentication, just as configure such as `--withCredentials=ture` .

[2017-04-25 11:55] inthegarage opened #5479 "Enum for path type on parameter block causes erroneous code generation"
##### Description

##### Swagger-codegen version

2..2.2
##### Swagger declaration file content or url

Given the following block:

[code]

Causes the following erroneous generated Java line:
    ResponseEntity<EventInfoList> getEventInfo(@ApiParam(value = "",required=true, allowableValues="{values=[USERNAME, EVENTTYPE, ACTION, MODEL, PUBID, VERSION, CONTENTPID], enumVars=[{name=USERNAME, value="U

[2017-04-25 12:20] triptec commented on #4044
No I'm not currently working on this but would be very happy to see it!
Go @dinukadesilva  ;)

[2017-04-25 12:21] davidpasztor opened #5480 "[Swift3] Request body cannot be an array, only a dictionary"
##### Description

The request body cannot be an array of dictionaries, or in fact an array of any object, it can only be a dictionary (which can be a dictionary containing other dictionaries as values).
The issue comes from the Alamofire implementation that the request body is converted from the query parameters and the query parameters have to be a dictionary and cannot be an array.

##### Swagg

[2017-04-25 12:31] sabras75 opened #5481 "[QT5CPP] Enhancement : allow to configure api and model namespace for generated code"
##### Description

It is currently not possible to configure namespace in which model and API code are generated.
The hardcoded namespace in which the code reside is
[code]

This is problematic when you have multiple generated code for different APIs

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

##### Command line used for generation

done through gradle swa

[2017-04-25 12:34] sabras75 commented on #5481
I'll take care of this.
Any advice to how implement it is welcome

[2017-04-25 12:51] wing328 commented on #5481
@sabras75 thanks. A good starting point to implement these options is as follows:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CppRestClientCodegen.java#L67-L76

[2017-04-25 12:54] #5463 closed

[2017-04-25 13:00] wing328 commented on #4044
@triptec when you 've time, you may want to take a look at https://github.com/swagger-api/swagger-codegen/issues/5470 to see if you've any feedback.

[2017-04-25 13:03] wing328 commented on #5470
FYI. For PHP, we've recently added the support of https://github.com/php-http/httplug, which is an HTTP abstraction layer allowing developers to use their favorite HTTP clients.

I'm not aware of something similar in NodeJS but am open to suggestions on other HTTP libraries in JS.

[2017-04-25 14:35] wing328 commented on #3869
@tysont we've refactored the Go API client in 2.3.0 branch. Do you mind giving it a try to see if the issue still persists?

[2017-04-25 14:46] guidovezzoni commented on #5425
Yes sure, will do that asap.

[2017-04-25 14:59] babolivier opened #5482 "[Angular2 TypeScript] The left-hand side of an 'instanceof' expression must be of type 'any', an object type or a type parameter."
##### Description

Hi. I've started writing an API for a school project recently, and am using codegen to generate a client for my team-mate who is developping it using Angular2.

One of our first route uses number parameters. When compiling the whole thing, an error pops up:

[code]

After reading the code codegen generated, it seems that this part is causing it:

[code]

I didn't include it in m

[2017-04-25 15:01] babolivier commented on #3616
Hi, having trouble with this one too. How is the fix going?

[2017-04-25 15:08] wing328 commented on #5074
Closed via #5455 (in 2.3.0). Please pull the latest to give it a try.

[2017-04-25 15:08] #5074 closed

[2017-04-25 15:08] wing328 commented on #1073
Closed via #5455 (in 2.3.0). Please pull the latest to give it a try.

[2017-04-25 15:08] #1073 closed

[2017-04-25 15:55] babolivier commented on #5482
Just built swagger-codegen from the 2.3.0 branch, and it now works correctly.

[2017-04-25 15:59] wing328 commented on #5425
@guidovezzoni thanks. I've added some explanations of mustache tags in https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables#explanations

[2017-04-25 16:00] wing328 commented on #5374
@xmeng1 no worry. Do you mind submitting a PR with the suggested fix when you've time?

[2017-04-25 16:15] beatcracker commented on #4320
I've pushed MVP [PowerShell module](https://github.com/beatcracker/swagger-codegen/tree/posh/samples/client/petstore/powershell/PowerShellClient) to my fork.

You can build it using `Build.ps1` script. This is what's done for now:

Functions for:

- [x] [GET](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L156-L183)
- [x] [PO

[2017-04-25 16:26] kernwig commented on #5374
Yes @wing328, that would be perfect.

[2017-04-25 16:31] guidovezzoni commented on #5425
Thanks @wing328
I had some doubts about the definition of primitive, but now I think I understand.

PR ready: https://github.com/swagger-api/swagger-codegen/pull/5483

[2017-04-25 16:45] xmeng1 commented on #5374
@wing328 @kernwig  That's OK. Let me review it tonight.

[2017-04-25 17:45] thure commented on #5423
Just a heads-up: I'm looking into doing a Lumen branch based on #5411. Thanks for organizing everything here 😄

[2017-04-25 18:33] wing328 commented on #5423
Thanks @thure.

FYI. The lambda functions have been renamed to `lambdaEscapeDoubleQuote` and `lambdaRemoveLineBreak`

[2017-04-26 04:53] wing328 commented on #3950
FYI. @tgmuender has filed #5365 to support handlebars (as an option)

[2017-04-26 05:35] cbornet commented on #3950
Handlebars has the concept of helper methods which could help us escape our current problem of "statically typed language + logic-less template". So shouldn't we try to make it our default template engine ? Seems that option would be the less painful (compared to rewriting the code or our templates in another language/template). We could have a transition phase where each language impl declares wh

[2017-04-26 05:38] miguelvaladez opened #5485 "[Javascript] ES6 with Angular"
I did not see an open issue or request for this and have since forked this project to begin working on it. I have implemented a Javascript-ES6-Angular client generator that turns the API data into a basic Angular $resource and imports them into a base module.js file. Would anyone else be interested in this functionality or in helping contribute to what I've done so far?

[2017-04-26 06:25] bbdouglas opened #5486 "[JAVA] Wrong subtype class name if lower case"
##### Description

When a model is a subclass of another model, and the subclass  model name is in lower case, the parent class annotates the wrong name in its annotations.

Here is an example. Note that the "dog" model is in lower case.

    definitions:
      Animal:
        type: object
        discriminator: className
        ...
      dog:
        allOf:
          - $ref: '#/definitions/Anima

[2017-04-26 06:54] wing328 commented on #5485
@miguelvaladez thanks for enhancing the generator. Is your work related to the discussion in https://github.com/swagger-api/swagger-codegen/issues/4044 ?

[2017-04-26 07:01] miguelvaladez commented on #5485
Not really no - mine is much more slimmed down but also reliant on the client code being used in an Angular environment.

The API would return a resource class like this:

`
export default class AuthApi {
  /* @ngInject */
  constructor($resource) {
    this.basePath = 'http://myapp.dev/api/auth';

    return $resource(null, {}, {
      'login': this.login(),
    });
  }

  /**
   * logs a user in

[2017-04-26 07:07] wing328 commented on #5485
Is it correct to say that your version is tailored made to JS ES6 and Angular 1.x?

Any chance this can be added back to the JS generator via CLI option (e.g. supportAngular) (or {{#supportAngular}} in the mustache template)? We would like to avoid generators with very similar functionality if possible because it becomes not easy to maintain generators with similar functionality.

Can you please a

[2017-04-26 08:24] wing328 opened #5488 "[C++][CppRest] Auto generate Makefile or CMake file for C++ API client"
##### Description

We want to auto-generate Makefile or CMake file for C++ (cpprest) API clients so that the developers can build the client more easily.

Here are some examples of Makefiles/CMakefile:

https://github.com/rahuliyer/dropbox-cpp/blob/master/Makefile
https://github.com/swatkat/twitcurl/blob/master/twitterClient/Makefile
https://github.com/aws/aws-sdk-cpp/blob/master/aws-cpp-sdk-s3/CM

[2017-04-26 09:26] sadimusi commented on #3950
Since it might be relevant for others, here's an excerpt of a discussion between me and @wing328:

[2017-04-26 09:36] wing328 commented on #3297
When you've time, please file a PR so that we can review the change.

[2017-04-26 09:40] wing328 commented on #5473
You can simply generate API clients, server stubs or API doc using Swagger Codegen CLI. e..g https://github.com/swagger-api/swagger-codegen#getting-started without using editor.swagger.io (which relies on generator.swagger.io to generate the code and generator.swagger.io is part of the Swagger Codegen project)

[2017-04-26 09:45] wing328 commented on #2527
FYI. The latest uses 3.5.2.

[2017-04-26 09:45] #2527 closed

[2017-04-26 09:51] wing328 commented on #2663
Done

[2017-04-26 10:03] csachot opened #5490 "swagger validation for application/xml request body fails"
Hi guys. I'm trying to use an application/xml request body to post some data.
I tested the "pet store api" from swagger.io : http://petstore.swagger.io/.
It all works fins with xml body.

I downloaded the generated nodejs server from swagger-api github : https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/nodejs.

When i launch it and execute the same request with ap

[2017-04-26 10:06] fehguy commented on #5490
I believe only JSON is supported in the node server.

[2017-04-26 10:06] #5490 closed

[2017-04-26 13:44] DavidBiesack commented on #4982
Fixed in #4991

[2017-04-26 13:44] #4982 closed

[2017-04-26 14:32] wuf810 commented on #4907
FYI the latest PR by @dwoodel fixes this issue.

[2017-04-26 15:07] ChandrakantRathod opened #5492 "If i use multiple yaml files in my swagger specification file then swagger code generator is not working."
If I use multiple yaml files in my swagger specification file then swagger code generator is not working as shown below.

![image](https://cloud.githubusercontent.com/assets/26959397/25536269/ce8d3eb2-2c57-11e7-89fa-d02e8f6e39a3.png)

But swagger editor and swagger UI is working ok.

Can you please check the issue or guide us am i doing anything wrong here.

Thanks in advance.

##### Swagger-codeg

[2017-04-26 17:00] wing328 opened #5493 "Create Android Petstore batch files"
##### Description

We'll need to create batch files for Android Petstore (httpclient, volley) so that developers working on the Windows platform can more easily update the Android Petstore samples to verify the changes.

##### Swagger-codegen version

Latest master

##### Suggest a Fix

If anyone wants work on this or needs more details, please reply to let us know.

[2017-04-26 23:55] taxpon commented on #5400
@wing328 Sure. So we need to wait for Swagger Parser updating. Let me know anything I can contribute, thanks.

[2017-04-26 23:59] mulles3008 opened #5494 "[Typescript][Fetch] configurable BASE_PATH"
Hi,

I wonder if there is an easy way of having a configurable `BASE_PATH` as I need to switch between different hosts depending on the current environment (production and dev). This should be a common scenario in my opinion.

I realize that there are (at least) 2 solutions:
1. Adjusting the `host` and/or `basePath` fields in the definition file
2. Passing the desired base url to constructor funct

[2017-04-27 06:32] sadimusi commented on #3950
While handlebars is a strict superset of mustache, there exist a number of [special variables](https://github.com/samskivert/jmustache#special-variables) introduced by [jmustache](https://github.com/samskivert/jmustache) which are not supported in handlebars or the [handlebars.java](https://github.com/jknack/handlebars.java) implementation. These are `-last`, `-first`, and `-index`. These are all

[2017-04-27 07:14] loeti commented on #5492
I had similar problems. Additionally I tried to use subfolders. In the 'paths' context I have to define the references as follows:
properties:
  owner:
     $ref: './shared/base.yaml#/definitions/Owner'

But in the definitions part it has to be:
categories:
          description: Available asset categories for filtering provided as selectable items
          type: array
          items:

[2017-04-27 07:18] fehguy commented on #5492
Multiple yaml or JSON files are certainly supported.  Please share a specific specification in the [swagger-parser](https://github.com/swagger-api/swagger-parser) project, which is what deals with this sort of resolution.

[2017-04-27 07:25] loeti commented on #5492
@fehguy That's true but there are bug's and it is a difference if you can open and validate a OpenApi specification in multiple files in the web editor or afterwards generate code out of them. I'm working on  a large  specification and I experienced the problems.

[2017-04-27 08:23] cbornet commented on #3950
+1  for option 5. Supporting both engines for some time seems the less brutal. Choosing the engine based on the file extension seems a good idea.

[2017-04-27 08:35] sabras75 commented on #5481
My first thought on using modelPackage and apiPackage appears more complicated than I expected.
Those 2 options also have an impact on subdirectories were the file will be generated and the includes to be done.
I am not confident on the way the includes are currently generated for the C++ in regards of thos e options , so I'd rather stay away of those two options and introduce an option that **onl

[2017-04-27 08:41] wing328 commented on #5481
@sabras75 sounds good to me.

[2017-04-27 08:43] manoelledeviron commented on #4097
Hello, I tried the same thing (I tried with my own doc, and with @david-vde 's example too), and I still don't see the formData parameters in the html2 generated client (the Parameters field is empty for both examples).
Is there a solution to this?

[2017-04-27 08:52] fisherliu opened #5498 "[JAVA] enhance beanvalidation with adding @Valid"
hi @wing328 @fehguy @xhh ,

swagger-codegen-plugin is great plugin, we all benefit from it and  love it! Thank you for great your contribution for it.

Could we ask swagger-codegen  to support @Valid annotation for beanValidation to cascade beans-validation recursively? This feature is very useful for the systems.
for example, if  a Project object has a List<Person>, current swagger-codegen 2.3.0

[2017-04-27 08:55] ChandrakantRathod commented on #5492
Let me explain more in details,

I have downloaded swagger-editor source code and established the project in my local system.

My main/parent swagger specification I have directly write in the local swagger editor as shown below
![image](https://cloud.githubusercontent.com/assets/26959397/25475004/f6aa6c5e-2b52-11e7-8da8-4328fc14b00b.png)

I have created two reference .yaml files as shown below.
1

[2017-04-27 09:00] fehguy commented on #5492
OK well this helps.  Think of it like this--you have the editor running on your local network and the codegen is running as a web service out on the internet.  When you generated code, as you can see in the network tab, we are posting the specification up to the online codegen running out on the cloud.  That specification is then used to generate code.

If you have relative files on your local net

[2017-04-27 09:06] smiklosovic commented on #2662
Hey, is there any workaround?

Can I make a plugin which will do my own toString method? How that would be done?

[2017-04-27 09:10] wing328 commented on #5498
@fisherliu we've the following PRs. Are these what you're looking for?

https://github.com/swagger-api/swagger-codegen/pull/5393
https://github.com/swagger-api/swagger-codegen/pull/5391 (merged)

[2017-04-27 09:28] ChandrakantRathod commented on #5492
Thanks for prompt reply.

Swagger editor of my local system is refering/pointing to my swagger codegen project which i have established in my local system only.

Instead of multiple .yaml files, if I keep only single swagger specification file then it generate properly according to my custom .mustache template. But its create problem when i use multiple .yaml files.

[2017-04-27 09:30] fehguy commented on #5492
It still doesn't matter because of how definitions are passed to codegen.  They are POSTed (look at the network request) and because of there, there is no notion of a relative path.  So even if you host it, that mechanism doesn't work.

In order to have a relative path, you'll need to _serve_ your definition somewhere, along with the multiple files.  Then when you codegen, you would point it to th

[2017-04-27 09:33] fisherliu commented on #5498
Thank you for your timely reply.
Yes, these are what  I am looking for.
Which version will they be merged to?

[2017-04-27 09:36] fisherliu commented on #5498
@wing328, another concern is that when the List is required, we hope the List size is greater than zero not just empty List, could we add @Size(min = 1) to implement this.

[2017-04-27 09:52] wing328 commented on #4097
A good starting point to add the formData parameters is https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/htmlDocs2.

Would you have time to contribute the fix?

Form parameters can be retrieved from the tags {{#formParams}}:

https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=formparams&type=

[2017-04-27 09:54] wing328 commented on #4097
Actually it seems to be added already:
[code]
Please pull the latest master to give it a try.

[2017-04-27 10:02] wing328 commented on #5493
Closed via #5496

[2017-04-27 10:06] manoelledeviron commented on #4097
Indeed, I had the 2.2.1 version of swagger codegen, it works well with version 2.2.2. Thanks!

[2017-04-27 10:27] liebig commented on #4680
What is the status of this? I have the same issue and need the fix. @mikee did you create a PR?

[2017-04-27 10:28] ChandrakantRathod commented on #5492
As you suggested i have serve/host my two reference .yaml files files on microsoft iis server like below.
1) Posts_PostPutGet.yaml
![image](https://cloud.githubusercontent.com/assets/26959397/25479225/c9bf7054-2b61-11e7-892c-73530aabcf9f.png)

2) Posts_Delete.yaml
![image](https://cloud.githubusercontent.com/assets/26959397/25479199/afcfa8f8-2b61-11e7-8c85-52a249cc7707.png)

Also, refered the same

[2017-04-27 10:30] fehguy commented on #5492
Ok, what you have done should work as-is.  When I was saying for codegen was if you don't have absolute references.  So try with your definition like this and report back?

[2017-04-27 10:42] ChandrakantRathod commented on #5492
I tried above what i mentioned and i got sme error like mentioned above.

[2017-04-27 10:44] #5493 closed

[2017-04-27 10:55] wing328 commented on #4680
@liebig the issue may have been resolved.

Can you also try the latest master as well?

[2017-04-27 11:07] fehguy commented on #5492
Are you sure you're calling your internal version of the codegen service?  Check your network tab to make sure it's not going to generator.swagger.io because there's no way that server can reach your internal network.

[2017-04-27 11:23] ChandrakantRathod commented on #5492
I checked my network request and found below.
![image](https://cloud.githubusercontent.com/assets/26959397/25481194/b717f054-2b69-11e7-8e23-67d7a4bdb17a.png)

When I open/hit that link then i get below output.
![image](https://cloud.githubusercontent.com/assets/26959397/25481273/0bd7141c-2b6a-11e7-8724-044387db1d85.png)

Is there anything wrong here?

[2017-04-27 11:46] liebig commented on #4680
I tested on the latest master and it seems to work fine.

[code]

[2017-04-27 11:59] wing328 commented on #4680
@liebig thanks for doing a test. Closing this.

[2017-04-27 11:59] #4680 closed

[2017-04-27 12:00] #5432 closed

[2017-04-27 12:23] TeMob opened #5500 "[Swift3] primitive typed parameters in POST body"
##### Description

Hi
I am struggling with primitive parameters used in the request body of POST requests.
The problem is that primitive parametertypes, such as "string", are forced to be JSON encoded, because all body-parameters are being JSON encoded.
Thats part of the problem. Another problem is that all parameters are being casted to a [String:AnyObject] dictionary, although a plain string wil

[2017-04-27 12:52] taxpon commented on #4986
@wing328 This issue can be closed.

[2017-04-27 12:53] wing328 commented on #4986
@taxpon thx for the reminder.

[2017-04-27 12:53] #4986 closed

[2017-04-27 12:55] wing328 commented on #5498
Current master (2.2.3), which will be sync'd to 2.3.0 as well.

Have you set `minItems` in the spec?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-7

[2017-04-27 13:46] wing328 commented on #5460
@reece thanks for reporting the issue. When I clicked on https://github.com/reece/vmc-openapi/blob/master/spec/vmc.yaml, I got a 404.

If you've time, I would suggest you to try the latest master as well to see if there's by any chance the issue may have been addressed already.

[2017-04-27 13:47] wing328 commented on #5451
Closing this as there's no update.

[2017-04-27 13:47] #5451 closed

[2017-04-27 13:51] wing328 commented on #5444
@ePaul I think the move was to avoid "potential" licensing issue with Oracle JDK. Here is a news article related to that:

https://www.theregister.co.uk/2016/12/16/oracle_targets_java_users_non_compliance/

[2017-04-27 13:52] YathendraPrasad commented on #3300
@wing328 , Has the fix been merged to 2.2.2 swagger-codegen-maven-plugin . I could still see the issue . Here is my JSON and the API spec
JSON :
{
                        "name": "classname_positive_examples",
                        "in": "formData",
                        "description": "A compressed (.zip) file of images that depict the visual subject for a class within the classifier. Must co

[2017-04-27 13:53] YathendraPrasad commented on #3300
@wing328 : same name "inputStream" created

[2017-04-27 13:55] wing328 commented on #5443
@mmkal thanks for the suggestion. I'm copying the Typescript generator contributors to see if they've any feedback: @TiFu @Vrolijkx @damienpontifex @sebastianhaas @leonyu

[2017-04-27 13:57] wing328 commented on #5229
Closing this as there's no update.

[2017-04-27 13:57] #5229 closed

[2017-04-27 13:58] wing328 commented on #5172
Closed via #5189

[2017-04-27 13:58] #5172 closed

[2017-04-27 14:03] wing328 commented on #5104
Please join the discussion in https://github.com/swagger-api/swagger-codegen/issues/3950.

The latest proposal is to support HandleBars

[2017-04-27 14:04] wing328 commented on #5104
My proposed consolidation won't be a breaking change so the auto-generated TS clients should work the same work as before.

[2017-04-27 14:04] #5142 closed

[2017-04-27 14:06] wing328 commented on #5141
Using `-t` can confirm if the solution works for you. Then feel free to submit a PR to add back the enhancement/fix to the project.

[2017-04-27 14:07] wing328 commented on #5124
@prawana-perera thanks for reporting the issue (and sorry for late reply). May I know if you've time to contribute a fix? If yes, I can show you some good starting points.

[2017-04-27 14:09] wing328 commented on #5122
@jimschubert ok. I won't use `dotnet45`then. What about using something like `Validatable` as suggested by @Gronsak ?

[2017-04-27 14:11] wing328 commented on #5121
@iamkarlson After defining the security definitions (e.g. apiKey, oauth2 in your case), you will need to apply it to endpoints. Here is an example:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L152

[2017-04-27 14:15] wing328 commented on #5106
@rwfischer The behaviour is determined by Swagger Parser and here is the PR to enhance it: https://github.com/swagger-api/swagger-parser/pull/422

[2017-04-27 14:15] #5106 closed

[2017-04-27 14:16] wing328 commented on #5105
@dthorpe If you need help with the PR, please let ue know.

[2017-04-27 14:28] jimschubert commented on #5122
@wing328 yeah I think a validatable option makes more sense.

[2017-04-27 15:12] fisherliu commented on #5498
#5393:
https://github.com/cakemail/swagger-codegen/blob/07f066a20350302429c133f2febfcb58632aa56a/modules/swagger-codegen/src/main/resources/JavaSpring/beanValidation.mustache

the change is added into JavaSpring, will it be added into Java language?

[2017-04-27 15:12] fisherliu commented on #5498
Thank you for your help.

[2017-04-27 15:43] kernwig commented on #5141
I don't know off hand how to implement this request, it would take research. I was very easily able to write a pre-processor to modify the swagger spec file to my specific needs before it is processed. Chaining processing layers is a tried and true method. (i.e. The entire javascript ecosystem.) I'm fine with that. I haven't closed this request because I do think it is a nice-to-have for the proje

[2017-04-27 15:55] ravinikam commented on #5488
I will give it try.

[2017-04-27 16:53] YathendraPrasad commented on #3300
Hi ,

Any update on this will be helpful

Thanks

[2017-04-27 17:21] wing328 commented on #5488
@ravinikam thanks. Let us know if you need any help (e.g. testing)

[2017-04-27 17:31] jencodingatwork commented on #3300
@YathendraPrasad It looks like the code change is in the JavaJaxRS resources code, but I don't know if it is in the maven plugin. In the worse case scenario, you can do what I did and write a modified version of the JavaJaxRS code generator so that it does what you need.

[2017-04-27 18:31] reece commented on #5460
@wing328: Yes, this affects latest master (42a5a13fe) as well.

I worked up an minimal example at https://gist.github.com/reece/7d343afd3638fc530c3d3607b57ababd.

[code]

With the command line `swagger-codegen generate -l python-flask -o 5460 -i 5460.yaml` (2.2.2 and master), I see this:

[code]

[2017-04-27 18:58] TiFu commented on #5443
I think there's a small issue with the proposed fix if the operation has no parameters. It would create an
unused, empty interface.

Changes: `{{#hasParams}}`, `{{/hasParams}}` and comment with the description of the param.

[code]

[2017-04-27 20:24] herrerog opened #5502 "[PYTHON] Exception in client API when passing apikey in query."
##### Description

I faced an exception using a generated python client api when it try to add the api key to the query.

Traceback (most recent call last):
  File "test.py", line 13, in <module>
    api_response = api_instance.seek("the")
  File "python-client/swagger_client/apis/seek_api.py", line 168, in seek
    (data) = self.seek_with_http_info(recherche, **kwargs)
  File "python-client/swagg

[2017-04-28 04:08] wing328 commented on #5498
I don't think anyone is working on that. Would you have time to contribute the enhancement?

[2017-04-28 05:17] zzsoszz opened #5506 "why x-spring-paginated vender extentions doesn't work for me?"
##### Description
https://github.com/swagger-api/swagger-codegen/issues/3353
https://github.com/swagger-api/swagger-codegen/pull/3357

json code
[code]

generated java source
[code]

[2017-04-28 06:12] TeMob opened #5507 "[Swift3] string/binary and string/byte are both being Base64 encoded"
##### Description
In the generated Swift code body-parameters of type "string/byte" und "string/binary" are both generating code where the parameter is of type 'Data'. This itself is correct, but Data is always being encoded to Base64, even when I choose 'binary' as a format instead of 'byte'.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

<!-- if it is a bug

[2017-04-28 07:28] prawana-perera commented on #5124
Hi @wing328 , yes I would be happy to try contribute a fix. Any guidance will be appreciated.

Thanks.

[2017-04-28 07:52] tgmuender commented on #3950
I would go with option 5 as well. Though I think the ideal way would be to try to generify/abstract the whole templating part to facilitate adding new template engines.

[2017-04-28 11:12] kirpit commented on #5453
Well after quite the experiment, found out it's not a good idea to create the interfaces within same resource files because of angular/angular-cli#2034. Unfortunately, that issue is not treated as priority to my understanding either. As a result, I probably need to change some java code as well, to create them in a separate file.

I also would like to define some sort of generation parameter flag

[2017-04-28 11:24] wing328 commented on #5453
@kirpit what about using the "-t" option to use your own customized templates?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-customize-the-template-to-add-headerfooter-to-the-auto-generated-code

[2017-04-28 11:36] kirpit commented on #5453
@wing328 yeah actually also tried that but it is not capable of creating the interfaces in a separate file..

[2017-04-28 12:14] ChandrakantRathod opened #5508 "Swagger UI - Can we add new button like "Try it out"?"
Swagger UI - Can we add new button like "Try it out"?

![image](https://cloud.githubusercontent.com/assets/26959397/25554750/ce725552-2cf2-11e7-96bc-fa6508466bc8.png)

I have to change name of button "or" wanted to add new button similar like "Try it out" button.
Can we do?

At present I have downloaded source code from below link
GitHub: https://github.com/swagger-api/swagger-ui

But in that sour

[2017-04-28 13:22] wing328 commented on #4320
Currently, other generators do not such functionality either because it's hard to tell which methods can be combined into one. If the REST API owner wants to provide a high level operation A to do both B and C, the best they can do at the moment is to define another endpoint "A" in the OpenAPI spec and manually update the auto-generated code to call B, C directly instead.

[2017-04-28 13:24] wing328 commented on #4320
@beatcracker I would recommend you to create a PR to add the PowerShell generator at this stage so as to collect feedback from the PowerShell community.

Let me know if you need help with the PR.

[2017-04-28 13:37] ePaul commented on #5444
Thanks. (But could you please change "jdk" in the title to "Oracle JDK"?)

[2017-04-28 14:19] #5481 closed

[2017-04-28 14:21] wing328 commented on #5444
Updated.

[2017-04-28 15:15] sabras75 opened #5510 "[C++][QT5] Enhancement : error management from API"
##### Description

Current generated code for QT5 does litlle in term of error management.
The generated code looks like (from pet store sample):
[code]

from this snippet of code, we see that, no matter the error_type, the signal is emitted without any indication of an error. In case the signal has a parameter, the parameter is null when an error occurs.

This does not allow us to really determin

[2017-04-28 15:17] sabras75 commented on #5510
@fehguy As you seems to be the original implementer of the qt5cppgenerator, I would really appreciate your view on this. Thanks

[2017-04-28 21:17] bbdouglas opened #5511 "Sample generating sh/bat scripts not in sync"
##### Description

Hi,

I noticed a recent commit (0792933c) that converted all windows batch files for sample generation to use `petstore.yaml`. However, I noticed that there are still some shell scripts that use `petstore.json` instead. Since `petstore.json` and `petstore.yaml` are slightly different (for example, the contact email apiteam@wordnik.com vs apiteam@swagger.io), you get different co

[2017-04-29 04:03] wing328 commented on #5511
Done via 427ca18

[2017-04-29 04:03] #5511 closed

[2017-04-29 04:07] #5502 closed

[2017-04-29 10:48] inovik commented on #2110
Hi @wing328, the problem still exists! I tested Swift3 API client.
generated error is enum
`public enum ErrorResponse : Error {

    case Error(Int, Data?, Error)
}`

but it is not possible to get data from this error
there are only possibility to get status code from this answer https://github.com/swagger-api/swagger-codegen/issues/4190

[2017-04-29 11:08] wing328 commented on #2110
I would suggest you to test with the Swift3 API client in 2.3.0 branch as
well (which contains breaking changes)

On Sat, Apr 29, 2017 at 6:48 PM, inovik <notifications@github.com> wrote:

[2017-04-29 12:00] inovik commented on #2110
Can you please help me install version 2.3.0?
I use OSX and when I try call brew install swagger-codegen installed
version is 2.2.2
also I try call
brew install swagger-codegen 2.3.0 -> Error: No formulae found in taps.

От 29 апреля 2017 г. в 14:08:58, wing328 (notifications@github.com) написал:

I would suggest you to test with the Swift3 API client in 2.3.0 branch as
well (which contains breaki

[2017-04-29 12:04] wing328 commented on #2110
You will need clone the repo, checkout 2.3.0 branch and build the JAR
locally.

On Apr 29, 2017 8:00 PM, "inovik" <notifications@github.com> wrote:

[2017-04-29 14:55] sumo300 opened #5513 "[C#] swagger-codegen, date datatype in swagger, and services that expect/validate date only"
##### Description

We currently use a service bus platform called Tibco to develop RESTful servics for our enterprise.  Tibco supports both the `date` and the `datetime` data types and validates them as such in requests to the services.  `date` expects a strict date with no time element.  However, when these services are used from C#, which swagger-codegen generates properties as `DateTime?`, the