[2017-07-13 09:17] wing328 commented on #5953
@TehBakker np. Just share more with us when you've time and we'll see what we can do to meet your requirement.

[2017-07-13 11:29] boosh commented on #5986
Done, rather hamfistedly.

[2017-07-13 12:19] kenisteward commented on #5570
No concerns I 100 percent agree here.

On Thu, Jul 13, 2017, 12:31 AM wing328 <notifications@github.com> wrote:

[2017-07-13 12:21] kenisteward commented on #5570
At some point we need to actually implement the new http client as well.
Thanks Google for making me eat my words!

On Thu, Jul 13, 2017, 8:19 AM Kenneth Steward <keni.steward@gmail.com>
wrote:

[2017-07-13 12:57] Johanneke opened #6045 "[Maven] dependencies not declared properly in 2.2.2?"
##### Description

In my company we can't use Maven central and need to use our own hosted Nexus repository. This repository downloads dependencies from maven central when needed. When declaring swagger-cocdegen version 2.2.2 as a dependency, Nexus refuses to download the jar. Other dependencies and even other versions of this same dependency work correctly.
When using swagger-codegen-maven-plugin

[2017-07-13 13:10] mniak commented on #5993
In fact they are not.
I suppose it should work because these variables are present in the nuget moustache file.

Maybe this issue can be considered a feature-request

[2017-07-13 14:47] checat opened #6047 "[swagger, all] Integer enum parameters are not put into operations"
I can't reopen the issue #3964 so I post a new issue.

##### Description

There are 2 problems:
1. Proper descriptions for integer enum parameters are not present with `-l swagger` for array items. As seen from gist, `integerEnum` parameter is properly dumped, but `integerArrayEnum` does not contain `enum` in `items`.
2. Proper descriptions for integer enum parameters are not present in `-DdebugOp

[2017-07-13 14:49] #6022 closed

[2017-07-13 15:12] #5986 closed

[2017-07-13 15:13] alexandern commented on #5440
@wing328 I will run the UTs and submit the PR.

[2017-07-13 15:25] wing328 commented on #5570
Closes via #6046

Thanks everyone for the feedback!

[2017-07-13 15:25] #5570 closed

[2017-07-13 17:00] devth opened #6051 "[Clojure] How to set headers using with-api-context"
##### Description

I need to set headers in a request (e.g. `If-None-Match`). I tried with:

[code]

but in the debug info it doesn't look like my headers were included. I also tried `:header-params` instead of `:headers`, which I see being used in the generated client, but don't see how to set.

Not sure if I'm missing something or if there is no way to set headers currently.

##### Swagger-codeg

[2017-07-13 18:08] wing328 commented on #5993
To customize the variables in the mustache template, please use --additional-properties instead.

e.g. --additional-properties packageVersion=7.8.9

[2017-07-13 20:35] lwander opened #6053 "[Java] Question about how to use Patch with varying content-type"
##### Description

The PATCH verb depends heavily on what patch strategy is being applied. For example, "application/json-patch+json", "application/merge-patch+json", and "application/strategic-merge-patch+json" all change the meaning of the request body. As far as I can tell, there is no neat way to tell the generated client which strategy to use. I'll show an example in the below sections that c

[2017-07-13 20:52] abstratt opened #6054 "[JAVA] JAXB models should not have to include JSON-related annotations"
##### Description

I am testing the recently improved support for generating JAXB-based models (#5962 and #6005).
The generated code always includes JSON-related annotations, which are unnecessary for a XML-based API.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Configuration file

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Run the generator using th

[2017-07-13 21:58] javakrieg opened #6055 "[CPPREST] [C++] Required string fields are not handled properly in the cpprest generator"
##### Description

In ModelBase.cpp, the default code generated for stringFromJson() is:

utility::string_t ModelBase::stringFromJson(web::json::value& val)
{
    return val.is_string() ? val.as_string() : U("");
}

As you can see, this supplies an empty string when no value is given.

However, this is a problem if the field is flagged as a required field.  If a required string field is missing, i

[2017-07-14 08:46] wing328 opened #6057 "[Eiffel] Enhancements to the Eiffel generator"
##### Description

Here is a list of enhancements I can think of.

- [ ] Create shell scripts, batch files to generate Eiffel Petstore samples
- [ ] Setup CI (travis, shippable, etc) to cover the Eiffel Petstore samples.
- [ ] Refactor part of the code into an Abstract Eiffel base class, which can be later used in Eiffel server stub generators
- [ ] Add Eiffel Style guide to the contribution guide

[2017-07-14 09:08] wing328 commented on #6045
@Johanneke as a workaround, what about using the SNAPSHOT version? https://github.com/swagger-api/swagger-codegen#compatibility

Does it show any error in the log?

[2017-07-14 10:33] wing328 opened #6059 "Create language-specified base class"
##### Description

As the awesome Swagger Codegen community adds more generators (e.g clients, servers) to Swagger Codegen, we want to refactor some generators to create language-specific base class so as to reuse the code that are common to generators for the same langauges. Here are a few examples

[C++](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/

[2017-07-14 11:15] mniak commented on #5993
Thank you very much!
This was what I was looking for!

[2017-07-14 11:15] #5993 closed

[2017-07-14 11:24] wing328 commented on #5993
@mniak No problem.

I agree with you that we should add the corresponding CLI option as users may not be aware of `--additional-properties` for customizing mustache templates.

Let me know if you've cycle to contribute the enhancement.

[2017-07-14 12:20] wolfAle opened #6060 "Swift3 Security Support"
##### Description

Looks like the swagger-codegen for Swift3 ignores the Security settings and doesn't add any chance to pass the headers to the methods.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

Yaml:
[code]
Generated methods:
[code]
##### Command line used for generation

swagger-codegen generate -l swift3 -o destination/path -i ./swagger.yaml

##### S

[2017-07-14 12:30] ananastya commented on #3026
Hello!
I cannot execute command `mvn clean package`.
I cloned repository. I am change directory to "swagger-codegen". And execute  `mvn clean package`. But it return errors:

[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] swagger-codegen-project
[INFO] swagger-codegen (core library)
[INFO] sw

[2017-07-14 13:11] wing328 commented on #3026
@ananastya please open a new issue instead.

[2017-07-14 13:21] ananastya commented on #3026
@wing328 sorry, it was my mistake. Installation of java jdk instead of jre solved the issue

[2017-07-14 13:24] wing328 commented on #3026
@ananastya np. Open a new issue if you need further help from us.

[2017-07-14 18:06] zmoore-usgs opened #6062 "[Maven-Plugin] Comma-separated string parameters should be lists, rather than strings, in the maven plugin"
##### Description

In similar vein as https://github.com/swagger-api/swagger-codegen/issues/5383 and following in the theme of https://github.com/swagger-api/swagger-codegen/issues/5860 this in regards to  `instantiation-types`, `type-mappings`, `language-specific-primitives`, `additional-properties`, and `reserved-words-mappings`.  Currently these are all single-string, comma-separated parameters

[2017-07-14 20:09] fehguy commented on #6062
Unfortunately this will be a breaking change for all users of the plugin.  Perhaps you can handle the old format as well as the new?  I don't know if it's possible, but that's why this hasn't been merged.

You may also want to chime in on #6041 as we will be redoing the interface to access the codegen completely with that PR.

[2017-07-14 20:09] #6062 closed

[2017-07-14 20:10] fehguy commented on #6053
I don't think this will be possible given the current architecture.  When we add the 3.0 spec support you'll have the ability to have more control over how different content-type values will be used.  I suggest that you consider using the codegen to get you started with your case, and then adding custom logic for this.

[2017-07-14 20:10] #6053 closed

[2017-07-14 20:11] fehguy commented on #5989
You can also create an option for the output filename and send a PR.  The default should be `index.html` though.

[2017-07-14 20:11] #5989 closed

[2017-07-14 20:12] fehguy commented on #5990
The client generator can't currently return different response codes and payloads as the spec describes.  Watch for this in the 3.0 spec support which is about to get underway.

[2017-07-14 20:12] #5990 closed

[2017-07-14 20:12] lwander commented on #6053
Thanks @fehguy - could you share how the 3.0 spec will help solve this?

[2017-07-14 20:15] fehguy commented on #6053
Yes, the 3.0 spec (which lives [here](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md)) has moved the `content-type` of an operation like `Patch` into a `requestBody` object (see [here](https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md#requestBodyObject)).  What that means is that you'll be able to specify exactly how different content ty

[2017-07-14 21:40] cbwest3 opened #6065 "[Python] Controller generation dependent on matching API tag"
##### Description

Python controller generation using `x-swagger-router-controller: packageName.controllers.foobar_controller` is dependant on having a `foobar` tag in the swagger API.  If the `foobar` tag does not exist in the swagger API, the following error below generated when trying to execute the generated module.

I expected a new controller to be created for each new `x-swagger-router-cont

[2017-07-14 21:55] kenisteward commented on #5608
@wing328 are we still taking pull request for 2.3.0? I'd like to contribute
this this weekend hopefully.

@vrolijkx just checking to make sure you agree with this still

On Thu, May 18, 2017, 7:46 AM Vrolijkx <notifications@github.com> wrote:

[2017-07-14 23:12] fehguy commented on #5006
I'm really sorry about lagging.  Honestly my QT got really rusty, but now it's back :)

I have the fix (it's literally 3 lines) and will try to get it in the 2.2.3 which was delayed today for other reasons.  Maybe it's cosmic and I need to fix this first!

[2017-07-14 23:52] #5006 closed

[2017-07-15 04:31] gehnster commented on #1889
Has anyone made progress on this? I consider the C# codegen to pretty much be useless until this is resolved.

[2017-07-15 04:35] wing328 commented on #1889
Please checkout 2.3.0 branch, which has the C# API client refactored and it now supports another HTTP library: RESTSharp.portable (https://www.nuget.org/packages/FubarCoder.RestSharp.Portable/)

And what issues did you run into with C# API client using RestSharp?

[2017-07-15 06:55] darius-iko commented on #5468
@wing328 So the version 2.2.2 cannot be used to generate TypeScript-Angular2 code and we have to wait the next version for it? When is the estimated release date for the next version?

[2017-07-15 08:18] ePaul commented on #6041
Sounds like a good idea.

For the system properties removal stuff, I started in #4788 (with abandoned pull requests #5119, #5067, #5066). Feel free to use some of that code, or tell me the plan, I can potentially update the PRs to fit the new plan on how to do it.

[2017-07-15 08:28] sebastianhaas commented on #5608
I'm all for it. We also might want to protect against reimporting as described [here ](https://angular.io/guide/ngmodule#prevent-reimport-of-the-coremodule) then?
@kenisteward @Vrolijkx @TiFu  what do you think?

[2017-07-15 11:58] kenisteward commented on #5608
That sounds great!

On Sat, Jul 15, 2017, 4:28 AM Sebastian Haas <notifications@github.com>
wrote:

[2017-07-15 22:56] TiFu commented on #5608
I don't have much experience with angular, but following best practices sounds good.

[2017-07-16 03:33] gehnster commented on #1889
First one, RestSharp is outdated, hasn't been updating since 2015. Also I'm fail to see its purpose in the codegen when HttpClient exists and we can reduce the number of dependencies. Also, RestSharp isn't configured as a .NET Standard so can't be used in .NET Core apps. RestSharp.portable also isn't setup for .NET Standard.

[2017-07-16 05:51] isman-usoh opened #6072 "[Typescript-Angular2] Enum model display duplicate description"
##### Description

Display duplicate description

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url
[code]
generate to.
[code]

##### Command line used for generation

[code]

[2017-07-16 10:18] github-madhu opened #6074 "Error generation server stub for python-flask"
##### Description

Unable to generate the server code for python-flask

##### Swagger-codegen version
2.2.1

##### Swagger declaration file content or url
http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

c:\>java -jar swagger\swagger-codegen-cli-2.2.1.jar generate -i http://petstore.swagger.io/v2/swagger.json -l python-flask
--

##### Steps to reproduce

Run the

[2017-07-16 16:31] wing328 commented on #6074
We just release stable version v2.2.3. Please give that a try.

[2017-07-16 17:00] #5833 closed

[2017-07-16 17:01] wing328 commented on #5847
@advance512 Without the HTTP request, it would be not easy to understand the problem. Please provide an example so that we can help you out.

[2017-07-16 17:02] wing328 commented on #5752
@jstockall you may want to pull the latest master (2.3.0) to give it another try with a newer version of Swagger Parser to see if the issue persists.

[2017-07-16 17:03] wing328 commented on #5842
v2.2.3 stable version has been released. Please give it a try and let us know if you still face the same issue.

[2017-07-16 17:03] #5842 closed

[2017-07-16 17:04] wing328 commented on #5849
I'm busy with other tasks and may not be able to work on this by the end of Aug.

If anyone wants to work on this, please reply to let us know.

[2017-07-16 17:05] #5997 closed

[2017-07-16 17:06] #5720 closed

[2017-07-16 17:07] #5719 closed

[2017-07-16 17:07] #5709 closed

[2017-07-16 17:08] wing328 commented on #5796
@prakashbalaji may I know if you need help with the PR?

[2017-07-16 17:08] #5658 closed

[2017-07-16 17:09] wing328 commented on #5656
v2.2.3 has been released and current master is 2.3.0. Please give it a try and let us know if it's still an issue.

[2017-07-16 17:09] #5656 closed

[2017-07-16 17:11] wing328 commented on #5041
Fixed in 2.3.0

[2017-07-16 17:11] #5041 closed

[2017-07-16 17:12] #4965 closed

[2017-07-16 17:14] wing328 commented on #4948
v2.2.3 has been released. Closing this as there's no update.

You may want to try the latest master (2.3.0), which contains a lot of enhancements and bug fixes for swift and swift3

[2017-07-16 17:14] #4948 closed

[2017-07-16 17:16] #4662 closed

[2017-07-16 17:17] #4474 closed

[2017-07-16 17:17] #4484 closed

[2017-07-16 17:19] wing328 commented on #3765
v2.2.3 has been released. Please also try the current master (2.3.0)

If it's still an issue, I can show some good starting points to fix it (e.g. using the model templates from Python client)

[2017-07-16 17:19] wing328 commented on #3765
v2.2.3 has been released. Please also try the current master (2.3.0)

If it's still an issue, I can show some good starting points to fix it (e.g. using the model templates from Python client)

[2017-07-16 17:21] #4645 closed

[2017-07-16 17:28] wing328 commented on #4631
Closing this as there's no update.

[2017-07-16 17:28] #4631 closed

[2017-07-16 18:44] fehguy opened #6077 "Updating project template design"
The templates have often been a source of issue with this project--between being bundled with the final artifact (requiring a new release for a single change to be picked up) and the waterfall-style "everything updates at once" issue that this creates.  With 3.0 support on the way, now is the time to improve the structure to make the templates more maintainable and give more control to end-users.

[2017-07-16 19:30] PG2000 opened #6078 "Typescript-angular2 - Allow empty basePath as OpaqueToken"
##### Description

Under https://github.com/swagger-api/swagger-codegen/blob/ba704e3ac8635d2c35d87fbfb3e0243cf6f35da8/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache

the basePath check doesn't allow to have an empty string so it ill be set to the default value of basePath

Instead of

[code]

it should be:

[code]

##### Swagger-codegen version

latest

##### Swagger d

[2017-07-16 20:28] kenisteward opened #6080 "Update Typescript-Angular (as of 2.3.0) To use Angular 4.3 HTTPClient optionally"
##### Description

VIA https://angular.io/guide/http

As of Angular 4.3 they have decided to create a new API for the HTTP client.  As such we should update the generated Typescript-Angular client to use the new API as the old API will be deprecated in the future.  I foresee people no updating their Angular version strictly for their swagger generated code so that's why I think this should optiona

[2017-07-16 21:41] isman-usoh opened #6081 "[Typescript-Angular2] Cannot generate additionalProperties array type"
##### Description

##### Swagger-codegen version

2.2.3

##### Swagger declaration file
[code]
generate to.
[code]
should be
[code]

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i swagger.json  -l typescript-angular2

[2017-07-17 00:47] cyberhck commented on #5656
we ended up writing our own sdk generator in TypeScript which uses our own http client because our http client supports a lot of things like middleware, mocking an endpoint, caching, etc out of box.

So No, I don't think I'll be doing that, someone else if provided a sample generated api.ts file, I could look into it.

[2017-07-17 03:31] wing328 commented on #6078
@PG2000 thanks for reporting the issue. Please file a PR with updated Petstore sample so that we can review the fix more easily.

[2017-07-17 03:58] darius-iko commented on #5468
Thanks. Version 2.2.3 is out.

[2017-07-17 04:06] wing328 commented on #5468
@darius-iko yup, please give it a try and let us know if you've further feedback.

[2017-07-17 04:07] wing328 commented on #5745
2.2.3 (not 2.3.0) has been released. We hope to release 2.3.0 by the end of Aug as there're some ongoing work to refactor some of the API clients.

[2017-07-17 05:34] erothmayer opened #6083 "[JAVA] Spring template removes default MessageConverters causing Response Code 406"
##### Description

In the current Spring MVC template, the generated SwaggerUIConfiguration extends WebMvcConfigurerAdapter and overrides configureMessageConverters() to add a Jackson2 converter.

Due to the expectations Spring has, this has a seemingly unintentional side-effect of removing all the default Message Converters known to Spring, which results in unexpected status code 406 for mime typ

[2017-07-17 06:35] github-madhu commented on #6074
I have tried v2.2.3 same error

[2017-07-17 06:50] wing328 commented on #6074
[code]
looks like permission issue.

Can you try another folder like c:\temp?

[2017-07-17 06:52] wing328 commented on #6055
v2.2.3 has been released with many enhancement to C++ (cpprest) generator. Please give that a try.

[2017-07-17 06:53] wing328 commented on #6045
Please try v2.2.3 instead, which has just been released.

We'll reopen this if it's still an issue.

[2017-07-17 06:53] #6045 closed

[2017-07-17 06:54] wing328 commented on #6018
We'll reopen this if this is still an issue with 2.3.0 (master)

[2017-07-17 06:54] #6018 closed

[2017-07-17 07:05] rompic commented on #5745
Thanks for the update! Looking forward to the release.

[2017-07-17 07:54] Johanneke commented on #6045
The problem in Nexus persists for swagger-codegen-2.2.3. I'll have to ask the administrator for any logging.
The maven plugin does work on version 2.2.3, as long as I tell it to use swagger-codegen-2.2.1 instead of 2.2.3.

[2017-07-17 07:58] wing328 commented on #6045
Yup, please check the log. Otherwise, there's no much we can help here. You may want to check the SNAPSHOT version as well to see if it makes any different.

[2017-07-17 09:14] #5440 closed

[2017-07-17 09:14] wing328 commented on #5440
@bharathreddy-97 The fix by @alexandern has been merged into master. Please pull the latest master to give it a try.

[2017-07-17 09:21] wing328 opened #6084 "Replace `useJaxbAnnotations` with `withXml`"
##### Description

Replace `useJaxbAnnotations` with `withXml` to make it consistent with other generators when it comes to XML support.

https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=useJaxbAnnotations&type=

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/5962

##### Suggest a fix/enhancement

If

[2017-07-17 09:25] wing328 commented on #6054
@abstratt are you saying if `withXML`is set to true, then `gson` in additional properties should automatically set to false as well?

cc @mobreza @packleader

[2017-07-17 11:04] #6072 closed

[2017-07-17 11:22] edrevo opened #6085 "Java Play server generator fails if path variables aren't camelCase"
The Java Play codegen is generating the following `routes`, which do not compile:

[code]

This is because the varaible in the path is refered as `phone_number` but it is refered as `phoneNumber` in the method call.

[2017-07-17 12:12] edrevo opened #6087 "Java Play date-time params don't work"
##### Description

A query param with a date-time format will generate the following code, which does not compile:

[code]

##### Swagger-codegen version
2.2.3

[2017-07-17 12:20] Buisson opened #6089 "swagger generate class with NSCoding for swift 3"
I have just open a thread on stackoverflow for a problem of saving my objects to UserDefaults.

Here is the topic : [https://stackoverflow.com/questions/45144045/swagger-generate-class-with-nscoding-for-swift-3](url)

Thanks.

[2017-07-17 12:31] farcaller commented on #5905
Why am I deep into java code now, then? 😄

On a serious note: I'm working on rust client generator based on hyper.rs.

[2017-07-17 12:33] boosh opened #6090 "Allow more control over building request URL for javascript client"
##### Description

Same as #5627 but for javascript (web). I need to prevent the JS library from calling `encodeURIComponent` on the path because forward slash characters need to be passed through correctly.

##### Swagger-codegen version

Latest - from editor.swagger.io/#/

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

Generate a

[2017-07-17 12:57] wing328 commented on #5905
The PowerShell API client generator was created with the help of an experienced PowerShell developer who does not know Java.

We can start the same process if you're interested creating a Rust client generator in Swagger Codegen.

[2017-07-17 12:58] farcaller commented on #5905
I'd be up for any help in re. java code (I can reasonably read java). Can do the rust part.

[2017-07-17 13:07] keradus commented on #6006
@wing328 , are you following semver or not for this project? (if not, nothing bad, just asking).
imo, if current autogenerated code is failing (due to that lack of headers set via ignoring the vars), it's bug, not feature

[2017-07-17 13:18] lwander commented on #6053
Very neat, thanks for the help @fehguy

[2017-07-17 13:19] sebastianhaas commented on #6006
Maybe I can help answering some of your questions. Re versions, you can take a look at the [table in the readme](https://github.com/swagger-api/swagger-codegen#compatibility).

I agree with you that disrespecting content type can be considered a bug, I'll see if I can find time to provide a fix as @wing328 suggested, but I guess as always any PRs would be more than welcome. :)

[2017-07-17 13:22] kenisteward commented on #6006
Is there a reason why we can't just set the default headers property on
every service ? I think I might be missing something

On Mon, Jul 17, 2017, 9:20 AM Sebastian Haas <notifications@github.com>
wrote:

[2017-07-17 13:34] wing328 commented on #5905
@farcaller thanks for offering help on this.

We can reuse the same [methodology](https://github.com/swagger-api/swagger-codegen/issues/4320#issuecomment-296198548) we used for PowerShell API client by first creating a Rust wrapper/SDK for [PetStore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml) by focusing on a few endpoin

[2017-07-17 13:43] sebastianhaas commented on #6006
@kenisteward we do actually set a default for `Content-Type` [here](https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/typescript-angular2/api.service.mustache#L232). So we could actually send formdata if it's form data etc. but that requires some additional logic.

We could also set `Accept` to `application/json` as well, (not being right now) and

[2017-07-17 13:48] farcaller commented on #5905
SGTM. I'll work on the example and will submit a PR

[2017-07-17 14:02] keradus commented on #6006
just to make sure on that, if server is expecting one of those json-compatible mime and don't get one, it may refuse the call, even if generated client would handle parsing output ;)

[2017-07-17 14:04] sebastianhaas commented on #6006
That is what I was trying to say :)

[2017-07-17 14:15] wing328 commented on #6006
For other client generators, we've implemented a function `isJsonMime` to match JSON-compatibile MIME such as `application/vnd.github.v3+json`: https://github.com/swagger-api/swagger-codegen/blob/c66a0aaa07695276fc3fa6a24bb42d2176d0f5cc/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache#L577-L580

[2017-07-17 14:36] Johanneke commented on #6045
We get a `SocketTimeoutException: Read timed out`. We're looking into our firewall settings to check if that is causing any issues with downloading dependencies into Nexus.

[2017-07-17 15:43] farcaller commented on #5905
There you go: https://github.com/swagger-api/swagger-codegen/pull/6092

It almost works with the sample node server (it actually crashes the server, but I'm very sure it's the server's fault).

[2017-07-17 17:17] wing328 commented on #1889
@gehnster according to https://github.com/FubarDevelopment/restsharp.portable#supported-platforms, restsharp.portable supports .NET core. What error did you get when using the auto-generated C# SDK with .NET core?

[2017-07-17 17:33] #6085 closed

[2017-07-17 19:41] gehnster commented on #1889
When I take the auto-generated C# code from swagger-codegen and place it in a .NET Standard project, when I add RestSharp.Portable via NuGet it gives warning `Warning	NU1701	Package 'FubarCoder.RestSharp.Portable.Core 3.3.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStandard,Version=v2.0'. This may cause compatibility problems.`

If I brought th

[2017-07-17 21:43] kenisteward commented on #6006
So I think I may have not got my point across. The original post was how
they thought they couldn't send different headers for accepts and content
type.

What I was meaning is why can't in their client usage code they set their
default headers to what they expect / send and then just send that stuff?

Now I do see thought that even if you tell it you will send something other
than Jon we just send

[2017-07-18 05:08] edrevo opened #6094 "[Java-PlayFramework] Using wrapCalls=false generates invalid code"
##### Description

`wrapCalls=false` will not emit the `ApiCall.java` file, but it will still use the `@ApiAction` annotation, which in turn depends on `ApiCall`.

The net result is that the code does not compile.

##### Swagger-codegen version
2.2.3

##### Command line used for generation

`java -jar "C:\Users\ximo.HI\Downloads\swagger-codegen-cli-2.2.3.jar" generate -i .\swagger.json -l java-pla

[2017-07-18 05:13] edrevo opened #6095 "[Java-PlayFramework] Unnecessary dependencies are added to the project"
##### Description

Generated project has playWs, playCache and playJdbc as dependencies, but they don't seem to be used anywhere.

##### Swagger-codegen version

2.2.3

[2017-07-18 05:14] edrevo opened #6096 "[Java-PlayFramework] Update to use Play 2.6"
##### Description

Would a PR to update the Java-PlayFramework server stub generation to use Play 2.6 be a welcome addition?

[2017-07-18 06:02] imgx64 commented on #5612
This seems to only affect http://editor.swagger.io/ . I built the code from source from three different branches (master, 2.3.0, 3.0.0), and tried pre-built JARs ([2.2.2](https://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.2.2/swagger-codegen-cli-2.2.2.jar) and [2.2.3](https://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.2.3/swagger-codegen-cli-2.2.3.jar)) and none of them g

[2017-07-18 06:22] imgx64 commented on #5612
I think this issue can be closed. The real issue is swagger-api/swagger-editor#1319 .

[2017-07-18 06:32] wing328 commented on #1889
cc @Gronsak @jimschubert to see if they've better clue on why it's not working for .NET standard 1.3

[2017-07-18 06:40] wing328 commented on #5612
@imgx64 ok. Issue closed. Please open a new ticket (issue) if you need further help from us.

[2017-07-18 06:40] #5612 closed

[2017-07-18 09:38] savelievser opened #6098 "[Typescript-Angular2] Generation of POST parameter with "array" schema causes Error."
##### Description

This problem appeared in v.2.2.3.
I'm trying to generate "typescript-angular2" client API with http://generator.swagger.io/#!/clients/generateClient service.
I cutted my configuration to make it more readable and it looks like this:
[code]
Such a description leads to an error:
[code]

That's because of the schema of my parameter:
[code]

If I change it to object or to constant,

[2017-07-18 10:41] dentych commented on #3483
I have just run into this issue.

[code]

This will generate a Numbers class, which extends ArrayList<Number> - where Number is a class that doesn't exist, because it's not generated.

[2017-07-18 10:45] sh123sh commented on #5989
Thanks!!

[2017-07-18 11:01] tzimisce012 opened #6099 "[Java-PlayFramework] Fix names for the Controller interfaces"
The name of the api interfaces are written as "{{classname}}ControllerImpInterfaces" and the implementation as "{{classname}}ControllerImp.

It would make more sense to call the interfaces as "{{classname}}ControllerInterface" without the word Imp in the middle.

[2017-07-18 11:03] tzimisce012 opened #6100 "[Java-PlayFramework] Fix dependency injection in the Controllers"
##### Description

When a controller is generated we have that the constructor has as input the implementation of the interface so no dependency injection can be done.

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Suggest a fix/enhancement

Instead, the constructor should have the interface of the api.

[2017-07-18 12:17] jimschubert commented on #1889
See: https://github.com/dotnet/standard/blob/master/docs/versions.md

. NET Core 2.0 is .NET Standard 2.0. The C# client only supports .NET Standard 1.3. I've compiled it successfully against supported .NET Framework and Mono versions per the linked doc. I haven't compiled it against .NET Core 1.0.

I'm 100% in support of moving to HttpClient only. I've discussed this before with other maintainers

[2017-07-18 12:20] wolfAle commented on #6060
Hi there,

any news about this?

[2017-07-18 13:28] edrevo opened #6101 "[Core] DefaultGenerator is reading system properties"
##### Description

`DefaultGenerator` has several calls to `System.getProperty` that change the behavior of the class. This makes sense in the context of the CLI, but since this class isn't part of the cli project, it seems more reasonable that these parameters be passed in `ClientOpts` or some other Opt class.

This would make `DefaultGenerator` easier to use as a library

##### Swagger-codegen v

[2017-07-18 13:58] Buisson commented on #6089
I just made this mustache model :

`{{#models}}
{{#model}}
//
// {{classname}}.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation

{{#description}}

/** {{description}} */{{/description}}
{{#isArrayModel}}
public typealias {{classname}} = [{{arrayModelType}}]
{{/isArrayModel}}
{{^isArrayModel}}
{{#isEnum}}
public enum {{classname}}: {{d

[2017-07-18 14:44] vincent-cm opened #6103 "Generating code for Angular2 project. Error using latest : Unsupported Media Type 415"
It seems content-type is set to plain text which ignores everything preset and configured in Service code.

Using commit version: dad3e6018a479e5056fafda89fbe63eecf26c614  Commits on Jul 18, 2017
Please investigate.

[2017-07-18 14:48] manuc66 opened #6104 "Tagged Docker images for releases"
Hi,

Currently only the `latest` tag is available on [DockerHub](https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/tags/) which target the master / SNAPSHOT version.

Could it be possible to have tagged docker images per release ?

[2017-07-18 15:32] abstratt commented on #6054
@wing238 I don't know about being automatically set to false, but at least it should not be automatically set to true as it is right now.  To be honest, the fact that I was not able to change the value for that property in my configuration file was really surprising. Defaults are fine when they make the user experience better, but it should not be at the expense of honoring user-provided configura

[2017-07-18 16:09] #6103 closed

[2017-07-18 16:09] vincent-cm commented on #6103
related to https://github.com/swagger-api/swagger-codegen/issues/6006

[2017-07-18 16:23] davidpasztor commented on #5878
@wing328 sorry for the late answer, but haven't seen your edit until recently. I have created the PR under #6106 , please check it.

[2017-07-18 16:39] julien-h-webcenter opened #6107 "[SWIFT 3] parseError("Could not decode date")"
Hi,

I contact you because I have an other problem with Swagger 2.3.0. When Swagger try to parse a field Date with nil value, we have this error.
But the field isn't required. so it can be nil ?

Thanks.

Julien
##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-co

[2017-07-18 17:05] wing328 commented on #3483
@dentych what about defining the array of model response the following way instead?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L111-L117

[2017-07-19 02:59] rgmills commented on #6098
We're seeing the same thing after switching to **2.2.3**.  However, it's not limited to TypeScript-Angular, we can reproduce for TypeScript-fetch and csharp.

A similar gist for repo can be found - https://gist.github.com/rgmills/7dab54ab887adcf06968cb520cf4b2a9

[2017-07-19 05:07] wing328 commented on #6104
@manuc66 thanks for the suggestion

cc @fehguy as I do not have admin permission on [DockerHub](https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/tags/)

[2017-07-19 05:12] wing328 commented on #6101
@edrevo Here is a related discussion: https://github.com/swagger-api/swagger-codegen/issues/6041

[2017-07-19 05:13] wing328 commented on #6096
Sounds good to me. We usually update the dependencies after a stable release (and we just released v2.2.3)

cc  @JFCote

[2017-07-19 05:14] wing328 commented on #6094
@edrevo sorry to hear that. May I know if you've time to contribute the fix?

We'll then need to setup CI (circle CI) to cover this issue moving forward.

[2017-07-19 05:15] wing328 commented on #6089
@Buisson Can you please submit a PR with the updated mustache model so that we can review the fix more easily?

cc @Edubits @jaz-ah @jgavris

[2017-07-19 05:16] wing328 commented on #6083
@erothmayer We just released 2.2.3 so please give it a try.

We definitely welcome PR to fix it.

cc @cbornet

[2017-07-19 05:18] wing328 commented on #6051
@devth What about `header-params`? https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/clojure/api.mustache#L13

Disclaimer: no expert in Clojure.

[2017-07-19 06:42] edrevo commented on #6101
Great, thanks for the pointer. I'll close this issue since it seems like a dupe of the one you mentioned.

[2017-07-19 06:42] #6101 closed

[2017-07-19 07:26] edrevo commented on #6094
hi @wing328,

@tzimisce012 might have time to contribute a fix

[2017-07-19 07:45] Buisson commented on #6089
Here is the PR : https://github.com/swagger-api/swagger-codegen/pull/6110

[2017-07-19 07:53] chubinou opened #6111 "[Flask] incomplete reserved words list"
##### Description

* some python reserved keywords (self, None) are not escaped properly
* some python3 reserved keywords (True, False) are not escaped

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

this produce a Link model like

[code]

##### Suggest a fix/enhancement

setReservedWordsLowerCase is called twice, the second time with an incomplete lis

[2017-07-19 08:21] wing328 commented on #4017
It's rejected: https://chocolatey.org/packages/swagger-codegen/2.2.2

If anyone wants to pick up this work, please feel free to clone https://github.com/wing328/choco-swagger-codegen and resubmit the package as I no longer have time for this task.

(btw, v2.2.3 has been released so we may want to update https://github.com/wing328/choco-swagger-codegen with 2.2.3 instead before resubmitting to choc

[2017-07-19 08:32] cbornet commented on #6083
:+1: @erothmayer can you do the PR ?

[2017-07-19 10:47] Seraphli opened #6113 "[Python] Bug in generation"
##### Description

I'm using swagger to generate api code from https://api.opendota.com/api . In the json file there is an object with the attribute "type": “array", but there is no "items" attribute. This will cause the code generator to output a type `list[ERRORUNKNOWN]`, which will raise `AttributeError` while running generated codes.

##### Swagger-codegen version

2.2.3

##### Swagger declara

[2017-07-19 12:07] CodeNinjai commented on #5978
I'll need some advice:

I changed beahviour in io/swagger/codegen/languages/JavascriptClientCodegen.java
Line 488 toVarName(String name)

and added Logger output.

When generating swagger-codegen/samples/client/petstore/javascript-es6/src/model/List.js
I can see that 123-List will be renamed to _123List:
[code]

But still the List.js will be generated like this:

[code]

Any ideas where to look?

[2017-07-19 12:52] encos opened #6115 "[Java-Spring] wrong responsecontainer on API returning lists"
##### Description

The @ApiResponse annotation doesn't behave property when dealing with lists.

The following response codes:
[code]
the output is:

[code]
"array" is not allowed as a vaule for field responseContainer. Moreover the response field should not be a List<>. The expected output is
[code]

I think that the [api.mustache](https://github.com/swagger-api/swagger-codegen/blob/3.0.0/modules

[2017-07-19 13:26] wing328 commented on #5978
@CodeNinjai can you please submit a PR so that we can more easily review the code and clone locally to to repeat the issue?

[2017-07-19 13:45] wuf810 commented on #5535
I notice that in addition to this issue, the encoders generated for classes with AdditionalProperties are now broken with the latest v2.30 branch (not sure how it passes tests if the generated code won't compile).

I will try to find some time to fix the issue raised here and the new encoders problem.

[2017-07-19 13:46] CodeNinjai commented on #5978
@wing328 Sure, stand by.

[2017-07-19 13:58] kewur commented on #5996
This is what I have,

On my AppModule:

`    providers: [
        {
            provide: Configuration,
            useFactory: (authService: AuthServiceBase) => new Configuration({ basePath: process.env.apiLocation, accessToken: authService.GetAccessToken.bind(authService) }),
            deps: [AuthServiceBase],
            multi: false
        }
    ],`

And I have this function that returns th

[2017-07-19 14:14] wing328 commented on #5535
@wuf810 we just released v2.2.3 and now master is 2.3.0.

Swift 3 is using `petstore-with-fake-endpoints-models-for-testing.yaml` for testing and it should cover `additionalProperties`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L1198

Thanks for offering help to fix it.

[2017-07-19 14:19] tzimisce012 commented on #6094
When JavaPlayFrameworkCodegen is first time initialized it has a value of warpCalls = true, and this is the value that ClientOptInput is going to store and send to the DefaultCodegen.

Later, when then method processOpts is called, JavaPlayFrameworkCodegen changes the value of wrapCalls to false (the value of it is given in the object additionalProperties that gets all its information from Codegen

[2017-07-19 14:54] wing328 commented on #5535
FYI. I did a test and confirm the existing Travis CI tests can catch compilation issues with the Swift3 clients: https://travis-ci.org/swagger-api/swagger-codegen/builds/255279112

[2017-07-19 15:07] JFCote commented on #6096
@edrevo @wing328
The version of Play Framework must be a parameters in the generator since it will probably impact most of the mustache file.  Play Framework has a bad habit to break everything between releases, it's not just a "version" to change, it will probably impact a lot of files.

Maybe it's not that bad and this time it will be ok, but it would be the first time.

[2017-07-19 15:29] wing328 commented on #6096
@JFCote thanks for sharing more about how Play framework handles version upgrade. I would imagine it would take a lot of effort to support different Java Play version within the same generator.

If the Play framework community gets used to breaking changes between releases, shall we follow the same pattern and only support the latest stable version in the generator? (If the user needs an old versi

[2017-07-19 15:34] JFCote commented on #6096
@wing328 That's a possibility.
I'm going in vacation for 2 weeks at the end of the week, but when I come back, I could check exactly what is the impact on the mustache file of this change of version. Maybe it's not that bad.

[2017-07-19 15:35] lopesmcc opened #6118 "[Java] Jersey, Jersey2 and Resteasy clients do not support HTTP-HEAD"
##### Description

Found out that Jersey2 clients do not support requests using the HEAD method. This seems to apply as well to Jersey and resteasy.
Is there any reason for that or was this simple oversight?

##### Swagger declaration file content or url

[code]

##### Suggest a fix/enhancement

All of those clients have code similar to the following (which is for Jersey 2):
[code]
Adding somethin

[2017-07-19 15:47] Gronsak commented on #1889
I've only had a look at the specs for .NET Core 2.0 since I've been quite busy with school and work the last few months so I can't really tell what's going on past what Jim already said.
I can tell you that it works with .NET Core 1.x though since that was the reason why I made the thing in the first place.

And just to add my voice to the mix, I also fully support moving to HttpClient aswell, I a

[2017-07-19 15:53] LTheobald commented on #3483
Looks like I'm still getting this issue in v2.3.0-SNAPSHOT (built from the latest master) although the Java object that is incorrectly created also doesn't exist!

### YAML
[code]

And the start of the Pet class that is created looks like:
[code]

The class mentioned `Petname` hasn't been created either! Same thing happens with v2.2.3.

[2017-07-19 16:01] Gronsak commented on #5527
Since I apparently forgot to do so back in May I just thought I'd say that I don't really have anything to add to my previous suggestion, abstracting stuff really seems like the best option to deal with Microsoft's shenanigans.
It also gives us an easy way of supporting different versions of Visual Studio project/solution files when necessary.

[2017-07-19 16:20] JFCote commented on #6100
Hi @tzimisce012

Thanks for the bug report. Unfortunately, I'm not sure to understand it completely.
Can you please provide an example to illustrate the problem that you have?

Thanks!

[2017-07-19 16:35] JFCote commented on #6099
Hi @tzimisce012 , thanks for the suggestion.

Right now, the logic is as follow:

- `{{classname}}Controller` = The controller itself. Should always be generated and overwritten at each generation.

- `{{classname}}ControllerImp` = The actual implementation which contains your business logic. Should only be generated the first time but not after to prevent replacing your business logic.

- `{{clas

[2017-07-19 16:42] JFCote commented on #6096
@wing328
But the more I think about it, it might make sense to just support the latest version. If it can wait, I will check that more in depth when I come back from vacation :)

[2017-07-19 16:44] JFCote commented on #6094
I will look into this as well.

[2017-07-19 16:46] wing328 commented on #6096
@edrevo enjoy the vacation. Let's resume this discussion when you're back.

[2017-07-19 16:54] jemprince opened #6119 "{"code":1,"type":"error","message":"Unable to build target: Could not generate api file for 'PartsOrder'"}"
##### Description

codgen fails to produce c#

##### Swagger-codegen version

latest

##### Swagger declaration file content or url

see attached file
[codegen.txt](https://github.com/swagger-api/swagger-codegen/files/1159854/codegen.txt)

[2017-07-19 17:14] JFCote commented on #6094
@tzimisce012 : I have found the problem. Will create a PR thing afternoon with the fix

[2017-07-19 17:53] JFCote commented on #6094
After some consideration, it might take until tomorrow. I will provide a complete fix + all of the required test for the CI.

[2017-07-19 17:54] tzimisce012 commented on #6094
Great

[2017-07-19 19:15] dnome2 opened #6120 "is there an option to specify proxy in the request api?"
##### Description

I'm looking for a way to specify proxy server address in the request api thru the api_client.
for example i use below option to call the request api.

requests.get(url,headers=headers,proxies='proxy-wsa.esl.cico.com:80')

is there a similar option in the api_client to add this ?

##### Swagger-codegen version

2.2.2

-l python.

##### Steps to reproduce

happens when you'r host

[2017-07-19 19:28] #5747 closed

[2017-07-19 20:25] tingley opened #6122 "[JAVA] NullPointerException processing operation with string array body parameter"
##### Description

Release 2.2.3 crashes when processing our swagger.json.  The stacktrace is:

[code]

##### Swagger-codegen version

2.2.3. This is a regression.

##### Swagger declaration file content or url

This is a slightly sanitized/abbreviated version of the JSON.  The operation is a method that POSTs an array of string identifiers as body content.  The JSON itself is being generated dyna

[2017-07-19 21:25] tingley commented on #6122
Looks like the problem is [this line](https://github.com/swagger-api/swagger-codegen/commit/d35239c661e95318499061a2ae0a3b336c563fa1#diff-0c1b6d04d7c2c41f87f7c710a5610d88R2562) from commit d35239c. For arrays of native types, `innerCp.complexType` is null, but there's no null check here.

[2017-07-19 21:32] tingley commented on #6122
Oh wait, this is fixed as issue #6079,

[2017-07-19 21:32] #6122 closed

[2017-07-19 22:33] drd opened #6123 "Jersey2 ApiClient not very extensible"
##### Description

In working with the generated Jersey2 client libraries, I have found several cases where I need to change or augment some of the default behavior, but I am hindered by all of the `private` fields and methods. In particular, I needed to add a `Feature` to my `HttpClient` but this would not have been possible without essentially copy & pasting the entire `ApiClient.java` source.

[2017-07-20 00:22] bgeeSA commented on #5352
Looking for a solution to this issue as well.

[2017-07-20 07:44] wing328 commented on #6094
Thanks for the fix (#6121) by @JFCote

@edrevo the fix has been merged into master. Please pull the latest master to give it a try.

[2017-07-20 07:44] tzimisce012 commented on #6094
In the class CodegenConfigurator, in line 390, when the JavaPlayFrameworkCodegen is initialized the wrapCalls value is overwritten and it is changed again from false to true, so the ApiActions annotations are still generated.

[2017-07-20 07:53] wing328 commented on #6099
Other Java server generators use "impl" instead so I would suggest we keep the same convention.

[2017-07-20 07:56] wing328 commented on #6123
@drd please file a PR so that we can review the change. Generally I agree with changes to make the API client more extensible.

[2017-07-20 08:00] tzimisce012 commented on #6099
ok

[2017-07-20 08:06] tzimisce012 commented on #6100
The generated code is the following:

`public class UsersApiController extends Controller {

    private final UsersApiControllerImp imp;
    private final ObjectMapper mapper;

    @Inject
    private UsersApiController(UsersApiControllerImp imp) {
        this.api = api;
        mapper = new ObjectMapper();
    }`

Instead of using the implementation, the interface should be used, and then the i

[2017-07-20 08:15] tzimisce012 commented on #6094
@JFCote already fixed the problem doing

[code]
The issue can be closed,

[2017-07-20 08:16] wing328 commented on #6120
@dnome2 please refer to https://github.com/swagger-api/swagger-codegen/pull/4946 for more information

Let us know if you still need help setting the proxy in the Python API client.

(the latest master has the Python API client refactored so please give it a try)

[2017-07-20 08:17] wing328 commented on #6111
Closed via #6112

[2017-07-20 08:17] #6111 closed

[2017-07-20 08:24] NicoEigenmannCW commented on #4848
Hi I stumbeld across this issue, while working on a project.

I'm currently using this code

[code]

Perhaps you can expand on this.

[2017-07-20 08:30] mobreza commented on #6054
@abstratt @wing328 The codegen primarily targeted `application/json` clients and support for XML was limited until #5962. That mostly addresses the configuration of the HTTP client and introduced some XML annotations.

Gson annotations are generated because the default library is the **okhttp-gson**. Switching to Jersey2 generates the model with `com.fasterxml.jackson` annotations.

[code]

Would

[2017-07-20 08:46] #6113 closed

[2017-07-20 09:13] laguiz commented on #6096
# Note about upgrading libraries
Would also be interesting to update version of swagger-ui (eg. `"org.webjars" % "swagger-ui" % "3.0.19"`). I tried and it works properly. I just needed to change the path that should now be `?url=` instead if `/?url=` in generated `ApiDocController.java` (no slash before).

# About breaking changes
As a Play2 user I think maintaining only the last version of Play m

[2017-07-20 11:42] wing328 commented on #6118
@lopesmcc I think that's because we've not encountered a use case with `HEAD` yet. May I know if you've time to contribute the enhancements?

[2017-07-20 11:44] wing328 commented on #6119
@jemprince have you used https://editor.swagger.io or other tools to validate the spec?

[2017-07-20 11:45] wing328 commented on #6115
@encos thanks for reporting the issue, please file a PR so that we can review the fix.

[2017-07-20 11:46] ccp-zoetrope commented on #6119
I'm having the same problem except with python and it only happens when using https://editor.swagger.io, however it works if you run the code gen locally with version 2.3.0.

[2017-07-20 11:48] wing328 commented on #6107
@julien-h-webcenter thanks for reporting the issue. I've cc'd the expert below to see if they've a clue.

cc @jaz-ah @Edubits @jgavris

[2017-07-20 11:50] wing328 commented on #6119
@ccp-zoetrope from what I know, https://editor.swagger.io is running Swagger Generator 2.2.3 so please use the local JAR (2.3.0) for the time being. (you can also use the SNAPSHOT version of the latest master, which is v2.3.0)

[2017-07-20 11:52] ccp-zoetrope commented on #6119
@wing328 do you know if https://editor.swagger.io will be moving to 2.3.0? If so, any ideas on when?

[2017-07-20 12:04] JFCote commented on #6094
Thank for the testing @tzimisce012 ! @wing328 , you can close the issue :)

[2017-07-20 12:05] JFCote commented on #6099
@tzimisce012 . you mean adding a "l" after "imp" to get "impl"?

[2017-07-20 12:06] JFCote commented on #6100
@tzimisce012 I will look into it this morning. I'm pretty sure I will need to add a module but it should be easy. Let me check for this. Thanks

[2017-07-20 12:09] jemprince commented on #6119
No. The spec we use hasn't changed in months.
This swagger site (and a couple of others) has been working for 6 months and nothing has changed this started to break some time after 14 july.

[2017-07-20 12:22] tzimisce012 commented on #6099
@JFCote no, that is irrelevant. You understood me first time. It sounded a bit weird for me to have ImpInterface and something like Logic might sound a bit better.

But as @wing328 said, this is the notation that all java servers are using so we should keep using them

[2017-07-20 12:23] JFCote commented on #6099
Ok thanks for the feedback!

[2017-07-20 12:37] TehBakker commented on #5275
I think it'd an useful feature.

My use case :

ObjA with field1
ObjB with field1 and field 2
OBjC with field1, field2 and field3

Those Object are used in 3 different API paths, so they are no issue with deserialization.

However in my java code, I would like to have a unique method taking an ObjA parameter and doing stuff with field1, I would like it be accept ObjB and C so the idea is to have
O

[2017-07-20 12:43] JFCote commented on #6096
@laguiz

- Please create an issue asking for the upgrade (swagger-ui). I will create a PR later with the update. This needs some testing because sometimes the jars are broken or change how they work.

- Yes, the more I think about it, the more it makes sense. I don't see a mustache file with like 10 versions with strange condition everywhere over time. @wing328 , do you have any documentation on s

[2017-07-20 12:46] julien-h-webcenter commented on #6107
A litlle mistake i found the value in Swagger response, before decode, and this is it :
[code]

[2017-07-20 13:05] JFCote commented on #6096
@laguiz : About the bean validation, here is the PR: https://github.com/swagger-api/swagger-codegen/pull/6125

[2017-07-20 13:23] abstratt commented on #6054
@mobreza Yup, I am aware the XML support in the base Java generator is new, thank you guys for getting that done.

Now that XML is supported, swagger-codegen Java support handles JSON-only and JSON+XML-based REST APIs. Our case though is a XML-only REST API. I think you are pretty close to support that now, by somehow making JSON support optional.

An withJson flag, as you suggested, would do the

[2017-07-20 13:25] edrevo opened #6126 "[Java-PlayFramework] Error 500 on bad user input"
##### Description

The generated controllers do not perform parameter validation. Specifically:

- if a required parameter is not passed, the controller does not return a 401, it just reads `null` and continues with the execution (which will probably generate an exception somewhere down the line)
- if a parameter doesn't conform to the expected type, an error 500 is returned, since the conversion

[2017-07-20 13:40] TehBakker opened #6127 "[JAVA] Inheritence without discriminator, is it possible ?"
##### Description

I've tried doing inheritance without discriminator and I think something changed in the latest version as I find "example" online which work the way I wanted it, but it's not what I'm generating with the 2.2.3 SNAPSHOT.

From reading #2096 it feels like it is now impossible to generate inheritence without a discriminator.

[code]

[code]

If I had a discriminator I do get inheri

[2017-07-20 14:20] Lap1n commented on #5898
I have the same problem when generating jersey 2 API code.

[2017-07-20 14:50] JFCote commented on #6096
@laguiz : Please discard my comment about creating an issue for the swagger-ui. It will be updated in this PR: #6097

[2017-07-20 14:56] JFCote commented on #6126
Hi @edrevo, thanks for the report.
I realized this morning that I forgot to submit a very important PR like 1 month ago that, I think, fix most of the issue listed here. You can follow it here: #6125

Can you please try with the code in this PR when it will be merged in the master and report back if it fixes most of your problems? We will work from there to improve.

Thanks

[2017-07-20 15:56] wing328 commented on #6119
@ccp-zoetrope We hope to release 2.3.0 by the end of Aug.

[2017-07-20 15:57] wing328 commented on #6119
@jemprince please roll back to the stable release v2.2.2 for the time being: https://github.com/swagger-api/swagger-codegen/releases

Swagger Codegen v2.2.3 is using a newer version of Swagger Parser, which might explain the issue you're seeing.

[2017-07-20 15:59] wing328 commented on #4848
@NicoEigenmannCW do you mind submitting a PR with the suggested fix (so that the credit goes back to you)?

[2017-07-20 16:01] #6094 closed

[2017-07-20 16:10] encos commented on #6115
I apologize, I tested on the wrong environment. The problem seems to have been solved on the json rather then on the mustache template. In the master branch it works properly.

[2017-07-20 16:10] #6115 closed

[2017-07-20 16:18] wing328 commented on #5898
I can only find oAuth-related annotation in the templates: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/api.mustache#L65-L71
which means API key and HTTP basic auth are not supported at the moment.

Please let me know if you guys can help contribute the support for API key and/or HTTP basic authentication in JAX-RS templates.

[2017-07-20 16:34] wing328 commented on #6115
@encos np. Thanks for confirming the master branch works for you.

[2017-07-21 07:09] laguiz commented on #6096
@JFCote Looks very promising!

[2017-07-21 12:07] ok11 opened #6132 "[Spring] Special characters in query parameter names"
##### Description

If modeling query parameters, containing $ as a part of the name (an example is $top to express pagination semantics), the server stub, generated by the Spring generator, contains the query parameter names (`@RequestParam`) without that character (`@RequestParam(value= "top")`). For characters, complaint to RFC 3986 (URI syntax), the value must be retained in the query parameter

[2017-07-21 12:37] felixbarny commented on #6127
I'd really appreciate that feature as well

[2017-07-21 13:11] CappCorp opened #6133 "[Kotlin] "sourceFolder" additional property not taken into account in codegen"
##### Description

sourceFolder is properly ignored for kotlink code generation

##### Swagger-codegen version

2.2.3

##### Command line used for generation

`java -jar ./modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -t modules/swagger-codegen/src/main/resources/kotlin-client -i modules/swagger-codegen/src/test/resources/2_0/petstore.yaml -l kotlin --artifact-id kotlin-petst

[2017-07-21 13:41] CappCorp opened #6135 "[kotlin] warning displayed when setting api-package and model-package as not supported, but yet, the parameters are supported"
##### Description

when specifiying the api package or the model package with kotlin, a warning is displayed

`[main] WARN io.swagger.codegen.languages.KotlinClientCodegen - modelPackage with kotlin generator is ignored. Setting this value independently of packageName is not currently supported.
[main] WARN io.swagger.codegen.languages.KotlinClientCodegen - apiPackage with kotlin generator is igno

[2017-07-21 13:41] SirBif opened #6136 "[objc] Allow the user to customize the date format"
##### Description

Allow the user to customize the date format. This, for example, would allow specifying a timezone (e.g. UTC) or to add milliseconds.

##### Related issues/PRs

This issue has come up already in other languages:
- https://github.com/swagger-api/swagger-codegen/issues/3439
- https://github.com/swagger-api/swagger-codegen/issues/5318

##### Suggest a fix/enhancement

Adding a confi

[2017-07-21 14:53] marcotta opened #6139 "[objc] [Bug] Bool query params sent as either 1 or 0"
Description

Boolean properties when sent as query string parameters are being sent as either 0 or 1.

[code]

To match Swagger-UI behaviour it should send true or false instead
[code]

Swagger-codegen version

2.2.2

Swagger declaration file content or url

[code]
Command line used for generation

`swagger-codegen generate -i api-spec.json -l objc -c config.json -o APIClient`

[2017-07-21 14:57] drakmirv opened #6140 "[C#] [Others?] Stack overflow references use share alike code"
##### Description

Since the intention of this library is to generate API code that is used by other projects, the use of stack overflow code in the generators results in the creative commons share alike license being applied to all code generated.  This means that we cannot use it in a commercial application that can't agree to the share alike clause from stack overflow.

Note that stack overflow

[2017-07-21 15:19] tavoda opened #6141 "[BASH] Bug generating access_token when 'in: query'"
##### Description
When security definition looks like (_in: query_)
[code]
Generated script doesn't include access_token into query parameters.

##### Swagger-codegen version
version: 2.2.2

##### Command line used for generation
`java -jar swagger-codegen-cli.jar generate -l bash -o bash/ -c config-bash.json -i matrix-new-swagger.json
`
#### config-bash.json
[code]

##### Suggest a fix/enhancemen

[2017-07-21 18:51] shoerner opened #6144 "[TypeScript-Fetch] Deep Object Inheritance Ignored"
##### Description

When we run a swagger spec through swagger-codegen with TypeScript Fetch as the target language, the application fails to give inheritance information for objects that have more than one level of inheritance.

IE: if ObjectC were to inherit from ObjectB and ObjectB inherit from ObjectA, when the generator finishes parsing the file, ObjectC will remain alone while ObjectB will sh

[2017-07-21 19:12] webron opened #6145 "Generate Client -> Html2 not producing expected output"
_From @smirnair on July 21, 2017 16:38_

Hello,

It was noticed today that the HTML2 client output is not showing up the schema contents. It was working the last time I checked on 7-12-17. I have attached the screen capture from the petstore example.
![swagger bug](https://user-images.githubusercontent.com/24231245/28472759-d1ada7cc-6e0f-11e7-9d14-9640b1f32bb9.png)

FYI, I am using the http://edit

[2017-07-21 19:30] #6144 closed

[2017-07-21 23:01] scheler commented on #3221
@marcorinck @grEvenX - I dont see the generated code use configuration.apiKeys anywhere; How does the HTTP request send the apiKeys in the headers?

[2017-07-21 23:47] marcorinck commented on #3221
@scheler this only works in the 2.3.0-SNAPSHOT branch and - I guess - a correct authorization config in the yaml

[code]

And the request definitions need this:

[code]

Then the services will have this auto-generated code::

[code]

[2017-07-21 23:58] scheler commented on #3221
@marcorinck - thank you, I will try this out.

[2017-07-22 07:34] o8w opened #6146 "Apex Petstore sample client errors"
##### Description

2 generated client classes (SwagPetApiTest, SwagStoreApiTest) are not compilable due to syntax errors.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i http://petstore.swagger.io/v2/swagger.json -l apex

##### Step

[2017-07-22 07:41] wing328 commented on #6146
@o8w thanks for reporting the issue. Can you please file a PR with the suggested fix so that we can review the fix more easily?

[2017-07-22 07:46] wing328 commented on #6141
@tavoda thanks for reporting the issue. You're right about "isKeyInQuery" (and here are some [usage example](https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=isKeyInQuery&type=))

May I know if you've time to contribute the fix?

cc @bkryza

[2017-07-22 07:46] o8w commented on #6146
@wing328 my change was to the generated client code, not the codegen, so more a workaround than a fix.

[2017-07-22 07:55] wing328 commented on #6146
So changing https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/apex/api_test.mustache#L41 will fix it?

[2017-07-22 08:13] o8w commented on #6146
At this point I don't consider myself qualified to recommend a fix. The changes I made got me past a couple of errors, but it's likely they could be bettered by someone more familiar with the codegen.

[2017-07-22 08:15] wing328 commented on #6146
@o8w no problem and thanks again for reporting the issue. I've cc'd Apex contributors below to have a look at the suggested fix.

cc @muenzpraeger @khalidx @asnelling

[2017-07-22 09:08] wing328 commented on #6057
UPDATE: Add 2 more enhancements about required parameters and validation rules

[2017-07-22 09:12] wing328 commented on #6139
Closed via #6142

[2017-07-22 09:12] #6139 closed

[2017-07-22 09:13] wing328 commented on #5958
Closed via #6108

[2017-07-22 09:13] #5958 closed

[2017-07-22 09:16] wing328 commented on #6136
@SirBif Thanks for the suggestion.

For other API clients (e.g. C#), we store the datetime format in the configuration, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Client/Configuration.cs#L39

What about doing something similar in ObjC by storing the datetime format in the DefaultConfiguration class?

[2017-07-22 09:19] wing328 commented on #6029
Closed via #6033

[2017-07-22 17:24] tavoda commented on #6141
I'm not mustache guru but it looks easy on first sight. I found some more
bugs in bash generator. Instead of
count+=1
You have to do
((count+=1))
Because first form is string concat instead of numeric increment.

I will try to fix it and let you know next week.

Regards

/Pavel

On Jul 22, 2017 09:46, "wing328" <notifications@github.com> wrote:

@tavoda <https://github.com/tavoda> thanks for repor

[2017-07-22 17:32] wing328 commented on #6141
@tavoda thanks! Let us know if you need any help.

[2017-07-22 18:12] #6003 closed

[2017-07-22 18:17] dnome2 commented on #6120
@wing328 on setting proxy value as
Configuration().proxy = 'https://<ip>:<port>'
i see below error:

   raise ProxySchemeUnknown(proxy.scheme)
ProxySchemeUnknown: Not supported proxy scheme None

but if we try to change below code in rest.py as
# https pool manager
        if proxy:
            self.pool_manager = urllib3.poolmanager.ProxyManager(
                proxy,

            )
instead of

[2017-07-22 20:22] kamyar1979 opened #6147 "Please add Ktor (Kotlin server) code generation"
##### Description

Please add Ktor http framework support for kotlin.

##### Swagger-codegen version

Swagger codegen 2.2.2

##### Suggest a fix/enhancement

Ktor is the most sophisticated Kotlin web framework. Please add support for it.

[2017-07-22 21:04] mricken opened #6148 "swagger-codegen 2.3.0 fails to generate models with inheritance"
##### Description

swagger-codegen 2.3.0 does not correctly generate Java classes (and internally does not fill out the "parent" field) for models that extend other models.

This works in 2.2.x.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

YAML:
https://gist.github.com/mricken/c7604e0a542d7e6a945bec6b1c8b1478

##### Command line used for generation

Used fr

[2017-07-23 07:26] wing328 commented on #6015
UPDATE: Travis only supports XCode 9.0 at the moment:
[code]

[2017-07-23 07:30] wing328 commented on #6147
@kamyar1979 thanks for the suggestion. Do you have time to help contribute the new generator?

I think a good starting point is to clone one of the Java server stub generators.

Ref: [Ktor](https://github.com/Kotlin/ktor)

cc @jimschubert

[2017-07-23 07:38] kamyar1979 commented on #6147
I will be happy and proud of contributing to your valuable project. How can I start?

[2017-07-23 07:43] wing328 commented on #6147
@kamyar1979 thank you. The [overview](https://github.com/swagger-api/swagger-codegen#overview) section lists all the supported server stub generator. Which one are you most familiar with?

[2017-07-23 08:17] wing328 opened #6149 "[TypeScript][Aurelia] Enhancements and bug fixes"
##### Description

Here is list of enhancements and bug fixes for `typescript-aurelia`:

- [ ] Resolve errors when running `npm install` (details see below)
- [x] Create shell scripts, batch files to generate TS Aurelia Petstore samples
- [ ] Setup CI (travis, shippable, etc) to cover the TS Aurelia Petstore samples.
- [ ] Add support for validation rules defined in the spec (e.g. [validation for

[2017-07-23 08:18] wing328 commented on #6149
Here is the `npm install` error:
[code]

[2017-07-23 08:26] wing328 commented on #6147
Another way is to start the generator from scratch similar to what we've done for PowerShell and Rust. To begin with, please create Ktor with 3 endpoints listed below:

- [GET](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L156-L183)
- [POST (form)](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-c

[2017-07-23 08:47] kamyar1979 commented on #6147
Ok I will start tonight! It is my work hours now! Thanks for help!

[2017-07-23 08:49] wing328 commented on #6147
No problem. Let us know if you need any help.

[2017-07-23 12:48] mobreza commented on #5918
@tuxbotix I also filed https://github.com/swagger-api/swagger-core/issues/2316
and the PR https://github.com/swagger-api/swagger-core/pull/2313

[2017-07-23 13:24] muenzpraeger commented on #6146
@o8w I'm aware of that issue and it's fixed in a local branch currently.

I may push an update in the next week or two for that. There are also a couple of other things in more complex Swagger files not working "correctly" that I've fixed, but not pushed yet.

Apex in general lacks some of the features that the Java client generator, on which the creator of this client generator has based the Apex

[2017-07-23 14:13] jimschubert commented on #6147
When I created the Kotlin client generator, I added a new.sh script to help get the right files in place for a new generator.

[code]

This command should generate the files for a server generator, including empty test files.

[2017-07-23 15:09] mobreza commented on #6054
@abstratt If you build the model separately from your main project, then the classes of Java annotations (gson/fasterxml) should not be required to build the main project with model as dependency. Would that work for you?

[2017-07-23 15:14] mobreza commented on #6084
@wing328 I'll give it a go.

[2017-07-23 15:22] wing328 commented on #6081
Fixed via #6082

[2017-07-23 15:22] #6081 closed

[2017-07-23 15:22] wing328 commented on #6084
@mobreza thank you 👍

[2017-07-23 17:03] kamyar1979 commented on #6147
@jimschubert Your shell script failed with 'sed' error!

[2017-07-23 17:22] kamyar1979 commented on #6147
Can I write my extension in Kotlin instead of java?

[2017-07-23 17:29] wing328 commented on #6147
@kamyar1979 not at the moment as the project is based on Java.

If you don't want to code in Java, what about creating Ktor Petstore as suggested in https://github.com/swagger-api/swagger-codegen/issues/6147#issuecomment-317237440 and then we'll do the reverse engineering to create the generator and templates?

[2017-07-23 17:34] jimschubert commented on #6147
@kamyar1979 I may need to set up some checks in the script prior to execution. gsed would require a check for Darwin vs Linux in the script, while missing sed on a Mac could just fail with a requirement to install gnu core utils.

You could move shared Kotlin  code to an abstract base class in the same way as the C# and ASP.NET Core generators. I don't know that directly extending the client gener

[2017-07-23 22:38] scheler commented on #3221
@marcorinck - that worked fine, thanks.  Is there a way to configure swagger-codegen to respond to 401 response with a redirect to a login URL?  Or I have to add an HTTP interceptor myself?

[2017-07-24 05:30] kamyar1979 commented on #6147
I am doing the job of adding Ktor. Lets add Kotlin polymorphism support by creating AbstractKotlinCodegen

[2017-07-24 05:30] kamyar1979 commented on #6147
BTW, I am also a Haskeller! Lets add AbstractHaskellCodegen and then add ScottyServerCodegen

[2017-07-24 05:43] wing328 commented on #6147
I'll create a separate task to track the Scotty generator

[2017-07-24 05:45] kamyar1979 commented on #6147
Sure! It is certainly better! And I just started by Kotlin! After completing it and mergin, I will start Scotty! Thanks!

[2017-07-24 06:06] wing328 opened #6153 "[Haskell] Add Scotty server generator"
##### Description

As discussed in https://github.com/swagger-api/swagger-codegen/issues/6147, we want to add a [Scotty](https://github.com/scotty-web/scotty) server generator.

Ideally we want to create an abstract base class "AbstractHaskellCodegen.java" based on [HaskellServantCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagg

[2017-07-24 06:29] wing328 commented on #6132
@ok11 we did make an effort to fix the mapping between the parameter name and variable name in programming langauges. Can you give it another try by using v2.2.3 (which was just released last week)?

[2017-07-24 06:35] wing328 commented on #6140
@drakmirv thanks for pointing this out. Seems like only C# generator has this issue.

May I know if you've time to contribute the enhancement by rewriting those code copied from SO to avoid any potential licensing issue?

[2017-07-24 06:38] wing328 commented on #6133
Closed via #6134

[2017-07-24 06:47] #6029 closed

[2017-07-24 06:49] wing328 commented on #6011
Closed via https://github.com/swagger-api/swagger-codegen/pull/6021

I also applied the same fix to Swift 2.x, 4.x generators via https://github.com/swagger-api/swagger-codegen/commit/4a8d9c35090a1f55dfc6c162319801a308fe463d

[2017-07-24 06:49] #6011 closed

[2017-07-24 06:51] wing328 commented on #5857
@ModernRonin closing this as there's no further update. Let us know if you still need help from us.

[2017-07-24 06:51] #5857 closed

[2017-07-24 06:53] #5626 closed

[2017-07-24 06:53] wing328 commented on #5601
Please try the latest stable release 2.2.3 and let us know if it's still an issue.

[2017-07-24 06:53] #5601 closed

[2017-07-24 06:56] wing328 commented on #5575
Closing this as there's no update.

[2017-07-24 06:56] #5575 closed

[2017-07-24 07:01] wing328 commented on #5086
@iamkarlson let us know if you need any help with the PR.

(we just released v2.2.3 so please pull the latest master before working on the enhancement)

[2017-07-24 07:02] wing328 commented on #5089
Closed via #5181

[2017-07-24 07:02] #5089 closed

[2017-07-24 07:02] #4988 closed

[2017-07-24 07:08] iamkarlson commented on #5086
Hi @wing328 . I don't need any help but need some time. busy at work and difficult to find an empty slot

[2017-07-24 07:15] wing328 commented on #5086
@iamkarlson no problem :)

[2017-07-24 07:20] wing328 commented on #4877
@adhamhf not sure if I understand it correctly, do you mean JSON-API  requires @Id in all the payload/object?

[2017-07-24 07:23] wing328 commented on #4483
@simo9000 the C# client generator in the latest master has been refactored. Please give it a try.

(we just released stable version v2.2.3 last week)

[2017-07-24 07:26] wing328 commented on #3194
It should be fixed in the latest stable version v2.2.3. Please give it a try.

[2017-07-24 07:26] #3194 closed

[2017-07-24 07:29] wing328 commented on #4307
Closed via #5395

[2017-07-24 07:29] #4307 closed

[2017-07-24 07:32] wing328 commented on #5996
cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu

[2017-07-24 07:34] wing328 commented on #5798
@baibinghere thanks for testing the latest master to confirm the issue. Please share a spec to reproduce the issue more easily so that the community can help on this.

[2017-07-24 07:36] wing328 commented on #5637
@ebautistabar Can you try the latest master (2.3.0) to see if it's still an issue? I did some tests before and it works for me.

(we just released v2.2.3 last week)

[2017-07-24 07:38] wing328 commented on #5987
Closed via #5991

Future enhancements to TypeScript Aurelia tracked via https://github.com/swagger-api/swagger-codegen/issues/6149

[2017-07-24 07:38] #5987 closed

[2017-07-24 07:39] #5539 closed

[2017-07-24 07:39] #5562 closed

[2017-07-24 07:40] #5529 closed

[2017-07-24 07:41] wing328 commented on #5735
Fixed via #5736

[2017-07-24 07:41] #5735 closed

[2017-07-24 07:41] wing328 commented on #5895
Closed via #5897 (merged into master)

[2017-07-24 07:41] #5895 closed

[2017-07-24 07:49] #5494 closed

[2017-07-24 07:51] #5469 closed

[2017-07-24 07:53] wing328 commented on #5375
Closed via #5403, #5512

[2017-07-24 07:53] #5375 closed

[2017-07-24 07:53] #5374 closed

[2017-07-24 07:55] marcorinck commented on #3221
@scheler I don't know of any such possibility and I wouldn't expect that as it is project-specific what to do in this case. You have to write the interceptor yourself (I did the same)

[2017-07-24 07:55] #5425 closed

[2017-07-24 09:28] jdidac opened #6154 "Jersey2 REST Client with supportJava6 not working"
When you try to create a REST Client using jersey2 library with supportJava6, it's not working because generated client has maven dependencies with Jersey 2.25 then Java7 is needed then it's not compatible with Java6. How can I create a jersey2 client with maven dependencies with Jersey 2.4 or 2.6 to use Java6?

[2017-07-24 09:56] wing328 commented on #6154
@jdidac thanks for reporting the issue. To fix, we'll need to update https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/pom.mustache#L286-L290 using `{{^ supportJava6}} ... {/supportJava6}}` for Jersey 2.25.1

May I know if you've time to contribute the fix?

[2017-07-24 10:25] wing328 commented on #5982
Closed via https://github.com/swagger-api/swagger-codegen/pull/5999

[2017-07-24 10:25] #5982 closed

[2017-07-24 10:28] wing328 commented on #5397
@bharathreddy-97 again I don't think the spec is valid (even though may other generators can generate something out of it)

[2017-07-24 10:28] #5397 closed

[2017-07-24 10:32] #4853 closed

[2017-07-24 10:33] #4822 closed

[2017-07-24 10:37] #5613 closed

[2017-07-24 10:37] #5546 closed

[2017-07-24 10:38] #5532 closed

[2017-07-24 10:39] #5150 closed

[2017-07-24 10:49] wing328 commented on #5261
@elizabetht you can see some test cases for JSON MIME detection in https://github.com/davidharrigan/swagger-codegen/blob/c31d597747b99c08774105d5eab0ca9eacc0c593/samples/client/petstore/java/okhttp-gson/src/test/java/io/swagger/client/ApiClientTest.java#L80-L102

Basically we want to add these test cases to other Petstore clients (e.g. PHP, Ruby, Python) to ensure Petstore clients in other langaug

[2017-07-24 10:52] wing328 commented on #5739
Let us know if you still need help.

We've also setup a workflow to publish a SNAPSHOT version to sonatype.

[2017-07-24 10:52] #5739 closed

[2017-07-24 10:55] wing328 commented on #5676
@sbeh Please file the issue with Swagger Parser instead as suggested by Jim.

[2017-07-24 11:53] wing328 commented on #5524
Closing this as there's no update further update.

[2017-07-24 11:53] #5524 closed

[2017-07-24 11:56] wing328 commented on #5124
@prawana-perera we've added the ObjectSerializer: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L384

Please pull the latest or use v2.2.3 to give it a try.

If it's still an issue, we'll reopen this.

[2017-07-24 11:56] #5124 closed

[2017-07-24 12:11] sbeh commented on #5676
@wing328 [done](https://github.com/swagger-api/swagger-parser/issues/491)

[2017-07-24 13:29] SirBif commented on #6136
Yeah, I was thinking the same. Actually I'd go as far as directly exposing the date formatter itself in the configuration, so users can just set the format and the timezone to use in it.

[2017-07-24 13:54] wing328 commented on #5676
@sbeh also when I used https://editor2.swagger.io to load the spec (https://docs.newsletter2go.com/doc/swagger.json), I got many errors.

[2017-07-24 14:00] #5178 closed

[2017-07-24 15:40] lopesmcc commented on #6118
@wing328 👍 Will try to find some time for this.

[2017-07-24 15:43] ok11 commented on #6132
Thanks for the quick response!
Is 2.2.3 available as a maven plugin in the maven central? Can't see that there..

[2017-07-24 15:48] ok11 commented on #6132
@wing328 thanks for the quick reply. I tried 2.2.3, still no luck... The same sample generates the same results as 2.2.2

[2017-07-24 15:54] elizabetht commented on #5261
@wing328 I will be willing to work on JVM (Java/Groovy) and Spring framework related modules.

[2017-07-24 16:19] wing328 commented on #6132
We want to release 2.3.0 by the end of Aug

To fix the issue, the @RequestParam should look like the following, right?
[code]

[2017-07-24 16:45] SerLongfellow commented on #6145
I am experiencing this as well. I have a correctly generated file from 7/14, but somehow between then and now the codegen process broke. I have just been using a static version of the swagger-editor and haven't touched it, but there may be external dependencies that could have been updated of which I'm not aware.

Doing a diff between the file from 7/14 and one generated today shows a huge amount

[2017-07-24 16:49] ok11 commented on #6132
Right. A workaround I implement now is:
- generate only API interface with interfaceOnly=true
- in the inherited implementation (with @RestController) use the right values for the @RequestParam

Works so far, but sometimes it is required to generate the implementation, in that case you are forced to edit generated code, which us not good

[2017-07-24 17:56] wing328 commented on #6148
@mricken I did a test with the latest master and both Dog.java and Cat.java extend "Pet".

[2017-07-24 18:29] abstratt commented on #6054
@mobreza This issue is not a blocker, I do have a workaround (include the unnecessary dependency), and you are right, I can exclude if from downstream consumers if I am careful.

Still seems worth fixing, and hopefully a simple fix?  I understand that XML support is new, but hopefully it is here to stay, and worth evolving, instead of relegated to 2nd-class. My guess is that most APIs that support

[2017-07-24 18:30] adhamhf commented on #4877
@wing328 yes, it requires id ( not @id that's just the java annotation ) when you are reading, updating or deleting objects.  It is not required for creating new objects.

[2017-07-24 19:19] YashchenkoN commented on #5806
@wing328 @smerschjohann is this issue about Retrofit2?

[2017-07-24 20:16] Keyrat06 commented on #2068
Has this feature been added? This would be very useful!

[2017-07-24 20:19] drd commented on #6123
@wing328 thanks, here is the PR: https://github.com/swagger-api/swagger-codegen/pull/6159

[2017-07-25 00:23] krmaxwell commented on #6120
I will take a look this weekend if nobody else gets to it (traveling this week and not on my dev box).

[2017-07-25 03:28] duanshiqiang opened #6163 "[Typescript][Node] Use typescript 2 typings system?"
##### Description

Currently the `typescript-node` still uses typings system of typescript1 and generates library that depends on project `typings`. `typescript-angular2` has been updated to use typescript2 typing system [refer to: #5965](https://github.com/swagger-api/swagger-codegen/pulls) and it makes sense to update `typescript-node` also.

##### Swagger-codegen version
 2.2.3

[2017-07-25 03:31] mricken commented on #6148
Verified that with the latest master it DOES work.

The code deployed at https://editor.swagger.io/ is still broken.

[2017-07-25 04:51] wing328 commented on #4877
@adhamhf another way I can think of is using vendor extensions with customized templates.

1. Add vendor extension to the property in the spec (e.g. "x-jsonapi-id")
2. Customize the template as follows
[code]
3. Use the customized templates with the "-t" command

[2017-07-25 04:54] wing328 commented on #6148
https://editor.swagger.io should be using the latest stable version v2.2.3 of "Swagger Generator" (part of the Swagger Codegen project) in which I just did a test and the result is still good.

cc @fehguy to see if there's any chance Swagger Generator is running a different version but not the latest stable v2.2.3

[2017-07-25 05:40] wing328 commented on #6163
@duanshiqiang thanks for the suggestion. May I know if you've time to contribute a PR with the suggested enhancement?

[2017-07-25 05:47] YashchenkoN commented on #5422
#6160

[2017-07-25 05:47] YashchenkoN commented on #5422
added #6160 PR

[2017-07-25 05:56] YashchenkoN commented on #4882
@wing328 I would like to contribute to this enhancement. Please, show me good starting points

[2017-07-25 06:57] wing328 commented on #6123
@drd the PR has been merged into master. Thanks for your contribution.

[2017-07-25 06:57] #6123 closed

[2017-07-25 07:04] wing328 commented on #5086
Closed via #6155. Thanks for your contribution.

[2017-07-25 07:04] #5086 closed

[2017-07-25 07:54] wing328 commented on #6132
The latest master (2.3.0-SNAPSHOT) seems to have the issue fixed:
[code]
as it's using {{baseName}} (the original name of the parameter)

Can you give it a try to confirm it also fixes the issue for you?

[2017-07-25 08:29] duanshiqiang commented on #6163
@wing328 sure, but I'm a starter of typescript. I'll try do do it asap I got time after work.

[2017-07-25 08:59] wing328 commented on #6163
@duanshiqiang thanks 👍  A good starting point is to look at the change for removing typings from typescript-angular2 package.mustache: https://github.com/swagger-api/swagger-codegen/pull/5966/files#diff-205a59017a660768be5412f97ea62565

Then you can apply similar change to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/package.

[2017-07-25 09:24] cameronwh opened #6164 "[C#] prepends the controller name to all API method names"
Hi all,

We are using swagger-codegen to create C# classes that we use when writing functional tests. In an effort to make our code as clean as possible, we are looking to change some things within a swagger-codegen template. We have our own fork of the repo, so if you know of a quick fix please say!

Say, for instance, we have a PeopleController with the method GetPerson. When we generate the C#

[2017-07-25 09:31] lopesmcc commented on #2881
Vert.x client generation would also be very useful. The solution is awesome (thanks @phiz71 🥇 ) but focuses on generating Server stubs.

@wing328 I'm working on a client generator, and should have something ready very soon.
Should we create a new issue for it or re-open this one?

[2017-07-25 09:45] #6087 closed

[2017-07-25 09:50] wing328 commented on #4950
Closing this as there's no update.

[2017-07-25 09:50] #4950 closed

[2017-07-25 09:51] wing328 commented on #4895
@ranma42 @mouchtaris may I know if you need help with the PR?

[2017-07-25 09:52] #5080 closed

[2017-07-25 09:53] wing328 commented on #4790
Closing this as there's no reply.

[2017-07-25 09:53] #4790 closed

[2017-07-25 09:58] #3285 closed

[2017-07-25 09:58] #6005 closed

[2017-07-25 10:16] wing328 commented on #2881
@lopesmcc please open a new ticket (issue) for tracking instead. If you need help with the PR, please let us know.

[2017-07-25 10:20] lopesmcc opened #6165 "[Java-Vertx] Client Generator Missing"
VertX client generation is missing.
I am working on it and should have something available soon.

[2017-07-25 13:30] mobreza commented on #6054
@abstratt It would be fairly simple to add (within Java) to any library specific generator  (e.g. jersey2) the `withJson` flag.

Please see #5918 (esp https://github.com/swagger-api/swagger-codegen/issues/5918#issuecomment-317250708).

[2017-07-25 14:18] wing328 commented on #4882
@YashchenkoN thanks for offering help on this.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1521-L1522 are the lines when setter and getter are set.

In https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1662, we will nee

[2017-07-25 14:18] kapricanon opened #6167 "@Pattern @NotNull validation not added to swagger specification from code"
##### Description

I have generated a Java Spring project using CodeGen from a pre-defined Swagger Specification. In the code I can see the @Pattern, @NotNull added to the correct fields. However if I manually add @Pattern to new fields and try to look at the swagger by going to .../api-docs URL, I don't see these being added to the field in swagger definitions.

##### Swagger-codegen version

Spr

[2017-07-25 14:20] DavidBiesack commented on #358
We see the same problem when using allOf to compose model schema. See https://github.com/swagger-api/swagger-ui/files/1160284/duplicate-models.yaml.txt (and related [Swagger UI bug](https://github.com/swagger-api/swagger-ui/issues/3417) ). In the `-l html` output,
There is a base schema named createModel then two derived schema updateModel and model which define an inheritance hierarchy createMode

[2017-07-25 14:52] YashchenkoN commented on #4882
@wing328 added #6169
Please, review it

[2017-07-25 15:30] Alex-D opened #6170 "[PHP] Missing template on file param name in php api mustache"
##### Description

If you have a file field which is not named "file", generated code is wrong since only a part of the method is templated.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

modules/swagger-codegen/src/main/resources/php/api.mustache:361

##### Command line used for generation

PHP

##### Steps to reproduce

##### Suggest a fix/enhancement

PR #

[2017-07-25 15:44] wing328 commented on #4882
@YashchenkoN thanks for the fix, which looks good to me and has been merged into master.

[2017-07-25 15:44] #4882 closed

[2017-07-25 15:50] Chandan1241 opened #6172 "ExampleGenerator should use field names as default value for strings and should allow multiple items in array"
##### Description

The ExampleGenerator today generates "aeiou" as the default value for string properties. Need to modify ExampleGenerator to use field name instead as it can distinguish between the different string properties.

Also, the examples for array are generated with a default size of 1. Specifying more than one element in the array would  be better. So, arrays could use the maxItems pro

[2017-07-26 06:48] wing328 commented on #4777
@james-async we added a Java Play server generator in v2.2.3. Please give it a try and let us know if you've any feedback.

[2017-07-26 06:48] #4777 closed

[2017-07-26 06:50] wing328 commented on #4327
Please continue the discussion in https://github.com/swagger-api/swagger-codegen/issues/4509

[2017-07-26 06:50] #4327 closed

[2017-07-26 07:14] wing328 commented on #6170
Closed via #6171

Thanks for the PR from @Alex-D

[2017-07-26 07:14] #6170 closed

[2017-07-26 07:36] wing328 commented on #5507
For file upload, have you tried form parameter (type: file) instead?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L270-L274

[2017-07-26 07:52] wing328 commented on #5500
@jahertor thanks for sharing more with an example. I think the issue is that Swift3 only supports JSON payload (body parameter) at the moment.

Would you have you time to contribute the enhancements? I can show you some good starting points.

[2017-07-26 07:55] wing328 commented on #5149
@mt-sito please pull the latest master or using stable release v2.2.3 to give it another try.

[2017-07-26 07:56] #4759 closed

[2017-07-26 07:57] wing328 commented on #5634
Please give it another try as we've released v2.2.3 (and Swagger generator has been upgraded to use that)

[2017-07-26 07:57] #5634 closed

[2017-07-26 07:58] #4706 closed

[2017-07-26 07:58] #4856 closed

[2017-07-26 07:59] wing328 commented on #4971
cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu

[2017-07-26 08:07] wing328 commented on #4393
@bmsantos please give it a try with the latest master or stable version v2.2.3 and let us know if it's still an issue.

[2017-07-26 08:08] #5460 closed

[2017-07-26 08:09] wing328 commented on #5460
@reece the fix by @JFCote  has been merged into master. Please pull the latest to give it another try.

[2017-07-26 08:18] #5513 closed

[2017-07-26 08:27] edrevo opened #6179 "2.3.0 SNAPSHOTs not being published"
The last published snapshot is10 days old. Is there anything I could help with to get the snapshots published again? Thanks!

[2017-07-26 09:21] tzimisce012 opened #6180 "[Java-PlayFramework] Some non imported classes and non used imports"
##### Description

In the ControllerImplementations of the Api interfaces ObjectMapper neither @Inject are not being imported.

Also, many other packages or classes are being imported when they are not being used.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

Fix in newApiController.mustache in the resource folder for language JavaPlayframework.

[2017-07-26 09:29] tzimisce012 opened #6181 "[Java-PlayFramework] Using the method request() in the wrong class"
##### Description

In the ApiControllerImplementation of the api interfaces is being used the method request() even though the class is not an extension of the class Controller.

##### Swagger-codegen version

2.3.0

##### Steps to reproduce

You can find the bug in the file newApi.mustache

##### Related issues/PRs

Other issues related with this mustache file can be found here:
https://github.co

[2017-07-26 09:44] sumo300 commented on #5513
@jimschubert Thanks!  And somehow, I missed your comments from 5/30.  Apologies.  We're going to add this to our builds right away and see how things fall out.  I'm expecting with how mature testing and review of changes are for this project, that it will work as expected.

[2017-07-26 09:52] wing328 commented on #5513
@sumo300 the fix is included in the latest stable release v2.2.3. Please give it a try and let us know if you need further help.

[2017-07-26 09:54] wing328 commented on #4882
FYI. I've filed https://github.com/swagger-api/swagger-codegen/pull/6177 with new functions to allow generators customizing the naming convention of `boolean` getter.

[2017-07-26 10:25] tzimisce012 opened #6182 "[Java-Playframework] Blocking APIs"
##### Description

If the api is making a blocking operation, the controller should return a CompletationStage<Result>

##### Swagger-codegen version

2.3.0

##### Steps to reproduce

In the newApiController.mustache all ApiActions methods should return CompletationStage

##### Suggest a fix/enhancement

I would make all methods return CompletationStage<Result>. If the operation is synchronous we

[2017-07-26 10:47] encos opened #6183 "[Android] Add requestPackage and authPackage variables to the configuration"
I cannot pass custom values for variables `requestPackage `and `authPackage `in android generator. I'm trying against version 2.2.3

In the [AndroidClientCodegen](https://github.com/swagger-api/swagger-codegen/blob/63facc0b0b6d8c7436af94ab332b33e444825979/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AndroidClientCodegen.java)

[code]

the 2 variables I mentioned are never ove

[2017-07-26 10:53] bobvanderlinden commented on #4373
I ran into the issue that I want to retrieve the `status` of the response. More specifically I'd like to know when 401 was retrieved. I cannot determine this from the body. This issue seemed to match my problem.

Wouldn't it be more correct to generate `InlineBody200` in addition to `InlineResponse200`. `InlineBody200` represents the schema and `InlineResponse200` is the response itself.
The respo

[2017-07-26 11:45] edrevo opened #6184 "[Java-Playframework][Core] Referenced models not in model list"
##### Description

We have bumped into a situation where a model ends up as an import to another model, but it does not show up in the list of `CodegenModels`. This happens because one of our models is an `allOf` which references a model called `ModelError`, but `ModelError` is not directly used anywhere in our api definition.

I am tagging this as Java-Playframework because that's where I've seen

[2017-07-26 12:43] kenisteward commented on #4971
This isn't needed.

1. If you need to insert a baseURL per environemnt you can use APP_INIT in Angular to set that value.

2.  Also you can configure each service as you use it.  When you inject it into a component you can in the constructor set the baseURL for the api to whatever you want it to be.

IN my current environment on APP_INIT which is during boostrap I go get a config file from the ser

[2017-07-26 14:19] #5779 closed

[2017-07-26 16:54] tavoda commented on #6141
Improved version of BASH generator. Major changes:
* Handling of ApiKey in query
* Color handling (autodection for terminal and new --no-colors option for command line)
* Validation and Build integrated into one step
* Improved error handling

Here is patch file. I don't want to clone whole repo because of 1 file. Is it OK?
[client_mustache.patch.txt](https://github.com/swagger-api/swagger-codegen

[2017-07-26 17:00] wing328 commented on #6141
I would suggest you to file a PR so that the credits go back to you: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2017-07-26 18:36] webron opened #6190 "Swagger code gen for client fails for request body with string array"
_From @byrebg on July 26, 2017 3:29_

Attached is the YAML file used for generating the client code. for **Request body having type as array it fails**

{"in":"body","name":"parameterFileIds","description":"List of parameter file Ids","required":true,"schema":{"type":"array","items":{"string"}}}

Exception :
{"code":1,"type":"error","message":"Unable to build target: Could not process operation:\n

[2017-07-26 18:36] webron commented on #6190
The attached file is not a valid JSON (it's definitely not YAML).

[2017-07-26 18:36] webron commented on #6190
_From @byrebg on July 26, 2017 4:6_

[swagger_array.txt](https://github.com/swagger-api/swagger-editor/files/1175417/swagger_array.txt)
Sorry for incorrect file
rename file extension txt to json

[2017-07-26 19:21] mbohlool opened #6191 "Separate non-generated parts of client (such as REST/API client) into a package"
I am going to use python as an example, but this can be applied to most of other client libraries too.

Right now, some part of client files such as (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_client.mustache) is not affected by input. These files are mainly responsible for providing http/auth support for API calls.

I suggest w

[2017-07-26 20:25] mjbryant commented on #4669
Any update on when 3.0.0 might be released?

[2017-07-26 21:25] pgordon9 commented on #4951
Would love this as well.

[2017-07-27 01:56] sverhagen opened #6192 "[Python] Tests not working"
##### Description

Generating API clients in a number of languages, Java and Python so far. The Java one is all solid, unit tests running successfully. For the Python one I'm not able to make tests succeed.

I'm getting a lot of errors, such as:

    ERROR: Delete the current test run and then create a new test run based on the latest test case version.
    ----------------------------------------

[2017-07-27 03:40] wing328 commented on #4951
For the time being, I've created some issues with the following labels to list out features supported by different generators:

Feature List: API clients
Feature List: API documentations
Feature List: API servers

[2017-07-27 09:35] PaulDepraz opened #6193 "[Typescript-Node]"
##### Description

Client generated for mime type `text/event-stream` is using Promises, should be using a stream handler.

##### Swagger-codegen version

I'm using `editor.swagger.io`.

[2017-07-27 10:08] RoeeShlomo commented on #4824
In my case, I tracked down the issue to the generated ApiClient#parameterToString.
The generated code converts byte[] to String with String.valueOf. If I change it to one of the String constructors that accepts byte[] then it works as expected.

If there are no other side effects to this change then the fix would be a simple change in ApiClient.mustache.

[2017-07-27 11:02] tzimisce012 commented on #6184
If a referenced model is not used as response in the swagger json it will not be loaded in the definitions object of swagger.

So, in line 1359 from DefaultCodegen, the interfaceModel will be set as null, so the properties will not be set in our child model. (lines 1370 to 1375).

Still, the model will be imported on line 1369.

[2017-07-27 11:10] wing328 commented on #4824
@RoeeShlomo can you please file a PR with the suggested fix?

[2017-07-27 11:24] tzimisce012 commented on #6184
Eventually, this bug comes from the Swagger Parser. Open issue on https://github.com/swagger-api/swagger-parser/issues/494

[2017-07-27 11:31] wing328 commented on #5422
Closed via #6160

@auchri please pull the latest master to give it a try.

[2017-07-27 13:13] wing328 commented on #6179
Sorry. It should be fixed. Please check again.
[code]

[2017-07-27 13:13] #6179 closed

[2017-07-27 13:24] tzimisce012 commented on #6184
PR done on swagger parser https://github.com/swagger-api/swagger-parser/pull/495#partial-pull-merging

When the merge is done, the new version should be added to the swagger codegen and it will fix this bug

[2017-07-27 13:27] #6135 closed

[2017-07-27 13:31] wing328 commented on #5137
@triet96 please try the the latest v2.2.3 to see if it's still an issue.

[2017-07-27 13:31] #5137 closed

[2017-07-27 13:33] wing328 commented on #5428
Closing this as there's no update.

[2017-07-27 13:33] #5428 closed

[2017-07-27 14:24] wing328 commented on #5317
@Krabatz the issue should be fixed by #5736. Please pull the latest master or stable version v2.2.3 and give it a try.

[2017-07-27 14:24] #5317 closed

[2017-07-27 14:24] wing328 commented on #4150
Closing this as there's no update.

[2017-07-27 14:24] #4150 closed

[2017-07-27 14:26] #5603 closed

[2017-07-27 14:27] wing328 commented on #5924
Closing this as there's no update.

[2017-07-27 14:34] #6163 closed

[2017-07-27 15:28] wing328 commented on #6183
I think these 2 variables should be set when [`invokerPackage`](https://github.com/swagger-api/swagger-codegen/blob/63facc0b0b6d8c7436af94ab332b33e444825979/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AndroidClientCodegen.java#L25) is set:

https://github.com/swagger-api/swagger-codegen/blob/63facc0b0b6d8c7436af94ab332b33e444825979/modules/swagger-codegen/src/main/java/io/sw

[2017-07-27 15:34] wing328 commented on #6193
cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu

[2017-07-27 15:47] #6095 closed

[2017-07-27 16:09] wing328 commented on #6164
@cameronwh can you please share a spec? Are you referring to `aspnetcore` or `nancyfx` generator?

[2017-07-27 17:20] encos commented on #6183
From what I see it seems that the invokerPackage is used properly in the package declaration on top of java files but not when it comes to the directory structure for those files.

From here:
https://github.com/swagger-api/swagger-codegen/blob/63facc0b0b6d8c7436af94ab332b33e444825979/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AndroidClientCodegen.java#L469-L484

It seems th

[2017-07-27 17:59] #6154 closed

[2017-07-27 18:16] wing328 commented on #6154
@jdidac I've fixed the issue via #6198

Please pull the latest master to give it a try.

[2017-07-27 18:19] wing328 commented on #6183
I've filed #6200 to fix the issue. Please review the fix when you've time.

[2017-07-27 20:33] psamwel opened #6201 "Typescript-Angular2 produces invalid import for self-referencing model"
##### Description

typescript-angular2 client codegen for a model that references itself (e.g.):

[code]

resulting in:

[code]
which produces the following tsc error(s):

[12:04:12]Error at aPISearchTerm.ts:13:10: Individual declarations in merged declaration 'APISearchTerm' must be all exported or all local.
[12:04:12]Error at aPISearchTerm.ts:13:10: Import declaration conflicts with local decla

[2017-07-27 20:37] PG2000 commented on #6078
@wing328: I've updated the Petstore example

[2017-07-28 05:31] #6183 closed

[2017-07-28 05:32] wing328 commented on #6183
@encos I did some more tests and the fix works for me.

Please pull the latest to give it a try.

[2017-07-28 07:20] encos commented on #6183
Hi I just tried, works fine now. Thanks!

[2017-07-28 08:13] Urbiwanus opened #6202 "[Typescript-Angular2] Token must be defined in AOT"
##### Description

Hello

i am trying to build my angular / ionic app with generated code from swagger. In JIT mode everything works fine.
Using AOT i get following error
[code]
For me it looks like   as _UserApi_74, which is a generated artefact produces the error
##### Swagger-codegen version

2.2.3

[2017-07-28 08:21] #6133 closed

[2017-07-28 08:21] wing328 commented on #6136
@SirBif may I know if you've time to contribute the enhancement?

[2017-07-28 08:26] wing328 commented on #6065
@cbwest3 is it correct to say that [Flask Petstore](https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/flaskConnexion) already has the issues you reported above?

[2017-07-28 09:53] shexbeer commented on #5643
+2

[2017-07-28 14:05] bedag-moo opened #6206 "Typescript: Why not use string-literal types to represent enums of type string?"
##### Description

The typescript-angular2 generator currently emits enums in the form

[code]

For enums of type string the translation

[code]

would be more type-safe (witness #5146), and more flexible to use. For instance, I could do:

[code]

rather than

[code]

as well as directly refer to enum constants in an angular template:

[code]

rather than an unnecessary indirection in the template

[2017-07-28 14:07] bedag-moo commented on #6206
I everyone is ok with the change, I can submit a PR.

[2017-07-28 14:11] bedag-moo commented on #6202
You might to at least show us the generated typescript code. We don't know what your UserAPI looks like ...

[2017-07-28 14:56] nailtonvieira commented on #6098
+1

[2017-07-28 15:11] wing328 commented on #6201
[code]

@psamwel thanks for reporting the issue. What should be the correct output look like?

cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu

[2017-07-28 15:12] wing328 commented on #6192
@sverhagen As a workaround, please comment out those test cases for the time being while we're looking into the issue.

[2017-07-28 15:13] kenisteward commented on #6201
@wing328 it should not have an import at the top because the interface is
in the same file

On Fri, Jul 28, 2017, 10:11 AM wing328 <notifications@github.com> wrote:

[2017-07-28 15:17] wing328 commented on #6201
@kenisteward looks like the issue we can loop through models via [`postProcessModels`](https://github.com/swagger-api/swagger-codegen/blob/78051257136d79f17c1dab7c814557f40e163c48/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java#L262) and add vendor extensions (e.g. x-ts-angular2-self-ref) to avoid the import.

If anyone has better suggestions

[2017-07-28 15:20] kenisteward commented on #6201
That seems fine. I'm on vacation right now and don't have access to my
computer atm. But this should definitely be done for all clients.

I really wish I had time to recombine all the clients into 1 typescript 1

On Fri, Jul 28, 2017, 10:17 AM wing328 <notifications@github.com> wrote:

[2017-07-28 15:32] wing328 commented on #6201
@kenisteward Enjoy your vacation 👍

[2017-07-28 16:46] zmoore-usgs opened #6207 "[Question] Specifying a Custom Swagger-Parser Extension at Runtime?"
##### Description

I'm currently trying to generate code from vendor-supplied Swagger documentation that is not up to spec in that it returns array types as "Array" instead of "array" so I am running into the same issue as is described in https://github.com/swagger-api/swagger-codegen/issues/473.

I don't have the ability to modify the Swagger JSON returned by the vendor service prior to running C

[2017-07-28 16:50] sverhagen commented on #6192
Thank you, I will do that. Does this mean you're confirming this as a bug, or is that still to be determined? I mean, I still well leave open the possibility that I'm doing it wrong.

[2017-07-28 16:57] bedag-moo commented on #6206
I just came across yet another reason for this change: If the same enumeration is used by two properties, the code generator emits separate enums, which aren't mutually assignable. If a union of string literals were used instead, the typescript compiler would verify structural equality, and permit the assignment.

[2017-07-28 17:28] jackjwilliams commented on #2724
I realize this is closed and merged, but I recently tried to use InterceptRequest in a client project (that uses the codegen'd dll), but I could never get it to compile. Do I have to have a partial ApiClient class IN the Generated project or can I do it in my project that uses the dll? My usage of partial methods is limited, and I never could get this to work.

[2017-07-28 21:16] jimschubert commented on #2724
@jackjwilliams Yeah you need the partial class with the same name in your generated project. In C#, partial classes are all merged to make a single larger class. It's a simpler way to allow for code extensions than IoC, because we would have to support multiple IoC frameworks whereas partial classes/methods are a language feature.

[2017-07-29 10:53] #6140 closed

[2017-07-29 10:54] wing328 commented on #6140
@drakmirv #6209 has been merged into master. Please pull the latest to see if it looks good from your perspective.

[2017-07-29 14:16] YashchenkoN commented on #6118
@wing328 @lopesmcc created PR, please review it
#6210

[2017-07-30 14:55] wing328 commented on #4669
@mjbryant we've not yet set any release date for v3.0.0. Swagger Parser needs to be updated first to support OAS 3.0.

Next Swagger Codegen release is v2.3.0 (with many breaking changes) by the end of Aug.

[2017-07-30 18:53] hce opened #6212 "[SWIFT3] POD Generated podfile doesn't include all generated swift files"
##### Description

When using swagger-codegen to generate swift3 code, a pod file is generated. When using this podfile to import the generated code into an xcode project, not all files are imported.

The generated podfile has this line:
    s.source_files = 'Client/Classes/Swaggers/**/*.swift'

This excludes the directory "Swaggersgen" which contains the DefaultAPI file. I've changed the line to

[2017-07-30 18:55] hce commented on #6212
Due to formatting issues, the double stars in my changed line do not appear. What I meant to write was:

s.source_files = 'Client/Classes/ ** / ** /*.swift' (without the spaces)

[2017-07-30 19:19] hce opened #6213 "[Swift3] Client API credentials ignored?"
##### Description

It seems the credentials supplied to the generated client API via
    ClientAPI.credential = URLCredential.init(...)

seems to be ignored by the generated code.

open class ClientAPI {
    [...]
    // this variable seems to be ignored
    open static var credential: URLCredential?
    [...]
}

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[2017-07-31 02:50] reece commented on #5460
Thanks for the notice. I've moved on the from that project and no longer
have need for swagger. I won't be able to test in the near term.

On Wed, Jul 26, 2017 at 1:09 AM, wing328 <notifications@github.com> wrote:

[2017-07-31 02:52] wing328 commented on #5460
@reece no problem. I hope you will find Swagger Codegen useful in your upcoming projects.

[2017-07-31 03:23] wing328 commented on #5460
@reece FYI. We released v2.2.3 with 11 new generators 2 weeks ago. You may want to check it out.

[2017-07-31 08:21] cameronwh commented on #6164
@wing328 I am referring to the csharp generator. And sorry - what do you mean by spec?

[2017-07-31 09:08] SirBif commented on #6136
Hi. Yep, sorry, I was polishing it. I'll push it very soon

[2017-07-31 09:29] lopesmcc commented on #6118
@YashchenkoN nice one, thanks!

[2017-07-31 09:53] zhanghao1013 opened #6214 "[JAVA] Where the access_token is placed？"
I now have a few API, is the need access_token, access_token may be placed in the request message, it may be placed in the header. But access_token needs to request another API. Will support this operation? Can I have a template?

[2017-07-31 11:04] wing328 commented on #6118
Thanks @YashchenkoN for the PR, which has been merged into master.

[2017-07-31 11:04] #6118 closed

[2017-07-31 13:10] sebastianhaas commented on #5996
Is there still an open question @BicakciHasan?

[2017-07-31 13:20] sebastianhaas commented on #6201
Isn't this something that could happen in any language that uses imports? It feels weird to add Angular-specific logic for something that might happen in C# etc. as well :/

[2017-07-31 13:45] BicakciHasan commented on #5996
Yes, thank you @kewur that helped.

[2017-07-31 13:55] ablaagaard opened #6216 "[Python] Debug issues when using 'params' as name of query parameter"
##### Description

It seems that the code generated for parameter handling in Python will end up creating a recursive params dictionary, if you have a query parameter called 'params'. This does not cause problems running the code normally, but will cause max recursion exception when debugging.

The easy work-around is to avoid 'params' as a parameter name.

##### Swagger-codegen version

Code gene

[2017-07-31 14:52] magnushiie commented on #488
Now that the spec v3 includes oneOf - should this issue be reopened?

[2017-07-31 20:02] kenisteward commented on #6201
I don't think we have a generic handler for imports do we?

On Mon, Jul 31, 2017, 8:20 AM Sebastian Haas <notifications@github.com>
wrote:

[2017-07-31 20:03] javakrieg commented on #6055
This is still an issue.  Please reopen.

[2017-08-01 04:12] zhanghao1013 opened #6217 "[JAVA] Support Aouth2.0 client_credentials?"
##### Description

the API requires key and secret for token, and then placed in the next request in the header. If the support, then please demo what? Thank you.

[2017-08-01 08:39] tht13 opened #6218 "[JAVA] Why does Jetty create Services for top level domain and not tags"
##### Description
While generating server impl stubs for Java Jax-RS using Jetty I have found that swagger-codegen will only generate seperate Service classes if I change the top level url route. My url definitions all lie under one top level route because of the data structure. this means I am endings up with one huge ApiServiceImpl class. I have tried this with Python and then I get controllers

[2017-08-01 13:42] meisterlampe opened #6219 "[qt5cpp] Omit JSON-Fields"
##### Description

Is it possible to omit a field in a JSON-Request.

Let's take the sensor_id from the EventSubmitRequest I attached:
In some cases, the sensor_id is maybe not needed.
When I look at the generated sensorId-property in the request-class I see an int that is initialized with '0'.
If I now send my request, the node-server gets the id '0', but it expects `undefined`

Is it possible to

[2017-08-01 16:40] wing328 commented on #6213
Please give 2.3.0 (current master) a try as it has a lof breaking changes (enhancements, bug fixes)

[2017-08-01 16:48] wing328 commented on #5978
@CodeNinjai when you've time, please file the PR so that we can help review the change.

[2017-08-01 16:50] wing328 commented on #6212
@hce thanks for reporting the issue. Please kindly file a PR with the suggested fix so that we can review more easily.

[2017-08-01 16:56] hce commented on #6212
@wing328 I haven't modified your codebase, just modified the podfile of the *generated* code... If you want a PR, it'd take me some time as I'm not familiar with your code at this time.

[2017-08-01 16:58] wing328 commented on #6212
@hce let me point you to the right file to make the update. Give me a sec.

[2017-08-01 17:00] wing328 commented on #5978
Swift: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/Podspec.mustache#L28

Swift3: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/Podspec.mustache#L17

Swfit4: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift4/Podspec

[2017-08-01 17:00] wing328 commented on #6212
Swift: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/Podspec.mustache#L28

Swift3: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/Podspec.mustache#L17

Swfit4: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift4/Podspec

[2017-08-01 17:00] hce commented on #6212
Thank you, I'll have a look at it.

[2017-08-01 17:03] wing328 commented on #6212
After the change, please run the following scripts to update Petstore samples so that the CI (travis) can verify the change:
[code]

[2017-08-01 17:55] hce commented on #6212
There you go: https://github.com/swagger-api/swagger-codegen/pull/6220

[2017-08-01 19:16] hce commented on #6213
Yup. Seems to be working. Thank you! (-:

[2017-08-01 19:16] #6213 closed

[2017-08-02 07:31] #5996 closed

[2017-08-02 08:27] yanniks commented on #3563
Is there any possiblity this problem gets fixed in the near future?

[2017-08-02 08:30] fehguy commented on #3563
Aye, not sure how I missed this.

@wing328 the `swagger.json` is generated automatically from [here](https://github.com/swagger-api/swagger-core/blob/master/modules/swagger-jaxrs/src/main/java/io/swagger/jaxrs/listing/ApiListingResource.java#L15).

@yanniks you need to create a bootstrap to add your security definitions.  They are not generated with the codegen.

[2017-08-02 08:30] #3563 closed

[2017-08-02 09:08] mthebridge opened #6221 "[Scala] Typo in generated client imports for array types"
##### Description

The Scala client generates code that does not compile for models that use arrays:
[code]
which is not valid - the standard library module is `scala.collection.mutable`.

##### Swagger-codegen version

Latest (2.3.0).

##### Swagger declaration file content or url

The following simple API:

[code]
##### Command line used for generation

Generate a Scala client:

`swagger-codegen

[2017-08-02 09:59] #6172 closed

[2017-08-02 10:04] wing328 commented on #6216
@ablaagaard what about renaming the local variable `params` to `local_params` in https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/apis/pet_api.py#L82 ? would that fix the issue?

[2017-08-02 10:53] ablaagaard commented on #6216
I guess it would until someone decides to name a query parameter local_params and then you have the same bug again.

I think a real solution is to avoid the locals() function if possible so parameter scopes does not get mixed up. Wouldn't kwargs.iteritems() be enough?

Anders

[2017-08-02 12:50] wing328 commented on #6216
Yup, for other local variables, we actually use the convention "local_var_{name}", e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/apis/pet_api.py#L399, which should be good enough.

If you want to go with `kwargs.iteritems()`, that's fine with me as well.

[2017-08-02 15:07] #6165 closed

[2017-08-02 16:01] wing328 commented on #6207
What about simply downloading the Swagger/OpenAPI spec (JSON/YAML) to your local drive and update it manually?

[2017-08-02 16:42] advance512 commented on #4819
I can confirm that this issue has been solved when using v3.0.0.

[2017-08-02 16:54] zmoore-usgs commented on #6207
Our old workflow involved a manual editing step to get around things like that, however we wanted to step away from doing anything manually because the vendor is adding to their API semi-regularly. Our end-goal is to automate our domain object generation through a Jenkins job. We could also probably look at just using some external bash scripts to automate the replacement before input into CodeGen

[2017-08-02 21:35] djbusby opened #6223 "$ref for local path not working"
I have a swagger.yaml file that is getting huge, 10K+ lines, so it makes sense to break this into logical pieces.  Documentation suggests I use '$ref' for this purpose.

I tried this:
[code]

Followed by:
[code]

Rather than including the contents of the ./swagger/info.yaml file, we get this:
[code]

It's similar to this issue maybe? https://github.com/swagger-api/swagger-editor/issues/233

Since

[2017-08-02 22:17] mattrc opened #6224 "OutOfMemoryError running typescript codegen [TypeScript]"
We are getting java.lang.OutOfMemoryError running typescript codegen using the newest container image and, this broke our build due to only `latest` tag being available.
(would be great to version the docker images).

https://gist.github.com/mattrc/c58650ed887341de7226606b4e37072a

[2017-08-03 00:07] anujshahx opened #6225 "[Scala] Handling map[String, Model] in Scala client generated code"
##### Description

The swagger-codegen generated code for Scala client doesn't handle map[String, SchemaObject]

##### Swagger-codegen version

[code]

Swagger yaml spec:
[code]

Exception:
[code]

Fix proposed:
ApiInvoker.scala
[code]

[2017-08-03 03:41] wing328 commented on #6225
Please try the latest master (2.3.0), which has the Scala API client refactored.

[2017-08-03 06:54] wing328 commented on #6224
@mattrc can you share the spec so that we can reproduce the issue?

[2017-08-03 07:14] wing328 commented on #6140
@drakmirv when you've time, I wonder if you can contact me via the email address in my Github profiles. Thanks!

[2017-08-03 07:22] ukeshava opened #6226 "[Java - Jersey2] Issue with deserialize when response is null"
Generated ApiClient has deserialize function as below:
[code]

Since content-type is missing in response (response is null), hitting the exception:
"missing Content-Type in response"

However, if I remove the below code:
 if (contentType == null)
      throw new ApiException(500, "missing Content-Type in response");

it runs successfully and returns null.

Can we remove the below lines of code fro

[2017-08-03 07:30] wing328 commented on #6226
@ukeshava thanks for reporting the issue. I wonder if you can also try the `okhttp-gson` or `retrofit2` Java API client to see if the same issue occurs.

[2017-08-03 08:35] ukeshava commented on #6226
With okhttp-gson, it takes default content-type (application/json) when content-type is null.

[code]

But getting a different error while compiling generated code with okhttp-gson:
   src\generated\java\io\swagger\client\auth\OAuthOkHttpClient.java:58: error: no suitable method found for createCustomResponse(String,String,int,Class<T#1>)
            return OAuthClientResponseFactory.createCustomR

[2017-08-03 08:59] wing328 commented on #6226
@ukeshava please submit a PR with the following removed:
[code]
and then the CIs can verify the change as well.

[2017-08-03 10:40] #6221 closed

[2017-08-03 13:35] tanis2000 commented on #4883
I've been hitting this issue as well. I thought it would get into the 2.2.3 release, why has it been postponed? Is there any chance this will get into a release soon?
Cheers!

[2017-08-03 16:17] wing328 commented on #4883
@tanis2000 please use the workaround as we've not decided on the "correct" behaviour:

[2017-08-03 16:38] wing328 commented on #6219
@meisterlampe Did you mark the property (e.g. `sensor_id`) as optional? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L658

(default is optional)

[2017-08-03 16:46] wing328 commented on #6212
@hce thanks for the PR, which has been merged into master.

[2017-08-03 16:46] #6212 closed

[2017-08-03 16:54] tanis2000 commented on #4883
@wing328 thanks for the follow up. I am indeed using a ref for the time being. It's just that avoiding to add refs everywhere would make things easier. Thanks for the great work anyway! :)

[2017-08-03 16:56] jsmithe opened #6229 "[JAVA] Failed inheritance when generating objects with subtypes"
##### Description

I am attempting to generate polymorphic Java model objects using a swagger 1.2 JSON file.
I've created a simple project using Gradle and a swagger example from
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#5272-inheritance-example

When the models are generated there is no inheritance.  Is there something that I am missing?

Project example uploaded he

[2017-08-03 18:45] delenius opened #6231 "[JS][maven plugin] Cannot set version"
There doesn't seem to be a way to set the "version" field in the generated package.json when generating a JS client using the maven plugin.

The mustache template looks for `{{projectVersion}}`, but this is not stored in the maven plugin.
I tried putting `projectVersion` inside `configOptions`, and also directly under `configuration` in my pom.xml file. Instead, this gets extracted from the swagge

[2017-08-03 22:07] delenius commented on #6231
It seems that this is also a problem for the Java generator -- it does not pick up on `artifactVersion` from my pom.xml file, leaving me with an empty `<version></version>`

[2017-08-03 22:30] #6231 closed

[2017-08-03 22:30] delenius commented on #6231
Nevermind, this works now.

[2017-08-03 23:23] pallavi24 commented on #6225
I used the sonatype snapshot repo to test it out but it could not find the com.wordnik.swagger package.

pom.xml:

[code]

error:
[code]

[2017-08-04 01:27] ramzimaalej opened #6234 "[Async-Scala] Package name should be stripped from the class name"
##### Description

When generating a client using Async-scala module, the class name of the generated models contains the package like this "models.WebsiteBodyModel" which causes compilation errors. I tried many config parameters to override this behavior but ended up submitting a PR to fix.

##### Swagger-codegen version

Latest

##### Swagger declaration file content or url

[link to json file t

[2017-08-04 10:34] dwoodel opened #6236 "[Swift3] Download a binary file does not write that file to disk or return the bytes."
##### Description

[Swift3] Download a binary file does not write that file to disk or return the bytes.  When using the scheme: file in the open API Spec, an error is returned.  There does not seem to be any support for returning a file or byte[].

##### Swagger-codegen version

Swift 3 Generator, with Alamofire - CodeGen Version 2.2.3.  Open API Spec 2.0

##### Swagger declaration file content o

[2017-08-04 11:25] jeusdi opened #6237 "[Java] Retrofit2-rx settings"
##### Description

I'm not able to figure out how to set settings like endpoint url into generated ApiClient.

##### Swagger-codegen version

2.3.0 (built from last 2.3.0 branch commit)

##### Command line used for generation

[code]
where config.json is:

[code]

[2017-08-04 11:28] jaykwonpark commented on #1796
Is it fixed on v2.2.2?
It seems the code is still there.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/rest.mustache#L196

[2017-08-04 11:33] ok11 commented on #6132
Hi @wing328 ,

sorry, my bad -- even 2.2.3 solves the issue. I just worked with the local copy of the templates and they were not updated when I switched to 2.2.3.
So -- confirmed from my side.

Thanks!

[2017-08-04 11:41] julienfouilhe opened #6238 "[Swift3] Array of string appears broken"
##### Description

Hi guys,
Arrays of strings appear broken in the swift 3 client. Using the swagger declaration below, it generates the following file:

[code]
When it should be
[code]

And in the Decoders:

[code]

When it should be:

[code]

Still trying to spot the problem, but if someone that actually coded the client could have a look I would greatly appreciate it!

Thanks!

##### Swagger-co

[2017-08-04 11:52] julienfouilhe commented on #6238
cc @Edubits @jaz-ah @jgavris @wing328

[2017-08-04 12:32] kigsmtua commented on #4794
@daurnimator  any progress on this

[2017-08-04 13:15] wing328 commented on #4794
@daurnimator @zjarkov @kigsmtua similar to PowerShell and Rust, we can go through the same approach by creating a Lua API client for [PetStore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml) by focusing on a few endpoints.
- [GET](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/res

[2017-08-04 13:35] julienfouilhe commented on #6238
Ok so this is due to :

[code]

But when the array is strings, in `updatePropertyForArray`:
[code]

[2017-08-04 14:11] jaz-ah commented on #6238
@julienfouilhe do you know if the same issue exists on latest master/2.3.0?

[2017-08-04 14:18] julienfouilhe commented on #6238
@jaz-ah It does on master, except that the decoder does not exist for this type anymore. Since it's an array of string I guess it's okay and it will go through the "basic" one.

But the typealias error still is there

[2017-08-04 14:21] jaz-ah commented on #6238
ok thx @julienfouilhe  - did this break recently for you or is this something new - just trying to see if I can track down the history in the code.

[2017-08-04 14:27] julienfouilhe commented on #6238
@jaz-ah I wasn't using arrays of string before, new things in the swagger
spec revealed that error. So I don't know when this was introduced or if it
was always there.

On Fri, Aug 4, 2017 at 4:21 PM jaz-ah <notifications@github.com> wrote:

[2017-08-04 14:29] jaz-ah commented on #6238
ok i'll see if i can find some time this weekend to take a look unless @jgavris beats me to it.

[2017-08-04 14:30] julienfouilhe commented on #6238
I guess we could just change the template to get the type of the items, but I tried `{{items.dataType}}` and it didn't appear to work

[2017-08-04 14:44] wing328 commented on #6132
@ok11 no problem. Let us know if you need further help from us.

[2017-08-04 14:44] #6132 closed

[2017-08-04 15:05] julienfouilhe commented on #6238
Actually, master/2.3.0 breaks a lot of things for me, notably this PR I submitted #5433. I'll see later if I can fix that back.

[2017-08-04 15:22] ecki commented on #1054
In my case the swagger file has no security definition, so the genrated API looks like:

    // Setup authentications (key: authentication name, value: authentication).
    authentications = new HashMap<String, Authentication>();
    // TODO: manually: authentications.put("basic", new HttpBasicAuth());
    // Prevent the authentications from being modified.
    authentications = Collections.unmodi

[2017-08-04 16:10] ecki opened #6240 "[JAVA] Javadoc backslash escape issue"
##### Description

When codegen renders a method description into a Javadoc comment it seems to not correctly remove `\"`escapes.

Sample

    "description":"Test\nRequires user permission: \"system.variables-rest:view\"."

Result:

         * Test  Requires user permission: \&quot;system.variables-rest:view\&quot;.

It does not preserve the linebreaks and it does preserve the \

##### Swagger-cod

[2017-08-04 16:39] wing328 commented on #6057
Various enhancements, bug fixes: https://github.com/swagger-api/swagger-codegen/pull/6239

[2017-08-04 16:50] cbornet commented on #5640
can be closed ?

[2017-08-04 16:59] wing328 commented on #5640
@cbornet right, thanks for the reminder.

[2017-08-04 16:59] #5640 closed

[2017-08-04 18:01] wing328 commented on #6191
Yes, API client is usually the HTTP layer. For other generators like Java, the API client is swappable to support multiple HTTP libraries: Jersey 1.x & 2.x, Retrofit 1.x & 2.x, Feign, RESTEasy and more.

Yes, I think some part of the SDKs can be refactored into a separate package. For example, the [PHP ObjectSerializer](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/pets

[2017-08-04 18:25] advance512 commented on #4973
This is still broken, even in the latest v3.0.0.

This definition
[code]

becomes this code:

[code]

I mean, just look at this function:

[code]

An example run would have data be 1, and obj undefined. Yet it still returns obj... it makes no sense.

This was built with useES6=false, which I need to do as I am not transpiling the code.

[2017-08-04 21:25] anujshahx opened #6241 "[Scala] Package com.wordnik.swagger.client._ missing after generating client in Scala"
##### Description

[Scala] Package com.wordnik.swagger.client._ missing after generating client in Scala

##### Swagger-codegen version
[code]

When I do `mvn clean install -U` the build fails by the following error:
[code]

[2017-08-04 23:24] strake opened #6242 "[Haskell] Generated API code has overlong names"
##### Description

From petstore example:
`type SwaggerPetstoreAPI = _`
`data SwaggerPetstoreBackend m = _`
`newtype SwaggerPetstoreClient a = _`

The "SwaggerPetstore" prefix is needlessly verbose as these are already in the module `SwaggerPetstore.API`, which one can import qualified.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

`http://petstore.swagger.i

[2017-08-04 23:51] dgaedcke opened #6243 "Swift3; array seems broken"
##### Description

Model object definition is missing from my generated swift source...
TradeEntityMtMsgCollection
is referenced many places throughout my generated swift code, but it's definition is not declared anywhere.  I'm not sure if this is a Swagger-codegen problem or if the issue lies elsewhere...

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
My Swag

[2017-08-05 00:06] cbornet commented on #6218
The main reason is that some paths may have several tags but you can"t have multiple controllers for the same JAX-RS route.
In Spring's generator, there's an option to use tags. In that case, only one of the tags is used if there are several.

[2017-08-05 02:47] daurnimator commented on #4794
No. I think I'm one of those developers that prefers a dynamic approach :)

[2017-08-05 03:01] daurnimator commented on #4794
I'm not totally sure what you're requesting. If you can explain further (are you on irc? matrix?) I'm happy to give you samples. I created the PR https://github.com/swagger-api/swagger-codegen/pull/6244 to track.

[2017-08-05 03:38] wing328 commented on #4794
@daurnimator thanks. Let me review the code.

[2017-08-05 07:58] yanniks commented on #4669
Is there any possibility to build the Codegen with the experimental branch for Swagger Parser?
Since the Spec 2.0 is no longer online, it's hard for us to work with Swagger right now.

[2017-08-05 08:11] fehguy commented on #4669
What do you meant the 2.0 spec is no longer online?

The 3.0 support is in progress but will take some time.

[2017-08-05 15:54] advance512 commented on #4819
I still see this issue.

Using swagger-codegen-cli-3.0.0-20170727.135949-1.jar with the command line:

[code]

I see that arrays of strings get converted into arrays of objects with indexes as keys and each char as the value. e.g.

[code]

This should be, of course, an simple array of 4 strings.
[code]

Once again, looking at the generated ApiClient.js:518, you see that:

[code]

Now, wth the cont

[2017-08-05 15:58] advance512 commented on #4819
@kirpit - is the issue only fixed with ES6 usage, or did you also check useES6=false output?

[2017-08-05 16:07] advance512 commented on #5847
@wing328, @ePaul  got it.

There are two types of HTTP requests made:

If the parameter is `false`, then the body parameter is not sent, the header 'Content-Length' is set to 0, and there is no body.

If the parameter is `true`, then the body parameter is sent, the header `Content-Length` is set to 4, and the body is: `true`.

You'd expect case 1 to have 'Content-Length' set to 5, and the body to

[2017-08-05 16:08] advance512 commented on #5847
This is definitely a bug. I would not say the issue is "closed", unless by "closed" you mean "the issue does not matter and we will not fix it". :)

[2017-08-05 16:08] advance512 commented on #4819
@wing328 - please reopen this. The issue persists even with the latest trunk as shown above. :)

[2017-08-05 16:21] advance512 opened #6248 "[JavaScript][ES6] Add additional property useES6Modules"
##### Description

Currently, [Node.js does not support ES6 modules](https://medium.com/the-node-js-collection/an-update-on-es6-modules-in-node-js-42c958b890c).

So we're talking about at least 6 months from now, as I create this issue. And that is for new Node.js versions (e.g. 9+).

This means that using the default JavaScript generator (ES6), the generated client is not usable with Node.js, unl

[2017-08-06 09:27] wing328 opened #6250 "[Rust] Enhancements to Rust generator"
##### Description

Here is a list of enhancements I can think of for the Rust client generator:

- [ ] Add "docstring" to methods in API and model files for documenting the usage
- [ ] Add support for form parameters
- [ ] Add support for file upload
- [ ] Add validation for parameters and model properties

If anyone has any feedback/suggestion, please reply to let us know.

##### Swagger-codegen

[2017-08-06 10:04] wing328 commented on #6250
Minor fix for Windows platform via cc848a1

[2017-08-06 10:27] wing328 opened #6251 "[Java][Vertx] Enhancements to Java Vertx client generator"
##### Description

Here are some enhancements I can think of:

- [ ] Use File.separator to ensure the generator works on both Windows, Linux and Mac.
- [ ] Add validation to API implementation class
- [ ] Document multipart-form upload as a known issue
- [ ] Add Windows batch file to generate Petstore sample

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.co

[2017-08-06 19:30] dejan2609 commented on #5925
@wing328 I'll try to deal with this.

[2017-08-06 20:24] TehBakker commented on #5950
Any news on the fix making it into the next release ?

[2017-08-07 02:46] arcward commented on #6216
The way it is now, `params = locals()` also picks up `self` and `all_params`

I resolved the issue by updating `kwargs` with the required parameters instead of using `locals()`, so the arguments don't need to change (and accounts for weird edge cases like an optional parameter named *kwargs*...). Gotta do a bit more testing to make sure I didn't miss anything though

[2017-08-07 04:20] ejChathuranga commented on #4150
I've faced the same issue. When I import a new project it appears. Is this fixed?
this is the message ->
In my Gradle ->
`dependencies {
        classpath 'com.android.tools.build:gradle:2.3.3'
        classpath 'com.jfrog.bintray.gradle:gradle-bintray-plugin:1.0'
        classpath 'com.github.dcendents:android-maven-plugin:1.2'
    }`

this is the message ->
`Gradle 'easy-content-providers-master

[2017-08-07 06:34] meisterlampe commented on #6219
Thank you for your answer.

The EventSubmitRequest-Definition has no "required"-section (like in the pasted part above). So everything should be optional.

The generated code contains in the given example of my first post this files:
[SWGEventSubmitRequest.h](https://gist.github.com/meisterlampe/dccbb4e3aebb929ec21a3db640046a5d)
[SWGEventSubmitRequest.cpp](https://gist.github.com/meisterlampe/1ffe

[2017-08-07 08:07] yanniks commented on #4669
I'm sorry, I was wrong with my previous comment. What I actually ment is that if people get to the Swagger website and go to the "Specification" page, they will only get the 3.0.0 spec. That intents that this is the current release (which is right) and that this is the release they can fully work with (which is wrong).
Additionally, the spec 2.0 is pretty well hidden.

[2017-08-07 10:04] lkettenb commented on #5845
Any news here?

We had to update from v2.2.2 to v2.2.3 because of #4932. But now or CI is broken because the code generator for JavaScript seems to ignore all templates. Thus, the default package.json is used and new packages cannot be published anymore.

[2017-08-07 10:44] wing328 commented on #5845
@kevin-lot @lkettenb I've filed #6253 to fix it. Will merge it into master after the CI tests pass.

[2017-08-07 11:03] dwoodel commented on #6236
We have a PR for this fix, if you guys wanna accept it.

[2017-08-07 13:48] stevecookform3 commented on #5688
@wing328 sorry finally got round to this. I've filed the referenced PR.

[2017-08-07 14:10] #5845 closed

[2017-08-07 14:11] wing328 commented on #5845
The fix has been merged into master. Please pull the latest master to give it a try.

[2017-08-07 14:23] wing328 commented on #5950
Seems like it's related to enum marshalling: https://github.com/swagger-api/swagger-codegen/pull/4059

@TehBakker what about using the okhttp-gson or retrofit2 Java client instead? You can also use customized templated with the `-t` option.

[2017-08-07 15:46] bedag-moo commented on #6080
Is somebody already working on this?

[2017-08-07 16:49] gcernier-amadeus commented on #3371
Would it be possible to merge [#4801](https://github.com/swagger-api/swagger-codegen/pull/4801) so that I will have a possibility to provide another fix of another issue I spotted around the same feature, before `v2.3.0` milestone (so that this version will contain the 2 fixes)?

[2017-08-07 16:59] JFCote commented on #6126
@wing328 : This should be closed since it was closed in #6125

[2017-08-07 18:15] cbornet commented on #5950
@wing328 actually, I think we can keep the `fromValue` method. But I would prefer configuring Jackson and removing `@JsonValue`

[2017-08-07 18:17] cbornet commented on #5950
@TehBakker did you test removing the annotations ?

[2017-08-07 19:38] mwiens opened #6257 "[Python]"
##### Preface
When using a body parameter, the `name` is only used for documentation purposes [OpenAPI 2.0 specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object):

According to the [Connexion documentatoin](http://connexion.readthedocs.io/en/latest/routing.html#parameter-name-sanitation) it makes a name sanitation for parameter names:

With the fo

[2017-08-08 05:15] lkettenb commented on #5845
@wing328 Thank you very much! It seems to work again!

[2017-08-08 05:35] wing328 commented on #5845
@lkettenb np. Sorry for taking this long as I lost track of this issue.

If you've further feedback on the JS API client, please let us know.

[2017-08-08 06:15] wing328 commented on #3371
@gcernier-amadeus I'll try to merge it later today after resolving the merge conflicts.

[2017-08-08 07:34] tzimisce012 commented on #6184
The PR have been merged on the swagger-parser project so it means that when you add the last jar as dependency the bug will be fixed. As soon as the last version will be available I will test it.

[2017-08-08 07:34] wing328 commented on #6257
@mwiens so keeping the parameter name (e.g. test_object) as it's with camelizing it should fix the problem for you, right?

[2017-08-08 08:04] wuf810 commented on #6236
@wing328 I'm ready to create a PR for this issue.

[2017-08-08 08:08] wing328 commented on #3371
Closed via #4801. Thanks for the fix by @gcernier-amadeus

Please pull the latest master to give it a try.

[2017-08-08 08:08] #3371 closed

[2017-08-08 08:25] mwiens commented on #6257
@wing328 keeping the parameter name (if, and onlly if it is equal to result of `re.sub('^[^a-zA-Z_]+', '', re.sub('[^0-9a-zA-Z_]', '', PARAMETER_NAME))` resolves the problem and connexion maps the request properly.

For example unusual parameter names like `my:_unusual-Parameter!` should be translated in `my_unusualParameter` when generating the code, since connexion will try to bind `my:_unusual-

[2017-08-08 08:30] tht13 commented on #6218
Is there no flag to enable this for JAX-RS? If not can you direct me to the code in the Spring generator and I will make a PR to add this flag to JAX-RS using the first tag as before. Its much more preferable than having a file of 600 lines and growing.

[2017-08-08 08:30] wing328 commented on #6257
@mwiens I see. Would you have time to contribute the fix? I can show you exactly where to apply the fix.

[2017-08-08 08:38] mwiens commented on #6257
@wing328 I can try, when i find some time. Show me the code ;-)

[2017-08-08 08:42] ahmettahasakar opened #6258 "Swift 3 Warnings"
Hello,

When I build with the master branch, I get two warnings for Swift 3.

- Result of call to 'addHeader(name:value:)' is unused
- 'where' clause next to generic parameters is deprecated and will be removed in the future version of Swift

Should these be fixed? I can create a pull request if you want.

Thank you.

[2017-08-08 08:42] wing328 commented on #6257
@mwiens thanks for offering contribution on this 👍

In the latest master, look like it's using the original name:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FlaskConnexionCodegen.java#L426-L434

You will need to apply the following regular expression:
[code]
before returning `name`

[2017-08-08 09:23] akanksharma commented on #2110
I am also having the same issue.
How do I get the Data from ErrorResponse?

[2017-08-08 09:46] inovik commented on #2110
You can use `switch` operator like in this answer https://github.com/swagger-api/swagger-codegen/issues/4190, but a little different way:

`
if let err = error as? ErrorResponse {
    switch(err){
        case .Error(409, let dataValue, _):
            //now there are possibility to use dataValue object
        break
    }
}
`

[2017-08-08 09:47] akanksharma commented on #5659
Any update on this issue?
I am also facing the same issue.
How should I extract Data from ErrorResponse enum ?

[2017-08-08 11:23] tht13 commented on #6218
Is there no flag to enable this for JAX-RS? If not can you direct me to the code in the Spring generator and I will make a PR to add this flag to JAX-RS using the first tag as before. Its much more preferable than having a file of 600 lines and growing.

[2017-08-08 13:19] dantran opened #6259 "NPE at ModelImpl"
Hi

I currently facing this stack trace

java.lang.RuntimeException: Could not process operation:
  Tag: AssetGroups
  Operation: addAssets
  Resource: put /api/v2/assetGroups/{id}/assetList
  Definitions: {Addresses=io.swagger.models.ModelImpl@9901aa0, AppHost=io.swagger.models.ModelImpl@8456d641, ....
  Exception: null
        at io.swagger.codegen.DefaultGenerator.processOperation(DefaultGenera

[2017-08-08 13:27] dantran opened #6260 "swagger-codegen-maven-plugin threadsafe?"
This is  a request to make maven plugin thread safe in order to take advantage of maven multi threaded build

##### Swagger-codegen version

2.2.2

[2017-08-08 13:49] jonschoning commented on #6153
I am working on a http://hackage.haskell.org/package/http-client client generator.
This will be targeted specifically at being a client.

I was simply creating a HaskellHttpClientCodegen.java for this, but using a AbstractHaskellCodegen.java could work too.

[2017-08-08 14:06] wing328 commented on #6153
@jonschoning thanks! We can create the abstract class later. Let us know if you need any help.

[2017-08-08 14:07] cbornet commented on #6218
See #4396

[2017-08-08 15:44] jimschubert commented on #6164
@cameronwh by "spec", we mean the swagger.json or swagger.yaml file which you're using to generate your client code.

If your definitions in your spec are missing `operationId`, I believe we're fixing that by generating an operationId of `class + method`. I don't think this is specific to the C# generator.

As a quick-fix, you can copy the contents of the csharp generator's template directory (tha

[2017-08-08 19:45] oliveirasevandro opened #6263 "[JAVA] - Consider regex for path params (subresource operation)"
##### Description

I'm trying to generate resource endpoints which contain some sort of regex to validate the path params. Fox example: @Path(/resource/{res:[a-zA-z]})

Couldn't find a way to produce that kind of souce code. Does anyone know if this feature is already implemented?

##### Swagger-codegen version

2.2.2

[2017-08-08 20:22] willyko opened #6264 "[Rails5] Reserved word causing codegen to fail"
##### Description

Reserved word causes Rails5 codegen to fail.  However, Ruby codegen has a workaround that renames the words that's causing an issue.  Hoping this can be ported to Rails5

##### Swagger-codegen version

2.2.3

##### Command line used for generation

`swagger-codegen generate -i swagger.yaml -o ./server/generated-server -l rails5`

##### Suggest a fix/enhancement

Not sure if it's

[2017-08-09 03:08] wing328 commented on #6264
@willyko yup, I think it should be as simple as that. Do you have time to file a PR for the suggest?

[2017-08-09 03:48] wing328 commented on #6263
@oliveirasevandro in your spec, do you use `pattern` for the path parameters?

[2017-08-09 07:39] wing328 commented on #6242
@strake Have you tried to customize the output using the following?
[code]

[2017-08-09 08:01] ginere opened #6267 "Including common definitions blocks coming from external files."
##### Swagger-codegen version

maven-compiler-plugin 3.6.0 , swagger-core 1.5.9

##### Description
Each time you have to used a comon parameter you have to use the reference to the parameter in the external file. Is it possible to indlude all the external references into a local block ( by example, parameters) and the use references to your local file instead of the remote file.

Let's see an exam

[2017-08-09 10:46] jeusdi opened #6270 "Subfolder located templates are not generated"
##### Description

I'm using my templates which are located inside `./templates` that looks like:

[code]

Unfortunatlly, subfolder `mustache` templates are not generated. Only `OAuth.mustache`. Any ideas?

##### Swagger-codegen version

2.3.0

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i http://guest1:8080/authz/cmng/swagger.json -l java -c conf
ig.json -t

[2017-08-09 11:30] oliveirasevandro commented on #6263
@wing328 Yes, I do. My parameter specification is something like this:

[code]

[2017-08-09 12:04] dwoodel commented on #5535
@wing328 We have a fix for this now, we have our fix on top of the v2.2.3 branch which branch would you like me to create the PR into.  Let me know and ill raise the PR.

[2017-08-09 12:04] dwoodel commented on #5535
@wuf810

[2017-08-09 12:19] wing328 commented on #5535
Please file the PR against current master (2.3.0)

2017年8月9日 下午8:05，"Daniel Woodel" <notifications@github.com>寫道：

[2017-08-09 13:07] JFCote commented on #6099
@wing328 Please close this issue when you'll have time. Thanks

[2017-08-09 13:25] JFCote commented on #6182
@tzimisce012
I've checked the latest documentation and examples for Play 2.6 and just as I expected, async controller is not de default.

See examples here: https://github.com/playframework/play-java-starter-example/tree/2.6.x/app/controllers

I think that, like in other generators, we should add this as an option that is false by default.
The option should be called "async", like in the Spring ge

[2017-08-09 13:26] bedag-moo commented on #6080
I have started implementing this, and it works fine for header, query and body parameters, but I have yet to find a way to pass form parameters, and I am not sure how to pass multiple values to header and query params.

If anybody knows how that works, some hints would be appreciated.

[2017-08-09 13:27] JFCote commented on #6181
@wing328
This will be fix by #6128 when it gets merged.

It was cause by the examples

[2017-08-09 14:01] wing328 commented on #6100
Closed via #6100

[2017-08-09 14:01] #6100 closed

[2017-08-09 14:06] wing328 commented on #6181
Closed via #6128

[2017-08-09 14:06] #6181 closed

[2017-08-09 15:10] tzimisce012 commented on #6182
It is not the default option in the sense that play start explaining you how the framework works not talking about the fact that your operation might be blocking.

But returning CompletationStage<Result> is more general than just returning Result in the sense that all code that will work with Result will work with CompletationStage<Result> but the opposite will not be true.

I consider that settin

[2017-08-09 15:21] JFCote commented on #6182
@tzimisce012
I understand your point but all the other generator in swagger-codegen are blocking by default and users that want async controllers will have the options (if you submit a PR with the feature). I find that putting CompletionStage by default when no async is needed is just complex for nothing when a simple Result do the job. Also, most of the users will be more than happy with a blocki

[2017-08-09 15:31] tzimisce012 commented on #6182
I mean, the other generators are bloking because they have another thread model. In play, if you have a blocking operation, play just stop working.

In spring, you have the option to have the classical thread per request or you can use Spring Reactor that implements the Reactor pattern well known by NodeJs. In that case, your code must be async otherwise your event loop thread will be blocked and

[2017-08-09 15:33] springimport opened #6271 "I suggest to create interfaces for PHP-client"
##### Description
I need to implement caching for classes. I can use decorators or call cache from each method. But decorators cannot be used with DI because classes don't have an interfaces. What about add interfaces to generation?

[Example for java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/cxf/api.mustache#L31).

##### Swagg

[2017-08-09 15:34] dancrumb opened #6272 "NullPointer error from CLI"
##### Description

When trying to parse a Swagger 3 JSON file, I'm getting a NPE

##### Swagger-codegen version

3.0.0-20170727.135949-1

##### Swagger declaration file content or url

https://gist.github.com/dancrumb/df25eec9d2b74f42faab8753ee66d257

##### Command line used for generation

 java -jar swagger-codegen-cli.jar validate -i ../alex-platform/services/v8-php-calculator/swagger.json

###

[2017-08-09 17:17] wing328 commented on #6263
@oliveirasevandro looks like it's not yet implemented for Java. May I know if you've time to contribute the enhancement? I can show you some good starting points.

[2017-08-09 17:21] wing328 commented on #6271
@springimport thanks for the suggestion

cc @baartosz @dkarlovi @arnested @ackintosh

[2017-08-09 17:29] dkarlovi commented on #6271
Definitely agree, having a well defined interface would significantly raise output quality. Can you provide a PR?

[2017-08-09 17:30] oliveirasevandro commented on #6263
Hey @wing328. It would be my pleasure to work on that. If you have some tips to provide me, let me know :)

[2017-08-09 17:41] wing328 commented on #6263
Sure. Let me share more on pattern validation. Is it correct to say that you're using the default Java API client (okhttp-gson)?

[2017-08-09 18:09] wing328 commented on #6263
There's already a mustache file with pattern validation: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/beanValidationCore.mustache

There are 2 mustache files using `beanValidationCore.mustache`:
[code]
so I think we will need to add mustache templates for path, form, header parameters similar to what we've done for query parameters (bea

[2017-08-09 23:05] ackintosh commented on #6271
I agree 👍

[2017-08-10 07:41] tht13 commented on #6218
PR made at #6278

[2017-08-10 12:43] ecolleu opened #6280 "[JAVA] Polymorphic array parameter"
##### Description
Hello,

First, I can't determine if my problem is a bug of swagger-codegen or if I misunderstand the specifications.
I'm facing a problem when trying to generate code relative to a polymorphic API.
I want to define a post request which accepts as a parameter a list of objects inheriting from the same class (see example below).

To describe my model I use the discriminator / allOf

[2017-08-10 13:04] MortenHC opened #6281 "[C#] Add modelPropertyNaming config option"
##### Description
I have recently joined a big project that is using swagger-codegen. However some custom classes has been added to account for a bunch of properties that the swagger input file did not originally contain. E.g. `SomeClass` generated by swagger could have been inherited by `SomeClassCustom` created manually.

As a newcommer to the project I have been given the task to do some cleanu

[2017-08-10 13:52] anweiss commented on #6259
Also seeing this issue with swagger-codegen 2.2.3.

[2017-08-10 14:09] erickcsh opened #6282 "Error Making my own codegen module"
Steps I'm following:

1) Clone swagger-codegen
2) run `mvn clean package`
3) ```java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar meta -o output/mypackage -n myCustomCodegen -p my.package```
4) `cd output/mypackage`
5) `mvn package`

Error I am getting:
[code]

[2017-08-10 18:02] wing328 opened #6284 "[Lua] Enhancements to Lua generator"
##### Description

Here are a list of enhancements to Lua generator:

- [ ] add auto-generated README.md
- [ ] add auto-generated API, model documentation
- [ ] generate a .rockspec file
- [ ] better detection of code injection
- [ ] add lua linting to .travis.yml
- [ ] update [CONTRIBUTING.md](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md) with Lua style guide
- [ ] b

[2017-08-10 18:04] jaz-ah commented on #6258
what version of Xcode are you using?  yes please submit a PR thanks!

[2017-08-10 18:10] wing328 commented on #6281
@MortenHC thanks for sharing more about your use case. I agree with you that the only solution is to add the `modelPropertyNaming` option so as to name the C# variables in a different way.

Would you have time to add that option?

[2017-08-10 18:25] magictortoise opened #6285 "[JAVA-JAXRS-RESTEASY] DELETE not working"
##### Description

I have a delete API which doesn't work. Not sure if it's bug or something wrong with my schema. Please help!

Here is the YAML schema
[code]
Generated api code:
[code]
The response I get is:
[code]
##### Swagger-codegen version
2.2.2

[2017-08-10 20:04] magictortoise commented on #6285
Update:
I try swagger pet example and it gives me same error

[code]

[2017-08-10 20:13] stevecookform3 opened #6286 "[Java] Option to generate Enum values as public static final constants?"
##### Description

I'd like to introduce an option to the java codegen that would generate constants rather than enums where enums are defined in swagger.

So as an example, the following model has a simple enum:

[code]

This currently generates the following enum:

[code]

I'd like to add a codegen option that would allow you to generate simply:

[code]

The advantage to building this as a Strin

[2017-08-10 20:21] stevecookform3 commented on #5950
I've also raised #6286 which is intended to add an option in the other direction (ie. make acceptance of enums broader, by generating string constants rather than enums).

I think these two options could complement each other, so codegen users would have a choice of either
- Enum throwing exceptions (for strongly typed APIs), or
- String capturing data (for permissive apis).

@wing328 - thoughts?

[2017-08-11 06:46] wing328 commented on #4794
Closed via https://github.com/swagger-api/swagger-codegen/pull/6252.

@kigsmtua @zjarkov please pull the latest master or use the latest SNAPSHOT version to give it a try.

[2017-08-11 06:47] #4794 closed

[2017-08-11 08:37] AkhtarShahid opened #6287 "Try out returns status code other than 200 in most of the operations in spring application generated using swagger spec."
##### Description

when i generate a server stub for spring application using swagger spec in that three operations are listed with responses. On deployment of generated spring server stub either on embedded container or anywhere list down all operations correctly but when i try out those operations it throw 415 status code in most of the cases.

##### Swagger-codegen version

swagger-codegen-2.2.

[2017-08-11 09:09] ali-jawad opened #6288 "Java retrofit generated OAuth interceptor class can potentially call itself forever"
##### Description

When HTTP request from Retrofit client fails due to authorization, even though valid access token is in hand, `OAuth` class takes for granted that access token needs to be refreshed and that is the problem. So it goes ahead and refreshes it. When it succeeds at that, it recursively calls its intercept method again. So in the next run, with a valid new token (again), the same hap

[2017-08-11 10:21] wenjdu commented on #2690
@kenjitayama
Did you succeed in generating an enum in swift ?
Like that one.
[code]

[2017-08-11 13:54] #6282 closed

[2017-08-11 14:21] stevecookform3 commented on #6286
Adding @wing328 for his comments..

[2017-08-11 14:39] cbornet commented on #6286
I'm not sure of what you want to do here... If what you get from the server is not an enum, just use a regular string !

[2017-08-11 14:56] stevecookform3 commented on #6286
We use the same swagger definition to generate both client & server. Ideally we'd like to use enums, but that means we have to do big-bang upgrades of every client every time we introduce a new server enum. This will be worse in the future if swagger implements the current suggestion in #5950  of throwing an exception when deserialising into an undefined enum.

So what we do currently is (as you s

[2017-08-11 14:56] cbornet commented on #5950
Revising what I wrote [here](https://github.com/swagger-api/swagger-codegen/issues/5950#issuecomment-314740369) . I think enums should return null on unknown values as per Postel's law. I'm not sure I see the interest of returning a String : what would you do with it ?

[2017-08-11 15:02] cbornet commented on #6286
#5950 is not about making throwing an exception the default but an option. What I mean is that if an older client uses an older definition it won't know what to do with a new value anyway, so it'doesn't really need to know what's inside the value and `null` should be enough. Unless I'm missing something...

[2017-08-11 15:26] InoMurko opened #6291 "[python]"
Python generated client model does not appear to be working for _required_ parameters and reports that None is being passed for required parameters name and catalog_id:

`ERROR: test_backoffice_api_merchant_ad_controller_show (test.test_ad_api.TestAdApi)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/opt/priv/backoffice/swagger/te

[2017-08-11 15:30] stevecookform3 commented on #6286
Its still an issue in that on the client side, you wont be able to tell the difference between the value not passed (null), and a new unknown value (null). And in the case of a new unknown value, you cant even log an error to say 'got an unknown value x' because you just get null (not the original value).

[2017-08-11 15:40] cbornet commented on #6286
Good point. We should indeed have a default enum value UNKNOWN to differenciate with "not present"

[2017-08-11 16:14] tasneem93 commented on #5688
@wing328 please let us know when this PR is LIVE as we are having the same issues. This PR will solve our problem. Thanks @stevecookform3 for the PR.

[2017-08-11 17:08] sandro97git opened #6292 "invalid chunked encoding when generating nodejs-server with docker image"
##### Description
I've got a problem with the docker image swaggerapi/swagger-codegen-cli.
I'm generating a nodejs-server with the docker image. This works without generating any errors. Then I try to run the server with npm install && node index.js. The server starts and I'm able to view the docs. If I try to make an api call I get following error msg from chrome: `ERR_INVALID_CHUNKED_ENCODING`.

[2017-08-11 18:55] johnryan commented on #5733
Hi all, has anyone found a solution to this issue? We currently rely pretty heavily on `flow-typed` support but I'm really excited by the prospect of using swagger-codegen to generate clients.

[2017-08-11 22:08] 7mllm7 commented on #5733
@johnryan like I replied before, I just migrated to TypeScript and now using the TS generated client.
In general it was worth the effort as IMHO TypeScript works a little better than flow.

[2017-08-11 22:47] keithchong commented on #2152
Hi @wing328, @cbornet, I've created PR #6296.  It adds a 'jaxrs-spec' library (not language, unlike for the jaxrs-spec service).  It will not introduce any Jackson dependencies, and it is only for this 'new' library.   Also, it will set up the support for Issue #2153.  (just have to get rid of the migbase64 dependency).  Please review.

[2017-08-12 08:52] wing328 commented on #5688
@tasneem93 please use the SNAPSHOT version before the stable release of 2.3.0:https://github.com/swagger-api/swagger-codegen#compatibility

[2017-08-12 08:52] #5688 closed

[2017-08-12 08:59] wing328 commented on #6291
[code]
Am I correct in saying that the auto-generated test case (**without any modification**) result in the error? There were reports that the auto-generated test cases do not work perfectly so we are considering to address the issue by commenting out the test cases

If you actually use the Python API client, does it work? (I think it should)

[2017-08-12 09:12] wing328 opened #6297 "[ERR!] GitHub API: GitHub rate limit reached."
##### Description

[code]

The issue was cause by `typescript-angular` petstore client.

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/6178

##### Suggest a fix/enhancement

Apply a fix similar to https://github.com/swagger-api/swagger-codegen/pull/6178

[2017-08-12 09:14] ahmettaha commented on #6258
It's Xcode 8.3.3

[2017-08-12 09:15] ravi-ios commented on #3890
How to install swagger codegen V2.1.6.

[2017-08-12 09:28] wing328 commented on #3890
Please install the latest version 2.2.3 instead.

[2017-08-12 09:57] #6264 closed

[2017-08-12 20:53] raphael-chir opened #6303 "[JAVA] Generate JSON or YAML api specs from Maven plugin"
##### Description

Actually we have to specify in Maven plugin "swagger-codegen-maven-plugin" an "inputSpec" value in plugin execution configuration. I didn't find a way to dynamically generate it from REST resources Spring class instead of a static file or an uri. It supposed that the server is already running to have the specs in v2/api-docs
It would be nice if we can build the server jar and th

[2017-08-12 23:54] dantran opened #6304 "[JAVA] Incorrect java code gen when enum has only one element"
swagger-codegen-maven-plugin 2.2.2

        "action" : {
          "type" : "string",
          "enum" : [ "MOVE_TO_GROUP" ]
        },

Generates this
    public enum ActionEnum {
        GROUP("MOVE_TO_GROUP"),
   ...

Should be

    public enum ActionEnum {
        MOVE_TO_GROUP("MOVE_TO_GROUP"),

Work around - add dummy second element

        "action" : {
          "type" : "string",

[2017-08-13 00:24] ThuyBDo commented on #6304
Even if an enum type with a single enum element does not always make sense, the generated code should make sense.  Generating
public enum ActionEnum {
          GROUP("MOVE_TO_GROUP")
}
from
"action" : {
      "type" : "string",
      "enum" : [ "MOVE_TO_GROUP" ]
    },

seems like a bug than a "work as designed".

If an enum has different name when its enclosed type has one element vs more than o

[2017-08-13 00:59] ThuyBDo commented on #6259
I also encounter this error as well.
My swagger.json has the following:"AssetRuleRestModel" : {
      "type" : "object",
      "required" : [ "action", "actionResult", "inclusionIndicator", "inventorySourceAttribute", "inventorySourceAttributeCompareValue", "inventorySourceType", "name", "priority" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"

[2017-08-13 05:09] #6258 closed

[2017-08-13 10:11] wing328 commented on #5733
@johnryan we can work with you to incorporate the support of `flow-typed` into the JS API client generator. Let us know if you've time to contribute the enhancement.

[2017-08-13 19:48] johnryan commented on #5733
@wing328 that would be great. Could you suggest anywhere in particular to get started? I'm pretty new to the swagger stuff so an example of how this is set up with typescript or something would be pretty helpful.

[2017-08-14 03:17] taxpon opened #6306 "[typescript-angular] URLSearchParams does not allow to pass '+' character"
##### Description

As reported in angular/angular#11058, [URLSearchParams](https://angular.io/api/http/URLSearchParams) does not allow to pass '+' character. Currently I am developing a search interface with email and email can contain '+' character obviously like `foo+bar@example.com`. So this behavior is problem for me.

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhanceme

[2017-08-14 08:14] wing328 commented on #2231
@ramnov has created R Petstore client via https://github.com/swagger-api/swagger-codegen/pull/6307

I'll use it to create the R generator and templates.

[2017-08-14 08:23] manuelkiessling opened #6308 "In the generated Markdown documentation, anchors must be lowercase to work on GitHub"
##### Description

When generating API client code (in my case, for PHP), swagger-codegen also generates a Markdown documentation for the resulting client. It consists of several Markdown documents which are hyperlinked using anchors. The anchors in generated URLs are written WithUpperAndLowerCase, but when browsing the documentation on GitHub, lowercase-only anchors are expected.

Example:
https:

[2017-08-14 09:43] bricka opened #6309 "[typescript-node] Not generating optional model members correctly."
##### Description

`typescript-node` is not producing models with optional fields where they ought to be. All fields are created as required.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

This is the model that was generated:
[code]

However, everything except `name` should be optional (have a `?` after the property name).

##### Command line used fo

[2017-08-14 09:46] bricka commented on #6309
This PR looks to have done something similar for `typescript-angular2`: https://github.com/swagger-api/swagger-codegen/pull/3843

[2017-08-14 09:52] ctippur opened #6310 "ImportError - Swagger codegen for flask"
##### Description

I am getting the following error when running flask server:
   from .binary import Binary
  File "/Users/ctippur/cyclops/cyclopscloud/flaskapi/cyclopsflaskglobal/python-flask-server/swagger_server/models/binary.py", line 4, in <module>
    from swagger_server.models.binary import Binary

Here is the tree for swagger server that got generated via swagger UI (http://editor.swagger

[2017-08-14 09:56] ctippur commented on #6310
I am using python 3.62 on a mac.

[2017-08-14 11:29] InoMurko commented on #6291
Apis work fine. The generated models don't.

[2017-08-14 12:59] knuthie opened #6311 "jaxrs/jersey2: enums not serialized correctly"
##### Description

If using the automatically generated code, eg. a customer with SourceType "software b" is rendered in JSON as SOFTWARE_B and not as "software b".
The Problem seems to be, that in the generated class JacksonJsonProvider
the following is missing:
  .enable(SerializationFeature.WRITE_ENUMS_USING_TO_STRING)
        .enable(DeserializationFeature.READ_ENUMS_USING_TO_STRING)//

#####

[2017-08-14 16:39] wing328 commented on #5733
@johnryan to start with, what error did you get when using the JS API client with flow? and are you able to resolve those issues manually? If yes, we can incorporate the fix into the JS mustache templates.

[2017-08-14 16:50] johnryan commented on #5733
@wing328 there are no errors when using it with flow but i'd like to automatically generate the correct models and typing (very similar to the typescript version).  i.e.:

[code]
It SEEMS like most of the .ts logic is [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache). Am I correct that the first step would be

[2017-08-14 17:26] wing328 commented on #5733
@johnryan https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements is a good starting point for 1st time contributor.

The JS (ES5) templates can be found in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/api.mustache

After making changes to the JS ES5 templates, please run the

[2017-08-14 18:53] ctippur commented on #6310
I believe this maybe similar to https://github.com/swagger-api/swagger-codegen/issues/4789

[2017-08-14 21:11] waza-ari commented on #3616
Having the same problem as well, would definitely love a fix

[2017-08-15 00:11] lbordowitz opened #6313 "[perl] Referenced Swagger datatype modules are not loaded"
#### Description

When I have nested objects in a perl client, it doesn't work correctly. I get an error on deserialization:

    Can't call method "from_hash" on an undefined value at /lib/WWW/SwaggerClient/Object/Thingy.pm line 133

This happens whenever the type is "number" or when I use a referenced object type. This issue is about the latter case.

##### Swagger-codegen version

2.2.3

#####

[2017-08-15 07:58] stmeyer opened #6314 "[QT5CPP] Client not handling optional parameter"
##### Description

If xou have not required query params this params have to be set by client. As you can see in generated code below in method `SWGExampleApi::exampleGet` one has to pass all parameters but parameter `example2` and `example3` are not marked as required.

##### Swagger-codegen version
Version 2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for

[2017-08-15 10:14] ahmettahasakar commented on #5594
I got it figured out. If you prefer, I can try to put it in a pull request?

[2017-08-15 10:16] microo8 commented on #2305
`type: file` does it also. The server sends bytes and client wants to decode it with `utf8`.
I've resolved it with removing the line: `r.data = r.data.decode('utf8')` in the `rest.py` file.

But then in the `api_client.py` file, in function `__deserialize_file(self, response)` it wants to write the `response.data` in an text file.
So I've edited this also, so the function opens the file as `"wb"`:

[2017-08-15 10:47] microo8 commented on #2305
The server sends bytes and client wants to decode it with `utf8`.
I've resolved it with removing the line: `r.data = r.data.decode('utf8')` in the `rest.py` file.

But then in the `api_client.py` file, in function `__deserialize_file(self, response)` it wants to write the `response.data` in an text file.
So I've edited this also, so the function opens the file as `"wb"`:

[code]

But I don't know

[2017-08-15 12:11] stmeyer opened #6316 "[QT5CPP] Handle of additionalProperties"
##### Description

If you have a model definition with additionalProperties the generated code could not be compiles. You can see in generated code below that in the header file the variable is defined as `QMap<QString, QString*>* values`. In the CPP class file in there are two errors:

- in method `init` it is tried to instanciate the value with `values = new QMap<QString, QString>();`. It has to

[2017-08-15 12:16] perryp opened #6317 "[typescript/fetch] additional Headers passed in as options are ignored"
##### Description

I'm passing additional HTTP-headers to a generated method - which are overwritten in the generated code:
[code]
##### Swagger-codegen version

2.2.3

##### Suggest a fix/enhancement

Headers from the passed in `options` parameters should be merged into `fetchOptions`.

[2017-08-15 12:58] dentych commented on #4146
Also, this is a general problem with allOf. Objects defined in the root of the "definitions" section, that contains allOf works. Pretty much any other use case involving allOf results in missing models, wrong code generated, "Object" types (in Java) or other things, rendering the generated code useless..

I am working with a project, where the API creators are now starting to utilize allOf a lot.

[2017-08-15 13:52] dentych opened #6318 "allOf only works when defined directly under definitions"
Swagger codegen version: 2.3

I am working on a project, where the people specifying the OAS document have begun extensively using the allOf keyword. This does work in only ONE out of all the use cases we've tried. That is when defined in an object, directly under the definitions sections.

Example (working):

[code]

However, we've tried a multitude of other things, that does NOT work.

Take a lo

[2017-08-15 14:06] stmeyer opened #6319 "[QT5CPP] modelNamePrefix has to be set to SWG"
##### Description

If modelNamePrefix in QT5CPP client code gen is different to `SWG` the deserialazation form JSON to C++ object is not possible. The method `setValue(void* value, QJsonValue obj, QString type, QString complexType)` checks the name of the value in line 122 (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/qt5cpp/helpers-body.mus

[2017-08-15 15:47] lightbow commented on #1667
Since the signature of the main decode method has changed to:
`static func decode<T>(clazz: T.Type, source: AnyObject, instance: AnyObject?) -> Decoded<T>`
then I don't think those other array or dictionary decode methods would ever be called (since they don't have the new "instance" parameter, right?

Not sure if this ever worked correctly for arrays and dictionaries.

[2017-08-15 19:54] SingleShot opened #6320 "JavaSpring useOptional Not Working"
I generate code via the `swagger-codegen-maven-plugin`. I've tried `2.2.3` and `2.3.0-SNAPSHOT`.

Example spec:
[code]

Example config in Maven:
[code]

I expect the description of the resulting model object to be `Optional`.

[2017-08-15 20:21] perryp commented on #6317
seems to be fixed already with #6032 (?)

[2017-08-15 20:33] KrishanuMaity76 opened #6321 "Customize the code gen for Java-Spring and CXF"
##### Description

First of all, apologize if I am asking the question in right forum. I want to extend swagger code gen to develop customize code generation for Java Spring, CXF. How do I do this? I have installed the swagger code gen git project. It is such a huge project. I am not able to run the project locally. Do you have simple standalone java class which i can run to generate server code f

[2017-08-15 21:58] koppor commented on #4397
@agoncal In that case, a good client would have like access to both? The server-generated resource location (header) and the new entity.

I would favor a special response object in the case of `201`:

[code]

I am aware that this is a complex object and is not as easy to handle as the other things.

In summary, I see following solutions:

1) Solution as above - complex object
2) Returning the new

[2017-08-15 22:02] koppor commented on #4397
This issue is a follow up on https://github.com/swagger-api/swagger-codegen/issues/990.

[2017-08-16 05:52] szklany opened #6322 "[JAVA] Swagger model definitions are not being converted into code by codegen."
##### Description

Hi,

I can't figure out why my Java code from codegen is missing some of the models.
Such as HasMore, Limit, offset and count are not created, but Links is.
Does anyone know what the problem here could be?
##### Swagger-codegen version

##### Swagger declaration file content

If you post the code inline, please wrap it with
[code]

##### Command line used for generation

Here is

[2017-08-16 07:05] edrevo commented on #6126
I don't think this issue is fixed. AFAICT, #6125 adds explicit validation for some of the issues I mentioned, but the result of the validation is still an exception, which will still yield error 500 on bad user input.

[2017-08-16 11:02] liuyang1204 opened #6324 "[typescript-fetch]"
##### Description

The generated authentication configuration file `configuration.ts` has compile error if the apikey name contains dash `-`.

https://github.com/wing328/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Fetch/configuration.mustache#L5

[code]

`keyParamName` has the same string value with swagger spec. Dash is allowed in HTTP header name but not in

[2017-08-16 11:08] acg-manumg opened #6325 "[JAVA] Swagger-codegen renames methods with same names"
##### Description

But swagger-codegen rename methods with same names despite the fact that they are in different java clases.

##### Swagger-codegen version

2.2.3

##### Command line used for generation

I have generate a swagger client api with:

java -jar swagger-codegen-2.2.3/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i http://localhost:8080/myproject/services/servic

[2017-08-16 11:14] acg-manumg opened #6326 "[JAVA] Swagger api client methods return void"
##### Description

Swagger api client, generated by codegen tool, only creates tests methods with return type void. How can I test my rest api ?

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

This is my service code specification:

     @Api(value = "Authentication Recovery")
     @Path("/authenticationRecovery")

    public class AuthenticationRecoveryResour

[2017-08-16 11:16] muzammilahmed-gt opened #6327 "COMPILATION ERROR : package org.codehaus.plexus.util does not exist"
I'm using following version.

maven: 3.3.9
jdk: java-7-openjdk-amd64
JAVA_HOME="/usr/lib/jvm/java-7-openjdk-amd64/"

I'm getting packages type error when I'm running **$ mvn clean package** command. I'm new to use swagger to generate documentation(.yml file to .html)

[WARN] /var/www/html/cg-api-dev-portal/codegen/swagger-codegen/modules/swagger-codegen/src/main/java/config/ConfigParser.java:38:28

[2017-08-16 11:56] JFCote commented on #6126
@edrevo : Can you give a sample spec with a use case so I can understand what exactly the problem is? Also, what do you suggest to fix the issue. I have some time this week so I could work on the issue. But first, I need to understand it completely.

[2017-08-16 12:20] JFCote commented on #6126
Let's look at each of your points one by one: :)

Since the spec and the server is expecting a value, isn't it normal for the server to throw some kind of exception when something excepted is not there? I believe it is. Also, 401 http code is for Unauthorized and is related to authentication. This has nothing to do with data validation. By the way, with fix #6125 , all of the Bean Validations are

[2017-08-16 12:45] cbornet commented on #6326
JUnit tests generally return `void`. Why would you return something else ?
To test, you're supposed to write assertions where `// TODO: test validations` is written. There are several assertion frameworks that you can use : assertJ, JUnit, harmcrest, ...

[2017-08-16 13:02] meisterlampe commented on #6314
That would also solve my issue #6219

[2017-08-16 13:35] stmeyer commented on #6314
@meisterlampe nice to hear. Are you able to create a PR?

[2017-08-16 15:16] DavidBiesack opened #6328 "-l html does not handle $ref to simple string schema"
##### Description

The attached swagger.yaml defines a schema named stringOption which is type string with an enum.
The other schema context uses it.
In the output for -l html the enum values are not presented/rendered.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url
[code]
##### Command line used for generation

java -jar swagger-codegen-cli.jar gener

[2017-08-16 16:57] lhannest opened #6329 ".swagger-codegen-ignore prevents files from being created"
The ignore functionality should only prevent the *overwriting* of *preexisting* files, and not prevent the creating of files.

[2017-08-16 19:53] nexsja opened #6330 "[PHP] Add ModelInterface to all models"
##### Description

All generated Models contain a set of methods, by aligning them with an interface that defines these methods it makes strict typing a lot easier and cleaner.

##### Swagger-codegen version

2.3.0

##### Related issues/PRs

Didn't find similar Issues/PRs for other languages.

[2017-08-16 20:29] jaz-ah commented on #5849
i'm hitting this issue as well - will fix in my next changes today/tomorrow.

[2017-08-16 21:01] bentheadset opened #6332 "codegen 3.0.0 fails to parse simple schema"
##### Description

I have a simple swagger spec, which I believe is correct 3.0.0 syntax, which fails to parse with the 3.0.0 generator.  The error is `missing swagger input or config!` and it appears the codegen may be using 2.0 syntax (?) from the message `INFO io.swagger.parser.Swagger20Parser - reading from /input/api.openapi3.json`.

I've bugjar'd this into a trivial example [api_v3.json.txt]

[2017-08-16 22:58] vthornheart-bng commented on #4669
Indeed, I just happened to run into what @yanniks mentioned a few days ago.  I just wrote an API generator for our project, and used the specs I could find: which, on the Swagger site, is OpenAPI 3.0.  This means I'll have to use the snapshot build of swagger-codegen 3.0.0: which I don't mind as long as it works, but it did take me by surprise that the spec pointed to by Swagger's site wasn't the

[2017-08-17 01:33] jimschubert commented on #6329
That's not the intended functionality of `.swagger-codegen-ignore`.  It's meant to allow you to explicitly include or exclude files and directories.

There's a switch (`--skip-overwrite`) which prevents overwriting of existing files.

[2017-08-17 01:51] jimschubert commented on #6270
@jeusdi It's not clear to me why you have a `living` subdirectory. Are you working off of the 2.3.0 branch or a customized version of the generator?

For custom templates, you'll want to clone this repo (then `git checkout 2.3.0`) and copy the contents of `modules/swagger-codegen/src/main/resources/Java` into your `templates` directory. Filenames in this directory are significant (see [JavaClientC

[2017-08-17 02:30] jimschubert commented on #6259
The line at the top of your [is thrown here](https://github.com/swagger-api/swagger-codegen/blob/v2.2.3/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L861).

If you think your swagger spec is failing validation now, you can validate via command line.

This is the command (installed from `brew install swagger-codegen` on mac)
[code]

If your spec passes validation,

[2017-08-17 03:15] acramatte commented on #4397
@koppor The client has two methods per endpoint e.g.:
1) public getUsers(...): Observable<models.GetUsersOutput> {}
2) public getUsersWithHttpInfo(...): Observable<Response> {}

If you need access to the header you would use the 2nd option right ? Then it is up to your application to deal with undefined. Or am I missing something ?

[2017-08-17 05:03] koppor commented on #4397
@acramatte Oh, you are right. An update from 2.2.1 to 2.2.3 made it generate the `WithHttpInfo()` methods.

[2017-08-17 06:16] jeusdi commented on #6270
The purpouse of my `living` folder templates is to create a package with those files (classes).

[2017-08-17 07:54] wing328 commented on #4669
@vthornheart-bng can you help test Swagger Parser 3.0.0-rc2 (https://github.com/swagger-api/swagger-parser/tree/feature/3.0.0-rc2)?

Ref: https://github.com/swagger-api/swagger-parser/issues/417

[2017-08-17 08:15] acg-manumg commented on #6326
I mean methods like "api.authenticate(username, password);" return void.

[2017-08-17 08:55] cbornet commented on #6326
In the code you pasted, the return type is `Response` ...

[2017-08-17 09:37] acg-manumg commented on #6326
Isn't it, that's the problem :(

[2017-08-17 17:41] vthornheart-bng commented on #4669
@wing328 Ah, can do!  I'll get things set up and give it a run through our new spec file tonight.

[2017-08-17 20:43] vthornheart-bng commented on #4669
Okay, so good news and bad news.  Good news is that my pretty darn complex spec did indeed parse, after some ado trying to get Maven to download the dependencies correctly.  (I haven't done Java development in... jeez, 15 years or so now.  This dependency tooling is fascinating and useful, but definitely seems to require some odd manual work to get going!  But I digress!)

Anyways, the test I did

[2017-08-17 21:14] vthornheart-bng commented on #4669
Also, I did run into something interesting when trying to build swagger-codegen-3.0.0 from source after I went digging for the reason why it said "input or config not found".  Maven choked trying to grab:

http://github.com/swagger-api/swagger-ui/archive/master.tar.gz

I could reach it just fine via browser, so I ended up downloading it, changing my hosts file so I was impersonating github.com, an

[2017-08-17 21:15] Ghost93 opened #6336 "[JAVA-Spring] javax.validation.UnexpectedTypeException: HV000030: No validator could be found for constraint 'javax.validation.constraints.Pattern' validating type 'byte[]'"
##### Description

Hi.

I'm using swagger-codegen to generate a spring boot server.
Recently I'm trying to add more constraints to input using patterns, and the `@Valid` annotation.

The problem occurs when I try to use validation on objects that contain references to models with fields that are `byte[]`. This is my problematic model:

[code]

and I see that Swagger-codegen has generated the follo

[2017-08-17 23:27] bingshiao commented on #6259
Looks like it has been fixed right after v2.2.3 release.

https://github.com/swagger-api/swagger-codegen/pull/6079/

The coming v2.3.0 should be fine.

[2017-08-17 23:37] dantran commented on #6259
@codegen dev, any plan to backport this fix to 2.2x branch and release with 2.2.4?

[2017-08-18 05:23] wing328 opened #6337 "SmartBear Connect user conference"
If any Swagger Codegen contributors want to join SmartBear Connect 2017 (https://smartbear.com/connect-2017/), please reach out to @webron to get a discount code.

[2017-08-18 09:25] yasensim opened #6338 "[JAVA] Incompatible types when enum values are hardcoded"
##### Description
Improper type casting when values are hardcoded inside enum.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url
[code]

##### Command line used for generation
on MAC OS:
swagger-codegen generate -i test.json -l java

Also with different swagger versions with maven

##### Result (Generated code)
[code]
##### Compilation failure
[code]
##### Workar

[2017-08-18 10:01] tan31989 commented on #6251
Query:

- Is there a server side stub?
- Any ongoing work?
- Are PR's welcome for the same?

[2017-08-18 15:03] jimschubert commented on #4863
@clasnake @wing328 @daniele-bettella For finch, we'll probably also need to consider compile-time serializers like circe or argonuat.

[2017-08-18 23:11] sun7927 opened #6339 "[GO] Bad GO code generating access_token in query under securityDefinitions"
##### Description

spec:
[code]

It will generate the following GO code,
[code]

It has an error:
[code]

The correct code should be:
[code]

##### Swagger-codegen version

2.2.3
##### Swagger declaration file content or url

##### Command line used for generation

java -jar swagger-codegen-cli-2.2.3.jar generate -i $(SWAGGER_SPEC) -o $(CLIENT_GO) -l go -c $(SWAGGER_CONFIG) --git-user-id=$(GIT_USE

[2017-08-20 04:43] AngelHHX opened #6341 "【java-springmvc】 : 404 can't invoke the method from rest service"
##### Description
there are something wrong
first : Error creating bean with name 'documentationPluginsBootstrapper'
second:Error creating bean with name 'webMvcRequestHandlerProvider'
last one: org.springframework.http.InvalidMediaTypeException: Invalid mime type "json": does not contain '/'

I google some solutions , and finally i remove the annotation :@EnableWebMvc and @EnableSwagger2
then i c

[2017-08-20 12:47] dariota commented on #6338
Looks like a new case is needed here https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L1018 to append L to the value when the type is Long.

[2017-08-21 04:24] airshiplay opened #6344 "Non-body HTTP method cannot contain @Body"
java.lang.IllegalArgumentException: Non-body HTTP method cannot contain @Body.

##### Description
generator code
  @DELETE("device/flexEng/tenant")
  Call<FlexResultResponse> deviceFlexEngTenantDelete(
          @retrofit2.http.Body FlexEngTenantDeleteParam flexEngTenantDeleteParam
  );
Adjust to
  @HTTP(method = "DELETE",path = "/device/flexEng/tenant",hasBody = true)
  Call<FlexResultResponse> d

[2017-08-21 06:38] jackjwilliams commented on #2724
Gotcha, so I would most likely want to create / override a template and make sure it's included in the generation. Thanks!

[2017-08-21 08:29] cbornet commented on #6344
DELETE ops shouldn't have a request body. The entity to delete should be fully identified in the URL.

[2017-08-21 10:03] leventatbjss commented on #5050
I think, as a workaround, you can step the oltu client version down to 1.0.1

[2017-08-21 10:34] #6280 closed

[2017-08-21 11:37] FarooqKhan commented on #6332
I have same issue, I even tried compiling the codegen repo and use the cli from there no success

[2017-08-21 11:38] FarooqKhan commented on #6272
I am getting the same error

[2017-08-21 12:56] jarlesat commented on #5431
As a suggestion I have created an implementation that does this by creating a class JavaJAXRSSpecInterfaceCodegen that inherits JavaJAXRSSpecServerCodegen. It will replace api.mustache whith a new apiInterface.mustache in the list of apiTemplateFiles to process. apiInterface.mustache is a slightly modified version of api.mustache, creating an interface instead of a bare bone implementation. It wil

[2017-08-21 14:04] KrzysztofKarol opened #6345 "[Javascript] JSDoc optional parameters should be wrapped in square brackets"
##### Description

There is:
`* @param {module:ApiClient} apiClient Optional API client implementation to use,`
Should be:
`* @param {module:ApiClient} [apiClient] Optional API client implementation to use,`

Without it IDE (Webstorm) in
`new SwaggerPetstore.PetApi();`
will raise a warning
`Invalid number of arguments`

http://usejsdoc.org/tags-param.html#optional-parameters-and-default-values

##

[2017-08-21 16:26] rycler opened #6347 "[JAVA] Java codegen client with restTemplate 200 and 201 different response body"
##### Description

When there are multiple 2xx responses with different model in response. It seems that only the first one is used for code generation.
So for example I call the api that returns 200 and 201, 203, the response will be cast to 200 response always.

The place where the code breaks when we receive 201 With 201Response:
ParameterizedTypeReference<200Response> returnType = new Paramete

[2017-08-21 16:41] mattroberts297 opened #6348 "Using Multiple Authentication Types (OR)"
##### Description

First up, thanks for all your hard work on this! Now, on to the issue...

The following:

[code]

In particular:

[code]

Is wrong per the spec:

https://swagger.io/docs/specification/authentication/

Because security definitions can be both AND or **OR**.

##### Swagger-codegen version

2.2.3 (targeting java)

##### Swagger declaration file content or url

[code]

##### Command

[2017-08-21 19:30] saifshamim commented on #2345
did anyone find solution to this problem ?

[2017-08-21 20:20] PG2000 commented on #6078
@wing328 Can i do something more to get this done?

[2017-08-22 01:18] sun7927 opened #6349 ""headers" in "response" is disappeared after generating spec"
##### Description

I tried to consolidate the multiple spec files (for a project) into one by using swagger-codegen (with -l swagger/swagger-yaml option). The generate spec looks good except that the headers of responses disappeared.

##### Swagger-codegen version

2.2.3
##### Swagger declaration file content or url

part of the original specs
[code]

After generating, it became:
[code]

##### Com

[2017-08-22 08:26] dpredovic opened #6350 "[DART] Generated client containing DateTime doesn't compile in strict mode"
##### Description

Generated dartsonEntityDecode method contains:
[code]
for every DateTime property. `new DateTime()` is not a valid method call and dartdevc refuses to compile it.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-08-22 10:16] ahmettahasakar opened #6352 "Enum array support for swift3"
Hello,

Is an array of enums not supported for swift3? It seems to be trying to decode with a wrong type of decoder

[2017-08-22 10:41] alex347 opened #6353 "[PHP] ObjectSerializer conflict with Yii framework 1.1.17"
##### Description

Yii framework's class auto loader fails with the following error:
2017/08/22 09:54:44 [error] [php] include(int.php): failed to open stream: No such file or directory (vendor/yiisoft/yii/framework/YiiBase.php:432)
Stack trace:
#0 unknown(0): spl_autoload_call()
#1 vendor/example/lib/ObjectSerializer.php(68): method_exists()
#2 vendor/example/lib/ApiClient.php(156): sanitizeForSe

[2017-08-22 13:08] kilian-ito commented on #6329
@jimschubert, according the auto-generated .swagger-codegen-ignore file, on line 4 it's specified:

Moreever, `--skip-overwrite` option is use for the whole generation and not the a specific list of files.

[2017-08-22 13:22] jimschubert commented on #6329
Hm. When I wrote that comment, it wasn't the intention for it to mean it prevents overwriting generated files if they exist and generating them if they don't exist. I thought it was pretty clear that it works in the same way as gitignore.

Any suggestions for clearer language here? I don't we'd make it pertain only to newly generated files.

[2017-08-22 13:23] jimschubert commented on #6329
/cc @wing328 any ideas? Should we improve the comment mentioned above?

[2017-08-22 13:25] kostaa opened #6355 "[spring] Relative schema file interpreted incorrectly"
<dependency>
			    <groupId>io.swagger</groupId>
			    <artifactId>swagger-codegen-maven-plugin</artifactId>
			    <version>2.3.0</version>
	        </dependency>

In the following config I have an external schema file defined - $ref: 'file-event.yaml'

		paths:
		  /files:
			post:
			  operationId: addFile
			  consumes:
			  - application/json
			  parameters:
			  - in: body
				name: body