[2017-11-14 04:04] wing328 commented on #6950
Fixed via #6951

[2017-11-14 04:04] #6950 closed

[2017-11-14 05:48] kenisteward commented on #6902
@HermenOtter @bedag-moo your wish is my command!  PR #6955 opened for this feature.  was pretty straight forward as I thought it would be.  Has beautiful intellisense with the overloads.

@bedag-moo thanks for pointing out to use them!  I'd love to make a PR for the old ones to take with withHttpInfo but I think more people may be using it than I think.

[2017-11-14 08:12] Kimnyhuus commented on #6641
@ehyche : Sure, I'll open an issue right away.
Thank you! It's really appreciated :-)

[2017-11-14 08:22] Kimnyhuus opened #6957 "Swift4: Need initializer with default value '=nil'"
##### Description

I am filing this issue to track the discussion which took place in another issue for swift4: #6641

The request was to have a default value '=nil' in the additional initializer for swift4-generated models.
Example:

[code]

##### Swagger-codegen version

All

##### Swagger declaration file content or url

This is a feature request. See the discussion at the end of the issue list

[2017-11-14 09:25] cjkumaresh commented on #5745
@wing328 Any update on 2.3.0 release

[2017-11-14 11:27] zimme commented on #6720
I'll just a note here about tslint's no-unused-variables being deprecated in favor of tsc's --noUnusedLocals and friends. Which might be something have in mind.

[2017-11-14 12:41] HermenOtter commented on #6902
@kenisteward Thank you for the PR, I tested your implementation I have an error which I posted on your PR, which version of typescript are you using?

[2017-11-14 13:24] swavans opened #6958 "Specify Media format type"
Okay so this is more of a question I guess cause this should be possible I think.

I have an API endpoint using swashbuckle and swagger specs 2.0 and it returns a string formatted in the mediaformattype "text/plain".

But when I use this it will create a (C#) SDK that will use mediaformattype "aplication/json"
If I try to override for example the "Accept" header with the add defaultheader method

[2017-11-14 13:35] HermenOtter commented on #6909
@naveenkumar-007 Your issue is resolved? You can use the '@' to notify someone of your reply. You can use codetags for yaml, json or typescript formatting. Have a nice day.

[2017-11-14 15:16] naveenkumar-007 commented on #6909
Hi HermenOtter,

I have already raised another issue 6930. could you please check.

Thanks,
Naveen

[2017-11-14 15:19] naveenkumar-007 commented on #6909
while constructing the uri, i am removing the part after ?. because swagger won't allow right.

But in the uri, after quesetion mark, two parameters

"uri": "/test/{0}/diff?block_size={1}&length={2}"
 1 and 2 are there. I don't know how to resolve the issue. It is urgent. Could you please let me know

[2017-11-14 15:52] wing328 commented on #6914
Hi all,

Just want to share that we can provide multiple HTTP library support for Java client generator by making "ApiClient.java" swappable. Currently, we support Jersey 1.x, 2.x, Retrofit 1.x, 2.x, Feign and more in the Java API client.

Not sure if we can do something similar in the Swift 4 client but worth sharing with you guys so you may consider using similar approach.

[2017-11-14 16:24] charlescapps commented on #6950
Thanks! I'm glad to get this in with the next release.

[2017-11-14 22:06] brucesears commented on #6291
Well my fix then still fails when the model class, say Host, in list[Host], itself has attributes of further depth, say Host attribute has something like 'nics' = list[NIC], then my fix fails to read the deeper content in the json data structure to create the list of NIC objects...

I think to fix, i'll need to subclass ApiClient (as I do above), and then override both deserialize() and __deserial

[2017-11-14 23:16] kenisteward commented on #6902
@HermenOtter should be fixed as of earlier

[2017-11-14 23:29] brucesears commented on #6291
i may be incorrect about that last post.  i now see embedded lists of specs properly being converted into the list of model objects as they should be.  apologies for that not-really-an-issue.  the original issue is still there, though.

[2017-11-15 02:05] dgaedcke opened #6962 "Swift4 codegen with PromiseKit is omitting most properties for POST"
##### Description
Swift4 codegen with PromiseKit is omitting most properties for POST

##### Swagger-codegen version
Swagger-codegen version
2.2.3

##### Swagger declaration file content or url
partial section below
[code]

##### Command line used for generation

I have tried both Swift3 & 4
swagger-codegen generate \
   -i gen/http/openapi.json \
   -l swift3 \
   -o /Users/dgaedcke/Downloads \

[2017-11-15 02:28] inforeqd512 commented on #6764
checked the Swagger codegen version snapshot for 3.0.0
Tue Nov 14 06:42:47 UTC 2017 | 40 |  
swagger-codegen-cli-3.0.0-20171114.064241-7.jar | Tue Nov 14 06:42:44 UTC 2017 | 14169814

and it still doesn't work when the swagger document has the 'openapi' tag specified in it. Can you pls correct that for this snapshot to be compatible with OpenAPI spec 3.0?

[2017-11-15 06:13] philip commented on #6897
@win328 I remember testing paths with dots and they failed, and removing the dots caused it all to work. However now I can't replicate this so am baffled and confused. Tested Lumen 5.2, 5.4, and 5.5. I switched to codegen on docker but don't understand how that'd change things.

On the bright side the lumen generator is working for my use case so I hope to expand its general usage and functionalit

[2017-11-15 06:13] #6897 closed

[2017-11-15 08:29] pablosaracusti commented on #5482
I had the same issue in the following code using Angular 5:
`handleError(error: Error, exceptionHalt = true): ErrorObservable {
    if ((error instanceof DisconnectedError) || (error instanceof Exception)) {
      // Workaround for Cannot instantiate cyclic dependency! error.
      this.logger = this.injector.get(NGXLogger);
      this.logger.error('An error occurred', error);

      if ((error in

[2017-11-15 09:03] HermenOtter commented on #6902
@kenisteward I can confirm it compiles and works as expected for my application.

[2017-11-15 09:35] wing328 opened #6963 "[PHP][Lumen] Upgrade Lumen to version 5.5 (or newer)"
##### Description

Upgrade PHP Lumen to newer version (5.5+)

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/lumen/composer.mustache

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/issues/6897#event-1342361147

##### Suggest a fix/enhancement

If a

[2017-11-15 09:35] wing328 commented on #6897
@philip thats ok. We'll open this if any reports similar issue.

I've created https://github.com/swagger-api/swagger-codegen/issues/6963 to track the Lumen veresion upgrade.

[2017-11-15 09:37] wing328 commented on #6962
@pixelshaded please try the latest master (2.3.0), which comes with a lot of enhancements, bug fixes in the Swift4 generator.

SNAPSHOT version of the latest master can be found in the project's README.

[2017-11-15 09:38] wing328 commented on #6958
Can you please share the spec so that we can more easily reproduce the issue?

[2017-11-15 09:40] wing328 commented on #6949
What if you replace `html2` with other generator (e.g. ruby, php)?

[2017-11-15 09:41] wing328 commented on #6949
You may find gradle plug-in useful: https://github.com/swagger-api/swagger-codegen#gradle-integration

[2017-11-15 09:42] wing328 commented on #6946
Is it correct to say that if you replace the typealias with "type: string", the result is good again?

[2017-11-15 09:44] wing328 commented on #6943
Please try the latest version in the current master as 2.2.1 was a bit old. SNAPSSHOT version of the latest master is available in the README.

If the default output does not meet your requirement, please try various CLI options to customize the output and ultimately try to generate code with customized templates using the `-t` option.

[2017-11-15 09:53] wing328 commented on #6926
What about grouping different model into separate files and then generate models only (https://github.com/swagger-api/swagger-codegen#selective-generation)?

[2017-11-15 10:14] pavel-zdenek commented on #6946
Sure. If `UserId` is not used in the endpoints code, then its content is not relevant. If we really badly wanted to use Codables, we could do a mass replace. But we got many places of `UserId` usage, it was evolving from int through string to uuid even, and we always had to change just couple of lines of code. We consider primitive typealiases useful, have more of them, and must stick with codegen

[2017-11-15 11:33] feikede opened #6964 "RxJava2 with retrofit2 generates wrong md doc"
##### Description

When I generate a Java client with {"useRxJava2":"true", "library":"retrofit2"} the generated docs are wrong, they don't match the api. Looks like it's just the standard java md-doc without the rxJava enhancements.

##### Swagger-codegen version

Version: 2.2.3 and 3.0.0-SNAPSHOT

##### Swagger declaration file content or url

can use Uber or any other example

##### Command lin

[2017-11-15 12:53] dgaedcke commented on #6962
thanks!!!  Will do.   Also, I had installed via HomeBrew & I'm not seeing any instructions for upgrading that.  Homebrew just keeps telling me it's already installed & search show's no other Taps.

brew search swagger-codegen
==> Searching local taps...
swagger-codegen ✔
==> Searching taps on GitHub...
==> Searching blacklisted, migrated and deleted formulae...

[2017-11-15 12:56] wing328 commented on #6962
HomeBrew only installs the stable version.

You can download the JAR of the master snapshot in https://github.com/swagger-api/swagger-codegen#compatibility and run something like:
[code]

[2017-11-15 13:13] jonaseck2 opened #6965 "[JAVA] Bug adding description to object definition includes unused io.swagger.annotations.ApiModel in generated code"
##### Description

We're using the maven plugin and the jaxrs-cxf-client generator and custom templates without any swagger annotation classes to generate API interfaces and pojos. When a description is added to an object definition like below, ApiModel is included in the imports, but never referenced in the generated code.

I've tried to use the importMappings and typeMappings configuration optio

[2017-11-15 13:31] wing328 commented on #6964
@feikede thanks for reporting the issue. May I know if you've time to contribute the fix?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/api_doc.mustache is a good starting point and you can use the following mustache tag to check rxjava2 setting:
[code]

[2017-11-15 13:37] dgaedcke commented on #6962
No....that didn't do it......generated function looks almost identical.
All the function args (except "shares") are still omitted from the final payload as shown below
I'm attaching our full spec to help debug the problem...
[code]

[2017-11-15 13:37] #6728 closed

[2017-11-15 13:43] JFCote commented on #6096
@wing328 Since it was fixed and merged on Aug 22, should we close this bug?

[2017-11-15 13:45] wing328 commented on #6919
Fixed via #6952

Thanks for your contribution.

[2017-11-15 13:45] #6919 closed

[2017-11-15 13:46] JFCote commented on #6126
@edrevo Do you have additional information related to my comment above or should we close this bug?

[2017-11-15 13:50] JFCote commented on #6182
@tzimisce012 Any progress on this feature?

[2017-11-15 13:51] tzimisce012 commented on #6182
I have been quite busy in my job but I have it on my TODOs. I have the hope of doing this on christmas holidays

[2017-11-15 13:52] JFCote commented on #5003
@wing328 I think this can be closed. I'm pretty sure everything has been done for a long time. Let me know if something is missing.

[2017-11-15 13:54] JFCote commented on #6182
Thanks for the update!

[2017-11-15 14:01] #5003 closed

[2017-11-15 14:02] JFCote commented on #6867
Hi @sashank , I'm the main contributor to the Play Framework Generator. @wing328 didn't tag me on this so I wasn't aware.

I will try to look into this next week. I wasn't aware that this option existed at all. That explains why the generator is not taking care of it. I'll keep you posted here.

[2017-11-15 14:54] wing328 commented on #6867
@JFCote sorry I forgot to tag you :(

[2017-11-15 15:29] marcindanek85 commented on #6869
The file DefaultCodegen.java after changes.

[DefaultCodegen.zip](https://github.com/swagger-api/swagger-codegen/files/1475270/DefaultCodegen.zip)

[2017-11-15 15:32] marcindanek85 opened #6966 "Code generation - property with string description of primitive type inside an array"
##### Description

For now it is very hard to define sth like:
private customArray: new CustomArray<string|number|boolean|Date>();
as the datatype property contains whole: _Array<string|number|boolean|Date>_ and there is no other alternative for promitive types, like _complexType_ for complex ones.

[2017-11-15 15:42] naveenkumar-007 opened #6967 "querystring parameters handling"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-15 15:49] cbornet commented on #6953
Your swagger response is of type
[code]
which doesn't indicate a file but a binary string response.
For a file response, you must use `type: file`

[2017-11-15 16:24] gustavoapaz commented on #6953
@cbornet thank you very much.

I am using [Restlet Studio](https://studio.restlet.com) to define my APIs.

When I use the _File_ type in Restlet
![image](https://user-images.githubusercontent.com/32820138/32846835-501409c0-c9f6-11e7-8bb8-905b1f65dd3a.png)

I get the YAML definition that I posted.

So I guess it is an issue in Restlet.

[2017-11-15 16:33] sherbondy commented on #5745
Would love to see the 2.3 release make it out into the world!

Lack of easily-configurable connection pool maxsize in the current python client code gen is putting a damper on my day.

Wish you all a swift and bug-free stable release cutting! And sorry for the issue-spam, really appreciate the open source work you all do.

[2017-11-15 16:55] JFCote commented on #6867
@wing328 No problem man! I'll look into this next week or the one after. I'm currently in a rush at work.

[2017-11-15 19:06] jsbournival commented on #6949
I tried with other generator, and they are working fine.

[2017-11-15 20:59] cbornet commented on #6953
Indeed :smile:

[2017-11-15 22:07] dgaedcke commented on #6962
I'm kind of blocked here....can someone please advise me?
Should I rollback to using Swift3 or is there something else I can try??

[2017-11-16 00:16] mazkozi commented on #6285
I face similar issue. If I change the error code to 200, it works fine. Is this a bug in swagger?

[2017-11-16 00:35] #6967 closed

[2017-11-16 01:30] Grauenwolf opened #6970 "Windows Installation Instructions are Unclear"
`wget` isn't a built-in Windows command and there are no alternative installation instructions. This could really use an installer, or if not that instructions that non-Java Windows users can understand.

[2017-11-16 01:42] Grauenwolf opened #6971 "[typescript-angular2] Encodings differ by OS"
##### Description

When generating typescript/angular 2 files on OS X we get a different file encoding than when generating the same files on Windows 10. This is causing a lot of false positives when performing a diff using Visual Studio and git.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

##### Command line used for generation

java swagger-codegen genera

[2017-11-16 02:09] ceridwen opened #6972 "Swagger Codegen will generate clients from invalid specs"
##### Description

`swagger-codegen generate` will generate a client on specs that `swagger-codegen validate` will raise an uncaught exception for.  I noticed this on a version of the 1.6 Kubernetes spec used to generate the Python client, but as of Kubernetes 1.8 the unedited spec is not valid but can still be used to generate a client.  Other tools that only operate on valid specs break on the K

[2017-11-16 05:50] cheriviralakiran opened #6974 "[HTML] If top level element is in array inside model object, static html generator is not generating model body"
##### Description

If top level element is an array inside model, model object is generated as **empty**.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation

swagger-codegen generate -l html -i <above json>

##### Steps to reproduce

Just use above command.

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-16 07:45] edrevo commented on #6126
Hi @JFCote, we ended up forking this codegen to suit our needs, so feel free to close the bug if you want. Wrt to your comments, I think the correct behavior if a client is breaking the swagger contract by passing in an invalid value is to return an error 400 (bad request). In my previous comment I mixed up 400 and 401, sorry about that. Cheers!

[2017-11-16 08:34] feikede commented on #6964
Yes, I think I can do this. Let me take a look at it.

[2017-11-16 08:37] Alex0176 commented on #6939
The Authorization is BearerToken, but this is missing to in the generated code.

[2017-11-16 08:42] wing328 commented on #6962
cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-16 09:09] wing328 commented on #6970
@Grauenwolf thanks for the feedback. I've revised it: https://github.com/swagger-api/swagger-codegen/blob/master/README.md#prerequisites

Please take a look to see if it's now clearer.

[2017-11-16 09:32] Grauenwolf commented on #6970
Looks good.

[2017-11-16 09:32] #6970 closed

[2017-11-16 10:01] Kvezon opened #6975 "Generator doesn't work with broken extensions"
##### Description

When I add an extension with wrong configured SPI generator can't start. Should generator just ignore broken extensions?

##### Swagger-codegen version

1.0.6

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

Create a jar with `META-INF/services/io.swagger.codegen.CodegenConfig` file that contains class name for cla

[2017-11-16 10:04] JacC510 opened #6976 "[Java] Add a method to edit default headers"
##### Description
Similar to the configuration class from c#, it sould be possible to set the default headers for each HTTP request.
At the moment adding deafult header will cause duplicates, beacause there is no way to remove the previous header.

##### Swagger-codegen version

CodeGen version: 2.2.3

##### Swagger-codegen Java library

resttemplate

##### Suggest a fix/enhancement
fix duplicate

[2017-11-16 11:58] Usnul commented on #6226
#6977
I do not have the environment set up locally. So i am unable to run the suggested checks.

[2017-11-16 12:51] wing328 commented on #6976
@JacC510 thanks for the suggestion. Please submit a PR so that we can more easily review the change.

[2017-11-16 13:14] Dhruv8015 opened #6979 "NSURLSession HTTP Load Failed with unsecured Domain"
##### Description

##### Swagger-codegen version

[2017-11-16 13:24] JacC510 commented on #6976
@wing328 I would do this, but I have no rights do publish a new branch.

[2017-11-16 13:24] tzimisce012 opened #6980 "[Retrofit2 + Play! WS client ] Add headers"
##### Description

I am not able to set custom headers from the `ApiClient` class.

##### Swagger-codegen version
2.3.0-SNAPSHOT
##### Suggest a fix/enhancement

Wouldn't be a good idea to have something like this?
[code]

[2017-11-16 13:31] JFCote commented on #6126
Ok thanks for the feedback @edrevo
There is definitely things that can be improved in the error handling. I'm taking notes of you comment for my next improvement PR.

If, in the meantime, you come back to our codegen, please  consider creating a new bug for the things you think are important. If you can separate each problem in its own task/bug, it will also help us to prioritize each of them.

@w

[2017-11-16 13:47] tzimisce012 commented on #6096
Yes, you can close this bug. We have been using the updated version couple months ago and it works great.

[2017-11-16 13:50] wing328 commented on #6976
Please have a look at https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements to see if it helps.

[2017-11-16 14:11] tzimisce012 commented on #6980
An option might be the usage of filters. The support for this was included on [this PR](https://github.com/swagger-api/swagger-codegen/pull/6499). But I am not sure about how to use this class...

[2017-11-16 14:36] JacC510 commented on #6976
@wing328 Thanks.
Here the PR #6981

[2017-11-16 14:58] HermenOtter opened #6982 "[Angular][Typescript] Question: How do you generate multiple api's for an application in a robust way?"
##### Description
How would one go about generating multiple API's for an application in a robust way? Currently I have 2 API's published on SwaggerHub along with an shared domain causing external references, I do not mind having to generate them separate. However the problem is that both API's generate an ApiModule import with the same name. I have looked at combining swagger definitions with swa

[2017-11-16 14:59] HermenOtter commented on #6982
@kenisteward @bedag-moo

[2017-11-16 15:12] macjohnny commented on #6982
where exactly does the api module naming lead to a problem?
you can simply alias the module names when importing, i.e.
[code]
would this work for you?

[2017-11-16 15:14] macjohnny commented on #6971
@Grauenwolf are you referring to the different line endings? in that case you can configure git accordingly: https://help.github.com/articles/dealing-with-line-endings/

[2017-11-16 15:21] Grauenwolf commented on #6971
No, the presence or lack of a byte order mark. Those annoying, invisible leading characters that denote if a file is ASCII or UTF8.

[2017-11-16 15:32] kenisteward commented on #6982
@hermenotter what @macjohnny said

[2017-11-16 16:12] groie commented on #6410
I find  this a bit problematic: in Angular we cannot just create restriction annotations in models. Angular supports two validation variants: model- and  template-driven. In template driven validation the validation rules are written in the html-template and in model/reactive-driven is rules are implemented programmatically in a Component (or another class). See the [following Plunkr](https://plnk

[2017-11-16 16:19] wing328 commented on #6410
cc @TiFu  @taxpon  @sebastianhaas  @kenisteward @Vrolijkx

[2017-11-16 18:08] etherealjoy opened #6983 "[qt5cpp][cpprest] allOf in request body schema produces blank type"
When Using allOf in the description of a body parameter then the combination of multiple ref types is not assembled to create a new type.
##### Description

using **allOf** in the parameter schema causes no type to be generated.

Generated code
_void containerUpdate(QString* id,  update);_
instead of
_void containerUpdate(QString* id, SWGResources update);_

##### Swagger-codegen version

2.2.3
2.

[2017-11-16 18:13] etherealjoy opened #6984 "[qt5cpp] serializing arrays of ints causes segfault"
When the parameter or property is an array of int, serializing it causes a seg fault.
##### Description

when an array of int is serialized, it causes a seg fault.
##### Swagger-codegen version

2.2.3
2.3.0
3.0.0
##### Swagger declaration file content or url

##### Command line used for generation

java -jar /home/dev/swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar gener

[2017-11-16 18:53] fralalonde commented on #6756
I have just submitted #6985 to better match rust int types to schema constraints on rust-server codegen.

I flagged the commitee members as per PR rules but I thought I should also drop a notification here. Let me know what you think.

[2017-11-17 09:15] wing328 commented on #6979
Which version of Swift? The latest master supports Swift 1.x, 3.x and 4.x.

SNAPSHOT version of the latest master can be found in the project README.

[2017-11-17 09:33] wing328 commented on #6897
FYI. I've filed https://github.com/swagger-api/swagger-codegen/pull/6986 to throw an exception if dot is found in the path.

[2017-11-17 10:18] HermenOtter commented on #6982
@macjohnny Thank you for the quick reply. That is a quite simple solution that works, I didn't think of it. I will give it a try.

[2017-11-17 12:34] macjohnny commented on #6971
@wing328 I guess this would be an issue independent of the language, i.e. the BOM will currently be os-dependent for any target language, isn't it?

[2017-11-17 13:25] dylan-colaco commented on #6127
Exactly my problem.

[2017-11-17 13:42] naveenkumar-007 opened #6990 "create two path parameters dynamically"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-17 14:14] dgaedcke commented on #6962
Any feedback or suggestions please??

[2017-11-17 14:28] wing328 commented on #6962
I used https://editor.swagger.io to load the spec and got some errors. I would suggest you review the spec to first those errors.

[2017-11-17 16:03] swavans commented on #6958
Hi Sorry for the late response, I'm not sure what you mean by spec?
So it looks like this:
`{
  "swagger": "2.0",
  "info": {
    "version": "v",
    "title": "v"
  },
  "host": "localhost:3000",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Rest/Action": {
      "post": {
        "tags": [
          "Rest/Action"
        ],
        "operationId": "Authentication_Action",
        "consumes":

[2017-11-17 16:20] Grauenwolf commented on #6971
Looks like Java picks a default from the OS if the developer doesn't specify. https://stackoverflow.com/questions/9312816/java-platforms-default-charset-on-different-platforms

[2017-11-17 17:22] mdkannan commented on #5374
Hi All,
Thanks and i too try to find same but my question is that these following lines are working fine in  Angular1.x. i need to do same kind of configuration in angular4. Please help to write at common place or generic ways to config in angular4.
config(['$httpProvider',
                       function($httpProvider) {

    	//To attach cookies in response during rest api call
    	$httpProvide

[2017-11-17 18:06] xmeng1 commented on #5374
@mdkannan cannot understand what you mean. Currently, the configuration is the injectable for the API, so you can inject the value of withCredentials as true in the Angular 2+ project. such as:
[code]

[2017-11-17 18:13] dylan-colaco commented on #5240
Is there a config option to always use empty sets (arrays, maps) like the old swagger versions had? I updated my swagger and my code is throwing a lot of null pointer exceptions!

[2017-11-17 18:43] mdkannan commented on #5374
@xmeng1  you are almost got it what i expect.
shall i use this in app.module.ts as one time configuration ?? is it possible?. if it is possible. how can i inject?

[2017-11-17 19:01] robbiecooray commented on #4669
Hi @HugoMario , can you please let us know the ETA on 3.0 support?

[2017-11-18 00:00] nemecec opened #6992 "[JAVA] dateLibrary "java8-localdatetime" option is broken"
##### Description

Using `dateLibrary` option with `java8-localdatetime` value generates `JSON.java` with Gson type adapter for parsing `LocalDate` not `LocalDateTime` (as expected).

As a result, this option is useless for parsing `date-time` fields (the common scenario).

##### Swagger-codegen version

2.2.3

##### Command line used for generation

Options:
* language: `java`
* dateLibrary: `jav

[2017-11-18 07:47] wing328 commented on #6992
Can you please try 2.3.0 (latest master) to see if it's still an issue?

v2.3.0 SNAPSHOT can be found in the README.

[2017-11-18 10:37] wing328 commented on #6984
cc @ravinikam @stkrwork

[2017-11-18 12:59] #6990 closed

[2017-11-18 13:27] wing328 commented on #6949
@jsbournival I really have no clue. Maybe using the JAR (swagger-codegen-cli) to generate `html2` as a workaround for the time being.

[2017-11-18 17:06] xmeng1 commented on #5374
you can inject it like that for global app in app module:
[code]

[2017-11-18 17:47] d-date opened #6993 "[Swift] Introduce swiftlint for generated code"
##### Description
The code generated by mastache is too much warned by swiftlint. We should run `swiftlint autocorrect` after generated codes.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

When language is swift3/4, we should run `swif

[2017-11-19 17:36] stefanmeschke opened #6995 "[JAVA] Exception (NullPointerException) for parameter with schema array and items as strings"
##### Description

I'm getting the following error:

[code]

##### Swagger-codegen version

Version: 2.2.1

##### Swagger declaration file content or url

[code]

If I remove
[code]
the generation succeeded.

##### Command line used for generation

`swagger-codegen generate -i ./api-docs/test.yml -l typescript-angular2 -o ./src/app/api/test-api/`

##### Steps to reproduce

Just run the code genera

[2017-11-19 18:48] dgaedcke commented on #6962
Ok good news!!   The problem did lie with my swagger generator.
And that developer has fixed his bug so my API is generating quite well now.

There is one problem with your promises implementation....for the latest PromiseKit
for a Promise<Void>, you are generating:
deferred.fulfill( )
when you should generate
deferred.fulfill( () )

[2017-11-19 20:48] masroorhasan opened #6996 "[csharp] sortParamsByRequiredFlag not applied to Model generation"
##### Description

Generating a csharp client with the following config

[code]

The `sortParamsByRequiredFlag` defaults to `true`, but I thought I should just explicitly set it in case that helped.

However, the model constructor parameters are sorted alphabetically even when I'm expecting the required parameters to be sorted first.

###Example:

A generated model where `JobTemplate` and `Schedul

[2017-11-19 21:13] gustavoapaz commented on #6953
Issue reported to [Restlet](https://github.com/restlet/restlet-framework-java/issues/1300).

[2017-11-20 02:33] gustavoapaz commented on #6953
@cbornet when I use the swagger response of type file
[code]
the cxf server stub is generated like this:
[code]
But, this way I can not use a file that does not exist on disk.

[2017-11-20 06:19] inforeqd512 opened #6998 "[Swift4] Accept and Content-type headers should be set as specified in swagger specs"
##### Description

Accept headers should be validated with the allowed accept header in the produces section of the YAML specs

Content-type header should be set as the one from YAML

so that the request going out is well constructed per the specs set in the YAML file.

This is happening in the ObjC code generated from the same snapshot but not in the Swift code

##### Swagger-codegen version

2.3

[2017-11-20 06:23] inforeqd512 commented on #6763
by objective C compatibility I thought the codegen would generate the swift files with @objc @objcmembers keywords so that the functions/properties are exposed to objective c. At least for the model objects deserialised from the response. Is there a way to do this using config for objects that need to be bridged to objective C?

In your above code, also I could not see this happening....

[2017-11-20 06:30] cbornet commented on #6953
I guess `javax.ws.rs.core.Response` return type would be more flexible here.

[2017-11-20 06:41] cbornet commented on #6953
I checked and all other JAX-RS generators return `Response` in their stub for any type of response. I think this should also be the case for CXF as it gives more control over the response (can add headers, etc...).

[2017-11-20 06:58] wing328 commented on #6763
@inforeqd512 what about customizing the Swift4 templates to add the `@objcmembers` keywords and use the templates with the `-d` option?

[2017-11-20 09:49] naelrashdeen opened #6999 "[PHP][Symfony] Further enhancements"
### PR checklist

- [x] Read the [contribution guidelines](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md).
- [x] Ran the shell script under `./bin/` to update Petstore sample so that CIs can verify the change. (For instance, only need to run `./bin/{LANG}-petstore.sh` and `./bin/security/{LANG}-petstore.sh` if updating the {LANG} (e.g. php, ruby, python, etc) code gene

[2017-11-20 09:54] Jenishmistry opened #7000 "NSURLSession/NSURLConnection HTTP load failed"
##### Description
 Hello, i am using swagger codegen for one of my project. Right now i am stuck in some situation.
In swift 3.0 when i load api with https with alamofire its working fine, but when i load api with swagger codegen api, its not working. and give me error like this,

nw_coretls_callback_handshake_message_block_invoke_3 tls_handshake_continue: [-9812]

NSURLSession/NSURLConnection HTT

[2017-11-20 10:46] nemecec commented on #6992
Looking at this file in master, I fail to see how this could possibly work correctly.
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/JSON.mustache

In addition to (or instead of) `LocalDateTypeAdapter`, there should be also `LocalDateTimeTypeAdapter`.

[2017-11-20 10:50] nemecec commented on #6992
Same applies for https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/retrofit2/JSON.mustache

Probably every implementation that uses Gson. Jackson is not affected, as that uses Jackson built-in module for java.time APIs.

[2017-11-20 10:50] cbornet commented on #6992
@nemecec note that LocalDateTime is not the type to use for swagger's date-time type. We only provided the option for backward compatibility and you should avoir using it if possible.

[2017-11-20 10:53] cbornet commented on #6992
Swagger's date-time follows [rfc3339](https://tools.ietf.org/html/rfc3339#section-5.6) format so it must have a timezone.

[2017-11-20 12:47] naelrashdeen commented on #6999
@jebentier @dkarlovi @mandrean @jfastnacht @ackintosh

[2017-11-20 12:56] nemecec commented on #6992
Well, I have an API which is not under my control and I want to generate a client to consume that API. As such, I'm forced to use `LocalDateTime`, other options fail to parse the timestamp without timezone.

[2017-11-20 13:33] przemyslawlib-blueveery opened #7002 "How to reuse existing language support?"
##### Description

I want to add a bunch of "support" files to existing language. What should I do to copy existing generator+template combo to be able to customize it.
(I would like to work on a copy so that future swagger-codegen changes do not break them. I think I need to modify generator as well to add lines declaring new "support" files.)

I've tried to follow this to create custom code gen:

[2017-11-20 14:03] MikeRalphson opened #7003 "Node.js generator implementation with OpenAPI 3.0 support"
##### Description

In the absence of official support for OpenAPI 3.0 so far, I have put together a Node.js [implementation](https://github.com/mermade/openapi-codegen) of the generator engine, using the `swagger-codegen` templates. It supports OpenAPI 3.0 natively, and 2.0 by converting the definition internally. It is a 'clean-room' re-implementation rather than a port of the Java source. It is

[2017-11-20 14:04] MikeRalphson commented on #6598
Please see #7003 for an experimental implementation of the generator engine in Node.js which supports OpenAPI 3.0

[2017-11-20 14:04] MikeRalphson commented on #4669
Please see #7003 for an experimental implementation of the generator engine in Node.js which supports OpenAPI 3.0

[2017-11-20 14:05] MikeRalphson commented on #6517
Please see #7003 for an experimental implementation of the generator engine in Node.js which supports OpenAPI 3.0

[2017-11-20 14:05] MikeRalphson commented on #6332
Please see #7003 for an experimental implementation of the generator engine in Node.js which supports OpenAPI 3.0

[2017-11-20 14:14] CommodoreBeard commented on #7003
Thank you @MikeRalphson Ill start having a play with it today.

[2017-11-20 14:26] naveenkumar-007 commented on #6908
after the sdk is created the localVarPath is comming like
localVarPath = "/GetArrayRequest_ListSamplessample
instead  of /port

[2017-11-20 14:45] apurvjain17 commented on #2437
Any specific reason for doing this?
I mean why not put <source>src/main/java</source> and then adding the packages generated by swagger-codegen to .gitignore?

[2017-11-20 17:06] naveenkumar-007 opened #7004 "swagger codegen localvarpath in sdk is not created"
after the sdk is created the localVarPath is comming like
localVarPath = "/GetSampleRequest_ListSamplessample
instead of /sample

##### Description

##### Swagger-codegen version-2.2.3

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-20 17:08] wing328 commented on #7002
@przemyslawlib-blueveery can you please try https://github.com/swagger-api/swagger-codegen/pull/6487 to see if it would meet your requirement?
[code]

[2017-11-20 17:11] wing328 commented on #6993
@d-date thanks for the suggestio, which sounds good to me to leverage some third-party tools to improve the code format.

I might be able to come up with something this coming weekend. Will keep you posted.

cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-20 17:14] wing328 commented on #6995
@stefanmeschke can you show an example of what the HTTP request body looks like?

[2017-11-20 17:25] wing328 commented on #2662
@SergeyLyakhov very good suggestion. Using vendor extension is definitely one way to hide password or other sensitive information in the output.

[2017-11-20 17:49] wing328 commented on #6962
Please open another issue to track the promises implementation.

[2017-11-20 17:49] #6962 closed

[2017-11-20 18:02] jgavris commented on #6962
Do recommend using the latest release if you're on Swift 4. The latest release is not something you can get from homebrew.

[2017-11-20 18:21] jgavris commented on #6993
It of course depends on your swiftlint configuration. I would encourage you to ignore in swiftlint any code that isn't your own. We do that for example for our generated swagger clients.

[2017-11-20 19:05] dgaedcke commented on #6962
Yes...I'm on Swift 4 and using the latest version of the JAR
Opening a new issue now for the issue with the void promise return value.

[2017-11-20 19:07] dgaedcke opened #7005 "deferred.fulfill for a Promise<Void> has issue with latest PMK, Swift4 & Xcode 9"
Problem with your promises implementation....for the latest PromiseKit
for a Promise{Void}, you are generating:
deferred.fulfill( )
when you should generate
deferred.fulfill( () )
Note the extra parens as the void arg

[2017-11-20 19:08] dnome2 commented on #6863
can this support be added in future version?

[2017-11-20 21:32] sekharpatil commented on #5900
Pls let me know if this is fixed

[2017-11-21 01:22] avernonquantify opened #7007 "NullPointerException in SpringCodegen due to ModelUtils returning possibly null values in Operation[]"
##### Description

If PathItem contains null values for Operations then line 418 in SpringCodegen throws a NPE.
 for (Operation operation : operations) {
  if (operation.getTags() != null) {  // line 418

##### Swagger-codegen version

3.0.0_enhancements

##### Swagger declaration file content or url

##### Steps to reproduce

##### Related issues/PRs

<!-- has a similar issue/PR been reported/ope

[2017-11-21 03:08] wing328 commented on #5900
@sekharpatil I don't think anyone has started working on it. May I know if you've time to contribute the generator?

[2017-11-21 05:49] Sandstone-WeiWenHo opened #7008 "Nested Definition of Primitive Types Generate Empty Classes"
##### Description

**Nested** definitions of a primitive type (e.g. string, number, integer) end up generating empty classes (Java).

Essentially, this is the same issue as #5382, except that these definitions are nested more than 1 layer deep.

##### Swagger-codegen version

2.3.0-SNAPSHOT, master

##### Swagger declaration file content or url

[code]

Generated code: [model.zip](https://github.c

[2017-11-21 06:12] inforeqd512 commented on #6763
yes. was thinking about this as the last resort ... but wanted to avoid tampering with templates so we can just use the out of box implementations each time.. however will give this a go as it would be nice to know how to use this feature.

[2017-11-21 06:56] inforeqd512 opened #7009 "[Swift4] - can Serialised Response Objects not have optional properties?"
##### Description

Currently all properties in the response objects are optionals, which makes it tedious to use as unwrapping is required everywhere .

Most of the times when an API returns a response, almost all fields are such that they would contain values except for a few whose cardinality could be zero. So only these fields require special optional treatment

##### Swagger-codegen version

2

[2017-11-21 06:57] #6976 closed

[2017-11-21 07:22] masaeedu commented on #5104
@wing328 Might be a good idea to discuss this stuff in a dedicated issue or gitter or something for visibility.

[2017-11-21 07:43] wing328 opened #7010 "[Scala][Lagom] enhancement to improve the Lagom server generator"
##### Description

Here is a list of enhancements:

- [ ] Form Parameter support
- [ ] Support seq in query parameters
- [ ] File Handling support

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/6901

##### Suggest a fix/enhancement

If anyone wants to work on these enhancements, please reply to let us know.

cc @gmkumar2

[2017-11-21 07:59] poppinlp commented on #7003
@MikeRalphson  Thanks a lot. Really a good job. I'll try it and wanna do some help if i could. :)

[2017-11-21 08:38] Elufimov opened #7012 "[Dotnet] Update RestSharp to latest version"
The latest version of RestSharp support .NETFramework 4.5.2 and .NETStandard 2.0 out of the box.

[2017-11-21 08:38] #6982 closed

[2017-11-21 09:00] arhont375 opened #7013 "[Typescript-Fetch] incorrect handling of nullable for additionalProperties"
##### Description

It will create same code for additional properties with nullable and non nullable elements.

Generated code:
[code]
How I think it should be
[code]

##### Swagger-codegen version

Latest stable 2.2.3
And latest 3 (Tue Nov 14 06:42:44 UTC 2017)

##### Swagger declaration file content or url
Try to generate with adding somewhere such definitions
[code]
##### Command line used for

[2017-11-21 09:47] wing328 commented on #5104
@masaeedu you mean opening another issue to discuss the technical details in consolidation?

[2017-11-21 10:38] wing328 commented on #7012
@Elufimov glad to hear that. May I know if you've time to contribute the enhancement?

A good starting point is https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/csharp

[2017-11-21 11:03] stefanmeschke commented on #6995
@wing328 Thanks for your reply.
Yah, sure.

POST /api/pets/bulk
Request Payload:
[code]

The swagger declaration is valid. I copied it to the swagger editor and tried the request. It works as expected. Do you need more information?

[2017-11-21 13:02] GitHub30 commented on #7003
thx

[2017-11-21 13:09] Elufimov commented on #7012
If I will update restsharp to 106.1.0 it will raise runtimes versions to .NETFramework 4.5.2 and .NETStandard 2.0. Would it be fine?

[2017-11-21 13:46] kenisteward commented on #5104
To be honest I made this a long time ago when the codegem was very
different. I think this one should probably be closed and then we can
discuss a new issue that woould combine them in their current state.

On Tue, Nov 21, 2017, 4:47 AM William Cheng <notifications@github.com>
wrote:

[2017-11-21 15:21] tomer opened #7015 "operationId is ignored if contains periods"
##### Description

I'm generating a python-flask server from a yaml file which contain periods in operationIds. At the moment swagger-codegen ignore the operationId definition and replace it with names such as get_0, get_1 and so on. If I replace the period manually with an underscore everything works as expected, but since the yaml file is 3rd party, I can't change it directly in the upstream.

#

[2017-11-21 15:48] carpani-mailup opened #7016 "[Go] Handle 204 response without json conversion"
##### Description

The generated api client handles a 204 response with no data as a normal 200 response, where data is expected.

When a request retuns a status 204 with no data in the body, the library will treat this as a success and return an empty object.
The api client will call deserialize with the empty object, which will result in unexpected data.

##### Swagger-codegen version

swagger-c

[2017-11-21 16:17] wing328 commented on #7012
Currently, the C# API client generator supports the following:
[code]
For version other than 4.5, I think we'll need to keep using the existing RESTSharp version.

(I'll file a PR to remove the `uwp` option)

cc @jimschubert @mandrean

[2017-11-21 16:26] wing328 commented on #7015
@tomer Please try the latest master to see if it's still an issue. The SNAPSHOT version of the latest master (2.3.0) can be found in the README.

[2017-11-21 16:50] wing328 commented on #3812
I would suggest a plan B:
- rename `scala` to `scala-wordnik` in case Scala developers still want to use it (but we will remind them this generator is no longer actively maintained)
- rename `akka-scala` to just `scala` and suggest the community to work on this generator moving forward

cc @ramzimaalej

[2017-11-21 16:53] kbedel commented on #6459
@jimschubert Great, I tested this with the latest 2.3.0-SNAPSHOT build and everything looks good to me. Thanks for resolving this. Do you want me to close the issue?

[2017-11-21 16:56] jimschubert commented on #6459
Awesome! You could go ahead and close it if master works. If you encounter any other issues, please open a new issue.

[2017-11-21 16:57] #6459 closed

[2017-11-21 18:10] ramzimaalej commented on #6241
@anujshahx can you please post the json you used to generate the client. it helps us reproduce the issue.

[2017-11-21 20:30] papageo opened #7018 "[Swift 3] body parameter cannot be an integer"
##### Description

The generation of the Swift-3 client produces wrong code, when it comes to generating a call that has a parameter which is of integer (or more generally raw-type).

##### Swagger-codegen version

reproduced with both

- https://editor.swagger.io/
- latest editor from github

##### Swagger declaration file content or url
[code]

##### Command line used for generation

##### Steps

[2017-11-21 23:20] inforeqd512 commented on #7009
just re-read Swagger data types and this can be achieved by specifying the required list as below
[code]

[2017-11-21 23:20] #7009 closed

[2017-11-22 02:39] inforeqd512 opened #7019 "[Swift4] Should generate validation information from specs for requests"
##### Description

I use swagger-codegen to generate an API for Swift4.

The Swagger YAML file contains as well additional information. e.g. minLength, maxLength
Issue: I cannot find this information (minLength,maxLength) in the generated code for Swift 4 requests.

##### Swagger-codegen version

snapshots:
3.0.0 = tried with swagger-codegen-cli-3.0.0-20171114.064241-7.jar
2.3.0 = and with swagger

[2017-11-22 03:57] inforeqd512 opened #7020 "[Swift4] Codable models can rely on default implementation of decode/encode functions"
##### Description

The encode and decode method implementations are not required as Swift has default implementation for all Codable objects and we can rely on that

##### Swagger-codegen version

snapshots:
3.0.0 = tried with swagger-codegen-cli-3.0.0-20171114.064241-7.jar
2.3.0 = and with swagger-codegen-cli-2.3.0-20171121.153419-270.jar

##### Swagger declaration file content or url

the genera

[2017-11-22 04:19] #6512 closed

[2017-11-22 08:08] tomer commented on #7015
@wing328 I don't see any difference with 2.3.0-SNAPSHOT.

[code]
[code]

[2017-11-22 08:18] wing328 commented on #7015
@tomer from the warning message, it looks like some `operationId` are duplicated and therefore Swagger Codegen automatically generates a unique `operationId` (method name) so that the auto-generated code works right out of the box.

[2017-11-22 08:21] naveenkumar-007 opened #7022 "swagger codegen"
two api's with same operationid, ex List is prefixed with request.
the operationid is removed the prefix with --remove-operation-id-prefix command as michael cheng suggested.

Now the problem is even path also getting prefixed with the request. is there any option to remove the prefix as i did it for operationid. is there any option to remove the path prefix.
Please suggest.

##### Description

##

[2017-11-22 08:54] #6609 closed

[2017-11-22 09:40] nalmeida84 commented on #5646
I'm using resteasy client and I have the same question about... It appears that the only client that support xml payload is the resttemplate. There is any way to use jersey, okhttp or resteasy client with xml responses? Thanks you!

[2017-11-22 10:31] craffael opened #7024 "[NancyFx] date field mapped to ZonedDateTime"
##### Description

If a definition in a swagger spec contains a field with `format: date`, the corresponding c# field is of type `NodaTime.ZonedDateTime`. This is wrong as a `date` field itself does not carry any time/time-zone information. One particular problem with this is that the corresponding field is serialized wrongly as a RFC3339 `full-time` instead of a `full-date`.

##### Swagger-codege

[2017-11-22 11:40] tomer commented on #7015
@wing328 There are no duplications, and if I replace `.GET` (or POST, DELETE, etc.) with `_GET`, it doesn't generate these method names.

replaced
[code]
with -
[code]

[2017-11-22 13:09] wing328 commented on #7015
@tomer let me take another look ...

[2017-11-22 13:54] HermenOtter commented on #7022
@naveenkumar-007 Which language used for generation? Can you post an example of your swagger definition.

[2017-11-22 14:26] wing328 commented on #7015
The following lines have the same `operationId` (ApplicationsDnsRules.GET):
- https://forge.etsi.org/rep/gitweb.cgi/MEC.GS_011.git/blob/HEAD:/Mp1.yaml#l127
- https://forge.etsi.org/rep/gitweb.cgi/MEC.GS_011.git/blob/HEAD:/Mp1.yaml#l146

As a workaround, can you download the YAML file and fix the duplicated operationId locally?

[2017-11-22 15:01] batwad commented on #2437
Man, coming from wsdl2java and the like this plugin is a PITA to get working.  I've finally figured out the required voodoo to get usuable client code:

[code]

This yields a reasonable layout which works in eclipse and Maven CLI:
[code]

[2017-11-22 15:02] batwad commented on #1737
FYI I figured out how to get client-only sources generated that works in eclipse here: https://github.com/swagger-api/swagger-codegen/issues/2437#issuecomment-346375746

[2017-11-22 15:55] shoshins opened #7026 "tvOS is not supported"
**tvOS is not supported**

##### Description

The platform of the target {project} (tvOS 9.0) is not compatible with {SwaggerClient}, which does not support 'tvos'

[2017-11-22 16:19] naveenkumar-007 commented on #7022
after the sdk is created the localVarPath is comming like
localVarPath = "/GetSampleRequest_ListSamplessample
instead of /sample

[2017-11-22 16:26] tomer commented on #7015
Please note there is ApplicationsDnsRule.GET and ApplicationsDnsRule**s**.GET (the first two lines in the output below), so there are no duplications in file…

[code]

Is it against any standard to supply dots in the `operationID` field? If so, I'd forward a request to change the value to the upstream.

[2017-11-22 16:42] wing328 commented on #7015
You're right. I'll include additional log to see which operationId is duplicated (maybe caused by a bug).

[2017-11-22 19:11] ramzimaalej commented on #2359
@wing328 I raised a PR for Akka-Scala

https://github.com/swagger-api/swagger-codegen/pull/7027

[2017-11-22 19:46] ramzimaalej commented on #3812
@foxmk are you actively working on this? If yes, do you need help?

I think we should follow what you did to the Java generator, have only one generator with the option to select desired libraries.

[2017-11-22 21:30] jimschubert opened #7029 "[csharp] Differentiate between target framework and target framework version"
##### Description

C# client supports .NET Standard 1.3 under the misnomer of v5.0. We don't yet support .NET Standard 2.0, although it should be a minor upgrade by the IDE to import our generated projects.

v5.0 refers to the PCL version, which is a different project file structure (I hope to fix this issue in the next week or two by separating PCL, netstandard, and .net framework into separate o

[2017-11-22 21:32] jimschubert commented on #7012
@wing328 clarification: we don't support netstandard 2.0. That was just announced in August, and I haven't seen changes to add anything specific to the newer version.

Also, I have opened #7029 to discuss some issues with versioning of things like `v5.0` referring to `netstandard1.3` when it's meant to refer to PCL 5.0.

[2017-11-22 21:45] zhengl7 opened #7030 "[Python] Cannot resolve model correctly when $ref file name collide with primitive data type name"
##### Description

When I try to define an object named array.yaml and reference it in another object, the reference won't be correctly resolved. Swagger-code-gen would think I'm referencing just an native array, thus it'll be translated to list type for python instead of my own `array` class.

##### Swagger-codegen version
2.2.3

##### Swagger declaration file content or url
Below is a sample yam

[2017-11-23 06:59] vlgunarathne opened #7033 "[Android] Android Client SDK build fail when no "definitions" in OpenAPI specification"
##### Description

The "DefaultApi.java" class and the "JsonUtil.java" class of an Android Client SDK generated from a swagger definition without a "definitions" section, has an import statement
"import org.wso2.client.model.<title>.*".
When generating an Android Client SDK from a swagger definition without a "definitions" section, the package "io.swagger.client.model" does not get generated. Henc

[2017-11-23 09:02] #6902 closed

[2017-11-23 09:30] wing328 commented on #5646
@nalmeida84 we definitely welcome contribution to add XML support for other Java API clients (e.g. resteasy, etc)

Let me know if you've time to contribute the enhancement and I'll show you some good starting points.

[2017-11-23 09:38] wing328 commented on #7033
@vlgunarathne as a workaround, I wonder if you can try generating the Java API client, which is also compatible with Android: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-11-23 09:41] ackintosh commented on #6910
@jbs1 Could you debug the [$headers](https://github.com/jbs1/esi-php-client/blob/master/SwaggerClient-php/lib/Api/CorporationApi.php#L3237)? If $headers contains `Authorization` key and token which you passed, it means that generated codes works fine.

[2017-11-23 09:41] #7015 closed

[2017-11-23 09:43] wing328 commented on #7015
@tomer I filed #7035 to file it and the PR has been merged into master.

Please pull the latest master to give it a try or use the SNAPSHOT version mentioned in the README (after the CI jobs in master complete)

[2017-11-23 09:46] ackintosh commented on #6777
@jbs1 The matter about `Guzzle6\Client` has been fixed by #6930. ✨

[2017-11-23 09:57] ackintosh commented on #5841
Yes!
I think that it is better to match API definition key(`host`, `basePath`) and Configuration class interface(`setXXX()`, `getXXX()`) to prevent developers from getting confused.

[2017-11-23 10:14] nalmeida84 commented on #5646
Yes, why not... I'll be on holidays until the beginning of the year but I can take a look.

[2017-11-23 10:24] wing328 commented on #5646
@nalmeida84 the following PRs are good starting points:
- https://github.com/swagger-api/swagger-codegen/pull/5962
- https://github.com/swagger-api/swagger-codegen/pull/6150

Let me know if you've any question or need any help (e.g. testing).

Enjoy your vacation!

[2017-11-23 10:34] wing328 commented on #6995
I agree it's valid. 2.2.1 was released a while ago.

Please give it another try with the latest master (the SNAPSHOT version can be found in the README)

[2017-11-23 11:18] magiepooh commented on #6892
I'll work on this!

[2017-11-23 12:48] Daolot opened #7037 "How to disable Usage and SDK Samples on html2"
How to disable Usage and SDK Samples tab on html2 (Curl Java Android Obj-C JavaScript C# PHP) or separate language?

[2017-11-23 14:07] tomer commented on #7015
I can confirm it does work as expected.

[code]

[2017-11-23 16:00] hunzai opened #7038 "Duplicated model attribute is generated when defined a variable with underscore in swagger"
##### Description
I am trying to generate code (models and apis) from swagger definition responses. For compatibility reasons we have a  defined one attribute twice but technically the key is different.

See following response.

`{
    "**accessToken**": "<TOKEN>,
    "**access_token**": "<TOKEN>",
    "user": {
        "id": "23444",
        "firstName": "Test",
        "lastName": "De",

[2017-11-23 16:25] vlgunarathne commented on #7033
@wing328, Got it working with the Java API client. Thanks for the workaround!

[2017-11-23 16:47] mbracero commented on #6488
+1

[2017-11-23 17:31] RitwikChatterjee opened #7039 "Generated node server fails with: "Cannot resolve the configured swagger-router handler:""
##### Description

Node server stub generated from Swagger 2.0 specification starts up fine, but throws an error on sending the request.

Here is the error log:
[code]

##### Swagger-codegen version

##### Swagger declaration file content or url
https://app.swaggerhub.com/apis/RitwikChatterjee/transactions/1.0.1

##### Command line used for generation

Used editor.swagger.io and www.swaggerhub.com

[2017-11-23 18:00] wing328 commented on #7033
@vlgunarathne glad to hear that. Closing this one as I remember there's another issue to track something similar.

[2017-11-23 18:00] #7033 closed

[2017-11-23 18:00] masroorhasan commented on #6996
/sig Enhancement: General

[2017-11-23 18:10] RitwikChatterjee opened #7040 "Codegen at editor.swagger.io failing to generate code"
##### Description

editor.swagger.io is failing to generate any code (server or client) based on the order in which I am defining my oas file. (OASv2.0)
www.swaggerhub.com is able to generate the code for the same specification file.

##### Swagger-codegen version

The version used by editor.swagger.io (2.2.3)
Note: Swaggerhub.com uses an older version of codegen and is able to generate the code.

[2017-11-23 19:58] dsk1306 opened #7041 "[Swift 4] Cannot convert value of type 'RequestBuilder<_>.Type' to specified type 'RequestBuilder<MyGeneratedModel>.Type'"
##### Description

I've got a new project where all REST code is generated by swagger-codegen, which I've never used before. Everything seems to work fine except requestBuilder initialisation error

##### Swagger-codegen version

editor.swagger.io (2.2.3)

##### Steps to reproduce

Uploaded my .yaml file at editor.swagger.io.
Added files from .zip to my xCode project.
Got error

[code]

at

[code]

[2017-11-24 02:45] wing328 commented on #6910
@jbs1 what about using the stable version 2.2.3 to generate the PHP client and give it a try? This will help us isolate the problem.

(PHP client in 2.3.0 has been refactored)

[2017-11-24 02:49] wing328 commented on #7004
Sorry don't quite understand your question.

[2017-11-24 02:57] wing328 commented on #7041
@dsk1306 please try the latest master as there's been many enhancements, bug fixes to the Swift4 generator.

SNAPSHOT version of the latest master (2.3.0) can be found in the README.

[2017-11-24 04:05] justwy opened #7044 "retrofit2 codegen depends on a corrupted version of oauth2 client"
https://github.com/swagger-api/swagger-codegen/blob/12ccdcddcd60dbeaddccadef2723b6daaa6e6cba/modules/swagger-codegen/src/main/resources/Java/libraries/retrofit2/pom.mustache#L173

[org.apache.oltu.oauth2.client v1.0.1](https://bintray.com/bintray/jcenter/org.apache.oltu.oauth2%3Aorg.apache.oltu.oauth2.client/1.0.1) artifacts seem to have an issue where `org/apache/oltu/oauth2/common/` package are

[2017-11-24 09:22] naveenkumar-007 commented on #7004
It was my fault
Thanks

[2017-11-24 09:22] #7004 closed

[2017-11-24 10:04] jeusdi opened #7046 "Is there anyway to get an openapi documentation compatible with odata?"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-24 10:20] MikeRalphson opened #7047 "[bash] client.sh syntax check fails with 'bash -n'"
##### Description

Code generated with the latest template fails to validate with `bash -n`, this means the script may fail when it reaches the affected line in normal execution.

##### Swagger-codegen version

I am using openapi-codegen, but the problem exists in https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/bash/petstore-cli.bash-completion

##### Swagger dec

[2017-11-24 10:33] ChristianSauer commented on #4669
We are using Python and .Net Core - so it'S not really useful.
I am severely pissed atm - your editor could at least issue a warning that that does not work atm.

[2017-11-24 12:44] bvwells opened #7048 "[Typescript][Angular] Generating unused file 'rxjs-operators.ts'"
##### Description
This is a follow on from PR #6989 . After recent updates the file 'rxjs-operators.ts' is generated, but not used anywhere. This file should be removed from the auto-generation.

##### Swagger-codegen version

I am using version 2.3.0-SNAPSHOT after the mentioned recent changes.

##### Related issues/PRs

#6989

[2017-11-24 15:17] craffael commented on #6806
I can confirm this. I've noticed that the corresponding `src/main/java/res/Java/modelEnum.mustache` already accounts for this: Line 63 in this file reads as

    {{{dataType}}} value = jsonReader.{{#isInteger}}nextInt(){{/isInteger}}{{^isInteger}}next{{{dataType}}}(){{/isInteger}};

This means that the template already makes a distinction between Integer and non-integer data types. However, the pr

[2017-11-24 15:33] yelhouti commented on #6683
exact remarque here

[2017-11-24 15:34] andrewharrison135 commented on #6806
I've managed to work around this problem by creating the following class CustomSwaggerCodegen and using it as the Language I pass into Swagger codegen. Seems to do the trick

[code]

[2017-11-24 15:49] craffael commented on #6806
I've just submitted a PR to solve that issue that is very similar to the solution of @andrewharrison135 .

[2017-11-24 17:00] Danielku15 opened #7052 "[CppRest] file properties of models not generated as shared_ptr<>"
##### Description

After a long time using my original version of the cpprest generator, I decided to migrate finally to the official swagger-codegen version. We are using a somehow non-open-api-standard compliant feature: having files as model properties. This used to work in my original codebase but seemed to be broken since issue #3773 was fixed. Instead of generating:

[code]

...the following

[2017-11-24 18:58] etherealjoy opened #7053 "[cpprest] references to array definitions are not generated - compilation failed"
##### Description

Direct references to definitions which are array are not correctly generated. The class inheritance is incomplete leading to compilation error.

For example below is the code for cpprest for the yaml below
[code]
##### Swagger-codegen version

2.2.3
2.3.0
3.0.0
##### Swagger declaration file content or url

[code]
has to be changed to
[code]

##### Command line used for generati

[2017-11-24 21:54] jbs1 commented on #6910
@wing328 I have been using 2.3.0 exactly because the php client has been refactored as you suggested in #6777 in [this comment](https://github.com/swagger-api/swagger-codegen/issues/6777#issuecomment-338411760).

@ackintosh I will get to that as soon as I find the time

[2017-11-25 04:33] RitwikChatterjee commented on #7039
**On Further investigation**
Thanks to Natalie, she pointed me to this link https://github.com/apigee-127/swagger-tools/issues/321

However, here is what I found when I looked at the generated code:

- I noticed that though the `x-swagger-router-controller` tag was not in my original definition, when codegen generated the code, it auto incorporated the same at the method level in the generated swa

[2017-11-25 13:46] dsk1306 commented on #7041
I've tried SNAPSHOT version of the latest master and it works perfectly. Thanks for help.

[2017-11-25 13:46] #7041 closed

[2017-11-25 18:27] gintautassulskus opened #7057 "Inheritance: extra properties are not generated"
##### Description
Swagger-codegen does not generate extra property `password` of model `UserRegister`. Only `User` properties are created in both models `User` and `UserRegister`.
Swagger online editor validates and displays both models correctly.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Maven configuration

[code]

[2017-11-25 18:39] gintautassulskus commented on #7057
Update: swagger-codegen generates `password` property with the following structure:

[code]

Seems both `UserRegister` structures are valid.

[2017-11-25 18:39] #7057 closed

[2017-11-25 22:53] gintautassulskus opened #7058 "@NotNull not generated when 'required' is declared in inheriting model"
##### Description
Swagger-codegen does not generate the `@NotNull` annotation for the required property `password` of model `UserRegister`. The `email` property declared in model `User` is handled correctly, I can see the `@NotNull` annotation if front the corresponding method.

This has something to do with inheritance. The `required` field in the inheriting model (in this case - `UserRegister`)

[2017-11-26 02:36] wing328 commented on #6791
Closing this as there's no update.

[2017-11-26 02:36] #6791 closed

[2017-11-26 02:44] wing328 commented on #6768
What about defining it as https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties?

[2017-11-26 09:57] Faerylnahr commented on #6657
Any update on this?

[2017-11-26 16:17] wing328 commented on #6910
@jbs1 Yes, we've been asking users to try 2.3.0 as the PHP client has been refactored.

To try to identify the issue, I simply suggest giving 2.2.3 a try as the setting OAuth2 access token should still work with PHP client generated by v2.2.3 stable release.

[2017-11-26 16:21] SergeyLyakhov commented on #2662
Added a pull request with support of "x-obfuscated:[true|false]" for Java:
https://github.com/swagger-api/swagger-codegen/pull/7060

CC: @wing328 @jeff9finger @smiklosovic @BernhardBln

[2017-11-27 07:35] d-date commented on #7020
+1.
We should avoid to custom encode/decode methods and use `CodingKeys` insted.

[2017-11-27 07:40] d-date commented on #7020
But We need to think additionally that when the class inherited super `Codable` class, by mapped with `allOf:` in schema.

[code]

So I think, in currently system, it's better to use customized encoder/decoder methods.

What's your problem?

[2017-11-27 08:25] #6999 closed

[2017-11-27 08:50] swavans commented on #6958
@wing328 Is this all you needed?

[2017-11-27 08:54] wing328 commented on #6958
Can you give it another try by updating your spec to set `consumes` to `text/plain`?

[2017-11-27 10:20] wing328 commented on #7044
@justwy thanks for reporting the issue. I wonder if you can file a PR with the suggested fix so that we can review more easily.

[2017-11-27 10:21] #7024 closed

[2017-11-27 10:33] #6647 closed

[2017-11-27 11:27] ryutaro-brainlabs commented on #6309
I tried with `2.3.0-SNAPSHOT` with the `swagger-codegen-cli:latest` docker image and am seeing the same issue.

[2017-11-27 11:43] TehBakker opened #7062 "[Java] Is there a way to generate hidden=true for a query parameter ?"
##### Description

Looking to add the Hidden=true parameter to the generated @ApiParam annotation of a query parameter

##### Swagger-codegen version

2.2.3

##### Suggest a fix/enhancement

add a parameter hidden=true for parameter declarion

[2017-11-27 12:55] tomer opened #7063 "Produce HTTP 501 Not Impelemnted in generated server stubs"
When generating server from yaml file, it creates controllers with stub functions, which does return a default string 'do some magic'. I suggest that all these functions will return HTTP 501 Not Implemented in addition to the string, so it would be easier to spot these problems from the client side, and missing implementations won't return valid responses (HTTP 200 OK).

Implementing this feature

[2017-11-27 13:02] wing328 commented on #7005
@dgaedcke do you mind submitting a PR so that we review the fix more easily?

[2017-11-27 14:05] dgaedcke commented on #7005
My understanding of PR is that I would submit a proposed code fix and ask you to merge it in?   I understand the basics of creating a PR on Github, but I have no clue how to find the right place in your code to propose the fix.   All I can say is that for the latest PMK, whatever template generates:
deferred.fulfill( )
should instead generate:
deferred.fulfill( () )   // void parens

I've been fix

[2017-11-27 14:16] wing328 commented on #7005
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift4/api.mustache#L59 should be the line to fix it.

You will need to do something like:
[code]

[2017-11-27 14:17] wing328 commented on #7005
cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-27 14:18] abbasadel commented on #1235
any updates on this issue?

[2017-11-27 14:23] wing328 commented on #7063
@tomer your suggestion sounds good to me. Would you have time to contribute the enhancement?

[2017-11-27 14:32] dgaedcke commented on #7005
That would work great if EVERY pmk.fulfill expected a void argument.
But that's not the case so I can't replace "data!" with "()" or I'd break those other (more common) use-cases.   I suppose I could add some if-else logic but I really don't know what to test for in "data!" and I'm certain my hacking will be more trouble to you than it's worth....

[2017-11-27 15:24] igeryu opened #7064 "[Java] Models not created when they share name of built-in JRE classes"
##### Description
Whenever I create a swagger specification that includes a model that shares the name of a built-in JRE class (e.g. ``File``), swagger-codegen imports and uses that built-in version and the custom properties that I included in my definition are not included.

##### Swagger-codegen version
2.2.2

##### Steps to reproduce
Create a specification with a model that has the same name as

[2017-11-27 16:12] PFacheris commented on #6598
Did some testing using 3.0.0_enhancements branch (and by extension the 2.0.0-SNAPSHOT of swagger-parser) with a semi-complex openapi 3.0 contract and ran into a small issue with Java codegen that I'll put here in hopes of being helpful:

localVarAccepts doesn't create a valid array when combining response content-types as in the below yaml:
[code]
results in
[code]
This also occurs when different

[2017-11-27 16:26] wing328 commented on #6598
cc @HugoMario who's actively working on that branch to provide OAI 3.0 support.

[2017-11-27 16:47] Danielku15 commented on #6995
I can confirm the same error for 2.2.3. The same error does not appear when taking the current master branch, but unfortunatley I cannot move to 3.0.0 (master) yet as there are too many other breaking changes which are not feasable for us (increased boost dependencies for cpprest, huge dependency increase on javascript -> 65000 files of node modules and broken browserify support).

For me it is fa

[2017-11-27 17:20] ignaciomolina opened #7065 "[JAVA] Json Array generated model overrides equals"
##### Description

When generates a model for an Array of JSON, a class that extends ArrayList is created overriding `equals` and `hashcode` instead of using the ones from ArrayList, also the `equals` is wrong and returns true when other is not Null and is from same class, regardless from the items on the list

##### Swagger-codegen version
2.3.0-SNAPSHOT

##### Swagger declaration

[code]

genera

[2017-11-27 23:17] ramzimaalej commented on #3948
@wing328 are we still considering this or we can close the ticket?

It's also not clear to me what we are trying to achieve by switching to another programming language

[2017-11-28 00:34] tom-koo-zocdoc commented on #5454
hey @wing328, does the check mark mean that support has been added or that it will be worked on in the future?

[2017-11-28 02:49] wing328 commented on #3948
@ramzimaalej yup, I think we can close it for now as there's no plan to switch to another language.

[2017-11-28 02:49] #3948 closed

[2017-11-28 04:34] #7026 closed

[2017-11-28 09:07] arimus commented on #6369
For anyone who finds this and wants an example, this seemed to do the trick for me and generated all the relevant files needed to package / compile:

`generate -i http://localhost:5000/swagger.json -l typescript-angular -o ./codegen/ --additional-properties ngVersion=4.3,npmName=test,npmVersion=1.0.0`

[2017-11-28 10:10] timhaovo commented on #3608
Warning: Using default() for an enum is NOT the same as null! An enum is just a primitive type internally(usually int), which means that default(EnumType) equals 0 and the element with value 0 in EnumType might be an actual value with a vastly different meaning! This could mess things up big time!
The correct way to handle enums would be to treat it like a primitive type (int for example) by defin

[2017-11-28 10:25] cloudjubei commented on #7020
We have to have the custom `encode` / `decode` as Swift normally uses `camelCase` for variables, whereas on the web you normally use `snake_case`. So if you have a variable `veryImportantMessage` somewhere in your code, it would almost certainly be `very_important_message` on the server side. I personally don't want to see anything close to `very_important_message` as my variable in my code.
There

[2017-11-28 10:48] yelhouti opened #7067 "Leading space in [spring cloud] clientConfiguration variables"
##### Description

when generating the client configuration a leading space character makes the variable unusable

##### Swagger-codegen version

still present in Master (always been there as far as I can see)

##### Swagger declaration file content or url

Not relevant (any with basic auth)
[code]

##### Command line used for generation

java -jar ... -l spring --library spring-cloud

##### Steps

[2017-11-28 11:46] d-date commented on #7020
@cloudjubei
Swagger-codegen generate camelCase variable with jsonkeys as written in yaml, by mapping with CodingKey.

So you don’t have to worry about your concern.

[2017-11-28 11:49] d-date commented on #7020
Sorry, it’s my confused. We need to have custom encode/decode method as @cloudjubei said

[2017-11-28 13:16] wing328 commented on #7067
@yelhouti your suggested fix looks good to me. Please file a PR so that we can review the fix more easily.

[2017-11-28 13:44] yelhouti commented on #7067
already done

[2017-11-28 13:56] wing328 commented on #7067
Saw it. Thanks. I'll review shortly.

[2017-11-28 15:28] erreobi commented on #6263
@oliveirasevandro  @wing328  has it been released?

[2017-11-28 16:15] wing328 commented on #7046
Not that I'm aware of.

[2017-11-28 16:18] wing328 commented on #7037
What about using the customized templates with the `-t` option and comment out those sample codes that you don't need?
[code]

[2017-11-28 16:31] jamesbar2 opened #7070 "[C#] Method signatures use incorrect casing when generated since PR #6305"
##### Description

Since Issue #6281 and PR https://github.com/swagger-api/swagger-codegen/pull/6305, the parameters in model constructors are not using the [recommended style rules from Microsoft](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-parameters).  This creates breaking changes for our users who are using this formatting:

###### Old:
`new Model(argument1: "foo

[2017-11-28 18:01] ramzimaalej commented on #6393
@jimschubert can you confirm that this has been fixed by this PR: https://github.com/mohiva/swagger-codegen-play-scala/pull/12

cc @wing328

[2017-11-28 21:53] ehyche commented on #6746
I know the problem here, and will have a PR for a fix shortly.

[2017-11-29 00:29] inforeqd512 commented on #7020
@cloudjubei

This is an example of the encoding in a Swift 4 class used as model in iOS application and not on the server side.

The expectation is whatever be the variable naming convention used by the server, when the server sends that value over the wire as JSON, it will come to the front end application with the JSON keys as defined in the YAML

Also even when using `allOf` tag the model objec

[2017-11-29 00:55] ehyche commented on #6746
Swift4 PR: https://github.com/swagger-api/swagger-codegen/pull/7072

[2017-11-29 03:06] wing328 commented on #7016
@carpani-mailup do you mind submitting a PR with the suggested fix?

[2017-11-29 03:08] wing328 commented on #7013
@canadaduane do you submitting a PR with the suggested fix? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-fetch/modelGeneric.mustache

[2017-11-29 03:14] wing328 commented on #6766
@fanliming thanks for the suggestion. May I know if you've time to contribute the enhancement? I can show you some good starting points.

[2017-11-29 03:16] wing328 commented on #6785
@lunat @jimschubert should the users change the localization setting instead in his/her PC?

[2017-11-29 03:24] wing328 commented on #6763
@inforeqd512 we can leverage the `objcCompatible` option to add the `@objcmembers` keywords. Something like this:
[code]

[2017-11-29 03:27] wing328 commented on #6644
@mischac yes, you're right. There's no way to tell at the moment and we would welcome contribution to add the support.

For API clients, we've a workaround for the issue at the moment.

[2017-11-29 03:27] wing328 commented on #6645
@larssb would you have time to contribute the enhancement? I can show you some good starting points to start with.

[2017-11-29 03:29] #6626 closed

[2017-11-29 03:31] #6632 closed

[2017-11-29 03:33] #39 closed

[2017-11-29 03:33] wing328 commented on #243
Should be already fixed in the latest stable version.

[2017-11-29 03:33] #243 closed

[2017-11-29 03:34] wing328 commented on #161
UPDATE: The Java API client comes with auto-generated test cases.

[2017-11-29 03:34] #161 closed

[2017-11-29 03:35] wing328 commented on #563
UPDATE: There are Petstore integration tests for both scala and android.

[2017-11-29 03:35] #563 closed

[2017-11-29 03:36] wing328 commented on #1158
Added support for basic authentication:
[code]

[2017-11-29 03:36] #1158 closed

[2017-11-29 03:41] wing328 commented on #1837
@pradeepgoudra please try the latest master and let us know if it's still an issue.

SNAPSHOT of the latest master can be found in the project's README

[2017-11-29 03:41] #1837 closed

[2017-11-29 03:42] wing328 commented on #1666
More and more batch files have been added. Closing this one.

[2017-11-29 03:42] #1666 closed

[2017-11-29 03:43] wing328 commented on #1592
Closing this. Please open a new issue for tracking if you still encounter the issue.

[2017-11-29 03:43] #1592 closed

[2017-11-29 03:45] wing328 commented on #7064
@igeryu Can you try the latest master (2.3.0)? The SNAPSHOT version can be found in the README.

We might have fixed it: https://github.com/swagger-api/swagger-codegen/issues/1561

[2017-11-29 03:46] wing328 commented on #7064
You may also find the following option useful:
[code]

[2017-11-29 03:59] wing328 commented on #1387
UPDATE: `html2` generates documentation with code samples.

[2017-11-29 03:59] #1387 closed

[2017-11-29 04:01] #2070 closed

[2017-11-29 04:02] wing328 commented on #2068
PR: https://github.com/swagger-api/swagger-codegen/pull/6487/files

[2017-11-29 04:02] #2068 closed

[2017-11-29 04:12] jimschubert commented on #6690
I was just going through open issues. Looks like the PR is now in master. If this still works, I think the issue can be resolved.

[2017-11-29 04:40] jimschubert commented on #3608
@timhaovo `default(EnumType?)` produces null. this code should work as expected in current master.

[2017-11-29 04:46] jimschubert commented on #6393
@ramzimaalej that change looks much more reasonable than my suggestion. It'll be a few days before I can evaluate generated outputs.

Any plan to open a PR with that change against this repo?

[2017-11-29 04:53] jimschubert commented on #6785
@wing328 It's not really reasonable to expect every client consumer to change their machine locale to en-US. Ideally, the format would be a configurable option in the spec, but the spec doesn't support that, as far as I'm aware.

I would think the best approach for now is to the input/output format for the API is a known format.

We may want to consider supporting global formatting configurations

[2017-11-29 05:24] canadaduane commented on #7013
Hi! I'm not sure why I'm mentioned here?

[2017-11-29 06:22] jbs1 commented on #6910
after following the improved doc from the merged, it seems the access token is recognized properly now.
There messed up when setting the $config variable.
the problem #6777 still persists even in 2.3.0

[2017-11-29 06:22] #6910 closed

[2017-11-29 06:49] wing328 commented on #6910
Reopened #6777

[2017-11-29 07:58] wing328 commented on #7046
@jeusdi you can customize the [mustache templates](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/htmlDocs2) to meet your requirement.

[2017-11-29 07:58] #7046 closed

[2017-11-29 07:59] #3243 closed

[2017-11-29 08:01] #3301 closed

[2017-11-29 08:01] wing328 commented on #3301
@dylan-colaco thanks for sharing the fix. Please try the swift4 generator in the latest master to see if it meets your requirement.

[2017-11-29 08:27] moreyeel commented on #6690
I have been using this code for a month now. I found no issues, I generated over 1000 classes in this period and in the use cases that I am using there are no issues.

@jimschubert informed me that the fix is in the master therefore I am closing this.

[2017-11-29 08:27] #6690 closed

[2017-11-29 08:50] wing328 commented on #6777
@jbs1 I think you should access the properties using the getter instead. Here is an example extracted from the petstore integration tests:
[code]

[2017-11-29 09:03] craffael opened #7074 "[java] Gson inheritance support"
##### Description

JavaClients that rely on GSON to serialize a polymorphic type do not set the discriminator field. At the moment this field must be set manually by the user.
##### Swagger-codegen version

2.3 Snapshot

##### Swagger declaration file content or url

[code]

##### Command line used for generation

    generate -l java --additional-properties library=retrofit2

##### Steps to repro

[2017-11-29 09:25] #2269 closed

[2017-11-29 09:32] wing328 commented on #4769
As a workaround, you may consider using `html` or `html2` to generate HTML documentations and then use 3rd-party tools to convert the HTML into PDF.

[2017-11-29 09:32] #4769 closed

[2017-11-29 10:03] timhaovo commented on #3608
Well, if it generates as default(EnumType?) that's fine. The OP just seems to propose using the non-nullable default(EnumType) as a solution to enums not accepting null, which is not fine at all.
If enums are correctly marked as nullable in ctor (they aren't in 2.2.1), then why switch to using default()  anyway? Enums marked as nullable do accept null. And null is way less confusing than default(E

[2017-11-29 11:07] jimschubert commented on #3608
default() is the only way to account cleanly for every type to be constructed with a default. The reason it doesn't exist in 2.2.1 is because the original client code incorrectly assumed that all enums were written with a first value of a placeholder (unset, unknown, empty, etc), as defined by a Microsoft's Class Library Design Guidelines https://msdn.microsoft.com/en-us/library/ms229058(v=vs.100)

[2017-11-29 15:14] demosdemon commented on #5837
I have this same issue.

This is my definition

[code]

This is what I get

[code]

This is what I expect

[code]

[2017-11-29 16:40] ramzimaalej commented on #6393
@jimschubert yes, the plan is to clear the scala issue list as soon as possible. It might not come before the end of the year though.

[2017-11-29 20:36] cloudjubei commented on #7020
@inforeqd512
Of course - I understood everything you wrote.
The problem is precisely here:

I don't want my Swift code to follow my server naming convention as those are written in two different languages. They have different conventions. Let's keep it this way.

[2017-11-29 21:06] advance512 commented on #6248
Why not keep it ES6, just with require()s? much easier to debug, to follow around.

[2017-11-29 21:10] advance512 commented on #4819
Are you using $ref?

[2017-11-29 22:46] Predator01 opened #7077 "[Python] - swagger flask / connexion- server - Error handling documentation"
##### Description

I am having a hard time working in the error handling for the swagger server stub.
First of all, I was creating a server stub.

I have a pet, in my API lets say. I want to have pets with a unique name.
In the POST /pet I will pass "name" parameter so I will check on the controller if this already exists, return an error.
I have an ExceptionDetail on my models, which purpose is t

[2017-11-29 23:07] nfortenberry commented on #6761
Before I run the code-gen I run a regex on the swagger file to replace all the tags.  Not the best solution, but it works:
[code]

[2017-11-30 02:25] #6777 closed

[2017-11-30 05:34] #6723 closed

[2017-11-30 10:05] kand617 opened #7078 "[PHP] Resource Owner Password Flow, clientID and clientSecret"
I am curious to understand how to represent resource owner password in swagger.
My understanding is that resource owner password you must send in the client secret and client id base-64 encoded.
For example: https://developers.getbase.com/docs/rest/articles/oauth2/requests
The request is sent as follows:
[code]
[code]
However swagger-codegen seems to have no mention about client Id and client secr

[2017-11-30 10:26] craffael opened #7079 "[NancyFx] Inheritance"
#### Description

Currently the Nancy Generator does not support inheritance at all. I'll briefly discuss the current status of nancy w.r.t. inheritance based on the simple Pet/Cat model found further down.

##### Models:
The models inherit correctly from each other:
[code]

However, the builder of the Cat currently doesn't allow setting the `Pet` properties (with `immutable=true`):
[code]

#####

[2017-11-30 10:38] NanoWar commented on #6164
You should provide a better operationId.

If you use Swashbuckle nuget to generate your api spec, you can add an OperationFilter in your SwaggerConfig:
[code]

This will remove your controller name prefix. Note that the operationId could now be non-unique.

[2017-11-30 12:20] #5984 closed

[2017-11-30 12:24] #5939 closed

[2017-11-30 14:41] wing328 commented on #6291
@brucesears are you using the latest master (2.3.0), which has many enhancements and bug fixes?

[2017-11-30 14:42] #6096 closed

[2017-11-30 14:58] #3962 closed

[2017-11-30 14:59] wing328 commented on #3867
Using https://github.com/swagger-api/swagger-codegen/issues/5277 for tracking and closing this one

[2017-11-30 14:59] #3867 closed

[2017-11-30 15:25] wing328 commented on #4126
@normand1 @dagio please join the discussion in https://github.com/swagger-api/swagger-codegen/issues/6941

[2017-11-30 15:25] #4126 closed

[2017-11-30 16:34] bzylstra opened #7081 "[JAVA] Support HATEOAS generics on the generated API classes."
##### Description

The Spring framework provides a couple of generic classes to support the HATEOAS 'constraint' of the REST application architecture. We used SpringFox to generate the JSON definition of our service that uses the Resource and PagedResource generics provided by Spring HATEOAS. The generic references appear in the JSON file in a modified form such as: PagedResources«Resource«MyStuff

[2017-11-30 19:23] smerschjohann commented on #5806
@wing328 I would like to do it. It would be nice if you can point me in the right direction here. I guess I need to extend the mustaces at: https://github.com/swagger-api/swagger-codegen/tree/3.0.0_enhancements/modules/swagger-codegen/src/main/resources/Java/libraries/retrofit

But there are a few things I need to know

1) How can I get a dev environment with an easy way to change those mustaches

[2017-11-30 21:01] kevineger commented on #5577
+1

[2017-12-01 02:31] wing328 commented on #6746
#7072 by @ehyche has been merged into master.

@ornithocoder please pull the latest master to give it a try or use the SNAPSHOT version mentioned in the README.

[2017-12-01 05:59] t-dmatsudate opened #7083 "[Swift] enable to handle response header and statusCode"
##### Description
In swift template, generated source code only considered about response body as below, but we'd like to use not only `body`, but also `header` and `statusCode` in response.

[code]

This template will be generated as below.

[code]

##### Swagger-codegen version
2.3.0-SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to r

[2017-12-01 06:00] d-date opened #7084 "[Swift] enable to handle response header and statusCode"
##### Description
In swift template, generated source code only considered about response body as below, but we'd like to use not only `body`, but also `header` and `statusCode` in response.

[code]

This template will be generated as below.

[code]

##### Swagger-codegen version
2.3.0-SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to r

[2017-12-01 07:12] shijinkui opened #7085 "[Scala] template code format refactor"
##### Description

scala template code format refactor

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-12-01 10:40] mrleopoldus commented on #4275
How to add this config to generate command?

[2017-12-01 11:11] sashank opened #7088 "[java spring] API Key based Authentication how to access ?"
This is more of a question.

We have a swagger file with authentication mechanism as apikey and appid

[code]

Upon generation of Server ( Java Spring ) and Client (Java) below snippets got generated

Server
the interface GroupAPI has below code
[code]

How do we access the apikey and appId in the controller class method that looks like below ?

[code]

Is there any reference example , greatly app

[2017-12-01 11:37] etherealjoy opened #7089 "[cpprest][qt5cpp] For any HTTP Response Content type code is produced for "application/json""
##### Description

When content type is "application/x-tar" for example, the code is generated to handle "application/json" instead. Code also does not compile anyway.
See code below
[code]
##### Swagger-codegen version

2.3.0
3.0.0
##### Swagger declaration file content or url

[code]
      operationId: "ImageGet"
      produces:
        - "application/x-tar"
[code]

[2017-12-01 14:04] MultiStorm opened #7090 "[JAVA]"
##### Description
I have created a YAML file with the Swagger Editor (Local). I used API keys as security. I then downloaded the server source code via the Swagger Editor. in the Java codes, the API-KEY does not appear, if I test the server I can use the calls without API-KEY, even though this is defined differently in the YAML file. Am I doing something wrong, is my approach wrong or is this an e

[2017-12-01 15:40] knom opened #7092 "Missing support for Operation EXAMPLE value in ASP.NET Core Generator"
@mandrean @jimschubert
An operation will always be generated with EMPTY exampleJSON.
We do have EXAMPLE as a Swagger/OpenAPI tag.
So why not use it?

[code]

[2017-12-01 15:49] SimonKlausLudwig opened #7093 "Add Maven Wrapper"
I Have a suggestion.. You could put the maven wrapper into the git repo.. So a user without maven can run it without installing maven .. and there are no version problems..

https://github.com/takari/maven-wrapper

[2017-12-01 16:32] knom opened #7094 "Add support for SwaggerResponse[] Attributes with no response data"
RE: ASPNET Core Server Generator
@mandrean @jimschubert

[SwaggerResponse] attributes are only added for operation responses that return DATA.
If a response just is a STATUS CODE, now data, the generator ommits the SwaggerResponse.
[code]

Thanks!

[2017-12-01 16:55] knom opened #7097 "Add stub responses for other results than just 200"
@mandrean @jimschubert
RE: the server generator for ASP.NET Core

It should also return other results..
(e.g. 404, 400, 500, ..)

The default implementation currently just takes 200/204 (ObjectResult) into concern.

[2017-12-01 22:18] etherealjoy opened #7100 "[cpprest] arrays of arrays or maps causes compilation error"
##### Description

When the Definition is an array of array or array of maps then the generated code is trying to use a method _**fromJson**_ which is not present in the vector or map.

[code]
The code is trying to invoke _**fromJson**_ from an array which is obviously wrong.

##### Swagger-codegen version
2.3.0
3.0.0

##### Swagger declaration file content or url

Array of maps
[code]
Array of ar

[2017-12-01 22:18] etherealjoy commented on #7100
Another approach would also be interesting to hear.

[2017-12-02 09:33] etherealjoy opened #7101 "[cpprest] HTTP Request body always treated as "application/json""
##### Description

When Swagger model is specified to consume
        - "text/plain"
        - "application/octet-stream"
Code is always generated to use "application/json"
##### Swagger-codegen version

2.3.0
3.0.0

##### Swagger declaration file content or url

[code]
##### Command line used for generation

java -jar /home/dev/swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cl

[2017-12-02 11:44] zkdzegede commented on #6553
@wing328   Any information on what swagger.yml response would lead to a Completable being generated?

Or is this not supported?

in RxJava2 Observable<Void> is an error but the swagger-codegen generates this...

[2017-12-02 13:52] cbornet commented on #7093
:+1: would you do a PR ?

[2017-12-02 16:20] knom commented on #2886
Are you planning to change to .NET Core 2.0 in the next version?
Happy to help!

[2017-12-02 17:05] knom opened #7102 "[C# - AspnetCore Server] Version & AppName incorrectly reflected"
Version & AppName fields of the Swagger contract are not honored when it comes to SwaggerGen (Swashbuckle) configuration --> `AddSwaggerGen(..)`.

Instead default values ("v1") are used.

[2017-12-02 18:12] jimschubert commented on #2886
I personally would like to move to .net core 2 for Swagger Codegen 2.3.

The issue with making the change before 2.3 is that it would be confusing if you've customized templates to have different (or missing) templates and configurations.

[2017-12-03 10:11] wing328 commented on #6900
Closed via https://github.com/swagger-api/swagger-codegen/pull/6901

[2017-12-03 10:11] #6900 closed

[2017-12-03 10:29] wing328 opened #7104 "[Elixir] Add server generator for Phoenix"
##### Description

We would like to add a new server generator for Elixir Phoenix

Similar to what we've done for PowerShell, Rust and other generators, we can first create a Petstore Phoenix server app with 3 endpoints listed below:

- [GET](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L157-L184)
- [POST (form)](https://gi

[2017-12-03 10:51] wing328 commented on #7104
We may want to first refactor [ElixirClientCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ElixirClientCodegen.java) into AbstractElixirCodegen.java (abstract class as the base of all Elixir generators)

Here are some abstract classes for other languages (e.g. C#, Java, Ada, Eiffel, etc): https://github.com

[2017-12-04 08:03] KeenS opened #7106 "[Rust] rust-server crashes when the description of response is non-ascii strings"
##### Description

rust-server crashes when the description of response is non-ascii strings

##### Swagger-codegen version

master ( 61e706ba6f6b75d68651028d1796a2b12e2034f2 )
##### Swagger declaration file content or url

[this](https://gist.github.com/KeenS/0e539a9cb71c23d178729e2a41ecc376)

##### Command line used for generation

[code]

##### Steps to reproduce

just run the command above

##

[2017-12-04 10:22] aykutakin opened #7107 "[Rust] UUID path parameters generates broken code"
##### Description
String type can be used for body, formData and query parameters but not for path parameters. As of now, if you want to use String path parameter, generated code can not be compiled since String is marked in models module.

Please see the last function:
[code]

##### Swagger-codegen version
Tested with latest master branch as of 61e706ba6f6b75d68651028d1796a2b12e2034f2
And Public

[2017-12-04 11:21] javagg commented on #7003
great job!

[2017-12-04 14:12] przemyslawlib-blueveery commented on #7002
OK. What I did in the end.

- Generate stubs per wiki guide.
- Copy generator and templates.
- Adjust path to templates (eg skipp "php/" if templates aren't copied to that subfolder).
- Compile with mvn compile as there may be some errors that are not reported with mvn package.
- mvn package
- Classpath resulting jar into sowagger-codegen.
- Verify that compiled generator is listed as first suppor

[2017-12-04 16:18] ackintosh commented on #7078
👀

[2017-12-04 16:42] ackintosh commented on #7078
@kand617 Would you please show me a full API definition you use?

[2017-12-04 16:59] tysont commented on #3869
Sorry for the lack of an update before. I tested the fix a while ago and if I recall, the issue was resolved. Thanks for jumping on this, appreciate it!

[2017-12-04 23:36] nelz9999 opened #7109 "[Python2] Client encoding issues"
##### Description
When using the python client generated by the 2.3.0 branch, in Python2, it mishandles proper JSON unicode encodings. (I believe this is probably a corner case related to @kenjones-cisco's work on #6881.)

It doesn't blow up similarly when running the client under Python3.

##### Swagger-codegen version
swagger-codegen-cli-2.3.0-20171204.142945-311.jar

##### Swagger declaration f

[2017-12-05 05:32] kand617 commented on #7078
@ackintosh
[code]

[2017-12-05 10:13] albator1932 commented on #6872
I second this request, much needed indeed.

[2017-12-05 10:25] greg0ire opened #7111 "[swagger] Reproduce editor functionality"
##### Description

I'm trying to reproduce exactly the behavior of http://editor.swagger.io/ with docker.
I tried this:

[code]

##### Swagger-codegen version

`2.3.0-SNAPSHOT` because the image I'm using does not seem to have any tags.

##### Swagger declaration file content or url

<details>

[code]

</details>

Expected output (obtained from editor.swagger.io):

<details>

[code]

</details>

A

[2017-12-05 11:43] greg0ire commented on #7111
I think this is invalid, because I started of with an invalid YAML (thought it was fine, but really wasn't). Sorry for the disturbance.

[2017-12-05 13:49] wing328 commented on #7090
Which generator are you referring to?

[2017-12-05 13:53] MultiStorm commented on #7090
I refer to the generator supplied with the Swagger Editor. I have no extra generator installed. I downloaded the Swagger Editor from your website and put it into my Apache server. in the editor I can say above in the Generate Server Code menu. Dan I get as a download a zip file with a Maven project.

[2017-12-05 13:56] wing328 commented on #7090
@MultiStorm there are many different server generators listed under the "Generate Server Code" menu such as Java Spring, JAX-RS, etc

Which one did you use?

[2017-12-05 13:59] MultiStorm commented on #7090
oh sorry Jaxrs Cfx :-)

[2017-12-05 14:11] MultiStorm commented on #7090
If it helps, can you watch the whole thing via Teamviewer?

[2017-12-05 14:14] #7097 closed

[2017-12-05 16:06] ukeshava opened #7115 "[Java] Handling optional query param"
We have codegen(2.2.2) to generate java client code for our tests. In a recent change, an optional query parameter was added to one of the APIs with default value specified.

This shouldn't cause any issue as its optional and also has default value, so it does support backward compatibility. However, the generated code changed the method signature from:

apirequest(param1)

to apirequest(param1, p

[2017-12-05 16:14] knom opened #7116 "[ASPNETCORE Server] OperationID casing is modified"
I have a swagger contract with an operation with...
`"operationId":"submitParcel"`

However when I look at the C# code generated for the controller it says..
`[SwaggerOperation("SubmitParcel")]`

The different casing breaks the Swagger Contract with Swashbuckle.SwaggerGen - vs. the originally imported one.

[2017-12-05 18:00] alexandrutomescu commented on #6483
I've been having the same issue with swift3 and swift4 generated code, in XCode Version 9.1 (9B55). I now see that the code generated by editor.swagger.io is closer to correct, for swift4.

For this minimal example from [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-minimal.json)
I get three errors in the generated file _CodableHelper.swift_.

**line

[2017-12-05 18:07] alexandrutomescu commented on #6483
In fact, my json is more complex than my above example, and I'm still getting errors such as:
`Type 'HttpResponse' does not conform to protocol 'Decodable'. `
This class has some members of custom types, for example:
`public var httpContext: HttpContext?`
Are these custom objects the problem?

Even for more basic classes I'm getting similar errors. For example, for

[code]

I'm getting
`Type 'KeyV

[2017-12-05 18:45] etherealjoy opened #7117 "[qt5cpp] sigsegv when working with multiple models"
##### Description

When two models are generated for qt5cpp from two yaml files, there is a sigsev error due to the wrong symbol being used from the duplicate symbols generated after compilation due to the mustache files not respecting modelnameprefix.
Also when prefix is used not always correctly handled.
##### Swagger-codegen version

2.3.0
##### Swagger declaration file content or url

Just use

[2017-12-05 19:12] etherealjoy commented on #7111
You can close it yourself right?

[2017-12-05 22:09] #7111 closed

[2017-12-05 22:09] greg0ire commented on #7111
Woops sorry I forgot to, you're right.

[2017-12-06 15:20] asgerjensen opened #7118 "JaxRS - Header parameters not in ApiOriginFilter.java"
##### Description
When generating a server using the JaxRS generator, the resulting code emits an ApiOriginFilter.java file that does not take into account any header parameters defined in the spec.

The generated ApiOriginFilter.java will not contain this `X-Custom-Header` as an allowed header, meaning CORS errors when client connects.

##### Swagger-codegen version
2.2.1

##### Swagger declarati

[2017-12-06 17:28] bradj opened #7119 "[Python] JSON reference in $ref isn't acknowledged"
##### Description

It looks like I am having a couple issues.

1. `$ref: '#/definitions/Tenant/properties/name'` gets rendered in the `Tenant` model with type `Tenantpropertiesname`
2. The rendered `Tenant` model only has a `name` property. The `Tenant` definition below has 6 total properties which do not make it into the rendered model.
3. Replacing `$ref: '#/definitions/Tenant/properties/name'`

[2017-12-06 18:20] tir38 commented on #6895
Sorry I don't have the time to devote to that.

[2017-12-06 21:12] paclat opened #7122 "Problem with Context injection in jersey 2"
##### Description

The issue that I am hitting is that in the environment that I am using the injection with the constructor that is annotated with @Context does not seem to be working properly...

[code]
The underlying problem is captured in the posting below ...

https://stackoverflow.com/questions/37683765/jersey-constructor-injection-with-context-not-working

##### Swagger-codegen version

2.2

[2017-12-06 23:01] slarti-b opened #7123 "[JAVA] Server codegen for jaxrs fails if java8 date library used"
##### Description

Generated a server codegen using jaxrs as language.  The JacksonJsonProvider is invalid:

I had the following two lines in my config file that i fed to swagger codegen:
[code]

Removing them generates code without errors.  The problem seems to be that it is importing joda not jsr310 in the pom file.  If I take the Java 8 version then the pom file includes
[code]
even though I'm

[2017-12-07 00:54] wing328 commented on #7090
Looks like JAX-RS CXF does not leverage {{authMethods}} at the moment:
[code]

Would you have time to contribute the enhancement?

[2017-12-07 02:15] wing328 commented on #7122
My suggestion is to try the latest master (2.3.0). The SNAPSHOT version can be found in the README.

[2017-12-07 02:52] KeenS opened #7126 "[Rust-Server] it generates broken codes in some cases around mimetypes"
##### Description

when the mime type is not a single token, like `application/vnd.github.v3+json`, it produces invalid rust code

##### Swagger-codegen version

e75523a6846f0aa584ada33674744f395b781a7f

##### Swagger declaration file content or url

https://gist.github.com/KeenS/195f694ce0e0215dc76541f799ba713d

##### Command line used for generation

[code]

##### Steps to reproduce

run the com

[2017-12-07 09:36] aleksandr1592 commented on #5422
@wing328 Hello. I'm encountering problem when I want to set to set such properties while building retrofit2 library. Retrofit2 library missing in "android languge" package so I have to build.
Also at least one more property requried - gradleDistributionUrl or gradleDistributionVersion because gradle android pluging is tightly coupled to gradle version ( see [chart](https://developer.android.com/st

[2017-12-07 11:36] ackintosh commented on #7078
@kand617 Thanks!

I have generated codes with 2.3.0-SNAPSHOT version and tried to find the code you reported. But I can't find it.

There is `ProductsApi`, but it does not have `createAnAuthenticationToken`. 👀

[code]

[2017-12-07 12:43] velzevur opened #7128 "[Erlang server] Crashing on JSON requests"
##### Description

When processing `application/json` requests if the incoming json is invalid in any way - the request crashes.

##### Swagger-codegen version
master

##### Swagger declaration file content or url
If this [jsx:decode](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/erlang-server/api.mustache#L320) call fails:
[code]
the jsx thr

[2017-12-07 13:45] shijinkui opened #7130 "[Scala] How disable ssl with wordnik.swagger.client and async-http-client"
when local test, I want to disable SSL.

##### Description

`AsyncHttpClientConfig` have ssl option. But `RestClient`  didn't set ssl.

[code]

I have to say that `wordnik.swagger.client` is rubbish.

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhanceme

[2017-12-07 13:47] shijinkui commented on #7130
swagger-codegen generated sdk can't be use in product, there are too many  bad design and rubbish code.

[2017-12-07 15:51] wing328 commented on #7048
@bvwells the PR by @topce has been merged into master. Please pull the latest master to give it a try.

[2017-12-07 15:51] #7048 closed

[2017-12-07 16:41] #5104 closed

[2017-12-07 17:06] bvwells commented on #7048
Thanks @wing328 and @topce for the fix. I'll give it a go!

[2017-12-07 18:41] brucesears commented on #6291
yikes.  i see User-Agent: Swagger-Codegen/1.0.0

i assume that is a problem then.  but i just built this code-generation facility recently, and I'm not sure how i would have ended up with such an out of date version.

do you have a recommended set of pre-reqs and instructions on how to go about building an up to date swagger python code generation mechanism?  where should I look for better instruc

[2017-12-07 18:51] brucesears commented on #6291
nevermind.  found the page here...

[2017-12-07 20:45] bvwells commented on #7048
All working well. Thanks again @wing328 and @topce  for the help!

[2017-12-07 22:47] xiaochow opened #7132 "[Swift] Access server-provided error response in AlamofireDecodableRequestBuilder"
##### Description

Our API server returns a String error message that gives additional information as to why the request failed. A good example is when the user logs in using our API, the server returns either a userProfile object (successful login) or a user friendly error message as a String such as "Invalid password" which is better than just giving an Alamofire error code. Unfortunately, given

[2017-12-08 03:42] #7085 closed

[2017-12-08 10:42] bjgill opened #7133 "[rust-server] Use of deprecated openssl method"
##### Description

After running `cargo update`, I get:

[code]

##### Swagger-codegen version

Present in master - https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/rust-server/client.mustache#L97, amongst other places.

##### Command line used for generation

Can probably be seen with the default Rust-server etstore example.

##### Steps to rep

[2017-12-08 12:10] KrzysztofKarol opened #7134 "[typescript-angularjs] Wrong "params" indentation"
##### Description

https://github.com/swagger-api/swagger-codegen/blob/1a831f73f38feb09fa12f6e94a70574023706bd3/modules/swagger-codegen/src/main/resources/typescript-angularjs/api.mustache#L76

generates code with wrong indentation

[code]

##### Swagger-codegen version

2.3.0

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/7136

[2017-12-08 12:24] mahmutpinarbasi opened #7135 "[Objc] ResponseDeserializer Type Mismatch Error"
##### Description
I have a response to be deserialized as ```NSDictionary<NSString*, NSArray<MbsmStationInfoDto>*>``` class. However while executing deserialize  operation, it behaves like it's an array, and try to deserialize it as array.

##### Swagger-codegen version

v2.2.3
##### Suggest a fix/enhancement
I think, it is caused
```match = [self.arrayOfModelsPatExpression firstMatchInString:clas

[2017-12-08 13:11] fMads opened #7137 "[PHP] issue with null response"
##### Description

When calling and endpoint, and it doesn't respond within the timeout set for guzzle, a PHP Error will be thrown.
It happens because when cathing RequestException, it is not check if Response is set before trying to call getBody() on it.

Error message: Call to a member function getBody() on null

##### Swagger-codegen version

2.3.0-SNAPSHOT (from docker image)

##### Steps to r

[2017-12-08 13:35] cbornet commented on #7081
I don't think you should use swagger/OpenAPI together with HATEOAS. Swagger is meant to describe an API that has a fixed structure whereas HATEOAS aims at dynamic interfaces with auto-discovery.

[2017-12-08 15:44] chenzhekl commented on #2819
Seems to be related to this https://github.com/restsharp/RestSharp/issues/889

[2017-12-08 15:56] krysalead opened #7139 "[TypeScript - nodejs] Compilation failure for extendObj"
##### Description

When generating typscript-nodejs code using swagger-codegen there is a method

[code]
That doesn't compile

##### Swagger-codegen version

Swagger-codegen-cli-2.2.1

##### Swagger declaration file content or url

Not related to the swagger file

##### Command line used for generation

java -jar swagger-codegen-cli-2.2.1.jar generate -i swagger.json -l typescript-node -o apis

##

[2017-12-08 17:36] ramzimaalej commented on #3006
@wing328 I think we can closed this one after you merged the PR I raised to add build.sbt

[2017-12-08 22:56] mricken opened #7140 "State of the 3.0.0_enhancements branch"
I'm trying to evaluate what my team needs to do to move from specs written in Swagger 2 to specs written in OpenAPI 3. To do that, I'm taking a look at the 3.0.0_enhancements branch.

Unfortunately, the branch does not build for me:

[code]

Judging by the checks done on commit, the branch stopped building successfully after November 22:
https://github.com/swagger-api/swagger-codegen/commits/3.0.0

[2017-12-09 00:27] brucesears commented on #6291
okay, so the header i find that the swagger client posts: User-Agent: Swagger-Codegen/1.0.0 is either not affiliated with the version of the python code generator (which appears to be the latest stable version 2.2.3), or has another meaning entirely (confusing name that, then.)  would be nice if the swagger-codegen version appeared at the top of all such generated code...

at any rate, i've fallen

[2017-12-09 01:54] SophisticaSean commented on #6974
Just ran into this issue for generating Go and Ruby clients. A workaround is to move the `array` declaration outside the definitions reference:

[code]

Confirmed working in yaml.

[2017-12-09 02:24] wing328 commented on #7139
Please try the latest master (2.3.0) as 2.2.1 was released a while ago.

The SNAPSHOT version of the latest master can be found in the project's README

[2017-12-09 09:08] wing328 commented on #7135
@mahmutpinarbasi thanks for reporting the issue. My first suggestion is to try the latest master (2.3.0) to see if the issue still occurs.

SNAPSHOT version of 2.3.0 can be found in the project's README

[2017-12-09 09:12] wing328 commented on #7130
Understood that wordnik.swagger.client may not meet your requirement in terms of changing the SSL setting.

I see  2 options:
1) submit a PR to enhance https://github.com/swagger-api/swagger-async-httpclient
2) Try the `akka-scala` generator to see if it has better support for changing SSL setting.

[2017-12-09 09:21] #7137 closed

[2017-12-09 09:57] #7128 closed

[2017-12-09 16:05] shijinkui commented on #7130
Thanks, that's what i want.

[2017-12-09 16:05] #7130 closed

[2017-12-09 23:53] a-voronov opened #7143 "Is it possible to customize generation of a client model properties?"
I'd like to migrate iOS client to swagger, but I'm trying to avoid changing existing code.
Unfortunately 'network' models are used everywhere inside the app, so there's no mapping from 'network' models to 'business' models yet.
Is it possible to have a custom 'mapping' of openapi spec models to those, that I want to be generated for a client?

Imagine I have an openapi model User:
[code]

But corr

[2017-12-10 09:54] topce commented on #7048
@bvwells thank you for reporting problem
No file is better then empty file ;-)

[2017-12-10 20:02] bvwells opened #7144 "Missing go-server petstore Windows batch script"
##### Description

The Windows batch file for generating a go server for the petstore example is missing.

##### Swagger-codegen version

2.3.0

##### Suggest a fix/enhancement

See PR #7145.

[2017-12-11 04:19] #7144 closed

[2017-12-11 04:21] wing328 commented on #1666
For Go server: https://github.com/swagger-api/swagger-codegen/pull/7145

[2017-12-11 05:56] isaac-rstor commented on #7104
Just wanted to chime in and note that I am working on a little project to get a plug-only (will support elixir without phoenix) codegenerator as a mix task item.  Would work by entering "mix swagger" in the project directory.  Suggestions on how to integrate this into this project would be most welcome.

[2017-12-11 08:24] bvwells commented on #7144
Thanks @wing328 for closing the issue so quickly!

[2017-12-11 09:06] jonaseck2 opened #7146 "[general] date examples are converted and output as date-time in generated json"
##### Description
Using yaml input, we among other things also generate json.
Adding an example to a date results in the date being parsed and serialized back to string as date-time
##### Swagger-codegen version
2.2.3, generator cxf-jaxrs-client

##### Swagger declaration file content or url
yaml input
[code]
json output
[code]

##### Command line used for generation
swagger-codegen-cli doesn't su

[2017-12-11 10:37] Schwenkner opened #7147 "[csharp] supportsAsync has no influence"
May be I'm doing something wrong, pls correct me. if the mistake is with my code.

I'm trying to remove the async methods from code generation. In the mustache files I've found the section {{#supportsAsync}} which shall handle this as I thaught. Unfortunaltely when defining de following config

{
  "packageName": "MyPackageName",
  "additionalProperties": {
    "optionalSolutionFile": false,
    "

[2017-12-11 13:59] dylan-colaco opened #7148 "[Swift4] Class name conflicts not handled"
##### Description

I have one of my swagger models named 'Locale' which has custom properties. I cannot change this definition as it was used in our backend and android code for years. In the generated swift4 client file, CodableHelper there is a DateFormatter object created, and locale is set on it. The problem is that swift is using my custom Locale class instead of the one from Foundation here.

[2017-12-11 14:58] wing328 commented on #7104
Do you mean you want to create an Elixir server stub generator for another framework but not phoenix?

[2017-12-11 15:32] wing328 commented on #7104
https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework is a good starting point to create a server generator.

[2017-12-11 15:54] wing328 commented on #6291
1.0.0 refers to the version of the Python API client, not Swagger Codegen.

You can find the Swagger Codegen version in the auto-generated `.swagger-codegen/VERSION`

[2017-12-11 15:56] #3006 closed

[2017-12-11 15:57] wing328 commented on #2819
@chenzhekl thanks for the pointer. You may be interested in this task as well: https://github.com/swagger-api/swagger-codegen/issues/7012

[2017-12-11 16:01] krysalead commented on #7139
Thanks it fixes

[2017-12-11 16:07] wing328 commented on #7139
@krysalead thanks for the confirmation.

Closing the issue.

[2017-12-11 16:07] #7139 closed

[2017-12-11 16:19] wing328 commented on #5422
@aleksandr1592 yes, we would welcome contribution (PR) to add those to the Java (retrofit2) client generator.

[2017-12-11 16:19] wing328 commented on #4824
@benrobot thanks for sharing the workaround.

[2017-12-11 16:49] brucesears commented on #6291
.swagger-codegen/VERSION contains:

2.3.0-SNAPSHOT

[2017-12-11 17:14] brucesears commented on #6291
now that we have established that i am using the latest, the primary issue i am hitting is that ApiClient.deserialize() seems to correctly unwrap the response data for 'list[model_class]' response types, but not for singular model_class response types.  my "fix" has me using [_preload_content = False] and then determining and submitting the 'data' parameter (and type) directly to ApiClient.__deser

[2017-12-11 18:10] xiaochow commented on #6400
@ehyche thanks for your work! The same issue still exists for swift4 generator, I have been manually escaping them in the client side code. I wonder if you could make the changes to that when you have time? Thank you!

[2017-12-11 18:34] xiaochow commented on #6483
@alexandrutomescu the same issue occurred for the project I'm currently working on and I have been waiting for this to get fixed. It is because Any is a primitive type in Swift so it's not codable, which makes your whole class not codable.

A temporary workaround would be manually replace type Any with codable generics in your generated Swift code to get your project to run.

In your example, the

[2017-12-11 20:59] ndurette opened #7150 "[JaxRsSpec] Add apiNameSuffix config option"
##### Description

I was trying to overwrite the Api name suffix like I was able to do with the model name.
Unfortunately it seems that this feature doesn't exist yet. I saw that it was already requested at some points (https://github.com/swagger-api/swagger-codegen/issues/4028), but was never implemented.

In my case, I want to generate the "apis" as kind of an interface so I would like to be abl

[2017-12-12 08:29] slarti-b commented on #4135
We just ran up against this.  Any news or updates?  One other question: how is this intended to be implemented?  Specifically, would it be possible to specify package names per included file in some way?

To explain, we're working on a number of APIs and want to have a common.yml with certain shared object/parameter definitions.  let's say I have two APIs, Foo and bar, each in their own files whic

[2017-12-12 09:37] elion opened #7151 "[Java] Redundant declaration of validation-api version"
##### Description

Remove version declaration from javax.validation.validation-api in pom.xml. The version declaration is redundant, it is declared in spring-boot-starter-parent.

![javax version](https://user-images.githubusercontent.com/22718104/33877255-84f77628-df30-11e7-88d5-3ddc692fea17.png)

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Steps to reproduce

Generate a Spring server

[2017-12-12 10:03] slarti-b commented on #4135
I have a work-around for this.  it's a bit (lot) of a hack, but it works.  What I do is:

- run the codegen on my common.yaml with option to specify my common package.  This fails, with a  java.lang.NullPointerException because there are no paths defined in common.yaml
- run the codegen on my api file, and specify import-mappings and type-mappings on the command line

Should I pursue this?  (e.g.

[2017-12-12 10:05] elion opened #7152 "[Spring] add hibernate validator annotations"
##### Description

Spring server generator should add hibernate.validator annotations like  org.hibernate.validator.constraints.Email to generated model class fields.

For Spring the Hibernate Validator is included in spring-boot-starter-web dependencies and there is no reason not to use it. Could add the feature to other Java generators too.

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### S

[2017-12-12 10:14] elion opened #7153 "[Java] Redundant validation annotation. Add to field only."
##### Description

Currently javax.validation.Valid annotation is added to collection field and getter both. This is redundant. Other validation annotations are added only to getter methods.

Could all javax.validation.** annotations be added to fields only and not to getter methods?

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Steps to reproduce

Generate a Spring server

[2017-12-12 12:24] aakanksha-sib opened #7157 "[PYTHON] Parameters name getting converted from camelCase to snake_case while generating python wrapper"
[PYTHON]

##### Description

This issues is concerned with the variable naming convention for python. For other languages, options are provided for choosing the same eg. camelCase or snake_case, but there is no such option for python.
For eg. we have an option of `variableNamingConvention` for php.

My variables in swagger_definition.yml are in camelCase (eg: `startDate`) but it converts to snake_

[2017-12-12 12:45] col-panic opened #7158 "[bash] OAuth2 authentication method documentation"
##### Description

The documentation concerning oauth2 documentation is not clear.

##### Swagger-codegen version

2.2.3

##### Suggest a fix/enhancement

Running swagger-codegen and the resulting tool leaves an output like

[code]

which does not help me understand on how to use the OAuth2 authentication method in order to call the resp. operations. I do still not know wether its possible or not,

[2017-12-12 13:32] knom opened #7159 "[AspnetCore Server] Include original swagger.json as a file in the package"
@wing328 @jimschubert
Can we include the original JSON passed into Swagger-Codegen as a file in the generated ZIP package?

Would be great to compare with the Swashbuckle generated JSON..

[2017-12-12 15:14] bzylstra commented on #7081
Our API has a fixed structure - the payload uses Resource and PagedResources to provide links to other resources. For example, the Employee can have have direct reports that are other employees and that can be represented as a collection of links. The API is fixed - the query always returns an Employee but the Employee can include references to other Employees.
Swagger has been an excellent fit wi

[2017-12-12 15:35] tomer opened #7161 "type:string format:binary doesn't work on python-flask (ImportError: No module named binary)"
##### Description

When generating a swagger-server with a model that has type:string format:binary, it completes successfully, but then fail on a missing import.

##### Swagger-codegen version

tested on both v2.2.3 and v2.3snapshot

##### Swagger declaration file content or url

https://forge.etsi.org/rep/gitweb.cgi/MEC.GS_012.git/blob_plain/HEAD:/RniAPI.yaml

##### Command line used for generat

[2017-12-12 16:40] shauncarlson commented on #6867
I'm seeing an issue when I try to generate java client with any library other than the default (okhttp-gson) specified. It is not generating some basic files (ApiCallback, ApiException, ApiResponse, among others), and the files it does generate do not seem to be using the mustache files under the library's directory. I'm interested in building using retrofit2, but this is not working, no matter wh

[2017-12-12 17:21] JFCote commented on #6867
Oh it's been a crazy month. I didn't had time to look into this and I don't think I will have time before christmas.  Sorry about the delay @sashank.

As for @shauncarlson , I don't think what you are tallking about is related to the bug report. Maybe you can create a new bug for this? Thanks!

[2017-12-12 17:30] shauncarlson commented on #6867
Thanks, @JFCote . Will do

[2017-12-12 17:53] jimschubert commented on #7159
In think this may cause some licensing issues.

I wonder if we could default the option to false and opt-in to copying the swagger definition to the .swagger folder in the output directory.

[2017-12-12 18:41] cbornet commented on #7081
To me your issue is with Springfox as the generated swagger looks wrong. Can you check your Springfox config ? Did you use their Spring-data-rest plugin ?

[2017-12-12 23:22] bzylstra commented on #7081
SpringFox rendered the the generics reference as per its documentation: http://springfox.github.io/springfox/docs/current/#changing-how-generic-types-are-named
I see in the JSON file:

        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Resource«EmployeeInfo»»"
            }
          },

Note that I

[2017-12-12 23:56] mricken commented on #7140
I ignored a whole bunch of unit test failures and removed all of swagger-generator and was able to build most of it.
However, even simple specs fail to generate. I tracked this down to an NPE in reusable parameters.

[code]
  /pets/{petId}:
    get:
      summary: Info for a specific pet
      operationId: showPetById
      tags:
        - pets
      parameters:
        - name: petId
          in:

[2017-12-13 03:01] #6996 closed

[2017-12-13 03:13] wing328 commented on #7159
Some other server generators are generating/including the original OpenAPI/Swagger spec in JSON/YAML format.

e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ErlangServerCodegen.java#L125

Template: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/erlang-server/sw

[2017-12-13 03:14] #7047 closed

[2017-12-13 03:26] wing328 commented on #6400
@xiaochow do you mind filing a PR to fix it in Swift4 generator?

[2017-12-13 03:31] #7133 closed

[2017-12-13 03:42] wing328 commented on #6291
Yup, it could be a bug.

Can you please verify by adding [test case](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/tests/test_pet_api.py#L188) for `tags` and see if the Python petstore integration tests pass?

`Pet` contains an array of `Tag` (also a model): https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resou

[2017-12-13 05:16] wing328 commented on #2970
Closed via https://github.com/swagger-api/swagger-codegen/pull/2979

[2017-12-13 06:34] cbornet commented on #4824
@benrobot this is more the fix than a workaround. Would you do a PR ?

[2017-12-13 06:45] MikeRalphson commented on #7047
Thanks everyone.

[2017-12-13 07:35] cbornet commented on #7151
Would you do a PR ?

[2017-12-13 09:16] Kimnyhuus commented on #6957
Hi' @wing328,
Do you by any chance know, if this have been included yet? :-)
 - Could be that this issue just didn't get referenced in the PR.

[2017-12-13 10:08] wing328 commented on #6591
@dnn01 sorry I'm not familiar with XML processing in C#.

Let's see if someone from the community can help on this.

[2017-12-13 10:20] shijinkui opened #7165 "[AKKA-Scala] Add apache v2 licence to templates"
`swagger-codegen` is follow apache v2. Then the generated code should also follow apache v2 licence. If not, no one prefer to choose `swagger-codegen`.

The header like:

[code]

[2017-12-13 10:41] wing328 commented on #7147
@Schwenkner I think the correct CLI option should be `asyncServer`:
[code]
Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l nancyfx

[2017-12-13 10:49] nemecec opened #7167 "One space too many before JavaDoc first line in model methods"
##### Description

Swagger codegen generates the following:
[code]
Whereas it should generate the following:
[code]

##### Swagger-codegen version

2.2.2
It is also present in master.

##### Suggest a fix/enhancement

I will do a pull request.

[2017-12-13 10:51] wing328 commented on #7167
@nemecec thanks. Looking forward to your PR.

[2017-12-13 10:52] wing328 commented on #7165
@shijinkui thanks for the PR but the auto-generated code for any client or server should be unlicensed.

Please use the -t option with the customized templates instead.

You may want to put the license in a separate mustache file (e.g. file_header.mustache) and include it in other mustache files using the following instead:
[code]

[2017-12-13 10:52] #7165 closed

[2017-12-13 11:04] wing328 commented on #7148
What about automatically renaming `Locale` to `ModelLocale` as part of the code generation process?

[2017-12-13 11:10] dylan-colaco commented on #7148
The problem with that is fields are usually named after classes and Json deserialization would stop working if the java(backend) and swift models have different names

[2017-12-13 11:18] wing328 commented on #7148
Without breaking serialization/deserialization, the field can be named differently independent of how the model is named.

I know other generators (e.g. Ruby, PHP, Java) can handle this but not sure about Swift4.

Disclaimer: no expert in Swift

[2017-12-13 11:18] shijinkui opened #7171 "[akka-scala] template upgrade dependency version and refactor"
upgrade pom dependency version

[2017-12-13 11:23] wing328 commented on #2886
#7114 BY @knom has been merged into master.

For those who need .NET core 2.0 support, please pull the latest master to give it a try.

[2017-12-13 11:24] dylan-colaco commented on #7148
I'm not sure either. If this approach works, that should be fine too

[2017-12-13 11:49] nemecec opened #7173 "Improve blank line break handling in generated code"
##### Description

Limiting number of empty line breaks in Mustache output is a [known issue](https://github.com/groue/GRMustache/issues/46) and it seems there will be no "fix" for that coming from Mustache team.

Example (generated with latest master):

[code]

This is clearly broken.

While Mustache is unable to fix this issue themselves (due to the way it generates output), Swagger Codegen can

[2017-12-13 12:06] #6907 closed

[2017-12-13 13:35] bchess opened #7174 "[SCALA] Collection parameters not serializing properly"
##### Description

Collection parameters get serialized via toString(), resulting in URL parameters like List%28123%29 for List(123).

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar swagger-codegen.jar generate --lang scala -i collection-issue.json

##### Steps to reproduce
[code]

Start a simple webser

[2017-12-13 14:10] kgrosvenor commented on #3915
How do i do this?

Swagger\Client\Configuration::getDefaultConfiguration()->setDebug(true)
i want
ProjectName\Client\Configuration::getDefaultConfiguration()->setDebug(true)

[2017-12-13 14:26] col-panic commented on #3405
I guess this ticket could be marked closed, no?

[2017-12-13 14:29] cburman01 opened #7175 "Docker CLI Image Output directory does not exist"
##### Description

Swagger CLI Docker image does not appear to see folder mount from the -v command.
`docker run -it --rm --network ps-bridge -v //c/Users/testuser/tmp:/local swaggerapi/swagger-codegen-cli generate -i http://10.0.0.1:32769/swagger/v1/swagger.json -l csharp -o /local`

Logs:

I have another docker container running an API with swagger which I want the code gen for. To expose the sw

[2017-12-13 15:13] cburman01 commented on #7175
I cloned the repo and build the dockerfile with the entry point excluded so I can bash into the container to see whats up.  To rule out a permission error, you can see the permissions of /.  See local current user has full permissions.

![image](https://user-images.githubusercontent.com/3637525/33945827-b5b08308-dfe5-11e7-9cd8-b33290c58bf3.png)

[2017-12-13 17:09] kgrosvenor commented on #1914
JSON encode gives empty object for me...

[2017-12-13 17:17] wing328 commented on #1914
@kgrosvenor please open a new issue with details for tracking.

Please also try the latest master if you've not done so. SNAPSHOT version of the latest master (2.3.0) can be found in the project's README

[2017-12-13 17:35] kgrosvenor commented on #1914
I am however using a swagger spec that has a property with an empty object, the idea was for me to hydrate that object with custom data. - is this possible before i open up a issue?

[2017-12-13 18:47] cburman01 commented on #7175
I resolve this issue.

For some reason that I am unable to explain, the exact same command works fine in CMD.  When running in bash (MINGW64), I get the error detailed in the original post.
-- In case anyone experiences this in the future...

[2017-12-13 18:47] #7175 closed

[2017-12-13 18:51] roberterdin commented on #6992
rfc3339 sais

   new protocols on the Internet.

Where SHOULD in an RFC means there may exist valid reasons in particular circumstances to ignore a particular item. While `OffsetDateTime` is probably the right default choice for swagger's `date-time`, `LocalDateTime` is semantically correct in some cases and should therefore be available as an option.

As an example, imagine you have a vessel trav

[2017-12-13 20:16] zetlan commented on #5745
+1 on this. The 2.3.0 release will include the OpaqueToken -> InjectionToken update, needed for Angular 5; right now I'm having to hack that into place.

[2017-12-13 20:37] cbornet commented on #6992
In introduction :

      Coordinated Universal Time (UTC).  (This is distinct from some
      usage in scheduling applications where a local time and location
      may be known, but the actual relationship to UTC may be dependent
      on the unknown or unknowable actions of politicians or
      administrators.  The UTC time corresponding to 17:00 on 23rd March
      2005 in New York may depend o

[2017-12-13 21:00] roberterdin commented on #6992
You're right.. I didn't read the entire RFC, sorry for that.
The inability to express a local date-time or at least the ability to express a time so you can construct it with a date and a time field  is a shortcoming of the Open API specification and not of swagger-codegen. Adding a time field is already being  [discussed](https://github.com/OAI/OpenAPI-Specification/issues/607) in the repo for th

[2017-12-13 21:15] cbornet commented on #6992
I think we have the right to define our own type formats. It could be interesting to support a localdatetime one.

[2017-12-13 21:36] slarti-b opened #7176 "Codegen fails if using a parameter reference from another file"
##### Description

We are developing several APIs so want to put shared definitions in a central place.  But if I reference a parameter defined in another file then the codegen fail

##### Swagger-codegen version
2.3.0-SNAPSHOT

##### Swagger declaration file content or url

API Definition:
[code]
common.yaml:
[code]

config.json (for codegen - I am using spring since that's what I'm trying, but s

[2017-12-13 22:01] nemecec opened #7177 "[SpringCodeGen] dateLibrary "java8-localdatetime" option is broken"
##### Description

Using `dateLibrary` option set to `java8-localdatetime` is not working as expected in case of `spring-mvc` library. I would expect the generated object model to use `java.time.LocalDateTime` but instead, it is using `java.time.OffsetDateTime`.

`AbstractJavaCodeGen` contains logic to choose the right dateTime implementation ([code](https://github.com/swagger-api/swagger-codegen/

[2017-12-14 03:08] wing328 commented on #4275
@mrleopoldus please refer to the project's README or the eBook ["A Beginner's Guide to Code Generation for REST APIs"](https://gum.co/swagger_codegen_beginner)

[2017-12-14 04:38] brendandburns commented on #4824
I'm happy to do a PR for this if @benrobot doesn't have time, this is affecting the Kubernetes client...

[2017-12-14 08:44] col-panic commented on #7158
I found other problems concerning this: Consider an oauth2 with password authentication. In this case, only a tokenUrl but not an authorization url is set. Although swagger.json does provide the tokenUrl, it is not shown in the resulting generated bash

[code]

[2017-12-14 10:53] roberterdin commented on #6992
This should be allowed according to the [specification](https://swagger.io/specification/#data-types-13), as far as I can tell.

There is WIP regarding custom type formats, see [this](https://github.com/OAI/OpenAPI-Specification/issues/845) issue.

I think support for two custom formats, i.e. something like `time` (partial-time in the RFC) and `local-date-time` would be quite useful. I could proba

[2017-12-14 12:23] #7159 closed

[2017-12-14 12:24] #7102 closed

[2017-12-14 12:24] #7094 closed

[2017-12-14 12:24] #7092 closed

[2017-12-14 17:20] wing328 commented on #5745
Hi guys, I'm aiming a release before the end of this year.

Will keep you guys posted.

[2017-12-14 17:23] #7171 closed

[2017-12-14 17:56] wing328 commented on #1914
You may find this discussion useful: https://stackoverflow.com/questions/25296967/how-to-express-arbitrary-json-in-swagger-spec

[2017-12-14 18:01] wing328 commented on #7002
What about adding to FAQ -> General?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ

[2017-12-14 18:14] wing328 commented on #7176
Pls note the following output:
[code]
Can you try defining as follows instead?
[code]

Please also use the latest SNAPSHOT, which is using the latest stable version of Swagger Parser.

[2017-12-14 22:15] slarti-b commented on #7176
Yes!  That works.  My bad, new  to the syntax.  Many thanks

[2017-12-14 22:15] #7176 closed

[2017-12-14 23:00] slarti-b opened #7179 "[JavaSpring] Spring Boot codegen generates invalid code if optional date-time parameters used with delegate pattern"
##### Description

Generating a server-stub with swagger codegen for a spring boot API. I'm looking at using the delgate pattern.

If I have a query parameter which is format date-time and required false, then the generated code has an error.  The API interface uses `Optional<OffsetDateTime>` as the variable type but the ApiDelegate Interface uses just `OffsetDateTime` so the (generated) call from

[2017-12-15 03:36] D3Hunter commented on #3618
In my case, i've to remove `<scope>provided</scope>` from both `spring-boot-starter-tomcat` and `javax.validation:validation-api` to get IDEA to run correctly.

[2017-12-15 09:03] #1561 closed

[2017-12-15 09:06] #7064 closed

[2017-12-15 09:06] #2064 closed

[2017-12-15 09:07] #2858 closed

[2017-12-15 09:08] #3445 closed

[2017-12-15 09:08] #3518 closed

[2017-12-15 09:09] wing328 commented on #3618
@D3Hunter thanks for sharing the fix/workaround.

[2017-12-15 09:10] wing328 commented on #3765
Closing this as there's no update.

[2017-12-15 09:10] #3765 closed

[2017-12-15 09:11] #4424 closed

[2017-12-15 09:14] #4498 closed

[2017-12-15 09:22] #3545 closed

[2017-12-15 09:24] #6051 closed

[2017-12-15 09:25] #6065 closed

[2017-12-15 09:25] wing328 commented on #6065
@cbwest3 let us know if you still need help on this. Closing it for the time being.

[2017-12-15 09:28] wing328 commented on #6242
Closing it as there's no update.

[2017-12-15 09:28] #6242 closed

[2017-12-15 09:28] #6564 closed

[2017-12-15 09:43] #6074 closed

[2017-12-15 09:46] #6164 closed

[2017-12-15 09:49] #6768 closed

[2017-12-15 09:50] #6686 closed

[2017-12-15 09:53] #6378 closed

[2017-12-15 09:53] #6958 closed

[2017-12-15 09:54] #6414 closed

[2017-12-15 09:56] col-panic commented on #7158
Sorry, I did not mean this ticket! This ticket is still not fixed! I was referring to another error, but I could not delete the comment, so please re-open this ticket!

[2017-12-15 09:59] #5507 closed

[2017-12-15 10:01] wing328 commented on #7158
cc @frol (2017/07) @bkryza (2017/08) @kenjones-cisco (2017/09)

[2017-12-15 10:05] #6871 closed

[2017-12-15 10:07] #6503 closed

[2017-12-15 10:16] #6841 closed

[2017-12-15 10:17] wing328 commented on #6827
Closing this as there's no update.

[2017-12-15 10:17] #6827 closed

[2017-12-15 10:42] frol commented on #7158
*Implicit* OAuth2 Flow is designed for Web browsers ([RFC 6279 section 4.2](https://tools.ietf.org/html/rfc6749#section-4.2)):

Thus, while it is possible to hook a console-based browsers here, it is not the most straightforward way.

[2017-12-15 10:52] bkryza commented on #7158
@col-panic

You're right - OAuth2 is not supported at the moment in Bash automatically (the documentation just prints out the service OAuth2 endpoint)

I don't have much experience with OAuth2 but I thinkg you could try this:

[code]

which should return a JSON including a bearer token, then you should be able to call any endpoint in such service by adding the authorization header using cURL:

[co

[2017-12-15 10:54] col-panic commented on #7158
I have such a setup, I will try to fix some curl scripts! :)

[2017-12-15 13:04] #7151 closed

[2017-12-15 14:02] col-panic commented on #7158
### Client Authentication Flow

Let's first fix an example for the most basic flow - client authentication flow.

We only need the _tokenUrl_, a _clientId_, a _clientSecret_ and a (set of) _scope(s)_

Executing the following request for example
[code]
returns (in case of success) the following JSON object
[code]

This _access_token_ out of this JSON result has to be passed in subsequent requests a

[2017-12-15 14:25] bkryza commented on #7158
@col-panic

Ok thanks for this test - my proposition would be to assume for now that the user has the bearer token obtained outside of the generated Bash client and can simply provide it using a special option allowing to pass just the bearer token e.g. ```--oauth2-token <TOKEN>``` which will add the appropriate header automatically...

[2017-12-15 16:01] cloady opened #7183 "[CSharp] Could not process model bug"
##### Description

I use simple YAML (JSON tested too) and have a problem with clients generation.

The error:

[code]

##### Swagger-codegen version

Latest, 2.2.3 version

##### Swagger declaration file

[code]

##### Command line used for generation

`swagger-codegen generate -i ./swagger.yaml -l csharp -o ./clients/swagger-codegen-csharp`

[2017-12-15 16:13] wing328 commented on #7176
@slarti-b no problem. Let us know if you need further assistance.

[2017-12-15 16:24] cbornet commented on #3618
@wing328 actually there's a fix to do here ! I totally forgot about this one... I can PR the fix

[2017-12-15 16:52] #6388 closed

[2017-12-15 16:55] wing328 commented on #6146
@muenzpraeger let us know if you need help filing the PR.

[2017-12-15 16:56] #3515 closed

[2017-12-15 16:59] #4689 closed

[2017-12-15 17:06] wing328 commented on #6569
For those who wants to work on this, https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/rust/api.mustache#L71 is a good starting point.

[2017-12-15 17:10] wing328 commented on #6491
Please share the spec via https://gist.github.com so that we can use it to reproduce the issue.

Have you tried other PHP server generator to see if you encounter similar issues?

[2017-12-15 17:11] wing328 commented on #6394
@dariota thanks for pointing out the exact root cause of the issue. May I know if you've time to contribute a PR with the fix?

[2017-12-15 17:19] wing328 commented on #6243
Closing this as there's no update.

[2017-12-15 17:19] #6243 closed

[2017-12-15 18:12] dariota commented on #6394
Not until mid January, but I can take it up then.

[2017-12-15 20:38] col-panic commented on #7158
I find this a very good first step - at least it will be documented and users will know how to use it!
Probably the option could be more generalized calling it ```--bearer-token```? What is the respective syntax used for apikey?

I would also target support for easy authentication using the client resource and resource owner password flow. E.g. by providing a resp. login function that will then au

[2017-12-15 21:43] nirajpatel commented on #6229
Is there any update on this issue?

I have a concrete class like this:
[code]

Whenever the definition is generated for `Request` the `field` definition is a reference to `SomeInterface` instead of a `OneOf` definition pointing to `A` or `B`.

[2017-12-15 22:37] HugoMario commented on #7140
Hey @mricken , sorry for delay response.

Right now, we're working focus on #6041 and #6077 , about failure build, the most common reason is because there are `swagger 2.0` that still have not been removed, specially on `swagger-generator` module.

About if openApi 3.0 is going to support swagger 2.0, the answer is `yes`. We're going to use a converter for that.

There is an estimate date `Jan 8 2

[2017-12-15 22:37] #7140 closed

[2017-12-16 00:38] mricken opened #7186 "NPE for Reusable Parameters in 3.0.0_enhancements"
##### Description

I'm using the CLI of the 3.0.0_enhancements branch. As soon as I add a $ref for a parameter, I get an NPE.

In the example below, I added a `MyQueryParam` parameter that is being $ref-ed from the `showPetById` operation.

##### Swagger-codegen version

[code]

##### Command line used for generation

```$ java -jar ./swagger-codegen/modules/swagger-codegen-cli/target/swagger-code

[2017-12-16 03:10] wing328 commented on #7186
@mricken thanks for reporting the issue.

cc @HugoMario

[2017-12-16 03:19] #3618 closed

[2017-12-16 03:20] wing328 commented on #3618
Thanks for the PR by @cbornet

@smile18 @pbashyal-nmdp @D3Hunter please pull the latest master to give it a try (or use the SNAPSHOT version mentioned in the project's README)

[2017-12-16 11:42] antis81 commented on #5521
Once again I took the rocky road and went through closing all those nasty mem-leaks and thread leaks manually in the *generated* code base. Thanks to `valgrind` this is a doable task in hours instead of days… However there's not much needed to fix the default templates for good and make them "just work".

[2017-12-16 12:10] antis81 commented on #5521
Do we have a `2.2.x` branch where I can request the fix to be merged? It's not completely finished/tested, code is here -> [antis81/patch-1](https://github.com/antis81/swagger-codegen/tree/patch-1)

[2017-12-16 13:14] wing328 commented on #5521
@antis81 please file against 2.3.0 branch, which will be released by the end of this month.

[2017-12-16 14:24] #6089 closed

[2017-12-16 14:25] #6084 closed

[2017-12-16 14:59] wing328 commented on #6718
PR: https://github.com/swagger-api/swagger-codegen/pull/6724

[2017-12-16 14:59] #6719 closed

[2017-12-16 15:22] ogres commented on #6598
Any update?

[2017-12-16 16:18] #6854 closed

[2017-12-16 16:23] wing328 commented on #6957
I don't think based on https://github.com/swagger-api/swagger-codegen/issues/6641#issuecomment-343954969

cc @jgavris  @ehyche  @Edubits  @jaz-ah

[2017-12-16 16:24] #6789 closed

[2017-12-16 16:30] #6852 closed

[2017-12-16 16:31] wing328 commented on #6716
Closed via https://github.com/swagger-api/swagger-codegen/pull/6726

[2017-12-16 16:31] #6716 closed

[2017-12-16 16:37] #6784 closed

[2017-12-16 16:39] #6984 closed

[2017-12-16 16:40] wing328 commented on #6841
@etherealjoy when you've time, I wonder if you can contact me via my email address on my Github profile. Thanks.

[2017-12-16 16:42] #6618 closed

[2017-12-16 16:44] #6585 closed

[2017-12-16 16:48] wing328 commented on #6631
Closing this as there's no update.

Please let us know if it's still an issue with the latest master.

[2017-12-16 16:48] #6631 closed

[2017-12-16 16:49] #6604 closed

[2017-12-16 16:50] #6475 closed

[2017-12-16 17:03] #6432 closed

[2017-12-16 17:19] #6241 closed

[2017-12-16 17:19] wing328 commented on #6241
@anujshahx please also try the `akka-scala` generator to see if that works for you.

[2017-12-16 17:23] wing328 commented on #5780
@leonluocheng Please file a PR with the fix when you've time

[2017-12-16 19:28] HugoMario commented on #6598
sorry for delay response.

Right now we're focus on java (client/server) for oas 3. I'm working on it, btw.

There is an estimate for 08/01/2018 to release this beta.

[2017-12-16 22:51] bvwells commented on #3851
I took a look at this one and have submitted a PR. Let me know if you have any feedback.

[2017-12-16 23:44] jacksloan opened #7189 "[typescript-angular] some models missing from api/*.service.ts imports"
##### Description
additionalProperties models are not imported in generated typescript-angular api/*.service.ts files.

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url

[code]

Entire swagger declaration  file in this repo: https://github.com/jacksloan/broken-imports-typescript-codegen
##### Command line used for generation
[code]

##### Steps to reproduce
Run ty

[2017-12-17 02:49] #6420 closed

[2017-12-17 03:17] #6236 closed

[2017-12-17 03:18] wing328 commented on #6225
Please also try the `akka-scala` generator to see if it has the same issue.

[2017-12-17 03:19] #6308 closed

[2017-12-17 04:29] wing328 commented on #6229
Please give it a try with the latest master.

[2017-12-17 04:29] #6136 closed

[2017-12-17 05:57] #7167 closed

[2017-12-17 05:58] wing328 commented on #7126
@KeenS thanks for reporting the issue. Let us know if you need help with the PR.

[2017-12-17 08:14] KeenS commented on #7126
It's ready but waiting for #7125 because they conflicts. Thank you.

[2017-12-17 09:53] osher commented on #3515
@wing328 - I really appreciate the persistence and the seriousness but I had to move on with other solutions, so I'll have to admit I stopped following.
I would like to say I'll try it, but the chances now are rather low - so I wouldn't like to build false expectations...

[2017-12-17 12:45] #3405 closed

[2017-12-17 14:07] antihax commented on #7016
Confused here. I am generating a large client which uses DELETE many times and has no return type in the output parameters. No data is decoded in the operation.

How are you getting return data?

Compare these two operations
[code]

[2017-12-17 14:27] wing328 commented on #7013
@canadaduane I should have tagged @arhont375 instead.

[2017-12-17 14:35] #6126 closed

[2017-12-17 14:35] bvwells opened #7190 "Typo catehgry in petstore.yaml"
##### Description

There is a typo in the petstore.yaml Category object definition which also turns up in a lot of the sample client/server generated code. The typo is in the title, it should say 'Pet category' not 'Pet catehgry'. See swagger-codegen\modules\swagger-codegen\src\test\resources\2_0\petstore.yaml

  Category:
    type: "object"
    properties:
      id:
        type: "integer"

[2017-12-17 14:41] wing328 commented on #5062
Closing this. If it's still an issue, please reply to let us know.

[2017-12-17 14:41] #5062 closed

[2017-12-17 14:45] #5535 closed

[2017-12-17 14:47] #4459 closed

[2017-12-17 14:48] #3673 closed

[2017-12-17 14:55] wing328 commented on #3515
@osher no problem. Just open a new issue if you need help from us.

[2017-12-17 14:55] #3632 closed

[2017-12-17 14:57] wing328 commented on #3632
@ngzero please try the latest master and let us know if you still need help on this.

[2017-12-17 15:00] wing328 commented on #5737
The latest master is using a newer version of Swagger Parser. Please give it a try to see if it helps.

[2017-12-17 15:03] #5803 closed

[2017-12-17 15:38] #6201 closed

[2017-12-17 15:39] #6607 closed

[2017-12-17 16:47] antihax commented on #6449
See #7192

[2017-12-17 16:54] apryamostanov opened #7193 "[JAVA] Client generation - issue with okhttp version 2.7.4 - getResponse TODO"
##### Description
JAVA Client generation uses **okhttp** 2.7.5.
Not sure how this was supposed to be working at the time (I'm new to okhttp), but it all ends in HttpEngine class (https://github.com/square/okhttp/blob/6e236ce3b80f21369dc544f0e1053ff71be8689b/okhttp/src/main/java/com/squareup/okhttp/internal/http/HttpEngine.java):

[code]
Indeed this implementation is never returning HTTP response b

[2017-12-17 17:32] #6141 closed

[2017-12-17 17:46] antis81 commented on #5521
@wing328 I couldn't find a 2.3.x branch to file against. Do you mean master?

[2017-12-17 17:52] wing328 commented on #5521
@antis81 right, I'm referring to the master (which will be released as 2.3.0). Sorry for any confusion.

[2017-12-17 18:00] apryamostanov commented on #7193
I think its Springfox bug. Please close this one.

[2017-12-17 18:13] antis81 commented on #5521
Alright, rebased the changes onto master and pushed. Not sure everything works as I cannot actually test it. Could someone review or even test it further? Am just about to open the PR and we see further… :)

[2017-12-18 07:35] #7147 closed

[2017-12-18 07:43] grokify opened #7196 "[Go] Change query parameters to use `go-querystring` from `map[string]interface{}`"
##### Description / Suggest an enhancement

Version 2.3.0 made a huge improvement for query parameters by moving to a `map[string]interface{}` from a sequence of function parameters. Moving further to a query parameter struct using Google's `go-querystring` (https://github.com/google/go-querystring) seems like it would be a nice enhancement.

Note: I still need to try out 3.0.0 to see if this is t

[2017-12-18 08:07] #6560 closed

[2017-12-18 09:47] bvwells commented on #6059
Hi @wing328, I've added an abstract base class for Go codegen. Let me know if you have any feedback.

[2017-12-18 11:10] etherealjoy opened #7198 "[qt5cpp] Map is generated as JsonArray instead of JsonObject"
##### Description

There is a small issue related to the generation of Maps, wherein the QJsonArray is used instead of QJsonObject .

[code]
instead of
[code]

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-12-18 11:58] carpani-mailup commented on #7016
Close the issue, please. I've rechecked with latest version in 2.3.0 and there's no more evidence of the issue as mentioned by antihax. Or better i've got another error, exactly it happened with DELETE/POST if in YML has been declared a VOID object to be returned. Go code create an 'empty' interface as object to be returned and client blowup, but i'll open anoterh issue more detailed.

[2017-12-18 11:58] #7016 closed

[2017-12-18 12:11] ackintosh opened #7200 "[PHP] "test" should not contain real codes."
##### Description

["test"](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/php/SwaggerClient-php/test) should contain only auto-generated test codes and the unit tests which tests auto-generated codes should be in ["tests"](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/php/SwaggerClient-php/tests).

e.g. [test/Api/PetApiTest.

[2017-12-18 13:20] gennadiylitvinyuk opened #7201 "[Typescript] Regression: after #7112 the modelPropertyNaming is ignored"
##### Description

Regression: after #7112 the modelPropertyNaming is ignored

##### Swagger-codegen version

3.0.0-20171123.081951-8

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce
Use
`
{
  "modelPropertyNaming": "original"
}
`
in config
##### Related issues/PRs

##### Suggest a fix/enhancement

@JFCote has suggested a fix for the

[2017-12-18 13:31] #5752 closed

[2017-12-18 13:51] JFCote commented on #7201
@gennadiylitvinyuk Can you get my branch and try the fix please?
https://github.com/swagger-api/swagger-codegen/pull/7202

Thanks!

[2017-12-18 13:57] gennadiylitvinyuk commented on #7201
@JFCote Sorry, can't compile Java right now, I just use SNAPSHOTs to generate Client in Angular 5 project

[2017-12-18 14:15] wing328 commented on #7148
I'll file a PR after 2.3.0 release, which is scheduled this week.

[2017-12-18 14:20] #6119 closed

[2017-12-18 14:22] #6746 closed

[2017-12-18 14:25] #6995 closed

[2017-12-18 14:26] #4907 closed

[2017-12-18 14:26] #5686 closed

[2017-12-18 14:35] #6879 closed

[2017-12-18 14:43] #6471 closed

[2017-12-18 14:44] wing328 commented on #6869
Please file a PR: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2017-12-18 16:19] jstockall commented on #5752
Tested with 2.3.0 and both classes are now identical and defined using a String for the timestamp

[2017-12-18 16:38] xiaochow commented on #6400
@wing328 The solution I had was make changes to my client side code. I haven't figured out the how to fix it in codegen. But I will look at @ehyche 's PR and try to work on it.

[2017-12-18 17:09] wing328 commented on #6400
@xiaochow thanks. Let us know if you need help with the PR.

[2017-12-18 17:14] yucer commented on #1575
Just for the record, I got this problem again, this time the cause was of trailing spaces.

[2017-12-18 17:20] etherealjoy opened #7205 "[qt5cpp] Primitive Types are generated with default json values even when not set"
##### Description

When the Model data is not being updated, the primitive types are already initialized with default values.
This is a problem because there is no check if the data is updated and when sent to the server is an issue because they are valid data.

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps t

[2017-12-18 17:41] etherealjoy commented on #6884
I need help to fix this. Can someone please give me some hints?

[2017-12-18 17:42] etherealjoy commented on #6983
I need help to fix this. Can someone please give me some hints?

[2017-12-18 17:44] etherealjoy commented on #6983
There is a workaround for this problem, create an intermediate type and use allOf. Then refer this intermediate type in the body schema.

[2017-12-18 21:12] cledoux commented on #7109
There's a bug filed in the `six` repo about this:
https://github.com/benjaminp/six/issues/45

In this report, they explicitly state

[2017-12-18 23:42] jlar310 opened #7207 "Java import-mappings require manual modification of pom.xml to compile generated code"
##### Description

I have a shared Java package that contains the data model classes that will be used by my Spring Boot API server and also by Java clients. I can specify these classes with the importMappings configuration option. However, there is no method I can find where I can add the library that contains those classes as a dependency in the generated pom.xml. The pom file must be modified a

[2017-12-19 03:40] jimschubert commented on #7079
@craffael It sounds like most of the issue is in the implementation of the NancyFX server generated code, which I'm not that familiar with.

I'd recommend if you take this up, sticking with the JSON.net route. This is likely going to be affected by #6969 (which was merged into master about a week before you opened this PR), and #7043 (if you're targeting 3.5).

I've had some computer issues over t

[2017-12-19 04:15] knom commented on #7116
Hey @wing328,
if you have any advice for me how to approach it I can try doing the change (maybe still getting it into 2.3.0).

Thanks.

[2017-12-19 04:57] KeenS opened #7208 "[RustServer] `object` type is generated when an empty object is given"
##### Description

When the object data type is empty (or nothing understandable to the generator), it generates `object` type, which is invalid to rust.

[code]
to

[code]

##### Swagger-codegen version

master (dc69138de52f089f9a7ad8be475ebbaa8c6e2d99)

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Just run the co

[2017-12-19 06:37] KeenS commented on #7208
I'm ready to submit a patch if someone like it
https://github.com/KeenS/swagger-codegen/tree/rust-server/handle-object-type

Is `HashMap` is preferred to `serde_json::Value` ?

[2017-12-19 06:40] #7106 closed

[2017-12-19 06:50] baibinghere commented on #5798
Below is the YAML file definition

[code]

Below is how I rewrite the controller.mustache:
[code]
Below are my files:

[code]

Below is how I executed the command:
[code]

[2017-12-19 06:51] baibinghere commented on #5798
This is what have been generated as controller file:

[code]

[2017-12-19 09:20] #6940 closed

[2017-12-19 09:32] wing328 commented on #7207
What about using the `-t` option with customized templates?

[2017-12-19 09:35] wing328 commented on #5798
OK. For the issue with baseName, please open a new issue for tracking instead.

[2017-12-19 09:35] #5798 closed

[2017-12-19 09:35] #7190 closed

[2017-12-19 10:26] craffael commented on #7079
@jimschubert Thanks for the helpful pointers. Especially PR #6969 should be very helpful. I think .Net 3.5 is not needed as it is the nancy generator supports only .net 4.5 so far.

I will look into the implementation this week and can hopefully already make a proposal by the end of it.  Also good to know that you're computer is working again ;)

[2017-12-19 13:40] jlar310 commented on #7207
Thanks, I will take a look at that option. However I still can't help but think that the import mappings feature is somewhat incomplete without easy dependency management.

[2017-12-19 15:16] simingweng opened #7216 "[JAVA] support WebClient based (Spring WebFlux framework) client generation"
##### Description
The feature request is to add the capability to generate a client library based on the [WebClient API](https://docs.spring.io/spring-framework/docs/5.0.0.BUILD-SNAPSHOT/spring-framework-reference/html/web-reactive.html#web-reactive-client) offered by non-blocking Spring WebFlux framework

##### Suggest a fix/enhancement
A easy starting point could be taking a look at the blocking

[2017-12-19 15:21] jlar310 commented on #7207
Making a pom.mustache template does indeed work, but because I must copy the entire pom from swagger-codegen sources, it will require constant maintenance as the swagger codebase evolves. I would still advocate for a more dynamic import-dependency feature. Of course, that still leaves us with configuring repositories for said dependencies as we prefer to include all needed repository information i

[2017-12-19 15:53] simingweng opened #7217 "[Spring] support generating Spring WebFlux-based server stub"
##### Description
The feature request is to support generating a spring boot server stub based on the non-blocking Spring WebFlux framework.

##### Command line used for generation
add a new sub-template via `-l spring --library spring-webflux`

##### Suggest a fix/enhancement
The straightforward approach would be following the [annotated controller](https://docs.spring.io/spring/docs/current/spri

[2017-12-19 15:59] simingweng commented on #7217
The feature shall have dependency on Spring Boot 2.0.0 release, which is work-in-progress, but is soon due for first release. It is needed for the WebFlux auto configuration in the generated Spring Boot project.

[2017-12-19 16:12] karussell opened #7218 "[CSharp] Problems with code creation"
##### Description

I have no windows here and so I tried to build the c# version of [our client library](https://github.com/graphhopper/directions-api-clients/tree/master/csharp) under Ubuntu 16.04, but this fails with:

[code]

BTW: Changing the sdk option to just 4.5 removes also the warning "warning CS8001: SDK path could not be resolved". So I do not think that is the root cause.
BTW2: the sam

[2017-12-19 18:50] cbornet commented on #7217
Yes. A simple option should be enough, no need to pull a full library

[2017-12-20 03:20] sharmasourabh opened #7220 "[JAVA] Extend classes in generated models not defined in YAML file"
##### Description

I would like to use the class as base class not defined in YAML file. Through import mapping, we can use classes which are not defined in YAML file as a members, but could not figure out how to use them as base class.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url
[code]

##### Command line used for generation

NA (normal command with requir

[2017-12-20 04:18] #6320 closed

[2017-12-20 04:35] nicolasaragon commented on #4669
Great work on the OAS3 specification. I spent roughly 9 hours and I am happy with the result. The editor was helpful too. I want to keep my API and I want to keep using OAS3.

What is the planned date for OAS3 support in swagger-codegen?

This will help me choose between waiting for support, or whipping up a template and parser by myself.

Thank you!

[2017-12-20 08:32] tobisinghania opened #7222 "Groovy code-gen imports ArrayList incorrectly in models"
##### Description
The groovy code generator imports the `ArrayList` class for array types in models, but does not
import it correctly.

Instead of generating `import java.util.ArrayList` (or for Groovy nothing at all), the generated code imports the `ArrayList` class from the models package.

##### Swagger-codegen version
The error happens for swagger-codegen version 2.2.3. For older versions I di

[2017-12-20 12:46] Kdoki commented on #5187
Hello,

Is there any news about this issue ? or a workaround ?

Regards,

[2017-12-20 14:00] wing328 commented on #5530
For Ruby API client: https://github.com/swagger-api/swagger-codegen/pull/7223

[2017-12-20 14:39] wing328 opened #7224 "[Elm] Enhancement list"
##### Description

TODO list:
- [ ] Get rid of the vendor extensions;
- [ ] Add support for path variables;
- [ ] Add support for `additionalProperties`/`Dict`s;
- [x] Add support for `Date`/`DateTime`;
- [ ] Add support for `ByteArray`/`Binary`;
- [ ] Add support for authentication;
- [x] Distinct between `Int` and `Float`;
- [x] Limit the exposure of modules;
- [ ] Support recursive types;
- [ ]

[2017-12-20 15:10] westse opened #7225 "[scala] stripPackageName should be configurable"
Needed because some APIs (e.g. Kubernetes) include version information in packages. Stripping causes many generated API and model classes to be named the same, causing a last-one-wins situation which is unacceptable.

1. Version of swagger-codegen used: latest from master branch
1. Language: scala

##### Steps to reproduce

1. Example input spec to produce the problem: https://raw.githubuserconten

[2017-12-20 19:22] NikolaySl commented on #6537
@wing328 Is there any date scheduled when new version of 1.5 branch of swagger-core will be released with https://github.com/swagger-api/swagger-core/pull/2502 ?

[2017-12-20 21:43] ccozzolino opened #7230 "[JAVA] [library: vertx] Fix improper initialization of main router in MainApiVerticle template"
##### Description

The current template for [MainApiVerticle](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaVertXServer/MainApiVerticle.mustache) incorrectly instantiates the protected main Router and does not re-use that router member with the instantiated SwaggerRouter. I propose that we modify the template as follows:

Initiantiate the

[2017-12-20 21:55] wajidreply opened #7231 "Please help in resolving issue "Property 'body' does not exist on type '{}'"."
##### Description

Generated the models using ng-swagger-gen and while building the application getting error "Property 'body' does not exist on type '{}'." . Please help in how to resolve this issue.

##### Swagger-codegen version:

 Swagger-codegen version: 0.9.3

##### Swagger declaration file content or url
http://petstore.swagger.io/v2/swagger.json

 http://petstore.swagger.io/v2/swagger.json

[2017-12-20 21:59] bvwells opened #7232 "[go] Generate swagger yaml"
##### Description

It would be good if the go client generator generated the swagger yaml file in the same manner as the go server generator.

##### Swagger-codegen version

2.3.0-SNAPSHOT.

##### Swagger declaration file content or url

Use Petstore.

##### Command line used for generation
Run:
[code]

##### Steps to reproduce

N/A

##### Related issues/PRs

N/A

##### Suggest a fix/enhancement

[2017-12-21 01:21] liuweireign commented on #6598
Looking forward to it.

[2017-12-21 02:35] cesaralvarado9 opened #7236 "Vendor Extensions not present in CodegenSecurity"
##### Description

Hi,

CodegenSecurity does no have a property for vendorExtensions and therefore it is not populated by the values provided from SecuritySchemeDefinition.

But the spec dictates that those values should be available as displayed here:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#security-scheme-object

##### Swagger-codegen version

2.2.2, but confirm

[2017-12-21 10:27] AlexanderLea commented on #7150
Hi @ndurette - any progress here? I'd love this functionality. Let me know if there's anything I can do to help :)

[2017-12-21 14:04] ndurette commented on #7150
@AlexanderLea I did a PR #7160

Now waiting to determine the scope of this change since I made the change available for every generator.

[2017-12-21 14:21] ppirat commented on #1435
Are there people using the Java Jersey2-based client in production? Thread-safety seems like a must-have ! How are you guys coping with this constraint ?
Don't get me wrong, I still love the whole Swagger and OpenAPI. Keep up the good work !

[2017-12-21 14:41] jmiserez commented on #1435
@ppirat I use a automatically resizing pool of Api objects to achieve thread-safety. Works fine but if you have a lot of concurrent requests you will have a lot of objects. I also tried instantiating one Api object per thread (using thread-local variables) as suggested by @wing328 in https://github.com/swagger-api/swagger-codegen/pull/1463, but as my threads are very short-lived (1 new thread per

[2017-12-21 14:45] cbornet commented on #5187
There are several things to consider here:
- what should we do if there is only `additionalProperties` and no `properties` ? Keep the HashMap inheritance or add the JsonAnyGetter/JsonAnySetter ?
- this will not work with gson. Not a problem for Spring codegen but it could be one for the java client ones.

Note : to change the behavior, override the [addAdditionPropertiesToCodeGenModel](https://git

[2017-12-21 14:45] cbornet commented on #5187
@wing328 WDYT ?

[2017-12-21 15:31] antihax commented on #7196
Thanks for the suggestion, I am not happy using the map[string]interface{} but it appeared like the best solution at the time.

I did look at using a similar interface to go-querystring so the feel is more standard to go, but the issue is when parameters are not passed; for example:

[code]

Because the int was not specified, it defaults to 0; there is no page 0. This may seem quite simple to work

[2017-12-21 16:42] wing328 commented on #6449
https://github.com/swagger-api/swagger-codegen/pull/7192 by @antihax has been merged into master.

@nazieb please pull the latest master to give it a try.

[2017-12-21 16:42] #6449 closed

[2017-12-21 18:18] bzglm opened #7240 "Swagger-codegen generates enumerations whose first value is 1 instead of 0"
I am facing an issue with swagge-codegen as I try to generate a c# client SDK regarding the generation of the models for enumerations. Indeed, I have some enumeration definitions in my Open API description, and the model generated from their description has a default value of 1, which is tricky for me because in my web API their default values are 0.

**I haven't found the information on how to ma

[2017-12-22 08:43] cjkumaresh opened #7244 "[DOCUMENTATION] Compatibility section in README.md shows 2.2.3 as current stable version which should be 2.3.0"
##### Description

Compatibility section in README.md shows 2.2.3 as current stable version which should be 2.3.0

[2017-12-22 12:46] swavans opened #7246 "IEnumerable<string> as parameter does not work"
Hi,
In my schema I have:
`"parameters": [{
					"name": "confirmationcode",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "interfacesTypes",
					"in": "body",
					"required": true,
					"schema": {
						"type": "array",
						"items": {
							"type": "string"
						}
					}
				}],`

which causes the following exception:
`org.apache.maven.lifecycle.Lifec

[2017-12-22 15:55] wing328 commented on #7244
Thanks for pointing it out. I just updated the readme.

[2017-12-22 15:55] #7244 closed

[2017-12-22 17:33] #5745 closed

[2017-12-22 17:34] wing328 commented on #5745
2.3.0 released!! Huge thanks to the awesome Swagger Codegen community.

Tweet to promote the new release: https://twitter.com/wing328/status/944259218386718720

[2017-12-22 18:47] leonluocheng commented on #5780
@wing328 sure np.

[2017-12-22 19:51] vgadamsetty opened #7247 "Getting issue while generating java POJOs for ENUMs from swagger json"
##### Description

Getting issue while generating java POJOs for ENUMs from swagger json

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

 "test_property": {
          "type": "string",
          "description": "Indicates the primary journey type for the application.",
          "enum": [
            "TEST_ONE",
            "TEST_TWO",
            "TEST_THREE",

[2017-12-23 17:54] czillman opened #7249 "Swift 4 codable data structure for Swagger/OpenAPI json specification file"
I am working with both swagger 1.2 and OpenAPI (swagger2.0) json specification files in Swift 4 on a Mac. I've searched but cannot find a swift codable data structure for the swagger & OpenAPI specification file formats. I'd like to use a reliable standard data structure to open, summarize, and manipulate a library of 200 swagger specification files. Is there any published Swift 4 Codable data str

[2017-12-24 09:27] githubzilla commented on #1903
+1

[2017-12-25 05:58] etherealjoy opened #7250 "[qt5cpp] Segfault when accessing/deleting object after calling API containing an object as body param"
##### Description

The generated API passed the object param in the request body as a copy. When the API returns the copy is deleted and the pointer references inside also get deleted. After this attempting to delete or access the object causes segfault since the pointers inside the object have been deleted when the copy is destroyed on API return.
e.g.
[code]
instead of
[code]
##### Swagger-codeg

[2017-12-25 16:54] david-rougier opened #7252 "[C#] Generating models whose names start with "{operationId}" in the specification"
I want to generate C# models from an OpenAPI 2.0 specification.
The names of the data types start with "{operationId}" in the specification.
Can the models be generated without the operationId in their names ?
If so, how ?

[2017-12-25 20:25] nartc opened #7253 "[Node/Express -> TypeScript-Angular] Consolidate generated files into one `api.ts` file"
##### Description

I’ve just got started with Swagger and NodeJS. I was able to implement Swagger to my NodeExpress application and was also able to generate typescript-client-code with Swagger-Codegen (Typescript-Angular) to be exact.

One problem that I have is the generated code is so spread out many different files. I was hoping that it only output one file `api.ts` and it contains everything

[2017-12-26 08:19] turkenh opened #7255 "[python-flask] ImportError: No module named byte_array"
##### Description
Getting the following error while trying to run generated server stub for kubernetes apiserver with python flask:

[code]

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url
https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

##### Command line used for generation
[code]

##### Steps to reproduce
1. Generat

[2017-12-26 20:31] houtianze commented on #5091
If it's of any value to anyone, I used the following command (`xml` is `xmlstarlet`) to change the scope to `compile`:

`xml ed -L -u "//*[name()='dependencies']/*[name()='dependency']/*[name()='groupId' and text()='javax.validation']/../*[name()='scope']" -v compile pom.xml`

[2017-12-26 20:43] HugoMario commented on #7186
@mricken, can you please check this when you have a chance?

[2017-12-27 02:54] wing328 commented on #3565
@ivucica please pull the latest master to give it a try.

[2017-12-27 02:54] #3565 closed

[2017-12-27 03:11] wing328 commented on #7222
@tobisinghania yes, I think we can go with explicit import for the time being. Would you have time to file a PR with the suggested fix?

[2017-12-27 03:30] wing328 commented on #5240
@dylan-colaco you can use customized templates with the `-t` option by reverting the change in https://github.com/swagger-api/swagger-codegen/pull/7045/files#diff-88dc34e41d8b27bfe76b7e0958a1675c

[2017-12-27 04:06] wing328 opened #7259 "Swagger Codegen no longer support Java 7"
##### Description

The latest Swagger Codegen no longer supports Java 7, which means users must have Java 8 or later installed in order to build the project locally in their environment.

If anyone has a compelling reason to use Java 7 for this project, please reply to let us know.

(The auto-generated Java API client still supports Java 6 or later)

##### Swagger-codegen version

latest master

[2017-12-27 07:00] maheshmahadevan commented on #4226
Is this being adopted by the swagger codegen , we are facing similar issues because of not being able to use discriminator along with allOf property

[2017-12-27 08:28] macjohnny opened #7261 "[Java] Bug: boolean getter used for non-primitive Boolean"
##### Description

When generating a model from a swagger file with
[code]
the generated model file will contain
[code]
The problematic line is the following:
[code]
since the [JavaBeans Specification - section 8.3.2](https://edelivery.oracle.com/otn-pub/jcp/7224-javabeans-1.01-fr-spec-oth-JSpec/beans.101.pdf) states that

or it may be provided in addition to a “get<PropertyName>” method.

And in

[2017-12-27 08:29] macjohnny commented on #7261
cc @wing328

[2017-12-27 08:48] wing328 commented on #6520
There's no permission need to add Pet to the Petstore server.

We need to focus on the following code:

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/r_test/R/PetApi.r#L60-L87

The code looks good to me although I'm no expert in R.

Can we have another pair of eyes to review the code assuming API client's `callApi` is doing the right thing?

[2017-12-27 08:48] wing328 commented on #6520
The user shouldn't need to do that (they don't even need to know the difference between query and header parameters)

[2017-12-27 08:52] #3851 closed

[2017-12-27 08:54] wing328 commented on #7261
Your suggestion sounds good to me. I didn't realize it would break Spring BeanWrapper usage.

Please file a PR so that we can review.

[2017-12-27 09:00] macjohnny commented on #7261
@wing328 would it be possible to revert the change at first instance and release a patch version `2.3.1` and later on implement the additional `isMyProperty()` method, since adding the additional method requires some work

[2017-12-27 09:05] wing328 commented on #7259
Some background information: we do have CircleCI to cover Java 7 and 8 but seems like it's not working as expected: https://github.com/swagger-api/swagger-codegen/blob/master/circle.yml#L42

If we continue to support Java8, we will need to leverage other CI (e.g. Shippable) instead to make sure the project can be built by Java7.

[2017-12-27 09:14] wing328 commented on #7261
Likely we will need to release 2.3.1 as we just found out it's not working for Java7 (https://github.com/swagger-api/swagger-codegen/issues/7259).

I can think of a quick fix. If you've not started, I'll give it a try tonight, ok?

[2017-12-27 09:19] macjohnny commented on #7261
@wing328 ok, I will wait for your feedback. so you will revert the method naming?

[2017-12-27 09:23] wing328 commented on #7261
I plan to add the "getMyProperty" method.

[2017-12-27 09:24] macjohnny commented on #7261
@wing328 excellent

[2017-12-27 09:57] wing328 commented on #7261
cc @bbdouglas @JFCote @sreeshas @jfiala @lukoyanov @cbornet

[2017-12-27 10:55] HermenOtter commented on #7201
@JFCote @wing328 There seems to be more regression since the change. Parameters with containing an _ are generated incorrectly.

Swagger definition:
`/sadr/v1/soorten_adres/{code_soort_adres}:`
is generated to
`public removeSoortenAdres(code_soort_adres: string, <..snip..> {`
and
`return this.httpClient.delete<..snip..>soorten_adres/${encodeURIComponent(String(codeSoortAdres))}`,`

[2017-12-27 11:52] HermenOtter opened #7262 "[Angular-typescript] Regression/bug: Parameters with an _ ignore naming convention"
##### Description
Parameters with an _ ignore naming convention since a few days. This bug occurred a few months ago as well and has been fixed at the time.

##### Swagger-codegen version

master(54ce4caafc3909056630d97b428b2e8a9022a6f9 and  8ae11847d3e2300bc79cc9a08c20c187cd2d4c15) are not working as expected.

##### Swagger declaration file content or url
[code]
##### Command line used for gener

[2017-12-27 16:26] wing328 commented on #7261
Sorry too busy. Will give it another try tomorrow and update you guys.

[2017-12-28 08:44] marcindanek85 commented on #6869
Done... https://github.com/swagger-api/swagger-codegen/pull/7264

[2017-12-28 09:04] Dr0na commented on #1170
The issues still occurs as on date. Server code isn't generated with the exact same error.

[2017-12-28 16:24] Defozo opened #7266 "[JAVA][Retrofit2] How to use auto-generated client code?"
##### Description

Swagger generates instructions how to use auto-generated client code:
Eg. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/retrofit2/docs/PetApi.md
However, `Configuration` and `ApiException` doesn't exist.
So, how to use it?

##### Swagger-codegen version

master

##### Command line used for generation

I'm using gradle plugin.

##### Step

[2017-12-28 20:39] cledoux opened #7268 "[Python] Selecting Endpoint for the README example"
##### Description

Is there a way to select which endpoint is used to generate the example for the README?

It looks like the current method sorts by tag and operationID and selects the first one to generate an example for.

Given the following paths and tags (spec kept minimal to illustrate issue and is not valid):

[code]

The generated README will contain an example similar to:

[code]

What I

[2017-12-28 21:18] cledoux opened #7269 "[Python] Example of providing API key does not work"
##### Description

The example of configuring an API in the generated README is broken for python.

The example code generated is:
[code]

However, the `configuration.py` file does not have an `api_key` attribute. All attributes are now inside the `Configuration` class and cannot be set at the module level.

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url
(This i

[2017-12-29 00:44] gmarz opened #7270 "[Scala] Template missing json4s import"
##### Description

The type annotations introduced in https://github.com/swagger-api/swagger-codegen/pull/7086 for `ClientResponseReader`, [specifically this line](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/scala/api.mustache#L45) causes

[code]

I believe because it's missing the required `json4s` import since we're no longer relying on t

[2017-12-29 04:43] gmarz opened #7272 "[Scala] Async helper does not account for optional bodies"
##### Description

`RequestWriter` is typed to the body parameter, but does not account for the case where a body is not required, and thus is of type `Option[T]`.

For instance:

[code]

is fine, but if if `body` above is `Option[SomeBody]` (because it's not required), then the following is generated:

[code]

which causes an error at [this line](https://github.com/swagger-api/swagger-codegen/blo

[2017-12-29 04:51] gmarz opened #7273 "[Scala] Inconsistency between *Api and *ApiAsyncHelper default parameters"
##### Description

In #6538, we defaulted non-required Option parameters to `None` for both sync and async methods in the *Api classes. However, the helper methods in *ApiAsyncHelper (which the methods in *Api simply wrap) default to `defaultValue` which is inconsistent and also error prone (will open a separate issue for this, but see https://github.com/swagger-api/swagger-codegen/pull/6538#discu

[2017-12-29 06:22] shijinkui opened #7276 "[akka-scala] exception template FileNotFoundException"
1. replace the template path from `File.separator` to `/` to resolve template not found exception.
2. change `object` API to `class`, more easy use for java developer

##### Description

[code]

##### Swagger-codegen version

I use api 3.0 and swagger codegen 3.0-snapshot, `akka-scala`

[code]

##### Swagger declaration file content or url

![image](https://user-images.githubusercontent.com/648508

[2017-12-29 12:05] mehdijouan opened #7278 "[Spring][Java] Bug: cannot refer to external json schemas from another schema"
##### Description

Hello,

I'm facing an issue regarding external references. I have a json as following that refers to another one (address.json). The json schema is valid but the swagger codegen return me an error.

[code]

[code]
In order to help and explicit my issue, I created a sample maven project [HERE]( https://github.com/mehdijouan/swagger_issue) that you can use to reproduce my issue.

[2017-12-30 08:57] mac2000 commented on #300
[Latest](https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/3.0.0-SNAPSHOT/swagger-codegen-cli-3.0.0-20171227.003614-14.jar) version complains:  `swagger-codegen: error:  unrecognized  arguments: '-Dio.swagger.parser.util.RemoteUrl.trustAll=true'`

Here is entry point from docker file:

[code]

[2017-12-30 20:57] jimschubert commented on #7259
@wing328 you can build with Docker to target Java 7 if you want to have that language support.

I think rather than supporting Java 7 in code, we could include build instructions via Docker only. This won't require users to have Java installed locally at all.

[2017-12-31 03:02] wing328 commented on #7278
What about using `"$ref": "./address.json"` (relative path) instead?

[2017-12-31 21:04] jasonCodesAway commented on #1737
So close...yet so far away. After a few trying hours, I was unable to figure out how to auto-generate server stubs for any java language (I focused on msf4j). I kept getting unusable package structures generated, like "**main.java**.io.swagger.api" which contains classes that declared themselves to be packaged at "io.swagger.api.*"...no idea where that extra "**main.java**" is coming from. **I wou

[2018-01-01 08:29] deki commented on #7123
You are right, this is already in place for Jersey. I created a PR to change it.

[2018-01-01 08:54] deki commented on #7090
@MultiStorm are you using OAuth2 or which kind of key/ token? I'm willing to create a PR to use CXFs BearerAuthSupplier/ CodeAuthSupplier (see http://cxf.apache.org/docs/jax-rs-oauth2.html) but first I'd like to understand your use case.

Btw could you please update the title of this issue with a more specific one?

[2018-01-01 10:21] wing328 commented on #3869
No problem. We just released stable version 2.3.0: https://twitter.com/wing328/status/944259218386718720

Please check it out and let us know if you've any feedback.

[2018-01-01 10:29] wing328 commented on #6226
@Usnul we've released stable version 2.3.0, which includes the fix: https://twitter.com/wing328/status/944259218386718720

Please check it out and let us know if you still experience issue.

[2018-01-01 10:29] #6226 closed

[2018-01-01 20:16] jimschubert commented on #7252
I don't understand how this is related to the C# generator. It sounds more like a general question about swagger codegen or swagger specification. I'll provide my concerns about such a feature as a contributor to the C# generator, since it's tagged with C#.

Currently, Swagger Codegen (as far as I know, see below \*) only supports adding a prefix and suffix to model names. This is a simpler thing

[2018-01-01 20:45] tbourvon opened #7287 "[Rust] Mustache templates need updating for 3.0.0"
##### Description

The current Rust templates are not compatible with version 3.0.0

##### Swagger-codegen version

Regression introduced in the 3.0.0 branch

##### Command line used for generation

[code]

##### Steps to reproduce

Just try to generate an API client for Rust with version 3.0.0

[2018-01-01 20:56] tbourvon opened #7289 "[Rust] Add user agent handling"
##### Description

Add user agent handling through the `--http-user-agent` generation option.

##### Swagger-codegen version

3.0.0

[2018-01-01 21:21] tbourvon opened #7291 "Fix array model type to also work with primitive type"
##### Description

Currently, `arrayModelType` only works with non-primitive types. It should also work with primitive types.

##### Swagger-codegen version

3.0.0

##### Swagger declaration file content or url

[code]

When using `{{{arrayModelType}}}` in a template file, I expect something like `f64`, but I get an empty string.

##### Command line used for generation

[code]

##### Steps to repr

[2018-01-01 21:30] tbourvon opened #7293 "[Rust] Add support for array schemas in Rust template"
##### Description

Currently, the Rust template will generate an empty struct when trying to generate a model from an array schema. This is incorrect and undesirable. Instead, we should generate a 1-item tuple like `struct Test(Vec<f64>);`

##### Swagger-codegen version

3.0.0

##### Swagger declaration file content or url

[code]

This currently generates `struct Test { }`.

##### Command line us

[2018-01-02 03:33] dan-nawrocki commented on #5359
I got tripped up by this when updating to 2.3.0 and changing from the threeten date library to java8. (jdk8 mode gets turned on automatically when doing so). I'm only using responseWrapper and jdk8 options, so async isn't necessary to trigger the problem.

It seems like the solution to update api.mustache and apiController.mustache is correct, but would essentially require a giant case block to sp

[2018-01-02 11:45] sq2wkh commented on #6491
No, i tried only generation for ze-ph. Here is specification: https://gist.github.com/sq2wkh/b7f2067e189a2fcabdad988cc807f2f6

[2018-01-02 13:35] david-rougier commented on #7252
I thank you for your detailed comment.
You have given me the explanations I needed so I close this issue.

[2018-01-02 13:35] #7252 closed

[2018-01-02 13:39] exytab commented on #3620
Maybe, it can help.

Interafaces:
[code]

Operations:
[code]

[2018-01-02 14:23] jeroenhuinink commented on #6598
@hugoMario Would that be Jan 8th or Aug 1st for the beta release?

[2018-01-02 15:06] nmrao commented on #3611
@wing328, like other users commented this issue is still reproducible with 2.2.3. Even tried with 2.4.0 and is reproducible. Should add any options while generating the code? Using cli, `java -jar swagger-codegen-cli-2.4.0.jar`, to generate code.

[2018-01-02 17:43] jimschubert commented on #7252
@david-rougier sounds good!

@wing328 can you see my note above about `removeOperationIdPrefix`? Is this a big or possible merge conflict somewhere?

[2018-01-02 20:09] HugoMario commented on #6598
@jeroenhuinink it's Jan 8th, sorry for confusion.

[2018-01-02 21:18] ehyche commented on #6941
I have a PR for this - just waiting for a dependent PR to be merged, and then I'll put it up.

[2018-01-02 21:51] cbornet commented on #5359
@dan-nawrocki maybe you can compose the full boxing type in Java logic ?

[2018-01-03 00:07] grokify opened #7300 "[Go] 2.3.0 enum support can lead to collisions"
##### Description

When building a client with enums, it is possible to run into collisions using Go because the enum names are in the same name space.

##### Swagger-codegen version

2.3.0 using new enum support.

##### Swagger declaration file content or url

* Official copy: https://apis.voicebase.com/v3/defs/v3-api.yaml
* GitHub copy: https://github.com/grokify/go-voicebase-v3/blob/master/swag

[2018-01-03 02:30] wing328 commented on #7236
@cesaralvarado9 thanks for opening an issue. Do you mind submitting a PR with the suggested enhancement?

[2018-01-03 04:14] wing328 commented on #5454
@tom-koo-zocdoc the check mark indicates it should be done. Please open an issue if you found issue with the current implementation.

[2018-01-03 04:21] wing328 commented on #6657
@Faerylnahr we released stable version 2.3.0 before X'mas. Please give it a try and let us know if it's still an issue.

(we'll reopen this issue if needed)

[2018-01-03 04:21] #6657 closed

[2018-01-03 04:31] wing328 commented on #6553
@zkdzegede sorry for late reply on this. Please kindly try the latest stable release v2.3.0. If it's still an issue, we will look into it.

[2018-01-03 04:36] wing328 commented on #6872
@albator1932 would you have time to file a PR to update [AbstractCSharpCodegen.java#L94](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L94)?

[2018-01-03 04:41] wing328 commented on #3915
@kgrosvenor Have you tried the following options to customize the PHP client?
[code]

Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l php`

[2018-01-03 04:41] dan-nawrocki commented on #5359
@cbornet sure, it's a giant case block in java instead of the template. It's probably easier to maintain that way. I'll start working on a PR.

[2018-01-03 04:47] wing328 commented on #6884
@etherealjoy I'll try to take a look this weekend.

Can you please try other generators (e.g. `cpprest`, `ruby`) to see if it has similar issues?

cc @ravinikam @stkrwork  @fvarose

[2018-01-03 04:54] wing328 commented on #6537
@NikolaySl https://github.com/swagger-api/swagger-core/pull/2502 has been merged into swagger-core. We'll need to wait for the next release (1.5.18)

[2018-01-03 04:59] wing328 commented on #2776
@karlvr thanks for sharing the solution. Do you mind submitting a PR so that we can more easily review the fix?

[2018-01-03 05:01] wing328 commented on #1435
@jmiserez thanks for sharing more on how to make the API client to work better with thread-safety.

I agree my suggestion may not work well in all scenarios and we welcome enhancements (PRs) for better thread-safety support.

[2018-01-03 05:03] wing328 commented on #5187
[code]

@pumpadump what does the JSON payload looks like? I want to ensure it's defined correctly.

[2018-01-03 05:39] wing328 commented on #7252
Let me try to fix it later today.

[2018-01-03 08:20] meisterlampe commented on #7262
I have the same problem after upgrading to v2.3.0

[2018-01-03 08:35] albator1932 commented on #6872
I'm afraid I have other priorities (work) right now and for the next two weeks but I'll what I can do then if it is still to be done at that time.

[2018-01-03 09:53] wing328 commented on #7252
Filed https://github.com/swagger-api/swagger-codegen/pull/7301 to fix the issue. Thanks @jimschubert again for spotting the issue.

[2018-01-03 10:55] inthegarage opened #7302 "api paths decorated with :.+ produce invalid angular code"
##### Description

If I have the following api path:

  /myservice/{myvar:.+}:

Then this produces invalid angular code with the typescript-angular plugin.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

Any API path with:
  /myservice/{myvar:.+}:

##### Command line used for generation
mvn clean compile

##### Steps to reproduce

Simply put that into your pat

[2018-01-03 12:55] adholland commented on #5240
Hi @wing328 we are hitting the same NullPointerExceptions issue as @dylan-colaco. Could you please let me know what the template needs to contain? I looked at the link above but could not work out what I'd exactly I'd need to include in the template.

[2018-01-03 12:55] jimschubert commented on #7252
@david-rougier please generate against #7301 with the
`removeOperationIdPrefix` option. If it works for you, that's ideal. If not, my comments about the complexity of the use case and recommendations for spec follow up are still relevant.

[2018-01-03 14:25] jwoehrle opened #7303 "[typescript-angular] undefined queryParameters when apiKeyQuery exists but no method parameters"
##### Description

I stumpled upon this issue when trying to generate a client for the Microsoft LUIS API. The complete swagger file can be found at https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/export?DocumentFormat=Swagger&ApiName=LUIS%20Programmatic%20APIs%20v2.0 however see below for a smaller file which illustrates the issue as well.

When generating a type

[2018-01-03 15:34] dylan-colaco opened #7304 "[Swift] handle decoding of unknown enum types if optional"
##### Description

If I have a model class, say vehicle which has an enum 'type' which can have two values, 'car' and 'motorbike'. This class is generated with Swagger and instantiated from a JSON response received from my backend(using the codable protocol). Say I ship my App version 1.0 with this.

Later on I decide to add another vehicle type in my backend which will be handled in my app 1.1, '