[2017-02-01 15:46] wing328 commented on #4660
PR merged.

[2017-02-01 15:46] #4660 closed

[2017-02-01 17:26] philipptrenz commented on #4684
Sorry, was busy.

<script src="https://gist.github.com/philipptrenz/4b07ce3eddd4faf190f3d8436406332f.js"></script>

[2017-02-01 20:06] mresetar commented on #4467
At first, thank you @shiqicao for pointing me in right direction. Indeed, adding discriminator solves my issue. I'm still using 2.2.1 version.  @chosroes Take another look into your model as it works for me.

[2017-02-01 20:06] #4467 closed

[2017-02-01 21:11] manuc66 commented on #1253
It seems that this pull request : https://github.com/swagger-api/swagger-codegen/pull/4607 will solve this with @JsonTypeInfo and @JsonSubTypes

[2017-02-01 22:21] abkordata opened #4690 "[aspnetcore] packageName or sourceFolder specified in the config do not change the project folder name"
After generating aspnetcore server code the packageName provided in the configuration isn't reflected on the source project folder name, instead the folder name uses the default name: "IO.Swagger".
Same thing happens when defining the sourceFolder in the configuration json file.
The structure should be:
Api/src/Title.Case/
Instead it defaults to
Api/src/IO.Swagger/

with config.json being:
[code]

[2017-02-02 02:44] dshkolnik commented on #4156
The same problem with the output for node-js.

Swagger allows developer to set multiple tags for a reason. If you have a large project you may want to use tags for filtering the content in swagger editor or IntelliJ plugin output.

[2017-02-02 09:33] chosroes commented on #4467
@mresetar Not adapted for me. I don't want polymorphism. Just inheritance.

[2017-02-02 10:43] stevecookform3 opened #4693 "[java spring] Doesn't support different response models"
##### Description

If you have a schema that has multiple responses with different models, the generated controller code only supports the first model.

eg. using the simple pet example (and changing the 'default' response to '400'):
[code]

Generates the following interface:
[code]

Note that the error model isnt referenced anywhere in the generated code, and the response is set to `ResponseEntit

[2017-02-02 13:37] wing328 commented on #4687
@smmcneill please take a look at the answer in http://stackoverflow.com/a/39754680/677735 to see if it addresses the problem for you.

[2017-02-02 14:38] wing328 commented on #4689
@gconst02 thanks for reporting the issue. We'll upgrade the dependency to newer version after the 2.2.2 release (which will due soon in Feb 2017)

Btw, are you following the installation procedure in README.md? are you using the gradle wrapper for installation?

[2017-02-02 14:44] wing328 commented on #4690
@abkordata thanks for reporting the issue.

Have you tried passing the `sourceFolder` option to setup a proper source folder based on package name?
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l aspnetcore`

[2017-02-02 14:47] wing328 commented on #4688
@JLLeitschuh I think that's a limitation with Swagger Parser at the moment. A workaround is to define the reference within the same file for the time being.

cc @fehguy

[2017-02-02 14:49] wing328 commented on #4651
@brucegodden thanks for reporting the issue and filing a PR for the fix.

I'll review and let you know if I've any question.

[2017-02-02 15:32] abkordata commented on #4690
Yes I have tried with the sourceFolder option like so:
[code]
And I also tried having both packageName and sourceFolder like so:

[code]
None of these changed the folder name properly. The folder name still defaults to IO.Swagger

[2017-02-02 15:40] wing328 commented on #4690
@abkordata the following lines show that the `sourceFolder` is used for API and model folders:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AspNetCoreServerCodegen.java#L118-L126

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AspNetCoreSe

[2017-02-02 15:53] jimschubert commented on #4690
Yeah that's weird. I've generated with different source folder to evaluate an older PR. Maybe something has changed in DefaultCodegen.

This generator should probably error if sourceFolder doesn't start with src/ (ASP net core constraint), or fix the input with a warning message.

I'll try to look into this tonight.

[2017-02-02 19:46] michaelkourlas commented on #4654
I've submitted a PR fixing this issue: #4696

[2017-02-02 21:01] gconst02 commented on #4689
I am using gradle wrapper within Android Studio. I have followed this: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#android and this https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/android/volley

[2017-02-02 23:22] donahchoo opened #4697 "spring json config file is not working for me..."
I'm trying to use a json config file to generate spring code.  I want to change my base package but I keep getting io.swagger.

 I have this command:
    java -Dapis -Dmodels -XX:MaxPermSize=256M -Xmx1024M -DloggerPath=conf/log4j.properties \
    -jar ./modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate \
    -t modules/swagger-codegen/src/main/resources/JavaSpring \
    -i swagge

[2017-02-02 23:26] donahchoo commented on #4697
Interestingly, this puts my models and api files in the right places

[code]

[2017-02-03 01:38] ber4444 opened #4698 "[JAVA] RxJava2 support"
##### Description

When using the configuration settings,
[code]
we are getting these dependencies:
[code]
However, we would like to add a useRxJava2 setting which would result in:
[code]

##### Related issues

Similar to this PR:
https://github.com/swagger-api/swagger-codegen/pull/1928/files

[2017-02-03 04:21] jimschubert commented on #4690
@abkordata @wing328 I opened #4699 to resolve the issue with packageName. However, in testing I've found that changing `src` to anything else basically breaks the ASP.NET Core expected structure. I wasn't sure of the best approach here, so I'd like some feedback. See PR.

[2017-02-03 04:44] wing328 commented on #4690
@jimschubert thanks for the quick fix 👍

I think throwing a warning is a good start. If there are developers changing `src` to something else, we need to talk to them to find out the reason behind and then come up with a better approach if possible.

[2017-02-03 06:20] cbornet commented on #4698
Would you do a PR for that ?

[2017-02-03 08:13] wing328 commented on #4698
Another option is to customize the template: https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache#L102 and then use the `-t` option with the customized templates.

[2017-02-03 08:16] wing328 commented on #4697
@donahchoo yes, I believe you will need to set the `apiPackage` and `modelPackage`

For your use case, did you mean you want to set `basePackage` to "com.foo.bar" and then both `apiPackage` and `modelPackage` will be set accordingly?

[2017-02-03 08:20] wing328 commented on #4467
@chosroes please open an issue (if there isn't one opened yet) with details on what you want and ideally an example showing the difference between the existing output and the desired output.

[2017-02-03 08:28] Stwissel opened #4700 "How to generate individual files for models"
##### Description
Clarification request: How to generate individual model files.

I'm creating my own code generator for an IBM Domino database "schema" (will contribute it back here when I get it to work). One of the big questions I couldn't find an answer is:
I need to generate multiple files out of each model definition. E.g. I have:
definitions:
   order
   customer
   product

I need to gener

[2017-02-03 08:32] wing328 commented on #4700
@Stwissel is this for a particular language (e.g. Java, C#, etc) or a new language/generator that you're working on?

[2017-02-03 08:33] wing328 commented on #4690
@abkordata PR merged into master. Please pull the latest master to give it a try.

[2017-02-03 08:33] #4690 closed

[2017-02-03 08:34] wing328 commented on #4689
@gconst02 thanks for sharing more with me.

A workaround is to customize the template: https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/android/libraries/volley/build.mustache#L13 and then use the `-t` option with the customized templates.

[2017-02-03 08:34] Stwissel commented on #4700
For a new generator. It will generate the server code for the IBM Domino
NoSQL server.

On Fri, 3 Feb 2017 at 16:32, wing328 <notifications@github.com> wrote:

--
Mobile message, pegged on glass.

Best regards
Stephan H. Wissel
http://www.wissel.net/

[2017-02-03 08:45] wing328 commented on #4700
I think a good starting point is to look at how model test files are generated. e.g. each PHP model comes with a model test file for testing the model (developers can update it with test cases to ensure the PHP model class is working properly).

The following PR is a good starting point:

https://github.com/swagger-api/swagger-codegen/pull/1921

I think this will be similar to the auto-generated R

[2017-02-03 09:26] chosroes commented on #4467
@wing328 I don't know if I should, since it works with http://editor.swagger.io/#/ which seems to use a more recent version of the code. Am I wrong ?

[2017-02-03 09:37] SunboX opened #4701 "[ANDROID] Codegen - extended model contains duplicated properties from base model"
##### Description

     com.android.volley.VolleyError: io.swagger.client.ApiException: class io.swagger.client.model.MyRequest declares multiple JSON fields named XXCustom01

If you have two definitions, where the second one extends the first one, the fields from the first definition are also declared in the model of the second definition. This will throw the above error message.

##### Swagger-c

[2017-02-03 09:44] wing328 commented on #4467
@mresetar I thought you didn't want polymorphism, just inheritance but that's not the current output. Sounds like it's not the case based on your reply (which means I misunderstood your reply)

[2017-02-03 09:46] #4611 closed

[2017-02-03 10:23] mresetar commented on #4467
Hi, I wanted to (idealy) have polymorphism. @wing328 don't understand what is the the difference between inferitance and polymorphism for you. I agree with http://stackoverflow.com/questions/6308178/what-is-the-main-difference-between-inheritance-and-polymorphism  answer (Inheritance: This is one way of achieving both Polymorphism and code reuse at the same time.). So in this case to me is the sam

[2017-02-03 10:59] #4538 closed

[2017-02-03 13:18] wing328 commented on #4665
Closed via https://github.com/swagger-api/swagger-codegen/pull/4682.

Thanks for the contribution.

[2017-02-03 13:36] #4665 closed

[2017-02-03 13:37] wing328 commented on #4664
Closed via #4683

[2017-02-03 13:37] #4664 closed

[2017-02-03 13:54] wing328 commented on #4671
@yaronlev171 I totally agree with you on that.

[2017-02-03 14:32] wing328 commented on #1253
#4607 has been merged into master. Thanks for the contribution from @eamon316

Please pull the latest master to give it a try.

[2017-02-03 14:34] wing328 commented on #4684
I could repeat the issue but got a different error message:
[code]
Another thing I would suggest you to try is to generate the Python API client and review the auto-generated models to see if those look good to you.

[2017-02-03 14:40] philipptrenz commented on #4684
I haven't tested the python client, but naming of the model class files are okay.

[2017-02-03 14:43] wing328 commented on #4684
If the models in the Python API client are fine, we can reuse the model mustache template in Python Flask generator.

[2017-02-03 14:44] cbornet commented on #1253
#4607 is for Spring. Has it also been done for Jackson based java clients ?

[2017-02-03 15:04] wing328 commented on #1253
@cbornet yes, you're right. I got confused :(

[2017-02-03 15:30] wing328 commented on #4467
I've to admit I've not read the whole discussion before my first reply. I found that this issue is closed and saw @chosroes reply, and that's why I suggest him to open a new issue instead if @chosroes is looking for something else.

[2017-02-03 15:34] jeff9finger commented on #1253
This looks very similar to #4085 and #4226

[2017-02-03 15:36] cbornet commented on #1253
@jeff9finger yes, so java clients now also support it, it seems.

[2017-02-03 15:37] jeff9finger commented on #1253
There is a vendor extension x-discriminator-value that can be used along with the Jackson annotations to specify the discriminator value to be used instead of the object name.

@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "type")
@JsonSubTypes({@JsonSubTypes.Type(value = MySubClassOne.class, name = "my-sub-class-one")})

definitions:
  MySubClassOne:

[2017-02-03 15:38] jeff9finger commented on #1253
It should work on any jaxrs models, server or client

[2017-02-03 16:09] creat-or opened #4703 "[Typescript-Angular2] When #isKeyInQuery but no #hasFormParams, generated API breaks."
##### Description

When generating an endpoint without a `formParam`, but `isKeyInQuery` the template generates
[code]
But formParams never gets initialized before or used afterwards, because apparently `hasFormParams` is false.
[code]

[code]
##### Swagger-codegen version

2.2.1

##### Command line used for generation

used typescript-angular2 from http://editor.swagger.io/#/

##### File

https:/

[2017-02-03 16:22] wing328 commented on #4703
@creat-or Thanks for reporting the issue. The API key should not be put in the form parameter. It should be stored in the query parameter instead so https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L140 should be changed as follows:
[code]

May I know if you've time to contribute the fix?

[2017-02-03 16:37] creat-or commented on #4703
Thanks! OK, I will look into it! :)

[2017-02-03 17:41] DavidBiesack commented on #3436
I'm working on a PR for this....
I'm doing the transformations in the various `postProcess*` and `preprocessSwagger` methods  which gets the job done but is not robust (many subclasses may not call super()).

However, Mustache was still escaping the text. When I add to `get` operation:
[code]
the text is converted from markdown to YAML as
[code]
but then when the template with {{summary}} and {{un

[2017-02-03 19:20] ber4444 commented on #4698
I'll do the PR. Not as simple as @wing328 suggests because the class and package names changed as well.

[2017-02-03 21:59] rmharris157 opened #4706 "Configure Spring Boot Server Controllers generation"
Sorry to bother you; but I have three questions.

##### Description

- Is there a way to explicitly say which .java file in which to write a particular autogenerated controller? (for instance, if I want to put some of the /foo controllers in one class and some in a different class to group them for clarity.)

- Is there a way to configure the spring-boot codegen to not generate service controller

[2017-02-03 22:02] fehguy commented on #4700
@Stwissel you can also see here how to control the models being generated:

https://github.com/swagger-api/swagger-codegen#selective-generation

Please reopen with any other questions

[2017-02-03 22:02] #4700 closed

[2017-02-03 22:08] fehguy commented on #4599
You need to use the `configuration` block like such:

[code]

[2017-02-03 22:08] #4599 closed

[2017-02-03 22:14] jasondlee opened #4707 "Codegen seems to be overwriting impl files"
##### Description

When running codegen via the Maven plugin, it is overwriting the impl class. If I define a /foo endpoint, model, etc., codegen creates Foo, FooApi, FooApiService and FooApiServiceImpl. If I edit FooApiServiceImpl (as is the expected workflow, if I understand things correctly), then rerun codegen, FooApiServiceImpl is overwritten as if it were the first run.

##### Swagger-codege

[2017-02-03 22:16] fehguy commented on #4555
@deibl the reason this fails is because you have tabs in your spec, and according to the official YAML guys... "Tabs have been outlawed"

http://www.yaml.org/faq.html

[2017-02-03 22:16] #4555 closed

[2017-02-03 22:19] fehguy commented on #4527
@arr28 sorry for the delay.  Parsing will be done under the [swagger-parser](https://github.com/swagger-api/swagger-parser/) project.  Could you please open an issue there so we can resolve this?

[2017-02-03 22:20] fehguy commented on #4475
@luke83 it'll be hard to do this within the generator because of how we treat nulls, etc.  I'd suggest looking into sending a PR to add this.

[2017-02-03 22:22] fehguy commented on #4441
There is a different update cycle for them, please consider using a local version if you need to control the server generation templates more carefully

[2017-02-03 22:22] #4441 closed

[2017-02-03 22:25] fehguy commented on #4404
Closing out as this is more of an IDE question than anything.

[2017-02-03 22:25] #4404 closed

[2017-02-03 22:26] fehguy commented on #4402
I don't think this issue has to do with codegen.

[2017-02-03 22:26] #4402 closed

[2017-02-03 22:27] fehguy commented on #4398
Yes, this is not supported in the current framework.  You cannot overload response types.

In the next major version we must support multiple response types across all response codes, so this will be added then.

[2017-02-03 22:27] #4398 closed

[2017-02-03 22:28] fehguy commented on #4394
Hi, since 1.2 supports multiple files, you _must_ create an api listing file with api declarations in the same folder.  Consider using the parser project to test your setup, and even migrate from 1.2 to 2.0 before 1.2 support is dropped in a few months.

[2017-02-03 22:28] #4394 closed

[2017-02-03 22:30] fehguy commented on #4321
Please reopen if you're still having troubles.  We have 10's of thousands of downloads per day onto windows machines without corruption issues.

[2017-02-03 22:30] #4321 closed

[2017-02-03 22:32] fehguy commented on #4353
If you have time to share more about this, please feel free to reopen.

[2017-02-03 22:32] #4353 closed

[2017-02-03 22:32] fehguy commented on #4319
answered by @wing328

[2017-02-03 22:32] #4319 closed

[2017-02-03 22:35] fehguy commented on #4242
Yes, that's not the intended behavior.  The `-Dapis` and `-Dmodels` are for filtering away, or including _only_ specific values.  By the time that filtering happens, it's too late for dependency reduction.

[2017-02-03 22:35] #4242 closed

[2017-02-03 22:36] fehguy commented on #4233
#4508 was merged.

[2017-02-03 22:36] #4233 closed

[2017-02-03 22:37] fehguy commented on #4218
You cannot have the same name defining different schemas.  Please choose a unique name.

[2017-02-03 22:37] #4218 closed

[2017-02-03 22:40] fehguy commented on #3964
Fixed by latest parser.

[2017-02-03 22:40] #3964 closed

[2017-02-03 22:41] #3908 closed

[2017-02-03 22:41] fehguy commented on #3877
thanks @jimschubert for the solution.

[2017-02-03 22:41] #3877 closed

[2017-02-03 22:42] #3841 closed

[2017-02-03 22:43] fehguy commented on #3737
Either that or you can use the `<configuration>` options to disable any or all generators.

[2017-02-03 22:43] #3737 closed

[2017-02-03 23:44] fehguy commented on #4707
OK I've dug into this more.

Bottom line is, you don't have fine-grained control in the CLI nor the maven plugin without using a `.swagger-codegen-ignore` file.  But there's a simple pattern you can follow:

* Clean the regenerated files using the maven `clean` plugin.
* Set the codegen to `skipOverwrite`, which means it will not overwrite existing files.

Then, you have a full integration:

[code

[2017-02-04 01:32] morriscodes opened #4709 "[Java] codegen with parcelableMode fails to build if using arrays in swagger"
##### Description
Java codegen with parcelableMode enabled causing build errors if the swagger file has arrays.

##### Swagger-codegen version
snapshot 2.2.2

##### Swagger declaration file content or url

This is an example of how I create the array:

[code]

##### Command line used for generation
java -jar swagger-codegen-cli.jar generate -i swagger.json -l java -c config.json -o data

[code]

#

[2017-02-04 05:00] #4703 closed

[2017-02-04 05:03] wing328 commented on #4709
@morriscodes thanks for reporting the issue.

What would be the correct code looks like for handling array of string?

[2017-02-04 05:11] wing328 commented on #4698
@ber4444 thanks! I think we'll need to provide a CLI option, e.g. useRxJava2, so that users still have the option to use RxJava 1.x. Let me know if you need help on that.

[2017-02-04 11:36] adnoela opened #4710 "Using xAny throws an Error: Cannot find name 'xAny'"
##### Description

Swagger-codegen uses `xAny`which cannot be found and throws an error:

[code]

my `role.ts`:
[code]
##### Swagger-codegen version

2.3.0  - https://github.com/swagger-api/swagger-codegen/tree/2.3.0

##### Swagger declaration file content or url

`swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar`

##### Command line used for generation

shell script used

[2017-02-04 14:04] jfiala opened #4711 "[Java*] Refine handling of beanvalidation (parameters + decimals)"
##### Description

For jaxrs-cxf-cdi these improvements have been added in #4615, these should be added to all other languages supporting beanvalidation:

1. beanValidationParam.mustache has been setup for both beanValidationQueryParams and beanvalidationPathParams.mustache

2. the handling of  Min/Max/DecimalMin/DecimalMax has been improved:
Min/Max for Integer/Long and
DecimalMin/DecimalMax for

[2017-02-04 15:53] jfiala commented on #4512
@mbucc I added a first re-implementation of Jaxrs Resteasy in #4512, please take a look when you have time.

[2017-02-04 16:17] jasondlee commented on #4707
I think that should do it for me. I thought skipOverwrite was true by
default. I should have read more closely. I'll test with this change.
Thanks.

On 2/3/2017 5:44 PM, Tony Tam wrote:

--
Jason Lee
http://cubtracker.com
http://blogs.steeplesoft.com
http://twitter.com/jasondlee
http://blogs.steeplesoft.com/+
http://blogs.steeplesoft.com/in

---
This email has been checked for viruses by Avast ant

[2017-02-04 17:04] jfiala opened #4713 "[JaxRS*] javax.ws.rs.core.Response vs. returnTypes"
##### Description

Currently only the language jaxrs-cxf returns the "real" returnType in the method signatures as opposed to the generic javax.ws.rs.core.Response. All other Jaxrs-languages use javax.ws.rs.core.Response.

IMHO all JaxRS-languages should allow a flag whether to use the generic javax.ws.rs.core.Response or the real returnTypes in the method signatures.

##### Swagger-codegen versio

[2017-02-04 17:13] jfiala commented on #4386
@wing328 I just came across this discussion, I suggested using centralized templates for beanvalidation initially but as I remember @fehguy preferred to keep the shared classes/templates separately. I think it would definitely make sense to keep centralized templates and use lambdas to keeep everything consistent. Pls let me know if I should make the beanvalidation templates shared?

[2017-02-04 17:32] morriscodes commented on #4709
The implementation of Parcelable needs to be further though out.  My example above is easily reproducible but the problem applies to any arrays.

Example:

[code]

Swagger generates objects like this as `extends ArrayList<Money>` but when the  Parcelable code is generated it checks for a parent, and if exists delegate the parcelable work up `{{#parent}} super(in); {{/parent}}`.  This would work if

[2017-02-04 17:46] jfiala opened #4714 "Keep linebreaks in the contract in generated Java code"
##### Description

Line-breaks in yaml contracts currently get lost in the javadoc comment (they are replaced by a blank).
To keep line-breaks also in dynamically generated contracts, they should be replaced by \n.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
Example (adapted 2.0\petstore.yaml)
[code]

output:
[code]

##### Suggest a Fix

1. Keep line breaks

[2017-02-04 17:52] jfiala commented on #4512
I also added the option to generate the Swagger contract dynamically.

[2017-02-04 18:00] jfiala commented on #4512
@mbucc @wing328 Jaxrs Resteasy for EAP 6 + 7 is now fully implemented and tested with Joda + Java8 datetime support. Pls take a look when you have time, see PR #4517 .

[2017-02-05 14:59] wing328 opened #4715 "`file` mapping in Typescript generators"
##### Description

As discovered by @TiFu TS generators do not have a consistent mapping for `file` at the moment:

Another thing I noticed is, that TypeScriptNodeCodegen uses typeMapping.put("file", "Buffer");, whereas AbstratcTypeScriptCodegen uses typeMapping.put("File", "any"); (note the capitalization of file)

Ref: https://github.com/swagger-api/swagger-codegen/pull/4264#issuecomment-2773455

[2017-02-05 15:01] #4315 closed

[2017-02-05 16:11] jfiala commented on #4509
Implemented solution at PR #4717, please review and advise if you prefer a non-breaking copy of the jaxrs-spec language or a breaking change for 2.3.0.

[2017-02-05 16:16] jfiala opened #4718 "Add check for void @ApiResponse types"
##### Description

The check for vendorExtensions.x-java-is-response-void implemented for jaxrs-spec in #4717 should be
backported to all Java languages.

1. Add check for void at operation level
[code]

2. Add check for void at @ApiResponse-level:
[code]

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Related issues

Jaxrs-Spec issue #4509
PR 4717

[2017-02-05 16:27] jfiala commented on #4693
This is a bug in all Java languages, I created #4718 for this to fix it in every languages.
The fix is to use the baseType instead of the returnType for the response. Additionally, you also need a fix for checking for void baseTypes which I added in #4717 to AbstractJavaJAXRSServerCodegen.java.

[2017-02-05 16:28] jfiala commented on #4693
So it is best to wait for #4717 to get merged, then we can fix it in Spring and in all other languages.

[2017-02-05 17:01] wing328 commented on #4698
@ber4444 I'll review your PR and let you know if I've any question.

[2017-02-05 17:04] jfiala opened #4719 "[Java*] Merge beanValidation/beanValidationParams.mustache"
##### Description

From #4615: Implement decision of merging beanValidation/beanValidationParams.mustache at the cost of losing the newlines in beanValidation.mustache but with the plus of having to maintain only a single file for all the beanvalidation annotations.

Languages to be updated:
 - [x] jaxrs-cxf-cdi
 - [x] jaxrs-spec - see PR #4731
 - [x] jaxrs (Jersey) - see PR #4732
 - [x] jaxrs-cxf

[2017-02-05 17:48] jfiala opened #4720 "[Jaxrs-spec] jaxrs-spec-petstore-server.sh is using the wrong templates of Jersey"
##### Description

jaxrs-spec-petstore-server.sh:

Current:
ags="$@ generate -t modules/swagger-codegen/src/main/resources/JavaJaxRS -i modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml -l jaxrs-spec -o samples/server/petstore/jaxrs-spec

The templates of Jaxrs-Jersey are used due to the option "-t modules/swagger-codegen/src/main/resources/JavaJax

[2017-02-05 17:55] jfiala commented on #4087
@wing328 please take a look at the PR #4721, if you like it we can migrate all the shellscripts into unittests and also add the directory layout comparison to make sure everything is equal, maybe also improve the error reporting.

[2017-02-05 18:28] jfiala commented on #4719
Implemented merge for jaxrs-cxf-cdi, see PR #4723

[2017-02-05 18:33] jfiala commented on #4718
@wing328 after PR #4717 has been merged into master, I could update all other languages in one swipe/PR.

[2017-02-05 19:20] kenisteward commented on #2456
Should this be closed?  It looks like there has been a PR merged to fix it. #4203

[2017-02-05 19:27] kenisteward commented on #2013
The current new way to import types is now to use @types scope on npm instead of typings as of TypeScript 2.0 https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/.  If types are needed the clients should be updated to use this.

[2017-02-06 05:49] wing328 commented on #2013
@kenisteward thanks for the sharing the link. Let me know if you've time to contribute the enhancement using @types

[2017-02-06 05:50] wing328 commented on #2456
@kenisteward yes, just closed it. Thanks for reviewing the issue.

[2017-02-06 05:50] #2456 closed

[2017-02-06 05:57] wing328 commented on #4709
@morriscodes thanks for sharing more with me.

Just to confirm, is `WeatherValueTypes` a model/object or property of a model/object?

[2017-02-06 06:08] wing328 commented on #4512
@mbucc may I know if you've time to run some tests for this change? Here are the steps:
[code]

[2017-02-06 09:31] wing328 commented on #4672
PR merged into master. Thanks for your contribution.

[2017-02-06 09:31] #4672 closed

[2017-02-06 09:31] wing328 commented on #4679
@aparnarus let us know if you've further question.

[2017-02-06 09:31] #4679 closed

[2017-02-06 09:34] wing328 commented on #4670
PR merged into master. Please pull the latest master to give it a try.

[2017-02-06 09:34] #4670 closed

[2017-02-06 11:10] wing328 commented on #4423
@PhilippMundhenk I think that's the current behaviour for most of the server generators.

What did you expect when a single path has 2 tag? Only the 1st tag is considered and all remaining tags are ignored?

[2017-02-06 12:14] mbucc commented on #4512
@wing328 @jfiala Would be happy to.  Give me a week or two.

BTW, is there a docker container for JBoss 7 you like to test with?

[2017-02-06 12:55] richhl commented on #1482
@wing328 guzzle 6 service is out there. We are interested in work on swagger client generation using guzzle 6 and guzzle service. do you have time too to work on this?. we will need help on where to start. do you have a gross estimation of how much it will take to us to implement this?

i have seen there is a library to translate openapi spec to guzzle service definition but the project seems to b

[2017-02-06 13:41] wing328 commented on #1482
@jimmypuckett https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/ApiClient.mustache is a good starting point. As you can see, it's still using cURL. Ideally one can replace it with another ApiClient.mustache that uses guzzle or HTTPlug, which already supports a range of adapters including Guzzle 5 and 6.

[2017-02-06 14:15] michaelkourlas commented on #4654
Per the discussion in #4696, created a new PR: #4725

[2017-02-06 14:38] wing328 commented on #3703
@ePaul thanks for the detailed troubleshooting results. We'll try to address this after the 2.2.2 release.

[2017-02-06 15:02] clasnake opened #4727 "Package names in the finch generator should not contain petstore"
I found that in FinchServerCodegen, the packageName and invokerPackage are set to "io.swagger.petstore...".
petstore is just the sample and I guess the package names here should not contain "petstore".

[2017-02-06 15:04] clasnake commented on #4727
@wing328 @jimschubert Just had a quick look at the finch generator and found the above issue.

[2017-02-06 15:46] akihiro opened #4728 "[Python-flask] models/model_inline_response*.py file/import name mismatch"
##### Description

Generated python-flask server code by swagger-codegen-cli.

Generated plain server code is tested in failure.

##### Swagger-codegen version

commit e8f11bc219e612ad10a2f843ddab16fd642d5eb5

##### Swagger declaration file content or url

https://gist.github.com/akihiro/4292156950309d723351bec6ef2fdcd1

##### Steps to reproduce

[code]

##### Related issues

#4684

##### Suggest

[2017-02-06 15:56] wing328 commented on #4654
Thanks for the PR by @michaelkourlas

@mzhang444 please pull the latest 2.3.0 to give it a try.

[2017-02-06 15:56] #4654 closed

[2017-02-06 16:34] wing328 commented on #4709
To define an array of model, you can define something like https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L112-L117

Would that help?

In other words, I want to avoid defining something like the following:
[code]

[2017-02-06 18:04] richhl commented on #1482
ummm, have seen this as a way in the php side to get client with HTTPPlug+Guzzle connectors.
@jimmypuckett  @wing328
https://github.com/janephp/openapi/blob/master/USAGE.md

[2017-02-06 18:29] aparnarus commented on #4679
Thanks that worked.!

[2017-02-06 19:42] PhilippMundhenk commented on #4423
Well, I cannot speak for all exporters and systems, but when using Slim, the multiple registration calls for a single path lead to an error and thus a non-functioning export. Tags are, however, not represented in Slim at all, if I am not wrong.
Thus, in this case, the expected behavior would be, that each path is generated only once and multiples are ignored. Thus, generating functional Slim code.

[2017-02-06 19:45] PhilippMundhenk commented on #4423
btw: I appreciate the answer despite the large amount of issues and the great work going into swagger! Thank you!

[2017-02-06 19:53] ber4444 commented on #4698
I updated the PR based on your feedback.

[2017-02-06 20:20] sixers commented on #4622
Do Python, Ruby & Scala have polymorphism support? If not, is anyone working on this?

[2017-02-06 20:26] sixers commented on #3904
What is the status if this issue? Which languages support polymorphism? For which languages polymorphism status is in progress?

[2017-02-06 20:51] jfiala commented on #4719
@nickcmaynard

Overview of existing beanvalidation annotations from swagger-with-fake....yaml:

Parameters:
* @NotNull: PetApi.findPetsByStatus(@NotNull ..List<String> status)
* @Min/@Max: StoreApi.getOrderById(@Min(1) @Max(5) ..Long orderId)
* @DecimalMin / @DecimalMax: no sample yet
* @Pattern:  no sample yet
* @Size:  no sample yet

Model:
* @NotNull: Pet.getName(), Pet.getPhotoUrls (List<Strin

[2017-02-06 21:40] jfiala commented on #4719
created separate PRs for all Java* languages

[2017-02-06 22:19] nickcmaynard commented on #4719
I'll confess I'm not sure I understand. My comment in #4723 was focused on expecting to see *some* changes in the samples given the removal of newlines.

Please could you explain further? Perhaps I'm lacking some context.

[2017-02-07 07:38] wing328 commented on #4451
@einat-bar thanks for reporting the issue.

As a workaround, defining the object properly instead of inline seems to work for me:
[code]
Can you please give that a try?

[2017-02-07 07:39] Stwissel commented on #4700
I got the generation of my form and view files out of my model working. The missing piece now it how to get them into their own directories. Like modeloutputdir/form/form1.form and modeloutputdir/view/view1.view

[2017-02-07 07:41] wing328 commented on #4700
@Stwissel there are some methods you can override to customize the path or file name, e.g.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java#L325-L363

[2017-02-07 09:03] jfiala commented on #4719
most of the PRs only show few changes, but it seems some samples are not up to date, for jaxrs-spec there are wrong samples generated.
jaxrs-spec: 40 files due to wrong files generated by shellscript (using Jersey instead of jaxrs-spec templates)
Jersey: 5 files OK
cxf: 7 files OK
resteasy: 4 files OK
Java: 4 files OK
spring: 15 files, samples seem to be outdated, I generated using petstore-with-f

[2017-02-07 09:04] jfiala commented on #4719
Of course we lost the beauty of beanval. annotations in the models, but that's how the solution is designed now. IMHO it would be way better to have 1 beanval file for *all* Java languages and reuse them in all the Java languages. This way we could also afford having 2 (one for params and one for models) with nicer formatting as it was.

[2017-02-07 11:09] MatanRubin commented on #1806
I'm using the latest master and still see the exact same issue. My model has a property with `type: string, format: uuid` and the resulting type in the generated code is `String`. I used the both the Java generator and the JaxRS-CXF generator.

Has anyone got it to work as expected?

[2017-02-07 11:22] MatanRubin commented on #1806
BTW, a workaround for the issue is to add your own type-mapping to the generator options:
[code]

[2017-02-07 11:26] wing328 commented on #1806
@MatanRubin please help submit a PR with the suggested fix so that we can review it more easily.

[2017-02-07 11:27] jmiddleton opened #4738 "Add support for BeanValidation @Valid annotation on nested attributes"
##### Description

When useBeanValidation flag is true, it does not add @Valid annotation to attributes of type object. For instance, I have the class JoinDetails which has a field of type MemberProfile. When I validate joinDetails instance, the validator does not validate memberProfile because there is no @Valid annotation on it. It would be better if swagger-codegen can support this use cases ei

[2017-02-07 11:32] MatanRubin commented on #1806
Will submit a PR shortly.
BTW, as a workaround people can use type-mappings to avoid this issue:
[code]

[2017-02-07 12:21] Stwissel commented on #4700
Had a look at them. Probably I'm blur like sotong here. Where's that method where the full path name gets assembled. The one path + filename + extension ?

[2017-02-07 13:01] wing328 commented on #4700
There's no one single function you can override to assemble the full path (path + filename + extension). Can you submit a PR (WIP) so that we can review what you've so far?

[2017-02-07 14:03] wing328 commented on #4698
@ber4444 I've found 2 minor issues: https://github.com/swagger-api/swagger-codegen/issues/4708. Let me know if you need help fixing it.

[2017-02-07 14:09] wing328 commented on #4423
@PhilippMundhenk thanks 😃

Have you tried the PHP Lumen generator, which generates different controllers based on `tags`? You're correct in saying that PHP Slim only generates one single `index.php`, which contains all the endpoints.

If PHP Lumen output meets your requirement, we can plot it to PHP Slim.

[2017-02-07 14:10] wing328 commented on #4622
@sixers I don't think anyone is working on it and would suggest you to start with Python first. Thanks for offering help to add the polymorphism support.

[2017-02-07 14:13] wing328 commented on #4679
No problem. How's the upgrade so far? Did you encounter any other issues?

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2017-02-07 14:24] wing328 commented on #4728
@akihiro thanks for the details in reporting the issue. If anyone from the community wants to take a look, please go ahead.

I'll take a look after the 2.2.2. release.

[2017-02-07 14:51] clasnake commented on #4727
@wing328 I guess even the default should not contain petstore. Can be "io.swagger"

[2017-02-07 14:55] wing328 commented on #4727
@clasnake you're definitely right. What default would you suggest?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FinchServerCodegen.java#L18

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FinchServerCodegen.java#L23

[2017-02-07 15:51] JLLeitschuh commented on #3161
I don't know if this seems like it would be valid according to the open api specification.

What would the intended effect be?

[2017-02-07 16:04] Stwissel commented on #4700
I'll finish my code first ( I can use a shell script to move things around for the time being) then do a PR (wip)

[2017-02-07 16:04] fehguy commented on #3161
Please take a look at the OAI spec.  There is no support for `schema` in any parameters except `in: body`.  In the 3.0 spec that'll change.

[2017-02-07 16:04] #3161 closed

[2017-02-07 16:32] techlogix opened #4741 "Old Code Standards: Java 1.4 Spring 1.3"
##### Description

The code generated for Java Spring is

The Code Gen for Java Spring needs to be updated. Currently it supports Java 1.7 and Spring 1.3.

It should be upgraded to support new dependencies in the POM - so that is supports and generates modern Java 9 and Spring 5 with the latest dependencies for SpringFox.

##### Swagger-codegen version

##### Swagger declaration file content or ur

[2017-02-07 16:32] techlogix commented on #4741
<properties>

<java.version>1.7</java.version>

<maven.compiler.source>${java.version}</maven.compiler.source>

<maven.compiler.target>${java.version}</maven.compiler.target>

<springfox-version>2.5.0</springfox-version>

</properties>

<parent>

<groupId>org.springframework.boot</groupId>

<artifactId>spring-boot-starter-parent</artifactId>

<version>1.3.5.RELEASE</version>

</parent>

[2017-02-07 16:57] jaredegan commented on #1592
This is fixed in the current implementation.

[2017-02-07 16:58] jaredegan commented on #1592
@tigaris would you like to confirm & close this issue?

[2017-02-07 17:20] cbornet commented on #4741
Well, neither Java 9 nor Spring 5 are released so that would be a bit early...
You can already use Java 8 with an option (-Djava8=true)

As for upgrading spring-boot and springfox dependencies, would you do a PR ?

[2017-02-07 19:17] abaruni opened #4742 "CodegenResponse.java should contain `is<DataType>` boolean fields"
In order to more thoroughly support any type of response defined in an Open API spec, `CodegenResponse.java` should contain `isString`, `isDouble`, `isInteger`, etc, etc. This will allow handling responses from the server at a more granular level

[2017-02-07 19:23] Potherca commented on #3486
As the priorities of my current employer has shifted, my time-frame on this has changed. It'll probably be another couple of months before I get to invest time in this issue.

[2017-02-07 22:59] gconst02 commented on #4069
This might serve as a temporary fix until HttpClient dependency is removed:

Have a project with minSdkVersion 14, targetSdkVersion 25 and Android/Volley client. Initially got the error above:
[code]
Then added in my main project **build.gradle** (seems too many methods):
[code]
and get
[code]

To temporarily fix it I changed in the **build.gradle** of the Volley client:
[code]
with

[code]
More h

[2017-02-07 23:11] gsantner commented on #4069
I used the listed commands here (https://github.com/froodyapp/froody-extras/blob/master/server/swagger-generation.txt) to generate the android client. Used it in one of my apps ((https://github.com/froodyapp/froody-android). Works, and without apache http dependency.

[2017-02-07 23:36] soycabanillas opened #4745 "[typescript-angular2] Template literals on url path does not match variable names"
Generating this swagger definition:

  '/v2.01/Users/{UserId}':
    get:
      operationId: UsersGet
      parameters:
        - name: UserId
          in: path
          required: true
          type: integer
          format: int64

the typescript-angular2 code that is created is:

    public usersGetWithHttpInfo(userId: number, extraHttpRequestParams?: any): Observable<Response> {
        const

[2017-02-08 01:44] sreeshas opened #4746 "CodegenParameter and CodegenResponse have Boolean fields."
##### Description
CodegenParameter and CodegenResponse classes have Boolean fields where as
CodegenOperation and CodegenProperty have boolean fields.

Boolean fields are not necessary and requires users to check for null before using them which leads to ugly code.

##### Suggest a Fix

Change the fields to boolean.

[2017-02-08 01:46] sreeshas commented on #4746
PR #4747 has the fix for this issue.

[2017-02-08 02:36] bunnyc1986 opened #4748 "CSharp template generates SDK requiring access to temp folder that raise exception when environment has restricted access."
##### Description
The C# SDK generated from the template requires system permission to get the temp folder. However some hosting environment doesn't grant permission to access system folders. That makes the ApiClient initialization fails.

##### Swagger-codegen version
latest.

##### Related issues

https://github.com/square/connect-csharp-sdk/issues/5

##### Suggest a Fix
Two options here:
1) Let

[2017-02-08 04:23] bunnyc1986 commented on #4748
From:
[code]
To:
[code]

[2017-02-08 04:28] wing328 commented on #4748
If I remember correctly, there's a way to customize the temp folder path: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Client/Configuration.cs#L46

Would that help?

[2017-02-08 04:58] bunnyc1986 commented on #4748
No, it doesn't help. [Line 237](https://github.com/swagger-api/swagger-codegen/blob/90512e6326d5e7aff4dd21a649b8616012da9974/modules/swagger-codegen/src/main/resources/csharp/Configuration.mustache#L237) is called before the constructor, and I believe it is not intentional because the constructor wants to set it to null by default.

[2017-02-08 06:23] sreeshas commented on #4748
+1 for this issue. We are facing similar problems.

[2017-02-08 06:34] wing328 commented on #4748
@jimschubert has refactored the C# API client via https://github.com/swagger-api/swagger-codegen/pull/3530

Please give it a try by:
[code]

[2017-02-08 08:15] bunnyc1986 commented on #4748
In #3530, the _tempFolderPath is still initialized by Path.GetTempPath(). https://github.com/jimschubert/swagger-codegen/blob/da8651a74ba7f9c62dedfb95197f79b93b41c036/modules/swagger-codegen/src/main/resources/csharp/Configuration.mustache#L94
May I request a single quick fix as I mentioned above, so I can resolve the issue on our side?

Thanks

[2017-02-08 08:20] wing328 commented on #4748
@bunnyc1986 your fix is definitely reasonable. If I remember correctly, I was the one who wrote line. My intention is to have a default temp folder but that does not work well in all situations.

I'll create a fix to:
- remove Path.GetTempPath();
- in the [get](https://github.com/swagger-api/swagger-codegen/blob/90512e6326d5e7aff4dd21a649b8616012da9974/modules/swagger-codegen/src/main/resources/cs

[2017-02-08 09:19] wing328 commented on #4748
@bunnyc1986 @sreeshas I've filed #4749 to fix the issue. Please take a look and give it a try if you've time:
[code]

[2017-02-08 09:24] wing328 commented on #4742
@abaruni yes, we want to do the same to CodegenParameter and CodegenProperty as well.

May I know if you've time to contribute the enhancements?

[2017-02-08 09:51] CodeNinjai opened #4750 "[Java-retrofit/retrofit2] String comparison uses for authName == operator"
##### Description

String comparison for authName with == does a reference comparsion, which may work if the string is being optimized by the compiler and points to a single address...

##### Swagger-codegen version

2.2.1

##### Java/libraries/retrofit/ApiClient.mustache && Java/libraries/retrofit2/ApiClient.mustache

[code]
##### Potential fix

[code]

[2017-02-08 09:56] wing328 commented on #3486
@Potherca thanks for the update. That's perfectly fine. We look forward to your contribution.

In the meantime, if anyone wants to work on this, please reply to let us know.

[2017-02-08 09:57] wing328 commented on #4741
@techlogix if you've time, we would welcome your enhancements to support Spring 5 via an additional option (e..g `useJavaSpring5`). Let me know if you need some good starting points.

[2017-02-08 11:49] AlskiOnTheWeb commented on #3305
Even in 2.2.2-SNAPSHOT of the code generator I'm seeing this fail. How did it get closed?

[2017-02-08 12:35] clasnake commented on #4727
@wing328 How about "io.swagger"?

[2017-02-08 12:46] wing328 commented on #4727
@clasnake sounds better to me as it doesn't contain "petstore" 😄

Please feel free to submit the PR with updated petstore sample for Finch.

[2017-02-08 13:47] webron opened #4752 "Python/Flask server 'import re' missing in models"
_From @jaccoh on February 8, 2017 8:13_

**Swagger File**

[code]

**Swagger Editor
Version 2.10.3**

* Browser/OS: Chrome / Linux

**Issue**
I have in my API definition a few values which I check with 'pattern'. Eg:

[code]

Yes I use YAML anchors if the value is reused often.

If I generate a server (python-flask), the models in question are missing an 'import re'. Eg:

[code]

That wont work wi

[2017-02-08 13:48] gurubook opened #4753 "Java client maven build fail generating JavaDoc"
##### Description
Java client pojo generation template will add empty lines in javadoc comment, breaking maven build where javadoc will be generated.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

##### Related issues

##### Suggest a Fix

attached the required template patch.

[javadoc-pojo-template-fix.txt](https://github.com/swagger-api/swagger-co

[2017-02-08 13:54] wing328 commented on #4753
@gurubook thanks for reporting the issue. Please file a PR so that we can review the fix.

[2017-02-08 13:55] wing328 commented on #4750
Closed via #4751

[2017-02-08 13:55] #4750 closed

[2017-02-08 14:00] wing328 commented on #4745
@soycabanillas thanks for reporting the issue. To fix the issue, we need to start with the following line:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L64

and apply similar fix found in typescript-angular: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources

[2017-02-08 15:13] jaccoh commented on #4752
Thanks for moving it to the correct project.

[2017-02-08 15:46] #4707 closed

[2017-02-08 16:02] morriscodes commented on #4709
@wing328 That would produce a better structure.  I don't have access to change my swagger file but I will see if I can get my server team to update.  Are there docs on creating arrays in this way that I can point them to?

[2017-02-08 16:12] soycabanillas commented on #4745
Tight schedule right now, but I'm interested on fixing this issue because we want to automate the generation of SDKs after every release of our product. I'll work on it on a couple of weeks if still not fixed by somebody else.

[2017-02-08 16:51] wing328 commented on #4709
@morriscodes the official OpenAPI 2.0 spec can be found in https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md

petstore.yaml is also a good starting point to understand how array of properties or models is defined.

[2017-02-08 16:56] abaruni commented on #4742
@wing328 yes, i've got time to contribute the enhancement

the properties already exist in CodegenParameter and CodegenProperty:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenParameter.java#L15

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenProp

[2017-02-08 17:25] wing328 commented on #4745
@soycabanillas it's actually a quick fix and I can do it for you. Would you have time to perform tests afterwards?

[2017-02-08 17:26] wing328 commented on #4742
@abaruni yes, you're right. The funny thing is that I added those. I'm getting old...

[2017-02-08 17:30] soycabanillas commented on #4745
Of course!

[2017-02-08 18:12] wing328 commented on #4745
I've filed #4756 to fix the issue. Please run the following to pull the fix:
[code]

I also found that the path variables are explicitly prepended with a dollar sign '$': https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java#L208, and I do not know the reason behind.

cc @sebastianhaas @Vro

[2017-02-08 18:22] testP1 opened #4757 "Generated code not compiled upon updating yaml file and doing mvn compile"
I am following the issue which is currently closed.
https://github.com/swagger-api/swagger-codegen/issues/4707

Here as per the suggestion it's not oveeridding the impl and generated codes. But now if I am updating the yaml file and want to compile it then it's not compiled.

1. mvn clean install
--- generating codes..
2. Updated yaml file
3. mvn compile
--- skip overwrting to all the previous gen

[2017-02-08 18:37] joergi77 commented on #4430
I will test again at the weekend, and let you know!

[2017-02-08 19:12] bherila commented on #2456
Woohoo thanks @wing328 ; I had forgotten about this and can finally deprecate my little script to hack the generated output file 👍

[2017-02-08 19:19] jasondlee commented on #4757
Try removing <addCompileSourceRoot>false</addCompileSourceRoot> ?

[2017-02-08 19:33] testP1 commented on #4757
Tried it but still the same result.

[2017-02-08 19:35] jasondlee commented on #4757
FWIW, for some reason, I had to use the build helper plugin to add those
source directories. I haven't dug into figure out why the Swagger
plugin's not doing that for me.

[2017-02-08 19:47] Vrolijkx commented on #2013
@cbornet I think it's better to go directly to the @types like @kenisteward suggests

[2017-02-08 20:21] kenisteward commented on #2013
My only thing is it breaks some things possibly because I think there is a UMD discrepancy

[2017-02-08 20:45] PhilippMundhenk commented on #4423
Alright, I had a look at the code generated for Lumen, but if I understand right, using this will still lead to sthg like
`
$app->GET('/test/abc, 'ABC_One@abc');
$app->GET('/test/abc, 'ABC_Two@abc');
`
or a direct include of the function instead of 'ABC_One@abc'. This doesn't work for Slim and will result in sthg like this error:

If I understand Slim right, there can only be a single registration

[2017-02-08 22:22] cbornet commented on #2013
@Vrolijkx agreed. Maybe close this issue and open a new one.

[2017-02-08 22:25] cbornet commented on #4752
@jaccoh It's easy to fix. Would you do the PR ?

[2017-02-08 23:24] ber4444 opened #4758 "[Gradle] plugin and sample task that generates code as part of the build process"
##### Description

When I look at the long readme of the project at https://github.com/swagger-api/swagger-codegen, Gradle is not even mentioned on it. You encourage people to `wget` the `.jar` file instead, and then go to the command line to generate code with it from `swagger.json` (optionally via a shell script that of course needs to be tweaked as it's specific to the 'petstore' sample).
Way d

[2017-02-09 04:22] #4748 closed

[2017-02-09 05:25] jeff9finger opened #4759 ""import java.time.OffsetDateTime" is not an import statement when date-time is in a "body" parameter"
##### Description

When a date-time is specified as a type on a body parameter, java.time.OffsetDateTime is not imported into Java code.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]
##### Command line used for generation
[code]
##### Steps to reproduce

This generates client and test code that does not import java.time.OffsetDateTime. Not th

[2017-02-09 15:05] MatanRubin commented on #1347
What's the current status of this one? I see that @vivin pushed a fix for this in c3c73b8, and yet I see this issue still exists on latest master (using JAXRS-CXF and Java generators). What am I missing?

[2017-02-09 15:25] BastiOfBerlin opened #4761 "[Angular2][Typescript] Get rid of typings?"
##### Description

I ran into several issues with the generated client API concerning typings:

1st of all, when the resulting npm project is built, it gives the following deprecation warning:
`typings WARN deprecated 2016-9-14: "registry:dt/core-js#0.0.0+20160725163759" is deprecated (updated, replaced or removed)`

And the second point, which is quite more important to me: typings cannot properl

[2017-02-09 15:45] wing328 commented on #4745
@soycabanillas did you have a chance to perform a test?

[2017-02-09 17:44] BastiOfBerlin commented on #4761
What I did to remove the typings dependency in the generated code:

In package.json added
`"@types/core-js": "^0.9.35"`
and changed
`"typescript": "~2.1.5"`

By using Typescript 2, I can use the ts compiler option
`"typeRoots": ["./node_modules/@types"]`
in tsconfig.json and everything builds fine.

What do think of that change?

And when modifying the template for package.json, would it make sens

[2017-02-09 18:30] abaruni commented on #4742
created pull request for this issue https://github.com/swagger-api/swagger-codegen/pull/4763

[2017-02-09 18:44] AnthonyOliveri opened #4764 "[Swift] Codegen does not detect file data types"
##### Description

For Swift codegen, the `CodegenOperation`'s `defaultResponse` is never set to type `file`, even when specified in the swagger doc, like so:

[code]

This means that anything nested in the mustache tags `{{#operation}}{{#isResponseFile}}` never get evaluated, even for file type responses.

##### Swagger-codegen version

master branch

##### Suggest a Fix

The fix is very simple:

[2017-02-09 21:50] adhamhf commented on #4697
@wing328 yes, that's what I expected to happen.  not sure what basePackage is for...

[2017-02-09 22:04] JackWink opened #4765 "[Swift] RxSwift Option Not Respected"
##### Description

Generating a client with 2.2.0 and 2.2.1 doesn't seem to respect the `responseAs=RxSwift` option, however the `responseAs=PromiseKit` works.

##### Swagger-codegen version

2.2.0 and 2.2.1

##### Swagger declaration file content or url

n/a

##### Command line used for generation

Excerpt from our bash script:

[code]

##### Steps to reproduce

Download the client generator from

[2017-02-10 04:27] soycabanillas commented on #4745
Sorry for the delay.

Looks good to me:

    public usersGetWithHttpInfo(userId: number, extraHttpRequestParams?: any): Observable<Response> {
        const path = this.basePath + '/v2.01/Users/${UserId}'
                    .replace('${' + 'UserId' + '}', String(userId));
        ...

My workmate will try it soon, as he is the user of the sdk, and I'll give you feedback, but it seems that everyth

[2017-02-10 15:15] DavidBiesack opened #4768 "[html] codegen ignores schema on a separate path"
##### Description

When parsing a `swagger.yaml` file which contains external schema via `$ref`, swagger-codegen only looks at the *last element* of the schema path. Thus, for the below definition only the schema for `a` at `http://localhost/swagger-codegen-apidoc/schemas/a/schema.json` is processed. The schema for `b` at `http://localhost/swagger-codegen-apidoc/schemas/b/schema.json` is ignored.

[2017-02-10 16:46] soycabanillas commented on #4745
The typescript compiler is complaining about another issue that the repo you provided introduces (it didn't happen with the online codegen):

    public usersGetListWithHttpInfo(page?: number, perPage?: number, extraHttpRequestParams?: any): Observable<Response> {
    ...
        if (page !== undefined) {
            if(page instanceof Date) {
                queryParameters.set('Page', <any>page.

[2017-02-10 17:24] rohitsakala opened #4769 "Swagger Documentation in PDF"
##### Description

Hi, I wanted to know is there a feature where the spec.json can be converted to a pdf file just like the static documentation.

##### Commands

Something like
java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate \
  -i http://petstore.swagger.io/v2/swagger.json \
  -l pdf

[2017-02-10 19:28] vsoch opened #4770 "[PYTHON] requirements.txt different from setup.py for six"
##### Description

Hey swagger! When I generate a `python-client`, I noticed that the version of six specified in the requirements.txt is different from what is in the setup.py:

setup.py

      REQUIRES = ["urllib3 >= 1.15", "six >= 1.10", "certifi", "python-dateutil"]

requirements.txt

      certifi >= 14.05.14
      six == 1.8.0
      python_dateutil >= 2.5.3
      setuptools >= 21.0.0
      u

[2017-02-10 19:42] coolboy opened #4771 "[csharp] [c#] Bug generating for enum w/ default value"
##### Description

When having a enum w/ default value, the code generated is wrong

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url
[code]

[code]

##### Command line used for generation

swagger-codegen generate -i <json file> -l csharp

##### Suggest a Fix

Please see suggestion above in the csharp code

[2017-02-10 19:51] coolboy commented on #4771
looks like fixed in #4681

[2017-02-10 19:51] #4771 closed

[2017-02-10 21:21] yaronlev171 commented on #4671
Opened PR:
https://github.com/swagger-api/swagger-codegen/pull/4772

[2017-02-11 16:03] creat-or opened #4774 "[Angular2] attributes are snake_cased"
##### Description

In my generated files, the attribute in the model interfaces are all camelCased, but the fetched data is snake_cased and not changed.

[code]

returned object: `{ user_id: 12, ... }`

##### Swagger-codegen version

the version used by http://editor.swagger.io/

##### Notes

However, when sending some formParams (POST) to the server, then the generated code converts the attribute

[2017-02-11 16:25] toshe commented on #4774
Basically on a GET request the server returns  `{ user_id: 12, ... }` and it isn't assigned correctly to the model because the model now uses camel case, ` userId: number`. There is no snake_case -> camelCase conversion taking place when getting resources.
When posting resources the camelCase gets correctly converted to snake_case.

[2017-02-12 02:50] jeff9finger commented on #4759
Proposed fix:
[code]

[2017-02-12 11:36] MatanRubin commented on #4713
+1, would be great

[2017-02-12 12:30] MatanRubin opened #4776 "[JAXRS-CXF] Generated interfaces ignore query params default value"
##### Description
Using JAXRS-CXF generator with latest master 2.2.2-SNAPSHOT.
If a query param has a defined default value in the swagger definition file, the generated interface should respect that, i.e. add a `@DefaultValue(...)` annotation to the method signature.
Currently, it does not respect the default value.

For example, using the following swagger definition:

[code]

The generated inte

[2017-02-12 13:37] james-async opened #4777 "ApiImplicitParam and public static inner classes"
Once moving my parameter objects to be top level instead of public static inner classes the swagger.json generates as expected. For example, controllers.ApiController.TokenAccount was the inner class that was moved to controllers.model.TokenAccount.

##### Description

When first defining my service I had the parameter objects as simple public static classes. The ApiImpliciParam datatype was set t

[2017-02-12 14:46] jfiala commented on #4713
@MatanRubin implemented the check for cxf (server) + cxf-client, pls review and if OK I'll update the other languages.

[2017-02-13 02:45] gwynjudd opened #4780 "[JAVA] codegen with negative integer enum values compile error"
##### Description

I have an enum in my swagger doc:

[code]

The salient point being that there is negative values with the same absolute value e.g. -60 and 60.

This generates invalid Java code:

[code]

##### Swagger-codegen version

[code]

##### Swagger declaration file content or url

See above for relevant portion.

##### Command line used for generation

`java -jar swagger-codegen\modules\

[2017-02-13 07:38] achirita commented on #2219
Seems like the problem can be solved by adding vendor extensions to `RefProperty` object in `PropertyDeserializer.propertyFromNode(...)`. I would really appreciate if someone from the community can comment on this issue. @webron @wing328 :Is it an acceptable fix? If so I can contribute a pull request.

[2017-02-13 08:34] ToreJohansson opened #4781 "Java example is broken"
##### Description

The yaml below will result in incorrect java example:

Arrays.asList(new List<String>())

##### Swagger-codegen version
2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]
##### Command line used for generation
java -jar swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -l jaxrs-cxf  -i api.yaml

##### Steps to reproduce

#####

[2017-02-13 08:59] wing328 commented on #4765
@JackWink thanks for reporting the issue. May I know if you've tried to repeat the issue using the latest master of Swagger Codegen?

[2017-02-13 09:00] wing328 commented on #4758
@ber4444 thanks for the suggestion. We definitely welcome a Gradle plugin with a PR.

[2017-02-13 09:03] wing328 commented on #4764
@AnthonyOliveri thanks for reporting the issue. Please submit a PR so that we can review the change.

[2017-02-13 10:18] wing328 opened #4782 "Update test cases"
##### Description

For https://github.com/swagger-api/swagger-codegen/pull/4695#issuecomment-279343238 to cover the issue moving forward.

##### Swagger-codegen version

Latest master

[2017-02-13 10:22] ToreJohansson opened #4783 "Same object not allowed within same api-request"
##### Description

If the same object are placed in several places within an API request there will only one occurrence produced by the ExampleGenerator.
There is an infinite loop in the Junit test for ExampleGenerator that is inhibited by allowing only one occurence of an object within an example.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url
[code]

[2017-02-13 11:56] wing328 commented on #4746
#4747 merged into master.

[2017-02-13 11:56] #4746 closed

[2017-02-13 13:10] farcaller opened #4785 "[typescript-fetch] response parser"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2017-02-13 13:15] martinkbrown commented on #4632
@wing328 Am I correct in saying that there are no tests to run for cpprest? I haven't used maven much, but if I run `mvn integration-test` from samples/client/petstore/cpprest it says

[ERROR] The goal you specified requires a project to execute but there is no POM
 in this directory (C:\Users\nz962\git\martinkbrown-swagger-codegen\samples\clie
nt\petstore\cpprest). Please verify you invoked Maven

[2017-02-13 14:06] wing328 commented on #4632
@martinkbrown yup, there's no test for C++ REST API client at the moment and we would welcome contribution to add integration tests with the Petstore server.

[2017-02-13 14:34] wing328 commented on #4727
Closed via #4755

[2017-02-13 17:18] wing328 commented on #4774
Please try to generate the client from `2.3.0` branch as there's an enhancement to deserialize the JSON object properly: https://github.com/swagger-api/swagger-codegen/pull/4264

[2017-02-13 17:57] JLLeitschuh commented on #4758
This is a pretty simple plugin that does exactly what most people need.
https://github.com/thebignet/swagger-codegen-gradle-plugin

[2017-02-13 19:22] AnthonyOliveri commented on #4764
Submitted pull request #4787

[2017-02-13 19:24] JLLeitschuh opened #4788 "CodegenConfigurator systemProperties are reused between code generation invokations"
I'm using the swagger `CodegenConfigurator` in a gradle build where the swagger codegen project is loaded as a library and is being directly passed into the `DefaultGenerator`.

This usage in [this gradle plugin is very similar to my usage](https://github.com/thebignet/swagger-codegen-gradle-plugin/blob/master/src/main/groovy/org/detoeuf/SwaggerCodeGenTask.groovy#L42).

If I configure one `Codegen

[2017-02-13 19:28] JLLeitschuh commented on #4788
It seems that these lines are the one to blame in `CodegenConfigurator `:

[code]
https://github.com/swagger-api/swagger-codegen/blob/029728d851e63dc2887e126e1944f61a04d4540a/modules/swagger-codegen/src/main/java/io/swagger/codegen/config/CodegenConfigurator.java#L466

[2017-02-13 22:16] wehnsdaefflae opened #4789 "Online editor generated Python Flask server does not work according to README.md"
Using the online editor and a swagger YAML file, I generated a python flask rest server application.

According to the README.md included in the generated server zip file, I executed

    pip3 install -r requirements.txt
    python3 -m my_server

Instead of running the server, however, the second line gave me an exception.

    Traceback (most recent call last):
      File "/usr/lib/python3.5/runp

[2017-02-13 22:41] wehnsdaefflae commented on #4789
related to https://github.com/swagger-api/swagger-codegen/issues/4684

[2017-02-13 22:54] #4687 closed

[2017-02-13 23:51] userara2 opened #4790 "Unsupported major.minor version 52.0 (unable to load class io.swagger.api.ApiOriginFilter)"
Deployed Swagger generated code to Tomcat running Java 1.8

##### Swagger-codegen version

using swagger: '2.0'

##### Swagger declaration file content or url

##### Command line used for generation

I used the online editor

##### Steps to reproduce

Deployed Swagger generated code to Tomcat running Java 1.8

13-Feb-2017 23:46:44.758 SEVERE [localhost-startStop-5] org.apache.catalina.core.Standar

[2017-02-14 00:34] ber4444 commented on #4758
@JLLeitschuh  would be nice to make that a PR. The first thing that I miss from the current version you have is that it does not allow you to specify your own swagger version. Something like this would be nice:
[code]
Also, it should re-generate stuff when you bump the version of the specs. I.e.
[code]

[2017-02-14 04:05] archana27m opened #4791 "\\DateTime non existent class appearing in import for PHP model"
##### Description

I am trying to generate PHP code via swagger codegen, however if there is DateTime format for any of class attribute, then there is non-required classname appearing in "imports" as "DateTime" when I used -DdebugModels causing unnecessary import of "DateTime" non-existent class when I use the following code snippet in my model.mustache

{{#imports}}use {{import}};
{{/imports}}

r

[2017-02-14 04:48] kpradeepkumarreddy opened #4792 "how to say swagger-codegen to implement serializable for model classes."
##### Description

I want the Swagger generated classes to implement Serializable.  Is there way i can say to swagger-codegen to implement this ??

##### Swagger-codegen version

swagger-codegen version : 2.2.1

##### Swagger declaration file content or url

[code]
    (for YAML code) or
   -->

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i pet.yml   -l java

[2017-02-14 06:45] daurnimator opened #4794 "[Lua] Add API client generation"
Add lua API client generation.

Probably using [lua-http](https://github.com/daurnimator/lua-http)

[2017-02-14 06:52] wing328 commented on #4792
Have you tried the following option?
[code]

Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`

[2017-02-14 06:54] wing328 commented on #4794
@daurnimator sounds good to me :)

May I know if you're working on the Lua generator? Do you need any help from us (the community)?

[2017-02-14 07:04] daurnimator commented on #4794
Not yet. Though I'm considering it.

Indeed: I'm not sure where to start. (I've just had a look around at some of the other generators: shouldn't be too hard to translate...)

[2017-02-14 07:42] wing328 commented on #4794
We recently add the Bash generator via https://github.com/swagger-api/swagger-codegen/pull/4541, which may serve as a good starting point to add a new client generator.

[2017-02-14 09:19] wing328 commented on #4791
@archana27m I suspect you're using an old version of Swagger Codegen. Please give the latest master or stable release a try and share the spec if you still encounter issues.

[2017-02-14 09:36] zjarkov commented on #4794
Hi, didn't try it personally wth swagger but [lua-Spore](http://fperrad.github.io/lua-Spore/) is not sufficient?

[2017-02-14 09:37] archana27m commented on #4791
@wing328  I am using swagger codegen 2.1.5. will it be possible to suggest a fix or some workaround for this?

[2017-02-14 10:12] wing328 commented on #4791
Please upgrade to the latest stable release: https://github.com/swagger-api/swagger-codegen/releases

[2017-02-14 10:12] #4791 closed

[2017-02-14 11:06] kpradeepkumarreddy commented on #4792
thanks. it is working with "serializableModel" : true

[2017-02-14 11:06] #4792 closed

[2017-02-14 11:23] archana27m commented on #4791
@wing328 Is that possible without upgrading?

[2017-02-14 11:35] #4753 closed

[2017-02-14 12:29] thomsonimjd commented on #2881
@phiz71 , could you please give more acurate **simple** example on **swagger with vertx  rest api.**

[2017-02-14 15:57] bartkummel opened #4796 "Generate better example code"
##### Description

The code generated does not leverage all example and default values from the Swagger spec.

##### Swagger-codegen version

2.2.1

##### Suggest a Fix

Use examples, default values and enum values from Swagger spec to generate better example values.

[2017-02-14 18:06] ToreJohansson opened #4798 "Composed body parameter causes null pointer exception"
##### Description

Defining an api operation with composite parameter causes a ComposedModel to be generated. The swagger-codegen then does not handle that type in class DefaultCodegen function fromParameter.
Resulting in a null pointer exception.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

Use Animal object from the swagger spec as body object in

[2017-02-14 18:28] JackWink commented on #4765
Master doesn't seem to have this issue

[2017-02-14 23:07] hn3000 commented on #3485
Hi,

we'd like to have the same thing for our documentation.

Looking through the code I found the class Path that has a separate member for each HTTP verb. This means that the order of "get" / "post" / "put" etc. is not  remembered from the input file.

Regarding community contribution -- would you be open to changes to this representation as well?

[2017-02-14 23:10] fehguy commented on #3485
seems like a reasonable thing to do

[2017-02-15 05:04] mkistler commented on #3485
I would also like an option to generate operations in the same order as they appear in the swagger doc.  But I think this problem is far more complicated than just adding a cli options to bypass sort operation shown in the comment above.

The source of all the information about operations comes from the Swagger object returned by the swagger parser -- specifically the `getPaths()` method, which re

[2017-02-15 05:07] fehguy commented on #3485
Swagger-core uses linked hash maps, which are ordered by design.

[2017-02-15 06:28] wing328 commented on #4765
@JackWink thanks for testing with the latest master. We plan to release 2.2.2 this month.

[2017-02-15 06:28] #4765 closed

[2017-02-15 06:47] wing328 commented on #4791
I don't think so.

The upgrade process should be pretty smooth. Let us know if you need help.

On Tue, Feb 14, 2017 at 7:23 PM, archana27m <notifications@github.com>
wrote:

[2017-02-15 07:21] daurnimator commented on #4794
I didn't realise lua-Spore had a swagger component. It might actually be suitable for me.

-----------------

I'm wondering if adding lua support to swagger-code is the most useful thing to do. I feel like a fully dynamic-runtime approach like [swagger-js](https://github.com/swagger-api/swagger-js) took might be more appropriate.

[2017-02-15 09:29] wing328 commented on #4794
@daurnimator dynamic client approach (e.g. swagger-js, lua-spore) is definitely one way to do it but some developers prefer static clients generated by Swagger Codegen.

[2017-02-15 09:37] matteonovelli commented on #4577
I have same issue.

[2017-02-15 09:46] wing328 opened #4800 "Add .gitignore to .swagger-codegen-ignore mustache template"
##### Description

By default, .gitignore should not be overwritten as users might have updated it already so we'll need to add .gitignore to the .swagger-codegen-ignore mustache template.

##### Swagger-codegen version

Latest master

[2017-02-15 09:53] wing328 commented on #4785
@farcaller based on my understanding, there's no TS lib that can serialize/deserialize between JSON and TS object with proper attribute mapping.

There's an enhancement to TS Angular2 (not node) that can handle deserialization with proper attribute mapping via https://github.com/swagger-api/swagger-codegen/pull/4264

Please pull the latest 2.3.0 to generate the client to see if that meets your nee

[2017-02-15 09:55] wing328 commented on #4796
@bartkummel I think some generators do have better support for default and example values.

May I know which generators you find inadequate support of example/default value?

[2017-02-15 09:56] wing328 commented on #4781
@ToreJohansson thanks for reporting the issue. Please file a PR so that we can review the fix.

[2017-02-15 09:58] wing328 commented on #4780
@gwynjudd thanks for reporting the issue. If I remember correctly, other generators handle this edge case by replacing "-" with "NEGATIVE_". Would that meet your requirement? or you've other suggestions on how enum with negative value should be named?

[2017-02-15 10:01] wing328 commented on #4769
@rohitsakala currently, there's no direct export to pdf but we would welcome contributions to support that.

[2017-02-15 10:03] wing328 commented on #4770
@vsoch thanks for reporting the issue. That should be fixed already in the latest master.

Please pull the latest master to give it a try and let us know if you still experience the same issue.

[2017-02-15 10:03] #4770 closed

[2017-02-15 12:13] mkistler commented on #3485
That's true, but the property is exposed as simply a Map, which provides no ordering guarantee.  This is why I added the qualification "(in its public API)" above.  So one approach to fixing this is to change `getPaths()` to return a LinkedHashMap whose elements are in the order of appearance in the swagger doc.

But this isn't enough, because swagger-core allows `paths` to be set with `setPaths()

[2017-02-15 12:25] bartkummel commented on #4796
I have tried the nodejs generator. I have also created a pull request on the DefaultGenerator, which is subclassed by the specific generators, as I understand it. I have tested my PR with the nodejs generator and it works as I expect. See https://github.com/swagger-api/swagger-codegen/pull/4797

[2017-02-15 12:28] hn3000 commented on #3485
In addition, the Map<String, Path> contains objects that do not (and can not) store the order of declarations:

https://github.com/swagger-api/swagger-core/blob/5ba1f72116383085dbc4d0820ce19afc63bb0a28/modules/swagger-models/src/main/java/io/swagger/models/Path.java#L15-L21

So even if that map keeps the ordering (which it does, at the moment), the order of the http verbs will be the one hardcoded

[2017-02-15 13:13] wing328 commented on #4491
@MateuszLamczyk I can make the proposed fix. Let me know if you can help test it.

cc @mateuszmackowiak

[2017-02-15 13:14] wing328 commented on #4495
@antihax we'll try to address that after 2.2.2 release.

[2017-02-15 13:16] wing328 commented on #4483
Please go for it 👍

[2017-02-15 13:19] wing328 commented on #4474
@alfi86 please share the spec so that we can try to reproduce the issue.

If you've a manual fix already, please file a PR with the fix by updating the mustache templates:

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/nodejs

[2017-02-15 13:22] wing328 commented on #4461
You can use jersey1.x instead with the following option:
[code]
Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l jaxrs

I've not played with Wildfly so not sure why it does not work well with jersey2 lib.

There are some enhancements to jaxrs-resteasy generator in the latest master. Please give that a try.

[2017-02-15 13:26] wing328 commented on #4453
@PhilippMundhenk Android API client (volley) does have proper support for `consumes` defined in the swagger spec: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/android/libraries/volley/api.mustache#L83-L87

In your swagger spec, does the operation has a proper `consumes` defined? Here is an example:
https://github.com/swagger-api/swagger-code

[2017-02-15 13:26] wing328 commented on #4463
Closing this as there's no update.

[2017-02-15 13:26] #4463 closed

[2017-02-15 13:30] wing328 commented on #4431
@HarprasadShukla closing this as there's no update from you.

[2017-02-15 13:30] #4431 closed

[2017-02-15 13:30] wing328 commented on #4425
@HarprasadShukla closing this as there's no update from you.

[2017-02-15 13:30] #4425 closed

[2017-02-15 13:32] wing328 commented on #4447
Closed via #4455

[2017-02-15 13:32] #4447 closed

[2017-02-15 13:35] wing328 commented on #4424
@HarprasadShukla if your REST API supports HTTP basic authentication, then you should document it according to the OpenAPI/Swagger spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#basic-authentication-sample.

(I'm not sure if C# 2.0 generator has proper support for HTTP basic auth)

[2017-02-15 13:38] wing328 commented on #4387
Closed via https://github.com/swagger-api/swagger-codegen/issues/4396

[2017-02-15 13:38] #4387 closed

[2017-02-15 13:41] wing328 commented on #4376
If you've time to contribute the option (e.g. useRuntimeApiException), let me know and I can show you some good starting points.

[2017-02-15 13:43] wing328 commented on #4375
@todrules https://github.com/swagger-api/swagger-codegen/pull/4562 has been merged into master. Please pull the latest to give it a try. I believe it should address the issue that you reported if I'm not mistaken.

[2017-02-15 13:43] #4375 closed

[2017-02-15 13:45] wing328 commented on #4355
@paulvollmer please pull the latest master to give it another try. Let us know if you still experience the same issue.

[2017-02-15 13:45] #4355 closed

[2017-02-15 13:47] wing328 commented on #4336
Looks like @chomatdam has explained the error.

@GuangLinLau let us know if you still encounter issue with the Swift3 client.

[2017-02-15 13:47] #4336 closed

[2017-02-15 13:48] wing328 commented on #4318
Closed via #4332

[2017-02-15 13:48] #4318 closed

[2017-02-15 13:50] wing328 commented on #4307
@alechenninger yup, it's not supported at the moment. We'll try to support it after the 2.2.2 release.

We also welcome PR to support `maxProperties`, `minProperties`

[2017-02-15 13:52] wing328 commented on #4296
@NikolaySl thanks for reporting the issue. May I know if you've time to contribute a fix?

[2017-02-15 13:54] wing328 commented on #1984
Closing this as there's no update.

[2017-02-15 13:54] #1984 closed

[2017-02-15 13:57] wing328 commented on #1939
Closed via #2928

[2017-02-15 13:57] #1939 closed

[2017-02-15 13:57] wing328 commented on #1939
Thanks for the PR from @catinred2

[2017-02-15 13:58] wing328 commented on #1476
Fixed via #1477

[2017-02-15 13:58] #1476 closed

[2017-02-15 14:00] wing328 commented on #1219
@ePaul may I know if this is still an issue?

[2017-02-15 14:01] #300 closed

[2017-02-15 14:04] wing328 commented on #1668
@samuelg I proposed a fix via https://github.com/swagger-api/swagger-codegen/issues/4491. Please take a look.

Closing this one as using https://github.com/swagger-api/swagger-codegen/issues/4491 for tracking.

[2017-02-15 14:04] #1668 closed

[2017-02-15 14:11] wing328 commented on #2088
UPDATE: https://github.com/swagger-api/swagger-codegen/pull/4648 escapes the name properly

version still needs to be escaped properly.

[2017-02-15 14:13] wing328 commented on #2017
@jfiala yup, closed via #4003

@peteryhwong please pull the latest master to give it a try.

[2017-02-15 14:13] #2017 closed

[2017-02-15 14:20] wing328 commented on #980
@alex-estela please pull the latest master to give it a try.

The latest version of Swagger Parser should have resolved it.

[2017-02-15 14:20] #980 closed

[2017-02-15 14:21] wing328 commented on #1253
@c-knowles please pull the latest master to give it another try.

[2017-02-15 14:21] #1253 closed

[2017-02-15 14:29] wing328 commented on #2110
@normand1 may I know if you've a chance to test the Swift3 API client?

[2017-02-15 14:45] wing328 commented on #1347
@MatanRubin seems like it's still not yet supported. If you want to contribute the enhancement, please file a PR.

[2017-02-15 14:46] #2186 closed

[2017-02-15 14:47] wing328 commented on #4742
Closed via #4763. Thanks @abaruni for the PR.

[2017-02-15 14:47] #4742 closed

[2017-02-15 14:48] wing328 commented on #4250
Closed via https://github.com/swagger-api/swagger-codegen/pull/4270. Thanks for the PR from @lukoyanov

[2017-02-15 14:48] #4250 closed

[2017-02-15 14:50] wing328 commented on #4071
Closed via #4596. Thanks for the PR from @maik-kulbe

[2017-02-15 14:50] #4071 closed

[2017-02-15 15:01] wing328 commented on #3069
@YetAnotherMinion may I know if you've started working on this? I can show you some good starting points.

[2017-02-15 15:07] YetAnotherMinion commented on #3069
I had not started on this (unusual suspect of work) but I have free time now to look at it. Thanks for the reminder.

On Feb 15, 2017, at 9:01 AM, wing328 <notifications@github.com> wrote:

@YetAnotherMinion may I know if you've started working on this? I can show you some good starting points.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, o

[2017-02-15 15:08] wing328 commented on #2586
@kalkkhi closing this as there's no update from you.

[2017-02-15 15:08] #2586 closed

[2017-02-15 15:11] wing328 commented on #2694
@kenisteward sorry I don't think I understand the question. Please elaborate a bit more.

There's another PR related to this discussion: https://github.com/swagger-api/swagger-codegen/pull/4795

[2017-02-15 15:12] wing328 commented on #3069
@YetAnotherMinion no problem :)

Just let us (the community) know if you need anything from us.

[2017-02-15 15:39] #4549 closed

[2017-02-15 15:40] #4240 closed

[2017-02-15 15:41] wing328 commented on #3921
@janslow thanks for reporting the issue. May I know if you've time to contribute the fix?

[2017-02-15 15:42] #3918 closed

[2017-02-15 15:42] #3917 closed

[2017-02-15 15:43] wing328 commented on #3914
Closed via #4678. Thanks for the PR from @abaruni

[2017-02-15 15:43] #3914 closed

[2017-02-15 15:46] wing328 commented on #3836
FYI. Another way to do it is to customized the template `composer.mustache` and use it with the `-t` option.

[2017-02-15 15:55] kenisteward commented on #2694
@wing328 I ignored changing to @types due to it possibly making breaking changes. No need to answer question.  In a future PR I'm going to update all of the typescript clients to generate @types instead

[2017-02-15 16:01] mmaryo commented on #4376
I can do it ! Tomorrow morning. Do I know something ?

[2017-02-15 17:30] suleymankoksal opened #4802 "Reference links not handled"
Hi Everyone;

##### Description
In my swagger YML' s response, in responses schema is reference other YML. Not same file.
When I generate csharp code in my local host, i don't get other (reference) json information.
I look just reference url not reference content. But I want to see reference content.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

My First File

[2017-02-15 17:54] wing328 commented on #4376
https://github.com/swagger-api/swagger-codegen/commit/1aeceead99bb0e6e053befb27e1d0cb415599f22 is a good starting point. Please review and let us know if you've any question.

[2017-02-15 18:28] gwynjudd commented on #4780
@wing328  "NEGATIVE_" would fix my issue

[2017-02-15 19:21] russtacular commented on #3921
@wing328 I actually ran into the same issue myself and was in the process of putting together a PR for this and #4153

I can try to pull something together in the next few days, if that's useful for you and @janslow

[2017-02-15 20:43] gwynjudd opened #4804 "[Java] Codegen for definition with no properties leads to invalid Java"
##### Description

The swagger file is generated from an external model. For whatever reason (not too important), a definition has no properties. The Java class for this definition is not generated, but references to that class are generated in the model code, leading to compilation errors.

##### Swagger-codegen version

λ java -jar swagger-codegen\snapshot\swagger-codegen-cli-2.2.2-SNAPSHOT.jar

[2017-02-15 20:47] fehguy commented on #4804
Seems kind of important why you would make a model with no properties... I'm not sure why the codegen should support nonsensical input?  Is there a use case that we can take into consideration?

[2017-02-15 20:56] gwynjudd commented on #4804
@fehguy I don't know why this particular model has no properties. I didn't make it or have control over that bit. The swagger file is being generated from external model data, of which this particular class is currently empty. I can't think of a valid use-case for it, except that it means that I can't generate client code if this circumstance arises. Do you think it is valid to omit empty models f

[2017-02-15 20:58] fehguy commented on #4804
OK fair enough--I can look.

[2017-02-15 22:42] gwynjudd opened #4805 "[Java] Elision of underscore characters in property names leads to invalid Java"
##### Description

The swagger file, being generated from an external model contains some property names that contain underscores e.g. "CHT_Provider". It also contains some other property names that are identical once the underscores are removed e.g. "CHTProvider".

##### Swagger-codegen version

`λ java -jar swagger-codegen\snapshot\swagger-codegen-cli-2.2.2-SNAPSHOT.jar version
2.2.2-SNAPSHOT`

[2017-02-15 23:00] browndogg33 commented on #3617
@wing328 or @ShawnTuatara I've been able to configure all the generated code to go to the appropriate directories in my project, but is there a way to control the name of the SpringBootApplication runner that gets generated.  Can't decide whether to use the one I created from Spring Initializr or the one Swagger generates.

[2017-02-15 23:24] log0ymxm opened #4806 "[Scala] no escape method overload for `UUID`"
##### Description

The scala client code generator supports using UUID types of the form `{"type": "string", "format": "uuid"}`. This correctly generates models that use `java.util.UUID`. However when you use this API you get errors like the following:
[code]

In the generated `ApiInvoker.scala` we have:
[code]

All we need to add is the corresponding `def escape(value: UUID): String = value.toStr

[2017-02-16 05:16] archana27m commented on #4791
@wing328 Thank you. I will let you know if any help needed.

[2017-02-16 09:01] wing328 commented on #4806
PR merged into master. Thanks for the contribution from @log0ymxm

[2017-02-16 09:01] #4806 closed

[2017-02-16 09:27] wehnsdaefflae commented on #4789
part of the problem can be resolved by deleting the `__init__.py` in the models folder.

[2017-02-16 09:40] wehnsdaefflae opened #4809 "Generated Flask Server references files feature underscore, code references files without underscore"
##### Description
example code line:
`from swagger_server.models.inline_response_default1_data import InlineResponseDefault1Data`

target file name:
`swagger_server/models/inline_response_default_1_data.py`

notice the additional underscore. code does not run without adjustments.

##### Swagger-codegen version

Swagger Editor Version 2.10.3

##### Swagger declaration file content or url
[code]

##

[2017-02-16 09:46] wehnsdaefflae opened #4810 "Generated flask server code references inexistent `models.object`"
##### Description
`swagger_server/models/inline_response_default_data.py` tries to import `from swagger_server.models.object import object` but there is no `object` under `models`.

##### Swagger-codegen version
Swagger Editor Version 2.10.3

##### Swagger declaration file content or url
[code]

##### Steps to reproduce
generate a python flask server from this yaml file using the online editor. fi

[2017-02-16 11:28] wing328 commented on #4789
@wehnsdaefflae thanks for reporting the issue. We'll look into it after the 2.2.2 release.

[2017-02-16 11:32] wing328 commented on #4579
Closing this as there's no further update.

[2017-02-16 11:32] #4579 closed

[2017-02-16 11:43] wing328 commented on #3881
@nyilmaz when you've time, please submit a PR so that we can review the enhancement.

[2017-02-16 11:44] wing328 commented on #3731
@brentryan thanks. If you need help submitting a PR, please let us (the community) know.

[2017-02-16 11:46] wing328 commented on #3745
https://github.com/swagger-api/swagger-codegen/pull/3767 merged into master.

[2017-02-16 11:46] #3745 closed

[2017-02-16 12:05] #3688 closed

[2017-02-16 12:47] #3527 closed

[2017-02-16 12:49] #3279 closed

[2017-02-16 12:50] #3242 closed

[2017-02-16 12:52] wing328 commented on #3105
Closed via https://github.com/swagger-api/swagger-codegen/pull/4264 in 2.3.0 branch

[2017-02-16 12:52] #3105 closed

[2017-02-16 12:53] wing328 commented on #3221
@rajegit if you still need help using the TS angular2 client, please reply to let us know.

[2017-02-16 12:53] #3221 closed

[2017-02-16 12:54] #2110 closed

[2017-02-16 12:54] #1616 closed

[2017-02-16 12:55] #2817 closed

[2017-02-16 13:07] wing328 commented on #3991
Using https://github.com/swagger-api/swagger-codegen/issues/3100 for tracking.

[2017-02-16 13:07] #3991 closed

[2017-02-16 13:09] #4634 closed

[2017-02-16 13:09] #4372 closed

[2017-02-16 13:09] #3967 closed

[2017-02-16 13:10] #3915 closed

[2017-02-16 13:18] wing328 commented on #3617
Are you referring to the `title` option?

[2017-02-16 13:20] wing328 commented on #4697
Doing a search for `basePacakge` will show where it's used in the mustache template: https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=basePackage

[2017-02-16 13:20] #4697 closed

[2017-02-16 13:23] wing328 commented on #2978
@romk1n please file a PR so that we can review the fix.

[2017-02-16 13:25] #2449 closed

[2017-02-16 13:25] wing328 commented on #2449
I think so.

[2017-02-16 13:26] #3262 closed

[2017-02-16 13:30] wing328 commented on #4535
Closing this as 2.2.2 will be released soon (Feb 2017)

[2017-02-16 13:30] #4535 closed

[2017-02-16 13:36] cbornet commented on #4759
Can you do the PR ?

[2017-02-16 14:07] jritmeijer-muhimbi commented on #4670
We are running into this problem on the live http://editor.swagger.io site. When will that site be updated with the latest code generators?

[2017-02-16 14:55] wing328 commented on #4670
@jritmeijer-muhimbi 2.2.2 will be released this month and then generator.swagger.io (used by editor.swagger.io) will be updated accordingly.

[2017-02-16 15:29] jeff9finger commented on #4759
https://github.com/swagger-api/swagger-codegen/pull/4775

[2017-02-16 16:01] dsandersAzure opened #4811 "[PYTHON] Generating Flask Server with default.yaml"
##### Description

Unable to run a generated Flask server on MacOS. The generated server was generated from the latest official Docker image (swaggerapi/swagger-editor) and generated from within the editor. All installs okay but when running *python3 -m swagger_server*, generates the following error:

[code]

##### Swagger declaration file content or url

default.yaml

##### Steps to reproduce

Si

[2017-02-16 16:25] wing328 commented on #4745
@gigo1980 would you please take a look at @soycabanillas findings above?

[2017-02-16 16:26] wing328 commented on #4647
Should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4648

[2017-02-16 16:28] #4430 closed

[2017-02-16 16:28] wing328 commented on #4430
If it's still an issue, please reply to let us know and we'll reopen the issue.

[2017-02-16 16:32] wing328 commented on #3904
Ref: https://github.com/swagger-api/swagger-codegen/issues/4622

[2017-02-16 16:34] wing328 commented on #3674
Closing this as there's no update.

[2017-02-16 16:34] #3674 closed

[2017-02-16 16:38] wing328 commented on #3537
@hasangilak thanks for sharing the link. Is that something we can add back to the JS generator? I'm sure the JS developers would welcome the enhancements.

[2017-02-16 16:40] wing328 commented on #3466
Shall we add an option to disable ADM loading in the auto-generated JS code?

[2017-02-16 16:42] #3464 closed

[2017-02-16 16:42] wing328 commented on #3062
Closed via https://github.com/swagger-api/swagger-codegen/pull/3624

[2017-02-16 16:42] #3062 closed

[2017-02-16 16:43] #3042 closed

[2017-02-16 16:43] wing328 commented on #3019
Closing this as there's no update.

[2017-02-16 16:43] #3019 closed

[2017-02-16 16:45] wing328 commented on #3390
@u1982 may I know if you've time to contribute a fix?

[2017-02-16 16:46] wing328 commented on #3222
Should be closed via #3552

[2017-02-16 16:46] #3222 closed

[2017-02-16 16:47] wing328 commented on #3849
Closing this as there's no further update.

[2017-02-16 16:47] #3849 closed

[2017-02-16 16:48] wing328 commented on #3761
@SunnySydeUp if you need help with the PR, please let us (the community) know and we'll try to help.

[2017-02-16 16:49] wing328 commented on #3381
Closing this as there's no update.

[2017-02-16 16:49] #3381 closed

[2017-02-16 16:50] wing328 commented on #3483
Hi all, please try the latest master (with new swagger parser), which has better support for reference to primitive type.

If there's still an issue, we'll reopen this issue.

[2017-02-16 16:52] wing328 commented on #3659
Closing this as there's no update.

[2017-02-16 16:52] #3659 closed

[2017-02-16 16:53] #3572 closed

[2017-02-16 16:54] wing328 commented on #3805
If this is still an issue, please reply to let us know and we'll reopen this issue.

[2017-02-16 16:55] wing328 commented on #3947
If it's still an issue with the latest master, please reply to let us know and we'll reopen the issue.

[2017-02-16 16:55] #3947 closed

[2017-02-16 17:00] wing328 commented on #3311
Closing this as there's no update.

[2017-02-16 17:00] #3311 closed

[2017-02-16 17:19] browndogg33 commented on #3617
I don't think so.  I was specifically talking about the name of the class annotated with @SpringBootApplication (essentially the main for the project).  It looks like it defaults to Swagger2SpringBoot now.  I was just wondering if that was configurable.  If not, I can just take the one I generated from Spring Initializr and add it to the .swagger-codegen-ignore and not regenerate that class.

[2017-02-16 17:21] wing328 commented on #3617
@browndogg33 one way is to customize the template (https://github.com/swagger-api/swagger-codegen/blob/70fa2fb78e4d0d17324bbfe4e82f4fb6970327a7/modules/swagger-codegen/src/main/resources/JavaSpring/libraries/spring-boot/swagger2SpringBoot.mustache) and provide it with the `-t` option. Would that meet your requirement?

[2017-02-16 17:49] cacti77 commented on #4622
@boldtrn Re the use case in your OP I wrote several REST APIs that used polymorphism in the Swagger Editor and then used the same to generate clients in Python and server stubs in Java Spring. But I ran into various issues with polymorphism and enums which resulted in significant rewrites of the APIs, making them larger and uglier in my opinion.

Frankly I was annoyed that the Swagger Editor doesn

[2017-02-16 21:11] colinbreame opened #4813 "[Typescript-angular2] Date in path is not correctly formatted for typescript-angular2 client"
##### Description

The generated client does not format any date-time that is part of an operation path.

For an endpoint with this path:

An example request (as generated by the client) would look like this:

##### Swagger-codegen version

2.2.2-SNAPSHOT with HEAD as 0d14496bd6fbdbd763844f239b34e198459fe4d9

##### Swagger declaration file content or url

{"swagger":"2.0","info":{"version":"v1","t

[2017-02-16 21:50] gwynjudd commented on #4805
I've tested a simple code change that seems to do what I want. Just for testing purposes, I commented out the code that removes underscores in `camelize`, it seems to have the desired effect. I can spend some time to implement such a feature properly, but I didn't want to do much more if I was going down the wrong track. Does it seem like a configurable feature to turn off removing underscores wou

[2017-02-16 22:28] nandaccio opened #4814 "CXSVC - Errors while generating a client with either swagger-codegen-cli 2.2.1 or editor.swagger.io"
##### Description

I'm unable to generate a client for http://docs.oracle.com/cloud/latest/servicecs_gs/CXSVC/swagger.json

##### Swagger-codegen version

Both online version ( http://editor.swagger.io/#/) and swagger-codegen-cli 2.2.1

##### Swagger declaration file content or url

Swagger declaration url: http://docs.oracle.com/cloud/latest/servicecs_gs/CXSVC/swagger.json

The online swagger val

[2017-02-16 22:29] SunnySydeUp commented on #3761
Sorry, never had the chance to look at it. And I don’t think I will in the near future.

[2017-02-17 04:15] wing328 commented on #3761
@SunnySydeUp no problem.

If the change is as simple as extending NSObject for the auto-generated class, I think I can do it.

If anyone from the community wants to work on this, please reply to let us know.

[2017-02-17 05:28] wing328 opened #4815 "[Julia] Add Julia API client generator"
##### Description

We want to add a Julia API client generator so that Julia developers can consume RESTful APIs more easily.

If anyone from the community wants to contribute this, please reply to let us know.

Ref: http://julialang.org/

cc @log0ymxm

[2017-02-17 06:13] #4727 closed

[2017-02-17 06:14] wing328 commented on #4639
@krmaxwell may I know if you've time to contribute the enhancement? Let me know if you need help with the PR.

[2017-02-17 06:17] wing328 commented on #4103
I believe this has been addressed. Please reply to let us know if that's not the case.

[2017-02-17 06:17] #4103 closed

[2017-02-17 06:30] wing328 commented on #3960
@grEvenX please pull the latest master a try as the latest version of swagger parser has better support for reference to primitive types.

[2017-02-17 06:30] #3960 closed

[2017-02-17 06:32] wing328 commented on #3969
Fixed via https://github.com/swagger-api/swagger-codegen/pull/4223 in 2.3.0

[2017-02-17 06:32] #3969 closed

[2017-02-17 06:34] #1568 closed

[2017-02-17 06:36] wing328 commented on #3828
@dankling it should be fixed by https://github.com/swagger-api/swagger-codegen/pull/4621

Please pull the latest master to give it a try.

[2017-02-17 06:38] wing328 commented on #4086
@brian15co closing this as there's no update from you.

[2017-02-17 06:38] #4086 closed

[2017-02-17 06:38] #3925 closed

[2017-02-17 06:39] wing328 commented on #3641
@loganvolkers may I know if you need any help with the PR?

[2017-02-17 06:39] wing328 commented on #3678
@fayndee @liqidator it should be fixed in the latest master. Please give it a try.

If not, we'll reopen this issue and look into it again.

[2017-02-17 06:40] wing328 commented on #4248
@yucer it should be fixed with the latest master. Please give it a try.

[2017-02-17 06:40] #4248 closed

[2017-02-17 07:14] wing328 commented on #4568
Closing this as there's no update.

[2017-02-17 07:14] wing328 commented on #4523
Closing this as there's no update.

[2017-02-17 07:14] #4523 closed

[2017-02-17 07:15] wing328 commented on #4382
Closed via #4547

[2017-02-17 07:15] #4382 closed

[2017-02-17 07:16] wing328 commented on #4522
@liqidator please pull the latest master to give it another as the issue should have been addressed.

[2017-02-17 07:16] #4522 closed

[2017-02-17 07:44] gigo1980 commented on #4745
@wing328: i have create a new pull request that fix that issue #4812

[2017-02-17 10:36] Ondra09 commented on #4805
Same for typescript-angular2:

[code]

generates:

[code]

Completely unusable with this bug. From generated interface is created  json directly with wrong keys.

[2017-02-17 11:59] meisterlampe opened #4816 "[C#] ApiClient fails to parse return type "string" to response"
##### Description

Hi,

I generated a C#-Client for the swagger.yaml created by swagger-node and have an issue.
Steps for code generation:
- `swagger project create hello-world` and chose express as framework
- Used the generated swagger.yaml to generate the c# client:
`java -jar swagger-codegen-cli-2.2.1.jar generate -i hello-world/api/swagger/swagger.yaml -l csharp`
- In Visual Studio I added tw

[2017-02-17 13:33] wing328 commented on #4805
@Ondra09 please generate TS Angular2 from `2.3.0` branch (which should have the enhancement to deserialize the JSON with a property name mapping) or you can use the following option:
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l typescript-angular2`

[2017-02-17 13:35] wing328 commented on #4805
@gwynjudd For the following model definition:
[code]
I assume the property names "CHTProvider" and "CHT_Provider" cannot be changed.

One workaround is to handle the special case in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L450

[2017-02-17 14:00] wing328 commented on #4816
In your spec, you've the following defined:
[code]
which is an object (JSON) and an example is `{ message: "Hello, Bob!" }`

Whether your endpoint should return an object or primitive type (e.g. string) is entirely based on your use case. Returning an object (JSON) will allow you to return additional data in the future by defining more fields/properties in the object.

[2017-02-17 14:06] paulmasri commented on #4257
If you've been foolish/naive enough to have used PascalCase, you get the same issue.
e.g. `$app->GET('/pet/{PetId}', function(Application $app, Request $request, $pet_id)`

[2017-02-17 14:15] wing328 commented on #4257
@PisaJan @paulmasri I should be able to fix it (with a workaround using the original name of the parameter). Would you have time to help test the fix?

[2017-02-17 14:18] PisaJan commented on #4257
@wing328 Sure :-)

[2017-02-17 14:24] wing328 commented on #4257
I've filed https://github.com/swagger-api/swagger-codegen/pull/4817 to workaround the issue.

I think an ideal fix is to loop through all endpoints and caemlize the variables in the path e.g. rename {pet_id} with {petId} (camelized).

To test:
[code]

[2017-02-17 14:39] paulmasri commented on #4257
@wing328 Sorry I can't offer to check right now. Does your fix handle the related situation of converting hyphens to underscores (which I've just discovered)?
e.g. `$app->GET('/pet/{pet-id}', function(Application $app, Request $request, $pet_id)`

[2017-02-17 14:40] wing328 commented on #4257
@paulmasri unfortunately nope (that's why I said it's more of a workaround)

[2017-02-17 14:42] tharpa commented on #3805
Well, for me this is still an open issue because I don't know how to successfully define in Swagger a parameter of type object with keys and values being strings and get a Swift 3 generated code which successfully encodes it to JSON.

[2017-02-17 14:47] Ondra09 commented on #4805
With modelPropertyNaming=original is everything working. This is often discussed in other threads too, now I can see it... It would be nice to have defaults set differently for different languages.

Thank you for great answer.

[2017-02-17 14:59] #4569 closed

[2017-02-17 15:00] #4598 closed

[2017-02-17 15:01] wing328 commented on #4285
We plan to release 2.2.2 release this month (Feb 2017) and then generator.swagger.io (used by editor.swagger.io) will be updated to use 2.2.2 for code generation.

[2017-02-17 15:01] #4285 closed

[2017-02-17 15:02] wing328 commented on #4095
@Megamzero may I know if you've time to submit a PR so that we can review the fix?

[2017-02-17 15:03] wing328 commented on #4148
Closing this as there's no update.

[2017-02-17 15:03] #4148 closed

[2017-02-17 15:03] wing328 commented on #4330
#4339 merged into master. Thanks for the fix from @MatanRubin

[2017-02-17 15:03] #4330 closed

[2017-02-17 15:12] wing328 commented on #4550
Here are the related files that you need to fix:

modules/swagger-codegen/src/main/resources/JavaSpring/formParams.mustache:
[code]
modules/swagger-codegen/src/main/resources/JavaSpring/headerParams.mustache:
[code]
modules/swagger-codegen/src/main/resources/JavaSpring/pathParams.mustache:
[code]
modules/swagger-codegen/src/main/resources/JavaSpring/bodyParams.mustache:
[code]
modules/swagger-code

[2017-02-17 15:13] wing328 commented on #3575
Closing this as there's no update.

[2017-02-17 15:13] #3575 closed

[2017-02-17 15:15] wing328 commented on #3426
Good idea to include more instructions in the doc.

If anyone from the community wants to enhancement the doc for Android API client, please reply to let us know.

[2017-02-17 15:18] wing328 commented on #3497
@ebelanger please pull the latest master and try the following option for Spring:
[code]

[2017-02-17 15:18] #3497 closed

[2017-02-17 15:20] wing328 commented on #4805
@Ondra09 can you also try generating the client from 2.3.0 branch to see if the deserialization logic works for you?

Ideally we don't want developers changing the model property naming as we want model property naming conforming to the language style guide (e.g. camelCase for Typescript).

[2017-02-17 15:23] wing328 commented on #3805
Can you share an example of the object (JSON)? Are you using body parameters for JSON objects in requests?

[2017-02-17 15:34] khalidx commented on #3722
Hey there @wing328 , I think I can take this on. Have worked on two custom generators, so I think I have the flow good.

[2017-02-17 15:51] wing328 commented on #3722
Thanks @khalidx

[2017-02-17 16:05] Ondra09 commented on #4805
Same on 2.3.0 branch.

When is property renamed it will be automatically serialized with renamed name, instead of with correct one.

[2017-02-17 16:14] khalidx commented on #3722
Cool, if you could go ahead and assign it to me I'll get started.

Also, I landed here after noticing the following question on the SalesForce Success Community Forum:
[SalesForce Idea: "Swagger2Apex" REST callout code generator](https://success.salesforce.com/ideaView?id=0873A000000CPZjQAO)

[2017-02-17 16:37] pcon commented on #3722
@khalidx i don't have time to help write it but I can help you test it. Let me know when you get to that stage if you need it.

[2017-02-17 16:39] khalidx commented on #3722
@pcon Sounds great! Thank you for the help.

[2017-02-17 18:08] jtegile commented on #3964
While the latest parser works, the generated java client code is not compilable (and Ruby as well).

##### For java, the compilation error looks like
`incompatible types: int cannot be converted to java.lang.String` due to use of `@SerializedName(1)`

##### For Ruby, the error looks like
`syntax error, unexpected '=', expecting keyword_end (SyntaxError)
    0 = 0.freeze`

[2017-02-17 18:11] knzm opened #4819 "Javascript client produces a wrong object for a string enum type that is used with $ref"
##### Description

I got something like `{ '0': 'f', '1': 'i', '2': 's', '3': 'h' }` for an enum type. It should be `"fish"`.

##### Swagger-codegen version

2.2.2-SNAPSHOT (revision: bb81fc130aedd64a4d35232d5173b12ce758e967)

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

1. Run codegen by the above command
2. Cd in

[2017-02-17 19:03] loganvolkers commented on #3641
I ran into a roadblock on this one.

Since the Typescript implementation uses a parameter object and destructuring in the function signatures, the original goal of using Typescript's built-in [default parameters](https://www.typescriptlang.org/docs/handbook/functions.html#optional-and-default-parameters) won't work.

We could probably find another way to pass in the defaults, but right now I don't

[2017-02-18 09:31] meisterlampe commented on #4816
Ok thank you, that makes sense ;)
So spec and server implementation of the code generated by swagger-node do not match at this point.
I'll head over to the swagger-node repo and file an issue there to get this very minor bug fixed.

[2017-02-18 09:31] #4816 closed

[2017-02-18 13:14] joergi77 opened #4821 "building the package: Generate.java:[125,119] cannot find symbol [ERROR] symbol: variable IGNORE_FILE_OVERRIDE_DESC"
##### Description
I cloned the master and made a

and I got the following error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (default-compile) on project swagger-codegen-cli: Compilation failure
[ERROR] /home/joergi/dev/projects/rest_api_blog/swagger-codegen/modules/swagger-codegen-cli/src/main/java/io/swagger/codegen/cmd/Generate.java:[125,119] can

[2017-02-18 13:24] joergi77 commented on #4821
I just checked out tag 2.2.1 and it's working, but not with the current master version!

[2017-02-18 13:44] ncksol opened #4822 "Generate a library that can be consumed by Windows UWP app"
I am a bit confused about the support for UWP with swagger-codegen. According to this issue here: https://github.com/swagger-api/swagger-codegen/issues/2241
the beta support for uwp has been implemented. But I've just tried to generate the code with targetFramework=uwp and the result doesn't look valid to me.

The project generated contains references to libraries like System.Data which are part o

[2017-02-18 14:57] PhilippMundhenk commented on #4453
Ah, interesting! I must have missed the consume/produce statements. I currently don't have time to try it, but trust that it works.

[2017-02-18 14:57] #4453 closed

[2017-02-18 17:12] jfiala commented on #4513
added PR to compile the api invocations in unittests for cxf clients.

[2017-02-18 18:01] jfiala commented on #4513
Added the snippet to deal with CXF Attachments.

Sidenote: the currently used PetApi.uploadFile with the FormParam additionalMetadata doesn't work with CXF as it only supports one Attachment parameter. If the parameter additionalMetadata  is removed, the unittest works.

[2017-02-18 18:05] jfiala commented on #4718
I added step 1.) to AbstractJavaCodegen.java in PR #4823.

[2017-02-18 18:07] jfiala commented on #4327
Please see #4509 for the fix of the Multipart, in fact this is not standardized yet (https://java.net/jira/browse/JAX_RS_SPEC-413), so I replaced it with InputStream to be at least not CXF-dependent for the JAXRS-spec.

[2017-02-18 18:10] jfiala commented on #2663
@wing328 can you pls check for Java, as beanvalidation has been added to all Java languages in #4091?

[2017-02-18 18:41] jritmeijer-muhimbi opened #4824 "[JAVA] Codegen - swagger type=string format=byte not serialised correctly"
##### Description

I am currently creating frameworks for the various supported languages using Codegen. Generated clients for Python, PHP, Ruby and C# work as expected, as do other 3rd party systems that support Swagger files (e.g. Microsoft Flow). However, the JSON generated by the Codegen Java client is not correct, or at least not in line with the JSON generated by the other languages.

Relate

[2017-02-19 13:48] u1982 commented on #3390
Sorry, right now I have to much to do for work.

[2017-02-19 20:08] gwynjudd commented on #4805
@wing328 yes that's correct I have no way to modify the property or object names

[2017-02-19 22:46] staticcat commented on #3874
Just hit this issue with converting a swagger json file into a yaml file. Would this mean the YAML static code generator would also need to be patched as well as the HTML generator?

[2017-02-20 07:00] wing328 commented on #3874
@staticcat yes, please open a new issue for tracking and we'll look into that.

[2017-02-20 07:02] wing328 commented on #4805
Just want to make sure. You've done a `mvn clean package` to rebuild the JAR, right? If yes, I'll inform the author of that enhancement (property name mapping) to take a look.

[2017-02-20 07:02] wing328 commented on #4805
@gwynjudd understood. Have you tried the workaround I mentioned above? Would that help?

[2017-02-20 07:03] ankeshanand opened #4826 "Vendor Extensions of JSON type being parsed as string"
##### Description

While using a vendor extension that is of JSON type, I get a string instead of a dict (in case of Python).
This extension is defined in the swagger spec as:
[code]

When I try to use this in swagger-codegen using `val = {{vendorExtensions.x-new-extension}}`,
the generated code output is this:

`val = {&quot;x-new-extension&quot;:{&quot;name&quot;:&quot;Foo&quot;,&quot;amount&quo

[2017-02-20 07:28] wing328 commented on #3641
@loganvolkers thanks for the update. I've marked the task as "Need community contribution" to see if anyone from the community has better ideas to support default parameters in TS clients.

[2017-02-20 07:30] ankeshanand commented on #4826
Okay, I figured out a solution. I can simply do {{{vendorExtensions.x-new-extension}}} to unescape the string.

[2017-02-20 07:30] #4826 closed

[2017-02-20 08:07] wing328 commented on #4826
@ankeshanand yup, or `{{&vendorExtensions.x-new-extension}}}`

[2017-02-20 08:18] #1940 closed

[2017-02-20 08:51] wing328 commented on #3874
@staticcat I've fixed the warnings via #4827 . Please pull the latest master to give it a try.

[2017-02-20 09:24] wing328 commented on #4622
Totally agreed. We'd a look at https://kangax.github.io/compat-table/es6/ before and started with a Google spreadsheeet but that didn't go well.

I'll try to folk https://kangax.github.io/compat-table/es6/ and put something together after the 2.3.0 release.

Agreed. Some language generators (especially the new one) are less mature than the others. Putting "Beta" or "Alpha" next to it will help man

[2017-02-20 09:41] radoslawborecki opened #4828 "Default interface implementation : HttpStatus.NOT_IMPLEMENTED instead of HttpStatus.OK"
It is only a proposition

default Interface implementation returns: HttpStatus.OK
it would be better to return: HttpStatus.NOT_IMPLEMENTED

[2017-02-20 09:55] cbornet commented on #4828
Can you specify which language/framework ?

[2017-02-20 10:21] radoslawborecki commented on #4828
Sorry,

server sources generated to spring, with java8 enabled

<language>spring</language>
<configOptions>
<dateLibrary>java8</dateLibrary>
</configOptions>

[2017-02-20 11:25] wing328 commented on #4554
Closed via #4604

[2017-02-20 11:25] #4554 closed

[2017-02-20 12:12] matteonovelli commented on #4577
I've compiled the latest version and this issue appears to be solved

[2017-02-20 23:21] gwynjudd commented on #4805
@wing328 do you mean the "if it's all uppper case, do nothing" bit? It wouldn't apply in my case because a number of classes do not match the regex:

        if (name.matches("^[A-Z_]*$")) {
            return name;
        }

[2017-02-21 01:17] wing328 commented on #4230
@willgorman what about using .swagger-codegen-ignore to skip the overwrite instead?

[2017-02-21 03:28] asnelling commented on #3722
I've actually been working on one. It's complete, but could probably use some tweaks from someone who's already built a few generators. @khalidx if you're not already underway, this could give you a head start.
I had to work around quite a few of the intricacies (often inconvenient, undocumented) of Apex so it's not quite a clone of the Java codegen.

[2017-02-21 03:59] khalidx commented on #3722
"Often inconvenient, undocumented" -- sounds like Apex ;)

That's awesome, can you share your repo/branch? I only have basic scenarios working so far, with paths/model generation.

[2017-02-21 12:22] markus-wa commented on #4581
@jfiala I filed PR #4829

[2017-02-21 17:18] wing328 commented on #564
Closed via https://github.com/swagger-api/swagger-codegen/wiki/Integration-Tests

[2017-02-21 17:18] #564 closed

[2017-02-21 17:18] wing328 commented on #592
Closed via #691

[2017-02-21 17:18] #592 closed

[2017-02-21 17:21] wing328 commented on #394
@alonsnir we've added auto-generated test cases in most popular API clients. Please pull the latest master to give it a try.

[2017-02-21 17:21] #394 closed

[2017-02-21 17:21] wing328 commented on #334
Closed via #717

[2017-02-21 17:21] #334 closed

[2017-02-21 17:22] wing328 commented on #42
@hsanjuan please pull the latest master to give it another try.

[2017-02-21 17:22] #42 closed

[2017-02-21 17:23] wing328 commented on #285
Both swagger-api/swagger-core#705 and swagger-api/swagger-core#698 are closed.

[2017-02-21 17:23] #285 closed

[2017-02-21 17:23] wing328 commented on #293
@martoe please pull the latest master to give it another try.

[2017-02-21 17:23] #293 closed

[2017-02-21 20:47] andyman09 opened #4830 "swagger codegen generate api from produces json value "produces: [ "*/*" ]" to localVarAccepts *_/_* ???"
##### swagger codegen generate api from produces json value "produces: [ "*/*" ]" to  localVarAccepts *_/_* ???

##### Swagger-codegen 2.2.1

##### Swagger declaration file content or url

my swagger.json file look something like this:

`/user/{user-id}: {
put: {
tags: [
"filter-controller"
],
summary: "updateUser",
operationId: "updateUserUsingPUT",
consumes: [
"application/json"
],
produces: [
"

[2017-02-22 05:02] amrk7 opened #4831 "[JAVA] Would be nice if StreamingOutput/Media type APPLICATION_OCTET_STREAM gives an Inputstream at the generated JAVA code."
##### Description

If the media type is APPLICATION_OCTET_STREAM and the response is a javax.ws.rs.core.StreamingOutput, it would be nice to get an InputStream of bytes at the client side.

Currently the behaviour is, swagger generates its own StreamingOutput model which is apparently useless to do anything.

##### Swagger-codegen version

[code]

##### Swagger declaration file content or url

Rel

[2017-02-22 05:24] ankeshanand commented on #4527
@fehguy It seems swagger parses the outer level `vendorExtensions` correctly, since I can see them in the response of `-DdebugOperations`, but codegen is not able to use them.

Any pointers to how we can use them, or could you point to necessary changes that can be made in `swagger-codegen` source so that I can use them?

[2017-02-22 06:42] wing328 commented on #4830
@andyman09 the issue should have been addressed in the latest master. Please pull the latest to give it a try.

If it's not the case, we'll look into the issue again.

[2017-02-22 06:42] #4830 closed

[2017-02-22 06:48] wing328 commented on #4822
@ncksol thanks for reporting the issue.

For UWP, what should be used instead of System.Data?

So when the `targetFramework=uwp` option is provided, if we change ProjectTypeGuids to "A5A43C5B-DE2A-4C0C-9213-0A381AF9435A", the issue will be addressed?

[2017-02-22 06:50] wing328 commented on #4811
@dsandersAzure thanks for reporting the issue. Can you please try the "petstore_full.yaml" from the example in editor.swagger.io instead?

[2017-02-22 06:53] wing328 commented on #4809
@wehnsdaefflae we'll look into it after the 2.2.2 release.

If you want to contribute a fix, please feel free to submit a PR.

The fix should be found in the Python API client, which has the correct import statements.

[2017-02-22 10:12] fortiumant opened #4833 "Creating qt5cpp library from swagger has missing include"
##### Description

While creating a static library from the generated files, compilation issues arose due to QDateTime only being forward declared. Adding the include resolves the issue.

The file affected is SWGHelpers.cpp. So editing the mustache file and tested locally worked correctly.

##### Sample CMake lists

I used generated code from existing examples. Using the cmake file below, just cre

[2017-02-22 11:58] paulmasri opened #4835 "Qt/C++ generated code crashes if response is of type string"
##### Description

Qt/C++ code crashes during the API callback when `output` is cast to `QString*`

On Mac, this causes a fatal SIGSEGV exception in QtCore at `QString::append(QString const&) + 17` according to the crash log.

##### Swagger-codegen version

Current version used by http://editor.swagger.io/#/ at time of posting.

##### Steps to reproduce

Include the following in the yaml:

[code]

[2017-02-22 14:30] M3lkior opened #4837 "[Spring][maven-plugin] Too more spaces/tab in 2.2.1"
##### Description

Since codegen-maven-plugin 2.2.1, generated code contains extra space/tab and CR :

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url
2.2.0 :

![image](https://cloud.githubusercontent.com/assets/5501911/23215775/d54c66c8-f913-11e6-96a6-9fae59ca26d7.png)

In 2.2.1 with the same api.yaml :

![image](https://cloud.githubusercontent.com/assets/55019

[2017-02-22 15:05] dsandersAzure commented on #4811
Hi @wing328,

Thanks for the response and suggestion. So I went to the example in editor.swagger.io and performed the following steps (and got the same error):

1. Generate Server -> Python Flask,
2. Downloaded the code to my mac
3. Unzipped and created a new virtualenv with -p python3
4. pip installed the requirements.txt file
5. Ran the example using `python3 -m swagger_server`

The error was th

[2017-02-22 15:08] dsandersAzure commented on #4811
Above, I did the default example by mistake. Re-doing above with petstore_full produced the same results.

David

[2017-02-22 15:16] ataraxus commented on #4805
@wing328 the typescript generator does not have something similar like the java one which does the naming convention matching via annotations like `@SerializedName` or `@JsonProperty`. the typescript generator does camelcase by default. which just by accident _until_ now was totally ok until i now generated a java client which tries to consume the API and fails since naming conventions dont match

[2017-02-22 15:17] cbornet commented on #4811
Weird: https://docs.python.org/3.5/library/typing.html#typing.Type

[2017-02-22 15:21] dsandersAzure commented on #4811
I just checked my version of Python and it's 3.5.1. I'm looking at the docs and trying to figure out if Type[c] is new to 3.5.3 or if it was available in 3.5.1. Any ideas or is there anything I can check at my end (it could be human error :) )

[2017-02-22 15:33] cbornet commented on #4811
Indeed, the Type appeared in version 3.5.2 (https://github.com/python/cpython/blob/v3.5.2/Lib/typing.py#L23).
I can't believe they introduce API changes between patch versions !!!
Can you upgrade your python ?

[2017-02-22 15:35] dsandersAzure commented on #4811
I can. I'll run a test in Docker first though with 3.5.3 and check it works there. Thanks for helping me track this down :) 👍

[2017-02-22 15:52] dsandersAzure commented on #4811
Ok, confirmed this works with Python 3.5.3 in Docker. The Dockerfile was:

[code]

swagger_server/\_\_main\_\_.py changed the following lines to enable access to the Container from the host:

[code]

All works fine. I will upgrade my local Python to 3.5.3.

Can we put some notification or text around the version of Python required?

Cheers,

David

[2017-02-22 16:04] cbornet commented on #4811
Or just remove the method from the base class. It's overloaded in the child classes anyway.

[2017-02-22 16:07] dsandersAzure commented on #4811
Okay. I'm happy to close the issue. I'd still recommend changing the docs (or better the dialog) to state 3.5.2 as a minimum requirement, but I'm happy to close out the issue.

Thank you for the help, it is much appreciated :) .

[2017-02-22 16:07] #4811 closed

[2017-02-22 16:23] polikin opened #4838 "parseDate function"
##### Description

Generate Client -> Javascript .

The function parseDate return the wrong date.
[code]

My date is: `2017-03-12`.
The return date is: `2017-03-11`.
The timestamp is: `Sat Mar 11 2017 19:00:00 GMT-0500 (EST)` .

So, the function remove one day.

##### Swagger-codegen version

Version: `Version 2.10.4`

##### Swagger declaration file content or url

File: ApiClient.js

##### Comman

[2017-02-22 16:29] #4838 closed

[2017-02-22 16:41] wing328 commented on #4805
@ataraxus The feature is added via https://github.com/swagger-api/swagger-codegen/pull/4264 to 2.3.0

Can you pull the latest 2.3.0 and build the JAR locally to give it a try?

[2017-02-22 16:44] fehguy commented on #4835
@paulmasri yes, this is a defect--returning QString or arrays of QString both have bugs (the latter gives a compile error).

In the mean time, please consider wrapping your QString object in another object and you should have no issue.  But this will get fixed, probably in 2.3.0.

[2017-02-22 17:17] Ondra09 commented on #4805
It was clean build. First try was from binaries obtained through brew.

[2017-02-22 17:35] ranma42 commented on #3970
Is it legitimate for the field name to be a string that is not a valid identifier in Typescript/Javascript?
I have a Swagger spec in which the name is "x-api-key" and the code that is currently generated by the template breaks because it tries to access it as `configuration.apiKey.x-api-key`.
Is the spec non-conforming? Or should these keys be handled in a more robust way?

[2017-02-22 17:50] ranma42 opened #4839 "[TypeScript-Fetch] Invalid interface definition when using additionalProperties"
##### Description

Compiling the following spec into a TypeScript-Fetch client results in invalid code.
Specifically, the generated code contains
[code]
which the TypeScript compiler rejects.

##### Swagger-codegen version

I tested it on 2.2.1 (latest stable) and 2.3.0 (7aebcfa).

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`swagger-codegen gener

[2017-02-22 18:38] ncksol commented on #4822
@wing328

Well as far as I know UWP uses .Net Core which is delivered in a single package from nugget. It doesn't have those references to specific libraries any more.

I think it might work yes. Although I have my suspicions regarding RestSharp. I don't know how well it's going to play with UWP. The reason is, since UWP uses .NET Core libraries and not Standard .NET Framework libraries, in that p

[2017-02-22 19:49] ryanackley commented on #1167
Is there a config option that affects this? because enums are appearing as useless types which are blocking me from using the generated client NOT NSStrings. Am I missing something? or is this new?

original swagger definition:
[code]
Generates this objective c
[code]

[2017-02-22 20:39] otrosien commented on #4758
Please also fix the unnecessary swagger-codegen dependency on maven-plugin-tools-api. It should only be a dependency in the swagger-codegen-maven-plugin module. Otherwise maven jars will leak into non-maven builds.

[2017-02-22 20:48] otrosien commented on #4758
Created a PR: https://github.com/swagger-api/swagger-codegen/pull/4840

[2017-02-22 22:41] gwynjudd commented on #4780
Just as an update, I found that if the `type` of the enum is changed to a numeric type e.g. 'integer' or 'number', then codegen does not emit the DataEnum, and the type of the `data` property is Integer probably some floating point type (for number). This is an ok work-around for me at this time.

[2017-02-23 02:24] HansHammel opened #4841 "Resource interpreted as Document but transferred with MIME type application/zip"
swagger-editor release 2.10.5, win10, chrome

`Resource interpreted as Document but transferred with MIME type application/zip "http://generator.swagger.io/api/gen/download/1ce98a20-cb5c-4758-8a50-2485baf38106". codegen.js:43`

note: fixed some issues with subfolders and https: swagger-api/swagger-editor#1193 swagger-api/swagger-editor#1192

[2017-02-23 02:29] HansHammel opened #4842 "When served via https returns a http link for download"
swagger-editor release 2.10.5, win 10, chrome

when served via https returns a http link for downloads, please use https

note: fixed some issues with subfolders and https: swagger-api/swagger-editor#1193 swagger-api/swagger-editor#1192

[2017-02-23 03:59] fehguy commented on #4842
I don't think you're opening this on the correct project.  Looks like a swagger-editor issue.

[2017-02-23 03:59] #4842 closed

[2017-02-23 04:27] wing328 commented on #4811
@dsandersAzure we'll update the auto-generated README accordingly. Thanks for your feedback.

[2017-02-23 04:31] staticcat commented on #3874
@wing328 tested with #4827 and found to no longer be writing out the warnings.

[2017-02-23 04:38] wing328 commented on #4811
Submitted https://github.com/swagger-api/swagger-codegen/pull/4844 to improve the README

[2017-02-23 07:41] wing328 commented on #4841
Looks like a Swagger Editor issue. Please report the issue in the Swagger Editor github repo instead.

[2017-02-23 07:41] #4841 closed

[2017-02-23 07:53] wing328 commented on #4706
1. You may try putting the operations in different `tags` ([example](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L126)) to see if that meets your requirement.

2. You can leverage .swagger-codegen-ignore to skip files you don't want to generate. https://github.com/swagger-api/swagger-codegen#ignore-file-format.

3. Please

[2017-02-23 08:11] wing328 commented on #4720
Fixed via #4722

[2017-02-23 08:11] #4720 closed

[2017-02-23 09:26] wing328 commented on #4839
@ranma42 thanks for testing the latest master, may I suggest defining the map inline instead of a reference as a workaround?

[2017-02-23 09:28] wing328 commented on #4805
@Ondra09 you're right. Looks like the deserialization only looks into the "type" but there's no attribute name mapping defined.

@TiFu I wonder if you can take a look when you've time.

[2017-02-23 09:28] ranma42 commented on #4839
I am already doing that for my project ;)
I reported the issue because I was suggested to do so in the Swagger IRC channel (at first I was unsure if the spec was bad or it was just handled incorrectly).

[2017-02-23 09:36] wing328 commented on #4839
👍

Looks like an issue that needs to be addressed in the Swagger Parser

[2017-02-23 09:43] ranma42 commented on #4839
@wing328 should I close this and report against https://github.com/swagger-api/swagger-parser ?

[2017-02-23 09:53] wing328 commented on #4839
@ranma42 yes please open an issue there as well.

[2017-02-23 10:13] asnelling commented on #3722
Here it is: https://github.com/asnelling/swagger-codegen/tree/apex-codegen

I'm using this generator for a fairly large API, so I had to make some design decisions that avoid eating up too much of my [Apex limits](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_gov_limits.htm#size_gov_limits_section)
... just another one of those Salesforce things

[2017-02-23 11:53] cacti77 commented on #4622
Thanks @wing328; I'm glad you see the need to set users' expectations here, so others don't experience the same disillusionment with Swagger that I went through!

I appreciate that a feature/issue matrix is difficult to keep up to date manually. I can imagine it might be possible to auto-populate such a table based on code coverage analysis and the automated raising of issues when unit tests fail

[2017-02-23 12:22] TiFu commented on #4805
The problem is that both cHTProvider and CHT_Provider are mapped to the same name (cHTProvider), while maintaining a different baseName. Is that correct?

I don't think that this is a bug with the Serializer/Deserializer. The serializer/deserializer assumes that a property appears only once in a class (and not twice because two properties are mapped to the same name).

This is a part of the code w

[2017-02-23 13:45] techlogix commented on #4741
Yep - I can work on the enhancement. Pls msg me with some good starting points please.

[2017-02-23 14:08] cbornet commented on #4811
The Dockerfile is a good idea btw ! I'll add a generated one asap.

[2017-02-23 14:09] koppor commented on #990
Is there an example for the result of codegen 2.2.1 and `typescript-angular2`?

[2017-02-23 14:22] dsandersAzure commented on #4811
Adding a generated Dockerfile is an *awesome* idea! +1 from me. Using Docker with alpine makes for really lightweight, easy to start, and safe samples that run on Linux, MacOS, or Windows. I love Docker because of this; being able to explore concepts that are new to me (e.g. swagger) safely and without impacting anything I'm working on. Shout if you'd like any input from me on the Docker side.

Da

[2017-02-23 14:31] markebbers commented on #4574
You can use multiple executions.

[code]

[2017-02-23 14:31] cgiraldo commented on #4684
I have this workaround to fix the server once it was started for the first time and generated an errroneous default_controller.py file.

Modify all the model import lines of the file python-flask-server/swagger_server/controllers/default_controller.py as the following example:

original line:
`from swagger_server.models.inline_response200 import InlineResponse200`
modified line:
`from swagger_serv

[2017-02-23 16:43] vivin commented on #1347
@wing328 Did that commit I made make it in? It looks like the templates will need to be changed to support this, correct?

[2017-02-23 17:45] DavidBiesack opened #4846 "CLI needs extension mechanism for new, external Codegen classes"
##### Description

We want to add a new codegen target language (`-l apidoc`). However, this is for *internal* use and not appropriate to contribute to the open source project (it's a rewrite of the io.swagger.codegen.languages.StaticHtmlGenerator but uses our own custom templates, style sheets, JavaScript, etc.) However, when I build that as a separate project / jar file that depends on swagger-c

[2017-02-23 19:17] leoluz commented on #4430
Hi, I have this issue in 2.2.1
Is there a plan to release the fix?
Tks!

[2017-02-23 19:23] gwynjudd commented on #4805
@TiFu I think the problem is that codegen generates code that can't compile because of the removal of underscores. The problem arises when underscores are removed from property names as shown in my original example, as well as if they are removed from other things such as class names. Just generally removing underscores is causing a problem because it results in duplicate names.

To me it seems li

[2017-02-23 19:35] mikee commented on #4680
I've worked around this locally by effectively merging the get param mustache template into the path params template

`{{#isPathParam}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{/required}}{{#allowableValues}}, allowableValues = "{{#enumVars}}{{{name}}}{{^-last}}, {{/-last}}{{#-last}}{{/-last}}{{/enumVa

[2017-02-24 08:17] cbornet commented on #1347
@vivin yes, the templates need to be changed. There's a PR for Spring.

[2017-02-24 08:57] otrosien commented on #4758
I'd like to offer my help in creating a gradle plugin for swagger-codegen.

@ber4444 - about your comments. The first requirement should be fairly straight-forward, and is considered best practice for plugin-authors to provide the possibility to have control over tool versions. I don't like the "or even better" syntax pointing to a jar-file. This looks very un-gradleish to me. You can always go vi

[2017-02-24 09:28] taxpon commented on #4025
@alechill @wing328 I think this issue can be closed

[2017-02-24 10:28] huningd opened #4847 "Provide support for JSR-303 annotations to validate the request body"
##### Description

Thank you for adding bean validation support in #4600. It would be great if you also could validate the Body parameter.  Maybe you can apply the attached patch?

##### Swagger-codegen version

I'm using the swagger-codegen in version 2.2.2-SNAPSHOT.

##### Swagger declaration file content or url

see attached patch

##### Related issues

#4600
#2412

##### Suggest a Fix

see att

[2017-02-24 14:11] ydgiannp opened #4848 "undefined method build_from_hash in Enum data type"
Hi, Im having an issue.
I am generating a json swagger into a ruby gem, the swagger JSOn contains Enum data type.
The generated class that has an Enum data type does not have build_from_hash method so it always get NoMethodError. the convert_to_type method always call build_from_hash method

this is the convert_to_type method

![screen shot 2017-02-24 at 9 09 23 pm](https://cloud.githubusercontent

[2017-02-24 18:29] ber4444 commented on #4758
Thanks, @otrosien , the first point is more for sharing the patched version in git so that others have the same build without needing to rebuild swagger itself and without having to set up a CI build and artifactory publish thingy.

About the second point, no, I was referring to upgrading the api specs (json file) that serves as an input to swagger. So you would not want to generate the entire api

[2017-02-24 18:39] otrosien commented on #4758
That's what local maven repo would be useful for, right? First problem I see is that gradle plugins are supposed to be built with gradle. Using maven for building isn't officially supported - and if even if it's technically possible, you're missing quite some tooling convinience from gradle.

So I would suggest creating the swagger-codegen plugin for gradle in its own repository using gradle for b

[2017-02-24 22:54] dhasenan opened #4853 "Warn when passing form data without a matching "consumes" directive"
##### Description

If you pass a parameter as `formData`, you need a `Content-Type: multipart/form-data` or `application/x-www-form-urlencoded`. It would be really handy if swagger-codegen warned you when you fail to do so -- or if it just did something sensible by default.

By default, at least with the java client, it sends a content type of `application/json`. A JAX-RS server, for instance, wil

[2017-02-24 23:04] jeff9finger commented on #4853
Yea, I noticed this too. The generated client is unusable if trying to send a request to download a file with a specific media type, like "application/pdf" or "text/csv", etc. The client alway sets the Content-Type header to "application/json", with no way to change it.

[2017-02-25 08:30] otrosien commented on #4758
@ber4444 gradle has powerful caching and task avoidance in it, so unlike in maven you wouldn't typically run the "clean" task all the time. In our case gradle would figure out that your spec has changed when its timestamp is newer than the target files.

[2017-02-25 12:46] raghav0110 opened #4856 "Swagger Codegen Java not using java.util.Date when not specifying date library"
##### Description

According to [1784](https://github.com/swagger-api/swagger-codegen/pull/1784), not specifying the date library should result in using java.util.Date. But, I notice that it ends up using joda DateTime.

##### Swagger-codegen version

version 2.2.1

##### Command line used for generation

`java -jar swagger-codegen-cli.jar generate -i http://localhost:8080/v1/swagger.json -l java

[2017-02-25 16:54] cbornet commented on #4856
The default date has been changed to joda. If you want old dates, you need to use -DdateLibrary=legacy.
That said it's not recommended to use java.util.Date and you should always prefer threeten or joda.

[2017-02-25 18:03] Gronsak commented on #1557
I've ran into a similar problem recently when working with a asp.net core app and I concluded that Restsharp.Portable is a good replacement, compared to Restsharp it does some stuff differently though but I've managed to get it working on one of my generated api clients with minor modifications.

would it be possible to get this issue reopened?

[2017-02-26 09:27] wing328 commented on #4837
@M3lkior thanks for reporting the issue. Can you please try the latest master (2.2.2) to see if the issue still occurs?

We'll release 2.2.2 soon.

[2017-02-26 09:29] wing328 commented on #4848
@ydgiannp do you mind sharing the spec (e.g. via gist.github.com) so that we can more easily reproduce the issue?

[2017-02-26 09:34] wing328 commented on #4831
@amrk7 thanks for the suggestion. Do you mind submitting a PR so that we can review the change more easily?

If you need help on which file to start, please let us know.

[2017-02-26 09:42] wing328 commented on #3970
@Aleksion in the endpoint, did you specify which security definition(s) to apply? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L183

[2017-02-26 09:43] wing328 commented on #3970
@ranma42 please open a new issue for tracking.

Btw, please also try the latest master and 2.3.0 to confirm whether the issue still occurs.

[2017-02-26 09:45] wing328 commented on #4802
@suleymankoksal thanks for reporting the issue. Please share the spec via https://gist.github.com so that we can more easily reproduce the issue.

[2017-02-26 09:46] Aleksion commented on #3970
@wing238, i did yes. But when we changed to 2.3.0 it worked as it should.
Never got around to update it in this issue though. Sorry about that!

[2017-02-26 09:47] wing328 commented on #4790
Which Java server generator (e.g. spring, rest-easy, etc) did you use?

[2017-02-26 09:50] wing328 commented on #4783
@ToreJohansson do you mind sharing the full spec so that we can more easily reproduce the issue?

Is it correct to say that you're defining the object inline? If yes, have you tried defining and referencing the model instead?

[2017-02-26 09:51] wing328 commented on #4777
@james-async is the issue related to the following project instead?

https://github.com/swagger-api/swagger-play

[2017-02-26 10:15] wing328 commented on #4738
@jmiddleton thanks for the suggestion. For this particular case, I think `@Valid` should be added automatically.

cc @jfiala

[2017-02-26 10:16] wing328 commented on #3970
@Aleksion that's ok. Glad to hear that the issue is resolved.

[2017-02-26 10:26] wing328 commented on #1557
@Gronsak I've reopened the issue. Ideally we want to support `RestSharp.Portable` via the `--library` option. May I know if you've time to contribute the enhancement?

[2017-02-26 10:53] wing328 commented on #990
@koppor please take a look at https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular2/npm

I would recommend you opening a new ticket for your question moving forward.

[2017-02-26 11:28] amrk7 commented on #4831
Yes that will be helpful. Which module should I start?

On Feb 26, 2017 3:04 PM, "wing328" <notifications@github.com> wrote:

[2017-02-26 16:10] wing328 commented on #4853
In the spec, do you have a proper `consumes` set for the operation?

[2017-02-26 16:13] dhasenan commented on #4853
No, I didn't have a `consumes` set. I want the code generator to complain about that fact.

[2017-02-26 16:15] wing328 commented on #4853
You may want to provide this feedback to the Swagger Parser project instead, which is used by Swagger Codegen to parse the Swagger/OpenAPI spec.

[2017-02-26 16:20] wing328 commented on #4680
@mikee thanks Mike. Do you mind submitting a PR so that the credit goes back to you?

[2017-02-26 16:53] wing328 opened #4857 "Deserialization failed due to change of property name"
##### Description

The issue is originally reported via https://github.com/swagger-api/swagger-codegen/issues/4805#issuecomment-280615622

For typescript-angular2:

[code]

generates:

[code]

The deserialization does not work as there's no mapping between `deviceType` and `device_type` (original attribute name in JSON)

##### Swagger-codegen version

latest master and 2.3.0

cc @Ondra09, @ataraxu

[2017-02-26 16:58] wing328 commented on #4857
@Ondra09, @ataraxus may I know if you've tried the `typescript-node` generator (not typescript-angular2) in 2.3.0 branch to see if the deserialization works? I'd a look at the code and I think it should work.

[2017-02-26 18:29] TiFu commented on #4805
The first solution is probably the worst of the possible solutions. The way forward, would be to change the modelPropertyNaming (e.g. use original instead), such that valid code can be generated.

The reason underscores are removed is that camel case normally doesn't contain underscores.

Introducing an option to not remove underscores would probably be the best option. Codegen should also detect

[2017-02-26 21:29] ataraxus commented on #4857
I tried till now only the typescript-angular2 generator. If it helps, I could also test the node one.

[2017-02-27 06:52] wing328 commented on #4805
@TiFu The issue you looked into is related to Java not Typescript.

For the TypeScript, I'll open a new issue for tracking: https://github.com/swagger-api/swagger-codegen/issues/4857

[2017-02-27 06:55] wing328 commented on #4805
@TiFu we can introduce the option to keep/change the property naming but for this particular case, I think they can simply update https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L450 to customize the behaviour in handling `CHTProvider` and `CHT_Provider`

[2017-02-27 08:01] wing328 commented on #4741
@techlogix you will need to update the mustache templates for `spring-boot`, e.g. [pom.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache#L9). You can find other templates in that folder or [the root folder or all spring templates](https://github.com/swagger-api/swagger-codegen/tree/master/mo

[2017-02-27 10:56] wing328 commented on #4257
@PisaJan @paulmasri I've fixed the issue by going through all the path, extract the variable inside `{...}` and camelize it. Please give it a try:
[code]

[2017-02-27 11:22] deibl commented on #4528
@wing328 i'm now using the current master branch instead of the last release. This solves some of my problems. But there are now even more unused imports. I would be interested in contributing with a solution so i would be pleased if you could show me the starting points.
Greetings

[2017-02-27 11:50] wing328 commented on #4684
@cgiraldo @philipptrenz can you please try the latest master? I found that the same function is called in both import statement and model file naming:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FlaskConnexionCodegen.java#L650

[2017-02-27 11:51] wing328 commented on #4528
@deibl to start with, can you list some of those unused imports?

[2017-02-27 12:28] cgiraldo commented on #4684
I hit the problem when using swagger-editor last docker image:
`docker pull swaggerapi/swagger-editor
docker run -d -p 80:8080 swaggerapi/swagger-editor`

[2017-02-27 13:12] james-async commented on #4777
Based on the stack trace you could be right. I did not put it in this project on purpose -- just where I ended up.  I did not know how deep of a problem, if it was something on the "surface" of the class parsing or something lower in the dependency chain in io.swagger. I think while I was looking at that I just ended up thinking documenting the stumble I had and did not recheck which project I was

[2017-02-27 13:37] ePaul commented on #1219
Just tried again (here my command line:)

    java -jar ../swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -l spring --library spring-mvc -i bug-trigger.yaml -o output

[code]

The `RequestHeader` annotation looks better, the `@PathVariable` one is still broken.

[2017-02-27 16:13] wing328 commented on #4684
editor.swagger.io leverages https://generator.swagger.io to generate code. From what I know generator.swagger.io is not using the latest master of Swagger Codegen.

[2017-02-27 16:41] Orkhidion opened #4861 "[HTML Rendering] - ExternalDocs not rendered in HTML"
##### Description

The ExternalDocs is not rendered while generated HTML output.
Maybe I'm using it wrongly, but with the Online Editor it is working but not with swagger-codegen.

Do I need to do something special ?

##### Swagger-codegen version
Version : 2.2.1

##### Swagger declaration file content or url

swagger: '2.0'
info:
  version: 1.0.0
  title: Test API
  description: ''
host: your_ins

[2017-02-27 16:53] jdevera opened #4862 "[Python] Default values for strings with newlines generate invalid python"
##### Description

I have a spec that contains a default value for a string with newlines in it. When generating the python client, defaults are set to default parameters of a constructor, but this spans across multiple lines.

I've worked around it by manually adding triple quotes `'''` where necessary. I have not been able to find the place where this behaviour can be controlled, it does not see

[2017-02-27 17:10] wing328 commented on #4684
I did a test with latest master, python2 and here is what I got in a test model:
[code]
which is consistent with the model file naming:
[code]

[2017-02-27 17:14] jdevera commented on #4862
I found it, actually, I'll send a PR

[2017-02-27 17:49] daniele-bettella opened #4863 "[FINCH] no enum support"
##### Description

The Finch code generator does not support enums. An inline enum generates a normal variable of the desired type; a referenced enum generates an empty case class.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Suggest a Fix

As far as I know there is no single best implementation choice for enumerations in scala. Possi

[2017-02-27 17:50] dhasenan commented on #4853
Filed https://github.com/swagger-api/swagger-parser/issues/403

Another possible solution is to make the generated client intuit the appropriate content type from the parameters. However, since there are tradeoffs between `multipart/form-data` and `application/x-www-form-urlencoded`, that might not be appropriate.

[2017-02-27 18:35] webron opened #4864 "Generate client HTML2 - parameter with hyphen"
_From @ChristianKoessl on February 27, 2017 17:16_

**Swagger File**

[code]

* Version:
* Browser/OS:

**Issue**
I am using online version from swagger editor. When I am generating HTML2 client coding, query parameter name "sap-client" is changed to "sapClient". When I generate HTML client coding, parameter name "sap-client" is unchanged. For a SAP system, parameter must be named as "sap-client".

[2017-02-27 19:05] ePaul commented on #4864
I would guess that this is the same underlying issue as #1219 (for spring/spring-mvc), where the parameter name is mangled to camelCase, too.

[2017-02-28 08:41] patulacci opened #4865 "[OBJC] Problem in prefix generation in APIClient"
##### Description

Some Classes in APIClient are not generated with config.json prefix (and keep SWG prefix) :

1) Line 68 in ApiClient.h, SWGConfiguration

2) Line 78 in ApiClient.m, SWGJSONRequestSerializer

3) Line 79 in ApiClient.m, kSWGApplicationJSONType

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

path/to/CLIENT/Core APIClient.h line 68
path

[2017-02-28 08:47] patulacci opened #4866 "[OBJC] type object is not cast correctly"
##### Description

Type "object" in swagger.json is cast as NSObject which produces a bug

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate
-i http://127.0.0.1:9000/swagger.json
-l objc
-o samples/client/CLIENT
-c config.json

##### Step

[2017-02-28 11:02] viktorchukhantsev opened #4867 "[Ruby] Can only use content-type application/json with ruby-client"
Can only use content-type application/json with ruby-client. Other content types are fail, but codegen should support such clients:

  application/json
  application/vnd.github+json

##### Swagger-codegen version

2.2.1

##### Suggest a Fix

Just update regexp at https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/ruby/api_client.mustache#L132 to s

[2017-02-28 11:16] wing328 commented on #4867
@viktorchukhantsev please submit a PR for the suggested fix so that we can review more easily.

[2017-02-28 11:22] wing328 commented on #4865
@patulacci thanks for reporting the issue. The templates can be found in [modules/swagger-codegen/src/main/resources/objc/](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/objc)
[code]
Would you have time to contribute the fix?

[2017-02-28 12:57] patulacci commented on #4865
I'll have a look yes. Thanks for your answer

[2017-02-28 13:04] wing328 commented on #4865
@patulacci thank you. Let us know if you need any help.

[2017-02-28 13:30] patulacci commented on #4865
I've just sent the pull request

[2017-02-28 15:31] techlogix opened #4870 "Spring Boot Path Parameter in the Spec gets renamed into CamelCase in Code and the spec thats generated!"
##### Description

Path parameter defined in the yaml spec for example "student-id" on the path and named as such in the parameter name - gets incorrectly renamed to "studentId" in the Spring Controller.

##### Swagger-codegen version

This is the latest version thats hooked to the editor at editor.swagger.io.
##### Swagger declaration file content or url

##### Command line used for generation

#

[2017-02-28 15:39] digitaldivvy commented on #4870
This issue is a BLOCKER - a fix should be to respect the exact name of the path parameter in the Spring Code that's generated.

[2017-02-28 15:45] techlogix commented on #4870
in the YAML snippet below - the path parameter is called 'transaction_id' - but when the Spring code is generated - the code

***Java Code snippet ***
@PathVariable("transactionId") String transactionId)

this is incorrect

it SHOULD be

@PathVariable("transaction_Id") String transactionId)

*** the YAML Spec ***
[code]

[2017-02-28 17:39] wing328 commented on #4870
To fix it, can you try updating the following file?

[modules/swagger-codegen/src/main/resources/JavaSpring/pathParams.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaSpring/pathParams.mustache)

and replace `@PathVariable("{{paramName}}")` with `@PathVariable("{{baseName}}")`

then use `-t` to specify the mustache template path.

[2017-02-28 17:41] wing328 commented on #1219
For spring path parameter issue, I've suggested a fix [here](https://github.com/swagger-api/swagger-codegen/issues/4870)

[2017-02-28 17:46] wing328 commented on #4864
@ChristianKoessl the issue should have been addressed via https://github.com/swagger-api/swagger-codegen/pull/4602. Please pull the latest master to give it a try.

[2017-02-28 18:59] MMirabito opened #4872 "Trust all certs using CLI in a non produnction environment"
Dear Swagger team,

I am using swagger-codegen-cli 2.2.1 for client code. I am trying to figure out if there is a way to tell the CLI that I do not want the JVM to very SSL certificates i.e. trust all for a "non-prod" environment.

I looked for a command line argument but could not spot one. I saw a couple of similar questions but somewhat inconclusive. Does any one know how to get around this?

H

[2017-02-28 19:18] MayurVirkar opened #4873 "[HTML2] Select languages for sample generation."
##### Description
How can we select which language samples should be generated while generating HTML2.
Eg: We need `curl` and `javascript` only.

##### Swagger-codegen version
Latest

[2017-02-28 19:23] ePaul commented on #1219
@wing328 That fix seems to help. I'll have a look where else this needs to be changed and will prepare a pull request.

[2017-02-28 19:41] MMirabito commented on #4872
Never mind I figure it out I was looking at the wrong source files and it's also on the FAQs. For anyone else that needs it here is how you trust all certs from he command line -Dio.swagger.parser.util.RemoteUrl.trustAll=true

max

[2017-02-28 20:09] bedag-moo opened #4876 "Introduce parameter object for query parameters"
##### Description

In RESTful APIs, search operations are often represented by a resource for the search result, where search parameters are passed as query parameters. Often, most of these are optional, and there can be a great many of them.

When generating code for such an operation, swagger-codegen currently generates a separate method parameter for each query parameter. For instance, the type

[2017-02-28 20:14] fehguy commented on #4876
The spec doesn't support this, so we cannot add it into the tool.  There will be, however, an update in the 3.0 spec which is hitting RC0 tomorrow which allows for this.  So for now, we can't merge even with a pull request.  The new structure to support this feature will be different.

[2017-02-28 20:14] #4876 closed

[2017-02-28 20:40] bedag-moo commented on #4876
Indeed, I didn't realize. Ok, we'll wait for official support.

[2017-02-28 22:45] adhamhf opened #4877 "spring: add annotation if property name endsWith("FOO")>"
##### Description

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Help/feature request

I'm writing a new generator for Spring and JSON-API.  I'm using the https://github.com/jasminb/jsonapi-converter to generate JSON-API from our models.

JSON-API requires an ID in the payload, the jsonapi-converter uses its @Id annotation to specify which field should be used as the ID in the payload.

Cur

[2017-02-28 22:45] ePaul commented on #1219
I also had a look at all the other templates ... it looks like it is wrong at several other places too.
I made a [preliminary commit with all the changes](https://github.com/swagger-api/swagger-codegen/compare/master...ePaul:paramName-to-baseName?expand=1), will split this up into individual PRs for each language and regenerate the samples.

[2017-02-28 23:06] driesdroesbeke commented on #3620
+1

[2017-03-01 06:46] ChristianKoessl commented on #4864
Hi wing328,

just installed swagger-editor version 2.10.5. When I am generating the HTML2 client, parameter name changing is still active.

kind regards
Christian

[2017-03-01 10:06] konopski commented on #4622
@sixers regarding scala inheritance support
PR #4729 implements java client code generation for retrofit based calls - it can be reused for scala projects as well.

[2017-03-01 10:36] CFenner opened #4878 "release date 2.2.2"
##### Description

The swagger-codegen-maven-plugin v2.2.1 is causing test classes to be build with compile scope, which is not possible and will fail the build. However, this is fixed in v2.2.2-SNAPSHOT, when can we expect a release of 2.2.2?

##### Swagger-codegen version

2.2.1

[2017-03-01 10:49] wing328 commented on #4878
@CFenner we're working on the release. Will keep you posted.

cc @fehguy

[2017-03-01 11:06] wing328 commented on #4878
Btw, if your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen)

[2017-03-01 11:22] wing328 commented on #4873
@MayurVirkar thanks for the question. I don't think we support that at the moment.

If you've time to contribute an enhancement (e.g. an option to select which language samples to be included), let me know and I can show you some good starting point.

cc @jhitchcock @bshamblen

[2017-03-01 12:33] M1ch13l opened #4879 "[JAVA] Faults in generated code Values.java/JSON.java"
##### Description

Generated swagger code didn't compile so I changed the following.

##### Swagger-codegen version

2.2.1

##### Fix
This is the commit that fixed it.
[fix.txt](https://github.com/swagger-api/swagger-codegen/files/810678/fix.txt)

[2017-03-01 12:42] wing328 commented on #4879
Please give the latest master a try or wait for v2.2.2, which will be released soon.

[2017-03-01 12:59] wing328 commented on #4864
@ChristianKoessl swagger-editor and swagger-codegen are 2 separate projects: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#what-does-httpseditorswaggerio-leverage-swagger-codegen-for-code-generation

We'll release v2.2.2 of Swagger Codegen soon and update generator.swagger.io to run v2.2.2.

[2017-03-01 13:03] M1ch13l commented on #4879
The problem is in the latest master 2.2.2-SNAPSHOT

[2017-03-01 13:07] wing328 commented on #4879
I don't think the snapshot version is updated with the latest master (there's no nightly build to update the snapshot version)

[2017-03-01 13:13] wing328 commented on #4879
Can you also share the spec so that we can repeat the issue?

[2017-03-01 13:16] M1ch13l commented on #4879
Yeah, Maven POM
[pom.zip](https://github.com/swagger-api/swagger-codegen/files/810796/pom.zip)

[2017-03-01 13:18] wing328 commented on #4879
That's not the Swagger/OpenAPI spec.

[2017-03-01 13:23] M1ch13l commented on #4879
Yes sorry
[swagger.zip](https://github.com/swagger-api/swagger-codegen/files/810819/swagger.zip)

[2017-03-01 13:39] deibl commented on #4528
@wing328
Sorry it took so long to response.
List of unused imports:

XXXApi:
[code]

XXXApiService:
[code]
The java(x).* and package imports do not really matter, but org.glassfish.jersey
and io.swagger.jaxrs cause problems.
The unused import for org.glassfish.jersey does exist in the latest (2.2.1) Release of swagger codegen.
The unused import io.swagger.jaxrs.* did not exist in 2.2.1 but exists

[2017-03-01 13:59] techlogix commented on #4870
I made the changes locally and tested it. Yes - the parameters are now showing up.

[2017-03-01 14:08] jospdeleon opened #4882 "[JAVA] Generated getter method for boolean types doesn't follow naming convention"
##### Description

Is there a way to generate the getter method for a boolean primitive type such that it is prefixed with the convention "is" instead of "get"? e.g. isSoldOut() instead of getSoldOut()

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Generated code

[code]

##### Desired code

[code]

[2017-03-01 14:21] wing328 commented on #4870
@techlogix thanks for testing the fix.

@ePaul has filed https://github.com/swagger-api/swagger-codegen/pull/4875 to fix the in the template.

[2017-03-01 14:40] jfiala commented on #3297
I've had a similar problem with an API returning content-type text but in json format.
If the returnType is an array, convertToType will fail when accessing it with the map property.

There are two option to fix this:
a) set the Content-Type to "application/json", then superagent will be able to parse and will return response.body.
b) parse the response.text as json:
Here we need to parse the data

[2017-03-01 14:47] stevecookform3 opened #4883 "[Java] doesnt generate correct classes for models with same nested properties"
##### Description

If there are two models in the swagger definition whose subproperties are the same, the code generator always uses the first one.

e.g. take the following two definitions

[code]

Swagger doesnt generate a PersonAttributes class at all, and instead generates:

[code]

##### Swagger-codegen version

Latest snapshot 2.2.2

##### Swagger declaration file content or url

[code]
####

[2017-03-01 14:49] stevecookform3 commented on #4883
On second thoughts this might be a parser error, since I've tried generating a few other types of servers and they all have the same issue (e.g. ASPNET, Flask).

[2017-03-01 15:02] zjarkov commented on #3338
I am facing the same problem. Is there any approx date/month for a solution? So far I am using v2.2.1 that works as expected for me.

[2017-03-01 15:53] JLLeitschuh commented on #4668
https://github.com/OAI/OpenAPI-Specification/issues/873#issuecomment-283226193

[2017-03-01 16:32] egormasalitin opened #4884 "How can I create sdk based on sources, not url"
Can I generate SDK based on API sources, not url?

[2017-03-01 17:08] wing328 commented on #4884
You mean from a local file? Yes and here is an example:
[code]

[2017-03-01 17:11] egormasalitin commented on #4884
@wing328 No, I mean local sources, for example I have api-service with swagger, ok, but how can I generate sdk using just sources (without starting service).

[2017-03-01 17:12] wing328 commented on #4884
@egormasalitin there are plug-ins to generate Swagger/OpenAPI spec from annotation in the code. Is that what you're looking for?

[2017-03-01 17:14] egormasalitin commented on #4884
@wing328 Am I'm wrong, but for swagger spec generation I have to start service? Or you mean that I can generate spec to file (for example via gradle task, without service start) and then using this file, generate sdk?

[2017-03-01 17:23] daniele-bettella opened #4885 "[FINCH] Parameters in query are generated as path parameters"
##### Description

The Finch code generator does not support query parameters correctly. They get generated as if they were path parameters.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]

which generates

[code]

##### Suggest a Fix

The generator should instead generate

[code]

[2017-03-01 17:26] wing328 commented on #4884
@egormasalitin I think you're right. Likely you need to start the service, e.g. https://github.com/swagger-api/swagger-core/wiki/Swagger-Core-Jersey-2.X-Project-Setup-1.5#using-swaggers-servlet-in-the-webxml

[2017-03-01 17:29] egormasalitin commented on #4884
@wing328 Yes, we are using swagger for 2 years already, but it is really bad that we should start service, because it means that we cannot create simple jenkis job to build sdk based on latest sources, we have to start service in this job, and then generate sdk based on it.

Am I right? There is no way do do it without service start?

Second question, can I pass url to sdk as generator parameter?

[2017-03-01 17:37] egormasalitin commented on #4884
@wing328 for example I'll start service in docker but I want to use this specs with url to production, is it possible without changing host file?

[2017-03-01 17:59] techlogix commented on #4870
@wing328 You're welcome.
BTW there are few other enhancements I am wanting to code into the codegen to bring up the template to Spring best-practices.

[2017-03-01 17:59] #4870 closed

[2017-03-01 18:53] wing328 commented on #4884
Most API clients (SDKs) support changing the host (API backend) at runtime. Would that meet your requirement?

Or you can download swagger.json and update the file locally before using swagger codegen to generate code for you.

[2017-03-01 19:11] JLLeitschuh opened #4887 "Make the CodegenConfigurator serializable so it can be used in caching for gradle tasks"
Making the `CodegenConfigurator` class serializable would allow it to be used in a gradle task as an input. Task inputs in gradle get serialized and cached and if they do not change the task is marked as "UP-TO-DATE" and is skipped.

Everything inside of the `CodegenConfigurator` object is serializable so it should be a simple change.

[2017-03-01 19:30] egormasalitin commented on #4884
@wing328 first one doesn't, but I can try second one too, thank you.

[2017-03-01 19:30] #4884 closed

[2017-03-01 19:43] wing328 commented on #4870
@techlogix 👍 looking forward to your PRs

[2017-03-01 20:05] wing328 commented on #4878
Released: https://github.com/swagger-api/swagger-codegen/releases/tag/v2.2.2

[2017-03-01 20:05] #4878 closed

[2017-03-01 22:22] Gronsak commented on #1557
It's a busy week so I don't have time right away but I'll take a look at what I can do during the weekend, I do not have a lot of experience working with java projects though so it could take me a couple of days to get up to speed.

[2017-03-01 22:40] frol commented on #3336
One extra note: Webpack 2 requires using `imports-loader` loader full name instead of short names (`imports`). Thus, here is what works for me for Webpack 2:

[code]

[2017-03-01 23:07] akawalsky commented on #4669
With today's release of the new spec 3.0, is there any update on this?

[2017-03-01 23:11] fehguy commented on #4669
It is under way :)

[2017-03-01 23:21] taimuri opened #4892 "Error with Jersey: java.text.ParseException: Expected separator ';' instead of ','"
##### Description
My content-type is defined comma separated like:

It works fine with default okhttp but if we use Jersey2 we are seeing following error:
{
	"dateLibrary": "java8",
	"library": "jersey2",
}

Exception in thread "main" java.lang.IllegalArgumentException: Error parsing media type 'application/json,application/abc.def.ghi+json,application/abc.def.ghi.v1+json'
at org.glassfish.jersey.

[2017-03-01 23:26] taimuri commented on #4892
Added step to reproduce

[2017-03-02 01:55] fehguy commented on #4527
Well, the extensions are resolved, as I mentioned in the [parser ticket](https://github.com/swagger-api/swagger-parser/issues/393#issuecomment-277484004).  The problem is that the parser is not responsible fore resolving JSON References where they are not explicitly enabled in the spec.  So the codegen won't have access the the resolved parse.

The correct solution is a bit involved but technicall

[2017-03-02 02:36] ydgiannp commented on #4848
here's the spec :) https://gist.github.com/ydgiannp/fd5178bd88b9da10bea12a14ae00ca4a

[2017-03-02 05:09] viktorchukhantsev commented on #4867
@wing328 Created #4893

[2017-03-02 05:53] ungacy commented on #4609
Me too, but with objc
[code]

[2017-03-02 06:03] fehguy commented on #4609
Please try 2.2.2, released today

[2017-03-02 07:20] frol commented on #3466
Webpack 2 requires using `imports-loader` loader full name instead of a short name (`imports`). Thus, here is what works for me for Webpack 2:

[code]

[2017-03-02 08:40] arr28 commented on #4527
Makes sense, but we'll stick with our alternative workaround.  (We're producing HTML output and are able to fix up the cross-references with some javascript hackery.)

[2017-03-02 08:41] PisaJan commented on #4257
@wing328 Hi, I am sorry I was swamped with bunch of other stuff, but I will take a look at it this weeekend.

[2017-03-02 11:21] wing328 commented on #1557
No problem. Let us know if you need any help.

[2017-03-02 11:25] wing328 commented on #4684
2.2.2 has been released. Please give that a try and let us know if you still experience issue.

[2017-03-02 11:25] #4684 closed

[2017-03-02 12:30] ranma42 opened #4895 "[TypeScript-Fetch] Invalid interface definition when using securityDefinitions"
##### Description

Compiling the following spec into a TypeScript-Fetch client results in invalid code.
Specifically, the generated `api.ts` file contains

[code]

and `configuration.ts` contains

[code]

##### Swagger-codegen version

Tested on 2.2.2 and on 2.3.0 (7aebcfa).

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`java -jar ../../swagger-cod

[2017-03-02 14:30] #4025 closed

[2017-03-02 14:49] wing328 commented on #4025
@taxpon thanks for reviewing (and sorry I missed your message)

[2017-03-02 15:41] tomblench opened #4896 "[codegen] response samples not JSONified"
##### Description

This is a bug encountered whilst writing my own generator which uses examples in the responses part of the swagger.

Response examples are output using `Map.toString()` rather than being serialised to JSON (as happens for operation-level examples). This is because they are internally deserialised into a `Map` but never serialised back via `ExampleGenerator` or similar.

##### Sw

[2017-03-02 17:30] wing328 commented on #4895
@ranma42 thanks for reporting the issue, Would you have time to contribute a fix? If yes, I can show you some good starting points.

[2017-03-02 18:27] ePaul opened #4898 "Meta issue: parameter name mangling breaks client or server functionality"
### Description

In many languages, parameter names are mangled to conform to the conventions of the language, not be reserved words, etc. For Java, this is conversion to camelCase.

In several languages, the generated code only actually works with the protocol described in the API definition when the parameter mangling results in the same name as the original, otherwise different parameter names

[2017-03-02 18:30] iamsamwood opened #4899 "[GO] generated golang client leaks file descriptors"
##### Description

The go client that is generated creates a new resty client per connection which is never closed. This results in a file descriptor leak.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

This applies to all generated go client code.

##### Steps to reproduce

Generate any go client.

##### Related issues

None.

##### Suggest a Fix

Short term

[2017-03-02 18:47] wang523863 opened #4900 "C# swagger client code unable to handle XML response from JAXRS endpoint"
I have a REST endpoint that can either produce XML or JSON output depending on a user’s preference. When I generate a Java client in swagger codegen the API will deserialize either a JSON or an XML representation into the model with no issues.

However, this is not the case for a C# codegen client.  For some reason it’s always expecting a JSON format, is that by the design or am I missing somethin

[2017-03-02 19:16] ranma42 commented on #4895
I started a branch that fixes it on top of the 2.3.0 branch of this repo. Is this correct os should I base it upon another branch?

I had a look at the [contributing guidelines](https://github.com/ranma42/swagger-codegen/blob/master/CONTRIBUTING.md) and I was wondering if it is a good idea to extend the tests to generic identifiers (and what to do, in this case).

[2017-03-02 20:57] jfiala commented on #4769
@rohitsakala @wing328 pls take a look at the Swagger2Markup (https://github.com/Swagger2Markup/swagger2markup) project, they allow to convert to Asciidoctor files and then to HTML sites or PDF format.

[2017-03-02 21:01] jfiala commented on #4738
For spring we already have a PR: https://github.com/swagger-api/swagger-codegen/pull/4850/files

[2017-03-02 21:25] ePaul commented on #3007
This is already implemented in #3899, which is merged. Closing this issue now.

[2017-03-02 21:25] #3007 closed

[2017-03-02 21:45] frol commented on #3068
I am looking at that code currently while working on #3654, and this request doesn't make a lot of sense to me. Let's compare the behavior to other languages:

* compiled languages (C++/Java/C#/...) raise compilation error, meaning that the execution doesn't even start
* sane interpreted languages (Python/Ruby/...) raise language-specific runtime errors, meaning that the return value doesn't take

[2017-03-02 21:52] darylteo commented on #3068
Happy to go with that! 👍 been so long my entire code base is pretty stable
with that anyway.

Thanks Vlad.

@wing328 feel free to close if you agree.

On Fri, Mar 3, 2017 at 8:46 AM Vlad Frolov <notifications@github.com> wrote:

I am looking at that code currently while working on #3654
<https://github.com/swagger-api/swagger-codegen/issues/3654>, and this
request doesn't make a lot of sense to me

[2017-03-03 01:22] philipbohannon commented on #300
C# variant of this solution?

[2017-03-03 05:21] frol commented on #2527
Hmm, there is already Superagent 3.5.0. I haven't tested it extensively, but it seems like a simple version update in the `package.json` is enough.

[2017-03-03 07:20] G3N7 opened #4903 "[SWAGGER] No longer generates JSON that is alphabetically sorted from YAML"
##### Description

We used to get alphabetical ordering for our endpoints before the 2.2.2 Release we took.

##### Swagger-codegen version

v2.2.2

##### Swagger declaration file content or url

https://wind.ibmcloud.com/api/v2/swagger/swagger.yaml
Was generating:
https://wind.ibmcloud.com/api/v2/swagger/swagger.json
But now generates the json with the endpoints appearing as they do in the yaml.

[2017-03-03 08:35] #1219 closed

[2017-03-03 08:43] wing328 commented on #300
@philipbohannon please open a new issue for C# API client instead as this issue referring to the generator itself (not the auto-generated API clients)

[2017-03-03 08:49] #4257 closed

[2017-03-03 08:49] wing328 commented on #4257
@PisaJan np. PR merged into master. Please pull the latest master to give it a try.

[2017-03-03 08:59] #4745 closed

[2017-03-03 08:59] wing328 commented on #4745
@soycabanillas both https://github.com/swagger-api/swagger-codegen/issues/4756 and #4812 have been merged into master. Please pull the latest master to give it a try.

[2017-03-03 09:25] ChristianKoessl commented on #4864
Hi,

 
fyi, the parameter name in the generated HTML2 document are now correct, but the name in the examples still shows the name without hyphen.

 

 
kind regards

Christian

 
Von: wing328 [mailto:notifications@github.com]
Gesendet: Mittwoch, 1. März 2017 14:00
An: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Christian Kössl <christian.koessl@koessl.co.at>; Mention <ment

[2017-03-03 09:33] wing328 commented on #4864
@ChristianKoessl Ok. I've reopened this issue.

Would you have time to contribute a fix?

[2017-03-03 09:34] #3068 closed

[2017-03-03 09:39] ChristianKoessl commented on #4864
Hi,

 
I am notes sure what you mean with “contribute a fix”? Do you mean by changing coding of the codgen source? I am not JAVA developer, don’t think that I am able to fix it

 
Mfg

Christian Kössl

 
Von: wing328 [mailto:notifications@github.com]
Gesendet: Freitag, 3. März 2017 10:34
An: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Christian Kössl <christian.koessl@koes

[2017-03-03 09:44] wing328 commented on #4864
You don't need to know Java. The mustache templates for `html` can be found in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/htmlDocs2

[2017-03-03 09:58] ChristianKoessl commented on #4864
Hi,

 
just checked these templates. I unfortunately cannot contribute for a fixing. I am not familiar with the way how these codegen project is working. I am afraid I would destroy more than do a fixing, sorry!

 
Mfg

Christian Kössl

 
Von: wing328 [mailto:notifications@github.com]
Gesendet: Freitag, 3. März 2017 10:44
An: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Chr

[2017-03-03 10:01] wing328 commented on #4864
No worry. I've marked this as "Need community contribution" so that the community can help contribute the fix.

[2017-03-03 10:20] #3654 closed

[2017-03-03 13:39] wing328 commented on #4898
@ePaul thanks for the details and the table nicely summarizing the current status. We'll need to leverage the community to fix/review this issue for all generators.

[2017-03-03 14:57] #4887 closed

[2017-03-03 15:30] pauldzy opened #4905 "Stray comma in model listing when using list markdown"
##### Description

When a swagger definition description includes a markdown list, a stray comma appears at the end of the description.  This can be seen here
http://petstore.swagger.io/?url=https://api.swaggerhub.com/apis/pauldzy/StrayComma/1.0.0
under the inventory model name definition.   It is also visible on SwaggerHub interface in the same place.

Apologies if this is nitpicky.

##### Swagge

[2017-03-03 15:51] egormasalitin opened #4906 "Use sdk send requests to url with two slashes"
##### Description
SDK which codegen generates use use url like `http://some.url.com//create` but it should be `http://some.url.com/create` it happens because baseUrl is '/' and createUrl is '/create'. You should avoid double slashes in code. Problem is in `io.swagger.client.ApiClient#buildUrl` For example now our swagger version `io.springfox:springfox-swagger2:2.5.0` generates config with `basePa

[2017-03-03 16:53] philipbohannon commented on #300
Thanks, @wing328 , I missed that distinction on first read.  Will do.

[2017-03-03 18:18] otrosien commented on #4758
@wing328 can you give your thoughts on that topic? can we create a new repo / project for the gradle integration or should we try to call gradle from maven or do some other crazy hacks in order to keep everything inside the swagger-codegen repository?

[2017-03-03 19:16] dwoodel opened #4907 "[Swift3] Additional Properties in Swagger specs generating non compiling code"
##### Description
[Swift3] Additional Properties in Swagger specs generating non compiling code.  When using additionalProperties in the swagger specification.

We are using String additonal properties on a model to add generic string fields.  This works fine in java where the model use inheritance to extend a HashMap.  In swift the primitive dictionary [String : String] is used.  This code will n

[2017-03-03 20:17] philipbohannon commented on #4872
I have the same question for C#, does anyone know if there is a configuration for that client, or should I open a separate issue?

[2017-03-03 21:19] G3N7 commented on #4903
If you run the following (setting tag to `:2.2.1`) you will see the sorted output then setting to `2.2.2` you will see the unsorted

[code]

[2017-03-03 21:52] JLLeitschuh commented on #4758
That sounds really painful and a recipe for a far more complicated build.

[2017-03-03 23:53] fehguy commented on #3515
Please see https://github.com/swagger-api/swagger-codegen/pull/4909 for my proposed solution for this issue

[2017-03-04 00:20] johnamcruz commented on #1557
Any update on this? I would love to use SwaggerCodeGen for my xamarin project.

[2017-03-04 03:49] mminns commented on #4814
I believe the error is here:
https://github.com/swagger-api/swagger-codegen/blob/b02d505ad9322812af5194fcb1fd49a5a51c69a1/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CSharpClientCodegen.java#L353

the code currently uses the model name to try and find a definition for parent models, but the definitions use the object names from the swagger JSON.

I have a fix I'm trialling h

[2017-03-04 11:58] jsone-studios opened #4913 "[HTML2] response code 'default' is shown as '0'"
##### Description

In the responses section 'default' is allowed as response code. This status code is rendered as '0' in HTML2 which should be changed to 'default'.

I will work on this issue.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file

[code]

[2017-03-04 12:06] ncksol commented on #4822
Ok, I did some testing around the project that swagger generates for UWP. And I believe it is not possible at the moment to make it work. Reason being - RestSharp doesn't have a version that works with .NET Core.  It looks like there is some work being done to make it support it, but the PRs are not getting merged and the whole has been dead for a couple of months now. - https://github.com/restsha

[2017-03-04 13:13] Gronsak commented on #1557
@johnamcruz like I said, gonna work on this during the weekend since I don't have time during the week. It's now the weekend and I'm making a lot more progress than I thought I would (finally wrapped my head around java IDEs), I'll update you all on monday at the latest if I don't have it working sooner than that.

[2017-03-04 16:27] ePaul commented on #4872
@philipbohannon as I understand @MMirabito's post, the mentioned property is for the generator, not for the generated client.

In general, I would recommend to not trust untrusted certificates – just install the certificate if you need to use a non-public one.

[2017-03-04 16:34] ePaul commented on #4898
I started to open pull request with the changes I think are correct, first for most java-based generators as well as swift3. Those will need review by people more experienced than me with this code.

My branch [paramName-to-baseName](https://github.com/ePaul/swagger-codegen/commits/paramName-to-baseName) (the last two commits) contains all the changes I found on a first `grep` through the template

[2017-03-04 17:04] wing328 commented on #4017
FYI. I've submitted a chocolatey package for Swagger Codegen, which is now pending review and approval.

[2017-03-04 18:51] MMirabito commented on #4872
@ePaul  you are right  my original question was needing to know how the CLI could trust all certs when generating client code without the hassle of installing a cert.

On separate note the APIClient created by swagger codegen for a Java  has a method "setVerifyingSsl" and if you pass false it appears to tell the JVM trust all certs but when I look at the C# client I am un able to locate a similar

[2017-03-04 20:39] akeemphilbert commented on #3014
This seems to fix the ApiClient issue but if you define models it's not loading the models. (for me I'm getting Module not found: 'model/Project') and I can confirm it generated modules

[2017-03-04 20:42] frol commented on #3014
@akeemphilbert You might hit the CommonJS vs AMD issue #3466.

[2017-03-04 20:44] frol commented on #3537
It seems to be a duplicate of #3466.

[2017-03-04 21:11] akeemphilbert commented on #3537
I think you're right but I can't seem to do what was advised

[2017-03-04 21:12] akeemphilbert commented on #3466
Any one have any suggestions for solving this in a react app? (I tried adding the loader after ejecting the react-scripts so I could update the webpack config but no luck)

[2017-03-04 21:15] frol commented on #3466
I am using it in my react app (using Next.js) with the following `next.config.js`:

[code]

[2017-03-04 21:59] akeemphilbert commented on #3466
Thanks I figured out what was wrong when I first added the loader (I was using ES6 to try to import the generated library).

[2017-03-05 11:23] ido567 opened #4923 "[PHP] Bug - composerVendorName & composerProjectName options not working"
##### Description
It seems like the composerVendorName  & composerProjectName options are not working.
The options is passed by -D{optionName} in the command which is listed below, but the "name" in the composer.json is not effected.

At the end, the generated name in the composer.json is generated by git-user-id & get-repo-id instead of my custom options.

Expected result: `autodesk/client`
Real

[2017-03-05 13:02] #4923 closed

[2017-03-05 13:03] ido567 commented on #4923
Apparently that custom options should be concatenated like: -DoptionA=1,optionB=2

[2017-03-05 14:05] jfiala commented on #4087
@wing328 can you pls have a look at this suggestion to replace the shellscript and to enforce always up-to-date generated samples? Nearly every time I want to improve a language the samples are out of date and would cause compile errors if they are generated correctly. It is no fun having to generate the samples, fix errors due to outdated samples and then being able starting the real work. Just w

[2017-03-05 15:53] ePaul commented on #4509
Please use ``{{baseName}}` instead of ``{{paramName}}` in all annotations which refer to the actual on-the-wire parameter name. (See #4898.)

[2017-03-05 16:17] jfiala opened #4924 "[Jaxrs-cxf] Update to swagger-core-version 1.5.12 causes compile errors"
##### Description

The update to swagger-core-version 1.5.12 in pom.mustache for CXF:
<swagger-core-version>1.5.12</swagger-core-version>

causes compile errors for newly generated samples.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
petstore-with-fake-endpoints-models-for-testing.yaml

##### Command line used for generation
see jaxrs-cxf-petstore-server.sh

[2017-03-05 16:43] jfiala opened #4926 "Support version since of an operation"
##### Description

It would be great to have support for something like the javadoc @since

There has been a issue/suggestion for this in the OpenAPI-spec:
https://github.com/OAI/OpenAPI-Specification/issues/833

The name would be something like "x-openapi-since".
Can we already implement this?
This could also be used to track versions of the operations in the sample yaml files.

##### Related iss

[2017-03-05 16:53] wing328 commented on #4867
@viktorchukhantsev thanks for the PR, which has been merged into master.

[2017-03-05 16:53] #4867 closed

[2017-03-05 17:06] jfiala commented on #4924
@fehguy commit 894f272 broke this, pls make sure to delete pom.xml before updating the samples or upvote my suggestion #4087 to add unittests to make sure samples are not out of date.

[2017-03-05 17:15] #4913 closed

[2017-03-05 17:24] jfiala opened #4927 "[Java*] Default value missing for operation parameters"
##### Description

Default values for operation parameters are not available in the CodegenParameter.

Sample: findPetsByStatus
parameter status default: available

This default value is not showing up in the generated samples.
For model properties this is working, e.g. Animal.java has color = default: red and this gets generated correctly.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swa

[2017-03-05 17:25] MMirabito commented on #4900
@wang523863, I am having a similar issue. We have REST endpoints that returns XML or JSON.  When I use the .Net codegen client it’s failing similarly to yours. I did some digging and traced it to the following:

The line of code above is inside the pre-generated ApiClient Class in the  method:

Which has the following generated code:

It appears that the codegen artifact is assuming that the  cont

[2017-03-05 17:27] jfiala opened #4928 "[Jaxrs-cxf] Add support for @ApiParam"
##### Description

@ApiParam is currently not implemented in CXF

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url

see petstore-with-fake-endpoints-models-for-testing.yaml

##### Command line used for generation

jaxrs-cxf-petstore-server.sh

##### Steps to reproduce
generate sample

##### Suggest a Fix

@ApiParam should be included for bodyParams, quer

[2017-03-05 17:29] fehguy commented on #4924
thanks @jfiala

[2017-03-05 17:52] bardware opened #4930 "difference between swagger-codegen and swagger-codegen-cli"
Hi,

the sample says Í should clone `swagger-codegen` and then run the `swagger-codegen-cli.jar`. I wonder what codegen does, what codegen-cli does not?
The [Download](https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen/2.2.2/) Page has a codegen.jar. How would I work with that file instead of cloning this repo first?

Best,
Bernhard

[2017-03-05 19:13] jfiala commented on #4847
Overview of all the languages to be updated:

- [ ] jaxrs-spec
- [ ] jaxrs (Jersey2 + library jersey1)
- [ ] jaxrs-resteasy
- [x] jaxrs-cxf - PR #4921
- [ ] jaxrs-cxf-cdi
- [ ] spring (default library spring-boot + library spring-mvc, spring-cloud) - PR #4850

[2017-03-05 19:14] jfiala commented on #4738
Overview of all the languages to be updated:

- [ ] jaxrs-spec
- [ ] jaxrs (Jersey2 + library jersey1)
- [ ] jaxrs-resteasy
- [x] jaxrs-cxf - PR #4738
- [ ] jaxrs-cxf-cdi
- [ ] spring (default library spring-boot + library spring-mvc, spring-cloud)

[2017-03-05 19:33] jfiala commented on #4087
@nickcmaynard  @cbornet can you pls also take a look/share opinion?

[2017-03-05 19:45] MMirabito opened #4931 "C# Client Exception when invoking service - An item with the same key has already been added"
##### Description
When using the  C# API generated by swagger codeGen I receive the following exception:
[code]

I think the problem might be linked to the fact that my REST endpoint is structured as follows
http://localhost:8080/myapp/api/UserProfile/v1.0/getUser/{format}/{userId}

One of our path parameters is also called **format**  which might be colliding with the internal generated code sinc

[2017-03-05 19:48] jfiala commented on #4581
#4713 describes the same topic

[2017-03-05 19:48] bardware commented on #4930
I just realized `-cli.jar` is generated from this repo....Don't bother.

[2017-03-05 19:48] #4930 closed

[2017-03-05 19:54] jfiala commented on #4422
The reason for the usage of javax.xml.datatype.XMLGregorianCalendar is that this is the default for the CXF XML based processing.

For CXF I think there should be more flavours:
- legacy =  javax.xml.datatype.XMLGregorianCalendar as this is the default date type used by CXF itself using wadl2java
- java8
- joda
- java.util.Date?

If there is support for java.util.Date needed, I think this should b

[2017-03-05 20:04] jfiala commented on #4386
@wing328 For CXF this already seems to be implemented, the next step is to port this to all Java languages!? Should we open a separate issue or add the language checklist here?

[2017-03-05 20:06] jfiala commented on #3170
@wing328 I think we can close this as there has been no response?

[2017-03-05 20:08] jfiala commented on #4091
Java beanvalidation has been fully implemented, further enhancements for @Valid are dealt with separate issues.

[2017-03-05 20:08] #4091 closed

[2017-03-05 20:10] jfiala commented on #4711
is covered and duplicates #4719, so this can be closed.

[2017-03-05 20:10] #4711 closed

[2017-03-05 20:19] jfiala commented on #4776
Please see also #4927, the problem seems to be caused by another component outside swagger-codegen.

[2017-03-05 20:20] jfiala commented on #4927
See also #4928

[2017-03-05 22:28] Gronsak commented on #1557
Okay so I got a working implementation, I'm missing the unit testing at the moment but I will have a look at that during the coming week.

I've opted for making it generate a .NET Standard Library project instead of a standard PCL project though, don't know if this is an unpopular choice but if I remember correctly the only real difference it makes is what version of VS you can open it in.

@wing3

[2017-03-05 22:41] PisaJan commented on #4257
@wing328 It works for me now. Thanks!

[2017-03-05 23:43] bull-xu-stride commented on #2446
For Swift 3 version:

	static func convertBoolToString(_ source: [String: Any]?) -> [String:Any]? {
		guard let source = source else {
			return nil
		}
		var destination = [String:Any]()
		let theTrue = NSNumber(value: true)
		let theFalse = NSNumber(value: false)
		for (key, value) in source {
			switch value {
			case let x as NSNumber where x === theTrue || x === theFalse:
				destination[key]

[2017-03-06 03:47] wangzw opened #4932 "[JavaScript] Do not parse null and undefined as type."
##### Description

Fields in models will be finally parsed to its type. But if the field is null or undefined.
Keep it to null or undefined will benefit the caller for further process.

##### Swagger-codegen version

latest version, not a regression.

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

#2103

#####

[2017-03-06 03:55] wing328 commented on #1557
@Gronsak thanks for your effort. Please submit a PR so that we can review the enhancement.

[2017-03-06 04:01] wangzw commented on #2103
@dbousamra I got the same issue as you and file a PR to fix the issue. #4932

[2017-03-06 06:36] wing328 commented on #4758
If I understand correctly, you want to build Swagger Codegen with gradle instead of maven.

What about adding build.gradle files to this project to begin with so that developers can use gradle or maven to build the project based on their preference?

[2017-03-06 07:02] wing328 commented on #4932
Closed via #4933. Thanks for the contribution from @wangzw

[2017-03-06 07:02] #4932 closed

[2017-03-06 07:02] wing328 commented on #2103
@dbousamra we've merged the fix by @wangzw into master. Please pull the latest to give it a try.

[2017-03-06 07:07] dbousamra commented on #2103
Thanks all

On Mon., 6 Mar. 2017, 18:02 wing328, <notifications@github.com> wrote:

[2017-03-06 07:18] otrosien commented on #4758
@wing328 I don't want to start a flame-war about which build tool to use for swagger-codegen. Of course switching from maven to gradle would resolve the problem, but I'd rather start with a separate repo that uses gradle to build the gradle plugin only.

[2017-03-06 07:31] wing328 commented on #4758
@otrosien for our Java API client, we generate build files for Maven, Gradle and sbt in the same output. The goal is to let developers to choose whatever they want to build the project (in other words we should not restrict them from using other tools to build the API client)

Your suggestion to add build.gradle files to this project to serve as an alternative is definitely in line with what we wa

[2017-03-06 07:39] wing328 commented on #4822
@ncksol thanks for looking into this. There's another [ongoing work](https://github.com/swagger-api/swagger-codegen/issues/1557#issuecomment-284268531) to make the C# API client to support another HTTP lib: [RestSharp.Portable](https://github.com/FubarDevelopment/restsharp.portable). From what I read, seems like RestSharp.Portable should work with UWP.

Do you think that will meet your requirement