[2017-10-13 02:24] riceman2 commented on #6576
Im sorry, I don't fixed a bug.
I download new SNAPSHOT codegen-cli.
Link it below
https://github.com/swagger-api/swagger-codegen/issues/6589
I use codegen-cli 2.3.0 or 3.0.0 latest version.

Are you okay with this?

[2017-10-13 06:58] Owen-HP opened #6670 "C# ASP .NET core not producing XML payloads."
##### Description

I'm trying to implement an API that only uses XML payloads and not JSON but when generating an ASP .NET core server it only returns JSON payloads and the generated code remains the same regardless of whether I specify:

[code]
or

[code]

I'm not sure if this is related to: https://github.com/swagger-api/swagger-codegen/issues/4900 where C# clients don't support XML payloads. I'

[2017-10-13 09:25] wing328 opened #6671 "[Go] Better code format for Go API client"
##### Description

Running `gofmt -d *` under `samples/client/petstore/go/go-petstore` will result in a lot of diff showing how the code should have been formatted in a better way, e.g.
[code]

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/6669

##### Suggest a fix/enhancement

If anyone has time to help improve the code

[2017-10-13 10:08] hce commented on #6400
Confirmed for the swift4 generator!

[2017-10-13 12:01] ehyche commented on #6400
@hce : thanks for checking on this. I should have a PR fixing this for swift4 next week.

[2017-10-13 12:29] vbatts commented on #3518
discovered a small bit on swagger-codegen-cli-2.2.3.jar and fixed in https://github.com/swagger-api/swagger-codegen/pull/6669
There is still an issue of "how to populate the `infoEmail` field?" so there is not a trialing whitespace on that  line as well.

But after building with master, it looks like the refactor for 2.3.0 introduced new issues.
A useful tool in checking is `gofmt` or `go get gola

[2017-10-13 15:40] trein commented on #6576
@riceman2 Oh, I see! My mistake. It seems `CodableHelper.siwft` has been fixed in master. However, the Homebrew cli that I have does not have it. I will just wait for the next release. I'm overriding the template right now. Thanks for the info though.

[2017-10-13 15:55] faou1 commented on #6646
Hi,
I have a problem with the new generation of my clientTS with swagger because the rootUrl (basePath is in public static, and with this I can't externalize my Url for the different environement.  So, Do you know how to force the basePath to protected?
Regards

[2017-10-14 00:19] stkrwork opened #6676 "[All] Update all samples"
##### Description

I think some of the samples might be too old. Maybe updating all samples could help.

[2017-10-14 02:59] wing328 commented on #6671
Duplicated: https://github.com/swagger-api/swagger-codegen/issues/3518

[2017-10-14 02:59] #6671 closed

[2017-10-14 03:10] zzsoszz opened #6677 "Swagger defination, how to specify that a file(file content) is returned?"
https://stackoverflow.com/questions/40217843/swagger-defination-how-to-specify-that-a-file-is-returned

[2017-10-14 16:47] jfiala opened #6678 "Java: 0 Warnings for generated code"
##### Description

Currently the generated Java files reference imports that are not used, resulting in compiler warnings.

e.g. for Java jaxrs-cxf Models:
[code]

##### Swagger-codegen version

master

##### Suggest a fix/enhancement

I'd suggest to use more generalized imports like:
import java.io.*;
import javax.ws.rs.*;
import javax.ws.rs.core.*;

Alternatively, we could use a routine to autom

[2017-10-14 16:55] jfiala opened #6679 "Jaxrs-server: Support ApiOperation authorizations attribute"
##### Description

The @ApiOperation authorizations attribute is currently not included in the generated code.

For details on authorizations/scopes:
https://swagger.io/docs/specification/authentication/

For details on Java @ApiOperation annotation:
https://github.com/swagger-api/swagger-core/wiki/Annotations-1.5.X#authorization-authorizationscope

##### Swagger-codegen version

master

##### Swa

[2017-10-14 17:04] jfiala commented on #6678
@wing328  what do you think of this?

[2017-10-14 20:24] stcarrez opened #6680 "[Ada] Add Ada support for server code generator"
##### Description

Swagger supports Ada for the client side generation. The Ada server side is not yet implemented
and it is necessary for get a complete implementation.

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhancement

I've started to add the Ada server support for Swagger codegen.
The Ada client support is already supported and fully functional.
The Ada server suppo

[2017-10-14 21:56] wjam opened #6681 "[JAVA][SPRING-CLOUD] `spring-cloud` library generated code unusable with Java 8"
##### Description

As the interfaces generated when using the Spring library builds an interface with a default method when using Java 8, the Feign integration is rendered inoperable as Feign will run the default method rather than initiating the HTTP call.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

See https://github.com/wjam/swagger-codegen-spring-cloud

[2017-10-14 22:27] wjam opened #6682 "[JAVA][SPRING-CLOUD] useBeanValidation to false but still needs validation-api dependency"
##### Description

Even though `useBeanValidation` is set to false, the generated code still has a dependency on the `javax.validation:validation-api`.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

Example can be found at https://github.com/wjam/swagger-codegen-spring-cloud

##### Command line used for generation

Maven library used. Configuration is in the

[2017-10-14 22:30] wjam opened #6683 "[JAVA][SPRING-CLOUD] `ClientConfiguration` always depends on `spring-cloud-security` and `spring-security-oauth2`"
##### Description

The generated `ClientConfiguration` class always imports from `spring-cloud-security` and `spring-security-oauth2` even if these imports are unused.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

Example can be found at https://github.com/wjam/swagger-codegen-spring-cloud

##### Command line used for generation

Maven library used. Configur

[2017-10-15 07:26] hellosnow opened #6686 "Is there a way to generate sample code for how to call the API in REST way?"
##### Description

I'm new to code-gen, and I'm trying to find a way to generate code samples for different languages, to give an example how to call the API in REST.

I have tried to generate the `csharp` client side examples as below:

[code]

But I'm finding how to call the REST API in different languages, refer to [restdb code examples](https://restdb.io/docs/rest-api-code-examples),
[code]
An

[2017-10-15 14:24] moreyeel opened #6690 "C# Enums defined as optional are not nullable [MyEnum (?) myenum]"
##### Description

I am generating C# files from a YAML file. I have an optional enum parameter which I decorate in the template NullValueHandling = NullValueHandling.Ignore meaning if null do not serialize. Like so:

[JsonProperty("days", NullValueHandling = NullValueHandling.Ignore)]
public WeekDays Days { get; set; }

The trouble is that unlike other C# nullable types (int?, bool?) the enum is

[2017-10-15 14:35] tagliala commented on #6519
Hi @wing328

thanks for your fix. At the moment I'm not able to test against the master branch, I will wait for a new release so I can test through the online editor

[2017-10-15 14:42] wing328 commented on #6686
@hellosnow I think you're referring to the auto-generated documentation: https://github.com/swagger-api/swagger-codegen/issues/2359

For C#, the auto-generated README is a good starting point. Here is an example: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/docs/PetApi.md#updatepetwithform

Is that what you're looking for?

[2017-10-15 15:28] wing328 commented on #6077
PR related to handlebars: https://github.com/swagger-api/swagger-codegen/pull/5365

[2017-10-16 01:56] gustavoapaz opened #6693 "[Java][CXF] Some names of properties of JSON objects do not match the definition in the YAML"
##### Description

For some names used to define _Data types_ properties in a YAML, the JSON objects that the Java CXF Server expects and/or produces do not match the definition in the YAML.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

For example an attribute defined in the YAML like this:

[code]
Generates the following Java server code:

[code]

This cau

[2017-10-16 02:04] gustavoapaz commented on #6693
Here is the change that I propose: https://github.com/gustavoapaz/swagger-codegen/commit/d9eb9c71076e1cf185ff15ee48088e3960d45ed4

[2017-10-16 02:18] #3473 closed

[2017-10-16 02:28] ramnov commented on #6520
Hi @wing328 , I pulled the latest master and generated PetStoreSwagger package and was able to install it successfully. Is there some sample code that I can try (say create user).

[2017-10-16 02:35] wing328 commented on #6520
@ramnov I remember you created https://github.com/swagger-api/swagger-codegen/pull/6307/files#diff-cffab5bb150fcd367f23f42f14993fd6 for testing Petstore. We should probably add it to https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/R and setup integration tests in CI (travis, shippable, etc)

For sample code, we add auto-generated documentation, which is not yet i

[2017-10-16 02:40] gustavoapaz opened #6694 "[Java][CXF] Enumerations defined for attributes of Data types in the YAML do not retain their values for the Java CXF Server stub"
##### Description

When defining enumerations for attributes of Data types in the YAML you expect that the generated code respects their values. But, the CXF models are created in a way that when they are transformed into JSON or XML, the values are changed to all capital letters.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

For example an attribute defined

[2017-10-16 02:45] gustavoapaz commented on #6694
Here is the change that I propose: https://github.com/gustavoapaz/swagger-codegen/commit/8887e65c901e20ea687e6d7e46cbe22e8bdc4a95

[2017-10-16 02:51] wing328 commented on #3518
@vbatts I've filed #6695 to fix a few formatting issues.

[2017-10-16 02:55] gustavoapaz opened #6696 "[Java][CXF] Include more of the API documentation in the CXF Server stub generation"
##### Description

This is a feature request. I want to include more of the API documentation in the CXF Server stub generation so that the Java code is more complete.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url
..

##### Command line used for generation

..

##### Steps to reproduce

..

##### Related issues/PRs

..

##### Suggest a fix/enhancement

Here i

[2017-10-16 02:58] ramnov commented on #6520
I tested with the following code :

apiClient <- PetStoreSwagger::ApiClient$new("http://petstore.swagger.io/v2")
petStoreClient <- PetStoreSwagger::PetApi$new(apiClient)
petId <- sample(1:1000, 1)
pet <- PetStoreSwagger::Pet$new(petId,
                 Element$new(0,"test"),
                 "test",
                 list("test"),
                 list(Element$new(0, "test")),
                 "ava

[2017-10-16 03:18] wing328 opened #6697 "[R] Enhancements to R generator"
##### Description

Here are a list of enhancements to R generator:

- [ ] add auto-generated README.md
- [ ] add auto-generated API, model documentation
- [ ] better authentication support using `{{#authMethods}} ... {{/authMethods}}`
- [ ] setup CI to cover R Petstore client

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhancement

If anyone has other suggestions or wants wo

[2017-10-16 03:19] wing328 commented on #6520
Created https://github.com/swagger-api/swagger-codegen/issues/6697 for tracking.

[2017-10-16 03:34] #6654 closed

[2017-10-16 04:55] ramnov commented on #6520
I found 3 issues :

1. list<string> is surrounded by 2 quotes rather than a single quote. For example, running the following code :

pet <- PetStoreSwagger::Pet$new(petId,
                 Element$new(0,"test"),
                 "test",
                 list("http://test"),
                 list(Element$new(0, "test")),
                 "available")
pet$toJSONString()
[1] "{\n           \"id\": 1,

[2017-10-16 05:20] masaeedu opened #6698 "[TypeScript-Fetch] Local variables can conflict with parameters"
##### Description

The `typescript-fetch` client template inserts local variables with names like `path`, which is a fairly common name for API parameters. If an API has a parameter named `path`, the generated client will have a compile error and the transpiled code can have subtle bugs.

##### Swagger-codegen version

Issue is present in 96137e5. Specifically, the lines starting [here](https://gi

[2017-10-16 06:04] cderv commented on #6520
`httr::POST("http://petstore.swagger.io/v2/pet", queryParams = NULL, body = pet$toJSONString(), content_type_json())`

You could try

    httr::POST("http://petstore.swagger.io/v2/pet", queryParams = NULL, body = pet$toJSONString(), add_headers(`Content-Type` = "application/json"))

[2017-10-16 06:53] hellosnow commented on #6686
@wing328 I got the same example in documentation as your reference 😄 But what I'm looking for is the functionality to generated the stub code how to make the REST API call, as following. Any suggestion? Not sure whether it's the right place to ask. 😃

Refer to 1. https://restdb.io/docs/rest-api-code-examples
[code]

2. https://app.apiary.io/huangxueyuan/editor
[code]

3. https://dev.applicationins

[2017-10-16 09:24] wing328 commented on #6698
@masaeedu For other generators, we usually add a prefix to the local variable (e.g. localVarPath or local_var_path).

May I know if you've time to help us add something similar to the TS Fetch generator? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-fetch/api.mustache

[2017-10-16 10:05] wneild opened #6699 "[SPRING] Server generation: ApiOperation annotation uses returnType for .class reference which breaks for generics"
##### Description
The response property of the ApiOperation relies on specific return type rather than the return base type for the Spring variant of api interface resulting in broken code where generics types are present.

##### Swagger-codegen version
2.2.3, 2.3.0-SNAPSHOT
##### Swagger declaration file content or url

[code]

##### Generation command
swagger codegen maven plugin

[code]

#####

[2017-10-16 12:26] GreenMooseWork commented on #1889
Furthermore if doing [integration test](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing#integration-testing-aspnet-core) with a aspNetCore2.0 project, utilizing the swagger generated client code, you would do e.g.
[code]
and then this instance would need to be injected when creating a new swagger-generated API client instance.

[2017-10-16 12:26] wing328 commented on #6686
@hellosnow so you're looking for ways to make raw HTTP calls to the REST API backend instead of using the C# SDK to make the call?

[2017-10-16 12:27] wing328 commented on #6696
@gustavoapaz the proposed change looks good to me. Please submit a PR so that we can review the enhancement more easily.

[2017-10-16 12:41] wing328 commented on #6681
I think the latest master may have this issue addressed. Please give it a try with the latest master. The SNAPSHOT version can be found in the README.

[2017-10-16 12:54] cbornet commented on #6681
Yes, there's an issue : we shouldn't set the `jdk8` flag with spring-cloud.

[2017-10-16 14:29] wing328 opened #6701 "[Scala] enhancements to Scala (scalaz & http4s) generator"
##### Description

Here are a list of enhancements to `scalaz` generator:

- [ ] add auto-generated README.md
- [ ] add auto-generated API, model documentation
- [ ] add Scalaz Petstore to CI (CircleCI)
- [ ] better authentication support with "{{#authMethods}} ... {{/authMethods}}"
- [ ] add partial header (license, support, etc) to mustache templates

##### Swagger-codegen version

Latest master

[2017-10-16 14:41] dganoff opened #6702 "[JavaScript] Model default value of `null` for strings results in `"null"` value"
##### Description

Model default value of `null`  for strings gets set to `"null"` upon creating a `new` instance of the model.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url
Schema definition for the model property:
[code]

##### Command line used for generation

[code]

##### Steps to reproduce

1. Create a new version of the Connection model `let connection

[2017-10-16 14:43] tgifford-webfirst opened #6703 "Allow using help command with run-in-docker.sh/docker-entrypoint.sh"
##### Description

docker-entrypoint.sh does not find the "help" \@Command even though it is a valid command.

##### Swagger-codegen version

2.3.0-SNAPSHOT (b22fb30891a8c6a576ead24358dbcd77af2f75c8)

##### Steps to reproduce

[code]

##### Suggest a fix/enhancement

Allow using the help command. Quick workaround patch:

[code]

[2017-10-16 14:46] wing328 commented on #6703
@tgifford-webfirst please submit a PR for the suggested enhancement.

[2017-10-16 15:28] ehyche commented on #6400
This PR was opened to fix this issue in swift3: https://github.com/swagger-api/swagger-codegen/pull/6705

[2017-10-16 15:45] stkrwork commented on #6676
#6707

[2017-10-16 20:24] ramnov commented on #6520
@cderv  : Yes that worked ! I believe this is how we should pass it using ApiClient :

apiClient <- PetStoreSwagger::ApiClient$new("http://petstore.swagger.io/v2", NULL, c(`Content-Type` = "application/json"))

[2017-10-17 01:15] jonschoning opened #6711 "[Java] -DdebugModels option causes JsonMappingException during generation preventing debug output"
##### Description

`-DdebugModels` option causes `JsonMappingException: Infinite recursion (StackOverflowError)` on `petstore-with-fake-endpoints-models-for-testing.yaml`.  This prevents debugModels output from displaying properly.

Have also reproduced with `csharp`.
Haven't tested all generators, but doesn't occur with all generators.

cli output : https://gist.github.com/jonschoning/f743916372f

[2017-10-17 02:18] hellosnow commented on #6686
@wing328 yes it is. Look like it's out of the scope of code-gen, is it?

[2017-10-17 05:19] cbornet commented on #6686
@hellosnow with the right templates, the codegen can generate this. Actually it does generate this kind of code but wraps it in API methods for convenience.

[2017-10-17 06:27] wurmrobert opened #6714 "[typescript-angular] Generate fat arrow functions at services"
##### Description

I have base classes which I transfer swagger generated service methods as function parameters. However, the transpiled service code loses the `this` scope. In order to keep the correct `this` scope, the swagger methods should be implemented as fat-arrow functions.

Is there any possibility to generate fat arrow functions?

##### Swagger-codegen version

Version 2.3.0

##### Step

[2017-10-17 06:29] hellosnow commented on #6686
@cbornet do you have any guidance on this? 😄

[2017-10-17 09:09] wienczny opened #6715 "[Java-Jersey] Swagger Codegen + Jersey 2.26: LoggingFilter -> LoggingFeature"
The latest release of Jersey (2.26) removed org.glassfish.jersey.filter.LoggingFilter which had been deprecated since 2.23. The generated code should be migrated to use org.glassfish.jersey.logging.LoggingFeature

[2017-10-17 12:31] andreaformica opened #6716 "Java JaxRs Resteasy: @DefaulValue missing in queryParams template."
##### Description

Trying to generate RESTEASY server side API using swagger codegen: API methods are missing the DefaultValue in the query parameters.

##### Swagger-codegen version

I am using the master in git.

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

I think it is

[2017-10-17 12:48] akkie commented on #6393
If I'm not wrong, then every reserved word in Scala can be escaped on every position(val, var, class, def) by enclosing the word with grave accents. So the following code is completely valid Scala code:

[code]

The [DefaultCodegen.escapeReservedWord](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L756) method

[2017-10-17 12:57] ramyasatvik commented on #3845
Java client libraries doen have Base64Encode method in ApiClient

[2017-10-17 13:23] wing328 commented on #5338
#6685 has been merged into master. Thanks for the fix by @ackintosh

@pminten please pull the latest master to give it a try.

[2017-10-17 13:23] #5338 closed

[2017-10-17 14:42] wing328 commented on #6686
@hellosnow you can use the `-t` CLI option to provide customized templates. The default template can be found in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/csharp

To customize it, you can review the mustache template variables using `-DdebugOperations`: https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

Would

[2017-10-17 14:44] wing328 commented on #6714
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-10-17 14:45] wing328 commented on #6716
@andreaformica your suggested fix looks good. Please file a PR when you've time.

[2017-10-17 15:59] krisklosterman commented on #6517
The 3.0 Snapshots seem to not even work with it yet :'(

[code]

[2017-10-17 16:42] mvh77 commented on #6415
I'm having the same issue, not using Jersey though, default okhttp. My setting is as follows:

[code]

Still the generated code is:
[code]
How should I setup the individual endpoints so the apiKey setting is applied to requests? The [examples for v1.2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#5210-authorizations-object) only talk about oauth2 for individual endpoint

[2017-10-17 19:01] tobymurray opened #6718 "[JAVA][JAXRS] DecimalMin annotation does not respect exclusiveMinimum"
##### Description
Specifying a `number` property with `exclusiveMin` set to `true` does not create the corresponding `inclusive = false` on a `DecimalMin` annotation.

###### Expected
[code]
###### Actual

[code]

##### Swagger-codegen version

Tried in 2.2.3, 2.2.1, and on the head of `master`

##### Swagger declaration file content or url
Modifying the pet store example, picking any definition.

[2017-10-17 20:46] TheFirstLairron opened #6719 "[Javascript] Referencing old Babel presets causes warnings during npm install."
##### Description
When running npm install on a javascript client generated by swagger-codegen you will notice the following error:

This is not a serious issue but is fixed fairly easily(I recently did it to a project), and will cut down on warnings.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url
Use any swagger file content.

##### Command line used for gene

[2017-10-17 21:12] etrich opened #6720 "[typescript-angular] Disable tslint in generated files /* tslint:disable */"
##### Description

The generated TS code disables only specific tslint rules:

/* tslint:disable:no-unused-variable member-ordering */

Some other generated files do not disable any tslint rules.

The generated code is causing tslint issues when using with Codelyzer, such as:

- " should be '
- file should end with a newline
- trailing whitespace
etc.

##### Swagger-codegen version

2.3.0 - swagge

[2017-10-17 22:19] tobymurray commented on #6718
Looks like this should be a trivial change to the `beanValidationCore.mustache`, e.g.:

[code]

[2017-10-17 22:49] JohannesHoppe opened #6722 "[typescript-angular] generated package/ApiModule is not AOT-compatible"
##### Description

Angular-Typescript code does break the AOT compilation of the consuming app. AOT compilation is going to be the default in near future.
I tested the generated code together with angular-cli 1.4.4 and angular 4.4.5.

`ng serve` is now complaining the following:

[code]

##### Swagger-codegen version

v3.0.0-20171009.075709-6 ([snapshot](https://oss.sonatype.org/content/repositori

[2017-10-17 23:26] TiFu commented on #6714
To make sure I understand the problem correctly:

You have some method `a` which accepts `swagger.getFindAllCustomerPaged` as a parameter. If you pass it with `a(swagger.getFindAllCustomerPaged)`, `getFindAllCustomerPaged` looses the `this` scope. This could be solved either like you proposed or by using `a(swagger.getFindAllCustomerPaged.bind(swagger))`.
Is my understanding of the issue correct?

[2017-10-17 23:28] kenisteward commented on #6714
@tifu I was just about to respond with that solution haha

On Tue, Oct 17, 2017, 7:26 PM Tino Fuhrmann <notifications@github.com>
wrote:

[2017-10-17 23:30] kenisteward commented on #6714
@wurmrobert we probably won't generate fat arrow functions in the future as
@tifu's proposed solution does everything I think you need. Also generating
fat arrow breaks aot I'm some cases and we wouldn't want that!

On Tue, Oct 17, 2017, 7:27 PM Kenneth Steward <keni.steward@gmail.com>
wrote:

[2017-10-18 00:46] gabrielfuller opened #6723 "[TypeScript-Angular2] Swagger Codegen Get Methods not Including Parameters"
##### Description

I am using Codegen Java file to create the Typescript-Angular 2 API for my C# web api.  The code gen tool creates the correct code for post and put, but get and delete do not include the parameters correctly.

Here is the generated put method:
[code]
Here is the read method:
[code]

As you can see, in the read method, the command parameter is never added to the HttpClient Get me

[2017-10-18 01:58] #6698 closed

[2017-10-18 02:26] wing328 commented on #6719
@TheFirstLairron I agree we should update it to use the newer version. Do you mind submitting a PR with the suggested fix?

[2017-10-18 02:55] wing328 commented on #6718
@tobymurray can you submit a PR with the suggested fix so that we can review more easily?

For a list of mustache variables available in the model templates, please use "-DdebugModels"

Ref: https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables#mustache-template-variables-in-the-model

[2017-10-18 03:06] tobymurray commented on #6718
@wing328 I can submit that, I haven't looked at what it takes to write tests for it. Just as a heads up, this is the Java JAX-RS server stubs, not the client.

[2017-10-18 03:11] wing328 commented on #6718
@tobymurray you can submit the PR with the fix first and then we'll show you where to write the test.

Thanks for reporting the issue and submitting a fix.

[2017-10-18 05:25] macjohnny commented on #6723
@gabrielfuller can you post the relevant parts of your swagger.json?

[2017-10-18 05:27] macjohnny commented on #6720
@etrich could you file a pull request?

[2017-10-18 05:57] sheltonc opened #6725 "CSharp"
##### Description

The CSharpNet2 client does not work with dotnet core 2.0.

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Steps to reproduce

The generated code has a dependency on RestSharp.Net2 1.1.11, which in turn has a dependency on a 4.6.1 framework dependency (Newtonsoft.Json 4.5.1).

Given this, the CSharpNet2 package cannot be referenced via nuget in a dotnetcore 2.0 project.

##

[2017-10-18 08:08] jmp75 commented on #6512
Any update on this issue?
I bumped into the same issue with the [Senaps Web API](https://sensor-cloud.io/api-docs/sensorcloud-spec.json). Draft exploratory notes [there](https://github.com/jmp75/senaps-cpp/blob/master/doc/logbook.md).
The API spec has quite a few `type: "object"` in the definitions.
I have a fair bit of C++ know how but little in the way of Web APIs and swagger. Will see if I can

[2017-10-18 08:13] wing328 commented on #6725
@sheltonc instead of using `csharp-dotnet2`, what about using `csharp` to generate C# API client instead?

[2017-10-18 08:19] wing328 commented on #6720
I would suggest we fix those warnings/issues reported by tslint one by one instead of disabling tslint.

@etrich would you have time to help file PRs to make the TS Angular generator better? (this is not to say we push the task to you but I'm sure the community would appreciate your help to make the TS Angular generator better in terms of the code format)

[2017-10-18 08:30] wing328 commented on #6723
3.0.0 is still being worked on to support OAS (OpenAPI spec) 3.0

I would suggest you to use the 2.3.0 SNAPSHOT version for the time being.

[2017-10-18 08:31] wing328 commented on #6722
cc @TiFu @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-10-18 08:33] wing328 commented on #6711
If my memory serves me well, there may be models defined with circular reference in petstore-with-fake-endpoints-models-for-testing.yaml, which might explain the exception you encountered.

[2017-10-18 08:34] wing328 commented on #6702
@dganoff What about not specifying `"default": null` as the default should already be null, right?

[2017-10-18 08:36] wing328 commented on #6702
I remember there's a discussion about `null` value (default or example) before and the recommended approach is to use vendor extension to indicate the null value as default/example values are treated as string ("null")

[2017-10-18 08:49] wing328 commented on #6699
Closed via #6700

[2017-10-18 08:49] #6699 closed

[2017-10-18 09:02] JohannesHoppe opened #6727 "[typescript-angular] generated package/ApiModule imports HttpModule but should import HttpClientModule instead"
##### Description

Latest templates for Angular 2+ use `HttpClient` instead of `Http`. Which is great. But the import is still referencing the wrong module, which makes the import useless:
https://github.com/swagger-api/swagger-codegen/blob/e4abddf253201b8f43e64f2fb84519179d0197b2/modules/swagger-codegen/src/main/resources/typescript-angular/api.module.mustache#L13

[code]

should be:

[code]

[2017-10-18 09:05] JohannesHoppe commented on #6722
I updated my workaround snippet to address https://github.com/swagger-api/swagger-codegen/issues/6727

[2017-10-18 09:10] jacekwzg opened #6728 "[docker] swagger-codegen-cli docker image - use version tags"
##### Description

Currently docker image: https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/ is published only with the "latest" tag.

##### Suggest a enhancement

Docker image should be versioned with tag value of swagger codegen version, which it contains. This allows predictable usage of it.

[2017-10-18 09:20] JohannesHoppe commented on #6727
Dirty PR submitted.

[2017-10-18 09:21] martinmcwhorter opened #6730 "[typescript-angular] Error providing BASE_PATH from NPM module"
##### Description

After generating a proxy for typescript-angular as an NPM module, I cannot provide the `BASE_PATH` without getting the following error:

`
BASE_PATH Error encountered resolving symbol values statically. Only initialized variables and constants can be referenced because the value of this variable is needed by the template compiler (positi on 2:22 in the original .ts file), resolv

[2017-10-18 10:28] wurmrobert commented on #6714
@TiFu
The `bind` function is the perfect solution to my problem. Many thanks for your help!

[2017-10-18 10:34] #6714 closed

[2017-10-18 10:35] wurmrobert commented on #6714
The bind function is the perfect solution to my problem. Many thanks for your help!
Thanks to @TiFu

[2017-10-18 11:23] sebastianhaas commented on #6722
I have given this much thought last week. I actually prepared a PR on the matter. In fact, I took a look at https://medium.com/@trekhleb/how-to-create-aot-jit-compatible-angular-4-library-with-external-scss-html-templates-9da6e68dac6e and also Angular's material components.

But yeah, in the end, just compile through `ngc` rather than `tsc` should be sufficient. Furthermore, we need to include the

[2017-10-18 11:41] kenisteward commented on #6722
@sebastianhaas I recently made a library that can properly support aot that
generates fesms for es2015 es5 and umd.  It is correct we want to ignore
ngfactory and only include metadata.json + d.ts + fesms with our dist.   We
should follow https://youtu.be/unICbsPGFIA and the angular library package
spec mentioned in the video.

If you would like I can work on this with you.

On Wed, Oct 18, 2017,

[2017-10-18 11:44] kenisteward commented on #6722
As a note if you simply publish all the TS you don't get aot compilation
issues .

On Wed, Oct 18, 2017, 7:41 AM Kenneth Steward <keni.steward@gmail.com>
wrote:

[2017-10-18 11:51] korkut89 opened #6731 "[SPRING] InlineModelResolver doesn't generate ObjectProperty as required when flattening properties"
##### Description
InlineModelResolver.flatten and InlineModel.flattenProperties methods are used for flattening properties. When flattening them a newly created RefProperty replaces the original ObjectProperty. But whether the original property's required value is true or false, new RefProperty has always false value. This causes the generated classes don't have @NotNull tags on their parameters w

[2017-10-18 12:23] JohannesHoppe commented on #6722
I agree. Doing the compilation on install is dangerous. I would put the `README.md ` and `package.json` into `/dist` and just publish the bundles. TS files are not required.

I agree, too. We have no components inside.
[code]
... should to the trick.

Funny enough I already get errors with a simple `ng serve` (no `--aot` required). I bet it's because of the bogus compilation.

[2017-10-18 12:29] craffael opened #6734 "[NancyFx] Support Async"
##### Description

Currently the NancyFx codegen generates synchronous endpoints. I suggest to add a new nancyfx specific `--additional-property async=true` that can be used to generate async endpoints.

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Suggest a fix/enhancement

if `async=true` I suggest to do the following modifications:

- add `async` keyword to every route and set second pa

[2017-10-18 12:38] sebastianhaas commented on #6722
One more note from my side, I wasted 2 hours trying to figure out why AOT compilation (plain project created using `ng new`) with a codegen-produced npm package whouldn't work and found the 'module' property is missing in the generated `package.json`. It seems like webpack is using it to resolve the module's location. So I think it should be done like here: https://github.com/trekhleb/angular-libr

[2017-10-18 12:46] JohannesHoppe commented on #6722
Great finding! THIS explains a lot! 👍

[2017-10-18 12:48] kenisteward commented on #6722
You have to make sure what it points to is a built es5 module if you are
putting it there for webpack!!!

On Wed, Oct 18, 2017, 8:47 AM Johannes Hoppe <notifications@github.com>
wrote:

[2017-10-18 13:07] sebastianhaas commented on #6722
I've just created a PR to make discussing this a bit easier. #6735

[2017-10-18 13:38] wing328 commented on #6734
@craffael thanks for the suggestion.

It's worth sharing with you that most API clients (e.g C#, Java, Ruby, Python, etc) come with both sync (e.g. [AddPet](https://github.com/swagger-api/swagger-codegen/blob/c66a0aaa07695276fc3fa6a24bb42d2176d0f5cc/samples/client/petstore/csharp/SwaggerClientNetCoreProject/src/IO.Swagger/Api/PetApi.cs#L36)) and async (e.g. [AddPetAsync](https://github.com/swagger

[2017-10-18 13:52] craffael commented on #6734
@wing328
1) Do these API clients have a common `optional-property` to use async terminology? If so I could reuse that property instead...

2) The first time that I heard about server side async terminology I was also a bit puzzled. But if you think about it longer it actually makes sense (especially in micro-service architectures): Server code also has to make IO bound operations to 3rd party serv

[2017-10-18 14:08] etrich commented on #6720
Given the rules can be dynamically configured in tslint.json, it would require a generator that can be dynamically configured using these rules and able to produce code in accordance. I don't think anyone wants to go there, so we'd need to agree on a tslint ruleset, which could be the tslint.json produced by Angular CLI `ng new` (which uses codelyzer).

For people wanting to use "non standard" tsl

[2017-10-18 14:18] kinok opened #6736 "[JavaScript] Allow to use a custom http agent"
##### Description
We need to be able to use a custom http agent while requesting our API using swagger generated code.
In our case it is mainly to use keep-alive as we make call to swagger generated code.

##### Swagger-codegen version
2.3.0

##### Suggest a fix/enhancement
Add a `requestAgent` property in ApiClient module if set by user then use it as the request agent

[2017-10-18 14:48] dganoff commented on #6702
@wing328 Thanks for the feedback! I will advocate that we do away with `null` default values since you make a good point that they are not helpful. I'll also look into the vendor extension which sounds interesting.

[2017-10-18 14:52] wing328 commented on #6734
Nope, we generate both async and sync methods in the same SDK.

I'll research into this a bit more before I comment further.

[2017-10-18 15:06] craffael commented on #6734
Thanks for looking into that! Of course it would be super nice to not have a switch. At the price of complicating the code quite a bit, this would be achievable (convert synchronous routes into asynchronous ones at runtime). However one problem would be that the code would not run anymore with .net framework <= 4.0 (see last paragraph of [this documentation](https://github.com/NancyFx/Nancy/wiki/A

[2017-10-18 16:19] ravinikam commented on #6512
We can go with @frol suggested approach of using `cpprest::json::value` for leaf object since this is cpprest codegen and not just cpp. @wing328 @stkrwork are you ok with it? @jmp75 @frol please submit solution if you have time to contribute.

[2017-10-18 19:19] checat commented on #6190
duplicate of #6190

[2017-10-18 19:42] jeff-99 opened #6738 "typescript-fetch client isomorphic dependency does not work on React Native"
##### Description
The generated code from the typescript fetch client generator cannot be used in React Native. There are multiple open issues related to this:
* https://github.com/matthew-andrews/isomorphic-fetch/issues/125
* https://github.com/matthew-andrews/isomorphic-fetch/issues/59
* https://github.com/matthew-andrews/isomorphic-fetch/issues/48
The maintainer does not comment on these issues

[2017-10-18 20:03] jonschoning opened #6740 "Question: RequestBody & Multiple Content-Types (OAS3)"
In `3.0.0_enhancements` branch, I noticed this line:

https://github.com/swagger-api/swagger-codegen/blob/112c1f0130bf1a41bca3679cfa1547b4c9e0f4cd/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L3446-L3450

This appears to select the only the first content-type for a RequestBody.

What can we expect will be the plan for code generation, for the RequestBody for cases 1

[2017-10-18 20:03] sheltonc commented on #6725
@wing328 I've also tried this, to the same effect.

Package 'RestSharp 105.1.0' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.

Are there any plans to implement a client compatible with NETCoreApp0 2.0?

[2017-10-19 00:49] charlescapps opened #6741 "[JAVA e.g. feign] Need a common interface for generated ApiClient classes"
##### Description

Currently, every time you generate client code in Java for a Swagger API, the `ApiClient` class that is generated will be an entirely different fully qualified class name (FQCN) and there is no common interface indicating what you can do with these objects.

In general, what you can do with an `ApiClient` could be different for each `library` e.g. `feign` may support different o

[2017-10-19 02:04] ramnov commented on #6520
I have created a PR for issue 1 and 2 : https://github.com/swagger-api/swagger-codegen/pull/6743

Will test it and let you know if I succeed with adding a pet.

[2017-10-19 02:36] jimschubert commented on #6734
I haven't used NancyFx for any real development, but it wouldn't make much sense to have both a sync and async implementations generated at the same time for the same endpoint from an API perspective.  It makes sense from client code because it's using an HTTP client that exposes both synchronous and asynchronous call methods, and we're basically just forwarding the sync/async signatures to the ca

[2017-10-19 05:04] Tesan3010 opened #6744 "[Swift4] Bug - Swift4 `CodableHelper.swift` file is not compiling"
##### Description

Enum has been changed in JSONDecoder & JSONEncoder (`DataDecodingStrategy`, `DataEncodingStrategy` and `Outputformatting`) due to which unable to compile the `Swift4 project`.

##### Swagger-codegen version

2.2.3

##### Command line used for generation
[code]

##### Steps to reproduce

- Open CodableHelper.swift from `Classes > Swaggers > CodableHelper.swift`

- Find the below

[2017-10-19 05:30] wing328 commented on #6744
Please try the latest master (2.3.0) to see if the issue persists.

SNAPSHOT version of 2.3.0 can be found in the README

[2017-10-19 08:24] inthegarage opened #6745 "NPE caused by post block with array of strings"
##### Description
A post section, with the the following section:
[code]

causes an NPE.

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation

mvn clean compile

##### Steps to reproduce

Place the code into the defintion into a swagger file and compile it with the maven generator. It is not important which language va

[2017-10-19 08:58] #6693 closed

[2017-10-19 08:59] topce commented on #6649
Hi @pgrm @macjohnny
Any news on this one ,
IMO it is important bug fix

[2017-10-19 09:07] wing328 commented on #6740
cc @HugoMario

[2017-10-19 09:35] ornithocoder opened #6746 "[Swift3] [Swift4] Fails to create array of strings, integers, floats, etc..."
My swagger.json file has something like this to define an array of doubles:

[code]

But swagger-codegen creates the following typealias for the array, without the type (which fails to compile):

[code]

I'm using **2.2.3**.

Updates:
*  Same result with 2.3.0.
* Same result using Swift4.

[2017-10-19 10:18] ornithocoder commented on #6746
Same result with 2.3.0.

[2017-10-19 10:26] ornithocoder commented on #6643
Issue persists on 2.3.0.

[2017-10-19 10:29] ornithocoder commented on #6746
Same result using Swift4.

[2017-10-19 10:42] velzevur opened #6748 "[Erlang-server] validation of min and max"
##### Description

Validation of `min` and `max` is using the opposite operators, for example:
[code]
the value set as `min` is actually a `max`. I'm preparing a PR for this.

[2017-10-19 10:43] velzevur opened #6749 "[Erlang-server] fix dialyzer warnings"
##### Description

The generated code does not comply with dialyzer and produces warnings. I'm preparing a PR for the fix.

[2017-10-19 11:27] pgrm opened #6750 "Name clash when a parameter is called request on typescript-node api client"
##### Description

the mustache template starts on line **2** with

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L2

[code]

and further contains on line **371** with

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L371

    publi

[2017-10-19 12:19] pgrm commented on #6649
@topce I'll submit a PR later today

[2017-10-19 12:28] wing328 commented on #6520
#6743 has been merged into master.

[2017-10-19 12:30] wing328 commented on #6520
For content-type and accept, we can use `consumes`, `produces` and write a function to select the proper header value similar to what we did in other generators, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/api.mustache#L212-L228

[2017-10-19 12:46] macjohnny commented on #6649
@pgrm I already filed a PR with your changes and some indentation-improvements here: https://github.com/swagger-api/swagger-codegen/pull/6754

[2017-10-19 12:57] craffael commented on #6734
@jimschubert Thanks a lot for your comprehensive proposal. I fully agree with your arguments and have created a corresponding PR #6755 . Let me know what you think of it...

[2017-10-19 13:31] wing328 opened #6756 "[Rust] Enhancements to Rust-server generator"
##### Description

- [ ] `rust2` is not a very informative name (renamed to `rust-server` via https://github.com/swagger-api/swagger-codegen/pull/6747)
- [ ] Currently uses `hyper 0.10` - work underway to upgrade to hyper `0.11` (which adds full async support)
- [ ] Documentation on how to use the generated code in a Rust project is lacking
- [ ] Consolidate the client generator with `rust` genera

[2017-10-19 13:46] wing328 commented on #6756
cc @quodlibetor @ahmedcharles @farcaller @BenjaminGill-Metaswitch

[2017-10-19 14:31] wing328 commented on #6415
Here is an example to use apiKey for endpoint authorization: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L570

[2017-10-19 14:31] checat opened #6759 "Incorrect operation parameter nesting for body parameter with type array"
##### Description

When the body parameter is an array (of primitives or objects, does not matter), template variables receive 2-level array instead of 1-level (`operations.operation[0].allParams[0].items.items`).
When the parameter is in query, this does not happen.
When the parameter is not array, this does not happen.

##### Swagger-codegen version

2.2.3, 2.3.0-SNAPSHOT

##### Swagger declarat

[2017-10-19 14:35] wing328 commented on #6725
@sheltonc Did you try a different targetFramework (e.g. v5.0)?
[code]
Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l csharp

Also worth showing you the following option:
[code]

[2017-10-19 14:38] wing328 commented on #6720
We hope to release it by the end of this year.

[2017-10-19 14:40] wing328 commented on #6512
I'm ok with that to move forward by at least trying something out.

[2017-10-19 14:41] wing328 commented on #6702
@dganoff We've not implemented it yet. I can show you some good starting point to add it to JS client templates.

[2017-10-19 16:30] checat commented on #6759
The bug is in these lines
https://github.com/swagger-api/swagger-codegen/blob/164f5bbb72a19cb730830030fb8f110cd5538e80/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L2629
created `CodegenProperty cp` correctly has 1 level of items, but after this line
https://github.com/swagger-api/swagger-codegen/blob/164f5bbb72a19cb730830030fb8f110cd5538e80/modules/swagger-codegen/

[2017-10-19 16:37] checat commented on #6759
These guys have fixed the issue just for themselves
https://github.com/swagger-api/swagger-codegen/blob/164f5bbb72a19cb730830030fb8f110cd5538e80/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ApexClientCodegen.java#L234-L238

[2017-10-19 17:44] mvh77 commented on #6415
Well that seems to be a v2.0 example so I don't know. I'm working with a v1.2 api (actually a very old and buggy v1.1 api that I made a converter to 1.2 for). Anyway, I've managed to make it work by overriding the ApiClient#buildCall method and adding my key and value to the queryParams list before calling super.

[2017-10-19 20:20] Collinux opened #6761 "Combining all API tags into one API name"
I have a swagger yaml file with several different tags which tells the Swagger UI to create different sections. It makes the UI have a nice flow to it, however this presents a problem for swagger-codegen because I want all the REST calls to be accessible under one single API. These separate tags are interpreted as different APIs so the generated library is fragmented.

As a simple example, let "Pe

[2017-10-19 20:43] sheltonc commented on #6725
That was exactly what was needed. Thanks!

[2017-10-19 22:00] stkrwork commented on #6512
If it works well afterwards, yes.

[2017-10-19 23:13] defmonk0 opened #6762 "[Typescript-Angular] Service generation incorrectly attempting to use parameter."
##### Description

Upon generating the code for my angular project, I copied it into my app directory. Immediately, the compiler starts spitting out errors about being unable to find variables. This is an example of the exact error (there are a lot of them):

`ERROR in /home/def_monk/code/eve-calendar/src/app/esi/api/wars.service.ts (163,92): Cannot find name 'war_id'.`

It's pretty easy to identi

[2017-10-19 23:44] jmp75 commented on #6512
@ravinikam I am not competent enough in this technology for authoring/submitting something on my own, I think. Too much partial second guessing. I got something compiling by addressing compiler error, basically adding empty methods to a manually written Object class.
Happy to help with road testing something however.

[2017-10-20 02:35] inforeqd512 opened #6763 "[Swift4] Interoperability with Objective C"
##### Description

We're looking to use Swagger codegen with SWG v3.0 to generate the model and api files. However, we need to use these with existing Objective C project eg. Need the model obejcts returned in the response to be stored in local model to be used with ObjC View controllers.

##### Swagger-codegen version

verion 2.2.3

##### Swagger declaration file content or url

any file will do.

[2017-10-20 02:42] wing328 commented on #6725
@sheltonc np. let us know if you've more question.

[2017-10-20 02:42] #6725 closed

[2017-10-20 03:04] #6750 closed

[2017-10-20 04:11] ramnov commented on #6520
I am not able to build with my PR (throwing some failed tests) . Can someone provide me help on what might be wrong.

[2017-10-20 04:19] inforeqd512 opened #6764 "[Swift4] openapi tag should be used instead of swagger"
##### Description

I've recently started using swagger codegen. This is proving to be very helpful! :-)
swagger specs for v 3.0.0 state that the first tag used in the swagger document should be "openapi" but the swagger codegen requires this to be "swagger". This makes it a little bit of a hassle when moving between swagger editor and codegen
https://editor.swagger.io

##### Swagger-codegen versio

[2017-10-20 04:50] Tesan3010 commented on #6744
Thanks for the reply. When I was trying to install from the source code using maven, tests were failing at `org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test` goal.

I'm using `Apache Maven - 3.5.0` and `Java -v9`

[2017-10-20 04:53] wing328 commented on #6744
What about using the 2.3.0 SNAPSHOT JAR in mentioned in https://github.com/swagger-api/swagger-codegen#compatibility?

[2017-10-20 05:29] defmonk0 commented on #6723
While this is still open, I also want to mention that `httpClient.delete` is not always properly configured either. When generating a delete call that takes body data, it adds it as a parameter to `httpClient.delete`, but the signature of that function only accepts url and options.

You can reproduce by generating typescript-angular from [this spec](https://esi.tech.ccp.is/latest/swagger.json?data

[2017-10-20 05:37] ramnov commented on #6520
Found the real reason why this message "Error: attempt to apply non-function" was thrown :
add_pet looks like this :

add_pet = function(body, ...){
      args <- list(...)
      body <- NULL
      queryParams <- list()
      headerParams <- character()
      if (!missing(`body`)) {
        body <- `body`$toJSONString()
      }

we are initializing body to NULL and then trying to convert into a JS

[2017-10-20 05:37] macjohnny commented on #3500
@wing328 it seems this issue was resolved with https://github.com/swagger-api/swagger-codegen/pull/6233 so it could be closed

[2017-10-20 05:51] wing328 commented on #6744
Btw, I ran `mvn clean package` locally without issues:
[code]

[2017-10-20 05:56] macjohnny commented on #6762
@defmonk0 I would say the relevant line is here: https://github.com/swagger-api/swagger-codegen/blob/f0b7daeec691ea0fb0d48139cc4610b0a49d285b/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java#L251
the conversion from snake case to camel case is missing here.
could you open a PR suggesting a way to do that?

[2017-10-20 06:14] defmonk0 commented on #6762
Yea. I was looking and just realized that the line I was pointing to was using `path` instead of `paramName` like the function parameters were. I was trying to find where `path` was defined just now, so that's good. Lol. I'll look into it, see if I can figure out an easy fix.

[2017-10-20 07:00] #6736 closed

[2017-10-20 07:18] trenneman opened #6765 "[typescript-angular] template variable `defaultValue` not set correctly"
##### Description

When overriding the mustache files for `typescript-angular`, I found out it does not set the template variable `defaultValue` for strings. I wanted to file a PR for this, but I noticed the `toDefaultValue` in `DefaultCodegen.java` is also ignoring `StringProperty`s.

##### Swagger-codegen version

2.2.3, 2.3.0-latest

##### Swagger declaration file content or url

N/A

##### Com

[2017-10-20 07:40] fanliming opened #6766 "spring5 webflux/spring boot 2.0 functional support for kotlin"
##### Description

Please add spring5 webflux / spring boot 2.0  functional support for kotlin.

##### Swagger-codegen version

2.3

##### Suggest a fix/enhancement

built on a Reactive Streams API to run on top of non-blocking servers such as Netty, Undertow.

[2017-10-20 08:34] zzsoszz opened #6767 "confict with android jar"
java.lang.NoSuchFieldError: No field INSTANCE of type Lorg/apache/http/message/BasicHeaderValueFormatter; in class Lorg/apache/http/message/BasicHeaderValueFormatter; or its superclasses (declaration of 'org.apache.http.message.BasicHeaderValueFormatter' appears in /system/framework/org.apache.http.legacy.boot.jar)

[2017-10-20 08:39] nazieb opened #6768 "[Go] Arbitrary "object" type generated as pointer of interface"
##### Description

In on of our API we need to define a field as "object" where in Go it's actually map string of interface. Right now Swagger Codegen generate that field as `*interface{}` where there is no such thing as pointer of interface.

##### Swagger-codegen version

I'm using snapshot of 2.3.0 branch:
swagger-codegen-cli-2.3.0-20170927.021746-163.jar

##### Swagger declaration file content

[2017-10-20 10:25] macjohnny commented on #6730
could this be related to https://github.com/swagger-api/swagger-codegen/issues/6722

[2017-10-20 11:10] frol commented on #6512
@ravinikam I don't have time to work on the C++ client at the moment, sorry.

[2017-10-20 12:25] tarioch opened #6770 "[PHP] Debug flag is not passed"
##### Description

With current master version (2.3.0) the debug flag from Configuration is not passed when the request is sent.

##### Swagger-codegen version

2.3.0

##### Suggest a fix/enhancement
When doing the clientInterface->send it should pass the debug flag in through the options array.

[2017-10-20 13:18] wing328 commented on #6520
I do not recall the reason. One thing I would like to point out is that the body parameter can be optional so it makes sense to me `body` is initialized to `NULL`

I thought the following line is a NULL check:
[code]
If it's not, we need to replace it with a proper null check.

Disclaimer: not an expert in R

[2017-10-20 13:19] wing328 commented on #6767
Please fill out the issue form so that the community can help you out with the information you provided in the form

[2017-10-20 13:19] #6767 closed

[2017-10-20 13:20] wing328 commented on #6763
Can you try the latest master? I remember there were PRs merged into master to improve interoperability with ObjC

The SNAPSHOT version of 2.3.0 (master) can be found in the README.

[2017-10-20 13:52] wing328 commented on #6512
@frol that's ok. Let's see if someone from the community can spare some time to work on this.

[2017-10-20 14:00] #3500 closed

[2017-10-20 14:08] wing328 commented on #6415
@mvh77 OK. I would suggest you to upgrade the spec to 2.0.

[2017-10-20 14:08] #6415 closed

[2017-10-20 15:46] kenisteward commented on #6730
@martinmcwhorter we are currently working on making the generated library AOT compiled into a dist that you can publish.  Currently if you want it to work you can publish the entire uncompiled typescript generated library as my team has done here.

https://www.npmjs.com/package/@herd/angular-client

Basically we currently don't compile using NGC.  the original template only used tsc which doesn't

[2017-10-20 15:47] bjgill commented on #6756
Thanks.

Also, https://github.com/swagger-api/swagger-codegen/pull/6758 helpfully reverted changes to petstore yaml to add XML testing.

I think this yields two pieces of additional work:

- [ ] Add a means of testing `rust-server`'s XML support back in (in a way that doesn't break everything else!). I believe other generators already do this, so it should not be over-hard.
- [ ] The `rust-server`

[2017-10-20 15:51] kenisteward commented on #6730
@martinmcwhorter The other alternative is just to setup the tsconfig.json / package.json / rollup yourself based on the Angular Libarary Format

[2017-10-20 16:04] ehyche opened #6771 "Is there any existing tool for mapping definition names?"
##### Description

This is an information-seeking question. Before I spend any time developing a tool to do this, I want to make sure there is not an existing tool which already does this. Here is the problem I'm trying to solve.

We have an existing OpenAPI spec which is produced by a backend team. They use a naming convention which frequently incorporates the term "View", as in "WidgetView". To

[2017-10-20 16:21] masaeedu opened #6772 "[TypeScript-Fetch] Return type for non-parsed endpoints should be Response"
##### Description

The TypeScript fetch client currently falls back to returning a [`Promise<any>`](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-fetch/api.mustache#L256) in cases where the spec does not dictate a schema for the response.

At runtime, what it's actually returning is a fetch API [`Response`](https://developer.mozill

[2017-10-20 18:45] mrdj07 commented on #3069
Hi, wondering if there's any news about this issue. I don't really why we should keep the stripping of the "T" character in the date for JS.

[2017-10-20 22:08] xlxCLUxlx opened #6776 "[CSharp] Issue Generating Composite Types with Use of allOf"
Hi,

I am currently using the following:
	-swagger-codgen version 2.3.0
	-OpenApi Spec 2.0
	-Swagger declaration file url: https://github.com/Bungie-net/api/blob/master/openapi-2.json
	-Command Line Arguements (debugger eclispse): -i https://github.com/Bungie-net/api/blob/master/openapi-2.json -l csharp -o C:\Scratch\

This is my first time utilizing Swagger and OpenApi so any recommendations or a

[2017-10-20 22:18] cderv commented on #6520
I am not following everything from the beginning as I recently found this thread and because I am more a R expert than a Java expert.
In the snippet by @ramnov, as `body` is set to NULL inside the function but is also an argument of the function, the argument value is replace to NULL whatever is provided as argument. It is not used. Seems strange.

`missing` could be used inside function to test i

[2017-10-21 00:40] ramnov commented on #6520
@wing328 : correct code should be like this : if body parameter is passed, convert it to json string, else, use NULL :

if (!missing(body)) {
body <- body$toJSONString()
} else {
body <- NULL
}

@cderv  :  Here are some steps that I followed to install and test the petstore package :
1. Install maven, java, git, R
2. git clone https://github.com/swagger-api/swagger-codegen
3. cd swagger-codegen
4.

[2017-10-21 00:44] defmonk0 commented on #6723
@macjohnny So, just got around to testing that particular branch. It technically fixes the bug, allowing the error to go away. That said, it does so by simply not passing the body data at all, even if there is some.

For example, the same delete function as before has this signature:

[code]

The `contactIds` there are meant to be sent via the request body when it does delete. The return statement

[2017-10-21 01:20] jbs1 opened #6777 "[PHP] unable to access returned object due to protected container"
I am using an php client generated with v.2.2.2 from this [json](https://esi.tech.ccp.is/latest/swagger.json).
When I call an some endpoint it would return something like eg. this:

[code]
But as you can see the container is 'protected', thus i can't access anything inside, which makes it pretty useless.

I don't know if the 'protected' is there on purpose or if it is an error with the generation?

[2017-10-21 01:56] ackintosh commented on #6770
@tarioch Thanks for reporting the issue!  Let me check.

[2017-10-21 11:33] ackintosh commented on #6770
Can you attach a PR for this?

[2017-10-21 15:49] wing328 commented on #6777
Please try the latest master (2.3.0), in which the PHP client has been refactored with lots of improvements. SNAPSHOT version available in the README.

[2017-10-21 16:12] macjohnny commented on #6723
@defmonk0 please state your issue in the PR #6754
however, looking at the API docs https://angular.io/api/common/http/HttpClient , the delete method does not take any body argument:
[code]
so how is your parameter supposed to be transmitted?

[2017-10-21 16:28] dancrumb commented on #6442
Is there any update on when this fix will be available in a snapshot?

[2017-10-21 19:29] defmonk0 commented on #6723
[This is the API I've been using](https://twitter.com/julieeeaustinnn/status/920721266864197632), if you wanna take a look. Inside contacts->delete, it takes a list of contact IDs in the body of the call. I was aware of HttpClient not supporting body data on their delete calls, so I'm unsure how we'd best go about doing it. Technically, if you we use the request method instead of delete, we can do

[2017-10-21 23:51] Tesan3010 commented on #6744
I guess I'm missing something while installing from snapshot. Can you please tell me how do I install 2.3.0 from the snapshot.

[2017-10-22 03:43] giuliopulina commented on #6391
@florent37 I can help, but I would need more information:

1) which are the rules for parameter declaration order in Retrofit? Is there anything else except @Query and @Path param? I couldn't find documentation about this
2) Could you please confirm that this is happening only when some query parameters are marked as required?

[2017-10-22 05:09] wangyiran125 opened #6781 "put compute expression not regular expression put into swagger parameter"
##### Description
 want put expression into the parameter for example

  - name: "sign"
    in:  "header"
    description: Nonce
    required: true
    type: "string"
    default: "1000000"
  - name: "nonce"
    in:  "header"
    description: nonce
    required: true
    type: "string"
    default: "efg"
  - name: "appSecret"
    in:  "header"
    description: secret
    required: true
    type: "

[2017-10-22 05:11] wangyiran125 opened #6782 "how to put parameter default value into generated code in swagger"
swagger parameter default is not in generated code. for example:

   paths:
  /user/refresh.json:
    post:
      operationId: refresh
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: "RC-A

[2017-10-22 05:11] wangyiran125 commented on #6782
i use swagger2.0

[2017-10-22 07:41] wing328 commented on #6782
Please try the latest master (2.3.0), which has better support for default values.

SNAPSHOT version can be found in the README

[2017-10-22 13:42] Faerylnahr commented on #6657
Sry for my late response. I downloaded the latest version (2.2.3) and generated the csharp client. In addition I had a look at the PR and it looks quite good to me. But I do not find any hint of that in the generated code. Do you have an example how I could make use of both intercept methods after I added the generated client as reference to another project?

[2017-10-22 13:44] Faerylnahr commented on #6596
Any update on this? :-)

[2017-10-22 13:56] wing328 commented on #6596
@Faerylnahr I'll try to look into this in the coming week

[2017-10-22 15:00] #6696 closed

[2017-10-22 15:09] wing328 commented on #6391
@giuliopulina thanks for offering help on this.

1. I believe @path parameters must go first

2. My understanding is that the issue has to do with order of the parameters, not related to "required" or "optional".

cc @florent37

[2017-10-22 15:13] wing328 commented on #3069
@mrdj07 I don't think anyone is working on it. Please feel free to submit a PR with `date-fns` or other solutions. Let us know if you need any help.

[2017-10-22 18:44] giuliopulina commented on #6391
@wing328

1) I was wondering if there are any other rules (for retrofit annotations like @Body, @Field, @Header..), in order to not implement a partial fix just for this particular use case, but to implement the correct ordering for all cases
2) I was asking because I noticed that, in this section of code, params are reordered (if 'sortParamsByRequiredFlag' is enabled): as Path params are mandator

[2017-10-22 18:52] emersonmoura commented on #6336
The Pattern validator can only be used with a CharSequence children

[2017-10-22 23:20] inforeqd512 commented on #6763
Thanks for your reply. Can you pls give an indication of when would 2.3.0 be available as a stable version.

[2017-10-23 00:43] kenisteward commented on #5104
@wing328 Let me know when you want to talk more about this.  I have a little under a sprint (til nov 1)  to possibly work on this.

[2017-10-23 02:32] wangyiran125 commented on #6782
@wing328 hi, i use 2.3.0 to generate java code, the default value is generated in DevelopersApi.md file, but not in java code.

[2017-10-23 03:08] wing328 commented on #6763
Sorry no ETA. We hope to release it before year end.

[2017-10-23 03:38] jonschoning commented on #6782
I don't know about how the Java generator is supposed to work, but according to https://swagger.io/unlocking-the-spec-the-default-keyword/ the client does not need to set the default; it is the server that should assume the default value when it is not received by the client.  So it shouldn't be necessary to set the default on the client when communicating to a server that is following the spec ap

[2017-10-23 06:33] wangyiran125 commented on #6782
@jonschoning thanks,i use swagger3.0,and the  swagger-codegen-cli-3.0.0-20171009.075709-6.jar,my command is `java -jar swagger-codegen-cli-3.0.0-20171009.075709-6.jar  generate -i ~/Downloads/swagger.json --library=okhttp-gson  -l java -o /var/tmp/java_api_client`,but exception  [main] WARN io.swagger.codegen.ignore.CodegenIgnoreProcessor - Output directory does not exist, or is inaccessible. No f

[2017-10-23 07:16] tomer commented on #5840
Since #5836 is merged, doesn't this issue can be resolved?

[2017-10-23 07:18] wing328 commented on #6782
@jonschoning is right in saying that the API client does not take the default value (`{{{defaultValue}}}`) into account as the server should be setting the default value. (now I recall a similar discussion 2 years ago!)

[2017-10-23 07:20] wing328 commented on #6782
You may want to double check the spec.

[2017-10-23 07:43] frol commented on #5840
@tomer This issue is the follow-up improvement for that PR. Read my suggestion in the comments for more details.

[2017-10-23 08:18] wangyiran125 commented on #6782
@wing328 thanks,missing swagger input or config! may be a bug
like:https://github.com/swagger-api/swagger-codegen/issues/6517#issuecomment-337279894

[2017-10-23 09:38] wing328 commented on #6782
@wangyiran125 can you try the 2.3.0 SNAPSHOT instead?

[2017-10-23 09:52] wing328 commented on #6744
@Tesan3010 please download https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.3.0-SNAPSHOT/swagger-codegen-cli-2.3.0-20171022.172748-209.jar

[2017-10-23 09:54] wing328 commented on #6391
1. Yup, very good question and I agree we better fix everything related to the order of the parameters now instead of waiting for another users to report an issue to us.

2. Right. The default is to put all the required parameters (including path parameters) in front.

[2017-10-23 09:56] wing328 commented on #5104
@kenisteward Let me email you on this.

[2017-10-23 11:47] mirw commented on #6756
I have the hyper 0.11 upgrade/port pretty much working, and hope to get it out in the next week or so.

[2017-10-23 12:34] lunat opened #6784 "[CSharp] Issue Generating client when nonPublicApi = false"
Hi,

Csharp client generator creates all classes and methods as "internal" even if "nonPublicApi":"false".

I am using swagger-codgen version 2.3.0

Thanks,

lunat

[2017-10-23 13:09] kevinmic commented on #6286
I could also use this feature.   It is not good enough to have a "default enum value UNKNOWN" because you still lose the value of the enum being passed.

I need to consume someone else's swagger api and they use enums all over the place.   I don't want to consume these fields as enums, I want to consume them as Strings so that I future proof my client against the possibility of them adding new enu

[2017-10-23 13:24] kevinmic commented on #5950
The reason why a String would be useful instead of an enum is for handling future unknown values.   If I generate a client based on a given swagger definition with enums, and then the owner of the api  changes the enum by adding more values to that enum set, my client will not gracefully handle these values.

So for example, I GET an object from their api, make a few changes and then PUT it back.

[2017-10-23 13:40] #6762 closed

[2017-10-23 13:52] TehBakker commented on #5950
Well using an ENUM means you think the values will be fixed.
And will only change on "major" version.
If you think the values might change then String should be used imo.

Right now I end up with a null value in my code, unable to know if it was a null or a wrong value inputed.
So might as well use String as enum won't do validation and I lose information.

[2017-10-23 14:12] lunat opened #6785 "[CSharp] Issue with double numbers if local is not US"
Hi,

    I am using codegen 2.3.0.
In file ApiClient, the Method
`public string ParameterToString(object obj)`
contains an error at row:
[https://github.com/swagger-api/swagger-codegen/blob/c6b6249f1c792be804b2fb991cd0e104ce169536/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L311](https://github.com/swagger-api/swagger-codegen/blob/c6b6249f1c792be804b2fb991cd0e104ce169536/m

[2017-10-23 14:38] wing328 commented on #6520
UPDATE: submitted https://github.com/swagger-api/swagger-codegen/pull/6786 to fix "Error: attempt to apply non-function"

[2017-10-23 14:51] #6614 closed

[2017-10-23 14:56] RaulBarranquero opened #6787 "Identify specific operations"
Hello, for latest version we are using a custom mustache template to generate code for rest controller, using Swagget-Code-gen we identify GET, POST, etc with:"isRestfulCreate","isRestfulIndex","isRestfulShow" variables.

Using the command below:
java -jar  swagger-codegen-cli.jar generate -i customerManagement_v2.1.1.json -l spring -o samples/server/CustomerManager -t ../Templates/JavaSpring/ -Dd

[2017-10-23 15:20] cbornet commented on #5950
@TehBakker agreed. As per JSON schema spec, enum is a validation keyword and should be used as such

[2017-10-23 15:34] wing328 commented on #6703
I think a better way is to add a "Help.java" class in "modules/swagger-codegen-cli/src/main/java/io/swagger/codegen/cmd"
[code]

Your PR is acceptable and let's see if someone from the community can help create the "Help.java" later.

[2017-10-23 16:48] wing328 commented on #6657
Please try the latest master (2.3.0) SNAPSHOT version instead of 2.2.3: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-10-23 17:00] erickcsh commented on #6282
Hello Bruno, sorry for the late response. Actually I started using an older version instead of 2.3.0-SNAPSHOT

[2017-10-23 17:29] jbs1 commented on #6777
when i try to use v2.3.0 according to the documentation generated it gives me an `Uncaught Error: Class Http\\Adapter\\Guzzle6\\Client`

[2017-10-23 18:26] kevinmic commented on #5950
With the way swagger codegen currently works I can't make that choice.   I am forced to use enums if the api specifies enums.

@cbornet That is great from an API Generation stand point.    It communicates valid values for this field.   It may not be so great as the consumer of an api though.    I may not care what the field contains.   I may have to code around mistakes made by the owner of the ap

[2017-10-23 18:38] TehBakker commented on #5950
I understand your point if view Kevin, however I'm on the other side, as API server and I can't benefit from validation offered by the Enum keyword and have to add manual validation to see if the enum was null or a wrong value.
Kinda same issue as you describe on the server side.

As someone designing my server, I'm using enum because it's not supposed to change. If I was to add other value, I wou

[2017-10-23 18:59] kevinmic commented on #5950
Sorry @TehBakker for attempting to hijack your original issue.  I followed #6286 to here and posted on both.   The problems seem related, we want to control how the client handles enums.   Whether it be more validation or less.

[2017-10-23 19:07] itsTeknas opened #6789 "[Typescript][Angular] File uploads not working"
##### Description

Methods generated with the client generated by angular2-typescript do not handle file uploads properly.

##### Swagger-codegen version

Live editor.swagger.io version. I don't know which one they use.

##### Swagger declaration file content or url

Any method declared with a file is affected.
[code]

Generates something like :

[code]

##### Suggest a fix/enhancement

The Follow

[2017-10-23 22:01] Ghost93 commented on #6336
@emersonmoura that's true, and this is why I'm asking why was @Valid annotation created for byte[] field

[2017-10-23 23:09] emersonmoura commented on #6336
@Ghost93 Sorry, did not realize that it was generated code. In any case it should not be so.

[2017-10-24 01:38] kenisteward commented on #6248
@advance512 you can try using the typescript node one instead and tell it to compile to es5.  I'm actually going to make an issue to retire existing javascript clients in the near future as any typescript client can be templated to compile to whatever you want.

[2017-10-24 02:46] wing328 commented on #6520
@cderv the fix (#6786) has been merged into master. Please give it a try and let us know if you still see issues.

(if you need more information on using the SNAPSHOT version of the latest, please let me know)

[2017-10-24 02:58] wangyiran125 commented on #6782
@wing328 tried 2.3.0,but the same exception when i use swagger 3.0  Exception in thread "main" java.lang.RuntimeException: missing swagger input or config!

[2017-10-24 03:03] wing328 commented on #6782
@wangyiran125 can you please share the spec (e.g. via gist.github.com)?

[2017-10-24 03:35] wing328 commented on #6731
Closed via #6733

[2017-10-24 03:35] #6731 closed

[2017-10-24 04:30] Tesan3010 commented on #6744
Thanks @wing328 , 2.3.0-cli doesn't have this issue.

[2017-10-24 04:32] TheFirstLairron commented on #6719
Hey, sorry for going dark on you guys. I've been fairly busy so I don't think I will have any time to put together a PR for you guys. At least not soon. If this is still active when I have more time than i would be more than happy to help.

[2017-10-24 04:51] wing328 commented on #6744
@Tesan3010 thanks for the confirmation. Issue closed.

[2017-10-24 04:51] #6744 closed

[2017-10-24 06:08] devdream02 opened #6791 "Jaxrs-cxf server generation compilation error, because of cannot find symbol error"
##### Description

I am trying to generate the jaxrs-cxf server stub using swagger codegen maven plugin v2.2.3, while i try to build the project its throwing me below compilation error.

[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /C:/Users/devyansh.mittal/Downloads/e1-protocol-library/e1-protocol-library-service-api/target/generated-sou

[2017-10-24 07:16] stevecookform3 commented on #5950
@TehBakker

The proposal in #6286 would still use the enum keyword. If you use swagger codegen to build your server, many languages (including Java/spring, which I use) will automatically generate the validation code on the server for you, so that shouldn't be an issue. (And if validation is not generated, you shouldn't be relying on client validation for your API, or you risk exposing issues in y

[2017-10-24 07:30] TehBakker commented on #5950
Hum ?

I'm not relying on client validation.
I'm on the server side and getting a null value for an enum field right now means I do not know if the user inputed a wrong value or if he did not input any value.

Obviously on server side if the client sent a wrong value I want to throw a validation error.
And this would be handled by the deserialization process in most framework.

[2017-10-24 07:36] stevecookform3 commented on #5950
Ah ok. I understand. I think then a good option would be:

1. For server side, enum with UNKNOWN (as you suggest)
2. For client side, either enum or optionally generation of string/constants as proposed in #6286

[2017-10-24 08:09] TehBakker commented on #5950
I'm not suggesting UNKNOWN (although that would be better than what I've now), since that would force me to not ave UNKNOWN value in my Enum (which in fact I already have).
I'm hoping to have my server, or at least an option to do, behave like the default Enum validation pattern, throwing a validation exception if the value does not match a value of my Enum.

[2017-10-24 08:30] wing328 commented on #6596
@Faerylnahr I've submitted #6792. Please give it a try:
[code]

[2017-10-24 08:59] giuliopulina commented on #6391
so it seems that the only two conditions related to ordering of parameters are the following ones:

https://github.com/square/retrofit/blob/522592bb11fc8aa1ee491c3e7a1fe55675c372cd/retrofit/src/main/java/retrofit2/ServiceMethod.java#L366-L368

https://github.com/square/retrofit/blob/522592bb11fc8aa1ee491c3e7a1fe55675c372cd/retrofit/src/main/java/retrofit2/ServiceMethod.java#L386-L388

But as codeg

[2017-10-24 09:32] wing328 commented on #6791
Can you please try the latest master (2.3.0)? SNAPSHOT version can be found in the README

[2017-10-24 11:29] kaelumania opened #6793 "[RUBY] additionalProperties generates Array type-check instead of Hash"
##### Description

When a model of type `object` is used with `additionalProperties` declaring a sub-schema, the generated ruby model code does a type-check on `Array` instead of `Hash`.

See the following code mentions:
- [partial_model_generic](https://github.com/swagger-api/swagger-codegen/blob/7bbe3dcb53e849f6be809a99ef93b82851dd9a9e/modules/swagger-codegen/src/main/resources/ruby/partial_mode

[2017-10-24 12:12] cbornet commented on #5950
I tend to agree with Zalando's guidelines on the subject : http://zalando.github.io/restful-api-guidelines/#112 http://zalando.github.io/restful-api-guidelines/#125 .
Enum should only be used for closed enumerations (eg. "MONDAY", "TUESDAY", ...). Now I also understand that all swagger spec publishers don't respect this rule...

[2017-10-24 12:58] Faerylnahr commented on #6657
After some tries I got it managed to generate a csharp client (incl. some warning in regard to JsonSubTypes class). But I still see InterceptRequest and InterceptResponse being declared as partial and could find a Logger class as mentioned in #5689
Did I oversee something?

[2017-10-24 13:01] iarechagaMM commented on #1575
As @maxusoltsev said, you have to be really careful with the indentation

[2017-10-24 13:49] wing328 commented on #6777
cc @jebentier @dkarlovi @mandrean @jfastnacht @ackintosh

[2017-10-24 13:52] JFCote commented on #6472
Closing this since it has been fixed in https://github.com/swagger-api/swagger-codegen/pull/6480

[2017-10-24 13:52] #6472 closed

[2017-10-24 13:54] JFCote commented on #6363
This problem is no longer relevant and has been fixed using other techniques in the JavaPlayFramework. Closing this.

[2017-10-24 13:54] #6363 closed

[2017-10-24 14:51] #6649 closed

[2017-10-24 15:06] RikEnde opened #6795 "[Java] Bug: Path parameter of type ENUM generates faulty code with JavaSpring api.mustache template"
##### Description

Path parameter of type ENUM generates faulty code with JavaSpring api.mustache template

Corresponding code is generated correctly if the in: parameter is changed from path to query

Actual:
[code]

Expected:
[code]
##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

[code]
##### Command line used for generation

swagger-codegen-gradle-plugin: id

[2017-10-24 16:01] set321go commented on #6511
I'm seeing the same issue, I tracked down these PR's from the release notes that seem to concern the importMappings (which i think is causing the problem).
https://github.com/swagger-api/swagger-codegen/pull/5384
https://github.com/swagger-api/swagger-codegen/pull/6063

I tried adding `importMappings` but that didn't change anything.

[code]

[2017-10-24 18:31] edescourtis opened #6798 "[ELIXIR] Bug dialyzer typespecs not correct for Tesla API calls"
##### Description

`%Tesla.Client{}` uses typical middlewares such as `Tesla.Middleware.Timeout` or `Tesla.Middleware.Fuse`. When a server is unreachable for example the return value is usually something like `{:error, :unavailable}`. And in some cases, an exception can be thrown. However, the typespec generated by swagger codegen doesn't take this into account resulting in tons of error when doin

[2017-10-24 19:02] set321go commented on #6511
After further investigation the line in my code that results in a null getting into the imports set is `public Response getAddresses(@ApiParam(value = "IDs to get by", required = true) List<String> addressIds)`

As maha79 identified this occurs at L2582

[code]

The toString for this instance is `inner(List<String>)` and `complexType` is indeed null, should it be for this type?

Looking a little f

[2017-10-24 19:52] brian-byungsookim opened #6800 "[Java] @Deprecated annotation fix"
##### Description
OAS 2.0 supports deprecated methods, and the Java libraries should reflect that. There was a previous PR related to this, but that didn't include the actual Java `@Deprecated` method annotations.

##### Swagger-codegen version
2.3.0

##### Related issues/PRs
https://github.com/swagger-api/swagger-codegen/pull/6166

##### Suggest a fix/enhancement
Will submit a PR fixing this.

[2017-10-24 21:32] arcward commented on #6761
Since you referenced Python... as far as the python client goes, you can totally do this with some extra manual steps. It's what I've done in my client(s). It also helps to keep the underlying configs consistent when you don't wanna roll with the defaults.

Each individual client takes an instance of ApiClient anyway, so you can basically just modify ApiClient to instantiate each client as its own

[2017-10-24 21:56] bherila commented on #5104
I will say that I still currently use the typescript-fetch generator and am very happy with it

[2017-10-24 23:16] inforeqd512 commented on #6763
Thanks for this. :-)

[2017-10-24 23:25] inforeqd512 opened #6802 "[Swift4] OpenAPI V3.0 - Server Tags convert into injectable objects?"
##### Description

This may be an enhancement request for when you have a capability to codegen v3.0 of the Swagger specs.

In V3.0 there is a servers tag where we can specify multiple servers eg production, staging, development. If these can be converted into injectable objects, then we can use it to instantiate requests to appropriate base paths depending on the destination.

Currently, the Open

[2017-10-25 02:53] #6727 closed

[2017-10-25 02:57] #6748 closed

[2017-10-25 03:14] wing328 commented on #6719
@TheFirstLairron it has been fixed by https://github.com/swagger-api/swagger-codegen/pull/6799 (by @hisener )

Please pull the latest master to give it a try or use the SNAPSHOT version (2.3.0) mentioned in the README

[2017-10-25 03:23] wing328 commented on #6802
@inforeqd512 thanks for the feedback.

For other API clients (e.g. Ruby, Python, PHP), the base path (e.g. https://petstore.swagger.io/v1) can be changed during runtime. Maybe the Swift client can do something similar as a workaround for the time being.

cc @jgavris @ehyche @Edubits @jaz-ah

[2017-10-25 03:23] wing328 commented on #6800
Fixed via https://github.com/swagger-api/swagger-codegen/pull/6801

[2017-10-25 03:24] #6800 closed

[2017-10-25 03:26] wing328 commented on #6798
@edescourtis thanks for reporting the issue. May I know if you've time to submit a PR with the suggested fix?

cc @niku @chingor13

[2017-10-25 03:27] wing328 commented on #6795
@RikEnde can you try the latest master (2.3.0) to see if the issue persists? SNAPSHOT version of 2.3.0 can be found in the README.

[2017-10-25 03:28] wing328 commented on #6793
@kaelumania thanks for reporting the issue. Can you try the latest master (2.3.0) to see if the issue persists? SNAPSHOT version of 2.3.0 can be found in the README.

[2017-10-25 03:29] wing328 commented on #6789
Please try the latest master (2.3.0), which has a lot of enhancements. SNAPSHOT version of 2.3.0 JAR can be found in the project's README.

[2017-10-25 03:55] wing328 commented on #6781
Are you looking for the `pattern` attribute?

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#items-object

[2017-10-25 03:55] wing328 commented on #6749
Closed via #6752

[2017-10-25 03:55] #6749 closed

[2017-10-25 03:56] wing328 commented on #6745
@inthegarage can you try the latest master (2.3.0)? SNAPSHOT version can be found in the README

[2017-10-25 03:58] wing328 commented on #6746
To make our life easier, can you pls share the full spec and a minimal spec to repeat the problem?

[2017-10-25 04:17] ramnov commented on #6520
Hi @wing328 the PR looks good for fixing the body parameter. Although I see 2 other empty parameters :

queryParams <- list()
headerParams <- character()

These 2 values are always empty when passing to callApi. Should we add these to ApiClient.R or get these values from user for every single function. If we decide to get it from the user , it will be like this :

create_users_with_array_input = f

[2017-10-25 04:34] #6772 closed

[2017-10-25 05:24] macjohnny commented on #6789
@itsTeknas @wing328 this was fixed with https://github.com/swagger-api/swagger-codegen/issues/6457 (https://github.com/swagger-api/swagger-codegen/pull/6574)

[2017-10-25 05:29] macjohnny commented on #5681
@kirpit recently, some changes regarding enums have been comitted. could you retry with the current master and close the issue if it is resolved?

[2017-10-25 05:31] macjohnny commented on #5482
@babolivier this issue should be resolved with the current master. can you check that and close this issue?

[2017-10-25 05:33] sashank opened #6804 "[java play framework] not able to generate java-play-framework server stubs"
##### Description

While generating java play framework server stubs , it gives below errors

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

NA

##### Command line used for generation

`wget https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen-cli/2.2.1/swagger-codegen-cli-2.2.1.jar`

[code]
Notice that in the above java-play frame

[2017-10-25 05:43] kirpit commented on #5681
Will do that a.s.a.p (that probably means sometime in the weekend). Thanks for the heads up!

[2017-10-25 06:19] kaelumania commented on #6793
@wing328 thanks for the quick response. Yes, in version `2.3.0` the issue still exists. Or do I need to convert my map of maps into some kind of Array structure before putting it into the model?

[2017-10-25 06:43] kaelumania commented on #6793
@wing328 I changed the template part to
[code]

[2017-10-25 07:00] razalur opened #6805 "Installation of v2.2.2"
Is it possible to install v2.2.2 with brew on MacOSX?

[2017-10-25 07:51] ornithocoder commented on #6746
Sure. This is a fake one but reproduces the problem:

[code]

[code]

[code]

Thanks :-)

[2017-10-25 07:59] razalur commented on #6805
There is no way to do it with brew. But I've got it by java. This case you can see in instruction.

[2017-10-25 07:59] #6805 closed

[2017-10-25 08:24] inthegarage commented on #6745
@wing328 I can confirm this is fixed in Master. Good work.

[2017-10-25 08:24] inthegarage commented on #6745
Should I close or is it best you do so with a version reference?

[2017-10-25 08:59] wing328 commented on #6745
@inthegarage thanks for confirming the issue has been addressed in the latest master. I just closed it.

[2017-10-25 08:59] #6745 closed

[2017-10-25 10:47] andrewharrison135 opened #6806 "Enum definition of type integer generates invalid Java code"
##### Description
The output of the following swagger generates invalid Java code.
The code that is generated by default with the Java language uses Google GSON JsonReader for parsing JSON objects. The generated code uses
[code]
 for the read method but it should be
[code]
as per the GSON docs: https://google.github.io/gson/apidocs/com/google/gson/stream/JsonReader.html#nextInt--

I'm not sure wha

[2017-10-25 11:45] efecarranza opened #6807 "PHP Authorization Not Working"
##### Description

Hi, I am currently using swagger-codegen to generate an SDK. We've added basic authorization to our API and I want the SDK to have the username/password already so I can make requests.
If I'm reading the documentation correctly, this should be possible, and I don't have to manually set the username and password every time I'm going to use the SDK from my App.

The client that's

[2017-10-25 12:05] ackintosh commented on #6777
@jbs1  Hi. Thanks for reporting the issue.

- The first argument of API  is [optional](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Api/PetApi.php#L66).
- If the argument is omitted,  [`GuzzleHttp\Client` will be instantiate](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/A

[2017-10-25 12:49] RikEnde commented on #6795
With the 2.3.0 snapshot no difference.

Steps followed to reproduce:

(please excuse ham fisted attempt at anonymizing code)

[code]

Result:

[code]

[2017-10-25 13:29] wing328 commented on #6795
@RikEnde thanks for testing the latest master

I've file #6810 to fix the issue. I wonder if you can help perform a test by
[code]

[2017-10-25 13:32] wing328 commented on #6793
@kaelumania the fix looks good to me 👍
I would suggest replacing the following
[code]
with
[code]
which should also work

[2017-10-25 13:52] kaelumania commented on #6793
@wing328 I think the `^` before `^isMapContainer` in your example is wrong?

[2017-10-25 14:14] wing328 commented on #6793
@kaelumania sorry for the typo. Just updated it.

[2017-10-25 14:28] RikEnde commented on #6795
The result looks good now:

```ResponseEntity<List<Animal>> animalTypeMeterNumberGet(@ApiParam(value = "The identifier for the animal",required=true) @PathVariable("nr") String nr, @NotNull@ApiParam(value = "Animal type.", required = true, allowableValues = "CAT, DOG") @Valid @RequestParam(value = "type", required = true) String type, @RequestHeader(value = "Accept", required = false) String accep

[2017-10-25 14:30] #6795 closed

[2017-10-25 14:31] wing328 commented on #6795
@RikEnde thanks for performing some tests on the PR, which has been merged into master.

[2017-10-25 14:33] RikEnde commented on #6795
I was too hasty, I forgot i had changed the parameter type from path to query in the specs.yml file.

I ran the test again, and the result is still good:
[code]

thanks again!

[2017-10-25 14:49] wing328 commented on #6793
@kaelumania I wonder if you can submit a PR for the fix when you've time.

[2017-10-25 15:08] rnhurt opened #6811 "[Go] GoDaddy API files not being generated properly"
##### Description

I'm trying to generate Go code for the GoDaddy API located at https://developer.godaddy.com/swagger/doc/resources.  Everything works fine except it doesn't generate code for several of the resources; namely the Domains resource.  There is no error, it just doesn't generate any client code.  I've tried turning on Swagger-CodeGen debugging but it just shows that it processed every

[2017-10-25 18:51] JFCote opened #6813 "Unable to follow/detect model reference in another file ($ref)"
##### Description

Using the simple petstore sample split into files, swagger-codegen is unable to generate any of the models.

During the generation, I receive this log for each model:

[main] WARN io.swagger.codegen.examples.ExampleGenerator - Ref property with empty model.
[main] WARN io.swagger.codegen.examples.ExampleGenerator - Ref property with empty model.
[main] WARN io.swagger.codegen.ex

[2017-10-25 20:20] edescourtis commented on #6798
Perhaps! I will see what I can do.

[2017-10-25 23:59] inforeqd512 commented on #6802
Yes thank you.. We are doing that for now, but were hoping to be able to link it instead with end points in the spec

[2017-10-26 00:34] jhunthrop opened #6815 "[git] Add variable for github hostname in git_push.sh template"
##### Description

The git_push.sh template does now allow for the target github endpoint to be changed.
A variable should be added to allow changing of this endpoint to support github enterprise usage, etc..

[2017-10-26 08:58] kaelumania commented on #6793
@wing328 I did a PR, hopefully that matches your expectations.

[2017-10-26 09:02] HermenOtter opened #6817 "[Typescript-Angular] Not generating from model referenced definition."
I have been searching for a similiar issue, but the proposed solutions didn't solve my problem.

##### Description

In swaggerhub we have several api definitions. There is one 'domain' api that contains shared definitions and responses, however when this shared api is referenced by one of the api's: models for the definitions in the shared api are not generated.

I want to know how I can reference

[2017-10-26 09:46] wing328 opened #6818 "[Scala][Finch] Further enhancements to the Finch generator"
##### Description

Here is a list of suggested enhancements to Scala Finch generator by @jfraudeau

- [ ] Add support for Cookie parameters (OAS 3.0)
- [ ] Query parameters and Header that are not interpreted as strings
- [ ] All arities aren't always handled
- [ ] Improve code quality

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-c

[2017-10-26 09:56] wing328 commented on #6807
@efecarranza do you mean you want to hardcode the username and password in the PHP API client?

[2017-10-26 09:57] #5608 closed

[2017-10-26 10:00] efecarranza commented on #6807
hey @wing328 thanks for the prompt reply. What i understood was that passing --auth and my username:password would set it in the config, so I wouldn't have to add it elsewhere in my app. if that's not the case I can close the issue.

if that's not the case, what does passing --auth do exactly then?

thanks

[2017-10-26 10:05] wing328 commented on #6807
If the URL to the specification (e.g. https://api.security.org/swagger.json) is protected with HTTP basic authentication, one can use the `--auth` parameter provide the username and password to access the protected spec.

We do not recommend hard-coding username/password in the mustache templates or auto-generated code.

[2017-10-26 10:06] wing328 commented on #6807
Btw, 2.3.0 (master) has the PHP client refactored. Please give it a try and let us know if you've any feedback. SNAPSHOT version of 2.3.0 (master) can be found in the project's README

[2017-10-26 10:14] efecarranza commented on #6807
@wing328 thanks for explaining that to me. i was reading it wrong.

[2017-10-26 10:15] #6807 closed

[2017-10-26 10:55] bmordue opened #6819 "[JAVA] application/json is not the best choice for default content-type"
##### Description

The default java template (and the "library" java variants) apply a default content-type of `application/json` if it is not specified. :

https://github.com/swagger-api/swagger-codegen/blob/4f3c86aa145e040024ee4d539947cf3b69c60d21/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache#L526

I don't think it is correct to assume this content-type. This may cause parsi

[2017-10-26 11:10] moreyeel commented on #6690
Any ideas about this one?

[2017-10-26 11:25] bmordue commented on #6819
Some problems with this: serializing as application/octet-stream at the client side.

[2017-10-26 11:55] HermenOtter commented on #6817
[This issue](https://github.com/swagger-api/swagger-codegen/issues/4285) explains a workaround, but I wonder if this issue is going to be fixed or that it can't be fixed?

[2017-10-26 11:59] #6793 closed

[2017-10-26 12:05] JFCote commented on #6804
Hi!
I'm the main contributor to the Java Play Framework generator. If I'm not mistaking, the first version with the generator is 2.3.0. Try getting the latest available version and try again.
Thanks

[2017-10-26 13:23] wing328 commented on #6511
@set321go do you mind submitting a PR with a proper null check when you've time? or share a spec so that we can more easily reproduce the issue while working on a fix later.

[2017-10-26 13:33] HermenOtter opened #6822 "[Typescript][Angular] bug: Enum generates empty name."
##### Description

I think something went wrong when the enum generation [recently changed](https://github.com/swagger-api/swagger-codegen/issues/6206). It currently generates empty names?

##### Swagger-codegen version

The current(time of writing) master (commit f78d958ec01917353fa43aad49ad4f6744843bdb ))

##### Swagger declaration file content or url
**The defined enum:**
[code]

**Referenced i

[2017-10-26 14:37] clembou590 opened #6824 "PROBLEM GENERATING java ENUM FROM api"
##### Description
when requesting the generation of the java files, the generated enums class are not valid.
here is an exemple of the enum generated.

`public enum CarType {

  MOTO("moto"),

  CAR("car"),

  MONOSPACE("monospace"),

  UTILITAIRE("utilitaire");

  private  value;

  CarType( value) {
    this.value = value;
  }`

--> THE CONSTRUCTOR TAKES A PARAMETER BUT THE TYPE IS NOT SET
--> T

[2017-10-26 16:01] niku commented on #6798
@earldouglas
Hi, I just publish [a PR](https://github.com/swagger-api/swagger-codegen/pull/6821) that fixes typings in `RequestBuilder`.
The changes have fixed a lot of error more than I expected 😅

I guess It removes errors that is described in this issue.
So, I recommend  checking that PR before you tackle this issue.

[2017-10-26 16:17] rnhurt commented on #6811
I just tried running against the [master] branch and it still fails in the same, nondescript way.  There seems to be a complex interaction in the `domains` file that is causing a silent failure somewhere but I have no idea where to even start looking.

I'm tying to reduce the problem down to it's barest components but not having much luck.  If I remove the "models" component of the `domains` file

[2017-10-26 16:30] wing328 commented on #6765
@trenneman Please patch modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractTypeScriptClientCodegen.java and we'll review the change.

[2017-10-26 16:43] earldouglas commented on #6798
@niku I think you meant to mention @edescourtis

[2017-10-26 16:57] wing328 commented on #6815
@jhunthrop yup, that's a good idea. May I know if you've time to contribute the enhancement? I can show you some good starting points.

[2017-10-26 17:07] rnhurt commented on #6811
OK, I've been able to narrow it down (I think).  Refer to [this gist](https://gist.github.com/rnhurt/d8ffcda5d363e61c40aa232e596d6154) which shows a `domain-works` file and a `domain-fails` file.  When you replace the `.../v1/domains` file contents with the `domain-works` content it does generate a `v1domains_api.go` file (although with errors).  Using the `domains-fails` content in the same way d

[2017-10-26 17:53] tony-gutierrez commented on #6813
It seems like basically no swagger tools other than the old version of the editor(editor2) and swaggerui actually support external refs.

[2017-10-26 17:56] tony-gutierrez commented on #6817
Doesnt follow external refs for ruby in the online generator either.

[2017-10-26 17:57] JFCote commented on #6813
@tony-gutierrez : If that is true, then I guess I will have to stick with my method to bundle all my `yaml` files to a single `json` and do the generation from this json file.
@wing328 : Can you confirm this?

[2017-10-26 18:04] tony-gutierrez commented on #6813
I'm by no means an official source, i have just been spending the last hour trying to generate any possible code in any language, from a multi spec file, with no results.

[2017-10-26 18:13] JFCote commented on #6813
@tony-gutierrez : Yeah I got the same feeling in my own experience. @wing328 is an official source and we should be fixed when he will answer.

[2017-10-26 21:39] niku commented on #6798
I'm very sorry for making a wrong mention 🙇

[2017-10-26 21:44] niku commented on #6798
Now, I send a mention to @edescourtis
Please read a comment https://github.com/swagger-api/swagger-codegen/issues/6798#issuecomment-339714863

[2017-10-26 22:48] charlescapps opened #6825 "[Java] Feature request: google-api-client client library"
##### Description

The `google-api-client` [HTTP client](https://github.com/google/google-api-java-client) is a really standard HTTP client used in GCP, and it was used by a Google technology that was basically a clone of swagger (Cloud Endpoints). It's a very common HTTP framework used in GCP, and has good interop with the authentication abstractions provided by Google.

e.g. you can combine HTTP

[2017-10-27 04:49] inforeqd512 opened #6827 "[Swift4] required=true parameters should not be optionals"
##### Description

For parameters that are marked as required in Swagger, the generated model objects currently show them as optional.

Can you pls have it so they are not optionals and are definitely initialized and, assertion failed/given a type safe default, when deserializing it from JSON

##### Swagger-codegen version

Currently 2.2.3

##### Swagger declaration file content or url

NA

#####

[2017-10-27 06:27] inforeqd512 commented on #6763
Ran the YAML against codegen Version 2.3.0 but the files still don't show the objective C compatibility annotations... Am I missing some codegen option that will turn it on?

[2017-10-27 07:02] feikede commented on #6517
Built my jar from the 3.0.0 branch today. It's still failing to read the "openapi" spec. Fails for json input and yaml input (stacktraces like here in the thread before). But the editor works with 3.0.0. I am sad. Is there any hint for a date when we plan to release a codegen-cli for OAS 3?
Can I help somehow?

[2017-10-27 08:07] balzaczyy commented on #5178
When will this be released? 2.2.3 still has this issue.

[2017-10-27 08:30] #6676 closed

[2017-10-27 08:30] wing328 commented on #6662
@SimonCheung1989 let us know if you still need help on this.

[2017-10-27 08:30] #6662 closed

[2017-10-27 11:30] macjohnny commented on #6822
@bedag-moo could you have a look at this?

[2017-10-27 13:23] itschrono commented on #283
Am I wrong or there is no **server** version for this two ? (qt5cpp-server, cpprest-server ?)

[2017-10-27 13:44] wari opened #6830 "Bug in generating kotlin enums"
##### Description

Given the following enum declarations in the yaml file:

[code]

The kotlin code generated has errors.

[code]

##### Swagger-codegen version

2.2.3 and master

##### Swagger declaration file content or url

http://sftp.solace.com/download/VMR_SEMPV2_SCHEMA_YAML
http://sftp.solace.com/download/VMR_SEMPV2_SCHEMA_JSON

##### Command line used for generation

java -jar swagger-code

[2017-10-27 13:44] itschrono opened #6831 "[VB.net, Visual Basic] Feature Request - Client (And Server) code generation"
Hello everyone,

Everything is in the title I presume.

My personal issue is:
I might need to use an vb.net client for already existing software. So it is a bit cumbersome to change language / API of the existing code.
But if you can point me to an alternative I am all ears.

Thanks a lot.
Best regards.

Antoine

[2017-10-27 13:51] bedag-moo commented on #6822
That is not my code; emitting this const was added by @kenisteward in f7471add70f1cabdd597aecc304fd131016cae3e

[2017-10-27 14:15] kenisteward commented on #6822
I'll take a look at this. Could you give me the complete example of your yaml or is this it?

[2017-10-27 14:16] kenisteward commented on #6822
Also could you give me the full model generation so I can make sure I know what is wrong

[2017-10-27 14:17] wing328 commented on #283
@itschrono there are C++ server generators for Pistache and Restbed. Would that meet your requirement?

[2017-10-27 14:18] rnhurt opened #6832 "[All] spec 1.2 doesn't WARN or ERROR on invalid template"
##### Description

##### Swagger-codegen version

v2.2.3

##### Swagger declaration file content or url

[code]

##### Command line used for generation

    swagger-codegen generate -i bareminimum.json -o bm1 -l go

##### Steps to reproduce

1. Run the command
1. Notice that it _does not_ generate a `my_error.go` class nor does it throw a warning or an error
1. Change the `"description"` value to

[2017-10-27 14:19] rnhurt commented on #6811
Moved to #6832

[2017-10-27 14:19] #6811 closed

[2017-10-27 14:20] kenisteward commented on #6822
@hermenOtter I have a feeling it is because I used enum name somewhere I should have used class name but when I get your fully generated model example and a yaml to go off I can check for sure

[2017-10-27 14:23] wing328 commented on #5758
@giflw do you mind submitting a PR so that we can review more easily?

[2017-10-27 14:35] #6391 closed

[2017-10-27 14:36] wing328 commented on #6391
@florent37 the fix by @giuliopulina has been merged into master.

I wonder if you can give it a try by pulling the latest master or using the SNAPSHOT version of 2.3.0 as mentioned in the project's README

[2017-10-27 14:39] itschrono commented on #283
I guess it will for my C++ (Qt5 standalone software). Now I may need a visual basic client (I known it's lame xD) see #6831

[2017-10-27 14:42] kenisteward commented on #6822
@HermenOtter Please check #6833 changes on my forked repo to see if it fixes your issue

[2017-10-27 14:45] #6445 closed

[2017-10-27 14:47] #6596 closed

[2017-10-27 14:47] wing328 commented on #6596
@Faerylnahr the PR has been merged into master. Please pull the latest master to give it a try or use the SNAPSHOT version of 2.3.0 as mentioned in the README.

[2017-10-27 14:50] wing328 commented on #6831
@itschrono would you have time to contribute the generator? https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework is a good starting point.

[2017-10-27 17:02] jebentier opened #6835 "General Dockerfile Cleanup"
##### Description

There are some layer optimizations that can be made in order to improve the docker image build time and size.  Doing these optimizations are low risk and will decrease build time of the images.

##### Suggest a fix/enhancement

Reordering of some of the layers to take advantage of build caching and using COPY over ADD in certain areas will decrease the build time.

[2017-10-28 01:42] jbs1 commented on #6777
without using the `new \Http\Adapter\Guzzle6\Client()`
it leads to failing of methods that need OAuth authentication by throwing a
`resulted in a '403 Forbidden' response:\n{"error": "Missing or invalid token.", "sso_status": 400}`

and it doesn't matter whether I directly give the access token as a parameter in the method or set it via
`Swagger\Client\Configuration::getDefaultConfiguration()->set

[2017-10-28 02:30] wing328 commented on #6763
You probably need the following option enabled:
[code]

Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l swift4

[2017-10-28 03:47] kenjones-cisco commented on #5995
Server completed in PR #6826
Client completed in PR #6839

[2017-10-28 06:37] #5358 closed

[2017-10-28 20:22] etherealjoy opened #6841 "[QT5CPP] Code generator does not handle the additionalproperties section of the yaml for qt5cpp"
Code generator does not handle the **additionalproperties** section of the yaml for qt5cpp

##### Description

Whenever the yaml have **additionalProperties** the generated code is missing handling for the QMap caused by the arbitrary name of the property.

when the **additionalProperties** is referencing an array the generated code is also missing handling the QList from the additional property w

[2017-10-29 00:36] bbdouglas commented on #6379
I verified that with the latest master this issue has been fixed. I believe this issue can be closed.

Here is the definition of the MyList class now, generated with the spec given in the issue description:

    public class MyList extends ArrayList<String> {

[2017-10-29 02:40] jimschubert commented on #6784
@lunat how are you declaring `nonPublicApi`? This is an additional-property option.

[2017-10-29 02:43] jimschubert commented on #6785
@lunat this sounds like a reasonable fix to me. Are you able to submit a PR and verify that it has resolved your issue?

[2017-10-29 02:48] jimschubert commented on #6728
swaggerapi/swagger-codegen-cli, I believe, is only intended to be "latest master" as a way to allow devs to evaluate "latest master" without pulling down and compiling the entire repository.

I have a personal image with tagged versions if needed: https://hub.docker.com/r/jimschubert/swagger-codegen-cli/tags/.

But I agree it would make more sense to have officially versioned developer images base

[2017-10-29 10:59] #6379 closed

[2017-10-29 13:50] wing328 commented on #5178
Sorry there's no ETA at the moment. Please use the SNAPSHOT version mentioned in the README or build the latest master by cloning the repo.

[2017-10-30 06:09] inforeqd512 commented on #6763
this is how we tried it
java -jar swagger-codegen-2.3.0.jar generate -c swift4-objc-comp.json -i petstore.yaml -l swift4

 swift4-objc-comp.json
{
      "objcCompatible":true
}

tried it with a value of 1 still did not get the model classes with the objc compatibility annotations. Would it be possible for you to pls attach a sample that works?

[2017-10-30 08:23] HermenOtter commented on #6822
I had issues with generation inside an allOf before, so I tried to define it outside of the response, but that didn't work either. I am still looking for a solution or a work around.

@sebastianhaas I have seen you working on the typescript-angular generation, maybe you have an idea?

[2017-10-30 08:44] HermenOtter commented on #6822
Thank you all for the fast responses. @kenisteward I tried your pull request with mvn clean package, but it didn't seem to work when I generated code from the new build(it had a ton of warnings btw, not sure if that is relevant).

I am not sure how much of the yaml file and the models I can post, I am checking that currently and will report back.

[2017-10-30 09:04] demtnt commented on #6438
reproduce:

**input.yaml**
swagger: "2.0"
info:
  version: 1.0.0
  title: Example API
  description: API
schemes:
- https
host: example.org
basePath: /swagger-spring-form

paths:
  /application/email:
    post:
      summary: Lets a user to enter e-mail
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: email
          in: formData
          description:

[2017-10-30 10:26] GioviQ opened #6848 "Unable to find error in yaml file based on output"
##### Description

Based on the output
[main] ERROR io.swagger.parser.SwaggerCompatConverter - failed to read resource listing
com.fasterxml.jackson.core.JsonParseException: Unexpected character ('#' (code 35)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
at APIREST+Corrispettivi+gestionali.yaml; line: 1, column: 2]

I don't know how to fix yaml file

I tried

[2017-10-30 12:27] kenisteward commented on #6822
Just give me the bare bone properly configures yaml file while making sure
you replace all the names. I'm using enums as well and not having this
issue so I need an example to debug .

On Mon, Oct 30, 2017, 4:44 AM Hermen Otter <notifications@github.com> wrote:

[2017-10-30 12:29] kenisteward commented on #6822
Also I just wanna make sure. It is generating the type part but not the
const part.

Also could you try it outside of the all of with my branch ?

On Mon, Oct 30, 2017, 8:27 AM Kenneth Steward <keni.steward@gmail.com>
wrote:

[2017-10-30 14:16] HermenOtter commented on #6822
**I forgot to post this:**
[code]
@kenisteward I have been researching the issues and it seems you can't declare a enum in the root of a defintion or something with the allOf like you said.

I will try a code generation without using allOf and then report back to you.

[2017-10-30 14:24] HermenOtter commented on #6822
[code]
Here is it used without an allOf.
[code]

[2017-10-30 19:24] kenisteward commented on #6822
@HermenOtter Good news!  I think I may have found the issue.  The mustache template variable for class name should have been {{classname}} but i made it {{className}} in mine.  my apologies.  check my pr for the latest.  Sorry for the issue!

I made sure to use your exmaples using allof as well.

[2017-10-30 19:54] jimschubert commented on #6690
@moreyeel I've opened #6851. I was wondering if you could build this branch and evaluate?

[2017-10-30 20:32] normana400 commented on #1730
This looks like it only allows you to set the connectTimeout, but not the readTimeout (as the original poster requested). In addition to that you should also be able to set the writeTimeout as well.

all three of those values are set to 10 seconds by default and there are many scenarios that you'd want a larger setting for one of those values.

[2017-10-30 20:47] normana400 opened #6852 "[JAVA] need to expose getters / setters for readTimeout and writeTimeout values on the generated java clients"
##### Description
this issue addresses a deficiency to the earlier enhancement:  #1730.
Issue #1730 added the ability to set the OkHttpClient connectionTimeout for the java clients used; however, it didn't add a way to set the OkHttpClient readTimeout and writeTimeout values. By default, OkHttpClient sets all 3 values to a default of 10 seconds. A limit of 10 seconds for reads and writes is a low

[2017-10-30 20:47] normana400 commented on #1730
I created a ticket for the delta requirement:
https://github.com/swagger-api/swagger-codegen/issues/6852

[2017-10-30 22:56] normana400 commented on #6852
created a PR for this:
https://github.com/swagger-api/swagger-codegen/pull/6853

[2017-10-31 02:23] jimschubert commented on #6848
@GioviQ I've opened swagger-api/swagger-parser#564 with this report, as this appears to be either a bug with swagger-parser or Jackson.

[2017-10-31 03:02] jimschubert commented on #6830
Looks like I'll need to clean up the enums to be all caps, numbers and underscores and ensure the names start with a letter.

This should also include some tests for enums per #5730 TODO item, which can probably be made as integration tests similar to those I added in #6851.

[2017-10-31 05:10] gabrielfuller commented on #6723
I used the latest 2.3.0 SNAPSHOT and it fixed my issue.

[2017-10-31 09:06] sashank commented on #6804
Thanks its working fine in 2.3.0 !

[2017-10-31 09:06] #6804 closed

[2017-10-31 09:25] moreyeel commented on #6690
Hi Jim,

Thank you very much for this, while the solution is not what I expected, it certainly does the job.
What I found is that the enum is still not generated as a null-able type (?) by default however following your effort I am now able to discern in the mustache templates (modelGeneric.Mustache) {{#vars}} between {#isEnum}} and {^isEnum}}.

This allows me to add the null-able (?) between the

[2017-10-31 11:51] jimschubert commented on #6690
@moreyeel If you check the integration tests in the linked PR, you'll see the properties should now look like you've suggested (with the Nullable). I used the spec you provided for one test, and slightly modified it for another.

 I still have some testing to do, around required=false/true, but I wanted to see if you could evaluate this branch.

Would it be easier if I built a sticker image of the

[2017-10-31 12:02] Sridhar-1987 commented on #5240
Fix is not provided for Jaxrs/cxf
Can you provide the fix for Jaxrs/cxf as well?

[2017-10-31 12:46] savelievser commented on #4962
I have a problem because of the "|| {}".
In my case API method returns integer. And everything works until the result is zero.
It's not logical to return empty object instead of zero or other primitive types values that evaluates to "false" (such as boolean "false" or empty string).

[2017-10-31 16:00] javakrieg opened #6854 "[CPPREST][C++]Accessors for boolean fields are not given a method name starting with "is""
##### Description

If you have a boolean property in a definition file (e.g. "fixed"), the Java code generator will produce a setter called "setFixed" and a getter called "isFixed".  This is expected.  However, the CppRest/C++ code generator will produce a setter called "setFixed" but the getter will be called "getFixed".  This is incorrect.  It too should be "isFixed".

##### Swagger-codegen vers

[2017-10-31 16:08] Bulledesavon opened #6855 "[TypeScript-Angular2] need help using the generated code / how to post the payload"
##### Description
Hi,

I'm working on an Angular 2 app calling Rest services built using swagger-maven-plugin 3.1.5.
Here is Java my web-service:
[code]

where "Someone" is this POJO:
[code]

Before using swagger-codegen, I used to call this service from Angular2 this way, and it works:
[code]

Now, I want to use the Api classes generated by swagger-codegen-maven-plugin 2.2.3 plugin. Here is my ma

[2017-10-31 19:09] jimschubert commented on #6670
@Owen-HP Only JSON responses are currently supported in the ASP.NET server generator. If you've made local modifications to support XML output, please share an example of the changes and we can work to get these into the generator.

When I original wrote the generator, the content negotiation seemed to be quite an undertaking with logicless templates. The issue here would be that we would only be

[2017-10-31 19:38] jimschubert commented on #6368
@andre-artus @wing328 I've opened #6856 to provide a better message for missing libraries.  I think the retrofit library is a good addition. Should this issue be repurposed as a feature request for retrofit support?

[2017-10-31 20:03] kenisteward commented on #4962
@Splaktar this is really late but

https://github.com/angular/angular/issues/16735

this is the issue i opened with them.

[2017-10-31 23:43] inforeqd512 commented on #6763
Or maybe can you let me know some possible things I can try?

[2017-11-01 01:48] jimschubert commented on #6830
@wari I've opened #6858. Are you able to evaluate whether this resolves your issue?

To match the Java enum properties you listed, you should be able to do:

[code]

Once my changes for integration tests from #6851 are merged, I'll create some integration tests for Kotlin enums as well.

[2017-11-01 02:32] giflw commented on #5758
PR #6857

[2017-11-01 03:09] wari commented on #6830
I can't seem to build when I checkout your copy:

[code]

[2017-11-01 03:37] jimschubert commented on #6830
@wari Sorry about that, I forgot to push the test for the new option.  I've pushed, so you should be able to build now.

[2017-11-01 05:11] wari commented on #6830
Hi Jim,

I found that UPPERCASE and PascalCase works well.

The others fails, because kotlin keywords (like internal) are not treated specially, which I do believe will happen for certain enum words. PS: Yes I know how tedious it would be if you want to take care of all languages special/internal keywords. But at least, there's an option to override it.

Thanks.

[2017-11-01 06:43] wing328 commented on #6798
@edescourtis https://github.com/swagger-api/swagger-codegen/pull/6821 by @niku has been merged into master. Please pull the latest master or use the SNAPSHOT version mentioned in the README to give it a try.

[2017-11-01 06:43] #6798 closed

[2017-11-01 06:45] wing328 commented on #6763
(I'll provide a reply later today. Very busy these days...)

[2017-11-01 09:06] HermenOtter commented on #6822
@kenisteward
Seems there was some caching issue with the swagger specification being retrieved from swaggerhub. It is working now!

Thank you very much for your effort.

[2017-11-01 10:09] HermenOtter commented on #6855
@Bulledesavon Can you post the yaml/json file you generate from?

[2017-11-01 10:19] moreyeel commented on #6690
I built the branch and am using the JAR to generate according to my templates. I tested this on about 400 different models and they all generate correctly. Should I close this?

[2017-11-01 10:24] bjgill commented on #6756
There's another thing we probably want to sort out soon-ish:

Common, non auto-generated code lives in a dedicated crate - https://crates.io/crates/swagger. Currently, this is mastered at https://github.com/Metaswitch/swagger-rs, and @mirw and I are the owners.

I think there are two things we want to do:

1. Move the repo to https://github.com/swagger-api/swagger-rs. This would then become the ma

[2017-11-01 10:44] shijinkui opened #6860 "NullPointerException: java.lang.RuntimeException: Could not generate api file for"
##### Description

Exception in thread "main" java.lang.RuntimeException: Could not generate api file for 'Job'
	at io.swagger.codegen.DefaultGenerator.generateApis(DefaultGenerator.java:495)
	at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:700)
	at com.xx.xx.codegen.SDKCodeGen$.main(SDKCodeGen.scala:36)
	at com.xx.xx.codegen.SDKCodeGen.main(SDKCodeGen.scala)
Caused by: java.

[2017-11-01 11:09] jimschubert commented on #6690
@moreyeel Thanks for verifying against so much code! I would say to leave the issue open until the PR is merged, just for visibility to avoid duplicate bug reports.

[2017-11-01 11:14] jimschubert commented on #6830
@wari Thanks for the further testing. I thought enum names were escaped prior to the meeting I've overridden, but it seems I'll need to check and escape reserved words here as well. for instance, `INTERNAL` in a spec with camelCase would become `internal`.

[2017-11-01 13:31] wing328 commented on #6860
Please share the spec so that we can use it to repeat the issue.

[2017-11-01 13:32] wing328 commented on #6854
@javakrieg that's fixed in the latest master (2.3.0). Please pull the latest or use the SNAPSHOT version mentioned in the README.

If it's still an issue, we will reopen this. Closing it for the time being.

[2017-11-01 13:33] wing328 commented on #6852
@normana400 thanks for the PR. We'll review and let you know if we've any question.

[2017-11-01 13:45] wing328 commented on #6841
@etherealjoy thanks for reporting the issue. Can you please try the below?
- 2.3.0 (latest master)
- "cpprest" generator in the latest master, which should have better support of "map" via https://github.com/swagger-api/swagger-codegen/pull/5884

[2017-11-01 13:56] wing328 commented on #3722
UPDATE: another PR to add Apex generator has been filed by @nikhltripathi696

Please check it out and see if we can merge some of the features/enhancements into the Apex generator in the current master.

[2017-11-01 14:02] #5905 closed

[2017-11-01 14:03] wing328 commented on #6250
Added "Implement 'object' type conversion" via #6846

[2017-11-01 14:53] a-ludi commented on #6723
I'm using 2.3.0 SNAPSHOT and have the same issue, that the "parameter" are not generated at all.

[2017-11-01 15:22] wing328 commented on #6734
PR merged into master. Thanks for the contribution by @craffael

[2017-11-01 15:22] #6734 closed

[2017-11-01 15:29] TiFu commented on #6521
What kind of error do you get? Is it missing some package? (e.g. url or isomorphic-fetch)

[2017-11-01 15:44] xmeng1 commented on #5146
Why the typescript enum type generate with `<any>` which make it duplicate
[code]

And when I use `for (let obj in xxxTypeEnum)`, there will be 4 items, and the `BBBB` will be duplicated with  `BBBB` and `BB_BB`

[2017-11-01 16:18] gabrielfuller commented on #6723
Something I discovered is that I realized I needed to do was make sure that
the Routes in my API (in my case, C# Web Api) had the correct parameters
defined in the route.  Once I added the parameters into the route string
like below, they started appearing when I generate the API.

I went from this:
[HttpGet("GetUser")]
public object GetUser(string userId)

to this:
[HttpGet("GetUser/{userId}")]
p

[2017-11-01 17:49] kourge commented on #5146
With TypeScript 2.4, you should not need the `<any>` casts when writing a string enum. This gives you the correctly emitted object without duplicates.

[2017-11-01 18:16] kenisteward commented on #6309
@bricka could you try using current master? It is changes for 2.3.0

[2017-11-01 18:21] kenisteward commented on #5681
@kirpit I'm fixing this as a part of a PR right now for typescript-node.  typescript-angular is already fixed i'd have to look into others as they all have different model generators :x.

[2017-11-01 19:43] raner commented on #6715
If someone were to make a pull request that addresses this issue, how long would it take to have the fix in an official release? Is there a planned release date for swagger codegen 2.2.4, or are the release done in more of an ad hoc fashion?

[2017-11-01 20:03] jimschubert commented on #6830
@wari thanks again for all that testing. I've pushed a change that escapes all keywords and special characters documented on https://kotlinlang.org/docs/reference/keyword-reference.html. There was also an issue where multiple special characters would all be converted to `_("value")`, but `_`,`__`, and `__` are all special characters in Kotlin so I've fixed this issue as well.  You've helped make t

[2017-11-02 00:46] dnome2 opened #6863 "need to update header_params with signed api keys/digest."
##### Description

I'm looking for pointers to update header_params['Authorization'] with digest and signed signature (using private keys) basically using IETF draft
https://datatracker.ietf.org/doc/draft-cavage-http-signatures/?include_text=1

I tried to implement preparing digest and signature  in api_client.py and then append header_params with Authorization parameters as shown below :

format

[2017-11-02 01:20] jimschubert commented on #3795
I believe this issue as reported was fixed in 2.2.3?

The schema in the above issue builds correctly on current master.

There's been a longstanding issue with the C# client generator in which enums referenced as top-level objects weren't being treated in the same way C# treats enums. I believe this is partially due to Swagger Codegen's original target being JVM languages, in which enums are true

[2017-11-02 01:41] jimschubert commented on #6591
@wing328 doesn't that (`{{#withXml}} ... {{/withXml}} or {{^withXml}} ... {{/withXml}}`) generate a JSON _or_ XML client? I would think it would make more sense to support this by default based on the `application/xml` content-type header, and change the client code to a switch. For instance.:

[code]

That said, I seem to recall there being issues with `JsonConvert.SerializeXmlNode` requiring som

[2017-11-02 01:50] jimschubert opened #6864 "[kotlin] Model names need to be sanitized"
##### Description

An model definition named "TestNs.TestClass" should be converted to `TestNsTestClass`.

##### Swagger-codegen version

2.2.3+

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Try generating with model definition names containing non-alphanumeric characters.

Examples:

* `TestNs.TestClass`
* `This i

[2017-11-02 01:53] jimschubert commented on #6281
NOTE: The merge PR adds to C# client, per @wing328 suggestion the option should be moved to the base class so all C# based generators can benefit.

@MortenHC thanks for that PR, it's a nice addition.

[2017-11-02 03:25] wing328 commented on #2909
Please try the latest master and open a new issue for tracking if there's an issue.

SNAPSHOT version of the latest master can be found in the README.

[2017-11-02 06:37] macjohnny commented on #6855
@Bulledesavon your `callMyUrl()` does not seem to have any parameters defined, which is why nothing is transferred as payload. you need to define the request body in your yaml file. If you want to transfer arbitrary parameters, you can do so by simply calling `this.http.request()` in your service (not the generated one).

[2017-11-02 06:50] muenzpraeger commented on #3722
@wing328 I'm not sure what @nikhltripathi696 wants to add. That PR only contains old code/commits from the initial creation of the generator.

https://github.com/swagger-api/swagger-codegen/pull/6849/commits

[2017-11-02 08:15] Bulledesavon commented on #6855
@macjohnny thank you, you helped me to find out what I did wrong.
Indeed, the json file produced by swagger-maven-plugin and used by swagger-codegen-maven-plugin did not contain any information about the payload.
I added an annotation to my service definition and now my service is working:
`    @Path(value = "myUrl")
    @POST
    @ApiOperation(value = "...", response = String.class)
    @Produces

[2017-11-02 08:15] #6855 closed

[2017-11-02 08:18] sashank opened #6867 "[java-play-framework] Error building the project when config parameters are overridden"
##### Description

We generated the Source code from swagger.yaml , we also have config.json that overrides certain parameters (mentioned below) , When we try to build the code it fails due to overridden params are not reflecting in "Module.java"

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

can try with any swagger file (say petstore.yaml)

##### Command li

[2017-11-02 09:14] #6770 closed

[2017-11-02 09:14] wing328 commented on #6770
@tarioch PR by @ackintosh has been merged into master.

Please pull the latest master or use the SNAPSHOT version (2.3.0) to give it a try.

[2017-11-02 09:16] #6765 closed

[2017-11-02 09:35] wing328 commented on #6830
PR by @jimschubert has been merged into master.

[2017-11-02 09:35] #6830 closed

[2017-11-02 09:56] wing328 commented on #6368
@jimschubert I'll open another issue for tracking and closing this one since your PR has been merged into master.

[2017-11-02 09:57] wing328 commented on #6368
I've updated the list in https://github.com/swagger-api/swagger-codegen/issues/5730 with a new item to add support for Retrofit.

[2017-11-02 10:05] #6368 closed

[2017-11-02 10:14] veonua commented on #6368
so now I need to subscribe to general list to track the progress for retrofit?
what was the point to add the reference to this issue and close it immediately?

[2017-11-02 10:28] wing328 commented on #6368
Yes, please use https://github.com/swagger-api/swagger-codegen/issues/5730 to track the Retrofit support.

[2017-11-02 10:40] wing328 commented on #6591
Thanks for bringing that up. I thought about that too. My assumption is that the API client needs to deal with either JSON or XML payload but not both at the same time. I also recall seeing some feedbacks about avoiding unnecessary code in the auto-generated API clients so some developers may not want to see XML-related code if they only need to deal with JSON in their APIs.

[2017-11-02 10:40] marcindanek85 opened #6869 "Code generation and type flags for array"
##### Description

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

The bug can be fixed by replacing the function updatePropertyForArray with the following one:
protected void updatePropertyForArray(CodegenProperty property, CodegenProperty innerProperty) {
        if (innerProperty == null) {
            LOGGER.warn("skipping invalid array property " + Json.pr

[2017-11-02 10:40] wing328 commented on #6591
@dnn01 just checking. Do you need anything from us (the community) to add the XML support?

[2017-11-02 10:42] wing328 commented on #3722
@muenzpraeger thanks for reviewing

@nikhltripathi696 did you mean to submit a PR with enhancements to the current Apex client generator?

[2017-11-02 10:57] jimschubert commented on #6591
@wing328 ah, yeah if it's a matter of keeping the generated code lean, that makes sense. However, it's common for APIs to return json and XML from endpoints so I think we need both at the same time.

We could use the withXml block and just put an if statement with an early return. I don't think we'd need a negated block.

[2017-11-02 12:51] SanjuChauhan opened #6871 "[Android] [JAVA] Automated request parameter generation using swagger in DefaultTest.class file."
I want to generated Model Request parameter automatically in test cases
for example , in my model there are two variable with setter and getter methods as shown below.

I am using Swagger-codegen version 2.2.3.
[code]
and i want this to be generated by swagger in DefaultTest.class file.
[code]
is there any other way to generate it using custom template?
please suggest.
thanks...!!!

[2017-11-02 13:35] #6822 closed

[2017-11-02 13:40] kenisteward commented on #6822
Has my pr been merged?

On Thu, Nov 2, 2017, 9:35 AM Hermen Otter <notifications@github.com> wrote:

[2017-11-02 13:57] SergeyLyakhov commented on #2662
@wing328
It is not a good solution to use "isPassword" as the name of attribute. A more common name should be used there. E.g. someone may need to avoid an output for card number, or other sensitive information.
I would propose to use the vendor extension name, e.g.  **x-obfuscated** or **x-confidential-data** :
[code]
This fix will require to change the templates part only. I'm ready to contribut

[2017-11-02 14:38] shijinkui commented on #6860
Company forbidden send outside.
I debug the generating code, found the first element is null in the list

[2017-11-02 14:44] wing328 commented on #6860
Understood. Saw your PR. Will review and merge accordingly.

Btw, please feel free to add "Huawei" to the list: https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen

[2017-11-02 17:05] NikolaySl commented on #6537
It's due to JSON parsing to Swagger model. It doesn't parse 'readOnly' property for references, inline objects, maps and arrays. Here is a PR https://github.com/swagger-api/swagger-core/pull/2502 @wing328  Please review and if possible release in 1.5.x branch.

[2017-11-02 17:07] bzglm opened #6872 "Swagger codegen generates a nullable integer as method return value in SDK for operation that returns an integer"
##### Description

I have an operation which returns an integer, and when I generate a C# SDK using codegen, the method associated with the operation returns a nullable integer instead of an integer. I tried to set the produced response schema as required using an operation filter and setting the default value as 0 but it had no effect.

Here is the definition of my operation responses:

[2017-11-02 19:34] jimschubert commented on #6459
@kbedel You have two issues reported here.  For the first issue, with properties referencing standalone enum models, this should be fixed in #6851.

For the second issue, where `Pet.Available` isn't serialized, this is because of the `EmitDefaultValue=false` annotation on the properties. I believe this is what we'll want in almost every case, however string enums by their nature have no default va

[2017-11-02 20:01] dnn01 commented on #6591
@wing328
Yes, I could use some help.  The snag I ran into is that the services behind the Swagger API are SOAP and I need to serialize to a SOAP-encoded format.

I tried SoapFormatter, but that appears to be deprecated.  Additionally, it does not support generic types. Another option I tried was using XMLSerializer and XMLTypeMapping, but it appears that the class needs to be created using XSD, wh

[2017-11-03 03:14] zihengcai opened #6875 "[javascript-closure-angular]File uploads not working"
##### Description

The javascript-closure-angular client generated by swagger maven plugin and online swagger editor can’t upload file.

##### Swagger-codegen version

online swagger editor and swagger maven plugin version 2.2.2

##### Swagger declaration file content or url

[code]
[code]

##### Command line used for generation

<groupId>io.swagger</groupId>
                <artifactId>swagger-co

[2017-11-03 03:20] wing328 commented on #6875
@zihengcai thanks for reporting the issue.

cc @achew22 (the creator of the JS Closure Angular generator)

[2017-11-03 04:50] wing328 commented on #6867
@sashank thanks for reporting the issue. May I know if you've time to contribute a fix?

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaPlayFramework/module.mustache

and you can try to fix the issue with `{{pacakge}}` (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/reso

[2017-11-03 06:42] shijinkui commented on #6860
@wing328 I only get start to try swagger. When I'm indeed use it in my product, I'll add huawei to the list.

I plan to use swagger to generate SDK in HuaweiCloud Service, hope quickly to fix such problem. If I deploy my own swagger version, it feel not better.

[2017-11-03 07:18] sashank commented on #6867
am sorry , am totally maxed out ! not sure if i can fix this .

[2017-11-03 07:20] wing328 commented on #6867
No worry. I'll give it a try over the weekend.

[2017-11-03 10:55] Faerylnahr commented on #6657
Just a short push for my remark => 2.3.0 SNAPSHOT isn't currently an option for me :-(
Did I oversee something?

[2017-11-03 11:55] erikwj commented on #6818
I'd like to work on it, was working on a similar solution to fix the params and headers, also added the security parameters from OAS

[2017-11-03 12:36] erikwj commented on #4863
@daniele-bettella are you working on this? I had the same idea and thought about using this https://github.com/julienrf/enum

[2017-11-03 14:44] etherealjoy commented on #6841
@wing328
I tried the v2.3.0, apparently the fix was for cpprest. This issue is present in qt5cpp.
So the issue still exists. I fixed manually by hand some models. but since there are many models I cannot fix each and everyone. :(

[2017-11-03 15:30] jonschoning opened #6878 "body parameters are not requiredParams"
[code]
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L2238-L2239

c.f. c2eb53ab1d86a8eb4d993dc913ee8948b4cf0055

[2017-11-03 15:32] strongui opened #6879 "Generated javascript client has bug in constructFromObject function"
##### Description

Inside constructFromObject() there is a line that makes a call on the Card model
**Card.**constructFromObject(data['parentCard']);
instead of
**ApiClient.**constructFromObject(data['parentCard']);

In this context, Card is an object that does not have a constructFromObject method on it. If I change the generated code to use ApiClient the code works corrrectly. I am not sure if t

[2017-11-03 16:00] sashank commented on #6867
Ok identified a related issue,, the routes file also needs to be fixed , it still has `controllers.*` although we overridden it to "com.puppies.store" , please fix this issue as well

[2017-11-03 21:19] stkrwork commented on #6854
its not in the abstract cpp codegen, but it can be quickly added. Here is the fix: #6880

[2017-11-04 01:37] dpmedeiros commented on #5806
Would be nice to have this feature, and provide a config option to switch between the two return types.

[2017-11-04 01:53] dpmedeiros commented on #5806
Another idea would be to generate multiple API classes, one with responses turned on, the other with responses turned off

[2017-11-04 03:50] MartinDelVecchio opened #6882 "swagger-codegen-cli.jar is omitting a nested definition referenced from another file"
##### Description

I am using swagger-codegen-cli.jar version 2.2.3 to convert our Swagger from two separate YAML files into a single JSON file.   The two files are parent.yaml and child.yaml

The first file, parent.yaml, defines an object type **Response** with one property ('entitlements').  This property is a reference to a type defined in child.yaml, as './child.yaml#/definitions/Entitlements'

[2017-11-04 06:30] sashank opened #6883 "[java] enforcement of "required" fields in Definitions"
Not really bug rather a question and suggestion ,
Lets say two fields are marked as required in the Definition of the Object like below.

[code]

How is this enforced while generating the code ? I don't see any restrictions for making it mandatory in the generated code.

On related topic , no constructors for models are generated apart from set and get methods. May be required fields could be used

[2017-11-04 08:19] kirpit commented on #5681
Unfortunately the problem is still consist with minor improvement on `typescript-angular` (previously known as `typescript-angular2`) definition:

[code]
However, enum set of values are not there at all, so they have no effect.

Tried with `typescript-angular`, `typescript-angularjs` and `typescript-fetch` but not others, against current master 4dafa5b92.

[2017-11-04 08:53] cbornet commented on #6883
@sashank have you tried the useBeanValidation option ?

[2017-11-04 08:56] sashank commented on #6883
any pointers to it ?

[2017-11-04 09:26] cbornet commented on #6883
I think add `-DuseBeanValidation=true` in the generation command line

[2017-11-04 10:04] etherealjoy commented on #6841
@wing328 OK, I fixed the mustache template for generating the additional properties.

Now I discovered another bug. I will create another issue for it.

[2017-11-04 10:24] etherealjoy opened #6884 "[qt5cpp] additionalproperties and arrays of object containing a type array is blank"
additionalProperties containing arrays of objects is blank
Additionally, Nested Arrays are not properly parsed
##### Description

The code is blank for the properties which are defined as below

- '**_Ports_**' is of type map '**PortMap**'
- '**_PortMap_**' is an array of '**PortBinding**'
- '**_PortBinding_**' is an object with two strings

##### Swagger-codegen version

- 2.2.3
- 2.3.0
- 3.0.0

[2017-11-04 10:27] etherealjoy commented on #6884
I think this also affects other langs

[2017-11-04 10:48] kenisteward commented on #5681
The arrayofstringchoices model I don't believe was a properly setup enum.
Currently it only supports the enum being on the response and not in the
definition so we may need to do more.

On Sat, Nov 4, 2017, 4:19 AM kirpit <notifications@github.com> wrote:

[2017-11-04 10:53] kenisteward commented on #5681
@kirpit what you linked me is showing 2.2.3 not 2.3.0 snapahot try doing mvn clean package on current master. I know the arrayofstringchoices model is probably not fully correct but the other should be. Also my ts-node pr has not been merged yet

[2017-11-04 11:45] kirpit commented on #5429
@cbornet is there any harm leaving the docstrings along with the type hinting? Sphinx should just do fine, maybe even better because there are now 2 different source of hinting..

This will actually lead to less `if - else` logic introduced in the template files that I believe things should be kept as simple as possible. I would actually suggest to **implement type hinting both for py2 and py3** a

[2017-11-04 12:57] kirpit commented on #4819
I don't understand, I again tried against the current master 4dafa5b92 and results for both _fish / crab_ and _languages_ were generated correctly.

There has been also kind of trimming for the attribute names in `Language` class which is cool:

[code]

[2017-11-04 14:06] wing328 commented on #6854
@javakrieg the fix by @stkrwork has been merged into master. Please pull the latest master or use the SNAPSHOT version mentioned in the README to give it another try.

[2017-11-04 15:02] wing328 commented on #6863
@dnome2 I would suggest you start with 2.3.0 (which has the Python API client refactored).

[2017-11-04 15:29] wing328 commented on #6841
Please file a PR with the fix when you've time.

Yes, please and have a nice weekend.

[2017-11-04 15:31] wing328 commented on #6864
Closed via #6874

[2017-11-04 15:31] #6864 closed

[2017-11-04 15:32] wing328 commented on #6867
I might need to postpone it to coming Tuesday instead as I've another busy weekend...

[2017-11-04 15:42] wing328 commented on #6818
@erikwj thank you 🙇

Let us know if you need help with the PR.

[2017-11-04 15:45] wing328 commented on #5806
@YashchenkoN I'm sorry for missing your question earlier. Yes, it's for Retrofit2

@dpmedeiros I would prefer adding another CLI option.

If anyone wants to work on this, please let me know and I can show you some good starting points.

[2017-11-04 15:59] wing328 commented on #6878
You're right. Body parameters can be optional as well.

Let me fix it shortly.

[2017-11-04 16:11] wing328 commented on #6872
@bzglm currently, the type mapping for C# client uses nullable type (e.g. int?)

You can try the type mapping option to map the integer to just `int`:
[code]
but likely you will need to modify the templates to skip some syntax errors (you can use customized templates with the -t option)

[2017-11-04 16:43] kirpit commented on #5681
It is `2.3.0`, the latest commit content must have confused you.

[code]
And I already compiled with `mvn clean package` from the newly cloned _latest master_.

[2017-11-04 18:16] wing328 commented on #6878
Filed https://github.com/swagger-api/swagger-codegen/pull/6885

[2017-11-04 21:29] jimschubert commented on #5352
@larssb I opened #6887 in an attempt to clean up the differences between string based enums in specs and those integral types that are directly supported by C#.  I was wondering if you could take a look?

[2017-11-04 23:14] bzglm commented on #6872
Thank you very much for your answer. I tried to use the type-mappings option (providing integer=int as parameter), but unfortunately, I have the following error:

Is there something I am missing ?

[2017-11-05 02:23] wing328 commented on #6878
@jonschoning the fix has been merged into master. Please pull the latest master to give it a try.

[2017-11-05 02:23] #6878 closed

[2017-11-05 07:37] #6738 closed

[2017-11-06 06:55] magiepooh opened #6892 "[Kotlin] select date library"
##### Description

select date library like Java Generator.

##### Swagger-codegen version

2.2.3+

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/issues/5730

##### Suggest a fix/enhancement

`generate -i swagger.yaml -l kotlin  -o out -DdateLibrary=threetenbp`

[2017-11-06 07:24] ffledgling commented on #6728
I second this. It would be nice to have version tags for the cli image as well. It is especially useful for people who want to automate their swagger binding generation via CI/CD and do not want to deal with the stability issues that come with running what is effectively a nightly build.

[2017-11-06 09:40] jimschubert commented on #6728
@ffledgling

Hooking Swagger Codegen into your CI/CD process is as easy as pulling the jar from Maven and executing it:

https://gist.github.com/jimschubert/62baf653a9520b23399a67755c33631a

And if you're using Maven, there's a Maven plugin for Swagger Codegen which tracks the same tagged version as the CLI.

The docker image tagging is necessary mainly for those who don't want Java installed or w

[2017-11-06 13:50] dougbacelar opened #6893 "When API response is a MAP, the generated API interface does not contain import java.util.Map;"
##### Description

When API response is a MAP, the generated API interface does not contain `import java.util.Map;`

![generated-api-interface](https://user-images.githubusercontent.com/9267678/32444073-37a5deda-c2f9-11e7-9221-6e5b9332c935.PNG)

##### Swagger-codegen version

tested with 2.2.3, 2.3.0 and 3.0.0

##### Swagger declaration file content or url
[code]

##### Related issues/PRs
This iss

[2017-11-06 15:34] lunat commented on #6784
I also tried with https://generator.swagger.io.
Setting both
[code]
or
[code]
I get internal classes.
Note that if I exclude "nonPublicApi" setting from options, all classes are public.

[2017-11-06 18:33] no-logic commented on #6517
I watch this thread for details about either release news, or when the snapshot will begin to show signs of supporting openapi 3.0, but no news yet: https://github.com/swagger-api/swagger-codegen/issues/4669

[2017-11-06 18:43] xlxCLUxlx commented on #6776
Figured out via debugging.

[2017-11-06 18:43] #6776 closed

[2017-11-06 18:51] jimschubert commented on #6784
Verified with

[code]

And classes are always internal.

However, I don't think this is C# specific. I've been working on another branch, and the true/false variables which previously processed correctly in Mustache are no longer being treated as true/false. This seems to be causing "false" to be treated as truthy.

I'd have to dig into this a bit to understand what changed, and when it changed. Y

[2017-11-06 19:45] tir38 opened #6895 "Retrofit2 with RxJava2 should generate Singles, not Observables"
Right now if i generate for Java with retrofit2 and rxjava2, the output Retrofit service class will generate methods that return Observables. See example [here](https://github.com/swagger-api/swagger-codegen/blob/66d48a0c718899bb1dc4ae1cdc41fa0c1313a4a0/samples/client/petstore/java/retrofit2rx2/src/main/java/io/swagger/client/api/PetApi.java)

However, I think it should generate methods that retur

[2017-11-06 19:48] cbornet commented on #6895
Totally agree. Can you do a PR ?

[2017-11-06 21:31] masaeedu commented on #6639
This was due to a combination of issues in the Docker swagger spec and in swagger-codegen. The issues in swagger-codegen have been resolved, the issues in the Docker spec are awaiting PR. See moby/moby#35146, moby/moby#35132.

[2017-11-06 21:31] #6639 closed

[2017-11-07 04:08] gibson042 opened #6896 "[JAVA] etc.: generated code is incorrect for untyped schemas"
##### Description

Generated code for schemas with no defined type is incorrect, because parsing seems to require a `type` property despite it being optional in the specification (where it defines values that can be of any type).

##### Swagger-codegen version

2.2.3, 2.3.0-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`./run-in-docker.sh

[2017-11-07 04:14] philip opened #6897 "Generated Lumen code can contain dots in routes"
Lumen does not allow `.` in routes. The generator allows them without warning. Dots in URLs are common though, for example `/api/v1.1/`, but Lumen insists on not allowing them.

Confirmation about dots being disallowed in routes: https://github.com/laravel/framework/issues/6180

[2017-11-07 05:25] jimschubert commented on #6784
@lunat I opened #6899 to address this issue. However, regenerating all C# code produced a few issues that I'll need to follow up on:

* .NET 4.0 code doesn't compile with the `build.sh` script, complaining that RestSharp needs nuget 2.12 instead of the downloaded 2.8 (even though I have 2.12 installed globally).
* SwaggerClientWithPropertyChanged sample doesn't seem to compile or copy files into a

[2017-11-07 05:30] gmkumar2005 opened #6900 "[LagomScala] Add Scala API generator for lagomframework"
##### Description
Lagomframework is the opinionated microservices framework for moving away from the monolith
https://www.lagomframework.com/

It supports Java and Scala as primary language.
A typical project in lagom has an API, Server Impl [or a server consuming the API] and UI. API project is used for both as a client as well as server.

Is there any one working on Lagon Scala API code generato

[2017-11-07 07:47] #6860 closed

[2017-11-07 09:03] wing328 commented on #6872
Seems like "int" is treated as a model instead. We'll need to update the list in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L94 to include non-nullable primitive type as well.

[2017-11-07 09:39] #6825 closed

[2017-11-07 10:37] fvarose commented on #6512
Hi folks, we've come across this problem as well. I will submit a PR hopefully today with a simple fix that solved it for us.

[2017-11-07 15:18] HermenOtter opened #6902 "[Typescript][Angular] Response headers are not available."
##### Description
I want to access the response headers for an E-tag. For my current swagger yaml file, it doesn't generate anything to access it. [This is the same issue](https://github.com/swagger-api/swagger-codegen/issues/3999) it is supposedly fixed, but in my current generated code base I cannot find the withHttpInfo methods, are they removed in a newer version? Or am I doing something wrong

[2017-11-07 21:24] ivoysey opened #6906 "generated server code crashes from using `Parameters` to name both function argument and model class"
##### Description

The server code generated from a small swagger file contains a name space collision that causes the server to crash on reasonable requests. It's easy to fix manually, but because always an error it shouldn't be generated.

##### Swagger-codegen version

Following https://github.com/swagger-api/swagger-codegen/issues/4548, I believe I'm using version `2.2.3`

##### Swagger declar

[2017-11-07 23:58] tomplus opened #6907 "Test endpoint returns invalid data"
##### Description

http://petstore.swagger.io which is used by integration tests, returns invalid data, for example pets without name (name is required). There are a lot of such records.

##### Command line used for generation

[code]

##### Suggest a fix/enhancement

Can I delete invalid records ? Is it possible to add such records by API ? Can we reset data periodically ?

Thanks.

[2017-11-08 04:02] inforeqd512 commented on #6763
gentle reminder only....

[2017-11-08 06:21] naveenkumar-007 opened #6908 "two api's with same operationid - sdk failed for both"
##### Description

-->
if two api's are having same operationid, the sdk code generation is generating for only one api. How to handle this.
-->

##### Swagger-codegen version
2.2.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-08 07:12] naveenkumar-007 opened #6909 "issues with uri's in swagger json file"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2017-11-08 07:35] HermenOtter commented on #6908
The swagger specification requires unique operationId's. Is it a problem to change the operationid?

[2017-11-08 07:41] HermenOtter commented on #6909
Can you post your yaml or json file, with an example of the uri's that cause issues? If you provide information, we might be able to help ^^.

[2017-11-08 09:03] HermenOtter commented on #6902
@kenisteward

[2017-11-08 11:11] jbs1 opened #6910 "[PHP] 2.3.0 client leads to error for methodes with oauth"
When using the any method of the client generated by 2.3.0, as recommended #6777, that requires authentication, eg. oauth/sso it fails with this error:
[code]
and it doesn't matter whether I directly give the access token as a parameter to the method or set it via
`Swagger\Client\Configuration::getDefaultConfiguration()->setAccessToken('YOUR_ACCESS_TOKEN');`, both lead to the same error

Over the

[2017-11-08 12:08] afrolovsky opened #6911 "Missing @JsonProperty in Java model classes"
##### Description

Generated Java model classes miss ```@JsonProperty``` annotation

##### Swagger-codegen version

Latest build from master branch (92a1c3a4)

##### Swagger declaration file content or url
https://gist.github.com/afrolovsky/039dcde61decbd092a0948833eefa6c0

##### Command line used for generation
[code]

##### Steps to reproduce

1. Save gist in a file named ```swagger.json```
2. C

[2017-11-08 13:01] zzsoszz opened #6912 "generated code of javascript client can not be used in es6 module"
code:
const {UserApi,User} = require("../consultant/index");
import {UserApi,User} from "../consultant/index";

errors:
Failed to compile
./src/consultant/index.js
  Line 26:  'define' is not defined  no-undef
  Line 28:  'define' is not defined  no-undef

can i generate code for es6 module  enviroment?

[2017-11-08 13:04] fvarose commented on #6512
Sorry all, false alarm I'm afraid. I opened a PR (see #6905) but after looking in more detail it turns out we do still require an `Object` class that implements the `ModelBase` for arbitrary map-like objects.
I will hopefully get time to work on this soon.

[2017-11-08 13:15] kenisteward commented on #6902
So it is possible with the addition of 4.3 http client that the generation
of those method were removed for that type. I'll look into this when I get
to my computer

On Wed, Nov 8, 2017, 4:03 AM Hermen Otter <notifications@github.com> wrote:

[2017-11-08 13:20] kenisteward commented on #6902
@hermenotter looking at the example you gave it looks like no fix is needed. All you do is subscribe to the observable it returns and then inspect the response.  Am I missing something?

[2017-11-08 13:34] wing328 opened #6913 "[Swift] Autogenerate xcodeproj file"
##### Description

Autogenerate xcodeproj file as part of the Swift 3 or 4 API client generation.

cc @yukio-e

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhancement

If you've any question or want to work on this, please reply to let us know.

[2017-11-08 13:36] wing328 commented on #6912
Please fill out a new issue form to provide us the necessary info so that the community can help you out.

[2017-11-08 13:36] #6912 closed

[2017-11-08 13:36] wing328 commented on #6897
@philip yes, we should be able to fix it easily in the postProcessOperations.

Is that something you can contribute? If yes, I can show you a good starting point.

[2017-11-08 13:47] wing328 commented on #6911
Would you have time to contribute a fix? Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/spec/pojo.mustache

pojo.mustache for other Java server generator might have the issue fixed already so I would also suggest you to take a look at those.

[2017-11-08 13:48] wing328 commented on #6910
Is it correct to say that the endpoint has the proper security definition applied? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L280

[2017-11-08 14:40] Kimnyhuus commented on #6641
Hi' @ehyche!
Do you by any chance know, when this will be merged and available in Swagger?
 - I'm guessing that it will be available in Swagger Codegen 2.3.0, when merged?

[2017-11-08 15:01] ogres opened #6914 "[Swift] Generate Swift client w/o dependencies"
##### Description

Generated code for Swift 4 requires frameworks,

- Alamofire
- PromiseKit
- RxSwift

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift4/Cartfile.mustache

Would be better to be able to use Swagger generated client without any third party frameworks.
Codegen should only rely on Foundation and Standard Library.

Generated c

[2017-11-08 15:12] wing328 commented on #6641
@Kimnyhuus https://github.com/swagger-api/swagger-codegen/pull/6642 has been merged into master.

Can you pull the latest master or use the SNAPSHOT version to give it a try?

[2017-11-08 15:19] Kimnyhuus commented on #6641
@wing328 Sure! Thanks for the quick response :-)

[2017-11-08 15:21] wing328 commented on #6641
@Kimnyhuus no problem. Let me know if you still need help on this.

Closing this for the time being as the PR has already been merged.

[2017-11-08 15:21] #6641 closed

[2017-11-08 15:23] wing328 commented on #6914
@ogres thanks for the feedback. I wonder if you can share more with me:

1) Are these dependencies causing issues to the project you're working on?
2) Have you tried customizing the templates and use the `-t` option to see if it meets your requirement?

[2017-11-08 15:48] ogres commented on #6914
1. I am trying to reduce number of dependencies to lower number dynamic frameworks loaded on app launch, reduce app size, reduce possible bugs ( introduced in 3rd party libraries ).

Using only Foundation/Stdlib will allow us to use swagger generated code on Linux as well.

2. No, unfortunately I have not tried it, first I wanted to get a feedback and see if this is something already considered.

[2017-11-08 16:21] asthomas commented on #5932
This is show-stopping for us.  I have found no work-around, even by modifying the mustache files.  I'm creating an interface between a NancyFx server and a C# client and I cannot make the enum definitions match due to this bug.

[2017-11-08 16:47] zzsoszz opened #6915 "generated javascript client is base on umd module,can not be used in es6 module environment"
##### Description
 generated javascript client is base on umd module,can not be used in es6 module environment

##### Code
[code]

##### Errors
./src/consultant/index.js
  Line 26:  'define' is not defined  no-undef
  Line 28:  'define' is not defined  no-undef

[2017-11-08 17:23] jbs1 commented on #6910
In the definition file that was used to generate the client it says eg.:
[code]

[2017-11-08 17:36] naveenkumar-007 commented on #6909
Hi HermenOtter,
Thanks a lot for quick reply.

here i am pasting sample code:

one one json:
"methodName": "List",
 "request": "GetArrayPortsRequest",
in another json:
"methodName": "List",
          "request": "ListSNMPRequest",

I have written the parser code to convert the json files into swagger spec json file.

[2017-11-08 17:51] erreobi commented on #1235
Hi All,

I have a similar problem.

In my swagger the header is defined like the following:
` x-CreateDateTime: &responseCreateDateTime `
  ` type: string`
  ` format: date-time`

The generated code is:
`@DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME) DateTime xCreateDateTime`

We expected that input like the following are accpeted:
- 2017-11-07T15:44:48+00:00
- 2017-11-07T15:44:48Z
- 2017-08-

[2017-11-08 18:46] myok12 opened #6917 "[JAVA] [library:vertx] Feature: Make possible for client generated code to share code"
##### Description

If swagger-codegen is used to generate several clients (specifying different output folders, otherwise every new client overrides the previous one), each one generates its own `ApiClient`, `ApiException`, `Configuration`, `Pair`, `RFC3339DateFormat`, and `StringUtil` classes, though only `ApiClient` is actually client specific (including specific URLs, auth, etc.). This creates

[2017-11-08 20:18] lightbow commented on #6914
@ogres I believe PromiseKit and RxSwift are truly optional (utilized only with the responseAs config option, for example `--additional-properties responseAs=RxSwift`), but yes Alamofire is required at this point for generated code to function. I fantasize about that not being the case, but don't have any cycles to dig into AlamofireImplementations.swift to see how hard it would be to abstract that

[2017-11-08 20:39] kylos101 opened #6918 "Java codegen artifact does not build if items array contains {} in object definition"
The Java codegen artifact does not build if the definition of the items array is {}, [but it does pass validation in Swagger Editor, see this for a related Editor issue](https://github.com/swagger-api/swagger-editor/issues/1556).

| Q                                   | A
| ----------------------------------- | -------
| Bug or feature request?             |   bug
| Which Swagger/OpenAPI version?

[2017-11-08 21:45] philip commented on #6897
@wing328 I'm interested, all pointers are welcome. Also, thoughts on what to do here e.g., replace them with something, fail, or allow this to be configured somehow.

[2017-11-08 22:11] atanasbozhkov opened #6919 "[SWIFT4] Bug when generating a client from a declaration containing reserved words"
##### Description

I am trying to generate a Swift 4 client from a declaration that has a response attribute named `throw`. I believe since that is a reserved word in Swift and it has not been escaped - the generated client does not compile.

##### Swagger-codegen version

I have tried with the current stable version for mac: 2.2.3, 2.3.0 (SNAPSHOT) and 3.0.0 (SNAPSHOT)
##### Swagger declaration f

[2017-11-09 03:30] wing328 commented on #6892
@magiepooh thanks for the feedback. May I know if you've time to contribute the enhancement?

[2017-11-09 07:35] frol commented on #5733
I have no experience with Flow, so I won't be able to help here. Sorry.

[2017-11-09 07:47] frol opened #6920 "[JavaScript] Missing comma between parameters in documentation"
##### Description

The generated documentation misses commas between the arguments in the examples, for example:

[code]

Notice the first argument to `apiInstance.tasksTaskIdCommentsPost()` being `taskIdtext` while it should be two parameters: `taskId, text`.

##### Swagger-codegen version

Both master and 3.0.0 branch are affected.

##### Swagger declaration file content or url

[code]

##### Co

[2017-11-09 09:07] naveenkumar-007 commented on #6909
Hi,
Could you please let me know how to handle this.

[2017-11-09 09:12] HermenOtter commented on #6902
@kenisteward  Thank you for your fast response.
The problem is: that the current method only returns the body and not the body and the headers.
[code]
This logs: undefined.

I read that you first need to define the observe parameter as response to retrieve headers and body.
![image](https://user-images.githubusercontent.com/12573819/32597027-a8aaebaa-c535-11e7-9a8a-cd00fc88e08e.png)
As you can see

[2017-11-09 10:12] wing328 commented on #6902
cc @TiFu  @taxpon @sebastianhaas @kenisteward @Vrolijkx

[2017-11-09 11:28] dylan-colaco opened #6922 "swagger-codegen is messing up the order of the generated json"
##### Description

Generating a json file using swagger-codegen messes up the order and does not follow the order as in yaml

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

##### Command line used for generation

swagger-codegen generate -i lotr.yaml -l swagger

##### Steps to reproduce

install swagger-codegen using homebrew
generate a json file from yaml fil

[2017-11-09 12:00] kenisteward commented on #6902
@hermenotter what if we just allow a final argument that allows you to set that field.

[2017-11-09 12:00] CommodoreBeard commented on #4669
Two months since the last update here, and the last codegen 3.0 SNAPSHOT was pushed on September 4th, which as @no-logic stated above is still failing to parse `openapi` in yaml files.

Has there been any new communication on this that I am not aware of?

[2017-11-09 13:00] HermenOtter commented on #6902
@kenisteward I thought of that solution as well, in the first instance I thought returning the object would be a problem(because of the interface of the model), but I tested the solution and I was mistaken.

This works, with a bloated if statement:
[code]
Used as
[code]
I can confirm that the logged body and headers are correct.

[2017-11-09 13:19] kenisteward commented on #6902
@HermenOtter I was thinking something a bit more simple

2 options
[code]

second option:
[code]

I think the second way would be more suitable for a bigger audience.  Either way the fix would be easy and I believe I could have the fix in today If i got the time.

[2017-11-09 13:34] wing328 commented on #6914
@ogres thanks for sharing more with.

cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-09 13:35] HermenOtter commented on #6902
@kenisteward First option is a good simple fix. However the second option gives power back to the developer and fixes the problem as well, it seems like a really nifty solution!

[2017-11-09 13:47] wing328 commented on #6911
Fixed via #6916

[2017-11-09 13:47] #6911 closed

[2017-11-09 15:13] bedag-moo commented on #6902
Ah, that's what that withHttpInfo method was for!

My apologies, I could not imagine why one might need this, so I didn't implement this method when writing the new code generator using the httpClient.

As for fixes: Kenis solutions are not quite type safe, and solution 1 would be a breaking change, because

    const x: Observable<Issue> = issueService.getIssues();

would no longer compile becaus

[2017-11-09 15:27] kenisteward commented on #6902
@bedag-moo
[code]

works if we define .getIssues() like:

[code]

which was in the preface of my solution :P

[2017-11-09 15:41] kenisteward commented on #6902
@bedag-moo @HermenOtter I would be interested in exploring the option of using
https://www.typescriptlang.org/docs/handbook/functions.html  that angular uses as was pointed out.  It may be a much more elegant solution to Union types.

[2017-11-09 15:57] bedag-moo commented on #6902
It does not work for me; Typescript 2.4.2 says:

[code]

Might you have tested with mocked up Issue and Response types which are mutually assignable?

[2017-11-09 16:01] kenisteward commented on #6902
@HermenOtter

If we implement it in Solution 2 from above we don't have to worry about having a global extraHttpClientOptions unless we care about setting something for every request created. (e.g. from my spiffy solution)

I'm honestly fine with it.  I think it would be a dope idea to allow for a user to generically define what most requests should look like.  That changes the spiffy solution to

[2017-11-09 16:20] kenisteward commented on #6902
@bedag-moo

[code]

Fixes that but I think it would be better if we didn't have to put the as after every call haha.

[2017-11-09 17:25] kenisteward commented on #6902
@bedag-moo @HermenOtter
Overloaded function generated example (made this by hand for now to get the idea of how we'd do it)
[code]
Note: We would have to dynamically generate whether we are returning blob / arraybuffer based on the client code.  as such the reponseType that you see in the angular version should never be passed in and should be decided by the client generation.  Also this would all

[2017-11-09 19:31] ebautistabar commented on #5637
@wing328 I performed the following test today. I lay out here the steps for reproducibility and in case I'm doing something wrong.

- Download https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.3.0-SNAPSHOT/swagger-codegen-cli-2.3.0-20171030.060918-211.jar
- Download http://petstore.swagger.io/v2/swagger.json
- Run `java -jar swagger-codegen-cli-2.3.0-20171030

[2017-11-09 21:02] bedag-moo commented on #6902
The approach looks good to me, but I wonder whether we really need the ability to pass headers and parameters that do not appear in the swagger docs on a per-operation-basis?  Off hand, I can't imagine when that would make sense, and would have simply done:

[code]

But I'm ok with the extra flexible solution, too.

[2017-11-09 21:39] ebautistabar commented on #5614
@wing328 I performed the following test today. I lay out here the steps for reproducibility and in case I'm doing something wrong.

- Download https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.3.0-SNAPSHOT/swagger-codegen-cli-2.3.0-20171030.060918-211.jar
- Download http://petstore.swagger.io/v2/swagger.json
- Run `java -jar swagger-codegen-cli-2.3.0-20171030

[2017-11-09 22:30] tomplus opened #6924 "[Python/tornado] generated code does not work"
##### Description

Generated python-tornado client doesn't work.

##### Swagger-codegen version

From `master`.

##### Command line used for generation

`bin/python-tornado-petstore.sh` which produces samples/client/petstore/python-tornado/

##### Steps to reproduce

I have a problem with initializing SSL

[code]

and also with returning a value

[code]

##### Suggest a fix/enhancement

Add tests

[2017-11-10 00:17] #6909 closed

[2017-11-10 04:06] wing328 commented on #6908
@HermenOtter is correct. `operationId` needs to be unique. Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-5

You may find the following option useful:
[code]

[2017-11-10 04:06] #6908 closed

[2017-11-10 05:24] sashank opened #6926 "[swagger Model ] How to categorise models"
This is more of a question.

I have around 20 model definitions in swagger.yaml and when i generate code its quite messy with all the models being in same directory. Is there a way to categorize them ?

Say i have models definitions for `cats, chairs, dogs, tables, books, pens` . How do i generate code that categorises into sub packages like below

[code]

[2017-11-10 06:02] naveenkumar-007 commented on #6908
Leave a comment

[2017-11-10 06:40] wing328 commented on #6908
Btw, 2.2.0 is an old version. The latest stable is 2.2.3 that you can find in the release page.

[2017-11-10 07:32] #6694 closed

[2017-11-10 09:50] Xzya commented on #1167
Any update on this?

[2017-11-10 12:15] mast4461 commented on #5932
@asthomas, one work-around would be to add unique prefixes to each enum case. It's not pretty, but easy, simple and should work.

[2017-11-10 13:22] naveenkumar-007 commented on #6908
Thanks a lot For providing info. But the requirement is like two json files needs have one operationId like
add, I am writing the java code how to handle this. can i append a request to it or else is there anyway to do it.

[2017-11-10 13:34] naveenkumar-007 commented on #6908
Json file 1:
-----------
"methodName": "List",
          "request": "GetArrayRequest",
Json file 2:
----------------
"methodName": "List",
          "request": "GetSNMPRequest",

[2017-11-10 13:48] wing328 commented on #6908
You can add a prefix, e.g. GetArrayRequest_List, GetSNMPRequest_List and then use `--remove-operation-id-prefix`  when generating the client.

Please email me if you need further help on this. (you can find my email in my
Github profile page)

[2017-11-10 13:49] g-bon commented on #2305
@wing328  I see the same happening in python 2.7, and I think is a more generic problem that binary files are not written to disk correctly because they may be corrupted by the "w" mode instead of "wb"
as pointed out by @microo8 .

I think it would be formally more correct to have wb instead since both text and binary file are expected to be deserialized in here.

[2017-11-10 13:53] wing328 commented on #2305
@g-bon I wonder if you can submit a PR with the suggested fix so that we can review more easily (remember to update the Python Petstore sample so that CIs can run the integration tests)

[2017-11-10 14:35] wing328 commented on #6907
@tomplus yes, the public petstore server contains invalid data as anyone can insert invalid records since there's no validation.

The CIs run a local copy of the Petstore server to avoid issues due to bad data.

[2017-11-10 14:51] tomplus commented on #6907
@wing328 Thanks, it's good to know. I see that some Python tests use public API, I'll fix it.

[2017-11-10 14:58] ryandavis84 opened #6927 "[Gatling] Scaffold gatling test scenarios from swagger"
##### Description
I would like to be able to generate gatling performance test scenarios from swagger.

##### Swagger-codegen version
Latest from master branch

##### Swagger declaration file content or url
The Petstore

##### Command line used for generation
java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -l gatling -o ~/realTest -i http://petstore.swagger.io/v2/swag

[2017-11-10 15:15] asthomas commented on #5932
@mast4461, Thanks, but I am creating an interface using an existing enum that cannot be altered.  I found a hack for the mustache code that gets the nancyfx generator and the csharp generator to match each other and the actual enum.

The combination of nancyfx and csharp is in fact broken.  The two generators create code that can serialize/deserialize from nancyfx to csharp, but cannot serialize/d

[2017-11-10 15:23] kenisteward commented on #6902
@bedag-moo I originally thought something like that as well but was wanting to keep it as generic as possible.  Also, I foresee in the future someone wanting to get the events so in the case of that we need to make sure we have an overload.

[2017-11-10 15:27] HermenOtter commented on #6902
I believe if type safety can be maintained, we should choose for the extra flexible solution, I think it will pay off in the future. The trade-offs seem minimal. What would be the next step to implementing a solution? @kenisteward @bedag-moo

[2017-11-10 16:13] kenisteward commented on #6902
@bedag-moo actually it definitely makes sense not to pass headers and params.

simplified example
[code]

So this will give you the correct typings all the way down.

If you pass nothing it lets you know you'll get body
If you pass body you'll get obs<body>
if you pass response you'll get obs<response>
if you pass events you'll get obs<event>
If you pass something that is not inside the type HttpO

[2017-11-10 16:58] DanielJoyce commented on #4669
Yeah seems kinda half baked to push 3.0 and its barely supported by any tooling even months after its release.

[2017-11-10 17:22] wing328 commented on #4669
Please have a look at https://github.com/swagger-api/swagger-codegen/tree/3.0.0_enhancements

@HugoMario from SmartBear is working on that.

[2017-11-10 18:04] naveenkumar-007 commented on #6908
Hi,

I tried the option as you suggested like

java -jar swagger-codegen-cli.jar generate -i sample.json -l java -o sdk
--remove-operation-id-prefix

and I got the exception like

Exception in thread "main"
io.airlift.airline.ParseArgumentsUnexpectedException: Found unexpected
parameters: [--remove-operation-id-prefix]

Please help,

Thanks,
Naveen

On Fri, Nov 10, 2017 at 7:18 PM, wing328 <notifi

[2017-11-10 20:32] MartinDelVecchio opened #6929 "swagger-codegen-cli omits integer default values"
##### Description

I am using swagger-codegen-cli.jar to generate JSON with "-l swagger" from my input YAML.  This tool does not include default values specified for integer properties in object types

##### Swagger-codegen version

2.2.3

##### Swagger declaration file content or url

Input YAML file:
[code]

Command line:

    java -jar swagger-codegen-cli.jar generate -i input.yaml -l swagger -

[2017-11-10 20:44] MartinDelVecchio commented on #6929
Interestingly, when I added "format: int32" to the integer property definition:

[code]

It worked:

[code]

The Swagger spec says that "format" is optional:

    An optional format keyword serves as a hint for the tools to use a specific numeric type:

So I don't think it should be required here.

Thanks.

[2017-11-10 21:31] jgavris commented on #6914
Not opposed to this idea...but personally our project is using PromiseKit and we like it a lot! Technically the only dependency right now is Alamofire, +1 additional framework if you want RxSwift or PromiseKit generated.

[2017-11-10 21:54] bedag-moo commented on #6902
Looks good to me :-)

[2017-11-10 21:59] kenisteward commented on #6902
@bedag-moo @HermenOtter I'm gonna work on this tomorrow/sunday.  I'll open up the PR once i have something useful.  I don't have any app that uses Angular 4.3 yet so i'll need you guys to test it.

[2017-11-11 02:44] wing328 commented on #6908
Likely you're not using the latest stable version. Please try v2.2.3

[2017-11-11 03:10] naveenkumar-007 opened #6930 "uri construction issue"
##### Description

i have a typical uri like

Actual URI
 "uri": "/test/{0}/diff?block_size={1}&length={2}"
After substation
 "uri": "/test/{A}/diff?block_size={B}&length={C}"

Swagger editor says no query params allowed in the uri.

how to separate query parameters and path parameters. and how i can construct the uri with the values substitution.

##### Swagger-codegen version

##### Swagger decl

[2017-11-11 06:04] wing328 commented on #5733
@frol no need to sorry. Appreciate your time reviewing this.

@niebloomj @johnryan one way is to manually patch the Petstore clients and submit a PR. Then we'll reverse engineer the change back to the mustache templates.

[2017-11-11 06:56] #6337 closed

[2017-11-11 13:18] ackintosh commented on #6910
@jbs1 I tried request to real API which requires authentication with client generated by lastest master, and received expected response with no error.

Would you please show me a sample (API definition/codes using generated client) which reproduce the problem?

[2017-11-12 04:18] ackintosh commented on #6910
@jbs1 Please try passing `Configuration` into api constructor like following 💡

[code]

I noticed that there is a matter in generated docs which should be fix.

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/docs/Api/PetApi.md#example

If api requires authorization, in addition to set YOUR_ACCESS_TOKEN, [we need pass the configuration which

[2017-11-12 04:47] jbs1 commented on #6910
I changed the code according to your suggestion but it gives the same error:
[code]

The `$config` is the in the header via
[code]

The api definintion here is used: https://esi.tech.ccp.is/latest/swagger.json
with the latest snapeshot build for 2.3.0 (swagger-codegen-cli-2.3.0-20171030.060918-211.jar)

[2017-11-12 09:56] ackintosh commented on #6910
... 🤔

[2017-11-12 14:25] wing328 commented on #3816
Hi all, the Erlang client generator (beta) by @tsloughter has been merged into master.

Please pull the latest master to give it a try.

[2017-11-12 14:35] wing328 commented on #6910
@jbs1 I'll try to take another look tomorrow.

[2017-11-12 14:35] wing328 commented on #6910
Thanks @ackintosh for troubleshooting this issue.

[2017-11-12 14:44] wing328 opened #6938 "[Erlang] enhancements for Erlang client generator"
##### Description

Here is a list of enhancements for Erlang client generator:
- [ ] better support for `produces` (content-type)
- [ ] better support for authentication (`{{#authMethods}} ... {{/authMethods}}`)

##### Swagger-codegen version

Latest master

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/pull/6502

##### Suggest a fix/enhancement

If anyone wants to work

[2017-11-12 14:49] Alex0176 opened #6939 "[codegen - java]"
##### Description

If i generate a java client from https://api.my-clay.com/swagger/ui/index#/ i got a exception with the version 2.2.3.

with Version 2.3.0-20171030.060918-211 and 3.0.0-20171009.075709-6 the code will generated.

##### Swagger-codegen version

2.2.3 - gen error
2.3.0-20171030.060918-211 - code generated but not work
3.0.0-20171009.075709-6 - code generated but not work

##### Swa

[2017-11-12 16:15] naveenkumar-007 commented on #6908
Thanks a log. the latest version v2.2.3 has resolved the issue.

[2017-11-12 16:45] ryandavis84 commented on #6939
I tried and got the same issue.  However i use this generator a lot for java and never had these issues.  Is there a way you can link me to your swagger.json/swagger.yaml?  I just want to see what the type formats are supplied as for these missing type declarations.

Also i noticed that there are multiple methods with the same name which are going to give you a method and method_0 name.  If you gi

[2017-11-12 16:52] ryandavis84 commented on #6848
Both android and java worked fine for me when building from the master branch.

[2017-11-12 17:32] Alex0176 commented on #6939
What i have to do for this?
The server side is not from me and i like only to use the API for use the solution, so i have no access to the server side, only to the api. But the codegen need a oData support for be usefull in this case and this code is missing with 2.3.0 and 3.0.0 or i need to use another option.

[2017-11-12 17:42] ryandavis84 commented on #6939
It all depends on what the server side code was built on.  I will try to look at this later today and see if I can get the swagger doc out of the generator and log it to my screen as json.  My hypothesis is that the format is not supplied so it can not figure out its type.  Which maybe for java at least, it should supply the type of Object in that case.  Just makes the client harder to use and not

[2017-11-12 18:09] ryandavis84 commented on #6939
I wrote a quick library that scanned your parameters to find out why the parameters do not have types.  Its because of the way it is reading from the url that you are providing.  I just logged out the name of the parameter, the dataformat and the datatype.  Here is the example from the log:

[main] INFO io.swagger.codegen.languages.JavaClientCodegen - Parameter BaseName: customer_reference
[main]

[2017-11-12 18:30] Alex0176 commented on #6939
What kind of log did you need, i replace the definition in the java code and i can access the api, but the odata did not work and make the error from the first posting.

Is in this case swagger the wrong way to generate a client?

If yes, how can i access correcly the odata with paging and filtering?

if no, whats the correct java libary for this case?

[2017-11-12 18:36] Alex0176 commented on #6939
JSON definition from ,,monday":
`{"name":"monday","in":"body","description":"Whether this timeschedule valid on a Monday between start and end datetimes","required":true,"type":"boolean","default":"true"},`

So a type definition exists.

[2017-11-12 18:50] ryandavis84 commented on #6939
Yeah but i dont think it can get that information from the url you supplied.  It needs to be in the json format for some reason, that someone else can chime in on.

[2017-11-12 19:37] ryandavis84 commented on #6939
The format is for your path parameters is missing somehow i think.

[2017-11-12 19:59] ryandavis84 commented on #6939
I was able to get your swagger json and found multiple areas where the parameters are not set: e.g.

"/api/access_groups/{id}" : {
      "get" : {
        "tags" : [ "access_groups" ],
        "summary" : "Returns single access group.",
        "operationId" : "Data_/api/access_groups/{id}",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {

[2017-11-12 20:06] ryandavis84 commented on #6939
Also i dont see any data about your authorization strategy so it appears that is why that is not working: https://swagger.io/docs/specification/authentication/

Since that is not supplied thats why it is empty.

Your exception is with the deserialization of json.  Its looking for an array to come back but there is an object.  I would set the debugger to true and review the actual response to see i

[2017-11-12 21:49] godoylucase commented on #6667
I have the same issue, have we missed anything?

[2017-11-12 21:59] masaeedu opened #6940 "[Typescript-Fetch] Routes with non-JSON body parameters still get sent JSON"
##### Description

In the TypeScript-Fetch client generator, payloads sent to any routes with body parameters are unconditionally tagged with a `Content-Type` of `application/json` and `JSON.stringify`-ed before being sent. Routes that expect content such as tar archives are broken by this behavior.

##### Swagger-codegen version

2.3.0-snapshot

##### Swagger declaration file content or url

http

[2017-11-12 22:23] ryandavis84 commented on #6930
You need to supply the uri and supply the query parameters separately.

The uri being .../test/{0}/diff
parameters being
block_size
length

[2017-11-13 02:25] naveenkumar-007 commented on #6930
the question mark will not be allowed in uri. it says queryparameter is not allowed in swagger.

[2017-11-13 03:47] d-date opened #6941 "[Swift4] Change model object from `class` to `struct`"
##### Description

I wonder why model templates of swift 4 is type of `open class`, instead of `public struct`.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

In Swift 4, all of generated model class is adopted for `Swift.Codable`, whic

[2017-11-13 04:03] #6924 closed

[2017-11-13 04:13] wing328 commented on #6941
@d-date thanks for the suggestion.

Here are similar discussions/suggestions before:

https://github.com/swagger-api/swagger-codegen/issues/5761
https://github.com/swagger-api/swagger-codegen/issues/4126

[2017-11-13 04:13] wing328 commented on #6941
cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-13 04:22] wari opened #6942 "master branch does not produce compilable go code."
##### Description

Trying to build a go client creates a go library that does not compile. Tried on master. When trying to build on 2.2.3, it produces working go code that does not have the missing API declaration.

##### Swagger-codegen version

Master

##### Swagger declaration file content or url

https://sftp.solace.com/download/VMR_SEMPV2_SCHEMA_YAML

##### Command line used for generation
[c

[2017-11-13 06:06] sri420 opened #6943 "Custom Server Stub for Spring Boot using swagger-codegen"
##### Description

I want to use swagger-codegen from command line to generate code based on the specification created by Swagger ui.

I am looking to customize the generator used for Spring Boot because we feel the project structure and other artifacts should be customized for our project requirements.

But, I do not see any options for customizing an existing generator used for Spring Boot nor o

[2017-11-13 06:54] wing328 commented on #6897
My take is to throw an exception as it's something not supported by Lumen.

As you mentioned we can replace it with something else but still the clients (PHP, Python, etc) generated from the spec expect the `.` in the path.

Please refer to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FinchServerCodegen.java#L210 on h

[2017-11-13 07:02] wing328 opened #6944 "[Swift4] Petstore integration test failed"
##### Description

If I run the following command
[code]
I got the following errors:
[code]

##### Swagger-codegen version

Latest master

##### Suggest a fix/enhancement

If anyone wants to help fix the issue, please reply to let us know.

[2017-11-13 08:46] HermenOtter commented on #6902
@kenisteward The example looks good, I would appreciate that implementation. I will test it when your PR is available.

[2017-11-13 10:00] Dema commented on #2666
Looks like it already can do this: https://github.com/swagger-api/swagger-parser/blob/master/modules/swagger-parser/src/main/java/io/swagger/parser/Swagger20Parser.java#L56
But I can't make it work.. :(

[2017-11-13 10:10] wing328 commented on #6910
@jbs1 did you find the following lines in the endpoint that requires OAuth authentication in the *Api.php files?
[code]
Ref: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Api/PetApi.php#L283-L286

[2017-11-13 10:11] wing328 commented on #6910
Also the error message mentions about invalid token so there's a possibility the token is invalid.

[2017-11-13 12:16] wing328 commented on #6883
@sashank if you still need help, let me know.

Closing this issue for the time being.

[2017-11-13 12:16] #6883 closed

[2017-11-13 12:20] wing328 commented on #6879
I would also recommend you to share your spec via https://gist.github.com instead

[2017-11-13 12:21] wing328 commented on #6869
@marcindanek85 can you please file a PR so that we can more easily review the fix?

[2017-11-13 12:23] wing328 commented on #6871
You can definitely customize the templates and use the `-t` parameters when generating the client (Java, Android)

[2017-11-13 12:24] wing328 commented on #6827
@inforeqd512 given that you're using 2.2.3, please try the latest master (SNAPSHOT version available in the README)

[2017-11-13 12:27] wing328 commented on #6763
@inforeqd512 I would suggest you to try the following:

1) Swift 3 Petstore client (objcCompatible): https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/swift3/objcCompatible

2) Swift 4 Petstore client (objcCompatible): https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/swift4/objcCompatible

If these work for you, then it's likely du

[2017-11-13 12:31] wing328 commented on #6867
Sorry. I'll leave it to the community to help out on this as I'm busy with too many things at the moment.

[2017-11-13 12:36] wing328 commented on #6919
We can add `throw` to the reserved word list: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/Swift4Codegen.java#L137-L155

[2017-11-13 12:37] wing328 commented on #1167
@Xzya I don't think anyone is working on it. Do you want to give it a try?

[2017-11-13 12:38] Kimnyhuus commented on #6641
@wing328:
We've now generated code from master on v2.3.0, and the initialisers are present now.
There's one thing missing though. On Swift3 the initialisers had the ability to make all optional model variables '=nil' in the parameter, making it possible to initialise an object with only some or none of the parameters.

Example:

[code]
This is not the case with the current version of v2.3.0, which

[2017-11-13 14:57] wing328 commented on #6746
cc @jgavris @ehyche @Edubits @jaz-ah

[2017-11-13 15:02] wing328 commented on #6512
@fvarose thanks for working on the fix and the update.

[2017-11-13 15:03] jgavris commented on #6941
I'm big +1 on this. We'll get auto-synthesized constructors / initializers.

[2017-11-13 15:05] wing328 commented on #5240
@Sridhar-1987 sorry I've been very busy. https://github.com/swagger-api/swagger-codegen/pull/5363 is a good starting point. Would you have time to contribute a fix?

[2017-11-13 15:06] pavel-zdenek opened #6946 "[Swift4] Primitive typealias produces void class"
##### Description

We have a handful of primitive "typealias" definitions in yaml, like so
[code]
which in codegen 2.2 produces
`typealias TokenId = String`

but in codegen 2.3.3 and 3.0.0 produces
[code]
which is a "void" implementation, as it does not declare any usable properties.

##### Swagger-codegen version

2.3.3, 3.0.0

##### Swagger declaration file content or url

`paths` is not in focu

[2017-11-13 15:19] ehyche commented on #6941
I like this, and considered doing it for my initial implementation.

However, when we have allOf/discriminator in the swagger schema, then we need to inherit properties from other models.  The easiest way to do this is to use inheritance, which we can't do with structs. So would you rather:

- Have structs when we don't have a parent, and have classes when we do? OR
- Have classes everywhere?

Alt

[2017-11-13 15:27] ehyche commented on #6914
@ogres : when I wrote our customized "swift3-groupon" for Groupon, I wanted this as well, since we did not want to be locked into using Alamofire. Instead, we wanted to be able to swap out any HTTP stack implementation: Alamofire, a simple URLSession implementation, etc.

In our swift3-groupon generator module, I created a protocol for a simple HTTP client and then injected that protocol in the co

[2017-11-13 15:30] ehyche commented on #6641
@Kimnyhuus : yeah we can add this. I should have added it previously.

Of course, the "= nil" will only get added if:

- the property is optional (and thus is a Swift Optional); AND
- no default is provided in the schema. If a default is already provided in the schema, then that will be used for the default.

[2017-11-13 15:31] ehyche commented on #6641
@Kimnyhuus : would mind filing a separate issue for this? That way, I can tie the PR to a new Issue and not one that has already been closed. Thanks!

[2017-11-13 15:34] ogres commented on #6914
Thanks @ehyche ! Sounds awesome, that would be even better for testability

[2017-11-13 17:05] jaz-ah commented on #6941
i'm +1 on the concept - @ehyche i'd rather be consistent and either always have structs and duplicate properties or always have classes at the end of the day.

[2017-11-13 20:52] jsbournival opened #6949 "Gradle project static HTML doesn't get generated"
##### Description

Given a Gradle project with the following 2 tasks (one generating server code with language `spring` and the other one the static HTML with language `html2`). The problem is that nothing gets written in the case of the static HTML task when running the build task. If  generate HTML task gets called explicitly it works fine.

##### Swagger-codegen version

io.swagger:swagger-anno

[2017-11-13 21:17] dilutedsauce commented on #4126
Is there a compelling reason not to have have both as options and let the user choose? It might also be nice to have a protocol option.

[2017-11-13 21:20] dilutedsauce commented on #6941
Is there a compelling reason not to offer both and let the user choose? It might also be nice to offer it as a protocol.

[2017-11-13 22:23] charlescapps opened #6950 "[Java][google-api-client] Minor bugs with google-api-client templates"
##### Description

There are some minor bugs in the new `google-api-client` Java library.
* @wing328 made a reasonable change so that the `requiredParams` property on a `CodegenOperation` is actually just the required params (not required params OR body param). That broke the codegen for `google-api-client`. I think the change is good since the property should be what its name implies, so I'm fixi

[2017-11-13 22:29] jbs1 commented on #6910
I checked and the lines you mention are in the code for the [endpoints](https://github.com/jbs1/esi-php-client/blob/master/SwaggerClient-php/lib/Api/CorporationApi.php#L3217-L3220) i use.
And I doubt the access token is wrong, because I tested the same tokens with a restclient i have installed and there it worked flawlessly.

[2017-11-13 23:46] tomplus commented on #6907
Ok, I got it, CIs have /etc/hosts overwritten https://github.com/swagger-api/swagger-codegen/blob/master/.travis.yml#L31 and tests can have public server configured.

[2017-11-14 00:36] brucesears commented on #6291
I am trying to use the python modules auto generated by swagger, and I am running into an issue I think is a bug in ApiClient.deserialize()

`    def deserialize(self, response, response_type):
        """
        Deserializes response into an object.

        :param response: RESTResponse object to be deserialized.
        :param response_type: class literal for
            deserialized object, o

[2017-11-14 01:07] atanasbozhkov commented on #6919
I just raised a PR #6952 - would you please review it and let me know if it needs more work?

[2017-11-14 01:34] gustavoapaz opened #6953 "[Java][CXF] Include the file name and the proper content type in a file download"
##### Description

This is a feature request.  I have the necessity to include the file name in the response as well as to change the content type of the response to match the one of the file. Currently, I am not able to generate a file download API that can stand on its own without the need of additional coding on the client side.

##### Swagger-codegen version

2.3.0

##### Swagger declaration f