[2015-11-05 13:53] wing328 commented on #1510
Are you using the latest version (2.1.4) or master?

I could find `using System.IO` in the test code.

On Thu, Nov 5, 2015 at 9:32 PM, smwurster <notifications@github.com> wrote:

[2015-11-05 13:55] smwurster commented on #1510
I believe I'm on master: 2.1.5-SNAPSHOT.

[2015-11-05 14:04] smwurster commented on #1510
Note: This is for a Model class, not an API.

[2015-11-05 14:06] wing328 commented on #1510
Ah ok. I'll look into this more and file a PR accordingly if it's confirmed to be a bug.

[2015-11-05 14:06] smwurster commented on #1510
Thanks.

[2015-11-05 14:55] wing328 commented on #1510
I've filed https://github.com/swagger-api/swagger-codegen/pull/1512 to fix the issue.

[2015-11-05 21:44] webron opened #1513 "Online Generator"
In the Generator app, the files are stored in a temporary location on disk and never erased. This can fill disks quickly. Need to delete the files when the operation is complete.

[2015-11-05 22:11] mherb63 opened #1514 "problem with enums rendering on ui"
We have the following defined in our yaml:

![pastedgraphic-8](https://cloud.githubusercontent.com/assets/1205814/10983358/1595c8dc-83e0-11e5-85fd-8e973eaa15bb.png)

But, when its rendered on the UI it shows up as follows:  notice the { and ] characters

![pastedgraphic-9](https://cloud.githubusercontent.com/assets/1205814/10983375/30fe1fd4-83e0-11e5-8b90-e3bf1fc09d7a.png)

[2015-11-05 22:51] webron commented on #1514
Are you talking about swagger-ui?

[2015-11-05 22:54] mherb63 commented on #1514
yes, sorry I should have mentioned that the code was generated from swaggerhub.com  I generated a Spring MVC server project.

[2015-11-05 22:56] webron commented on #1514
To be sure and pin-point the problem, can you describe the steps you've taken to see the problem? I want to see how to reproduce it, and point you to the right project if it's not this one.

[2015-11-06 01:11] fehguy opened #1515 "update swagger-generator to use inflector"
When released, will be easier to maintain the project.

[2015-11-06 01:34] #1510 closed

[2015-11-06 01:35] wing328 commented on #1510
@smwurster PR merged. Please pull the latest and let us know if you still see any issue.

[2015-11-06 02:31] fehguy commented on #1513
https://github.com/swagger-api/swagger-codegen/commit/cdd20ac4089ebccfb847f5d83d8f46ca9890284f cleans up the messes left behind.  If a library isn't ever fetched, it won't be cleaned up, though.

We can always add a timeout for fetching the files.

[2015-11-06 02:31] #1513 closed

[2015-11-06 02:34] fehguy opened #1516 "some options exist in online generator that don't make sense"
It could be because of the new online generator options, but it was probably pre-existing--there are some options that just aren't necessary for some languages.  For example:

[code]

returns this:
[code]

I believe the `modelPackage` and `apiPackage` are not required.  To avoid confusion, we should fix this.  It's probably something in the `DefaultCodegen`.

[2015-11-06 06:23] fehguy opened #1518 "jaxrs multiple tags causes startup failure"
Because tags are used to group operations and paths, when there are multiple tags it will cause errors starting the service.

[2015-11-06 11:18] emilianobonassi opened #1522 "Support for Retrofit 2"
Hi!
I'm using this beautiful tool and I'm very satisfied! :+1:

Have you planned to support Retrofit v2 also if it's still in beta?

IMHO one of the nicest features of this new release of Retrofit is the unification of sync/async at interface level. Every interface method returns a `Call<T>` , you do the sync request invoking `Response<T> execute()` and the async one using `enqueue(Callback<T>)` (

[2015-11-06 11:37] wing328 commented on #1522
@emilianobonassi thanks for the suggestion. Currently, the Java client generator supports several HTTP library, e.g. Jersey 1.x, Jersey 2.x, Retrofit 1.x, etc.

If you've cycle to add another library (Retrofit 2.x, which is still in beta if I understand correctly) to the Java client generator, I can work with you and show you where to start.

[2015-11-06 13:03] smwurster commented on #1510
The issue has been fixed.  Thanks!

[2015-11-06 13:24] wing328 commented on #1510
@smwurster np. If you've other feedback on the C# API client, please let us know.

[2015-11-06 13:30] smwurster commented on #1510
The only other one I'm interested in right now is #955, which I'm watching.

[2015-11-06 14:09] wing328 commented on #1510
@smwurster oh for that one. Please leave a message (e.g. +1) so that we can prioritize accordingly.

[2015-11-06 14:13] smwurster commented on #955
:+1:   This affects me as well, although thankfully it only affects 2 classes and for now I can easily work around it by hand-modifying those as needed.

A quick look at the code shows that it doesn't seem to be that easy of a fix.  Looks like the model name isn't provided to the variable name function.  Some refactoring seems to be in order.

[2015-11-06 14:22] #1518 closed

[2015-11-06 14:36] mherb63 commented on #1514
here's the relavant yaml:

<pre>
  /SCA_ETH_FDFr_EC/{id}:
    patch:
      tags:
      - "SCA_ETH_FDFr_EC"
      description: "Activate or Deactivate an existing Ethernet Flow Domain Fragment\
        \ (SCA_ETH_FDFr_EC) identified with {id}. Use state variable for action. "
      deprecated: false
      parameters:
      - name: "id"
        in: "path"
        required: true
        description:

[2015-11-06 15:47] alexbeardsley opened #1527 "Java Client Does Not Format date-time As Per Swagger Spec"
**This bug completely breaks any service which strictly enforces [RFC3339 formatting](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)** (please reference the [SimpleDateFormat JavaDoc](https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html)).

In ApiClient.mustache the constructor is the following:

[code]

date-time is supposed to follow  RFC3339, however this ou

[2015-11-06 16:04] lugaru1234 commented on #1449
Hi @iambnz I tried to reproduce the bug, but it works fine for me. apiPackage and modelPackage indeed are set to default values in constractor but then config.processOpts() are called in generator and these fields are set to desired values. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L108
I also checked i

[2015-11-06 16:40] crissdev commented on #1044
Related PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/5426

[2015-11-06 16:42] #1516 closed

[2015-11-06 18:51] emilianobonassi commented on #1522
@wing328 , thanks for the offer. I say, why not? Consider me engaged. :+1:

I thought to start from the retrofit template modifying it and if I need help I will contact you.
Anyway, a condensed bootstrap from you is appreciated.

Let me know if you prefer to continue our talks here or by other means (e-mail/skype/gitter etc).

[2015-11-06 23:03] samskiter commented on #453
I'd like to add that maps don't generate well for this case either:

[code]

I get out of that java looking like:

[code]

The hashmap has been made but just holds objects

Should an inner class or something be made here?

Not sure if it's also worth mentioning here that I thinkg additionalProperties breaks on Objective-C too because the generated class inherits from NSMutableDictionary, and it ne

[2015-11-06 23:25] samskiter commented on #453
(might be a duplicate of https://github.com/swagger-api/swagger-codegen/issues/1470 ) But I think the ObjC bug might still stand

[2015-11-06 23:29] samskiter opened #1530 "Referenced model with array causes NullpointerException"
My api spec:

[code]
sitesGETresponse.schema.json:

[code]

Created an error:

[code]

Running swagger built from source, master checkout

[2015-11-06 23:36] samskiter commented on #1530
More information:

I get the same error if I try to generate with `objc`

Note that the example works if I change sitesGETresponse.schema.json to:

[code]

And I get another failure (this might be a different issue) with:

[code]

OR

[code]

Where site.schema.json:

[code]

[2015-11-07 00:22] samskiter commented on #1530
I've tracked the issue to the `processRefToExternalDefinition` method in ExternalRefProcessor in swagger-parser. There seem to be numerous ways this one line can fail, and I've managed to find them all...

[2015-11-07 02:50] wing328 commented on #1522
https://github.com/swagger-api/swagger-codegen/pull/1256/files is a good starting point. I can be reached at email/skype via the email address in my github profile page.

[2015-11-07 04:20] jbadeau opened #1531 "Java Map not generated correctly"
given a field like:
[code]

the resulting java code is:

[code]
Any ideas?

[2015-11-07 05:34] jbadeau commented on #1531
Seems it is fixed with:

			<dependency>
				<groupId>io.swagger</groupId>
				<artifactId>swagger-codegen</artifactId>
				<version>2.1.4</version>
			</dependency>

any chance of a release using the latest swagger-codegen?

[2015-11-07 05:36] #1531 closed

[2015-11-07 16:41] wing328 commented on #1435
@fabiankessler better readme has been added to the Java API client.  Please let us know if you've further feedback. Closing this task for now.

[2015-11-07 16:41] #1435 closed

[2015-11-07 16:54] mach-kernel commented on #453
@samskiter try my fork, #1441, I was able to get stuff to work properly but it was a few weeks ago and I forgot what I did :cry:

[2015-11-08 15:17] rostskadat opened #1532 "Swagger JavaSpringMVC Server does not use correct annotations for bodyParams"
Hello,

The file /swagger-codegen/src/main/resources/JavaSpringMVC/bodyParams.mustache is missing the @RequestBody annotation

It should contains:

{{#isBodyParam}}@ApiParam(value = "{{{description}}}" {{#required}},required=true{{/required}} {{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) @Requ

[2015-11-08 15:41] wing328 commented on #1532
@rostskadat thanks for the suggestion. Please kindly submit a PR for the change.

Guidelines for contributing: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution

`@RequestBody` Annotation Ref: http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html#mvc-ann-requestbody

[2015-11-08 15:46] rostskadat commented on #1532
Sorry, I'm new to github.

Are you suggesting for me to submit a pull request?

/Julien

[2015-11-08 16:11] wing328 commented on #1532
Yes, that's what I suggested. Here are the high-level steps

1) folk https://github.com/swagger-api/swagger-codegen (there's a folk button in the upper right of the page)
2) git clone https://github.com/rostskadat/swagger-codegen.git
3) cd swagger-codegen
4) git checkout -b springmvc_request_body (this will create a new branch)
4) make changes to the file
5) git commit -a
6) git push origin spring

[2015-11-08 18:14] jimmypuckett commented on #1482
@wing328, I think that this is a great idea, but I would think that the effort should wait on guzzle making guzzle-service working with guzzle 6. At that point, it would just be a matter of converting the swagger specs to guzzle services.

[2015-11-09 01:56] wing328 commented on #1482
@jimmypuckett thanks for the tips. I'd a look at guzzle-service but couldn't find the spec it uses. I'll check with the owner to find out more about the service and its specification when the project becomes more mature.

[2015-11-09 02:24] jimmypuckett commented on #1482
@wing328, ya it is not well documented.  It was very nice back in guzzle 3 days.  I am looking forward in them releasing the update for version 6.

[2015-11-09 02:56] wing328 commented on #1480
@ajainy are you using the latest version of Swagger Codegen? Can you share the spec for reproducing the issue?

[2015-11-09 03:59] fehguy commented on #1514
That looks like a bug in the templates.

[2015-11-09 08:43] xhh commented on #1527
Please have a look at PR #1534 in which the default date-time format has been updated to conform to RFC3339 and the date formatter for ApiClient and Jackson are updated to be the same.

Regarding fuzzy parsing date strings, I believe most services would use a uniform date format across the system. If so, the `ApiClient#setDateFormat` could be used to customize that uniform date format (e.g. the RF

[2015-11-09 11:04] emilianobonassi commented on #1522
@wing328 , thanks a lot.

[2015-11-09 11:08] markvdkerkhof opened #1535 "Default headertext for gererated files"
It would be nice if text can be added to the yaml file, so this text will be inserted at the beginning of the generated file.
"This is a generated file"

[2015-11-09 11:10] markvdkerkhof opened #1536 "Angular typescript question: $httpParamSerializer"
the constructor of the generated api looks like:
constructor(private $http: ng.IHttpService, basePath?: string, private $httpParamSerializer?: (any) => any) {
But I get runtime errors because of the code expects the second parameter is $httpParamSerializer. So now I have to adapt manualy the generated file.

[2015-11-09 11:27] cbornet commented on #1348
I have tested that a definition with multiple allOf gets the copies of all the elements so composition is working fine if we remove the class extension. As per #1120, there seems to be an issue when the parent holds an enum. I think the solution there would be to also copy the enum to the child class (or import the one from the parent class if it is visible).
I agree with @wing328 that class exten

[2015-11-09 11:35] crissdev commented on #1536
I believe this is a dup of #1488 which was fixed with commit 5580eb7ac3d5448a0b8fd840f36e2e21ecfcbd22

[2015-11-09 13:09] markvdkerkhof opened #1538 "Angular typescript: basePath always https"
the basePath is always set to https: "basePath = 'https://localhost:62300/api';"
is it possible to force that is http,

[2015-11-09 14:37] TheIcemanCometh opened #1539 "Support for Jackson v1.X"
We have a legacy app that currently uses v1.X of Jackson that would benefit greatly from being able to select the version of Jackson that is generated from the **swagger-codegen** API.  We'd like to request a command-line parameter with proper support to generate the appropriate code with those classes.

[2015-11-09 14:39] samskiter opened #1540 "'additionalProperties' breaks iOS codegen"
additionalProperties breaks objective-c code generation as it causes generated classes to inherit from NSMutableDictionary, rather than from JSONModel. This would be fine but the generated class doesn't implement `initWithDictionary` either so the check inside SWGApiClient to allow it to be deserialised won't work:

[code]

[2015-11-09 16:54] wing328 commented on #1540
@samskiter can you share the swagger spec us to repeat the issue ?

[2015-11-09 16:56] wing328 commented on #1539
Java code generator supports the following HTTP libraries:
[code]
(`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java` to show the usage)

The default HTTP library for Java supports Jersey client 1.18. Would that meet your requirement?

[2015-11-09 17:04] wing328 commented on #1538
In the petstore example, basePath starts with `http` (not https):
Angular: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-angular/API/Client/PetApi.ts#L9
Node; https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/api.ts#L121

Do you have the spec that you can share with us ?

[2015-11-09 17:06] wing328 commented on #1535
Another way to put customized text in the generated files is to update the mustache template: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources

[2015-11-09 18:01] TheIcemanCometh commented on #1539
Unfortunately, no, those options won't meet our requirements.  Our legacy app is using 1.9.2/1.9.9 of the Jackson Core and Mapper and the code generated from Swagger CodeGen (SCG) causes issues mixing fasterxml and codehaus.

I did spend some time this morning with one of the APIs we want to generate code from, and manually changed the appropriate imports and statements to use fasterxml after the

[2015-11-09 18:24] TheIcemanCometh commented on #1539
I have talked to the powers-that-be and the Gson could possibly be an option for us.

[2015-11-09 18:28] samskiter commented on #1540
hey, here's a schema I used:
[code]

[2015-11-09 18:29] samskiter commented on #1540
(see also https://github.com/swagger-api/swagger-codegen/issues/453#issuecomment-154570630)

[2015-11-09 18:31] fehguy commented on #1539
mixing jackson 1.x and 2.0 is supported, per their documentation. http://www.cowtowncoder.com/blog/archives/2012/04/entry_469.html

[2015-11-09 19:27] himanshuy opened #1542 "Generating List of Enums"
Swagger 2 does not generate List of Enums. For example:
[code]

Generates `List<String> services;` without any enums.

[2015-11-09 20:48] jeff9finger commented on #832
I really need the jersey 2/jaxrs 2.0 as well.

[2015-11-10 00:10] jjkirby opened #1544 "Codegen Not Correctly Generating Response Object"
I am trying to separate (different files) my API definitions from the Response Object so I can get Response Object reuse.  My Response Object schema is a $ref to an http based uri on a different server.
The editor handles the external reference nicely with no errors and displays the correct API documentation.  When I run the codegen (java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli

[2015-11-10 02:30] emilianobonassi commented on #1522
@wing328 , let me know your comments. Thanks in advance.

[2015-11-10 03:33] wing328 commented on #1540
OK. It's caused by #1470 (map of inline model in this case)

[2015-11-10 04:16] xhh commented on #1542
@himanshuy please have a look at #1283 and [my comment](https://github.com/swagger-api/swagger-codegen/issues/1283#issuecomment-143149315).
I juts tried this in the spec and it works for me:

[code]

Have you tried with the latest master and with the correct indented YAML spec?

[2015-11-10 06:48] #1532 closed

[2015-11-10 07:09] srinirengasamy commented on #1454
"amount": {
                    "type": "string",
                    "format": "number",
                    "description": "my amount"
                },
  Results in generating
  private BigDecimal amount = null;
 @ApiModelProperty(value = "my amount")
  @JsonProperty("amount")
  public BigDecimal getAmount() {
    return amount;
  }
  public void setAmount(BigDecimal amount) {
    this.amount

[2015-11-10 07:25] wing328 commented on #1544
@jjkirby I don't think $ref to a URL is supported at the moment. As a workaround. Please define the model in the same file or in a separate file that can be read locally.

[2015-11-10 09:02] SalehAly commented on #1500
@fehguy copying fields is going to disabled by default correct?

[2015-11-10 10:50] samskiter commented on #1540
Ok, I'll take your word for it - on the face of it it looks like a different bug. So the generated code should implement initWithDictionary? And inherit from NSMutableDictionary as it currently does?

It might also be worth looking at supporting the recently introduced templates to objective-c. I think it's only available for arrays and dictionaries, but better than nothing ! :)

[2015-11-10 10:52] wing328 commented on #1540
Btw, to workaround the issue for the time being, you can define the model properly in the `definitions` section of your spec.

[2015-11-10 10:54] samskiter commented on #1540
you mean like this?

[code]

Otherfile.json:

[code]

[2015-11-10 11:00] wing328 commented on #1540
Yes, that's one way to do it.

I was referring to https://github.com/swagger-api/swagger-spec/blob/master/examples/v2.0/json/petstore.json#L51 to define the models in the same file.

Models defined these ways have a proper name (instead of something like InlineSchema200)

[2015-11-10 13:45] #1522 closed

[2015-11-10 16:37] srinirengasamy commented on #1454
Pl make sure this is also generated
@JsonSerialize(using = ToStringSerializer.class)
private BigDecimal amount = null;

[2015-11-10 16:39] srinirengasamy commented on #1454
Once string annotation is added to the generated code pl close the issue.
Pl merge the pull request

[2015-11-10 19:33] fenoloco opened #1549 "Package to scan when packing an ear"
Hello,

We have the following structure:

  - blabla.ear
     -> libs
          -> service clases here
     -> war
           -> swagger conf etc.

The problem is that the services clases are loadad by a different classloader than the one that load the swagger clases.

Is there a place to configure the classloader used to find the classes?

[2015-11-11 06:08] wing328 commented on #1504
@aersamkull thanks. Let me know if you need any help.

Ref: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution

[2015-11-11 09:17] nickcmaynard opened #1551 "Unable to load RELATIVE ref"
With swagger-codegen 2.1.4, we receive this error when attempting to generate JAX-RS server from a swagger.json:
[code]

I've seen other issues (#214) where @fehguy states this should be fixed, but we're not seeing this... does anyone have any ideas, please?

[2015-11-11 09:23] wing328 commented on #1551
Here is the error:
`Exception in thread "main" java.lang.RuntimeException: Unable to load RELATIVE ref: ./parameters.json`

Seems like you're using relative path for the definition of `parameters`.

Can you replace ./parameters.json with full URL instead as the parser is expecting the full URL (https://github.com/swagger-api/swagger-parser/blob/master/modules/swagger-parser/src/main/java/io/swagge

[2015-11-11 09:38] wing328 commented on #1544
@jjkirby had another look at your swagger spec. Should the following
[code]
replaced by the following instead?
[code]
Note that there's no property.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L238

[2015-11-11 13:00] #1504 closed

[2015-11-11 15:12] jeff9finger opened #1554 "swagger-codegen for server using jersey2 with jersey2 annotations"
I am trying to generate my server side code from my swagger file. I have tried the jaxrs language in swagger-codegen, but that uses jersey version 1.  In addition, I tried the java language with the jersey2 library, but that is only for client side.

I am working on adding templates for this, but there might need to be more needed than just template changes.

Please add jaxrs jersey2 language temp

[2015-11-11 15:21] jeff9finger opened #1555 "swagger-codegen for server using inflector with jersey2 annotations"
I would like to use the inflector language of swagger-codegen, but have the code generated using the jaxrs/jersey2 annotations, instead of depending upon the inflector code for the dynamic routing.

There are at least 2 reasons that I want this.
- My company wants to be able to have the annotations in the code so that we are not tied to swagger-inflector.
- My company does not want to depend upon

[2015-11-11 16:48] jjkirby commented on #1544
Without the properties I get this is the swagger editor:

wagger Error
Data does not match any schemas from 'oneOf'
Jump to line 33
 <>Details
 Object <>
code: "ONE_OF_MISSING" <>
message: "Data does not match any schemas from 'oneOf'" <>
 path: Array [5] <>
0: "paths" <>
1: "/catalog" <>
2: "get" <>
3: "responses" <>
4: "200" <>
 inner: Array [2] <>
 0: Object <>
 1: Object <>
code: "OBJECT_MISSI

[2015-11-11 17:44] jeff9finger opened #1556 "Generate java model sub classes without the fields from the base class."
Is there a way to generate the model java classes that do not contain the fields and getters/setters for the base class?

For example:

swagger file model:
[code]
The Java classes that get generated look like:

    public class Page  {
      private Integer pageNum = null;
      private Integer pageSize = null;
      private Integer numElements = null;
      private Integer totalNum = null;

[2015-11-12 01:21] chitankensuru opened #1557 "C# dependency that is PCL friendly"
Currently the C# client export has a dependency on RestSharp. I am working on a Xamarin PCL project and unfortunately RestSharp has no PCL implementation.

Could C# client export with PCL friendly libraries be added? That would be awesome.

[2015-11-12 01:30] who commented on #1557
@chitankensuru

You may be able to use the C# .Net 2.0 generator for this.

I've used it to create clients for Unity projects.

https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/csharp-dotnet2/SwaggerClientTest/Lib/SwaggerClient

[2015-11-12 02:03] chitankensuru commented on #1557
The C# .Net 2.0 seems to be using RestSharp also.

[2015-11-12 03:54] wing328 commented on #1557
@chitankensuru have you used https://github.com/FubarDevelopment/restsharp.portable before? would it meet your requirement ?

[2015-11-12 11:47] SalehAly opened #1561 "Cannot generate a definition with name "File""
When I try to generate the model of a custom made File definition, the file model does not get generated. I tried with Java and angular typescript client, it does not work also, not sure if this is intended ?

[code]

[2015-11-12 15:10] wing328 commented on #1554
@jeff9finger yes, ideally jaxrs generator should allow one to customize what HTTP library (e.g. Jersey2) to use.

May I know if you've cycle to help implement it for JaxRS generator?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution

[2015-11-12 15:18] wing328 commented on #1487
@aersamkull Yes, I think that's one way to do it.

Another approach (a bit more difficult) is to import the models in the Api files, e.g. [Java/api.mustache#L9](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/api.mustache#L9)

[2015-11-12 15:43] aersamkull commented on #1487
I think the import approach is cleaner. However the syntax is different from Java. Is there a way to add Mustache Variables for a specific language? Or to modify them?
A third approach would be Type Aliases:
[code]

[2015-11-12 15:53] vnalla commented on #832
I need JAX-RS 2.0 support for both server and client and it will better if the library is configurable option for server side.

[2015-11-12 15:56] wing328 commented on #1487
Using the Petstore example, can you please show me what the import statement looks like?

[2015-11-12 16:08] cbornet commented on #1353
@wing328 There is no README file in android templates and I don't see the point of adding one now just to say that it is deprecated. I have submitted a PR to deprecate it in the editor (although it is rejected by CI and I don't really know why...).
So where else should we notice the user that android-java is deprecated ? I looked at getHelp() method of Codegen but it seems it is not used anymore..

[2015-11-12 16:22] aersamkull commented on #1487
Sorry, import statements are not an option. They are bound to modules and we should not rely on a module system, I think. Type Aliases could be used like imports in Java:
[code]

[2015-11-12 16:51] tigaris opened #1564 "swift codegen does not support query parameters on POST"
**POST** methods with **query** parameter types map to Alamofire.ParameterEncoding.URL which means they are sent in the body of the request as application/x-www-form-urlencoded.

I need to support **POST** methods with **query** parameter types that map to Alamofire.ParameterEncoding.URLEncodedInURL.  The generated code does not make it easy to support this due to its use of a boolean flag **isBod

[2015-11-12 17:11] aersamkull commented on #1487
Somehow, api.d.ts  is always location in API/Client folder and has wrong paths. This had to be fixed as well. I would expect it to be in the "apiPackage"-Folder

[2015-11-12 17:48] jjkirby commented on #1544
I have resolved both ther editor issue AND code gen with external response schema http based files:
I forgot to add the object reference (#/Container)

DOESN'T WORK

"200": {
"description": "Successful response",
"schema": {
"$ref": "http://81371-jk01.viawest.corp/container.json"
}
},

DOES WORK!!
"200": {
"description": "Successful response",
"schema": {
"$ref": "http://81371-jk01.viawest.corp/co

[2015-11-12 18:07] tigaris opened #1565 "swift codgen not decoding json array responses"
There appears to be missing decoders for array responses in **Decoders.initialize()**.

For example, an api that returns **Response<[Employee]>** will fail to decode unless I add the following line to Decoders,initialize:
`Decoders.addDecoder(clazz: [Employee].self) { return decode(clazz: [Employee].self, source: $0) }`

I believe the issue is related to generic types in swift.  For example, suppo

[2015-11-12 19:59] mm-gmbd opened #1566 "Error creating custom server generator"
So, I've successfully compiled a new jar, but when I run the following command (as stated in the readme):

    java -cp /path/to/swagger-codegen-distribution:/path/to/your/jar io.swagger.codegen.Codegen

I receive the following error:

    Error: Could not find or load main class io.swagger.codegen.Codegen

Here is the directory structure:

    + swagger-codegen
      + bin
      + modules

[2015-11-12 20:17] fehguy commented on #1566
There are two components.  1) the `swagger-codegen-cli.jar` is the executable jar that provides the codegen foundation, and 2) the custom module.

To run the codegen, you need to execute the executable jar.  To load your custom `myLibrary`, you need the output in your classpath.  Thus:

[code]

will execute it

[2015-11-12 20:26] mm-gmbd commented on #1566
Ah, updating the documentation to reflect this would be great! But, I'm not quite all the way there yet.

I switched my current directory to the base of `swagger-codegen`, and ran the following command:

    cp output/myLibrary/target/myLibrary.jar modules/swagger/codegen-cli/target/swagger-codegen-cli.jar -i http://localhost:8080/api.json -l myCustomName -o ./output/myTestFolder
    Error: Could

[2015-11-12 20:27] fehguy commented on #1566
i missed something!  sorry about that:

[code]
(needed `-jar`)

[2015-11-12 20:30] mm-gmbd commented on #1566
Awesome! However, now that it runs, I receive an exception:

    Found unexpected parameters: [-i, http://localhost:8080/api.json, -l myCustomName, -o ./output/myTest]

Ideas? I thought those were the *expected* parameters.

[2015-11-12 20:33] fehguy commented on #1566
your args are off--take a look here:

https://github.com/swagger-api/swagger-codegen#to-generate-a-sample-client-library

My guess is you're missing `generate` before your options

[2015-11-12 20:36] mm-gmbd commented on #1566
Yes, that is what I was missing -- thanks! Not sure if this is the right place to continue discussion, but my newest error is:

    java.lang.RuntimeException: Can't load config class with name myLibrary

Although, in the myLibraryCodeGenerator.java file, I have the following defined:

    /**
     * Configures a friendly name for the generator.  This will be used by the generator
     * to select

[2015-11-12 20:39] fehguy commented on #1566
ok first, if you can help update the documentation with a PR (after you're working) that'd be great.

Next, you should see the following file in your `myLibrary/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig`:

[code]

If that doesn't match the package in `myLibraryCodeGenerator`, then you'll get that error.  Maybe faster if you jump on http://webchat.freenode.net/?channels=

[2015-11-12 20:41] mm-gmbd commented on #1566
Yup, those are definitely different, I'll name them the same and get back soon.

And as far as a PR -- of course!

[2015-11-12 20:42] fehguy commented on #1566
ok great.  the meta generator is supposed to make them consistent so if it didn't, that's a bug.

[2015-11-12 20:43] mm-gmbd commented on #1566
I may have to leave the actual fix of that one up to you :)

[2015-11-12 20:43] fehguy commented on #1566
that's fair

[2015-11-12 20:45] mm-gmbd commented on #1566
Damn... I ran `mvn package` from the root of swagger-codegen - I presume stopping that in progress would be a bad thing?

[2015-11-12 20:45] fehguy commented on #1566
nah, it won't take long.

[2015-11-12 20:46] mm-gmbd commented on #1566
Also, as a side note, when running `mvn package` from the root, all of the packages install correctly except for swagger-generator. I don't believe I need it for what I'm doing, but I could file a separate issue for that if that would help.

[2015-11-12 20:54] mm-gmbd commented on #1566
So the metadata says the package name is the following:

    com.my.company.codegen.MyLibraryCodegenGenerator

So I made the following change in the java:

    /**
     * Configures a friendly name for the generator.  This will be used by the generator
     * to select the library with the -l flag.
     *
     * @return the friendly name for the generator
     */
    public String getName() {

[2015-11-12 21:13] wakingrufus commented on #612
Was the HEAD issue ever addressed? My project's HEAD endpoints aren't showing up in springfox swagger.

[2015-11-12 21:51] chitankensuru commented on #1557
@wing328 Tried that. Only in the generated ApiClient several functions are used from RestSharp.Extensions. Which I didn't find in RestSharp.Portable.

[2015-11-13 01:56] wing328 commented on #1557
@chitankensuru thanks for trying. If those functions are replaced properly, then RestSharp.Portable can be used, right ?

[2015-11-13 02:00] wing328 commented on #1544
Glad to hear that you've resolved the issue.

[2015-11-13 02:00] #1544 closed

[2015-11-13 02:02] m4574 opened #1567 "Generated android client api multiple requests at the same time?"
Does generated android client api supports sending multiple http requests at the same time?
I got:
W/SingleClientConnManager﹕ Invalid use of SingleClientConnManager: connection still allocated. Make sure to release the connection before allocating another one.

From above log message. I realized that it sends only 1 request at the time.
Since ApiInvoker class is singleton and it has only 1 instanc

[2015-11-13 02:19] wing328 commented on #1567
For Android client, I believe you're referring to the `android` template. Our plan is to sunset the Android template as it can be replaced by the Java client.

In the Java client, here are the options for selecting an HTTP library:
[code]
(Usage: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java`)

You can choose the HTTP library that would meet your require

[2015-11-13 02:38] wing328 commented on #1551
You can find an example for reference at https://github.com/swagger-api/swagger-codegen/issues/1544#issuecomment-156181857

[2015-11-13 02:48] wing328 commented on #1487
Also we need to apply the same fix to typescript-node as well but I'm not sure which one (type aliases or fully-qualified name) is preferable in typescript-node.

[2015-11-13 03:40] yonaskolb opened #1568 "Access parent vars"
It would be useful to have access to a parent's vars.
This is for when `supportsInheritance` is set to true in DefaultCodegen

This would allow subclasses to references a super classes properties for doing stuff like the following

[code]

A parents variables could perhaps be references like this {{#parent}}{{#vars}} ... {{/vars}}{{/parent}}

Without this it's not possible to build the example abo

[2015-11-13 10:30] aersamkull commented on #1487
I personally prefer fully  qualified names. Even though it is not very likely, we could produce name collisions with aliases.
In addition, we can write unit tests for full qualified names, isnt' it?

[2015-11-13 11:40] wing328 commented on #1487
Yes, unit testing is something we need for Typescript Petstore client. I'll create a separate task for tracking that.

[2015-11-13 14:31] wing328 opened #1569 "[TypeScript] Unit testing for Petstore sample (community contribution)"
Similar to Unit Testing for Petstore client in other programming languages, we also need unit testing for TypeScript (angular and node) to test the Petstore so as to ensure code changes do not break the existing functionality of the TypeScript API client.

Currently, we're looking for community contribution. If you need help to get started, please let me (@wing328) know. Thanks in advance.

Ruby T

[2015-11-13 15:02] jeff9finger commented on #1554
Yes. I can help with this effort.

[2015-11-13 15:28] wing328 commented on #1554
Thanks @jeff9finger

Here are related-code in Java code generator for supporting multiple libraries:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L100
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.

[2015-11-13 15:55] wing328 commented on #1568
@yonaskolb thanks for offering help to contribute to the Swift API client. For model inheritance, you may want to join the discussion at https://github.com/swagger-api/swagger-spec/issues/403.

For your request to access the parent's properties using `{{#parent}}{{#vars}} ... {{/vars}}{{/parent}}` that you proposed, I think I understand what you meant as I've run into similar issue before when try

[2015-11-13 23:42] nickcmaynard commented on #1551
That's the issue. Sadly, we need to use relative references - this gets deployed on a number of servers with different URLs.

[2015-11-13 23:43] nickcmaynard commented on #1551
To be clear, we expect this relative style to work, in line with @fehguy's assertion.

[2015-11-14 13:17] wing328 commented on #1538
@markvdkerkhof closing this as there's no update from you.

[2015-11-14 13:17] wing328 commented on #1536
@markvdkerkhof closing this as there's no update from you.

[2015-11-14 13:17] #1536 closed

[2015-11-14 13:18] #1538 closed

[2015-11-14 13:47] wing328 commented on #1449
@iambnz closing this as there's no update from you.

[2015-11-14 13:47] #1449 closed

[2015-11-14 14:36] wing328 commented on #1551
@nickcmaynard I read #214 twice but didn't see how it's related to this issue (relative URL) that  you reported.

Are you referring to another issue instead?

[2015-11-14 18:29] wing328 opened #1570 "[TypeScript][Node] url and basePath in the constructor seem duplicated"
Using the Petstore example, basePath is set to `http://petstore.swagger.io/v2`
(ref: [api.ts#L121](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/api.ts#L121))

But `url` is also used as indicated below:
[code]
(ref: [api.ts#L162](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/api.ts#L162))

so

[2015-11-14 19:23] nickcmaynard commented on #1551
Definitely a typo. Will try to track down the real issue number. However, this issue should be sufficient. Essentially, @fehguy states "swagger-parser supports relative, so swagger-codegen should too". Clearly, not the case. Hence, raising the issue.

[2015-11-14 19:25] nickcmaynard commented on #1551
#742 is the issue I'm referring to.

[2015-11-15 03:03] wing328 commented on #1551
I've read #742 and the issue #1193 associated with it. My understanding is that the thread/issue refers to relative "file" path (not URI).

Looking at the [swagger spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#reference-object), [`canonical dereferencing`](http://json-schema.org/latest/json-schema-core.html#anchor27) is supported so in your case swagger parser shoul

[2015-11-15 10:35] wing328 commented on #1569
#1571 to fix/improve ts-node test

[2015-11-15 14:57] wing328 commented on #1341
@corruptmem I did some test and found that I could put double quote on property name that is reserved word, containing "-", starting with number, etc
[code]
npm test didn't report any issue (FYI. I tested with typescript node but typescript angular should also work with the above)

Can you please give it a try to see if the above solution (double quote) works for you? If yes, we can file a PR to p

[2015-11-15 16:00] nickcmaynard commented on #1551
swagger-codegen is being passed a URI. The URI contains a relative $ref. It throws the error linked in the original report. We expect it to work.

[2015-11-16 00:36] mm-gmbd commented on #1566
@fehguy, I wrote you a note back on Friday. Did you receive that? Just following up...

[2015-11-16 02:31] xhh commented on #1566
@mm-gmbd I could make it work with these steps:

In swagger-codegen's top folder:

[code]

The output is:

[code]

The above exception would be gone after commenting out this section in *src/main/java/com/my/company/codegen/MyLibraryCodegenGenerator.java*:

[code]

Note that I used the command from *output/myLibrary/README.md* which runs the `main` method of `io.swagger.codegen.Codegen`.

I tried

[2015-11-16 03:34] wing328 commented on #1557
@chitankensuru I've filed #1572 to remove dependency on RestSharp extension.

[2015-11-16 04:14] samuelg opened #1573 "Java: java.lang.IllegalArgumentException: Unknown pattern character 'X' when instantiating an Api class"
We are getting an exception (java.lang.IllegalArgumentException: Unknown pattern character 'X') thrown whenever we try to instantiate a Api class. It appears to be due to the default simple date time format having an invalid character in it (X). See https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache#L60 for the offending li

[2015-11-16 04:26] xhh commented on #1573
Are you using Java 1.6? `XXX` in `SimpleDateFormat` was added since Java 1.7

[2015-11-16 04:28] samuelg commented on #1573
The Android version of SimpleDateFormat does not support XXX. See http://developer.android.com/reference/java/text/SimpleDateFormat.html. Since the java generator is being pushed as a replacement for the android generator which has date parsing issues of it's own, this is a problem.

[2015-11-16 07:42] xhh commented on #1573
You are right, Android uses `ZZZZZ` instead to generate time zone like `+01:00` (like `XXX` in Java).
For now, could you try using the [`ApiClient#setDatetimeFormat`]("yyyy-MM-dd'T'HH:mm:ss.SSSZ") method to customize the datetime format to make it work in Android?

Taking the petstore sample as an example:

[code]

[2015-11-16 07:59] wing328 commented on #955
@danze @rajeshkamal @smwurster I've filed #1574 to escape the property name (which happens to be the same as the model name) by prepending an underscore (e.g. Name becomes _Name). Let me know if you've any feedback on the change.

[2015-11-16 08:06] thebignet opened #1575 "Unrecognized token 'swagger' JsonParseException"
When upgrading from io.swagger:swagger-codegen:2.1.3 to io.swagger:swagger-codegen:2.1.4, I came accross this exception.

[code]

This was generated by a Gradle plugin based on Swagger CodeGen.  While debugging, I found that SwaggerParser.getExtensions() returns two elements and that my yaml spec file is read as a json spec file.  This is what caused the above stacktrace.

Has anyone come accross

[2015-11-16 08:10] NahumLitvin commented on #1469
Unfortunatly I have no time to contribute nowadays but I am joining the request.

[2015-11-16 08:44] wing328 commented on #1469
The beta version of the C# WebApi generator can be as simple as the following to start with:

1) Community implements `getPetById` of [Petstore](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L216) in a WebApi project
2) Swagger core team converts the files in the WebApi project back into mustache template.

Then we'll implem

[2015-11-16 12:20] samuelg commented on #1573
I tried to set the format via setDatetimeFormat. However, as I mentioned above, the exception is thrown during instantiation so Android can never get to the point where we try to set the format. See https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache#L60.

Since Android doesn't support XXX, any use of new ApiClient() throws

[2015-11-16 12:34] xhh commented on #1573
I see. Maybe a hack of catching exception for `new SimpleDateFormat` would be enough here to try a different date format for Android. I'll submit a PR for it.

[2015-11-16 13:07] samuelg commented on #1573
I think that would be good enough for us. That way it works for JDK 7 users and Android users can set their own format.

[2015-11-16 14:49] CrossfireCurt opened #1576 "Jersey 2.6 creating MIMEXXX.tmp files for every client call"
We are using a Swagger client built with Jersey2 to make thousands of calls a day in our production environment and Jersey is creating 0 byte temp files in the /tmp directory every time a call happens. This eventually blows out the inode limit on the machine.

Documented here: https://java.net/jira/browse/JERSEY-2515
Looks like this was addressed in Jersey 2.12. As a work around I'm going to try e

[2015-11-16 15:46] CrossfireCurt commented on #1576
I have confirmed that excluding the dependency and forcing media-multipart 2.12 works just fine as a temporary work around for us until Swagger upgrades to a newer jersey version:
[code]

[2015-11-16 16:07] rajswapna commented on #1170
![screen shot 2015-11-16 at 10 06 01 am](https://cloud.githubusercontent.com/assets/5671385/11186929/be0d8448-8c49-11e5-8998-0b6c301dda93.png)

I am getting error trying to generate node.js server. See the attached files.

[2015-11-16 16:11] rs2015 opened #1577 "Code Generator Error - Details - Object 500, type "unknown", message "something bad happened""
See, swagger below. I am trying to generate node.js server using http://editor.swagger.io

swagger: '2.0'
info:
  version: 1.0.0
  title: unsecureEchoDP
  description: Unsecure Echo SOAP service hosted on Datapower
  contact:
    name: API Developer
    email: apideveloper@abc.us
    url: 'http://www.abc.us'
  license:
    name: ABC POC License
    url: 'http://abc-license-url'
  termsOfService: a

[2015-11-16 19:41] ms705 opened #1578 "NullPointerException with Tizen generator on Kubernetes API"
I ran swagger-codegen v2.1.4 (the stable release) on the Kubernetes API spec (v1.1, see [here](http://kubernetes.io/third_party/swagger-ui/)) with the Tizen generator (to generate C++ code), but I get the following error:

[code]

Looking at the code, I can't immediately tell what the problem is. I'll investigate further -- the `/api/v1/namespaces/{namespace}/pods/{name}/log` resource doesn't seem

[2015-11-17 02:09] wing328 commented on #1557
@chitankensuru PR merged into master. Please pull the latest master and give it a try.

[2015-11-17 02:17] #955 closed

[2015-11-17 02:24] wing328 commented on #955
PR merged. Please reply if you still encounter issues.

[2015-11-17 02:28] wing328 commented on #1578
@ms705 thanks for reporting the issue. We're looking into this.

[2015-11-17 03:28] wing328 commented on #1578
In the method `connectGetNamespacedPodExec` defined in http://kubernetes.io/swagger-spec/api/v1/, I found the following parameter with invalid type (empty string)
[code]
In GitHub, I found that the type is defined as `string`
https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L6111

I've reported the issue to Kubernetes team [here](https://github.com/kubernetes/kubernete

[2015-11-17 04:03] wing328 commented on #1577
The spec you provided seems to be corrupted. Please share using http://gist.github.com so that we can use it to repeat the issue.

[2015-11-17 07:44] wing328 commented on #1576
@CrossfireCurt thanks for reporting the issue. Do you mind filing a PR to update the Jersey version at https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/jersey2/pom.mustache#L165 ?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution

[2015-11-17 10:00] jfastnacht commented on #1075
[Slim Framework 3.0.0 RC2](https://github.com/slimphp/Slim/tree/3.0.0-RC2) is released. Is someone already working on this issue or do you wait for a full release?

[2015-11-17 10:02] xhh commented on #1573
@samuelg I submitted #1579 to fix the datetime format issue in Android environment for Java's okhttp-gson codegen. Could you give it a try and see if it works for you?

BTW, note that for okhttp-gson codegen, this file is the one used to generate ApiClient.java:
[modules/swagger-codegen/src/main/resources/Java/**libraries/okhttp-gson**/ApiClient.mustache](https://github.com/swagger-api/swagger-cod

[2015-11-17 11:50] wing328 commented on #1075
@jfastnacht personally I don't think we need a full release and I'm not aware of anyone working on it at the moment. Do you have cycle to help implement it? If yes, I can work with you on it.

[2015-11-17 14:35] CrossfireCurt commented on #1576
@wing328 sure thing!

[2015-11-17 15:17] jfastnacht commented on #1075
@wing328 I'd like to give it a try if no one else wants to rush it. It might take some time.

[2015-11-17 18:03] x2b commented on #205
@fehguy I would much appreciate that as well...

[2015-11-17 18:26] Micka33 commented on #1303
Hi @wing328. Just letting you know that I will come back to you soon, about this issue.

[2015-11-17 19:23] fehguy commented on #1575
This is odd, but frankly i'm not sure what you do inside your plugin.  The logic for reading the yaml specs hasn't changed.

[2015-11-18 02:08] fehguy opened #1581 "update to use YAML instead of JSON"
Would be much nicer to use YAML for the nodejs server.

[2015-11-18 02:56] wing328 commented on #1578
Kubernets tema fixed the issue. I rerun the command and the NPE is gone.

[2015-11-18 02:56] #1578 closed

[2015-11-18 03:51] fehguy opened #1582 "add python connexion server"

[2015-11-18 03:53] #1581 closed

[2015-11-18 10:51] wangzilong opened #1586 "When parameter is in body and type is String, there is a unknow Body Object"
My project is
swagger-core 1.5.4
jersey : 1.19

[code]
After generate client api by codegen
[code]

The tyep of second parameter is Body7 instead of String.

is there some thing wrong?

Thanks in advance.

[2015-11-18 10:55] wing328 commented on #1586
`Body7` seems to suggest you're using inline models and you should find Body1 .. 6 defined as models if my guess is correct.

Can you share the swagger spec so that we can take a look?

[2015-11-18 10:57] wangzilong commented on #1586
I am newer , how can I share the swagger spec?

[2015-11-18 10:58] wangzilong commented on #1586
Body7 is generated by codegen automatically
[code]

[2015-11-18 11:05] wangzilong commented on #1586
I have found Body 1...6 Object. it all the same, except the number is different.

[2015-11-18 11:11] wangzilong commented on #1586
is it swagger spec?
[code]

[2015-11-18 13:16] wing328 commented on #1586
[code]
The above explains why the parameter is a model instead of just string.

Is that endpoint supposed to receive HTTP form data (instead of `body`, which means a JSON/XML HTTP body) via a POST request from an API client?

[2015-11-18 14:44] jfastnacht commented on #1075
I've made a fork and work on the Slim support in a seperate branch at https://github.com/EduGraph/swagger-codegen/tree/issue-1075 . I've already added basic Slim support based on silex-PHP. It's still WIP! Just wanted to mention that I'm on it.

[2015-11-18 14:45] fehguy opened #1589 "inflector codegen should use yaml"

[2015-11-18 15:29] wing328 commented on #1075
@jfastnacht :+1:  Let us know if you need any help :)

[2015-11-18 16:39] #1576 closed

[2015-11-18 17:48] nickcmaynard opened #1590 "SecurityContext is inaccessible from JAX-RS server generated implementations"
When we generate JAX-RS server code, we can't get access to the SecurityContext (for information such as user ID, roles, etc.).

[2015-11-18 17:48] nickcmaynard commented on #1590
See pull request #1588 for a fix.

[2015-11-19 03:06] wing328 commented on #1565
@tigaris  Thanks for reporting the issue. May I know if you've cycle to help contribution the fix?

Ref: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution

[2015-11-19 11:08] tigaris commented on #1565
@wing328 sure I can contribute fix.

[2015-11-19 18:34] tigaris opened #1592 "swift codegen: Alamofire validate() not called"
In **AlamofireImplementations.swift**, in the AlamofireRequestBuilder`<T>` class, in the processRequest method: because the function **validate()** is not called on the Alamofire Request object before **responseJSON**, any server side errors (like HTTP 500) drop through and are treated as successful.

This behavior results in a crash/exception as any JSON object returned by an HTTP 500 will not **

[2015-11-19 19:03] conet commented on #1565
This should be already fixed by #1548.

[2015-11-19 19:16] tigaris commented on #1565
i see the fix in github, not being used at https://generator.swagger.io yet i guess.

[2015-11-19 20:48] diogeneshamilton opened #1593 "Autogenerate operation IDs if none"
on the python-flask server generator, it outputs null method names, which can be confusing.

[2015-11-19 23:29] diogeneshamilton commented on #1593
@fehguy let me know if you need more details.

[2015-11-20 00:49] wing328 commented on #1593
@diogeneshamilton can you share the swagger spec for reproducing the issue (null method names)?

[2015-11-20 03:57] mattsheppard opened #1594 "Handling empty types in the definitions (for the java generator)"
I have a swagger schema being produced by http://springfox.github.io/springfox/ which contains 'empty' types in the definition list like the following...

[code]

When faced with this, the java code generator produces a TriggerActions class with references to Trigger and Action, but no Trigger or Action classes. That results in something along the lines of...

[code]
...when trying to build the ge

[2015-11-20 04:00] webron commented on #1594
Even those are interfaces, that's probably not the output you should be getting from SpringFox. The minimum it should provide for those is `"type": "object"`. Not saying that the codegen shouldn't be able to deal with empty models, but the meaning of it is not easy to define in many languages (it's not necessarily an object).

[2015-11-20 04:01] mattsheppard commented on #1594
(Yeah, I'm about to post an issue for them over there as well)

[2015-11-20 06:20] huiyiqun opened #1595 "SimpleDateFormat problem for Java with Android"
It's imported here:

https://github.com/swagger-api/swagger-codegen/commit/c59be88a3ef129acece69999086690166ba5f9ab#diff-3714cb3e3c7bbb1ce24de92a3fb9f01bR60

This has broken my android app with following runtime exception:
[code]

According to [here](http://developer.android.com/reference/java/text/SimpleDateFormat.html), X is not valid pattern character 'X' for android java runtime.

Please fix t

[2015-11-20 06:40] wing328 commented on #1595
There's a pending PR (https://github.com/swagger-api/swagger-codegen/pull/1579) to fix the issue.

Can you help test it to see if it resolves the issue for you on your Android app?

[2015-11-20 07:05] xhh commented on #1595
@huiyiqun please have a look at [my comment here](https://github.com/swagger-api/swagger-codegen/issues/1573#issuecomment-157325236). Is your Android app using the `okhttp-gson` template of Java codegen?

[2015-11-20 07:59] #1573 closed

[2015-11-20 15:19] diogeneshamilton commented on #1593
https://swaggerhub.com/api/diogeneshamilton/Venmo/1.0

[2015-11-20 15:58] wangzilong commented on #1564
@tigaris
I am a newer
can you please give your email to me
I want to ask how to use the swift code that be generated by codegen.

[2015-11-20 16:50] c314 opened #1598 "How to use Swagger APIs in swift?"
Any one can provide any examples or any links of its tutorials?
Thanks in advance.

[2015-11-20 17:15] wangzilong opened #1599 "Java codegen upload image MediaType error"
My upload photo Resource code:
[code]
Swagger spec
[code]

java codegen generate API:
UserApi.java
[code]

Upload file code
[code]

When I debug in backend
formDataBodyPart.getMediaType() will return **multipart/form-data** instead of **image/jpg**.

does anyone have any ideas, please?

[2015-11-20 18:08] dantran commented on #258
Any plan for this feature? it is marked fo 2.1.0-M2 but we are now at 2.1.4.

[2015-11-21 03:33] wing328 commented on #1599
@wangzilong the `consumes` in the spec is defined as `multipart/form-data` so I'm not surprised if you get the result you mentioned above. Given that it's `multipart`, did you check each part to see if it contains data with type `image/jpg`?

Please also consider using `tcpdump` or similar tools to capture the packet at the low level for troubleshooting.

[2015-11-21 04:41] wing328 commented on #258
@dantran I think I can come up with something for C# this weekend.

[2015-11-21 10:44] #1391 closed

[2015-11-21 10:44] #1345 closed

[2015-11-21 18:48] chitankensuru commented on #1557
@wing328 Thanks for this. It partially solved the issue. We got it working by commenting out some parts in the ApiClient and Configuration file. And had to change RestClient.Execute and RestClient.ExecuteTaskAsync to RestClient.ExecuteAsync.

[2015-11-22 02:37] wing328 commented on #1557
@chitankensuru no problem. Can you please show us the updated ApiClient and Configuration file in http://gist.github.com so that we can make the change in the templates?

For RestClient.ExecuteAsync, I cannot think of a workaround for the time being. We might need to add a switch in the command line just for that.

[2015-11-22 12:09] conet commented on #1564
+1 I encountered the same problem.

[2015-11-23 07:10] wing328 commented on #258
PR for C# merged into master. Please report if you encounter any issue using the new methods

[2015-11-23 07:49] wing328 commented on #1593
@diogeneshamilton the Swagger spec does not contain `operationId`, which explains why null method names are generated.

Ref: https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#fixed-fields-5

Can you set a proper `operationId` and try again?

[2015-11-23 11:07] wangzilong commented on #1599
I use wireshark to capture the packet, which is not like I think.
![image](https://cloud.githubusercontent.com/assets/4329939/11335212/636bb09e-91d2-11e5-9b25-a28498b225aa.png)

[2015-11-23 11:11] wing328 commented on #1561
@SalehAly thanks for reporting the issue. I've filed #1606 to fix the issue in the Java API client.

[2015-11-23 11:13] wangzilong commented on #1599
If I use the swagger-ui to upload the same image, this is the snapshot:
![image](https://cloud.githubusercontent.com/assets/4329939/11335315/2e9fe014-91d3-11e5-8bae-54ed3a3d3263.png)

[2015-11-23 13:21] wing328 commented on #258
https://github.com/swagger-api/swagger-codegen/pull/1605 submitted by @xhh for Java API client.

[2015-11-23 13:27] xhh commented on #1599
@wangzilong The `okhttp-gson` template of Java client codegen has the implementation of guessing MIME type (Content-Type) for file part (boundary), see here:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main/java/io/swagger/client/ApiClient.java#L929

comparing with the default Java client codegen:
https://github.com/swagger-api/swagger-co

[2015-11-23 14:53] wing328 commented on #74
@adamcoimbra most API clients (e.g. C#, Java, Ruby, etc) should support file download. Please kindly give the latest stable version (2.1.4) a try and let us know if you still experience issue,

[2015-11-23 14:53] #74 closed

[2015-11-23 15:44] c314 commented on #1424
How to call "loginUser"?

Is it like this?

PetstoreClientAPI. UserAPI.loginUser(username username: txtUsername.text!, password: txtPassword.text!)

public class func loginUser(username username: String?, password: String?) -> RequestBuilder<String>

But the return is " RequestBuilder<String>", it is  not the response from the server.

How can I get the response?

Thank you very much.

[2015-11-23 15:44] wangzilong commented on #1599
Thank you for your response!
Upload file works very well.

[2015-11-23 15:57] wangzilong commented on #1599
But we get float data in json instead of Long.

My Object is:
[code]

When I call API in swagger-ui  , return json is :
[code]

But now
return json is :
[code]

Why dateCreated & lastUpdated return Float ?

[2015-11-23 16:29] c314 opened #1607 "Why all APIs return requestBuilder in SWIFT?"
In all APIs, return requestBuilder

[code]
How to use the requestBuilder after calling these APIs?

I guess it should be with Alamofirelmplementations.swift.

Thank you very much for any comment.

[2015-11-23 16:57] jfastnacht commented on #1075
I'd like to have some feedback on my changes in https://github.com/EduGraph/swagger-codegen/tree/issue-1075
Thank you!

[2015-11-23 17:02] wangzilong commented on #1599
When debug into your code, I find that after run this code, Long data => Float.
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main/java/io/swagger/client/JSON.java#L60

This is my debug screenshot
![image](https://cloud.githubusercontent.com/assets/4329939/11343420/e1a18a5c-9203-11e5-9ae4-6fae30d04657.png)

[2015-11-23 17:12] allenh commented on #308
I know this is old but what everett-toews did worked for me. The following is where my build.sbt changed:

Scala Version:
[code]

Assembly Settings (bottom of the file):
[code]

I am also using Java 8 (jdk1.8) while running `./sbt assembly`

[2015-11-23 17:28] alexbeardsley commented on #1527
This PR does not solve the problem entirely. The RFC specifically states that fractional time is optional. I agree that a developer being able to set a non-compliant date format is useful. However if there is no fractional time present, it is still valid as per the RFC. If it is a valid format it should not require any changes by a developer.

[2015-11-23 21:07] rkaltreider opened #1608 "How to disable the appending of Using<Method> to method names?"
I would like to disable the appending of Using<GET, POST...> to each of the methods in the generated API classes.  I have taken the time to add nicknames to my methods and would like them to appear that way without the additional appended text.

[2015-11-24 01:46] xhh commented on #1527
@alexbeardsley agreed, but IMHO it would be good enough to make it work by setting the date format manually in that case. If you really want it to work out of box without any manual configuration, could you try the `okhttp-gson` template and let me know if it what you wants.

Maybe in the future the date handling would be changed to be "fuzzy", as I said before.

[2015-11-24 02:20] xhh commented on #1599
@wangzilong It seems to be expected with Gson: http://stackoverflow.com/q/11586299/243797

The real issue here is that, since `dateCreated` and `lastUpdated` are of type `Date`, it is expected in JSON that they are string like `"2015-11-24T10:18:03.429+08:00"`.
If you want to support `long` value in JSON for `Date` type, could you create a new issue for it and then we can discuss it there?

[2015-11-24 03:09] jeff9finger commented on #1554
Thanks William.

I will get to this, just kinda swamped right now...

-jeff

[2015-11-24 07:57] wing328 commented on #1608
Are you using version 2.1.4 (stable release) or the latest master?

Please provide a swagger spec to illustrate the issue.

[2015-11-24 08:00] wing328 commented on #258
PR merged

[2015-11-24 08:00] #258 closed

[2015-11-24 10:06] wangzilong commented on #1599
OK
Thanks for you response!

[2015-11-24 12:22] rkaltreider commented on #1608
2.1.4 currently

Sent from my iPhone

On Nov 24, 2015, at 2:57 AM, wing328 <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you using version 2.1.4 (stable release) or the latest master?

Please provide a swagger spec to illustrate the issue.

-
Reply to this email directly or view it on GitHub<https://github.com/swagger-api/swagger-codegen/issues/1608#issuecomment-159188522

[2015-11-24 14:03] wing328 commented on #1608
Which `language` did you use?

[2015-11-24 14:05] rkaltreider commented on #1608
I looked at java, but have a feeling it is android too.

________________________________
From: wing328 <notifications@github.com>
Sent: Tuesday, November 24, 2015 9:04 AM
To: swagger-api/swagger-codegen
Cc: Ryan Kaltreider
Subject: Re: [swagger-codegen] How to disable the appending of Using<Method> to method names? (#1608)

Which language did you use?

-
Reply to this email directly or view it on

[2015-11-24 14:13] wing328 commented on #1608
I couldn't find "Using" (case-insensitive) in java/android Petstore samples.

[2015-11-24 14:46] alexbeardsley commented on #1527
I'll give it a try. Out of the box is not necessary for my case but really it is just the principle. If fuzzy parsing is put in the backlog, having to manually set for non-fractional time should probably at least be documented to save someone some headache in the future.

[2015-11-24 15:12] diogeneshamilton commented on #1593
@wing328 I was told by @fehguy to submit an issue, because in the client codegen it will generate an operation ID if there is none.

I understand that setting an operation ID will fix the issue, I am hoping that someone can build an improvement (myself included) which will help future people avoid my confusing experience.

[2015-11-24 15:38] rkaltreider commented on #1608
ok, i will look into springfox to see if its adding that to the nicknames

________________________________
From: wing328 <notifications@github.com>
Sent: Tuesday, November 24, 2015 9:14 AM
To: swagger-api/swagger-codegen
Cc: Ryan Kaltreider
Subject: Re: [swagger-codegen] How to disable the appending of Using<Method> to method names? (#1608)

I couldn't find "Using" (case-insensitive) in java/andr

[2015-11-24 15:45] rkaltreider commented on #1608
sorry about the mixup....it looks like springfox is adding these.  i scanned through the produced swagger doc....it will open a ticket with them...sorry again [☹]

________________________________
From: wing328 <notifications@github.com>
Sent: Tuesday, November 24, 2015 9:14 AM
To: swagger-api/swagger-codegen
Cc: Ryan Kaltreider
Subject: Re: [swagger-codegen] How to disable the appending of Using<

[2015-11-24 16:04] wing328 commented on #1608
No worry. We'll close the issue for now. Please open a new one if you need help from us (community)

[2015-11-24 16:04] #1608 closed

[2015-11-24 17:47] fehguy commented on #1593
yes @diogeneshamilton is right--we should be auto-generating the operation IDs and putting them back in the swagger.

[2015-11-24 22:04] rbhunt opened #1612 "Objective-C client operations fail with missing Content-Type header when input is a JSON string (as opposed to an object)"
We're implementing a RESTful API that consumes and produces JSON.  We've discovered that swagger-generated Objective-C clients are not working correctly when the input to an operation is defined as a string rather than an object reference.

The issue in this scenario seems to be that no "Content-Type: application/json" header is present in the request, causing the server to reject the request.  It

[2015-11-25 10:18] xhh commented on #1593
Auto-generate `operationId` has been implemented before, but the python-flask server generator overrides the behavior.
I just submitted #1614 for a fix.

[2015-11-25 10:38] wangzilong opened #1615 "Java generater --config {"library": "okhttp-gson"}, the Long data convert to Float."
create a config.json file
[code]
I use this command to generate java code:
[code]

When I use the new code to test, I get another exception .

My Object is:
[code]

When I call API in swagger-ui  , return json is :
[code]

But when I use the new code that generated with the advice @xhh
return json is :
[code]

Why dateCreated & lastUpdated return Float ?

And when I convert json to User.class thro

[2015-11-25 10:39] wangzilong commented on #1615
@xhh please help me.

[2015-11-25 10:40] wangzilong commented on #1615
When debug into your code, I find that after run this code, Long data => Float.
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main/java/io/swagger/client/JSON.java#L60

This is my debug screenshot
![image](https://cloud.githubusercontent.com/assets/4329939/11343420/e1a18a5c-9203-11e5-9ae4-6fae30d04657.png)

[2015-11-25 13:24] nkreipke opened #1616 "Swift client produces wrong JSON data for date-time format"
In this small example, the TestObject.datetime property is defined to have the "date-time" format. When converting to JSON, the generated Swift client converts it as if it was a "date".

[code]

Resulting JSON string:

[code]

Expected:

[code]

[2015-11-26 07:38] wing328 commented on #1612
You can use `consumes` to specify the content type in the request. Here is an example:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L30

Instead of passing JSON string as input, I would recommend using model/object reference, which is automatically serialized into JSON string.

[2015-11-26 07:40] wing328 commented on #1539
@TheIcemanCometh closing this as there's no further update from you.

[2015-11-26 07:40] #1539 closed

[2015-11-26 07:51] wing328 commented on #1075
@jfastnacht overall it looks good :)

Do you mind submitting a PR so that I can leave some comments to start the discussion?

[2015-11-26 14:19] cbornet commented on #1586
@wing328 This is how jax-rs generates the def for a string body (eg. getMyString(String myString)) and I think that except the "name" which should be in this case "myString", the rest is correct according to the spec.

[2015-11-26 14:24] cbornet commented on #1586
And it should generate a String, not an inline model

[2015-11-26 14:29] wing328 commented on #1586
@cbornet you're right. The issue should be addressed by #1618

[2015-11-26 14:32] cbornet commented on #1586
Great !

[2015-11-26 14:34] wing328 commented on #1586
@wangzilong #1618 has been merged into master. Please pull the latest and try again.

[2015-11-26 16:40] dantran commented on #1531
@jbadeau  just want to confirm you are expecting the generated code should be

private String test = new HashMap<String, String>();

[2015-11-26 16:41] wangzilong commented on #1586
Thanks,I get it.

[2015-11-26 17:29] cbornet commented on #1615
The bug is not in the codegen.
The swagger spec from http://i-digi-sign.appspot.com/rest/swagger.json is incorrect : dateCreated is indicated as ```{"type":"string","format":"date-time"}``` whereas it sends you an integer.

[2015-11-26 17:36] wangzilong commented on #1615
how does it happen?
How do I deal with this issue?

[2015-11-26 17:54] wangzilong commented on #1615
My project use Jersey 1.19
When system return a User Object, user.dateCreated will be convert to Long type
I think that it is good format, but I do not know why it become to Float type

[2015-11-26 18:01] dantran opened #1620 "[java] Honor Enum's value"
Spec

        "status" : {
          "type" : "string",
          "enum" : [ "OK", "Canceled", "Failed", "OK_with_errors" ]
        },

swagger-codegen produces this

    public enum StatusEnum {
        OK("OK"),
        CANCELED("Canceled"),
        FAILED("Failed"),
        OK_WITH_ERRORS("OK_with_errors");

       private String value;

       StatusEnum(String value) {
           this.value =

[2015-11-26 18:14] dantran commented on #1620
Since this is a quick fix, please have it at 2.1.5 milestone :-)

[2015-11-26 18:49] cbornet commented on #1615
The problem is in the server. If you are writting the server code then you have several possibilities :
* configure your Json library (Jackson ?) to serialize dates as string. In Jackson this is setting the property WRITE_DATES_AS_TIMESTAMPS to false.
* annotate the dateCreated with ApiModelProperty(dataType="integer") so that the swagger.json says it is an integer (then an Integer will be generat

[2015-11-27 02:41] #1586 closed

[2015-11-27 07:39] xhh commented on #1620
Hi @dantran, I tried it and there's no issue with the current code.
You can see that [these options are enabled for enum properties](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/default/src/main/java/io/swagger/client/JSON.java#L20):

[code]

As for your PR #1621, I tested `@JsonValue` and it seemed to work too without the need of setting the above option

[2015-11-27 09:42] dantran commented on #1620
@xhh  thanks for reviewing my PR.  Currently we only consume the generated POJO part ( not the client) and have our own client with Jackson as our marshaller

Without the proposed change, Jackson at client side marshall my enum as enum name ( not value), and the server rejected as bad request since it expect the value instead

I guest I can configure jackson mapper as suggested before, but it is m

[2015-11-27 10:35] Stormyy opened #1623 "Codegenerator fails on Windows"
Code doens't generate however i can't find a error in my JSON. Any idea what im doing wrong?

[code]

[2015-11-27 11:16] wangzilong opened #1624 "Java generater post without form throw IllegalStateException"
My code
[code]

swagger-spec
[code]

Client code that generater by codegen with  {"library": "okhttp-gson"}
[code]

When call this API ,throw :
[code]

[2015-11-27 12:34] wangzilong commented on #1615
Thanks for your advice.
I will to try it asap and then feedback to you.

[2015-11-27 14:13] wangzilong commented on #1615
I have add config in Jackson
[code]

and add swagger annotation
[code]

Swagger-spec
[code]

It does not work, API still return Float
[code]

[2015-11-27 17:40] cbornet commented on #1615
No it was an "or" between the possibilities I enumerated.
Either you want your API to send dates as timestamps (which are long values. Eg. 1448274392494) or as ISO formatted strings (eg. "2015-11-27T17:38:00Z").
With the annotations you are now saying : "my fields are long" but with  objectMapper.disable(SerializationFeature.WRITE_DATES_AS_TIMESTAMPS), you send strings.

[2015-11-27 17:56] bmarty opened #1626 "' instead of " in build.gradle for java retrofit 2 generation"
Hello,
When building a library for java with retrofit2, the generated file *build.gradle* contains the following lines:

[code]

Problem: for *gson* and *retrofit*, the **'** char is used instead of **"**, so gradle cannot interpret the **$** variables, and the library is not able to be compiled.

BR

[2015-11-27 18:11] wangzilong commented on #1615
Anyway, I am using this code to test my APIs.
If generate client code without --config {"library": "okhttp-gson"}, there is no this problem.
If you do not think it is an issue, you can close this issue

[2015-11-28 03:02] fehguy commented on #1623
Can you share your spec?  Perhaps you have a path param which doesn't match the parameter name?

[2015-11-28 08:10] wing328 commented on #1626
I've submitted #1629 to update the gradle file. Please take a look.

[2015-11-28 19:02] Stormyy commented on #1623
Here is my spec it's a bit long. It passed validation using http://json-schema-validator.herokuapp.com/ with swagger schema

[code]

[2015-11-28 20:11] deefactorial opened #1631 "Valid yaml file generates API error in node js server"
Original issue posted on editor.
https://github.com/swagger-api/swagger-editor/issues/731

basically a Large integer value in the yaml file gets converted to scientific notation in the generate server function and returns an API Error in the node js server because it thinks there is an error in the yaml file.

[2015-11-29 06:28] tmalbonph opened #1632 "unable to delete file in io.swagger.generator.online.OnlineGeneratorOptionsTest"
generateOptionsTest(io.swagger.generator.online.OnlineGeneratorOptionsTest)  Time elapsed: 0.031 sec  <<< FAILURE!
java.io.IOException: Unable to delete file: C:\Users\ghello\AppData\Local\Temp\codegen-7269898903786282662-tmp\typescrip
t-node-client\api.ts
        at org.apache.commons.io.FileUtils.forceDelete(FileUtils.java:2192)
        at org.apache.commons.io.FileUtils.cleanDirectory(FileUtils

[2015-11-29 10:42] wing328 commented on #1632
@tmalbonph I've filed #1633 to add better exception handling but still the temporary directory cannot be deleted for some unknown reasons.

[2015-11-29 11:00] wing328 commented on #1623
One of the responses is defined as follows:
[code]
As you can see, the property `DepositsWithdrawals` is an array but without any proper `items` defined. Please fix that and review other inline model definitions.

I tried to generate PHP client but only got warnings.

Which codegen version did you use? Please try the latest master.

[2015-11-29 11:13] #1620 closed

[2015-11-29 11:14] #1595 closed

[2015-11-29 15:32] wing328 commented on #1631
Thanks for reporting the issue. I'm able to repeat the issue and the parameter with incorrect setting is shown below:
[code]
To fix the issue, a good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java#L241

May I know if you've time to contribute a fix ?

[2015-11-29 15:32] #1626 closed

[2015-11-29 21:56] Stormyy commented on #1623
Im now using a fresh clone from master. (swagger-generator does fail on building though. Don't know if this is a problem?) I can generate all languages except for PHP strange enough. It somehow can't create files for PHP. I tried using cygwin and windows terminal.

[code]

[2015-11-30 00:26] Stormyy commented on #1623
The problem isnt my spec just tested http://petstore.swagger.io/v2/swagger.json and it also fails :disappointed:

[2015-11-30 02:20] wing328 commented on #1623
OK. We'll look into that.

For the build error on Windows, we've another PR (#1633) for that.

[2015-11-30 02:21] wing328 commented on #1623
As a workaround, please use the online code generator: https://github.com/swagger-api/swagger-codegen#online-generators

[2015-11-30 04:08] tmalbonph commented on #1632
@wing328 thanks. It only happen on Win7. It run better on Ubuntu 14.04 (3.13.0-32-generic) running
Apache Maven 3.1.1 (0728685237757ffbf44136acec0402957f723d9a; 2013-09-17 23:22:22+0800)
Java version: 1.7.0_51, vendor: Oracle Corporation

[2015-11-30 04:36] wing328 commented on #1632
@tmalbonph if you pull the latest, the build should succeed. Please give it another try.

[2015-11-30 05:09] tmalbonph commented on #1632
Error is still the same
  Run 31: OnlineGeneratorOptionsTest.generateOptionsTest:112 ╗ IO Unable to delete file:...

Tests run: 34, Failures: 1, Errors: 0, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] swagger-codegen-project ........................... SUCCESS [1.232s]
[INFO] swagger-codegen (core library) .......

[2015-11-30 05:25] wing328 commented on #1632
My apologies. I just merged the fix into master. Please give it another try.

[2015-11-30 06:26] tmalbonph commented on #1632
# before the pull
git log -1
commit 2d34f567ffb12610026e03831ef03733fb46b68b
Merge: a9fdb8f 41936ab
Author: wing328 <wing328hk@gmail.com>
Date:   Sun Nov 29 00:54:03 2015 +0800

    Merge pull request #1619 from EduGraph/issue-1075

    [PHP] Slim Framework v3 - Server Generator #1075

# get your updates
git pull
remote: Counting objects: 131, done.
remote: Compressing objects: 100% (59/59), done.

[2015-11-30 06:26] #1632 closed

[2015-11-30 06:27] wing328 commented on #1632
@tmalbonph thanks for the confirmation.

[2015-11-30 06:42] wing328 opened #1635 "[ObjC] integration tests fail with XCode 7.x and iOS 8.3/9.1 simulator"
Please run the integration test with XCode 6.4 and iOS 7.1 simulator for the time being.
[code]

We would need contribution from the community to help fix the issue when upgrading to latest version of XCode.

[2015-11-30 07:09] tmalbonph commented on #1632
@wing328 You did fix the compilation error.
For windows user, maybe the documentation for swagger-generator should mention about directories created at (drive):/Users/[username]/AppData/Local/Temp/codegen-xxxx-temp directories will eventually accumulate because org.apache.commons.io.FileUtils.deleteDirectory(dir) failed to delete the temporary directories created by swagger-generator/src/test/java

[2015-11-30 07:35] wing328 commented on #1632
Yes, we'll document that as a known issue at the moment. I'd spent some time look into it but couldn't figure out why the directory deletion failed.

[2015-11-30 13:13] Greensource opened #1636 "[Swift] Code error in RequestBuilder Extension"
Hi,
when I try to compile Swift generated source I've got some errors.
In file Extensions.swift, line 69 :
let deferred = Promise<Response<T>>.defer()
-> Consecutive statements on a line must be separated by ';'

[2015-11-30 13:15] gaalandr opened #1637 "codegen does not support parameters from swagger 2.0"
Swagger-codegen does not support the following properties from swagger spec 2.0:
[code]
There is a fix in this pull request:
https://github.com/swagger-api/swagger-codegen/pull/1458

Please verify and merge.
Thanks,
Andras

[2015-11-30 13:15] Greensource opened #1638 "[Swift] AlamoFire and Promise Kit not up to date"
Hi,
When I try to build my app after a pod install, I had some issue with PromiseKit (2.2.1). So I force version to 3.0.0.

[2015-11-30 13:36] artem-dudarev opened #1639 "[C#] Return type InlineResponse200 and compilation error instead of object"
If API return type is object then generated method returns InlineResponse200, but not object.
This InlineResponse200 also has an invalid Equals() implementation which produces the following compilation error:
error CS0126: An object of a type convertible to 'bool' is required

Swagger spec:
[code]
Generated code:
[code]
Expected:
[code]

[2015-11-30 13:44] wing328 commented on #1637
@gaalandr thanks for the PR. I'll review and let you know if I've any questions.

[2015-11-30 14:06] wing328 commented on #1637
PR merged.

[2015-11-30 14:06] #1637 closed

[2015-11-30 15:12] wing328 commented on #1639
`"schema": { "type": "object" }` (a model without any properties) is not identical to Object in C#. Can you give an example of what the response (payload) looks like?

For the return statement without any boolean value, that's caused by a model without any properties. I'll submit a PR to improve that later.

[2015-11-30 15:16] vnalla opened #1640 "inflector codegen incorrect swagger-inflector version and swagger file name"
Swagger Codegen with -l inflector option generating code with incorrect pom.xml file.
1) it is using swagger-inflector version 1.0.0-SNAPSHOT, which is not in the maven repo. it should be changed to 1.0.0
2) scan target is using  <scanTarget>src/main/swagger/swagger.yaml</scanTarget> yaml file name where as generated code with file name swagger.json.

[2015-11-30 15:18] fehguy commented on #1640
Please use master of codegen. The release of codegen was made before inflector was released.

[2015-11-30 16:16] danil-mk commented on #1623
I had the same problem. It occurred only on Windows. I suppose it is a problem with "replaceAll" method and "File.separator" in the replacement in Class "io.swagger.codegen.languages.PhpClientCodegen" in line 125:

**packageName.replaceAll("[\\\\.\\\\\\\/]", File.separator)**

This problem could be solved by changing this line (as described [here] (http://docs.oracle.com/javase/6/docs/api/java/lan

[2015-11-30 17:41] wangzilong opened #1641 "Java codegen, when post a String parameter, unexpected quote in json"
My code :
[code]

swagger-spec
[code]

codegen generate code:
[code]

When I use this method, I capture the package with wireshark
screenshot:
![image](https://cloud.githubusercontent.com/assets/4329939/11479347/61db5bc8-9789-11e5-86ea-46642eedeee9.png)

If I use the swagger-ui to call this API, I capture the package with wireshark
screenshot:
![image](https://cloud.githubusercontent.com/assets/43

[2015-11-30 17:44] vnalla commented on #1640
The same result. Downloaded the swagger-codegen from this URL https://github.com/swagger-api/swagger-codegen using "Download Zip" button and compiled using "mvn package".

thanks!

[2015-11-30 17:46] wangzilong commented on #1641
Why there is a String in package, when call API with the code that be generated with codegen
but it is a json, when call API in swagger-ui.

[2015-11-30 18:13] webron commented on #1641
That spec describes it as a string, so it would make sense that it sends a string. Not sure why you expect it to send a json (the content type is not enough, but that may be why the swagger-ui does it, which is a bug there).

[2015-11-30 18:25] fehguy commented on #1640
right you are!  I thought these files were updated.  Doing that now, and will update this ticket as soon as it's merged.  Apologies for the back-and-forth.

[2015-11-30 18:43] fehguy commented on #1640
Ok all done, via https://github.com/swagger-api/swagger-codegen/commit/ce9f8baefcd5de9469b0494ac43fefd50aa676b4  Please try that out, and comment when you can.

[2015-12-01 09:54] wing328 commented on #1631
@deefactorial btw, here is the contribution guidelines: https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution.

[2015-12-01 09:56] wing328 commented on #1623
@danil-mk thanks for suggesting a fix. Do you have cycle to test the fix and submit a PR? or you would like me to submit a PR based on your suggestion?

Ref: [Guidelines for Contribution](https://github.com/swagger-api/swagger-codegen/wiki/Guidelines-for-Contribution)

[2015-12-01 09:58] #1593 closed

[2015-12-01 10:36] wangzilong commented on #1641
In back end, When get this String, it start with quote and end with quote. I can not serialize it to JSON Object, such as
[code]

expect
[code]

[2015-12-01 12:36] artem-dudarev commented on #1639
We have the following API resource:
/settings/{name}/value

It returns the value for the requested variable. Since variables have different value types we have declared the response type as object.

Here are some value types and API responses (type: response):
boolean: true
decimal: 13.00
integer: 30
string: "checkout/terms"

[2015-12-01 12:36] LarryKlugerDS opened #1645 "Installing via Docker on Mac: Freezes at swagger-codegen tests"
On a Mac, I installed Java 1.7 and am using Docker to install.

The install freezes at the test stage for the swagger-codegen stage.

Any ideas?

Thanks,
Larry

./run-in-docker.sh mvn package
+ docker run -it -w /gen -v /Users/larry.kluger/www/swagger-codegen:/gen -v /Users/larry.kluger/.m2/repository:/root/.m2/repository maven:3-jdk-7 mvn package
[INFO] Scanning for projects...
[WARNING]
[WARNING

[2015-12-01 13:49] xhh commented on #1641
FYI. I added the support of string body parameter in this commit: https://github.com/xhh/swagger-codegen/commit/f0b2a3758127c6c21cf5a086b70acb0141d888f5
which sets  the string body parameter is the request body directly (without additional serialization).

I'll submit the PR for it soon.

[2015-12-01 14:23] wing328 commented on #1639
What about modelling the response as "string" (instead of "object") and then you can cast the response into different type?

[2015-12-01 14:45] wing328 commented on #1577
@rs2015 Closing the issue as there's no update.

[2015-12-01 14:45] #1577 closed

[2015-12-01 14:46] wing328 commented on #1567
@m4574 closing this issue as there's no update. Please open a new one if the above didn't help.

[2015-12-01 14:46] #1567 closed

[2015-12-01 18:16] danil-mk commented on #1623
@wing328 sorry but i have currently no time to fix this (and test it properly ;)) so feel free to fix it!

[2015-12-01 22:58] samuelg commented on #1573
Sorry it took so long to comment, I was out for personal reasons. This works for us. Thank you!

[2015-12-02 00:36] ianmcorvidae opened #1648 "Clojure generation: java.lang.RuntimeException with certain characters in descriptions."
The description for one of our endpoints is:

[code]

In the generated clojure code, this produces:

[code]

In particular, the piece reading:

[code]

... causes issues upon compilation:

[code]

Presumably, literal backslashes in the description field should be doubled. When this change is manually made in the generated files, compilation works fine.

[2015-12-02 01:45] xhh commented on #1648
Thanks for reporting the issue, I'll fix it.

[2015-12-02 07:19] chenjianjx opened #1650 "Generated Jersey2 client doesn't work when uploading two files in one call"
Swagger-codegen version:  2.1.5-SNAPSHOT
Generated Jersey client version:    using parameter "library":"jersey2" when generating.

### Problem
1. My web service has a method allowing the client to pass 2 files at a time.
  *. The method also takes some other string-typed parameters.
  *. My service is also written in Jsersey2
  *. All the parameters in the service are annotated with @FormDataParam

[2015-12-02 07:57] fehguy commented on #1645
It works fine for me--please make sure you've set your environment correctly:

[code]

[2015-12-02 08:27] LarryKlugerDS commented on #1645
Unfortunately it is not working (hanging at the test step for the swagger-codegen stage). Env is below. docker-machine inspect default confirms that default is right.

I very much appreciate any tips.

Larry

$ mvn -version
Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T18:41:47+02:00)
Maven home: /usr/local/maven
Java version: 1.7.0_79, vendor: Oracle Corporation
Java ho

[2015-12-02 09:34] xhh commented on #1650
I can reproduce the issue, working on a PR for it.

[2015-12-02 10:03] wangzilong commented on #1641
Thanks for your response.
Please feedback to me if fix it.

[2015-12-02 16:07] #1648 closed

[2015-12-02 16:49] wing328 commented on #1623
@danil-mk @Stormyy I've filed a PR with the suggested fix but didn't have time to perform any test in windows. Do you mind performing some tests on Windows? Here are the steps:
[code]
and then use it to generate PHP API client.

[2015-12-03 02:10] #1650 closed

[2015-12-03 02:15] wing328 commented on #1650
@chenjianjx PR merged. Please let us know if you still encounter the issue.

Thanks again for reporting the issue.

[2015-12-03 02:21] xhh opened #1654 "Add authentications support to Clojure client"
I'm working on a PR for this.

[2015-12-03 02:22] xhh opened #1655 "Support collectionFormat for array parameters in Clojure client"
See #1509 for Ruby client

[2015-12-03 02:25] xhh opened #1656 "Support getting response status code and headers in Clojure client"
It's useful in cases like getting Location and X-Rate-Limit values from response headers.

[2015-12-03 02:26] xhh opened #1657 "Support file downloading in Clojure client"
See #1226, #915

[2015-12-03 02:28] xhh opened #1658 "Add README.md to Clojure client"
Similar to what has been done for Java client: #1521

[2015-12-03 06:49] chenjianjx commented on #1650
Thank you

[2015-12-03 12:38] chenjianjx commented on #1650
I tested without your new code, and it worked.  Thank you!

[2015-12-03 16:35] wing328 commented on #1648
@ianmcorvidae PR merged. Please pull the latest master and let us know if you still experience the same issue.

[2015-12-03 20:40] evigeant opened #1660 "PetStore test server returns wrong data format for loginUser call"
I am preparing a PR related to cleaning up the Java Jersey client. In the process, I have rebuilt the PetStore Java client samples.

But while running the JUnit tests against the PetStore server(http://petstore.swagger.io/v2), I get an error on the `UserApi.loginUser` call.
The swagger API spec states that it should produce:
- `application/json`
- `application/xml`

In the response headers, `appli

[2015-12-03 20:59] evigeant opened #1661 "PetStore sample sets bad example for loginUser call"
The `UserApi.loginUser` call from the PetStore sample passes the username and password on the query string. From this reference: https://www.owasp.org/index.php/REST_Security_Cheat_Sheet
[code]

I know that this is just a sample meant to demonstrate various features of swagger including the different ways of specifying parameters. However, I believe a lot of people starting to write their own API

[2015-12-04 02:09] nazr opened #1662 "Re-using enums with YAML anchor causing com.fasterxml.jackson.databind.node.TextNode cannot be cast to com.fasterxml.jackson.databind.node.ArrayNode"
Hi guys,

YAML anchors don't seem to be parsed correctly. I got the example from (https://github.com/swagger-api/swagger-editor/issues/609)

  swagger: '2.0'

  info:
    version: "0.0.1"
    title: API

  x-types:
    OperationType: &OperationType
      - registration

  paths:
    /checker:
      get:
        parameters:
          - name: operations
            in: query
            type: array

[2015-12-04 04:37] #1654 closed

[2015-12-04 04:37] #1655 closed

[2015-12-04 06:53] Mumutu opened #1663 "why return null in io.swagger.codegen.DefaultCodegen.toDefaultValue(Property)"
I saw this in `io.swagger.codegen.DefaultCodegen.toDefaultValue(Property) `
[code]
I think this makes the `default` property  in `definition` not working. when the type in above types
maybe the `StringProperty` can return a non-null value if `default` has been set?
Am I misunderstanding something?

[2015-12-04 07:20] fehguy commented on #1663
i believe this is for initializing variables, not setting the default value from the spec.

[2015-12-04 08:06] Mumutu commented on #1663
Thanks for replying~  the `defaultValue` in mustache confused me ~ so how can I set default value to ensure sane the `definition` I defined. I can't find a way anywhere except the default.

[2015-12-04 08:16] wing328 commented on #1663
@Mumutu Can you demonstrate the issue with a Swagger spec?

[2015-12-04 10:30] wing328 opened #1666 "Add Windows batch files to generate Petstore API server stub"
Similar to #1665 , we want to create Windows batch file to generate Petstore API server stub for different frameworks.

If you're interested in this task, please reply to let us know.

[2015-12-04 12:40] wing328 commented on #1660
@evigeant I agree with you that applicaiton/json is not the correct content type for the response and I prefer your second suggestion to change the content-type of the response to text/plain so that we have another test case to cover response content-type other than application/json and application/xml.

[2015-12-04 14:50] #1623 closed

[2015-12-04 14:51] wing328 commented on #1623
The fix has been tested on Windows and merged into master. Please reopen this issue if you still encounter the error.

[2015-12-04 16:13] memoto opened #1667 "[Codegen][Swift] Generic specialization of Decoders.decode func doesn't work"
Decoders class have several specializations for decodable type:
* T - (object or primitive type)
*  [T] - (array)
*  [Key:T] - (dictionary)

Here there are:
[code]

Actually, only the last specialization is invoked, even on arrays (which type is printed in log as *Array\<T\>*). Seems a problem with a type deduction in swift generics.

i'm using:
* Xcode 7.0.1 (7A1001)
* Swift 2.0

[2015-12-04 17:03] ianmcorvidae commented on #1648
Thanks, this works now!

[2015-12-04 17:17] evigeant commented on #1660
@wing328 indeed, I think it a good idea to test another content-type, however this will require changing the petstore spec (it currently states that it produces `application/json` or `application/xml`) and this might break the automated tests for some languages. I haven't checked, but I have seen that there are a lot of generators.

Also, if you are going to change the spec of the PetStore sample,

[2015-12-04 23:19] samuelg opened #1668 "[Obj-C] Form properties of type "boolean" fail with swagger-tools"
We have a boolean form property defined as follows:

[code]

The Objective-C generated client sends this as 0/1. However, swagger-tools middleware validates boolean values as true/false only. How can we use swagger-codegen and swagger-tools together without running into this issue?

[2015-12-04 23:20] samuelg commented on #1668
See https://github.com/apigee-127/swagger-tools/blob/master/lib/validators.js#L498 for the validation in swagger-tools middleware.

[2015-12-05 03:41] Mumutu commented on #1663
@wing328 Sorry for replying so late. I am using a modified 2.1.4 snapshot which give the maven plugin an option of `library` , and I am using `java retrofit library`.
[code]
my domain definition is
[code]
I excepted the default would take effect, and  fehguy said
|   initializing variables, not setting the default value from the spec

and i believe it now.  In fact the integer property `beautician

[2015-12-05 04:02] wing328 commented on #1663
@Mumutu thanks for the additional info. We'll look into that and get back to you.

[2015-12-05 17:10] jfiala commented on #1294
Added PR #1671, here are the details of the currently added changes:

Add basic Javascript SDK support (based on the Java templates):
* Allow to generate model classes
    * including comments
    * including property-level comments + type hints
    * including getters & setters + comment type hints

* Allow to generate API classes
    * including comments
    * including JSDoc for params & return

[2015-12-06 22:06] mojjy commented on #1607
you could do something like this
   reqBuilder.execute { (response, error) -> Void in
            if (error == nil) {
                //todo show some message
                controller.loadData()
            }
        }

[2015-12-07 02:42] #1294 closed

[2015-12-07 02:43] wing328 commented on #89
Created by @jfiala via #1671

[2015-12-07 02:43] #89 closed

[2015-12-07 02:55] #1656 closed

[2015-12-07 07:43] wing328 opened #1674 "[Perl] Support Patch (HTTP method)"
[HTTP::Request::Common](http://search.cpan.org/~ether/HTTP-Message-6.11/lib/HTTP/Request/Common.pm) does not support `PATCH` (HTTP verb) at the moment.

Suggested implementation: using [HTTP::Request](http://search.cpan.org/~ether/HTTP-Message-6.11/lib/HTTP/Request.pm) instead

Line: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/perl/ApiClien

[2015-12-07 07:45] wing328 opened #1675 "[Perl] Delete (HTTP method) supports form data"
Technically, `Delete` supports form data in the HTTP request body.

[HTTP::Request::Common](http://search.cpan.org/~ether/HTTP-Message-6.11/lib/HTTP/Request/Common.pm) does not seem to support that for `Delete`

One alternative is to use [HTTP::Request](http://search.cpan.org/~ether/HTTP-Message-6.11/lib/HTTP/Request.pm) instead

Line: https://github.com/swagger-api/swagger-codegen/blob/master/mod

[2015-12-07 07:52] wing328 opened #1676 "[Perl] API methods to optionally return HTTP status code and response headers"
We want to leverage `wantarray` in perl to return (data, http_status_code, http_response_headers) if the context is looking for an array (instead of scalar)

Where to start:
- [ApiClient.mustache#L133](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/perl/ApiClient.mustache#L133) should return not only data, but also HTTP status code and HTTP re

[2015-12-07 08:43] #1075 closed

[2015-12-07 09:06] chandravadans commented on #1662
Same issue here too. Can anyone please assist?

[2015-12-07 14:28] fehguy commented on #1662
This is a bug in the [swagger-parser](https://github.com/swagger-api/swagger-parser).  Can you please open an issue there?

[2015-12-07 14:29] chandravadans commented on #1662
Sure, doing that right away

[2015-12-07 14:36] wing328 commented on #78
@jfiala has created a JS API client generator, which has been merged into master. Please pull the latest master and give it a try.

[2015-12-08 08:16] yewton opened #1681 "Push docker images to Docker Hub"
Hi,

It's very useful if the docker images are available on Docker Hub.

We would be able to just `docker pull` and run generation like `docker run --rm -v "$PWD"/spec:/spec -v "$PWD"/gen:/gen -v "$PWD"/templates:/templates swagger-api/swagger-codegen:v2.1.4 generate -l nodejs -i /spec/swagger.yml -o /gen -t /templates/nodejs`.
I just forked and tested above example and it worked well.

Please try

[2015-12-08 08:28] xhh commented on #1663
@Mumutu I tried the Java retrofit codegen with the following definition in the spec (in JSON format):

[code]

and the generated code in Pet.java is:

[code]

The default value in the template is set via the `toDefaultValue` in JavaClientCodegen, overriding the method in DefaultCodegen. See [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/s

[2015-12-08 12:29] chenjianjx commented on #1255
+1

[2015-12-08 13:20] wing328 opened #1684 "[Perl] Code generation for Perl Mojolicious framework"
We want to create a generator to generate server stub in Perl Mojolicious framework: http://mojolicio.us/.

Starting point: https://github.com/swagger-api/swagger-codegen/pull/1619
(although the PR is for PHP slim, similar changes can be made for Perl Mojolicious)

Please reply if you're interested in making the contribution.

[2015-12-08 16:15] wing328 commented on #1668
Thanks for reporting the issue. Boolean is mapped to NSNumber at the moment. Changing it to BOOL may probably fix it.

Do you have cycle to contribute the fix?

Here is the starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java#L76

Contribution guidelines: https://github.com/swagger-api/s

[2015-12-08 21:31] mark1900 opened #1686 "Java Client Generation Issues with @ApiModel with declared subTypes and discriminator values."
I am trying to use Swagger to describe my JAX-RS Web Services and have decorated my classes with the relevant Swagger annotations (@ApiModel @JsonSubTypes etc).  Unfortunately, when I generate the swagger.json (http://localhost:8080/test-application/rest/swagger.json) and use this to create a client jar (Using the swagger editor - http://editor.swagger.io/#/), the generated code doesn't set the di

[2015-12-09 01:56] Mumutu commented on #1663
@xhh  oh I see.. I only checked the version in my workspace while it was not the latest version of swagger-codegen. it's my fault..your commit ef29f70 fixed it..thx!!

[2015-12-09 01:56] #1663 closed

[2015-12-09 03:20] #1615 closed

[2015-12-09 09:45] thibaultclem opened #1691 "Syntax issue when generating Javascript client operation without parameters"
When generating Client JS for an operation without parameters, an unnecessary comma is added before the callback parameter:
[code]
You can see the error directly on the generating UserApi.js:
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/scripts/rest/api/UserApi.js#L233

I provided a PR: https://github.com/swagger-api/swagger-codegen/pull/1690

P

[2015-12-09 10:10] wing328 commented on #1691
@thibaultclem thanks for reporting the issue and the PR, which has been merged into master.

[2015-12-09 10:10] #1691 closed

[2015-12-09 14:24] wing328 opened #1692 "[Javascript] Add unit testing for Petstore Javascript API client"
Similar to API clients in other programming languages, we want to have a way to unit test the Petstore client.

Currently, the Petstore Javascript API client does not have unit testing.

If anyone would like to contribute, please reply to let us know.

[2015-12-09 16:46] bmarty opened #1694 "[retrofit2] ' instead of " in build.gradle for java retrofit 2 generation"
Hello,

In generated file **build.gradle** for java retrofit 2,

    compile 'com.google.code.gson:gson:$gson_version'
    compile 'com.squareup.retrofit:converter-gson:$retrofit_version'

Should be

    compile "com.google.code.gson:gson:$gson_version"
    compile "com.squareup.retrofit:converter-gson:$retrofit_version"

Note the **"** instead of **'**

BR

[2015-12-09 17:28] bmarty commented on #1694
Ok, my mistake, it is already solved.

[2015-12-09 17:28] #1694 closed

[2015-12-10 09:08] chenjianjx opened #1701 "If I generate models only, I will be missing a class called io.swagger.client.StringUtil"
## How to reproduce:

[code]
the some.json is

[code]

## The problem:

The generated model files will be depending on "io.swagger.client.StringUtil" in their toString() methods, which is not generated .

## Suggestion
We don't need very beautiful output for toString() methods.  I think you can just remove the dependency for StringUtil.

[2015-12-10 16:21] wing328 commented on #1681
@yewton I think that's a good suggestion :)

[2015-12-10 20:53] angegar opened #1704 "$httpParamSerializerProvider not found"
Hi guys,
I created a typescript client with the swagger editor client generation tool, when i use this generated API i receive the following error :
Error: [$injector:unpr] Unknown provider: $httpParamSerializerProvider <- $httpParamSerializer

i don't know if it is really a bug but some help will be appreciated ;)

PS : i am noob with swagger and typescript

[2015-12-10 21:00] angegar commented on #1704
Arfff, it seems that swagger editor is using angularjs 1.4.0-rc.0, whereas i used angularjs 1.3.15. The update solve this issue.

[2015-12-10 21:00] #1704 closed

[2015-12-10 23:39] mirthy opened #1705 "CSharp Clients Do Not Format query parameter date-time As Per Swagger Spec"
The CSharp Client serializes the date-time parameters incorrectly.  The format chosen is not ISO 8601 / RFC3339 compatible.

The Universal Sortable ("u") Format Specifier was used instead of the Round-trip ("O", "o") Format Specifier for converting parameters. [Microsoft Documentation on the Round-trip format specifier ("o"). ](https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Ancho

[2015-12-11 02:04] jeffjcrowe opened #1707 "Ref to enum generates non-compiling Java Client"
### Summary
An enum defined in the 'definitions' section and referenced from the api definition generate Java Client code that fails to compile.
No code is generated for the shared enum definition.

### Example Schema
[code]

### Output
Module classes:
* Body
* InlineResponse200

#### Error
Both contain a reference to class MyEnum which does not exist.

### Environment:
* language: java
* swagger-

[2015-12-11 02:07] jeffjcrowe commented on #1707
Part of the issue seems to be that SwaggerDeserializer should be calling setType(type) instead of setType(value) which will always be null.
https://github.com/swagger-api/swagger-parser/blob/master/modules/swagger-parser/src/main/java/io/swagger/parser/util/SwaggerDeserializer.java#L662

This only partially fixes the problem since it just causes a completely empty MyEnum class to be generated inst

[2015-12-11 02:18] fehguy commented on #1707
Yes, there is a fix in swagger-models which is required to address this. The codegen should be updated shortly

[2015-12-11 03:49] jeffjcrowe commented on #1707
Good to know, thanks! Do you have a link to an issue or pull request I can reference by chance?

[2015-12-11 04:00] jeffjcrowe commented on #1707
Are there any known workarounds that achieve the same result in the mean time? I tried the following, but got an error running the generator:
[code]

[code]

[2015-12-11 06:16] fehguy commented on #1707
Yes, it's a bug, but you can get around it like such:

[code]

The issue seems to be that the `allOf` construct _must_ have `$ref` items in the array.  It cannot have objects.  Again this is a bug, but what I'm suggesting is a work-around.

[2015-12-11 13:35] StefH commented on #948
The generated C# class is still wrong because the 'Message' and 'Code' properties are also defined in the ExtendedErrorModel which is wrong.

(How to re-open this issue?)

[code]

[2015-12-11 17:55] jeffjcrowe commented on #1707
Thanks for the workaround @fehguy! I'll use that until the issue is resolved.

[2015-12-11 22:25] seanfarley opened #1711 "[python] generator uses keywords"
In our api, we use the word 'self' as a property. It seems the swagger code generator doesn't check for keywords thereby producing unusable code.

[2015-12-12 05:00] wing328 commented on #1711
@seanfarley thanks for reporting the issue. Do you mind contributing the fix?

It can be as easy as updating the reserved word list: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java#L61

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2015-12-13 01:13] seanfarley commented on #1711
Sure, I can take a stab at it.

[2015-12-13 09:49] wing328 opened #1713 "Issue with Ruby Sinatra"
Ref: https://groups.google.com/forum/#!searchin/swagger-swaggersocket/sinatra/swagger-swaggersocket/frHHehOHOFs/3WP6aqnZCQAJ

[code]

[2015-12-14 03:11] thibaultclem opened #1715 "[Javascript] generate the JS Api Client"
When generating the JS client, the generated API call a not generated module apiClient:

[code]

See PetApi for instance https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/scripts/rest/api/PetApi.js#L55

[2015-12-14 15:35] wing328 commented on #1713
PR merged into master

[2015-12-14 15:35] #1713 closed

[2015-12-14 15:35] wing328 commented on #1705
PR merged into master

[2015-12-14 15:35] #1705 closed

[2015-12-15 00:18] seanfarley opened #1717 "Unknown command line arguments throw an exception"
Shouldn't this display help (similar to that in the `README`)?

[code]

[2015-12-15 06:03] wing328 commented on #1717
Please run this instead:
[code]

Ref: https://github.com/swagger-api/swagger-codegen#to-generate-a-sample-client-library

[2015-12-15 06:56] seanfarley commented on #1717
Well, hopefully this prompts some fixes in UI experience.

[2015-12-15 09:17] splintor opened #1719 "Enable codegen templates access tags descriptions"
Codegen templates can access the tags of each operation, but I need to be able to provide description about the tag (which is defined in the tag list at the yaml top-level), and it seems the list of declared tags and their descriptions are not available from the mustache template.

[2015-12-15 14:44] xhh commented on #1715
There are similar issues referring to `apiClient.escapeString` and `apiClient. parameterToString`, see [here](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/scripts/rest/api/PetApi.js#L274) and [here](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/scripts/rest/api/PetApi.js#L419).

[2015-12-15 14:51] xhh opened #1721 "[Javascript] Issues with constructFromObject in models"
Taking the [Pet.js](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/scripts/rest/model/Pet.js#L78) as an example:

[code]

1. array fields like `photoUrls` and `tags` are not assigned with values from `data`
2. there would be an error when `data` in `undefined`, for example, the `category` field might be missing in the above `data`, then `self.cate

[2015-12-15 19:49] nihuyaka commented on #99
Why is this closed? As of 2.1.4 Enums are still generated inside the model which is wrong.

[2015-12-15 22:15] hacki11 opened #1724 "[C#] filename and Content-Disposition of FileStream incorrectly parsed"
Having a service which returns a FileStream:
`@ApiOperation(value = "file", response = java.io.File.class)`

the generated ApiClient.cs includes handling FileStreams:
`var regex = new Regex(@"Content-Disposition:.*filename=['""]?([^'""\s]+)['""]?$");`

but should be Content-Diosposition=...

Additionally the regex is applied onto: headers.ToString()
which has the value: "System.Collections.Generic

[2015-12-15 23:29] fehguy commented on #99
Why?  Because this ticket isn't about having *external* enums, it's about having enums.  Making them inline is not _wrong_ it's a style preference.  I DO want to support external classes, and we're in the process of adding that support.  But that's why it's closed.  There's another one around external enums.

[2015-12-15 23:49] nihuyaka commented on #99
Ah, sorry thanks.

[2015-12-16 08:56] wing328 commented on #1719
Is this the same as https://github.com/swagger-api/swagger-codegen/issues/1073 ?

[2015-12-16 09:02] splintor commented on #1719
Yes, indeed. I missed it.

[2015-12-16 09:02] #1719 closed

[2015-12-16 09:05] wing328 commented on #1719
@splintor it's ok. From your perspective, is that something your urgently need?

[2015-12-16 09:58] splintor commented on #1719
Indeed!
I'm building a JS CLI, and would like the list the tags and their descriptions. Currently, it seems I'll have to resort to hard-coding the description, but I really don't like it.

[2015-12-16 10:36] wing328 commented on #1719
Please leave a reply e.g. +1 in #1073  so that we can prioritize accordingly.

[2015-12-16 10:44] splintor commented on #1073
+1
I'll be glad to have this fixed.
I'm building a JS CLI, and would like the list the tags and their descriptions. Currently, it seems I'll have to resort to hard-coding the description, but I really don't like it.

[2015-12-16 19:50] seanfarley opened #1727 "[python] doc string has empty lines"
When there is a empty string, it seems the mustache template will still generate an empty line here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api.mustache#L53

You can see this on the following swagger file: https://api.bitbucket.org/swagger.json

[2015-12-16 19:54] seanfarley opened #1728 "[python] api does not return model object"
When attempting to use the python client library on https://api.bitbucket.org/swagger.json, it seems a call to the api does not return a model object. For example,

[code]

Surely, I'm missing something since this would be a major oversight otherwise.

[2015-12-16 20:09] fehguy commented on #1727
This can be fixed by changing to this:

[code]

Would you mind sending a PR?

[2015-12-16 20:57] seanfarley commented on #1727
I should have mentioned that I already tried that :-) Something else seems wrong with the variable. Perhaps empty and not null fools jmustache?

[2015-12-16 21:33] fehguy commented on #1727
Ahh different then :)  OK it is entirely possible that it's an empty string, which is different from null.  If you run codegen with `-DdebugOperations`, can you see if the field exists?  If so, then it's an empty string.

[2015-12-16 22:05] seanfarley commented on #1727
That option doesn't seem to change any of the output.

[2015-12-17 00:22] benmccann opened #1730 "[Java] need to be able to set timeout"
There's currently no way to set a connection or read timeout. I'm talking to a server that occasionally never connects or never sends a response and my program then just hangs. The default Java client builds a `com.sun.jersey.api.client.Client`, but doesn't let you get to it to change underlying properties like timeout and doesn't seem to expose timeout itself.

[2015-12-17 13:47] xhh opened #1736 "[Javascript] header and form parameters are not used at all"
Need to send header and form parameters to `$.ajax`

[2015-12-17 20:15] fehguy commented on #1727
Hi, it won't change the output, but it'll help us debug it.  You should get a giant JSON object printed on your screen.

[2015-12-17 21:06] rdelaplante opened #1737 "The files and directory structures output into generated-sources by swagger-codegen-maven-plugin are unusable"
Similar code generator plugins for SOAP, Thrift, WADL, etc. output the sources directly into /target/generated-sources/wsimport/.   The contents of this directory is source code and package directories only; nothing else.

When swagger-codegen-maven-plugin is executed, it outputs a complete Maven project directory structure and build files into /target/generated-sources/swagger/.  When Maven gets

[2015-12-17 21:10] seanfarley commented on #1727
Yes, that's what I mean.

[code]

[2015-12-17 22:16] rdelaplante commented on #1737
tonytam on IRC suggested that I try these options in the plugin config:

[code]

I gave it a try:

- just the sources and package directories were generated in src/gen/java.  Don't they belong in /target/generated-sources/swagger/ ?
- my project's own pom.xml file was overwritten
- a bunch of unwanted project files were still generated (/build.gradle, /gradle.properties, /README.md, /settings.grad

[2015-12-17 22:29] fehguy commented on #1737
Hi @rdelaplante I was just giving you the options.  You can change it to `<output>target/generated-sources</output>`.  You have full control

[2015-12-17 23:14] rdelaplante commented on #1737
Thanks for the tip.  I changed the plugin config to this:

[code]
It now outputs just the source files and packages to /target/generated-sources/swagger/, and the unwanted project files are now placed in /target/generated-sources/.  It now compiles, deploys and runs, but for some reason my IDE doesn't recognize the generated sources and I get a bunch of red error badges in my own code that uses th

[2015-12-17 23:20] fehguy commented on #1737
Great, some progress.  A couple comments

* First, you can enable the jersey2 client by using the -Dlibrary=jersey2, or by setting
[code]

* Next, you can enable the selective generation like such:

[code]

[2015-12-18 13:00] alex-estela commented on #980
I am still experiencing this issue with current master branch of swagger-codegen ; adding an additional property to the child does solve the issue. Could the issue still be opened ?

[2015-12-18 13:16] wing328 commented on #1728
If you print an object in python, it would call `to_str`, which calls `to_dict`. e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/swagger_client/models/pet.py#L222

[2015-12-18 13:18] wing328 commented on #1727
It should be `debugOperations=true`, e.g.
[code]
Ref: https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2015-12-18 13:24] #1724 closed

[2015-12-18 14:27] fehguy commented on #982
This is addressed by #1740

[2015-12-18 14:34] fehguy commented on #1542
As @xhh commented, this is working correctly in master.

[2015-12-18 14:34] #1542 closed

[2015-12-18 14:35] #982 closed

[2015-12-18 15:20] wing328 commented on #1730
Agree that there should be a way to set time out. Currently, the PHP API client allows developers to change the time out: https://github.com/swagger-api/swagger-codegen/blob/cf947811df72b690c3b8bb46ddeb55c420045367/samples/client/petstore/php/SwaggerClient-php/lib/Configuration.php#L371

We'll do the same for other languages.

[2015-12-18 15:41] rdelaplante commented on #1737
More great tips, thank you.  Below is how I have my plugin XML right now.   I've managed to get it to output only the Java sources to /target/generated-sources/swagger/.  It compiles successfully and my IDE recognizes the standardized directory layout so there are no red error badges.  I just need to make sure that my own project's pom.xml includes all of the required dependencies.

I was not able

[2015-12-18 16:32] anuragajwani commented on #1667
I am having the same problem Array<MyObject> is being turned to a string and then being used as the key to search for the nonexistent decoder

[2015-12-18 17:00] seanfarley commented on #1728
Ha! Yep, that's a mistake on my part.

[2015-12-18 17:00] #1728 closed

[2015-12-18 17:25] ChrisPearce commented on #1681
+1

[2015-12-18 18:53] fehguy commented on #1167
I think that what we want is different from enum types.  If you take an example like such:

[code]

We could easily create an enum class:

[code]

But what we really want is a `NSString` which has the acceptable values of `First`, `Second`.  Thus creating an enum class is actually a bit odd for the codegen.  If you, for example, referenced the enum in another model:

[code]

What would you expect

[2015-12-18 22:57] memoto commented on #1667
An obvious and minimalistic workaround could be:
* Replacing just inside the *Models.swift* this:
[code]
* With this:
[code]

As I still haven't looked deeper in a codegen, just put it here. I guess it will be not too complicated to make the corresponding changes to the project and push it to repo. So, hope to see new versions with fixes soon!

[2015-12-19 03:09] wing328 commented on #1701
Thanks for reporting the issue. I think we will resolve it by including StringUtil as some developers may prefer developer-friendly output (pretty print).

[2015-12-19 09:34] chenjianjx commented on #1701
You can "inline" StringUtil, which means generating pretty-printing toString() methods for every model.

[2015-12-19 12:33] anuragajwani commented on #1667
Thanks for the answer memoto. I am still relatively new to Swift and I approached the problem by trying to unwrap the response array and to get the element type within and then call the decode method for element type in a foreach loop unsuccessfully.

[2015-12-19 16:21] fehguy commented on #1701
I do agree that it would be nice to avoid having this external class in the models

[2015-12-20 21:54] garydgregory commented on #944
SwaggerCodegen 2.1.4 generates code that does not compile. The most egregious problem is that the folders are messed up, for example, code generated in the package "com.seagullsw.test.swagger.api.impl" in generated in "src\gen\java\impl\com\seagullsw\test\swagger\api\ArrayOfAllPrimitiveTypesInBodyApiServiceImpl.java" instead of "src\gen\java\com\seagullsw\test\swagger\api\impl\ArrayOfAllPrimitiveT

[2015-12-20 23:19] garydgregory opened #1743 "Add Eclipse folder '.settings' to Git ignore list."
Please add the Eclipse folder '.settings' to Git's ignore list in the root for the project. It would be great to do this for all Swagger projects.

[2015-12-21 01:27] garydgregory opened #1744 "Resolve my jar hell by updating Apache Commons IO from 2.3 to 2.4"
[code]

[2015-12-21 02:02] fehguy commented on #1744
It can be updated, yes. Will look tonight

[2015-12-21 03:20] wing328 commented on #944
@garethjevans I believe the issue (on Windows) has been addressed in the latest master. Please pull the latest and give it a try.

[2015-12-21 05:10] fehguy commented on #1743
I do see it in this project:

https://github.com/swagger-api/swagger-codegen/blob/master/.gitignore#L61

Is this not working correctly?  A PR would ensure it's working correctly.

[2015-12-21 14:15] hiveship opened #1746 "Swagger enum definition is not correctly mapped to Java Client"
I am trying to generate a Java client to a Swagger definition of an API.

In my Swagger file, I have the following:
[code]

so in Java language, I excpect to get something like:
[code]
but with Swagger codegen I got:
[code]
wich I think is not really correct :(

I am missing something ?

[2015-12-21 16:21] wing328 commented on #325
FYI. I submitted #1747 to add a Go API client generator.

[2015-12-21 23:46] garydgregory commented on #1743
Attaching is a patch for the whole project...

[swagger-codegen.diff.txt](https://github.com/swagger-api/swagger-codegen/files/69129/swagger-codegen.diff.txt)

[2015-12-22 01:56] garydgregory commented on #944
Well, that could well be because it does not happen anymore and I am using locally built snapshots. What I did notice is that if my Swagger file is not valid (based on the JSON schema) then the JAXRS code generator will not fail and instead will generate code that does not compile.

[2015-12-22 02:11] garydgregory opened #1748 "JAXRS code generator does not use the Swagger host in the pom.xml and READ.me files"
The JAXRS code generator always uses port 8080 in the generated pom.xml for Jetty instead of what the Swagger host field file defines. This port (8080) shows up both in the generated pom.xml and in the generated READ.me.

[2015-12-22 06:00] fehguy opened #1749 "library is not available in the maven plugin"

[2015-12-22 06:06] fehguy commented on #1737
Hi, you are right, the plugin is not capturing this variable.  Please see here:

https://github.com/swagger-api/swagger-codegen/issues/1749

[2015-12-22 10:50] SalehAly opened #1751 "[JAX-RS] Missing import for http PATCH"
Generated code does not contain import for patch requests. ``` import io.swagger.jaxrs.PATCH;``` is missing
spec file
[code]

[2015-12-22 13:43] illukarl23 opened #1753 "lang.NullPointerException in "main""
Hi,
I get an NullPointerException when trying to generate C# client Code.
Exception:
[code]

I get some C# Classes, but some are missing.
Unfortunately I can't post my swagger spec here, for what should i look after to get this running?
I am using Version 2.1.4 of Codegen.

[2015-12-22 14:14] wing328 commented on #1753
@illukarl23 please use the latest master, which contains bug fixes and enhancements to the C# client and see if you still encounter the NPE.

[2015-12-22 14:43] wing328 commented on #1753
Also you can use editor.swagger.io to validate your swagger spec.

[2015-12-23 06:49] wing328 commented on #1715
PR merged. Closing this issue.

[2015-12-23 06:49] #1715 closed

[2015-12-23 06:57] wing328 opened #1754 "[Javascript] add more test cases"
Currently, there's only 1 test case for JS API client: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/test/api/PetApiTest.js

We want to leverage the community to add more test cases. PetApiTests.js already contains peudo-code (java) on what needs to be tested.

Please reply if you're interested in making contribution to this or let us know if you've

[2015-12-23 10:41] hiveship commented on #1746
The problem had been solved here https://github.com/swagger-api/swagger-codegen/pull/1740

[2015-12-23 10:41] #1746 closed

[2015-12-23 11:03] xhh commented on #1730
@benmccann the `okhttp-gson` client supports accessing to the `OkHttpClient`, I also submitted a PR #1755 to add a helper method to set the connect timeout. Maybe you want to give it a try.

[2015-12-23 13:50] fehguy opened #1756 "binary codegen needs update"
From change in swagger-core https://github.com/swagger-api/swagger-core/issues/1578

[2015-12-23 13:59] #1756 closed

[2015-12-23 14:17] ePaul opened #1758 "Ceylon code generation (for ceylon.net.http.client/server)"
There should be code generators which generate

* [Ceylon](http://ceylon-lang.org/) model classes
* An Ceylon API client based on [ceylon.net.http.client](http://modules.ceylon-lang.org/repo/1/ceylon/net/1.2.0/module-doc/api/http/client/index.html).
* An Ceylon API server based on [ceylon.net.http.server](http://modules.ceylon-lang.org/repo/1/ceylon/net/1.2.0/module-doc/api/http/server/index.html)

[2015-12-23 14:46] ePaul commented on #1758
I already started with the model classes, as well as JSON serialization/deserialization (as Jackson seems to have problems with the Ceylon base types like Integer and Character).

→ [Diff](https://github.com/swagger-api/swagger-codegen/compare/master...ePaul:feature/ceylon-model-generation) (not yet ready for a pull request, I think.)

Some questions:
* I created some Ceylon helper classes/functio

[2015-12-23 15:54] wing328 commented on #1758
@ePaul thanks for contributing the Ceylon code generator :beer:

Regarding helper classes/functions, both approaches are fine with me. I would suggest you start with the helper package approach and refactor later if people want to use these helper functions/classes in a standalone module.

About concentrating on models first, I totally agree with that approach as that's what I did for the Go code

[2015-12-23 18:15] #1743 closed

[2015-12-24 01:15] nikhilbansal01 opened #1760 "Unable to resolve dependencies"
Failed to execute goal on project swagger-codegen: Could not resolve dependencies for project io.swagger:swagger-codegen:jar:2.1.5-SNAPSHOT: Failure to find io.swagger:swagger-core:jar:1.5.5-SNAPSHOT in https://oss.sonatype.org/content/repositories/snapshots was cached in the local repository, resolution will not be reattempted until the update interval of sonatype-snapshots has elapsed or updates

[2015-12-24 06:32] wing328 commented on #1760
@nikhilbansal01 please pull the latest master as we've just updated the pom to use the latest version of swagger core and parser.

[2015-12-24 09:10] hiveship opened #1764 "Unused imports in Java client"
The generated Java for an existing Swagger file contains to much unused imports.

For example, generating a simple Enumeration:
My Swagger enum is:
[code]

The generated client is :
[code]

And there we can see that there is imports. To define a classic enum like that, there is normally no import at all necessary !

[2015-12-24 20:46] fehguy commented on #1764
Yes thank you, we will do some house cleaning before the next release

[2015-12-25 07:35] wing328 opened #1765 "CI failed due to issue wth http://petstore.swagger.io/#!/pet/findPetsByTags"
http://petstore.swagger.io/#!/pet/findPetsByTags returns
[code]
causing CI to fail.

Here is CI log
[code]

[2015-12-25 09:03] wing328 commented on #1636
I got the same error

<img width="898" alt="screen shot 2015-12-25 at 4 52 01 pm" src="https://cloud.githubusercontent.com/assets/934260/12001710/31da14e2-ab29-11e5-8696-ee0b0338e3fd.png">

and I'm using Swift 2.1.1
[code]

@Edubits when you've time, I wonder if you can take a look.

[2015-12-25 09:18] wing328 commented on #1638
I ran into the issue with PromiseKit 2.2.1 as well and upgrading to 3.0.0 resolves those errors. Here is the error for tracking purpose:

<img width="266" alt="screen shot 2015-12-25 at 5 16 17 pm" src="https://cloud.githubusercontent.com/assets/934260/12001791/6647cca4-ab2b-11e5-8aba-bd09c32b944b.png">

I will submit a PR later to update PromiseKit to the latest version (3.0.0), which was release

[2015-12-25 10:07] wing328 commented on #1636
For the error with `defer()`, I was able to fix it by renaming it to `pendingPromise()`. Ref: https://github.com/mxcl/PromiseKit#promisekit-3

There's only one error remaining:

<img width="891" alt="screen shot 2015-12-25 at 6 05 19 pm" src="https://cloud.githubusercontent.com/assets/934260/12002117/1a4b8f64-ab32-11e5-839f-7e293ea7e65a.png">

[2015-12-25 12:56] wing328 commented on #1636
UPDATE. I'm able to resolve the error by renaming "NSError" in that line to "ErrorType" and the build is now OK.

I'll submit a PR later to update the Swift template.

[2015-12-27 14:12] fehguy commented on #1765
build error was fixed

[2015-12-27 14:12] #1765 closed

[2015-12-27 14:18] #1470 closed

[2015-12-27 14:26] wing328 commented on #1765
Thanks @fehguy. Happy holidays!!

[2015-12-28 08:01] #1638 closed

[2015-12-28 09:29] Edubits commented on #1636
Sorry for not responding earlier, glad you were able to fix it @wing328!

[2015-12-28 11:12] Mumutu opened #1773 "swagger-core version wasn't updated?"
swagger-codegen- 2.1.5-SNAPSHOT's pom show the version of swagger-code is still 1.5.5  while it needs the `BinaryProperty` .. so the error occurs

[code]

[2015-12-28 13:18] wing328 commented on #1773
@Mumutu did you pull the latest master and do a `mvn clean install -U` ?

[2015-12-28 14:21] #1760 closed

[2015-12-28 15:36] wing328 commented on #1173
FYI. #1768 will fix it.

[2015-12-28 16:12] wing328 commented on #1744
The integration test looks good. Here is the PR: #1776

[2015-12-29 02:44] Mumutu commented on #1773
@wing328 Thanks I followed what you said and no error occurs any more.
Maybe some jar updated unexpectedly since I didn't change anything in local.

[2015-12-29 02:44] #1773 closed

[2015-12-29 15:51] andylowry opened #1781 "akka-scala implemention NPE on spec with no securityDefinitions property"
Seen in release 2.1.4, and in latest commit on master branch: 564f6e2bb5ff22bdf08672c103c5a14dffdef60a

In the `fromSecurity` method override in `AkkaScalaClientCodegen`, the iterator that looks for an OAuth security definition fails with NPE if the spec contains no `securityDefinitions` property.

The superclass method explicitly returns null in this case, and that null value is used by the akka-

[2015-12-29 15:56] andylowry opened #1782 "PHP language module fails on windows"
Seen in release 2.1.4

In `PhpClientCodegen#toPackagePath`, the following expression fails on Windows, where `File.separator` is a single backslash:

    packageName.replaceAll("[\\.\\\\/]", File.separator)

The problem is that the replacement string in `String#replaceAll` is not treated as a bare string. Replacements from matching regex groups are processed, and backslashes are used to escape cha

[2015-12-29 16:26] wing328 commented on #1782
@andylowry thanks for the reporting the issue. I tested the latest master with `.\bin\windows\php-petstore.bat` but didn't see any issue.

Please pull the latest master and try again.

[2015-12-29 16:28] wing328 commented on #1781
@andylowry thanks for the detailed issue report. We'll look into this and get back to you.

[2015-12-29 16:30] wing328 commented on #1711
@seanfarley do you need help submitting a fix? or you would like us to fix the issue with a PR?

[2015-12-29 16:31] wing328 commented on #1540
@samskiter the issue has been fixed by #1734 in the latest master. Please pull the latest and let us know if you still see the issue.

[2015-12-29 16:31] #1540 closed

[2015-12-29 16:43] wing328 commented on #1612
Closing this as there's no update. Please reopen if you need help from us.

[2015-12-29 16:43] #1612 closed

[2015-12-29 16:43] #1599 closed

[2015-12-29 16:44] #1636 closed

[2015-12-29 16:44] #1607 closed

[2015-12-29 17:02] #1336 closed

[2015-12-29 17:03] #1084 closed

[2015-12-29 17:04] wing328 commented on #672
@businesstek if it's still an issue, please reopen.

[2015-12-29 17:04] #672 closed

[2015-12-29 17:04] #696 closed

[2015-12-29 17:05] wing328 commented on #658
@Cooker-Monster can you provide a spec for reproducing the issue?

[2015-12-29 17:08] wing328 commented on #877
I believe this is no longer an issue. Please reopen if it's not the case.

[2015-12-29 17:08] #877 closed

[2015-12-29 17:26] andylowry commented on #1782
Sorry, I was mistaken in thinking I had reproduced it in latest master. I see the bug fix now to quote the replacement string.

[2015-12-29 21:36] seanfarley commented on #1711
Oops, sorry. I have this fixed locally but got distracted with the holidays. I was trying to add some more pythonic stuff but that might be delayed.

[2015-12-30 03:01] wing328 commented on #1711
@seanfarley np :)

Do you mind elaborating on the "pythonic stuff" a bit more?

[2015-12-30 03:02] wing328 commented on #1782
@andylowry np :)

[2015-12-30 03:02] #1782 closed

[2015-12-30 05:54] #1701 closed

[2015-12-30 06:49] #1781 closed

[2015-12-30 06:58] wing328 commented on #1781
FYI. @andylowry 's PR has been merged into master.

I also reviewed other codegen and confirmed no other codegen overrides `fromSecurity`, which means only Akka-Scala codegen had the issue.

[2015-12-30 06:59] wing328 commented on #1744
#1776 merged into master.

[2015-12-30 06:59] #1744 closed

[2015-12-30 07:00] wing328 commented on #1753
@illukarl23 closing this as there's no update from you. Please reopen if needed.

[2015-12-30 07:00] #1753 closed

[2015-12-30 07:02] wing328 commented on #1570
PR merged into master.

[2015-12-30 07:02] #1570 closed

[2015-12-30 07:03] wing328 commented on #1566
@mm-gmbd closing this as there's no update from you. Please reopen if needed.

[2015-12-30 07:03] #1566 closed

[2015-12-30 07:57] #1035 closed

[2015-12-30 08:05] #1749 closed

[2015-12-30 19:00] #1748 closed

[2015-12-30 19:13] garydgregory commented on #1748
Thank you!

[2015-12-30 21:25] #1764 closed

[2015-12-30 22:20] fehguy opened #1789 "update java-based codegens"
With the latest commits for enums and more modular files, all the JVM-based clients should be updated.

[2015-12-31 00:16] mm-gmbd commented on #1566
@wing328, apologies for not getting to this sooner. I have moved on with a different tool, so I haven't had much time to look back just yet. I have *not* gotten the issue resolved, and the suggestion @xhh provided unfortunately does not work either.

[2015-12-31 00:21] #1789 closed

[2015-12-31 04:03] fehguy commented on #1631
fixed in https://github.com/swagger-api/swagger-codegen/commit/f73acc7c18688a41172f8a1aaf160ad326dc8257

[2015-12-31 04:03] #1631 closed

[2015-12-31 08:10] dantran opened #1793 "Please deploy latest 2.1.5-SNAPSHOT"
The current snapshot deployed on Dec/23 uses swagger-parser 1.14-SNAPSHOT which is no longer availabe at sonatype repo

[2015-12-31 21:32] rbpasker opened #1796 "[python] swagger responses versus API behavior"
my swagger.json has:

[code]

but the python API ( https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/rest.mustache#L176 ) has:

[code]

which means that when a web service generates a 400,  the machinery in the generated client code that converts the JSON response in the body into the swagger-generated response object never happens.

[2015-12-31 21:55] T-Boss opened #1797 "[C#] Include assembly information in compiled DLL"
There should be a way to specify the assembly information (title, description, company, version, etc.) in the compiled DLL.

[2015-12-31 22:08] T-Boss opened #1799 "[C#] Inherited classes must come before implemented interfaces in the class definition"
In the model template, it currently specifies ````public class {{classname}} : IEquatable<{{classname}}>{{#parent}}, {{{parent}}}{{/parent}}````. This isn't an issue if the class doesn't inherit from anything, so you end up with _public class classname : IEquatable<classname>_. But when you inherit from a class, you end up with _public class classname : IEquatable<classname>, ParentClass_, which t

[2015-12-31 22:58] rbpasker opened #1802 "[python] use of Configuration() as default parameter evaluates at definition-time, not runtime"
using this idiom, Configuration().host is evaluated when the method is defined, which is when `from swagger_client import SomeClient` is executed by the interpreter, and **NOT** when the constructor is called.

[code]

https://github.com/Tengah/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_client.mustache#L69

[2016-01-02 18:23] kumartheashwani commented on #1176
@fehguy Can I work on this feature.

[2016-01-04 01:03] fehguy commented on #1793
sure thing, done

[2016-01-04 01:03] #1793 closed

[2016-01-04 01:27] fehguy commented on #1176
Sure!  That would be helpful.

[2016-01-04 06:25] dantran opened #1804 "[java] missing import java.util.Objects"
From Latest 2.1.5-SNAPSHOT

I have a this json schema snippet

    "definitions" : {
      "PointInTimeGroup" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "readOnly" : true
          },
          "pointInTime" : {
            "type" : "string",
            "readOnly" : true
          },

[2016-01-04 07:19] wing328 commented on #1802
PR merged. Closing the issue.

[2016-01-04 07:19] #1802 closed

[2016-01-04 07:46] wing328 commented on #1799
PR merged.

[2016-01-04 07:46] #1799 closed

[2016-01-04 07:47] #1797 closed

[2016-01-04 08:02] wing328 commented on #1176
@kumartheashwani https://github.com/swagger-api/swagger-codegen/pull/1545 would be a good starting point to add support for another HTTP library in the Java API client. Let us know if you need any assistance. Thanks in advance.

[2016-01-04 12:46] wing328 commented on #1804
@dantran thanks for reporting the issue. I could repeat it using the latest master with the model definition you provided above.

We're working on a fix.

In this case, do you intend to generate a model without any property?

[2016-01-04 12:58] MathiasWasAlreadyTaken commented on #283
I have started to implement a C++ generator for Casablanca/cpprest. It is still in its early stages, meaning there are lots of implementation and verification left.
But for the not so faint of heart who wants to test things out, it does creates something that is usable...in labs...check the [readme for this fork](https://github.com/MathiasWasAlreadyTaken/swagger-codegen/blob/development/modules/sw

[2016-01-04 14:55] hiveship commented on #1804
It would be great to only import
[code]
instead of
[code]

[2016-01-04 15:05] wing328 commented on #1804
Totally agree.

[2016-01-04 16:27] hiveship opened #1806 "[Java Client] Types with format are not correctly mapped"
Considering the following Swagger Specification:

[code]
My model object "Tenant" as an identifier "uuid". I have defined it as a "string" type with the format "uuid". In the Java Client, I was expecting that the field "tenant_uuid" will be an instance of ```java.util.uuid```
However, it is just mapped as a string. The "format" element is ignored by the Java code (not even used for documentation).

[2016-01-04 16:51] fehguy commented on #1806
Yes, you can simply add a check for `UUIDProperty` in the `DefaultCodegen` class, under the `public String getSwaggerType(Property p)` method.  Feel free to send a PR with some tests and we can get it merged.

[2016-01-04 18:13] rbpasker commented on #1796
Here's an example where I expect the generated code to look for a '400' http-response-code and convert the payload into a message. instead, it just throws an exception, and doesn't deserialize the payload.

[code]

here's the associated swagger file:

[code]

[2016-01-04 18:53] webron commented on #1796
Regardless of the potential issue, that's not a valid definition. Your response schema is malformed.

Should be:
[code]

[2016-01-04 18:56] rbpasker commented on #1796
good catch. fixed

[2016-01-05 02:08] wing328 commented on #1804
Submitted #1807 to fix it. For `java.util.*`, I'll work on it later as it requires updating the import logic to handle multiple import for a single type.

[2016-01-05 02:28] wing328 commented on #1727
Closing this as there's no further update.

[2016-01-05 02:28] #1727 closed

[2016-01-05 02:30] wing328 commented on #1711
#1808 merged into master.

[2016-01-05 02:30] #1711 closed

[2016-01-05 03:19] damienpontifex opened #1809 "angular2 client"
Just wondering if there is an angular2 client in the works?

If not, I'll take a crack one.

[2016-01-05 03:32] wing328 commented on #1809
There's one for Typescript and here is an example for Petstore: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular.

Would that meet your requirement?

[2016-01-05 03:33] damienpontifex commented on #1809
Yes, I found those ones, but they're all for angular1.

Looking at utilising Typescript and Angular2

[2016-01-05 03:45] wing328 commented on #1809
What about updating that to support Angular2?

For the Java client, we can use the `library` option to specify which HTTP library (e.g. Retrofit, Jersey, etc) to use. Maybe we can use similar approach to support both Angular1.x and 2.x in the same `typescript-angular` client.

cc @tandrup @mhardorf as they might have some work in progress for typescript angular2

[2016-01-05 03:45] wing328 opened #1810 "[Java] better import to avoid `java.util.*`"
Currently, the Java model contains redundant import, e.g.
[code]
Ref: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/default/src/main/java/io/swagger/client/model/Pet.java#L9

`import java.util.*;` should be replaced with the following:
[code]

We will need to revise the import logic to handle multiple import for a single type.

[2016-01-05 03:45] #1804 closed

[2016-01-05 03:46] wing328 commented on #1804
PR merged.

Submit #1810 for tracking work related to `java.util.*`

[2016-01-05 04:17] Mumutu commented on #1810
By the way. not all the java library ‘s pom file .i.e retrofit  has the
[code]

[2016-01-05 04:18] fehguy opened #1811 "public docker image"
For swagger-generator

[2016-01-05 04:39] wing328 commented on #1810
@Mumutu do you mind submitting a PR for the above? We'll review accordingly. Thanks.

[2016-01-05 05:06] fehguy commented on #1811
See https://hub.docker.com/r/swaggerapi/swagger-generator/

[2016-01-05 05:19] Mumutu commented on #1810
@wing328  Since the retrofit library uses `gson` as serializer/deserializer so the imports
[code]
is dummy.  So I am not sure whether use a fixed `imports` in retrofit's `model.mustache` or just add the dependency in the `pom.mustache`. Currently I just remove the fastxml import with a replace " " ..

[2016-01-05 05:51] damienpontifex commented on #1809
Started some work on a template here https://github.com/damienpontifex/TypescriptAngular2CodeGen and using the `typescript-angular` language with the swagger-codegen tool.

Still to sort out some issues with imports of the model classes, but a start that generates with the updated types and angular2 style

[2016-01-05 08:32] hiveship commented on #1806
Ok, I will try it asap

[2016-01-05 12:31] #1811 closed

[2016-01-05 13:48] fehguy commented on #1681
see here https://hub.docker.com/u/swaggerapi/

[2016-01-05 13:48] #1681 closed

[2016-01-05 14:38] vivex commented on #74
@wing328
  i am using swagger-ui 2.1.4, there is a API which returns pdf,  I am  using schema type as "file" in json  but the downloaded pdf from swagger link is currupt (coming blank) but if i download it directly from browser then it works fine (mean there is some issue with blob conversion or something) , Can you please help ?

[2016-01-05 15:17] wing328 commented on #74
For issue with swagger-ui, please report [here](https://github.com/swagger-api/swagger-ui/issues/new)

[2016-01-05 21:42] fehguy opened #1817 "inheritence models may lookup by wrong key"
For inheritance of schemas, it is possible that the keys are being resolved by model name, not by original key name

[2016-01-05 23:22] #1817 closed

[2016-01-05 23:45] erikvanzijst opened #1819 "Java codegen must use toModelName in "extends" declaration"
![swagger-codegen _2016-01-05_15-41-20](https://cloud.githubusercontent.com/assets/63338/12130921/4fe3c62a-b3c3-11e5-9ca8-64764dc8ee7a.png)

[2016-01-06 00:39] fehguy opened #1820 "internal variables used in api methods can cause collisions"
Variables like `path` and `accepts` are subject to collision when there are similarly named variables.

[2016-01-06 00:53] #1819 closed

[2016-01-06 01:27] yewton commented on #1681
Thank you :smile:

[2016-01-06 13:27] fehguy commented on #1820
fixed by https://github.com/swagger-api/swagger-codegen/commit/ed4a729cd296694db82a9099d430fd50cbd45263

[2016-01-06 13:27] #1820 closed

[2016-01-06 13:27] fehguy commented on #820
This has been fixed.

[2016-01-06 13:27] #820 closed

[2016-01-06 13:28] fehguy opened #1822 "Avoid duplicate operation IDs"
even though the spec forbids duplicate operationIds, the codegen should be making them unique.

[2016-01-06 14:25] #1822 closed

[2016-01-06 16:23] frinux opened #1825 "Custom NodeJS server port"
In the file: swagger-codegen/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/NodeJSServerCodegen.java

Line 24: ```protected int serverPort = 8080;```

It seems this value cannot be overridden, am I right? Is it planned?

Thanks

[2016-01-06 16:45] fehguy commented on #1825
Seems like this should follow the java server port:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JaxRSServerCodegen.java#L174-L182

[2016-01-06 16:51] frinux commented on #1825
This is for Jax-RS, not fore NodeJS server?

[2016-01-06 16:59] fehguy commented on #1825
yes, i'm saying we can use this same technique here.  Please watch for a commit to address this.

[2016-01-06 17:08] wing328 commented on #1825
@fehguy I can help work on this tomorrow if you're busy with other enhancements.

[2016-01-06 17:31] fehguy commented on #1825
I've got this one--thanks for offering!

[2016-01-06 17:41] #1825 closed

[2016-01-06 22:34] leemeador opened #1828 "readme.md doesn't agree with usage: -D either is or is not an allowed option"
Github is showing README.md on its main page.  On that page in the SYNOPSIS section and OPTIONS below, it says I can use -D as an option. Further down the page it indicates properties (like the Java "models" option) can be set with -D.

I try it by using the following gradle task:
[code]
and I get "usage" that does not show -D as an option. It does not say that -D is the offense causing usage to b

[2016-01-06 23:38] fehguy commented on #1828
Try `-Dmodels` not `-D models`

[2016-01-07 15:57] hiveship opened #1836 "[Java Client] Authentication not correctly added"
I am writing a specification for my API and I've found a problem in the Java client generated (I generate my with using the Swagger Editor option > Generate Java Client).

My Swagger files contains:
[code]
So I think that this file is correct to specify a HTTP Basic Authentication for the whole API.

In the Swagger Editor and the Swagger UI everything is OK, I can test my methods and it's working.

[2016-01-07 16:11] pradeepgoudra opened #1837 "compilation error when generating client library"
Issue I am seeing is when swagger has type as string like below

"CityName": {
      "type": "string"
    },

Java class generated is as below and it doesn't have imports for javax annotation and so compilation error.

package io.swagger.client.model;

import java.util.Objects;

@javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen", date = "2016-01-07T10:48:57.

[2016-01-07 17:42] cbornet opened #1840 "[Feign] Expose Feign builder"
The feign builder should be exposed so that we can customize it without touching the generated code (to add basic auth for instance)
Something like
[code]

[2016-01-07 20:11] fehguy commented on #1836
not a bug!  You need to declare what methods need which security requirements.  In your example, adding `security` on the `/get` method is what you need to do.  To apply security to *all* operations, you would add it at the same level as `paths`.

[2016-01-07 20:11] #1836 closed

[2016-01-07 20:12] fehguy commented on #1837
ok that's a bug.  For now, disable the generation option

[2016-01-07 20:39] pradeepgoudra commented on #1837
thanks for the response. Do  you know time frame when this will be fixed and released.

[2016-01-07 20:44] fehguy commented on #1837
well we just released yesterday so it'll probably be a few days minimum.

[2016-01-07 20:47] pradeepgoudra commented on #1837
Ok np. Please notify me when the issue is fixed and i can retest. Appreciate your help.

[2016-01-07 20:47] fehguy commented on #1837
I will close this bug when it's in snapshot.

[2016-01-07 22:38] leemeador commented on #1828
Thank you fehguy for the suggestion. I will try that.

The issue I was trying to report is that the Github docs don't match what "usage" shows. A reasonable fix would have both show the same option list for "generate"

Perhaps there is another issue here in that Github looks like there is a space after the -D but you seem to be saying that is incorrect as well

[2016-01-07 22:44] leemeador commented on #1828
This does not work either (though I tried it with 2.1.5 instead of 2.1.2) so leaving the space out isn't a way for me to get the output I want.

    args  = ["generate",
             "-i", "http://localhost:25630/v1/mystuff/api-docs",
             "-o", "${projectDir}/",
             "-l", "java", "-Dmodels"
            ]

The result is the same "usage" message as in the original issue report.

[2016-01-07 22:51] fehguy commented on #1828
OK from this command:

[code]

It does appear that the empty `-Dmodels` does _not_ generate "all models".  It _does_ work by specifying the models you want to generate specifically like `-Dmodels=Pet,Order`.  So there's a bug here.

[2016-01-08 00:15] fehguy opened #1847 "sort libraries in swagger-generator"
currently the list of supported targets feels randomly ordered.  Should sort them alpha

[2016-01-08 01:17] jqr opened #1848 "Binary file encoding issues and Ruby"
I'm new to the swagger-codegen project, so apologies if this is the wrong venue or way to suggest changes.

I'm working on making a fix for downloading file data using a Ruby generated swagger client. My primary issue is when downloading a binary file, a file is made on the local filesystem with default encoding (UTF-8) and then binary data is attempted to be written into it, which triggers an att

[2016-01-08 01:20] xhh commented on #1836
I think the reason is that the swagger-codegen at http://editor.swagger.io/ is not the latest one.

I can reproduce the issue on http://editor.swagger.io/ with the above spec (with indentation corrected and a fake `Error` definition).
In the downloaded Java client, **GlobalApi.java** contains:
`String[] authNames = new String[] {  };`

But when I tried downloading the spec and generating the Java

[2016-01-08 02:13] jqr opened #1849 "PHP file deserializing undefined variable"
In b282d4f a typo on [this line](https://github.com/swagger-api/swagger-codegen/commit/b282d4f#diff-630a0645a0b3fabb89412db600734cfbR201) references an unset variable causing the file download code to get the following error in PHP.

[code]

The defined variable is singular, but the reference is plural. For what it's worth, I think plural form is more appropriate :)

A test case would catch this i

[2016-01-08 03:05] wing328 commented on #1848
@jqr thanks for the detailed analysis. I agree with you that the Ruby file download operation can be further improved. For the C# client, it will return a in-memory file. Are you suggesting something similar for Ruby?

For the security issue, we'll check other client to see if there's a similar issue and fix accordingly.

To submit a PR, the [contributing guildeline](https://github.com/swagger-api

[2016-01-08 03:21] jqr commented on #1848
Wow, all that typing and I wasn't really clear on my suggestion, ha.

I think that returning a string in Ruby makes the most sense and we should remove the file handling entirely. It side-steps the issues I outlined above and would solve an immediate problem I'm running into with the Ruby generated client in Rails.

[2016-01-08 03:58] wing328 commented on #1848
@jqr the main reason why I decided to return a file instead of string/byte array is usability. If a developer uses the SDK and call the method, all they get back is just a file (which can be easily and likely understood by a beginner programmer who just learns programming in Ruby for only 3 months)

Of course, as you point out, the file is saved in temp directory (which is configurable) and needs

[2016-01-08 04:00] wing328 commented on #1840
Totally agree as developers can easily customize it to meet their own need.

Let me know if you've cycle to contribute a PR or I'll try to implement it next weekend.

[2016-01-08 06:40] wing328 commented on #1849
Fixed with https://github.com/swagger-api/swagger-codegen/pull/1832

I took your suggestion and used httpHeaders instead as httpHeaders is an array of string.

[2016-01-08 06:40] #1849 closed

[2016-01-08 07:57] hiveship commented on #1836
@fehguy It's exactly what I am trying to do, look at my first Swagger file:
[code]
There is a "security" bloc at the same level as "paths" and it's now working !

@xhh is correct, with the first Swagger File, I have:
[code]

but when I specify the security on each method It's correct:
[code]

I have only tried with the swagger-codegen at http://editor.swagger.io/.

[2016-01-08 08:49] farmazon3000 opened #1850 "unknown library: retrofit2"
When I create JSON config like:

[code]

and try do make:

[code]

I'm getting an exception:

[code]

[2016-01-08 08:50] farmazon3000 commented on #1567
Using ```retrofit2``` is not working at the moment:  #1850.

[2016-01-08 08:51] farmazon3000 commented on #1850
It works fine when I change to:

[code]

[2016-01-08 08:57] wing328 commented on #1850
@farmazon3000 are you using the latest version (2.1.5) or master ?

[2016-01-08 10:07] wing328 commented on #1567
To all, just an update regarding the `android` client. We'll keep `android` as there're HTTP libraries that can run on Android only (e.g. android-volley, which has been added to `android`).

If you've any questions, please reply to let us know.

[2016-01-08 10:16] wing328 commented on #1850
From the command line, you're using 2.1.4, which does not have retrofit2 support yet. Please use 2.1.5 or the latest master. (I just did a test with retrofit2 and it worked fine as expected)

[2016-01-08 10:36] farmazon3000 opened #1852 "Wrong link: tag v2.1.5 in README.md leads to v2.1.4"
In README.md in the part:

[code]

link leads to https://github.com/swagger-api/swagger-codegen/tree/v2.1.4 which is probably wrong, please check.

[2016-01-08 10:37] farmazon3000 commented on #1850
Indeed it works with v2.1.5.

[2016-01-08 11:07] #1850 closed

[2016-01-08 11:55] wing328 commented on #1852
Fixed.

[2016-01-08 11:55] #1852 closed

[2016-01-08 14:25] cbornet commented on #1840
I will do it, no problem. I also want to add an apiKey interceptor if you're OK with that

[2016-01-08 14:25] wing328 commented on #1828
When I'm trying to fix this bug and tested with `-Dmodels=Pet,Order`. Only the model Pet is generated. I tested with `-Dmodels="Pet,Order"` but got the same result. It seems like everything after `,` is omitted. Am I the only one having this issue?

[2016-01-08 15:51] hiveship opened #1854 "[WIP] Generate server code that use Apache CXF"
I have read something about generating server code from a Swagger spec that use Apache CXF ? However, in the generator, I can"t find anything about it ? :(
Can someone tel me how to generate a server code using Apache CXF from my Swagger file ?

[2016-01-08 19:14] erikvanzijst opened #1856 "Distinguish between java.lang.Object and a generated POJO named Object"
A swagger file that contains a definition named "object" compiles into a
class named `Object`. This is technically not a problem as it lives in a
different package than `java.lang.Object`, but this requires the templates to
refer to Java's `Object` using its fully qualified name.

[2016-01-08 19:29] erikvanzijst opened #1858 "The Java equals/hashcode methods ignores state from superclasses"
The following object definitions hierarchy produces POJOs who's equals and hashcode methods fail to take into account the member variables inherited from the super classes:

[code]

[code]

The `team` type in our schema acts like a marker interface, in that it does not introduce new state and the resulting `equals` method simply always returns `True` for all `Team` objects.

[2016-01-08 20:47] fehguy commented on #1854
The generator support JaxRS with Jersey, not CXF.

[2016-01-08 23:03] jaredrsowers opened #1860 "sanitizeForSerialization in ObjectSerializer in PHP Client causing bad JSON to be created"
When an object is sent to the client, and all of the properties of the object are null, sanitizeForSerialization behaves incorrectly. The result produces "[]" instead of "{}". If you cast the $values to object `(object)$values` in the `is_object()` section it resolves the issue:

[code]

[2016-01-09 00:00] #1858 closed

[2016-01-09 10:14] hiveship commented on #1854
I found a sample here https://github.com/swagger-api/swagger-samples/tree/master/java/java-jaxrs-cxf . How this sample has been generated ?

[2016-01-09 12:48] wing328 commented on #1860
@jaredrsowers thanks for reporting the issue. Do you have cycle to submit a PR for the fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

For test case, you can add it here: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/php/SwaggerClient-php/tests

[2016-01-09 16:16] jqr commented on #1848
Yeah I think I had tried that without success before and assumed file was the best approach since it worked.

Can you point me towards a working version of the string/binary style in one of the other languages so I can bring that functionality into Ruby?

[2016-01-10 17:08] wing328 commented on #1848
I just submitted https://github.com/swagger-api/swagger-codegen/pull/1864 for C# API client. Please take a look. I'm still looking for a better way to test binary body parameter.

[2016-01-11 07:38] wing328 commented on #733
Fixed by #1864

[2016-01-11 07:39] wing328 commented on #1278
@patrickjrs I've submitted #1864 to add "binary" support for C# client. I wonder if you can perform a test when you've time.

[2016-01-11 08:48] wing328 commented on #1848
FYI. Filed #1865 to fix the filename security issue. Thanks again for reporting the issue.

[2016-01-11 09:10] wing328 commented on #1730
PR merged. Closing this issue.

[2016-01-11 09:10] #1730 closed

[2016-01-11 14:43] Mumutu opened #1867 "Build project on windows fails"
the recent commit 99842f646f90bdf69fb70a4cc1494421827a56ec

added
[code]

this would fail on windows due to the File.speratorChar = `\\`
[code]

then it comes to
`java.util.regex.Matcher:809`
[code]

My system is windows10 and jre is "1.8.0_45"  I think simply change replaceAll => replace can fix it

[2016-01-11 15:20] illukarl23 opened #1868 "Authentication C# Client"
How can I set Password and Username of my Client for basic Authentication?
ist it possible to use a Client to call an API that is protected by Windows Authentication?

[2016-01-11 15:28] wing328 commented on #1868
You can use `Configuration` class for authentication: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClientTest/Lib/SwaggerClient/src/main/csharp/IO/Swagger/Client/Configuration.cs#L30

and then construct the API class with an instance of the configuration, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csha

[2016-01-11 15:36] wing328 commented on #1868
I'm not familiar with Windows Authentication. Does it put something (token, username & password, etc) in the HTTP header? If yes, then it can be supported.

[2016-01-11 16:49] illukarl23 commented on #1868
Got it, you can use the RestSharp RestClient.Authenticator and set the Authentication to Ntlm.

thanks.

[2016-01-11 19:48] erikvanzijst opened #1869 "Python: Inherited model properties are ignored"
Types that extend other types don't inherit said properties inherited.

[2016-01-11 20:23] rostskadat opened #1870 "swagger-codegen-maven-plugin build does not respect the --quiet settings"
Hi,

When building with Maven the plugin does not respect the --errors or --quiet as explained in http://books.sonatype.com/mvnref-book/reference/running-sect-options.html#running-sect-verbose-option

This would not normally be a problem, but in our case the api is rather large, and we end up with logs which are rather extensive and not very usable by the developper

I'm forking the repository in

[2016-01-11 21:46] yuekang0629 opened #1872 "[Scala Question] How to put path parameters and payload parameters together in a case class?"
When I generate Scala clients for my APIs, I noticed that each API's request case class only includes the payload schema. Is there a way to generate Scala clients so that the path parameters and payload parameters is shown together in a case class? Or is there any other tools I can use to accomplish this? Thanks!

[2016-01-11 22:17] cbornet opened #1873 "[Feign] Test feign library during CI"

[2016-01-12 00:46] wing328 commented on #1868
You can obtain an instance of RestClient in ApiClient (e..g https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClientTest/Lib/SwaggerClient/src/main/csharp/IO/Swagger/Client/ApiClient.cs#L76) and set the authentication accordingly.

[2016-01-12 00:46] #1868 closed

[2016-01-12 01:27] #1840 closed

[2016-01-12 02:19] wing328 commented on #1869
@erikvanzijst that's not supported in Python API client at the moment. We would welcome contributions from the community to support that.

Here is the related discussion in the spec: https://github.com/OAI/OpenAPI-Specification/issues/403

[2016-01-12 02:42] benmccann commented on #1730
I was using the Jersey client, but it was the OkHttpClient that was fixed. Can you reopen this issue for the Jersey client? Thanks!

[2016-01-12 02:45] wing328 commented on #1730
@benmccann  #1853 fixed the default (jersey) and jersey2 client. Please pull the latest master.

[2016-01-12 03:45] wing328 commented on #1796
@rbpasker yes, there's a limitation that the error object defined in the spec is not used in the Python.

Currently, ApiException contains status, reason, body and headers. Are you expecting another field to store the Error object, which is deserialised from the HTTP body of the response?

[2016-01-12 03:54] mkhludnev opened #1875 "[html] methods are empty if -Dapis=.. -DsupportingFiles=.. -Dmodels=.. are supplied"
hello if I run trunk code with -l html and -Dapis=.. -DsupportingFiles=.. -Dmodels=.. it produces empty methods section in the generated static html, just because https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/StaticHtmlGenerator.java#L94 ignores the given tag parameter. I suppose I can provide a test case (the fix is t

[2016-01-12 09:03] glederrey opened #1877 "Spring-MVC: Having different kind of responses (200 and errors)"
Hi,

I'm having a problem with Spring MVC.

I'd like to have one type of response when it's a 200 and if the server triggers an error, then it can send a different type of response. In terms of JSON spec, it would look like this:

    "responses": {
        "200": {
          "description": "Response",
          "schema": {
            "$ref": "#/definitions/createAdvisorResponse"
          }

[2016-01-12 12:38] wing328 commented on #1867
Thanks for reporting the issue. If using `replace` instead, then something like `WWW::Swagger::Client` won't work, right ?

[2016-01-12 13:12] wing328 commented on #1872
@yuekang0629 can you give an example to elaborate a bit?

The Java client (okhttp-gson) also works with Scala and you may want to give it a try.

[2016-01-12 15:47] yuekang0629 commented on #1872
Let's take this API for example:
  '/sample/{Id}':
    post:
      summary: sample
      operationId: sample
      parameters:
        - name: Id
          in: path
          type: string
          required: true
        - name: payload
          in: body
          required: true
          schema:
            type: object
            properties:
              field1:
                type: string

[2016-01-12 16:21] wing328 commented on #1278
PR merged into master. Closing this issue for the time being.

[2016-01-12 16:21] #1278 closed

[2016-01-12 16:35] wing328 commented on #1872
I don't think you can put a path parameter as a model property. What does the HTTP request body looks like for the example above ?

[2016-01-12 16:37] wing328 commented on #733
@boazsapir when you've time, please kindly help perform a test.

Closing this issue for the time being.

[2016-01-12 16:37] #733 closed

[2016-01-12 16:48] yuekang0629 commented on #1872
@wing328  Thanks for the prompt response. The request body is like is : {"field1":"value1", "field2":"value2"}. Our target case class is actually like this:
case class sample_request (
apiName: String
Id: String,
field1: String,
field2: String)

Are you going to deploy this in the future?

[2016-01-12 17:09] wing328 commented on #1872
To meet your "requirement", you can change the URL from `/sample/{id}` to `/sample` instead (of course you need to update your backend to handle the POST operation for /sample)

[2016-01-13 05:45] wing328 commented on #1872
For example, https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L65

[2016-01-13 09:05] wing328 commented on #1854
@hiveship we would welcome contribution for server stub using Apache CXF.

[2016-01-13 09:06] hiveship commented on #1854
I'm currently working on it :)
See: https://github.com/swagger-api/swagger-samples/issues/43

[2016-01-13 09:10] wing328 commented on #1854
:beers:

Reopened this task for tracking so that others know it's WIP and can offer help if needed

[2016-01-13 09:38] scottrw93 opened #1880 "Jaxrs file upload service class incorrect"
I am trying to generate Jaxrs server code from the following Swagger definition:

    cars/uploadImage" : {
      "post" : {
        "tags" : [ "The car store" ],
        "summary" : "uploads an image",
        "description" : "",
        "operationId" : "uploadFile",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "

[2016-01-13 14:12] wing328 commented on #1880
@scottrw93 Petstore also has an endpoint for uploading file (image): https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs/src/gen/java/io/swagger/api/PetApi.java#L176
and it has an InputStream parameter.

Here is the swagger spec (JSON) for Petstore that you can try to repeat the issue with:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swag

[2016-01-13 14:17] scottrw93 commented on #1880
Yes but it does not pass that param to the delegate class. If you look at https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs/src/main/java/io/swagger/api/impl/PetApiServiceImpl.java#L75 you'll see that it does not have  an InputStream parameter, so you can only access details of the file, not the contents.

[2016-01-13 14:25] wing328 commented on #1880
OK. Understood. If no one has cycle to fix this, I'll give it a try next week.

[2016-01-13 20:03] jhancock93 opened #1883 "CSharp client: create csproj file"
The csharp client generation code can generate an AssemblyInfo.cs, but it does not yet create a project (.csproj) file to contain the proxy files. Is anyone else working on something like that? If others would find this useful I'm willing to implement the functionality.

[2016-01-14 01:07] wing328 commented on #1883
Yes please :)

Let us know if you need help implement that.

[2016-01-14 08:02] fooo opened #1885 "@DefaultValue not added to JavaJaxRS code"
When generating the Java JaxRS code, the in swagger defined defaultvalue is not mapped to a @DefaultValue specification in the API.

I think it should be possible to change _swagger-codegen/modules/swagger-codegen/src/main/resources/JavaJaxRS/jersey1_18/queryParams.mustache_ to include @DefaultValue like so:

[code]

[2016-01-14 08:27] wing328 commented on #1885
@fooo do you mind contributing a fix for the issue as I believe you've identified the right place to make the change?

Ref: guildelines for contributing https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-01-14 11:13] hiveship commented on #1806
I submitted a PR https://github.com/swagger-api/swagger-codegen/pull/1855

[2016-01-14 11:22] illukarl23 commented on #1753
Sorry that I didn't write back, I was occupied with other problems.
The swagger spec seems to be valid in the swagger editor, but if I try to generate the client in the editor I get "Unable to build target: null"
Details:    Object
                code: 1
                type: "error"
                message: "Unable to build target: null"
Unfortunately I no longer have the option to user Swagger

[2016-01-14 12:33] wing328 commented on #1753
Can you send the spec to the email address in my Github profile page and I'll try to troubleshoot the issue?

[2016-01-14 12:45] hiveship opened #1887 "Tests error in the codegen module"
I just re-cloned the repository from the branch master, and I'm getting an error while building the project. The error seems to concern the PerlClient

Stack trace:
[code]

[2016-01-14 13:26] wing328 commented on #1887
@hiveship are you getting these errors on Windows?

[2016-01-14 13:27] hiveship commented on #1887
@wing328 it'es right, I'm on Windows 7

[2016-01-14 13:39] wing328 commented on #1887
Due to #1867

A workaround for the time being is to use `-DskipTests` when doing `mvn package`

[2016-01-14 13:41] hiveship commented on #1887
It's exactly what i'm currently doing !

[2016-01-14 13:41] #1887 closed

[2016-01-14 13:58] hiveship opened #1888 "[Question] How to custom the destination file for a Swagger method ?"
When generating a server-stub, the Codegen Module generate several files in the java package "gen.io.java.swagger.api.". Apparently, my API methods are classified in these files based on the first part of my the specified path in the YAML/JSON description of my API.
For example, all methods of my API that have a beginning with path "/users/..." will be put into a "UsersApi" file. All methods start

[2016-01-14 14:03] carlosduclos opened #1889 "Client csharp: Use System.Net.Http.HttpClient instead of RestSharp"
Hi,
HttpClient comes with the system and it is very feature rich. It would be nice for the generator to be able to generate code that uses HttpClient instead of RestSharp. That way there will be one less external dependency.
I'm willing to write the code if nobody else is doing it.

[2016-01-14 14:04] MarcinKwiatkowski1988 opened #1890 "[csharp] error CS1061: 'RestSharp.RestClient'"
Good morning all,
when generating the csharp library I got this error:

error CS1061: 'RestSharp.RestClient' does not contain a definition for 'ExecuteTaskAsync' and no extension method 'ExecuteTaskAsync' accepting a first argument of type 'RestSharp.RestClient' could be found (are you missing a using directive or an assembly reference?)

I tried also to put in the bin folder the RestSharp.Windows

[2016-01-14 14:12] wing328 commented on #1890
Which version of RestSharp are you using?

[2016-01-14 14:21] MarcinKwiatkowski1988 commented on #1890
the ddl I put under the project's bin is version 104.1

[2016-01-14 15:18] wing328 commented on #1890
Can you try the latest version of RestSharp using NuGet?

[2016-01-14 15:39] jimschubert commented on #1338
Arrays aren't a direct replacement for `List<T>`. Specifically because initializing an array requires the array size and resizing an array is not cheap. Lists are a lot more efficient in practice.

If anything, I think `IEnumerable<T>` as exposed types and `List<T>` as internal types would be preferable.

[2016-01-14 17:12] PavelPolyakov opened #1892 "codegen doesn't take into account the default values"
Hi,

Here is my swagger description:
[code]

And that's what we receive in the generated nodejs app:
[code]
Is that ok, that default values are not taken into consideration? string is the same each time, the numer also the same. Is that possible to make it work?
As we don't want to use hardcoded ```examples```.

Regards,

[2016-01-14 18:26] jimschubert opened #1893 "[csharp] Circular dependency prevents ApiClient instantiation"
Generated csharp-client from current http://editor.swagger.io for the petstore-simple example.

Demo of the problem here: https://github.com/jimschubert/bug-swagger-codegen-cscirc

[code]

Build and run this commit and you'll receive the following exception:

[code]

The problem is that `ApiClient(string)` uses `Configuration.Default`, which attempts to construct a new ApiClient (... then `Configu

[2016-01-14 20:31] fehguy commented on #1888
Hi, could you please share the command you're executing?  And which library?

[2016-01-15 01:20] fehguy opened #1894 "Add version number to cli help options"

[2016-01-15 02:23] wing328 commented on #1892
We can use {{{defaultValue}}} mustache tag to fix it. Here is an example: https://github.com/swagger-api/swagger-codegen/blob/3a2ad9e2e446f43a6cd71a0e03e3a88828311480/modules/swagger-codegen/src/main/resources/python/model.mustache#L52

Is that something you have cycle to contribute?

Here is the contributing guidelines: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-01-15 02:45] wing328 commented on #1893
The test cases were fine and I didn't encounter the issue before.

Recently I did encounter issue using static methods in ApiClient outside the class itself and fixed it via https://github.com/swagger-api/swagger-codegen/pull/1884, which addresses the Timeout initialisation.

Please pull the latest master and give it a try.

Also please run unit testings in https://github.com/swagger-api/swagger-c

[2016-01-15 03:18] wing328 commented on #1889
@carlosduclos that's a good idea. The Java API client already supports different HTTP libraries, e.g. Jersey1.x, Jersey2.x, okhttp, Retrofit, Retrofit2, etc, via the `library` option.

Let me know if you need help adding HttpClient to the existing CSharp client.

[2016-01-15 06:58] wing328 commented on #1890
The one that comes with the C# API client is v105.1. Please give that a try.

[2016-01-15 07:31] tjuchniewicz opened #1896 "NullPointerException parsing JSON"
`NullPointerExeption` is thrown when parsing specific Swagger definition. JSON file is generated using [Springfox](https://github.com/springfox/springfox).

Exampe file: [swagger.json.txt](https://github.com/swagger-api/swagger-codegen/files/91462/swagger.json.txt)

[code]

[2016-01-15 07:36] wing328 commented on #1896
@tjuchniewicz https://editor.swagger.io reports 2 errors with swagger.json.txt. Please fix those and give it another try.

[2016-01-15 07:40] carlosduclos commented on #1889
I'm thinking of something similar by using reflection and loading the available library. Having a public static method that creates the ApiClient object. I'll prepare a short sample and I'll post it here.

[2016-01-15 07:49] tjuchniewicz commented on #1896
I see it. This is probably bug in Springfox. Generated code is incompatible with Swagger specification. Thanks!

[2016-01-15 07:49] #1896 closed

[2016-01-15 08:11] wing328 commented on #1867
Submitted https://github.com/swagger-api/swagger-codegen/pull/1897 to fix it.

Please help do a test when you've time

[2016-01-15 08:11] wing328 commented on #1887
Submitted https://github.com/swagger-api/swagger-codegen/pull/1897 to fix it.

Please help do a test when you've time.

[2016-01-15 08:42] hiveship commented on #1888
I'm using the following command:

[code]

"cxf" is the name of the new Codegen module I'm working on. I can also use "jaxrs" for this question.

My aim is to be able to choose in which "***Api.java" file are going to be each method described in the "paths" object of my Swagger specification (and I would like to use the "tags" object, if present, to decide it).

[2016-01-15 08:50] Mumutu commented on #1867
@wing328 it works well lol

[2016-01-15 08:50] #1867 closed

[2016-01-15 09:15] MarcinKwiatkowski1988 commented on #1890
Never used Nuget, but sure, I'll give it a try and let you know

[2016-01-15 10:13] #1880 closed

[2016-01-15 12:22] carlosduclos commented on #1889
Here goes a half backed implementation using reflection. The functionality is divided into two classes, one frontend class that presents the methods the user will need and a backend class that does the heavy lifting.
The idea is that both RestClient and HttpClient will inherit from the backend class and implement the functionality there.

Api.cs (to be transformed to a mustache template of course)

[2016-01-15 13:01] hiveship commented on #1887
@wing328 I updated my repo and I can confirm it's now OK on Windows ! Good job :)

[2016-01-15 15:21] Cooker-Monster commented on #658
@wing328 sorry for the delay. Does this query still relevant ?

[2016-01-15 15:42] kungfoo opened #1901 "volley android client does not compile because of Responses.BooleanResponse"
It seems there is an interface that is not generated in `Responses`:

[code]

This code is generated into one of the API classes, yet `Responses.BooleanResponse` does not exist. I think it is missing from the generator.

[2016-01-15 15:51] hiveship commented on #1885
I submitted a PR https://github.com/swagger-api/swagger-codegen/pull/1902 to handle support the JAX-RS @DefaultValue annotation.

[2016-01-15 16:24] MarcinKwiatkowski1988 commented on #1890
With the latest version is working. Thank you. You should put this error and the solution in some wiki-docs, or otherwise many will just download the most common version of RestSharp, which is not the latest. Thank you again for the solution.

[2016-01-15 16:24] #1890 closed

[2016-01-15 17:11] jqr commented on #1848
Looks like the initial issue is resolved with #1876.

P.S. You're doing amazing work bringing the changes to all the languages. Thank you! :clap::clap::clap:

[2016-01-15 18:30] fehguy opened #1903 "allow posting YAML to the online generator"
per http://stackoverflow.com/questions/34733253/converting-a-swagger-yaml-file-to-json-from-the-command-line/34750203?noredirect=1#comment57254449_34750203

[2016-01-15 19:06] #1848 closed

[2016-01-15 21:53] allenh opened #1905 "Client code generation having Joda-Time Library as an option for Java 7 request"
A `configOption` for `Joda-Time` supporting client code generations using Java 7 that's similar to pull request #1784.

[2016-01-16 00:15] #1905 closed

[2016-01-16 04:44] wing328 commented on #1885
PR merged

[2016-01-16 04:44] #1885 closed

[2016-01-16 04:59] wing328 commented on #1901
@Shyri I wonder if you can take a look when you've time.

[2016-01-16 05:01] wing328 commented on #658
@Cooker-Monster please pull the latest master and let us know if you're still seeing the same issue.

Closing it for now and will reopen if needed.

[2016-01-16 05:01] #658 closed

[2016-01-16 12:52] mateuszmackowiak opened #1907 "JsonModel deserialization errors"
Generated objc is missing JsonModel serialization errors.
If there is an error in the services and we get an array when a dictionary is needed there is no answer and no error.

[2016-01-16 21:26] jimschubert commented on #1893
Checked against master@bde2bbab5625f6e245d04eb1ee0390c1694df5c3, tested in Resharper and standalone NUnit runner for 2.6.4 with .NET 4 and 4.5:

![screenshot_011616_040733_pm](https://cloud.githubusercontent.com/assets/109659/12374505/4138978a-bc6b-11e5-94b8-f45281ba1c26.jpg)

ApiClient is null here in each scenario:
[code]

Looking at it again, I see that changing the ApiClient assignment in the

[2016-01-16 23:03] Shyri commented on #1901
@kungfoo This should've been fixed in #1839 . I removed Reponses class and now it should generate methods using volley response listener, `Response.Listener<Boolean>` in this case.

Please make sure you have those changes in your local copy. If so, ¿could you please write an example of your json file specification for that method?

[2016-01-17 02:09] wing328 commented on #1893
Thanks for the details. I'm using Mac and Mono 4.2.1 and all tests pass locally in my environment:

<img width="1095" alt="screen shot 2016-01-17 at 10 05 26 am" src="https://cloud.githubusercontent.com/assets/934260/12375545/4710ec74-bd02-11e5-9c4a-5c784e41e737.png">

so I think the issue is related to Windows (.net).

I'll look into this more and get back to you.

[2016-01-17 02:29] jimschubert commented on #1893
Weird. They pass for me on Mac, Mono 4.2.0.

[code]

[2016-01-17 02:38] wing328 commented on #1893
Right. I think the issue is bit tricky.

[2016-01-17 08:14] wing328 commented on #1893
@jimschubert I've submitted #1909 to fix the issue. Test cases passed on Windows and Mac. Please help do a test if you've time.

[2016-01-17 10:50] wilsonmar opened #1910 "Generate test clients for stress testing"
Client code currently generated by swagger-codegen is meant for manual invocation.

It would be a revolution in agility if, instead of waiting for test code to be written manually, that immediately after a change in swagger specs, for performance benchmarks be obtained based on generated client test code and test runs.

Provide an example tutorial of how to use swagger-codegen to automatically cre

[2016-01-17 15:31] jimschubert commented on #1893
Your fix in #1909 works as expected for me in Mac and Windows.

When I have a little more time, I'd be interested to disassemble the code generated by Mono to understand how it is handling `beforefieldinit` on these two types versus this same code compiled with .NET 4.x. My understanding fits with the error I received in Windows.

[2016-01-17 15:45] #1893 closed

[2016-01-18 02:33] wing328 commented on #1848
@jqr are you working on adding support for `binary` in the Ruby API client? Just want to avoid duplicated efforts.

[2016-01-18 04:46] jqr commented on #1848
I haven't started yet. It's all yours sir :)

[2016-01-18 05:19] wizardbyron commented on #1645
Maybe you can install a vagrant and run docker in the vagrant vm

[2016-01-18 05:29] wizardbyron opened #1913 "Add a vagrantfile to run docker"
As I saw many subjects on running docker with errors. I think run docker in a vagrant VM is a simple idea which sets an standard environment which cross platforms.
I can add a Vagrantfile with a provision script.

[2016-01-18 06:33] wing328 commented on #1848
@jqr no problem. We should be able to implement it by the end of this week.

[2016-01-18 07:16] kungfoo commented on #1901
I used 2.1.5 from maven central. I can check if the problem persists if I
build from the master branch.

On Sun, 17 Jan 2016 at 00:03, Shyri Villar <notifications@github.com> wrote:

[2016-01-18 09:35] kungfoo commented on #1901
Hmm, I can't seem  to build from source using `mv package` as quoted in the docs. I get the following error on swagger-codegen (core):

[code]

[2016-01-18 10:22] moee opened #1914 "PHP client model: Nested objects not converted to JSON"
I have a swagger file with nested objects. If I convert the object to a string, the nested objects are not serialized to json.

To illustrate the problem I created the following minimal working example of a Swagger definition file: https://gist.github.com/moee/c5fd1d0e10e4bbec654a

## Reproduction

1. Import the provided example into the Swagger editor: http://editor.swagger.io/#/?import=https:%2F

[2016-01-18 11:00] wing328 commented on #1914
@moee please use json_encode($your_object) as a workaround for the time being (currently, object serializer also uses json_encode to convert the object, array of object of map of object into string)

We'll update the model to use json_encode in the __toString method.

[2016-01-18 11:32] tannhaeuser opened #1915 "Enums are not generated in swift class"
Enum is not generated in class. I can see that there are some lines for handling Enum but they never get generated. Its working for other languages.

from: swagger-codegen-2.1.5/modules/swagger-codegen/src/main/resources/swift/model.mustache
[code]

Swagger 2.0 snap:
[code]

Resuling class:
[code]

[2016-01-18 13:31] wing328 commented on #1914
@moee I've filed https://github.com/swagger-api/swagger-codegen/pull/1916 to fix the issue.

[2016-01-18 13:33] moee commented on #1914
@wing328 Wow, that was quick :smiley: Thanks for the fix!

[2016-01-18 13:43] wing328 commented on #1860
@jaredrsowers fixed by https://github.com/swagger-api/swagger-codegen/pull/1916

[2016-01-18 14:07] wing328 commented on #1893
I've submitted https://github.com/swagger-api/swagger-codegen/pull/1912 to avoid storing the default ApiClient in a static field in ApiClient itself.

Moving forward, default ApiClient can be found in `Configuration.Default.ApiClient`

I hope this will make it easier for developers to find the default Configuration, ApiClient and other default settings.

[2016-01-18 14:57] #1914 closed

[2016-01-18 14:58] wing328 commented on #1914
PR merged. Please pull the latest and let me know if you're still seeing the issue.

[2016-01-18 15:06] wing328 commented on #1860
PR merged. Please pull the latest master and let me know if you're still seeing the issue.

[2016-01-18 15:06] #1860 closed

[2016-01-18 16:04] kungfoo opened #1917 "Java Client Generator ignores 'sourceFolder' option"
I just started using `2.1.6-SNAPSHOT` in one project and it seems that the java client generator ignores the `sourceFolder` option in `config.json`.

It simply generates the files into the current dir.

Config to reproduce:
[code]

I then go on to compile the source in `src/generated/java` using a customized gradle build (not the one generated).

[2016-01-18 16:08] kungfoo commented on #1917
If this is intentional, it should probably be mentioned in the README that this option was dropped and replaced with `-o outputFolder` for all generators.

[2016-01-18 16:14] kungfoo commented on #1917
At least the config help of the java generator still claims that `sourceFolder` is in fact an option:

[code]

[2016-01-18 16:22] BugRaptor opened #1918 "Swashbuckle/Swagger-codegen c#: Missing client member of type byte[]"
Not sure it is an issue or a missuse on my side:
http://stackoverflow.com/questions/34852192/swagger-codegen-c-missing-client-member-of-type-byte
Any help welcome.
Thank you.

[2016-01-18 16:47] hiveship commented on #1888
@fehguy @wing328 I'm stiil needing help to find out which method in the Codegen is choosing in wich file is going to be generated each Operation. Can't you inform me ? :(

[2016-01-18 16:56] wing328 commented on #1918
@BugRaptor are you using the latest version (master) to generate the C# ApiClient? Binary (byte[]) support was just added recently (not yet in the latest stable release 2.1.5)

[2016-01-18 16:57] wing328 commented on #1888
@hiveship I'll take a look tomorrow and get back to you.

[2016-01-18 16:59] wing328 commented on #1910
@wilsonmar thanks for the feedback. There's a client template for JMeter and you can find it in https://editor.swagger.io under "Generate Client". Would that meet your requirement ?

[2016-01-18 19:40] fehguy opened #1919 "generated enums"
Currently a generated class gives enums like such:

[code]

When constructing a value from the string "enum 1", you will get an error as "enum 1" is compared against the ENUM1 and ENUM2 keys, resulting in an exception.

[2016-01-18 20:55] fehguy commented on #1919
There is an easy fix for this.  First, the enum generation in the templates should be updated as such:

[code]

Note the `@JsonCreator` which will triggers matching with the input string, and does an equals on the value.

Next, the Serialization mapper--if Jackson--should be configured as such:

[code]

With this change, the `toString()` method is called, allowing `MYHOME` to serialize as `my-home

[2016-01-19 02:33] wing328 commented on #1110
The sample for springmvc is as follows:
[code]
which should be the correct representation of map response (with Integer as the `additionalProperties`)

[2016-01-19 02:33] #1110 closed

[2016-01-19 07:36] wing328 commented on #1901
@kungfoo can you try `mvn clean install -U` to see if the error goes away?

[2016-01-19 07:42] kungfoo commented on #1901
The error actually went away after cleaning every thing. So far so good.
2.1.6-snapshot also work in the way that the Response interface is no
longer generated.
On 19 Jan 2016 08:36, "wing328" <notifications@github.com> wrote:

[2016-01-19 07:46] wing328 commented on #1888
@hiveship is this what you're looking for? https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L270

Personally I don't think you need to change the behaviour. You're correct in saying that `tags` is not mandatory but codegen relies on it to classify operations into different files. Operations without tags will b

[2016-01-19 07:47] wing328 commented on #1901
OK. Glad to hear the problem is resolved.

Issue closed.

[2016-01-19 07:47] #1901 closed

[2016-01-19 09:11] hiveship commented on #1888
It's not exactly what I am seing with the code generator.
Consider this Swagger API Spec:

[code]

I'm expecting to get 3 API files:
- GlobalAp:
     - ping on /

- TenantApi
     - searchTenants on /tenants
     - getTenant on /tenants/{tenantUUID}
     - editTenant on /tenants/{tenantUUID}

- ServiceApi
     - searchServices on /tenants/{tenantUUID}/applications/{applicationUUID}/services
     -

[2016-01-19 09:16] BugRaptor commented on #1918
Actually I'm using the last available Nuget packages Swashbuckle and Swasbuckle.Core (5.2.2). As I understand they seem to include the Swagger-ui 2.1.3.

Note: I just clone the Swashbuckle git repository (https://github.com/domaindrivendev/Swashbuckle.git) and found that the latest available stable release is 5.2.2 which includes Swagger-ui 2.13. The latest not released version in this repository

[2016-01-19 09:28] wing328 commented on #1888
Is that using springmvc or jaxrs? Then I'll test with the spec you provided.

[2016-01-19 09:30] hiveship commented on #1888
@wing328 I'm using JAX-RS.

[2016-01-19 09:50] wing328 commented on #1918
OK. Please pull the latest as it contains some bug fixes for Windows .net (not mono on Mac/Linux).

[2016-01-19 12:33] BugRaptor commented on #1918
Done. I pulled the latest state from the github swagger-codegen repository and recompiled the swagger-codegen-cli.jar file and regenerated the c# client. The result is the same. (With the first Byte[] type mapping, the Byte[] LelFile property [DataMember] is always missing in the client side model class PackagePublishRequestInfoAndLel. And with the second type mapping (array of items of type byte)

[2016-01-19 12:36] wing328 commented on #1918
Ok. No problem.

[2016-01-19 12:36] #1918 closed

[2016-01-19 12:52] fehguy commented on #1917
I believe source folder and output folder have different intentions.  `outputFolder` should be the root for all output files.  sourceFolder should be where, inside the outputFolder, the generated files go.  Is that what you're saying doesn't work correctly?

[2016-01-19 13:43] hiveship commented on #1854
I will not be able to finish this new codegen support until this issue is not resolved :(
https://github.com/swagger-api/swagger-codegen/issues/1888

[2016-01-19 13:49] wing328 commented on #1919
@fehguy this is noted. We'll test other Java HTTP libraries.

[2016-01-19 13:50] hiveship commented on #1888
@wing328 The problem seems to be different:
Every operation under a same path seems to be generated in the same Api file. the Api file is correctly named using the tag, you are right.
The question is now: how to use the tag, for each operation (regardless of the path) to decide in which file to put the operation ?

[2016-01-19 14:39] karussell commented on #1353
@cbornet Is android-java deprecated? If so, I would point this out while calling the command with this option

My problem is now that user reports problems with the 'pure' java client and Gradle&Android: https://github.com/karussell/directions-api-vrp-java-client/issues/8

Now I thought I would use the android client instead but reading this thread here indicates I should keep using the java clien

[2016-01-19 14:50] cbornet commented on #1353
@karussell you shouldn't use the default android-java as it is based on the deprecated apache httpclient. Instead I would either use android-java with the brand new "volley" library option or use java with the "retrofit" or "retrofit2" option. The latest java generators should be compatible with Android (with a config field to set). If it is not the case for you, please open a detailed issue and I

[2016-01-19 15:02] karussell commented on #1353
Thanks! So your aim is to just have one java client in the future with different options for the used (http) libraries where some of them are (or should be) Android compatible?

What I would need is a client working on the Desktop and for Android. So 'volley' is not an option for me I guess?

And I guess retrofit is the current stable retrofit where retrofit2 is the not yet "stable released" retro

[2016-01-19 15:27] fehguy commented on #1888
Please take a look at the logic in [JaxRSServerCodegen](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JaxRSServerCodegen.java#L146) and the corresponding [api template](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/jersey1_18/api.mustache#L47).  That giv

[2016-01-19 15:45] cbornet commented on #1353
If you want one client lib for all, then maybe the [Feign](https://github.com/Netflix/feign) generator would be the best bet. On android, you can easily plug okhttp with it.

[2016-01-19 15:45] hiveship commented on #1888
@fehguy what I want to do, is to be able to decide

- Operation A -> you go in this file "1"
- Operation B -> you go in another file "2"
My decision must be regarding the "tag" and not the "path"
=> I don't know how to do that and I don't think they are doing something like that in the JaxRSServerCodegen (since my CXF codegen extends the JaxRSServerCodegen)

And I also want to choose the name of t

[2016-01-19 15:47] cbornet commented on #1353
And on server you can plug Ribbon, Jackson and Hystrix

[2016-01-19 19:00] CraigStuntz commented on #1810
Was about to report this myself! I ended up declaring my own `ApiModel` and `ApiModelProperty` types, since it was slightly less irksome than either using a hacked up version of codegen locally or taking an unnecessary dependency. Would be fine if this was configurable via a template, but making it automatic would be even better.

[2016-01-19 20:08] sutdisi opened #1924 "Generated Java Client does not support PATCH"
ApiClient throws exception for PATCH: ApiException: unknown method type PATCH

Because getAPIResponse does not know about PATCH.

[code]

[2016-01-19 20:20] webron commented on #1924
Looks like just one step before a PR!

[2016-01-20 01:58] wing328 commented on #1888
@hiveship I think the logic you're looking for is in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JaxRSServerCodegen.java#L118

I did a test with `spring-mvc` and rename one of the tags to "unknown" with the `addOperationToGroup` method commented out in `spring-mvc` generator (which means the default `addOperationToGr

[2016-01-20 02:15] xhh commented on #1353
@karussell FYI. the `okhttp-gson` template of Java client is verified to work in both JVM (desktop or server) and Android.
See the Petstore sample on how to specify the option for it:
https://github.com/swagger-api/swagger-codegen/blob/master/bin/java-petstore-okhttp-gson.sh#L29
https://github.com/swagger-api/swagger-codegen/blob/master/bin/java-petstore-okhttp-gson.json#L2

[2016-01-20 04:04] wing328 commented on #1890
Based on your feedback, I've submitted #1925 to update the C# README on the version of the dependencies.

[2016-01-20 06:24] dicko2 opened #1926 "TypeScript generation forces lower case first character"
To give some background, we use a C# WebAPI service, so we use Pascal casing in our objects. We have both C# cleints and TypeScript Clients that access the API.

When using the codegen to generate a TypeScript client for angularJS, the TypeScript code appears to be forcing the property names to camel case using the second variable in the camelize function on this line: https://github.com/swagger-a

[2016-01-20 06:56] wing328 commented on #1926
@dicko2 thanks for the feedback. I believe the issue you mentioned is similar to this one: https://github.com/swagger-api/swagger-codegen/issues/1341

I left a comment with a potential way to fix it. Would you have time to test that?

[2016-01-20 07:50] dicko2 commented on #1926
Thanks for the prompt response!

After looking at it some further we found this article:

http://fizzylogic.nl/2014/07/30/changing-the-casing-of-json-properties-in-asp-dot-net-web-api/

Then looked at our swagger codegen and autorest output for c# using camel casing in the Json objects from WebAPI.

Both apps in C# output like this for camel casing:

        /// <summary>
        /// Gets or Sets

[2016-01-20 08:07] carlosduclos commented on #1889
I have a couple of questions, where do I get the "library" parameter that I specify in the command line (I would assume that it ends up in the Configuration class)?
This method of solving the problem requires that I write a couple of small nugets that can be integrated by the user when developing the client app. Would that be ok?