[2018-01-03 17:28] vinay36999 commented on #7115
Compilation is failing for me too because of this issue.
Looking for any suggestion.

[2018-01-03 18:13] jcantu-usgs opened #7307 "How to properly initialize Connexion and SQLAlchemy in Flask generated __main__.py"
##### Description
So far I have had absolutely no success in getting SQLAlchemy to work properly with your Flask generated code.  Can someone tell me what the appropriate __main__.py initialization code would look like for using SQLAlchemy along with Connexion in your generated code?  I've also scoured the internet trying to find a project using your generated Flask code with SQLAlchemy and I have

[2018-01-03 19:16] rjv9645 commented on #7007
I am also experiencing this issue. To reproduce, define an endpoint with a single HTTP operation.

[2018-01-04 08:13] macjohnny commented on #7302
@inthegarage could you explain what you mean by

since the `encodeURIComponent()` function was wrapped around the variable, any string content should work as a parameter.
See also https://github.com/swagger-api/swagger-codegen/pull/6525 and https://github.com/swagger-api/swagger-codegen/pull/6295

[2018-01-04 08:34] shijinkui opened #7308 "add huawei cloud to companies list"
Add huawei cloud and cloud stream service to company list.
@wing328

[2018-01-04 08:47] aakanksha-sib opened #7310 "[RUBY] Json object defined with `additionalProperties` in swagger.yml gets validated against `array` datatype instead of `hash`"
##### Description

I have a JSON input object with one of its keys as another object but variable key-value pairs:
[code]
In generated ruby wrapper, this `key1` object is getting validated against `array` datatype instead of `hash` which is causing the request failure.
For example, following piece of code is not working:
[code]

##### Swagger-codegen version
2.2.3

##### Suggest a fix/enhancement

[2018-01-04 09:07] inthegarage commented on #7302
@macjohnny  The :.+ construct is needed so it doesn't think it is part of the path (client and server side) otherwise the match is not made. It isn't really anything to do with encoding the server, just won't understand and think you are trying to reach a path with slashes. Therefore you have to use the construct above and that produces server side code like the following:

`@RequestMapping(value

[2018-01-04 09:15] wing328 commented on #7310
Can you try the latest stable version 2.3.0 instead? If I remember correctly, the issue has been addressed.

[2018-01-04 09:33] etherealjoy commented on #6884
[code]
cpprest, the PortMap is blank, same issue.

[2018-01-04 09:36] zkdzegede commented on #6553
It seems like this version is not in brew...

[2018-01-04 09:44] etherealjoy commented on #7250
@wing328 I have a fix for this in my fork, but I will create PR after the pending ones are integrated.

[2018-01-04 09:44] etherealjoy commented on #7205
@wing328 I have a fix for this in my fork, but I will create PR after the pending ones are integrated.

[2018-01-04 09:45] etherealjoy commented on #7100
@wing328 I have a fix for this in my fork, but only two levels of nesting for containers.
I think I discovered that you have some proposals for multi level nested containers in the past right?

[2018-01-04 09:48] grokify opened #7311 "[Go] 2.3.0 `undefined: localVarFile` problem in multipart/form-data file"
##### Description

The auto-generated function parameter name for a file is set to the file's `parameter` `name` property while the code within the function expects `localVarFile`. This occurs in a `multipart/form-data` request with the type `file` parameter.

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

The following file property:

https://github.com/groki

[2018-01-04 10:48] aakanksha-sib commented on #7310
Hi @wing328 , I tried the same with `v2.3.0` but issue still persists.

[2018-01-04 10:57] zkdzegede commented on #6553
I just confirmed that this still happens in v2.3.0
@wing328

[2018-01-04 12:15] dflorey commented on #3405
All API's that are created with https://apiary.io also provide a different URL for refreshing the access token.
See this generated API as an example:
https://fpme.docs.apiary.io/#reference/oauth/oauthtoken

Right now we are adding "x-refreshUrl" into the vendor extenstions to configure the auth, but this is really ugly.

[2018-01-04 12:57] macjohnny commented on #7302
@inthegarage can you provide an example incl. the request url?
if you want to match e.g. `/my/api/with/some/parameter` you could define
`/my/api/{param1}/{param2}/{param3}`, where you could simply ignore `param1` and `param2`.

on the other hand
`/my/api/with%2Fsome%2Fparameter` will match the api endpoint
`/my/api/{param}`, and `{param}` will contain the value `with/some/parameter`

[2018-01-04 12:57] rafiqips5 opened #7312 "Sample code generation for C# with customized template.. no demo for it!!! (#1618)"
We need sample code generation for our own template and how to create the template for C#.

Bug or feature request?
bug

Which Swagger-Editor version?
2.2.3

How did you install Swagger-Editor? |
downloaded the jar file

Which browser & version?
all browser

5.Which operating system?
windows 10

followed the below steps for sample.

Demonstration API definition
Step 1 :

java -jar swagger-codegen-

[2018-01-04 13:26] JFCote commented on #7201
@HermenOtter Thanks for reporting the issue and opening a bug. I will check this today and report in
 issue #7262 to keep things organized.

[2018-01-04 13:28] JFCote commented on #7262
@HermenOtter @meisterlampe I'm the one responsible for this regression (I think). It was fixing other stuff and it is working like the other generators but there seems to be something missing. I can assure you that it was tested against our petstore samples and it was tested by a user who had problem with that.

Anyway, I will have a look at this today and try to come up with a fix as soon as poss

[2018-01-04 13:30] inthegarage commented on #7302
@macjohnny
Thanks for the reply. The issue is all to do with how Spring handles slashes and parameters. The issue is best described in this SO post:

https://stackoverflow.com/questions/31421061/how-to-handle-requests-that-includes-forward-slashes

To get around this we need to use ":.+" added to the end of the parameter. This is handled well in the yaml defintiion and the spring generator creates

[2018-01-04 15:54] JFCote commented on #7262
@HermenOtter  @meisterlampe
I have debugged this and I am relieved to see that my code is not responsible for this regression. This problem is created by this very weird loop:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java#L268

As you can see, underscores are deleted and the camelCas

[2018-01-04 16:26] JFCote commented on #7262
@HermenOtter @meisterlampe There you go. Can you try the PR and see if it fix your problem? Your feedback appreciated.

[2018-01-04 17:00] kunalgithub opened #7314 "Adding Custom Deserializer - Java,, Library RestEasy"
##### Description

Adding Custom Deserializer - Java,, Library RestEasy

##### Swagger-codegen version

2.30

##### Command line used for generation

 Java -  Library RestEasy

Is there any way to supply a Custom DeSerialiser for a Bean Object when generating using maven plugin.Is there any example of adding Custom Deserializer Dyamically at run time.

The auto generated classes from the swagger c

[2018-01-04 17:37] matteomazza91 opened #7315 "[jaxrs] WebApplicationException to handle error response codes"
##### Description

as already mentioned [here](https://github.com/swagger-api/swagger-codegen/issues/4509#issuecomment-302876968) by @Tillerino,

This way, the service implementation can exploit the marshalling for DTO classes.
For example, instead of:

[code]
we can generate:

[code]

Advantages:
* the return type is a plain java object. Actually it is already an autogenerated class by swagger co

[2018-01-04 18:52] JFCote commented on #6867
@sashank The PR is there. Please go ahead and try it. Let me know if it fixes your problem. This will accelerate the process of merging into the master. Thanks!

https://github.com/swagger-api/swagger-codegen/pull/7316

[2018-01-04 22:19] lukekingbru opened #7317 "use dot in field name generate invalid js code"
when I change the following part of the  yaml file to
BigxSrc:
    .........
      src_userName:
        type: string
        example: 'Marry'

BigxSrc:
    .........
      src.userName:
        type: string
        example: 'Marry'

swagger codegen generate some invalid javascript code.
As I want to make "src.userName" as a field name but not means next level.
as in java script code, it will be s

[2018-01-04 22:35] nikolaistraessle opened #7318 "no viable alternative at input"
##### Description

Hi,
i tried to generate a php-symfony server from a yaml-definition, but this error occurs also in other languages like php.

[code]

Here the full stack trace:
[code]

##### Swagger-codegen version

I used the swagger [branch 3.0.0](https://github.com/swagger-api/swagger-codegen/tree/3.0.0) (commit 8e169f7dcd565230258b5c6fb7d2924f482cdc72)

##### Swagger declaration file conten

[2018-01-04 22:53] HugoMario commented on #7318
hello @nikolaistraessle
on 3.0.0 branch we're using handlebars instead of mustache as template engine. That's a syntax error instead "^-last" it should go with "^@last". However, on this branch only "java and inflector" are getting support right now, as a start.

[2018-01-04 22:53] #7318 closed

[2018-01-05 02:33] fiveanddone commented on #6560
I noticed that [isRestfulIndex](https://github.com/swagger-api/swagger-codegen/blob/3c7505670ba35e2bc42411d8870d3b100de3d95e/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenOperation.java#L114) is using `"GET".equals(httpMethod)`.  Shouldn't it be `"GET". equalsIgnoreCase(httpMethod)` like the rest of them?

I'm able to render all of them except that one.

[2018-01-05 03:58] shijinkui opened #7321 "[akka-scala] License info add in template header"
##### Description

add `{{>licenseInfo}}` at each `akka-scala` template file

##### Swagger-codegen version

master branch: `<version>2.3.0</version>`

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-01-05 04:10] shijinkui commented on #7165
hi, @wing328
If I want use customized license header, `CodegenConfigurator.addAdditionalProperty("file_header", file_path)`,  Am I right?  Thanks

[2018-01-05 07:39] lukas41 opened #7324 "[angular5] typescript-angular5 support coming?"
##### Description

swagger-codegen currently only supports typescript-angular (alias angularjs) and typescript-angular2 (I assume angular 2 and 4).
Now there is angular5 available to use, but it is a bit different from angular 2 and 4. There are some changes in syntax and in some (core) modules.

In my case

##### Command line used for generation

`node ./node_modules/swagger-codegen-cli/bin/swagg

[2018-01-05 09:49] wing328 commented on #1170
Please open a new issue for tracking with more details (e.g. which server generator you tried or all server generators result in the same error)

[2018-01-05 09:56] wing328 commented on #7259
@jimschubert thanks for the suggestion.

What about dropping Java 7 support in 3.0.0 release?

[2018-01-05 10:09] wing328 commented on #3611
@nmrao lets continue the discussion in https://github.com/swagger-api/swagger-codegen/issues/6587, ok?

[2018-01-05 10:11] wing328 commented on #5240
@adholland have you tried reverting the change in https://github.com/swagger-api/swagger-codegen/pull/7045/files#diff-88dc34e41d8b27bfe76b7e0958a1675c and use the `-t` option?

[2018-01-05 11:16] adholland commented on #5240
@wing328 Yes I have reverted the changes in in https://github.com/swagger-api/swagger-codegen/pull/7045/files#diff-88dc34e41d8b27bfe76b7e0958a1675c and used the -t option. This now resolves the NullPointerExceptions, however it now introduces new compilation failures.

These failures are as a result of recent changes to the enumClass.mustache and enumOuterClass.mustache. These enum templates cause

[2018-01-05 12:26] #7308 closed

[2018-01-05 13:48] cburman01 commented on #3221
@marcorinck  Question about this:
I believe I have followed your instructions, but the generated services do not have the code that adds the Authorization header like you said. I am using the 2.3.0 branch.

Generating typescript-angular from an aspnetcore api.

Middle ware is configured as so:
[code]

Any ideas?   Sorry to rez an old thread.

[2018-01-05 14:20] defmonk0 commented on #7262
Hey everyone. To explain the idea behind this, it helps to see the [original issue](https://github.com/swagger-api/swagger-codegen/issues/6762) I opened that prompted these changes.

The general idea is this: Angular's standard style guide uses camel case for more or less everything. As such, codegen generates the files using this by default as well, and so function parameters are converted. Becau

[2018-01-05 14:30] JFCote commented on #7262
@defmonk0 Thanks for the clarification.

With that in mind, can you do a review of my proposed PR and see if it makes sense? Thanks!

[2018-01-05 18:51] peacepirate opened #7325 "Python client with codegen 2.3.0 does not include api_client attribute in configuration which breaks tests after generation"
##### Description
When generating python client with codegen 2.3.0, the Configuration class does not initialize an api_client attribute. This attribute is expected in the DefaultApi class initialization and hence fails the tests we are trying to run via CI automation.

This issue does not exist in 2.2.3 and has been tested and verified for the same OpenAPI spec.

##### Swagger-codegen version
2.3.

[2018-01-05 19:30] brendanclement opened #7326 "[DefaultCodegen] Adding namespace to model definitions"
##### Description

I have a specification where I have two shapes (models) with the same name but different properties:

If I was hand-coding the models, I'd solve this problem by placing them into separate namespaces:
https://gist.github.com/brendanclement/d31cb1ebea640a8d33bf8f4964fc1bae

If I try to organize models by namespace -- Swagger codegen currently (using Java as an example) strips '.'

[2018-01-05 20:51] Souvent22 opened #7327 "[PHP] - Do not treat \stdClass as a Model."
##### Description
When using a generic `type: "object"` in my swagger file for a property and then setting that property such as:
[code]

The generator throws an error saying "no function ::getFormatters" because it is attempting to run that static function on the generic PHP standard class, which does not exist.

##### Swagger-codegen version
Version 2.3

##### Swagger declaration file content or

[2018-01-05 20:53] Souvent22 commented on #7327
Note: There will prob need to be some defense against circular references.

[2018-01-05 22:20] jimschubert commented on #7259
Yeah, considering you can compile via Docker I wouldn't consider installed Java version a blocker for development. It would be nice to use Java 8/9 features in code.

[2018-01-06 11:56] david-rougier commented on #7252
@jimschubert What is the Maven URL of the version containing the fix ?

[2018-01-06 12:31] jimschubert commented on #7252
@david-rougier it's not released yet. You'd have to pull the branch and build it. Let me know if you're unable to do that, and I can build the jar locally and get it to you.

[2018-01-06 15:20] shijinkui opened #7328 "[Akka-scala] Clean unused dependencies"
Clean unused dependencies such swagger-core

[2018-01-06 18:16] colorcube opened #7330 "TypeScript code generation fails in 3.0.0 branch"
##### Description

Code genration fails with following Exception

Exception in thread "Thread-1" java.lang.RuntimeException: Could not generate model 'BrowseList'
        at io.swagger.codegen.DefaultGenerator.generateModels(DefaultGenerator.java:409)
        at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:721)
        at io.swagger.codegen.cmd.Generate.run(Generate.java:290)

[2018-01-06 18:20] david-rougier commented on #7252
@jimschubert I do not know how to build the jar.
Can you please do it and give me the jar ?

[2018-01-06 18:29] colorcube commented on #7330
To me it seems the yaml is not the problem. I tried with a stripped down file and the problem persists:

[code]

[2018-01-07 00:20] colorcube opened #7331 "TypeScript code generation for OpenApi 3 has no post parameter (requestBody) in 3.0.0 branch"
##### Description

the generated code has no post parameter

##### Swagger-codegen version

v 3

##### Swagger declaration file content or url

OpenApi 3 excerpt

[code]

generated code excerpt

[code]

Search for '// HERE is something missing'

##### Command line used for generation

java -jar swagger-codegen-cli-3.0.0-20180106.033640-15.jar generate -i api.yaml -l typescript-angular -o ./client

[2018-01-07 01:36] wing328 commented on #4479
No longer encountered the same issue after OS/JVM upgrade.

[2018-01-07 01:37] #4479 closed

[2018-01-07 01:37] wing328 commented on #7330
@canadaduane thanks for reporting the issue.

cc @HugoMario

[2018-01-07 01:39] wing328 commented on #7327
@Souvent22 thanks for reporting the issue. Looking forward to the PR.

[2018-01-07 01:50] wing328 commented on #7325
@peacepirate thanks for reporting the issue.

cc @taxpon @frol @mbohlool @cbornet @kenjones-cisco

[2018-01-07 01:52] wing328 commented on #7324
@lukas41 I'm not aware of anyone working on that. Would you have time to contribute the enhancement?

cc @TiFu  @taxpon  @sebastianhaas  @kenisteward  @Vrolijkx

[2018-01-07 01:56] kenisteward commented on #7324
What do you mean by "angular 5 support"?

On Sat, Jan 6, 2018, 8:52 PM William Cheng <notifications@github.com> wrote:

[2018-01-07 01:56] kenisteward commented on #7324
The codegen currently work with angular 5 just fine

On Sat, Jan 6, 2018, 8:55 PM Kenneth Steward <keni.steward@gmail.com> wrote:

[2018-01-07 01:59] kenisteward commented on #7324
Sorry was on my phone. You can simply pass the angular version you are using in additional properties.

Also I believe you aren't using latest because the language should be typescript-angular not angular2

[2018-01-07 02:08] HugoMario commented on #7330
@canadaduane , right now, we're only focus on `java` and `inflector` languages, from next week we're going to start updating templates for other languages.

[2018-01-07 02:44] jimschubert commented on #7252
Sure. I've built the jar from that PR, and included an MD5 sum to verify. It's available at this gist: https://gist.github.com/jimschubert/edd53ded5cd826e5a924fffb0b5c5aa9. Sorry I didn't know of a better way to build and share the jar. If you need a stronger checksum verification, let me know. I've only had this new machine for a few weeks, and the newer OS X apparently doesn't include sha1sum/sh

[2018-01-07 02:55] canadaduane commented on #7330
I think you mean @colorcube ?

[2018-01-07 03:00] wing328 commented on #7330
@canadaduane sorry I incorrectly tagged you. Please ignore.

[2018-01-07 03:51] #7117 closed

[2018-01-07 03:52] #7205 closed

[2018-01-07 05:32] etherealjoy commented on #7198
Can be closed after merging #7204

[2018-01-07 05:39] etherealjoy commented on #7198
Fixed with #7204

[2018-01-07 05:39] #7198 closed

[2018-01-07 11:11] cbornet commented on #7259
+1 for Java8 and probably leverage lambdas and Optional. Java 9 seems a bit early for me though...

[2018-01-07 14:50] #7270 closed

[2018-01-07 15:11] #7074 closed

[2018-01-07 15:39] #7230 closed

[2018-01-07 18:40] david-rougier commented on #7252
@jimschubert I thank you for building and sharing the jar.
I have generated the models with the jar and the `remove-operation-id-prefix` option.
The names of the models unfortunately start with the operationId.
I thank you for your help and your explanations anyway.

[2018-01-07 19:56] SergeyLyakhov commented on #6715
@wing328
This issue has already been fixed and merged into master in
SHA-1: 2d19776caf4c06cf98627b5a2a228af9a82346b7  * Merge branch 'mobreza-jersey-logging-deprecated'
However this change breaks jersey2 + java6, because jersey v.2.6 doesn't support LoggingFeature.
I prepared a fix for this case and will create PR if needed.

[2018-01-08 03:00] wing328 commented on #7100
One way is
[code]
but it's not pretty.

Aother way I can think of is to update the datatype directly in postProcessOperations, postProcessModels.

[2018-01-08 04:05] wing328 commented on #6771
First of all, sorry for late reply on this. I've been thinking about this use case for a while.

`--type-mapping` is usually used to mapped primitive type (e.g. double to BigDecimal) but of course one should be able to map "model" as well since "model" is also a type.

I think we need to update the class name to take into consideration the type mapping.

[2018-01-08 06:38] macjohnny commented on #7324
I can confirm @kenisteward s post: the generated code works fine with angular 5 by specifying `ngVersion: 4.3` when generating the code

[2018-01-08 06:48] macjohnny commented on #7261
@wing328 could you please have a look at this one again?

[2018-01-08 06:52] superrei commented on #6882
Same here. I have a huge schema file with lots of forwarded references. Code gen can handle the main specification file, but all definition in all forwarded reference files are missing.

[2018-01-08 07:15] cbornet commented on #7261
👍 for me. Either add getXXX or revert the change to isXXX

[2018-01-08 07:21] Faerylnahr commented on #6657
I'm sorry that I don't have better news but 2.3.0 is still not an option as I have to stick with MsVs2010 :(
As I stated in my Feedback JsonSubTypes crashed it.

[2018-01-08 09:24] meisterlampe commented on #7262
I just tested this using a Snapshot of 2.4.0 and it is working perfectly fine. Thanks for the fast reaction and solution!

[2018-01-08 10:02] wing328 commented on #7324
@lukas41 let us know if you still need help with the `typescript-angular` generator. Closing this issue for the time being..

[2018-01-08 10:02] #7324 closed

[2018-01-08 10:30] wing328 commented on #7262
@meisterlampe thanks for confirming it's no longer an issue with the latest SNAPSHOT version of master (2.3.1)

Thanks @JFCote again for the quick fix 👍

@HermenOtter please give it another try with the latest SNAPSHOT

[2018-01-08 10:30] #7262 closed

[2018-01-08 11:18] etherealjoy commented on #7100
I fixed this for Qt5 by inspecting the items but like you said it is not pretty.

[2018-01-08 13:01] kenisteward commented on #7324
You can specufy 5 as the library will add angular as a peer dependency

On Mon, Jan 8, 2018, 5:02 AM William Cheng <notifications@github.com> wrote:

[2018-01-08 13:32] meisterlampe opened #7342 "[typescript-angular] authorization header not send in 2.3.0"
##### Description

In my project I use the following config for basic auth:
[code]

The problem showed up after upgrading from swagger-codegen 2.2.3 to 2.3: Requests are send without the authorization header. Instead properties like `lazyupdate` are contained. If I check the generated http headers object in chromeDevTools I indeed see all these properties as part of the headers object and `lazyupd

[2018-01-08 13:33] ehyche commented on #6771
@wing328 : thanks for the reply. Not sure if it is already possible or not, but it would be nice to be able to read the type-mapping from a file as well as a command-line option.

[2018-01-08 13:58] joeboyscout04 commented on #7044
I added a PR with updates for this since I also was facing the same issue.  Hope it will be reviewed soon.  Thanks!

[2018-01-08 16:50] wing328 commented on #7261
@macjohnny sorry for the delay. I've filed https://github.com/swagger-api/swagger-codegen/pull/7344. Please take a look.

@cbornet my proposed solution allows users to customize the templates to use "is", "get", "has", etc for boolean property

[2018-01-08 18:53] kenisteward commented on #7342
Make sure you are properly injecting the Configuration object.

In this case you can simply provide a Configuration object that you can change whenever you get the user information.

https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular-v4.3/npm

Let me know if you need any more information.

[2018-01-08 18:56] kenisteward commented on #7342
Also where are lazyinit and lazy update coming from?  It's possible your proprietary code is not compatible with these things.

[2018-01-08 19:12] kenisteward commented on #7342
Also it looks like it's try to users headers as the headers values instead of the internal .headers which is why those values are sent like that.  I'm looking into this now.

[2018-01-08 19:17] kenisteward commented on #7342
@meisterlampe  Make sure if you are setting service.defaultHeaders that you are doing

[code]

and not

[code]

headers are immutable as of Angular 4.3.  You should also be using headers from @angular/common/http instead of the other module.

My other question is could you possible show me where you are setting the config values?

[2018-01-08 22:22] mricken commented on #7186
Yes, this works now. Thank you.

[2018-01-08 22:22] #7186 closed

[2018-01-08 23:10] swcgbop1 opened #7346 "Error generating model using array of enum with type format int32 or int64"
##### Description

When a definition contains an array of enums, and the items format value is int32, the generated java model is invalid.

##### Swagger-codegen version

version 2.x

##### Swagger declaration file content or url
[code]

##### Command line used for generation
java -jar swagger-codegen-cli-2.3.0.jar generate -i codegen-test.yaml -l java -o codegen-test

##### Steps to reproduce
Run

[2018-01-08 23:41] nmrao commented on #3611
Sorry for the delayed reply.

Yes, sure.

On Fri, Jan 5, 2018 at 3:39 PM, William Cheng <notifications@github.com>
wrote:

[2018-01-09 00:24] anuraguniyal commented on #7183
I am also facing similar problem and seems related to https://github.com/swagger-api/swagger-codegen/issues/4814 which has no traction.

Any updates when this will get fixed?

[2018-01-09 03:05] giansalex commented on #6098
I have the same error
[code]
i cannot generate nothing:

[2018-01-09 08:13] meisterlampe commented on #7342
Hi Keni,

thank you very much for your fast answers.

I'm using Ionic 3.19 and angular 5.0.0.
As said before, using the generator with ngVersion=2 is working fine (this uses the old http-Object and not the httpClient like ngVersion=4.3

I'm passing the configuration, when creating the Service. The configuration is never changing during runtime:
[code]

The first screenshot above is actually the ge

[2018-01-09 09:34] wing328 commented on #6553
cc @bbdouglas @JFCote @sreeshas @jfiala @lukoyanov @cbornet

[2018-01-09 09:39] wing328 commented on #6560
@fiveanddone ok. May I know if you have time to file a PR so that we can review the fix more easily?

[2018-01-09 09:41] wing328 commented on #7165
You don't need to.

I think your approach in https://github.com/swagger-api/swagger-codegen/pull/7322/files is correct.

[2018-01-09 09:44] wing328 commented on #5240
Have you tried reverting the change in the enum template to return the enum instead of a string?

[2018-01-09 10:37] wing328 commented on #6715
@wienczny Please kindly a file a PR to fix it. I'll see if I can setup CI for Java6.

[2018-01-09 10:37] #6715 closed

[2018-01-09 13:06] bjgill opened #7347 "[Rust, Rust-server] should we merge the two rust generators into one?"
#### Description

I'm currently seeing a lot of PRs for `rust` seeking to add features that `rust-server` already has. It's going to be rather tedious to keep maintaining two parallel Rust generators.

#### Suggest a fix/enhancement

It would surely be more efficient to either pick only one for future maintenance or merge the two?

[2018-01-09 13:09] bjgill commented on #7347
@frol @farcaller @wing328 - I don't know if you have any views on this? I don't know `rust` very well, so don't actually know if it has any features lacking from `rust-server` or vice-versa...

[2018-01-09 13:33] yasammez commented on #6598
Any updates on this?

[2018-01-09 13:41] HugoMario commented on #6598
yes, we're having a delay, but today or tomorrow we'll release the beta.

[2018-01-09 13:52] JFCote commented on #6813
I'm closing this since all of theses problems are in the swagger-parser project. I have created the related issue in this project and will keep track of them in the swagger-parser project from now on.

[2018-01-09 13:52] #6813 closed

[2018-01-09 16:30] #7272 closed

[2018-01-09 19:05] kenisteward commented on #7342
It turns out this is to do with the way we should be handling headers.  It used to be (with mutable headers) this would work perfectly fine.  Now with immutable headers we need to take more care to make sure we tell the headers to process into normal headers (by getting it to call the private init method)

We can fix this on our side but I may open a ticket with Angular.  I feel like the implement

[2018-01-09 19:11] kenisteward commented on #7342
Is it possible for you to setup a www.stackblitz.com with your example so I can further debug yours in particular?

[2018-01-09 20:03] kenisteward commented on #7342
@meisterlampe what version of Angular are you using?  Just wondering because you want the client lib to match the same lib as the one you are using.  e.g. for my apps I generate 5.1.x

[2018-01-09 20:15] kenisteward commented on #7342
I've found the issue!!

https://github.com/angular/angular/blob/4.3.0/packages/common/http/src/client.ts#L330-L337

this is the code at 4.3.0 which is probably the version of angular you have set to use right now

in the beta of 5 this becomes

https://github.com/angular/angular/blob/5.0.0-beta.7/packages/common/http/src/client.ts#L354-L360

which I've tested properly propagates the header informa

[2018-01-09 21:17] frol commented on #7347
I am not the right person to ask this. I have not done anything but reviews of PRs to the Rust generators (I mean, I won't be able to implement any of the two generators myself in Rust), so I cannot make any decision here. I agree that a single implementation would be easier to maintain, so if someone is willing to make that move, that would be great!

[2018-01-09 21:59] VarmaMandapati opened #7349 "Add Jar to release"
##### Suggest a fix/enhancement
Please add the Jar as part of the release, so that we don't have to do clone and build. We can just use the prebuilt jar.

[2018-01-09 22:41] tsujeeth commented on #2138
@cbornet Do you have an example of doing the same in `swagger-codegen-maven-plugin`?

[2018-01-09 22:46] wingsofovnia commented on #6553
I confirm this still happens in v2.3.0 too. It's a really big problem because typical DELETE or any other endpoints that return noting don't work.

We can realy on the following check in `io.swagger.codegen.languages.JavaClientCodegen`:
[code]
to set `Completable` instead of `Observable<Void>` as @jschoedt proposed.

[2018-01-10 00:14] fiveanddone commented on #6560
@wing328 Just created the request...

https://github.com/swagger-api/swagger-codegen/pull/7352

[2018-01-10 03:14] #7321 closed

[2018-01-10 03:21] wing328 commented on #7349
You can find the URL to the JAR in the doc (README):

https://github.com/swagger-api/swagger-codegen#prerequisites

[2018-01-10 03:21] #7349 closed

[2018-01-10 04:14] wing328 commented on #7259
Done via https://github.com/swagger-api/swagger-codegen/commit/0c9eb34e6fd64f50d03d40e3359a7a2efd07678c by @HugoMario

[2018-01-10 07:59] AlexanderGoerlich opened #7354 "load two swagger generated APIs in angular 5 / Typscript project"
##### Description

We have exported with Swagger 2 APIS:

1. typescript-angular-client-generated.zip (UsersService)
2. typescript-angular-client-generated.zip (DataService)

API-1: http://example-myapi.de:8081/v2 UsersService
API-2: http://example-myapi.de:8082/v2 DataService

We try to import that...but we can't load 2 api ...UsersService and DataService.

`
 constructor(
    private usersservice

[2018-01-10 08:39] wing328 commented on #6813
@tony-gutierrez have you tried adding "./" instead?

e.g `$ref: './definitions.yaml#/definitions/errorModel'`

[2018-01-10 08:40] #5663 closed

[2018-01-10 08:42] wing328 commented on #5492
@ChandrakantRathod please let us know if it's still an issue

[2018-01-10 08:42] #5492 closed

[2018-01-10 08:43] #7278 closed

[2018-01-10 08:51] meisterlampe commented on #7342
Wow thank you for your hints. This actually got me to the root of the problem.
First of all I made sure, I'm really using angular 5.0.0, but that was not the only issue.
Thanks to your last post, I started debugging all the way down to the point, where the header is built.
There I noticed, that this was completely different code... wait... is this @angular/http? :)

I forgot to remove the old http

[2018-01-10 08:51] #7342 closed

[2018-01-10 10:44] loictro opened #7355 "[JAVA] Bug generating equals method for a child class with no additional field"
##### Description
The generated equals method for a class that has no additional field and that inherits from another does not call the equals method of the parent class.
Such a class can be weird but it is used for semantic purpose.

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content

[code]

The generated equals method of the Movie class is
[code]
##### Command line used

[2018-01-10 12:09] ensirius commented on #5276
I can confirm that after updating swagger to 2.3.0 this exception was fixed for me. I had the following scheme:

[code]

[2018-01-10 12:51] maheshmahadevan commented on #5492
Hi, I am facing similar problems with multi yaml projects having directories , also my definition yaml files refer definitions from other yaml files.  I am using swagger version 2.1.6

[2018-01-10 12:54] kenisteward commented on #7342
:) no problem!!!!

On Wed, Jan 10, 2018, 3:51 AM meisterlampe <notifications@github.com> wrote:

[2018-01-10 13:35] devcsrj commented on #3024
Hi! This seems pretty straightforward. Let me fix the others!

[2018-01-10 14:30] wing328 commented on #5492
Can you please try the latest version 2.3.0 locally?

[2018-01-10 14:40] wing328 commented on #7325
Can you please file a PR so that we can review the fix more easily?
The Python mustache templates can be found in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/python

[2018-01-10 14:45] kenjones-cisco commented on #7325
@peacepirate
Can you provide the information within `config/python.json` so we can see the exact type of python client is being generated?

[2018-01-10 15:36] yevhen-kalyna opened #7357 "[Python] ModuleNotFoundError: No module named 'swagger_client.models.inline_response2006_billing'"
##### Description

I want to use unity-cloud-build_api for my scripts on Python, for this I generate the api client by Swagger CodeGen on laptop with macOS, using homebrew with [this](https://build-api.cloud.unity3d.com/docs/1.0.0/index.html) json. Than I send the swagger-client to my PC on Windows10, unpuck it and after $  python -m swagger_client , get the error"ModuleNotFoundError"

##### Swagg

[2018-01-10 17:03] antonkholodok commented on #7220
_import-mappings_ option just tells to code generator not to generate classes mentioned in mapping, but use mapped types in the code imports:

            specifies mappings between a given class and the import that should
            be used for that class in the format of type=import,type=import

_$ref_ expects valid JSON reference, either local or external. During the code generation step it ha

[2018-01-10 17:04] maheshmahadevan commented on #5492
Yes ,that could be an option and i believe that will solve it , but the issue is we do have customized the code gen for our specific needs on top of 2.1.6 version . I had tried previously to change the version to 2.3.0 but it caused some breaks since there were quite a few custom templates not specific to newer version of codegen. I am looking for a way to fix this within this same version . Any t

[2018-01-10 18:31] Jericho opened #7358 "[C#] Error CS0506 'Account.ToJson()': cannot override inherited member 'BaseAccount.ToJson()' because it is not marked virtual, abstract, or override"
I used SwaggerHub to define my API and used their built-in feature to generate a C# client. My understanding is that Swaggerhub uses the templates defined in this github repo, that's why I'm opening an issue here but let me know if I'm mistaken.

The issue I'm facing is when the generated code results in a model class deriving from a base model class (in my case, they are called `BaseAccount` and

[2018-01-10 18:59] cbornet commented on #6553
The problem is that with Completable you lose response headers (typically the location header in a 201 created op)

[2018-01-11 05:25] ccozzolino opened #7359 "[JAVA][library: vertx] Generated async and rx sample server code fails 'mvn test'"
##### Description

Originally reported by @wing328 in #7230

```mvn test``` fails for the server samples generated by
```java-vertx-async-petstore-server.sh```
```java-vertx-rx-petstore-server.sh```

Original template attempts to instantiate a non-generated class leading to a compile error.

To fix, we can use reflection to push instantiation of the required class to runtime.

##### Swagger-codege

[2018-01-11 06:23] macjohnny commented on #7354
@AlexanderGoerlich
The error states that some providers of services are missing, which is the case when you don't import the `ApiModule`.
Since you are generating two separate APIs and therefore need to import both `ApiModule` modules that are generated. To do so in one single `app.module.ts`, you can create an alias of the imported name to avoid naming conflicts:
[code]
See https://github.com/swa

[2018-01-11 06:36] AlexanderGoerlich commented on #7354
@macjohnny **thy a lot** 👍

does it make sense to add here a short docu?

https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular-v4.3/npm

Should I write a short comment on that file an make a PR?

[2018-01-11 07:55] macjohnny commented on #7354
@AlexanderGoerlich I am preparing a PR to improve the docs

[2018-01-11 08:35] zkdzegede commented on #6553
Even if temporary it seems better than the current situation which is an Error since RxJava Observables cannot contain Void.

I think Flowables can so would it be reasonable to change it to Flowable<Void> ?
I may be mistaken of course.

[2018-01-11 09:27] easysun opened #7361 "[Python] AttributeError: module 'typing' has no attribute 'Type' in python 3.5.1"
##### Description
In python 3.5.1, type `python -m swagger_server` will get the following error:
**File "/swagger-codegen/samples/server/petstore/flaskConnexion/swagger_server/models/base_model_.py", line 21, in Model
    def from_dict(cls: typing.Type[T], dikt) -> T:
AttributeError: module 'typing' has no attribute 'Type'**

##### Swagger-codegen version

2.3.0

##### Suggest a fix/enhancement

1

[2018-01-11 09:33] SunMar opened #7362 "[PHP, possibly others too] securityDefinitions not working with $ref to other file"
##### Description

If you generate PHP code (perhaps this also affects other languages, I haven't been able to check), when you add a `securityDefinitions` that has a `$ref` pointer to a different file the security headers are ignored.

##### Swagger-codegen version

Using `2.3.0` and the latest snapshot `swagger-codegen-cli-2.3.1-20180111.084841-12.jar`.

##### Swagger declaration file content or

[2018-01-11 09:55] k9m commented on #3052
It also think it would be great to have the possibility to add custom annotations (not just Lombok) on field and class level. Since we consistently use Lombok in our projects this is a limitation...

[2018-01-11 10:12] #7359 closed

[2018-01-11 12:00] sharmasourabh commented on #7220
Thanks Anton.
Yes, I meant use of import mappings and type mappings together. User defined models are not in YAML, instead java classes.

[2018-01-11 12:01] cloady commented on #7183
Could someone take a look at this and put some answer :-)

[2018-01-11 12:29] maheshmahadevan commented on #3614
Has this been fixed , i am still facing the problem with v2.3.0

[2018-01-11 12:39] macjohnny opened #7365 "[Feature][Angular]: Represent enum request parameters as enum literal unions"
##### Description

It would be nice to have the generated client code contain enums for request parameters that are enum values:

so instead of
[code]
you would have
[code]
which would give a hint to the api user which values are allowed and furthermore allows the compiler to check whether you are calling the api with an invalid parameter.

##### Swagger-codegen version

2.3.0

##### Swagger decla

[2018-01-11 14:23] joernahrens opened #7367 "[Dart/Flutter] Dart files generated not working on flutter platform"
##### Description

The code generated by the [DartClientCodegen](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/DartClientCodegen.java) is not working in flutter projects since it relies on dartson which relies on [dart-mirrors](https://api.dartlang.org/stable/1.24.3/dart-mirrors/dart-mirrors-library.html). dart-mirrors

[2018-01-11 14:51] macjohnny opened #7369 "[Bug][TypeScript]: single quote in enums not escaped"
##### Description

When defining a model property as an enum, single quotes are not escaped.

Example input:
[code]
Example output:
[code]
##### Swagger-codegen version

2.3.0

##### Suggest a fix/enhancement

Fixing the escaping in https://github.com/swagger-api/swagger-codegen/blob/v2.3.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractTypeScriptClientCodegen.java#L342

[2018-01-11 14:55] macjohnny commented on #7369
The `escapeQuotationMark()` method in https://github.com/swagger-api/swagger-codegen/blob/v2.3.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractTypeScriptClientCodegen.java#L427
is broken too, as it removes single quotes rather than escaping them.
But as stated in the original method https://github.com/swagger-api/swagger-codegen/blob/v2.3.0/modules/swagger-codegen/src/

[2018-01-11 14:57] macjohnny commented on #7369
cc @wing328

[2018-01-11 14:57] macjohnny commented on #7369
this issue also affects the typescript angular generator

[2018-01-11 14:58] bricka opened #7370 "[typescript-angular] No attribute map for reserved words"
##### Description

If your Swagger model has a reserved word, the `typescript-angular` generator will prefix it with an underscore. However, it appears that the client will not map the escaped version to the over-the-wire version when a service call is made.

In our specific example, we have a field in the JSON called `class`. The generated class has a property called `_class`, which is always und

[2018-01-11 16:29] gmarz opened #7371 "[Scala] Invalid generated type for type=string, format=byte"
##### Description

The below spec (which is valid) results `Option[ArrayByte]` in the generated Scala client, which is an invalid type. It should be `Option[String]` instead.

##### Swagger-codegen version

master (2.3.1-SNAPSHOT)

##### Swagger declaration file content or url
[code]

##### Related issues/PRs

#7286

[2018-01-11 19:25] tsujeeth commented on #2138
FWIW, the example below helps in setting date-time's type to java.time.Instant instead of OffsetDateTime.

[code]

[2018-01-11 20:32] carlism opened #7372 "[Java/retrofit2] @Deprecation was missed in the retrofit2 interface when it was added to Java"
##### Description

I'd like @Deprecation annotations to make it thru to my retrofit2 client interfaces

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

java -jar bin/swagger-codegen-cli.jar generate -i api-docs.json -l java -o tmp -c config.json

[code]

[2018-01-11 21:46] tbourvon opened #7374 "[Rust] Running ./bin/rust-petstore.sh gives an error on 3.0.0"
##### Description

Running `./bin/rust-petstore.sh` on 3.0.0 fails with:
[code]

##### Swagger-codegen version

3.0.0

##### Steps to reproduce

Run `./bin/rust-petstore.sh` on 3.0.0

##### Suggest a fix/enhancement

The command line arguments to `swagger-codegen` have probably changed with 3.0.0, and they need to be updated in the petstore script to work correctly.

[2018-01-11 22:06] sneumann commented on #6697
Hi, I am interested to use / test the R generator, but am lacking any pointers how to use it.
What would be the right place to get / put examples and concepts ?

[2018-01-11 22:13] jimschubert commented on #7371
This should get generated `Option[Array[Byte]]`, and instances would need to be modified to call `.getBytes` on the string.

I'm on mobile right now, but I believe a workaround for going back to strings is to pass the command line option:

[code]

I'm guessing the template has `{{{dataType}}}` rather than `{{dataType}}` here. If mustache is removing brackets, we may need to create a filter to prev

[2018-01-11 22:24] sneumann commented on #6520
Hi, just starting to look into the R code. A quick stopgap fix
for the above mentioned issue with the `NAMESPACE` (see https://github.com/swagger-api/swagger-codegen/issues/6520#issuecomment-332220726 )
would be a file NAMESPACE with the fixed content
[code]
before the proper fix would be to enumerate all actual R6 classes and functions generated
by the `RClientCodegen.java`. I don't yet know how

[2018-01-11 23:16] sneumann commented on #6520
[Would you prefer individual small issues, then I can split this off.
 That would also allow to reference/close an issue with a commit.]

Using a fresh checkout (acf70d04815c422799ece5c6fb1dfbaf5a4f7144)
and the code generated by `bin/r-petstore.sh` I fail to generate an object from JSON:
[code]
resulting in the above mentioned `Error in p$fromJSONString(s) : object 'CategoryObject' not found`.

F

[2018-01-11 23:37] mricken opened #7376 "[Java] petstore.yaml does not generate valid Java code in 3.0.0 branch"
##### Description

The generated Java code does not compile.

##### Swagger-codegen version

3.0.0
commit c20b61b0e8667af696af848dadac9ebf98d832d6

##### Swagger declaration file content or url

The input is the petstore.yaml example from https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore.yaml

##### Command line used for generation

[code]

##### Steps to re

[2018-01-12 00:20] mricken opened #7377 "[Java] Array of enum does not generate correctly in 3.0.0"
##### Description

A model with an array of enum values does not generate Java code that compiles.

##### Swagger-codegen version

3.0.0
commit c20b61b

##### Swagger declaration file content or url

I used an extended version of the petstore example. The part that breaks is the `nicknames` property of `Pet`.

[code]

##### Command line used for generation

[code]

##### Steps to reproduce

Run th

[2018-01-12 03:06] gmarz commented on #7371
This may be the case...I tried:

[code]

and this generated `OptionString`, so indeed looks like mustache is dropping brackets.

[2018-01-12 03:22] wing328 commented on #6520
should be {{datatype}}Object <- {{datatype}}$new()

@sneumann Do you mind filing a PR with the suggested fix?

[2018-01-12 05:31] jimschubert commented on #7371
@gmarz I didn't see your last comment, and I opened #7378 with a fix. I just realized that I didn't say I'd take this up tonight, so I hope I didn't step on your toes with a fix.

[2018-01-12 09:00] shijinkui opened #7380 "[doc] akka-scala and Java README normalize"
akka-scala readme have some arbitrary place. Make Java and Akka-scala readme in the same style.

pull request: #7382

[2018-01-12 09:01] NatalieBorovykh opened #7381 "Spring codegen handles incorrectly definition named "Resource""
##### Description
Codegen doesn't generate "Resource" model class. It uses org.springframework.core.io.Resource instead.

##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url
[code]

##### Steps to reproduce
1. Save the definition to a file (e.g. C:\swagger.yaml).
2. Generate spring code using codegen v.2.3.0
Sample command line:
java -jar swagger-codegen-cli.jar gene

[2018-01-12 10:06] NatalieBorovykh opened #7384 "Typescript: local lowercase variable appears in uppercase in the return statement"
##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url
[code]

##### Steps to reproduce
1. Generate typescript-angular code for the definition above.
Sample command line:
java -jar swagger-codegen-cli.jar generate -l typescript-angular -i C:\swagger.yaml -o C:\typescript
2. Example the default.service.ts file - in the return statement the "Id" is written instead of "id"

[2018-01-12 13:14] #6393 closed

[2018-01-12 13:14] #7371 closed

[2018-01-12 13:52] alessiofachechi opened #7386 "[JAXRS-SPEC] Lowercase enums sent as uppercase"
##### Description

When sending enums with lowercase 'value' attributes the uppercase enum name seems to be sent instead.

##### Swagger-codegen version

2.3.0

##### Related issues/PRs

#4045

[2018-01-12 14:24] gmarz commented on #7371
@jimschubert not at all, thanks for the quick fix!

[2018-01-12 15:55] deviant-studio commented on #6147
are there any news on ktor support?

[2018-01-12 15:56] ysyzygy opened #7388 "[API JAVA] Define elements in json in uppercase"
##### Description

We have the following definition:

@XmlRootElement(name ="Beanbody")
@XmlAccessorType(XmlAccessType.FIELD)
public class Beanbody {

	@XmlElement(name = "Mensaje")
	private String mensaje;

We need a json definition with "mensaje" atribute in Uppercase: "Mensaje" in the example section.
How could I get it?
 @JsonProperty doesn't work.

The request is needed with uppercase, but no

[2018-01-12 16:47] jimschubert commented on #7371
No problem. it'll probably be about a week before I have a chance to evaluate against our client generation. let me know if you try the snapshot and still have issues.

[2018-01-12 16:55] keithchong opened #7389 "Generate service with -l jaxrs-spec fails with NPE"
##### Description

I downloaded one of the latest 3.0 snapshot builds and tried to generate with -l jaxrs-spec, but I got an NPE

Exception in thread "Thread-1" java.lang.NullPointerException
	at io.swagger.codegen.languages.AbstractJavaJAXRSServerCodegen.preprocessOpenAPI(AbstractJavaJAXRSServerCodegen.java:107)
	at io.swagger.codegen.languages.JavaJAXRSSpecServerCodegen.preprocessOpenAPI(JavaJAX

[2018-01-12 18:22] drennalls opened #7391 "[Go] optional boolean properties set to false are omitted when encoded"
##### Description

If an object defines an optional boolean property it does not end up in the JSON if the value is `false`

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url
[code]

##### Command line used for generation

java -jar target/swagger-codegen-cli.jar generate -i ./mypetstore.yaml  -l go -o ./mypetstore-client-go

##### Steps to reproduce

Include an o

[2018-01-12 20:21] AaronHarris commented on #6442
Still broken as of 1/12/2018

[2018-01-13 02:53] jimschubert commented on #7218
@karussell Have you built your client against Swagger Codegen before?

I have a fix for the configuration issues, which should unblock most of the errors you're receiving.

It looks like your model:

[code]

As an array of an array of doubles isn't currently supported, so I'd have to look into this since it appears that it may be supported elsewhere.

There's another issue #7358 for the last error

[2018-01-13 03:07] jimschubert commented on #7218
I opened #7394 to address the issue with the `Configuration` ambiguity. Built locally and generated with:

[code]
Should result in two remaining compilation issues of #7358 (toJson) and missing support for nested arrays.

[2018-01-13 07:19] #7261 closed

[2018-01-13 08:10] #6680 closed

[2018-01-13 08:34] wing328 opened #7396 "v2.3.1 release"
##### Description

I've prepared the v2.3.1 release to address a couple of issues based on feedback from the community: https://github.com/swagger-api/swagger-codegen/pulls?utf8=%E2%9C%93&q=is%3Apr+milestone%3Av2.3.1+is%3Amerged

Thanks the community for all the quick fixes and enhancements.

cc @webon @fehguy

##### Swagger-codegen version

v2.3.1

[2018-01-13 10:31] karussell commented on #7218
Thanks, will try your suggestions!

Other clients, yes.

[2018-01-13 12:28] wingsofovnia commented on #6553
It's the problem of all current RxJava2 endpoints, isn't it? For example, having `Observable<Order>` you can't fetch any HTTP related metadata. I think here we should fix ASAP and that think about it.

[2018-01-13 13:54] magnolia-k opened #7398 "[Scalatra] Inappropriate header message"
##### Description

Although it says "Do not edit the class manually." in the header of the api class,
this class obviously needs to be modified and this description is inappropriate.

For example, the following file

https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/scalatra/src/main/scala/com/wordnik/client/api/PetApi.scala

##### Swagger-codegen version

2.4.0

#

[2018-01-13 14:10] wingsofovnia commented on #6553
@zkdzegede meanwhile the #7397 is under review, you can use fixed version with jitpack: https://jitpack.io/#wingsofovnia/swagger-codegen/642c0566de

[2018-01-13 15:30] cbornet commented on #6553
Indeed, the correct return type should be `Single<Response<Void>>`

[2018-01-13 15:37] cbornet commented on #6553
With `Single<Response<Void>>` you have response headers, so that's better

[2018-01-13 21:12] jimschubert commented on #7358
Thanks for reporting this.

I've looked into this, and I'll have a pretty simple fix but I wanted to explain the fix here in case others have a similar issue.

Open API 2.0 specification defines functionality for both composition and polymorphism. Your specification is defined in the composition form, and the C# templates at some point were limited on this generated method to only support polymorp

[2018-01-13 21:34] jimschubert commented on #7218
@karussell are there any other statically typed languages you're generating that support the `array[array[double]]`? I'd like to reuse existing code, if possible.

Also, I've opened #7399 to address the compilation issue of `ToJson`'s virtual modifier.

[2018-01-13 22:43] karussell commented on #7218
Thanks!

Yes, Java. And it compiles :)

[2018-01-14 01:37] jimschubert commented on #7218
Ah. Looks like the Java client specifically relies on type erasure:

[code]

I'll look into applying the generics for nested schemas of array types for C#, although any fix may only be partially functional for API input types as it would most likely complicate initializations.

[2018-01-14 04:05] jimschubert commented on #7218
@karussell I've opened #7400 to address the compilation issues you've experienced with the C# generator. That PR includes the fixes from the other two, to make it easier for you to evaluate.

[2018-01-14 09:21] wing328 commented on #6520
Thanks @sneumann for the fix, which has been merged into 2.4.0.

[2018-01-14 09:27] wing328 commented on #6520
For the NAMESPACE file, isn't that generated by roxygen2: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/R/NAMESPACE?

We can definitely update the R client generator to auto-generate it but just want to make sure first.

[2018-01-14 09:56] etherealjoy commented on #7250
Solved with #7340

[2018-01-14 09:56] #7250 closed

[2018-01-14 13:06] luisfpg commented on #7231
@wajidreply I see you are reporting this in the official swagger-codegen project, but you state to be using [ng-swagger-gen](https://github.com/cyclosproject/ng-swagger-gen) to generate the code.
It is a separated, of which I'm the maintainer, by the way.
So, please, report ng-swagger-gen issues in its own gihub project.

[2018-01-14 13:17] wing328 commented on #6697
@sneumann thanks for offering help. The auto-generated R petstore sample would be a good starting point.

[2018-01-14 15:51] wing328 commented on #6147
@deviant-studio I think @kamyar1979 is probably too busy with other tasks. Do you have time to contribute the generator? A good starting point is https://github.com/swagger-api/swagger-codegen/issues/6147#issuecomment-317237440

[2018-01-14 16:01] jimschubert commented on #6147
I'll try to take a stab at this over the next few weeks.

[2018-01-14 16:05] wing328 commented on #5492
2.1.6 is likely using a very old version of Swagger Parser. You may want to update it to the latest version but likely you need to make some manual modification.

You may also consider using 2.3.0 version but using 2.1.6 templates with the `-t` option.

[2018-01-14 16:39] wing328 commented on #7398
Agreed with you. That line is probably copied from another mustache file (e.g.  Scala client) and should be removed.

[2018-01-14 20:30] sneumann commented on #6520
Hi, for the petstore, there are two generated R codebases:
`swagger-codegen/samples/client/petstore/R/`  which contains a roxygenerated NAMESPACE,
and `/swagger-codegen/samples/client/petstore/r_test/` last modified by you. So I guess
what's missing is the call to run roxygen in r-petstore to generate the NAMESPACE before committing.
I am unsure where/how swagger would call `roxygen2::roxygenise()

[2018-01-15 01:18] luisfpg commented on #7231
By the way, I think the problem is, as it is stated on [ng-swagger-gen requirements](https://github.com/cyclosproject/ng-swagger-gen#requirements), rxjs 5.5 or newer is needed.

[2018-01-15 02:24] shijinkui opened #7403 "[Git] git rebase at master branch"
type in git bash: `git log --graph`

Get so many merge lines. Please PMC consider rebase the master. It'll be harder to rebase along with commits growing.

![2018-01-15 10 14 57](https://user-images.githubusercontent.com/648508/34924393-027939ca-f9de-11e7-87c0-32c70ba0a255.png)

[2018-01-15 03:14] shijinkui opened #7404 "[akka-scala] Need api-test.mustache and get start in readme"
##### Description

There no any API Test in akka-test, and also no getting start in README.md

Need some guys fix this. Thanks

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Suggest a fix/enhancement

[2018-01-15 06:20] karussell commented on #7218
Cool, thanks!

[2018-01-15 06:31] karussell commented on #7218
I can confirm that I can compile the project - thanks a bunch @jimschubert ! Also the test seem to run through:

[code]

[2018-01-15 07:18] kenrestivo commented on #5276
It works! Thanks!

[2018-01-15 07:18] #5276 closed

[2018-01-15 10:26] adholland commented on #5240
@wing328 Yeah I had tried reverting the enum template to return an enum rather than a String and that was successful.

The issue is that when moving from one release to another we shouldn't have to add these workarounds. Moving from 2.2.2 to a more recent version should generate the same results. For instance the change to set empty Lists/Map to be null should have been an option. The change to re

[2018-01-15 13:44] kewinbrand opened #7407 "[typescript-angular] Primitive typed parameters"
Hi,

I have some API's that contain primitive parameters in the request body of POST requests.
The problem is that primtive parameters are forced to be JSON encoded, generating random
interfaces like:

export interface Body2 {
    usuario: OctopusEntitiesColetorTUsuario;
    iRecnoSolicitacao: number;
}

This also happens to responses classes.

Thank you.

##### Swagger-codegen version
2.4.0

####

[2018-01-15 14:53] wing328 commented on #7403
@shijinkui thanks for the feedback but I think it would be hard for every PRs to be rebased on the latest master before merging as there're always PRs merging into master almost every single day.

(personally I don't mind people always rebase their PR on the latest master)

[2018-01-15 17:20] gierschv commented on #3703
+1 on this issue for the Ruby Client:

A pattern `^[A-Za-z0-9\-_.]+$` will be transformed to:

[code]

[2018-01-15 17:38] ccozzolino opened #7409 "[JAVA][library: vertx] Enforce default and required parameters flags in vertx server templates."
##### Description

The 'default' and 'required' parameter flags are not honored in the current vertx server templates. Parameters flagged with 'required' are not enforced and no default value is assigned when 'default' is provided for an optional parameter.
##### Swagger-codegen version

All versions with vertx async & rx support

##### Swagger declaration file content or url

##### Command line u

[2018-01-15 20:32] thomasjm opened #7411 "[HASKELL] haskell-http-client generator doesn't understand `allOf` schemas"
##### Description

I'm trying to generate `haskell-http-client` code to use with [Docker's API](https://docs.docker.com/engine/api/v1.25). However, the codegen seems to be not understanding what to do when an `allOf` is found in a schema. For example, Docker's v1.25 API contains this snippet:

[code]

However, in the generated code for this API endpoint, the "body" type is simply missing:

[code]

[2018-01-15 22:01] jimschubert commented on #6147
See #7412. It's a very barebones implementation of the server generator.

[2018-01-15 22:24] InteXX commented on #6831
@wing328 — I'd like to consider contributing the generator. As time allows, of course.

[2018-01-16 06:32] shijinkui opened #7414 "[Java] add API helper function to Java and Add licenseInfo to all Java lib template"
1. delete blank line between license and package line
2. add {{>licenseInfo}} to all class file
3. add function setApiEndpoint(String apiEndpoint) in `java/api.mustache`. That will be convenient to set stage/test/prod endpoint URL.

[2018-01-16 07:48] jonschoning commented on #7411
I will review - thanks

[2018-01-16 09:07] wing328 commented on #6759
Do you mind filing a PR so that we can review the fix more easily?

[2018-01-16 09:17] wing328 commented on #7391
@drennalls Can you please try the latest stable version (2.3.0), which has the Go API client refactored?

[2018-01-16 10:58] shijinkui opened #7417 "[java/scala] ClassCastException: RefParameter cannot be cast to BodyParameter"
##### Description

[code]

![image](https://user-images.githubusercontent.com/648508/34985334-adb0d1ac-faee-11e7-975d-02ebab37eb06.png)

##### Swagger-codegen version

`2.3.1-SNAPSHOT`

##### Swagger declaration file content or url

Like [open API 2.0 demo](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-separate/spec/parameters.json),  my open API defination b

[2018-01-16 13:42] k2r79 opened #7421 "[JAVA] JAXRS-Resteasy-EAP language missing allowableValues.mustache"
##### Description

[code]

##### Swagger-codegen version

I'm using Swagger Codegen Maven plugin v2.3.0.

##### Swagger declaration file content or url

[code]
##### Command line used for generation

`mvn clean package`

##### Steps to reproduce

Just need to run the source generation phase.

##### Related issues/PRs

Couldn't find any...

##### Suggest a fix/enhancement

Maybe add [allowableValue

[2018-01-16 14:45] frickelbruder opened #7422 "[PHP][Symfony] Passthru of any HTTPException"
Hi there,

I want to return some specific HTTP status codes.

For example in case of a failed remote API request by my application, I want to return a custom HTTP status code (e.g. 410 or whatever). Currently there seem to be only a limited number of mapped Exceptions, which map to the named Symfony exception.

It would be great, if you could return exceptions of type HttpException directly withou

[2018-01-16 15:04] michalpirgl commented on #3221
Hi @cburman01

I have solved same task with AuthorizationHeaderOperationFilter

[code]
and in method ConfigureServices

[code]

Hope it helps.

[2018-01-16 15:13] samvdb commented on #6598
@HugoMario any news?

[2018-01-16 16:38] moulton01 opened #7424 "[C# Swagger generated rest client] Problem authorizing requests via the generated client."
Hey,

Sorry in advance, not sure this is the right place to post this kind of problem.

I'm working on a MVC web project where someone else had wrote all the api controllers and done most of the setup. I was asked to try get these controllers to work with the auto generated rest client provider by swagger.

So I have a number of API controllers in a main project. I used (websiteUrl)/Swagger/docs/v

[2018-01-16 17:04] wajidreply commented on #7231
@luisfpg - Thank you for taking time and looking into this issue. I have updated to rxjs 5.5 version and issue got resolved. :)

[2018-01-16 17:04] #7231 closed

[2018-01-16 19:21] jonschoning commented on #7411
This appears to be an issue with all geneators, as far as I can tell.

I tried generating with

- csharp-dotnet2
- java
- rust
- scala
- swift
- swift3

and they all fail for this case.

related issues:
https://github.com/swagger-api/swagger-codegen/issues/6983
https://github.com/swagger-api/swagger-codegen/issues/6318

Since this appears to be an issue with the base/core swagger-codegen code, I'm

[2018-01-16 20:23] thomasjm commented on #7411
Ah okay, thanks for investigating @jonschoning!

Slightly off-topic, but another workaround I tried was to use selective generation to exclude problematic parts, i.e. something like `java -Dmodels=User,Pet -DmodelTests=false {opts}` (as described on the main `swagger-codegen` README). However, this seemed to generate no code output at all, no matter what options I tried. Is selective generation su

[2018-01-16 20:51] jonschoning commented on #7411
Selective generation does appear to be a bug with `haskell-http-client` (I've never actually tested it before, as I wasn't quite sure what the use case was.)  I still recommend editing the yaml file directly if at all possible.

[2018-01-16 21:34] thomasjm commented on #7411
The other use-case for selective generation besides working around bugs is that some APIs are gigantic--when I compile the whole Docker API it results in a ~20MB Haskell library. Is it possible it will be added someday? I'm happy to open an issue for it if it helps.

[2018-01-16 22:55] dnome2 opened #7425 "[python]: swagger v3 fails to generate client"
##### Description
Trying out the swagger v3 to generate a python client but i am hitting basic issue while executing codegen. Can someone please help?

##### Swagger-codegen version
java -jar swagger-codegen-cli-3.0.0-20180112.231857-20.jar version
3.0.0-SNAPSHOT

##### Swagger declaration file content or url
On first attempt i hit a missing .swagger-codegen-ignore file. Had never faced this issue

[2018-01-16 22:56] berdachuk commented on #1054
Hi @ecki,
Look like problem still exists,

I see, than If I use in REST controller Api like:
    @ApiOperation(value = "sign in",
            notes = "Sign in to account",
            response = AuthorizationDetails.class,
            **authorizations = {@Authorization(value = "basicAuth")},**
            tags = {"authorisation"},
            nickname = "signIn")

then authNames populated:
...
Str

[2018-01-17 02:59] wing328 commented on #7044
Closed via #7343

Thanks for the PR by @joeboyscout04

[2018-01-17 02:59] #7044 closed

[2018-01-17 03:01] jonschoning commented on #7411
for `haskell-http-client` you should always combine `-Dmodels` with `-DsupportingFiles` . Then it will only gen the models.

To control the specific files being generated, `-Dmodels=User` seems to work, but any models `User` depends on won't be available.

I wasn't able to get the CSV list of `-Dmodels=User,Pet` to work with the `java` generator.

[2018-01-17 05:06] Tesan3010 opened #7427 "Unable to install `swagger-codegen` using brew command"
[Mac OS X] Unable to install `swagger-codegen` using `brew install command`

##### Description

Even though I've the latest Java version, when running `brew install swagger-codegen` via command line, encountering JavaRequirement unsatisfied! error. PFB the details.

* brew install command:

`brew install swagger-codegen`

swagger-codegen: Java 1.8 is required to install this formula.
JavaRequireme

[2018-01-17 05:22] wing328 commented on #7427
Please use the JAR as a workaround for the time being: https://github.com/swagger-api/swagger-codegen#compatibility

[2018-01-17 05:25] Tesan3010 commented on #7427
@wing328 : Okay.

[2018-01-17 10:40] Domvel opened #7428 "Improve the code and comments to be valid with tslint."
##### Description
Currently tslint shows errors about swagger generated files.
In most of cases it's the header comment which contains `trailing spaces`.
Also generate the code with 2-spaces instead of tabs or 4 spaces. etc.
Ok, maybe there are settings to do this. But the trailing spaces etc. are bugs.

Example file:
[code]
Error by tslint: trailing whitespace (no-trailing-whitespace) (6, 3)

###

[2018-01-17 11:58] frickelbruder commented on #7422
Follow-Up:
It would be even better, passthru any HttpExceptionInterface - Exceptions :-)

[2018-01-17 12:14] inthegarage commented on #7302
Note with version 2.3.1 the error has now changed slightly, although invalid code is still being produced:
`
 error TS2552: Cannot find name 'Id_'. Did you mean 'Id'?`

return this.httpClient.get<PostEditHeader>(`${this.basePath}/roles/${encodeURIComponent(String(Id_))}`,

Please continue to investigate.

[2018-01-17 12:35] ten0s opened #7429 "[3.0.0] RuntimeException for inline requestBody"
##### Description

[Thread-1] WARN io.swagger.codegen.DefaultCodegen - Empty operationId found for path: post /request. Renamed to auto-generated operationId: requestPost
java.lang.NullPointerException
	at io.swagger.codegen.DefaultCodegen.fromRequestBody(DefaultCodegen.java:2272)
	at io.swagger.codegen.DefaultCodegen.fromOperation(DefaultCodegen.java:1850)
	at io.swagger.codegen.DefaultGenerator.

[2018-01-17 13:24] moulton01 commented on #7424
Update.

When trying to add the token to the provided apikey and apikeyprefix properties as below:
            //clientConfig.ApiKey["Authorization"] = response.AccessToken;
            //clientConfig.ApiKeyPrefix["Authorization"] = "Bearer ";
This returns the request as unauthorized as I explained above.

If I add this token and token type as a default header as below, it works just fine. Any ide

[2018-01-17 14:40] ten0s commented on #7429
It was a spec issue - missing first forward slash in ref '#/components/schemas/Request'

[2018-01-17 14:40] #7429 closed

[2018-01-17 14:47] vinz486 opened #7430 "JavaClient Codegen force using @ApiModel"
##### Description

Using any of Java based client generator force using @ApiModel annotation. There is no way to remove.

[code]
This is not fair IMHO. Generators output should be unaware of swagger and features must be added composing and adding, not by hardcoding.

##### Swagger-codegen version

    compile 'io.swagger:swagger-codegen:2.3.0'

[2018-01-17 15:03] k2r79 commented on #7421
Just tested with a query parameter instead of a header parameter and the bug doesn't come up.

[2018-01-17 15:50] macjohnny commented on #7428
@Domvel you could simply exclude the generated API from linting with `linterOptions.exclude`, since it can be impossible to comply to all different linting settings chosen by different users.

[2018-01-17 15:59] macjohnny commented on #7365
@wing328 can you add this feature to the 2.4.0 milestone?

[2018-01-17 16:01] macjohnny commented on #7369
@wing328 could you add this to the 2.4.0 milestone?

[2018-01-17 23:16] developersteve commented on #5925
Getting this error as well during Travis checks

[code]

[2018-01-18 01:59] mhdubose opened #7432 "SpringCodegen not importing java.util.Map"
##### Description

When using the codegen maven plugin and the Spring language, java.util.Map is not being imported when the Map's value is a List.

##### Swagger-codegen version

Maven plugin version 2.3.1
##### Swagger declaration file content or url

[code]
the output of this is correct
[code]
but the class does not have java.util.Map imported, and therefore fails to build

[code]
##### Maven c

[2018-01-18 07:25] Domvel commented on #7428
@macjohnny That's right: It's impossible to comply to all different linter settings. That's not what I want. Just remove unwanted characters from file. **The trailing spaces** That a fault and has nothing to do with a linter.

[2018-01-18 07:25] wing328 commented on #7396
https://github.com/swagger-api/swagger-codegen/releases/tag/v2.3.1

[2018-01-18 10:04] macjohnny commented on #7428
@Domvel could you file a PR for this code cleanup?

[2018-01-18 10:21] stdmitry commented on #6598
What's up folks? Can you give any predictions?

[2018-01-18 10:31] jarlesat opened #7435 "Remove throws Exception from generated jaxrs-spec api"
##### Description

Issue#6659 introduced a horrible design bug by declaring "throws Exception" in the generated api model for jaxrs-spec. For instance for a stub

[code]
instead of just
[code]
Forcing users of this api to always catch Exception or declare it, even though proper code never will throw an Exception. Or even worse for an interface:
[code]
instead of just
[code]
The "throws Exception"

[2018-01-18 10:32] etherealjoy commented on #6983
@fvarose
Do you have an idea what to do here, if you don't mind me bothering you?

Many thanks.

[2018-01-18 10:35] fvarose commented on #6983
Sorry, I have no idea what causes this, I can maybe have a look when I find the time.

[2018-01-18 10:36] etherealjoy commented on #6983
Ok, this seems to be a problem with the swagger-codegen core when I check the referenced issue. But thanks all the same.

[2018-01-18 10:40] HugoMario commented on #6598
@samvdb @stdmitry we pushed the beta release for new week, due we're waiting for releases on other projects (inflector, parser).

[2018-01-18 10:52] bendichthaenni79 opened #7436 "DateTime Format is"
##### Description

Serverside expects DateTimeFormat in "dd/MM/yyyy"
As my client system has culture "de-CH", Setting the Clients DateTimeFormat to "dd/MM/yyyy"
Will still lead to formatting the Date in the following Format: "dd.MM.yyyy".

Client Code Generation: CSharp

##### Swagger-codegen version

master

##### Swagger declaration file content or url

Applies to any date

- in: header

[2018-01-18 11:38] jarlesat opened #7438 "[JAVA] jaxrs-spec: interfaces are generated when interfaceOnly=false"
##### Description

The implementation in issue-5431 contains a bug where interfaces are generated as long as interfaceOnly is defined, no matter value. The intention is that missing interfaceOnly, or interfaceOnly=false should generate implementation stubs. Only interfaceOnly=true should in fact generate interfaces.

##### Swagger-codegen version

2.3.0, 2.3.1

##### Steps to reproduce

Run jaxrs-

[2018-01-18 12:14] jarlesat opened #7440 "[Java] [jaxrs-spec] Allow returning javax.ws.rs.core.Response in interfaces"
##### Description

In some cases it is feasable to access the Response directly, even when coding against a built proxy from for instance Resteasy or Jersey. This could be accessing response-headers in a response from a client, or adding response-headers in a generated response. Suppose that the following call ends with a redirect.

[code]
Resteasy will in version version 3.x silently return null

[2018-01-18 12:27] mkmmv opened #7441 "Server generation not working on https://editor.swagger.io/"
Server generation not working

##### Description

I get following error on https://editor.swagger.io/ - "Mixed Content: The page at 'https://editor.swagger.io/' was loaded over HTTPS, but requested an insecure resource 'http://generator.swagger.io/api/gen/download/long-string-with-dashes-and-numbers'. This request has been blocked; the content must be served over HTTPS."

##### Steps to reproduce

[2018-01-18 13:23] gmgk93 commented on #5643
+1

[2018-01-18 13:40] apopiak opened #7443 "[CPPREST] C++17 support planned?"
##### Description
Is there any support planned for C++17 ? A key feature used would be `optional` to model non-required fields which avoids having to have seperate bool flags for whether the value is set and accidentally segfaulting when accessing an empty `shared_ptr`.

##### Swagger-codegen version
future

[2018-01-18 16:57] gurubook opened #7444 "Object definition returned in nested array/map is not added to the imports causing compiling problems in many languages"
##### Description

Object definition returned in nested array/map is not added to the imports causing compiling problems in many languages

##### Swagger-codegen version

2.4.0-SNAPSHOT and earlier

##### Swagger declaration file content or url

https://gist.github.com/gurubook/9116e6d036bc43dbd9b06e3ad6a897dd#file-nested_collection_return-json

##### Command line used for generation

##### Steps

[2018-01-18 22:07] acabarbaye opened #7446 "[Java][retrofit2] file upload sets filename as baseName instead of a dynamic filename"
##### Description
This is more a request to change formParams.mustache so that the filename can be set by the developer instead of defaulting to baseName.
In current template, the filename is set as follows:
` okhttp3.MultipartBody.Part {{/usePlayWS}}{{^usePlayWS}}("{{baseName}}\"; filename=\"{{baseName}}") RequestBody`
This way the filename is hardcoded and is the same for any file upload no matt

[2018-01-18 22:32] khalidx commented on #7381
Same thing is happening when naming a definition "File" in the swagger YAML. If it is named "File", java.io.File is used, or, if using "java8: true", org.springframework.core.io.Resource is used instead.

Is there a clash between all java/spring names and the definitions defined in the YAML?

[2018-01-18 22:50] shuawest opened #7447 "No way to get HTTP headers in JAXRS CXF response"
##### Description
I'm creating a JAXRS CXF swagger spec for an existing REST/JSON API that I don't control. The API has a number of paginated result sets where the response is an array as a body payload, and puts before/after markers in the HTTP response header.

##### Swagger-codegen version

swagger-jaxrs 2.2.3
swagger-codegen-maven-plugin 2.2.3 with language jaxrs-cxf

##### Swagger declaration

[2018-01-19 00:05] shuawest commented on #7447
It looks like I could also switch to the generic response, but that doesn't appear to be working in 2.2.2. I can only generate an API with the List<Trade> return type instead of the generic CXF one.
[JaxRS*] javax.ws.rs.core.Response vs. returnTypes #4713

It would still be best to have a wrapper entity when you need data from header.

[2018-01-19 01:20] AlexGilleran commented on #6309
Still happening with 2.3.1

[2018-01-19 03:17] wing328 commented on #7427
Filed https://github.com/Homebrew/homebrew-core/pull/23015 to upgrade to the latest v2.3.1.

[2018-01-19 05:21] #5925 closed

[2018-01-19 05:22] wing328 commented on #5925
@dejan2609 @developersteve the issue with build.gradle has been addressed with https://github.com/swagger-api/swagger-codegen/pull/7448

Please pull the latest 2.4.0 branch and give it a try.

[2018-01-19 09:48] tfujita-folio opened #7449 "Is there any way to generate example json file?"
Is there any way to generate example json file?

example) `Pet.json`
https://github.com/swagger-api/swagger-codegen/blob/master/samples/yaml/pet.yml#L145

[code]

[2018-01-19 10:29] micheleISEP opened #7450 "[Ada] invalid tokens"
##### Description

When compiling the generated code, GNAT says that the *-client.adb file contain invalid tokens.

##### Swagger-codegen version

2.4.0, from github

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i ../openapiAHregistrer.yml -l ada -o ../ada-ah/ --api-pack

[2018-01-19 12:58] kispaljr opened #7451 "[Python] Asyncio-based Python Server"
This is simply a feature request to add a new Python server generator that generates asyncio-based, or more precisely [aiohttp](https://aiohttp.readthedocs.io/en/stable/)-based webserver.
We already have a nice asyncio-based Python client generator, but I would also need a server-side counterpart for my asyncio-based projects.

[2018-01-19 15:12] tsiq-karold opened #7453 "Java Jersey 2 generated client thread safety"
##### Description
This is related to an old issue which was closed with documentation improvements: https://github.com/swagger-api/swagger-codegen/issues/1435.

I would like to revisit this and actually fix the problem.

##### Swagger-codegen version

Master HEAD.

##### Related issues/PRs

https://github.com/swagger-api/swagger-codegen/issues/1435

I debated commenting on that issue instead but i

[2018-01-19 16:19] robertocastro opened #7455 "[PHP][Lumen] body name parameter should be ignore"
##### Description

When I generate a Lumen server stub from swagger editor online, generated controller has param validation for body name. Documentation [here](https://swagger.io/docs/specification/2-0/describing-request-body/)
say that this name is ignored but Lumen Stub has check for body name parameter.

##### Swagger-codegen version
online swagger editor 2.2.3

##### Swagger declaration file

[2018-01-19 19:27] webron commented on #7384
@wing328 do you have any input on this one?

[2018-01-19 23:33] cbornet commented on #7355
Movie and Episode don’t have a parent class (since you don’t have a discriminator). They should have their own fields copied from Video and compare them in the equals() method.

[2018-01-19 23:40] cbornet commented on #7361
Type and Generic don’t have the same meaning. Can you check with python 3.5.4 ?

[2018-01-20 00:11] inforeqd512 commented on #7019
to correct the above, instead of using the format tag, it would be the pattern tag, so if that could generate static validation methods, that would helpful at serialisation and deserialisation and also could be used in an UI validation where we can ask user to input these values eg.

if the below method is created via codegen into a class called PaymentValidator
[code]
if we ask the user to enter

[2018-01-20 05:24] wing328 commented on #6560
https://github.com/swagger-api/swagger-codegen/pull/7352 has been merged into 2.4.0

Thanks for the fix 👍

[2018-01-20 06:12] wing328 commented on #5240
Technically we can add another option to cover your use case but we prefer developers customizing the templates to meet different requirements as we may end up adding too many options while the same can be achieved by modifying the templates.

[2018-01-20 06:52] wing328 commented on #7384
@NatalieBorovykh by default, `camelCase` is used according to TypeScript style guide.
[code]
Ref: https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#names

To keep the original name, please set `modelPropertyNaming` to `original`:

[code]

Ref: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l typescript-angular

[2018-01-20 06:52] #7384 closed

[2018-01-20 08:14] wing328 commented on #7422
@frickelbruder thanks for the feedback. Can you please file a PR so that we can review the improvement more easily?

[2018-01-20 11:07] micheleISEP opened #7457 "[Ada] wrong order for generated structures in *-models.ads"
##### Description

Generated code cannot be compiled, since:

" arrowhead-registry-models.ads:50:52: "Metadata_Type" not declared in "Models" "

##### Swagger-codegen version

2.3.1, downloaded from git on January 20, 2018

##### Swagger declaration file content or url

openapiAHregistrerShorter.yml:

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swag

[2018-01-20 11:14] cbornet commented on #7435
👍  Can you do the PR ?

[2018-01-20 11:15] juggernaut0425 opened #7458 "[Java] [3.0.0]Generate same field both in Parent and SubClass when using allOf"
##### Description

Generated model:

[code]

The subclass should not contain "errcode" and "errmsg". This will cause gson error.
[code]

##### Swagger-codegen version

[61c2b6e4aac269c49b4e5d045d87531e69709be1](https://github.com/swagger-api/swagger-codegen/commit/61c2b6e4aac269c49b4e5d045d87531e69709be1)
##### Swagger declaration file content or url

[code]

##### Suggest a fix/enhancement

This

[2018-01-20 11:30] juggernaut0425 commented on #7449
@tfujita-folio Do you mean you want to convert the yaml file to json? Many tools can achieve this.

[2018-01-20 11:39] micheleISEP opened #7459 "[Ada] wrong JSON in POST operations"
##### Description

Generated code does not provide correct POST operations. In fact, the Ada code ends up sending JSON:

{"registerReqBody":{"providedService":{"serviceGroup":"Temperatures","serviceDefinition":"tempera1","interfaces":[],"serviceMetadata":{"entry":[]}},"serviceURI":"127.0.0.1:7223","version": 1,"isUDP":true}}

while the correct JSON would be:

{"providedService":{"serviceGroup":"Te

[2018-01-20 13:54] stcarrez commented on #7459
Thanks for the bug report.

The problem is not in the generated *-models.adb file but instead in the generated
client which calls the Serialize with the "registerReqBody" name.  The generated Register
procedure is doing the following call:

      X.Models.Serialize (Req.Stream, "registerReqBody", Register_Req_Body);

and this should really be:

      X.Models.Serialize (Req.Stream, "", Register_Re

[2018-01-20 14:32] magnolia-k commented on #7398
fixed and merged

https://github.com/swagger-api/swagger-codegen/pull/7454

[2018-01-20 14:32] #7398 closed

[2018-01-20 16:17] wingsofovnia opened #7461 "[Java] [Retrofit2] Generator do not tolerate Enums as body parameters"
##### Description

While Retrofit2 allows `@retrofit2.http.Body List<Enum>` bodies, the generator creates  `@retrofit2.http.Body List<String>`.

##### Swagger-codegen version

2.3

##### Swagger declaration file content or url
[code]

Generated retrofit2 + rx2 client code:
[code]

Should be
[code]

[2018-01-20 16:24] stcarrez commented on #7457
Yes, the postProcessModels() operation sorts the model types depending on their dependencies.
The comparison function is not recursive so it ends up in wrong comparison when we have A -> B -> C the comparison between A, C are not well handled.

[2018-01-20 18:42] frickelbruder commented on #7422
Hi there,

I close this feature request.
As I checked the code, there is already a way to provide a custom HTTP code.
This just does not yet work with https://generator.swagger.io/api/gen. There seems to be an older release online.

Thanks anyway.

[2018-01-20 18:42] #7422 closed

[2018-01-21 21:19] aykutakin commented on #7107
Further investigation showed that, below yaml is processed correctly:
[code]
Problem occurs only if `format` is set as `UUID` like:
[code]
The reason is the separate control flow for UUID format:
https://github.com/swagger-api/swagger-codegen/blob/01a076c3fe3a44b370804db58270fc853adf06a8/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L3587-L3595

[2018-01-21 21:33] mr1sunshine opened #7463 "[Golang] Support for "application/xml" content-type in response payload."
##### Description

As I can see now there is no support of "application/xml" content-type for Golang API client generation. I can see at least that for java lang there is option called "withXml" which does required thing.

##### Swagger-codegen version

I've tested it with swagger-codegen-cli version 2.3.1

##### Swagger declaration file content or url

[http://petstore.swagger.io/v2/swagger.json]

[2018-01-22 02:29] tfujita-folio commented on #7449
@juggernaut0425
I want to use example data as json file.

[code]

↓

[code]

[2018-01-22 05:21] #7459 closed

[2018-01-22 05:27] #7457 closed

[2018-01-22 06:13] #7358 closed

[2018-01-22 06:35] #7093 closed

[2018-01-22 06:36] wing328 commented on #7093
@SimonKlausLudwig the PR by @devcsrj has been merged into master.

Please pull the latest to give it a try.

[2018-01-22 06:54] macjohnny opened #7465 "[TypeScript][Aurelia] Bug: imports in ...Api.ts files are broken"
##### Description

The imports in the `...Api.ts` files are broken, see e.g.
https://github.com/swagger-api/swagger-codegen/blob/v2.3.1/samples/client/petstore/typescript-aurelia/default/PetApi.ts#L18

##### Swagger-codegen version

2.3.1, was already there in 2.3.0, and probably before, too.

##### Swagger declaration file content or url
see example petstore yaml

[2018-01-22 07:57] #7438 closed

[2018-01-22 07:59] kennetvu opened #7466 "[Kotlin] enums should be uppercase"
##### Description
In Kotlin enums should be uppercased, its not directly a rule in Kotlin to have enums in uppercase but all examples used in Kotlin documentation is uppercased.

See here https://kotlinlang.org/docs/reference/coding-conventions.html#property-names and https://kotlinlang.org/docs/reference/enum-classes.html

##### Swagger-codegen version
2.3.1

##### Steps to reproduce
I dupliacted

[2018-01-22 09:18] karussell commented on #7218
PR was merged into master

[2018-01-22 09:18] #7218 closed

[2018-01-22 09:40] #7450 closed

[2018-01-22 10:57] cobusc opened #7469 "[Python][Flask] UUID path and querystring arguments generate broken code"
##### Description
Related to #7107
Given an `invitation_id` field defined as
[code]
the following code is generated for the controller when `invitation_id` is used in the path:
[code]
In the docstring `:type invitation_id: dict | bytes` is not correct.
Also note the unnecessary (and broken) code in the function body:
[code]
Note that this is also the case when it is used as a query string paramete

[2018-01-22 11:13] bmordue commented on #3731
I think this was fixed by #7341 ?

[2018-01-22 12:09] cobusc commented on #7469
Another possible solution: Change https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L3587-L3588 to:
[code]

[2018-01-22 14:33] wing328 commented on #6520
@sneumann I've added the auto-generated NAMESPACE file via #7467

Please pull the latest master or use the [SNAPSHOT](https://github.com/swagger-api/swagger-codegen#compatibility) version to give it a try

[2018-01-22 14:34] wing328 commented on #6520
I'll consolidate `swagger-codegen/samples/client/petstore/R/`, `swagger-codegen/samples/client/petstore/r_test/` into one shortly...

[2018-01-22 15:26] wing328 commented on #3731
@bmordue yup, closing it.

[2018-01-22 15:26] #3731 closed

[2018-01-22 17:25] natke opened #7470 "[maven-plugin] classpath issue with swagger-codegen-maven-plugin"
##### Description

I wrote a new generator (documentation in markdown format). I can generate no problem on the command line using:

[code]

but when I try the same thing with the swagger-codegen-maven-plugin, I get the following error:

[code]

which indicates to me that the generator class is not on the classpath.

When I run

[code]

the jar is on the classpath and the class is in the jar.

Thi

[2018-01-22 19:00] bmariusz commented on #6722
FYI I've managed to compile `typescript-angular` AOT-compatible using `ng-packagr` https://github.com/dherges/ng-packagr (v2.0.0-rc.11)

[2018-01-22 19:17] kenisteward commented on #6722
@bmariusz Thanks for the info.  I bleive @sebastianhaas still has his PR still open so we can discuss more there #6735

There I also have my suggested details from following the Angular Library standard

[2018-01-22 21:49] natke commented on #7470
I had the dependency outside of the plugin section.

[2018-01-22 21:49] #7470 closed

[2018-01-23 07:37] grokify opened #7474 "[golang]"
##### Description

Definition property `"type": "object"` gets converted to `*interface{}` which returns an error when set to a struct or pointer pointer.

##### Swagger-codegen version

`2.3.1`

##### Swagger declaration file content or url

https://github.com/grokify/go-ringcentral/blob/28498505dba03a0d355a88e37d7c9ad1a338255b/codegen/swagger_ringcentral_spec.json

##### Command line used for ge

[2018-01-23 09:57] macjohnny commented on #7465
@ksm2 would you like to try to fix this?

[2018-01-23 12:55] nalmeida84 commented on #7458
I have a similar problem...

My code:

NagiosService:
    type: object
    properties:
      description:
        type: string
        example: CPU utilization
        description: Nombre del servicio en Nagios
      output:
        type: string
        example: 'OK - 0.7 % used, 10min average: 0.7 %, 1 CPUs'
        description: Salida del servicio sin tratar
      state:
        type: string

[2018-01-23 13:37] thomas-weinstein-bosch commented on #5799
I have a similar problem, we are using an API-first scenario, and we would like to add some annotations to the generated model (basically the same issue as the thread creator). In another thread the answer was to write own templates for this, but this would mean we would have a whole set of templates that we have to support for each new version upgrade, and we just dont have the capacity to do so

[2018-01-23 14:03] Polyterative commented on #5374
Any news on this issue?
Can't I add a flag to the .json file and automatically add the configuration everywhere?

[2018-01-23 14:08] arjuin opened #7476 "[typescript-angular2] Datetime parameters are not correctly formatted in request path"
##### Description

I'm using codegen with an angular4 project.
I made an api endpoint with a datetime in the path like /line/{line:int}/exploitation/{xpdate:datetime}/incident

The code generated for the previous snippet a datetime parameter is:
`encodeURIComponent(String(xpdate))`
Result is like 'Sat%20Dec%2024%202016%2001%3A00%3A00%20GMT%2B0100%20(Paris%2C%20Madrid)'
and the request fails !

I n

[2018-01-23 14:32] JeReT commented on #6872
I also stumbled upon this.
I think that simply changing the mapping is not a good idea. for optional method arguments it still should be nullable. For required  arguments it should not be nullable. Not sure if you can tell that to mustache ;)

[2018-01-23 14:48] Gabology opened #7477 "$ref does not work with allOf"
Combining `$ref` with `allOf` will cause the property to be ignored, the following will not work:

[code]

The resulting OAS specification will only contain `bar` but not `foo`. However simply omitting the `allOf` like the following will cause it to work fine:

[code]

The problem of course is that it becomes impossible to extend an external schema now.

[2018-01-23 14:54] macjohnny commented on #7476
@arjuin the path is being compiled here:
https://github.com/swagger-api/swagger-codegen/blob/v2.3.1/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java#L260-L294

[2018-01-23 15:20] chenrui333 commented on #2186
So we have to manually disable the hostname verifier? Is there any flag that we can use?

[2018-01-23 15:37] macjohnny commented on #7476
I had a quick look at it and it seems it is not that simple, since in the line I suggested to be changed
(https://github.com/swagger-api/swagger-codegen/blob/v2.3.1/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngularClientCodegen.java#L279) we don't know about the parameter properties.
We might be better off by moving the compilation of the path from https://github

[2018-01-23 15:55] xmeng1 commented on #5374
@Polyterative
you can inject it like that for the global app in `app.module.ts`:
[code]
then the configuration will be appled overall the application

[2018-01-23 16:16] ccozzolino commented on #7409
@wing328 - Can we close this?

[2018-01-23 16:19] bedag-moo commented on #7476
If the runtime type of the value is sufficient information, we could generate a method like

    encodePathParam(value) {
       if (value instanceof ...) {
         // conversion logic
       } else {
         // other conversion logic
      }
      return encodeURIComponent(converted);
    }

and generate template expressions like `some/path/${encodePathComponent(paramName)}` for all params. Thi

[2018-01-23 16:23] ccozzolino opened #7478 "[JAVA][library: vertx] Allow subclass override of http server port for testing"
##### Description

For testing, we need the ability to override the http server port without having to generate a custom testing spec with an overridden `host` value.

##### Swagger-codegen version

All versions with vertx async & rx server support

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/PRs

##### Sugge

[2018-01-23 16:38] macjohnny commented on #7354
@wing328 @AlexanderGoerlich this issue can be closed, as the doc improvements were merged in #7363

[2018-01-23 16:48] macjohnny commented on #7302
@inthegarage could you try if https://github.com/swagger-api/swagger-codegen/pull/7479 fixes your issue?
just build https://github.com/macjohnny/swagger-codegen/tree/bugfix/7476-typescript-angular-path-parameter-date and give it a try

[2018-01-23 16:48] macjohnny commented on #7476
I filed a PR https://github.com/swagger-api/swagger-codegen/pull/7479 which should resolve the issue with little modifications. moreover, it should also fix https://github.com/swagger-api/swagger-codegen/issues/7302

[2018-01-23 17:35] inthegarage commented on #7302
@macjohnny  Yes will build and give it a go.

[2018-01-23 19:06] adamfellon commented on #5374
@xmeng1 In your example is the ```Configuration``` a custom injectable or is that something that is in angular core?

[2018-01-23 19:38] xmeng1 commented on #5374
not custom, it is defined in the generated code and can be imported to the app.module.ts

    import {Configuration} from './swagger/configuration';

[2018-01-23 19:40] xmeng1 commented on #5374
@adamfellon , the is the content of the generated file: `swagger / configuration.ts`

[code]

[2018-01-24 00:15] guoshimin opened #7482 "[haskell-http-client] add the ability to customize module prefix"
##### Description

Currently the haskell-http-client module seems to derive the Haskell module names from the OpenAPI spec. It would be nice if we can customize the module prefix. So, for example,  instead of `Kubernetes.*`, generate `Network.Kubernetes.Client.*`.

I looked at the code and it doesn't seem it's customizable at the moment. If I missed something please let me know. Thanks!

cc @jonsc

[2018-01-24 04:09] wing328 commented on #5799
@thomas-weinstein-bosch my suggestion is to give it a try. Other users told me the overhead is actually smaller than what they originally expected.

[2018-01-24 04:10] #7354 closed

[2018-01-24 04:12] #7409 closed

[2018-01-24 04:14] wing328 commented on #2186
@chenrui333 would the following help?

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#is-there-a-way-to-disable-certificate-verification

[2018-01-24 04:46] ayushoo7 commented on #5799
To solve my problem we have to write our own templates and as of now sticking to swagger-codegen-cli-2.2.1.But in future if we take latest jar it could be problematic.If swagger can support such annotation it will be help full to us.
Thanks in advance.

[2018-01-24 04:55] #7107 closed

[2018-01-24 05:21] crhistianr opened #7483 "[swagger-codegen-cli] build failure could not resolve dependencies"
##### Description

Error Getting Output:
```Could not resolve dependencies for project io.swagger:swagger-codegen-cli:jar:3.0.0-rc0: Failure to find io.swagger:swagger-codegen-generators:jar:1.0.0-rc0 in https://oss.sonatype.org/content/repositories/snapshots was cached in the local repository, resolution will not be reattempted until the update interval of sonatype-snapshots has elapsed or update

[2018-01-24 07:17] macjohnny commented on #7407
@kewinbrand I would say this is how it is supposed to work.
What code would you expect with your API definition?

[2018-01-24 07:22] macjohnny commented on #7253
@nartc I would say this works as intended. Generating separate files allows a clear separation of models from APIs and everthing else.
You could, however, create a script that merges all files into one big file in your project. The only thing you would need to do is to remove the import statements for imports that are whithin your api path.
Possibly, naming collisions could occur.

I suggest to cl

[2018-01-24 09:00] gnarf09 opened #7484 "[typescript-angular] special characters like $ are removed from var names"
When generating TS client from a swagger spec, special characters (like $) are removed.  This is caused by variable name sanitization.

This problem didn't exist in 2.2.3 and appeared since commit [e70bdf17f21fcf0315d03d0846f6c47c818bd43e](https://github.com/swagger-api/swagger-codegen/commit/e70bdf17f21fcf0315d03d0846f6c47c818bd43e)(caused by call to sanitizeName method)

Sanitization should depe

[2018-01-24 09:52] micheleISEP opened #7485 "[Ada] wrong order for data structures in *-model.ads files"
##### Description

Wrong order with the models in the *-model.ads files. The compilation ends with a:

arrowhead-orchestrator-models.ads:19:56: "StringsMap_Type" not declared in "Models"

An inspection of the ads file confirm the problem.

##### Swagger-codegen version

Current version on github (January 24th, 2018) with the patch to issues #7457 and #7462.

##### Swagger declaration file content

[2018-01-24 10:34] kewinbrand commented on #7407
Hi @macjohnny,

Should not codegen generate the methods with the primitive parameters instead of force to be classes?
Thank you.

[2018-01-24 10:44] thomas-weinstein-bosch commented on #5799
ok, thanks, so I will also give it a try.

[2018-01-24 10:50] inthegarage commented on #7302
@macjohnny Yes that has worked for this particular problem and the URLs were dealt with correctly. I did notice however that the code produced in default.service.ts was using a few deprecated items and that some of the other build objects seemed "a little out of date". I take it this is just because of your personal branch and will be corrected when merged?
Also which release will this be in 2.3.2

[2018-01-24 11:11] macjohnny commented on #7302
@inthegarage

Can you clarify what you mean by this? Can you specify which items are outdated?
My branch is based on the current master branch, so this should not be an issue. Which angular version are you using?

I hope this will be released with `2.4.0`, but this has to be set by @wing328

[2018-01-24 11:14] macjohnny commented on #7407
@kewinbrand since you are transferring data with content-type `"application/json"` and your body is an object with several properties, the codegen does what I would expect.
I think this issue should be closed.

[2018-01-24 11:19] inthegarage commented on #7302
@macjohnny

I am using Angular 5+
Deprecated items, seemed to be things such as Http instead of HttpClient and UrlSearchParams which are both deprecated. UrlSearchParams, is just simply replaced by an options <any> item.

I also saw that there seemed to be items generated that were not linked into the models.ts file.  I will get you further details.

[2018-01-24 11:21] macjohnny commented on #7302
@inthegarage please set the angular version to `4.3` when using the typescript angular generator, which generates api code that uses `HttpClient` instead of `Http`, so there should not be any deprecated items.

[2018-01-24 11:24] macjohnny commented on #7484
@gnarf09 since this is only a naming-issue that only matters whithin an API method, I think this is less-relevant. Any code calling a method of the generated client will be able to do so independent of the naming of the parameters.

[2018-01-24 11:35] inthegarage commented on #7302
@macjohnny Not sure I've come across that option for the new typescript-angular plugin, do you have a link to the docs?

[2018-01-24 11:36] desprez opened #7487 "[Java Spring] Loose my model definition after generating api documentation"
Swagger Annotation / Model Version: 1.5.10 / 1.5.14
    Issue type: Bug but i dont know if it Swagger or Springfox.
    Description: I proceeded as follows:
- writing the yaml file in the swagger editor
- use the codegen swagger to generate the Spring boot application for the yaml file.
- running the application to generate swagger json format documentation

/definitions/OrderPersonSearchRequest a

[2018-01-24 11:37] desprez commented on #7487
Swagger yaml input file :

swagger: '2.0'
info:
description: ''
version: 1.1.0
title: Swagger Sample
termsOfService: ''
license:
name: Apache 2.0
url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: host
basePath: /T1
schemes:

    http
    consumes:
    application/json
    produces:
    application/json
    paths:
    /banking-orders:
    post:
    summary: 'retrieve person orders'
    d

[2018-01-24 11:37] desprez commented on #7487
Swagger json output file :

{
"swagger": "2.0",
"info": {
"description": "No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)",
"version": "1.1.0",
"title": "Swagger Sample",
"contact": {

	},
	"license": {
		"name": "Apache 2.0",
		"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
	}
},
"host": "localhost:8080",
"basePath": "/T1",
"tags": [

[2018-01-24 11:45] macjohnny commented on #7302
@inthegarage you can find the options with the following command:
[code]
as `4.3` this is the default value for `ngVersion`, I guess somewhere in your config you have set the version, e.g. in your `pom.xml` for `swagger-codegen-maven-plugin`

[2018-01-24 11:52] inthegarage commented on #7302
Here is my maven configuration part:

[code]

This produces code such as:

[code]
RequestOptionsArgs, RequestMethod and RequestOptions are all deprecated. As is the following:

        let queryParameters = new URLSearchParams('', new CustomQueryEncoderHelper());

Do I have an incorrect maven configuration?

[2018-01-24 12:13] macjohnny commented on #7302
@inthegarage you should set `ngVersion` inside `<configOptions>`, i.e.
[code]
however, this should already be the default...
@kenisteward @sebastianhaas any ideas?

[2018-01-24 12:17] macjohnny commented on #7302
The branch https://github.com/macjohnny/swagger-codegen/tree/bugfix/7476-typescript-angular-path-parameter-date should be based on the current master, as it is only 4 commits behind the `swagger-api:master`:
https://github.com/macjohnny/swagger-codegen/compare/bugfix/7476-typescript-angular-path-parameter-date...swagger-api:master

[2018-01-24 12:17] inthegarage commented on #7302
I have now updated my configuration, which seems to have been accepted. However the output remains the same, namely it is using deprecated items.

[2018-01-24 12:18] chenrui333 commented on #2186
@wing328 Yeah, that works, thanks for the link ref!

[2018-01-24 12:19] macjohnny commented on #7302
@inthegarage there is a configuration issue somewhere, as e.g. the sample generation works fine for `4.3` and also in our project we don't specify a version and it generates client code that uses `HttpClient`

[2018-01-24 12:21] inthegarage commented on #7302
@macjohnny I think the branch is correct, in so far it fixes the ":.+" issue. Whether it contains suitable to remove deprecated items I'd have to go through the source my drive.

[2018-01-24 12:21] macjohnny commented on #7302
can you verify that in `.swagger-codegen/VERSION` you have
[code]
i.e. you are using the snapshot version of the  https://github.com/macjohnny/swagger-codegen/tree/bugfix/7476-typescript-angular-path-parameter-date  branch?

[2018-01-24 12:21] chenrui333 commented on #2186
@wing328 is there anyway that we can stuff in the `X-Xsrf-Header` header or other HTTP custom headers?

[2018-01-24 12:25] inthegarage commented on #7302
@macjohnny working on one, moment please.

[2018-01-24 12:27] macjohnny commented on #7484
if this issue is to be fixed at some point, also remember to update the code adapted in https://github.com/swagger-api/swagger-codegen/pull/7479

[2018-01-24 12:34] inthegarage commented on #7302
@macjohnny
My git status says the following:
HEAD detached at origin/bugfix/7476-typescript-angular-path-parameter-date
nothing to commit, working tree clean

My VERSION file says the following:

2.4.0-SNAPSHOT

The default.service.ts and api.module.ts continue to have deprecated items in them. The config options is as follows:
              <configOptions>
                <ngVersion>4</ngVersion>

[2018-01-24 12:41] macjohnny commented on #7302
setting `ngVersion` to `4.3` should  definitely be possible if you are using the correct artifact, since the samples could be generated as well.

Can you run maven clean.
Moreover, could you post the result of `git log`?
Can you post the configuration that leads to

[2018-01-24 12:42] gnarf09 commented on #7484
My fault, i actually choosed a bad example for the issue. I just updated it.

[2018-01-24 12:45] inthegarage commented on #7302
@macjohnny I think it may have been an old config, as the clean has done the job.
No more deprecations! I think this fix is fine, so please close and merge as necessary, thank you.

[2018-01-24 12:54] chenrui333 commented on #3749
+1

I wonder if there is swagger-codegen function to traverse the api paths and generate all the client stubs.

[2018-01-24 14:08] crhistianr commented on #7483
So it looks like it's trying to get version `3.0.0.-rc0` from here:
https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli

but the most recent available version is `3.0.0-SNAPSHOT/`

[2018-01-24 14:10] desprez commented on #7487
found issue swagger-api/swagger-codegen#4709

To define an array of model, you can define something like https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L112-L117

[2018-01-24 14:10] #7487 closed

[2018-01-24 14:41] gumble42 commented on #3445
@wing328 has this issue actually been resolved in the v2.3.0 milestone? I could not see any difference compared to v2.2.0 though...

[2018-01-24 14:50] nartc commented on #7253
Hi @macjohnny ,

After working with it for a while, I totally get the intentions now. I also opt for closing the issue.

Thanks for commenting

[2018-01-24 14:50] #7253 closed

[2018-01-24 15:36] crhistianr opened #7493 "[typescript-angular] method names that are reserved words begin with underscore"
##### Description

Reserved words are unnecessarily sanitized for method names.

Having a method called service.delete for example is perfectly valid and we shouldn't be transforming names unless there is a good reason to do so.

##### Swagger-codegen version

3.0.0

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli

[2018-01-24 15:48] romor commented on #6403
I am facing the same problem.
How can I temporary solve it by telling webpack to ignore the url module?

[2018-01-24 17:09] macjohnny commented on #7493
Sounds reasonable to me

[2018-01-24 17:20] g-bon commented on #2305
@wing328, switching to python 3 I realized that there are actually two separate issues.
The first one is what I fixed with the PR 6936 and it affected both 2 and 3

The second one to my understanding is that in rest.py if PY3 is used and _preload_content is True, the response contents is always decoded as utf8. Which doesn't make sense for non-text files.

[code]
https://github.com/swagger-api/swa

[2018-01-24 19:54] kewinbrand commented on #7407
Hi @macjohnny,

Actually my body is not an object with several properties. The method takes 9 primitive parameters:

AlocarTransferirMateriaisWms(string param1, string param2....)

Should not codegen generate something like:

alocarTransferirMateriaisWms(string param1, string param2...)

Thank you.

[2018-01-24 22:10] Place1 commented on #6403
I just had a look at #4852 and it looks like it is using querystring.stringify. It looks like this issue will be solved by that pull. I haven’t checked it out to confirm though.

@romor my solution was to just not upgrade yet :/ sorry if that’s not helpful.

[2018-01-24 22:20] cbornet commented on #3749
I understand the use case for grouping micro-services endpoints (eg. for an API Gateway). Personnally I would use an external tool to merge the specs so that I have a reference swagger for it but maybe some people would appreciate doing it directly from the codegen.

[2018-01-24 22:42] kgilmer commented on #3749
Hi @cbornet yes in my case it's due to segmenting our APIs across multiple API Gateways for tangental reasons.  Are you aware of any specific tools that do this spec merging?

[2018-01-24 23:00] cbornet commented on #3749
There are a lot (just google "swagger merge", you'll see 😃). I haven't tested one in particular and it's also not hard to code your own if they don't fit your need.

[2018-01-24 23:10] crhistianr commented on #7493
Ok, got it.

[2018-01-24 23:10] #7493 closed

[2018-01-25 03:00] jimschubert commented on #7466
I'm glad you bring this up, because I spent quite a bit of time when I was writing the kotlin client generator worrying about which casing to use. That's why I ended up making it a generator option. I'd like to open a discussion with my thoughts below, if that's cool.

The new [official Kotlin style guide](http://kotlinlang.org/docs/reference/coding-conventions.html) actually provides two options:

[2018-01-25 03:31] jimschubert commented on #7424
`ApiKey` here would be your token and `ApiKeyPrefix` would be `Bearer` with no trailing space.

The `GetApiKeyWithPrefix` adds the space between `Bearer` and your token:

[code]

That said, there's a helper property set up for OAuth2 access at `clientConfig.Configuration.AccessToken`. I'm not sure entirely why it exists outside of the standard API key structure from above. If I had to guess, it wo

[2018-01-25 05:14] RadMK commented on #6893
Facing the same issue. Did you get any help . Please post it here. Thanks in Advance

[2018-01-25 05:26] RadMK commented on #6893
@wing328 : I kindly request you to help in this regard. Facing the above issue. Thanks in advance

[2018-01-25 05:50] macjohnny commented on #7493
@kenisteward @sebastianhaas what is your opinion on that?

[2018-01-25 06:17] macjohnny commented on #7493
this issue is related to https://github.com/swagger-api/swagger-codegen/issues/7484

[2018-01-25 06:23] macjohnny commented on #7407
@kewinbrand in your `parameters` array, there is only one entry, i.e.
[code]
This one entry is the definition of your request body format.
There can only be one body parameter, as your request sends this as a whole and can't merge multiple body entries.

I believe this is the reason for generating the interface to define your body format.

See also https://github.com/OAI/OpenAPI-Specification/blob

[2018-01-25 06:24] macjohnny commented on #7407
I think this issue should be closed.
@wing328 what is your opinion on that?

[2018-01-25 09:55] alexl0gan commented on #1889
According to this issue: https://github.com/FubarDevelopment/restsharp.portable/issues/99, RestSharp Portable is no longer being maintained. I've recently attempted to upgrade a project from using 4.5 templates to .NET Standard templates and found RestSharp Portable to be full of issues.

[2018-01-25 10:01] glebmachine commented on #488
@webron it's time to reopen, huh?)

[2018-01-25 10:18] #7367 closed

[2018-01-25 10:22] arjuin commented on #7476
It resolves the issue. Thanks

[2018-01-25 10:32] macjohnny commented on #7476
@arjuin please reopen this issue until https://github.com/swagger-api/swagger-codegen/pull/7479 is merged into master.
Also, would you mind posting your successful test of the Code in https://github.com/swagger-api/swagger-codegen/pull/7479 ?

[2018-01-25 10:36] #7365 closed

[2018-01-25 10:38] cputoaster opened #7498 "[Dart] Enum support"
##### Description

Enum support for Dart is currently not working. There is a non-working partial implementation available that still uses the old dartson way.

##### Swagger-codegen version

git master at a5e26a44ff0d72f91030fa1b9aaa0c27ee37129a

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`java -jar modules/swagger-codegen-cli/target/swagger-cod

[2018-01-25 11:07] macjohnny commented on #7407
@kewinbrand your swagger declaration is correct,
IMHO you can't have body parts specified as separate primitive parameters.

[2018-01-25 11:25] wlandgraf commented on #7407
@macjohnny, I think what is being asked here is a feature in swagger-codegen: if the body parameter only contains primitive properties, the generated interface could make the method more user friendly and receive the parameters as primitives.

What would be your suggestion to send primitive parameters to the server, without sending them through the URL?

[2018-01-25 11:34] macjohnny commented on #7407
@wlandgraf @kewinbrand you are right, it would make the generated method signatures more user-friendly.
However, I think this would mean a lot of work to achieve this, since you can't loop through parameters but you need to loop through the properties of one parameter, and you need to check in advance whether to do so.
So IMHO having one parameter typed by a well defined interface is good enough.

[2018-01-25 11:50] kewinbrand commented on #7407
@macjohnny

I agree that having only one typed parameter is enough, but is it possible to at least define the names of these interfaces being generated instead of being "Body2, Body3, etc"?

[2018-01-25 12:21] kewinbrand commented on #7407
@macjohnny

Maybe the <operationid>Body could be used as interface name when this case happens?

[2018-01-25 12:55] doodyparizada commented on #6598
Hey it's been a week, any update?

[2018-01-25 13:04] bansriyar opened #7499 "[Android] API Key based Authentication not included in generated client"
##### Description

I am trying to generate an Android client which has the API key based security schemes defined. The endpoint definitions are also correct (see the snippet). Also, note that I am able to generate the Java and python clients correctly.

The config that I am using for the android client is as follows:
[code]

##### Swagger-codegen version

Have tried with both 2.3.0 and 2.3.1.

###

[2018-01-25 13:52] jimschubert commented on #1889
@alexl0gan I anticipated restsharp.portable losing efforts, but it solved a need when it was introduced and provides support for those who need it in older versions of Swagger Codegen.

I've been putting off the refactoring effort to support different http libs, because there's been so much churn on the C# generator with respect to target framework, versions, and mixing in the whole concept of .NE

[2018-01-25 14:15] wing328 commented on #2186
Please open a new issue so that the community can help you out.

[2018-01-25 14:18] wing328 commented on #3445
@gumble42 for the issue, are you referring to the test files not being overwritten when regenerating the code?

[2018-01-25 14:25] chenrui333 commented on #2186
Sure!

[2018-01-25 15:05] wing328 commented on #1889
The latest version of Restsharp supports .NET Standard 2.0: https://github.com/restsharp/RestSharp#features

[2018-01-25 15:07] alexl0gan commented on #1889
My solution was to go back to using the 4.5 templates and use RestSharp 106. So far this is working fine.

[2018-01-25 15:28] jimschubert commented on #1889
@wing328 Are there benefits to RestSharp that would warrant supporting it in newer client versions? I know we don't do telemetry or anything, but is there a feel for how many devs require RestSharp via the exposed `ApiClient` property? Part of this refactor would be getting rid of that exposed internal state.

The main reason for my suggestion is that RestSharp is an additional library, meaning it

[2018-01-25 15:43] ksm2 commented on #7465
Hi @macjohnny, I think I can do this at Sunday!

[2018-01-25 15:58] macjohnny commented on #7465
@ksm2 awesome!

[2018-01-25 16:48] scara commented on #4113
Hello,
is there any ETA to include one among the two working proposals (@DarrenC vs @cbornet)?

TIA,
Matteo

[2018-01-25 17:41] #7478 closed

[2018-01-25 18:57] cbornet commented on #488
I think the codegen will have a hard time supporting oneOf. When you get JSON data, how do you choose the model into which you deserialize ? If you’re serious about your API, don’t use oneOf.

[2018-01-25 20:22] glebmachine commented on #488
I'm not sure about, but, it's common.

for example, we have web page content, based on components, like:

- wysiwyg
- video
- photogallery
- wysywig (again)
- feedback form.

so, data structure will be like:
[code]

And typings looks like:
[code]

[2018-01-25 22:15] cbornet commented on #488
Oh, I hadn’t read OAS3 fully ! If you have oneOf + discriminator (here : discriminator=type) then OK, it’s useful. OneOf without discriminator remains a bad idea.

[2018-01-25 22:22] glebmachine commented on #488
Yes, thanks.
If you would like, i can help you with Angular/typescript template.

[2018-01-25 23:17] cbornet commented on #488
Also note that to be able to generate in strongly typed languages such as JAVA, you also need each element of the oneOf to inherit from a common parent (with allOf). See the last example of discriminator in OAS3. So that’s a lot of things to consider when using oneOf.

[2018-01-26 01:52] #4824 closed

[2018-01-26 02:56] wing328 opened #7502 "[TypeScript] All Clients Conform to same packaging scheme"
##### Description

To continue the discussion in the PR: https://github.com/swagger-api/swagger-codegen/pull/4766

##### Swagger-codegen version

Latest master

##### Related issues/PRs

#4766

[2018-01-26 09:21] Gladskih commented on #300
-Dio.swagger.parser.util.RemoteUrl.trustAll=true allows me get the work done but is's just dirty workaround not a solution. I have same "SunCertPathBuilderException: unable to find valid certification path to requested target" while certificate is perfectly valid. Codegen version used is 2.3.1.

[2018-01-26 10:11] kfirwolfson commented on #5575
Having the same issue.
A simple POST that swagger.yaml declares as consumes "application/json" is sent to server with two content types.
From WireShark "copy as plain text" of the http packet:

Debugging using Android studio, I see that for POST methods, `HurlStack.addBodyIfExists() `is called, and for POSTs with a body (which most POSTs have), it calls
[code]

`request.getBodyContentType()` takes

[2018-01-26 11:54] Domvel commented on #7428
Here's a screenshot about the issue. It's really a trivial thing.
![issue](https://user-images.githubusercontent.com/35452565/35438707-e681c788-0297-11e8-96e5-90e795938c67.png)

[2018-01-26 12:02] macjohnny commented on #7428
@Domvel this is due to the following line:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular/licenseInfo.mustache#L6
[code]
If no `infoEmail` is set, there is an excessive whitespace.
This could be changed to
[code]
But I am pretty sure this would be changed back at some point to make the template look nicer if one is not aware

[2018-01-26 12:22] Domvel commented on #7428
Ok thanks for your suggestion. I'll looking to add a config file to the projects which overwrites the vs code settings, because this is a project issue. It should not added to the global settings of vs code which affects to all project.

My suggestion is to pipe the file after generation through a prettier formatter. Or change the generator to trim the right side of every line. Easy, isn't it? In

[2018-01-26 12:43] #7428 closed

[2018-01-26 12:51] vlados commented on #5233
@fatsu Can you share your code?

[2018-01-26 13:09] eiden commented on #6598
@doodyparizada I saw that `3.0.0-rc0` has [been released](https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0)

Unfortunately, it just supports `java` and `inflector`, making it not that useful...

[2018-01-26 15:43] jgensler8 commented on #7207
Though not exactly the same issue, our team has used a combination of maven plugins to get a workflow to regenerate files in `src/main/java/io/swagger`. I figured I would write this here as this is the most relevant issue relating to overwriting a `pom.xml` file.

Flow is:
1. clean src
2. generate into target
3. copy to src
4. delete from target (to avoid duplicate classes)
5. compilation

I think

[2018-01-26 15:45] nateroling opened #7505 "[Objc] Mustache error generating Objc client podspec for 3.0.0"
##### Description

Generating Objective-C client fails with handlebars/mustache error:

[code]

##### Swagger-codegen version

3.0.0 snapshot (swagger-codegen-cli-3.0.0-20180112.231857-20.jar)

##### Swagger declaration file content or url

PetStore Example
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml

##### Command line used for generation

`java -jar ~/Dow

[2018-01-26 16:19] gumble42 commented on #3445
@wing328 yes, exactly. As the issue was closed recently I assumed that it was included in the v2.3.0 release.

[2018-01-26 16:40] Jonas-Bezzubovas commented on #4669
Hey guys, any updates of a promising OAS 3 Parser? Seems like everybody needs it (including me) and most of us are willing to build one but it's been a while now and there's still no "industry-standard" parser out there... at least none that I can find. It's funny how Swagger (OAS) official website is littered with OAS 3.0 terminology ('components', 'content', ect.) but editor.swagger.io raises an

[2018-01-26 16:46] MikeRalphson commented on #4669
Try `{ "openapi": "3.0.0" }`

[2018-01-26 17:03] tsiq-karold commented on #7453
Does anyone have any thoughts on this? Or should I submit a PR before discussing this further?

[2018-01-26 20:28] webron commented on #4669
For everyone here, in case you didn't notice we published a new version of the codegen yesterday, providing initial support for OAS3. Being a major version, there are numerous changes, not all related just to the OAS3 support. We encourage you all to read the release notes and the FAQ to see what has changed, and we're looking forward to your feedback and further contributions.

[2018-01-26 21:14] jonschoning commented on #4669
https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0

- OpenAPI 3.0 support.

Does OpenAPI 3.0 mean just that 2.0 specs can be converted to 3.0, or does it mean that the new features that OpenAPI 3.0 are now handled by the `java` generator?

The release notes don't specify how much of the new  OpenAPI 3.0 features are supported.

Specifically, for example, Multiple content-types

[2018-01-26 22:09] wol190 commented on #4669
Fantastic that to see the rc0 released, great news. It would be very helpful to see a usage example, since I'm struggling so `far:`

$ java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -l java -i ../petstore.yaml -o C:/tmp/server/petstore3/java
[Thread-0] INFO io.swagger.codegen.ignore.CodegenIgnoreProcessor - No .swagger-codegen-ignore file found.
[Thread-0] ERROR io.s

[2018-01-26 22:14] webron commented on #4669
@jonschoning - all great questions, thanks for bringing those up.

From the FAQ:

So yes, older versions would be automatically converted to OAS3.

As for multi media-type support, that's a great question for @HugoMario.

@wol190 (and everyone) - we're expecting this release to have some hiccups and missing docs. We appreciate everyone who's testing things out. For any issues found, I'd encourage

[2018-01-27 08:41] dnome2 opened #7508 "[python] is there a way to redirect response contents to a file?"
##### Description
One of the end point returns a file that needs to be downloaded/redirected to a file. Would like to know if anyone is aware or has tried similar response type. The response is contents of a compressed file and so i would like to redirect it to tar.gz file which i can rdirect and untar locally.

##### Swagger-codegen version

2.2.1

#####

[2018-01-27 09:58] wing328 commented on #6147
@kamyar1979 @deviant-studio the PR by @jimschubert has been merged into master. Please pull the latest master or use the SNAPSHOT version to give it a try.

Tweet to promote the new generator: https://twitter.com/wing328/status/957190593574199296

[2018-01-27 16:46] wol190 opened #7509 "[swagger-codegen-3.0.0-rc0] Build and swagger-codegen-cli.jar execution issues"
##### Description
When I build swagger-codegen-3.0.0-rc0 using "mvn clean package" there are errors and also when I run /swagger-codegen-cli.jar generate

##### Swagger-codegen version
swagger-codegen-3.0.0-rc0 from https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0

##### Swagger declaration file content or url: Cutdown Pet.yaml:
[code]

##### Command line used for generation

[2018-01-27 16:48] wol190 commented on #4669
@webron as requested, #7509 raised.

[2018-01-27 20:57] stcarrez opened #7511 "[Ada] Client call is not correct with multiple parameters and application/x-www-urlencoded"
##### Description

For the Ada client generator, when a REST operation uses application/x-www-urlencoded and several parameters the submitted body is sent empty. The client code compiles but it is not correct.

##### Swagger-codegen version

Version 2.4.0

##### Swagger declaration file content or url

The following operation will have incorrect code generated and the server will receive an empty

[2018-01-27 21:25] stcarrez opened #7513 "[Ada] fix PUT request and authentication checks for the server skeleton"
##### Description

The Ada server skeleton does not take into account the authsMedhods in the Shared_Instance package, thus making these operations unauthenticated.  The PUT request also fail to retrieve form parameters and parameters have to be retrieved by using the Context object instead.

##### Swagger-codegen version

Version 2.4.0

##### Swagger declaration file content or url

The following

[2018-01-28 06:48] #7485 closed

[2018-01-28 06:54] #7511 closed

[2018-01-28 06:55] #7513 closed

[2018-01-28 06:59] wing328 commented on #7482
@guoshimin the PR by @jonschoning has been merged into master. Please pull the latest master to give it a try.

[2018-01-28 07:00] #7482 closed

[2018-01-28 07:19] #7440 closed

[2018-01-28 08:52] yohanakh commented on #5557
I am facing this issue with 2.2.3 as well... **Sometimes** the tests are being generated.
Upgraded now to 2.3.1, hopefully it is fixed there.

[2018-01-28 14:11] wing328 commented on #3445
@gumble42 that's by design as the test files may have already been updated by the developers. To regenerate the test files, please remove them before regenerating the client again.

[2018-01-28 14:22] jimschubert commented on #5557
@yohanakh can you provide which generator and options you're using?

[2018-01-28 16:02] wing328 commented on #7446
@canadaduane Please file a PR so that we can review the fix more easily.

[2018-01-28 16:23] wing328 commented on #7123
@slarti-b the fix by @deki has been merged into master. Please pull the latest master to give it a try.

[2018-01-28 16:23] #7123 closed

[2018-01-28 17:13] wing328 commented on #300
@Gladskih please open a ticket with your feedback in the Swagger Parser repo: https://github.com/swagger-api/swagger-parser

[2018-01-28 17:31] #7179 closed

[2018-01-28 17:34] yohanakh commented on #5557
This is the plugin section in pom.xml:
 <plugin>
                <groupId>io.swagger</groupId>
                <artifactId>swagger-codegen-maven-plugin</artifactId>
                <version>2.2.3</version>
                <inherited>false</inherited>
                <executions>
                    <execution>
                        <id>generate-swagger</id>
                        <goals>

[2018-01-28 19:38] jimschubert commented on #7070
@jamesbar2 Sorry I've just seen this issue. My mother passed in September, and I took a hiatus from open source contributions for a while.

I'll try and have a fix for this by tonight or tomorrow night. I agree that, regardless of property naming, constructor parameters should follow Microsoft's naming guidelines.  The fix I have in mind will cause constructor parameters to always be generated in

[2018-01-28 20:14] computrade opened #7518 "Provider io.swagger.codegen.languages.java.JavaClientCodegen not found with maven plugin ver 3.0.0-rc0"
##### Description

Maven plugin throw error when using version  3.0.0-rc0 and the following configuration sample :

[code]

##### Swagger-codegen version

        <swagger-core-version>2.0.0-rc2</swagger-core-version>
        <swagger-annotations-version>1.5.18</swagger-annotations-version>

##### Steps to reproduce

run maven package and got this Exception in build time:
`
Exception in thread "ma

[2018-01-28 20:25] jimschubert commented on #7070
@jamesbar2 I've opened #7519 to fix this bug. I was wondering if you'd have a minute to evaluate the branch?

[2018-01-28 20:43] moshelav commented on #4327
on which version this fix included in?

[2018-01-28 23:36] thurt commented on #6728
thank you @jimschubert, a tagged version of swagger-codegen-cli was exactly what i was looking for.

it looks like the official  swagger-generator is tagged https://hub.docker.com/r/swaggerapi/swagger-generator/tags/ although this is an http interface instead of cli

[2018-01-28 23:41] canadaduane commented on #7446
@wing328 wrong github person, I think

[2018-01-29 01:10] nateroling opened #7521 "Where are the templates in 3.0.0?"
I would like to submit a PR to fix an issue in 3.0.0 (#7505), but I'm unable to find the templates.

I see some references in the commits to them being moved to another repo.

Am I able to contribute to the 3.0.0 branch, or is it not ready for that yet?

[2018-01-29 06:02] wing328 commented on #6728
I've asked @webron to do it as part of the 2.3.1 release. He's probably too busy these days and I think he will do it soon.

[2018-01-29 06:07] sreekanth-krishnan commented on #5371
I too have this issue. Is there any option to specify which all tags to include while generating client?
In my case I have large number of operations in the definition. The API is used by a web admin dashboard and a mobile app. While generating client sdk for Android app I want only a subset of endpoints in that and for some other client I may need all the endpoints. I was looking to do this using

[2018-01-29 06:09] wing328 commented on #7455
@robertocastro did you document the body parameter as "required" in your spec?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/lumen/api.mustache#L77-L81

[2018-01-29 06:10] wing328 commented on #7446
@canadaduane I'm sorry. Please kindly ignore.

[2018-01-29 07:52] macjohnny commented on #7407
@kewinbrand I agree with you that if the `operationId` is set, this would represent a better name for the interface.
Would you like to give it a try and file a PR?

[2018-01-29 07:54] #7465 closed

[2018-01-29 09:04] wing328 commented on #7289
Closed via https://github.com/swagger-api/swagger-codegen/pull/7375

[2018-01-29 09:04] #7289 closed

[2018-01-29 09:07] wing328 commented on #7269
@cledoux Do you mind filing a PR to fix the sample code when you've time?

[2018-01-29 09:16] wing328 commented on #4327
@moshelav please pull the latest master and see if you still encounter the issue.

[2018-01-29 09:18] wing328 commented on #6403
What about customizing the templates with the `-t` option?

[2018-01-29 09:48] wing328 commented on #7314
@kunalgithub what about using the `-t` option with the customized templates?

[2018-01-29 09:50] KeenS commented on #7126
Fixed in #7212

[2018-01-29 09:50] #7126 closed

[2018-01-29 09:51] wing328 commented on #7266
@Defozo the auto-generated is copied from the Java (okhttp-gson) generator.

May I know if you've time to fix the auto-generated doc? If yes, I can show you some good starting points.

[2018-01-29 09:52] wing328 commented on #7307
cc @taxpon @frol @mbohlool @cbornet @kenjones-cisco

[2018-01-29 09:52] asuka000 commented on #7518
the JavaClientCodegen 's package in io.swagger.codegen.CodegenConfig is wrong

wrong:
io.swagger.codegen.languages.java.JavaClientCodegen
io.swagger.codegen.languages.java.JavaInflectorServerCodegen

right
io.swagger.codegen.languages.JavaClientCodegen
io.swagger.codegen.languages.JavaInflectorServerCodegen

[2018-01-29 09:53] wing328 commented on #7312
Do you mean you need help using customized templates?

[2018-01-29 09:53] wing328 commented on #7118
Please use the latest stable version 2.3.1 and let us know if you still experience the issue.

[2018-01-29 09:53] #7118 closed

[2018-01-29 10:12] wing328 commented on #7116
@knom I've filed https://github.com/swagger-api/swagger-codegen/pull/7522 to add "operationIdOriginal". Please review to see if it looks good to you.

[2018-01-29 10:17] marcoreni commented on #7521
https://github.com/swagger-api/swagger-codegen-generators

[2018-01-29 10:21] #7200 closed

[2018-01-29 10:40] marcoreni opened #7523 "[3.0.0-rc0][java] Nested objects are not typified as before"
##### Description

In swagger 2 codegen nested objects with properties were correctly generated (there was a specific type declaration so that child properties could be correctly accessed).

In 3.0.0-rc0 (basic Java generation) these properties are lost: the object is considered a plain "Object" and there is no way to access the childs direcly.

##### Swagger-codegen version

3.0.0-rc0

##### Swag

[2018-01-29 12:41] gordey4doronin commented on #4839
@ranma42 @wing328 Can I ask to clarify a bit how to make the workaround you mentioned.

But it's already inlined, not referenced. 👇

As the issue says, I have this input yaml:
[code]

And I want to have a generated result like this:
[code]

But getting this instead:

[code]

[2018-01-29 13:46] #7201 closed

[2018-01-29 13:46] wing328 commented on #7201
Fixed in 2.3.1 stable release.

[2018-01-29 13:48] wing328 commented on #7173
One way we've been using is to use the following:
[code]
This will not output anything is `someTag` is false or empty.

Would that help?

[2018-01-29 13:50] wing328 commented on #7174
@bchess I would suggest you also try the `akka-scala` client as well since the focus will be on the `akka-scala` client.

[2018-01-29 13:51] wing328 commented on #7119
I don't think you can do that. You can only reference a model not a specified property of a model.

[2018-01-29 13:55] wing328 commented on #7132
cc @jgavris @ehyche  @Edubits @jaz-ah

[2018-01-29 13:56] wing328 commented on #7143
@a-voronov have you considered using customized templates with the `-t` option?

[2018-01-29 13:59] wing328 commented on #7101
Similar to other clients, we'll need to leverage the {{#consumes}} ... {{/consuems}} to get the content type of the requests sent from the QT5 C++ client to the server.

[2018-01-29 13:59] #7134 closed

[2018-01-29 14:00] wing328 commented on #7153
That's possible by using the `-t` option with the customized templates.

[2018-01-29 14:00] #7153 closed

[2018-01-29 14:00] #7177 closed

[2018-01-29 14:04] wing328 commented on #7030
I would suggest avoid using "array" to name your model if possible.

What about whitelisting "array" as a reserved word?

[2018-01-29 14:05] wing328 commented on #7062
You can do so by using the `-t` option with customized templates.

[2018-01-29 14:05] #7062 closed

[2018-01-29 14:06] wing328 commented on #7040
Please try the latest 2.3.1 stable version and let us know if you still encounter the issue.

[2018-01-29 14:06] #7040 closed

[2018-01-29 14:08] wing328 commented on #7052
@Danielku15 Please file a PR with the suggested fix when you've time.

[2018-01-29 14:10] wing328 commented on #7000
Please try the latest stable version 2.3.1. I would recommend also trying the `swift4` generator as well to see if you still experience the issue.

[2018-01-29 14:10] #7000 closed

[2018-01-29 14:10] wing328 commented on #6942
Closed via #7337

Please pull the latest master to give it a try.

[2018-01-29 14:10] #6942 closed

[2018-01-29 14:10] a-voronov commented on #7143
@wing328 looked at it, but wanted to know if there might be out-of-box solutions since I’m new to swagger and don’t know all the infrastructure and its abilities.
But if it’s the most fitting one, then I’ll go with it.
Thanks!

[2018-01-29 14:14] wing328 commented on #6918
Please try the latest stable version 2.3.1 and let us know if you still experience the issue.

[2018-01-29 14:14] #6918 closed

[2018-01-29 14:17] wing328 commented on #7143
There's no option to map property naming at the moment. Adding a vendor extension to `userName` and updating the corresponding template is the closest solution I can think of.

[2018-01-29 14:32] dewijant commented on #7518
quick workaround: edit swagger-codegen-3.0.0-rc0.jar/META-INF/services/io.swagger.codegen.CodegenConfig
fix wrong package paths

[2018-01-29 14:42] bradj commented on #7119
@wing328 Then shouldn't swagger-codegen fail on validation if this is not valid?

[2018-01-29 14:45] #7143 closed

[2018-01-29 14:49] wari commented on #6942
@wing328 Tested, and gave it a look. I can now `go get` with no problems. ❤️ the `localVarOptionals map[string]interface{}` instead of the old style calls, which made things mandatory. Breaks the old API, but this is better!

[2018-01-29 14:58] dewijant opened #7524 "[JAVA][3.0.0-rc0] NullPointerException - processOperation, because default tag is created"
##### Description

I get NPE in processOperation() in class DefaultGenerator
line848:
[code]
##### Swagger-codegen version

swagger 3.0.0-rc0

##### Swagger declaration file content or url

[code]

For generate i use maven plugin, here is
[code]
##### Steps to reproduce

run maven compile

I think it causes calling:  this.openAPI.getComponents().getSchemas on line 848 described above, because comp

[2018-01-29 15:05] wing328 commented on #6942
@wari thanks for testing the latest to confirm it's working for you.

[2018-01-29 15:12] slushie commented on #7119
@wing328 That's not a requirement in the spec. In fact, [the spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#reference-object) says:
[code]

The `{ $ref: "#/some/deeply/nested/object" }` syntax is perfectly valid syntax according to [the JSON reference RFC](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-02#section-3).

In addition to the _de rigueur_ definitio

[2018-01-29 15:21] nemecec commented on #7173
Yeah, I looked at the source code and saw such usage. While it does reduce whitespace it is still quite difficult to figure out what will be the exact output. And this is also rather error prone.

My proposal would make it much more explicit and less error prone. But I admit, it is quite a radical change which will most likely break any custom templates out there that users have written themselves

[2018-01-29 15:24] wing328 commented on #7173
Btw for 3.0.0-beta, the plan is to use handlebars instead of mustache: https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0

Let us know if you've any feedback on that.

[2018-01-29 15:30] wing328 commented on #7119
Just reopened it. Please open an issue in the [Swagger Parser](https://github.com/swagger-api/swagger-parser) project to report this.

[2018-01-29 15:32] wing328 commented on #7119
Please workaround the problem for the time being by specifying the property type directly instead of using $ref.

[2018-01-29 15:37] Jonas-Bezzubovas commented on #4669
Lol, for a second I thought that would fix it, but unfortunately I still get the error message:

`Schema error at swagger
should be equal to one of the allowed values
allowedValues: 2.0`

[2018-01-29 16:07] wol190 commented on #4669
Hi @Jonas-Bezzubovas. The following works fine for me in http://editor.swagger.io/. Hope that helps.
[code]

[2018-01-29 16:51] nateroling commented on #7521
@marcoreni It looks like only the Java generator templates are there...

[2018-01-29 16:54] strigazi commented on #4235
FYI, after PR #5308 a compatibility issue with evenlet started to occur.

I came across this [1] problem when using the kubernetes python client 4.0.0 with eventlet. So, clients generated with swagger-api:2.3.0 are incompatible with eventlet.

I'm not sure if there is any action to do here or if it must be fixed in eventlet.

[1] https://github.com/eventlet/eventlet/issues/147

[2018-01-29 17:03] marcoreni commented on #7521
As specified inside the release notes for 3.0.0rc0, for now those are the
only ones that have been posted to OAS..

Il 29 gen 2018 17:51, "nateroling" <notifications@github.com> ha scritto:

[2018-01-29 17:13] robertocastro commented on #7455
@wing328 it's not about optional or required but trying to implement 2.0 specs like here : https://swagger.io/docs/specification/2-0/describing-request-body/
Particularly this :  "The payload name. It is required but ignored (it is used for documentation purposes only)."
I documented a body parameter called 'body' but 'body' parameter is never sent when executing request from swagger-ui so server

[2018-01-29 17:18] Gladskih commented on #3609
Same problem as OP but in C#.
[code]
In debug MyApi instance uses config with JWT initialized, but do not add it to header and in Fiddler I see the request:

[2018-01-29 17:28] nateroling commented on #7521
Found the release notes, thank you!
https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0

[2018-01-29 17:28] #7521 closed

[2018-01-29 18:01] computrade commented on #7518
Thanks @dewijant , I have update the io.swagger.codegen.CodegenConfig and it solve the issue!

Now I get this:

`INFO] --- swagger-codegen-maven-plugin:3.0.0-rc0:generate (swagger-generate-client-code) @ openapi-client-java8 ---
[WARNING] Output directory does not exist, or is inaccessible. No file (.swagger-codegen-ignore) will be evaluated.
[WARNING] Not valid URL: https://{username}.gigantic-se

[2018-01-29 19:22] macjohnny commented on #7189
this could be related to https://github.com/swagger-api/swagger-codegen/pull/7510 or at least it could help finding the implementation for typescript / angular

[2018-01-29 20:28] phillbaker commented on #5460
@wing328 @sebdi I'm seeing this in the node and php clients with path parameters (using the latest version of the [swagger-codegen-cli docker image](https://hub.docker.com/r/swaggerapi/swagger-codegen-cli/).

Is it possible that the fix needs to be applied to the `CodegenParameter` class as well?

[2018-01-29 21:26] aykutakin commented on #6756
@wing328 @bjgill I am willing to help if you prioritize between this issue and [this one](https://github.com/swagger-api/swagger-codegen/issues/6250). It'd be great if you tell me which task has importance from your point of view.

[2018-01-30 02:37] qcarduinoyun opened #7530 "routing should be in routes/web.php for generated Lumen server stub"
##### Description

routing should be in routes/web.php for generated Lumen server stub ever since Lumen 5.3+.
The generated Lumen server stub put all routing in lib\app\Http\routes.php.
This works only for Lumen 5.2 and older version. Please refer to:
https://lumen.laravel.com/docs/5.2/routing#basic-routing

##### Swagger-codegen version

3.0

##### Swagger declaration file content or url

any API

[2018-01-30 03:05] webron commented on #6728
Both v2.3.0 and v2.3.1 of the cli have been tagged and pushed. Maybe there _is_ a bright side to me flying too much.

[2018-01-30 03:26] wing328 commented on #6728
Thanks. I'll uncomment the CircleCI config file to resume the build for Swagger Codegen CLI image.

[2018-01-30 04:05] andrewshilliday opened #7531 "[python] ApiClient.prepare_post_parameters should allow for FileStorage objects in addition to file paths"
##### Description

The python/flask-generate server code uses a FileStorage object to represent uploaded files.

My endpoint is supposed to call a subsequent API on *another* server and forward the same uploaded file, and do do this is uses an api_client as generated by the python client templates.  I would like to be able to pass the FileStorage object to the api_client directly, without having t

[2018-01-30 04:16] inforeqd512 opened #7532 "[Swift4] Can the APIHelper be made public?"
##### Description

THe APIHelper class contains useful methods like rejectNilHeaders which can be used in and out of the Swagger codegen code. However this cannot be used as the class is not public and the methods are internal

##### Swagger-codegen version

2.3.1

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues/

[2018-01-30 04:17] #7020 closed

[2018-01-30 05:42] wing328 opened #7533 "Swagger Codegen has reached 10000 commits!!"
Swagger Codegen has reached 10000 commits (10x since May 2014 )🎉🎊. Thanks for the contributions from 850+ contributors all over the world!👍👍👍

Tweet: https://twitter.com/wing328/status/958182202176454656

[2018-01-30 07:58] HugoMario commented on #7518
@asuka000 for codegen 3.0.0, these `io.swagger.codegen.languages.JavaClientCodegen and
io.swagger.codegen.languages.JavaInflectorServerCodegen` are the correct classes to use. This issue needs to be fixed using keeping those values.

[2018-01-30 08:05] HugoMario commented on #7530
@qcarduinoyun

if you are using codegen 3.0.0 you must keep in mind that currently this version supports only `java`and `inflector` languages.

[2018-01-30 09:53] marcoreni commented on #7518
I was able to work-around this issue by adding a `dependencies` block inside the `plugin` block:

[code]

Maybe the dependencies of the maven plugin are not up to date?

[2018-01-30 10:22] olivierpaquet commented on #4738
Is someone already working on the same issue for jaxrs-cxf?

[2018-01-30 10:32] bjgill commented on #6756
It rather depends on which of the two generators you're interested in. This issue covers enhancements to `rust-server`, a generator that produces a crate containing both client and server. #6250 covers enhancements to `rust`, a generator that produces a crate containing only a client.

From this issue, I believe that the status of the desired enhancement is as follows:
- Move to hyper 0.11: I beli

[2018-01-30 10:40] eeishaan commented on #7411
You can add go-server generator to the list as well.

[code]

When fed into the generator, I get the following error:
[code]

The generated stub looks like this:
[code]

[2018-01-30 11:05] Gladskih commented on #1889
From my point of view the real problem of C# generator is your ignoring SOLID principles. That's what leads to your problem of breaking backward compatibility due to exposed too much (forgotten encapsulation). Global objects, default configuration, implicite dependencies, side effects... Why?

Do you have example of using the code generated in a service with proper straight forward inversion of co

[2018-01-30 11:10] nemecec commented on #7173
Assuming that https://stackoverflow.com/questions/15953293/handlebars-whitespace-control lists the basic options for whitespace control in Handlebars, I would say that while it gives you more control, it is still rather complicated syntax-wise.

So I think my proposal is still better - easy to understand and reason about, resulting in better template readability and more pull requests from users.

[2018-01-30 11:16] albator1932 commented on #7012
Assuming RESTSharp should be in its last version to support .NET 4.5, I believe the version should be 105.2.3 instead of 105.1.0, right ?

[2018-01-30 13:51] inthegarage opened #7535 "Generating type with enums causes erroneous code to be generated"
##### Description
2.4.0-SNAPSHOT typescript processor is now processing ENUMS. However the processing is faulty.

Given a yaml model which has an enum portion invalid typescript code is produced.
This was discovered while checking:
https://github.com/swagger-api/swagger-codegen/pull/7479

##### Swagger-codegen version
2.4.0-SNAPSHOT

##### Swagger declaration file content or url

[code]

##### Com

[2018-01-30 13:52] jimschubert commented on #1889
@Gladskih Not to be pedantic, but SOLID principles don't prevent the issues you've listed. You can have a system that follows SOLID and still exposes static types and internals that should be encapsulated . ;) You're right, though, that there is opportunity for improvement.

I'll explain some concerns and considerations here. I've noted the question about the example (there's an open issue for thi

[2018-01-30 14:32] YaroslawEkimov opened #7536 "RubyClientCodegen.java seems doesn't support different naming conventions"
Hi guys, sorry if such issue already existed, I hadn't found it.
So the issue is I'm working on ruby sdk and bumped into problem with naming convention.
My config file is
{
	"moduleName": "RubySdk",
	"gemVersion": "1.0",
	"gemName": "ruby_sdk",
	"variableNamingConvention":"camelCase"
}

After my sdk is generated I see that naming convention still the same - snake_case. Hovewer in PhpClientCodegen

[2018-01-30 14:56] Gladskih commented on #1889
I just faced the problem: it's easier to develop own api client from scratch than integrate generated one. Custom template may be good... for enthusiasts, technology maniacs. But I've asked several my colleagues who used Swagger (from the both sides Api and Client) about their experience with Swagger-Codegen. And four of them said they didn't even try to autogenerate client as it too complex, and

[2018-01-30 15:32] macjohnny commented on #7535
@inthegarage could you please provide a swagger definition with the minimum details needed to generate an api?

also, looking at e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-angular-v4.3/npm/model/order.ts
it seems that enums in models are processed correctly.

The warning that you posted

indicates that `./src/app/model/Test.ts` and `./src/app

[2018-01-30 15:37] Defozo commented on #7266
Well, even if I had a time, I think I wouldn't be the right person for repairing that. I'm a beginner user of Swagger & Retrofit2.

[2018-01-30 15:49] inthegarage commented on #7535
@macjohnny The swagger definition provided above is the minimal that you need, simply add it to the definitions section of the yaml file. Only Test.ts existed with the contents as mentioned. The directory was cleaned.

I notice that in the order yaml the enum is defined as follows:

[code]

However we are using the array above is that relevant? Both seem valid when used with other plugins, so it's

[2018-01-30 15:56] macjohnny commented on #7535
@inthegarage from the swagger definition given above I don't see whether `test` is a parameter, or a model property, nor can I see that this should be an array of enums, which would be relevant for finding the error.
Please provide a valid, minimal swagger file for further analysis.

[2018-01-30 15:57] wing328 commented on #7266
@Defozo that's ok. I would suggest you try the default (`okhttp-gson`) Java API client instead, which comes with better documentation on how to use it.

[2018-01-30 16:05] wing328 commented on #7536
You're correct in saying that the Ruby client does not support `variableNamingConvention` as it contains the logic to serialize/deserialize JSON payload properly.

What issue did you run into with the Ruby client?

[2018-01-30 16:15] Bobrovskiy commented on #7312
https://github.com/swagger-api/swagger-codegen/tree/master/bin/windows

set "dir=%1"
set "codegenDocUrl=%2"
set "codegenDocConfig=%3"

set "apidir=Api"
set "modeldir=Model"
set "clientdir=Client"

IF EXIST "%dir%" (
    rmdir "%dir%" /s /q
)
IF EXIST "%apidir%" (
    rmdir "%apidir%" /s /q
)
IF EXIST "%modeldir%" (
    rmdir "%modeldir%" /s /q
)
IF EXIST "%clientdir%"  (
    rmdir "%clientdir%" /s

[2018-01-30 16:32] YaroslawEkimov commented on #7536
Hi, thank you for fast answer.
The issue is I have, for instance, this path for method: `/base/{name}/objectProperties/{propertyName}`
so as you can see path contains variables in camelCase. Then I want to replace all variables in path to correspond values like this:
`path.sub('{' + '{{paramName}}' + '}')` or `path.sub('{' + '{{baseName}}' + '}')` in my template. The first one gives me something l

[2018-01-30 16:32] inthegarage commented on #7535
No problem, this will produce the file as mentioned:

[code]

[2018-01-30 16:37] jimschubert commented on #1889
@Gladskih I actually didn't implement the original C# client, so I can't speak to the original design. I can say, however, that your expectations in your snippet align with my expectations about my refactor.

My goal is to have client methods which accept a path, a request object (similar to fetch API or other requestor patterns), and a per-request config instance (where we set generated options s

[2018-01-30 17:06] bademux opened #7538 "[BUG] For java Resttemplate Client there is no way to upload file with defined contentType"
Hello,
there is no way to do the same request (providing application/pdf) as
[code]
to do this ```java.io.File``` should be replaced with more generic ```org.springframework.http.HttpEntity```
[code]
HttpEntity allows us to use filename and file mime type.

My proposition is to replace [formParams.add("file", new FileSystemResource(file));](https://github.com/swagger-api/swagger-codegen/blob/maste

[2018-01-30 17:10] wing328 commented on #7536
Are you using the latest stable version (2.3.1)? The naming convention of the path parameters should be transparent to the users of the Ruby SDK.

[2018-01-30 17:10] wing328 commented on #7536
I'll also double check tomorrow when I've time.

[2018-01-30 17:15] macjohnny commented on #7535
@inthegarage I generated the code with your swagger definition and successfully included it in a dummy angular app created with angular cli.
[code]
![image](https://user-images.githubusercontent.com/5589029/35580468-6629270c-05e9-11e8-8aa3-c28448cbb3fb.png)

The app compiles successfully.

Could you please provide the relevant code where you are using the generated `test` enum, causing compilation

[2018-01-30 17:17] macjohnny commented on #7535
@inthegarage I am using TypeScript version `2.4.2`

[2018-01-30 17:24] inthegarage commented on #7535
The version is the same. I will set-up a clean environment to check this.

[2018-01-30 17:42] Gladskih commented on #1889
@jimschubert Oh, I'm glad to see the adequate reaction which I have in deficit in a daily life.

What I also would like to see is maximum possible immutability everiwhere.
Mutable Configuration is just awful on Api level. Mutable global default configuration is the way to waste weeks of life in debugging. So I prefer:

interface IConfig {
    ImmutableType Setting { get; }
}
class Config : IConfig

[2018-01-30 17:53] bademux commented on #7538
My hackfix:
[code]
Gradle task:
[code]

[2018-01-30 19:46] dnome2 opened #7539 "[Python] any option to print the header before api is called?"
# Description

Is there a way to print the exact header before actually sending the request?

##### Swagger-codegen version

2.2.2

[2018-01-30 19:56] matteomazza91 commented on #6818
Since
 * the commit f0b07b2 added the support for security definitions and
 * the commit 1b90a05 exploit it
I want notify that I create the PR #7537. It extends the security definitions with cookie auth (OpenApi 3.0.0).
I hope it can be useful if you want to extend the FinchServerCodegen

[2018-01-30 21:46] jamesbar2 commented on #7070
@jimschubert I'll check it out now!  Sorry to hear about your mom, thanks so much for taking a look a this!

[2018-01-30 22:01] aykutakin commented on #7347
I see the benefit of merging this two implementations (having one source of truth, increasing maintainability, no need to patch 2 different place etc.). However, what should people do that only need client code in case of these implementations are merged? Should they generate code and remove server code later? Exact opposite is also valid if they only need server code.

As far as I see from other

[2018-01-30 22:04] aykutakin commented on #6756
Thank you for opinions. Here are my comments:

I've tried to find his remaining work, but unfortunately couldn't see it anywhere. I can start this from scratch or continue from where @mirw left, if he is not willing to go on and share latest status.

I've started with just generating rust client. Is there an example documentation from other languages as an example for a starting point? Are we talk

[2018-01-30 23:04] nsFrankly commented on #6598
any update on "go" and "nodejs-server" support for open API 3.0 ? ETA ?
we are starting a new project , would love to support open API 3.0.

[2018-01-31 00:15] HugoMario commented on #7509
@wol190
when you have a chance, can you please check if this issue is still present?

[2018-01-31 03:40] YaroslawEkimov commented on #7536
I use 2.3.0

[2018-01-31 04:26] wy-z opened #7541 "[python][model] Should not import self"
##### Description

![image](https://user-images.githubusercontent.com/4213483/35605132-95240598-0681-11e8-8551-7fc7c7dd5b0d.png)

##### Swagger-codegen version

2.3.1

##### Swagger declaration file content or url

[code]

##### Command line used for generation

generate python sdk

[2018-01-31 10:33] mirw commented on #6756
I've been testing the hyper 0.11 stuff but not got it pushed publicly yet - hope to do so in the next day or two - sorry for the delay!

[2018-01-31 13:00] luism6n commented on #5442
Is this still present? I tried to reproduce with the following steps.

YAML file:

[code]

Generate the client code and link to the Go path:

[code]

Write the Go test code:

[code]

Spin up a cute Flask server:

[code]

Running `go test` yielded:

[code]

Server logs:

[code]

Seemengly there was no error. Did I do something wrong?

[2018-01-31 13:25] wing328 commented on #3609
@Gladskih please open a new issue to track the issue in the C# API client.

I assume you're using the latest stable version 2.3.1

[2018-01-31 13:34] jfiala commented on #4738
@olivierpaquet  I did the PR in summer last year as you already seem to have discovered. But currently I'm not working on it, so feel free to catch up and get it pulled in...

[2018-01-31 14:39] webron commented on #6598
@nsFrankly There's no ETA. This depends on community contributions, and are based on availability and capacity of it. You're welcome to submit PRs as well to help push this forward.

[2018-01-31 14:43] luism6n commented on #7391
This happens in version `2.4.0-SNAPSHOT`. Reproduced as follows:

Got [`petstore.yaml`](https://raw.githubusercontent.com/swagger-api/swagger-codegen/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml)

And add:

[code]

To the Pet object definition.

Generate the client:

[code]

Create a dummy server:

[code]

Run a Go test:

[code]

Running with or without commenting on that li

[2018-01-31 14:54] micheleISEP opened #7543 "[Ada] circular dependency in project (gpr) file"
##### Description

The default name for the generated project file (swagger.gpr) is the same name of an included file, which refers to the swagger Ada library:
https://github.com/stcarrez/swagger-ada

The output of the compilation of the code is:

swagger.gpr:14:17: circular dependency detected
swagger.gpr:14:17:   "/media/sf_shared/adarrowhead/ada-ah7/swagger.gpr" is imported by
swagger.gpr:14:17

[2018-01-31 15:00] wing328 commented on #7391
I thought removing `omitempty` would work. Can you also share the Go version you're using?

cc @antihax @bvwells

[2018-01-31 15:01] wing328 commented on #7463
Yup, Java client generator has the `withXml` option to support XML payload. May I know if you've time to implement something similar for Go client generator?

[2018-01-31 15:07] wing328 commented on #5442
Instead of submitting a raw JSON, my suggestion is to clearly define the object in the OpenAPI spec so that the object can be deserialized into JSON properly. (this is not to say the spec in the original post is invalid)

[2018-01-31 15:17] wing328 commented on #5460
@phillbaker yes please open a new issue with details for tracking instead and link it to this one.

[2018-01-31 15:20] mr1sunshine commented on #7463
@wing328 Yes. Actually, I'm already working on it. Will be ready soon.

[2018-01-31 15:27] wing328 commented on #7536
I did some tests and it works for me even though I changed the property naming in the spec.

If the path is `/base/{name}/objectProperties/{propertyName}`, how is the path parmeter (especially `propertyName`) documented in the spec?

[2018-01-31 15:47] cs94njw commented on #5276
Ditto!  Now works for me on Gradle, with old .json file.

[2018-01-31 16:07] wol190 commented on #7509
@HugoMario Many thanks for the update and support on this issue. I took the latest 3.0.0 snapshot. There are still errors, but I'm happy to say that I can use  swagger-codegen-cli.jar and build the resulting output. However, I haven't as yet tried to use the resulting java client.

Errors with mvn clean package
[code]
Errors with: java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.ja

[2018-01-31 16:41] HugoMario commented on #7509
@wol190 , most of them are actually `WARN`message, i'm going to update the log level. And fix that path with `gradle` file.

Thanks.

[2018-01-31 18:36] gorlins commented on #7541
ran into this too... did not occur in v2.2.3

[2018-01-31 18:39] nsFrankly commented on #6598
thx @webron , i'll submit a PR , meanwhile we will use swagger 2.0 , for a possible later auto conversion to open api 3 and code gen

[2018-01-31 23:24] scarter93 commented on #7509
This is also happening to me for spring generation

`Caused by: java.io.FileNotFoundException: /JavaSpring/model.mustache
        at com.github.jknack.handlebars.io.URLTemplateLoader.sourceAt(URLTemplateLoader.java:70)
        at com.github.jknack.handlebars.Handlebars.compile(Handlebars.java:357)
        at com.github.jknack.handlebars.Handlebars.compile(Handlebars.java:343)
        at io.swagger

[2018-02-01 01:37] luism6n commented on #7391
Sure:

[code]

[2018-02-01 03:11] wing328 commented on #7536
That's the problem as it's not the same as the one defined in the path `propertyName`

[2018-02-01 07:22] #7536 closed

[2018-02-01 07:27] HugoMario commented on #7509
@scarter93 , that happen because codegen `3.0.0` is supporting temporary only `java`and `inflector` languages.

For more details you can check [3.0.0-rc0 release](https://github.com/swagger-api/swagger-codegen/releases/tag/v3.0.0-rc0)

[2018-02-01 09:35] ymilin opened #7544 "[PHP] Bug deserialize default responses as a Model"
##### Description

I'm generating clients that make use of `default` responses for other HTTP codes (implying an error). It's defined as a Model (code, message) in `definitions` in the swagger file.

[code]

After generating the client API with swagger-codegen, when catching an `ApiException`, the deserialized response object `ApiException::responseObject` is empty (it is an an instance of `ErrorM

[2018-02-01 10:44] #7276 closed

[2018-02-01 10:45] #7380 closed

[2018-02-01 10:53] Jonas-Bezzubovas commented on #4669
Hey @wol190, that actually fixed it. Cheers mate

[2018-02-01 11:25] wing328 commented on #7116
Closed via #7522

Please pull the latest master to give it a try.

[2018-02-01 11:28] #7116 closed

[2018-02-01 12:13] craffael opened #7547 "[NancyFx] response of type 'file' not supported"
##### Description

If a swagger specification defines a response of type file,
then the generated nancy server stub produces code that compiles but that fails at runtime (see below).

##### Swagger-codegen version

Current master (2.3.1+)

##### Swagger declaration file content or url

If you post the code inline, please wrap it with
[code]

##### Command line used for generation
`generate -i C:\t

[2018-02-01 13:58] wing328 commented on #7347
Based on my experiences with other generators, I would suggest:
- consolidates the Rust client (`rust`, `rust-server`'s client code) into one
- if we need to support more than 1 HTTP library, we better do it with the `-l` or `--library` option with a swappable ApiClient `struct`

The consolidation does not imply which Rust client (`rust` or `rust-server`'s client code) is better.

The goal is to c

[2018-02-01 14:34] michael-simons opened #7548 "[JAVA] Generated API client contains invalid JavaDoc"
##### Description

I'm using swagger-codegen to generate a client (SDK) for https://api.aixigo.com/apidocs/apidocs/swagger.json (current snapshot attached for reference).

The source code can be compiled and tested via standard Maven package command, but during the attach JavaDoc phase the JavaDoc compiler fails with several wrong, generated comments, i.e.

This one fails because the reference to

[2018-02-01 17:58] Chexpir commented on #6375
@nbruno I reproduce the problem. it's very straightforward to reproduce, I'd say we need to reopen it. it happens on 2.3.1

2018-02-01 17:52:42.267  INFO 2195 --- [nio-8086-exec-3] piClient$ApiClientHttpRequestInterceptor : URI: http://localhost:18088/...-key/2134953542
2018-02-01 17:52:42.267  INFO 2195 --- [nio-8086-exec-3] piClient$ApiClientHttpRequestInterceptor : HTTP Method: GET
2018-02-01 1

[2018-02-01 19:08] HugoMario commented on #7524
@dewijant this was fixed on this [PR](https://github.com/swagger-api/swagger-codegen/pull/7552), can you please check it when you have a chance?

[2018-02-01 21:29] mudassirzulfiqar opened #7553 "Generate Retrofit via generator.swagger.io"
##### Description

How to Generate the API which used Retrofit via generator.swagger.io

##### Swagger-codegen version

Web Version
##### Swagger declaration file content or url
https://generator.swagger.io/

###

[2018-02-02 05:00] wing328 commented on #6375
@Chexpir I just reopened the issue. May I know if you've time to contribute a fix to the issue?

[2018-02-02 05:54] #6553 closed

[2018-02-02 09:20] violetelephant12 opened #7557 "[CPPRest] [C++]Object without properties results in segmentation fault in generated code"
##### Description

When generating code using a `swagger.yaml` file that includes an object without properties in the definitions like so:

[code]

the generated model file contains this fromJson function:

[code]

As you can see a shared_ptr is used that points to `nullptr` therefore every time I run my program I get a segmentation fault when `newItem->fromJson()` is called because it's trying to

[2018-02-02 09:36] #7543 closed

[2018-02-02 09:39] Chexpir commented on #6375
Locally, I have modified ApiClient not to log the response body, so I don't have the need to keep working on it. I'll take a look today and let you know if I find any alternative.

When I've worked in some other JBehave internal rest framework we couldn't read the response body twice, so I think is a design error, you cannot read the response body twice, so interceptors are not suit for purpose if

[2018-02-02 10:00] shwetas1205 opened #7559 "Tornado based python client does not allow DELETE method with body"
##### Description
With tornado framework in python, we have to use _allow_nonstandard_methods_ flag on HTTP client requests to permit methods other than POST and PUT to contain bodies. http://www.tornadoweb.org/en/stable/httpclient.html#request-objects

The tornado based client does not support that feature.

[2018-02-02 11:34] Chexpir commented on #6375
I've confirmed that the current model uses an InputStream to request the body, so non-minor design changes needed in order to maintain the response body logging, so I've decided it was better to remove the body logging.

[2018-02-02 14:12] ndurette opened #7561 "Should swagger-codegen automatically delete api that was deleted from the yaml"
##### Description

I have an issue with swagger-codegen not deleting previously generated classes.
If I delete a definition from my yaml file then should I need to delete the previously generated api and model?

I was expecting the codegen to take care of that, but I might be wrong.

[2018-02-02 14:21] inthegarage commented on #7535
I am closing this one as I cannot reproduce it anymore.

[2018-02-02 14:21] #7535 closed

[2018-02-02 14:31] inthegarage commented on #7302
@macjohnny  @wing328
After getting around my build compile issue, I find that sadly this fixed hasn't worked a 100%.
Please check the enclosed project. The default.service.ts still contains an issue:
[swagger-test.zip](https://github.com/swagger-api/swagger-codegen/files/1689658/swagger-test.zip)

You can do a mvn clean install in this project.
The error that is shown is as follows:

[ERROR] [0m

[2018-02-02 14:39] macjohnny commented on #7302
@inthegarage the api parameter in the method signature is called `contentPackageId`, but the request calls
[code]
Could you please provide a minimum swagger definition file?

[2018-02-02 14:56] inthegarage commented on #7302
That is in the file attached and also here: (swagger-test.zip)

[code]

[2018-02-02 14:59] xmeng1 commented on #5374
according to 2.3.1, the Configuration class not only contains property but also has several methods. So don't use ~~`{provide: Configuration, useValue: {withCredentials: true}},`~~.  replace with :

[2018-02-02 15:00] #7559 closed

[2018-02-02 15:02] macjohnny commented on #7302
@inthegarage your parameter name in the path does not match the parameter name in the parameters section:
[code]

With the following sample swagger definition containing correct parameter names
[code]
I get a valid output:
[code]
Using https://github.com/macjohnny/swagger-codegen/tree/bugfix/7476-typescript-angular-path-parameter-date

Please make sure you are actually building / using the jar fil

[2018-02-02 15:55] wing328 commented on #7561
@ndurette swagger codegen does not delete any files in the output directory at the moment.

A workaround is to removed auto-generated files (e.g. API, models, but not test files) before regenerating the client/server code assuming those files have been not manually updated.

[2018-02-02 15:55] macjohnny commented on #7561
@ndurette when using a code versioning system like Git, a simple approach is to delete the entire generated api folder and generate the api again.

[2018-02-02 16:20] wing328 commented on #7453
@tsiq-karold sorry for late reply and thanks for bringing this up.

Yes, please as I think that's the correct way to go and other clients (Python, PHP, Ruby, etc) offer similar methods and developers are happy with such method to retrieve the status and HTTP header so far.

[2018-02-02 19:27] nbruno commented on #6375
This is only true if you're not using a buffering request factory (see [this SO answer](https://stackoverflow.com/a/33009822/862594) for the full implementation). The [original pull request](https://github.com/swagger-api/swagger-codegen/pull/5404) documents this requirement and the default implementation of building the RestTemplate object within ApiClient will use the BufferingClientHttpRequestF

[2018-02-02 21:25] sahilbadla27 opened #7564 "aspnetcore not generating valid enums"
Description
aspnetcore server generation does not generate valid c# for enums with string values. eg
[code]
After running generate command the resultant code:
public enum EnrollmentStatusEnum
        {
            /// <summary>
            /// Enum NotEnrolledEnum for NotEnrolled
            /// </summary>
            [EnumMember(Value = NotEnrolled)]
            NotEnrolledEnum = 1,

[2018-02-02 21:29] sahilbadla27 commented on #7564
cc @jimschubert @jaz-ah

[2018-02-02 21:36] sreeshas opened #7565 "Invalid java client code is generated when body parameter is a map."
##### Description

When body parameter is a map, generated code is not correct.
Currently "Object" is generated. It should have been  Map<String, Object>

##### Swagger-codegen version 2.2.3

##### Swagger declaration file content or url
[code]

##### Command line used for generation
generate -i swagger.json -l java -o output

##### Suggest a fix/enhancement
Generated Code:
 public ApiResponse<Ref

[2018-02-02 21:55] inthegarage commented on #7302
@macjohnny Many thanks for the information. I can confirm that has corrected the issue. Looks like this parameter wasn't used properly/at all in typescript2/2.2.3 version. So the error has now been flagged up which is nice in a way. Thankfully no problem with this change.

[2018-02-02 22:24] webron commented on #7302
A little bit late to the party, but what you're trying to do here is not valid by the spec, and we should not support it in the codegen.

Having `/editheader/{packageId:.+}:` as the path, literally means there's a parameter called `packageId:.+` and not `packageId`. The spec does not support path-like parameters. If the functionality has already been added to the codegen, it needs to be _removed_.

[2018-02-02 23:24] inthegarage commented on #7302
@webron The. + pararameters are valid in a spring environment and this what is being supported here, otherwise parameters that have complex values are not processed properly. In spring generator the parameter is packageId and allows any following characters.
The. + are removed by the typescript processor as you say they aren't valid in the url part for clients.
This change is working correctly and

[2018-02-02 23:34] macjohnny commented on #7302
See also
https://github.com/OAI/OpenAPI-Specification/issues/502
and https://github.com/OAI/OpenAPI-Specification/issues/291

[2018-02-03 08:13] LeonorAz commented on #6598
Would it be possible to release a version, say 3.0.0-mininal, to support OpenApi spec 3.0 without the other major changes (handlebar, remote argument loading, moving templates, etc)?

We are happy to see those major changes but our highest priority is just OpenApi spec 3.0 support with our own mustache templates.

Thanks for great work!

[2018-02-03 10:41] matteomazza91 commented on #6598
@LeonorAz
I'm currently using the `3.0.0` branch with some little changes. Until a minimal release is ready, you can give it a try with very little changes to your template.

You need to pull the `3.0.0` branch and merge the PR #7488 . Another simpler way is to pull [this](https://github.com/matteomazza91/swagger-codegen/tree/fix_template_loading) but you will miss the latest commits in `3.0.0` br

[2018-02-03 11:53] rkcreadev opened #7567 "[SPRING] Can't configure model's toString method"
##### Description

Hello! I can't exclude some model's fields from toString methods when generating.

##### Swagger-codegen version
2.3.0

P.S.: I am using swagger-codegen-maven-plugin

[2018-02-03 15:17] aykutakin commented on #7347
Well, I can take over this issue, however I think it'd make sense to wait [hyper version upgrade](https://github.com/swagger-api/swagger-codegen/issues/6756#issuecomment-361891194) to deal with less complications

[2018-02-03 15:29] wing328 commented on #7347
Agreed 👍

[2018-02-03 18:12] Chexpir commented on #6375
In that case, I recommend to reject the PR, and close the reopened issue, as it´s not a defect but a specific restriction of the debugging functionality :-) Thanks for the help.

[2018-02-03 19:51] micheleISEP opened #7569 "[Ada] wrong code generated when 2 properties point to same definition"
##### Description

When processing a YML file with a parameters that has two properties that refs to the same "definition (see YML file), the adb file for the model has got a wrong "Deserialize" method, which cannot be compiled. For example, with the YML below, it has a line saying:
      Swagger.Streams.Deserialize (Object, "commands", Value.Commands);
that should be a:
      Deserialize (Object,

[2018-02-03 21:14] p-groarke commented on #7100
I'm having similar issues with vectors
[code]

Would you like me to open a different issue and/or link to my conan setup?

[2018-02-03 21:18] etherealjoy commented on #7100
@p-groarke
Ok the issue is still the same in 2.4.0. You can link it to this one.
Have you thought of a possible solution by any chance?

[2018-02-03 21:22] p-groarke commented on #7100
@etherealjoy This is my first use of swagger-codegen and swagger, so I have no idea (yet). I'm digging in your generator :)

Will let you know/send a PR if I have a solution. The build scripts aren't up yet as they're probably broken, but if I can't find any solution I'll at least upload them so you can test and debug with a pretty good and large public swagger api.

[2018-02-03 21:24] etherealjoy commented on #7100
@p-groarke
Yes, I would gladly test if you have some updates. I use the Docker Engine API to generate. It is fairly big and cover a lots of usecases.

[2018-02-03 21:25] p-groarke commented on #7100
@etherealjoy https://esi.tech.ccp.is/latest/swagger.json

Will upload my conan package soon.

[2018-02-03 21:39] p-groarke commented on #7100
@etherealjoy https://github.com/p-groarke/cpprest-esi
You'll need to add bincrafters remote and use --build missing. It is an absolute WIP ;)

The cmake I use (for conan) : https://github.com/p-groarke/cpprest-esi-cmake/blob/master/CMakeLists.txt

Cheers

[2018-02-03 23:04] mr1sunshine opened #7570 "[3.0.0][Golang] Support Golang in OAS3"
##### Description

Are there any already created issues about Golang support in OAS3? or should this issue be addressed to [https://github.com/swagger-api/swagger-codegen-generators](url)? As I can see now there is only java version available?

[2018-02-04 00:14] p-groarke opened #7572 "[cpprest] Empty vendorExtension causes build error."
##### Description

In api-source.mustache at line 384:
[code]
may be empty. Causes build error :
[code]
as that function doesn't exist.

API used to trigger error : https://esi.tech.ccp.is/latest/swagger.json

##### Swagger-codegen version

master

##### Swagger declaration file content or url

https://esi.tech.ccp.is/latest/swagger.json

##### Command line used for generation

java -jar swagger-c

[2018-02-04 02:13] #6375 closed

[2018-02-04 02:53] HugoMario commented on #7570
@mr1sunshine

yes, right now it should be addressed to https://github.com/swagger-api/swagger-codegen-generators

[2018-02-04 06:52] magiepooh opened #7573 "[Kotlin] support Kotshi"
##### Description
`Kotshi` is an annotations processor that generates Moshi adapters from immutable Kotlin data classes.
https://github.com/ansman/kotshi

Codegen for Kotlin uses Moshi. Kotshi is faster than using Moshi.

##### Suggest a fix/enhancement
`generate -i swagger.yaml -l kotlin -o out -D useKotshi=true`

[2018-02-04 07:44] magiepooh commented on #6892
Related PR: https://github.com/swagger-api/swagger-codegen/pull/7516

[2018-02-04 07:46] wing328 commented on #6892
Thanks again for the PR. Closing this.

[2018-02-04 07:46] #6892 closed

[2018-02-04 15:07] slarti-b opened #7575 "[JavaSpring] API-levle consumes should only affect relevant verbs"
##### Description

If I include the produces/consumes declarations at the top of the yaml spec then they are global and apply to every endpoint in the API.  This is why I want to include them there - it means I can define them once and that's it.

However, that means it also applies the `consumes` to GET and DELETE requests, which don't take a body.  I just wrote my first API using swagger, and my

[2018-02-04 16:58] advance512 commented on #4973
I still see this issue, even with v2.4.0 and v3.0.0.

Here's an example Swagger file, `murmur.yml`:

[code]

Generating a JavaScript file, for example with 3.0.0:

[code]

It generates this `QuestionSetLabel.js` file:

[code]

Have a good look at the `constructFromObject()` function:

[code]

The `data` parameter is never included in the return value. And `obj` is always undefined. Hence - we get

[2018-02-04 18:13] kkomissarchik commented on #4693
I just tried version 2.3.1 of the codegen and this issue is still there. Is there an ETA for fixing? If now, is there an alternative swagger pattern for error responses that does generate api classes in spring that can be used directly without making fixes by hand?

[2018-02-04 19:19] p-groarke commented on #7572
This is the endpoint. My intuition points me to a float/double problem.

[code]

[2018-02-04 19:36] bootstraponline opened #7578 "[swagger-codegen-3.0.0-rc0] Inflector missing gradle support"
##### Description

[code]

Inflector on the `3.0.0` branch lacks gradle support. A `pom.xml` file is generated, however there's no`build.gradle`

##### Swagger-codegen version

3.0.0

##### Suggest a fix/enhancement

Here's my gradle script.

[code]

Why is maven supported? It seems like it'd be less work to standardize on Gradle.

[2018-02-04 20:25] p-groarke commented on #7572
Ok I've debugged this and have an answer, working on fix.

`{{vendorExtensions.x-codegen-response.items.datatype}}` assumes the primitive is contained in an item. The api I'm using returns the value itself. Changing to `{{vendorExtensions.x-codegen-response.datatype}}` fixes the issue.

[2018-02-05 08:31] zkdzegede commented on #6553
@wing328  What version can I find this on?

[2018-02-05 08:31] zkdzegede commented on #6553
@wingsofovnia  Thank you for your help 💯

[2018-02-05 08:40] wing328 commented on #6553
@wing328 the latest master has the fix. You can pull the build the JAR locally or use the SNAPSHOT version as mentioned in the README.

[2018-02-05 08:50] tsiq-karold commented on #7453
Thanks @wing328.  Any thoughts on the backwards compatibility aspect?  Happy to leave those fields in for compatibility if needed but it will look a little odd.

[2018-02-05 08:51] vyshnavi-pilly opened #7579 "[Java][Feature Request]Show app description only if flown in client opts."
##### Description

As per DefaultGenerator class, if the config flown by client does not have an app description, the default description is set to "No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)"
Shouldn't there be a capability to show description only if flown in config? And show nothing if there is no description in the config. The above te

[2018-02-05 09:00] chiragmaheshwari commented on #5453
Hi..I want to integrate swagger codegen with my angular 4 application, please let me know any starting point for this...

[2018-02-05 09:20] wing328 commented on #7453
@tsiq-karold Most of the time we aim for backward compatibility but for this one, I would suggest we go ahead with the breaking change by removing those fields so as to prevent developers from experiencing the issue in the multi-threading environment.

We'll mark the change as "Breaking Changes without fallback"

[2018-02-05 11:40] bjgill commented on #6756
@aykutakin - on documentation, I'm not sure there is an equivalent in any of the other languages. What I was imagining was a quick-start guide for generating a `rust`/`rust-server`. Effectively similar to https://github.com/swagger-api/swagger-codegen#getting-started, but explicitly discussing the options that one might want to use. I'm not sure where such a guide would live, though.

[2018-02-05 11:58] bjgill commented on #7347
A few comments based on my knowledge of the design of `rust_server`:

Currently, `rust-server` has `client` and `server` features. This allows users to omit whichever one they don't need. The unused code will still be in the autogenerated output, but will be ignored by the Rust compiler when the appropriate feature is specified.

When creating `rust-server`, it was a deliberate design decision to

[2018-02-05 14:23] wing328 commented on #7347
Another option is to leverage the .swagger-codegen-ignore file to skip generating files for client or server if the user only needs either one of them.

`haskell` (servant) generator is another example that generates both server and client. Similarly, there's a Haskell client generator (`haskell-http-client`) to focus just on the client generation for Haskell developers.

[2018-02-05 15:54] xmeng1 commented on #6394
typescript-angular same issue

[2018-02-05 17:41] gurubook commented on #7444
Added revised pull request #7580.

[2018-02-05 17:51] jimschubert commented on #7564
Thanks, btw, for reporting this issue. I've opened #7581 if you'd like to evaluate the change.

[2018-02-05 17:57] sahilbadla27 commented on #7564
Thanks for quick response Jim. Will take a look.

[2018-02-05 18:38] jimmyjames commented on #7541
Seeing this as well on 2.3.0. Maybe related to #6839? (looking at the generated `# noqa: F401,E501` comments introduced there).

[2018-02-05 18:41] cbornet commented on #7575
I guess we could prevent setting the consumes if there’s no request body. Same for response body and produces.

[2018-02-05 18:42] cbornet commented on #7575
I wouldn’t do it based on http verbs though

[2018-02-05 20:04] sfreeman422 opened #7582 "[JAVA] Unable to resolve $refs using dot-segments."
##### Description

When trying to resolve relative references in a $ref that make use of dot-segments, swagger-codegen (specifically, it looks like swagger-parser) is unable to resolve paths that require going up one directory or more.

##### Swagger-codegen version

2.3.1

##### Swagger declaration file content or url

Existing Folder Structure:

[code]
$ref inside of foo.json:

`"$ref": "../../.

[2018-02-05 20:06] sfreeman422 commented on #7582
[code]

Call stack included for more information. Interesting note, the error message appears to only show `../../` whereas the $ref includes `../../../`

[2018-02-05 20:19] atbe commented on #2359
Is there any way we can *disable* the generating of documentation? In my case it's necessary and is causing heap errors because there is not enough memory on the machine. All I want to generate is the code.

[2018-02-05 20:19] slarti-b commented on #7575
Yeah, that's maybe a good option.  Achieves the same result I guess.  I was thinking HTTP verbs since that seems to be where the client restrictions are coming from so far, but the main objective is to say "my api understands these formats" at a global/header level and then have it skip it where it causes a problem by not being relevant.  Would still need to be an option I assume.

[2018-02-05 21:11] atbe commented on #6394
Python codegen same issue, swagger version `2.3.1`

[2018-02-05 21:32] #7582 closed

[2018-02-05 22:18] xmeng1 commented on #6394
according to my test (MacOS 10.13.3)
if I assign more than 8G for VM (such as **-Xmx9g**, **-Xmx8200m**, less than 8200m may lead to Exception in thread "main" java.lang.OutOfMemoryError: Java heap space, strange), the max of the object array can be **2147483645** (`Integer.MAX_VALUE - 2`). but I think the size of the object in the example set too high is not necessary.  Add the code as follow bef

[2018-02-06 00:14] tzimisce012 opened #7583 "[Java-PlayFramework] response with status 201"
##### Description
When the response status is 201 (created), the autogenerated controller is giving a 200 (ok).

##### Swagger-codegen version

2.3.0-SNAPSHOT

##### Swagger declaration file content or url

[code]
##### Steps to reproduce

Just check this [line](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaPlayFramework/newApiController.

[2018-02-06 00:30] developersteve opened #7584 "[Python] README not selecting authentication path for default example"
##### Description

Swagger spec works fine in PHP, Ruby, Java, csharp, etc however in python its selecting another path as the example for initialisation and not the path for authentication like in other languages.

##### Swagger-codegen version

2.3.1

##### Swagger declaration file content or url

<!-- if it is a bug, a json or yaml that produces it.
If you post the code inline, please wrap it w

[2018-02-06 05:24] HiroishiMasaya opened #7585 "[jaxrs-spec] generated folder is invalid."
##### Description

Swagger codegen write a following line in generated pom.xml file.

  <sourceDirectory>src/main/java</sourceDirectory>

But Swagger codegen create following folder.

  src/gen/java

##### Swagger-codegen version

2.2.2
2.2.3
3.1

##### Swagger declaration file content or url

Following code is invalid.

  [source]
  swagger-codegen / modules / swagger-codegen / src / main / java

[2018-02-06 05:47] LeonorAz commented on #6598
Thanks for information. I hope the team will consider the minimal release to make the migration easier.

[2018-02-06 07:06] EtonDoze opened #7586 "`additionalProperties` Free-Form Object is getting mis-categorized as `UntypedProperty`"
##### Description
As per the definition of `Free-Form Objects` described in Swagger documentation [here](https://swagger.io/docs/specification/data-models/dictionaries/), `additionalProperties: true` needs to be treated as dictionary values can be of **any** type.

I assume **any** is interpreted as **Object.class** in the world of Java.
During the parsing or codegen modeling (not sure), such an o

[2018-02-06 07:07] junseung opened #7587 "[JAVA] text/plain as response type throws exception"
##### Description

I use the swagger-codegen-maven-plugin and POST to an endpoint which returns "text/plain", which is in the swagger 2.0 spec.

It throws this exception
 "Content type \"" + contentType + "\" is not supported for type: " + returnType,
Content type plain/text;charset=UTF-8 is not supposed for type ..ResponseEntity

I kind of fixed this myself by adding this, though it isn't very pr

[2018-02-06 08:02] wing328 commented on #2359
@atbe One way is to use .swagger-codegen-ignore to whitelist the documentation folder.

[2018-02-06 09:25] slarti-b commented on #7575
@cbornet : I've been thinking about your comment a bit.  I do see the point that it reflects the definition more automatically.  My only concern would be that it makes the _routing_ dependent on the _current_ definition.

For example, suppose I have an API definition which produces JSON or XML (in the head) and includes a path `GET /foo/{id}` which initially only returns a status code to say if it

[2018-02-06 09:29] wing328 commented on #7585
@HiroishiMasaya yes, we noticed that as well: https://github.com/swagger-api/swagger-codegen/pull/7442#issuecomment-361043801

Would you have time to file a PR to fix the issue?

cc @jarlesat

[2018-02-06 09:34] michael-simons commented on #1737
FYI here's my current approach.

*Goal* Generate the client as the part of a bigger client project and integrate it fully with a standard maven build:

*Step*: Include Swagger dependencies and all the technology you need as dependencies

[code]

*Step*: Configure the swaggercodegen maven plugin to your needs:

[code]

_Note_ the temporary output directory: `${project.build.directory}/generated-sou

[2018-02-06 09:59] jmini commented on #7518
@marcoreni thank you for your input.

After a quick look at the [swagger-codegen-generators](https://github.com/swagger-api/swagger-codegen-generators) repository, I guess that it is better to use the released version of instead of the SNAPSHOT version (ie `1.0.0-rc0` version of the [swagger-codegen-generators](http://www.mvnrepository.com/artifact/io.swagger/swagger-codegen-generators/1.0.0-rc0))

[2018-02-06 11:29] dewijant commented on #7524
Hello @HugoMario fix about adding dependency to swagger-codegen-maven-plugin/pom.xml does not work.
Still same error Exception in thread "main" java.util.ServiceConfigurationError: io.swagger.codegen.CodegenConfig: Provider io.swagger.codegen.languages.java.JavaClientCodegen not found.

Next, I have not checked fix for NPE in DefaultGenerator.class yet.

[2018-02-06 11:34] batwad commented on #1737
@michael-simons this is my standard approach to generating client or server models - the trick is to disable all superfluous generations (e.g. docs, tests, supporting files etc.)

I've accepted the fact that I'll have to write the resource interface by hand because there's no way to get the plugin to generate anything remotely useful without jumping through a thousand hoops.

It's also daft I have

[2018-02-06 11:49] batwad opened #7589 "[JAVA] Better type mapping support"
##### Description

My particular frustration is with the mapping of date types.  I'm totally on board with `format: date` mapping to `java.time.LocalDate` and `format: date-time` mapping to `java.time.OffsetDateTime`.  But sometimes I want to map to `java.time.LocalDateTime`.  I know I can override the mapping with `<typeMappings>` but I want to be able to have a mix in my model.  That is to say I

[2018-02-06 11:59] Bhuvana-Kumar opened #7590 "[JAVA jaxrs] Is there any option to override operations grouping logic while generating apiImpl"
##### Description
 [JAVA jaxrs]
Is there any option to override operations grouping logic while generating apiImpl.
Grouping of impls is happening based on first of the path param.

Problem we face is, all our APIs' path start with version, for ex: v1/{some dynamic path param}/resource/action. We have around 500 APIs, and 500 methods are generated in single Java file. Is it possible to generate ba

[2018-02-06 12:03] dariota commented on #6394
I don't see why we shouldn't limit the size of the example - what benefit would you get from looking at a 2 billion item example array (with just generated default data in it) that you wouldn't get from a 10,000 (or even 100) item array?

[2018-02-06 12:33] xmeng1 commented on #6394
@dariota  Yes, I also think it is not necessary to use large size of example array here. But do you think is it better to hardcode a size in here? or is there any mechanism to define this size?

[2018-02-06 12:39] gbak opened #7591 "[kotlin] Error building kotlin-server with petstore yaml"
##### Description

Error generating the kotin-sever code when using the petstore sample yaml file.

Output:
[code]

##### Swagger-codegen version

master as of Feb 05, 2018

##### Swagger declaration file content or url
[code]
##### Command line used for generation

[code]

##### Steps to reproduce

Run the command above against the petstore yaml

[2018-02-06 12:40] dariota commented on #6394
For maximal configurability it should be something the user can set (with a sensible default), but at the same time I'm not a big fan of excessive numbers of options overwhelming users.

As a short-term fix, hardcoding a size will let the people having this issue actually use the specs they're trying to use. I'd argue for inclusion of a warning when the number of examples is reduced (or noting the

[2018-02-06 13:25] JFCote commented on #7583
Hi @tzimisce012 ,

I'm pretty busy right now but I will try to have a look in the next days. Since the big project we used to test and debug the generator was only using 200 responses, we never encountered this bug.

If you want to propose a PR, I will review it as soon as I can :)

Have a good day!

[2018-02-06 13:31] holger-romey commented on #7012
I had the same problem and i will use my **workaround** to upgrade a generated up to .NetStandard2.0

1.) First of all generate the ApiClient with Swagger CodeGen with this options: "-l csharp" "-c $Config" where $Config is the reference to my configuration file (json). Within this configuration choose "targetframework" = "v5.0"
2) This options will create a .Net Standard 1.3 portable version of t

[2018-02-06 13:58] jimschubert commented on #7012
Looks like we'd need to use one version for .NET 4.5 and higher, but current version for .NET 3.5/4.0 support.

I'm working on a full refactor of the ApiClient and Configuration usage, making it easier for users to extend functionality without copying code around. This will allow users to implement HttpClient instead of RestSharp, for example.

I plan to have this fully documented either in the ge

[2018-02-06 14:04] jimschubert commented on #7012
Also (sorry, can't edit my last comment on mobile) the newer version of RestSharp would mean our .NET 4.5 maps to 4.5.2. I don't know if that's a big deal, though.

If anyone wants to evaluate the client refactor I mentioned that I have in progress, let me know and I'll clean up my branch then link it here.