[2015-06-23 10:28] wing328 commented on #905
would you please elaborate a bit on the configPackage ? What does it do/change exactly ?

I checked in [JavaClientCodegen.java] (https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java) but couldn't find any configPackage

[2015-06-23 10:29] wing328 commented on #903
Agreed that it's odd. Not sure if bouncing the server would help.

[2015-06-23 12:39] wing328 commented on #907
My guess is that it's due to https://github.com/swagger-api/swagger-codegen/pull/865. I'll look into it and submit a PR if it's confirmed the case.

[2015-06-23 14:03] FossiFoo commented on #205
Do you plan on supporting the native "java.time" LocalDate & LocalTime in generated clients? At the moment i'm overwriting the importMappings in a custom CodeGen, but that doesn't feel so nice.

[2015-06-23 14:42] wing328 commented on #907
Submitted #908 to fix it. Please help perform a test.

[2015-06-23 15:05] cosbor11 commented on #905
Sorry, i wasnt very clear...It's the output folder name.
"io.swagger.configuration" would like to be able to rename to
com.mycompany.api.config. similarly you can do this to the other folders.

On 3:28AM, Tue, Jun 23, 2015 wing328 <notifications@github.com> wrote:

[2015-06-23 15:35] javier-alvarez commented on #896
Another problem with objective-c. If a property of a definition is called "description" this conflicts with the NSObject description and it doesnt fail at compile time but at run time the description is something different. Do you know how long it could take to fix this things? I really need this fixed. Many thanks

[2015-06-23 18:37] galagar opened #909 "Parameter items is null"
When parameter has type value as "array" and items has the value of invalid format then item object itself return as null. It would be better to skip the format not the  items object as a whole.

Example :
[code]

[2015-06-24 06:06] wing328 commented on #903
Not sure what has been done but now seems like the issue has gone for spring-mvc:

14|⇒ unzip 1435125721805
Archive:  1435125721805
  inflating: spring-mvc-server/src/main/resources/swagger.properties
  inflating: spring-mvc-server/src/main/java/io/swagger/model/User.java
  inflating: spring-mvc-server/src/main/java/io/swagger/model/Order.java
  inflating: spring-mvc-server/src/main/java/io/swagge

[2015-06-24 08:08] webron commented on #909
In 2.0, any string value to the format field is a valid value, whether the codegen knows what to do with it or not. In general, we should add an extension mechanism to allow handling of custom formats.

[2015-06-24 09:26] wing328 commented on #896
I'm not a ObjC expert so I can't provide you any ETA.

Looking at the definition, my understanding is that the method will send (upload) the image to the server. Have you considered using the `file` type for uploading the image ?

Under `consumes`, it supports 5 different MIME type. Can the endpoint really accept so many different types for image upload ?

[2015-06-25 05:23] wing328 commented on #903
@mohsen1 if you could no longer repeat the issue, would you please close this issue? Thanks.

[2015-06-25 13:39] alfonsodev commented on #325
I could help with the golang client, I forked and create a golang_client_support branching from develop_2.0  https://github.com/alfonsodev/swagger-codegen/tree/golang_client_support
@fehguy can you send me a pull request with the structure ? If I have to only work with templates I'm pretty sure I can do it.
thanks!

[2015-06-25 14:07] wing328 commented on #325
@alfonsodev thanks for offering help for the Golang client.

To start with, I would suggest you look at the work done by @casualjim as a reference. His latest PR (not merged) for another project (swagger-go) should be a good starting point - https://github.com/go-swagger/go-swagger/pull/6.

Let me know if you need any help or have any questions..

[2015-06-25 15:54] mohsen1 commented on #903
In online editor it's still not working properly. Just try it via Swagger Editor.

[2015-06-25 17:46] mikebz opened #917 "Compiling and Unit Testing with Java 1.8"
I have Java 1.8 installed on my Mac and I was hoping not to install both 1.7 and 1.8.

When I run
[code]
I get errors:

[code]

Has anyone tried running the compiler with javac -target 1.4  or has done any other upgrades to make Swagger compatible with 1.8?

My environment:
java version "1.8.0_45"
Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.45-b

[2015-06-25 17:48] webron commented on #917
Not an issue with the code but with maven - http://stackoverflow.com/questions/18813828/why-maven-use-jdk-1-6-but-my-java-version-is-1-7/19324816#19324816.

[2015-06-25 17:58] mikebz commented on #917
It looks like using this solution from StackOverflow:

"add the following to your ~/.mavenrc:
export JAVA_HOME=/Library/Java/JavaVirtualMachines/{jdk-version}/Contents/Home"

Has got me past the build and unit test issue:
[code]

[2015-06-25 17:58] #917 closed

[2015-06-26 00:51] wing328 commented on #903
Just tried SwaggerEditor and here is the result

![screen shot 2015-06-26 at 8 48 17 am](https://cloud.githubusercontent.com/assets/934260/8368689/35a8643a-1be0-11e5-97b7-9b27573651ed.png)

I could find ProductsApi.java, EstimatesApi.java, MeApi.java, HistoryApi.java.

[2015-06-26 03:41] mohsen1 commented on #903
Please try using the swagger spec pasted in this issue

[2015-06-26 06:07] neoecos opened #920 "Ruby _deserialize error for type number"
The type  number is not correctly deserialized in the base_object, the `Swagger.cons_get(number).new` fails.

Solved adding the case

[code]

[2015-06-26 06:39] xhh commented on #920
Hi @neoecos! Thanks for reporting this. However, I could not repeat the issue with a `number` model property, which works well for me.
Have you tested it in the latest **develop_2.0** branch?

[2015-06-26 08:05] aeonyin opened #921 "Can't build with `mvn package` on swagger-codegen"
Apache Maven 3.0.5
Java version: 1.7.0_79, vendor: Oracle Corporation

After cloning, and following the Building step:  mvn package -X

It show errors:

Downloading: https://oss.sonatype.org/content/repositories/snapshots/org/sonatype/oss/oss-parent/5/oss-parent-5.pom
[DEBUG] Writing resolution tracking file /home/aeon/.m2/repository/org/sonatype/oss/oss-parent/5/oss-parent-5.pom.lastUpdated
[DEBU

[2015-06-26 08:18] cosbor11 commented on #903
Just tried again; not working. It only generated the model classes

On Thu, Jun 25, 2015 at 8:41 PM, Mohsen Azimi <notifications@github.com>
wrote:

[2015-06-26 08:20] wing328 commented on #921
Pull the latest master and it's working fine for me

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] swagger-codegen-project ............................ SUCCESS [  1.176 s]
[INFO] swagger-codegen (core library) ..................... SUCCESS [  8.761 s]
[INFO] swagger-codegen (executable) ....................... SUCCESS [  4.587

[2015-06-26 08:30] aeonyin commented on #921
Could help me to check it?

aeon@k8s-master:~/python_api_k8s/swagger-codegen$ mvn package
[INFO] Scanning for projects...
Downloading: https://oss.sonatype.org/content/repositories/snapshots/org/sonatype/oss/oss-parent/5/oss-parent-5.pom
Downloading: http://repo.maven.apache.org/maven2/org/sonatype/oss/oss-parent/5/oss-parent-5.pom
[ERROR] The build could not read 1 project -> [Help 1]
[ERROR]
[ER

[2015-06-26 09:17] paullo0106 opened #922 "Missing custom abort message via generated API client"
My application is based on [flask-restful-swagger](https://github.com/rantav/flask-restful-swagger), [swagger-codegen](https://github.com/swagger-api/swagger-codegen/), and python.

I universally use `abort()` in server side logic for unexpected situations, and it works fine on swagger UI (the abort reason is displayed fine).

[code]
![swagger-issue](https://cloud.githubusercontent.com/assets/4966

[2015-06-26 10:27] wing328 commented on #922
I noticed that in rest.py, there is a class named "ApiException" defined.

https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/samples/client/petstore/python/swagger_client/rest.py#L166

When the HTTP 400 occurred, were you able to catch the ApiException ?

[2015-06-26 13:01] paullo0106 commented on #922
Thank you, @wing328 , I might need some further investigation on those code to see if it's helpful for my scenario. I don't think I include an `ApiException` class in my current code base. Do you know any more information or use cases for `ApiException`?

[2015-06-26 13:08] wing328 commented on #922
If you look at the code:
[code]
it stores the HTTP body in `self.body`, which means it should meet your requirement to obtain the error message in the body of the HTTP 400 response.

(other languages such as Ruby, PHP have similar ApiExcpetion object to store the HTTP header and body in the error response should developers need those information for error handling, troubleshooting, etc)

[2015-06-26 15:48] wing328 commented on #903
FYI. Did a test again with master version of swagger-codegen and confirmed it's able to generate the "api" files. Here is part of the output:

[code]

Really have no idea why the online codegen server behaves differently

[2015-06-26 17:57] sundriver commented on #906
Thanks for looking into this, don't know why scalatra generated that swagger spec with Object in it. Anyways, after changing my model, I noticed I am getting the same error with:

geo_area":{
               "position":2,
               "type":"array",
               "items":{
                  "type":"array",
                  "items":{
                     "type":"number"
                  }

[2015-06-26 18:03] paullo0106 commented on #922
Thanks @wing328, I think I probably need to check how to update my `ApiClient` code with some latest changes like in https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/samples/client/petstore/python/swagger_client/rest.py#L166
I will report what I find out later.

[2015-06-27 01:20] wing328 commented on #921
To troubleshoot the issue, I would suggest you to use mvn to build other packages (e.g. https://github.com/swagger-api/swagger-core or packages not related to Swagger) to see if mvn is correctly setup in your machine.

[2015-06-27 01:22] wing328 commented on #906
@sundriver can you please given an an example of what `geo_area` looks like ?

[2015-06-27 01:45] mohsen1 opened #925 "No way to start the swagger-jaxrs-server"
_From @cosbor11 on June 27, 2015 0:44_

Steps to reproduce:

1) Enter a valid swagger 2.0 json spec into the editor
2) Go to Generate Server > JaxRS
3) Download zip and unpack
4) Build the project
5) Run the `java -jar swagger-jaxrs-server-1.0.0.jar` command
* ISSUE:  The server doesn't start. Gives this message:
[code]

Also, the pom does not reference any MainClass

Also, there is no README.md o

[2015-06-27 02:25] aeonyin commented on #921
OK, I will try it, and let u know, thanks your suggestion.

[2015-06-27 09:52] wing328 commented on #925
Agree that a README would be a good starting on how to use the auto-generated code.

[2015-06-27 21:25] olensmar commented on #925
I'll have a look at this - I'm guilty of the latest version of the jaxrs server side gen

[2015-06-27 23:17] cbornet commented on #347
Hello,

:+1: to have the info available for the template. I am sure the community will implement oauth2 in the different languages once it is available.
I did the following in the codegen to get oauth2 data in the templates:
CodegenSecurity.java
[code]
DefaultCodegen.java
[code]

Example template:
String[] scopes= new String[] { {{#authMethods}}{{#scopes}}{{^-first}}, {{/-first}}"{{this}}"{{/scope

[2015-06-28 00:44] cbornet commented on #347
Hello,

:+1: to have the oauth data available for the templates.
I did the following:
CodegenSecurity.java
[code]
DefaultCodegen.java
[code]
DefaultGenerator.java
[code]

Then in the template, you can get the operation scopes with:
[code]

[2015-06-28 07:14] cbornet commented on #347
Hello,

:+1: to have the oauth2 data available for the templates.
I did the following in my project to have it:
CodegenSecurity.java
[code]
DefaultGenerator.java
[code]
DefaultCodegen.java
[code]

With this you can for instance get the operation scopes in the template with:
[code]

[2015-06-28 07:52] wing328 commented on #347
@cbornet :+1:

Thanks for your work on supporting OAuth in Swagger Codegen project. Do you mind submitting a PR for develop_2.0 branch ? Let me know if you need any help submitting a PR.

[2015-06-29 08:08] ThomasBarnekow opened #928 "C# client does not support text/html output"
I have created a swagger.json file (through Swashbuckle) describing an API that produces text/html (nothing else). The response for "200" defines a schema with a prinitive "type": "string" (no format).

Now, with swagger-ui, everything works nicely. The response body contains the HTML returned by the Web API. The generated C# client, however, tries to deserialize the string into JSON, which obviou

[2015-06-29 08:16] ThomasBarnekow opened #929 "C# client using IO.Swagger.Model even if no model is defined"
The C# client classes in the `IO.Swagger.Api` namespace include a
[code]
statement even if no model class (in the `IO.Swagger.Model` namespace) has been generated. The code won't compile in this case.

[2015-06-29 08:17] wing328 commented on #319
For C#, I've submitted a PR #927 to support the feature.

@lakeba do you mind help doing a test to see if it would meet your requirement ?

[2015-06-29 08:39] ThomasBarnekow opened #930 "C# code generation does not observe C# naming conventions"
C# uses Pascal case (e.g., PascalCase) for class, method, and property names, for example. C# uses camel case (e.g., camelCase) for variable and parameter names, among other things. The generated C# code uses an inconsistent naming scheme.

Firstly, properties use camel case. Examples include all properties in the `Configuration` class and the `apiClient` property in the generated `XyzApi` class.

[2015-06-29 14:26] wing328 commented on #928
@ThomasBarnekow thanks for reporting the issue. I've put in a fix in my latest C# PR #927

I wonder if you can help perform a test to confirm it fixes the issue for you.

I notice you've other feedback as well such as C# style guide (which is partly addressed in the same PR) but I'll review again to make sure the output (C# code) conforms to the style guide.

[2015-06-29 15:09] ThomasBarnekow commented on #928
Happy to test. How would I do that?

[2015-06-29 15:27] wing328 commented on #928
I just pushed a fix to the parameter naming (e.g. petId instead of PetId). Please help review that as well

Here are the steps:
- git clone https://github.com/wing328/swagger-codegen
- git checkout csharp_file_response
- mvn clean && ./bin/csharp-petstore.sh

or you can use the CLI to test:
[code]

[2015-06-29 15:51] wing328 commented on #929
@ThomasBarnekow thanks for reporting the issue. I'll spend some time tomorrow to explore a solution as other languages (e.g. Java) may face the same issue.

[2015-06-29 15:51] wing328 commented on #930
Should be addressed in #927

[2015-06-29 20:06] lakeba commented on #319
I will do

[2015-06-29 21:13] ThomasBarnekow commented on #928
I've now tested your PR. Here's what I found out:

1. The naming convention issues are fixed. This looks good now (and I'll spare you any other nitpicks for now ;-)
2. The `using IO.Swagger.Model;` is still generated, even though I don't have any models defined in my swagger.son (which I manually edited because Swashbuckle creates an `Object` model that is not used (about which the swagger editor

[2015-06-29 21:53] ThomasBarnekow commented on #928
I've now replaced `FileStream upload` with `string upload` in the signature of the API methods that are created (with upload being the name of the parameter denoting the name of the file to be uploaded in my example). It now works! Thus, using `FileStream` as the C# type for Swagger input parameters having `"type": "file"` created the problem.

[2015-06-29 22:55] lakeba commented on #928
@ThomasBarnekow Could you please share here your API methods signature?

[2015-06-30 02:34] wing328 commented on #928
@ThomasBarnekow thanks for performing the tests. The reason why i switched to FileStream is because file can also be used as a response (file download) and returning a FileStream should be easier for developers to handle the downloaded file (so that they can read/move the file right away)

Here is an example on how to upload the file:
[code]

For 4, did you get the same error using the sync versio

[2015-06-30 02:40] wing328 commented on #928
For 2, are you using the latest version of Swashbuckle, which should have the `Object` issue fixed?

[2015-06-30 05:15] cosbor11 opened #934 "The Spring MVC Server swagger-ui webapp is not working"
Steps to reproduce:
1. Generate a SpringMVC server skeleton
2. Execute this command to start the project:  `mvn jetty:run`
3.  The readme says:

ISSUE: No you can't; 404

[2015-06-30 05:20] cosbor11 commented on #925
There are many ways to start a jetty server. https://wiki.eclipse.org/Jetty/Howto/Run_Jetty
After much trial and error, I figured out that to start the swagger server skeletons you must run the `mvn jetty:run` command.

Most people in the java world use Tomcat rather than jetty for actual projects.

[2015-06-30 07:40] ThomasBarnekow commented on #928
@labeka Here's the swagger.json for my web service (running on Azure):
[code]
Here is the C# interface that is generated:
[code]
When I change `FileStream upload` into `string upload` (everywhere, of course), everything works fine.

In my code, I created the stream with `new FileStream("Contract.docx", FileMode.Open)` (note the absence of `FileAccess.Read`). The generated code passes only the file

[2015-06-30 08:04] wing328 commented on #928
@ThomasBarnekow thanks for sharing with us how you create the FileStream and the issue you encountered.

Seems like using Stream (e.g. FileStream) would make things complicated. I'll switch back to the old method using "string" (full path to the file) and update the response to return the file path (in the temp folder) instead. If this won't meet your requirement or you foresee potential issue, pl

[2015-06-30 08:52] lakeba commented on #928
@ThomasBarnekow How you getting contractarchitect.azurewebsites.net in host ? I am only able to get domain:80

[2015-06-30 09:52] wing328 commented on #928
@ThomasBarnekow updated the PR to use "String" for file type. Please kindly perform another test to see if now works better for you.

[2015-06-30 10:00] ThomasBarnekow commented on #928
@lakeba I'm not sure I understand your question. The swagger.json was generated by Swashbuckle which infers the host name from the server's URL. I did not enter that manually. And note that I manually removed the model declaration from the generated file, which is why the one I posted here does not contain that.

Anyhow, as I deployed the same web service to multiple servers, I create the `ApiClie

[2015-06-30 10:09] ThomasBarnekow commented on #928
@wing328 Thanks, I will be able to test in the evening (German time).

Considering the response type, getting a `Stream` back as the response is fine. I would ideally have the choice of processing everything in memory rather than having to store files on disk. File I/O will slow things down, so I'd only want to create a file if that's what I need.

Can you know and control how the whole processing

[2015-06-30 10:23] wing328 commented on #928
Given that the type `file` is used for both upload and download, it must be of the same type - both set to `String` in the latest PR.

I would like to custom it to use stream but it would not be easy (like we need a separate type in the spec to achieve this)

To answer your question, the returned `file` is a String (full path) with the file stored on disk (in the temp directory or a directory spec

[2015-06-30 11:05] ThomasBarnekow commented on #928
Leave it like that that for now. We can talk about optimizations at a later point in time. Thanks a lot!

[2015-06-30 11:14] McFoggy opened #936 "ClassCastException: io.swagger.models.RefModel cannot be cast to io.swagger.models.ModelImpl"
Hi,

I am trying to generate static documentation for my API definition

`java -XX:MaxPermSize=256M -Xmx1024M -jar modules\swagger-codegen-cli\target\swagger-codegen-cli.jar generate -i swagger.json -l html -o target`

using both `master` & `develop_2.0` branch I have the following exception
[code]

I have isolated my issue. It comes from the definition of a model using `allOf` and 2 references to

[2015-06-30 14:30] wing328 commented on #936
@McFoggy I'm able to repeat the issue. Based on some testing, seems like codegen is expecting the model to have "properties". If I update `Client` as follows, I could no longer repeat the issue:
[code]

I wonder if you can try adding the same (a property) to see if the issue goes away.

This is not to say it's an acceptable workaround but to confirm codegen is expecting a model to have at least on

[2015-06-30 14:44] McFoggy commented on #936
I confirmed that your workaround worked when I added a dummy property at all places where I used 'only' allOf for composition.

[2015-06-30 14:56] wing328 commented on #936
@McFoggy Thanaks. I'll look into the issue and hopefully can find a fix tomorrow.

[2015-06-30 16:16] mohsen1 opened #937 ""Generate server" fails depending on ordering of nested 'definitions'"
_From @marcosoldati on June 30, 2015 13:30_

In this example `definition c` is referencing `a` and `b`.
[code]

If `c` appears before the definition of `a` and `b` "generate server" (any) fails with the following error:

    message: "Unable to build target: A target generation was attempted, but no files were created!"

If `c`appears after `a` and `b`everything looks fine.
[code]

_Copied from or

[2015-06-30 19:35] lakeba commented on #928
The Json you shared with us have the "host" : "contractarchitect.azurewebsites.net", the json from  http://contractarchitect.azurewebsites.net/swagger/docs/v1 have "host" : "contractarchitect.azurewebsites.net:80", just curious to understand the difference.

[2015-06-30 20:10] ThomasBarnekow commented on #928
@lakeba As I said, I edited the swagger.json, e.g., to remove the unused Object model. I guess I removed the ":80" as well.

Did you have an issue with the HTTP port number being added? I don't know whether that is added by Swashbuckle or the swagger-ui.

[2015-06-30 20:41] lakeba commented on #928
Yes I have an issue with the HTTP port number as Android VM is interpreting the :80 wrongly and I am still trying to understand from Swashbuckle guys how to remove it.

[2015-06-30 20:54] ThomasBarnekow commented on #928
@wing328 Good news. I've tested your latest commit and it works :-)

I then thought it would be time to talk about some nitpicks, e.g., the fact that some comments are not well-formed and that we could optimize some code. In the following example, the param tag is not closed and the constructor could be streamlined:
[code]
It could look like this:
[code]
I closed the `param` tag and removed the `r

[2015-06-30 21:20] ThomasBarnekow commented on #928
@lakeba Just tried a URL with a port number, using the C# client. No problem here.

In this case, the port number is not really required because 80 is the well-known port for HTTP. But what would happen if you had to access a web service listening to 8080, for example? Would that be a general problem with the Android VM?

[2015-07-01 01:19] wing328 commented on #928
@ThomasBarnekow yes, it's a hack and understood that they're essentially the same. I'll take another look to see if the "original" type (file) is available somehow.

For the return tag, I'll update it to make it available only if it has a return.

[2015-07-01 07:41] wing328 commented on #928
Updated the PR to omit <return></return> if the endpoint returns void.

For "File" type, I checked again and confirm currently there's no way for the template to obtain the original type before the mapping. I totally agree the workaround (hack) is not pretty.

To avoid the hack, one way we discussed before is to use `Stream` for file (parameter input and response) but it would take some time to im

[2015-07-01 07:52] ThomasBarnekow commented on #928
@wing328 I have had a look at the `RestSharp.RestClient`. It uses the `FileParameter` class to represent files to be uploaded. It is in fact very flexible because you can effectively use multiple ways to provide file data.
* Firstly, you can just specify a file's path, meaning the `RestRequest` instance will create an `Action<Stream>` that reads the file and copies its contents onto the `Stream` i

[2015-07-01 08:05] wing328 commented on #928
@ThomasBarnekow so I think the way to go is to use `Stream` unless anyone has any concern.

[2015-07-01 12:36] lugaru1234 commented on #897
I added exec-maven-plugin and swagger-codegen-cli dependency, but couldn't reproduce the issue.
Could you please provide some small sample to reproduce it?

[2015-07-01 12:41] olensmar commented on #897
there is a maven-plugin module for codegen in the develop_2.0 branch - could you use that instead of running the cli?

[2015-07-01 13:23] SunriseJJJ commented on #443
facing this issue right now
part of my contract (definitions section):
[code]

generated code:
[code]

i can add
```@JsonProperty(value = "a", required=true)```
 manually but I will lose it during next model generation (we don't store generated classes in code (and in repo as well), it generated automatically as step of project build)

[2015-07-01 13:55] wing328 commented on #928
@ThomasBarnekow updated the PR with "Stream" for file (method parameter, response). For response, the actual type is "FileStream", which can capture the (optional) file name in content-disposition
[code]
I tested with the following and the results are good
1) MemoryStream as method parameter
2) FileStream as method parameter
3) Return type set to `string`
4) Return type set to  `file`

I wonder if

[2015-07-01 14:17] hotdog929 opened #938 "[Scala] error: type Map takes type parameters"
[code]

https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/resources/scala/api.mustache#L81

[code]

[2015-07-01 14:46] wing328 commented on #938
Thanks for reporting the issue. I wonder if you can provide an example of what the `object` looks like based on the definition you provided above ?

[2015-07-01 15:01] SunriseJJJ commented on #315
faced same issue today. in definitions section i have:
[code]
result of generation is empty A class. if i wrap this in definition named B and set A as property - class B with one field (A as enum) generated correctly but IMO looks a little bit ugly.
maybe type "enum" may be introduced?..

[2015-07-01 16:10] wing328 commented on #937
I could repeat the issue and got the same error as #936

[2015-07-01 16:37] ThomasBarnekow commented on #928
@wing328 I pulled (and received changes), built (using `mvn package`), and generated code as follows:
[code]
The jars are new and the C# files get updated, but the "file" parameter is still a `String`. Am I doing something wrong?

[2015-07-01 22:29] ThomasBarnekow commented on #928
OK, did a `mvn clean` and a `mvn package` and re-generated code. Now I see a `Stream` parameter for a "file" input. However, the request is aborted again. I have no idea why that happens because it happens silently. No exception is thrown and the error message is not helpful, either.

Any idea?

[2015-07-01 22:33] giraone opened #939 "JAX-RS generator produces invalid Java code when there are dashes in the resource URL"
If a "path" contains a dash, e.g.

[code]
and __jaxrs__ is used as the "language", the generated Java classes still contain the dashes:

[code]
and the generation is unusable. Is there a way to remove dashes or even better force the replacement of "*snake-case*" style in URLs by "*CamelCase*" style in Java/JAX-RS?

[2015-07-02 00:20] wing328 commented on #928
@ThomasBarnekow do you mind showing me the code on how you called the method ?

[2015-07-02 01:35] xhh commented on #315
The enum class is generated correctly right now.
Please have a look at [here](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/samples/client/petstore/java/src/main/java/io/swagger/client/model/Pet.java#L19):

[code]

That is, the enum class (`StatusEnum` above) is generated inline within the model class containing the property (`status`).
Below is some code verifying that it works:

[2015-07-02 03:20] wing328 commented on #928
@ThomasBarnekow Updated PR to selectively import `models` when at least one model is defined. Please help perform a test.

[2015-07-02 03:52] #869 closed

[2015-07-02 04:03] hotdog929 commented on #938
[code]

https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/resources/scala/api.mustache#L81

change this line into the following can fixed it, maybe.

[code]

[2015-07-02 04:05] xhh commented on #939
@giraone I just submitted a PR (#940) to fix this and it works when testing manually on my local. Could you please give it a try and see if it fix your problem as well?

[2015-07-02 06:16] wing328 commented on #938
@hotdog929 have you considered defining a model for "scores report" ?

[2015-07-02 08:30] hotdog929 commented on #938
no, studentNo and subjectId is different in each class.

can use array and model, but too nests.

[2015-07-02 10:10] SunriseJJJ commented on #315
@xhh currently i have two different options:
* declare this enum wrapped in another entity, like this (but not looks really pretty for me)
[code]
* declare this enum as inline enum (like you described) in different entities to 're-use' it
but it is not really nice because e.g. if i use this enum in ten entities and want to add new parameter for this enum - i need to find all ten usages and add add

[2015-07-02 10:58] Spedwards opened #942 "Java Wordnik Documentation"
I'm not familiar with Swagger though I wish to port my Python script using Wordnik to Java and the documentation link on their website doesn't work.

This leads me to believe that the documentation for the Wordnik's Java library was removed. Was it moved somewhere else and/or is it going to be re-added?

[2015-07-02 11:00] xhh commented on #315
@SunriseJJJ I agreed with you that in the case you described it would be better to generate standalone enum class. However, the generator is not perfect/smart enough for now to detect the sharing of same enum classes, or to distinguish cases of whether to generate inline or standalone enum classes. And for now the inline approach would be the more "practical" one, before we making the generator pe

[2015-07-02 11:24] SunriseJJJ commented on #315
@xhh agree, yep, i understand that after change in contract new values will be generated, but it will be better if i need to change my enum just in one place instead of many (i think that it is valid case for large web-services)

by the way, current approach is acceptable! it's just about improvements. :)

[2015-07-02 13:41] wing328 commented on #929
Fixed in #927. Please help perform a test.

[2015-07-02 13:55] wing328 commented on #942
@Spedwards  If you want to generate Java API client based on Swagger spec, you can pull the latest `master` or `develop_2.0` branch (which contains the latest bug fixes and enhancements) and then run `mvn clean && ./bin/java-petstore.sh` to generate Java API client for Petstore as an example.

or you can do it online and here is an example:
[code]
Is that what you're looking for ?

[2015-07-02 14:01] Spedwards commented on #942
No it's not. I'm looking for the documentation for the Wordnik API which is stored in this repository.

[2015-07-02 14:03] wing328 commented on #942
For Wordnik API, have you checked this: http://developer.wordnik.com/ ?

[2015-07-02 14:52] Spedwards commented on #942
Yes I have... And if you noticed, the Java Documentation link leads to a dead link here...

[2015-07-02 15:11] dk-github commented on #897
@olensmar, thanks for the heads-up - yes a dedicated maven plugin for codegen would be ideal complement to the command line cli jar. And it is definitely a cleaner solution compared to adding an "executable uber-jar" as a dependency, even if all external stuff it includes is shaded.

Unfortunately, my firm's rules allow only maven imports from local repository, which I presume is updated with "rel

[2015-07-02 15:42] dk-github commented on #897
@lugaru1234, please could you let me know which versions of exec and swagger-codegen were you using when trying to reproduce? The problem might be specific to the versions I have to use - exec-maven-plugin-1.3.2.jar and swagger-codegen-cli-2.1.2.jar, as seen in the exception above.
If this is not reproduced when using newer _release_ versions of respective jar(s), then hopefully all that I need to

[2015-07-02 16:00] ThomasBarnekow commented on #930
@wing328 This is partially addressed. If you look at the other classes (e.g., ApiClient), you'll see the same issues.

[2015-07-02 16:05] lugaru1234 commented on #897
@dk-github, Yes, I used the same versions. Please post the sample pom, probably it'll help to reproduce the issue

[2015-07-02 16:08] ThomasBarnekow commented on #928
@wing328 Here's the code:
[code]

[2015-07-02 18:56] giraone commented on #939
Thanks for the fast fix - the class names are now correct. This issue can be closed.

[2015-07-02 19:17] ThomasBarnekow commented on #929
@wing328 It doesn't work with the swagger.json shared in #928. That doesn't have a model but
[code]
is generated. An actual model is not generated.

[2015-07-02 19:22] ThomasBarnekow commented on #928
@wing328 Just out of curiosity: why is the `ApiClient` even needed? Couldn't you use the `RestClient` directly?

[2015-07-02 19:52] giraone opened #944 "JAX-RS generator not yet mature"
Up to now I used RAML as the specification language for services and raml-for-jaxrs as the code generator. For me this JAX-RS generating solution was very straight forward and mature:
* I used the maven plugin directly in my project's pom.xml.
* I had to configure only my package name and the folder for the generated classes.
* The generator created all my model classes.
* The generator created Ja

[2015-07-02 19:59] ThomasBarnekow commented on #928
@wing328 `RestClient` keeps telling me `The request was aborted`. This seems to be a `System.Net.WebException`. Thus, whatever you have done lately introduced that error.

[2015-07-02 21:23] mikebz opened #945 "error: type List does not take parameters"
After generating java libraries from swagger JSON I tried to compile a java client and I am getting a bunch of issues like these:

[ERROR] /Users/mike.borozdin/src/GitHub/Swagger-CodeGen-SDKs/java/src/main/java/io/swagger/client/model/Tabs.java:[251,29] error: type List does not take parameters

and:
[ERROR] /Users/mike.borozdin/src/GitHub/Swagger-CodeGen-SDKs/java/src/main/java/io/swagger/client/

[2015-07-03 02:34] wing328 commented on #942
I would recommend you contact the WordNik team via email: apiteam@wordnik.com

[2015-07-03 06:04] wing328 commented on #945
@mikebz do you mind sharing with us the Swagger spec (assuming it can be shared publicly) ? Is the Swagger Spec automatically generated using some plugins ?

We've previously received similar issue report from other users about the use of "Object" as model name. They managed to resolve the issue by avoid using reserved keywords to name models or parameters.

[2015-07-03 06:16] mikebz commented on #945
Absolutely.  Here is the file:

[2015-07-03 06:22] wing328 commented on #929
Fixed and tested with the spec you provided.
[code]

[2015-07-03 06:23] wing328 commented on #945
FYI. I don't see the file in your reply.

[2015-07-03 06:31] wing328 commented on #928
The reason why we use ApiClient is to make the C# SDK design more consistent with SDKs of other languages. Also wrapping RestSharp with ApiClient would make it easier to switch to other REST/HTTP library with ease in the future should there be a better alternative.

May I know which .net framework and OS you're using ?

[2015-07-03 06:32] wing328 commented on #930
@ThomasBarnekow please kindly take another look. I've also updated the indentation to use 4 spaces instead of 2.

[2015-07-03 06:42] ThomasBarnekow commented on #928
@wing328 Developing with VS 2013. Targeting 4.5.1. Installed Runtime 4.5.2. Running on Windows 7 (latest Service Pack and all).

[2015-07-03 07:13] wing328 commented on #928
For RestSharp, are you using the DLL included in the SDK or obtain it from NuGet ?

[2015-07-03 09:03] ThomasBarnekow commented on #928
I obtained it from NuGet (latest version). As that just said "The request was aborted", I cloned the GitHub repo, built, and included the DLL targeting 4.5.1. Both created the same error message with the generated API. Even through debugging, I couldn't find out why the request is aborted.

I then created some API methods manually, using the `RestClient` directly and leaving out some of my paramet

[2015-07-03 09:10] ThomasBarnekow commented on #928
BTW, `ReadAsBytes()` is an extension method provided by RestSharp. It is exactly the same as the corresponding `ApiClient` method that you took from stackoverflow.com.

[2015-07-03 09:11] ThomasBarnekow commented on #929
@wing328 Tested myself and confirm it is now fixed.

[2015-07-03 09:46] wing328 commented on #928
@ThomasBarnekow thanks for the test result above. I was able to narrow down the issue to Async call and the filename.

`CallApi` relies on the async version of `CallApi` to make the request. I've updated `CallApi` to directly make the call using `RestSharp.Execute` and tcpdump confirms the body "looks" good.

Another issue is the filename. The server (petstore) is expecting just the file name whil

[2015-07-03 09:46] wing328 commented on #929
@ThomasBarnekow Thanks again for reporting the issue and help test the fix.

[2015-07-03 10:33] ThomasBarnekow commented on #928
@wing328 Unfortunately, nothing really changed. As you now throw an exception, the error is no longer silently ignored. However, it is still the same issue, i.e., the request is aborted.

The interesting thing is that all works well when using the `RestClient` directly. When debugging the server, my server method is not invoked when using the generated API.

Here's the server-side method:
[code]
W

[2015-07-03 10:40] wing328 commented on #928
Under samples/client/petstore/csharp/, there should be a project that contains unit testing for the C# client. One of the test cases is uploadFile for Petstore. Would you please run the test case to see if it reports any issue ?

[2015-07-03 11:48] ThomasBarnekow commented on #928
All tests pass. The only issue was that `c:\var\tmp\small.gif` originally did not exist on my machine. It would be better to include that with the solution.

I've tried both the original solution and also replaced the RestClient DLL with the one that I built (targeting 4.5.1). In both situations, all tests passed. Having had a look at the version number of the RestClient DLL, we should be talking

[2015-07-03 13:14] wing328 commented on #928
I did a test with the swagger spec you provided and it seems to work for me without the issue you encountered. Here is the result:
[code]
Here is the C# code I used to test:
[code]
Have you done a "mvn clean" to ensure the package has been recompiled with the latest change ?

[2015-07-03 14:12] wing328 commented on #920
@neoecos is that still an issue? can you provide an example of the data to be deserialized so that we can try to repeat the issue ?

[2015-07-03 14:21] mohsen1 opened #947 "the swagger.json produced by generate server for node.js is missing path summary"
_From @tsmith-sdm on July 3, 2015 0:9_

The summary field on paths does not show up in the swagger.json which is produced by the generate server for node.js option.

_Copied from original issue: swagger-api/swagger-editor#524_

[2015-07-03 14:22] mohsen1 opened #948 "Generated C# model does not work with inheritance ("allOf") / doesn't extend"
_From @StefH on July 3, 2015 6:7_

This swagger definition file:

[code]

Generates the following correct java-class:

[code]

But the generated C# model class for ExtendedErrorModel does not extend the ErrorModel:

[code]

I would expect a c# code like:

[code]

_Copied from original issue: swagger-api/swagger-editor#525_

[2015-07-03 14:49] dk-github commented on #897
@lugaru1234, I think I figured what might be the difference between our setups.

I am adding swagger-codegen-cli as _plugin_ dependency (reason being that I don't want it to be a dependency on the module itself, and appear on all the classpaths).

If I add it as _module_ dependency, exec plugin does work ok and generates the code, but as per above it effectively adds codegen jar in the application

[2015-07-03 14:52] dk-github commented on #897
And here's a sample pom which _does_ work, if I (incorrectly) put swagger-codegen as _project_ dependency. (In both cases I just run mvn generate-sources, as the example doesn't contain anything other than codegen plugin.)
[code]

[2015-07-03 15:59] ThomasBarnekow commented on #928
Yes, I have done a `mvn clean`. My process for generating the C# files is as follows:
[code]
Here's the latest revision I pulled as per `git log`:
[code]

But here it comes ... I replaced the Newtonsoft.Json DLL that I installed through NuGet with the one that is provided with the generated code. And, voila, now it works!

:-) :-) :-)

Thus, the RestClient was not the problem. However, you are shi

[2015-07-03 16:01] lugaru1234 commented on #897
Thank you for providing the example pom. I reproduce the issue. I think the problem is in command line arguments. Please try to use
[code]
instead of
[code]

[2015-07-03 16:24] ThomasBarnekow commented on #928
Just FYI, I've now tested it with the latest RestSharp (105.1.0) and Newtonsoft.Json (7.0.1) packages from NuGet. That now works as well.

[2015-07-03 17:25] dk-github commented on #897
Right, so this conflict only occurs if the arguments are passed as a single string and have to be parsed. If they are supplied in separate elements, the parsing code is not invoked and there's no conflict.

Thanks a lot, this is definitely a better workaround than adding as project dependency.

So, to summarize for the records:
- a dedicated maven plugin will soon be part of swagger release, that

[2015-07-03 17:25] #897 closed

[2015-07-03 19:35] ThomasBarnekow commented on #928
@wing328 Let's wait until your pull request is merged before we close this. Thanks a lot for your help!

[2015-07-03 19:52] ThomasBarnekow commented on #930
@wing328 That looks better now. I've seen that variable names are now in camelCase. However, there are a few other issues we could fix:
* There's a bug in `ApiClient.Deserialize`. The comparison `type.GetType() == typeof (Object)` doesn't make a lot of sense, because `type.GetType()` always returns `RuntimeType`. This should read `type == typeof (Object)`.
* Some comments are out of sync with the

[2015-07-05 15:38] fehguy opened #949 "Java client uses dated jersey client libraries"
In integrating a jersey 2 server with the swagger java client, I ran into issues with the client library being incompatible with the server and causing a host of issues.  There should be a jersey 2.x-compatible client for java

[2015-07-05 17:43] webron commented on #906
FWIW, the output @sundriver presented is Swagger 1.2, where there was no support for nested arrays. The conversion to 2.0 may fail on that or produce something unexpected which would lead to the failure experienced.

[2015-07-05 17:53] webron commented on #921
@aeonyin - any update?

[2015-07-05 18:08] webron commented on #945
@mikebz - you can't attach files in email replies with Github :)

[2015-07-05 18:17] webron commented on #949
This may conflict with #862 if it ends up being merged.

[2015-07-05 20:09] fehguy commented on #949
I think the right solution is to keep everything consistent except the ApiClient class, and let there be an option for each invoker

[2015-07-06 03:36] wing328 commented on #928
@ThomasBarnekow thanks for confirming the issue is fixed. I've updated the PR with the latest version of the JSON DLL and a README on obtaining the latest version of the dependencies via NuGet

[2015-07-06 06:08] wing328 commented on #930
For 1, I've updated the PR with your suggested way of comparison.

Would you please elaborate on your 2nd and 3rd points with examples? I did a quick look again but couldn't find those you're referring to.

[2015-07-06 06:26] wing328 commented on #948
@Stefh would you please pull the latest develop_2.0 and see if that meets your requirement ?

[2015-07-06 07:34] olensmar commented on #944
Thanks - the initial version is meant to compile/run out of the box (hence the pom, readme, etc files), but  I definitely agree it can be improved;
- add command-line option to only generate classes
- add command-line option to not generate implementations
- generate jax-rs annotated interfaces instead of abstract classes

If you agree I can create these modifications in a dedicated branch that yo

[2015-07-06 08:34] ThomasBarnekow commented on #930
@wing328 Regarding number 2, here's an example:
[code]
Note the `headers` parameter which does not have a corresponding `param` element. On the other hand, there's a `type` param element without a corresponding formal parameter. You see the same issue with the `apiKeyIdentifier`, for example.

In the following example, still pertaining to number 2, you turned parameter names into camelCase but did

[2015-07-06 08:55] wing328 commented on #930
@ThomasBarnekow thanks for the detailed feedback.

I'll look for tools to analyse the auto-generated C# code. Later may need help from you again to review one more time.

[2015-07-06 10:34] ThomasBarnekow commented on #930
I use ReSharper. I have made changes to the `ApiClient` class that I could provide.

[2015-07-06 10:40] ThomasBarnekow commented on #930
@wing328 This is off-topic, but you should also have a look at the overall architecture ...

For example, the `ApiClient` class is API-specific, because the constructor has a default parameter based on the swagger spec. Not sure whether that's a good idea. Everything else is unspecific. Further, default parameters should be avoided in APIs, because they will be compiled into the API client which w

[2015-07-06 10:52] wing328 commented on #930
@ThomasBarnekow would be great if you can send me the diff of the ApiClient class.

Thanks for the feedback about the design. The default parameters were there before I started working on this project. I keep it as there may be valid use cases using the default parameters.

About customizing name space, you can do so by providing a config file (e.g. config.json) via the `-c` switch. Here is a list

[2015-07-06 10:56] ThomasBarnekow commented on #930
@wing328 Where do you want me to send that? I could also just send the original file.

[2015-07-06 11:03] wing328 commented on #930
Please send to my personal email address listed in my github profile.

[2015-07-06 14:19] fehguy opened #951 "update cli to make generation more modular"
Right now, there are a couple targets for the swagger-codegen-cli, namely `generate` and `meta`.  The problem is, adding additional options into the CLI and the help system is awkward.  For the `generate` method, only the options defined in the `io.swagger.codegen.cmd.Generate` class are allowed, and therefore adding values or displaying more help from each language is not possible.  To work aroun

[2015-07-06 15:07] wing328 commented on #930
@ThomasBarnekow pushed another update to the PR with better C# style based on your feedback.

[2015-07-06 17:42] giraone commented on #944
Hi Ole,

I would appreciate if you can make the changes and I'll test them.

Hans

<div>-------- Ursprüngliche Nachricht --------</div><div>Von: Ole Lensmar <notifications@github.com> </div><div>Datum:06.07.2015  09:34  (GMT+01:00) </div><div>An: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com> </div><div>Cc: giraone <hans.schuell@giraone.com> </div><div>Betreff: Re: [swagger-codeg

[2015-07-06 21:40] ThomasBarnekow commented on #930
@wing328 Thanks. Had a look. Here are some points ...

Starting with `TransformationApi` (generated from swagger.json), I would use a property `BasePath` (unless you can still change the name, because it's not really a "path", right?) rather than the following two methods. Further, `GetBasePath(string)` doesn't make a lot of sense. And, by the way, I've never seen that `<value>` comment.
[code]

M

[2015-07-07 08:45] wing328 commented on #930
@ThomasBarnekow thanks for the suggestion. The reason why we put basePath in ApiClient is that the same configuration can be shared by more than one Api class (e.g. PetApi, StoreApi, UserApi) so that developers can avoid setting the basePath manually for each Api Class.

For <value>, please find more information from the below:
https://msdn.microsoft.com/en-us/library/azda5z79.aspx
http://stackove

[2015-07-07 10:48] TobiasPfeifer opened #952 "SpringMVCServer can't handle maps with $ref"
[code]

This will create:

[code]

instead of

[code]

The java client generator can handle the file

[2015-07-07 12:41] affogato commented on #944
Hi,

I have also recently used the JAX-RS module. It built and compiled out of the box for me. However, I want to use the generated code as a library so that it is separated from the custom code of the main project. The project is a web service, and it should be easy to modify the spec, re-generate the library, and then write the implementations in the main project.

I modified the apiServiceFacto

[2015-07-07 18:01] danze opened #955 "C# generator does not escape conflicting member names"
The C# code generator does not escape member names that are the same as their enclosing type. For example:

[code]

In the above code, the "Capacities" property conflicts with the class name which is also "Capacities". The C# language does not allow this and the Swagger codegen should escape this to may be "_Capacities".

[2015-07-07 18:22] danze opened #956 "C# generator should use fully qualified names for builtin types"
The C# code generator should use fully qualified type name for types that are part of the .NET Framework or the standard library. This is in addition to the reserved keywords. For example, the

[code]

type is defined in the .NET Framework and is used in generated code to represent a handle to an asynchronous operation. It's usually returned by asynchronous methods.

The issue is the C# codegen do

[2015-07-07 18:42] mohsen1 opened #957 "Spring-mvc-server cannot deploy"
_From @ericsodt on July 7, 2015 12:28_

I created a spring-mvc-server project from the 'minimal' project and tried to run it using mvn jetty:run however it does not seem to be deploying correctly.  I am getting the following errors:

    No context on this server matched or handled this request.
    Contexts known to this server are:

     /api ---> o.e.j.m.p.JettyWebAppContext@6a916402{/api,[file

[2015-07-07 18:42] mohsen1 commented on #957
_From @webron on July 7, 2015 13:1_

@ericsodt - questions regarding the generated code belong to [swagger-codegen](https://github.com/swagger-api/swagger-codegen). I hope @mohsen1 won't mind though, and I'll say that I tried following the same process, ran it with `mvn jetty:run` and loaded up fine. The URL points to the root though at `http://localhost:8002` which unsurprisingly returns 200 with

[2015-07-07 19:33] jgn opened #958 "Allow for specifying gem name for Ruby clients?"
In the Ruby generator, the gem name is defined as a protected variable and cannot be set as a config option.

Is that deliberate? It seems kind of weird to be forced to generate a client called "swagger_client" and then have to do a lot of hand-editing to convert it to something more appropriate.

[2015-07-07 20:58] dilipkrish commented on #957
I'll take a stab at fixing this since I'm familiar with this

[2015-07-08 01:42] wing328 commented on #958
@jgn you can customize the Ruby gem using the following setting in a config.json:
[code]

For example, to generate a Ruby with the name petstore_client, I'll construct the following config.json file:
[code]
and run the following command:
[code]
Would this meet your requirement ?

[2015-07-08 01:51] wing328 commented on #955
@danze thanks for reporting the issue. I agree ideally the conflicting member names should be escaped automatically by swagger-codegen.

In your case, may I know whether you manually create the Swagger Spec or you're using some plug-ins to generate the Swagger Spec?

[2015-07-08 02:25] wing328 commented on #956
@danze thanks for the feedback. I'll incorporate the change into the PR https://github.com/swagger-api/swagger-codegen/pull/927 and I would also appreciate if you can help review the PR as it contains some improvements.

[2015-07-08 06:45] krishna-kashyap opened #960 "Enums are not available in the static html generated"
When enums are used in models, they are not displayed/included in the static html that is generated using -l html. HTML generated using the sample (html-petstore.sh) from the bin file also fails to have any of the enums despite them being available in the swagger spec

[2015-07-08 09:39] jgn commented on #958
Thanks. What branch are you on? I don't seem to have that in master.

[code]

[2015-07-08 09:47] wing328 commented on #958
Please kindly use `develop_2.0`, which contains the latest enhancements and bug fixes.

[2015-07-08 11:24] jgn commented on #958
Got it. Thanks!

[2015-07-08 11:24] #958 closed

[2015-07-08 12:21] wing328 commented on #958
@jgn no problem.  Please let me know if you've any feedback or question on the Ruby API client.

[2015-07-08 12:29] jgn commented on #958
Yes, actually. Is there an example of how to do the settings to get the `request.rb` file properly populated via mustache? I could make my own template but it seems that I should be able to get this populated through one of the options . . . (I can move this to a new issue if you like. Or maybe there's a blog post somewhere, though I haven't found it.)

[code]

[2015-07-08 12:37] wing328 commented on #958
Have you tried the `-t` option to specify the template folder? Something like the following:
[code]

If you don't mind, would you please share with us how you would like to customize the `request.rb` to meet your requirement ?

[2015-07-08 12:46] jgn commented on #958
At present, with no settings, the generator makes bad Ruby syntax. Here's what you get. A case statement with no when's doesn't parse.

[code]

And here's the template:

[code]

So whoever wrote this must have been able to set ` #authMethods` (and similar settings) to make it work.

[2015-07-08 12:56] wing328 commented on #958
Ah ok. I'll look into the issue and file a PR to fix it if I manage to find a fix.

[2015-07-08 13:02] jgn commented on #958
Cool. Any idea how those values are set during client generation?

[2015-07-08 13:04] wing328 commented on #958
As an example the [Petstore Swagger spec] (http://petstore.swagger.io/v2/swagger.json) contains `securityDefinitions`, which is used in populating those authentication-related mustache tags.

[2015-07-08 13:17] jgn commented on #958
Superb!

On Wed, Jul 8, 2015 at 3:04 PM, wing328 <notifications@github.com> wrote:

--
John G. Norman
Chief Software Architect
Iora Health
The American Twine Building
222 Third Street, Suite 3100
Cambridge MA 02142

[2015-07-08 13:46] wing328 commented on #947
@tsmith-sdm I'm no expert in node.js but wonder if you can share with me where you expect to see the summary in the generated-code? Here is the code snippet for 2 methods in Petstore
[code]

[2015-07-08 14:32] tsmith-sdm commented on #947
When you use the Generate Server -> Node.js option in http://editor.swagger.io/ it generates a zip archive. Inside that zip archive is a swagger.json spec file. That swagger.json file does not include the summary fields defined in the YAML.

For instance in the petstore_full.yaml the post pets path contains

Yet that doesn't show up in the generated swagger.json spec file.

[code]

[2015-07-08 14:51] wing328 commented on #947
@tsmith-sdm thanks for the detailed explanation and sorry that I was not clear. Where in the generated code to you expected to see the `summary` (and `description`)? just one line above the function declaration like the following:
[code]

[2015-07-08 15:05] mikebz commented on #945
Strange, I thought I copied and pasted the body of it into the message.  Here is a link: https://drive.google.com/open?id=0B32XZbrBkDXxb1FiYmx1Q1dTVjg

[2015-07-08 15:08] mikebz commented on #945
I also created a Gist so you don't have do download it: https://gist.github.com/mikebz/bc801337c2d1f6faa8b5

Thank you!

[2015-07-08 16:54] cbornet opened #962 "Oauth support in retrofit template"
Once #347 is solved, I would like to implement client oauth2 in the retrofit template.
So far I have identified the following libs:
- google oauth client: https://github.com/google/google-oauth-java-client : all types of grants
- scribe : https://github.com/fernandezpablo85/scribe-java : only authorization_code
- oltu : http://oltu.apache.org/ : only authorization_code , password and client_creden

[2015-07-08 17:31] rajeshkamal commented on #955
Hi @wing328 ,

Replying for @danze . We are using https://github.com/springfox/springfox to generate the spec dynamically.

[2015-07-08 17:38] galagar opened #963 "CodeGen SwaggerParser validation is different from their online validation"
Swagger online validation is almost successful for all the swagger document, If you use the same document to parse or import using Swagger CodeGen it fails or returns null Swagger object. Which leads to big gap in the community.

It would be great if system follows same validation mechanism on both online swagger validator and swagger codeGen.

[2015-07-08 18:02] earth2marsh commented on #963
I think the problem here may be that the validator isn't thorough enough to cover cases that break codegen, so you end up with specs that appear to be valid but that don't create the expected Swagger object when passed to codegen.

I'm not sure what the right answer is, but I'm sure @fehguy has an opinion… :)

[2015-07-08 21:30] EntilZha opened #964 "Python: 'module' object has no attribute url"
I am writing some code which uses the generated code libraries and am running into a stack trace that looks like this (on develop_2.0, not using 2.1.3 since it doesn't include the patch for incorrect directory):

[code]

Basically the problem is that the code has this call:

`urllib3.util.url.parse_url`

It should be:

`urllib3.util.parse_url`

On a different note, this and a couple other bugs I h

[2015-07-09 00:29] wing328 commented on #955
@rajeshkamal thanks. Is it correct to say that you've a corresponding model named "Capacities" defined in your Java source code? If yes, is that something you can share with us?

As a workaround, can the class use the name "Capacity" instead ?

[2015-07-09 01:27] wing328 commented on #963
@galagar currently there are some limitations with Swagger-Codegen based on my understanding. One example is lack of support for inline schema: https://github.com/swagger-api/swagger-codegen/issues/354

For the time being, I would recommend you to open an issue and provide the error message as well as the swagger spec for repeating the issue (assuming the spec can be shared publicly).

[2015-07-09 02:29] wing328 commented on #956
@danze updated #927 to use fully-qualified type name for `System.Threading.Tasks.Task`

Please take a look at the updated sample here:
https://github.com/wing328/swagger-codegen/tree/csharp_file_response/samples/client/petstore/csharp/SwaggerClientTest/Lib/SwaggerClient

[2015-07-09 02:44] wing328 commented on #945
@mikebz thanks for sharing the spec. I noticed that "Object" is defined as follows:
[code]
and it's used as a response (200) for many endpoints. Is that intentional to define the response as a model without any properties ?

For response, I noticed the following is defined:
[code]
It seems to me there are duplicated 200 response defined.

For authentication, I noticed the following parameter is de

[2015-07-09 03:27] xhh commented on #958
Hi @jgn, thanks for reporting the issue regarding empty authMethods. I have just pushed the fixes to PR #923 (in commit a51d71e72860ff70e84f54ce6be3c9d667a9e19c).

[2015-07-09 05:45] wing328 commented on #930
FYI. Updated the PR to use fully-qualified name "System.Threading.Tasks.Task" as suggested by another user. #956

[2015-07-09 06:09] wing328 commented on #947
@tsmith-sdm after reading your reply once again, I think I got what you meant. I submitted #966 to add back summary and description to the endpoint definition.

The updated swagger.json can be found at https://github.com/wing328/swagger-codegen/blob/nodejs_fix_summary/samples/server/petstore/nodejs/api/swagger.json

[2015-07-09 07:36] cbornet commented on #962
Edit : apparently oltu does support implicit flow

[2015-07-09 07:54] geekerzp commented on #964
Hi @EntilZha
I have tested `urllib3.util.url.parse_url` and `urllib3.util.parse_url` in ipython of python v2 and python v3, and both methods work fine.

[code]

In fact, they are the same method as they have the same memory address:

[code]

You also can look into the source code of urllib3:
https://github.com/shazow/urllib3/blob/master/urllib3/util/url.py#L121
https://github.com/shazow/urllib3/bl

[2015-07-09 15:21] wasifshikder opened #969 "Method parameters are called "body" instead of their actual names"
When I generate the swagger documentation for my interface method parameters are called
"body" instead of their actual names.

for instance if I have a method  public int add(int first,int second)

the parameters first and second will both be called "body".

The method is in an interface.

[2015-07-09 15:51] EntilZha commented on #964
What might explain the error? I was using this within a docker environment so the installations are from latest pypi release. My guess is that somewhere I have a version discrepancy.

[2015-07-09 15:57] EntilZha commented on #964
I think I know what happened. When I ran tests locally, it was using my older `1.7.1` version of urllib3 on my local machine. On docker it was using a newer version, but by the time I ran the tests there, I already had changed the call to `urllib3.util.parse_url` so didn't see that either would work in the newest version.

My proposal would be to keep `urllib3.util.parse_url` since it is better fo

[2015-07-09 17:33] danny-cassidy opened #970 "ApiClient.php missing in generated client SDK"
I get the following error when generating PHP client sdk via the codegen:

[code]

I just recently cloned the repository. Is there anything I am doing wrong? Here is the command I running for reference:

[code]

[2015-07-09 18:23] danze commented on #956
@wing328 the change looks good. Thank you for the quick response!

When can I expect this fix to make it to the 2.0 or master branch?

[2015-07-09 18:37] rajeshkamal commented on #955
Yes we have a model named Capacities

[code]

We can workaround for the time being to generate compilable code and generate dll's. It will be great if you can fix it and we can take the fix immediately.

[2015-07-09 20:27] danny-cassidy opened #972 "Generated PHP models do not support inheritance"
The PHP model.mustache file does not support inheritance:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/model.mustache#L31

[code]

[2015-07-10 00:50] wing328 commented on #970
@danny-cassidy would you please try the "develop_2.0" branch to see if you get the same issue ?

(develop_2.0 branch contains the latest bug fixes and enhancements)

[2015-07-10 00:52] wing328 commented on #972
@danny-cassidy you're correct in saying that PHP (and many other languages) does not support inheritance in Swagger-Codegen.

May I know how critical you need the feature ?

[2015-07-10 01:21] wing328 commented on #956
There's no official ETA to merge the PR to develop_2.0 or master branch. Based on my experience it would usually take 1 or 2 week for the PR to get merged.

[2015-07-10 02:15] wing328 commented on #955
I had a look at the generator source code and don't think it would be easy to escape conflicting member names. It also seems like this particular issue impacts C# client only as only C# client name the variable in PascalCase (which means other clients do not need the member name to be escaped to avoid the issue)

[2015-07-10 02:39] geekerzp commented on #964
Thanks @EntilZha , I will change `urllib3.util.url.parse_url` to `urllib3.util.parse_url` for backwards compatibility, and would be better you can upgrade your `urllib3`.

[2015-07-10 17:12] danny-cassidy commented on #970
Thanks, I think it is fixed on that branch. I re-packaged with the develop_2.0 branch, and it worked without issue.

[2015-07-10 17:15] wing328 commented on #970
Also if your endpoint returns a file, you might find the following PR useful:

https://github.com/swagger-api/swagger-codegen/pull/926 (pending)

[2015-07-10 17:19] danny-cassidy commented on #972
I just assumed (incorrectly) that the all languages were consistent in terms of functionality and conformity to Swagger 2.0 specification. Is there any documentation anywhere about what is supported across the supported languages? Also, a potential roadmap?

I know this is probably an ongoing conversation from the sound of this [post](http://swagger.io/next-steps-for-swagger-governance/).

[2015-07-10 18:37] davidfells opened #973 "3 tools, 3 results - validated Swagger fails codegen and produced erroneous output in the Editor."
Validator works fine.

Editor loads with no errors but shows invalid types and an incomplete Member object.

Codegen throws these errors:

Source JSON:

[code]

[2015-07-11 03:42] wing328 commented on #972
@danny-cassidy thanks for the suggestion. Currently, I'm not aware of any documentation to show the functionality of API clients in different languages but I agree with you it would definitely help people to understand what feature is or is not supported by Swagger-Codegen.

For roadmap, I'm not aware of any either. I think the reason is partly because some features are contributed/driven by the c

[2015-07-11 13:49] wing328 commented on #969
Do you mind sharing the Swagger Spec with us so that we can repeat the issue ?

I'm assuming you're using `-l html` for generating the documentation.

[2015-07-11 13:53] wing328 commented on #942
@Spedwards do you still need anything from us ? are you happy to close this issue ?

[2015-07-11 17:18] webron commented on #942
FWIW, the clients can be found here - https://github.com/swagger-api/swagger-codegen/tree/v2.0.18/samples/client.

[2015-07-11 20:03] andrewmunsell opened #974 "PHP Namespace Is Not API-Specific"
Right now, the generated PHP client SDK uses a generic namespace (`SwaggerClient`) and generic class names for some of the classes (`Configuration`, for example). This could cause conflicts if multiple Swagger based API SDKs were included in a single project.

The namespace of the generated API SDKs should be specific to the API itself, either generated automatically from the API name, or specifie

[2015-07-12 02:59] wing328 commented on #974
@andrewmunsell may I know if you've tested the PHP client in the `develop_2.0` branch? You can also customize the PHP client via a config.json, e.g.
[code]
and here is the available option in the config.json
[code]

[2015-07-13 02:18] wing328 commented on #973
@davidfells thanks for reporting the issue. I think the issue is due to the use of inline schema to define the model `survey_data`.

Swagger-Codegen does not support inline schema at the moment. Ref: https://github.com/swagger-api/swagger-codegen/issues/354

If you define `survey_data` as a separate model, it should work with codegen.

[2015-07-13 06:44] wing328 commented on #947
@tsmith-sdm do you mind confirming if the change is what you want ?

[2015-07-13 07:07] wing328 commented on #930
@ThomasBarnekow is there anything else you would like to change/fix before we merge the PR (#927) ?

[2015-07-13 08:38] #907 closed

[2015-07-13 09:32] cbornet commented on #643
Hello,

#616 has been closed. It was a really great improvement on additionalProperties but unfortunately, it is still impossible to add supportingFiles via a config file and the only way is to modify the generator itself. I think since supportingFiles depend on additionalProperties, it is not as easy to implement. Maybe the JSON file could contain mustache-like syntax to reuse the previously set

[2015-07-13 10:02] wing328 commented on #643
@cbornet do you mind sharing with me the additional file you want to include? What's the purpose of that additional file?

[2015-07-13 14:38] danny-cassidy commented on #972
Thanks for your quick response. That all makes sense.

Yes, that is correct. I was generating the Java client while revising the my SwaggerSpec and all looked good in terms of the allOf/discriminator definitions being modeled correctly. Then started to look at other language clients. I just happened to start with the PHP client.

[2015-07-13 15:06] wing328 commented on #972
We might be able to add support for model composition (allOf) but not inheritance this week and will keep you posted.

[2015-07-13 17:34] ubriela opened #976 "Login to Codeigniter via Command Line Interface (CLI)"
I used swagger-codegen to generated python client to login to CodeIgniter server.
To query the other services, the client needs a valid session.
However, CodeIgniter does not keep CLI sessions. Is there a way to go around this?
Thanks,

[2015-07-14 05:22] wing328 commented on #976
@ubriela for CLI sessions, are you referring to API token/key ? Do you have the Swagger Spec that you can share with us so that we can learn more about your backend?

[2015-07-14 16:24] cbornet commented on #643
@wing328 the point is to have the user define its own additional files depending on what he wants to do. @smartytime gives the example of generating a gradle file instead of a pom but there are a lot of other possibilities.

[2015-07-14 23:24] who commented on #974
@wing328 @andrewmunsell

I have filed a PR to fix this here: https://github.com/swagger-api/swagger-codegen/pull/977

[2015-07-15 02:08] wing328 commented on #974
Thanks @who. The PR has been merged into `develop_2.0` branch.

@andrewmunsell please test to see if you're happy with the latest PHP client in `develop_2.0` branch.

[2015-07-15 09:20] wing328 commented on #956
@danze the PR has been merged into develop_2.0.

[2015-07-15 14:48] maxime-morand opened #980 "Inherited model without additional properties results in a NullPointerException"
If a model inherit from an other without defining its own properties (allOf has just $ref to parent), a NullPointerException is thrown :

java.lang.NullPointerException
[INFO] Running BuildHelper...
    at io.swagger.codegen.DefaultCodegen.fromModel(DefaultCodegen.java:529)
    at io.swagger.codegen.DefaultGenerator.processModels(DefaultGenerator.java:451)
    at io.swagger.codegen.DefaultGenerato

[2015-07-15 18:10] samxye opened #982 "Enum tag generation in definition object"
Mustache tags for enums are not being parsed or generated. This seems to be the case only when enum is a property directly under a definition object. Here is an example from petstore:

#### - Enum tags generated

 **swagger.json**
[code]
**corresponding "model info" output**
[code]

#### - Enum tags not generated

**swagger.json**
[code]
**corresponding "model info" output**
[code]

[2015-07-15 19:59] ThomasBarnekow commented on #930
@wing328 Nothing that I can see at the moment.

[2015-07-15 23:35] who opened #983 "Request: support for C# .NET 3.5 client"
Currently, the C# generator in swagger-codegen conforms to .Net 4.5+.

It would be nice to have a .Net 3.5 compatible generator, so that the resulting DLL could be used in places where .Net 4.5 functionality is not possible.

[2015-07-16 00:55] wing328 commented on #930
@ThomasBarnekow the PR has been merged into `develop_2.0` branch.

[2015-07-16 01:39] ubriela commented on #976
No, I mean, with CodeIgniter, "Under CLI, the Session library will automatically halt itself, as this is a concept based entirely on the HTTP protocol."
http://www.codeigniter.com/user_guide/libraries/sessions.html

I have two Swagger Path Objects, metadata_fov and login. In order to run metadata_fov, user needs to be login and have a valid session. The problem is that CodeIgniter do not maintain

[2015-07-16 03:02] wing328 commented on #983
@who thanks for the feedback. Do you mean updating the existing C# client to make it backward compatible with .Net 3.5 framework ?

[2015-07-16 03:19] who commented on #983
@wing328 That is one way to do it, yes, but the existing C# client uses many language features that don't translate back to 3.5 very well, so this could be tricky.

[2015-07-16 06:46] webron commented on #980
@maxime-morand - thanks for reporting and submitting the PR. It was merged and 1.5.1-SNAPSHOT of swagger-core has been redeployed with it. Feel free to test it out.

[2015-07-16 07:47] wing328 commented on #960
@krishna-kashyap yes, currently the HTML doc does not include enum-related information in the documentation.

Please feel free to submit a PR against `develop_2.0` branch to enhance it.

[2015-07-16 14:49] wing328 commented on #983
@who if you can give me a bit more direction on what feature is not available in 3.5, I can start updating the template during weekend.

[2015-07-16 14:52] wing328 commented on #976
@ubriela the Codeigniter documentation mentions about using cookie for session but cookie parameter is not supported by swagger-codegen at the moment.

For REST API, it's more common to use HTTP basic authentication or API key/token for authentication.

[2015-07-16 17:51] who commented on #983
@wing328 The biggest difference is the lack of `Task`, `await`, and easy async support in 3.5. Also, `dynamic` type is not supported in 3.5. There are some libraries that will be able to support these missing features as a NuGet packages, but this won't be a complete solution. Additionally, RestSharp is compatible with 3.5, but only the 4.0 version contains `RestClient.ExecuteTaskAsync', which the

[2015-07-16 22:08] who commented on #983
@wing328 It looks like this PR broke .Net 3.5 compatibility: https://github.com/swagger-api/swagger-codegen/pull/809

[2015-07-16 22:26] who commented on #983
I have filed a question regarding Async capabilities in Resharper when using augmented .Net 3.5 here: https://github.com/restsharp/RestSharp/issues/718

[2015-07-17 00:33] who opened #985 "[C#] Compilation error when compiling with Mono compiler"
When I compile with the Mono compiler like so:

[code]
I get this:

[code]

The error is originating from here: https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/resources/csharp/ApiClient.mustache#L163-L166

I recommend we use `Uri.EscapeDataString` instead of `HttpUtility.UrlEncode`.

[2015-07-17 00:56] lakeba commented on #985
Change the line 165 from /modules/swagger-codegen/src/main/resources/csharp/Apiclient.mustache with:

return RestSharp.Contrib.HttpUtility.UrlEncode(str);

then> mV clean package

This will solve your problem.

Giuseppe

On 17 Jul 2015, at 10:33 am, Andrew B <notifications@github.com> wrote:

When I compile with the Mono compiler like so:

mcs -sdk:4.5 -r:bin/Newtonsoft.Json.dll,bin/RestSharp.dll,

[2015-07-17 02:12] wing328 commented on #985
@who thanks for reporting the issue. I'm totally ok with `Uri.EscapeDataString` if it solves the problem.

[2015-07-17 16:06] davidfells commented on #973
I see. I'm fairly certain I did try that, but will revisit.

[2015-07-17 16:06] #973 closed

[2015-07-17 16:36] who commented on #983
Update from @hallem (RestSharp dev)

See: https://github.com/restsharp/RestSharp/issues/718

[2015-07-17 16:59] who commented on #985
After looking into this, the recommendation by @lakeba (using `RestSharp.Contrib.HttpUtility.UrlEncode(str)` instead of `Uri.EscapeDataString`) is a better approach.  I will submit a PR.

[2015-07-20 10:17] vijayrcse opened #989 "How to code generate nested array property using swagger-code-gen client"
I have a property which is List<List<ClassA>>

I tried to add the below in my .json file( using swaggercode gen cli - 2.1.2 )

"listOfListOfClassA": {
	"type": "array",
	"description": "description 1",
	"items": {
	    "type": "array",
	    "description": "description 2",
	    "items": {
		"$ref": "ClassA"
	    }
	}
}

 "ClassA": {
    "id": "class_id",
    "description": "Description for class A"

[2015-07-20 11:58] jeusdi opened #990 "responseHeader annotations handling"
I believe, actually the responseHeader annotations can not be translated on code.

[2015-07-20 13:42] vijayrcse commented on #906
Hi Could you please help how this exception is resolved?
I am also trying to have a List of List String ( array of array ) representation in my json file

Would like to know the corrrect schema declaration for this ? I am using swagger2.0

[2015-07-20 14:50] vandmo commented on #802
I'm still not able to extract the information.
There is a method, io.swagger.models.Info#getVendorExtensions() which I can't find any references to.

io.swagger.models.Response does not contain any method that allows you to access vendor extenstions at all.

[2015-07-20 14:51] vandmo commented on #802
I can't reopen this issue unfortunately.

[2015-07-21 01:42] wing328 commented on #983
@who thanks for following up with RestSharp dev. In this case, I would agree with your suggestion earlier to add a separate generator for C# .net 3.5.

[2015-07-21 03:33] who commented on #983
@wing328 Agreed; a separate generator is the solution. I actually put some work into implementing 3.5 support in the existing templates, but found that it required too many "if .net 3.5" and "if not .net 3.5" conditionals.

[2015-07-21 03:35] wing328 commented on #990
@jeusdi Would you please elaborate on the issue ? is it related to spring-mvc ?

[2015-07-21 04:10] wing328 commented on #983
Thanks @who. I've added unit testing for Petstore C# client: https://github.com/swagger-api/swagger-codegen/tree/develop_2.0/samples/client/petstore/csharp/SwaggerClientTest. You might find it useful in testing the C# .net 3.5 client that you're working on (likely you will need to remove the test cases for async method call)

If you need any help or feedback, please let us (community) know. Once a

[2015-07-21 04:29] who commented on #983
@wing328 The original intent I had for this request was to use swagger-codegen to generate .Net 3.5 managed libraries that I can use in Unity3D.  However, as it turns out, the maximum .Net version supported for managed libraries in Unity3D is .Net 2.0.

Therefore, I will also be making a .Net 2.0 generator specifically for use as a Unity3D library generator.

[2015-07-21 06:31] fehguy commented on #903
After digging into this, it turns out to be a code bug, not deployment bug.  The SwaggerParser library, which reads the specification, will accept an optional `boolean resolve` flag, which tells the library to resolve all references.  It was not set in the online codegen.

See the parser fix here:  https://github.com/swagger-api/swagger-parser/commit/d8848ba6a93b75a3320cd23342a9b7c7da4d0a54

Pushi

[2015-07-21 06:32] fehguy commented on #903
Deployed to the online codegen

[2015-07-21 06:32] #903 closed

[2015-07-21 08:44] hgwood opened #993 "How to catch errors when using swagger-codegen as a library"
I've managed to generate code using `DefaultGenerator`. But `DefaultGenerator#generate` catches all exceptions and prints the stacktrace without rethrowing. This makes it impractical for the caller code to know if the generation was successful or not. `DefaultGenerator` was clearly not intended to be used outside of a CLI case.

How am I supposed to use swagger-codegen as Java library if not throu

[2015-07-21 09:40] wing328 commented on #903
@fehguy thanks for fixing the issue. I've filed a PR (merged) to update pom.xml to use 1.0.9-SNAPSHOT for swagger-parser so as to avoid the compilation error reported by Travis-CI.

[2015-07-21 13:47] wing328 commented on #989
@vijayrcse would be nice if you can share the full swagger spec definition with us (assuming it can be shared publicly) and also I wonder if you can do a test with the latest `develop_2.0` branch to see if the exception still occurs.

[2015-07-21 14:37] wing328 commented on #896
@javier-alvarez do you mind testing the latest develop_2.0 to see if you still encounter the issues ?

[2015-07-21 20:28] Helmsdown opened #996 "JaxRSServerCodegen overrides JavaClientCodegen's getTypeDeclaration() method with an incorrect implementation"
So JavaClientCodegen has a good implementation of getTypeDeclaration() which correctly handles MapProperty objects.

[code]

JaxRSServerCodegen overrides this method with and drops some important code that handles MapProperty objects.

[code]

The JavaClientCodegen implementation seems like it would work when generating the JaxRS template.

Can we just get rid of the overriding method in JaxRSServ

[2015-07-21 21:30] olensmar commented on #996
sounds reasonable to me - @fehguy - any objections?

[2015-07-22 01:25] elibixby opened #997 "Java codegen fails to create an Any class for swagger specs with an "any" type"
As an example you can run codegen on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1.json

[2015-07-22 02:25] wing328 commented on #997
According to [swagger spec](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#data-types), there's no such as type named "any".

[2015-07-22 03:06] #964 closed

[2015-07-22 03:26] xhh commented on #993
Agreed that the behavior of hiding exceptions would be confusing.
As in [`DefaultGenerator#generate`](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L50):

[code]

In cases of null swagger/config, RuntimeException would be thrown, while exceptions happening in the process of code generation are hidden (

[2015-07-22 07:39] vijayrcse commented on #989
wing328

This was the original .json file
{"apiVersion": "1.0", "swaggerVersion": "1.2", "basePath": "/", "resourcePath": "/service-v1", "produces": ["application/json"], "consumes": ["application/json"], "apis": [
    {
        "path": "/service-v1/evaluate",
        "operations": [
            {
                "method": "POST",
                "summary": "Summary",
                "notes": "not

[2015-07-22 09:47] wing328 commented on #996
@Helmsdown thanks for the suggestion. There's a similar PR submitted but for `SpringMVCServerCodegen`

[2015-07-22 10:04] wing328 commented on #972
@danny-cassidy The PR to support `allOf` (model composition) has been merged into `develop_2.0`. Do you mind giving it a try to see if meets your requirement?

[2015-07-22 15:53] Amrullha opened #999 "codegen fails on empty 'operationId'"
If we've an empty 'operationId' like e.g.
...
   "get" : {
        "operationId" : "",
        "tags" : ...
the swagger-codegen fails with Ifollowing Exception

java.lang.StringIndexOutOfBoundsException: String index out of range: 1
        at java.lang.String.substring(Unknown Source)
        at io.swagger.codegen.DefaultCodegen.camelize(DefaultCodegen.java:1285)
        at io.swagger.codegen.lan

[2015-07-22 18:01] elibixby commented on #997
1. It's a 1.2 spec

2. It is an entry in the "type" field of which "any" is a valid value as a String, however, "any" is not created elsewhere in the spec. Additionally, the spec validates against the 1.2 swagger spec

[2015-07-22 20:17] rickpelletier opened #1000 "PHP server generation does not work"
I am completely unable to get the [php generate server example](https://github.com/swagger-api/swagger-codegen/tree/master/samples/server-generator/php) to work.

The first obvious issue is that `./bin/runscala.sh` does not even exist in master.

Additionally, If I try to execute `scala samples/server-generator/php/PHPServerGenerator.scala http://petstore.swagger.wordnik.com/api/api-docs special-k

[2015-07-22 20:34] rickpelletier commented on #1000
I think maybe the [README.md](https://github.com/swagger-api/swagger-codegen/tree/master/samples/server-generator/php) is out of date.  After poking around the java code for the generators, I was able to generate server files by using the same syntax as for client code but with a "language" of `silex`:

[code]

[2015-07-22 20:52] rickpelletier commented on #1000
After digging into this further I've realized that this is already being worked on in the develop_2.0 branch (https://github.com/swagger-api/swagger-codegen/commit/ce40da0f7124d42611898ebe5e49a5aaa9af44e1).

[2015-07-22 20:52] #1000 closed

[2015-07-23 00:13] wing328 commented on #1000
@rickpelletier please let us know if you've any feedback for the PHP Silex generator. Thanks!

[2015-07-23 00:22] wing328 commented on #999
@Amrullha Thanks for reporting the issue. I agree with you that a better exception handling is needed.

The `operationId` is the method name (e.g. getPetById). If it's an empty string, the generated code wont' compile. Of course, we can assign a default value (e.g. unknown_method_name) but other issues may come up, e.g. duplicated method names if there're more than 1 `operationId` with empty strin

[2015-07-23 00:38] wing328 commented on #997
@elibixby According to [swagger spec 1.2](https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#431-primitives), there's no type named "any" either.

Do you expect "any" to be a class named "Any" without any properties in the generated code?

[2015-07-23 02:09] xhh commented on #952
Hi @TobiasPfeifer. I can repeat issue and your PR does fix it. But It seems to introduce another syntax error for `StoreApi#getInventory` in the generated petstore spring-mvn code:

[code]

The following is the code of `getInventory`:

[code]

Could you try it to verify it?
`getInventory` should return `Map<String, Integer>` as working in _samples/client/petstore/java/src/main/java/io/swagger/clie

[2015-07-23 02:54] reginald-louis opened #1002 "[Java] javax.xml.bind.DatatypeConverter doesn't exist for android"
This class doesn't exist on android. I don't know if there's an alternative. I will check, but just to let you know.

[2015-07-23 03:04] reginald-louis commented on #1002
The import is used in the file `HttpBasicAuth.java` and for this function

[code]

It's for converting byte to base64. The equivalent in android is in `android.util.Base64.encodeToString`. I can always fork and patch for my own need, but maybe we should think of a compatible way!

Thx!

[2015-07-23 03:07] xhh commented on #1002
The code generated by Java client generator (the java template) is meant to be used in JVM environment, not other environments like Android.
There is a android-java template for Android, which has not implemented HTTP basic auth yet.

[2015-07-23 03:10] #985 closed

[2015-07-23 06:22] jeusdi commented on #990
Hi @wing328.

Take a look at [here](https://gist.github.com/56bba54643c509e81e31.git).

As you can see, I've implemented two update operation, one on `POST`, and the other one on `PUT`.
The difference is I'm using `POST` verb to create a new resource on my system, and `PUT` to update it.

So, when it's created, I return the object id using the `Location` header, or I'd like to use another customiz

[2015-07-23 08:32] admackin opened #1003 "Wiki link to PetStore sample on GH is broken"
The wiki page at https://github.com/swagger-api/swagger-spec/wiki points to the PetStore sample for swagger-codegen annotations. However, the provided URL is https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/jaxrs/src/main/java/io/swagger/api/PetApi.java which gives a 404. Somewhat concerted digging has not shown me the correct link either

[2015-07-23 08:34] Amrullha commented on #999
@win328: Thanks for picking up this that fast.
I agree not using a default value here for the mentioned reason.
Empty operationId might be handled as null....
But not only for the reason that another issue will be an operationId with a length of 1
I'd like to recommend to throw an Exception if
1. the operationId is empty (probably never set as empty with intention)
2. the operationId does not have

[2015-07-23 08:39] admackin commented on #1003
Sorry wrong project I suck

[2015-07-23 08:39] #1003 closed

[2015-07-23 10:30] wing328 commented on #1003
@admackin np :)

you can find the samples under `https://github.com/swagger-api/swagger-codegen/tree/develop_2.0/samples` (note that this is the develop_2.0 branch, which contains the latest bug fixes and enhancements)

[2015-07-23 13:55] wing328 commented on #996
PR for SpringMVCServerCodegen: https://github.com/swagger-api/swagger-codegen/pull/961

[2015-07-23 13:56] wing328 commented on #976
@ubriela if there's no more follow-up question from you, we'll close this issue.

[2015-07-23 13:58] wing328 commented on #974
@andrewmunsell we're closing this issue since we've not heard from you. Please open a new one if needed.

[2015-07-23 13:58] #974 closed

[2015-07-23 14:00] wing328 commented on #999
@Amrullha thanks for the suggestion. I'll file a PR based on your suggestion this weekend.

[2015-07-23 14:18] wing328 commented on #997
@elibixby I think it's a known issue as documented by the owner of `kubernetes`:

https://github.com/GoogleCloudPlatform/kubernetes/issues/4700

[2015-07-23 14:29] wing328 commented on #947
PR merged into develop_2.0

[2015-07-23 14:29] #947 closed

[2015-07-23 14:31] wing328 commented on #956
Closing the issue as no further question raised.

[2015-07-23 14:31] #956 closed

[2015-07-23 14:38] wing328 commented on #990
@jeusdi  Currently, the response header is not used by the auto-generated API client. There's a way to get the HTTP response header from the last HTTP call via `RestClient`, would that meet your requirement?

[2015-07-23 14:39] wing328 commented on #929
PR merged into develop_2.0

[2015-07-23 14:39] #929 closed

[2015-07-23 14:39] #930 closed

[2015-07-23 14:40] wing328 commented on #921
Closing the issue as there's no further update.

[2015-07-23 14:40] #921 closed

[2015-07-23 14:41] wing328 commented on #920
@neoecos closing the issue as we've not heard further update from you. Please open a new one if needed.

[2015-07-23 14:41] #920 closed

[2015-07-23 14:42] wing328 commented on #831
Closed as the PR has been merged into develop_2.0 branch

[2015-07-23 14:42] #831 closed

[2015-07-23 14:43] wing328 commented on #719
Closing the issue as the PR got merged.

[2015-07-23 14:43] #719 closed

[2015-07-23 14:45] wing328 commented on #678
Merged (#768)

[2015-07-23 14:45] #678 closed

[2015-07-23 14:48] wing328 commented on #443
@cchafer @SunriseJJJ I wonder if you can test with the latest `develop_2.0` branch and let us know if the issue still exists. Thanks!

[2015-07-23 14:51] wing328 commented on #928
Merged into develop_2.0.

[2015-07-23 14:51] #928 closed

[2015-07-23 14:52] wing328 commented on #922
@paullo0106 do you need further assistance from us? Are you happy to close the issue ?

[2015-07-23 16:06] paullo0106 commented on #922
My issue was resolved after applying https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/samples/client/petstore/python/swagger_client/rest.py which catch the abnormal status code and wrap the error nicely in `class ApiException`
[code]
as well as updating some code in `request()` and `call_api()` functions in `class ApiClient` from https://github.com/swagger-api/swagger-codegen/blob/d

[2015-07-23 16:06] #922 closed

[2015-07-23 16:44] elibixby commented on #997
@wing328 Thanks! I missed that issue I guess!

[2015-07-23 16:44] #997 closed

[2015-07-23 17:42] dougbeauchene opened #1008 "swagger-codegen cannot create README.md"
I am invoking codegen from a gradle task to generate .json from .yaml source.

When it runs, I see this message displayed in the output:
can't open swagger\README.md for input

A README.md file of length 0 bytes is created.

From within the swagger-editor, if I select Generate Client-->Swagger JSON....a zip file is created that contains a valid README.md and my .json output.

Why do I get the mess

[2015-07-23 20:21] Amrullha commented on #999
@wing328 Great. Thx. By the way - I forgot to answer your question:
Our operationId was created empty accidentally (by a generator and should not exist at all - so we also created a ticket against it.

[2015-07-23 23:38] admackin commented on #1003
Ah, interesting - I ended up updating the wiki page in question, but I pointed it to https://github.com/swagger-api/swagger-samples/blob/master/java/java-jaxrs/src/main/java/io/swagger/sample/resource/PetStoreResource.java

[2015-07-24 01:18] wing328 commented on #1003
@admackin that will do as well. Thanks for updating the wiki page.

[2015-07-24 01:46] wing328 commented on #999
@Amrullha for generator, are you referring to some 3rd-party Swagger-plugins, e.g. [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle), [swagger-php](https://github.com/zircote/swagger-php) ?

[2015-07-24 08:17] phauer commented on #949
I run into the same problems. The generated API library uses jersey-client 1.1.8 and dropwizard-core (0.8.0) uses jersey-client 2.16. This causes a lot of NoSuchMethodError when I use my dropwizard application (for startup in a test) in conjunction with the generated API library in the same project. Due to the different groupId (com.sun.jersey and org.glassfish.jersey.core), I can't try to force a

[2015-07-24 08:18] #976 closed

[2015-07-24 08:21] Amrullha commented on #999
@wing328 Yes, it's our own product exposing REST services (also providing the swaqgger json)

[2015-07-24 11:11] SparrowJang opened #1011 "generate python version"
Hello, the `setup.py` header need insert a line.
[code]

[2015-07-24 13:13] wing328 commented on #1011
@SparrowJang thanks for the suggestion. Would you please submit a PR for `develop_2.0` branch (so that the credit goes back to you) ? Let me know if you need any help.

[2015-07-24 19:42] reginald-louis commented on #1002
Ok thx! The android generation work!

On Wed, Jul 22, 2015 at 11:07 PM, Xu Hui Hui <notifications@github.com>
wrote:

--
/RL

[2015-07-24 22:35] mxl commented on #358
Is this feature implemented for static html documentation generator?
I'm using build of `develop_2.0` branch and generated html has empty `Return type` sections for responses with `allOf`.

[2015-07-25 01:34] #1002 closed

[2015-07-25 08:39] wing328 commented on #358
@mxl the latest develop_2.0 branch should have supported of `allOf`, which means the response should contains all properties defined in `allOf`. Do you mind sharing the swagger spec that I can help repeat the issue (assuming the spec can be shared publicly) ?

[2015-07-25 11:10] mxl commented on #358
@wing328 I created simplified [spec](https://gist.github.com/mxl/df3ad1b1a1b57502ec61)
Also `$ref` to response object is not rendering in html.
Running swagger-codegen gives this output:
[code]

[2015-07-25 11:13] wing328 commented on #358
@mxl Thanks. I'll take a look tomorrow (Sunday)

[2015-07-25 11:14] wing328 commented on #1011
PR merged

[2015-07-25 11:14] #1011 closed

[2015-07-26 08:22] herveDarritchon commented on #905
In fact, it seems that the Swagger CodeGen is not able to override the configPackage variable set in the code even if you put a configPackage in the config json file.

Look at my example :

If I use the standard example : PetStore

If I run the script `./bin/spring-mvc-petstore-server.sh`with a modification in the run command line such as `ags="$@ generate -t modules/swagger-codegen/src/main/resou

[2015-07-27 01:30] wing328 commented on #957
@ericsodt the issue should be addressed in `develop_2.0` by #959. Please take a look.

[2015-07-27 01:34] wing328 commented on #962
@cbornet scribe looks promising as it includes a lot of examples covering different OAuth providers. https://github.com/fernandezpablo85/scribe-java/tree/master/src/test/java/org/scribe/examples

Thanks in advance for you contribution to support OAuth2 in the templates.

[2015-07-27 03:24] wing328 commented on #999
Submitted #1018

[2015-07-27 04:17] wing328 commented on #999
Submitted PR #1018

[2015-07-27 08:14] jplegoff opened #1020 "JAX-RS generated server readme template mentions it's using scalatra"
In readme template, it mentions it's using scalatra framework :
`This example uses the [scalatra](http://scalatra.org/) framework.`
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/README.mustache

[2015-07-27 09:10] wing328 commented on #1020
@jplegoff thanks for reporting the issue. I agree that the README needs to be updated (my guess is that it was copied over from the Scalatra folder).

Please feel free to submit a PR against the `develop_2.0` branch

[2015-07-27 09:45] haidaraM opened #1021 "Different code generated with the same specification"
Hi everyone,
I don't know if this is really an issue.
I used  swagger editor and swagger codegen to generate client code in java with the same specification but I didn't get the same client. There are some differences between both like `Pair.java` which is only presents  when using the online generator.
Is there a reason why I don't have the same code? If yes, which one I should use?

[2015-07-27 10:12] wing328 commented on #1021
@haidaraM for swagger-codegen are you using `develop_2.0` branch, which contains the latest bug fixes and enhancements?

[2015-07-27 10:54] haidaraM commented on #1021
No. I'm on the `master` branch.

[2015-07-27 10:57] haidaraM commented on #1021
I just switched to `develop_2.0` branch and I have the same code (I think). So I had to use this branch ??

[2015-07-27 11:41] wing328 commented on #1021
I would recommend you to use `develop_2.0`, which has the latest bug fixes and enhancements. Otherwise you may encounter issue that's fixed in `develop_2.0` branch.

[2015-07-27 11:51] haidaraM commented on #1021
Ok. Thanks for your reply.

[2015-07-27 11:51] #1021 closed

[2015-07-27 21:20] cbornet commented on #962
But scribe seems to only support authorization code flow whereas a swagger client should be able to use password flow. I have started using oltu and so far it is working quite well.

[2015-07-28 06:43] wing328 commented on #962
Thanks for sharing the progress. I've not looked into `oltu` so I can't comment on it further (their API documentation URL is broken: http://oltu.apache.org/apidocs/index.html)

[2015-07-28 08:23] cbornet commented on #962
Indeed the project doesn't seem very lively...

[2015-07-28 09:39] wing328 commented on #999
Merged

[2015-07-28 09:39] #999 closed

[2015-07-28 14:40] wing328 commented on #989
Swagger spec 1.2 does not support nested array. Would you consider converting the spec to the latest Swagger spec 2.0, which supports nested array ?

[2015-07-28 14:46] wing328 commented on #997
@elibixby As a workaround, you can do a find & replace for "any" with "object". I can generate code without exception using this approach.

[2015-07-28 16:45] vijayrcse commented on #989
Yes. I am following this to move to swagger spec 2.0 please let me know if this is correct
https://github.com/swagger-api/swagger-core/wiki/1.3--1.5-Migration

[2015-07-29 03:19] soasme opened #1030 "Any plan to add a brew installer?"
Something like

[code]

[2015-07-29 04:58] who commented on #1030
Neat idea - throw a PR together if you like :)

[2015-07-29 09:08] wing328 commented on #1030
@soasme I don't think anyone is working on a brew installer for swagger-codegen. Feel free to submit a PR as suggested @who and the community would appreciate your contribution.

[2015-07-29 13:07] vijayrcse commented on #989
I have converted to 2.0 spec but i am getting below code generated at client side which doesn't compile
[code]
any advise ?

[2015-07-29 14:08] vijayrcse opened #1033 "Incorrect swagger-codegen-cli code generation for nested array"
I am using swagger-codegen-clie version 2.1.2. For a given json schema that contains nested array the model property is generated as follows

[code]
Above doesn't compile. The swagger spec is 2.0 and a sample snippet is as follows which represent the nested array

how should we get past this issue ?

generated json snippet from service end point using swagger spec 2.0

[code]

[2015-07-29 14:39] fehguy commented on #989
This is simply not supported in codegen right now.  Is there another way you can describe the data other than `[[{ /* descriptor */ }]]`?

[2015-07-29 15:39] vijayrcse commented on #989
if this is not supported the only option is change the response not to contain
[code]
if spec 2.0 supports nested array , would like to know why code gen is not supporting that

other option for us to change as follows
[code]
but this is going to change more things at service side
any thoughts if this can be supported ?

[2015-07-29 15:41] vijayrcse commented on #1033
issue is same as https://github.com/swagger-api/swagger-codegen/issues/989

[2015-07-29 16:37] elibixby commented on #997
@wing328 Thanks, yeah I ended up replacing it with Map<String,String> and it seems to work fine.

[2015-07-29 17:45] fehguy opened #1034 "model filename generator incorrect with multiple files"
As reported by @Helmsdown

[2015-07-29 19:12] mdotson opened #1035 "Java Codegen not producing joda DateTime for "date-time" format objects in swagger.json"
In our codegen project, we have date-time fields that we would like to be generated to joda DateTime objects. Currently, they are parsed into Date objects.

Model in jersey service:
@ApiModelProperty(required = true, position = 9")
public DateTime getCreationTimestamp() { return ModelUtils.millisToJoda(creationTimestamp); }

swagger.json:
[code]
Generated model from codegen:
[code]
Is there DateTi

[2015-07-30 03:29] xhh commented on #989
Hi @vijayrcse, were you using the latest code from the develop_2.0 branch when you tried it?
I just tried it and it works, generating code of model properties like this:

[code]

[2015-07-30 09:18] templth commented on #652
Hi all,

Hugo (https://github.com/hgwood) and I worked on a fix for this issue. We created a PR for the fix: https://github.com/swagger-api/swagger-codegen/pull/1037.

Feel free to make us your comments!

[2015-07-30 10:03] vijayrcse commented on #989
could you please tell me what is the certified version that needs to be used ?
[code]

[2015-07-30 10:10] wing328 commented on #989
`develop_2.0` branch is the latest version which contains bug fixes and enhancements. Please give it a try as it might have addressed the issue you reported.

[2015-07-30 10:22] vijayrcse commented on #989
I cannot build using develop_2.0 branch. It is prohibited and i can only use a certified maven release.
Do you have certified maven release version that contains the fix ?

[2015-07-30 10:26] wing328 commented on #989
If that's the case, I'm afraid you've to wait for the next major release (no date has been set).

Maybe you can ask for an exception ?

[2015-07-30 10:34] vijayrcse commented on #989
nope not possible. is it possible if you can give something like 2.1.3 ?

[2015-07-30 12:08] akkie commented on #1035
We use:
[code]

[2015-07-30 13:43] mdotson commented on #1035
We tried adding the dataType="DateTime" to our swagger annotation (we're using jersey again), but it's still coming out with a "type": "string", "format":"date-time". Our swagger-core version is 1.5.2-M2.

[2015-07-30 15:00] mdotson commented on #1035
Also, according to the swagger 2.0 spec, "type":"string", "format":"date-time" should be interpreted as DateTime:

https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#data-types

[2015-07-30 16:26] SunriseJJJ commented on #443
@wing328 issue still exists. Maybe issue related to [model.mustache](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/resources/JavaJaxRS/model.mustache) file?
Line
'''
@JsonProperty("{{name}}")
'''

should be changed to something like this
'''
@JsonProperty({{#required}}required = {{required}}, {{/required}}value = "{{name}}")
'''
?

[2015-07-30 23:38] sadu99 opened #1038 "Python: Apostrophe in comments is converted to "&#39;s""
When python files are generated using swagger-codegen, all code comments containing an apostrophe are converted to "&#39;s".

Example:  "Information about the capsule&#39;s end marker"

Using swagger-codegen 2.1.3-SNAPSHOT

[2015-07-30 23:40] fehguy commented on #1038
Hi, can you please give an example so we can fix it?   We're probably missing the triple mustache...

[2015-07-30 23:44] sadu99 commented on #1038
Looks like my example updated itself after submitting the issue. Here's an image:

![screen shot 2015-07-30 at 4 42 10 pm](https://cloud.githubusercontent.com/assets/7516660/8997761/290dbeb8-36da-11e5-973d-4b0d5cd47a22.png)

[2015-07-31 08:11] geekerzp commented on #1038
@sadu99 Fixed in https://github.com/swagger-api/swagger-codegen/pull/1039

[2015-07-31 22:31] 2rs2ts opened #1040 "Create a GDD generator"
The idea is simple: create a generator which converts your swagger spec document to a [Google Discovery Document](https://developers.google.com/discovery/v1/reference/apis) or a set thereof.

I have already been working on an implementation of this, but it basically requires me to modify this repo itself (it's not something I can do by generating a new codegen module with `Meta`.) I'm willing to s

[2015-08-01 08:45] wing328 commented on #1040
@2rs2ts thanks for contributing a converter for Google Discovery Document format.

Would it be better to put the converter logic into [Swagger Core](https://github.com/swagger-api/swagger-parser) ?

Currently, it can read a swagger spec using Swagger Parser as follows:
[code]

One option is to implement a `toGoogleDiscoveryDocument()` function for `Swagger`. In the future, other contributors can i

[2015-08-03 02:10] wing328 commented on #1035
@mdotson you're correct in saying that `"type":"string", "format":"date-time"` corresponds to `dateTime` in swagger 2.0 spec.

May I know which code generator you're using ?

[2015-08-03 02:14] wing328 commented on #1008
@dougbeauchene please test with `develop_2.0` branch which contains the latest bug fixes and enhancements to see if you still experience the same issue.

[2015-08-03 02:16] #957 closed

[2015-08-03 02:16] #942 closed

[2015-08-03 02:21] wing328 commented on #934
@cosbor11  The README has been updated in `develop_2.0` branch:

http://localhost:8002/v2/swagger-ui.html

[2015-08-03 02:22] wing328 commented on #896
@javier-alvarez we're closing this issue since we've not heard from you. Please open a new issue if needed.

[2015-08-03 02:22] #896 closed

[2015-08-03 02:22] wing328 commented on #890
PR merged. Closing this issue.

[2015-08-03 02:22] #890 closed

[2015-08-03 02:23] wing328 commented on #860
PR merged. Closing this issue.

[2015-08-03 02:23] #860 closed

[2015-08-03 02:30] fehguy commented on #1040
I actually think the logic should go int swagger-parser.  We can simply add an extension via SPI so it'll be picked up at runtime if added as a dependency.  Look at the swagger-compat-spec-parser, which handles older versions

[2015-08-03 02:49] wing328 commented on #1038
@sadu99 PR merged into `develop_2.0`. Please let us know if you still experience the issue.

[2015-08-03 04:08] ivanmartinvalle commented on #990
@wing328 I am having the same issue, specifically with the generated Java client. I need to access the value of the Location header on POST. What would be the best way to move forward? Modify the generator so that all response objects implement an interface that has the headers and status code of the response?

[2015-08-03 13:31] wing328 commented on #990
@ivanmartinvalle For Java client, if we add a member variable (e.g. httpHeader) in `ApiClient` class to store the HTTP header of the last HTTP response, would that meet your requirement ?

[2015-08-03 14:10] ivanmartinvalle commented on #990
@wing328 That would cause issues in a multi-threaded environment, but is probably fine for now, especially since it's probably best practice to spin up a new instance of a client per HTTP request anyway.

Adding a member variable of all HTTP response headers AND the HTTP status code (both are really important) would indeed meet my requirements.

[2015-08-03 14:24] wing328 commented on #990
@ivanmartinvalle yes, for API client in other languages (e.g. PHP), we also recommend an instance of ApiClient per thread to avoid any potential multi-thread issue.

For Java, we're working on updating the template to support different version of Jersey library (and support other HTTP libraries in the future). We'll work on the support of HTTP response headers and status code after that.

[2015-08-03 18:17] 2rs2ts commented on #1040
@wing328 If I implemented a `toGoogleDiscoveryDocument()` method, then that would probably output a string, right?

@fehguy I'm confused by your comment. Isn't the goal of swagger-parser to read files and represent them as a `Swagger` object?

[2015-08-03 23:47] who opened #1042 "Null basePath causes double slashes in URIs"
When an api has only a domain and paths, and no basePath, swagger-codegen assumes that basePath is "/". This causes generated URLs to have double forward slashes.

Here's repro:

[code]

Notice how `basePath` above has a trailing slash, and `path` has a leading slash.

This will cause HTTP requests to hit "https://api.example.com//api".

[2015-08-03 23:55] who commented on #1042
Thanks @fehguy !  Validated the fix. Closing now.

[2015-08-03 23:55] #1042 closed

[2015-08-04 09:09] mdotson commented on #1035
We are just using the "java" generator. "-l java". This generates a Date object and not a joda DateTime object.

[2015-08-04 11:40] xhh commented on #1035
It's the expected behavior that `{"type": "string", "format": "date-time"}` is mapped to `java.util.Date`, see the mapping [here in DefaultCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules%2Fswagger-codegen%2Fsrc%2Fmain%2Fjava%2Fio%2Fswagger%2Fcodegen%2FDefaultCodegen.java#L304).

There are joda-related code there (and also `pom.xml` of Java client), but apparen

[2015-08-04 15:13] wing328 commented on #1040
@2rs2ts I've fixed the link. Sorry what do you mean by without a JSON library?

[2015-08-04 19:19] mohsen1 opened #1044 "Use swagger.d.ts for TypeScript codegen"
I wrote the type definition for Swagger. Use it in codegen.

https://github.com/mohsen1/swagger.d.ts

[2015-08-04 22:48] 2rs2ts commented on #1040
@wing328 I didn't see Jackson as a dependency in swagger-core. I figured it would be hard to output a serialized JSON document in that project. I guess we could add model objects for GDD but at that point it might be better to just create a library modeling GDD and providing Swagger/GDD inter-conversion. Not sure I want to go that far, but it seems like the most reasonable solution.

An update on

[2015-08-05 14:36] wing328 commented on #1040
@2rs2ts if you've a valid reason (which I think you do), I think it's ok to add another library as a dependency of the project.

@fehguy I also confused on how `swagger-parser` can be used in this case and would appreciate if you can elaborate a bit more.

[2015-08-05 16:18] nabheet opened #1047 "csharp generator does not use invokerPackage"
The compile.mustache template has the following line:

%CSCPATH%\csc /reference:bin/Newtonsoft.Json.dll;bin/RestSharp.dll /target:library /out:bin/{{invokerPackage}}.dll /recurse:src\*.cs /doc:bin/{{invokerPackage}}.xml

But the invokerPackage specified in the configuration file does not end up in the compile.bat file.

[2015-08-05 17:47] 2rs2ts commented on #1040
@wing328 Well, what if we made a separate project that just pulled in swagger-core, so that way anyone using swagger-core wouldn't have to pull in the extra dependency (or exclude it?) The more I work on this generator the more I think that would be the best route forward.

Anyway, I do have some progress which you can view [here](https://github.com/swagger-api/swagger-codegen/compare/swagger-api:

[2015-08-05 18:21] who opened #1050 "[Java] Generated code does not compile when using enums in inherited models"
Given this spec snippet

[code]

The swagger-codegen output for java will not compile. It generates an enum for both the parent and the child class, and generates a getter&setter for each. However, this will not compile in java, because the return type of the enum getter in the subtype is not equal to the enum type in the parent class, and therefore the override is not proper.

[2015-08-05 18:32] who commented on #315
@xhh Currently, because enums are not generated as stand-alone classes, the java output of swagger-codegen will not compile when using enums inside subTypes.  I have filed a bug here: https://github.com/swagger-api/swagger-codegen/issues/1050

[2015-08-06 02:11] rickylevan opened #1053 "Missing fields in Java and Python classes"
When generating code in Java and Python (I haven't tried other languages, but I assume the problem is there as well) from a Swagger JSON document, some—but not all—of the "property" keys in the JSON end up becoming fields in the corresponding Java and Python classes. So some fields are just missing. Has anyone else had this problem?

[2015-08-06 02:15] fehguy commented on #1053
Hi, that typically is an issue when there are errors in your spec, like missing formats, etc.  Can you share your spec?  Any error messages?

[2015-08-06 02:19] rickylevan commented on #1053
I can't share the spec, but I'll look more tomorrow to see if there are places where it doesn't conform to Swagger. Thanks!

[2015-08-06 02:39] wing328 commented on #1053
@rickylevan you can try https://editor.swagger.io to see if it throws any error for your spec.

[2015-08-06 02:54] fehguy commented on #1040
Hi @wing328 @2rs2ts sorry for the lag responding.

I would love to support importing as many formats as possible into swagger specs.  I would like to have first-class support as optional modules in swagger-parser, which is pluggable by design so you can parse whatever structure you want as long as you output a swagger object.  Via `SPI`, you simply include your module and voila.

As for going the

[2015-08-06 03:15] fehguy commented on #1053
See if you can share the output from the codegen, strip away anything that seems proprietary.

[2015-08-06 16:23] who opened #1054 "[Java] HTTP Basic auth is broken in generated clients"
It looks like HTTP Basic auth in the generated java clients is broken.  I used to be able to create an instance of ApiClient, set username and password into it, and then pass that instance of the ApiClient into the API class.  However, I am always receiving an HTTP 401, as the authentication is not sent. As a workaround, I am setting an Authorization header on the request.

Here's how I expect it

[2015-08-06 16:26] who opened #1055 "[Java] Project does not compile. Missing dependency swagger-parser-version 1.0.9-SNAPSHOT"
It looks like swagger-parser-version 1.0.9-SNAPSHOT is not available in the central repos, yet swagger-codegen requires it. Because of this, compilation of a fresh clone fails. Changing the version to 1.0.9 seemingly fixes the issue.

[2015-08-06 17:12] 2rs2ts commented on #1040
@fehguy I am more interested in Swagger -> GDD than the other way around presently. I'm working on building it as its own module, and I'll share that with you when it's done, and you can find a good home for it.

[2015-08-06 17:13] fehguy commented on #1040
Sounds good.  Take a look at how swagger-parser is structured, you might be able to use that as a template for this as well.

[2015-08-06 19:18] mdotson commented on #1035
I mean I see that the generator has Date and not DateTime, but is that really intended? If this is intended, is there a way to substitute my own Codegen class to override this behavior?

[2015-08-06 23:33] who opened #1056 "[Java] generated client truncates lone, quoted string response body"
If you have an API that returns a single, quoted string in the response body, the swagger-codegen generated client will truncate the the last character of that string.

For instance, if your API returns a response body of `"hello world"`, the swagger-codegen ApiClient->deserialize() will return `hello worl`. The quotes, and the last character inside the quotes, are removed.

[2015-08-06 23:39] who commented on #1056
It seems like this is the culprit line: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache#L302

This should should probably be changed to  `return json.substring(1, json.length() - 1);`

I'll put a PR together and run some tests.

[2015-08-06 23:42] fehguy commented on #1056
right you are.  should be -1 because of the offset

[2015-08-07 00:34] who commented on #1056
Fixed in this PR: https://github.com/swagger-api/swagger-codegen/issues/1056

Ran tests (including integration) and things look good.

[2015-08-07 00:39] fehguy commented on #1056
thanks!

[2015-08-07 00:39] #1056 closed

[2015-08-07 01:09] wing328 commented on #1055
Tony redeployed swagger parser 1.0.9-SNAPSHOT. Issue resolved.

[2015-08-07 01:09] #1055 closed

[2015-08-07 02:40] xhh commented on #1056
The same issue exists in Android and Scala clients, I'm submitting a PR for it.

[2015-08-07 02:42] xhh commented on #1056
The same issue exists in Android and Scala clients, I'm submitting a PR for it.

[2015-08-07 03:23] xhh commented on #1054
Hi @who, I tried and it worked for me.

Do your swagger-spec has more than one HTTP basic authentication (securityDefinitions) defined? If so, you might need to explicitly retrieve and set data for a HTTP basic authentication, as the methods `setUsername` and `setPassword` are just helper methods to set data for the **first** HTTP basic authentication.
The following is sample code which works for

[2015-08-07 04:32] fehguy commented on #1035
Yes, well `java.util.date` is really a date-time.  The older java date stuff is truly a mess.

The best solution if you're not on java 8 is to use joda.  Note that the types are configured like such:

https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L449-L452

[code]

That means you can use the `typeMapping

[2015-08-07 13:04] avdv opened #1060 "[python3] SyntaxError in generated client code"
For the following (partial) swagger 2.0 spec (which is generated):

[code]

The python3 client generator creates the following invalid method name in `client/api_api.py`:

[code]

So, it seems it replaces the '.' with a forward slash. Python complains:

[code]

[2015-08-07 15:08] RMarinaro opened #1061 "Java 'path' query string parameter causes compile error"
Using `path` as a query string parameter causes the java client to generate something like this
[code]

[code]

Unfortunately, I am unable to change the query string parameter of the API I'm using (dropbox). A possible fix would be adding local parameters to the [reserved list](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/

[2015-08-07 15:50] wing328 commented on #1061
@RMarinaro thanks for reporting the issue. I think other clients (e.g. PHP, Python) may encounter similar issue. My suggested solution is to name the local variable differently (e.g. with _Swagger prefix). Naming collision may still occur but less likely.

[2015-08-07 15:53] wing328 commented on #1060
@avdv `operationId` determines the method name. Please add it to the spec and you will have complete control of the method naming (with respect to the style guide in the respective language)

Here is an example:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L216

[2015-08-07 16:02] RMarinaro commented on #1061
Thanks for the quick reply @wing328, is there any way to add this to the language configuration? e.g. "variablePrefix": "_swagger"? Otherwise the best practice would be to fork, and tweak the mustache file?

[2015-08-07 16:17] wing328 commented on #1061
I agree that ideally the local variable prefix should be configurable. If it's a bit too much work, I'll implement that as a day 2 requirement. Would that be ok ?

[2015-08-07 17:48] RMarinaro commented on #1061
I'm happy to take a look at it (if you guys are accepting pulls) for at least the java stuff, but I'm not sure where these config files are parsed. Can you point me in the right direction and let me know the general strategy for adding a new json configuration parameter?

[2015-08-07 17:53] webron commented on #1061
We thrive on PRs.

[2015-08-07 18:01] who commented on #1050
Here's a repro:

[code]

Repro output:
[code]

[2015-08-07 19:48] RMarinaro commented on #1061
Is there any way to run the integration tests locally, or do contributors just open up PRs? I apologize if this is answered somewhere else. Thanks!

[2015-08-07 22:00] rickylevan commented on #1053
Hey thank you for the advice. There were a few spots in the JSON that were not conforming to spec. Using https://editor.swagger.io, I now simply get three warnings about definitions that are defined but not used, which shouldn't make a difference.

Running the codegen now gives errors from io.swagger.properties.PropertyBuilder, saying "no property for null, null" and "no property for string, strin

[2015-08-07 22:57] 2rs2ts commented on #1040
@fehguy @wing328 I've implemented most of the necessary logic. Check [this branch](https://github.com/2rs2ts/swagger-gdd/tree/feature/prototype) out.

[2015-08-08 02:54] xhh commented on #1050
Below is how we could get rid of this issue in another way (IMHO):
1. In the above example, both `SuperObject` and `SubObject` have the `thingType` property defined, it would be best practice (or required) that duplicate properties are remove from child object since they will be inherited from parent object.
2. Java client supports inheritance, e.g. `class SubObject extends SuperObject`, so we sho

[2015-08-08 08:43] wing328 commented on #1053
@rickylevan are you using `develop_2.0` branch for your test? develop_2.0 contains the latest bug fixes and enhancements.

[2015-08-10 05:16] lakeba commented on #869
Any news about the download ?
What format from Web Api we must return to download a file/Image ?

[2015-08-10 06:15] nikhiljindal opened #1066 "Getting an error that is fixed in swagger-parser"
Generating a client from swagger spec is giving me the following error:
[code]
I see that it was fixed in https://github.com/swagger-api/swagger-parser/issues/60 but am still getting that error when using swagger-codegen on HEAD.

Here is the command I am running:
[code]
And this is my swagger-spec: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1.json

Any ideas o

[2015-08-10 10:03] wing328 commented on #1066
@nikhiljindal using `develop_2.0` branch, I couldn't repeat the error you got and I got a different error as follows:
[code]

I'll look into the error (null pointer exception) and keep the community posted.

[2015-08-10 13:22] wing328 commented on #1066
@nikhiljindal using the latest `develop_2.0`, I no longer see those "no property for null" error but I got the following exception instead:
[code]
I'm still looking into the exception.

[2015-08-10 14:33] wing328 commented on #1066
@nikhiljindal I was able to identify two issues in the spec:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1.json#L5896
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1.json#L5974

Both have `"type": ""`. After changing the type to `string`, I'm able to generate python client without any exception/error.

(As you probably aware, t

[2015-08-10 14:50] wing328 commented on #1054
@who we would appreciate if you can share with us your feedback on the current authentication approach of the Java API client. From a developer perspective, is that "natural" (easy-to-use, straightforward) to you?

Ideally a developer who has never used the Java API client generated by codegen should not take more than 5 minutes to figure out how to authenticate using the API client (assuming suff

[2015-08-10 17:41] who commented on #1054
@wing328

Yes, I'd say that the auth approach in the generated Java client is natural and easy-to-use.

However, for API classes that require authentication, perhaps their constructor method could be generated differently to accept a required Authentication object.

[2015-08-10 17:58] who commented on #1050
Thanks for the feedback, @xhh

The output spec is the default output generated by swagger-core, so we'd have to modify swagger-core to remove the duplicated properties.  I think this probably would be a bigger change, so it may be best to fix this from the swagger-codegen side.

Currently, `supportsInheritance` is already set to `false` in `DefaultCodegen`, and it is not over-ridden to `true` in `

[2015-08-10 18:19] rickylevan commented on #1053
@wing328 I switched to develop_2.0 and re-ran "mvn package" followed by
"java -jar modules/swagger-codegen-cli/target/original-swagger-codegen-cli.jar generate \
  -i https://localhost/api/1.0/api-docs \
  -l python \
  -o samples/client/pythonapi/python"

but received the following error:
"Exception in thread "main" java.lang.NoClassDefFoundError: io/airlift/airline/Cli
	at io.swagger.codegen.Swa

[2015-08-10 18:53] who commented on #1050
@xhh @fehguy @webron

It looks like there are two ways to fix this: prevention or post-processing.

**Option: Prevention**
In the process of populating properties into a `CodegenModel`, if the model is a child of a parent which has an enum, do not populate an identical enum into the child class. The problem with this approach is that no properties are being looped over by the property population m

[2015-08-10 19:51] 2rs2ts commented on #1040
An update: while my project is lacking tests it's pretty close to done. There are only two things I want to address:

1. GDD doesn't support header, form, or cookie parameters, but Swagger does and I'm not sure what to do about them
2. Vendor extensions aren't really supported in GDD, but it might be nice to be able to port them over. I'm thinking of enabling the API to pass transformative operati

[2015-08-10 20:25] who commented on #1054
This turned out to be an error on the server side.  The authentication code in ApiClient turned out to be a red herring. Closing now.

[2015-08-10 20:25] #1054 closed

[2015-08-11 00:16] xhh commented on #1050
Sorry for the typo, I meant "set supportsInheritance to `true` for Java client codegen" so that parent properties are NOT copied into child object.
However, setting `supportsInheritance` to `true` does not prevent from copying properties of intermediate models (as you mentioned in the "Option: Prevention" section). We could ensure this by filtering all those properties.

[2015-08-11 01:38] nikhiljindal commented on #1066
Thanks a lot @wing328 for prompt reply.
Am fixing it in https://github.com/GoogleCloudPlatform/kubernetes/pull/12507

[2015-08-11 02:17] wing328 commented on #1053
Here is line 24 in SwaggerCodegen.java
[code]
I don't see anything that would obviously go wrong in that line.

If your spec cannot be shared publicly, do you mind sharing with me privately via my email address listed in Github profile page ? Otherwise, please provide a stripped down version of the spec for further troubleshooting.

[2015-08-11 07:34] wing328 commented on #1038
@sadu99 closing this issue as we'e not heard from you.

[2015-08-11 07:34] #1038 closed

[2015-08-11 16:20] Helmsdown commented on #996
Included a fix for this in #1067

[2015-08-12 12:07] Richou commented on #453
Hello,

I have the same issue, I use the following dependency :

[code]

Is it normal ?

Thx.
Regards.

[2015-08-12 16:42] rickylevan commented on #1053
@wing328 @fehguy You guys might find this interesting. If you run the commands from the instructions on github:
1. Clone repository
2. Run mvn package
3. Run generate command:
(java -jar modules/swagger-codegen-cli/target/original-swagger-codegen-cli.jar generate \
  -i http://petstore.swagger.io/v2/swagger.json \
  -l python \
  -o samples/client/pythonsdk/python),

it works perfectly if I start

[2015-08-12 16:49] mdotson opened #1071 "Java Codegen: List of enums producing dozens of core java classes as models unnecessarily"
The java code generation of this class is producing the swagger.json file below it. As you can see, there are dozens of .java files generated because it seems that the Enum class has a **getDeclaringClass()** method that is being looked at by Swagger Codegen (which is a Class object, so it brings in models for **ALL** the classes within Class and their children and generates those models). I am us

[2015-08-12 18:01] samxye commented on #982
Are there plans on implementing this anytime soon? If I can get a rough outline of an approach to take, I can submit a pull request for an implementation

[2015-08-13 01:59] wing328 commented on #1053
@rickylevan please try the following command instead (swagger-codegen-cli.jar instead of original-swagger-codegen-cli.jar)
[code]

May I know where in the documentation you find the `original-swagger-codegen-cli.jar` so that I can update accordingly ?

[2015-08-13 12:45] nViso opened #1072 "Flash code generator Java class missing"
Hi,

In the resources there is a folder for Flash however there is no Java class for this language in the code generator. Is actionscript / Flash intended to be supported? Does anyone have a working generator as we are interested to use it and support it.

Thanks,
Tim

[2015-08-13 12:53] wing328 commented on #1072
@nViso thanks for offering help to support it.

It was not migrated from 1.2 to 2.0 during the Swagger spec upgrade. If it's not urgent, I can spend some time this weekend to come up with a working generator for Flash but would need your help to verify/test it.

[2015-08-13 13:40] kc284 opened #1073 "Please add support for the description of Tag objects"
The name of a tag object is used to group all operations marked with this tag under the same file. I would like to be able to output the description of the tag object as well in this file. For example:

Swagger:

[code]

C# library:

[code]

[2015-08-13 13:55] nViso commented on #1072
That would be fantastic. Actually we have resources that we can allocate to testing / verifying it starting from next Monday, so if you can put something together as a starting point over the weekend it would be perfect.

[2015-08-13 17:23] Zyles opened #1075 "Code generation for Slim PHP framework"
Please consider adding code generation for server in Slim PHP framework.

[2015-08-13 21:11] rickylevan commented on #1053
Thank you for all the help. I found the origin of the problem. In the Data Types section (https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#data-types), if one includes a redundant format as well as type in the string case (i.e. including format "string" for type "string"), the codegen silently refuses to include the corresponding description fields in the model files.

This

[2015-08-13 21:11] #1053 closed

[2015-08-14 02:48] wing328 commented on #1075
@Zyles currently, we have code generator for Silex in `develop_2.0` branch. Here is the code samples for Petstore: https://github.com/swagger-api/swagger-codegen/tree/develop_2.0/samples/server/petstore/silex/SwaggerServer

We do not have anything for Slim PHP framework at the moment. Is that something you would like to contribute? We (community) can help you on that and the code generator for Sli

[2015-08-14 03:19] fehguy commented on #453
@Richou the most recent codegen version is `2.1.3-SNAPSHOT`.  Please do any of your testing against that version, which is currently in the `develop_2.0` branch.

[2015-08-14 03:24] fehguy commented on #1071
Yes, this is actually an issue in swagger-core.  Could you please open an issue there?

[2015-08-14 14:47] wing328 commented on #1073
@kc284 I would suggest you to make the suggestion in the [`swagger-spec`](https://github.com/swagger-api/swagger-spec/issues) project as `swagger-codegen` is just one of the tools that consumes the Swagger Spec.

[2015-08-14 17:01] kfedorov91 opened #1078 "Could not resolve dependencies on mvn package"
After running `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar meta -o custom -n CustomCodegen -p com.custom` and then `mvn package` from the generated project I get the error `[ERROR] Failed to execute goal on project custom-swagger-codegen: Could not resolve dependencies for project io.swagger:custom-swagger-codegen:jar:1.0.0: Failure to find io.swagger:swagger-codegen:jar:2

[2015-08-14 17:26] mdotson commented on #1071
@fehguy It looks like this bug is actually with this project after further research: https://github.com/kongchen/swagger-maven-plugin

Closing this since swagger.json generated by swagger-core does not have these extra classes.

[2015-08-14 17:26] #1071 closed

[2015-08-15 16:24] wing328 commented on #1078
@kfedorov91 I've submitted #1080 (merged) to fix the issue.

Please try again with the `develop_2.0` branch to see if you still experience the same issue.

[2015-08-15 16:27] wing328 commented on #1072
@nViso I've filed #1079 to add back the flash generator. I think it should be good enough for review after fixing issue with templates, default value, etc. (I do not have Flex builder installed so can't tell if the code has any syntax error)

Please kindly help review the output here: https://github.com/wing328/swagger-codegen/tree/add_flash_generator/samples/client/petstore/flash/src/main/flex

[2015-08-17 17:07] Helmsdown commented on #996
Fixed via #1067. Closing.

[2015-08-17 17:07] #996 closed

[2015-08-17 18:19] kfedorov91 opened #1084 "No Documentation in CodegenConfig.java"
CodegenConfig.java needs to be implemented by every custom codegen class and yet it has NO doc comments and ALL of the method names are vague and confusing. "fromModel" ? From model to what? Why would I want to override that? When is it used? "generateExamplePath" ? What is an example path? Why would I want to generate one in the first place? Where is it used?

[2015-08-17 20:12] yzats opened #1085 "exception in deserialize of python client: 'DateTime' is referenced as 'datetime'"
In models generated for objects with date-time field, swagger_types dictionary contains 'DateTime' , but api_client.py  expects 'datetime' -- this produces exception when running generated code on attempt to deserialize (see api_client.py:deserialize function).

[code]

[2015-08-17 21:29] yzats commented on #1085
This appears to be addressed in develop_2.0 branch of codegen.

[2015-08-17 21:35] #1085 closed

[2015-08-17 23:03] yzats opened #1086 "python client: add configuration for SSL certificate validation"
Similar to other clients generated by codegen, add run-time python client options to

a) specify ssl certificate bundle path
b) disable ssl certificate validation (so that clients could be used against servers with self-signed certificates)

[2015-08-18 01:42] wing328 commented on #1086
@yzats yes, the same feature will be rolled out to python client soon.

[2015-08-18 17:40] mach-kernel opened #1087 "Python Client: All are generated as "SwaggerPetstore""
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java#L16

Please fix this.

[2015-08-18 18:58] who commented on #1087
@mach-kernel I believe that has been fixed in the yet-to-be-released develop_2.0 branch.

https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java

[2015-08-18 20:09] yzats opened #1088 "[python client] can't access enum fields that reference definition"
My response contains an enum field. In the spec, the field is defined via "ref" for reuse purpose (see example below). This field is mapped to an empty list in the python object generated by the client instead of a string.

Here's an example of spec:

[code]

[2015-08-18 21:30] who opened #1089 "[Java] Configuration package names are not sanitized"
I am working with a pipeline that generates the swagger-codegen config json file. Sometimes, a json file is generated that contains dashes in the apiPackage parameter. Dashes are not valid values in java package names, so it would be nice if swagger-codegen would sanitize this or throw an error.

Here is an example/repro (requires mvn, java) :

**1. Make a temporary working directory**
[code]

**2

[2015-08-19 00:55] #861 closed

[2015-08-19 00:56] wing328 commented on #837
@cbornet the issue has been addressed.

[2015-08-19 00:56] #837 closed

[2015-08-19 00:56] wing328 commented on #934
closing this issue as we've not heard from you

[2015-08-19 00:56] #934 closed

[2015-08-19 02:14] wing328 commented on #1089
@who agree with you that codegen should sanitize or throw an error for invalid value in the JSON.

Personally I prefer sanitization on the input. Let me know if you've cycle to submit a PR for it or I'll spend some time next week to work on it.

[2015-08-19 13:14] kc284 commented on #1073
@wing328 According to the [TagObject](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#tagObject) specification the syntax is already supported, my issue is that the generator picks and uses only the name ignoring the other fields.

[2015-08-19 14:14] wing328 commented on #1084
@kfedorov91 agree with you that the documentation in the code can be further improved.

If you've cycle, please help document it (assuming you fundamentally understand how the codegen works)

[2015-08-19 19:07] who opened #1091 "[Java] Tags are not sanitized, yielding code that does not compile"
If tags in a swagger spec contain a space, the java client generated by swagger-codegen will not compile.

Here is an example/repro (requires mvn, java) :

**1. Make a temporary working directory**
[code]

**2. Download swagger-codegen-cli.jar**
[code]

**3. Invoke swagger-codegen-cli**
[code]

**4. Compile the output**
[code]

Result:

[code]

[2015-08-20 04:28] who commented on #1089
@wing328 I'd be happy to put a PR together

[2015-08-20 11:23] ahgittin commented on #1050
@who @xhh i've opened #1094 to at least set `supportsInheritance=true`.  while this may not be a perfect fix it fixes my models.  (my models work with `master` so i'm guessing this restores behaviour to what it was, fixing at least the regression?  the intermediate models problem was probably also present in `master` and so can be addressed as a further improvement?)

[2015-08-20 16:49] who commented on #1050
PR is merged - closing now

[2015-08-20 16:49] #1050 closed

[2015-08-20 21:18] who commented on #1089
PR here: https://github.com/swagger-api/swagger-codegen/pull/1095

[2015-08-20 21:41] who commented on #1091
This was a red herring. My spec contained spaces in the tag names, but that wasn't the issue; the problem was that my spec did not contain any definitions, as everything was simple objects inline.

[2015-08-20 21:41] #1091 closed

[2015-08-21 02:02] wing328 commented on #1087
@mach-kernel it's already addressed in `develop_2.0` as mentioned by @who.

Please reopen this issue if you still encounter error.

[2015-08-21 02:02] #1087 closed

[2015-08-21 02:04] wing328 commented on #1088
@yzats to help us easily repeat the issue, do you mind sharing the swagger spec, assuming it can be shared publicly ?

[2015-08-21 06:05] yzats commented on #1088
Here's a minimal spec example that demonstrates the issue

[code]

[2015-08-21 06:09] webron commented on #1088
Off topic - please be aware that `#/definitions/ThingInfo/properties/color/description` will be ignored. You can't have any additional properties in an object alongside a `$ref`.

[2015-08-21 06:45] yzats commented on #1088
Yes, agree. Thank you.

On Thu, Aug 20, 2015 at 11:09 PM, Ron <notifications@github.com> wrote:

[2015-08-21 09:22] sohail-aspose opened #1097 "How can I map boolean data type in Swagger Specification to NSNumber in Objective C client SDK."
I am using swagger-codegen to generate client SDK in Objective C language. One of my APIs is taking boolean parameter. Parameter is defined in Swagger Specification as follows:

    "parameters": [
        {
            "name": "recursive",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
        }
    ]
The generated client SDK

[2015-08-21 10:14] wing328 commented on #1097
@sohail-aspose thanks for reporting the issue. To confirm, are you testing with the latest ObjC SDK from `develop_2.0` branch?

[2015-08-21 10:29] sohail-aspose commented on #1097
No, I am using ObjC SDK from `master` branch. Should I use SDK from `develop_2.0` branch?

[2015-08-21 10:29] geekerzp commented on #1097
@sohail-aspose  It is fixed in `develop_2.0`, please have a try.

[2015-08-21 10:30] sohail-aspose commented on #1097
OK, let me try. Thank you very much for the prompt reply.

[2015-08-21 15:51] fehguy opened #1099 "`shouldOverwrite` in `DefaultGenerator` is broken"
The current logic will simply skip the file even if it doesn't exist.  This makes the `shouldOverwrite` logic not make any sense.

[2015-08-21 15:53] fehguy commented on #1099
looks like this commit broke it:

https://github.com/swagger-api/swagger-codegen/commit/27113cf326f6921d4e795210d099cf23338aa8c0#diff-2f3507ce07f6eb1c819338ec7623729e

[2015-08-21 15:56] fehguy commented on #1099
of course this is issue 1099...

[2015-08-21 16:39] sohail-aspose commented on #1097
Unfortunately problem is still there. ```develop_2.0``` branch has lot of other issues as well.

[2015-08-21 16:51] #1089 closed

[2015-08-21 17:00] c-knowles opened #1102 "Need to avoid language keywords in enums"
I've been trying out some Java API client code gen on a few APIs and encountered some issues with the enum generation due to the way the values are placed directly inside a Java enum. I hit both keyword issues and enum value starting with a numeric, both of which are not allowed in Java which means the code generated fails to compile.

One example I was trying to generate a client API for is the R

[2015-08-21 22:01] fehguy opened #1103 "`allowableValues` set to empty hash"
the allowableValues is being set to an empty map even when there are no values.  This makes it hard to detect whether it should be emitted in a template because the property exists, but is empty.

[2015-08-22 02:01] wing328 commented on #1097
I did a test with petstore by changing `additionalMetadata` to boolean (required) and got the following:
[code]
so `boolean` is represented as `NSNumber` in Objc client.

Did you perform a `mvn clean package` before generating the Objc client in develop_2.0 branch ?

[2015-08-22 03:31] wing328 commented on #1072
@nViso the PR has been merged and you can find the flash generator in the develop_2.0 branch. To generate the sample, please run `mvn clean && ./bin/flash-petstore.sh`

[2015-08-22 03:47] geekerzp commented on #1088
Hi @yzats We can't define `primitive` type in definitions section. The `swagger-codegen` will generate model properties from `properties` field. So the properties of `ColorType` will be blank.
You must define the enum string in the `Color` model directly.

[2015-08-22 03:54] geekerzp commented on #1060
BTW. @avdv You can try `python-codegen` to generate the sdk for python3. The `python3-codegen` is outdated.

[2015-08-22 05:41] yzats commented on #1088
I understand that's currently not supported, however [this answer](http://stackoverflow.com/questions/26814790/how-to-reference-to-an-id-of-another-model-definition-in-swagger) by @webron led me to believe that referencing primitives is allowed. It's certainly very useful to be able to define enums in one place and reference them throughout the API without copying.

[2015-08-22 06:28] wing328 commented on #1078
@kfedorov91 closing the issue as we've not heard from you.

[2015-08-22 06:28] #1078 closed

[2015-08-22 07:04] wing328 commented on #1060
@avdv as @geekerzp has pointed out, please use the `python` codegen (instead of `python3` codegen) as API client generated by `python` codegen is compatible with both python2 and python3

[2015-08-22 07:04] #1060 closed

[2015-08-22 11:35] sohail-aspose commented on #1097
```mvn clean package``` did the trick. Thank you for your kind cooperation.

[2015-08-22 13:39] wing328 commented on #1097
@sohail-aspose no problem. Let us know if you've any feedback or question on the ObjC SDK.

[2015-08-22 16:00] sohail-aspose commented on #1097
One more question :) My one API returns a file e.g. image, MS Word document, PDF file etc. What return type should I use in Swagger Specification.

    "responses": {
        "200": {
            "description": "OK",
            "schema": {
                "type": "???"
            }
        }
    }
In ObjC SDK I want this API to return me ```NSData```. I cannot use ```file``` data type in Swagger

[2015-08-22 16:15] wing328 commented on #1097
Please use `file`, which is mapped to NSURL: [ObjcClientCodegen.java#L76](https://github.com/swagger-api/swagger-codegen/blob/develop_2.0/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java#L76)

SWGFile should have been removed in develop_2.0 branch.

[2015-08-22 18:07] sohail-aspose commented on #1097
Sir it works. Keep up the great work!

[2015-08-23 14:10] sohail-aspose commented on #1097
I would like to know is there any library --- like ```swagger-codegen```  for client SDKs --- to auto-generate Unit tests for APIs in Objective C and other programming languages.

[2015-08-23 15:47] wing328 commented on #1088
@yzats I agree with you that your swagger spec is valid but it's not supported by Swagger-Codegen at the moment as you've noticed already.

I would recommend you work around the limitation by defining the enum as a property in the model itself for the time being as there's no ETA to support that by SwaggerCodegen.

[2015-08-23 21:25] fehguy opened #1110 "possible generation issue for map responses in springfox templates"
The codegen looks correct for spring-mvc, but the return type of a Map<String, Integer> appears as a `integer`.  See #961

[2015-08-24 00:41] #1103 closed

[2015-08-24 00:41] fehguy commented on #1103
fied in #1104

[2015-08-24 00:41] #1099 closed

[2015-08-24 00:44] fehguy commented on #1072
looks like it's merged and this can be closed

[2015-08-24 00:44] #1072 closed

[2015-08-24 01:28] pablograna opened #1112 "GenerateTest.java is under directory io.swagger.codegen instead of io/swagger/codegen"
Just:

mv ./modules/swagger-codegen-cli/src/test/java/io.swagger.codegen/GenerateTest.java ./modules/swagger-codegen-cli/src/test/java/io/swagger/codegen

Otherwise, eclipse will complain on the GenerateTest package declaration.

[2015-08-24 02:04] fehguy commented on #1112
see #1113

[2015-08-24 02:04] #1112 closed

[2015-08-24 02:09] pablograna commented on #1112
UOUH, that was fast, thanks!!!

[2015-08-24 02:16] fehguy commented on #1112
Working on a release right now so I'd like to close the easy stuff fast :)

[2015-08-24 04:27] sohail-aspose commented on #1097
Please reply

[2015-08-24 06:32] fehguy opened #1115 "jaxrs codegen is failing to describe return types"

[2015-08-24 06:54] wing328 commented on #1097
The unit test you found in the sample directory are hard-coded. Currently, the project does not come with a way to automatically generate test case for a particular language.

[2015-08-24 07:03] #1115 closed

[2015-08-24 07:04] fehguy commented on #1097
thanks @wing328.  I'm closing this

[2015-08-24 07:04] #1097 closed

[2015-08-24 07:44] #798 closed

[2015-08-24 07:44] #347 closed

[2015-08-24 07:44] #652 closed

[2015-08-24 07:44] #936 closed

[2015-08-24 08:36] jamiehannaford opened #1118 "PHP codegen results in broken syntax"
When I generate a PHP client based on [this Swagger schema](https://gist.github.com/jamiehannaford/0b92a57e6cbf9ee809e6), I get broken syntax:

![](http://i.imgur.com/eWUECy1.png)

[2015-08-24 08:58] jamiehannaford commented on #1118
It happens in Python too. I think the codegen _assumes_ a parameter's name will be all one word, but this is not mandated in the 2.0 spec. I'll close this, but I think it would be useful to add in some logic that converts strings to the respective case of the language (camelCase for PHP, snake_case for python etc.)

[2015-08-24 08:58] #1118 closed

[2015-08-24 12:30] wing328 commented on #1118
Thanks for the reporting the issue. I agree with you that the parameter name should be sanitized (e.g. replacing space with _)

For python, we should have done it to make the parameter name to follow snake_case: [PythonClientCodegen.java#L180](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java#L180)

[2015-08-24 12:51] jamiehannaford commented on #1118
@wing328 Okay. According to [PSR-2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md), PHP should be using camelCase.

[2015-08-24 12:59] wing328 commented on #1118
Yes, we'll provide an option so that parameter name will be in camelCase.

[2015-08-24 13:58] wing328 commented on #1118
@jamiehannaford submitted #1125 with a CLI option use camelCase for variable (parameter, property) naming. Would that meet your requirement ?

[2015-08-24 14:21] jamiehannaford commented on #1118
@wing328 Yes, that looks good - thanks for adding. IMO, all syntax styling should abide by PSR-2 by default since it's effectively the industry standard now. I think we should be assuming people want the standard, but also allow them to override with granular options (such as the one you've just added).

[2015-08-24 14:30] wing328 commented on #1118
@jamiehannaford I agree with you. Previously we'd other PRs to make the PHP client more conform to the PSR-2 standard. This one is left over and thanks again for bringing it up.

If you find other syntax styling not conforming to PSR-2, please kindly point it out to us (by opening a new issue for tracking)

[2015-08-24 14:47] xhh commented on #1102
@c-knowles please have a look at #1126 and let me know if it works for you

[2015-08-24 15:40] c-knowles commented on #1102
@xhh Looks great to me and will solve the issues with Java keywords in the enums, thanks not only the quick response but the update!

[2015-08-24 16:37] mach-kernel commented on #453
+1, nested HashMap does not include parent abstract container's types.

[2015-08-24 16:44] #952 closed

[2015-08-24 17:00] mach-kernel commented on #453
This can be fixed, as above, by using `getTypeDeclaration()` instead as it will check if the type mappings contain a key or not. Modify the function as follows in `DefaultCodegen.java`:

[code]

Build executes fine with `mvn clean && mvn package`

[2015-08-24 23:56] sundriver opened #1128 "Scala - CodeGen v 2.1.3 - Response.getStatusInfo().getStatusCode()"
Hi,
 It looks like in the ApiInvoker template for plain scala code gen,

response.getStatusInfo().getStatusCode()

needs to be replaced with

response.getStatus

[2015-08-24 23:59] fehguy commented on #1128
Are you sure?  Travis-ci is running unit tests on the build, the scala project is part of it as well.

[2015-08-25 00:02] sundriver commented on #1128
The generated scala code compiles but when I use it, I get Response.getStatusInfo().getStatusCode() doesn’t exist.

[2015-08-25 00:09] fehguy commented on #1128
What are your dependencies?

[2015-08-25 00:12] sundriver commented on #1128
Here is the SBT dependencies for the project using swagger generated code (com.sensorfront …)

libraryDependencies ++= Seq(
  "com.sensorfront" % "scala-client" % "1.0.0-snapshot",
  "com.sun.jersey" % "jersey-core" % "1.19",
  "com.sun.jersey.contribs" % "jersey-multipart" % "1.19"
)

[2015-08-25 02:18] wing328 commented on #970
Fixed in master

[2015-08-25 02:18] #970 closed

[2015-08-25 02:24] wing328 commented on #949
@phauer the latest java client allows you to specify the http library (see the `library` option):
[code]
would that resolve the issue you reported above?

[2015-08-25 02:26] wing328 commented on #945
@mikebz closing this issue as we've not heard further update from you. Please open a new issue if you need help with Swagger-Codegen

[2015-08-25 02:26] #945 closed

[2015-08-25 02:39] wing328 commented on #937
@marcosoldati fixed in master

[2015-08-25 02:39] #937 closed

[2015-08-25 02:43] wing328 commented on #872
@Hadou1 do you still want to make the C# model partial? If yes, please submit a PR against the master branch.

[2015-08-25 02:44] wing328 commented on #873
@Hadou1 are you still planning to submit a PR (against the master branch) for the change above?

[2015-08-25 02:53] wing328 commented on #671
@cancan101 should be fixed by #716. Please reopen this issue if it's not the case.

[2015-08-25 02:53] #671 closed

[2015-08-25 03:06] wing328 commented on #521
The feature is now available in `master`

[2015-08-25 03:06] #521 closed

[2015-08-25 03:24] xhh commented on #1128
`ClientResponse` in jersey-client 1.19 does have a [`getStatusInfo `](https://jersey.java.net/apidocs/1.19/jersey/com/sun/jersey/api/client/ClientResponse.html#getStatusInfo()) method, returning `Response.StatusType` that has a [`getStatusCode`](https://jersey.java.net/apidocs/1.19/jersey/javax/ws/rs/core/Response.StatusType.html#getStatusCode()) method.

I tried petstore scala client and can not

[2015-08-25 03:37] wing328 commented on #989
@vijayrcse  2.1.3 released: https://github.com/swagger-api/swagger-codegen/releases

please give it a try.

[2015-08-25 03:49] wing328 commented on #642
@kvelakur I believe it's fixed and I could no longer repeat the issue. Please reopen the issue if it's not the case.

[2015-08-25 03:49] #642 closed

[2015-08-25 07:23] wing328 commented on #241
@ngocdaothanh agree that build.sbt is preferable to pom.xml for scala.

Do you mind coming up with a sample build.sbt for https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/scala ? Then we'll use it to come up with a build.mustache template.

Thanks in advance.

[2015-08-25 07:40] wing328 commented on #1047
@nabheet sorry I misunderstood the issue earlier.

Here is the PR to fix the issue: #1131

Please let me know if you've any questions.

[2015-08-25 10:41] geekerzp commented on #1086
@yzats fixed in https://github.com/swagger-api/swagger-codegen/pull/1132

[2015-08-25 14:55] ePaul opened #1133 "unknown `format` value causes a NullPointerException"
**Summary**
When trying to run swager-codegen on a swagger definition with a unknown format name (like in the example below `iso-4217-alpha` for the currency code or `decimal` for the number), it breaks with a NullPointerException.

(I tried this with current master, commit 392e5172b.)

**Reproducible by**

File (bug-trigger.yaml):

    swagger: '2.0'
    info:
      title: Swagger Codegen bug tri

[2015-08-25 15:19] kenhunt opened #1134 "Android client doesn't use ApiInvoker.parseDateTime()"
Symptom: I generated an Android client using a Swagger spec that uses 'date-time' on a model:

[code]
The server returns a string for "createdAt" field that should be accepted based on ApiInvoker's parseDateTime().
   (ex: "2015-08-21T20:36:44.000Z" )

The ApiInvoker.parseDateTime() is never called. Instead, gson's DefaultDateTypeAdapter's deserialize method is called, and an exception is thrown.

[2015-08-25 16:27] phauer commented on #949
@wing328 That looks great. Thanks!
Unfortunately, there are still version conflicts between dropwizard 0.8.0 and the client generated by swagger-codegen 2.1.3:
Jersey 2.16 (dropwizard) vs Jersey 2.8 (swagger-codegen)
Jackson 2.5.1 vs Jackson 2.4.2

However, it doesn't make sense to bring the library versions into line with the ones of dropwizard, because dropwizard is just one possible use case of

[2015-08-25 16:37] ePaul commented on #1133
The issue seems to be in swagger-core/swagger-models, not in swagger-codegen. I'll try to fix it there.

[2015-08-26 01:48] wing328 commented on #949
@xhh is the one who makes this possible.

Closing this issue.

[2015-08-26 01:48] #949 closed

[2015-08-26 01:49] wing328 commented on #1118
@jamiehannaford FYI. PR merged into master

[2015-08-26 07:29] xhh commented on #1134
JSON model deserialization is done via Gson, which is using this date format for date/date-time properties (see [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/android-java/jsonUtil.mustache#L16)):
[code]

This format does expect milliseconds (tested and confirmed on my local), but the trailing `Z` in your example does fail to be deseria

[2015-08-26 08:41] #1102 closed

[2015-08-26 09:37] cbornet commented on #962
I have a WIP for this issue.
* The code makes use of okhttp interceptors to add the auth headers and deal with the http responses. This adds a dependency to okhttp but it seems to be the direction taken by the retrofit team (https://github.com/square/retrofit/pull/728)
* It uses the oltu library for oauth2
* It will also adds support for Basic and API key auths

[2015-08-26 14:06] wing328 commented on #1047
@nabheet the PR has been merged into master. Closing this issue for now. Please reopen this issue if needed.

[2015-08-26 14:06] #1047 closed

[2015-08-26 22:11] iwsmith opened #1136 "Python codegen generates invalid function names"
Hi,
Given a swagger yaml with an operationId containing a dot (as below) swagger-codgen outputs a / instead. This is an invalid syntax for a function name in python. I've tracked down the problem to the [underscore function](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1261), which replaces a dot with a sla

[2015-08-26 22:37] cbornet opened #1137 "Oauth flow should not be a string in the template"
Working on #962, I found out that it would be cleaner to have boolean status for each flow instead of a string. The booleans would be isFlowAccessCode, isFlowImplicit, isFlowPassword, isFlowApplication

[2015-08-27 08:48] wing328 commented on #1118
@jamiehannaford. FYI. #1139 submitted to handle space (converted to _) in parameter name

[2015-08-27 08:51] wing328 commented on #1136
@iwsmith submitted #1139 to handle method name with special character (. is converted to _).

May I know how your swagger spec is generated? Is it using some 3rd-party plug-ins?

[2015-08-27 09:32] wing328 commented on #1072
@nViso may I know if you've a chance to test the flash generator, which is now available in `master`? let me know if you found any issue and we can work together to address those (if you need my help with the fix).

[2015-08-27 13:03] ePaul opened #1140 "Maven plugin finishes silently (successfully) even when there is an exception during generation"
Possibly introduced by #1052, `DefaultCodegen.generate()` just sets a status if there was any exception, but this status is not used by CodeGenMojo (line 164 in current master):

        new DefaultGenerator().opts(input).generate();

Thus if there is any exception during generation (caused either by a bug in the generator or a malformed swagger file), the generation stops at some point (in my exa

[2015-08-27 13:38] wing328 commented on #1086
@yzats PR merge into master. Issue closed.

[2015-08-27 13:38] #1086 closed

[2015-08-27 13:42] wing328 commented on #1040
For 1, I asked the same question in their [forum](https://groups.google.com/forum/embed/?place=forum/google-apis-discovery&showsearch=true&showpopout=true&parenturl=https%3A%2F%2Fdevelopers.google.com%2Fdiscovery%2Fforum#!topic/google-apis-discovery/_r8obd_f_w0) but got no reply. The last post before mine was Nov 2014.

I wonder if the spec (GDD) is still active.

[2015-08-27 13:55] ePaul opened #1141 "JavaClientCodegen chokes when a sub class has no own properties."
**Summary**
Current master chokes when trying to generate code where allOf is used and the "child" type has no properties of its own.

**Reproducible by**

bug-trigger.yaml:

[code]

Command line:

    java -agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=8000 -jar \
    /home/paulo/.m2/repository/io/swagger/swagger-codegen-cli/2.1.4-SNAPSHOT/swagger-codegen-cli-2.1.4-SNAPSHOT.jar \

[2015-08-27 14:11] ePaul commented on #1140
The same is true for the CLI version. See #1141 for an example where an exception is swallowed without any error message.

[2015-08-27 14:48] wing328 commented on #1141
@ePaul thanks for the detailed report of the issue. I'll try to repeat it and see what we can do to provide better exception handling/reporting.

In general, I agree with you that the exception handling/reporting in Codegen can be better.

[2015-08-27 15:28] ePaul opened #1142 "Java generator generates model classes with dashes in the name"
**Summary**
When a `definitions` name contains a dash (`-`), the model class generated from this is named with a dash, too. This is not valid Java code.

This happens with current master of swagger-codegen, and I think it happened also with version 2.1.3.

**Reproducible by**

bug-trigger.yaml:
[code]
command line:

    java -jar /home/paulo/.m2/repository/io/swagger/swagger-codegen-cli/2.1.4-SNAP

[2015-08-27 15:31] ePaul commented on #1142
#939 (Fixed with #940) had a similar issue, but for dashes in paths, not dashes in model definitions.

I guess similar problems could occur for predefined responses or parameters. Those should all be treated the same.

[2015-08-27 16:24] nabheet commented on #1047
:+1:

[2015-08-27 16:41] ePaul opened #1143 "JavaClientCodegen: NullPointerException when using minimum/maximum"
**Summary**
When using the `min` or `max` constraint for a property, `JavaClientCodegen.postProcessModelMaps` throws an exception.

This happens with current master (also using current master of swagger-core).

**Reproducible by**

bug-trigger.yaml:
[code]
command line (with debugger):

    java -XX:-OmitStackTraceInFastThrow \
    -agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=8000

[2015-08-27 16:45] ePaul commented on #1143
The code throwing the exception was added in #1126.
Adding another null-check here should be enough, I'll try to create a pull request for that.

[2015-08-27 17:42] ePaul commented on #1140
For easier reproduction: If there is no `paths` entry in the swagger file, a NullPointerException is thrown in DefaultGenerator.processPaths, line 397 (because `paths` is null there), called from line 170 in generate().
[code]
I guess that should also give a better error message.

[2015-08-28 12:50] jamiehannaford opened #1145 "Generated PHP classes sometimes contain invalid chars"
If I reference the following in my Swagger schema:

[code]

Then it will generate a model file called `Cat-new.php`, with a `Cat-new` class inside, which is [prohibited](http://php.net/manual/en/language.oop5.basic.php). Ideally we should be generating `CatNew` rather than `Cat_New`.

[2015-08-28 12:54] wing328 commented on #1145
@jamiehannaford is `cat-new` a model? if yes, it should be defined as `#/definitions/CatNew`

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L238

Seems like the parameter is related to creating new "cat". I simply name it as just "cat"

[2015-08-28 13:23] wing328 commented on #1145
@jamiehannaford also do you mind sharing with us how your swagger spec is generated? Is that using some third-party swagger plug-ins?

[2015-08-28 13:26] jamiehannaford commented on #1145
@wing328 But there are different permutations of the model, depending on the operation. For example, when creating a cat the user would not send an `id` property, which would be returned when all cats are listed.

All that's happening above is that I'm referencing an externally defined model schema. I'm not using a third-party plugin.

[2015-08-28 13:55] ePaul opened #1146 "jaxrs/spring-mvc: API methods have annotations with line breaks in their strings"
**Summary**
When a `description` of a response has a line break in the swagger yaml (or json) and we generate for `jaxrs`, an annotation with a broken string literal is generated, which is not compilable in Java.

**Reproducible by**
bug-trigger.yaml:
[code]
Generation using the maven plugin:

			<plugin>
				<groupId>io.swagger</groupId>
				<artifactId>swagger-codegen-maven-plugin</artifactId>

[2015-08-28 14:39] wing328 commented on #1145
@jamiehannaford  Thanks for sharing with me how the swagger spec was created and it's definitely valid to use [relative schema file](https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#relative-schema-file-example) in swagger spec.

But I couldn't repeat the issue with the following:
[code]
manually created a file named "new-Pet.json" and ran `./bin/php-petstore.sh` but didn't

[2015-08-28 14:55] jamiehannaford commented on #1145
Sure, it's [here](https://gist.githubusercontent.com/jamiehannaford/98a693559ea8807315ad/raw/19e342acdfd44cd1422f823563ab6bdbfd60d1de/catNew.json). Please note I renamed it from `cat-new.json` to `catNew.json` after your first message

[2015-08-28 15:13] wing328 commented on #1145
Thanks. But still no luck in reproducing the issue. I'll given it another try this weekend.

[2015-08-28 15:27] samuelg commented on #1134
This is also a problem for me.

The Android client should be able to deal with dates properly formatted with the format defined in the  Swagger spec. Having to reformat dates that are already spec compliant adds complexity that should not be necessary.

[2015-08-28 15:41] Richou opened #1147 "The enum model is not fully generated"
Hello,

I'm using the swagger codegen version 2.1.0-M2 with the swagger spec 2.0, and I have noticed that enums generated in model are not completely generated.

For example :

I have the following enum

[code]

But the swagger codegen generates

[code]

Is that normal ?
Is it fixed in version 2.1.2 ?

Best Regards.

[2015-08-28 16:01] ePaul commented on #1146
The same happens for the operation's `summary` attribute.
I'm working on a pull-request to fix this (and also to remove the stupid `\n` in the models' descriptions).

[2015-08-28 18:39] 2rs2ts commented on #1040
@wing328 Thanks for looking into it! I think I'm going to take the spec as it is to be literal but I'll make it so that it's quite possible to allow converting header, form, and cookie parameters. It'd be by a similar mechanism as the way I'll support vendor extensions.

[2015-08-28 21:17] jdhiro commented on #78
It looks like this probably fell out of scope at some point. My team would really love to see this working (as well as an Angular $resource based generator).

[2015-08-30 09:51] wing328 commented on #1147
@Richou the version you used was released a few months ago. Please use the latest version and let us know if you still encounter the issue.

[2015-08-30 12:11] sohail-aspose opened #1155 "Grouping of auto-generated classes in folders"
Hi,
I want to group auto-generated classes as follows:
SwaggerClient
&nbsp;&nbsp;&nbsp;&nbsp;cells
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;api
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;model
&nbsp;&nbsp;&nbsp;&nbsp;words
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;api
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;model
All API classes belongs to **cells module** should go into

[2015-08-30 15:34] mozey commented on #78
@jdhiro I wrote something to do this a while back. But it's a bit intertwined in other code and I never bothered to extract it. Also, I just used the $http service directly, not $resource. Recently been wondering if swagger-codgen supports static javascript yet and come across this link, have you tried it? https://github.com/wcandillon/swagger-js-codegen

[2015-08-30 23:24] who commented on #78
I've written an npm package that can accomplish the original intent of this ticket:

https://www.npmjs.com/package/swagger-client-standalone

This package builds all of the NPM dependencies, the swagger spec, and swagger client all into one JS file.  I use it in places where I can only use UMD-style includes.  Because modular javascript doesn't work well in UMD environments, I opted to bundle it t

[2015-08-31 04:55] wing328 commented on #1155
@sohail-aspose I think you need to modify the codegen (Java class) in order to achieve the requirement above.

A possible workaround could be breaking the spec into 2 different spec for `cells` and `words` and move the auto-generated files under the same parent directory.

[2015-08-31 05:59] wing328 commented on #1075
@Zyles if you can provide the implementation of Slim PHP framework for the following endpoints in Petstore:
[addPet](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L29)
[getPetById](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L216)
[updatePetWithForm]

[2015-08-31 06:06] wing328 commented on #1008
@dougbeauchene closing the issue as we've not heard any update from you.

[2015-08-31 07:18] arnested opened #1156 "HEAD path item is missing"
If I put HEAD methods in my API definition they don't appear in generated HTML.

An example. If I use the minimal example and just change the method from GET to HEAD:

[code]

Then I generate static HTML:

[code]

The method is not part of the generated documentation.

According to the specification HEAD should be a valid path item: http://swagger.io/specification/#pathItemHead

Bug? Or am I doing

[2015-08-31 08:21] arnested opened #1157 "Path Parameters missing in generated static html"
The path parameters  sometimes missing in the generated static HTML.

Given the somewhat minimal example below and generating static HTML with:

[code]

The Path parameter is not shown for the GET method. The path parameter is shown for the POST parameter.

To me it appears to be the presence of body parameter in the POST method that does the difference (although it sounds weird).

[code]

[2015-08-31 08:35] arnested opened #1158 "basic authentication not listed in generated static HTML"
If I generate static HTML from the "basic-auth.yaml" example with:

[code]

The generated HTML will have a "Access" heading but no security definitions will be listed under it and no security requirement will be listed under the path item either.

basic-auth.yaml:

[code]

[2015-08-31 08:49] arnested opened #1159 "Cannot use format: password for string in body parameter"
If I create a simple API specification with path having POST with a body parameter and the body object has a string parameter with the format set to _password_ will make swagger-codegen throw a NullPointerException (at least when trying to generate static HTML).

The minimal example:
[code]

Running:
[code]

Results in:
[code]

Dropping the format or changing it to _email_ avoids the NullPointerEx

[2015-08-31 09:05] arnested commented on #1158
Trying the "security.yaml" I noticed that no security definitions or security requirements are listed in the generated static HTML either.

[2015-08-31 09:18] ePaul opened #1160 "swagger-codegen-cli doesn't build anymore with OpenJDK"
**Summary**
The swagger-codegen project (and there specifically the swagger-codegen-cli subproject) doesn't build anymore on OpenJDK 1.7.0_79 (64 bit Server VM on Linux) in the current master (commit 2b48ec072c4).

**Reproducible**
Install the mentioned JVM, run `mvn clean install` in the project root.

You see several exceptions of this type:

[code]
... and then

[code]

**Analysis**
Bisecting t

[2015-08-31 09:42] ePaul commented on #1160
If I add

                            <argLine>-javaagent:/home/paulo/.m2/repository/org/jmockit/jmockit/1.18/jmockit-1.18.jar</argLine>

to the configuration of the maven-surefire-plugin, those 19 test errors disappear, I get three others instead:

[code]

[2015-08-31 09:54] wing328 commented on #1160
@ePaul it's working fine in my Mac. I'm now doing a test in Ubuntu (virualbox vm)

[2015-08-31 10:08] wing328 commented on #1160
@ePaul I'm able to repeat the issue in the Linux VM. While we're looking into the issue, I wonder if you can try `mvn clean install -DskipTests` as a workaround to see if it works for you.

cc @Helmsdown

[2015-08-31 10:35] wing328 commented on #1160
@ePaul I updated pom.xml with the latest version of jmockit (1.19):
[code]
and no longer encounter the same error (the build is now successful). Can you try to see if that fixes the issue for you as well?

(Tested jmockit 1.9 with swagger-codegen on Mac and the result is good too)

[2015-08-31 10:42] ePaul commented on #1160
Yup, it works with `-DskipTests`, it works when omitting the `-cli` project (`mvn clean install -pl moduless/swagger-codegen-maven-plugin -am`), it works with JMockit 1.19.

Thanks.

[2015-08-31 10:43] wing328 commented on #1160
Thanks for the confirmation. I'll file a PR to fix the issue in `master`

[2015-08-31 10:55] #1160 closed

[2015-08-31 13:50] ePaul opened #1165 "java: generated model class references non-existing "Object" class when using inline schema for property"
**Summary**
When a model definition includes a property with an inline type definition, the generated Java model class refers to `Object` (in the same model package), which does not exist.

**Reproducible by**
Swagger YAML:
[code]
Generate with any Java language: (`java`, `jaxrs`, `spring-mvc`).

This will generate (in the model package) just one file Example.java:

[code]
This compilation unit im

[2015-08-31 13:53] wing328 commented on #1165
@ePaul inline schema is not supported by codegen at the moment.

Ref: https://github.com/swagger-api/swagger-codegen/issues/354

[2015-08-31 14:10] ePaul commented on #1165
This is not quite the same situation as mentioned in #354, though: there the inline schema is in a POST argument, here it is in another schema. There the result is a NullPointerException, here it is a reference to a not generated class.

(But I accept that about the same implementation would be needed for both.)

[2015-08-31 14:20] ePaul commented on #1142
By merging #1164 + #1163 this is now solved for models and spring-mvc API entry points.
I'm not sure whether this occurs somewhere else, then a similar approach can be used.

I'm therefore closing this issue.

[2015-08-31 14:20] #1142 closed

[2015-08-31 14:46] wing328 commented on #1136
#1139 merged into master. Please reopen this issue if needed.

[2015-08-31 14:46] #1136 closed

[2015-08-31 16:08] mohsen1 opened #1166 "Swagger Editor, generate jax-rs server crashes when using "password" format"
_From @gitburr on August 31, 2015 15:25_

Example below. Uncomment  "#format: password", try to generate jax-rs server, receive error.
[code]

_Copied from original issue: swagger-api/swagger-editor#613_

[2015-08-31 17:29] arnested commented on #1166
This looks identical to the issue I reported in #1159.

[2015-08-31 17:47] fehguy commented on #1166
Yes, I believe the Swagger Parser is strict on formats, and isn't handling the `password` format on string field.  Easy fix, will make sure there's a fallback when formats don't match exactly.

[2015-08-31 18:08] mad102190 opened #1167 "[Objective-C] Code generator is not creating enums"
Enums defined in json models get codegen'd as `NSString` properties, and no enums are created. This can be observed in the petstore example, which has enum properties but don't get translated in the objective-c codegen.

[2015-08-31 20:10] Helmsdown commented on #1160
@wing328 I hope you didnt have to debug this for very long. Sorry for any frustration.

[2015-08-31 20:12] asieira commented on #742
+1

[2015-08-31 22:17] jdhiro commented on #78
@mozey I haven't tried that project yet, but I was going to. They don't support $resource yet either.

@who Yeah, I'm making a library/SDK, so I'm basically just doing a require('swagger.json') and bundling it all up. This really just makes the runtime library superfluous though.

[2015-08-31 23:32] jdhiro commented on #78
Good lord, I just realized that this approach is adding over 300kb to my library. That is not an option.

[2015-09-01 02:45] wing328 commented on #1160
@Helmsdown it's fine :smiley:

[2015-09-01 13:05] Zyles commented on #1075
Not sure how to do this. Also it might be best to wait for Slim 3 to be released as 2 will soon be deprecated anyway.

[2015-09-01 19:34] mohsen1 opened #1170 "http://editor.swagger.io/ Can't genearte sever and client code"
_From @huaw on September 1, 2015 17:8_

Try to generate Node.js Sever and C# client code, I am getting following error:
![capture error](https://cloud.githubusercontent.com/assets/2104364/9610901/69fc0b02-50aa-11e5-8e2c-164635cd80ba.PNG)

Code Generator Error

something bad happened

Details:

►  Object

 code:  500

 type:  "unknown"

 message:  "something bad happened"

_Copied from original iss

[2015-09-01 19:34] mohsen1 commented on #1170
Can you share your Swagger document?

[2015-09-01 19:34] mohsen1 commented on #1170
_From @huaw on September 1, 2015 18:40_

It happens to example uber file as well.

However please see the attached file

From: Mohsen Azimi [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 1:09 PM
To: swagger-api/swagger-editor <swagger-editor@noreply.github.com>
Cc: Hua Wu <Hua.Wu@valtech.com>
Subject: Re: [swagger-editor] http://editor.swagger.io/ Can't genearte sever and clie

[2015-09-01 19:34] mohsen1 commented on #1170
Which server and client generators did you try? I don't see any error with Uber example when I try it.

You can't attach files to GitHub issues. Please paste your Swagger here.

[2015-09-01 19:34] mohsen1 commented on #1170
_From @huaw on September 1, 2015 19:19_

See the swagger text

[code]

From: Mohsen Azimi [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 3:13 PM
To: swagger-api/swagger-editor <swagger-editor@noreply.github.com>
Cc: Hua Wu <Hua.Wu@valtech.com>
Subject: Re: [swagger-editor] http://editor.swagger.io/ Can't genearte sever and client code (#616)

Which server and client generators

[2015-09-01 19:34] mohsen1 commented on #1170
There was some indentation issues which I fixed, here is the fixed. Here is fixed version below.

@webron

[code]

[2015-09-01 19:38] mohsen1 commented on #1170
You spec is missing `type: object` in definitions. Although it's valid codegen doesn't like it. Try updating your spec with this change and let us know what happened.

@webron If `type: object` is not required per schema, codegen should work without it. I would say it's a bug that it fails without `type: object` in definitions

[2015-09-01 19:47] huaw commented on #1170
Which line have indentation issues? I can’t copy your version.

From: Mohsen Azimi [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 3:39 PM
To: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Hua Wu <Hua.Wu@valtech.com>
Subject: Re: [swagger-codegen] http://editor.swagger.io/ Can't genearte sever and client code (#1170)

You spec is missing type: object in d

[2015-09-01 20:19] fehguy commented on #1170
@mohsen1 @huaw agree codegen shouldn't be puking on this.  Will get this handled.

[2015-09-01 20:53] huaw commented on #1170
Thanks for helping here.

How can I get this yaml file working? I am still confused.

From: Tony Tam [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 4:20 PM
To: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Hua Wu <Hua.Wu@valtech.com>
Subject: Re: [swagger-codegen] http://editor.swagger.io/ Can't genearte sever and client code (#1170)

@mohsen1<https://gi

[2015-09-01 22:52] fehguy opened #1171 "make param reordering by required flag optional"
Currently the `DefaultCodegen` will put required parameters first in a generated method.  This is good, but in some cases it's preferable to leave them alone, especially when you're changing required/optional field states.

[2015-09-02 03:28] wing328 commented on #1167
@mad102190 yes, enum is not supported in ObjC at the moment. Do you have cycle to help implement it  for ObjC client? You can find enum-related mustache tag in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/enumClass.mustache (Java client).

[2015-09-02 03:49] wing328 commented on #1167
@mad102190 by the way, for #971 if you need help with the rebase or the integration test with the ObjC client, please let me know (and thanks again for the PR to add the support of status code and HTTP response header)

FYI. We (the community) have implemented similar feature via https://github.com/swagger-api/swagger-codegen/pull/1127 for Java and C# client.

[2015-09-02 06:04] fehguy opened #1173 "vendor extension support"
We have vendor extensions but they're not exposed in codegen.

[2015-09-02 10:54] mparaz opened #1176 "Support for Spring RestTemplate"
I would like support for Spring RestTemplate. It will allow easy testing of the client with the `MockRestServiceServer` providing mock API interaction.

[2015-09-02 12:07] DanielChristoph opened #1177 "[Objective-C] output is nil, response received"
I have an issue with the generated objective-c code.
The equivalent android code works pretty nice!

I'm using the API like this:
[code]

The output and error are always nil.
I used the sharedConfig debug mode to see more information and I receive a response.

[2015-09-02 12:25] corruptmem opened #1178 "C# generator does not handle dots in output directory correctly"
If you call swagger-codegen-cli generate as follows:

    java -jar lib\swagger-codegen-cli.jar generate -i my.yaml -l csharp -o output/a.b.c

You will get some supporting files in output/a.b.c and the generated files in output/a/b/c/

This is because the apiFileFolder() and modelFileFolder() methods in CSharpClientCodegen replace all dots with slashes in the outputFolder, whereas the supporting f

[2015-09-02 12:29] webron opened #1179 "Swift client directory structure of hell"
_From @tomekc on September 2, 2015 12:27_

Generated Swift client generates a lot of nested subdirectories with repeated files:

Tested on live online demo, with default Uber example:

![screen shot 2015-09-02 at 14 24 19](https://cloud.githubusercontent.com/assets/407463/9631067/b8c801d0-517e-11e5-8bf0-7233a69cc0b8.png)

_Copied from original issue: swagger-api/swagger-editor#619_

[2015-09-02 12:30] wing328 commented on #1177
The debug log should show the response header and response body. Do you mind sharing the complete debug log so that we can look into the issue further? (we assume you're using the latest version `master` of swagger-codegen)

[2015-09-02 12:32] wing328 commented on #1178
@corruptmem agree that output folder name with dot should be supported. For the time being, please work around the issue by using a folder name without dot.

And of course we would welcome a PR from you to fix the issue for the C# generator.

[2015-09-02 12:46] DanielChristoph commented on #1177
I found the issue by myself and I think it's a problem with the objective-c code generator.
The swagger specification, https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md, writes in Schema, Swagger Object that the consumes and produces can be declared global.
I did this and it works in android, but not in objective-c.
I have written the produces and consumes in each api call an

[2015-09-02 13:06] DanielChristoph commented on #1177
and yeah, I'm using the master.

[2015-09-02 13:12] DanielChristoph commented on #1177
This is the json file which works:
http://tunnel.se-labor.de/app_dev.php/swagger.json
(Server can may be offline sometimes, it's a test server)

Without my changes, the "produces" and "consumes" with "application/json" were only defined global.

[2015-09-02 14:22] wing328 commented on #1177
@DanielChristoph thanks for sharing the spec with us to repeat the issue. We'll use it to repeat the issue with ObjC and other API clients.

[2015-09-02 15:29] huaw commented on #1170
@webron
Sorry I can’t get this working. Even I try to add type:object for those refs.

From: Mohsen Azimi [mailto:notifications@github.com]
Sent: Tuesday, September 01, 2015 3:39 PM
To: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Hua Wu <Hua.Wu@valtech.com>
Subject: Re: [swagger-codegen] http://editor.swagger.io/ Can't genearte sever and client code (#1170)

You spec is mi

[2015-09-02 16:27] Aitchy13 opened #1181 "Angular Typescript basePath variable doesn't include host and schemes properties"
The `host` and `schemes` properties aren't prepended to the `basePath` property within an API class.

For example:

**swagger.yaml**
[code]

**Output**
[code]

The basePath only outputs the `basePath` property, e.g. `'/1.0'`.

**Link to Angular Typescript mustache template**
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Angular/api

[2015-09-02 21:06] lakeba opened #1183 "Mutliple upload"
Is the multiple file upload something doable ?

If the REST API is expecting an array of File, what CodeGen will generate?

Thank you
Giuseppe

[2015-09-02 21:44] fehguy commented on #1183
Hi, multiple file uploads in a single operation is not supported in the specification and therefore not in the client generator.  Track this issue:

https://github.com/swagger-api/swagger-spec/issues/254

[2015-09-02 21:44] #1183 closed

[2015-09-03 02:31] mad102190 commented on #1167
@wing328 I've submitted a PR that enables support for enums in Objective-C. As for #971, did we not determine that there could be possible concurrency issues with the responseHeaders property if running on multiple threads? If that's not a problem, I can rebase and re-open the PR. Let me know.

[2015-09-03 06:38] mparaz opened #1186 "Java generated code fails findbugs test"
The problems:
* `Date` parameters use simple get and set, which can be maliciously modified. Either use `clone()` when getting or setting, or Joda as in #1035, or Java 8 if project allows.
* ApiClient loops using `keySet()` to iterate through the keys and then `get()` to obtain the values - should use `entrySet()` instead, like in `getXWWWFormUrlencodedParams()`
* Unused variables and null variabl

[2015-09-03 14:26] #1178 closed

[2015-09-03 14:44] wing328 commented on #1167
@mad102190 it would be a problem if the developer is using the same ApiClient across all threads. The recommended way is to use an instance of ApiClient per thread (same for C# and Java)

[2015-09-03 14:52] mad102190 commented on #1167
That makes perfect sense. I'll work on rebasing that today.

[2015-09-03 15:33] wing328 commented on #1167
@mad102190 take your time. Once again appreciate your contribution to the project.

[2015-09-03 19:08] webron commented on #1170
While I agree the codegen shouldn't die if there's no `type: object`, it's not an easy case to handle. If we do go ahead and assume that the type is object because there is a `properties` property (which is pretty much wrong), we need to add a disclaimer both in the README and while generating the code that it was assumed.

[2015-09-03 19:37] mohsen1 commented on #1170
Why relying to `properties` existence is wrong?

[2015-09-03 19:38] webron commented on #1170
Because that's how JSON Schema works. If there's no `type: object`, *any* type would apply. `properties` is applicable *only* if the type is object. It's not the other way around.

[2015-09-03 19:44] mad102190 commented on #1167
@wing328 No problem, thank you for being so helpful! I've created a brand new PR for the response headers. Please see #1189.

[2015-09-04 07:16] SparrowJang opened #1191 "Python - response is empty object"
**response:**
[code]

**python deserialize code**
[code]
The response need to return value from server.
[code]

[2015-09-04 07:24] wing328 commented on #1181
@Aitchy13 thanks for reporting the issue. I agree that ideally the base path should contains the schemes, host, basePath as defined in the Swagger spec.

As a workaround, please pass the full base path to the Api class while we try to address the issue, e.g.
[code]

[2015-09-04 08:16] wing328 commented on #1179
@webron @tomekc I was able to repeat the issue by submitting a request to generator.swagger.io:
[code]

However, the latest master does not have the same issue and Swift client is generated without issue:
[code]

For generator.swagger.io, is there a process (daily or weekly) to pick up the latest change in the master?

[2015-09-04 09:09] wing328 commented on #1191
@SparrowJang do you have an example of the response that we can take a look?

[2015-09-04 13:33] SparrowJang commented on #1191
**response json**
[code]
**python client code**
[code]

**result**
The object is not empty value.
[code]

The python basic types are object.
[code]

[2015-09-04 14:08] jamiehannaford opened #1193 "error when building swagger file with relative $ref files"
When I generate HTML docs from [this](https://github.com/jamiehannaford/swagger-magnum/blob/jamie/v1/swagger.json) Swagger file, I get an error. This is the command I'm using:

[code]

and this is the error I get:

reading from https://raw.githubusercontent.com/jamiehannaford/swagger-magnum/jamie/v1/swagger.json
PATH refs can not be internal references (through reference chain: io.swagger.models.R

[2015-09-04 14:25] wing328 commented on #1191
Thanks for the details. Now I understand what you're trying to fix and thanks for the PR.

[2015-09-04 14:42] #1191 closed

[2015-09-04 15:14] jamiehannaford commented on #1193
@wing328 ah okay, no worries :smile:

Does `swagger-ui` support it? I noticed some JS errors when I tried the same thing

[2015-09-04 15:19] wing328 commented on #1193
I'm not sure. I would suggest you to ask in `swagger-ui` project page to get the official answer.

[2015-09-04 15:21] wing328 commented on #1186
@mparaz thanks for using findbugs to check the generated code.

Do you mind sharing with us the full report so that we can find out more about the unused variables.

[2015-09-04 15:24] wing328 commented on #1158
@arnested thanks for reporting the issue and would be great if you can submit a PR to improve the HTML documentation.

[2015-09-04 15:31] wing328 commented on #1156
HEAD should be supported so it's bug.

[2015-09-04 15:53] Richou commented on #1147
@wing328 I've tried with the latest version (I presume it is the v2.1.3) but I have the same issue.

[2015-09-04 20:54] githoov opened #1195 ""type": "string" with "format": "hash" makes codegen fail"
[code]
yields
[code]
Removing those lines generates client successfully, but certainly there must be a correct type-format combination when format is hash?

[2015-09-04 21:10] githoov commented on #1195
re-read spec. api was handling this incorrectly.

[2015-09-04 21:10] #1195 closed

[2015-09-05 07:33] wing328 commented on #1195
@githoov I think what you're looking for is `map` (instead of hash): https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#model-with-mapdictionary-properties

[2015-09-05 07:48] wing328 commented on #1177
The issue was reported before and tracked here: #827

[2015-09-05 08:51] wing328 commented on #1181
@Aitchy13 fixed in #1196

You can review the sample output for Petstore API here: https://github.com/wing328/swagger-codegen/blob/typescript_basepath/samples/client/petstore/typescript-angular/API/Client/PetApi.ts

[2015-09-05 11:36] lakeba opened #1197 "Errors during the compilation"
The following errors are not blocking the compilation that end to SUCCESS but are bad to see:

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
model is io.swagger.models.Swagger@a14c0b35
SLF4J: Failed to load class "org.slf4j.impl.StaticL

[2015-09-06 16:38] githoov commented on #1195
Thanks @wing328 !

[2015-09-07 09:48] ChrisTitos commented on #1193
This exception is caused by something in swagger-core. A pull request has been opened, but not merged yet.

https://github.com/swagger-api/swagger-core/issues/1388

[2015-09-07 13:57] #1181 closed

[2015-09-08 12:13] amitbansal012 opened #1202 "Support for 2D arrays in C# codegen"
Hi team,

I am using codegen for generating C# code. I found an issue with 2D arrays. The generated C# should say "int[,]", instead it says "List\<List\>", which is a compilation issue.
My java method looks like :
      Interface:
          	int[][] getPrimitiveDouble3();
      Impl:
              @Override
              @ApiOperation(value = "This is test service - getPrimitiveDouble3")
	      @R

[2015-09-08 14:03] webron commented on #1179
@wing328 - right now, there isn't. Can you test with the latest release?

[2015-09-08 14:28] #1156 closed

[2015-09-08 14:54] wing328 commented on #1179
@webron my result above was tested with the latest master (not v2.1.3) so it would be good if generator.swagger.io can pick up the latest swagger-codegen `master` to see if the issue still persists.

[2015-09-08 15:23] webron commented on #1159
As you mentioned, #1166 is a duplicate, but since the talk is over there, we'll close this one.

[2015-09-08 15:23] #1159 closed

[2015-09-08 15:43] wing328 commented on #1146
PR merged

[2015-09-08 15:43] #1146 closed

[2015-09-08 16:43] joe-kahuna opened #1203 "Markdown supported in swagger-editor but not swagger-codegen"
I can use Markdown in several places in my API spec (in YAML) to enter detailed descriptions, and swagger-editor will interpret it and display it correctly. However, when I put the resulting spec (in JSON) into swagger-codegen, it doesn't convert the markdown while generating a static HTML page. As far as I can tell, swagger-codegen doesn't accept YAML, so the end result is that I have to do exten

[2015-09-09 03:29] wing328 commented on #1202
@amitbansal012 can you share the spec as I was not able to repeat the issue? Here is a test I did and the code works fine:

[code]

[2015-09-09 03:30] wing328 commented on #1143
PR merged

[2015-09-09 03:30] #1143 closed

[2015-09-09 03:45] wing328 commented on #1147
Closing this issue as we've not heard any update from you

[2015-09-09 03:45] #1147 closed

[2015-09-09 03:46] wing328 commented on #1155
Closing this question as there's no further update.

[2015-09-09 03:46] #1155 closed

[2015-09-09 03:47] wing328 commented on #1128
@sundriver closing this issue for now as we've not heard further update from you. Please reopen this issue if needed.

[2015-09-09 03:47] #1128 closed

[2015-09-09 03:50] wing328 commented on #989
closing this as there's no further update.

[2015-09-09 03:50] #989 closed

[2015-09-09 03:55] wing328 commented on #1203
@joe-kahuna you're correct in saying that the codegen won't do anything with markdown when generating the static documentation and we would definitely welcome your contribution with a PR to support that.

You might also want to take a look at https://github.com/Swagger2Markup/swagger2markup to see if it meets your requirement.

[2015-09-09 04:03] wing328 commented on #982
@samxye sorry for late reply on this. Do you mind testing with the latest swagger-codegen to see if the issue persists?

[2015-09-09 04:12] wing328 commented on #1157
@arnested thanks for reporting the issue and we would welcome a PR to fix it.

[2015-09-09 06:20] amitbansal012 commented on #1202
Hi,
The spec is as follows:

{"swagger":"2.0","info":{"description":"This is a Sample service just to see how springfox works","version":"2.0","title":"MySampleService :) ","termsOfService":"http://springfox.io","contact":{"name":"springfox"},"license":{"name":"Apache License Version 2.0","url":"https://github.com/springfox/springfox/blob/master/LICENSE"}},"host":"hostname:port","basePath":"/","ta

[2015-09-09 06:32] wing328 commented on #1202
For array of array in C#, we only support List of List at the moment.

{"type":"array","items":{"$ref":"#/definitions/Array"}} is an array of Model (with the name "Array"). Here is an array of array of model "Pet":
[code]
(for my example, there's no server code)

[2015-09-09 06:39] amitbansal012 commented on #1202
Hi,

Thanks for responding.
I understand that the spec which i provided was incorrect. I generated the spec using Springfox-Swagger. Please let me know if there is an alternative of generating the spec or handling similar error scenarios, I faced the same issue with nested Maps as well [https://groups.google.com/forum/embed/?place=forum%2Fswagger-swaggersocket&theme=default&fragments=true&showsear

[2015-09-09 06:45] wing328 commented on #1202
Are you using the latest version of springfox-swagger? I would suggest you to open an issue in https://github.com/springfox/springfox for the problems you've encountered with array and map.

[2015-09-09 06:59] wing328 commented on #874
@guw closing this issue as we don't have the spec for reproducing issue. Please reopen the issue if needed and provide us more info.

[2015-09-09 06:59] #874 closed

[2015-09-09 08:08] amitbansal012 commented on #1202
Hi,
I am using the latest jar [io.springfox:springfox-swagger2:2.1.1]. I have opened an issue in springfox for this [https://github.com/springfox/springfox/issues/956]

Thanks,
Amit

[2015-09-09 08:11] amitbansal012 opened #1204 "Issue with compile.bat generated for C# codegen"
Hi team,
In the compile.bat generated as part of codegen for C#, there is a segment saying "/doc:bin/IO.Swagger.xml". When i try to execute this using cmd [start compile.bat], it gives the following issue:

            comment for publicly visible type or member 'IO.Swagger.Api.ITestApi'
    src\main\csharp\IO\Swagger\Api\TestApi.cs(82,35): warning CS1570: XML comment on
            'IO.Swagger.Ap

[2015-09-09 08:24] wing328 commented on #1197
Submitted #1205 to remove the warnings.

Please help test and let us know if you find any issue.

[2015-09-09 08:32] wing328 commented on #1202
Thanks. Closing this as it's not a codegen issue.

[2015-09-09 08:32] #1202 closed

[2015-09-09 14:28] fehguy commented on #1193
@jamiehannaford Looks like you have a JSON parse error in your referenced file:

https://raw.githubusercontent.com/jamiehannaford/swagger-magnum/jamie/v1/baymodels/operations.json#

The `delete` 204 response has a trailing comma.

[2015-09-09 16:56] jamiehannaford commented on #1193
@fehguy Good catch, thanks! When I fix that JSON line, I still get various errors. When I specify a local file:

	at java.io.FileInputStream.open(Native Method)
	at java.io.FileInputStream.<init>(FileInputStream.java:146)
	at com.fasterxml.jackson.core.JsonFactory.createParser(JsonFactory.java:708)
	at com.fasterxml.jackson.databind.ObjectMapper.readTree(ObjectMapper.java:1861)
	at io.swagger.pars