[2017-06-05 18:38] msample commented on #5338
@wing328  thanks for the suggestion.  I considered it but just one of many endpoints had this issue, and it was a one line change.   I didn't have the time to look at conditionals in the template to treat empty objects differently and even then it seems like a higher level data structure mapping problem - ie how to handle KVs that are not explicitly declared in objects such that they are accessibl

[2017-06-05 22:36] aaronschwartz commented on #5737
I still see the same behavior using the latest pulled from master.

Defining the object as a $ref does seem to be a valid workaround.

Other types that are defined inline work as expected.

Most of my API isn't really reusable though and defining it inline is much more convenient.

[2017-06-06 03:37] wing328 commented on #4320
@beatcracker as #5509 only contains the Petstore sample (PowerShell), do you need help adding the PowerShell generator and templates to Swagger Codegen?

We'll release 2.3.0 soon so we hope to include the PowerShell generator as well. (new generators added to current master will be sync'd to 2.3.0)

[2017-06-06 03:50] talbright commented on #4095
This is still an issue and a serious one, as it also affects GET requests. The fix suggested by @Megamzero works.

[2017-06-06 04:01] wing328 commented on #4095
@talbright thanks for confirming the fix by @Megamzero works. Do you mind submitting a PR for the fix?

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/ProgressRequestBody.mustache

[2017-06-06 05:05] ackintosh opened #5784 "[PHP] Add support for Generation Gap pattern"
##### Description

Generation Gap pattern is useful for extending codes which generated.

###### Generation Gap pattern

Generation Gap martinfowler.com
https://martinfowler.com/dslCatalog/generationGap.html

###### Sample

[code]

##### Swagger-codegen version

2.3.0+

--

How you do you feel about it?

[2017-06-06 05:36] wing328 commented on #4320
@beatcracker if you don't mind, please drop me an email (in my Github profile) when you've time as I got a question for you.

[2017-06-06 08:43] stkrwork commented on #5760
I did make an implementation for it, but it misuses the scope parameters for groups for apache authorization instead as swagger codegen does not support groups for authorization for http basic requests.

[2017-06-06 09:04] wing328 commented on #5760
What about using vendor extensions to document that in the spec?

[2017-06-06 09:14] stkrwork commented on #5760
So the user would already include a vendor extension section in the input spec containing the groups?

Something like this:
`"/pet": {
      "post": {
        "tags": [
          "pet"
        ],
        "summary": "Add a new pet to the store",
        "description": "",
        "operationId": "addPet",
        "consumes": [
          "application/json",
          "application/xml"
        ],

[2017-06-06 09:21] wing328 commented on #5760
Yup, that's one way to do it if we want to classify the endpoint into 1 or more groups.

Is the Apache group similar to the security definition (e.g. petstore_auth)?

[2017-06-06 09:26] stkrwork commented on #5760
If the logged in user is not part of the group on the apache server, the apache server returns unauthorized.

Through this you could define a group write, and on all POST PUT and DELETE methods add a `require group write` in `<limit>` tags.  If you want every logged in user to use a resource, you would define `require valid-user`. If everybody can access is, just leave away the require statement.

[2017-06-06 09:51] nisheethagarwal commented on #5244
@fehguy I have a similar problem, but following the approach you suggest consolidates all my endpoints into a single api file, which apparently can then only to mapped to a single controller. Any suggestions on how one could get the base bath as Frank wanted and yet keep different controller implementations? I tried multiple controllers implementing different methods of the same single api interfa

[2017-06-06 10:27] beatcracker commented on #4320
@wing328  Hi, sorry for abrupt disappearing, I've got tangled up with work. I've dropped you a email.

As I've already said, I can't do Java, but I had a look at the mustache and while I don't have any experience with it, it looks like something I'm able to help with (at least partially).

[2017-06-06 10:32] npomfret opened #5785 "help getting started with jackson generation"
I'm trying to generate a java jackson api (with @JsonProperty annotation etc) from https://github.com/npomfret/coinsbank-php-sdk/blob/master/reference/coinsbank-sapi.json.

So i run:

    swagger-codegen generate -i https://raw.githubusercontent.com/npomfret/coinsbank-php-sdk/master/reference/coinsbank-sapi.json -l java -o temp

How do I get it to generate the jackson annotations?

Also, it crashe

[2017-06-06 14:44] ravinikam commented on #5785
I used spring language and it generated all Jackson annotations in models, if that is what you looking for then you run following command:
`swagger-codegen -Dmodels generate -i https://raw.githubusercontent.com/npomfret/coinsbank-php-sdk/master/reference/coinsbank-sapi.json -l spring -o temp`

[2017-06-06 14:59] nilohit-github opened #5787 "Does any current version of swagger codegen supports JDK1.6"
##### Swagger code gen support for JDK1.6

I am working on a project that requires to create the service stub for a JAX-RS service that will  be deployed on a server with JDK1.6. I am using the swagger code-gen version 2.2.2 but not able to clean build the stubs with this version .
##### Swagger-codegen version

I can generate the service stubs using JDK1.7 but then I face issues(the bad major –mi

[2017-06-06 15:08] theindra commented on #5744
Adopting the template worked for us.
We haven't tried Retrofit2.

[2017-06-06 15:35] npomfret commented on #5785
Thanks, that's exactly the command I'm using.  Some objects get generated - but then it crashes.

[2017-06-06 16:49] harishchoragudi opened #5788 "CPPRest generated models are not using inheritance"
##### Description

CPPRest's generated models are extending from ModelBase instead of the actual Class specified in REST contract provided as input to swagger-codegen-cli. This classs ModelBase is directly hardcoded in model-header.mustache template. This needs to be fixed. Also there is a method call to ModelBase::fromJson() which takes a map's value but instead a map's entry is being passed. Thi

[2017-06-06 18:13] wing328 commented on #4320
I've filed #5789, which is still work-in-progress. Let's continue the discussion in that PR.

[2017-06-06 18:50] ravinikam commented on #5785
In your question you said you are using "java", so suggested to use "spring" language instead to get Jackson annotation in your models.

About your second question: You have huge specification file, I would recommend to split it. Thats aside I tried to import your specification to swagger editor and saw there are errors, so I would recommend to fix those errors before trying anything.

[2017-06-06 18:53] npomfret commented on #5785
Thanks for the reply.

It's not my file unfortunately.  Using the spring flag worked.  Well, it at least generated some useful classes.

[2017-06-06 18:53] #5785 closed

[2017-06-06 20:55] egodolja opened #5790 "CodeGen not generating correct field names"
Using the swagger codegen for a C# project.

The issue is that in the swagger specifications I have a few fields in my models that have an underscore in the name. For example, I have fields names "**_links**" or "**_embedded**". When the code is generated these fields appear without the underscore, so I just see "**links**" or "**embedded**" when I receive responses. Is this a known issue,; is the

[2017-06-07 07:20] #4161 closed

[2017-06-07 08:59] wing328 commented on #5790
@egodolja there's a mapping between the property name and the actual name in JSON. Here is an example

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Model/Pet.cs#L127

"category" vs "Category"

The mapping is done as part of the serialization and deserialization so developers using the SDK do not need to worry about the mappi

[2017-06-07 12:55] mmosemmle opened #5793 "[HASKELL] Incorrect escaping when generating field names"
##### Description
The 'Type mismatch on container access' issues found by lgtm.com:
https://lgtm.com/projects/g/swagger-api/swagger-codegen/alerts/
means that property names are not properly escaped when haskell code is generated.

##### Swagger-codegen version
master @ec19e8f

##### Swagger declaration file content or url
https://gist.github.com/mmosemmle/c2165d6eb37e77b670c383b37118666d

##### C

[2017-06-07 13:02] wing328 commented on #5793
@mmosemmle thanks for reporting the issue and creating a PR for the fix.

Let me know if you need help with the PR.

[2017-06-07 13:05] wing328 commented on #5760
I would suggest you to submit a PR for the generator so that we can look at the output and see how we can improve it together.

[2017-06-07 13:15] wing328 commented on #3486
@naelrashdeen do you need any help from us? There're other useful tricks such as overriding postProcessOperations to tweak the output.

[2017-06-07 16:33] mmosemmle commented on #5793
Thanks. Created a PR for the fix. Btw, it may also be useful to try out the PR integration from lgtm.com, which will discover issues like this during a PR and avoid them being merged. Thanks.

[2017-06-07 16:46] prakashbalaji opened #5796 "[JAVA] Understanding client deployment to maven repository"
##### Description
We use [aws-maven](https://github.com/spring-projects/aws-maven) and deploy all our maven libraries to S3 bucket. Would like to know what is the best way to deploy the generated java client to S3.

##### Swagger-codegen version

2.2.2

##### Command line used for generation

[code]

##### Suggest a Fix

If pom.xml could have support for aws-maven plugin as a configurable option a

[2017-06-07 17:29] wing328 commented on #5796
@prakashbalaji thanks for the suggestion. I think a configurable option to add aws-maven plugin to the pom.xml is a good idea.

May I know if you've time to contribute the enhancement?

[2017-06-07 18:51] Way2nnadi commented on #3485
Was a fix ever put in for this issue?

[2017-06-08 02:54] prakashbalaji commented on #5796
Sure @wing328. I am forking swagger codegen and trying out aws maven on our
projects. Once done I will raise a PR...Thanks

On Wed, Jun 7, 2017 at 10:59 PM, wing328 <notifications@github.com> wrote:

[2017-06-08 06:10] dantran opened #5797 "[java] Honor Enum's value - Regression"
see #1620

swagger-codegen:2.2.2

[2017-06-08 06:36] baibinghere opened #5798 "[Python] Tags behaves incorrectly when using template."
I'm generating controller code from the template I defined myself.

The issue I met is that even though I defined lower case tag names like
- tags
  - test

The file generated is test_controller.py --> that is correct.
But when I define the controller.mustache to apply variables like {{tags}} or {{baseName}}, it shows like Test.
I feel this is an inconsistency issue.
At least for python, I don't t

[2017-06-08 07:12] ayushoo7 opened #5799 "Custom template to add annotation for spring data"
In model class generated I want some annotation to be generated for it to persist in db using spring data. Used template but I can only put static code if want to introduce some dynamic param like {{#myanotation}} then can specify from properties or .yml file it would be great

java -jar swagger-codegen-cli-2.2.1.jar generate -i api.yml -c conf.json -l spring -o %TMP_SRC_DIR% -t C:\Users\template

[2017-06-08 07:36] stkrwork commented on #5760
#5800 is the pr but it is still not ready yet. but it shows the basic idea.

[2017-06-08 11:45] naelrashdeen commented on #3486
@wing328 That sounds interesting. Could you please give me a couple of scenarios where that might be useful?
For now I have built a simple **petstore** Symfony service as a proof of concept, which I am basing my implementation of the resource files upon.

[2017-06-08 12:43] BjoernPetersen opened #5801 "[Java] Parcelable dependency is missing"
##### Description

If the `parcelableModel` option is used, the required dependency for the `Parcelable` interface is not added to the generated pom.xml.

##### Swagger-codegen version

`2.2.2`, `2.2.3-SNAPSHOT` (built from master 73f52665963c291796b4ab9c344dbea5de5b4ec4)

##### Swagger declaration file content or url

Any declaration with a model (petstore can be used as an example).

##### Comma

[2017-06-08 13:34] wing328 commented on #3486
A PHP developer who's familiar with the Symfony framework may find the generator useful if he uses the contract-first approach by first defining the OpenAPI spec and then using Swagger Codegen to generate PHP API client and server (Symfony).

[2017-06-08 16:24] stevevanderhoeven-optimizely opened #5803 "C# code generation not using fully qualified type names"
##### Description

The code generator for C# generate classes that do not use the fully qualified name. So a swagger field att of type "Attribute" would be generated as

....
 Attribute att;
....

This would conflict with the name spaces include by default like in this case System.Attribute. The client generator only checks for conflicts with keywords so it does not detect that it generates uncomp

[2017-06-08 19:40] ncksol opened #5804 "[C#] How to mix DateTime and DateTimeOffset in a model?"
##### Description

My model contains properties of both types DateTime and DateTimeOffset. It is crucial for me to keep it that way. But unfortunately, as far as I understand, Swagger can only either generated all of them as DateTime (default behaviour) or as DateTimeOffset (with flag specified).
Is there a way to mix those?

##### Swagger-codegen version
v2.2.1

[2017-06-09 05:48] bhuvnesharya commented on #5310
I am facing the same issue, when can we expect 2.2.3 release for the above fix.

[2017-06-09 07:13] wing328 commented on #5310
@bhuvnesharya we'll release v2.3.0 first, hopefully this month or next.

[2017-06-09 07:26] smerschjohann opened #5806 "Retrofit RxJava Client codegen has no possiblity to receive headers"
In other Swagger codegenerators it is possible to query the header information received from the server by a Response object. This would also be possible through the RxJava/Retrofit interface if the Java-interfaces would return Response<'TheGeneratedClass'> instead  of 'TheGeneratedClass' itself.

e.g.

currently: `Observable<List<Car>> carInventory(String location)`
nice to have: `Observable<Resp

[2017-06-09 07:30] wing328 commented on #5806
@smerschjohann thanks for the suggestion. May I know if you've time to file a PR with the suggested enhancement so that we can review?

If I understand correctly, it's a breaking change so please base your enhancement on 2.3.0 branch (which contains other breaking changes)

[2017-06-09 07:31] wing328 commented on #5804
@ncksol I would suggest you to try the latest 2.3.0 to generate C# API client, which has been refactored and let us know if you're still seeing issue.

[2017-06-09 07:32] wing328 commented on #5798
@baibinghere which version are you using? If I remember correctly, we might have fixed it in the latest master.

[2017-06-09 07:45] wing328 commented on #5799
@ayushoo7 do you mean you want to generate only certain properties defined in the Swagger/OpenAPI spec?

[2017-06-09 07:48] wing328 commented on #5787
@nilohit-github we do have an option for Java API client to support JDK1.6.

For JAX-RS, I'm *not* aware of similar option. What about running the auto-generated JAX-RS via Docker instead?

[2017-06-09 07:49] wing328 commented on #5788
Closed via #5791

[2017-06-09 07:50] wing328 commented on #5790
@egodolja are you still encountering issues with the variable naming or mapping with JSON payload in the C# API client?

[2017-06-09 08:00] jdupont22 opened #5807 "Generated XML is wrong"
##### Description
I use the PetStore API yaml description and the source code is generated through maven plugin with the **spring boot** language. When I request the **/pet/findByStatus** with "Accept" header => **"application/xml"**, i have the following response.

`<List>
    <item>
        <id>2</id>
        <category>
            <id>5</id>
            <name>category 1</name>
        </categor

[2017-06-09 08:22] wing328 commented on #5801
Closed via #5802

[2017-06-09 08:22] #5801 closed

[2017-06-09 08:49] martinmcwhorter commented on #5482
Just built the 2.3.0 snapshot and it does look like this issue is sorted -- unfortunately this uses the `InjectionToken` in Angular4 -- our project is still using Angular2.

[2017-06-09 11:40] natami opened #5810 "Don't change param names when generating Feign interfaces"
At the moment param names are changed from snake_case to camelCase when generating Feign interfaces.

So when generating client code for this spec:

parameters: [
    {
        name: "grant_type",
        in: "formData",
        description: "client_credentials",
        required: true,
        type: "string",
        default: "client_credentials"
    }
]
your body ends up like this:

{
    grandT

[2017-06-09 12:12] bhuvnesharya commented on #5310
@wing328 : Thanks for the information. Does v2.3.0 support the examples display on swagger ui for spring codegen.

[2017-06-09 12:59] wing328 commented on #5310
@bhuvnesharya yes, enhancements made to master will be sync'd to 2.3.0 branch as well.

Please give 2.3.0 a try and let us know if you've any feedback.

[2017-06-09 14:07] TsengSR opened #5811 "[typescript/angular2]JSON.NET's $type property generated with upper-case"
##### Description

With an ASP.NET/ASP.NET Core Api Schema generated from C# models and using JSON.NET, the property "$type" is added to the swagger definition (so far so good, and working as intended).

But when the TypeScript/Angular2 Client is generated from this swagger definition, a model/interface with an uppercase T is created ($Type instead of $type). When sending such a model back to the

[2017-06-09 15:32] ChrisTitos opened #5812 "[Swift3] Inheritance decoding with discriminator fails (2.3 branch)"
##### Description

When the client tries to decode a response to an object that has inheritance, decoding fails because of a casting error. We get a mismatched type error because it cannot cast `Decoded<File>` to `Decoded<Resource>`

##### Swagger-codegen version

2.3.0 branch

##### Swagger declaration file content or url

This is the structure of the objects in the swagger definitions:

[code]

[2017-06-09 15:51] wing328 commented on #5811
https://github.com/swagger-api/swagger-codegen/wiki/FAQ#typescript

[2017-06-09 16:56] wing328 commented on #5780
@leonluocheng thanks for reporting the issue. Swagger Editor is using the latest stable version (v2.2.2).

Seems like the issue was introduced to master after the stable release.

I wonder if you can help perform a "git bisect" with the latest master and [2.2.2](https://github.com/swagger-api/swagger-codegen/commit/ff209ada223dcc7f6c6afc59bb02ec96b85c7e39) commit to identy which changes broke it.

[2017-06-09 16:57] wing328 commented on #5779
@leonluocheng thanks for reporting the issue. I agree that the issue should be fixed in the `html2` templates: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/htmlDocs2/index.mustache

May I know if you've time to contribute the fix by filing a PR?

[2017-06-09 19:36] ePaul commented on #5460
If this is wrong at swagger-core side (or swagger-parser), I would propose we try to solve it there (or at least open an issue in the responsible project)?

[2017-06-09 19:45] JFCote commented on #5460
@ePaul : In fact, after spending a couple of time on this, I'm pretty sure the bug is on our side. Check my PR and let me know if it makes sense :)

[2017-06-09 22:43] mdear opened #5815 "Python-flask generated model class skips validation when parameters passed via constructor"
##### Description

I noticed that when constructing an object from an autogenerated class that validations were not done by default.

##### Swagger-codegen version

java -jar swagger-codegen-cli.jar version
2.2.2

##### Swagger declaration file content or url

##### Command line used for generation

java -jar ../swagger-codegen-cli.jar generate -l python-flask -i /ws/mdear-ott/Projects/S3/qmgr/qmg

[2017-06-10 08:09] cbornet commented on #5810
This should already work for model properties.
There should be a way to do it for form/query/path params also

[2017-06-10 08:14] cbornet commented on #5799
I don't think you should use swagger to model your domain.
Since you use spring data, you might want to have a look at [jhipster](http://jhipster.github.io/) (disclaimer : jhipster member talking)

[2017-06-10 08:55] ayushoo7 commented on #5799
wing328 ,cbornet jhipster I gone through looks cool but we are using swagger for doc purpose I have .yml file that is for doc purpose but when using it to generate model class I want to annotate class as document as its static so able to get model annotated with documnet but not able to get fwe fields annotated as @id for id ones and @ dbref for refrential integrity ones but thats not poasible sin

[2017-06-10 13:21] natami commented on #5810
As in fixed in later version 2.2.2?

[2017-06-10 14:26] #5788 closed

[2017-06-10 15:42] Tmin10 commented on #300
I have this error with https://esi.tech.ccp.is/ server. Certificate is valid and good quality. And I have this issue only on one computer. On the other it works fine...

[2017-06-10 16:24] simingweng commented on #5640
the compiling failure is due to #4029, which added "threetenbp" support and set it as the default "dateLibrary" for java client on 2.3.0 branch, while the "resttemplate" mustaches are not adapted for the new date library yet.

A quick fix would be adding "dateLibrary=joda" to make the "resttemplate" sample fall back to joda, a thorough fix would be making "resttemplate" support "threetenbp".

[2017-06-10 17:24] wing328 commented on #5640
@simingweng yes, that's correct. Would you have time to contribute the thorough fix as you've mentioned?

[2017-06-10 17:26] wing328 commented on #300
Given that it works in one machine but not another, it's more likely the issue is with the machine setting rather than Swagger Codegen.

[2017-06-10 17:48] Tmin10 opened #5816 "[Java] Bug: generating incorrect queries to the server"
##### Description

Generated java client make incorrect queries to the server. API method (/alliances/names/) has parameter:
[code]
Client made url for this method like https://esi.tech.ccp.is/latest/alliances/names/?alliance_ids=1354830081&alliance_ids=99005338&alliance_ids=498125261&alliance_ids=99003500&alliance_ids=1695357456&alliance_ids=99003006&alliance_ids=99003214&alliance_ids=99004126&al

[2017-06-10 17:56] ePaul commented on #5816
The default for `collectionFormat` should be `csv` (which is what you want), the behavior you observe is the specified one for `multi`. Changing the behavior for `multi` is certainly not the right thing to do.

From afar (I didn't try it yet) it looks like the default is chosen wrong in your case.

[2017-06-10 18:10] Tmin10 commented on #5816
Ok. But why swagger online editor generate correct comma-separated string to alliance_ids?

![screenshot at 21-08-33](https://user-images.githubusercontent.com/1534088/27005152-2d4f452c-4e21-11e7-97a7-328791d09901.png)

[2017-06-10 18:12] simingweng commented on #5640
Yes, although it would be my first constribution to the project, more than happy to help. I expect to submit a pull request for review within a day or two.

[2017-06-10 18:14] ePaul commented on #5816
I agree that the behavior is wrong (it should be comma-separated), just the bug is not at the place where you want to fix it. Sorry if I didn't say that clearly enough.

I didn't find a release 2.2.3 (last one was 2.2.2) – do you mean you tried it with current master?

[2017-06-10 18:16] Tmin10 commented on #5816
Yes, it's 2.2.3-SNAPSHOT version.

[2017-06-10 18:30] ePaul commented on #5816
I just tried it with current master (21bf3a5a5e1218bd15a44df898427ff559ff8f0c), modified the generated test (AlliancesApiTest) to this:

[code]
That was printed:
[code]
So it seems to work correctly?
Could you try building the current master – the -SNAPSHOT version number unfortunately doesn't really identify the build, as we don't have releases that often.

[2017-06-10 18:38] Tmin10 commented on #5816
Yes, it's correct.
It's strange: I get latest version, regenerate client and all working right too...

Thank you for you help.

[2017-06-10 18:38] #5816 closed

[2017-06-10 18:40] ePaul commented on #5810
Hmm, it is not fixed in latest master, as can be seen in the [sample FakeApi.testEndpointParameters](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/feign/src/main/java/io/swagger/client/api/FakeApi.java#L110), which has wrong annotations:

[code]

[2017-06-10 18:40] Tmin10 commented on #300
I reinstall my JDK with latest version and it solve my problem. Thank you to fast response.

[2017-06-10 18:58] ePaul commented on #5810
Aha, #4898 + #5296 comes back again :frowning_face:

The solution back then worked fine for query (and path) parameters, but doesn't work for form parameters, as we have here.

[2017-06-10 19:04] ePaul commented on #5810
(By the way, @natami, you can add syntax-formatting/highlighting in your code in Github issues by wrapping it with

[code]
or just
[code]
if it is no specific language. It is much easier to read then.)

[2017-06-11 04:20] natami commented on #5810
https://github.com/swagger-api/swagger-codegen/pull/986

[2017-06-11 19:30] Tmin10 commented on #5482
I build project with latest 2.3.0 snapshot but have compilation error in string
```import { InjectionToken<string> } from '@angular/core';```:

[code]

[2017-06-12 03:46] baibinghere commented on #5798
Hi Wing328,

I'm using the latest stable version.
$ java -jar swagger-codegen-cli-2.2.2.jar version
2.2.2

[2017-06-12 04:33] wing328 commented on #5798
Can you try the latest master instead?

On Jun 12, 2017 11:46 AM, "Bing" <notifications@github.com> wrote:

[2017-06-12 05:24] baibinghere commented on #5798
I've tried the latest master branch:

$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

        npm-debug.log

nothing added to commit but untracked files present (use "git add" to track)

$ git remote -v
origin  https://github.com/swagger-api/swagger-codegen.git (fetch)
origin  https://g

[2017-06-12 09:15] martinmcwhorter commented on #5482
I have created a pull request that replaces the `InjectorToken` (added in Angular v4) with an Angular v2 supported `OpaqueToken`. #5829

[2017-06-12 09:40] TsengSR commented on #5811
Well that works, but still imho the generator should treat `$type` as `$type` and not as `$Type`, read: lowerCase the first **letter** and not the first **character**

[2017-06-12 12:36] wing328 commented on #5793
Closed via #5794

Thanks for the suggestion about lgtm.com. Will check it out later.

[2017-06-12 12:36] #5793 closed

[2017-06-12 12:40] wing328 commented on #5758
@giflw may I know if you need any help from us (the community) to create the SparkJava generator?

[2017-06-12 12:43] bedag-moo opened #5830 "swagger-codegen confuses git on case-insensitive filesystems"
#### Reproduction

Under windows (or any other OS with a case-insensitive file system):

$ git clone https://github.com/swagger-api/swagger-codegen.git
$ git checkout 2.3.0
$ git status

Expected: no changed files
Actual:
[code]

#### Cause

swagger-codegen has two different directories that only differ in the case of their filename:

/samples/client/petstore-security-test/typescript-angular/API/

[2017-06-12 12:58] wing328 commented on #5830
@bedag-moo thanks for reporting the issue. I've re-added the folder. Can you pull the latest master/2.3.0 to give it a try?

[2017-06-12 13:09] bedag-moo commented on #5830
Thanks, that fixed it :-)

PS: windows users can fix their working copy with

$ rm -r samples/client/petstore-security-test/typescript-angular
$ git reset --hard

Obviously, you should commit / stash your changes before you reset.

[2017-06-12 13:09] #5830 closed

[2017-06-12 13:11] wing328 commented on #5830
@bedag-moo thanks for sharing the fix for windows users

[2017-06-12 13:26] leonluocheng commented on #5779
@wing328 sure, I am going to look at it to see what I can do for this issue

[2017-06-12 13:28] leonluocheng commented on #5780
@wing328 hmm, interesting. sure, I can help on this.

[2017-06-12 15:15] a-en opened #5831 "[Java][Improvement] Add an option to skip required parameters check"
##### Description

In the specification, I have 2 parameters marked as 'required' for the particular api call. In fact, just on of them should be provided - either first one or second. It doesn't seem to be possible to make the appropriate changes to specification now ([issue](https://github.com/OAI/OpenAPI-Specification/issues/256)). Is it possible to add the config option, which would allow to s

[2017-06-12 15:40] simingweng commented on #5640
The following unit tests are failing due to 500 error from petstore server:

  testLoginUser(io.swagger.client.api.UserApiTest): {"code":500,"type":"unknown","message":"something bad happened"}
  testCreateUser(io.swagger.client.api.UserApiTest): {"code":500,"type":"unknown","message":"something bad happened"}
  testCreateUsersWithList(io.swagger.client.api.UserApiTest): {"code":500,"type":"unknow

[2017-06-12 16:17] wing328 commented on #5640
@simingweng I think that's because the pubic Petstore server contains bad data. The CIs run a local Petstore server so please push the change so that the CIs can run the tests for you (without using the public Petstore server)

[2017-06-12 16:55] simingweng commented on #5640
I added my repository to CI, and pushed a change and saw build created successfully, but just not started. Is it due to long queue for Mac OS X jobs on Travis?

[2017-06-12 17:02] wing328 commented on #5640
@simingweng yup, we just have to wait.

[2017-06-12 18:25] simingweng commented on #5640
CI failed, but I didn't see any resttemplate logs, the only 3 errors I can see were related to Swift

https://s3.amazonaws.com/archive.travis-ci.org/jobs/242105629/log.txt?X-Amz-Expires=30&X-Amz-Date=20170612T181631Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170612/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=50b5ef07e2e17b09cc8b034182528eaa9c62

[2017-06-12 19:05] wing328 commented on #5640
@simingweng please file a PR and I'll look into the CI failure

[2017-06-12 21:38] dnome2 opened #5833 "is there a way to get elapsed time for rest operation."
##### Description
Wanted a way to find the elapsed time for every restapi operation. Request module supports elapsed.total_seconds() method, is there a way to execute this or add this as future enhancement?

##### Swagger-codegen version

2.2.2

[2017-06-12 22:15] Keyrat06 opened #5834 "Trying to insert data into the auto generated code from a configuration file"
So I am editing a mustache file to get the auto generated code to wait for some time before doing an action.

The mustache file looks like:
`double wait_time_double = {{wait_time}};'
 'int wait_time = (int) (wait_time_double * 1000);'
 'Thread.sleep(wait_time)'

[2017-06-13 04:39] scheler commented on #5709
I am running into this issue too, please let me know once this is resolved.

[2017-06-13 05:13] bhuvnesharya commented on #5310
@wing328 : Sure , I will give a try and will let you know. Thanks :)

[2017-06-13 06:24] fluffybonkers commented on #5482
Does anyone know why, even in Angular 4, `InjectionToken` is not working?

I am having the same problem as @Tmin10 and in addition getting the error `You may need an appropriate loader to handle this file type.` from Webpack, I think.

[2017-06-13 08:14] Tmin10 commented on #5482
We have the same issue with InjectionToken problem: #5709

[2017-06-13 08:31] cbornet commented on #5833
Which language/framework ?

[2017-06-13 13:12] dnome2 commented on #5833
python

[2017-06-13 13:54] cameronwh opened #5837 "C# enums rendered with either values or names, not both"
##### Description

Hi all,

We have some legacy code in our product where we have an enumeration starting at 1:
[code]
We would like swagger to generate the enum with strings, so we enable the SwaggerConfig setting 'DescribeAllEnumsAsStrings'.

This generates the enum like this:

[code]

Which unfortunately doesn't work for us - as 'Live' needs to equal 1.

If we remove the setting from SwaggerCon

[2017-06-13 15:40] choule99 opened #5839 "Generating Server Stubs for Spring results in the variables names to be changed from original snake_case to camelCase (which is wrong!)"
##### Description

I generate a server-api from a clean YAML file, and all parameters names gets changed from snake_case to camelCase in the @RequestParam(name="") annotations that is being generated.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

[code]

##### Command line used for generation

config.json
[code]

java -jar swagger-codegen-cli-2.2.2.jar gener

[2017-06-13 16:03] giflw commented on #5758
Hi, I'm running short on time this week again, but I'll try to take a look on that next weekend. Any question that arise I'll post here. Thank.

[2017-06-13 16:38] wing328 commented on #5784
@ackintosh thanks for the suggestion.

cc @baartosz, @arnested @dkarlovi for feedback.

[2017-06-13 16:55] wing328 opened #5840 "[Python] improving "packageName" and "projectName" in CLI options"
##### Description

Here is the suggestion by @frol
[code]

##### Swagger-codegen version

Latest master

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5836

##### Suggest a Fix

If anyone has feedback or wants to work on this enhancement, please reply to let us know.

[2017-06-13 17:34] Wolfium commented on #5482
I need a jar binary with the fix in the short time, and I don't have too much time to spend searching, copying and configuring own template using original ones for typescript-angular2.
Is there any url where I can get the any 2.3.0 snapshot or not to get it fix it in a slick way?

By the way, I did a google research and it was impossible to get any above official 2.2.#.

Thanks in advance for any

[2017-06-13 17:35] Wolfium commented on #5482
In the meantime (just figured out) will try going downgrading until get a working version.

[2017-06-13 23:36] 2ricecrackerfolder commented on #5753
Hi Jim,

I added the "definitions:" in the parent hierarchy as mentioned above.  In the UI I was able to display my api, but when I ran the code generator in java, everything ran and the response models were not created.  They were referenced in the other models but not created.  They would have this name: SnapAdYamldefinitionssnapAd.  Is this related? Does the code-gen not support multiple files?

[2017-06-13 23:46] jimschubert commented on #5753
@2ricecrackerfolder the external yaml generated for me in the local filesystem with the examples above. I didn't test it with hosted specs and external definitions  Is that how you're generating?

[2017-06-14 00:09] 2ricecrackerfolder commented on #5753
@jimschubert  Thanks for your quick reply! I also modified my configuration to what they have above.  The yaml did generate with no errors but was missing the response model files when i dug through the generated src.

[2017-06-14 00:11] Randgalt commented on #5046
I can confirm this - getting it as well

[2017-06-14 00:11] 2ricecrackerfolder commented on #5753
I have a large api with a lot of definitions.  I am splitting the files, and it seems like the response models would not generate.

[2017-06-14 01:39] jimschubert commented on #5753
@2ricecrackerfolder my assumption would be that you may have a validation error somewhere.

You can check with the online validator by appending your url:
https://online.swagger.io/validator/debug?url=

For example, here's a swagger definition with a validation error: https://online.swagger.io/validator/debug?url=https://quay.io/api/v1/discovery

I don't think the above definition would have a pro

[2017-06-14 04:42] fehguy commented on #5753
@jimschubert looks like a bug in swagger-core is triggering this.  Bummer, we just did a release today!  But please see here:

https://github.com/swagger-api/swagger-core/pull/2255

[2017-06-14 04:55] fehguy commented on #5753
Updating to swagger-parser 1.0.30-SNAPSHOT to see if this fixes the issue

[2017-06-14 07:09] ackintosh opened #5841 "[PHP] Separate `host` into `host` and `basePath`"
##### Description

###### A problem for me

[code]

[code]

###### I'd like to improve `Configuration` as follows.

[code]

##### Swagger-codegen version

2.3.0

---

Please let me know what you think.
Thank you.

[2017-06-14 08:45] TekiYoung opened #5842 "[Spring] @JsonProperty annotations missing when using CLI jar"
##### Description
If I use the online editor on swagger.io, and generate server codes for Spring, I get all fields correctly annotated with @JsonProperty and @JsonCreator.
But for the same Swagger specification file, if I use the command line tool as following:

java -jar swagger-codegen-cli-2.2.1.jar generate -i my-model.json -l spring --model-package my.package

Then all @JsonProperty annotation

[2017-06-14 12:11] JFCote commented on #5753
@fehguy : Let me know when it's in the master, I will do some testing.

[2017-06-14 13:05] wing328 commented on #5046
@Randgalt may I know if you've time to contribute the fix? I can work with you to fix it, which should not be difficult.

[2017-06-14 13:09] wing328 commented on #5842
@TekiYoung please try the latest master by building the JAR locally instead as the issue may have been already addressed.

[2017-06-14 13:46] topce commented on #5709
I fix it like this :
[TypeScriptAngular2ClientCodegen.java.txt](https://github.com/swagger-api/swagger-codegen/files/1074751/TypeScriptAngular2ClientCodegen.java.txt)
[variables.mustache.txt](https://github.com/swagger-api/swagger-codegen/files/1074759/variables.mustache.txt)

[2017-06-14 14:40] TimSusa commented on #5733
Hey, we would love to have a generator with flow capabilities. Maybe one could take the typescript generator and change it to flow, because the syntax seems to be quite similar in some ways. It is a pitty, that we have not ressources here for this task at the moment. :-(

[2017-06-14 15:13] kevin-lot opened #5845 "Javascript client codegen useES6 and templates"
##### Description
Javascript client codegen doesn't use my own templates when useES6 additionnal properties is setted.

##### Swagger-codegen version
2.3.0
pull at june 14, 2017

##### Command line used for generation
java \\
-DdebugModels \\
-DdebugOperations \\
-jar ./generator/swagger-codegen-cli.jar \\
generate \\
-i ../swagger.json \\
-l javascript \\
-o ./ \\
--additional-properties useInher

[2017-06-14 15:19] advance512 opened #5847 "Boolean body parameters are not sent when `false`"
##### Description

When a body parameter is of type `boolean` and is `false`, then parameter does not get sent to the server.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

Example parameter:

[code]
If `approved` is set as `true`, then the call works perfectly. Otherwise, it fails, since the code (in `ApiClient.js` in the function `callApi`) contains the fol

[2017-06-14 15:38] fehguy commented on #5753
You should be able to update this:

https://github.com/swagger-api/swagger-codegen/blob/master/pom.xml#L890

to `1.0.30-SNAPSHOT`.  Can you try that and report back?  Thanks a bunch!  The logic was a little weird in the current release so I'm pretty sure this will fix it.

[2017-06-14 16:46] #5777 closed

[2017-06-14 17:31] wing328 commented on #5803
@stevevanderhoeven-optimizely thanks for the PR. We'll review and let you know if we've any question.

A workaround is to add "Attribute" to the list of reserved words: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java#L65

[2017-06-14 17:33] wing328 commented on #5815
@mdear thanks for reporting the issue. If I remember correctly, I suggest using the Python model.mustache for Python flask generator (as Python client generator is more mature): https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/model.mustache

Would that work for you?

[2017-06-14 17:35] wing328 commented on #5841
@ackintosh thanks for the suggestion.

cc @baartosz, @arnested @dkarlovi for feedback.

[2017-06-14 18:49] Randgalt commented on #5046
I'm slammed so I just switched to the Java client. Maybe later.

[2017-06-14 19:58] mdear commented on #5815
Thanks for getting back to me, wing328.  Sadly, due to time-to-market reasons I had to implement my own server classes manually, as I'm working in Django Rest Framework and there wasn't a generator available.  Following good design practice, my specs come first, and then the code, but it appears there is only a DRF->Swagger converter, but no code generator support going the other direction.

[2017-06-14 22:30] fluffybonkers commented on #3221
I would love if someone could help explain how to use the Angular 2 client generated by Swagger @wing328

I have it in my project and that is all good, however, I don't get how to setup the `Configuration` class so that my `Authorization` headers get set.

I am using a JWT for authentication, but I think it still needs to be put into the `ApiKeys` property of the `Configuration` class - is that ri

[2017-06-14 22:44] HappyTreesDev opened #5848 "[C#]Would be nice if code generated adds implementation for handling refresh tokens"
##### Description

I think it would be nice if there was some sort of implementation in the generated code that handles Oauth2 Refresh Tokens. I am thinking there would be a configuration option that enables auto refresh, and the generated code would then check the expires time of the token and automatically call to refresh the auth token if it has expired and the configuration flag is set. Curren

[2017-06-14 23:53] dinvlad commented on #3221
I think you just need to import an entire `ApiModule` into your `AppModule` instead, and there you can use
[code]
just like using `.forRoot(...)` in any other module, as explained here: https://angular.io/guide/ngmodule#routermoduleforroot

[2017-06-15 04:01] ravinikam commented on #5834
You can add as additional property to the swagger generate command instead of json.
` swagger-codegen-cli generate -i swagger.json -t timplate.mustache -l java -o output.java --additional-properties wait_time=0.1`

[2017-06-15 05:09] RyogaK opened #5849 "[Swift3] Can't use property named result."
##### Description
If I add a property named `result` in response, it conflicts with a variable that used in template.
Because that variable is also named `result`.

##### Swagger-codegen version
2.3.0

##### Command line used for generation
java -jar swagger-codegen-cli.jar generate -i api-docs.json -l swift3 -o HogeAPI --additional-properties responseAs=RxSwift,unwrapRequired=true

##### Steps to

[2017-06-15 05:54] wing328 commented on #5046
@Randgalt yup, that's another way to do it as the Java client generator is more mature than the Groovy generator.

[2017-06-15 05:58] wing328 commented on #5815
@mdear no problem. If you've time to contribute a Django REST Framework generator, let me know and we can work together to create one. It should not be difficult as we can use the Python Flask generator as a starting point.

[2017-06-15 11:48] pablobm opened #5854 "[RUBY] Bug generating aliases of Array"
##### Description

I have an API definition that includes a type that is just an array:

[code]

In the Ruby generator, responses are deserialized based on the name of their type. If the type is not an obvious one (`String`, `Integer`, `Float`, ...) it proceeds to deserialize it as an object. This is the case here as the class is `FooArray` (as opposed to `Array`).

The Ruby generator has it so th

[2017-06-15 13:29] JFCote commented on #5753
@fehguy : I have tested it with the example I give above and the generation was successful! So I'm pretty sure we have a good fix with the new swagger-parser version. Please update this bug when you will update the parser in the master! Thanks!

[2017-06-15 17:14] kristenstarr opened #5855 "[Scala] Error Uploading File as Multipart Form"
##### Description

For one of our endpoints that requires file upload, we are seeing errors with the multipart content type.

Model of Endpoint:

[code]
Stack Trace:

[code]

The line in ApiInvoker which is causing the error is contained in the serialize method below

[code]
##### Swagger-codegen version

We have tested on the most recent release of 2.2, as well as building our own jar from the ma

[2017-06-15 20:09] vasl12 commented on #3221
Do I have to do the same if I want to apply basic authentication? How can I provide every time the username and the password?

[2017-06-15 20:15] dinvlad commented on #3221
Yes, as far as I can tell:
[code]
Also make sure you run v2.3 (build from sources), not sure if all support made it into the stable branch yet.

Not sure what you mean - would it be ok to set username and password once when loading the app, or do you have to change them dynamically?

[2017-06-15 20:28] vasl12 commented on #3221
As I am new to angular 2, I do not understand what is the ApiModule and how through it I can pass the required parameters for authentication.

No I just need to set them once when loading the app

[2017-06-15 20:53] dinvlad commented on #3221
ApiModule is what gets generated by this package (swagger-codegen). So after generation of the code you end up with a folder that contains `api.module.ts` as well as individual services under `api/`. Instead of importing these services one by one into your AppModule, you can (should) import the entire `api.module.ts` as a regular module. This is done only once in the AppModule (and not any other m

[2017-06-15 21:00] vasl12 commented on #3221
I used swagger editor for the client generation, so I do not have api.module.ts under api/ directory. I will try again with swagger-codegen.

thanks a lot

[2017-06-15 21:01] dinvlad commented on #3221
Ah, that's why I recommend building Codegen from branch 2.3. It contains proper structures.

[2017-06-15 21:54] HappyTreesDev commented on #5121
I am looking at my generated code and I see some basic outline of authentication code for oauth, but I don't see anything actually implemented. I am left to implement everything myself it seems, including the actual call to login.

I expected the apiClient to have some sort of call to login, rather than having to use the endpoint I created.

[2017-06-16 01:11] dinvlad commented on #3221
Correction: in the latest builds on the 2.3 branch, they use a different syntax for `forConfig`: you now need to provide not the config object itself, but rather a 'config factory' - a function that will return a Configuration object. So, in your `app.module.ts`:
[code]
Hope that helps.

[2017-06-16 06:17] dinvlad commented on #4774
I assume it's not been ported yet (even on 2.3.0), for now we have to just specify `--additional-properties modelPropertyNaming=original`? Thanks

[2017-06-16 11:53] sabras75 opened #5856 "[QT5][CPP] Wrong support of PATCH operation"
##### Description

There is a bug for the “PATCH” operation in the QT5CPP templates. In the template file

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/qt5cpp/HttpRequest.cpp.mustache#L286

There is this code:

	else if (input->http_method == "DELETE") {
	  manager->deleteResource(request);
	}
	else {
	  QBuffer buff(&request_content);
	  ma

[2017-06-16 11:53] sabras75 commented on #5856
I'll provide a pull request shortly

[2017-06-16 12:15] vasl12 commented on #3221
I tried to generate my typescript angular 2 client via codegen v2.3 as you suggested, but still I do not get as outcome the api.module.ts. Any ideas of what am I doing wrong?

[2017-06-16 14:12] ePaul commented on #5147
As discussed in #5191, I'll do the same change also for other plural options.

[2017-06-16 14:23] fehguy commented on #5753
OK Great!  I'll do the release today.  We have to do the whole gamut including swagger-core too...

[2017-06-16 14:37] wing328 commented on #5854
@pablobm thanks for reporting the issue. Is it correct to say that the issue is gone when not using the alias, which means you mean the array of model in the property/parameter definition itself?

You may also want to try the latest master, which is using a newer version of Swagger parser.

[2017-06-16 14:41] wing328 commented on #5855
Thanks for testing the 2.3.0 branch as well, which has the Scala generator rewritten. The goal is to combine `scala`, `async-scala` and `akka-scala` into one single Scala generator. It's still work in progress. cc @clasnake

As a workaround, what about using the Java SDK in your Scala application?

[2017-06-16 14:42] wing328 commented on #5848
@HappyTreesDev thanks for the suggestion. May I know if you've time to contribute the enhancement?

I can work with you and show you some good starting point to implement the feature.

[2017-06-16 14:45] kristenstarr commented on #5855
Thanks for the response!  For now, that is exactly what we are doing.  We are building both the scala and the java clients- because we find the pattern matching features of scala very helpful in the cleanliness and organization of our tests but require this one feature that is not working.  My goal is to be able to simplify down to just the one (scala) as soon as this is working.

[2017-06-16 14:45] wing328 commented on #5847
@advance512 What does the HTTP request payload look like? I wonder if your definition using body parameters with just a boolean type is correct. Do you mean to use `form` parameter instead?

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object

[2017-06-16 14:45] HappyTreesDev commented on #5848
I do not have the most time right now, but maybe in a month or so I will have some free time.

[2017-06-16 14:49] wing328 commented on #5855
@kristenstarr right, this feature definitely needs to be fix (despite the workaround) and I would suggest fixing it in the 2.3.0 branch instead. If you've time to help with the fix, I can probably show you some good starting points.

[2017-06-16 14:51] wing328 commented on #5848
@HappyTreesDev no problem. PIng us when you are available to contribute the enhancement.

[2017-06-16 14:59] kristenstarr commented on #5855
sure, will give it a shot.  I'm much more familiar with whats on master and 2.2, having debugged through it quite deeply, but will get into 2.3.0 and try to understand the direction that it's going.

[2017-06-16 16:21] vasl12 commented on #3221
Thank you for your answers they helped a lot
Regarding this

`export function apiConfig() {
  return new Configuration({
    username: '...',
    password: '...',
    basePath: '...',
  });
}`

Do you know how can I pass arguments from my login service to this function in order to pass them to ApiModule?

[2017-06-16 16:50] dinvlad commented on #3221
One solution is to store the credentials in `localStorage` and then load them from there. A side advantage of that is your auth system may be decoupled from Angular (e.g. you could use a 3rd-party login screen, like those by Auth0 or Stormpath, without "embedding" them in your Angular code). Another advantage is that your login info could be stored reliably across tabs and sessions. That goes with

[2017-06-16 16:54] dinvlad commented on #3221
FWIW if you're serious about using Angular as a client for your API, I'd recommend using temporary tokens (e,g, JWT) instead of permanent credentials for API authentication. That way, even if someone else manages to access those credentials they will be of limited use.

[2017-06-16 17:19] vasl12 commented on #3221
I am just writing an api in order to learn angular, so it is not for serious use yet.

I meant something simpler, just how I can get the credentials from login service and inject them to the service that handles the http calls through this factory function

[2017-06-16 18:30] dinvlad commented on #3221
Understood. Then probably passing them through `localStorage` is the easiest approach.

[2017-06-16 20:11] ModernRonin opened #5857 "[CSharp .NETStandard] How to intercept/change response content?"
##### Description
ApiClient is generated as a partial class providing the extension point
``
partial void InterceptResponse(IRestRequest request, IRestResponse response) {}
``
However, it turns out response.Content is readonly.
In my particular instance, I would need to remove some wrapping in the content which has been added by a server-side filter (and thus the swagger spec doesn't know anything

[2017-06-17 13:41] solvingJ opened #5862 "[CPPREST][CPP] Several Compilation Errors, setTags method missing"
##### Description

There are several methods which are causing compilation errors.
fromJson
fromMultipart
setTags

While I am able to find fromJson and fromMultipart, I cannot find the method setTags method anywhere.  Interestingly, I generated Petstore and Petstore on Heroku samples and this method was not referenced anywhere in that code.  Perhaps those specs don't have custom tags and my spec d

[2017-06-17 14:26] solvingJ commented on #5862
I have posted the Azure IOTHub SDK with the issues here:

https://github.com/AppAnywhere/azure-iothub-sdk-cpprest

[2017-06-17 15:08] Randgalt opened #5863 ""dateLibrary" option for java suggest Java8"
##### Description

The "dateLibrary" Java option has "java8" as one of its values. The mustache variable for this is also called "java8". This is misnamed. There are other java8 classes that should be substituted when "java8" is suggested. We should support a true "java8" option that uses all Java 8 JDK classes where appropriate.

##### Swagger-codegen version

2.2.2

##### Command line used for g

[2017-06-17 17:37] wing328 commented on #5862
@solvingJ I would suggest you to try the latest master to see if you can still repeat the issue as there're 9 PRs for CppRest since last stable release (which is used by the Swagger Editors)

[2017-06-17 17:38] wing328 commented on #5857
@ModernRonin I would suggest you to try generating the C# API client from 2.3.0 branch, which has the C# client generator refactored.

[2017-06-17 18:43] solvingJ commented on #5862
I saw that but I wasn't sure which branch/version the swagger editors were built from.   Furthermore, I only ever generated from the web interface.  I'm not really an expert developer, so I don't know that I'm capable of compiling and building the generator and running it locally (or at least, not without spending a day on it and asking someone for help).  When do you think the new generator code

[2017-06-18 03:14] wing328 commented on #5862
@solvingJ what about using the pre-built Swagger Codegen CLI Docker image: https://github.com/swagger-api/swagger-codegen#public-pre-built-docker-images?

We hope to do it by the end of July (it was already postponed from May 31st)

[2017-06-18 03:38] austin94 commented on #5709
@scheler Since there have been no other responses, I will open a pull-request for it this evening.

[2017-06-18 08:53] wing328 commented on #5849
@RyogaK right, local variables should be named differently. For other langauges, we use the prefix "localVar": https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=localVarPath&type=

I'll work on this next weekend (24th, 25th) if no one has started working on this.

cc @jaz-ah @jgavris @Edubits

[2017-06-18 12:14] leckylao opened #5867 "[nodejs-server] Bug NODE_ENV=production doesn’t disable stub"
##### Description

After setting NODE_ENV=production and DEBUG: swagger-tools:middleware:*. I can see

But the stub data is still there. And I run a grep on the generated code, it seems there’s no handling for options.useStubs. And in the Service js file it simply just return he example without checking the useStubs variable.

##### Swagger-codegen version

2.2.2

##### Suggest a Fix

I reckon whe

[2017-06-18 13:35] solvingJ commented on #5862
I actually did use the docker pre-built Swagger Codegen CLI image last night, and was able to generate.  It still has the same issues. Will have those details posted soon.

[2017-06-18 13:41] klemens-morgenstern commented on #5862
I have the same issue, I tried to generate the Swagger [spec of the Azure IoT Hub](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-iothub/2017-01-19/swagger/iothub.json) and it generates a lot of errors where it tries to call `fromMultiPart` on an `std::map`. Not only in the 2.2 but also in the current 2.2.3 version:

[code]

It seems to me like it's generating the wrong type there.

[2017-06-18 14:54] wing328 commented on #5634
@simingweng @johnnyxh the Swagger Editor should be using the latest stable version of Swagger Codegen (v2.2.2)

@fehguy can you help confirm?

[2017-06-18 15:02] wing328 commented on #5760
@stkrwork I think it's a very good starting point for a configuration generator 👍

I would suggest you to list out a list of tasks left to be done to make the generator ready for an alpha/beta release so that the community can help out.

[2017-06-18 16:11] wing328 commented on #5845
Your usage of `-t` with customized templates should work. Not sure why it's not working for you.

Can you share a bit more on what you want to customize?

You may want to also try without the `useES6` option.

[2017-06-18 17:45] wing328 commented on #5862
Yup, I think likely that's the case so we'll need to remove the code copied from the QT5 templates.

The `cpprest` templates can be found in https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/cpprest

@solvingJ @klemens-morgenstern May I know if you've time to contribute a PR to clean up the auto-generated code for CPPREST generator?

[2017-06-18 18:11] wing328 commented on #5833
@dnome2 I think a good starting point is to use the `-t` option with the customized templates. You may want to start with [api_client.mustache:L139](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_client.mustache#L139)

[2017-06-18 18:13] wing328 commented on #5812
@ChrisTitos thanks for reporting the issue. I'm no expert in Swift either so I've cc'd the expert below to take a look

cc @jgavris @jaz-ah @Edubits

[2017-06-18 18:16] wing328 commented on #5831
@a-en would the following feature (not yet implemented for Java) help in your case?

https://github.com/swagger-api/swagger-codegen/issues/5530

[2017-06-18 18:59] solvingJ commented on #5862
I'm a not experienced enough to be helpful. I barely know any C++, and don't understand how the code-generation in swagger codegen works really. Sorry.

[2017-06-18 19:52] stkrwork commented on #5760
Well in terms of using it, the generated config can be copied into an apache webserver config right now.

If one would want to extend it, it would be possible to add more cli options for generating in cgi handling, enable logging, change the path of the log files, or change the authentication from basic to having a form to handle login.

Other things that can be done to extend it is setting the se

[2017-06-19 02:15] wing328 commented on #5862
I digged into this issue a little bit deeper and it turns out I was wrong about copying the code from QT5 templates. The issue was due to missing "setter" for properties that are "array":
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/cpprest/model-source.mustache#L405-L411

Using the Petstore store example, the Pet model has the property `tag

[2017-06-19 06:42] wing328 commented on #5790
@egodolja Btw, you may want to try generating the C# API client from 2.3.0 branch, which has the C# API client refactored based on various feedback we got from our users.

Closing this for the time being.

[2017-06-19 06:42] #5790 closed

[2017-06-19 11:52] natami commented on #5745
Are we closer to a 2.3.0 release?

[2017-06-19 12:34] manuc66 opened #5876 "[QT5][CPP] does handle `additionalProperties`"
##### Description

The `qt5cpp` generation does handle `additionalProperties`, see: https://gist.github.com/manuc66/730be9e25488450ebf99ba69196790db

##### Swagger-codegen version

master (next 2.2.3) on 06/18/2017

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

[2017-06-19 15:09] #5856 closed

[2017-06-19 15:11] advance512 commented on #5847
Hey @wing328,

Thanks for the reply. What do you mean by "correct definition"? Is the definition not a valid definition of Swagger?

The body is empty, so there is nothing to show.

[2017-06-19 15:16] wing328 commented on #5847
If the HTTP request body is empty, why do you need to define a body parameter in your OpenAPI spec?

[2017-06-19 15:58] ePaul commented on #5847
@wing328 As I understand, @advance512 wants to have a body of either `true` or `false`. But the generated JS client sents either `true` or an empty body.

[2017-06-19 16:01] ePaul commented on #5797
Is it really a regression if it was never fixed?

[2017-06-19 16:21] leonluocheng commented on #5780
@wing328 After "git bisect". found out this commitment cause this issue.

![image](https://user-images.githubusercontent.com/8879694/27295107-66588466-54e1-11e7-845f-4f5a09f01f7b.png)

[2017-06-19 16:49] solvingJ commented on #5862
#5877 Fixed the setTags method.
Per @stkrwork

Still looking for help implementing these.

[2017-06-19 16:50] davidpasztor opened #5878 "[Swift3] Code generated doesn't even compile on macOS"
##### Description

Regardless of the Swagger spec, the Swift3 code generated by Swagger Codegen doesn't compile on macOS. The problem is in the generic part of `Models.swift`, more specifically the implementation of the decode function for objects. `func decode<T>(clazz: T.Type, source: AnyObject) -> T`.

This is the full code:

[code]

The compiler gives an error: __Ambiguous use of 'int32Value'_

[2017-06-19 17:31] wing328 commented on #5862
@solvingJ I've merged @stkrwork PR into master. Can you please pull the latest docker image to give it another try and list out what still needs to be fixed?

[2017-06-19 17:37] solvingJ commented on #5862
@stkrwork already did, check my comments above, looks like:
 toMultipart, toJson, and fromJson are all still broken.

[2017-06-19 17:49] wing328 commented on #5862
Can you share a bit more details? Did you get compilation errors? If yes, please provide them. The steps you provided previously are very helpful
[code]

[2017-06-19 17:55] wing328 commented on #5878
@davidpasztor can you try generating Swift3 API client from 2.3.0 branch, which has a lot of enhancements (breaking changes) and bug fixes?

[2017-06-19 18:05] egodolja commented on #5790
I have tried adding the attribute
[DataMember(Name="*myFieldName*", EmitDefaultValue=false)]
as shown in the example, using the latest jar file for generating the code, and am seeing the same result. Any other suggestions?

Thank you for your help!

[2017-06-19 18:13] wing328 commented on #5790
Can you share the spec? You should not need to add the DataMember manually.

[2017-06-19 18:32] leonluocheng commented on #5780
@wing328 I am a js newbie. but thought my debug on [5313 ](https://github.com/swagger-api/swagger-codegen/commit/abffdca441c3a524ac336d66c24e4fa474cd2493). found out that "object.assign" is not support at IE11. looks like we need to find a way to polyfill this issue.

[2017-06-19 18:40] solvingJ commented on #5862
FYI, I have been working on this for the past hour. Will continue.

[2017-06-19 20:01] dantran commented on #5797
it was fixed in #1620

[2017-06-19 20:09] solvingJ commented on #5862
Here are some examples of the errors which still exist

 'std::map<utility::string_t,utility::string_t,std::less<_Kty>,std::allocator<std::pair<const _Kty,_Ty>>>'

[2017-06-19 20:34] solvingJ opened #5880 "[CPPREST][C++] Suggest Using Conan.io for C++ Dependencies"
##### Description

The current CPPREST generator requires manual dependency management.  Developers have to download CPPRest and Boost libraries, extract them, and then manually update the CMakeLists.txt file to point to their location on disk. For a novice with CMake this can be non-trivial.

Conan.io has recently emerged as a viable cross-platform package management system for C++, providing an

[2017-06-19 21:03] foxmk commented on #3812
Hello! Is there any WIP on this issue? If not, I will take it

[2017-06-19 21:10] HappyTreesDev commented on #1557
With the .NET standard format, I was able to include a compiled dll, but there were issues when attempting to include the project. After converting the project to a pcl and setting the pcl to support xamarin stuff, I found that there are Path and File usages that do not work. It would be nice to switch to PCL instead of .NET Standard and also use PCLStorage for paths so that we can target xamarin

[2017-06-19 21:42] ePaul commented on #5797
Ah, sorry, I overlooked the pull request (#1621) and looked just at the comments of the issue.

[2017-06-19 23:42] solvingJ commented on #5880
@wing328 Would it be possible to make this a CLI option such as --conan=true/false, where a few of the output files will be different depending on the choice?

[2017-06-20 02:20] derrick3192 opened #5881 "importMapping functionality lacking core functionality, such as rename ability."
##### Description
This issue I have found for `<language>spring</language>` but I'm sure other languages are effected as well.
As an example: In Spring, it is common to use pagination for returning a collection of resources, usually one uses the `org.springframework.data.domain.Page` class in REST APIs. I want to use a `importMapping` for this situation. However one cannot do this if they have mor

[2017-06-20 07:07] wing328 commented on #1557
@HappyTreesDev please open a new issue with more details (e.g. error message, etc) for tracking.

[2017-06-20 07:07] #1557 closed

[2017-06-20 07:07] #5589 closed

[2017-06-20 07:15] wing328 commented on #3812
@foxmk thanks for offering help on this. In the 2.3.0 branch, `async-scala` and `scala` generator has been merged into one thanks to the good work from @clasnake

If we can update `scala` generator in 2.3.0 to generate Scala code with the `akka-http` lib, that should fix the issue mentioned in https://github.com/swagger-api/swagger-codegen/pull/5115#issuecomment-290912839

[2017-06-20 07:24] wing328 commented on #5880
Thanks for the suggestion, which looks good to me. I'm ok with generating the conanfile.txt file without any CLI option (which means the file should be generated as default)

cc @ravinikam who created the auto-generated CMake file for `cpprest` generator.

[2017-06-20 07:33] wing328 commented on #3812
Here are some good starting points:

ApiInvoker mustache template for `scala` (2.3.0): https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/scala/apiInvoker.mustache

ApiInvoker mustache template for `akka-scala` (2.3.0): https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/akka-scala/apiInvoker.mustach

[2017-06-20 07:41] stkrwork commented on #5862
I might look into this today

[2017-06-20 08:11] saltwat5r commented on #2448
I have the same issue...

[2017-06-20 08:30] wing328 opened #5883 "[JavaScript] Tests JS API client with ES5"
##### Description

To catch any issue with ES5 (e.g https://github.com/swagger-api/swagger-codegen/pull/5871), we'll need to setup CI with ES5 with Shippable or CircleCI.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/5871

##### Suggest a Fix

If anyone wants to help work on this, please reply to let us know.

[2017-06-20 08:31] wing328 commented on #5880
cc @stkrwork as he's been helping on fixing some of the issues with the `cpprest` generator.

[2017-06-20 08:34] stkrwork commented on #5862
The template is only recognizing the isListContainer and isPrimitiveType when generating, and a default generation template. As tags in this case is a map, the isMapContainer needs to be checked. I am implementing that change currently, which means it should work then. The other complexTypes are handled ok with the default.

The petstore example models don't have a map datatype, so therefore this

[2017-06-20 08:35] wing328 commented on #2448
Please try the `swift` or `swift3` generator in 2.3.0 branch, which has a lot of enhancements (breaking changes) and bug fixes.

If it's still an issue, please open a new one with the details.

[2017-06-20 08:44] wing328 commented on #5862
Right, the cpprest petstore samples (based on [petstore.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml)) only covers the basic. We've created [petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake

[2017-06-20 08:54] Gronsak commented on #1557
@HappyTreesDev ping me when you've opened a new issue about your problem, I have some questions

[2017-06-20 09:19] stkrwork commented on #5862
For a first step, I am implementing a way for using maps and not maps of maps, as maps of maps will require refactoring of the modelbase as well, as everything needs to be moved into new functions for lists and maps.

[2017-06-20 09:21] wing328 commented on #5862
Yup, that's totally fine (I'm not saying you need to fix all the edge cases covered by petstore-with-fake-endpoints-models-for-testing.yaml)

[2017-06-20 10:04] stkrwork commented on #5862
Can you look through the template @wing328, because according to my changes, it should generate the map components correctly, but when using it with the spec provided in this issue, it still generates it the wrong way, so I am a little confused.

[2017-06-20 10:06] stkrwork commented on #5862
#5884

[2017-06-20 10:53] stkrwork commented on #5880
Who will manage the package on conan.io? or is there an official package on it already, that everyone can use?

[2017-06-20 11:06] memsharded commented on #5880
There is no official package right now. Last week we moved from conan.io  to Bintray, so conan.io is not a server anymore.
In bintray there are two repos:
- conan-transit: read-only, with a copy of packages from conan.io. https://bintray.com/conan/conan-transit There are like 4 different versions.
- conan-center: it is a moderated/curated repo: https://bintray.com/conan/conan-center. Right now is

[2017-06-20 11:20] stkrwork commented on #5862
When using [petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml), it generates the map correct

[2017-06-20 11:57] solvingJ commented on #5880
Indeed, with Conan moving to Bintray, their moderation system enables "Verified" publishers for Conan so that popular 3rd party packages made available.  Conan will work much like Chocolatey.org and Homebrew in this way. Right now the best candidate for CPPRest will be this one:

https://bintray.com/conan/conan-transit/CppRestSdk%3AViaviSolutions

This one has the dependencies correctly mapped:
[c

[2017-06-20 12:24] solvingJ commented on #5862
If you think it's a corner case from the IOTHub swagger spec provided, here's a plethora of other specs from Microsoft for future testing:

https://github.com/Azure/azure-rest-api-specs

[2017-06-20 13:35] Uebergeek702 commented on #4805
We have the same problem:
in Json there are two fields : ROW_ID (Long) and ROWID (String)
and that is created:
[code]
and that ends up in `error: method getROWID() is already defined in class PRAWJ202`
Tried with `swagger-codegen-cli-2.2.2.jar`

@baynezy : did you work on this?

[2017-06-20 13:37] davidpasztor commented on #5878
@wing328 Thanks for the quick response. I have generated the Swift3 API client from the 2.3.0 branch and the problem still exists. Even though the bit of code has been changed up a bit in 2.3.0, the notorious error `Ambiguous use of 'int32Value'` is still present.
This is the new version of the function mentioned in my question:
[code]

The error is shown for the lines with the comment __compiler

[2017-06-20 14:03] markebbers opened #5885 "[JAVA] Nested generics causes missing imports"
##### Description

If a method is using nested generics in an method argument, like List<List<MissingObject>>, the generated Api class is missing an import for this model class. In this case 'MissingObject'.

##### Swagger-codegen version

Tested with 2.2.1 and 2.2.2.

##### Swagger declaration file content or url

proof of concept:
https://gist.github.com/markebbers/7e9fcecdfe1b5c15604618519b5a5e

[2017-06-20 14:13] wing328 opened #5886 "[PowerShell] Enhancements to PowerShell generator"
##### Description

Here are some enhancements for the PowerShell generator:

- [ ] Option to specify `ClientPath` (which is hard coded to "$ScriptDir\..\..\csharp\SwaggerClient" at the moment"
- [ ] Integration tests using AppVeyor (similar to other API clients, we want to perform testings with the Petstore server (local) to ensure nothing breaks after changes)
- [ ] Review authentication support:

[2017-06-20 14:20] #4320 closed

[2017-06-20 14:36] baynezy commented on #4805
I didn't get onto it I'm afraid. I got swallowed up by other problems.

[2017-06-20 15:02] wing328 commented on #5886
Added C# client Path option via https://github.com/swagger-api/swagger-codegen/pull/5887

cc @beatcracker

[2017-06-20 15:14] Uebergeek702 commented on #4805
@baynezy : Can you give me a hint which class to touch? then I will give it a try - because I need that

[2017-06-20 16:01] frol opened #5888 "[JavaScript] master branch now generates ES6 JS code instead of ES5"
##### Description

@dinukadesilva Adding `useES6` configuration option with a default value `true` in #5593 introduced a *breaking change* because the behavior for `generate -l javascript` with no options now generates ES6 JavaScript code instead of ES5.

By the way, the `./bin/javascript-es6*` generators set `useEs6=true` while the option name is `useES6` (`S` is capital).

##### Swagger-codegen

[2017-06-20 16:16] HappyTreesDev opened #5889 "C# PCL version of the application"
##### Description

I am developing a Xamarin application and had to make some edits to the generated code, so I decided to include the generated project in my solution and then make a reference to it. The generated code was created using the .NET standard version in hopes that it would work with my PCL based Xamarin project.

After adding the project to my solution, I had to convert the project to

[2017-06-20 16:18] HappyTreesDev commented on #1557
I have opened a new issue at [#5889](https://github.com/swagger-api/swagger-codegen/issues/5889)

[2017-06-20 16:39] dinukadesilva commented on #5888
Thanks for this @frol
I'll look into this

[2017-06-20 16:48] Gronsak commented on #5889
Technically .NET standard should work with Xamarin without any issues.
What version of Visual Studio are you using?

[2017-06-20 16:58] HappyTreesDev commented on #5889
I am using 2015 Professional. I was able to include the DLL compiled fine, but if I attempted to include a reference to the project itself, I was forced to switch it to a PCL. Also, there are System.IO functions that are used in the serialization stuff that are used that do not exist in Xamarin.Android or Xamarin.iOS due to file structure being so different. https://github.com/dsplaisted/PCLStorag

[2017-06-20 17:08] Gronsak commented on #5889
Okay just so we aren't missing anything obvious before moving on, could you confirm what version of Xamarin.Android and Xamarin.IOS you are running?

I'm asuming you've you installed the .NET core update for Visual Studio since you mentioned it before.

[2017-06-20 17:18] wing328 commented on #5862
UPDATE: https://github.com/swagger-api/swagger-codegen/pull/5884 has been merged into master.

@solvingJ can you please give it a try when you've time?

[2017-06-20 17:38] Gronsak commented on #5889
I've done some testing and would like to clarify some more things, when you say you can't reference the project it self do you mean Visual Studio refuses to add it to the solution?
Technically the VS2015 .NET Standard project file is already a PCL due to it being kind of a patchwork by Microsoft, when you say you have to switch it to a PCL do you mean you have to make a new project and copy over t

[2017-06-20 17:42] HappyTreesDev commented on #5889
I had issues adding the project as a reference to my xamarin pcl. I was able to add the project to the solution.

As for switching the project to a PCL, there is an option to do so in the project properties that I used.

I think the main issue I was encountering is that the .NET Standard project does not have definition to support Xamarin stuff, and does not support the lowest common denominator t

[2017-06-20 17:45] Gronsak commented on #5889
Does it refuse to add the reference or do you just get an error when compiling?

[2017-06-20 18:06] Gronsak commented on #5889
The reason I'm asking is because when I did my tests I had no real issues adding the references to a Xamarin project but when compiling I discovered I had to add references to the Swagger libraries two dependencies (and all their dependencies) directly to the Xamarin project. After doing that I had no issues getting it to work.
To be clear though this was in VS2017 and directly to a Android Xamari

[2017-06-20 18:35] solvingJ commented on #5862
Gave it a try, now up to 82 errors currently.

@stkrwork do you get the same number of errors?

Here's what mine generated, maybe @stkrwork can double check that I did get the latest changes from #5884.

https://github.com/solvingJ/azure-iothub-sdk-cpprest/tree/Swagger_codegen_2_2_3-snapshot_6_20

Steps to reproduce:

[code]

I've put my build log in the following file which includes every source

[2017-06-20 18:38] sebastianhaas commented on #5570
I upvote @taxpon's suggestion. As mentioned in #5866 I feel like supporting both AngularJS and Angular (>2.x) with one single generator is probably making things more complicated.

I'll suggest a something like a `--ngVersion` flag to determine whether the API client should be generated for use with Angular 2, 3, 4 whatever, so that we can comply with the latest best practices (InjectionToken inst

[2017-06-20 18:50] jaz-ah commented on #5812
@ChrisTitos does the generated code create a decoder for "File" - are you trying to pass a File object into that decoder or trying to pass a File object into the Resource decoder?

[2017-06-20 19:02] HappyTreesDev commented on #5889
VS2015 refused to when attempting to add a reference to my PCL the IO.Swagger project. The message given was

[2017-06-20 19:09] ChrisTitos commented on #5812
@jaz-ah Decoders exist for all types. The Directory object has a property `children` which is a list of `Resource` objects (could be File of Directory). This is the case that will go wrong. For that property it will call the decoder for `Resource`, which calls via the discriminator the decoder for File or Directory, but those will return either `Decoded<File>` or `Decoded<Directory>`, both of whic

[2017-06-20 19:33] stkrwork commented on #5862
I'll review it tomorrow.

[2017-06-20 20:01] Gronsak commented on #5889
I assume this was before you switched the swagger library over to PCL. From what I can see it isn't really a problem between .NET Standard and Xamarin but rather a problem with compability between the two PCLs which masquerades as a .NET Standard problem thanks to how Microsoft implemented .NET Standard library support in VS2015.

I would like to point out that most libraries that used to use PCL

[2017-06-20 20:18] HappyTreesDev commented on #5889
Okay, I have not done much research on .NET Standard and after looking up a bit, I see where you are coming from. .NET Standard sounds like the way to go. I guess there is just an issue with how VS2015 will block the reference between a PCL and .NET Standard. From my reading, what you say is correct and this should likely be kept how it is.

I do still wonder how the Path.TempPath() function was p

[2017-06-20 20:30] #5889 closed

[2017-06-20 20:54] jaz-ah commented on #5812
ah I see - @ChrisTitos could you try this as an experiment (by no means a fully functional fix) - but in the decoder change:
        if let decoder = decoders[key], let value = decoder(source, nil) as? Decoded<T> {
to:
        if let decoder = decoders[key], let value = decoder(source, nil) as? Any as? Decoded<T> {

I think we'd have to figure out a better way to do this but wondering if this help

[2017-06-20 21:02] dinvlad commented on #2776
So we already define Date fields in swagger.json as
[code]
However, they do not get deserialized from string and instead are defined to be of Date type in the generated code (at least, for Angular 2). Do we still expect this conversion to happen automatically at some point?

Thanks

[2017-06-20 21:10] gwynjudd commented on #4805
@Uebergeek702 I didn't have time to come up with a good solution. I made a hack though which may help you to properly solve the problem. In DefaultCodegen.java, search for the text "// Remove all underscores" -my hack was to comment out the following lines, but a proper solution would involve making that behaviour controllable by option.

https://github.com/swagger-api/swagger-codegen/blob/4d70508

[2017-06-20 22:07] fb55 commented on #5733
@TimSusa @wing328 How do you guys feel about adding flow types to the es6 version? That one already has a babel config, it would be easy to add a transform to strip flow types to that and convert the jsdoc comments to flow types. Also, it might make sense to completely convert it to use `import`/`export` for dependency handling, which, once again, can be taken care of by babel, but would also allo

[2017-06-21 07:22] moanrose commented on #2776
What we ended up doing, and what works for us is a combination of the following

We are using JSJoda - LocalDate, LocalDateTime on the client to keep dates and date times seperated.

We have configured Spring Boot to serialize all dateTime to a zoned datetime format in UTC - which get deserialized using Local Time Zone on the client. The Dates gets serialized as ISO 8601 Date

We use regular expre

[2017-06-21 07:51] 7mllm7 commented on #5733
Even though I ended up using [react-script-ts](https://github.com/wmonk/create-react-app-typescript) to add TypeScript to my React project, I think a flow type generated client would be very useful!

[2017-06-21 08:23] wing328 commented on #4805
@Uebergeek702 https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractJavaCodegen.java#L458 (toVarName) is a good starting point on how customize the naming of properties.

[2017-06-21 08:38] wing328 commented on #5733
@fb55 sounds good to me. What about adding an "useFlow" as I'm not sure if every JS developers want that?

The `useFlow` option only matters when `useES6` is set to true.

[2017-06-21 09:05] wing328 commented on #5885
@markebbers thanks for reporting the issue with a spec to easily reproduce the issue, which helps a lot.

I'm looking into it...

[2017-06-21 10:07] TehBakker commented on #5316
Having the same issue using Maven plugin with the 2.2.3-SNAPSHOT version

[2017-06-21 10:42] wing328 commented on #5885
It should be fixed by https://github.com/swagger-api/swagger-codegen/pull/5891

I did a test with the spec you provided and `mvn test` does not report any issue.

[2017-06-21 11:34] Uebergeek702 commented on #4805
@wing328 thank you for the hint - I also wrote you an email. Can you assign me to the issue? (Is that usual?) and help me to set everything up to contribute? Thx.

[2017-06-21 12:06] TehBakker opened #5892 "The deployed version of swagger-codegen-project still uses swagger-parser-version 1.0.27-SNAPSHOT"
Greetings,

Trying to retrieve and use Maven Plugin io.swagger:swagger-codegen-maven-plugin:2.2.3-SNAPSHOT, I get the following error

I see the source code has been updated to uses 1.0.29 : https://github.com/swagger-api/swagger-codegen/blob/master/pom.xml
However it has not been deployed and the actual available jar on https://oss.sonatype.org/content/repositories/snapshot still uses 1.0.27-SNAP

[2017-06-21 12:10] adhigadu commented on #4698
hello @wing328 @ber4444  I was having similar issue and would like to use rxjava2 with retrofit. Can you please confirm if its already in 2.2.2 or will be released on 2.2.3. If its in 2.2.3 would i be able to access pre-release 2.2.3 jar file please.. thanks..

[2017-06-21 13:35] #5885 closed

[2017-06-21 13:36] wing328 commented on #5885
@markebbers PR merged into master. Please pull the latest master to give it a try.

[2017-06-21 13:46] wing328 commented on #5878
@davidpasztor thanks for trying the 2.3.0 branch.

cc @jaz-ah @jgavris @Edubits

[2017-06-21 13:54] wing328 commented on #5780
@leonluocheng thanks for identifying the issue.

@wy-z would you please take a look when you've time and see if the suggested fix by @leonluocheng works for you?

[2017-06-21 14:09] dinvlad commented on #2776
FWIW, I opted to pass the date fields through the Date pipe in Angular to display them in local time. With that, the input can either be an ISO string or a Date object. But if we test these with Date objects, technically the test input differs from the runtime input of ISO strings, even though the results look the same. So it's just a matter of being pedantic for now.

But if we haven't used pipes

[2017-06-21 14:37] stkrwork commented on #5862
I fixed up most of the template. the only problem left is that < and > get changed to &lt and &rt. after that it should compile.

[2017-06-21 14:39] wing328 commented on #5892
@TehBakker thanks for reporting the issue. What about building the JAR from the latest master instead? (we do not regularly publish a SNAPSHOT version of current master to maven repo)

[2017-06-21 14:44] wing328 commented on #4651
Closed via https://github.com/swagger-api/swagger-codegen/pull/5891

[2017-06-21 14:44] #4651 closed

[2017-06-21 14:50] TehBakker commented on #5892
Oh I could check out the project and install the jar on my local repo sure, but since there has been a few ticket and the currently deployed Snapshot doesn't work (since 1.0.27-SNAPSHOT of swagger-parser:jar is not available) I thought this warranted a new deploy. (And others have also reported the issue)

I'm probably not alone awaiting the next release (especially the new validation for java) ;)

[2017-06-21 14:59] stkrwork commented on #5862
It now generates and compiles your spec correctly. I used Visual Studio 17 for it. I did not use conan, but it should not make a major difference.

There were some issues with Syntax and not escaping some signs correctly. but that should be fixed now.

[2017-06-21 14:59] stkrwork commented on #5862
#5893 is pr

[2017-06-21 16:27] leonluocheng commented on #5779
@wing328  a new PR has been filled in to fix this issue. Please double check and let me know if you have any questions.  https://github.com/swagger-api/swagger-codegen/pull/5894

[2017-06-21 16:45] solvingJ commented on #5862
@stkrwork Can't wait to check this when i get into the office, thank you so much! @wing328 do you think you'll be able to push to docker any time soon?

[2017-06-21 19:13] gabrielbauman opened #5895 "[Java][Spring][Server] When java8 and interfaceOnly are true, generated interface default methods should return HTTP 501 Not Implemented"
##### Description

Currently when java8 and interfaceOnly are true and we're generating a java/spring server, swagger-codegen produces java8 default implementations for each API method. These implementations return 200 OK.

    default ResponseEntity<Void> doSomething() {
        // do some magic!
        return new ResponseEntity<Void>(HttpStatus.OK);
    }

It would be useful if the default impl

[2017-06-21 19:21] jason-watkins opened #5896 "[C++] Generating Restbed server stubs"
##### Description

The Overview section of the repo's readme states that the project supports generating server stubs for C++ using Restbed, but the [Server stub generator HOW-TO](https://github.com/swagger-api/swagger-codegen/wiki/Server-stub-generator-HOWTO) page, as well as the list printed by the application when an unknown language is specified, make no mention at all of Restbed.

Where can I

[2017-06-21 19:51] athishsreeram opened #5898 "No authorization headers available in generated API"
Hello,

I have my security definitions in the preamble section of my swagger.yaml like so:

securityDefinitions:
  Bearer:
    description: |
      For accessing the API a valid JWT token must be passed in all the queries in
      the 'Authorization' header.
      A valid JWT token is generated by the API and retourned as answer of a call
      to the route /login giving a valid user & password.

[2017-06-21 20:37] foxmk commented on #3812
Great! I have bunch of questions:
- If I understood correctly, we should have only one Scala client generator?
- Which project should we take as base, as they are quite different? `akka-scala` is Maven-only project with `spray-json` (now `akka-http`) and `json4s`. `scala` generator uses Jackson and Jersey as HTTP client. I assume It’s better to take `akka-scala` as base (and probably call it `scal

[2017-06-22 06:07] ackintosh commented on #5784
@baartosz @arnested @dkarlovi Please let me know what you think 🙏 ✨

[2017-06-22 08:23] baartosz commented on #5784
@ackintosh thanks for suggestion. Personally I prefer to keep clients as simple as possible as its always painful to test them properly. Feature itself looks simple to implement so I don't see any reason not to do it if others find it useful.

[2017-06-22 09:45] Uebergeek702 commented on #4805
I did something - but I don't know how to contribute....

[2017-06-22 09:49] wing328 commented on #4805
@Uebergeek702 Please refer to https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-submit-a-pr-to-fix-bugs-or-make-enhancements

[2017-06-22 09:51] wing328 commented on #5896
The C++ RestBed server stub generator was only added recently but it's not included in the previous stable release.

Please build the project locally (mvn clean install) or use the docker image to generate the C++ RestBed server stub.

[2017-06-22 09:55] wing328 commented on #5892
Sounds reasonable to me but I don't have right to publish the package to Maven repo. I'll ask Tony Tam to do so.

We planned to release 2.3.0 (a branch with breaking changes and bug fixes) by the end of May but we'd to postpone as the team is busy. We hope to release 2.3.0 by the end of July.

[2017-06-22 09:56] wing328 commented on #4640
@realzeus please try the `scala` generator in 2.3.0, which combines both `scala` and `async-scala` generator into one. Let ue know if you still experience issue.

[2017-06-22 09:56] #4640 closed

[2017-06-22 10:16] wing328 opened #5900 "[New Generator] akka-http server generator"
##### Description

As suggested by @foxmk, we want to add a [akka-http](https://github.com/akka/akka-http) server stub generator.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/3812#issuecomment-310197754

##### Suggest a Fix

If anyone wants to work on the generator or help out, please reply to let us know.

[2017-06-22 10:28] wing328 commented on #3812
Yes, that's the goal as one generator will be easier to maintain than having 3 generators doing essentially the same thing.

For the `akka-scala` generator, it's not very mature compared with the `scala` generator. in the [Petstore sample](https://github.com/swagger-api/swagger-codegen/tree/2.3.0/samples/client/petstore/akka-scala/src/main), there's no integration tests so I'm not sure if the basi

[2017-06-22 13:15] wing328 commented on #5898
@athishsreeram which generator are you referring to?

[2017-06-22 13:26] athishsreeram commented on #5898
@wing328 jaxrs-cxf we are using

[2017-06-22 14:38] wing328 commented on #5888
I'll work on this tomorrow if no one has time to pick this up.

[2017-06-22 14:42] sbko commented on #5105
@wing328 I went ahead and created the PR

[2017-06-22 14:57] glpayson opened #5902 "[JAVA] VM arguments -DapiPackage, -DmodelPackage, -DinvokerPackage not working"
##### Description

When generating Java client VM arguments ```-DapiPackage```, ```-DmodelPackage```, ```-DinvokerPackage```  are not working (or I'm not doing it right).

##### Swagger-codegen version

jar built from master

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation / Steps to reproduce

[code]

##### Output

[2017-06-22 15:01] wing328 commented on #5862
#5893 merged into master. Please give it a try.

[2017-06-22 15:05] solvingJ commented on #5862
@wing328 FYI I'm trying to get setup to build this project from source today.  I'm using windows/docker for windows and a novice with docker, so i'm just working through adjusting the scripts to work on my machine.

[2017-06-22 15:08] atbe commented on #1469
Just a quick question regarding the asp 4.5 support, was that ever merged in? I don't see the option and currently we can only generate .net core projects which is very limiting given it isn't compatible with any asp.net 4.X projects (for referencing).

@jimschubert had an example of [the pet store working](https://github.com/jimschubert/webapi-swagger-samples/tree/master/net45/src/PetStore) with

[2017-06-22 15:10] wing328 commented on #5862
If you're using Windows, you can also build the project locally by installing Maven (mvn command)

[2017-06-22 15:14] austin94 commented on #5570
I agree with @taxpon in that the naming should be `typescript-angularjs` for 1.X and `typescript-angular` for 2+.

The `--ngVersion` flag that @sebastianhaas suggested is probably the best approach for now since the Angular releases will be happening with more frequency.

[2017-06-22 17:05] jimschubert commented on #1469
@atbe We decided to include only ASP.NET Core as a server generator. This was mostly because I thought maintaining non-core would be more difficult (MVC, Web Forms, and WebAPI). Core standardizes on things like DI and tooling, and supports the inclusion of .NET Framework artifacts (see https://docs.microsoft.com/en-us/dotnet/standard/net-standard).

Would a configurable .NET Standard version allow

[2017-06-22 17:08] oshirohugo opened #5903 "Wrong path for es6 template"
##### Description

When trying to use -DuseES6 to generate javascript ES6 client, I got the following error:

[code]

##### Swagger-codegen version

jar built from master

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

`./run-in-docker.sh mvn package`

##### Steps to reproduce

`./run-in-docker.sh generate -i http:

[2017-06-22 17:30] solvingJ commented on #5862
@wing328
Was already half way down that road.  I think I just got it working.

[2017-06-22 17:30] solvingJ commented on #5862
@stkrwork
Good news, down to 4 errors, and they might be my problems.

[code]

[2017-06-22 18:26] wing328 opened #5905 "[New Generator] Rust API client generator"
##### Description

We want to generate Rust API client so that Rust programmers can consume REST APIs more easily with Rust.

cc @frol

##### Swagger-codegen version

Latest master

##### Suggest a Fix

If anyone wants to contribute the generator or help out, please reply to let us know.

(You don't need to know Java in order to contribute the generator)

[2017-06-22 18:28] wing328 commented on #5903
@oshirohugo Thanks for the fix. The CI should have caught it but it didn't due to a typo in the shell script for generating JS Petstore client (ES6). I'll fix that in another PR.

[2017-06-22 19:10] frol commented on #5105
Given the information about 1xx codes from [RFC 7231 section 6.2](https://tools.ietf.org/html/rfc7231#section-6.2):

, the 1xx should not be used as API response codes, they might be transparently handled on the HTTP library level not even reaching the user code. Thus, Codegen should not make any assumptions on 1xx responses.

Extending the range of 2xx responses is, indeed, the right way to do.

[2017-06-22 19:48] stkrwork commented on #5862
I let it run through again, and it looks fine to me. there seems to be no build errors when i compile it.

[2017-06-22 20:13] solvingJ commented on #5862
Is there any difference with my ModelBase.cpp (visible here);
https://github.com/solvingJ/azure-iothub-sdk-cpprest/tree/6-22-17_strkwork_says_working

If you look at my errors, do you have any idea what would cause them?

[code]

[2017-06-22 20:43] solvingJ commented on #5862
I think i found the issue:

https://stackoverflow.com/questions/31264974/no-suitable-user-defined-conversion-from-utilitystring-t-to-stdstring

[2017-06-22 21:23] stkrwork commented on #5862
utility::string_t is nothing else but a std::string.

I ran your code from your repo as well, and there were no errors for me when i used it with Visual Studio 15. I included cpprestsdk and boost with the NuGet package manager in this case.

[2017-06-22 21:24] stkrwork commented on #5862
What do you use when building it?

[2017-06-22 21:56] solvingJ commented on #5862
Msbuild "Visual Studio 15 2017 Win64"

[2017-06-22 22:11] stkrwork commented on #5862
Ok. Thats quite similar to my setup right now.

Are you using the latest version of boost and cpprestsdk?

[2017-06-22 23:11] solvingJ commented on #5862
I'm on Boost 1.5.9.  I'll try upgrading when I get home.

I don't know if any of the following is relevant, but here's what I found:

The following weird statements print in the msbuild log, but don't seem to be errors. I googled, which indicated it might be related to boost.
[code]

The two main issues are lines 292 and 297, which I can easily fix by replacing `utival.as_string()` with `utility::

[2017-06-23 00:43] JudeAlquiza opened #5906 "Automatically generate client side angular 2 - typescript codes when building ASP.NET Core WebAPI Projects"
Hi

     Just want to ask if it is possible to automatically generate client side angular 2 - typescript  codes when building/running ASP.NET Core WebAPI projects.

     What I mean is instead of manually navigating to the endpoint that has the swagger json spec, copying and pasting it in code-gen and downloading the generated codes, is it possible to automatically generate them when building/runn

[2017-06-23 00:59] jimschubert commented on #5848
@HappyTreesDev do you have an example of how you've modified generated code? It could potentially be an easy pickup.

[2017-06-23 03:31] #5105 closed

[2017-06-23 04:07] jamieathans commented on #2776
@dinvlad I like Swagger `date-time` translating to typescript compound type `string | Date` and  would be an easy fix.

It would also be easy to write mapping utility functions:

`function toDate(dateOrString: string | Date): Date;`

`function toISODateString(dateOrString: string | Date): string;`

[2017-06-23 09:12] cod3hulk opened #5908 "Feature request: Don't make Api an inner interface of ApiClient for feign"
##### Description

If you only want to have minimal dependencies for your project by disabling `generateSupportingFiles` this is currently not really possible due to the internal `Api` interface included in the `ApiClient` which is used for generating the Feign Client interfaces as extension.

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Suggest a Fix

Either remove the entire `Api` interf

[2017-06-23 09:22] wing328 opened #5909 "[2.3.0] Set ES6 as the default for JS generator"
##### Description

Currently, both master and 2.3.0 are using ES5 as the default for JS generator (useES6=false)

In 2.3.0, we want to set ES6 as the default while keeping ES5 as the default in "master".

##### Swagger-codegen version

2.3.0

If anyone does *not* want to change the default in 2.3.0, please reply to let us know.

cc @frol @CodeNinjai @dinukadesilva

[2017-06-23 09:38] wing328 commented on #5888
Filed #5907 to fix it.

[2017-06-23 09:49] frol commented on #5909
@wing328 NO, it is [ES**6** by default now (`USE_ES6=true`)](https://github.com/swagger-api/swagger-codegen/blob/69ce9213719e1b804fbfdf7189d20c257280d201/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientCodegen.java#L198-L200), and this was the point of my #5888. I consider this default as a BREAKING CHANGE for JavaScript generator since using the same configurati

[2017-06-23 10:02] wing328 commented on #5909
@frol I think I understand what the confusion was (because I've sync'd the change from master to 2.3.0 and the fix to restore ES5 as default will be sync'd to 2.3.0)

To make it simpler, we'll have the following:
master - default to ES5
2.3.0 - default to ES6

OK with everyone?

[2017-06-23 10:08] frol commented on #5909
OK with me.

[2017-06-23 10:12] rubms opened #5910 "[NANCYFX] Enum models are generated as empty classes with compilation errors"
##### Description

Type definitions declared as enum are generated as general c# classes, without the enumeration values, and with compilation errors.

##### Swagger-codegen version

The error is reproduced in Swagger-codegen v2.2.2

##### Swagger declaration file content or url

The bug can be reproduced with a swagger specification containing a definition like this one:
[code]
The generation of

[2017-06-23 10:47] marcorinck commented on #3221
@dinvlad I'm using the current 2.3.0-SNAPSHOT version and the generated typescript-angular2 code looks much better than the current stable 2.2.2. Thanks for the hard work!

The problem though that I have is that I can't change the basePath during runtime of the app because every service is setting it in a local (protected) member variable during construction like this:

[code]

Because of this the

[2017-06-23 10:58] CodeNinjai commented on #5909
Fine for me of too.

Am 23.06.2017 um 12:08 schrieb Vlad Frolov <notifications@github.com<mailto:notifications@github.com>>:

To make it simpler, we'll have the following:
master - default to ES5
2.3.0 - default to ES6

OK with me.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/swagger-api/swagger-codegen/issues/5909#issueco

[2017-06-23 11:35] sebastianhaas commented on #3221
@marcorinck I don't really see why you would want to change the URL an Angular REST service is pointing to at runtime. I also don't quite get your concerns re inconsistent behavior. It's just an offer, you don't have to or shouldn't use both ways to set the base path.

The OpaqueToken/InjectionToken is pretty much best practice I guess. This way, Angular's DI system takes care of providing the pro

[2017-06-23 11:55] marcorinck commented on #3221
@sebastianhaas To set the base path upon bootstrapping of the angular app when services are created I need to have the value already on hand but this isn't the case when you have different environments like dev, qa and prod. In angular-cli you have the environment files which are overwritten on-the-fly during build, so you can import the dev environment in your code but change this with a simple b

[2017-06-23 12:03] sebastianhaas commented on #3221
https://webpack.js.org/plugins/define-plugin/ is what you want. I've posted a link to the famous Angularclass startup repository as well as a little project of mine where I am actively using this swagger codegen in combination with Webpack and Angular.

That is not what I wanted to say. I wanted to point out that I don't share your concerns regarding inconsistencies, since you're not supposed to u

[2017-06-23 12:25] marcorinck commented on #3221
Maybe I don't make myself clear enough. Lets try again, shall we?

The generator produces this code in api.module.ts:

`    public static forConfig(configurationFactory: () => Configuration): ModuleWithProviders {
        return {
            ngModule: ApiModule,
            providers: [ {provide: Configuration, useFactory: configurationFactory}]
        }
    }
`
You call this in the "imports" ar

[2017-06-23 13:10] pablobm commented on #5854
@wing328 That is correct.

I just tried latest master, but the issue persists.

[2017-06-23 13:57] wingsofovnia opened #5914 "[JAVA] Enum character escaping bug"
##### Description

Java Enum Codegen escapes both + (plus) and - (minus) with "_". In some cases, it can cause duplicated Enum names that are prohibited by JLS.

##### Swagger-codegen version

Online Editor

##### Swagger declaration file content or url

[code]

Results in:
[code]

##### Suggest a Fix
Replace + with PLUS and - with MINUS

[2017-06-23 14:09] #5888 closed

[2017-06-23 17:29] kevin-lot commented on #5845
-t ./generator/templates/javascript-es6 is the path of my own template.

When I **put** "us6=true" in command, generics template from codegen are used.
When I **don't put** "us6=true" in command , my own templates are used.

My templates work with isomorphicFetch and are completely rewrote.

[2017-06-23 17:34] dinvlad commented on #3221
Question is, why do you need to change basePath at runtime? Do you serve API from several hosts? If the only reason is to use different values for different environments, then as @sebastianhaas already mentioned, you can (should) use either DefinePlugin or EnvironmentPlugin for Webpack. Then in your code, just use `process.env.API_PATH` or something similar, and pass the necessary value through a

[2017-06-23 17:49] Rajmohan opened #5916 "[Java] Empty Schema definition results in 'Cannot find Symbol' javac error"
##### Description
An empty schema definition  is associated with a body parameter type for a PUT operation (which also has other query params).  The intent of this empty type is as a placeholder for future use.
This usage of  empty schema definition results in an javac 'Cannot find symbol ... ' error in the generated code.

Also please note that, this swagger is provided to us by an external user

[2017-06-23 20:56] tuxbotix opened #5918 "[codegen-all] XML Object schema not parsed?"
##### Description

I implemented a couple of schemas based on XML object attributes to wrap these objects, etc.
Unfortunately only swagger-ui and handful of example generators did read and use these values, I failed to see directly working code (with or without xml serializing).

##### Swagger-codegen version

Current stable and master both have this issue.

##### Swagger declaration file content

[2017-06-23 21:17] stkrwork opened #5919 "[CPP] [Restbed] Improvement ideas"
- [ ] Fix class names for resources
- [ ] Parsing to/from json for maps

Just some ideas I have for the restbed generator. Will try to look into those very soon.

[2017-06-23 21:40] solvingJ commented on #5862
So, found I had uninstalled VS 2015.. guess that was obvious.  I re-installed, and sure enough the library builds fine under 2015.  Thank you so much!

I'm curious what this means for support on VS2017.  Should the template be modified so that it works under 2017?

[2017-06-23 21:44] stkrwork commented on #5862
i built it with visual studio 2017 as well, directly in the IDE, and it built fine there as well.

[2017-06-23 21:55] JHibbard commented on #2305
Binary file responses are also being parsed as utf-8, causing errors.  Does anyone know a temporary workaround for this?

    schema:
        type: file
        format: binary

[2017-06-23 22:58] ePaul commented on #5902
Hmm, interresting.
If you put those arguments after the `generate` command, it works:

[code]
I'm not really sure why the first way doesn't work.

I added this syntax recently in #5191, previously you would have to use `-DinvokerPackage=com.mycompany.foo,modelPackage=com.mycompany.foo.model,apiPackage=com.mycompany.foo.api`, but that should not have changed anything about using the real system pro

[2017-06-23 23:35] solvingJ commented on #5862
Must have to do with the versions of CPPRest and/or Conan I'm using.  Thanks for helping me figure this out, and fixing the code.

[2017-06-23 23:38] TehBakker commented on #5892
Alright thanks, care to warn me here when it's done?
Cheers

[2017-06-24 02:15] clasnake commented on #3812
@foxmk Thanks very much. In terms of serialization library, spray-json is very convenient to use for normal types, but it's quite an opinionated library so I don't mind if you choose other libraries such as jackson if that's easy to deal with from the mustache template design point of view.

[2017-06-24 03:59] ackintosh commented on #5784
@baartosz Thanks for your comment ! I will make a pull request for now :)

[2017-06-24 08:44] dkarlovi commented on #5784
@ackintosh sorry about the delay.

I'm for that, generated code should be easily re-generated without nullifying your local additions. Seeing as doing that with only one class would require this tool to have knowledge of PHP AST, separate classes are a logical alternative. :+1:

[2017-06-24 11:52] stkrwork commented on #5862
No problem

[2017-06-24 14:02] wing328 commented on #3221
For other clients (e.g ruby, php, C#), we allow changing the basePath during runtime in the configuration object/class. One common use case is for testing in QA, e.g changing basePath from https://api.words.com/v1 to https://api-qa.words.com/v1 or https://localhost:8080/v1 for development.

[2017-06-25 01:14] dinvlad commented on #3221
Ok, if basePath changes from one test to another than of course, that helps.

[2017-06-25 15:14] foxmk commented on #3812
@clasnake Yes, I would agree that `spay-json` can be tricky in codegen.

I've started digging down into code generation process and I have more questions:
- There is still `async-scala` generator and example code for it. Should I just ignore it? Or remove?
- As I understood, tests for API examples are written manually, am I right? I found no templates for them.
- The whole chain of call from API c

[2017-06-25 19:34] wing328 commented on #3812
I'll remove it later from 2.3.0

Yes, for other langauges like C#, Ruby, Java, we've added auto-generated test cases and we can implement it later for Scala as a day 2 requirement.

That's the current design. Using Java as an example, here is how the request works:

addPet (in PetApi.java) => ApiClient.java => HTTP libraries (e.g. Jersey, Jersey2.x, Retrofit, Retrofit2, Feign, etc) => HTTP request

[2017-06-26 00:32] felixvolz commented on #5721
I re

[2017-06-26 00:32] #5721 closed

[2017-06-26 00:37] felixvolz opened #5924 "[Java, Maven] swagger-codegen-maven-plugin, how invoke build without cleaning existing folders Issue: Bug"
##### Description
I have the following swagger-codegen-maven-plugin.

How do I run this plugin so it DOES NOT blow away existing output in this folder (i.e. implement flag cleanOutputDir in org.codehaus.mojo jaxb2-maven-plugin)
`
<plugin>
				<groupId>io.swagger</groupId>
				<artifactId>swagger-codegen-maven-plugin</artifactId>
				<version>2.2.2</version>
				<executions>
					<execution>

[2017-06-26 06:58] guocongwudi commented on #5316
+1

[2017-06-26 07:07] wing328 commented on #5316
Will take another look later today...

[2017-06-26 07:11] wing328 commented on #5316
Pulling the latest and the followings run fine:
[code]
Here is the result:
[code]

[2017-06-26 07:16] wing328 commented on #5909
Closed via #5915

[2017-06-26 07:16] #5909 closed

[2017-06-26 07:45] wing328 commented on #5862
@solvingJ @stkrwork when you've time I wonder if you guys can share the steps for installation and usage of the `cpprest` API client. We want to put that into a auto-generated README (similar to what we've done for other languages)

[2017-06-26 08:00] marcorinck commented on #3221
I have a problem with the question: "Why do you want to change the basePath?" because it basically means: "Why do you want to use code we generated for you?"

For every line of code there needs to be a reason why it exists and what purpose it serves. So like in a code review I would like to ask this question: Why can I set the basePath in 3 different ways?

1. the host/basePath value of the spec f

[2017-06-26 08:26] sebastianhaas commented on #3221
Because this is a codegen, so I feel like it is perfectly valid to offer multiple ways to use the generated API client. You don't have to use all of them.

Which basically is what is happening if you're using the InjectionToken.

What you want breaks Angular's DI concept. If you need a service with a different configuration go ahead and request a new one with the desired configuration from the DI

[2017-06-26 08:43] wing328 opened #5925 "[Java][RESTEasy] Gradle build failed while maven build succeeded"
##### Description

Gradle build failed for Java RESTEasy Petstore sample while `mvn test` works fine. Here are the steps to repeat it:
[code]

`sbt test` also failed.

##### Swagger-codegen version

Latest master.

##### Suggest a Fix

If anyone wants to work on this issue, please reply to let us know and I can show you some good starting points.

[2017-06-26 10:41] wing328 commented on #5919
Added one more about auto-generated README: https://github.com/swagger-api/swagger-codegen/issues/5862#issuecomment-310986589

[2017-06-26 12:31] carmenlara opened #5927 "Why has my GetAll() Method as return value void?"
Hi there

I have a swagger web service with one method, which ist GetAll(). I changed the name of the web server and then I added the REST API to my client. My Problem ist that I do not receive anymore my data. The GetAll() method has as return value void and I don't know why.
Can anybody help me?

Here my code:
`           using (GrillAssessmentWebService service = new GrillAssessmentWebService(n

[2017-06-26 12:56] solvingJ commented on #5862
Adding this to my todo list.

[2017-06-26 13:59] wing328 commented on #5845
@kevin-lot I did fix some minor issues with the Javascript generator and would suggest you to pull the latest master to see if you're still experiencing the same issue.

[2017-06-26 13:59] wing328 commented on #5467
Thanks for the contribution from @erdarun

Closing this issue.

[2017-06-26 13:59] #5467 closed

[2017-06-26 14:15] #5927 closed

[2017-06-26 14:17] wing328 opened #5928 "[JavaScript][ES6] The Petstore integration tests failed"
##### Description

The Petstore integration tests for JS ES6 failed
[code]

##### Swagger-codegen version

Latest master.

##### Steps to reproduce

To repeat the issue for `javascript-promise-es6`
[code]

To repeat the issue for `javascript-es6`
[code]

##### Suggest a Fix

If anyone wants to work on the issue, please reply to let us know.

[2017-06-26 15:37] HappyTreesDev commented on #5848
@jimschubert I do not have a good example. The modified code I made is not elegant in any way and involves being tightly bound to my xamarin pcl. I think it is not the right approach for implementing the solution, but as I think more I will figure out a way to update it.

[2017-06-26 16:15] CodeNinjai commented on #5928
I'll have a look on this.

[2017-06-26 16:56] cartick commented on #5643
+1

[2017-06-26 18:14] theindexer commented on #3483
I just pulled and rebuilt (mvn clean package), then used swagger-codegen-cli to regenerate my java.
While the useless model class doesn't exist, the code still uses it as if it did (including an import!)

Maybe I need to do something to make sure swagger-parser is up to date? I have no idea how that's getting pulled in or anything.

[2017-06-26 19:22] jgavris commented on #5812
I haven't actually worked with inheritance schemas yet. I'd ask the author @RobertBiehl (https://github.com/swagger-api/swagger-codegen/pull/4052)

[2017-06-26 21:20] #5753 closed

[2017-06-27 00:23] rvbiljouw commented on #5612
@davidgri did you ever figure out what caused this?

[2017-06-27 00:40] arketec opened #5930 "Headers do not appear in static html documentation"
##### Description
StaticHtmlGenerator does not include custom header definitions. I have an endpoint that may pass a token in a custom header 'x-access-token' or as a query parameter 'token'

In the swagger.yaml file:

[code]

This works in the swagger editor, as well as through an HTTP client (like SOAP UI)

However, when I generate the static HTML docs, the header section is blank.

##### Swagge

[2017-06-27 03:56] wing328 commented on #5930
@noahm888 please try the latest master as the issue might have been addressed.

[2017-06-27 07:48] npomfret opened #5931 "nullpointexception caused by in: body"
Using this command:

    swagger-codegen generate -i https://raw.githubusercontent.com/npomfret/coinsbank-php-sdk/master/reference/coinsbank-sapi.json -l spring -o .

I'm getting a NPE here:

    "/card/name/_{cardUniqueId}": {
      "put": {
        "description": "Set user-defined card name",
        "parameters": [
          {
            "name": "cardUniqueId",
            "in": "path",

[2017-06-27 08:02] npomfret commented on #5931
Another (simpler) example:

    "/user/profile/currency": {
      "put": {
        "description": "Set user base currency",
        "parameters": [
          {
            "name": "currency",
            "in": "body",
            "description": "Base curency",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "de

[2017-06-27 08:05] davidgri commented on #5612
I have integrated swagger-codegen 2.2.2 into my build pipeline and the models were generated as expected. However generating through the online-Editor still results in Inline models.  I don't know wether the online generator is using another version of swagger-codegen.

[2017-06-27 08:54] a-en commented on #1374
Could someone confirm that `collectionFormat` is ignored for `formData` in generated java client now? Is there any workaround available?

[2017-06-27 09:21] acostros opened #5932 "[JAVA] Bug generating enum values"
##### Description
Generating a java client that has enums where the values have a common prefix will lead to generated enums having the common prefix striped off.

We make extensive use of enums to show various configuration values. This bug removes he meaning from the enum names and makes the generated clients inconsistent with the API.

i.e.
ON_STARTUP gets replaced with STARTUP ,
ON_SHUTDOWN ge

[2017-06-27 13:58] rompic commented on #5745
same question here :)

[2017-06-27 14:23] wing328 commented on #5745
We hope to release by the end of July, 2017

[2017-06-27 14:31] wing328 commented on #5841
FYI. Python, JS are following the same convention as PHP.

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/configuration.py#L48

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/ApiClient.js#L52

I think your suggestion is more similar to the Ruby approach: https://github.com/swagger-api/swagger

[2017-06-27 14:33] TehBakker commented on #5892
Hey there,

No luck on getting the repo updated ?

[2017-06-27 14:42] fehguy commented on #5892
I'll deploy the latest snapshot which is using release versions where possible.  You should try to do the same...

[2017-06-27 15:44] wing328 commented on #3483
@theindexer can you please provide a spec to reproduce the issue?

[2017-06-27 15:48] wing328 commented on #2305
@JHibbard What about simply model the response as just `type: file` without `format: binary`?

[2017-06-27 16:49] wing328 commented on #5760
@stkrwork I would suggest we merge it into master so as to gather feedback from the community. Then we can create a list of tasks for enhancements (similar to what you've done for c++ RestBed recently)

[2017-06-27 17:03] wing328 commented on #5521
@tbe just want to let you know that we target to release 2.3.0 by the end of July (postponed from end of May earlier)

If the refactor is ready, we'll include it in the 2.3.0 release. (this is not to say we must include the refactored Qt5 c++ client in the 2.3.0 release so please take your time with the factoring and let us know if there's anything we can help)

[2017-06-27 17:07] se7vanj commented on #5612
Same issue exists for .NET (Client 2.0 & Server .NET Core) generation - PFB

06/27/2017  12:40 PM             1,963 ApiResponseStatus.cs
06/27/2017  12:40 PM            10,224 Driver.cs
06/27/2017  12:40 PM            10,226 Driver1.cs
06/27/2017  12:40 PM               889 Drivers.cs
06/27/2017  12:40 PM             3,169 DriversAddress.cs
06/27/2017  12:40 PM            10,246 InlineResponse200.

[2017-06-27 17:12] yonpols commented on #5611
@wing328 I believe this PR https://github.com/swagger-api/swagger-codegen/pull/5715 introduced another issue. The name of the type used in the docs and examples is changed so that if a model is named `V1TheModel` it will be documented as `v1TheModel`.

I believe the change to fix this is:
[code]

Please let me know if this makes sense to you and I'll submit a change. (PS this is true not only for

[2017-06-27 17:22] wing328 commented on #5611
Please open a PR so that we can more easily review the change.

On Jun 28, 2017 1:12 AM, "Juan Pablo Marzetti" <notifications@github.com>
wrote:

[2017-06-27 17:33] rvbiljouw commented on #5612
Came to the same conclusion as @davidgri - looks like codegen 2.2.2 works fine...

[2017-06-27 17:36] fehguy commented on #5612
Would like more details--specifically the spec file you used.

[2017-06-27 17:36] stkrwork commented on #5760
Yes, I agree. I'll put up the todo list as soon as its merged in.

[2017-06-27 18:58] stkrwork opened #5936 "[CONFIG] [APACHE] Ideas for Improvement"
- [ ] More cli options for enabling generation for cgi for example
  - [ ] Setting log file path
  - [ ] Allow other authentication methods (digest/OAuth/LDAP)
- [ ] Add VirtualHost tags
- [ ] Add server name parameter

These are just some of my ideas for it.

[2017-06-27 18:59] stkrwork commented on #5760
#5936 for the todo list

[2017-06-28 05:59] toumorokoshi opened #5939 "Asyncio-based Python Client"
##### Description

I'm interested in adding code into the existing python client to a native asyncio client for swagger.

https://docs.python.org/3/library/asyncio.html

Does this already exist? Or should I talk to anyone before attempting this?

My General approach was going to be:

1. create an ApiClientBase class to share common components between async and sync
2. modify ApiClient to use ApiCl

[2017-06-28 07:03] masterandrey commented on #5939
No, I could not use swagger client in async mode.

[2017-06-28 07:33] wing328 commented on #5760
Closed via #5800

We'll continue the discussion for enhancements in #5936

[2017-06-28 07:33] #5760 closed

[2017-06-28 08:21] wing328 commented on #5939
Have you tried making the async call by providing the `callback` (optional) parameter? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/apis/pet_api.py#L159

[2017-06-28 09:14] wing328 commented on #5862
@solvingJ thanks. I'll close this issue, which has been resolved, and open a new one for tracking instead.

[2017-06-28 09:14] #5862 closed

[2017-06-28 09:20] wing328 commented on #5908
@cod3hulk can you please elaborate a bit more on the minimal dependencies? What do you want to achieve? Would generating `feign` client with the `-t` option using customized templates meet your requirement?

[2017-06-28 09:40] cbornet commented on #5908
That interface looks useless to me. It should be removed.

[2017-06-28 09:45] wing328 commented on #5908
cc @bbdouglas who has been doing a lot of works with the Java Feign generator.

[2017-06-28 10:38] jtnystrom commented on #4976
@wing328 Thanks for the update and sorry for my slowness - I will try to get around to submitting against the 2.3.0 branch soon.

[2017-06-28 14:22] anschwa commented on #4000
Has there been any update on this? I'm in the process of trying to integrate `requests_oauthlib` into the python client but don't see an easy way of doing it.

[2017-06-28 14:31] frol commented on #4000
@anschwa There is a hacky implementation for OAuth2 Client Credentials Flow in @khorolets's fork (`oauth2_support` branch): https://github.com/khorolets/swagger-codegen/tree/oauth2_support. @khorolets and I were using it for quite a long time now, but I wish to implement it in a less hacky way and PR to upstream.

Also, after a year of dealing with various OAuth2 flows, it seems to me that `reques

[2017-06-28 14:53] wing328 commented on #5916
@Rajmohan What does the empty object definition representation? Is that an arbitrary JSON?

[2017-06-28 15:57] anschwa commented on #4000
@frol Thanks, I'll check it out.

I agree with you there, (un)fortunately OAuth1 needs to sign every request so `oauthlib` seems to be the only viable option.

[2017-06-28 15:59] kevin-lot commented on #5845
@wing328
OK, you did something.

With the latest branch 2.30, pulled at june 28, 2017

Now, with or without the additionnal parameter "useES6", generic template from codegen are used. The "-t" parameter are completely ignored.

[2017-06-28 16:08] wing328 commented on #5845
I'll look into the issue with the `-t` parameter support for JS generator tomorrow.

If you run `bin\windows\javascript-petstore.bat` on Windows or `./bin/javascript-petstore.sh` (Mac/Linux), do you see any code changes in the JS ES5 Petstore samples?

[2017-06-28 16:43] Rajmohan commented on #5916
@wing328 yes, it's an empty object definition representation i.e.,

[code]
Some swaggers have these definition objects with empty schemas(with only description fields), used as place-holders for future use.

[2017-06-28 17:44] wing328 commented on #5916
So the PUT operation does not have any parameter (query, body, header, form) at the moment and you just put a body parameter there (with empty definition) as a placeholder for future use, right?

I wouldn't suggest you to document your API this way as currently the PUT operation does not have any parameter. You can use vendor extensions (e.g. x-parameter-placeholder) to document it instead.

[2017-06-28 18:21] noahm888 commented on #5930
@wing328  I have the latest master, but the problem persists when using 'html' as the lanq option. However, looking through the source, I found a second html generator called 'html2'. It uses a different template, but it does include the custom headers in the generation. So, I will use this as a work-around.

[2017-06-28 21:47] felimartina commented on #5612
What is the best way to define Responses for the generator to work properly?

[2017-06-28 23:04] se7vanj commented on #5612
@fehguy Please find below the spec and corresponding output

## **Model Definition:**
  "definitions": {
    "Driver": {
      "type": "object",
      "description": "A representation of a Driver. \n- Specify policyID when exists",
      "required": [
        "lastName"
      ],
      "properties": {
        "driverId": {
          "type": "string",
          "readOnly": true,
          "format":

[2017-06-29 03:50] wing328 commented on #5612
@felimartina I would suggest you defining the model in a separate section ([example](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L573)) and reference it in the response/parameter/property ([example](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L177)

[2017-06-29 03:52] wing328 commented on #5930
@noahm888 thanks for using the latest master to confirm it's still an issue.

We'll mark this as an issue and see if anyone from the community has time to contribute a fix.

[2017-06-29 04:01] wing328 commented on #5876
@manuc66 there's another PR (https://github.com/swagger-api/swagger-codegen/pull/5884) to add map (additonalProperties) for C++ cpprest API client. Would that help serve as a good starting point?

[2017-06-29 04:04] wing328 commented on #5892
https://github.com/swagger-api/swagger-codegen/pull/5934 has been merged into master.

@TehBakker can you give it another try?

[2017-06-29 05:23] #5863 closed

[2017-06-29 06:49] wing328 commented on #5931
@npomfret there were errors when using https://editor.swagger.io to load https://raw.githubusercontent.com/npomfret/coinsbank-php-sdk/master/reference/coinsbank-sapi.json. Please review your spec and fix accordingly.

[2017-06-29 12:34] m-y-mo opened #5949 "Various variable name escape issues"
##### Description

Using the code search engine in, lgtm.com various toVarName or toParamName methods does not seem to have properly escaped special characters:

https://lgtm.com/query/2023430003/project:12070014/lang:java/

The above shows methods toVarName and toParamName that do not call sanitizeName. Not all of these are problematic, as special characters may have been escaped in another way,

[2017-06-29 13:00] TehBakker commented on #5892
Thank you, the repository has been updated and the build now works fine.

[2017-06-29 13:36] #5892 closed

[2017-06-29 13:50] TehBakker opened #5950 "[JAVA] Enum mapping make wrong value as null instead of throwing an exception"
##### Description

Short : If I've a value that does not match my enum, the JsonCreator of the enum make it null, where I would want it to throw a validation exception.
This is following #1919 changes

##### Swagger-codegen version

2.2.3-SNAPSHOT

##### Swagger declaration file content or url

[code]

The generated code is
[code]

##### Related issues

#1919

##### Suggest a Fix

What I would lik

[2017-06-29 15:49] lightbow commented on #5543
convertBoolToString also breaks my app. I don't understand its history or purpose, but if I just remove that function entirely in my sandbox, everything works.

[2017-06-29 16:13] TehBakker opened #5953 "[JAVA] Maven plugin, is it possible to generate only certain path and the associated object ?"
##### Description

Hey,

I was wondering if there is anyway in the pom.xml to configurate so that when generating the Client, it wil only generates some path and models and not the unused path ?

This is more a question as I failed to find info on the matter, I saw that you can choose to generate API or MODEL but not sure if possible to cherry pick in those.

##### Swagger-codegen version

2.2.3-S

[2017-06-29 19:44] bbdouglas commented on #5908
I agree that class looks superfluous, especially since it's empty. I'm guessing it was added for future-compatibility's sake, in case someone wanted to add methods in the future that all Feign api's support, such as setting timeouts. But that's just a guess. I don't see much use for it, and I don't see why anyone would directly reference that inner interface since it's empty.

It looks safe to del

[2017-06-29 20:06] noahm888 commented on #5930
Awesome, thanks!

[2017-06-29 20:06] noahm888 commented on #5930
Accidentally closed :)

[2017-06-29 21:14] Randgalt opened #5954 "Port "java8" option to 2.3.0"
##### Description

This ports #5863 to the 2.3.0 branch

##### Swagger-codegen version

2.3.0

[2017-06-30 03:39] srinivas795 opened #5957 "Spring Custom Controller name while generating the code"
##### Description

I am trying to generate the server side code using Swagger Editor V 2.10.3. I have specified path in my yaml as countries/{countryName}/states.
When i generate the server code for Spring, it is giving me as the CountryApi and CountryApiController. I would prefer to have it in StateApi and StateAPIController. Is there a way i can have custom controller name while generating the s

[2017-06-30 04:11] toumorokoshi commented on #5939
@wing328 that does indeed spawn a thread and call a callback, which is a form of asynchronous programming, but I was referring to the python3 asyncio. It is possible to integrate synchronous http libraries into asyncio via the future module (https://pymotw.com/3/asyncio/executors.html), but it still requires native threads to execute, which is undesirable due to limitations of system-thread based

[2017-06-30 07:34] magictortoise opened #5958 "[JAVA-RESTEASY] generated codes with serializableModel=true classes have no servialVersionId"
Hi, I'm trying to generate an API with swagger-codegen-maven-plugin and set `serializableModel=true`

[code]

The generated code doesn't include
`private static final long serialVersionUID = 1L`

Please refer to [#4311](https://github.com/swagger-api/swagger-codegen/pull/4311)

Fix should be made in modules/swagger-codegen/src/main/resources/JavaJaxRS/resteasy/pojo.mustache

[2017-06-30 08:35] wing328 commented on #5939
@toumorokoshi thanks for providing more info.

Shall we use a HTTP lib that supports Python3 asyncio? What about [aiohttp](https://github.com/aio-libs/aiohttp)? I've not tried it myself but based on the example it looks like it may be suitable for our use case.

Other languages such as Java supports more than 1 HTTP library via a `library` option.  This is possible by making "ApiClient" swappable

[2017-06-30 08:50] brundipub commented on #5410
I face the same issue, here is the workaround.
 Copy [dependencies from the generated pom.xml in target/generated-sources/swagger/pom.xml + 2 others identified manually by imports in the code] into your pom.xml:

[code]

[2017-06-30 09:20] frol commented on #5939
asyncio (and aiohttp in particular) would be a neat feature to have! I would, however, not bother with Python <3.5 support. If one needs the older Python versions support, there will be a "classic" [synchronous] generator mode, thus the clients provider would publish two clients (client-classic, client-asyncio).

[2017-06-30 09:37] CodeNinjai commented on #5928
Concerns
[https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/es6/partial_model_generic.mustache](url)
Line 22

Actually for this certain issue I suggest to change

[code]

into

[code]

I think babeljs will complain reinitializing _this_ in the constructor due to immutability.

[code]

What do you think?

[2017-06-30 09:52] wing328 commented on #5939
Just to share a bit more. For JS, we recently introduced the "useES6" option to allow JS generator output codes that are no longer compatible with ES5.

For Python Flask generator, there's the option "supportPython2" to make the output compatible with Python 2.x

For `asyncio`, we can introduce similar option. (e.g. supportPython2 with default value "true". When set to false, it will generate code

[2017-06-30 09:54] wing328 commented on #5928
cc @frol

[2017-06-30 10:10] frol commented on #5939
Well, asyncio is still not as widely applied to make it the default for Python 3.5. Synchronous APIs and even APIs with callbacks are still easier to understand and implement than asyncio in Python. If your project is not written in asyncio, than the API calls would look like this:

[code]

[2017-06-30 10:17] wing328 commented on #5957
@srinivas795 likely those endpoints in your spec are tagged with "country" or "Country". To customize it, you will need to change the name of the `tags` to "State"

Here is an example of `tags`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L32

[2017-06-30 10:49] frol commented on #5928
This looks like a bad design in the first place... replacing `this` doesn't sound like a wise idea. I am not sure what this code does, but it seems to be a hacky implementation of a "factory" pattern. At the very least, it seems that instead of doing reassignment of `this` (`this = new Array()`), it can use a local variable and return it insead of `this`:

[code]

[2017-06-30 11:30] CodeNinjai commented on #5928
@wing328 @frol
I completly agree with that, but not knowing the completly context of `this` let me be a bit careful as polymorphic effects dont leap out rightoff.

[2017-06-30 11:31] cod3hulk commented on #5908
@bbdouglas sounds good, would be great if we could get rid of this interface.

@wing328 We have to add the following dependencies in our project, which are needed by the ApiClient:
* org.apache.oltu.oauth2:org.apache.oltu.oauth2.client
* com.fasterxml.jackson.datatype:jackson-datatype-joda
* io.github.openfeign.form:feign-form
* io.github.openfeign:feign-slf4j
* io.github.openfeign:feign-jackson

[2017-06-30 11:32] CodeNinjai commented on #5928
@wing328 @frol
Guys we have other issues on ES6 as well. Shall we discuss them right here too?

[2017-06-30 11:36] frol commented on #5928
@CodeNinjai If you can describe them in separate issues, that would be great since that will make things easier to work on. (Please, CC me if necessary since I don't watch all the issues on the project)

[2017-06-30 11:38] CodeNinjai commented on #5928
[code]

This is the complete snippt of AnimalFarm.js

I do not fully understand the reason why this must be an array type.

[2017-06-30 11:55] wing328 commented on #5928
cc @dinukadesilva who contributed the ES6 templates for JS

[2017-06-30 12:08] fonix232 opened #5961 "Model with inheritance recognized as interface"
##### Description

Using our custom generator based on the ASP.NET Core server generator, a single model ends up as `interface` instead of `parent` on models that inherit from it. All our other inheritances work perfectly. Format matches 100%, and renaming the fields (obviously we do not use the name `Dummy` in our project) does not help either.

##### Swagger-codegen version

2.2.1, 2.2.2

#####

[2017-06-30 16:04] toumorokoshi commented on #5939
I'd like to clarify my approach, because I think these are all valid concerns.

I'd like to create a new module for async based apis:

[code]

- This module will only work for Python3.4+ (async was introduced in 3.4 with older syntax that I can use)
- It does not modify the old API code, instead sharing components and create a separate AsyncClient and api class.
- no breaking changes, only additio

[2017-06-30 16:15] srinivas795 commented on #5957
a) I have updated the tags to State. it is still generating the code as CountryController.
b) I have moved the Countries to the base path. and had /{countryName}/states as the method path.
        With this approach it is generating the code with CountryNameController.

Can you please suggest, how we can get this working

[2017-06-30 16:40] wing328 commented on #5957
a) have you tried generating the code in a different folder? (some files will *not* be overwritten when regenerating the code)

[2017-06-30 17:32] wing328 commented on #5939
@toumorokoshi I would suggest you to open a PR with the enhancement so that others can more easily review and test the change.

[2017-06-30 17:37] wing328 commented on #5939
@toumorokoshi btw, not sure if you've noticed. The Python API client in the 2.3.0 branch has been refactored (e.g. removed singleton) so I would suggest you to take a look  and base the enhancements on that.

[2017-06-30 17:40] frol commented on #5939
@toumorokoshi I don't see much point in having 2 copies of the client generated into a single module. Also, you will end up with a copy of the templates with just `async` prefix and a new `ApiClient`. I think, it is much better to just have a Codegen flag to generate either sync or async code, and that would be much easier to maintain and understand (for the end user). Python 3.4 support is also s

[2017-06-30 17:53] mobreza commented on #5918
I added some support for this in the PR https://github.com/swagger-api/swagger-codegen/pull/5962 (see first two commits).

The only client I'm actively focused on is `java` using `resttemplate`. The option to add to language-specific config is `<withXml>true</withXml>`.

[2017-06-30 18:16] mobreza commented on #5807
@jdupont22 Can you test the code in PR https://github.com/swagger-api/swagger-codegen/pull/5962 ? Commit https://github.com/swagger-api/swagger-codegen/pull/5962/commits/6f4f8bdc329d94e7dbbbfac146fe3cc2db1bcf01 adds the annotations for XML serialization.

[2017-06-30 22:46] tuxbotix commented on #5918
Thank you!! This looks quite promising and other clients can be done once the codegen core parse the options as your PR did.

[2017-07-01 07:06] wing328 commented on #5954
Closed via https://github.com/swagger-api/swagger-codegen/pull/5955

[2017-07-01 07:06] #5954 closed

[2017-07-01 10:31] wing328 commented on #5896
You can also download the SNAPSHOT version from https://oss.sonatype.org/content/repositories/snapshots/io/swagger/

Let us know if you still need help on this.

[2017-07-01 10:31] #5896 closed

[2017-07-01 14:42] wing328 commented on #5316
SNAPSHOT version now available. Please refer to https://github.com/swagger-api/swagger-codegen/blob/master/README.md#compatibility for more information.

[2017-07-01 14:42] #5316 closed

[2017-07-02 05:04] #5916 closed

[2017-07-02 05:11] wing328 commented on #5352
Sorry for late reply on this. Previously I did consider using vendor extension to support this but the one who reported the issue previously was not interested in using vendor extension as a solution.

If there are more demand for a solution addressing this issue, we'll guide the community on how to fix it to begin with.

[2017-07-02 05:13] wing328 commented on #5745
UPDATE: We now have a workflow to publish a SNAPSHOT of 2.2.3 and 2.3.0 as part of the CI (travis). Please refer to https://github.com/swagger-api/swagger-codegen#compatibility for more information.

[2017-07-02 06:47] wing328 commented on #5953
@TehBakker what about using .swagger-codegen-ignore to skip files that you don't need?

[2017-07-02 06:48] wing328 commented on #5876
Btw I think you mean "does not"

[2017-07-02 06:54] bherila commented on #5104
@mmkal  you have successfully influenced me and at this point I have now removed all of my dependency on everything except the fetch API. Thank you !!

[2017-07-02 17:15] gierschv opened #5967 "[Python] Generated tests doesn't include required models properties"
##### Description

The generated tests fail when a model has some required properties (e.g. https://travis-ci.org/FlatIO/api-client-python/jobs/249376469)

##### Swagger-codegen version

master (e50a4cca36)

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

[code]

##### Steps to reproduce

[code]
##### Related issues

[2017-07-02 18:12] wing328 commented on #5570
About renaming typescript-angular2 to typescript-angular, my only concern is that there are already developers using typescript-angular and it may catch them by surprise if typescript-angular (in 2.3.0) now generates Angular2 instead. If we highlight it in the release note of 2.3.0, that should mitigate the impact to developers who've been using `typescript-angular`.

+1 for the `--ngVersion` flag

[2017-07-03 13:56] wing328 commented on #5906
As part of the build, you can leverage Swagger Generator (https://generator.swagger.io) to generate code by submitting a HTTP request: https://github.com/swagger-api/swagger-codegen#online-generators

[2017-07-03 13:56] wing328 commented on #5910
Closed via #5913

[2017-07-03 13:56] #5910 closed

[2017-07-03 14:43] brassel commented on #5543
Yes, just the same for me. So simply make that function go away, please! :)

[2017-07-03 15:20] wing328 commented on #5543
Please kindly submit a PR so that we can review the fix. Thanks!

[2017-07-03 19:50] ksm2 commented on #3486
Hi, as there was not much going on here and I needed this fast, I wrote a Symony-Bundle-Generator by myself. I provided it now as a PR!

[2017-07-04 05:27] darylteo opened #5975 "[Javascript] Webpack 3.0 unexpected token ==="
##### Description

Just helping any internet searchers coming around until Webpack fixes this.

If you are

 - using Webpack 3
 - with parser.amd = false as per the [Readme](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/README.md)

You will run into this issue https://github.com/webpack/webpack/issues/5198.

The problematic line for me is in ApiClien

[2017-07-04 06:56] ZdenoPavlik opened #5976 "[cpprestsdk]Missing example"
Missing example how to generate swagger file for c++ - cpprestsdk

[2017-07-04 07:16] wing328 commented on #5975
@darylteo thanks for sharing the workaround.

[2017-07-04 07:47] CodeNinjai commented on #5928
This certain issue fixed with PR #5977

[2017-07-04 07:50] CodeNinjai commented on #5928
I will make another PR for the promise-es6

[2017-07-04 08:23] CodeNinjai opened #5978 "[JavaScript][ES6]Special characters in model break integration test"
Description

The Petstore integration tests for JS ES6 failed

[code]

[code]

[code]

[code]

[code]

Swagger-codegen version

Latest master.
Steps to reproduce

To repeat the issue for javascript-promise-es6

cd samples/client/petstore/javascript-promise-es6
npm install
npm test

To repeat the issue for javascript-es6

cd samples/client/petstore/javascript-es6
npm install
npm test

[2017-07-04 08:24] CodeNinjai commented on #5978
I'll have a look on those issues.

[2017-07-04 10:59] akhilkedia commented on #3203
The generated Tizen C++ Client follows the Tizen coding style (which you can find [here](https://wiki.tizen.org/Native_Platform_Coding_Idiom_and_Style_Guide)) as far as easily feasible.

Since the Tizen C++ client generates code specifically for the Tizen environment (and not other platforms), I think following Tizen style rather than Google for this particular generator is ideal.

[2017-07-04 11:09] wing328 commented on #3203
@akhilkedia agreed. I've updated https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md#style-guide accordingly.

[2017-07-04 11:10] wing328 commented on #5521
FYI. We've started publishing a SNAPSHOT version of current master (2.2.3) and 2.3.0 (a branch with breaking changes).

[2017-07-04 11:20] wing328 commented on #5976
I think your question is how to generate the C++ (cpprest) API client.

Here are the steps:

1. Download [Swagger Codegen CLI JAR (SNAPSHOT version)](https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.2.3-SNAPSHOT/swagger-codegen-cli-2.2.3-20170704.034918-42.jar) to a local directory
2. Run the following command:

    java -jar swagger-codegen-cli-2.2.3-201707

[2017-07-04 11:48] akhilkedia opened #5980 "[Tizen][Bug] Incorrect value in Header's key-value pairs"
##### Description

The Tizen Client code generator incorrectly sends the header variable name instead of the value of the header.
[/modules/swagger-codegen/src/main/resources/tizen/api-body.mustache](https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/tizen/api-body.mustache) line 163 reads -
`headerList = curl_slist_append(headerList, "{{baseName}}

[2017-07-04 11:49] wing328 commented on #5642
Configuration file added via https://github.com/swagger-api/swagger-codegen/pull/5725

[2017-07-04 12:50] akhilkedia commented on #4898
@ePaul I tested the Tizen Client codegen, and I don't think they suffer from this problem.
I tried query/path/header names with hypens, underscores and mix of upper and lower cases.
While there was an unrelated issue with the headers (#5980), the was no problematic name-mangling in query, path or header params.
For example with the yaml in #1219, the generated code doesnt have an issue with mangli

[2017-07-04 15:11] marcotta opened #5982 "[objc] [Bug] Bool default values posted as integer"
##### Description
Default values for Bool convert into numbers.
Bool are stored as NSNumber, setting a default value to 'false' or 'true' on specification file generates the following lines:

[code]

this converts into a __NSCFNumber instead of __NSCFBoolean

When posting to the backend this will post an integer instead of a boolean and the REST API will complain.

I guess if instead it generated

[2017-07-04 16:31] toumorokoshi commented on #5939
@wing328 sure, I'll start one up when I have a working sketch.

@frol I was thinking from the perspective of someone publishing the library, it might nice to have them in the same codebase, similar to Motor's support of Tornado and Asyncio:

https://github.com/mongodb/motor.

But, it's not a big deal either way. I'll can add an option for asyncio.

[2017-07-04 19:23] frol commented on #5939
@toumorokoshi My thinking targets the consumers. I haven't seen a case where the need to use a module via different APIs in a single project would make sense. Given this fact, having two sets of APIs in a single client just bloats the installation.

[2017-07-05 03:01] akhilkedia commented on #5980
Fixed in the above commit. Closing.

[2017-07-05 03:01] #5980 closed

[2017-07-05 03:41] lmx1989219 opened #5984 "i want know that if support i18n?"
this is a great project.
but i want the static file generated is chinese.

[2017-07-05 04:22] #5976 closed

[2017-07-05 04:27] wing328 commented on #5982
@marcotta I think the issue you reported is similar to https://github.com/swagger-api/swagger-codegen/issues/4491

I suggested a fix in https://github.com/swagger-api/swagger-codegen/issues/4491. Can it give it a try to see if it works for you?

[2017-07-05 05:14] wing328 commented on #5939
I would suggest going with the easiest implementation as a starting point
and it will get better and better based on feedbacks and contributions from
the community.

On Jul 5, 2017 3:23 AM, "Vlad Frolov" <notifications@github.com> wrote:

[2017-07-05 05:16] wing328 commented on #5984
It should work with double byte characters. What issue did you get?

[2017-07-05 08:18] Skyfish1 commented on #2690
Is there also a way to have Enums with additional values

I have something like this in Java:

`public enum MimeType {
    PDF("application/pdf"),
    PNG("image/png"),
    XML("text/xml"),
    HTML("text/html"),
    PKPASS("application/pkpass");

    protected final String mediaTyp;

    private MimeType(@NotNull String mediaType) {
        if(mediaType == null) {
            throw new IllegalArg

[2017-07-05 09:49] wing328 opened #5985 "[PHP][Symfony] Enhancements to Symfony generator"
##### Description

Here are some enhancements for PHP Symfony generator:

- [x] Use `camelize` instead of `initialCaps`
- [x] Use File.separator instead of "/" to make it work in the Windows platform
- [x] Better README with installation instructions, how to start, etc
- [ ] Setup Symfony Petstore integration tests in the CI (e.g. Travis, Shippable, etc)

Please feel free to reply if you've any ot

[2017-07-05 10:37] boosh opened #5986 "Generated javascript README doesn't make much sense"
##### Description

I've generated a javascript library, but the [README](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/README.mustache) doesn't make much sense. It starts by talking about publishing a library to npm (which I'm not going to do because it's a private library), doesn't explain what `main.js` is meant to include, and d

[2017-07-05 10:39] wing328 commented on #3486
Closed via https://github.com/swagger-api/swagger-codegen/pull/5973. Thanks for the contribution by @ksm2

Future enhancements tracked via https://github.com/swagger-api/swagger-codegen/issues/5985

[2017-07-05 10:50] boosh commented on #5986
Apparently you need to use `npm link path/to/javascript-client`.

[2017-07-05 11:46] ksm2 opened #5987 "[TypeScript][Aurelia] To add TypeScript Aurelia client generator"
##### Description

I would like to add an (Aurelia)[http://aurelia.io/] client using TypeScript to support the framework directly out of Swagger.
Right now, I use the implementation of a custom "api.mustache" template for the `typescript-fetch` generator, but I needed to fix HTTP methods to be "Camelcase" as Aurelia's HTTP client uses methods like `asGet`, `asPost`, etc. to change the method being

[2017-07-05 14:11] sh123sh opened #5989 "Change generated html file name (from index)"
Hi,
I`m generating an Html file from Yaml and the defualt file name is index.html. How can i change that?

[2017-07-05 14:14] ayushoo7 opened #5990 "Generated code from swagger gives controller with default return type always as HttpStatus.OK"
When we generate the controller using swagger-codegen-cli-2.2.1.jar  all the api class controller class have return type as HttpStatus.OK

jar used swagger-codegen-cli-2.2.1.jar

.yml file content

post:

      security:
        - basicAuth: []
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: Language
          in: header

[2017-07-05 14:58] wing328 commented on #5982
@marcotta yes. Please create a pull request.

To skip that line when the property is a boolean, please try the following:
[code]

[2017-07-05 16:11] joergi commented on #3052
It would be nice to have as an option... I really would like that feature.

[2017-07-05 16:41] edwinevans opened #5992 "Generated python code does not take into account config.json?"
##### Description

I'm not having any success generating a Python client with a different module name. I don't know if I'm on the right track.

I created a config.json file like this (and I know it's parsing it since I got an error before fixing syntax):

{
  "apiPackage": "xyz",
  "modelPackage": "xyz",
  "groupId":"xyz",
  "artifactVersion":"1.0-xyz",
  "artifactId":"xyz"
}

I also tried setting

[2017-07-05 16:50] ePaul commented on #4898
@akhilkedia thanks for testing – I didn't, because I have no idea of how Tizen works.
I just did a search for `{{paramName}}` being used in a string context, which hints at something which might be transferred through the wire (when it should be `{{baseName}}` instead).

For Tizen, I can find in [api-body.mustache, line 68](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger

[2017-07-05 16:53] akhilkedia commented on #4898
@epaul i check those very lines, and things seemed ok.
Still, I'll recheck it again tomorrow.

[2017-07-05 18:27] mniak opened #5993 "[CSharp] Some additional properties not working"
##### Description

Some additional properties like `packageTitle` and `packageDescriptions` are not working.
When I create a nuget package, the title is always "Swagger Library".

##### Swagger-codegen version

2.2.2

##### Excerpts
Configuration at config.json:
[code]

Generated AssemblyInfo.cs:
[code]
##### Command line used for generation

[code]

##### Steps to reproduce

Just run the command

[2017-07-06 00:11] alexandern commented on #5440
@bharathreddy-97  Can you share the yams here, I'd like to see if I can fix this issue

[2017-07-06 03:25] arcward opened #5995 "[Python] Align with PEP8, PEP257"
##### Description

Since [#3041](https://github.com/swagger-api/swagger-codegen/issues/3041) it seems the templates have drifted a bit from PEP8 guidelines. A couple examples that jumped at me:

- Some inconsistencies with acronym capitalization (ex: `RESTClientObject` and `ApiClient`) [ref](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles)
- Lots of one-line docstrings taking u

[2017-07-06 05:01] BicakciHasan opened #5996 "[TypeScript Angular2] Injecting accesstoken into ConfigurationFactory"
I have almost everything setup in my project with regards to codeswagger and I'm having trouble (due to my inexperience with Angular) injecting the access token gotten from my AuthService into the ConfigurationFactory.

At the moment I have my set up like this

...
imports: [
`ApiModule.forConfig(()=> new Configuration({ basePath: process.env.apiLocation }),`
],
...

Access tokens get set during r

[2017-07-06 06:44] wing328 commented on #5995
@arcward thanks for offering help to improve the code quality. If you need help with the PR, please let us know.

[2017-07-06 08:40] ZdenoPavlik opened #5997 "[cpprestsdk]Generate swagger description from C++ solution/project"
Hi guys,

I would like to generate swagger json file from existing solution (using cpprestsdk - Casablanca).
But the command

java -jar swagger-codegen-cln.jar generate -i D:\_temp\MySolution\mySolution.sln  -l cpprest -o swagger.json

seems not to be supported.

Is it even possible?

Thanks.

[2017-07-06 08:58] wing328 commented on #5992
The options for customizing Python API client is as follows:
[code]

I think those you provided are the options for customizing the Java API client.

Please give the above options a try and let us know if you still experience issue customizing the Python API client.

[2017-07-06 09:59] wing328 commented on #5997
I'm not aware of any solution to parse the source code (C++) and generate an OpenAPI/Swagger spec at the moment.

You can choose to manually write the spec using https://editor.swagger.io instead.

[2017-07-06 10:08] wing328 opened #5998 "Add Swagger Codegen version to the auto-generated files"
##### Description

We want to add Swagger Codegen version (e.g. 2.2.3, 2.3.0-SNAPSHOT, etc) to the auto-generated files (source code, markdown doc, etc) so that developers can easily tell what version of Swagger Codegen was used to generate the files.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/issues/5376

##### Suggest a Fix

[2017-07-06 10:09] wing328 commented on #5376
I've created https://github.com/swagger-api/swagger-codegen/issues/5998 to track all languages.

Closing this one.

[2017-07-06 10:09] #5376 closed

[2017-07-06 12:45] ModernRonin commented on #5857
@wing328 thanks, will check that out!

[2017-07-06 15:14] dgaedcke opened #6001 "Wrapping Swift3 client api calls in Promisekit"
##### Description

Error handling on failed API calls is a hassle.
It would be great if the generated Swift3 client calls were wrapped in PromiseKit to make chaining, reuse, & error handling so much nicer.
@wing328 @Edubits @jaz-ah @jgavris

##### Swagger-codegen version

latest

##### Command line used for generation

swagger-codegen generate \
   -i swagger/swagger.json \
   -l swift3 \
   -o /U

[2017-07-06 15:24] wing328 commented on #6001
@dgaedcke have you tried the `responseAs` option in customizing the Swift3 API client?
[code]

Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l swift3`

[2017-07-06 15:28] dgaedcke commented on #6001
oh that is excellent.....thank you!!
Are there formal docs on the other options or should I just source-dive to discover what's available?

[2017-07-06 15:29] wing328 commented on #6001
Running `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l swift3` should give you all the `swift3`-specified options. Showing it here for your reference:
[code]

[2017-07-06 15:32] jgavris commented on #6001
Yup! We are using the promisekit variant and it's quite nice!

[2017-07-06 15:41] edwinevans commented on #5992
That worked. The config-help command is useful. I missed that part.

Thanks @wing328 !

[2017-07-06 15:41] #5992 closed

[2017-07-06 15:44] wing328 commented on #5992
@edwinevans np. Let us know if you need further help from the community.

It's also worth sharing with you that the Python API client in 2.3.0 has been refactored and I would suggest you to start with that instead of the one in the current master.

SNAPSHOT version of 2.3.0 can be found in https://github.com/swagger-api/swagger-codegen#compatibility

[2017-07-06 16:02] ehyche opened #6002 "Create a swift4 code generator and templates"
##### Description

Swift 4 (announced at WWDC 2017 in June 2017) introduces some features which make serialization and deserialization in Swift much simpler:

* The Codable protocol, which is actually two protocols (Decodable and Encodable)
* Because of protocol extensions, for most cases, all the model classes have to do is simply declare their conformance to the Codable protocol.

I have written

[2017-07-06 16:15] roberterdin opened #6003 "[TypeScript Fetch] Optional URL query parameters are sent empty if not present"
##### Description
When an URL parameter is optional and **not** specified it results in requests that can break back-end systems.

Generated stub, correctly specifying that `v` and `open` are optional
[code]

Hoewver, using it like this
[code]
results in a requested URL that looks like `http://localhost:8080/someapi/route/foo/bar?open=PAN?v=`.
While this might strictly be standard compliant it can

[2017-07-06 16:18] ehyche commented on #6002
I have this new "swift4" language ready to go on a branch off of master. But I guess I need to get the proper permissions before I can push this branch up.

[2017-07-06 16:19] ehyche commented on #6002
Note that you need an Xcode 9 beta in order to use the LearningAboutCodable.playground and the swift4 language.

[2017-07-06 21:19] packleader opened #6005 "[JAVA] Generated models do not contain JAXB annotations"
##### Description

When generating a Java client, the resulting models do not contain JAXB annotations.  As a result, the client cannot be used with a service that produces or consumes XML.  (This applies to all libraries.)

##### Swagger-codegen version

master (a64c7d7986b5aa87e4b476267496722d10eb3095)

##### Swagger declaration file content or url

Here's an [excerpt of the swagger.json](https:

[2017-07-06 21:43] keradus commented on #4962
also, please be aware, that if method output is generated as `Observable<Array<Foo>>`, then:

is violating the output, as it shall be
`response.json() || [];`
instead

[2017-07-06 21:51] keradus opened #6006 "[typescript-angular2] No `Content-Type` and `Accept` set in headers"
##### Description

While generating the API client in typescript-angular2, the `Content-Type` and `Accept` headers are **not** set.

##### Swagger-codegen version

v2.2.2 and 2.2.3-20170703.140356-40 snapshot

##### Swagger declaration file content or url

not available

##### Command line used for generation

`java -jar swagger-codegen-cli.jar generate -i swagger.json -l typescript-angular2`

###

[2017-07-06 23:26] sonicbison opened #6008 "[objc] the http response code not available for 2XX"
##### Description

for objective-c the http response code is only available in a NSError object, but a NSError is not returned for 2XX range of responses.

Not sure if i'm missing something obvious or not?

##### Swagger-codegen version

2.3.0

##### Suggest a Fix

[2017-07-07 01:48] lmx1989219 commented on #5984
@wing328
the meaning of mine is that whether it can generate chinese words with api static file.
thanks.

[2017-07-07 05:18] #6001 closed

[2017-07-07 08:02] wing328 commented on #6002
@ehyche thanks for offering help to add the Swift4 generator 👏 👏 👏

Let us know if you need help with the PR.

cc @jaz-ah @Edubits @jaz-ah

[2017-07-07 08:36] mn288 opened #6009 "timeout functioanlity"
i am using the latest Swagger Code-gen.

I need to be able to control the timeout time in the Swagger Generated API's.
Sometimes the application hangs loading just because I cant set the timeout.

I am using it on iOS Swift (Alamofire), and on Android (Volley)

Please help

[2017-07-07 12:12] ehyche commented on #6002
@wing328 : ah, I just re-read the instructions for contributing. I need to first fork the repo.

[2017-07-07 15:05] julien-h-webcenter opened #6011 "[SWIFT 3] Invalid redeclaration of 'encodeToJSON()'"
Hi,

I have a problem with a swagger 2.3.0 to generate swift 3 code. i have an error because the protocol encodeToJSON is redefined two times.
 In Extesions.swift :
extension Data: JSONEncodable {
    func encodeToJSON() -> Any {
        return self.base64EncodedString(options: Data.Base64EncodingOptions())
    }
}

In Data.swift
open func encodeToJSON() -> Any {
        var nillableDictionary = [

[2017-07-07 16:12] wing328 commented on #2881
@phiz71 May I know if you need help submitting a PR to add vert.x templates to Swagger Codegen?

cc @slinkydeveloper

[2017-07-07 16:15] wing328 commented on #6006
@keradus can you try the TS Angular2 generator in 2.3.0 branch?
[code]

[2017-07-07 16:17] packleader commented on #5615
Thanks for resolving this bug. My team is currently facing this issue while using v2.2.2.  @wing328  Do you guys have a roadmap for when v2.2.3 will be released?

[2017-07-07 16:31] wing328 commented on #6005
@packleader I remember there's a Java client that supports the JAXB annotations. I'll check on this and get back to you.

[2017-07-07 16:52] packleader commented on #6005
According to the README for the maven-plugin, there is a config option `useJaxbAnnotations`.  However, it appears that it's only ever used for JavaJaxRS/cxf (in [pojo.mustache](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/cxf/pojo.mustache)).

[2017-07-07 16:55] phiz71 commented on #2881
Oops.. I must admit I had forgotten I had to work on this PR :$
I will try  these dans :-)!

[2017-07-07 17:08] wing328 commented on #2881
@phiz71 no problem. Let us (the community) know if there's anything we can help.

I would suggest you to pull the latest master before you start working on the PR as there are many enhancements to the project on a regular basis.

[2017-07-07 17:15] wing328 commented on #6005
I found the `jaxrs-cxf-client` generator but the auto-generated code is broken due to incorrect response type defined in the annotation.

[2017-07-07 17:29] wing328 commented on #5615
I don't have a release date for v2.2.3 at the moment but we just setup a workflow (as part of Travis CI) to publish a SNAPSHOT version of v2.2.3 and v2.3.0 (with breaking changes). Would that help?

Ref: https://github.com/swagger-api/swagger-codegen#compatibility

[2017-07-07 17:33] wing328 commented on #6005
FYI. https://github.com/swagger-api/swagger-codegen/pull/5962 adds XML support to `resttempalte` Java client.

[2017-07-07 19:11] packleader commented on #6005
@wing328 Thanks for finding that PR.  I think it will solve this issue for all the Java clients.

[2017-07-07 19:44] jaz-ah commented on #6011
@julien-h-webcenter what error are you getting - what compiler are you using?

[2017-07-07 20:07] keradus commented on #6006
I SCA-ed `produced` on 2.3: https://github.com/swagger-api/swagger-codegen/blob/2.3.0/modules/swagger-codegen/src/main/resources/typescript-angular2/api.service.mustache#L182-L187
var is generated, yet not used. bug still there

[2017-07-07 21:13] ffleige opened #6012 "[lumen] Generated code for verification of path params contains syntax errors"
##### Description
The generated code for verification of path parameters contains syntax errors, due to superfluous closing bracket.

##### Swagger-codegen version
2.2.2

##### Swagger declaration file content or url

https://gist.github.com/ffleige/7981448e6e5f801174fc2079839acca4

##### Command line used for generation
swagger-codegen generate -i swagger.yml -l lumen -o lumen

##### Steps to rep

[2017-07-08 14:48] phiz71 commented on #2881
PR done : https://github.com/swagger-api/swagger-codegen/pull/6014

[2017-07-08 17:07] wing328 commented on #6012
Closes via #6013

[2017-07-08 17:07] #6012 closed

[2017-07-08 23:54] stkrwork commented on #5919
I have started work on the first point on the list the class names.

In the current version it takes the operation id of the first method for a specific path and transforms it to {{operationId}}Resource for the class name of a resource identifying calls to a specific path.

In the new version I am currently working on, it will take the path itself, for example pet/{petid} and create a vendor exten

[2017-07-09 00:55] dantran commented on #5797
Regress at #5797

[2017-07-09 08:32] wing328 opened #6015 "[Swift4] Setup Travis CI to cover Swift4 Petstore"
##### Description

Similar to swift 3, we'll setup Travis CI to cover Swift4 Petstore.

##### Swagger-codegen version

Latest master

##### Related issues

https://github.com/swagger-api/swagger-codegen/pull/6010

[2017-07-09 09:19] ksm2 commented on #5985
I will work on this, as you can see above, I already needed to do some fixes.

[2017-07-09 15:53] toumorokoshi commented on #5939
sounds good. I'll do a PR when I have a feature flag version ready.

[2017-07-09 22:27] stkrwork commented on #5919
#6017 is the pr for the first item on the list of improvements

[2017-07-10 08:06] julien-h-webcenter commented on #6011
Hi,

thanks for your answer.
Error :
<img width="532" alt="capture d ecran 2017-07-10 a 09 56 55" src="https://user-images.githubusercontent.com/17987431/28008119-73bdda4a-6556-11e7-8c49-4ec732bec917.png">

i'm using xcode 8.3.3 for compiler

[2017-07-10 10:17] ayushoo7 commented on #5990
Please can some one help me with this.

[2017-07-10 10:21] HrFlorianHoffmann commented on #4574
Is there a way to get this done with v2.2.2?

[2017-07-10 11:48] NBakaev opened #6018 "Typescript-angular2 generator does not support polymorphism"
##### Description
Typescript-angular2 generator does not support polymorphism. If i have base object Founder and have 2 classes that extend that base class (eg FounderComp and FounderPers)

##### Swagger-codegen version

latest. reproducable via generation in http://editor.swagger.io

##### Swagger declaration file content or url
[code]
##### Command line used for generation

##### Steps to reprod

[2017-07-10 15:02] keradus commented on #6006
ping @wing328 I would be really glad for help

[2017-07-10 15:27] wing328 commented on #6006
@keradus if you've time, we can work together to fix it.

[2017-07-10 15:42] frol commented on #5939
@toumorokoshi

Since I haven't had my hands on AsyncIO, I believed you, but it seems that this statement is false, at least in Python 3.6:

[code]

This code works just fine for me. Notice that `qq2` doesn't use async/await (is this what you meant?). Thus, it seems that to support asyncio ApiClient, you only need to implement the ApiClient and there is no need to touch anything else. Even more, th

[2017-07-10 16:23] wing328 commented on #2881
@phiz71 thanks for the PR, which has been merged into master.

@yogiGueta @Neal910 @thomsonimjd please pull the latest master or use the 2.2.3-SNAPSHOT version to give it a try.

[2017-07-10 16:33] #2881 closed

[2017-07-10 16:52] jaz-ah commented on #6011
ah I see what's happening @julien-h-webcenter  - you have an object in your swagger named "Data" so a Data.swift is created, and when Extensions.swift says:
extension Data: JSONEncodable {
the compiler thinks it's your Data instead of the Foundation library's Data.   so a couple temporary solutions for now:
1) rename the model object inside your Data.swift class to _Data (I know it's generated but

[2017-07-10 18:31] keradus commented on #6006
[code]

have no clue how to contribute to this project or build it locally... :(
feel free to grab my hints and opening PR, i would appreciate it !

[2017-07-10 20:37] bidiu commented on #5984
Maybe you want this:
https://angular.io/guide/i18n

[2017-07-10 21:33] Randgalt commented on #3638
This should also be supported for path params. Can that be made part of this PR?

[2017-07-11 07:32] #3486 closed

[2017-07-11 07:38] julien-h-webcenter commented on #6011
Thanks.

Yes i can to try to add the Keywords data on the Branch 2.3.0.

It's my first PR ;)

[2017-07-11 08:09] wing328 commented on #5984
@lmx1989219 just give it a try and let us know if you encounter issues.

[2017-07-11 09:37] grEvenX commented on #2906
I'm getting this same issue (but now for `Array` instead of `any`) on swagger-codegen version 2.2.3. Should this one be reopened or should I create a new issue for that @wing328 ?

[code]

[2017-07-11 10:37] wing328 commented on #2906
@grEvenX have you tried the latest 2.3.0 branch, which contains breaking changes?

In 2.3.0 branch, we've already setup CI (travis) to cover TS Angular 2.x and 4.x clients.

[2017-07-11 10:38] grEvenX commented on #2906
@wing328 Haven't tried the 2.3.0 branch, I will give that a try

[2017-07-11 12:10] grEvenX commented on #2906
@wing328 that one compiles nicely, is there any documentation somewhere that is up to date on how to use the services etc. exposed from the generated client? The `README.md` generated seems out of date with the updated code and I don't understand how to invoke a service based on it.

[2017-07-11 12:13] beatcracker opened #6022 "[CSharp] Can't build client using "build.bat""
##### Description

Building C# client using `build.bat` script fails with error:

[code]

##### Swagger-codegen version

* 2.2.3-SNAPSHOT

##### Swagger declaration file content or url

Any declaration will do. I'm using this [swagger.yaml](https://github.com/APIs-guru/openapi-directory/blob/master/APIs/xkcd.com/1.0.0/swagger.yaml) for XKCD.

##### Command line used for generation

[code]

##### S

[2017-07-11 13:29] ard61 commented on #4857
@wing328 I've encountered this same issue (deserialization failed because no property name mapping in typescript-angular2).

So, I implemented property name mappings for typescript-angular2 in my fork of [swagger-codegen:2.3.0](https://github.com/swagger-api/swagger-codegen/compare/2.3.0...ard61:fix_issue4857), reusing @TiFu 's solution from PR #4264 . I am ready to submit a pull request with this

[2017-07-11 13:42] wing328 commented on #4857
@ard61 please submit a PR as I don't think anyone has started working on a solution for Typescript-angular2 regarding this problem.

[2017-07-11 14:00] wing328 commented on #2906
cc @Vrolijkx @taxpon @sebastianhaas @kenisteward to see if they've any tips/suggestions on consuming the TS Angular2 API client.

[2017-07-11 14:01] wing328 commented on #6006
cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu to see if they've time to work on the enhancement.

[2017-07-11 14:18] sebastianhaas commented on #6006
This was never implemented. The problem I see with your fix is that it doesn't really handle cases where an endpoint produces/consumes multiple content types. As of now, we support  `application/json` only, so you could as well statically add
[code]
here.

[2017-07-11 14:22] sebastianhaas commented on #2906
@grEvenX you could take a look at https://github.com/swagger-api/swagger-codegen/issues/3221, I've described usage scenarios there.

Agree that we need to improve on documentation in the 2.3.0 branch.

[2017-07-11 14:28] keradus commented on #6006
Damn...

1.  lack of respecting `Content-Type` shall be fixed even without changing `Accept` part, request should sent both headers, eg:
[code]
(we do know that data as we filled var properly)

-----------

2. for `Accept` itself, you mean that it was not implemented, as all implementadion details do `.json()` on parsed response ?
if so, it shall still apply proper header configured via swagger, l

[2017-07-11 14:28] wolfAle opened #6023 "Swift3 - New generated code differs from old one"
##### Description

I've used the Swagger `Uber API` example online to generate the Swift3 client code, no changes whatsoever to the yaml.
The issue is that the generated Swift3 code changes from the "old" version of Swagger Editor and the new one.

The difference is that with the old CodeGen `UserAPI.swift` contains (among the rest) a method `historyGet` that would return in the completionBlock an

[2017-07-11 14:29] wing328 commented on #6006
We need to implement `SelectHeaderContentType` [(example)](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Client/ApiClient.cs#L357) and `SelectHeaderAccept `[(example)](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClient/src/IO.Swagger/Client/ApiClient.cs#L375) in `ApiClient`

[2017-07-11 16:14] wing328 commented on #6023
@wolfAle for Swift3, I would suggest you to try the latest 2.3.0 branch, which contains breaking changes.

I just did a test and found both new and old version of Swagger Editor uses the same https://generator.swagger.io to generate codes.

cc @fehguy

[2017-07-11 16:16] wing328 commented on #6022
@beatcracker thanks for reporting the issue. Please file a PR with the suggested fix when you've time and we'll review accordingly.

[2017-07-11 16:22] wing328 commented on #6008
@sonicbison After taking a look at the [SWGPetApi.m](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/objc/default/SwaggerClient/Api/SWGPetApi.m), I think you're correct in saying that the HTTP response code is not available for 2xx responses.

For other API clients (e.g. Ruby, Python), we've already implemented a "WithHttpInfo" for every method generated. Here is

[2017-07-11 16:25] wing328 commented on #6009
@mn288 for Swift, I've no idea. cc @jaz-sh @Edubits @jgavris to see if they've any clue or example.

For Android (volley), there's a [PR](https://github.com/swagger-api/swagger-codegen/pull/3646/files) to make the timeout configurable. Would it help by reviewing the change?

[2017-07-11 16:29] wing328 commented on #6003
@roberterdin thanks for reporting the issue. Have you tried other TS API clients to see if they've similar issue?

In 2.3.0 branch, `typescript-angualr2` supports both TS Angular 2.x and 4.x so worth giving it a try.

cc @Vrolijkx @taxpon @sebastianhaas @kenisteward @TiFu

[2017-07-11 16:32] wing328 commented on #5987
@ksm2 thanks for the PR. I've provided some feedbacks. Please take a look when you've time.

[2017-07-11 16:33] wing328 commented on #5986
@boosh thanks for the feedback. I agree with you the auto-generated README has rooms for improvement. Would you have time to contribute a PR to make it better?

Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/README.mustache

[2017-07-11 16:37] wing328 commented on #5989
The only way is to customize the generator here: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/StaticHtmlGenerator.java#L66

Or rename the file after the code generation.

[2017-07-11 16:38] wing328 commented on #5967
@gierschv thanks for reporting the issue. What about commenting about the object creation for the time being so that the default tests will pass?

[2017-07-11 16:40] wing328 commented on #5961
@fonix232 sorry to hear that it didn't work for you and thanks for providing the test spec to show the issue.

Did you have a chance to try the latest master (there's snapshot version available)? (which uses a newer version of Swagger Parser to see if that helps)

[2017-07-11 16:47] wing328 commented on #5958
@magictortoise are you using the latest master?
[code]
Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/resteasy/pojo.mustache#L5
 

[2017-07-11 17:01] wing328 commented on #5950
@TehBakker so basically you want to throw an exception instead of returning null, right? I think it's reasonable and to achieve that without breaking backward-compatibility, the only way seems to be adding another option (e.g. invalidEnumThrowsException)

cc @cbornet

[2017-07-11 17:02] wing328 commented on #5932
@acostros I'll try to look into it this week.

[2017-07-11 17:04] wing328 commented on #5950
cc @ePaul as well

[2017-07-11 17:12] wing328 commented on #5924
@felixvolz if you're referring to *not* overwriting the existing files, have you tried using .swagger-codegen-ignore?

Ref: https://github.com/swagger-api/swagger-codegen#ignore-file-format

[2017-07-11 17:25] TehBakker commented on #5950
Yes that's exactly that, an extra option would be good yeah.
Although I feel that should have been the default behavior maybe ?

[2017-07-11 17:29] magictortoise commented on #5958
@wing328 I use version 2.2.2 and I do see `implements Serializable` in POJO class. What missing is
`private static final long serialVersionUID = 1L`

For performance and coding standard, I think we better add that line. I do see serialVersionUID is added on Java and JavaSpring category, but not in JavaJaxRS.

[2017-07-11 17:35] ElfenLiedGH commented on #6003
@wing328 i've got it too, and i've tried other API clients, they havn't this error
they all have check like
` for (var key in params) {
      if (params.hasOwnProperty(key) && params[key] != undefined && params[key] != null) {`

or

`        if (search !== undefined) {
            queryParameters['search'] = search;
        }`

[2017-07-11 17:42] wing328 commented on #5958
@magictortoise ah ok. Would you have time to contribute a PR to add that line?

[2017-07-11 17:44] wing328 commented on #6003
@roberterdin thanks for doing a check. Would you have time to contribute a fix by reusing the code snippets in other TS client templates?

Here are the TS Fetch templates: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/TypeScript-Fetch

[2017-07-11 17:52] wing328 commented on #3812
@foxmk do you have any more questions? If you need any help, please let us know.

[2017-07-11 17:55] ElfenLiedGH commented on #6003
@wing328

i don't know mustache, but it looks like

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-Fetch/api.mustache#L93

`if(params["{{paramName}}"] !== undefined){

urlObj.query = {{#supportsES6}}Object.{{/supportsES6}}assign({}, urlObj.query, {

 {{#queryParams}}
   "{{baseName}}": params["{{paramName}}"],
   {{/queryParams}}
 

[2017-07-11 18:01] magictortoise commented on #5958
@wing328 Sure. I will need to take a look the contribution rule then.

[2017-07-11 18:38] TiFu commented on #6003
I think your fix is almost correct. `{{queryParams}} /* code */ {{/queryParams}}` is basically a loop over all query parameters (see [mustache demo](https://mustache.github.io/#demo) for more examples). So your solution would not work for more than one query parameter.

Could you test if this works?

[code]

[2017-07-11 18:52] jaz-ah commented on #6009
@mn288 so I ended up manually adding a defaultTimeout in SwaggerClientAPI:
open class SwaggerClientAPI {
   ....
    open static var defaultTimeout = URLSessionConfiguration.default.timeoutIntervalForRequest
   .....
}
which can be overridden by my app, and then in AlamoFireImplementations.swift I manually created a session with this default timeout:

        // Create a new manager for each reque

[2017-07-11 18:57] mn288 commented on #6009
Brilliant; thank you for your efforts guys!

[2017-07-11 18:57] #6009 closed

[2017-07-12 04:27] alexandern commented on #5440
Here is an example that illustrates the issue

[code]

The aforementioned solution would be to change the model-header.mustache as follows

[code]

This in turn would generate code like

[code]

[2017-07-12 05:26] zorrofox opened #6029 "[Python]Bug in api_client.py __call_api"
##### Description

In api_client __call_api function [this line](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/api_client.mustache#L93) use a new init Configuration:
[code]
and I think we should use the parameter configuration which has be assigned to the attribute  like this:
[code]

##### Swagger-codegen version

##### Swagger declar

[2017-07-12 07:31] jahertor commented on #5500
I have the same problem. The codegen are trying to parse every body parameter to JSON, even when in swagger editor I put `String` as input and `consumes` is `text/plain`. This is a problem for example when using JWT.

Expected request:

[code]

[2017-07-12 07:32] cbornet commented on #5950
I think you should be able to configure Jackson READ_UNKNOWN_ENUM_VALUES_AS_NULL from the client without the need to add another option.

[2017-07-12 07:33] wolfAle commented on #6023
Hi @wing328,

thanks for the feedback, I'll give it a go.

I actually figured they were using the same version, I think I read it somewhere, but there must be something else that changes because the output is clearly different.

I'll let you know how the testing with 2.3.0 goes.

[2017-07-12 07:41] jahertor commented on #5500
@wing328 I have the same problem. The codegen are trying to parse every body parameter to JSON, even when in swagger editor I put `String` as input and `consumes` is `text/plain`. This is a problem for example when using JWT.

Expected request:

[code]

[2017-07-12 07:42] TehBakker commented on #5950
I might have messed up, but I tried setting `spring.jackson.deserialization.READ_UNKNOWN_ENUM_VALUES_AS_NULL=false` in my application.properties and it didn't seems to have effect

[2017-07-12 08:03] wolfAle commented on #6023
Hi @wing328 and @fehguy

I've just tested the swagger-codegen branch 2.3.0 and looks ok, the output is exactly as expected.

Not sure why the online swagger-editor outputs a different result. Actually the same happens when installing locally swagger-editor from the last version available on the [github](https://github.com/swagger-api/swagger-editor) page.

Anyway, all good with 2.3.0, I'll use it.

[2017-07-12 08:05] wing328 commented on #6023
@wolfAle please open a PR so that we can review the enhancements.

[2017-07-12 08:17] foxmk commented on #3812
@wing328 Hello! Sorry for being slowpoke. So far I have no questions, I have a rough plan to solve this issue, similar to Java generator:
- Abstract current Jetty client behind new API with its own HTTP model (in progress)
- Make akka-http implementation of HTTP client alongside with old Jetty

But it's hard with timing, I think I will finish PR till the end of next week. If it's too long, I can c

[2017-07-12 08:23] wing328 commented on #3812
@foxmk thanks for the update. Please take your time and let us know if you need help (e.g. testing). Appreciate your effort on this 👍

[2017-07-12 08:37] wolfAle commented on #6023
Cool, I will.

I'm gonna close this issue, it's not an issue after all.

[2017-07-12 08:37] #6023 closed

[2017-07-12 09:43] slinkydeveloper commented on #4669
+1

[2017-07-12 10:28] beatcracker commented on #6022
Relevant issue:  NuGet/Home#3962

List of affected files (`grep -rE 'http(s|)://nuget\.org/nuget\.exe'`):

[code]

[2017-07-12 10:36] beatcracker commented on #6022
### Relevant issue:

* NuGet/Home#3962

### List of affected files

* `grep -rE 'http(s|)://nuget\.org/nuget\.exe'`

[code]

### Compatibility warning

### Solution

Assuming that we wouldn't hit any compatibility issues:

* Replace all URLs: `https://nuget.org/nuget.exe` -> `https://dist.nuget.org/win-x86-commandline/latest/nuget.exe`

With fallback:

* Use  `https://nuget.org/nuget.exe`  by defa

[2017-07-12 11:22] cbornet commented on #5950
I think the default here should be to throw an exception. Also I'm not sure why we need to use JsonCreator here whereas I think Jackson could handle enum mapping directly using READ_ENUMS_USING_TO_STRING and WRITE_ENUMS_USING_TO_STRING.

[2017-07-12 11:46] roberterdin commented on #6003
@wing328 I'll try to submit a fix.
@TiFu that almost works... I'll have a look.

[2017-07-12 11:53] grEvenX commented on #2906
@sebastianhaas Thanks, I was able to get the services working based on the discussion there

[2017-07-12 11:59] cbornet commented on #5950
I've checked and it seems all jackson-based java clients set READ_ENUMS_USING_TO_STRING and WRITE_ENUMS_USING_TO_STRING. So I don't understand why we also have @JsonValue/@JsonCreator...
@TehBakker can you check what it gives if you remove the annotations ?

[2017-07-12 12:06] grEvenX commented on #3221
Great work on the 2.3.0 branch, this is going to be really useful.

I have a similar question to that one from @fluffybonkers .
Often in an SPA where you need to access an API based on authentication you login first, then get a token (e.g. JWT Token).

Is it somehow possible to change the configuration dynamicly so that after logging in and receving a JWT token, the API services that has been inje

[2017-07-12 12:11] TehBakker commented on #5950
Sure, as I said in the original post, it's tied to that ticket #1919
It was added to handle it case insensitively, might make sense sometime but not in all case and returning null is just wrong imo.
If I removed the @JsonCreator it works as expected and throws an InvalidFormatException:

[2017-07-12 12:14] cbornet commented on #5950
@wing328 do you know if we can remove the annotations and the `fromValue()` method or is there a good reason not to do it ?

[2017-07-12 12:16] sebastianhaas commented on #3221
Could you write your token to `localStorage`? That would allow you to change it on runtime, without reloading and without having to re-create components.

[2017-07-12 12:44] marcorinck commented on #3221
@grEvenX

you can inject the configuration objekt anywhere in your application and can change the apiKeys property even during runtime. Like so:

[code]

You can change any configuration this way, but not the baseUrl property. I tried to argue on that earlier, but I don't think I got through.

[2017-07-12 12:55] grEvenX commented on #3221
@marcorinck Thanks a bunch! That does the trick just fine :)
I agree that I don't see why you shouldn't be able to set the `baseUrl` the same way.

[2017-07-12 15:11] baynezy opened #6037 "[JAVA][SPRING] Bug - HTML entities being escaped in @Pattern Regex on Models"
##### Description

If you use the `pattern` property when describing a representation and you put HTML special characters in the Regex pattern then they get escaped and it breaks the Regex.

##### Swagger-codegen version

2.2.2

##### Swagger declaration file content or url

https://gist.github.com/baynezy/1bae15eeceb476b0baff722b941c242c

##### Command line used for generation

    java -jar .\sw

[2017-07-12 15:15] michaelmccaskill commented on #5659
I am experiencing this when using the `jaxrs` language option.

Relevant endpoint portion
[code]

Relevant defintions
[code]

Yet the generated code has
[code]

The reponse class for `400` is still a `String`. I've attempted to change the `200` to be an object but the response for `400` is still not `Errors`.

[2017-07-12 15:24] baynezy commented on #6037
Sorry - when looking in the code on how I would fix this I found #5549 and #5548

Any date on when 2.2.3 will be released?

[2017-07-12 15:24] #6037 closed

[2017-07-12 15:30] michaelmccaskill commented on #5659
I just checked out the 2.3.0 branch, built it, and ran it locally and ended up with the same result.

[2017-07-12 16:54] stkrwork commented on #5998
#6038 is the pr for Restbed generator.

[2017-07-12 17:01] stkrwork commented on #5998
#6039 is the pr for C++ REST SDK generator.

[2017-07-12 17:31] dinvlad commented on #3221
@marcorinck looks like that requires modification of the generated code? Or can that be done outside of the ApiModule? Just curious.

[2017-07-12 17:34] marcorinck commented on #3221
@dinvlad no, this can be done without changing generated code anywhere anytime in your application. (In the 2.3.0-snapshot branch)

[2017-07-12 19:22] dinvlad commented on #3221
Ah, I see - you're passing a statically constructed configuration object through `forConfig`? Basically,
[code]
and then also injecting `apiConfig` object into your other services? Seems like a cool idea too.

[2017-07-12 19:27] marcorinck commented on #3221
Yes, exactly this

[2017-07-12 19:50] grEvenX commented on #4774
This is still the case on 2.3.0 branch and it caught my completely by surprise since it won't give you any errors until you inspect data sent/retrieved on the network requests.
I think it's pretty important as the results of this is not as expected.
The workaround to use `--additional-properties modelPropertyNaming=original` works fine.

I can't make any promises, but I may be able to work on port

[2017-07-12 20:27] grEvenX commented on #4774
After looking more at the issues this seems to be a duplicate of #4857 which already has a PR?

[2017-07-12 20:49] alexandern commented on #5440
I will ask others to peer review

[2017-07-13 01:51] fehguy opened #6041 "Update configuration, launcher interface"
As the codegen model has evolved, we have a challenge with the configuration interface.  Specifically with the introduction of the [airline](https://github.com/airlift/airline) toolkit for parsing the CLI options, we've ended up with a bit of an abomination of arguments and system properties, all with the ability to be overridden with a configuration file.

The challenge (and why I pointed out `ai

[2017-07-13 04:10] wing328 commented on #5440
@alexandern thanks. If you submit a PR with the suggested fix, we can use the CI (travis) to test the updated ObjC Petstore client.

[2017-07-13 04:18] wing328 commented on #4774
Yup, please review https://github.com/swagger-api/swagger-codegen/pull/6024 to see if it works for you.

Here are the steps:
[code]

[2017-07-13 04:26] wing328 commented on #5993
@mniak I don't see those options (e.g. packageTitle) listed in the C# client generator.
[code]

Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l csharp`

[2017-07-13 04:27] Splaktar commented on #5570
@kenisteward Unfortunately the [Http](https://angular.io/api/http/Http) class in Angular (even in 4.2.6) is marked [experimental](https://angular.io/api?status=experimental).

The http module is being re-written in Angular 4.3.0. The docs are not yet fully baked, but here is a [link to some of them from 4.3.0-rc0](https://aio-staging.firebaseapp.com/api/common/http).

I do agree with changing the

[2017-07-13 04:31] wing328 commented on #5570
I plan to do the following based on the suggestion by @taxpon

1) rename `typescript-angular` to `typescript-angularjs` in 2.3.0
2) rename `typescript-angular2` to `typescript-angular` in 2.3.0

We'll mark these changes as breaking changes with fallback.

If anyone has concern, please reply to let us know.

[2017-07-13 05:14] Splaktar commented on #4962
@kenisteward do you have a link to the issue that you opened in the Angular repo?

[2017-07-13 07:29] wing328 commented on #5957
Closing this as there's no update.

[2017-07-13 07:29] #5957 closed

[2017-07-13 07:30] wing328 commented on #5953
Closing this as there's no update. Please open a new ticket with an example if you still have question on this.

[2017-07-13 07:30] #5953 closed

[2017-07-13 07:41] wing328 commented on #4295
UPDATE: Run `mvn formatter:format` for swagger generator, cli and maven-plug-in:
1e535575708f93263415ee2bbeb2f53b90f48153
eb498e23b81c56fe9656667285f67938ae72f8f0
38b072556a26cbb14682b2fc2dcb89639d8404ed

For "swagger-codegen", it will result in a lot of merge conflicts for the existing PRs. We'll do it after releasing 2.3.0 and merge more PRs to avoid spending too much time resolving merge confli

[2017-07-13 07:44] wing328 commented on #4095
Closed via #5786

[2017-07-13 07:44] #4095 closed

[2017-07-13 07:45] wing328 commented on #3413
I believe this issue can be closed.

[2017-07-13 07:45] #3413 closed

[2017-07-13 07:45] wing328 commented on #3842
I believe this issue can be closed.

[2017-07-13 07:45] #3842 closed

[2017-07-13 07:46] wing328 commented on #3727
Looks like we can close this.

[2017-07-13 07:46] #3727 closed

[2017-07-13 07:47] wing328 commented on #3839
Closing this as there's no update.

Please pull the latest to give it another try as I've add some additional logic to better handle pattern.

[2017-07-13 07:47] #3839 closed

[2017-07-13 07:47] wing328 commented on #3869
Closing this as there's no update.

[2017-07-13 07:47] #3869 closed

[2017-07-13 07:52] wing328 commented on #3505
For Perl client, there're some enhancements so please pull the latest master to give it a try.

For C# .net 2.0, if http://stackoverflow.com/a/17234955/677735 does not help, please open a new issue for tracking.

[2017-07-13 07:52] #3505 closed

[2017-07-13 07:54] wing328 commented on #3805
Closing this as there's no update.

[2017-07-13 07:54] #3805 closed

[2017-07-13 07:55] wing328 commented on #4848
My apologies for late reply on this. I would vote for (1) adding `build_from_hash`

[2017-07-13 07:55] wing328 commented on #4833
Closed via #4834

[2017-07-13 07:55] #4833 closed

[2017-07-13 07:56] wing328 commented on #4837
Closing this as there's no update.

[2017-07-13 07:56] #4837 closed

[2017-07-13 07:56] wing328 commented on #4800
If anyone wants to contribute this enhancement, please reply to let us know.

[2017-07-13 07:57] wing328 commented on #4796
Closed via #4797

[2017-07-13 07:57] #4796 closed

[2017-07-13 07:57] wing328 commented on #4802
Please pull the latest master (which uses a newer version of Swagger Parser) to give it a try.

[2017-07-13 07:57] #4802 closed

[2017-07-13 07:58] wing328 commented on #4798
@ToreJohansson thanks for reporting the issue and we would appreciate if you can contribute a fix as well.

[2017-07-13 08:00] TehBakker commented on #5953
Yep sorry @wing328 I will try and create a more detailed example when I've time.
But the way I use codegen, wagger-codegen-ignore  can't help me.

[2017-07-13 08:02] #4612 closed

[2017-07-13 08:03] #4574 closed

[2017-07-13 08:04] wing328 commented on #4957
If any Elixir developers want to work on this, please reply to let us know.

[2017-07-13 08:05] wing328 commented on #4961
@MMirabito Please try the 2.3.0 branch (which has the C# API client refactored) and see if the same problem occurs. Thanks.

[2017-07-13 08:05] #4961 closed

[2017-07-13 08:09] #5334 closed

[2017-07-13 08:10] wing328 commented on #5366
Closing this as we're using #5423 for tracking.

[2017-07-13 08:10] #5366 closed

[2017-07-13 08:10] #5323 closed

[2017-07-13 08:11] #5147 closed

[2017-07-13 08:11] wing328 commented on #6041
FYI. @ePaul has made some enhancements to CLI options via https://github.com/swagger-api/swagger-codegen/issues/5147

[2017-07-13 08:13] wing328 commented on #5996
My first suggestion is to start with Swagger Codegen 2.3.0 branch as there's been many enhancements to the TS Angular 2 clients.

[2017-07-13 08:51] wing328 commented on #5614
I did a review and the Java8 option is set correctly: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/SpringCodegen.java#L142-L144

Then I added `--additional-properties java8=true` to `./bin/springboot-petstore-server.sh` and there were changes related to auto-generated code.

I would suggest you to clone the swagger-co

[2017-07-13 09:05] wing328 commented on #6018
@NBakaev Can you try the `2.3.0` branch instead (which contains a lot of enhancements for TS Angular2)?

I could find the following in the template:
[code]

[2017-07-13 09:09] stmeyer commented on #5006
@fehguy do you know if this will be fixed in 2.2.3 or 2.3.0?