[2016-08-17 07:58] wing328 commented on #3601
Usually the body parameter refers to "model". Can you give an example of what the HTTP body (content) looks like?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L49

[2016-08-17 14:00] kevinchabreck commented on #3386
Couldn't you just map port 80 to the default swagger-generator port when creating your container?

`$ docker run -d -p 80:8080 swagger-generator`

[2016-08-17 18:37] Emmpa opened #3607 "[Typescript-Angular2] No file generated for schema with array of types"
When a schema defines a type as an array, no model is generated

Related Swagger ticket: https://github.com/OAI/OpenAPI-Specification/issues/458

##### Swagger-codegen version: 2.2.1

##### Swagger declaration file content or url
(NOTE: this swagger spec file validates okay in http://editor.swagger.io/#/)
[code]

##### Command line used for generation
`java -jar swagger-codegen-cli-2.2.1.jar gener

[2016-08-17 23:12] loupatrick opened #3608 "Enum default value is set to null"
##### Description

One of my response definitions' schema contains a class that has an enum as one of its properties. The C# generated code sets the default value of this enum property to null in the class' constructor. This results in a compilation error.

Shouldn't the enums default value be set to the default value specified in the swagger?
The other possibility would be to set the enum to a nu

[2016-08-17 23:19] maneeshsahu commented on #3596
Yes, I plan to do this for swift (and objc in time)

[2016-08-18 00:45] rebeccabauer opened #3609 "[PYTHON] OAuth2 access token not included in http request headers"
Hi! I am using swagger-codegen to generate clients for an app that uses oauth2 bearer tokens.
The problem is that the generated python client does not include the token in the request headers.

So if the header parameters should be:
{'Content-Type': 'application/json', **'Authorization': 'Bearer myoauthtoken'**, 'Accept': 'application/json', 'User-Agent': 'Swagger-Codegen/1.0.0/python'}

My reques

[2016-08-18 01:48] #3593 closed

[2016-08-18 02:02] wing328 commented on #3596
@maneeshsahu thanks! Let us know if you need any help.

(I believe the change is backward compatible. If it's not, please submit the PR against the `2.3.0` branch)

[2016-08-18 02:06] wing328 commented on #3607
I don't think the following is valid:
[code]
What does the `Test` model looks like? Can you provide an example (JSON)?

[2016-08-18 02:08] webron commented on #3607
It isn't. There's no support for multiple types.

[2016-08-18 02:21] wing328 commented on #3579
@arunchippada thanks! Let us know if you need any help.

[2016-08-18 08:13] 414n commented on #2507
@wing328 I performed a first quick test about this issue and it seems that the generated code is now ok. Will confirm if everything is indeed ok ASAP.
Thank you!

[2016-08-18 13:32] martinkbrown commented on #3590
Yes I will fix this and push my changes.

Thanks.

On Tue, Aug 16, 2016 at 10:19 AM, wing328 <notifications@github.com> wrote:

--

Martin K. Brown

[2016-08-18 15:39] Emmpa commented on #3607
I had to migrate an old API to swagger, so I still have to support legacy bad-practices. I'm using multiple types for a few specific cases:
1) boolean/integer, where the value can be either true/false or 0/1. In that case, I would usually define the parameter as:
[code]

2) I'm using swagger-tools in node.js and in order to validate server responses I have had to use type/null definitions for data

[2016-08-18 15:42] ralgor14 opened #3611 "Possible swagger hub codegen issue with Enums: @JsonValue annotation is missing from toString()"
Description

The @JsonValue annotation is missing when codegen creates java code (Server->jaxrs) for Enums.
This annotation should be on toString() method.
The following:
        "state": {
          "type": "string",
          "enum": [
            "active",
            "inactive"
          ]
        }

causes creation of the following Enum code:
  public enum StateEnum {
    ACTIVE("active"),

[2016-08-18 15:43] mherb63 commented on #3509
any updates on this issue?  When will fixes be pushed to swaggerhub for Spring server code generation?

Thanks!

[2016-08-18 15:45] ralgor14 opened #3612 "Possible swagger hub codegen issue with nested elements: the @JsonProperty annotation is missing from get methods"
The @JsonProperty annotation is missing when codegen creates Java code (Server->jaxrs) for nested elements.

The following block:

    "PM_Session": {
      "description": "description",
      "type": "object",
      "properties": {
        "id": {
          "description": "description",
          "type": "string"
        },
                                ....
                                "eth

[2016-08-18 16:06] wing328 commented on #3612
@ralgor14 can you share the full spec (e.g. via https://gist.github.com) for us to repeat the issue?

[2016-08-18 16:13] cbornet commented on #3590
A more complete solution would be to use https://github.com/google/gson/blob/master/extras/src/main/java/com/google/gson/typeadapters/UtcDateTypeAdapter.java or joda.
If you only set 'Z', you can't parse time offset as specified in rfc3339.

[2016-08-18 16:13] wing328 commented on #3509
@mherb63 To be clear, the fix will still convert the enum name to upper case. The fix we did with Java added the `fromValue` method so that the deserialization works: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/jersey1/src/main/java/io/swagger/client/model/EnumArrays.java#L95

I've been very busy these days and I'll try to file a PR for this issue tomorr

[2016-08-18 16:15] wing328 commented on #3611
@ralgor14 thanks for reporting the issue and suggesting a fix. I'll look into this tomorrow (Friday) and hopefully file a PR for the fix.

[2016-08-19 04:14] wing328 commented on #3607
For 1) you can document it as an enum string with allowable values: "0", "1", "true", "false" as a workaround.

For 2) you can use vendor extension `x-nullable` to document the property as nullable. Please refer to https://github.com/swagger-api/swagger-codegen/issues/2885 for more info.

Closing this as multi type is not supported by the spec.

[2016-08-19 04:14] #3607 closed

[2016-08-19 15:22] derandreasberger opened #3614 "[java] swagger-core, codegen issue related to '$ref' references to files - no files are generated"
##### Description
Hello!

We've been trying to setup an API spec with multiple domain-objects (model-objects) and several paths. It seems like we're hitting either a nesting-issue with references or an empty definitions problem I think.

Impact:
1. If we use absolute refs, we can generate no code:
`[main] INFO io.swagger.parser.Swagger20Parser - reading from bugDemoSpec.yaml
Exception in thread "m

[2016-08-19 16:08] Emmpa opened #3616 "[Typescript-Angular2] Array items exported as extending "models.Array""
##### Description

If I define a model definition as just an array, then the created model ts file says "extends models.Array" instead of just "extends Array"

##### Swagger-codegen version 2.2.1

##### Swagger declaration file content or url

[code]

The invalid generated model for TestArray is then:
[code]

whereas it should just be as follows (without "models."):
[code]

##### Command line used

[2016-08-19 16:09] jeff9finger commented on #3614
I am having similar issues. The issue is in swagger-parser. It gets confused as to what the base directory is when inspecting a file that is lower than the base level.

For example:
base/swagger.yaml
  subdir1/subfile1.yaml
  subdir2/subfile2.yaml

If subfile1.yaml contains a reference:
   $ref: '../subdir2/subfile2.yaml#/definitions/AModel

The swagger-parser gets confused.

[2016-08-19 16:09] wing328 commented on #3611
@ralgor14 I've filed #3615 to fix the issue.

[2016-08-19 16:14] wing328 commented on #3509
UPDATE: Filed #3615 to add the `fromValue` method

[2016-08-19 17:59] ShawnTuatara opened #3617 "[Java - Spring] Leverage Boot http://start.spring.io/ when building server from swagger"
##### Description

When creating a Spring Boot server project based on the swagger definitions I would appreciate the ability to have similar options available as is shown with spring.start.io (same is available in the Spring Eclipse Plugin when creating a new project). This reduces the manual changes I need to make to the project pom.xml later. Would also help to keep new projects up to date with

[2016-08-19 18:50] smile18 opened #3618 "Unable to run spring server generated from swagger editor"
##### Issue in generated spring server on swagger editor

I wrote a swagger in `http://editor.swagger.io/#/` and generated spring server. When i try to run the spring server getting error. I am not able to run the spring server even for the examples provided in swagger editor.
##### Swagger declaration file content or url

just go [Here](http://editor.swagger.io/#/)
select `File` -> `Open Examples

[2016-08-19 21:20] romk1n opened #3619 "[Swift] is there a reason for not moving decodeJson to the actual model?"
##### Description

models.swift is enormous file. and having encodeJson in model is a good thing but not having a decodeJson is not. It would make a model much more versatile if the model would have both encoding and decoding in the same file.

[2016-08-20 15:55] wing328 commented on #3616
@Emmpa To return an array of model, can you defined as follows instead? https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L114

[2016-08-20 17:28] wing328 commented on #3619
@romk1n what about using ObjectMapper instead? Ref: https://github.com/swagger-api/swagger-codegen/issues/2194

[2016-08-20 18:06] romk1n commented on #3619
@wing328 it may work as well. Closing in favour of that. Thanks.

[2016-08-20 18:06] #3619 closed

[2016-08-20 18:07] romk1n commented on #2194
Would be great to move to this model instead of current one.

[2016-08-20 19:06] DCstewieG opened #3620 "[typescript-angular] Pass parameters in an object"
I generated my first client and was disappointed to get a method with 15 arguments. This seems like it should be a single object conforming to an interface. It would be especially helpful when you have many optional arguments that you only want to pass one value for. It would also be less error prone if arguments were added, removed, or reordered.

Obviously this would break compatibility. And to

[2016-08-21 04:20] wing328 commented on #2194
@romk1n may I know if you would be interested in making the contribution?

[2016-08-21 04:21] romk1n commented on #2194
@wing328 unfortunately don't have time to get it done, sorry :(

[2016-08-21 10:05] sthuber90 commented on #3170
@yuvalishay were you able to resolve your error? I just recently got started with swagger codegen and generated the javax rs cxf server code to be able to implement the interfaces myself.

1. All interfaces only return Response. Is that something to be expected?
2. When I try to convert the Response entry (application/json format) to its respective java class I get the same error as @yuvalishay (w

[2016-08-21 20:30] shades66 commented on #3612
To reproduce use the editor to create the default example and look in the definitions at the product object. You will see product_id & currency_code and a number of other fields defined in snake case.  The live rendering view of the model all looks correct but when you generate the springboot application it now producing everything with camel case fieldnames like productId & currencyCode due to th

[2016-08-21 22:39] YetAnotherMinion commented on #3192
Confirmed this bug is still present off master as of 4e20bd9bab43ce21f21954a45402ca49df5a2a64

[2016-08-21 22:41] YetAnotherMinion commented on #3192
It looks like this happens when the property is a `BaseIntegerProperty`. I am unfamiliar with how code generators are supposed to be written, so I do not know if the fix here is just to add a check for the `BaseIntegerProperty` to the else tree, which will solve this, or if the generator should always be choosing a specialization for integer.

[2016-08-21 23:41] 002 opened #3621 "[Typescript-Angular2] defaultHeaders getting bad request on json content type"
##### Description
I got this issue when i do a post and put

##### Suggest a Fix
I fixed this adding the follow line
this.defaultHeaders.append('Content-Type', 'application/json');
before
let headerParams = this.defaultHeaders;

Archive: DefaultApi.ts

[2016-08-22 01:56] adamcode commented on #3601
That's a good question on the content. When we looked it wasn't getting serialized as JSON. To tidy this up we added a model to wrap the value and the generation issue disappeared. This feels like an edge case to me so I'm happy to close this if you agree.

[2016-08-22 02:14] wing328 commented on #3601
@adamcode glad to hear that the issue has been resolved for you using "model"

[2016-08-22 02:14] #3601 closed

[2016-08-22 03:02] wing328 commented on #3611
@ralgor14 PR merged into master. Please pull the latest to give it a try.

[2016-08-22 03:02] #3611 closed

[2016-08-22 07:29] wing328 commented on #3621
@002 thanks for reporting the issue, which will be addressed by https://github.com/swagger-api/swagger-codegen/pull/3603

[2016-08-22 07:44] wing328 commented on #3620
@DCstewieG thanks for the feedback. I'm no expert in Typescript so I cannot speak on behalf of the Typescript developer community on which way is preferred. As you've pointed out, owners of the spec with only a few parameters in the API endpoint would tend to keep the current approach.

I would suggest making the enhancement a non-breaking change by using an option so that developers can choose wh

[2016-08-22 07:48] wing328 commented on #3618
I tried the `echo` spec but couldn't repeat the issue by running `mvn test` in the unzipped folder:
[code]
I think the issue may have to do with running the code in IntelliJ.

[2016-08-22 07:50] wing328 commented on #3617
@ShawnTuatara Thanks for the feedback. Are you aware of the option for `spring` as follows?
[code]

[2016-08-22 08:09] #3461 closed

[2016-08-22 08:24] ralgor14 commented on #3611
I do not see  this version under https://github.com/swagger-api/swagger-codegen
I can only download version 2.2.1 from 2016, Aug 7

[2016-08-22 08:31] wing328 commented on #3611
@ralgor14 please build the JAR locally (`mvn clean install`) before 2.2.2 (next stable release) is released.

[2016-08-22 09:29] ralgor14 commented on #3612
{
  "swagger": "2.2.1",
  "info": {
    "description": "demo",
    "version": "1.1.11",
    "title": "demo",
    "contact": {
      "name": "Ruth Algor",
      "email": "ruth_a@rad.com"
    }
  },
  "host": "A.B.C:8080",
  "basePath": "/y1731pm/v1",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/pm/pmsession": {
      "post": {
        "tags": [

[2016-08-22 09:32] ralgor14 commented on #3612
Above is the full spec. What is missing is the annotation @JsonProperty for get methods with  annotation @ApiModelProperty

[2016-08-22 09:37] ralgor14 commented on #3611
Because of security issues I cannot download maven into my host.
Could you please send me the compiler exe file just rename it from exe to something else?
Or even better create a temporary link for unreleased version that can be downloaded in the same way as a regular released version?

[2016-08-22 10:40] wing328 commented on #3611
Can you use https://generator.swagger.io? If yes, I can setup another online code generator to run the latest version of Swagger Codegen.

[2016-08-22 11:04] ralgor14 commented on #3611
I didn't succeed.
Following an input for swagger: Could you please compile it with your latest version and send me the Server->jaxrs created java files?
{
  "swagger": "2.2.1",
  "info": {
    "description": "demo",
    "version": "1.1.11",
    "title": "demo",
    "contact": {
      "name": "Ruth Algor",
      "email": "ruth_a@rad.com"
    }
  },
  "host": "A.B.C:8080",
  "basePath": "/y1731pm/v1

[2016-08-22 11:08] wing328 commented on #3609
@rebeccabauer thanks for the details in reporting the issue and showing the fix that you're using.

Currently I believe you can already set the access token in configuration.py without subclassing ApiClient: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/configuration.py

You're correct in saying that the current Python API client lacks metho

[2016-08-22 11:15] wing328 commented on #3400
The regular expression is now better handled via #3623

[2016-08-22 11:52] #3192 closed

[2016-08-22 11:52] wing328 commented on #3192
@philicious @YetAnotherMinion PR merged into master. Please pull the latest master to give it a try.

[2016-08-22 11:52] wing328 commented on #3192
Thanks again for the PR from @YetAnotherMinion

[2016-08-22 12:13] philicious commented on #3192
awesome @YetAnotherMinion ! I cant try myself right now but it would certainly make sense to also try with

[code]

but maybe only having `type: integer` is a `BaseIntegerProperty` and with a format specified its `IntegerProperty` and was working before already. cc @wing328

[2016-08-22 12:51] sebastianhaas commented on #3586
@darius-iko could you please try and see if #3603 fixes your issues?

[2016-08-22 13:38] wing328 commented on #3556
Closing this as there's no update.

[2016-08-22 13:38] #3556 closed

[2016-08-22 13:38] wing328 commented on #3555
Closing this as there's no update.

[2016-08-22 13:38] #3555 closed

[2016-08-22 13:39] wing328 commented on #3557
Closing this as there's no update.

[2016-08-22 13:39] #3557 closed

[2016-08-22 13:40] #3513 closed

[2016-08-22 13:41] wing328 commented on #3513
PR merged into master. Please pull the latest master for this enhancement.

[2016-08-22 13:43] wing328 commented on #3509
#3615 merged into master. Please pull the latest master and build the JAR locally to use the fix before stable version 2.2.2 is released.

[2016-08-22 13:43] #3509 closed

[2016-08-22 16:35] Emmpa commented on #3616
I could, but that seems like a work-around, when I believe the example provided is still valid swagger spec. And while the example is very simple, there are cases where I use an array model multiple times, so I would rather avoid code duplication. As I said though, the sed work-around works for now too.

[2016-08-22 17:50] rebeccabauer commented on #3609
@wing328, thanks for responding!  The problem with setting the access token in the configuration object is that ApiClient doesn't just use a single instance of Configuration - it creates a new instance every time a setting is needed, in init, update_params_for_auth, and __deserialize_file.  So currently, if we want to set the oauth token and have the change be reflected in the header, we have to s

[2016-08-22 18:10] degroves commented on #2487
@wing328 : I tried out the fix.  It looks good.  Thanks!

[2016-08-22 19:42] Emmpa commented on #3616
I'm noticing that this may be related to another problem where I have simple models defined without 'properties'. The following two models are not generated (but are referenced in numerous places):
[code]

[2016-08-22 23:50] YetAnotherMinion commented on #3069
@Danielku15 If you are not working on this I'd like to go ahead and take a crack at it.

[2016-08-23 01:47] wing328 commented on #3609
@rebeccabauer the configuration class is singleton: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/configuration.py#L41 so the same instance of configuration class should be used in init, update_params_for_auth, and __deserialize_file.

Which version of Swagger Codegen are you using to generate the Python API client?

[2016-08-23 02:06] pradeepkumarreddyk opened #3627 "volley timeout error in swagger generated code for android"
I'm getting the following exception by using swagger generated code for android:
------------------------------------------------------------------------------------------
java.util.concurrent.ExecutionException: com.android.volley.TimeoutError

The following is the swagger generated code :
---------------------------------------------------
try {
        String localVarResponse = apiInvoker.invok

[2016-08-23 04:14] pradeepkumarreddyk commented on #3627
I had increased the volley timeout value from 30 ms to 30 sec in the swagger generated code. Now it is working fine.

[2016-08-23 04:47] pradeepkumarreddyk opened #3628 "null pointer exception in networkResponse.statusCode"
The following is the swagger generated code for android:-
-----------------------------------------------------------------
try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return (Lxlresponse) ApiInvoker.deserialize(localVarResponse, "", Lx

[2016-08-23 06:25] ShawnTuatara commented on #3617
Yes I am aware but that only adds the required dependencies to have a Spring project that implements the APIs. There are a lot of cases where additional dependencies are required. It would be nice if it could have a way to define those dependencies as part of creating the the code.

[2016-08-23 06:44] cbornet commented on #3617
You can write a custom pom.mustache template to do that.

[2016-08-23 06:55] wing328 commented on #3617
To elaborate on the @cbornet answer a bit, one can pass customized mustache templates to swagger codegen via the `-t` option.

[2016-08-23 07:42] cbornet commented on #3497
Spring behaviour was copied from JAXRS which is to (group by base path)[https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaJerseyServerCodegen.java#L131] instead of tag

[2016-08-23 10:28] cbornet commented on #3544
It looks like the same as #3474 : we don't look in for the discriminator in allOf recursively. I'm working on something.

[2016-08-23 11:13] realjax opened #3629 "Java (spring) server code generation of allOf field in yml seems broken"
Using 'allOf' no longer produces classes that extend the allof reference.
Tested in the current master branch (2.2.2), trying to generate spring-mvc server code.
When using the live swagger editor (2.3.0) things work fine however.

[2016-08-23 11:54] realjax commented on #3629
It turns out this was caused because the discriminator field was left out.  Apparently this 'a_dds support for polymorphism_' and _'The property name used MUST be defined at this schema '_  in master (2.2.2) but is not needed in the live swagger editor (2.3.0)

[2016-08-23 12:40] cbornet commented on #3629
I'm working on this. Stay tuned !

[2016-08-23 12:52] iCEAGE opened #3631 "Integer type in JavaScript Client"
##### Description

Regarding to the commit 1dd8c2b, still integer type should should be kept IMO, as [JSON schema](http://json-schema.org/latest/json-schema-core.html#rfc.section.3.5) has a definition of integer type. Although, JavaScript only has [Number type](https://developer.mozilla.org/en-US/docs/Glossary/Number).

And of course, parseInt("1.3434") and parseFloat("1.3434") return different va

[2016-08-23 13:45] cbornet commented on #3629
Just a note though : the discriminator is needed to have polymorphism. If the parent model doesn't have it, then the child model will not extend it and will make a copy of its properties instead.

[2016-08-23 13:51] realjax commented on #3629
Well actually it didn't make copies either.

I came from version 2.1.6 where the discriminator was not needed in order to use polymorphism, only using 'allOf' would suffice.  And after bringing our fork up to 2.2.2 it suddenly broke :)

But what threw me off was that the live swagger editor ( http://editor.swagger.io/ ) doesn't require the use of the discriminator field either.

[2016-08-23 16:48] webron opened #3632 "Circular reference causes bug in c# client generation"
_From @ngzero on August 23, 2016 16:42_

The main problem occurs in the concrete Api in the Api-folder, not to be confused with the ClientApi.
In my example concrete Api is called ParticipantApi.

Try to create a new instance of the ParticipantApi to call a method of the api.

Even before the concrete ParticipantApi is called, the static value "Default" of type "Configuration" in the class "Config

[2016-08-23 17:10] mherb63 commented on #3509
I'm curious why you are converting the enum name to upper case.  This is recent new behavior which has broken our existing code.  Can you not use the enum value as the name (without uppercasing)?  That's how it was working up until about a month ago or so.

Thanks!

[2016-08-23 17:17] ShawnTuatara commented on #3617
That seems reasonable. I am curious if I was to use start.spring.io to build the initial project and "inject" the swagger dependencies into an existing pom, non-template, and the codegen adds the code to the project. Is that something that has been investigated? If not then the alternative would be to create a mustache template from the initial pom.xml that the start.spring.io project generates.

[2016-08-23 20:06] mherb63 opened #3633 "Integer type default ignored on Spring Server generation"
##### Description
When generating Spring Server code from swaggerhub, default value is not being generated.

The YAML:

[code]

The Spring generated code
[code]

##### Swagger-codegen version

swaggerhub.com as of 23-Aug-2016

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-08-24 03:03] wing328 commented on #3509
@mherb63 we do it to conform the enum naming convention in Java: http://docs.oracle.com/javase/tutorial/java/javaOO/enum.html, http://stackoverflow.com/a/3069863/677735

[2016-08-24 03:21] wing328 commented on #3628
@pradeepkumarreddyk thanks for reporting the issue. The address it, we need to do a null check for networkResponse before accessing the `statusCode`. If networkResponse is null, we will pass the status code as 0.

May I know if you've cycle to contribute the enhancement?

[2016-08-24 03:24] wing328 commented on #3631
@iCEAGE can you share a use case with a spec in which mapping `integer` to `Number` in JS is causing issue?

[2016-08-24 06:45] Shruti-R opened #3634 "[Ruby] Rakefile for running multiple test cases"
##### Description
I would like to run multiple test cases written using minitest; it would be good to have Rakefile generated for the same to that rake task can be incorporated to run all the test cases.
[code]

##### Swagger-codegen version
Version 2.1.5

[2016-08-24 06:56] pradeepkumarreddyk commented on #3627
Again i'm getting volley timeout error. I'm getting following exception : "java.util.concurrent.ExecutionException: com.android.volley.TimeoutError"
I think the problem is not with the timeout value, but because of some other reason.

[2016-08-24 06:57] wing328 commented on #3634
@Shruti-R I believe starting from stable version v2.1.6, Ruby client generator also outputs rspec (not minitest) test cases for the Ruby API client. Have you checked that out?

You can simply run `rspec` to run all the tests under the `spec` folder.

[2016-08-24 06:59] wing328 commented on #3627
@pradeepkumarreddyk can you try the Java API client to see if you still face the timeout issue? https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-08-24 07:04] wing328 commented on #3627
You may also want to check the server log (if possible) to see if there's any clue.

[2016-08-24 07:56] sidhantgoyal opened #3635 "[Android] Volley configurable socket connection timeout"
##### Description
The volley version of Android code does not have configurable socket connection timeout and it is fixed to 2.5s https://android.googlesource.com/platform/frameworks/volley/+/master/src/main/java/com/android/volley/DefaultRetryPolicy.java#36
It is resulting in timeouts.

##### Suggest a Fix
One suggestion to make socket connection timeout configurable is to override the setRetryPo

[2016-08-24 08:38] sidhantgoyal commented on #3627
I think the problem is socket connection timeout. Possibly related to https://github.com/swagger-api/swagger-codegen/issues/3635

[2016-08-24 08:47] pradeepkumarreddyk commented on #3627
at the server side i'm not even receiving the request. so server log is not generated at all.

[2016-08-24 09:01] pradeepkumarreddyk commented on #3628
i did not understand. what is cycle to contribute the bug fix ?

[2016-08-24 09:37] cbornet opened #3636 "[All] Add a supportsMixin property to codegens"
* currently if supportsInheritance is true, the properties from parent and interfaces will not be included in vars.
* currently if supportsInheritance is true, the properties from self, parent and interfaces will all be included in allVars.
* this works well for Javascript because it uses some "mixin" import mecanism
* this should also work well for languages that support mixins/multi-inheritance

[2016-08-24 11:18] pradeepkumarreddyk commented on #3627
I have generated the code for java using the following command :
java -jar swagger-codegen-cli.jar generate -i input.yml -l java --library=okhttp-gson -o out_directory -c config.json

can you provide some sample code to use this generated code and see if i still get the timeout issue

[2016-08-24 13:35] cbornet commented on #1568
I think it's already possible with ```{{#parentModel}}{{#allVars}}```

[2016-08-24 15:16] wing328 commented on #3627
It seems to me it's more likely a network issue.

[2016-08-24 15:16] wing328 commented on #3627
The SDK comes with the doc. You can upload it to github (using git_push.sh) and follow the README.md

[2016-08-24 16:56] rebeccabauer commented on #3609
Thanks for pointing that out - I completely missed the singleton decorator.  OAuth2 headers are working for me now!

[2016-08-24 17:18] pixelshaded commented on #3474
I am also getting this for typescript-node and typescript-angular. I'm guessing these changes to swagger-parser will affect every language since the responsibility of finding the parent has changed locations.

[2016-08-24 19:42] michaelkourlas opened #3638 "Generated Java APIs incorrectly encode commas in certain query parameters"
##### Description

For a query parameter of type "array" and collectionFormat "csv", the Java generated API percent-encodes the commas that separate the individual values. This is incorrect behaviour, as the commas are used as delimiters, not data, and should not be encoded.

For example, the following:
[code]
becomes:
[code]

##### Swagger-codegen version

2.2.0

##### Swagger declaration file co

[2016-08-24 21:21] rgarcia opened #3639 "[javascript client] constructFromObject calls undefined function constructFromObject on enums"
##### Description

When constructing an object, the generated javascript client recursively calls constructFromObject on enum types. This method is not defined on enum types.

##### Swagger-codegen version

Latest master (8c2267cd3db5c0a3162fd377752a0216a2b040ee)

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`java -jar modules/swagger-codegen-cli/t

[2016-08-24 22:52] #3639 closed

[2016-08-25 01:43] ojongerius commented on #2330
@neilotoole how did you go with your test? What is the point that [issue #19](https://github.com/google/go-github/issues/19) did not consider?

[2016-08-25 03:15] loganvolkers opened #3641 "[Typescript-Fetch] Support for default params"
##### Description

Typescript-Fetch does not currently generate any code to help with default parameters in methods, but Typescript and ES6 have support for [default parameters](https://www.typescriptlang.org/docs/handbook/functions.html#optional-and-default-parameters).

Implementing default parameters can help improve the usability of generated specs.

##### Swagger-codegen version

2.2.1

#####

[2016-08-25 03:16] rmharris157 opened #3642 "[Spring] apiPackage not being honored up in swagger-codegen-maven-plugin"
##### Description

It looks like in 2.2.1, even though I'm explicitly declaring an apiPackage in the configuration stanza of the maven plugin, the "supporting files" are still being generated with a package of io.swagger even though the api's are being generated with the correct package. Further, the @ComponentScan line in Swagger2SpringBoot is being populated with io.swagger.

##### Swagger-codeg

[2016-08-25 04:07] wing328 commented on #3634
@Shruti-R if you want to contribute a Rakefile to perform various tasks, we welcome the contribution and let me know if you need help with the PR.

[2016-08-25 07:16] erdarun opened #3643 "Swagger CodeGen Https SSL/TLS Connectivity"
##### Description

Need to create swagger codegen client for java, javascript pointing to swagger yaml published on https.

When tried below command got SSLHandshakeError.

"swagger-codegen generate -i https://<IP>:443/api/swagger.yaml -l java -o java-api/."

Also when swagger codegen generates client will it have Mutual SSL/TLS code for https swagger spec url?

##### Swagger-codegen version

2.1.

[2016-08-25 07:46] cbornet commented on #3643
As a workaround, you could first download the spec with a tool like curl

[2016-08-25 08:24] pradeepkumarreddyk commented on #3627
it was a network issue. my device was not connected to the same wifi to which server was connected.

[2016-08-25 08:24] #3627 closed

[2016-08-25 09:59] tomtit commented on #3386
Nope, this is just a workaround. I don't want to expose any internal ports when I run `swagger-generator` as a part of the `docker-compose` project.

[2016-08-25 11:34] #3477 closed

[2016-08-25 15:04] AmandaCameron opened #3644 "Go generation is somewhat broken."
##### Description

- [ ] Swagger types that are free-form, such as the generator API's `GeneratorInput.Spec` field are being encoded as an undefined type `Object` -- I'd recommend these get defined as `interface{}`
- [ ] Non-JSON returning functions, such as `ClientsApi.DownloadFile` are always returning an error due to trying to unmarshal a non-json type.

##### Swagger-codegen version

Docker im

[2016-08-26 02:13] wing328 commented on #3644
Please provide a spec for reproducing the issue.

[2016-08-26 02:19] wing328 commented on #3642
@rmharris157 can you try putting the `apiPackage` inside `configOptions` instead?

[2016-08-26 02:24] wing328 commented on #3641
@loganvolkers thanks for the suggestion. If the default parameter support is only available in ES6 but not ES5, then I suggest we leverage an existing option `supportsES6` when implementing the feature.

May I know if you've cycle to contribute the enhancement?

[2016-08-26 02:27] AmandaCameron commented on #3644
http://generator.swagger.io/api/swagger.json causes both of the issues I've
mentioned in this issue.

On Thu, Aug 25, 2016, 22:16 wing328 <notifications@github.com> wrote:

[2016-08-26 02:32] wing328 commented on #3644
Thanks. @guohuang when you've time, would you please take a look?

[2016-08-26 02:41] wing328 commented on #3633
I think that's because `integer` without format corresponds to [BaseIntegerProperty](https://github.com/swagger-api/swagger-core/blob/0d72a72c33021e03a9876dc45d2656d11604037e/modules/swagger-models/src/main/java/io/swagger/models/properties/BaseIntegerProperty.java), which does not have any field to store the default value.

If you add format `int32` to the property, would that work around the iss

[2016-08-26 03:31] loganvolkers commented on #3641
Yeah, I have some cycles and was planning to take a swing at it.

As for the ES6 vs ES5, there's some details on which is supported [here](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Default_parameters) but that shouldn't matter.

Since default parameters are in Typescript, they should get compiled automatically to ES5 or ES6 by the typescript compiler (`tsc`) when it

[2016-08-26 03:38] wing328 commented on #3641
@loganvolkers thanks 😄

https://github.com/swagger-api/swagger-codegen/pull/2758 may serve as a good PR for reference

[2016-08-26 07:17] cbornet commented on #3642
Seems that it is "basePackage" in Spring codegen.

[2016-08-26 08:07] wing328 commented on #3642
@cbornet is right
[code]
For all options, please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l spring`

[2016-08-26 11:02] zbiro opened #3647 "Empty model objects are not deserialized correctly in generated python client"
##### Description

Empty model objects are not deserialized correctly in generated python client.
When a referenced model entity does not contain any property (it is just an alias to a field) deserialization in generated python client does not work properly.
With the example bellow instead of the string value the resonse will contain an empty Message object (with a 'swagger_types' and 'attribute_m

[2016-08-26 14:15] Szdnez opened #3648 "Problems with parsing datetime on serverside with generated serverside and clientside Java code"
##### Description

I have a swagger definition like below and generated serverside code and generated client side code with the swagger editor, run the server code and try to call the get-method, it always results in a failure that the called method could not be found.
When you debug on serverside you can see, that the problem is the parsing of the datetime parameter, a format exception is thrown

[2016-08-26 14:52] mherb63 commented on #3633
Yes, that works great.  Thanks!

[2016-08-26 14:52] #3633 closed

[2016-08-26 15:00] cbornet commented on #3648
Can you paste your request payload ?

[2016-08-26 15:09] Szdnez commented on #3648
Where can I see it or where I hav to set a break point to copy it? I can not see it in console per default or something like that.

[2016-08-26 15:18] wing328 commented on #3647
Setting $ref to property/field definition (not model) is not supported by the swagger parser at the moment.

Please define the response type as `string` inline.

[2016-08-26 15:21] cbornet commented on #3648
I didn't understand that you were using the codegen for both client and server.
You can forget my question.

[2016-08-26 15:52] zbiro commented on #3647
I found a workaround (fix?) for this issue. If the commented block is inserted to api_client.py then the mentioned blocks are filled properly.

[code]

[2016-08-26 21:45] rmharris157 commented on #3642
OK; that and moving it into <configOptions> fixed it. Thanks for the help!

[2016-08-26 21:45] #3642 closed

[2016-08-27 12:31] #2964 closed

[2016-08-27 12:31] #2839 closed

[2016-08-27 12:32] wing328 commented on #3342
Closed via #3382

[2016-08-27 12:32] #3342 closed

[2016-08-27 16:00] Herst commented on #2807
Duplicate of #479 and #3436.

[2016-08-27 16:00] Herst commented on #3436
Duplicate of #479.

[2016-08-27 16:08] Herst opened #3651 "[HTML2] Not making use of method summaries"
##### Description

Generator "HTML2" is doing nothing using method summaries (unlike generator "HTML" or `bootprint-openapi`).

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]
"FOOBAR" is nowhere to be found in the resulting document.

##### Suggest a Fix

Display it above the description.

[2016-08-28 07:11] wing328 commented on #3647
@zbiro thanks for suggestion a fix. I think your fix essentially performs a check/validation to see if `data` is a model.

May I know if you've time to submit a PR so that CIs can verify the change?

[2016-08-28 10:04] amannn opened #3654 "[JavaScript] Promise client doesn't return response headers"
##### Description

I'm using Swagger with an API that allows for a request like HEAD /books which returns the number of books available as a response header.

The generated JavaScript Promise client doesn't return that information. It would help if it would at least provide a way to get access to the raw response object, so I could read the headers myself.

The swagger documentation suggests to ca

[2016-08-28 13:11] wing328 commented on #3586
@darius-iko #3603 has been merged into master. Please pull the latest to give it a try.

If the issue still occurs, we'll reopen this issue.

[2016-08-28 13:11] #3586 closed

[2016-08-28 13:12] wing328 commented on #3621
#3603 has been merged into master. Please pull the latest master to give it a try.

[2016-08-28 13:12] #3621 closed

[2016-08-28 13:45] scop commented on #2715
I guess Android is already done.

[2016-08-28 13:46] wing328 commented on #2715
@scop yes, via #2376. Just updated the list.

[2016-08-28 13:48] wing328 commented on #3651
@Herst thanks for the suggestion. May I know if you've time to contribute the enhancement?

cc @jhitchcock

[2016-08-28 16:06] wing328 commented on #3654
@amannn thanks for the feedback. For other clients (e.g. PHP, Ruby, Python, etc), there's an additional "WithHttpInfo" method to get not only the list of HTTP response headers but also the HTTP status code. Here is an example for PHP:

[getPetById](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Api/PetApi.php#L463)

[getPetByIdWithHttpI

[2016-08-28 19:53] amannn commented on #3654
Thanks for the quick response! I had a look at that PHP function. That looks pretty good to me, would be great to have a similar function signature for the JS client.

[2016-08-29 00:48] MitchellBurton commented on #2963
I would like to second @xtoddx's sentiment. This is tantamount to my compiler or code editor enforcing a licence on the code I write.

It it claimed that I can "do what you want" with the generated code, but there is no documentation telling me that I can "do what you want" with the code other than a tweet and some hard to find Github issues.

The files themselves say: "may not use this file excep

[2016-08-29 02:28] wing328 commented on #3654
@amannn may I know if you've time to contribute the enhancement?

[2016-08-29 04:08] fehguy commented on #2963
Well, to be clear, the intent is that you can do anything you want with the generated files, period.  This is no trick, but if someone wants to get a legal opinion on how to update the repository to make this 100% clear, I'd be happy to see if we can follow their recommendations.

Saying that the templates _must_ have the license in them is silly.  You can use your own templates with the `-t` argu

[2016-08-29 07:10] jfuentescpp commented on #2503
Is this still an open issue? I got "com.wordnik.swagger" on my generated async-scala client.

[2016-08-29 08:16] Herst commented on #3651
I have limited time but it might be certainly worth to me to contribute, but I'm not sure yet whether the `HTML` generator or `HTML2` generator or `bootprint-openapi` fit my needs best yet, so first I'm going to finalize my definition and collect/report bugs on the way.

[2016-08-29 08:21] wing328 commented on #2503
@jfuentescpp I don't think ""com.wordnik.swagger" has been renamed and published to maven repo.

[2016-08-29 08:50] infastra opened #3659 "[JAVA] How to parse OAuth2Definition into code"
I'm trying to generate code Java-code from a RESTful API by using swagger-codegen-plugin (in maven). The converting of messages and api-clients works. Only the creation of OAuth2-Objects doesn't run as aspected. Either authorizationUrl nor tokenUrl I will found in the generated code. Do I have to make some settings in the configuration? The basefile of the swagger-application describes the definit

[2016-08-29 08:53] Herst opened #3660 "[HTML2] Not making use of method examples"
##### Description

Examples for parameters or return values are nowhere to be found in the resulting document.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

[2016-08-29 08:57] Herst opened #3661 "[HTML] Multi-line examples aren't displayed multi-line"
##### Description

Multi-line example return data isn't displayed as multi-line.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Expected Result:

`"foo
bar"`

##### Result:

`"foo\nbar\n"`

[2016-08-29 09:18] Herst opened #3662 "[HTML] Not making use of parameter value examples"
##### Description

Not making use of parameter value examples.

Especially for `in: body` stuff this would be quite important for documentation purposes.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

`foo` is nowhere to be found.

[2016-08-29 10:04] SangeetaGulia opened #3663 "Unable to configure for PropertyNamingStrategy for sdk generated in scala from swagger-codegen."
Originally, in ScalaUtilJson Object(in generated SDK) we are getting :

object ScalaJsonUtil {
  def getJsonMapper = {
    val mapper = new ObjectMapper()
    mapper.registerModule(new DefaultScalaModule())
    mapper.registerModule(new JodaModule());
    mapper.setSerializationInclusion(JsonInclude.Include.NON_NULL);
    mapper.setSerializationInclusion(JsonInclude.Include.NON_DEFAULT)
    mapper

[2016-08-29 10:56] jyotsnakaran opened #3664 "Codegen not generating valid code for optional parameters"
##### Description

I am trying to generate swagger scala sdk, but problem I am facing is in generating right sdk for api's those accept some optional parameters

This is how my routes swagger spec looks like :

![image](https://cloud.githubusercontent.com/assets/10650963/18048748/bbf03742-6e01-11e6-93b4-fdc4f0b83e6f.png)

But the method params generated for the corresponding route is :

`def optio

[2016-08-29 11:05] jyotsnakaran opened #3665 "Codegen not generating valid code for optional parameters for SCALA"
##### Description

I am trying to generate swagger scala sdk, but problem I am facing is in generating right sdk for api's those accept some optional parameters

This is how my routes swagger spec looks like :

![image](https://cloud.githubusercontent.com/assets/10650963/18048748/bbf03742-6e01-11e6-93b4-fdc4f0b83e6f.png)

But the method params generated for the corresponding route is :

`def optio

[2016-08-29 11:50] jyotsnakaran commented on #3664
Duplicate: #3665

[2016-08-29 11:50] #3664 closed

[2016-08-29 12:29] wearpants commented on #2963
You need a lawyer's opinion.

[2016-08-29 13:41] zjarkov opened #3667 "[Python] Incorrect code generated for integer properties with enum"
##### Description

Data type of enum items in Python generated code for property setter does not match to given yaml/json datatype (and/or expected type of property). It leads to permanent validation failures.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

_yaml_
[code]

_json_
[code]

##### Produced code

[code]

##### Expected code
[code]

##### Command lin

[2016-08-29 17:55] maneeshsahu opened #3670 "Enhancement | Tizen | Make prefix an optional parameter"
##### Description

The Prefix in the TizenClientCodegen is hard-coded to Sami. Need to make this a optional parameter, and default the value to SWG like in the ObjC codegen

##### Swagger-codegen version

2.2.2-SNAPSHOT

[2016-08-29 17:59] maneeshsahu commented on #3670
@wing328 Can I push my commits directly, or do I need to create a PR?

[2016-08-29 19:04] equinox2k opened #3673 "Duplicate object created in core + model folders"
##### Description

Duplicate object created in core + model folders
##### Swagger-codegen version

v2.3.0
##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i https://cosus-mobile-api.pnimedia.com/swagger/docs/v3 -l objc -o /Users/ptribe/Documents/Api
##### Steps to reproduce

Running the above command line creates two classes of

[2016-08-29 19:31] scottrw93 commented on #3667
@wing328 Looking at the code [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/model.mustache#L63) all enum values are treated as strings. How should maps be handled? Should it just check the values are a subset of the enumerator values?

[2016-08-29 23:53] maneeshsahu opened #3674 "Java Codegen in Android sending incorrect content-length on POST"
##### Description

I am using the gson/okhttp Java codegen. When I exercise a POST Java call in Android Studio, I get this error

`client.ApiException: java.net.ProtocolException: unexpected end of stream
08-29 16:42:43.451 24498-26385/cloud.artik.example.hellocloud W/System.err:     at cloud.artik.client.ApiClient$1.onFailure(ApiClient.java:1014)
08-29 16:42:43.451 24498-26385/cloud.artik.example

[2016-08-30 01:03] akhilkedia commented on #3670
The variable String PREFIX is indeed assigned the value "Sami", however the prefix is actually never used anywhere.
The Prefix was abandoned to give the files a "cleaner" file name.

[2016-08-30 02:15] wing328 commented on #3670
@maneeshsahu please create a PR for any change/fix. Please also pull the latest 2.3.0 branch as https://github.com/swagger-api/swagger-codegen/pull/3666 has been merged into 2.3.0 instead of master.

[2016-08-30 02:36] wing328 commented on #3674
@maneeshsahu thanks for reporting the issue. As a workaround, can you please try the `retrofit2` Java library (instead of `okhttp-gson`) and `android` generator?

[2016-08-30 06:58] amannn commented on #3654
Currently I'm sadly not able to. But if I'm the only one interested in this feature, maybe you can just leave the issue open so I might help in the future.

[2016-08-30 07:40] arpitkulria opened #3675 "Add 'modelPropertyNaming' option for Scala"
##### Description
This option is already in type script but don't have for scala, this is used while generating case classes and maintain its casing.
Currently it is set to camel case.

##### Suggest a Fix
Will be creating a PR for this (only option).

[2016-08-30 07:48] arpitkulria commented on #3675
PR for the same #3676

[2016-08-30 11:04] jyotsnakaran commented on #3665
PR for same: #3677

[2016-08-30 13:23] fayndee opened #3678 "[swagger-codegen-maven-plugin:2.2.1] Use both java8 date-time and model name suffix will result wrong date-time class name"
##### Description

When using `swagger-codegen-maven-plugin:2.2.1`, if both `dateLibrary=java8` and `modelNameSuffix=Resource` options are specified, it will accidentally generate fields with type for example: `OffsetDateTimeResource`.
##### Swagger-codegen version

2.2.1
##### Command line used for generation

Maven config:

[code]
##### Steps to reproduce

Run `mvn package`.

[2016-08-30 14:49] mherb63 commented on #3509
I just discovered another side effect of the uppercasing.  The Model Schema on the Swagger UI page shows the lowercase version.  Notice the "interval" below:

![image](https://cloud.githubusercontent.com/assets/1205814/18093705/c9d07cc6-6e9e-11e6-982b-e509f8bdf709.png)

and the generated Spring server code:

![image](https://cloud.githubusercontent.com/assets/1205814/18093873/6a1c4fde-6e9f-11e6-83

[2016-08-30 15:48] wing328 commented on #3509
I believe the "Model Schema" shows the JSON presentation of the model.

[2016-08-30 15:56] mherb63 commented on #3509
yea but the Enums should be all caps there, otherwise it fails.  For example:

![image](https://cloud.githubusercontent.com/assets/1205814/18096587/b40ef70a-6ea8-11e6-9866-6ddc6e20834d.png)

[2016-08-30 15:58] wing328 commented on #3509
Did you get the error using the latest master, which should have addressed the deserialization for `spring` model with enum property if I'm not mistaken?

[2016-08-30 16:14] mherb63 commented on #3509
I generated the code from Swagger hub on Aug 24th (6 days ago).  What new code did you add that I can check if its there?

[2016-08-30 16:15] wing328 commented on #3509
We added the `fromValue` static method. e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/spring-mvc/src/main/java/io/swagger/model/EnumTest.java#L38

[2016-08-30 16:21] mherb63 commented on #3509
I just generated our code from swaggerhub and I'm not seeing any fromValue method.

[code]

Michaels-iMac:spring-server-generated mherb$ pwd
/Users/mherb/Downloads/spring-server-generated
Michaels-iMac:spring-server-generated mherb$ find . -name *.java | xargs grep -i fromValue
Michaels-iMac:spring-server-generated mherb$

[2016-08-30 16:23] wing328 commented on #3509
I don't think SwaggerHub is using the latest master of Swagger Codegen.

[2016-08-30 16:33] wing328 commented on #3678
@fayndee thanks for reporting the issue.

cc @cbornet

[2016-08-30 22:23] demonfiddler commented on #3636
Apologies for the delay in responding – have been swamped both at work and at home.

For the first bullet I think you meant “currently if supportsInheritance is false, the properties from parent and interfaces will not be included in vars.”

I see what you mean in the Java case. It is true that Mustache templates, being logic-less, require all business logic to be implemented by the caller. If you

[2016-08-31 00:46] eehsan opened #3679 "..."

[2016-08-31 03:06] wing328 commented on #3673
@equinox2k thanks for reporting the issue.

@mateuszmackowiak would you please take a look when you've time?

[2016-08-31 03:11] wing328 commented on #3667
@scottrw93 yes, for Python enum, it needs some work to make it support integer enum similar to what we've done for Java, PHP, etc.

For containers (map, list), it should check to ensure the values are a subset of the enumerator values.

[2016-08-31 03:46] ThePhantasm opened #3680 "[codegen] codegen for aspnet5 consistently produces incorrectly solution file"
##### Description

[codegen] [aspnet5] codegen for aspnet5 consistently produces incorrectly solution file

Solution file starts with:
├»┬╗┬┐├»┬╗┬┐
Microsoft Visual Studio Solution File, Format Version 12.00

##### Swagger-codegen version
swagger-codegen-cli-2.2.1
(likely a regression)

##### Swagger declaration file content or url

I can post the json I used, but the sample from
http://editor.swa

[2016-08-31 04:03] wing328 commented on #3680
@ThePhantasm thanks for reporting the issue but I couldn't repeat the issue with Xamarin on Mac (I don't have VS 2015).

If you remove the first line (├»┬╗┬┐├»┬╗┬┐), does the issue go away?

If you clone this project, can you open `samples/server/petstore/aspnet5/IO.Swagger.sln`?

[2016-08-31 04:18] ThePhantasm commented on #3680
No - that .sln fails to open as well.  I'm checking to see if it's possibly a missing set of updates to VS 2015.

[2016-08-31 04:39] ThePhantasm commented on #3680
Nope - same issue.  VS2015 says that the solution file is corrupt.

[2016-08-31 04:48] wing328 commented on #3680
If you've time, please download Xamarin to give it a try to see if the issue is "Windows" only.

cc @jimschubert

[2016-08-31 06:14] geetikagupta16 opened #3681 "Add "modelPropertyNaming" config option for java"
##### Description

This issue is concerned with adding a new config option for java language. This option is already available for other languages. This option is used while naming the class variables for java, default value for this is set to camelCase.

##### Suggest a Fix

Can have a function to check for the "modelPropertyNaming" option and set the parameter name accordingly.

[2016-08-31 06:21] wing328 commented on #3681
Not all generators need the `modelNamingProperty` option, which was introduced for the Typescript generators as Typescript API client does not support mapping between model's properties and JSON key name.

The current property naming convention for Java should conform to the Java style guide.

[2016-08-31 06:38] wing328 opened #3682 "[PHP][Lumne] Issue with `pattern` (regular expression) in PHP Lumen"
##### Description

Issue with `pattern` (regular expression) in PHP Lumen.
[code]
https://github.com/swagger-api/swagger-codegen/blob/2ced9e1deb70027d21d2c243e36ab888788bed57/samples/server/petstore/lumen/lib/app/Http/Controllers/FakeApi.php#L106

##### Swagger-codegen version

Latest master (Aug 2016)

[2016-08-31 06:57] geetikagupta16 commented on #3681
There can be scenarios when our json response is in snake_case while our model's class variables have camelCasing, so to overcome that problem we can use this option for json mapping.

[2016-08-31 07:01] wing328 commented on #3681
We already took care of that scenario, which means the mapping should already work in the existing Java client (no matter what HTTP library you used: jersey, jersey2, okhttp-gson, retrofit, retrofit2)

If you did find an issue with the mapping, please provide details (e.g. spec to reproduce the issue, etc)

[2016-08-31 10:26] wing328 commented on #3675
Instead of changing the model property naming convention, what about using a scala lib that can handle the mapping between model property name and JSON key name? e.g. https://github.com/spray/spray-json

[2016-08-31 10:47] jimschubert commented on #3680
@ThePhantasm can you post your VS 2015 version info? When I last worked on the aspnet5 generator, I seem to recall that I opened the project by the solution file in VS 2015. However, I rarely use Windows so I can go for weeks or months without boring into my VM or updating Visual Studio. If like to evaluate against the same version.

Also, a couple of other questions... Do you have any non-English

[2016-08-31 10:50] arpitkulria commented on #3675
@wing328 Yeah, that's a valid point, but we are changing nothing, just giving users another option to work with.
What I am trying to have the ability to make model property naming convention configurable instead of only camel case.

[2016-08-31 11:16] wing328 commented on #3675
But naming the property in other naming convention (e.g. snake_case) will not conform to the Scala style guide: http://docs.scala-lang.org/style/naming-conventions.html

Also for Json key name with special characters such as dash (e.g. created-at), that won't work without a proper lib to handle the mapping.

[2016-08-31 11:32] arpitkulria commented on #3675
Yeah, completely with you on this point, but flexibility is always an add-on :)

[2016-08-31 11:59] jhitchcock commented on #3651
Hey Guys, I'll pick this up ASAP :)

[2016-08-31 15:32] ThePhantasm commented on #3680
Visual Studio 2015 - 14.0.25424.00 Update 3
I tried against swagger-codegen 2.2.0 as well.  Same issue.
I'll try Xamarin now.

[2016-08-31 16:41] ThePhantasm commented on #3680
Aha, I think I have it!  The issue is that the generated solution file is missing the project hash in its declaration.

Project("{8BB2217D-0F2D-49D1-97BC-3654ED321F3B}") = "IO.Swagger", "src\IO.Swagger\IO.Swagger.xproj", **""**
EndProject

The "" is what is causing VS to choke.  It needs the project hash (which is written below in the project) in the ""

Project("{8BB2217D-0F2D-49D1-97BC-3654ED321

[2016-08-31 17:11] jtnystrom opened #3686 "[Scala] Path parameters not handled correctly in Scalatra server"
##### Description

Path parameters lead to generated code that produces exceptions at runtime.
E.g. this kind of parameter:

[code]

Produces this code in the Scalatra server:
[code]

Which gives this exception at runtime:

[code]

The correct generated code, to avoid this exception, is probably:

[code]

This is in the latest snapshot from GitHub.

[2016-08-31 18:39] ThePhantasm commented on #3680
Ok, the .xproj has the same basic issue as the solution file - missing guid.  The shipped .xproj with 2.2.0 has this line in the .xproj

    <PropertyGroup Label="Globals">
        <ProjectGuid></ProjectGuid>

That guid needs to be filled out for Visual Studio to be able to load the files.

If someone can point me at the roughly approximate file that generates these files, I'm happy to update the

[2016-08-31 19:05] neilotoole opened #3687 "[Go] [Bug] The resty client outputs log message into stderr by default"
##### Description

If a network error occurs, e.g. `connection refused`, then the resty client will use its default logger (which logs to `os.Stderr`) to log an error message. This is not correct behavior, as the app invoking the generated code should be the entity to decide how to log messages.

##### Swagger-codegen version

`master`

##### Steps to reproduce

Invoke the generated Go client, tar

[2016-08-31 20:39] mikeholler opened #3688 "Add support for threetenbp datetime library for clients [Java]"
Swagger currently provides code generation options for `java.util.Date`, `java.time`, and `joda`. Joda has shown to be lacking in some ways (notably only allowing for millisecond precision).

Android developers like myself (and developers on other systems constrained by Java version pre-1.8) needing microsecond or nanosecond precision, and developers hoping to migrate to Java 8 someday, have taken

[2016-08-31 20:50] cbornet commented on #3688
Interesting. That would  replace joda I guess...

[2016-08-31 21:14] mikeholler commented on #3688
I don't know that it has to replace `joda-time`, since tons of people still use it. More of an addition than a replacement is what I'd think would be best.

[2016-08-31 23:51] neilotoole opened #3690 "[Go] Add fields URL, Method, Payload, and Operation to APIResponse"
##### Description

As it currently stands, there's no mechanism for a client of the generated code to determine what URL, HTTP method, or swagger operation was invoked when examining the returned `APIResponse` object. This information is readily available, and is useful for the client for debugging/logging. Additionally, because the generated code does not currently handle swagger-specified errors

[2016-08-31 23:57] neilotoole opened #3691 "[Go] [Bug] APIResponse should not embed a pointer to *http.Response"
##### Description

`APIResponse` currently embeds a `*http.Response`, which leads to unexpected behavior. If it's embedding a pointer, then it should be named. As it currently stands, one can receive a `*APIResponse` object which is not `nil`, but the `http.Response` pointer is nil. This leads to behavior where `myAPIResponse != nil` evaluates to `true`, but `myAPIResponse.Status` results in a pan

[2016-09-01 00:28] neilotoole opened #3692 "[Bug] Remove license header from code generator templates"
##### Description

There is no legal basis (or desired behavior) for generated code to include any sort of license header.

##### Swagger-codegen version

`master`

##### Suggest a Fix

Remove license headers from all language templates.

[2016-09-01 03:30] wing328 commented on #3692
Duplicated with #2963. Let's use that one for tracking and discussion instead.

[2016-09-01 03:30] #3692 closed

[2016-09-01 08:59] razalur opened #3693 "Swift language generation error"
##### Description

Hello! I'm trying to generate swift code such as:
[code]

But I have an error:
[code]

Can't understand why so. My json is valid and the same operation for objective-c language was finished correctly.

My swagger-codegen's version is 2.2.2

[2016-09-01 09:50] wing328 commented on #3680
@ThePhantasm thanks for offering help to fix the issue. Here are the location of the files:

- https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/Project.mustache
- https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/TestProject.mustache
- https://github.com/swagger-api/swagger-codege

[2016-09-01 10:18] Edubits commented on #3693
Thanks for reporting the issue @razalur. Could you attach the relevant part of the Swagger json?

[2016-09-01 10:22] #3675 closed

[2016-09-01 10:22] wing328 commented on #3675
@arpitkulria the PR has been merged into master. May I know if you've time to add the support of `spray-json` for Scala API client?

[2016-09-01 10:24] wing328 commented on #3686
@jtnystrom thanks for reporting the issue. I've a fix which should address the issue. Will submit a PR soon but would need your help to verify the fix.

[2016-09-01 10:29] arpitkulria commented on #3675
@wing328 Thanks and sure, I'll try. :)

[2016-09-01 11:53] Szdnez commented on #3648
Besides of this issue I also found another bug. Outgoing strings of timestamps from server to client (on server-side _java.util.Date_) does not fulfill the RFC requirements. There should be a : between hours and minutes in the offset. But it is missing. For example you get 2016-09-01T06:00:00.000+0000 instead of 2016-09-01T06:00:00.000+00**:**00.

[2016-09-01 12:29] cbornet commented on #3648
Yes. That's because the JAX-RS template uses the mapper from io.swagger.uti.Json which doesn't change the default Date format. And the default Date format is "yyyy-MM-dd'T'HH:mm:ss.SSSZ" which is not rfc1339 compatible (should be ""yyyy-MM-dd'T'HH:mm:ss.SSSXXX"). That's indeed a bug.
I guess that's the same issue for client to JAX-RS requests.

[2016-09-01 12:29] razalur commented on #3693
I'm trying to generate by this json code:
[code]

[2016-09-01 12:33] ataraxus opened #3695 "TypeScript Angular2 wrong Map usage"
##### Description

Hello, I'm using the editor.swagger.io for code generation. I stumbled upon this: If you define formData parameter the api client generates following code:
`formParams['key'] = value;`
which leds to an empty request, since later on the request parameters are derived by;
`requestOptions.body = formParams.toString();`
The 'correct' usage of the TS Map interface would be:
`formPara

[2016-09-01 12:37] cbornet commented on #3648
And also the JAX-RS codegen doesn't support date (without time) type if you use java.util.Date as dateLibrary.
I advise to generate the JAX-RS server code with --dateLibrary=joda (or even better : java8 if you can).
@wing328 shouldn't we make joda the default date lib for JAX-RS ?

[2016-09-01 12:44] Szdnez commented on #3648
@cbornet I think so too. The problem is the usage of _java.util.Date_, where the string-handling is not compatibel to RFC-format.
Til now I only use the editor from _swagger.io_ and its generation. There is no possibility to set any parameter.

[2016-09-01 13:16] geetikagupta16 commented on #3681
What I am trying to do is to map the response Json into the model's classes.
My response case classes are represented in camelCase and json response are in snake_case.
For example:
case class Person(firstName: String)
Response format :
{
first_name : "abcd"
}
and the generated SDK for java is unable to map the response back into the model's classes.

The model classes that I get from the SDK using

[2016-09-01 13:25] NaturalWill opened #3696 "Underline in parameter‘s name will be delete when converting yaml file to Html2 in swagger online editor"
##### Description

Hello,

I am converting my yaml file to HMTL through the swagger editor online.

When I use `Generate Client` -> `Html2` , parameters `m_auth` has been converted to `mAuth`.

![image](https://cloud.githubusercontent.com/assets/9474899/18168307/9d33b490-7087-11e6-8fc3-2178f0629f2b.png)

![image](https://cloud.githubusercontent.com/assets/9474899/18168333/b9e60688-7087-11e6-9160-a

[2016-09-01 14:01] wing328 commented on #3681
Can you share the spec for the model you mentioned?

[2016-09-01 16:25] #3686 closed

[2016-09-01 16:25] wing328 commented on #3686
@jtnystrom #3694 merged into master. Please pull the latest master and give it another try.

[2016-09-01 16:33] joskfg opened #3701 "Client Generator"
##### Description

When I try to generate a PHP client, I get this error:
` Could not process model 'File'.Please make sure that your schema is correct!`

I guess this happens with other generator because the error is in "DefaultGenerator".

##### Swagger-codegen version

master

##### Swagger declaration file content or url

https://download.sftapi.com/schema

##### Command line used for generati

[2016-09-01 19:15] scop opened #3703 "[Ruby, PHP] Errors with slashes in pattern"
##### Description

For this in YAML syntax:
[code]
...the PHP code generated is:
[code]
...and for Ruby:
[code]
The problem with both is that the slash between `a` and `b` should be backslash escaped to avoid errors. I tried this in `DefaultCodegen.addRegularExpressionDelimiter`:
[code]
...but it makes no difference on the eventual output.

##### Swagger-codegen version

Current master

[2016-09-02 01:23] who commented on #3339
I am also experiencing this with 2.2.2-SNAPSHOT.

[2016-09-02 03:26] wing328 commented on #3695
@ataraxus thanks for reporting the issue and suggesting a fix. I believe updating this line should fix it: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-angular2/api.mustache#L90

May I know if you've time to contribute a fix?

[2016-09-02 03:32] zhengcan opened #3706 "[JAVA] InlineModelResolver drop all vender extensions for any Schema Object"
##### Description

The spec told me "Allows extensions to the Swagger Schema."
ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#patterned-objects-9

When I define some schema objects in `definitions` section, and use $ref to reference it in response, I've noticed that all vender extensions works well.
But when I use the vender extensions in 'schema' section in `respons

[2016-09-02 03:41] wing328 commented on #3706
@zhengcan thanks for reporting the issue. May I know if you've time to contribute a fix to `InlineModelResolver`?

As a workaround, you can fully define the model instead of doing it inline.

[2016-09-02 06:04] geetikagupta16 commented on #3681
Here is the link for the project:
https://github.com/geetikagupta16/testSwagger

and the command that I used to generate SDK is as follows:

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i http://localhost:9000/docs/swagger.json -l java -o demoSwagger

Below is the screenshot of the swagger.json file
![image](https://cloud.githubusercontent.com/assets/17196397/1819

[2016-09-02 06:33] cbornet commented on #3681
If you want it to be "first_name" in the exchanged JSON, set it as "first_name" in the swagger spec. The codegen will take care of camel casing the java property.

[2016-09-02 06:41] geetikagupta16 commented on #3681
The definitions part in swagger.json is autogenerated based on our response case classes. As we are using scala, so we can't use snake_case for case classes as it violates scala standards.

[2016-09-02 07:27] wing328 commented on #2963
@wearpants thanks for the suggestion. I've contacted Software Freedom Conservancy to get their view/opinion on this as well.

[2016-09-02 07:42] wing328 commented on #3681
Your swagger spec is not correctly describing your REST API, no matter whether it's auto-generated or manually created. What plug-in are you using to generate swagger.json from annotation in your scala code base?

[2016-09-02 07:50] geetikagupta16 commented on #3681
We are using iheartradio play-swagger and here is the github link for the same :
https://github.com/iheartradio/play-swagger

We have validated the generated spec by swagger-editor and we are successfully able to generate swagger-UI.

[2016-09-02 08:09] wing328 commented on #3681
If the JSON key name is `first_name` and you document it as `firstName`, it's simply incorrect and tools built on top of Swagger won't be able to determine the correct JSON key name, which is `first_name` (even though the spec is valid)

[2016-09-02 08:21] jtnystrom commented on #3686
Thanks for your quick fix - I can confirm that this problem has been solved.

[2016-09-02 08:29] geetikagupta16 commented on #3681
But as per scala standards we can't use snake_case in our case classes. Is there any other way to configure the mapping option so that it can map snake_case Json to camelCase ?

[2016-09-02 08:33] wing328 commented on #3703
Your fix should work.
[code]
Please submit a PR and I'll do some tests

[2016-09-02 08:47] ataraxus commented on #3695
@wing328 Hey, thanks for pointing this out! yes this looks like the correct place to fix it, actually i can see that there are already some other bugs fixed which i have on my list..

I'll try to setup the project on my machine and test the change and also see if the other issues i experienced still exist!

[2016-09-02 08:51] scop commented on #3703
I agree it _should_ work, but as said, in my tests it did not end up resulting any changes to those problematic ruby and php code spots -- for some reason, the slash remained unescaped there. Anyway, #3707 is the PR.

[2016-09-02 09:34] cbornet commented on #3681
This is an issue with play-swagger. You should open an issue there.

[2016-09-02 10:21] joskfg commented on #3701
It seems a fail in my swagger. It validates but it indicates

[code]

So the generator don't know how to generate it. I modified the schema to do a reference and it should work.

[code]

[2016-09-02 10:29] scop opened #3708 "NPE for parameter without a name"
##### Description

Codegen throws a NPE when generating code for a buggy declaration that has parameters without a name. Happens at least with nodejs-server and python-flask, but not with any client codegens I've tried, so maybe this is a server-only issue?

##### Swagger-codegen version

Current master

##### Swagger declaration file content or url

[code]

##### Steps to reproduce

[code]

#####

[2016-09-02 13:05] bkryza opened #3712 "Invalid array enum type validation in Python client"
##### Description

Python client generator creates invalid enum validation code in case the enum is a string type inside an array, for instance this data type:

[code]

generates the following validation code in the setter:

[code]

where `values` is an instance of `list`, which raises an error even if `values` contains valid elements from the `allowed_values` list.

##### Swagger-codegen version

[2016-09-02 14:36] ataraxus commented on #3695
@wing328 fixed it. good that i had also an edge case in my api, so I had to add explicit casting before calling .set. right now it works like a charm ;)

By the way, it fixed all other issues i had with the previous release! kudos!

When will this version be released?

[2016-09-02 15:17] beaupral opened #3715 "Enhancement: Json Schema id attribute in models"
##### Description

This is a suggestion to include Json Schema "id" attribute into models objects.
This would allow us to organize and regroup our Java model objects under different packages (similar to xml namespace usage in JAX-WS).

I have not seen anything else that would allow me to generate "dynamic" model package name.

Thanks!

[2016-09-02 15:57] wing328 commented on #3715
@beaupral in the spec, did you manually add the "id" attribute into each model?

[2016-09-02 18:03] beaupral commented on #3715
@wing328 Thanks for the quick reply!  However I'm not sure I understand your question.

We have just started writing our APIs spec with YAML.  This work is divided into multiple YAML files and multiple JSON Schema files (in which the "id" attribute is defined).  We would like to regroup generated java model objects by their JSON schema file "id" (the package name would have the same name as the "i

[2016-09-03 08:08] geetikagupta16 commented on #3681
My colleague has created an issue over there.
Thanks for the help.

[2016-09-03 08:10] #3681 closed

[2016-09-04 08:47] mtsmfm commented on #2176
@wing328 Do you have any plan to publish cli version on docker hub?
I also fork this repo to publish cli image on docker hub.

https://hub.docker.com/r/mtsmfm/swagger-codegen/

[2016-09-04 09:11] arnested commented on #2176
@mtsmfm, see #2945.

[2016-09-05 01:06] tdhancii opened #3720 "Spring Server codegen - swagger-2.0 basePath not generated"
##### Description

@RequestMapping annotation is not generated in spring server code generation.
basePath is properly defined in swagger.yaml file.

##### Swagger-codegen version

Swagger codegen version :
swagger-codegen-maven-plugin: 2.2.1 and also tired with 2.2.2-SNAPSHOT

##### Swagger declaration file content or url

https://gist.github.com/tdhancii/1d0dde04413b6d98a76598a549a68985

##### Co

[2016-09-05 05:57] razalur commented on #3693
Do you fix this n the near future?

[2016-09-05 08:05] #3701 closed

[2016-09-05 08:10] wing328 commented on #3701
@joskfg If you want to generate a 2D array of model, you will need to specify the `items` for the inner array.

[2016-09-05 09:04] wing328 commented on #3703
@scop I did some tests with your PR and have no idea either as it failed to escape forward slash.

@cbornet when you've time, I wonder if you can take a look to see if you've any clue why the replace does not work as intended

[2016-09-05 09:34] wing328 opened #3722 "[Apex] New API client generator"
##### Description

We want to add a new API client generator for [Apex](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_intro.htm), a programming language invented by SalesForce.
##### Swagger-codegen version

Latest master

If anyone wants to work on this task, please reply to let us know.

Given that it's similar to Java, cloning the Java API client generator is a g

[2016-09-05 11:42] bkryza opened #3723 "Python client only accepting Json in body parameters of POST requests"
##### Description

Python client seems to only accept JSON Content in the body of POST requests, other formats must be sent in formData.

##### Swagger-codegen version

master

##### Swagger declaration file content or url

See the following Gist: [echo-xml.yaml](https://gist.github.com/bkryza/4a786fade448137483266785aa01e9ed)

##### Command line used for generation

[code]

##### Steps to reprodu

[2016-09-05 15:06] Edubits commented on #3693
Thanks for providing us with the swagger.json, @razalur. Could you try the latest master? The code causing the error is changed and locally I'm now able to generate Swift code for your Swagger definition. Hope it works for you as well!

[2016-09-05 16:32] ePaul commented on #3703
I debugged this a bit ... the problem might be that the result of this method gets later passed through DefaultCodegen.escapeText, which does (between others) this: `.replace("\\/", "/"))` – i.e. it undoes the transformation.

input | method | output
---|------|------
`[A-Z]/.*` | `addRegularExpressionDelimiter` | `/[A-Z]\/.*/`
`/[A-Z]\/.*/` | `escapeJava(...)` | `/[A-Z]\\/.*/`
`/[A-Z]\\/.*/` | `.

[2016-09-05 17:05] ePaul commented on #3643
Does it work if you use a domain name instead of an IP address? (I vaguely remember that I did something like this once, downloading the yaml from Github via HTTPS.)

I guess the problem is that your TLS certificate just binds the domain name to the key, not the IP address (I don't even know whether the latter is possible), and thus the HTTPS support in your JVM doesn't accept the certificate. The

[2016-09-05 22:18] wienczny opened #3724 "Feature Request: Make build support files optional"
I'm using the `swagger-codegen-maven-plugin` to generate clients for my swagger apis. As the swagger description may change in the future the code generator is run for every build. The generated code is directly referenced by the same maven project that runs the code generator. Because of that the generated code contains a maven, gradle and sbt project and more files that are not required. The onl

[2016-09-06 00:46] #3679 closed

[2016-09-06 02:50] wing328 commented on #3724
Please update .swagger-codege-ignore to skip the files that you don't want to generate.

[2016-09-06 05:20] wing328 commented on #3723
@bkryza the API client (Python, Ruby, PHP, etc) does not support other formats (xml, yaml, etc) at the moment.

If you modify the `to_str` method ([example](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/models/user.py#L286)) to return an XML representation of the object, it should work.

[2016-09-06 05:52] razalur commented on #3693
@Edubits Thank you! Now it's work.

[2016-09-06 06:24] #3693 closed

[2016-09-06 08:14] wienczny commented on #3724
Using .swagger-codegen-ignore is not an ideal solution for this issue but a nice workaround.

I think adding a switch to the codegen is still required:

- You need additional maven plugins to copy .swagger-codegen-ignore to the output directory
- Not all ignored files and directories are skipped by the codegen. The gradle directory is still generated although /gradle is in the ignore file.

[2016-09-06 08:34] bkryza commented on #3723
@wing328 Thanks for the information.

Unfortunately, the problem is not that the generated client fails to serialize the `body` argument which I provide. In fact in this example I provide already serialized XML as a string. The problem is that the client checks only the declared content-type and does not check the type of the body argument.

I've just tested the Ruby client and it works just fine

[2016-09-06 10:50] cbornet opened #3727 "[Java] Use RFC3339 formats for java.util.Date"
- Jackson has an ISO8601Utils class that can be used to easily make a RFC3339DateFormat (or simply use the existing ISO8601Dateformat but it loses the timezone and milliseconds when serializing).
- ~~Gson has an equivalent UtcDateTypeAdapter~~ For Gson, it's easy to write a TypeAdapter using gson's ISO8601Utils.

These are more performant than SimpleDateFormat and SimpleDateFormat cannot be used o

[2016-09-06 12:28] brentryan commented on #3724
+1

[2016-09-06 12:50] brentryan opened #3731 "[JAVA] array equals() fails findbugs"
##### Description

Using swagger codegen to generate objects with arrays fails findbugs: http://findbugs.sourceforge.net/bugDescriptions.html#EC_BAD_ARRAY_COMPARE
##### Swagger-codegen version

2.2.2-SNAPSHOT
##### Swagger declaration file content or url

Create a property in a swagger definition like this:

[code]

   Generates this code in equals()
`Objects.equals(this._byte, awesomeSnapshot._by

[2016-09-06 14:01] cbornet opened #3733 "[Java] Map swagger "date" type to java.sql.Date"
Currently, both "date-time" and "date" are mapped to java.util.Date if the date library is not joda nor java8.
It would be better to map "date" to ```java.sql.Date``` which is a subclass of java.util.Date that represents a date without time.
This will allow to ser/deser"date" and "date-time" in distinct formats.

[2016-09-06 14:04] brentryan commented on #2549
What's the ETA on this feature?  Where can we help so we can complete this and get JSR-303 annotations in?

[2016-09-06 22:38] coding2012 opened #3735 "[JAXRS-CXF] Enum values are generating &quot; stuff in the string"
The code generator is creating "&amp;quot;" still in the jaxrs-cxf implementation:

Example:

    public enum TelecomTypeEnum {
          TELEPHONE(String.valueOf("&quot;TELEPHONE&quot;")), FAX(String.valueOf("&quot;FAX&quot;")), EMAIL(String.valueOf("&quot;EMAIL&quot;")), PAGER(String.valueOf("&quot;PAGER&quot;"));
        public static TelecomTypeEnum fromValue(String v) {
            return val

[2016-09-06 23:53] romk1n commented on #3062
@jgavris would be great not to explicitly unwrap optional in that code that may crash badly

[2016-09-07 06:49] wing328 commented on #3735
@coding2012 I believe this is addressed in the latest master. Would you please pull the latest master and build the JAR locally to give it another try?

[2016-09-07 06:58] coding2012 commented on #3735
Thanks for looking at this! Seems to be affected still:
`
    TELEPHONE(String.valueOf("&quot;TELEPHONE&quot;")), FAX(String.valueOf("&quot;FAX&quot;")), EMAIL(String.valueOf("&quot;EMAIL&quot;")), PAGER(String.valueOf("&quot;PAGER&quot;"));`

[2016-09-07 07:04] teckken opened #3736 "result field that used to generate HashCode is conflicting with model field with same name"
##### Description
result field that used to generate HashCode is conflicting with model field with same name "result", with that, what is the recommended workaround for this ?

I should not change the API model fields because the HashCode method is using the "result" variable name.

##### Swagger-codegen version
online generator : 2.2.1
output : android client

[2016-09-07 08:00] wing328 commented on #3735
@coding2012 OK. Thanks for performing another test. I'll take a look and keep you posted.

[2016-09-07 08:19] wing328 commented on #3731
@brentryan thanks for reporting the issue. May I know if you've cycle to make the enhancement?

I think we may need to handle it as a special case using `{{#isByte}} ... {{/isByte}}` mustache tag

[2016-09-07 08:54] sbuisson opened #3737 "just need the class generate, not the whole project"
Hy, when I generate , I 've a whole project wo apear in generated-sources. I just need the src/main/java of this,

Is there a way to have just this?

my config:
[code]
                </execution>
            </executions>
            <configuration>

                <inputSpec>${basedir}/src/main/resources/api.yaml</inputSpec>

                <language>java</language>

                <configOpt

[2016-09-07 09:20] ePaul opened #3738 "[Scala] respect the sourceFolder parameter when generating code"
##### Description

I wanted to generate just model classes in Scala from an Swagger/OpenAPI definition, in a place which is not a whole maven/sbt/... project, but just some folder generated during a build.

The Scala generators I found (ScalaClientCodegen (`scala`), ScalatraServerCodegen (`scalatra`), AkkaScalaClientCodegen (`akka-scala`) and AsyncScalaClientCodegen (`async-scala`)) all put the ou

[2016-09-07 09:38] ping1984 commented on #2111
Swagger java codegen is not able to generate a API class which handles multiple possible model-Objects as result objects.
Example:
Simply go to http://editor.swagger.io (default Example)
You can get the Product model object from the generated ProductsApi class but you can't get the Error model object.

[2016-09-07 09:41] ePaul commented on #3738
An unrelated problem I noted here: The `modelPackage` parameter seems to be only passable via config file (it doesn't work with -D), while the `models` parameter seems to be only working with `-D`, not per config-file (at least `"models":""` is ignored there).

[2016-09-07 09:47] wing328 commented on #3733
@cbornet what about adding another option under `dateLibrary`?
[code]

[2016-09-07 09:59] cbornet commented on #3733
@wing328 You mean for downward compatibility ? This is going to be quite messy !
I don't think that people currently using the "legacy" dateLibrary can correctly use the swagger "date" type. I've looked in all generators and they all serialize it as a "date-time". And only okhttp-gson seems to be able to deserialize it.
So it's more a fix for a completly broken feature than a breaking change.
But

[2016-09-07 10:39] wing328 commented on #3733
@cbornet what about replacing `java.util.Date` with `java.sql.Date` starting 2.3.0? if later there're  demands to use `java.util.Date` with valid use cases, we add back `java.util.Date` as an option.

[2016-09-07 10:42] cbornet commented on #3733
OK. I'll PR against 2.3.0 branch

[2016-09-07 11:12] #3736 closed

[2016-09-07 11:12] wing328 commented on #3736
@teckken thanks for reporting the issue, which has been addressed by #3740

Please pull the latest master and build the JAR locally to give it a try.

[2016-09-07 13:16] brentryan commented on #3733
@wing328 @cbornet I'm not sure I agree with changing to java.sql.Date as the default.  I can't think of a use case that would break off the top of my head, but I know from prior experience that using java.sql.Date has caused issues.  I think some of the issues (oddly enough) was around ORM libraries like hibernate/mybatis.  But I think using "java.sql.Date" seems wrong to me for models especially

[2016-09-07 13:18] brentryan commented on #3731
I might look into it, but it's currently not that important of a use case for us since we don't typically use byte[] types or binary types.  Both of those formats have the same issue here.  If I can get to this then I'll let you know but it might be a couple weeks before I get to it.

[2016-09-07 13:54] cbornet commented on #3733
@brentryan then what would be your solution for supporting the "date (rfc3339 full-date)" format without joda or java8 ?

[2016-09-07 13:57] cbornet commented on #3733
See #3648 for an example that our current usage of java.util.Date for ```date``` format is broken.

[2016-09-07 14:02] cbornet commented on #3733
And don't get fooled by the "sql" in java.sql.Date: it's just a subclass of java.util.Date with hour/minute/seconds set to 0. See https://docs.oracle.com/javase/7/docs/api/java/sql/Date.html

[2016-09-07 14:25] ataraxus opened #3743 "TypeScript Angular2 broken copy constructor usage"
Hey Guys,

I stumbled upon the issue, that my default headers wouldn't be set as expected... currently this is used
` let headers = new Headers(this.defaultHeaders.values());`

where `Headers.values()` is returning: `string[][];`

the copy constructor of Headers is expecting this:
` constructor(headers?: Headers | { [key: string]: any;  });`

I figured that this is working:
` let headers = new Hea

[2016-09-07 14:28] ataraxus commented on #3743
created a pull request with the proposed fix.  #3744

[2016-09-07 15:53] brentryan commented on #3733
This seems to work fine for me.  Maybe it's a serialization issue?
[code]

Or maybe I'm still missing what's broken here?

[2016-09-07 15:56] coding2012 commented on #3735
I may be able to mess around in the code, I see that it's nunjucks or some other templating system, I'll see if I can mess with the code a bit and rangle something up today.

[2016-09-07 16:20] wing328 commented on #3735
@coding2012 As a workaround, you may consider `jaxrs` instead of `jaxrs-cxf` for server stub generation as `jaxrs` model templates should have the issue addressed.

[2016-09-07 16:20] bs-sdev opened #3745 "[Python] codegen cannot produce a specific controller with the "tags" in .YAML file"
##### Description

Hello everyone,

I try to create multiple controllers in my API (on controller for each sub route). After reading the doc, I thought the key "tags" was used to specify on which controller the operation will be located on.

Nevertheless, it does not work with the Python server generation in which it only creates a "default_controller.py".

So unless I don't understand how it work

[2016-09-07 16:48] delenius opened #3746 "[JS] Setting license"
##### Description

The JavaScript code generator always puts

[code]

in the generated package.json file.
It should be possible to set this using the `projectLicenseName` property.
Also, according to the help screen, the default should be `info.license.name`. I don't know what that means, but it's not being used by the JS generator (or any others, it seems).
##### Swagger-codegen version

Latest f

[2016-09-07 18:18] cbornet commented on #3733
Whay you are describing is a test for ```date-time``` format, not ```date```

[2016-09-08 01:38] brentryan commented on #3733
Do you have a simple test that demonstrates the issue?

[2016-09-08 07:24] jfiala commented on #2549
I added bean-validation to Java and JAXRS CXF client generation. I'd like to know if it is preferred to pull bean-validation out into a separate module and reuse this across all Java clients  (and add test cases only at one place) or if it is preferred to simply copy & paste this to all Java clients (and have redundant test-cases or decide to only create test cases for e.g. the Java client).

IMHO

[2016-09-08 08:11] lunat opened #3748 "[csharp] Missing tag in README.mustache"
##### Description

Hello,
I need to push a branch with a minor correction that permits c-sharp documentation to correctly use relative anchor:

##### Swagger-codegen version
2.3.0

##### Suggest a Fix

In file swagger-api\swagger-codegen\modules\swagger-codegen\src\main\resources\csharp\README.mustache

I added at row 142 this line:
`<a name="{{name}}"></a>`

[2016-09-08 08:51] chamindias opened #3749 "[swagger-codegen] Generating single client for multiple API definitions"
##### Description

When we use swagger codegen to generate client side SDKs, we are able to generate one SDK per API definition (for a given language). Please refer the example below.

Eg : If we have 2 APIs, say "GeoAPI" and "TimeAPI", we need to generate 2 SDKs (i.e - 2 separate jar files) with the existing implementation, since the library supports only one definition at a time.

Limitation her

[2016-09-08 09:54] #3735 closed

[2016-09-08 09:54] wing328 commented on #3735
@coding2012 fixed via #3750. Please pull the latest master and build the local JAR to give it a try.

[2016-09-08 10:11] coding2012 commented on #3735
Wow, that worked perfectly!
No more &quot; issues! How do I send you a beer?

[2016-09-08 10:20] wing328 commented on #3735
🍻 🍻 🍻

[2016-09-08 10:21] cbornet commented on #3749
I think it's a good thing to use separate clients for distinct APIs:
* they have different authentication schemes and credentials
* they could have been generated with different swagger-codegen versions

[2016-09-08 10:26] lunat commented on #3295
For me it is ok.

I suggested two variations in documentation file. anyway I answered in issue #3530

[2016-09-08 10:37] wing328 commented on #3749
In addition to what @cbornet has pointed out, some developers expressed concern about the size of the SDKs being too large before so breaking a giant SDK into smaller SDKs may be more preferable for those developers.

[2016-09-08 10:40] wing328 commented on #3746
@delenius please refer to https://github.com/swagger-api/swagger-codegen/issues/2963 for the latest discussion on the license of the auto-generated code.

[2016-09-08 10:41] wing328 commented on #3737
What about updating .swagger-codegen-ignore to ignore folders that you don't need?

[2016-09-08 10:50] wing328 commented on #3745
@bs-sdev thanks for reporting the issue. I've spent some time to read [FlaskConnexionCodegen.java](modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/FlaskConnexionCodegen.java) and seems like it's not possible to create controllers by `tags` at the moment as all operations go to the same file (default_controller.py, which is configurable via CLI option).

Other server stub generat

[2016-09-08 11:06] wing328 commented on #3720
The context Path (e.g. v1, v2) should be set in application.properties, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/server/petstore/springboot/src/main/resources/application.properties

[2016-09-08 12:18] bs-sdev commented on #3745
@wing328 Hello, I can spend some time on it, so yes, I can contribute, but could you tell me how? Maybe I should go to "How to contribute" ...

If you got ideas, it could be really great, while I wait for your reply, I watch the related file (JAVA programming is far for me, but I don't think it's difficult to be back on it!).

Kind regards.

[2016-09-08 12:23] natami opened #3753 "Java Codegen's Feign Client SimpleDateFormat is incompatible with Android"
Generating a Feign Client using Swagger Codegen v.2.2.1, results in the following exception upon including and running the Client on android with API 23.

`FATAL EXCEPTION: main
                                                                                  Process: com.brightware.iot.clients.android, PID: 1778
                                                                                  jav

[2016-09-08 12:57] cbornet commented on #3753
Yes, see #3727. Fix is in progress.
Meanwhile, you have several solutions:
* use joda as dateLibrary
* configure the ApiClient to use Jackson's ISO8601DateFormat ```apiClient.getObjectMapper().setDateFormat(new ISO8601DateFormat())```

[2016-09-08 13:00] brentryan commented on #3733
Is the issue that if I change the above to test to include just the date part of the format then the output winds up being:
[code]

Basically it assumes the date is in EST on 9/8 when it gets output, but when it parses the string back in it doesn't know what timezone it's coming from so it assumes UTC and converts it to EDT. which makes the date 9/7.

Is this the issue?

[2016-09-08 13:12] cbornet commented on #3733
No, the issue is for instance with
[code]
someDate must be (de)serialized with "yyyy-MM-dd" (full-date in rfc3339) and someDateTime with "yyyy-MM-dd'T'HH:mm:ss.SSSXXX" (date-time in rfc3339).

[2016-09-08 14:17] wienczny opened #3754 "Java: Latest JMustache breaks bigDecimalAsString"
The commit samskivert/jmustache@9eda17f85bfd8849850bdafa92d2f6ffe12bb71f changes the default escape characters used by JMustache. This breaks the code-generation of bigDecimalAsString in the Java language because the annotation
```@JsonSerialize(using = ToStringSerializer.class)```
is written as
```@JsonSerialize(using &#x3D; ToStringSerializer.class)```

You could avoid this by disabling the esca

[2016-09-08 15:07] wing328 commented on #3754
What about using {{{ tag_name }}} (or {{& tag_name }}) for the unescape value instead ?

[2016-09-08 15:12] lunat commented on #3748
In order to clarify, hare are also  the lines before and after:

[code]

[2016-09-08 15:12] wienczny commented on #3754
I didn't know the triple mustache. This should work, too.

[2016-09-08 15:39] wing328 commented on #3724
@wienczny agreed with you that my suggestion is more of a workaround. Would you have time to implement the option?

You can customize the swagger-codegen-ignore template to begin with and pass the customized templates via the `-t` option.

[2016-09-08 15:39] wing328 commented on #3748
@lunat would you please submit a PR so that we can review the change?

[2016-09-08 15:46] natami commented on #3753
The client is using Joda as datelib.

Addin apiClient.getObjectMapper().setDateFormat(new ISO8601DateFormat()) to the mix does no difference :/

[2016-09-08 15:51] wing328 commented on #3663
The option to name the model property with a different convention is done via https://github.com/swagger-api/swagger-codegen/pull/3685

[2016-09-08 15:51] #3663 closed

[2016-09-08 15:51] cbornet commented on #3753
Then it shouldn't try to use SimpleDateFormat... Do you have java.util.Date types somewhere in your models ?

[2016-09-08 15:53] wing328 commented on #3659
@infastra can you try to generate the Java (retrofit2) client to see if that meets your requirement?

This may help: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2016-09-08 15:54] wing328 commented on #3635
PR merged.

[2016-09-08 15:54] #3635 closed

[2016-09-08 15:55] wing328 commented on #3632
@ngzero please give https://github.com/swagger-api/swagger-codegen/pull/3530 a try and leave a comment in that PR if you've any feedback.

[2016-09-08 15:57] cbornet commented on #3753
On a side note, for android, I would prefer Retrofit2. Feign is more oriented towards server/micro-service

[2016-09-08 16:18] cbornet commented on #3753
@natami can you paste the full stacktrace ? Is it crashing when instanciating the ObjectMapper ?

[2016-09-08 16:42] cbornet commented on #3753
I can't find a SimpleDateFormat with 'X' in the code we generate nor in Jackson. Are you sure it's not in your own code ?

[2016-09-08 16:48] cbornet commented on #3753
Found it in FormAwareEncoder !

[2016-09-08 16:52] cbornet commented on #3753
You can replace
[code]
by
[code]
in FormAwareEncoder.
Unfortunately you have to modify the generated code for now...

[2016-09-08 17:33] natami commented on #3753
Hi, Christophe!

I'll give it a go - thanks for your time ;)

[2016-09-08 19:32] fehguy commented on #2549
@jfiala seems like best would be if this was a library option like JAXRS (between 1.x and 2.x) , so you can enable as desired.  Does that make sense?

[2016-09-08 20:01] tdhancii commented on #3720
I think basePath:v1 given in my example is a bad choice.
Consider the following scenario,

Spring Boot application server root context : /my-app

Under this root context I will be in need of
/my-app/account/...
/my-app/bills/...
/my-app/payments/...

So in this case, I will define

server.contextPath=/my-app

and in swagger doc I will define
basePath: /account
basePath: /bills
baseapth: /payments

[2016-09-09 01:24] SunnySydeUp opened #3761 "[Swift] Generated classes cannot be in used in Objective C"
Swift generated models are not Objective C interoperable. Perhaps add a flag in the swift config to enable the generated classes to extend NSObject?

[2016-09-09 02:33] #3696 closed

[2016-09-09 02:40] #3720 closed

[2016-09-09 02:42] wing328 commented on #3761
cc @Edubits @jaz-ah

[2016-09-09 02:43] #3754 closed

[2016-09-09 07:05] jfiala commented on #2549
@fehguy Yes definitely, I'll implement the switch for JAXRS CXF and let you know for review, then you can decide how to apply this to all other languages...

[2016-09-09 07:56] wing328 opened #3762 "[Erlang] Enhancements to Erlang server generator"
##### Description

- [ ] Write specs for static exported fuctions
- [ ] Write specs for generated exported fuctions
- [ ] Add datetime/date validation
- [ ] Separate gigantic `api` to submodules and refactor the routing
- [ ] Add tests for the validators
- [ ] Add integrational test for the whole cycle
- [ ] Add validations of definitions with inheritance
- [ ] Add proper response validation (this

[2016-09-09 10:13] aidanmorgan opened #3764 "[Retrofit] Be less opinionated about JSON Serialization Implementation"
##### Description

I am attempting to use the retrofit generation in a Storm cluster (running on Azure HDInsight) which is having issues with the version of Gson that is attempted to be used.

The exception that is generated was:

To work around this issue I had to write my own Converter.Factory that used the version of Gson I had available to me, and then serialize/deserialize as appropriate.

Th

[2016-09-09 13:48] phoracek opened #3765 "'pattern' field is removed from configuration when generating 'Python Flask' server"
##### Description

`pattern` field is removed from `swagger.yaml` when generating 'Python Flask' server.
##### Swagger-codegen version

The one used by http://editor.swagger.io/
##### Swagger declaration file content or url

[code]
##### Command line used for generation

http://editor.swagger.io/ was used.
##### Steps to reproduce

Paste mention config to http://editor.swagger.io/ and let it gener

[2016-09-09 14:35] cbornet commented on #3764
You can already change the adapterBuilder so that it doesn't use GsonCustomConverterFactory

[2016-09-10 00:13] jaz-ah commented on #3761
Hi @SunnySydeUp  - that's not a bad idea - would you have cycles to add this in?  this would definitely be off by default.  You would just have to make sure there were no side effects introduced by this, and also at some point I can see us moving to Swift3 which might make things a little more complicated for backward compatibility w/ objc.

[2016-09-10 03:10] wing328 commented on #3745
@bs-sdev I've made the change to put the endpoints in different controllers based on `tags` via https://github.com/swagger-api/swagger-codegen/pull/3767 but now `python3 app.py` results in  errors. I wonder if you can take a look.

[2016-09-10 04:17] SunnySydeUp commented on #3761
I'm pretty filled up atm with projects but I can take a look when I can. My idea was to add an additional config parameter such as `objective-c-compatible` which will be `false` by default. I'm not sure how swagger-codegen generates the code atm so I'll have to dive into that. My guess is through templates. Another concern is Swift types. For example, Int64 in Swift needs to be mapped to NSNumber

[2016-09-10 18:36] jfiala commented on #2549
@fehguy I implemented the switch useBeanValidation as a CLI switch / additionalProperty). Added it to the Java and CXF client (see this PR: https://github.com/swagger-api/swagger-codegen/pull/3281).

The beanvalidation switch is now implemented in JavaClientCodegen.java and JavaCXFServerCodegen.java, I'd suggest moving it upward to AbstractJavaCodegen (where it actually best fits) - after doing so

[2016-09-10 20:20] jfiala commented on #2549
@fehguy regarding the copy & paste work of the BeanValidation-annotations: What do you think about adding a preprocessing-directive which allows to reuse a mustache template (or does this already exist in the project?)?

Like this:
1. Define a Mustache file property_beanValidation.mustache
2. Define  a list of preloaded Mustache-files in the language Java
"property_beanValidation" ==> "property_be

[2016-09-11 10:12] jfiala commented on #2549
@fehguy: added a reusable mustache subtemplate to the lanugage java.
This can be easily reused in other languages using "{{#useBeanValidation}}{{>..\..\java\beanValidation}}{{/useBeanValidation}}".
Pls let me know if you prefer a different place for this new reusable template.

Next step is to move useBeanValidation to the AbstractJavaCodegen and then the other languages only need to add the subte

[2016-09-11 10:26] wing328 opened #3770 "[Scala] Review primitive type"
##### Description

Review `languageSpecificPrimitives` in abstract Scala codegen to remove duplicated or invalid items.

##### Swagger-codegen version

Latest master: Sep 2016

If anyone wants to work on this, please reply to let us know.

[2016-09-11 10:28] wing328 opened #3771 "[Scala] Review the list of reserved words"
##### Description

Review the list of reserved words in the Scala-related generator and try to consolidate them into a single list in the abstract Scala base class.

##### Swagger-codegen version

Latest master: Sep 2016

If anyone wants to work on this task, please reply to let us know.

[2016-09-11 10:30] wing328 commented on #2549
Would that work in non-windows environment (mac, linux, etc) as well?

[2016-09-11 18:44] sdrichter opened #3773 "[Cpprest] Generated client code does not handle arrays of primitive types, integers with min and max values, or API methods that return a file properly."
##### Description

When generating a cpprest client using a YAML/JSON API specification that uses arrays made up of primitive types (in my case integers), the cpprest code generated has multiple errors with std::vector that prevent compilation. The generated code is invalid due to some errors in the mustache files for cpprest that result in invalid C++ code being generated for this case.

Another

[2016-09-11 18:48] jfiala commented on #2549
Probably not, corrected...

[2016-09-11 18:52] jfiala commented on #2549
Wouldn't a centralized file for the Java language also make sense for the comments above the getters as well? Using the subtemplating we could extract all these into the Java language?

[2016-09-12 01:35] aidanmorgan commented on #3764
@cbornet sorry, I may be misunderstanding how to use the code generator.

I have changed the adapter builder and am using my own converter, the issue is that the generated code still uses the GsonCustomConverterFactory which means that I have to keep the dependency on the converter-gson JAR even though I am not using any of the code.

[2016-09-12 02:50] aidanmorgan commented on #3764
The generated ApiClient class generates a class called GsonCustomConverterFactory which has a dependency on the GsonConverterFactory from the retrofit2.converter.gson package. If I am not using the Gson converter I still have to have the dependency to get the generated source to compile.

[2016-09-12 03:10] #3738 closed

[2016-09-12 03:18] wing328 commented on #3773
@sdrichter thanks for logging the issue and looking forward to your PR.

[2016-09-12 06:35] geetikagupta16 opened #3774 "[Async-Scala] Could not get value of optional header parameters"
##### Description
Unable to fetch correct value from optional header parameters

Here is my swagger spec:
![image](https://cloud.githubusercontent.com/assets/17196397/18426469/769534b6-78df-11e6-8cab-8930b8ba088c.png)

When I generated the sdk it maps the optional header parameters to Option[String] and to get value from the parameters we should be using a map, but in the generated sdk we are dire

[2016-09-12 07:19] wing328 commented on #3144
Thanks for the PR https://github.com/swagger-api/swagger-codegen/pull/3766 from @Richou to update the dependency.

[2016-09-12 07:29] wing328 commented on #3774
@geetikagupta16 thanks for reporting the issue. Would you please also try the `scala` client? If it works, we can apply similar fix to the `async-scala` client.

[2016-09-12 07:43] geetikagupta16 commented on #3774
scala client works fine. I have made changes for the async- scala client and will be sending a PR for the same.
But the test cases for the petstore example are showing compilation errors on the master branch. What should I do ?

[2016-09-12 07:47] wing328 commented on #3774
If you've time, please help fix the test cases for `async-scala` Petstore client.

[2016-09-12 07:52] wing328 commented on #3774
(if it's a runtime error, it may be due to invalid data in petstore.swagger.io. You can submit the PR so that the CI can test the change using a local version of the Petstore server)

[2016-09-12 07:56] #3144 closed

[2016-09-12 08:04] geetikagupta16 commented on #3774
Its showing compilation errors.
I'll try to fix the test cases.

[2016-09-12 11:05] hachreak commented on #3762
Hi at all,
if someone is interested, I made a erlang module to load the swagger file and build the cowboy routing configuration. :)
https://github.com/hachreak/swagger_routerl

[2016-09-12 18:51] monte-hayward commented on #2892
@cwbuecheler did you find a solution? Would you share the solution and/or the directory structure generated? I have a similar issue, and it feels like a path problem.

[2016-09-12 19:13] jennifergarcia opened #3780 "[Java] Compilation error with model containing with Map<String, Set<enum>>"
##### Description
I am able to run swagger codegen with 2.1.5 but there are bugs which break codgen until master when you have a model containing a container with an enum embedded in another container.

##### Swagger-codegen version
Worked in 2.1.5 as the enum evaluated to just a string
2.1.6 - broken for other reasons
2.2.2-SNAPSHOT, still broken

##### Swagger declaration file content or url
Jav

[2016-09-12 20:54] cwbuecheler commented on #2892
Honestly, I switched to swagger-client and stopped using swagger-codegen after encountering this issue, so I'm afraid I don't have an answer.

[2016-09-13 07:00] wing328 commented on #3743
PR merged.

[2016-09-13 07:00] #3743 closed

[2016-09-13 07:00] wing328 commented on #3712
PR merged.

[2016-09-13 07:00] #3712 closed

[2016-09-13 07:21] timadamson commented on #2938
https://github.com/swagger-api/swagger-codegen/pull/3781

[2016-09-13 07:22] timadamson commented on #2938
I've create a pull request: https://github.com/swagger-api/swagger-codegen/pull/3781

[2016-09-13 09:25] xaviapa opened #3783 "[PHP] Bug in setter validation of non-required properties with null value"
##### Description

When generating an SDK in PHP, there is a problem in the Model generation of an entity/api resource. If a property is **not required** and has the value **null** you get the exception of the minlength condition. In my opinion the null value should be valid for a non-required property.

##### Swagger-codegen version

master

##### Swagger declaration file content or url

[code]

[2016-09-13 10:17] #3571 closed

[2016-09-13 10:18] #3295 closed

[2016-09-13 10:18] wing328 commented on #3356
@tdjastrzebski PR merged into master. Please pull the latest to give it a try.

[2016-09-13 10:20] wing328 commented on #3680
@ThePhantasm may I know if you've a chance to work on the fix? Do you need any help from us (the community)?

[2016-09-13 11:02] etsardou opened #3786 "[Python] Flask server Swagger validation fails for GET and type file"
##### Description

I'm trying to implement a GET call which returns a file from the server using Swagger 2.0 specifications and python-flask server autogeneration from the Swagger online service (https://generator.swagger.io/#/). My swagger specifications are valid Swagger 2.0 as can be checked from the swagger editor (http://editor.swagger.io/#/) and the Python Flask server code is auto-generated

[2016-09-13 11:55] ePaul commented on #3783
Not sure this is related, but how is this property then sent over the wire? In OpenAPI 2.0 `null` values are not possible (you would omit the property instead).

[2016-09-13 13:18] mn288 opened #3788 "Support for Swift 3.0"
Is swift 3.0 Supported yet? if not when is the release date?

[2016-09-13 13:40] savcha opened #3789 "[typescript-angular2] npm publish missing files"
##### Description
When attempting to publish to npm the generated files are not uploaded.
The generated package.json contains the following:
"files": [
    "lib"
  ],
There is no lib folder so only the default files(package.json, README, etc) get packaged when running "npm publish".

##### Swagger-codegen version

2.2.1

https://github.com/swagger-api/swagger-codegen/blob/v2.2.1/samples/client/pet

[2016-09-13 13:52] wing328 commented on #3789
@savcha thanks for reporting the issue. May I know if you've time to file a fix?

[2016-09-13 14:50] savcha commented on #3789
https://github.com/swagger-api/swagger-codegen/pull/3791

[2016-09-13 16:11] xaviapa commented on #3783
@ePaul our API returns the properties with null values. This satisfy the response definition.
Here you have an example of a response from our API:
[code]

[2016-09-13 16:42] ThePhantasm commented on #3680
Actually yes.  I looked at the mustache files, and from inspection - they look correct.
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "{{packageName}}", "src\{{packageName}}\{{packageName}}.csproj", "{{packageGuid}}"

My guess is that packageGuid is not being determined by the time it is being interpolated.  I could hook a debugger up and try and trace it - but I don't know when I'll get tim

[2016-09-13 18:36] denis-yuen commented on #3612
Ran into the same issue, noticed also that this problem was introduced between 2.1.6  and 2.2.1 with the following example https://gist.github.com/denis-yuen/47a5bd391ffffc887ed08672b3d1d11b and running `java -jar swagger-codegen-cli-2.1.6.jar generate -i swagger.json  -l jaxrs -o jaxrs_old` vs the current stable jar.

[2016-09-13 18:36] rajeshkamal opened #3792 "[Spring] compilation issue - query params enumerations"
When you an enumeration of supported/valid strings specified for the query parameter in the spec
[code]

The generated spring code - Controller Interface code does not compile. The @ApiParam's allowableValues(String) property gets generated and it has some issues

[code]
Complete Controller Method
[code]

[2016-09-13 18:39] apissdks opened #3793 "[Spring] - Server Models - Missing Setter Methods"
When you have a model spec that contains readOnly properties,

[code]

The generated server models do not contain the setter methods.

[2016-09-13 21:34] jaz-ah commented on #3788
not yet - although now that Alamofire + Promisekit have released official Swift3.0 versions, I can imagine we'll be able to get to this in the next month.

[2016-09-14 03:11] wing328 commented on #3612
@denis-yuen @ralgor14 ok. I'll take another look later today.

[2016-09-14 09:14] att741 opened #3795 "[C#] Base class with enum field causes NullPointerException"
##### Description

Base class with enum field causes NullPointerException:

Exception in thread "main" java.lang.RuntimeException: Could not process model 'TestNs.TestClass2'.Please make sure that
 your schema is correct!
        at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:297)
        at io.swagger.codegen.cmd.Generate.run(Generate.java:223)
        at io.swagger.codegen

[2016-09-14 09:19] cbornet commented on #3612
@ralgor14 I tested on current master and the @JsonProperty annotations are correctly generated on the attributes:
[code]

[2016-09-14 09:52] wottah commented on #2296
I've just encountered this issue as well and have yet to find a workaround. How close is this issue to being resolved?

[2016-09-14 09:54] cbornet commented on #3612
Note : it's perfectly fine to put the @JsonProperty annotation on the attribute and not the getter/setter.

[2016-09-14 13:04] #3783 closed

[2016-09-14 13:04] xaviapa commented on #3783
I close it because the changes from https://github.com/swagger-api/swagger-codegen/pull/3797 were merged to master.

[2016-09-14 14:24] denis-yuen commented on #3612
Nice catch, I can verify that in 2.2.1, the @JsonProperty is generated on the getter. In 2.1.6, they disappear altogether. In the current master (2.2.2-SNAPSHOT), they reappear on the attributes.

[2016-09-14 16:17] cbornet commented on #3733
For the change to be useful, the java.sql.Date must be correctly ser/der with format "yyyy-MM-dd".
* Jackson already correctly serializes but for deserialization, it uses the ObjectMapper DateFormat so we can't use SimpleDateFormat as we can't configure it for both date and date-time. We need to use ISO8601DateFormat instead that supports both formats. The good news is that it is the same need as

[2016-09-14 16:22] richardfriedman opened #3800 "JMeter Bug Template testCases and Params not generated properly"
* The testCases input variable is mis configured to 'host' but should be 'testCases'
* The Parameters for a Request is defaulting to 0 instead of using ${paramName}

##### Swagger-codegen version

Master

##### Swagger declaration file content or url

[code]

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -l jmeter -i echo.yaml

[2016-09-14 16:32] loretoparisi commented on #3505
@wing328 ok and what about `perl` when I get the same issue?

[2016-09-14 17:17] ePaul commented on #3783
@xaviapa I think this is simply wrong according to the OpenAPI 2.0 spec. It should instead be this:

[code]

Of course, the problem here is that the server doesn't conform to the spec (and actually what your server returns can't be described in OpenAPI 2.0 – 3.0 will allow it, using the `nullable` property).

[2016-09-14 17:40] icefoxen opened #3802 "[Python] api_client.py __deserialize_file() deliberately subverts mkstemp() race condition protection"
##### Description

Looking at the function __deserialize_file() in the generated api_client.py it uses Python's tempfile.mkstemp() in the least secure way possible.  Specifically, it creates a secure tempfile, closes it, deletes it, and opens a new one with potentially the same name to write to.  This opens a way that an unprivileged attacker on the same system could get access to the file that is

[2016-09-14 21:06] fiore-adrian opened #3803 "readOnly on an object property"
I want to put a readOnly to an object property but I can't find a proper way to do it.

If I have:
[code]
A) I can put a readOnly in the ref property, but I think that this is incorrect in the swagger defintion. Also the parser ignores here the readOnly property. Eg:
[code]
B) I can put a readOnly in the def2 definition, but readOnly is only define for properties and not for definitions. This does

[2016-09-15 02:41] jimschubert commented on #3632
@ngzero if you check out my refactor in #3530, be warned Configuration.Timeout isn't hooked up to anything at the moment. I personally think it's confusing here if Configuration isn't an actual abstraction over RestClient, but I'm looking for feedback if this is indeed used/needed.

[2016-09-15 02:43] jimschubert commented on #3632
Also, refactor done based on issues reported in #1893

[2016-09-15 07:12] alrocar opened #3804 "[JAVA] Bug - Avoid adding the Content-Type header when it is null"
When generating a Java Client with the okhttp-gson generator. It includes the Content-Type header even when the variable is null. This makes some clients to not understand the request.

I have already fixed this in my fork.

alrocar/swagger-codegen@2c154c0d1ba62814cd35dc43c7ac19468fb0b7b2

Should I do a PR?

[2016-09-15 07:40] wing328 commented on #3804
@alrocar yes, please submit a PR so that we can review the fix.

[2016-09-15 08:58] tharpa opened #3805 "Swagger Swift codegen generates an empty implementation for a map"
##### Description

The [Swagger specification](http://swagger.io/specification/) specifies a way to define a string to string
map, e.g. in JSON:

[code]

or in YAML:

[code]

Unfortunately, the [Swagger Swift code generator](https://github.com/swagger-api/swagger-codegen) seems to have a
problem with it, generating only an _empty_ class implementation,
e.g. `Payload.swift` below:

[code]

Is there

[2016-09-15 15:28] #3774 closed

[2016-09-15 22:25] pbashyal-nmdp commented on #3618
When running under IDEA using the tomcat server, it fails:
If you take out the dependency, the server will come up.
[code]

[2016-09-16 05:08] cbornet commented on #3618
The spring server is a spring-boot app. It embeds its own Tomcat and can be started as a simple jar.  See the spring-boot doc for details. If you want a classic spring-mvc app, use the --library option (but if you don't know spring boot, you should give it a try as it's a great addition to spring)

[2016-09-16 08:04] jtnystrom opened #3806 "[Scalatra] collectionFormat=csv not handled correctly"
##### Description

When collectionFormat is explicitly set, incorrect code is generated by the Scalatra generator.
For example, with this specification:

[code]

the following code is generated:

[code]

The main issue here is that the comparison "csv" == "default" will clearly never be true, so the string will never be split. We will always get an empty list back.
According to the swagger specifi

[2016-09-16 09:48] wing328 commented on #3806
@jtnystrom thanks for reporting the issue. Would you please submit a PR so that we can review the change?

[2016-09-16 10:11] jtnystrom commented on #3806
I could, but I'm not confident that I know how the main issue should be addressed.
Probably, this codegen only supports the csv format so far (?) and I could fix that, but if so, the other formats would remain unsupported.

[2016-09-16 10:49] j4velin opened #3808 "NullPointerException when using "allOf" without any additional properties"
##### Description

java.lang.NullPointerException
	at io.swagger.codegen.InlineModelResolver.flatten(InlineModelResolver.java:245)
	at io.swagger.codegen.DefaultGenerator.generate(DefaultGenerator.java:215)
	at io.swagger.codegen.Codegen.main(Codegen.java:117)

##### Swagger-codegen version

latest from master

##### Swagger declaration file content or url

https://gist.github.com/j4velin/8e3081ff

[2016-09-16 11:14] bobrosoft commented on #2362
same sick issue ... fortunately found old swagger JAR to generate in old way.

[2016-09-16 11:55] jmls opened #3810 "Let's encrypt certificate error"
I am trying to get a swagger spec from a https url that is secured with a let's encrypt certificate

I get this error

`javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
`

(I haven't included the stack trace because it is

[2016-09-16 12:16] wing328 commented on #3810
One workaround is to download the spec to a local drive and use something like `-i /var/tmp/swagger.yaml' instead when generating the typescript-node client.

(or you can use https://editor.swagger.io)

[2016-09-16 12:17] wing328 commented on #2362
If you can share a spec to help us easily reproduce the issue, we will look into this further.

@jaz-ah @Edubits

[2016-09-16 12:17] jmls commented on #3810
ah! good thinking. I will give that a try - thanks!

[2016-09-16 12:18] wing328 commented on #3810
No problem

[2016-09-16 12:18] #3810 closed

[2016-09-16 12:54] bobrosoft commented on #2362
Sorry, haven't time to create full swagger spec, but if you add next object
[code]
and generate Swift sources, it will generate
[code]
and will throw "'_type' used within its own type" compilation error, because class can't have property and nested type definition of same name.

Possible solution is to have next in the end: `public var type: _Type?` (`type` word is allowed in Swift, `Type` is not)

[2016-09-16 13:44] wienczny commented on #3724
I would suggest this:

- Add an enumeration (SourceType) for types of generated files with
 - Source
 - Test
 - Project
 - ...
- Add a field with type SourceType to SupportingFile.
- Set<SourceType> to CodegenConfigurator
- Filter SupportingFile in DefaultGenerator.java:568.

I found a duplicate at #3737

[2016-09-16 13:51] pbashyal-nmdp commented on #3618
Hi Christophe,
The default embedded app-server for Spring Boot is Tomcat. Spring Boot will pick tomcat even if you don't specify the tomcat dependency.
[code]

The problem was Intellij IDEA was failing to start up the application when tomcat dependency was specified in the `pom.xml` file. If you removed it, you could start up the application from the IDE.

[2016-09-16 14:08] pbashyal-nmdp opened #3811 "[Spring] No swagger ui when starting a project from scratch"
##### Description
The sample Pet Application genereted for Spring Boot application doesn't show the Swagger UI nor the API calls work.

##### Swagger-codegen version

2.2.1 installed with home-brew

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

##### Command line used for generation

```swagger-codegen generate -i http://petstore.swagger.io/v2/swagger.j

[2016-09-16 14:12] cbornet commented on #3811
Some information is missing

[2016-09-16 14:21] pbashyal-nmdp commented on #3811
Sorry, hit enter in the wrong textbox.

[2016-09-16 14:36] cbornet commented on #3811
I think the app contextPath has been set to /v2 in application.properties.
Can you try reaching http://localhost:8080/v2 ?

[2016-09-16 15:07] cbornet commented on #3618
Oh, I see ! We are both packaging as jar and declaring Tomcat as provided (which actually removes the embedded tomcat). Normally you declare Tomcat as provided when you package a war to be deployed in an external container.
So we should remove this dependency as an executable jar is what most people will expect as default.

[2016-09-16 15:42] pbashyal-nmdp commented on #3811
Ok, that was it. Sorry I didn't go digging in and was trying to get  a sample working first.

Can I suggest that you comment the `server.contextPath=/v2` for the default case?

Thanks Christophe for your prompt help.

[2016-09-16 15:51] wing328 opened #3812 "[Scala] Consolidate `scala`, `async-scala` into a single Scala API client"
##### Description

Similar to Java, C#, Python API clients, we want to be able to provide a single Scala API client to perform synchronous and asynchronous HTTP calls.

##### Swagger-codegen version

Latest master

If anyone from the community wants to work on the consolidation, please refer to let us know.

A good starting point is to review how Java API client supports both synchronous and async

[2016-09-16 18:55] mwgray opened #3814 "[SWIFT] Generator does not export containers of enums correctly"
##### Description

When using a swagger.json with containers of enums, the exporter creates swift code that does not compile.

In User.swift
[code]

In Models.swift
[code]

##### Swagger-codegen version

2.3.0

##### Swagger declaration file content or url

[User.json.zip](https://github.com/swagger-api/swagger-codegen/files/477498/User.json.zip)

##### Command line used for generation

generate -

[2016-09-16 19:03] #3811 closed

[2016-09-16 19:06] mwgray opened #3815 "[Swift] Generated SDK build fails when using request parameters of type [integer] in query or body"
##### Swagger-codegen version
2.3.0

##### Swagger declaration file content or url
[User.json.zip](https://github.com/swagger-api/swagger-codegen/files/477523/User.json.zip)

##### Command line used for generation
generate -i User.json -l swift -o UserModel --additional-properties unwrapRequired=true,responseAs=PromiseKit

##### Steps to reproduce
Just run the generator

##### Related issues
Simil

[2016-09-16 19:43] brentryan commented on #3733
I'm still very much against this change.  It can cause lots of issues downstream with apis using jdbc.  This link provides lots of reasons around this and I know I've hit several of them in the past.  http://stackoverflow.com/questions/2305973/java-util-date-vs-java-sql-date

[2016-09-16 20:52] pbashyal-nmdp commented on #3811
Nevermind. The reason it was set to /v2 was because the swagger.json specifies
`basePath` as v2.
Thanks for your help.

[2016-09-16 21:15] webron opened #3816 "Erlang client generator"
_From @loretoparisi on September 16, 2016 13:0_

Is `Erlang` client autogen in the roadmap?

_Copied from original issue: swagger-api/swagger-editor#1064_

[2016-09-16 21:18] cbornet commented on #3733
The SOF you linked says that when using JDBC, you should store your dates as long or use joda or java8 dates. I can only agree with that. The java.util.Date and its subclass is flawed but java.sql.Date not more than java.util.Date.
This is for people who want to use the legacy dates anyway mostly on android to keep a low memory footprint.
We need different types for date and date-time and that's j

[2016-09-16 21:40] brentryan commented on #3733
Yes, but the problem is that there's still lots of legacy out there that relies on java.util.Date that this wouldn't interopt with because those methods take a java.util.Date, not a java.sql.Date.  It's also recommended to pass a java.util.Date to the jdbc driver, not a java.sql.Date because of how the drivers interpret the right underlying database type.  java.util.Date might suck, but it still c

[2016-09-17 07:18] cbornet commented on #3733
I'm starting to think that you're trolling me...
Please explain your solution for dealing with two different DateFormat for the same java type !

[2016-09-17 13:30] brentryan commented on #3733
lol. Trolling would be funny. I'm probably just missing something obvious. I honestly haven't done jdbc stuff in a while now. This just feels like a mistake to me.

If I get time, I'll try to look at this a little closer this weekend.

It sounds like you're trying to set 2 different DateFormat by using the Java Type to determine the difference. For us, we always just do ISO 8601 format everywhere

[2016-09-17 17:10] jmls opened #3817 "[typescript-nodejs] Dynamically setting basepath"
##### Description

I want to be able to pass the basePath as a parameter to the sdk/api. At the moment, it seems to be hardcoded as a variable called _var defaultBasePath = "https://localhost/api"_

If you want to override it currently, you have to pass a parameter to each model constructor

I would like to be able to call a function / method  / property in order to modify it
##### Command line us

[2016-09-18 09:43] fish2016 opened #3818 "[typescript-fetch-client] can not get the value in the response msg"
##### Description
Just like the following YAML and typescript-fetch-client generated code, the property name in YALM is of Snake case,
but the property name in generated typescript code is of camel case;
the name in YALM isn't same with the name in generated code,
so the value in message can not be resolved with the property name in the generated code.
after change the name in the generated code t

[2016-09-18 15:53] tadhgpearson commented on #2485
It's not clear here - are we tallking about Optional request parameters for each operation in the DefaultAPI class, or optionals fields and getters / setters in the model classes used for POST requests, and responses?

(Both might be good - but, in my opinion, would benefit from separate issues)

[2016-09-18 16:18] tadhgpearson opened #3819 "Java: Make it clearer which operation input parameters are required"
##### Description

Today, in the DefaultAPI class, one method is generated for each operation, and each of these methods has one method parameter for each operation parameter. There is no method generated that takes only the required parameters, and the only indication that a field is optional or required is a small text marked in brackets at the end of the @param for each method. Our API users do

[2016-09-19 00:01] wienczny opened #3821 "Java: Missing "extends BaseClass" in generated model"
##### Description

Generated code is missing a base class declaration.
##### Swagger-codegen version

2.2.2
master
##### Swagger declaration file content or url

[code]
##### Command line used for generation

[code]
##### Steps to reproduce

Run the command  and check Child.java the base class. See that "extends Parent" is missing.

The code reads:

[code]

instead of:

[code]

[2016-09-19 00:23] brentryan commented on #3821
You're missing a field called "discriminator" in your swagger spec.  I believe this is required.

[2016-09-19 00:42] wienczny commented on #3821
This definition works when beeing generated using the current editor.swagger.io. Which swagger Version is used there?
If there is no descriminator field should'nt this be an error during generation? Currently neither are the base class declared nor the properties copied to the child.
I thought the descriminator was used to decide which class to used during parsing of message when the base class is

[2016-09-19 03:38] wing328 commented on #3817
@jmls do you mean making the `basePath` property public instead of protected?

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/npm/api.ts#L153

[2016-09-19 03:38] wing328 commented on #3817
cc @Vrolijkx

[2016-09-19 03:42] wing328 commented on #3816
@loretoparisi we do not have the Erlang API client generator at the moment.

Recently @galaxie has contributed a Erlang server generator via #3758.

Would you have time to contribute the Erlang API client generator?

[2016-09-19 03:43] mitchellbusby commented on #3627
Hi @wing328 I seem to be getting these timeouts on my Android code even though my webserver is responding in a timely manner and logs are being registered - any idea why this could be?
I've tried building from the brew version, as well as the latest cloned swagger-codegen from github and compiled.

[2016-09-19 03:48] wing328 commented on #3808
PR merged. Issue closed.

[2016-09-19 03:48] #3808 closed

[2016-09-19 04:07] wing328 commented on #3627
@mitchellbusby the latest master allows you to change the timeout value: https://github.com/swagger-api/swagger-codegen/pull/3646

If you increase the timeout value, does it work for you?

[2016-09-19 04:35] mitchellbusby commented on #3627
@wing328 I'll try this but isn't the default timeout 30secs anyway?

[2016-09-19 04:45] mitchellbusby commented on #3627
Tried setting the timeout value to 50 seconds, still have the same issue. Very weird.
Below is the exact error I'm facing:
![screen shot 2016-09-19 at 2 43 32 pm](https://cloud.githubusercontent.com/assets/1575729/18622794/b542f782-7e77-11e6-9b52-b8ba8aaf4801.png)

[2016-09-19 07:09] wing328 commented on #3815
@mwgray can you please show the error message and the code in question?

One possible solution is to use `{{#isString}} ... {{/isString}}` to do whatever operation only if it's a string.

[2016-09-19 07:11] wing328 commented on #3800
Fixed via https://github.com/swagger-api/swagger-codegen/pull/3801

[2016-09-19 07:11] #3800 closed

[2016-09-19 07:25] sidhantgoyal commented on #3627
@mitchellbusby I think the issue is that RequestFuture.get is on the same thread as UI thread. Try using  AsyncTask or the other heatmapPointGet call which uses response listeners (callbacks).

[2016-09-19 07:42] mitchellbusby commented on #3627
@sidhantgoyal I have now tried using the callback method, doesn't seem to have fixed the issue. I'll try using an asynctask and report back.

[2016-09-19 08:09] ePaul commented on #2485
@tadhgpearson as I understand it, this is mainly about fields in the model classes (there is no "parameter" at all in the issue). Feel free to open another issue for the operation's parameters, and link to this one.

[2016-09-19 08:13] jmls commented on #3817
@wing328 : indeed I do ;)

Much better than the way I was trying to do it. Keep forgetting about protected / private  / public ;)

[2016-09-19 08:18] loretoparisi commented on #3505
@wing328

**[UPDATE]**
Regarding the `perl` client, using `Mozilla::CA` it solves my issue about the certificate authority, so I have to

[code]
in my `perl` client.

Then I get the problem I have mentioned above:

[code]

that happens in the deserialize method of the hash backing the result data:

[code]

Here I did a data dump just to check if the http stack worked and it did: the `$data` hash w

[2016-09-19 08:18] wing328 commented on #3817
@jmls may I know if you've time to submit a PR for the enhancement?

Personally I would also make defaultHeaders `public`: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/npm/api.ts#L154

[2016-09-19 08:18] jmls commented on #3817
Actually - looking at the proposed solution, this would mean that I would have to set the basepath for *every* api : rather than just changing defaultBasePath, so that every api would use that by default.

[2016-09-19 08:19] jmls commented on #3817
@wing328 : sure, I could create a PR : I just want to ensure that the way it's implemented is appropriate :)

[2016-09-19 08:25] wing328 commented on #3817
cc @Vrolijkx

[2016-09-19 08:34] wing328 commented on #3818
You can set the `modelPropertyNaming` to `original`:
[code]

Ref: https://github.com/swagger-api/swagger-codegen#online-generators

[2016-09-19 08:36] wing328 commented on #3806
If there're demand to support other formats, we can ask the contributors to file a fix with reference to the enhancement you're going to make.

[2016-09-19 08:42] jmls commented on #3817
my initial thought was to add

[code]

and then change the template to remove

[code]

and change

[code]
to
[code]

It seems to work ok - how does that look to you guys ?

[2016-09-19 09:00] cbornet commented on #2485
Just a note: ```Optional``` should not be put used on class atributes. It only has a meaning on methods return types.

[2016-09-19 09:20] mitchellbusby commented on #3627
Apologies, I've resolved my issue - turns out that if your model class doesn't map correctly to the received response *precisely*, it'll never trigger the onResponse method in the RequestFuture!

[2016-09-19 10:11] jtnystrom commented on #3806
OK - I will try to submit something this week. Thanks.

[2016-09-19 11:05] jmls opened #3824 "web service vs cli in docker"
At the moment, I am using the `run-in-docker.sh` file to execute swagger-codegen inside docker.

is there an option in swagger-codegen to run as a web service, so that I can do the same via a `get` or `post` ?

ie `curl ... http://localhost/generate?spec=file&language=typescript-node`

[2016-09-19 11:34] wing328 commented on #3505
@loretoparisi is there by any chance your API is publicly accessible? if yes, can you please share the spec so that we (the community) can also run some tests?

[2016-09-19 11:47] ePaul commented on #2485
@cbornet Could you elaborate why (or link to a point where this is elaborated)? Do you prefer using just normal reference values which can be null for fields/attributes?

I've heard this several times, but I don't quite understand the reasoning.

[2016-09-19 12:32] cbornet commented on #2485
See
http://blog.joda.org/2014/11/optional-in-java-se-8.html
http://stackoverflow.com/questions/26327957/should-java-8-getters-return-optional-type/26328555#26328555 (Brian Goetz is the man who specified Optional in java8)
Note that's for java8 Optional, I don't know about Guava's Optional.

[2016-09-19 13:28] loretoparisi commented on #3505
@wing328 Hello! well it's not completely done, by the way I have a beta version of the playground thanks to the amazing `swagger-ui` project https://playground.musixmatch.com/

[2016-09-19 13:35] alrocar commented on #3804
Hi,

finally found out a workaround in the API I was consuming.

Not a bug in the swagger-codegen. I close the issue :)

[2016-09-19 13:35] #3804 closed

[2016-09-19 15:12] druidoodle opened #3826 "[HTML2] multiple examples not showing"
##### Description

When defining examples for multiple responses in YAML file, they are not displayed correctly in the page. The HTML is there, but the "Response Example" link only links to the first one

paths:
  /listAccount:
    get:
      description: |-
        Lists accounts
      operationId: listAccount
      parameters:
        - name: inputs
          in: body
          description: json

[2016-09-19 15:34] David-Vander-Elst opened #3827 "parameter type "formData" not sent with PHP generated client"
##### Description

I'm generating a PHP client with swagger code gen. I have several parameters that I pass by POST. When I generate the client and test it, no post data are sent to the server.
The "in" fields of my parameters in the swagger.json are set to formData, I really dont get why in formData, parameters are NOT sent. if I change it to query it works, but I don't want to send my parameters

[2016-09-19 16:52] tadhgpearson commented on #2485
Thanks for the clarification and education @ePaul @cbornet
As you can see, I opened and referenced a new issue

[2016-09-19 16:56] mwgray commented on #3815
Hi @wing328, here's what the provided JSON will provide:

[code]

The line `"ids": ids`, produce this error when compiling in swift:
[code]

[2016-09-19 19:39] dankling opened #3828 "Not All Model Classnames Properly Capitalized When ModelNamePrefix Present"
##### Description

When specifying a model name prefix in a custom codegen class, some of the generated classes do not have proper capitalization of the original class name. For instance a model name of "account" and a model name prefix of "generated" will produce a class named "Generatedaccount" in file "Generatedaccount.java" when they should be named "GeneratedAccount" and "GeneratedAccount.jav

[2016-09-19 20:23] AlexNolasco opened #3829 "discriminator generated in both base and child"
##### Description

Should the discriminator property be also a property of the child class even if it is already in the base class?
##### Swagger-codegen version

2.2
##### Swagger declaration file content or url

[ticket.yaml.txt](https://github.com/swagger-api/swagger-codegen/files/481027/ticket.yaml.txt)

##### Command line used for generation

Objective-C   and C# client generators generate th

[2016-09-19 22:04] sstreety opened #3830 "JSON content type always chosen if declared in "consumes" (Java)"
##### Description

I'm not sure if this should be an issue or a question.    I've declared 2 consumes entries in one endpoint (a POST):
[code]

So, the above 2 entries end up in the following array:

[code]

The generated code that chooses the contentType looks like this:

[code]

So, in my particular case, the JSON contentType will always be chosen and a yaml contentType will never be chosen.
Wha

[2016-09-20 01:25] MaciejGit opened #3831 "Codegen for typescript-angular2 - all properties are optional"
##### Description
Hi,

while generating typescript-angular2 models, all properties are marked as optional, even when they are properly attributed by "required" parameter.

This is even visible in the Petstore sample clients provided in this repo: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-angular2/default/model - see Pet object for example and com

[2016-09-20 06:38] runeksvendsen commented on #3033
Alright, I found out how to do this.

Here's the diff for `lib/Gen/Types.hs`:

[code]

So just add the `camelTo2` import from `Data.Aeson.Types`, and add `camelTo2 '_' .` before `fromMaybe` in `removeFieldLabelPrefix`.

[2016-09-20 07:31] kungfoo commented on #2485
The explanation of Brian Goetz absolutely makes sense but in this case I'd argue that the value of getting a compile error, when referencing a return value (in DTOs) that became `Optional<T>` instead of `T` when the API changes, far outweighs the other points against using `Optional`.

My idea was initially to use it in DTOs for fields that are marked optional in the spec of the REST API, similar

[2016-09-20 07:33] David-Vander-Elst commented on #3827
I solved the problem. I forgot the consume property.

Thank you

[2016-09-20 07:33] #3827 closed

[2016-09-20 07:50] cbornet commented on #2485
One issue I see with putting Optional on the getter is that it breaks the javaBean contract. Jackson doesn't use javaBean reflection but people might want to use the generated DTOs with libraries that rely on javaBean spec.

[2016-09-20 07:58] kungfoo commented on #2485
@cbornet You are of course right, but then again one should be able to turn the feature on and off.

[2016-09-20 08:01] cbornet commented on #3426
We could also use https://github.com/JakeWharton/ThreeTenABP for "java8" dateLibrary

[2016-09-20 08:06] fish2016 opened #3832 "[typescript-fetch] basePath + subPath = "a invalid path", it lead to a "fetch api can not load" issue"
##### Description

basePath(https://api.weixin.qq.com/) + subPath(/card/code/checkcode)
= a invalid path(**https://api.weixin.qq.com//card/code/checkcode**)

**this invalid path can lead to a "fetch api can not load" issue.**

you can see that there are two slashes before "card" in the result path. one slash is correct, and two slashes are wrong.

the javascript-generated code is ok, but the types

[2016-09-20 08:07] cbornet commented on #2485
Yes, as long as Optional is optional :smile:

[2016-09-20 09:27] jmls commented on #3824
yup. found swagger-generator. stupid, I feel ...

[2016-09-20 09:27] #3824 closed

[2016-09-20 09:39] jmls opened #3833 "Building docker image of swagger-generator"
##### Description

I need to be able to add the *let's encrypt* certificate to the swagger-generator docker image (https://hub.docker.com/r/swaggerapi/swagger-generator)

I am not a java guy at all, so all the java / maven tools are new and unfamiliar to me.

However -
- I checked out swagger-codegen, and did a *maven package* in the root folder.
- I made my changes to the Dockerfile in *modules/s

[2016-09-20 09:41] loretoparisi opened #3835 "Android Client missing ApiKeyAuth example in the README"
##### Description

When generating the `android-client` from the Swagger Editor  - https://editor.swagger.io, the autogen `README.md` is missing an example of how the authentication works:

[code]

that actually it is missing also some exceptions, so it should be at least:

[code]

In the `README.md` there is no reference about the `ApiKeyAuth`, how to load it and how to set the api key for the cu

[2016-09-20 10:25] kungfoo commented on #2485
I would use it in conjunction with the retrofit library with the RxJava adapter. I think most people who use this combo (I have no idea how many that is), would also profit from -optionally- using `Optional`. :smile:

[2016-09-20 10:33] cbornet commented on #2485
My opinion is that you SHOULD use retrofit on android and you SHOULD use RxJava :smile: (with retrolambdas or Jack)

[2016-09-20 10:36] kungfoo commented on #2485
@cbornet You are absolutely right. We do and it's a pretty deep rabbit hole.

[2016-09-20 12:24] brentryan commented on #3733
@cbornet Have you considered using jackson's @JsonFormat option which allows different formats per property?

[code]

Take from http://wiki.fasterxml.com/JacksonFAQDateHandling

[2016-09-20 12:32] cbornet commented on #3733
Yes, I already considered it. Apart from the complexity it adds in the model generation, it doesn't work with Gson.

[2016-09-20 12:38] cbornet commented on #3733
And yes, you should always wrap a java.sql.Date into a Calendar before using it (the getYear()/getMonth()/etc methods are deprecated).
And yes, you should avoid the whole java.util.Date/Calendar/etc... if you can and use joda.

[2016-09-20 14:25] dkarlovi opened #3836 "[PHP] Allow for private Composer repository in documentation"
##### Description

When constructing a PHP client, README.md will include this snippet to add to `composer.json`:

[code]

As we're generating a private API client with a proper private Composer repo (Satis), usage of our package should include:

[code]
##### Swagger-codegen version

@e6049d6d30822c35a13608667637591f6536ad41
##### Swagger declaration file content or url

[config.json](https://gist

[2016-09-20 14:27] cbornet commented on #3688
It would be at least our default dateLibrary : http://blog.joda.org/2009/11/why-jsr-310-isn-joda-time_4941.html

[2016-09-20 14:37] mikeholler commented on #3688
Yeah, I think switching it to the default makes sense.

[2016-09-20 14:56] wing328 commented on #3836
@dkarlovi thanks for the feedback, which sounds reasonable to me.

May I know if you've time to contribute the enhancement to use CLI option (e.g. composerRepositoriesURL) to specify the URL?

[2016-09-20 17:12] dkarlovi commented on #3836
@wing328 I might, but as I don't have professional experience with Java (only did assignments in college), would need a second pair of eyes. Guess a WiP PR would be fine?

I have other PHP client-related ideas too so it might be a good start.

[2016-09-20 17:44] omerjanjua commented on #3805
I've got a similar issue.

I have a String `userId`. An extension on the `String` `encodeToJSON` which returns `AnyObject`. And then tries to cast it into a dictionary.

It always returns nil.

`let parameters = userId.encodeToJSON() as? [String:AnyObject]`

[2016-09-20 17:45] shailendrajain24 opened #3839 "Generate bean validation regex pattern"
Below method create a problem when we generate pattern regex in our code.
Problem is generate contain extra '\' when we apply bean validation @pattern like that  :-   /[a-zA-Z]/

public String addRegularExpressionDelimiter(String pattern) {
        if (pattern != null && !pattern.matches("^/.*")) {
            return "/" + pattern + "/";
        }

[code]

Location of source file line number 3285

[2016-09-20 18:28] Vrolijkx commented on #3817
@jmls looks like a perfect solution. We are doing almost the same in the angular2 version.

[2016-09-20 20:19] jmls commented on #3817
cool, I'll get onto it

[2016-09-20 21:47] ClayAtWork commented on #2208
I am experiencing this issue as well, I believe the current version of codegen is generating
[code]
which does not compile, and we would need
[code]

is this being fixed in an upcoming version or should I submit a fix?

[2016-09-21 02:24] wing328 commented on #2208
@ClayAtWork please kindly submit a fix.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-09-21 03:07] wing328 commented on #3839
@shailendrajain24 it's based on the discussion here: https://github.com/swagger-api/swagger-codegen/pull/2794

Is it causing any issue to your use case?

[2016-09-21 03:08] wing328 commented on #3836
@dkarlovi https://github.com/swagger-api/swagger-codegen/pull/977 may serve as a good reference.

[2016-09-21 03:24] wing328 commented on #3805
@tharpa @omerjanjua please give an example of what the actual JSON payload looks like.

The following definition does not look correct as it's missing the `properties` attribute:
[code]
For example https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L926

[2016-09-21 03:30] wing328 commented on #3828
@dankling thanks for reporting the issue. May I know if you've time to contribute a fix?

[2016-09-21 03:33] wing328 commented on #3830
@sstreety very good question. The spec allows users to specify multiple `consumes` in case the endpoint supports so. However the API client generated by Swagger Codegen only supports JSON payload (HTTP body) at the moment and that's why we always to default it to `application/json` if it's defined in `consumes`.

[2016-09-21 08:25] fish2016 opened #3841 "[typescript]Why is the code generated by http://editor.swagger.io/#/ different from the code generated by swagger-codegen-cli-2.2.1.jar"
##### Description

**1.** I use this command to generate the following typescript code
`java -jar swagger-codegen-cli-2.2.1.jar generate -i http://127.0.0.1:8080/wx_sdk_api.yaml -l typescript-fetch -o output/typescript-fetch-client -c config.json`

the result is:

[code]

**2** but the code generated by http://editor.swagger.io/#/ is different from the code above,
the following is the code generat

[2016-09-21 09:22] wing328 commented on #3835
@loretoparisi can you try the Java API client (okhttp-gson) which should be compatible with Android and have the correct readme showing code samples for authentication?

[2016-09-21 09:23] loretoparisi commented on #3835
@wing328 that makes sense, let me check.

[2016-09-21 09:54] loretoparisi commented on #3835
@wing328 so in the `java` example I have

[code]

the problem is that I don't see the `Configuration` class in the `Android` java package.

I have built the `java` client with `maven`, just to be sure, but doing

[code]

I get an error on the newly generated `java` client:

[code]

[2016-09-21 11:01] mt-snakamura opened #3842 "[Java] dateLibrary=legacy doesn't work against JSON class"
##### Description

`dateLibrary=legacy` doesn't work against `JSON` class.
##### Swagger-codegen version

`2.2.1`; I installed via `brew` on Mac OS X.
##### Swagger declaration file content or url

Configuration:

[code]
##### Suggest a Fix

Generated model classes are as expected. It has `java.util.Date` as Date.
However `JSON` class has both `java.util.Date` and `org.joda.time`. I believe it's a

[2016-09-21 11:07] wing328 commented on #3842
@mt-snakamura thanks for reporting the issue. Please kindly pull the latest master to give it a try.

[2016-09-21 11:10] wing328 commented on #3841
@fish2016 editor.swagger.io is using generator.swagger.io to generate code and generator.swagger.io should be using the latest stable version, which is 2.2.1.

Can you share wx_sdk_api.yaml so that we can try to reproduce the issue?

To enjoy the latest enhancement and bug fixes, we would suggest you to build the latest master.

[2016-09-21 11:12] wing328 commented on #3835
Did you define "callback" as a parameter any operation/endpoint?

For Android (volley), do you have time to contribute the fix/enhancement to the documentation? I can show you the which files to modify.

[2016-09-21 11:57] conet commented on #2362
@wing328 #2363 already contains a test case that demonstrates this, so I don't see why further specs demonstrating the problem are necessary.

[2016-09-21 12:02] wing328 commented on #3832
@fish2016 what about applying the same `.replace(/\/+$/, '');` for typescript code?

[2016-09-21 12:12] wing328 commented on #3831
@MaciejGit thanks for reporting the issue. I've file #3843 to address it.

[2016-09-21 12:14] wing328 commented on #3829
@alexandern am I understanding correctly that that the Java client does not have the issue and only ObjC, Swift and C# client has the issue?

[2016-09-21 12:26] wing328 commented on #3819
@tadhgpearson thanks for the feedback. It looks to me it's a limitation with the Javadoc at the moment:
- https://github.com/twilio/twilio-java/blob/6600ce305f6de7769df8152870ee50f9981b8e23/src/main/java/com/twilio/sdk/resource/instance/taskrouter/Task.java#L87
- https://github.com/facebook/facebook-android-sdk/blob/bb430b1dd14143a0a8f4e1bf5f94519f1f95f901/facebook/src/main/java/com/facebook/Graph

[2016-09-21 12:27] cbornet commented on #3842
Same as #3413

[2016-09-21 12:32] #3831 closed

[2016-09-21 13:25] shailendrajain24 commented on #3839
Jersey bean validation does not work with  this **/[a-zA-Z]/** pattern.

[2016-09-21 13:36] omerjanjua opened #3844 "Podspec missing summary and homepage variables [Swift]"
##### Description

When trying to do a pod update you get the below 2 errors

[code]

##### Steps to reproduce

Run pod update/install

##### Suggest a Fix

Insert the below lines in the podspec file
  `s.summary = 'Swagger Swift SDK'`
  `s.homepage = "http://swagger.io/"`

[2016-09-21 13:46] loretoparisi commented on #3835
@wing328 so the error was doing `mvn install` in the auto generated client, so yes, it formally correct, since it works for other clients like in the `Android` client the mvn install will generate the `jar` file, so I assume that it is correct.
For the docs, question is, is correct that the `android-client` does not have `Configuration` and `ApiClient` objects like the `java-client` has?

[2016-09-21 13:54] wing328 commented on #3831
PR merged. Please pull the latest master to give it a try.

[2016-09-21 13:57] wing328 commented on #3835
@loretoparisi that's correct. Android (volley) client does not have `Configuration.java`, `ApiClient.java` but it has `ApiInvoker.java`: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/android/volley/src/main/java/io/swagger/client

[2016-09-21 14:02] alexandern commented on #3829
@wing328

Correct,

I've attached the Java client generated code for the yaml in question which does what you will expect. Base properties are _not_ copied to the child class.

[Dog.java.txt](https://github.com/swagger-api/swagger-codegen/files/485164/Dog.java.txt)
[Pet.java.txt](https://github.com/swagger-api/swagger-codegen/files/485165/Pet.java.txt)

On the other hand, the Objective-C does dupl

[2016-09-21 14:16] alexandern commented on #3829
@wing328

I've tested Swift Client and it does not use inherit the Pet class,  it  uses composition instead. So, it should not be part of this issue.

[2016-09-21 14:21] loretoparisi commented on #3835
@wing328 ok it's becoming clear...

I was trying something like

[code]

or like

[code]

but it seems that the `invoker` instance it is still `null`.

[2016-09-21 14:31] wing328 commented on #3844
@omerjanjua thanks for reporting the issue. I'll take a look...

[2016-09-21 14:39] wing328 commented on #3835
[code]
Based on my understanding the above should work.

[2016-09-21 14:57] loretoparisi commented on #3835
@wing328 right it should instead I get a
`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void io.swagger.client.ApiInvoker.setApiKey(java.lang.String)' on a null object reference`

method is `virtual` it seems it is implemented somewhere else.

[2016-09-21 15:08] wing328 commented on #3835
You may need to new an instance of auth helper class in https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/android/volley/src/main/java/io/swagger/client/auth

[2016-09-21 15:33] omerjanjua commented on #3805
@wing328 the back end developer made this change and now the auto generated Swift code returns a value instead of nil

This has fixed my issue

Before:
[code]

After:
[code]

Defenition:
[code]

[2016-09-21 16:53] wing328 commented on #3844
I should be able to come up with a fix by tomorrow.

[2016-09-21 17:08] omerjanjua commented on #3844
Thanks, here's my podfile for reference

[SwaggerClient.podspec.zip](https://github.com/swagger-api/swagger-codegen/files/485620/SwaggerClient.podspec.zip)

[2016-09-21 19:53] cbornet commented on #3829
languages that support inheritance should have useInheritance=true. I guess it should be set for Obj-C and C# codegens.

[2016-09-21 20:15] alexandern commented on #3829
@cbornet

I see some references to useInheritance
https://github.com/swagger-api/swagger-codegen/search?utf8=%E2%9C%93&q=useInheritance

I'll try to figure out where to insert this code.

[2016-09-21 20:32] cbornet commented on #3829
Oh, my mistake ! It's **supportsInheritance** I was talking about !

[2016-09-21 20:48] alexandern commented on #3829
@cbornet

In that case, I wonder if the fix is as simple to add the code below to the clients in question.

[code]

[2016-09-21 21:29] gamort opened #3845 "Base64 parameters code generation"
##### Description

When generating PHP code that will utilize base64 encoded data, no code is generated to provide base64 encoding/decoding.

Example:
https://github.com/swagger-api/swagger-codegen/blob/4d19da41dd8a3462f88c2be57174aace45101064/modules/swagger-codegen/src/test/resources/2_0/binaryDataTest.json

Furthermore a search on base64 in this github repository does not bring up a base64 enco

[2016-09-21 21:36] cbornet commented on #3829
I would say just ```supportsInheritance = true;```.  The useInheritance property is only in javascript to have the choice between inheritance and composition.

[2016-09-21 23:02] alexandern commented on #3829
@cbornet
Makes perfect sense, I've submitted a commit to my fork.  I still need to figure out if it may break any unit tests.

https://github.com/alexandern/swagger-codegen/commit/585f23185688aad7d46a6faa402abc0cbbddc20a

[2016-09-22 04:51] cbornet commented on #3829
You should regenerate the samples. There are scripts for this in the ./bin directory.

[2016-09-22 07:10] karussell opened #3846 "Several clients break due to model 'break'"
##### Description

For two clients Sinatra&Dart I get a problem that model 'break' is not allowed, but e.g. Java, .Net or Python just renames break to ModelBreak. E.g.

[code]

##### Swagger-codegen version

swagger-codegen-cli-2.2.1.jar

##### Swagger declaration file content or url

https://graphhopper.com/api/1/vrp/swagger.json

##### Command line used for generation

https://github.com/graphho

[2016-09-22 08:11] loretoparisi commented on #3835
@wing328 you are right, so first we need an `Authentication` instance

[code]

then we setup the api instance

[code]

Last problem (but not least), the `apiInstance` still `null` here :(

`                                                                                 Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String io.swagger.client.ApiInvoker.invoke

[2016-09-22 10:13] loretoparisi opened #3849 "go-client: cannot use a.Configuration.GetAPIKeyWithPrefix("apikey") (type string) as type []string in assignment"
When  generating the `go-client-generated.zip` from editor.swagger.io I get several error in the generated code like

`swagger/album_api.go:139: cannot use a.Configuration.GetAPIKeyWithPrefix("apikey") (type string) as type []string in assignment`

due to a bad assign to `[]string` literal of a `string`.
I'm pretty new to `go`, so I'm not sure if this is due to a recent go compiler (See later).
##

[2016-09-22 10:18] stevecookform3 commented on #3792
For the example enum:

[code]

In jaxrs you get

`allowableValues="CSV, XML, TXT"`

in spring you get

`allowableValues = "{values=[CSV, XML, TXT], enumVars=[{name=CSV, value=\"CSV\"}, {name=XML, value=\"XML\"}, {name=TXT, value=\"TXT\"}]}") `

My assumption is that the jaxrs version is the correct one.

[2016-09-22 10:46] wing328 commented on #3844
I've filed #3850 to add default values for Swift podspec.

By the way, you can customize the podspec via CLI options:
[code]

[2016-09-22 10:56] wing328 commented on #3849
@loretoparisi thanks for reporting the issue.

cc @guohuang

[2016-09-22 10:57] wing328 commented on #3792
@stevecookform3 thanks for the additional info. I'll take a look later today or tomorrow.

[2016-09-22 11:26] #3844 closed

[2016-09-22 11:26] wing328 commented on #3844
PR merged. Please pull the latest master to give it a try.

[2016-09-22 12:20] AlskiOnTheWeb opened #3851 "go-server code gen has no means to set model templates"
##### Description

When trying to use the go-server generator, the default behavior is that there are no model templates defined, so none are generated. There does not appear to be a means to get any defined such that they would be generated and there does not appear to be a default model.mustache in the source resources.
##### Swagger-codegen version

2.2.2-SNAPSHOT
##### Swagger declaration file

[2016-09-22 12:34] loretoparisi commented on #3849
Welcome!
I also suggest to add this example, that for `go` beginners like me, took half a day to complete it!

[code]

[2016-09-22 13:16] omerjanjua commented on #3844
How does this tie in with `http://editor.swagger.io/#/`

I'm not using the petstore example. When I generate client side code from that url the podspec is still outdated.

[2016-09-22 14:48] ok11 commented on #3371
And just for the record -- the problem is that the template uses `returnType `property, which gets resolved in the higher (operation) context, and thus gives really an operation return type, Product in the example above; instead the template should use `baseType`, which is a property of the response.
So, a bug in the `api.mustache` . I have fixed locally, will wait until the pull request by @frasc

[2016-09-22 15:58] varunmittal91 commented on #3765
It is also ignoring validation parameters for integer
definition:
  somefield:
    type: integer
    minimum: 1
    maximum: 100

Produces:
  somefield:
    type: "integer"

[2016-09-22 17:51] guohuang commented on #3849
@loretoparisi I tried using Go version 1.7.1 on windows, I couldn't reproduce the compilation issue that you have,  the function `GetAPIKeyWithPrefix` is only returning string, not []string, so i don't know what the issue is.

[2016-09-22 18:18] webron opened #3852 "Swagger Spring Boot Code Gen - API docs don't reflect the actual YAML for Array return type"
_From @techlogix on September 22, 2016 13:51_

**Swagger File**

[code]

/api-docs

responses: {
200: {
description: "successful operation",
schema: {
$ref: "#/definitions/PaygoVendor"
}

* Version: swagger.editor.io
* Browser/OS: all

**Issue**
There is a DIFFERENCE in the generated API spec from the Spring Boot generated source from the YAML spec for ARRAY return type.
Easy to replicate - basica

[2016-09-23 05:16] wing328 commented on #3844
If you're using editor.swagger.io, which uses the latest stable version of Swagger Codegen (generator), you will have to wait for the next stable release 2.2.0.

or you can build the JAR based on the latest master: https://github.com/swagger-api/swagger-codegen/#getting-started

[2016-09-23 07:27] wing328 commented on #3371
@ok11 I don't see any PR from @frasch1712 : https://github.com/swagger-api/swagger-codegen/pulls/frasch1712

For the time being, I would suggest you to file one for review. Thanks.

[2016-09-23 07:29] wing328 commented on #3851
@AlskiOnTheWeb we can probably reuse the model template in the Go API client: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/model.mustache

cc @guohuang

[2016-09-23 07:31] wing328 commented on #3846
@karussell thanks for reporting the issue.

Would you have time to apply the same fix to Sinatra and Dart generator: https://github.com/swagger-api/swagger-codegen/blob/569997b0733acb42903531dbab696f28efb746e1/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PythonClientCodegen.java#L393-L397

[2016-09-23 07:38] fish2016 commented on #3832
After adding .replace(/\/+$/, '') for typescript code, this issue disappear.

just like the following code:
`const BASE_PATH = "https://api.weixin.qq.com/".replace(/\/+$/, '');` ,

[2016-09-23 07:42] wing328 commented on #3832
@fish2016 thanks for the confirmation. May I know if you've time to submit a fix?

[2016-09-23 07:48] karussell commented on #3846
Sorry, lack of time and skills in this language area :/

[2016-09-23 07:49] fish2016 commented on #3832
but I don't know how to modify swagger-codegen code

[2016-09-23 11:16] wing328 commented on #3832
No worry. I've filed https://github.com/swagger-api/swagger-codegen/pull/3855 to fix the issue. Will merge it into master once all the test cases pass

[2016-09-23 11:58] wing328 commented on #3845
@gamort did you actually mean `"format": "byte"` instead of `"format": "binary"`?

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

[2016-09-23 11:59] #3832 closed

[2016-09-23 11:59] wing328 commented on #3832
@fish2016 PR merged. Please pull the latest and give it a try.

[2016-09-23 15:05] wing328 commented on #3792
@rajeshkamal @stevecookform3 It seems to me the issue should have been fixed in the latest master and we've a test case to cover it. Here is the auto-generated code for the test case:
https://github.com/swagger-api/swagger-codegen/blob/4e20bd9bab43ce21f21954a45402ca49df5a2a64/samples/server/petstore/spring-mvc/src/main/java/io/swagger/api/FakeApiController.java#L120

Have you pull the latest maste

[2016-09-23 15:20] filpano opened #3856 "[JAXRS-SPEC] Enum values are generating "&quot;", "&#3D;" in the string putting imports all over the place"
##### Description

I wanted to generate API Definition with the `swagger-codegen-maven-plugin`, for jaxrs-spec so that I receive only the models and basic API implementations (i.e., no factories). For all models that have an enum however, it produces uncompilable source code.

##### Swagger-codegen version

The latest stable build, 2.2.1, although I have also tried 2.2.2-SNAPSHOT but it has not ma

[2016-09-23 17:01] omerjanjua opened #3858 "Bug in auto generated client-side code [Swift]"
##### Description

There's an issue with the url path generated for one of the methods.

##### Swagger-codegen version

[code]

##### Swagger declaration file content or url

[code]

##### Steps to reproduce

Generate client-side Swift code from `http://editor.swagger.io/#/`

##### Suggest a Fix

In the method `stringByReplacingOccurrencesOfString` `"{accountId}"` should be the the value name from

[2016-09-23 17:39] waltwood opened #3859 "[JAXRS-CXF] Standalone enum classes are missing class name, data type, and imports"
##### Description

I'm trying to use an enum as a stand-alone class to be used in multiple places in my data model. However the enum classes are not generated correctly and are therefore unusable.

The classes appear to be missing:
- class name
- import statements for the JAXB annotations
- data type for field, constructor, and enum declarations

Example:

[code]
##### Swagger-codegen version

2.2

[2016-09-23 20:52] y-higuchi opened #3861 "[JAVA/jaxrs] Which is the actual default library template? jersey1 or jersey2"
##### Description

When I print jaxrs config options by `swagger-codegen config-help -l jaxrs`, it outputs
[code]
Which one is the actual default?

##### Swagger-codegen version

2.2.0 installed via Homebrew

##### Swagger declaration file content or url

##### Command line used for generation

`swagger-codegen config-help -l jaxrs`

##### Steps to reproduce

`swagger-codegen config-help -l jaxrs`

[2016-09-24 03:06] wing328 commented on #3861
@y-higuchi I just did a test and the output (jaxrs) is using `jersey2`
[code]

May I know if you've time to contribute a fix to the wording?

[2016-09-24 07:11] #3861 closed

[2016-09-24 07:59] dkarlovi commented on #3836
@wing328 can you point me to the command that rebuilds `swagger-codegen-cli.jar`? I'd like to rebuild without all the tests while making my changes and then only in the end run the complete build with tests and stuff.

I'm currently running in Docker with `./run-in-docker.sh mvn package`.

[2016-09-24 09:01] grEvenX commented on #2110
Any news on this, not being able to handle errors gracefully is a major flaw in the generated client in my opinion. Is any work done on improving handling error-responses from APIs, or are you looking for contributions for this matter?

[2016-09-24 19:21] sqmuser opened #3866 "[JAVA] swagger-codegen ApiClient with Security/SSL"
##### Description

Question on Swagger's generated code for ApiClient. I noticed that you have a sample that generates SSL code for ApiClient.  My Rest API uses swagger and gradle to generate the Rest API.  I would like to know how to generate the same type of ApiClient with the use of SSL.My yaml spec has both 'http' and 'https' as schemes but does not produce any generated code that uses SSL.

I

[2016-09-24 20:41] sqmuser commented on #3866
BTW.  The API uses Jersey client.  I noticed that the sample petstore did not generate any ssl for ApiClient. It only generated it for GSON.

[2016-09-25 09:24] dkarlovi opened #3867 "[PHP] RFC on emitted code quality"
##### Description

The code emitted by PHP generator is solid, but could be made better. If I open the project with PHPStorm and crank up all the inspections (including the excellent [EA extended](https://plugins.jetbrains.com/plugin/7622?pr=idea)), I get quite a few violations, including those regarding code style, code smell, performance, type compatibility, etc.

As the code is generated, most

[2016-09-26 03:34] wing328 commented on #3858
@omerjanjua thanks for reporting the issue, which has been fixed via #3868

Please pull the latest master to give it another try.

[2016-09-26 03:37] #3858 closed

[2016-09-26 03:49] wing328 commented on #3867
@dkarlovi thanks for the suggestion. We definitely welcome code analysis/inspection using PHPStorm or other tools (previously I tried codeclimate, codacy).

Do you mind sharing the PHPStorm report so that the community can review and comment on it?

[2016-09-26 05:48] tysont opened #3869 "Swagger Codegen template for Go has a missing import"
##### Description

Brand new to the project, so forgive me if I'm missing something here. I just brew installed swagger-codegen and tried to use it to generate a Go server from a hello world YAML file:

 I get an error when I build the project after generation:

Looks like it's missing the import for "encoding/json" and adding that import fixes the issue. I grabbed the source and verified that it

[2016-09-26 06:08] tysont commented on #3869
Scratch that. I just tried that fix and ran the shell script to regenerate petstore, and it causes a double import of "encoding/json" in pet_api.go. Maybe this is just my issue - what could I be screwing up here? Thanks in advance for the help...

[2016-09-26 06:14] wing328 commented on #3869
@tysont I don't see double import of "encoding/json" in the Petstore sample: https://github.com/swagger-api/swagger-codegen/blob/b2344e10cbc6508065ea888f332fe75f553dbad2/samples/client/petstore/go/go-petstore/pet_api.go

The issue you encountered may have already been addressed in the master.

Please pull the latest master to give it a try. (brew only installs the latest stable version, not latest

[2016-09-26 06:39] tysont commented on #3869
To clarify, the issue is that "encoding/json" doesn't show up in the default_api.go file for the YAML that I included above, which causes a build failure. I repro'd the issue on the latest code here, so it isn't specific to the version that brew installed.

I forked the repo and took a stab at fixing the issue by adding the additional import to the api.mustache file here:

https://github.com/tyson

[2016-09-26 06:56] dkarlovi commented on #3867
@wing328 not at all, I'll add it here for Petstore later today.

[2016-09-26 07:16] wing328 commented on #3869
@tysont thanks for testing the latest master.

To fix it we need to update the logic [here](https://github.com/swagger-api/swagger-codegen/blob/f47208a75b2ac00878e736131fb7dc192a595e85/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/GoClientCodegen.java#L409-L415) as it imports "encoding/json" for primitive response/return type.

[2016-09-26 07:16] wing328 commented on #3869
cc @guohuang

[2016-09-26 08:52] loretoparisi commented on #3505
**[UPDATE]**

I get some more debugging info here

[code]

this doing

[code]

in `sub _deserialize `.

So the model in `$_instance` seems to be like this hash

[code]

Not sure if `undef` is the problem here.

[2016-09-26 09:00] wing328 commented on #3505
I noticed that there's an object named "InlineResponse200Message", which means you've defined a model inline in the response.

I would suggest you to define it properly like this one: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L177

It seems like the following line fails to create an object:
[code]
Please check to ensure

[2016-09-26 09:01] wing328 commented on #3866
@sqmuser do you mean you're looking for an option to disable SSL/TLS validation in the Java API client?

[2016-09-26 09:02] wing328 commented on #3660
@Herst I don't think it's supported at the moment and we would definitely welcome contribution to enhancement the documentation with the examples provided in the spec.

[2016-09-26 09:04] loretoparisi commented on #3505
Hello,
not sure this what it means, btw my `yaml` for that response is

[code]

the `perl-client` has all the auto generated object in the `lib/WWW/SwaggerClient` folder.

[2016-09-26 09:11] wing328 commented on #3505
You've many inline objects defined:
[code]
instead you can define the object in the `Defintions` section so that the model definition is reusable. A good example is [Pet](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L654), which contains 2 objects as properties: `Tag`, `Category`.

[2016-09-26 09:19] loretoparisi commented on #3505
Ok I got it, you meant `inline` objects instead of object scheme in the `definitions` sections like:

[code]

Thank you, going to update my swagger.

[2016-09-26 10:02] loretoparisi commented on #3505
Hey @wing328  is it possibile to have a `$ref` of a single nested object like it works for `type: array` :

[code]

since my response is like

[code]

And I would like to model `Track` as a definition separately, and then reference it in the body with the nested `message->body->track`

Thank you

[2016-09-26 10:24] stevecookform3 commented on #3792
Yes - looks good in latest master. thanks.

[2016-09-26 10:30] wing328 commented on #3792
@stevecookform3 thanks for the confirmation. Issue closed.

[2016-09-26 10:30] #3792 closed

[2016-09-26 11:08] cacti77 opened #3870 "Default Java client does not support Content-Type "application/xml""
I have a swagger.yaml with a `post` method that produces `application/json` and this for consumes:

[code]
I generated the Java client from the swagger.yaml using swagger-codegen-cli-2.2.1.jar and the `--lang java` option. I did not specify a `--library` option. (I doubt it's relevant but, just in case, I also specified these options in an associated json config file: apiPackage, groupId, artifact

[2016-09-26 12:14] cacti77 commented on #3870
I guess one workaround could be to use a Java library other than the default one. But does anyone know which of the other libraries will work with application/xml content type in POST requests?

[2016-09-26 13:09] sqmuser commented on #3866
Hi - Thanks for the reply.  I have a self-signed certificate and I have set the ssl parameters through JVM's System Property (keystore, kpass, truststore, tpass).  I am looking for an option to generate ApiClient.java with the option to enable SSL/TLS .  I am using  swagger-codegen-plugin:1.3.

[2016-09-26 13:22] wing328 commented on #3870
I think you can add one more check before `else`:
[code]
If the content type contains `application/xml`, then use one of the methods describe in http://stackoverflow.com/questions/736343/what-is-the-best-way-to-convert-a-java-object-to-xml-with-open-source-apis to convert the Java model into XML string.

Do you think that will work for your use case?

[2016-09-26 13:47] DavidBiesack commented on #3436
one option: https://github.com/atlassian/commonmark-java

[2016-09-26 14:05] loretoparisi commented on #3505
@wing328 thanks for your support, solved with

[code]

I have updated the `yaml` file using external `definitions` then, and it looks a lot better now. By the way, this seems not to fix the issue for the `perl-client` :(

[2016-09-26 14:46] loretoparisi opened #3871 "java-client compile error when using "callback" as named parameter"
I get this error

[code]

caused by `callback` named parameter in the auto generated method signature

[code]

since `callback` is used by `swagger-codegen` as http response callback in the method

[code]

 and in the `yaml` definition is a named parameter for the api:

[code]

This will cause `mvn install` to fail due to bad parameter types as consequent errors

[code]

etc.

[2016-09-26 15:32] tysont commented on #3869
If you help me understand the change that needs to be made for that conditional check, I'm happy to try to debug later and take a stab at making/testing the change and sending a PR over.

[2016-09-26 15:44] cacti77 commented on #3870
Thanks @wing328 . Yes I agree we need at least one extra else-if clause and maybe also an `isXmlMime()` method.  In my case however the XML is just a `String`. It does not correspond to a Java object, or at least not one I have any access to or any interest in parsing. So maybe this would work for me...

[code]
I'll give it a try...

[2016-09-26 15:50] cacti77 commented on #3870
Yup, that worked:).

[2016-09-26 16:01] wing328 commented on #3870
@cacti77 glad to hear that it works for you. Do you mind submitting a PR to contribute back the enhancement?

[2016-09-26 16:08] jaz-ah commented on #2110
sorry guys - it looks like some error handling has been added recently, so after the Swift3 merge let's look at what we have and we can augment that.

[2016-09-26 16:30] guohuang commented on #3869
@tysont can you tell me which api file has issue? i don't see the default_api.go in your repo, I need to know your return type of the function. thanks

[2016-09-26 17:08] tysont commented on #3869
I didn't include my generated sample project in the repo; it's just a fork of this (swagger-codegen) repo. IF you follow the repro steps above with the YAML that I provided, you should end up with a default_api.go that is missing the import. The problematic generated function looks as follows:

/**
 *
 * Returns a greeting to the user!
 *
 * @param user The name of the user to greet.
 * @return *s

[2016-09-26 17:58] guohuang commented on #3869
@wing328 after some investigation, I found this issue is the side effect of this fix, https://github.com/swagger-api/swagger-codegen/issues/2725, we conditionally remove `imports "encoding/json"`, however, if the return type is primitive then we don't have code to handle this situation, I thought I had some code to handle this situation, but I couldn't find it, we have to somehow handle any return

[2016-09-26 19:08] davidsantiago opened #3874 "Warning printed when generating static html docs"
##### Description

When using language 'html', the generator spits out repeated warnings:

[code]
(Many more times than I've quoted here).

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Command line used for generation

Called from gradle tasks with the following options:

      inputSpec = './src/main/resources/spec.yaml'

      output = 'build/api_docs'
      language = 'html'

      addi

[2016-09-26 20:51] arnested commented on #3259
@wing328, did you actually fixed this in da45cb7ff515fd7cf10b142b7e23d58e2ab6f342 adding:
[code]

[2016-09-26 21:03] devshorts commented on #3132
Any progress on this? @wing328 If you are blocked I can probably try helping

[2016-09-26 23:50] wing328 commented on #3259
@arnested yup

[2016-09-26 23:50] #3259 closed

[2016-09-27 00:51] wing328 commented on #3132
@devshorts thanks for offering help. I'll push what I've done so far by tomorrow...

[2016-09-27 08:12] cacti77 commented on #3870
@wing328 I confess I've never done a PR before and I'm on a tight schedule to deliver lots more code. So I'd prefer not if you don't mind. I'm not even sure which file you'd alter to be honest, maybe swagger-codegen/modules/swagger-codegen/src/main/resources/Java/ApiClient.mustache ?? Sorry about that.

[2016-09-27 13:12] wing328 commented on #3870
@cacti77 that's ok. If I make the change, would you have time to perform testings to confirm?

[2016-09-27 14:32] cacti77 commented on #3870
@wing328 Yes that should be ok, especially if you give me the pre-built jar to test. I did try building swagger-codegen from master the other day but ran into issues (`UnknownHostException` for github.com if I recall correctly).

BTW Unfortunately it looks like the default Java client can't handle returning strings for application/xml either. Instead of generating methods in `DefaultApi` that retu

[2016-09-27 15:46] chrismanderson opened #3877 "Proper way of extending client generator?"
##### Description

I'm trying to subclass the Ruby client generator by following the steps in https://github.com/swagger-api/swagger-codegen/blob/master/README.md#customizing-the-generator. I've made a subclass of the generator, followed the instructions in that readme section to make my subclass

[code]

Then named the file `MyRubyCodeGen.java` and placed it in the /codegen/languages folder. When

[2016-09-27 15:59] wing328 commented on #3874
@davidsantiago thanks for reporting the issue. I should be able to come up with a fix by tomorrow.

[2016-09-27 16:27] Danielku15 opened #3878 "[JavaScript] Client sets Content-Type for multipart/form-data which causes a missing boundary in the header"
##### Description

When uploading files via Ajax and FormData, you must not set the Content-Type header which is done [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/ApiClient.mustache#L366).  This will cause the browser to really send a header `Content-Type: multipart/form-data` which is wrong. If you do not set this header e

[2016-09-27 17:52] dkarlovi commented on #3867
[Here's the inspections' output](https://drive.google.com/file/d/0B5v2CS9pVo3aRktzOUxWWDFzV1k/view?usp=sharing).

Sorry about it being an archive instead of link to a HTML file, it created a 15MB file which I don't know where to host or what to do with.  Anyway, not all of these are errors, but I feel there's some good stuff here which can be used.

/cc @arnested

[2016-09-27 19:49] adamduffy commented on #3818
i have the same problem, but i (and i assume the OP), actually wants camel case on the client.  is the proposal to fix this or to use snake case as a workaround?

[2016-09-27 22:14] cgardens opened #3880 "[RUBY] client, NameError when parsing nested anonymous objects"
##### Description

The ruby client does not seem able to correctly parse nested anonymous objects.

ex. a route that returns this data structure
[code]

Fails in the client with this error:
[code]

This appears to be due to the fact that this regex, is unable to correctly parse the data structure type.

The data structure is:
[code]

This is how it was parsed by the client:
[code]

This is how it

[2016-09-27 22:53] nyilmaz opened #3881 "[JAVA] Feature add support for two-legged OAuth2"
##### Description

Referencing to Google's [documentation](https://developers.google.com/identity/protocols/OAuth2ServiceAccount); in the case of authenticating server-to-server applications with two-legged OAuth2 is possible. This requires sending `grant_type` and `assertion` parameters to `token_url`.

##### Swagger declaration file content

I have already sent a PR to APIs-guru for adding `toke

[2016-09-28 00:31] ashughes commented on #3568
I'm running into this issue as well with `Objects.equals()` and `Objects.hash()`. In our case, I'm using the generated code on Android, so we're stuck with the Java 6 requirement unless we have minSdk 19.

The reason we use Java instead of Android for the codegen language, is we want to use retrofit2, which is not an option for the android generator (I'm not sure why). However, I just tried genera

[2016-09-28 00:44] ashughes opened #3882 "[ANDROID] Add option for retrofit2"
##### Description

Retrofit 2 is available with the Java language, but not Android.
##### Swagger-codegen version

2.2.1
##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i swagger.yaml -l java -o generated --library retrofit2 -DuseRxJava=true,hideGenerationTimestamp=true

Currently we're using Java, but we ran into some Android compatibility issues, so it would b

[2016-09-28 00:48] asarazan opened #3883 "[Java] Generate copy constructor in models"
##### Description

Java models should have a way to easily create a clone or copy. Cloneable seems like a bad idea so I think we're probably left with a copy function or copy constructor.

I couldn't find anything in issues search. Has this been suggested before?

[2016-09-28 06:13] saharj opened #3884 "Build Issue while first installation"
_From @gsujathap on September 27, 2016 7:31_

C
![screen shot 2016-09-27 at 12 50 13 pm](https://cloud.githubusercontent.com/assets/16931145/18864136/8c207f64-84b2-11e6-99b7-2de6863ff727.png)
urrently I am using Swift V 3.0. while build it is raising some errors. How to resolve them.

_Copied from original issue: swagger-api/swagger-editor#1075_

[2016-09-28 06:14] saharj opened #3885 "not supporting Swift 3.0"
_From @gsujathap on September 28, 2016 5:25_

while migrating to swift 3.0 swagger files generating errors. Please resolve this issue.
I have attached list of errors
![screen shot 2016-09-28 at 10 51 19 am](https://cloud.githubusercontent.com/assets/16931145/18901550/97294032-8569-11e6-8abc-a60249b2419d.png)

_Copied from original issue: swagger-api/swagger-editor#1076_

[2016-09-28 06:19] Edubits commented on #3885
@saharj could you please test with the updated generator in #3823 ? Thanks!

[2016-09-28 06:22] webron commented on #3885
Not @saharj but @gsujathap ;)

[2016-09-28 06:29] Edubits commented on #3885
Missed that line, thanks @webron

[2016-09-28 06:35] cbornet commented on #3882
Can you describe what compatibility issues you faced ? I use the java/retrofit2 gen on android without problem.

[2016-09-28 06:48] cbornet commented on #3881
You mean you want JWT auth support ? That's currently not supported by the swagger/OAI spec. I think there is an issue for that. We could have some support for it in the templates but you will not be able to document the fields in your spec, you will have to provide it yourself.

[2016-09-28 06:51] gsujathap commented on #3885
how to check it

[2016-09-28 06:53] gsujathap commented on #3885
actually we are downloading zip file from swagger editor using swift language and the JSON URL

[2016-09-28 07:05] cbornet commented on #3881
Is https://tools.ietf.org/html/rfc7523 what you want ?

[2016-09-28 07:41] Edubits commented on #3885
@gsujathap on https://github.com/swagger-api/swagger-codegen you can find instructions on how to build swagger-codegen and use it. In this case you should check out the swift-3 branch at https://github.com/hexelon/swagger-codegen/tree/swift-3

[2016-09-28 10:13] Daniel-Baranowski-BJSS opened #3886 "Java enum code generation"
##### Description

I have a compilation error when trying to compile. The "3RD_AND_4TH_PLACE" seems to be causing it
[code]
Error:
[code]

##### Swagger-codegen version
2.1.6

[2016-09-28 10:38] wing328 commented on #3818
@adamduffy have you tried setting `modelPropertyNaming` to `camelCase`?

[2016-09-28 10:39] wing328 commented on #3886
@Daniel-Baranowski-BJSS please try the latest master, which should have addressed the issue.

[2016-09-28 10:41] Daniel-Baranowski-BJSS commented on #3886
Ok thanks for quick response :)

[2016-09-28 10:41] #3886 closed

[2016-09-28 10:42] wing328 commented on #3878
@Danielku15 thanks for reporting the issue and proposing a fix. What if the auto-generated JS API client is used in other environments (e.g. Node) other than browser?

[2016-09-28 10:47] wing328 commented on #3883
@asarazan I don't recall anyone suggesting something similar.

Just so you know we can make the model "Serializable" by switching on an option. For cloneable or copy we can do something similar.

[2016-09-28 11:11] gsujathap commented on #3885
![screen shot 2016-09-28 at 4 39 14 pm](https://cloud.githubusercontent.com/assets/16931145/18911337/24213e88-859a-11e6-9b92-1990e3cfb695.png)
I have downloaded a swift file for API and models auto generating using JSON URL. In build it is generated 999+ errors. Please help me out

[2016-09-28 11:31] Edubits commented on #3885
@gsujathap The online generator runs on the latest stable release which does not support Swift 3 yet. That's why you should build your own Swagger codegen binary based on the swift-3 branch as described in the link.

[2016-09-28 11:39] cacti77 opened #3888 "Default Java client returns ApiResponse<Void> instead of ApiResponse<String> for produces application/xml"
This is the logical counterpart to issue #3870.  With this bit of swagger.yaml:

[code]
If I use swagger-codegen-cli-2.2.1.jar and the same command-line options as in issue #3870, then the resulting default Java client code, `DefaultApi.java`, looks like this, omitting Javadoc:

[code]
Note the void return types:(. To get the XML to be returned in my GET requests I had to change the code to this:

[2016-09-28 11:41] cacti77 commented on #3870
@wing328 The related client issue for returning XML is #3888 . I think there's a related issue in the Spring server-generated code too; I'll report that later...

[2016-09-28 12:08] gsujathap commented on #3885
which version it will support Swift 2.2 or swift 2.3

[2016-09-28 12:30] cacti77 opened #3889 "Spring server returns ResponseEntity<Void> instead of ResponseEntity<String> for produces application/xml"
This refers to generating the Spring server code from the same swagger.yaml mentioned in issue #3888 but this time using Swagger Editor v 2.10.3 (menu option: Generate Server > Spring).  Just as in #3888 the `produces application/xml` gets incorrectly interpreted as return type `Void` in the generated code rather than `String`.

Here's the generated classes and the fix I had to put in to get the m

[2016-09-28 13:59] szuperaz opened #3890 "Brew: latest version not available"
##### Description

I have just installed swagger-codegen using brew, and it installed version 2.1.5, however the readme says the latest stable version is 2.2.1. I couldn't find this version on brew. Is it possible that it's not available there?

##### Steps to reproduce

`brew install swagger-codegen`

[2016-09-28 14:20] wing328 commented on #3890
@szuperaz did you update the formula repo? (I did file a PR against the brew formula repo to add the latest stable version - 2.2.1)

[2016-09-28 14:22] arnested commented on #3890
Homebrew has version 2.2.1. See https://github.com/Homebrew/homebrew-core/blob/master/Formula/swagger-codegen.rb

Did you run `brew update` to update brews list of packages and versions recently?

If you still get the old version after running `brew update` I would guess there is something wrong with your Homebrew installation.

[2016-09-28 14:50] wing328 commented on #3888
[code]
You will need to update your spec to describe the successful (200) response similar to the following:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L174-L177

[2016-09-28 17:13] asarazan commented on #3883
That sounds good. I've been re-reading the Effective Java entry on `Cloneable` and I'm convinced it's probably the wrong decision:

So it looks like anything with mutable state becomes very very fragile with clone. It seems like the best way forward is to generate a field-by-field copy constructor for each model, which defensively deep copies each property.

Alternately, a good long-term solution

[2016-09-28 17:41] adamduffy commented on #3818
just tried that and got the same results.

the problem is with the rest response.  if the values are in snake case and the typescript interface is in camel case, the two do not work together.

the method signature is `getX(): T` where T has camel case props, but then simply does `return response.json();`  where response.json() props are snake.  there is no attempt to convert it.  the conversion is

[2016-09-28 17:44] ashughes commented on #3882
@cbornet Sorry, yes, I made a comment on #3568 regarding Android compatibility.

[2016-09-28 17:50] haroldcarr opened #3891 "programmatically setting baseUrl in java / retrofit2"
##### Description

Using Java / retrofit2 client generation.

It generates `ApiClient` where `baseUrl` is locally set in `createDefaultAdapter` and passed to `Retrofit.Builder`.

I want to use this same generated code, but with different baseUrls programmatically.

That does not seem to be possible.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Command line used for generation

    java -j

[2016-09-28 17:51] cacti77 commented on #3888
@wing328 Thanks for the tip! I'll take a look at it tomorrow...

[2016-09-28 19:46] nyilmaz commented on #3881
In a way, yes. In some cases like google-cloud server-to-server authentication, private key are provided as pem or json file. They use jwt bearer in [their own implementation](https://github.com/google/google-api-java-client/blob/dev/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/GoogleCredential.java#L360).

Since its development is in beta we can make more generic s

[2016-09-28 20:52] nyilmaz commented on #3881
I have added 2 utility classes to calculate jwt assertion.

https://github.com/nyilmaz/swagger-codegen/commit/fc49e6b9c77b6ab4ea46c81fb955c2cdfad508df

We don't even have to add oltu jwt dependency.

[2016-09-28 21:17] MiguelGL commented on #3007
Just for the record, I just PR-ed wrt. this. I did not get to ask and coordinate as I thought it was a simple change.

[2016-09-28 22:41] ClayAtWork commented on #2208
Here is the PR https://github.com/swagger-api/swagger-codegen/pull/3894 , folks @here may want to verify this fixes this issue. It does for me.

[2016-09-28 23:25] alexandern commented on #3829
Ok, I ran the ./bin/objc-petstore.sh against **petstore-with-fake-endpoints-models-for-testing.yaml** instead of **petstore.json** and I seem to generate what one would expect.

[code]
Child class no longer copies the className property
[code]

All in all, changing ObjcClientCodegen.java appears to do the work which makes me wonder why it it was false.  It's my understanding that using allOf along

[2016-09-28 23:37] dbousamra commented on #2103
This still seems broken (or a variation at least). When a value is defined as not required in a swagger spec, the convertToType method still tries to parse null and undefined, resulting in nulls parsed as types (i.e. string being 'null' and numbers being NaN.

Can anyone confirm?

[2016-09-29 02:16] #3890 closed

[2016-09-29 03:21] wing328 commented on #3568
@ashughes if we provide an option to remove `Objects.equals()` and `Objects.hash()` in the Java API client, would that meet your requirement?

[2016-09-29 03:35] #3874 closed

[2016-09-29 03:35] wing328 commented on #3874
@davidsantiago fixed via #3897. Please pull the latest master to give it a try.

[2016-09-29 04:09] ashughes commented on #3568
@wing328 I think so. We just started using Swagger, so we haven't used it extensively yet, but that's the only Android compatibility issue we've run into so far.

[2016-09-29 05:52] gsujathap commented on #3885
when I am trying 'mvn clean package' command
command not found error occurs. plz check once

[2016-09-29 09:10] gsujathap commented on #3885
while I am doing run docker in vagarant
git clone http://github.com/swagger-api/swagger-codegen.git
cd swagger-codegen
vagrant up
vagrant ssh
cd /vagrant
./run-in-docker.sh mvn package
**# I am getting this error but, I have installed docker latest version plz check once**
-bash: ./run-in-docker.sh: No such file or directory

[2016-09-29 09:45] wing328 commented on #3871
@loretoparisi fixed by https://github.com/swagger-api/swagger-codegen/pull/3900. Please pull the latest master to give it another try.

[2016-09-29 09:45] #3871 closed

[2016-09-29 09:51] gsujathap opened #3901 "Swagger Code Generator"
**while I am doing run docker in vagarant**
git clone http://github.com/swagger-api/swagger-codegen.git
cd swagger-codegen
vagrant up
vagrant ssh
cd /vagrant
./run-in-docker.sh mvn package
# I am getting this error but, I have installed docker latest version plz check once
-bash: ./run-in-docker.sh: No such file or directory

[2016-09-29 10:06] Edubits commented on #3885
@gsujathap for `mvn clean package` to work you need to have Maven installed.
Swift 3 support is currently scheduled for the 2.3.0 release of Swagger Codegen.