[2016-02-20 00:50] tonicospinelli opened #2191 "[PHP] generating wrong class name"
I have an API based on [HAL](http://stateless.co/hal_specification.html) and I created the documentation with Swagger, but when I generate the client, some classes was created with dollar `$` in the name, such as: `CampaignPagination$Embedded`.

I take a look and I discovered those [lines](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/c

[2016-02-20 03:02] wing328 opened #2193 "Issue with writeOptional"
There seems to be a bug with writeOptional as it's looking for the
files in the current directory.

One can repeat the issue with `./bin/java-petstore-jersey2.sh` and you
will find that README.md, pom.xml are not generated.

Ref: https://github.com/swagger-api/swagger-codegen/commit/1a9cb4488a82e7e1131bafc362e0899343e8da6f

[2016-02-20 15:04] wing328 commented on #2130
$ is now replaced with `value` but for @, we won't map it to `Attribute`

[2016-02-20 15:35] wing328 commented on #2181
@bramley-turner-stride thanks for reporting the issue, which can be fixed in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/api.mustache with the use of `{{baseName}}` instead of `{{paramName}}`.

For example, the `baseName` can be `created-at` while the corresponding `paramName` is `createdAt` to avoid compilation error due to `-`

Othe

[2016-02-20 16:11] highsource commented on #2130
It's ok, this is not a problem for me.

[2016-02-20 16:29] wing328 commented on #2130
Thank you for your understanding. Issue closed.

[2016-02-20 16:29] #2130 closed

[2016-02-21 03:06] #1565 closed

[2016-02-21 03:07] #1424 closed

[2016-02-21 03:11] wing328 opened #2194 "[Swift] Add ObjectMapper to Swift"
We want to leverage [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper) for easier conversion between models and JSON.

If anyone from the community wants to work on this task, please reply to let us know.

[2016-02-21 03:29] wing328 commented on #2116
@altmky thanks for the details. Currently, [`name`](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/swift/PetstoreClient/Classes/Swaggers/Models/Pet.swift#L21) in Pet is defined as
``
    public var name: String?
[code]

[2016-02-21 06:32] rajegit opened #2197 "nodejs and express middleware"
The codegen creates the 'connect' middleware codejen . Is there a key for creating express middleware . If yes, howto . If no, can I put a request for it ?

Thanks
_Raje

[2016-02-21 06:44] fehguy commented on #2197
There is not, but many have asked. Let's keep this open to track the issue.

[2016-02-21 06:49] rajegit commented on #2197
I kind of worked around ,
replaced : app = require('connect')();
replaced with : app = require('express')();
And ofcouse installed express .

This seems to have worked . Will review it for more route/validate etc . If that works will contribute this small alternation to the project.

If someone already have idea - as to if I am going in wrong direction please correct. Can contribute a better expre

[2016-02-21 09:50] #2191 closed

[2016-02-21 09:59] Edubits commented on #2116
In most situations it would be great if the model uses required properties where possible, it will save you quite some Optional unwrapping when using it. However a potential concern with making properties required in the generated API model is update API calls. These regularly work by just sending the properties which should change (and being merged on the server side), this situation wouldn't be

[2016-02-21 10:05] Edubits commented on #2194
Would be awesome! Note there is [AlamofireObjectMapper](https://github.com/tristanhimmelman/AlamofireObjectMapper) as well, which makes using ObjectMapper in combination with Alamofire even easier.

[2016-02-21 10:13] #2193 closed

[2016-02-21 13:31] wing328 commented on #2116
I think we need to update the following [lines](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/model.mustache#L20-L21):
[code]
as I couldn't find any mustache tab/variable for `unwrapRequired` (and that's why there's always `?` for all model properties)

Let's say we remove `?` from the [`name`](https://github.com/swagger-api/swagger-cod

[2016-02-21 14:00] wing328 commented on #2189
@SolaceMike yes, agree that it should not have a setter if the property is readOnly.

May I know critical is this feature?

[2016-02-21 15:44] wing328 commented on #2182
Totally agree.

This would allow developers to choose any combination of HTTP library (jersey1.x, jersey2.x, Retrofit 1.x, Retrofit 2.x and more) and JSON library (gson or Jackson)

[2016-02-21 16:11] wing328 opened #2200 "[Swift] Auto generate unit tests for Swift API client"
Similar to https://github.com/swagger-api/swagger-codegen/pull/2109, we want to automatically generate test cases for Swift API client.

#2109 is a good starting point.

If anyone from the community wants to work on this task or need assistant with the PR, please reply to let us know.

[2016-02-21 16:12] fehguy commented on #2197
Thanks!  I can help integrate your changes into the templates and make it selectable from the generator. Just let me know how your testing goes and share your package.json and change to the js file

[2016-02-21 16:14] wing328 opened #2201 "[ObjC] Auto generate unit tests for ObjC API client"
Similar to #2109, we want to automatically generate test cases for ObjC API client.

#2109 is a good starting point.

If anyone from the community wants to work on this task or need assistant with the PR, please reply to let us know.

[2016-02-22 02:26] wing328 commented on #789
@lakeba FYI. We've added support for read-only property in C# model.

[2016-02-22 02:52] lakeba commented on #789
Really appreciated !!!

[2016-02-22 03:02] #1810 closed

[2016-02-22 03:07] xhh commented on #1810
For `ApiModelProperty` and `ApiModel`, please track on #2152

[2016-02-22 03:16] wing328 commented on #2152
What about completely removing the `{{#imports}}import {{import}};
{{/imports}}` in your custom template and add your own import statements instead?

[2016-02-22 06:17] HipZena opened #2203 "Exception when generating Perl SDK"
When using swagger-codegen (latest master) to generate Perl SDK for https://www.neutrinoapi.com/api/swagger.json, I got exceptions/errors related to default value. For example
[code]
The type is integer but default value is 6.0 (which is technically not an integer).

What about converting 6.0 to integer (6) to prevent the exception?

[2016-02-22 06:28] #2190 closed

[2016-02-22 06:44] sbelan opened #2205 "Provide logger instead of sys outs."
Hi,
During client code generation getting below sysouts. It would be great if you provide logger instead of sysouts.

Sysout:
reading from....
writing file

[2016-02-22 06:59] wing328 commented on #2205
I believe we've done that already. Are you using the latest master?

[2016-02-22 07:12] xhh commented on #2165
@tkukola-db Thanks, I can reproduce the issue with the spec you provided.
The reason I found is that the 3 nested models (foo, bar and baz) have no properties. As a result, no models are generated for them.

[code]

If one of them, say "foo", has at least one property, then a `DummyFoo.js` model file will be generated and the `type` in the above screenshot will be `DummyFoo` instead of `Object`.

[2016-02-22 07:31] sbelan commented on #2205
@wing328
Just checked master.
Writing file sysout removed but reading from sys out still present at line no 77 for Swagger20Parser.java
[https://github.com/swagger-api/swagger-parser/blob/master/modules/swagger-parser/src/main/java/io/swagger/parser/Swagger20Parser.java](url)

[2016-02-22 07:37] wing328 commented on #2205
May I know if you've cycle to submit a PR for that?

[2016-02-22 10:02] wing328 commented on #2203
@HipZena thanks for the suggestion. The issue is with swagger-core (another project) at the following line
[code]

I'll take a look and submit a PR with the suggested enhancement to swagger-core.

[2016-02-22 10:24] demonfiddler opened #2207 "allOf deserialised incorrectly"
Closed - moved to swagger-parser [#204](https://github.com/swagger-api/swagger-parser/issues/204)

[2016-02-22 10:25] BugRaptor commented on #2175
Sorry I was wrong saying the issue remained the same with the latest swagger-codegen master... I didn't correctly regenerated my client with the latest master... (actually, my target/swagger-codegen-cli.jar file was not recompiled !)

I've just correctly recompiled it from the latest master and then tried to regenerate my c-sharp client:

I now notice the following kind of error messages when gene

[2016-02-22 10:31] hiveship commented on #2096
I think there is 2 points:
- Find a way to decide whether to extends or not the parent. Now, I don't see any element in the Swagger file to indicate whether we want to set a model extending another or not (same problem for abstract class in Java).

Plus, if we a model A extends model B and also duplicate all the model A attributes, then we can get Java issues at runtime (calling setters method wou

[2016-02-22 10:50] #2207 closed

[2016-02-22 11:01] cbornet opened #2208 "[ObjC] Wrong generation of additionalProperties"
The following definition
[code]
Generates SWGPetMap.h
[code]
and SWGPetMap.m
[code]
which fails to compile because toDictionary is not declared for NSMutableDictionary (it's a JSONModel method)

[2016-02-22 11:04] ePaul commented on #1255
@jimschubert Thanks, your change was quite similar to what I did (but had not yet committed).

I added a similar change to JavaClientCodegen to use the superclass method (now in my feature branch).

Trying it out with

   java -jar ./modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate \
      --model-name-suffix Dto -i modules/swagger-codegen/src/test/resources/2_0/petstore.json

[2016-02-22 11:07] cbornet commented on #2208
The above was generated with 2.1.5.
Also I think #1540 might not be fixed.

[2016-02-22 11:40] bart-kors opened #2209 "feature request"
It would be nice to have an option to inject the service delegate in the api class using cdi for JavaResteasyServerCodegen this way it is easier to integrate with cdi.

[2016-02-22 12:06] jimschubert commented on #2175
@BugRaptor yeah that's the bug #2064 that I linked to.

When I've had the issue, I did just fully qualify the generated Object type manually, then later changed my swagger definition to avoid the issue. Almost all of my Web API routes have `ResponseType` attributes, as well as Swashbuckle's `SwaggerResponse`. If you're using Swashbuckle, I think you'll also need both. The `ResponseType` attribute

[2016-02-22 12:24] sbelan commented on #2205
@wing328 ...  If I will get time on coming weekend Will let you know..

[2016-02-22 12:36] wing328 commented on #2209
Do you mind elaborating your request by giving an example (e.g. using [Petstore](https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/jaxrs-resteasy))?

[2016-02-22 12:40] ePaul commented on #1255
@jimschubert I fixed the problem mentioned before. I'll rebase the branch (with a new name) to fix some commit comments, then I'll create the pull request.

[2016-02-22 12:48] BugRaptor commented on #2175
Ok, Jim. Thank you.

But like I just said this morning, with the latest Master, I now cannot even compile my generated client. I get the error CS0104: 'Object' is an ambiguous reference between 'object' and 'IO.Swagger.Model.Object'.

I tried to modify the api.mustache and ApiClient.mustache Template files by replacing each Object reference with IO.Swagger.Model.Object. The number of found compile

[2016-02-22 13:03] wing328 commented on #2175
@BugRaptor As a workaround, can you rename the model "Object" to something else (e.g. DataObject) in the spec?

[2016-02-22 13:16] jimschubert commented on #2175
@BugRaptor sorry I wasn't clear. What @wing328 suggested is ultimately the fix. When I said "I did just fully qualify the generated Object type manually", I meant in the generated source, I had to edit the .cs files manually to the fully qualified name for `Object`.

If I remember correctly, I used a type alias in all of my files to make the change quickly:

`using Object = IO.Swagger.Model.Object

[2016-02-22 13:34] wing328 commented on #2203
Filed #1673 in swagger core to better handle the exception.

[2016-02-22 13:44] SolaceMike commented on #2189
Not urgent. I just wanted to raise it for completeness. Do you happen to know if the other (non java) code gens do anything different than the java one does?

[2016-02-22 14:17] wing328 commented on #2189
Other code gens do not have readOnly support and we just updated C# code gen to support it: https://github.com/swagger-api/swagger-codegen/pull/2199

[2016-02-22 14:39] wing328 commented on #2208
@cbornet If I understand correctly, PetMap should not be generated as a separate model as it's simply a `map`, right ?

[2016-02-22 15:03] chosroes opened #2212 "Serialize collection multi PHP problem"
Hi,

I have a big problem with my function parameters.
My Api is waiting for filters like this:

Or even

However, in the generated code:

[code]

So i get a stupid ?filters=id=1&id=2&name=Me

The behavior should have be:

[code]

And in the serializeCollection method:

[code]

Because for the moment it's blowing everything up:

`preg_replace('/%5B[0-9]+%5D=/', '=', http_build_query($collection, '

[2016-02-22 15:21] cbornet commented on #2208
Right now I don't know how it should be handled. I will have a look. Maybe @samskiter knows better ?

[2016-02-22 15:40] samskiter commented on #2208
According to json schema, when additionalProperties is assigned to a schema like this, the intention is that every value of objects key-value pair must validate against that schema (if they are not already validated via `properties` or `patternProperties`).

I generally try to avoid dynamic keys like this and instead just opt for a plain array. Writing classes using things like JSONModel is basica

[2016-02-22 15:45] samskiter commented on #2208
worth thinking about, how do you represent this?
[code]
maybe this? ("additionalProperties" should never collide right?)
[code]

[2016-02-22 16:02] fehguy commented on #2212
I don't believe the codegen supports that format for query parameters in arrays.  Unfortunately arrays in query parameters are not standardized and that format isn't one that we support.

[2016-02-22 16:21] cbornet commented on #2208
See [this](https://github.com/icanzilb/JSONModel/issues/296). It seems JSONModel has some support for dynamic keys.

[2016-02-22 16:26] samskiter commented on #2208
Ah ok, hadn't seen that. We have a similar library to JSONModel that we use internally that doesn't support this.

I'm curious what use it has (other than performance) over an array?

For ref: JSONSchema2Pojo does as I've suggested above - it has an additionalProperties field
See:
https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference

[2016-02-22 16:29] BugRaptor commented on #2175
Ok.

If I understand well, each of my controller Api operation methods **must have** SwaggerResponse attributes that **all must include a not empty  response type parameter**.

So, I defined a DefaultResponse class used for each response previously declared without any response type.

All my SwaggerResponse attributes now have this form:

[code]
`
And the controller Api operation method returns a

[2016-02-22 16:30] cbornet commented on #2208
You mean : "what's the point of using a json map over a json array ?". Well, I'm not sure : probably performance as you say and uniqueness of keys. But I want to document an external API with swagger that uses maps so I don't really have a choice...

[2016-02-22 17:47] cbornet commented on #2208
So it seems to me that SWGMap should be generated as
[code]
and not have the implementation.

[2016-02-22 17:52] samskiter commented on #2208
(Can you do definitely do that?)

On reflection I think JSONSchema2Pojo do it right, i.e:

@interface SWGPetMap : NSObject
@property NSDictionary<NSString *, SWGPet *>* additionalProperties;
@end

[2016-02-22 17:52] fehguy commented on #2096
I really think this has to be a vendor extension.  There is literally no way to know if we want an interface, an abstract class, a base class, etc.

I do think that with the code that @wing328 added--the ability to iterate over all models, we can take the extensions into account and remove variables as needed.

If you need help on this, please make a test case with a sample spec and let's work tog

[2016-02-22 18:12] cbornet commented on #2208
With Java, we don't do as JSONSchema2Pojo, models that have additionalProperties are mapped to java.util.Map.
For instance the spec above generates
[code]

[2016-02-22 18:36] samskiter commented on #2208
Fair enough. I'm not sure if

[code]
is valid syntax....

[2016-02-22 19:06] cbdelavenne opened #2213 "[Python] Swagger spec 2.0 with valid securityDefinitions are ignored (oauth 2.0 Bearer)"
Hello!

Here's my spec file below (with some abstractions):
[code]

Python code generated via this spec creates the following `configuration.py` `auth_settings` function:
[code]

As you can see, it just returns an empty dictionary. I have a few endpoints that need to have the following header:
```"Authorization": "Bearer {access_token}"```

I tried just passing that in the 'default headers' to the

[2016-02-22 19:15] tkukola-db commented on #2165
In this case foo/bar/baz are expected to be objects of any form. The currently generated code produces Dummy, which seems to work just fine (foo/bar/baz get assigned and can be accessed) after changing the code that currently trips on Object being a function type.

If I declared Dummy as an object without any properties, then the resulting code would be a Dummy class with no functionality (which i

[2016-02-22 20:26] keithchong commented on #2152
That will resolve part of the issue.   The annotations need to be removed too from the model code:

  @ApiModelProperty
  @JsonProperty

and I don't think I can do this by changing the template.

[2016-02-22 20:27] cbornet commented on #2208
Yes you're probably right about the syntax. I got it from the JSONModel issue but it feels wrong.

[2016-02-22 21:41] cbornet commented on #2208
Actually the syntax is not a generic but a special JSONModel protocol so the syntax really is
```NSMutableDictionary<Pet>```

[2016-02-22 22:41] cbornet commented on #2208
From [this SOF](http://stackoverflow.com/questions/18219766/how-to-serialize-an-nsarray-to-json-using-jsonmodel) I get that only classes that extend JSONModel can be mapped.
Note that this issue also occurs with arrays.
[code]
gets generated as
[code]
which is wrong with JSONModel.
@wing328 do you have any idea for this kind of mappers that only support mapping on class properties ?

[2016-02-22 23:07] cbornet commented on #2208
@wing328 to answer your initial question: yes, if we could use ```NSDictionary<NSString *, SWGPet *>``` everywhere instead of ```SWGPetMap``` and not generate SWGPetMap at all, I guess we could solve this issue. Is there something like that in the generator ?
Same thing with ```NSArray<SWGPet *>``` and SWGPetList

[2016-02-23 00:20] samskiter commented on #2208
Sorry, to clarify re: syntax. I wasn't sure whether you could narrow generics through subclassing like that in Objective-C.

Yes re: JSONModel. you must subclass JSONModel for it to provide reflective access to your data. My 2 cents would still go to creating an 'additionalProperites' field as that is most flexible and easiest to implement but I understand for consistency, subclassing NSDictionary

[2016-02-23 00:34] fehguy opened #2214 "remove wordnik samples, move to wordnik repo"

[2016-02-23 00:35] fehguy commented on #2214
Please see new repo https://github.com/wordnik/wordnik-clients for all wordnik-api clients

[2016-02-23 02:49] HipZena commented on #2203
Thanks! I've manually fixed those default values for the time being.

[2016-02-23 02:57] jimschubert commented on #2175
@BugRaptor It's similar to how I've resolved the issue. This actually affected us while generating the C# client today. Someone on my team messaged me, asking why operations were now returning 'void' rather than 'Object'. In our case, I recently went through and made sure all endpoints had swagger documentation and the problem occurred when I documented a couple places with just:

[code]

I recomm

[2016-02-23 03:00] wing328 commented on #2152
@keithchong ok.

Do you plan to replace Jackson with [gson](https://github.com/google/gson)?

There's a similar request [here](https://github.com/swagger-api/swagger-codegen/issues/2182)

[2016-02-23 03:30] #2214 closed

[2016-02-23 03:42] wing328 commented on #2213
@cbdelavenne I don't think the following is the correct way to define OAuth authentication:
[code]
Please refer to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L924 for an example on how to define oauth security definition.

I did confirm in the code that `Authorization": "Bearer {access_token}` is supported for Python and

[2016-02-23 03:47] wing328 commented on #2212
You can customize [`toQueryString`](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/ObjectSerializer.php#L122) and provide your customized template via `-t` option (e.g. `-t modules/swagger-codegen/src/main/resources/php`)

[2016-02-23 08:43] wing328 commented on #2159
@CMasterson thanks for reporting the issue and suggesting a fix. Would you please file a PR so that we can review the change?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-23 10:12] hiveship commented on #2096
@fehguy Ok, so I don't really understand what I first have to do.
My suggestion is to check if there is duplicate properties between a model and his parent (if exist). If there is duplication, then just remove the duplicated properties from the model (and leave it to the parent). If there is no duplication, don't do anything.

Having duplicated properties between a parent and a subclass can lead t

[2016-02-23 10:32] CMasterson commented on #2159
@wing328 The fix I suggested is in the generated code, I honestly have no idea where in the Swagger source code this would need to be implemented.

[2016-02-23 10:42] wing328 commented on #2159
A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/Models.mustache#L16

After making the change, please run the following to ensure all test cases passed:
[code]

[2016-02-23 11:25] sbelan opened #2219 "Swagger ignores vendorextention for $ref type properties"
Hi @wing328 ,

    Swagger ignores vendorextention for $ref type properties. For e.g.
    If there is a property as follows in yaml:
    myObject:
       properties:
               myid:
                  type: int
                  x-app-extensions: {"aaid" : "bb", "ccid" : "dd"}
errors:
                   x-app-extensions: {"aaerr" : "bb", "ccerr" : "dd"}
    $ref: "#/definitions/errorModel"

[2016-02-23 15:36] wing328 commented on #2040
FYI. We're working on this...

[2016-02-23 15:38] cbdelavenne commented on #2213
Yea, after review, you are right, that definition was incorrect. However, the example you linked doesn't seem to apply to my case - or there's multiple ways of defining it.

Here's the working version for a security definition header `Authorization: Bearer {access_token}`:
[code]
Note my mistake was to set the `type` to an invalid `Bearer` type.

This generates the following swagger codegen functi

[2016-02-23 16:57] webron opened #2221 "Typescript Angular Client validates boolean parameter with !operator"
_From @AndreasM009 on February 23, 2016 7:23_

When creating a Typescript Angular Client which includes methods that has a boolean Parameter, the boolean Parameter is verified using the !Operator. It is not possible to set the boolean Parameter to a false value. Setting the boolean Parameter to false will cause an exception.

Example:
// verify required parameter 'aProductMakerId' is set

[2016-02-23 18:30] cbornet commented on #2208
So I have a solution using [custom property setters](https://github.com/icanzilb/JSONModel#custom-handling-for-specific-properties) but this requires to generate code that is different if the property is a PetMap, a dictionary of PetMap, an array of PetMap, ... or another type.
Example for a Response definition:
[code]
The following method in Response.m
[code]
Will make the mapping work.

If the p

[2016-02-24 01:58] kumarpr opened #2224 "[Java] pom.xml is not being generated"
Hi,
I am trying to build Java client. But I am not able to get pom.xml generated. It just creates build.gradle, gradle.properties and settings.gradle.

Here is the script, I am using
set executable=.\modules\swagger-codegen-cli\target\swagger-codegen-cli.jar
If Not Exist %executable% (
  mvn clean package
)
set JAVA_OPTS=%JAVA_OPTS% -XX:MaxPermSize=256M -Xmx1024M -DloggerPath=conf/log4j.properties

[2016-02-24 02:17] wing328 commented on #2224
@kumarpr are you using in the latest master, which should have the issue addressed?

[2016-02-24 02:26] wing328 commented on #2219
Similar to this one? https://github.com/swagger-api/swagger-codegen/issues/2172

[2016-02-24 02:42] wing328 commented on #2208
@cbornet I just submitted https://github.com/swagger-api/swagger-codegen/pull/2226 for add more boolean flags to CodegenProperty.

Would that help?

[2016-02-24 02:50] wing328 commented on #2221
@AndreasM009 thanks for the reporting the issue.

In TypeScript, how should one validate the boolean parameter to ensure it's provider by the function caller?

(Disclaimer: not an expert in TypeScript)

[2016-02-24 06:44] #2040 closed

[2016-02-24 06:44] wing328 commented on #2040
@delenius fix merged into master. Please let us know if you still see the same issue.

[2016-02-24 06:45] wing328 commented on #2091
@deefactorial closing this as there's no update from you. Please reopen if you still encounter issue with the JS API client generated by the latest master of Swagger Codegen.

[2016-02-24 06:46] #2091 closed

[2016-02-24 07:15] yuanpan365 opened #2228 "生成安卓客户端的/volley/build.mustache模版文件有问题"
swagger-codegen/modules/swagger-codegen/src/main/resources/android/libraries/volley/build.mustache

第77行   testCompile "net.jodah:concurrentunit:${concurrentunitVersion}"

concurrentunitVersion 应该是 concurrent_unit_version

[2016-02-24 07:57] wing328 commented on #2228
@yuanpan365 do you mind submitting a PR for the fix so that we can review?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-24 08:46] wing328 commented on #1971
@jasonmartens are you happy to fix the issue in the spec (by defining a proper consume)?

[2016-02-24 08:55] wing328 commented on #2084
@Glagnar if you're too busy, the community can help submit a fix for this. Let us know.

[2016-02-24 09:07] wing328 commented on #2213
Instead of using `apiKey`, please use `oauth2` instead. Here is an example: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#implicit-oauth2-sample

[2016-02-24 09:11] cbornet commented on #2208
Yes, that will surely help ! The issue I see is that I would need to not only know the type of the attribute (eg. petmapmap is a map of PetMap) but also the type of the model itself (ie. PetMap itself is a map of Pet).
I will investigate if I can find a solution here.

[2016-02-24 09:14] wing328 commented on #2208
FYI. I just updated the PR to add the boolean flags to `CodegenParameter` as well. Please feel free to propose other boolean flags if the current ones do not meet your requirement.

[2016-02-24 09:21] larslockefeer commented on #2116
In that case `name` should be provided as a parameter to the constructor and assigned to the `name` property, otherwise the class won't compile. Hence:

[code]

Such a parameter would have to be added for each non-optional property of the model.

[2016-02-24 09:51] wing328 commented on #2116
@larslockefeer thanks for suggesting the change. May I know if you've cycle to contribute a fix?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-24 10:04] hideya commented on #2093
I think I understood the situation, and am closing this as not an issue.

Swagger spec should have been like the following for such a case where server responds an object like `{ "count": 123 }`:
[code]
`swagger-codegen` automatically generates a client-side model (class) to access this particular response object (in Obj-C case, it is named like `XXInlineResponse2002`).  Leveraging this model, we

[2016-02-24 10:29] wing328 commented on #2093
@hideya @bajtos My apologies for late reply on this.

For the following:

Yes, property is optional (and we've seen a lot of cases in which there's no property defined for `type: object`)

For `additionalProperties: true`, I don't think that's correct since the value of `additionalProperties` is essentially the type of the value for a map/dictionary. You can find more examples [here](https://githu

[2016-02-24 10:34] wing328 commented on #2224
FYI. Fixed by https://github.com/swagger-api/swagger-codegen/pull/2195

[2016-02-24 10:47] wing328 commented on #2183
@cbornet yes, agree with you that the swagger-codegen version is useful (e.g. for troubleshooting the SDK)

[2016-02-24 14:15] cbornet commented on #2208
Actually I would need to be able to know when a property references a complexType (ie another CodegenModel) if that complexType is an instanciated one and which type (array or map).
Maybe a solution would be to have a ```CodegenModel complexTypeModel```attribute  in CodegenProperty and some ```Boolean isArray, isMap;``` attributes in CodegenModel.

[2016-02-24 14:30] wing328 commented on #2038
@sbelan PR merged. Please pull the latest master and help run some tests to see if those additional boolean flags meet your needs.

[2016-02-24 14:30] #2038 closed

[2016-02-24 15:52] Glagnar commented on #2084
@wing328 Thanks. Last week was holidays in Denmark, and this week I am attending meetings abroad. I dont have time to implement it before next week.

[2016-02-24 16:33] jasonmartens commented on #1971
Sure, that would fix the problem too.

[2016-02-24 16:38] wing328 commented on #1971
OK. Issue closed.

[2016-02-24 16:38] #1971 closed

[2016-02-24 16:45] woemler opened #2231 "Support for R code generation"
I think that there is a big opportunity for developing a Codegen module for R.  A lot of scientists and statisticians are proficient in R, but not necessarily other programming languages.  Regardless of skill, being able to generate code for consuming Swagger-documented web services would be enormously useful.  Unfortunately, I don't know R myself, so I can't be of much help with this, but I think

[2016-02-24 17:04] wing328 commented on #2231
Totally agree a R API client would be enormously useful to scientists and statisticians.

If anyone from the community wants to contribute a R API client generator, please reply to let us know.

A good starting point is https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework

[2016-02-24 18:38] kumarpr commented on #2224
I am using the latest master only.

[2016-02-24 18:38] fehguy commented on #2224
If the pom.xml already exists, it will not overwrite it.  Can you please verify it is not already there?

[2016-02-24 18:39] kumarpr commented on #2224
No it is not there and it was never created for me.

[2016-02-24 19:31] kumarpr commented on #2224
I do not see pom.xml file created in swagger-codegen\samples\client\petstore\java either when used bin\windows\java-petstore.bat

[2016-02-24 21:28] markcuk opened #2232 "Save and restore existing system properties in maven plugin"
Currently the maven plugin sets system properties when environmentVariables are specified in the pom. These system properties are never reset however and therefore in a multi-module maven build or in an IDE such as Eclipse those system properties will interfere with other modules that are also using the swagger-codegen maven plugin.

For example if I have module a that generates model objects and

[2016-02-24 22:13] kumarpr commented on #2224
Ok, so it depends upon where I am running it from, but it should not behave like this. I was running it from swagger-codegen folder which has pom.xml and README.md and that is why these 2 files are not being generated for me.

The DefaultCodegen:writeOptional() method, which checks if the file exists or not and adds to supportingFiles, looks in the folder I am running from while it should check in

[2016-02-24 22:52] highsource commented on #2134
Just checked both this one as well as #2131 #2184 - works as expected. Thank you very much.

[2016-02-24 23:40] fehguy commented on #2224
Ok that should have been fixed in a recent PR. Will look to see why it's not working, can you be sure you have the latest source from master?

[2016-02-24 23:57] kumarpr commented on #2224
Ok, seems I had few days older code and missed wing328 comment about 2195.
Thanks wing328 and fehguy for all your responses.

[2016-02-24 23:57] #2224 closed

[2016-02-25 00:29] fehguy commented on #2224
Great, thanks for following up.

[2016-02-25 01:07] onemanstartup opened #2235 "Generating file for each operation"
Is there a way to generate file for each operation besides overriding generate method?

[2016-02-25 01:25] fehguy commented on #2235
Not now. What would you call the generated classes if it did?

[2016-02-25 02:23] onemanstartup commented on #2235
@fehguy I making ruby api server. At least i research how to do it with swagger codegen. And I want use validation library https://github.com/dryrb/dry-validation to define schemas.
I want every call to conform to that schema. For now i can do this with supporting file where every schema will live, but its ugly.

[2016-02-25 03:01] dantran opened #2237 "[java] invalid java code gen for Map<String, Object>"
swagger spec is like this

    "attributes" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
      },

codegen: maps it to   Map\<String, SomeName\>

      package xxx.SomeName;

      import java.util.Objects;

    @javax.annotation.Generated(value = "class io.swagger.codegen.languages.JavaClientCodegen",   date = "2016-02-24T18:46:14

[2016-02-25 03:12] wing328 commented on #2224
I'll add a log (info) to show that the file is not written and the reason behind.

[2016-02-25 03:18] wing328 commented on #2235
@onemanstartup is it correct to say that for each "api" file generated, there's a corresponding "dry-validation" file for it?

[2016-02-25 03:26] wing328 commented on #2235
@onemanstartup if you don't mind, can you share a bit more about the Ruby API server you're working on? Is that based on [rails-api](https://github.com/rails-api/rails-api)?

[2016-02-25 03:53] #2027 closed

[2016-02-25 06:33] dantran commented on #2237
I am able to remove the mention generated code and use Map<String, Object>. This solves my issue

[2016-02-25 07:07] wing328 commented on #2224
Added a log message via https://github.com/swagger-api/swagger-codegen/pull/2239
[code]

[2016-02-25 07:10] hideya commented on #2120
@Edubits thanks for the comment back.  Sounds good!
@wing328 I'm working on a PR for this change.  I'll finalize it in a few hours.

[2016-02-25 07:39] wing328 commented on #2120
@hideya thank you for your contribution. I'm sure the Swift developers would appreciate your effort.

[2016-02-25 08:00] jerry1621 opened #2241 "Support for Windows UWP"
Question:

I'd like to use Swagger-Api for a Windows UWP project, but the RestSharp-Library #, which is used for C#-generation (#673), unfortunately has no support for Windows UWP-Apps...

Any way to solve this issue?

[2016-02-25 08:02] #2156 closed

[2016-02-25 08:46] onemanstartup commented on #2235
@wing328 rails-api has been merged, but yeah.
"for each "api" file generated" not for each api, but for each operation.
Right now it seems easier way will be generating https://github.com/ruby-grape/grape grape api.

[2016-02-25 09:00] wing328 commented on #2235
Recently, I've added auto-generated unit test files for Perl API client: https://github.com/swagger-api/swagger-codegen/pull/2109

Is that similar to what you're looking for?

[2016-02-25 09:03] wing328 commented on #2241
@jerry1621 Thanks for reporting the issue. Have you opened a ticket with RestSharp to see if they've any plan to support Windows UMP apps?

[2016-02-25 09:08] onemanstartup commented on #2235
@wing328 test files are great, thanks. Is it more similar for generating api files.
Every Api file for now is just wraps multiple endpoints. I want generating files for each endpoint.
[code]

[2016-02-25 09:12] wing328 commented on #2235
OK. Understood what you're trying to do. Can't help at the moment :(

Would the following still meet the (minimal) requirement to build a functional rails API app?
[code]

[2016-02-25 09:30] jerry1621 commented on #2241
@wing328 There is already an issue since August '15, but unfortunately no updates recently ([https://github.com/restsharp/RestSharp/issues/745](url))

[2016-02-25 11:13] onemanstartup commented on #2235
@wing328 right now i can do this in one supporting file, so yeah. It was a feature wish.

[2016-02-25 12:24] wing328 commented on #2235
@onemanstartup  Do you mind if I open a task "Create Rails API generator" and mention the fact that you've started working on it so that the community is aware and provide help if needed?

[2016-02-25 14:45] wing328 commented on #2241
Seems like the PR for supporting UWP has merged: https://github.com/restsharp/RestSharp/pull/780

[2016-02-25 16:17] hiveship opened #2248 "[Regression] Import mappings not correctly handled"
I updated my Swagger Codegen project today and remake a build of a project using it to generate code (Java CXF).

I'm now facing an issue, using the "import mappings" feature.
In my pom.xml, I specify:
[code]

but in the generated code, the Event class used is not the foo.provided.Event. It's the generated one.

This was OK before my update (I can't remember when I made my last update before today

[2016-02-25 16:38] lopesmcc commented on #2100
Same happening with me.
Generating for language 'spring-mvc' with library 'j8-async', using the latest swagger-codegen-maven-plugin (2.1.5).

[2016-02-25 16:39] wing328 commented on #2084
@Glagnar  Hope you'd a wonderful holidays in Denmark. Please take your time as I don't think anyone else is facing the same issue.

[2016-02-25 16:43] wing328 commented on #2248
To help identify which commit breaks it, you can look at this [page]() for recent commit and run the following to checkout the files from a particular commit:
[code]
will checkout this commit: https://github.com/swagger-api/swagger-codegen/commit/67d0916c5045c1d912da2e63a767d1d659956c0e

This should help you identify which commit might have potentially broken the import mappings.

https://github.c

[2016-02-25 16:45] wing328 commented on #2208
@cbornet I'll need to spend some time to look into this. How urgent/critical is this fix?

[2016-02-25 17:20] wing328 commented on #2187
@vbash I got the following error when trying to generate a Java API client using later master of swagger-codegen:
[code]
The error message suggests the issue has to do with `http://tract-swagger.s3.amazonaws.com/public/common/2.0/shared.yml` and I got some errors when pasting `shared.yml` in editor.swagger.io.

[2016-02-25 17:21] wing328 commented on #2153
@keithchong thanks for the feedback. Is that something you've cycle to contribute?

[2016-02-25 17:23] wing328 commented on #2148
We no longer support Java6. Please instead use editor.swagger.io to generate API client or server stub if upgrading java6 to java7 or java8 is not an option.

[2016-02-25 17:23] #2148 closed

[2016-02-25 20:35] lopesmcc commented on #2100
Java client generation seems to be working correctly in master, so it must have been fixed already.
SpringMVC still had this issue and I created a PR with the fix ( #2249 ).

[2016-02-25 22:53] shadeglare opened #2251 "Update TypeScript(Node.js) Bluebird usage"
I noticed that the bluebird defer is obsolete and will be removed in a feature version.
Got this:
`Warning: Promise.defer is deprecated and will be removed in a future version. Use new Promise instead.`

[2016-02-26 01:27] hideya commented on #2157
@wing328 @Edubits I don't want to rush the discussion, but I will have some spare time next week to work on this if necessary. So, I thought to ping you folks for your input.

My proposal is to remove the `{{projectName}}API` namespace.  Although we can use typealias like  `typealias PetAPI = PetstoreClientAPI.PetAPI` to mitigate the extra typing, I'd rather like to see cleaner code generation.  W

[2016-02-26 02:09] ChenJasonGit opened #2252 "C# Client generator exceptions"
I used C#  Client generator.This design use exception for status_code.
The design is not good.
Or we can modify the code for   `if (statusCode >= 400)    throw new ApiException .`
404 is so common status_code,I think it shoud not  be an exception.
And,
I think we can use the fish‘s networklib instead of the rest sharp.(https://www.nuget.org/packages/network.fishlee.net/).

[2016-02-26 02:21] wing328 commented on #2157
@hideya would it be hard to make it a CLI option (e.g. swiftUseExtension and default to false)?

That way developers have the option to generate Swift API client that's backward compatible.

[2016-02-26 02:29] onemanstartup commented on #2235
@wing328 I'm starting another project right now and wont be available in the next 2 months. And I'm not java programmer, so my generator won't be great anyway :)

[2016-02-26 02:32] wing328 commented on #2235
@onemanstartup no worry. We'll create a task to see if anyone in the community has cycle to contribute the generator for Rails API.

[2016-02-26 02:36] wing328 opened #2253 "[Ruby] Create a generator for Rails API server"
If anyone from the community wants to work on this, please reply to let us know.

Ref: [How to add a generator for a new language or framework] (https://github.com/swagger-api/swagger-codegen/wiki/How-to-add-a-generator-for-a-new-language-or-framework)

[2016-02-26 02:38] wing328 commented on #2251
@shadeglare thanks for letting us know. May I know if you've cycle to contribute a PR?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-26 03:03] wing328 commented on #2252
The design is based on our review of other C# SDKs (Stripe, Twilio, Dropbox, Twiiter, etc). Other languages also follow the same approach.

You can customize the template to catch the 404 exception and re-throw the exception if needed.

For Fish's networklib, does it support the following?
- Multiple file upload
- Async and sync HTTP requests
- various Windows platform (e.g. Windows UWP)

We welco

[2016-02-26 06:05] QianJin2013 opened #2254 "HTTP-GET header Content-Type is not set, cause server check error"
Thanks swagger api!
I found JavaClientCodegen has a problem.
When i define consumers in yaml, it means send request with the specified Content-Type, but unfortunately, HTTP GET does not works, POST and others works.

Sample yaml:
[code]

Result ClientAPI.java
[code]

As you can see above code, contentType is not used for HTTP GET.

When it goes to a spring framework server, the problem occours:
<i

[2016-02-26 06:21] hideya commented on #2157
@wing328 thanks for getting back to me!  Could I ask you a clarification?  Which would you care for; backward compatibility or namespace support?  If it were backward compatibility, PR https://github.com/swagger-api/swagger-codegen/pull/2244 is already breaking it, so I personally feel not that much value for it.  If it were namespace support, then I think the current namespace is halfway done (i.

[2016-02-26 07:59] QianJin2013 commented on #2254
I added three lines to auto-generated ApiClient.java, then it works

Old code begins:
[code]
Insert following code:
[code]
Continue old code:
[code]

[2016-02-26 08:05] fehguy commented on #2254
But `Content-Type` is not required with GET requests.  Only POST, etc. where you're sending a body.

[2016-02-26 08:25] QianJin2013 commented on #2254
dear sir, I agree with you, but once define consumes property, the spring framework check request content-type, even HTTP GET.  I can not accuse spring guys, because HTTP specification not strictly say no Content-Type for HTTP-GET, just SHOULD.

In other words, Anyone can legally send HTTP-GET with Content-Type and empty body or form!  I hav did the experiment use ajax or nodejs. There were many s

[2016-02-26 09:02] wing328 commented on #2157
My view is that just one non-backward compatible change will be included in the upcoming release does not mean we should include even more. Our goal is to minimize the impact to the developers if possible (ideally the upgrade should be seamless).

That's why I suggested we make a CLI option for this change and default to false, which means developers have an option to fallback if needed (that's no

[2016-02-26 09:05] hiveship commented on #2248
Can you please test in your current project and tell me if you are also facing this bug ?
I don't see anything in the commits that could explain it.

[2016-02-26 09:21] hideya commented on #2157
@wing328 Thanks for the comment back!  OK, all sounds reasonable.  (I do value backward compatibility but mentioned like above since the exact lines that become broken by https://github.com/swagger-api/swagger-codegen/pull/2244 will be broken by this change too)

I'll check out how easy/hard it would be and get back to you!

[2016-02-26 10:21] hiveship commented on #2248
While trying to build on some older commits, I got the following Maven ERROR:

[code]

[code]

[2016-02-26 13:42] sbelan commented on #2219
@wing328  this is not just limited to VendorExtenstions ... for a property of type $ref, non of the other attributes associated with that property are processed (like say, if I add minItems)
The code should create RefProperty object, and should evaluate attributes associated with that property like any other normal property like say, StringProperty.

[2016-02-26 14:21] ePaul commented on #1255
*Current status*: This was fixed in #2211 for Java and C#, as well as all languages which don't override `DefaultCodegen.toModelName(String)`.

Other languages still need to be updated (the new options are otherwise doing nothing).

[2016-02-26 17:58] demonfiddler opened #2258 "[JavaScript] Generator options and template improvements"
This is to propose the following changes to the JavaScript code generator:
1. RENAME omitModelMethods [=false] to emitModelMethods [=false]. The rationale is two-fold: firstly to suppress their emission by default, since getter and setter methods are not a typical JavaScript programming idiom; their presence bloats code and adds little or no value. _Even_ if it were felt desirable to access proper

[2016-02-26 22:02] romk1n opened #2259 "[Swift] add enum support ?"
It seems like if the class itself is an enum it is not supported and classes which suppose to be enums are just empty. Would it be possible to add this feature ?

[2016-02-26 23:34] jmaister opened #2260 "SpringMVC: does not support regenerate code appropriately"
The SpringMVN generator creates the API files with:

    // do some magic
    return new ResponseEntity(...);

It would be better to create a service delegate (just like the JAX-RS generator), so it would be easier to regenerate the code.

[2016-02-27 02:19] QianJin2013 commented on #2254
The problem is : once user define "consumes" type in yaml, swagger's auto-generated java server and java client not works.

Other type such as nodejs ApiClient.js, it did set Content-Type in  HTTP-GET request.

Would you please consider this problem again?

[2016-02-27 03:00] hideya commented on #2157
@wing328 I figured that it is quite straight forward to keep supporting the `{{projectName}}API` namespace together with the proposed simplification without messing `APIs.mustache`.

So, I will work on the CLI option stuff too following your recommendation.  I'm thinking to introduce `swiftUseApiNamespace` flag, and if a user would like to use it, the user adds `-D swiftUseApiNamespace=true` to th

[2016-02-27 03:15] wing328 commented on #2157
@hideya yup, that's how I understand it.

[2016-02-27 04:15] wing328 commented on #2260
@jmaister thanks for the feedback. Ideally we want to support it as well since it's already been done in `jax-rs`. May I know if you've cycle to contribute the enhancements?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-27 04:18] wing328 commented on #2254
Have you tested Java API client using other HTTP library (not the default Jersey1.x)?

You can do so by passing `-Dlibrary=jersey2` to the command line. For a full list of HTTP libraries supported, please refer to the help page.

[2016-02-27 04:21] wing328 commented on #2258
@demonfiddler thanks for the suggestion.

cc @delenius @xhh to see if they've any comment.

[2016-02-27 04:37] QianJin2013 commented on #2254
i have not tested jersey2, but i have chekced jersey2's ApiClient.java, same problem there. My project do not want to specify extra option to use jersey2.
I will make a test case to prove the problem.

[2016-02-27 05:46] wing328 commented on #2254
Do you mind testing other Java HTTP libraries to see if there are similar issue? If yes, we want to fix those as well
Supported HTTP libraries in Java: retrofit, retroit2, okhttp-gson, feign, jersey2

[2016-02-27 07:03] QianJin2013 commented on #2254
Ok, i will try others.

2016年2月27日土曜日、wing328<notifications@github.com>さんは書きました:

[2016-02-27 08:38] hideya commented on #2157
@wing328 I finished the changes including the CLI option.  I made sure updated unit tests (w/o  `PetstoreClientAPI.`) works fine.

Now, could I ask your opinion?  Would it be ok for me to merge the changes into PR https://github.com/swagger-api/swagger-codegen/pull/2244?  I didn't need to touch many lines for this one. I thought it might be easier to keep track of those two related breaking change

[2016-02-27 08:47] wing328 commented on #2157
Fine with me to merge the changes into #2244.

[2016-02-27 08:51] hideya commented on #2157
Thanks!  I'll work on it then!

[2016-02-27 10:50] wing328 commented on #2251
Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/TypeScript-node/api.mustache#L215

[2016-02-27 14:27] Glagnar commented on #2181
@bramley-turner-stride I do not understand why you want to generate snake_case. The Apple guidelines are to use camelCase:
https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TheBasics.html

[2016-02-27 14:30] kasperg commented on #1482
How about using [HTTPlug](https://github.com/php-http/httplug) instead? This a client abstraction and thus we avoid binding the implementation to a single library.

[HTTPlug already supports a range of adapters](http://docs.php-http.org/en/latest/clients.html) including Guzzle 5 and 6 as well a simple .

@wing328: If you agree with that direction I would be interested in taking a stab at this.

I

[2016-02-27 14:35] Glagnar commented on #2084
@wing328 I might be doing this wrong, but I dont seem to be able to push a fix for this issue:
`thomas@gLap:~/code/swagger-codegen$ git push origin issue-2084
remote: Permission to swagger-api/swagger-codegen.git denied to Glagnar.
fatal: unable to access 'https://github.com/swagger-api/swagger-codegen.git/': The requested URL returned error: 403
`

[2016-02-27 14:40] wing328 commented on #2084
@Glagnar you need to do it in your folked `swagger-codegen` repo by first clicking on the "folk" button in https://github.com/swagger-api/swagger-codegen

[2016-02-27 14:46] wing328 commented on #1482
@kasperg thanks for the suggestion to use HTTPlug.

As you suggested, creating an abstract class is one way to do it (which is perfectly fine with me but some developers may not want the dependency on HTTPlug)

Another way is to following Java's current approach to generate `ApiClient` file based on library specified. To apply that to PHP, you will need to create another file ApiClient.HTTPlug.mus

[2016-02-27 14:49] Glagnar commented on #2084
@wing328 Thanks. This is the first time I contribute anything to github. :]

[2016-02-27 14:52] wing328 commented on #2181
@Glagnar I think the issue is that the server is expecting a query parameter `taxon_slug` but the Swift API client (which currently does not maintain any mapping between `baseName` and `paramName` in query parameter) is using `taxonSlug` instead, which will be ignore by the server.

That's why I said we need to implement similar mapping between `{{baseName}}` and `{{paramName}}` in Swift API clien

[2016-02-27 14:53] wing328 commented on #2181
@Glagnar if you need more direction in contributing a fix for this issue, please let me know.

[2016-02-27 14:55] wing328 commented on #2084
@Glagnar no problem. I hope you enjoy the process and thanks for your contribution.

[2016-02-27 15:28] wing328 commented on #2194
For those who are interested in adding the mapping for ObjectMapper, e.g.
[code]

Here is the logic you can borrow from PHP model template (which needs something very similar for mapping attribute names):
[code]
Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/php/model.mustache#L64-L67

[2016-02-27 17:09] #2120 closed

[2016-02-27 17:44] wing328 commented on #2213
Here are the source code related to OAuth in Python:
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/configuration.mustache#L76

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/configuration.mustache#L244

[2016-02-27 18:02] David-Marin-Calleja commented on #1554
@wing328 I've just made a pull request on github. Pleas could you help me with  test-case file. Any instance where to start.

[2016-02-27 18:18] wing328 commented on #1554
@David-Marin-Calleja thanks for the PR. I've left a comment in the PR.

[2016-02-27 19:25] Glagnar commented on #2181
@wing328 I am impressed. Your suggested changes are exactly what the doctor ordered:

Should I make two separate commits, or one with fixes to both issue 2084 and 2262 ?

[2016-02-27 23:07] #2157 closed

[2016-02-28 05:00] wing328 commented on #1889
@carlosduclos do you need any help with the work? do you mind sharing the progress so far? Thanks in advance.

[2016-02-28 05:00] wing328 commented on #1557
Closing this as there's no update.

[2016-02-28 11:26] ePaul commented on #2254
Sending a Content-Type where there is no body (other than in a response to HEAD) sounds wrong.

[RFC 7231, Section Content-Type](https://tools.ietf.org/html/rfc7231#section-3.1.1.5):

(This "selected representation" is for responses to HEAD requests.)

I think the top-level consumes property should certainly not apply to GET (or HEAD) requests.

[2016-02-28 11:57] ePaul commented on #2260
Note that [swagger-codegen-template-spring-interfaces](https://github.com/zalando-stups/swagger-codegen-tooling/tree/master/swagger-codegen-templates/swagger-codegen-template-spring-interfaces) in the project swagger-codegen-tooling might have this already – though it also differs in that it doesn't generate a full project including pom.xml etc. but intends the generated code to be used inside the

[2016-02-28 13:32] egimaben opened #2268 "model properties eliminated by additionalProperties element"
I have run into this issue now with implementing arbitrary field behaviour with `additionalProperties`. Below is my model with additional properties.
[code]
Indeed the only change I see in the generated java client is that my `CObject.java` now sub-classes HashMap class. I expected that a call to `put([key],[value])` on `CObject ` would just add a new property in the request body. On running a tes

[2016-02-28 14:02] wing328 opened #2269 "[Swift] Update reserved keyword list"
Currently, Swift API client is using the default reserved keyword list. We will need to update it with the latest Swift reserved keyword list: http://www.dotnetperls.com/keyword-swift

[2016-02-28 14:04] wing328 commented on #2269
If anyone from the community would like to work on this task, please let us know. A good starting point is the reserved keyword list in ObjC code generator: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java#L96

[2016-02-28 16:37] cbornet commented on #2096
Note : duplicate properties between model and its parent causes errors with gson :   ```Gson: [Class] declares multiple JSON fields named [property].```

[2016-02-29 01:36] xhh commented on #2258
These suggestions look very good to me :+1:

[2016-02-29 04:54] QianJin2013 commented on #2254
@ePaul  I understand.
YAML does not allow me to define "consumes" (Request's Content-Type) in POST.
[code]

So i have to define "consumes" globally, for any HTTP type.
It in turn cause web server's check cause error.

As you can see in above screenshot in first post,
it is spring frame work (NOT swagger's framework) that check request's Content-Type even if no HTTP body, such as when HTTP GET.

**

[2016-02-29 05:09] QianJin2013 commented on #2254
Think more and more, i found it seems more reasonable to do option 3(modify swagger's server code):
[code]

But i am worried about server does not work in case of someone send JSON body in request of HTTP GET.

Any idea?

[2016-02-29 05:42] wing328 commented on #2221
@AndreasM009 what about using the following instead?
[code]

[2016-02-29 06:03] AndreasM009 commented on #2221
I think you should compare it to 'undefined'.
undefined === aBoolean
________________________________
Von: wing328<mailto:notifications@github.com>
Gesendet: ‎29.‎02.‎2016 06:42
An: swagger-api/swagger-codegen<mailto:swagger-codegen@noreply.github.com>
Cc: AndreasM009<mailto:andreas.mock@live.com>
Betreff: Re: [swagger-codegen] Typescript Angular Client validates boolean parameter with !operator (

[2016-02-29 06:07] wing328 opened #2274 "[TypeScript] Bug with multi API key settings"
Currently, there's an issue with multi API key settings: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/typescript-node/api.ts#L151-L169
[code]
As the same function name `apiKey` is used repeatedly. To fix the issue, one way is to rename the function as `set apiKey(key: string, apiKeyIdentifier: string)` and set the key based on `apiKeyIdentifier`

If anyone fro

[2016-02-29 06:08] wing328 commented on #2221
Here is the discussion to the solution I proposed: http://stackoverflow.com/a/28984306/677735

[2016-02-29 08:47] rkostrab opened #2275 "[JavaScript] Possibility to set timeout while using JS generated client"
In default JavaScript generated client it is not possible to set timeout without changing the generated code. Please add this feature.

[Here is stackoverflow thread I have created about it.](http://stackoverflow.com/questions/35558088/how-to-set-timeout-in-javascript-swagger-generated-client)

[2016-02-29 09:14] wing328 commented on #2275
@rkostrab thanks for the suggestion. Would you have cycle to help implement the feature? A good starting point is to implement the `timeout` similar to `defaultHeader`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/ApiClient.mustache#L33

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-29 09:21] wing328 opened #2276 "Add auto-generated test files"
As part of https://github.com/swagger-api/swagger-codegen/pull/1921, we've add capabilities to generate test files for API and model files.

If anyone has cycle to add the feature to the following languages, please reply to let us know:

- [ ] Android
- [ ] C++
- [x] C# (#2007)
- [ ] Clojure
- [ ] Dart
- [ ] Flash
- [ ] Javascript
- [ ] Java
- [ ] ObjC
- [x] Perl (#2109)
- [x] PHP (#1921)
- [ ] Py

[2016-02-29 11:39] wing328 commented on #2200
Tracked in https://github.com/swagger-api/swagger-codegen/pull/2277/files instead.

[2016-02-29 11:39] #2200 closed

[2016-02-29 11:41] wing328 commented on #2201
Tracked in https://github.com/swagger-api/swagger-codegen/pull/2277/files instead

[2016-02-29 11:41] #2201 closed

[2016-02-29 15:24] ktunkiewicz opened #2279 "Webpack fails with "the request of a dependency is an expression""
in file `swagger-codegen/modules/swagger-codegen/src/main/resources/Javascript/model.mustache`
lines 4 and 7:
[code]
[code]

The `undefined` in the parameters list causes webpack to fail with error "the request of a dependency is an expression". Everything seems to work fine if these `undefined`s are removed. Is there any particular reason why these are there or could they just be removed?

[2016-02-29 15:48] wing328 commented on #1564
A good starting point for the fix is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/AlamofireImplementations.mustache#L31.

If anyone from the community has cycle to contribute the fix, please reply to let us know.

[2016-02-29 15:55] wing328 commented on #2268
@egimaben if I understand correctly, CObject is a special object with several properties (_id, createAt, updateAt) but it's also a HashMap in Java that developers can add key-value (string) pair to it.

Is it correct to say that the key-value pair is more like a dynamic property list in Java that you can add or remove "property" (key) with ease?

cc @fehguy @webron to see if they've any comment on

[2016-02-29 16:05] delenius commented on #2258
(1) and (2) sound good to me.

I don't know what 'parent' vs 'interface' axis means... Does this take care of https://github.com/swagger-api/swagger-codegen/issues/2041

@demonfiddler, @xhh In the interest of cleanup and de-bloating, please also comment on https://github.com/swagger-api/swagger-codegen/pull/2075

[2016-02-29 16:12] abains opened #2280 "Add loadbalancing support for code gen requests"
The swagger editor make two calls to generate code. First a POST to send he JSON/YAML that returns a link to download the code. It then calls a GET using the link that was returned. This works fine if there is shared storage backing the code gen servers behind a load balancer. But it breaks if the code gen servers write the .zip file to their private file systems.
It would be good if swagger-codeg

[2016-02-29 16:23] egimaben commented on #2268
@wing328, yes. To illustrate further, If I add any extra property , "name", the property  set should now change from (_id, createAt, updateAt) to (_id, createAt, updateAt,name).

[2016-02-29 16:35] fehguy commented on #2280
Thanks--this would break the signature for the API so we can consider either a new path, or doing this in a major version.  I'll post notes as to why we designed it this way, once I can dig them up.

[2016-02-29 16:49] Edubits commented on #2269
The official docs for this can be found here: https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/LexicalStructure.html#//apple_ref/doc/uid/TP40014097-CH30-ID413
There are some small differences with the list on Dot Net Perls.

Note that from the upcoming minor update Swift 2.2 on most reserved keywords are allowed as argument labels. See https://githu

[2016-02-29 17:51] dwhorton opened #2281 "Inconsistent instantiation per language of nested objects"
Consider the following specification:

{
    "basePath": "/some/v1/path",
    "consumes": [
        "application/json"
    ],
    "definitions": {
        "Parent": {
            "properties": {
                "child": {
                    "$ref": "#/definitions/Child"
                },
            },
            "type": "object"
        },
        "Child": {
            "properties": {

[2016-02-29 17:56] rkostrab commented on #2275
I would do it but I don't have more spare time to help (deadlines, deadlines...). I'm sorry @wing328 :/ So I'm not gonna use swagger generated client right now because of missing this issue.

[2016-02-29 19:13] cbdelavenne commented on #2213
Would the `authorizationUrl` point to my `/token` endpoint?

How do scopes work internally?
I understand that for all paths that require an authentication bearer token, I should be declaring something like:
[code]

Also, some of my endpoints use custom grant-types. I was told this isn't actually supported by swagger (it only supports [OAuth2's common flows (implicit, password, application and acce

[2016-02-29 19:19] maciejmakowski opened #2282 "[Java] Support enums in path params"
Similar to #1347, it would be good to also add support of enums in path parameters.

One additional requirement: It would be good if multiple query and/or path parameters actually reference the same enumeration, that only one enumeration is generated and is then being referenced from all places where it was defined.

[2016-02-29 20:46] ePaul commented on #2281
Could you please enable the syntax highlighting with

[code]

That makes the code easier readable. Also, please note that JSON doesn't allow a comma after the last entry in an object – I had to remove about four of them before Swagger-editor accepted your file.

[2016-02-29 21:15] ePaul commented on #2281
Do I understand right that you are complaining about the initialization behavior of the generated model classes (or constructor functions etc.)? And you want that when creating a Parent object all of its child properties should also be filled?

My point of view here is that for non-required properties (like those in your example) an initialization with an empty child object is not the right thing

[2016-02-29 21:40] dwhorton commented on #2281
That is correct. Or really, whatever the initialization behaviour is
(children initialized or not) it should be *consistent* across different
languages.

In my particular real API use case the child object is required (although
my provided example does not express this). Making the behaviour dependent
on whether or not the child object is required seems reasonable to me.

Agree with this. The part

[2016-02-29 21:51] ePaul commented on #2254
@QianJin2013 Your syntax error is resolved by adding a space after the `-`.

The following Yaml shows no errors in [the online swagger-editor](http://editor.swagger.io/#/), and generates server code with proper `@RequestMapping` annotation:

[code]

Generated PersonsApi.java (imports omitted):
[code]

[2016-02-29 21:54] ePaul commented on #2254
I think your option 3 (ignoring the consumes for GET and other no-body methods, both for server and client generation) is also a good idea.

[2016-02-29 22:07] ePaul commented on #2276
I don't quite understand: What is the purpose of those generated tests?
The PHP tests seem to be empty, so they are not yet testing anything – It looks as after generation they need to be edited to actually test something. But then the "don't edit this file" comment should go away.

But then what is being tested here? The getters/setters of the model objects? (That kind of test, if deemed necessar

[2016-02-29 23:27] QianJin2013 commented on #2254
@ePaul  I am glad to here this news. No wonder i saw no error when i first moved consumes property down.
Thank you.

So, i feel it's good to just move consumes property down without modifying any other files.

I think this issue can be closed.

[2016-03-01 00:10] escofieldnaxos opened #2283 "ASPNet5 Vendor specific Patterned Objects not exposed to mustache templates"
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#pathItemObject

I believe the Patterned Fields x- extension fields should be exposed to the mustache templates for vendor specific customization.  This would facilitate using an IOC and service locator pattern generated from the DL.  I could then regenerate from the DL without overwriting custom controller logic since it woul

[2016-03-01 00:40] fehguy commented on #2283
I believe they are available:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenOperation.java#L33

You should be able to access them like such:

[code]

[2016-03-01 02:10] wing328 commented on #2276
The purpose is to save developer's time in creating those test files from scratch. (I'll remove "don't edit this file" in my next PR)

And yes, ideally we should test getter/setter for each model. The work I've done is just a starting point. Ideally the test fils should leverage all available information provided in the spec to generate all possible test cases.

In my opinion, generating the test

[2016-03-01 02:45] #2254 closed

[2016-03-01 05:11] treeder commented on #1949
Please also add Host, scheme and base path to this list. They are currently unchangeable in the generated Go code.

[2016-03-01 05:15] fehguy commented on #1949
:+1:

[2016-03-01 07:28] wing328 commented on #1949
@treeder thanks for the feedback. have you tried another constructor to initialize the API class with basePath? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/go/swagger/PetApi.go#L20

[2016-03-01 07:45] #2228 closed

[2016-03-01 07:59] wing328 commented on #2228
@yuanpan365 fixed with https://github.com/swagger-api/swagger-codegen/pull/2277, please pull the latest master and let us know if you still see the issue.

[2016-03-01 08:17] wing328 commented on #2213
OK. You can use `apiKey` definition as a workaround. This is what you provided before:
[code]
`Bearer` is just the name of the security definition. The developer will need to set the API key prefix to `Bearer` in configuration.py (e.g. https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/swagger_client/configuration.py#L69)

[2016-03-01 08:38] neilotoole opened #2285 "[Go] Generated client code has several Case / visibility issues"
I'm a Go n00b, but I suspect I've caught several issues with the generated Go code. These are all related to Camelization and the fact that package-visibility in Go is determined by the name being UpperCamelized.

- **Escaping:** For escaping reserved keywords, using `_Name` won't work, because underscore is not considered uppercase by Go (I think), therefore the escaped name will not be visible b

[2016-03-01 08:46] wing328 commented on #2285
@neilotoole thanks for the feedback.  I can help make some changes to improve the reserved keyword handling in Go. Would you have cycle to test the change when it's ready?

[2016-03-01 09:02] neilotoole commented on #2285
@wing328 I have a PR ready to go in the morning :-)

[2016-03-01 09:06] wing328 commented on #2285
@neilotoole thanks for the contribution :beer:

[2016-03-01 10:32] demonfiddler commented on #2258
@delenius thanks for your response.

The  'parent' vs 'interface' axes refer to the so-named properties of io.swagger.models.ComposedModel. Such a model may notionally 'extend' a parent (defined to be the first RefModel in the allOf list) and also potentially 'implement' any number of interfaces (defined to be the second and subsequent RefModels in the allOf list). It may also have a child model (

[2016-03-01 11:03] vzeman commented on #2275
@wing328 Do I need git permission to push the suggested change request into new branch?
I have created localy new branch "issue-2275" and I'm trying to push it into your repository, but I'm getting error ERROR: Permission to swagger-api/swagger-codegen.git denied to vzeman.

[2016-03-01 11:19] demonfiddler commented on #2258
Commenters: please also review proposals 4) and 5) in the updated description.

[2016-03-01 11:31] wing328 commented on #2275
You will need to create the branch in your folked `swagger-codegen` repository. Please click on the `Folk` button in https://github.com/swagger-api/swagger-codegen and let me know if you need further assistance.

[2016-03-01 11:53] kasperg commented on #1482
I did not know about the `library` option but I think that is the way to go.

Having thought about third party packages with implementations will not work. The `invokerPackage` configuration option means that we cannot rely on a stable class name to extend.

[2016-03-01 12:35] vzeman commented on #2275
created pullrequest https://github.com/swagger-api/swagger-codegen/pull/2287

[2016-03-01 12:44] wing328 commented on #2275
Thanks. Left you a comment about updating Petstore sample.

[2016-03-01 12:44] hiveship commented on #2248
Still present. I won't have time to find and correct it. Maybe ask for community contribution @wing328 ?

[2016-03-01 14:40] wing328 commented on #2275
PR merged

[2016-03-01 14:40] #2275 closed

[2016-03-01 15:28] delenius commented on #2258
Ok this is a lot of stuff in one issue. Can we split this issue up into a number of separate issues, with separate PRs?

Some comments anyway,

(3) - so, if you have only one type in `allOf`, it will use prototype inheritance, and if you have more than one, it uses the more "manual" approach? Could this be confusing to users? If you print an object using `console.log`, some methods will appear und

[2016-03-01 16:43] cbdelavenne commented on #2213
Is there a way to define the API key prefix in the swagger spec?

[2016-03-01 18:22] kumarpr commented on #2224
Thanks :+1:

[2016-03-02 02:42] dantran commented on #2237
I have not heard from wagger-codegen dev yet, this means my report is not clear? feedback is very much appreciated.

[2016-03-02 02:47] wing328 commented on #2237
@dantran currently "type: object" without any property or $ref does not map to Object (in Java or other lang)

In your case, can the `object` in additionalProperties be defined properly ?

[2016-03-02 02:57] wing328 commented on #2213
Not officially. As a workaround you can use vendor extension (e.g. x-apikey-prefix) (but it's not supported in the mustache template yet)

Would that be a show stopper to use the Python SDK?

[2016-03-02 03:05] dantran commented on #2237
@wing328 not possible to defined the 'object' properly.  here is the story:

  * we started out of  java pojo   ( ie Map<String, Object> attributes) and use swagger-maven-plugin to generate the swagger spec where the 'attributes' has the json which we have no control

    "attributes" : {
      "type" : "object",
      "additionalProperties" : {
        "type" : "object"
      }
    }

  * The Obj

[2016-03-02 03:07] wing328 commented on #2237
@dantran to confirm, when you said it worked under 2.1.4, you mean swagger codegen 2.1.4 mapped "type: object" without property or $ref to "Object" in Java, right?

[2016-03-02 03:13] dantran commented on #2237
@wing328, Yes.   swagger-codegen 2.1.4 maps the json snippet back to Map<String,Object>

[2016-03-02 03:16] wing328 commented on #2237
OK. I'll take a deeper look.

I think it's related to adding the support of inline schema object (which automatically creates an object when "type: object" has neither property nor $ref.

[2016-03-02 05:58] wing328 commented on #2285
PR merged.

[2016-03-02 05:58] #2285 closed

[2016-03-02 06:04] wing328 commented on #1809
@damienpontifex has submitted a PR to include the work he's done so far.

If anyone from the community wants to continue the work, please reply to let us know.

[2016-03-02 07:04] neilotoole opened #2292 "[Go] Generated client code doesn't honor error (non-2xx) responses"
If you have some swagger like this:

[code]
It seems that for non-`2xx` codes, the generator API code doesn't ever return the custom error objects. However, what makes things even worse is that no error at all is returned. This is because of this piece of code:

[code]

Due to the use of `ReceiveSuccess`, an error is only returned if a network layer error occurs, not if a non-`2xx` code is returne

[2016-03-02 07:17] wing328 commented on #2292
Yes, you're right. When I worked on the first version of the Go generator, I only tested with 2xx response. Ideally 4xx and 5xx response should also have been tested to uncover the issue (we already've similar tests for other langauges).

A good starting point to address the issue is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api.mustac

[2016-03-02 07:19] neilotoole commented on #2292
Would you believe I have a PR almost ready to go? ;-)

[2016-03-02 07:22] wing328 commented on #2292
:+1:

[2016-03-02 07:35] wing328 commented on #2181
@bramley-turner-stride thanks to PR from @Glagnar, please pull the latest and let us know if you still experience the same issue.

[2016-03-02 07:35] #2181 closed

[2016-03-02 08:36] wing328 commented on #2269
@Edubits Thanks for the official list and the minor update for Swift 2.2.

Can reserved keywords be used as model property/member?

[2016-03-02 08:58] Edubits commented on #2269
@wing328 If I interpreted it correctly you still can't use the reserved keywords for properties/members, only for function arguments. In all other cases it should be possible to use `backticks` for escaping.

[2016-03-02 09:08] wing328 commented on #2269
@Edubits OK. Will keep the current login for the time being.

[2016-03-02 09:26] neilotoole commented on #2292
So... that PR does not fully address this issue in that we still do not return non-success objects, however it makes a vast improvement in that at least we now return an error (of some kind) for non-2xx conditions.  Perhaps we should have a separate issue for the returning-error-objects aspect?

[2016-03-02 09:49] wing328 commented on #2292
Yes, please kindly open another issue for tracking so that the community can help work on that.

[2016-03-02 09:49] #2292 closed

[2016-03-02 10:02] neilotoole opened #2296 "[Go] Generated client code doesn't return specified error objects for non-2xx response codes"
Currently the generated code (`DefaultApi`) does return an error code if a non-2xx HTTP condition occurs (ie an error), but it ignores what the swagger says it should produce. E.g. if  the swagger states that a `404` returns a `petNotFoundError` object, currently the Go code generator ignores this fact.

[2016-03-02 10:07] wing328 commented on #2093
@hideya @bajtos I've been thinking about this more. For "type: object" without any property or $ref, we should map it as generic object in the respective language.

We're working on a PR to avoid creating inline models without properties or $ref.

[2016-03-02 11:39] nickjennings commented on #1554
@wing328 - I'm new to this thread and swagger in general, but I was wondering what the status of this request is. Does the "feature " label you added mean that solution is now done, or does it mean it is schedule to be done.

[2016-03-02 12:32] wing328 commented on #2241
@jerry1621 may I know if it works for you?

[2016-03-02 12:35] hideya commented on #2093
@wing328 yes, that is something I initially wanted!  Sounds really good to me!

[2016-03-02 12:36] wing328 commented on #1554
@nickjennings https://github.com/swagger-api/swagger-codegen/pull/2263 has been submitted by @David-Marin-Calleja for this feature.

If you've time, can you perform some tests with his branch?

[2016-03-02 12:49] jerry1621 commented on #2241
@wing328 Not quite:
While RestSharpUWP supports Windows UWP-devices with x86 and x64 architecture, I'm not able to get it to run on an ARM-powered device and unfortunately all Windows 10 Mobile-devices available are ARM-powered, so I'm able to run it on a Win 10 Desktop but not on Win 10 Mobile, which is the platform I need it for...

[2016-03-02 12:51] wing328 commented on #2241
@jerry1621 I would suggest you report your finding to RestSharp team so that they can look into that.

[2016-03-02 13:15] hiveship commented on #2189
Don't forget that a "readOnly" property should only indicate that the client can read this value from the server but don't have the right to send a new value.
I agree it could be a good thing to remove the setters, but only for the "*Client" codegens. The server *HAVE TO* be able to set a value.

[2016-03-02 13:27] wing328 commented on #2093
@hideya when you've time, can you please test PR #2297 to see if that's what you've in your mind?

[2016-03-02 13:32] wing328 commented on #161
@giovannibotta may I know if you've cycle to contribute the auto-generated test files for Java? If yes, let us know if you need any help.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-02 14:25] wing328 commented on #2094
@neoasket do you mind submitting a PR for the change? We'll then review.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-02 14:27] wing328 commented on #2147
Closing this as no update from you.

[2016-03-02 14:27] #2147 closed

[2016-03-02 14:30] nickjennings commented on #1554
@wing328 - wow! yes I will check out the branch and perform tests, we have an active project that is ideal. Thanks.

[2016-03-02 14:34] wing328 commented on #779
@rastaman do you need help adding the accessors?

Please pull the latest and submit the PR against the `master`.

[2016-03-02 14:36] wing328 commented on #2069
@sohelsd may I know if you've resolved the issue?

[2016-03-02 14:37] wing328 commented on #2084
Fixed with https://github.com/swagger-api/swagger-codegen/pull/2262

[2016-03-02 14:37] #2084 closed

[2016-03-02 14:44] wing328 commented on #2258
For optional parameters with default value, we do not support that in other API client because the default value should be handled by the server (as the server should not assume the API clients always send request with the proper default value).

[2016-03-02 14:50] rastaman commented on #779
Hi wing328,
I'm ok to add the accessors again on the master but before i do so i would like to know if there is a better way than mine to refresh the value of the computed properties ? i mean if you look at this commit on my fork : https://github.com/rastaman/swagger-codegen/commit/315452628f7e238159ac4841e7ee15b302c6f4bd you can see that i had to add a "init()" method to refresh the values of som

[2016-03-02 14:59] cbdelavenne commented on #2213
I've been using a different workaround:
[code]
It's dirty, but it works.

[2016-03-02 15:28] CroniD opened #2298 "[jaxrs] StringUtil.java will be generated in 'apiPackage', but package is defined as 'invokerPackage'"
swagger-codegen version: 2.1.5
language: jaxrs

See https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/jersey1_18/StringUtil.mustache#L1

and

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaJerseyServerCodegen.java#L89

[2016-03-02 15:33] wing328 commented on #2213
Yes, that's another way.

[2016-03-02 15:41] cbdelavenne commented on #2213
Just a note, on modifying the configuration.py manually. Every time the client is re-generated by swagger_codegen, the changes to configuration.py have to be done manually or via another supporting script.

[2016-03-02 15:46] wing328 commented on #2213
For the manual change in configuration.py, do you mean setting the API key prefix?

[2016-03-02 15:47] cbdelavenne commented on #2213
Yes, that's what I'm referring to.

[2016-03-02 15:48] wing328 commented on #2298
@CroniD can you provide us a spec to reproduce the issue?

[2016-03-02 15:51] wing328 commented on #2213
That's not how I expect the Python API client to be used.

I would imagine a sample code is provide to the developers using the Python SDK on how to set the API key prefix and API key in their script/app.

Would that solve the problem of manually updating configuration.py with hard-coded API key prefix?

[2016-03-02 16:37] CroniD commented on #2298
Oh, sure, sry.

Given the pom.xml

	<?xml version="1.0"?>
	<project
		xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
		xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<modelVersion>4.0.0</modelVersion>
		<groupId>org.demo</groupId>
		<artifactId>demo</artifactId>
		<version>1.0-SNAPSHOT</version>

[2016-03-02 19:31] giovannibotta commented on #161
I am not currently working with Swagger or java, so I won't be contributing to this. Sorry about that!

[2016-03-02 20:24] ayuda-yves commented on #2099
The online editor has been updated. I can finally confirm that this now works correctly. :)

[2016-03-03 01:37] wing328 commented on #161
That's ok. We'll leverage the community to add the smoke test for Java API client.

[2016-03-03 01:38] wing328 commented on #2099
@ayuda-yves thanks for the confirmation

[2016-03-03 04:56] escofieldnaxos commented on #2283
Thanks, that indeed worked!

[2016-03-03 04:56] #2283 closed

[2016-03-03 05:37] hideya commented on #2093
@wing328 I think I can check that out this coming weekend.  Is it be too late?

[2016-03-03 05:44] wing328 commented on #2093
Take you time. We'll of course perform testing in our side as well.

[2016-03-03 12:05] xhh commented on #779
I think the calls to `init` could be removed by moving the `init` code to [`processOpts`](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L89) or [`preprocessSwagger `](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientC

[2016-03-03 12:32] nickform opened #2302 "Underscores handled differently in operationId and function name by node.js code generator."
Using the app at editor.swagger.io, I generated some node.js code for an api with a path parameter whose name contained an underscore. In the output the operationId generated for this route (in swagger.yaml), the underscore was left in place however in the corresponding function name (in Default.js), the underscore was removed and the following character capitalised. This led to an error when requ

[2016-03-03 12:35] wing328 commented on #2302
@nickform thanks for reporting the issue. Please provide the swagger spec for reproducing the issue.

I assume you're generating the `nodejs` (nodejs server stub)

[2016-03-03 12:45] xhh commented on #2165
Now that "objects of any form" (`object` type with no properties) are supported (see #2297), I will fix this.

[2016-03-03 14:19] bobrosoft commented on #2116
Try this patch out [patch.txt](https://github.com/swagger-api/swagger-codegen/files/156889/patch.txt) I done Unit Tests with newly generated models on my project -- all passed and models looks correct, no explicit initialization needed in `init` method.

Possibly patch is not full, I deleted some `{{unwrapRequired}}` stuff but it's still there below in `encodeToJSON` method. Speaking truly, I dunn

[2016-03-03 14:57] cbdelavenne commented on #2213
I'd rather continue to use my current workaround (setting authentication header in default headers of the client before initializing an API).

[2016-03-03 15:18] wing328 commented on #2213
@cbdelavenne it's entirely up to you. Closing this issue.

Please open a new one if you need further assistance from us.

[2016-03-03 15:18] #2213 closed

[2016-03-03 15:19] wing328 commented on #2116
@bobrosoft thanks! Do you mind submitting a PR for the change? just want to make sure the credit goes back to your github account.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-03 15:35] keithchong commented on #2153
Yes, I will contribute.

[2016-03-03 15:38] wing328 commented on #2153
@keithchong thanks. Here is the guideline for contributing:

https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-03 15:50] cbdelavenne commented on #2213
@wing328 Thanks for your help again :+1:

[2016-03-03 16:09] wing328 commented on #2237
@dantran we've fixed the issue in the latest master. Would you please pull the latest and give it a try?

[2016-03-03 16:14] bobrosoft commented on #2116
@wing328 can do tomorrow. Btw, do you know somebody who knows about `{{unwrapRequired}}` to properly check PR? Maybe it been needed for something important there.

[2016-03-03 16:15] webron opened #2304 "Server vs Client generation differences on data validation"
_From @zanona on March 3, 2016 16:10_

I have noticed that most clients that can be generated through Swagger such as javascript will comply to JSON's Schema properties like `enum`, `maxLength`, `minimum`, `required`, etc for request body (i.e: /users/POST [User Model])

However from what I have tested, all generated server codes such as Node.js, Go, etc, will simply skip that information and leav

[2016-03-03 16:16] wing328 commented on #2116
I think it can be removed as I don't see any other reference to it. Please feel free to remove it.

[2016-03-03 16:40] wing328 commented on #2116
Sorry I was wrong. `unwrapRequired` can be specified in the config:
[code]
(java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l swift)

[2016-03-03 16:47] jqr opened #2305 "[python] Encoding issue with Python 3 binary string response"
When using binary string responses under Python 3, the encoding defaults to UTF8 which is incompatible with binary data. This looks to stem from Python 3 having `str` default to UTF8 and a new type called `bytes` which represents binary data. This is a significant departure from functionality in Python 2 and you can [read more about it](https://docs.python.org/3/whatsnew/3.0.html#text-vs-data-inst

[2016-03-03 16:50] bobrosoft commented on #2116
Oh, ok, makes sense now, then that patch not needed and that can be controlled through config. Issue can be closed.

For others: when `generate` there's possibility to specify JSON config file with `-c` option. To make models use "required" properties, you can set `unwrapRequired` property to true, as `{"unwrapRequired": true, ....<your other options>}` in config file for swift generator. To list

[2016-03-03 17:07] cbdelavenne opened #2306 "[Python] Spec definition containing brackets generates model with invalid filename"
[code]

When fed through swagger codegen, the definition above generates a file:
`swagger_client/models/some_dto[another_dto].py`

Then `swagger_client/models/__init__.py` can't correctly import the file:
[code]

Anyway, all this to say, during generation, brackets in definition/path names should be converted to `_` or empty space when creating files.

Let me know if this isn't clear or if there's

[2016-03-03 17:07] nickform commented on #2302
[swagger-codegen-issue2302repro.txt](https://github.com/swagger-api/swagger-codegen/files/157263/swagger-codegen-issue2302repro.txt) reproduces the issue (with the train_code parameter.

You are correct that it is node.js server.

[2016-03-03 17:17] dantran commented on #2237
@wing328. It works.   Thank you!!!

[2016-03-03 18:07] treeder commented on #1949
@wing328 I see, we found this one: NewXApiWithBasePath

Seems like you could end up with a lot of constructors. Even just exporting the fields in the XApi struct seems like it would be sufficient and you wouldn't need extra constructors.

[2016-03-04 01:39] wing328 commented on #2237
@dantran thanks for the confirmation and sorry for the inconvenience caused by this.

We've added test cases to cover the issue moving forward.

[2016-03-04 01:39] #2237 closed

[2016-03-04 01:41] who opened #2308 "Please update 2.1.6-SNAPSHOT to oss.sonatype.org"
It looks like swagger-codegen 2.1.6-SNAPSHOT hasn't been pushed to [sonatype](https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.1.6-SNAPSHOT/) since Feb 12th. Would it be feasible to have this updated with the artifacts from latest master?

[2016-03-04 01:46] wing328 commented on #2308
@fehguy @webron can you please take a look?

[2016-03-04 01:52] wing328 commented on #2237
Fixed by https://github.com/swagger-api/swagger-codegen/pull/2297

[2016-03-04 04:15] fehguy commented on #2308
all done

[2016-03-04 04:15] #2308 closed

[2016-03-04 04:24] #2306 closed

[2016-03-04 04:27] wing328 commented on #2306
@cbdelavenne thanks for reporting the issue, which has been addressed by #2309

Please pull the latest and let us know if you're still seeing the issue.

We've added some test cases, which will be reused to cover all other languages.

[2016-03-04 04:57] #2094 closed

[2016-03-04 06:54] dantran commented on #2237
@wing328 Thank you for this incredible quick fix. Could you deploy latest 2.1.6-SNAPSHOT to sonatype?

[2016-03-04 07:03] wing328 commented on #2237
I think Tony just deployed an updated JAR a few hours ago. Have you check the latest with `'mvn clean install -U` ?

I believe you can also workaround by doing a `mvn clean install` to install the 2.1.6-SNAPSHOT locally in your machine?

[2016-03-04 07:13] dantran commented on #2237
@wing328 I should have checked latest snapshot at sonatype before requesting for new one.  Thanks again

[2016-03-04 10:28] hiveship commented on #2304
I would really appreciate to get a mechanism to validate data format on the service side :+1:

[2016-03-04 12:16] rastaman commented on #779
Thanks for the hint xhh! I had not read the code of swagger-codegen sine one year and it helps me to know this! however i'm not sure i will have the time to work on this (it's a rather big task to update all the generators), i look if i can do it but i cannot promise any deadline to finish it, if someone want to take this task i would be more than happy :-)
Have a good day, best regards

[2016-03-04 12:44] wing328 commented on #2305
@jqr thanks for the details. May I know if you've cycle to contribute the fix with a test case using this [endpoint](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L262) (the method name is automatically generated by codegen since it's empty)?

[2016-03-04 18:08] jimschubert commented on #2079
@delenius Are you looking for developer documentation?  There's a great package called [dox](https://github.com/tj/dox) from TJ, the original author of express.js (and lots of other popular node.js frameworks). If you search github for just 'dox' then filter by JavaScript repositories, you'll find quite a few generators based off of dox. It's also fairly simple to use dox to manually pull all comm

[2016-03-04 18:12] jimschubert commented on #1954
@wing328 I can do this documentation.

[2016-03-04 20:32] nicksloan opened #2313 "Bad error message on accidentally nested schema."
When I build a spec (here: https://gist.github.com/nicksloan/0ec7e74af30ac9540ccf) with a schema nested within a schema (see [line #647](https://gist.github.com/nicksloan/0ec7e74af30ac9540ccf#file-full-json-L647)) I am shown a less than helpful error message:

[code]

Using the online validator in debug mode is much more helpful in identifying the actual issue:

[code]

The codegen version is 2.1.

[2016-03-04 20:48] nicksloan commented on #1551
Until this is fixed, I have worked around it by using swagger-parser (the JavaScript library). Here is a quick node.js script I wrote to help: https://gist.github.com/nicksloan/b4aeb117734c5c1cec81

I simply run that with `$ node consolidate.js > full.json` to serialize my schema to a single JSON file, which I can then build using swagger-codegen. The extra step is a bummer, but not really that mu

[2016-03-04 21:33] h2m opened #2314 "[swagger-codegen Java] codegen generates invalid Java classes for descriptions of simple type integer or string"
The following description section inside an OAI specification in yaml led to invalid java classes `HelloWorldResponse.java` and `UsageLimit.java` after code generation in version 2.1.5

    definitions:
      HelloWorldResponse:
        type: string
      UsageLimit:
        type: integer
        description: Defines the usage limit
      ErrorResponse:
        required:
          - message

[2016-03-05 00:03] saharj opened #2315 "Swift code in swagger"
_From @AnkitaScienceInc on March 4, 2016 15:46_

I can no more generate client code for swift

_Copied from original issue: swagger-api/swagger-editor#839_

[2016-03-05 02:52] wing328 commented on #2315
@AnkitaScienceInc can you please share the spec so that we can reproduce the issue?

[2016-03-05 03:01] wing328 commented on #2313
@nicksloan agree that the error message can be more helpful.

In this case, what would you suggest to make it clearer?

Using Swagger Editor, I got `Not a valid response definition`

[2016-03-05 03:08] wing328 commented on #1949
@treeder thanks for the feedback. We make the base path configurable via the `WithBasePath` method as `ApiClients` in other languages also offer similar constructor to setup base path (while other option/config setting can be changed via `setter`).

May I know if you've cycle to contribute to this task? Here is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modul

[2016-03-05 03:21] hideya commented on #2093
@wing328 I quickly tested the latest master, and found an issue with Swift.  If an argument's schema is `type:  object` now it maps to `AnyObject` and then try to call `encodeToJSON()` against it, whereas the implementation is not there.
YAML:
[code]
Generated method:
[code]

It used to generate `Credentials` class like below for the case where schema is `type:  object` and it was used instead of

[2016-03-05 06:31] wing328 commented on #2093
For PHP, I need to set the type of the data to `map` (associative array in PHP). Please refer to https://github.com/swagger-api/swagger-codegen/pull/2316 for more information.

I think Swift may need to do something similar. I'll test C# API client later to see if similar changes need to be done.

Java and Ruby have been updated to handled `type: object`.

[2016-03-05 07:40] wing328 commented on #2276
@ePaul does it make sense to you?

Later if anyone from the community has cycle, we can update codegen to automatically generate test cases specified by vendor extension in the endpoint definition.

[2016-03-05 08:42] wing328 commented on #2093
@hideya I've submitted #2317 for C#, which returns `Newtonsoft.Json.Linq.JObject` for `type: object`.

For Swift, I think it comes down to how Alamofire handles the deserialization if I'm not mistaken.

There's a discussion related to serialization/deserialization of Object in Swift [here](https://github.com/swagger-api/swagger-codegen/issues/2194)

Please let me know if you've any questions.

[2016-03-05 10:51] wing328 commented on #2064
@bluemmc @jimschubert I've made some improvement via #2317. Would you please pull the latest master and give it another try?

[2016-03-05 10:52] wing328 commented on #2175
@BugRaptor I've made some improvement via #2317. Would you please pull the latest master and give it another try?

cc @jimschubert

[2016-03-05 11:23] QianJin2013 opened #2318 "Would you mind not outputing timestamp in auto-generated file header?"
The auto-generated file header contains timestamp which cause file difference, it's very inconvenient to check many auto-generated file's diff,
Would you mind not outputing the timestamp? so the auto-generated files can be saved in git better.

[code]

[2016-03-05 14:25] wing328 commented on #2276
@ePaul FYI. https://github.com/swagger-api/swagger-codegen/pull/2301 to revise the wording has been merged into master.

[2016-03-05 17:14] jhedev opened #2319 "[Haskell-Servant] generator creates code that does not compile due to invalid data types"
I used the master branch (commit: a4ec9b9) to generate the haskell-servant code for the API defined here: http://data.deutschebahn.com/apis/fahrplan/db-fahrplan-api-specification.yaml

The generated code does not compile due some problems with the generated record data types:

### Invalid names of record fields

For example:

[code]
produces code with upper case record field names:

[code]

which

[2016-03-05 18:50] nicksloan commented on #2313
`instance failed to match exactly one schema (matched 0 out of 2)` gave me the impression that somehow there were two schemas in play, which made it obvious when I went looking. In my case, the json listed is compiled from multiple files using swagger-parser (the JavaScript one), so the nested schema properties weren't in the same file.

The big thing is that it doesn't say anything about where. L

[2016-03-06 02:08] wing328 commented on #2319
cc @algas

[2016-03-06 03:04] algas commented on #2319
@jhedev '$' causes the trouble. In Haskell, you cannot use '$' in a function or a variable name.

[2016-03-06 06:39] wing328 opened #2321 "Add auto-generated documentation in Markdown"
Currently, the auto-generated SDK only contains a README.md. We want to generate the markdown documentation for API endpoints and models as well.

As a starting point, I've submitted #2320 and here is what the [documentation](https://github.com/wing328/swagger-petstore-perl) looks like.

[2016-03-06 06:40] wing328 commented on #2315
@AnkitaScienceInc Please also try the latest master as there's been a lot of enhancements to Swift API client.

[2016-03-06 08:10] jhedev commented on #2319
@algas Yeah, I know. You can also not start a field name with an upper case letter :)

What I wanted to point out is that this could maybe be handled during generation, i.e. make sure the field names are valid haskell code. So the generated code can be compiled.

[2016-03-06 14:22] wing328 commented on #2319
@jhedev may I know if you've cycle to contribute a fix?

To fix it, you will need to override `toVarName` in [HaskellServantCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/HaskellServantCodegen.java)

Here is an example for [PHP Slim](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagge

[2016-03-06 14:39] wing328 commented on #2079
@jimschubert @delenius I've submitted #2320 to add auto-generated documentation (markdown) for Perl. We can do the same for Javascript.

Would that meet your requirement?

[2016-03-06 14:43] #2165 closed

[2016-03-06 14:53] wing328 commented on #2165
@tkukola-db fix merged into master. Please pull the latest and let us know if you're still seeing the issue.

[2016-03-06 14:54] jhedev commented on #2319
I'll give it a try.

[2016-03-06 15:21] jimschubert commented on #2079
@wing328 I think users generating JavaScript would probably prefer the use of modules so they can customize the documentation.

For instance, one could add `dox-foundation` as a dev dependency and add an npm script called 'docs':

[code]

Then, `npm run-script docs` will generate documentation (from my above screenshot) into `./doc`.  The dox-foundation generator is just one of many out there, but

[2016-03-06 15:55] wing328 commented on #2079
@jimschubert thanks for the feedback.

Before I decide to use a library/module/SDK, I usually take a look at the documentation first. If a library/module/SDK is poorly documented, it's unlikely I would give it a try if there are alternatives available.

In other words, the documentation is the first impression to some (if not all) developers before consuming the library/module/SDK so the auto-gene

[2016-03-06 17:00] wing328 commented on #2314
@h2m do you expect `HelloWordResponse` to have one attribute (string) ? What about `UsageLimit` ?

[2016-03-07 02:52] wing328 commented on #2252
Closing this as we've not heard from you.

[2016-03-07 02:52] #2252 closed

[2016-03-07 02:53] wing328 commented on #2235
Opened https://github.com/swagger-api/swagger-codegen/issues/2253.

Closing this one.

[2016-03-07 02:53] #2235 closed

[2016-03-07 02:54] wing328 commented on #2205
@sbelan do you need help submitting the PR?

[2016-03-07 02:55] wing328 commented on #2187
@vbash issue closed as we've not heard any update from you.

[2016-03-07 02:55] #2187 closed

[2016-03-07 02:56] wing328 commented on #2177
@cbornet  FYI #2149 has been merged into master.

[2016-03-07 03:15] xhh commented on #2279
@ktunkiewicz the first argument for the `factory` function is for the usage in browser (without common.js + browerify/webpack or amd.js) which is the module name set into `window` (`root`), [see here for an example](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/model/Tag.js#L75).
It does not work the same way with [API files](https://github.com/s

[2016-03-07 04:12] QianJin2013 commented on #2318
I am working on a project which use swagger to generate client and server code, put them to git.
Sometimes, someone customized the swagger-autogen, then he new swagger-cli to generate new source code and commit again.

I need to know where auto-generated code changes, so i have to diff each file, but actually, most files have not changed except the timestamp file header.

[2016-03-07 04:42] xhh commented on #2079
Regarding doc comment style in JavaScript, it seems [JSDoc](http://usejsdoc.org/) is the most popular one, which is also supported by [dox](https://github.com/tj/dox). So I guess we should use JSDoc in JavaScript client codegen.

Regarding generating the actual doc files (e.g. in Markdown or HTML), I think providing a default template would be helpful, while other templates can be added freely as

[2016-03-07 05:06] QianJin2013 commented on #2318
Sorry, i forgot to say the most common use case:

Someone add interface definition into yml,
then use swagger-autogen-cli to generate client and server again,
at this time, too many files are treated as changed just because different timestamp in file header.

Don't you think this is inconvenient? i have to diff files one by one to see where changed.

[2016-03-07 07:33] bluemmc commented on #2064
The new version is a bit strange. Now a file called "ObjectObject.cs" is generated and used instead of Object.cs. I expected "Newtonsoft.Json.Linq.JObject" instead. Also, the generated project will not compile but gives an error:

C:\temp3>compile.bat
Installing 'RestSharp 105.1.0'.
Installing 'Newtonsoft.Json 8.0.2'.
Successfully installed 'RestSharp 105.1.0'.
Successfully installed 'Newtonsoft.J

[2016-03-07 07:55] gibiansky commented on #2319
@jhedev FYI I am proposing an alternate Haskell code generator in this PR https://github.com/swagger-api/swagger-codegen/pull/2322 Perhaps give it a shot and let me know what you think (on that PR)

[2016-03-07 08:08] xhh commented on #2279
Submitted PR #2323 for a fix. Please try in that branch and see if it works. cc @ktunkiewicz

[2016-03-07 09:11] wing328 commented on #2064
Based on your feedback, I've submitted #2324. Please kindly perform a test when you've time.

[2016-03-07 09:27] h2m commented on #2314
@wing328 the idea behind was rather than directly using string or integer, we wanted to have a named alias as a reusable type and refer to it with
`$ref: '#/definitions/mySpecialStringType` or `$ref: '#/definitions/mySpecialIntegerType`
at many places in the specification. Isn't that the idea behind the `descriptions:` section? Or should it only be applied for _truely_ new type definitions?

[2016-03-07 09:29] wing328 commented on #2314
I don't think that's supported by codegen at the moment and would suggest you to use just `string` or `integer` for the time being.

[2016-03-07 09:39] bluemmc commented on #2064
@wing328 Your change is not yet available for me to test it - if I do a git pull I get no changes.
Note also, that JObject was not refered in the generated interface for api endpoints. I expected JObject instead of the dummy ObjectObject object.

[2016-03-07 12:03] jimschubert commented on #2064
@bluemmc can you explain why you'd expect JObject? If you look at your Swagger spec, have you defined JObject as your model?

When I was receiving this error, it was because I wasn't documenting ResponseType as void and Swashbuckle would generate a response model of just `Object`. Swagger generator does the right thing to see that model and use it, but it conflicts with System.Object.

I don't thi

[2016-03-07 13:58] bluemmc commented on #2064
@jimschubert I would expect JObject (or dynamic) in the last parameter of the endpoint in the generated client just like it is on the corresponding controller method serverside (implemented using ASP.NET 5 RC1 + Swatchbuckle/Ahoy):
[code]

[2016-03-07 16:02] BugRaptor commented on #2175
@wing328 I've just pulled the latest master and tried to generate my client. I got the following exception:

[code]
I attach here after my Swagger doc file:
[SwaggerDocsV1.txt](https://github.com/swagger-api/swagger-codegen/files/161603/SwaggerDocsV1.txt)

[2016-03-07 22:01] treeder commented on #1949
I don't have the time at the moment, but as we depend on this more, we'll probably be forced to have time. ;)

[2016-03-07 22:06] treeder opened #2330 "[golang] Default to pointers for non-primitive types"
It generates code like this currently:

[code]

Same with slices and what not.

It would be nice (and probably what most people would want) to have it use pointers, eg:

[code]

[2016-03-08 03:48] wing328 commented on #2304
@zanona @hiveship if you or anyone from the community wants to contribute to the server stub generator on data validation, please reply to let us know.

I can probably show you some good starting points to add the validation.

[2016-03-08 03:49] wing328 commented on #2259
@romk1n are you using the latest master to generate the Swift API client? There's been a lot of enhancements to the Swift API client.

[2016-03-08 06:25] romk1n commented on #2259
@wing328 the current implementation doesn't support when the actual object is enum only if it embedded inside of another object. The current workaround we have been testing by modifying the `model.mustache` file is not working in master (the value is nil) . unfortunately i didn't have time to investigate why master breaks with our current solution.

[2016-03-08 06:45] HipZena opened #2331 "NPE when generating API client"
Using the latest master, I got the following NPE when generating Perl, Java and ObjC
[code]

I removed "default: null" from swagger.json so that there's no error shown in editor.swagger.io but still got the same exception above.

[2016-03-08 07:32] bluemmc commented on #2064
Looking at swatchbuckle's generated swagger.json file for my example above, it appears that Swatchbuckle/Ahoy inserts a "#/definitions/Object" reference if either "dynamic" or JObject is used in the controller. Hence, not sure if there is a but in swagger-codegen (not converting definitions/Object into JObject) or if the bug is in Swatchbuckle/Ahoy (not referencing JObject somehow instead) ?

[2016-03-08 07:50] #2177 closed

[2016-03-08 08:52] AnkitaScienceInc commented on #2315
i used http://editor.swagger.io/#/ where  I pasted JSON to generate a client code. Some days back to was allowing to generate a swift code, now it does not allow.

[2016-03-08 09:24] zanona commented on #2304
Thanks for the help @wing328. I am working on something during the last few days which might be quite helpful for such cases. It's basically a middleware that takes the swagger file and validate the incoming requests through https://github.com/apigee-127/sway which handles this case quite well.

I was interested in knowing if the server side data validation was previously discussed and if perhaps

[2016-03-08 09:37] wing328 commented on #2315
@AnkitaScienceInc can you send me the spec so that I can take a look? if the spec cannot be shared publicly, please you send it to my email account in the Github profile page.

[2016-03-08 09:52] wing328 commented on #2331
@HipZena thanks for reporting the issue. From the exception report, it seems like the issue has to do with responses. We'll look into this more.

[2016-03-08 10:07] demonfiddler commented on #2258
My initial changes are ready to commit and I've rebased them to the latest (2016-03-04) HEAD. I'm awaiting consent from our Legal department before I submit a PR. In the meantime, if anyone would like to review the output (JavaScript and JSDoc), I've zipped it all up to illustrate the codegen options described above. I was unable to attach the ZIP files to this comment, just get the message "Unfor

[2016-03-08 12:10] pupiziel opened #2334 "Errors during trying build by maven"
Hi, I`ve configured maven and jdk and after download swagger-codegen i try to build using
_mvn package_

Result is below:
[INFO] Scanning for projects...
Downloading: https://repo.maven.apache.org/maven2/org/sonatype/oss/oss-parent/5/oss-parent-5.pom
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[WARNING] 'build.plugins.plugin.(groupId:artifactId)' must be unique but fo

[2016-03-08 13:32] wing328 commented on #2334
There seems to be connection issue to repo.maven.apache.org:
[code]
so please check your Internet connection or try again later.

Are you pulling the latest master from github?

[2016-03-08 13:34] Lawgrin opened #2335 "x-www-form-urlencoded provider for posting"
I am trying to do a post using content-type x-www-form-urlencoded. All im getting back is "A message body writer for Java type, class java.lang.String, and MIME media type, application/x-www-form-urlencoded, was not found"

The code gen did not create this call for me i hacked it together using other code and google. But in the end it seems to always want a provider like "com.fasterxml.jackson.jax

[2016-03-08 13:36] wing328 commented on #2335
You should not need to hack it. Please share the full spec and the endpoint in question so that we can help you.

Also please use the latest master to generate the API client or server stub.

[2016-03-08 13:50] wing328 commented on #2330
@treeder thanks for the feedback. I think we need to provide an option here or use vendor extension to determine using pointer for model property or not.

When I created the Go API client generator, I looked to Stripe, Twilio GO API client (and a couple more) and seems like it really depends on use case. For example, in https://github.com/stripe/stripe-go/blob/master/order.go, you will find some p

[2016-03-08 14:24] DenisBiondic commented on #300
Same issue here...

 javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

[2016-03-08 15:08] pupiziel commented on #2334
That logs comes from trying build verision 2.1.5 but the lastest master I` ve also tried and the same result :(

what do you mean by connection issue? sth blocks when it tries to connect with repo maven?

[2016-03-08 16:02] glederrey opened #2336 "Build a JS client library"
Hi,

This isn't really an issue.. But I'm trying to use the JS client library and trying to build a really simple wrapper to use it.. But I really can't.. I've been struggling for days on this..

Does anyone have an example a bit simpler than the one you provide? Or could you show a way to call a function without any parameters? I can share my JSON spec.

Thank you very much

[2016-03-08 16:20] ePaul commented on #2318
These are good arguments to not have a timestamp. (I previously did patch a company-internal plugin to remove the timestamp in generated files meant to be committed, so I can certainly feel with you.)

I can also understand that others prefer to see when a file was generated (just to see how old it is).
So the right thing to have should be an option to turn this on or off. I'm not sure which of th

[2016-03-08 16:51] jqr commented on #2305
I'm not entirely sure the fix is generic enough to be used everywhere, as I only tested our use cases.

If someone else wants to run with this, they should as I won't have the time to address this in a generic fashion for a few weeks at least.

[2016-03-08 18:41] treeder commented on #2330
Interesting. Seems pretty random there, although I'm sure it's not. They may have wanted the ability to check for nil's on certain fields rather than the zero value for them seeing as how they even have pointers on primitives. I might argue that pointers for everything (including primitives) is best for an API so you can check for nil's on every field. Without pointers, you don't know whether the

[2016-03-08 19:01] SurajSundar opened #2337 "Parameter names with "_" in the swagger.json file gets replaced with camelCase parameter names in generated Swift code"
Hi,

We have some of the parameter names for POST requests, defined with "_" (underscore) in the swagger.json file. But the problem is that, when we generate the Swift code using this, the parameter keys for the same that are used to set the HTTP body, gets replaced with camelCase names. Because of this, all the POST requests are failing. Currently we are manually changing the parameter names to t

[2016-03-08 19:02] SurajSundar opened #2338 "Parameter names with "_" in the swagger.json file gets replaced with camelCase parameter names in generated Swift code"
Hi @wing328

We have some of the parameter names for POST requests, defined with "_" (underscore) in the swagger.json file. But the problem is that, when we generate the Swift code using this, the parameter keys for the same that are used to set the HTTP body, gets replaced with camelCase names. Because of this, all the POST requests are failing. Currently we are manually changing the parameter na

[2016-03-08 19:05] #2337 closed

[2016-03-08 19:57] JohnGalt1717 commented on #728
The better solution is that the UIs and processors need to handle this properly instead of endlessly looping.

[2016-03-08 20:23] fehguy commented on #2318
I suggest we make the timestamp off by default, and use a configuration option to enable it.  I agree it makes git commits a mess.

[2016-03-08 21:16] jeffbondlink opened #2339 "Queury Parameters get sent as parmeterMap's and not as part of the query string"
I posted this to the scalatra website first just to see if anyone else is having issues.  The framework does not support 2.X, so am not sure if this behaviour change, but if i don't have to use my implicit conversion and am just doing something silly that would be great.

Greetings. (this may belong to another list, apologies i'm starting here)

I have the following defintion for a scalata method

[2016-03-08 23:44] who opened #2340 "[Android] Generated code does not compile when using enums in inherited models"
Repro:

[code]

Resulting error:
[code]

This is the same issue that was fixed in the Java codegen also - see PR https://github.com/swagger-api/swagger-codegen/pull/1051 and issue https://github.com/swagger-api/swagger-codegen/issues/1050

[2016-03-09 01:25] QianJin2013 commented on #2318
I am glad to here same feeling

[2016-03-09 01:51] wing328 commented on #2338
@SurajSundar are you using the latest master (which should have the issue resolved) to generate the Swift API client?

[2016-03-09 01:56] wing328 commented on #728
@JohnGalt1717 are you referring to swagger-ui?

[2016-03-09 02:09] wing328 commented on #2268
@egimaben given that the properties are dynamic, I think the best way to model it is simply using `type: object`.

[2016-03-09 04:34] SurajSundar commented on #2338
@wing328, i have installed the swagger codegen with homebrew. The version number was 2.1.5

[2016-03-09 05:53] wing328 commented on #2338
@SurajSundar please use the latest master.

[2016-03-09 06:29] sbelan commented on #2205
@wing328 ...hey sorry for the delay..was busy with other issues. Will surely do on coming weekend and let you know if any help requires.

[2016-03-09 07:16] egimaben commented on #2268
@wing328. Does this suggestion affect additionalProperties? I mean like this:
[code]
or do you mean something else. An example to illustrate this would help

[2016-03-09 08:01] fehguy opened #2341 "Java codegen missing ApiModel"
When a `description` is present on a model, there will be a missing import.

[2016-03-09 08:32] SurajSundar commented on #2338
@wing328, could you please tell me how to do this by not using Homebrew?

Thanks,
Suraj

[2016-03-09 08:39] wing328 commented on #2338
It's in the README: https://github.com/swagger-api/swagger-codegen#building

[2016-03-09 08:58] wing328 commented on #2336
@glederrey first of all, please use the latest master to generate the JS API client if you've not done so as there's been a lot of enhancements to the JS API client generator recently.

Here are some test cases: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/test/api/PetApiTest.js

Would these serve as a good starting point?

[2016-03-09 09:00] wing328 commented on #2339
@jeffbondlink I couldn't find `swagger-codegen.sh` in this project. Does that belong to another project that leverages Swagger Codegen?

[2016-03-09 09:01] wing328 commented on #2334
You can try to build another project (e.g. https://github.com/swagger-api/swagger-core) with maven to isolate the issue.

[2016-03-09 09:44] glederrey commented on #2336
@wing328 I used the latest master to generate it.. And I also tried to start from this JS script.. I could make it work.. But I wasn't able to use it in another way for my purpose..

I won't lie to you, I just started JS.. So, I don't understand everything.. But also, I think your example is a bit complex to understand for someone who never used JS..

I will continue when I have the time to do it.

[2016-03-09 09:52] SurajSundar commented on #2338
@wing328,

Thanks for your help. Could generate the proper code from master branch.

Thanks,
Suraj

[2016-03-09 10:07] altmky commented on #2116
@bobrosoft not exactly I think. If you use unwrapRequired, you will get an implicitly unwrapped optional type (! postfix) not a required type (no postfix)? And yes it will crash the app if the value has not been provided (on the contrary of the optional type), but this won't force it at compilation time like a true required field would?

Also my issue was broader than that. All languages might be

[2016-03-09 10:10] wing328 commented on #2338
No problem. Glad to hear that the issue has been resolved.

[2016-03-09 10:10] #2338 closed

[2016-03-09 10:33] glederrey opened #2345 "Spring MVC - mvn package leads to "no main manifest attribute""
Hi,

I have a Spring MVC server generated using Swagger.. And normally, to start it we use `mvn jetty:run`.. But I'd like to create a JAR file that I can launch afterwards.. So, to do that, I use the command `mvn package` and it creates correctly the JAR file in the target folder.

But when I try to start it using the command `java -jar swagger-spring-mvc-server-1.0.0.jar`, I get this error: `no m

[2016-03-09 11:25] ShrutiRuparel commented on #1303
Hi @wing328
Is xml serializer included in v2.1.5 for Ruby API client?

[2016-03-09 13:02] jeffbondlink commented on #2339
@wing328 - we have a local script that just sets variables, runs the swagger jar and moves them into our project, the jar call is as follows.  The rest of the script is made up of mv -f and rm -rf for clean up.  One item i may have left out is that the client is play, hence the akka-scala.

    java -jar ~/.ivy2/cache/io.swagger/swagger-codegen-cli/jars/swagger-codegen-cli-2.1.5.jar \
    generate

[2016-03-09 13:03] JohnGalt1717 commented on #728
Yes, among others. The problem is there code that doesn't cache entries and just link it back up again instead of just following the path blindly. (And their latest code as the same issue)

[2016-03-09 13:27] wing328 commented on #728
Ok. Please open the issue in https://github.com/swagger-api/swagger-ui instead.

[2016-03-09 13:55] JohnGalt1717 commented on #728
Already done. But I was just making a point that this isn't really an issue here, it's a UI and parsing issue on the other side.

[2016-03-09 14:15] wing328 commented on #2305
@jqr please take your time. We've not heard anyone else requesting this feature in Python yet.

[2016-03-09 15:59] wing328 commented on #2336
@glederrey how urgent do you need the example?

We're working on a [task](https://github.com/swagger-api/swagger-codegen/issues/2079) to improve the documentation for the JS API client.

For your reference, here is the sample documentation we've generated for **Perl** Petstore: https://github.com/wing328/swagger-petstore-perl/blob/master/docs/PetApi.md

Later we'll need your feedback from a JS beg

[2016-03-09 16:13] glederrey commented on #2336
@wing328 If you can have something like this for all the languages, it will be just perfect..

And I'll be happy to help you..

[2016-03-09 17:01] glederrey commented on #2345
Hi again,

I'm coming back here because I spend some time searching for building Spring-MVC using Maven..

So, from what I saw, a Web application doesn't have a main class and therefore should be compiled as a WAR file, not a JAR. Is it right??

If yes, then we need to update the pom.xml file.. I can have a look at that.

[2016-03-09 17:08] pupiziel commented on #2334
I tried yesterday on another machine and with another internet connection and it is working. But I need at place when I had problems :( do U have any suggestion how it workaround?

[2016-03-09 19:17] ieb opened #2347 "Kubernetes v1.json generates java client that won't compile. Any type mapping may be missing."
using the latest code from master and doing the following

[code]

results in a few 100 compile errors of the form

[code]
V1ObjectMeta.java:[7,30] is

[code]

io.swagger.client.model.Any.java was not generated.

Is the type "any" missing from the Java client generator, or is there something else I need to do when generating the client ?

I could not find a duplicate open or closed bug and looking

[2016-03-09 19:32] fehguy commented on #2347
Can you please point to the kubernetes json document that you're loading?  Looks like it's local to your machine

[2016-03-10 00:18] wing328 commented on #2334
You need to contact the support at your workplace to address the issue.

[2016-03-10 00:18] #2334 closed

[2016-03-10 05:53] wing328 commented on #2347
@ieb I believe you're using https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json

That's a known issue with Kubernetes: https://github.com/kubernetes/kubernetes/issues/4700.

To workaround the issue, please replace "any" with "object".

Ref: https://github.com/swagger-api/swagger-codegen/issues/997

[2016-03-10 08:24] ieb commented on #2347
@wing328 thank you.
Schema reference was correct. I was using v1.1.8 of Kubernetes.
Workaround (replace "any" with "object") works perfectly with swagger-codegen master and Kubernetes v1.1.8 on both the main api.json and the extensions_v1beta1..json

Thanks for finding the Kubernetes issue, I failed, searching for "Any" generates lots of results.

[2016-03-10 08:24] #2347 closed

[2016-03-10 08:37] wing328 commented on #2347
@ieb no problem. I also suggested in https://github.com/kubernetes/kubernetes/issues/4700 to replace "any" with "object" so that others won't encounter the compilation error moving forward.

[2016-03-10 18:43] delenius opened #2352 "[Java client] --artifact-id option is ignored"
According to [the docs](https://github.com/swagger-api/swagger-codegen#to-generate-a-sample-client-library), the `--artifact-id` option can be used to control the artifact id in the generated pom.xml. This does not work for me (while, e.g. `--api-package` does work).

[2016-03-10 19:00] #2352 closed

[2016-03-10 19:00] delenius commented on #2352
Nevermind, I can't reproduce this anymore.

[2016-03-10 19:28] delenius opened #2353 "[Java client] Maven warnings for generated client"
When I build a generated Java client, I get some warnings. This should be fixed in the `pom.xml` generation.

[code]

[code]

[code]

[2016-03-10 19:53] delenius commented on #2353
PR filed to fix the problems.

[2016-03-10 20:25] robschne commented on #2064
The .Net types object should be lower case.  This also solves other issues with void return types for operations.  Also the proper casing for String should be string. I have updated the mustache files and the issue is fixed.

[2016-03-10 21:52] langdonx opened #2355 "csharp support for KeyValuePair<TKey, TValue>"
In trying to generate csharp from my spec, it created a file called "KeyValuePair[String,String].cs" and made references to it as well, like:

    public List<KeyValuePair[String,String]> RuleExpressions { get; set; }

Is there something I can configure to get around this for now?

[2016-03-10 23:54] krisztiankocsis opened #2356 "RESTEasy LocalDate conversion does not work (tested in Wildfly 10)"
2016-03-11 00:46:06,066 WARN  [org.jboss.weld.Interceptor] (default task-2) WELD-001703: Unable to determine the @Intercepted Bean<?> for [UnbackedAnnotatedField] @Intercepted @Inject private org.jboss.weld.probe.InvocationMonitor.interceptedBean
2016-03-11 00:46:06,088 ERROR [org.jboss.resteasy.resteasy_jaxrs.i18n] (default task-2) RESTEASY002005: Failed executing POST /profiles: org.jboss.restea

[2016-03-11 01:11] wing328 commented on #2355
@langdonx are you using the latest master of swagger-codegen to generate the C# API client?

The latest master should have the issue resolved.

Also can you share the spec on what's exactly `KeyValuePair[String,String]`?

[2016-03-11 03:28] #2353 closed

[2016-03-11 10:08] #2279 closed

[2016-03-11 10:18] wing328 commented on #2279
@ktunkiewicz PR merged into master so please pull the latest.

[2016-03-11 10:24] egimaben opened #2358 "Using Response header in subsequent Requests"
In my manually built Java SDK for a REST service, I have this scenario when a User logs in.

1. I hit the login API

2. Receive response from server, pick out sessionID from response headers.

3. From this point hence forth, every request sends this sessionID in the request header.

How can I make the generated client code replicate this?

[2016-03-11 11:40] ePaul commented on #2276
@wing328 Thanks, this way it is clearer.

[2016-03-11 12:24] wing328 opened #2359 "Add auto-generated documentation"
We've add capabilities to generate test files for API and model files in the Perl code generator: #2320, #2343

If anyone has cycle to add the documentation to the following languages, please reply to let us know:

- [ ] Android
- [ ] C++
- [ ] C#
- [ ] Clojure
- [ ] Dart
- [ ] Flash
- [ ] Go
- [ ] Javascript
- [ ] Java
- [ ] ObjC
- [x] Perl (#2320, #2343)
- [ ] PHP
- [ ] Python
- [ ] Ruby (#2344)

[2016-03-11 12:51] wing328 commented on #2359
Here is an example for Perl Petstore: https://github.com/wing328/swagger-petstore-perl#documentation-for-api-endpoints

[2016-03-11 13:36] weird-dreams commented on #2241
Does ARM work now?

[2016-03-11 14:49] emirozer opened #2361 "Code generation issue on return type void - Java"
Hi,

Hope this is the right repo to report this problem.
In the swagger definition file if i set the return type to be `"void"`
PS: yes its actually not a type, but not specifying a type at all doesn't end up as being `void`
Swagger generates the following example function:

[code]

`Void` is not a keyword in Java, `void` is :) so this fails.

So maybe having no return type defaulting to `void` mi

[2016-03-11 15:25] conet opened #2362 "Swift code generator can't handle an enum field having a reserved word for a name"
Since PR #1993 was merged which fixed issue #1992 the swift code generator can't handle properties named using a reserved word. For example an enum property named type will produce uncompilable code. For example adding this perfectly valid property to any model will generate uncompilable code:
`"type":{"type":"string","enum": ["Type1","Type2"]}`
Will result in:
`Testing failed:
    '_type' used wi

[2016-03-11 15:27] conet commented on #2362
See PR #2363 which adds a test case for this.

[2016-03-11 15:28] BugRaptor commented on #2175
Just some news about my issue and long investigations I've recently made on it with my coleagues:

1) The codegen exception issue has been solved after having modified my Web api service and its
  swagger documentation. (Good point: The "object" type mismatch issue appears now to be solved.)

2) Nevertheless, **the file publishing operation still aborts raising an AggregateException**... ("**One o

[2016-03-11 16:08] langdonx commented on #2355
I was using 2.1.5.

The latest master branch does something different, but I wouldn't say it resolves it.  It created a KeyValuePairStringString class:

    public partial class KeyValuePairStringString :  IEquatable<KeyValuePairStringString>

I created a simple spec that reproduces the issue.  It's attached.

[v1.json.txt](https://github.com/swagger-api/swagger-codegen/files/169516/v1.json.txt)

[2016-03-11 16:34] BugRaptor commented on #2175
Actually, it seams the issue is on RestSharp. The version 105.1.0 seems not to support streaming. I didn't check if the latest RestSharp master does support it, I'll check it on monday.. (There is a pull request from august 2015 seeming to adress this issue but it was not merged becaues of no unit tests,.. )

[2016-03-11 19:14] vinimk25 opened #2364 "Java Client Codegen (2.1.2) - Response content-type xml."
Hi,
 I have generated Jaxrs server side code and Java by Swagger 2.0 codegen (2.1.2) and the example pet_store.json template. I am trying to test Java client code and found that the deserialisation of an object returned by the server works only when it is returns in Json format, If i specify the content-type as xml then it is not working. seems like there is no xml serialization code available. Pl

[2016-03-11 22:22] cbdelavenne commented on #2306
Just had a chance to test it out. It's working properly now. Thanks!

[2016-03-12 02:37] wing328 commented on #2355
If you want to model a `map/dictionary`, please use `additionalProperties`: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties, according to the spec.

[2016-03-12 02:50] langdonx commented on #2355
Ahh, thanks.  It looks like I need to go dig around to see what Swashbuckle's capabilities are with defining `additionalProperties` (with attributes I assume) since that's what generated my spec.

It seems like `swagger-codegen` did exactly as it was told?

[2016-03-12 02:51] wing328 commented on #2355
Swagger-Codegen generates the API client based on the OpenAPI/Swagger spec.

Closing this issue for the time being. If you need further assistance, please open a new issue.

[2016-03-12 02:51] #2355 closed

[2016-03-12 15:08] jqr opened #2367 "[C#] Requests should set User-Agent"
Revision: 62fbcb9e8bec4a40569e51c7f316af85806628ee

Most of the generated clients set a User-Agent to something like `ruby-swagger-1.2.3`. But the Csharp client does not.

The User-Agent string is really handy for server side debugging of client issues as well as alerting customers to new versions or issues with their deployed version.

You can see how we're currently fixing this in the generated

[2016-03-12 15:16] jqr opened #2368 "[C#] Base64Encode does not exist in the current context"
Revision: 62fbcb9e8bec4a40569e51c7f316af85806628ee

I'm getting this error in generated csharp clients:

[code]

The issue appears to be `Base64Encode` being called within a scope not including the method. I've fixed it by adding `ApiClient.` to all the call-sites. See https://github.com/DocRaptor/docraptor-csharp/commit/f2e33e6697f4fd02278e2f691cc684ea08a58dba. I'm not a C# programmer so I'm not

[2016-03-12 15:25] wing328 commented on #2367
@jqr agree with you that it's better to make the user agent configurable. I'll spend some time tomorrow (Sunday) to implement it for C# to begin with if it's not very urgent.

[2016-03-12 15:26] wing328 commented on #2368
@jqr I didn't have a chance to try to repeat it but from what you've reported it's a bug and we should have a test case to cover it for C#. I'll try to fix it as part of the user-agent change tomorrow (Sunday) if it's not too urgent.

[2016-03-12 15:30] jqr commented on #2367
Not urgent at all. Thanks for your attention!

[2016-03-12 16:08] wing328 commented on #2368
@jqr  I could repeat the issue and have filed #2369 to fix it in C# API client.

I'll also need to review other API clients to ensure HTTP basic works as expected.

[2016-03-12 16:48] sbelan commented on #2205
@wing328 ... I am doing this first time... I followed below steps.
1. Forked master
2. Changed java unit

Right now I want to test it before submit the PR. Please let me know, Is there any guideline for testing? Also share me link for PR submit process.

[2016-03-13 02:49] jqr commented on #2318
@QianJin2013 I have the same issue. [Here is my fix](https://github.com/DocRaptor/docraptor-java/blob/7ecc1c2d0fbe95b99b297815cd3887c154fb6249/script/post_generate_language#L5-L7) in the mean time. I run this automatically after regenerating the clients.

[2016-03-13 05:24] #2368 closed

[2016-03-13 05:34] wing328 commented on #2368
FYI. With the new test case for HTTP basic authentication, I've checked Java, Android, Ruby, Perl, PHP, Python, Swift, Objc and all test cases run fine without any compilation error.

For Javascript, all except one test case failed, which requires a manual update to the affected test case.

[2016-03-13 06:13] sbelan commented on #2205
@wing328  ... I did testing using > mvn test. During testing I found one more issue as below because of this debug statements are not coming:
`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.`

To fix this, I have added > slf4j-simple jar.

[2016-03-13 06:21] sbelan commented on #2205
@wing328  ... one more observation from my side when digging out code. As we are using slf4j facade  then we don't need to check System.getProperty("debugParser") for each info statements, instead of this we can use formatting param method > {} provided by sl4fJ. Below is the example:

[http://www.slf4j.org/faq.html#logging_performance](url)

[2016-03-13 11:41] ePaul commented on #2361
Actually, there is the class `java.lang.Void`, which is used here as a type. That class has no instances, so that method can only return `null`. (Though I agree that it should be `void` instead.)

[2016-03-13 15:20] ShrutiRuparel opened #2373 "Ruby : No import(require) statements for models"
Hi,
I just came across model mustache for Ruby does not have `require` or `require_relative` as we have `import `statements for Java in model mustache.
So I modified mustache to include `require ` statements for imports, but I noticed that import mustache variable has Array as imports.
In Ruby, a seperate import statement is not required for Arrays as in Java. How can I skip Array import in mustac

[2016-03-13 19:54] scottball1968 opened #2374 "springmvc codegen not creating @apiresponse annotations with 'response' field when multiple responses"
I have an api that has paths that return multiple possible responses that contain objects.  Unlike issue #1877 these responses all return the same object.  Generation code with springmvc codegen is not creating the @apiresponse annotations with the 'response' field completed for the return object.  It does complete the @apioperation annotation with a response field completed.

Swagger-UI and Sprin

[2016-03-13 21:01] ePaul commented on #2337
@SurajSundar did the problem solve itself (you closed this issue 4 minutes after opening it)? If so, could you add a comment on how this was solved? If not, could you reopen it and add an example spec which demonstrate the problem?

[2016-03-14 02:37] wing328 commented on #2337
That should be resolved by Swift API client generated by latest master of Swagger Codegen (homebrew uses stable release 2.1.5)

[2016-03-14 06:43] QianJin2013 commented on #2318
@jqr thank you. I works!
Finally, without recompile, i chose modifying template file and specify `--template-dir <the dir of resources>` to auto gen cli command line.

src/main/resources/generatedAnnotation.mustache:
[code]
I modified it to ->
[code]

[2016-03-14 06:44] #2318 closed

[2016-03-14 07:55] wing328 commented on #1303
@ShrutiRuparel Ruby API client includes JSON serializer but not XML serializer but we welcome contribution to add the support for XML serializer for Ruby API client.

Please let us know if you've cycle to contribute and I'll show you where to start.

[2016-03-14 10:11] wing328 commented on #2361
@emirozer can you share the spec? If the endpoint does not return anything in the response body, there's no need to set the response (2xx)

[2016-03-14 10:21] emirozer commented on #2361
@ePaul i learn a new thing everyday :) you have point, thanks for the feedback..

@wing328, yes below is an example, PUT operation schema type, i want that method to be `void`, i set to void expecting the generated one would be `void`. (this was the observation i made), but instead it is `java.lang.Void` as Paŭlo pointed out
[code]

[2016-03-14 11:12] wing328 commented on #2361
The method returns a "string" (as defined in response 200). Removing that will set the function return type to void.

[2016-03-14 13:41] BugRaptor commented on #2175
Ok, The "The Request was aborted" exception issue, raised when trying to upload a file as a stream via the C# asynchronous method of the swagger-codegen generated client is definitively located in Restsharp.

I was using the recommended version 105.1.0 but the latest release, tagged 105.2.3, does not solve the issue. A pull request #469 "adding streaming support through FileParameter" was proposed

[2016-03-14 15:46] wing328 commented on #2175
https://github.com/restsharp/RestSharp/pull/769 has been merged into the master of RestSharp but I've not seen a new release yet.

Once the new release is available, we should give that a try.

Would the workaround to use version 105.1.0 be acceptable in your use case?

[2016-03-14 16:42] BugRaptor commented on #2175
Oh ! We didn't even notice this recent merge fixing the content length of the file parameter !

Our mustache workaround for v 105.1.0 is not terminated yet. But I think It would be better to use the next RestSharp nuget package 105.2.4 when released. In the mean time we'll check with a local alpha version issued from the latest master. If it works, we will cancel our workaround developpement and w

[2016-03-14 22:11] jonocodes opened #2377 "Getting generated java client to use LocalDate instead of Date"
My server is Jersey/Java8. I am generating a spec. Then I am generating a Java client from the spec. I would like to use java.time.LocalDate in the client and server, but the generated client it is showing java.util.Date objects. I am running codegen with Java 8. Maybe there is something else I need to enable to get this to work?

More specifically...

I have several different date types in my app

[2016-03-14 22:14] fehguy commented on #2377
Yes, there is an option to enable java8 dates.  Please use `-DdateLibrary=java8`

[2016-03-14 22:37] jonocodes commented on #2377
Fantastic. I was using 2.1.5 so I see this was not implemented yet, so now I have compiled codegen master (sidenote - compilation appears to be using JDK 7, but I presume that does not matter).

The generated client still does not appear to be using DateLocal. Maybe I am using it incorrectly?

java -jar -DdateLibrary=java8 $HOME/applications/swagger-codegen/modules/swagger-codegen-cli/target/swagg

[2016-03-14 22:45] fehguy commented on #2377
Ah, if you're using a configuration file with the `-c ned_java.json`, you should add it in there:

[code]

[2016-03-14 23:09] jonocodes commented on #2377
Thanks. That did the trick.

[2016-03-15 00:37] panih2o commented on #300
@fehguy Could you please tell how to disable certificate verification in swagger codegen?

[2016-03-15 01:44] wing328 commented on #2175
That's the only bug that I'm aware of preventing us upgrading to the latest version of RestSharp.

[2016-03-15 02:44] romk1n opened #2379 "[swift] crashes if server returns invalid response"
Could not cast value of type 'NSNull' (0x111232378) to 'NSDictionary' (0x111231d60).

``` let sourceDictionary = source as! [NSObject:AnyObject]```

[2016-03-15 03:19] fehguy commented on #2379
Can you please give a test case or way to reproduce?  Invalid meaning invalid payload?  Or unexpected return code?

[2016-03-15 03:32] wing328 commented on #300
I'll look into this later today.

[2016-03-15 03:38] wing328 commented on #2373
@ShrutiRuparel can you elaborate on why you need the import statement in the model mustache template?

You can use the Ruby gem (API classes, models) directly:
[code]
Ref: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/docs/PetApi.md#add_pet

(now the Ruby code generator also generates markdown documentation for API and models)

[2016-03-15 03:44] romk1n commented on #2379
sure. i.e.

```response code: 204```
[code]

[2016-03-15 04:22] wing328 commented on #300
I could repeat the issue with the following error:
[code]
I'll take a look at the swagger parser to see how that can be handled in a better way.

For the time being, please download the file to your local drive as a workaround.

[2016-03-15 04:27] wing328 commented on #2367
Fixed by https://github.com/swagger-api/swagger-codegen/pull/2376.

Please pull the latest and let us know if you still find issue setting user agent for C# API client.

[2016-03-15 04:27] #2367 closed

[2016-03-15 04:58] ShrutiRuparel commented on #2373
@wing328 I am implementing XML serializer in Ruby client generated by swagger, that I would eventually will be converting to gem.
I am using [roxml](https://github.com/Empact/roxml) to convert ruby object to xml and vice versa.
As in [roxml example](https://github.com/Empact/roxml/blob/master/examples/library.rb) I have Publisher model in different ruby file, so I need to require it for xml notati

[2016-03-15 07:04] wing328 commented on #2205
RE: 1. Forked master

Are you referring to the master of Swagger Parser (https://github.com/swagger-api/swagger-parser)?

[2016-03-15 07:05] wing328 commented on #2205
RE: http://www.slf4j.org/faq.html#logging_performance

The URL is broken.

[2016-03-15 07:08] wing328 commented on #300
@lgustafson @panih2o @DenisBiondic do you have an URL to swagger spec with invalid cert that I can test?

[2016-03-15 07:44] wing328 commented on #2373
@ShrutiRuparel I would suggest using `roxml` direclty as I don't see a need for another layer serialization between ruby model and xml

Did you get an error when not requiring another model (e.g. publisher) in your model class (e.g. Novel)? If yes, can you show us the error message?

I agree that the import (which is not used at the moment) needs to be cleaned up to remove the `java.util.List`.

[2016-03-15 08:10] ShrutiRuparel commented on #2373
@wing328  I get following error on not requiring `Publisher ` model :
``<class:Novel>': uninitialized constant Publisher (NameError)`
Also same problem persists for **BOOLEAN**  type; it too gets included in `imports`

[2016-03-15 08:49] sbelan commented on #2205
@wing328 ...
1. Yes I am referring the master of swagger parser
2. I am able to access above URL. Other way you can tray like goto [http://www.slf4j.org/](url)
 then ---> documentation --> FAQ --> then Question --> What is the fastest way of (not) logging?

[2016-03-15 10:08] BugRaptor commented on #2175
Ok, we just tried to generate a RestSharp v 150.2.4-alpha prerelease nuget package from the latest master.

**It now works fine !**

Only one Swagger-Codegen client generator update was required in the ApiClient.mustache file (line 106 in the PrepareRequest) to pass a new long parameter to the AddFile method:

[code]

The client's async method uploading a file as Stream now finally succeeds withou

[2016-03-15 10:58] codemonkey2010 opened #2380 "Maven plugin needs support for multiple inputSpec paths"
I have a project that needs to use multiple swagger yaml definitions, one per microservice, but the Maven code gen plugin doesn't appear to support multiple inputSpec, or if it does isn't included in the maven plugin examples.
In my case the output language, library, packages etc are all the same, I just need to be able to specify multiple definition files, so just allowing multiple paths in the i

[2016-03-15 11:09] ePaul commented on #2358
Things like HTTP sessions are not RESTful (because you should have a stateless server).

Of course you can specify the header parameter and response headers in your REST specification, but you then still have to manually pass them from one to the other. I would think that any automatic passing by generated code is out-of-scope of this project.

(Though I'm not having any decision power here.)

[2016-03-15 11:22] ePaul commented on #2380
I'm not sure if this helps in your case, but you could simply add multiple executions of the maven plugin into your pom.

Example based on [README.md](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen-maven-plugin/README.md):

[code]

(You can also put common configuration options into plugin → configuration instead of repeating them for each execution.)

[2016-03-15 11:50] codemonkey2010 commented on #2380
Ah thanks, I should have realised that :/

[2016-03-15 12:38] #2380 closed

[2016-03-15 12:40] wing328 commented on #2175
Thanks for the confirmation. We'll keep this issue open before the official RestSharp 150.2.4 release.

[2016-03-15 13:16] urzds opened #2381 "Clojure: Unexpected namespace names for /api/v1 resource"
I am trying to build a client for the Kubernetes API, which is available at a `/api/v1` resource:
[code]

`swagger-codegen` generates following file:
[code]

The filename (`src/kubernetes/api/apiv.clj`) and namespace name `kubernetes.api.apiv` are unexpected. I would rather expect `swagger-codegen` to generate `src/kubernetes/api/v1.clj` which contains the `kubernetes.api.v1` namespace.

[2016-03-15 13:21] urzds opened #2382 "Question: Clojure: How to override the generated default base-url?"
`swagger-codegen` appears to take the API specification of my service:
[code]

And then generates following code from this:
[code]

Is there any way to override the generated `:base-url`?

The swagger spec was generated by a private instance of a Kubernetes cluster, but I would still like to publish the generated code -- without disclosing the IP address of our private cluster, of course.

[2016-03-15 13:24] urzds opened #2383 "Question: Clojure: How to use client certificate authentication?"
I am generating Clojure code with `swagger-codegen`. How would I call the generated functions with client certificates to make them use these when establishing a connection to the HTTPS API endpoint?

[2016-03-15 17:02] jonocodes commented on #2377
This is working for turning my 'date' objects into 'LocalDate', but now that I am using the Java 8 flag it has changed my 'date-time' objects to use LocalDateTime.

According to the JSON spec, it would seem that date-time should use java.util.Date class since it includes a timezone. Or perhaps it should use java.time.ZonedDateTime?

http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14

[2016-03-15 17:33] fehguy commented on #2358
Yes, what @ePaul said is correct about state being out of scope for this project.  That's your job to manage, and the generated client should make it easy to call the service and pass your state along with it.

[2016-03-15 17:33] #2358 closed

[2016-03-15 22:06] jonocodes opened #2386 "Generated java client does not parse java 8 dates"
I have a client that uses java.time.LocalDate

The problem is when the client reads a local date (ie - '2000-01-01'), it throws an error:

Caused by: com.sun.jersey.api.client.ClientHandlerException: com.fasterxml.jackson.databind.JsonMappingException: Can not instantiate value of type [simple type, class java.time.LocalDate] from String value ('2000-01-01'); no single-String constructor/factory m

[2016-03-15 22:07] jonocodes commented on #2386
I have tried using this both in my client and in the consumer of my client:
https://github.com/FasterXML/jackson-datatype-jdk8

to no avail. I will take a look at the sample here:
https://github.com/fehguy/swagger-codegen/tree/sample/java8/samples/client/petstore/java/default

[2016-03-15 22:27] pcads opened #2387 "Codegen doesn't use "example" for response body"
Not sure if this is by design or bug.
I have example for every object under definitions section. When I use codegen to generate a nodejs server, I am hoping at least the response body for GET should use the example data, but it doesn't.

Do I miss anything? Thanks

[2016-03-16 01:35] panih2o commented on #300
@wing328 Can you rather google how to invalidate a certificate?

[2016-03-16 03:38] egimaben commented on #2358
@ePaul and @fehguy , thanks for adding more light to this. Seems like I was asking too much of swagger-codegen. I will instead focus on doing this manually now.

[2016-03-16 08:32] ezcoding opened #2389 "Generating client from multiple referenced documents"
I've got an **index.yaml**, which looks like this:

[code]

When I try to generate a client, the references are not resolved. The client only contains what I've pasted above. I run the following command to generate the client:

`swagger-codegen generate -i index.yaml -o client -l swift`

How can I circumvent this? If it's not possible, is there a tool, which resolves the references for me so that

[2016-03-16 09:24] wing328 commented on #2268
Please refer to http://stackoverflow.com/questions/35782175/how-to-receive-a-dynamic-response-in-a-swagger-spec/35791870#35791870

[2016-03-16 09:34] wing328 commented on #2387
@pcads I don't think the nodejs server stub generator supports the feature you mentioned and we welcome contribution to make the improvement.

The msutache template for `nodejs` is a good starting point:

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/nodejs

[2016-03-16 09:51] xhh commented on #2382
@urzds The default base URL is generated from the provided swagger spec (see [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L155)), which could be overridden in runtime via the `with-api-context` macro (see [here](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/cloju

[2016-03-16 10:20] glederrey commented on #2345
Hi again,

I was able to build the war file instead of the jar file.. But I still have the same problem `no main manifest attribute, in swagger-spring-mvc-server-1.0`..

Does anyone knows how to fix this problem??

Thanks

[2016-03-16 10:22] jerry1621 commented on #2241
@wing328 Unfortunately I got no reaction from RestSharp, but I was able to compile the RestSharp library for ARM-archtiecture and am now doing some further work and testing, because the generated swagger-code still needs some adaptions (mostly because of RestSharp)

[2016-03-16 10:35] xhh commented on #2383
The generated Clojure client uses clj-http, which seems not support client certificates yet: dakrone/clj-http#252

[2016-03-16 10:55] wing328 commented on #2241
@jerry1621 thanks for doing further work and testing. Can you elaborate on the "adaptions"? Maybe the community can help out on that.

[2016-03-16 11:23] nrekretep opened #2390 "[C#] Why is there a git_push.sh file amongst the generated files?"
Hi,

I pulled the latest version from the master branch and generated a C# client.
Besides the compile scripts there is a file called "git_push.sh".

What is the purpose of this file in context of the generated C# client?

Thanks.

[2016-03-16 12:43] wing328 commented on #2390
@nrekretep please refer to https://github.com/swagger-api/swagger-codegen#github-integration for its usage

[2016-03-16 13:25] wing328 commented on #2364
@vinimk25 the latest stable version is 2.1.5 and next release 2.1.6 is on the way. (2.1.2 was released quite a while ago)

I would suggest you to try the latest master to see if the issue still occurs.

[2016-03-16 13:33] wing328 commented on #2321
Duplicated with #2359

[2016-03-16 13:33] #2321 closed

[2016-03-16 13:38] wing328 commented on #2176
Would the following help?

https://github.com/swagger-api/swagger-codegen#docker

[2016-03-16 13:43] jerry1621 commented on #2241
@wing328 Sure, a few examples:

- In the generated configuation `Environment.OSVersion` and `Assembly.GetExecutingAssembly()...`  are used, but not available in Windows UWP (which is not critical, because they are used for debug-reports)
- In the genrated ApiClient `RestClient.Execute` (for the sync http-request, theres an async one too) is used, which is not available on Windows UWP
- In ApiClien

[2016-03-16 13:45] #1847 closed

[2016-03-16 13:46] #1872 closed

[2016-03-16 13:53] wing328 commented on #2335
Closing this as there's no update from you.

[2016-03-16 13:53] #2335 closed

[2016-03-16 14:07] willemstuursma opened #2392 "[PHP] Invalid classes generated if models start with a digit"
Some of the models start with a digit. E.g. a small part from my definition:

[code]

Apparently this works fine in some languages but for the PHP client it generates invalid classnames since PHP classes are not allowed to start with a digit:

[code]

[2016-03-16 14:19] wing328 commented on #2336
@glederrey Here is what the documentation (markdown) looks like: https://github.com/xhh/swagger-petstore-js

[2016-03-16 14:23] glederrey commented on #2336
@wing328
Hi,

It's looking good.. =) Just a question, this documentation is the one for the JS client library, right??
If you want me to do a review for you and write down some comments, I can do it..

[2016-03-16 14:27] wing328 commented on #2336
Yes, it's the JS API client for Petstore. If you (or anyone from the community) has any feedback on the auto-generated documentation (markdown), please let us know.

[2016-03-16 14:31] glederrey commented on #2336
Okay.. I will take your link and check if I have some comments to do.. Do I write them here?? Just tell me the more convenient way for you..

[2016-03-16 14:56] wing328 commented on #2392
@willemstuursma thanks for reporting the issue. Similar to reserved keyword, we'll prepend "Model" to to the model name that starts with number.

[2016-03-16 15:24] wing328 commented on #2336
Sharing here is fine.

[2016-03-16 15:25] wing328 commented on #2336
or you can send me directly via my personal email address in my Github profile page if you prefer to keep your feedback private.

[2016-03-16 15:51] wing328 commented on #2392
The fix has been merged into master. Please pull the latest and give it a try.

[2016-03-16 15:51] #2392 closed

[2016-03-16 15:57] jonocodes commented on #2386
Trying to implement the above sample in my project to no avail.

java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	a

[2016-03-16 16:33] glederrey commented on #2336
I will send it here.. So that if someone want to confirm or change of my comments, he/she can discuss about it here too..

I'll do that for Friday.

[2016-03-16 16:46] cbornet opened #2395 "[Retrofit] Upgrade to retrofit 2.0.0 and remove retrofit 1 client"
Retrofit 2.0.0 release is out !
So retrofit 1 client should be removed or at least deprecated.

[2016-03-16 17:34] pcads commented on #2387
I am not familiar with mustache. I will take a look and hopefully I could do something. Thanks

[2016-03-16 18:24] urzds commented on #2382
No, the Swagger spec is generated directly from a running Kubernetes Apiserver. I have no influence on the spec generation.

[2016-03-16 20:15] ePaul commented on #2386
In order to judge whether this is a bug on our side or a mistake on your side (and if so, how to solve it), could you post your API specification and the codegen settings you have used (e.g. command line or maven plugin configuration)?

[2016-03-16 20:37] ePaul commented on #2390
Maybe the generated `git_push.sh` should contain the same link?

[2016-03-17 02:48] wing328 commented on #2395
@cbornet thanks for the update.

Has Retrofit team officially sunset Retrofit1.x library or they will still provide security fix or bug fix to Retrofit 1.x library?

My take is to keep the Retrofit 1.x client while developers are upgrading the SDKs to from Retrofit1 to Retrofit2.

[2016-03-17 02:56] wing328 commented on #2390
Good idea. We'll do it later.

[2016-03-17 02:58] #2341 closed

[2016-03-17 03:10] egimaben commented on #2268
@wing328 thanks, this works for  response.  I was trying to model the same for request but with pre-existing properties. I realized that I cannot :
[code]
Because in the generated java client, properties "_id","createdAt" and "updatedAt" won't appear in the request. Instead only properties set in code with `object.put([key],[value])` will. This explains the problem `model properties eliminated by

[2016-03-17 03:11] #2268 closed

[2016-03-17 04:57] xhh commented on #2345
Hi @glederrey, as for as I know, you need to deploy the war file to a web container (web server, application server) to run it. Popular web containers includes Tomcat, WildFly and Glassfish. Jetty is a embeddable web server which is usually be used to run Java web application in development (e.g. via the `mvn jetty:run` command which is a maven plugin to run jetty to host your Java web application

[2016-03-17 05:32] wing328 commented on #283
@MathiasWasAlreadyTaken thanks for the contribution. Would you have time to submit a PR for the Casablanca/cpprest C++ generator? Let me know if you need any help.

[2016-03-17 05:34] wing328 commented on #1357
@tabetan #1740 has been merged into master. Would you please given it another try?

[2016-03-17 05:35] #721 closed

[2016-03-17 05:36] #43 closed

[2016-03-17 08:34] ezcoding commented on #2389
Nevermind. I've fixed it for now with [json-refs](https://github.com/whitlockjc/json-refs/blob/master/docs/CLI.md)

[2016-03-17 08:34] #2389 closed

[2016-03-17 12:07] MathiasWasAlreadyTaken commented on #283
Hi @wing328!
As soon as I have something that have been tested and I know works I will create a pull request. Right now I know that it lack lots of functionality that should not go into the main repo.

/Mathias

[2016-03-17 12:17] wing328 commented on #283
@MathiasWasAlreadyTaken OK. Please take your time and let us know if you need any assistance.

[2016-03-17 12:39] SurajSundar commented on #2338
@wing328,

We are finding the same issue with the decoders now. The decoders seem to be removing the underscores

[2016-03-17 12:53] SurajSundar commented on #2338
@wing328,

The code was generated with the latest master branch. Also we noted that this was working in an older version of the master branch. Seems to have broken in the latest version. Please refer to attached file for details

[SwaggerCodeIssue.pdf](https://github.com/swagger-api/swagger-codegen/files/177863/SwaggerCodeIssue.pdf)

[2016-03-17 13:30] AnkitaScienceInc commented on #2315
@wing328  i cloned a master branch code and was working great. now i'm facing this issue wherein for a variable with "_" (underscore)  character it generates camel case model variable.

This was not an issue some days back. Now this issue is appearing in a master branch code.

And also when i newly clone the master branch and go to generate an code. It give below issue:
Error: Unable to access jar

[2016-03-17 15:29] wing328 commented on #2315
@AnkitaScienceInc after you cloned the master, did you do a `mvn package` to create the jar?

[2016-03-17 15:51] AnkitaScienceInc commented on #2315
@wing328 yes i already did. Earlier it was working with the master branch. Last code which i generated was on 3rd March and it had worked.

[2016-03-17 15:57] wing328 commented on #2315
@AnkitaScienceInc just so we're on the same page. The issue you're referring to is the model's **property name** (not the model name).

Again, can you send me the spec so that I can repeat the issue ?

[2016-03-17 16:01] wing328 commented on #2338
Is this the same as issue https://github.com/swagger-api/swagger-codegen/issues/2315 ?

[2016-03-17 16:02] AnkitaScienceInc commented on #2315
please check Models.swift

// Decoder for [User]
            Decoders.addDecoder(clazz: [User].self) { (source: AnyObject) -> [User] in
                return Decoders.decode(clazz: [User].self, source: source)
            }
			// Decoder for User
            Decoders.addDecoder(clazz: User.self) { (source: AnyObject) -> User in
                let sourceDictionary = source as! [NSObject:AnyObject

[2016-03-17 16:03] AnkitaScienceInc commented on #2315
this code i just generated. In the place of 'authToken' it should have been "auth_token"

[2016-03-17 16:06] wing328 commented on #2315
so it should be like this?
[code]

[2016-03-17 16:07] AnkitaScienceInc commented on #2315
yes..

[2016-03-17 16:11] AnkitaScienceInc commented on #2315
Even in the model class we require a correction to be made.

Please check how its generating now.

//
// User.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation

public class User: JSONEncodable {

    public var id: Int?
    public var fbId: String?
    public var name: String?
    public var authToken: String?
    public var displayNa

[2016-03-17 16:12] wing328 commented on #2315
There's no recent change to https://github.com/swagger-api/swagger-codegen/blame/master/modules/swagger-codegen/src/main/resources/swift/Models.mustache#L136

[2016-03-17 16:13] wing328 commented on #2315
You said it works in an earlier commit. Can you provide the commit hash so that I can perform a test with that?

[2016-03-17 16:20] AnkitaScienceInc commented on #2315
I dont know which hash it was.

[2016-03-17 16:21] SurajSundar commented on #2338
@wing328,

Yup. Its the same.

[2016-03-17 16:22] wing328 commented on #2315
Do you recall when you first cloned it and there was no "underscore" removal issue?

[2016-03-17 16:22] wing328 commented on #2338
Please join the discussion there.

[2016-03-17 16:35] wing328 commented on #2315
cc @Edubits who last changed that line to see if he recalls anything about keeping the original name (e.g. auth_token) of the property.

[2016-03-17 16:36] AnkitaScienceInc commented on #2315
it was on 2nd March 2016

[2016-03-17 16:50] wing328 commented on #2315
I checkout a57bc98f591e8058b3ae236da8b0dd92af04691b on Mar 2nd but I got the same result. After renaming `shipDate` (property in Order of Petstore) to `ship_date`, I got the following:
[code]
(which is not what you guys expected...)

[2016-03-17 17:23] AnkitaScienceInc commented on #2315
I got that date when we 1st used the code generated from master branch; as per our commit for our project. We did not change anything manually as i can see in the commits.

[2016-03-18 00:07] langdonx opened #2404 "C# Typed ApiException (or deserialization of ApiException.Content)"
I'm making use of `BadRequest` in WebAPI to respond with validation errors.  It works great in JavaScript, but encountering it in C# with `swagger-codegen` output, those responses get translated into `ApiException` which only provides a string (generally containing JSON).

[I saw that this was only added last summer](: https://github.com/swagger-api/swagger-codegen/pull/825/files).  Is the intenti

[2016-03-18 00:12] jaz-ah commented on #2315
@wing328 I definitely see something similar - basically for a json object that is this:
                "NumberOfHours": {
                    "type": "number"
                },

it now gets decoded like:

                instance.numberOfHours = Decoders.decodeOptional(clazz: Double.self, source: sourceDictionary["numberOfHours"])

instead of 2.1.5 which generated this:

                instance

[2016-03-18 04:06] wing328 commented on #2315
I've submitted #2405. Please test (the instruction can be found in the PR)

Please test both serialization and deserialization.

[2016-03-18 04:15] wing328 commented on #2315
A better solution is to use [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper). If anyone has cycle to implement it, please reply to the task below.

Ref: https://github.com/swagger-api/swagger-codegen/issues/2194

[2016-03-18 04:52] jonocodes commented on #2386
Ah. Ok I got it working. Thanks. I think I was importing a conflicting version of jackson-datatype-jdk8.

Turns out my client consumers are not up to jdk 8, so I need to support JodaTime, which I should be able to do.

Regardless, I opened this ticket to help promote the support of Java 8. If this flag is specified
"dateLibrary": "java8"

the ApiClient should automatically support the Jdk8Module.

[2016-03-18 05:03] kenjitayama commented on #2133
I think fixing only the mapping for `long` is enough and best.
That's what the Swift doc mentioned before recommends.

The fix : https://github.com/kenjitayama/swagger-codegen/commit/adf63de76ceadf6a796da9ad6b07e763cc74fb78

[2016-03-18 05:12] kenjitayama commented on #2133
I made a PR from it : https://github.com/swagger-api/swagger-codegen/pull/2406 :)

[2016-03-18 06:37] cjolif commented on #2133
Meanwhile I had more thoughts about that on my side, and I must admit I lead the other direction. By not fixing it for int32 you possibly let someone enter 64 bits while you actually only accept 32 bits in your server storage.
I know Swift docs recommends using Int but really what they have in mind is not that data (un)marshalling use case. They probably thing about local variables (like loop inde

[2016-03-18 06:44] wing328 commented on #2133
We can add a CLI option to set the mapping so as to meet different use cases/requirements.

[2016-03-18 07:09] kenjitayama commented on #2133
@cjolif I'm not sure I got your point, but now I have a feeling `Int32` should be used as well.

If `Int` is not fixed to `Int32`, and if a server sends back a 64bit integer by mistake (32bit in api spec), 64 bit client platforms would work fine, but 32 bit client platforms are in trouble.

For example, if a team building an iPhone app doesn't test using 32bit platform, this mistake could go by un

[2016-03-18 07:50] kenjitayama commented on #2133
@wing328

Yes, I am using `--type-mappings long=Int64` for now.

[2016-03-18 08:48] cjolif commented on #2133
Basically the same as  yours ;) So looks like we are inline that Int32 should be used.

[2016-03-18 09:20] #2258 closed

[2016-03-18 10:51] DaFrik opened #2409 ""-" and "_" got removed when generating nodejs server code"
Hi,

Thanks for creating swagger and the server codegen.

while i was trying to generate node js server code from a swagger file, i found that all the "-" and "_" in my swagger file got removed in the generated node js server code, I have to manually change the code to make it work.

May I know is it intended behavior or there is limitation on the sets of characters allowed in a swagger file?

Loo

[2016-03-18 11:07] kasperg commented on #2176
I do not think so. That leads to an image for the webbased tool.

What I am looking for is something like this: `docker run -it swaggerapi/swagger-codegen <command> <args>`. See [this image/Dockerfile](https://hub.docker.com/r/reload/swagger-codegen/~/dockerfile/) for reference.

We will try to maintain [`reload/swagger-codegen`] for command line usage until there is an official image for doing so

[2016-03-18 11:57] wing328 commented on #2409
@DaFrik  Can you please share the spec so that we can reproduce the issue?

[2016-03-18 13:08] scottrw93 opened #2410 "Python client delete method body ignored"
The body for a DELETE method is completely ignored by the Python client as can be seen from the following snippet of code from rest.py, particularity the last three lines:

            if method in ['POST', 'PUT', 'PATCH', 'OPTIONS']:
                if query_params:
                    url += '?' + urlencode(query_params)
                if headers['Content-Type'] == 'application/json':

[2016-03-18 15:31] djskinner commented on #1932
Is there a workaround for this or some documentation? I have created an API using the swagger spec and am now trying to get a mock nodejs server running. However I just end up with the above error. Adding in x-swagger-router-controller: hello_world does not work for me as just get a slightly different error:

[code]

[2016-03-18 16:14] wing328 commented on #1932
@kmd-jamesgauld @djskinner  if you can help confirm using the latest master of swagger-codegen and still encounter the same issue, I can take a look over the weekend.

[2016-03-18 16:31] willemstuursma commented on #2392
Thanks. This looks like a good solution. I am not really sure how I can get the master .jar file? I used the wagger-codegen-cli-2.1.5.jar from the maven repos before.

[2016-03-18 17:50] jaz-ah commented on #2315
tested serialization/deserialization and all appears correct - thanks!

[2016-03-18 21:15] meskall commented on #358
Is this not yet supported?

[2016-03-18 21:49] kkrauth opened #2412 "Provide support for JSR-303 annotations"
Enable ability to turn on JSR-303 bean validation annotations for the generated model.

[2016-03-18 21:53] kkrauth opened #2413 "Provide capability to generate server JAX-RS interfaces and model without project"
Generating an entire server (provider) project goes too far when lots of applications only require a list of JAX-RS interfaces and a model so that they can expose services according to a contract defined in the swagger file. There should be a server template that only generates interfaces and a model.

[2016-03-18 22:06] fehguy commented on #2413
Hi, we can't possibly support every configuration for a server that people want.  So my suggestion is that you create your own templates to do what you want, since that's a supported way to use codegen.

[2016-03-18 22:18] who commented on #2413
@kkrauth

Have you tried the Jaxrs CxF generator?

https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/cxf

You can experiment with this by going to http://editor.swagger.io/#/ , open the "Generate Server" menu, and click "Jaxrs CxF".

It only generates resource interfaces and POJO models. No pom.xml, etc.

[2016-03-18 22:26] who commented on #2413
@kkrauth

Here's how to play around with it from the command line:

[code]

Result of above:
[code]

[2016-03-18 22:42] kkrauth commented on #2413
@who That looks perfect! Glad to see it's coming in the new version, I'll play around with it. Thanks.

[2016-03-18 22:42] #2413 closed

[2016-03-19 02:48] wing328 commented on #358
@meskall depending on language. Which language are you referring to so that I can take a look?

[2016-03-19 02:50] wing328 commented on #2392
@willemstuursma please do the following
[code]

[2016-03-19 02:55] wing328 commented on #2315
Thanks for the tests. PR merged into master.

[2016-03-19 02:55] #2315 closed

[2016-03-19 03:40] KrishnaPG commented on #283
+1 for cpprest generator. C/C++ strongly needs wider REST base and swagger is the best way

[2016-03-19 06:27] wing328 commented on #2412
@kkrauth thanks for the feedback. Would you have cycle to contribute the enhancement?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-19 10:22] wing328 commented on #2410
@scottrw93 it's *not* by design. DELETE operations can have HTTP body.

[2016-03-19 10:34] scottrw93 commented on #2410
Ok thanks, I wasn't sure whether this was desired behaviour as some people consider it bad practice to use HTTP body with delete. So this should also be the case for GET operation?

[2016-03-19 10:41] wing328 commented on #2410
Technically a GET operation can include HTTP body.

Can you share your use case on why the HTTP body is needed in the GET request?

Ref: http://stackoverflow.com/a/983458/677735

[2016-03-19 10:52] wing328 commented on #2110
@jaz-ah do you mind submitting a PR for the solution you proposed?

[2016-03-19 10:54] wing328 commented on #2079
Auto-generated markdown documentation added to JS code generator. We'll keep this task open for the time being while support for other JS documentation style is being worked on by the community.

[2016-03-19 10:54] scottrw93 commented on #2410
I don't actually have one, I was actually reading the same stackoverflow answer and saw that it was supported but should not be used.

[2016-03-19 10:58] wing328 commented on #2248
Sure. I've labelled it with "Need community contribution"

[2016-03-19 11:03] wing328 commented on #1919
@ePaul I like your suggestion. Do you have cycle to contribute the enhancement?

[2016-03-19 11:05] wing328 commented on #1929
@alexist sorry for late reply on this. Do you mind providing a spec to easily reproduce the issue?

[2016-03-19 11:06] wing328 commented on #1554
@nickjennings may I know if @David-Marin-Calleja 's work meet your project requirement?

[2016-03-19 11:08] wing328 commented on #1476
@baverbud may I know if you need help with the pull request?

[2016-03-19 11:12] wing328 commented on #2013
@cbornet would you have cycle to contribute a PR to update that?

[2016-03-19 11:16] wing328 commented on #1985
As @fehguy has pointed out, path with URL query string is invalid according to the OpenAPI specification.

Issue closed.

[2016-03-19 11:16] #1985 closed

[2016-03-19 11:17] #1959 closed

[2016-03-19 11:21] wing328 commented on #2093
@hideya do you need any help with the change for Swift?

[2016-03-19 11:43] wing328 commented on #2069
Closing this as there's no update from you.

[2016-03-19 11:43] #2069 closed

[2016-03-19 11:45] wing328 commented on #2064
I don't think a plug-in should automatically insert "#/definitions/Object" for `type: object` without any property or $ref when generating the spec.

[2016-03-19 11:47] wing328 commented on #2017
@peteryhwong do you need help from us to add CXF client support to the Java client?

[2016-03-19 12:03] wing328 commented on #2410
so is it correct to say Python API client works with your spec without issue and your question is more for design-related discussion?

[2016-03-19 12:22] ePaul commented on #1919
@wing328 I can't promise anything currently, sorry. (I'm on vacations until start of April, and then likely will be buried in project work again.)

[2016-03-19 12:26] wing328 commented on #1919
@ePaul enjoy your vacation! We'll take care of it. No worry.

[2016-03-19 12:50] hideya commented on #2093
@wing328 yeah, I decided to change my job and having a bit of difficulty to spare time on this...  sorry for not being able to be helpful...

[2016-03-19 13:13] sbelan commented on #2205
@wing328  any update.?

[2016-03-19 13:18] wing328 commented on #2093
@hideya no problem. The community will help work on this. All the best with your new role.

[2016-03-19 13:20] wing328 commented on #2205
I would suggest you to open a PR with swagger-parser and ask for more guidance there.

[2016-03-19 13:36] scottrw93 commented on #2410
For GET it works with my spec, I am not passing a http body, for DELETE it does not work as I need to pass a body

[2016-03-19 18:03] scottrw93 opened #2419 "Python client unit tests failing due to deprecated method"
It seems that `test_find_pets_by_tags` method is causing the unit tests to fail for the Python client. Looking at [petstore](http://petstore.swagger.io/#!/pet/findPetsByTags) it has been marked deprecated and should probably be removed from the unit tests.

[2016-03-19 20:16] peteryhwong commented on #2017
@wing328 thanks for asking.

Actually I was thinking if it would not be better if the generation for jersey2, default and cxf would be abstracted to the level of JAX-RS. So that the only difference between them would be the binding at build time. This is so that they would share the same code base.

[2016-03-19 23:56] jaz-ah commented on #2110
@wing328 sure I can push a changein this week.

[2016-03-20 02:29] meskall commented on #358
Java

On Fri, Mar 18, 2016, 7:49 PM wing328 <notifications@github.com> wrote:

[2016-03-20 08:32] wing328 commented on #2373
As a workaround, can you require the package (e.g. `require 'petstore') while we are looking to fix the import mustache tab for Ruby code generator?

[2016-03-20 09:30] wing328 commented on #2302
Using the spec you provided, I found the following:
[code]
I can update DefaultServices.js (last line in the above) to use `train_code` instead of `trainCode` but that's just a comment.

Am I supposed to update the following line in Default.js instead?
[code]
or can you share a bit more details on what the fixed code looks like?

(disclaimer: not an expert in nodejs server)

[2016-03-20 10:59] scottrw93 commented on #2419
Seems to have been temporary, working now

[2016-03-20 10:59] #2419 closed

[2016-03-20 14:08] glederrey commented on #2345
Hi @xhh,
From what I read on Internet (I'm not an expert in Java Spring-MVC), it's possible to build a WAR file with Spring-MVC and run it just using `java -jar`.. But in order to do this, we need a main function.. And we don't have it in the current version of generated Spring-MVC..

So, I tried adding the `spring-boot-server` and it did not work.. I will continue to dig on this problem and propo

[2016-03-20 14:20] glederrey commented on #2336
Hi @wing328,

I don't have a lot of comments to do on the JS doc.. It's really well done!

The only thing that is a bit confusing for me is the first line of code in the **Getting Started** section: `var SwaggerPetstore = require('swagger-petstore');`. This `swagger-petstore` comes after we've done the installation step using `npm`, right?? If you can be a bit more clear on this, it would be perfe

[2016-03-20 15:02] glederrey commented on #2260
I have a simple hack for this problem. It's not perfect. But it can useful for some people while waiting for a better way to do that.

You can use the [api.mustache](https://github.com/swagger-api/swagger-codegen/files/181333/api.txt) file provided. (Warning: it was renamed api.txt to be uploaded in github) It has some small changes on lines 31-33, 42-48 and 69-73.

If we have, for example, an API

[2016-03-21 04:40] DaFrik commented on #2409
@wing328 , thanks for quick reply. I have attached the trim downed swagger that you can reproduce the problem. (github didnt support uploading *.yaml file, thus please rename the .txt file name to .yaml).

From the swagger yaml file you can see that "operationId" is "listUsingGET_5" ,  and "x-swagger-router-controller" is "Hrv-controller".

After using the swagger codegen to generate nodejs code,

[2016-03-21 06:51] bluemmc commented on #2064
So if Swatchbuckle/Ahoy, what does swagger-codegen expect that should cause it to generate a reference to JObject correctly ?

[2016-03-21 08:42] djskinner commented on #1932
For me, using `NODE_ENV=development node index` to run the generated node.js server got things working and allowed the server to serve up stub data.

[2016-03-21 10:08] wing328 commented on #2064
If the response is set to "type: object", then the response type of the method in C# should be [Object](https://msdn.microsoft.com/en-us/library/system.object(v=vs.110).aspx)

For your case, I think the HTTP response data is in JSON format but technically XML is also a valid format to represent the response data and therefore we can map the response to `JObject`

[2016-03-21 10:09] wing328 commented on #1932
@djskinner is it correct to say that it's no longer an issue ?

[2016-03-21 10:19] djskinner commented on #1932
For me, yes.

[2016-03-21 10:24] wing328 commented on #1932
Thanks for the confirmation. We'll incorporate your solution above when updating the README.md for `nodejs`.

[2016-03-21 10:28] wing328 commented on #2387
My apologies. In the `nodejs` template, I did find the use of {{examples}} mustache tag:
[code]
Can you try starting the nodejs server with the following command instead?
[code]

[2016-03-21 10:34] bluemmc commented on #2064
So according to you, I can raise a bug with Swatchbuckle/Ahoy saying that it should insert "#/definitions/JObject" rather then  "#/definitions/Object" for types "Newtonsoft.Json.Linq.JObject" and type "dynamic" ?

[2016-03-21 10:39] djskinner commented on #1932
Yes that would be useful. I also had to install cors so that the mock server could correctly respond to OPTIONS requests etc. Not sure if this also worth mentioning. If you can point me in the right direction I can help with the contribution / discussion on this change

[2016-03-21 10:41] wing328 commented on #1932
@djskinner thanks for offering help to contribute. A good starting point is here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/nodejs/README.mustache

After updating the mustache template, please run `./bin/nodejs-petstore-server.sh` to update the Pestore sample for NodeJS server and then you can verify the updated README.md

[2016-03-21 10:44] wing328 commented on #2064
Am I understanding correctly that you **must** map "Newtonsoft.Json.Linq.JObject" in C# with "object: type" and you won't accept any workaround which does not map JObject with "object: type" directly?

[2016-03-21 10:50] bluemmc commented on #2064
Not sure I understand your question.... What I really want is that if my MVC/C# controller uses Newtonsoft.Json.Linq.JObject or dynamic as a parameter for a method (and this method is exposed by Swatchbuckle/Ahoy), then when I generate an API client using swagger-codegen the generated C# client method should also use Newtonsoft.Json.Linq.JObject or dynamic as a parameter. If I generate a Java clie

[2016-03-21 11:51] Stuart-campbell opened #2422 "Default iOS reachability status"
Hi,

Currently the default reachability status is 'AFNetworkReachabilityStatusNotReachable' this is causing me issues when attempting to check the status as my application starts up.

I suggest that the default status should be 'AFNetworkReachabilityStatusUnknown' as this is true at this point in the application lifecycle.

If this seems like reasonable suggestion happy to create a PR.

Effected l

[2016-03-21 12:21] djskinner opened #2423 "Tags in swagger yaml breaks nodejs generated server"
I have been having a hard time using the generated nodejs server to build a mock API based on my swagger yaml file. It turns out that my use of tags in the yaml causes the generated server to have multiples of the controllers I am expecting.

If I add a single tag as follows:

[code]

Then when making an API request with the generated server I get the following error

[code]

Removing the tag will

[2016-03-21 12:25] djskinner commented on #1932
Thanks. I have done a bit more digging and have narrowed down the issue: https://github.com/swagger-api/swagger-codegen/issues/2423

My use of `NODE_ENV=development` above simply causes swagger-router to serve up mock data when it cannot find a controller.

[2016-03-21 12:28] wing328 commented on #2423
Currently, the Tag is split based on " " (space): https://github.com/meshkorea/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultGenerator.java#L689

If you change "HTTP Request" to "HttpRequest", would that work for you?

[2016-03-21 12:34] djskinner commented on #2423
Yes, this solved it. As long as there are no spaces in tags it will work, even for multiple tags.

Why does the codegen create duplicate controllers for each tab?

[2016-03-21 12:37] wing328 commented on #2423
Sorry I don't have an answer for that as I'm not the one who created the NodeJS server stub generator.

For multiple tags, what's your expected output? Only using the first tag to generate the controller?

[2016-03-21 12:42] djskinner commented on #2423
I guess so, I'm not entirely sure why tags ought to affect the output. I'll do a little more research and get back to you if there is anything of use.

It would definitely be worth validating/warning on the space in a tag issue as it might save someone else some head scratching.

[2016-03-21 13:09] wing328 commented on #2422
@Stuart-campbell thanks for suggestion and offering help to contribute a PR.

I'm not sure if changing default status from "AFNetworkReachabilityStatusNotReachable" to "AFNetworkReachabilityStatusUnknown" would break any existing applications that use the ObjC SDK. What about adding a CLI option to make the status configurable (and default to AFNetworkReachabilityStatusNotReachable)?

(btw, I used

[2016-03-21 13:13] robschne commented on #2064
The problem is with the case of the keyword object in the mustache files that generate c#. It should be lower case not upper case object. I modified the mustache file to a lower case object and the c# code builds and runs correctly. That is a work around for the fact that an Object upper case class is generated on void return types, for me at least. Also string should not be upper case in c#.  Tha

[2016-03-21 13:23] wing328 commented on #2423
Agree with you that a warning about multiple tags due to space would be helpful to `nodejs` users.

[2016-03-21 13:27] wing328 commented on #2064
@bluemmc to meet your requirement, I would imagine some works need to be done in the swagger core to handle specifically "type: object"

[2016-03-21 13:29] wing328 commented on #2064
@robschne if the return type is "void", it should not generate an "Object upper case class". Can you share the spec for that particular endpoint?

[2016-03-21 13:41] jimschubert commented on #2064
@robschne Resharper offers the suggestion to use lower case `object` because it doesn't require `using System;` or linking mscorlib during build. It has nothing to do with correctness.

Your fix would work for the object issue, until you have some other primitive that requires `using System;` and your generated `Object` will again be ambiguous.

@bluemmc (cc @wing328) You can extend Swashbuckle wi

[2016-03-21 13:45] Stuart-campbell commented on #2422
@wing328

My issue is actually a result of the cache force fallback.

https://github.com/swagger-api/swagger-codegen/blob/23696c5eb36d77be670e199d91a6818683ec1191/modules/swagger-codegen/src/main/resources/objc/ApiClient-body.mustache#L598

I need to always force network as knowing the date the data was returned from the server is important. The library forces cache if offlineState=true but there

[2016-03-21 13:52] wing328 commented on #2422
Your suggestion sounds good to me. Let us know if you need help implementing the getter/setter.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-03-21 13:54] wing328 commented on #2064
@robschne FYI. For https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L72, the response type is void in C#: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/csharp/SwaggerClientTest/Lib/SwaggerClient/src/main/csharp/IO/Swagger/Api/PetApi.cs#L626

[2016-03-21 14:00] bluemmc commented on #2064
Thanks for all the comments. As I understand the comments, there is a limitation in swagger core concerning opaque objects like JObject/dynamic/ExpandoObject/DynamicObject that can represents any form of json/xml. If I use opaque in my controller, I can not generate a correct client API.

@jimschubert (cc @wing328) I use JObject/dynamic as a method parameter not a return type, so I can not use Res

[2016-03-21 14:12] robschne commented on #2064
On the return type being void I could have been just trying to figure it out but either way there is some flawed logic on the use of Object in the generated code.

[2016-03-21 14:51] aimobier opened #2424 "Swift How to convert data into Modal"
[code]
false
Optional({
    androidPlayer =     {
        playerList =         (
            default,
            ijk
        );
        version = 4;
    };
    autoCache =     {
        version = 7;
        videoNum = 10;
    };
    campaignInDetail =     {
        actionUrl = "http://www.wandoujia.com/eyepetizer";
        available = 0;
        category = "\U97f3\U4e50";
        imageUrl = "http

[2016-03-21 15:58] nickform commented on #2302
If I generate Node.js server code from the contents of [swagger-codegen-issue2302repro.txt](https://github.com/swagger-api/swagger-codegen/files/157263/swagger-codegen-issue2302repro.txt) using the app at [editor.swagger.io](editor.swagger.io) I get the following on line 10 of nodejs-server\api\swagger.yaml:

`      operationId: "routeTrainsTrain_codeGET"`

whilst on line 9 of nodejs-server\contro

[2016-03-21 16:20] meskall commented on #358
I'm attempting to fix some swagger documentation and use swagger codegen to build my client.

I believe this is the proper way to define it:
    ViewModelResponse:
      properties:
        view_models:
          type: "array"
          items:
            $ref: "#/definitions/ViewModel"
 ViewModel:
      properties:
        type:
          description: "Type Differentiator"
          type: "string

[2016-03-21 16:38] wing328 commented on #2017
@peteryhwong  Is it correct to say that you can use the Java API client with Jersey2 library to talk to your Java CXF-specific Rest server without issue and you're trying to make the API client (jersey2) conforms to Java CXF following some sort of best practice?

cc @fehguy to see if he's any feedback on this particular topic.

[2016-03-21 16:45] fehguy commented on #2017
@peteryhwong there are many ways to solve this--in most cases, people are very happy to choose a compatible client runtime and have a stand-alone client SDK.  They don't care about the abstraction necessarily, and the selection of the base library is all that matters.  I don't personally think that complicating the generator with levels of abstraction helps the end users much at all.

[2016-03-21 16:45] demonfiddler opened #2425 "Maven plugin skipOverwrite documentation is ambiguous"
The skipOverwrite property is documented as follows: "Specifies if the existing files should be overwritten during the generation."

Apart from being grammatically incorrect (use of 'if' incorrect; should be 'whether'), it's unclear whether a value of true would or would not overwrite existing files. It's also unclear whether the check takes account of whether the generated files are up to date ti

[2016-03-21 17:58] keithchong commented on #2152
No, not specifically gson.

[2016-03-21 17:58] pcads commented on #2387
I tried with NODE_ENV=development node index, still doesn't work.

[2016-03-21 18:56] peteryhwong commented on #2017
@fehguy @wing328  Thanks for this.

I agree end users might not care as long as if they do not mind the quality or the correctness of the generated code or ever needing to debug through them...

I am thinking in terms of maintaining different implementation of JAX-RS client templates when we could use the same JAX-RS client template for all these implementations. My thinking is around helping to i

[2016-03-21 20:12] djskinner commented on #2387
Yeah I don't think using the example data is in the node template. I was using it earlier and the controllers serve up dummy data that contains the likes of  `{"userName": "aeiou"}`

[2016-03-22 08:32] jerry1621 commented on #2241
Another Update:
After adjusting those things stated above like this

- new class to replace `Environment.OSVersion` which provides me with needed information on UWP
- Replaced `var response = RestClient.Execute(request);` with `var response = new object();` in `CallApi(...)` (which obviously is not working anymore, but preventing compile-errors (using `CallApiAsync(...)` instead))
- Wrote a method

[2016-03-22 08:37] wing328 commented on #2241
@jerry1621 thanks for sharing the above with us. Do you mind generating the C# SDK for UMP using https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json and then upload it to github to send it directly to me so that we can use reverse engineering to plot back the change to the C# mustache template?

[2016-03-22 09:07] jerry1621 commented on #2241
@wing328 Am I getting you right, that you ask me to generate the C# code for that petstore.json and then do those necessary adaptions to send that changed code it to you?

[2016-03-22 09:19] wing328 commented on #2241
@jerry1621 yes, or you can provide the one you've already customized to me via my email address (wing328 at yahoo.com) so that I can make the comparison to figure out what changes are needed.

[2016-03-22 11:43] Stuart-campbell commented on #2422
Create a PR with the updates.

https://github.com/swagger-api/swagger-codegen/pull/2426

Thanks

[2016-03-22 11:58] wing328 commented on #2422
PR merged. Please pull the latest master. Thanks for the contribution.

[2016-03-22 11:58] #2422 closed

[2016-03-22 14:24] wing328 commented on #1357
@tabetan closing this issue as there's no update from you.

[2016-03-22 14:24] #1357 closed

[2016-03-22 14:26] wing328 commented on #2146
Closing this as "allOf" is tracked via #2161

[2016-03-22 14:32] wing328 commented on #1500
@SalehAly please revise your spec to avoid using multiple, nested `allOf`

[2016-03-22 14:32] #1500 closed

[2016-03-22 14:33] wing328 commented on #1347
@vivin sorry that I missed your message. Yes, please submit a PR if you've time and we'll review accordingly.

[2016-03-22 14:43] wing328 commented on #2425
@demonfiddler thanks for the feedback. It's added via https://github.com/swagger-api/swagger-codegen/pull/859

cc @lugaru1234

(personally I've never used this feature myself expect doing a test during PR review)

[2016-03-22 15:12] wing328 commented on #2241
Submitted https://github.com/swagger-api/swagger-codegen/pull/2427 to support UWP

[2016-03-22 17:07] Nepoxx opened #2428 "Documentation about writing templates"
The README focuses on usage but not much else. I want to write a template for another language, but there's no information on which variables to use in the template. Where would I find this information?

(For instance, what is {{returnType}}? Is that the 200 response type? etc. (I know this particular one btw, just providing an example))

[2016-03-22 17:43] wing328 commented on #2428
@Nepoxx would this help? https://github.com/swagger-api/swagger-codegen/wiki/Mustache-Template-Variables

[2016-03-22 18:08] Nepoxx commented on #2428
@wing328 Absolutely! Sorry I didn't find that page on my own. Thank you!

[2016-03-22 18:08] #2428 closed

[2016-03-22 18:09] wing328 commented on #2428
@Nepoxx np. If you don't mind, can you tell us a bit more about your work/customization on Swagger Codegen? Are you adding a new language code generator?

[2016-03-22 18:48] Nepoxx commented on #2428
@wing328 I don't mind :). I'm modifying https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/CsharpDotNet2 to work with Unity3d natively.

The way it is right now, it is using RestSharp's sync functionality, but we're modifying it so it uses RestSharp for unity3d and uses unity's json serialization.

My understanding is that I should copy https://gi