[2016-12-19 16:53] cbornet commented on #3891
Yes. You can add your own authorization to the authorization list
[code]
It can't be based on baseUrl because some (many) systems have a different endpoint/server to get the token.
The authorizationUrl  and tokenUrl used are taken from securityDefinition field in the swagger spec so you can modify them there.

[2016-12-19 17:12] jeff9finger commented on #4226
What is the status of this issue being merged? I'd really like to go back to using the standard swagger-codegen release for my project again. :-)

[2016-12-19 17:48] ePaul commented on #4430
This is the same issue as #3285. #3288 has a pull request for this, I guess we should have a look at it again?

[2016-12-19 21:49] fultonm commented on #4360
@wing328 I'm ready to submit the pull request. Which swagger-codegen branch should I submit to?

[2016-12-20 00:47] damienpontifex commented on #1487
I was generating an angular-typescript client and just wondering why are we namespacing the TypeScript classes? The TypeScript docs even has a section against [Needless Namespacing](https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html#needless-namespacing).

It also creates very verbose and maybe difficulties when just doing a simple `import {} from './ClientApi'`. @wing328 was

[2016-12-20 07:48] #4420 closed

[2016-12-20 08:33] wing328 commented on #4269
@antihax @wy-z @NfNitLoop PR by @antihax has been merged into `2.3.0`. Please pull the latest to give it a try.

Kudos to contribution by @antihax

[2016-12-20 08:33] #4269 closed

[2016-12-20 09:49] wing328 commented on #4430
@joergi77 we've merged #3288 into master. Please pull the latest master to give it a try.

[2016-12-20 13:02] wing328 commented on #4430
@joergi77 have you run `mvn clean package` to rebuild the JAR?

[2016-12-20 13:49] wing328 commented on #4226
@jeff9finger I'll review by this week and let you know if I've any question.

[2016-12-20 16:59] davide-maestroni commented on #3616
I had the same issue and worked around it by using a custom generator to replace the first line of `modelGeneric.mustache` from:

[code]

to:

[code]

I believe it should be explicitly fixed in 2.2.2 also. I can make a PR if needed.

[2016-12-20 23:45] ezkl commented on #3634
@wing328 Are you aware of anyone working on this? If not, I think I can contribute a patch.

[2016-12-21 02:43] johnluan opened #4441 "Yaml using inheritance get different result from swagger codegen and swagger editor"
##### Description
I am trying to use allOf to do inheritance , but the result is different between swagger codegen and swagger editor. There is no **extends** key word from swagger codegen

The code from http://editor.swagger.io/#/
**
 * Child
 */
@javax.annotation.Generated(value = "class io.swagger.codegen.languages.SpringCodegen", date = "2016-12-21T02:24:11.587Z")

public class Child **extends

[2016-12-21 02:44] antihax commented on #4323
see #4440

[2016-12-21 03:10] wing328 commented on #3634
Not that I'm aware of so please kindly contribute if you've time

Looks good to me 👍

[2016-12-21 04:43] rob2001 commented on #3241
@wing328 Sorry for the huge delay, first work and then school got in the way, and before I knew it it was December and I hadn't looked into the issue! I was tweaking AbstractJavaCodegen, when I realized that I couldn't just change the output to be HashMap<String,HashMap<String,String>> without breaking the code. Are you sure that the current output isn't the desired behavior?
We can't change it to

[2016-12-21 05:09] kevinoid opened #4442 "Body parameter with x-examples causes JsonParseException"
##### Description

Running swagger-codegen on a Swagger definition which includes the `x-examples` property in a Parameter with `in: body` causes code generation to fail with `com.fasterxml.jackson.core.JsonParseException`.

##### Swagger-codegen version

master (ba285759)
The issue is also present in 2.2.1 and 2.1.6.

##### Swagger declaration file content

[code]

##### Steps to reproduce

With

[2016-12-21 06:32] fehguy commented on #4442
can you please open this in the swagger-parser project?

[2016-12-21 06:37] kevinoid commented on #4442
@fehguy sure thing.  Reported as swagger-api/swagger-parser#360.

[2016-12-21 07:13] wing328 commented on #4360
Thanks for the PR (https://github.com/swagger-api/swagger-codegen/pull/4436) from @fultonm

@crazyfrozenpenguin please pull the latest master to give it a try.

[2016-12-21 10:49] aleksei-saharov commented on #4285
@wing328

Do web interface support it?
If yes, where documentation is?

[2016-12-21 14:51] frol commented on #3014
I believe, this is fixed. I don't encounter such issue with the latest Swagger-Codegen.

[2016-12-21 15:00] grootknol opened #4444 "swagger-codegen-maven-plugin overwrites files even when listed on .swagger-codegen-ignore"
##### Description

swagger-codegen-maven-plugin always overwrites all generated files.

I'm generating server code for JAX-RS (`<language>jaxrs</language>`).

I need to change the *Impl files so I removed them from the `/target/generated-sources/swagger/` tree and placed them in my build path. The build works ok, but when if I regenerate the sources the codegen places a new copy in the generated-s

[2016-12-21 15:11] wing328 commented on #3014
@frol thanks for the verification. Issue closed.

@baholladay @gregsherrid please let us know if you still encounter similar issues in the latest master.

[2016-12-21 15:12] wing328 commented on #4285
@aleksei-saharov you may want to build the JAR based on the latest master as there's a new version of swagger parser, which should have addressed the issue you reported.

[2016-12-21 16:32] gdurand opened #4446 "[csharp] Optional enum parameters in method declarations should not be = null"
##### Description

In a Model class constructor, if a parameter of type enum is optional, it is defaulted to null, which is illegal for enums.

##### Swagger-codegen version

master

##### Suggest a Fix

Perhaps default it to 0, but it is a valid enum value so it's no better, unless enums are generated starting with value 1.

[2016-12-21 16:46] karnik opened #4447 "[JAX-RS RESTEasy] Generated JAX-RS RESTEasy stub is missing swagger annotations"
##### Description

After generating the server stub for my jee test application based on RESTEasy with swagger-codegen the generated swagger.json just shows:

[code]

When I checked the generated server stub I noticed that the swagger annotations are missing. This is also the case with the petstore when exporting the stub with the swagger-editor. When generating for the default JAX-RS (Jersey), th

[2016-12-21 22:56] crazyfrozenpenguin commented on #4360
Looks good. Thanks @fultonm.

[2016-12-22 06:36] #3014 closed

[2016-12-22 06:36] #4360 closed

[2016-12-22 07:39] hc-romens commented on #2026
@delenius, Any progress on this issue?

[2016-12-22 10:54] tuolap opened #4449 "Could not resolve dependencies for io.swagger:swagger-parser:jar:1.0.24-SNAPSHOT"
##### Description

Trying to build the `mvn package` and I get the following error:
[code]

##### Swagger-codegen version

Latest from master (https://github.com/swagger-api/swagger-codegen/commit/d7afb22f1fcbb24b03dc3b2dab014877f2345d7a)

##### Steps to reproduce

[code]

##### Related issues

##### Suggest a Fix

`swagger-parser`'s dev version was bumped to `1.0.25-SNAPSHOT` [few days ago](https

[2016-12-22 12:47] einat-bar opened #4451 "Vars that should be required according to the swagger - are generated as not required."
##### Description

Vars that should be required according to the swagger - are generated as not required.
I see that it happens only to vars that are type "object".

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

    "create_ref": {
      "allOf": [
        {
          "$ref": "#/definitions/json_api_version"
        },
        {
          "type": "ob

[2016-12-22 13:15] wing328 commented on #4449
@tuolap thanks for reporting the issue. I've updated Swagger Parser version to 1.0.25-SNAPSHOT: d52f5a3133596aecc2b26a3bfe433379fe8d3f7d

Please pull the latest master to give it another try.

[2016-12-22 13:15] #4449 closed

[2016-12-22 14:16] tuolap commented on #4449
thanks, seems to work!

[2016-12-22 16:07] delenius commented on #2026
@hc-romens, this was closed a long time ago. See above for a workaround (which I use).

[2016-12-22 16:22] sathya-bhat opened #4452 "Regression: Files specified in .swagger-codegen-ignore is being overwritten in 2.2.2 (master). Its was working in 2.2.1"
##### Description
Files specified in '.swagger-codegen-ignore' is being overwritten in the latest master. It was working in 2.2.1.

I had to pull master due to another issue :https://github.com/swagger-api/swagger-codegen/issues/3612

##### Swagger-codegen version
2.2.2 (master). Its a regression from 2.2.1

##### Swagger declaration file content or url

swagger-codegen-ignore file

# Swagger Code

[2016-12-22 16:44] wing328 commented on #4452
@sathya-bhat thanks for reporting the issue. Using latest master, I did a test with `./bin/csharp-petstore.sh` and got the following (last line in the output):
[code]
If you run `.\bin\windows\csharp-petstore.bat`, did you get something similar to prove that the file has not been overwritten due to rule in .swagger-codege-ignore?

(I'm using Mac, not Windows)

[2016-12-22 16:45] wing328 commented on #4444
@grootknol it could be related to https://github.com/swagger-api/swagger-codegen/issues/4452

[2016-12-22 16:51] wing328 commented on #4447
@karnik I agree with you that JAX-RS (Jersey) is more mature than JAX-RS RESTEasy. May I know if you've time to contribute the enhancement (swagger annotations) for JAX-RS RESTEasy?

Ref: Mustache templates for JAX-RS RESTEasy https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/resteasy

[2016-12-22 17:03] sathya-bhat commented on #4452
Thanks for quick response. If you observe, one difference is that in 2.2.2, its io.swagger.codegen.AbstractGenerator vs io.swagger.codegen.AbstractGenerator in 2.2.1.

[2016-12-22 17:12] wing328 commented on #4452
Was `.swagger-codegen-ignore` overwritten as well?

[2016-12-22 18:43] PhilippMundhenk opened #4453 "[Android] FormData is not sent"
##### Description

When generating an Android client, some issues exist with paths that use formData input. It seems that the encoding setting is not correctly generated.

##### Swagger-codegen version

Version on editor.swagger.io

##### Swagger declaration file content or url

Here is an example (shortened to path declaration):
[code]

##### Command line used for generation

Used editor.swagger.

[2016-12-22 20:37] rob2001 opened #4454 "vc"
##### Description

##### Swagger-codegen version

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix

[2016-12-22 20:38] #4454 closed

[2016-12-22 20:39] rob2001 commented on #4454
Sorry, this was open in a different window, accidentally managed to create an empty issue.

[2016-12-22 21:48] karnik commented on #4447
@wing328 Sure. I've tested it manually with the jersey annotations by overwriting the templates. Worked for me.

I've created a pull request. Unfortunatly I've no linux system at the moment so I was not able to fulfill the second bullet on the PR checklist. see #4455

[2016-12-22 22:18] maneeshsahu commented on #4154
Seeing this problem since 12/20. I see that the swagger-parser has been bumped to 1.0.25-SNAPSHOT, but the references to 1.0.24-SNAPSHOT remain.

https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-parser/

[2016-12-22 23:06] dlamblin opened #4456 "[Python] client use of api_key shows little evidence of working as intended"
##### Description

I've generated a python client for an api that uses in-header tokens for authentication.
You can see a write up of the minimalized version of the issue at: http://stackoverflow.com/questions/41291995/the-specifics-of-adding-a-header-to-an-api-call-with-a-swagger-codegen-client-in

##### Swagger-codegen version

The version hosted at editor.swagger.io on 2016-12-20 (to 22)

#####

[2016-12-23 00:44] hc-romens commented on #2026
@delenius somehow, swagger-js is not the solution I want. Cause, the endpoint APIs defined in swagger.json are allowed to be published and public.

I am reading the source code, and try to make a patch for the statis generated js client code to take the host as the module param. So that the host value can be passed in as the command line option.

Anyway, thanks a lot!

[2016-12-23 05:05] sathya-bhat commented on #4452
No, '.swagger-codegen-ignore' file was not overwritten. Also the POM.XML file was also left there. Only the generated code stubs got overwritten.

[2016-12-23 06:50] jeetcontext opened #4459 "enum support for golang in swagger-codegen"
##### Description

I am trying to generate sdk for golang with respect to a json file. It is not able to generate the enum type.

##### Swagger-codegen version
Version 2.2.2-snapshot

##### Swagger declaration file content or url
"catalog_type": {
            "description": "Type of the catalog",
            "enum": [
                "CATALOG_A",
                "CATALOG_B"
            ],

[2016-12-23 10:11] jeetcontext commented on #4459
I checked with petstore as well, It is not generating the enum inside pet object.

[2016-12-23 10:38] pfedotovsky commented on #4285
@wing328, we're not interested in building latest master and we won't do it. Our company has Enterprise Swagger Hub subscription and it's crucial for us to have stable Swagger Web client as our business depends on it.
So please, give us an estimate when we can this fixed in the Web client.

[2016-12-23 17:03] stevecookform3 opened #4460 "[java/spring] codegen for parameters with square brackets not correct (jsonapi)"
##### Description

Parameters with square brackets (as used by jsonapi) e.g. filter[account_number]=12345 are not generated with correct request mapping. In this example the code generated is ```@RequestParam(value = "filterAccountNumber")```. Changing this to ```@RequestParam(value = "filter[account_number]")``` resolves the issue (though I'm not sure if this causes other problems).

##### Swagge

[2016-12-24 04:57] shiqicao commented on #4233
@wing328 seems it doesn't in spring.

[2016-12-26 15:00] grootknol opened #4461 "Can't generate a deployable war when using jaxrs-resteasy"
##### Description

I have a working swagger file with which I can generate a war that deploys OK on jetty and Tomcat 7, but it doesn't work on Wildfly 8.1. As I understand it after a few days of fight, Wildfly doesn't like Jersey 2 used by the `jaxrs` generator.

Now I'm trying to generate the code using `jaxrs-resteasy` but the Maven project created by this generator fails to deploy on any web se

[2016-12-27 03:06] jimschubert commented on #4446
This should already be addressed and fixed by #4145. @gdurand would you want to test my PR against your expectations?

[2016-12-27 03:15] jimschubert commented on #4431
@HarprasadShukla I'm not sure I follow the problem fully.

To clarify, you're generating the `C# 2.0` client. You can hit unauthenticated endpoints without a problem, but authenticated endpoints fail?

How are you attempting to pass the auth when you use the client? Currently, the client supports Basic Auth, API Key, and partially supports OAuth 2.0. Basic Auth should bet set via `Configuration.Us

[2016-12-27 03:18] jimschubert commented on #4425
This sounds like a duplicate of #4431. I'm am little confused what unit testing has to do with authentication, though. Could you clarify this?

[2016-12-27 03:28] jimschubert commented on #4418
The issue with the characters should remedied with the configuration documented [on the wiki](https://github.com/swagger-api/swagger-codegen/wiki/Server-stub-generator-HOWTO#aspnet-core-10):

[code]

I don't have VS 2017 available currently. The error message looks like it's looking in the right place as defined by [the template](https://github.com/swagger-api/swagger-codegen/blob/master/modules/s

[2016-12-27 04:49] jimschubert commented on #4452
From the log messages you posted, it looks like this is getting processed before the swagger-codegen-ignore handles the overwrite in 2.2.1.

Messages from swagger-codegen-ignore preventing overwrite clearly indicate the cause is the ignore file:

[code]

It looks like this was getting stopped by `config.shouldOverwrite` and not the .swagger-codegen-ignore entry in 2.2.1. I haven't been able to tra

[2016-12-27 05:11] dlamblin commented on #3948
Cool kids [parse with Go](https://blog.gopheracademy.com/advent-2014/parsers-lexers/), but please keep using Java. I'm assuming this is soon to be closed?

[2016-12-27 13:06] tomekc opened #4462 "Tests fail with swagger-parser set to 1.0.25-SNAPSHOT"
##### Description

Test fail with current master codebase.

[code]

They all seem to fail for the same reason:

[code]

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Steps to reproduce

mvn clean package

##### Suggest a Fix

Revert swagger-parser to 1.0.24.

As a side note, if I may suggest: including SNAPSHOT dependencies in production code is very unsafe practice, as it may yield to unst

[2016-12-27 14:53] SyedTayyab99 commented on #3788
I have pulled the latest master but when I try to generate Swift3 SDK it gives me the error: "Can't load config class with name Swift3" The list of available configs still only show "swift" and there is no entry for swift3.

[2016-12-27 14:57] aorekhov opened #4463 "[JAVA] Compilation error, missing imports. DateTime"
##### Description

Swagger don't include import declaration in generated client.

I told about this:
import org.joda.time.DateTime;

This line is missing in generated client. And I face with compilation error.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

https://preprod.selfishbeta.com/api/core-api-docs/swagger.json

##### Command line used for generation

[2016-12-27 17:26] lsarni opened #4464 "Child in ComposedModel always null - Inherited objects only have the vars of the parent"
##### Description

I have [this yaml](https://s3.amazonaws.com/genexuss3test/default.yaml ) and if I paste it's content on the Swagger Editor I get the expected objects but if I run this command `java -DdebugModels` I don't get the expected objects. I have tried with both java and c#.
Here is [the json I get for java](https://s3.amazonaws.com/genexuss3test/java.json).

The problem is that all the

[2016-12-27 23:39] gsantner opened #4465 "[Java/Android] date/dateTime are generated as String"
##### Description
I have setup this field in a model:
[code]
Generated Code:
[code]

* I tried multiple date libraries, all generate `String`. (legacy and Joda). Seems not to change anything at all / is ignored.

[code]

Expected is a Date object (depending on lib.)

##### Swagger-codegen version

<https://github.com/swagger-api/swagger-codegen/commit/aed21bba733bcabeeda0e05331a24e32ec1edc4f>

###

[2016-12-28 01:20] shiqicao opened #4466 "[Perl]Avoid update timestamp in README"
[Perl]Avoid update timestamp in README

2.2.2

Remove OR add an option for not update timestamp in README.md

[2016-12-28 09:07] mresetar opened #4467 "Spring model generator - allOf does not work as expected"
I'm trying to generate JSON model using the following spec:

[code]
In Yaml I have taken an example from:
http://swagger.io/specification/#schemaObject

which is:

[code]

I expect that generated Java model will reflect YAML but it does not.
There are ErrorModel and ExtendedErrorModeljava classes but ExtendedErrorModel only has its own property ie "rootCause".

I expect that ExtendedErrorModel ext

[2016-12-28 09:53] SyedTayyab99 opened #4469 "Cannot generate SDK for Swift 3.0"
##### Description
I have pulled the latest master but when I try to generate Swift3 SDK it gives me the error: "Can't load config class with name Swift3" The list of available configs still only show "swift" and there is no entry for swift3.

##### Swagger-codegen version

2.2.1

##### Command line used for generation

java -jar swagger-codegen-cli.jar generate -i https://api.stoplight.io/v1/versi

[2016-12-28 09:58] wing328 commented on #4469
Pls try `swift3` (lower case) instead of `Swift3`

[2016-12-28 09:59] wing328 commented on #4469
You will also need to run `mvn clean package` to build the JAR locally based on the latest master.

[2016-12-28 12:38] #4464 closed

[2016-12-28 15:23] DarrenC commented on #4160
Hi @jfiala ,
Apologies for completing forgetting to report back to you.
I've been using your code and it does indeed work for me now.
Thank you very much for your excellent work and thanks to the community for the reactivity!

@wing328 - should I now close out this issue?

[2016-12-28 23:51] shiqicao commented on #4467
you need to add "discriminator" in ErrorModel

[2016-12-29 09:27] SyedTayyab99 commented on #4469
Hi @wing328 can you please help me with this?

[2016-12-29 10:04] wing328 commented on #4469
@SyedTayyab99 I can bulid locally without issue.
[code]

Can you try `mvn clean package -DskipTests` as a workaround for the time being?

[2016-12-29 11:08] koryshev commented on #4449
Hello!
`swagger-parser`'s dev version was bumped to `1.0.26-SNAPSHOT` so the problem is actual again.

[2016-12-29 12:40] SyedTayyab99 commented on #4469
I have tried building it by skipping tests and have been successful in doing so. However when I try to generate the SDK i get the following error.

io.swagger.parser.Swagger20Parser - reading from https://api.stoplight.io/v1/versions/Qbszws9L923pwWoY2/export/oas.json
Exception in thread "main" java.lang.NoSuchMethodError: io.swagger.models.parameters.AbstractSerializableParameter.setMaximum(Ljava/

[2016-12-29 12:41] SyedTayyab99 commented on #4469
Btw the generation works perfect with last stable package of swagger-codegen

[2016-12-29 15:49] wing328 commented on #4449
@koryshev I've rolled back swagger parser to v1.0.24 via https://github.com/swagger-api/swagger-codegen/commit/fb3d4e61bb5c7f5ea343d8eac2d0842c2ffe685e for the time being while we're fixing the test issues due to changes in the latest swagger parser (1.0.26-SNAPSHOT)

Please pull the latest to give it a try.

[2016-12-29 15:50] fehguy commented on #4449
@wing328 I suggest using v1.0.25 of parser unless there's a reason why to use the next development version.

[2016-12-29 15:51] wing328 commented on #4449
@fehguy I did go with 1.0.25 to start with but got errors too. I'll do another test to double confirm.

[2016-12-29 15:53] wing328 commented on #4469
@SyedTayyab99 I've rolled back swagger parser to 1.0.24 for the time being. For details, please refer to https://github.com/swagger-api/swagger-codegen/issues/4449#issuecomment-269648999

Please pull the latest master to give it a try.

[2016-12-29 15:54] wing328 commented on #4449
@fehguy FYI. Here are the errors using Swagger Parser 1.0.25:
[code]

Swagger parser version used in my test:
[code]

[2016-12-29 16:03] fehguy commented on #4449
OK keep it at 1.0.24 and I'll send a PR to address these issues

[2016-12-29 16:09] wing328 commented on #4449
@fehguy thanks 👍

[2016-12-29 16:15] fehguy opened #4471 "update to swagger-parser-1.0.25, swagger-core-1.5.12"

[2016-12-29 17:10] dlamblin commented on #4456
I'm not very familiar with Github issues, can I label this "Client: Python" and "Issue: Bug"?

[2016-12-29 17:52] sathya-bhat commented on #4452
No change in behavior after specifying absolute path for output.
My .swagger-codegen-ignore file has following entries at the end.
pom.xml
*Impl.java

With swagger 2.2.1
java -jar c:/Temp/test/2.2.1/swagger-codegen-cli.jar generate -l jaxrs -i ./Test.json -o c:/Temp/test/221build

[main] INFO io.swagger.parser.Swagger20Parser - reading from ./Test.json
[main] INFO io.swagger.codegen.DefaultCodegen

[2016-12-30 09:35] alfi86 opened #4474 "[Node.js] uniqueItems keyword not reported in generated swagger.yaml for server"
for swagger editor on-line, using yaml, uniqueItems keyword not reported in generated swagger.yaml for Node.js server. I tried to insert it manually in the generated file and validation works now correctly, verifying the uniqueness of elements in an array.

[2016-12-30 16:28] todrules commented on #4407
Locally, I'm using Object.assign to fix this issue, and it's working so far - at least it's adding my extra request params. Object.assign should be backwards compatible, too, so I thought I'd throw this out there. Here's the solution:

`requestOptions = Object.assign(requestOptions, extraHttpRequestParams);`

[2016-12-30 18:52] luke83 opened #4475 "default for Primitive types instead of wrapper classes"
##### Description

I would like to generate java code (retrofit2 library) with java primitive types instead of java wrapper classes.

Integer -> int
Boolean -> boolean
Float -> float

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

[code]

##### Command line used for generation

[code]

#### Generated code:

Default for boolean primitive is correctly handled wi

[2016-12-31 02:08] #3806 closed

[2016-12-31 22:53] jimschubert commented on #4452
@sathya-bhat I've opened PR #4476 to fix an issue with the path separator in Windows.

Thanks for sharing your `.swagger-codegen-ignore` contents, it helped.  The implementation of the ignore pattern handling is based directly off of git's man page, which says a pattern like `*Impl.java` is treated as a shell glob pattern at the same level as the `.gitignore` (in our case, `.swagger-codegen-ignore

[2016-12-31 22:58] jimschubert commented on #4452
@wing328 This issue is referenced as a regression in `.swagger-codegen-ignore`, but as I mentioned in an earlier comment, the regression would be with `shouldOverwrite` since neither case was triggering the ignore rule. That regression should still be evaluated, or documented as a breaking change if it was intentional.

[2016-12-31 23:00] jimschubert commented on #4444
@grootknol Can you share how you've defined your exclusion rules?

[code]

[2017-01-01 15:37] karakani commented on #3590
Single quoted 'Z' stands for the date is in GMT.
So, 'XXX' would be nice for various environment.

`gsonBuilder.setDateFormat("yyyy-MM-dd'T'HH:mm:ss.SSSXXX");`

https://developer.android.com/reference/java/text/SimpleDateFormat.html

[2017-01-01 18:49] jimschubert commented on #4452
I've run `git bisect start master v2.2.1` with the following evaluation script:

[code]

Then, run `git bisect run /path/to/the/above/script`.

This script runs the `jaxrs` generator against the sample petstore.json definition from the test directory, then checks the file mtime between two runs of the generator. It considers the currently evaluated commit as a regression if the mtime is different

[2017-01-01 20:58] cbornet commented on #3590
If I'm not mistaken, XXX is not available for older versions of the android API.

[2017-01-02 02:20] jimschubert commented on #4452
The changes from that commit weren't actually that bad to look through…

[code]

It looks like that change removed the exclusion of any files ending in `ServiceImpl.java` or `ServiceFactory.java`.

@wing328 I had considered opening a new PR to add this back in. However, I somewhat agree with the removal. It seems a little heavy handed to never allow `*ServiceImpl.java` or `*ServiceFactory.java` to

[2017-01-02 11:42] think01 commented on #3371
I have this same issue. Is there any progress on it? Or maybe a workaround?

[2017-01-02 16:14] jpuzzler commented on #2186
It's a an SSL issue `SSLHandshakeException` with a detailMessage 'java.security.cert.CertificateException: No name matching localhost found`.

The question is : is it necessary to expose api specifications with SSL ? if no it's in my opinion not a bug but a feature !

[2017-01-02 17:01] jpuzzler commented on #2186
here's what I used to disable `hostname verifier`

[code]

[2017-01-03 08:41] #4471 closed

[2017-01-03 08:59] wing328 commented on #4452
Yes, the `swagger-codegen-ignore` file can replace the logic and eventually `swagger-codegen-ignore` should be the only place to determine if a auto-generated file should be overwritten.

I totally agree a tutorial to walk through a use case will better explain the usage of `swagger-codegen-ignore`

[2017-01-03 09:00] wing328 commented on #4452
@sathya-bhat https://github.com/swagger-api/swagger-codegen/pull/4476 has been merged into master. Please pull the latest to give it another try.

[2017-01-03 09:47] gdurand commented on #4446
Your PR fixes the compilation issue.

[2017-01-03 10:32] wing328 commented on #4446
@gdurand thanks for testing the PR, which has been merged into master.

Thanks @jimschubert for the fix.

[2017-01-03 11:07] #4446 closed

[2017-01-03 13:12] wing328 opened #4478 "maximum, minimum are now stored as BigDecimal"
##### Description

`maximum`, `minimum` are now stored as `BigDecimal`

Ref: https://github.com/swagger-api/swagger-core/blob/72495dc1e7a458fd34b20c271b08a56f44d37849/modules/swagger-models/src/main/java/io/swagger/models/properties/AbstractNumericProperty.java

and the value in the mustuche template has changed accordingly. Here is an example showing the differences:
[code]

We need a proper valu

[2017-01-03 13:53] wing328 opened #4479 "Upgrade to MacOS Sierra"
##### Description

After upgrading to MacOS Sierra, swagger codegen takes a long time to build (`mvn clean package`). It's stuck at the following line during build:
[code]
Eventually it will get through. The issue happens for both Java 1.7 and 1.8.

##### Swagger-codegen version

Latest master

##### Suggest a Fix

The issue seems related to OS upgrade so please do not upgrade to MacOS Sierra for

[2017-01-03 15:10] wing328 commented on #4478
@fehguy seems like Swagger Parser is not obtaining the maximum/minimum via the string constructor of BigDecimal and as a result the original value cannot be obtained. Here is the log showing `getMaximum`, `getMinimum`:
[code]

Ref: http://stackoverflow.com/a/13900212/677735

It was working fine before the parser upgrade (which stores the values as `double` instead of `BigDecimal`)

[2017-01-03 15:17] wing328 commented on #4466
@shiqicao one way is to can leverage the option `hideGenerationTimestamp ` to hide the generation timestamp, e.g. https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/go/README.mustache#L12
and here is the command line option: https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb

[2017-01-03 15:25] wing328 commented on #4407
@todrules I also like backward compatible solution so may I know if you've time to submit a PR with your enhancement?

[2017-01-03 15:36] wing328 commented on #4465
@gsantner The [Order object](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/okhttp-gson/src/main/java/io/swagger/client/model/Order.java#L37) defines the variable as `DateTime`
and it's defined as follows in the spec:
https://github.com/swagger-api/swagger-codegen/blob/516c21cd62c1e3c5147cb3c54cacce7e4f96444c/modules/swagger-codegen/src/test/resources/2_0/p

[2017-01-03 15:40] wing328 commented on #4160
@DarrenC yup, let's close this for the time being.

(If your company is using Swagger Codegen, please consider adding your company name to [this list](https://github.com/swagger-api/swagger-codegen#companiesprojects-using-swagger-codegen))

[2017-01-03 15:40] #4160 closed

[2017-01-03 16:26] sathya-bhat commented on #4452
Thanks for the suggestion. I changed
*Impl.java to **/*Impl.java in .swagger-codegen-ignore file and the files are not being overwritten. I tested this with 2.2.2 latest master.

[main] INFO io.swagger.codegen.DefaultGenerator - Skipped generation of c:\Temp\test\.\2221build\src\main\java\io\swagger\api\impl\AboutApiServiceImpl.java due to rule in .swagger-codegen-ignore

We can close this issue.

[2017-01-03 16:26] #4452 closed

[2017-01-03 17:12] gsantner commented on #4465
Thanks, yes, that worked. Closing;

[2017-01-03 17:12] #4465 closed

[2017-01-03 18:23] bshamblen opened #4481 "[html2] produces/consumes headers missing from curl example"
The necessary headers are not included in the curl example if the either the `consumes` or `produces` option is set, either globally or for the specific path.

For example, a POST endpoint that expects a JSON body and returns a JSON response should look like this:

[code]

... but it currently looks like this:

[code]

I already have a fix ready to submit, but want to make sure you agree with this

[2017-01-03 18:57] simo9000 opened #4483 "CSharp Import mapping"
##### Description

I submitted #4405 a little while ago with the main aim to allow a derived generator to add .net project references into the packages.config and .csproj files. I just noticed today that the nancyfx generator has an import mapping feature added in [c734a216](https://github.com/swagger-api/swagger-codegen/commit/c734a216af91d26f1be073603a9322f6730a73d5). This solves the same proble

[2017-01-03 19:26] Vario opened #4484 "Swift 3 Code Generation Wrong Enums"
##### Description

Hello, i try to generate my Server API in Swift 3 with swagger-codegen.
But my enums are created wrong.
The output of a class with an enum property looks like this

`
   open class DTO: JSONEncodable {

    public enum Status: String {
        case RAWSTARTED_ENUMSTARTED = "'{raw=STARTED, enum=Started}'"
        case RAWPAUSED_ENUMPAUSED = "'{raw=PAUSED, enum=Paused}'"
        c

[2017-01-03 19:40] grootknol commented on #4444
@jimschubert Sorry, I already fixed the problem.

I had defined my exclusions as `*Impl.java`, as I understood it would exclude the files whenever they would be. Reading the comment in your post now, I guess I misunderstood and that rule would only exclude files in the same directory as `.swagger-codegen-ignore`.

My "fix" was to use the second exclusion rule in your post: `**/*Impl.java`.

Thank

[2017-01-03 19:40] #4444 closed

[2017-01-03 20:23] karnik commented on #3930
Hi, I've also overwritten the templates to replace the static factory with DI. Since this could break something when CDI (JSF 299) is missing the introduction of a new language might be a good solution?

**jaxrs-resteasy-cdi** for example.

[2017-01-03 21:04] JLLeitschuh commented on #3930
I did something similar with Spring in such a way that it shouldn't break anything:
https://github.com/swagger-api/swagger-codegen/pull/4439

[2017-01-03 21:22] karnik commented on #3930
OK, adding a parameter should also work.

[2017-01-04 00:14] Razzeee opened #4486 "Nancyfx prefix interfaces with I in generated code"
##### Description

Not exactly a problem, but its a convention to prefix interfaces with `I` in c#

##### Swagger-codegen version

Latest master

##### Suggest a Fix

https://github.com/Razzeee/swagger-codegen/tree/nancyfx-interface
Might be considered a breaking changes, as users might be derriving from the interfaces and now need to change the name. So I can understand if you don't want to do th

[2017-01-04 00:19] damienpontifex commented on #4407
@wing328 you mentioned in #4409 about changing that PR to v2.3. Would we do a backwards compatible change in 2.2 and then the spread operator in 2.3? If both achieve the same thing, would a second change in 2.3 that isn't backwards compatible add any value?

Just wondering if we abandon the spread operator change and just adopt `Object.assign` as @todrules  suggested. This would also remove the ch

[2017-01-04 07:15] wing328 commented on #4486
@Razzeee it's definitely reasonable and making the change in `2.3.0` is definitely a good idea as it's a breaking change. If later more people want the interfaces named without the `I`, we can add an option as a fallback.

cc @mstefaniuk (the author of the C# Nancyfx generator)

[2017-01-04 07:17] wing328 commented on #4484
Have you run `mvn clean package` to rebuild the JAR locally based on the latest master?

[2017-01-04 07:19] wing328 commented on #4481
@bshamblen I agree with you that the curl command needs to include the `Content-Type` and/or `Accept` as defined in `consumes`, `produces` via `-H` command line switch in `curl`.

[2017-01-04 07:26] wing328 commented on #4463
@aorekhov I tried to reproduce the issue using the latest master but got the following exception about invalid spec:
[code]

I would suggest you to give it another try by building the JAR locally based on the latest master, which may have already addressed the issue.

[2017-01-04 07:27] wing328 commented on #4469
@SyedTayyab99 if it's still an issue, please reply to let us know.

Closing this issue for the time being.

[2017-01-04 08:02] wing328 commented on #4475
@luke83 thanks for the feedback. It's definitely reasonable to use primitive type instead of wrapper class. In your swagger/openapi spec, have you set a proper default value for the property?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/pojo.mustache#L30

[2017-01-04 08:09] Vario commented on #4484
i fixed this problem by using a jar file from this source
https://oss.sonatype.org/content/repositories/snapshots/io/swagger/swagger-codegen-cli/2.2.2-SNAPSHOT/
there the swift3 parameter is available and the classes are generated correctly

there is only one thing left now. enums used in classes are generated within a class. if 2 classes use a basically identical enum this enum is added in each c

[2017-01-04 08:10] luke83 commented on #4475
@wing328 thanks for your response. I have an integer property (code) and i set its default this way (this is a snippet):

[code]

Reading the spec i found only reference to ``default``, is this *definition* for ``code`` property correct? The definition above give me null instead of 0 for property code, same result if i move code one level up, directly inside ForbiddenResponse (model/pojo) definiti

[2017-01-04 08:14] wing328 commented on #4315
Yes, that's definitely something we want to do in the 2.3.0 (upcoming minor release) so as to reduce the overhead in maintaining duplicated files shared between different generators.

I may be able to put in a fix by borrowing the working version from other jaxrs generator. Will keep you posted by the end of this week.

[2017-01-04 10:28] tomekc commented on #4462
I saw that update to stable 1.0.25 did help. I consider it closed.

[2017-01-04 10:28] #4462 closed

[2017-01-04 13:24] FilipHarald commented on #2197
@rajegit did you end up using Express or Connect? And how did it work out for you?

[2017-01-04 15:05] MateuszLamczyk opened #4491 "[Objc] Problem sending bool value in delete request"
##### Description

The problem occurs in the Obj-C version when I want to send a delete request that contains a boolean value. In the model I have a NSNumber* which can't be converted to false/true value and in the end I get a 400 as a response

##### Swagger-codegen version

Latest master

##### Swagger declaration file content or url
[code]

[2017-01-04 15:15] wing328 commented on #2186
@jpuzzler thanks for sharing your solution.

[2017-01-04 15:24] jfiala commented on #4091
@deveshpujari  @wing328 added beanvalidation support to jaxrs-spec, I also had to fix an issue with outer Enums.

Additional issues with jaxrs-spec:
* the api is generated as class, but IMHO this should be an interface!?
* Jaxrs Response is used instead of the real response data type
* @ApiResponse uses wrong response type (the return type, not the response type of the contract)
* src/gen/java is

[2017-01-04 16:21] wing328 commented on #4456
@dlamblin sorry you don't have right to do that and I've just labeled it for you.

I've replied in SO: http://stackoverflow.com/a/41455961/677735. Please take a look.

[2017-01-04 23:39] fehguy commented on #4154
@maneeshsahu please give it a whirl from master.  This has updates to the latest parser, core, etc.

[2017-01-05 00:19] fehguy commented on #4478
Oddly I believe the parser is using the string values for constructing the BigDecimal values, which allows the BigDecimal string cache to work.  I'll dig into this more.

[2017-01-05 00:48] dlamblin commented on #4456
@wing328 So… the api authors gave two different production end points for the api, and it turns out only one works and they differ by a letter. It was a matter of sticking to the one that works. Therefore, it's not a bug in codegen. It would be helpful to have some troubleshooting documentation and a little bit about how to debug these, but then the project covers so many languages and environment

[2017-01-05 00:48] #4456 closed

[2017-01-05 07:47] wing328 commented on #4479
@taxpon thanks for sharing more. It could be due to something else with my machine then.

[2017-01-05 07:57] wing328 commented on #4456
@dlamblin would the debug switch help: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/python/petstore_api/configuration.py#L80 ?

I agree the documentation can be further improved and we can add a new section to the auto-generated README.md on how to use the debug-related setting in configuration.py.

(If you like Swagger Codegen, please upvote our [ProductHunt

[2017-01-05 09:17] taxpon commented on #4459
@jeetcontext @wing328 I am interested in working on this issue. go-swagger is providing [`Validate`](https://github.com/go-swagger/go-swagger/blob/eba70dd18f6e0d254159853c6d98e514d720fb84/examples/task-tracker/models/task_card.go#L96) method and [validating enum value](https://github.com/go-swagger/go-swagger/blob/eba70dd18f6e0d254159853c6d98e514d720fb84/examples/task-tracker/models/task_card.go#L

[2017-01-05 13:35] antihax opened #4495 "Validation specified in parameters -> schema do not show in mustache tags?"
##### Description

It appears that validation parameters (min/max, length, items, etc) that are put into the `parameters { schema { } }` (such as for body parameters) do not show up in codegen mustache tags and cannot be used to validate input.

Is this intended or missing functionality?

##### Swagger-codegen version

HEAD

##### Swagger declaration file content or url
[code]
Mustache output:
[co

[2017-01-05 15:50] wing328 commented on #4478
@fehguy I use the following to repeat the issue:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml

You can also run `./bin/php-pestore.sh` and then `git diff` on the latest master to look at the differences in the auto-generated PHP API client.

[2017-01-05 16:53] wing328 commented on #4491
@MateuszLamczyk thanks for reporting the issue. If you change the following [line in ObjC client generator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java#L99) to
[code]

Would it fix the problem for you?

[2017-01-05 16:56] #4391 closed

[2017-01-05 16:56] wing328 commented on #4391
@jhartlaub PR by @taxpon has been merged into master. Please pull the latest master to give it a try.

Thanks @taxpon for fixing the issue.

[2017-01-05 17:03] #4481 closed

[2017-01-05 17:13] wing328 commented on #4459
@taxpon do you mean adding `go-swagger` as a dependency to the auto-generated Go API client?

For enum support in Go, I suggest we do it in the 2.3.0 branch in which @antihax has made a lot of enhancements to the Go API client, e.g. proper support of optional parameters.

[2017-01-05 17:24] wing328 opened #4498 "Issue running CI tests for Typescript-Fetch API client"
##### Description

As part of https://github.com/swagger-api/swagger-codegen/pull/4497, I've sync'd master into 2.3.0 but couldn't properly resolve the merge conflicts with the [typescript-fetch test files](https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/typescript-fetch/tests/default/test). Here is the error when running the integration test:

[code]

The typesc

[2017-01-05 17:43] wing328 commented on #4498
@alechill if you've time, I wonder if you can take a look at this as you've previously helped improve the test cases.

My apologies for the additional work due to the failed merge.

[2017-01-05 17:56] antihax commented on #2330
Is there a spec .json that was generating circular references I could play with to see if the new client in #4440 works correctly? This may be resolved.

[2017-01-05 18:15] antihax commented on #4459
Go does not support enum, so i think it is as simple as validating input is one of the enum elements as @jeetcontext suggest. But, to throw a wrench in the gears a bit...

The value of this keyword MUST be an array. This array SHOULD have at least one element. Elements in the array SHOULD be unique.
**Elements in the array MAY be of any type, including null.**

We know Go also does not allow nil d

[2017-01-05 18:39] brianvoss opened #4499 "Add Curl connect timeout configuration option for PHP Client"
##### Description

If a service is down, we want the client to fail quickly so the requesting app doesn't hang.  This means that the Curl timeout setting is not enough.  Would like to add this setting inline with the existing Curl timeout setting in the PHP mustache templates.

##### Swagger-codegen version

dev-master

##### Swagger declaration file content or url
N/A

##### Command line used for

[2017-01-05 19:49] tristansokol opened #4501 "[PHP] headers are not returned from object serialzation"
##### Description

Generated php libraries don't seem to use HTTP header information in object serialization to return the specified headers in the response in any way.
##### Swagger-codegen version

2.2.1 ( last commit: 27f1b6ee988767129ed2696e204f0c80f3d13adc)

##### Swagger declaration file content or url

[code]

##### Command line used for generation

`Swagger-codegen generate -i ~/api.json -

[2017-01-05 21:44] taxpon commented on #4459
@wing328 I intended not to add `go-swagger` as a dependency but to update mustache template in `swagger-codegen` so that it provides methods for validations (like `go-swagger`) for Go.

[2017-01-06 00:27] simo9000 opened #4503 "csharp client test compile failure"
##### Description

The addition of the OuterEnum property to the Enum_Test definition in [petstore-with-fake-endpoints-models-for-testing.yaml](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml) has caused the generated csharp client to fail compilation. This is due to the fact that  OuterE

[2017-01-06 08:18] arnested commented on #4499
Your pull request looks good and useful and can be merged.

Thank you for your contribution to Swagger Codegen!

[2017-01-06 09:20] wy-z commented on #2330
[code]
How about this? @wing328

[2017-01-06 11:06] alechill commented on #4498
@wing328 No probs, I'll take a look at the weekend

[2017-01-06 11:14] #4499 closed

[2017-01-06 11:19] wing328 commented on #4499
@brianvoss PR has been merged into master. Please pull the latest master to give it a try.

Thanks for your contribution.

[2017-01-06 11:21] wing328 commented on #4501
@tristansokol in your swagger/openapi spec, did you define a proper `produces`?

[2017-01-06 11:34] wing328 commented on #4456
@dlamblin the debug switch should print out the header and body of HTTP requests and responses.

Please let us know how it can be further improved to address the problem you encountered.

[2017-01-06 13:36] #4469 closed

[2017-01-06 14:07] jfiala commented on #4091
Issues with jaxrs (=Jersey) with library jersey1
* maximum and minimum are double, but @Min/@Max allows only Integer values, I commented @Min/@Max out in the template beanValidation.mustache for now.
[code]

[2017-01-06 14:21] cbornet commented on #4091
For type number, the annotations should probably be @DecimalMin/@DecimalMax

[2017-01-06 14:49] jfiala commented on #4091
@DecimalMin/@DecimalMax are for BigDecimal only, so IMHO we need to distinguish between integer and decimal datatypes to generate the correct annotations. Is there already a flag for to do this already available in the mustache templates?

[2017-01-06 15:02] cbornet commented on #4091
Type number is mapped to BigDecimal.
If you talk about Float/Double formats, I don't know if @Min/Max or @DecimalXXX can be used. It probably depends on the validation framework used. So you should probably not use `format: float` with min and max in your swagger spec...

[2017-01-06 15:11] cbornet commented on #4091
And I think @DecimalXXX works with Integer, Long, etc ...

[2017-01-06 15:11] SyedTayyab99 commented on #4469
@wing328 Thanks a lot for the support. I am sorry I have been on vacations and couldn't check it then. I have checked it now and it works perfect. Thank you so much for the help.

[2017-01-06 15:47] jfiala commented on #4091
@DecimalMin/DecimalMax is reserved for decimal values:
https://docs.oracle.com/cd/E19798-01/821-1841/gircz/index.html
The value of the field or property must be a decimal value lower than or equal to the number in the value element.

@Min/@Max are for integer values:
The value of the field or property must be an integer value lower than or equal to the number in the value element.

http://swagger.

[2017-01-06 15:53] cbornet commented on #4091
That's not what I read here : http://docs.oracle.com/javaee/6/api/javax/validation/constraints/DecimalMin.html
A quick test should answer that 😄

[2017-01-06 15:55] jfiala commented on #4091
Hm - Using @Min/@Max for integers appears cleaner to me, as @DecimalMin/@DecimalMax use a string for the limit.

[2017-01-06 15:56] cbornet commented on #4091
@jfiala agreed

[2017-01-06 15:59] cbornet commented on #4091
You probably also want @Min/@Max for isLong

[2017-01-06 16:04] jfiala commented on #4091
common name integer/long = type integer => isInteger should include both format32 (integer) and format64 (long) (see http://swagger.io/specification/).

[2017-01-06 16:04] jfiala commented on #4091
changed in jaxrs/jaxrs-spec and jaxrs-resteasy

[2017-01-06 16:07] wing328 commented on #4469
@SyedTayyab99 no problem. Let us know if you've other feedback on Swagger Codegen.

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, pleae upvote if you found Swagger Codegen useful)

[2017-01-06 16:32] cbornet commented on #4091
Looking at the code, it doesn't seem to be the case...

[2017-01-06 16:56] jfiala opened #4509 "[Jaxrs-spec] Improvements for Jaxrs-spec"
##### Description

* the api is generated as class, but IMHO this should be an interface!?
* javax.ws.rs.core.Response is used instead of the real response data type
* @ApiResponse uses wrong response type (the return type, not the response type of the contract)
* src/gen/java is not added to the build path
* "Attachment" is used for attachments, but no import is added for this (I think org.apache

[2017-01-06 16:59] jfiala commented on #4091
you're right, should I add support for isLong or we add isTypeInteger (which could then correctly include integer + long)?

[2017-01-06 17:03] jfiala commented on #4327
I also came across this with #4091, currently the generated sources cause compilation errors as org.apache.cxf.jaxrs.ext.multipart.Attachment is not on the build path.

[2017-01-06 17:03] tristansokol commented on #4501
@wing328
I have `application/json`, Is there an addition I should make to to get info from the headers?
My full (draft) spec is here: https://github.com/square/connect-api-specification/blob/tristans-holiday-hack/api.json

[2017-01-06 17:22] wing328 commented on #4501
@tristansokol then the PHP API client should be able to deserialize the JSON string back into a model.

Did you mean you want to extract certain information from the HTTP response headers? There's an `WithHttpInfo` method for each endpoint operation to obtain not only the response but also the status code and HTTP headers.

An example of the HTTP response (header + body) and what you actually expe

[2017-01-06 17:46] jfiala commented on #4091
So far added beanvalidation annotation support to all Java languages listed at the top.
Pls advise regarding isInteger/isLong vs isTypeInteger then I can backport this to cxf/java as well.

[2017-01-06 17:51] toomuchpete opened #4511 "[PHP] API classes override default config unnecessarily"
##### Description

PHP Base API classes call `setPath()` on the ApiServer by default. Here's a sample generated constructor:

[code]

Calling `setHost()` is unnecessary because ApiClient() constructor configures itself based on the default. A related issue is that the code assumes (and hardcodes) `localhost` as the host when one isn't provided.

This combination makes wrapping the Swagger-generate

[2017-01-06 17:57] jfiala opened #4512 "[Jaxrs-Resteasy] Improvements for Jaxrs-Resteasy"
##### Description
* the generated code stubs are way to complicated, in fact only the following files are needed for Resteasy (verified with Jboss EAP 7):
   * Api-Interface (with all JaxRS-annotations)
   * Implementation class implementing the interface
   * Class to activate Jax-RS: @ApplicationPath / extends RestApplication
   * optional: activate Swagger contract generator (ApiListingResource

[2017-01-06 18:04] jfiala opened #4513 "[JaxRsCxfServer] Improvements for generated Unittests and Attachments"
##### Description
From #4088:

1.) currently in the tests the api invocations are commented out and thus cannot be compiled.
Wouldn't it be good to activate them and run the CI maven build with -DskipTests?

2.) Handling CXF Attachments is not totally intuitive, do you think it makes sense to add an assistance snippet here like this at api_test.mustache (for #isFile):

[code]

or does that go too

[2017-01-06 18:04] jfiala commented on #4088
This issue has already been fully implemented, moved open questions to #4513.

[2017-01-06 18:04] #4088 closed

[2017-01-06 18:10] tristansokol commented on #4501
Primarily it is unclear how the headers aspect of http://swagger.io/specification/#responseObject works in regard to SDK generation. We have an api that uses header based pagination, so a json array is returned, and if there are more, you'll also get a `Link` header in the response, like `Link:<https://connect.squareup.com/v1/LOCATION_ID/payments?batch_token=BATCH_TOKEN>;rel='next'`. Is the only w

[2017-01-06 18:13] jfiala opened #4514 "[Maven-Plugin] Specify location of swagger-codegen-ignore"
##### Description

For the Swagger swagger-codegen-maven-plugin it would be nice to be able to specify the location of the .swagger-codegen-ignore file, as the generated files always go to "target/..." and thus the .swagger-codegen-ignore file cannot be used at the target location.

Right now, the generated files can only be influenced using CLI flags as available.

##### Swagger-codegen version

[2017-01-06 18:16] jfiala opened #4515 "[Maven-Plugin] Allow usage of Json config file instead of configOptions"
##### Description

Currently the maven task has to be configured using configOptions.
It would be nice to be able to reuse an existing JSON configFile.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Suggest a Fix
add support for a configFile location for swagger-codegen-maven-plugin

[2017-01-06 18:46] rob2001 commented on #3241
@wing328 not sure if you saw the previous message, I am still unsure as to the purpose of the issue.

[2017-01-06 19:15] arr28 commented on #4022
It isn't just the OpenAPI spec. that allows vendor extensions here.  The Swagger spec. does too.

@wing328: If you can give me some pointers, I expect to have time to look at this early next week.

[2017-01-06 19:31] philip opened #4516 "[PHP] Add minimum PHP version required to composer.json"
##### Description

Today, the generated README.md lists "PHP 5.4.0 and later" as a requirement, whereas the generated composer.json does not contain required PHP version information.

##### Swagger-codegen version

2.2.1

##### Suggest a Fix

Also update composer.json, so today that means:

`"require": {`
`    "php": ">=5.4",`
`    ...`

[2017-01-06 19:32] sreeshas commented on #4022
Hey @arr28 Do you mind if i take this bug? I think i have the solution. Ill publish it in a day or two.

[2017-01-06 19:37] arr28 commented on #4022
@sreeshas: Sure - I'll need it early next week, but it sounds like you're expecting to have it done by then, in which case, I'm very happy for you to take it.  If you find that you aren't able to sort it out in that timescale, any pointers would be gratefully received.

[2017-01-06 21:25] sreeshas commented on #4022
@arr28 @wing328  PR #4517 has the fix.

[2017-01-06 21:32] eblis commented on #4233
I have created pull request #4508 which provides options to keep underscores and also allow unicode characters in identifier names.

[2017-01-06 21:50] philip opened #4518 "[PHP] lib/Api constructors ignore configuration and set host to localhost"
##### Description

The constructors within `lib/Api/*.php` ignore the host definition in `lib/Configuration.php`, whether it's set within `lib/Configuration.php` itself or by using `Swagger\Client\Configuration::getDefaultConfiguration()->setHost(https://example.org/);` in the code.

Either way, the likes of `$foo = new Swagger\Client\Api\Bar()` always resets host to `https://localhost`.

##### Sw

[2017-01-06 22:08] philip commented on #4518
Forgot to mention, an approach people must do now is pass in an API client, so something like:

[code]

That is a required step if you're not using `https://localhost`. I don't think it should be as the above code isn't much different if you're wanting to rely on `lib/Configuration.php` instead of passing in configuration options directly to ApiClient(). The above will use `lib/Configuration.php`

[2017-01-07 04:45] antihax commented on #4265
#4440 resolves this issue also.

[2017-01-07 13:18] JeffML commented on #3515
Since I am writing against legacy code with its own API, I have my service template written to call an adapter;  the idea is that both Controller and Service get overwritten, and the Service template checks for its Adapter... if not found, it will return a stub (mock).

In the service template, I pushed all the stub data to the bottom of the file and reference each stub by method name (e.g., petGE

[2017-01-07 14:05] cbornet commented on #4234
Fixed by #4473

[2017-01-07 14:08] wing328 commented on #4234
@junewoo-suk please pull the latest master to give it a try.

Thanks @kevinoid for the fix.

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, pleae upvote when you've time)

[2017-01-07 14:08] #4234 closed

[2017-01-07 14:28] wing328 commented on #4516
@philip your suggestion sounds good to me.

May I know if you've time to file a PR for the enhancement?

[2017-01-07 14:30] wing328 commented on #4518
@philip thanks for reporting the issue. In your spec, did you set a proper `host`? e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.yaml#L12

Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object

[2017-01-07 14:40] wing328 commented on #2557
PR merged. Issue closed.

[2017-01-07 14:40] #2557 closed

[2017-01-07 14:41] wing328 commented on #2483
@cjolif @HSchultjan the fix by @tomekc has been merged into master. Please pull the latest to give it a try.

[2017-01-07 14:41] #2483 closed

[2017-01-07 17:09] philip commented on #4516
@wing328 Yep, I'll submit a PR. But I wonder, how is this minimum PHP version determined? Also, is it a static value or is it defined in a single location then referred to elsewhere like a variable?

I'll dig into the code later this week to submit a PR, which might reveal the answer to these questions.

[2017-01-07 17:16] philip commented on #4518
@wing328 Ah, good question. We're encouraged to not define the host (here at work) as host depends on the user's setup / location. In other words, we have multiple hosts.

I'm not sure how common this is but do appreciate the information, as the current behavior makes more sense to me now. But, I still think it should be improved where changing the default host could be easier (one location) and h

[2017-01-07 20:04] philip commented on #4516
Looks like my request is bogus, as I confused the generated composer.json with the composer entry within README.md. The 5.4+ requirement is already in composer.mustache. Sorry for the unnecessary noise :(

[2017-01-07 20:04] #4516 closed

[2017-01-07 21:54] scheert2 commented on #4479
@wing328 I had the same issue. This is obviously not ideal but after realizing this was a test it was hanging on, I looked for a skip tests flag and found this worked for me:
`mvn clean package -DskipTests`

[2017-01-07 23:32] fehguy commented on #4478
Thanks.  I've added parser tests to verify it's doing the right thing, and I can reproduce what you're seeing.  I'll report back.

[2017-01-08 01:07] fehguy commented on #4478
OK found the issue, fixed in 1.0.26-SNAPSHOT.  Tests are here:

https://github.com/swagger-api/swagger-parser/commit/f833882f33a71b8856f6fc1bc70c8ab0aed8578e

[2017-01-08 01:37] #4478 closed

[2017-01-08 08:05] wing328 commented on #4479
@scheert2 I tried with that too but no luck in my case.

[2017-01-08 08:11] wing328 commented on #4518
@philip given that the host setting depends on user location, what about changing the default configuration instead during runtime?

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Configuration.php#L475-L499

[2017-01-08 08:26] wing328 commented on #4501
@tristansokol The headers of the HTTP response are used only when deserializing `file` response: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/ObjectSerializer.php#L257-L272

Currently, the `WithHttpInfo` is the only way to retrieve the HTTP response headers. If it's insufficient, please share more with us on why it's the case and how

[2017-01-08 10:16] wing328 commented on #4478
@fehguy thanks. I could no longer repeat the issue with the latest master.

[2017-01-08 14:08] scheert2 commented on #4479
@wing328 that's odd, it didn't hang in the same spot did it? If it's actually skipping tests it should breeze right over that bit.

[2017-01-08 18:25] philip commented on #4518
@wing328 I believe that's what this issue is about, isn't it? Today it can't be set at runtime that easily as setDefaultConfiguration's setHost() is ignored. The suggested fix makes it not ignored.

[2017-01-08 21:13] fzakaria commented on #1487
@damienpontifex i'm not even sure how to import the generated client.
The namespace that it wraps with is not exported, so its not a module AFAIK

[2017-01-08 21:29] liqidator opened #4522 "[JAVA] Incorrect api method signature is generated when using java 8 dates and modelNameSuffix configuration parameter."
##### Description

[JAVA] When I use maven codegen swagger plugin with java8 date types and modelNameSuffix parameter, it will generate incompilable code .... instead of date type OffsetDateTime there will be OffsetDateTime + modelNameSuffix

##### Swagger-codegen version

Maven plugin 2.2.1

##### Swagger declaration file content or url

/requests:
    get:
      summary: List all requests

[2017-01-08 21:36] liqidator commented on #3678
+1

[2017-01-08 22:45] ssteinerx opened #4523 "Forward references in include files no longer handled properly"
In swagger-codegen: stable 2.2.1, a forward reference to a definition within a `$ref:`'d file worked properly, in current versions (master and 2.2.3) it does not.

##### Description
In the following, `ping.yaml` is included in the main `swagger.yaml`.

It refers to the schema `PingStat`, which is in the `definitions:` of the main `swagger.yaml`.

The actual schema for `PingStat` is in an external

[2017-01-08 23:07] fzakaria opened #4524 "[Typescript Angular] Cannot import as module"
##### Description

The way in which the generated code is setup, makes it impossible to import the client if you are using a module loader.

Ideally i'd like to do:

[code]

The problem however is that the generated models & API are placed within a namespace that is not exported, so cannot be imported.

##### Swagger-codegen version

Test on master as of  January 8th 2017.
Commit 81b5b78fc2ac27070

[2017-01-09 00:26] damienpontifex commented on #1487
@fzakaria I have run into the same issue. I posted my comment to gather information about providing a potential change/PR to either:

1. Export the namespace or
2. Remove the namespacing and export the class as per usual

I agree with the 'Needless Namespacing' article and generally just export my classes so would be in favour of that route.

[2017-01-09 01:10] tristansokol commented on #4501
I see, I wasn't aware that the `WithHttpInfo` functions were really meant to be accessed directly. Thanks for your help!

[2017-01-09 01:10] #4501 closed

[2017-01-09 01:15] fzakaria commented on #1487
@damienpontifex i tried to do a PR but couldn't figure out the mustache for getting it to work.
(I needed the generic type for ReturnTypes when they are in a container like Array to import them)
I am +1 on removing the namespace and just exporting the class/interface.

[2017-01-09 01:21] damienpontifex commented on #1487
The angular1 client needs work in the Java generator code to be able to do that. See comparison of [TypeScriptAngular2ClientCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/TypeScriptAngular2ClientCodegen.java) vs [TypeScriptAngularClientCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/maste

[2017-01-09 02:50] patrickheinzelmann commented on #1073
I think, it should be a simple 2-step fix.

1. Extend the model class Swagger of swagger-core with a new method to return the Tag for a tag name.
2. In the de DefaultGenerator of swagger-codegen, you have to extend the method "processOperations" to add a new placeholder (for example: "classDescription") which contains the description of the tag.

If step 1 isn't possible, you can also loop through

[2017-01-09 03:05] fzakaria commented on #1487
Let me know and i can test out a PR and give feedback.
I can also review the PR

Farid Zakaria

On Sun, Jan 8, 2017 at 5:21 PM, Damien Pontifex <notifications@github.com>
wrote:

[2017-01-09 03:29] wy-z commented on #2330
[code]
How about this? @wing328

[2017-01-09 03:43] wing328 commented on #1073
@patrickheinzelmann thanks for offering help to add this feature.

I suggest we go with step 1 first and likely swagger core will welcome such enhancement as tag description should also be represented/stored by swagger core.

[2017-01-09 03:46] wing328 commented on #4407
@damienpontifex both your approach and the approach suggested by @todrules are ok with me. Personally I prefer 1 solution without introducing breaking changes (which require TS version upgrade) if possible.

[2017-01-09 03:59] wing328 commented on #4518
@philip may I know if you've time to submit a PR with test cases so that we can review the fix?

Test cases: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/php/SwaggerClient-php/tests

[2017-01-09 04:03] wing328 commented on #4509
I believe this will be a breaking change so better target 2.3.0 for this enhancement.

[2017-01-09 04:04] wing328 commented on #4511
@toomuchpete thanks for reporting the issue and your suggested fix looks good to me.

Please kindly file a PR so that we can review the change.

[2017-01-09 04:10] wing328 commented on #4479
@scheert2 I rebooted my Mac (haven't rebooted it for a while...) and now `mvn clean package -DskipTests` takes less than a minute to finish :)

[2017-01-09 04:24] wing328 commented on #4513
1) If I remember correctly, there are certain scenarios (edge cases) in which the test cases won't compile right out of the box so that's why the tests are commented out to start with.

2) I like the idea of the assistance snippet so as to save the developer's time 👍

[2017-01-09 04:45] philip commented on #4518
@wing328 Yep, I'll give it a go hopefully this week.

[2017-01-09 04:56] fehguy commented on #4478
I will get a parser release out and update master accordingly

[2017-01-09 09:57] mstefaniuk commented on #4486
I'm against that convention and against that change in particular. It exposes in naming differences that are should not be exposed. As a consequence of that convention interfaces are prefixed with `I` but concrete class (first one) has no implementation indicator. It should go opposite - interfaces should have clean names but implementation should have implementation specific suffix. In Java there

[2017-01-09 10:19] Razzeee commented on #4486
As much as I want to go with you on this, the one comment on SO pretty much summed it up for me:

[2017-01-09 10:41] patrickheinzelmann commented on #1073
@wing328 I opened an issue at swagger-core. Tag description is already represented/stored in swagger-core, the issue is about avoiding the duplication of looping structures.

[2017-01-09 10:43] wing328 commented on #4483
@simo9000 I need more time to review in order to answer your question.

As a user of Swagger Codegen, which one do you prefer?

[2017-01-09 10:48] arr28 opened #4527 "Vendor extension references not resolved"
##### Description

When parsing a swagger file during codegen, almost all references are resolved - i.e. when producing the input file for a mustache template, the referenced YAML is inserted into the referring object.

However, this isn't happening for vendor extensions, meaning that I can't generate the docs & stubs that I need.

##### Swagger-codegen version

Master (as of 2017-01-09 ~09:30 UTC

[2017-01-09 10:49] deibl opened #4528 "jaxrs codegen generates unused imports"
##### Description
jaxrs codegen generates the following unused imports in my *ApiService class:
import package.generated.api.*;
import package.generated.data.*;
import package.generated.data.GeneratedModeal;
import package.generated.api.NotFoundException;
import org.glassfish.jersey.media.multipart.FormDataContentDisposition;
import java.util.List;
import java.io.InputStream;
Really annoying is th

[2017-01-09 10:52] arr28 commented on #4022
Thanks @sreeshas.  This gets me part-way towards what I need.  Unfortunately, when vendor extensions in responses refer to other YAML fragments (with `$ref:`), the references aren't being followed so I have no access to the referenced objects in the mustache templates.  Since I doubt this is specific to vendor references **in responses**, I've raised #4527 as a new issue.

[2017-01-09 10:55] wing328 commented on #4022
@arr28 agreed with you that it's a different issue. Thanks for opening a new one for tracking.

Thanks for the PR from @sreeshas. Closing this issue.

[2017-01-09 10:55] #4022 closed

[2017-01-09 10:56] arr28 commented on #4527
I'd be happy to take a look at this if (a) you're happy with the approach outlined in "Suggest a Fix" and (b) soembody could give me some pointers.

[2017-01-09 11:47] RaphC commented on #4022
Thanks @sreeshas

[2017-01-09 14:03] alexandern commented on #4416
This has been merged to master

[2017-01-09 14:03] #4416 closed

[2017-01-09 16:32] simo9000 commented on #4483
I actually prefer the method in [c734a216](https://github.com/swagger-api/swagger-codegen/commit/c734a216af91d26f1be073603a9322f6730a73d5) for import mapping specifically since it uses the importMapping field from DefaultCodegen. I have been tempted to close #4405 and create a PR to move the helper methods to AbstractCSharp as i mentioned before however I still feel like the option of inheriting t

[2017-01-09 16:53] bushuyev commented on #4524
works when built from master but can't spot what is the difference in the generated code. The namespaces are still where they are but somehow can be compiled.

[2017-01-09 17:01] wing328 commented on #4486
What about adding an option (default to false) to prefix the interface with `I` so as to accommodate difference developer style/preference?

cc @jimschubert

[2017-01-09 17:20] fzakaria commented on #4524
I tried master and couldn't do it.
I think this is a dupe of https://github.com/swagger-api/swagger-codegen/issues/1487

[2017-01-09 17:21] ssteinerx commented on #4398
I just ran into this same thing and I concur: multiple return types are not supported by the current architecture.

My work-around is to return a unique key when the job is accepted so you can execute a separate 'status' call with that key later.   If the status is 'completed', the data is returned as a payload otherwise the payload is empty.

[2017-01-09 21:46] tedepstein opened #4529 "Support contract-first workflow, using the provided Swagger spec"
(Originally opened as [swagger-core/#2075](https://github.com/swagger-api/swagger-core/issues/2075), moved here at @fehguy's suggestion.)

Our users have noticed a problem in the way their Java services, built from Swagger-codegen stubs as the starting point, provide Swagger-UI documentation at runtime.  We'd like to get some perspective from the community, and see if there are known solutions or

[2017-01-09 22:06] tedepstein commented on #4529
Take-aways from preliminary discussions [here](https://github.com/swagger-api/swagger-core/issues/2075):
* This doesn't seem to be a solved problem. Most if not all of the Java server stub generators (aside from Swagger-Inflector) derive the swagger spec from annotated code at runtime, and don't provide options to override this. (I haven't looked carefully at stub generators for other platforms.)

[2017-01-10 00:26] kevinoid commented on #4442
This is fixed for me by swagger-api/swagger-parser#381 (after rebuilding with `swagger-parser-version` changed to `1.0.26-SNAPSHOT` to use the fix).  Thanks again!

[2017-01-10 00:26] #4442 closed

[2017-01-10 01:05] patrickheinzelmann commented on #1073
@wing328 I created an issue, fixed it and submitted a pull request for step 1.

[2017-01-10 06:21] cbornet commented on #4529
@tedepstein I don't understand your issue. Do you want to use Jersey without the Jersey annotations or Spring without Spring-MVC's annotations ? Then why choose these frameworks in the first place if you don't use them, why not just use inflector ?
Also I think you should still be able to do contract first dev with generated annotations : the swagger generated at runtime should be identical to the

[2017-01-10 06:40] cbornet commented on #4529
Also most Java server generators generate the API as an interface which holds the annotations and an implementation that you can remove from generation. This means that the API interface code can be part of the build process (using the maven plugin for instance) and there are frameworks to generate the spec during the test phase so you can effectively check that the generated swagger spec is ident

[2017-01-10 07:18] nazieb opened #4530 "[PHP] Model's valid() method should validate parents too"
##### Description

When some Swagger definitions using `allOf` for inheritance, the models are generated correctly with `extends` keyword and `parent::__construct($data)` in the constructor. But the `valid()` method doesn't check the validity of the parent's attribute, only the model's own one.

IMO, since the model inherits all the parent's attribute, it'll more make sense to validate those too.

[2017-01-10 11:14] tedepstein commented on #4529
@cbornet,

The choice of framework is driven by what users are familiar with, and what other framework-dependent code they plan to use as part of their API implementation.  It's a significant decision, not something we can easily influence by telling the developer to "just use inflector."  It would be like telling you to "just use Haskell" for your next API project.

This is why it's so valuable f

[2017-01-10 11:24] RichiWIP opened #4531 "[typescript-angular2] Arrays in query params not using preferred format"
##### Description

I am currently developing a middleware API and I generate my angular2 client using codegen. I have one call that expects a short array of strings as a query parameter. The current generator will create a call like this:
`http://www.foo.bar/somthing?array=value1,value2,value3`

My middleware doesn't understand this format and as far as I have researched, it is preferred to use th

[2017-01-10 13:57] lachatak opened #4532 "[Scala] Overriden objectmapper wasn't used in deserialisation"
##### Description

Overriden objectmapper is not used in deserialisation because in the api.mustache there is a typo so there is a new ApiInvoker creation every time you deserialise a response via the companion object. The side effect is that you cannot override the object mapper in the invoker.

api.mustache
{{#returnType}} Some(ApiInvoker.deserialize(s, "{{returnContainer}}", classOf[{{returnBas

[2017-01-10 14:36] wing328 commented on #4530
@nazieb thanks for reporting the issue. Your suggestion looks good to me and I would suggest we take it one step further to wrap it inside `{{#parent}} ... {{/parent}}` so that it calls the parent's `valid` method only if it's extends another object:

[code]

May I know if you've to submit a PR for the enhancement?

[2017-01-10 14:37] wing328 commented on #4532
@lachatak thanks for reporting the issue. Please kindly submit a PR so that we can review the change.

[2017-01-10 14:40] lachatak commented on #4532
PR was created:
https://github.com/swagger-api/swagger-codegen/pull/4533
I hope it is fine.

[2017-01-10 14:43] wing328 commented on #4531
The `collectionFormat` attribute in the OpenAPI/Swagger 2.0 spec is related to the issue you reported.

Your solution will work for your scenario (collectionFormat=`multi`) but not other valid collectionFormat.

Would you have time to contribute a solution that works with all supported collection formats?

[2017-01-10 14:52] RichiWIP commented on #4531
Ah, yes, I see the Problem. A better solution for now would be
[code]

That will at least support "multi" and "csv" (as ts / js will serialize the array as csv). I will give it a try to add support for the other formats and also add this to form params where allowed.

[2017-01-10 14:52] cbornet commented on #4529
No because Haskell doesn't work with inflector... Whereas you could probably make Spring and inflector work together. Now I don't think it's the job of swagger-codegen to generate actual servers. It can certainly generate the files related to the API and maybe a first out-of-the-box working server for fast setup. But after that it's the developer work to integrate it (if that's even possible) with

[2017-01-10 14:59] wing328 commented on #4531
@RichiWIP thanks. For PHP, we use a function to handle different collection format: https://github.com/swagger-api/swagger-codegen/blob/1ea9865a4498e26bb1f4ecf490aaad19d19357a8/samples/client/petstore/php/SwaggerClient-php/lib/ObjectSerializer.php#L173-L205

and use the `collectionFormat` mustache tag to access the `collectionFormat` value in the template:

https://github.com/swagger-api/swagger-c

[2017-01-10 15:31] edeandrea commented on #4529
I'll try and give my thoughts to this - whether this belongs here in swagger-codegen or in one of the swagger-ui implementations is another question.

We are a SpringMVC shop - and use SpringFox to deliver the swagger-ui endpoint inside a running environment. The way SpringFox works is it introspects the code, merging the SpringMVC annotations (`@RequestMapping`s, etc) along with the Swagger annot

[2017-01-10 15:57] cbornet commented on #4529
You could make a lib that allows creating the Spring-MVC routes dynamically from a swagger spec but that's a full project in itself and completely out-of-scope of a code generator. Actually what you need is exactly what inflector does for JAX-RS/Jersey (see the [README](https://github.com/swagger-api/swagger-inflector#components)) so the source code of inflector could be a source of inspiration.
N

[2017-01-10 16:38] fehguy commented on #4529
@cbornet @tedepstein from my understanding, the solution might look like this:

* Continue generating server implementations as a design-first methodology
* When generating servers, do _not_ try to annotate code (like with swagger-core) such that the server will _reproduce_ the swagger definition in any manner
* *Mount* the `swagger.json` and `swagger.yaml` somewhere in the resource path
* Optiona

[2017-01-10 16:48] wing328 commented on #4532
Closed via #4534

[2017-01-10 16:48] #4532 closed

[2017-01-10 17:06] jfiala commented on #4513
For JaxRS-CXF with the contracts we are using for tests everything compiled smoothly, what about activating the tests for Jaxrs-CXF so we proof they compile?

[2017-01-10 17:10] jfiala commented on #4509
If you don't want a breaking change, we could also add the interface with a suffix (e.g. "I" - "MyServiceI") and the class implementing the interface would only generate if it doesn't exist, thus making it non-breaking or add the interface approach as a library or separate language?

[2017-01-10 17:34] cbornet commented on #4529
Oh I finally got it ! You mean to use directly the swagger spec used for generation and not the one generated at runtime by generated code (2 times generation) ? Yes, that could make sense. And it should be easy to provide as a generator option.

[2017-01-10 17:37] cbornet commented on #4529
Note that you still need to generate the controllers for the routing part which is not the case when using pure API-first framework such as inflector.

[2017-01-10 17:37] fehguy commented on #4529
yea, that's my thought.  @tedepstein is that in-line with what you're getting at?

[2017-01-10 18:10] tedepstein commented on #4529
@fehguy , @cbornet , using the static Swagger json or yaml resource is exactly what I had in mind.  I would expect to have to generate controllers for the paths and methods defined in the API, just as most of the code generators (other than inflector) do today.

It's also possible to provide the Swagger-UI, Swagger JSON and YAML endpoints by generating controllers for these.  I was hoping to avoid

[2017-01-10 20:15] jeff9finger opened #4535 "swagger-codegen 2.2.2-SNAPSHOT uses deleted swagger-parser SNAPSHOT version"
Using io.swagger:swagger-codegen-maven-plugin:2.2.2-SNAPSHOT, the following artifacts could not be resolved:
io.swagger:swagger-parser:jar:1.0.24-SNAPSHOT,
io.swagger:swagger-compat-spec-parser:jar:1.0.24-SNAPSHOT:

According to https://oss.sonatype.org/content/repositories/snapshots, these versions of swagger-parse and swagger-compat-spec-parse do  ot exist, yet they are still refernced from swag

[2017-01-10 21:21] Vario opened #4536 "Query Parameter missing in swift 3 export"
##### Description

We have a swagger definition with a PUT Request which contains a Body DTO with properties to update, header parameters and path parameters and one query parameter.

the parameter is in the method definition updateXXXUsingPUTWithRequestBuilder but it is not used in the code and not appended to the url..

##### Swagger-codegen version

2.2.2

##### Steps to reproduce

i assume, ge

[2017-01-10 22:10] thegecko opened #4537 "[typescript-*] Bug - Model data is different when using custom template files"
##### Description

Fully qualified enum names don't work when overriding template files. This may be an issue broader than just enums and just the typescript language, but I haven't checked beyond the repro below.

##### Swagger-codegen version

Issue is with v2.2.1, not aware if this is a regression

##### Swagger declaration file content or url

http://petstore.swagger.io/v2/swagger.json

#####

[2017-01-10 22:35] toomuchpete opened #4538 "[PHP] Supplying an invokerPackage without match api and model package names creates a non-working library"
##### Description

If the generator is supplied with `invokerPackage` but not `apiPackage` and `modelPackage`, the API and Model classes are generated with a namespace that is incompatible with the autoloader declarations. The documentation on `invokerPackage` suggests that it will be prefixed to all class packages:

##### Swagger-codegen version

Latest, from Homebrew

##### Swagger declaration f

[2017-01-11 02:24] jimschubert commented on #4486
I'm all for this change, even if it means using an option that defaults to the I prefix.

Microsoft's [Framework Design Guidelines](https://msdn.microsoft.com/en-us/library/ms229040(v=vs.110).aspx) suggest:
---
✓ DO prefix interface names with the letter I, to indicate that the type is an interface.

For example, IComponent (descriptive noun), ICustomAttributeProvider (noun phrase), and IPersistab

[2017-01-11 04:40] jackychow commented on #1464
Hi, @wing328 regarding the duplicated parameter when the parameter was declared in the shared space, is that a bug or that happens by design? Our in-path params have been all defined in the shared space and we did not have the duplicated param problem in 2.1.6. It just started happening after we upgraded to 2.2.0.

[2017-01-11 06:14] cbornet commented on #4529
If you serve the swagger spec at the same host as the API, you may just omit the host field in the swagger spec.

[2017-01-11 06:40] wing328 commented on #4066
@schnabel #4458 by @y-higuchi has been merged into master.

Would you please pull the latest master to give it a try?

[2017-01-11 06:42] wing328 commented on #1464
@jackychow there's been a few new release of swagger parser since 2.1.6. Please pull the latest master of "swagger codegen" (which depends on the latest swagger parser) to give it a try to see if the same issue still happens.

[2017-01-11 09:20] RichiWIP commented on #4531
I created a gist with my proposal for the template changes. I have added the proper serialization for the different collection formats to query params, form params and header params (here without multi as it is not supported).
I have also added a constant array of all APIS to apis.mustache to make it easier to import libraries with a great number of api classes. That is the only change to apis.mus

[2017-01-11 10:11] wing328 commented on #4531
@RichiWIP looks good. Please file a PR so that we can review the change more easily.

[2017-01-11 11:03] wy-z commented on #2330
Here is a test copy 🎁 @antihax
[swagger.json.zip](https://github.com/swagger-api/swagger-codegen/files/698590/swagger.json.zip)

[2017-01-11 11:32] wing328 commented on #2330
@wy-z thanks. You can consider using https://gist.github.com to share the swagger spec.

[2017-01-11 13:38] tedepstein commented on #4529
Thanks, @cbornet .

[2017-01-11 18:36] philip commented on #4518
@wing328 I've submitted a PR, and also the php-petstore.sh results, but I'm not sure how to handle additional test cases yet. Perhaps others will have ideas in the meantime.

Regarding the php-petstore.sh results commit, it contained unrelated changes so perhaps others forgot to commit them in the past? Or I did something wrong?

[2017-01-11 19:19] JFCote commented on #3057
Hi, is there something started for play framework codegen export? We would be interested in such feature and maybe we could contribute if something is already started. The alternative stated above are good but don't use the codegen and don't follow the process we would want to use. Let me know! Thanks

[2017-01-11 23:32] damienpontifex commented on #4407
I'll make the modifications and downgrade the sample ts versions to align with the suggestion by @todrules

[2017-01-12 03:50] zcb22000 opened #4542 "io.github.swagger2markup.internal.document.OverviewDocument doesn't found with swagger2markup-1.1.1.jar when generate files"
##### Description

##### Swagger-codegen version

swagger2markup-1.1.1.jar

##### Swagger declaration file content or url

##### Command line used for generation

		CodegenConfigurator configurator = CodegenConfigurator.fromFile(configFile);
		new DefaultGenerator().opts(configurator.toClientOptInput()).generate();

		Path localSwaggerFile = Paths.get(yamlFile);
		Path outputFile = Paths.get(ascii

[2017-01-12 03:51] zcb22000 commented on #4542
my pom.xml is :
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>com.huawei.m2m.ecosystem.platform</groupId>
		<artifactId>rest-api</artifactId>
		<version>1.0.0</version>
	</parent>
	<ar

[2017-01-12 07:56] wing328 commented on #3057
@JFCote there's a sample for Swagger Play framework sample app (Petstore) at https://github.com/swagger-api/swagger-play-sample-app (which was created 5 years ago)

One approach is to reverse engineer the output (the sample play app) back into the mustache template.

Let me know if you're interested in the work and we can work together to create the Play generator.

[2017-01-12 08:19] wing328 commented on #4518
@philip there's another PR (https://github.com/swagger-api/swagger-codegen/pull/4525), which might address the issue you reported. Would you please pull the latest master to give it a try?

[2017-01-12 08:25] wing328 commented on #4542
For issues related to Swagger2Markup, please report to  https://github.com/Swagger2Markup/swagger2markup

[2017-01-12 08:25] #4542 closed

[2017-01-12 08:57] zcb22000 commented on #4542
ok,thanks

[2017-01-12 08:59] wing328 commented on #4535
@jeff9finger I think we will need to publish another `io.swagger:swagger-codegen-maven-plugin:2.2.2-SNAPSHOT` based on the latest master with the new parser.

cc @fehguy

[2017-01-12 09:02] bkryza opened #4543 "[Bash] Improve Bash version detection"
##### Description

Improve error message when executing the script with older versions of Bash.

##### Swagger-codegen version

2.2.0-SNAPSHOT

##### Swagger declaration file content or url

This bug is independent of any particular Swagger definition.

##### Command line used for generation

[code]

##### Steps to reproduce

Execute the generated script against a Bash with version <4.3

Currently

[2017-01-12 09:04] wing328 commented on #4538
Sounds good to me. We'll need to update `apiPackage`, `modelPackage` [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java#L234)

Please let us know if you've time to submit the fix.

[2017-01-12 09:15] eblis opened #4544 "[ALL] Unicode characters in mustache template files aren't treated correctly"
##### Description
There seems to be an inconsistency to the way files are treated when they're being read (like the mustache templates) and when their being written (the processed files after applying the mustache template). When files are written back to disk **UTF-8** is enforced, but when the mustache files are first read **UTF-8** is not enforced and the default OS value is used instead, which

[2017-01-12 09:21] wing328 commented on #4537
@thegecko thanks for reporting the issue, which is pretty weird...

Do you mind giving it another try with the latest master of swagger codegen by building the JAR locally (`mvn clean package`) to see if the latest code base still has the same issue?

[2017-01-12 09:28] wing328 commented on #4513
@jfiala ok, let's proceed with that.

[2017-01-12 10:09] thegecko commented on #4537
Thanks, looks like this is fixed in `2.2.2-SNAPSHOT`

[2017-01-12 10:11] wing328 commented on #4537
@thegecko thanks for doing a test to confirm.

(If you like Swagger Codegen, please upvote our [ProductHunt page](https://www.producthunt.com/posts/swagger-codegen))

[2017-01-12 10:11] #4537 closed

[2017-01-12 13:20] JFCote commented on #3057
@wing328 : I'm VERY new to Swagger, I still need to understand a lots of thing before doing something like that. But right now I can tell you:
- This sample is VERY old. Play Framework is now at version 2.5.10. So the first thing should be to update the sample to the latest version (or create a new one?).
- Shoud we support multiple version of play or just the latest? (Each version have breaking c

[2017-01-12 15:16] Vario opened #4546 "Requests dont add Content-type defined in swagger definition Swift 3"
##### Description

The generated API does not include the consumes property which is defined in the definition json.
,"consumes":["application/json"],"produces":["*/*"],

if i print the request in the processRequest method from the AlamofireImplementations, i get the following

`curl -i \
	-X PUT \
	-b "JSESSIONID=....ID....." \
	-H "Content-Type: application/x-www-form-urlencoded; charset=utf-8"

[2017-01-12 15:23] wing328 commented on #3057
Let's start with the latest stable version (2.5.10) to being with.

Let's start with Java 😄

An example is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Java/pojo.mustache#L79, which will be used by the Java generator when generating the models and `{{...}}` (e.g. `{{name}}`) are variables in the mustache template.

[2017-01-12 15:57] abaruni commented on #3914
Despite not having logic in `api.mustache` to specifically handle header parameters via `{{#headerParams}}...{{/headerParams}}`, header parameters should at least show up in the parameter list for the method definition on account of the `{{#allParams}}...{{/allParams}}` tag. However, they are not. The problem is all `HeaderParameter`s are being removed from the `Operation`'s list of parameters:

h

[2017-01-12 16:03] aparnarus commented on #200
hello, is there a way to override just one single template(Mustache file)? if i specify "templateDirectory" it seems to be taking it for all templates.

[2017-01-12 16:05] wing328 commented on #3914
@abaruni I agree with you that the logic to remove header parameters should be removed.

May I know if you've time to contribute the enhancement? I really want to fix this problem as many APIs use header parameters but I'm no expert in Swift :(

[2017-01-12 16:09] wing328 commented on #200
@aparnarus which version of swagger codegen are you using? I believe the latest stable version supports customizing a single template instead of all.

[2017-01-12 16:10] wing328 commented on #4546
@Vario thanks for reporting the issue. You're correct in saying that `consumes`, `produces` are not being leverage in Swift (2.x, 3.x) templates at the moment.

May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-01-12 16:11] #4544 closed

[2017-01-12 16:33] aparnarus commented on #200
Thanks for your response
Do you have an example ? Or doc
We are 2.1.6

Thanks again

Sent from my iPhone

[2017-01-12 16:36] wing328 commented on #200
OK. Please given the latest stable version a try: https://github.com/swagger-api/swagger-codegen/releases

[2017-01-12 16:48] wing328 commented on #4546
The ObjC API template is a good starting point: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/objc/api-body.mustache#L134-L144

[2017-01-12 17:38] aparnarus commented on #200
ok will do.
 but to override a Single template file, is setting "templateDirectory" the way to go?

[2017-01-12 17:55] jeff9finger commented on #4535
FYI: I am unable to use the maven-plugin SNAPSHOT at the moment. I've tried excluding the swagger-parser and swagger-parser-compat dependencies (1.0.24-SNAPSHOT), and including 1.0.25 (also tried 1.0.26-SNAPSHOT) but somehow downloading the 1.0.24 dependency is always attempted.

Is anyone else having a similar issue? Any workarounds?
Or can we just get this published?

Thanks

[2017-01-12 18:47] philip commented on #4518
@wing328 That change works great, their approach feels better than mine so I'm glad you pulled it. Closing this issue, now. Thanks!

[2017-01-12 18:47] #4518 closed

[2017-01-12 19:11] philip opened #4548 "Add way to retrieve the swagger-codegen version"
##### Description

It is difficult to determine our swagger-codegen version. Consider reporting the version number somehow, perhaps within the help output and/or by adding a version command.

##### Swagger-codegen version

2.2.1

##### Steps to reproduce

When reporting swagger-codegen bugs, I remember trying both "swagger-codegen help" and "swagger-codegen version" to determine the version number

[2017-01-12 20:51] aparnarus commented on #4298
I recently updated from 2.1.6 to 2.2.1 as i needed the new "templateDirectory" feature that works in 2.2.1. but as soon as i did that i get same complier errors. how did you resolve this? help!

[2017-01-12 21:47] aparnarus commented on #4298
is there a way to still use jersy and ignore the new default GSON library?

[2017-01-12 21:56] genechang opened #4549 "Adding datetime query parameter support to CPPREST"
##### Description

The generated code for CPPREST doesn't have support for a datetime query parameter.  In ApiClient there isn't a parameterToString to handle datetime.

##### Swagger-codegen version

Found in tip of master.

##### Swagger declaration file content or url

<script src="https://gist.github.com/genechang/425e0d5ab16fd2a4f11160317df1f8da.js"></script>

##### Command line used for gene

[2017-01-12 22:12] samogot opened #4550 "[Spring] allowableValues uppercase"
##### Description

I'm getting uppercased enum values instead of case used in spec. For example:
[code]
Expected:
[code]

This values are names of class fields, so case-sensitiveness is important for me

##### Swagger-codegen version

current master

##### Swagger declaration file content or url

[code]
##### Command line used for generation

[code]

##### Steps to reproduce

1. Generate spring-bo

[2017-01-12 22:36] philip opened #4551 "[PHP] Generates invalid code due to property renaming"
##### Description

Generated PHP code can create invalid PHP code when converting property names to methods, if the property names are similar except one also contains one or more underscore characters. For example, `helloworld` and `hello_world`.

After generating both petstore and testpetstore (see below), here's part of the diff:

`SwaggerClient-php/lib/Model/Pet.php`
[code]
In other words, Pet

[2017-01-13 02:45] wing328 commented on #4518
@philip thanks for testing the change to confirm it addresses the issue for you.

[2017-01-13 02:53] wing328 commented on #4548
@philip thanks for the suggestion. Have you tried the following?
[code]

`java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar help` shows the usage:
[code]

[2017-01-13 03:05] wing328 commented on #4551
@philip thanks for reporting the issue. I agree with you that ideally codegen should show better warning message if two parameter names happen to be the same after processing.

One solution is to use the `--reserved-words-mappings` introduced in https://github.com/swagger-api/swagger-codegen/pull/4480, e.g.
[code]
which will map `id` to `identifier`.

Please pull the latest master to give it a try

[2017-01-13 03:15] wing328 commented on #4549
@genechang thanks for reporting the issue. Please kindly submit a PR so that we can review the fix.

[2017-01-13 03:23] wing328 commented on #4535
@jeff9finger as a workaround, what about doing a `mvn clean install` to install swagger parser 1.0.24-SNAPSHOT in the local Maven store?

You will need to clone the swagger parser project and update the pom with "1.0.24-SNAPSHOT".

[2017-01-13 03:28] wing328 commented on #200
Yes, if the generator cannot find the template file in the custom template directory, it will use the default one.

The command line option is `-t` (which is equivalent to "templateDirectory" in the maven plugin option if I'm not mistaken)

Ref: https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen-maven-plugin/README.md#L70

[2017-01-13 04:14] jeff9finger commented on #4535
Thanks for the suggestion. This won't work in our situation because this artifact is needed for others in the company.

I have a workaround in place now, though

[2017-01-13 06:34] Vario commented on #4546
Okay i'll give it a try, i havent done anything with mustache files yet.
I assume i have to change the api.mustache and APIs.mustache file.

[2017-01-13 09:28] wing328 commented on #4546
Thanks 👍

For `swift3`, I believe you will need to add the logic in https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift3/api.mustache#L140

For `swift`, https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/api.mustache#L123 should be the starting point.

Let us know if you need any help.

[2017-01-13 12:52] tadhgpearson commented on #4298
@aparnarus: use the `jersey1` switch, as documented in the readme.

[2017-01-13 13:52] tharders opened #4554 "[Javascript] special handling of 204 response needed"
##### Description

The generated ApiClient.js treats a 204 response with no data as a normal 200 response, where data is expected.

When a request retuns a status 204 with no data in the body, the superagent library will treat this as a success and return an empty object.
The api client will call convertToType with the empty object, which will result in unexpected data.

For array responses this w

[2017-01-13 14:13] deibl opened #4555 "Spaces in .yaml causes them to be interpreted as json"
##### Description
More than one space after ":", when setting an attribute in .yaml file, causes it to be interpreted as json which Results in parse Exception (Unexpected character). Removing the additional spaces fixes the problem.

##### Swagger-codegen version
2.2.0

##### Swagger declaration file content or url
Relevant part from xxx.yaml:
`definitions:`
`Entity:`
`...`
`properties:`
`property

[2017-01-13 14:15] Megamzero commented on #4095
I found out  `HttpLoggingInterceptor` configured with `Level.BODY` can throw the error.

from the [okhttp HttpLoggingInterceptor repo](https://github.com/square/okhttp/blob/7135628c645892faf1a48a8cff464e0ed4ad88cb/okhttp-logging-interceptor/src/main/java/okhttp3/logging/HttpLoggingInterceptor.java#L188) the RequestBody is write out.
[code]
[right after](https://github.com/square/okhttp/blob/713562

[2017-01-13 14:31] markus-wa commented on #4315
Jaxrs cxf as well

[2017-01-13 14:44] tomekc commented on #4536
Can you share a fragment of spec? I think I can look into it.

[2017-01-13 14:52] tomekc commented on #4536
Did you try latest version from master? I addressed this issue (query parameters are ignored when making POST with request body) and it has been merged in #1564

[2017-01-13 15:43] wing328 commented on #4531
Closed via #4539

Thanks @RichiWIP for the enhancement.

[2017-01-13 15:43] #4531 closed

[2017-01-13 15:55] wing328 commented on #4555
@deibl seems to me an issue with your YAML file. Have you used some online YAML validator to validate the file? e.g. http://www.yamllint.com/

[2017-01-13 15:58] wing328 commented on #4528
@deibl My guess is that your REST API does not have any form parameter and that's why `org.glassfish.jersey.media.multipart.FormDataContentDisposition` is not needed.

I agree with you that ideally the file should not contain dependencies that are not used.

Would you have cycle to contribute enhancement for this? If yes, I can show you some good starting points.

[2017-01-13 16:00] wing328 commented on #2197
@FilipHarald if you've time to work on the NodeJS express generator, please let me know and we can work together on that.

[2017-01-13 16:04] philip commented on #4548
@wing328 thanks, I missed that, but can now confirm that it exists in 2.2.2 :)

[2017-01-13 16:04] #4548 closed

[2017-01-13 16:26] #2652 closed

[2017-01-13 16:28] wing328 commented on #4548
@philip np. If you've other feedbacks to make Swagger Codegen better, please share with us 😃

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, pleae upvote if you found Swagger Codegen useful)

[2017-01-13 17:26] Vario commented on #4536
Which fragment do you need from the spec? i dont know why but i cant load the master project on my machine. do you have a .jar file which i can test with my spec?

[2017-01-13 17:44] abaruni commented on #3914
@wing328 i think i can make some time in order to contribute the enhancement

[2017-01-13 18:30] wshreek commented on #2769
Hi!
I am trying to use typescript client, and soon we will also be using a C# client. We definitely need configurable basepaths.
Basically, as it seems the client gets the basepath from the swagger spec file. How can I have it configurable, so that we can have one endpoint for development environment and one for production. It would be best if it is configurable so that the consumer of the client

[2017-01-13 18:46] wshreek commented on #3891
Is this issue only tackling for java client?

We are using typescript client and soon we will start using C# client. We definitely would like to have configurable endpoint, coz every developer on the team would like to point to their own localhost.

Please let me know if there's a solution/workaround for typescript & C#.

[2017-01-13 19:48] philip commented on #4551
@wing328

Unfortunately that is not an available workaround as it appears specific to the reserved words assigned to each language, and it doesn't seem to affect method names. Please let me know if I misunderstand, though, as I'm a swagger_codegen newbie.

As a side note, the `--reserved-words-mappings` option doesn't seem to work with `-l php`, or at least I can't get it to do anything for reserv

[2017-01-14 21:32] fzakaria commented on #1487
@damienpontifex did you get a chance to make some changes?

[2017-01-15 01:57] jimschubert commented on #4514
@jfiala the .swagger-codegen-ignore is really intended to prevent the generator from overwriting pre-existing files in your target directory.

It sounds like you're looking for the [selective generation](https://github.com/swagger-api/swagger-codegen#selective-generation) options, which I'm not sure if this is what you're referring to by "files can only be influenced using CLI flags as available".

[2017-01-15 03:18] jimschubert commented on #4486
@Razzeee @wing328 @mstefaniuk I've opened a PR for allowing to customize this behavior. I added support to the C# generator for true/false/custom interface prefix using the `interfacePrefix` additional property.  I didn't get a response about the preferred behavior according to Microsoft's guidelines, so I've set the default in the NancyFX generator to be empty according to the above discussion.

[2017-01-15 11:27] bloody-orange opened #4558 "[typescript-angular2] Generated model attributes always start with lowercase char"
##### Description

The models generated by the cli always have attributes whose first character is lowercase. My properties all start with an uppercase character though, and they are also written like that in the API and the swagger doc.

##### Swagger-codegen version
2.2.1

##### Swagger declaration file content or url

[code]

generates:

[code]

##### Command line used for generation

CMD:
[cod

[2017-01-15 14:47] wing328 commented on #4558
@bloody-orange there's an option change the variable naming:
[code]

Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l typescript-angular2`

[2017-01-15 14:49] wing328 commented on #4558
@bloody-orange there's also another PR to use an ObjectSerializer to handle mapping of the JSON key name: https://github.com/swagger-api/swagger-codegen/pull/4264

Please kindly it test out by runnning:
[code]

[2017-01-15 15:00] wing328 commented on #4536
@Vario what error did you get when building the project locally?

[2017-01-15 15:03] wing328 commented on #4554
@tharders thanks for reporting the issue.

May I know if you've time to submit a PR for the enhancement?

Personally I would combine the if statements in 1 line:
[code]

[2017-01-15 15:50] wing328 commented on #4551
@philip you're right. Is it correct to say that renmaing the parameter names with conflicts is not an option in your case?

[2017-01-15 16:12] jimschubert commented on #4401
@kbedel I opened #4560 to support internal access modifiers. I was wondering if you could evaluate it to make sure it fits your use case?

[2017-01-15 17:19] wing328 commented on #4486
@Razzeee the enhancement (PR) by @jimschubert has been merged into master. Please pull the latest master to give it a try.

[2017-01-15 17:19] #4486 closed

[2017-01-15 17:36] bloody-orange commented on #4558
@wing328  thanks for the quick response
The config works perfectly, thanks again.

[2017-01-15 17:36] #4558 closed

[2017-01-15 18:06] wing328 commented on #4558
@bloody-orange no problem. Let us know if you've further feedback.

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, pleae upvote found Swagger Codegen useful)

[2017-01-15 18:15] philip commented on #4551
@wing328 Thanks to this bug, problems were discovered in our source swagger files where model values were mistakingly merged. So although both foo_bar and foobar exist, they do not belong in the same group. Fixing this at the source means we no longer experience this bug. So thanks to swagger_codegen output, we've made this and several other improvements to the sources.

Fixing this bug is now a l

[2017-01-16 00:07] damienpontifex commented on #1487
@fzakaria not yet. Just finishing off #4409 and then would look at using those updated templates for this. Hopefully get onto it in the next day or two

[2017-01-16 07:49] wing328 opened #4563 "Enhancements to C# ASP.NET core generator"
##### Description

@dmunch has made some enhancements to C# ASP.NET core generator: https://github.com/dmunch/swagger-gen-aspnetcore (ref: https://twitter.com/ddotmunch/status/811934356692471809)

This thread is for discussion related to C# ASP.NET core generator's enhancements.

If anyone has any feedback/suggestion, please reply to let us know.

##### Swagger-codegen version

Latest master

[2017-01-16 07:58] wing328 commented on #3891
@wshreek for C#, you can change the base URL via the default configuration.

For typescript, are you referring to Node, Fetch, Angular, Angular2? I believe there's something similar you can do with ApiClient or Configuration class to customize the base URL.

[2017-01-16 08:00] wing328 commented on #4551
@philip thanks for sharing more. We'll treat this with low priority as well since this kinda issue seems very unlikely to occur (assuming the spec is correct).

[2017-01-16 09:19] wing328 commented on #4460
@stevecookform3 thanks for reporting the issue and sorry for late reply as I missed it.

Would you have time to file a PR so that we can review the fix?

[2017-01-16 10:19] yaoshenghong opened #4564 "@ApiParam defaultValue = "0" not work"
I use v2.6.1, @ApiParam defaultValue = "0" not work, other value is working.

[2017-01-16 10:20] pbhadauria2000 opened #4565 "Code compilation error"
##### Description

The latest code is giving compilation errors because of a recent code commit.

_The declared package "io.swagger.codegen.python" does not match the expected package "io.swagger.codegen.bash"_

in file "swagger-codegen/modules/swagger-codegen/src/test/java/io/swagger/codegen/bash/BashTest.java"

##### Swagger-codegen version

Current master branch - 2.2.2-SNAPSHOT

##### Steps to

[2017-01-16 10:33] wing328 commented on #4565
@pbhadauria2000 I couldn't repeat the issue in my MAC and Linux box.
[code]

but I agree the issue should be fixed and I'll file a PR shortly.

[2017-01-16 10:36] pbhadauria2000 commented on #4565
Thanks @wing328

[2017-01-16 10:39] jasco opened #4567 "Malformed, but accepted, schema reference produces python-flask output that imports non-existent models.object"
I mistakenly described a schema `definitions` reference as follows.  Unless there is some valid scenario that precluded producing an error, it would be helpful if this construct produced an obvious error.

[code]

It should have been described as:

[code]

The python-flask generator accepted the input and produced code that attempted to import non-existent models.object in both the controller and

[2017-01-16 11:09] #4565 closed

[2017-01-16 11:09] wing328 commented on #4565
@pbhadauria2000 fixed via #4566. Please pull the latest master to try again.

[2017-01-16 11:56] pbhadauria2000 commented on #4565
Works. Thanks @wing328

[2017-01-16 12:37] zcb22000 opened #4568 "muti small yaml files does not work by ref in yaml file"
I want to split yaml file to small files. But it doesn't work when generate. How to use muti yaml files for micro-service project? And How to specified apipackage and modulpackge for each yaml file?
I am followd with "http://azimi.me/2015/07/16/split-swagger-into-smaller-files.html".

##### Description

##### Swagger-codegen 2.2.1

##### Swagger declaration file content or url

paths:
  $ref: './p

[2017-01-16 12:48] markus-wa opened #4569 "[JAXRS-CXF] basePath ignored since #4068"
##### Description

In the CXF generator the basePath gets ignored since #4068 and all paths changed from 'host/basePath/operationPath' to 'host/operationPath'.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

[code]

generates

[code]

instead of
[code]

##### Command line used for generation

java -jar swagger-codegen-cli-2.2.2-SNAPSHOT.jar generate -

[2017-01-16 12:51] bhuvnesharya opened #4570 "How to provide Page<Class> as a response by swagger codegen. This will help to get the result on swagger api in page format if records that are getting retrieved is too large."
##### Description

How to provide Page<Class> as a response by swagger codegen. This is required in SpringBoot to support pagination and sorting of spring boot.

##### Swagger-codegen version

swagger-codegen-maven-plugin - 2.2.1

language - spring

[2017-01-16 13:01] mmellar opened #4571 "[Golang] Generated client trying to unmarshal non-existent JSON into an **os.File"
Hi Folks, pretty new to Swagger so not sure if this is a bug or if I'm just being a dolt...

##### Description

I have the following endpoint definition, intended to just serve some tar file...

[code]

Generated server code fine, my handler just boils down to this...

[code]

I know there are security issues, keeping it simple for now. The server endpoint works fine with curl.

Unfortunately, I'm

[2017-01-16 13:22] wing328 commented on #4569
@markus-wa thanks for reporting the issue. Please submit a PR so that we can review the fix.

[2017-01-16 14:18] kbedel commented on #4401
@jimschubert Yes, this should be perfect for our use case. Thanks for adding it.

[2017-01-16 14:29] #4401 closed

[2017-01-16 14:36] lsarni commented on #3339
I tried with @fischerman solution once again and it worked, the semi-colon and quotation marks fixed it.
Thanks!

[2017-01-16 14:36] #3339 closed

[2017-01-16 15:14] jimschubert commented on #4401
@kbedel no problem!

[2017-01-16 16:20] jimschubert commented on #3085
@wing328 Now that we have `aspnet5` which outputs a deprecation warning and `aspnetcore`, should this issue be used as a reminder to remove `aspnet5` for 2.3.0?

If so, I could remove it in the 2.3.0 branch to get this issue closed out.

[2017-01-16 17:13] rajani007 opened #4574 "Generate code for multiple swaggers in the same project"
Hi,
How do i generate code for multiple swagger files from within the same module/project in one pom.xml.

In my application client had provided a swagger and we have one of the backend API to be called for which they provided swagger. I want to generate code for both of these in the same project. One way i was thinking is create separate module and execute the plugin separately and have those dep

[2017-01-16 20:46] jimschubert commented on #3350
I can pick this up.

[2017-01-16 23:33] nheinbaugh opened #4577 "[Typescript] Payload for Array of Enums Not Valid"
##### Description

When my API request accepts an array of enum values the generated typescript code is invalid.

JSON File (the smallest piece I could grab, let me know if you need more):

`{"type":"object","properties":{"id":{"format":"uuid","type":"string"},"Foo":{"enum":["Foo", "Bar"],"type":"string"}}}`

Generated Code:

[code]

#### Swagger-codegen version

2.0.17

##### Command line used fo

[2017-01-16 23:58] allysia02 opened #4579 "[JAVA] Generated Feign client tests failing"
After generating the above, I am unable to run all the generated test classes (74 failures in 205 tests - 63% successful).

Tests are failing with the following error:
[code]

Forgive for asking but.. is this what's expected? or am I missing something simple here...

Thanks.

[2017-01-17 00:09] allysia02 commented on #4579
I am using:

Gradle wrapper: 2.6 (generated)
Groovy:       2.3.10
Ant:          Apache Ant(TM) version 1.9.3 compiled on December 23 2013
JVM:          1.8.0_112 (Oracle Corporation 25.112-b16)
OS:           Mac OS X 10.12.2 x86_64
jackson_version: 2.7.5
feign_version: 8.17.0
feign_form_version: 2.0.2
oltu_version: 1.0.1

[2017-01-17 01:03] damienpontifex commented on #1487
@fzakaria Made some initial changes here damienpontifex/swagger-codegen@53f02fc80d8c32f52b41adb1a760ad7b3b4d5bf3 and will work on the branch 'tsc-consolidate-patterns'

Still a bit of work to do, especially around the non-angular typescript generators, but angular2 has maintained all functionality and angular1 has gained the appropriate barrel modules for model and api as I believe is the desired

[2017-01-17 02:07] alex-arana commented on #4579
I think the problem may be related to your API specification. Not sure why but it looks like Feign limits the ability to have Path Params and Body within the same PUT or POST request..

You can follow this issue on the Feign repository:
https://github.com/OpenFeign/feign/issues/399

In short, there isn't a solution right now other than to rewrite your spec I'm afraid 👎 (if that is possible). Eithe

[2017-01-17 02:35] #4358 closed

[2017-01-17 02:36] wing328 commented on #4543
Closed via #4578

[2017-01-17 02:36] #4543 closed

[2017-01-17 02:52] #4407 closed

[2017-01-17 02:54] wing328 commented on #4407
@todrules the PR by @damienpontifex has been merged into master. Please pull the latest master to give it a try.

[2017-01-17 03:07] wing328 commented on #3085
@jimschubert yes please.

[2017-01-17 03:59] wing328 commented on #3350
Closed via #4576. Thanks for the contribution from @jimschubert

[2017-01-17 03:59] #3350 closed

[2017-01-17 04:02] wing328 commented on #4579
@allysia02 I agree with @alex-arana that the issue may be related to your Swagger/OpenAPI spec.

Seems like you're defining both form parameters and body parameters in the same operation, which is not allowed according to the spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object

[2017-01-17 06:45] wing328 commented on #3339
Thanks @fischerman for the tips and @lsarni for verifying.

I've updated the README accordingly: https://github.com/swagger-api/swagger-codegen/blob/master/README.md#making-your-own-codegen-modules

[2017-01-17 06:49] wing328 commented on #4568
@zcb22000 you're using 2.2.1. Please pull the latest master to give it a try as the latest Swagger Codegen uses a newer version of Swagger parser with better handling of external references.

[2017-01-17 06:53] wing328 commented on #4342
Done via https://github.com/swagger-api/swagger-codegen/pull/4526

[2017-01-17 06:53] #4342 closed

[2017-01-17 06:56] wing328 commented on #4495
`maxItems`, `minItems` are now supported via https://github.com/swagger-api/swagger-codegen/pull/4309

Not sure if the PR directly addresses the issue you reported above but please give it a try and let us know how it goes.

[2017-01-17 07:26] #4432 closed

[2017-01-17 07:29] wing328 commented on #4290
If anyone wants to work on this, please kindly reply to let us know. Thank you 🙇

[2017-01-17 08:36] wing328 commented on #3891
@wshreek if you still need help customizing the base URL for other API clients, please open a new issue for tracking.

[2017-01-17 08:40] wing328 commented on #4571
@mmellar thanks for reporting the issue. I don't think we've added support for file response type to Go client yet.

May I know if you've time to contribute the enhancement? If yes, I can show you some good starting points.

[2017-01-17 08:42] dkarlovi commented on #3867
@wing328 just wanted to let you know I didn't forget about this, my Swagger-related commercial project started back up so I will be working on this in the near future for sure.

[2017-01-17 08:43] wing328 commented on #4567
@jasco thanks for the suggestion to produce more obvious error message. Swagger Codegen relies on [Swagger Parser](github.com/swagger-api/swagger-parser) to parse the spec.

I would recommend you to submit your suggestion to the Swagger Parser project directly.

[2017-01-17 08:46] wing328 commented on #4523
@ssteinerx as you probably aware, the latest master of Swagger Codegen is using a newer version of Swagger Parser.

Please share the spec files via https://gist.github.com so that we can reproduce the issue more easily.

[2017-01-17 09:08] wing328 commented on #3867
@dkarlovi thanks for the update. If you need any help from us (the community), please let us know.

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, pleae upvote if you find Swagger Codegen useful)

[2017-01-17 09:26] deibl commented on #4555
@wing328 The YAML File seems to be valid according to your yamllint.com and swagger Editor validation.
For reproduction i attached a minimal file which causes the problem (i did save it as .txt to enable upload on github). Saving it as xxx.yaml and use it as src for codegen results in json parse exception. Removing extra spaces in line 32 resolves the problem.
Command used: java -jar swagger-codeg

[2017-01-17 11:29] markus-wa opened #4581 "[JAXRS-CXF] Can't set HTTP code anymore"
##### Description

Since #4068 the return code can't be set anymore as the *Api interface return values changed from javax.ws.rs.Response to generated models.

Generally this seems like a good move, but CXF now automatically sets the HTTP codes and, for example, always sends 204 for void returns.

Besides, custom success codes can't be set anymore at all.

##### Swagger-codegen version

2.2.2-SNAP

[2017-01-17 12:01] alechill commented on #4498
@wing328 Fixed, PR raised against 2.3.0 branch

[2017-01-17 12:40] SellamiRami opened #4583 "[python-flask] INFO io.swagger.parser.Swagger20Parser - reading from CETIC/MISSIONS/SiriusInsight/AddWYX.yml"
##### Description
Dear all,

I have already specified an API using Swagger-editor. The generated Yaml file does not contain any errors.

 Now, I want to generate a python flask project to implement my API. To do so, I use the command `swagger-codegen` as follow:

`swagger-codegen generate -i AddWYX.yml -l python-flask -o addwyx`

However, I get the following error message:

`[main] INFO io.swagger

[2017-01-17 12:50] dmunch commented on #4563
Thanks for the follow up! Note that compared to the existing generator, this generator currently does not create project files or a Dockerfile. If this is a necessary requirement this can be easily added of course.

[2017-01-17 14:43] mmellar commented on #4571
Thanks for your response!

I can't commit to contributing as I've no reference point to how long it'll take. That said I can certainly take a look if you'd be kind enough to point me at the right bits of the codebase.

I've also taken a look at (I.E. read but not executed) client code generated in Perl and Javascript and they seem to have the same issue. Has this functionality been implemented for

[2017-01-17 16:45] me717 opened #4584 "[JAVASCRIPT] Error generating Javascript code when only some templates are present"
##### Description

Generating a javascript library does not find original template files if templateDir is set

##### Swagger-codegen version

2.2.1 (using the maven plugin)

##### Command line used for generation

swagger-codegen -l javascript -i swagger.json

Have primarily been using the maven plugin, but the above command produces similar output

##### Steps to reproduce

Run swagger-codegen w

[2017-01-17 19:36] jasco commented on #4567
@wing328 Thank you.  It appears someone has already reported it.
https://github.com/swagger-api/swagger-parser/issues/237

[2017-01-17 20:45] bkryza commented on #4583
@SellamiRami

You seem to have an unnecessary space before swagger token in the first line, try this:

[code]

[2017-01-17 21:31] szakrewsky opened #4586 "[C#] Exception deserializing null for optional enum specified via reference property"
##### Description

Given an object with an inline enum property "type" and a referenced enum "country", data like {"country": null} will throw an exception on deserialization, while data like {} and {"type": null} will work as expected.

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url
[code]
##### Command line used for generation

http://editor.swagger.

[2017-01-17 21:52] jfiala commented on #4514
@jimschubert thx for your comment, I want to use maven and only want the api interfaces generated to the target folder, without any clutter (config files etc.). Currently there is no way to remove the unwanted files from the target folder.

I also discussed this with @wing328, I think it would be good to have an option to generate only interfaces for all languages that provide ones.

However, I th

[2017-01-17 22:01] aparnarus commented on #4298
Thank you! im not sure how i missed it - but yes that worked.

[2017-01-17 22:40] SellamiRami commented on #4583
Thank you for your response @bkryza

However, there is no space in the original yaml file. It is noteworthy that the yaml file is valid in the swagger-editor.

[2017-01-17 23:05] bkryza commented on #4583
@SellamiRami I think the answer is even more obvious but I didn't catch it somehow, I don't think Swagger Codegen accepts Yaml, as you can see in the stack trace it's trying to parse Json - could you convert your spec to Json (e.g. using http://editor.swagger.io/) and try again?

[2017-01-17 23:13] fehguy commented on #4583
codegen does accept yaml or json, btw...

[2017-01-17 23:21] bkryza commented on #4583
@fehguy you are right :-)

@SellamiRami I just tested your example, when I remove the space in the first line it works:
[code]

but when I copy your original example I get the same error as you reported:

[code]

 Can you double check your yaml file?

[2017-01-18 00:31] sreeshas opened #4588 "CodegenProperty.java does not have title field."
##### Description

io.swagger.models.Properties.Property has title field but CodegenProperty Class does not have title field.

While converting from Property instance to CodegenProperty this information is lost.

##### Swagger-codegen version

Top of the tree.

##### Suggest a Fix

CodegenProperty should have title field. While generating CodegenProperty from Property title should also be copied.

[2017-01-18 00:32] pryankster commented on #4084
[code]
Should work.  Instead of dictionary comprehension, which is 2.7+, it uses a dictionary constructor taking a list of tuples.

--pryankster

[2017-01-18 03:25] jimschubert commented on #4586
Thanks for reporting this. I ran with `-DdebugModels` (`java -jar -DdebugModels modules/…`) and I get the following:

[code]

I've stepped through the code and it looks like the `Country` RefModel isn't available at the time that `Address` property `isEnum` is evaluated.  I'll have to dig into it more, but it looks like we probably have to override `postProcessAllModels` and evaluate enums when al

[2017-01-18 06:22] SellamiRami commented on #4583
@bkryza I am sure that there is no extra space in my yaml file.

However, I remark thar we are not using the same way to do the code gen. Indeed, I am executing `swagger-codegen generate -i AddWYX.yml -l python-flask -o addwyx`. You are executing `swagger-codegen git:(master) ✗ java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i test.yml -l python-flask -o output/flask

[2017-01-18 07:28] wing328 commented on #4588
Closed via #4590

[2017-01-18 07:28] #4588 closed

[2017-01-18 07:52] yaoshenghong opened #4591 "[java] How to show the value of enum in api?"
![entity](https://cloud.githubusercontent.com/assets/18024481/22055387/e010688c-dd95-11e6-9bbb-fae793a9ba65.png)
![enum](https://cloud.githubusercontent.com/assets/18024481/22055388/e016e84c-dd95-11e6-85cb-720fdf1f1437.png)
![example](https://cloud.githubusercontent.com/assets/18024481/22055389/e0395850-dd95-11e6-8618-d5d84d240db5.png)
![model](https://cloud.githubusercontent.com/assets/18024481/2

[2017-01-18 08:44] wing328 commented on #3608
@loupatrick the fix has been merged into master. Please pull the master to give it a try.

[2017-01-18 08:44] #3608 closed

[2017-01-18 11:35] ribvid opened #4592 "[Swift 3] Fatal Error: Source 200 is not convertible to type String"
##### Description

Hi! I am trying to use the SDK library, built for Swift3 client in Codegen Editor. I've installed it in my XCode project and successfully imported it in the ViewController. Then I define the base path in viewDidLoad (SwaggerClientApi.basePath = "...") but when I try to use it I get the error: "Source 200 is not convertible to type String. Maybe swagger file is insufficient: file

[2017-01-18 12:31] bkryza commented on #4583
@SellamiRami One more thing, I'm not sure which codegen version you're using exactly, could try to use the latest codegen version from GitHub:

[code]

[2017-01-18 12:57] SellamiRami commented on #4583
@bkryza
I tried your proposition. Nevertheless, it is in vain. I get the same error message.

Is there a problem of dependencies?

[2017-01-18 13:07] bkryza commented on #4583
@SellamiRami I don't think dependencies should be an issue in this case, the last thing that comes to my mind that could cause this would be some UTF encoding issues casued by some strange character on your first line, could you create a new file by pasting your yaml to http://editor.swagger.io/ and downloading a new yaml file from there?

[2017-01-18 13:24] SellamiRami commented on #4583
@bkryza

First of all I want to thank you very much for your help and support.

I fixed my problem. Actually, I start adding line by line in the specification file et I noticed that the problem appears when I add the `examples` bloc. There is an extra space there :-/ :-/.

Now I have my flask project and I can start implementing my API.

Have a nice day :-)

[2017-01-18 13:24] #4583 closed

[2017-01-18 13:37] tharders commented on #4554
Hi @wing328,
I have only looked at the  generated code and not at the code generator itself.
So I don't think it makes sense that I dig into this, since there is alsso not that much time I can spare.

[2017-01-18 14:15] wing328 commented on #4554
@tharders that's ok. More than 450+ developers have made contributions to this project so I would say the process for contributing back is very mature and straightforward, and won't take you a lot of time.

Anyway, if I make the change to the master, would you have time to do a test ?

[2017-01-18 21:41] kenisteward commented on #2694
Couple of questions.

1. Is this the approach that we are going to take @wing328 ?  As in if npmName exists generate these files. and if you are generating the files only generate tsconfig if option is true?

2. If that is the case then the idea would be to take what is currently in the typescript-angular2 client and put it in the AbstractClient with the additional generating tsconfig on condition

[2017-01-19 01:31] antihax commented on #4495
Does not appear so.
Ran the codegen on https://esi.tech.ccp.is/latest/swagger.json?datasource=tranquility

maxItems is used in most of the character_Contact API to bound contactIds. Running the codegen with `-DdebugOperations`; maxItems is no where to be found in the output, but maxItems is in the spec.

[2017-01-19 04:18] jimschubert commented on #4514
@jfiala I've opened a PR for the override of the ignore file. When you get a chance, can you test it out?

[2017-01-19 04:51] jimschubert commented on #4514
Also, I think suggest \#1 should probably be a separate issue because I don't think it'll be a trivial pickup.

[2017-01-19 05:04] jimschubert commented on #3042
@smileyogurt You haven't commented on this PR, so I assume you resolved your issues. I just wanted to let you know that I just opened a PR which will allow you to specify the location of a `.swagger-codegen-ignore` location outside of the generated directory. I think this will better address the issues you were having and give you more control than `skipOverwrite`.

[2017-01-19 08:52] jfiala commented on #4514
@jimschubert number 2 works great, yes lets move number 1 to a separate issue.

[2017-01-19 09:46] SellamiRami commented on #3786
@etsardou , @wing328

I have the error message as @etsardou :
[code]

The problem is related to the use of the `examples` object in the swagger-editor. It is noteworthy that I tried to remove all the `examples` blocks and the error message dissiperas. I illustrate a part of the yaml specification file:

[code]
Could you please help me in fixing my problem.

I am very thankful in advance.

[2017-01-19 09:49] etsardou commented on #3786
I think this issue was fixed in a newer version of the swagger-codegen (I do not know if the online version was updated yet). @klpanagi can you elaborate on the solution?

[2017-01-19 09:51] SellamiRami commented on #3786
Thank you @etsardou for your reactivity.

I am using the latest version of the swagger-codegen. I done yesterday a clone.

[2017-01-19 10:09] wing328 commented on #4584
Closed via https://github.com/swagger-api/swagger-codegen/pull/4585

Thanks for the contribution from @me717

[2017-01-19 10:09] #4584 closed

[2017-01-19 10:32] wing328 opened #4595 "Some generators missing proper "embeddedTemplateDir" setting"
##### Description

Similar to https://github.com/swagger-api/swagger-codegen/pull/4585, we'll need to set a proper `embeddedTemplateDir` for the following generators:

[code]

##### Swagger-codegen version

Latest master

##### Swagger declaration file content or url

##### Related issues

#4584 , https://github.com/swagger-api/swagger-codegen/issues/4584

##### Suggest a Fix

Apply a fix similar

[2017-01-19 10:38] schnabel commented on #4066
@wing328

The Problem is not solved by this PR. The java mapping is still the same :-(.
Is there a problem with my PR?

[2017-01-19 11:10] maik-kulbe commented on #4071
Sorry this took me so long, but didn't find any time to tackle this until now.

I've added the options after patching the generated code and working my way backwards to the template files, but I'm strugglng with the test setup you got for this codebase. Is there any extensive guide on how to set everything up? I'm not familiar with Maven or Java and at the moment I can't even get the script under

[2017-01-19 11:32] #4592 closed

[2017-01-19 11:34] wing328 commented on #4071
@maik-kulbe No worry. Please submit the PR and I'll update the PHP Petstore sample for you.

[2017-01-19 13:00] Vario commented on #4546
its more difficult than i thought and i'm not sure if i can solve it as fast as i would need it..
matching objective c with the swift code structure seems to be completely different.

[2017-01-19 13:02] klpanagi commented on #3786
Hi @SellamiRami

The is an issue of the  [swagger-spec-validator v2.0.2](https://github.com/Yelp/swagger_spec_validator) that [connexion](https://github.com/zalando/connexion/blob/master) uses to validate responses and has been resolved in **v2.0.3**.

Resources:
- OAI/OpenAPI-Specification#260
- Yelp/swagger_spec_validator#50

An easy way to install (or upgrade) **swagger-spec-validator-v2.0.3**

[2017-01-19 13:11] etsardou commented on #3786
@wing328 I think with @klpanagi 's answer the issue can be closed!

[2017-01-19 13:26] Vario commented on #4536
actually i'm getting stuck loading the project, the entire project is empty.

[2017-01-19 13:56] SellamiRami commented on #3786
@klpanagi thank you for response. I have already detected the problem. In fact, I putted the `type` of `parameters` (e.g. string, integer, etc.) between " " and the boolean values ( true or false)  of the `required` attribute between " " also.

I removed that and it perfectly works now.

Thank you for your support.

Have a nice day :)

[2017-01-19 14:00] #3786 closed

[2017-01-19 14:26] wing328 commented on #4536
@Vario you may want to try "git clone https://github.com/swagger-api/swagger-codegen.git" again in a new directory to see if that makes any difference.

[2017-01-19 14:38] tomekc commented on #4536
@Vario were you trying to load project in IDE? Why not trying command line. Checkout as @wing328 say, then enter the project directory in Terminal,

[code]

and then

[code]

should run your newly built swagger-codegen.

[2017-01-19 14:54] Vario commented on #4536
okay, i got the new jar file, but the query parameters are still missing. they are listed in the method description above as query but in the var path= "/url..../ nothing like ?parameter={value} can be seen or is used in the code below.

[2017-01-19 15:00] tomekc commented on #4536
Can you share swagger specification (YAML preferred) of the method you want code generated? Rename things if you need, just want to make sure we are on the same page.

[2017-01-19 15:27] wing328 commented on #4514
PR by @jimschubert merged into master. Closing this one.

For 1, please open a new issue for tracking.

[2017-01-19 15:27] #4514 closed

[2017-01-19 16:15] wing328 commented on #2694
@kenisteward thanks for the questions.

Not sure what you mean by that. Which`option` are you referring to? `npmName` is not a boolean option if I understand correctly.

2. The logic should be added to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractTypeScriptClientCodegen.java

3. We're targeting Jan/Feb 2017 fo

[2017-01-19 16:22] wing328 commented on #4546
@jaz-ah @jgavris @hexelon any pointer on how @Vario can add the headers based on `consumes`, `produces` provided in the spec to Swift3 API client?

[2017-01-19 16:23] wing328 commented on #4567
@jasco ok. will use that one to track instead.

[2017-01-19 16:23] #4567 closed

[2017-01-19 16:52] kenisteward opened #4598 "Swagger-Codegen-Maven-Plugin currently does not allow for a flag to set documentation generation type."
##### Description

In the base swagger-codegen-cli a user is allowed to set for generation of HTML documentation by using the -l flag with the html option.  With the current maven plugin code there is no corresponding flag.  It would be nice to be able to have this for deploying fully documented SDK's.

##### Swagger-codegen version

2.2.1

##### Related issues

I looked for this by searching all

[2017-01-19 17:15] kenisteward commented on #2694
@wing328 In the original suggestion @Vrolijkx suggested "to only generate these files when the npmName option is passed."  I was just clarifying that we actually want that functionality.  I also miswrote tsconfig meant to put typings.  In the original suggestion he put typings should be optional.

[2017-01-19 17:37] kenisteward commented on #4598
I think I may have misunderstood what docs were generated.  I now see that it was just the language flag and the docs for the API are generated not docs for the generated SDK.  Is there anything that makes docs for the SDK?

[2017-01-19 18:00] yuniorb opened #4599 "Generate using maven plugin from command line?"
##### Description

I am trying to use `swagger-codegen-maven-plugin` to generate the client for a `java` project.
Unfortunately, the generation fails with the following error: `Failed to execute goal io.swagger:swagger-codegen-maven-plugin:2.2.0:generate (default-cli) on project employee-cmd: The parameters 'inputSpec', 'language' for goal io.swagger:swagger-codegen-maven-plugin:2.2.0:generate are

[2017-01-19 19:30] Vario commented on #4536
problem solved, i updated the jar file, but not the templates, and 4 days ago a commit changed them to include query parameters. this issue is solved!

[2017-01-19 19:48] FilipHarald commented on #2197
@wing328 unfortunately I do not have time at the moment. I ended up using [swaggerize-express](https://github.com/krakenjs/swaggerize-express) instead. Thank you for inviting me to contribute anyways!

[2017-01-19 20:09] jfiala commented on #4087
No, I think the manual process of running the shellscripts is tiresome and leads to outdated generated sample files (I've had this numerous times), which forces the updated to also fix other bugs that have creeped into the language. Also, the shellscripts use different contracts which adds additional complexity.

I'd suggest to setup a separate integration-test project which will  automatically ge

[2017-01-19 22:17] toomuchpete commented on #4511
@wing328 -- I don't want to mess with the workflow for this issue, if one exists, but the fix for this issue has been merged in. Should this ticket be closed now?

[2017-01-19 22:22] toomuchpete commented on #4538
I'll take a swing at this and see what I can come up with.

[2017-01-19 23:01] boldtrn opened #4601 "Generating clients for multiple languages"
I am currently trying to create Swagger clients using the Swagger-Codegen for multiple languages. Everything is fine for a single language, but when doing it for multiple languages the complexity seems to increase unnecessarily.

Some of the options in my config.json file are not supported/available in other languages and therefore I would have to create a config file for every language, which mak

[2017-01-20 02:50] wing328 commented on #4511
@toomuchpete I just closed it. Thanks for the reminder.

[2017-01-20 02:50] #4511 closed

[2017-01-20 03:07] wing328 commented on #2197
@FilipHarald np and thanks for sharing swaggerize-express, which looks good. I'll give it a try as well.

[2017-01-20 03:16] wing328 commented on #2694
@kenisteward thanks for the clarification. May I know if you've time to contribute the enhancement? I can show you some good starting points and work with you to generate those files.

[2017-01-20 03:16] wing328 commented on #4536
Glad to hear that it's now resolved.

[2017-01-20 03:16] #4536 closed

[2017-01-20 03:16] wing328 commented on #4536
Thanks @tomekc for addressing this issue.

[2017-01-20 06:14] wing328 commented on #4598
@kenisteward depends on which generator you're referring to. Some generators like C#, Java, Ruby, PHP, etc come with auto-generated SDK documentation in markdown format. Other generators like Flash are pending community contribution for the auto-generated SDK doc.

[2017-01-20 06:29] Vario commented on #4546
5 days ago a new template for swift 3 was commited and i havent recognized that. now the Content-Type is added correctly!
thank you guys

[2017-01-20 06:43] wing328 commented on #4546
@Vario thanks for the update.

[2017-01-20 06:43] #4546 closed

[2017-01-20 07:03] #4298 closed

[2017-01-20 07:05] Vrolijkx commented on #2694
At the start, there was a little discussion with the node typescript codegen author about the usefulness of the ```package.json``` file. His opinion was that people would embed the generated code in their own project opposed to importing it. Se we decided to make it optional. Maybe we need revise that decision

In the future, the ```typings.json``` should be removed in favor of ```@typings/[needed

[2017-01-20 07:07] wing328 commented on #4595
Closed via #4603

[2017-01-20 07:07] #4595 closed

[2017-01-20 08:33] tharders commented on #4554
@wing328 you say its easy, so I gave it all a try.
I followed the steps in the contribution documentation and here is the pull request:
https://github.com/swagger-api/swagger-codegen/pull/4604
It was a little bit confusing that the windows script to generate the petstore client was not updated in accordance with the shell script, but I also changed that.
I hope I did't miss anything.

[2017-01-20 09:16] aleksei-saharov opened #4605 "[C# .NET 2.0] 'Event' & 'Response' words crush code-gen"
Hi, all

I found that code generation to `C# .NET 2.0` do not work if I use 'Event' or 'Response' word.

YAML
[code]

I got `Code Generator Error`. I did not have it with `C#` (not `C# .NET 2.0`) client generation.

I think that there are reserved words for generator but they did not flag as reserved.

[2017-01-20 10:01] eamon316 opened #4606 "(Spring) SubClass annotations are missing from the base class"
##### Description

Applying fix for #2449 to **_JavaSpring_**

##### Swagger-codegen version

2.2.2-SNAPSHOT

##### Swagger declaration file content or url

##### Command line used for generation

java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate \
   -i modules/swagger-codegen/src/test/resources/2_0/allOfTest.yaml \
   -l spring \
   -o /tmp/java_spring

##### Steps to

[2017-01-20 11:28] davidteixeira opened #4608 "[JavaScript] undefined 'pet' variable in tests"
##### Description

When generating a JavaScript client from swagger.yml  file, all tests include the 'pet' variable, which is not defined anywhere in the project. This results in a Reference Error when testing:
`ReferenceError: pet is not defined`

##### Swagger-codegen version

I am using the latest swagger-codegen version.

##### Swagger declaration file content or url
    describe('UsersApi', f

[2017-01-20 11:34] dcolens opened #4609 "java.lang.NullPointerException"
##### Description

Getting Exception in thread "main" java.lang.NullPointerException
	at io.swagger.codegen.DefaultGenerator.generateParameterId(DefaultGenerator.java:832)
	at io.swagger.codegen.DefaultGenerator.processOperation(DefaultGenerator.java:756)
	at io.swagger.codegen.DefaultGenerator.processPaths(DefaultGenerator.java:725)
	at io.swagger.codegen.DefaultGenerator.generateApis(DefaultGene

[2017-01-20 13:05] dcolens commented on #4609
Did more testing and this is the line that causes the crash in the swagger.json file (note that the file loads fine in both swagger editor and viewer):
[code]
If I replace the $ref by the corresponding block, it goes fine.

[2017-01-20 14:03] jfiala opened #4610 "CLI-option to only generate the sources in src/gen (interface + models)"
##### Description

Add a cross-language CLI-option to generate only interfaces/models without impl/tests/config whatsoever
(for Jaxrs languages this will in fact mean that the interfaces should be identical finally)

The basic idea is that usually only interfaces/models always need to be generated, all others are usually only needed for the first run of the generator and when using the maven task

[2017-01-20 14:03] jfiala commented on #4514
created #4610 to track number 1, so we can close this one.

[2017-01-20 17:11] nickcmaynard commented on #4295
@wing328 are you planning on this as part of the v2.2.2 push, or sooner?  I recall the plan (from #4214) was to do it after merging some v2.3.0 changes, but I'm not sure if this has ben lost.

[2017-01-20 17:16] wing328 commented on #4295
@nickcmaynard yes, still in our plan.

@cbornet is helping me to sync master to 2.3.0 due to some conflicts related to Java's `datetime` dependencies.

We'll run the formatter after the sync.

[2017-01-20 18:15] nickcmaynard commented on #4295
Thank you.

[2017-01-20 20:06] toomuchpete commented on #4538
Hi, @wing328 -- thanks for your patience on this issue. I have a question on expected behavior.

If a user specifies a custom invokerPackage (`Foo` for example) and a custom apiPackage (`Bar`), what should happen?

Current behavior is a broken library because API Classes get the namespace `Bar` but the autoloader doesn't get an entry for that. There seems to be a few options.

1. **Always prefix `

[2017-01-20 20:09] DavidBiesack opened #4611 "html output adds backslashes to double quotes"
##### Description

An Open API contains a schema with a property
[code]

which Swagger UI renders correctly

templateCatalogName (string, optional): The name of the template catalog to use if set or "CREATE" if one is to be created. ,

but which swagger-codegen with output language `html` renders incorrectly as

templateCatalogName (optional)
String The name of the template catalog to use if set o

[2017-01-20 22:05] gconst02 opened #4612 "[ANDROID/Volley] basePath is set to localhost when "host" missing from Swagger Specification"
##### Description
[code]
When executing the above and "host" field is missing from swagger.json the basePath in generated java api files is set to "http://localhost/..." instead of "http://example.com/..."

##### Swagger-codegen version

swagger-codegen-cli-2.2.1.jar

##### Command line used for generation
[code]
##### Steps to reproduce

Remove "host" field from swagger.json, place it on a server

[2017-01-20 22:08] kenisteward commented on #2694
@wing328 I can spend some time on this.  Where should I start? I'll go read the contributing post.

[2017-01-21 08:51] wing328 commented on #4538
@toomuchpete  Please go with the first option.

One suggestion is to update the help text for these options with examples so as to elaborate on the usage.

cc @arnested

[2017-01-21 09:05] wing328 commented on #4612
If you want to customize the base path, I believe you can do so in the Android (volley) API client.

There are other ways to generate Android clients as well: https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-01-21 11:13] wing328 commented on #4466
I've submitted #4614 (merged) for the enhancement.

Please pull the latest master to give it a try.

[2017-01-21 11:13] #4466 closed

[2017-01-21 13:39] jfiala commented on #4581
@markus-wa I think setting the http response code should be done using exceptions, there you can set any return code you like (e.g. 404 NotFound, Not Authorized etc.). You also document these exceptions in the dynamic swagger contract using the swagger annotations.
So every method will return 200 by default, if you need exceptions use an exception.

I'm aware that this doesn't cover e.g. 201 creat

[2017-01-21 14:26] markus-wa commented on #4581
Sorry, I am confused by

what do you exactly mean by that?

For error codes I certainly agree it's best to use exceptions but it should still be possible to set the code for 2xx since the contract might define multiple responses with pre-defined or custom codes implying different results.

Whether that would be good practice or not is debatable.

I also noticed that

[code]

generates

[code]

So

[2017-01-21 17:12] mbucc opened #4617 "ApiResponse and importModels don't mix"
[JAVA]

##### Description

We have our own ApiResponse object.  In fact, we would like to use importModels config
for all models.

However, even though ApiResponse is listed in importModels config, the code gen for jaxrs-resteasy
insists on importing ModelApiResponse.  I cannot figure out how to tell it "no really, use ours".

I spent a few hours yesterday and could not track it down.  Grepping th

[2017-01-21 17:13] jfiala commented on #4581
I mean if you do code first you simply define

[code]
to use multiple return codes with different types.

For contract first, I think we need a flag for the method to generate javax.ws.rs.Response instead of the default response type A currently used for such cases.

[2017-01-21 17:15] jfiala commented on #4581
Please also see https://github.com/OAI/OpenAPI-Specification/issues/146 for a discussion about this topic, although it is about using different response types for the same response code.

[2017-01-21 17:16] mbucc commented on #4512
@jfiala  What do you think about putting the EAP version in the language name?  For example, renaming jaxrs-resteasy to jaxrs-reasteasy-eap7?  RestEasy 3 (and other libs in pom) are not included in EAP6, so jaxrs-resteasy did not build for me out of the box.

[2017-01-21 17:17] jfiala commented on #4581
@wing328 do you have an idea how we can set a flag to default to  javax.ws.rs.Response instead of the default response type?

[2017-01-21 17:21] jfiala commented on #4512
@mbucc I think this would be a good starting point, as I worked only with EAP 7 here, this way we can also target for 2.2.2.
Later if we can warrant backwards compatibility somehow for EAP 6 we can then replace jaxrs-resteasy (for 2.3).

[2017-01-21 18:46] mbucc commented on #4512
@jfiala FWIW, you can rename existing jaxrs-resteasy if you like.  It will not work with eap6.

[2017-01-22 00:25] fehguy opened #4618 "QT5 model names are being mangled"
##### Description

the qt5cpp templates have a regression.  Now when you have a model property defined in `camelCase`, the template is trying to deserialize the response into `snake_case`, which obviously fails.

##### Swagger-codegen version

master, 2.2.2-SNAPSHOT

##### Swagger declaration file content or url

Verified in petstore:

https://github.com/swagger-api/swagger-codegen/blob/master/sam

[2017-01-22 07:09] wing328 commented on #4618
Fixed via https://github.com/swagger-api/swagger-codegen/pull/4619

[2017-01-22 07:09] #4618 closed

[2017-01-22 07:11] wing328 commented on #4610
@jfiala currently we can generate `models`, `apis` or supporting files via the following options:
[code]
Ref: https://github.com/swagger-api/swagger-codegen#selective-generation

Would that meet your requirement?

[2017-01-22 08:35] wing328 commented on #4430
I did another test but couldn't repeat the issue. Here is what I got:
[code]

[2017-01-22 09:12] wing328 commented on #4608
@davidteixeira thanks for reporting the issue. I think you will need to update the following line:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/Javascript/api_test.mustache#L44

May I know if you've time to contribute the fix?

[2017-01-22 09:42] wing328 commented on #4605
@aleksei-saharov fixed via #4620. Please pull the latest master to give it a try.

[2017-01-22 09:42] #4605 closed

[2017-01-22 12:09] jfiala commented on #4610
@wing328 yes, I think that is sufficient, thanks for the hint!

[2017-01-22 12:11] jfiala commented on #4610
Closed as the CLI parameters are sufficient.

[2017-01-22 12:11] #4610 closed

[2017-01-22 12:21] jfiala commented on #4512
@mbucc for which Resteasy/Jboss version was the current implementation supposed for?
I'd like to greatly simplify the generated files as there are only interfaces/models and one initialization class needed to work with Jboss EAP 7.

[2017-01-22 13:05] mbucc commented on #4512
@jfiala here is my understanding: existing jaxrs-resteasy codegen only works for EAP 7.

* the pom uses resteasy 3 (https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/JavaJaxRS/resteasy/pom.mustache#L164)

* EAP 6 provides resteasy 2 (https://access.redhat.com/articles/112673.)

* the generated code fails to compile if you downgrade rest easyversi

[2017-01-22 13:49] davidteixeira commented on #4608
@wing328 thanks for the info. Sure, I'll open a pull request in the next few days.

[2017-01-22 13:51] wing328 commented on #4608
@davidteixeira thanks. Let us (the community) know if you need any help on that.

[2017-01-22 14:14] mbucc commented on #4512
@jfiala I just realized something.  Resteasy is a stand alone library, so I suspect the author built this codegen for that scenario.

At work, I use JBoss container, which provides RestEasy, so I was only thinking about this codegen in context of JBoss.  But there are other containers where the war artifact built here will work just fine.

Sorry for the diversion!

(Seems like I should simply crea

[2017-01-22 23:52] damienpontifex commented on #1487
@wing328 @fzakaria any opinions on closing this now that #4589 is merged into master?

[2017-01-23 07:00] boldtrn commented on #2449
Isn't this fixed by #4085?

[2017-01-23 07:08] wing328 commented on #1487
Thanks for the PR from @damienpontifex. Please pull the latest master to give it a try.

[2017-01-23 07:08] #1487 closed

[2017-01-23 07:11] boldtrn opened #4622 "Which languages support polymorphism?"
**Usecase:**

My goal is to generate clients from a swagger spec in most of the available languages.

**Problem:**

My API requires to use polymorphism. So polymorphism seems to be not fully supported by the swagger-codegen yet? Is there an overview to see which language supports it or not. I think this would be really helpful (not only to me :)).

What I found out by reading issues is that: Java,

[2017-01-23 08:10] wing328 commented on #4611
@DavidBiesack I think one way to address the issue is to use `unescapedDescription` instead: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenProperty.java#L14

May I know if you've time to contribute a fix?

[2017-01-23 08:21] jfiala commented on #4512
@mbucc OK, thx for the clarification. I'd like to provide the first draft with name resteasy-jboss and I'll test it for both jboss 6 and 7 eap (better put language first, then target jee server). In the next step/release 2.3, we could replace the existing resteasy language.
It would be great if you can give it a test run, we can then also check how to fix your issue #4617.

[2017-01-23 12:21] eblis opened #4625 "NullPointer exception while trying to use swagger-codegen-maven-plugin 2.2.2-SNAPSHOT to generate Spring server"
##### Description
I'm trying to generate Spring server-side sources from swagger.json and I'm consistently getting a NullPointerException after all files have been generated.

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal io.swagger:swagger-codegen-maven-plugin:2.2.2-SNAPSHOT:generate (generate-server) on project adapter: Execution generate-server of goal io.swagge

[2017-01-23 12:58] eblis opened #4627 "Embedded mustache files are used even if TemplateFolder option is specified and contains a different version of the mustache file (in a library folder)"
##### Description

I'm trying to generate Spring-Boot server sources from a swagger.json file and I'm specifying my own TemplateFolder which was copied from the original `JavaSpring` template folder and subsequently modified. I've modified the `pom.mustache` file for all 3 Spring libraries (`spring-boot`, `spring-cloud` and `spring-mvc`) and none are taken into consideration while generating for `

[2017-01-23 13:03] wing328 commented on #4608
PR merged into master. Thanks for the contribution from @davidteixeira

[2017-01-23 13:03] #4608 closed

[2017-01-23 13:42] eblis commented on #4627
This seems to affect all languages that have libraries, not limited to Spring.

[2017-01-23 14:42] DavidBiesack commented on #4611
i'll try to find time to post a pull request. Thanks for the code pointer; I would not have known where to start.

[2017-01-23 15:41] cacti77 commented on #1088
@yzats:

I agree 100%! Another workaround is to wrap the enum in another object, e.g., ColorTypeWrapper, that is of type `object` but only has one property - the Color enum you want to use. Then everywhere else in the spec you reference ColorTypeWrapper. This way you only have to define the enum once in your spec.  But I fully admit it's an ugly workaround!

[2017-01-23 17:43] DavidBiesack commented on #4611
I changed `{{description}}` to `{{unescapedDescription}}` in the `htmlDocs` and `htmlDocs2` `*.mustache` files. This is an improvement; the double quotes are not escaped. My sample uses
[code]
The `html` output does **not** show the description with the markdown or HTML markup working. I see

`A description string with escaped "double quotes". This is a multi-line description. Try some <strong> bo

[2017-01-23 17:49] fehguy commented on #4611
Please keep in mind that we have to escape strings or we'll get another nasty XSS vulnerability report.

[2017-01-23 18:03] webron opened #4631 "android client generation problem on list of enum"
_From @dvalishvili1 on January 23, 2017 12:50_

- swagger-ui version '2.0'
- generated on http://editor.swagger.io/

enum is:
  `public enum CardType
    {
        Unknow = 0,
        Amex = 10,
        Visa = 11,
        MasterCard = 12,
        Maestro = 13
    }`
 property in model:
`public IEnumerable<CardType> PaymentMerchants { get; set; }`

generated android client model is:
`  public enum

[2017-01-23 18:19] DavidBiesack commented on #4611
For XSS, I can understand escaping <script> or other HTML tags. However, escaping a nested quoted string
[code]

so that it renders as

A description string with escaped \"double quotes\".

does not seem related to XSS but rather source code escaping. This is inherited from DefaultCodegen.java
[code]
and [org.apache.commons.lang3.StringEscapeUtils](https://commons.apache.org/proper/commons-lang/ja

[2017-01-23 19:04] martinkbrown opened #4632 "std::to_string() is undefined for Android"
##### Description

The cpprest resource uses std::to_string() in apiclient-source.mustache and modelbase-source.mustache. This causes builds to fail in Android, even using the latest versions of the NDK. I was able to reproduce the issue with NDK versions r12b, r13b, r14 beta 1.

##### Swagger-codegen version

2.2

##### Swagger declaration file content or url

##### Command line used for generati

[2017-01-23 19:22] #4617 closed

[2017-01-23 19:25] mbucc commented on #4617
Solution:

Remove reserved word from AbstractJavaCodegen.reservedWords set.

In last line of JavaResteasyServerCodegen constructor, call `removeReservedWord("ApiResponse");` where that routine is defined as

[code]

[2017-01-23 20:28] mankr1981 opened #4634 "Is it possible to generate model in multiple directories"
We our model json's in multiple directory structure and wanted to check is there a possibility using code generator I can have my model classes in multiple directory using the name of schema folder.

For e.g. - we provide model package to generator but I want with that package it also add the folder name as  well where the schema resides.
package input - com.schema.model
schema dirs - common, clie

[2017-01-23 20:33] jfiala opened #4636 "Backport beanValidationParams.mustache to all other languages"
##### Description

From #4615: Backport the merged beanValidationParams.mustache into all other languages supporting BeanValidation.

Prerequsites: PR #4615 should be merged into master.

##### Swagger-codegen version

2.2.2-SNAPSHO

##### Related issues

see #4615

[2017-01-23 21:37] karux commented on #192
please link to related issue.   subType doesn't seem to be fully baked into the spec.

[2017-01-23 21:39] karux commented on #3544
does the project have a test exercising this use case?

[2017-01-23 22:27] dkdndes commented on #4622
http://stackoverflow.com/questions/2835793/how-does-polymorphism-work-in-python

[2017-01-23 23:09] DavidBiesack commented on #4611
It looks like {{unescapedDescription}} is not set for parameters (body, query, path, etc). Running `bin/html2-petstore.sh ` results in diffs such as the following:

[code]

Note: I've updated `modules/swagger-codegen/src/main/java/io/swagger/codegen/CodegenParameter.java` :+1:
[code]

but I don't see where these CodegenParameter objects are instantiated/populated; there is no CodegenParameter from

[2017-01-24 00:06] boldtrn commented on #4622
@dkdndes Thanks for your response, but I was not referring to the general possibility of the language to support polymorphism, but if the swagger-codegen is able to create code from a swagger spec that uses polymorphism. This seems not to be true for every language so I was wondering if there might be a way to get an overview.

[2017-01-24 00:23] wing328 commented on #4622
@boldtrn I believe C# and Javascript have better support for polymorphism and I agree with your comment that some languages (e.g. Flash/Actionscript) do not have proper polymorphism support yet.

Which language(s) you would like to see polymorphism support? Is that something you can also help contribute?

[2017-01-24 00:30] wing328 commented on #4634
@mankr1981 that's a very special requirement, which may be possible by customizing `modelFileFolder` in the generator, e.g. https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/PhpClientCodegen.java#L323

You may also consider writing a script to move the model files around after the code generation based on your requirement.

[2017-01-24 00:33] wing328 commented on #4632
@martinkbrown thanks for reporting the issue and proposing the fix.

We'll review your PR when it's ready.

(I'm sure you aware that Swagger Codegen can also generate Android API client)

[2017-01-24 00:38] wing328 commented on #3544
@karux currently, we've the following tests related to inheritance in the test spec: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml#L968-L996

Please feel free to suggest more test cases covering different issues.

[2017-01-24 00:47] wing328 commented on #4617
@mbucc yes, that's one way to workaround the problem. Thanks for sharing the details of your fix.

[2017-01-24 02:42] wing328 opened #4637 "CI (travis) tests failed for Python API client"
##### Description

CI tests failed with the following error message:
[code]
Ref: https://s3.amazonaws.com/archive.travis-ci.org/jobs/194540409/log.txt

There's been no change to the Python API client.

##### Swagger-codegen version

Latest master

##### Steps to reproduce

I could repeat the issue locally in my machine.

If I run `./test_python2.sh`, the tests pass locallly without issue. But if I

[2017-01-24 02:43] wing328 commented on #4637
@scottrw93 I wonder if you can take a look when you've time. I spent some time troubleshooting the issue but couldn't really figure out what went wrong.

[2017-01-24 03:14] boldtrn commented on #4622
@wing328 Thanks for your reply.

Actually I'd love to generate clients for all available languages. So it would be great if at least all major languages would support polymorphism. I think if we had to skip some minor languages that would be fine. The alternative would be to model our API without polymorphism. This would make our API less powerful, but the essentials would still work.

The languag

[2017-01-24 09:26] angusi opened #4638 "Model names shadowing language provided types collide in generated code"
##### Description
When using a reference in the Swagger schema where the referenced definition shares its name with a language-provided type, generated code does not make a distinction between the language type and the generated model.

This results in an inability to properly (de)serialize params. This applies to multiple languages, but as an example, when the below Swagger file is generated as S

[2017-01-24 13:43] krmaxwell opened #4639 "[Python] Proxy support in generated Python module"
##### Description

Currently, the generated Python module does not support proxy usage. Is this something in the works? I've cobbled together some modifications to the code but am unsure of the best way to specify the configuration. My current setup uses an environment variable that is automatically detected and used at runtime. Using the requests library would also streamline this greatly.

#####

[2017-01-24 15:16] realzeus opened #4640 "async-scala codegen places Invoker in wrong directory"
##### Description

async-scala codegen places Invoker in wrong directory.
It's always placed in `io.swagger.client` but contains `package` statement with value provided as `--invoker-package` to `swagger-codegen-cli`.

##### Swagger-codegen version

2.2.1

##### Command line used for generation

[code]

##### Steps to reproduce

invoke swagger-codegen-cli for language `async-scala` and provide `--

[2017-01-24 16:47] wing328 commented on #4640
@realzeus thanks for reporting the issue. May I know if you've time to contribute a fix?

In the future, we plan to combine both `async-scala` and `scala` clients into the same `scala` API client providing both sync and async HTTP calls.

[2017-01-24 16:53] wing328 commented on #4639
@krmaxwell thanks for reporting the issue and proposing a fix.

For PHP, we've added the proxy-related properties to the configuration class: https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/php/SwaggerClient-php/lib/Configuration.php#L144-L178

For Python, I think we can do something similar.

[2017-01-24 17:13] DavidBiesack commented on #4611
PR #4641 submitted

[2017-01-24 19:45] khalidx commented on #1575
When I had this issue, I converted my swagger file from YAML to JSON using the online Swagger editor (editor.swagger.io). The swagger-codegen tool ran fine after that. I guess It must be some formatting thing like @maxusoltsev said.

[2017-01-24 19:48] normand1 commented on #4126
This is a good idea, I think using structs would ultimately help with swift3 compile times.

[2017-01-24 20:33] cbornet commented on #4126
Talking about swift models, I think using https://github.com/tristanhimmelman/AlamofireObjectMapper would be best.

[2017-01-24 21:31] DavidBiesack opened #4644 "Maven build fails in swagger-generator starting jetty; port in use"
I'm building clean from source in a Jenkins job on a Red Hat Enterprise Linux system
[code]
and this fails in `swagger-generator`:
[code]

I also tried to build with skipping tests, thinking perhaps tests are trying to start a service on 8080 (the `swagger-generator/pom.xml` mentions  ports 8079 and 8080)

[code]

I tried to to [exclude the module](http://stackoverflow.com/questions/13266470/how-d

[2017-01-24 21:53] fehguy commented on #4644
Sorry, you'll have to stop whatever you have running on port 8080.  Part of the build is to run integration tests, and that means starting up the server.  You can probably disable those with `mvn install -DskipITs`.

[2017-01-24 21:53] #4644 closed

[2017-01-24 23:25] fehguy opened #4645 "Allowable values not returned correctly in error message"
##### Description

This is a non-operational issue, but in the php client, the `allowableValues` are listed in a response error message when a model property is constrained by `enum`.  In the current (2.2.2-SNAPSHOT) version, this value is not correct, which gives an incorrect error message to the caller

For example:

[code]

The generated code looks like this:

[code]

[2017-01-25 00:39] fehguy opened #4647 "invalid nodejs titles can lead to illegal project names"
##### Description

Per https://docs.npmjs.com/files/package.json#name, the title of a project is constrained to certain characters.  Currently the codegen will let essentially anything go into the name, with the exception of replacing some underscores to dashes.  Needs to be more aggressive and adhere to the npm naming policy

##### Swagger-codegen version

2.2.2-SNAPSHOT

[2017-01-25 03:03] wing328 commented on #4126
Yes, I suggested something very similar before via https://github.com/swagger-api/swagger-codegen/issues/2194

@dagio @normand1 would the ObjectMapper meet your need?

One thing to consider is to handle JSON key with special characters (e.g. "date-time").

[2017-01-25 04:10] wing328 commented on #4637
Closed via #4643

[2017-01-25 04:15] wing328 commented on #4631
@djvaldez as a workaround, please generate the Java API client instead, which has better support for enum:

https://github.com/swagger-api/swagger-codegen/wiki/FAQ#how-can-i-generate-an-android-sdk

[2017-01-25 09:06] dagio commented on #4126
@wing328 ObjectMapper is not necessary to support struct. It can be done without introducing a new dependency. I will make a PR this week to share what I did.

[2017-01-25 09:11] wing328 opened #4649 "[NodeJS] Integer value changed to decimal in the auto-generated spec"
##### Description

For details, please refer to  https://github.com/swagger-api/swagger-codegen/pull/4648#pullrequestreview-18326471

Likely the issue also impacts other server stub generators that generate the spec (yaml) as part of the code generation.

##### Swagger-codegen version

Latest master

##### Swagger declaration file content or url

petstore.yaml in the project

##### Command line us

[2017-01-25 09:28] wing328 commented on #4126
@dagio I'm aware that `struct` has no dependency on `ObjectMapper`.

Just want to make you aware of the option.

[2017-01-25 12:27] BastiOfBerlin opened #4650 "[Angular2] Invalid npm package name in package.json"
##### Description

The title of an API seems to be used as the npm module's name more or less directly. Unfortunately, the conventions for that name attribute are more restrictive than those for API title.
Specifically, [npm's docs](https://docs.npmjs.com/files/package.json#name) states that:

- The name must be less than or equal to 214 characters. This includes the scope for scoped packages.
- T

[2017-01-25 12:57] cbornet commented on #2194
👍

[2017-01-25 13:58] DavidBiesack commented on #4644
Adding `-DskipITs` does not work; the jetty tests still run an fail. Please do not close issues that are not resolved.

My suggestion is that the build use a settable property for the ports it uses. It is inflexible to require that port 8080 be free. I can't stop what is running on port 8080 (Tomcat and Jenkins) as this build is running in Jenkins.

[2017-01-25 15:29] fehguy commented on #4644
Sure but pegging to a different port will have the same effect, someone else will have a problem with it. Consider a PR to make the port configurable by system property. I consider this not a big but a specific environment issue

[2017-01-25 15:43] brucegodden opened #4651 "[JAVA] [okhttp-gson] Model class not imported in generated client code"
##### Description

The uploaded [example.zip](https://github.com/swagger-api/swagger-codegen/files/730033/example.zip) contains a simple swagger definition and configuration file that generates a client for the Java okhttp-gson library that fails to compile because an import of the model class used is missing.

The part of the definition that triggers this is the api response being of type List&lt

[2017-01-25 16:40] khorolets opened #4653 "[JavaScript] Handling empty array"
Hi! Thank for your great work once again! I wonder if you can help me.

##### Description

I'm using generated javascript client in my project and I've met a bug, I suppose.

If my API returns an empty array client is returning it to me as a string and fails with message:

It occurs in `src/ApiClient.js:exports.convertToType()`

[code]

I suppose this data is handled somewhere in `exports.prototyp

[2017-01-25 18:25] mzhang444 opened #4654 "Generated Javascript APIs ignore query parameter of type "array" and collectionFormat "csv" and use multi instead"
##### Description

For a query parameter of type "array" and collectionFormat "csv", the generated Javascript API treats the parameter as "multi" instead.

##### Swagger-codegen version

2.2.0

##### Swagger declaration file content or url

The following Swagger spec demonstrates this behaviour:
[code]
In the generated TestApi.js,
[code]

##### Command line used for generation

[code]
where config

[2017-01-25 20:28] sreeshas commented on #4634
@mankr1981 It is possible but it is not trivial. You have to extend existing Codegen class and introduce package layer. You should also consider how parent and child models are placed once you introduce packaging.

[2017-01-25 23:52] amingilani opened #4655 "Generated rails server README says code was generated for Sinatra."
Cross posting from https://github.com/swagger-api/swagger-editor/issues/1161

On the sample Instagram API, clicking "Generate Server > Rails" results in the following README file:

[code]

The offending part sentence is "... support inside the \[**Sinatra**\](http://rubyonrails.org/) framework" .. pretty sure you meant "Rails".

[2017-01-26 04:03] #4655 closed

[2017-01-26 09:51] megaboich opened #4657 "TypeScript-Fetch generates not compatible code for TypeScript with strictNullChecks mode enabled"
##### Description
When I copy generated client to my project with enabled strictNullChecks I obtain following errors:
error TS2454: Variable 'contentTypeHeader' is used before being assigned.
error TS2345: Argument of type 'FetchAPI | undefined' is not assignable to parameter of type 'FetchAPI'.

##### Swagger-codegen version

2.2 and 2.3

##### Swagger declaration file content or url

http://pets

[2017-01-26 10:12] wing328 commented on #4657
@megaboich thanks for reporting the issue. Please kindly submit a PR so that we can review the fix.

[2017-01-26 11:21] nazieb commented on #4530
@wing328 sorry, been busy lately.

I've sent the PR #4659 with some additional fix on the `listInvalidProperties()` method.

[2017-01-26 13:16] wing328 commented on #4530
@nazieb thanks for your contribution, which looks good to me.

I'll merge later today if no feedback/question from anyone.

[2017-01-26 14:49] #4530 closed

[2017-01-26 22:08] kenisteward commented on #2694
@wing328 should I use the current recommended through the TS ^2.0.0 @types or leave that for a future issue?

[2017-01-27 01:59] sreeshas opened #4660 "If a type's field is an array or a map, format of array or map's type is not copied into encapsulating type."
##### Description

Consider model A which has field  B, which is an array of type C.  if C has a data format ("format") it is not copied into B's format.  format information is lost.

##### Swagger-codegen version
Latest.

##### Swagger declaration file content or url

##### Command line used for generation

##### Steps to reproduce

##### Related issues

##### Suggest a Fix
format information sho

[2017-01-27 02:02] sreeshas commented on #4660
PR #4661 has the fix for this issue.

[2017-01-27 07:52] sreeshas commented on #4660
Here is an example. Consider json object User.  It has property called events which is an array of type string whose format is "date".   In DefaultCodegen.java  fromProperty method ignores dataFormat from a property if it is an array.

    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username":

[2017-01-27 09:08] veinSmart opened #4662 "[JAVA/] jaxrs/jersey2 java8-date codegeneration gives jersey1 imports"
##### Description

We are trying to generate jaxrs/jersey resoursces that take in OffsetDateTime values as parameters. But the generated OffsetDateTimeProvider class holds imports from com.sun.jersey packages that are from jersey1.

This causes some version clashes for us since we use the jersey2 classes from org.glassfish packages.

Codegen version 2.2.1, we are using the maven-plugin, with this

[2017-01-27 09:11] wing328 commented on #4653
@khorolets is it correct to say that `Object.keys(data).length)` failed to return `0` somehow and that's why the following logic failed to work with empty array (which should have 0 size/length)?

https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/ApiClient.js#L323-L326

[2017-01-27 09:12] wing328 commented on #4662
@veinSmart I would suggest you to pull the latest master to give it a try as there's been a lot of enhancements to the latest master to 2.2.1 release.

(we hope to release 2.2.2 in Feb 2017)

[2017-01-27 09:13] khorolets commented on #4653
@wing328 yes. Do you need me to provide anything else to help you understand why this is happening?

[2017-01-27 09:35] frol commented on #4653
I am not sure what was the case for adding `Object.keys(data).length` check, but since

[code]

It should be addressed with a more specific check or even get fixed in the `superuser` library.

[2017-01-27 09:36] wing328 commented on #4653
@khorolets I read this: http://stackoverflow.com/a/6700/677735, which suggests the approach is correct.

Are you using an old browser somehow?

[2017-01-27 09:40] frol commented on #4653
@wing328 `Object.keys(data).length` is fine by itself, but it catches too many cases as you can see in my previous comment, while I think, it should only catch `{}` (empty object) or `''` (empty string).

[2017-01-27 09:48] veinSmart commented on #4662
@wing328 Yeah, I thought of that and (correct me if I have understood this wrongly, but) I actually cloned the repo to my machine to look at the code and saw that the:

src/main/resources/JavaJaxRS/OffsetDateTimeProvider.mustache

file seems the be used for both jersey1 and jersey2 generation and it has the imports to the com.sun.jersey files here:

https://github.com/swagger-api/swagger-codegen/b

[2017-01-27 09:51] frol commented on #4653
This behavior was introduced in #4219.

@jordanyaker Could you please comment on this issue as it was your PR adding this `!Object.keys(data).length` check. Should be there added `(typeof data === 'object' && typeof data.length === 'undefined' && !Object.keys(data).length)` to ensure that we catch only empty **objects**?

[2017-01-27 10:16] wing328 commented on #4653
@frol just saw your detailed comments and agree with a more specific check to handle the issue.

[2017-01-27 10:59] Megamzero commented on #4095
I just found what the cause of this error.
The Generated file `ProgressRequestBody` was only call in POST requests.
this class keep an instance of `BufferedSink` and use it each time `writeTo` method was called
it work fine with GET requests cause `writeTo` is call only one time.

I was able to correct the error by changing the `ProgressRequestBody.mustache` template.
removed line 26 :
[code]

mod

[2017-01-27 11:51] vvalchev opened #4664 "[go] incorrect code generated, if there are more than 1 array parameters"
##### Description

I'm having a problem, when a method contains two array parameters.
The generated code looks like:
[code]

The problem is that the following line appears twice:
[code]

##### Swagger-codegen version

2.2.1
2.2.2-SNAPSHOT

##### Swagger declaration file content or url
[code]
##### Command line used for generation
[code]

##### Steps to reproduce

Use the provided yaml and the comm

[2017-01-27 11:59] vvalchev opened #4665 "[go] required object parameters are marked omitempty"
##### Description

I'm using a definition, where parameter is marked as required. Though, the generated code looks like:
[code]

##### Swagger-codegen version

2.2.1
2.2.2-SNAPSHOT

##### Swagger declaration file content or url
[code]

##### Command line used for generation
[code]

##### Steps to reproduce

Use the provided yaml and the command line to generate to go sources and then compile.

###

[2017-01-27 13:52] dolmen commented on #2231
It looks like someone has writter a R package generator: https://github.com/hrbrmstr/swagger
Does anyone has feedback?

[2017-01-27 17:33] wing328 opened #4667 "CI (travis) failure due to connection timeout"
##### Description

CI (travis) failed with the following errors:
[code]

Ref: https://s3.amazonaws.com/archive.travis-ci.org/jobs/195932322/log.txt

##### Swagger-codegen version

Latest master

##### Suggest a Fix

We'll restart the jobs after the timeout issue is resolved.

[2017-01-27 17:58] wing328 commented on #4625
Closed via #4626

[2017-01-27 17:58] #4625 closed

[2017-01-28 00:37] JLLeitschuh opened #4668 "global "consumes" flag should be ignored when method is GET or DELETE"
##### Description

In the Swagger UI if you have a global `consumes` set then all of the controllers (for example in spring) will have the `consumes` annotation filled in. This makes the swagger-ui not work for GET and DELETE.

You can read the discussion as to why here: https://github.com/swagger-api/swagger-ui/issues/2408

Basically it comes down to this:

##### Swagger-codegen version

Latest m

[2017-01-28 01:05] JLLeitschuh opened #4669 "Question: Plan for OpenAPI-Specification 3.0"
With the first Implementer Draft of the 3.0 spec due to be released at the end of February is there a plan to begin implementing the features of the 3.0 spec into the generator?

https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification

[2017-01-28 01:08] fehguy commented on #4669
We're getting there...

[2017-01-28 04:00] marekr opened #4670 "[csharp] generated enums attempting to assign strings"
##### Description

Using the EVE Online ESI Swagger definition, the generated csharp client code  is generated without error by the code gen however it cannot be compiled.  Observing the output, the generator correctly created an enum but then proceeded to try assigning strings to it which is invalid.

The problem can be seen here where Color is defined as ColorEnum

        /// <summary>

[2017-01-28 08:08] #4653 closed

[2017-01-28 08:22] wing328 commented on #4668
@JLLeitschuh swagger codegen (more precisely swagger parser) also supports global consumes and produces with an option to override the default (global) setting per operation.

Below is an example on how to reset the `consumes` to nothing (empty array):
[code]

Would this resolve the issue for you?

[2017-01-28 12:31] markus-wa commented on #4581
I'd suggest a flag like `useGenericWsResponse` and just set the return type accordingly.

Is this also something that could be useful in other jaxrs-* type servers? I don't know how these handle response types etc. right now.

If so I could probably come up with a fix for each one.

As it will affect some of the same templates as #4569 that issue should probably be fixed first though.

[2017-01-28 13:00] wing328 commented on #4667
The connection issue has gone.

[2017-01-28 13:00] #4667 closed

[2017-01-28 17:27] mkubista commented on #3483
Same problem when I tried to generate Swift code with references to definition with primitive type.

[2017-01-29 03:32] yaronlev171 opened #4671 "[JAVA] Okhttp leaks connections if response type is not defined or ill-defined"
##### Description

##### Swagger-codegen version

2.1.5, 2.2.1, master

##### Swagger declaration file content or url

[code]
##### Command line used for generation

generate -i swagger.json -l java -o .

##### Steps to reproduce

Create the DefaultApi object.
Use the DefaultApi to call the /api/somecall
Do not read the response explicitly - assume the call succeeded (it did).
Wait 5 minutes.
Okht

[2017-01-29 04:03] JLLeitschuh commented on #4668
I suppose it would. It's annoying that you need to put it on every `get` method.

[2017-01-29 04:34] wing328 commented on #4668
I would say that's the right way to do it as the spec should be the source of truth describing the REST API.

There are many tools built on top of Swagger/OpenAPI spec and I'm not aware of any implementing  the logic you described as likely other tools also assume the `consumes` is correctly defined.

[2017-01-29 04:36] wing328 commented on #3132
Hi all,

Thanks for the contribution from @jimschubert. We now have the first release of the Finch generator.

Please pull the latest master to give it a try and let us know if you've any feedback.

Best regards,
William

[2017-01-29 04:36] #3132 closed

[2017-01-29 04:42] wing328 commented on #3132
Tweet: https://twitter.com/wing328/status/825564638393704448

Please help retweet to promote the new server generator to other developers.

[2017-01-29 04:58] wing328 commented on #4671
Is it correct to say that the issue can also be fixed by defining a proper (correct) response?

[2017-01-29 05:31] yaronlev171 commented on #4671
Not really. You can enforce *your* api to be more strict by erroring in codegen if you wish, or even throwing an ApiException on null type. But allowing null types and then leaking because of it is not ok.This is quite a serious bug in your integration with okhttp. And in any case, for correctly defined 204's it's still going to leak.
-------- Original message --------From: wing328 <notifications@

[2017-01-29 15:09] jbhelm opened #4672 "XmlExampleGenerator does not properly handle properties of several numeric types"
##### Description

When generating example XML content using the XmlExampleGenerator, properties that are BaseIntegerProperty (integer with no format), DecimalProperty, FloatProperty, or DoubleProperty will output an error for the value, even if the the property includes an example value.

##### Swagger-codegen version

master

##### Swagger declaration file content or url

[code]

##### Command l

[2017-01-29 18:06] marekr commented on #4670
It appears the solution is to make the toDefaultValue section in AbstractCSharpCodegen.java match that of the javacodegen.

Namely

diff --git a/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java b/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractCSharpCodegen.java
index 10ccff3..cdeeba3 100644
--- a/modules/swagger-codegen/src/m

[2017-01-29 20:31] jbhelm commented on #4672
PR #4673 submitted.

[2017-01-29 21:37] jbhelm opened #4674 "xml:attribute on a response property defined inline improperly renders as an element in the XML example output"
##### Description

When defining a response property inline with the xml:attribute value set to true, the XML example output improperly renders the property as an element instead of an attribute. Note that when the response property is defined in the "definitions" section, the xml:attribute value works as expected and renders the item properly as an attribute.

##### Swagger-codegen version

maste

[2017-01-30 10:01] #4637 closed

[2017-01-30 10:09] wing328 commented on #4665
@vvalchev thanks for reporting the issue. Please kindly file a PR so that we can review the fix.

[2017-01-30 10:12] wing328 commented on #4664
@vvalchev Yup, that's one way to do it.

What about renaming `collectionFormat` to  `{{paramName}}CollectionFormat` instead?

[2017-01-30 10:14] wing328 commented on #4654
@mzhang444 the latest master seems to have better support for collection format in JS API client:
[code]

Can you pull the latest master to give it a try?

[2017-01-30 10:54] wing328 commented on #4650
@BastiOfBerlin what about providing the `projectName` when generating the JS API client?
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l javascript`

[2017-01-30 11:22] wing328 commented on #4650
@BastiOfBerlin have you tried the `npmName` option to customize the package name?
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l typescript-angular2`

[2017-01-30 12:24] BastiOfBerlin commented on #4650
@wing328 this works indeed and was a mistake on my side.

[2017-01-30 12:24] #4650 closed

[2017-01-30 20:31] jasco commented on #4032
Another work-around, also for the case of string values, was to update the `swaggerTypes` in the models that reference the enum to declare the field type as `string` rather than as the enum class.

[2017-01-30 21:59] erickson71 commented on #4114
Can you confirm that http://editor.swagger.io does not have this fix yet?
Thanks!

[2017-01-30 22:02] erickson71 commented on #4114
Just to clarify my last note: I am referring to the version of Code generator used by the "Generate Client" button. I am generating a Java client and am seeing similar symptoms, the inherited class does not have any properties when it should.

[2017-01-30 22:33] aparnarus commented on #3642
we just upgraded to 2.1.1 from 2.16. Is there any option to specify spring-mvc instead of spring boot. All of our current code is spring MVC based.

[2017-01-30 22:41] aparnarus opened #4679 "how to generate spring mvc server stub with swagger 2.2.1"
##### Description

we just upgraded swagger version to 2.2.1 from 2.1.6. We had generated server side code using spring MVC earlier. i cant seem to find an option to do that with 2.2.1, its picking up sprint boot. how can i still generate spring MVC code.

##### Swagger-codegen version

2.2.1

##### Swagger declaration file content or url

##### Command line used for generation

mvn io.swagger:swa

[2017-01-31 03:00] mikee opened #4680 "spring-mvc path enum generated code fails to compile"
##### Description

Generate code with an enum string path param and the generated spring-mvc code will not compile due to the way the generated enum values are quoted

Failing generated code - note the quoted values inside the allowableValues quote:
`public ResponseEntity<Void> demoGet(@ApiParam(value = "day of the week",required=true, allowableValues="{values=[Monday, Tuesday, Wednesday, Thursday

[2017-01-31 04:12] jimschubert commented on #4670
@marekr I opened a PR with your proposed change.

If you'd like to test it out locally (assuming you have maven and JDK locally):

[code]

where … is the rest of your options with relevant paths.

This will build 2.2.2-SNAPSHOT for you. There may be differences between the code generated here versus 2.2.1, probably most notable a nuspec is generated.

[2017-01-31 10:46] philipptrenz opened #4684 "[Python] Wrong file/import naming for server"
##### Description

Generated Python server code from Swagger Editor results at start in issue
[code]
The files inside `swagger_server/models/` are named e.g. `inline_response_200.py`

##### Swagger-codegen version

Version of http://editor.swagger.io : Version 2.10.3
(Couldn't find explicit swagger-codegen version)

##### Command line used for generation

By dropdown at editor.swagger.io, cmd to s

[2017-01-31 12:35] Aleksion commented on #3970
Hi,

I thought this was still the case, but after deep diving into the mustache code it seems you guys took care of it. Great job!

BUT, I still don't seem to auth added to the output. My guess is that either {{authMethods}} or {{isApiKey}} evaluates to false.
do I need to configure something else other than adding something like the code below to the swagger.json? (I added both oauth and apiKey t

[2017-01-31 14:09] wing328 commented on #4684
@philipptrenz can you share the spec (e.g. via gist.github.com) so that we can try to repeat the issue?

[2017-01-31 14:14] wing328 commented on #4671
@yaronlev171 thanks for sharing more with me. I agree with you that the leaking should be fixed.

May I know if you've time to contribute the fix by filing a PR?

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/1dd9ee39af6c4e2f9c016a94d16ca47a88a9cb0d/modules/swagger-codegen/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache#L1020

[2017-01-31 14:22] wing328 commented on #2938
Thanks for the PR from @timadamson

@inska please pull the latest master to give it a try.

[2017-01-31 14:22] #2938 closed

[2017-01-31 14:31] wing328 commented on #4601
@boldtrn thanks for the suggestion. Putting everything in a config is definitely one way to do it.

Personally I prefer separate configurations into different files for easier management. I've seen issues before that someone made a mistake in a giant config shared among different teams and as a result multiple systems were impacted. (this is not to say a huge config file is always a bad idea but s

[2017-01-31 14:54] wing328 commented on #3642
@aparnarus yes, you can specify the `library` option:
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l spring`

[2017-01-31 14:55] wing328 commented on #4679
@aparnarus yes, you can specify the `library` option:
[code]
Ref: `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l spring`

[2017-01-31 14:57] wing328 commented on #4650
@BastiOfBerlin np. Let us know if you've further question or feedback.

(we've just added Swagger Codegen to ProductHunt: https://www.producthunt.com/posts/swagger-codegen, please upvote if you find Swagger Codegen useful)

[2017-01-31 15:53] abaruni commented on #3914
https://github.com/swagger-api/swagger-codegen/pull/4678 has been created to resolve this issue

[2017-01-31 17:37] smmcneill commented on #3183
Is there a way to disable the generation of builder methods in model classes?  These methods are causing problems for me.

[2017-01-31 17:43] fehguy commented on #3183
Please open a new issue and explain what is causing the problem

[2017-01-31 18:21] mzhang444 commented on #4654
I tested with the latest code from master, collectionFormat 'csv' in swagger.json is properly recognized. The generated code for the query parameter looks like this:
var queryParams = {
        'select': this.apiClient.buildCollectionParam(opts['select'], 'csv')
      };

However, when the API sends the HTTP request, the URI looks like this:
```/test?select=string1%2Cstring2```
instead of
```/test

[2017-01-31 18:31] smmcneill opened #4687 "[JAVA] Builder methods causing Freemarker issues"
##### Description

Swagger generated model classes include builder methods which clash when executing Freemarker transformations.  An example:

[code]

[code]

When I try processing the Swagger model instance using the Freemarker template, Freemarker is clearly trying to use the name(String): Instance method rather than the getName method.  For this reason, the Freemarker processing fails.  If the

[2017-01-31 18:57] candlejack297 commented on #4671
@yaronlev171 there's no reason to close only if not closed. Calling close multiple times is fine (and explicitly supported by OkHttp).

[2017-01-31 19:05] JLLeitschuh opened #4688 "additionalProperties using ref to file does not generate correctly"
##### Description

Generating a map type in swagger where `additionalProperties` references a file results in the resulting simplified swagger file being wrong:

**Result of the yaml generator**
[code]

Result of the spring code generator
[code]

##### Swagger-codegen version

Latest master

##### Swagger declaration file content or url

**./definitions/FabricController.yaml**
[code]

**./definiti

[2017-01-31 22:02] boldtrn commented on #4601
@wing328 thank you for your answer.

You are right, it might not always be a good idea to write a big config file. IMHO right now it is too complicated to create clients that follow the best practice of the underlying language.

So how about creating a meta config that defines what languages to create (maybe referencing the language configuration file?) and a common set of attributes, for example

[2017-01-31 23:15] yaronlev171 commented on #4671
If I remember correctly I actually tried this and it failed saying that the body was already closed.

Better be safe than rely on okhttp’s internal handling of such cases.

[2017-02-01 01:37] gconst02 opened #4689 "[ANDROID/Volley] build.gradle dependency error: No service of type Factory available in ProjectScopeServices"
##### Description

After generating client for volley:
[code]

The project fails to sync (I am using Android Studio), with the following output:
[code]

##### Swagger-codegen version

swagger-codegen-cli-2.2.1.jar

##### Command line used for generation
[code]
##### Steps to reproduce

Use exported project as library and try to sync.

##### Suggest a Fix

I fixed the issue by changing the dependen

[2017-02-01 14:27] chosroes commented on #4467
@mresetar Did you solved this ? I have the same problem. With 2.1.6 the generated submodel extended the parent model correctly, but not anymore with 2.2.1