[2016-01-20 08:27] karussell commented on #1353
@xhh & @cbornet thanks for these infos!

[2016-01-20 08:27] wing328 commented on #1889
Hi @carlosduclos sorry for not getting back to you on your suggestion 5 days ago :(

I'll take a look tonight and reply back.

[2016-01-20 08:28] karussell commented on #1353
Different options for a Java environment are provided to give the developers freedom of choice and potentially reduce dependencies (e.g. if jackson is already used) or what is the intention behind this?

[2016-01-20 08:36] wing328 commented on #1926
That's one way to do it but as you've pointed out the C# API client needs some modification to translate the JSON property name (which means the solution will impact other existing API clients)

I think it's just a matter of time we encounter a case in which we must use the attribute mapping in TypeScript client to resolve the issue.

(btw, I was confused earlier as my [comment](https://github.com

[2016-01-20 08:58] hiveship commented on #1888
@wing328 I think you don't really understand what I want to do. I don't just want to rename a file ! I want to be able to choose in which file are going to be generate each operation. And I want to do it using the tag element.

As I said above:

Consider this Swagger API Spec:

[code]

I'm expecting to get 3 API files:
- GlobalAp:
     - ping on /

- TenantApi
     - searchTenants on /tenants

[2016-01-20 09:21] kungfoo commented on #1917
To me it seems as if the `srouceFolder` option is simply ignored and only the `-o` option has an effect. I will try to do a minimal sample project that shows this.

[2016-01-20 09:25] xhh commented on #1810
@Mumutu @CraigStuntz the jackson imports issue was fixed (for e.g. retrofit) in commit f4581d3, which is included in v2.1.5 and the latest master.
See the petstore for example, there's no JsonProperty/JsonValue in the [model](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/java/retrofit/src/main/java/io/swagger/client/model/Pet.java).

[2016-01-20 09:45] OFadero commented on #1645
It is hanging for me also in exactly the same place. And yes I have set my environment variables.

[2016-01-20 10:44] wing328 commented on #1888
@hiveship I think I know what you mean and would suggest you to look at my reply again about the `spring-mvc` test.

I'll do a test with your spec tonight as I'm busy with other things at the moment...

[2016-01-20 10:46] wing328 commented on #1888
Note: spring-mvc generator extends the Java generator and my test/solution used the addOperationToGroup in Java generator (not override in spring-mvc generator)

[2016-01-20 11:29] hiveship commented on #1888
@wing328 i'll retest with your solution, can you please show me exactly what you modified to add the "Unknown" tag ?

[2016-01-20 11:32] wing328 commented on #1888
I updated petstore.jason and replaced one of the endpoints tag from pet to
unknown.
On Jan 20, 2016 7:29 PM, "Maelig Nantel" <notifications@github.com> wrote:

[2016-01-20 12:38] hiveship commented on #1888
Can you please give the Swagger spec you used ? I tried to modify a tag in my Swagger.yaml file but there no change. I don't got any "UnknownApi.java" file generated. I also tried with the online version, same result (Swagger Editor > Generate Server).

[2016-01-20 12:54] hiveship commented on #1888
Ok, I got it. Sorry for the long time it took me to understand :+1:

[2016-01-20 12:54] #1888 closed

[2016-01-20 13:02] wing328 commented on #1888
Np. Let us know if you need further assistance.

[2016-01-20 13:38] CraigStuntz commented on #1810
@xhh I'm talking about `ApiModelProperty` and `ApiModel`, not `JsonProperty`/`JsonValue`. I am using v2.1.5 and Retrofit. The imports are still there, both in the models I'm generating and in the example you link. They will probably be unnecessarily added as long as [these lines](https://github.com/xhh/swagger-codegen/blob/34a941f3528c85961f6b63275bf4cca27ef82c51/modules/swagger-codegen/src/main/j

[2016-01-20 13:44] #1736 closed

[2016-01-20 13:46] alexist opened #1929 "Retrofit2 @ApiModel : missing import"
In model.mustach, there is not import of io.swagger.annotations.ApiModelProperty class. The import is added in JavaClientCodegen.postProcessModelProperty().

But when a model doesn't have any property, the import is not added and the classes doesn't compile.

[2016-01-20 15:11] wing328 commented on #1889
The 'library' option can be obtained via CliOption:
https://github.com/swagger-api/swagger-codegen/blob/bde2bbab5625f6e245d04eb1ee0390c1694df5c3/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavaClientCodegen.java#L97

and later you can use `getLibrary` to determine which library to use:

https://github.com/swagger-api/swagger-codegen/blob/bde2bbab5625f6e245d04eb1ee0390c1694df

[2016-01-20 15:15] wing328 commented on #1889
From first glance, I don't see any issue with your approach using an abstract base class.

Java supports multiple HTTP libraries (Retrofit, Jersey, etc) but does not use any abstract base class. Its approach is to generate the ApiClient with hard-coded HTTP library and I think it worths your time to take a look.

About "writing a couple of small nugets", can you give an example to illustrate its p

[2016-01-20 22:14] sutdisi commented on #1924
Hey webron, does that mean you're working on this?

[2016-01-20 22:43] webron commented on #1924
No, it means that it looks like you found the code causing the issue, so it should be easy for *you* to create a PR for it.

[2016-01-21 02:38] wing328 commented on #1924
@sutdisi I believe you're using the default Java client, which uses Jersey 1.x as the HTTP client.

Jersey1.x only supports PATCH using PostReplaceFilter: http://stackoverflow.com/questions/22355235/patch-request-using-jersey-client

As an alternative, you can use Jersey2.x or Retrofit as the HTTP client for your library. Please refer to https://github.com/swagger-api/swagger-codegen#customizing-t

[2016-01-21 03:17] LouisZou opened #1931 "Is there a simple usage for generating a python client library by this project?"
I don't want to download the whole project because I only need to using it to generate a python library from my swagger definition file (myswagger.json).

In fact , I can paste my json file to the tool Swagger-Editor and select to generate the Python Client.
But How can I write a offline tool to realize it?

Can I use a restful API of Swagger-Editor to do this?

[2016-01-21 03:29] wing328 commented on #1931
You can use the online generator: https://github.com/swagger-api/swagger-codegen#online-generators

[2016-01-21 03:45] LouisZou commented on #1931
Thanks wing328. I will look at the online tool.

is there a project like the following:
I have a swagger definition file. The project can read this file and then generate a code to run all of the API to verify the Restful API server. the parameters of request can be got from a specified input file (xml or json).
just like user do the test in the web page of swagger-ui.

[2016-01-21 03:50] wing328 commented on #1931
We don't have that yet. We just added support to generate files for unit testing in PHP API client.

[2016-01-21 03:51] LouisZou commented on #1931
Hi wing328, just now I try to use the online generate to generate my client code. but it failed with the error "The swagger specification supplied was not valid". where can I get more detailed message for this.
and I can use this swagger definition file to get a swagger-ui page. I think the format of this file is no problem.

[2016-01-21 03:53] wing328 commented on #1931
If you put load the spec into https://editor.swagger.io, did you get any error/warning?

[2016-01-21 04:04] LouisZou commented on #1931
I paset the spec into the left frame,
there is the following error message in the top of right frame:
emptyDocsError: "Empty Document Error"
level: 900
type: "Empty Document Error"
description: "Empty Document Error"

And I click "jump to line", the line seem normal.

[2016-01-21 04:12] LouisZou commented on #1931
Thanks wing328, I found the error position.
I add a useless section for defining the Error.
I delete this section and now there is no error in  https://editor.swagger.io.
And Now I try to generate client by online generate tool, but it seems block.
I will wait for it.

[2016-01-21 04:21] LouisZou commented on #1931
Unfortunately it failed with the same error. I think the Swagger Editor can not get my json file from my Flask Server.
I paste the content of the json file to Swagger Editor, it is ok.
If I select to import URL, it failed with error " Error loading URL:" and the status is "-1".

But I can open the json from my web browser using the URL.

[2016-01-21 04:22] fehguy commented on #1931
It's probably a CORS issue with your server.  I think your questions are not really editor questions, perhaps they should be moved to the correct projects.

[2016-01-21 05:42] LouisZou commented on #1931
Thanks fehguy.
in the swagger-Editor, how can I do to resolve the CORS problem for the flask app?

[2016-01-21 05:58] saharj opened #1932 "Generated nodejs server does not include `x-swagger-router-controller` or `operationId` attributes in `swagger.yaml`"
_From @kmd-jamesgauld on January 20, 2016 13:59_

Swagger Router middleware requires that a `x-swagger-router-controller` attribute be present to help route requests to the correct controller, and an `operationId` attribute to route to a specific method.

Currently, when exporting a nodejs server app, the editor does not include these attributes in the `api/swagger.yaml` file which, when making a

[2016-01-21 06:42] LouisZou commented on #1931
Addition.
I import the following json file in the swagger-Editor, it also failed with the  above error message.
http://petstore.swagger.io/v2/swagger.json

[2016-01-21 09:11] wing328 commented on #1926
@dicko2 what about making it a CLI option whether to keep the original name or convert to camelCase or PascalCase for property names?

[2016-01-21 09:13] wing328 commented on #1931
I don't see any error importing http://petstore.swagger.io/v2/swagger.json into https://editor.swagger.io

[2016-01-21 09:15] wing328 commented on #1913
@wizardbyron thanks for the suggestion. I don't any drawback providing an option to run docker in a vagrant VM. Do you mind sending a PR so that we can review the suggested change?

[2016-01-21 09:20] wing328 commented on #1907
@mateuszmackowiak thanks for the PR (#1907) to address the issue.

I left you comments about updating the integration tests for ObjC Petstore client. Let me know if you need any help fixing those.

[2016-01-21 11:00] dicko2 commented on #1926
@wing328 i think that's a good idea. I think you will find people that use C# a lot that are used to pascal casing for properties and want to stick to it in their TypeScript and/or JavaScript Clients.

Also you may find some hardcore people out their that are using snake case or something lol. we still have some legacy apps that use(d) snake case.

[2016-01-21 13:04] petoknm opened #1935 "Javascript Client Subobject Naming Issue"
I have come across this issue where I have defined an object

![screenshot from 2016-01-21 13-58-16](https://cloud.githubusercontent.com/assets/5087675/12481088/0efc7ee6-c047-11e5-9dd9-9f43c545b4f6.png)

and it automatically creates a subobject (error) for me (because the object contained another object). The issue is that the name for it was derived twice with different results. The name that was

[2016-01-21 13:31] petoknm commented on #1721
I don't think that the first point was addressed!
"1. array fields like photoUrls and tags are not assigned with values from data"

[2016-01-21 14:03] realhawker opened #1936 "qt5cpp template does not support file"
The template for the qt5cpp api-body does not contain code for parameters of type "file". I seems to me, that in this case the function input.add_file needs to be called.

[2016-01-21 14:35] fehguy commented on #1926
Seems to me like whatever the server is describing via swagger.json is what we should generate.  There are provisions in the other clients to preserve the property names.

[2016-01-21 14:48] fehguy commented on #1936
You are correct.  If you can provide a code sample or pull request, we can get it added.

[2016-01-21 16:08] wing328 opened #1937 "[Perl] add support for `binary` (byte array)"
Add support for binary parameter and response type in the Perl API client.

A good starting point is to look at how other languages make similar changes:
Ruby: https://github.com/swagger-api/swagger-codegen/pull/1934
Java: https://github.com/swagger-api/swagger-codegen/pull/1898
C#: https://github.com/swagger-api/swagger-codegen/pull/1864
PHP: https://github.com/swagger-api/swagger-codegen/pull/18

[2016-01-21 23:45] pniederw opened #1938 "Static HTML generation turns snake case query parameters into CamelCase"
JSON input:

[code]

HTML output:

[code]

`swagger-codegen-cli:2.1.5`

[2016-01-21 23:47] pniederw opened #1939 "Static HTML generation disregards basePath"
When adding a `basePath` such as `/v1` in the JSON, this isn't reflected anywhere in the generated static HTML.

`swagger-codegen-cli:2.1.5`

[2016-01-22 00:16] pniederw opened #1940 "Static HTML generator drops response headers"
[code]

This is rendered in the editor, but missing from the static HTML.

`swagger-codegen-cli:2.1.5`

[2016-01-22 02:40] xhh commented on #1721
@petoknm you're right, I'll try fixing it soon.

[2016-01-22 02:55] xhh commented on #1935
Thanks for reporting the issue. I can repeat it and will submit a PR to fix it.

[2016-01-22 06:44] wizardbyron commented on #1913
I have added a Vagrantfile in the PR: https://github.com/swagger-api/swagger-codegen/pull/1943

[2016-01-22 06:47] wizardbyron commented on #1645
I added a Vagrantfile to run dockers in a vagrant VM: https://github.com/swagger-api/swagger-codegen/pull/1943

[2016-01-22 06:56] realhawker commented on #1936
I have some code, but I have no experience with mustache and no easy way to test it, because I have neither a running test system nor checked out code. I was using the online generator and it didn't work for me, so I started investigating. From what I see in the rest of the template the code should be something like that:
[code]
But I could be completely wrong.

[2016-01-22 07:37] #1931 closed

[2016-01-22 09:05] wizardbyron commented on #1692
I saw a merged PR. Is this closed or still open ?

[2016-01-22 09:17] wizardbyron opened #1944 "Wired Java Tests in javascript client test folder."
There are two wired tests in javascript client test folder:

`samples/client/petstore/javascript/test/api/StoreApiTest.java`
`samples/client/petstore/javascript/test/api/UserApiTest.java`

And compare with:

`samples/client/petstore/java/default/src/test/java/io/swagger/petstore/test/StoreApiTest.java`
`samples/client/petstore/java/default/src/test/java/io/swagger/petstore/test/UserApiTest.java`

[2016-01-22 09:34] wing328 commented on #1944
Yes. Please create a PR to remove those.

I think those Java test under the JS sample folder were accidentally added.

[2016-01-22 09:56] wing328 commented on #1692
That PR added some test cases. If you would like to add more, I'm sure the community would welcome that.

Do you have any test cases in mind you would like to add ?

[2016-01-22 10:00] #1944 closed

[2016-01-22 10:15] #1721 closed

[2016-01-22 10:15] #1935 closed

[2016-01-22 10:57] wing328 opened #1946 "[Go] Add a method to include default headers in HTTP request"
Similar to API clients in other languages, we want to have a method `AddDefaultHeader` to add default headers to HTTP request.

If anyone in the community wants to work on this, please reply to let us know.

A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/go/api.mustache

[2016-01-22 11:02] wing328 opened #1948 "[Go] Add unit testing for Go Petstore API client"
Currently, we only have [test.go](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/go/test.go) to perform a simple HTTP request.

We want to add more tests with https://golang.org/pkg/testing/ to ensure the Go API client works without issues.

If you would like to contribute this task, please reply to let us know.

[2016-01-22 11:08] wing328 opened #1949 "[Go] add a Configuration struct to store setting"
Similar to API clients in other languages, we want to have a Configuration struct to store settings such as
- `Username`, `Password` for HTTP basic auth
- `ApiKey`, `ApiKeyPrefix` for API key authentication
- `Debug` for switching on/off the debugging flag
- `DebugFile` for the location of the log file
- `OAuthToken` for oauth token
- `Timeout` for HTTP connection timeout
and more.

Please reply t

[2016-01-22 11:11] wing328 commented on #325
#1747 (A beta Go API client) has been merged into master. Please take a look and let us know if you've any feedback.

The Go API client is not perfect and if you would like to contribute to make it better, please refer to the following list of tasks that are pending community contribution.

https://github.com/swagger-api/swagger-codegen/issues?q=is%3Aopen+is%3Aissue+label%3A%22Client%3A+Go%22

[2016-01-22 11:11] #325 closed

[2016-01-22 11:24] xhh opened #1951 "[JavaScript] Need to support deserialization of array of models"
Taking [Petstore's findPetsByStatus](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/api/PetApi.js#L169) as an example, the response content (an array of plain JavaScript object) needs to be deserialized into an array of the [`Pet` object](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/javascript/src/model/Pet.js

[2016-01-22 11:31] xhh opened #1952 "[JavaScript] Need to support authentications (security) in JavaScript client"
As the first step, HTTP basic auth and API Key should be supported, like in [Ruby client](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/lib/petstore/api_client.rb#L235).

[2016-01-22 11:36] wing328 commented on #1938
@pniederw thanks for reporting the issue. I think that's because [StaticHtmlGenerator](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/StaticHtmlGenerator.java) is using `toParamName` in [DefaultCodegen.java](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codeg

[2016-01-22 11:46] xhh opened #1953 "[JavaScript] Need to support "collectionFormat" for array parameters"
See a similar PR for Ruby client: #1509

[2016-01-22 12:01] xhh opened #1954 "[JavaScript] Add a README file to JavaScript client"
It would be good to have a README containing guides like how to use the code in Node.js (as a [NPM](http://npmjs.com/) module) and browser (with [Browserify](http://browserify.org/), [webpack](https://webpack.github.io/) or [RequireJS](http://requirejs.org/)).

[2016-01-22 13:45] wing328 commented on #1939
That can be fixed with {{basePathWithoutHost}} mustache tag in the static HTML mustache template.

e..g
https://github.com/swagger-api/swagger-codegen/blob/9a54371ca9e0355dfebd7cdfe4c4632684791c5a/modules/swagger-codegen/src/main/resources/flaskConnexion/README.mustache#L25

Would you have cycle to file a PR for that?

[2016-01-22 17:21] pniederw commented on #1938
Sorry but I'm not able to make code contributions at this time; best I can do is to file accurate issues.

[2016-01-22 17:22] pniederw commented on #1939
Sorry but I'm not able to make code contributions at this time; best I can do is to file accurate issues.

[2016-01-22 20:58] hjacobs opened #1955 "README: Python Flask (Connexion): Can't load config class with name flaskConnexion"
The README (https://github.com/swagger-api/swagger-codegen#python-flask-connexion) says:

[code]

but it should be:

[code]

The first (wrong) command throws an error 'Exception in thread "main" java.lang.RuntimeException: Can't load config class with name flaskConnexion Available:'.

[2016-01-22 21:00] fehguy commented on #1955
Can you please send a PR for update?

[2016-01-22 21:01] hjacobs commented on #1955
Will do, I'm also checking the code template for Connexion and will clean it up a bit :smile:

[2016-01-22 21:01] fehguy commented on #1955
that's great, thank you.

[2016-01-22 21:05] fehguy opened #1956 "don't overwrite pom.xml on regeneration"
For java clients (and probably others), we should not overwrite the pom.xml when regenerating a client.

[2016-01-22 21:07] #1955 closed

[2016-01-22 21:07] hjacobs commented on #1955
:+1: thanks, that was fast :smile:

[2016-01-22 21:08] fehguy commented on #1955
it either happens immediately... or never :D

[2016-01-22 21:31] fehguy commented on #1956
Probably should do the same for `package.json`, etc.

[2016-01-22 21:39] jasonmartens opened #1959 "Java codegen doesn't support multiple security schemes"
There is a comment in the DefaultGenerator.java:
[code]
Which is incorrect as of the current version of the spec, which says there is a logical AND, not OR.

[2016-01-23 04:49] fehguy commented on #1938
I believe we can fix this in the template.  I'll do so.

[2016-01-23 07:54] wing328 commented on #1877
@glederrey sorry for late reply on this. One suggestion is to check if `jaxrs` supports that. If yes, we can port the change/fix back to `springmvc` template.

[2016-01-23 07:56] wing328 commented on #1639
@artem-dudarev closing the issue for now. Please pull the latest and let us know if it's still an issue.

[2016-01-23 07:56] #1639 closed

[2016-01-23 07:57] #1594 closed

[2016-01-23 07:57] wing328 commented on #1582
Added to 2.1.5

[2016-01-23 07:57] #1582 closed

[2016-01-23 07:59] wing328 commented on #1592
@tigaris sorry for late reply on this. May I know if you've cycle to submit a fix? A good starting point is https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/swift/AlamofireImplementations.mustache

Contributing guidelines: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-01-23 08:00] wing328 commented on #1624
@wangzilong if it's still an issue, please let us know.  Closing for now.

[2016-01-23 08:00] #1624 closed

[2016-01-23 08:01] wing328 commented on #1635
After upgrading to the latest version of XCode (Version 7.2 (7C68)), I no longer experience the issue.

[2016-01-23 08:01] #1635 closed

[2016-01-23 08:02] wing328 commented on #1616
@nkreipke may I know if you've found a fix to address the issue?

[2016-01-23 08:06] wing328 commented on #1478
@maneeshsahu We've added the support of `android-valley` in the Android API client thanks to the contribution from @shyri

Please use that one instead.

[2016-01-23 08:06] #1478 closed

[2016-01-23 08:06] #1467 closed

[2016-01-23 08:11] wing328 commented on #1338
@jimschubert thanks for the suggestion. May I know if you've cycle to contribute the enhancement?

[2016-01-23 08:14] wing328 commented on #1040
@2rs2ts FYI. Google also joins the OpenAPI initiative (https://openapis.org/). I can't speak on behalf of them but I'm not surprised if they already have a plan in place to replace GDD with OpenAPI spec.

[2016-01-23 08:14] #1040 closed

[2016-01-23 08:16] wing328 commented on #734
@boazsapir C# API client now supports `binary` format (mapped to byte[] in C#) via https://github.com/swagger-api/swagger-codegen/pull/1864

[2016-01-23 08:16] #734 closed

[2016-01-23 08:19] wing328 commented on #669
Java API client now supports `binary` format via https://github.com/swagger-api/swagger-codegen/pull/1898

[2016-01-23 08:19] #669 closed

[2016-01-23 08:21] wing328 commented on #590
@frodrigo the feature is added via https://github.com/swagger-api/swagger-codegen/pull/1784

Please pull the latest and let us know if you're still seeing the same issue.

Closing this issue for now.

[2016-01-23 08:21] #590 closed

[2016-01-23 11:52] glederrey commented on #1877
@wing328 Hi, no problem.. =)

What do you mean by that?? I need to check if there's a way to use some abstract type can be used in the ResponseEntity??

Thank you

[2016-01-23 17:46] jimschubert commented on #1338
I could do this work, but it would be a breaking change. For example,

[code]

would become

[code]

This would break code previously generated against `List<Pet>` by:

* Removing the indexer (e.g. pets[1])
* Removing ability to modify the collection
* Requiring explicit type usage to be changed (e.g. `List<Pets> pets = client.FindPetsByStatus()`)

The benefit of using `IEnumerable<T>` would be th

[2016-01-23 21:40] jimschubert commented on #1338
I created the linked pull request to demonstrate what this change would mean for consumers (see the updated tests). I chose `ICollection<T>` over `IEnumerable<T>` because `ICollection<T>` allows for modification.

[2016-01-24 05:05] wing328 commented on #1883
PR merged

[2016-01-24 05:05] #1883 closed

[2016-01-24 09:45] wizardbyron commented on #1554
How about the latest progress?  I believe that generates code with test cases would be better. I'm trying to apply swagger to my project code but it doesn't generates any test code.

[2016-01-24 13:41] wing328 commented on #1926
Submitted https://github.com/swagger-api/swagger-codegen/pull/1965 to add an option to determine the model property naming convention.

[2016-01-24 14:25] hiveship commented on #1806
Can be closed, PR merged https://github.com/swagger-api/swagger-codegen/pull/1899

[2016-01-24 14:25] #1806 closed

[2016-01-24 14:26] hiveship commented on #1854
Work finish and PR submitted https://github.com/swagger-api/swagger-codegen/pull/1933

[2016-01-24 15:38] jimschubert commented on #1889
@carlosduclos Your `ApiClientAbstractProvider` would also need to support `OPTIONS` and `PATCH` verbs (see [2.0 swagger spec document](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-item-object)).

[2016-01-24 15:54] jimschubert commented on #983
@wing328 @who Have either of you started any work on this?

I've actually experienced the same issue, but had no problem updating my libraries to .NET 4.5.2. I'd like to eventually revert those libraries back to .NET 3.5, because they'll at some point need to be consumed by a desktop application with Windows XP support. I'd be happy to start work on this issue.

Are there any existing examples of

[2016-01-24 20:44] jimschubert commented on #1469
Also commenting on this to join the request.

[2016-01-25 01:20] xhh commented on #1959
Looking at the `security` field of [Operation Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#operation-object) the global [Swagger Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object), I still see logic OR for the provided security requirements. For example for the Operation Object:

[2016-01-25 03:03] xhh commented on #453
Just tested it with Java models and got this which compiles fine:

[code]

So the issue has been addressed.

[2016-01-25 03:06] #453 closed

[2016-01-25 06:49] wing328 commented on #1338
@jimschubert thanks for the contribution. PR merged into master.

[2016-01-25 06:49] #1338 closed

[2016-01-25 07:10] NahumLitvin commented on #1469
I discovered https://github.com/domaindrivendev/Swashbuckle
it fits my needs.

[2016-01-25 07:24] wing328 commented on #1469
@NahumLitvin I believe Swashbuckle is for generating OpenAPI/Swagger spec and integration with other Swagger  components (e.g. swagger-ui).

The request here is to generate the server stub in C# Web Api given an OpenAPI/Swagger spec.

[2016-01-25 09:04] hiveship commented on #1854
Now in https://github.com/swagger-api/swagger-codegen/pull/1967

[2016-01-25 13:32] PavelPolyakov opened #1968 "javascript - incorrect process examples section"
Hi,

Here is my yaml:
[code]

Hereis the code generated by swagger-codegen:
[code]

And, the issue is, that it's treated as string, so, when I generate mock and launch the server, I receive a text, not JSON, when querying the mock server.
![image](https://cloud.githubusercontent.com/assets/839290/12552073/9f844f86-c36f-11e5-9f63-e534ee0c926a.png)
![image](https://cloud.githubusercontent.com/assets

[2016-01-25 16:49] jasonmartens commented on #1959
It appears that there is a contradiction then, since this section:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#security-requirement-object
clearly says that it is an AND.

It makes sense for the *global* security object to be OR. However, an individual path would need to be AND to support an api_key in addition to oauth for instance.

[2016-01-25 18:17] HyperBrain commented on #1645
I'm facing the same issue on Ubuntu/Wily - in a Docker machine the `mvn package` hangs at the TEST step. It worked with my previous Ubuntu (Trusty).

[2016-01-25 18:18] fehguy commented on #1645
Do you have to rebuild locally?  You can always grab a docker image of the generator web service from here:  https://hub.docker.com/r/swaggerapi/swagger-generator/

Or the executable jar for running codegen without rebuilding:

https://oss.sonatype.org/content/repositories/releases/io/swagger/swagger-codegen-cli/2.1.5/swagger-codegen-cli-2.1.5.jar

(note, the version number above will change with

[2016-01-25 18:23] HyperBrain commented on #1645
Maybe the jar would work for me as I'm using the generator within a Docker based build environment together with apigateway-importer. I'll try.
- Thanks

[2016-01-25 18:27] sutdisi commented on #1924
Using default client I added the override header and the query parameter in the client, but server still received it as a POST. Instead of PATCH which I was trying to send. I didn't see anything in the links, but is there a server setting I need?

[2016-01-25 19:02] fehguy commented on #1645
Don't get me wrong, I'd like to know why it's not building for you.

[2016-01-25 20:10] webron commented on #1959
There's no contradiction, only a slight confusion.

`security` whether global or at the operation allow you to define a *list* of Security Requirements. Between the items in the list there's a logical OR allowing you to specify different variations.

However, the Security Requirement is an *object* of Security Definitions. Between these there's a logical AND.

[2016-01-25 20:38] jeff9finger commented on #1554
Due to shift priorities at my company, I have not had a chance to look into this yet.

[2016-01-25 20:38] HyperBrain commented on #1645
Sure :-) I will try to do some debugging. Maybe we can track it down.

[2016-01-25 20:50] HyperBrain commented on #1645
This is the `mvn -X package` output. Seems it hangs within Surefire:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
[DEBUG] boot classpath:  /root/.m2/repository/org/apache/maven/surefire/surefire-booter/2.18.1/surefire-booter-2.18.1.jar  /root/.m2/repository/org/apache/maven/surefire/surefire-api/2.18.1/surefire-api-2.18

[2016-01-25 21:13] webron commented on #1968
What if the mime type was `plain/text`? Or `application/xml`? Not sure it makes sense to cover all mime type cases.

[2016-01-25 22:08] PavelPolyakov commented on #1968
Yes, but the current approach has no sense, because it's not possible to use the current output.

If we don't want to cover all the possible outputs, then we should have option to pass some custom processor or somehow extend the generated code.

It's possible to do right now manually updating the generated code, but it would be overwritten with the new mock generation.

[2016-01-25 23:32] jasonmartens opened #1971 "consumes uses swagger default for formData"
If an operation has a formData parameter, and there is no consumes specified for the operation, then the default swagger consumes content type will be used. This is a problem because it causes multipart/form-data posts to be sent with application/json as the content type if that is the default defined in the spec.

One solution I came up with is to set the contentType to multipart/form-data if an

[2016-01-26 01:01] sladha-db opened #1973 "Incorrect package.json produced by Javascript codegen"
I tried this with commit 03b463bc4325764f5d4a9edeef549c166ddc15fc

swagger-codegen Javascript generates  package.json:
   "version": "1.0"

However, node expects semver:
  "version": "1.0.0"

[2016-01-26 01:07] sladha-db opened #1974 "Javascript - Blob type"
Tried commit 03b463bc4325764f5d4a9edeef549c166ddc15fc

The Javascript codegen produces a file called ApiClient.js. ApiClient.js refers to Blob type. Node does not have a native Blob type.

[2016-01-26 01:34] xhh commented on #1974
Thanks for reporting the issue. I've fixed is [PR #1947](https://github.com/swagger-api/swagger-codegen/pull/1947/files#diff-ed539442b1237b0ffd547136ae38868dR90), please try again in that branch or when the PR is merged.

[2016-01-26 01:45] xhh commented on #1968
Hi @PavelPolyakov, were you using the `nodejs` server codegen?

It seems the *example* in your spec is indeed of type `string`, could you try something like this?
[code]

[2016-01-26 01:56] xhh commented on #1973
By default it uses the `info.version` field of the provided spec, and you could override it with custom config, for example:

[code]

and in *your_config.json*:

[code]

You can get a list of all supported options with this command:

[code]

[2016-01-26 04:15] wing328 commented on #1924
@sutdisi if you've use tcpdump or other tools to verify that the HTTP request is good (e.g. PATCH is used instead of POST), then I think it's a server-side error.

[2016-01-26 04:28] wing328 commented on #983
@jimschubert I do not have a chance to work on this.

I agree with you that `CsharpDotNet2ClientCodegen` and `CSharpClientCodegen` could be refactored to use the same abstract base class similar to [AbstractTypeScriptClientCodegen](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/AbstractTypeScriptClientCodegen.java) for

[2016-01-26 04:40] wing328 commented on #1974
@sladha-db PR merged. Please pull the latest and try again.

[2016-01-26 04:40] #1974 closed

[2016-01-26 04:54] jimschubert commented on #983
@wing328 Cool. I'll take a look at the typescript abstraction and start working on this NET 3.5 client.

[2016-01-26 05:33] fehguy opened #1976 "maven plugin doesn't pass some options"
The `swagger-codegen-maven-plugin` module isn't passing the following:

- type-mappings
- import-mappings
- instantiation-types

[2016-01-26 05:39] fehguy opened #1978 "refactor maven plugin to reuse codegen code"
#1976 shows that the two paths differ enough that we should refactor how the maven plugin works

[2016-01-26 06:08] #1976 closed

[2016-01-26 06:08] #1938 closed

[2016-01-26 06:49] wing328 commented on #1971
Instead of using a default value for `consumes` if `consume` is set to empty array, should the openapi/swagger spec be updated to provide a proper `consumes` instead ?

[2016-01-26 07:48] wing328 commented on #1854
PR merged.

[2016-01-26 07:48] #1854 closed

[2016-01-26 09:38] wing328 commented on #1926
PR merged.

@dicko2 please pull the latest and give it another try.

[2016-01-26 09:38] #1926 closed

[2016-01-26 11:57] carlosduclos commented on #1889
@wing328
The reason for the extra nugets is to separate the different implementations. The problem is that we generate code that will be compiled by the user. This requires that the user has the libraries it requires to build, so we need to make sure that the generated code compiles regardless.

For example, we can have two nugets:
* swagger.httpclient: Implementing support for HttpClient
* swagge

[2016-01-26 12:22] PavelPolyakov commented on #1968
@xhh

it works, but - how can I describe the array this way?
please, help :)

tried like this:
[code]

however, go the object as output

Regards,

[2016-01-26 12:30] wing328 commented on #1959
I suggest we update the spec with examples to show
- API key in header `OR` query
- API key `AND` Client ID in the header

[2016-01-26 12:45] xhh commented on #1968
@PavelPolyakov you can refer to the accepted answer here: [YAML equivalent of array of objects in JSON](http://stackoverflow.com/a/33989696/243797)

[2016-01-26 12:49] PavelPolyakov commented on #1968
@xhh

Thanks, man. It works!

So the conclusion is: if you want to get JSON as output - use plain YAML, not wrap anything in {}.

Here is the complete example:
[code]

[2016-01-26 12:49] #1968 closed

[2016-01-26 16:17] wberger opened #1981 "[Objective-C] Feature Request: Use AFHttpSessionManager instead of AFHTTPRequestOperationManager"
Currently the client's inherit from `AFHTTPRequestOperationManager`, which is no longer supported in AFNetworking 3.

Regarding future updates it would be great to have it use `AFHttpSessionManager` instead. This way the generated code should be compatible with both AFNetworking 2 and 3.

[2016-01-26 17:53] HyperBrain commented on #1645
Intermediate update: I got past the hang! I used `mvn -DforkCount=0 package` to disable surefire forking the tests in a separate process. It seems that within the Docker container forking does not work correctly and hangs.
Nevertheless I ran into some test failures afterwards. I will check these now and post my updates here.

[2016-01-26 18:03] jasonmartens commented on #1971
I'm personally not sure. The default seemed logical to me, since in my experience if you are submitting formData, the content type should always be multipart/form-data or application/x-www-form-urlencoded. Maybe that is a problem however, since there is no way to determine which of those to pick? At least for file uploads (my use case) it seems like it should be multipart/form-data.

[2016-01-26 19:28] tomduhourq opened #1984 "[JavaScript] Read and parse 'models' section correctly"
I currently have the following Api Spec

[code]

When generating my js service I currently have no field specification of the model `InputParamCheckoutSpec`, only its name as a parameter in the generated `NodeJs` code, like this:

[code]

I am using the latest version like this:

[code]

What I would like to have are the fields required on the endpoints, such as `chkStep` and `googleId` on the gen

[2016-01-26 21:43] fehguy commented on #1984
Well if that's your entire spec, I can say that the parser isn't going to like it.

`source` has an unqualified and non-existent reference.  What does `EventSource` look like?
`source` has a `$ref` with a `description`, which is not allowed.  `$ref` must live alone on a single line.

You are also using an old swagger-spec version.  Can you just convert it using the `-l swagger` to 2.0 and work wit

[2016-01-27 02:31] mikespub opened #1985 "[PHP] Handle case where resourcePath already contains a querystring"
When the resourcePath of the original YAML already contains a querystring (with some fixed or variable "path" parameters), the generated PHP code fails.

Issue 1. The generated classes all have &amp; instead of & in the $resourcePath, which gets passed as is to ApiClient->callApi and curl. I'm not sure where in the code generation process this url encoding happens.

Issue 2. If the call contains a

[2016-01-27 02:33] mikespub commented on #1985
Err, that's & with an amp; for issue 1

[2016-01-27 02:36] wing328 commented on #1971
@jasonmartens I mean the owner of the spec should know the correct `consumes` and put it in the spec.

For the issue, may I know which API client did you use? Java? ObjC?

[2016-01-27 02:44] jasonmartens commented on #1971
I was using the Java client.

[2016-01-27 02:50] wing328 commented on #1971
I believe you're using the default HTTP library for Java (which supports also `retrofit`, `okhttp-gson` and more)

For other API clients like PHP and Ruby, the HTTP library will pick the correct "content-type" (consumes) if it's not provided.

We'll do a test with `refrofit`, `okhttp-gson` Java API client to see if there are similar issue.

[2016-01-27 03:14] wing328 commented on #1985
@mikespub do you mind sharing the spec with us? Is there a hard-coded query parameter in most or all endpoints?

[2016-01-27 03:16] wing328 commented on #1341
@corruptmem fixed by https://github.com/swagger-api/swagger-codegen/pull/1979.

[2016-01-27 03:16] #1341 closed

[2016-01-27 03:39] jasonmartens commented on #1971
I'm using okhttp-gson.

[2016-01-27 07:56] petoknm opened #1987 "No commas in arrays for generated javascript client"
Hi
I am generating Javascript client code and I always have to add commas to the arrays at the top of the models. It would be nice to actually fix it because your generated code throws an error when it reaches those lines.
![screenshot from 2016-01-27 08-53-07](https://cloud.githubusercontent.com/assets/5087675/12607244/bc81c98c-c4d3-11e5-96e3-c69becf40fb1.png)
Thanks

[2016-01-27 08:26] wing328 commented on #1987
@petoknm may I know how you generated the JS client?

I tried to grep "export module" in the template directory but couldn't find anything.

[2016-01-27 08:29] wing328 commented on #1981
@wberger thanks for pointing it out. Would have cycle to help make the change to use `AFHttpSessionManager ` instead?

[2016-01-27 08:44] wing328 commented on #1913
PR merged

[2016-01-27 08:44] #1913 closed

[2016-01-27 08:45] wing328 commented on #1645
Please try with Vagrant: https://github.com/swagger-api/swagger-codegen/blob/master/README.md#run-docker-in-vagrant

and see if that works for you guys.

[2016-01-27 08:46] wing328 commented on #1426
@tibbon if you need help with this issue, please reply to let us know.

Closing this issue for now.

[2016-01-27 08:46] #1426 closed

[2016-01-27 08:57] anand4sn commented on #1235
Hi

I need to generate date format ("format": "date") in swagger json doc for GET parameters. Im using spring rest @RequestParam with @ApiParam() but in @ApiParma we dont have property like dataType then how can i generate format property in json doc . ("format": "date").if someone help on this it will be great help to me. Thanks in advance.

[2016-01-27 09:19] zcsongor commented on #1809
+1

[2016-01-27 09:39] glederrey commented on #1235
**Not from Swagger dev Team**

Hi,

What do you mean exactly?? I don't understand your problem.. Is your problem linked to Spring-MVC or to the spec??

[2016-01-27 09:47] anand4sn commented on #1235
Hi @glederrey,

   we need to generate "format": "date" json propery for the  GET serive parameter like below

{
					"name": "toDate",
					"in": "query",
					"description": "The toDate  is ending  data range of given dateType value.  format should be YYYY-MM-DD.",
					"required": false,
					"type": "string",
					"format": "date"
				}

we have this dateType  option in @ApiModelProperty(dataT

[2016-01-27 09:51] anand4sn commented on #1235
@glederrey

working- this is in @ApiModel  -used in POST Method

@ApiModelProperty(dataType="java.sql.Date",notes="The toDate  is ending  data range of given dateType value. format should be YYYY-MM-DD.")
	private String toDate;

not working  - this is in method parameter-used for GET method

 @ApiParam(value="The toDate  is ending  data range of given dateType value.  format should be YYYY-MM-DD.

[2016-01-27 09:57] glederrey commented on #1235
I think you have the same problem that I had..

Here is the trick I used to get rid of this problem. Go there: **swagger-codegen/modules/swagger-codegen/src/main/resources/JavaSpringMVC** and open the file called **queryParams.mustache**.. Then, in this file, just before this: `{{{dataType}}} {{paramName}}{{/isQueryParam}}` (This is the end of the file), you add this: `@DateTimeFormat(pattern = "y

[2016-01-27 10:37] anand4sn commented on #1235
@glederrey I already use @DateTimeFormat(pattern = "yyyy-MM-dd") this annotation but not worked.

like below

@ApiParam(value="The toDate is ending data range of given dateType value. format should be YYYY-MM-DD.")
@DateTimeFormat(pattern = "yyyy-MM-dd")
@RequestParam(required=false) Date toDate,

what is  mustache? its need any configuration or need to addd queryParams.mustache. file in my classp

[2016-01-27 10:47] mikespub commented on #1985
You'll find 3 yaml files in https://github.com/mikespub/synology/tree/master/tools

Most of the operations have 3 hard-coded query parameters (api, version, method), and some extra variable parameters (e.g. _sid, or account & passwd, ...). The SYNO.API ones have been tweaked by hand, the rest were generated from API documentation.

As a good example, have a look at the /AudioStation/song.cgi path.

[2016-01-27 11:17] nickcmaynard commented on #1590
Closing - PR was (kinda) merged.

[2016-01-27 11:17] #1590 closed

[2016-01-27 11:18] nickcmaynard commented on #1556
+1.  This *used* to work without duplicating fields.  Problem seems to have been introduced with the refactor of the JaxRS server codegen.

[2016-01-27 12:01] wizardbyron commented on #1645
If you guys has any problem on vagrant, please let me help you fix it.

[2016-01-27 12:23] HyperBrain commented on #1645
I'm currently getting vagrant up - I'll report later

On Wed, Jan 27, 2016 at 1:01 PM, Byron <notifications@github.com> wrote:

[2016-01-27 12:28] glederrey commented on #1235
@anand4sn The mustache files are used to generate the Spring MVC stub server.. I don't know if you're using Swagger Codegen to generate your server or if you're building it from scratch..

In my endpoint definition (in the Spring MVC server), I have something like this: `@ApiParam(value = "Time and Date when the session ends. Format: yyyy-MM-ddTHH:mm:ssZ", required = true) @RequestParam(value = "t

[2016-01-27 12:34] anand4sn commented on #1235
@glederrey  Many Thanks . Let me try changing the order.

[2016-01-27 13:13] wing328 commented on #1985
According to spec, it does not say anything about disallowing query parameter hard-coded in the `path` (ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#patterned-fields) so I think technically a path like `/query.cgi?api=SYNO.API.Info&version=1&method=query&query={query}` is valid.

I don't think it's a good idea mixing query parameter and path parameter. To explain w

[2016-01-27 13:28] xhh commented on #1987
@petoknm The issue should've been fixed in the master branch with PR #1922.
Please give it a try and let us know if it works for you.

[2016-01-27 15:15] mikespub commented on #1985
Thanks for your feedback. I would actually recommend a slightly different approach to resolve this:

For issue 1, figure out why the & characters in {{path}} are HTML/XML escaped. Is this done by the mustache templating and is there some way to avoid doing that here, or does the escaping already happen earlier in the code generation process and do we need to fix it somewhere else?
https://github.c

[2016-01-27 15:43] tomduhourq commented on #1984
```source``` is an Enumerator. Got the new ```swagger.json``` with the command you passed over with no success. Here is the ```Binnacle.js``` file method:
[code]

[2016-01-27 17:35] jaz-ah opened #1989 "[Swift] Objects should be treated as AnyObjects instead of String"
Swagger Generator: v2.1.5
Language: swift

In the given sample json:
https://gist.github.com/jaz-ah/99c4e011604e59264d91

If you have a json object type like this:
				"Data": {
					"type": "object",
					"description": "Could be a string/dictionary/etc..."
				}
our current Swift generator turns it into a String like this:

    public var Data: String!

But in reality it really should be an AnyO

[2016-01-27 17:57] jaz-ah opened #1992 "[Swift] Ensure that enumeration types do not conflict with variable name"
Swagger generator: 2.1.5
Language: swift

(This is w/ Swift 2 on XCode7.2)

If we have a swagger specification like this:

https://gist.github.com/jaz-ah/f6394360065650000c96

The generated code produced is:

    public enum EnumTest: String {
        case Abc = "abc"
        case Def = "def"
    }

    public var EnumTest: EnumTest?

which produces a complier error:

 'EnumTest' used within its o

[2016-01-27 21:17] jaz-ah opened #1994 "[Swift] crash when receiving enum not listed in json schema"
Swagger Code Generation: v2.1.5
Language: swift
XCode7.2 / Swift 2.0

Given a schema:
https://gist.github.com/jaz-ah/f6394360065650000c96

That has an enum:
		"EnumTest": {
				"type": "string",
		                "enum": [
				   "abc",
				   "def"
				   ]
		}
If the service sending the enum sends "xyz", then our current Swift code will crash, even if we declare EnumTest to be an optional proper

[2016-01-28 00:17] jaz-ah opened #1996 "[General] We should add more data to the generated headers"
Currently a generated header in Swift for example is:
//
// Foo.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

It would be useful to also include:
-The date of code generation
-The version of swagger used to generate the code
-Any other useful information that we can add there?

[2016-01-28 09:12] wing328 commented on #1828
@leemeador you need to add -Dmodels to the 1st command line argument like this:
[code]

[2016-01-28 10:16] ilkkanisula commented on #1809
+1

[2016-01-28 12:28] Velvorn commented on #1956
I don't know if you had plans to do it already, but I would love to have this for spring-mvc too!
Also, in general, would it be possible to have something like the `-D` option, but to exclude some files? Something that would allow generating every files except a few ones (like `pom.xml`) directly from CLI...

[2016-01-28 12:51] tannhaeuser commented on #1565
I think this is not fixed yet:

I did:

1. git clone https://github.com/swagger-api/swagger-codegen.git
2. cd swagger-codegen
3. man package

I use the following command snipet to build the client:
java -jar ~/GitHub/swagger-codegen/modules/swagger-codegen-cli/target/swagger-codegen-cli.jar  ....

Our API response is an JSON array like:

[code]

running the client brings an exception:
Could not ca

[2016-01-28 13:26] wing328 commented on #1956
What about adding a `.swagger-codegen-ignore` file (similar to .gitignore) in the output directory, which contains a list of files to be ignored (not overwritten) by swagger-codgen when generating the files? The logic can be applied to all languages.

[2016-01-28 14:42] wing328 commented on #1996
I agree. I think there should be standard header for all generated codes. I'll submit a PR this weekend or early next week if no one else has cycle to work on it.

[2016-01-28 16:47] wing328 commented on #1989
@jaz-ah thanks for the PR.

Would you have time to create unit tests for Swift Petstore similar to what we've for ObjC Petstore?

For ObjC petstore, one can run the unit tests using the following commands:
[code]
We need something similar for Swift. (For day 1 requirement, it's ok to manually open a XCode project to run the tests for Swift Petstore).

[2016-01-28 17:03] wizardbyron opened #2000 "[Java Client] Add Eclipse and IntelliJ IDEA support in build.gradle.mustache"
Hi, I just added gradle IDE plugins  in `build.gradle.mustache`.

And Java client projects can use gradle generate Eclipse and IntelliJ IDEA projects.

The PR is https://github.com/swagger-api/swagger-codegen/pull/1999

[2016-01-28 18:29] jaz-ah commented on #1996
cool thx.

[2016-01-28 18:31] jaz-ah commented on #1989
@wing328 yes I should have time this weekend to start that up - should I treat that as a different PR/issue than this one or add into this one?

[2016-01-28 19:19] sohelsd opened #2001 "nodejs server swagger-router handler error"
I am unable to hit the endpoint. Results in Error:

`Error: Cannot resolve the configured swagger-router handler: undefined
    at swaggerRouter (/home/ubuntu/workspace/node_modules/swagger-tools/middleware/swagger-router.js:414:18)
    at call (/home/ubuntu/workspace/node_modules/connect/index.js:239:7)
    at next (/home/ubuntu/workspace/node_modules/connect/index.js:183:5)
    at /home/ubuntu/w

[2016-01-29 00:56] fehguy commented on #2001
More details, please.

[2016-01-29 03:17] wing328 commented on #1989
@jaz-ah thanks! :beer:

I prefer putting the unit tests into this one.

[2016-01-29 09:23] wizardbyron opened #2002 "Add Codacy and TravisCI Badge in README.md"
I just use codacy analysis this repo, this is the code grade:

[![Codacy Badge](https://api.codacy.com/project/badge/grade/0aef373f2c7844a790b0777bf3190e4e)](https://www.codacy.com/app/ygu/swagger-codegen)

We can add this on to improve the code quality.

[2016-01-29 10:03] Velvorn commented on #1956
@wing328 Great idea !

[2016-01-29 15:47] sohelsd commented on #2001
I think its related to https://github.com/apigee-127/swagger-tools/issues/274

I tried specifying x-swagger-router-controller but still didnt work for me. Getting an error:
`Error: Cannot resolve the configured swagger-router handler: Appz_get`
<pre><code>/test:
    get:
      x-swagger-router-controller: Appz
      summary: test
      description: >
        test.
      tags:
        - Appz

[2016-01-29 17:31] jqr commented on #1996
I wanted to provide some perspective as a swagger-codegen user. We find these date based annotations add a lot of noise to our review process when we regenerate clients.

We solved this problem by writing [post-processing scripts](https://github.com/DocRaptor/docraptor-java/blob/master/script/post_generate_language) but I thought it worth mentioning even if our use-case was a minority.

[2016-01-29 22:48] andrewkrowczyk opened #2004 "Any plans on generating a C# Web API server stub?"
I was curious if anyone had already discussed generating a C# Web API server stub/scaffolded project based on a Swagger definition?

[2016-01-30 03:17] wing328 commented on #2004
Yes, there's a separate request [here](https://github.com/swagger-api/swagger-codegen/issues/1469).

We're looking for community contribution. Ideally a working WebApi sample to start with.

Closing this one and using #1469 for tracking.

[2016-01-30 03:17] #2004 closed

[2016-01-30 04:47] laki88 opened #2005 "swagger codegen maven dependency cannot download"
I went to the below link. it goes to an error page.
http://mvnrepository.com/artifact/io.swagger/swagger-codegen

[2016-01-30 05:06] wing328 commented on #2005
Please try https://oss.sonatype.org/index.html#nexus-search;quick~swagger-codegen instead.

[2016-01-30 05:06] wing328 commented on #2005
There's also an online generator: https://github.com/swagger-api/swagger-codegen#online-generators

[2016-01-30 05:24] laki88 commented on #2005
Thanks a lot for the quick response wing328. When I generate via online generator I have to carefully copy generated sources to my project manually. Anyway If I generate via maven plugin, source will be generated in the specified location in the project. The only thing I have to do is issuing maven clean install command. I tried adding  2.1.6-SNAPSHOT as plugin version. but it says that dependency

[2016-01-30 05:59] laki88 commented on #2005
I could be able to build the project by removing version property in plugin definition

[2016-01-30 05:59] #2005 closed

[2016-01-30 06:08] wing328 commented on #1996
@jqr thanks for sharing the requirement with us.

so ideally the generator should skip the file if the newly-generated file and the one in the output directory are the same, right?

[2016-01-30 06:10] wing328 commented on #1996
What about putting the date in one file only (e..g pom.xml for Java, Gemfile for Ruby, etc)?

[2016-01-30 07:33] wing328 commented on #1936
@realhawker I've filed #2006 with your suggested fix (with some minor modifications).

Here is what the output looks like: https://github.com/swagger-api/swagger-codegen/pull/2006/files#diff-95df983c928806ef2c2b79fdab4b1d44R498

Please review the change when you've time.

[2016-01-30 15:41] nin9creative commented on #1469
So what exactly are you looking for as a start?  A complete ASP. net WebAPI project?

I may be able to help with that.  I came here looking for the capability as we are moving to a design first approach, and highly leverage WebAPI at the company I'm working at.

[2016-01-30 15:56] wing328 commented on #1469
@nin9creative thanks for offering help. Yes, ideally a ASP.net WebApi that implements the following endpoints to start with:
- [GET] [getPetById](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L303)
- [POST] [addPet](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/pets

[2016-01-30 15:59] jimschubert commented on #1469
@nin9creative @wing328  I've started on two examples using .net 4.5 and asp.net 5.  https://github.com/jimschubert/webapi-swagger-samples

[2016-01-30 16:20] wing328 commented on #1469
@jimschubert I think that's what we need as a starting point :beers:

Are you working on the generator for WebApi as well? (just want to avoid duplicated efforts)

I'm working on automatically generating test cases for C# API client so I won't have time until I finish that.

[2016-01-30 16:34] jimschubert commented on #1469
There are still some things I need to work out.

The one project is .net 4.5 because mono doesn't do 4.5.2 and I kept getting errors on 4.5.1 and 4.6. Even then, the project doesn't run correctly through xsp4. I was going to see if there's a Windows 10 IoT container I can use. If not, I figured a successful compile would be enough verification.

I think the swagger attributes for the asp.net 5 pro

[2016-01-30 16:35] jimschubert commented on #1469
@wing328 to answer your other question, no I hadn't yet started on the generator stuff.

[2016-01-30 17:54] wing328 commented on #1469
@jimschubert that's ok :)

whoever has cycle to start working on the webapi generator please reply to let the community know to avoid duplicated efforts.

[2016-01-30 20:11] jimschubert commented on #1469
I have a little time today, I think I'll start on the ASP.NET 5 web api server generator.

[2016-01-31 08:39] #2000 closed

[2016-01-31 09:21] wing328 commented on #1996
Submitted https://github.com/swagger-api/swagger-codegen/pull/2008 for Ruby mustache templates. Let me know if you've any feedback.

Will gradually update mustache templates for other languages with similar change.

[2016-01-31 12:00] onemanstartup opened #2010 "Swift path format"
Codegen makes this kinda code. I think format should be json or xml, but I can't find option for this. I think this is mistake.
[code]

[2016-01-31 12:03] wing328 commented on #2010
@onemanstartup Can you share the openapi/swagger spec? Is `format` a path variable?

[2016-01-31 12:22] onemanstartup commented on #2010
@wing328 I can hide format entirely and then path is "/api/values"
I'm using https://github.com/ruby-grape/grape-swagger
[code]

[code]
Is there format settings in swagger-codegen? It seems there is not.

[2016-01-31 12:25] wing328 commented on #2010
There's no default `format` in swagger spec. In your case, you've to either define the path variable `format`, remove it (together with `.`) from the path, or replace `{format}` with `json`

[2016-01-31 12:31] onemanstartup commented on #2010
Yeah sorry. Stupid me, it's not codegen issue, it's my library generate that path.

[2016-01-31 14:39] wing328 commented on #2010
np, ping us if you need further assistance. closing the issue for now.

[2016-01-31 14:39] #2010 closed

[2016-01-31 19:07] nickcmaynard commented on #1556
And, of course, causes some unpredictable problems as you'd expect when properties are overriden in Java subclasses.  This can cause potentially serious bugs.

[2016-01-31 19:53] nickcmaynard commented on #1556
See PR #1120, #1094.

[2016-02-01 06:23] wing328 commented on #1985
RE: b. the codegen doesn't take into account the default values (PHP/Python)

We've not implemented default parameter value in API client since the default value should be enforced in the server side.

[2016-02-01 07:10] realhawker commented on #1936
@wing328 Thank you for reacting so fast. The output and the fix are looking OK for me. Do you know when I could expect this fix to be present in the online generator?

[2016-02-01 07:31] wing328 commented on #1936
@realhawker thanks for reviewing the change. PR merged.

@fehguy do we have any plan to deploy the latest master of swagger-codegen to generator.swagger.io?

[2016-02-01 08:31] cbornet commented on #1959
IMO the generator should not set the security on operations but only give a hint on what securities can be used. Then it is the responsibility of the caller to chose which security he wants to use (since there is an OR). This is how it is done in retrofit and feign subgens.

[2016-02-01 09:06] glederrey opened #2012 "Spring MVC - Header parameters and Redirect"
Hi,

I encountered a problem with the Spring MVC server.. When I use some parameters as headers and inside a function of the Spring MVC server, I use a header "Location", then the redirect doesn't work..

Does anyone have an idea why?? Do I have to put something specific in the headers other than just the Location??

BTW, it works correctly when I'm using the same parameters as query..

Thanks in

[2016-02-01 10:23] hacki11 commented on #948
any updates on this? having the same issue.

[2016-02-01 12:50] wing328 commented on #2012
Do you mean you've a header parameter named `Location`?

[2016-02-01 13:02] glederrey commented on #2012
@wing328
Hi,
Yes, exactly..

In the mean time, I've done some more careful tests.. The problem doesn't come from the Spring-MVC server but it comes from Swagger UI.. I'll open an issue there and close this one..
Sorry for the disturbance..

[2016-02-01 13:03] #2012 closed

[2016-02-01 13:12] glederrey commented on #2012
Issue moved here: https://github.com/swagger-api/swagger-ui/issues/1935

[2016-02-01 13:23] wing328 commented on #2012
`Location` has special meaning (redirection) in HTTP header: https://en.wikipedia.org/wiki/HTTP_location

and I would suggest you avoid using it in your endpoints.

[2016-02-01 13:39] glederrey commented on #2012
But that's exactly what I want to do.. It's the creation of a new resource.. Maybe there's a better way to do it using Spring MVC??

[2016-02-01 13:42] wing328 commented on #2012
How does creation of a new resource have anything to do with "Location" in the header?

[2016-02-01 13:44] glederrey commented on #2012
Wikipedia says that when you create new resource, you can redirect using `Location` and 201 or 202 to the newly created resource.

If I do this, that's because I was never able to make the type `file` in the spec work with Spring MVC.. Returning `byte[]` is easier.. (I always have a 406 error when I use the type `file`)

[2016-02-01 14:01] cbornet opened #2013 "[TypeScript] Use only typings in petstore sample"
As TSD is deprecated : see https://github.com/DefinitelyTyped/tsd/issues/269

[2016-02-01 17:44] delenius opened #2014 "JS code gen: Using Promises and non-jquery ajax"
This is a couple of feature requests for the JavaScript client generator (not the runtime generator, I am generating form a swagger file offline):

1) Is there any way to make the generator produce a JS client  produce a client that uses Promises? It looks like the online generator can do this, but not the offline one, but I could be wrong.

2) Is there any chance we could get rid of jQuery to do

[2016-02-01 18:43] jimschubert commented on #1469
I've committed my work in progress. https://github.com/jimschubert/swagger-codegen/tree/csharp_webapi_aspnet5_server

May not have a lot of time this week, but don't want the code to get lost/forgotten.

[2016-02-01 22:24] VR-Architect commented on #1809
++1

[2016-02-02 03:48] #938 closed

[2016-02-02 08:52] bluemmc opened #2015 "Csharp client: Add option(s) to insert "partial" in class definitions"
@wing328 C# partial classes are a great way to allow clients to customize auto-generated code safely. Happily, they are quite easy to enable - just "partial" keyword in the class definition.

It would be very nice if  the csharp swagger-codegen client could add an option to enable generation of partial classes instead of the current "closed" classes. In particular for models.

I am not sure if one

[2016-02-02 09:28] bluemmc opened #2016 "Csharp client: Avoid generating model classes with "I" prefix and do a rename ex. IEmployeeId -> EmployeeId"
@wing328 I have a csharp api using swagger where some of the return types on the server side are interfaces like f.x. IEmployeeId. This works fine server side, but gives trouble client side using the current version of the csharp client 2.1.5

When using swagger-codegen with csharp, the generated model class for implementing classes retains the "I" prefix. So I get a generated class called IEmploy

[2016-02-02 12:00] peteryhwong opened #2017 "Generating Java Rest Client based on CXF"
As there is now a provision to generate Java CXF-specific Rest **server** stub (https://github.com/swagger-api/swagger-codegen/issues/1854), we would like to see codegen to support generation of Java CXF-specific Rest **client**. This is because we use CXF as our JAX-RS implementation and would like to leverage this implementation for our client libraries (specifically for inter-service interactio

[2016-02-02 12:09] wing328 commented on #2017
@peteryhwong the Java API client supports many HTTP libraries (e.g. Retrofit, Jersey2.x, etc). Please run `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar config-help -l java` for a list of HTTP libraries support.

Ref: https://github.com/swagger-api/swagger-codegen#customizing-the-generator

[2016-02-02 12:15] wing328 commented on #2015
@bluemmc no concern from me. I remember I saw a PR before about making C# class (model) as partial but the PR didn't get in due to merge conflicts.

May I know if you've cycle to contribute the enhancement by adding an option to add `partial` to all generated classes (e.g. ApiClient, models, API classes, etc)?

[2016-02-02 12:19] bluemmc commented on #2015
I added you because you looked like to main contributor for the csharp part and I was unable to provide a csharp label myself to issue. Unfortunately, I have yet to get permission from the company I work for to add contributions (working on it) so I can't do it myself at this time.

[2016-02-02 12:20] bluemmc commented on #2015
BTW: Do you know what the PR is that did not get in due to merge conflicts ?

[2016-02-02 12:28] wing328 commented on #2015
@bluemmc no worry, how urgent do you need the change?

[2016-02-02 12:38] bluemmc commented on #2015
Not urgently, but I believe I could make good use of the feature next month.

Thinking again about it. I think introducing "partial" always should not be a problem so it does not need to be an explicit option. It can always be on as it has no negative consequences for people not using the feature.

So what about starting with just making a tiny change for the next release, by just inserting the st

[2016-02-02 13:26] bluemmc commented on #2016
I should add that I think swagger-codegen+csharp client to be cool regardless BUT I have great difficulty in persuade c# developers internally to adopt swagger-codegen as long as generated classes have names that violate this universal c# naming standard.

[2016-02-02 13:49] wing328 commented on #2016
@bluemmc thanks for the feedback. Is it correct to say that your spec uses `IEmployeeId` as the class name and it cannot be changed to `EmployeeId`?

Naming the class starting with `I` (e.g. IEmployeeId`) seems to me your spec is biased toward C# and you will face the same issue later when generating API clients in other languages (e.g. PHP, Ruby)

[2016-02-02 13:59] bluemmc commented on #2016
My server implementation uses IXXXId as the (interface) type of key fields and Swashbuckle/Ahoy (swagger for .NET) expose this type directly in the swagger.json file.

You do have a point that this might give strange names for PHP/Ruby/etc as well allthough it will not directly violate naming conversions to the same degree as for c#.

I think in any case that the "I" should be stripped by swagger-

[2016-02-02 14:33] wing328 commented on #2015
I researched a bit about partial class in C# and I'll take your suggestion to hardcode it in the model mustache file to begin with.

The only drawback I found (according to some SO answers I read) is that the class definition can be found in multiple files causing it hard to find the full definition but this can be addressed if developers organise the files properly.

I'll submit a PR shortly. Sta

[2016-02-02 14:49] wing328 commented on #2015
Submitted #2020 for the change.

[2016-02-02 15:35] wing328 commented on #1645
@HyperBrain does it work for you?

[2016-02-02 15:40] wing328 commented on #2015
PR merged into master.

[2016-02-02 15:40] #2015 closed

[2016-02-02 16:07] wing328 commented on #2014
@delenius are you generating the client with `-l javascript` using the latest master? The latest one uses https://github.com/visionmedia/superagent, which might meet your need.

[2016-02-02 16:22] delenius commented on #2014
That looks pretty nice, except for the fact that it doesn't use standard promises. I'll give it a shot anyway.

[2016-02-02 16:31] wing328 commented on #2014
@delenius please review and feel free to suggest changes related to using [Promises](https://www.promisejs.org/)

[2016-02-02 16:32] wing328 commented on #1910
@wilsonmar did you have a chance to try the JMeter API client? Would that meet your requirement?

[2016-02-02 16:39] HyperBrain commented on #1645
@wing328 Temporarily I used the jar workaround (i.e. just download the jar) as I had issues getting Vagrant running without a physical Linux machine (VirtualBox does not support VT in VT - there is a bug open since 7 years!) As soon as I have revived my old computer I will try again.

[2016-02-02 16:40] wilsonmar commented on #1910
@wind328 Sorry, missed your earlier email.
The trick with generation of code is the customizations people want to have.
In the case of test clients, different people may want different features
in the client generated.
Also, the difference between a UI-based client and client for testing is
that no manual clicking is expected. I'll email you so we can discuss 1:1.
I've been designing a set of opti

[2016-02-02 16:48] wing328 commented on #1645
@HyperBrain ok. Take your time. Let us know if you need anything from us.

[2016-02-02 16:56] HyperBrain commented on #1645
will do :-)

[2016-02-02 17:03] delenius commented on #2014
@wing328 do you mean suggest changes to this project or to the superagent project?

[2016-02-02 17:39] delenius opened #2022 "Syntax error in generated JS client"
I am using swagger-codegen from master, just cloned.
I am getting the following at the top of my ApiClient.js

[code]

Notice the `root.` and `root..`. This causes node to choke.
My swagger.yaml file is automatically generated from my Java server, so it should be fine.

[2016-02-02 18:22] cbornet opened #2023 "[Java] Support joda and java8 JSR310 dates"
It would be great to have support for joda and java8 dates in the Java codegens like has been done for server JaxRS in  #1784.

[2016-02-02 23:14] peteryhwong commented on #2017
@wing328 thanks for this. If I understand correctly, the ```JavaClientCodeGen``` only seems to support the following:

[code]
which does not include CXF client. Unless you are suggesting an alternative to CXF?

[2016-02-03 00:58] wing328 commented on #2017
Yes, that's the list of HTTP libraries supported. CXF client is not supported yet and we would welcome contribution from the community to support that.

You mentioned Jersey (1.x) has conflicts when being used in conjunction with CXF and that's why I suggested other HTTP libraries, which might work with CXF. Do you also encounter conflicts when using other HTTP libraries with CXF?

[2016-02-03 00:59] wing328 commented on #2014
I mean this project.

[2016-02-03 01:13] delenius commented on #2014
I guess you could provide a `usePromise` configuration flag. When true, the generated API methods would not take a callback parameter. Instead, you would change the `handleResponse` functions to resolve/reject the promise. Currently, you generate something like this:

[code]

instead, you could do

[code]

which would allow the caller to call the usual `then()` and `catch()` methods on the returne

[2016-02-03 02:06] wing328 commented on #2017
And here is the contributing guideline: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-03 02:09] wing328 commented on #2014
Thanks for the suggestion. Would you have cycle to submit a PR with the suggested change?

[2016-02-03 04:37] xhh commented on #2014
@delenius Thanks for the suggestions. The reason I didn't use `Promise` is that it is a feature of ES6 which is only supported by modern browsers.

For controlled environments where `Promise` is known to be supported, it would be easy to convert an API call to a Promise. Maybe it would be helpful to add a helper function for it. For example:

[code]

Another possible helper function:

[code]

With

[2016-02-03 04:45] xhh commented on #2022
It seems your spec contains an empty title: `{"info": {"title": ""}}`, which will be used to generate the project/module name (if not provided via config options).
I'll work on a fix to use a default module name when info.title is empty string. (Currently it works if info.title is missing, i.e. `null` in JSON)

[2016-02-03 06:24] delenius commented on #2014
There are polyfills to support Promise on older browsers. It would be cleanest to not have to invoke a bunch of additional stuff just to get the promises. After all, the "online" JS generator has a "usePromise" parameter along these lines.

[2016-02-03 06:25] delenius commented on #2022
@xhh, thanks for letting me know. Any idea how to get the title generated from Java server code through annotations?

[2016-02-03 06:47] xhh commented on #2022
@delenius I'm not familiar with it but hope this helps: https://github.com/swagger-api/swagger-core/wiki/Annotations-1.5.X#info

[2016-02-03 07:21] bluemmc commented on #2015
Great news. Thanks.

[2016-02-03 07:34] wing328 commented on #2014
For the "online" JS generator, do you mean https://editor.swagger.io?

[2016-02-03 08:04] wing328 commented on #2014
I think I got it: https://github.com/swagger-api/swagger-js/blob/master/lib/client.js#L130

[2016-02-03 09:48] illukarl23 commented on #1753
Ok, I will send you the spec.
Thank You!

[2016-02-03 14:52] wing328 commented on #2002
@wizardbyron thanks. I'm not familiar with Codacy. Do you know what it uses to evaluate the code quality?

I used CodeClimate before which uses open source tools like PHP MD but I've to say I don't completely agree with everything produced in the code review report.

Anyhow I think it's a good idea to have another tool performing code review so that we can work on improving the code base.

[2016-02-03 15:43] delenius commented on #2014
@wing328 yes that one :)

[2016-02-03 16:43] delenius commented on #2022
... and there I ran into this issue: https://github.com/swagger-api/swagger-core/issues/1594
In short, I cannot set the title, so it would be good to have some other default :)

[2016-02-03 19:35] delenius opened #2026 "JS client has hard-coded service URL"
My swagger spec has something like

[code]

Based on this, the JS client generator produces this code in ApiClient.js

[code]

It would be much nicer if the service URL was not hard-coded into the generated client code, especially since it happens to be wrong in this case: My service also needs a port number. I don't think the server URL is normally part of the swagger spec. And for good reason: D

[2016-02-03 19:39] delenius commented on #2026
Oh, I see now that the spec allows for a separate "host" field. However, this appears to be ignored by the client generator. I put `http://localhost:8080`, but it still doesn't include the port in the `basePath`.

[2016-02-03 19:49] delenius commented on #2022
I was able to get a title in, which solved the problem above. However, I found another similar problem. In the `api/FooApi/js` file, there is again the `root.` problem. What attribute is it looking for here?

[2016-02-03 20:00] fehguy commented on #2022
@delenius my guess is that you need an `operationId` or a `tag` on the operation itself.

[2016-02-03 20:34] delenius commented on #2022
I do have something like this at the top of my yaml file:

[code]

The code generation seems sensitive to the exact contents of that string, but I haven't found the pattern yet. With "Foo", as above, and with info.title set to, say "Bar", it correctly generates FooApi.js, with things like `root.Bar.FooApi` in it.

[2016-02-03 20:45] delenius commented on #2022
I had such a tag already. There seems to be some really weird problem having to do with the exact content of that attribute. By editing it slightly, I got it to work, but I haven't figured out the pattern yet.

In any case, this is another case to add a default and warn the user.

[2016-02-03 20:49] delenius commented on #2026
To be more precise, the `ApiClient` constructor could take the host as an optional argument, which would then override the default.

[2016-02-03 21:01] fehguy commented on #2026
I'm not trying to complicate things, but there are some other options with javascript.  Have you seen the [swagger-js](https://github.com/swagger-api/swagger-js) project?  All these things are covered there.

[2016-02-03 21:05] delenius commented on #2026
Yes, that's why I pointed to that project above :)

But I much prefer to generate the client statically. It has many advantages:
- Much less overhead at runtime (time to generate client, network transfer for large codegen library and large swagger file, etc).
- The statically generated client can be minified and uglified.
- The statically generated client can be used to produce client documentatio

[2016-02-03 21:06] fehguy commented on #2026
no problem at all :)

[2016-02-03 21:54] delenius opened #2027 "JS client: Support for default parameter values"
This is a feature request to support default parameter values in the generated JS client. These seem to be ignored currently.

[2016-02-03 22:41] delenius opened #2028 "JS client on the web: Undefined from require('fs') in isFileParam"
Using the JS generator, I get `undefined` from `require('fs')` in the function `isFileParam` in `ApiClient.js`:

[code]

I am using browserify, and I tried installing `browserify-fs`, and setting this in my package.json:

[code]

But I am not sure that this is the correct approach.

[2016-02-03 22:55] webron opened #2029 "Generated code for C# does not include default headers for some methods"
_From @ayuda-yves on February 3, 2016 16:21_

Some generated methods have the line:

`var headerParams = new Dictionary<String, String>();`

instead of

`var headerParams = new Dictionary<String, String>(Configuration.DefaultHeader);`

Because of this, the default headers are missing when calling those methods.

Not sure why some methods have the correct code and why others don't, but it seems to

[2016-02-04 00:29] xhh commented on #2028
Thanks for reporting the issue, I'll fix it.

P.S. the `fs` or `browserify-fs` module is not needed here.

[2016-02-04 00:32] xhh commented on #2026
The `basePath` field of `ApiClient` has a default value and could be overridden. For example:

[code]

[2016-02-04 00:38] delenius commented on #2026
@xhh, ok, but that still combines the host and basePath into one. In swagger, these are two different properties, "host" and "basePath".

I'd like to only change the host part, and be able to use the basePath from the swagger spec.

[2016-02-04 00:54] delenius commented on #2014
For the record, there is [superagent-promise](https://www.npmjs.com/package/superagent-promise)

[2016-02-04 01:18] wizardbyron commented on #2002
You can read more details in [Dashboard](https://www.codacy.com/app/ygu/swagger-codegen/dashboard) and there are suggestions: https://www.codacy.com/app/ygu/swagger-codegen/issues?&filters=W3siaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJFcnJvciBQcm9uZSJdfV0=

[2016-02-04 04:04] wing328 commented on #2026
@delenius we prefer combining host and basePath into one as API clients in other languages behave the same and we're trying deliver a consistent developer experience across different langauges.

[2016-02-04 04:11] wing328 commented on #1469
To all, thanks to contribution from @jimschubert we now have server stub generator for ASP.NET5.

Please pull the latest and give it a try. If you want to help improve the generator, please refer to #2024 for a list of open tasks that are pending community contribution.

[2016-02-04 04:11] #1469 closed

[2016-02-04 04:18] wing328 commented on #1828
@leemeador closing this as there's no update.

[2016-02-04 04:18] #1828 closed

[2016-02-04 06:55] sbelan opened #2032 "[csharp] AssemblyInfo customization issue"
Hi,

I am  using Swagger 2.1.5 to generate client code for -l CSHARP. I override AssemblyInfo mustache template and given that to the supporting file with customize destination location. But it is creating 2 AssemblyInfo files one which customized and proper location and another one at default swagger location.

So if user setting customized templates then it should take only that not the default

[2016-02-04 07:03] #1951 closed

[2016-02-04 07:03] #2022 closed

[2016-02-04 07:03] #2028 closed

[2016-02-04 07:11] delenius commented on #2026
@wing328 ok, then I will use the method above to set the whole thing.

[2016-02-04 07:16] wing328 commented on #2032
@sbelan I'm using the latest master and run the following command:
[code]
which generates the project file `IO.Swagger.Client.csproj` as well.

I can open the csproj file using Xamarin and build the project without issue.

About customising the AssemblyInfo mustache template, can you share with us more about the customization?

[2016-02-04 07:27] bluemmc opened #2033 "[csharp] Generics yields illegal class names in output"
My endpoints use generic C# types like Resource[Employee], that unfortunately yields illegal class names (and strange filenames) in the generated C#.

The generated class/file names for the above example should be "Resource_Employee" rather then "Resource[Employee]" since it is a concrete instance that is being generated and not a generic type.

I.e. For any generic C# type GT<A> the name of the g

[2016-02-04 07:34] wing328 commented on #2026
@delenius thanks. Please let us know if you've further feedback. Btw, we just merged #2030 and you may want to pull the latest master to the generate the Javascript API client again.

[2016-02-04 07:34] #2026 closed

[2016-02-04 07:34] bluemmc commented on #2033
Actually, I just checked what the java code generator does for this and the name of the generated output is "ResourceEmployee" for the example about. The csharp output should properly be aligned with this (no underscore).

[2016-02-04 07:36] bluemmc commented on #2016
@wing328 Per you suggestion, I have worked around this on the server side so this issue is no longer a high priority for me.

[2016-02-04 07:39] wing328 commented on #2033
Thanks for reporting the issue. I'm working on other changes for CSharp and will try to include a fix for this.

We'll check other languages as well.

[2016-02-04 07:45] bluemmc commented on #2033
Wonderful !! Great news.

BTW: Interestingly, I tried to run my copy of the csharp *.mustache files using the java generator and then the generated files/names seem to be correct (but there might be other bugs introduced). This leads me to conclude the error is not in the csharp *.mustache templates but in the c# generator code. Maybe some code can be copied from the java to the csharp generator t

[2016-02-04 09:17] sbelan commented on #2032
@wing328 ... thanks for your quick reply. I am generating client by extending Swagger. In jar which I am using (swagger-codegen-2.1.5) I found that Assembly info path is hard-coded  as -- ["src" + File.separator +"Properties"] whereas in latest master those are changed to  [packageFolder + File.separator + "Properties"] which seems correct. Also I was manually generating .csproj and other required

[2016-02-04 09:26] wing328 commented on #2032
Those improvements will be included in the swagger codegen 2.1.6 release.

[2016-02-04 09:57] wing328 commented on #2016
@bluemmc glad you found a workaround. Closing this for now and will reopen if someone cannot find a way to name the models for any reason.

[2016-02-04 09:57] #2016 closed

[2016-02-04 10:10] #2032 closed

[2016-02-04 10:57] wing328 commented on #2033
Submitted #2035 to fix the issue. My test result looks good.

[2016-02-04 10:59] wing328 commented on #2029
Submitted #2035 to fix the issue. Sorry for the oversight.

[2016-02-04 11:02] #1953 closed

[2016-02-04 11:03] bluemmc commented on #2033
That was fast. Do you have an ETA for next release ?

[2016-02-04 11:03] wing328 commented on #1987
Closing this as there's no update. Please let us know if you're still facing the issue.

[2016-02-04 11:03] #1987 closed

[2016-02-04 11:06] wing328 commented on #2032
@sbelan  If you don't mind, please share your upgrade experience (from 2.1.4 to 2.1.5) with us or me (you can find my email address in my github page)

[2016-02-04 11:41] sbelan commented on #2032
@wing328 .. Hi, I am extending swagger codegen for to generate client code for different languages. For Csharp I already did few customization by extending swagger which I found the part of release 2.1.5 and 2.1.6.
Also I have few more changes related to csharp which I will suggest/contribute soon similarly for java too.
During upgrade I didn't faced any issues or impact on my existing code. Its v

[2016-02-04 12:03] scottrw93 opened #2036 "Python client will not take list of files"
I am trying to upload a list of files with the python client but the files are never processed as files but are treated as a list of strings

    "/uploadImages" : {
      "post" : {
        "tags" : [ "specific_alarm" ],
        "summary" : "uploads images of cars",
        "description" : "",
        "operationId" : "uploadMultipleFiles",
        "consumes" : [ "multipart/form-data" ],
        "

[2016-02-04 12:22] mtngld opened #2037 "additionalProperties issue in python code generation"
Assume the following definition in a swagger.yaml file:

[code]

I had issues with the `to_dict` method of `defenition1`,

solved by adding another test in the `to_dict` as follows:
[code]

Not sure how to modify the code generator to create this, or if there is any other way to solve that

[2016-02-04 12:33] #2033 closed

[2016-02-04 12:34] wing328 commented on #2029
PR merged into master. @ayuda-yves please pull the latest master and give it another try.

[2016-02-04 12:35] wing328 commented on #2033
PR merged into master. Please pull the latest master and give it a try.

[2016-02-04 12:44] sbelan opened #2038 "[java] Retrofit simplexml converter and retrofit client object thread safety"
@wing328
1.	We are using retrofit-simplexml combination to send and receive xml payload using 2.1.5.
Simplexml expects annotations based on element type. For e.g. primitive types should have @Element annotation, while list should have @ElementList, and arrays as @ElementArray.
    Mustache being logic-less, I can not add string comparison, but can surely check for Boolean. But, model json does not

[2016-02-04 12:51] wing328 commented on #2032
Thanks for the positive feedback. Glad to hear that the upgrade is very smooth.

[2016-02-04 15:23] wing328 commented on #2036
@scottrw93 I saw the commit f5b18f0 so I believe you're already working on a fix?

I think other API clients have similar issue and we'll check on those.

[2016-02-04 15:26] scottrw93 commented on #2036
Yes, I'm not sure when I'll get a chance to finish but hopefully at the weekend.

[2016-02-04 15:41] delenius commented on #2026
Will do, thanks! :+1:

[2016-02-04 16:18] delenius opened #2040 "JS client: Bug in handling of reserved words"
One of the types in my swagger spec has a field called "undefined". This causes a bug, due to the following incorrect code generation. As you can see, `undefined` has been changed to `_undefined` everywhere *except in the function signature*. So I guess you just also need to call the same function on the parameters in the signature.

[code]

[2016-02-04 16:29] wing328 commented on #2037
@mtngld thanks for reporting the issue and proposing the fix.

You probably need to update the Python model mustache template: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/python/model.mustache#L85

Then run `mvn clean && ./bin/python-petstore.sh` to update the Petstore sample.

Guidelines for contribution: https://github.com/swagger-api/swa

[2016-02-04 16:40] wing328 commented on #2038
For your questions related to Retrofit clients, let me cc @cbornet who's the expert in the Retrofit API client.

For your questions related to model json, I need to check. How urgent do you need the "feature" (if it's not yet implemented)?

[2016-02-04 16:43] wing328 commented on #2027
For other API clients, we don't implement default value for parameters because the default value should be handled/added in the server side.

For your case, if the default value is not provided, will the server handle it properly?

[2016-02-04 16:55] delenius commented on #2027
I see, but then the problem is that the client will get confused about the arguments. For example, if I have one operation `foo` that takes one parameter `bar` (say as a query param), which has a default value, then the generated client API function will be

[code]

Now, if the user just calls `foo(myCallback)`, things will not work. You would have to at least call it with `foo(null, myCallback)`

[2016-02-04 18:18] cbornet commented on #2038
The retrofit adapter and services are thread-safe and the ApiClient is just a wrapper to configure them.
So everything should be fine once the ApiClient is created and configured. Depending on your implementation, you should probably wrap the ApiClient into a singleton.
Note : If you use OAuth2, there is a little bit more custom code to handle the access_token (which is shared between threads). Th

[2016-02-04 19:10] andrewkrowczyk commented on #1469
@jimschubert How much work would be required to get a ASP.NET WebAPI codegen working on the .NET 4.6 Framework?

I am not familar with the codegen aspects, but see that you did implement another service stub in .NET for < ASP.NET 5.

Our use cases here are more slanted towards enterprise web api's on the current .NET 4.6 framework and stack.

[2016-02-04 19:19] delenius opened #2041 "JS client does not support polymorphic return types"
In the generated `constructFromObject` functions, the `descriminator` property is ignored, which means that an instance of the abstract superclass is created. For example, if I have this in my swagger.yaml:

[code]

then, according to my understanding of how it should work, if the `vehicleType` is `Car`, then a new `Car` instance should be generated, and if `vehicleType` is `Bicycle`, a new `Bicyc

[2016-02-04 20:26] delenius commented on #2041
A workaround would be to have a mode where you don't generate these "models" at all -- just return the raw data. That would also make the client much smaller. With my rather large spec, I get a rather bloated client, and I don't really have any use for all these "model" classes...

[2016-02-04 21:58] delenius opened #2044 "JS client: Model methods should be added to prototype"
In the generated model classes, each instance contains the methods `constructFromObject`, `toJson`, plus getters and setters for all the fields. Currently, these methods are added as anonymous functions to each instance. Meaning, if I have 100 instances of some class, I have 100 copies of each of the methods.

These should be added to the class's prototype instead. For example, instead of (current

[2016-02-05 03:11] jimschubert commented on #1469
@andrewkrowczyk

I think it would be relatively easy to create a single Web API generator that could target .NET 4.5.2 and .NET 4.6.  I think the csharp, aspnet5, and CsharpDotNet2 generators should probably be abstracted to a common base type before adding another one specifically for Web API.  I was planning to work on that next so there's not a lot of duplicated code.

The models for Web API in

[2016-02-05 04:37] wing328 commented on #2027
Definitely valid point and we'll evaluate your suggestion using named parameter (which is already supported by C#, Ruby, etc)

[2016-02-05 09:11] sbelan commented on #2038
@cbornet .. that's great :+1: ...thanks for your reply.
@wing328  Right now we are achieving above using vendor extension. But it would be great if you add few more Boolean for models as mustache is logic less. It will be get if we get this in coming 2.1.6 release.

[2016-02-05 09:31] wing328 commented on #2038
@sbelan your request is definitely reasonable. Can you list out *all* the boolean you want us to add to meet your requirement?

[2016-02-05 10:45] sbelan commented on #2038
@wing328 thanks for quick assist :+1: We are expecting all collection datatypes like map, list etc and primitives. We came across to this issue for to use list and map.

[2016-02-05 11:01] sbelan opened #2047 "[java] Resource structure customization for mustache template"
Hi,
I am using Swagger codegen 2.1.5 and generating client code for different languages. I am setting customized mustache from supporting file by extending swagger. As per my observationby default swagger looks for mustache template in resource/[language specific] folder. But if I change resource folder structure like resource/mustacheTemplates/[language specific]  then it is failing to find the f

[2016-02-05 11:41] sbelan opened #2050 "[java] Generating AndroidManifest.xml for java client"
Hi,
I have moved my project from swagger codegen version 2.1.4 to 2.1.5. After generating java client swagger generating AndroidManifest.xml under src/main folder which is not require for java. Also in previous version it was not getting generates for java client

[2016-02-05 14:31] jhitchcock opened #2051 "Template Repo"
I have quite a lot of handy documentation style templates.

Where is a good place to put them (Pull request) since they all use the static HTML generator.

Is there a template repo anywhere?

[2016-02-05 14:36] wing328 commented on #2038
To manage your expectation, I think it's reasonable to expect these additional features will be available in 2.1.6 stable release based on my estimation.

[2016-02-05 15:28] wing328 commented on #2051
@jhitchcock thanks for contributing the templates.

What about putting them in a new folder (e.g. templates) under https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/htmlDocs?

[2016-02-05 15:48] wing328 commented on #2050
Yes, you will also find `build.gradle` as well for building the library using Gradle. Since Java API client can also be used in the Android environment so we generate build files (pom, gradle, etc) and developers can pick the right one for their development environment.

[2016-02-05 17:24] #1936 closed

[2016-02-05 18:54] jhitchcock commented on #2051
Will do. I'll tidy them up over the weekend and get them in sometime next week, thanks

[2016-02-06 01:24] #2001 closed

[2016-02-06 02:47] delenius commented on #2044
I submitted a PR. Note that it does not deal with the two "additional comments" above.

[2016-02-07 07:33] #2044 closed

[2016-02-07 14:56] #2037 closed

[2016-02-07 16:07] wing328 opened #2061 "[Python] fix DeprecationWarning in unit tests"
Unit tests reported the following warning:
[code]
We should replace the deprecated function with the suggested function instead.

Here are steps to run the integration tests for Python Petstore API client:
[code]

If anyone from the community wants to work on this, please reply to let us know.

[2016-02-08 06:15] sbelan commented on #2050
@wing328 .. Fine... Thanks

[2016-02-08 06:15] #2050 closed

[2016-02-08 06:16] sbelan commented on #2038
@wing328 ... that's great :+1:

[2016-02-08 08:01] ghost opened #2064 "[csharp,java] Generated output includes Object.cs which produce compile error an 'Object' is an ambiguous reference"
Both v 2.1.5 and todays master (8 feb 2016) generates - for my project - a dummy Object file with no properties that gives compile errors unless it is deleted. Problem applies to both Java and CSharp version but below I will focus on the CSharp error. The does not happen with all projects (as an example, petstore works fine) but it happens with mine that was generated by Ahoy/swashbuckle. See atta

[2016-02-08 08:02] bluemmc commented on #2033
Ok. I installed latest jdk, maven and build using todays master. The class/file names are now correct (and models are partial). Unfortunately, the generated output will not be compile but this is unrelated to this fix (see #2064).

Thank you very much for the fix.

[2016-02-08 12:20] sbelan opened #2065 "[java] Enum conversion in Java (for Jersey as well as retrofit) is not happening appropriately"
@wing328
Enum conversion in Java (for Jersey as well as retrofit) is not happening appropriately.
For e.g
I have following structure:
Car:
   Type: string
   Enum: [“ford”, “chevy”, “lexus”]
MyProfile:
  Properties:
      MyCar:
          Type: “#/definitions/Car”

Then, for jersey, car.java gets generated correctly with Car object as enum, but MyCar object gets messed up, as it gets generated as

[2016-02-08 12:23] sbelan opened #2066 "[Generic] Generating client code from a big YAML file"
@wing328
It would be nice if swagger spec can provide an option to include another spec. Just line “# include” in C/C++.
The reason to request for this feature is, yaml getting quite big, and prone to errors. In fact, becomes quite difficult to follow at times.
We understand that, yaml as such does not provide any include feature, and to keep it yaml compliant, only way to achieve this would be vi

[2016-02-08 15:10] jeff9finger commented on #1575
I'm seeing this too.

$ java -jar ~/.m2/repository/io/swagger/swagger-codegen-cli/2.1.6-SNAPSHOT/swagger-codegen-cli-2.1.6-SNAPSHOT.jar generate --verbose --output tttt --library jersey2 --lang java --input-spec ./tract/tract-war-api/src/main/webapp/2.0/tract.yaml
[main] INFO io.swagger.codegen.config.CodegenConfigurator -
VERBOSE MODE: ON. Additional debug options are injected
 - [debugSwagger] p

[2016-02-08 16:01] hiveship commented on #1348
@wing328 I'm facing the problem. What is the final decision about it ?

[2016-02-08 16:10] wing328 commented on #2064
The endpoint `ApiServicebureauByServicebureauIdEmployeersByEmployeerIdEmployeesByEmployeeIdPatch` has body parameter referring  '#/definitions/Object', which seems not defined (which means it's an object without property)

[2016-02-08 16:38] cbornet opened #2067 "supportingfiles"

[2016-02-08 16:38] #2067 closed

[2016-02-08 16:53] cbornet opened #2068 "Add templated supporting files by config"
It would be great to be able to add custom supporting files by config when using an alternate template dir
Eg.

[code]

[2016-02-08 17:03] sohelsd opened #2069 "Node.js Heroku app start error"
When I try to deploy the code generated app to heroku, I immediately see this in the logs. While the app seems to work fine on localhost. Am I missing anything? My Swagger file does not have any securityDefinitions defined since there is none needed.

<code>
2016-02-08T16:33:58.926765+00:00 app[web.1]: Starting process with command `node index.js`
2016-02-08T16:33:58.926765+00:00 app[web.1]: TypeE

[2016-02-08 18:52] fehguy opened #2070 "swagger 1.1 spec failing to parse"
(more details to come)

[2016-02-08 19:19] webron commented on #2067
+1

[2016-02-08 20:54] cbornet commented on #2023
Duplicate of #1905

[2016-02-08 20:54] #2023 closed

[2016-02-08 21:47] fehguy opened #2073 "swagger 1.1 inline models throw NPE when not resolved"
It's not necessarily the Codegen's job to make sure that all models are actually defined when being referenced, but it probably shouldn't throw a NPE when they're not.

[2016-02-08 21:50] cbornet commented on #2067
sorry...

[2016-02-08 22:37] #2073 closed

[2016-02-08 23:28] jaz-ah commented on #1989
@wing328 ok all done - I've made them build with the maven command like the objc ones and added several basic tests (create/get/delete) for the apis.  There currently isn't an object in the petstore.json that would expose the bug I'm fixing here so I can't add a test for it explicitly unfortunately.  I've also broken the commit into several commits so it should be easier to look at the tests since

[2016-02-09 02:51] wing328 commented on #1469
@jimschubert @andrewkrowczyk what about adding CLI options to so support .NET 4.5.2 and .NET 4.6 in the `aspnet5` generator?

[2016-02-09 02:53] jimschubert commented on #1469
@wing328 I was also thinking about maybe renaming it to aspnet and supporting 4.x as libraries.

[2016-02-09 02:55] andrewkrowczyk commented on #1469
I may have some time to help out this week if there are specifics that need work....

-------- Original Message --------
From: Jim Schubert <notifications@github.com>
Date: Mon, February 08, 2016 8:53 PM -0600
To: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
CC: "Krowczyk, Andrew" <Andrew.Krowczyk@am.jll.com>
Subject: Re: [swagger-codegen] Generate server side asp.net (c#) code

[2016-02-09 03:22] wing328 commented on #1469
@andrewkrowczyk if it's not too much work, can you please modify the existing PetStore ASP.NET server stub to make it work with .NET 4.5.2/.NET 4.6?

Ref: https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/aspnet5

Then we will have a better idea on what needs to be modified to make the generator works with different .NET frameworks and start the reverse engineering

[2016-02-09 03:40] nin9creative commented on #1469
Ok will take a look.
Andrew
      From: wing328 <notifications@github.com>
 To: swagger-api/swagger-codegen <swagger-codegen@noreply.github.com>
Cc: Andrew <andrew@nin9creative.com>
 Sent: Monday, February 8, 2016 9:23 PM
 Subject: Re: [swagger-codegen] Generate server side asp.net (c#) code? (#1469)

@andrewkrowczyk if it's not too much work, can you please modify the existing PetStore ASP.NET se

[2016-02-09 05:01] sbelan commented on #2068
@cbornet ... I have raised issue #2047. Are  you suggesting the same?
We are using config and for alternate template path we required to extend DefaultCodeGenerator.

[2016-02-09 06:59] bluemmc commented on #2064
Yes, that could be why. Patch operations typically takes opaque input (which Ahoy/swashbuckle translates into Object for Java and C#). No Object file should be generate though as it refers to  java.lang.Object (java) or System.Object (c#).  The question is if the problem is in Ahoy/swashbuckle that fails the prefix the package/namespace to Object OR if the problem is in swagger-codegen that fails

[2016-02-09 07:53] delenius opened #2079 "Documentation generator for JS client?"
The generated client code has nice documentation comments, but I haven't been able to produce any good output from it. Is there actually a JS api doc generator that produces any good output from these sources? I've tried ESDoc, JSDoc, and YUIDoc, and all came out with essentially empty output. Is there a magic tool/configuration combo that works?

[2016-02-09 08:19] wing328 commented on #2079
I don't have a direct answer to your question but the style guide we used for JS can be found here: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md#style-guide

Are you using any IDE with the JS API client generated by swagger codegen? If yes, does the IDE properly show the method/class documentation?

For the tools you mentioned (ESDoc, JSDoc, etc), I've not tried any o

[2016-02-09 08:26] wing328 commented on #2069
Not an expert in Heroku myself but as you said it works locally so it might has to do with the Heroku environment.

Another way to troubleshoot is to use the Petstore example (https://github.com/swagger-api/swagger-codegen/tree/master/samples/server/petstore/nodejs) to see if works in Heroku
(petstore contains `securityDefinitions` so it can help confirm if the issue you're seeing has to do with a

[2016-02-09 08:40] wing328 commented on #2064
I don't think `#/definitions/Object` translates to Object (in C#, Java or other langauges). It means a model named "Object" defined under `definitions`.

What does the body parameter look like? What about defining the body parameter as a proper model (with properties) as opposed to just a generic object?

[2016-02-09 08:45] bluemmc commented on #2064
In C# the type is a "dynamic" which is a type that can contain anything and be inspected at runtime for actual content. The corresponding method (ASP.NET 5 / MVC 6) is

[code]

[2016-02-09 08:46] wing328 commented on #2066
You may want to share the spec here so that the community can look into the issue. (I'm out this week and may not have access to the Internet)

I assume the spec has been validated using editor.swagger.io or other tools.

[2016-02-09 09:02] wing328 commented on #2064
Ideally you want to be able to supply any object but the question is how can these objects be deserialized properly into JSON string (to be placed in the HTTP body)?

What does the HTTP body look like?

[2016-02-09 09:37] danjenkins opened #2080 "Missing files from generated JS client"
After a long conversation with @fehguy yesterday, and a lot of effort on his part to get things working with the Swagger 1.1 spec, it seems even though there aren't any exceptions now being thrown, there is at least 1 file missing from the generated output. I'm missing a file called "ListString" which is being required. It should be housed within the generated `model` directory.

Just trying to in

[2016-02-09 09:55] jhitchcock opened #2081 "Adding vendorExtensions at root level"
I'm thinking of adding vendor extension support at the top level. The spec supports it but it doesn't come through in gen. Is anyone already working on it? Any issues with doing this?

[2016-02-09 10:43] bluemmc commented on #2064
The HTTP body contains arbitrary json. The newtonsoft library which is used for serialization/deserialization can deserialize any json into a "dynamic". At runtime I can ask the dynamic type what properties it has etc. This is pretty nice for patch operations, since patch objects are not complete objects so I can't make a static type for the input.

[2016-02-09 11:03] wing328 commented on #2064
Thanks for sharing the requirement but that's not supported at the moment.

[2016-02-09 11:04] wing328 commented on #2081
I'm not aware of anyone working on it and I'm sure the community would appreciate your contribution to add that.

[2016-02-09 11:07] wing328 commented on #2080
Are you using the latest master, which has more than 10 PRs (enhancements, bug fixes, etc) for Javascript client (`-l javascript`) since stable release 2.1.5? I would recommend you give the latest master a try.

[2016-02-09 11:08] bluemmc commented on #2064
That is ok. I can work around it for now by deleting the file after generation or by adding "--import-mappings Object=System.Object"

[2016-02-09 11:17] danjenkins commented on #2080
hi @wing328 , yes I am.

[2016-02-09 12:24] jaz-ah commented on #1598
@c314 I've just added a test program in this PR: https://github.com/swagger-api/swagger-codegen/pull/1991  -- take a look, that should help show how to use swift+promisekit to use the api's.

[2016-02-09 12:32] jaz-ah commented on #1565
@tannhaeuser could you share what your actual json schema for the array looks like?

[2016-02-09 12:33] jaz-ah commented on #1424
@wing328 I believe I have a good start in my latest PR for this one.

[2016-02-09 12:41] tannhaeuser commented on #1565
I just got feedback from our developers. It turns out that the API was responding:

HTTP: 200 but a JSON like this:

{
"status": "500"
"message": "something"
}

which did not fit to the data model of this specific swagger api. That happened because of wrong parameter value in API request. After fixing it everything is fine now. Only thing to mention is that we should try to avoid that the Swagger

[2016-02-09 12:51] wing328 commented on #1565
@tannhaeuser yes, ideally the swift API client should throw an ApiException to report the deserialization error.

May I know if you've cycle to make the improvement to the Swift API client?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-09 13:29] wing328 commented on #2080
I gave it a try with the latest master but got error messages. Here is part of it:
[code]

Here is the command I used:
[code]

Did you get similar error when generating the `javascript` API client locally in your machine?

[2016-02-09 13:50] danjenkins commented on #2080
No, no errors on compilation for me. Looks like you're not serving up those files correctly if you're getting a connection refused? Compilation of the JS client works fine, with no exceptions - I only realised something was wrong when I went to use it and it complained a file was missing

[2016-02-09 14:11] wing328 commented on #2080
I think I know why. When I grep "List\[" in the JSON files you provided, I got:
[code]
(partial result above)

I'm not sure if `"type": "List[string]"` is valid in swagger 1.1 as I could no longer find the spec under https://github.com/OAI/OpenAPI-Specification/tree/master/versions

That seems to be causing issues with swagger parser as it interprets `List[string]`  as a model `ListString` instead

[2016-02-09 14:12] wing328 commented on #1424
@jaz-ah  :+1:

I'll close this after PR merges into master.

[2016-02-09 14:15] fehguy commented on #2080
@wing328 I think this is a parser bug.  @danjenkins can you please open an issue in swagger-parser about it?

[2016-02-09 15:08] danjenkins commented on #2080
Sure! Thanks!

[2016-02-09 15:08] #2080 closed

[2016-02-09 15:14] Glagnar opened #2084 "[Swift] names containing - ( mathematical symbols )"
The SWIFT code generator generates variable names with a minus in it. This is not allowed in SWIFT

[2016-02-09 15:33] Glagnar commented on #2084
The C# generator does better:
        `[DataMember(Name="Association-Link", EmitDefaultValue=false)]`
        `public string AssociationLink { get; set; }`

versus
`    public var Association-Link: String?`

[2016-02-09 15:36] fehguy commented on #2084
There are two things here-- first, variables need to have a "friendly name" which is escaped for the language being used.  There should be no hyphens in a variable name.

Next, a model property or parameter in JSON _can_ have special characters in it.

The templates have `{{paramName}}` for safe names and `{{baseName}}` for _actual_ names.  There are overrides in the java class which is used to co

[2016-02-09 15:37] wing328 commented on #2084
@Glagnar thanks for reporting the issue.

Do you know what naming convention does Swift variable name follow?
- camelCase
- PascalCase
- snake_case

Here is how C# handles the parameter naming: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/CSharpClientCodegen.java#L319

[2016-02-09 15:39] Glagnar commented on #2084
@wing328 the swift documentation uses camelCase:
https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TheBasics.html

[2016-02-09 15:41] wing328 commented on #2084
@Glagnar thanks. Do you have you cycle to contribute a fix for that?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-09 15:44] Glagnar commented on #2084
I will have a look. There is also an issue with parameter naming:
`public class func featureOfInterestsGet($orderby $orderby: String?, $top: Int?, $skip: Int?, $filter: Int?) ->`
The $ is not supported.

[2016-02-09 15:46] wing328 commented on #2084
You can leverage `sanitize` to clean up the parameter name before converting to camelCase. e.g.

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/RubyClientCodegen.java#L325

[2016-02-09 16:34] #2014 closed

[2016-02-09 16:48] jeff9finger commented on #1575
It looks like my issue was resolved with [https://github.com/swagger-api/swagger-parser/issues/146](https://github.com/swagger-api/swagger-parser/issues/146)

[2016-02-09 17:48] jimschubert commented on #1469
@andrewkrowczyk if you're implementing these changes, please be aware of pull #2062 in which the file structure of `AbstractCSharpCodegen` will have changed.

[2016-02-09 19:19] fehguy opened #2088 "node.js generator can create invalid package.json files"
We need to properly escape the name, and version as well.

For instance:

[code]

Will give an error on the name and the version as well.

Reported by @kesh92

[2016-02-09 20:42] rbpasker commented on #1796
its not just the python codegen. the Java codegen has the same behavior.

[2016-02-09 20:46] David-Marin-Calleja commented on #1554
@wing328 I will try. I've started and I pull as soon as.

[2016-02-09 20:49] jaz-ah opened #2089 "swagger server should return 204 when it has an empty response body"
Currently when running the swift tests, we do an add/get/delete of orders and pets, but some of these calls return a 200 with an empty response body, which on the Swift client causes a failure because it tries to parse out an empty body.  The Swift/Alamofire implementation looks specifically for 204 return codes to avoid parsing in these cases - can we modify the backend to do this as well to make

[2016-02-09 21:11] #2036 closed

[2016-02-09 23:37] deefactorial opened #2091 "javascript client bug in ApiClient.js"
The code generated by the javascript client has errors.

In my [yaml file](https://github.com/deefactorial/openmoney-api/blob/master/api/swagger/swagger.json#L2517) I have a reference to a `modification`

the error I get is:
[code]

it's trying to access the map function from the data, but data is undefined. the solution I coded manually was to check if data is undefined first.

[2016-02-10 01:50] jeffjcrowe commented on #1707
@fehguy This appears to be fixed in the most recent version. Safe to close the issue?

[2016-02-10 03:03] fehguy commented on #1707
done!

[2016-02-10 03:03] #1707 closed

[2016-02-10 05:47] wing328 commented on #1554
@David-Marin-Calleja thank you!. Let me know if you need any help from us.

[2016-02-10 06:00] wing328 commented on #2084
@Glagnar there are several PRs related to Swift merged into master. Please pull the latest and rebase.

[2016-02-10 06:32] hideya opened #2093 "[Swift] responses: schema: type: object --> RequestBuilder<Inline_response_200> ?"
When I feed an API with the following responses definition:
[code]
the codegen generates something like the following client-side code:
[code]
where I don't understand how to handle the returned `object` value...?
I would expect an plain object is mapped to a dictionary so that access key-value pairs can be read...
Would you kindly tell me if I'm mistaking something?

When I tried Obj-C and it als

[2016-02-10 06:36] wing328 commented on #2093
You define the response as "object" without specifying the definition of the "Object" (e.g. properties). Here is an example:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L331

(there are a few PRs for Swift merged into master so would also recommend you to pull the latest)

[2016-02-10 07:07] hideya commented on #2093
@wing328 thanks for getting back to me this quickly!  Yes, for those which has `$ref:` set, the generated code works like a charm :-)  I was wondering how to deal with such a case where the server API returns a plain JS object.  Anyhow, I'll pull the latest.  Thanks again for your quick action!

[2016-02-10 07:08] neoasket opened #2094 "mark 'findMethodResponse' method in DefaultCodegen.java as 'protected' to make it possible to override for handling custom response codes"
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/DefaultCodegen.java#L1181

[2016-02-10 07:39] hideya opened #2095 "[Swift] missed char escaping for operationId, resulted in syntax error against generated method name"
In our usage, `operationId` can contain characters like `.`, `{`, `}`.  My understanding is that there is no restrictions against kind of characters used in `operationId`, and when to use `operationId` to generate some part of the code, special characters should be escaped/removed by the codegen to avoid syntax errors.

In Swift codegen, `operationId` seems used to generate the method name and spe

[2016-02-10 08:47] wing328 commented on #2095
@hideya yes, agree that the `operationId` should be sanitized to remove special/illegal characters.

Do you have cycle to contribute a fix?

Here is how Objc cleans up the `operationId`: https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/ObjcClientCodegen.java#L425

Ref: https://github.com/swagger-api/swagger-codegen/blob/m

[2016-02-10 08:49] wing328 commented on #2093
Can you elaborate a bit on the plain JS object by providing an example of the HTTP body? Is it like `{}` or just empty?

[2016-02-10 08:50] hideya commented on #2095
@wing328 thanks for getting back to me quickly again.  Sure, I'll work on it :-)

[2016-02-10 08:51] wing328 commented on #2094
@neoasket the suggestion definitely sounds reasonable to me but can also elaborate a bit how you would like to handle custom response codes?

[2016-02-10 08:54] hideya commented on #2093
Sure, it is like `{count: 123}`.  By plain I meant a JS object that doesn't have model definition (does this make sense?)

[2016-02-10 08:58] wing328 commented on #2093
Would `Map/Dictionary` meet your requirement?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties

[2016-02-10 09:05] hideya commented on #2093
No, I'm afraid not.  The value part could be any type of JS value (not limited to "a simple string to string mapping").

[2016-02-10 09:06] neoasket commented on #2094
@wing328,
our API endpoints produces error codes which start with "2" as an HTTP response
yeah, I know, looks strange but this is what we live with (:
and in this case codegen produces incorrect return type

[2016-02-10 09:21] wing328 commented on #2093
Given that the HTTP response body can be any JSON object, what about modelling your response as `string` instead so that you can do whatever you want in your program?

[2016-02-10 09:39] hiveship opened #2096 "[Java] Subclass with attribute allOf issue"
i'm facing a strange behaviour with Swagger Codegen while generating Java code (JAXRS / JAXRS-CXF and Java).

Considering the Swagger definitions:
[code]

I exepect to get a class "Event":
[code]
and a subclass "MessageEvent" like this:

[code]

But with the current Swagger codegen, I got:

[code]

[code]

This behaviour can cause issue. MessageEvent is a subclass of Event, so in my code I can do:

[2016-02-10 10:03] hideya commented on #2093
The thing is the server side specification cannot be changed that easily since it is not just a server but a framework (https://github.com/strongloop/loopback) which already has users.  Some of the methods it provides return an `object` (used like dictionary to carry some key-value info) and that part cannot be changed easily.  So, I'd like to find out a way to handle returned JS object on the cli

[2016-02-10 10:17] demonfiddler commented on #2041
Agree regarding code-bloat from model classes if these don't actually contribute any useful functionality. Model-driven content assist (auto-complete) is useful functionality but it doesn't necessarily have to be driven from JavaScript - [Tern.js](http://ternjs.net/), for example, has a 'condense' utility whose output is a JSON API definition from which the Tern server can generate completion prop

[2016-02-10 10:32] demonfiddler commented on #1954
+1 for comprehensive documentation.

Functional PetStore browser and Node.js example clients would be useful, too.

[2016-02-10 11:32] Glagnar commented on #2084
@wing328 thank you. The issues were not solved by these changes, but I have a solution ready that I am testing.

[2016-02-10 12:38] #1994 closed

[2016-02-10 12:38] #1992 closed

[2016-02-10 12:38] #1989 closed

[2016-02-10 12:39] wing328 commented on #1598
FYI. Here are the unit tests for Swift Petstore: https://github.com/swagger-api/swagger-codegen/tree/master/samples/client/petstore/swift/SwaggerClientTests

[2016-02-10 12:39] #1598 closed

[2016-02-10 12:47] wing328 commented on #2084
@Glagnar yes, those PRs do not address the issue you reported. The reason I would like you to rebase on the latest master is that one of the PRs added unit testing to the Swift Petstore API so you can leverage it to ensure your change passes all the unit tests.

[2016-02-10 13:37] wing328 commented on #1469
@andrewkrowczyk FYI. #20162 has been merged into master. Please pull the latest master and let us know if you've any questions.

[2016-02-10 14:08] ayuda-yves opened #2099 "String type parameters with "uuid" as format generate incorrect code"
If the parameter or return type of a method is of type "string" and format "uuid", the generated code uses a fictitious "UUID" type instead of "Guid".

Example:
[code]

(Copy paste from Java code generation maybe?)

[2016-02-10 14:33] bajtos commented on #2093
From reading [Swagger spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties) and [JSON Schema Validations](http://json-schema.org/latest/json-schema-validation.html#anchor64), I believe it is allowed to specify `responses: schema: type: object` instead of using `responses: schema: $ref`.

I think our intent "an object with unspecified pr

[2016-02-10 14:41] bajtos commented on #2093
I would eventually like to improve our swagger spec generator to correctly describe the response format (instead of using a generic "object" type), see https://github.com/strongloop/loopback-swagger/issues/27. That would solve this particular issue for us. However, I thought it would be good to report the issue to this project and get it fixed here too, as other users may run into the same problem

[2016-02-10 15:21] panshul007 opened #2100 "List<String> being generated as List<Enum>"
I updated swagger-codegen from version 2.1.2 to 2.1.5
Using Java 8
Using the provided JavaClientCodegen.java file
I have the following specification:
[code]

and it generates:
[code]

Please help. What am I doing wrong.

[2016-02-10 15:23] fehguy commented on #2100
That looks like a bug, I don't think you're doing anything wrong.  We'll try to address it in short order.

[2016-02-10 18:39] delenius opened #2101 "[JavaScript] Strange enum generation"
It seems that the generation of enums in the JS client generator is a bit odd. Currently, I get something like (omitting comments):

[code]

This is a class, where each instance has its own copy of the fields `PAIDACCOUNT` and `FREEACCOUNT`. To use this, you would currently have to do:

[code]

This is a strange way to encode enums.

I propose that we change it to just an object,

[code]

The usag

[2016-02-10 19:01] delenius opened #2102 "[JavaScript] Enums are not exported correctly"
In the generated models, when there are enum, an extra segment is introduced, like

[code]

This has the effect that
- If the module system is AMD, this will just export the enum, and not the main model class
- If the module system is not AMD, this will just export the model class, and not the enum

The import/export setup also seems a bit inconsistent and strange in general. We are using both ret

[2016-02-10 19:24] delenius opened #2103 "[JavaScript] Bug in handling of optional fields in models"
(I already filed PR https://github.com/swagger-api/swagger-codegen/pull/2087 for this issue)

In the `constructFromObject` methods, we are always setting all the
parameters, including optional ones that are missing in the data
object. Because of the `convertToType` calls, this has the effect
of producing the *strings* `"undefined"` or `"null"` as property
values on the constructed object! This obv

[2016-02-10 19:26] fehguy commented on #2103
:+1: Thanks for all the work on this @delenius

[2016-02-10 19:44] ePaul opened #2104 "Code/Architecture needs documentation"
As a Java developer trying to contribute some code, I must say that I find it quite hard to orientate myself in the code base.

The [README.md](https://github.com/swagger-api/swagger-codegen/blob/master/README.md) has mainly information about the actual usage, and [CONTRIBUTING.md](https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md) has some generic advice.

What I'm missin

[2016-02-10 19:50] ePaul commented on #1919
@fehguy I would write this fromValue method slightly differently:

[code]

No need for the null check, other possibly for a performance optimization.

[2016-02-10 20:05] fehguy commented on #1956
I'll implement the ignore file in a separate issue.

[2016-02-10 20:06] fehguy opened #2105 "add an ignore file for codegen"
From #1956, adding a .codegen-ignore file would be helpful for keeping languages from overwriting files unexpectedly.

[2016-02-10 21:11] fehguy commented on #2104
Hi @ePaul you are correct that the README focuses on _usage_ rather than code structure.  There could be a separate development guide for the project which would of course be helpful to a number of people.

The maven plugin is duplicating a lot of work that the codegen proper is doing.  The argument parsing and configuration setting should be the same code, but it's not--hence the confusion it's g

[2016-02-10 21:14] #1956 closed

[2016-02-10 21:31] fehguy commented on #2096
Yes, this is an issue in the composition aspect of the codegen.  The generator doesn't really know if it's extending a base class or if it should be implementing an interface.

For example:

[code]

could in fact be an `extends` construct.  But

[code]

The generator isn't capable of knowing that it cannot extend more than one class and therefore must use interfaces.

I think the right thing to do

[2016-02-10 23:23] fehguy opened #2107 "example values not passed to templates"
Model properties can have examples defined in them, but they are currently not passed to the template layer.

[2016-02-10 23:43] #2107 closed

[2016-02-11 03:41] junyun0516 opened #2110 "[Swift] generated ClientSDK - excute callback response type"
Are using Swagger codegen, when the execute, request to API (in my case UserAPI) looks like can only model that is mapped to.
There is no problem if http code is 200, when receiving the other StatusCode, if the model is the return comes to the other model (in my case Error) could only given model when you request excute it troubled they become.
Do you not allow you to specify each type made of a e

[2016-02-11 03:49] inska commented on #2110
Hi @wing328,

@junyun0516 works with me and additional phenomenon would be help. Our YAML file includes below:

      responses:
        '200':
          description: User info
          schema:
            $ref: '#/definitions/User'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Error:
    type: object
    required:
      - re

[2016-02-11 05:14] wing328 commented on #2110
@junyun0516 would suggest you guys to pull the latest master if you guys have not done so as recently there are a few PRs to enhancement the Swift client.

[2016-02-11 05:29] inska commented on #2110
@wing328, just pulled master, run "mvn install", and re-generate swift client. However, above situation not resolved..

[2016-02-11 07:36] hideya commented on #2095
@wing328 could I ask you a beginner's question for fixing code in this project?  I updated `SwiftCodegen.java` and did `mvn package`, which compiled the source and updated the jar file.  But when I performed `java -jar modules/swagger-codegen-cli/target/swagger-codegen-cli.jar generate -i ... -l swift -o ...` after that, the updated code doesn't seem to get executed (the original one without my mo

[2016-02-11 08:43] wing328 commented on #2095
Have you tried `mvn clean package` instead ?

[2016-02-11 09:00] wing328 commented on #2110
@inska thanks for performing more tests with the latest master. I'm afraid more works need to be done to improve the exceptions handling in Swift client.

One suggestion is to create an `ApiException` object (which extends the basic `Exception` object) in Swift to capture the HTTP status code, header, body, etc similar to how other languages capture exceptions (4xx, 5xx):

- https://github.com/swa

[2016-02-11 09:09] hiveship opened #2111 "[Java codegen] Abstract model definition"
Is there any solution to generate an abstract class using Swagger Codegen ? (java/jaxrs or jaxrs-cxf) ?
If not, how can it be implemented in my own codegen ?

[2016-02-11 10:13] wing328 commented on #2101
@delenius agree that your approach is better as there's no need to crete a new object in order to use the enum values.

[2016-02-11 10:25] panshul007 commented on #2100
:+1:

[2016-02-11 10:49] hideya commented on #2095
Thanks, it worked!  I was too careless...  I've confirmed that I fixed the issue.  I'll submit a PR soon.

[2016-02-11 11:16] #2103 closed

[2016-02-11 13:17] #2095 closed

[2016-02-11 15:41] delenius commented on #2101
Ok. And just to double-check, these enums aren't actually used anywhere currently, right?

[2016-02-11 16:40] delenius opened #2113 "[JavaScript] constructFromObject methods should be "static""
In the generated model classes, the `constructFromObject` factory methods should be class methods
(or "static" methods), not instance methods. Currently, you have to do:

[code]

If we define `constructFromObject` instead as a method directly on the model class, this becomes simpler:

[code]

Creating "empty" objects like `new Pet()` seems bad.

A PR is coming in a few seconds... This change is al

[2016-02-11 18:55] jaz-ah commented on #2110
yeah the error handling isn't too great - right now I have added code in my local branch to AlamofireImplementations.swift right after request.responseJSON that grabs any error > 400 and returns that in the promise's error - you don't get any custom error objects but at least you get an NSError that describes the url/statuscode that hit the error...

            // AlamoFire doesn't automatically

[2016-02-11 20:26] altmky opened #2116 "shouldn't the fact a property of a schema object is required reflect in the model object itself?"
For example in the Java binding, we do have the annotation that indicates the property is required, but if I'm not mistaken you can still not set it and call the API without the model object warning you you have not provided a required property?

For swift binding the property could be a regular one instead of being a swift optional property to force the user of the API to provide it?

[2016-02-11 23:02] vivin opened #2117 "Java/pojo.mustache generates incorrect equals when class has an internal field that is the same as the classVarName of the class"
This is kind of an edge case. A simple example:

Assume we have the following class that has been exposed through the swagger model:
[code]

The autogenerated code `Name#equals(Object)` ends up having this:

[code]

The fix is quite simple; we just need to prefix the properties with `this`. So the template should be:

[code]

I can submit a PR for this fix, if that's alright.

[2016-02-11 23:48] foragerr commented on #1910
@wing328 The JMeter API does not use `basePath` correctly. Will raise a new issue for this.

[2016-02-11 23:50] foragerr opened #2118 "JMeter API ignores basePath in service URL"
Spec: https://gist.github.com/foragerr/1daf27b05abab842d197
codegen version: 2.1.5
Language: JMeter

As the title says, basePath should be added to the URL, but is completely dropped by JMeter codegen.

[2016-02-12 00:58] vivin commented on #1347
@fehguy This is an issue I am running into as well. It *is* tricky, to be sure! I'm using the Feign library and have a template that generates a client that works with Feign. In Feign you can specify custom "expanders" (basically serializers) to convert an arbitrary object into an representation that is query-string safe.

Currently it appears that the model built up by swagger-codegen ignores the

[2016-02-12 02:05] hideya opened #2120 "[Swift] simplifications for the API method usage?"
All the generated APIs return `RequestBuilder<T>` for further process.  I'm wondering what is the motivation for this, which requires extra typing?

I'm wondering why the usage couldn't just be simple like the following (something equivalent to Obj-C version)?
[code]
instead of:
[code]
Could someone share thoughts on this?  (@bajtos wanted to keep informed about this too)

[2016-02-12 02:39] hideya opened #2121 "[ObjC] generated method name's `WithCompletionBlock` postfix doesn't follow convention?"
API methods for Obj-C always seems to have `WithCompletionBlock` postfix, which doesn't follow the coding convention.  For example, I think the following generated method:
[code]
should have been like the following:
[code]
FYI, the yaml for this method is:
[code]
This is as of b54947d (the current latest) (@bajtos wanted to keep informed about this too)

[2016-02-12 02:58] jimschubert commented on #2064
I've actually encountered this in C# by returning an anonymous object. For me, I think it's a result of Swashbuckle generating certain swagger definitions. If I remember correctly, I resolved the issue by creating a view model and annotating with the response:

[code]

I think a quick hacky fix would be to check `returnType` in the generator and if it's `Object` (and not `System.Object`), change i

[2016-02-12 03:53] wing328 commented on #2121
@hideya do you mean the postfix (WithCompletionBlock) is causing compiling error?

[2016-02-12 03:57] hideya commented on #2121
@wing328 no, this is an improvement request, as e.g. `userConfirmWithCompletionBlock` doesn't follow Obj-C method naming convention.

[2016-02-12 03:59] wing328 commented on #2117
@vivin the proposed fix looks good to me. Let me know if you need help submitting a PR.

https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-12 04:12] wing328 commented on #2117
FYI. C# is already using the fix you proposed:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/csharp/model.mustache#L88

[2016-02-12 04:13] wing328 commented on #2121
I see. For the naming convention, do you have the URL to the style guide for our reference?

[2016-02-12 04:33] hideya commented on #2121
Sure.  [Apple's Guide to Naming Methods](https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/CodingGuidelines/Articles/NamingMethods.html#//apple_ref/doc/uid/20001282-BCIGIJJF) says that:

- (id)viewWithTag:(NSInteger)aTag; -- Right.
- (id)taggedView:(int)aTag; -- Wrong.

[2016-02-12 04:46] wing328 commented on #2118
@foragerr thanks for reporting the issue.

May I know if you've cycle to to contribute a fix?

Here are some good starting points:

JMeter template: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/JMeter

Java template: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/Java

Ref: https://githu

[2016-02-12 04:59] wing328 commented on #2121
Thanks for the URL. Using the example `User.confirm` you provide, you suggest naming it as `userConfirmWithUid` where `uid` is the first argument (in Pascal case).

The easiest fix I can think of is to rename `operationId` to `userConfirmWithUid` but of course the side effect that other API client would use the same method name (assuming API client in other langauges is used)

To fix it just for O

[2016-02-12 05:09] wing328 commented on #2029
@ayuda-yves closing this as there's no further update from you.

[2016-02-12 05:09] #2029 closed

[2016-02-12 05:13] hideya commented on #2121
Thanks for the explanation.  Yeah, I'd like to have it fixed just for ObjC.
Would you willing to take the change if I worked on a PR for it? (although it is a compatibility breaking change in terms of ObjC client SDKs people already have generated...)

[2016-02-12 05:18] wing328 commented on #2121
I don't mind. To me it's ok to make this breaking change (non-backward compatible) as your suggestion is better in terms of conforming to Apple's guidelines in naming method.

Later we can include this in the release note or migration guide to make sure developers are informed of this breaking change when they upgrade to the next stable release.

[2016-02-12 05:19] hideya commented on #2121
Thanks!  I'll work on it then!

[2016-02-12 06:03] #2118 closed

[2016-02-12 06:08] wing328 commented on #1954
@demonfiddler may I know if you've cycle to contribute a README for javascript cilent?

Here are some good starting points:
- https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/Javascript
- https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/JavascriptClientCodegen.java#L231

[2016-02-12 06:15] foragerr commented on #1910
@wilsonmar Generating a .c file for LoadRunner with `web_custom_request()` is trivial. But do you have any thoughts about generating an entire valid LoadRunner script?

[2016-02-12 09:10] wilsonmar commented on #1910
@RaGe. I am so glad you asked. Yes. I have a LoadRunner API load test
script at
https://github.com/wilsonmar/LoadRunner/tree/master/gapi-lr-starter
(It's not for load testing Google, but as a template for a script that
calculates JWT tokens based on .p12 and JSON auth certificates).
As its README says, the script also makes use of HP's Virtual Table Service
and other useful features.

There are TO

[2016-02-12 09:21] wing328 commented on #2099
I filed #2123 to add the mapping between `uuid` and `Guid` in C# codegen.

[2016-02-12 09:56] demonfiddler opened #2124 "Generated XxxServiceApi add and update methods pass null data to callback"
The generated JavaScript addYyy(yyy, cb), updateYyy(yyy, cb), updateYyyWithForm(..., cb) methods all set returnType = null when invoking ApiClient.callApi(...), even in cases where the newly created or updated object is returned in the response body.. The consequence is that the callback receives data = null. This is undesirable, since the service may have applied various business rules during the

[2016-02-12 10:49] hiveship commented on #2096
Thank you for the answer.
Ok, for the fact that Codegen can't know it.

I fixed the problem as you suggested in my JAXRS-CXF Codegen. I can commit it and submit a PR if you want.

[2016-02-12 12:48] ayuda-yves commented on #2029
Oops, sorry. It works. :)

[2016-02-12 12:55] dani-inside commented on #1809
+1

[2016-02-12 13:49] hiveship commented on #2096
@fehguy Is there any way to iterate over all the models of my swagger spec in the postProcessModels ? This method is called for each model and only with 1 model in the 'models' object.

[2016-02-12 14:33] vivin commented on #2117
Awesome! I will try submitting a PR today or possibly during the weekend.

[2016-02-12 14:37] wing328 commented on #2117
@vivin thanks! Let us know if you need any help.

[2016-02-12 14:38] wing328 commented on #2029
@ayuda-yves np. thanks for the confirmation. let us know if you've further feedback on the C# API client.

[2016-02-12 15:20] wing328 commented on #1809
Thanks @damienpontifex. May I know if you need any help with the import of model classes?

[2016-02-12 15:21] wing328 commented on #2099
PR merged into master. Please pull the latest and give it a try.

[2016-02-12 18:44] gsnavin opened #2127 ""Value transformer not found" error while passing complex request object"
I am creating a unit test case to test a API. I get the error below when I pass a more complex/nested object in the request while calling an API. Can you guide me what is wrong?

_failed: caught "Value transformer not found", "[JSONValueTransformer __JSONObjectFrom<ModelName>:] not found_

[2016-02-12 18:52] foragerr commented on #1910
@wilsonmar I looked at your excel macro script generation, you're still only generating only the `.c` file. I was asking about the remaining LR script files that forms the whole runnable script. Doing only `.c` files means there will be a manual step in copy pasting code into a LoadRunner script which is less than ideal IMO.

Nonetheless, I'm working on templates for a `.c` file with web_custom_re

[2016-02-13 09:56] #2099 closed

[2016-02-13 11:20] wilsonmar commented on #1910
Did I mention that I'm familiar with those extra files?
My secret sauce for creating the other files is described in this diagram I
created several years ago:
http://wilsonmar.com/1loadrun.htm#LRArch

But we need to talk - please email me at wilsonmar@gmail.com. I'm also on
skype as wilsonmar4.

On Fri, Feb 12, 2016 at 11:53 AM, RaGe <notifications@github.com> wrote:

[2016-02-13 13:52] highsource opened #2130 "Support `@property` property names in JSON Schema"
One of the widespread conventions is using `@` to denote "attribute" properties. This often appears in cases where XML is converted to JSON.

Right now, Swagger Codegen would generate `property` for `@property`.

It would be better to consider this use case and generate something like `attributeProperty` in this case.

[2016-02-13 13:54] highsource opened #2131 "Support `$` property names in JSON Schema"
In the case of XML->JSON migrated APIs I often see `$` property in JSON schema (corresponds to the value of the element in XSD).

Right now Swagger Codegen fails on this property, I get code like:
[code]

As a simple solution, `$` could be converted to `value`.

[2016-02-13 15:49] fehguy commented on #2130
For which language?  Can you share more details?

[2016-02-13 16:06] highsource commented on #2130
Sure. This also relates to #2131.

Here's the specification I'm compiling:

https://github.com/highsource/lhapi-specification/blob/master/lhapi-specification.yaml#L291-L300

This is a spec for the Lufthansa API (countries, airports, departures/arrivals etc.):

https://developer.lufthansa.com/docs/read/api_details/reference_data/Countries

The problematic part is the `Name` type:

[code]

Which is

[2016-02-13 18:11] cjolif opened #2133 "[Swift] generating Int32/Int64 when those are required in format"
Currently whatever is in format, int32 or int64, the code generated Int and not Int32 or Int64 while Swift has an exact mapping.

[2016-02-14 03:45] jimschubert commented on #2104
@ePaul It sounds like you've found almost all the right places to put the code. I've only contributed a few things to the csharp/aspnet generators, but I hope I can help you with this.

The CLI uses CodegenConfigurator to aggregate all the options and instantiate the desired language or framework's CodegenConfig. Options for CodegenConfigurator can be [preloaded from file a file](https://github.co

[2016-02-14 12:25] highsource opened #2134 "[Java] Provide access to ApiClient.mapper to enable additional Serialization/Deserialization features"
I'm sung Swagger Codegen to generate a Java client for an existing API which I have no influence to.

In some cases, the API returns single items instead of arrays. For instance:

[code]

Or:

[code]

Jackson ObjectMapper can handle this situation if the `DeserializationFeature.ACCEPT_SINGLE_VALUE_AS_ARRAY` feature is enabled:

[code]

The `mapper` is initialized in the `ApiClient`:

https://githu

[2016-02-14 12:37] guyhanael opened #2135 "Generating code for creating a Spring-Shell application"
I was thinking creating a new option to generate a Spring-Shell application from swagger specification.
The new generator will create the code to be compliant with [](https://github.com/spring-projects/spring-shell).
WDYT ?

[2016-02-15 00:53] damienpontifex commented on #1809
Hi @wing328 yes, help with importing model classes would be good.

Currently I have all types exported via api.d.ts similar to how typings would have worked with angular1. Although having issues getting the appropriate import statement when there is an intra dependency.

As an example, if you run `swagger-codegen generate -i http://petstore.swagger.io/v2/swagger.json -o client/petstore -l typescri

[2016-02-15 01:45] wing328 commented on #1809
You can use the {{imports}} mustache tag. For example, ObjC model template (header)
https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/objc/model-header.mustache#L10
outputs the following for Pestore
https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/objc/SwaggerClient/SWGPet.h

For specifying the `library` option i

[2016-02-15 01:57] wing328 commented on #2134
@highsource thanks for the feedback. The suggestion sounds reasonable and we'll work on that.

[2016-02-15 02:13] #2113 closed

[2016-02-15 02:29] #2101 closed

[2016-02-15 02:34] wing328 commented on #2101
PR  merged. I don't think it's used. There's no test case I'm aware of for any models in Petstore sample.

We would appreciate if you can add a few test cases for Pet model
- to test enum ["status"](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L1009)
- to test `constructFromObject`

[2016-02-15 02:45] wing328 commented on #1487
@aersamkull #1487 merged into master. Please pull the latest and let us know if you still encounter the issue.

Thanks @daveholladay for the fix.

[2016-02-15 03:23] wing328 commented on #2124
Which generator are you referring to? Java? Python?

Can you also share the swagger spec so that we can use it to repeat the issue?

[2016-02-15 06:24] wing328 commented on #1875
I do not know the reason either. Do you mind submit a PR for the fix and we'll review accordingly?

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-15 06:27] wing328 commented on #2133
According to http://stackoverflow.com/a/27440158/677735 (which references the Swift doc), there's no need to be specified as int32/int64 is used based on platform.

[2016-02-15 06:32] wing328 commented on #2130
I think it's essential to understand what your backend (server) expects. Does it expect to receive the following from the API clients?
[code]

[2016-02-15 06:38] wing328 commented on #2116
Can you please elaborate on the issue by giving an example?

[2016-02-15 06:39] wing328 commented on #2091
There are many enhancements (by @delenius) to the Javascript API client. Please pull the latest master and let us know if you're still seeing the same error.

[2016-02-15 06:46] wing328 commented on #2089
Thanks for the details in showing the issue with the Swift API client.

Instead of updating the backend, I think we should update Swift API client as it's just a matter of time someone reports the same issue with their REST API backend that we do not have any control.

Is the issue you mentioned the same as this one: https://github.com/Alamofire/Alamofire/issues/852 ?

Can we ignore the parse erro

[2016-02-15 06:57] wing328 commented on #2081
Closed via #2082

[2016-02-15 06:57] #2081 closed

[2016-02-15 06:58] wing328 commented on #2084
@Glagnar let us know if you need help with the fix.

[2016-02-15 07:20] highsource commented on #2130
Hi @wing328,

it's the other way round, I'm generating the client for the existing API, so the question is not what the server expects to receive but what it sends.

And indeed it sends JSON as you quoted:

[code]

My problem is that Swagger Codegen simply strips `@` and `$` when generating Java client. So  `@LanguageCode` becomes `LanguageCode` (which isn't that bad), but `$` becomes empty, which

[2016-02-15 07:24] wing328 commented on #2130
I found `@JsonProperty("@LanguageCode")` in the code you provided above. Does it not map the JSON key name properly to "@LanguageCode"?

[2016-02-15 08:00] wing328 commented on #2135
@guyhanael thanks for the suggestion. Do you mean adding another library options in Java API client to support Spring-Shell?

[2016-02-15 08:04] wing328 commented on #2120
@hideya I don't think I've an answer on this.

My guess is that the current approach allows the developers to obtain the response's status code and headers (in addition to the body)

[2016-02-15 08:30] hideya commented on #2120
@wing328  thanks for getting back to me.  Are those flexibilities (obtaining the response's status code and headers) supported for other languages?  If such flexibilities are required, I thought the ObjC code generation should also support it too.  Otherwise, Swift side could be simplified as mentioned above.  What would you think?

[2016-02-15 08:41] wing328 commented on #2120
I would love to add the feature to ObjC code. Time and resource are always the constraints for me.

If you look at C# API client, you will find that we've introduced another method `{{operationId}}WithHttpInfo`, which returns an Object (ApiResponse) containing the status code, HTTP header, deserialized body of the HTTP response.

`{{operationId}}` simply calls `{{operationId}}WithHttpInfo` and ret

[2016-02-15 08:45] highsource commented on #2130
@wing328 Yes, it does.

The problem is not the `@JsonProperty`, the problem is the generated Java property:

[code]

I get the Java bean property `languageCode`, the `@` gets lost. It'd be better to get `attributeLanguageCode` or something like that to keep the `@` semantics.

But `@` is a minor issue here, purely cosmetic. I'd be ok with `wontfix`.

The big problem is `$` (see #2131).

[2016-02-15 09:20] wing328 commented on #2130
Agree that $ can be mapped to something else to resolve the compile error.

in your case, what exactly is "$"? Is that a "name"?

[2016-02-15 09:21] wing328 commented on #2130
I don't get your point about replacing `@languageCode` with `attributeLangaugeCode` or keeping it as it's with the `@` sign.

[2016-02-15 09:34] highsource commented on #2130
`$` is a `value`.

Basically

`"Name":{"@LanguageCode":"de","$":"Gordon Downs"}`

is a replacement for XML:

[code]

So `value` would be a good replacement for `$`.

I'd just prefer `getAttributeLanguageCode` instead of `getLanguageCode` because `@` comes from "legacy" XML attribute. You can't keep it with `@` in Java since you'll get `get@LanguageCode` then which is invalid. Once again - it's abo

[2016-02-15 11:00] cbornet opened #2138 "Don't use LocalDateTime for java8 datetime mapping"
LocalDateTime doesn't have any time zone so it's error prone for systems that don't communicate in the same timezone.
Instant, ZonedDateTime or OffsetDateTime types should be considered instead.

[2016-02-15 11:11] demonfiddler commented on #2124
@wing328 my apologies. I'd intended to attach the 'Client: JavaScript' label, discovered I couldn't, then got distracted. Anyhow, I've updated the description above to make it clear. I can e-mail you the ZIP that I was unable to attach, if that would help.

[2016-02-15 11:54] wing328 commented on #2124
No worry. Are you using the latest master? Recently, there's been a lot of enhancements to the Javascript API client so I would suggest you to try the latest if you've not done so.

[2016-02-15 11:59] wing328 commented on #2138
FYI. C# already supports `OffsetDateTime` via CLI option

[2016-02-15 12:13] cjolif commented on #2133
"there's no need to be specified as int32/int64 is used based on platform."

Yes, sure you don't have to in general. But then if you run on a 32  bits platform and you use Int for everything you will get 32 bits even when the Swagger requires 64 bits? So you might get into trouble?

[2016-02-15 12:26] guyhanael commented on #2135
@wing328  - I played a bit with the codegen and used the Java Spring MVC option. I sew it generated the REST controllers.  What I was thinking is generating code that will create a spring shell classes and generate something like the rest-shell spring project. i.e. command line tool (like the swagger UI)that will be able to run any API that was part of the swagger configuration.

[2016-02-15 12:29] cbornet commented on #2138
Also by default, when Jackson serializes/deserializes a LocalDateTime, it uses "yyyy-MM-dd'T'HH:mm:ss.SSS" without the 'Z' or the time offset. So it is not compatible with swagger's datetime format.

[2016-02-15 12:56] wing328 commented on #2133
You definitely have your point. To update the mapping, you can do it [here](https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/java/io/swagger/codegen/languages/SwiftCodegen.java#L104)

I also read [that](http://stackoverflow.com/questions/24048334/swift-errors-when-using-different-integer-sizes) casting is needed when dealing with Int32 and Int64.

What ma

[2016-02-15 13:09] demonfiddler commented on #2124
Yep, I'm using 2.1.6-SNAPSHOT locally built from GitHub MASTER HEAD.

[2016-02-15 13:46] wberger commented on #1981
Hi,

I have started with a generator that is based on `AFHttpSessionManager`. For now it is implemented in a custom module and does not support all features of the standard `AFHTTPRequestOperationManager` version, as I currently don't have the time to test the currently missing features.

Maybe someone could pick that up? Here is the link to the current implementation, which I think is not yet rea

[2016-02-15 16:01] ayuda-yves commented on #2099
I use the online editor and it still generates code using "UUID". I'm assuming the editor hasn't been updated yet. Will test again later.

[2016-02-15 17:21] derekmok9201 opened #2139 "[Java][Question]Object type enums"
In Java, we are able to define enums like:

[code]

Is there any way to specify this in the swagger specification, and for the codegen to generate the enum definition accordingly? http://json-schema.org/latest/json-schema-validation.html#anchor76 says we can use anything in an enum array, however when using key-value pairs in the enum array, the codegen does not interpret it properly.

[2016-02-15 19:30] demonfiddler commented on #1954
@wing328 I have developed a simple Pet Store web client that uses the swagger-codegen generated JavaScript API, which I'd be happy to contribute. The work queue for my day job just acquired a bunch of new, complicated and time-consuming assignments, so it might prove hard to find the time to create the comprehensive documentation that I'd envisaged. I will endeavour to add some basic usage notes t

[2016-02-15 21:46] Emmurillo opened #2141 "Import classes from the same package"
Would be nice to avoid unused imports by checking if the imported class is part of the same package.

[2016-02-15 23:11] JimVanG commented on #1567
Is it possible Retrofit with Jackson, instead of GSON?

[2016-02-16 01:04] hideya commented on #2120
@wing328 thanks for the reply and the info.  That approach makes sense.  This feature seems to require a bit of time to implement.  Please let me see if I can spare time and get back to you when I figured I can.

[2016-02-16 01:39] wing328 commented on #2141
For which language?

[2016-02-16 01:40] Emmurillo commented on #2141
Java

[2016-02-16 02:24] #2102 closed

[2016-02-16 02:41] delenius opened #2142 "[JavaScript] Empty objects in models"
When we create instance of the model classes using `new Pet()` or whatever, and we don't supply parameters, we end up with "default" values. For fields that have another model class as their type, this means things like

[code]

This creates problems. It means that we can not use the usual javascript idiom

[code]

because the `category` field is now always "truthy" even though it is an empty obje

[2016-02-16 03:04] jimschubert commented on #2104
I can take a look at refactoring CodeGenMojo to use similar logic to io.swagger.codegen.cmd.Generate.

[2016-02-16 03:05] jimschubert commented on #1255
@ePaul you mentioned in #2104 that you intended to do this work. Have you gotten very far?

[2016-02-16 04:38] fehguy commented on #2096
@hiveship it looks like it's not available.  If you'd like to send a PR we can review and merge it.

[2016-02-16 05:54] foragerr opened #2145 "Question: Is there a way to access request-example value from generated operations?"
For instance, in the swagger pet shop example, how can I access the example for /pet POST?
See the example with yellow background here: http://i.imgur.com/2VUFE3l.png

I noticed that the **response** examples are available in `operations/operation/examples` but not request examples

[2016-02-16 09:06] ePaul commented on #1255
@jimschubert not much more than mentioned there, but I intend to work on this today.

[2016-02-16 09:40] wing328 commented on #1959
@cbornet I left a [comment](https://github.com/swagger-api/swagger-codegen/pull/1961#issuecomment-184597223) in the PR.

For refrofit and feign API clients, does it support `AND` for auth settings (e.g. both `api_client_id` and `api_client_secrete` required in the header) ?

[2016-02-16 09:52] xhh commented on #2100
Tried the above property spec against latest master and it works for me:

[code]

@panshul007 how did you run the generation?

[2016-02-16 09:55] #2121 closed

[2016-02-16 11:20] cbornet commented on #1959
In Feign and retrofit, only the auth global definitions are used. The user then must configure manually which securities are part of its ApiClient with an AND between the securities that he puts. Of course ideally, the operation security definitions would be used but I don't see how the generated code would choose the right security when there is an OR. Maybe something could be done when there is

[2016-02-16 11:44] demonfiddler opened #2146 "NPE in JavascriptClientCodegen if definition name does not start with an upper case character"
JavaScript code generation fails with NullPointerException under some, but not all, cases where a definition does not start with an upper case character. The problem does not arise for petstore-simple, but it does arise for our proprietary YAML which uses the allOf construct to implement inheritance. My employer's IP policy prohibits me from posting the offending YAML.

From what I've seen in the

[2016-02-16 12:57] wing328 commented on #2146
@demonfiddler can you repeat the issue by updating https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json ?

[2016-02-16 13:10] imleihuang opened #2147 "how to generate yaml for java code."
I have now a yaml file, I use this project to generate java code with Java 7. can anyone tell me, how can I use this project to generate?

I am new in this field, because I need more details..

Thanks.

[2016-02-16 13:13] imleihuang opened #2148 "Generate yaml for java code with 6"
Hello everyone, In this document, i see the prerequirement is java 7. but it has problem, if I generate java code from yaml with java 6.

can U tell me, how can i solve this problem.

Thx.

[2016-02-16 13:16] imleihuang commented on #2147
I imported this project in eclipse, and built it with maven. as following:

![unbenannt](https://cloud.githubusercontent.com/assets/14833088/13077246/d61fac8a-d4b7-11e5-808b-c5581ed8213d.PNG)

What is the next step to generate java code???

[2016-02-16 13:30] wing328 commented on #1959
Here is the current authentication-related code in PHP for a method that requires either API key in header or query:
[code]
In other words, the developer choose which authentication they want by providing the API key in either `test_api_key_query` or `test_api_key_header`

The "problem" is that the developer can set both `test_api_key_header` and `test_api_key_query`, which will result in API key

[2016-02-16 13:33] wing328 commented on #2145
For `example`, do you mean example for parameter (e.g. path, query, etc) in the request? or just the HTTP request body?

[2016-02-16 13:35] wing328 commented on #2135
java-springmvc is for server stub. I think `java` template (API client) would be more suitable for your case as you're trying to implement another client that talks to a RESTful backend if I understand correctly.

[2016-02-16 13:38] wing328 commented on #1692
Closing it for now as there're already some test cases added via #1735

[2016-02-16 13:38] #1692 closed

[2016-02-16 13:39] wing328 commented on #1754
More test cases have been added.

[2016-02-16 13:39] #1754 closed

[2016-02-16 13:40] cjolif commented on #2133
in Swagger `integer` is 32 bits and `long` 64 bits right? So this would give `Int32` and `Int64` respectively I suppose?

[2016-02-16 13:41] cjolif commented on #2133
Or `Int` for `integer` as it is at least 32 bits. This would avoid casting in this case.

[2016-02-16 13:58] foragerr commented on #2145
request body. Basically the content contained in the Example Value box in the image I posted.

[2016-02-16 14:08] #1952 closed

[2016-02-16 14:17] wing328 commented on #2145
You can provide the example body using vendor extension, e.g. x-request-body, and then access it via {{vendorExtensions.x-request-body}} in the mustache template.

Is that what you're looking for?

[2016-02-16 14:18] wing328 commented on #2147
Here is a good starting point: https://github.com/swagger-api/swagger-codegen#to-generate-a-sample-client-library

[2016-02-16 14:44] foragerr commented on #2145
Are you suggesting I construct the content myself in the codegen class, and save it to the vendorExtension map?

Could you possibly point me to where I can grab the content from? Since it is displayed on swaggerUI, I'm assuming it is available someplace already. The petshop spec doesn't seem to contain it though.

[2016-02-16 15:24] hiveship commented on #2096
I was wrong, my fix was not correct. I don't tink I would be able to do something if I can't access all the models at the same time in the ```postProcessModels``` method

[2016-02-16 15:24] wing328 commented on #2145
I believe the example with yellow background in your image is constructed by swagger-ui.

[2016-02-16 15:52] wing328 commented on #2093
@hideya for your question below

I think the answer is yes.

Given that no $ref, swagger codegen will automatically create a model (e.g. Inline_response_200)

[2016-02-16 16:01] demonfiddler commented on #2146
Sadly, no @wing328. I just tried lowercasing the first character of all petstore YAML definition names and $refs thereto, but codegen succeeded. As mentioned above I suspect it's related to our use of the allOf construct to implement inheritance.

[2016-02-16 16:04] wing328 commented on #2146
I don't think allOf is supported in JS or other codegen at the moment...

[2016-02-16 16:05] wing328 commented on #2096
@hiveship I'll give it a try tomorrow to see if I can give you a method for processing all models.

[2016-02-16 16:30] vivin commented on #1347
@wing328 Any thoughts on this? I could submit a PR for this too. I'll see if I can take a first pass at this sometime this week.

[2016-02-16 17:06] demonfiddler commented on #2146
Are you quite sure? As I said, codegen from the offending YAML (which uses allOf) can be made to work by manually editing lowerCamelCase definition names and references to TitleCase. At any rate, this expedient avoids the NPE - as for whether the generated API actually works, I've yet to determine.

[2016-02-16 17:36] altmky commented on #2116
Sorry for not being clear. I meant that with petstore, despite Pet `name` being "required", I can do:

[code]
without the client-side API complaining about me creating an incomplete (wrt Swagger spec) model object (no `name`).

I guess there are several ways to deal with that, one being to force required parameters in the model object constructor? (and in Swift you could use mandatory field for th

[2016-02-16 17:41] ePaul commented on #1255
@jimschubert I didn't get much done today (other urgent stuff interfered), but I pushed a [feature branch in my fork](https://github.com/swagger-api/swagger-codegen/compare/master...ePaul:feature/1255-modify-model-names). Hopefully tomorrow is better.

[2016-02-16 18:00] jaz-ah commented on #2089
yes that's the same issue as related to that Alamofire issue.  ok let me look into how to better handle this in the swift client implementation.

[2016-02-16 18:58] ivanmartinvalle opened #2151 "[csharp] Parameter names are not sanitized"
Language: C#
Version: Head of master as of February 16, 2016

Problem: The $skip parameter [(an OData parameter)](http://www.odata.org/documentation/odata-version-2-0/uri-conventions/) is not escaped in C#, causing compiler errors. It is escaped in Java to be simply "skip".

Minimal yaml to reproduce issue
[code]

[2016-02-16 19:26] keithchong opened #2152 "Allow flexibility to not inject/generate imports of jackson dependencies in generated java client"
In v2.1.5 of swagger-codegen, the import mappings include:

com.fasterxml.jackson.annotation.JsonProperty
com.fasterxml.jackson.annotation.JsonValue

(Java imports of the above packages are injected into the generated code)

In our 'custom' template, we do not wish to import this package.

[2016-02-16 19:46] keithchong opened #2153 "Provide a JAX-RS 2.0 client template with minimal or zero dependencies."
There are currently Jersey 2 and Jersey 1.18 JAX-RS clients with/without JSON Jackson processing,
These have additional dependencies on Jackson annotations, base 64 encoding (migbase64), joda-time, etc.

There should be a template that should use strictly JAX-RS 2.0 Client APIs, (no Jersey dependencies) and have minimal (or zero) dependencies on 'third' party jars.

[2016-02-16 20:07] foragerr commented on #2145
Guess this is a question for a different forum then. Thanks @wing328

[2016-02-16 20:07] #2145 closed

[2016-02-17 02:07] xhh commented on #2027
We can implement optional parameters like in [Ruby client](https://github.com/swagger-api/swagger-codegen/blob/master/samples/client/petstore/ruby/lib/petstore/api/pet_api.rb#L334). I'll submit a PR for it.

[2016-02-17 02:28] wing328 commented on #2141
Do you mind showing your generated code as an example to illustrate the issue/enhancement?

[2016-02-17 03:04] wing328 commented on #2027
@delenius what's your view on using Ruby's style optional parameter in JS functions?

[2016-02-17 03:09] #2151 closed

[2016-02-17 03:10] wing328 commented on #2151
@ivanmartinvalle thanks for reporting the issue, which has been fixed by #2154.

Please kindly pull the latest master and let us know if you're still seeing the issue.

[2016-02-17 03:21] hideya commented on #2093
@wing328 thanks for getting bak to me!  Would you have any comments on what @bajtos was describing above?

I also checked out Swagger Spec.  My take is:
Since the spec for [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object) shows the following [Simple Model example](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#simple-m

[2016-02-17 03:26] wing328 commented on #2093
Yes, ideally one should define the properties for a model as the properties should be known to the spec owner.

[2016-02-17 03:32] hideya commented on #2093
@wing328 thanks for the confirmation.
@bajtos I think this would be one way to deal with Issue https://github.com/strongloop/loopback-swagger/issues/27

[2016-02-17 03:55] delenius commented on #2027
I like it, and I have seen that style used in JS libraries before.

[2016-02-17 05:26] sbelan commented on #2066
@wing328  Please find below scenario. We have YAML file having details of around 10 service details. Request and responses has many parameters. So the length of file getting increased around 1000+ lines. Then in this case its very difficult to maintain the single YAML.
It would be great if there are any way for swagger to read the Parent YAML file and resolve all child YAML mentioned in parent YAM

[2016-02-17 05:27] sbelan commented on #2047
@wing328 Any more input require on this?

[2016-02-17 05:27] sbelan commented on #2065
@wing328  Any more input require on this?

[2016-02-17 06:14] wing328 commented on #2065
[code]

Should it be as follow instead?

[code]

[2016-02-17 06:38] wing328 commented on #2047
Would `-t` command line option meet your need?
[code]

[2016-02-17 06:40] wing328 commented on #2066
Are you referring to relative schema path? Ref: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#relative-schema-file-example

[2016-02-17 07:13] hideya opened #2156 "[Swift] minor: including {{{examples}}} causes unnecessary diffs"
This is minor but Swift's `api.mustache` includes `{{{examples}}}` to show response example in the comment right above the generated method like the following.  However, if an example includes a property `"type": "string", "format": "date-time"`, it gets expanded to the time codegen ran, like `"2016-02-16T04:07:48.155+0000"`.  This results in unnecessary diffs every time running codegen even when

[2016-02-17 07:53] hideya opened #2157 "[Swift] Does <modelName>API class need to be an inner class of <projectName>API ?"
This is a discussion on request for improvement (not a bug).
For example for the Petstore demo, `PetAPI` class is generated as a inner class of `PetstoreClientAPI`:
[code]
Because of that, code to invoke a method of `PetstoreClientAPI` becomes a bit lengthy like the following:
[code]
I'm wondering if this could just be `PetAPI.addPet(body: newPet)` without `PetstoreClientAPI.`?
Note that the model

[2016-02-17 08:27] wing328 commented on #2156
To me, example is useful to developers. I prefer to keep it if possible. What about using a fixed date instead of current datetime for datetime property's example?

[2016-02-17 08:29] hideya commented on #2156
Sure, sounds good!

[2016-02-17 10:17] wing328 commented on #2157
Disclaimer: I'm no expert in Swift.

From what I read, Swift's `extensions` allows developers to:
- Add computed properties and computed type properties
- Define instance methods and type methods
- Provide new initializers
- Define subscripts
- Define and use new nested types
- Make an existing type conform to a protocol

I'm not sure if anyone is leveraging these features in the Swift SDK at the

[2016-02-17 12:21] Edubits commented on #2120
One of the reasons for this is indeed having access to HTTP status and headers. In my use case this is for example needed to handle errors properly (some info is provided in headers). Having separate calls for with- and without this would make sense, the simpler it's to use, the better.

[2016-02-17 12:31] Edubits commented on #2157
We had a short discussion this earlier as part of #901, where @tkQubo explained he intended it as namespace. In my personal opinion it's not needed to use it, but it shouldn't hurt either (except for the longer method calls). When you currently make it for example a Cocoapods package, there is also a kind of namespace as it will be a separate library.

In Swift 3 a Package Manager will be introduc

[2016-02-17 12:38] sbelan commented on #2047
@wing328 We are extended swagger and generating code using our java project. We are not using jar and command line tools. Is there any other way?

[2016-02-17 12:38] Edubits commented on #2089
In my project I worked around this issue by checking explicitly for the error code given in this situation, it would be great if the client will handle this correctly. It seems that in [Alamofire 3.1.1](https://github.com/Alamofire/Alamofire/releases/tag/3.1.1) support for 204 responses was improved. We can probably make use of this.

[2016-02-17 13:01] sbelan commented on #2065
@wing328 We tried above, but it is creating MyCar as empty object with no relation to Pet.

[2016-02-17 13:25] wing328 commented on #1567
@JimVanG  Don't think we offer that at the moment. We welcome contribution to add that: `retrofit-jackson`

If you've cycle to implement that, please let us know and we'll show you a couple good starting points.

[2016-02-17 14:35] wing328 commented on #2111
Not that I'm aware of. Do you mind sharing with us more about the use case of generating abstract classes?

It's worthing sharing with you the C# models are partial class, which allows developers to add more functionality to the class.

[2016-02-17 14:43] CMasterson opened #2159 "NSDateFormatter FatalError on iOS Swift"
Setting the device to use 12-hour time format then trying to parse a 24-hour time from JSON causes the formatter to fail and the Models.swift initialize method to throw a FatalError.

Example time string: 2016-02-17T20:00:00.000+00:00

Setting the formatters locale fixes this issue:

`let formatter = NSDateFormatter() //Models.swift Line 106

formatter.locale = NSLocale(localeIdentifier:"en_US_POS

[2016-02-17 15:51] Gobliins opened #2160 "Swagger security definitions ignored in code generation"
Pretty much this:
http://stackoverflow.com/questions/35434335/why-are-swagger-security-definitions-auth-not-working

Yaml:
paths:
  "/":
    get:
      security:
        - api_key: []
      responses:
        200:
          description: OK

Config in Java:
`Swagger swagger = new SwaggerParser().read(location);
JaxRSServerCodegen config = (JaxRSServerCodegen) CodegenConfigLoader.forName(this.langua

[2016-02-17 16:09] guyhanael commented on #2135
@wing328  , you understood correctly, thanks for pointing me in the correct direction. So what I want to do is to wrap this with the spring shell classes and annotations which will produce a CLI tool to invoke these APIs.  Elegendly I can clone and submit a pull request, but I would like to get some more feedback from the community if they find it useful before I start. What is the process I need

[2016-02-17 17:18] demonfiddler opened #2161 "JS client: allOf mishandled, composition impossible"
From what I can tell, when an API specification contains a type definition A that composes by reference to two or more other type definitions (`allOf` B, C, ...), the model code generated for A only knows about the properties of the last such composed type (C in this case). For an instance of A, `a.constructFromObject()` will only populate the properties defined by C; the other composed properties

[2016-02-17 17:19] demonfiddler commented on #2146
Confirmed: allOf is not supported. I've logged Issue #2161 "allOf ignored, composition impossible".

[2016-02-17 20:56] cbdelavenne opened #2164 "[Python] Spec definition sets consumes to `x-www-form-urlencoded`, but DTO/body is not used for POST request"
Note: My spec was generated manually.

This is my code:
[code]

**It seems that although my spec definition tells authentication_get_token to consume `application/x-www-form-urlencoded`, it ignores my initialized token_dto.**

This is the `call_api` use in `authentication_get_token()`:
[code]

The doc for call_api says that parameter post_params should be set for requests POST that need form param

[2016-02-17 21:43] cbdelavenne commented on #2164
I suspect my problem lies in my spec definition where I specify my parameters' `in`:
[code]

Just unsure how to resolve it.

[2016-02-17 22:06] tkukola-db opened #2165 "[Javascript] ApiClient.convertToType handles comparison to Object incorrectly"
File ApiClient.js, method ApiClient.convertToType.

In the if/else ladder, type of Object ends up in the default case. The problem is that typeof Object is 'function', hence the Object takes the 'function' path inside the default, which leads to an exception.

I changed my local version of the ApiClient.converType's default to this:
        if (type === Object) {
          // for plain object type

[2016-02-17 22:14] lgustafson commented on #300
@fehguy The link you posted is dead.  Is there an official way to use codegen against swagger specs hosted on servers with invalid certificates (self-signed, for instance)?

[2016-02-17 22:16] fehguy commented on #300
The parser now should support invalid certs, and therefore support codegen reading invalid certs as well.  Are you seeing otherwise?

[2016-02-17 22:33] lgustafson commented on #300
Yes, I have built codegen from master and am using the following to build an API client:

The server is using a self-signed certificate... I get errors like the following:

A basic question I have is whether there is a specific option I have to pass to disable certificate validation?

[2016-02-17 23:56] tkukola-db opened #2166 "[Javascript] Generated API class doesn't properly call buildCollectionParam"
1. An API is generated by Swagger in src/api.
2. The API has a function that takes in a string array as one of the arguments (in this case pvars).

The following query parameters were generated:
var queryParams = {
    'serviceId': serviceId,
    'pvars': this.buildCollectionParam(pvars, 'csv')
};

Since the API in question doesn't have a property buildCollectionParam, this leads to an exception.

[2016-02-18 01:54] wing328 commented on #2135
Besides posting here, you can also start a discussion in [Swagger Group](https://groups.google.com/forum/#!forum/swagger-swaggersocket) to gather feedback from the community.

[2016-02-18 01:58] wing328 commented on #2164
What does the HTTP request body looks like?

For `body` parameter, the content-type (consumes) is usually either `application/json` or `application/xml`.

Do you actually want to use `form` parameter instead?

[2016-02-18 02:30] wing328 commented on #2165
@tkukola-db can I confirm with you that you're using the latest master to generate the JS API client? recently there's been a lot of enhancements to the JS API client.

[2016-02-18 02:34] tkukola-db commented on #2165
The version I'm using is from this morning (17th of Feb, 2016). Master branch, c4d799a4a7e47863437b22ee9b75c7d1828990e5

[2016-02-18 02:43] xhh commented on #2165
I tried but can't reproduce this issue. @tkukola-db could you provide a sample spec?

[2016-02-18 05:04] sbelan commented on #2066
@wing328 I have tried this, but didnt get success. Please find below my Pet Parent file along with the Pet definition file which I put as reference.  After executing these from command line I am not getting any exception client code getting generated without Pet model. Please correct me if I am doing anything wrong

PetFull.yaml

`swagger: '2.0'
info:
  version: '1.0.0'
  title: Swagger Petstore (

[2016-02-18 05:17] #2166 closed

[2016-02-18 08:17] #2117 closed

[2016-02-18 08:19] wing328 commented on #2096
@hiveship  I filed #2170 to add a function for processing all models before generating the files. Would that meet your need?

[2016-02-18 08:42] hiveship commented on #2096
Yes, It's exactly what I need :)

[2016-02-18 08:54] wing328 commented on #2096
Merged into master. Please give it a try by pulling the latest master.

[2016-02-18 08:55] hiveship commented on #2096
I'm on something else now, I'll do it as fast as possible :) If it's OK for me, I'll send a PR to fix that in Java, JAXRS (jersey) & JAXRS-CXF codegen :)

[2016-02-18 08:59] Gobliins commented on #2160
It was a problem of older template files not because of swagger

[2016-02-18 08:59] #2160 closed

[2016-02-18 09:17] carlodonpromillo opened #2172 "Missing vendorExtensions on RefProperty"
When parsing a RefProperty object which has vendorExtenstions defined in preprocessSwagger step, this vendor extensions are not accessible (via property.getVendorExtensions()).
Example:
definitions:
  search_result:
    properties:
      query:
        $ref: '#/definitions/query'
        x-someString: value

[2016-02-18 09:33] sbelan commented on #2066
@wing328 .... I took swagger parser project and compared whatever I did. I found issue and resolved that. Thanks for your help. :+1:

[2016-02-18 10:16] cbornet opened #2173 "[Java] Sonar issue on model's equals() code"
Sonar gives a major in equals code for
[code]
because the "true" is useless

Proposition of fix, replace:
[code]

[2016-02-18 10:39] sbelan commented on #2066
@wing328 .. I followed Pet example from swagger parser project and resolved that $ref issue. But during client generation I am getting below warnings for models. Could you please let me know, is there any specific reason for this warning?

[main] WARN io.swagger.util.PropertyDeserializer - no property from null, null, {ENUM=null, TITLE=null, DESCRIPTION=null, DEFAULT=null, PATTERN=null, DESCRIMINA

[2016-02-18 11:08] sbelan commented on #2066
@wing328  really sorry to bother you again... above warning message got resolved. Closing issue

[2016-02-18 11:08] #2066 closed

[2016-02-18 12:04] wing328 commented on #2173
It will be fixed in https://github.com/swagger-api/swagger-codegen/pull/2158

[2016-02-18 12:14] wing328 commented on #2066
@sbelan no worry :)

[2016-02-18 13:05] wing328 commented on #2173
PR merged into master. Please pull the latest and let me know if you still see the use of `true`.

[2016-02-18 13:05] #2173 closed

[2016-02-18 13:38] jimschubert commented on #1255
@ePaul Hey I've had conjunctivitis for the past couple of days and I've been a lot less productive than normal. I'm going to check out your feature branch today and see what I can contribute to it.

[2016-02-18 14:07] bajtos commented on #2093
As far as I understand the spec, property definition is optional, as can be seen in [Model with Map/Dictionary Properties](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#model-with-mapdictionary-properties). That leads me to conclusion that the following definition is a valid swagger:

[code]

To be clear, I am not saying that swagger-codegen has to support such schemas (

[2016-02-18 14:44] BugRaptor opened #2175 "swagger-codegen (c#) issue (or misuse ?) for file upload in a POST Web API operation"
I have a developed a Swagger-Api with a "File" Controller exposing a POST "Upload" operation.
If I upload a file from the Swagger UI, it is correctly uploaded by the "File" Controller.
I then have generated a C# API client class with swagger-codegen. (v2.1.5)
The generated FileApi client class exposes a `public async System.Threading.Tasks.Task<ApiResponse<Object>> FileUploadAsyncWithHttpInfo(Stre

[2016-02-18 14:46] aleksandr-vin opened #2176 "Automated Docker image for command-line run"
Don't think that web-based generator [swaggerapi/swagger-generator](https://hub.docker.com/r/swaggerapi/swagger-generator/) fit well for scripts and command-line

[2016-02-18 14:56] wing328 commented on #2175
I would suggest you to try 2 things:
- generate the C# API client from the latest master.
- use RestSharp 105.1.0 instead of the latest version as the issue you encounter could be related to https://github.com/restsharp/RestSharp/issues/742

[2016-02-18 15:14] cbdelavenne commented on #2164
Hey @wing328, thanks for getting back to me.

I do want to send a form. I tried a couple things before getting back to you, but I'm still not getting the result I expect from the code generation.

I changed my spec definition for my `/token` endpoint to this:
[code]

Which should, and correct me if I'm wrong, boil down to:
POST /token `consumes` 'application/x-www-form-urlencoded'
Expects `form` p

[2016-02-18 15:22] wing328 commented on #2164
The following does not look right to me:
[code]
Usually `schema` with `$ref` or `properties` refers to JSON/XML payload (HTTP request body).

For form parameter usage, please refer to https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/test/resources/2_0/petstore.json#L374

What does the HTTP request body (HTTP form parameters) look like?

[2016-02-18 15:25] wing328 commented on #2068
@cbornet do you mind sharing with me a bit more about your use case of adding additional files to be used by Codegen? Currently do you have any workaround for this limitation?

[2016-02-18 15:26] wing328 commented on #1973
Closing this as there's no update.

[2016-02-18 15:26] #1973 closed

[2016-02-18 15:28] wing328 commented on #1924
PR merged into master.

[2016-02-18 15:28] #1924 closed

[2016-02-18 15:46] cbornet commented on #2068
Of course. For instance I use a template to adapt the feign generator to Spring-Boot, generating automatically some beans for the apiclient and the apis that the user can then inject wherever he wants with Spring DI.
With the current implementation, I cannot create new files so I have to put everything in ApiClient with nested classes. It would be easier and make the code more readable if I could

[2016-02-18 15:48] cbornet commented on #2068
[Here](https://github.com/cbornet/generator-jhipster-swagger-cli/blob/master/generators/app/templates/swagger-codegen/libraries/feign/ApiClient.mustache) is my templated ApiClient for reference.

[2016-02-18 15:48] BugRaptor commented on #2175
Thank you for your prompt answer.
I was already using RestSharp 105.1.0
I just performed a checkout from the swagger-codegen latest master and regenerated my API client. The issue remains the same.

[2016-02-18 16:00] cbornet opened #2177 "[Retrofit2] Use multiple converters and remove the custom gson converter"
Retrofit 2 can use multiple converters so the custom gson converter is not needed anymore.
The adapter could be built with
[code]
This has the advantage of working for both request and response, and also to deal with all primitive types (not only String).

[2016-02-18 16:11] andrewkrowczyk commented on #1469
From what I see, the two solutions for generating ASPNET5 vs the earlier versions will be a bit different overall - especially around the .NET solution and project file.  Also, at work I'm almost thinking that as a go forward approach we'd be better off targeting the new ASPNET5 project structure and framework.  All that to say, maybe flushing out the ASPNET5 version first would be better for the

[2016-02-18 16:15] cbdelavenne commented on #2164
As shown in the example your linked, I modified my spec to use `"in": "formData"`

It did seem to partially work.

The form data looks like this:
[code]

If not using `$ref` or `properties`, how should I define my spec `schema` for a `form`?

Ultimately, the request is handled by this bit of code in `rest.py`:
[code]

I see what the problem is, just unsure how to resolve it.
By the time it gets to

[2016-02-18 16:16] fehguy commented on #2172
Vendor extensions are not allowed on any ref

[2016-02-18 16:16] #2172 closed

[2016-02-18 17:03] cbornet commented on #2177
Actually this should wait retrofit-2.0.0-beta4(#2149) since it has ScalarResponseBodyConverters integrated.

[2016-02-18 17:24] cbdelavenne commented on #2164
I'm under the impression that the spec parameters should contain each of my HTTP form parameters independently? Is that correct?
So my spec should actually be:
[code]

[2016-02-18 17:58] cbdelavenne commented on #2164
Alright, @wing328 , thanks for your help. Like I said in my last comment, that's the right swagger spec for me. I was lost!

Thanks for the help!

[2016-02-18 17:58] #2164 closed

[2016-02-18 18:13] jimschubert commented on #1255
@ePaul I've implemented these options on swagger codegen cli. Please take a look (commit referenced above).

[code]

If this looks good to you, I can open a pull request. Or, if you have changes for a specific language (as in my example of the csharp generator) you can grab my changes and update your desired language and open the pull request.

[2016-02-18 18:38] Soben commented on #1717
I'm getting this same error, but when I'm trying to generate via homebrew...

`$ swagger-codegen generate -i schema/swagger.json -l slim public
Exception in thread "main" io.airlift.airline.ParseArgumentsUnexpectedException: Found unexpected parameters: [public]
	at io.airlift.airline.Cli.validate(Cli.java:148)
	at io.airlift.airline.Cli.parse(Cli.java:116)
	at io.airlift.airline.Cli.parse(Cli.jav

[2016-02-18 18:46] keithchong commented on #102
Hello, I am still getting a Server returned HTTP response code: 401 for URL when I try to generate the java client code.  Do you need to provide -auth?

[2016-02-18 19:33] webron commented on #2164
@cbdelavenne - the spec you provided and the example payload don't go together. If you have form parameters, you can't structure them as a JSON payload. If you have a JSON payload, you can't use form parameters but rather a body parameter (and then the mime type doesn't make sense).

[2016-02-18 19:35] cbdelavenne commented on #2164
@webron
Yep, I've figured that out as you can see from my last 2 comments. Thanks for the input, though.

[2016-02-18 19:37] webron commented on #2164
I was under the impression you expected the payload to look like:
[code]
If that's not the case, then glad you found the solution.

[2016-02-18 20:02] cbdelavenne commented on #2164
Right I had some confusion between body and form parameters.

Its all cleared out now, though.

swagger-codegen is working as expected. :)
On Feb 18, 2016 14:37, "Ron" <notifications@github.com> wrote:

[2016-02-18 22:31] fehguy commented on #102
@keithchong please open a new issue. I'm sure this is supported so perhaps a usage issue.

[2016-02-18 22:51] tkukola-db commented on #2165
Attached is the minimal API that seems to be able to generate the problem. The problem happens when my client gets a response from server and Swagger tries to construct the Dummy object based on the server response. The screenshot is from Chrome debugger when the exception fires. In the 'if' above the breakpointed line, you will see that the Object is of type function.

[api.txt](https://github.co

[2016-02-18 23:02] jimschubert commented on #2175
The `Object` in your generated client shouldn't be `System.Object` unless you're specifically exposing `System.Object`. If you generated the client and cleaned up the output, make sure to fully qualify the name. This is related to #2064 .

I have a branch which may solve your issue [1255-modify-model-names](https://github.com/jimschubert/swagger-codegen/tree/1255-modify-model-names). This will all

[2016-02-19 01:40] jimschubert commented on #161
Support for api and model tests was added in fb1cc254e420999218929e972a824fda35e37108. Should be a matter of creating the mustache files now.

[2016-02-19 01:48] wing328 commented on #2164
@cbdelavenne glad to hear that the issue is now resolved. Let me know if you've further feedback.

[2016-02-19 02:17] wing328 commented on #1959
Closing this as @jasonmartens has confirmed it's now working for him after pulling the latest master.

[2016-02-19 02:25] wing328 commented on #161
@giovannibotta please refer to this PR: https://github.com/swagger-api/swagger-codegen/pull/1980/files on how to add unit test files for a particular language.

I think so far we've done it for C#, PHP and Ruby.

Given that you're working on the Java unit test, I would suggest you to take a look at the C# unit test mustache template as C# and Java are quite similar.

If you've any questions, pleas

[2016-02-19 02:26] wing328 commented on #161
and thanks @jimschubert for bringing this up as I've completely forgotten about this feature request.

[2016-02-19 03:06] #2142 closed

[2016-02-19 06:55] bramley-turner-stride opened #2181 "[Swift] snake_case parameter names are not generated properly"
Running codegen for an API with snake_case parameters doesn't work - the fields are converted to camelCase.

This works correctly for the java client.

eg

[code]

java:

[code]

related: #2084

[code]

[2016-02-19 07:46] carlodonpromillo commented on #2172
I didn't meant the ref itself. I meant the complete property:
"query":{
"$ref":"#/definitions/query",
"description":"some desc",
"x-someString":"value"
}
Why isn't that allowed?

[2016-02-19 07:47] hideya commented on #2157
Thanks @wing328 and @Edubits for getting back to me!  @wing328 yes those are the features of `extension` which realise enhancement of a class separately defined (in this case, `public class CoffeeShopClientAPI` defined in `APIs.swift`). That mechanism is used to introduce a namespace as @Edubits mentioned.

@Edubits I also think that we don't need this extra namespace since the generated code can

[2016-02-19 07:59] wing328 commented on #2141
If you've time, please feel free to submit a PR to improve the package import in Java.

Ref: https://github.com/swagger-api/swagger-codegen/blob/master/CONTRIBUTING.md

[2016-02-19 08:35] cbornet opened #2182 "[Java] Set the json library as a parameter"
Almost all java client implementations can support both Jackson and Gson as json library. So it would be useful to be able to choose the json lib with a parameter.
This would also avoid duplication of the gson model.mustache in all libs that use it.

[2016-02-19 08:41] cbornet opened #2183 "Indicate somewhere the swagger-codegen version that was used"
It would be handy to have the swagger-codegen version that generated the code somewhere. For instance in the READMEs or in a dedicated file.

[2016-02-19 10:20] BugRaptor commented on #2175
I'm not sure to fully understand. Do you mean I should modify my Web API Swagger controller code ?

Here is the current Web API controller code with its Upload() operation:
[code]
Do you suggest I should add a Type argument in the [SwaggerResponse(...)]  attribute of the operation's method in my File Web API controller ?

For example:

`        [SwaggerResponse(HttpStatusCode.Created, "File succes

[2016-02-19 10:31] #2134 closed

[2016-02-19 10:31] wing328 commented on #2134
@highsource PR merged into master. Please pull the latest and give it a try.

[2016-02-19 10:38] highsource commented on #2134
Will do. This one and #2131 were blocking me.

[2016-02-19 11:17] BugRaptor commented on #2175
I just tried to add the type argument in the [SwaggerResponse(...)] attribute of the operation's method:

` [SwaggerResponse(HttpStatusCode.Created, "File successfully uploaded.", typeof(DummyViewModel))] `

And I regenerated the client.

Nevertheless, the generated client's code still remains the same:

`        System.Threading.Tasks.Task<Object> FileUploadAsync (Stream File);`

[2016-02-19 11:55] SurajSundar opened #2185 "[Swift] client library contains an unresolved identifier "ByteArray", while generating the code from Swagger editor"
We have defined an object for a user in the swagger.json file, which is as follows
  User:
    type: object
    properties:
      name:
        type: string
        description: Name of the user
      email:
        type: string
        description: "User's email id"
      favorite_team:
        type: string
        description: Name of favorite team
      **image:
        type: string
        for

[2016-02-19 12:04] #2131 closed

[2016-02-19 12:04] wing328 commented on #2134
Just fixed that too. Please pull the latest.

[2016-02-19 12:27] wing328 commented on #2185
@SurajSundar are you using the latest master to generate the Swift API client?

[2016-02-19 12:29] SurajSundar commented on #2185
Hi @wing328 ,

I'm using the link http://editor.swagger.io/ to generate the client code

Thanks,
Suraj

[2016-02-19 12:33] wing328 commented on #2185
That's using stable release 2.1.5. Please use the latest master instead as there're quite many enhancements to the Swift API client recently.

[2016-02-19 12:36] SurajSundar commented on #2185
Ok. Would try that. Any ETA on when the updates would be available on the link?

Thanks,
Suraj

[2016-02-19 12:40] wing328 commented on #2185
Sorry we don't have ETA at the moment but if you look at our previous release cycle, it usually take 2 to 3 months for another stable release.

[2016-02-19 12:43] SurajSundar commented on #2185
Ok.

Thanks,
Suraj

[2016-02-19 12:46] wing328 commented on #2185
I can confirm in the latest master that `binary` is mapped to `String` so closing this issue for now.

Please reopen if you still encounter the issue using Swift API client generated by the latest codegen.

[2016-02-19 12:46] #2185 closed

[2016-02-19 13:01] SurajSundar commented on #2185
@wing328 can you give me an example of how to run the swagger-codegen command for swift code generation, in terminal?

Thanks,
Suraj

[2016-02-19 13:07] wing328 commented on #2185
A good example is `./bin/swift-petstore.sh`, which contains the command to generate Swift API client for Petstore API.

[2016-02-19 13:39] kasperg commented on #2176
I agree. That would be very useful.

[2016-02-19 14:16] keithchong commented on #102
Hi Tony, will do.  I'm using v2.1.5.

[2016-02-19 14:21] keithchong opened #2186 "Can't generate a java client from a secure (SSL) swagger definition"
See related, #102   I am using v2.1.5.

I tried to configure -Dheader and -a but can't seem to get this to work.

I always get the message:

Server returned HTTP response code: 401 for URL

when I try to generate a java client.

[2016-02-19 15:12] vbash opened #2187 "yml file contains no errors but code generation fails"
yaml file I tried to generate java JAX-RS server from is attached to the defect
[swagger-6 (1).txt](https://github.com/swagger-api/swagger-codegen/files/138170/swagger-6.1.txt)

Steps to reproduce:
1. Open editor.swagger.io
2. Paste the attached swagger yml
3. Try to generate java JAX-RS server

Expected result:
  - server stub is generated

Actual result:
  - an error message shown

[2016-02-19 15:44] webron commented on #2172
@carlodonpromillo because JSON References don't allow *any* additional properties within them. Both `description` and `x-someString` would be ignored by JSON References parsers (following the JSON Parser spec).

[2016-02-19 15:44] webron commented on #2172
Ugh, following the JSON Reference spec.

[2016-02-19 15:56] SolaceMike opened #2189 "readOnly field shouldn't have a set property with Java CodeGen"
If you have a field marked as readOnly in your schema, the Java code generator still renders a set Method. For example:
"uri": {
   "description": "URI of the object",
    "type": "string",
    "readOnly": true
}

And the generator gives me:
@ApiModelProperty(value = "URI of the object")
  @JsonProperty("uri")
  public String getUri() {
    return uri;
  }
  public void setUri(String uri) {
    th

[2016-02-19 16:20] fehguy commented on #2186
Please share the entire command that you're using to generate the client.

[2016-02-19 16:25] Emmurillo commented on #2141
There you go:

![screenshot from 2016-02-19 10 22 52](https://cloud.githubusercontent.com/assets/5572221/13181477/f645f022-d6f2-11e5-954e-085e44d31b93.png)

That's the kind of import that could be improved.

[2016-02-19 20:18] keithchong commented on #2186
I tried various combinations, the difference is just tweaking the options -a and -Dhead:

java -jar C:\swagger\swagger-codegen-cli.jar generate -l java -a "Authorization: Basic {xor}KD4sPjsyNjE=" -t C:\mytemplates\jaxrsClient" -i https://abc.com/wp/swagger.json -o C:\out

java -jar C:\swagger\swagger-codegen-cli.jar generate -l java -a "Authorization: Basic {xor}KD4sPjsyNjE=" -t C:\mytemplates\jax

[2016-02-20 00:27] webron opened #2190 "Generator client/server lists should be alphabetized"
`GET /gen/clients` and `GET /gen/servers` return the list of results in a seemingly random order. For usability, it would help if those responses where alphabetized.